﻿@model ViewModel.ViewModel.Messenger.MessengerModel

<style>
    .chkbox_user_List ul {
        list-style: none;
    }
    .chkbox_user_List {
        height: 160px;
        overflow-y: scroll;
    }
</style>

<div>

    @Html.HiddenFor(m => m.EncUserTypeId, new { @id = "usertypeid" })

    <div class="row top-space-20">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">To:<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                    @Html.DropDownListFor(m => m.MessagePermissionId, Model.AvailableMessagePermisssions, new { @id = "msgpermission", @class = " form-control" })
                </div>
                <div class="col-md-12 top-space-20">
                    @Html.DropDownListFor(m => m.ContacttypeId, Model.AvailableContacttype, new { @id = "contacttype", @class = "form-control clearfield-class" })
                </div>
                <div class="class-div col-md-12 top-space-20">
                    @Html.Label("Class:")
                    @Html.DropDownListFor(m => m.SelectedClassId, Model.AvailableClasses, new { @id = "classes", @class = "clearfield-class form-control" })
                </div>
            </div>
            <div class="row top-space-10">
                <div class="selection-div col-md-12 text-center" style="display:block">

                    @Html.RadioButton("allselection", "", true, new { @class = "allselection clearfield-class" })  &nbsp;
                    @Html.Label("All")
                    &nbsp;
                    @Html.RadioButton("allselection", "", false, new { @class = "allselection clearfield-class" })
                    &nbsp;
                    @Html.Label("Selected")
                </div>
            </div>
            <div class="row top-space-10">
                <div class="users-div col-md-12">

                    @Html.Label("To:", new { @class = "to_users" })
                    <div class="chkbox_user_List">

                    </div>
                    <div class="clearfix"></div>
                    <div class="ddl_user_List ">
                        @Html.DropDownListFor(m => m.UserId, Model.AvailableUsers, new { @id = "users-dropdown", @class = "clearfield-class form-control" })
                    </div>
                </div>
            </div>
            <div class="no_user_available" style="display:none">

            </div>
        </div>
        <div class="col-md-8">
            <div class="well well-sm">
                <div class="row">

                    <div class="col-md-6 ddl_priority">
                        @Html.Label("Priority:")
                        @Html.DropDownListFor(m => m.PriorityId, Model.AvailablePriority, new { @id = "priority-dropdown", @class = " form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Title: <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                        @Html.TextBoxFor(m => m.MessageTitle, new { maxlength = 50, @class = "form-control" })
                    </div>
                </div>


                <div class="row top-space-10">
                    <div class="col-md-12">
                        <label class="control-label">Description: <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                        @Html.TextAreaFor(m => m.MessageDecription, new { @class = "form-control", @style = "resize:none; height:100px;" })
                    </div>
                    <div class="col-md-12 top-space-10">

                        <div class="col-md-6">
                            <input type="button" class="btn btn-success" id="Submit-btn" value="Send">

                            <input type="button" class="btn btn-default" id="Cancelbtn" value="Cancel">
                        </div>
                        <div class="col-md-3" style="">
                            @*<span class="pull-right"> Characters</span>*@ <span id="CharactersCount" class="pull-right">0 Characters</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#Cancelbtn").click(function () {
        window.location.href = '@Html.Raw(Url.Action("List", "Messenger"))';
    })
    $(document).ready(function () {
        $('#MessageDecription').bind('keyup', function (e) {
            $('#CharactersCount').text($(this).val().length + " Characters");

        });

        $('#contacttype').hide();
        $('.users-div').css("display", "none");

        $('.class-div').hide();
        $('.selection-div').hide();
        //send message
        $('#Submit-btn').click(function () {
            // e.preventDefault();
            $(this).attr('disabled', 'disabled')
            
            var MessengerModel = new Object();
            var text = $('input[name=allselection]:checked').next("label").text();
            var permission = $('#msgpermission').val();
            var contacttype = $('#contacttype').val();
            var users = new Array();
            var usersObj = new Object();
            var count = 0;
            $('.no_user_available').css("display", "none");
            $('.chkbox_user_List .clscheckuser').each(function (e) {
                var obj = $(this);
                if (text == "Selected") {
                    if (obj.prop('checked') == true) {
                        count++;
                        usersObj = new Object();
                        usersObj.selecteduserid = obj.attr('data-id');
                        users.push(usersObj);
                    }
                }
                if (text == "All") {
                    count++;
                    usersObj = new Object();
                    usersObj.selecteduserid = obj.attr('data-id');
                    users.push(usersObj);
                }
                if ((permission == 2 && contacttype == 2) || (permission == 2 && contacttype == 3)) {
                    if (obj.prop('checked') == true) {
                        count++;
                        usersObj = new Object();
                        usersObj.selecteduserid = obj.attr('data-id');
                        users.push(usersObj);
                    }
                }
            });
            if (count > 0)
                MessengerModel.SelectedUsersArray = JSON.stringify(users);


            MessengerModel.UserTypeId = $('#UserTypeId').val();
            MessengerModel.MessagePermissionId = $('#msgpermission').val();
            MessengerModel.ContacttypeId = $('#contacttype').val();
            MessengerModel.SelectedClassId = $('#classes').val();
            MessengerModel.UserId = $('#users-dropdown').val();
            MessengerModel.MessageTitle = $('#MessageTitle').val();
            MessengerModel.MessageDecription = $('#MessageDecription').val();
            MessengerModel.PriorityId = $('#priority-dropdown').val();
            MessengerModel.SessionId = $('#SessionId').val();
            // save data
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SendMessage", "Messenger"))',
                data: MessengerModel,
                success: function (result) {

                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);
                        clearfields();
                        $('#ks_loader').hide();
                         $('#Submit-btn').removeAttr('disabled')
                    }
                    else {
                        if (result.msg == "NotValid") {
                            var validationmsg = "";
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                             $('#Submit-btn').removeAttr('disabled')
                        }

                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                     $('#Submit-btn').removeAttr('disabled')
                }
            });
            $('#ks_loader').hide();
        })

        //on changing selection from all to selected and vise versa
        $('.allselection').change(function () {
            var text = $('input[name=allselection]:checked').next("label").text();
            if (text == "Selected") {
                $('.users-div').css("display", "block");
            } else {
                $('.users-div').css("display", "none");
            }
        })
        //on selecting contact type hide show class dropdown
        //$('#contacttype').change(function () {
        //    var permission = $('#msgpermission').val();
        //    var contacttype = $('#contacttype').val();
        //    if ((permission != "1") && (permission = "2" && contacttype != 2) && (permission = "2" && contacttype != 3) && (permission = "2" && contacttype != 5) && (permission = "3" && contacttype != 2) && (permission = "3" && contacttype != 3) && (permission = "3" && contacttype != 5)) {
        //        $('.class-div').show();
        //    } else { $('.class-div').hide(); }
        //})


        //get list of teachers and non-teaching
        $('#contacttype').change(function () {
            $('.selection-div').css("display", "none");
            $('.users-div').css("display", "none");
            $('#ks_loader').show();
            var name = $('#contacttype option:selected').text();
            $('.no_user_available').css("display", "none");
            //alert(name);
            $('.to_users').text(name);
            var permission = $('#msgpermission').val();
            var contacttype = $(this).val();
            var sessionId = $("#sessionId").val();
            var teachersnonteachers = $('.chkbox_user_List');
            teachersnonteachers.empty();
            var userdropdown = $('#users-dropdown');
            userdropdown.empty();
            if ((permission != "1") && (permission = "2" && contacttype != 2) && (permission = "2" && contacttype != 3) && (permission = "2" && contacttype != 5) && (permission = "3" && contacttype != 2) && (permission = "3" && contacttype != 3) && (permission = "3" && contacttype != 5) && (permission = "3" && contacttype != "") && (permission = "3" && contacttype != null)) {

                $('#classes').val('0');
                $('.class-div').show();

            } else { $('.class-div').hide(); }
            var usertypeid = $('#usertypeid').val();
            if ((contacttype == 2 && permission != 1) || (contacttype == 3 && permission != 1)) {
                $('.class-div').hide();
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("teachersnonteachers", "Messenger"))',
                    data: { "contacttypeid": contacttype, "UserTypeId": usertypeid, "SessionId": sessionId },
                    success: function (result) {

                        var permission = $('#msgpermission').val();

                        var text = this.Text;
                        //if permission is Single
                        var count = 0;
                        if (permission == 3) {
                            $.each(result.teachersnonteacherslist, function () {
                                userdropdown.show();
                                count++;
                                userdropdown.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                $('.ddl_user_List').css("display", "block");
                                //usercheckbox.hide();
                                teachersnonteachers.css("display", "block");
                                $('.users-div').css("display", "block");
                                $('.chkbox_user_List').css("display", "none");
                                
                            });
                            if (count < 1) {
                                nouseravailable();
                            }
                        } else {
                            var html = "";
                            html += "<ul>";
                            $.each(result.teachersnonteacherslist, function () {
                                //if permission is "Selected"
                                count++;
                                // teachersnonteachers.append('<div  class="pull-left checkbox" style=" margin-right:10px;"><label><input type="checkbox" class="clscheckuser" data-id="' + this.Value + '">' + this.Text + '</label></div>');
                                html += "<li><input type='checkbox' class='clscheckuser' data-id='" + this.Value + "'>" + this.Text + "</li>";
                                $('.ddl_user_List').css("display", "none");
                                $('.chkbox_user_List').css("display", "block");
                                teachersnonteachers.css("display", "block");
                                $('.users-div').css("display", "block");
                            });
                            html += "</ul>";
                            teachersnonteachers.append(html);

                            if (count < 1)
                                nouseravailable();
                        }

                        $('#ks_loader').hide();
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            } else {

                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("GetClassesAccContactType", "Messenger"))',
                    data: { "contacttypeid": contacttype, "UserTypeId": usertypeid, "sessionId": sessionId },
                    success: function (result) {
                        $("#classes").empty();
                        if (result.ClassesList.length > 0) {
                            $("#classes").append('<option value="">--Select--</option>');
                            $.each(result.ClassesList, function (i) {
                                $("#classes").append('<option value="' + result.ClassesList[i].Value + '">' +
                                                result.ClassesList[i].Text + '</option>');
                            });
                        }
                        $('#ks_loader').hide();
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        });
        var preventSubmit = function (event) {
            if (event.keyCode == 13) {
                //log("caught ya!");
                event.preventDefault();
                // event.stopPropagation();
                return false;
            }
        }
        $('#MessageTitle').keypress(preventSubmit);

        //get contacttype dropdownlist
        $('#msgpermission').change(function () {
            $('.no_user_available').css("display", "none");
            $('#ks_loader').show();
            $('.selection-div').css("display", "none");
            $('.users-div').css("display", "none");
            $('.class-div').hide();
            $('#contacttype').hide();
            $('#users-dropdown').css("display", "block");
            $('.ddl_user_List').css("display", "block");

            //$('#classes').val('0').trigger('change');
            var permission = $(this).val();
            var usertypeid = $('#usertypeid').val();
            if (permission != 0) {
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("Contacttypedropdown", "Messenger"))',
                    data: { "msgpermissionid": permission, "UserTypeId": usertypeid },
                    success: function (result) {
                        // alert(result.contacttypelist[0].Text);
                        $('#contacttype').show();
                        var contacttypes = $('#contacttype');
                        contacttypes.empty();
                        $('#classes').val('0').trigger('change');

                        //$('.allselection').val('0').trigger('change');
                        $('input[name=allselection]').attr('checked', false);
                        $.each(result.contacttypelist, function () {
                            contacttypes.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                        $('#ks_loader').hide();
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            } else {
                $('#contacttype').hide();
                $('#ks_loader').hide();
            }
        });
        if ($('#msgpermission option').length == 2) {
            $("#msgpermission option").each(function () {
                var i = 1;
                if (i = 2) {
                    $("#msgpermission").val($(this).val()).trigger('change');
                    $("#msgpermission").prop('disabled', true);
                }

                i++;
            });
        }

        $("#sessionId").change(function () {
            clearfields();
        });

        //get Studentlist dropdownlist
        $('#classes').change(function () {
            $('#ks_loader').show();
            var Classid = $(this).val();
            //var usertypeid = $('#usertypeid').val();
            var contacttypeid = $('#contacttype').val();
            var contacttypename = $('#contacttype option:selected').text();
            var sessionId = $("#sessionId").val();
            $('.no_user_available').css("display", "none");
            if (contacttypeid && Classid != "" && Classid != null)
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("Studentslist", "Messenger"))',
                    data: { "classid": Classid, "Contacttypeid": contacttypeid, "sessionId": sessionId },
                    success: function (result) {
                        $('#ks_loader').hide();
                        // alert(result.contacttypelist[0].Text);
                        var permission = $('#msgpermission').val();
                        var usercheckbox = $('.chkbox_user_List');
                        var userdropdown = $('#users-dropdown');
                        usercheckbox.empty();
                        userdropdown.empty();

                        var permission = $('#msgpermission').val();
                        $('.selection-div').css("display", "none");
                        $('.users-div').css("display", "none");
                        var count = 0;
                        if (permission == 2) {
                            var html = "";
                            html += "<ul>"
                            $.each(result.userselectlistajax, function () {
                                $('.selection-div').css("display", "block");
                                count++;
                                var text = this.Text;
                                usercheckbox.show();
                                html += "<li><input type='checkbox' class='clscheckuser' data-id='" + this.Value + "'>" + text + "</li>";
                                userdropdown.hide();
                            });
                            html += "</ul>";
                            usercheckbox.append(html);

                            if (count < 1) {
                                nouseravailable();
                                //$('.selection-div').css("display", "none");
                            }
                        }
                        else if (permission == 3) {
                            $.each(result.userselectlistajax, function () {
                                $('.users-div').css("display", "block");
                                count++;
                                userdropdown.show();
                                userdropdown.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                usercheckbox.hide();
                            });
                            if (count < 1) {
                                nouseravailable();
                                //$('.users-div').css("display", "none");
                            }
                        }
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            $('#ks_loader').hide();
        });

    })
    function clearfields() {
        $('.selection-div').css("display", "none");
        if ($('#msgpermission').prop("disabled"))
            $('.clearfield-class').val('0').trigger('change');
        else {
            $('#msgpermission').val('0').trigger('change');

            $('.clearfield-class').val('0').trigger('change');
        }
        $('.class-div').hide();
        $('.users-div').css("display", "none");
        $('#MessageTitle').val("");
        $('#MessageDecription').val("");
        $('#priority-dropdown').val('1').trigger('change');
    }

    //no user
    function nouseravailable() {
        var contacttypename = $('#contacttype option:selected').text();
        $('.no_user_available').css("display", "block");
        //$('.no_user_available').text("No " + contacttypename + " available");
        $('.no_user_available').text("No Recipient Found");
    }



</script>