﻿@model ViewModel.ViewModel.Messenger.MessengerModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<script>
    $(document).ready(function () {
        $("#History-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("MessageHistory", "Messenger"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDataHistory
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                dataBound: onDataBound,
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                //serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
           
            columns: [{
                field: "MessageId",
                title: "Message Id",
                hidden: true
            },{
                field: "SenderId",
                title: "Sender Id",
                hidden: true
            },
            {
                field: "ReceiverId",
                title: "Receiver Id",
                hidden: true
            },{
                field: "SenderName",
                title: "From",
                sortable: true,
                width:200
            },{
                field: "ReceiverName",
                title: "To",
                sortable: true,
                width:200
            },
              {
                  field: "Messagetitle",
                title: "Message Title",
                sortable: true,
               width:400
            },{
                field: "MessageTime",
                title: "Date/Time",
                sortable: true,
                width:200,
                //template: "#= kendo.toString(kendo.parseDate(KendoMessageDatetime, 'yyyy-MM-dd'), 'dd/MM/yyyy hh:mm tt') #"
                //template: '#{##= kendo.toString(kendo.parseDate(KendoMessageDatetime, "yyyy-MM-dd"), "dd/MM/yyyy hh:mm tt") ##}#',
            },
           {
               field: "MessageId",
               title: "Action",
               width:130,
               sortable: false,
               template:' #{#<a href="javascript:void(0)"  id="#=SenderId#" title="View Detail" dataid="#=MessageId#"'
                                                + ' data-toggle="tooltip" data-placement="top"'
                                                + ' class="View_Historymessages btn btn-xs btn-default"><i class="fa fa-eye"></i></a>#}#'
           },

            ]
        });

        var grid = $("#History-grid").data("kendoGrid");

    });
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }


   

    function additionalDataHistory() {
        var data = {
            IOTSelection: "H",
            users: $('#user_textbox').val(),
            MessageTitle:$('#message_text').val(),
            fromdate:GetDateFromString($('#fromdate').val()),
            todate:GetDateFromString($('#todate').val()),
            Recipientid:$('#MsgUserTo').val(),
            SendersId:$('#MsgUserFrom').val(),
            UserFromType:$('#UserTypeFrom').val(),
            UserToType:$('#UserTypeTo').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    
</script>

