﻿@model ViewModel.ViewModel.Messenger.MessengerModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<script>
    $(document).ready(function () {
        $("#inbox-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SelectInboxOutboxTrashMessages", "Messenger"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDatainbox
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                dataBound: onDataBound,
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                //serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            //sortable: {
            //    mode: "multiple",
            //    allowUnsort: false
            //},
            columns: [{
                field : "Select",
                title : "<input type='checkbox' class='AllDelete' />",
                width : "3%",
                sortable: false,
                template: "<input id='#=EncMessageId#' type='checkbox' class='selectedDelete' />"
            },{
                field: "EncSenderId",
                title: "Sender Id",
                hidden: true
            },{
                field: "EncMessageId",
                title: "Message Id",
                hidden: true
            },{
                field: "sendernames",
                title: "From",
                sortable: true,
                    width: 200,
                //template: '#if(IsRead==true){##=sendernames##}#' + '#if(IsRead==false){#<b>#=sendernames#</b>#}#',
                 template: '#if(IsRead==true){#<i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullsendernames#"><font >#=sendernames#</font></i>#}#' + '#if(IsRead==false){#<b><i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullsendernames#"><font >#=sendernames#</font></i></b>#}#',
            }
            ,{
                field: "sendertype",
                title: "User Type",
                sortable: true,
                template: '#if(IsRead==true){##=sendertype##}#' + '#if(IsRead==false){#<b>#=sendertype#</b>#}#',
                width:200
            }
            ,{
                field: "classname",
                title: "Class",
                sortable: true,
                hidden: true,
                width:100
            },{
                field: "MessageTitle",
                title: "Message Title",
                sortable: true,
                //template: '#if(IsRead==true){##=MessageTitle##}#' + '#if(IsRead==false){#<b>#=MessageTitle#</b>#}#',
                template: '#if(IsRead==true){##if(fullMessageTitle==null){ ##=MessageTitle##}#' + '#if(fullMessageTitle!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullMessageTitle#"><font >#=MessageTitle#</font></i>#}##}#' + '#if(IsRead==false){#<b>#if(fullMessageTitle==null){ ##=MessageTitle##}#' + '#if(fullMessageTitle!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullMessageTitle#"><font >#=MessageTitle#</font></i>#}#</b>#}#',
                width:400
            },{
                field: "KendoMessageDatetime",
                title: "Date/Time",
                sortable: true,
                width:200,
                //template: "#= kendo.toString(kendo.parseDate(KendoMessageDatetime, 'yyyy-MM-dd'), 'dd/MM/yyyy hh:mm tt') #"
                template: '#if(IsRead==true){##= kendo.toString(kendo.parseDate(KendoMessageDatetime, "yyyy-MM-dd"), "dd/MM/yyyy hh:mm tt") ##}#' + '#if(IsRead==false){#<b>#= kendo.toString(kendo.parseDate(KendoMessageDatetime, "yyyy-MM-dd"), "dd/MM/yyyy hh:mm tt") #</b>#}#',
            },
            @if (Model.IsAuthToViewMessage || Model.IsAuthToDeleteMessage || Model.IsAuthToReplyMessage)
            {
                <text>
                {
                    field: "EncMessageId",
                    title: "Action",
                    width:130,
                    sortable: false,
                    template:
                        @if (Model.IsAuthToViewMessage)
                        {
                            <text>
                            '<a class="View_messages btn btn-xs btn-default" ref="inbox" id="#=EncMessageId#" title="View" data-toggle="tooltip" data-placement="top" style=" cursor:pointer"><i class="fa fa-eye " aria-hidden="true"></i></a>'
                            </text>
                        }

                        @if (Model.IsAuthToReplyMessage)
                        {
                            <text>
                            +'#if(CanReply){# <a class="reply_message_kendo btn btn-xs btn-default" title="Reply"  data-placement="top" id="#=EncSenderId#" refid="#=EncMessageId#" name="#=fullsendernames#" style="cursor:pointer" onclick="location.href=" @Url.Action("SendMessage", "Messenger")""><i class="fa fa-reply" aria-hidden="true"></i></a>#}#'
                    </text>
                        }
                         @if (Model.IsAuthToDeleteMessage)
                        {
                            <text>
                            +'#{# <a title="Move To Trash" ref="inbox" data-toggle="tooltip" data-placement="top" id="#=EncMessageId#" class="k-grid-inbox-myDelete btn btn-xs btn-default" style=" cursor:pointer" ><i class="fa fa-trash"></i></a>#}#'
                                    </text>
                        }
                },
                </text>
            }
            {
                field: "fullMessageTitle",
                sortable: false,
                hidden: true
            }]
        });

        var grid = $("#inbox-grid").data("kendoGrid");

    });
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    $("#inbox-grid").on("click", ".k-grid-inbox-myDelete", function (e) {
        e.preventDefault();
        var id = $(this).prop("id");
        $('.tooltip').hide();
        var command = $(this);
        var cell = command.closest("td");

        command.remove();
        cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" ref="inbox" href=""><i class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').prop("id", id);
    });

    $("#inbox-grid").on("click", ".k-grid-myCancel", function (e) {
        e.preventDefault();
        var id = $('.k-grid-myConfirm').prop("id");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        $('.k-grid-myConfirm').remove();
        cell.append('<a class="k-grid-inbox-myDelete btn btn-xs btn-default" href=""><i class="fa fa-trash"></i></a>');
        $('.k-grid-inbox-myDelete').prop("id", id);
    })
    //delete ajax method
    $("#inbox-grid").on("click", ".k-grid-myConfirm", function (e) {
        e.preventDefault();
        $('#ks_loader').show();


        var id = $(this).attr("id");
        //alert(id);
        var ref = $(this).attr("ref");
        // var ref = $(this).prev('a').prev(".View_messages").attr("ref");

        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("DeleteMessages", "Messenger"))',
            data: { "id": id, "refvalue": ref },
            success: function (result) {

                if (result.status == "success") {
                    $('#MesagesReply_div').hide();
                    ToastMessage(result.msg, "success", true, 5000);
                    //clearreplyfields();

                    var grid = $('#inbox-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    var grid = $('#trash-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                    //return false;
                    // window.location.reload();

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }
                //$('#Senders-Div').append(result.messagelist.sendernames)
                //if (result.messagelist.classname != "NA")
                //    $('#Class-Div').append(result.messagelist.classname)
                //else
                //    $('#class_label').hide();
                //$('#Message-Div').append(result.messagelist.MessageDescription)
                //$('#DateTime-Div').append(result.messagelist.MessageDatetime)
                //$('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })
    $(".View_messages").click(function(){
        var messageId=parseInt($(this).parent().parent().find('td:nth-child(3)').text());
        if(messageId>0){
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("MakeViewedMessageEntry", "Messenger"))',
                data: { "messageId": messageId},
                success: function (result) {
                    if (result.status == "success") {

                    }
                    else {

                    }
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                }
            });
        }
    })

    function additionalDatainbox() {
        var data = {
            IOTSelection: "I",
            users: $('#user_textbox').val(),
            MessageTitle:$('#message_text').val(),
            fromdate:GetDateFromString($('#fromdate').val()),
            todate:GetDateFromString($('#todate').val()),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    //$(document).ready(function () {
    //    //search button
    //    $('.search-categories').click(function () {
    //        //search
    //        var grid = $('#inbox-grid').data('kendoGrid');
    //        grid.dataSource.page(1); //new search. Set page size to 1
    //        //grid.dataSource.read(); we already loaded the grid above using "page" function
    //        return false;
    //    });
    //});


</script>