﻿@model ViewModel.ViewModel.Messenger.MessengerModel

<div class="row col-md-12">

    @*@Html.Label("To:", new { @id = "to_label" })
    @Html.Label("From:", new { @id = "from_label" })
    @Html.Label("To/From:", new { @id = "to_from_label" })
    <div id="Senders-Div">

    </div>*@
    <div class=" col-md-12">
        @Html.Label("Class:", new { @id = "class_label" })
        <div id="Class-Div">
        </div>
    </div>
    <div class="col-md-12">
        @*@Html.Label("Message:")*@
        @Html.Label("Title:")
        <div id="Messagetitle-Div">
        </div>
    </div>
    <div class="col-md-12">
        @Html.Label("Description:")
        <div id="Message-Div">
        </div>
    </div>
    
        @*@Html.Label("Date/Time:")
            <div id="DateTime-Div">
            </div>*@
    </div>

