﻿@model ViewModel.ViewModel.Messenger.MessengerModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<script>
    $(document).ready(function () {
        $("#outbox-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SelectInboxOutboxTrashMessages", "Messenger"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDataoutbox
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound2,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            //sortable: {
            //    mode: "multiple",
            //    allowUnsort: false
            //},
            columns: [{
                field : "Select",
                title : "<input type='checkbox' class='AllDelete' />",
                width : "3%",
                sortable: false,
                template: "<input id='#=EncMessageId#' type='checkbox' class='selectedDelete' />"
            },{
                field: "EncMessageId",
                title: "Message Id",
                sortable: true,
                hidden: true
            },
            {
                field: "currentusername",
                title: "To",
               // template: '#if(fullcurrentusername==null){ ##=currentusername##}#' + '#if(fullcurrentusername!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullcurrentusername#"><font >#=currentusername#</font></i>#}#',
                sortable: true,
                //template: '#if(IsRead==true){##if(fullcurrentusername==null){ ##=currentusername##}#' + '#if(fullcurrentusername!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullcurrentusername#"><font >#=currentusername#</font></i>#}##}#' + '#if(IsRead==false){#<b>#if(fullcurrentusername==null){ ##=currentusername##}#' + '#if(fullcurrentusername!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullcurrentusername#"><font >#=currentusername#</font></i>#}#</b>#}#',
                width:200
            }, {
                field: "classname",
                title: "Class",
                hidden: true,
                sortable: true,
                width:100
            }, {
                field: "MessageTitle",
                title: "Message Title",
               // template: '#if(fullMessageTitle==null){ ##=MessageTitle##}#' + '#if(fullMessageTitle!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullMessageTitle#"><font >#=MessageTitle#</font></i>#}#',
                sortable: true,
               // template: '#if(IsRead==true){##if(fullMessageTitle==null){ ##=MessageTitle##}#' + '#if(fullMessageTitle!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullMessageTitle#"><font >#=MessageTitle#</font></i>#}##}#' + '#if(IsRead==false){#<b>#if(fullMessageTitle==null){ ##=MessageTitle##}#' + '#if(fullMessageTitle!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullMessageTitle#"><font >#=MessageTitle#</font></i>#}#</b>#}#',
                width:400
            },{
                field: "KendoMessageDatetime",
                title: "Date/Time",
                sortable: true,
                width:200,
                template: "#= kendo.toString(kendo.parseDate(KendoMessageDatetime, 'yyyy-MM-dd'), 'dd/MM/yyyy hh:mm tt') #"
               // template: '#if(IsRead==true){##= kendo.toString(kendo.parseDate(KendoMessageDatetime, "yyyy-MM-dd"), "dd/MM/yyyy hh:mm tt") ##}#' + '#if(IsRead==false){#<b>#= kendo.toString(kendo.parseDate(KendoMessageDatetime, "yyyy-MM-dd"), "dd/MM/yyyy hh:mm tt") #</b>#}#',
            },
              @if (Model.IsAuthToViewMessage || Model.IsAuthToDeleteMessage) {
                              <text>
                        {
                            field: "EncMessageId",
                            title: "Action",
                            width:100,
                            sortable: false,
                            template:
                                 @if (Model.IsAuthToViewMessage){
                                       <text>
                                '<a class="View_messages btn btn-xs btn-default"  ref="outbox" id="#=EncMessageId#" title="View" data-toggle="tooltip" data-placement="top"  cursor:pointer"><i class="fa fa-eye " aria-hidden="true"></i></a>'
                             </text>}
                                     @if (Model.IsAuthToDeleteMessage)
                                      {
                                       <text>
                            +'#{# <a title="Move To Trash" ref="outbox" data-toggle="tooltip" data-placement="top" id="#=EncMessageId#" class="k-grid-myDelete btn btn-xs btn-default" cursor:pointer""><i  class="fa fa-trash"></i></a>#}#'
                            </text>}

                        } </text>}]
        });
        var grid = $("#outbox-grid").data("kendoGrid");

    });
    function onDataBound2(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    $("#outbox-grid").on("click", ".k-grid-myDelete", function (e) {
        e.preventDefault();
        var id = $(this).prop("id");
        $('.tooltip').hide();
        var command = $(this);
        var cell = command.closest("td");

        command.remove();
        cell.append('<a ref="outbox" class=" k-grid-myConfirm btn btn-xs btn-default" href=""><i  class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').attr("id", id);
    });

    $("#outbox-grid").on("click", ".k-grid-myCancel", function (e) {
        e.preventDefault();
        var id = $('.k-grid-myConfirm').prop("id");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        $('.k-grid-myConfirm').remove();
        cell.append('<a class="k-grid-myDelete btn btn-xs btn-default" href=""><i class="fa fa-trash"></i></a>');
        $('.k-grid-myDelete').prop("id", id);
    })

    //delete ajax method
    $("#outbox-grid").on("click", ".k-grid-myConfirm", function (e) {
        e.preventDefault();
        $('#ks_loader').show();

        var id = $(this).attr("id");
        //alert(id);
        var ref = $(this).attr("ref");

        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("DeleteMessages", "Messenger"))',
            data: { "id": id, "refvalue": ref },
            success: function (result) {

                if (result.status == "success") {
                    $('#MesagesReply_div').hide();
                    ToastMessage(result.msg, "success", true, 5000);
                    //clearreplyfields();
                    var grid = $('#outbox-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    var grid = $('#trash-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                    //return false;
                    // window.location.reload();

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }
                //$('#Senders-Div').append(result.messagelist.sendernames)
                //if (result.messagelist.classname != "NA")
                //    $('#Class-Div').append(result.messagelist.classname)
                //else
                //    $('#class_label').hide();
                //$('#Message-Div').append(result.messagelist.MessageDescription)
                //$('#DateTime-Div').append(result.messagelist.MessageDatetime)
                //$('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })
    function additionalDataoutbox() {
        var data = {
            IOTSelection: "O",
            users: $('#user_textbox').val(),
            MessageTitle:$('#message_text').val(),
            fromdate:GetDateFromString($('#fromdate').val()),
            todate:GetDateFromString($('#todate').val()),
        };  
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    //$(document).ready(function () {
    //    //search button
    //    $('.search-categories').click(function () {
    //        //search
    //        var grid = $('#outbox-grid').data('kendoGrid');
    //        grid.dataSource.page(1); //new search. Set page size to 1
    //        //grid.dataSource.read(); we already loaded the grid above using "page" function
    //        return false;
    //    });
    //});
    
</script>
