﻿@model ViewModel.ViewModel.Messenger.MessengerModel

<div id="senderid_reply" hidden></div>
<div id="Message_refid_reply" hidden></div>

<div class="row top-space-10">
    <div class="col-md-2">
        <label class="" style="float: right;font-weight: 100">To:</label>
    </div>
    <div class="col-md-8" id="Senders-reply-Div">
    </div>
</div>

<div class="row top-space-10">
    <div class="col-md-2">
        <label class="" style="float: right;font-weight: 100">Title:</label>
    </div>
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.MessageTitle, new { @class = "form-control" })
    </div>
</div>

<div class="row top-space-10">
    <div class="col-md-2">
        <label class="" style="float: right;font-weight: 100">Description:</label>
    </div>
    <div class="col-md-8">
        @Html.TextAreaFor(m => m.MessageDecription, 5, 5, new { @class = "form-control", @style = "resend-butn-customsize: none" })
    </div>
</div>

<div class="row top-space-10">
    <div class="col-md-2"></div>
    <div class="col-md-8">
       
            <input type="button" class="btn btn-success" id="Submit-reply-btn" value="Send">
        
        <button type="button" name="save" class="btn btn-default" id="close_reply_div">
            Cancel
        </button>
    </div>
</div>


