﻿@model ViewModel.ViewModel.Messenger.MessengerModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<input type="text" id="TrashMessageArray" hidden />
<script>
    $(document).ready(function () {
        $("#trash-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SelectInboxOutboxTrashMessages", "Messenger"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDatatrash
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound3,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            //sortable: {
            //    mode: "multiple",
            //    allowUnsort: false
            //},
            columns: [{
                field : "Select",
                title : "<input type='checkbox' class='AllDelete' />",
                width : "3%",
                sortable: false,
                template: "<input id='#=EncMessageId#' type='checkbox' class='selectedDelete' />"
            },{
                field: "EncMessageId",
                title: "Message Id",
                hidden: true
            },
            {
                field: "sendernames",
                title: "From",
                sortable: true,
                template: '#if(IsRead==true){##=sendernames##}#' + '#if(IsRead==false){#<b>#=sendernames#</b>#}#',
                width:200
            },
            {
                field: "currentusername",
                title: "To",
                sortable: true,
                // template: '#if(IsRead==true){##=currentusername##}#' + '#if(IsRead==false){#<b>#=currentusername#</b>#}#',
                template: '#if(IsRead==true){##if(fullcurrentusername==null){ ##=currentusername##}#' + '#if(fullcurrentusername!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullcurrentusername#"><font >#=currentusername#</font></i>#}##}#' + '#if(IsRead==false){#<b>#if(fullcurrentusername==null){ ##=currentusername##}#' + '#if(fullcurrentusername!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullcurrentusername#"><font >#=currentusername#</font></i>#}#</b>#}#',
                width:200
            },
            {
                field: "classname",
                title: "Class",
                hidden:true,
                width:100
            }, {
                field: "MessageTitle",
                title: "Message Title",
                sortable: true,
                //template: '#if(IsRead==true){##=MessageTitle##}#' + '#if(IsRead==false){#<b>#=MessageTitle#</b>#}#',
                template: '#if(IsRead==true){##if(fullMessageTitle==null){ ##=MessageTitle##}#' + '#if(fullMessageTitle!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullMessageTitle#"><font >#=MessageTitle#</font></i>#}##}#' + '#if(IsRead==false){#<b>#if(fullMessageTitle==null){ ##=MessageTitle##}#' + '#if(fullMessageTitle!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullMessageTitle#"><font >#=MessageTitle#</font></i>#}#</b>#}#',
                width:400
            },{
                field: "KendoMessageDatetime",
                title: "Date/Time",
                width:210,
                sortable: true,
                // template: "#= kendo.toString(kendo.parseDate(KendoMessageDatetime, 'yyyy-MM-dd'), 'dd/MM/yyyy hh:mm tt') #"
                template: '#if(IsRead==true){##= kendo.toString(kendo.parseDate(KendoMessageDatetime, "yyyy-MM-dd"), "dd/MM/yyyy hh:mm tt") ##}#' + '#if(IsRead==false){#<b>#= kendo.toString(kendo.parseDate(KendoMessageDatetime, "yyyy-MM-dd"), "dd/MM/yyyy hh:mm tt") #</b>#}#',
            },  @if (Model.IsAuthToViewMessage || Model.IsAuthToDeleteMessage || Model.IsAuthToUndoDeleteMessage)
                {
                              <text>{
                field: "EncMessageId",
                title: "Action",
                width:140,
                sortable: false,
                template:
                     @if (Model.IsAuthToViewMessage){
                                       <text>
                    '<a class="View_messages btn btn-xs btn-default" ref="trash" id="#=EncMessageId#" title="View" data-toggle="tooltip" data-placement="top" cursor:pointer"><i class="fa fa-eye " aria-hidden="true"></i></a>'
                    </text>}
                            @if (Model.IsAuthToDeleteMessage)
                                      {
                                       <text>
                   +'#{# <a title="Delete" ref="trash" data-toggle="tooltip" data-placement="top" id="#=EncMessageId#" class=" k-grid-trash-myDelete btn btn-xs btn-default"id="#=EncMessageId#" cursor:pointer""><i class="fa fa-trash"></i></a>#}#'
                    </text>}
                     @*@if (Model.IsAuthToUndoDeleteMessage)
                                      {
                                       <text>*@
                    +'#{# <a title="Undo Deleted" data-toggle="tooltip" data-placement="top" id="#=EncMessageId#" class="btn btn-xs btn-default k-grid-trash-UndoDelete"  cursor:pointer" ><i class="fa fa-undo" aria-hidden="true"></i></a>#}#'
                @*</text>}*@
            }</text>}]
        });

        var grid = $("#trash-grid").data("kendoGrid");

    });

    $("#trash-grid").on("click", ".k-grid-trash-myDelete", function (e) {
        e.preventDefault();
        var id = $(this).prop("id");
        $('.tooltip').hide();
        var command = $(this);
        var cell = command.closest("td");

        command.remove();
        cell.append('<a ref="trash" data-toggle="tooltip" class=" k-grid-myConfirm btn btn-xs btn-default" ><i class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" data-toggle="tooltip" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').prop("id", id);
    });

    $("#trash-grid").on("click", ".k-grid-myCancel", function (e) {
        e.preventDefault();
        var id = $('.k-grid-myConfirm').prop("id");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        $('.k-grid-myConfirm').remove();

        cell.append('<a class="k-grid-trash-myDelete  btn btn-xs btn-default" data-toggle="tooltip" href=""><i class="fa fa-trash"></i></a>');
        $('.k-grid-trash-myDelete').prop("id", id);

    })
    function onDataBound3(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    //delete multiple ajax method
    $(".mark-read").click(function (e) {
        e.preventDefault();
        $('#ks_loader').show();
        $(this).hide();
        $('#Delete_multiple').hide();
        $('.mark-read').hide();
        var MessengerModel = new Object();
        // days
        var MessageModel = new Array();
        var message = new Object();
        var count = 0;
        var ref = $(this).attr("ref");
        if(ref=='trash'){
            var grid = $("#trash-grid").data("kendoGrid");
            $("#trash-grid").find("input:checked").each(function(){
                count++;
                message = new Object();
                if($(this).attr("id")!=null){
                    message.EncMessageId = $(this).attr("id");
                    MessageModel.push(message);}
            })
        }else if(ref=='outbox'){
            var grid = $("#outbox-grid").data("kendoGrid");
            $("#outbox-grid").find("input:checked").each(function(){
                count++;
                message = new Object();
                if($(this).attr("id")!=null){
                    message.EncMessageId = $(this).attr("id");
                    MessageModel.push(message);}
            })
        }else if(ref=='inbox'){
            var grid = $("#inbox-grid").data("kendoGrid");
            $("#inbox-grid").find("input:checked").each(function(){
                count++;
                message = new Object();
                if($(this).attr("id")!=null){
                    message.EncMessageId = $(this).attr("id");
                    MessageModel.push(message);}
            })
        }
        if (count > 0)
            $('#TrashMessageArray').val(JSON.stringify(MessageModel));

        MessengerModel.MessageIdArray = $('#TrashMessageArray').val();


        var ReadorUnread=$(this).attr("id");
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("MarkReadorUnreadMessages", "Messenger"))',
            data: { "MessengerModel": MessengerModel,"refRorUNR": ReadorUnread},
            success: function (result) {

                if (result.status == "success") {
                    $('#MesagesReply_div').hide();
                    ToastMessage(result.msg, "success", true, 5000);
                    //clearreplyfields();
                    var grid = $('#trash-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    var grid = $('#inbox-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    var grid = $('#outbox-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                    //return false;
                    // window.location.reload();
                    $('.AllDelete').prop("checked",false);
                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }
                //$('#Senders-Div').append(result.messagelist.sendernames)
                //if (result.messagelist.classname != "NA")
                //    $('#Class-Div').append(result.messagelist.classname)
                //else
                //    $('#class_label').hide();
                //$('#Message-Div').append(result.messagelist.MessageDescription)
                //$('#DateTime-Div').append(result.messagelist.MessageDatetime)
                //$('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })



    //delete multiple ajax method
    $("#Delete_multiple").click(function (e) {
        e.preventDefault();
        $('#ks_loader').show();
        $(this).hide();
        $('.AllDelete').prop("checked",false);
        $('.mark-read').hide();
        var MessengerModel = new Object();
        // days
        var MessageModel = new Array();
        var message = new Object();
        var count = 0;
        var ref = $(this).attr("ref");
        if(ref=='trash'){
            var grid = $("#trash-grid").data("kendoGrid");
            $("#trash-grid").find("input:checked").each(function(){
                count++;
                message = new Object();
                message.EncMessageId = $(this).attr("id");
                if(message.EncMessageId!=null){
                    MessageModel.push(message);}
            })
        }else if(ref=='outbox'){
            var grid = $("#outbox-grid").data("kendoGrid");
            $("#outbox-grid").find("input:checked").each(function(){
                count++;
                message = new Object();
                message.EncMessageId = $(this).attr("id");
                if(message.EncMessageId!=null){
                    MessageModel.push(message);}
            })
        }else if(ref=='inbox'){
            var grid = $("#inbox-grid").data("kendoGrid");
            $("#inbox-grid").find("input:checked").each(function(){
                count++;
                message = new Object();
                message.EncMessageId = $(this).attr("id");
                if(message.EncMessageId!=null){
                    MessageModel.push(message);}
            })
        }
        if (count > 0)
            $('#TrashMessageArray').val(JSON.stringify(MessageModel));

        MessengerModel.MessageIdArray = $('#TrashMessageArray').val();



        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("DeleteMultipleMessages", "Messenger"))',
            data: { "MessengerModel": MessengerModel, "refvalue": ref },
            success: function (result) {

                if (result.status == "success") {
                    $('#MesagesReply_div').hide();
                    ToastMessage(result.msg, "success", true, 5000);
                    //clearreplyfields();
                    var grid = $('#trash-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    var grid = $('#inbox-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    var grid = $('#outbox-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                    //return false;
                    // window.location.reload();

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }
                //$('#Senders-Div').append(result.messagelist.sendernames)
                //if (result.messagelist.classname != "NA")
                //    $('#Class-Div').append(result.messagelist.classname)
                //else
                //    $('#class_label').hide();
                //$('#Message-Div').append(result.messagelist.MessageDescription)
                //$('#DateTime-Div').append(result.messagelist.MessageDatetime)
                //$('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    //Undo delete ajax method
    $("#trash-grid").on("click", ".k-grid-trash-UndoDelete", function (e) {
        e.preventDefault();
        $('#ks_loader').show();
        var id = $(this).attr("id");
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("UndoDeleteMessages", "Messenger"))',
            data: { "id": id},
            success: function (result) {

                if (result.status == "success") {
                    $('#MesagesReply_div').hide();
                    ToastMessage(result.msg, "success", true, 5000);
                    //clearreplyfields();
                    var grid = $('#trash-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    var grid = $('#inbox-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    var grid = $('#outbox-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                    //return false;
                    // window.location.reload();

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }
                //$('#Senders-Div').append(result.messagelist.sendernames)
                //if (result.messagelist.classname != "NA")
                //    $('#Class-Div').append(result.messagelist.classname)
                //else
                //    $('#class_label').hide();
                //$('#Message-Div').append(result.messagelist.MessageDescription)
                //$('#DateTime-Div').append(result.messagelist.MessageDatetime)
                //$('#ks_loader').hide();
            },
            error: function () {
                ToastMessage(validationaray[i], "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    //delete ajax method
    $("#trash-grid").on("click", ".k-grid-myConfirm", function (e) {
        e.preventDefault();
        $('#ks_loader').show();

        var id = $(this).attr("id");

        var ref = $(this).attr("ref");
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("DeleteMessages", "Messenger"))',
            data: { "id": id, "refvalue": ref },
            success: function (result) {

                if (result.status == "success") {
                    $('#MesagesReply_div').hide();
                    ToastMessage(result.msg, "success", true, 5000);
                    //clearreplyfields();
                    var grid = $('#trash-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    var grid = $('#inbox-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    var grid = $('#outbox-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                    //return false;
                    // window.location.reload();

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }
                //$('#Senders-Div').append(result.messagelist.sendernames)
                //if (result.messagelist.classname != "NA")
                //    $('#Class-Div').append(result.messagelist.classname)
                //else
                //    $('#class_label').hide();
                //$('#Message-Div').append(result.messagelist.MessageDescription)
                //$('#DateTime-Div').append(result.messagelist.MessageDatetime)
                //$('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })
    function additionalDatatrash() {
        var data = {
            IOTSelection: "T",
            Inactive:true,
            users: $('#user_textbox').val(),
            MessageTitle:$('#message_text').val(),
            fromdate:GetDateFromString($('#fromdate').val()),
            todate:GetDateFromString($('#todate').val()),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    $(document).ready(function () {
        //search button
        $('.search-categories').click(function () {
            //search
            var Tableid =$(this).attr('data-id');
            resetkendo(Tableid);
            //var grid = $('#'+tableid).data('kendoGrid');
            //grid.dataSource.page(1); //new search. Set page size to 1
            ////grid.dataSource.read(); we already loaded the grid above using "page" function
            //return false;
        });
        $('#Reset-Filters').click(function () {
            $('#user_textbox').val("");
            $('#message_text').val("");
            $('.KendoDatepicker').val("");
            if($('#history').attr('aria-expanded')=="true")
            {
                $('.dvclsfrom').css('display', 'block');
            }
            $('.dvclsto').css('display', 'none');
            $('#MsgUserFrom').html('');
            $('#MsgUserTo').html('');
            $('#rdFrom').trigger('click');
            $('#UserTypeFrom').val('');
            $('#UserTypeTo').val('');
            $('.dvclsfrom').removeClass('col-md-2');
            $('.dvclsfrom').removeClass('col-md-4');
            $('.dvclsfrom').addClass('col-md-2');
            $('#dvFromUsertype').removeClass('col-md-12')
            $('#dvFromUsertype').removeClass('col-md-6')
            $('#dvFromUsertype').addClass('col-md-12')
            $('#dvFrom').remove();
            $('.dvclsto').removeClass('col-md-2');
            $('.dvclsto').removeClass('col-md-4');
            $('.dvclsto').addClass('col-md-2');
            $('#dvToUsertype').removeClass('col-md-12')
            $('#dvToUsertype').removeClass('col-md-6')
            $('#dvToUsertype').addClass('col-md-12')
            $('#dvTo').remove();
            var Tableid =$(this).attr('data-id');
            resetkendo(Tableid);
        });

    });


    $('#inbox').click(function(){
        $('.fixed-filter-div').removeClass('col-md-12');
        $('.dvclsfrom').css('display', 'none');
        $('.dvclsto').css('display', 'none');
        $('.history_div_case').removeClass('top-space-10');
        $('#dvFromTo').hide();
        $('.sent').show();
        $('.recieved').hide();
        $('.sent_recieved').hide();
        $('#user_textbox').show();
        $('#user_textbox').val("");
        $('#message_text').val("");
        $('#fromdate').val("");
        $('#todate').val("");
        $('.to_label').hide();
        $('.from_label').show();
        $('.lbCls').hide();
        $('#rdFrom').hide();
        $('#rdTo').hide();
        $('#rdFrom_To').hide();

        $('#Delete_multiple').attr('ref','inbox');
        $('.mark-read').attr('ref','inbox');
        $('#Delete_multiple').hide();
        var Tableid="inbox-grid";

        $('.search-categories,#Reset-Filters').attr('data-id',Tableid)
        resetkendo(Tableid);

        //place it below only
        $('#Delete_multiple').hide();
        $('.mark-read').hide();
        //place it below only
    })
    $('#outbox').click(function(){
        $('.fixed-filter-div').removeClass('col-md-12');
        $('.dvclsfrom').css('display', 'none');
        $('.dvclsto').css('display', 'none');
        $('.history_div_case').removeClass('top-space-10');
        $('#dvFromTo').hide();
        $('.sent').hide();
        $('.recieved').show();
        $('.sent_recieved').hide();
        $('#user_textbox').val("");
        $('#user_textbox').show();
        $('#message_text').val("");
        $('#fromdate').val("");
        $('#todate').val("");
        $('.to_label').show();
        $('.from_label').hide();
        $('.lbCls').hide();
        $('#rdFrom').hide();
        $('#rdTo').hide();
        $('#rdFrom_To').hide();

        $('#Delete_multiple').attr('ref','outbox');
        $('.mark-read').attr('ref','outbox');

        $('#Delete_multiple').hide();
        var Tableid="outbox-grid";

        $('.search-categories,#Reset-Filters').attr('data-id',Tableid);
        resetkendo(Tableid);

        //place it below only
        $('#Delete_multiple').hide();
        $('.mark-read').hide();
        //place it below only
    })
    $('#trash').click(function(){
        $('.fixed-filter-div').removeClass('col-md-12');
        $('.dvclsfrom').css('display', 'none');
        $('.dvclsto').css('display', 'none');
        $('.history_div_case').removeClass('top-space-10');
        $('#dvFromTo').hide();
        $('.sent').hide();
        $('.recieved').hide();
        $('.sent_recieved').show();
        $('#user_textbox').val("");
        $('#user_textbox').show();
        $('#message_text').val("");
        $('#fromdate').val("");
        $('#todate').val("");
        $('.to_label').show();
        $('.from_label').show();
        $('.lbCls').hide();
        $('#rdFrom').hide();
        $('#rdTo').hide();
        $('#rdFrom_To').hide();

        $('#Delete_multiple').attr('ref','trash');
        $('.mark-read').attr('ref','trash');
        $('#Delete_multiple').hide();
        var Tableid="trash-grid";

        $('.search-categories,#Reset-Filters').attr('data-id',Tableid);
        resetkendo(Tableid);

        //place it below only
        $('#Delete_multiple').hide();
        $('.mark-read').hide();
        //place it below only
    })


    //show delete button on any click
    $("#trash-grid").on("click", ".selectedDelete", function (e) {
        //e.preventDefault();
        var row= $(this).parent().parent();
        var Tableid="trash-grid";
        DeleteButton(Tableid,false);
    })

    //show delete button on any click
    $("#outbox-grid").on("click", ".selectedDelete", function (e) {
        //e.preventDefault();
        var row= $(this).parent().parent();
        var Tableid="outbox-grid";
        DeleteButton(Tableid,false);
    })

    //show delete button on any click
    $("#inbox-grid").on("click", ".selectedDelete", function (e) {
        //e.preventDefault();
        var row= $(this).parent().parent();
        var Tableid="inbox-grid";
        DeleteButton(Tableid,true);
    })

    //show delete button on any click
    $("#trash-grid").on("click", ".AllDelete", function (e) {
        //e.preventDefault();
        var row= $(this).parent().parent();
        var Tableid="trash-grid";
        DeleteALLButton(Tableid,false);
    })

    //show delete button on any click
    $("#outbox-grid").on("click", ".AllDelete", function (e) {
        //e.preventDefault();
        var row= $(this).parent().parent();
        var Tableid="outbox-grid";
        DeleteALLButton(Tableid,false);
    })

    //show delete button on any click
    $("#inbox-grid").on("click", ".AllDelete", function (e) {
        //e.preventDefault();
        var row= $(this).parent().parent();
        var Tableid="inbox-grid";
        DeleteALLButton(Tableid,true);
    })



    function DeleteButton(Tableid,selection){
        var NoneSelected=0;
        $('#'+Tableid+' tbody tr').each(function () {
            var row= $(this);
            if(row.find(".selectedDelete").prop("checked") == true){
                //alert("no one selected")
                NoneSelected++;
            }
        })
        if(NoneSelected>0){
            $('#Delete_multiple').show();
            if(selection==true){
                $('.mark-read').show();}
        }else{
            $('#Delete_multiple').hide();
            if(selection==true){
                $('.mark-read').hide();
            }
        }
    }

    function DeleteALLButton(Tableid,selection){
        var ableid=Tableid;
        $('#'+ableid+' thead tr th .AllDelete').each(function () {
            var theadrow=$(this);
            if(theadrow.prop("checked") == true){
                $('#'+ableid+' tbody tr').find(".selectedDelete").prop("checked",true);
            }else{
                $('#'+ableid+' tbody tr').find(".selectedDelete").prop("checked",false);
            }

            //$('#'+ableid+' tbody tr').each(function () {
            //    var row= $(this);
            //    if(row.find(".selectedDelete").prop("checked") == true){
            //        //alert("no one selected")
            //        row.find(".selectedDelete").prop("checked",false);
            //    }else{
            //        row.find(".selectedDelete").prop("checked",true);
            //    }
            //})
        })
        var NoneSelected=0;
        $('#'+ableid+' tbody tr').each(function () {
            var row= $(this);
            if(row.find(".selectedDelete").prop("checked") == true){
                //alert("no one selected")
                NoneSelected++;
            }
        })
        if(NoneSelected>0){
            $('#Delete_multiple').show();
            if(selection==true){
                $('.mark-read').show();
            }
        }else{
            $('#Delete_multiple').hide();
            if(selection==true){
                $('.mark-read').hide();
            }
        }
    }


    function resetkendo(tableid){
        $('#inbox-grid thead tr th .AllDelete').prop("checked",false);
        $('#outbox-grid thead tr th .AllDelete').prop("checked",false);
        $('#trash-grid thead tr th .AllDelete').prop("checked",false);
        var grid = $('#'+tableid).data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
        //grid.dataSource.read(); we already loaded the grid above using "page" function
        return false;
    }

    $("#inbox-grid,#outboc-grid,#trash-grid").on("click", ".k-pager-refresh", function (e) {

        $('#inbox-grid thead tr th .AllDelete').prop("checked",false);
        $('#outbox-grid thead tr th .AllDelete').prop("checked",false);
        $('#trash-grid thead tr th .AllDelete').prop("checked",false);
    })
</script>
