﻿@model ViewModel.ViewModel.Messenger.MessengerModel
@{
    ViewBag.Title = "List";

}
<style>
    ul.multiselect-container.dropdown-menu {
        overflow: auto;
        max-height: 300px;
    }
    button.after.btn.btn-default.dropdown-toggle.multiselect::after {
    content: ".....";
}
    .multiselect.dropdown-toggle.btn.btn-default{
           max-width: 135px;
            min-width: 119px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    /*.multiselect-selected-text{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}
button.dropdown-toggle.btn.btn-default {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}*/
    /*button.dropdown-toggle.btn.btn-default {
    width: 118px;
    }*/
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>

    <div class="col-md-6">
        <h1>Manage Notifications</h1>
    </div>
    @if (Model.IsAuthToAddMessage)
    {
        <div class="col-md-6 text-right">
            <a href="@Url.Action("SendMessage","Messenger")" id="" class="btn btn-xs btn-default">Send Message</a>
            @if (Model.IsAdmin)
            {
                <a href="javascript:void(0);" title="Set Default Values" id="btnSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 8px;" class="pull-right"><i class="fa fa-gear"></i></a>
            }
        </div>
        
        
    }
</div>

<!-- change default values -->
<div class="modal-popup" id="MessengerTriggerSetting_Div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeMessengerTriggerSetting_div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Send Message Default Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row well">
                    <h4>Admin SMS Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.AdminSMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.AdminNonAppUser)
                    </div>
                    <div class="col-md-4">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.AdminNotification)
                    </div>
                </div>
                <hr />
                <div class="row well">
                    <h4>Teachers SMS Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.SMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.NonAppUser)
                    </div>
                    <div class="col-md-3">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.Notification)
                    </div>
                </div>
                <hr />
                <div class="row well">
                    <h4>Student SMS Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.StuSMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.StuNonAppUser)
                    </div>
                    <div class="col-md-4">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.StuNotification)
                    </div>
                    <div class="col-md-3">
                        <label>SMS Mobile No.:</label>
                        @Html.DropDownListFor(m => m.SMSSelectionStudentMobileNo, Model.AvailableSendMessageMobileNoOptions,
                        new { @class = "form-control", @style = "width:180px;" })
                    </div>
                </div>
                <hr />
                <div class="row well">
                    <h4>Guardian SMS Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.GuardSMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.GuardNonAppUser)
                    </div>
                    <div class="col-md-4">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.GuardNotification)
                    </div>
                </div>

                <hr />
                <div class="row well">
                    <h4>Non-Teachers SMS Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.NonStaffSMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.NonStaffNonAppUser)
                    </div>
                    <div class="col-md-4">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.NonStaffNotification)
                    </div>
                </div>
                &nbsp;&nbsp;
                &nbsp;
                <div class="modal-footer">
                    <button type="button" id="btnMessengerTriggerDefaultVal" class="btn btn-success ">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
@*message view*@
<div class="modal-popup" id="MesagesView_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>

                <div class="col-md-6">
                    @Html.Label("From:", new { @class = "from_label" })
                    <div id="messageSenders-Div" class="from_label">

                    </div>
                    @Html.Label("To:", new { @class = "to_label" })
                    <div id="Senders-Div" class="to_label">
                    </div>
                </div>
                <div class="col-md-6 pull text-right">
                    @Html.Label("Date/Time:")
                    <div id="DateTime-Div">
                    </div>
                </div>
            </div>

            <div class="row modal-body">
                @Html.Partial("_messagesView", Model)
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="MesageReplyHistory_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header" style="padding-left:0px;">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <div class="col-md-12" style="padding:0px;">
                    @Html.Hidden("StudentClassId")
                    <div class="col-md-6">
                        @Html.Label("From:")
                        <div id="RSenders-Div">
                        </div>
                    </div>
                    <div class="col-md-6 pull text-right">
                        @Html.Label("Date/Time:")
                        <div id="MsgDateTime-Div">
                        </div>
                    </div>
                    <div class="StdntDtlDiv" style="display:none">
                        <div class="col-md-12 stdNameDiv StdntDtlDiv" style="display:none">
                            @Html.Label("StudentName:")
                            <div id="RStudentName-Div">
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Class:")
                            <div id="RClassRollNo-Div">
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row modal-body">
                <div class="col-md-12">
                    @Html.Label("To:")
                    <div id="RReceiver-Div">
                    </div>
                </div>
                <div class="footerStdntDtlDiv" style="display:none">
                    <div class="col-md-12 footerstdNameDiv footerStdntDtlDiv" style="display:none">
                        @Html.Label("StudentName:")
                        <div id="fRStudentName-Div">
                        </div>
                    </div>
                    <div class="col-md-12">
                        @Html.Label("Class:")
                        <div id="fRClassRollNo-Div">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    @Html.Label("Subject:")
                    <div id="RTitle-Div">
                    </div>
                </div>
                <div class="col-md-12">
                    @Html.Label("Message:")
                    <div id="RMessage-Div">
                    </div>
                </div>
                <div id="Reply_Div" class="col-md-12" style="max-height:350px; overflow:auto; margin-top:10px;">


                </div>


            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="closeRH_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@*message reply*@
<div class="modal-popup" id="MesagesReply_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Reply To Message</h4>
            </div>
            <div class="modal-body">
                <!-- Messanger Validation show -->
                <div class="col-md-12 text-danger" id="data_validation_div" hidden>
                    <ul></ul>
                </div>
                <!-- Messanger Validation show -->
                @Html.Partial("_replyMessage", Model)
            </div>
        </div>
    </div>
</div>

<form class="form-horizontal ks-custom-form">
    <div class="row">

        <div class=" fixed-filter-div">
            <div class="col-md-2 sent">
                @Html.Label("From:", new { @class = "sent" })
                @Html.Label("To:", new { @class = "recieved" })
                @Html.Label("To/From:", new { @class = "sent_recieved" })
                @Html.TextBox("User", "", new { @id = "user_textbox", @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.Label("Title:")
                @Html.TextBox("Message", "", new { @id = "message_text", @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.Label("From Date:")
                @Html.TextBox("MessageTime", "", new { @class = " KendoDatepicker", @id = "fromdate" })
            </div>
            <div class="col-md-2">
                @Html.Label("To Date:")
                @Html.TextBox("MessageTime", "", new { @class = " KendoDatepicker", @id = "todate" })
            </div>

            <div class="col-md-1 lbCls">
                @Html.Label("From:", new { @class = "lbCls", @style = "padding-right: 30px;" })
                @Html.RadioButton("FromTo", "From", true, new { @id = "rdFrom" })
            </div>
            <div class="col-md-1 lbCls">
                @Html.Label("To:", new { @class = "lbCls", @style = "padding-right: 30px;" })
                @Html.RadioButton("FromTo", "To", false, new { @id = "rdTo" })
            </div>
            <div class="col-md-1 lbCls" style="padding: 0px;">
                @Html.Label("From-To:", new { @class = "lbCls", @style = "padding-right: 29px;" })
                @Html.RadioButton("FromTo", "From-To", false, new { @id = "rdFrom_To" })
            </div>
        </div>


        @*<div id="dvFromTo" class="row col-md-9 top-space-10" >*@
        <div class=" col-md-2 dvclsfrom" style="display:none;">
            <div class="row fromdiv_append" style=" margin-left:0px !important">
                <div id="dvFromUsertype" class="col-md-12 ">
                    @Html.Label("UserType (From):")
                    @Html.DropDownListFor(m => m.UserTypeFrom, Model.AvailableContacttype, new { @autofocus = "on", @class = "form-control Usertype" })
                </div>

                <div class="col-md-6 Class_Selection_Option" style="display:none">
                    @Html.Label("Class :")
                    @Html.ListBox("FromClass", Model.AvailableClasses, new { @autofocus = "on", @class = "listbox form-control class_List", multiple = "multiple"})
                </div>
            </div>
        </div>
        <div class=" col-md-2 dvclsto" style="display:none ;">
            <div class="row todiv_append" style=" margin-left:0px !important">
                <div id="dvToUsertype" class="col-md-12 ">
                    @Html.Label("UserType (To):")
                    @*@Html.DropDownList("UserTypeTo",null,new { @autofocus = "on", @class = "form-control Usertype" })*@
                    <select class="form-control Usertype" id="UserTypeTo"></select>
                </div>

                <div class="col-md-6 Class_Selection_Option1" style="display:none">
                    @Html.Label("Class :")
                    @Html.ListBox("ToClass", Model.AvailableClasses, new { @autofocus = "on", @class = "listbox form-control class_List", @multiple = "multiple" })
                </div>
                @*<div id="dvTo" class="col-md-6 ">*@
                @* @Html.Label("To :")*@
                @* @Html.ListBoxFor(m => m.MsgUserTo, Model.AvailableClasses, new { @autofocus = "on", @class = "form-control Usertype" })*@
                @*</div>*@
            </div>
        </div>
        <script>
            $('.class_List').multiselect({
                includeSelectAllOption: true
            });

          


            $('#UserTypeFrom').change(function () {
                var usertype = $(this).val();
                $('.Class_Selection_Option').hide();
                $('.Class_Selection_Option1').hide();
                $('#dvFrom').remove();
                $('#dvTo').remove();
                if (usertype > 0) {

                    $('.dvclsto').removeClass('col-md-12')
                    $('.dvclsto').removeClass('col-md-2')
                    $('.dvclsto').removeClass('col-md-4')
                    $('.dvclsto').removeClass('col-md-6')
                    $('.dvclsto').addClass('col-md-4')

                    $('#dvToUsertype').removeClass('col-md-12')
                    $('#dvToUsertype').removeClass('col-md-4')
                    $('#dvToUsertype').removeClass('col-md-6')
                    $('#dvToUsertype').removeClass('col-md-2')
                    $('#dvToUsertype').addClass('col-md-6')

                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetUserToList", "Messenger"))',
                        data: { "UserTypeId": usertype },
                        success: function (result) {
                          

                            $('#UserTypeTo').html('');
                            $.each(result.contactlist, function () {
                                $('#UserTypeTo').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            });
                     
                        },
                        error: function () {
                            ToastMessage("error", "error", true, 5000);
                        }
                    });
                }
                if (usertype > 0 && ($('#UserTypeFrom option:selected').text().includes('Teach') || $('#UserTypeFrom option:selected').text().includes('teach'))) {
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetContactsList", "Messenger"))',
                        data: { "UserTypeId": usertype },
                        success: function (result) {
                            $('.Class_Selection_Option').hide();
                            $('#dvFrom').remove();
                            $('.dvclsfrom').removeClass('col-md-2');
                            $('.dvclsfrom').removeClass('col-md-4');
                            $('.dvclsfrom').removeClass('col-md-12');
                            $('.dvclsfrom').removeClass('col-md-6');
                            $('.dvclsfrom').addClass('col-md-4');

                            $('.dvclsto').removeClass('col-md-2');
                            $('.dvclsto').removeClass('col-md-4');
                            $('.dvclsto').removeClass('col-md-12');
                            $('.dvclsto').removeClass('col-md-6');
                            $('.dvclsto').addClass('col-md-2');

                            $('#dvFromUsertype').removeClass('col-md-12')
                            $('#dvFromUsertype').removeClass('col-md-6')
                            $('#dvFromUsertype').removeClass('col-md-4')
                            $('#dvFromUsertype').removeClass('col-md-2')
                            $('#dvFromUsertype').addClass('col-md-6')

                            $('#dvToUsertype').removeClass('col-md-12')
                            $('#dvToUsertype').removeClass('col-md-4')
                            $('#dvToUsertype').removeClass('col-md-6')
                            $('#dvToUsertype').removeClass('col-md-2')
                            $('#dvToUsertype').addClass('col-md-12')

                            $('.fromdiv_append').append(' <div id="dvFrom" class="col-md-6 "><label>From: </label> <select autofocus="on" class="listbox form-control Usertype" id="MsgUserFrom" multiple="multiple" name="MsgUserFrom"></select> </div>')
                            $('#MsgUserFrom').html('');
                            $.each(result.contactlist, function () {
                                $('#MsgUserFrom').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            });
                            $('#MsgUserFrom').multiselect({
                                includeSelectAllOption: true
                            });
                        },
                        error: function () {
                            ToastMessage("error", "error", true, 5000);
                        }
                    });
                }
                else if (usertype > 0 && !$('#UserTypeFrom option:selected').text().includes('Teach') && !$('#UserTypeFrom option:selected').text().includes('teach') && !$('#UserTypeFrom option:selected').text().includes('Admin') && !$('#UserTypeFrom option:selected').text().includes('admin')) {
                    $('.dvclsto').removeClass('col-md-2');
                    $('.dvclsto').removeClass('col-md-4');
                    $('.dvclsto').removeClass('col-md-12');
                    $('.dvclsto').removeClass('col-md-6');
                    $('.dvclsto').addClass('col-md-2');

                    $('#dvToUsertype').removeClass('col-md-12')
                    $('#dvToUsertype').removeClass('col-md-4')
                    $('#dvToUsertype').removeClass('col-md-6')
                    $('#dvToUsertype').removeClass('col-md-2')
                    $('#dvToUsertype').addClass('col-md-12')

                    $('.dvclsfrom').removeClass('col-md-2');
                    $('.dvclsfrom').removeClass('col-md-4');
                    $('.dvclsfrom').removeClass('col-md-12');
                    $('.dvclsfrom').removeClass('col-md-6');
                    $('.dvclsfrom').addClass('col-md-4');

                    $('#dvFromUsertype').removeClass('col-md-12')
                    $('#dvFromUsertype').removeClass('col-md-6')
                    $('#dvFromUsertype').removeClass('col-md-4')
                    $('#dvFromUsertype').removeClass('col-md-2')
                    $('#dvFromUsertype').addClass('col-md-6')

                    $('#dvFrom').remove();
                    $('.Class_Selection_Option').show();
                }
                else {
                    $('.dvclsfrom').removeClass('col-md-2');
                    $('.dvclsfrom').removeClass('col-md-4');
                    $('.dvclsfrom').removeClass('col-md-12');
                    $('.dvclsfrom').removeClass('col-md-6');
                    $('.dvclsfrom').addClass('col-md-2');

                    $('#dvFromUsertype').removeClass('col-md-12')
                    $('#dvFromUsertype').removeClass('col-md-6')
                    $('#dvFromUsertype').removeClass('col-md-4')
                    $('#dvFromUsertype').removeClass('col-md-2')
                    $('#dvFromUsertype').addClass('col-md-12')

                    $('#dvFrom').remove();
                    $('.Class_Selection_Option').hide();
                }

            })

            //get Studentlist dropdownlist
            $('#FromClass').change(function () {
                $('#ks_loader').show();
                var contacttypeid = $('#UserTypeFrom').val();
               var Classid = $(this).val();
              
                if (Classid != null)
                    $.ajax({
                        type: "Post",
                        url: '@Html.Raw(Url.Action("Studentslistfrommultipleclasses", "Messenger"))',
                        data: { "classid": Classid, "Contacttypeid": contacttypeid },
                        success: function (result) {

                            $('#ks_loader').hide();

                            $('#MsgUserFrom').remove();
                            $('#dvFrom').remove();

                            
                            $('.dvclsfrom').removeClass('col-md-12')
                            $('.dvclsfrom').removeClass('col-md-4')
                            $('.dvclsfrom').removeClass('col-md-6')
                            $('.dvclsfrom').removeClass('col-md-2')
                            $('.dvclsfrom').addClass('col-md-6')

                            $('.dvclsto').removeClass('col-md-12')
                            $('.dvclsto').removeClass('col-md-4')
                            $('.dvclsto').removeClass('col-md-2')
                            $('.dvclsto').removeClass('col-md-6')
                            $('.dvclsto').addClass('col-md-2')

                            $('#dvFromUsertype').removeClass('col-md-12')
                            $('#dvFromUsertype').removeClass('col-md-6')
                            $('#dvFromUsertype').removeClass('col-md-2')
                            $('#dvFromUsertype').removeClass('col-md-4')
                            $('#dvFromUsertype').addClass('col-md-4')

                            $('#dvToUsertype').removeClass('col-md-12')
                            $('#dvToUsertype').removeClass('col-md-6')
                            $('#dvToUsertype').removeClass('col-md-4')
                            $('#dvToUsertype').removeClass('col-md-2')
                            $('#dvToUsertype').addClass('col-md-12')

                            $('.Class_Selection_Option').removeClass('col-md-12')
                            $('.Class_Selection_Option').removeClass('col-md-12')
                            $('.Class_Selection_Option').removeClass('col-md-4')
                            $('.Class_Selection_Option').removeClass('col-md-2')
                            $('.Class_Selection_Option').addClass('col-md-4')

                            $('.fromdiv_append').append(' <div id="dvFrom" class="col-md-6 "><label>From: </label> <select autofocus="on" class="listbox form-control Usertype" id="MsgUserFrom" multiple="multiple" name="MsgUserFrom"></select> </div>')
                            $('#dvFrom').removeClass('col-md-12')
                            $('#dvFrom').removeClass('col-md-6')
                            $('#dvFrom').removeClass('col-md-4')
                            $('#dvFrom').removeClass('col-md-2')
                            $('#dvFrom').addClass('col-md-4')
                            $.each(result.userselectlistajax, function () {
                                $('#MsgUserFrom').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            });

                            $('#MsgUserFrom').multiselect({
                                includeSelectAllOption: true
                            });
                           
                        },
                        error: function () {
                            ToastMessage("error", "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                $('#ks_loader').hide();
            }).change();


            $('#ToClass').change(function () {
                $('#ks_loader').show();
                var contacttypeid = $('#UserTypeTo').val();
                var Classid = $(this).val();

                if (Classid != null)
                    $.ajax({
                        type: "Post",
                        url: '@Html.Raw(Url.Action("Studentslistfrommultipleclasses", "Messenger"))',
                        data: { "classid": Classid, "Contacttypeid": contacttypeid },
                        success: function (result) {

                            $('#ks_loader').hide();

                            $('#MsgUserTo').remove();
                            $('#dvTo').remove();


                            //$('.dvclsfrom').removeClass('col-md-12')
                            //$('.dvclsfrom').removeClass('col-md-4')
                            //$('.dvclsfrom').addClass('col-md-6')

                            $('.dvclsto').removeClass('col-md-12')
                            $('.dvclsto').removeClass('col-md-4')
                            $('.dvclsto').removeClass('col-md-6')
                            $('.dvclsto').removeClass('col-md-2')
                            $('.dvclsto').addClass('col-md-6')

                            //$('#dvFromUsertype').removeClass('col-md-12')
                            //$('#dvFromUsertype').removeClass('col-md-6')
                            //$('#dvFromUsertype').addClass('col-md-4')

                            $('#dvToUsertype').removeClass('col-md-12')
                            $('#dvToUsertype').removeClass('col-md-6')
                            $('#dvToUsertype').removeClass('col-md-4')
                            $('#dvToUsertype').removeClass('col-md-2')
                            $('#dvToUsertype').addClass('col-md-4')

                            $('.Class_Selection_Option1').removeClass('col-md-12')
                            $('.Class_Selection_Option1').removeClass('col-md-6')
                            $('.Class_Selection_Option1').removeClass('col-md-4')
                            $('.Class_Selection_Option1').removeClass('col-md-2')
                            $('.Class_Selection_Option1').addClass('col-md-4')

                            $('.todiv_append').append(' <div id="dvTo" class="col-md-6 "><label>To: </label> <select autofocus="on" class="listbox form-control Usertype" id="MsgUserTo" multiple="multiple" name="MsgUserTo"></select> </div>')
                            $('#dvTo').removeClass('col-md-12')
                            $('#dvTo').removeClass('col-md-6')
                            $('#dvTo').removeClass('col-md-4')
                            $('#dvTo').removeClass('col-md-2')
                            $('#dvTo').addClass('col-md-4')
                            $.each(result.userselectlistajax, function () {
                                $('#MsgUserTo').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            });

                            $('#MsgUserTo').multiselect({
                                includeSelectAllOption: true
                            });

                        },
                        error: function () {
                            ToastMessage("error", "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                $('#ks_loader').hide();
            }).change();


            $('#MsgUserTo').multiselect({
                includeSelectAllOption: true
            });
            $('#MsgUserFrom').multiselect({
                includeSelectAllOption: true
            });


            $('#UserTypeTo').change(function () {
                var usertype = $(this).val();
               
                if (usertype > 0 && ($('#UserTypeTo option:selected').text().includes('Teach') || $('#UserTypeTo option:selected').text().includes('teach'))) {
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetContactsList", "Messenger"))',
                        data: { "UserTypeId": usertype },
                        success: function (result) {
                            $('.Class_Selection_Option1').hide();
                            $('#dvTo').remove();
                            //$('.dvclsfrom').removeClass('col-md-2');
                            //$('.dvclsfrom').removeClass('col-md-4');
                            $('.dvclsto').removeClass('col-md-2');
                            $('.dvclsto').removeClass('col-md-4');
                            $('.dvclsto').removeClass('col-md-6');
                            $('.dvclsto').removeClass('col-md-12');
                            $('.dvclsto').addClass('col-md-4');

                            //$('#dvFromUsertype').removeClass('col-md-12')
                            //$('#dvFromUsertype').removeClass('col-md-6')
                            //$('#dvFromUsertype').addClass('col-md-6')
                            $('#dvToUsertype').removeClass('col-md-12')
                            $('#dvToUsertype').removeClass('col-md-4')
                            $('#dvToUsertype').removeClass('col-md-6')
                            $('#dvToUsertype').removeClass('col-md-2')
                            $('#dvToUsertype').addClass('col-md-6')

                            //$('.dvclsfrom').addClass('col-md-4');
                            $('.todiv_append').append(' <div id="dvTo" class="col-md-6 "><label>To: </label> <select autofocus="on" class="listbox form-control Usertype" id="MsgUserTo" multiple="multiple" name="MsgUserTo"></select> </div>')
                            $('#MsgUserTo').html('');
                            $.each(result.contactlist, function () {
                                $('#MsgUserTo').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            });
                            $('#MsgUserTo').multiselect({
                                includeSelectAllOption: true
                            });
                        },
                        error: function () {
                            ToastMessage("error", "error", true, 5000);
                        }
                    });
                }
                else if (usertype > 0 && !$('#UserTypeTo option:selected').text().includes('Teach') && !$('#UserTypeTo option:selected').text().includes('teach') && !$('#UserTypeTo option:selected').text().includes('Admin') && !$('#UserTypeTo option:selected').text().includes('admin')) {
                    $('.dvclsto').removeClass('col-md-2');
                    $('.dvclsto').removeClass('col-md-4');
                    $('.dvclsto').removeClass('col-md-6');
                    $('.dvclsto').removeClass('col-md-12');
                    $('.dvclsto').addClass('col-md-4');

                    $('#dvToUsertype').removeClass('col-md-12')
                    $('#dvToUsertype').removeClass('col-md-4')
                    $('#dvToUsertype').removeClass('col-md-6')
                    $('#dvToUsertype').removeClass('col-md-2')
                    $('#dvToUsertype').addClass('col-md-6')
                    //$('.dvclsfrom').removeClass('col-md-2');
                    //$('.dvclsfrom').removeClass('col-md-4');
                    //$('#dvFromUsertype').removeClass('col-md-12')
                    //$('#dvFromUsertype').removeClass('col-md-6')
                    //$('#dvFromUsertype').addClass('col-md-6')
                    //$('.dvclsfrom').addClass('col-md-4');
                    $('#dvTo').remove();
                    $('.Class_Selection_Option1').show();
                }
                else {
                    $('.dvclsto').removeClass('col-md-2');
                    $('.dvclsto').removeClass('col-md-4');
                    $('.dvclsto').removeClass('col-md-6');
                    $('.dvclsto').removeClass('col-md-12');
                    $('.dvclsto').addClass('col-md-2');

                    $('#dvToUsertype').removeClass('col-md-12')
                    $('#dvToUsertype').removeClass('col-md-6')
                    $('#dvToUsertype').removeClass('col-md-4')
                    $('#dvToUsertype').removeClass('col-md-2')
                    $('#dvToUsertype').addClass('col-md-12')

                    $('#dvTo').remove();
                    $('.Class_Selection_Option1').hide();
                }

            })




            @*$('#UserTypeTo').change(function () {
                var usertype = $(this).val();
                if (usertype > 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetContactsList", "Messenger"))',
                        data: { "UserTypeId": usertype },
                        success: function (result) {
                            $('#dvTo').remove();
                            $('.dvclsto').removeClass('col-md-2');
                            $('.dvclsto').removeClass('col-md-4');
                            $('#dvToUsertype').removeClass('col-md-12')
                            $('#dvToUsertype').removeClass('col-md-6')
                            $('#dvToUsertype').addClass('col-md-6')
                            $('.dvclsto').addClass('col-md-4');
                            $('.todiv_append').append(' <div id="dvTo" class="col-md-6 "><label>From: </label> <select autofocus="on" class="listbox form-control Usertype" id="MsgUserTo" multiple="multiple" name="MsgUserFrom"></select> </div>')

                            $('#MsgUserTo').html('');
                            $.each(result.contactlist, function () {
                                $('#MsgUserTo').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            });
                            $('#MsgUserTo').multiselect({
                                includeSelectAllOption: true
                            });
                        },
                        error: function () {
                            ToastMessage("error", "error", true, 5000);
                        }
                    });
                }
                else {
                    $('.dvclsto').removeClass('col-md-2');
                    $('.dvclsto').removeClass('col-md-4');
                    $('.dvclsto').addClass('col-md-2');
                    $('#dvToUsertype').removeClass('col-md-12')
                    $('#dvToUsertype').removeClass('col-md-6')
                    $('#dvToUsertype').addClass('col-md-12')
                    $('#dvTo').remove();
                }
            })*@
        </script>
        @*</div>*@
        <div class="col-md-2 history_div_case ">
            <div class="row">
                <div class="col-md-6">
                    @Html.Label(" ")
                    <button type="button" id="search-categories" data-id="inbox-grid" class="search-categories btn btn-default btn-search">Filter</button>
                </div>
                <div class="col-md-6">
                    @Html.Label(" ")
                    <button type="button" id="Reset-Filters" data-id="inbox-grid" class="btn btn-danger btn-refresh">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>

<ul class="nav nav-tabs top-space-10">
    <li class="active"><a data-toggle="tab" id="inbox" href="#inbox-grid" aria-expanded="false">Received</a></li>
    <li class=""><a data-toggle="tab" id="outbox" href="#outbox-grid" aria-expanded="false">Sent Items</a></li>
    <li class=""><a data-toggle="tab" id="trash" href="#trash-grid" aria-expanded="false">Trash</a></li>
    @if (Model.Contacttype.ToLower() == "admin")
    {
        <li class=""><a data-toggle="tab" id="history" href="#History-grid" aria-expanded="false">History</a></li>
    }
    <div>

        <div class="row col-md-1 pull-right">
            <button type="button" ref="inbox" id="Delete_multiple" class="text-right btn btn-default btn-search" style="display:none"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
        <div class="row col-md-2 pull-right">
            <button type="button" ref="inbox" id="markread" class="text-right btn btn-default btn-search mark-read" style="display:none">Mark As Read</button>
        </div>
        <div class="row col-md-2 pull-right">
            <button type="button" ref="inbox" id="markUnread" class="text-right btn btn-default btn-search mark-read" style="display:none">Mark As UnRead</button>
        </div>
    </div>
</ul>
<div class="tab-content">
    @*Inbox Table*@
    <div id="inbox-grid" class="tab-pane fade in active"></div>
    @(Html.Partial("~/Views/Messenger/_inboxKendoList.cshtml", Model))

    @*Outbox table*@
    <div id="outbox-grid" class="tab-pane fade"></div>
    @(Html.Partial("~/Views/Messenger/_outboxKendoList.cshtml", Model))

    @*Trash Table*@
    <div id="trash-grid" class="tab-pane fade"></div>
    @(Html.Partial("~/Views/Messenger/_trashKendoList.cshtml", Model))

    @if (Model.Contacttype.ToLower() == "admin")
    {
        @*History Table*@
        <div id="History-grid" class="tab-pane fade"></div>
        @(Html.Partial("~/Views/Messenger/_historyKendoList.cshtml", Model))
    }
</div>

<script>

    $(".KendoDatepicker").kendoDatePicker({
        value: new Date,
        format: "dd/MM/yyyy"
    });
    $(".KendoDatepicker").attr("readonly", true);
    // function get date as string and return date
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

    $("#btnSettings").click(function () {
        $("#MessengerTriggerSetting_Div").show();

    });

    $("#closeMessengerTriggerSetting_div").click(function () {
        $("#MessengerTriggerSetting_Div").hide();

    });

    $("#btnMessengerTriggerDefaultVal").click(function () {
        var defaultSetting = new Object();
        defaultSetting.GuardSMS = $("#GuardSMS").prop("checked");
        defaultSetting.GuardNotification = $("#GuardNotification").prop("checked");
        defaultSetting.GuardNonAppUser = $("#GuardNonAppUser").prop("checked");

        defaultSetting.SMS = $("#SMS").prop("checked");
        defaultSetting.Notification = $("#Notification").prop("checked");
        defaultSetting.NonAppUser = $("#NonAppUser").prop("checked");


        defaultSetting.NonStaffSMS = $("#NonStaffSMS").prop("checked");
        defaultSetting.NonStaffNotification = $("#NonStaffNotification").prop("checked");
        defaultSetting.NonStaffNonAppUser = $("#NonStaffNonAppUser").prop("checked");

        defaultSetting.AdminSMS = $("#AdminSMS").prop("checked");
        defaultSetting.AdminNotification = $("#AdminNotification").prop("checked");
        defaultSetting.AdminNonAppUser = $("#AdminNonAppUser").prop("checked");


        defaultSetting.StuSMS = $("#StuSMS").prop("checked");
        defaultSetting.StuNotification = $("#StuNotification").prop("checked");
        defaultSetting.StuNonAppUser = $("#StuNonAppUser").prop("checked");
        defaultSetting.SMSSelectionStudentMobileNo = $("#SMSSelectionStudentMobileNo").val();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("TriggerInsertDefaultValues", "Messenger"))',
            data: defaultSetting,
            success: function (result) {
                if (result.status == "Success")
                {
                    ToastMessage("Trigger Default values updated successfully", "success", true, 5000);
                }
                $("#MessengerTriggerSetting_Div").hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
            }
        });
      

    });


    $('#rdFrom').click(function () {
        if ($('#history').attr('aria-expanded') == true) {
            $('.dvclsfrom').css('display', 'block');
        }
        $('.dvclsto').css('display', 'none');
        $('#MsgUserTo').html();
        $('#UserTypeTo').val('');
        $('.Class_Selection_Option').hide();
        $('.FromClass').val('');
        $('.ToClass').val('');
        $('#dvFrom').remove();

        $('.dvclsfrom').removeClass('col-md-12')
        $('.dvclsfrom').removeClass('col-md-4')
        $('.dvclsfrom').removeClass('col-md-6')
        $('.dvclsfrom').removeClass('col-md-2')
        $('.dvclsfrom').addClass('col-md-2')


        $('#dvFromUsertype').removeClass('col-md-12')
        $('#dvFromUsertype').removeClass('col-md-4')
        $('#dvFromUsertype').removeClass('col-md-6')
        $('#dvFromUsertype').removeClass('col-md-2')
        $('#dvFromUsertype').addClass('col-md-12')
    })
    $('#rdTo').click(function () {

        $('.dvclsto').css('display', 'block');
        $('.dvclsfrom').css('display', 'none');
        $('#MsgUserFrom').html();
        $('.Class_Selection_Option').hide();
        $('#UserTypeFrom').val('');
        $('.FromClass').val('');
        $('.ToClass').val('');
        $('#dvTo').remove();

        $('.dvclsto').removeClass('col-md-12')
        $('.dvclsto').removeClass('col-md-4')
        $('.dvclsto').removeClass('col-md-6')
        $('.dvclsto').removeClass('col-md-2')
        $('.dvclsto').addClass('col-md-2')

   
        $('#dvToUsertype').removeClass('col-md-12')
        $('#dvToUsertype').removeClass('col-md-4')
        $('#dvToUsertype').removeClass('col-md-6')
        $('#dvToUsertype').removeClass('col-md-2')
        $('#dvToUsertype').addClass('col-md-12')

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetUserToAllList", "Messenger"))',
                data: {},
                success: function (result) {
                    $('#UserTypeTo').html('');
                    $.each(result.contactlist, function () {
                        $('#UserTypeTo').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });

                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                }
            });
        
    })
    $('#rdFrom_To').click(function () {

        
        $('#UserTypeTo').html('');
        $('#MsgUserTo').html('');
        $('#MsgUserFrom').html('');
        $('.dvclsfrom').css('display', 'block');
        $('.dvclsto').css('display', 'block');
        $('.Class_Selection_Option').hide();
        $('.Class_Selection_Option1').hide();
        $('.FromClass').val('');
        $('.ToClass').val('');
        $('#dvFrom').remove();
        $('#dvTo').remove();

        $('.dvclsfrom').removeClass('col-md-12')
        $('.dvclsfrom').removeClass('col-md-4')
        $('.dvclsfrom').removeClass('col-md-6')
        $('.dvclsfrom').removeClass('col-md-2')
        $('.dvclsfrom').addClass('col-md-2')

        $('.dvclsto').removeClass('col-md-12')
        $('.dvclsto').removeClass('col-md-4')
        $('.dvclsto').removeClass('col-md-6')
        $('.dvclsto').removeClass('col-md-2')
        $('.dvclsto').addClass('col-md-2')

        $('#dvFromUsertype').removeClass('col-md-12')
        $('#dvFromUsertype').removeClass('col-md-4')
        $('#dvFromUsertype').removeClass('col-md-6')
        $('#dvFromUsertype').removeClass('col-md-2')
        $('#dvFromUsertype').addClass('col-md-12')

        $('#dvToUsertype').removeClass('col-md-12')
        $('#dvToUsertype').removeClass('col-md-4')
        $('#dvToUsertype').removeClass('col-md-6')
        $('#dvToUsertype').removeClass('col-md-2')
        $('#dvToUsertype').addClass('col-md-12')
    })

    $('#history').click(function () {
        $('.sent').hide();
        $('.recieved').hide();
        $('.sent_recieved').hide();
        $('#user_textbox').hide();
        //  $('#dvFromTo').show();
        $('.lbCls').show();
        $('#rdFrom').show();
        $('#rdTo').show();
        $('#rdFrom_To').show();
        //$('.history_div_case').addClass('top-space-10');
        $('.fixed-filter-div').addClass('col-md-12');

        $('.dvclsfrom').css('display', 'block');
        var Tableid = "History-grid";

        $('.search-categories,#Reset-Filters').attr('data-id', Tableid)
    });



    if ($('#inbox').parent('li').hasClass("active")) {
        $('.sent').show();
        $('.recieved').hide();
        $('.sent_recieved').hide();
        $('#user_textbox').val("");
        $('#message_text').val("");
        $('#fromdate').val("");
        $('#todate').val("");
        $('.to_label').hide();
        $('.from_label').show();
        $('.to_from_label').hide();
        $('.lbCls').hide();
        $('#rdFrom').hide();
        $('#rdTo').hide();
        $('#rdFrom_To').hide();
        // $('#dvFromTo').hide();
    }
    $('#closeRH_div').click(function () {
        $('#MesageReplyHistory_div').hide();
    });
    $("#History-grid").on("click", ".View_Historymessages", function (e) {
        $('#ks_loader').show();
        $(".StdntDtlDiv").hide();
        $(".footerStdntDtlDiv").hide();
        $('#Reply_Div').text("");
        $('#RTitle-Div').text("");
        $('#RMessage-Div').text("");
        $('#RReceiver-Div').text("");
        $('#MsgDateTime-Div').text("");
        $('#RSenders-Div').text("");

        var messageview = $(this);
        var messageId = messageview.attr('dataid');
        var senderId = messageview.attr('id');
        if (messageId != '') {
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("ViewMessageHistory", "Messenger"))',
                data: { "msgId": messageId, "SenderId": senderId },
                success: function (result) {
                    $('#RTitle-Div').text(result.msghistory.Messagetitle);
                    $('#RMessage-Div').text(result.msghistory.MessageDescription);
                    $('#RReceiver-Div').text(result.msghistory.ReceiverName);
                    $('#MsgDateTime-Div').text(result.msghistory.MessageTime);
                    $('#RSenders-Div').text(result.msghistory.SenderName);
                    if (result.msghistory.MessageSender.toLowerCase() == "guardian" && result.msghistory.Class != "" && result.msghistory.Class != null) {
                        $('#RStudentName-Div').text(result.msghistory.Studentname);
                        $('#RClassRollNo-Div').text(result.msghistory.Class + " (" + result.msghistory.RollNo + ")");
                        $(".StdntDtlDiv").show();
                    }
                    else if (result.msghistory.MessageSender.toLowerCase() == "student" && result.msghistory.Class != "" && result.msghistory.Class != null) {
                        $('#RClassRollNo-Div').text(result.msghistory.Class + " (" + result.msghistory.RollNo + ")");
                        $(".StdntDtlDiv").show();
                        $(".stdNameDiv").hide();
                    }
                    else if (result.msghistory.MessageReceiver.toLowerCase() == "guardian" && result.msghistory.Class != "" && result.msghistory.Class != null) {
                        $('#fRStudentName-Div').text(result.msghistory.Studentname);
                        $('#fRClassRollNo-Div').text(result.msghistory.Class + " (" + result.msghistory.RollNo + ")");
                        $(".footerStdntDtlDiv").show();
                    }
                    else if (result.msghistory.MessageSender.toLowerCase() == "student" && result.msghistory.Class != "" && result.msghistory.Class != null) {
                        $('#fRClassRollNo-Div').text(result.msghistory.Class + " (" + result.msghistory.RollNo + ")");
                        $(".footerStdntDtlDiv").show();
                        $(".footerstdNameDiv").hide();
                    }
                    if (result.ReplyMessageList.length > 0) {
                        var htmlreply = '<table class="well " style="width:100%;border-collapse: separate;">';
                        for (i = 0; i < result.ReplyMessageList.length; i++) {
                            htmlreply += '<tr style="width:100%">';
                            if (result.ReplyMessageList[i].Status == "blue") {
                                htmlreply += '<td class="viewMsgReplyInfo" style="background-color:' + result.messagesentcolor + '">';
                                htmlreply += '<div>' + result.ReplyMessageList[i].SenderName + '</div>';
                                htmlreply += '<div>' + result.ReplyMessageList[i].Message + '</div>';
                                htmlreply += '<div>' + result.ReplyMessageList[i].MessageTime + '</div>';
                                htmlreply += '</td><td style="width:50%;"></td>';
                            }
                            else if (result.ReplyMessageList[i].Status == "yellow") {
                                htmlreply += '<td style="width:50%;"></td><td class="viewMsgReplyInfo" style="background-color:' + result.messagerecievedcolor + '">';
                                htmlreply += '<div>' + result.ReplyMessageList[i].SenderName + '</div>';
                                htmlreply += '<div>' + result.ReplyMessageList[i].Message + '</div>';
                                htmlreply += '<div>' + result.ReplyMessageList[i].MessageTime + '</div>';
                                htmlreply += '</td>';
                            }
                            htmlreply += '</tr><tr><td colspan="2">&nbsp;</td></tr>';
                        }
                        htmlreply += '</table>';
                        $('#Reply_Div').html(htmlreply);
                    }
                    $('#MesageReplyHistory_div').show();
                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });
    $("#inbox-grid,#trash-grid").on("click", ".View_messages", function (e) {
        var messageview = $(this);
        ////hide show label
        $('#MesagesView_div').show();
        var messageid = messageview.attr('id');
        $('#ks_loader').show();
        $('#Senders-Div').text("")
        $('#messageSenders-Div').text("")
        $('#Class-Div').text("")
        $('#Message-Div').text("")
        $('#Messagetitle-Div').text("")
        $('#DateTime-Div').text("")
        $('#class_label').css("display", "none");
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("ViewMessages", "Messenger"))',
            data: { "messageid": messageid },
            success: function (result) {


                $('#Senders-Div').text(result.messagelist.sendernames)
                $('#messageSenders-Div').text(result.messagelist.messagesender)

                if (result.messagelist.classname != "NA" && result.messagelist.classname != null) {
                    $('#class_label').css("display", "block");
                    $('#Class-Div').text(result.messagelist.classname)
                }
                else
                    $('#class_label').hide();
                $('#Message-Div').html((result.messagelist.MessageDescription))
                $('#Messagetitle-Div').text((result.messagelist.MessageTitle))
                $('#DateTime-Div').text(result.messagelist.MessageDatetime)
                $('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });
    $("#outbox-grid").on("click", ".View_messages", function (e) {
        var messageview = $(this);
        ////hide show label
        $('#MesagesView_div').show();
        var messageid = messageview.attr('id');
        $('#ks_loader').show();
        $('#Senders-Div').text("")
        $('#messageSenders-Div').text("")
        $('#Class-Div').text("")
        $('#Message-Div').text("")
        $('#Messagetitle-Div').text("")
        $('#DateTime-Div').text("")
        $('#class_label').css("display", "none");
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("ViewSentitemsMessages", "Messenger"))',
            data: { "messageid": messageid },
            success: function (result) {


                $('#Senders-Div').text(result.messagelist.sendernames)
                $('#messageSenders-Div').text(result.messagelist.messagesender)

                if (result.messagelist.classname != "NA" && result.messagelist.classname != null) {
                    $('#class_label').css("display", "block");
                    $('#Class-Div').text(result.messagelist.classname)
                }
                else
                    $('#class_label').hide();
                $('#Message-Div').html((result.messagelist.MessageDescription))
                $('#Messagetitle-Div').text((result.messagelist.MessageTitle))
                $('#DateTime-Div').text(result.messagelist.MessageDatetime)
                $('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });
    $("#inbox-grid").on("click", ".reply_message_kendo", function (e) {
        var sendername = $(this).attr("name");
        // alert(sendername);
        var senderid = $(this).attr("id");
        var messagerefid = $(this).attr("refid");
        var messagetitle = $(this).parent().parent().find("td:nth-child(10)").text(); // full title
        $('#Senders-reply-Div').append(sendername);
        $('#senderid_reply').append(senderid);
        $('#Message_refid_reply').append(messagerefid);
        $('#MessageTitle').val(messagetitle);
        $('#MesagesReply_div').show();
    });

    $("#Submit-reply-btn").click(function (e) {
        var MessengerModel = new Object();
        MessengerModel.MessageTitle = $('#MessageTitle').val();
        MessengerModel.MessageDecription = $('#MessageDecription').val();
        MessengerModel.EncUserId = $('#senderid_reply').text();
        MessengerModel.MessageRefId = $('#Message_refid_reply').text();
        MessengerModel.SessionId = $('#Message_refid_reply').text();
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("MessageReply", "Messenger"))',
            data: MessengerModel,
            success: function (result) {

                if (result.status == "success") {
                    $('#MesagesReply_div').hide();
                    ToastMessage(result.msg, "success", true, 5000);
                    clearreplyfields();
                    window.location.reload();

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }

            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })

    $('#close_div').click(function () {
        $('#MesagesView_div').hide();
        //var grid = $('#outbox-grid').data('kendoGrid');
        //grid.dataSource.page(1); //new search. Set page size to 1
        //var grid = $('#trash-grid').data('kendoGrid');
        //grid.dataSource.page(1);
        //var grid = $('#inbox-grid').data('kendoGrid');
        //grid.dataSource.page(1);
    });
    $('#close_reply_div').click(function () {
        $('#MesagesReply_div').hide();
        $('#Senders-reply-Div').text("");
        $('#senderid_reply').text("");
        $('#Message_refid_reply').text("");
        $('#MessageTitle').val("");
        $('#MessageDecription').val("");

    });

    function clearreplyfields() {
        $('#Senders-reply-Div').val("");
        $('#MessageTitle').val("");
        $('#MessageDecription').val("");
    }
</script>