﻿@model ViewModel.ViewModel.Messenger.MessageQueueModel
@{
    ViewBag.Title = "MessageQueue";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;

}
<style>
    /*#div_filter .k-widget.k-datepicker{
        width: 47% !important;
        float: left;
        box-shadow: none !important;
        background: transparent;
        padding: 0;
    }*/
</style>
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>

    <div class="col-md-6">
        <h1>Manage Message Queue</h1>
    </div>

</div>
<form class="form-horizontal">
        <div class="row top-space-10" id="div_filter">
            <div class="col-md-3">
                <label class=" control-label">Reg./AdmnNo.</label>
                @Html.TextBox("AdmsnRegNo", "", new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <label class=" control-label">Select Class</label>
                @Html.DropDownList("ClassId", Model.AvailableClass, new { @class = "form-control drop-down" })
            </div>
            <div class="col-md-3">
                <label class=" control-label">SelectStudent</label>
                @Html.DropDownList("EncStudentId", Model.AvailableStudent, new { @class = "form-control drop-down" })
            </div>
            <div class="col-md-3">
                <label class=" control-label">Status</label>
                @Html.DropDownList("StatusId", Model.AvailableStatus, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <label class=" control-label">Sent From</label>
                @Html.TextBox("SentFromDateTime", "", new { @class = "form-control filtersdates", @height = "30px !important" })
            </div>
            <div class="col-md-3">
                <label class=" control-label">Sent To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                @Html.TextBox("SentToDateTime", "", new { @class = "form-control filtersdates", @height = "30px !important" })
            </div>
                <div class="col-md-3" style="padding:25px">
                    <button type="button" id="reset" style="float:right" class="btn btn-danger">Reset</button>
                    <button type="button" id="filter" style="float:right" class="btn btn-default">Filter</button>
                </div>
            </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            <div id="MessageQueue_list">
                <script>
                    $(document).ready(function () {
                        $("#MessageQueue_list").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetAllMessageQueues", "Messenger"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalData
                                    },
                                    parameterMap: function (data) {
                                        return JSON.stringify(data);
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: '@(defaultGridPageSize)',
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            dataBound: onDataBound,
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            sortable: true,

                            columns: [{
                                field: "UserName",
                                title: "Name",
                                sortable: true,
                                attributes: {
                                    "class": "strStudentName"
                                },
                            }, {
                                field: "UserType",
                                title: "Type",
                                sortable: true
                            }, {
                                field: "AdmnNo",
                                title: "AdmnNo/EmpCode",
                                sortable: true
                            }, {
                                field: "Class",
                                title: "Class",
                                sortable: true 
                            }, {
                                field: "SentTo",
                                title: "SentTo",
                                sortable: true
                            },{
                                field: "Message",
                                title: "Message",
                                template: '#if(Message.length >13){#<i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=Message#"><font >#=Message.substr(0,22)#...</font></i>#}'
                                                       + 'else{#<div class="" >#=Message#</div>#}#'
                            }, {
                                field: "SentTime",
                                title: "SentTime",
                                sortable: true
                            }, {
                                field: "DelieveryTime",
                                title: "DelieveryTime",
                                sortable: true
                            }, {
                                field: "DelieveryStatus",
                                title: "Status",
                                sortable: true
                            }]
                        });
                        var grid = $("#MessageQueue_list").data("kendoGrid");
                    });

                    function onDataBound(arg) {
                        $('[data-toggle="tooltip"]').tooltip();
                    }

                    function additionalData() {
                        var data = {
                            AdmnNo: $('#AdmsnRegNo').val(),
                            EncStudentId: $('#EncStudentId').val(),
                            ClassId: $('#ClassId').val(),
                            Status: $('#StatusId').val(),
                            SentFrom: $("#SentFromDateTime").val(),
                            SentTo: $("#SentToDateTime").val()
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                    addAntiForgeryToken = function (data) {
                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                </script>
            </div>
        </div>
    </div>

</form>

<script>
    $("#SentFromDateTime").kendoDateTimePicker({
      //  value: new Date,
        format: "dd/MM/yyyy hh:mm"
    });
    $("#SentFromDateTime").attr('readonly', true);

    $("#SentToDateTime").kendoDateTimePicker({
     //   value: new Date,
        format: "dd/MM/yyyy hh:mm"
    });
    $("#SentToDateTime").attr('readonly', true);

    $("#filter").click(function () {
        var grid = $("#MessageQueue_list").data("kendoGrid");
        grid.dataSource.page(1);
    });
    $("#reset").click(function () {
        $('#ks_loader').show();
        Clear();
        var grid = $("#MessageQueue_list").data("kendoGrid");
        grid.dataSource.page(1);
        $('#ks_loader').hide();
    });
    function Clear() {
        $('#AdmsnRegNo').val("");
        $('#ClassId').val("");
        $("#EncStudentId").html("");
        $('#EncStudentId').val("");
        $('#ClassId').trigger('change');
        $("#StatusId").val("");
        $("#SentFromDateTime").val("");
        $("#SentToDateTime").val("");
    }
    @*$('#AdmsnRegNo').blur(function () {
        $('#ks_loader').show();
        var admnno = $('#AdmsnRegNo').val();
        $('#ClassId').val('');
        $('#EncStudentId').html('');
        $("#EncStudentId").append("<option value=''>--Select Student--</option>");
        //var sessionId = $("#modelSessionid").val();
        //if (sessionId == "" || sessionId == null) {
        //    alert("Please Select Session");
        //    return false;
        //}
        if (admnno != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                async: false,
                url: '@Html.Raw(Url.Action("GetStudentClassByRegNo", "Messenger"))',
                data: { "AdmnNo": admnno },
                success: function (result) {
                    if (result.status == "success") {
                        $('#EncStudentId').html('');

                        if (result.Class > 0) {
                            $('#ClassId').val(result.Class);
                            $('#ClassId').trigger('change');
                            if (result.Student != "" && result.Student != null)
                                $('#EncStudentId').val(result.Student);
                            $('#AdmsnRegNo').val(admnno)
                        }
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#StudentId').html('');
                        $("#EncStudentId").append("<option selected value=''>--Select Student--</option>");
                        $('#AdmsnRegNo').val('');
                        $('#AdmsnRegNo').focus();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        $('#ks_loader').hide();
    })*@

    $("#ClassId").change(function () {
        var classid = $("#ClassId").val();
       
        $("#EncStudentId").val("");
        $("#EncStudentId").html("");
   //--//     $('#AdmsnRegNo').val("");
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                async: false,
                url: '@Html.Raw(Url.Action("GetStudentList", "Messenger"))',
                data: { "ClassId": classid },
                success: function (result) {
                    $("#EncStudentId").empty();
                    $.each(result.StudentList, function (value, data) {
                        $("#EncStudentId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                    })
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    $('#ks_loader').hide();
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });

    });
    @*$("#EncStudentId").change(function () {
        var classid = $("#ClassId").val();
        var studentId = $("#EncStudentId").val();
        if (studentId != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                async: true,
                url: '@Html.Raw(Url.Action("GetRegNoByStudentId", "Messenger"))',
                data: { "studentId": studentId },
                success: function (result) {
                    if (result.status == "success") {
                        $("#AdmsnRegNo").val(result.AdmnNo);
                        $('#ks_loader').hide();
                    }
                    else {
                        $("#EncStudentId").val("");
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, data) {
                    $('#ks_loader').hide();
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            $("#AdmsnRegNo").val("");
        }
    })*@
  
</script>