﻿@model ViewModel.ViewModel.Messenger.MessengerModel
@{
    ViewBag.Title = "Send Message";
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
   
    <div class="col-md-6">
        <h1>Send Message</h1>
      
    </div>
    <div class="col-md-6" style="display:flex;align-items:center;justify-content:flex-end;">
        <label class="control-label" style="margin-right:8px">Select Session:</label><!-- Form Label -->
        @Html.DropDownListFor(m => m.SessionId, Model.AvailableSessions, new { @id = "sessionId", @class = " form-control", @style = "width: 150px;float:left" })
    </div>
        <div class="col-md-6 text-right">
            @if (Model.IsAuthToViewMessage)
            {
                <a href="@Url.Action("List","Messenger") " id=" " class=" btn btn-xs btn-default">Back to list</a>
            }
        </div>
    </div>
<!-- //Page Heading -->

<div class="row">

    <div class="col-md-12">
        @using (Html.BeginForm("SendMessage", "Messenger", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_createSendMessage", Model)
        }
    </div>
</div>


