﻿@model ViewModel.ViewModel.Messenger.SMSNotificationModel
@{
    var defaultGridPageSize = 10;
    var gridPageSizes = Model.gridPageSizes;
    Layout = null;
}
<div id="ShowAllUsers-grid">

</div>
<script>
    $(document).ready(function () {
        $("#ShowAllUsers-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ShowAllUsersList", "Messenger"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalData
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            //sortable: {
            //    mode: "multiple",
            //    allowUnsort: false
            //},
            columns: [{
                field: "Name",
                title: "Name",
                width:100
            },
            {
                field: "UserName",
                title: "User Id",
                width:100
            }, {
                field: "MobileNo",
                title: "Mobile No",
                width:100
            }, {
                field: "CreatedDate",
                title: "Created Date",
                width:100
            }]
        });

        var grid = $("#ShowAllUsers-grid").data("kendoGrid");

    });

    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }




    function additionalData() {
          @{ <text>
            if($('#IsSMS').prop('checked')) {
              var  IsSMS = true;
            } else {
               var IsSMS = false;
          }
        if ($('#IsNotification').prop('checked')) {
            var IsNotification = true;
        } else {
            var IsNotification = false;
        }
        if ($('#IsNonAppUserSMS').prop('checked')) {
            var IsNonAppUserSMS = true;
        } else {
            var IsNonAppUserSMS = false;
        }
        </text>}
        var data = {
            ContacttypeId:$('#contacttype').val(),
            IsSMS:IsSMS,
            IsNotification:IsNotification,
            IsNonAppUserSMS:IsNonAppUserSMS,
            UserTypeId : $('#UserTypeId').val(),
            MessagePermissionId : $('#msgpermission').val(),
            ContacttypeId : $('#contacttype').val(),
            SelectedClassId : $('#classes').val(),
            UserId : $('#users-dropdown').val(),
            MessageTitle : $('#MessageTitle').val(),
            MessageDecription : $('#MessageDecription').val(),
            LanguageId : $('#LanguageId').val(),
            RecipientStudentType : $('#AvailableRecipientStudentType  option:selected').text(),
            AttendanceStatus : $('#AvailableAttendanceStatus  option:selected').text(),
            EncUserTypeId:$('#usertypeid').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
</script>