﻿
@model ViewModel.ViewModel.Messenger.SMSCustomGroupModel
@{
    ViewBag.Title = "SMS Custom Group";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style>
    .selectedDiv {
        background: #ddd !important;
    }

    #results {
        float: right;
        margin: 20px;
        padding: 20px;
    }
   
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>SMS Custom Group</h1>
    </div>
    <div class="row top-space-10 text-right">
        <a title="Search" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="btn btn-default btn-xs" id="FilterUser">Filters</a>
        <a title="Add" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="btn btn-default btn-xs" id="addnewRecipient">Add New Recipient</a>
        @*<a title="Back" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" style="display:none" class="btn btn-default btn-xs" id="backToFilter">back</a>*@
    </div>
</div>
    <div class="top-space-10">
        <div class="row addnewdiv editrcp" style="display:none">
            <div class="col-md-4">
                <label class="control-label">SMS Custom Group</label>
                @Html.DropDownList("SmsCustomGroupId", Model.AvailableSmsCustomGroupList, new { @class = "form-control", @style = "width:100%" })
            </div>
            <div class="col-md-4">
                <label class="control-label">Contact Type</label>
                @Html.DropDownList("ContactTypeId", Model.ContactTypeList, new { @class = "form-control", @style = "width:100%" })
            </div>
            <div class="col-md-4">
                <label class="control-label">MobileNo</label>
                @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", @placeholder = "Mobile No", @maxlength = "10", @onkeypress = "return isNumberKey(event)" })
            </div>
        </div>
        <div class="row filterdiv" style="display:none">
            <div class="col-md-3">
                <label class="control-label">SMS Custom Group</label>
                @Html.DropDownList("filterSmsCustomGroupId", Model.AvailableSmsCustomGroupList, new { @class = "form-control", @style = "width:100%" })
            </div>
            <div class="col-md-3">
                <label class="control-label">Contact Type</label>
                @Html.DropDownList("filterContactTypeId", Model.ContactTypeList, new { @class = "form-control", @style = "width:100%" })
            </div>
            <div class="col-md-3">
                <label class="control-label">Recipient Name</label>
                @Html.TextBoxFor(model => model.RecipientName, new { @id = "filterRecipientName", @class = "form-control", @placeholder = "Recipient Name", @maxlength = "20" })
            </div>
            <div class="col-md-3">
                <label class="control-label">MobileNo</label>
                @Html.TextBoxFor(model => model.MobileNo, new {@id="filterMobileNo", @class = "form-control", @placeholder = "Mobile No", @maxlength = "10", @onkeypress = "return isNumberKey(event)" })
            </div>
            <div class="col-md-12 top-space-10 text-right">
                <button type="button" id="filter_grid"  class="btn btn-success">
                    Filter
                </button>
                <button type="button" id="cancel_filter"  class="btn btn-default">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="row InfoDiv" style="display:none;margin-top: 15px;">
        <div class="userInfo">
        </div>
        <div class="col-md-12 top-space-10 text-right addusrbtn" style="display:none">
            <button type="button" id="save_CustomGroup"  style="" class="btn btn-success">
                Save
            </button>
            <button type="button" id="Cancel_CustomGroup" style="" class="btn btn-default">
                Cancel
            </button>
        </div>
    </div>
    <div class="addNew" style="display:none;margin-top:15px;background: #e2e2e2">
        <fieldset>
            <legend>Add New Recipient</legend>

            <div class="col-md-3">
                <label class="control-label">Recipient Name</label>
                @Html.TextBoxFor(model => model.RecipientName, new { @class = "form-control", @placeholder = "Recipient Name", @maxlength = "20" })
            </div>
            <div class="col-md-3">
                <label class="control-label">Recipient Title</label>
                @Html.TextBoxFor(model => model.RecipientTitle, new { @class = "form-control", @placeholder = "Recipient Title", @maxlength = "20" })
            </div>
            <div class="col-md-3">
                <label class="control-label">Recipient Image</label>
                <input type="file" accept="image/*" class="form-control" name="StaffPhoto" id="Staff-Photo" />
                <button type='button' class='capturephoto btn btn-xs' dataid="Staff"
                        style="float:right">
                    <i class='fa fa-camera'></i>
                </button>
                <img src="" class="uploadedimg" style="display:none" height="42" width="42">
                @*@Html.HiddenFor(m => m.RecipientImage)*@
                @Html.HiddenFor(m => m.StaffImagepath)
            </div>

            <div class="col-md-3" style="margin-top:24px">
                <button type="button" id="save_NewCustom" style="" class="btn btn-success">
                    Save
                </button>
                <button type="button" id="Cancel_NewCustom" style="" class="btn btn-default">
                    Cancel
                </button>
            </div>
        </fieldset>
    </div>

    <div class="row top-space-20 filtergrid">
        <div class="col-md-12">
            <div id="smsgrprcpnts_grid"></div>
            <script>
            $(document).ready(function () {
                $("#smsgrprcpnts_grid").kendoGrid({
                   dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SelectSmsGroupRecipients", "Messenger"))",
                             type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function (data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    // dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [{
                        field: "SMSCustomGroupName",
                        title:"SMSCustomGroupName",
                    },{
                        field: "RecipientName",
                        title:"RecipientName",
                    },{
                        field: "RecipientTitle",
                        title: "RecipientTitle",
                        sortable: false,
                    },{
                        field: "MobileNo",
                        title: "MobileNo",
                    },{
                        field: "Image",
                        title: "RecipientImage",
                        sortable: false,
                        template: '#if(RecipientImage!="" && RecipientImage!=null){# <img src="#=RecipientImage#" alt="#=RecipientName#" style="width: 70px;height: 60px;">#}else{#<label style=""></label>#}#'
                        }, {
                        field: "strContactType",
                        title: "ContactType",
                    },{
                        title: "Action",
                        sortable: false,
                        width: 100,
                            template:
                            '#if(strContactType==""||strContactType==null){#<a title="Edit Recipient" data-toggle="tooltip" data-placement="top" data-mobile="#=MobileNo#" data-name="#=RecipientName#" data-title="#=RecipientTitle#" data-id="#=SMSCustomGroupRecipientId#" data-SMSCustomGroupId="#=SMSCustomGroupId#" class="editRecipient btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                            +
                            '<a title="Delete Recipient" data-toggle="tooltip" data-placement="top" data-id="#=SMSCustomGroupRecipientId#" class="delete btn btn-xs btn-default"><i class="fa fa-trash"></i></a>'
                        }]
              });
            });
            </script>
        </div>
    </div>
    <div class="modal-popup" id="CaptureImage" hidden>
        <div class="modal-popup-body custom-modal-popup" style="margin-right: 585px;">
            <div class="modal-content" style="width: 740px;">
                <div class="modal-header">
                    <h4 class="modal-title">Capture Image</h4>
                </div>
                <div class="row modal-body">
                    <div style="margin-left:20px; width: 980px; text-align: center">
                        <div id="results" style="margin-right: 300px;margin-top: -19px;width: 320px;height: 240px"></div>
                        <div id="my_camera"></div>
                        <input type=button value="Capture" onclick="take_snapshot()" style="margin-top: 10px;margin-left: -13px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="save" class="btn btn-danger " id="close_CaptureImagediv">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-popup" id="editrcp" hidden>
        <div class="modal-popup-body" style="width: 60%;">
            <div class="modal-content" style="">
                <div class="modal-header">
                    <h4 class="modal-title">Update Recipient</h4>
                </div>
                <div class="row modal-body">
                    <div class="col-md-4">
                        <label class="control-label">SMS Custom Group</label>
                        @Html.DropDownList("SmsCustomGroupId", Model.AvailableSmsCustomGroupList, new {@id="UpdateSmsCustomGroupId", @class = "form-control", @style = "width:100%" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">MobileNo</label>
                        @Html.TextBoxFor(model => model.MobileNo, new {@id="UpdateMobileNo", @class = "form-control", @placeholder = "Mobile No", @maxlength = "10", @onkeypress = "return isNumberKey(event)" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Recpient Name</label>
                        @Html.TextBoxFor(model => model.RecipientName, new {@id="UpdateRecipientName", @class = "form-control", @placeholder = "Recipient Name", @maxlength = "20" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Recipent Title</label>
                        @Html.TextBoxFor(model => model.RecipientTitle, new {@id="UpdateRecipientTitle", @class = "form-control", @placeholder = "Recipent Title", @maxlength = "20" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Recipent Image</label>
                        <input type="file" accept="image/*" class="form-control" name="StaffPhoto" id="UpdateStaff-Photo" />
                        <button type='button' class='capturephoto btn btn-xs' dataid="Staff"
                                style="display:none;float:right">
                            <i class='fa fa-camera'></i>
                        </button>
                        <img src="" class="Updateuploadedimg" style="display:none" height="42" width="42">
                        <input hidden id="UpdateStaffImagepath" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="Update" class="btn btn-danger " id="Update_Recipient">
                        Update
                    </button>
                    <button type="button" name="Cancel" class="btn btn-default " id="close_Updatediv">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
     function additionalData() {
        var data = {
            SMSCustomGroupId:$("#filterSmsCustomGroupId").val(),
            MobileNo : $("#filterMobileNo").val(),
            RecipientName:$("#filterRecipientName").val(),
            ContactType:$("#filterContactType").val(),
        };
        return data;
            }
             addAntiForgeryMasterToken = function (data) {
            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
            return data;
        };
    $("#MobileNo").blur(function () {
        $(".userInfo").html("");
        $(".InfoDiv").hide();
        $(".addNew").hide();
        var cntcttype = $("#ContactTypeId").val();
        $(".addusrbtn").hide();
        if (cntcttype == "" || cntcttype == null) {
            ToastMessage("Please Select Contact Type.", "error", true, 5000);
            return false;
        }
        if ($("#MobileNo").val() != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                url: "@Html.Raw(Url.Action("InfoByContactNo", "Messenger"))",
                data: jQuery.param({ "MobileNo":$("#MobileNo").val(),"contacttypeid": cntcttype,"smsgrprcpntid":$("#SmsCustomGroupId").val()}),
                success: function (result) {
                    if (result.status = "success") {
                        if (result.UserList.length > 0) {
                             var teacherhtml = "";var Studenthtml = ""; var grdhtml = "";
                            if (cntcttype == "" || cntcttype == null) {
                                Studenthtml += '<div class="col-md-4 top-space-10"><h3 style="color: #8a3f3f;">Student :</h3>'
                                grdhtml += '<div class="col-md-4 top-space-10"><h3 style="color: #8a3f3f;">Guardian :</h3>'
                                teacherhtml +=  '<div class="col-md-4 top-space-10"><h3 style="color: #8a3f3f;">Staff :</h3>'
                               }
                            $.each(result.UserList, function (value, data) {
                                if (data.ContactType == "teacher" || data.ContactType =="non-teacher") {
                                    teacherhtml += '<div class="student_profile" style="width:350px">'
                                    if (data.UserId != "" && data.UserId != null && data.UserId != 0) {
                                        if (data.IsAlreadyAdded == true) {
                                            teacherhtml += '<div class="col-md-4 profile-right" usertype="' + data.ContactType + '" data-userid="' + data.UserId + '" style="width: 350px;height: 165px;">'
                                        } else {
                                            teacherhtml += '<div class="col-md-4 profile-right selectableDiv" usertype="' + data.ContactType + '" data-userid="' + data.UserId + '" style="width: 350px;height: 165px;">'
                                        }

                                    } else {
                                          teacherhtml += '<div class="col-md-4 profile-right" usertype="' + data.ContactType + '" style="width:  350px;height: 165px;">'
                                    }
                                    teacherhtml += '<div class="col-md-7" style="margin-top: 16px;">'
                                    teacherhtml += '<h3>' + data.Username + '</h3>'
                                    if (data.EmpCode != "" && data.EmpCode != null) {
                                        teacherhtml += '<p>Emp Code: ' + data.EmpCode + '</p>'
                                    }
                                    if (data.Department != null && data.Department != "") {
                                        teacherhtml += '<p>Department: ' + data.Department + '</p>'
                                    }
                                    if (data.Designation != null && data.Designation != "") {
                                        teacherhtml += '<p>Designation: ' + data.Designation + '</p>'
                                    }
                                    teacherhtml += '</div>'
                                    teacherhtml += '<div class="col-md-5">'
                                    teacherhtml += '<div class="img-thumbal" style="width: 100px;height: 100px;"><img class="img-responsive" style="width:100px;height: 100px;" src="' + data.ImagePath + '" /></div>'
                                    teacherhtml += '</div>'
                                    teacherhtml += '</div>'
                                    teacherhtml += '</div>'
                                }
                                else if (data.ContactType == "student") {

                                    Studenthtml += '<div class="student_profile" style="width:350px">'
                                    if (data.UserId != "" && data.UserId != null && data.UserId != 0) {
                                        if (data.IsAlreadyAdded == true) {
                                            Studenthtml += '<div class="col-md-4 profile-right" usertype="' + data.ContactType + '" data-userid="' + data.UserId + '" style="width: 350px;height: 165px;">'
                                        } else {
                                            Studenthtml += '<div class="col-md-4 profile-right selectableDiv" usertype="' + data.ContactType + '" data-userid="' + data.UserId + '" style="width: 350px;height: 165px;">'
                                        }
                                    } else {
                                          Studenthtml += '<div class="col-md-4 profile-right" usertype="' + data.ContactType + '" style="width:  350px;height: 165px;">'
                                    }
                                    Studenthtml += ' <div class="col-md-7" style="margin-top: 16px;">'
                                    Studenthtml += '<h3>' + data.Username + '</h3>'
                                    if (data.Class != "" && data.Class != null) {
                                        Studenthtml += '<p>Class: ' + data.Class
                                        if (data.RollNo != "" && data.RollNo != null) {
                                             Studenthtml += "("+data.RollNo+")"
                                        }
                                          Studenthtml +=  '</p>'
                                    }
                                    if (data.GuardianRelation == "father") {
                                        Studenthtml += '<p>Father Name: ' + data.GuardianName + '</p>'
                                    } else if (data.GuardianRelation == "mother") {
                                        Studenthtml += '<p>Mother Name: ' + data.GuardianName + '</p>'
                                    } else if (data.GuardianRelation == "guardian") {
                                        Studenthtml += '<p>Guardian Name: ' + data.GuardianName + '</p>'
                                    }
                                     Studenthtml += '</div>'
                                     Studenthtml += '<div class="col-md-5">'
                                    Studenthtml += '<div class="img-thumbal" style="width: 100px;height: 100px;"><img class="img-responsive" style="width:100px;height: 100px;" src="' + data.ImagePath + '" /></div>'
                                    Studenthtml += '</div>'
                                    Studenthtml += '</div>'
                                    Studenthtml += '</div>'
                                }
                                else if (data.ContactType == "guardian") {

                                    grdhtml += '<div class="student_profile" style="width:350px">'
                                    if (data.UserId != "" && data.UserId != null && data.UserId != 0) {
                                        if (data.IsAlreadyAdded == true) {
                                            grdhtml += '<div class="col-md-4 profile-right" usertype="' + data.ContactType + '" data-userid="' + data.UserId + '" style="width:  350px;height: 165px;">'
                                        }
                                        else {
                                            grdhtml += '<div class="col-md-4 profile-right selectableDiv" usertype="' + data.ContactType + '" data-userid="' + data.UserId + '" style="width:  350px;height: 165px;">'
                                        }
                                    } else {
                                          grdhtml += '<div class="col-md-4 profile-right" usertype="' + data.ContactType + '"  style="width:  350px;height: 165px;">'
                                    }
                                    grdhtml += ' <div class="col-md-7" style="margin-top: 16px;">'
                                    grdhtml += '<h3>' + data.Username + '</h3>'
                                   if (data.GuardianStudentName != "" && data.GuardianStudentName != null) {
                                        grdhtml += '<p>Student Name: ' + data.GuardianStudentName + '</p>'
                                    }
                                     if (data.GuardianRelation != "" && data.GuardianRelation != null) {
                                        grdhtml += '<p>Relation: ' + data.GuardianRelation + '</p>'
                                    }
                                      grdhtml += '</div>'
                                     grdhtml += '<div class="col-md-5">'
                                    grdhtml += '<div class="img-thumbal" style="width: 100px;height: 100px;"><img class="img-responsive" style="width:100px;height: 100px;" src="' + data.ImagePath + '" /></div>'
                                    grdhtml += '</div>'
                                    grdhtml += '</div>'
                                    grdhtml += '</div>'
                                }
                            })
                            if (cntcttype != "" || cntcttype == null) {
                                Studenthtml += '</div>'
                                grdhtml += '</div>'
                                teacherhtml +=  '</div>'
                               }
                          //  if (Studenthtml != "") {
                                //$(".userInfo").append('<div class="col-md-4 top-space-10"><h3 style="color: #8a3f3f;">Student :</h3></div>');
                                  $(".userInfo").append(Studenthtml);
                           // }
                            // if (grdhtml != "") {
                                //$(".userInfo").append('<div class="col-md-4 top-space-10"><h3 style="color: #8a3f3f;">Guardian :</h3></div>');
                                  $(".userInfo").append(grdhtml);
                            //}
                           // if (teacherhtml != "") {
                                //$(".userInfo").append('<div class="col-md-4 top-space-10"><h3 style="color: #8a3f3f;">Teacher :</h3></div>');
                                  $(".userInfo").append(teacherhtml);
                            //}
                             $(".addusrbtn").show();
                              $(".InfoDiv").show();
                            $('#ks_loader').hide();
                        }
                        else {
                             $(".addusrbtn").hide();
                            $(".InfoDiv").hide();
                            $(".addNew").show();
                            ToastMessage("Contact Not Found", "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    }
                    else {
                        var err = "Error " + " " + result.data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        } else {
            ToastMessage("Please Provide Mobile No.", "error", true, 5000);
            return false;
        }
    })
    $("#SmsCustomGroupId").change(function () {
        if ($("#MobileNo").val() != "") {
            $("#MobileNo").trigger('blur');
        }
    });
    $("#filter_grid").click(function () {
        var grid = $('#smsgrprcpnts_grid').data('kendoGrid');
        grid.dataSource.page(1);
    });
    $("#cancel_filter").click(function () {
        $("#filterSmsCustomGroupId").val("");
        $("#filterMobileNo").val("");
        $("#filterRecipientName").val("");
        $("#filterContactTypeId").val("");
        var grid = $('#smsgrprcpnts_grid').data('kendoGrid');
        grid.dataSource.page(1);
    });

    $("#ContactTypeId").change(function () {
        $(".userInfo").html("");
        $(".InfoDiv").hide();
        $(".addNew").hide();
        $(".addusrbtn").hide();
        if ($("#MobileNo").val() != "" && $("#ContactTypeId").val() != "" || $("#ContactTypeId").val() != null) {
            $("#MobileNo").trigger('blur');
        }
    })

    $(document).on('click', '.selectableDiv', function () {
        var thisdiv = $(this);
        if (thisdiv.hasClass("selectedDiv")==false) {
            thisdiv.addClass("selectedDiv");
        } else {
             thisdiv.removeClass("selectedDiv");
        }
        //if($('#filter_tptroute_div').css('display') != 'none' ){
    })

    $("#save_CustomGroup").click(function () {
        var StudentIds = [];
        var StaffIds = [];
        var GuardianIds = [];
        var ifAnySelected = $(".selectedDiv").length;
        var SMSCustomGroupId = $("#SmsCustomGroupId").val();
        var MobileNo = $("#MobileNo").val();
        if (SMSCustomGroupId == "" || SMSCustomGroupId == null || SMSCustomGroupId == 0) {
                ToastMessage("Please Select SMS Custom Group", "error", true, 5000);
             $('#ks_loader').hide();
            return false;
        }
         if (MobileNo == "" || MobileNo == null) {
                ToastMessage("Mobile No. Required", "error", true, 5000);
             $('#ks_loader').hide();
            return false;
        }
        if (ifAnySelected < 1) {
             ToastMessage("Please Select User", "error", true, 5000);
             $('#ks_loader').hide();
            return false;
        }

        $(".selectedDiv").each(function () {
            if ($(this).attr("usertype") == "student") {
                StudentIds.push(parseInt($(this).attr("data-userid")));
            }else if ($(this).attr("usertype") == "guardian") {
                GuardianIds.push(parseInt($(this).attr("data-userid")));
            }else if ($(this).attr("usertype") == "teacher" || $(this).attr("usertype") == "non-teacher") {
                StaffIds.push(parseInt($(this).attr("data-userid")));
            }
        })
        $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SaveSMSCustomGroup", "Messenger"))',
                data: { "SMSCustomGroupId":SMSCustomGroupId,"MobileNo":MobileNo, "StudentIds": StudentIds,"StaffIds": StaffIds, "GuardianIds" : GuardianIds},
                success: function (result) {
                    $('#ks_loader').show();
                    if (result.status == "success") {
                        clear();
                         ToastMessage(result.msg, "success", true, 5000);
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
    })
    $("#Cancel_CustomGroup").click(function () {
         $(".userInfo").html("");
        $(".InfoDiv").hide();
        $(".addusrbtn").hide();
        $("#ContactTypeId").val("");
        $("#MobileNo").val("");
        $(".addNew").hide();
        $("#SmsCustomGroupId").val("");
         $("#RecipientName").val("");
        $("#RecipientTitle").val("");
        $("#StaffImagepath").val("");
        $('#Staff-Photo').val("");
    })
    function clear() {
         editsmsGrouprcpntId = "";
        $("save_NewCustom").html("Save");
         $(".userInfo").html("");
        $(".InfoDiv").hide();
        $(".addusrbtn").hide();
        $("#ContactTypeId").val("");
        $("#MobileNo").val("");
        //  $(".addNew").hide();
        $("#SmsCustomGroupId").val("");
        $("#StaffImagepath").val("");
        $("#RecipientName").val("");
        $("#RecipientTitle").val("");
        $('#Staff-Photo').val("");
        $(".uploadedimg").attr("src", "");
        $("#UpdateMobileNo").val("");
        $("#UpdateRecipientName").val("");
        $("#UpdateRecipientTitle").val("");
        $("#UpdateSmsCustomGroupId").val("");
        $(".Updateuploadedimg").attr("src");
        $('#UpdateStaff-Photo').val("");
        var grid = $('#smsgrprcpnts_grid').data('kendoGrid');
        grid.dataSource.page(1);
        }
    function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;

    return true;
    }
    $("#save_NewCustom").click(function () {
        var MobileNo = $("#MobileNo").val();
        var SmsCustomGroupId = $("#SmsCustomGroupId").val();
        var RecipientName = $("#RecipientName").val();
        var RecipientTitle = $("#RecipientTitle").val();
           $('#ks_loader').show();
        if (SmsCustomGroupId == "" || SmsCustomGroupId == null || SmsCustomGroupId == 0) {
                ToastMessage("Please Select SMS Custom Group", "error", true, 5000);
             $('#ks_loader').hide();
            return false;
        }
        if (MobileNo == "" || MobileNo == null) {
            ToastMessage("Mobile No. Required", "error", true, 5000);
            $('#ks_loader').hide();
        return false;
        }
         if (RecipientName == "" || RecipientName == null) {
            ToastMessage("Please Provide Recipient Name", "error", true, 5000);
            $('#ks_loader').hide();
          return false;
        }
        var photo = "";
        if ($(".uploadedimg").attr("src") != "") {
            var splittedpath = $(".uploadedimg").attr("src").split('/');
            var photo = splittedpath[splittedpath.length - 1];
        }
         $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SaveSMSCustomGroupNewRecipient", "Messenger"))',
                data: { "SMSCustomGroupId": SmsCustomGroupId, "MobileNo": MobileNo, "RecipientName":RecipientName,"RecipientTitle":RecipientTitle,"StaffImagepath":photo },
                success: function (result) {
                    $('#ks_loader').show();
                    if (result.status == "success") {
                        if (result.SMSCustomGroupRecipientId != "" && photo=="") {
                            if ($('#Staff-Photo').val() != "") {
                                var uniqueno = parseInt(result.SMSCustomGroupRecipientId);
                                StaffProfileImageUpload(uniqueno, uniqueno, 1);
                            } 
                            }
                        $(".addNew").hide();
                        clear();
                        ToastMessage(result.msg, "success", true, 5000);
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
    })
    $("#Cancel_NewCustom").click(function () {
        $("#ContactTypeId").val("");
        $("#MobileNo").val("");
        $("#SmsCustomGroupId").val("");
        $("#StaffImagepath").val("");
        $("#RecipientName").val("");
        $("#RecipientTitle").val("");
         $(".uploadedimg").attr("src", "");
        $(".uploadedimg").hide();
        $(".addNew").hide();
    })
    var eimage ;
    $('#Staff-Photo').on('change', function (e) {
        eimage = e;
        $(".uploadedimg").attr("src", "");
     // var uniqueno = 0;
    //// //   var imagename = StaffProfileImageUpload(e, uniqueno, uniqueno, 1);
    ////    $('#StaffImagepath').val(imagename);
   });
         $(document).on("click", ".capturephoto", function () {
        $("#CaptureImage").show();
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
         })

         $(document).on("click", "#close_CaptureImagediv", function () {
        $("#CaptureImage").hide();
        $('#results').html('');
         })

      //save the uploaded file
    function StaffProfileImageUpload(uniqueno, uniqueimage, IsPhoto) {
      //  var imagepath = "";
        var newfiles=$()
        var files = eimage.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                data.append("uniqueno", uniqueno);
                data.append("uniqueimage", uniqueimage);
                data.append("IsPhoto", IsPhoto);

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UploadRecipientProfileImage", "Messenger"))',
                    async: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "success") {
                            alert(result.msg);
                           // imagepath = result.path;
                        }
                        else {
                            alert(result.msg);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        alert(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
      //  return imagepath;
    }
    function take_snapshot() {
          Webcam.snap(function (data_uri) {
              eimage = "";
            document.getElementById('results').innerHTML =
                '<img id="show" src="'+data_uri+'"/>';

            Webcam.reset();

            var image = data_uri.replace('data:image/jpeg;base64,', '');

            $.ajax({
                type: "POST",
                url: '/KSChild/Messenger/Capture',
                data: {"image":image},
                success: function (res) {
                    $.ajax({
                        type: 'POST',
                        url: ("/KSChild/Messenger/Rebind/"),
                        dataType: 'json',
                        success: function (data) {
                            $("#show").attr("src", data);
                            $("#StaffImagepath").val(data);
                            alert("Photo Captured successfully!");
                        }
                    });
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });
        })
    }
    $(document).on('click', '.delete', function () {
        var id = $(this).attr('data-id');
        if (id != "" && id != null) {
            if (window.confirm("Are you sure you want to delete?")) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeleteSMSCustomGroupRecipient", "Messenger"))',
                    data: { "SMSCustomGroupRecipientId": id },
                    success: function (result) {
                        $('#ks_loader').show();
                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                            var grid = $('#smsgrprcpnts_grid').data('kendoGrid');
                            grid.dataSource.page(1);
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        } else {
            ToastMessage("Mobile No. Required", "error", true, 5000);
            $('#ks_loader').hide();
            return false;
        }
    });
    $("#addnewRecipient").click(function () {
        editsmsGrouprcpntId = "";
        $("save_NewCustom").html("Save");
        $("#MobileNo").val("");
        $(".addNew").hide();
        $("#SmsCustomGroupId").val("");
        $("#RecipientName").val("");
        $("#RecipientTitle").val("");
        $("#StaffImagepath").val("");
        $('#Staff-Photo').val("");
        $(".userInfo").html("");
        $(".InfoDiv").hide();
        $(".filterdiv").hide();
        if ($('.addnewdiv').css('display') != 'none') {
            $(".addnewdiv").hide();
            $(".filtergrid").show();
        } else {
            $(".addnewdiv").show();
            $(".filtergrid").hide();
        }
    });
    $("#FilterUser").click(function () {
        $(".addnewdiv").hide();
        $(".addNew").hide();
        $(".userInfo").html("");
        $(".InfoDiv").hide();
        $(".filtergrid").show();
        if ($('.filterdiv').css('display') != 'none') {
            $(".filterdiv").hide();
        } else {
            $(".filterdiv").show();
        }
    });

    //data-mobile="#=MobileNo#" data-name="#=RecipientName#" data-title="#=RecipientTitle#" data-id="#=SMSCustomGroupRecipientId#"
    $("#Cancel_CustomGroup").click(function () {
        clear();
    });
    var editsmsGrouprcpntId = "";
    $(document).on("click", ".editRecipient", function () {
        editsmsGrouprcpntId = $(this).attr("data-id");
        $(".filterdiv").hide();
        $("#editrcp").show();
        //  $("#save_NewCustom").html("Update");
        $("#UpdateMobileNo").val($(this).attr("data-mobile"));
        $("#UpdateRecipientName").val($(this).attr("data-name"));
        $("#UpdateRecipientTitle").val($(this).attr("data-title"));
        $("#UpdateSmsCustomGroupId").val($(this).attr("data-SMSCustomGroupId"));
    });
     $("#Update_Recipient").click(function () {
        var MobileNo = $("#UpdateMobileNo").val();
        var SmsCustomGroupId = $("#UpdateSmsCustomGroupId").val();
        var RecipientName = $("#UpdateRecipientName").val();
         var RecipientTitle = $("#UpdateRecipientTitle").val();
         if (editsmsGrouprcpntId == "" || editsmsGrouprcpntId == null) {
             ToastMessage("Invalid Details", "error", true, 5000);
             return false;
         }
         $('#ks_loader').show();
         if (SmsCustomGroupId == "" || SmsCustomGroupId == null || SmsCustomGroupId == 0) {
                ToastMessage("Please Select SMS Custom Group", "error", true, 5000);
             $('#ks_loader').hide();
            return false;
        }
         if (MobileNo == "" || MobileNo == null) {
            ToastMessage("Mobile No. Required", "error", true, 5000);
            $('#ks_loader').hide();
        return false;
        }
         if (RecipientName == "" || RecipientName == null) {
            ToastMessage("Please Provide Recipient Name", "error", true, 5000);
            $('#ks_loader').hide();
          return false;
        }
        var photo = "";
        if ($(".Updateuploadedimg").attr("src") != "") {
            var splittedpath = $(".Updateuploadedimg").attr("src").split('/');
            var photo = splittedpath[splittedpath.length - 1];
        }
         $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SaveSMSCustomGroupNewRecipient", "Messenger"))',
                data: { "SMSCustomGroupId": SmsCustomGroupId, "MobileNo": MobileNo, "RecipientName":RecipientName,"RecipientTitle":RecipientTitle,"StaffImagepath":photo,"editsmsGrouprcpntId":editsmsGrouprcpntId },
                success: function (result) {
                    $('#ks_loader').show();
                    if (result.status == "success") {
                        if (result.SMSCustomGroupRecipientId != "" && photo=="") {
                            if ($('#UpdateStaff-Photo').val() != "") {
                                var uniqueno = parseInt(result.SMSCustomGroupRecipientId);
                                StaffProfileImageUpload(uniqueno, uniqueno, 1);
                            } 
                            }
                        $("#editrcp").hide();
                        clear();
                        ToastMessage(result.msg, "success", true, 5000);
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
     })
    $("#close_Updatediv").click(function () {
          $("#editrcp").hide();
    })
    </script>

