﻿@model ViewModel.ViewModel.Messenger.SMSNotificationDetailModel
@{
    ViewBag.Title = "SMS Notification Detail";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style>
    rect {
    fill: #efefef;
}
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>

    <div class="col-md-6">
        <h1>SMS Notifications Detail</h1>
    </div>

</div>

<div class="row top-space-10">
    <div class="col-md-12">
      
            <div class="row" style="background:#efefef">
              
                <div class="col-md-6" style="padding: 35px 0 0;">
                    <div class="col-md-3">
                        <label>Sent</label><br />
                        <label>Delivered</label><br />
                        <label>Rejected</label><br />
                        <label>Failed</label><br />
                        <label>StatusUnknown</label><br />
                    </div>
                    <div class="col-md-3" style="float:right">
                        <label>
                            @Model.Sent
                        </label><br />
                        <label>
                            @Model.DeleiverCount
                        </label><br />
                        <label>
                            @Model.RejectedCount
                        </label><br />
                        <label>
                            @Model.FailedCount
                        </label><br />
                        <label>@Model.OptOut</label><br />
                    </div>
                </div>
                    <div class="col-md-6">
                        <div id="piechart"></div>
                    </div>
            
            </div>
     
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12" style="background:#efefef;padding-bottom:15px">
        <div>
            <div class="col-md-3">
                <h4>Message</h4>
            </div>
            @if (!string.IsNullOrEmpty(Model.MessageTime))
            {<div class="col-md-3" style="float:right">
                <h6 style="float:right">@Model.MessageTime</h6>
            </div>
            }
            <div class="">
                <textarea readonly rows="4" cols="50" style="width:100%;height:70px;resize: vertical;">@Model.MessageDesc</textarea>
            </div>
        </div>
    </div>
</div>
    <div class="row top-space-10">
  
        <div class="col-md-12" style="background:#efefef; padding-top:15px;">
            <form class="form-inline ks-custom-form ">
                <div class="form-group">
                    <label>Phone No</label>
                    @Html.TextBoxFor(model => model.PhoneNo, new { @id = "filterPhoneNo", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(model => model.Name, new { @id = "filterName", @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Status</label>
                    @Html.DropDownListFor(model => model.StatusId, Model.AvailableStatus, new { @id = "filterStatusId", @class = "form-control" })
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group" style="float:right">
                    <button type="button" id="search-messages" class="btn btn-default">Filter</button>
                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                </div>
            </form>
        </div>
 
        <div class="col-md-12" style="background:#efefef; padding-bottom:15px;">

            <div id="messageDetail-grid">

            </div>
            <script>

    $(document).ready(function () {
        $("#messageDetail-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ViewSmSStatusDetailN", "Messenger"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalData
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: '@(defaultGridPageSize)',
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            columns: [
            {
                field: "PhoneNo",
                title: "Phone No.",
                sortable: true,
            }, {
                field: "Name",
                title: "Name",
                sortable: true,
            }, {
                field: "DeleiverTime",
                title: "DeliveredTime",
            }, {
                field: "Status",
                title: "Status",
                sortable: true,
            }]

        });
        var grid = $("#messageDetail-grid").data("kendoGrid");
    })
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    function additionalData() {
        var data = {
            EncMessageId: '@Model.EncMessageId',
            PhoneNo: $("#filterPhoneNo").val(),
            Name: $('#filterName').val(),
            StatusId: $('#filterStatusId').val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
            </script>
        </div>
  
</div>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Status', 'Type'],
                ['Delivered', @Model.DeleiverCount],
                ['Failed', @Model.FailedCount],
                ['Rejected', @Model.RejectedCount],
                ['StatusUnknown', @Model.OptOut]
            ]);
            
            // Optional; add a title and set the width and height of the chart
            var options = {
                'title': 'Messages Status',
                'is3D': 'true',
                'width': 400,
                'height': 200,
                'colors': ['#008000', '#dc3912', '#ff9900', '#3366cc']
              
            };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
         //   function selectHandler() {
                //        //var selection = chart.getSelection();
                //        //var message = '';
                //        //for (var i = 0; i < selection.length; i++) {
                //        //    var item = selection[i];
                //        //    if (item.row != null && item.column != null) {
                //        //        var str = data.getFormattedValue(item.row, item.column);
                //        //        message += '{row:' + item.row + ',column:' + item.column + '} = ' + str + '\n';
                //        //    } else if (item.row != null) {
                //        //        var str = data.getFormattedValue(item.row, 0);
                //        //        message += '{row:' + item.row + ', column:none}; value (col 0) = ' + str + '\n';
                //        //    } else if (item.column != null) {
                //        //        var str = data.getFormattedValue(0, item.column);
                //        //        message += '{row:none, column:' + item.column + '}; value (row 0) = ' + str + '\n';
                //        //    }
                //        //}
                //        //if (message == '') {
                //        //    message = 'nothing';
                //        //}

                //    }

                //    // Listen for the 'select' event, and call my function selectHandler() when
                //    // the user selects something on the chart.

      //    google.visualization.events.addListener(chart, 'select', selectHandler);
            chart.draw(data, options);
        }
       
        $("#reset").click(function () {
            $("#filterPhoneNo").val("");
            $('#filterName').val("");
            $('#filterStatusId').val("");
            var grid = $('#messageDetail-grid').data('kendoGrid');
            grid.dataSource.page(1);
        });
        $("#search-messages").click(function () {
            var grid = $('#messageDetail-grid').data('kendoGrid');
            grid.dataSource.page(1);
        });
     
    </script>
