﻿@model ViewModel.ViewModel.Messenger.SMSNotificationModel
@{
    ViewBag.Title = "Send SMSNotification";
    var lang = "en";
}
<style>
    .sessioncss {
        width: 120px !important;
        height: 28px !important;
        font-size: 13px !important;
    }

    #treeview {
        height: 400px;
    }

    .options {
        padding: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 260px;
        top: 0;
        background-color: #f5f5f5;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option {
        margin-top: 10px;
    }

        .option > .dx-selectbox {
            display: inline-block;
            vertical-align: middle;
            max-width: 350px;
            width: 100%;
            margin-top: 5px;
        }
</style>
@*<script src="~/Scripts/tree.min.js"></script>*@
<script src="https://cdn3.devexpress.com/jslib/19.2.3/js/dx.all.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.3/css/dx.common.css" />
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.3/css/dx.light.css" />
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>

    <div class="col-md-6">
        <h1>Send SMSNotification</h1>
    </div>
    <div class="col-md-3" style="/*margin-left: 165px;margin-bottom: -24px;*/">

        <label class="">Select Session:</label>
        @Html.DropDownListFor(m => m.SessionId, Model.AvailableSessions, new { @id = "sessionId", @class = "sessioncss" })
    </div>
    <div class="col-md-3 text-right" style="float:right">
        @if (Model.ModuleName == "Admissions")
        {
            <a href="@Url.Action("AdmittedList", "Student")" class=" btn btn-xs btn-default">Back to @Model.ModuleName</a>
            <a href="javascript:void(0);" title="Set Default Values" id="btnSMSSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 20px;" class="pull-right"><i class="fa fa-gear"></i></a>
        }
        else if (Model.ModuleName == "Transport")
        {
            <a href="@Url.Action("TransportRoute", "Transport")" class=" btn btn-xs btn-default">Back to @Model.ModuleName</a>
            <a href="javascript:void(0);" title="Set Default Values" id="btnSMSSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 20px;" class="pull-right"><i class="fa fa-gear"></i></a>
        }
        else
        {
            //other cases


            if (Model.IsAuthToViewMessage)
            {
                <a href="@Url.Action("SMSNotificationList", "Messenger") " id=" " class=" btn btn-xs btn-default">Back to list</a>
            }
            <a href="javascript:void(0);" title="Set Default Values" id="btnSMSSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 20px;" class="pull-right"><i class="fa fa-gear"></i></a>

        }

    </div>

</div>

<!-- //Page Heading -->

<div class="row">

    <div class="col-md-12">
        @using (Html.BeginForm("SendMessage", "Messenger", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_createSMSNotifications", Model)
        }
    </div>
</div>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">




    // Load the Google Transliteration API
    @if(Model.Lang!="en"){
        <text>

    google.load("elements", "1", {

        packages: "transliteration"

    });
    function onLoad() {



        options = {

            sourceLanguage: 'en',

            destinationLanguage: ['@Model.Lang'],

            shortcutKey: 'ctrl+m',

            transliterationEnabled: true

        };

        // Create an instance on TransliterationControl with the required

        // options.

        control = new google.elements.transliteration.TransliterationControl(options);



        // Enable transliteration in the textfields with the given ids.

        var ids = ["MessageDecription"];

        control.makeTransliteratable(ids);



        // Show the transliteration control which can be used to toggle between

        // English and Hindi and also choose other destination language.

        control.showControl('translControl');


    }


    google.setOnLoadCallback(onLoad);
    </text>
    }
    var control = "";
    $('#submit-language').click(function () {
        var languageabbr = $('#Language_Id option:selected').attr('data');
        var id = $('#Language_Id option:selected').val();
        if ($('#Language_Id').val() > 0) {
            window.location.href = '@Html.Raw(Url.Action("SMSNotification", "Messenger"))?lang=' + languageabbr + '&id=' + id;
        }

    })


    //google.setOnLoadCallback(onLoad);



</script>

