﻿@model  ViewModel.ViewModel.Messenger.TriggerTemplateModel
@{
    ViewBag.Title = "TriggerTemplate";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Manage Trigger Template</h1>
    </div>
    <div class="col-md-6 text-right">
      
    </div>

</div>
<!-- //Page Heading -->
@Helper.ModelPopUp("AddTrigger","CloseAddTriggerPopUp","TriggerModelBody","Add Trigger")
<script>
    //$('#AddTrigger').click(function () {
    //    $('#AddTrigger').show();
    //})
    $('#TriggerModelBody').html('<div class="row">'+
                    '<div class="col-md-4">'+
                        '<label>Trigger</label>'+
                    '</div>'+
                    '<div class="col-md-8 ">'+
                       '<input type="textbox" id="Trigger_Name"/>'+
                    '</div>'+
                '</div>'+
                '<div class="row top-space-10">' +
                  '<div class="col-md-11 ">' +
                       '<input type="button" id="Save_Trigger_Name" value="Add" class="pull-right btn btn-success"/>' +
                    '</div>' +
                 '</div>')
</script>
<div class="row form-horizontal ks-custom-form">
    <div class="col-md-12">
        <div class="row top-space-20">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <label>Trigger Type</label>
                    </div>
                    <div class="col-md-8 ">
                        @Html.DropDownListFor(model => model.TriggerTypeId, Model.AvailableTriggerTypes, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <label>Triggers</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.TriggerId, Model.AvailableTriggers, new { @class = "form-control" ,@style="width:87%!Important"})
                        <a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Add Triggers" data-toggle="tooltip" data-placement="top" id="add-triggers">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#Save_Trigger_Name').click(function () {

        var triggerName = $('#Trigger_Name').val();
        var TriggerTypeId = $('#TriggerTypeId').val();

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("SaveTrigger", "Messenger"))',
            data: { "TriggerTypeId": TriggerTypeId, "triggerName": triggerName },
            success: function (result) {
                if (result.status == "success") {

                   // $('#TriggerId').html('');
                    var trigger = "";
                   // for (var i = 0; i <= result.triggermodel.length - 1; i++) {
                    trigger += "<option value='" + result.triggermodel.TriggerId + "'>" + result.triggermodel.TriggerName + "</option>"
                   // }

                    $('#TriggerId').append(trigger);
                    $('#TriggerId').val(result.triggermodel.TriggerId)
                    $('#AddTrigger').hide();
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    $('#add-triggers').click(function () {
        var TriggerTypeId = $('#TriggerTypeId').val();
        if (TriggerTypeId > 0) {
            $('#AddTrigger').show();
        } else {
            ToastMessage("Please Select Trigger Type", "error", true, 5000);
        }
    })

    $('#TriggerTypeId').change(function () {

        var TriggerTypeId = $(this).val();
        if (TriggerTypeId > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetTriggersList", "Messenger"))',
                data: { "TriggerTypeId": TriggerTypeId },
                success: function (result) {
                    if (result.status == "success") {

                        $('#TriggerId').html('');
                        var trigger = "<option>--Select--</option>"
                        for (var i = 0; i <= result.trigger.length - 1; i++) {
                            trigger += "<option value='" + result.trigger[i].Value + "'>" + result.trigger[i].Text + "</option>"
                        }

                        $('#TriggerId').html(trigger);


                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }

    })
</script>
