﻿
@model ViewModel.ViewModel.Messenger.SMSNotificationModel
@using (Html.BeginForm("UsersList", "Messenger", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    
    <!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>

    <div class="col-md-6">
        <h1>Users List</h1>
    </div>
    <div class="col-md-6 text-right">
        @Html.CheckBox("ShowAll")ShowAll
    </div>
    
</div>
<div>
    @Html.HiddenFor(m => m.LanguageId)
    @*<div class="modal-popup" id="ShowUsers" style="display:none">
        <div class="modal-popup-body" style="">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Users List</h4>

                </div>


                <div class="row modal-body">


                    <div class="col-md-12 " style="margin:0px;">
                        @Html.Action("ShowAllUsers", Model)

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" name="save" class="btn btn-danger " id="close_ViewBox">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="modal-popup" id="languageselection" style="display:none">
        <div class="modal-popup-body" style="width: 392px;padding-top: 203px;">
            <div class="modal-content">


                <div class="row modal-body">
                    <div class="col-md-12 " style="padding:0px;">
                        <div class="col-md-4">
                            @Html.Label("Select Language:")
                        </div>
                        <div class="col-md-8">
                            <select name="LanguageId"
                                    id="Language_Id"
                                    class="form-control">
                                @foreach (var language in Model.AvailableLanguage)
                                {
                                    <option value="@language.Value"
                                          
                                            data="@language.Data">
                                        @language.Text
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-md-12 top-space-10 text-center">
                            <input type="button" class="btn btn-success" id="submit-language" value="Change Language">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>*@
    <script>

        $('#submit-language').click(function () {

        })
        $('#close_ViewBox').click(function () {
            $('#ShowUsers').hide();
        })
    </script>
    @Html.HiddenFor(m => m.EncUserTypeId, new { @id = "usertypeid" })

    <div class=" top-space-20">
        @*<div class="">*@
            <div class="row">
                <div class="col-md-2 top-space-20">
                    <label class="control-label">To:</label><!-- Form Label -->
                    @Html.DropDownListFor(m => m.MessagePermissionId, Model.AvailableMessagePermisssions, new { @id = "msgpermission", @class = " clearfield-class" })
                </div>
                <div class="col-md-2 top-space-20">

                    @Html.DropDownListFor(m => m.ContacttypeId, Model.AvailableContacttype, new { @id = "contacttype", @class = " clearfield-class" })
                </div>
                <div class="Recipient_Student_Type top-space-20 col-md-3" style="display:none">
                    @Html.Label("Recipient Type:")
                    @Html.DropDownList("AvailableRecipientStudentType", Model.AvailableRecipientStudentType, new { @class = "clearfield-class " })
                </div>
                <div class="class-div top-space-20 col-md-3">
                    @Html.Label("Class:")
                    @Html.DropDownListFor(m => m.SelectedClassId, Model.AvailableClasses, new { @id = "classes", @class = "clearfield-class " })
                </div>
            </div>
        <div class=" top-space-10">
            @Html.Action("ShowAllUsers", Model)
        </div>
            @*<div class="top-space-10">
                <input type="button" id="ShowUsersList" value="Show Users List" style="display:none" />
            </div>*@
            @*<div class="row top-space-10">
                <div class="selection-div col-md-12 text-center" style="display:block">

                    @Html.RadioButton("allselection", "", true, new { @class = "allselection clearfield-class" })  &nbsp;
                    @Html.Label("All")
                    &nbsp;
                    @Html.RadioButton("allselection", "", false, new { @class = "allselection clearfield-class" })
                    &nbsp;
                    @Html.Label("Selected")
                </div>
            </div>
            <div class="row top-space-10">
                <div class="users-div col-md-12">

                    @Html.Label("To:", new { @class = "to_users" })
                    <div class="chkbox_user_List" style="height: 111px;overflow: auto;">

                    </div>
                    <div class="clearfix"></div>
                    <div class="ddl_user_List ">
                        @Html.DropDownListFor(m => m.UserId, Model.AvailableUsers, new { @id = "users-dropdown", @class = "clearfield-class form-control" })
                    </div>
                </div>
            </div>
            <div class="no_user_available" style="display:none;height: 111px;overflow: auto;">

            </div>*@
        @*</div>*@
        @*<div class="col-md-8">*@
            <div class="well well-sm" style="margin-bottom: 10px!important;display:none">
                <div class="row">
                    <div class="col-md-3">
                        @Html.CheckBox("IsSMS", Model.IsSMS)
                        @Html.Label("Is SMS")
                    </div>
                    <div class="col-md-3">
                        @if (Model.IsSMS)
                        {
                            @Html.CheckBox("IsNonAppUserSMS", Model.IsNonAppUserSMS)
                        }
                        else
                        {
                            @Html.CheckBox("IsNonAppUserSMS", Model.IsNonAppUserSMS, new { @disabled = true })

                        }
                        @Html.Label("Is NonApp User")
                    </div>
                    <div class="col-md-3">
                        @Html.CheckBox("IsNotification", Model.IsNotification)
                        @Html.Label("Is Notification")
                    </div>
                    <div class="col-md-3">
                        @Html.Label("Attendance Status")
                        @Html.DropDownList("AvailableAttendanceStatus", Model.AvailableAttendanceStatus)
                    </div>
                </div>

            </div>
            @*<script>
                $('#IsSMS').click(function () {
                    if ($('#IsSMS').prop('checked')) {
                        $('#IsNonAppUserSMS').removeAttr('disabled');
                    } else {
                        $('#IsNonAppUserSMS').prop('checked', false);
                        $('#IsNonAppUserSMS').prop('disabled', true);
                    }

                })
                $('#IsSMS,#IsNotification,#IsNonAppUserSMS').click(function () {
                    if ($('#contacttype').val()>0) {
                        $('#contacttype').trigger('change');
                    }
                })
                $('#AvailableAttendanceStatus').change(function () {
                    if ($('#contacttype').val() > 0) {
                        $('#contacttype').trigger('change');
                    }
                })

            </script>*@
            @*<div class="well well-sm">
                <div class="row" style="display:none">

                    <div class="col-md-12 ddl_priority">
                        <label class="control-label">Selected Language:</label>
                        <span id="language">@Model.Language</span><input type="button" class="btn btn-success" id="change-language" value="Change Language">
                    </div>
                    <script>
                        $('#change-language').click(function () {

                            $('#languageselection').css('display', 'block');
                        })
                    </script>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a type="button" href="https://www.google.com/inputtools/try/" target="_blank">Convert Text To Other Language</a>
                    </div>
                </div>

                <div class="row top-space-10">
                    <div class="col-md-12">
                        <label class="control-label">Description: <i class="fa fa-asterisk ks-required"></i></label>
                        @Html.TextAreaFor(m => m.MessageDecription, new { @class = "form-control", @style = "resize:none; height:100px;" })
                    </div>
                    <div class="col-md-12 top-space-10">

                        @if (Model.IsAuthToAddMessage)
                        {
                            <div class="col-md-6">
                                <input type="button" class="btn btn-success" id="Submit-btn" value="Send">
                            </div>
                        }
                        <div class="col-md-6" style="">
                             <span id="CharactersCount" class="pull-right">0 Characters</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        
    </div>
    
</div>
   
<script>
    $('#ShowUsersList').click(function () {
        $('#ShowUsers').show();
        var grid = $('#ShowAllUsers-grid').data('kendoGrid');
        grid.dataSource.page(1);
    })
    $('#ShowAll').click(function () {
        $('#IsSMS').prop('checked', true);
        var grid = $('#ShowAllUsers-grid').data('kendoGrid');
        grid.dataSource.page(1);

    })
    $('#IsNotification').prop('checked', true);
   
    $('#contacttype').change(function () {


         })


    $(document).ready(function () {

        $('#MessageDecription').bind('keyup', function (e) {

            $('#CharactersCount').text($(this).val().length + " Characters");

        });

        $('#contacttype').hide();
        $('.users-div').css("display", "none");

        $('.class-div').hide();
        $('.selection-div').hide();
        //send message
        $('#Submit-btn').click(function () {
            // e.preventDefault();
            var MessengerModel = new Object();
            var text = $('input[name=allselection]:checked').next("label").text();
            var permission = $('#msgpermission').val();
            var contacttype = $('#contacttype').val();
            var users = new Array();
            var usersObj = new Object();
            var count = 0;
            $('.no_user_available').css("display", "none");
            $('.chkbox_user_List .clscheckuser').each(function (e) {
                var obj = $(this);
                if (text == "Selected") {
                    if (obj.prop('checked') == true) {
                        count++;
                        usersObj = new Object();
                        usersObj.selecteduserid = obj.attr('data-id');
                        users.push(usersObj);
                    }
                }
                if (text == "All") {
                    count++;
                    usersObj = new Object();
                    usersObj.selecteduserid = obj.attr('data-id');
                    users.push(usersObj);
                }
                if ((permission == 2 && contacttype == 2) || (permission == 2 && contacttype == 3)) {
                    if (obj.prop('checked') == true) {
                        count++;
                        usersObj = new Object();
                        usersObj.selecteduserid = obj.attr('data-id');
                        users.push(usersObj);
                    }
                }
            });
            if (count > 0)
                MessengerModel.SelectedUsersArray = JSON.stringify(users);

            if ($('#IsSMS').prop('checked')) {
                MessengerModel.IsSMS = true;
            } else {
                MessengerModel.IsSMS = false;
            }
            if ($('#IsNotification').prop('checked')) {
                MessengerModel.IsNotification = true;
            } else {
                MessengerModel.IsNotification = false;
            }
            if ($('#IsNonAppUserSMS').prop('checked')) {
                MessengerModel.IsNonAppUserSMS = true;
            } else {
                MessengerModel.IsNonAppUserSMS = false;
            }

            MessengerModel.UserTypeId = $('#UserTypeId').val();
            MessengerModel.MessagePermissionId = $('#msgpermission').val();
            MessengerModel.ContacttypeId = $('#contacttype').val();
            MessengerModel.SelectedClassId = $('#classes').val();
            MessengerModel.UserId = $('#users-dropdown').val();
            MessengerModel.MessageTitle = $('#MessageTitle').val();
            MessengerModel.MessageDecription = $('#MessageDecription').val();
            MessengerModel.LanguageId = $('#LanguageId').val();
            MessengerModel.RecipientStudentType = $('#AvailableRecipientStudentType  option:selected').text();
            MessengerModel.AttendanceStatus = $('#AvailableAttendanceStatus  option:selected').text();
            // save data
            if ($('#MessageDecription').val() != "") {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: '@Html.Raw(Url.Action("SMSNotification", "Messenger"))',
                    data: MessengerModel,
                    success: function (result) {

                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                            clearfields();
                            $('#ks_loader').hide();
                        }
                        else {
                            if (result.msg == "NotValid") {
                                var validationmsg = "";
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++) {
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                }
                            }

                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            $('#ks_loader').hide();
        })

        //on changing selection from all to selected and vise versa
        $('.allselection').change(function () {
            var text = $('input[name=allselection]:checked').next("label").text();
            if (text == "Selected") {
                $('.users-div').css("display", "block");
            } else {
                $('.users-div').css("display", "none");
            }
        })
        //on selecting contact type hide show class dropdown
        //$('#contacttype').change(function () {
        //    var permission = $('#msgpermission').val();
        //    var contacttype = $('#contacttype').val();
        //    if ((permission != "1") && (permission = "2" && contacttype != 2) && (permission = "2" && contacttype != 3) && (permission = "2" && contacttype != 5) && (permission = "3" && contacttype != 2) && (permission = "3" && contacttype != 3) && (permission = "3" && contacttype != 5)) {
        //        $('.class-div').show();
        //    } else { $('.class-div').hide(); }
        //})

        $('.Recipient_Student_Type').change(function () {
            //$('#classes').val('0');
            $('#IsNotification').prop('checked', true);
            var grid = $('#ShowAllUsers-grid').data('kendoGrid');
            grid.dataSource.page(1);
            //$('.class-div').show();
            //var classid = $('#classes').val();
            //$('#classes').val(classid);
            var permission = $('#msgpermission').val();
            if (permission>1){
            $('#classes').trigger('change');
            usertype = $('#contacttype option:selected').text();

            var teachersnonteachers = $('.chkbox_user_List');
            teachersnonteachers.empty();
            var userdropdown = $('#users-dropdown');
            userdropdown.empty();

            var contacttype = $('#contacttype').val();
            var usertypeid = $('#usertypeid').val();
            var recipientstafftype = $('#AvailableRecipientStudentType  option:selected').text();
            if (usertype == 'Teacher') {
                var MessengerModel = new Object();
                if ($('#IsSMS').prop('checked')) {
                    MessengerModel.IsSMS = true;
                } else {
                    MessengerModel.IsSMS = false;
                }
                if ($('#IsNotification').prop('checked')) {
                    MessengerModel.IsNotification = true;
                } else {
                    MessengerModel.IsNotification = false;
                }
                if ($('#IsNonAppUserSMS').prop('checked')) {
                    MessengerModel.IsNonAppUserSMS = true;
                } else {
                    MessengerModel.IsNonAppUserSMS = false;
                }

                MessengerModel.ContacttypeId = contacttype;
                MessengerModel.EncUserTypeId = usertypeid;
                MessengerModel.RecipientStudentType = recipientstafftype;
                MessengerModel.AttendanceStatus = $('#AvailableAttendanceStatus  option:selected').text();
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("teachersnonteachersSMSNotification", "Messenger"))',
                    data: MessengerModel,
                    success: function (result) {

                        var permission = $('#msgpermission').val();

                        var text = this.Text;
                        //if permission is Single
                        var count = 0;
                        if (permission == 3) {
                            $.each(result.teachersnonteacherslist, function () {
                                userdropdown.show();
                                count++;
                                userdropdown.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                $('.ddl_user_List').css("display", "block");
                                //usercheckbox.hide();
                                teachersnonteachers.css("display", "block");
                                $('.users-div').css("display", "block");
                            });
                            var grid = $('#ShowAllUsers-grid').data('kendoGrid');
                            grid.dataSource.page(1);
                            if (count < 1) {
                                nouseravailable();
                            }
                        } else {
                            $.each(result.teachersnonteacherslist, function () {
                                //if permission is "Selected"
                                count++;
                                teachersnonteachers.append('<div  class="pull-left checkbox" style=" margin-right:10px;"><label><input type="checkbox" class="clscheckuser" data-id="' + this.Value + '">' + this.Text + '</label></div>');
                                $('.ddl_user_List').css("display", "none");
                                teachersnonteachers.css("display", "block");
                                $('.users-div').css("display", "block");
                            });
                            var grid = $('#ShowAllUsers-grid').data('kendoGrid');
                            grid.dataSource.page(1);
                            if (count < 1)
                                nouseravailable();
                        }

                        $('#ks_loader').hide();
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }}
        })
        //get list of teachers and non-teaching
        $('#contacttype').change(function () {
            usertype = $('#contacttype option:selected').text();


            var grid = $('#ShowAllUsers-grid').data('kendoGrid');
            grid.dataSource.page(1);
            $('#ShowUsersList').hide();
            $('.selection-div').css("display", "none");
            $('.Recipient_Student_Type').css("display", "none");
            $('.users-div').css("display", "none");
            $('#ks_loader').show();
            var name = $('#contacttype option:selected').text();
            $('.no_user_available').css("display", "none");
            //alert(name);
            $('.to_users').text(name);
            var permission = $('#msgpermission').val();
            if (permission == "1") {
                $('#ShowUsersList').show();
            }
            var contacttype = $(this).val();
            var teachersnonteachers = $('.chkbox_user_List');
            teachersnonteachers.empty();
            var userdropdown = $('#users-dropdown');
            userdropdown.empty();
            if ((permission != "1") && (permission = "2" && contacttype != 2) && (permission = "2" && contacttype != 3) && (permission = "2" && contacttype != 5) && (permission = "3" && contacttype != 2) && (permission = "3" && contacttype != 3) && (permission = "3" && contacttype != 5) && (permission = "3" && contacttype != "") && (permission = "3" && contacttype != null)) {
                //$('#AvailableRecipientStudentType').val('1');
                //$('.Recipient_Student_Type').show();
                $('#classes').val('0');
                $('.class-div').show();

            } else {
                //if (contacttype == "1" || contacttype == "4") {
                //    $('#AvailableRecipientStudentType').val('1');
                //    $('.Recipient_Student_Type').show();
                //}
                $('.class-div').hide();
            }

            if ($(this).val() > 0 && usertype != "Non-Teaching") {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetRecipientType", "Messenger"))',
                    data: { "UserType": usertype },
                    success: function (result) {


                        $('#AvailableRecipientStudentType').html('');
                        $.each(result.recipienttypelist, function () {
                            $('#AvailableRecipientStudentType').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                        $('.Recipient_Student_Type').css('display', 'block');

                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                    }
                });
            } else {
                $('#AvailableRecipientStudentType').html('');
                $('.Recipient_Student_Type').css('display', 'none');
            }
            $('#AvailableRecipientStudentType').val('1');
            if (name != "Non-Teaching") {
                $('.Recipient_Student_Type').show();
            }
            var usertypeid = $('#usertypeid').val();
            if ((contacttype == 2 && permission != 1) || (contacttype == 3 && permission != 1)) {
                $('.class-div').hide();

                var recipientstafftype = $('#AvailableRecipientStudentType  option:selected').text();
                var MessengerModel = new Object();
                if ($('#IsSMS').prop('checked')) {
                    MessengerModel.IsSMS = true;
                } else {
                    MessengerModel.IsSMS = false;
                }
                if ($('#IsNotification').prop('checked')) {
                    MessengerModel.IsNotification = true;
                } else {
                    MessengerModel.IsNotification = false;
                }
                if ($('#IsNonAppUserSMS').prop('checked')) {
                    MessengerModel.IsNonAppUserSMS = true;
                } else {
                    MessengerModel.IsNonAppUserSMS = false;
                }

                MessengerModel.ContacttypeId = contacttype;
                MessengerModel.EncUserTypeId = usertypeid;
                MessengerModel.RecipientStudentType = recipientstafftype;
                MessengerModel.AttendanceStatus = $('#AvailableAttendanceStatus  option:selected').text();
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("teachersnonteachersSMSNotification", "Messenger"))',
                    data: MessengerModel,
                    success: function (result) {

                        var permission = $('#msgpermission').val();

                        var text = this.Text;
                        //if permission is Single
                        var count = 0;
                        if (permission == 3) {
                            $.each(result.teachersnonteacherslist, function () {
                                userdropdown.show();
                                count++;
                                userdropdown.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                $('.ddl_user_List').css("display", "block");
                                //usercheckbox.hide();
                                teachersnonteachers.css("display", "block");
                                $('.users-div').css("display", "block");
                            });
                            var grid = $('#ShowAllUsers-grid').data('kendoGrid');
                            grid.dataSource.page(1);
                            if (count < 1) {
                                nouseravailable();
                            } else {
                                if (permission != "1") {
                                    $('#ShowUsersList').show();
                                }
                            }
                        } else {
                            $.each(result.teachersnonteacherslist, function () {
                                //if permission is "Selected"
                                count++;
                                teachersnonteachers.append('<div  class="pull-left checkbox col-md-12" style=" margin-right:10px;"><label><input type="checkbox" class="clscheckuser" data-id="' + this.Value + '">' + this.Text + '</label></div>');
                                $('.ddl_user_List').css("display", "none");
                                teachersnonteachers.css("display", "block");
                                $('.users-div').css("display", "block");
                            });
                            var grid = $('#ShowAllUsers-grid').data('kendoGrid');
                            grid.dataSource.page(1);
                            if (count < 1)
                                nouseravailable();
                            else {
                                if (permission != "1") {
                                    $('#ShowUsersList').show();
                                }
                            }
                        }

                        $('#ks_loader').hide();
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            } else {
                $('#ks_loader').hide();

            }
        });
        var preventSubmit = function (event) {
            if (event.keyCode == 13) {
                //log("caught ya!");
                event.preventDefault();
                // event.stopPropagation();
                return false;
            }
        }
        $('#MessageTitle').keypress(preventSubmit);

        //get contacttype dropdownlist
        $('#msgpermission').change(function () {
            $('.no_user_available').css("display", "none");
            $('#ks_loader').show();
            $('.selection-div').css("display", "none");
            $('.users-div').css("display", "none");
            $('.class-div').hide();
            $('#contacttype').hide();
            $('#users-dropdown').css("display", "block");
            $('.ddl_user_List').css("display", "block");
            $('.Recipient_Student_Type').css("display","none")
            //$('#classes').val('0').trigger('change');

            var permission = $(this).val();
            if (permission != "1") {
                $('#ShowUsersList').hide();
            }
            var usertypeid = $('#usertypeid').val();
            if (permission != 0) {
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("Contacttypedropdown", "Messenger"))',
                    data: { "msgpermissionid": permission, "UserTypeId": usertypeid },
                    success: function (result) {
                        // alert(result.contacttypelist[0].Text);
                        $('#contacttype').show();
                        var contacttypes = $('#contacttype');
                        contacttypes.empty();
                        $('#classes').val('0').trigger('change');

                        //$('.allselection').val('0').trigger('change');
                        $('input[name=allselection]').attr('checked', false);
                        $.each(result.contacttypelist, function () {
                            contacttypes.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                        $('#ks_loader').hide();
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            } else {
                $('#contacttype').hide();
                $('#ks_loader').hide();
            }
        });
        if ($('#msgpermission option').length == 2) {
            $("#msgpermission option").each(function () {
                var i = 1;
                if (i = 2) {
                    $("#msgpermission").val($(this).val()).trigger('change');
                    $("#msgpermission").prop('disabled', true);
                }

                i++;
            });
        }
        //get Studentlist dropdownlist
        $('#classes').change(function () {
            $('#ks_loader').show();
            var Classid = $(this).val();
            var permission = $('#msgpermission').val();
            $('#ShowUsersList').hide();
            $('.allselection').prop("checked", false);
            //var usertypeid = $('#usertypeid').val();
            var contacttypeid = $('#contacttype').val();
            var contacttypename = $('#contacttype option:selected').text();
           var recipientstudenttype= $('#AvailableRecipientStudentType  option:selected').text()
            $('.no_user_available').css("display", "none");
            if (contacttypeid && Classid != "" && Classid != null) {

                var MessengerModel = new Object();
                if ($('#IsSMS').prop('checked')) {
                    MessengerModel.IsSMS = true;
                } else {
                    MessengerModel.IsSMS = false;
                }
                if ($('#IsNotification').prop('checked')) {
                    MessengerModel.IsNotification = true;
                } else {
                    MessengerModel.IsNotification = false;
                }
                if ($('#IsNonAppUserSMS').prop('checked')) {
                    MessengerModel.IsNonAppUserSMS = true;
                } else {
                    MessengerModel.IsNonAppUserSMS = false;
                }

                MessengerModel.ContacttypeId = contacttypeid;
                MessengerModel.SelectedClassId = Classid;
                MessengerModel.RecipientStudentType = recipientstudenttype;

                MessengerModel.AttendanceStatus = $('#AvailableAttendanceStatus  option:selected').text();
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("StudentslistSMSNotification", "Messenger"))',
                    data: MessengerModel,
                    success: function (result) {

                        $('#ks_loader').hide();

                        // alert(result.contacttypelist[0].Text);
                        var permission = $('#msgpermission').val();
                        //if (permission != 3)
                        //    $('.selection-div').css("display", "block");
                        //else
                        //    $('.users-div').css("display", "block");

                        var usercheckbox = $('.chkbox_user_List');

                        var userdropdown = $('#users-dropdown');
                        usercheckbox.empty();
                        userdropdown.empty();

                        var permission = $('#msgpermission').val();
                        $('.selection-div').css("display", "none");
                        $('.users-div').css("display", "none");
                        var count = 0;
                        if (permission == 2) {
                            $.each(result.userselectlistajax, function () {
                                $('.selection-div').css("display", "block");
                                count++;
                                var text = this.Text;
                                usercheckbox.show();
                                usercheckbox.append('<div><input type="checkbox" class="clscheckuser" data-id="' + this.Value + '"> ' + text + '</div>');
                                userdropdown.hide();
                            });
                            var grid = $('#ShowAllUsers-grid').data('kendoGrid');
                            grid.dataSource.page(1);
                            if (count < 1) {
                                nouseravailable();
                                //$('.selection-div').css("display", "none");
                            } else {
                                if (permission != "1") {
                                    $('#ShowUsersList').show();
                                }
                            }
                        }
                        else if (permission == 3) {
                            $.each(result.userselectlistajax, function () {
                                $('.users-div').css("display", "block");
                                count++;
                                userdropdown.show();
                                userdropdown.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                usercheckbox.hide();
                            });
                            var grid = $('#ShowAllUsers-grid').data('kendoGrid');
                            grid.dataSource.page(1);
                            if (count < 1) {
                                nouseravailable();
                                //$('.users-div').css("display", "none");
                            } else {
                                if (permission != "1") {
                                    $('#ShowUsersList').show();
                                }
                            }
                        }
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            $('#ks_loader').hide();
        });

    })
    function clearfields() {


        $('.selection-div').css("display", "none");
        if ($('#msgpermission').prop("disabled")) {
            $('.clearfield-class').val('0').trigger('change');
        }
        else {
            $('#msgpermission').val('0').trigger('change');

            $('.clearfield-class').val('0').trigger('change');
        }
        $('.class-div').hide();

        $('#AvailableRecipientStudentType').val('1');
        $('.Recipient_Student_Type').hide();

        $('.users-div').css("display", "none");
        $('#MessageTitle').val("");
        $('#MessageDecription').val("");
        $('#priority-dropdown')
            .val('1')
            .trigger('change');

    }

    //no user
    function nouseravailable() {
        var contacttypename = $('#contacttype option:selected').text();
        $('.no_user_available').css("display", "block");
        //$('.no_user_available').text("No " + contacttypename + " available");
        $('.no_user_available').text("No Recipient Found");
    }



</script>
}
