﻿@model ViewModel.ViewModel.Fee.ConsessionTypeModel
<!-- Form Row -->
@Html.HiddenFor(m=>m.ConsessionTypeId)
@Helper.ModelPopUp("Consesson_Tag_details","CloseTag_details","Body_data","Consession Tag Details")
<div class="row create_Consessiontype" style="display:none">
    <!-- Form Coulmn -->
    <div class="col-md-3">
        <div class="">
            <label class="control-label">Consession Type</label>

            @Html.TextBoxFor(model => model.ConsessionType, new { @class = " form-control", @style = "width: 100%" })

            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.ConsessionType)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-3">
        <div class="">
            <label class="control-label">Concession Tag <i class="fa fa-question-circle consession_tag_details"  aria-hidden="true"></i></label>

            @Html.DropDownListFor(model => model.ConsessionTypeTagId, Model.ConsessionTypeTagList, new { @class = "drop-down form-control", @style = "width: 100%" })

            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.ConsessionTypeTagId)
            </div>
            <!-- //Error Message -->
        </div>
        <!-- //Form Coulmn -->
    </div>
  
    <div class="col-md-3">
        <div class="">
            <label class=" control-label"></label>
            <div>
                @if (Model.IsAuthToAdd)
                {
                    <button type="submit" id="Save_GroupFeeType" name="save" class="btn btn-success">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                 } 
                <button type="button" name="save" class="btn btn-danger" id="cancel_groupfeetype">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Form Row -->
    

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("ConsessionTypeTagtext", "Fee"))',
           
            success: function (result) {

                if (result.status == "success") {
                    var text = "";
                    //  ToastMessage(result.msg, "success", true, 5000);
                    for (var i = 0; i < result.taglist.length; i++) {
                        text += '<div class="row" style="margin-left: 19px;">' + result.taglist[i] + '</div>';
                    }
                    $('#Body_data').html(text);
                    $('#ks_loader').hide();
                }
                else {
                    
                    $('#ks_loader').hide();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });


        $('.consession_tag_details').click(function () {

            $('#Consesson_Tag_details').show();

        })
        
        $('.Delete_Consession_type').click(function () {
         
            var ConsessionTypeId = $(this).attr('data-id');
            if (confirm("Are you sure you want to delete") == true) {
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("DeleteConsessionType", "Fee"))',
                    data: { "ConsessionTypeId": ConsessionTypeId },
                    success: function (result) {

                        if (result.status == "success") {
                            //  ToastMessage(result.msg, "success", true, 5000);
                            alert(result.msg);
                            window.location.reload();
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }

        })

        $('#Save_GroupFeeType').click(function () {

            var groupfeetypevalid = validategroupfeetype(); // check data validation
            if (!groupfeetypevalid) {
                alert(groupfeetypevalidationmessage);
                $(groupfeetypeFieldctrlfocus).focus();
                return false;
            }

            var ConsessionTypeModel = new Object();
            ConsessionTypeModel.ConsessionType = $('#ConsessionType').val();
            ConsessionTypeModel.ConsessionTypeTagId = $('#ConsessionTypeTagId').val();
            ConsessionTypeModel.ConsessionTypeId = $('#ConsessionTypeId').val();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("SaveConsessionType", "Fee"))',
                data: ConsessionTypeModel,
                success: function (result) {

                    if (result.status == "success") {
                        //  ToastMessage(result.msg, "success", true, 5000);
                        alert(result.msg);
                        window.location.reload();
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        })

        // check guardian data valid or not
        var groupfeetypevalid = true;
        var groupfeetypevalidationmessage = "";
        var groupfeetypeFieldctrlfocus = "";
        function validategroupfeetype() {
            groupfeetypevalid = true;
            groupfeetypevalidationmessage = "";
            groupfeetypeFieldctrlfocus = "";

            if ($('#ConsessionType').val() == "") {
                if (groupfeetypeFieldctrlfocus == "")
                    groupfeetypeFieldctrlfocus = "#ConsessionType";
                groupfeetypevalidationmessage = groupfeetypevalidationmessage + "Please enter Consession Type \n";
                groupfeetypevalid = false;
            }


            if ($('#ConsessionTypeTagId').val() == "") {
                if (groupfeetypeFieldctrlfocus == "")
                    groupfeetypeFieldctrlfocus = "#ConsessionTypeTagId";
                groupfeetypevalidationmessage = groupfeetypevalidationmessage + "Please select Consession Type Tag \n";
                groupfeetypevalid = false;
            }

            return groupfeetypevalid;
        }

        $('#add_consession_type').click(function () {
            $('#Save_GroupFeeType').html('<i class="fa fa-floppy-o"></i> Save');
            $('.create_Consessiontype').css('display', 'block');
            clearfields();

        })
        $('#cancel_groupfeetype').click(function () {
            $('#add_consession_type').show();
            $('.create_Consessiontype').css('display', 'none');
            clearfields();
        })

        $('.error-message').each(function () {
            var current = $(this);
            if (current.children('span').text() != "")
                current.show();
            else
                current.hide();
        });
        // close city popup with 3 column city
        $('#close_div').click(function () {
            $('#FeeTypeId').val("").trigger('change');
            $("#FeeClassGroupId").val("").trigger('change');
            $("#TakeAddOns").prop("checked", false);
            $('#groupfeetype_div').hide();
        });

        $('.Edit_Consession_type').click(function () {
            $('.create_Consessiontype').css('display', 'block');
            $('#Save_GroupFeeType').html('<i class="fa fa-floppy-o"></i> Update');
            $('#ConsessionTypeId').val($(this).attr('data-id'));
            $('#ConsessionType').val($(this).parent().parent().find('.Consession_Type').text());
            $('#ConsessionTypeTagId').val($(this).parent().parent().find('.Concession_TypeTagId').text()).trigger('change');

        })
        function clearfields() {
            //clear fields
            $('#ConsessionTypeTagId').val("").trigger('change');
            $('#ConsessionType').val("");
        }
        //delete ajax method
        $(".Delete_groupfeetype").click(function (e) {
            e.preventDefault();

            $('#errormessage_reload').parent().remove();
            $('#successmessage_reload').parent().remove();
            $('#rowindex_groupfeetype').val($(this).parent().parent().index());
            var rowindex = $('#rowindex_groupfeetype').val();
            $('#ks_loader').show();
            var id = $(this).attr("data-id");
            if (confirm("Are you sure you want to delete Group Fee Type")) {
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("DeleteGroupFeeType", "Fee"))',
                    data: { "id": id },
                    success: function (result) {

                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);

                            var tbl = $('#Groupfeetype_grid');
                            var rows = $('tr', tbl);
                            rowindex++;
                            var row = rows.eq(rowindex);
                            row.remove();

                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            } else {
                $('#ks_loader').hide();
                return false;
            }
        })

    });

</script>

