﻿@model ViewModel.ViewModel.Fee.ConsessionModel
<!-- Form Row -->
@Html.HiddenFor(m => m.ConsessionId)
@Html.Hidden("Consession_id")
@Html.Hidden("Consesion_type_tag")
<style>
    #Body_data {
        overflow: auto;
        height: 400px;
    }
    .modal-popup-body{
        width: 653px !important;
    }

    #Close_details {
        position: absolute;
        right: 2px;
        top: 10px;
    }

</style>
@Helper.ModelPopUp("Conc_Students_details", "Close_details", "Body_data", "Consession Student List")
<div class="row create_Consession" style="display:none">
    <!-- Form Coulmn -->
    <div class="col-md-3">
        <div class="">
            <label class="control-label">Consession</label>

            @Html.TextBoxFor(model => model.Consession, new { @class = " form-control", @style = "width: 100%" })

            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.Consession)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-3">
        <div class="">
            <label class="control-label">Concession Type </label>

            @Html.DropDownListFor(model => model.ConsessionTypeId, Model.AvailableConsessionType, new { @class = "drop-down form-control", @style = "width: 100%" })

            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.ConsessionTypeId)
            </div>
            <!-- //Error Message -->
        </div>
        <!-- //Form Coulmn -->
    </div>
    <div class="col-md-3">
        <div class="">
            <label class="control-label">Receipt Type </label>

            @Html.DropDownListFor(model => model.ReceiptTypeId, Model.AvailableReceiptType, new { @class = "drop-down form-control", @style = "width: 100%" })

            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.ReceiptTypeId)
            </div>
            <!-- //Error Message -->
        </div>
        <!-- //Form Coulmn -->
    </div>
    <div class="col-md-3">
        <div class="">
            <label class="control-label">Amount</label>

            @Html.TextBoxFor(model => model.Amount, new { @class = " form-control", @style = "width: 100%" })

            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="row col-md-5">

            <label class="control-label">Is Active</label>
            @Html.CheckBoxFor(model => model.IsActive)


            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="">
            <label class=" control-label"></label>
            <div>
                @*@if (Model.IsAuthToAdd)
                    {*@
                <button type="submit" id="Save_Consession" name="save" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
                @* } *@
                <button type="button" name="save" class="btn btn-danger" id="cancel_Consession">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Form Row -->


<script type="text/javascript">
    $(document).ready(function () {


        $("#Amount").keydown(function (e) {
            NumericOnly(e);
        });
        modelheaderhtml();
        function modelheaderhtml() {
            $('#headertext').html('<div class="col-md-4">Consession Student List</div>');
            var button = "<div class='col-md-4'><div style='text-align: center;display: flex;align-items: center;justify-content: center;'><label>Session:</label>"
            button += "<select class='form-control'  id='filterSessionId' name='Session' style='width: 150px;text-align: right;'>"
            button += "</select></div></div>";
            button += "<div class='col-md-4'><div id='tblbody'></div></div>"
            $('#headertext').append(button);
        }

        var cncssnId = 0;
        var cncssnTypeTag = "";
        var crrntssnid = "";
        $('.View_StudentsList').click(function () {
            $('#ks_loader').show();
            var ConsessionId = $(this).attr('data-id');
            var ConsessionTypeTag = $(this).attr('data-id-tag');
            cncssnId = ConsessionId;
            cncssnTypeTag = ConsessionTypeTag;
            $('#export_to_excel_div').remove();
            $('#Consession_id').val(ConsessionId);
            $('#Consesion_type_tag').val(ConsessionTypeTag);
            if (crrntssnid != "") {
                $('#filterSessionId').val(crrntssnid);
            }
            var sssnid = $('#filterSessionId').val();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("GetConcStudentList", "Fee"))',
                data: { "ConsessionId": ConsessionId, "ConsessionTypeTag": ConsessionTypeTag, "SessionId": sssnid },
                success: function (result) {

                    if (result.status == "success") {
                        $('#Conc_Students_details').show();
                        $('#Body_data').html('');
                        $('#tblbody').html('');
                        var drophtml = "";
                        if ($('#filterSessionId').val() == 'undefined' || $('#filterSessionId').val() == "" || $('#filterSessionId').val() == null) {
                            $.each(result.sessiolist, function (value, data) {
                                if (data.Selected == true)
                                    drophtml += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                                else
                                    drophtml += "<option value=" + data.Value + ">" + data.Text + "</option>"
                            })
                            $('#filterSessionId').append(drophtml);
                            $('#filterSessionId').val(result.sessonId);
                            crrntssnid = result.sessonId;
                        }
                        var button = "<div id='export_to_excel_div' class='top-space-10' style='text-align: right;margin-right: 22px;'>"
                        button += "<a href=@Html.Raw(Url.Action("ExporttoExcelConcStudentList", "Fee"))?ConsessionId=" + ConsessionId + "&ConsessionTypeTag=" + ConsessionTypeTag.replace(' ','~') + " id='ExporttoExcel_concStudentList' class='btn btn-xs btn-default '>Export To Excel</a></div>"
                        var text = "<table class='table table-bordered table-responsive top-space-10' ><thead class='thead-default'><tr><th>Admn No</th><th>Student Name</th><th>Class</th><th>Monthly Concession</th><th>Concession Till Now</th></tr></thead><tbody>";
                        //  ToastMessage(result.msg, "success", true, 5000);
                        for (var i = 0; i < result.data.length; i++) {
                            text += '<tr><td >' + result.data[i].AdmissionNo + '</td><td >' + result.data[i].StudentName + '</td><td >' + result.data[i].Class + '</td><td >' + result.data[i].MonthlyAmount + '</td><td >' + result.data[i].Amount + '</td></tr>';
                        }
                        text += "</tbody></table>"
                        @if (Model.IsAuthToExport) {
                            <text>
                        $('#tblbody').append(button)
                        </text>
                        }
                        $('#Body_data').append(text);
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        })
        $(document).on('change','#filterSessionId',function () {
            var ConsessionId = cncssnId;
            var ConsessionTypeTag = cncssnTypeTag;
            $('#export_to_excel_div').remove();
            $('#Consession_id').val(ConsessionId);
            $('#Consesion_type_tag').val(ConsessionTypeTag);
            var sssnid = $('#filterSessionId').val();
            if (ConsessionId > 0){
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("GetConcStudentList", "Fee"))',
                data: { "ConsessionId": ConsessionId, "ConsessionTypeTag": ConsessionTypeTag, "SessionId": sssnid },
                success: function (result) {
                    if (result.status == "success") {
                        $('#Conc_Students_details').show();
                        $('#Body_data').html('');
                        $('#tblbody').html('');
                        var button = "<div id='export_to_excel_div' class='top-space-10' style='text-align: right;margin-right: 22px;'>"
                        button += "<a href=@Html.Raw(Url.Action("ExporttoExcelConcStudentList", "Fee"))?ConsessionId=" + ConsessionId + "&ConsessionTypeTag=" + ConsessionTypeTag.replace(' ','~') + "&SessionId=" + sssnid + " id='ExporttoExcel_concStudentList' class='btn btn-xs btn-default '>Export To Excel</a></div>"
                        var text = "<table class='table table-bordered table-responsive top-space-10' ><thead class='thead-default'><tr><th>Admn No</th><th>Student Name</th><th>Class</th><th>Monthly Concession</th><th>Concession Till Now</th></tr></thead><tbody>";
                        //  ToastMessage(result.msg, "success", true, 5000);
                        for (var i = 0; i < result.data.length; i++) {
                            text += '<tr><td >' + result.data[i].AdmissionNo + '</td><td >' + result.data[i].StudentName + '</td><td >' + result.data[i].Class + '</td><td >' + result.data[i].MonthlyAmount + '</td><td >' + result.data[i].Amount + '</td></tr>';
                        }
                        text += "</tbody></table>"
                        @if (Model.IsAuthToExport) {
                            <text>
                        $('#tblbody').append(button)
                        </text>
                        }
                        $('#Body_data').append(text);
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })}
        })


        $(document).on('click', '#ExporttoExcel_concStudentList', function () {
            var ConsessionId = $('#Consession_id').val();
            var ConsessionTypeTag = $('#Consesion_type_tag').val();
            var SessionId = $("#filterSessionId").val();
            @*@{<text>
            @TempData["ConsessionTypeTag"]=ConsessionTypeTag;
</text>  }*@  
             //   window.location.href = "../Fee/ExporttoExcelConcStudentList?ConsessionId=" + ConsessionId + "&ConsessionTypeTag=" + ConsessionTypeTag;
                //  window.location.href = "@Html.Raw(Url.Action("ExporttoExcelConcStudentList", "Fee"))?ConsessionId=" + ConsessionId + "&ConsessionTypeTag=" + ConsessionTypeTag + "&SessionId="+ SessionId;
            })
        $('.Delete_Consession').click(function () {

            var ConsessionId = $(this).attr('data-id');
            if (confirm("Are you sure you want to delete") == true) {
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("DeleteConsession", "Fee"))',
                    data: { "ConsessionId": ConsessionId },
                    success: function (result) {

                        if (result.status == "success") {
                            //  ToastMessage(result.msg, "success", true, 5000);
                            alert(result.msg);
                            window.location.reload();
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }

        })

        $('#Save_Consession').click(function () {

            var groupfeetypevalid = validategroupfeetype(); // check data validation
            if (!groupfeetypevalid) {
                alert(groupfeetypevalidationmessage);
                $(groupfeetypeFieldctrlfocus).focus();
                return false;
            }

            var ConsessionModel = new Object();
            ConsessionModel.Consession = $('#Consession').val();
            ConsessionModel.ConsessionTypeId = $('#ConsessionTypeId').val();
            ConsessionModel.ReceiptTypeId = $('#ReceiptTypeId').val();
            ConsessionModel.Amount = $('#Amount').val();
            if ($('#IsActive').prop('checked') == true) {
                ConsessionModel.IsActive = true;
            } else {
                ConsessionModel.IsActive = false;
            }
            ConsessionModel.ConsessionId = $('#ConsessionId').val();

            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("SaveConsession", "Fee"))',
                data: ConsessionModel,
                success: function (result) {

                    if (result.status == "success") {
                        //  ToastMessage(result.msg, "success", true, 5000);
                        alert(result.msg);
                        window.location.reload();
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function () {
                    //ToastMessage("error", "error", true, 5000);
                    //$('#ks_loader').hide();
                }
            });

        })

        // check guardian data valid or not
        var groupfeetypevalid = true;
        var groupfeetypevalidationmessage = "";
        var groupfeetypeFieldctrlfocus = "";
        function validategroupfeetype() {
            groupfeetypevalid = true;
            groupfeetypevalidationmessage = "";
            groupfeetypeFieldctrlfocus = "";

            if ($('#Consession').val() == "") {
                if (groupfeetypeFieldctrlfocus == "")
                    groupfeetypeFieldctrlfocus = "#Consession";
                groupfeetypevalidationmessage = groupfeetypevalidationmessage + "Please enter Consession \n";
                groupfeetypevalid = false;
            }


            if ($('#ConsessionTypeId').val() == "") {
                if (groupfeetypeFieldctrlfocus == "")
                    groupfeetypeFieldctrlfocus = "#ConsessionTypeId";
                groupfeetypevalidationmessage = groupfeetypevalidationmessage + "Please select Consession Type \n";
                groupfeetypevalid = false;
            }

            if ($('#ReceiptTypeId').val() == "") {
                if (groupfeetypeFieldctrlfocus == "")
                    groupfeetypeFieldctrlfocus = "#ReceiptTypeId";
                groupfeetypevalidationmessage = groupfeetypevalidationmessage + "Please select Receipt Type \n";
                groupfeetypevalid = false;
            }

            if ($('#Amount').val() == "") {
                if (groupfeetypeFieldctrlfocus == "")
                    groupfeetypeFieldctrlfocus = "#Amount";
                groupfeetypevalidationmessage = groupfeetypevalidationmessage + "Please enter Amount \n";
                groupfeetypevalid = false;
            }



            return groupfeetypevalid;
        }

        $('#add_consession').click(function () {
            $('#Save_Consessioin').html('<i class="fa fa-floppy-o"></i> Save');
            $('.create_Consession').css('display', 'block');
            clearfields();
            $('#add_consession').hide();

        })
        $('#cancel_Consession').click(function () {
            $('#add_consession').show();
            $('.create_Consession').css('display', 'none');
            clearfields();
        })

        $('.error-message').each(function () {
            var current = $(this);
            if (current.children('span').text() != "")
                current.show();
            else
                current.hide();
        });


        $('.Edit_Consession').click(function () {
            $('.create_Consession').css('display', 'block');
            $('#Save_Consession').html('<i class="fa fa-floppy-o"></i> Update');
            $('#ConsessionId').val($(this).attr('data-id'));
            $('#Consession').val($(this).parent().parent().find('.Consession').text());
            $('#ConsessionTypeId').val($(this).parent().parent().find('.Consession_TypeId').text()).trigger('change');
            $('#ReceiptTypeId').val($(this).parent().parent().find('.Receipt_TypeId').text()).trigger('change');
            $('#Amount').val($(this).parent().parent().find('.Amount').text());
            if ($(this).parent().parent().find('.Status').text() == "True") {
                $('#IsActive').prop('checked', 'checked')
            }


        })
        function clearfields() {
            //clear fields
            $('#Consession').val('');
            $('#ConsessionTypeId').val("").trigger('change');
            $('#ReceiptTypeId').val("").trigger('change');
            $('#Amount').val("");
            $('#IsActive').removeAttr("checked");
        }


    });

</script>


