﻿@model ViewModel.ViewModel.Fee.GroupFeeHeadModel

<!-- Form Row -->
@Html.Hidden("rowindex")
@Html.Hidden("GroupFeeHeadId")
@Html.Hidden("GroupFeeHeadDetailId")
@Html.Hidden("IsDeleted")
@Html.Hidden("EndDate")
@Html.Hidden("StudentSpecific")
<style type="text/css">
    .drpCls {
        width: 130px;
    }

    .clsamt {
        width: 78px;
    }

    .clsamt1 {
        width: 182px;
    }

    .lblclass{
        margin-top:5px;
    }




    #droptable tbody {
    display:block;
    max-height:250px;
    overflow-y:scroll; 

}

#droptable thead, #droptable tbody tr {
    display:table;
    width:100%;
    table-layout:fixed; 

}
#droptable tbody .selected{
background-color:#e2e1e1;
}

.caret{
    float:right !important;
    margin-top:8px !important;
}

.dropDownGrid
    .btn-default:hover {
     color: none!important; 
     background-color: none!important; 
     border-color: none!important; 
}
</style>




<div class="row top-space-10" style="padding:0px;">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-inline">
            <label class="col-md-4 lblclass">Group Fee Type</label>
            <div class="col-md-6" style="display:none">
                <!-- Button Combo -->
                <div class="btn-combo-ks">
                    @Html.DropDownListFor(model => model.GroupFeeTypeId, Model.AvailableGroupFeeType, new { @class = "form-control drpCls" })
                </div>
                @*@if (Model.IsAuthToAddGroupFeeType) {
                    <a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Add new GroupFeeType" data-toggle="tooltip" data-placement="top" id="add_groupfeetype">
                        <i class="fa fa-plus"></i>
                    </a>
                    }*@
                <!-- //Button Combo -->
            </div>

            <div class="dropdown GroupFeeTypeDropDown">
                <button class="btn-default dropdown-toggle form-control dropDownGrid" type="button" onclick="refershGridtable('.GroupFeeTypeDropDown')" id="tblDropDownGroupFeeTypeId" style="width:50%;height: 30px;" data-toggle="dropdown">
                    --Select--
                    <span class="caret"></span>
                </button>&nbsp;
                <a href="javascript:void(0)" class="" title="Reset" onclick="ResetSelectedGridDropDownId('.GroupFeeTypeDropDown','#GroupFeeTypeId')">
                    <i class="fa fa-refresh" style="font-size:15px">
                    </i>
                </a>

                <ul class="dropdown-menu" style="margin-left:120px">
                    <div class="" style="width:350px">
                        <input id="filterGridTable" class="inputFilterGridTable" type="text" placeholder="Search" style="width:100%" />
                        <table id="droptable" class="table table-hover table-bordered mb-0">
                            <thead style="">
                                <tr>
                                    @*<th>Class Group</th>*@
                                    <th>Fee Class Group</th>
                                    <th>Fee Type</th>
                                </tr>
                            </thead>
                            <tbody class="droptabletbody">
                                @foreach (var item in Model.AvailableGroupFeeTypeDropTable)
                                {
                                    <tr onclick="selectValueInDropDown(@item.GroupFeeTypeId,'.GroupFeeTypeDropDown','#GroupFeeTypeId')" data-btnValue="@item.GroupFeeType" class="dropTableBodytr_@item.GroupFeeTypeId" data-id="@item.GroupFeeTypeId">
                                        @*<td hidden>@item.ClassGroup</td>*@
                                        <td>@item.FeeClassGroup</td>
                                        <td>@item.FeeType</td>
                                        <td hidden class="filterTd">@item.GroupFeeType</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-6 lblclass">Receipt Type</label>
            <div class="col-md-6">
                <!-- Button Combo -->
                <div class="btn-combo-ks">
                    @Html.DropDownListFor(model => model.RecieptTypeId, Model.AvailableReceiptTypes, new { @class = "form-control drpCls",@style="width:115%" })
                    @Html.Hidden("hdnNewstdFee", "false", new { @id = "hdnNewstdFee" })
                </div>
                @*@if (Model.IsAuthToAddGroupFeeType) {
                    <a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Add new GroupFeeType" data-toggle="tooltip" data-placement="top" id="add_groupfeetype">
                        <i class="fa fa-plus"></i>
                    </a>
                    }*@
                <!-- //Button Combo -->
            </div>
        </div>
    </div>
    <div class="col-md-4 isshowall" style="display:block;">
        <!-- Form Coulmn -->
        <div class="form-group">
            <label class="col-md-6 lblclass">Show All</label>
            <div class="col-md-6" style="margin:5px 0 0;">
                @Html.CheckBoxFor(model => model.IsShowAll)
            </div>
        </div>

    </div>
    <div class="col-md-4" id="dvFeeHead" style="display:none;">
        <div class="form-group">
            <label class="col-md-6 lblclass">Fee Head</label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.FeeHeadId, Model.AvailableFeeHead, new { @class = "form-control drpCls",@style="width:100%" })
            </div>
        </div>
    </div>

    <div id="dvDate" class="col-md-4" style="display:none;max-height:40px">
        <!-- Form Coulmn -->
        <div class="form-group">
            <label class="col-md-4 lblclass">Start Date</label>
            <div class="col-md-8">
                @Html.TextBox("EffectiveDate", null, new { @class = "",@style="width:80%" })
            </div>
        </div>

    </div>

    <div class="col-md-4 add_feehead_div"  style="display:none;">
        <!-- Form Coulmn -->
        <div class="form-group">
            <label class="col-md-6 lblclass">Regular Student Fee (<i class="fa @Model.CurrencyIcon"></i>)</label>
            <div class="col-md-6">
                @Html.TextBox("Amount", null, new { @class = "form-control Amount clsamt", @maxlength = "8", @style = "Width:100%" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->

    <div class="col-md-4 add_feehead_div"  style="display:none;">
        <!-- Form Coulmn -->
        <div class="form-group">
            <div id="dvNewStDfee">
                <label class="col-md-6 lblclass">New Student Fee (<i class="fa @Model.CurrencyIcon"></i>)</label>
                <div class="col-md-6">
                    @Html.TextBox("NewAmount", null, new { @class = "form-control Amount clsamt", @maxlength = "8", @style = "Width:100%" })
                </div>
            </div>
            @*<div id="dvblank">
                    <label class="col-md-8 control-label">&nbsp;&nbsp;</label>
                    <div class="col-md-4">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>

                </div>*@
        </div>
    </div>

    <div class="col-md-4 add_feehead_div"  style="display:none;">
        <!-- Form Coulmn -->
        <div class="form-group">
            <label class="col-md-4 lblclass"> Apply Waived off</label>
            <div class="col-md-8" style=" margin-top: 5px; ">
                @Html.CheckBoxFor(model => model.IsDiscount)
            </div>
        </div>

    </div>

    <div class="col-md-4 "  style="display:none;">
        <!-- Form Coulmn -->
        <div class="form-group" hidden>
            <label class="col-md-6 lblclass">EWS Discount(%)</label>
            <div class="col-md-6">
                @Html.TextBox("EWSDiscount", null, new { @class = "form-control clsamt", @maxlength = "3", @style = "Width:100%" })
            </div>
        </div>
        <script>
            $("#EWSDiscount").keydown(function (e) {
                NumericOnly(e);

                if ($(this).val() > 100) {
                    ToastMessage("Discount Can't be greater than 100", "error", true, 5000);

                    $(this).val('100');
                }
            });
            $("#EWSDiscount").blur(function (e) {


                if ($(this).val() > 100) {
                    ToastMessage("Discount Can't be greater than 100", "error", true, 5000);

                    $(this).val('100');
                }
            });
        </script>
    </div>

    <div class="col-md-4 add_feehead_div"  style="display:none;">
        <div class="form-group">
            <label class="col-md-6 lblclass" style="text-align:left;">Apply Late Fee</label>
            <div class="col-md-6">
                <!-- Button Combo -->
                <div class="btn-combo-ks" style=" margin-top: 5px;">
                    @Html.CheckBoxFor(model => model.IsLate)
                </div>

                <!-- //Button Combo -->
            </div>
        </div>
    </div>

    <div class="col-md-4" id="dvSingleTimeFee" style="display:none;">
        <div class="form-group">
            <label class="col-md-6">Single TIme Fee</label>
            <div class="col-md-6">
                <!-- Button Combo -->
                <div class="btn-combo-ks" style=" margin-top: 5px;">
                    @Html.CheckBoxFor(model => model.IsSingleTime)
                </div>
                <!-- //Button Combo -->
            </div>
        </div>
    </div>
</div>
<div class="row add_feehead_div" style="display:none">
    
    <!-- //Form Coulmn -->
    <div class="col-md-12">
        <!-- //Form Coulmn -->
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <!-- //Form Coulmn -->
        <div class=" col-md-3  pull-right">
            <div class="form-group pull-right">
                <a href="javascript:void" class="btn btn-success" id="add_new_feehead">
                    Add
                </a>
                <a href="javascript:void" class="btn btn-danger" id="Cancel_new_feehead">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">


        <table id="groupfeehead_grid" class="table table-striped table-responsive">
            <thead class="thead-default">
                <tr>
                    <th style="width: 15%">Fee Head</th>
                    <th style="display:none;"></th>
                    <th style="width: 12%">Effective Date</th>
                    <th style="width: 8%">End Date</th>
                    <th style="width: 12%">Regular Std. Fee</th>
                    <th style="width: 10%" class="studefee">New Std. Fee</th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    @*<th style="width:12%">EWS(%)</th>*@
                    <th style="width:8%">Late Fee</th>
                    <th style="width:8%">Waived Off</th>
                    <th style="width:8%; display:none;">One Time</th>
                    @if (Model.IsAuthToEdit || Model.IsAuthToDelete || Model.IsAuthToClose)
                    {
                        <th style="width: 8%">Action</th>
                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- close dates blocks -->
<div class="view_dialog_box viewbox_div" id="ViewBox" hidden>
    <div style="width:100%; height:25px; float:left;">
        <font style="float:left; padding:2px 10px;">
            <b>Close Group Fee Head</b>
        </font>
        <a class="text-danger" href="javascript:void(0);" id="close_ViewBox">
            <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
        </a>
    </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            <label class="control-label col-md-3">Close Date</label>
            <div class="col-md-8">
                @Html.TextBox("CloseDate", null, new { @class = "" })
            </div>
        </div>
        <div class="col-md-12 top-space-10" style="margin-bottom: 10px;">
            <label class="col-md-3"></label>
            <div class="col-md-3">
                <button type="button" id="save_ViewBox" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Extend and close dates blocks -->
<!-- Concession blocks -->
<div class="modal-popup" id="ConViewBox" hidden>
    <div class="modal-popup-body" style="width:930px">
        <div class="modal-content">
            <div class="modal-header">
                <font style="float:left; padding:2px 10px;">
                    <b>Concession Detail</b>
                </font>
                <button type="button" class="btn btn-danger  pull-right" id="close_conViewBox">Close</button>
                &nbsp;
                <input type="button" id="btnAddCon" value="Add Concession" class="btn btn-success pull-right" />

            </div>
            <div class="row modal-body">

                <div class="col-md-12 pull-right">
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">

                        <label class="control-label" style="font-weight:bold;">Group Fee Type : </label>

                        <label id="lbGroupfeetype" class="control-label"></label>
                        <input type="hidden" id="hdnGrpHeadDetailid" />
                        <input type="hidden" id="hdnReceipttypeid" />


                    </div>
                    <div class="col-md-4">

                        <label class="control-label" style="font-weight:bold;">Receipt Type : </label>

                        <label id="lbReceipttype" class="control-label"></label>


                    </div>
                    <div class="col-md-4">

                        <label class="control-label" style="font-weight:bold;">Fee Head : </label>

                        <label id="lbFeeHead" class="control-label"></label>

                    </div>



                </div>
                <div id="dvAddCon" hidden>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Concession</label>
                            <input type="hidden" id="hdnGrpHeadconid" />
                            @Html.DropDownList("drpConcession", Model.AvailableConcessionList, new { @id = "drpConcession", @class = "form-control" })
                        </div>
                        <div class="col-md-3 StudentSpecificHidden">
                            <label class="control-label">Concession Type</label>
                            @Html.DropDownListFor(m => m.ConcessionAmountType, Model.AvailableConcessionAmountTypeList, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3 StudentSpecificHidden">
                            <label class="control-label label_name">Amount</label>
                            @Html.TextBox("txtconamount", null, new { @id = "txtconamount", @class = "form-control  Amount clsamt1" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Effective Date</label>
                            @Html.TextBox("conEffectiveDate", null, new { @id = "conEffectiveDate", @class = "" })
                        </div>
                    </div>
                    <div class="col-md-12 top-space-10" style="margin-bottom: 10px;">
                        <label class="col-md-3"></label>
                        <div class="col-md-3 ">

                            <button type="button" id="Cancel_ConViewBox" class="btn btn-danger  pull-right ">
                                <i class="fa fa-floppy-o"></i>
                                Cancel
                            </button>&nbsp;
                            <button type="button" id="save_ConViewBox" class="btn btn-success pull-right">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="Concession-grid">
                        <table id="tblConcession" class="table table-striped table-responsive" style=" border: 1px solid #ddd;">
                            <thead>
                                <tr>
                                    <th>Concession</th>
                                    <th>Amount</th>
                                    <th>Amount Type</th>
                                    <th>Effective Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>

                <div class="view_dialog_box viewbox_div" id="conClosedateViewBox" hidden>
                    <div style="width:100%; height:25px; float:left;">
                        <font style="float:left; padding:2px 10px;">
                            <b>Close Group Fee Head Concession</b>
                        </font>
                        <a class="text-danger" href="javascript:void(0);" id="closedate_ViewBox">
                            <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
                        </a>
                    </div>
                    <div class="row top-space-10">
                        <div class="col-md-12">
                            <label class="control-label col-md-3">Close Date</label>
                            <div class="col-md-8">
                                @Html.TextBox("ConCloseDate", null, new { @class = "" })
                                <input type="hidden" id="hdnFeeheadConid" />
                                <input type="hidden" id="hdnFeeheadConStartDate" />
                            </div>
                        </div>
                        <div class="col-md-12 top-space-10" style="margin-bottom: 10px;">
                            <label class="col-md-3"></label>
                            <div class="col-md-3">
                                <button type="button" id="saveConDate_ViewBox" class="btn btn-success">
                                    <i class="fa fa-floppy-o"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

<!-- Extend and Concession blocks -->




<script type="text/javascript">
    $(document).ready(function () {

        $('#ConcessionAmountType').change(function () {

            var label = $('#ConcessionAmountType option:selected').text();
            if (label == "Amount") {
                $('.label_name').text("Amount")
            }
            else if (label == "Percent") {
                $('.label_name').text("Percent")
            }

        })

        $('.field-validation-error').each(function () {
            var current = $(this);
            if (current.text() != "")
                current.parent().show();
            else
                current.parent().hide();
        });

        $('.field-validation-valid').each(function () {
            var current = $(this);
            if (current.text() != "")
                current.parent().show();
            else
                current.parent().hide();
        });

        $('#CloseDate,#ConCloseDate').kendoDatePicker({
            value: new Date,
            min: new Date,
            format: "dd/MM/yyyy"
        });

        $("#CloseDate,#ConCloseDate").attr("readonly", true);

       

        $('#EffectiveDate,#conEffectiveDate').kendoDatePicker({

            min: '@Model.Sessionstartdate',
            format: "dd/MM/yyyy",
            value: GetDateFromString('@Model.Sessionstartdate')
        });
        $("#EffectiveDate,#conEffectiveDate").attr("readonly", true);
        // open city popup with 3 column city
        $('#add_groupfeetype').click(function () {
            $('#groupfeetype_div').show();
        });

        $('#add_new_feehead').click(function () {
            $('#ks_loader').show();
            var receiptid = $('#RecieptTypeId').val();
            var docfunvalid = ValidateFeeHead();
            if (docfunvalid) {
                // objects
                var GroupFeeHeadModel = new Object();
                // convert date
                GroupFeeHeadModel.GroupFeeTypeId = $('#GroupFeeTypeId').val();
                var date = GetDateFromString($('#EffectiveDate').val());
                GroupFeeHeadModel.FeeHead = $('#FeeHeadId option:selected').text();
                GroupFeeHeadModel.FeeHeadId = $('#FeeHeadId').val();
                GroupFeeHeadModel.EncGroupFeeHeadId = $('#GroupFeeHeadId').val();
                GroupFeeHeadModel.EncGroupFeeHeadDetailId = $('#GroupFeeHeadDetailId').val();
                GroupFeeHeadModel.Date = date;
                GroupFeeHeadModel.EndDate = $('#EndDate').val();
                GroupFeeHeadModel.Amt = $('#Amount').val();
                GroupFeeHeadModel.NewAmt = $('#NewAmount').val();
                GroupFeeHeadModel.RecieptTypeId = $('#RecieptTypeId').val();
                var Islate = $('#IsLate').prop("checked");
                if (Islate == true) {
                    GroupFeeHeadModel.IsLate = true;
                }
                else
                    GroupFeeHeadModel.IsLate = false;

                var Iswave = $('#IsDiscount').prop("checked");
                if (Iswave == true)
                    GroupFeeHeadModel.IsDiscount = true;
                else
                    GroupFeeHeadModel.IsDiscount = false;

                var IsSingleTime = $('#IsSingleTime').prop("checked");
                if (IsSingleTime == true)
                    GroupFeeHeadModel.IsSingleTime = true;
                else
                    GroupFeeHeadModel.IsSingleTime = false;

                var IsDel = $('#IsDeletd').val();
                if (IsDel == "true" || IsDel == "")
                    GroupFeeHeadModel.IsDeleted = true;
                else
                    GroupFeeHeadModel.IsDeleted = false;
                GroupFeeHeadModel.EWSDiscount = $("#EWSDiscount").val();
                // ajax call for save data
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("FeeHead", "Fee"))',
                    data: GroupFeeHeadModel,
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                           // $('#GroupFeeTypeId').trigger("change");
                            $('.addnew_div').show();
                            $('#RecieptTypeId').val(receiptid).trigger('change');
                            $('#dvFeeHead').hide();
                            $('#dvSingleTimeFee').hide();
                            $('#dvDate').hide();
                            ClearControl();
                        //    GetDataofTable();
                        }
                        else {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                $('#ks_loader').hide();
                var validationaray = FeeHeadvalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);

                $(FeeHeadctrlfocus).focus();
            }
        });

        // edit Groupfeehead row
        $('#groupfeehead_grid').delegate('.clsedit', 'click', function () {
            $('.addnew_div').hide();
            $(".isshowall").hide();
            var row = $(this).parent().parent();
            $('#rowindex').val($(this).parent().parent().index()); // row index
            $('#FeeHeadId').val(row.find("td:nth-child(2)").text()); // Fee Head id
            $('#EffectiveDate').val(row.find("td:nth-child(3)").text()); // Effective Date
            $('#Amount').val(row.find("td:nth-child(5)").text()); // Amount
            $('#NewAmount').val(row.find("td:nth-child(6)").text()); // Amount
            $('#GroupFeeHeadId').val(row.find("td:nth-child(7)").text()); // Group Fee head Id
            $('#GroupFeeHeadDetailId').val(row.find("td:nth-child(8)").text()); // Group fee Head Detail Id
            $('#IsDeleted').val(row.find("td:nth-child(9)").text()); // Is Deleted or Close
            $('#EndDate').val(row.find("td:nth-child(4)").text()); // End Date if has
            $('.add_feehead_div').css('display', 'inline-block');
            $('#add_new_feehead').text('Update');
            $('#RecieptTypeId').val(row.find("td:nth-child(10)").text()); // Reciept Type
            if (row.find("td:nth-child(14)").text() == "true")
                $('#IsDiscount').prop("checked", true);
            else
                $('#IsDiscount').prop("checked", false);
            if (row.find("td:nth-child(13)").text() == "true")
                $('#IsLate').prop("checked", true);
            else
                $('#IsLate').prop("checked", false);

            var IsSingleTimeChecked = $(this).parent().parent().find(".clsIsSingleTime").text();
            if (IsSingleTimeChecked == "true")
                $('#IsSingleTime').prop("checked", true);
             else
                $('#IsSingleTime').prop("checked", false);

            var IsUsedinanyreciept = $(this).attr("data-isusedinanyreciept");
            if (IsUsedinanyreciept == "true") {
                $('#IsSingleTime').attr("disabled", "disabled");
            } else {
                $('#IsSingleTime').removeAttr("disabled");
            }

            //$('#IsDiscount').val(row.find("td:nth-child(11)").text()); // Reciept Type
            //$('#IsLate').val(row.find("td:nth-child(12)").text()); // Reciept Type
            $('#EWSDiscount').val(row.find("td:nth-child(13)").text()); // Reciept Type
            $('#dvFeeHead').show();
            $('#dvDate').show();
            $('#dvSingleTimeFee').show();
        });

        // delete Groupfeehead row
        $('#groupfeehead_grid').delegate('.clsdelete', 'click', function () {
            if (confirm("Are you sure to delete this record") == true) {
                $('#ks_loader').show();
                var row = $(this).parent().parent();
                // get row GroupFeeHead and GroupFeeHeadDetail
                var GroupFeeHead = row.find("td:nth-child(7)").text();
                var GroupFeeHeadDetail = row.find("td:nth-child(8)").text();
                if (GroupFeeHead != "" && GroupFeeHeadDetail != "") {
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("DeleteGroupFeeHead", "Fee"))',
                        data: { "GroupFeeHead": GroupFeeHead, "GroupFeeHeadDet": GroupFeeHeadDetail },
                        success: function (result) {
                            if (result.status == "success") {
                                row.remove();
                                $('#rowindex').val('');

                                $('#GroupFeeHeadId').val('');
                                $('#GroupFeeHeadDetailId').val('');
                                ToastMessage(result.msg, "success", true, 5000);
                            }
                            else {
                                ToastMessage(result.msg, "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (xhr, status) {
                            var err = "Error " + " " + status;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                else {
                    row.remove();
                    $('#rowindex').val('');
                    $('#ks_loader').hide();
                }
            }
        });

        $('#Amount').blur(function () {
            if ($('#Amount').val() == "")
            { }
            else {
                if ($('#NewAmount').val() == "") {
                    $('#NewAmount').val($('#Amount').val());
                }
            }

        });


        // edit Groupfeehead row
        $('#groupfeehead_grid').delegate('.clsclose', 'click', function () {
            var row = $(this).parent().parent();
            $('#GroupFeeHeadId').val(row.find("td:nth-child(7)").text()); // Group Fee head Id
            $('#GroupFeeHeadDetailId').val(row.find("td:nth-child(8)").text()); // Group fee Head Detail Id
            $('#rowindex').val($(this).parent().parent().index()); // row index
            $("#CloseDate").val("");
            var closeGroupFeeHeadId = $('#GroupFeeHeadId').val();
            var closeGroupFeeHeadDetailId=$('#GroupFeeHeadDetailId').val();
            if (closeGroupFeeHeadId != "" && closeGroupFeeHeadId != null && closeGroupFeeHeadDetailId != "" && closeGroupFeeHeadDetailId != null) {
                   $('#ks_loader').show();
                  $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetMinDateToCloseGroupHead", "Fee"))',
                    data: { "strGroupFeeHeadid": closeGroupFeeHeadId,"strGroupFeeHeadDetailid": closeGroupFeeHeadDetailId},
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.date != "" && result.date != null && result.date != undefined) {
                                $("#CloseDate").attr("readonly", false);
                                $('#CloseDate').kendoDatePicker({
                                    value: "",
                                    min: result.date,
                                    format: "dd/MM/yyyy"
                                });
                                $("#CloseDate").attr("readonly", true);
                                $("#CloseDate").closest("span.k-datepicker").width(120);
                            }
                            if (result.LastUpdatedDate != "" && result.LastUpdatedDate != null) {
                                $("#CloseDate").val(result.LastUpdatedDate);
                            }
                            opendialog();
                        }
                       else {
                                 ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            
        });

        $('#save_ViewBox').click(function () {
            $('#ks_loader').show();

            var GroupFeeHeadId = $('#GroupFeeHeadId').val(); // Group Fee head Id
            var GroupFeeHeadDetailId = $('#GroupFeeHeadDetailId').val(); // Group fee Head Detail Id

            var rowindex = $('#rowindex').val();
            if ($('#CloseDate').val() != "") {
                var ReceiptTypeId = $('#RecieptTypeId').val();
                var CloseDate = $('#CloseDate').val();
                var date = GetDateFromString(CloseDate);
                // ajax call fro save row closing date
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CloseGroupFeeHead", "Fee"))',
                    data: { "GroupFeeHead": GroupFeeHeadId, "GroupFeeHeadDet": GroupFeeHeadDetailId, "CloseDate": date },
                    success: function (result) {
                        if (result.status == "success") {

                            alert(result.msg);
                            $('#RecieptTypeId').trigger('change');
                           //var ReceiptTypeId= $('#RecieptTypeId').val();
                        //    $('#GroupFeeTypeId').trigger("change");

                            $('#GroupFeeHeadId').val('');
                            $('#GroupFeeHeadDetailId').val('');
                          
                            closedialog();
                           
                          
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
               
            }
            else {
                ToastMessage("Please enter Close Date", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#GroupFeeTypeId').change(function () {
            if ($('#GroupFeeTypeId').val() > 0) {
                if ($('#RecieptTypeId').val() > 0) {
                    $('#RecieptTypeId').trigger('change');
                }
            } else {
                $('#RecieptTypeId').val('')
                $('#groupfeehead_grid tbody').html('');
            }
            //var RecieptTypeId= $('#RecieptTypeId').val();
            //if (RecieptTypeId > 0) {

            //}
        });
        var IsShowAll = false;

        $("#IsShowAll").click(function () {
            if ($('#GroupFeeTypeId').val() == "") {
                ToastMessage("Please Select Group Fee Type", "error", true, 5000);
                return false;
            }
            if ($('#RecieptTypeId').val() == "") {
                ToastMessage("Please Select Reciept Type", "error", true, 5000);
                return false;
            }
            IsShowAll = false;
            if ($("#IsShowAll").prop("checked") == true) {
                IsShowAll = true;
            }
            $("#RecieptTypeId").trigger("change");
        })





        // Group Fee type Change Event
        $('#RecieptTypeId').change(function () {
            if ($('#GroupFeeTypeId').val() == "") {
                ToastMessage("Please Select Group Fee Type", "error", true, 5000);
            }
            else {
                ClearControl();
                // $('.add_feehead_div').hide();

                $('.addnew_div').show();
                var GroupFeeTypeId = $('#GroupFeeTypeId').val();
                var RecieptTypeId = $(this).val();
                $('#rowindex').val('');
                $('#GroupFeeHeadId').val('');
                $('#GroupFeeHeadDetailId').val(''); 
                $('#groupfeehead_grid tbody').html("");
                if (RecieptTypeId > 0) {
                    $('#ks_loader').show();
                    if (RecieptTypeId > 0) {
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("GetGroupFeeHeadByGroupFeeType", "Fee"))',
                            data: { "GroupfeeType": GroupFeeTypeId, "RecieptType": RecieptTypeId, "IsShowAll": IsShowAll },
                            success: function (result) {
                                if (result.status == "success") {
                                    $('#hdnNewstdFee').val(result.ApplyNewStdfee);
                                    $('#FeeHeadId').html('');
                                    if ($('#hdnNewstdFee').val() == "true") {
                                        var colToHide = $('#groupfeehead_grid thead tr th').filter(".studefee");
                                        var index = $(colToHide).index();
                                        $('#groupfeehead_grid').find('tr :nth-child(' + (index + 1) + ')').show();
                                        $('#dvNewStDfee').show();
                                        $('#dvblank').hide();
                                    }
                                    else {
                                        var colToHide = $('#groupfeehead_grid thead tr th').filter(".studefee");
                                        var index = $(colToHide).index();
                                        $('#groupfeehead_grid').find('tr :nth-child(' + (index + 1) + ')').hide();
                                        $('#dvNewStDfee').hide();
                                        $('#dvblank').show();
                                    }

                                    for (var i = 0; i < result.feeHeadList.length; i++) {

                                        $('#FeeHeadId').append('<option value=' + result.feeHeadList[i].Value + '>' + result.feeHeadList[i].Text + '</option>')
                                    }
                                    // Grid Loop
                                    for (var i = 0; i < result.Grid.length; i++) {

                                        var tablerow = "";
                                        if (result.Grid[i].GroupFeeHeadDetailList.length > 0) {
                                            tablerow = "<tr>";
                                            tablerow += "<td>";
                                            tablerow += "(" + result.Grid[i].strStartDate + " - " + result.Grid[i].strEndDate + ")" + "</td></tr>";
                                        }
                                        for (var j = 0; j < result.Grid[i].GroupFeeHeadDetailList.length;j++){
                                        var btns = "";

                                            var IsUsedInAnyReciept = result.Grid[i].GroupFeeHeadDetailList[j].IsUsedInAnyReciept ;
                                        if (result.Grid[i].GroupFeeHeadDetailList[j].IsDeleted == true) {
                                            @if (Model.IsAuthToEdit)
                                    {
                                        <text>
                                            btns = "<a title='Edit' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' data-IsUsedInAnyReciept='"+IsUsedInAnyReciept+"' class='clsedit btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>";
                                            </text>
                                    }
                                        }

                                            if (result.Grid[i].GroupFeeHeadDetailList[j].IsDeleted == true) {
                                            @if(Model.IsAuthToDelete)
                                        {
                                            <text>
                                            btns = btns + "<a title='Delete' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' class='clsdelete  btn btn-xs btn-default'><i class='fa fa-trash'></i></a>";
                                            </text>
                                        }
                                        }
                                        // else
                                        //  {
                                            //if ((result.Grid[i].GroupFeeHeadDetailList[j].EndDate == null || result.Grid[i].GroupFeeHeadDetailList[j].EndDate == "") && result.Grid[i].GroupFeeHeadDetailList[j].FeeHead != "Total Amount") {
                                            if (result.Grid[i].GroupFeeHeadDetailList[j].FeeHead != "Total Amount") {
                                            @if (Model.IsAuthToClose)
                                            {
                                                <text>
                                            btns = btns + "<a title='Close' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' class='clsclose  btn btn-xs btn-default'><i class='fa fa-ban'></i></a>";
                                            </text>
                                           // }
                                           }
                                        }
                                            if (result.Grid[i].GroupFeeHeadDetailList[j].IsConcession == true) {

                                            btns = btns + "<a title='Apply Concession'  href='javascript:void(0)' class='clsconcession btn btn-xs btn-default'><img src='../Content/assets/img/discount.png' alt='' style='width: 15px;'  /></a>";

                                        }
                                        //  }

                                     
                                            @*if (result.Grid[i].IsPending) {
                                        tablerow = "<tr>"
                                            + "<td colspan='3'>" + result.Grid[i].FeeHead + "</td>" // 1 FeeHeadId text
                                            + "<td colspan='2'><i class='fa @Model.CurrencyIcon'></i> " + result.Grid[i].Amt + "</td>" // 5 Amount
                                        + "</tr>";
                                    }
                                    else {*@
                                         
                                        tablerow += "<tr>"
                                            + "<td>" + result.Grid[i].GroupFeeHeadDetailList[j].FeeHead + "</td>" // 1 FeeHeadId text
                                            + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].FeeHeadId + "</td>" // 2 FeeHeadId Value
                                            + "<td>" + result.Grid[i].GroupFeeHeadDetailList[j].EffectiveDate + "</td>" // 3 Effective Date
                                            + "<td>" + result.Grid[i].GroupFeeHeadDetailList[j].EndDate + "</td>" // 4 End Date
                                            + "<td><i class='fa @Model.CurrencyIcon'></i> " + result.Grid[i].GroupFeeHeadDetailList[j].Amt + "</td>" // 5 Amount
                                        if ($('#hdnNewstdFee').val() == "true") {
                                            tablerow += "<td><i class='fa @Model.CurrencyIcon'></i> " + result.Grid[i].GroupFeeHeadDetailList[j].NewAmt + "</td>" // 5 new std Amount
                                        }
                                        else {
                                            tablerow += "<td  style='display: none'><i class='fa @Model.CurrencyIcon'></i> " + result.Grid[i].GroupFeeHeadDetailList[j].NewAmt + "</td>"
                                        }
                                            tablerow += "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].EncGroupFeeHeadId + "</td>" // 6 Head
                                        + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].EncGroupFeeHeadDetailId + "</td>" // 7 detail
                                        + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].IsDeleted + "</td>" // 8 detail
                                        + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].RecieptTypeId + "</td>" // 9 detail
                                         //+ "<td style='display: none'>" + result.Grid[i].IsDiscount + "</td>" // 10 detail
                                           + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].IsLateFee + "</td>" // 11 detail
                                            if (result.Grid[i].GroupFeeHeadDetailList[j].FeeHead == "Total Amount") {
                                            tablerow += "<td></td>" //
                                            // + "<td ></td>"
                                              + "<td ></td>"

                                        }
                                        else {
                                                tablerow += "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].EWSDiscount + "</td>" //
                                             + "<td >" + result.Grid[i].GroupFeeHeadDetailList[j].IsLateFee + "</td>"
                                              + "<td >" + result.Grid[i].GroupFeeHeadDetailList[j].IsDiscount + "</td>"
                                          + "<td style='display:none;' class='clsIsSingleTime' >" + result.Grid[i].GroupFeeHeadDetailList[j].IsSingleTime + "</td>"
                                        }
                                        @if (Model.IsAuthToEdit || Model.IsAuthToDelete || Model.IsAuthToClose)
                                        {
                                            <text>
                                        tablerow += "<td class='text-center'>" + btns + " </td>" //9
                                            </text>
                                        }

                                        + "</tr>";
                                        // }

                                        }
                                        $('#groupfeehead_grid tbody').append(tablerow);
                                }
                                }

                                //if (result.Grid.length == 0) {
                                //    var row = "<tr class='cls_nodatarow'><td class='text-center' colspan='7'>No data found</td></tr>";
                                //    $('#groupfeehead_grid tbody').append(row);
                                //}
                                $('[data-toggle="tooltip"]').tooltip();



                                $('#ks_loader').hide();
                            },
                            error: function (xhr, status) {
                                var err = "Error " + " " + status;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    } else {
                        ToastMessage("Please Select Group Fee Type", "error", true, 5000);
                    }
                }
            }

        });

        // dialog box
        $('#close_ViewBox').click(function () {
            closedialog();
        });




        function opendialog() {
            $(".viewbox_div").hide(800);
            $("#ViewBox").show(800);
        }

        function closedialog() {
            $('#rowindex').val('');
            $("#ViewBox").hide(800);
        }

        // function get date as string and return date
        function GetDateFromString(date) {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }

        // add Groupfeehead row function
        function AddGroupfeeheadRowInGrid() {
            $("#groupfeehead_grid tbody tr.cls_nodatarow").remove();
            if ($('#rowindex').val() != "") {
                var rowindex = $('#rowindex').val();
                $("#groupfeehead_grid tbody tr:eq(" + rowindex + ")").remove();
                $('#rowindex').val('');
            }
            else
                $('#rowindex').val('');
            @if (Model.IsAuthToEdit) { <text>
            var btns = "<a href='javascript:void(0)' class='clsedit  btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>";
            </text>}
            if ($('#IsDeleted').val() == "true" || $('#IsDeleted').val() == "") {
                @if(Model.IsAuthToDelete){<text>
                btns = btns + "<a href='javascript:void(0)' class='clsdelete  btn btn-xs btn-default'><i class='fa fa-trash'></i></a>";
                </text>}
            }
            else
                @if (Model.IsAuthToClose) { <text>
                btns = btns + "<a href='javascript:void(0)' class='clsclose  btn btn-xs btn-default'><i class='fa fa-ban'></i></a>";
            </text>}

            var tablerow = "<tr>"
                + "<td>" + $("#FeeHeadId option:selected").text() + "</td>" // 1 FeeHeadId text
                + "<td style='display: none'>" + $('#FeeHeadId').val() + "</td>" // 2 FeeHeadId Value
                + "<td>" + $('#EffectiveDate').val() + "</td>" // 3 Effective Date
                + "<td>" + $('#EndDate').val() + "</td>" // 4 end Date
                + "<td><i class='fa @Model.CurrencyIcon'></i> " + $('#Amount').val() + "</td>" // 5 Amount
                 + "<td><i class='fa @Model.CurrencyIcon'></i> " + $('#NewAmount').val() + "</td>" // 5 New Student Amount
                + "<td style='display: none'>" + $("#GroupFeeHeadId").val() + "</td>" // 6 Head
                + "<td style='display: none'>" + $("#GroupFeeHeadDetailId").val() + "</td>" // 7 detail
                + "<td style='display: none'>" + $('#IsDeleted').val() + "</td>" // 8 Deleted Button
                 + "<td style='display: none'>" + $('#RecieptTypeId').val() + "</td>" // 10 Deleted Button
                @if (Model.IsAuthToEdit || Model.IsAuthToDelete || Model.IsAuthToClose) { <text>

                + "<td class='text-center'>" + btns + "  <a title='Apply Concession'  href='javascript:void(0)' class='clsconcession btn btn-xs btn-default'><img src='../Content/assets/img/discount.png' alt='' style='width: 15px;'  /></a></td>" //9
                                                </text>}

                + "</tr>";

            $('#groupfeehead_grid tbody').append(tablerow);
        }

        // validation function
        var FeeHeadvalid = true;
        var FeeHeadvalidationmessage = "";
        var FeeHeadctrlfocus = "";
        function ValidateFeeHead(count) {
            FeeHeadvalid = true;
            FeeHeadvalidationmessage = "";
            FeeHeadctrlfocus = "";

            if ($('#GroupFeeTypeId').val() == "") {
                if (FeeHeadctrlfocus == "")
                    FeeHeadctrlfocus = "#GroupFeeTypeId";
                FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Please select Group FeeType ε";
                FeeHeadvalid = false;
            }
            if ($('#FeeHeadId').val() == "") {
                if (FeeHeadctrlfocus == "")
                    FeeHeadctrlfocus = "#FeeHeadId";
                FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Please select FeeHead ε";
                FeeHeadvalid = false;
            }
            if ($('#RecieptTypeId').val() == "") {
                if (FeeHeadctrlfocus == "")
                    FeeHeadctrlfocus = "#RecieptTypeId";
                FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Please select RecieptType ε";
                FeeHeadvalid = false;
            }
            if ($('#EffectiveDate').val() == "") {
                if (FeeHeadctrlfocus == "")
                    FeeHeadctrlfocus = "#EffectiveDate";
                FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Please enter Date ε";
                FeeHeadvalid = false;
            }


            if ($('#Amount').val() == "") {
                if (FeeHeadctrlfocus == "")
                    FeeHeadctrlfocus = "#Amount";
                FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Please enter Regular Student Fee ε";
                FeeHeadvalid = false;
            }
            if ($('#Amount').val() != "") {
                var amount = parseFloat($('#Amount').val());
                if (amount < 0) {
                    if (FeeHeadctrlfocus == "")
                        FeeHeadctrlfocus = "#Amount";
                    FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Invalid Regular Student Fee ε";
                    FeeHeadvalid = false;
                }
            }
            if ($('#NewAmount').val() == "") {
                if (FeeHeadctrlfocus == "")
                    FeeHeadctrlfocus = "#NewAmount";
                FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Please enter New Student Fee ε";
                FeeHeadvalid = false;
            }
            if ($('#NewAmount').val() != "") {
                var amount = parseFloat($('#NewAmount').val());
                if (amount < 0) {
                    if (FeeHeadctrlfocus == "")
                        FeeHeadctrlfocus = "#NewAmount";
                    FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Invalid New Student Fee ε";
                    FeeHeadvalid = false;
                }
            }
            if ($('#Amount').val() == "0" && $('#NewAmount').val() == "0") {
                if (FeeHeadctrlfocus == "")
                    FeeHeadctrlfocus = "#Amount";
                FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Either Regular Student Fee or New Student Fee Should be non-zero ε";
                FeeHeadvalid = false;
            }
            if ($('#FeeHeadId').val() != "") {
                var FeeHeadId = $('#FeeHeadId').val();
                var indexval = $('#rowindex').val();
                indexval = indexval != "" ? indexval : -1;
                var count = 0;
                $('#groupfeehead_grid tbody tr').each(function () {
                    var row = $(this);
                    var gridFeeHeadId = row.find('td:nth-child(2)').text();
                    var enddate = row.find('td:nth-child(4)').text();
                    if (FeeHeadId == gridFeeHeadId && indexval != row.index() && enddate == "")
                        count = count + 1;
                });
                if (count > 0) {
                    FeeHeadvalidationmessage = FeeHeadvalidationmessage + "Selected Fee Head already exist in grid ε";
                    FeeHeadvalid = false;
                }
            }

            return FeeHeadvalid;
        }
        // function get date as string and return date
        function GetDateFromString(date) {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        function ClearControl() {
            $('.add_feehead_div').hide();
            $(".isshowall").show();
            $('#FeeHeadId').val('');
            $('#Amount').val('');
            $('#NewAmount').val('');
            $("#EffectiveDate").attr("readonly", true);
            $("#CloseDate").attr("readonly", true);
            var datePicker = $("#EffectiveDate").data("kendoDatePicker");
            var todayDate = (GetDateFromString('@Model.Sessionstartdate'));
            datePicker.value(todayDate);
            datePicker.trigger("change");
            $('#CloseDate').val('');
            $('#EndDate').val('');
            $("#GroupFeeHeadId").val('');
            $("#GroupFeeHeadDetailId").val('');
            $("#IsDeleted").val('');
            $('#Amount').removeAttr("disabled");
            $('#NewAmount').removeAttr("disabled");
            $('#IsLate').prop("checked", false);
            $('#IsDiscount').prop("checked", false);
            $('#IsSingleTime').prop("checked", false);
            $('#dvFeeHead').hide();
            $('#dvSingleTimeFee').hide();
            $('#dvDate').hide();
            $('#EWSDiscount').val('0');
        }

        $('#add_fee_head').click(function () {
            $(".isshowall").hide();
            $('.add_feehead_div').show();
            // $('.add_feehead_div').css('display', 'inline-block');
            $('#dvFeeHead').show();
            $('#dvDate').show();
            $('#dvSingleTimeFee').show();
            $('#add_new_feehead').text('Save');
        });
        $('#Cancel_new_feehead').click(function () {
            ClearControl();
            $('.add_feehead_div').hide();
            $('.addnew_div').show();
            $('#dvFeeHead').hide();
            $('#dvSingleTimeFee').hide();
            $('#dvDate').hide();
        });

        $(document).delegate('.clsconcession', 'click', function () {
            $('#tblConcession tbody').html('');
            var row = $(this).parent().parent();
            var RowIndex = $(this).parent().parent().index();
            $('#hdnReceipttypeid').val($('#RecieptTypeId').val());
            $('#hdnGrpHeadDetailid').val(row.find("td:nth-child(8)").text());
            var groupFeeHeadId = row.find("td:nth-child(7)").text();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetHeadwiseConcessionDetail", "Fee"))',
                data: { "GroupFeeHeadId": groupFeeHeadId, "RecieptType": $('#hdnReceipttypeid').val(), "GroupFeeHeadDetailid": $('#hdnGrpHeadDetailid').val() },
                success: function (result) {
                    if (result.status == "success") {
                        $('#lbGroupfeetype').text(result.GroupFeeType);
                        $('#lbReceipttype').text(result.ReceiptType);
                        $('#lbFeeHead').text(result.GroupfeeHeadName);
                        var concessionList = $('#drpConcession');
                        concessionList.empty();
                        $.each(result.ConcessionList, function () {
                            concessionList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });

                        if (result.GroupFeeHeadConList.length > 0) {
                            for (var i = 0; i < result.GroupFeeHeadConList.length; i++) {
                                var row = "<tr>";
                                row += "<td style='display:none;'><span class='clsHeadConid'>" + result.GroupFeeHeadConList[i].GroupFeeHeadConcId + "</span></td>";
                                row += "<td><span>" + result.GroupFeeHeadConList[i].Concession + "</span></td>";
                                row += "<td><span>" + result.GroupFeeHeadConList[i].Amount + "</span></td>";
                                if (result.GroupFeeHeadConList[i].IsPercent == false) {
                                    row += "<td><span>Amount</span></td>";
                                }
                                else {
                                    row += "<td><span>Percent</span></td>";
                                }

                                row += "<td><span>" + result.GroupFeeHeadConList[i].EffectiveDate + "</span></td>";
                                row += "<td><span>" + result.GroupFeeHeadConList[i].EndDate + "</span></td>";
                                row += "<td style='display:none;'><span>" + result.GroupFeeHeadConList[i].ConcessionId + "</span></td>";
                                row += "<td style='display:none;'><span>" + result.GroupFeeHeadConList[i].IsPercent + "</span></td>";
                                row += "<td>";
                                if (result.GroupFeeHeadConList[i].IsAuthToEdit == true) {
                                    row += "<a href='javascript:void(0)' title='Edit' data-toggle='tooltip' data-placement='top' class='updateRecords btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>";
                                }
                                if (result.GroupFeeHeadConList[i].IsAuthToDelete == true) {
                                    row += "<a href='javascript:void(0)' title='Delete' data-toggle='tooltip' data-placement='top' class='deleteRecords btn btn-xs btn-default'><i class='fa fa-trash'></i></a>";
                                }
                                if (result.GroupFeeHeadConList[i].IsAuthToClose == true) {
                                    row += "<a href='javascript:void(0)' title='Close' data-toggle='tooltip' data-placement='top' class='clsclose btn btn-xs btn-default'><i class='fa fa-ban'></i></a>";
                                }
                                row += "</td>";
                                row += "</tr>";
                                $('#tblConcession tbody').append(row);
                            }
                        }
                    }
                    $('#ConViewBox').show();
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });
        $('#close_conViewBox').click(function () {
            $('#ConViewBox').hide();
            $('#hdnGrpHeadDetailid').val('');
            $('#hdnReceipttypeid').val('');
        });




        $('#save_ConViewBox').click(function () {
            $('#ks_loader').show();
            $('#tblConcession tbody').html('');
            var groupFeeheaddetailid = $('#hdnGrpHeadDetailid').val();
            var concessionid = $('#drpConcession').val();
            var amounttype = $('#ConcessionAmountType').val();
            var Amount = $('#txtconamount').val();
            var effectivedate = GetDateFromString($('#conEffectiveDate').val());
            if (concessionid == "") {
                ToastMessage("Please provide concession", "error", true, 5000);
                $('#ks_loader').hide();
                return false;
            }
            if (Amount == "" && $('#StudentSpecific').val()=="false") {
                ToastMessage("Please provide Amount", "error", true, 5000);
                $('#ks_loader').hide();
                return false;
            }
            if (Amount == "0" && $('#StudentSpecific').val() == "false") {
                ToastMessage("Amount should be greater than 0", "error", true, 5000);
                $('#ks_loader').hide();
                return false;
            }
            if ($('#conEffectiveDate').val() == "") {
                ToastMessage("Please provide Effective date", "error", true, 5000);
                $('#ks_loader').hide();
                return false;
            }

            //if ($('#hdnGrpHeadconid').val() != "") {
            //    $('#save_ConViewBox').text('Update');
            //}
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("AddHeadWiseConcession", "Fee"))',
                data: { "GroupfeeHeadConId": $('#hdnGrpHeadconid').val(), "GroupFeeHeadDetailId": groupFeeheaddetailid, "Concessionid": concessionid, "AmountType": amounttype, "Amount": Amount, "StartDate": effectivedate },
                success: function (result) {
                    if (result.status == "success") {
                        Clear();
                        if (result.AvailableConcessionList.length > 0) {
                            $('#drpConcession').html('');
                            var html = '<option>---Select---</option>';
                            for (var i = 0; i < result.AvailableConcessionList.length; i++) {
                                html += '<option value=' + result.AvailableConcessionList[i].Value + '>' + result.AvailableConcessionList[i].Text + '</option>';
                            }
                            $('#drpConcession').html(html);
                        }
                        if (result.GroupFeeHeadConList.length > 0) {
                            for (var i = 0; i < result.GroupFeeHeadConList.length; i++) {
                                var row = "<tr>";
                                row += "<td style='display:none;'><span class='clsHeadConid'>" + result.GroupFeeHeadConList[i].GroupFeeHeadConcId + "</span></td>";
                                row += "<td><span>" + result.GroupFeeHeadConList[i].Concession + "</span></td>";
                                row += "<td><span>" + result.GroupFeeHeadConList[i].Amount + "</span></td>";
                                if (result.GroupFeeHeadConList[i].IsPercent == false) {
                                    row += "<td><span>Amount</span></td>";
                                }
                                else {
                                    row += "<td><span>Percent</span></td>";
                                }

                                row += "<td><span>" + (result.GroupFeeHeadConList[i].EffectiveDate) + "</span></td>";
                                row += "<td><span>" + (result.GroupFeeHeadConList[i].EndDate) + "</span></td>";
                                row += "<td style='display:none;'><span>" + result.GroupFeeHeadConList[i].ConcessionId + "</span></td>";
                                row += "<td style='display:none;'><span>" + result.GroupFeeHeadConList[i].IsPercent + "</span></td>";
                                row += "<td>";
                                if (result.GroupFeeHeadConList[i].IsAuthToEdit == true) {
                                    row += "<a href='javascript:void(0)' title='Edit' data-toggle='tooltip' data-placement='top' class='updateRecords btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>";
                                }
                                if (result.GroupFeeHeadConList[i].IsAuthToDelete == true) {
                                    row += "<a href='javascript:void(0)' title='Delete' data-toggle='tooltip' data-placement='top' class='deleteRecords btn btn-xs btn-default'><i class='fa fa-trash'></i></a>";
                                }
                                if (result.GroupFeeHeadConList[i].IsAuthToClose == true) {
                                    row += "<a href='javascript:void(0)' title='Close' data-toggle='tooltip' data-placement='top' class='clsclose btn btn-xs btn-default'><i class='fa fa-ban'></i></a>";
                                }
                                row += "</td>";
                                row += "</tr>";
                                $('#tblConcession tbody').append(row);
                            }
                        }

                        $('#save_ConViewBox').prop("disabled", false);
                        $('#dvAddCon').hide();
                        ToastMessage(result.message, "success", true, 5000);

                    }
                    else {
                        ToastMessage(result.message, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        });
        $('#btnAddCon').click(function () {
            Clear();
            $('#save_ConViewBox').text('Save');
            $('#dvAddCon').show();
        });
        $('#Cancel_ConViewBox').click(function () {
            $('#dvAddCon').hide();
        });
        $(document).delegate('.updateRecords', 'click', function () {
            var row = $(this).parent().parent();
            var GroupfeeheadconId = 0;
            GroupfeeheadconId = row.find("td:nth-child(1)").text().trim();
            $('#hdnGrpHeadconid').val(GroupfeeheadconId);
            $('#txtconamount').val(row.find("td:nth-child(3)").text().trim());
            $('#conEffectiveDate').val(row.find("td:nth-child(5)").text().trim());
            $('#drpConcession').append("<option value='"+row.find("td:nth-child(7)").text().trim()+"'>"+row.find("td:nth-child(2)").text().trim()+"</option>");

            $('#drpConcession').val(row.find("td:nth-child(7)").text().trim());
            if (row.find("td:nth-child(8)").text().trim() == "False" || row.find("td:nth-child(8)").text().trim() == "false") {
                $('#ConcessionAmountType').val(0);
            }
            else {
                $('#ConcessionAmountType').val(1);
            }
            $('#dvAddCon').show();
        });
        $(document).delegate('.clsclose', 'click', function () {
            var row = $(this).parent().parent();
            var GroupfeeheadconId = 0;
            GroupfeeheadconId = row.find("td:nth-child(1)").text().trim();
            var date = GetDateFromString(row.find("td:nth-child(5)").text().trim());

            $('#hdnFeeheadConid').val(GroupfeeheadconId);
            $('#hdnFeeheadConStartDate').val(date);
            $('#conClosedateViewBox').show();
            var myDatePicker = $("#CloseDate").data("kendoDatePicker");
            myDatePicker.min(row.find("td:nth-child(3)").text().trim());
        });
        $('#closedate_ViewBox').click(function () {
            $('#hdnFeeheadConid').val('');
            $('#conClosedateViewBox').hide();
        });
        $('#saveConDate_ViewBox').click(function () {
            $('#ks_loader').show();
            var GroupfeeheadconId = 0;
            GroupfeeheadconId = $('#hdnFeeheadConid').val();
            var closedate = GetDateFromString($('#ConCloseDate').val());
            if ($('#ConCloseDate').val() == '') {
                ToastMessage("Please provide Close Date", "error", true, 5000);
                $('#ks_loader').hide();
            }
            else {
                var startdate = GetDateFromString($('#hdnFeeheadConStartDate').val());
                if (startdate > closedate) {
                    $('#ConCloseDate').val('');
                    ToastMessage("Close Date should be greater than Effective Date", "error", true, 5000);
                    $('#ks_loader').hide();
                }
                else {
                    $('#tblConcession tbody').html('');
                    var Groupfeeheadetailid = $('#hdnGrpHeadDetailid').val();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("CloseHeadWiseConcessionDate", "Fee"))',
                        data: { "GroupfeeHeadConId": GroupfeeheadconId, "GroupFeeHeadDetailId": Groupfeeheadetailid, "CloseDate": closedate },
                        success: function (result) {
                            if (result.status == "success") {
                                if (result.GroupFeeHeadConList.length > 0) {
                                    for (var i = 0; i < result.GroupFeeHeadConList.length; i++) {
                                        var row = "<tr>";
                                        row += "<td style='display:none;'><span class='clsHeadConid'>" + result.GroupFeeHeadConList[i].GroupFeeHeadConcId + "</span></td>";
                                        row += "<td><span>" + result.GroupFeeHeadConList[i].Concession + "</span></td>";
                                        row += "<td><span>" + result.GroupFeeHeadConList[i].Amount + "</span></td>";
                                        if (result.GroupFeeHeadConList[i].IsPercent == false) {
                                            row += "<td><span>Amount</span></td>";
                                        }
                                        else {
                                            row += "<td><span>Percent</span></td>";
                                        }

                                        row += "<td><span>" + (result.GroupFeeHeadConList[i].EffectiveDate) + "</span></td>";
                                        row += "<td><span>" + (result.GroupFeeHeadConList[i].EndDate) + "</span></td>";
                                        row += "<td style='display:none;'><span>" + result.GroupFeeHeadConList[i].ConcessionId + "</span></td>";
                                        row += "<td style='display:none;'><span>" + result.GroupFeeHeadConList[i].IsPercent + "</span></td>";
                                        row += "<td>";
                                        if (result.GroupFeeHeadConList[i].IsAuthToEdit == true) {
                                            row += "<a href='javascript:void(0)' title='Edit' data-toggle='tooltip' data-placement='top' class='updateRecords btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>";
                                        }
                                        if (result.GroupFeeHeadConList[i].IsAuthToDelete == true) {
                                            row += "<a href='javascript:void(0)' title='Delete' data-toggle='tooltip' data-placement='top' class='deleteRecords btn btn-xs btn-default'><i class='fa fa-trash'></i></a>";
                                        }
                                        if (result.GroupFeeHeadConList[i].IsAuthToClose == true) {
                                            row += "<a href='javascript:void(0)' title='Close' data-toggle='tooltip' data-placement='top' class='clsclose btn btn-xs btn-default'><i class='fa fa-ban'></i></a>";
                                        }
                                        row += "</td>";
                                        row += "</tr>";
                                        $('#tblConcession tbody').append(row);
                                    }
                                }
                            }
                            if (result.AvailableConcessionList.length > 0) {
                                $('#drpConcession').html('');
                                var html = '<option>---Select---</option>';
                                for (var i = 0; i < result.AvailableConcessionList.length; i++) {
                                    html += '<option value=' + result.AvailableConcessionList[i].Value + '>' + result.AvailableConcessionList[i].Text + '</option>';
                                }
                                $('#drpConcession').html(html);
                            }
                            ToastMessage(result.message, "success", true, 5000);
                            $('#conClosedateViewBox').hide();
                            $('#ks_loader').hide();

                        },
                        error: function (xhr, status) {
                            var err = "Error " + " " + status;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
            }
        });
        $(document).delegate('.deleteRecords', 'click', function () {
            $('#ks_loader').show();
            $('#tblConcession tbody').html('');
            var row = $(this).parent().parent();
            var GroupfeeheadconId = 0;
            GroupfeeheadconId = row.find("td:nth-child(1)").text().trim();
            var Groupfeeheadetailid = $('#hdnGrpHeadDetailid').val();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteHeadWiseConcession", "Fee"))',
                data: { "GroupfeeHeadConId": GroupfeeheadconId, "GroupFeeHeadDetailId": Groupfeeheadetailid },
                success: function (result) {
                    if (result.status == "success") {

                        if (result.GroupFeeHeadConList.length > 0) {
                            for (var i = 0; i < result.GroupFeeHeadConList.length; i++) {
                                var row = "<tr>";
                                row += "<td style='display:none;'><span class='clsHeadConid'>" + result.GroupFeeHeadConList[i].GroupFeeHeadConcId + "</span></td>";
                                row += "<td><span>" + result.GroupFeeHeadConList[i].Concession + "</span></td>";
                                row += "<td><span>" + result.GroupFeeHeadConList[i].Amount + "</span></td>";
                                if (result.GroupFeeHeadConList[i].IsPercent == false) {
                                    row += "<td><span>Amount</span></td>";
                                }
                                else {
                                    row += "<td><span>Percent</span></td>";
                                }

                                row += "<td><span>" + result.GroupFeeHeadConList[i].EffectiveDate + "</span></td>";
                                row += "<td><span>" + result.GroupFeeHeadConList[i].EndDate + "</span></td>";
                                row += "<td style='display:none;'><span>" + result.GroupFeeHeadConList[i].ConcessionId + "</span></td>";
                                row += "<td style='display:none;'><span>" + result.GroupFeeHeadConList[i].IsPercent + "</span></td>";
                                row += "<td>";
                                if (result.GroupFeeHeadConList[i].IsAuthToEdit == true) {
                                    row += "<a href='javascript:void(0)' title='Edit' data-toggle='tooltip' data-placement='top' class='updateRecords btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>";
                                }
                                if (result.GroupFeeHeadConList[i].IsAuthToDelete == true) {
                                    row += "<a href='javascript:void(0)' title='Delete' data-toggle='tooltip' data-placement='top' class='deleteRecords btn btn-xs btn-default'><i class='fa fa-trash'></i></a>";
                                }
                                if (result.GroupFeeHeadConList[i].IsAuthToClose == true) {
                                    row += "<a href='javascript:void(0)' title='Close' data-toggle='tooltip' data-placement='top' class='clsclose btn btn-xs btn-default'><i class='fa fa-ban'></i></a>";
                                }
                                row += "</td>";
                                row += "</tr>";
                                $('#tblConcession tbody').append(row);
                            }
                        }
                    }
                    ToastMessage(result.message, "success", true, 5000);

                    $('#ks_loader').hide();
                    return false;
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        });
        function Clear() {
            $('#drpConcession').val('');
            var datePicker = $("#conEffectiveDate").data("kendoDatePicker");
            var todayDate = (GetDateFromString('@Model.Sessionstartdate'));
            datePicker.value(todayDate);
            datePicker.trigger("change");
            $('#txtconamount').val('');
            $('.StudentSpecificHidden').show();
            $('#StudentSpecific').val(false);
        }

        function GetDataofTable() {
            $('.addnew_div').show();
            var GroupFeeTypeId = $('#GroupFeeTypeId').val();
            var RecieptTypeId = $(this).val();
            $('#rowindex').val('');
            $('#GroupFeeHeadId').val('');
            $('#GroupFeeHeadDetailId').val('');
            $('#groupfeehead_grid tbody').html("");

            $('#ks_loader').show();

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetGroupFeeHeadByGroupFeeType", "Fee"))',
                data: { "GroupfeeType": GroupFeeTypeId, "RecieptType": RecieptTypeId, "IsShowAll": IsShowAll },
                success: function (result) {
                    if (result.status == "success") {
                        $('#hdnNewstdFee').val(result.ApplyNewStdfee);
                        $('#FeeHeadId').html('');
                        if ($('#hdnNewstdFee').val() == "true") {
                            var colToHide = $('#groupfeehead_grid thead tr th').filter(".studefee");
                            var index = $(colToHide).index();
                            $('#groupfeehead_grid').find('tr :nth-child(' + (index + 1) + ')').show();
                            $('#dvNewStDfee').show();
                            $('#dvblank').hide();
                        }
                        else {
                            var colToHide = $('#groupfeehead_grid thead tr th').filter(".studefee");
                            var index = $(colToHide).index();
                            $('#groupfeehead_grid').find('tr :nth-child(' + (index + 1) + ')').hide();
                            $('#dvNewStDfee').hide();
                            $('#dvblank').show();
                        }

                        for (var i = 0; i < result.feeHeadList.length; i++) {

                            $('#FeeHeadId').append('<option value=' + result.feeHeadList[i].Value + '>' + result.feeHeadList[i].Text + '</option>')
                        }
                        // Grid Loop
                        for (var i = 0; i < result.Grid.length; i++) {
                            var tablerow = "";
                            if (result.Grid[i].GroupFeeHeadDetailList.length > 0) {
                                tablerow = "<tr>";
                                tablerow += "<td>";
                                tablerow += "(" + result.Grid[i].strStartDate + " - " + result.Grid[i].strEndDate + ")" + "</td></tr>";
                            }
                            for (var j = 0; j < result.Grid[i].GroupFeeHeadDetailList.length;j++){
                            var btns = "";
                                 var IsUsedInAnyReciept = result.Grid[i].GroupFeeHeadDetailList[j].IsUsedInAnyReciept ;
                            if (result.Grid[i].GroupFeeHeadDetailList[j].IsDeleted == true) {
                                @if (Model.IsAuthToEdit)
                                        {
                                            <text>
                                btns = "<a title='Edit' data-toggle='tooltip' data-placement='top' data-IsUsedInAnyReciept='"+IsUsedInAnyReciept+"' href='javascript:void(0)' class='clsedit btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>";
                                </text>
                                        }
                            }

                                if (result.Grid[i].GroupFeeHeadDetailList[j].IsDeleted == true) {
                                @if(Model.IsAuthToDelete)
                                        {
                                            <text>
                                btns = btns + "<a title='Delete' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' class='clsdelete  btn btn-xs btn-default'><i class='fa fa-trash'></i></a>";
                                </text>
                                        }
                            }
                            // else
                            //  {
                                if ((result.Grid[i].GroupFeeHeadDetailList[j].EndDate == null || result.Grid[i].GroupFeeHeadDetailList[j].EndDate == "") && result.Grid[i].GroupFeeHeadDetailList[j].FeeHead != "Total Amount") {
                                @if (Model.IsAuthToClose)
                                        {
                                            <text>
                                btns = btns + "<a title='Close' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' class='clsclose  btn btn-xs btn-default'><i class='fa fa-ban'></i></a>";
                                </text>
                                            // }
                                        }
                            }
                                if (result.Grid[i].GroupFeeHeadDetailList[j].IsConcession == true) {

                                btns = btns + "<a title='Apply Concession'  href='javascript:void(0)' class='clsconcession btn btn-xs btn-default'><img src='../Content/assets/img/discount.png' alt='' style='width: 15px;'  /></a>";

                            }
                            //  }

                            @*if (result.Grid[i].IsPending) {
                                        tablerow = "<tr>"
                                            + "<td colspan='3'>" + result.Grid[i].FeeHead + "</td>" // 1 FeeHeadId text
                                            + "<td colspan='2'><i class='fa @Model.CurrencyIcon'></i> " + result.Grid[i].Amt + "</td>" // 5 Amount
                                        + "</tr>";
                                    }
                                else {*@

                                tablerow += "<tr>"
                                + "<td>" + result.Grid[i].GroupFeeHeadDetailList[j].FeeHead + "</td>" // 1 FeeHeadId text
                                + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].FeeHeadId + "</td>" // 2 FeeHeadId Value
                                + "<td>" + result.Grid[i].GroupFeeHeadDetailList[j].EffectiveDate + "</td>" // 3 Effective Date
                                + "<td>" + result.Grid[i].GroupFeeHeadDetailList[j].EndDate + "</td>" // 4 End Date
                                + "<td><i class='fa @Model.CurrencyIcon'></i> " + result.Grid[i].GroupFeeHeadDetailList[j].Amt + "</td>" // 5 Amount
                            if ($('#hdnNewstdFee').val() == "true") {
                                tablerow += "<td><i class='fa @Model.CurrencyIcon'></i> " + result.Grid[i].GroupFeeHeadDetailList[j].NewAmt + "</td>" // 5 new std Amount
                            }
                            else {
                                tablerow += "<td  style='display: none'><i class='fa @Model.CurrencyIcon'></i> " + result.Grid[i].GroupFeeHeadDetailList[j].NewAmt + "</td>"
                            }
                                tablerow += "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].EncGroupFeeHeadId + "</td>" // 6 Head
                            + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].EncGroupFeeHeadDetailId + "</td>" // 7 detail
                            + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].IsDeleted + "</td>" // 8 detail
                            + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].RecieptTypeId + "</td>" // 9 detail
                             + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].IsDiscount + "</td>" // 10 detail
                               + "<td style='display: none'>" + result.Grid[i].GroupFeeHeadDetailList[j].IsLateFee + "</td>" // 11 detail
                                if (result.Grid[i].GroupFeeHeadDetailList[j].FeeHead == "Total Amount") {
                                tablerow += "<td></td>" //
                                 + "<td ></td>"
                                  + "<td ></td>"

                            }
                            else {
                                    tablerow += "<td>" + result.Grid[i].GroupFeeHeadDetailList[j].EWSDiscount + "</td>" //
                                 + "<td >" + result.Grid[i].GroupFeeHeadDetailList[j].IsLateFee + "</td>"
                                  + "<td >" + result.Grid[i].GroupFeeHeadDetailList[j].IsDiscount + "</td>"
                              + "<td style='display:none;' class='clsIsSingleTime'>" + result.Grid[i].GroupFeeHeadDetailList[j].IsSingleTime + "</td>"
                            }
                            @if (Model.IsAuthToEdit || Model.IsAuthToDelete || Model.IsAuthToClose)
                                    {
                                        <text>
                            tablerow += "<td class='text-center'>" + btns + " </td>" //9
                                </text>
                                    }

                            + "</tr>";
                            // }

                            }
                            $('#groupfeehead_grid tbody').append(tablerow);
                      }
                    }

                    //if (result.Grid.length == 0) {
                    //    var row = "<tr class='cls_nodatarow'><td class='text-center' colspan='7'>No data found</td></tr>";
                    //    $('#groupfeehead_grid tbody').append(row);
                    //}
                    $('[data-toggle="tooltip"]').tooltip();



                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }

        $('#drpConcession').change(function () {
            var consessionid = $(this).val();
            var Groupfeeheadetailid = $('#hdnGrpHeadDetailid').val();
            $('.StudentSpecificHidden').show();
            $('#StudentSpecific').val(false);
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetConsessonDate", "Fee"))',
                data: { "consessionid": consessionid, "Groupfeeheadetailid": Groupfeeheadetailid },
                success: function (result) {
                    if (result.status == "success") {

                        if (result.StudentSpecificConsessionCount>0) {
                            $('.StudentSpecificHidden').hide();
                            $('#StudentSpecific').val(true);
                        }
                        if (result.date == null) {

                            $('#conEffectiveDate').kendoDatePicker('min', GetDateFromString('@Model.Sessionstartdate'));
                            $('#conEffectiveDate').data("kendoDatePicker").value(GetDateFromString('@Model.Sessionstartdate'));
                        }
                        else {

                            $('#conEffectiveDate').kendoDatePicker('min', result.date);
                            $('#conEffectiveDate').data("kendoDatePicker").value(result.date);
                        }
                        //var myDatePicker = $("#conEffectiveDate").kendoDatePicker().data("kendoDatePicker");
                        //var today = new Date();
                        //var day = result.date.getDate();
                        //var month = result.date.getMonth() + 1;
                        //var year = result.date.getFullYear();
                        //myDatePicker.min(new Date(year, month, day));
                        //myDatePicker.min(result.date);
                    }
                    //ToastMessage(result.message, "success", true, 5000);

                    $('#ks_loader').hide();
                    return false;
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })
    });

</script>
<script>

    function refershGridtable(DivElement) {
        $(DivElement).find(".inputFilterGridTable").val("");
        $(DivElement).find(".inputFilterGridTable").trigger("keyup");
        $(DivElement).find(".inputFilterGridTable").focus();
    }

    $(".inputFilterGridTable").on("keyup", function () {
        var input = $(this).val();
        input = input.toLowerCase();
        $(this).closest(".dropdown").find(".droptabletbody").find("tr").each(function () {
            var id = $(this).find(".filterTd").first().text().toLowerCase().trim();
            $(this).toggle(id.indexOf(input) !== -1);
        });
    })

    function selectValueInDropDown(data, DivElement, ref) {
        $(DivElement).find("tbody > .selected").each(function () {
            $(this).removeClass("selected");
        });
        $(DivElement).find(".dropDownGrid").html('--Select--<span class="caret"></span>');
        if (data != "") {
            if (ref != "" && ref != null && ref != undefined) {
                $(ref).val(data);
                $(ref).trigger('change');
            }
            $(DivElement).find('.dropTableBodytr_' + data).addClass("selected");
            $(DivElement).find('.dropTableBodytr_' + data).attr("data-btnValue");
            var value = $(DivElement).find('.dropTableBodytr_' + data).attr("data-btnValue");
            var strdata = value;
            if (value.length > 16) {
                strdata = value.substr(0, 13) + '..';
            }
            $(DivElement).find(".dropDownGrid").html(strdata + '<span class="caret"></span>');
        }
    }

    $('.dropdown').on('shown.bs.dropdown', function (e) {
        $('.dropdown-menu input').focus();
    });

    function ResetSelectedGridDropDownId(DivElement, ref) {
        $(DivElement).find(".droptabletbody >.selected").each(function () {
            $(this).removeClass("selected");
        });
        if (ref != "" && ref != null && ref != undefined) {
            $(ref).val("");
            $(ref).trigger('change');
        }
        $(DivElement).find(".dropDownGrid").html('--Select--<span class="caret"></span>');
        $(DivElement).find(".droptabletbody").scrollTop(0);
    }

</script>