﻿@model ViewModel.ViewModel.Fee.FeeClassGroupModel


<!-- Form Row -->
@*hidden fields*@
@Html.HiddenFor(m => m.EncFeeClassGroupId)
<input type="text" id='lastindexToStandard' hidden />
@*hidden fields*@
<div class="create_feeclassgroup" style="display:none">
    <div class="row">
        <div class="col-md-3 sessionShown">
            <div class="">
                <label class=" control-label">Session</label>
                <div class="">
                    @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "form-control" })
                </div>
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.SessionId)</span>
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <div class="col-md-2">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Fee Class Group<i class="fa fa-asterisk ks-required"></i></label>
                <div class="">
                    @Html.TextBoxFor(m => m.FeeClassGroup, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="">
                <label class=" control-label">Fee Class Group Type</label>
                <div class="">
                    @Html.DropDownListFor(model => model.FeeClassGroupTypeId, Model.AvailableFeeClassGroupType, new { @class = "form-control" })
                </div>
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.FromStandardIndex)</span>
                </div>
                <!-- //Error Message -->
            </div>
        </div>

        <div class="col-md-5">
            <div class="select-std">
                <label class=" control-label">Select Standard<i class="fa fa-asterisk ks-required"></i></label>
                <div class="">
                    @Html.DropDownListFor(model => model.StandardList, Model.AvailableFromStandard, new { @class = "form-control" })
                </div>
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.FromStandardIndex)</span>
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- Form Coulmn -->

    </div>
    <div class="row">
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        @*<div class="col-md-3">
                <div class="">
                    <label class=" control-label">From Standard</label>
                    <div class="">
                        @Html.DropDownListFor(model => model.FromStandardIndex, Model.AvailableFromStandard, new { @class = "form-control" })
                    </div>
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.FromStandardIndex)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
            </div>*@
        <!-- //Form Coulmn -->
        <!-- //Form Coulmn -->
        @*<div class="col-md-3">
                <!-- Form Coulmn -->
                <div class="">
                    <label class="control-label">To Standard</label>
                    <div class="">
                        @Html.DropDownListFor(m => m.ToStandardIndex, Model.AvailableToStandard, new { @class = "form-control" })
                    </div>
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.ToStandardIndex)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
            </div>*@
        <!-- //Form Coulmn -->
        <!-- //Form Coulmn -->
        <!-- //Form Coulmn -->

        <div class="col-md-12">
            <div class="" style="float:right">
                <label class=" control-label"></label>
                <div class="">
                    @*<input type="submit" name="save" value="Save" id="submit_btn" class="btn btn-success" />
                        <a href="javascript:void" class="btn btn-danger" title="Cancel" data-toggle="tooltip" data-placement="top" id="Cancel_feeclassgroup">
                            Cancel
                        </a>*@

                    <button type="submit" id="submit_btn" name="save" class="btn btn-success">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                    <button type="button" name="save" class="btn btn-danger" id="Cancel_feeclassgroup">
                        <i class="fa fa-ban"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="filter_feeclassgroup" style="display:none">
    <div class="row">
        <div class="col-md-3">
            <div class="">
                <label class="control-label">Session</label>
                <div class="">
                    @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @id = "filterSessionId", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="top-space-20" style="float:right">
                <button type="button" id="filterClassGroup" name="" class="btn btn-success">
                    Filter
                </button>
                <button type="button" name="cancel" class="btn btn-danger" id="Cancel_filterfeeclassgroup">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row top-space-20">
    <div class="col-md-12">
        <table id="FeeClassGroup_grid" class="table table-striped table-responsive">
            <thead class="thead-default">
                <tr>

                    <th style="width: 15%">Fee Class Group</th>
                    <th style="width: 15%">Standard</th>
                    <th style="width: 15%" hidden>Session</th>
                    @if (Model.IsAuthToAdd || Model.IsAuthToDelete)
                    {
                        <th style="width: 8%">Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var feeclassgroup in Model.FeeClassGroupList)
                {
                    <tr>
                        <td class="">@feeclassgroup.FeeClassGroup</td>
                        <td class="">@feeclassgroup.Standard</td>
                        <td class="" hidden>@feeclassgroup.EncFeeClassGroupId</td>
                        <td class="" hidden>@feeclassgroup.FromStandardIndex</td>
                        <td class="" hidden>@feeclassgroup.ToStandardIndex</td>
                        <td class="" hidden>@feeclassgroup.FeeClassGroupTypeId</td>
                        <td class="" hidden>@feeclassgroup.StandardList</td>
                        <td class="" hidden>@feeclassgroup.SessionId</td>
                        <td class="" hidden>@feeclassgroup.SessionText</td>
                        <td>




                            @if (Model.IsAuthToEdit)
                            {
                                if (!feeclassgroup.FeeClassGroupAlreadyInUse)
                                {
                            <a href="javascript:void(0)" class="Edit_feeclassgroup btn btn-xs btn-default" data-id="@feeclassgroup.EncFeeClassGroupId" title="Edit"><i class="fa fa-pencil"></i></a>
                                }
                            }

                            <a href="javascript:void(0)" class="manageSession btn btn-xs btn-default" data-header="@feeclassgroup.FeeClassGroup" data-id="@feeclassgroup.EncFeeClassGroupId" title="Manage Session"><i class="fa fa-pencil-square-o"></i></a>

                            @if (Model.IsAuthToDelete)
                            {
                                if (!feeclassgroup.FeeClassGroupAlreadyInUse)
                                {
                            <a href="javascript:void(0)" class="Delete_feeclassgroup btn btn-xs btn-default" data-id="@feeclassgroup.EncFeeClassGroupId" title="Delete"><i class="fa fa-trash "></i></a>
                                }
                            }


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


<div class="modal-popup" id="UpdateFeeClassGroupSessionModal" hidden>
    <div class="modal-popup-body" style="width:500px">
        <div class="modal-content">

            <div class=" modal-header">
                <button type="button" id="" class="close CloseUpdateFeeClassGroupSession" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="feeclassgroupsessionHeader">
                    Update FeeClassGroup Session
                </div>
            </div>
            <div class="modal-body" id="">
                <div class="row">
                    <div class="col-md-12">
                        <table id="FeeClassGroupSession_grid" class="table table-striped table-responsive">
                            <thead class="thead-default">
                                <tr>
                                    <th>Select</th>
                                    <th>Session</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-default CloseUpdateFeeClassGroupSession" >
                   Close
                </button>
            </div>
        </div>


    </div>
</div>

<script>
        $(document).ready(function () {
        $('#StandardList').select2({ multiple: true });
        //$('#ToStandardIndex').select2({ multiple: true });

    });

        $(document).ready(function () {

        @if(TempData["Validationfailed"]!=null) {
             <text>
            $('.create_feeclassgroup').css('display', 'block');
        </text>
        }


          $("#filter_fee_ClassGroup").click(function () {
            $('.create_feeclassgroup').hide();

            if ($('.filter_feeclassgroup').css('display') != 'none') {
                $('.filter_feeclassgroup').hide();
            }
            else {
                $('.filter_feeclassgroup').show();
            }

        });

            $('#add_fee_ClassGroup').click(function () {
                $(".filter_feeclassgroup").hide();
            //    $('.create_feeclassgroup').css('display', 'block');
                clearfields();
                $(".sessionShown").show();
                if ($('.create_feeclassgroup').css('display') != 'none') {
                    $('.create_feeclassgroup').hide();
                }
                else {
                    $('.create_feeclassgroup').show();
                }
                //trigger dropdowns
                var fromstandardindex = $('#FromStandardIndex option:first').val();
                if (fromstandardindex != ""&&fromstandardindex!=undefined) {
                    getFromStandard(fromstandardindex);
                } else {
                   // $('#FromStandardIndex').val(fromstandardindex).trigger('change');
                    $('#FromStandardIndex').val(fromstandardindex);
                }
            })
            $('#Cancel_feeclassgroup').click(function () {
                $('#add_fee_ClassGroup').show();
                $(".sessionShown").show();
                $('.create_feeclassgroup').css('display', 'none');
                clearfields();
            })


            $('.error-message').each(function () {
                var current = $(this);
                if (current.children('span').text() != "")
                    current.show();
                else
                    current.hide();
            });
            $('#FeeClassGroup').val($('#FromStandardIndex option:selected').text());

            //$('#ToStandardIndex').change(function () {
            //    if ($('#ToStandardIndex option:selected').val() != "") {
            //        $('#FeeClassGroup').val($('#FromStandardIndex option:selected').text() + ' to ' + $('#ToStandardIndex option:selected').text());
            //    } else {
            //        $('#FeeClassGroup').val($('#FromStandardIndex option:selected').text());
            //    }
            //})
        @*$('#FromStandardIndex').change(function () {

            var standardindex = $(this).val();
            var Encfeegroupclassid = $('#EncFeeClassGroupId').val();

            $('#ToStandardIndex').empty();
            if (standardindex != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("GetToStandardList", "Fee"))',
                    data: { "standardindex": standardindex, "Encfeegroupclassid": Encfeegroupclassid },
                    success: function (result) {

                        if (result.status == "success") {
                            $.each(result.tostandardlist, function () {
                                $('#ToStandardIndex').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            });
                            if ($('#lastindexToStandard').val() != 0) {
                                $('#ToStandardIndex').val($('#lastindexToStandard').val());
                            } else {
                                $('#ToStandardIndex').val('');
                            }
                            $('#FeeClassGroup').val($('#FromStandardIndex option:selected').text());

                            $('#ks_loader').hide();
                        }
                        else {
                            if (result.msg == "NotValid") {
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++) {
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                }
                            }
                            $('#ks_loader').hide();
                        }

                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            } else {
                $('#FeeClassGroup').val($('#FromStandardIndex option:selected').text());
                $('#ks_loader').hide();
            }
            $('#ks_loader').hide();
        })*@



        @*function getFromStandard(fromstandardindex) {
            $('#FromStandardIndex').empty();
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("GetFromStandardList", "Fee"))',
                data: { "EncFeeGroupClassId": $('#EncFeeClassGroupId').val() },
                success: function (result) {

                    if (result.status == "success") {
                        $.each(result.fromstandardlist, function () {
                            $('#FromStandardIndex').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                        $('#FeeClassGroup').val($('#FromStandardIndex option:selected').text());

                        $('#FromStandardIndex').val(fromstandardindex).trigger('change');
                        $('#ks_loader').hide();
                    }
                    else {
                        if (result.msg == "NotValid") {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                        }
                        $('#ks_loader').hide();
                    }

                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        }*@
            //trigger dropdown
            // $('#FromStandardIndex').val($('#FromStandardIndex').val()).trigger('change');

            $("#submit_btn").click(function (e) {
                var feeclassgroup = $("#FeeClassGroup").val();
                if (feeclassgroup == "") {
                    e.preventDefault();
                    ToastMessage("Please Enter Fee Class Group", "error", true, 5000);
                    return false;
                }
                if ($("#StandardList").val() == "" || $("#StandardList").val() == null || $("#StandardList").val() == "null") {
                    e.preventDefault();
                    ToastMessage("Please Select Standard", "error", true, 5000);
                    return false;
                }

                $('#FeeClassGroupTypeId').removeAttr('disabled');
                $('#SessionId').removeAttr('disabled');
            })
        });

        function getStandardList(dataarray, FeeClassGroupTypeId) {
           // $('#FromStandardIndex').empty();
            $('#ks_loader').show();
            $('#StandardList').html("");
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("GetStandardList", "Fee"))',
                data: { "FeeClassGroupTypeId": FeeClassGroupTypeId, "EncFeeGroupClassId": $('#EncFeeClassGroupId').val(),"SessionId":$("#SessionId").val() },
                success: function (result) {

                    if (result.status == "success") {
                        $.each(result.fromstandardlist, function () {
                            $('#StandardList').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                        if (dataarray != "") {
                            $('#StandardList').val(dataarray).trigger('change');
                        }
                        $('#ks_loader').hide();
                    }
                    else {
                        if (result.msg == "NotValid") {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                        }
                        $('#ks_loader').hide();
                    }

                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        };

        function clearfields() {
            $('#FromStandardIndex').val($('#FromStandardIndex option:first').val()).trigger('change');
            $('#EncFeeClassGroupId').val('');
            $('#FeeClassGroup').val('');
            $('#lastindexToStandard').val('');
            $('.error-message').text('');
            $("#SessionId").val('@Model.SessionId');
            $('#FeeClassGroupTypeId').val('').trigger('change');
            $('#StandardList').val('').trigger('change');
            $('#FeeClassGroupTypeId').removeAttr('disabled');
            $('#SessionId').removeAttr('disabled');
        }
         //Delete Fee Class Group
        $(document).on('click','.Delete_feeclassgroup',function () {
            $('#ks_loader').show();
            var feeclassgroupid = $(this).attr('data-id'); // student Fee Add On Id

            if (confirm('Are you sure you want to delete this?')) {
                // ajax call fro save row closing date
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeleteFeeClassGroup", "Fee"))',
                    data: { "feeclassgroupid": feeclassgroupid },
                    success: function (result) {
                        if (result.status == "success") {
                            window.location.reload();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        alert(err);
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            } else
                $('#ks_loader').hide();
        });

          //edit Fee class Group
        $(document).on('click', '.Edit_feeclassgroup', function () {
            $('.filter_feeclassgroup').hide();

            $('#EncFeeClassGroupId').val('');
            $('#FromStandardIndex').val("").trigger('change');
            $('#ToStandardIndex').val("").trigger('change');
            $('#FeeClassGroup').val('');
            $('#FeeClassGroupTypeId').attr('disabled', true);
            $(".sessionShown").hide();
            $('#SessionId').attr('disabled', true);
            $('#EncFeeClassGroupId').val($(this).attr('data-id'));
            var fromstandardindex = $(this).parent().parent().find("td:nth-child(4)").text();
            var tostandardindex = $(this).parent().parent().find("td:nth-child(5)").text();
            if (fromstandardindex == tostandardindex) {
                $('#lastindexToStandard').val('');
            } else {
                $('#lastindexToStandard').val($(this).parent().parent().find("td:nth-child(5)").text());
            }
            $('#FeeClassGroup').val($(this).parent().parent().find("td:nth-child(1)").text());
           // $("#SessionId").val($(this).parent().parent().find("td:nth-child(8)").text());
            $("#SessionId").val("");
            $('#FeeClassGroupTypeId').val($(this).parent().parent().find("td:nth-child(6)").text());
            var dataarray = ($(this).parent().parent().find("td:nth-child(7)").text()).split(",");
            getStandardList(dataarray, $(this).parent().parent().find("td:nth-child(6)").text());
            //$('#StandardList').val(dataarray).trigger('change');



            //if (fromstandardindex != "") {
            //    getFromStandard(fromstandardindex);
            //} else {
            //    $('#FromStandardIndex').prepend('<option value="">All Classes </option>');
            //    $('#FeeClassGroup').val($('#FromStandardIndex option:selected').text());
            //    $('#FromStandardIndex').val(fromstandardindex).trigger('change');
            //}
            $('.create_feeclassgroup').css('display', 'block');
        });

        $(document).on('click', '.manageSession', function () {
            var feeClassGroupId = $(this).attr('data-id');
            $("#FeeClassGroupSession_grid >tbody").html("");
            var headr = $(this).attr("data-header");
            if (feeClassGroupId != '' && feeClassGroupId != null && feeClassGroupId != undefined) {
                $(".feeclassgroupsessionHeader").text("Manage Session Of FeeClassGroup"+headr);
                $('#ks_loader').show();

                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("GetAllFeeClassGroupSession", "Fee"))',
                    data: { "feeClassGroupId": feeClassGroupId },
                    success: function (result) {

                        if (result.status == "success") {
                            var gridhtml = "";

                            $.each(result.FeeClassGroupSessionList, function () {
                                gridhtml += "<tr>";
                                gridhtml += "<td>";
                                if (this.IsExistInFeeReciept == true) {
                                gridhtml += '<input type="checkbox" checked disabled="disabled"  data-feeClassGroupId="' + feeClassGroupId + '" data-sessionid="' + this.SessionId + '" class=""/>';
                                }
                               else  if (this.IsDisabled != true) {
                                    if (this.IsChecked == true)
                                        gridhtml += '<input type="checkbox" checked data-feeClassGroupId="' + feeClassGroupId + '" data-sessionid="' + this.SessionId + '" class="updateFeeClassGroupSession"/>';
                                    else
                                        gridhtml += '<input type="checkbox" data-feeClassGroupId="' + feeClassGroupId + '" data-sessionid="' + this.SessionId + '" class="updateFeeClassGroupSession"/>';
                                }
                                else {
                                     gridhtml += '<input type="checkbox"  disabled="disabled" data-feeClassGroupId="' + feeClassGroupId + '" data-sessionid="' + this.SessionId + '" class=""/>';
                                }
                                gridhtml += "</td>";
                                gridhtml += "<td>" + this.SessionText + "</td>";
                                gridhtml += "</tr>";
                            });
                            $("#FeeClassGroupSession_grid >tbody").append(gridhtml);
                            $("#UpdateFeeClassGroupSessionModal").show();
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        });

    $(document).on('click', '.updateFeeClassGroupSession', function () {
        var FeeClassGroupId = $(this).attr('data-feeClassGroupId');
        var IsChecked = $(this).prop("checked");
        var sessionId = $(this).attr('data-sessionid');
        if (FeeClassGroupId != "" && FeeClassGroupId != null && sessionId != "" && sessionId != null) {
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("UpdateFeeClassGroupSession", "Fee"))',
                data: { "FeeClassGroupId": FeeClassGroupId, "sessionId": sessionId, "IsChecked": IsChecked },
                success: function (result) {
                    if (result.status == "success") {
                       ToastMessage(result.data, "success", true, 5000);
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

        $(".CloseUpdateFeeClassGroupSession").click(function () {
              $("#UpdateFeeClassGroupSessionModal").hide();
        });

        $('#SessionId').change(function () {
                $("#FeeClassGroupTypeId").trigger('change');
            });

        $("#FeeClassGroupTypeId").change(function () {
                var FeeClassGroupTypeId = $(this).val();
                var dataarray = "";
                getStandardList(dataarray, FeeClassGroupTypeId)
            });

        $("#Cancel_filterfeeclassgroup").click(function () {
            $("#filterSessionId").val("@Model.SessionId");
            $("#filterClassGroup").trigger("click");
        });

        $("#filterClassGroup").click(function () {
           var FilterSessionId = $("#filterSessionId").val();
        $("#FeeClassGroup_grid >tbody").html("");
           $('#ks_loader').show();
                  $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("GetFeeClassGroupList", "Fee"))',
            data: { "sessionid": FilterSessionId },
            success: function (result) {

                if (result.status == "success") {
                    var gridhtml = "";

                    $.each(result.FeeClassGroupList, function () {
                          gridhtml += '<tr>';
                          gridhtml += '<td class="">'+this.FeeClassGroup+'</td>';
                          gridhtml += '<td class="">'+this.Standard+'</td>';
                          gridhtml += '<td class="" hidden>'+this.EncFeeClassGroupId+'</td>';
                          gridhtml += '<td class="" hidden>'+this.FromStandardIndex+'</td>';
                          gridhtml += '<td class="" hidden>'+this.ToStandardIndex+'</td>';
                          gridhtml += '<td class="" hidden>'+this.FeeClassGroupTypeId+'</td>';
                          gridhtml += '<td class="" hidden>'+this.StandardList+'</td>';
                          gridhtml += '<td class="" hidden>'+this.SessionId+'</td>';
                          gridhtml += '<td class="" hidden>'+this.SessionText+'</td>';

                        gridhtml += ' <td>';
                      

                          if ('@Model.IsAuthToEdit'=='True') {
                              if (!(this.FeeClassGroupAlreadyInUse))
                                  gridhtml += '<a href="javascript:void(0)" class="Edit_feeclassgroup btn btn-xs btn-default" data-id="' + this.EncFeeClassGroupId + '" title="Edit" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil "></i></a>';
                        }
                          gridhtml += '<a href="javascript:void(0)" class="manageSession btn btn-xs btn-default" data-header="'+this.FeeClassGroup+'" data-id="'+this.EncFeeClassGroupId+'" title="Manage Session"><i class="fa fa-pencil-square-o"></i></a>';
                          if ('@Model.IsAuthToDelete'=='True') {
                              if (!(this.FeeClassGroupAlreadyInUse))
                                  gridhtml += '<a href="javascript:void(0)" class="Delete_feeclassgroup btn btn-xs btn-default" data-id="' + this.EncFeeClassGroupId + '" title="Delete" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash "></i></a>';
                          }


                           gridhtml += '</td >';
                              gridhtml += ' </tr>';
                          })

                      $("#FeeClassGroup_grid >tbody").append(gridhtml);

                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        });
</script>
