﻿@model ViewModel.ViewModel.Fee.FeeCollectionList
@{
    decimal totalamt = 0;
}

<table id="exportToExcel">
    <thead>
        <tr>
            @foreach (var item in Model.dt.Columns)
            {
                <th>@item </th>
            }
            <th>Total Amount</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.dt.Rows.Count; i++)
        {
            decimal totalamt1 = 0;
            <tr>
                @for (int j = 0; j < Model.dt.Columns.Count; j++)
                {
                    if (j >= 10)
                    {
                        if (Model.dt.Columns[j].ToString() == "AddOn Concession")
                        {
                            if (Model.dt.Rows[i][j].ToString() != "")
                            {
                                totalamt1 = totalamt1 - Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                            }
                        }
                        else if (Model.dt.Columns[j].ToString() == "Concession")
                        { }
                        else
                        {
                            if (Model.dt.Rows[i][j].ToString() != "")
                            {
                                var vlu = Model.dt.Rows[i][j].ToString();
                                totalamt1 += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                            }
                        }
                    }
                    <td> @Model.dt.Rows[i][j].ToString() </td>
                }
                <td>@totalamt1</td>
            </tr>
        }

    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        @for (int j = 10; j < Model.dt.Columns.Count; j++)
        {

            decimal total = 0;

            for (int i = 0; i < Model.dt.Rows.Count; i++)
            {

                if (Model.dt.Columns[j].ToString() == "AddOn Concession")
                {
                    if (Model.dt.Rows[i][j].ToString() != "")
                    {
                        totalamt = totalamt - Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                        total += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                    }
                }
                else if (Model.dt.Columns[j].ToString() == "Concession")
                {
                    if (Model.dt.Rows[i][j].ToString() != "")
                    {
                        total += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                    }
                }
                else
                {
                    if (Model.dt.Rows[i][j].ToString() != "")
                    {
                        totalamt += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                        total += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                    }
                }
            }

            <td> @total </td>
            if (j == Model.dt.Columns.Count - 1)
            {
                <td> @totalamt </td>
            }

        }
        <td></td>
    </tr>

    </tbody>

</table>
