﻿@model ViewModel.ViewModel.Fee.GroupfeeTypeModel
<!-- Form Row -->
    <div class="row create_groupfeetype" style="display:none">
        <div class="col-md-2" style="">
            <div class="">
                <label class="control-label">Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "form-control", @style = "width: 100%" })

            </div>
        </div>
        <!-- Form Coulmn -->
        <div class="col-md-3">
            <div class="">
                <label class="control-label">Class Group</label>

                @Html.DropDownListFor(model => model.FeeClassGroupId, Model.AvailableFeeClassGroup, new { @class = "drop-down form-control", @style = "width: 100%" })

                <!-- Error Message -->
                <div class="error-message" hidden>
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.FeeClassGroupId)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-3">
            <div class="">
                <label class="control-label">FeeType</label>

                @Html.DropDownListFor(model => model.FeeTypeId, Model.AvailableFeeType, new { @class = "drop-down form-control", @style = "width: 100%" })

                <!-- Error Message -->
                <div class="error-message" hidden>
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.FeeTypeId)
                </div>
                <!-- //Error Message -->
            </div>
            <!-- //Form Coulmn -->
        </div>
        <!-- Form Coulmn -->
        <div class="col-md-2">
            <div class="">
                <label class=" control-label">Include AddOns</label>
                <div>
                    @Html.CheckBoxFor(m => m.TakeAddOns)
                </div>
            </div>
        </div>
        <!-- //Form Coulmn -->

        <div class="col-md-2">
            <div class="">
                <label class=" control-label"></label>
                <div>
                    @if (Model.IsAuthToAdd)
                    {
                        <button type="submit" id="Save_GroupFeeType" name="save" class="btn btn-success">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                    }
                    <button type="button" name="save" class="btn btn-danger" id="cancel_groupfeetype">
                        <i class="fa fa-ban"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="role filter_groupfeetype" style="display:none">
        <div class="col-md-3">
            <div class="" >
                <label class="control-label">Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @id = "filterSessionId", @class ="form-control", @style = "width: 100%" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="">
                <label class="control-label">Class Group</label>
                @Html.DropDownListFor(model => model.FeeClassGroupId, Model.filterAvailableFeeClassGroup, new {@id="filterFeeClassGroupId", @class ="drop-down form-control", @style = "width: 100%" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="">
                <label class="control-label">FeeType</label>
                @Html.DropDownListFor(model => model.FeeTypeId, Model.AvailableFeeType, new {@id="filterFeeTypeId",  @class ="drop-down form-control", @style = "width: 100%" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="">
                <div class="top-space-20" style="float:right">
                    <button type="button" id="filter_GroupFeeType" name="filter" class="btn btn-success">
                        Filter
                    </button>
                    <button type="button" name="cancel" class="btn btn-danger" id="cancelfilter_groupfeetype">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
<!-- Form Row -->

    <script type="text/javascript">
        var editFeeClassGroupId = ""; var IsEditing = ""; 
    $(document).ready(function () {

        $("#SessionId").trigger('change');
    //    $("#filterSessionId").trigger("change");
        $("#TakeAddOns").click(function () {

            if ($('#TakeAddOns').is(":checked")) {
                $("#TakeAddOns").attr('value', "true");
                $("#TakeAddOns").prop('checked', "checked");
            } else {
                $("#TakeAddOns").attr('value', "true");
                $("#TakeAddOns").prop('checked', "");
            }

        })

        $('#Save_GroupFeeType').click(function () {

            var groupfeetypevalid = validategroupfeetype(); // check data validation
            if (!groupfeetypevalid) {
                alert(groupfeetypevalidationmessage);
                $(groupfeetypeFieldctrlfocus).focus();
                return false;
            }
               $('#FeeClassGroupId').removeAttr("disabled");
         //  $("#SessionId").removeAttr("disabled");
        })

        // check guardian data valid or not
        var groupfeetypevalid = true;
        var groupfeetypevalidationmessage = "";
        var groupfeetypeFieldctrlfocus = "";
        function validategroupfeetype() {
            groupfeetypevalid = true;
            groupfeetypevalidationmessage = "";
            groupfeetypeFieldctrlfocus = "";

            if ($('#FeeClassGroupId').val() == ""||$('#FeeClassGroupId').val() == null ||$('#FeeClassGroupId').val() == "null") {
                if (groupfeetypeFieldctrlfocus == "")
                    groupfeetypeFieldctrlfocus = "#FeeClassGroupId";
                groupfeetypevalidationmessage = groupfeetypevalidationmessage + "Please select Class Group \n";
                groupfeetypevalid = false;
            }


            if ($('#FeeTypeId').val() == "" || $('#FeeTypeId').val() == null) {
                if (groupfeetypeFieldctrlfocus == "")
                    groupfeetypeFieldctrlfocus = "#FeeTypeId";
                groupfeetypevalidationmessage = groupfeetypevalidationmessage + "Please select Fee Type \n";
                groupfeetypevalid = false;
            }

               if ($('#SessionId').val() == "" || $('#SessionId').val() == null) {
                if (groupfeetypeFieldctrlfocus == "")
                    groupfeetypeFieldctrlfocus = "#SessionId";
                groupfeetypevalidationmessage = groupfeetypevalidationmessage + "Please select Session \n";
                groupfeetypevalid = false;
            }

            return groupfeetypevalid;
        }
        $("#btn_filter").click(function () {
            $('.create_groupfeetype').hide();

            if ($('.filter_groupfeetype').css('display') != 'none') {
                $('.filter_groupfeetype').hide();
            }
            else {
                $('.filter_groupfeetype').show();
            }

        });

        $('#add_groupfeetype').click(function () {

            //   $('.create_groupfeetype').css('display', 'block');
            $(".filter_groupfeetype").hide();

            if ($('.create_groupfeetype').css('display') != 'none') {
                $('.create_groupfeetype').hide();
            }
            else {
                $('.create_groupfeetype').show();
                clearfields();
            }

        });
        $('#cancel_groupfeetype').click(function () {
            $('#add_groupfeetype').show();
            $('#btn_filter').show();
            $('.create_groupfeetype').css('display', 'none');
            clearfields();
            editFeeClassGroupId = "";
            GetGroupFeeTypes(editFeeClassGroupId);
        })

        $('.error-message').each(function () {
            var current = $(this);
            if (current.children('span').text() != "")
                current.show();
            else
                current.hide();
        });

        // close city popup with 3 column city
        $('#close_div').click(function () {
            $('#FeeTypeId').val("").trigger('change');
            $("#FeeClassGroupId").val("").trigger('change');
            $("#TakeAddOns").prop("checked", false);
            $('#groupfeetype_div').hide();
        });
       
    });
         function clearfields() {
            //clear fields
           IsEditing = ""; editFeeClassGroupId = "";
           $('#FeeClassGroupId').val("").trigger('change');
           $('#FeeTypeId').val("").trigger('change');
            // $("#TakeAddOns").val("");
           $("#EncGroupFeeTypeId").val("");
           $("#SessionId").val('@Model.SessionId');
         //  $("#SessionId").trigger('change');
           $('#FeeClassGroupId').removeAttr("disabled");
           $("#SessionId").removeAttr("disabled");
        }
    $("#SessionId").change(function () {
        $('#FeeClassGroupId').html("");
        $('#FeeClassGroupId').val("").select2();
        $('#ks_loader').show();
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("FeeClassGroupListBySession", "Fee"))',
            data: { "sessionid": $("#SessionId").val() /*,"IsEditing" :  IsEditing ,"FeeClassGroupId":editFeeClassGroupId*/ },
            success: function (result) {

                if (result.status == "success") {
                       $('#FeeClassGroupId').html("");
                       $('#FeeClassGroupId').val("").select2();
                    $.each(result.ClassGroupList, function () {
                        $('#FeeClassGroupId').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });
                    $('#FeeClassGroupId').val("").select2();
                    //if (editFeeClassGroupId != "" && editFeeClassGroupId != null) {
                    //    $('#FeeClassGroupId').val(editFeeClassGroupId).select2();
                    //}

                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    $("#filter_GroupFeeType").click(function () {
        var FilterSessionId = $("#filterSessionId").val();
        var FilterFeeClassGroupId = $("#filterFeeClassGroupId").val();
        var FilterFeeTypeId = $("#filterFeeTypeId").val();
        $("#Groupfeetype_grid >tbody").html("");
           $('#ks_loader').show();
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("GroupFeeTypeList", "Fee"))',
            data: { "sessionid": FilterSessionId, "FeeClassGroupId":FilterFeeClassGroupId,"FilterFeeTypeId":FilterFeeTypeId },
            success: function (result) {

                if (result.status == "success") {
                    var gridhtml = "";

                      $.each(result.GroupFeeTypeList, function () {
                          gridhtml += '<tr>';
                          gridhtml += '<td class="">'+this.FeeClassGroup+'</td>';
                          gridhtml += '<td class="">'+this.FeeType+'</td>';
                          gridhtml += '<td class="">'+this.TakeAddOns+'</td>';
                          gridhtml += '<td class="" hidden>'+this.EncGroupFeeTypeId+'</td>';
                          gridhtml += '<td class="" hidden>'+this.FeeClassGroupId+'</td>';
                          gridhtml += '<td class="" hidden>'+this.FeeTypeId+'</td>';
                          gridhtml += '<td class="" hidden>'+this.SessionId+'</td>';
                          gridhtml += '<td class="">'+this.SessionText+'</td>';

                          @if (Model.IsAuthToEdit || Model.IsAuthToDelete) {
                          <text>
                              gridhtml += '<td>';
                          if ('@Model.IsAuthToEdit'=='True') {
                              if (this.AllowEdit)
                                  gridhtml += '<a href="javascript:void(0)" class="Edit_groupfeetype btn btn-xs btn-default" data-id="' + this.EncGroupFeeTypeId + '" data-session="'+this.SessionId+'" title="Edit" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil "></i></a>';
                          }
                          if ('@Model.IsAuthToDelete'=='True') {
                              if (this.AllowDelete)
                                  gridhtml += '<a href="javascript:void(0)" class="Delete_groupfeetype btn btn-xs btn-default" data-id="' + this.EncGroupFeeTypeId + '" title="Delete" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash "></i></a>';
                          }
                          gridhtml += '</td >';
                              </text>
                              }

                              gridhtml += ' </tr>';
                          })

                      $("#Groupfeetype_grid >tbody").append(gridhtml);

                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

        $("#cancelfilter_groupfeetype").click(function () {
            $("#filterSessionId").val('@Model.SessionId');
            $("#filterFeeClassGroupId").val("").select2();
            $("#filterFeeTypeId").val("").select2();
            $("#filter_GroupFeeType").trigger('click');
        });
        GetGroupFeeTypes(editFeeClassGroupId);
        function GetGroupFeeTypes(editFeeClassGroupId) {

            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("FeeClassGroupListBySession", "Fee"))',
                data: { /*"IsEditing": IsEditing,*/ "FeeClassGroupId": editFeeClassGroupId },
                success: function (result) {

                    if (result.status == "success") {
                        $('#FeeClassGroupId').html("");
                        $('#FeeClassGroupId').val("").select2();
                        $.each(result.ClassGroupList, function () {
                            $('#FeeClassGroupId').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                        $('#FeeClassGroupId').val("").select2();
                        if (editFeeClassGroupId != "" && editFeeClassGroupId != null) {
                            $('#FeeClassGroupId').val(editFeeClassGroupId).select2();
                        }

                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        $(document).on('click', '.Edit_groupfeetype', function () {
             
              $('.filter_groupfeetype').hide();
         
            $('.create_groupfeetype').css('display', 'block');
            $('#rowindex_groupfeetype').val("");
            $('#rowindex_groupfeetype').val($(this).parent().parent().index());
            clearfields();
            //fill fields
            $('#EncGroupFeeTypeId').val($(this).attr('data-id'));
          //  $('#FeeClassGroupId').val($(this).parent().parent().find("td:nth-child(5)").text()).trigger('change');
            $('#FeeTypeId').val($(this).parent().parent().find("td:nth-child(6)").text()).trigger('change');

            editFeeClassGroupId = $(this).parent().parent().find("td:nth-child(5)").text();

            var takeaddon = $(this).parent().parent().find("td:nth-child(3)").text();
            if (takeaddon == 'True') {
                $("#TakeAddOns").attr('value', "true");
                $("#TakeAddOns").prop('checked', "checked");
            } else {
                $("#TakeAddOns").attr('value', "true");
                $("#TakeAddOns").prop("checked", "");
            }
            IsEditing = "true";
            GetGroupFeeTypes(editFeeClassGroupId);
         //   $("#SessionId").val($(this).parent().parent().find("td:nth-child(7)").text());
          //  $("#SessionId").trigger('change');
            $('#FeeClassGroupId').attr("disabled", "disabled");

            if ($(this).attr("data-session") != "" && $(this).attr("data-session") != null) {
                $("#SessionId").val($(this).attr("data-session"));
            }
            $("#SessionId").attr("disabled", "disabled");
        });

         //delete ajax method
        $(document).on('click', ".Delete_groupfeetype", function (e) {
            e.preventDefault();

            $('#errormessage_reload').parent().remove();
            $('#successmessage_reload').parent().remove();
            $('#rowindex_groupfeetype').val($(this).parent().parent().index());
            var rowindex = $('#rowindex_groupfeetype').val();
            $('#ks_loader').show();
            var id = $(this).attr("data-id");
            if (confirm("Are you sure you want to delete Group Fee Type")) {
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("DeleteGroupFeeType", "Fee"))',
                    data: { "id": id },
                    success: function (result) {

                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);

                            var tbl = $('#Groupfeetype_grid');
                            var rows = $('tr', tbl);
                            rowindex++;
                            var row = rows.eq(rowindex);
                            row.remove();

                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            } else {
                $('#ks_loader').hide();
                return false;
            }
        });
        

         @*$("#filterSessionId").change(function () {
        $('#filterFeeClassGroupId').html("");
        $('#filterFeeClassGroupId').val("").select2();
        $('#ks_loader').show();
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("FeeClassGroupFilterListBySession", "Fee"))',
            data: { "sessionid": $("#filterSessionId").val()},
            success: function (result) {

                if (result.status == "success") {
                    $('#filterFeeClassGroupId').html("");
                    $('#filterFeeClassGroupId').val("").select2();

                    $.each(result.ClassGroupList, function () {
                        $('#filterFeeClassGroupId').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });
                    $('#filterFeeClassGroupId').val("").select2();

                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });*@
        AllFiterClassGroups();
        function AllFiterClassGroups() {
             $('#ks_loader').show();
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("FeeClassGroupFilterListBySession", "Fee"))',
            data: {},
            success: function (result) {
                if (result.status == "success") {
                    $('#filterFeeClassGroupId').html("");
                    $('#filterFeeClassGroupId').val("").select2();

                    $.each(result.ClassGroupList, function () {
                        $('#filterFeeClassGroupId').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });
                    $('#filterFeeClassGroupId').val("").select2();

                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

        }
    </script>
