﻿@model ViewModel.ViewModel.Fee.VouchersModel

<table style="width:100%; " border="0">
    <tr>
        @foreach (var item in Model.VouchersCopyType)
        {

            <td valign="top" align="left">
                <table style="width:100%; border-collapse: collapse; border-right: 1px #000 dashed;">
                    <tr>
                        <td>
                            <table style="width:100%;">
                                <tr>
                                    <td colspan="4" style="text-align: center;">
                                        <p>
                                            <b>(@item)</b> <br> <b>@Model.BankName</b><br> Bank A/c No. <b>@Model.BankAccountNo</b>, IFS Code: <b>@Model.BankIfsCode</b><br>
                                            @Model.BankAddress<br> <b>@Model.SchoolName<br> @Model.SchoolAddress</b>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="left">
                                        Due Date:

                                        @foreach (var item1 in (ViewData["item"] as List<ViewModel.ViewModel.Fee.FeeReceiptDetailModel>).Where(m => m.GroupFeeHeadName != "Total Amount" && m.GroupFeeHeadName != "Payable Amount" && !m.IsConsession).Take(1).ToList())
                                        {
                                            @item1.FromPayableDate}
                                        to

                                        @foreach (var item1 in (ViewData["item"] as List<ViewModel.ViewModel.Fee.FeeReceiptDetailModel>).Where(m => m.GroupFeeHeadName != "Total Amount" && m.GroupFeeHeadName != "Payable Amount" && !m.IsConsession).Take(1).ToList())
                                        {
                                            @item1.ToPayableDate}
                                        <br />
                                        Timing @Model.Timming
                                    </td>

                                </tr>
                                <tr>
                                    <td class="slip_contant_border" colspan="4"></td>
                                </tr>
                                <tr>
                                    <td colspan="1"> Period</td>
                                    @foreach (var item1 in (ViewData["item"] as List<ViewModel.ViewModel.Fee.FeeReceiptDetailModel>).Where(m => m.GroupFeeHeadName != "Total Amount" && m.GroupFeeHeadName != "Payable Amount" && !m.IsConsession).Take(1).ToList())
                                    {
                                        <td colspan="3">@item1.FeePeriod</td>

                                    }
                                </tr>
                                <tr>
                                    <td colspan="1"> Admission No.</td>
                                    <td colspan="3"> @Model.AdmissionNo</td>
                                </tr>
                                <tr>
                                    <td colspan="1"> Student Name</td>
                                    <td colspan="3"> @Model.StudentName</td>
                                </tr>
                                <tr>
                                    <td colspan="1"> Father Name</td>
                                    <td colspan="3"> @Model.FatherName</td>
                                </tr>
                                <tr>
                                    <td colspan="1"> Mother Name</td>
                                    <td colspan="3"> @Model.MotherName</td>
                                </tr>
                                <tr>
                                    <td colspan="1"> Class</td>
                                    <td colspan="1"> @Model.Class</td>
                                    <td colspan="1"> Roll No</td>
                                    <td colspan="1"> @Model.RollNo</td>
                                </tr>
                            </table>
                            <table style="width:100%;">
                                <tr>
                                    <td class="slip_contant_border" colspan="4"></td>
                                </tr>
                                @foreach (var item1 in (ViewData["item"] as List<ViewModel.ViewModel.Fee.FeeReceiptDetailModel>).Where(m => m.GroupFeeHeadName != "Total Amount" && m.GroupFeeHeadName != "Payable Amount" && !m.IsConsession).ToList())
                                {
                                    <tr>
                                        <td colspan="3" align="left"> @item1.GroupFeeHeadName</td>
                                        <td colspan="1" align="right"> @item1.Amount</td>
                                    </tr>
                                }


                                <tr>
                                    <td class="slip_contant_border" colspan="4"></td>
                                </tr>
                                @foreach (var item1 in (ViewData["item"] as List<ViewModel.ViewModel.Fee.FeeReceiptDetailModel>).Where(m => m.GroupFeeHeadName == "Total Amount" && m.GroupFeeHeadName != "Payable Amount" && !m.IsConsession).ToList())
                                {
                                    <tr>
                                        <td colspan="3" align="left"> <b>@item1.GroupFeeHeadName</b></td>
                                        <td colspan="1" align="right"> @item1.Amount</td>
                                    </tr>
                                }
                                @foreach (var item1 in (ViewData["item"] as List<ViewModel.ViewModel.Fee.FeeReceiptDetailModel>).Where(m => m.GroupFeeHeadName != "Total Amount" && m.GroupFeeHeadName != "Payable Amount" && m.IsConsession).ToList())
                                {
                                    <tr>
                                        <td colspan="3" align="left"> @item1.GroupFeeHeadName</td>
                                        <td colspan="1" align="right"> @item1.Amount</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="slip_contant_border" colspan="4"></td>
                                </tr>
                                @foreach (var item1 in (ViewData["item"] as List<ViewModel.ViewModel.Fee.FeeReceiptDetailModel>).Where(m => m.GroupFeeHeadName != "Total Amount" && m.GroupFeeHeadName == "Payable Amount" && !m.IsConsession).ToList())
                                {
                                    <tr>
                                        <td colspan="3" align="left"> <b>@item1.GroupFeeHeadName</b></td>
                                        <td colspan="1" align="right"> @item1.Amount</td>
                                    </tr>
                                }
                                @*<tr>
                                        <td colspan="4"> Rupees Four Thousand Nine Hundred Sixty Five Only</td>
                                    </tr>*@

                            </table>
                            <br />
                            <table style="width:100%;">
                                <tr>
                                    <td colspan="2"><b>Depositor's Signature</b> </td>
                                    <td colspan="2" align="right"> <b>Cashier's Signature</b></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align: right;"> <b>@Model.VoucherFooter1 <br> @Model.VoucherFooter2</b></td>

                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </td>

        }
    </tr>
</table>