﻿
@{
    ViewBag.Title = "ConcessionList";
       var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<h2>Concession List</h2>



<div class="row">
    <div class="col-md-12" style="padding: 0;">
        <div id="student-grid"></div>
        <script>

            $(document).ready(function () {
                $("#student-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SelectConcessionList", "Fee"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(Model.defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(Model.gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [
                        {
                            field: "RecieptNo",
                            title: "Reciept No",
                           // hidden: true
                        },
                        {
                            field: "Feeperiod",
                            title: "Fee period",
                           // hidden: true
                        },
                        {
                            field: "Feehead",
                            title: "Fee head",
                           // hidden: true
                        },
                        {
                            field: "Consession",
                            title: "Consession",
                           // hidden: true
                        },
                        {
                            field: "ConcessionAmount",
                            title: "ConcessionAmount",
                           // hidden: true
                        }

                        ]
                });
            });
        </script>
    </div>
</div>

<script type="text/javascript">
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    
    
  
 
     

       

    function additionalData() {
        //var IsAllClasses=1
        //var IsALL = $('#IsAllClasses').prop("checked");
        //if (IsALL == true)
        //    IsAllClasses = 1;
        //else
        //    IsAllClasses = 0;
        var data = {
            
        };
        addAntiForgeryToken(data);
        return data;
    }
    // function get date as string and return date
  
    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
   



   



</script>