﻿@model ViewModel.ViewModel.Fee.PrintFeeReceiptModel

<html>
<head>
    <style>
        table {
            width: 100%;
            font-size: 14px;
            font-family: arial;
        }

        .receiptTitle {
            font-weight: bold;
            font-size: 18px;
            text-decoration: underline;
        }

        .schoolNameFirst {
            font-weight: bold;
            font-size: 24px;
            color: red;
        }

        .schoolNameSecond {
            font-weight: bold;
            font-size: 16px;
            color: blue;
            line-height: 25px;
        }

        .schoolInfo {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }

        .feeAmount {
            border-radius: 10px;
            background: #F1B60B;
            padding: 10px 10px;
            font-size: 18px;
        }

        u {
            font-size: 14px;
            margin-left: 5px;
            margin-right: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body onload="window.print()">
    @if (Model.IsPrintSchoolCopy == true)
    {
        <div style="position:relative">
            <div style="position:absolute;left:0;text-align:center;width:100%;top: 7px;text-decoration: underline;font-weight: bold;font-size: 18px;">@Model.ReceiptTypeExtraText</div>
            <div style="position:absolute;left:0;text-align:center;width:100%;top: 30px;font-size: 13px;font-weight: bold;">SCHOOL COPY</div>
            <table cellspacing="0" cellpadding="0" style="border: 1px dashed #000; padding:29px 20px 20px; background:url('Images/bbis1.jpg') 50% 70% no-repeat">
                <tbody>


                    <tr>
                        <td valign="top"><img src="@Model.SchoolLogo" title="logo" style="height:80px;width:80px;"></td>
                        <td colspan="2" align="right">

                            <b>Phone</b>:  @Model.DisplayPhone<br>
                            <b>Email</b>: bbisraikot@hotmail.com<br>
                            @*<img src="@Model.SchoolLogo" width="300">*@
                            <img src="~/Images/bbis-address.jpg" width="300" />
                            <!-- <span class="schoolNameFirst">BUDDING BRAINS</span><br>
                            <span class="schoolNameSecond">INTERNATIONAL SCHOOL</span><br>
                            <span class="schoolInfo">An Institute Of Bhagat Sucha Singh Ji Mem. Edu. Society(Regd.)</span><br>
                            <span style="line-height:25px;"><b>BARNALA ROAD, RAIKOT(DISTT. LUDHIANA)(PB)</b></span> -->
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"><br></td>
                    </tr>
                    <tr style="line-height:20px;">
                        <td><b>No.</b> <u>@Model.ReceiptNo</u></td>
                        <td><b>Session</b> <u>@Model.SessionName</u></td>
                        <td><b>Date</b> <u>@Model.ReciptDate</u></td>
                    </tr>

                    <tr style="line-height:30px;">
                        <td colspan="3">
                            Received with thanks from <u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </u> an amount of &#8377; <u>@Model.TotalPaidAmount</u> (in words) <u>@Model.TotalPaidAmountInWords </u> for FeePeriod <u>@Model.FeePeriodText</u> on account of Application/Admission no. <u>@Model.AdmnNo</u>  in respect of ward <u>@Model.StudentNameonly</u> Class <u>@Model.ClassName</u>
                            @{
        if (@Model.ChequeNo != null)
        {<text>by Cash/Cheque No. <u>@Model.ChequeNo</u>  Dated <u>@Model.ReciptDate</u> Bank <u>@Model.BankBranch</u></text>}
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><br></td>
                    </tr>
                    <tr>
                        <td>
                            <p class="feeAmount"><span class="rupeeSymbol">&#8377;</span> @Model.TotalPaidAmount</p>
                        </td>
                        <td>
                            <span style="padding-left:20px; font-size:10px;">*Subject to cheque encashment</span><br>
                            <span style="padding-left:20px; font-size:10px;">*Fees once paid are not refundable</span>
                        </td>
                        <td align="right"><br><b>Principal</b></td>
                    </tr>


                    <tr>
                        <td colspan="2" style="font-size:12px;" valign="top"><br>Please also produce the supporting documents as mentioned in the prospectus at the time of admission of your ward.</td>
                        <td align="right"><br><br><br><b>Signature</b>&nbsp;(Receiver&nbsp;Name)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    @if (Model.IsPrintStudentCopy == true)
    {
        <div style="position:relative">
            <div style="position:absolute;left:0;text-align:center;width:100%;top: 7px;text-decoration: underline;font-weight: bold;font-size: 18px;">@Model.ReceiptTypeExtraText</div>
            <div style="position:absolute;left:0;text-align:center;width:100%;top: 30px;font-size: 13px;font-weight: bold;">STUDENT COPY</div>
            <table cellspacing="0" cellpadding="0" style="border: 1px dashed #000; padding:29px 20px 20px; background:url('Images/bbis1.jpg') 50% 70% no-repeat">
                <tbody>


                    <tr>
                        <td valign="top"><img src="@Model.SchoolLogo" title="logo" style="height:80px;width:80px;"></td>
                        <td colspan="2" align="right">

                            <b>Phone</b>:  @Model.DisplayPhone<br>
                            <b>Email</b>: bbisraikot@hotmail.com<br>
                            @*<img src="@Model.SchoolLogo" width="300">*@
                            <img src="~/Images/bbis-address.jpg" width="300" />
                            <!-- <span class="schoolNameFirst">BUDDING BRAINS</span><br>
                            <span class="schoolNameSecond">INTERNATIONAL SCHOOL</span><br>
                            <span class="schoolInfo">An Institute Of Bhagat Sucha Singh Ji Mem. Edu. Society(Regd.)</span><br>
                            <span style="line-height:25px;"><b>BARNALA ROAD, RAIKOT(DISTT. LUDHIANA)(PB)</b></span> -->
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"><br></td>
                    </tr>
                    <tr style="line-height:20px;">
                        <td><b>No.</b> <u>@Model.ReceiptNo</u></td>
                        <td><b>Session</b> <u>@Model.SessionName</u></td>
                        <td><b>Date</b> <u>@Model.ReciptDate</u></td>
                    </tr>

                    <tr style="line-height:30px;">
                        <td colspan="3">
                            Received with thanks from <u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </u> an amount of &#8377; <u>@Model.TotalPaidAmount</u> (in words) <u>@Model.TotalPaidAmountInWords </u> for FeePeriod <u>@Model.FeePeriodText</u> on account of Application/Admission no. <u>@Model.AdmnNo</u>  in respect of ward <u>@Model.StudentNameonly</u> Class <u>@Model.ClassName</u>
                            @{
        if (@Model.ChequeNo != null)
        {<text>by Cash/Cheque No. <u>@Model.ChequeNo</u>  Dated <u>@Model.ReciptDate</u> Bank <u>@Model.BankBranch</u> </text>}
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><br></td>
                    </tr>
                    <tr>
                        <td>
                            <p class="feeAmount"><span class="rupeeSymbol">&#8377;</span> @Model.TotalPaidAmount</p>
                        </td>
                        <td>
                            <span style="padding-left:20px; font-size:10px;">*Subject to cheque encashment</span><br>
                            <span style="padding-left:20px; font-size:10px;">*Fees once paid are not refundable</span>
                        </td>
                        <td align="right"><br><b>Principal</b></td>
                    </tr>


                    <tr>
                        <td colspan="2" style="font-size:12px;" valign="top"><br>Please also produce the supporting documents as mentioned in the prospectus at the time of admission of your ward.</td>
                        <td align="right"><br><br><br><b>Signature</b>&nbsp;(Receiver&nbsp;Name)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</body>

</html>

