﻿@model ViewModel.ViewModel.Fee.ConsessionModel

@{
    ViewBag.Title = "Concession";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div id="errormessage_reload" class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div id="successmessage_reload" class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-12" id="error_notification_div" hidden>
        <div class="error_notification"><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12" id="success_notification_div" hidden>
        <div class="success_notification"><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Manage Concession</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        @if (Model.IsAuthToAdd)
        {
            <a href="javascript:void(0)" id="add_consession" class="btn btn-xs btn-default">Add New</a>
        }
    </div>
    @*<div class="col-md-6 text-right">
            <a href="javascript:void(0)" id="" class="btn  btn-default">back</a>
        </div>*@
</div>
@*hidden fields*@
<input id="rowindex_Consession" name="rowindex" type="hidden" value="" />

@*hidden fields*@
<!-- Page Controls -->
<div class="row top-space-20">
    <div class="col-md-12">
        @using (Html.BeginForm("Consession", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            //  @Html.HiddenFor(m => m.EncGroupFeeTypeId)
            @Html.AntiForgeryToken()
            @Html.Partial("_consession", Model)
        }
    </div>
</div>

<div class="row top-space-10">

    <div class="col-md-12">
        <table id="Consession_grid" class="table table-bordered table-responsive">
            <thead class="thead-default">
                <tr>
                    <th style="width: 15%">Consession</th>
                    <th style="width: 10%">Consession Type</th>
                    <th style="width: 10%">Receipt Type</th>
                    <th style="width: 10%">Amount</th>
                    <th style="width: 10%">Is Active</th>
                    @*@if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                        {*@
                    <th style="width: 10%">Action</th>
                    @*}  *@
                </tr>
            </thead>
            <tbody>
                @foreach (var Consession in Model.ConsessionList)
                {
                    <tr>
                        <td class="Consession">@Consession.Consession1</td>
                        <td class="Consession_Type">@Consession.ConsessionType.ConsessionType1</td>
                        <td class="Receipt_Type">@Consession.ReceiptType.ReceiptType1</td>
                        <td class="Amount">@Consession.Amount</td>
                        <td class="Status">@Consession.Status</td>
                        <td class="Consession_TypeId" hidden>@Consession.ConsessionType.ConsessionTypeId</td>
                        <td class="Receipt_TypeId" hidden>@Consession.ReceiptType.ReceiptTypeId</td>
                        @*@if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                            {*@
                        <td>
                            @*@if (groupFeeType.AllowEditDelete)
                                {*@
                            @if (Model.IsAuthToEdit)
                            {
                                <a href="javascript:void(0)" class="Edit_Consession btn btn-xs btn-default" data-id="@Consession.ConsessionId" title="Edit" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil "></i></a>
                            }
                            @if (Model.IsAuthToDelete)
                            {
                                if (Consession.ReceiptType.StudentFeeAddOnDetails.Where(m => m.StudentFeeAddOn.ConsessionId == (int)Consession.ConsessionId).Count() == 0)
                                {
                                    if (Consession.GroupFeeHeadConcs.Count() == 0)
                                    {      <a href="javascript:void(0)" class="Delete_Consession btn btn-xs btn-default" data-id="@Consession.ConsessionId" title="Delete" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash "></i></a>
                                    }
                                }
                            }
                            @*}*@
                            @if (Model.IsAuthToViewStudentDetails)
                            {

                                <a href="javascript:void(0)" class="View_StudentsList btn btn-xs btn-default" data-id="@Consession.ConsessionId" data-id-tag="@Consession.ConsessionType.ConcessionTypeTag.ConcessionTypeTag1" title="View Students List" data-toggle="tooltip" data-placement="top"><i class="fa fa-user "></i></a>

                            }
                        </td>
                        @*}*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })

</script>


