﻿@model ViewModel.ViewModel.Fee.ConsessionTypeModel

@{
    ViewBag.Title = "Concession Type";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div id="errormessage_reload" class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div id="successmessage_reload" class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-12" id="error_notification_div" hidden>
        <div class="error_notification"><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12" id="success_notification_div" hidden>
        <div class="success_notification"><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Manage Concession Type</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        @if (Model.IsAuthToAdd)
        {
            <a href="javascript:void(0)" id="add_consession_type" class="btn btn-xs btn-default">Add New</a>
        }
    </div>
    @*<div class="col-md-6 text-right">
            <a href="javascript:void(0)" id="" class="btn  btn-default">back</a>
        </div>*@
</div>
@*hidden fields*@
<input id="rowindex_Consessiontype" name="rowindex" type="hidden" value="" />

@*hidden fields*@
<!-- Page Controls -->
<div class="row top-space-20">
    <div class="col-md-12">
        @using (Html.BeginForm("ConsessionType", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
          //  @Html.HiddenFor(m => m.EncGroupFeeTypeId)
            @Html.AntiForgeryToken()
            @Html.Partial("_consessionType", Model)
        }
    </div>
</div>

<div class="row top-space-10">

    <div class="col-md-12">
        <table id="Consessiontype_grid" class="table table-bordered table-responsive">
            <thead class="thead-default">
                <tr>
                    <th style="width: 15%">Consession Type</th>
                    <th style="width: 10%">Consession Tag</th>
                    @*@if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                        {*@
                    <th style="width: 10%">Action</th>
                    @*}  *@
                </tr>
            </thead>
            <tbody>
                @foreach (var ConsessionType in Model.ConsessionTypeList)
                {
                    <tr>
                        <td class="Consession_Type">@ConsessionType.ConsessionType1</td>
                        <td class=""><a href="javascript:void()" title="@ConsessionType.ConcessionTypeTag.TagText">@ConsessionType.ConcessionTypeTag.ConcessionTypeTag1</a></td>
                        <td class="" hidden>@ConsessionType.ConsessionTypeId</td>
                        <td class="Concession_TypeTagId" hidden>@ConsessionType.ConcessionTypeTagId</td>
                        @*@if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                        {*@
                            <td>
                                @*@if (groupFeeType.AllowEditDelete)
    {*@
                                    @if (Model.IsAuthToEdit)
                                    {
                                        <a href="javascript:void(0)" class="Edit_Consession_type btn btn-xs btn-default" data-id="@ConsessionType.ConsessionTypeId" title="Edit" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil "></i></a>
                                    }
                                    @if (Model.IsAuthToDelete)
                                    {
                                if (ConsessionType.ConcessionTypeTag.ConsessionTypes.Where(m => m.Consessions.Count > 0 && m.ConsessionTypeId == @ConsessionType.ConsessionTypeId).ToList().Count == 0)
                                { 
                                <a href="javascript:void(0)" class="Delete_Consession_type btn btn-xs btn-default" data-id="@ConsessionType.ConsessionTypeId" title="Delete" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash "></i></a>
                                }  }
                                @*}*@
                            </td>
                        @*}*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })

</script>


