﻿@model ViewModel.ViewModel.Fee.DonationModel
@{
    ViewBag.Title = "Donation";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style type="text/css">
    .commoncls {
        width: 190px;
    }

    label.control-label.custLabels {
        width: 45%;
        margin-right: 10px;
        text-align: left;
    }

    .clsdate {
        width: 100%;
    }
</style>


@using (Html.BeginForm("Donation", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.DonationFeeReceiptId)
    <div>
        <div class="row col-md-7 pull-right addnew_div top-space-20">
            <div class="col-md-4 pull-right">
                <button type="button" id="btnfilter" class="btn btn-xs btn-default"> Filter</button>
                <button type="button" id="btnadd" class="btn btn-xs btn-default">Add New</button>
            </div>
            <div id="dvExportOptions" class="col-md-3 pull-right" style="margin: 0px -29px 0 0;">
                @(Html.Partial("~/Views/Shared/_ExportLayout.cshtml", Model, new ViewDataDictionary(ViewData) { { "Prefix", "Donation" } }))
            </div>
        </div>

        <div class="row col-md-12 top-space-20" style="display: none" id="div_filter">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Donor Name</label>
                    @Html.TextBox("txtDonator", Model.DonorName, new { @class = "custText form-control", @autofocus = "on", id = "txtDonator", @placeholder = "Donor Name" })
                </div>

                <div class="col-md-3">
                    <label class="control-label">From Date</label>
                    @Html.TextBox("txtFromDate", Model.DonationFromDate, new { @class = "clsdate", @id = "txtFromDate" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">To Date</label>
                    @Html.TextBox("txtToDate", Model.DonationToDate, new { @class = "clsdate", @id = "txtToDate" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 pull-right form-group" style="margin-top:10px;">
                    <button type="button" id="filter" class="btn btn-default btn-success"><i class="fa fa-search"></i> Filter</button>
                    <button type="button" id="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
        <div class="row" style="display: none" id="div_add">
            <div class="col-md-12  top-space-20">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label custLabels">Receipt No<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.TextBoxFor(m => m.ReceiptNo, new { @id = "ReceiptNo1", @autofocus = "on", @maxlength = "40", @class = "form-control allownumericwithdecimal commoncls", tabindex = 1, @placeholder = "Receipt No", @disabled = "disabled" })
                        @Html.HiddenFor(model => model.ReceiptNo)
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.ReceiptNo)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                    <div class="form-group">
                        <label class="control-label custLabels">Donation Date<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.TextBoxFor(m => m.DonationDate, new { @autofocus = "on", @class = "form-control commoncls", tabindex = 2 })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.DonationDate)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label custLabels">Donor Name<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.TextBoxFor(m => m.DonorName, new { @autofocus = "on", @maxlength = "40", @class = "form-control commoncls", tabindex = 3, @placeholder = "Donor Name" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.DonorName)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                    <div class="form-group">
                        <label class="control-label custLabels">Donor Description</label>
                        @Html.TextAreaFor(m => m.DonorDescription, new { @autofocus = "on", @maxlength = "250", @class = "form-control commoncls", tabindex = 4, @placeholder = "Donor Description" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label custLabels">Amount<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.TextBoxFor(m => m.Amount, new { @autofocus = "on", @maxlength = "17", @class = "form-control allownumericwithdecimal commoncls", tabindex = 5, @placeholder = "Amount" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.Amount)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                    <div class="form-group">
                        <label class="control-label custLabels">Remarks</label>
                        @Html.TextAreaFor(m => m.Remarks, new { @autofocus = "on", @maxlength = "250", @class = "form-control commoncls", tabindex = 6, @placeholder = "Remarks" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label custLabels">Payment Mode<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.DropDownListFor(m => m.PaymentModeId, Model.PaymentModeList, new { @class = "form-control commoncls", tabindex = 7 })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.PaymentModeId)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                    <div class="form-group">
                        <label class="control-label custLabels">Payment Details</label>
                        @Html.TextAreaFor(m => m.PaymentDetail, new { @autofocus = "on", @maxlength = "250", @class = "form-control commoncls", tabindex = 8, @placeholder = "Payment Detail" })

                    </div>
                </div>

            </div>
            <div class="col-md-12 top-space-10 btn_div">
                <div class="pull-right">
                    <button type="submit" id="submit" class="btn btn-success" tabindex="16">
                        Submit
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <button type="button" id="cancel" class="btn btn-danger" tabindex="17">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 top-space-10">
                <div id="Donation-grid">
                    <script>
                        $(document).ready(function () {
                            $("#Donation-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetAllDonations", "Fee"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: false
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,

                                columns: [{
                                    field: "DonationFeeReceiptId",
                                    hidden: true
                                }, {
                                    field: "ReceiptNo",
                                    title: "Receipt No",
                                    sortable: true,
                                }, {
                                    field: "DonorName",
                                    title: 'Donor Name',
                                    sortable: true
                                }, {
                                    field: "Amount",
                                    title: "Amount",
                                    sortable: true
                                }, {
                                    field: "DonationDate",
                                    title: "Donation Date",
                                    template: "#= kendo.toString(kendo.parseDate(DonationDate, 'MM/dd/yyyy hh:mm:ss tt'), 'dd/MM/yyyy') #",
                                    sortable: true,
                                },

                                {
                                    field: "DonationFeeReceiptId",
                                    title: "Action",
                                    width: "120px",
                                    sortable: false,
                                    template: '#{#<a href="javascript:void(0)" title="Edit"  dataid="#=DonationFeeReceiptId#"'
                                    + ' data-toggle="tooltip" data-placement="top"'
                                    + ' class="updateRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                    + '#{#<a title="Print" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" target="_blank" href="PrintDonationReceipt/#=DonationFeeReceiptId#"><i class="fa fa-print"></i></a>#}#'
                                    + '#{# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                                    + ' class="deleteRecords  btn btn-xs btn-default"   cursor:pointer" dataid="#=DonationFeeReceiptId#"'
                                    + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                }]
                            });
                            var grid = $("#Donation-grid").data("kendoGrid");
                        });

                        function onDataBound(arg) {
                            $('[data-toggle=tooltip]').tooltip();

                        }

                        function additionalData() {
                            var fromDate = $('#txtFromDate').val()
                            if (fromDate == '')
                            { }
                            else
                            {
                                fromDate = GetDateFromString($('#txtFromDate').val());
                            }
                            var todate = $('#txtToDate').val();
                            if (todate == '')
                            { }
                            else
                            {
                                todate = GetDateFromString($('#txtToDate').val());
                            }
                            var data = {
                                DonorName: $('#txtDonator').val(),
                                DonationFromDate: fromDate,
                                DonationToDate: todate
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#txtFromDate').kendoDatePicker({
                format: "dd/MM/yyyy"
            });
            $('#txtToDate').kendoDatePicker({
                format: "dd/MM/yyyy"
            });
            $('#DonationDate').kendoDatePicker({
                value: new Date,
                format: "dd/MM/yyyy"
            });
            $('#btnPrintExcel_Donation').click(function () {
                $('#ks_loader').show();
                var donorName = $('#txtDonator').val();
                var Fromdate = ($('#txtFromDate').val());
                var ToDate = ($('#txtToDate').val());
                var IsExcel = "1";
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export_Donation", "Fee"))',
                    data: {},
                    success: function (result) {
                        window.location = "../Fee/ExportData_Donation?DonorName=" + donorName + "&Fromdate=" + Fromdate + "&ToDate=" + ToDate + "&IsExcel=" + IsExcel;

                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#ks_loader').hide();
            });

            $('#btnPrintPdf_Donation').click(function () {
                $('#ks_loader').show();
                var donorName = $('#txtDonator').val();
                var Fromdate = ($('#txtFromDate').val());
                var ToDate = ($('#txtToDate').val());
                var IsExcel = "3";
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export_Donation", "Fee"))',
                    data: {},
                    success: function (result) {
                        window.location = "../Fee/ExportData_Donation?DonorName=" + donorName + "&Fromdate=" + Fromdate + "&ToDate=" + ToDate + "&IsExcel=" + IsExcel;
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#ks_loader').hide();
            });

            $('#btnPrint_Donation').click(function () {
                $('#ks_loader').show();
                var donorName = $('#txtDonator').val();
                var Fromdate = ($('#txtFromDate').val());
                var ToDate = ($('#txtToDate').val());
                var IsExcel = "2";
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export_Donation", "Fee"))',
                    data: {},
                    success: function (result) {
                        window.open('../Fee/ExportData_Donation?DonorName=' + donorName + '&Fromdate=' + Fromdate + '&ToDate=' + ToDate + '&IsExcel=' + IsExcel + '');
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#ks_loader').hide();
            });

            $("#btnadd").click(function () {
                Clear();
                $.ajax({
                    type: "POST",
                    async:false,
                    url: '@Html.Raw(Url.Action("GetReceiptNo", "Fee"))',
                    data: { },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#ReceiptNo1').val(result.ReceiptNo);
                            $('#ReceiptNo').val(result.ReceiptNo);
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#DonationFeeReceiptId').val('');
                $("#submit").text('Submit');
                $('#div_add').toggle();
                $("#div_add").css('display', 'inline-block');
                $("#div_filter").hide();
                $("#submit").show();
                $("#cancel").show();
                $("#btnadd").hide();
                $("#btnfilter").hide();
                $("#dvExportOptions").hide();
            });
            $("#cancel").click(function () {
                $('#ks_loader').show();
                $("#div_add").hide();
                $("#btnadd").show();
                $("#btnfilter").show();
                $("#dvExportOptions").show();
                $("#Donation-grid").show();
                $("#Donation-grid").data('kendoGrid').dataSource.page(1);
                // var grid = $("#Donation-grid").data("kendoGrid");
                // grid.dataSource.page(1);
                $('#ks_loader').hide();
            });
            $(".allownumericwithdecimal").on("keypress", function (event) {

                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if (event.which == 8) {
                    return true;
                }
                else if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
            $('#btnfilter').click(function () {
                $('#div_filter').toggle();
                $("#div_add").hide();
                $("#dvExportOptions").show();
            });
            $('#reset').click(function () {
                $('#ks_loader').show();
                $('#txtDonator').val('');
                $('#txtFromDate').val('');
                $('#txtToDate').val('');
                var grid = $("#Donation-grid").data("kendoGrid");
                grid.dataSource.read();
                $('#ks_loader').hide();
            });
            $('#filter').click(function () {
                $('#ks_loader').show();
                var grid = $("#Donation-grid").data("kendoGrid");
                grid.dataSource.read();
                $('#ks_loader').hide();
            });
            //validations
            var DonationValid = true;
            var Donationvalidationmessage = "";
            var Donationctrlfocus = "";
            function ValidateDonation() {

                DonationValid = true;
                Donationvalidationmessage = "";
                Donationctrlfocus = "";

                if ($('#DonorName').val() == "") {
                    if (Donationctrlfocus == "")
                        Donationctrlfocus = "#DonorName";
                    Donationvalidationmessage = Donationvalidationmessage + "Please provide Donor Name ε";
                    DonationValid = false;
                }
                if ($('#ReceiptNo').val() == "") {
                    if (Donationctrlfocus == "")
                        Donationctrlfocus = "#ReceiptNo";
                    Donationvalidationmessage = Donationvalidationmessage + "Please provide Receipt No ε";
                    DonationValid = false;
                }
                if ($('#DonationDate').val() == "") {
                    if (Donationctrlfocus == "")
                        Donationctrlfocus = "#DonationDate";
                    Donationvalidationmessage = Donationvalidationmessage + "Please provide Donation Date ε";
                    DonationValid = false;
                }
                if ($('#Amount').val() == "") {
                    if (Donationctrlfocus == "")
                        Donationctrlfocus = "#Amount";
                    Donationvalidationmessage = Donationvalidationmessage + "Please provide Amount ε";
                    DonationValid = false;
                }
                if ($('#PaymentModeId').val() == "") {
                    if (Donationctrlfocus == "")
                        Donationctrlfocus = "#PaymentModeId";
                    Donationvalidationmessage = Donationvalidationmessage + "Please provide Payment Mode ε";
                    DonationValid = false;
                }
                var aa = Donationvalidationmessage;
                return DonationValid;
            }
            $('#submit').click(function () {
                var valid = ValidateDonation();
                $('#DonationDate').val(GetDateFromString($('#DonationDate').val()));
                if (!valid) {
                    var validationaray = Donationvalidationmessage.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                    $('#ks_loader').hide();
                    return false;
                }


            });

            $("#Donation-grid").on("click", ".updateRecords", function (e) {
                e.preventDefault();
                $('#ks_loader').show();
                var donationId = $(this).attr("dataid");
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("EditDonation", "Fee"))',
                    data: { "DonationId": donationId },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#DonationFeeReceiptId').val(result.EncReiptId);
                            $('#ReceiptNo1').val(result.Donation.DonationReceiptNo);
                            $('#ReceiptNo').val(result.Donation.DonationReceiptNo);
                            $('#DonorName').val(result.Donation.DonorName);
                            $('#Amount').val(result.Donation.Amount);
                            $('#PaymentModeId').val(result.Donation.PaymentModeId);
                            $('#DonationDate').val(result.Date);
                            $('#DonationDate').text(result.Donation.DonationDate);
                            $('#DonorDescription').val(result.Donation.DonorDescription);
                            $('#Remarks').val(result.Donation.Remarks);
                            $('#PaymentDetail').val(result.Donation.PaymentDetail);
                            $('#div_add').toggle();
                            $("#div_add").css('display', 'inline-block');
                            $("#div_filter").hide();
                            $("#submit").show();
                            $("#submit").text('Update');
                            $("#cancel").show();
                            $("#btnadd").hide();
                            $("#btnfilter").hide();
                            $("#dvExportOptions").hide();
                            $('#Donation-grid').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            });
            $("#Donation-grid").on("click", ".deleteRecords", function (e) {
                $('.tooltip').hide();
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
                cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
                $('.k-grid-myConfirm').attr("dataid", enceventid);
            });
            $("#Donation-grid").on("click", ".k-grid-myCancel", function (e) {
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                $('.k-grid-myConfirm').remove();
                cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
                $('.deleteRecords').attr("dataid", enceventid);
            })
            //delete ajax method
            $("#Donation-grid").on("click", ".k-grid-myConfirm", function (e) {
                e.preventDefault();
                $('#ks_loader').show();
                var donationId = $(this).attr("dataid");
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeleteDonation", "Fee"))',
                    data: { "DonationId": donationId },
                    success: function (result) {
                        if (result.status == "success") {
                            // check for updated entry
                            $('#Donation-grid tbody tr').each(function () {
                                var tablerow = $(this);
                                var donations = tablerow.find("td:nth-child(1)").text();
                                if (donationId == donations)
                                    tablerow.remove();
                            });
                            ToastMessage(result.data, "success", true, 5000);
                            $("#Donation-grid").data('kendoGrid').dataSource.page(1);
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            });

            function Clear() {
                $('#DonorName').val('');
                $('#Amount').val('');
                $('#DonorDescription').val('');
                $('#Remarks').val('');
                $('#PaymentDetail').val('');
                $('#ReceiptNo1').val('');
            }

        });

        function GetDateFromString(date) {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }

        function GetFormattedDate(date) {
            var todayTime = new Date(date);
            var month = format(todayTime.getMonth() + 1);
            var day = format(todayTime.getDate());
            var year = format(todayTime.getFullYear());
            return month + "/" + day + "/" + year;
        }

    </script>
}
