﻿@model ViewModel.ViewModel.Fee.FeeBulkImportedStudentData

@{
    ViewBag.Title = "Manage Fee Bulk Receipt Data";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<!-- Page Heading -->
<style>
    #FeeBulkImportedData-grid table {
        min-width: 1190px;
    }

    #SeriesNo {
        float: left;
        line-height: 26px;
        margin: 0;
        padding: 0 2px;
        background: #e4e4e4;
        border: 1px solid #e4e4e4;
    }
</style>


<div class="modal-popup" id="FeeBulkDataEdit" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" id="Label_FeeBulkDataEdit">
            </div>
            <div class="modal-body">
                @Html.Hidden("Edit_FeeBulkDataId")
                @Html.Hidden("Edit_ExcelPaymentModeType")
                @Html.Hidden("Edit_SNo")
                @Html.Hidden("LateFee")
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("Name", new { @class = "control-label" })
                        @Html.TextBox("Edit_Name", "", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4">
                        @Html.Label("AdmnNo", new { @class = "control-label" })
                        @Html.TextBox("Edit_AdmnNo", "", new { @class = "form-control" })
                    </div>

                    <div class="col-lg-4">
                        @Html.Label("Payment Mode", new { @class = "control-label" })
                        @Html.DropDownList("Edit_PayMode", Model.AvailablePaymentModes, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4" id="Div_ChequeDDNo" hidden>
                        @Html.Label("ChequeNo", new { @class = "control-label" })
                        @Html.TextBox("Edit_ChequeNo", "", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4" id="Div_BankTrsNo" hidden>
                        @Html.Label("Transaction No", new { @class = "control-label" })
                        @Html.TextBox("Edit_BankTrsNo", "", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4" id="Div_BankName" hidden>
                        @Html.Label("Bank Name", new { @class = "control-label" })
                        @Html.TextBox("Edit_BankName", "", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label">Total Paid Amt.</label>
                        @Html.TextBox("Edit_PayableAmt", "", new { @class = "form-control", @readonly = "true" })
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label">Paid Fee</label>
                        @Html.TextBox("Edit_PaidFee", "", new { @class = "form-control", @readonly = "true" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.Label("Late Fee", new { @class = "control-label" })
                        @Html.TextBox("Edit_LateFee", "0", new { @class = "form-control" })
                        <span id="span_LateFeeBulk" style="display: none;color: red;font-size: 10px;">
                            Your Late Fee not less than zero and more than <span id="span_LateFee"></span>
                        </span>
                        <span id="span_Options" style="font-size: 10px;">
                            <input checked="checked" id="WaveOff" name="FeeOptions" type="radio" value="WaveOff" > WaveOff
                            <input id="CarryForw" name="FeeOptions" type="radio" value="CarryForward" >Carry Forward
                        </span>
                    </div>

                    <div class="col-lg-4" id="div_WaveOffFee" hidden>
                        <label>Wave Off Fee</label><br />
                        <label id="WaveOffFee"></label>
                    </div>
                    <div class="col-lg-4" id="div_CarryForwFee" hidden>
                        <label>Carry Forward Fee</label><br />
                        <label id="CarryForwFee"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row top-space-10">
                    <div class="col-md-12 ">
                        <button type="button" id="update_FeeBulkDataEdit" class="btn btn-success" data-dismiss="modal">Update</button>
                        <button type="button" name="save" class="btn btn-danger pull-right" id="close_FeeBulkDataEdit">
                            Close
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Fee Bulk Receipt Data</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        <a href="javascript:void(0);" class="btn btn-xs btn-default" id="Filter_bulkData">Upload</a>
        <a href="@Html.Raw(Url.Action("FeeReceiptList", "Fee", new { ca = Model.RefUrl }))"
           class="btn btn-xs btn-default">back</a>
        <a href="javascript:void(0);" class="btn btn-xs btn-default" id="FeeBulk_DownloadTemp"
           title="Download Template"><i class="fa fa-download"></i></a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Filters -->
@using (Html.BeginForm("VerifySaveFeeBulkData", "Fee", Model, FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="form-inline ks-custom-form">
        <div class="row top-space-10" id="div_FilterFeeBulk">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Session</label>
                    @Html.DropDownList("FilterSession", Model.AvailableSession, new
                       {
                           @style = "width: 115px;",
                           @class = "form-control",
                           @autofocus = "on"
                       })
                </div>
                <div class="form-group" id="Stu_AdmNo" style="display:none;">
                    <label class="control-label">Admn No.</label>
                    @Html.TextBox("txtAdmNo", "", new { @class = "form-control" })
                </div>
                <div class="form-group" id="Stu_Class" style="display:none;">
                    <label class="control-label">Class</label>
                    @Html.DropDownList("FilterClass", Model.AvaliableClasses, new
                       {
                           @style = "width: 135px;",
                           @class = "form-control"
                       })
                </div>
                <div class="form-group" id="Stu_Name" style="display:none;">
                    <label class="control-label">Student</label>
                    @Html.DropDownList("FilterStuName", Model.AvaliableStudents, new
                       {
                           @style = "width: 115px;",
                           @class = "form-control drop-down"
                       })
                </div>
                <div class="form-group">
                    <label class="control-label">Receipt Type</label>
                    @Html.DropDownList("FilterReceiptType", Model.AvailableReceiptTypes, new
                       {
                           @style = "width: 115px;",
                           @class = "form-control"
                       })
                </div>
                <div class="form-group">
                    <label class="control-label">Payment Mode</label>
                    @Html.DropDownList("FilterPaymentMode", Model.AvailablePaymentModes, new
                       {
                           @style = "width: 110px;",
                           @class = "form-control"
                       })
                </div>
                <div class="form-group">
                    <label class="control-label">Fee Period</label>
                    @Html.DropDownList("FilterFeePeriod", Model.AvaliableFeePeriods, new
                       {
                           @style = "width: 110px;",
                           @class = "form-control"
                       })
                </div>
                <div class="form-group">
                    <label class="control-label">Pay Date</label>
                    @Html.TextBox("FilterTrsDate", "", new
                       {
                           @style = "width: 115px;",
                           @class = "form-control datePicker"
                       })
                </div>
                <div class="form-group">
                    <label class="control-label">Status</label>
                    <select class="form-control" id="FilterStatus">
                        <option value="">All</option>
                        <option value="Processed">Processed</option>
                        <option value="Verified">Verified</option>
                        <option value="Pending">Pending</option>
                    </select>
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filter" class="btn btn-default">Filter</button>
                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                    <input class="btn btn-success btn_GenerateReceipt" type="button" value="Generate Receipts" />
                </div>
            </div>
        </div>

        <div class="row top-space-10" id="div_ImportFeeBulk" hidden>
            <div class="col-md-12">
                <div class="col-md-2">
                    <label>Session<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.DropDownListFor(x => x.SessionId, Model.AvailableSession, new { @class = "form-control", @style = "width: 135px;" })
                </div>
                <div class="col-md-2">
                    <label>Receipt Type<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.DropDownListFor(x => x.ReceiptTypeId, Model.AvailableReceiptTypes, new { @class = "form-control", @style = "width: 135px;" })
                </div>
                <div class="col-md-2">
                    <label>Payment Mode</label>
                    @Html.DropDownListFor(x => x.PaymentModeId, Model.AvailablePaymentModes, new { @class = "form-control", @style = "width: 135px;" })
                </div>
                <div class="col-md-2">
                    <label style="width:100%">Lot No.<i class="fa fa-asterisk ks-required"></i></label>
                    <label id="SeriesNo" hidden></label>
                    @Html.TextBoxFor(x => x.UploadLotNo, "", new { @class = "form-control", @style = "float: left;width: 95px;" })
                </div>
                <div class="col-md-2">
                    <label>Upload File<i class="fa fa-asterisk ks-required"></i></label>
                    <input type="file" class="File_Import" name="file" style="width: 160%;">
                </div>
            </div>
            <div class="col-md-4 top-space-10 ">
                &nbsp; &nbsp;
                <input class="btn btn-primary" type="submit" value="Upload" id="btn_VerifyData" />
                <input class="btn btn-success btn_GenerateReceipt" type="button" value="Generate Receipts" />
            </div>
        </div>

        <!-- // Page Filters -->
        <!-- Page Grid -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="FeeBulkImportedData-grid" style="font-size: 12px;">
                    <script>
                        $(document).ready(function () {
                            $("#FeeBulkImportedData-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("FeeImportedStudentReceiptData", "Fee"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: {
                                    virtual: true
                                },
                                sortable: true,

                                columns: [{
                                    title: "Select All",
                                    headerTemplate: "<input type='checkbox' id='header-chb' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>",
                                    template: "#if(Status == 'Pending' || ReceiptNo != ''){#<input type='checkbox' id='#=EncFeeBulkDataId#' class='k-checkbox' disabled='disabled' ><label class='k-checkbox-label' style='cursor: not-allowed;' for='#=EncFeeBulkDataId#'></label>#} else{#<input type='checkbox' id='#=EncFeeBulkDataId#' class='k-checkbox row-checkbox'  /><label class='k-checkbox-label' for='#=EncFeeBulkDataId#'></label>#}#",
                                    width: "3%"
                                }, {
                                    field: "EncFeeBulkDataId",
                                    hidden: true
                                }, {
                                    field: "EncFeePeriodId",
                                    hidden: true
                                }, {
                                    field: "EncPaymentModeId",
                                    hidden: true
                                }, {
                                    field: "EncReceiptId",
                                    hidden: true
                                }, {
                                    field: "EncReceiptTypeId",
                                    hidden: true
                                }, {
                                    field: "EncSessionId",
                                    hidden: true
                                }, {
                                    field: "EncStudentId",
                                    hidden: true
                                }, {
                                    field: "EncUserId",
                                    title: "EncUserId",
                                    hidden: true
                                }, {
                                    field: "SrNo",
                                    hidden: true
                                }, {
                                    field: "TrsNo",
                                    title: "TNo./INST",
                                    sortable: true,
                                    width: "8%"

                                }, {
                                    field: "TrsDate",
                                    title: "Pay Date",
                                    sortable: true,
                                    width: "9%"

                                }, {
                                    field: "ReceiptNo",
                                    title: "Rpt No",
                                    sortable: true,
                                    width: "6%"

                                }, {
                                    field: "Session",
                                    title: "Session",
                                    sortable: true,
                                    width: "6%"

                                }, {
                                    field: "StudentName",
                                    title: "Name",
                                    sortable: true,
                                    width: "10%"
                                }, {
                                    field: "Class",
                                    title: "Class",
                                    sortable: true,

                                }, {
                                    field: "AdmNo",
                                    title: "Adm.No",
                                    sortable: true,
                                    width: "12%"
                                }, {
                                    field: "FeePeriod",
                                    title: "Period",
                                    sortable: true,
                                    width: "5%"

                                    //hidden: true
                                }, {
                                    field: "TptAmount",
                                    hidden: true
                                }, {
                                    field: "FeeAmount",
                                    title: "Paid Amt.",
                                    template: "<i class='fa @Model.CurrencyIcon'></i>#=FeeAmount#",
                                    sortable: true,
                                    width: "7%"

                                }, {
                                    field: "ActualFeeAmount",
                                    title: "Actual Amt.",
                                    template: "<i class='fa @Model.CurrencyIcon'></i>#=ActualFeeAmount#",
                                    sortable: true,
                                    width: "8%"
                                }, {
                                    field: "LateFeeAmount",
                                    title: "Late Fee",
                                    template: "<i class='fa @Model.CurrencyIcon'></i>#=LateFeeAmount#",
                                    sortable: true,
                                    width: "7%"
                                }, {
                                    field: "BankName",
                                    title: "B. Name",
                                    sortable: true,
                                    width: "7%"
                                }, {
                                    field: "PaymentMode",
                                    title: "Mode",
                                    sortable: true,
                                    width: "7%"
                                }, {
                                    field: "PaymentModeType",
                                    hidden: true
                                }, {
                                    field: "ReceiptType",
                                    hidden: true
                                }, {
                                    field: "Remarks",
                                    title: "Remarks",
                                    sortable: true,
                                    template: '#if(Status == "Pending" ){#<a href="javascript:void(0)" title="Edit Detail"'
                                            + ' data-toggle="tooltip" data-placement="top"'
                                            + ' class="editDetailBulkData"  style="color:red;font-size: 11px;">#=Remarks#</a>'
                                            + ' #}else{#<label style="color:green;font-size: 11px;"> #=Remarks#</label>#}#',
                                    width: "15%"
                                }, {
                                    field: "Status",
                                    hidden: true
                                }, {
                                    field: "EncPaymentModeTypeId",
                                    hidden: true
                                }, {
                                    field: "EncFeeBulkDataId",
                                    title: "Action",
                                    template: '#if(Status == "Pending"  || ReceiptNo == ""){#<a href="javascript:void(0)" title="Delete"'
                                            + ' data-toggle="tooltip" data-placement="top" dataid="#=EncFeeBulkDataId#"'
                                            + ' class="DeleteRecord btn btn-xs btn-default"><i class="fa fa-trash"></i></a>#}#',
                                    width: "7%"
                                }]
                            });
                            var grid = $("#FeeBulkImportedData-grid").data("kendoGrid");

                            $('#header-chb').change(function (ev) {
                                var checked = ev.target.checked;
                                $('.row-checkbox').each(function (idx, item) {
                                    if (checked) {
                                        if (!($(item).closest('tr').is('.k-state-selected'))) {
                                            $(item).click();
                                        }
                                    } else {
                                        if ($(item).closest('tr').is('.k-state-selected')) {
                                            $(item).click();
                                        }
                                    }
                                });
                            });
                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }

                        function additionalData() {
                            var data = {
                                EncSessionId: parseInt($('#FilterSession').val()),
                                EncReceiptTypeId: $("#FilterReceiptType").val(),
                                EncStudentId: $("#FilterStuName").val(),
                                EncClassId: $("#FilterClass").val(),
                                AdmNo: $("#txtAdmNo").val(),
                                EncPaymentModeId: $("#FilterPaymentMode").val(),
                                EncFeePeriodId: $("#FilterFeePeriod").val(),
                                Status: $("#FilterStatus").val(),
                                TrsDate: $("#FilterTrsDate").val(),
                                //UploadLotNo: $("#UploadLotNo").val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>

            </div>
        </div>
    </div>
}


<script type="text/javascript">

    $("#FilterTrsDate").kendoDatePicker({
        value: "",
        format: "dd/MM/yyyy"
    });
    $("#FilterTrsDate").attr('readonly', true);


    // function get date as string and return date
    function GetDateFromString(date) {
        if (date != "") {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        return null;
    }

    var checkedIds = {};
    var IsWavedOff = 0;
    $(document).ready(function () {
    
        if ($("#WaveOff").is(":checked")) {
            $("#div_WaveOffFee").show();
            $("#WaveOffFee").text($("#LateFee").val());
            $("#div_CarryForwFee").hide();
            $("#CarryForwFee").text("");
            IsWavedOff = 1;
        }
        else if ($("#CarryForw").is(":checked")) {
            $("#div_WaveOffFee").hide();
            $("#WaveOffFee").text("");
            $("#div_CarryForwFee").show();
            $("#CarryForwFee").text($("#LateFee").val());
        }

        $('#SessionId').trigger("change");

        var gridFeeBulk = $("#FeeBulkImportedData-grid").data("kendoGrid");
        gridFeeBulk.table.on("click", ".row-checkbox", selectRowFeeBulk);

        //on click of the checkbox:
        function selectRowFeeBulk() {
            var checked = this.checked,
                 row = $(this).closest("tr"),
                 grid = $("#FeeBulkImportedData-grid").data("kendoGrid"),
                 dataItem = grid.dataItem(row);

            checkedIds[dataItem.EncFeeBulkDataId] = checked;
            if (checked) {
                //-select the row
                row.addClass("k-state-selected");
                $("#header-chb")[0].checked = checkHeader;
            } else {
                //-remove selection
                row.removeClass("k-state-selected");
                $("#header-chb")[0].checked = false;
            }
        }
    });

    $("input[name='FeeOptions']").click(function () {

        $("#Edit_LateFee").trigger("blur");
        if ($(this).val() == "WaveOff") {
            $("#div_WaveOffFee").show();
            $("#div_CarryForwFee").hide();
            IsWavedOff = 1;
        }
        else if ($(this).val() == "CarryForward") {
            $("#div_WaveOffFee").hide();
            $("#div_CarryForwFee").show();
            IsWavedOff = 0;
        }
    });


    $(".btn_GenerateReceipt").click(function () {
        $('#ks_loader').show();
        var checked = [];
        for (var i in checkedIds) {
            var aa = new Object();
            if (checkedIds[i]) {
                aa.id = i;
                checked.push(aa);
            }
        }
        //alert(checked.length);
        if (checked.length == 0) {
            ToastMessage("Select atleast one record for generate Receipts", "error", true, 5000);
            $('#ks_loader').hide();
            return false;
        }
        else {
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("GenerateFeeBulkReceipt", "Fee"))',
                data: { "FeeBulkDataIds": JSON.stringify(checked), "IsWavedOff": IsWavedOff },
                success: function (result) {
                    if (result.status == "success")
                        ToastMessage(result.msg, "success", true, 5000);
                    else if (result.status == "failed")
                        ToastMessage(result.msg, "error", true, 5000);

                    $("#FeeBulkImportedData-grid").data("kendoGrid").dataSource.page(1);
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

    $(document).on('click', ".editDetailBulkData", function () {

        var row = $(this).parent().parent();

        $("#WaveOffFee").text("");
        $("#CarryForwFee").text("");

        $("#FeeBulkDataEdit").show();
        $("#FeeBulkDataEdit").find("#Label_FeeBulkDataEdit").html("");

        $("#Edit_FeeBulkDataId").html('');
        $("#Edit_FeeBulkDataId").val(row.find("td:nth-child(2)").text());

        $("#Edit_ExcelPaymentModeType").html('');
        $("#Edit_ExcelPaymentModeType").val(row.find("td:nth-child(25)").text());

        $("#Edit_SNo").html('');
        $("#Edit_SNo").val(row.find("td:nth-child(10)").text());

        var htmlHeader = "<h4 class='modal-title col-md-8'><b><label style='font-size: 14px;'> (Session: " + row.find("td:nth-child(14)").text() + ")</label>";
        htmlHeader += " <br/>Class: " + row.find("td:nth-child(16)").text();//name
        htmlHeader += "</b></h4>";//admNo
        htmlHeader += "<div class='col-md-4 pull-right'><b> Payment Date: " + row.find("td:nth-child(12)").text();//PaymentDate
        htmlHeader += "<br/> Payable Amt. :<label id='lblPayAmt'> "

        if (row.find("td:nth-child(21)").text() != "")
            htmlHeader += "<i class='fa @Model.CurrencyIcon'></i> " + row.find("td:nth-child(21)").text();

        htmlHeader += " </label></b>";

        $("#FeeBulkDataEdit").find("#Label_FeeBulkDataEdit").append(htmlHeader);
        $("#Edit_PayableAmt").val("");
        $("#Edit_PayableAmt").val(row.find("td:nth-child(20)").text());

        var LateFee = parseInt($.trim($("#lblPayAmt").text())) - parseInt(row.find("td:nth-child(20)").text());
        $("#LateFee").val(row.find("td:nth-child(22)").text());
        var TotalLateFee = parseInt(row.find("td:nth-child(22)").text()) - LateFee;
        $("#Edit_LateFee").val("0");
        $("#Edit_LateFee").val(TotalLateFee);

        $("#Edit_Name").val(row.find("td:nth-child(15)").text());
        $("#Edit_AdmnNo").val(row.find("td:nth-child(17)").text());
        $("#Edit_ChequeNo").val("");
        $("#Edit_BankName").val("");


        var TotalPaidAmt = parseInt($.trim($("#lblPayAmt").text())) - parseInt($("#LateFee").val());
        $("#Edit_PaidFee").val("");
        $("#Edit_PaidFee").val(TotalPaidAmt);

        $("#span_LateFee").html("");
        $("#span_LateFee").append(row.find("td:nth-child(22)").text());

        $.ajax({
            type: "Get",
            url: '@Html.Raw(Url.Action("getPaymentModeTypes", "Fee"))',
            data: { "PayementModeTypeid": row.find("td:nth-child(29)").text() },
            success: function (result) {
                if (result.PaymentModeLists.length > 0) {
                    $("#Edit_PayMode").empty();
                    $.each(result.PaymentModeLists, function (i) {
                        $("#Edit_PayMode").append("<option value='" + result.PaymentModeLists[i].Value + "'>"
                                                                    + result.PaymentModeLists[i].Text + "</option>");
                    });
                }
                if (result.ModeType != "") {
                    if (result.ModeType == "Instrument") {
                        $("#Div_BankTrsNo").hide();
                        $("#Div_ChequeDDNo").show();
                        $("#Div_BankName").show();
                        $("#Edit_BankName").val(row.find("td:nth-child(23)").text());
                        $("#Edit_ChequeNo").val(row.find("td:nth-child(11)").text());
                    }
                    else if (result.ModeType == "Transfer") {
                        $("#Div_ChequeDDNo").hide();
                        $("#Div_BankTrsNo").show();
                        $("#Div_BankName").show();
                        $("#Edit_BankName").val(row.find("td:nth-child(23)").text());
                        $("#Edit_BankTrsNo").val(row.find("td:nth-child(11)").text());
                    }
                    else {
                        $("#Div_ChequeDDNo").hide();
                        $("#Div_BankTrsNo").hide();
                        $("#Div_BankName").hide();
                    }
                }
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(result.msg, "error", true, 5000);
            }
        });

        $("#Edit_LateFee").trigger("blur");
    });

    $("#Edit_LateFee").keypress(function (evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    });

    $("#Edit_LateFee").blur(function (evt) {
        $('#ks_loader').show();
        if ($.trim($(this).val()) != "") {
            if (parseInt($(this).val()) < 0) {
                $("#span_LateFeeBulk").css("display", "block");
                $("#update_FeeBulkDataEdit").css("display", "none");
            }
            else if (parseInt($(this).val()) > parseInt($.trim($("#span_LateFee").text()))) {
                $("#span_LateFeeBulk").css("display", "block");
                $("#update_FeeBulkDataEdit").css("display", "none");
            }
            else {
                $("#span_LateFeeBulk").css("display", "none");
                $("#update_FeeBulkDataEdit").css("display", "inline-block");
            }
        }
        if (parseInt($(this).val()) == 0 || $.trim($(this).val()) == "") {
            if ($("#WaveOff").is(":checked")) {
                $("#div_WaveOffFee").show();
                $("#WaveOffFee").text($("#LateFee").val());
                $("#div_CarryForwFee").hide();
                $("#CarryForwFee").text("0");
            }
            else if ($("#CarryForw").is(":checked")) {
                $("#div_WaveOffFee").hide();
                $("#WaveOffFee").text("0");
                $("#div_CarryForwFee").show();
                $("#CarryForwFee").text($("#LateFee").val());
            }

            var TotalPaidAmt = parseInt($.trim($("#lblPayAmt").text())) - parseInt($("#LateFee").val());
            $("#Edit_PaidFee").val(TotalPaidAmt);
            //$("#lblPayuserAmt").text($.trim($("#lblPayAmt").text()));
            //$("#Edit_PayableAmt").val($.trim($("#lblPayAmt").text()));
            $("#update_FeeBulkDataEdit").css("display", "inline-block");
        }
        else if (parseInt($(this).val()) > 0 && parseInt($(this).val()) <= parseInt($.trim($("#span_LateFee").text()))) {

            var LateFee = parseInt($("#LateFee").val()) - parseInt($(this).val());
            if ($("#WaveOff").is(":checked")) {
                $("#div_WaveOffFee").show();
                $("#WaveOffFee").text(LateFee);
                $("#div_CarryForwFee").hide();
                $("#CarryForwFee").text("0");
                var NewAmt = parseInt($.trim($("#lblPayAmt").text())) - LateFee;
                $("#Edit_PaidFee").val(NewAmt);
            }
            else if ($("#CarryForw").is(":checked")) {
                $("#div_WaveOffFee").hide();
                $("#WaveOffFee").text("0");
                $("#div_CarryForwFee").show();
                $("#CarryForwFee").text(LateFee);

                var NewAmt = parseInt($.trim($("#lblPayAmt").text())) - LateFee;
                $("#Edit_PaidFee").val(NewAmt);
            }
            $("#update_FeeBulkDataEdit").css("display", "inline-block");
        }

       
        $('#ks_loader').hide();
    });


    $("#update_FeeBulkDataEdit").click(function () {
        $('#ks_loader').show();

        if (parseInt($("#Edit_PayableAmt").val()) != parseInt($("#Edit_PaidFee").val())) {
            ToastMessage("Total Paid Amt should not be less than Paid Amt.", "error", true, 5000);
            $('#ks_loader').hide();
            return false;
        }
        if ($.trim($("#lblPayAmt").text()) != "") {
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("VerifyThenUpdateFeeBulkData", "Fee"))',
                data: {
                    "FeeBulkDataId": $("#Edit_FeeBulkDataId").val(), "StudentName": $("#Edit_Name").val(),
                    "AdmnNo": $("#Edit_AdmnNo").val(), "PaymentModeId": $("#Edit_PayMode").val(),
                    "TrsNo": $("#Edit_BankTrsNo").val(), "BankName": $("#Edit_BankName").val(),
                    "ChequeNo": $("#Edit_ChequeNo").val(), "ExcelMode": $("#Edit_ExcelPaymentModeType").val(),
                    "SNo": $("#Edit_SNo").val(), "PaidAmt": $("#Edit_PayableAmt").val(), "LateFee": $("#Edit_LateFee").val(),
                    "IsWavedOff": IsWavedOff
                },
                success: function (result) {
                    if (result.status == "success") {
                        $("#FeeBulkDataEdit").hide();
                        ToastMessage(result.msg, "success", true, 5000);
                        $("#FeeBulkImportedData-grid").data("kendoGrid").dataSource.page(1);
                    }
                    else if (result.status == "failed")
                        ToastMessage(result.msg, "error", true, 5000);

                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                }
            });
        }
        else {
            $('#ks_loader').hide();
            ToastMessage("Fee structure for this feeperiod not found !!", "error", true, 5000);
            return false;
        }
    });

    $("#close_FeeBulkDataEdit").click(function () {
        $("#FeeBulkDataEdit").hide();
    });

    $("#FeeBulkImportedData-grid").on("click", ".DeleteRecord", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" title="Cancel" dataid="' + enceventid + '" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').attr("dataid", enceventid);
    });

    //delete ajax method
    $("#FeeBulkImportedData-grid").on("click", ".k-grid-myConfirm", function (e) {
        e.preventDefault();
        $('#ks_loader').show();
        var bulkId = $(this).attr("dataid");
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("DeleteFeeBulkData", "Fee"))',
            data: { "FeeBulkDataId": bulkId },
            success: function (result) {
                if (result.status == "success") {
                    // check for updated entry
                    $('#FeeBulkImportedData-grid tbody tr').each(function () {
                        var tablerow = $(this);
                        var bulkDataID = tablerow.find("td:nth-child(1)").text();
                        if (bulkId == bulkDataID)
                            tablerow.remove();
                    });
                    ToastMessage(result.data, "success", true, 5000);
                    $("#FeeBulkImportedData-grid").data("kendoGrid").dataSource.page(1);
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })

    $("#FeeBulkImportedData-grid").on("click", ".k-grid-myCancel", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        $('.k-grid-myConfirm').remove();
        cell.append('<a class="DeleteRecord btn btn-xs btn-default" dataid="' + enceventid + '" href="javascript:void(0)" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
        $('.DeleteRecord').attr("dataid", enceventid);
    })


    //validations
    var FeeBulkDataValid = true;
    var FeeBulkDatavalidationmessage = "";
    var FeeBulkDatactrlfocus = "";
    function ValidateFeeBulkData() {
        FeeBulkDataValid = true;
        FeeBulkDatavalidationmessage = "";
        FeeBulkDatactrlfocus = "";

        if ($('#SessionId').val() == "") {
            if (FeeBulkDatactrlfocus == "")
                FeeBulkDatactrlfocus = "#SessionId";
            FeeBulkDatavalidationmessage = FeeBulkDatavalidationmessage + "Please select Session ε";
            FeeBulkDataValid = false;
        }
        if ($('#ReceiptTypeId').val() == "") {
            if (FeeBulkDatactrlfocus == "")
                FeeBulkDatactrlfocus = "#ReceiptTypeId";
            FeeBulkDatavalidationmessage = FeeBulkDatavalidationmessage + "Please select Receipt Type ε";
            FeeBulkDataValid = false;
        }
        if ($('#PaymentModeId').val() == "") {
            if (FeeBulkDatactrlfocus == "")
                FeeBulkDatactrlfocus = "#PaymentModeId";
            FeeBulkDatavalidationmessage = FeeBulkDatavalidationmessage + "Please select Payment Mode ε";
            FeeBulkDataValid = false;
        }
        if ($('.File_Import').val() == "") {
            if (FeeBulkDatactrlfocus == "")
                FeeBulkDatactrlfocus = ".File_Import";
            FeeBulkDatavalidationmessage = FeeBulkDatavalidationmessage + "Please Upload File ε";
            FeeBulkDataValid = false;
        }

        if ($("#UploadLotNo").val() == "" || $("#UploadLotNo").val() == "0") {
            if (FeeBulkDatactrlfocus == "")
                FeeBulkDatactrlfocus = "#UploadLotNo";
            FeeBulkDatavalidationmessage = FeeBulkDatavalidationmessage + "Please enter any Lot number ε";
            FeeBulkDataValid = false;
        }
        var aa = FeeBulkDatavalidationmessage;
        return FeeBulkDataValid;
    }

    $("#buttonImportFeeData").click(function () {
        $('#ks_loader').show();
        var valid = ValidateFeeBulkData();
        if (!valid) {
            var validationaray = FeeBulkDatavalidationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
            return false;
        }
    });

    $('#SessionId').change(function () {
        $('#SeriesNo').text("");
        if ($(this).val() != "") {
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("getSeriesUploadLot", "Fee"))',
                data: { "SessionId": $(this).val() },
                success: function (result) {
                    if (result.SessionAbbr != "") {
                        $('#SeriesNo').text(result.SessionAbbr);
                        $("#UploadLotNo").val(result.Series);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }



        //$("#UploadLotNo").trigger("change");
    });


    //$("#UploadLotNo").change(function () {
    //    $("#FeeBulkImportedData-grid").data("kendoGrid").dataSource.page(1);
    //});


    $("#Filter_bulkData").click(function () {
        $("#div_FilterFeeBulk").toggle();
        $("#div_ImportFeeBulk").toggle();
        $("#Stu_AdmNo").hide();
        $("#Stu_Class").hide();
        $("#Stu_Name").hide();
        //ClearControls();
    });

    $("#FilterSession").change(function () {
        $("#Stu_AdmNo").show();
        $("#Stu_Class").show();
        if ($(this).val() == "") {
            $("#Stu_AdmNo").hide();
            $("#Stu_Class").hide();
            $("#Stu_Name").hide();
        }
    });

    $("#FilterClass").change(function () {
        var classid = $(this).val();
        var stdId = $('#FilterStuName').val();
        if (classid != "" && classid > 0) {
            $("#Stu_Name").show();
            GetStudentsbyClass(classid, stdId);
            SelectedClassId = classid;
            SelectedStuId = stdId;
        }
        else {
            $("#Stu_Name").hide();
            $('#FilterClass').val("").trigger('change');
        }
        //ClearControls();
    });

    $("#btn_VerifyData").click(function () {
        var valid = ValidateFeeBulkData();
        if (!valid) {
            var validationaray = FeeBulkDatavalidationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
            return false;
        }
    });


    $("#FeeBulk_DownloadTemp").click(function () {
        $.ajax({
            type: "GET",
            async: true,
            url: '@Html.Raw(Url.Action("Export", "Fee"))',
            data: {},
            success: function (result) {
                if (result.status == "success")
                    window.location.href = "@Html.Raw(Url.Action("DownloadFeeBulkTemplate", "Fee"))";

                //$('#ks_loader').hide();
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(result.msg, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });


    $("#txtAdmNo").change(function () {
        var admnno = $(this).val();
        $('#FilterClass').val('');
        $('#FilterStuName').val('');
        if (admnno != "") {
            // ajax call get student and class
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetInformationbyAdmnNo", "Fee"))',
                data: { "AdmnNo": admnno, "Session_id": $("#FilterSession").val() },
                success: function (result) {
                    if (result.status == "success") {
                        $('#FilterClass').val(result.ClassVal).trigger('change');
                        if (result.StudentVal > 0)
                            $('#FilterStuName').val(result.StudentVal);
                        else
                            $('#FilterStuName').val('');
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#FilterStuName').val('');
                        $('#txtAdmNo').val('');
                        $('#txtAdmNo').focus();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else
            ToastMessage("Please select Session", "error", true, 5000);

    });

    $("#FilterStuName").change(function () {
        var stuId = $(this).val();
        if (stuId > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetGenderByStudent", "Student"))',
                async: false,
                data: { "StudentId": stuId },
                success: function (result) {
                    if (result.status == "success")
                        $('#txtAdmNo').val(result.AdmissioNo);
                    else
                        ToastMessage(result.msg, "error", true, 5000);
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
    });

    function ClearControls() {
        $('#txtAdmNo').val("");
        $("#FilterSession").val("");
        $("#FilterReceiptType").val("");
        $("#FilterPaymentMode").val("");
        $("#FilterFeePeriod").val("");
        $("#FilterStatus").val("");
        $('#FilterClass').val("").trigger('change');
        $('#FilterStuName').val("");
        $('#FilterStuName').append('<option>---Select---</option>');
    }

    $("#reset").on('click', function () {
        $('#txtAdmNo').val("");
        $("#FilterSession").val("");
        $("#FilterReceiptType").val("");
        $("#FilterPaymentMode").val("");
        $("#FilterFeePeriod").val("");
        $('#FilterStuName').val("");
        $("#FilterStatus").val("");
        $("#FeeBulkImportedData-grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
    });

    $("#filter").click(function () {
        $("#FeeBulkImportedData-grid").data("kendoGrid").dataSource.page(1);
    });

    // on change class get student list
    function GetStudentsbyClass(classId, StdId) {
        $('#FilterStuName option').remove();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("StudentListbyClasssibling", "Fee"))',
            async: false,
            data: { "Class": classId, "Id": StdId, "CurrentSession": true, CurrenSessionID: $("#FilterSession").val() },
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var option = "";
                        if (result.data[i].Selected == true)
                            option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        else
                            option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                        $('#FilterStuName').append(option);
                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
            }
        });
    }

</script>
