﻿@model ViewModel.ViewModel.Fee.FeeClassGroupConcessionModel
@{
    ViewBag.Title = "FeeClassGroupConcession";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style type="text/css">
    .commoncls {
        width: 190px;
    }

    label.control-label.custLabels {
        width: 45%;
        margin-right: 10px;
        text-align: left; 
    }

    .clsdate {
        width: 100%;
    }
     .drpCls {
        width: 130px;
    }
     .k-datepicker
     {
         width:60% !important;
     }
</style>
<div class="view_dialog_box viewbox_div" id="ViewBox" hidden>
    <div style="width:100%; height:25px; float:left;">
        <font style="float:left; padding:2px 10px;">
            <b>Close Fee Class Group Concession</b>
        </font>
       <input type="hidden" id="hdnConcessionDetailid" />
    </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            <label class="control-label col-md-3">Close Date</label>
            <div class="col-md-8">
                @Html.TextBox("CloseDate", null, new { @class = "" })
            </div>
        </div>
        <div class="col-md-12 top-space-10" style="margin-bottom: 10px;">
            <label class="col-md-3"></label>
            <div class="col-md-3">
                <button type="button" id="save_ViewBox" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
                <button type="button" id="close_ViewBox" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    lCose
                </button>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("FeeClassGroupConcession", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.FeeClassGroupConcessionId)
    @Html.HiddenFor(m => m.FeeClassGroupConcessiondetailId)
    <div>
        <div class="row col-md-7 pull-right addnew_div top-space-20">
            <div class="col-md-4 pull-right">
                <button type="button" id="btnfilter" class="btn btn-xs btn-default"> Filter</button>
                <button type="button" id="btnadd" class="btn btn-xs btn-default">Add New</button>
            </div>

        </div>
        <div class="row col-md-12 top-space-20" style="display: none" id="div_filter">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Fee Class Group</label>
                    @Html.DropDownList("drpFeeclassGroup", Model.FeeClassGroupList, new { @class = "form-control", @autofocus = "on", id = "drpFeeclassGroup" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Concession</label>
                    @Html.DropDownList("drpConcession", Model.ConcessionList, new { @class = "form-control", @autofocus = "on", id = "drpConcession" })
                </div>
                <div class="col-md-3" style=" margin-top: 20px;">
                    <label class="control-label">Apply To All</label>
                    @Html.CheckBox("chkapplytoAll", new { @id = "chkapplytoAll" })
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-3 pull-right form-group" style="margin-top:10px;">
                    <button type="button" id="filter" class="btn btn-default btn-success"><i class="fa fa-search"></i> Filter</button>
                    <button type="button" id="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
        <div class="row" style="display: none" id="div_add">
            <div class="col-md-12  top-space-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label custLabels">Fee Class Group<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.DropDownListFor(m => m.FeeClassGroupId, Model.FeeClassGroupList, new { @autofocus = "on", @class = "drpCls form-control", tabindex = 1 })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.FeeClassGroupId)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                    <div class="form-group">
                        <label class="control-label custLabels">Amount<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control allownumericwithdecimal commoncls", tabindex = 4, @placeholder = "Amount" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.Amount)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label custLabels">Concession<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.DropDownListFor(m => m.ConcessionId, Model.ConcessionList, new { @class = "form-control drpCls", tabindex = 2 })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.ConcessionId)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                    <div class="form-group" style=" margin-top: 38px;">
                       
                        @Html.CheckBoxFor(m => m.ApplyToAll)
                        <label class="control-label custLabels">Apply To All<i class="fa fa-asterisk ks-required"></i></label>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label custLabels">Effective From<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control", tabindex = 3 })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.EffectiveDate)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>

                </div>
            </div>
            <div class="col-md-12 top-space-10 btn_div">
                <div >
                    <button type="submit" id="submit" class="btn btn-success" tabindex="16">
                        Submit
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <button type="button" id="cancel" class="btn btn-danger" tabindex="17">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 top-space-10">
                <div id="Concession-grid">
                    <script>
                        $(document).ready(function () {
                            $("#Concession-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetAllFeeclassGroupConcession", "Fee"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: false
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,

                                columns: [{
                                    field: "FeeClassGroupConcessiondetailId",
                                    hidden: true
                                }, {
                                    field: "FeeClassGroupConcessionId",
                                    hidden: true
                                }, {
                                    field: "ApplyToAll",
                                    hidden: true
                                }, {
                                    field: "FeeClassGroup",
                                    title: "Fee Class Group",
                                    sortable: true,
                                }, {
                                    field: "Concession",
                                    title: 'Concession',
                                    sortable: true
                                }, {
                                    field: "Amount",
                                    title: "Amount",
                                    sortable: true
                                }, {
                                    field: "EffectiveDate",
                                    title: "Effective From",
                                    template: "#= kendo.toString(kendo.parseDate(EffectiveDate, 'MM/dd/yyyy hh:mm:ss tt'), 'dd/MM/yyyy') #",
                                    sortable: true,
                                },
                                {
                                    field: "EndDate",
                                    title: "End Date",
                                    template: "#= kendo.toString(kendo.parseDate(EndDate, 'MM/dd/yyyy hh:mm:ss tt'), 'dd/MM/yyyy') #",
                                    sortable: true,
                                },
                                 {
                                     field: "ApplyAll",
                                     title: "Aplly To All",
                                     sortable: true
                                 },
                                {
                                    field: "FeeClassGroupConcessiondetailId",
                                    title: "Action",
                                    width: "120px",
                                    sortable: false,
                                    template: '#if(IsAuthToEdit){#<a href="javascript:void(0)" title="Edit"  dataid="#=FeeClassGroupConcessiondetailId#"'
                                    + ' data-toggle="tooltip" data-placement="top"'
                                    + ' class="updateRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                    + '#if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                                    + ' class="deleteRecords  btn btn-xs btn-default"   cursor:pointer" dataid="#=FeeClassGroupConcessiondetailId#"'
                                    + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                    + '#if(!IsEndDate){#<a title="Close" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="clsclose  btn btn-xs btn-default" dataid="#=FeeClassGroupConcessiondetailId#"><i class="fa fa-ban"></i></a>#} #'
                                }]
                            });
                            var grid = $("#Concession-grid").data("kendoGrid");
                        });

                        function onDataBound(arg) {
                            $('[data-toggle=tooltip]').tooltip();

                        }

                        function additionalData() {

                            var data = {
                                FeeClassGroupId: $('#drpFeeclassGroup').val(),
                                ConcessionId: $('#drpConcession').val(),
                                ApplyToAll: $('#chkapplytoAll').prop("checked")
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#EffectiveDate').kendoDatePicker({
                value: new Date,
                format: "dd/MM/yyyy"
            });
            $("#EffectiveDate").attr("readonly", true);
          
            $("#btnadd").click(function () {
                Clear();
                $('#FeeClassGroupConcessiondetailId').val('');
                $('#FeeClassGroupConcessionId').val('');
                $("#submit").text('Submit');
                $('#div_add').toggle();
                $("#div_add").css('display', 'inline-block');
                $("#div_filter").hide();
                $("#submit").show();
                $("#cancel").show();
                $("#btnadd").hide();
                $("#btnfilter").hide();
            });
            $("#cancel").click(function () {
                $('#ks_loader').show();
                $("#div_add").hide();
                $("#btnadd").show();
                $("#btnfilter").show();
                $("#Concession-grid").show();
                $("#Concession-grid").data('kendoGrid').dataSource.page(1);
                $('#ks_loader').hide();
            });
            $(".allownumericwithdecimal").on("keypress", function (event) {

                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if (event.which == 8) {
                    return true;
                }
                else if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
            $('#btnfilter').click(function () {
                $('#div_filter').toggle();
                $("#div_add").hide();
            });
            $('#reset').click(function () {
                $('#ks_loader').show();
                $('#drpFeeclassGroup').val('');
                $('#drpConcession').val('');
                $('#chkapplytoAll').prop("checked", false);
                var grid = $("#Concession-grid").data("kendoGrid");
                grid.dataSource.read();
                $('#ks_loader').hide();
            });
            $('#filter').click(function () {
                $('#ks_loader').show();
                var grid = $("#Concession-grid").data("kendoGrid");
                grid.dataSource.read();
                $('#ks_loader').hide();
            });

            //validations
            var ConcessionValid = true;
            var Concessionvalidationmessage = "";
            var Concessionctrlfocus = "";
            function ValidateConcession() {

                ConcessionValid = true;
                Concessionvalidationmessage = "";
                Concessionctrlfocus = "";

                if ($('#FeeClassGroupId').val() == "") {
                    if (Concessionctrlfocus == "")
                        Concessionctrlfocus = "#FeeClassGroupId";
                    Concessionvalidationmessage = Concessionvalidationmessage + "Please provide Fee Class Group ε";
                    ConcessionValid = false;
                }
                if ($('#ConcessionId').val() == "") {
                    if (Concessionctrlfocus == "")
                        Concessionctrlfocus = "#ConcessionId";
                    Concessionvalidationmessage = Concessionvalidationmessage + "Please provide Concession ε";
                    ConcessionValid = false;
                }
                if ($('#EffectiveDate').val() == "") {
                    if (Concessionctrlfocus == "")
                        Concessionctrlfocus = "#EffectiveDate";
                    Concessionvalidationmessage = Concessionvalidationmessage + "Please provide Effective Date ε";
                    ConcessionValid = false;
                }
                if ($('#Amount').val() == "") {
                    if (Concessionctrlfocus == "")
                        Concessionctrlfocus = "#Amount";
                    Concessionvalidationmessage = Concessionvalidationmessage + "Please provide Amount ε";
                    ConcessionValid = false;
                }

                var aa = Concessionvalidationmessage;
                return ConcessionValid;
            }
            $('#submit').click(function () {
                var valid = ValidateConcession();
                $('#EffectiveDate').val(GetDateFromString($('#EffectiveDate').val()));
                if (!valid) {
                    var validationaray = Concessionvalidationmessage.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                    $('#ks_loader').hide();
                    return false;
                }
            });
            
            $("#Concession-grid").on("click", ".clsclose", function (e) {
                e.preventDefault();
                $('#ks_loader').show();
                var ConcessiondetailId = $(this).attr("dataid");
                $('#hdnConcessionDetailid').val(ConcessiondetailId);
                $('#ViewBox').show();
                $('#ks_loader').hide();
            });
            $('#close_ViewBox').click(function () {
                $('#ViewBox').hide();
            });
            $('#save_ViewBox').click(function () {
                var ConcessiondetailId = $('#hdnConcessionDetailid').val();
                if ($('#CloseDate').val() == "") {
                    ToastMessage("Close Date Should not be empty", "error", true, 5000);
                }
                else {
                    var Closedate = $('#CloseDate').val(GetDateFromString($('#CloseDate').val()));
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("CloseFeeClassGroupConcession", "Fee"))',
                        data: { "ConcessionDetailId": ConcessiondetailId },
                        success: function (result) {
                            if (result.status == "success") {
                                $('#ViewBox').hide();
                                $("#Concession-grid").data('kendoGrid').dataSource.page(1);
                            }
                            else {
                                ToastMessage(result.msg, "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
            });
            $("#Concession-grid").on("click", ".updateRecords", function (e) {
                e.preventDefault();
                $('#ks_loader').show();
                var ConcessiondetailId = $(this).attr("dataid");
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("EditFeeClassGroupConcession", "Fee"))',
                    data: { "ConcessionDetailId": ConcessiondetailId },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#FeeClassGroupConcessionId').val(result.grpConcessionId);
                            $('#FeeClassGroupConcessiondetailId').val(result.grpConcessionDetailId);
                            $('#FeeClassGroupId').val(result.FeeClassGroupId);
                            $('#ConcessionId').val(result.ConcessionId);
                            $('#EffectiveDate').val(result.Date);
                            $('#Amount').val(result.GroupConcession.Amount);
                            if (result.ApplyToAll == true)
                                $('#ApplyToAll').prop("checked", true);
                            else
                                $('#ApplyToAll').prop("checked", false);

                            $('#div_add').toggle();
                            $("#div_add").css('display', 'inline-block');
                            $("#div_filter").hide();
                            $("#submit").show();
                            $("#submit").text('Update');
                            $("#cancel").show();
                            $("#btnadd").hide();
                            $("#btnfilter").hide();
                            $('#Concession-grid').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            });
            $("#Concession-grid").on("click", ".deleteRecords", function (e) {
                $('.tooltip').hide();
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
                cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
                $('.k-grid-myConfirm').attr("dataid", enceventid);
            });
            $("#Concession-grid").on("click", ".k-grid-myCancel", function (e) {
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                $('.k-grid-myConfirm').remove();
                cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
                $('.deleteRecords').attr("dataid", enceventid);
            });
            $("#Concession-grid").on("click", ".k-grid-myConfirm", function (e) {
                e.preventDefault();
                $('#ks_loader').show();
                var ConcessionDetailId = $(this).attr("dataid");
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeleteFeeClassGroupConcession", "Fee"))',
                    data: { "ConcessionDetailId": ConcessionDetailId },
                    success: function (result) {
                        if (result.status == "success") {
                            // check for updated entry
                            $('#Concession-grid tbody tr').each(function () {
                                var tablerow = $(this);
                                var concessions = tablerow.find("td:nth-child(1)").text();
                                if (ConcessionDetailId == concessions)
                                    tablerow.remove();
                            });
                            ToastMessage(result.data, "success", true, 5000);
                            $("#Concession-grid").data('kendoGrid').dataSource.page(1);
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            });
            function Clear() {
                $('#FeeClassGroupId').val('');
                $('#ConcessionId').val('');
                $('#EffectiveDate').val(new Date);
                $('#Amount').val('');
                $('#ApplyToAll').prop("checked", false);
            }
        });
        function GetDateFromString(date) {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }

        function GetFormattedDate(date) {
            var todayTime = new Date(date);
            var month = format(todayTime.getMonth() + 1);
            var day = format(todayTime.getDate());
            var year = format(todayTime.getFullYear());
            return month + "/" + day + "/" + year;
        }
    </script>
}

