﻿@model ViewModel.ViewModel.Fee.FeeCollectionList

@{
    ViewBag.Title = "Fee Collection List";
}
<style>
    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 160px;
    }
</style>

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>View Fee Collection Report (Receipt Type)</h1>
    </div>
    <div class="col-md-6 text-right">
        @if (Model.IsAuthToPrint)
        {
            <a title="Export To Excel" id="ExcelConcessionFee" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default">Export To Excel</a>
            <a title="Print Fee Collection List" id="printCollectionFee" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default"
               target="_blank" @*href="@Url.Action("PrintFeeCollectionList", "FeeController", new { id = Model.ID })"*@ @*href="PrintFeeCollectionList"*@><i class="fa fa-print"></i></a>
        }
    </div>
</div>
<script>
    $('#ExcelConcessionFee').click(function(){
        $("#IsExcel").val("1");
        document.getElementById("myForm").submit();
        return false; // cancel the actual link
    })
    $('#printCollectionFee').click(function(){
        $("#IsExcel").val("");
        document.getElementById("myForm").submit();
        return false; // cancel the actual link
    })
</script>
<!-- //Page Heading -->
<!-- Page Filters -->
<div class="row top-space-10">
    <div class="col-md-12" style="padding:0">
        @* <form class="form-inline ks-custom-form" id="myForm" action="PrintFeeCollectionList" target="_blank">*@
        @using (Html.BeginForm("PrintFeeCollectionList", "Fee", FormMethod.Post, new
        {
            @class = "form-inline ks-custom-form",
            @id = "myForm",
            @target = "_blank"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.IsExcel)
        <div class="form-group">
            <label>Session</label>
            
                @Html.DropDownList("SessionId", Model.AvailableSession, new { @class = "form-control" })
                       
        </div>

            <div class="form-group">
                <label>From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
            </div>

            <div class="form-group">
                <label>To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
            </div>

            <div class="form-group">
                <label>Class</label>
                @Html.DropDownList("ClassId", Model.AvailableClass, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Payment Mode</label>
                @Html.DropDownList("PaymentModeIds", Model.AvailablePaymentMode, new
               {
                   @class = "form-control",
                   @multiple = "multiple",

               })
            </div>

            <div class="form-group">
                <label>Fee Type</label>
                @Html.DropDownList("FeeTypeId", Model.AvailableFeeType, new { @class = "form-control" })
            </div>



            //&nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search" class="btn btn-default">Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        }
        @*</form>*@
    </div>
</div>

<!-- // Page Filters -->
<!-- Page Grid -->
<div class="row">
    <div class="col-md-12" style="padding: 0">
        <div id="FeeCollectionList-grid"></div>
        <script>

            $(document).ready(function () {
                $("#FeeCollectionList-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("FeeCollectionGridList", "Fee"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(Model.defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(Model.gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [{
                        field: "RollNo",
                        title: "Roll No",
                        sortable: true,
                    },
                    {
                        field: "AdmissionNo",
                        title: "Admission No",
                        sortable: true,
                    },
                    {
                        field: "ReceiptNo",
                        title: "Receipt No",
                        sortable: true,
                    },{
                        field: "StudentName",
                        title: "Student Name",
                        sortable: false
                        }
                        ,
                    @if (Model.Fee_ShowDateofJoining_FeeCollectionList == "1") {<text> {
                            field: "DOJ",
                        title: "DOJ",
                       sortable: false
                             },</text>}
                        {
                        field: "Class",
                        title: "Class",
                    }, {
                        field: "PaymentMethod",
                        title: "Payment Mode",
                        sortable: true,
                        },
                     {
                        field: "PaymentDate",
                        title: "Payment Date",
                    },    {
                        field: "ChequeNo",
                        title: "ChequeNo",
                    },{
                        field: "Details",
                        title: "Details",
                    },{
                        field: "FeePeriod",
                        title: "FeePeriod",
                    },{
                        field: "Session",
                        title: "Session",
                    },{
                        field: "Amount",
                        title: "Amount",
                    }]
                });
            });
        </script>
    </div>
</div>
<!-- //Page Grid -->

<script type="text/javascript">
    @if (Model.SelectedSessionId > 0)
    {
        <text>
    $("#SessionId").val('@Model.SelectedSessionId');
    </text>
    }

    $("#PaymentModeIds").multiselect({
        nonSelectedText: "All"
    });

    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    $("#FromDate,#ToDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date()
        })
        $("#FromDate,#ToDate").attr('readonly', true);
    $(document).ready(function () {
        //date picker
        
        //search button
        $('#search').click(function () {
            //search
            var grid = $('#FeeCollectionList-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $('#reset').click(function () {
            @if (Model.SelectedSessionId > 0)
            {
                <text>
            $("#SessionId").val('@Model.SelectedSessionId');
            </text>
            }
            else
            {
                <text>
           $('#SessionId').val("");
            </text>
            }
            $('#FeeTypeId').val("");
            $("#FromDate,#ToDate").removeAttr('readonly');
            $('#FromDate').val("");
            $('#ToDate').val("");
            $("#FromDate,#ToDate").attr('readonly', true);
            $('#ClassId').val("");
            $("#PaymentModeIds").val("");
            $("#PaymentModeIds").multiselect('refresh');
            var grid = $('#FeeCollectionList-grid').data('kendoGrid');
            grid.dataSource.page(1);
        });


    });

    function additionalData() {
        var data = {
            SessionId: $('#SessionId').val(),
            FeeTypeId: $('#FeeTypeId').val(),
            ClassId: $('#ClassId').val(),
            FromDate: GetDateFromString($('#FromDate').val()),
            ToDate: GetDateFromString($('#ToDate').val()),
            PaymentModeIds: $("#PaymentModeIds").val()
        };
        addAntiForgeryToken(data);
        return data;
    }
    // function get date as string and return date
    function GetDateFromString(date) {
        if(date!=""){
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        return null;
    }
    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };


</script>
