﻿@model ViewModel.ViewModel.Fee.FeeCollectionList

@{
    ViewBag.Title = " FeeHead Wise Concession Report";

}

<style type="text/css">
    span.select2-dropdown.select2-dropdown--below {
        width: 150px !important;
    }

    span.select2-selection.select2-selection--single {
        width: 150px !important;
    }

    .select2-search select2-search--dropdown {
        width: 150px !important;
    }

    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 160px;
    }
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-8">
        <h1>View Fee Collection Report (Feehead/Concession)</h1>
    </div>
    <div class="col-md-4 text-right">
        @if (Model.IsAuthToPrint)
        {
            <a title="Excel" id="ExcelConcessionFee" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default">Export To Excel</a>
            <a title="Print Fee Collection List" id="printConcessionFee" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default"  @*href="@Url.Action("PrintFeeCollectionList", "FeeController", new { id = Model.ID })"*@ @*href="PrintFeeCollectionList"*@><i class="fa fa-print"></i></a>
        }
    </div>
</div>



<script>
    $('#ExcelConcessionFee').click(function () {
        $("#IsExcel").val("1");
        document.getElementById("myForm").submit();
        return false; // cancel the actual link
    })

    $('#printConcessionFee').click(function () {
        $("#IsExcel").val("");
        document.getElementById("myForm").submit();
        return false; // cancel the actual link
    })
</script>
<div class="row top-space-10">
    <div class="col-md-12" style="padding:0">
        @* <form class="form-inline ks-custom-form" id="myForm" action="PrintFeeCollectionList" target="_blank">*@
        @using (Html.BeginForm("PrintFeeHeadWiseCollectionList", "Fee", FormMethod.Post, new { @class = "form-inline ks-custom-form", @id = "myForm", @target = "_blank" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.IsExcel)
            <div class="form-group">
                <label>Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.AvailableSession, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Receipt Type</label>
                @Html.DropDownListFor(model => model.ReceiptTypeIds, Model.AvailableReceiptType, new { @class = "form-control" , @multiple = "multiple"})
            </div>
            <div class="form-group">
                <label>From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
            </div>

            <div class="form-group">
                <label>To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
            </div>
            <div class="form-group">
                <label>Fee Type</label>
                @Html.DropDownList("FeeTypeId", Model.AvailableFeeType, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <label>Payment Mode </label>
                @Html.DropDownList("PaymentModeIds", Model.AvailablePaymentMode, new { @class = "form-control", @multiple = "multiple"})
            </div>
            <div class="form-group">
                <label></label>
                <input type="radio" name="standcls" value="Standard" /> Standard
                <input type="radio" name="standcls" value="Class" /> Class
            </div>
            <div id="dvStandrad" class="form-group" style="display:none;    margin-left: 10px;">
                <label>Standard</label>
                @Html.DropDownList("StandardId", Model.AvailableStandard, new { @class = "drop-down form-control" })
            </div>
            <div id="dvoption" class="form-group" style="display:none;">

                @Html.CheckBoxFor(m => m.IsAllClasses)
                <label>Include All Classes</label>
            </div>
            <div id="dvCls" class="form-group" style="display:none;    margin-left: 10px;">
                <label>Class</label>
                @Html.DropDownList("ClassId", Model.AvailableClass, new { @class = "drop-down form-control" })
            </div>

            //&nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search" class="btn btn-default">Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        }
        @*</form>*@
    </div>
</div>


<div class="row">
    <div class="col-md-12" style="padding: 0; overflow-x:auto;">
        <table id="FeeConcessionList-grid" class="table table-striped table-responsive">
            <thead>

            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var list;

    $("#PaymentModeIds").multiselect({
        nonSelectedText: "All"
    });
      $("#ReceiptTypeIds").multiselect({
        //nonSelectedText: "All"
    });

    $(document).ready(function () {
        //date picker
        $("#FromDate,#ToDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date()
        })
        $("#FromDate,#ToDate").attr('readonly', true);
        GetDataOnlOad();

        $("#StandardId").select2({
            placeholder: "Select a Standard",
            allowClear: true
        });
        $("#ClassId").select2({
            placeholder: "Select a Class",
            allowClear: true
        });
        $('input:radio[name=standcls]').change(function () {
            if (this.value == 'Standard') {
                $('#dvStandrad').show();
                $('#dvCls').hide();
                $('#dvoption').show();
                $("#ClassId").val('').trigger('change');
                $("#StandardId").val('').trigger('change');

            }
            else if (this.value == 'Class') {
                $('#dvStandrad').hide();
                $('#dvCls').show();
                $('#dvoption').hide();
                $("#ClassId").val('').trigger('change');
                $("#StandardId").val('').trigger('change');
            }
        });


        //search button
        $('#search').click(function () {
         
           // var ReceiptType = $('#ReceiptTypeIds').val();
            $('#ks_loader').show();
            $('#FeeConcessionList-grid').show();
            $('#FeeConcessionList-grid thead').html('');
            $('#FeeConcessionList-grid tbody').html('');
            if (ReceiptType == "") {
                $('#ks_loader').hide();
                ToastMessage("Please provide Receipt Type", "error", true, 5000);
            }
            else if ($('#SessionId').val() == "") {
                $('#ks_loader').hide();
                ToastMessage("Please provide Session", "error", true, 5000);
            }
            else {
                var sessionid = $('#SessionId').val();
                var Fromdate = GetDateFromString($('#FromDate').val());
                var Todate = GetDateFromString($('#ToDate').val());
                var classid = $('#ClassId').val();
                var FeeTypeid = $('#FeeTypeId').val();
                var StandardId = $('#StandardId').val();
                var IsAllClasses = 1;
                var IsALL = $('#IsAllClasses').prop("checked");
                if (IsALL == true)
                    IsAllClasses = 1;
                else
                    IsAllClasses = 0;
                var PaymentModeId = "";
                if ($("#PaymentModeIds").val() != null && $("#PaymentModeIds").val() != "") {
                    var arrayMode = $("#PaymentModeIds").val();
                    $.each(arrayMode, function (i) {
                        PaymentModeId += arrayMode[i] + ","
                    });

                }
                  var ReceiptType = "";
            if ($("#ReceiptTypeIds").val() != null && $("#ReceiptTypeIds").val() != "") {
                var arrayMode = $("#ReceiptTypeIds").val();
                $.each(arrayMode, function (i) {
                    ReceiptType += arrayMode[i] + ","
                });

            }
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("FeeConcessionGridList", "Fee"))',
                    data: {
                        "SessionId": sessionid, "RecieptType": ReceiptType, "FromDate": Fromdate, "ToDate": Todate, "ClassId": classid,
                        "FeeType": FeeTypeid, "StandardId": StandardId, "IsAllClasses": IsAllClasses, "PaymentModeIds": PaymentModeId
                    },
                    success: function (result) {
                     
                        if (result.status == "success") {
                            var colsName = result.ColumnNames.split('ε');
                            var lengthcol = colsName.length;
                            if (colsName.length > 1) {
                                var headhtml = "<tr>";
                                for (var i = 0; i < colsName.length; i++) {
                                    if (colsName[i] != "") {
                                        headhtml += "<th>" + colsName[i] + "</th>";
                                    }
                                }
                                headhtml += "</tr>";
                            }
                            $('#FeeConcessionList-grid thead').append(headhtml);
                            var htmlbody = "";
                            var rowscount = result.FeeHeadConcessionList.split('ε');
                            for (var i = 0; i < rowscount.length; i++) {
                                htmlbody += "<tr>";
                                var count = rowscount[i].split('_');
                                for (var j = 0; j < count.length; j++) {
                                    htmlbody += "<td>" + count[j] + "</td>";
                                }
                                htmlbody += "</tr>";
                            }
                            $('#FeeConcessionList-grid tbody').append(htmlbody);
                        }

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });


                @*$.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("FeeConcessioncollectionList", "Fee"))',
                    data: { "SessionId": sessionid, "RecieptType": ReceiptType, "FromDate": Fromdate, "ToDate": Todate, "ClassId": classid, "FeeType": FeeTypeid, "StandardId": StandardId, "IsAllClasses": IsAllClasses },
                    success: function (result) {
                        alert("f");
                        alert(result.FeeCollectionList);
                        //if (result.status == "success") {
                        //    if (result.FeeCollectionList.length > 0) {
                        //        list = result.FeeCollectionList;
                        //    }

                        //    alert(JSON.stringify(list));
                        //}

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });*@
            }



        });

        $('#reset').click(function () {
            $('#SessionId').val("");
            $('#FeeTypeId').val("");
            $("#FromDate,#ToDate").removeAttr('readonly');
            $('#FromDate').val("");
            $('#ToDate').val("");
            $("#FromDate,#ToDate").attr('readonly', true);
            $('#ClassId').val("");
            $('#FeeConcessionList-grid tbody').html('');
            $('#FeeConcessionList-grid thead').html('');
            $('#FeeConcessionList-grid').hide();
            $("#ClassId").val('').trigger('change');
            $("#StandardId").val('').trigger('change');
            $("#PaymentModeIds").val("");
            $("#PaymentModeIds").multiselect('refresh');
        });


    });
    function GetDataOnlOad() {
        //var ReceiptType = $('#ReceiptTypeId').val();
        $('#ks_loader').show();

        $('#FeeConcessionList-grid thead').html('');
        $('#FeeConcessionList-grid tbody').html('');
        if (ReceiptType == "") {
            $('#ks_loader').hide();
            ToastMessage("Please provide Receipt Type", "error", true, 5000);
        }
        else if ($('#SessionId').val() == "") {
            $('#ks_loader').hide();
            ToastMessage("Please provide Session", "error", true, 5000);
        }
        else {
            var sessionid = $('#SessionId').val();
            var Fromdate = GetDateFromString($('#FromDate').val());
            var Todate = GetDateFromString($('#ToDate').val());
            var classid = $('#ClassId').val();
            var FeeTypeid = $('#FeeTypeId').val();
            var StandardId = $('#StandardId').val();
           
            var IsAllClasses = 1;
            var IsALL = $('#IsAllClasses').prop("checked");
            if (IsALL == true)
                IsAllClasses = 1;
            else
                IsAllClasses = 0;
            $('#FeeConcessionList-grid').show();

            var PaymentModeId = "";
            if ($("#PaymentModeIds").val() != null && $("#PaymentModeIds").val() != "") {
                var arrayMode = $("#PaymentModeIds").val();
                $.each(arrayMode, function (i) {
                    PaymentModeId += arrayMode[i] + ","
                });

            }

             var ReceiptType = "";
            if ($("#ReceiptTypeIds").val() != null && $("#ReceiptTypeIds").val() != "") {
                var arrayMode = $("#ReceiptTypeIds").val();
                $.each(arrayMode, function (i) {
                    ReceiptType += arrayMode[i] + ","
                });

            }
            
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("FeeConcessionGridList", "Fee"))',
                data: {
                    "SessionId": sessionid, "RecieptType": ReceiptType, "FromDate": Fromdate, "ToDate": Todate, "ClassId": classid,
                    "FeeType": FeeTypeid, "StandardId": StandardId, "IsAllClasses": IsAllClasses, "PaymentModeIds": PaymentModeId
                },
                success: function (result) {
                    if (result.status == "success") {
                        var colsName = result.ColumnNames.split('ε');
                        var lengthcol = colsName.length;
                        if (colsName.length > 1) {
                            var headhtml = "<tr>";
                            for (var i = 0; i < colsName.length ; i++) {
                                headhtml += "<th>" + colsName[i] + "</th>";
                            }
                            headhtml += "</tr>";
                        }
                        $('#FeeConcessionList-grid thead').append(headhtml);
                        var htmlbody = "";
                        var rowscount = result.FeeHeadConcessionList.split('ε');
                        for (var i = 0; i < rowscount.length; i++) {
                            htmlbody += "<tr>";
                            var count = rowscount[i].split('_');
                            for (var j = 0; j < count.length; j++) {
                                htmlbody += "<td>" + count[j] + "</td>";
                            }
                            htmlbody += "</tr>";
                        }
                        $('#FeeConcessionList-grid tbody').append(htmlbody);
                    }

                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    }

    // function get date as string and return date
    function GetDateFromString(date) {
        if (date != "") {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        return null;
    }

</script>