﻿@model ViewModel.ViewModel.Fee.FeeClassGroupModel

@{
    ViewBag.Title = "Manage Fee Class Group ";
}
<style> 
.select-std .select2-container {
    width: 100% !important;
}
.select-std .select2-container .select2-selection--multiple{
    height: 28px;
    min-height: 28px;
    border-radius: 0px;
}

    .select-std .select2-container .select2-selection--multiple ul li {
        margin-top: 2px;
    }
    .select-std .select2-container .select2-selection--multiple ul li select2-search__field{
        margin-top: 2px !important;
    }
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Manage Fee Class Group</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
            <a href="javascript:void(0)" id="filter_fee_ClassGroup" class="btn btn-xs btn-default">Filter</a>
            <a href="javascript:void(0)" id="add_fee_ClassGroup" class="btn btn-xs btn-default">Add New</a>
    </div>
</div>

<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("FeeClassGroup", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_FeeClassGroupCreateOrUpdate", Model)
        }
    </div>
</div>
