﻿@model ViewModel.ViewModel.Fee.FeeDefaulterModel
@{
    string Host = Request.Url.AbsolutePath;
    Host = Host.Split('/')[1];
    if (Request.Url.AbsoluteUri.Contains("localhost"))
    {
        Host = "";
    }

    ViewBag.Title = "FeeDefaulter";
}
@Html.HiddenFor(x => x.StudentPendingFee)
@Html.Hidden("classforexcel")
<div id="allstudentexecl" hidden></div>
<style>
    td span:hover {
        text-decoration: underline;
    }
    /*ul.multiselect-container.dropdown-menu {
        overflow: auto;
        max-height: 300px;
    }

    button.after.btn.btn-default.dropdown-toggle.multiselect::after {
        content: ".....";
    }

    .multiselect.dropdown-toggle.btn.btn-default {
        max-width: 135px;
        min-width: 119px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }*/
    #ClassId .select2 {
        width: 100% !important
    }
    #class_defaulter .select2 {
        width: 100% !important
    }
    .select2 select2-container select2-container--default{
        width: 508px !important;
    }
    .select2 select2-container select2-container--default select2-container--below
    {
        width: 508px !important;
    }
</style>
<script src="~/Scripts/jquery.table2excel.min.js"></script>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12" id="error_notification_div" hidden>
        <div class="error_notification"><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12" id="success_notification_div" hidden>
        <div class="success_notification"><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>View Fee Defaulter List</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="javascript:void(0)" id="SendMessagetoDefaulter" class="btn btn-xs btn-default">Send Message</a>
        @if (Model.IsAuthToExport)
        {
            <a href="javascript:void(0)" title="Export all classes students pending fee to excel" id="ExporttoexcelStudentWise" class="btn btn-xs btn-default">All data to excel</a>
            <a href="javascript:void(0)" onclick="exportexcelclasswise()" id="Exporttoexcelclasswiserpt" class="btn btn-xs btn-default">Export to Excel</a>
        }
        @if (Model.IsAuthToPrint)
        {
            <a href="javascript:void(0)" id="printclasswiserpt" class="btn btn-xs btn-default">Print</a>
        }
    </div>
</div>
<!-- //SMS Student MobileNumberPopup -->
@{


    var html =
     "<div class='row top-space-10'>" +
    "<div class='col-md-12' style='padding:0'>" +


        "<div class='col-md-12'>" +
        "<label class = 'from_label'>Class</label>" +
            "<select class='form-control ttdropdown' id='class_defaulter' >";

    foreach (var @item in Model.FeeDefaulterList)
    {

        html += "<option value='" + @item.ClassId + "'>" + @item.Class + "</option>";
    }



    html += "</select>" +


    "</div>" +
    "<div class='col-md-3'>" +
    "<div class='form-group' style='margin:24px 0 0 0;'>" +
    "<button type='button' name='filter' id='search' class='btn btn-default' style='margin-right: 3px;'>Filter</button>" +
    "<button type='button' name='filter' id='send_button' class='btn btn-success' style='display:none'>Send</button>" +
    "</div>" +
    "</div>" +
    "</div>" +
    "</div>" +
    "<div>" +




@*@for (int i = 0; i < @Model.FeedueStudentList.Rows.Count; i++)
    {*@
"<div id='studentlist'></div>" +
//}



"</div>";
@Helper.FeedeaulterModelPopUp("SendMessagetoDefaulterlist", "Close_Sendmessage", "Body_data", "Fee Defaulters list", html)
<script>
    $('#class_defaulter').select2({ multiple: true });
</script>
    //select multiple Class all daa to excel
var selectClasshtml =
"<div class='row top-space-10'>" +
"<div class='col-md-12' style='padding:0'>" +


  "<div class='col-md-12'>" +
  "<label class = 'from_label'>Class</label>" +
      "<select class='form-control' id='class_defaulterexport' style='width:400px'>";

foreach (var @item in Model.AvailableClassesExport)
{

    selectClasshtml += "<option value='" + @item.Value + "'>" + @item.Text + "</option>";
}



selectClasshtml += "</select>" +


"</div>" +
"<div class='col-md-3'>" +
"<div class='form-group' style='margin:24px 0 0 0;'>" +
"<button type='button' name='filter' id='exportalldata_defaulter' class='btn btn-default' style='margin-right: 3px;'>Export</button>" +

"</div>" +
"</div>" +
"</div>" +
"</div>" +
"<div>" +




@*@for (int i = 0; i < @Model.FeedueStudentList.Rows.Count; i++)
    {*@
"<div id='studentlist'></div>" +
//}



"</div>";
@Helper.FeedeaulterexecelModelPopUp("SelectMultipleClass", "Close_SelectMultipleClass", "Body_dataSelectMultipleClass", "Select Classes to Export", selectClasshtml)



}
@*//$("#Body_data").append(html);*@
@Helper.OptionSMSMobileNumber("FeeSMSMobNoStudentSetting", "FeeSMSMobNoStudentSettingLabel", "Mobile Number Selection",
                        "(Selection of Sms Mobile number)", "FeeSMSSelectionStudentMobileNo",
                       "set_FeeSMSMobNoStudentSetting", "close_FeeSMSMobNoStudentSetting", Model.SMSSelectionStudentMobileNo)


<script>
    $('#class_defaulter').change(function () {
        $('#send_button').hide();
    })
    $(document).on('click', "#send_button", function () {
        var array = [];
        var Attr = new Object();
        $("table tbody tr").each(function () {
            //array.push({
            //    //name: $(this).attr('class'),
            //    //value: $(this).val()
            //    value: $(this).find('.check_box').attr('data-id')
            //});
            if ($(this).find('.check_box').is(":checked")) {
                Attr = new Object();
                Attr.StudentId = $(this).find('.check_box').attr('data-id');
                Attr.StudentPendingFee = $(this).find('.check_box').attr('data-idPendingFee');
                array.push(Attr);
            }
        });
        $('#StudentIdList').val(JSON.stringify(array));
        if (array == null || array == "") {
            ToastMessage("Please select at least one user", "error", true, 5000);
            return false;
        } else {
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("FeeDefaulterSendMessageList", "Fee"))',
                data: {
                    "StudentIdList": JSON.stringify(array), "FeeSMSSelectionStudentMobileNo": $("#FeeSMSSelectionStudentMobileNo").val(),
                },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.message,
                            "success", true, 5000);
                    }
                    if (result.status == "failed") {
                        ToastMessage(result.message,
                            "success", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
    })


    $("#close_FeeSMSMobNoStudentSetting").click(function () {
        $("#FeeSMSMobNoStudentSetting").hide();
    });
    $("#set_FeeSMSMobNoStudentSetting").click(function () {
        $('#ks_loader').show();
        var Selected = '@Model.SMSSelectionStudentMobileNo';
        if ($("#FeeSMSSelectionStudentMobileNo").val() != "") {
            $("#SendMessageMobileNoSelectionId").val($("#FeeSMSSelectionStudentMobileNo").val());
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("InsertDefaultValues", "Fee"))',
                data: { "MobileNoSelection": $("#SendMessageMobileNoSelectionId").val() },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage("SMS/Notifications will be send on " + $("#FeeSMSSelectionStudentMobileNo option:selected").text(),
                                        "success", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else
            ToastMessage("SMS/Notifications will be send on Student SMS Mobile No.", "success", true, 5000);

        $("#FeeSMSMobNoStudentSetting").hide();
    });

    $(document).on('click', '#check_box_common', function () {

        if ($(this).is(":checked")) {
            $("table tbody tr").each(function () {
                $(this).find('.check_box').prop('checked', true)
            });
        } else {
            $("table tbody tr").each(function () {
                $(this).find('.check_box').prop('checked', false)
            });
        }
    })
    // $("#Body_data").append(html);
    $('#SendMessagetoDefaulter').click(function () {

        $('#SendMessagetoDefaulterlist').show();




    })
    $('#btnFeeSMSSettings').click(function () {

        $('#FeeSMSMobNoStudentSetting').show();
    })


    $(document).on('click', '#Exporttoexcelstudentwiserpt', function () {
        $('#ks_loader').show();
        $('#allstudentexecl').html('');

        var feeperiod = $('#FeePeriodId').val();
        var classId = $('#classforexcel').val();
         //$('#classforexcel').val("");
        $('#studentlist').html('');
        $('#send_button').hide();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetStudentWiseDefaulterLists", "Fee"))',
            data: {
                'ClsId': classId, "FeePeriod": feeperiod, "receipttypeid": $('#ReceiptTypeId').val(),
                "feeclassgrouptypeid": $('#FeeClassGroupTypeId').val(), "SessionId": $('#SessionId').val()
            },
            success: function (result) {
                if (result.status == "success") {
                    var html = '';
                    var html = "<tr>" +
                        "<th>Admn No.</th>" +
                        "<th>Student Name</th>" +
                        "<th>RollNo.</th>" +
                        "<th>Father Name</th>" +
                        "<th>MobileNo.</th>"+
                        "<th>Category</th>" +
                          "<th>Address</th>";

                   // $('#allstudentexecl').html(html);
                    var htmlbody = "";
                    var lastlineTotalamounthtml = "";
                    $.each(result.data, function (k) {
                        var paid = parseFloat(this.Amount) - parseFloat(this.PayableAmount);

                        htmlbody+='<tr><td>' + this.AdmissionNo + '</td><td class="feedetail"><span style="color: #337ab7;cursor: pointer;">'
                            + this.StudentName + '</span></td><td>' + this.RollNo + '</td><td>' + this.FatherName + '</td><td>'
                            + this.ContactNo + '</td><td>' + this.StudentCategory + '</td><td>' + this.StudentAddress + '</td>';
                        $.each(result.headnames, function (i) {
                            var nocount = 0;
                            //var amounttobeadded = 0; var lastcount = 1;
                            $.each(result.data[k].FeeReceiptDetailList, function (j) {
                               // lastcount++;
                                if (result.headnames[i].toLowerCase() == this.GroupFeeHeadName.toLowerCase()) {
                                    htmlbody += '<td>' + this.CalculatedHeadAmount + '</td>';
                                    nocount = nocount + 1;
                                    //var amtregular = 0;
                                    //amtregular=parseInt(this.CalculatedHeadAmount, amtregular);
                                    //amounttobeadded += amtregular;
                                    
                                }
                                    //else {
                                //    htmlbody += '<td></td>'
                                //}
                                @*if (lastcount == result.data[k].FeeReceiptDetailList.length && nocount>0) {
                            lastlineTotalamounthtml += "<td><i class='fa @Model.CurrencyIcon'></i>"+amounttobeadded+"</td>";

                                }*@
                            })
                            if (nocount == 0) {
                                  htmlbody += '<td></td>';
                            }
                        })
                            htmlbody+='<td> <i class="fa @Model.CurrencyIcon"></i>' + this.Amount
                            + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid + '</td><td><i class="fa @Model.CurrencyIcon"></i>'
                            + this.PayableAmount + '</td>'+
                            '</tr>'
                    });
                    //overalltotal
                    $.each(result.headnames, function (i) {
                        var lastcount = 1;
                         var amounttobeadded = 0; 
                        $.each(result.data, function (k) {
                            lastcount++;
                            //var amounttobeadded = 0; 
                            $.each(result.data[k].FeeReceiptDetailList, function (j) {
                                lastcount++;
                                if (result.headnames[i] == this.GroupFeeHeadName) {
                                   
                                    var amtregular = 0;
                                    amtregular=parseInt(this.CalculatedHeadAmount, amtregular);
                                    amounttobeadded += amtregular;
                                    
                                }
                                    //else {
                                //    htmlbody += '<td></td>'
                                //}
                                
                            })
                             })
                         //if (lastcount == result.data.length) {
                            lastlineTotalamounthtml += "<td><i class='fa @Model.CurrencyIcon'></i>"+amounttobeadded+"</td>";

                                //}
                        })



                    var colcount = 7;
                    $.each(result.headnames, function (i) {
                        //colcount=colcount+1;
                        html += "<th>"+result.headnames[i]+"</th>";
                    })
                    html += "<th>Total Amount</th>" +
                        "<th>Paid Amount</th>" +
                        "<th>Pending Amount</th>" +
                        "</tr>";
                    $('#allstudentexecl').append(html);
                     $('#allstudentexecl').append(htmlbody);
                    var Totalpaid = parseFloat(result.TotalAmount) - parseFloat(result.TotalPayableAmount);

                     $('#allstudentexecl').append('<tr><td colspan="'+colcount+'">Total</td>"'+lastlineTotalamounthtml+'"<td><i class="fa @Model.CurrencyIcon"></i>' + result.TotalAmount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + Totalpaid + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.TotalPayableAmount + '</td></tr>');

                    //$('#studentlist').append("<table class='top-space-10 table table-bordered' style='width:58%;'>" +
                    //              "<thead>" +
                    //                      "<tr>" +
                    //              "<th width='40px' style='text-align:center;'><input id='check_box_common' type='checkbox' /></th>" +
                    //              "<th>Student Name</th>" +
                    //              "</tr>" +
                    //              "</thead>" +
                    //              "<tbody>" + html + "</tbody>" +
                    //    "</table>")
                    //var htmlexcel = "<table class='top-space-10 table table-bordered' style='width:58%;'>" +
                    //    "<thead>" +
                    //    "<tr>" +
                    //    "<th width='40px' style='text-align:center;'><input id='check_box_common' type='checkbox' /></th>" +
                    //    "<th>Student Name</th>" +
                    //    "</tr>" +
                    //    "</thead>" +
                    //    "<tbody>" + html + "</tbody>" +
                    //    "</table>";
                    //$('#allstudentexecl').html(htmlexcel);
                    exportexcel();
                    $('#ks_loader').hide();
                    // $('#send_button').show();
                    //$('#send_button').show();
                }
                else if (result.status == "failed") {
                    $('#ks_loader').hide();
                    var validationaray = result.data.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++) {
                        ToastMessage(validationaray[i], "error", true, 5000);
                    }
                }
                else {
                    $('#ks_loader').hide();
                    ToastMessage(result.data, "error", true, 5000);
                }
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })
    function exportexcel(htmlexcel) {
        //alert($('#allstudentexecl').clone());
        var grid =  $('#allstudentexecl').clone();
        //grid.find('td.fee_typeid').remove();
        //grid.find('td.current_periodid').remove();
        //grid.find('td.class_id').remove();
        //grid.find('td.student_id').remove();

                    grid.table2excel({
                        name: "Table2Excel",
                        filename: "FeeDefaulterListStudentWise",
                        fileext: ".xls"
                    });
        $('#allstudentexecl').html('');
    }
    $(document).on('click', '#search', function () {
        $('#ks_loader').show();

        var feeperiod = $('#FeePeriodId').val();
        var classId = $('#class_defaulter').val();
        $('#studentlist').html('');
        $('#send_button').hide();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetStudentWiseDefaulterList", "Fee"))',
            data: {
                'ClsId': classId, "FeePeriod": feeperiod, "receipttypeid": $('#ReceiptTypeId').val(),
                "feeclassgrouptypeid": $('#FeeClassGroupTypeId').val(), "SessionId": $('#SessionId').val()
            },
            success: function (result) {
                if (result.status == "success") {
                    var html = '';
                    $.each(result.data, function () {
                        var paid = parseFloat(this.Amount) - parseFloat(this.PayableAmount);

                        html += "<tr>" +
                        "<td width='10px' style='text-align:center;'><input class='check_box' data-id=" + this.StudentId
                                    + " data-idPendingFee=" + this.PayableAmount + " type='checkbox'  /></td>" +
                        "<td>" +
                    this.StudentName +
                            "</td>" +
                             "<td>" +
                    this.AdmissionNo +
                            "</td>" +
                             "<td>" +
                    this.Class +
                            "</td>" +
                            "<td>" +
                    this.RollNo +
                                    "</td>" +
                                 "</tr>"
                    });

                    $('#studentlist').append("<table class='top-space-10 table table-bordered' style='width:100%;'>" +
                                  "<thead>" +
                                          "<tr>" +
                                  "<th width='40px' style='text-align:center;'><input id='check_box_common' type='checkbox' /></th>" +
                                  "<th>Student Name</th><th>Admn No.</th><th>Class</th><th>Roll No.</th>" +
                                  "</tr>" +
                                  "</thead>" +
                                  "<tbody>" + html + "</tbody>" +
                                "</table>")
                    $('#ks_loader').hide();
                     $('#send_button').show();
                    $('#send_button').show();
                }
                else if (result.status == "failed") {
                    $('#ks_loader').hide();
                    var validationaray = result.data.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++) {
                        ToastMessage(validationaray[i], "error", true, 5000);
                    }
                }
                else {
                    $('#ks_loader').hide();
                    ToastMessage(result.data, "error", true, 5000);
                }
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })


</script>





<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("FeeDefaulter", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="create_feeclassgroup">
                <div class="row">
                    <!-- Form Coulmn -->
                    <div class="col-md-3">
                        <label class=" control-label">Session</label>
                        @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "form-control" })
                    </div>
                    <!-- //Form Coulmn -->
                    <div class="col-md-3">
                        <!-- Form Coulmn -->
                        <label class="control-label">Fee Frequency</label>
                        @Html.DropDownListFor(m => m.FeeFrequencyId, Model.AvailableFeeFrequency, new { @class = "form-control" })
                    </div>
                    <!-- Form Coulmn -->
                    <div class="col-md-6">
                        <div class="">
                            <label class=" control-label">Class</label>
                        </div>
                        @*@Html.ListBoxFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control ttdropdown" })
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- //Form Coulmn -->
                    <div class="col-md-3 Grouptype" hidden>
                        <!-- Form Coulmn -->
                        <label class="control-label">Group Type</label>
                        @Html.DropDownListFor(m => m.FeeClassGroupTypeId, Model.AvailableFeeClassGroupTypes, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <!-- //Form Coulmn -->
                    <div class="col-md-3">
                        <!-- Form Coulmn -->
                        <label class="control-label">Month</label>
                        @Html.DropDownListFor(m => m.FeePeriodId, Model.AvailableFeePeriods, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="col-md-3">
                        <!-- Form Coulmn -->
                        <label class="control-label">Receipt Type</label>
                        @Html.DropDownListFor(m => m.ReceiptTypeId, Model.AvailableReceipttype, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3 ">
                        <br />
                        <button type="button" id="feedefaulter_search" class="btn btn-default">Filter</button>

                    </div>
                </div>
            </div>

            <div id="classwisegrid" class="top-space-10" style="display:none">
                <table id="grid" class="table table-condensed table-responsive table-striped">
                    <thead class="thead-default">
                        <tr>
                            <th class="col-md-1">Sr.No.</th>
                            <th class="col-md-2">Class</th>
                            <th class="col-md-2">Total Amount</th>
                            <th class="col-md-2">Paid Amount</th>
                            <th class="col-md-2">Pending Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            @*if (Model.FeeDefaulterList.Count > 0)
                                {
                                    var i = 1;
                                    foreach (var item in Model.FeeDefaulterList)
                                    {
                                        var paid_amount = @item.Amount - @item.PayableAmount;
                                            <tr>
                                                <td>@i</td>
                                                <td><span style="color: #337ab7;cursor: pointer;" data-id="@item.ClassId" class="viewStudentwise">@item.Class</span></td>
                                                <td><i class='fa @Model.CurrencyIcon'></i>@item.Amount</td>
                                                <td><i class='fa @Model.CurrencyIcon'></i>@paid_amount</td>
                                                <td><i class='fa @Model.CurrencyIcon'></i>@item.PayableAmount</td>
                                            </tr>
                                        i++;
                                    }
                                    var paidtotalamount = (@Model.TotalAmount) - (@Model.TotalPayableAmount);
                                            <tr>
                                                <td colspan="2">Total</td>
                                                <td><i class='fa @Model.CurrencyIcon'></i>@Model.TotalAmount</td>
                                                <td><i class='fa @Model.CurrencyIcon'></i>@paidtotalamount</td>
                                                <td><i class='fa @Model.CurrencyIcon'></i>@Model.TotalPayableAmount</td>
                                            </tr>
                                }
                                else
                                {
                                            <tr>
                                                <td class="text-center" colspan="5">
                                                    No data found
                                                </td>
                                            </tr>
                                }*@
                        }
                    </tbody>
                </table>
            </div>

            <div class="modal-popup" id="StudentDefaulterListView_div" hidden>
                <div class="modal-popup-body" style="width:930px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="Close_div" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="col-md-6">
                                <h4 class="modal-title studentclasslabel" id="myModalLabel"></h4>
                            </div>
                            <div class="col-md-5 text-right">
                                <a href="javascript:void(0)" id="Exporttoexcelstudentwiserpt" class="btn btn-xs btn-default">Excel</a>

                                @* <a href="javascript:void(0)" onclick="exportexcelstudentwise()" id="Exporttoexcelstudentwiserpt" class="btn btn-xs btn-default">Excel</a>*@
                                <a href="javascript:void(0)" id="printstudentwiserpt" class="btn btn-xs btn-default">Print</a>
                            </div>
                        </div>

                        <div class="row modal-body">
                            <div id="studentwisegrid" class="col-md-12">
                                <table id="defaulter_grid" class="table table-condensed table-responsive table-striped">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Admn No.</th>
                                            <th>Student Name</th>
                                            <th>RollNo.</th>
                                            <th>Father Name</th>
                                            <th>MobileNo.</th>
                                            <th>Total Amount</th>
                                            <th>Paid Amount</th>
                                            <th>Pending Amount</th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                </table>
                            </div>


                            <div class="modal-popup" id="FeeDetailsView_div" hidden>
                                <div class="modal-popup-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button id="Close_FEE_div" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="ChildModalLabel">Fee Detail</h4>
                                        </div>

                                        <div class="row modal-body">
                                            <div class="col-md-12">
                                                <table id="feedetail_grid" class="table table-condensed table-responsive table-striped">
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
     $(document).ready(function () {
     $('#class_defaulterexport').select2({ multiple: true });
    });
    $('#Close_div').click(function () {
        $('#StudentDefaulterListView_div').hide();
    })
    $('#SessionId').change(function () {
        //$("#StudentId").find("option").remove();
        //$("#TermId").find("option").remove();

        //if ($("#StudentId").val() != '') {
        //    $("#printbutton_div").hide();
        //}
        //else {
        //    $("#printbutton_div").show();
        //}
        //$('#filter_btn_ClassWise').css('opacity', '1')
        //$('#pdf_btn_ClassWise').css('opacity', '1')
        //$('#Excel_btn_ClassWise').css('opacity', '1')


        $("#ClassId").find("option").remove();
        var Sessionid = $('#SessionId').val();
        if (Sessionid > 0) {
            @*$.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("ClassListbySession", "Fee"))',
                async: false,
                data: { "Sessionid": Sessionid },
                success: function (result) {
                    if (result.status == "success") {
                        for (var i = 0; i < result.data.length; i++) {
                            var option = "";
                            if (result.data[i].Selected == true)
                                option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                            else
                                option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                            $('#ClassId').append(option);
                        }
                        $('#ClassId').trigger('change')
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                }
            });*@
             var   option = "<option value=''>All Classes</option>";
                        $('#ClassId').append(option);
                        //  $("#ClassId").multiselect('refresh');
                        $(document).ready(function () {
                            $('#ClassId').select2({ multiple: true });
                        });
                        $('#ClassId').val(0).trigger('change');
                        $('#ks_loader').hide();
        }

    });

    $(document).on('click', '.viewStudentwise', function () {
        $('#ks_loader').show();
        $('#defaulter_grid tbody').html('');
        $('#StudentDefaulterListView_div').show();
        var feeperiod = $('#FeePeriodId').val();
        var classId = $(this).attr('data-id');
        $('#classforexcel').val(classId);
        var classname = $(this).text() + " Defaulter Student List";
        $('.studentclasslabel').text(classname);
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetStudentWiseDefaulterList", "Fee"))',
            data: { 'ClsId': classId, "FeePeriod": feeperiod, "receipttypeid": $('#ReceiptTypeId').val(), "feeclassgrouptypeid": $('#FeeClassGroupTypeId').val(), "SessionId": $('#SessionId').val() },
            success: function (result) {
                if (result.status == "success") {
                    $.each(result.data, function () {
                        var paid = parseFloat(this.Amount) - parseFloat(this.PayableAmount);
                        $('#defaulter_grid tbody').append('<tr><td>' + this.AdmissionNo + '</td><td class="feedetail"><span style="color: #337ab7;cursor: pointer;">'
                            + this.StudentName + '</span></td><td>' + this.RollNo + '</td><td>' + this.FatherName + '</td><td>'
                            + this.ContactNo + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + this.Amount
                            + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid + '</td><td><i class="fa @Model.CurrencyIcon"></i>'
                            + this.PayableAmount + '</td>'
                            + '<td style="display:none" class="fee_typeid">'
                            + this.FeeTypeId + '</td><td style="display:none" class="current_periodid">' + this.CurrentPeriodId + '</td>'
                            + '<td style="display:none" class="class_id">' + this.ClassId + '</td><td style="display:none" class="student_id">' + this.StudentId + '</td></tr>')
                    });
                    var Totalpaid = parseFloat(result.TotalAmount) - parseFloat(result.TotalPayableAmount);
                    $('#defaulter_grid tbody').append('<tr><td colspan="5">Total</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.TotalAmount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + Totalpaid + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.TotalPayableAmount + '</td></tr>');
                    $('#ks_loader').hide();

                }
                else if (result.status == "failed") {
                    $('#ks_loader').hide();
                    var validationaray = result.data.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++) {
                        ToastMessage(validationaray[i], "error", true, 5000);
                    }
                }
                else {
                    $('#ks_loader').hide();
                    ToastMessage(result.data, "error", true, 5000);
                }
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    $('#Close_FEE_div').click(function () {

        $('#FeeDetailsView_div').hide();

    })

    $(document).on('click', '.feedetail', function () {
        $('#ChildModalLabel').text($(this).text() + " Fee Detail");

        var row = $(this).parent();
        var FeeTypeId = row.find('.fee_typeid').text();
        var FeePeriodId = $('#FeePeriodId').val() != "" ? $('#FeePeriodId').val() : row.find('.current_periodid').text();
        var ClassId = row.find('.class_id').text();
        var StudentId = row.find('.student_id').text();
        var FeeReciptDate = "@Model.CurrentDate";
        GetGroupFeeHeadByFeeType(FeeTypeId, ClassId, StudentId, FeeReciptDate, FeePeriodId);
    })

    // on change class get student list
    function GetGroupFeeHeadByFeeType(FeeTypeId, ClassId, StudentId, FeeReciptDate, FeePeriodId) {
        $('#ks_loader').show();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetAllGroupFeeHeadForDefaulter", "Fee"))',
            data: { "Class": ClassId, "Student": StudentId, "Date": FeeReciptDate, "FeePeriod": FeePeriodId, "ReceiptType": $('#ReceiptTypeId').val(), "SessionId": $('#SessionId').val() },
            success: function (result) {
                if (result.status == "success") {
                    if (result.data.length > 0) {
                        $('#feedetail_grid tbody').html('');
                        for (var i = 0; i < result.data.length; i++) {
                            if (result.data[i].GroupFeeHeadName == "Payable Amount") {
                                var row = "<tr>"
                               + "<td>Total Amount</td>"
                               + "<td><i class='fa @Model.CurrencyIcon'></i><span class='clsheadamt'> " + result.data[i].TotalAmount + "</span></td>"
                               + "</tr>";

                                $('#feedetail_grid tbody').append(row);
                            }
                            else {
                                var row = "<tr>"
                                + "<td>" + result.data[i].GroupFeeHeadName + "</td>"
                                + "<td><i class='fa @Model.CurrencyIcon'></i><span class='clsheadamt'> " + result.data[i].CalculatedHeadAmount + "</span></td>"
                                + "</tr>";

                                $('#feedetail_grid tbody').append(row);
                            }
                        }
                    }
                    else {
                        var row = "<tr><td colspan='5' style='text-align:center'>!!!sorry , No data found</td></tr>"
                        $('#feedetail_grid tbody').html(row);
                    }
                    $('#FeeDetailsView_div').show();
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                $('#ks_loader').hide();
                ToastMessage(err, "error", true, 5000);
            }
        });
    }


    $('#FeeClassGroupTypeId').change(function () {
        $('#grid tbody').html('');
        $('#ks_loader').show();

        var ClassId = $('#ClassId').val();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetFeePeriods", "Fee"))',
            data: { "ClsId": ClassId, "feeclasstypeid": $(this).val() },
            success: function (result) {
                if (result.status == "success") {

                    if (result.data.length > 0) {
                        $('#FeePeriodId').empty();
                        $('#FeePeriodId').attr('disabled', false);
                        $.each(result.data, function () {
                            $('#FeePeriodId').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        })
                    }

                    else {
                        alert("No Month found");
                    }
                }
                else {
                    $('#validation_error_div').show();
                    $('#validation_error_div ul').html('<li>' + result.msg + '</li>');
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                $('#ks_loader').hide();
                alert(err);
            }
        });
    })

    $('#ClassId').change(function () {
        $('#grid tbody').html('');
        //$('#ks_loader').show();
        if ($(this).val() != null) { 
        var ClassId = $(this).val();
        //if (ClassId == 0) {
        // $('#ks_loader').show();
            @*$.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetDefaultersLIst", "Fee"))',
              //  data: { "ClsId": null, "feeperiod": 0, "ReceiptTypeid": $('#ReceiptTypeId').val(), "SessionId": $('#SessionId').val() },
                  data: { "feeperiod": 0, "ReceiptTypeid": $('#ReceiptTypeId').val(), "SessionId": $('#SessionId').val() },
                success: function (result) {
                    if (result.status == "success") {
                        if (result.data.length > 0) {
                            var i = 0;
                            $('#FeePeriodId').val('');
                            $('#FeePeriodId').attr('disabled', true);
                            $.each(result.data, function () {
                                i++;
                                var paid_amount = parseFloat(this.Amount) - parseFloat(this.PayableAmount);
                                $('#grid tbody').append('<tr><td>' + i + '</td><td><span style="color: #337ab7;cursor: pointer;" data-id="' + this.ClassId + '" class="viewStudentwise">' + this.Class + '</span></td><td><i class="fa @Model.CurrencyIcon"></i>' + this.Amount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid_amount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + this.PayableAmount + '</td></tr>');
                            })
                            var paid_Totalamount = parseFloat(result.totalamount) - parseFloat(result.totalpayableamount);
                            $('#grid tbody').append('<tr><td colspan="2">Total Amount</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.totalamount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid_Totalamount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.totalpayableamount + '</td></tr>')
                        }
                        else {
                            $('#grid tbody').append("<tr><td colspan='5' style='text-align:center'>!!!sorry , No data found</td></tr>");
                        }
                    }
                    else {
                        $('#validation_error_div').show();
                        $('#validation_error_div ul').html('<li>' + result.msg + '</li>');
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    alert(err);
                }
            });*@
        //}
        //else
        if (ClassId != null && ClassId != "" && ClassId.length > 0) {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetFeePeriods", "Fee"))',
                data: { "ClsId": ClassId },
                success: function (result) {
                    if (result.status == "success") {
                        $('.Grouptype').hide()
                        if (result.data.length > 0) {
                            $('#FeePeriodId').empty();
                            $('#FeePeriodId').attr('disabled', false);
                            $.each(result.data, function () {
                                $('#FeePeriodId').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            })
                        }
                        else if (result.groupfeetypedata.length > 0) {

                            $('#FeeClassGroupTypeId').empty();
                            $('#FeeClassGroupTypeId').attr('disabled', false);
                            $.each(result.groupfeetypedata, function () {
                                $('#FeeClassGroupTypeId').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            })
                            $('.Grouptype').show();
                        }
                        else {
                            alert("No Month found");
                        }
                    }
                    else {
                        $('#validation_error_div').show();
                        $('#validation_error_div ul').html('<li>' + result.msg + '</li>');
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    alert(err);
                }
            });
        }
        else {
            $('#ks_loader').hide();
            $('#FeePeriodId').val('');
            $('#FeePeriodId').attr('disabled', true);
        }
    }
    });
    $('#FeeFrequencyId').change(function () {
        if ($("#SessionId").val() == "" || $("#SessionId").val() == null) {
            ToastMessage("Please Select Session First", "error", true, 5000);
            return false;
        }
        $("#ClassId").html("");
        $("#ClassId").val("");
        if ($('#FeeFrequencyId').val() != "" && $('#FeeFrequencyId').val() != null && $('#FeeFrequencyId').val() != 0) {
            $('#grid tbody').html('');
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetClassLIstByFeeFrequency", "Fee"))',
                data: { "FeeFrequencyId": $('#FeeFrequencyId').val(), "SessionId": $("#SessionId").val() },
                success: function (result) {
                    if (result.status == "success") {
                        var option = "";
                        for (var i = 0; i < result.data.length; i++) {
                            if (result.data[i].Selected == true)
                                option += "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                            else
                                option += "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        }
                        $('#ClassId').append(option);
                        //  $("#ClassId").multiselect('refresh');
                        $(document).ready(function () {
                            $('#ClassId').select2({ multiple: true });
                        });
                        //$('#ClassId').val('').trigger('change');
                        $('#ks_loader').hide();
                    }
                    else {
                        var option = "";
                        for (var i = 0; i < result.data.length; i++) {

                            if (result.data[i].Selected == true)
                                option += "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                            else
                                option += "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        }
                        $('#ClassId').append(option);
                        $('#ks_loader').hide();

                        $('#ks_loader').hide();
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                    alert(err);
                }
            });
        }
        //$("#ClassId").multiselect('refresh');
        else {
           var   option = "<option value=''>All Classes</option>";
                        $('#ClassId').append(option);
                        //  $("#ClassId").multiselect('refresh');
                        $(document).ready(function () {
                            $('#ClassId').select2({ multiple: true });
                        });
                        $('#ClassId').val(0).trigger('change');
                        $('#ks_loader').hide();
        }

    })
    @*$('#ReceiptTypeId').change(function () {
        $('#ks_loader').show();
        var feeperiod = $('#FeePeriodId').val();
        var classid = $('#ClassId').val();
        var receipttypeid = $('#ReceiptTypeId').val();
        $('#grid tbody').html('');

        if (receipttypeid > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetDefaultersLIst", "Fee"))',
                data: { "ClsId": classid, "feeperiod": feeperiod, "ReceiptTypeid": receipttypeid, "SessionId": $('#SessionId').val() },
                success: function (result) {
                    if (result.status == "success") {
                        if (result.data.length > 0) {
                            var i = 0;
                            $.each(result.data, function () {
                                i++;
                                var paid_amount = parseFloat(this.Amount) - parseFloat(this.PayableAmount);
                                $('#grid tbody').append('<tr><td>' + i + '</td><td><span style="color: #337ab7;cursor: pointer;"  data-id="' + this.ClassId + '" class="viewStudentwise">' + this.Class + '</span></td><td><i class="fa @Model.CurrencyIcon"></i>' + this.Amount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid_amount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + this.PayableAmount + '</td></tr>');
                            })
                            var paid_Totalamount = parseFloat(result.totalamount) - parseFloat(result.totalpayableamount);
                            $('#grid tbody').append('<tr><td colspan="2">Total Amount</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.totalamount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid_Totalamount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.totalpayableamount + '</td></tr>')
                        }
                        else {
                            $('#grid tbody').append("<tr><td colspan='5' style='text-align:center'>!!!sorry , No data found</td></tr>");
                        }
                    }
                    else {
                        $('#validation_error_div').show();
                        $('#validation_error_div ul').html('<li>' + result.msg + '</li>');
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                    alert(err);
                }
            });
        }
    });*@


    @*$('#FeePeriodId').change(function () {
        var feeperiod = $(this).val();
        var classid = $('#ClassId').val();
        $('#grid tbody').html('');

        if (feeperiod > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetDefaultersLIst", "Fee"))',
                data: { "ClsId": classid, "feeperiod": feeperiod, "ReceiptTypeid": $('#ReceiptTypeId').val(), "feeclassgrouptypeid": $('#FeeClassGroupTypeId').val(), "SessionId": $('#SessionId').val() },
                success: function (result) {
                    if (result.status == "success") {
                        if (result.data.length > 0) {
                            var i = 0;
                            $.each(result.data, function () {
                                i++;
                                var paid_amount = parseFloat(this.Amount) - parseFloat(this.PayableAmount);
                                $('#grid tbody').append('<tr><td>' + i + '</td><td><span style="color: #337ab7;cursor: pointer;"  data-id="' + this.ClassId + '" class="viewStudentwise">' + this.Class + '</span></td><td><i class="fa @Model.CurrencyIcon"></i>' + this.Amount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid_amount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + this.PayableAmount + '</td></tr>');
                            })
                            var paid_Totalamount = parseFloat(result.totalamount) - parseFloat(result.totalpayableamount);
                             //$('#grid tbody').html('');
                            $('#grid tbody').append('<tr><td colspan="2">Total Amount</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.totalamount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid_Totalamount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.totalpayableamount + '</td></tr>')
                        }
                        else {
                            var row = "<tr><td colspan='5' style='text-align:center'>!!!sorry , No data found</td></tr>"
                             $('#grid tbody').html('');
                            $('#grid tbody').append(row);
                        }
                    }
                    else {
                        $('#validation_error_div').show();
                        $('#validation_error_div ul').html('<li>' + result.msg + '</li>');
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    alert(err);
                }
            });
        }
    });*@

     $('#feedefaulter_search').click(function () {
        var feeperiod = $('#FeePeriodId').val();
        var classid = $('#ClassId').val();
         $('#grid tbody').html('');
          $('#class_defaulter').html('');
          $('#ks_loader').show();
        //if (feeperiod > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetDefaultersLIst", "Fee"))',
                data: { "ClsId": classid, "feeperiod": feeperiod, "ReceiptTypeid": $('#ReceiptTypeId').val(), "feeclassgrouptypeid": $('#FeeClassGroupTypeId').val(), "SessionId": $('#SessionId').val() },
                success: function (result) {
                    if (result.status == "success") {
                        if (result.data.length > 0) {
                            var i = 0;
                            $.each(result.data, function () {
                                i++;
                                var paid_amount = parseFloat(this.Amount) - parseFloat(this.PayableAmount);
                                $('#grid tbody').append('<tr><td>' + i + '</td><td><span style="color: #337ab7;cursor: pointer;"  data-id="' + this.ClassId + '" class="viewStudentwise">' + this.Class + '</span></td><td><i class="fa @Model.CurrencyIcon"></i>' + this.Amount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid_amount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + this.PayableAmount + '</td></tr>');
                                 $('#class_defaulter').append("<option value='" + this.ClassId + "'>" + this.Class + "</option>");
                            })
    
                            var paid_Totalamount = parseFloat(result.totalamount) - parseFloat(result.totalpayableamount);
                             //$('#grid tbody').html('');
                            $('.select2').css('width', '508px');

                            $('#grid tbody').append('<tr><td colspan="2">Total Amount</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.totalamount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + paid_Totalamount + '</td><td><i class="fa @Model.CurrencyIcon"></i>' + result.totalpayableamount + '</td></tr>')
                            $('#classwisegrid').show();
                        }
                        else {
                            var row = "<tr><td colspan='5' style='text-align:center'>!!!sorry , No data found</td></tr>"
                             $('#grid tbody').html('');
                            $('#grid tbody').append(row);
                        }
                    }
                    else {
                        $('#validation_error_div').show();
                        $('#validation_error_div ul').html('<li>' + result.msg + '</li>');
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    alert(err);
                }
            });
        //}
    });

    // Esc button handle for hide modal or Pop-ups
    $(document).keyup(function (e) {
        if (e.keyCode == 27) { // escape key maps to keycode `27`
            if ($('#FeeDetailsView_div').css("display") == "block") {
                $('#FeeDetailsView_div').css("display", "none");
            }
            else if ($('#StudentDefaulterListView_div').css("display") == "block") {
                $('#StudentDefaulterListView_div').css("display", "none");
            }
        }
    });

    // excel and printing
    // Print and Export
    $('#printclasswiserpt').click(function () {
        Printclasswiserpt();
    });

    function exportexcelclasswise() {
        var SelectedClass = "";
        $(".select2-selection__choice").each(function(){
          var vl=  $(this).attr('title');
            if (vl != "") {
                if (SelectedClass == "")
                    SelectedClass = vl;
                else
                    SelectedClass +=" ,"+ vl;
            }
        })
        var hdrCls = "";
        if (SelectedClass.indexOf(",") > -1) {
            hdrCls = "Of Classes " + SelectedClass + "";
        } else if (SelectedClass.trim().toLowerCase() == "all classes") {
            hdrCls = "Of " + SelectedClass + "";
        } else {
             hdrCls = "Of Class " + SelectedClass + "";
        }
        var colspan=$("#grid thead tr th").length;
        $("#grid thead").prepend("<tr class='removeIstRow'><th style='text-align:center' colspan="+colspan+">Fee Defaulter List "+ hdrCls+"</th></tr>")
        $("#grid").table2excel({
            name: "Table2Excel",
            filename: "FeeDefaulterListClassWise",
            fileext: ".xls"
        });
        $("#grid thead").find('.removeIstRow').remove();
    }

    $(document).bind("keyup keydown", function (e) {
        if (e.ctrlKey && e.keyCode == 80) {
            if ($('#StudentDefaulterListView_div').css("display") == "block")
                Printstudentwiserpt();
            else
                Printclasswiserpt();
        }
    });

    function Printclasswiserpt() {
        var w = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1');

        var href = "";

        @if (Request.Url.AbsoluteUri.Contains("localhost"))
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }
        else if (Request.Url.AbsoluteUri.Contains("digitech.com"))
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }
        else
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }

        var htmlStart =
            '<!DOCTYPE html>' +
            '<html>' +
            '<head>' +
            '<meta charset="utf-8" />' +
            '<title>FeeDefaulterListClassWise</title>' +
            '<link href="' + href + '" rel="stylesheet" /> ' +
            '<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">' +
            '<style>' +
            'html { font: 11pt sans-serif; }' +
            '.thead-default th {color: #464a4c;background-color: #eceeef;}' +
            '</style>' +
            '</head>' +
            '<body>';

        var htmlEnd = '</body></html>';
        var heading = '<h4 style="text-align: left;padding-left: 5px;">' + $('#ClassId option:selected').text();
        if ($('#FeePeriodId').val() != "")
            heading += "(" + $('#FeePeriodId option:selected').text() + ")" + '</h4>';
        else
            heading += '</h4>';

        var doc = w.document.open();
        doc.write(htmlStart + heading + $('#classwisegrid').html() + htmlEnd);
        doc.close();
        setTimeout(function () {
            w.print();
            //w.close();
        }, 500);
    }



    $('#printstudentwiserpt').click(function () {
        Printstudentwiserpt();
    });

    function exportexcelstudentwise() {
        var grid = $("#defaulter_grid").clone();
        grid.find('td.fee_typeid').remove();
        grid.find('td.current_periodid').remove();
        grid.find('td.class_id').remove();
        grid.find('td.student_id').remove();

        grid.table2excel({
            name: "Table2Excel",
            filename: "FeeDefaulterListStudentWise",
            fileext: ".xls"
        });
    }

    function Printstudentwiserpt() {
        var w = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1');

        var href = "";

        @if (Request.Url.AbsoluteUri.Contains("localhost"))
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }
        else if (Request.Url.AbsoluteUri.Contains("digitech.com"))
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }
        else
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }

        var htmlStart =
            '<!DOCTYPE html>' +
            '<html>' +
            '<head>' +
            '<meta charset="utf-8" />' +
            '<title>FeeDefaulterListStudentWise</title>' +
            '<link href="' + href + '" rel="stylesheet" /> ' +
            '<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">' +
            '<style>' +
            'html { font: 11pt sans-serif; }' +
            '.thead-default th {color: #464a4c;background-color: #eceeef;}' +
            '</style>' +
            '</head>' +
            '<body>';

        var htmlEnd =
                '</body>' +
                '</html>';

        var heading = '<h4 style="text-align: left;padding-left: 5px;">' + $('#myModalLabel').text() + '</h4>';

        var doc = w.document.open();
        doc.write(htmlStart + heading + $('#studentwisegrid').html() + htmlEnd);
        doc.close();
        setTimeout(function () {
            w.print();
            //w.close();
        }, 500);
    }

    $("#ExporttoexcelStudentWise").click(function (e) {
        $('#ks_loader').show();
        $('#SelectMultipleClass').show();
        @*$.ajax({
            type: "GET",
            async: true,
            url: '@Html.Raw(Url.Action("Export", "Fee"))',
            data: {},
            success: function (result) {
                var Sessionid = $('#SessionId').val();
                var receipttypeid = $('#ReceiptTypeId').val();

                window.location.href = "@Html.Raw(Url.Action("ExportAllFeeDefaulterList", "Fee" ))?Sessionid="+Sessionid+"&&ReceiptTypeId="+receipttypeid+"";
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });*@
        $('#ks_loader').hide();
    });
        $("#exportalldata_defaulter").click(function (e) {
        $('#ks_loader').show();
        //$('#SelectMultipleClass').show();
            var classidlist = $('#class_defaulterexport').val().toString();
        $.ajax({
            type: "GET",
            async: true,
            url: '@Html.Raw(Url.Action("Export", "Fee"))',
            data: {},
            success: function (result) {
                var Sessionid = $('#SessionId').val();
                var receipttypeid = $('#ReceiptTypeId').val();

                window.location.href = "@Html.Raw(Url.Action("ExportAllFeeDefaulterList", "Fee" ))?Sessionid="+Sessionid+"&&ReceiptTypeId="+receipttypeid+"&&classid="+classidlist+"";
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#ks_loader').hide();
    });


    $(document).ready(function () {
                                    $('#ClassId').select2({ multiple: true });
                                });
    //$('#ClassId').multiselect({
    //                includeSelectAllOption: true
    //            })
</script>