﻿@model ViewModel.ViewModel.Fee.FeeDueModel

@{
    ViewBag.Title = "FeeDueList";
    if (TempData["Success"] != null && TempData["Success"] != "")
    {

        <script>
            window.onload = function () {
                ToastMessage('@TempData["Success"]', "success", true, 5000);
            };
        </script>

    }
}

<!-- //SMS Student MobileNumberPopup -->
@Helper.OptionSMSMobileNumber("FeeSMSMobNoStudentSetting", "FeeSMSMobNoStudentSettingLabel", "Mobile Number Selection",
                        "(Selection of Sms Mobile number)", "FeeSMSSelectionStudentMobileNo",
                       "set_FeeSMSMobNoStudentSetting", "close_FeeSMSMobNoStudentSetting", Model.SMSSelectionStudentMobileNo)

<style>
    #add_BoradingNos {
        width: 25px;
        height: 34px;
        border: 1px solid #ccc;
        border-left: 0;
        float: right;
        text-align: center;
        line-height: 32px;
        color: #009933;
        background: #fff;
    }

    ul.multiselect-container.dropdown-menu {
        overflow: auto;
        max-height: 300px;
    }

    button.after.btn.btn-default.dropdown-toggle.multiselect::after {
        content: ".....";
    }

    .multiselect.dropdown-toggle.btn.btn-default {
        max-width: 135px;
        min-width: 119px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<!-- //SMS Student MobileNumberPopup -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SendMessageMobileNoSelectionId)
    @Html.HiddenFor(m => m.StudentIdList)
    <!-- Page Heading -->
    <div class="row top-space-10 page-heading">
        <div class="col-md-12 error_notification" hidden>
            <div><i class="fa fa-ban"></i><span></span></div>
        </div>
        <div class="col-md-12 success_notification" hidden>
            <div><i class="fa fa-check"></i><span></span></div>
        </div>
        <div class="col-md-6">
            <h1>Fee Due List</h1>
        </div>

        <div class="col-md-6 text-right">
            <input type="submit" name="SendMessage" value="Send Message" id="SendMessage" class="btn btn-xs btn-default" />
            <a href="javascript:void(0);" title="Set Default Values" id="btnFeeSMSSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 20px;" class="pull-right"><i class="fa fa-gear"></i></a>
        </div>

    </div>
    <div class="row top-space-10">
        <div class="col-md-12" style="padding:0">
            
            @Html.AntiForgeryToken()
            <div class="col-md-2">
                @Html.Label("Class:", new { @class = "from_label" })
                @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control",@multiple="multiple" })



            </div>
            <div class="col-md-3">
                <div class="form-group" >
                    <button type="button" name="filter" id="search" class="btn btn-default">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <div>



        <table class="top-space-10 table table-bordered" style="width:58%;">
            <thead>
                <tr>
                    <th width="40px" style="text-align:center;"><input id="check_box_common" type="checkbox" /></th>
                    <th>Sr. No.</th>
                    <th>Student Name</th>
                    <th>Admn No.</th>
                    <th>Class</th>
                    <th>Roll No.</th>
                </tr>
            </thead>
            <tbody id="feeduelistbody">
                @for (int i = 0; i < @Model.FeedueStudentList.Rows.Count; i++)
                {
                    var j = i+1;
                <tr>
                    <td width="40px" style="text-align:center;"><input class="check_box" data-id="@Model.FeedueStudentList.Rows[i]["StudentId"].ToString()" type="checkbox" /></td>
                    <td>@j</td>
                    <td>
                        @Model.FeedueStudentList.Rows[i]["FName"].ToString()
                   
                     @Model.FeedueStudentList.Rows[i]["LName"].ToString() </td>
                    <td> @Model.FeedueStudentList.Rows[i]["AdmnNo"].ToString() </td>
                    <td> @Model.FeedueStudentList.Rows[i]["Class"].ToString() </td>
                    <td>
                        @Model.FeedueStudentList.Rows[i]["Rollno"].ToString()
                    </td>
                </tr>
                }
            </tbody>
        </table>


    </div>
}
<script>
    $('#ClassId').multiselect({
        includeSelectAllOption: true
    })

    @{
        if (Model.ClassId != null) {
            foreach (var item in Model.ClassId)
            {
            <text>
            $('#ClassId').val(@item);
            </text>
                } }
        }
    $('#check_box_common').click(function () {

            if ($(this).is(":checked")) {
            $("table tbody tr").each(function () {
                $(this).find('.check_box').prop('checked', true)
            });
            } else {
            $("table tbody tr").each(function () {
                $(this).find('.check_box').prop('checked', false)
            });
            }
        })

    $("#btnFeeSMSSettings").click(function () {
        $("#FeeSMSMobNoStudentSetting").show();

        });

    $("#close_FeeSMSMobNoStudentSetting").click(function () {
        $("#FeeSMSMobNoStudentSetting").hide();
        });

    $("#set_FeeSMSMobNoStudentSetting").click(function () {
        $('#ks_loader').show();
            var Selected = '@Model.SMSSelectionStudentMobileNo';
            if ($("#FeeSMSSelectionStudentMobileNo").val() != "") {
            $("#SendMessageMobileNoSelectionId").val($("#FeeSMSSelectionStudentMobileNo").val());
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("InsertDefaultValues", "Fee"))',
                data: { "MobileNoSelection": $("#SendMessageMobileNoSelectionId").val() },
                success: function (result) {
                        if (result.status == "success") {
                            ToastMessage("SMS/Notifications will be send on " + $("#FeeSMSSelectionStudentMobileNo option:selected").text(),
                                            "success", true, 5000);
                        }
                    $('#ks_loader').hide();
                    },
                error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
        else
                ToastMessage("SMS/Notifications will be send on Student SMS Mobile No.", "success", true, 5000);

        $("#FeeSMSMobNoStudentSetting").hide();
        });


    $("#SendMessage").click(function () {
            var array = [];
            var Attr = new Object();
        $("table tbody tr").each(function () {
                //array.push({
                //    //name: $(this).attr('class'),
                //    //value: $(this).val()
                //    value: $(this).find('.check_box').attr('data-id')
                //});
                if ($(this).find('.check_box').is(":checked")) {
                    Attr = new Object();
                    Attr.StudentId = $(this).find('.check_box').attr('data-id')
                    array.push(Attr);
                }
            });
        $('#StudentIdList').val(JSON.stringify(array));
            if (array == null ||array=="") {
                ToastMessage("Please select at least one user", "error", true, 5000);
                return false;
            }
    })


    $("#search").click(function () {
        var classids = $("#ClassId").val();
              $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("FeeDueListfilter", "Fee"))',
                data: { "ClassId": classids },
                success: function (result) {
                    if (result.status == "success") {
                        let html = '';
                        var j = 0;
                            for (var i = 0; i < result.feeduestudentlist.length; i++) {

                                       j = i+1;
             html+='<tr>'+
                    '<td width="40px" style="text-align:center;"><input class="check_box" data-id="'+result.feeduestudentlist[i].StudentId+'" type="checkbox" /></td>'+
                    '<td>'+j+'</td>'+
                    '<td>'+
                        result.feeduestudentlist[i].FName+' '+

                     result.feeduestudentlist[i].LName +'</td>'+
                    '<td>'+result.feeduestudentlist[i].AdmnNo +'</td>'+
                    '<td>'+ result.feeduestudentlist[i].Class +'</td>'+
                    '<td>'+
                        result.feeduestudentlist[i].Rollno
                                '</td>' +
                                    '</tr>';

                            }
                            $('#feeduelistbody').html(html);
                        }
                    $('#ks_loader').hide();
                    },
                error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });

    })

</script>
