﻿@model ViewModel.ViewModel.Fee.FeeCollectionList

@{
    ViewBag.Title = "Fee Day Close Report";
}
<style type="text/css">
    span.select2-dropdown.select2-dropdown--below {
        width: 150px !important;
    }

    span.select2-selection.select2-selection--single {
        width: 150px !important;
    }

    .select2-search select2-search--dropdown {
        width: 150px !important;
    }
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-8">
        <h1>View Fee Day Close Report</h1>
    </div>
    <div class="col-md-4 text-right">
        @if (Model.IsAuthToPrint)
        {
            <a title="Print Day Close Report" id="printDaycloseFee" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" target="_blank" @*href="@Url.Action("PrintFeeCollectionList", "FeeController", new { id = Model.ID })"*@ @*href="PrintFeeCollectionList"*@><i class="fa fa-print"></i></a>
        }
    </div>
</div>
<script>

    $('#printConcessionFee').click(function () {
        document.getElementById("printDaycloseFee").submit();
        return false; // cancel the actual link
    })
</script>
<div class="row top-space-10">
    <div class="col-md-12" style="padding:0">
        @* <form class="form-inline ks-custom-form" id="myForm" action="PrintFeeCollectionList" target="_blank">*@
        @using (Html.BeginForm("PrintFeeDayCloseList", "Fee", FormMethod.Post, new { @class = "form-inline ks-custom-form", @id = "myForm", @target = "_blank" }))
        {
            @Html.AntiForgeryToken()
             <div class="form-group">
                <label>From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
            </div>

            <div class="form-group">
                <label>To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
            </div>
           
            <div class="form-group">
                <label>Receipt Type</label>
                @Html.DropDownListFor(model => model.ReceiptTypeId, Model.AvailableReceiptType, new { @class = "form-control" })
            </div>
           
            <div class="form-group">
                <label>User</label>
                @Html.DropDownListFor(model => model.UserId, Model.AvailableUsers, new { @class = "form-control" })
            </div>
      
            //&nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search" class="btn btn-default">Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        }
        @*</form>*@
    </div>
</div>


<div class="row">
    <div class="col-md-12" style="padding: 0; overflow-x:auto;">
        <table id="FeeDayClose-grid" class="table table-striped table-responsive">
            
        </table>
        <button type="submit" name="save" class="btn btn-success" id="save_report" style="display:none;">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        //date picker
        $("#FromDate,#ToDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date()
        })
        $("#FromDate,#ToDate").attr('readonly', true);

        //search button
        $('#search').click(function () {
            var ReceiptType = $('#ReceiptTypeId').val();
            var Fromdate = GetDateFromString($('#FromDate').val());
            var Todate = GetDateFromString($('#ToDate').val());
            $('#ks_loader').show();
            $('#FeeDayClose-grid').show();
            $('#FeeDayClose-grid').html('');
          
            if(Fromdate=="")
            {
                $('#ks_loader').hide();
                ToastMessage("Please provide From Date", "error", true, 5000);
            }
            else if (Todate == "") {
                $('#ks_loader').hide();
                ToastMessage("Please provide To Date", "error", true, 5000);
            }
            else {
                var UserId = $('#UserId').val();
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("FeeDayCloseReportGridList", "Fee"))',
                    data: { "UserId": UserId, "RecieptType": ReceiptType, "FromDate": Fromdate, "ToDate": Todate},
                    success: function (result) {
                        if (result.status == "success") {
                            $('#save_report').show();
                            var list = result.FeecloseList;
                            var html = "";
                            for(var i=0;i<list.length;i++)
                            {
                                html += "<tr style='background-color: #9e9e9add;'><td> <label style='font-weight:bold;'>User Name : " + list[i].UserName + "</label></td></tr>";
                                for (var j = 0; j < list[i].ReceiptTypeList.length; j++) {
                                    if (list[i].ReceiptTypeList[j].PreviousList.length > 0 || list[i].ReceiptTypeList[j].CurrentList.length > 0) {
                                        html += "<tr style='background-color: #ddd;'><td> <label style='font-weight:bold;'>Receipt Type : " + list[i].ReceiptTypeList[j].ReceiptType + "</label></td></tr>";
                                        if (list[i].ReceiptTypeList[j].PreviousList.length > 0) {
                                            html += "<tr style='font-weight: bold;'><td>" + list[i].ReceiptTypeList[j].BeforeHeadText + "</td></tr>";
                                            html += "<tr><td><table class='table table-striped table-responsive'><thead><th>Payment Mode</th><th>Collected</th><th>Deposit</th><th>Balance</th></thead>";
                                            html += "<tbody>";
                                            for (var k = 0; k < list[i].ReceiptTypeList[j].PreviousList.length; k++) {
                                                html += "<tr><td>" + list[i].ReceiptTypeList[j].PreviousList[k].PaymentMode + "</td>";
                                                html += "<td>" + list[i].ReceiptTypeList[j].PreviousList[k].Collected + "</td>";
                                                html += "<td>" + list[i].ReceiptTypeList[j].PreviousList[k].Deposited + "</td>";
                                                html += "<td>" + list[i].ReceiptTypeList[j].PreviousList[k].Balance + "</td>";
                                                html += "</tr>";
                                            }
                                            html += "</tbody></table>";
                                            html += "</td></tr>";
                                        }
                                        if (list[i].ReceiptTypeList[j].CurrentList.length > 0) {
                                            html += "<tr style='font-weight: bold;'><td>" + list[i].ReceiptTypeList[j].AfterHeadtext + "</td></tr>";
                                            html += "<tr><td><table class='tblafter table table-striped table-responsive'><thead><th>Payment Mode</th><th>Prev Balance</th><th>Collected</th><th>Payable</th><th>Deposit</th><th>Balance</th></thead>";
                                            html += "<tbody>";
                                            for (var k = 0; k < list[i].ReceiptTypeList[j].CurrentList.length; k++) {
                                                html += "<tr><td>" + list[i].ReceiptTypeList[j].CurrentList[k].PaymentMode + "</td>";
                                                html += "<td><span class='clsPrevBalance'>" + list[i].ReceiptTypeList[j].CurrentList[k].PrevBalance + "</span></td>";
                                                html += "<td><span class='clsCollected'>" + list[i].ReceiptTypeList[j].CurrentList[k].Collected + "</span></td>";
                                                html += "<td><span class='clsPayable'>" + list[i].ReceiptTypeList[j].CurrentList[k].Payable + "</span></td>";
                                                html += "<td><input type='text' maxlength='8' class='clsdeposited allownumeric clsamount ' value='" + list[i].ReceiptTypeList[j].CurrentList[k].Deposited + "'  /></td>";
                                                html += "<td><span class='clsBalance'>" + list[i].ReceiptTypeList[j].CurrentList[k].Balance + "</span></td>";
                                                html += "<td style='display:none;' class='userid'>" + list[i].ReceiptTypeList[j].CurrentList[k].UserId + "</td>"
                                                html += "<td style='display:none;' class='receiptypeid'>" + list[i].ReceiptTypeList[j].CurrentList[k].ReceiptTypeId + "</td>"
                                                html += "<td style='display:none;' class='paymentid'>" + list[i].ReceiptTypeList[j].CurrentList[k].PaymentModeId + "</td>"
                                                html += "</tr>";
                                            }
                                            html += "</tbody></table>";
                                            html += "</td></tr>";
                                        }
                                    }
                                }
                                html += "<tr><td> <label style='font-weight:bold;'>Total Payable :</label> <span class='clsTotalpayable'>" + list[i].TotalPayable + "</span> &nbsp;&nbsp;  <label style='font-weight:bold;'> Total Deposit :</label> <span class='clsTotalDeposit'>" + list[i].TotalDeposit + "</span></td></tr>";
                            }
                        }
                        $('#FeeDayClose-grid').append(html);
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }



        });
        $(document).on("input", ".clsdeposited", function (e) {
            var totaldepositAmt = this.value;
            if (totaldepositAmt == '') {
                totaldepositAmt = 0;
            }
            var depositamt = 0;
            $('.tblafter tbody').find('.clsdeposited').each(function () {
                var amt = 0;
                if ($(this).val() == "" || $(this).val() == "00") {
                    amt = 0;
                }
                else { amt = $(this).val(); }
                depositamt = parseFloat(depositamt) + parseFloat(amt);
            });
            $('span.clsTotalDeposit').text(Math.round(depositamt).toFixed(2));
            var payablefee = $(this).parent().parent().find('.clsPayable').text();
            if (Math.round(totaldepositAmt) > Math.round(payablefee)) {
                alert("Deposit Amount Can't be greater than Payable Amount");
                $(this).val(0).trigger('input');
                
            } else {
                var balance = payablefee - totaldepositAmt;
                $(this).parent().parent().find(".clsBalance").text(balance);
            }
        });

        $('#reset').click(function () {
            $('#UserId').val("");
            $("#FromDate,#ToDate").removeAttr('readonly');
            $('#FromDate').val("");
            $('#ToDate').val("");
            $("#FromDate,#ToDate").attr('readonly', true);
            $('#FeeDayClose-grid').html('');
            $('#FeeDayClose-grid').hide();
        });
        $(document).on("keydown", ".allownumeric", function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        $(document).on("paste", ".clsamount", function (event) {
            var text = e.originalEvent.clipboardData.getData('Text');
            if ($.isNumeric(text)) {
                if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                    e.preventDefault();
                    $(this).val(text.substring(0, text.indexOf('.') + 3));
                }
            }
            else {
                e.preventDefault();
            }
        });
        $(document).on("keypress", ".clsamount", function (event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
               ((event.which < 48 || event.which > 57) &&
               (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }
            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }
            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 2) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });


    });
  

    // function get date as string and return date
    function GetDateFromString(date) {
        if (date != "") {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        return null;
    }

</script>