﻿@model ViewModel.ViewModel.Fee.FeeInstallmentModel

@{
    ViewBag.Title = "Fee Installment";
}
<style type="text/css">
    span.select2-dropdown.select2-dropdown--below {
        width: 150px !important;
    }

    span.select2-selection.select2-selection--single {
        width: 150px !important;
    }

    .select2-search select2-search--dropdown {
        width: 150px !important;
    }
    .lbtext{
        font-weight:normal;
    }
</style>

<div class="modal-popup" id="Confirmation_div" hidden>
    <div class="modal-popup-body" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:bold;">Pay Fee</h4>
            </div>
            <div class="modal-body" id="myModalLabelDelete">
                <input id="hdnInstallmentid" value="" type="hidden" />
                <input id="hdnPendingFeePeriodIdid" value="" type="hidden" />
                <input id="hdnStudentid" value="" type="hidden" />
                <input id="hdnModeid" value="" type="hidden" />
                <input id="hdnReceipttypeid" value="" type="hidden" />
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="">Receipt Type : </label>
                            <label class="lbtext" id="lbreceipttype"></label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="">Admn. No. : </label>
                            <label class="lbtext" id="lbAdmnno"></label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Student Name : </label>
                            <label class="lbtext" id="lbStuName"></label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Class : </label>
                            <label class="lbtext" id="lbClass"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Fee Type : </label>
                            <label class="lbtext" id="lbfeetype"></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Fee Period : </label>
                            <label class="lbtext" id="lbPeriod"></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Payment Mode : </label>
                            <label class="lbtext" id="lbpaymentmode"></label>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Receipt Date : </label>
                            @Html.TextBox("txtReceiptdate", new { @id = "txtReceiptdate" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Payment Date : </label>
                            @Html.TextBox("txtPaymentdate", new { @id = "txtPaymentdate" })
                        </div>
                    </div>
                  
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Payable Amount : </label>
                            <i class='fa @Model.CurrencyIcon'></i> <label class="lbtext" id="lbPayable"></label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Paid Amount : </label>
                            <i class='fa @Model.CurrencyIcon'></i> @Html.TextBox("txtPaidAmount", new { @id = "txtPaidAmount", @class = "form-control clsPaidamt allownumeric clsamount" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Pending Amount : </label>
                            <i class='fa @Model.CurrencyIcon'></i><label class="lbtext" id="lbPending"></label>
                        </div>
                    </div>
                    </div>

                </div>
            <div class="model-footer" style="text-align:center;margin-bottom:30px">
                <input type="button" class="btn btn-success" id="confirmpay" value="Save" />
                <input type="button" class="btn btn-danger" id="CloseConfirmation" value="Close" />
            </div>
        </div>
    </div>
</div>

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Fee Installment</h1>
    </div>
    <div class="col-md-6 text-right">

        @if (Model.IsAuthToExport)
        {
            <a href="javascript:void(0)" id="btnexportexcel" class="btn btn-xs btn-default">Export to excel</a>
        }

    </div>
</div>
<!-- //Page Heading -->
<!-- Page Filters -->
<div class="row top-space-10">
    <div class="col-md-12" style="padding:0">
        <form class="form-inline ks-custom-form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.AvailableSession, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
            </div>
            <div class="form-group">
                <label>To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
            </div>

            <div class="form-group">
                <label>Admission No.</label>
                @Html.TextBoxFor(model => model.AdmissionNo, new { @class = "form-control", @autofocus = "on" })
            </div>
            <div class="form-group">
                <label></label>
                <input type="radio" name="standcls" value="Standard" /> Standard
                <input type="radio" name="standcls" value="Class" /> Class
            </div>
            <div id="dvStandrad" class="form-group" style="display:none;    margin-left: 10px;">
                <label>Standard</label>
                @Html.DropDownList("StandardId", Model.AvailableStandard, new { @class = "drop-down form-control" })
            </div>
            <div id="dvoption" class="form-group" style="display:none;">

                @Html.CheckBoxFor(m => m.IsAllClasses)
                <label>Include All Classes</label>
            </div>
            <div id="dvCls" class="form-group" style="display:none;    margin-left: 10px;">
                <label>Class</label>
                @Html.DropDownList("StdClass", Model.AvailableClasses, new { @class = "drop-down form-control" })
            </div>

            &nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search" class="btn btn-default">Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
    </div>
</div>

<!-- // Page Filters -->
<!-- Page Grid -->
<div class="row">
    <div class="col-md-12" style="padding: 0;">
        <div id="installment-grid"></div>
        <script>

            $(document).ready(function () {
                $("#installment-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("FeeInstallmentList", "Fee"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(Model.defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(Model.gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [
                        {
                            field: "EncInstallmentId",
                            title: "EncInstallmentId",
                            hidden: true
                        },
                         {
                             field: "InstallmentId",
                             title: "InstallmentId",
                             hidden: true
                         },
                        {
                            field: "RceiptId",
                            title: "RceiptId",
                            hidden: true,
                        },{
                            field: "Admnno",
                            title: "Admn.No.",
                            sortable: true,
                        },
                         {
                             field: "StudentName",
                             title: "StudentName",
                             sortable: false
                         },
                    {
                        field: "InstallmentDate",
                        title: "Installment Date",
                        template: "#= kendo.toString(kendo.parseDate(InstallmentDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                        sortable: true,
                        hidden:true
                    },{
                        field: "InstallmentDatestring",
                        title: "Installment Date",
                       // template: "#= kendo.toString(kendo.parseDate(InstallmentDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                        sortable: true,
                    },

                   {
                       field: "Paybale",
                       title: "Due Amount",
                       template: "<i class='fa @Model.CurrencyIcon'></i> #=Paybale#"
                   },{
                       field: "Paid",
                       title: "Paid Amount",
                       template: "<i class='fa @Model.CurrencyIcon'></i> #=Paid#"
                   },{
                       field: "EncInstallmentId",
                       title: "Action",
                       template: '#if(IsFeePaid){#<span>Fee Paid</span>#}else{#<a title="Pay Fee" data-toggle="tooltip" dataid="#=EncInstallmentId#"  href="javascript:void(0)" data-placement="top" class="clspayfee btn btn-xs btn-default">Pay Fee</a>#}#'
                   }
                    ]
                });
            });
        </script>
    </div>
</div>
<!-- //Page Grid -->

<script type="text/javascript">
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    $(document).ready(function () {
        $('input:radio[name=standcls]').change(function () {
            if (this.value == 'Standard') {
                $('#dvStandrad').show();
                $('#dvCls').hide();
                $('#dvoption').show();
                $("#ClassId").val('').trigger('change');
                $("#StandardId").val('').trigger('change');

            }
            else if (this.value == 'Class') {
                $('#dvStandrad').hide();
                $('#dvCls').show();
                $('#dvoption').hide();
                $("#ClassId").val('').trigger('change');
                $("#StandardId").val('').trigger('change');
            }
        });

        //date picker
        $("#FromDate,#ToDate").kendoDatePicker({
            format: "dd/MM/yyyy"
        });
        $("#FromDate,#ToDate").attr('readonly', true);
        //search button
        $('#search').click(function () {
            //search
            var grid = $('#installment-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });
        $("#txtReceiptdate,#txtPaymentdate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date()
        });
        $("#txtReceiptdate,#txtPaymentdate").attr('readonly', true);
        $('#CloseConfirmation').click(function(){
            $('#Confirmation_div').hide();
        });

        $('#confirmpay').click(function(){
            var studentid=$('#hdnStudentid').val();
            var paymentmodeid=$('#hdnModeid').val();
            var FeeperiodId=$('#hdnPendingFeePeriodIdid').val();
            var ReceiptDate=GetDateFromString($('#txtReceiptdate').val());
            var paymentDate=GetDateFromString($('#txtPaymentdate').val());
            var installmentId=$('#hdnInstallmentid').val();
            var payable=$('#lbPayable').text();
            var paid=$('#txtPaidAmount').val();
            var receipttypeid=$('#hdnReceipttypeid').val();
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("SaveInstallmentData", "Fee"))',
                data: { "InstallmentId": installmentId,"StudentId":studentid,"PaymentModeId":paymentmodeid,"FeePeriodId":FeeperiodId,"ReceiptDate": ReceiptDate,"PaymentDate":paymentDate,"Paybale":payable,"Paid":paid,"ReceiptTypeId":receipttypeid},
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage("Paid Successfully !", "success", true, 5000);
                        $('#Confirmation_div').hide();
                    }
                    var grid = $('#installment-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        });


        $('#reset').click(function(){
            $('#ks_loader').show();
            $('#StdClass').val("");
            $("#FromDate,#ToDate").removeAttr('readonly');
            $('#FromDate').val("");
            $('#ToDate').val("");
            $("#FromDate,#ToDate").attr('readonly', true);
            $('#AdmissionNo').val('');
            $("#StandardId").val('').trigger('change');
            $("#StdClass").val('').trigger('change');
            $("#installment-grid").data('kendoGrid').dataSource.read();
           
            $('#ks_loader').hide();
        });
        $("#installment-grid").on("click", ".clspayfee", function (e) {
            e.preventDefault();
            var installmentId = $(this).attr("dataid");
            $('#hdnInstallmentid').val(installmentId);
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("GetInstallmentData", "Fee"))',
                data: { "InstallmentId": installmentId},
                success: function (result) {
                    if (result.status == "success") {
                        $('#hdnPendingFeePeriodIdid').val(result.PendingFeePeriodId);
                        $('#lbAdmnno').text(result.AdmnNo);
                        $('#lbStuName').text(result.Studentname);
                        $('#lbClass').text(result.Class);
                        $('#lbfeetype').text(result.FeeType);
                        $('#lbPeriod').text(result.FeePeriod);
                        $('#lbreceipttype').text(result.ReceiptType);
                        $('#lbPayable').text(result.Payable);
                        $('#txtPaidAmount').val(result.Paid);
                        $('#lbPending').text('0');
                        $('#lbpaymentmode').text(result.Paymentmode);
                        $('#hdnStudentid').val(result.StudentId);
                        $('#hdnModeid').val(result.ModeId);
                        $('#hdnReceipttypeid').val(result.Receipttypeid);
                    }
                    $('#Confirmation_div').show();
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        });


        $('#btnexportexcel').click(function () {
            $('#ks_loader').show();
            var grid = $("#installment-grid").data("kendoGrid");

            grid.hideColumn(9);
            //grid.hideColumn("Action");
            //grid.hideColumn("EncInstallmentId");
            //grid.hideColumn("EncInstallmentId");
            //grid.hideColumn("InstallmentId");

            grid.saveAsExcel();

            setTimeout(function(){
                grid.showColumn(9);
                $('#ks_loader').hide();
            },5000);

        });
        $(document).on("keydown", ".allownumeric", function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        $(document).on("paste", ".clsamount", function (event) {
            var text = e.originalEvent.clipboardData.getData('Text');
            if ($.isNumeric(text)) {
                if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                    e.preventDefault();
                    $(this).val(text.substring(0, text.indexOf('.') + 3));
                }
            }
            else {
                e.preventDefault();
            }
        });
        $(document).on("keypress", ".clsamount", function (event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
               ((event.which < 48 || event.which > 57) &&
               (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }
            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }
            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 2) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });
        $(document).on("input", "#txtPaidAmount", function (e) {
            var paidAmt = $('#txtPaidAmount').val();
            if (paidAmt == '') {
                paidAmt = 0;
                $('#txtPaidAmount').val(txtPaidAmount);
            }
            var totalamount= 0;
            totalamount=$('#lbPayable').text();
            var totalpaidamount=0;
            totalpaidamount=paidAmt;
            var totalpendingamt = parseFloat(totalamount) - parseFloat(totalpaidamount);
            if (totalpendingamt >= 0) {
                $('#lbPending').text(totalpendingamt);
            }
            else {
                ToastMessage("Enter correct Amount. Paid Amount should not be greater than Payable Amount", "error", true, 5000);
                $('#txtPaidAmount').val(totalamount);
                $('#lbPending').text(0);
            }
        });
    });
    function additionalData() {
        var data = {
            StdClass: $('#StdClass').val(),
            FromDate: GetDateFromString($('#FromDate').val()),
            ToDate: GetDateFromString($('#ToDate').val()),
            StandardId: $('#StandardId').val(),
            IsAllClasses: $('#IsAllClasses').prop("checked"),
            AdmissionNo:$('#AdmissionNo').val(),
            SessionId: $('#SessionId').val()
        };
        addAntiForgeryToken(data);
        return data;
    }
    // function get date as string and return date
    function GetDateFromString(date) {
        if(date!=""){
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        return null;
    }
    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };


</script>