﻿@model ViewModel.ViewModel.Fee.ManageFeePeriod

@{
    ViewBag.Title = "ManageFeePeriod";
}
@if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
{
    <div class="col-md-12">
        <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
    </div>
}
@if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
{
    <div class="col-md-12">
        <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
    </div>
}
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage FeePeriod</h1>
    </div>
    <div class="col-md-6 text-right">

        <input type="button" id="DeleteFeePeriod" name="Delete Fee period Details" value="Delete Fee period"
               class="btn btn-xs btn-default">

    </div>
</div>

@*delete fee period*@
<div class="modal-popup" id="div_deletefeeperiod" hidden>
    <div class="modal-popup-body" style="width: 692px;">
        <div class="modal-content" style="height: 167px;">
            <div class="modal-header">
                <button type="button" id="popupclosebuttonid" name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select fee frequency to delete Fee Period Details</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div>
                            <label class="">Session</label>

                            @Html.DropDownListFor(model => model.SessionId, Model.AvailableSession, new { @class = "form-control", @autofocus = "on", @id = "session_list", @style = "width:150px;" })

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div>
                            <label class="">Fee Frequency</label>
                            @Html.DropDownList("Fee_frequency", Model.FeeFrequencyList, new { @class = "form-control", @style = "width:150px;" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="button" class="btn btn-success" id="fee_perioddetail" value="Delete" />
                        </div>
                    </div>

                </div>

            </div>
            <div class="model-footer" style="text-align:center;margin-bottom:4px">
                <label class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
        </div>
    </div>
</div>
<script>
    $('#popupclosebuttonid').click(function () {
        /**/
        $('#div_deletefeeperiod').hide();
    /**/
})
</script>
<div class="col-md-12 top-space-10" id="notificationdiv" hidden>
    <div class="text-success"><i>Note: You already created all FeePeriodDetails,Now you can't create more FeePeriodDetails.</i></div>
</div>
<br />
@using (Html.BeginForm("FeePeriod", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
<div class="row top-space-10">
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-5 control-label">Session:</label><!-- Form Label -->
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.SessionId, Model.AvailableSession, new { @class = "form-control", @autofocus = "on" })
            </div>
            <div class="error-message" style="display:none">
                @Html.ValidationMessageFor(model => model.SessionId)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-5 control-label">Fee Frequency:</label><!-- Form Label -->
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.FeeFrequencyId, Model.FeeFrequencyList, new { @class = "form-control", @autofocus = "on" })
            </div>
            <div class="error-message" style="display:none">
                @Html.ValidationMessageFor(model => model.FeeFrequencyId)
            </div>
        </div>
    </div>
    @*<div class="col-md-3">*@
        @*<div class="form-group">*@
            @*<label class="col-md-5 control-label">Print Text:</label>*@<!-- Form Label -->
            @*<div class="col-md-7">*@
                @*@Html.TextBoxFor(model => model.PrintText, new { @class = " form-control", @style = "width: 100%" })*@
            @*</div>
            <div class="error-message" style="display:none">*@
                @*@Html.ValidationMessageFor(model => model.FeeFrequencyId)*@
            @*</div>
        </div>
    </div>*@
    <div class="col-md-3">
        @if (Model.IsAuthToAdd)
        {
            <div class="form-group">
                <label></label><!-- Form Label -->
                <div class="col-md-8">
                    <button type="submit" id="createfeeperiod" class="btn btn-default btn-sm">Create FeePeriodDetail</button>
                </div>
            </div>
        }
    </div>
</div>
}
<div>
    <table class="table table-bordered table-striped" id="feeperiodDetailtbl">
        <thead class="thead-default">
            <tr>
                <th>
                    FeePeriod Description
                </th>
                <th>
                    FeePeriod Frequency
                </th>
                <th>
                    Period
                </th>
                <th>
                    Print Text
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    $(function () {
        $.ajax({
            url: '@Html.Raw(Url.Action("GetFeePeriodDetails", "Fee"))',
            type: "POST",
            data: { "Session": $('#SessionId').val() },
            success: function (res) {
                if (res.status == "success") {
                    if (res.data != "") {
                        for (var i = 0; i < res.data.length; i++) {
                            var row = "<tr><td>" + res.data[i].FeeDesc + "</td><td>" + res.data[i].FeeFreq + "</td><td>" + res.data[i].StartDate + " - " + res.data[i].EndDate + "</td><td>" + res.data[i].PrintText + "</td></tr>"
                            //if (res.data[i].isDeleteable) {
                            //   row+='<a href="javascript:void(0)" title="Delete" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default fee_perioddetail" dataid="' + res.data[i].FeePeriodDetailId + '"><i class="fa fa-trash"></i></a>'
                            //}
                            // row+="</td></tr>"
                            $("#feeperiodDetailtbl >tbody").append(row);
                        }
                    }
                }
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
            }
        });
        @if (Model.IsAllFeePeriodAdded) {
            <text>
        $("#createfeeperiod").prop('disabled', true);
        $("#notificationdiv").show();
        </text>
        }
    });

    $('#SessionId').change(function () {
        $('#session_list').val($('#SessionId').val());
        $('#session_list').trigger('change');
        $.ajax({
            url: '@Html.Raw(Url.Action("GetFeePeriodDetailsWithSession", "Fee"))',
            type: "POST",
            data: { "Session": $('#SessionId').val() },
            success: function (res) {
                if (res.status == "success") {
                    $("#feeperiodDetailtbl >tbody").html('');
                    if (res.list != "") {
                        for (var i = 0; i < res.list.length; i++) {
                             var row = "<tr><td>" + res.list[i].FeeDesc + "</td><td>" + res.list[i].FeeFreq + "</td><td>" + res.list[i].StartDate + " - " + res.list[i].EndDate + "</td><td>" + res.list[i].PrintText + "</td></tr>"
                            //if (res.list[i].isDeleteable) {
                            //   row+='<a href="javascript:void(0)" title="Delete" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default fee_perioddetail" dataid="' + res.list[i].FeePeriodDetailId + '"><i class="fa fa-trash"></i></a>'
                            //}
                            // row+="</td></tr>"
                            $("#feeperiodDetailtbl >tbody").append(row);
                        }
                    }
                    if (res.data != "") {
                        if (res.data.IsAllFeePeriodAdded == true) {
                            $("#createfeeperiod").prop('disabled', true);
                            $("#notificationdiv").show();
                        }
                        else {
                            $("#createfeeperiod").prop('disabled', false);
                            $("#notificationdiv").hide();
                        }
                        $('#FeeFrequencyId').empty();
                        for (var i = 0; i < res.data.FeeFrequencyList.length; i++) {
                            var option = "";
                            option = "<option value='" + res.data.FeeFrequencyList[i].Value + "'>" + res.data.FeeFrequencyList[i].Text + "</option>";
                            $('#FeeFrequencyId').append(option);
                        }
                    }
                }
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
            }
        });
    });
    $("#createfeeperiod").click(function () {
        var isValid = validateFeePeiod();
        if (!isValid) {
            var validationaray = FeePeiodvalidationmessage.split('\n');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $(FeePeiodctrlfocus).focus();
            return false;
        }
    });
    var FeePeiodvalid = true;
    var FeePeiodvalidationmessage = "";
    var FeePeiodctrlfocus = "";
    function validateFeePeiod() {
        FeePeiodvalid = true;
        FeePeiodvalidationmessage = "";
        FeePeiodctrlfocus = "";

        if ($('#FeeFrequencyId').val() == "") {
            if (FeePeiodctrlfocus == "")
                FeePeiodctrlfocus = "#FeeFrequencyId";
            FeePeiodvalidationmessage = FeePeiodvalidationmessage + "Please select Fee Frequency \n";
            FeePeiodvalid = false;
        }
        if ($('#SessionId').val() == "") {
            if (FeePeiodctrlfocus == "")
                FeePeiodctrlfocus = "#SessionId";
            FeePeiodvalidationmessage = FeePeiodvalidationmessage + "Please select Session \n";
            FeePeiodvalid = false;
        }

        return FeePeiodvalid;
    }
     $(document).on('click','#fee_perioddetail',function() {

         var sessionid = $('#session_list').val();
           var Frequencyid = $('#Fee_frequency').val();
         if (sessionid > 0 && Frequencyid > 0) {
             if (confirm('Are you sure you want to delete')) {
                 $('#ks_loader').show();
                 $.ajax({
                     type: "POST",
                     url: '@Html.Raw(Url.Action("DeleteFeeperiodDetail", "Fee"))',
                     data: { "sessionid": sessionid, "Frequencyid": Frequencyid, },
                     success: function (result) {
                         if (result.status == "success") {
                             // check for updated entry
                             $('#SessionId').trigger('change')
                             ToastMessage(result.msg, "success", true, 5000);
                         }
                         else {
                             ToastMessage(result.msg, "error", true, 5000);
                         }
                         $('#ks_loader').hide();
                     },
                     error: function (xhr, status, data) {
                         var err = "Error " + " " + data;
                         ToastMessage(err, "error", true, 5000);
                         $('#ks_loader').hide();
                     }
                 });
             }
         } else {
             if (Frequencyid > 0) {

             } else{
                 ToastMessage("Fee Frequency is required", "error", true, 5000);
             }
             if (sessionid > 0) {

             } else{
                 ToastMessage("Session Id is required", "error", true, 5000);
             }
         }
     })

    $('#DeleteFeePeriod').click(function () {
        $('#div_deletefeeperiod').show();
    })

     $.ajax({
                 type: "POST",
                 url: '@Html.Raw(Url.Action("GetFeeFrequencyList", "Fee"))',
                 data: { },
                 success: function (result) {
                     if (result.status == "success") {
                         // check for updated entry
                         let html = ''
                         $('#Fee_frequency').html('');
                         for (var i = 0; i < result.data.length; i++) {

                             html+="<option value="+result.data[i].Value+" >"+result.data[i].Text+"</option>"
                         }
                         $('#Fee_frequency').append(html);
                     }
                     else {
                         ToastMessage(result.msg, "error", true, 5000);
                     }
                     $('#ks_loader').hide();
                 },
                 error: function (xhr, status, data) {
                     var err = "Error " + " " + data;
                     ToastMessage(err, "error", true, 5000);
                     $('#ks_loader').hide();
                 }
     });


    $('#session_list').change(function () {
        $.ajax({
            url: '@Html.Raw(Url.Action("GetFeefrequencyWithSession", "Fee"))',
            type: "POST",
            data: { "Session": $('#session_list').val() },
            success: function (res) {
                if (res.status == "success") {
                    
                    if (res.data != "") {
                     
                        $('#Fee_frequency').empty();
                        for (var i = 0; i < res.data.length; i++) {
                            var option = "";
                            option = "<option value='" + res.data[i].Value + "'>" + res.data[i].Text + "</option>";
                            $('#Fee_frequency').append(option);
                        }
                    }
                }
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
            }
        });
    });
    
</script>