﻿@model ViewModel.ViewModel.Fee.FeeReceiptModel

@{
    ViewBag.Title = "Fees";
    if (Model.Action == "Registration")
    {
        Layout = null;
    }
}
<style type="text/css">
    .clsdrps {
        float: left;
        width: 140px;
    }

    .dvClsFee {
        float: left;
        margin-left: 160px;
    }

    .lbcls {
        float: left;
        margin-top: 6px;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12" id="error_notification_div">
            <div class="error_notification"><i class="fa fa-ban"></i><span class="ErrorNotification">@TempData["ErrorNotification"]</span></div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12" id="success_notification_div">
            <div class="success_notification"><i class="fa fa-check"></i><span class="SuccessNotification">@TempData["SuccessNotification"]</span></div>
        </div>
        if (TempData["SuccessReceiptNoChangeNotification"] != null && TempData["SuccessReceiptNoChangeNotification"] != "")
        {
            <a target="_blank" id="printreciept" href="@Html.Raw(Url.Action("ViewFeeReciept", "Fee", new { id="cxbvxc"}))"></a>
            <script>

    swal({
        title: "Fee Reciept Saved Sucessfully. Receipt No Already exists, New ReceiptNo  Saved is @TempData["ReceiptNo"]",
        text: "Would You Like to Print Fee Reciept?",
        //type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn-danger",
        confirmButtonText: "Yes, Print it!",
        closeOnConfirm: true
    },
    function () {
        //swal("Deleted!", "Your imaginary file has been deleted.", "success");
        window.open("@Html.Raw(Url.Action("PrintFeeReceipt", "Fee", new { id = @Model.EncFeeReceiptId }))", '_blank');
      //  alert("Hiii");
       // swal()
        //                    $('#printreciept').click();
    });
            </script>
        }
        else
        {
            <a target="_blank" id="printreciept" href="@Html.Raw(Url.Action("ViewFeeReciept", "Fee", new { id="cxbvxc"}))"></a>
            <script>

    swal({
        title: "Fee Reciept Saved Sucessfully",
        text: "Would You Like to Print Fee Reciept?",
        //type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn-danger",
        confirmButtonText: "Yes, Print it!",
        closeOnConfirm: true
    },
    function () {
        //swal("Deleted!", "Your imaginary file has been deleted.", "success");
        window.open("@Html.Raw(Url.Action("PrintFeeReceipt", "Fee", new { id = @Model.EncFeeReceiptId }))", '_blank');
      //  alert("Hiii");
       // swal()
        //                    $('#printreciept').click();
    });
            </script>
        }
    }
    <div class="col-md-5">
        <h1>Receive Fees</h1>
    </div>
    <div class="col-md-7 text-right">
        <div class="dvClsFee">
            <label class="control-label lbcls">Select Session: &nbsp;</label>
            @Html.DropDownListFor(m => m.SessionId, Model.AvailableSession, new { @class = "form-control clsdrps" })
        </div>
        @if (Model.Action == "Registration")
        {

        }
        else
        {
            <a href="@Html.Raw(Url.Action(Model.Action, Model.Controller))" class="btn btn-xs btn-default">back</a>
        }
        <a href="javascript:void(0);" title="Set Default Values" id="btnFeeReceiptSMSSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 20px;" class="pull-right"><i class="fa fa-gear"></i></a>

    </div>

</div>

<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("FeeReceipt", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.HiddenFor(m => m.Controller)
            @Html.HiddenFor(m => m.Action)
            @Html.AntiForgeryToken()
            @Html.Partial("_FeeReceiptCreateOrUpdate", Model)
        }
    </div>
</div>
