﻿@model ViewModel.ViewModel.Fee.FeeReceiptListFilterModel

@{
    ViewBag.Title = "Manage Fee Receipt";
}
<style type="text/css">
    #btnSettings {
        padding: 3px;
        padding-top: 0px;
        padding-bottom: 1px;
    }

    /*#student-grid {
        width: 1013px !important;
    }*/
</style>
<div class="modal-popup" id="DeleteConfirmation_div" hidden>
    <div class="modal-popup-body" style="width: 356px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Fee Receipt</h4>
            </div>
            <div class="modal-body" id="myModalLabelDelete">
                <!-- Messanger Validation show -->
                @*@Html.CheckBox("Confirmdelete")Please Confirm Deletion+*@

            </div>
            <div class="model-footer" style="text-align:center;margin-bottom:4px">
                <input type="button" class="btn btn-success" id="DeleteOrNot" value="Done" />
                <input type="button" class="btn btn-danger" id="CloseConfirmation" value="Close" />
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="div_settings" hidden>
    <div class="modal-popup-body" style="width: 356px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-8 control-label">School Copy</label>
                            <div class="col-md-4">
                                <!-- Button Combo -->
                                <div class="btn-combo-ks" style=" margin-top: 5px;">
                                    @Html.CheckBox("chkSchoolCopy", true, new { @id = "chkSchoolCopy" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-8 control-label">Student Copy</label>
                            <div class="col-md-4">
                                <!-- Button Combo -->
                                <div class="btn-combo-ks" style=" margin-top: 5px;">
                                    @Html.CheckBox("chkStudentCopy", true, new { @id = "chkStudentCopy" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-8 control-label">ChqBounce Charges</label>
                            <div class="col-md-4">
                                <!-- Button Combo -->
                                <div class="" style=" margin-top: 5px;">
                                    @Html.TextBox("chqBounceCharges", Model.ChequeBounceCharges, new { @id = "chqBounceCharges",@style="Width:60px" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="model-footer" style="text-align:center;margin-bottom:4px">
                <input type="button" class="btn btn-success" id="btnSaveSetting" value="Save" />
                <input type="button" class="btn btn-danger" id="btnCancelSettings" value="Close" />
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="CancelConfirmation_div" hidden>
    <div class="modal-popup-body" style="width: 356px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:bold;">Cancel Fee Receipt</h4>
            </div>
            <div class="modal-body" id="myModalLabelDelete">
                <input id="hdnReceiptId" value="" type="hidden" />
                <label>@Model.CancelText</label>
                <div class="col-md-12 form-group" style="margin-top:15px">
                    <label>Cancel Reason: </label>
                    @Html.DropDownListFor(model => model.FeeReceiptCancelId, Model.AvailableFeeReceiptCancelReason, new { @class = "form-control", @style = "float:right;width:52%" })
                </div>
                <div class="col-md-12 form-group chqBounce" style="display:none">
                    <label> ChqBounced Charges: </label>
                    @Html.TextBox("feeChqBounceCharges", "", new {@id="feeChqBounceCharges", @class = "form-control", @style = "float:right;width:52%" })
                </div>
               
            </div>
            <div class="model-footer" style="text-align:center;margin-bottom:4px">
                <input type="button" class="btn btn-success" id="confirmCancel" value="Agree" />
                <input type="button" class="btn btn-danger" id="CloseCancelConfirmation" value="Disagree" />
            </div>
        </div>
    </div>
</div>
<!-- Page Heading -->
@using (Html.BeginForm("FeereceiptListExcel", "Fee", Model, FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
{
    <div class="row top-space-10 page-heading">
        <div class="col-md-6">
            <h1>Manage Fee Receipt</h1>
        </div>
        <div class="col-md-6 text-right">
            <a href="@Html.Raw(Url.Action("FeeBulkReceiptData", "Fee"))"
               class="btn btn-xs btn-default">Fee Bulk Data</a>

            @if (Model.IsAuthToAdd)
            {
                if (Model.AllowFeerecieptIssuence)
                {
                    <a href="@Html.Raw(Url.Action("FeeReceipt", "Fee", new { ca = Model.RefUrl }))" 
                       class="btn btn-xs btn-default">Add new</a>
                }
                else
                {
                    <a disabled title="Time For Issuing Fee receipt is Over" href="javascript:void(0)" 
                       class="btn btn-xs btn-default">Add new</a>
                }
            }
            @if (Model.IsAuthToExport)
            {
                <input type="submit" id="btnexportexcel" name="ExportExcel_Feereceipt" value="Export to excel" 
                       class="btn btn-xs btn-default">
            }
            <a href="javascript:void(0)" id="btnSettings" class="btn btn-default">
                <img src="~/Content/assets/img/setting.png" />
            </a>
        </div>
    </div>
    <!-- //Page Heading -->
    <!-- Page Filters -->
    <div class="row top-space-10">
        <div class="col-md-12" style="padding:0">
            <form class="form-inline ks-custom-form">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.IsExcel)
                <div class="form-group">
                    <label>Session</label>
                    @Html.DropDownListFor(model => model.SessionId, Model.AvailableSession, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Receipt Type</label>
                    @Html.DropDownListFor(model => model.ReceiptTypeId, Model.AvailableReceiptTypes, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Receipt No.</label>
                    @Html.TextBoxFor(model => model.ReceiptNo, new { @class = "form-control", @autofocus = "on" })
                </div>
                <div class="form-group">
                    <label>From Date</label>
                    @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
                </div>
                <div class="form-group">
                    <label>To Date</label>
                    @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
                </div>
                <div class="form-group">
                    <label>Payment Mode</label>
                    @Html.DropDownList("PaymentModeIds", Model.AvailablePaymentMode, new
                   {
                       @class = "form-control",
                       @multiple = "multiple",

                   })
                </div>
                <div class="form-group">
                    <label>Admission No.</label>
                    @Html.TextBoxFor(model => model.AdmissionNo, new { @class = "form-control", @autofocus = "on" })
                </div>
                <div class="form-group">
                    <label></label>
                    <input type="radio" name="standcls" value="Standard" /> Standard
                    <input type="radio" name="standcls" value="Class" /> Class
                </div>
                <div id="dvStandrad" class="form-group" style="display:none;    margin-left: 10px;">
                    <label>Standard</label>
                    @Html.DropDownList("StandardId", Model.AvailableStandard, new { @class = "drop-down form-control" })
                </div>
                <div id="dvoption" class="form-group" style="display:none;">

                    @Html.CheckBoxFor(m => m.IsAllClasses)
                    <label>Include All Classes</label>
                </div>
                <div id="dvCls" class="form-group" style="display:none;    margin-left: 10px;">
                    <label>Class</label>
                    @Html.DropDownList("StdClass", Model.AvailableClasses, new { @class = "drop-down form-control" })
                </div>

                <div class="form-group">

                    @Html.CheckBoxFor(m => m.ShowCancelReceipts)
                    <label>Show Cancel Receipts</label>
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="search" class="btn btn-default">Filter</button>
                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                </div>
            </form>
        </div>
    </div>
}
<!-- // Page Filters -->
<!-- Page Grid -->
<div class="row">
    <div class="col-md-12" style="padding: 0;">
        <div id="student-grid"></div>
        <script>

            $(document).ready(function () {
                $("#student-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("FeeReceiptList", "Fee"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(Model.defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(Model.gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [
                        {
                            field: "EncFeeReceiptId",
                            title: "EncFeeReceiptId",
                            hidden: true
                        },
                        {
                            field: "ReceiptType",
                            title: "Receipt Type",
                            sortable: true,
                        },
                        {
                            field: "RcptNo",
                            title: "Rec.No.",
                            template: '#if(Iscancel){#<del>#=RcptNo#</del>#}#'
                                        +'#if(!Iscancel){#<span>#=RcptNo#</span>#}#',
                            sortable: true,
                        },

                    {
                        field: "RcptDate",
                        title: "Receipt Date",
                        template: "#= kendo.toString(kendo.parseDate(RcptDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                        sortable: true,
                    },
                    {
                        field: "ReciptDate",
                        title: "Receipt Date",
                        hidden: true,
                        sortable: false
                    },
                    {
                        field: "AdmnNo",
                        title: "Admn.No.",
                        width:"30px",
                    }, {
                        field: "StudentName",
                        title: "Student Name",
                        sortable: true,
                    }
                    //, {
                    //    field: "FatherName",
                    //    title: "Guardian",
                    //}
                    ,{
                        field: "FeePaid",
                        title: "PaidFee",
                        template: "<i class='fa @Model.CurrencyIcon'></i> #=FeePaid#"
                    },{
                        field: "FeePending",
                        title: "PendingFee",
                        template: "<i class='fa @Model.CurrencyIcon'></i> #=FeePending#"
                    },{
                        field: "FeePeriod",
                        title: "Fee Period",
                    },{
                        field: "Session",
                        title: "Session",
                    },{
                        field: "FeeType",
                        title: "Fee Type",
                    },{
                        field: "ClassName",
                        title: "Class",
                        sortable: true,
                    }, {
                        field: "PaymentMode",
                        title: "Payment Mode",
                        hidden: true,
                        sortable: false
                    },{
                        field: "FeeReceiptId",
                        title: "Action",
                        template: '#if(IsAuthToPrint){#<a title="Print" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" target="_blank" href="PrintFeeReceipt/#=EncFeeReceiptId#"><i class="fa fa-print"></i></a>#}#'
                          + '#if(IsAuthToView){#<a title="View" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" target="_blank" href="ViewFeeReceipt/#=EncFeeReceiptId#"><i class="fa fa-eye"></i></a>#}#'
                      + ' #if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" dataid="#=EncFeeReceiptId#" dataid1="#=RcptNo#"  href="javascript:void(0)" data-placement="top" class="deleteRecords btn btn-xs btn-default"><i class="fa fa-trash"></i></a>#}#'
                    + ' #if(IsAuthToCancel){# <a title="Cancel" data-toggle="tooltip" dataid="#=EncFeeReceiptId#" dataid1="#=RcptNo#"  href="javascript:void(0)" data-placement="top" class="CancelRecord btn btn-xs btn-default"><i class="fa fa-ban"></i></a>#}#'}
                    ]
                });
            });
        </script>
    </div>
</div>
<!-- //Page Grid -->

<script type="text/javascript">
      $("#PaymentModeIds").multiselect({
        nonSelectedText: "All"
    });
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    $(document).ready(function () {
        $('input:radio[name=standcls]').change(function () {
            if (this.value == 'Standard') {
                $('#dvStandrad').show();
                $('#dvCls').hide();
                $('#dvoption').show();
                $("#ClassId").val('').trigger('change');
                $("#StandardId").val('').trigger('change');

            }
            else if (this.value == 'Class') {
                $('#dvStandrad').hide();
                $('#dvCls').show();
                $('#dvoption').hide();
                $("#ClassId").val('').trigger('change');
                $("#StandardId").val('').trigger('change');
            }
        });
        $('#btnSettings').click(function(){
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("GetSchoolSettings", "Fee"))',
                data: { },
                success: function (result) {
                    if (result.status == "success") {
                        if(result.StudentCopyPrint=="1")
                            $('#chkStudentCopy').prop("checked", true);
                        else
                            $('#chkStudentCopy').prop("checked", false);
                        if(result.SchoolCopyPrint=="1")
                            $('#chkSchoolCopy').prop("checked", true);
                        else
                            $('#chkSchoolCopy').prop("checked", false);
                        if(result.ChequeBounceCharges!=null && result.ChequeBounceCharges!="")  
                            $("#chqBounceCharges").val(result.ChequeBounceCharges);
                        else
                             $("#chqBounceCharges").val(0.00);
                    }
                    $('#div_settings').show();
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        });
        $('#btnSaveSetting').click(function(){
            var SchoolCopy=$('#chkSchoolCopy').prop("checked");
            var isschool=0;
            if(SchoolCopy==true)
                isschool=1;
            var isstudent=0;
            var studentcopy=$('#chkStudentCopy').prop("checked");
            if(studentcopy==true)
                isstudent = 1;

            var ChequeBounceCharges = $("#chqBounceCharges").val();
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("SaveSchoolSettings", "Fee"))',
                data: {"SchoolCopy":isschool,"StudentCopy":isstudent,"ChequeBounceCharges":ChequeBounceCharges },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage("Settings Saved successfully.", "success", true, 5000);
                    }
                    $('#div_settings').hide();
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        });
        $('#btnCancelSettings').click(function(){
            $('#div_settings').hide();
        });
        //date picker
        $("#FromDate,#ToDate").kendoDatePicker({
            format: "dd/MM/yyyy",
        })
        $("#FromDate,#ToDate").attr('readonly', true);
        //search button
        $('#search').click(function () {
            //search
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $('#CloseConfirmation').click(function(){
            $('#DeleteConfirmation_div').hide();
        });

        $('#reset').click(function(){
            $('#ReceiptNo').val("");
            $('#StdClass').val("");
            $("#FromDate,#ToDate").removeAttr('readonly');
            $('#FromDate').val("");
            $('#ToDate').val("");
            $('#ShowCancelReceipts').prop("checked", false);
            $("#FromDate,#ToDate").attr('readonly', true);
            $('#StudentDDL').val("");
            $('#StudentDDL option:not(:first-child)').remove();
            $('#ReceiptTypeId').val('');
            $('#AdmissionNo').val('');
            $("#ClassId").val('').trigger('change');
            $("#StandardId").val('').trigger('change');
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1);
        });

        $('#btnexportexcel').click(function () {

            //$('#ks_loader').show();

            //    $('#IsExcel').val(true);

            //var grid = $("#student-grid").data("kendoGrid");

            //grid.showColumn("ReciptDate");
            //grid.showColumn("PaymentMode");
            //grid.hideColumn("Action");
            //grid.hideColumn("RcptDate");
            //grid.hideColumn("EncFeeReceiptId");
            //grid.hideColumn("FeeReceiptId");

            //grid.saveAsExcel();

            //setTimeout(function(){
            //    grid.hideColumn("EncFeeReceiptId");
            //    grid.showColumn("FeeReceiptId");
            //  //  grid.hideColumn("Action");
            //    grid.showColumn("RcptDate");
            //    grid.hideColumn("ReciptDate");
            //    grid.hideColumn("PaymentMode");
            //    $('#ks_loader').hide();
            //},5000);

        });

        $('#StdClass').change(function(){
            var classId = $(this).val();
            if(classId != "")
            {
                $('#StudentDDL option').remove();

                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("StudentListbyClass", "Student"))',
                    async: false,
                    data: { "Class": classId, "CurrentSession": true },
                    success: function (result) {
                        if (result.status == "success") {
                            for (var i = 0; i < result.data.length; i++) {
                                var option = "";
                                if (result.data[i].Selected == true)
                                    option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                                else
                                    option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                                $('#StudentDDL').append(option);
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
        });

    });

    function additionalData() {
        //var IsAllClasses=1
        //var IsALL = $('#IsAllClasses').prop("checked");
        //if (IsALL == true)
        //    IsAllClasses = 1;
        //else
        //    IsAllClasses = 0;
        var data = {
            ReceiptNo: $('#ReceiptNo').val(),
            StdClass: $('#StdClass').val(),
            FromDate: GetDateFromString($('#FromDate').val()),
            ToDate: GetDateFromString($('#ToDate').val()),
            ReceiptTypeId:$('#ReceiptTypeId').val(),
            StandardId: $('#StandardId').val(),
            IsAllClasses: $('#IsAllClasses').prop("checked"),
            AdmissionNo:$('#AdmissionNo').val(),
            ShowCancelReceipts: $('#ShowCancelReceipts').prop("checked"),
            SessionId: $('#SessionId').val(),
            PaymentModeId: $('#PaymentModeIds').val()
        };
        addAntiForgeryToken(data);
        return data;
    }
    // function get date as string and return date
    function GetDateFromString(date) {
        if(date!=""){
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        return null;
    }
    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    $("#student-grid").on("click", ".CancelRecord", function (e) {
        e.preventDefault();
        var receiptid = $(this).attr("dataid");
        $('#hdnReceiptId').val(receiptid);
        $('#FeeReceiptCancelId').val("");
        $("#feeChqBounceCharges").val("");
         $(".chqBounce").hide();
         $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("IsAlreadyCancelReceipt", "Fee"))',
            data: { "ReceiptId": receiptid },
            success: function (result) {
                if (result.status == "success") {
                    $("#FeeReceiptCancelId").val(result.CancelReasonId);
                }
                $('#ks_loader').hide();
                 $('#CancelConfirmation_div').show();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
                 $('#CancelConfirmation_div').show();
            }
         });
    });

    $('#CloseCancelConfirmation').click(function()
    {
        $('#CancelConfirmation_div').hide();
        $('#hdnReceiptId').val('');
    });

    $('#confirmCancel').click(function(){
        var receiptid = $('#hdnReceiptId').val();
        var FeeReceiptCancelId = $('#FeeReceiptCancelId').val();
        if ($('#FeeReceiptCancelId').val() == "" || $('#FeeReceiptCancelId').val() == null) {
            ToastMessage("Please Select Cancel Reason", "error", true, 5000);
            return false;
        }
        var FeeRecptCancelCharges = 0;
        var SelectedCancelReason = $("#FeeReceiptCancelId :selected").text();
        if (SelectedCancelReason == "Cheque Bounced") {
            if ($("#feeChqBounceCharges").val() != null && $("#feeChqBounceCharges").val() != "")
                    FeeRecptCancelCharges = $("#feeChqBounceCharges").val();
        }

        $('#ks_loader').show();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("CancelReceipt", "Fee"))',
            data: { "ReceiptId": receiptid,"FeeReceiptCancelId":FeeReceiptCancelId,"SelectedCancelReason":SelectedCancelReason ,"FeeRecptCancelCharges":FeeRecptCancelCharges},
            success: function (result) {
                if (result.status == "success") {
                    // check for updated entry
                    $('#student-grid tbody tr').each(function () {
                        var tablerow = $(this);
                        var receipts = tablerow.find("td:nth-child(1)").text();
                        if (receiptid == receipts)
                            tablerow.remove();
                    });
                    ToastMessage(result.data, "success", true, 5000);
                    $("#student-grid").data('kendoGrid').dataSource.read();
                    $('#FeeReceiptCancelId').val("");
                    $('#CancelConfirmation_div').hide();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#ks_loader').hide();

    });


    $("#student-grid").on("click", ".deleteRecords", function (e) {
        e.preventDefault();

        var receiptid = $(this).attr("dataid");
        var receiptNo=$(this).attr("dataid1");
        $('#myModalLabelDelete').html('<input type="checkbox" id="ConfirmDelete"/>Please Confirm Deletion of Receipt '+receiptNo+'');
        $('#DeleteConfirmation_div').show();
        $('#DeleteOrNot').attr('data',receiptid);
    });
    $('#DeleteOrNot').click(function() {
        if($('#ConfirmDelete').prop('checked')){
            var receiptid= $('#DeleteOrNot').attr('data');
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteReceipt", "Fee"))',
                data: { "ReceiptId": receiptid },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#student-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var receipts = tablerow.find("td:nth-child(1)").text();
                            if (receiptid == receipts)
                                tablerow.remove();
                        });
                        ToastMessage(result.data, "success", true, 5000);
                        $("#student-grid").data('kendoGrid').dataSource.read();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        $('#DeleteConfirmation_div').hide();
      
    })
      $("#chqBounceCharges").keydown(function (e) {
         NumericOnlyWithDecimal(e);
    });
    $("#FeeReceiptCancelId").change(function () {
        $(".chqBounce").hide();
        if ($("#FeeReceiptCancelId :selected").text() == "Cheque Bounced") {
            $(".chqBounce").show();
             $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetChqBounceCharges", "Fee"))',
                data: {},
                success: function (result) {
                    if (result.status == "success") {
                        $("#feeChqBounceCharges").val(result.ChqBouncedAmt);

                        if (result.AllowEditingOfChequeBounceCharges)
                            $("#feeChqBounceCharges").removeAttr("disabled");
                        else
                            $("#feeChqBounceCharges").attr("disabled", "disabled");

                        $(".chqBounce").show();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    })
     
    
</script>
