﻿@model ViewModel.ViewModel.Fee.GroupfeeTypeModel

@{
    ViewBag.Title = "Group Fee Type";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div id="errormessage_reload" class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div id="successmessage_reload" class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-12" id="error_notification_div" hidden>
        <div class="error_notification"><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12" id="success_notification_div" hidden>
        <div class="success_notification"><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Manage Group Fee Type</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        <a href="javascript:void(0)" id="btn_filter" class="btn btn-xs btn-default">Filter</a>
        @if (Model.IsAuthToAdd)
        {
            <a href="javascript:void(0)" id="add_groupfeetype" class="btn btn-xs btn-default">Add New</a>
        }
    </div>
    @*<div class="col-md-6 text-right">
            <a href="javascript:void(0)" id="" class="btn  btn-default">back</a>
        </div>*@
</div>
@*hidden fields*@
<input id="rowindex_groupfeetype" name="rowindex" type="hidden" value="" />

@*hidden fields*@
<!-- Page Controls -->
<div class="row top-space-20">
    <div class="col-md-12">
        @using (Html.BeginForm("GroupFeeType", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.HiddenFor(m => m.EncGroupFeeTypeId)
            @Html.AntiForgeryToken()
            @Html.Partial("_groupfeetype", Model)
        }
    </div>
</div>

<div class="row top-space-10">

    <div class="col-md-12">
        <table id="Groupfeetype_grid" class="table table-bordered table-responsive">
            <thead class="thead-default">
                <tr>
                    <th style="width: 15%">Class Group</th>
                    <th style="width: 10%">Fee Type</th>
                    <th style="width: 10%">Include Add On</th>
                    <th style="width: 10%">Session</th>
                    @if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                    {
                        <th style="width: 10%">Action</th>}
                </tr>
            </thead>
            <tbody>
                @foreach (var groupFeeType in Model.GroupFeeTypeList)
                {
                    <tr>
                        <td class="">@groupFeeType.FeeClassGroup</td>
                        <td class="">@groupFeeType.FeeType</td>
                        <td class="">@groupFeeType.TakeAddOns</td>
                        <td class="" hidden>@groupFeeType.EncGroupFeeTypeId</td>
                        <td class="" hidden>@groupFeeType.FeeClassGroupId</td>
                        <td class="" hidden>@groupFeeType.FeeTypeId</td>
                        <td class=""hidden>@groupFeeType.SessionId</td>
                        <td class="" >@groupFeeType.SessionText</td>
                        @if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                        {
                    <td>
                        @if (groupFeeType.AllowEdit)
                        {
                            if (Model.IsAuthToEdit)
                            {
                                <a href="javascript:void(0)" class="Edit_groupfeetype btn btn-xs btn-default" data-id="@groupFeeType.EncGroupFeeTypeId" data-session="@groupFeeType.SessionId" title="Edit" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil "></i></a>
                            }
                        }
                        @if (groupFeeType.AllowDelete)
                        {
                            if (Model.IsAuthToDelete)
                            {
                                <a href="javascript:void(0)" class="Delete_groupfeetype btn btn-xs btn-default" data-id="@groupFeeType.EncGroupFeeTypeId" title="Delete" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash "></i></a>
                            }
                        }
                    </td>}
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
  
</script>
