﻿@model ViewModel.ViewModel.Fee.PrintFeeReceiptModel
@if (Model.ReceiptTemplate == "" || Model.ReceiptTemplate == null)
{
    <html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="~/favicon.ico">
        <title>Print Fee Receipt</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <style>
            th,
            td {
                padding: 5px;
            }

            .borderabc {
                border-bottom: 1px #ddd solid;
                !important;
            }


            input {
                border: none;
                border-bottom: 1px dotted #ddd;
                outline: none;
                width: 60px;
            }

            .receipt_head {
                font-size: 11px;
            }
        </style>
    </head>

    <body onload="window.print()">
        <table style="width:100%; font-size:11px;">

            <tr>
                @if (Model.IsPrintSchoolCopy == true && (Model.IsApp==null||Model.IsApp==false))
                {
                    <td style="border-right: 2px #ddd dotted;">
                        <table style=" width:100%; border: 1px #ddd solid; border-collapse: collapse;">

                            @if (Model.Isheaderrequired)
                            {
                                <tr class="borderabc" style="background: #fff8f1;">
                                    <td><img src="@Model.SchoolLogo" style="width: 50px;"></td>
                                    <th colspan="5" style="font-size: 14px;"><b>@Model.SchoolHeader</b> <br>@Model.Header1<br>@Model.Header2</th>
                                    <td style="text-align: center;">@Model.SessionName</td>
                                </tr>
                            }
                            else
                            {
                                //<tr class="" style="float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex;height:@Model.HeaderHeight"></tr>
                            }

                            @if (Model.ShowCopyText)
                            {
                                <tr>
                                    <th colspan="6">
                                        School Copy @if (@Model.ReceiptTypeExtraText != "")
                                        {@Model.ReceiptTypeExtraText}
                                    </th>
                                </tr>

                            }
                            @if (Model.ShowReceiptType)
                            {
                                if (Model.ShowCopyText)
                                {
                                    <tr>
                                        <th colspan="6">@Model.ReceiptType</th>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th colspan="6">
                                            @Model.ReceiptType @if (@Model.ReceiptTypeExtraText != "")
                                            {@Model.ReceiptTypeExtraText}
                                        </th>
                                    </tr>
                                }
                            }
                            <tr>
                                <td colspan="3" style="text-align: left;"> <b>Receipt No:</b> <span style="font-size: 15px; font-weight: bold;">@Model.ReceiptNo</span> </td>

                                <td colspan="3" style="text-align: right;"><b>Dated:</b>@Model.ReciptDate</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;"> <b>Adm No:</b>@Model.AdmnNo</td>
                                <td style="text-align: center;" colspan="4"> @Model.StudentName (@Model.ClassName)<br />@Model.StudentAddress</td>
                                <td style="text-align: right;"><b> Roll No:</b>@Model.RollNo</td>
                            </tr>
                            <tr>
                                @if (Model.regno_FeeReceiptPrint)
                                {
                                    <td style="text-align: left;"><b>Registration No :</b>@Model.RegistrationNo</td>
                                }
                                <td style="text-align: left;"><b>Pmt mode :</b>@Model.PaymentMode</td>
                                @if (Model.Modetype.Contains("Transfer"))
                                {
                                    <td colspan="4" align="center"> @Model.BankBranch (Trans. No.:@Model.TransactionNo)</td>
                                    <td align="right"> <b>Trans. Date:</b>@Model.TransactionDate</td>
                                }
                                else if (Model.Modetype.Contains("Instrument"))
                                {
                                    <td colspan="4" align="center"> @Model.BankBranch (@Model.lblChkDDNAme:@Model.ChequeNo)</td>
                                    <td align="right"> <b>@Model.lblChkDDDate:</b>@Model.ChequeDate</td>
                                }
                            </tr>
                            @if (!string.IsNullOrEmpty(Model.FeePeriod))
                            {
                                <tr class="borderabc">
                                    <td colspan="6" style="text-align: left;"><b>Fee Period:</b>@Model.FeePeriod</td>
                                </tr>
                            }


                            <tr class="borderabc" style="text-align:left;">
                                <th>Receipt Head</th>
                                @if (Model.ShowlimitedDetail == false)
                                {
                                    <th>Amount</th>
                                    <th>Deduction</th>
                                }
                                <th>Payable</th>
                                <th>Paid</th>
                                @if (Model.ShowlimitedDetail == false)
                                {
                                    <th>Balance</th>
                                }
                            </tr>
                            @foreach (var item in Model.PrintFeeReceiptHeadsList)
                            {
                                <tr>
                                    <td class="receipt_head"> @item.HeadName</td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td><i class="@Helper.currencyCode"></i>@item.HeadAmount</td>
                                        <td><i class="@Helper.currencyCode"></i>@item.Deduction</td>
                                    }
                                    <td><i class="@Helper.currencyCode"></i>@item.PayableAmount</td>
                                    <td><i class="@Helper.currencyCode"></i>@item.PaidAmount</td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td><i class="@Helper.currencyCode"></i>@item.Balance</td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td class="receipt_head"> Total</td>
                                @if (Model.ShowlimitedDetail == false)
                                {
                                    <td><i class="@Helper.currencyCode"></i>@Model.TotalAmount</td>
                                    <td><i class="@Helper.currencyCode"></i>@Model.TotalDiscount</td>
                                }
                                <td><i class="@Helper.currencyCode"></i>@Model.TotalPayable</td>
                                <td><i class="@Helper.currencyCode"></i>@Model.TotalPaidAmount</td>
                                @if (Model.ShowlimitedDetail == false)
                                {
                                    <td><i class="@Helper.currencyCode"></i>@Model.TotalBalance</td>
                                }
                            </tr>

                            <tr class="borderabc">


                                <td colspan="3" style="text-align: left;">UserName:@Model.UserName</td>
                                <td colspan="3" style="text-align: right;"> Authorised Signature :</td>
                            </tr>
                            @if (Model.ShowRemarks == "1")
                            {
                                <tr class="borderabc">

                                    <td colspan="6" style="text-align: left;">  Remarks : @Model.Remarks</td>

                                </tr>
                            }

                        </table>
                    </td>
                }
                @if (Model.IsPrintStudentCopy == true)
                {
                    <td>
                        <table style=" width: 100%; border:1px #ddd solid; border-collapse: collapse;">
                            @if (Model.Isheaderrequired)
                            {
                                <tr class="borderabc" style="background: #fff8f1;">
                                    <td><img src="@Model.SchoolLogo" style="width: 50px;"></td>
                                    <th colspan="5" style="font-size: 14px;"><b>@Model.SchoolHeader</b> <br>@Model.Header1<br>@Model.Header2</th>
                                    <td style="text-align: center;">@Model.SessionName</td>
                                </tr>
                            }
                            else
                            {
                                // <tr class="" style="float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex;height:@Model.HeaderHeight"></tr>
                            }
                            @if (Model.ShowCopyText)
                            {
                                <tr>
                                    <th colspan="6">
                                        Student Copy @if (@Model.ReceiptTypeExtraText != "")
                                        {@Model.ReceiptTypeExtraText}
                                    </th>
                                </tr>

                            }
                            @if (Model.ShowReceiptType)
                            {
                                if (Model.ShowCopyText)
                                {
                                    <tr>
                                        <th colspan="6">@Model.ReceiptType</th>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th colspan="6">
                                            @Model.ReceiptType @if (@Model.ReceiptTypeExtraText != "")
                                            {@Model.ReceiptTypeExtraText}
                                        </th>
                                    </tr>
                                }
                            }
                            <tr>
                                <td colspan="3" style="text-align: left;"> <b>Receipt No:</b> <span style="font-size: 15px; font-weight: bold;">@Model.ReceiptNo</span> </td>

                                <td colspan="3" style="text-align: right;"><b>Dated:</b>@Model.ReciptDate</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;"> <b>Adm No:</b>@Model.AdmnNo</td>
                                <td style="text-align: center;" colspan="4"> @Model.StudentName (@Model.ClassName)<br />@Model.StudentAddress</td>
                                <td style="text-align: right;"><b>Roll No:</b>@Model.RollNo</td>
                            </tr>
                            <tr>
                                @if (Model.regno_FeeReceiptPrint)
                                {
                                    <td style="text-align: left;"><b>Registration No :</b>@Model.RegistrationNo</td>
                                }
                                <td style="text-align: left;"><b>Pmt mode :</b>@Model.PaymentMode</td>
                                @if (Model.Modetype.Contains("Transfer"))
                                {
                                    <td colspan="4" align="center"> @Model.BankBranch (Trans. No.:@Model.TransactionNo)</td>
                                    <td align="right"> <b>Trans. Date:</b>@Model.TransactionDate</td>
                                }
                                else if (Model.Modetype.Contains("Instrument"))
                                {
                                    <td colspan="4" align="center"> @Model.BankBranch (@Model.lblChkDDNAme:@Model.ChequeNo)</td>
                                    <td align="right"> <b>@Model.lblChkDDDate:</b>@Model.ChequeDate</td>
                                }
                            </tr>
                            @if (!string.IsNullOrEmpty(Model.FeePeriod))
                            {
                                <tr class="borderabc">
                                    <td colspan="6" style="text-align: left;"><b>Fee Period:</b>@Model.FeePeriod</td>
                                </tr>
                            }


                            <tr class="borderabc" style="text-align:left;">
                                <th>Receipt Head</th>
                                @if (Model.ShowlimitedDetail == false)
                                {
                                    <th>Amount</th>
                                    <th>Deduction</th>
                                }
                                <th>Payable</th>
                                <th>Paid</th>
                                @if (Model.ShowlimitedDetail == false)
                                {
                                    <th>Balance</th>
                                }
                            </tr>
                            @foreach (var item in Model.PrintFeeReceiptHeadsList)
                            {
                                <tr>
                                    <td class="receipt_head"> @item.HeadName</td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td><i class="@Helper.currencyCode"></i>@item.HeadAmount</td>
                                        <td><i class="@Helper.currencyCode"></i>@item.Deduction</td>
                                    }
                                    <td><i class="@Helper.currencyCode"></i>@item.PayableAmount</td>
                                    <td><i class="@Helper.currencyCode"></i>@item.PaidAmount</td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td><i class="@Helper.currencyCode"></i>@item.Balance</td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td class="receipt_head"> Total</td>
                                @if (Model.ShowlimitedDetail == false)
                                {
                                    <td><i class="@Helper.currencyCode"></i>@Model.TotalAmount</td>
                                    <td><i class="@Helper.currencyCode"></i>@Model.TotalDiscount</td>
                                }
                                <td><i class="@Helper.currencyCode"></i>@Model.TotalPayable</td>
                                <td><i class="@Helper.currencyCode"></i>@Model.TotalPaidAmount</td>
                                @if (Model.ShowlimitedDetail == false)
                                {
                                    <td><i class="@Helper.currencyCode"></i>@Model.TotalBalance</td>
                                }
                            </tr>
                            <tr class="borderabc">
                                <td colspan="3" style="text-align: left;">UserName:@Model.UserName</td>
                                <td colspan="3" style="text-align: right;"> Authorised Signature :</td>
                            </tr>
                            @if (Model.ShowRemarks == "1")
                            {
                                <tr class="borderabc">

                                    <td colspan="6" style="text-align: left;">  Remarks : @Model.Remarks</td>

                                </tr>

                            }
                        </table>
                    </td>
                }
            </tr>



        </table>
    </body>
</html>
}
else
{
@Html.Raw(Model.ReceiptTemplate)
}
@if (Model.IsApp)
{
    <button id="cmd" style="display:none"></button>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script>
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        doc.fromHTML($('#body').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
       // doc.save('@Model.FileName');
        //var base64pdf = JSON.stringify({ 'data': $('body').html() });
           var wholehtml = $('body').html().replace('attr-img','/');

           var dataToSend = JSON.stringify({ 'data': wholehtml,'receiptno':@Model.ReceiptNo });
        $.ajax({
            url: '@Html.Raw(Url.Action("ProcessRequest", "Fee"))',
            type: 'post',
            async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: dataToSend,

        dataType: 'json'
    });
    });
    $('#cmd').trigger('click');
// This code is collected but useful, click below to jsfiddle link.
    </script>
}