﻿@model ViewModel.ViewModel.Fee.ManageLateFee

@{
    ViewBag.Title = "ManageLateFee";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.listbox').multiselect({
            includeSelectAllOption: true
        });

    });
</script>

<div class="row top-space-10 page-heading">
    @if (TempData["LateFeeUnSuccessfull"] != null)
    {
        <div class="col-md-12 text-danger" id="unsuccessfullNotification">
            <ul><li>@TempData["LateFeeUnSuccessfull"]</li></ul>
        </div>
    }
    @if (TempData["LateFeeSuccessfull"] != null)
    {
        <div class="col-md-12 text-success" id="success_notification_div">
            <ul><li>@TempData["LateFeeSuccessfull"]</li></ul>
        </div>
    }
    <div class="col-md-6">
        <h1>Manage LateFee</h1>
    </div>
    <div class="col-md-6 text-right">
        @if(Model.IsAuthToAdd){
        <button type="button" class="btn btn-xs btn-default" id="addLateFee">
            Add New
        </button>
        }
    </div>
</div>


<div id="lateFee-form" class="row top-space-20" hidden>
    @using (Html.BeginForm("ManageLateFee", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.HiddenFor(m => m.LateFeeId)
        @Html.HiddenFor(m => m.LateFeeType)
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="row text-danger" id="validation_error_div" style="display: none">
            <ul></ul>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label">Type:</label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.LateFeeTypeId, Model.LateFeeTypeList, new { @class = "form-control", @autofocus = "on" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-5 control-label">Receipt Type:</label><!-- Form Label -->
                    <div class="col-md-7">
                        @Html.ListBoxFor(m => m.ReceiptTypeIds, Model.ReceiptTypeList, new { @id = "drpCls", @class = "listbox form-control", tabindex = 2 })
                        @*@Html.DropDownListFor(model => model.ReceiptTypeId, Model.ReceiptTypeList, new { @class = "form-control", @autofocus = "on" })*@
                        @Html.HiddenFor(m => m.ReceiptTypeIds, new {@id="hdnReceiptTypeId" })
                        @Html.Label("lblReceiptType", new { @id = "lblReceiptType", @style = "display:none;    margin-top: 7px;" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="margin-left: 0px;">
                    <label class="col-md-6 control-label"style="text-align:left;margin:0;padding:0;">From Days:</label><!-- Form Label -->
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.FromDays, new { @class = "form-control", @maxlength = "2", @autocomplete = "off", @style = "margin:0;padding:0;" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" col-md-6">
                    <div class="form-group">
                        <div class="col-md-2" style="display:inline-flex;">
                            @Html.CheckBoxFor(m => m.IsMonthLastDay, new { @style = "margin-left: 45px;margin-top: 9px;text-align:right" })
                            @*@Html.TextBoxFor(model => model.ToDays, new { @class = "form-control", @style = "width:50%!Important", @maxlength = "2", @autocomplete = "off" })*@
                        </div>
                        <label class="col-md-10 control-label" style="margin-left: 70px;margin-top: -22px;text-align:left">Last Day</label><!-- Form Label -->
                    </div>
                </div>
                <div class=" col-md-6" style="margin: 0 0 0 -19px;">
                    <div class="form-group" style="">
                        <label class="col-md-6 control-label">To Days:</label><!-- Form Label -->
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.ToDays, new { @class = "form-control", @style = "width:100%!Important", @maxlength = "2", @autocomplete = "off" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="margin:0px;">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label">Amount (<i class='fa @Model.CurrencyIcon'></i>):</label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.LateFeeAmount, new { @class = "form-control Amount", @maxlength = "6", @autocomplete = "off" })
                    </div>
                </div>
            </div>
            @if (Model.IsPreviousShow == true)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Include Previous </label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model=>model.IncludePrevious)
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label">Late Fee Title </label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.LateFeeText, new { @class = "form-control", @maxlength = "30", @autocomplete = "off" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label"></label><!-- Form Label -->
                    <div class="col-md-8">
                        <button type="submit" id="saveLateFee" class="btn btn-success">Save</button>&nbsp;&nbsp;
                        <button type="button" id="cancel" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />
<div id="lateFeeList">
</div>
<script>
    $(function () {
        @if (TempData["LateFeeUnSuccessfull"] != null) {
            <text>
        $("#lateFee-form").show();
        </text>
        }
        if ($(".validation-summary-errors ul li").length > 0) {
            $("#lateFee-form").show();
        }
       
        $.ajax({
            url: '@Html.Raw(Url.Action("GetLateFeeList","Fee"))',
            type: "POST",
            data: {},
            success: function (res) {
                if (res.status == "failed") {
                    ToastMessage("No Records Found.", "error", true, 5000);
                }
                else {
                    $("#lateFeeList").html(res);
                }
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
            }
        })
    })
    $("#saveLateFee").click(function () {
        $("#success_notification_div").html('');
        $(".validation-summary-errors ul").html('');
        $("#unsuccessfullNotification ul").html('');
        $("#lateFeeType").val($("#LateFeeTypeId option:selected").text());
        $('#ks_loader').show();
        var isValid = validateLateFee();

        $('#ks_loader').hide();
        if (!isValid) {
            var validationaray = LateFeevalidationmessage.split('\n');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $(LateFeectrlfocus).focus();
            return false;
        }
        $('#ks_loader').hide();
    });
    $("#addLateFee").click(function () {
        $('#drpCls').show();
        $('.multiselect-native-select').show();
        $('#lblReceiptType').hide();
        $("#lateFee-form").show();
    })
    $('#FromDays,#ToDays,LateFeeAmount').keydown(function (e) {
        NumericOnlyWithDecimal(e);
    });
    $(document).on('click', '.clsupdate', function () {
        $("#success_notification_div").html('');
        $(".validation-summary-errors ul").html('');
        $("#unsuccessfullNotification ul").html('');
        $('#drpCls').hide();
        $('.multiselect-native-select').hide();
        $('#lblReceiptType').show();
        $("#addLateFee").hide();
        var lateFeeId = $(this).parents('tr').find('td:nth-child(1)').text();
        var lateFeeTypeId = $(this).parents('tr').find('td:nth-child(2)').text()
        var fromDays = $(this).parents('tr').find('td:nth-child(5)').text();
        var toDays = $(this).parents('tr').find('td:nth-child(6)').text();
        var lateFeeAmount = $(this).parents('tr').find('td:nth-child(7)').text();
        var Receipttype = $(this).parents('tr').find('td:nth-child(8)').text();
        var latefeetext = $(this).parents('tr').find('td:nth-child(4)').text();
        var includeprevious = $(this).parents('tr').find('td:nth-child(10)').text();
        var IsMonthLastDay = $(this).parents('tr').find('td:nth-child(11)').text();
        $('#hdnReceiptTypeId').val(Receipttype);
        $("#LateFeeId").val(parseInt(lateFeeId));
        $("#LateFeeTypeId").val(parseInt(lateFeeTypeId));
        $("#FromDays").val(fromDays);
        if (IsMonthLastDay != null && IsMonthLastDay=="True")
        {
            $("#IsMonthLastDay").prop('checked', 'true');
            $("#ToDays").prop('disabled', 'true');
            $("#ToDays").val('');
        }
        else {
            $("#ToDays").val(toDays);
            $("#IsMonthLastDay").removeAttr('checked');
            $("#ToDays").removeAttr('disabled');
        }
       
        $("#LateFeeAmount").val(lateFeeAmount);
        $("#lateFee-form").show();
        $("#LateFeeType").val($("#LateFeeTypeId option:selected").text());
        $('#lblReceiptType').text($(this).parents('tr').find('td:nth-child(9)').text());

        $('#LateFeeText').val(latefeetext);
        if (includeprevious == "False")
        {
            $('#IncludePrevious').prop("checked", false);
        }
        else
        {
            $('#IncludePrevious').prop("checked", true);
        }
        ScrollToTop();
    })
    $(document).on('click', '.clsdelete', function () {
        $("#success_notification_div").html('');
        $(".validation-summary-errors ul").html('');
        $("#unsuccessfullNotification ul").html('');
        $("#addLateFee").hide();
        var lateFeeId = $(this).parents('tr').find('td:nth-child(1)').text();
        if (confirm("Are you sure want to delete this latefee.") == true) {
            $('#ks_loader').show();
            $.ajax({
                url: '@Html.Raw(Url.Action("DeleteLateFee","Fee"))',
                type: "POST",
                data: { "latefeeId": lateFeeId },
                success: function (res) {
                    if (res.status == "success") {
                        $('#ks_loader').hide();
                        ToastMessage(res.data, "success", true, 5000);
                        window.location.href = "@Html.Raw(Url.Action("ManageLateFee", "Fee"))";
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage("error", "error", true, 5000);
                        window.location.href = "@Html.Raw(Url.Action("ManageLateFee", "Fee"))";
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                }
            })
        }
        else {
            return false;
        }
    })
 
    $("#cancel").click(function () {
        $("#addLateFee").show();
        $("#success_notification_div").html('');
        $(".validation-summary-errors ul").html('');
        $("#unsuccessfullNotification ul").html('');
        $("#LateFeeTypeId").val('');
        $("#FromDays").val('');
        $("#ToDays").val('');
        $("#LateFeeAmount").val('');
        $("#ReceiptTypeId").val('');
        $("#lateFee-form").hide();
        $("#LateFeeId").val('');
        $("#LateFeeType").val('');
        $("#FromDays").attr('disabled', false);
        $("#ToDays").attr('disabled', false);
        $('#IsMonthLastDay').removeAttr('checked')
        $('#IncludePrevious').removeAttr('checked')
    })
    var LateFeeValid = true;
    var LateFeevalidationmessage = "";
    var LateFeectrlfocus = "";
    function validateLateFee() {
        LateFeeValid = true;
        LateFeevalidationmessage = "";
        LateFeectrlfocus = "";

        if ($('#LateFeeTypeId').val() == "") {
            if (LateFeectrlfocus == "")
                LateFeectrlfocus = "#LateFeeTypeId";
            LateFeevalidationmessage = LateFeevalidationmessage + "Please provide Late Fee Type \n";
            LateFeeValid = false;
        }
        if ($('#ReceiptTypeId').val() == "") {
            if (LateFeectrlfocus == "")
                LateFeectrlfocus = "#ReceiptTypeId";
            LateFeevalidationmessage = LateFeevalidationmessage + "Please provide Receipt Type \n";
            LateFeeValid = false;
        }
        if ($('#FromDays').val() == "" ) {
            if (LateFeectrlfocus == "")
                LateFeectrlfocus = "#FromDays";
            LateFeevalidationmessage = LateFeevalidationmessage + "Please provide From Days \n";
            LateFeeValid = false;
        }
        
        if (parseInt($('#FromDays').val()) <= 0) {
            if (LateFeectrlfocus == "")
                LateFeectrlfocus = "#FromDays";
            LateFeevalidationmessage = LateFeevalidationmessage + "FromDays should be greater than zero \n";
            LateFeeValid = false;
        }
        if (parseInt($('#ToDays').val()) <= 0) {
            if (LateFeectrlfocus == "")
                LateFeectrlfocus = "#ToDays";
            LateFeevalidationmessage = LateFeevalidationmessage + "ToDays should be greater than zero \n";
            LateFeeValid = false;
        }
        if ((parseInt($('#ToDays').val()) < parseInt($('#FromDays').val())) ) {
            if (LateFeectrlfocus == "")
                LateFeectrlfocus = "#FromDays";
            LateFeevalidationmessage = LateFeevalidationmessage + "FromDays should  be less than ToDays \n";
            LateFeeValid = false;
        }
        if ($('#LateFeeAmount').val() == "") {
            if (LateFeectrlfocus == "")
                LateFeectrlfocus = "#Reason";
            LateFeevalidationmessage = LateFeevalidationmessage + "Please provide Late Fee Amount \n";
            LateFeeValid = false;
        }
       
        return LateFeeValid;
    }
    $('#IsMonthLastDay').click(function () {

        if ($(this).prop("checked") == true) {
            $("#ToDays").val('');

            $("#ToDays").prop('disabled', 'true');
        } else {
           

            $("#ToDays").removeAttr('disabled');
        }

        

    })
</script>
