﻿@model ViewModel.ViewModel.Fee.FeeReceiptListFilterModel

@{
    ViewBag.Title = "Manage Fee Receipt";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Fee Receipt</h1>
    </div>
    <div class="col-md-6 text-right">
        @if (Model.IsAuthToExport)
        {
            <a href="@Html.Raw(Url.Action("OtherFeeReceipt", "Fee",new {ca=Model.RefUrl}))" class="btn btn-xs btn-default">Add new</a>
        }
        @if (Model.IsAuthToExport)
        {
            <a href="javascript:void(0)" id="btnexportexcel" class="btn btn-xs btn-default">Export to excel</a>
        }
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Filters -->
<div class="row top-space-10">
    <div class="col-md-12" style="padding:0">
        <form class="form-inline ks-custom-form">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Receipt No.</label>
                @Html.TextBoxFor(model => model.ReceiptNo, new { @class = "form-control", @autofocus = "on" })
            </div>

            <div class="form-group">
                <label>From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
            </div>

            <div class="form-group">
                <label>To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
            </div>

            <div class="form-group">
                <label>Class</label>
                @Html.DropDownListFor(model => model.StdClass, Model.AvailableClasses, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Student</label>
                @Html.DropDownListFor(model => model.Student, Model.AvailableStudents, new { @class = "form-control", @Id = "StudentDDL", @style = "width:170px" })
            </div>

            &nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search" class="btn btn-default">Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
    </div>
</div>

<!-- // Page Filters -->
<!-- Page Grid -->
<div class="row">
    <div class="col-md-12" style="padding: 0">
        <div id="student-grid"></div>
        <script>

            $(document).ready(function () {
                $("#student-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("FeeReceiptList", "Fee"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(Model.defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(Model.gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [{
                        field: "RcptNo",
                        title: "Rec.No.",
                        sortable: true,
                    },
                    {
                        field: "RcptDate",
                        title: "Receipt Date",
                        template: "#= kendo.toString(kendo.parseDate(RcptDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                        sortable: true,
                    },
                    {
                        field: "ReciptDate",
                        title: "Receipt Date",
                        hidden: true,
                        sortable: false
                    },
                    {
                        field: "AdmnNo",
                        title: "Admn.No.",
                    }, {
                        field: "StudentName",
                        title: "Student Name",
                        sortable: true,
                    }, {
                        field: "FatherName",
                        title: "Guardian",
                    },{
                        field: "FeePaid",
                        title: "PaidFee",
                        template: "<i class='fa @Model.CurrencyIcon'></i> #=FeePaid#"
                    },{
                        field: "FeePending",
                        title: "PendingFee",
                        template: "<i class='fa @Model.CurrencyIcon'></i> #=FeePending#"
                    },{
                        field: "FeePeriod",
                        title: "Fee Period",
                    },{
                        field: "FeeType",
                        title: "Fee Type",
                    },{
                        field: "ClassName",
                        title: "Class",
                        sortable: true,
                    },{
                        field: "EncFeeReceiptId",
                        title: "Action",
                        template: '#if(IsAuthToPrint){#<a title="Print" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" target="_blank" href="PrintFeeReceipt/#=EncFeeReceiptId#"><i class="fa fa-print"></i></a>#}#'
                          + '#if(IsAuthToView){#<a title="View" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" target="_blank" href="ViewFeeReceipt/#=EncFeeReceiptId#"><i class="fa fa-eye"></i></a>#}#'
                    }]
                });
            });
        </script>
    </div>
</div>
<!-- //Page Grid -->

<script type="text/javascript">
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    $(document).ready(function () {

        //date picker
        $("#FromDate,#ToDate").kendoDatePicker({
            format: "dd/MM/yyyy",
        })
        $("#FromDate,#ToDate").attr('readonly', true);
        //search button
        $('#search').click(function () {
            //search
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $('#reset').click(function(){
            $('#ReceiptNo').val("");
            $('#StdClass').val("");
            $("#FromDate,#ToDate").removeAttr('readonly');
            $('#FromDate').val("");
            $('#ToDate').val("");
            $("#FromDate,#ToDate").attr('readonly', true);
            $('#StudentDDL').val("");
            $('#StudentDDL option:not(:first-child)').remove();

            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1);
        });

        $('#btnexportexcel').click(function () {
            $('#ks_loader').show();
            var grid = $("#student-grid").data("kendoGrid");

            grid.showColumn("ReciptDate");
            grid.hideColumn("RcptDate");
            grid.hideColumn("EncFeeReceiptId");

            grid.saveAsExcel();

            setTimeout(function(){
                grid.showColumn("EncFeeReceiptId");
                grid.showColumn("RcptDate");
                grid.hideColumn("ReciptDate");
                $('#ks_loader').hide();
            },5000);

        });

        $('#StdClass').change(function(){
            var classId = $(this).val();
            if(classId != "")
            {
                $('#StudentDDL option').remove();

                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("StudentListbyClass", "Student"))',
                    async: false,
                    data: { "Class": classId, "CurrentSession": true },
                    success: function (result) {
                        if (result.status == "success") {
                            for (var i = 0; i < result.data.length; i++) {
                                var option = "";
                                if (result.data[i].Selected == true)
                                    option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                                else
                                    option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                                $('#StudentDDL').append(option);
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
        });

    });

    function additionalData() {
        var data = {
            ReceiptNo: $('#ReceiptNo').val(),
            StdClass: $('#StdClass').val(),
            Student: $('#StudentDDL').val(),
            FromDate: GetDateFromString($('#FromDate').val()),
            ToDate: GetDateFromString($('#ToDate').val())
        };
        addAntiForgeryToken(data);
        return data;
    }
    // function get date as string and return date
    function GetDateFromString(date) {
        if(date!=""){
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        return null;
    }
    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
</script>
