﻿@model ViewModel.ViewModel.Fee.PrintFeeReceiptModel
@if (Model.ReceiptTemplate == "" || Model.ReceiptTemplate == null)
{
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="~/favicon.ico">
        <title>Print Fee Receipt</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>

    <body style="margin: 0;padding: 0;background: none" onload="window.print()">
        @{
            var width = "";
            var schoolstudentcopywidth = "";
            var secondcopystyle = "";
            var centeralign = "";
            var floatleft = "left";
        }
        @if (Model.OneFourthPageSetUp)
        {
            width = "100%";
            schoolstudentcopywidth = "50%";
            if (Model.IsPrintStudentCopy == false)
            {
                centeralign = "center";
                floatleft = "";
                // width = "50%";
            }
            if (Model.IsPrintSchoolCopy == false)
            {
                width = "50%";
            }
        }
        else
        {
            width = "600px";
            schoolstudentcopywidth = "100%";
        }
        @*@{ if (@centeralign == "") {
        centeralign= "center";
                } }*@
        <div class="main-wrappeer" style="background: none!important;padding: 20px 0px 0px 0px;width: @width;margin: 0 auto; " align="@centeralign">
            @if (Model.IsPrintSchoolCopy == true && (Model.IsApp==null||Model.IsApp==false))
            {
                var pixal = Model.NoofBreaksbefore;
                var upperdivheight = Model.UpperDivHeight;
                var bordervalue = "1px #ddd solid";
                if (Model.NoofBreaksAfter != null && (Model.NoofBreaksAfter) != "")
                {
                    bordervalue = "";

                }

                if (Model.OneFourthPageSetUp)
                {
                    secondcopystyle = "width:" + schoolstudentcopywidth + "; float:left;margin-top:" + @pixal + ";max-height:" + @upperdivheight + " !important";
                }
                <div class="school-automatiomn" style="width:@schoolstudentcopywidth; float:@floatleft; margin-top:@pixal;height:@upperdivheight !important">
                    @if (Model.Isheaderrequired)
                    {
                        <div class="top-bar-headig" style="background:#fff8f1; float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex; ">

                            @if (Model.OneFourthPageSetUp)
                            {
                                <div style="width: 20%;"><img src='@Model.SchoolLogo' style='height:60px;width:60px;' attr-img="" /> </div>
                            }
                            else
                            {

                                <div style="width: 20%;"><img src='@Model.SchoolLogo' style='height:80px;width:80px;' attr-img="" /> </div>
                            }
                            <div style="width: 60%; text-align: center; padding:0px; margin: 0px;">
                                <h2 style=" font-size:18px; color:#ae1f23; padding:0px; margin: 0px;">
                                    @Model.SchoolHeader
                                </h2>
                                <p style=" padding:0px; margin: 0px;">@Model.Header1</p>
                                <p style=" padding:0px; margin: 0px;">@Model.Header2</p>
                            </div>

                            @if (Model.OneFourthPageSetUp)
                            {
                                <div style="width: 20%;"> <h2 style=" font-size:14px; color:#ae1f23;">@Model.SessionName</h2></div>
                            }
                            else
                            {
                                <div style="width: 20%;"> <h2 style=" font-size:18px; color:#ae1f23;">@Model.SessionName</h2></div>
                            }
                        </div>

                    }
                    else
                    {

                        @*<div class="top-bar-headig" style="float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex;height:@Model.HeaderHeight">
                        </div>*@
                    }

                    <div class="School_Copy" style=" padding:10px; float:left; border:@bordervalue;">
                        @*@if (Model.ShowCopyText)
                        {
                            <p style="Text-align:center; font-size:13px;margin: 0">
                                School Copy @if (@Model.ReceiptTypeExtraText != "")
                                {@Model.ReceiptTypeExtraText}
                            </p>
                        }
                        @if (Model.ShowReceiptType)
                        {
                            if (Model.ShowCopyText)
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0">@Model.ReceiptType </p>
                            }
                            else
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0">
                                    @Model.ReceiptType @if (@Model.ReceiptTypeExtraText != "")
                                    {@Model.ReceiptTypeExtraText}
                                </p>
                            }
                        }*@
                        @if (Model.ShowCopyText)
                        {
                            <p style="Text-align:center; font-size:13px;margin: 0">
                                School Copy
                            </p>}
                        @if (@Model.ReceiptTypeExtraText != "")
                        {<p style="Text-align:center; font-size:13px;margin: 0">
                                @Model.ReceiptTypeExtraText
                            </p>}
                        else
                        {
                            <p style="Text-align:center; font-size:13px;margin: 0">
                                @Model.ReceiptType
                            </p>
                        }
                        <div class="fee_details" style="  float:left; margin:0 0 0 0; width:100%">
                            <h4 style="float:left; width:30%; text-align:left;  font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Receipt No:  </b><span style="font-size: 15px; font-weight: bold;">@Model.ReceiptNo</span></h4>
                            @*changes asked by harish sir*@
                            @if (@Model.AdmnNo != null && @Model.AdmnNo != "")
                            {
                                <h4 style="float:left; width:40%; font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Admn No:</b>@Model.AdmnNo</h4>
                            }
                            else
                            {
                                <h4 style="float:left; width:40%; font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Registration No:</b>@Model.RegistrationNo</h4>
                            }
                            <h4 style="float:right; width:30%; text-align:right; font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Dated:</b>@Model.ReciptDate</h4>
                        </div>
                        @if (Model.OneFourthPageSetUp)
                        {
                            <h4 style="float:left; width:100%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Name:</b>@Model.StudentName</h4>
                            <h4 style="float:left; width:50%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Class:</b>@Model.ClassName</h4>
                            if (@Model.RollNo != null && @Model.RollNo != "")
                            {
                                <h4 style="float:left; width:50%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Roll No:</b>@Model.RollNo</h4>
                            }
                        }
                        else
                        {
                            <h4 style="float:left; width:45%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Name:</b>@Model.StudentName</h4>
                            <h4 style="float:left; width:25%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Class:</b>@Model.ClassName</h4>
                            if (@Model.RollNo != null && @Model.RollNo != "")
                            {
                                <h4 style="float:left; width:30%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Roll No:</b>@Model.RollNo</h4>
                            }
                        }

                        @*<h4 style="float:left; width:45%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Name:</b>@Model.StudentName</h4>
                                    <h4 style="float:left; width:25%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Class:</b>@Model.ClassName</h4>
                                    @if (Model.regno_FeeReceiptPrint)
                        {
                            <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Registration No:</b>@Model.RegistrationNo</h4>
                        }
                                    <h4 style="float:left; width:30%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Roll No:</b>@Model.RollNo</h4>*@

                        <h4 style="float:left; width:43%; text-align:left; font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Mode :</b>@Model.PaymentMode</h4>
                        @if (Model.Modetype.Contains("Transfer"))
                        {
                            <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Bank :</b>@Model.BankBranch</h4>
                            <h4 style="float:right; width:60%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Trans. No.: </b>@Model.TransactionNo</h4>
                            <h4 style="width:40%; float:left;font-size:13px;text-align:left; margin: 5px 0 5px 0;"> <b>Trans. Date:</b>@Model.TransactionDate</h4>
                        }
                        else if (Model.Modetype.Contains("Instrument"))
                        {
                            <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Bank :</b> @Model.BankBranch</h4>
                            <h4 style="float:right; width:70%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>@Model.lblChkDDNAme: </b>@Model.ChequeNo</h4>
                            <h4 style="width:30%; float:left;font-size:13px;text-align:left; margin: 5px 0 5px 0;"> <b>@Model.lblChkDDDate:</b>@Model.ChequeDate </h4>
                        }

                        @if (!string.IsNullOrEmpty(Model.FeePeriod))
                        {
                            <h4 style="float:left; width:100%; text-align:left;font-size:13px;font-weight:normal; margin: 5px 0 5px 0; ">
                                <b>Fee Period:</b>@Model.FeePeriod
                            </h4>
                        }

                        @if (Model.NoofBreaksAfter == null || (Model.NoofBreaksAfter) == "")
                        {
                            <div class="fee_details" style=" border-top:1px #ddd solid; border-bottom: 1px #ddd solid;  float:left; margin:0 0 0 0; width:100%">
                                <h4 style="float:left; width:50%; text-align:left;  font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Fees Detail:</b></h4>
                            </div>
                        }
                        <table style=" width:100%; border: 1px #ddd solid; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th style="text-align:left;font-size:13px">Head Name</th>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <th style="text-align:right;font-size:13px">Amount</th>
                                        <th style="text-align:right;font-size:13px">Deduction</th>
                                    }
                                    <th style="text-align:right;font-size:13px">Payable Amount</th>
                                    <th style="text-align:right;font-size:13px">Paid Amount</th>
                                    @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                    {
                                        <th style="text-align:right;font-size:13px">Balance</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PrintFeeReceiptHeadsList)
                                {
                                    <tr>
                                        <td style="text-align:left;font-size:13px">@item.HeadName  </td>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <td style="text-align:right;font-size:13px">@item.HeadAmount  </td>
                                            <td style="text-align:right;font-size:13px">@item.Deduction  </td>
                                        }
                                        <td style="text-align:right;font-size:13px">@item.PayableAmount  </td>
                                        <td style="text-align:right;font-size:13px">@item.PaidAmount  </td>
                                        @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                        {
                                            <td style="text-align:right;font-size:13px">@item.Balance  </td>
                                        }
                                    </tr>
                                }
                                <tr>
                                    <td style="text-align:left;font-size:13px">Total </td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td style="text-align:right;font-size:13px">@Model.TotalAmount </td>
                                        <td style="text-align:right;font-size:13px">@Model.TotalDiscount </td>
                                    }
                                    <td style="text-align:right;font-size:13px">@Model.TotalPayable</td>
                                    <td style="text-align:right;font-size:13px">@Model.TotalPaidAmount </td>
                                    @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                    {
                                        <td style="text-align:right;font-size:13px">@Model.TotalBalance </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                        @*<table style=" width:100%; border: 1px #ddd solid; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th style="text-align:left;font-size:13px">Head Name</th>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <th>Amount</th>
                                        <th>Deduction</th>
                                    }
                                    <th>Payable Amount</th>
                                    <th>Paid Amount</th>
                                    @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                    {
                                        <th>Balance</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PrintFeeReceiptHeadsList)
                                {
                                    <tr>
                                        <td>@item.HeadName  </td>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <td>@item.HeadAmount  </td>
                                            <td>@item.Deduction  </td>
                                        }
                                        <td>@item.PayableAmount  </td>
                                        <td>@item.PaidAmount  </td>
                                        @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                        {
                                            <td>@item.Balance  </td>
                                        }
                                    </tr>
                                }
                                <tr>
                                    <td>Total </td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td>@Model.TotalAmount </td>
                                        <td>@Model.TotalDiscount </td>
                                    }
                                    <td>@Model.TotalPayable</td>
                                    <td>@Model.TotalPaidAmount </td>
                                    @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                    {
                                        <td>@Model.TotalBalance </td>
                                    }
                                </tr>
                            </tbody>
                        </table>*@

                        @if (Model.UserName != "")
                        {
                            <p style="float:left; width:50%; text-align:left; font-size:13px;  margin:4px 0 4px 0px ">@Model.UserName</p>
                        }
                        <p style="float:right; width:50%; text-align:right; font-size:13px; margin:4px 0 4px 0px  "> Authorised Signature :</p>
                        @if (Model.ShowRemarks == "1")
                        {
                            <p style="float:left; width:100%;text-align:left;font-size:13px; margin:4px 0 4px 0px  ">Remarks : @Model.Remarks</p>
                        }
                    </div>
                </div>
                if ((Model.NoofBreaksAfter == null || (Model.NoofBreaksAfter) == "") && !Model.OneFourthPageSetUp)
                {
                    <div style="border: 1px #ddd dashed;width: 100%;margin: 5px 0px 5px 0px;float: left;"></div>
                }
                @*<div>
                    @for (int i = 0; i < Model.NoofBreaksAfter; i++)
                    {
                        <br />
                    }
                </div>*@
                @*</div>*@
            }
            @if (Model.IsPrintStudentCopy == true)
            {


                // <div class="main-wrappeer" style="background: none!important;padding: 20px 0px 0px 0px;width: 600px;margin: 0 auto; ">
                <div class="school-automatiomn" style="@secondcopystyle">

                    @if (Model.Isheaderrequired)
                    {
                        <div class="top-bar-headig" style="background:#fff8f1; float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex; ">


                            @if (Model.OneFourthPageSetUp)
                            {
                                <div style="width: 20%;">
                                    <img src='@Model.SchoolLogo' style='height:60px;width:60px;' attr-img="" />
                                   
                                </div>
                            }
                            else
                            {
                                <div style="width: 20%;"><img src='@Model.SchoolLogo' style='height:80px;width:80px;' attr-img=""  /> </div>
                            }
                            <div style="width: 60%; text-align: center; padding:0px; margin: 0px;">
                                <h2 style=" font-size:18px; color:#ae1f23; padding:0px; margin: 0px;">
                                    @Model.SchoolHeader
                                </h2>
                                <p style=" padding:0px; margin: 0px;">@Model.Header1</p>
                                <p style=" padding:0px; margin: 0px;">@Model.Header2</p>
                            </div>

                            @if (Model.OneFourthPageSetUp)
                            {
                                <div style="width: 20%;"> <h2 style=" font-size:14px; color:#ae1f23;">@Model.SessionName</h2></div>
                            }
                            else
                            {
                                <div style="width: 20%;"> <h2 style=" font-size:18px; color:#ae1f23;">@Model.SessionName</h2></div>
                            }
                        </div>

                    }
                    else
                    {

                        @*<div class="top-bar-headig" style="float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex;height:@Model.HeaderHeight">
                        </div>*@
                    }
                    @if (!Model.FeereceiptHalfPageView)
                    {
                        var pixalafter = Model.NoofBreaksAfter;
                        var lowerdivheight = Model.lowerDivHeight;
                        var bordervalue = "1px #ddd solid";
                        if (Model.NoofBreaksAfter != null && (Model.NoofBreaksAfter) != "")
                        {
                            bordervalue = "";

                        }
                        var paddingvalue = "";
                        if (Model.OneFourthPageSetUp)
                        {
                            paddingvalue = "10px";
                        }
                        else
                        {
                            paddingvalue = "20px";
                        }
                        <div class="School_Copy" style="padding:@paddingvalue;float:right;border:@bordervalue;margin-top:@pixalafter;max-height:@lowerdivheight !important">

                            @*@if (Model.ShowCopyText)
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0">
                                    Student Copy @if (@Model.ReceiptTypeExtraText != "")
                                    {@Model.ReceiptTypeExtraText}
                                </p>
                            }
                            @if (Model.ShowReceiptType)
                            {
                                if (Model.ShowCopyText)
                                {
                                    <p style="Text-align:center; font-size:13px;margin: 0">@Model.ReceiptType </p>
                                }
                                else
                                {
                                    <p style="Text-align:center; font-size:13px;margin: 0">
                                        @Model.ReceiptType @if (@Model.ReceiptTypeExtraText != "")
                                        {@Model.ReceiptTypeExtraText}
                                    </p>
                                }
                            }*@
                            @if (Model.ShowCopyText)
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0">
                                    Student Copy
                                </p>}
                            @if (@Model.ReceiptTypeExtraText != "")
                            {<p style="Text-align:center; font-size:13px;margin: 0">
                                    @Model.ReceiptTypeExtraText
                                </p>}
                            else
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0">
                                    @Model.ReceiptType
                                </p>
                            }
                            <div class="fee_details" style="  float:left; margin:0 0 0 0; width:100%">
                                <h4 style="float:left; width:30%; text-align:left;  font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Receipt No:  </b><span style="font-size: 15px; font-weight: bold;">@Model.ReceiptNo</span></h4>
                                @*changes asked by harish sir*@
                                @if (@Model.AdmnNo != null && @Model.AdmnNo != "")
                                {
                                    <h4 style="float:left; width:40%; font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Admn No:</b>@Model.AdmnNo</h4>
                                }
                                else
                                {
                                    <h4 style="float:left; width:40%; font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Registration No:</b>@Model.RegistrationNo</h4>
                                }
                                <h4 style="float:right; width:30%; text-align:right; font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Dated:</b>@Model.ReciptDate</h4>
                            </div>

                            @*<h4 style="float:left; width:30%; font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Admn No:</b>@Model.AdmnNo</h4>*@
                            @if (Model.OneFourthPageSetUp)
                            {
                                <h4 style="float:left; width:100%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Name:</b>@Model.StudentName</h4>
                                <h4 style="float:left; width:50%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Class:</b>@Model.ClassName</h4>
                                if (@Model.RollNo != null && @Model.RollNo != "")
                                {
                                    <h4 style="float:left; width:50%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Roll No:</b>@Model.RollNo</h4>}
                            }
                            else
                            {
                                <h4 style="float:left; width:45%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Name:</b>@Model.StudentName</h4>
                                <h4 style="float:left; width:25%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Class:</b>@Model.ClassName</h4>
                                if (@Model.RollNo != null && @Model.RollNo != "")
                                {
                                    <h4 style="float:left; width:30%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Roll No:</b>@Model.RollNo</h4>}
                            }


                            @*@if (Model.regno_FeeReceiptPrint)
                            {
                                <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Registration No:</b>@Model.RegistrationNo</h4>
                            }*@



                            <h4 style="float:left; width:43%;  text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Mode :</b>@Model.PaymentMode</h4>
                            @if (Model.Modetype.Contains("Transfer"))
                            {
                                <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Bank :</b>@Model.BankBranch</h4>
                                <h4 style="float:right; width:60%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Trans. No.: </b>@Model.TransactionNo</h4>
                                <h4 style="width:40%; float:left;font-size:13px;text-align:left; margin: 5px 0 5px 0;"> <b>Trans. Date:</b>@Model.TransactionDate</h4>
                            }
                            else if (Model.Modetype.Contains("Instrument"))
                            {
                                <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Bank :</b> @Model.BankBranch</h4>
                                <h4 style="float:right; width:70%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>@Model.lblChkDDNAme: </b>@Model.ChequeNo</h4>
                                <h4 style="width:30%; float:left;font-size:13px;text-align:left; margin: 5px 0 5px 0;"> <b>@Model.lblChkDDDate:</b>@Model.ChequeDate </h4>
                            }

                            @if (!string.IsNullOrEmpty(Model.FeePeriod))
                            {
                                <h4 style="float:left; width:70%; text-align:left;font-size:13px;font-weight:normal; margin: 5px 0 5px 0; ">
                                    <b>Fee Period:</b>@Model.FeePeriod
                                </h4>
                            }


                            @if (Model.NoofBreaksAfter == null || (Model.NoofBreaksAfter) == "")
                            {
                                <div class="fee_details" style=" border-top:1px #ddd solid; border-bottom: 1px #ddd solid;  float:left; margin:0 0 0 0; width:100%">
                                    <h4 style="float:left; width:50%; text-align:left;  font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Fees Detail:</b></h4>
                                </div>
                            }
                            <table style=" width:100%; border: 1px #ddd solid; border-collapse: collapse;">
                                <thead>
                                    <tr>
                                        <th style="text-align:left;font-size:13px">Head Name</th>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <th style="text-align:right;font-size:13px">Amount</th>
                                            <th style="text-align:right;font-size:13px">Deduction</th>
                                        }
                                        <th style="text-align:right;font-size:13px">Payable Amount</th>
                                        <th style="text-align:right;font-size:13px">Paid Amount</th>
                                        @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                        {
                                            <th style="text-align:right;font-size:13px">Balance</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PrintFeeReceiptHeadsList)
                                    {
                                        <tr>
                                            <td style="text-align:left;font-size:13px">@item.HeadName  </td>
                                            @if (Model.ShowlimitedDetail == false)
                                            {
                                                <td style="text-align:right;font-size:13px">@item.HeadAmount  </td>
                                                <td style="text-align:right;font-size:13px">@item.Deduction  </td>
                                            }
                                            <td style="text-align:right;font-size:13px">@item.PayableAmount  </td>
                                            <td style="text-align:right;font-size:13px">@item.PaidAmount  </td>
                                            @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                            {
                                                <td style="text-align:right;font-size:13px">@item.Balance  </td>
                                            }
                                        </tr>
                                    }
                                    <tr>
                                        <td style="text-align:left;font-size:13px">Total </td>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <td style="text-align:right;font-size:13px">@Model.TotalAmount </td>
                                            <td style="text-align:right;font-size:13px">@Model.TotalDiscount </td>
                                        }
                                        <td style="text-align:right;font-size:13px">@Model.TotalPayable</td>
                                        <td style="text-align:right;font-size:13px">@Model.TotalPaidAmount </td>
                                        @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                        {
                                            <td style="text-align:right;font-size:13px">@Model.TotalBalance </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                            @if (Model.UserName != "")
                            {
                                <p style="float:left; width:50%; text-align:left; font-size:13px;  margin:4px 0 4px 0px ">@Model.UserName</p>
                            }
                            <p style="float:right; width:50%; text-align:right; font-size:13px; margin:4px 0 4px 0px  "> Authorised Signature :</p>

                            @if (Model.ShowRemarks == "1")
                            {
                                <p style="float:left; width:100%;text-align:left;font-size:13px; margin:4px 0 4px 0px  ">Remarks : @Model.Remarks</p>}
                        </div>
                    }
                    else
                    {
                        <div class="School_Copy" style="padding:20px;float:left;border: 1px solid #ddd;">
                            @if (Model.ShowCopyText)
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0 0 10px 0">
                                    Student Copy @if (@Model.ReceiptTypeExtraText != "")
                                    {@Model.ReceiptTypeExtraText}
                                </p>
                            }
                            @if (Model.ShowReceiptType)
                            {
                                if (Model.ShowCopyText)
                                {
                                    <p style="Text-align:center; font-size:13px;margin: 0 0 10px 0">@Model.ReceiptType </p>
                                }
                                else
                                {
                                    <p style="Text-align:center; font-size:13px;margin: 0 0 10px 0">
                                        @Model.ReceiptType @if (@Model.ReceiptTypeExtraText != "")
                                        {@Model.ReceiptTypeExtraText}
                                    </p>
                                }
                            }
                            <div class="fee_details" style="  float:left; margin:0 0 20px 0; width:100%">
                                <h4 style="float:left; width:50%; text-align:left;  font-size:13px; font-weight:normal; margin: 0; "> <b>Receipt No:  </b><span style="font-size: 15px; font-weight: bold;">@Model.ReceiptNo</span></h4>
                                <h4 style="float:right; width:50%; text-align:right; font-size:13px; font-weight:normal; margin: 0; "> <b>Dated:</b>@Model.ReciptDate</h4>
                            </div>
                            <h4 style="float:left; width:20%; font-size:13px;font-weight:normal; margin: 5px 0 20px 0; "> <b>Admn No:</b>@Model.AdmnNo</h4>
                            <h4 style="float:left; width:65%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 20px 0; "> <b>Name:</b>@Model.StudentName</h4>
                            <h4 style="float:left; width:15%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 20px 0; "> <b>Class:</b>@Model.ClassName</h4>
                            @if (Model.regno_FeeReceiptPrint)
                            {
                                <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Registration No:</b>@Model.RegistrationNo</h4>
                            }

                            <h4 style="float:left; width:20%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 20px 0; "> <b>Roll No:</b>@Model.RollNo</h4>

                            <h4 style="float:left; width:33%;  font-size:13px;font-weight:normal; margin: 5px 0 20px 0; "> <b>Payment mode :</b>@Model.PaymentMode</h4>
                            @if (Model.Modetype.Contains("Transfer"))
                            {
                                <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 20px 0; "> <b>Bank :</b>@Model.BankBranch</h4>
                                <h4 style="float:right; width:70%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 20px 0; "> <b>Trans. No.: </b>@Model.TransactionNo</h4>
                                <h4 style="width:30%; float:left;font-size:13px;text-align:left; margin: 5px 0 20px 0;"> <b>Trans. Date:</b>@Model.TransactionDate</h4>
                            }
                            else if (Model.Modetype.Contains("Instrument"))
                            {
                                <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 20px 0; "> <b>Bank :</b> @Model.BankBranch</h4>
                                <h4 style="float:right; width:70%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 20px 0; "> <b>@Model.lblChkDDNAme: </b>@Model.ChequeNo</h4>
                                <h4 style="width:30%; float:left;font-size:13px;text-align:left; margin: 5px 0 20px 0;"> <b>@Model.lblChkDDDate:</b>@Model.ChequeDate </h4>
                            }

                            @if (!string.IsNullOrEmpty(Model.FeePeriod))
                            {
                                <h4 style="float:left; width:70%; text-align:left;font-size:13px;font-weight:normal; margin: 5px 0 20px 0; ">
                                    <b>Fee Period:</b>@Model.FeePeriod
                                </h4>
                            }

                            @if (Model.NoofBreaksAfter == null || (Model.NoofBreaksAfter) == "")
                            {
                                <div class="fee_details" style=" border-top:1px #ddd solid; border-bottom: 1px #ddd solid;  float:left; margin:0 0 24px 0; width:100%">
                                    <h4 style="float:left; width:50%; text-align:left;  font-size:13px; font-weight:normal; margin: 15px 0 15px 0; "> <b>Fees Detail:</b></h4>
                                </div>
                            }
                            <table cellpadding="20" style=" width:100%; border: 1px #ddd solid; border-collapse: collapse;">
                                <thead>
                                    <tr>
                                        <th style="text-align:left;font-size:13px">Head Name</th>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <th style="text-align:right;font-size:13px">Amount</th>
                                            <th style="text-align:right;font-size:13px">Deduction</th>
                                        }
                                        <th style="text-align:right;font-size:13px">Payable Amount</th>
                                        <th style="text-align:right;font-size:13px">Paid Amount</th>
                                        @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                        {
                                            <th style="text-align:right;font-size:13px">Balance</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PrintFeeReceiptHeadsList)
                                    {
                                        <tr>
                                            <td style="text-align:left;font-size:13px">@item.HeadName  </td>
                                            @if (Model.ShowlimitedDetail == false)
                                            {
                                                <td style="text-align:right;font-size:13px">@item.HeadAmount  </td>
                                                <td style="text-align:right;font-size:13px">@item.Deduction  </td>
                                            }
                                            <td style="text-align:right;font-size:13px">@item.PayableAmount  </td>
                                            <td style="text-align:right;font-size:13px">@item.PaidAmount  </td>
                                            @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                            {
                                                <td style="text-align:right;font-size:13px">@item.Balance  </td>
                                            }
                                        </tr>
                                    }
                                    <tr>
                                        <td style="text-align:left;font-size:13px">Total </td>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <td style="text-align:right;font-size:13px">@Model.TotalAmount </td>
                                            <td style="text-align:right;font-size:13px">@Model.TotalDiscount </td>
                                        }
                                        <td style="text-align:right;font-size:13px">@Model.TotalPayable</td>
                                        <td style="text-align:right;font-size:13px">@Model.TotalPaidAmount </td>
                                        @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                        {
                                            <td style="text-align:right;font-size:13px">@Model.TotalBalance </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                            @*<table cellpadding="20" style=" width:100%; border: 1px #ddd solid; border-collapse: collapse;">
                                <thead>
                                    <tr>
                                        <th>Head Name</th>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <th>Amount</th>
                                            <th>Deduction</th>
                                        }
                                        <th>Payable Amount</th>
                                        <th>Paid Amount</th>
                                        @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                        {
                                            <th>Balance</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PrintFeeReceiptHeadsList)
                                    {
                                        <tr>
                                            <td>@item.HeadName  </td>
                                            @if (Model.ShowlimitedDetail == false)
                                            {
                                                <td>@item.HeadAmount  </td>
                                                <td>@item.Deduction  </td>
                                            }
                                            <td>@item.PayableAmount  </td>
                                            <td>@item.PaidAmount  </td>
                                            @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                            {
                                                <td>@item.Balance  </td>
                                            }
                                        </tr>
                                    }
                                    <tr>
                                        <td>Total </td>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <td>@Model.TotalAmount </td>
                                            <td>@Model.TotalDiscount </td>
                                        }
                                        <td>@Model.TotalPayable</td>
                                        <td>@Model.TotalPaidAmount </td>
                                        @if (Model.ShowlimitedDetail == false || Model.ShowBalance == true)
                                        {
                                            <td>@Model.TotalBalance </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>*@
                            @if (Model.UserName != "")
                            {
                                <p style="float:left; width:50%; text-align:left; font-size:13px;  margin:4px 0 20px 0px ">@Model.UserName</p>
                            }
                            <p style="float:right; width:50%; text-align:right; font-size:13px; margin:4px 0 20px 0px  "> Authorised Signature :</p>

                            @if (Model.ShowRemarks == "1")
                            {
                                <p style="float:left; width:100%;text-align:left;font-size:13px; margin:4px 0 20px 0px ">Remarks : @Model.Remarks</p>}
                        </div>
                    }
                </div>

            }
        </div>
    </body>
</html>
}
else
{
@Html.Raw(Model.ReceiptTemplate)
}
@if (Model.IsApp)
{
<button id="cmd" style="display:none"></button>
<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script>
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        doc.fromHTML($('#body').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
       // doc.save('@Model.FileName');
        //var base64pdf = JSON.stringify({ 'data': $('body').html() });
           var wholehtml = $('body').html().replace('attr-img','/');
       
           var dataToSend = JSON.stringify({ 'data': wholehtml,'receiptno':@Model.ReceiptNo });
        $.ajax({
            url: '@Html.Raw(Url.Action("ProcessRequest", "Fee"))',
            type: 'post',
            async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: dataToSend,

        dataType: 'json'
    });
    });
    $('#cmd').trigger('click');
// This code is collected but useful, click below to jsfiddle link.
</script>
}