﻿@model ViewModel.ViewModel.Fee.PreviousPendingFeeModel

@{
    ViewBag.Title = "PreviousPendingFee";
}

<div class="row top-space-10 page-heading">
    <div class="col-md-12" id="error_notification_div" hidden>
        <div class="error_notification"><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12" id="success_notification_div" hidden>
        <div class="success_notification"><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Manage Previous Pending Fee</h1>
    </div>
</div>
<script>
    function GetDateFromString(date) {
        date=date.split(' ')[0];
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }
</script>
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("PreviousPendingFee", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.DateToSave)
            @Html.HiddenFor(p => p.Ispreviouspendingfee)
             @Html.HiddenFor(p => p.IsSchoolFee)
            <div class="col-md-2">
                <div class="">
                    <label class="control-label">Session</label>

                    @Html.DropDownListFor(model => model.SessionId, Model.SessionList, new { @class = "drop-down form-control", @style = "width: 100%" })

                    <!-- Error Message -->
                    <div class="error-message" hidden>
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.SessionId)
                    </div>
                    <!-- //Error Message -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="">
                    <label class="control-label">Class</label>

                    @Html.DropDownListFor(model => model.ClassId, Model.ClassList, new { @class = "drop-down form-control", @style = "width: 100%" })

                    <!-- Error Message -->
                    <div class="error-message" hidden>
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.ClassId)
                    </div>
                    <!-- //Error Message -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="">
                    <label class="control-label">Receipt Type</label>

                    @Html.DropDownListFor(model => model.ReceiptTypeId, Model.ReceiptTypeList, new { @class = "drop-down form-control", @style = "width: 100%" })

                    <!-- Error Message -->
                    <div class="error-message" hidden>
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.ReceiptTypeId)
                    </div>
                    <!-- //Error Message -->
                </div>
            </div>
            <div class="col-md-2" hidden id="AsOnDate_Div">
                <div class="">
                    <label class="control-label">As On Date</label>
                    @Html.TextBoxFor(m => m.PeriodDate, new { @class = "form-control ", @style = "width: 100%" })


                    @*@Html.DropDownListFor(model => model.MonthID, Model.MonthList, new { @class = "drop-down form-control", @style = "width: 100%" })*@
                    @*<select class="drop-down form-control" style="width: 100%">
                            <option>Jan 30</option>
                        </select>*@
                    <!-- Error Message -->
                    <div class="error-message" hidden>
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.MonthID)
                    </div>
                    <!-- //Error Message -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class=" control-label"></label>
                    <div>
                        <button type="submit" id="filterdata" name="filter" class="btn btn-default">
                            Filter
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-12 top-space-10">
        <div>
            <table class="table table-condensed table-responsive table-striped" id="Pendingfeegrid">
                <thead>
                    <tr>
                        <th style="display:none"></th>
                        <th style="display:none"></th>
                        <th>Admission No</th>
                        <th>Student Name</th>
                        <th>Roll No</th>
                        <th>Guardian</th>
                        @if (Model.IsSchoolFee)
                        {
                            <th id="As_On_Date">As On Date</th>
                        }
                        <th>Pending Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DataList.Count > 0)
                    {
                        var i = 0;
                        foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td style="display:none">@item.FeePrevPendingId</td>
                                <td style="display:none" class="student_id">@item.StudentId</td>
                                <td>@item.AdmissionNo</td>
                                <td>@item.StudentName</td>
                                <td>@item.RollNo</td>
                                <td>@item.Guardian</td>
                                @if (Model.IsSchoolFee)
                                {
                                    <td>
                                        @Html.TextBox("pdate" + i, "", new { @class = "form-control studentPeriodDate ", @style = "width: 50%" })
                                </td>
                                    <script>

                                        $("#pdate" + @i).kendoDatePicker({
                                            format: "dd/MM/yyyy",
                                        });
                                        $("#pdate" + @i).attr("readonly", true);



                                        @if (item.PendingAsonDate != null)
                                                {
                                                 <text>
                                                        $("#pdate" + @i).val(GetDateFromString('@item.PendingAsonDate'))
                                                    </text>
                                             }
                                             else
                                             {
                                                 <text>
                                                                                $("#pdate" + @i).val($('#PeriodDate').val())
                                                                                </text>
     }
                                    </script>
                                }
                                <td>
                                    @if (item.ReceiptId == "")
                                    {
                                        <input class="pendingamount" id="pn @i" onkeypress="return isNumberKey(event)" maxlength="15" value="@item.PendingAmount" />
                                    }
                                    else if (item.ReceiptId == "2")
                                    {
                                        <input class="pendingamount" id="pn @i" onkeypress="return isNumberKey(event)" maxlength="15" value="@item.PendingAmount" />
                                    }
                                    else
                                    {
                                        <input  onkeypress="return isNumberKey(event)" maxlength="15" value="@item.ReceiptDetail" disabled="disabled" />
                                    
                                        <text>
                                    <script>
                                        $("#pdate" + @i).attr("disabled", true);
                                        $("#pdate" + @i).data('kendoDatePicker').enable(false);
                                     </script>
                                    </text>
                                        
                                    }

                                </td>
                            </tr>
                                    i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="8">No Data found</td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" id="savedata" name="filter" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
        </div>
    </div>
</div>
<script>
    $('#SessionId').change(function () {
        var sessionid=$(this).val();
        if(sessionid>0){
            $.ajax({
                async: false,
                type: "POST",
                url: '@Html.Raw(Url.Action("GetClassListfromSession", "Fee"))',
                data: { "sessionid": sessionid },
                success: function (res) {
                    if (res.status == "success")
                    {
                        $('#ClassId').html('');
                        var option="";
                        for (var i = 0; i < res.data.length-1; i++) {
                            option+="<option value="+res.data[i].Value+">"+res.data[i].Text+"</option>"
                        }
                        $('#ClassId').html(option);
                    }
                    else {
                        alert(res.data);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    toastr.error(err);
                }
            });}else{
            toastr.error("Please Select Session");
        }


    })
    $("#PeriodDate").kendoDatePicker({
        // value: new Date,
        // min: new Date,
        format: "dd/MM/yyyy",
    });
    $("#PeriodDate").attr("readonly", true);
    // function get date as string and return date
   
    @*$('.pendingamount').on('input', function () {
        var row = $(this);
        var studentid = $(this).parent().parent().find('.student_id').text();

        $.ajax({
            async: false,
            type: "POST",
            url: '@Html.Raw(Url.Action("GetFeeperiodDate", "Fee"))',
            data: { "studentid": studentid },
            success: function (res) {
                if (res.status == "success")
                {
                    row.parent().parent().find(".studentPeriodDate").val(GetDateFromString(res.date));
                }
                else {
                    alert(res.data);
                }
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                toastr.error(err);
            }
        });
    })*@
    $('#PeriodDate').change(function () {
        var i=0;
        $("#Pendingfeegrid tbody tr").each(function () {
            var datevalue = $('#PeriodDate').val();

            if ($("#pdate" + i).val() == "") {
                $("#pdate" + i).val(datevalue);
            }




            i++;
        })
        $('#PeriodDate').data('kendoDatePicker').enable(false);

    })

    @if (Model.IsSchoolFee)
    {
           <text>
    $('#AsOnDate_Div').show()
    $('#IsSchoolFee').val(true)
    </text>
       }
    $('#ReceiptTypeId').change(function () {
        var receipttype=$(this).val();
        $.ajax({
            async: false,
            type: "POST",
            url: '@Html.Raw(Url.Action("GetreceiptType", "Fee"))',
            data: { "receipttype": receipttype },
            success: function (res) {
                if (res.status == "success") {
                    $('#IsSchoolFee').val(res.data);
                    @*alert(res.data);
                    window.location.href = "@Html.Raw(Url.Action("PreviousPendingFee","Fee"))";*@
                }
                else {
                    alert(res.data);
                }
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                toastr.error(err);
            }
        });

    })
    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });


    function isNumberKey(evt) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
        //var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
        //    return false;
        //else {
        //    var len = $("[id='" + evt.target.id + "']").val().length;
        //    var index = $("[id='" + evt.target.id + "']").val().indexOf('.');

        //    if (index > 0 && charCode == 46) {
        //        return false;
        //    }
        //    if (index > 0) {
        //        var CharAfterdot = (len + 1) - index;
        //        if (CharAfterdot > 3) {
        //            return false;
        //        }
        //    }
        //}
        //return true;
    }


    $('#savedata').click(function () {

        if ($("#ClassId").val() != "" && $("#SessionId").val() != "" && $('#ReceiptTypeId').val() != "") {

            var model = new Object();
            model.ClassId = $("#ClassId").val();
            model.SessionId = $("#SessionId").val();
            model.ReceiptTypeId = $("#ReceiptTypeId").val();
            var dataArray = new Array();
            var dataInfo = new Object();
            $('#Pendingfeegrid tbody tr').each(function () {
                var row = $(this);
                dataInfo = new Object();
                dataInfo.FeePrevPendingId = row.find("td:nth-child(1)").text();
                dataInfo.StudentId = row.find("td:nth-child(2)").text();
                dataInfo.AsOnDate = row.find(".studentPeriodDate .k-input").val();
                dataInfo.PendingFeeAmount = row.find('.pendingamount').val();
                dataInfo.PendingTransAmount = row.find('.pendingtransamount').val();
                if((dataInfo.AsOnDate!=""||dataInfo.AsOnDate=='undefined') && row.find(".studentPeriodDate .k-input").attr('disabled')!='disabled'){
                    dataArray.push(dataInfo);}
            });

            $("#DateToSave").val(JSON.stringify(dataArray));
            model.DateToSave = $("#DateToSave").val();

            if ( ($('#IsSchoolFee').val() == "True"||$('#IsSchoolFee').val() == "true")) {

                $.ajax({
                    async: false,
                    type: "POST",
                    url: '@Html.Raw(Url.Action("SaveFeePending", "Fee"))',
                    data: { "model": model },
                    success: function (res) {
                        if (res.status == "success") {
                            alert(res.data);
                            window.location.href = "@Html.Raw(Url.Action("PreviousPendingFee","Fee"))";
                        }
                        else {
                            alert(res.data);
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        toastr.error(err);
                    }
                });

            } else {

                $.ajax({
                    async: false,
                    type: "POST",
                    url: '@Html.Raw(Url.Action("SavePendingFee", "Fee"))',
                    data: { "model": model },
                    success: function (res) {
                        if (res.status == "success") {
                            alert(res.data);
                            window.location.href = "@Html.Raw(Url.Action("PreviousPendingFee","Fee"))";
                        }
                        else {
                            alert(res.data);
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        toastr.error(err);
                    }
                });
            }
        }
        else {
            ToastMessage("Please Provide both class and session.", "error", true, 5000);
        }
    });


</script>