﻿@model ViewModel.ViewModel.Fee.FeeCollectionList

@{
    ViewBag.Title = "PrintFeeHeadWiseCollectionList";
    Layout = null;
    decimal totalamt = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>Print Fee Collection List</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body style="margin: 0;padding: 0;background: none" @*onload="window.print()"*@>
    <div class="main-wrappeer" style="background: none!important;width: 100%;margin: 0 auto; ">
        <div class="school-automatiomn" style="width:100%; float:left; ">

            <div>
                <p style="Text-align:center; font-size:15px;margin: 0"><u><b>School Fee Headwise Collection List</b></u></p>
                <div style="  float:left; margin:0 0 0 0; width:100%">
                    <h4 style="float:right; width:50%; text-align:right; font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "><b>@Model.PrintDate</b></h4>
                </div>
                <p style="background-color: #ffffff;"><b>Date:@Model.DataDate</b></p>
                @Html.Partial("_feeconsessionReportTable", Model);
                @*<table id="exportToExcel">
                        <thead>
                            <tr>
                                @foreach (var item in Model.dt.Columns)
                                {
                                    <th>@item </th>
                                }
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 0; i < Model.dt.Rows.Count; i++)
                            {
                                decimal totalamt1 = 0;
                                <tr>
                                    @for (int j = 0; j < Model.dt.Columns.Count; j++)
                                    {
                                        if (j >= 7)
                                        {
                                            if (Model.dt.Columns[j].ToString() == "AddOn Concession")
                                            {
                                                if (Model.dt.Rows[i][j].ToString() != "")
                                                {
                                                    totalamt1 = totalamt1 - Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                                                }
                                            }
                                            else if (Model.dt.Columns[j].ToString() == "Concession")
                                            { }
                                            else
                                            {
                                                if (Model.dt.Rows[i][j].ToString() != "")
                                                {
                                                    totalamt1 += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                                                }
                                            }
                                        }
                                        <td> @Model.dt.Rows[i][j].ToString() </td>
                                    }
                                    <td>@totalamt1</td>
                                </tr>
                            }

                            <tr>
                                <td>Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                @for (int j = 7; j < Model.dt.Columns.Count; j++)
                                {

                                    decimal total = 0;

                                    for (int i = 0; i < Model.dt.Rows.Count; i++)
                                    {

                                        if (Model.dt.Columns[j].ToString() == "AddOn Concession")
                                        {
                                            if (Model.dt.Rows[i][j].ToString() != "")
                                            {
                                                totalamt = totalamt - Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                                                total += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                                            }
                                        }
                                        else if (Model.dt.Columns[j].ToString() == "Concession")
                                        {
                                            if (Model.dt.Rows[i][j].ToString() != "")
                                            {
                                                total += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                                            }
                                        }
                                        else
                                        {
                                            if (Model.dt.Rows[i][j].ToString() != "")
                                            {
                                                totalamt += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                                                total += Convert.ToDecimal(Model.dt.Rows[i][j].ToString());
                                            }
                                        }
                                    }

                                    <td> @total </td>
                                    if (j == Model.dt.Columns.Count - 1)
                                    {
                                        <td> @totalamt </td>
                                    }

                                }
                                <td></td>
                            </tr>

                        </tbody>

                    </table>*@



            </div>
        </div>
    </div>


</body>

</html>
<script>
    //$(document).ready(function () {

        //if ($("#IsExcel").val() == "1") {

        //}
    //})
</script>
