﻿@model ViewModel.ViewModel.Fee.FeeCollectionList

@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>Print Fee Collection List</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body style="margin: 0;padding: 0;background: none" @*onload="window.print()"*@>
    <div class="main-wrappeer" style="background: none!important;width: 100%;margin: 0 auto; ">
        <div class="school-automatiomn" style="width:100%; float:left; ">
            @*@if (Model.Isheaderrequired)
                {
                    <div class="top-bar-headig" style="background:#fff8f1; float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex; ">

                        <div style="width: 20%;"><img src="@Model.SchoolLogo" max-width="100" max-height="10"></div>
                        <div style="width: 60%; text-align: center; padding:0px; margin: 0px;">
                            <h2 style=" font-size:18px; color:#ae1f23; padding:0px; margin: 0px;">
                                @Model.SchoolHeader
                            </h2>
                            <p style=" padding:0px; margin: 0px;">@Model.Header1</p>
                            <p style=" padding:0px; margin: 0px;">@Model.Header2</p>
                        </div>

                        <div style="width: 20%;"> <h2 style=" font-size:18px; color:#ae1f23;">@Model.SessionName</h2></div>
                    </div>

                }
                else
                {
                    <div class="top-bar-headig" style="float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex;height:@Model.HeaderHeight">
                    </div>
                }*@

            <div >
                <p style="Text-align:center; font-size:15px;margin: 0"><u><b>Fee Collection List</b></u></p>
                <div style="  float:left; margin:0 0 0 0; width:100%">
                    <h4 style="float:right; width:50%; text-align:right; font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "><b>@Model.PrintDate</b></h4>
                </div>
                <p style="background-color: #ffffff;"><b>Date:@Model.DataDate</b></p>
                <table>
                    <thead>
                        <tr>
                            @*@foreach (var property in ViewData.ModelMetadata.Properties)
        {
            <th>@property.GetDisplayName() </th>
        }*@
                            <th><u><b>Receipt No</b></u></th>
                            <th><u><b>Adm No</b></u></th>
                            <th><u><b>Student Name</b></u></th>
                           @if(Model.Fee_ShowDateofJoining_FeeCollectionList=="1")
                           {
                            <th><u><b>DOJ</b></u></th>
                           }
                            <th><u><b>Class</b></u></th>
                            <th><u><b>R No.</b></u></th>
                            <th><u><b>Pay Mod</b></u></th>
                            @*<th><u><b>Bank Name</b></u></th>*@
                            <th><u><b>Pay Date</b></u></th>
                            <th><u><b>Details</b></u></th>
                            <th style="text-align:right"><u><b>Amount</b></u></th>
                        </tr>
                        

                    </thead>
                    <tbody>

                        @foreach (var item in Model.FeeCollectionGridList)
                        {
                        <tr>
                            <td>@item.ReceiptNo</td>
                            <td>@item.AdmissionNo</td>
                            <td>@item.StudentName</td>
                            @if (Model.Fee_ShowDateofJoining_FeeCollectionList == "1")
                            {
                                <td>@item.DOJ</td>
                            }
                                <td>@item.Class</td>
                                <td>@item.RollNo</td>
                                <td>
                                    @item.PaymentMethod @if (@item.ChequeNo != "" && @item.ChequeNo != null)
                                    {<text>(@item.ChequeNo)</text>}
                                </td>
                                @*<td>@item.ChequeNo</td>*@
                                @*<td>@item.BankName</td>*@
                                <td>@item.PaymentDate</td>
                                <td>@item.Details</td>
                                <td style="text-align:right">@item.Amount</td>
                            </tr>
                        }


                    </tbody>
                </table>

                <table style="margin-top:22px">
                    <tr style="background-color:#ffffff">
                        <td style="text-align:center; border-left: 1px  solid #dddddd;border-top: 1px  solid #dddddd;"></td>
                        <td style="text-align:center; border-top: 1px  solid #dddddd;"></td>
                        <td style="text-align:center; border-top: 1px solid #dddddd;"><b>#</b></td>
                        <td style="text-align:center; border: 1px solid #dddddd;"><b>Cash</b></td>
                        <td style="text-align:center; border: 1px solid #dddddd;"><b>Bank</b></td>
                        <td style="text-align:center; border: 1px solid #dddddd;"><b>Cheque</b></td>
                    </tr>
                    <tr style="background-color:#ffffff">
                        <td rowspan="2" style="text-align:center; border: 1px solid #dddddd;"><b>New</b></td>
                        <td style="text-align:center; border: 1px solid #dddddd;">H</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => !M.IsOld && M.IsHostler).Count()</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => !M.IsOld && M.PaymentMethod == "By Cash" && M.IsHostler).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => !M.IsOld && M.PaymentMethod.Contains("By Bank") && M.IsHostler).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => !M.IsOld && M.PaymentMethod.Contains("By Cheque") && M.IsHostler).Sum(m => m.Amount)</td>
                    </tr>

                    <tr style="background-color:#ffffff">
                        <td style="text-align:center; border: 1px solid #dddddd;">DS</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => !M.IsOld && (!M.IsHostler || M.IsHostler == null)).Count()</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => !M.IsOld && M.PaymentMethod == "By Cash" && (!M.IsHostler || M.IsHostler == null)).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => !M.IsOld && M.PaymentMethod.Contains("By Bank") && (!M.IsHostler || M.IsHostler == null)).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => !M.IsOld && M.PaymentMethod.Contains("By Cheque") && (!M.IsHostler || M.IsHostler == null)).Sum(m => m.Amount)</td>
                    </tr>

                    <tr style="background-color:#ffffff">
                        <td rowspan="2" style="text-align:center; border: 1px solid #dddddd;"><b>Old</b></td>
                        <td style="text-align:center; border: 1px solid #dddddd;">H</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.IsOld && M.IsHostler).Count()</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.IsOld && M.PaymentMethod == "By Cash" && M.IsHostler).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.IsOld && M.PaymentMethod.Contains("By Bank") && M.IsHostler).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.IsOld && M.PaymentMethod.Contains("By Cheque") && M.IsHostler).Sum(m => m.Amount)</td>

                    </tr>
                    <tr style="background-color:#ffffff">
                        <td style="text-align:center; border: 1px solid #dddddd;">DS</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.IsOld && (!M.IsHostler || M.IsHostler == null)).Count()</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.IsOld && M.PaymentMethod == "By Cash" && (!M.IsHostler || M.IsHostler == null)).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.IsOld && M.PaymentMethod.Contains("By Bank") && (!M.IsHostler || M.IsHostler == null)).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.IsOld && M.PaymentMethod.Contains("By Cheque") && (!M.IsHostler || M.IsHostler == null)).Sum(m => m.Amount)</td>

                    </tr>

                    <tr style="background-color:#ffffff">
                        <td rowspan="2" style="text-align:center; border: 1px solid #dddddd;"><b>Total</b></td>
                        <td style="text-align:center; border: 1px solid #dddddd;">H</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M =>  M.IsHostler).Count()</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.PaymentMethod == "By Cash" && M.IsHostler).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.PaymentMethod.Contains("By Bank") && M.IsHostler).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.PaymentMethod.Contains("By Cheque") && M.IsHostler).Sum(m => m.Amount)</td>

                    </tr>
                    <tr style="background-color:#ffffff">
                        <td style="text-align:center; border: 1px solid #dddddd;">DS</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M =>  (!M.IsHostler || M.IsHostler == null)).Count()</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.PaymentMethod == "By Cash" && (!M.IsHostler || M.IsHostler == null)).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.PaymentMethod.Contains("By Bank") && (!M.IsHostler || M.IsHostler == null)).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.PaymentMethod.Contains("By Cheque") && (!M.IsHostler || M.IsHostler == null)).Sum(m => m.Amount)</td>

                    </tr>

                    <tr style="background-color:#ffffff">
                        <td colspan="2" rowspan="2" style="text-align:center; border: 1px solid #dddddd;"><b>G.Total</b></td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Count()</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.PaymentMethod == "By Cash").Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.PaymentMethod.Contains("By Bank")).Sum(m => m.Amount)</td>
                        <td style="text-align:center; border: 1px solid #dddddd;">@Model.FeeCollectionGridList.Where(M => M.PaymentMethod.Contains("By Cheque")).Sum(m => m.Amount)</td>
                    </tr>

                </table>
                <table style="margin-top:22px">
                    <tr style="background-color: #ffffff">
                        <th colspan="1" style="text-align:left ;margin:0;padding:0;width:25%"><b><u>Head Name</u></b></th>
                        <th colspan="1" style="width:25%;text-align: right;"><b><u>Amount</u></b></th>
                        <th colspan="2"></th>
                    </tr>

                    @foreach (var item in Model.FeeCollectionGridList.GroupBy(m => m.RecieptType))
                    {
                        <tr style="background-color: #ffffff">
                            <td colspan="1" style="text-align:left;width:25%">@item.FirstOrDefault().RecieptType</td>
                            <td colspan="1" style="width:25%;text-align: right;">@item.Sum(m => m.Amount)</td>
                            <td colspan="2"></td>
                        </tr>
                    }

                    <tr>
                        <td colspan="1" style="background-color: #ffffff;width:25%"></td>
                        <td colspan="1" style="background-color: #ffffff;width:25%;text-align: right;">@Model.FeeCollectionGridList.Sum(m => m.Amount)</td>
                        <td colspan="2" style="background-color: #ffffff"></td>
                    </tr>
                  

                </table>
            </div>
        </div>
    </div>


</body>
</html>
