﻿@model List<ViewModel.ViewModel.Fee.VouchersModel>
@{
    Layout = null;

}
<html>
<head>
    <title>Print Vouchers</title>
    <style>
        @@page {
            size: landscape; /* auto is the initial value */
            margin: 0mm; /* this affects the margin in the printer settings */
        }

        html {
            background-color: #FFFFFF;
            margin: 0px; /* this affects the margin on the html before sending to printer */
        }

        body {
            border: 0;
            margin: 0mm; /* margin you want for the content */
        }


        .slip_contant_border {
            border-top: 1px solid #000 !important;
            border-collapse: collapse !important;
        }
    </style>

</head>
<body onload="window.print()">

@foreach (var item1 in Model)
{
    foreach (var item in item1.VouchersFeeHeadsList)
    {
        if (item.Count > 0)
        {
            <div style="width:100%; float:left;page-break-after: always;  page-break-inside: avoid;">
                @Html.Partial("_VoucherPrint", item1, new ViewDataDictionary { { "item", item } })
            </div>
        }
    }
}


</body>
</html>