﻿@model ViewModel.ViewModel.Fee.DonationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>Print Donation Receipt</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body style="margin: 0;padding: 0;background: none" onload="window.print()">
    <div class="main-wrappeer" style="background: none!important;padding: 20px 0px 0px 0px;width: 600px;margin: 0 auto; ">
        <div class="school-automatiomn" style="width:100%; float:left; border:1px #ddd solid; ">
            @if (Model.Isheaderrequired)
            {
                <div class="top-bar-headig" style="background:#fff8f1; float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex; ">

                    <div style="width: 20%;"><img src="@Model.SchoolLogo" max-width="100" max-height="10"></div>
                    <div style="width: 60%; text-align: center; padding:0px; margin: 0px;">
                        <h2 style=" font-size:18px; color:#ae1f23; padding:0px; margin: 0px;">
                            @Model.SchoolHeader
                        </h2>
                        <p style=" padding:0px; margin: 0px;">@Model.Header1</p>
                        <p style=" padding:0px; margin: 0px;">@Model.Header2</p>
                    </div>

                    <div style="width: 20%;"> <h2 style=" font-size:18px; color:#ae1f23;">@Model.SessionName</h2></div>
                </div>

            }
            else
            {
                <div class="top-bar-headig" style="float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex;height:@Model.HeaderHeight">
                </div>
            }

            <div class="School_Copy" style=" padding:10px; float:left; width:96%; ">

                    <p style="Text-align:center; font-size:13px;margin: 0">
                        Donation Slip
                    </p>
                
                <div class="fee_details" style="  float:left; margin:0 0 0 0; width:100%">
                    <h4 style="float:left; width:50%; text-align:left;  font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Receipt No:  </b><span style="font-size: 15px; font-weight: bold;">@Model.ReceiptNo</span></h4>
                    <h4 style="float:right; width:50%; text-align:right; font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Dated:</b>@Model.Date</h4>
                </div>
                <div style="float: left;width:100%">
                    <h4 style="float:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Donor Name:</b>@Model.DonorName</h4>
                </div>
                <div style="float: left;width:100%">
                    <h4 style="float:left;   font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Payment mode :</b>@Model.PaymentMode</h4>
                </div>
                <div style="width:100%">
                    <p style="width:50%; float:left; text-align:left; font-size:13px;margin: 4px 0 2px 0;padding-left: 10px  ">Paid Amount</p>
                    <p style="width:48%; float:left; text-align:right; font-size:13px;margin: 4px 0 2px 0; "><i class="@Helper.currencyCode"></i> @Model.Amount</p>
                </div>
                 <div style="width:100%; float:left; border:1px #ddd solid; border-right:0px; border-left:0px;">
                        <p style=" float:left;  font-size:13px; margin:4px 0 4px 0px ">Remarks : &nbsp; @Model.Remarks</p>
                </div>
                <p style="float:left; width:50%; text-align:left; font-size:13px; margin:4px 0 4px 0px  "> Authorised Signature :</p>
                <p style="float:right; width:50%; text-align:right; font-size:13px;  margin:4px 0 4px 0px ">UserName:@Model.UserName</p>
            </div>
        </div>
        <div style="border: 1px #ddd dashed;width: 100%;margin: 5px 0px 5px 0px;float: left;"></div>
    </div>
</body>
</html>
