﻿@model ViewModel.ViewModel.Fee.RecieptTypeFeeHeadModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
    ViewBag.Title = "ManageRecieptTypeFeeHead";

}

<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Reciept Type Fee Head</h1>
    </div>
    @if (Model.IsAuthToAdd)
    {
        <div class="col-md-6" id="Btnaddnewdoc">
            @*<input type="button" id="issue_certificate_filter" value="Filter" class="btn btn-default btn-xs pull-right" />*@
            <input type="button" id="issue_certificate" value="Add New" class="btn btn-default btn-xs pull-right" />
        </div>
    }
</div>

@using (Html.BeginForm("ReceiptTypeFeeHead", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.HiddenFor(m => m.ReceiptTypeFeeHeadId)

    <div class="row create_certificate top-space-10" style="margin-top: 0;margin-bottom: 10px;">
        <div class="row">

            <div class="col-md-2">
                <label class=" control-label">Receipt Type</label>

                @Html.DropDownListFor(model => model.ReceiptTypeId, Model.AvailableRecieptType, new { @class = "form-control", @id = "ReceiptTypeId1" })

            </div>

            <div class="col-md-2">
                <label class=" control-label">Fee Head</label>

                @Html.DropDownListFor(model => model.FeeHeadId, Model.AvailableFeeHead, new { @class = "form-control" })


            </div>

            <!-- Form Coulmn -->
            <div class="col-md-1" id="IsActive_div" style="display:none">
                <label class=" control-label">Is Active </label><!-- Form Label -->
                @Html.CheckBoxFor(m => m.IsActive)
            </div>
            <!-- //Form Coulmn -->



            <div class="col-md-3 top-space-20">
                <button type="button" class="btn btn-success" id="save_certificate" style="display:none">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
                <button type="button" class="btn btn-success" id="filter_certificate">
                    Filter
                </button>
                <button type="button" class="btn btn-danger" id="Close_create_certificate" style="display:none">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
                <button type="button" class="btn btn-danger" id="reset_create_certificate">
                    Reset
                </button>
            </div>
        </div>
    </div>

}
<div class="row top-space-10">
    <div id="certificate-grid"></div>
</div>

<script>
    //create certificate
    $('#save_certificate').click(function () {
        $('#ks_loader').show();

        var isfromvalid = FormValidation();
        if (isfromvalid) {
            var model = new Object();
            model.ReceiptTypeId = $('#ReceiptTypeId1').val();
            model.FeeHeadId = $('#FeeHeadId').val();
            model.IsActive = $('#IsActive').val();
            model.ReceiptTypeFeeHeadId = $('#ReceiptTypeFeeHeadId').val();

            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("ReceiptTypeFeeHead", "Fee"))',
                data: { "RecieptTypeFeeHeadModel": model,},
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);
                        $('#ks_loader').hide();
                        //window.location.reload();
                        $('#Close_create_certificate').trigger('click');

                        var grid = $('#certificate-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                    }
                    else {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++)
                            ToastMessage(validationaray[i], "error", true, 5000);
                        $('#ks_loader').hide();

                        $('#ks_loader').hide();
                    }
                },
                error: function (status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            var validationaray = validationmsg.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
            $('#ks_loader').hide();
        }
    });
    $(document).ready(function(){
        $('#ReceiptTypeId1').change(function(){
            var receipttypeid=$(this).val();
            if(receipttypeid =='')
            {
                ToastMessage("Please provide Receipt Type", "error", true, 5000);
            }else if($('#save_certificate').css('display')=="none"){

            }
            else
            {        $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("GetFeeHeadUsedinReceiptTypeFH", "Fee"))',
                data: { "ReceiptTypeId": receipttypeid},
                success: function (result) {
                    if (result.status == "success") {
                        var FeeheadList = $('#FeeHeadId');
                        FeeheadList.empty();
                        $.each(result.data, function () {
                            FeeheadList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                    }
                },
                error: function (status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

            }

        });

    });
  
    $('#IsActive').click(function () {
        if ($('#IsActive').is(':checked') == true)
        {
            $('#IsActive').prop('checked', true);
            $('#IsActive').val(true);
        }
        else
        {
            $('#IsActive').val(false);
            $('#IsActive').prop('checked', false);
        }
    });
    //hide show create certificate div
    $('#issue_certificate').click(function () {
        $('#save_certificate').text("");
        $('#save_certificate').append('<i class="fa fa-floppy-o"></i> Save');
        $('#save_certificate').css('display','inline-block');
        $('.create_certificate').css('display','block');

        $('.issuedate_div').css('display', 'inline-block');

        $('#ReceiptTypeId1').val("");
        $('#FeeHeadId').val("");
       // $('#IsActive').prop('checked', false);

        $('#filter_certificate').css('display','none');
        $('#Close_create_certificate').css('display','inline-block');
        $('#reset_create_certificate').css('display','none');
        $('.issuedate-filters_div').css('display','none');
        $('#IsActive_div').css('display','block');
        var grid = $('#certificate-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
        $('#ReceiptTypeId1').attr('disabled',false);
    });
    //hide show filter certificate div
    $('#issue_certificate_filter').click(function () {

        $('#save_certificate').css('display','none');
        $('#filter_certificate').css('display','inline-block');
        $('.create_certificate').css('display','inline-block');
        $('#IssueDate').val("");
        $('.issuedate_div').css('display','none');
        $('#SessionId').val("").trigger('change');
        $('#IssueDocTypeId').val("").trigger('change');
        $('#DocNo').val("");
        $('#IssueDocId').val("");
        $('#Session_div').show();
        $('#IssueDocTypeId').removeAttr('disabled');
        $('#SessionId').removeAttr('disabled');
        $('.issuedate-filters_div').css('display','block');
    });
    $('#filter_certificate').click(function () {

        var grid = $('#certificate-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
    })
    $('#reset_create_certificate').click(function () {
        $('#ReceiptTypeId1').val("");
        $('#FeeHeadId').val("");
        $('#IsActive').prop('checked', false);

        $('#ClassId').val('');
        $('#AdmissionNo').val('');
        $('#AdmissionNo').removeAttr('disabled');
        $('#IssueDocTypeId').val('');
        $('#DocNo').val('');
        $('#IssueDateFrom').val('');
        $('#IssueDateTo').val('');
        $('#ReceiptTypeId1').attr('disabled',false);
        var grid = $('#certificate-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
    })
    //close create certificate div
    $('#Close_create_certificate').click(function () {
        $('#issue_certificate').show();
        //$('.create_certificate').hide();
        $('#IssueDocId').val();
        $('.issuedate-filters_div').css('display','block');
        $('.issuedate_div').css('display','none');
        $('#save_certificate').css('display','none');
        $('#filter_certificate').css('display','inline-block');
        $('#Close_create_certificate').css('display','none');
        $('#reset_create_certificate').css('display','inline-block');
        $('#IsActive_div').css('display','none');
        $('#ReceiptTypeId1').attr('disabled',false);
        $('#ReceiptTypeId1').val("");
        $('#FeeHeadId').val("");
        $('#IsActive').prop('checked', false);
    });








    var validationmsg = "";
    var isvalid = true;
    function FormValidation() {
        validationmsg = "";
        isvalid = true;

        if ($('#ReceiptTypeId1').val() == "") {
            validationmsg += "Receip type required ε";
            isvalid = false;
        }
        if ($('#FeeHeadId').val() == "") {
            validationmsg += "FeeHead type required ε";
            isvalid = false;
        }



        return isvalid;
    }





</script>
<script>
    //kendo grid for certificate issued view
    $(document).ready(function () {
        $("#certificate-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SelectReceiptTypeFeeHead", "Fee"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDataCertificate
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            columns: [{
                field: "ReceiptTypeFeeHeadId",
                title: "Receipt Type Fee Head Id",
                hidden: true,
                attributes: {
                    "class": "ReceiptTypeFeeHeadId",
                }
            },{
                field: "FeeHeadId",
                title: "Fee Head Id",
                hidden: true,
                attributes: {
                    "class": "FeeHeadId",
                }
            },{
                field: "ReceiptTypeId",
                title: "Receipt Type Id",
                hidden: true,
                attributes: {
                    "class": "ReceiptTypeId",
                }
            },{
                field: "ReceiptType",
                title: "Receipt Type",
                sortable: true,
                width:200
            },{
                field: "FeeHead",
                title: "Fee Head",
                sortable: true,
                width:100
            },{
                field: "IsActive",
                title: "IsActive",
                sortable: true,
                width:200,
                attributes: {
                    "class": "IsActive",
                }
            },{
                field: "ReceiptTypeFeeHeadId",
                title: "Action",
                width:100,
                sortable: false,
                template:
                   '#if(IsAuthToEdit){#<a title="Edit" data-toggle="tooltip" data-placement="top" class="edit_event_kendo  btn btn-xs btn-default" href="javascript:void(0)"   cursor:pointer" ><i class="fa fa-pencil" aria-hidden="true"></i></a>#}#'
                    +'#if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top" class="k-grid-schedular-myDelete btn btn-xs btn-default"  cursor:pointer"  href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
            }]
        });
    });


    //delete certificate
    $("#certificate-grid").on("click", ".k-grid-schedular-myDelete", function (e) {
        var ReceiptTypeFeeHead = $(this).parent().parent().find('.ReceiptTypeFeeHeadId').text();
        $('#ks_loader').show();
        if(confirm("Are you sure want to delete this Receipt Type Fee Head")){
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("DeleteReceiptTypeFeeHead", "Fee"))',
                data: { "ReceiptTypeFeeHead": ReceiptTypeFeeHead,},
                success: function (result) {
                    if (result.status == "success")
                    {
                        alert(result.data, "success", true, 5000);
                        window.location.reload();
                        $('#ks_loader').hide();
                    }
                    else
                    {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function (status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else
        {$('#ks_loader').hide();
            return false;

        }
    });


    //edit certificate
    $("#certificate-grid").on("click", ".edit_event_kendo", function (e) {

        $('#save_certificate').show(); $('#Close_create_certificate').show(); $('#filter_certificate').hide(); $('#reset_create_certificate').hide();
        $('#save_certificate').text("");
        $('#save_certificate').append('<i class="fa fa-floppy-o"></i> Update');
        $('#ks_loader').show();
        $('#IsActive_div').css('display','block');
        var row = $(this).parent().parent();
        $('#ReceiptTypeId1').val(row.find('.ReceiptTypeId').text());
        $('#ReceiptTypeId1').attr('disabled',true);
        $('#FeeHeadId').val(row.find('.FeeHeadId').text());
        $('#ReceiptTypeId1').val(row.find('.ReceiptTypeId').text());
        $('#data_validation_div_Certificate').hide();
        $('#data_validation_div_Certificate ul').html("");
        $('#ReceiptTypeFeeHeadId').val(row.find('.ReceiptTypeFeeHeadId').text());
        $('#ks_loader').hide();
        var isactive=row.find('.IsActive').text();
        if(isactive=="true"){
            $('#IsActive').prop('checked', true);
            $('#IsActive').val(true);
        }else{
            $('#IsActive').prop('checked', false);
            $('#IsActive').val(false);
        }
    });

    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    function additionalDataCertificate() {
        var data = {
            ReceiptTypeId:$('#ReceiptTypeId1').val(),
            FeeHeadId:$('#FeeHeadId').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

</script>







