﻿@model ViewModel.ViewModel.Fee.ReceiptTypeFee

@{
    ViewBag.Title = "ReceiptType";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;

}


<style>
    #receipt-grid table thead th {
        white-space: normal !important;
    }
</style>

<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Receipt type</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        <a href="javascript:void(0)" id="filter_fee_ReceiptType" class="btn btn-xs btn-default">Filters</a>
        <a href="javascript:void(0)" id="add_fee_ReceiptType" class="btn btn-xs btn-default">Add New</a>
    </div>
</div>

<form class="form-horizontal ks-custom-form Filter_Receipt_Type_div" style="display:none">
    <div class="row  top-space-10" id="divFilter">
        <div class="col-md-3">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Receipt Type</label>
                @Html.DropDownList("receiptTypeId", Model.AvailableReceiptTypeFilter, new { @class = "form-control ", @id = "receiptTypeId" })
            </div>
            <!-- //Form Coulmn -->
        </div>

        <!-- Form Coulmn -->
        <div class="col-md-4">

            <button type="button" id="Filter_ReceiptType" name="save" class="btn btn-default" style="margin-top:25px">
                Filter
            </button>

            <button type="button" class="btn btn-danger" id="Reset_filter_ReceiptType" style="margin-top:25px">
                <i class="fa fa-ban"></i>
                Reset
            </button>

        </div>
    </div>
</form>


<div class="row create_groupfeetype" style="" id="divReceiptId" hidden>
    <br />
    <div class="col-md-3">
        @Html.Hidden("receiptId", "", new { @id = "receiptId", @class = "hndcls" })
    </div>
    <!-- Form Coulmn -->
    <div class="col-md-12">

        <div class="col-md-3">
            <label class="control-label">Receipt Type</label>
            @Html.TextBox("receiptType", "", new { @class = " form-control", @placeholder = "Receipt Type", @maxlength = 50, })
        </div>

        <div class="col-md-3" style="display:none;">
            <label class="control-label">Receipt Template</label>
            @Html.TextBox("receiptTemplate", "", new { @class = " form-control", @placeholder = "Receipt Template", @maxlength = 50, })
        </div>

        <div class="col-md-3">
            <div class="">
                <label class="control-label">Extra Print Text</label>
                @Html.TextBox("ExtraPrintText", "", new { @class = " form-control", @placeholder = "Extra Print Text", @maxlength = 50 })
            </div>
        </div>
        <div class="col-md-3">
            <div class="">
                <label class="control-label">Receipt Series Ref</label>
                @Html.DropDownListFor(model=>model.ReceiptSeriesRefId,Model.AvailableReceiptSeriesRef, new { @class = "drop-down form-control", @placeholder = "Receipt Series", @maxlength = 15 })
            </div>
        </div>
        <div class="col-md-3 Receipt_Series">
            <div class="">
                <label class="control-label">Receipt Series</label>
                @Html.TextBox("receiptSeries", "", new { @class = " form-control", @placeholder = "Receipt Series", @maxlength = 15 })
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <br />
        <div class="col-md-3">
            <div class="">
                @Html.CheckBoxFor(m => m.includeHeader)
                <label class=" control-label">Include Header In Print</label>
            </div>
        </div>


        <div class="col-md-3">
            <div class="">
                @Html.CheckBoxFor(m => m.newStudenrtFee)
                <label class=" control-label">Apply New Student Fee</label>
            </div>
        </div>



        <div class="col-md-3">
            <div class="">
                @Html.CheckBoxFor(m => m.groupFeeHead)
                <label class=" control-label">Show In Group Fee Head</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="">
                @Html.CheckBoxFor(m => m.linkStudentAddon)
                <label class="control-label">Link Student Addon</label>
            </div>
        </div>
        
    </div>

    <div class="col-md-12">
        <br />
        <div class="col-md-2">
            <div class="">
                @Html.CheckBoxFor(m => m.active)
                <label class=" control-label">Active</label>
            </div>
        </div>

        <div class="col-md-3">
            <div class="">
                @Html.RadioButtonFor(m => m.Isdefault, "defaultSchoolFee", new { @class = "defaultSchoolFee" })
                <label class=" control-label">School Fee</label>
            </div>
        </div>
        

        <div class="col-md-2">
            <div class="">
                @Html.RadioButtonFor(m => m.Isdefault, "tptFee", new { @class = "tptFee" })
                <label class="control-label">TPT Fee</label>
            </div>
        </div>


        <div class="col-md-2">
            <div class="">
                @Html.RadioButtonFor(m => m.Isdefault, "IsMiscFee", new { @class = "IsMiscFee" })
                <label class=" control-label">Misc Fee</label>
            </div>
        </div>

        
        <div class="col-md-2">
            <div class="">
                @Html.RadioButtonFor(m => m.Isdefault, "pendingFee", new { @class = "pendingFee" })
                <label class=" control-label">Pending Fee</label>
            </div>
        </div>

        <div class="col-md-3">
            <label class=" control-label"></label>
            <div>
                <button type="button" id="Add_ReceiptType" name="save" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Submit
                </button>

                <button type="button" name="save" class="btn btn-danger" id="cancel_receiptType">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row top-space-10">
    <div class="col-md-12">
        <div id="receipt-grid">
            <script>
                $(document).ready(function () {
                    $("#receipt-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("FeeReceiptTypeList", "Fee"))",
                                    type: "POST",
                                    dataType: "json",
                                    contentType: "application/json",
                                    data: additionalData
                                },
                                parameterMap: function (data) {
                                    return JSON.stringify(data);
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: '@(defaultGridPageSize)',
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        dataBound: onDataBound,
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        scrollable: false,
                        sortable: true,
                        columns: [
                            {
                                field: "receiptId",
                                title: "Receipt Id",
                                hidden: true,
                                width: "5%"
                            },
                            {
                                field: "receiptType",
                                title: "Receipt Type",
                                sortable: true,
                                width: "5%"
                            },
                            {
                                field: "",
                                title: "Category",
                                template: '#if(defaultSchoolFee){# <label>School Fee</label>#}#' +
                                    '#if(tptFee){# <label>Transport Fee</label>#}#' +
                                     '#if(pendingFee){# <label>Pending Fee</label>#}#' +
                                    '#if(IsMiscFee){# <label>Misc Fee</label>#}#',
                                sortable: true,
                                width: "5%"
                            }, {
                                field: "receiptTemplate",
                                title: "Receipt Template",
                                hidden: true,
                                width: "5%"
                            },
                            {
                                field: "ExtraPrintText",
                                title: "Print Text",
                                sortable: true,
                                width: "5%"
                            }, {
                                field: "receiptSeries",
                                title: "Receipt Series",
                                sortable: true,
                                width: "5%"
                            }, {
                                field: "RefReceiptSeries",
                                title: "Ref Receipt Series",
                                sortable: true,
                                width: "5%"
                            }, {
                                field: " includeHeader",
                                title: "Include Header",
                                sortable: false,
                                width: "5%"
                            },
                            {
                                field: "newStudenrtFee",
                                title: "New Student Fee",
                                sortable: true,
                                width: "5%"
                            }, {
                                field: "groupFeeHead",
                                title: "Group FeeHead",
                                sortable: true,
                                width: "5%"
                            }, {
                                field: "defaultSchoolFee",
                                title: "IsSchool Fee",
                                sortable: true,
                                width: "5%",
                                hidden:true
                            }, {
                                field: "linkStudentAddon",
                                title: "Student Addon",
                                sortable: true,
                                width: "5%"
                            }, {
                                field: "tptFee",
                                title: "TPT Fee",
                                sortable: true,
                                width: "5%",
                                hidden: true
                            }, {
                                field: "active",
                                title: "Active",
                                sortable: true,
                                width: "5%"
                            }, {
                                field: "pendingFee",
                                title: "Pending Fee",
                                sortable: true,
                                width: "5%",
                                hidden: true
                            },
                             {
                                 field: "IsReceiptSeries",
                                 title: "IsReceiptSeries",
                                hidden: true
                                
                             },
                            {
                                field: "IsMiscFee",
                                title: "Is Misc Fee",
                                hidden: true
                            },

                             {
                                field: "receiptId",
                                title: "Action",
                                width: "7%",
                                template: '#if(IsAuthToEdit){#<a href="javascript:void(0)" title="Edit"'
                                                        + ' data-toggle="tooltip" data-placement="top"'
                                                        + ' class="updateRecords btn btn-xs btn-default"  dataid="#=receiptId#"><i class="fa fa-pencil"></i></a>#}#'
                                                        + ' #if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                                                        + ' class="deleteRecords  btn btn-xs btn-default"   cursor:pointer" dataid="#=receiptId#"'
                                                        + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                             }, {
                                 field: "ReceiptSeriesRefId",
                                 title: "ReceiptSeriesRefId",
                                 hidden: true,
                                 width: "5%"
                             }]
                    });

                    function onDataBound(arg) {
                        $('[data-toggle=tooltip]').tooltip();

                    }

                    function additionalData() {
                        var data = {
                            FilterReceiptTypeId: $('#receiptTypeId').val(),
                        };
                       return data;
                    }

                    addAntiForgeryToken = function (data) {
                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                });
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#ReceiptSeriesRefId').change(function () {

        var ReceiptSeriesRefId = $(this).val();
        if (ReceiptSeriesRefId > 0) {
            $('.Receipt_Series').hide();
            $('#receiptSeries').val('');
        } else {
            $('.Receipt_Series').show();
            $('#receiptSeries').removeAttr("readonly");
        }

    })
    //Method for hide show filter button functionality.
    $('#filter_fee_ReceiptType').click(function () {

        $('.Filter_Receipt_Type_div').css('display', 'block');
        $.ajax({
            type: "POST",
            url: "/Fee/ReceiptTypelist",
            success: function (result) {
                if (result.status == "success") {
                    var option = "";
                    for (var i = 0; i <= result.data.length - 1; i++) {
                        option += "<option value=" + result.data[i].Value + ">" + result.data[i].Text + "</option>";
                    }
                    $('#receiptTypeId').html(option);
                }
                else {
                    
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
              
                $('#ks_loader').hide();
            }

        });

        $('#divReceiptId').css("display", "none");

    })


    //Method for hide show Add new button functionality.
    $('#add_fee_ReceiptType').click(function () {
        $('#divReceiptId').css("display", "block");
        $('.Filter_Receipt_Type_div').css("display", "none");
        $("#Add_ReceiptType").text('Submit');
        $('#receiptId').val('');
        $('#receiptType').val('');
        $('#receiptTemplate').val('');
        $('#ExtraPrintText').val('');
        $('#receiptSeries').val('');
        $('#includeHeader').prop('checked', false);
        $('#newStudenrtFee').prop('checked', false);
        $('#groupFeeHead').prop('checked', false);
        $('.defaultSchoolFee').prop('checked', false);
        $('#linkStudentAddon').prop('checked', false);
        $('.tptFee').prop('checked', false);
        $('#active').prop('checked', false);
        $('.pendingFee').prop('checked', false);
        $('.IsMiscFee').prop('checked', false);

    })
    //Method for Filter Grid based on receipt type filter.
    $('#Filter_ReceiptType').click(function () {
        var grid = $('#receipt-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
    })
    //Method for Reset based on receipt type reset button.
    $('#Reset_filter_ReceiptType').click(function () {
        $('#receiptTypeId').val('');
        $('#receiptType').val('');
        $('#receiptTemplate').val('');
        $('#ExtraPrintText').val('');
        $('#receiptSeries').val('');
        $('#includeHeader').prop('checked', false);
        $('#newStudenrtFee').prop('checked', false);
        $('#groupFeeHead').prop('checked', false);
        $('#defaultSchoolFee').prop('checked', false);
        $('#linkStudentAddon').prop('checked', false);
        $('#tptFee').prop('checked', false);
        $('#active').prop('checked', false);
        $('#pendingFee').prop('checked', false);

        var grid = $("#receipt-grid").data("kendoGrid");
        grid.dataSource.page(1);
    })

    //Cancel button due to add new.
    $('#cancel_receiptType').click(function () {
        $('#add_groupfeetype').show();
        $('.create_groupfeetype').css('display', 'none');
    })
   
    //Only numeric value.
    $('#receiptSeries').keydown(function (e) {
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
           (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
           (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }

    });


    $(document).ready(function () {

        //Update record method for kendo grid
        $("#receipt-grid").on("click", ".updateRecords", function (e) {
            //Change The button text onclick edit button
            $("#Add_ReceiptType").text('Update');
            $('.Filter_Receipt_Type_div').css('display', 'none');
            //Functionallity for Update record method for kendo grid
            var row = $(this).parent().parent();
            $('#receiptId').val(row.find("td:nth-child(1)").text().trim());
            $('#receiptType').val(row.find("td:nth-child(2)").text().trim());
            $('#receiptTemplate').val(row.find("td:nth-child(4)").text().trim());
            $('#ExtraPrintText').val(row.find("td:nth-child(5)").text().trim());
          //  $('#receiptSeries').val(row.find("td:nth-child(6)").text().trim());
            if (row.find("td:nth-child(19)").text() == null || row.find("td:nth-child(19)").text() == 0) {
                $('#receiptSeries').val(row.find("td:nth-child(6)").text().trim());
                $('.Receipt_Series').show();
            } else {
                $('#ReceiptSeriesRefId').val(row.find("td:nth-child(19)").text().trim());
                $('.Receipt_Series').hide();
              
            }

            if (row.find("td:nth-child(8)").text().trim() == 'true') {
                $('#includeHeader').prop('checked', true);
            }
            else {
                $('#includeHeader').prop('checked', false);
            }
            if (row.find("td:nth-child(9)").text().trim() == 'true') {
                $('#newStudenrtFee').prop('checked', true);
            }
            else {
                $('#newStudenrtFee').prop('checked', false);
            }
            if (row.find("td:nth-child(10)").text().trim() == 'true') {
                $('#groupFeeHead').prop('checked', true);
            }
            else {
                $('#groupFeeHead').prop('checked', false);
            }
            

            if (row.find("td:nth-child(12)").text().trim() == 'true') {
                $('#linkStudentAddon').prop('checked', true);
            }
            else {
                $('#linkStudentAddon').prop('checked', false);
            }
          
            if (row.find("td:nth-child(14)").text().trim() == 'true') {
                $('#active').prop('checked', true);
            }
            else {
                $('#active').prop('checked', false);
            }
           


            if (row.find("td:nth-child(15)").text().trim() == 'true')
            {
                $('#receiptSeries').attr("readonly", true);
                //$('#ReceiptSeriesRefId').attr("disabled", true);
            }
            else
            {
                $('#receiptSeries').removeAttr("readonly");
                //$('#ReceiptSeriesRefId').removeAttr("disabled");
            }

            //pendingFee  IsMiscFee  tptFee  defaultSchoolFee

            if (row.find("td:nth-child(11)").text().trim() == 'true') {
                $('.defaultSchoolFee').prop('checked', true);
            }
            else {
                $('.defaultSchoolFee').prop('checked', false);
            }

            if (row.find("td:nth-child(15)").text().trim() == 'true') {
                $('.pendingFee').prop('checked', true);
            }
            else {
                $('.pendingFee').prop('checked', false);
            }

            if (row.find("td:nth-child(13)").text().trim() == 'true') {
                $('.tptFee').prop('checked', true);
            }
            else {
                $('.tptFee').prop('checked', false);
            }
            if (row.find("td:nth-child(17)").text().trim() == 'true') {
                $('.IsMiscFee').prop('checked', true);
            }
            else {
                $('.IsMiscFee').prop('checked', false);
            }


            $('#divReceiptId').show();
        });

        //Delete record method for kendo grid
        $("#receipt-grid").on("click", ".deleteRecords", function (e) {
            $('.tooltip').hide();
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });
        $("#receipt-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        })
        //delete ajax method
        $("#receipt-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var productid = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteReceiptType", "Fee"))',
                data: { "ReceiptTypeId": productid },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#receipt-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var products = tablerow.find("td:nth-child(1)").text();
                            if (productid == products)
                                tablerow.remove();
                        });
                        ToastMessage(result.data, "success", true, 5000);
                        $("#receipt-grid").data('kendoGrid').dataSource.read();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });

        //Add new record.
        $('#Add_ReceiptType').click(function () {
            $('#ks_loader').show();
            var valid = ValidateReceiptType();
            if (!valid) {
                var validationaray = Receiptvalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                $('#ks_loader').hide();
                return false;
            }

            else {
                var ReceiptAddModel = new Object();
                var Packaeid = $('#hdnpckId').val();
                ReceiptAddModel.receiptId = $('#receiptId').val();
                ReceiptAddModel.receiptType = $('#receiptType').val();
                //ReceiptAddModel.receiptTemplate = $('#receiptTemplate').val();
                ReceiptAddModel.ExtraPrintText = $('#ExtraPrintText').val();
                ReceiptAddModel.receiptSeries = $('#receiptSeries').val();
                ReceiptAddModel.ReceiptSeriesRefId = $('#ReceiptSeriesRefId').val();
                var IsGroupFee = $('#groupFeeHead').prop("checked");
                if (IsGroupFee == true)
                    ReceiptAddModel.groupFeeHead = true;
                else
                    ReceiptAddModel.groupFeeHead = false;

                var Isheader = $('#includeHeader').prop("checked");
                if (Isheader == true)
                    ReceiptAddModel.includeHeader = true;
                else
                    ReceiptAddModel.includeHeader = false;

                var IsStuAddon = $('#linkStudentAddon').prop("checked");
                if (IsStuAddon == true)
                    ReceiptAddModel.linkStudentAddon = true;
                else
                    ReceiptAddModel.linkStudentAddon = false;

                var IsActive = $('#active').prop("checked");
                if (IsActive == true)
                    ReceiptAddModel.active = true;
                else
                    ReceiptAddModel.active = false;


                var IsNewStudent = $('#newStudenrtFee').prop("checked");
                if (IsNewStudent == true)
                    ReceiptAddModel.newStudenrtFee = true;
                else
                    ReceiptAddModel.newStudenrtFee = false;

                

                //var IsDefFee = $('#defaultSchoolFee').prop("checked");
                //if (IsDefFee == true)
                //    ReceiptAddModel.defaultSchoolFee = true;
                //else
                //    ReceiptAddModel.defaultSchoolFee = false;

             

                //var IsTptFee = $('#tptFee').prop("checked");
                //if (IsTptFee == true)
                //    ReceiptAddModel.tptFee = true;
                //else
                //    ReceiptAddModel.tptFee = false;

             

                //var IsPendingFee = $('#pendingFee').prop("checked");
                //if (IsPendingFee == true)
                //    ReceiptAddModel.pendingFee = true;
                //else
                //    ReceiptAddModel.pendingFee = false;

                var Isdefault = $('input[name=Isdefault]:checked').val();
                if (Isdefault == "pendingFee")
                    ReceiptAddModel.pendingFee = true;
                else
                    ReceiptAddModel.pendingFee = false;
                if (Isdefault == "tptFee")
                    ReceiptAddModel.tptFee = true;
                else
                    ReceiptAddModel.tptFee = false;

                if (Isdefault == "defaultSchoolFee")
                    ReceiptAddModel.defaultSchoolFee = true;
                else
                    ReceiptAddModel.defaultSchoolFee = false;

                if (Isdefault == "IsMiscFee")
                    ReceiptAddModel.IsMiscFee = true;
                else
                    ReceiptAddModel.IsMiscFee = false;


                

                $.ajax({
                    type: "POST",
                    async: true,
                    url: '@Html.Raw(Url.Action("AddReceiptType", "Fee"))',
                    data: ReceiptAddModel,
                    success: function (result) {
                        if (result.status == "success") {
                            $("#receipt-grid").data('kendoGrid').dataSource.read();

                            $("#receiptId").val('');
                            $('#divReceiptId').css("display", "none");

                            ToastMessage(result.data, "success", true, 5000);

                            $("#receiptType").val('');
                            $("#receiptTemplate").val('');
                            $("#ExtraPrintText").val('');
                            $("#receiptSeries").val('');
                            $("#includeHeader").val('');
                            $("#newStudenrtFee").val('');
                            $("#groupFeeHead").val('');
                            $("#defaultSchoolFee").val('');
                            $("#linkStudentAddon").val('');
                            $("#tptFee").val('');
                            $("#active").val('');
                            $("#pendingFee").val('');

                            $('#ks_loader').hide();
                           
                        }
                        else {
                            $('#ks_loader').hide();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
               
            }
        });

        //Functionality for validation.
        var ReceiptValid = true;
        var Receiptvalidationmessage = "";
        var Receiptctrlfocus = "";
        function ValidateReceiptType() {

            ReceiptValid = true;
            Receiptvalidationmessage = "";
            Receiptctrlfocus = "";

            if ($('#receiptType').val() == "") {
                if (Receiptctrlfocus == "")
                    Receiptctrlfocus = "#receiptType";
                Receiptvalidationmessage = Receiptvalidationmessage + "Please provide Receipt Type ε";
                ReceiptValid = false;
            }

            return ReceiptValid;
        }


    });

</script>
