﻿@model ViewModel.ViewModel.Fee.SecurityFeeManagement
@{
    ViewBag.Title = "SecurityFeeManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #txtAmount,#txtForfeitAmount{
            display: inline-block;
    width: 71%;
    margin-left: 11px;
    }
    .lbcls{
        font-weight:normal;
    }
</style>

<div class="modal-popup" id="Refund_Security_div" hidden>
    <div class="modal-popup-body" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <h2> Refund Amount </h2>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Admission No :</label>
                        <label id="lbAmdnno"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Student :</label>
                        <label id="lbStudent"></label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Class :</label>
                        <label id="lbClass"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Roll No :</label>
                        <label id="lbRollno"></label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnReceiptDetailid" />
                <input type="hidden" id="hdnRtotalamt" />
                <input type="hidden" id="hdnSecurityid" />
                <div class="col-md-12">
                    <label>Total Amount : </label>
                    <label class="lbcls" id="lbTotalAmount">  </label>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-6">
                        <label class="control-label">Amount:</label>@Html.TextBox("txtAmount", "", new { @id = "txtAmount", @class = "form-control allownumeric clsamount" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Date</label>@Html.TextBox("txtDate")
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom:15px;">
                    <label>Remarks</label>@Html.TextBox("txtRemarks", "", new { @id = "txtRemarks", @class = "form-control", @maxlength = "250" })
                </div>
            </div>
            <div class="model-footer" style="text-align:center;margin-bottom:8px;">
                <input type="button" class="btn btn-success" value="Refund" id="btnrefund" />
                <input type="button" class="btn btn-danger" value="close" id="btnCloseRefund" />
            </div>
        </div>
    </div>
</div>
<div class="modal-popup" id="Forfeit_Security_div" hidden>
    <div class="modal-popup-body" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <h2> Forfeit Amount </h2>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Admission No :</label>
                        <label id="lbFAmdnno"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Student :</label>
                        <label id="lbFStudent"></label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Class :</label>
                        <label id="lbFClass"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Roll No :</label>
                        <label id="lbFRollNo"></label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnReceiptDetailid1" />
                <input type="hidden" id="hdntotalamt" />
                <input type="hidden" id="hdnSecurityid1" />
                <div class="col-md-12">
    <label>Total Amount : </label>
    <label class="lbcls" id="lbFTotalAmount">  </label>
</div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-6">
                        <label class="control-label">Amount:</label>@Html.TextBox("txtForfeitAmount", "", new { @id = "txtForfeitAmount", @class = "form-control allownumeric clsamount" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Date</label>@Html.TextBox("txtForfeitDate")
                    </div>
                </div>
                  
                <div class="col-md-12" style="margin-bottom:15px;">
                    <label class="control-label">Reason</label>@Html.TextBox("txtReasons", "", new { @id = "txtReasons", @class = "form-control", @maxlength = "250" })
                </div>
                </div>
            <div class="model-footer" style="text-align:center;margin-bottom:8px">
                <input type="button" class="btn btn-success" value="ForFeit" id="btnForfeit" />
                <input type="button" class="btn btn-danger" value="Close" id="btnForfeitClose" />
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="view_Security_div" hidden>
    <div class="modal-popup-body" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
             
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Admission No :</label>
                        <label id="lbVAdmnno"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Student :</label>
                        <label id="lbVStudent"></label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Class :</label>
                        <label id="lbVClass"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Roll No :</label>
                        <label id="lbVRollNo"></label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <label>Total Amount : </label>
                    <label class="lbcls" id="lbVTotalAmount">  </label>
                </div>
                <div class="col-md-12" style="padding: 0px;">
                    <div class="col-md-6">
                        <label> Refund Amount : </label>
                        <label id="lbrefundAmount" class="lbcls"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Refund Date : </label>
                        <label id="lbrefundDate" class="lbcls"></label>
                    </div>
                </div>
                <div class="col-md-12">
                        <label>Remarks : </label>
                    <label id="lbrefundRemarks" class="lbcls"></label>
                </div>
                <div class="col-md-12" style="padding: 0px;">
                    <div class="col-md-6">
                        <label> Forfeit Amount : </label>
                        <label id="lbFofeitAmount" class="lbcls"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Forfeit Date : </label>
                        <label id="lbFofeitDate" class="lbcls"></label>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom:15px;">
                        <label>Reasons : </label>
                    <label id="lbFofeitRemarks" class="lbcls"></label>
                </div>
            </div>
            <div class="model-footer" style="text-align:center;margin-bottom:8px;">
                <input type="button" class="btn btn-danger" value="Close" id="btnviewClose" />
            </div>
        </div>
    </div>
</div>

<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Security Fee Management</h1>
    </div>
   
</div>
<!-- //Page Heading -->
<!-- Page Filters -->
<div class="row top-space-10">
    <div class="col-md-12" style="padding:0">
        <form class="form-inline ks-custom-form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.AvailableSession, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
            </div>
            <div class="form-group">
                <label>To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
            </div>
            <div class="form-group">
                <label>Admission No.</label>
                @Html.TextBoxFor(model => model.AdmissionNo, new { @class = "form-control", @autofocus = "on" })
            </div>
            <div class="form-group">
                <label></label>
                <input type="radio" name="standcls" value="Standard" /> Standard
                <input type="radio" name="standcls" value="Class" /> Class
            </div>
            <div id="dvStandrad" class="form-group" style="display:none;    margin-left: 10px;">
                <label>Standard</label>
                @Html.DropDownList("StandardId", Model.AvailableStandard, new { @class = "drop-down form-control" })
            </div>
            <div id="dvoption" class="form-group" style="display:none;">

                @Html.CheckBoxFor(m => m.IsAllClasses)
                <label>Include All Classes</label>
            </div>
            <div id="dvCls" class="form-group" style="display:none;    margin-left: 10px;">
                <label>Class</label>
                @Html.DropDownList("StdClass", Model.AvailableClasses, new { @class = "drop-down form-control" })
            </div>


            &nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search" class="btn btn-default">Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
    </div>
</div>

<!-- // Page Filters -->
<!-- Page Grid -->
<div class="row">
    <div class="col-md-12" style="padding: 0;">
        <div id="SecurityFeeManagemnet-grid"></div>
        <script>

            $(document).ready(function () {
                $("#SecurityFeeManagemnet-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SecurityFeeManagemnetList", "Fee"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(Model.defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(Model.gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [ {
                        field: "ReceiptDetailid",
                        title: "ReceiptDetailid",
                        hidden:true,
                    }, {
                        field: "SecurityAccountid",
                        title: "SecurityAccountid",
                        hidden:true,
                    },
                        {
                            field: "Admnno",
                            title: "Admn. No.",

                        },
                        {
                            field: "StudentName",
                            title: "Student Name",
                        },{
                            field: "Class",
                            title: "Class",
                        },
                    {
                        field: "RollNo",
                        title: "RollNo",
                    },
                    {
                        field: "Status",
                        title: "Status",
                    },
                    {
                        field: "StudentType",
                        title: "StudentType",
                    }, {
                        field: "Due",
                        title: "Due",
                        template: "<i class='fa @Model.CurrencyIcon'></i> #=Due#",
                    }, {
                        field: "Received",
                        title: "Received",
                        template: "<i class='fa @Model.CurrencyIcon'></i> #=Received#",
                    },{
                        field: "Pending",
                        title: "Pending",
                        template: "<i class='fa @Model.CurrencyIcon'></i> #=Pending#",
                    },{
                        field: "Refund",
                        title: "Refund",
                        template: "<i class='fa @Model.CurrencyIcon'></i> #=Refund#",
                    },{
                        field: "RefundDate",
                        title: "Refund Date",
                    },{
                        field: "FoefietAmount",
                        title: "FoefietAmount",
                        hidden:true,
                    },{
                        field: "FoefietDate",
                        title: "FoefietDate",
                        hidden:true,
                    },{
                        field: "Remarks",
                        title: "Remarks",
                        hidden:true,
                    },{
                        field: "FoefietReason",
                        title: "FoefietReason",
                        hidden:true,
                    },{
                        field: "BalanceAmount",
                        title: "BalanceAmount",
                        hidden:true,
                    },{
                        field: "SecurityAccountid",
                        title: "Action",
                        template: '#if(!IsRefund){#<a title="Refund Security" data-toggle="tooltip" data-placement="top" dataid="#=SecurityAccountid#" dataid1="#=ReceiptDetailid#" class="Refund_Security_popup btn btn-xs btn-default" ><img src="../Content/assets/img/refund_icon.png" /></a>#}#'+
                            '#if(!IsRefund){#<a title="Forfeit Security" data-toggle="tooltip" data-placement="top" dataid="#=SecurityAccountid#" dataid1="#=ReceiptDetailid#" class="Forfeit_Security_popup btn btn-xs btn-default" ><img src="../Content/assets/img/forfiet_icon.png" /></a>#}#'+
                            '#if(IsRefund){#<a title="View" data-toggle="tooltip" data-placement="top" dataid="#=SecurityAccountid#" class="View_Security_popup btn btn-xs btn-default" ><i class="fa fa-eye"></i></a>#}#'
                    } ]
                });
            });
        </script>
    </div>
</div>
<!-- //Page Grid -->

<script>


    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    function additionalData() {
        var data = {
            StdClass: $('#StdClass').val(),
            FromDate: GetDateFromString($('#FromDate').val()),
            ToDate: GetDateFromString($('#ToDate').val()),
            StandardId: $('#StandardId').val(),
            IsAllClasses: $('#IsAllClasses').prop("checked"),
            AdmissionNo:$('#AdmissionNo').val(),
            SessionId: $('#SessionId').val()
        };
        addAntiForgeryToken(data);
        return data;
    }
    function GetDateFromString(date) {
        if(date!=""){
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        return null;
    }
    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    $(document).ready(function () {
        $('input:radio[name=standcls]').change(function () {
            if (this.value == 'Standard') {
                $('#dvStandrad').show();
                $('#dvCls').hide();
                $('#dvoption').show();
                $("#ClassId").val('').trigger('change');
                $("#StandardId").val('').trigger('change');
            }
            else if (this.value == 'Class') {
                $('#dvStandrad').hide();
                $('#dvCls').show();
                $('#dvoption').hide();
                $("#ClassId").val('').trigger('change');
                $("#StandardId").val('').trigger('change');
            }
        });
        $('#search').click(function(){
            $('#ks_loader').show();
            $("#SecurityFeeManagemnet-grid").data('kendoGrid').dataSource.read();
            $('#ks_loader').hide();
        });
        $('#reset').click(function(){
            $('#ks_loader').show();
            $('#StdClass').val("");
            $("#FromDate,#ToDate").removeAttr('readonly');
            $('#FromDate').val("");
            $('#ToDate').val("");
            $("#FromDate,#ToDate").attr('readonly', true);
            $('#AdmissionNo').val('');
            $("#StandardId").val('').trigger('change');
            $("#StdClass").val('').trigger('change');
            $("#SecurityFeeManagemnet-grid").data('kendoGrid').dataSource.read();
            $('#ks_loader').hide();
        });
        $("#SecurityFeeManagemnet-grid").on("click", ".Refund_Security_popup", function (e) {
            $('#ks_loader').show();
            e.preventDefault();
            var receiptdetailId = $(this).attr("dataid1");
            $('#hdnReceiptDetailid').val(receiptdetailId);
            var admissionNo = $(this).parent().parent().find('td:nth-child(3)').text();
            var Class = $(this).parent().parent().find('td:nth-child(5)').text();
            var Student = $(this).parent().parent().find('td:nth-child(4)').text();
            var Rollno = $(this).parent().parent().find('td:nth-child(6)').text();
            var amount = $(this).parent().parent().find('td:nth-child(10)').text();
            var balanceamount= $(this).parent().parent().find('td:nth-child(18)').text();
            var securityaccountid=  $(this).parent().parent().find('td:nth-child(2)').text();
            $('#lbAmdnno').text(admissionNo);
            $('#lbClass').text(Class);
            $('#lbRollno').text(Rollno);
            $('#lbStudent').text(Student);
            $('#lbTotalAmount').text(amount);
            if(balanceamount >0)
            {
                $('#txtAmount').val(balanceamount);
                $('#hdnRtotalamt').val(balanceamount);
            }
            else
            {
                $('#txtAmount').val(amount);
                $('#hdnRtotalamt').val(amount);
            }
            $('#hdnSecurityid').val(securityaccountid);
            $('#Refund_Security_div').show();
            $('#ks_loader').hide();
        });
        $("#SecurityFeeManagemnet-grid").on("click", ".View_Security_popup", function (e) {
            $('#ks_loader').show();
            e.preventDefault();
            var admissionNo = $(this).parent().parent().find('td:nth-child(3)').text();
            var Class = $(this).parent().parent().find('td:nth-child(5)').text();
            var Student = $(this).parent().parent().find('td:nth-child(4)').text();
            var Rollno = $(this).parent().parent().find('td:nth-child(6)').text();
            var refundamount = $(this).parent().parent().find('td:nth-child(12)').text();
            var refunddate = $(this).parent().parent().find('td:nth-child(13)').text();
            var refundremarks = $(this).parent().parent().find('td:nth-child(16)').text();
            var forfietamount = $(this).parent().parent().find('td:nth-child(14)').text();
            var forfietdate = $(this).parent().parent().find('td:nth-child(15)').text();
            var forfietremarks = $(this).parent().parent().find('td:nth-child(17)').text();
            var amount=$(this).parent().parent().find('td:nth-child(10)').text();
            $('#lbVAdmnno').text(admissionNo);
            $('#lbVClass').text(Class);
            $('#lbVRollNo').text(Rollno);
            $('#lbVStudent').text(Student);
            $('#lbFofeitRemarks').text(forfietremarks);
            $('#lbFofeitDate').text(forfietdate);
            $('#lbFofeitAmount').text(forfietamount);
            $('#lbrefundRemarks').text(refundremarks);
            $('#lbrefundDate').text(refunddate);
            $('#lbrefundAmount').text(refundamount);
            $('#lbVTotalAmount').text(amount);
            $('#view_Security_div').show();
            $('#ks_loader').hide();
        });
        $("#SecurityFeeManagemnet-grid").on("click", ".Forfeit_Security_popup", function (e) {
            $('#ks_loader').show();
            e.preventDefault();
            var receiptdetailId = $(this).attr("dataid1");
            $('#hdnReceiptDetailid1').val(receiptdetailId);
            var admissionNo = $(this).parent().parent().find('td:nth-child(3)').text();
            var Class = $(this).parent().parent().find('td:nth-child(5)').text();
            var Student = $(this).parent().parent().find('td:nth-child(4)').text();
            var Rollno = $(this).parent().parent().find('td:nth-child(6)').text();
            var amount = $(this).parent().parent().find('td:nth-child(10)').text();
            var balanceamount= $(this).parent().parent().find('td:nth-child(18)').text();
            var securityaccountid=  $(this).parent().parent().find('td:nth-child(2)').text();
            $('#lbFAmdnno').text(admissionNo);
            $('#lbFClass').text(Class);
            $('#lbFRollno').text(Rollno);
            $('#lbFStudent').text(Student);
            $('#hdnSecurityid1').val(securityaccountid);
            if(balanceamount>0)
            { $('#hdntotalamt').val(balanceamount);
                $('#txtForfeitAmount').val(balanceamount);
            }
            else
            { $('#hdntotalamt').val(amount);
                $('#txtForfeitAmount').val(amount);
            }
           
            $('#lbFTotalAmount').text(amount);
            $('#Forfeit_Security_div').show();
            $('#ks_loader').hide();
        });

        $('#btnCloseRefund').click(function(){
            $('#Refund_Security_div').hide();
            $('#lbAmdnno').text('');
            $('#lbClass').text('');
            $('#lbRollno').text('');
            $('#lbStudent').text('');
            $('#txtAmount').val('');
            $('#txtRemarks').val('');
            $('#hdnReceiptDetailid').val('');
        });
        $('#btnviewClose').click(function(){
            $('#view_Security_div').hide();
            $('#lbrefundAmount').text('');
            $('#lbFofeitRemarks').text('');
            $('#lbFofeitDate').text('');
            $('#lbFofeitAmount').text('');
            $('#lbrefundRemarks').text('');
            $('#lbrefundDate').text('');
            $('#lbrefundAmount').text('');
            $('#lbVRollNo').text('');
            $('#lbVClass').text('');
            $('#lbVStudent').text('');
            $('#lbVAdmnno').text('');
        });
        $('#btnForfeitClose').click(function(){
            $('#Forfeit_Security_div').hide();
            $('#lbFAmdnno').text('');
            $('#lbFClass').text('');
            $('#lbFRollno').text('');
            $('#lbFStudent').text('');
            $('#txtForfeitAmount').val('');
            $('#txtReasons').val('');
            $('#hdntotalamt').val('');
            $('#hdnReceiptDetailid1').val('');
        });

        $('#btnrefund').click(function(){
            $('#ks_loader').show();
            var recepitDetailId=$('#hdnReceiptDetailid').val();
            var amount=$('#txtAmount').val();
            var date=GetDateFromString($('#txtDate').val());
            var remarks=$('#txtRemarks').val();
            var balanceamt= $('#hdnRtotalamt').val();
            var SecurityId= $('#hdnSecurityid').val();
            if(amount =='' || amount <0)
            {
                $('#ks_loader').hide();
                ToastMessage("Please provide Amount", "error", true, 5000);
            }
            else if(amount>balanceamt)
            {
                $('#ks_loader').hide();
                ToastMessage("Please provide correct Amount", "error", true, 5000);
            }
            else
            {
                $.ajax({
                    type: "POST",
                    async:false,
                    url: '@Html.Raw(Url.Action("SaveRefundAmount", "Fee"))',
                    data: {"Amount":amount,"ReceiptDetailid":recepitDetailId,"Date":date,"Remarks":remarks,"SecurityAccountid":SecurityId},
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage("Refund Successfully", "success", true, 5000);
                            $('#Refund_Security_div').hide();
                            $('#lbAmdnno').text('');
                            $('#lbClass').text('');
                            $('#lbRollno').text('');
                            $('#lbStudent').text('');
                            $('#txtAmount').val('');
                            $('#txtRemarks').val('');
                            $('#hdnReceiptDetailid').val('');
                            $("#SecurityFeeManagemnet-grid").data('kendoGrid').dataSource.read();
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                            ToastMessage("Invaild data", "error", true, 5000);
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        });
        $('#btnForfeit').click(function(){
            $('#ks_loader').show();
            var recepitDetailId=$('#hdnReceiptDetailid1').val();
            var amount=$('#txtForfeitAmount').val();
            var date=GetDateFromString($('#txtForfeitDate').val());
            var remarks=$('#txtReasons').val();
            var totalamount=$('#hdntotalamt').val();
            var SecurityId= $('#hdnSecurityid1').val();
            if(amount =='' || amount <0)
            {
                $('#ks_loader').hide();
                ToastMessage("Please provide Amount", "error", true, 5000);
            }
            else if(amount>totalamount)
            {
                $('#ks_loader').hide();
                ToastMessage("Please provide correct Amount", "error", true, 5000);
            }
            else
            {
                $.ajax({
                    type: "POST",
                    async:false,
                    url: '@Html.Raw(Url.Action("SaveForFeitAmount", "Fee"))',
                    data: {"Amount":amount,"ReceiptDetailid":recepitDetailId,"Date":date,"Remarks":remarks,"Totalmount":totalamount,"SecurityAccountid":SecurityId},
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage("Forfeit Successfully", "success", true, 5000);
                            $('#Refund_Security_div').hide();
                            $('#lbAmdnno').text('');
                            $('#lbClass').text('');
                            $('#lbRollno').text('');
                            $('#lbStudent').text('');
                            $('#txtAmount').val('');
                            $('#txtRemarks').val('');
                            $('#hdnReceiptDetailid').val('');
                            $('#Forfeit_Security_div').hide();
                            $("#SecurityFeeManagemnet-grid").data('kendoGrid').dataSource.read();
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                            ToastMessage("Invaild data", "error", true, 5000);
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        });

        $(document).on("keydown", ".allownumeric", function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        $(document).on("paste", ".clsamount", function (event) {
            var text = e.originalEvent.clipboardData.getData('Text');
            if ($.isNumeric(text)) {
                if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                    e.preventDefault();
                    $(this).val(text.substring(0, text.indexOf('.') + 3));
                }
            }
            else {
                e.preventDefault();
            }
        });
        $(document).on("keypress", ".clsamount", function (event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
               ((event.which < 48 || event.which > 57) &&
               (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }
            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }
            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 2) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });
        //date picker
        $("#FromDate,#ToDate,#Date").kendoDatePicker({
            format: "dd/MM/yyyy",
        });
        $("#FromDate,#ToDate,#Date").attr('readonly', true);
        $("#txtDate,#txtForfeitDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value:new Date()
        });
        $("#txtDate,#txtForfeitDate").attr('readonly', true);

    });
</script>