﻿@model ViewModel.ViewModel.Fee.TransportFeeCollectionModel

@{
    ViewBag.Title = "Transport Fee Collection Route Wise";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<style type="text/css">
    .form-group {
        margin-right: 5px;
    }
</style>
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Transport Fee Pendancy</h1>
    </div>
</div>
<div class="modal-popup" id="RoutewiseList_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <label id="lbheader"></label>

                </h4>
                <div id="dvRouteList" class="col-md-12">

                </div>
            </div>

            <div class="modal-footer">

                <button type="button" name="save" class="btn btn-danger " id="close_divDetail">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal-popup" id="StuRoutewiseList_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <label id="lbStuheader"></label>

                </h4>
                <div id="dvStuRouteList" class="col-md-12">

                </div>
            </div>

            <div class="modal-footer">

                <button type="button" name="save" class="btn btn-danger " id="close_StudivDetail">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12" style=" padding: 0px;">
        <form class="form-inline ks-custom-form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">Route</label>
                @Html.DropDownListFor(model => model.RouteId, Model.AvailableRoutes, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
            </div>
            <div class="form-group">
                <label class="control-label">To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
            </div>
            <div class="form-group">
                <button type="button" id="btnFiter" class="btn btn-default">Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style=" padding: 0px;">
        <div id="TransportFee-grid">
            <script>
                $(document).ready(function () {
                    $("#TransportFee-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("GetTransportPendancyReport", "Fee"))",
                                    type: "POST",
                                    dataType: "json",
                                    contentType: "application/json",
                                    data: additionalData
                                },
                                parameterMap: function (data) {
                                    return JSON.stringify(data);
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: '@(defaultGridPageSize)',
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: false
                        },
                        dataBound: onDataBound,
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        scrollable: false,
                        sortable: true,
                        columns: [
                             {
                                 field: "RouteId",
                                 title: "RouteId",
                                 hidden: true

                             }, {
                                 field: "Route",
                                 title: "Bus Route Name",
                                 sortable: true

                             }, {
                                 field: "Payable",
                                 title: "Payable Amount",
                                 sortable: true
                             }, {
                                 field: "Received",
                                 title: "Received Amount",
                                 sortable: true
                             }, {
                                 field: "Pending",
                                 title: "Pending Amount",
                                 sortable: true
                             },
                                         @if(Model.IsAuthToEdit)
                             {<text>
                                          {
                                              field: "RouteId",
                                              title: "Action",
                                              template: '<a title="View" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  dataid="#=RouteId#" class="viewdetail btn btn-xs btn-default"><i class="fa fa-eye"></i></a>'
                                          }</text>}
                        ]
                    });
                    var grid = $("#TransportFee-grid").data("kendoGrid");
                });

                function onDataBound(arg) {
                    $('[data-toggle=tooltip]').tooltip();

                }

                function additionalData() {
                    var data = {
                        RouteId: $('#RouteId').val(),
                        FromDate: $('#FromDate').val(),
                        ToDate: $('#ToDate').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }

                addAntiForgeryToken = function (data) {
                    data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                    return data;
                };
            </script>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#reset').click(function () {
            $('#RouteId').val('');
            $('#FromDate').val('');
            $('#ToDate').val('');
            $("#TransportFee-grid").data('kendoGrid').dataSource.read();
        });
        var newdate = new Date();
        var date = (newdate.getMonth() + 1) + "/" + newdate.getFullYear();
        $("#FromDate,#ToDate").kendoDatePicker({
            format: "MM/yyyy",
            value: date
        });
        $('#close_divDetail').click(function () {
            $('#RoutewiseList_div').hide();
            $('#dvRouteList').html('');
        });
        $('#close_StudivDetail').click(function () {
            $('#StuRoutewiseList_div').hide();
            $('#dvStuRouteList').html('');
        });
        $("#FromDate,#ToDate").attr('readonly', true);
        var LedgerValid = true;
        var Ledgervalidationmessage = "";
        var Ledgerctrlfocus = "";
        function ValidateLedger() {

            LedgerValid = true;
            Ledgervalidationmessage = "";
            Ledgerctrlfocus = "";
            if ($('#FromDate').val() == "") {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#FromDate";
                Ledgervalidationmessage = Ledgervalidationmessage + "Please provide From Date ε";
                LedgerValid = false;
            }
            if ($('#ToDate').val() == "") {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#ToDate";
                Ledgervalidationmessage = Ledgervalidationmessage + "Please provide To Date ε";
                LedgerValid = false;
            }
            if (new Date($('#FromDate').val()) > new Date($('#ToDate').val())) {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#FromDate";
                Ledgervalidationmessage = Ledgervalidationmessage + "From Date should be less than To Date ε";
                LedgerValid = false;
            }
            return LedgerValid;
        }
        $('#btnFiter').click(function () {
            $('#ks_loader').show();
            var valid = ValidateLedger();
            if (!valid) {
                var validationaray = Ledgervalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                $('#ks_loader').hide();
                return false;
            }
            else {
                $("#TransportFee-grid").data('kendoGrid').dataSource.read();
                $('#TransportFee-grid').show();
                $('#ks_loader').hide();
            }

        });
        $(document).on("click", ".viewdetail", function () {
            $('#ks_loader').show();
            var info = $(this);
            var routeId = info.attr('dataid');
            var fromdate = $('#FromDate').val();
            var todate = $('#ToDate').val();
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("ViewRouteWiseDetail", "Fee"))',
                data: { "RouteId": routeId, "FromDate": fromdate, "ToDate": todate },
                success: function (result) {
                    $('#lbheader').text(result.routeList[0].RouteName);
                    var html = "";
                    html += "<div class='col-md-12'><table class='table viewpackInfo'>";
                    html += "<tr><th  class='td_border'>Student Name</th><th  class='td_border'>Class</th><th class='td_border'>Payable</th><th class='td_border'>Received</th><th>Pending</th></tr>";
                    for (i = 0; i < result.routeList[0].StudentDetail.length; i++) {
                        if (result.routeList[0].StudentDetail[i].StudentName == null)
                        { }
                        else
                        {
                            for (j = 0; j < result.routeList[0].StudentDetail[i].FeeList.length; j++) {
                                html += "<tr><td class='td_border stuselection'> <input class='stuid' type='hidden' value='" + result.routeList[0].StudentDetail[i].StudentId + "' /><input class='routeid' type='hidden' value='" + result.routeList[0].RouteId + "' /> <a  href='javascript:void(0)'>" + result.routeList[0].StudentDetail[i].StudentName + "</a>";
                                html += "</td><td class='td_border'>" + result.routeList[0].StudentDetail[i].Class;
                                html += "</td><td class='td_border'>" + result.routeList[0].StudentDetail[i].FeeList[j].Payable;
                                html += "</td><td class='td_border'>" + result.routeList[0].StudentDetail[i].FeeList[j].Received;
                                html += "</td><td>" + result.routeList[0].StudentDetail[i].FeeList[j].Pending;
                                html += "</td>";
                                html += "</tr>";
                            }
                        }
                    }
                    html += "</table>";
                    html += "</div>";
                    $('#dvRouteList').html(html);
                    $('#RoutewiseList_div').show();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });


            $('#ks_loader').hide();
        });
        $(document).on('click', '.stuselection', function () {
            $('#ks_loader').show();
            var row = $(this).parent();
            var StudentId = row.find('.stuid').val();
            var RouteId = row.find('.routeid').val();
            var fromdate = $('#FromDate').val();
            var todate = $('#ToDate').val();
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("ViewRouteWiseStudentDetail", "Fee"))',
                data: { "RouteId": RouteId, "StudentId": StudentId, "FromDate": fromdate, "ToDate": todate },
                success: function (result) {
                    $('#lbStuheader').text(result.routeList[0].RouteName);
                    var html = "";
                    html += "<div class='col-md-12'>";
                    html += "<div class='col-md-8'>";
                    html += "<label> Student Name :" + result.routeList[0].StudentDetail[0].StudentName + "</label>";
                    html += "</div>";
                    html += "<div class='col-md-4'>";
                    html += "<label> Class :" + result.routeList[0].StudentDetail[0].Class + "</label>";
                    html += "</div>";
                    html += "</div><div class='col-md-12'><table class='table viewpackInfo'>";
                    html += "<tr><th  class='td_border'>Fee Period</th><th class='td_border'>Payable</th><th class='td_border'>Received</th><th>Pending</th></tr>";
                    for (j = 0; j < result.routeList[0].StudentDetail[0].FeeList.length; j++) {
                        html += "<tr><td class='td_border'>" + result.routeList[0].StudentDetail[0].FeeList[j].FeePeriod;
                        html += "</td><td class='td_border'>" + result.routeList[0].StudentDetail[0].FeeList[j].Payable;
                        html += "</td><td class='td_border'>" + result.routeList[0].StudentDetail[0].FeeList[j].Received;
                        html += "</td><td>" + result.routeList[0].StudentDetail[0].FeeList[j].Pending;
                        html += "</td>";
                        html += "</tr>";
                    }
                    html += "</table>";
                    html += "</div>";
                    $('#dvStuRouteList').html(html);
                    $('#StuRoutewiseList_div').show();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        });
    });
</script>
