﻿@model ViewModel.ViewModel.Fee.PrintFeeReceiptModel

@{
    ViewBag.Title = "View Fee Receipt";
}

<style>
    .form-horizontal .control-label {
        padding-top: 2px;
    }

    #watermark {

  position: relative;
  overflow: hidden;
}
#watermark img {
  max-width: 100%;
}
#watermark p {
  position: absolute;
  top: 100px;
  left: 299px;
  color: #FF8A80;
  font-size: 70px;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>View Fee Receipt</h1>
    </div>
    <div class="col-md-6 text-right">
        @if (Model.IsAuthPrint)
        {
            <a target="_blank" href="@Html.Raw(Url.Action("PrintFeeReceipt", "Fee", new { id = Model.EncFeeReceiptId }))" class="btn btn-xs btn-default">Print</a>
        }
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->

@if (Model.IsCancel == true)
{
    <div id="watermark" class="row top-space-10">
        <div class="col-md-12">
            <form class="ks-custom-form form-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Receipt No.:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.ReceiptNo)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Receipt Date:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.ReciptDate)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Payment Mode:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PaymentMode)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>
                @if (Model.Modetype.Contains("Transfer"))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Bank:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.BankBranch)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Trans. Date:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.TransactionDate)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Trans No.:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.TransactionNo)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Modetype.Contains("Instrument"))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Bank:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.BankBranch)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">@Html.DisplayFor(model => model.lblChkDDDate):</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.ChequeDate)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">@Html.DisplayFor(model => model.lblChkDDNAme):</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.ChequeNo)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Student Name:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.StudentName)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Admn No.:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.AdmnNo)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Class:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.ClassName)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Roll No.:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.RollNo)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.FeePeriod))
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Fee Period:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.FeePeriod)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                    }
                </div>

                <div class="col-md-12">
                    <h4>Fee Receipt Detail</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive table-condenced">
                            <thead>
                                <tr>
                                    <th>HeadName</th>
                                    <th>Amount</th>
                                    <th>Deduction</th>
                                    <th>Payable Amount</th>
                                    <th>Excess Amount</th>
                                    <th>Paid Amount</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PrintFeeReceiptHeadsList)
                                {
                                    <tr>
                                        <td>@item.HeadName</td>
                                        <td><i class="fa @Model.CurrencyIcon"></i>@item.HeadAmount</td>
                                        <td><i class="fa @Model.CurrencyIcon"></i> @item.Deduction</td>
                                        <td><i class="fa @Model.CurrencyIcon"></i> @item.PayableAmount</td>
                                        <td><i class="fa @Model.CurrencyIcon"></i> @item.ExcessAmount</td>
                                        <td><i class="fa @Model.CurrencyIcon"></i> @item.PaidAmount</td>
                                        <td><i class="fa @Model.CurrencyIcon"></i> @item.Balance</td>
                                    </tr>
                                }
                                <tr>
                                    <td>Total Amount </td>
                                    <td><i class="fa @Model.CurrencyIcon"></i>@Model.TotalAmount</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalDiscount</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalPayable</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalExcessAmount</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalPaidAmount</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalBalance</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label">Remarks:</label><!-- Form Label -->
                            <div class="col-md-11">
                                @Html.DisplayFor(model => model.Remarks)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p>@Model.CancelWaterMarktext</p>
    </div>
}
else
{

<div class="row top-space-10">
    <div class="col-md-12">
        <form class="ks-custom-form form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Receipt No.:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.ReceiptNo)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Receipt Date:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.ReciptDate)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Payment Mode:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.PaymentMode)
                        </div><!-- Form Field -->
                    </div>
                </div>
            </div>
            @if (Model.Modetype.Contains("Transfer"))
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Bank:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.BankBranch)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Trans. Date:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.TransactionDate)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Trans No.:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.TransactionNo)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>
            }
            else if (Model.Modetype.Contains("Instrument"))
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Bank:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.BankBranch)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">@Html.DisplayFor(model => model.lblChkDDDate):</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.ChequeDate)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">@Html.DisplayFor(model => model.lblChkDDNAme):</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.ChequeNo)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Student Name:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.StudentName)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Admn No.:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.AdmnNo)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Class:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.ClassName)
                        </div><!-- Form Field -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Roll No.:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.RollNo)
                        </div><!-- Form Field -->
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.FeePeriod))
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Fee Period:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.FeePeriod)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                }
            </div>

            <div class="col-md-12">
                <h4>Fee Receipt Detail</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive table-condenced">
                        <thead>
                            <tr>
                                <th>HeadName</th>
                                <th>Amount</th>
                                <th>Deduction</th>
                                <th>Payable Amount</th>
                                <th>Excess Amount</th>
                                <th>Paid Amount</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PrintFeeReceiptHeadsList)
                            {
                                <tr>
                                    <td>@item.HeadName</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i>@item.HeadAmount</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @item.Deduction</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @item.PayableAmount</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @item.ExcessAmount</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @item.PaidAmount</td>
                                    <td><i class="fa @Model.CurrencyIcon"></i> @item.Balance</td>
                                </tr>
                            }
                            <tr>
                                <td>Total Amount </td>
                                <td><i class="fa @Model.CurrencyIcon"></i>@Model.TotalAmount</td>
                                <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalDiscount</td>
                                <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalPayable</td>
                                <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalExcessAmount</td>
                                <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalPaidAmount</td>
                                <td><i class="fa @Model.CurrencyIcon"></i> @Model.TotalBalance</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-1 control-label">Remarks:</label><!-- Form Label -->
                        <div class="col-md-11">
                            @Html.DisplayFor(model => model.Remarks)
                        </div><!-- Form Field -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
}
<!-- Page Controls -->
