﻿@model ViewModel.ViewModel.Fee.FeeReceiptModel

@{
    ViewBag.Title = "Vouchers";
}
<style>
    .row-col {
        height: 48px;
    }

    .view_dialog_box {
        top: 50%;
        left: 25%;
    }

    #txtWaveoffAmount {
        width: 150px;
        margin-left: 14px;
    }
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Print Vouchers</h1>
    </div>
    <div class="col-md-6 text-right" id="printable_div" hidden>
        @if (Model.IsAuthToPrint)
        {
            <a title="Print Vouchers" id="printVouchers" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" target="_blank" @*href="@Url.Action("PrintFeeCollectionList", "FeeController", new { id = Model.ID })"*@ @*href="PrintFeeCollectionList"*@><i class="fa fa-print"></i></a>
        }
    </div>
</div>
<script>

    $('#printVouchers').click(function () {

        var feeperiodIdArray = new Array();//storing the selected values inside an array
        var FeeReceiptModel = new Object();
        $('.FeePeriodId').each(function (i, selected) {
            if ($(this).prop('checked') == true) {
                FeeReceiptModel = new Object();
                FeeReceiptModel.FeePeriodId = ($(selected).val());
                if ($(selected).val() > 0) {
                    feeperiodIdArray.push(FeeReceiptModel);
                }
            }

        });
        $("#FeePeriodIdArray").val(JSON.stringify(feeperiodIdArray));

        var ReceiptTypeId = $('#ReceiptTypeIds').val();

        var validation = "";
        if (ReceiptTypeId == null)
            validation += "Please select ReceiptType ε";
        if (feeperiodIdArray == null || feeperiodIdArray == '') {
            validation += "Please select FeePeriod ε"
        }
        if (validation != "") {
            var validationaray = validation.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
        } else {
            document.getElementById("myForm").submit();
            return false; // cancel the actual link
        }
    })
</script>
<!-- //Page Heading -->
<!-- Page Filters -->



    @* <form class="form-inline ks-custom-form" id="myForm" action="PrintFeeCollectionList" target="_blank">*@
    @using (Html.BeginForm("PrintVouchers", "Fee", FormMethod.Post, new { @class = "form-horizontal ks-custom-form", @id = "myForm", @target = "_blank" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.FeePeriodIdArray)
              <!-- Form Coulmn -->
        <div class="row top-space-10">
        <div class="col-md-4 row-col">
            <div class="form-group">
                <label class="col-md-4 control-label">Session</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.SessionId, Model.AvailableSession, new { @class = "form-control" })
                </div>
            </div>
        </div>
    <!-- //Form Coulmn -->
             <!-- Form Coulmn -->
        <div class="col-md-4 row-col">
            <div class="form-group">
                <label class="col-md-4 control-label">Receipt Type</label>
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model.ReceiptTypeIds, Model.AvailableReceiptTypes, new { @class = "form-control" })
                    @Html.HiddenFor(model => model.IsForPreviousSession)
                </div>
            </div>
        </div>
        <script>
            $('#ReceiptTypeIds').multiselect({
                includeSelectAllOption: true
            });
        </script>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
        <div class="col-md-4 row-col">
            <div class="form-group">
                <label class="col-md-4 control-label">Reg./Admn. No.</label>
                <div class="col-md-8">
                    @Html.TextBox("AdmissionNo", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <!-- //Form Coulmn -->
            @if (!Model.ClassNotAssigned)
            {
            <!-- Form Coulmn -->
            <div class="col-md-4 row-col">
                <div class="form-group">
                    <label class="col-md-4 control-label">Class</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control" })
                    </div>
                </div>
            </div>}
            <!-- //Form Coulmn -->
            <!-- Form Coulmn -->
            <div class="col-md-4 row-col">
                <div class="form-group">
                    <label class="col-md-4 control-label">Student</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new { @class = "form-control" })
                        <label id="lbfathername"></label>
                    </div>
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.StudentId)
                    </div>
                    <!-- //Error Message -->
                </div>
            </div>
            <!-- //Form Coulmn -->
            <!-- Form Coulmn -->
            <div class="col-md-4 row-col">
                <div class="form-group">
                    <label class="col-md-4 control-label">Fee Type</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.FeeTypeId, Model.AvailableFeeType, new { @class = "form-control" })
                    </div>
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.FeeTypeId)
                    </div>
                    <!-- //Error Message -->
                </div>
            </div>
        </div>
        <div class="row">
            <!-- //Form Coulmn -->
            <!-- Form Coulmn -->
            <div class="col-md-4 row-col">
                <div class="form-group">
                    <label class="col-md-4 control-label">Fee Period</label>
                    <div class="col-md-8">
                        @*@Html.DropDownListFor(model => model.FeePeriodId, Model.AvailableFeePeriod, new { @class = "form-control" })*@
                        <div class="feeperiod " style="max-height:100px;max-width:192px;overflow-y:scroll;border:1px solid #aaa;padding: 4px;min-height: 28px;">
                            @*@foreach (var m in Model.AvailableClassList)
                                {
                                    <div style=" padding-left 5px">
                                        <input type="checkbox" disabled="@m.Disabled" checked="@m.Selected" class="ClassId" id="@m.Text@m.Value" value=@m.Value /><label class="ClasslabelId" for="@m.Text@m.Value"> @m.Text</label>
                                    </div>
                                }*@
                        </div>
                    </div>
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.FeePeriodId)
                    </div>
                    <!-- //Error Message -->
                </div>
            </div>
            <!-- //Form Coulmn -->
            <!-- Form Coulmn -->
            <div class="col-md-4 row-col">
                <div class="form-group">
                    <div class="col-md-4" style="text-align:right">
                        @Html.CheckBoxFor(m => m.UseConsession, new { @class = "" })
                    </div>
                    <div class="col-md-8">
                        <label class=" control-label">Use Concession</label>
                    </div>
                </div>
            </div>
            <!-- //Form Coulmn -->
            <!-- Form Coulmn -->
            <div class="col-md-4 row-col">
                <div class="form-group">
                    <div class="col-md-4" style="text-align:right">
                        @Html.CheckBoxFor(m => m.CombinedVouchers, new { @class = "" })
                    </div>
                    <div class="col-md-8">
                        <label class=" control-label">Combined Vouchers</label>
                    </div>
                </div>
            </div>
            <!-- //Form Coulmn -->

        </div>


    }
    @*</form>*@
<div class="row Chnageposition" >
    <div class="col-md-12" style="padding:0">
        <div class="col-md-4 row-col">
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <button type="button" id="search" class="btn btn-default">Generate Voucher</button>
                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <select id="feeperiodList" style="display:none">
        @*<option value="value">text</option>*@
    </select>
    <div id="GroupFeeHead_Div" hidden style="margin-top: 66px;">
        <div class="row">
            <table id="GroupFeeHead_Grid" class="table table-striped">
                <tbody></tbody>
            </table>
        </div>

    </div>
    <!-- // Page Filters -->


    <script type="text/javascript">

        $(document).ready(function () {



            var datacount = 0;

            // fee type change
            $('#search').click(function () {
                datacount = 0;
                $('#GroupFeeHead_Div').hide();
                $('#GroupFeeHead_Grid tbody').html('');
                $('#save_receipt').prop("disabled", true);
                var ReceiptTypeId = $('#ReceiptTypeIds').val();
                var feepId = 0;
                $('.FeePeriodId').each(function (i, selected) {
                    if ($(this).prop('checked') == true) {
                        feepId++;
                    }

                });
                var validation = "";
                var option = $('#PaymentModeId option:selected').text();

                if (option == "By Cheque") {
                    var FeeReciptDate = $('#ChequeDate').val();
                }
                else if (option == "By Bank") {
                    var FeeReciptDate = $('#BankTransactionDate').val();
                }
                else {
                    var FeeReciptDate = $('#FeeReciptDate').val();
                }

                if (FeeReciptDate == "")
                    validation += "Please enter Receipt Date ε";
                var ClassId = $('#ClassId').val();
                if (ClassId == "")
                    validation += "Please select Class ε";
                var StudentId = $('#StudentId').val();
                if (StudentId == "")
                    validation += "Please select Student ε";
                if (ReceiptTypeId == null)
                    validation += "Please select ReceiptType ε";
                var FeeTypeId = $('#FeeTypeId').val();
                if (FeeTypeId == "")
                    validation += "Please select Fee Type ε";
                if (feepId == 0)
                    validation += "Please select Fee Period ε";
                if (validation != "") {
                    var validationaray = validation.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                   // $('#printable_div').hide();
                }
                else {
                    if (feepId > 0) {
                        var countpendingonce = 0;

                        if ($('#CombinedVouchers').prop('checked') == true) {
                            var feeperiodList = "";
                            var feeperiod = "";
                            $('.FeePeriodId').each(function (i, selected) {
                                if ($(this).prop('checked') == true) {

                                    feeperiodList = feeperiodList != "" ? feeperiodList + ',' + ($(selected).val()) : ($(selected).val());
                                }

                            });
                            GetGroupFeeHeadByFeeType_VouchersCombined(FeeTypeId, ClassId, StudentId, feeperiodList, ReceiptTypeId, feeperiod, countpendingonce);
                        }
                        else {
                            $('.FeePeriodId').each(function (i, selected) {
                                if ($(this).prop('checked') == true) {
                                    var FeePeriodId = ($(selected).val());

                                    var feeperiod = ($(selected).attr('data'))
                                    if (FeePeriodId > 0) {


                                        GetGroupFeeHeadByFeeType(FeeTypeId, ClassId, StudentId, FeePeriodId, ReceiptTypeId, feeperiod, countpendingonce);

                                        countpendingonce++;
                                    }
                                }
                            });
                        }
                        //if ($('#CombinedVouchers').prop('checked') == true) {
                        //    var monthrow = "<tr><td id=''><b>Month</b>:-<b>" + feeperiodList + "</b></td><td></td></tr>"
                        //    $('#GroupFeeHead_Grid tbody').append(monthrow);



                        //        $('#GroupFeeHead_Grid tbody').append(row);
                        //}
                        // var ReceiptDate = GetDateFromString(FeeReciptDate);

                    }
                }
            });
            // function get date as string and return date
            function GetDateFromString(date) {
                var datearry = date.split('/');
                var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                return returnFromDate;
            }
            $('#RecieptTypeId').trigger('change');
            // Regno or Admission no blur
            $('#AdmissionNo').blur(function () {
                $('#ks_loader').show();
                var receipttype = $("#RecieptTypeId option:selected").text();
                var status = 1;
                if ($('#IsForPreviousSession').val() == "true") {
                    if ($('#SessionId').val() == "") {
                        status = 0;
                        $('#ks_loader').hide();
                        ToastMessage("Please select Session", "error", true, 5000);
                    }
                }
                if (status == 1) {
                    var admnno = $('#AdmissionNo').val();
                    $('#ClassId').val('');
                    $('#StudentId').html('');
                    $('#Student_Trans').hide();
                    $('#Student_Trans_Grid tbody').html('');
                    // clear data
                    $('#GroupFeeHead_Div').hide();
                    $('#GroupFeeHead_Grid tbody').html('');
                    if ($('#IsForPreviousSession').val() == "False" || $('#IsForPreviousSession').val() == "false" || $('#IsForPreviousSession').val() == "" || receipttype == "Miscellaneous") {
                        $('#FeePeriodId').val('');
                        $('#FeeTypeId').val('');
                    }
                    if (admnno != "") {
                        // ajax call get student and class
                        $('#ks_loader').show();
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: '@Html.Raw(Url.Action("GetStudentInformationbyAdmnNoVouchers", "Fee"))',
                            data: { "AdmnNo": admnno, "Sessionid": $('#SessionId').val(), "RecieptType": $("#RecieptTypeId").val() },
                            success: function (result) {
                                if (result.status == "success") {
                                    $('#lbfathername').text(result.FatherName);
                                    $('#ClassId').val(result.ClassVal).trigger('change');

                                    if (result.StudentVal > 0)
                                        $('#StudentId').val(result.StudentVal);
                                    else
                                        $('#StudentId').val('');
                                    $('#StudentId').trigger('change');
                                }
                                else {
                                    ToastMessage(result.msg, "error", true, 5000);
                                    $('#StudentId').html('');
                                    $('#AdmissionNo').val('');
                                    $('#AdmissionNo').focus();
                                }
                                $('#ks_loader').hide();
                            },
                            error: function (xhr, status) {
                                var err = "Error " + " " + status;
                                ToastMessage(result.msg, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                    $('#ks_loader').hide();
                    //if ($('#IsForPreviousSession').val() == "true") {
                    //    $('#FeePeriodId').trigger('change');
                    //}
                }
            });
            $('#RecieptTypeId').change(function () {
                if ($('#RecieptTypeId').val() == "") {
                    $('#ks_loader').hide();
                    ToastMessage("Please select Receipt Type", "error", true, 5000);
                }
                else {
                    if ($('#Isfromadmission').val() == "True") {
                    }
                    else {
                        $('#ClassId').val('');
                        $('#AdmissionNo').val('');
                        $('#AdmissionNo').prop("disabled", false);
                        $('#StudentId').html('');
                        $('#FeeTypeId').html("<option>---Select---</option>");
                        $('.feeperiod').html('');
                        $('#lbfathername').html('');
                    }
                    $('#ks_loader').show();
                    var receiptTypeid = $('#RecieptTypeId').val();
                    var receipttype = $("#RecieptTypeId option:selected").text();
                    if (receipttype == "Miscellaneous") {
                        $('#FeeTypeId').attr('disabled', true);
                        $('#FeePeriodId').attr('disabled', true);
                        if ($('#Isfromadmission').val() != "True") {
                            $('#StudentId').html('');
                            $('#AdmissionNo').val('');
                            $('#ClassId').val('');
                            $('#AdmissionNo').focus();
                        }

                        $('#ks_loader').hide();
                        $('#dvFeehead').show();
                    }
                    else {
                        $('#dvFeehead').hide();
                        $('#FeeTypeId').removeAttr('disabled');
                        $('#FeePeriodId').removeAttr('disabled');
                        @*$.ajax({
                        type: "GET",
                        url: '@Html.Raw(Url.Action("PreviousSessionDetail", "Fee"))',
                        data: { "ReceiptTypeId": receiptTypeid },
                        success: function (result) {
                            if (result.msg == "") {
                                $('#IsForPreviousSession').val(result.previoussssion);
                                var SessionIdList = $('#SessionId');
                                SessionIdList.empty();
                                $.each(result.Sessionlist, function () {
                                    SessionIdList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                });
                                var FeeTypeIdList = $('#FeeTypeId');
                                FeeTypeIdList.empty();
                                $.each(result.feetypelist, function () {
                                    //if (this.Value == result.Feetypeid) {
                                    //    $('#FeeTypeId').val(result.Feetypeid);
                                    //    FeeTypeIdList.append('<option selected="selected" value="' + this.Value + '">' + this.Text + '</option>');
                                    //}
                                    //else {
                                    FeeTypeIdList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                    //}
                                });
                                //$('#FeeTypeId').attr('disabled', true);

                                var FeePeriodIdList = $('#FeePeriodId');
                                FeePeriodIdList.empty();
                                $.each(result.feeperiodlist, function () {
                                    //if (this.Value == result.feeperiodid) {
                                    //    $('#FeePeriodId').val(result.feeperiodid);
                                    //    FeePeriodIdList.append('<option selected="selected" value="' + this.Value + '">' + this.Text + '</option>');
                                    //}
                                    //else {
                                    FeePeriodIdList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                    // }
                                });
                                //  $('#FeePeriodId').attr('disabled', true);
                            }
                            else if (result.msg == "success") {
                                $('#IsForPreviousSession').val(result.previoussssion);
                                var SessionIdList = $('#SessionId');
                                SessionIdList.empty();
                                $.each(result.Sessionlist, function () {
                                    if (this.Value == result.SessionId) {
                                        $('#SessionId').val(result.SessionId);
                                        SessionIdList.append('<option selected="selected" value="' + this.Value + '">' + this.Text + '</option>');
                                    }
                                    else {
                                        SessionIdList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                    }
                                });
                            }
                            else {
                                ToastMessage(result.data, "error", true, 5000);
                                $('#StudentId').html('');
                                $('#AdmissionNo').val('');
                                $('#AdmissionNo').focus();
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (xhr, status) {
                            var err = "Error " + " " + status;
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });*@
                    }
                }
            });

            $('#SessionId').change(function () {
                if ($('#IsForPreviousSession').val() == "true") {
                    $('#GroupFeeHead_Div').hide();
                    $('#Student_Trans').hide();
                }
                else {
                    // $('#RecieptTypeId').val('');
                    $('#AdmissionNo').val('');
                    $('#AdmissionNo').attr("disabled", false);
                    $('#ClassId').val('');
                    $('#StudentId').val('');
                    $('#FeeTypeId').val('');
                    $('#FeePeriodId').val('');
                    $('#GroupFeeHead_Div').hide();
                    $('#Student_Trans').hide();
                }
                $('#lbfathername').text('');
            });

            $('#ClassId').change(function () {
                var ReceiptTypeId = 0;
                ReceiptTypeId = $('#RecieptTypeId').val();
                var receipttype = $("#RecieptTypeId option:selected").text();
                //if (ReceiptTypeId > 0) {
                
                $('#Student_Trans_Grid tbody').html('');
                $('#GroupFeeHead_Div').hide();
                $('#GroupFeeHead_Grid tbody').html('');
                if ($('#AdmissionNo').val() == "") {
                    $('#AdmissionNo').attr("disabled", false);
                }
                var classId = $(this).val();
                if (classId > 0) {
                    $('#printable_div').show();
                    GetStudentsbyClass(classId, ReceiptTypeId);
                    //if (receipttype == "Miscellaneous") {
                    //}
                    //else {
                    //    if ($('#IsForPreviousSession').val() == "False" || $('#IsForPreviousSession').val() == "false" || $('#IsForPreviousSession').val() == "") {
                    //        $('#FeePeriodId option:not(:first-child)').remove();
                    //        $('#FeePeriodId').val('');
                    //        $('#FeeTypeId').val('');
                    //        GetFeeTypeByClass(classId);
                    //    }
                    //}
                }
                else {
                    if ($('#IsForPreviousSession').val() == "False" || $('#IsForPreviousSession').val() == "false" || $('#IsForPreviousSession').val() == "") {
                        $('#StudentId option').remove();
                        $('#FeeTypeId option').remove();
                        var selectoption = "<option value=''>---Select---</option>";
                        $('#FeeTypeId').append(selectoption);
                    }
                }
                //} else {
                //    ToastMessage("Please Select Reciept Type", "error", true, 5000);
                //}

                GetFeeTypeByClass(classId);
            });
            //$(document).on('.feeperiod','click')
            // on change class get student list
            function GetStudentsbyClass(classId, ReceiptTypeId) {
                $('#StudentId option').remove();
                if ($('#IsForPreviousSession').val() == "False" || $('#IsForPreviousSession').val() == "false" || $('#IsForPreviousSession').val() == "") {
                    $('#FeeTypeId option').remove();
                }
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("StudentListbyClassId", "Fee"))',
                    async: false,
                    data: { "Class": classId, "Id": "", "CurrentSession": true, "ReceiptType": ReceiptTypeId },
                    success: function (result) {
                        if (result.status == "success") {
                            for (var i = 0; i < result.data.length; i++) {
                                var option = "";
                                if (result.data[i].Selected == true)
                                    option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                                else
                                    option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                                $('#StudentId').append(option);
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }

            function GetFeeTypeByClass(classId) {
                var feetypeid = $('#FeeTypeId').val();
                $('#FeeTypeId').html('');
                // get fee types
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetFeeTypeByClass", "Fee"))',
                    async: false,
                    data: { "Class": classId, "StudentId": $('#StudentId').val(),"sessionid" :$('#SessionId').val()},
                    success: function (result) {
                        if (result.status == "success") {
                            var selectoption = "<option value=''>---Select---</option>";
                            $('#FeeTypeId').append(selectoption);
                            for (var i = 0; i < result.data.length; i++) {
                                var option = "";
                                if (result.data[i].FeeTypeId == feetypeid)
                                    option = "<option selected value='" + result.data[i].FeeTypeId + "'>" + result.data[i].FeeType1 + "</option>";
                                else
                                    option = "<option value='" + result.data[i].FeeTypeId + "'>" + result.data[i].FeeType1 + "</option>";

                                $('#FeeTypeId').append(option);
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();

                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            $('#StudentId').change(function () {
                var receipttype = $("#RecieptTypeId option:selected").text();
                $('#printable_div').hide();
                if ($('#IsForPreviousSession').val() == "false" || $('#IsForPreviousSession').val() == "False" || $('#IsForPreviousSession').val() == "") {
                    $('#FeePeriodId option:not(:first-child)').remove();
                    $('#FeePeriodId').val('');
                    $('#FeeTypeId').val('');
                }
                $('#Student_Trans').hide();
                $('#Student_Trans_Grid tbody').html('');
                $('#GroupFeeHead_Div').hide();
                $('#GroupFeeHead_Grid tbody').html('');
                $('#AdmissionNo').val("");
                $('#AdmissionNo').attr("disabled", false);

                var studentId = $(this).val();
                var Session = $('#SessionId').val();
                if (studentId > 0) {
                    if (receipttype == "Miscellaneous") {
                    }
                    else {
                        if ($('#IsForPreviousSession').val() == "False" || $('#IsForPreviousSession').val() == "false" || $('#IsForPreviousSession').val() == "") {
                            $('#FeePeriodId option:not(:first-child)').remove();
                            $('#FeePeriodId').val('');
                            $('#FeeTypeId').val('');
                            GetFeeTypeByClass($('#ClassId').val());
                        }
                    }
                    GetStudentAdmno(studentId, Session);
                }
                else {
                    $('#printable_div').show();
                }
            });

            // on change class get student list
            function GetStudentAdmno(studentId, Session) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetStudentAdmnoByStudentVouchers", "Fee"))',
                    data: { "Student": studentId, "Session": Session, "ReceiptType": $("#RecieptTypeId").val() },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#lbfathername').text(result.FatherName);
                            $('#AdmissionNo').val(result.AdmnNo);
                            $('#AdmissionNo').attr("disabled", true);
                            $('#FeePeriodId').val('');
                            $('#FeeTypeId').val('');
                            if (result.FeeReceiptList.length > 0) {
                                for (var j = 0; j < result.FeeReceiptList.length; j++) {
                                    var row = "<tr><td style='display: none' class='clsreceipt'>" + result.FeeReceiptList[j].EncFeeReceiptId + "</td>"
                                        + "<td><a href='javascript:void(0)' class='clsreceiptno'>" + result.FeeReceiptList[j].ReceiptNo + "</a></td>"
                                          + "<td>" + result.FeeReceiptList[j].ReceiptType + "</td>"
                                       + "<td>" + result.FeeReceiptList[j].ReciptDate + "</td>"
                                        + "<td>" + result.FeeReceiptList[j].FeeType + "</td>"
                                        + "<td><i class='fa @Model.CurrencyIcon'></i> " + result.FeeReceiptList[j].PayableFee + "</td>"
                                        + "<td><i class='fa @Model.CurrencyIcon'></i> " + result.FeeReceiptList[j].PaidFee + "</td>"
                                        + "<td>" + result.FeeReceiptList[j].FeePeriod + "</td>"
                                        + "</tr>";
                                    $('#Student_Trans_Grid tbody').append(row);
                                }

                            }
                            else
                                $('#Student_Trans_Grid tbody').html("<tr><td class='text-center' colspan='7'>No data found</td></tr>");
                            $('#Student_Trans').show();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }

            $('#FeeTypeId').change(function () {

                $('#GroupFeeHead_Div').hide();
                $('#GroupFeeHead_Grid tbody').html('');
                $('#FeePeriodId').val('');

                var FeeTypeId = $(this).val();
                var StudentId = $('#StudentId').val();
                var ReceiptId = $('#ReceiptTypeIds').val();
                var SesionId = $('#SessionId').val();
                var validation = "";
                if (StudentId == null || StudentId==""){
                    StudentId="";
                }
                //if (StudentId == "")
                //    validation += "Please select Student ε";

                if (SesionId == "")
                    validation += "Please select Session ε";
                if (validation != "") {
                    var validationaray = validation.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                }

                    //if (validation != "") {
                    //    ToastMessage(validation, "error", true, 5000);
                    //}
                else {
                    if (FeeTypeId > 0)
                        GetFeePeriodByFeeType(FeeTypeId, StudentId, ReceiptId, SesionId);
                }
            });

            $(document).on("click", '.FeePeriodId', function () {
                var row = $(this).val();
                var checkifchecked = 0;
                var unchecked = 0;
                var innerrow
                if ($(this).prop('checked') == true) {
                    $.each($('.FeePeriodId'), function () {
                        innerrow = $(this).val();
                        if (innerrow != "" && row == "") {
                            $(this).prop('checked', "checked");
                        }

                        //check if not any unchecked checkbox .....then check the all classes
                        if (innerrow != "" && row != "" && innerrow != row) {
                            if ($(this).prop('checked') == false) {
                                unchecked++;
                            }
                        }

                        //-------check if not any unchecked checkbox .....then check the all classes
                    })
                    if (unchecked == 0) {
                        $.each($('.FeePeriodId'), function () {
                            var row1 = $(this).val();
                            if (row1 == "") {
                                $(this).prop('checked', "checked");
                            }
                        })
                    }
                } else {
                    $.each($('.FeePeriodId'), function () {

                        var innerrow = $(this).val();
                        if (innerrow == "" && row != "") {
                            $(this).prop('checked', false);
                        }
                        if (row == "" && innerrow != "") {
                            $(this).prop('checked', false);
                        }
                    })
                }
            })
            // on change class get student list
            function GetFeePeriodByFeeType(FeeTypeId, StudentId, ReceiptId, SesionId) {
                $('#FeePeriodId option:not(:first-child)').remove();
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetFeePeriodByFeeTypeVouchers", "Fee"))',
                    data: { "FeeType": FeeTypeId, "Student": StudentId, "RecieptTypeID": ReceiptId, "SessionId": SesionId },
                    success: function (result) {
                        if (result.status == "success") {
                            @*@if (Model.ClassNotAssigned == true) {
                            <text>
                        $('#FeePeriodId').text('');
                            </text>
                        }*@
                            $('.feeperiod').html("");

                            if (result.data.length > 0) {
                                option = "<div style=' padding-left 5px'>" +
                                          "<input type='checkbox' class='FeePeriodId' id='AllPeriod' value='' data='' /><label class='ClasslabelId' for='AllPeriod'> All </label>" +
                                          "</div>";
                                $('.feeperiod').append(option);
                                for (var i = 0; i < result.data.length; i++) {
                                    var option = "";
                                    //if (result.data[i].Selected == true)
                                    //    option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                                    //else
                                    //    option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                                    //$('#FeePeriodId').append(option);

                                    option = "<div style=' padding-left 5px'>" +
                                             "<input type='checkbox' class='FeePeriodId' id='" + result.data[i].Text + result.data[i].Value + "' value='" + result.data[i].Value + "' data='" + result.data[i].Text + "' /><label class='ClasslabelId' for='" + result.data[i].Text + result.data[i].Value + "'> " + result.data[i].Text + "</label>" +
                                             "</div>";
                                    if (result.data[i].Text != "--Select--") {
                                        $('.feeperiod').append(option);
                                    }
                                }
                                $('.Chnageposition').css('margin-top','65px');
                                $('#FeePeriodId').removeAttr("disabled");
                            }
                            else {
                                //$('#FeePeriodId').attr("disabled", true);
                                var validation = "";
                                var FeeReciptDate = $('#FeeReciptDate').val();
                                if (FeeReciptDate == "")
                                    validation += "Please enter Receipt Date ε";
                                var ClassId = $('#ClassId').val();
                                if (ClassId == "")
                                    validation += "Please select Class ε";
                                var StudentId = $('#StudentId').val();
                                if (StudentId == "")
                                    validation += "Please select Student ε";
                                var FeeTypeId = $('#FeeTypeId').val();

                                if (validation != "") {
                                    var validationaray = validation.split('ε');
                                    for (var i = 0; i < validationaray.length - 1; i++)
                                        ToastMessage(validationaray[i], "error", true, 5000);
                                }
                                else {
                                    GetGroupFeeHeadByFeeType(FeeTypeId, ClassId, StudentId, 0);
                                }
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                        @if (Model.ClassNotAssigned == true)
                {
                    <text>
                        $('#FeePeriodId').val($('#FeePeriodId option:eq(1)').val()).trigger('change');
                        </text>
                }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }

            function GetGroupFeeHeadByFeeType_VouchersCombined(FeeTypeId, ClassId, StudentId, FeePeriodId, ReceiptTypeId, feeperiod, countpendingonce) {
                var UseConsession = false;
                if ($('#UseConsession').prop('checked')) {
                    UseConsession = true;
                }
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    async: false,
                    url: '@Html.Raw(Url.Action("OtherGetGroupFeeHeadByFeeTypeVouchers_Combined", "Fee"))',
                    data: { "FeeType": FeeTypeId, "Class": ClassId, "Student": StudentId, "FeePeriod": FeePeriodId, "IsFeeReceipt": true, "StandardId": '@Model.StandardId', "ReceiptTypeID": ReceiptTypeId, "SessionId": $('#SessionId').val(), "UseConsession": UseConsession, "countpendingonce": countpendingonce },
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.data.length > 0) {
                                $('#printable_div').show();
                                var monthrow = "<tr><td><b>Month</b>:-<b>" + result.feeperiodList + "</b></td><td></td></tr>"
                                $('#GroupFeeHead_Grid tbody').append(monthrow);
                                for (var i = 0; i < result.data.length; i++) {
                                    if ((result.data.length - 1) == i) {
                                        var btns = "";


                                        var row = "<tr>"
                                       + "<td>" + result.data[i].GroupFeeHeadName + "</td>"
                                       + "<td><i class='fa @Model.CurrencyIcon'></i><span class='clstotalamt'> " + result.data[i].Amount + "</span></td>"
                                       + "<td style='display: none'></td>"
                                       + "<td style='display: none'></td>"
                                        if (result.data[i].IsDiscount == true) {
                                            @if(Model.IsDiscount)
                                        {
                                            <text>
                                            row += "<td class='text-center'>" + btns + "</td>"
                                            </text>}
                                        }
                                        else {

                                            row += "<td class='text-center'></td>"

                                        }
                                        + "</tr>";

                                        $('#GroupFeeHead_Grid tbody').append(row);

                                    }
                                    else {
                                        var btns = "";


                                        var row = "<tr>"
                                        + "<td>" + result.data[i].GroupFeeHeadName + "</td>"
                                        + "<td><i class='fa @Model.CurrencyIcon'></i><span class='clsheadamt'> " + result.data[i].Amount + "</span></td>"
                                        + "<td class='clsgroupfeeheadId' style='display: none'>" + result.data[i].GroupFeeHeadId + "</td>"
                                        + "<td class='clsheadtype' style='display: none'>" + result.data[i].HeadType + "</td>"
                                        + "<td class='clspendingfeeperiodid' style='display: none'>" + result.data[i].PendingFeePeriodId + "</td>"
                                        + "<td class='clslatefeeperiodid' style='display: none'>" + result.data[i].LateFeePeriodId + "</td>"
                                        if (result.data[i].IsDiscount == true) {
                                            @if(Model.IsDiscount)
                                            {
                                                <text>
                                            row += "<td class='text-center'>" + btns + "</td>"
                                            </text>
                                            }
                                        }
                                        else {
                                            row += "<td class='text-center'></td>"
                                        }
                                        + "</tr>";

                                        $('#GroupFeeHead_Grid tbody').append(row);
                                    }
                                }

                                // calculate paid amount and pending amount on changing amount
                                $('.clspaidamt').on("input", function (e) {
                                    var paidamtval = this.value;
                                    var payableamt = 0;
                                    var paidamount = 0;

                                    var totalamt = $('.clstotalamt').text();
                                    if (totalamt != "")
                                        payableamt = Math.round(parseFloat(totalamt)).toFixed(2);

                                    if (paidamtval != "")
                                        paidamount = Math.round(parseFloat(paidamtval)).toFixed(2);

                                    var waveoffamount = 0;
                                    $('#GroupFeeHead_Grid tbody').find('.clsWaveoffamt').each(function () {
                                        waveoffamount = parseFloat(waveoffamount) + parseFloat($(this).val());
                                    });



                                    if (waveoffamount != "" || waveoffamount != 0) {
                                        waveoffamount = Math.round(parseFloat(waveoffamount)).toFixed(2);
                                        CalculatePendingAmtWithWave(totalamt, paidamount, waveoffamount);
                                    }
                                    else {
                                        CalculatePendingAmt(totalamt, paidamount);
                                    }
                                });

                                // calculate paid amount and pending amount on changing amount
                                $('.clspendingamt').on("input", function (e) {

                                    var pendingamtval = this.value;
                                    var payableamt = 0;
                                    var pendingamount = 0;
                                    var waveoffamount = 0;
                                    $('#GroupFeeHead_Grid tbody').find('.clsWaveoffamt').each(function () {
                                        waveoffamount = parseFloat(waveoffamount) + parseFloat($(this).val());
                                    });
                                    if (waveoffamount != "" || waveoffamount != 0) {
                                        waveoffamount = Math.round(parseFloat(waveoffamount)).toFixed(2);
                                    }


                                    var totalamt = $('.clstotalamt').text();
                                    if (totalamt != "")
                                        payableamt = Math.round(parseFloat(totalamt)).toFixed(2);

                                    if (pendingamtval != "")
                                        pendingamount = Math.round(parseFloat(pendingamtval)).toFixed(2);

                                    CalculatePaidAmtWithWave(totalamt, pendingamount, waveoffamount);
                                });
                                datacount++;
                            }
                            else {
                                var row = "";
                                if (result.IsStudentLeft)
                                    row = "<tr><td>!!!Student left the School</td></tr>"
                                else
                                    row = "<tr><td>!!!sorry , No data found for Month:" + feeperiod + "</td></tr>"
                                if (datacount == 0) { $('#printable_div').hide(); }
                                $('#GroupFeeHead_Grid tbody').append(row);
                            }

                            $('#save_receipt').prop("disabled", false);
                            $('#GroupFeeHead_Div').show();

                            $(".clsamount").keypress(function (event) {
                                var $this = $(this);
                                if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
                                   ((event.which < 48 || event.which > 57) &&
                                   (event.which != 0 && event.which != 8))) {
                                    event.preventDefault();
                                }
                                var text = $(this).val();
                                if ((event.which == 46) && (text.indexOf('.') == -1)) {
                                    setTimeout(function () {
                                        if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                                            $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                                        }
                                    }, 1);
                                }
                                if ((text.indexOf('.') != -1) &&
                                    (text.substring(text.indexOf('.')).length > 2) &&
                                    (event.which != 0 && event.which != 8) &&
                                    ($(this)[0].selectionStart >= text.length - 2)) {
                                    event.preventDefault();
                                }
                            });

                            $('.clsamount').bind("paste", function (e) {
                                var text = e.originalEvent.clipboardData.getData('Text');
                                if ($.isNumeric(text)) {
                                    if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                                        e.preventDefault();
                                        $(this).val(text.substring(0, text.indexOf('.') + 3));
                                    }
                                }
                                else {
                                    e.preventDefault();
                                }
                            });

                        }
                        else {
                            $('#validation_error_div').show();
                            var messagearray = result.data.split('ε');
                            for (var i = 0 ; i < messagearray.length - 1; i++)
                                ToastMessage(messagearray[i], "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                        @if (Model.ClassNotAssigned == true)
                    {
                        <text>
                        $('#FeePeriodId').prop('disabled', true);
                        </text>
                    }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }

            // on change class get student list
            function GetGroupFeeHeadByFeeType(FeeTypeId, ClassId, StudentId, FeePeriodId, ReceiptTypeId, feeperiod, countpendingonce) {
                var UseConsession = false;
                if ($('#UseConsession').prop('checked')) {
                    UseConsession = true;
                }
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    async: false,
                    url: '@Html.Raw(Url.Action("OtherGetGroupFeeHeadByFeeTypeVouchers", "Fee"))',
                    data: { "FeeType": FeeTypeId, "Class": ClassId, "Student": StudentId, "FeePeriod": FeePeriodId, "IsFeeReceipt": true, "StandardId": '@Model.StandardId', "ReceiptTypeID": ReceiptTypeId, "SessionId": $('#SessionId').val(), "UseConsession": UseConsession, "countpendingonce": countpendingonce },
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.data.length > 0) {
                                $('#printable_div').show();
                                var monthrow = "<tr><td><b>Month</b>:-<b>" + feeperiod + "</b></td><td></td></tr>"
                                $('#GroupFeeHead_Grid tbody').append(monthrow);
                                for (var i = 0; i < result.data.length; i++) {
                                    if ((result.data.length - 1) == i) {
                                        var btns = "";


                                        var row = "<tr>"
                                       + "<td>" + result.data[i].GroupFeeHeadName + "</td>"
                                       + "<td><i class='fa @Model.CurrencyIcon'></i><span class='clstotalamt'> " + result.data[i].Amount + "</span></td>"
                                       + "<td style='display: none'></td>"
                                       + "<td style='display: none'></td>"
                                        if (result.data[i].IsDiscount == true) {
                                            @if(Model.IsDiscount)
                                        {
                                            <text>
                                            row += "<td class='text-center'>" + btns + "</td>"
                                            </text>}
                                        }
                                        else {

                                            row += "<td class='text-center'></td>"

                                        }
                                        + "</tr>";

                                        $('#GroupFeeHead_Grid tbody').append(row);

                                    }
                                    else {
                                        var btns = "";


                                        var row = "<tr>"
                                        + "<td>" + result.data[i].GroupFeeHeadName + "</td>"
                                        + "<td><i class='fa @Model.CurrencyIcon'></i><span class='clsheadamt'> " + result.data[i].Amount + "</span></td>"
                                        + "<td class='clsgroupfeeheadId' style='display: none'>" + result.data[i].GroupFeeHeadId + "</td>"
                                        + "<td class='clsheadtype' style='display: none'>" + result.data[i].HeadType + "</td>"
                                        + "<td class='clspendingfeeperiodid' style='display: none'>" + result.data[i].PendingFeePeriodId + "</td>"
                                        + "<td class='clslatefeeperiodid' style='display: none'>" + result.data[i].LateFeePeriodId + "</td>"
                                        if (result.data[i].IsDiscount == true) {
                                            @if(Model.IsDiscount)
                                            {
                                                <text>
                                            row += "<td class='text-center'>" + btns + "</td>"
                                            </text>
                                            }
                                        }
                                        else {
                                            row += "<td class='text-center'></td>"
                                        }
                                        + "</tr>";

                                        $('#GroupFeeHead_Grid tbody').append(row);
                                    }
                                }

                                // calculate paid amount and pending amount on changing amount
                                $('.clspaidamt').on("input", function (e) {
                                    var paidamtval = this.value;
                                    var payableamt = 0;
                                    var paidamount = 0;

                                    var totalamt = $('.clstotalamt').text();
                                    if (totalamt != "")
                                        payableamt = Math.round(parseFloat(totalamt)).toFixed(2);

                                    if (paidamtval != "")
                                        paidamount = Math.round(parseFloat(paidamtval)).toFixed(2);

                                    var waveoffamount = 0;
                                    $('#GroupFeeHead_Grid tbody').find('.clsWaveoffamt').each(function () {
                                        waveoffamount = parseFloat(waveoffamount) + parseFloat($(this).val());
                                    });



                                    if (waveoffamount != "" || waveoffamount != 0) {
                                        waveoffamount = Math.round(parseFloat(waveoffamount)).toFixed(2);
                                        CalculatePendingAmtWithWave(totalamt, paidamount, waveoffamount);
                                    }
                                    else {
                                        CalculatePendingAmt(totalamt, paidamount);
                                    }
                                });

                                // calculate paid amount and pending amount on changing amount
                                $('.clspendingamt').on("input", function (e) {

                                    var pendingamtval = this.value;
                                    var payableamt = 0;
                                    var pendingamount = 0;
                                    var waveoffamount = 0;
                                    $('#GroupFeeHead_Grid tbody').find('.clsWaveoffamt').each(function () {
                                        waveoffamount = parseFloat(waveoffamount) + parseFloat($(this).val());
                                    });
                                    if (waveoffamount != "" || waveoffamount != 0) {
                                        waveoffamount = Math.round(parseFloat(waveoffamount)).toFixed(2);
                                    }


                                    var totalamt = $('.clstotalamt').text();
                                    if (totalamt != "")
                                        payableamt = Math.round(parseFloat(totalamt)).toFixed(2);

                                    if (pendingamtval != "")
                                        pendingamount = Math.round(parseFloat(pendingamtval)).toFixed(2);

                                    CalculatePaidAmtWithWave(totalamt, pendingamount, waveoffamount);
                                });
                                datacount++;
                            }
                            else {
                                var row = "";
                                if (result.IsStudentLeft)
                                    row = "<tr><td>!!!Student left the School</td></tr>"
                                else
                                    row = "<tr><td>!!!sorry , No data found for Month:" + feeperiod + "</td></tr>"
                                if (datacount == 0) { $('#printable_div').hide(); }
                                $('#GroupFeeHead_Grid tbody').append(row);
                            }

                            $('#save_receipt').prop("disabled", false);
                            $('#GroupFeeHead_Div').show();

                            $(".clsamount").keypress(function (event) {
                                var $this = $(this);
                                if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
                                   ((event.which < 48 || event.which > 57) &&
                                   (event.which != 0 && event.which != 8))) {
                                    event.preventDefault();
                                }
                                var text = $(this).val();
                                if ((event.which == 46) && (text.indexOf('.') == -1)) {
                                    setTimeout(function () {
                                        if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                                            $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                                        }
                                    }, 1);
                                }
                                if ((text.indexOf('.') != -1) &&
                                    (text.substring(text.indexOf('.')).length > 2) &&
                                    (event.which != 0 && event.which != 8) &&
                                    ($(this)[0].selectionStart >= text.length - 2)) {
                                    event.preventDefault();
                                }
                            });

                            $('.clsamount').bind("paste", function (e) {
                                var text = e.originalEvent.clipboardData.getData('Text');
                                if ($.isNumeric(text)) {
                                    if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                                        e.preventDefault();
                                        $(this).val(text.substring(0, text.indexOf('.') + 3));
                                    }
                                }
                                else {
                                    e.preventDefault();
                                }
                            });

                        }
                        else {
                            $('#validation_error_div').show();
                            var messagearray = result.data.split('ε');
                            for (var i = 0 ; i < messagearray.length - 1; i++)
                                ToastMessage(messagearray[i], "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                        @if (Model.ClassNotAssigned == true)
                    {
                        <text>
                        $('#FeePeriodId').prop('disabled', true);
                        </text>
                    }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }

            function CalculatePaidAmtWithWave(totalamt, pendingamt, waveoffamount) {
                // calculate paid amounts
                var paiddamt = totalamt - pendingamt - waveoffamount;
                paiddamt = Math.round(paiddamt).toFixed(2);
                $('.clspaidamt').val(paiddamt);
                $('.clstotalamt').val()
            }

            function CalculatePendingAmtWithWave(totalamt, paidamt, waveoffamount) {
                // calculate pending amounts
                var pendingamt = totalamt - paidamt - waveoffamount;
                pendingamt = Math.round(pendingamt).toFixed(2);

                $('.clspendingamt').val(pendingamt);
            }

            $('#reset').click(function () {
                $('#FeeTypeId').val("");
                $("#FromDate,#ToDate").removeAttr('readonly');
                $('#FromDate').val("");
                $('#ToDate').val("");
                $("#FromDate,#ToDate").attr('readonly', true);
                $('#ClassId').val("");
                $("#ReceiptTypeIds option:selected").prop("selected", false);
                $("#ReceiptTypeIds").multiselect('refresh');
                $('#SessionId').val("");
                $('#RecieptTypeId').val('@Model.FeeReciptId');
                $('#ClassId').val('');
                $('#AdmissionNo').val('');
                $('#AdmissionNo').prop("disabled", false);
                $('#StudentId').html('');
                $('#FeeTypeId').html("<option>---Select---</option>");
                $('.feeperiod').html('');
                $('#lbfathername').html('');
                $('#GroupFeeHead_Grid tbody').html('');
                $('#printable_div').hide();
            });


        });




    </script>
