﻿@model ViewModel.ViewModel.Stock.ProductInfo


<script type="text/javascript">
    $(document).ready(function () {
        $('.listbox').multiselect({
            includeSelectAllOption: true
        });
       
    });
</script>
<style>
    input#txtQuantity
    {
        width:65%;    }
</style>


<div class="col-md-12  top-space-20">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label custLabels">Package Name<i class="fa  ks-required"></i></label>
            @Html.HiddenFor(model => model.PackageId, new {@id="hdnpckId" })
            @Html.TextBoxFor(m => m.PackageName, new { @autofocus = "on", @maxlength = "40", @class = "form-control", tabindex = 1, @placeholder = "Package Name" })
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                <span>@Html.ValidationMessageFor(model => model.PackageName)</span>
            </div>
            <!-- //Error Message -->
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label custLabels">Class</label><br />
            @Html.ListBoxFor(m => m.ClassIds, Model.Class, new { @id = "drpCls", @class = "listbox form-control", tabindex = 2 })
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                <span>@Html.ValidationMessageFor(model => model.ClassIds)</span>
            </div>
            <!-- //Error Message -->
        </div>

    </div>
</div>



<div id="dvaddmore">
    <h4 class="heading_cls">List of Products</h4>
    @if (Model.PackageId != "" && Model.PackageDetail.Count > 0)
    {

        for (int i = 0; i < Model.PackageDetail.Count; i++)
        {

            var list = Model.Products;
            list.ForEach(j => j.Selected = false);
            list.First(j => j.Value == Model.PackageDetail[i].productid).Selected = true;
            <div class="col-md-12  top-space-20">
                <div class="col-md-4">
                    <div class="new-Products">
                        <div class="new-Product">
                            @Html.DropDownListFor(m => m.PackageDetail[i].productid, Model.Products, new { @autofocus = "on", @id = "drpproducts" + i, tabindex = 3, @class = "products form-control" })
                        </div>
                    </div>
                </div>
                <div id="dvquantity" class="col-md-4">
                    @Html.HiddenFor(m => m.PackageDetail[i].PackageDetailId, new { @id = "hdnDetalId", @class = "hndcls" })
                    @Html.TextBoxFor(m => m.PackageDetail[i].Quantity, new { @id = "txtQuantity", @autofocus = "on", @maxlength = "40", @class = "form-control quant allownumericwithdecimal", tabindex = 4, @placeholder = "Quantity" })
                </div>
                <div id="dvbtns" class="col-md-4">
                    @if (i == 0)
                    {
                        <a id="btnAddmore"><i class="fa fa-plus"></i></a>
    <a id="btnremove" class="remove" style="display:none;"><i class="fa fa-minus"></i></a><br>

                    }
                    else
                    {
                        <a id="btnremove" class="remove"><i class="fa fa-minus"></i></a><br>

                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-12  top-space-20">
            <div class="col-md-4">
                <div class="new-Products">
                    <div class="new-Product">
                        @Html.DropDownListFor(m => m.productid, Model.Products, new { @autofocus = "on", @id = "drpproducts", tabindex = 3, @class = "products form-control" })
                    </div>
                </div>
            </div>
            <div id="dvquantity" class="col-md-4">
                @Html.Hidden("hdnDetalId", "", new { @id = "hdnDetalId", @class = "hndcls" })
                <input type="hidden" id="hdnDetalId" class="hndcls" />
                @Html.TextBoxFor(m => m.Quantity, new { @id = "txtQuantity", @autofocus = "on", @maxlength = "40", @class = "form-control quant  allownumericwithdecimal", tabindex = 4, @placeholder = "Quantity" })
            </div>
            <div id="dvbtns" class="col-md-4">
                <a id="btnAddmore"><i class="fa fa-plus"></i></a>
                <a id="btnremove" class="remove" style="display:none;"><i class="fa fa-minus"></i></a><br>
            </div>
        </div>
    }
</div>


<div class="col-md-12 top-space-10 btn_div">
    <div class="pull-right">
        @if (Model.PackageId != "")
        {
            <button type="button" id="packagesubmit" class="btn btn-success" tabindex="16">
                Update
                <i class="fa fa-chevron-right"></i>
            </button>
        }
        else
        {
                <button type="button" id="packagesubmit" class="btn btn-success" tabindex="16">
                    Save
                    <i class="fa fa-chevron-right"></i>
                </button>
        }
                @*<button type="submit" id="submit" class="btn btn-success">Next</button>*@
                <button type="button" id="packagecancel" class="btn btn-danger" tabindex="17">
                    <i class="fa fa-ban"></i> Cancel
                </button>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            if ($('#PackageName').val() == "" && $('#drpCls').val() == null) {
                $('#dvaddmore').hide();
                
            }
           

            var PackageValid = true;
            var Packagevalidationmessage = "";
            var Packagectrlfocus = "";
            function ValidatePackage() {

                PackageValid = true;
                Packagevalidationmessage = "";
                Packagectrlfocus = "";

                if ($('#PackageName').val() == "") {
                    if (Packagectrlfocus == "")
                        Packagectrlfocus = "#PackageName";
                    Packagevalidationmessage = Packagevalidationmessage + "Please provide Package Name ε";
                    PackageValid = false;
                }

                return PackageValid;
            }
            $(".allownumericwithdecimal").on("keypress", function (event) {

                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if (event.which == 8) {
                    return true;
                }
                else if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
            jQuery('#PackageName').on('input', function () {
              
                if ($('#PackageName').val() == "") {
                    $('#dvaddmore').hide();
                    $('#btnAddmore').hide();
                }
                else {
                    $('#dvaddmore').show();
                    $('#btnAddmore').hide();
                }
            });
            $('#drpCls').change(function () {
                if ($('#PackageName').val() == "") {
                    $('#dvaddmore').hide();
                }
                else {
                    $('#dvaddmore').show();
                }
            });
            $('#drpproducts').change(function () {
                if ($('#txtQuantity').val() == "") {
                    $('#btnAddmore').hide();
                }
                else {
                    $('#btnAddmore').show();
                }
            });
            jQuery('#txtQuantity').on('input', function () {

                if ($('#txtQuantity').val() == "" || $('#drpproducts').val()=="") {
                    $('#btnAddmore').hide();
                }
                else {
                    $('#btnAddmore').show();
                }
            });
            $('#packagesubmit').click(function () {
                var valid = ValidatePackage();
                if (!valid) {
                    var validationaray = Packagevalidationmessage.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                    $('#ks_loader').hide();
                    return false;
                }
                else {
                    var classes = $('#drpCls').val();
                    var ProductIds = "";
                    var Qunatities = "";
                    var DetailIds = "";
                    $('.products').each(function () {
                        if (ProductIds == "") {
                            ProductIds = $(this).val();
                        }
                        else {
                            ProductIds += "," + $(this).val();
                        }
                    });
                    
                    $('.quant').each(function () {
                        if (Qunatities == "") {
                            if ($(this).val() == "")
                                Qunatities = "0";
                            else
                                Qunatities = $(this).val();
                        }
                        else {
                            if ($(this).val() == "") {
                                Qunatities += ",0";
                            }
                            Qunatities += "," + $(this).val();
                        }
                    });
                    $('.hndcls').each(function () {
                        if (DetailIds == "") {
                            if ($(this).val() == "")
                                DetailIds = "0";
                            else
                                DetailIds = $(this).val();
                        }
                        else {
                            if ($(this).val() == "") {
                                DetailIds += ",0";
                            }
                            DetailIds += "," + $(this).val();
                        }

                    });
                    DetailIds = DetailIds.trim(',');
                    var PackageModel = new Object();
                    var Packaeid = $('#hdnpckId').val();
                    PackageModel.PackageId = Packaeid;
                    PackageModel.PackageName = $('#PackageName').val();
                    PackageModel.ClassIds = $('#drpCls').val();
                    PackageModel.productid = ProductIds;
                    PackageModel.Quantity = Qunatities;
                    PackageModel.PackageDetailId = DetailIds.trim(',');
                    $.ajax({
                        type: "POST",
                        async: true,
                        url: '@Html.Raw(Url.Action("SubmitPackage", "Stock"))',
                        data: PackageModel,
                        success: function (result) {
                            Clearpackage();
                            ToastMessage(result.data, "success", true, 5000);
                            $('#div_packageadd').hide();
                            $('#dvpackageExportOptions').hide();
                            $('#btnPackagefilter').show();
                            $('#btnPackageadd').show();
                            $('#Package-grid').show();
                            $("#Package-grid").data('kendoGrid').dataSource.read();

                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
            });
            var iCnt = 1;
            $('#btnAddmore').click(function () {
                var div = GetDynamiccontrls(iCnt);
                $('#dvaddmore').append(div);
                iCnt = iCnt + 1;
            });

            $(document).on("click", '.remove', function () {
                $(this).parent().parent().remove();
            });
            $("#packagecancel").click(function () {
                $('#ks_loader').show();
                $('#accordion').hide();
                $("#div_packageadd").hide();
                $("#btnPackageadd").show();
                $("#btnPackagefilter").show();
                $("#dvpackageExportOptions").hide();
                $("#btnback").hide();
                $("#Package-grid").show();
                Clearpackage();
                $("#Package-grid").data('kendoGrid').dataSource.page(1);
                $('#ks_loader').hide();
                var url1 = window.location.href;
                var urlpath = window.location.href;
                urlpath = urlpath.split('?')[0];
                window.history.replaceState({}, urlpath);
                if (typeof (history.pushState) != "undefined") {
                    var obj = { Page: url1, Url: urlpath };
                    history.pushState(obj, obj.Page, obj.Url);
                } else {
                    alert("Browser does not support HTML5.");
                }
            });

            function Clearpackage() {
                $('#PackageName').val("");
                Reset();
                $('#txtPackageName').val("");
                $("#drpCls option:selected").prop("selected", false);
                $("#drpCls").multiselect('refresh');
                var url1 = window.location.href;
                var urlpath = window.location.href;
                urlpath = urlpath.split('?')[0];
                window.history.replaceState({}, urlpath);
                if (typeof (history.pushState) != "undefined") {
                    var obj = { Page: url1, Url: urlpath };
                    history.pushState(obj, obj.Page, obj.Url);
                } else {
                    alert("Browser does not support HTML5.");
                }
                $('#drpproducts0').val("");
                $('.products').val("");
                $('.quant').val('');
                $('.hndcls').val('');
                $('.new-Product').val("");
                $('div.child').remove();

            }

            function GetDynamiccontrls(value) {
                var div = $("<div class='col-md-12' />");

                var div1 = $("<div class='col-md-4' />");
                var $newdiv = $('div.new-Product:first').clone().val('').attr('id', 'drpProduct' + value, 'style', 'margin:3px 0;');
                div1.append($newdiv);
                div.append(div1);
                var div2 = $("<div class='col-md-4' />");
                $('#txtQuantity')
                               .clone().val('')      // CLEAR VALUE.
                               .attr('style', 'margin:3px 0;', 'id', 'txtQuantity' + value)     // GIVE IT AN ID.
                               .appendTo(div2);
                $('#hdnDetalId').clone().val('')      // CLEAR VALUE.
                               .attr('id', 'hdnDetalId' + value)     // GIVE IT AN ID.
                               .appendTo(div2);
                div.append(div2);
                var div3 = $("<div class='col-md-4' />");
                $('#btnremove')
                     .clone()
                     .attr('style', 'float: left;    margin-top: 12px;', "id", "btnremove" + value)
                    .appendTo(div3);

                div.append(div3);

                return div;
            }
        });
    </script>


