﻿@model ViewModel.ViewModel.Stock.ProductInfo
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<!-- Validations -->
<div id="validation_paraRH" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1><b>@Model.ProductName</b> </h1>
    </div>
    <div class="col-md-6 text-right addnew_divEdition">
        <button type="button" id="btnfilterRH" class="btn btn-xs btn-default" style="display:none;"> Filters</button>
        <button type="button" id="btnaddRH" class="btn btn-xs btn-default">Add New</button>
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductRateHistoryId)
    <div class="row top-space-10" style="display: none" id="div_addRH">
        <div class="col-md-12">
            <div class="col-md-3">
                <label class="control-label">Purchase Rate<i class="fa fa-asterisk ks-required"></i></label>
                @Html.TextBoxFor(model => model.PurRate, new
                       {
                           @class = "form-control allownumericwithdecimal",
                           @autofocus = "on",
                           @maxlength = "10",
                           @placeholder = "Purchase Rate"
                       })
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.PurRate)</span>
                </div>
                <!-- //Error Message -->
            </div>
            <div class="col-md-3">
                <label class="control-label">MRP<i class="fa fa-asterisk ks-required"></i></label>
                @Html.TextBoxFor(model => model.MRP, new
                       {
                           @class = "form-control allownumericwithdecimal",
                           @maxlength = "10",
                           @placeholder = "MRP"
                       })
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="col-md-3 top-space-20">
                <button type="button" id="submitRH" class="btn btn-success">Submit</button>
                <button type="button" id="cancelRH" class="btn btn-danger">
                    <i class="fa fa-ban"></i> Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            <div id="RateHistory-grid">
                <script>
                    $(document).ready(function () {
                        $("#RateHistory-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetRateHistory", "Stock"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalData1
                                    },
                                    parameterMap: function (data) {
                                        return JSON.stringify(data);
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: '@(defaultGridPageSize)',
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: false
                            },
                            dataBound: onDataBound,
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            sortable: false,

                            columns: [{
                                field: "ProductRateHistoryId",
                                hidden: true
                            }, {
                                field: "PurRate",
                                title: "Purchase Rate",
                                sortable: true
                            }, {
                                field: "EffectiveFrom",
                                title: "Effective From",
                                sortable: true
                            }, {
                                field: "EffectiveTill",
                                title: "Effective Till",
                                sortable: true
                            }, {
                                field: "MRP",
                                title: "MRP",
                                sortable: true
                            }, {
                                field: "ProductRateHistoryId",
                                title: "Action",
                                sortable: false,
                                template: ' #if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                               + ' class="deleteRecords  btn btn-xs btn-default"  cursor:pointer" dataid="#=ProductRateHistoryId#"'
                               + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                            }]
                        });
                        var grid = $("#RateHistory-grid").data("kendoGrid");
                    });

                    function onDataBound(arg) {
                        $('[data-toggle="tooltip"]').tooltip();
                    }

                    function additionalData1() {
                        var data = {
                            ProductId: '@Model.productid',
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                    addAntiForgeryToken = function (data) {
                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                </script>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            var ProductMainId = "";
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
            for (var i = 0; i < url.length; i++) {
                ProductMainId = url[1];
            }
         
            //validations
            var RHValid = true;
            var RHvalidationmessage = "";
            var RHctrlfocus = "";
            function ValidateRH() {
                RHValid = true;
                RHvalidationmessage = "";
                RHctrlfocus = "";


                if ($('#PurRate').val() != "") {
                    var valid = ValidNumericValueWithTwoDecimalPoint($('#PurRate').val());
                    if (!valid) {
                        if (RHctrlfocus == "")
                            RHctrlfocus = "#PurRate";
                        RHvalidationmessage = RHvalidationmessage + "Please enter vaild Purchase Rate ε";
                        RHValid = false;
                    }
                }
                if ($('#MRP').val() != "") {
                    var valid = ValidNumericValueWithTwoDecimalPoint($('#MRP').val());
                    if (!valid) {
                        if (RHctrlfocus == "")
                            RHctrlfocus = "#MRP";
                        RHvalidationmessage = RHvalidationmessage + "Please enter vaild MRP ε";
                        RHValid = false;
                    }
                }

               
                if (parseFloat(parseFloat($('#PurRate').val()).toFixed(2)) > parseFloat(parseFloat($('#MRP').val()).toFixed(2))) {
                        if (RHctrlfocus == "")
                            RHctrlfocus = "#MRP";
                        RHvalidationmessage = RHvalidationmessage + "Please enter MRP greater than or equal to Purchase Rate ε";
                        RHValid = false;
                    
                }

                var aa = RHvalidationmessage;
                return RHValid;
            }


            function ValidNumericValueWithTwoDecimalPoint(textboxVal) {
                var pattern = /^[0-9]+(\.[0-9]{1,18})?$/;
                return pattern.test(textboxVal);

            }
            $('#submitRH').click(function () {
                $("#validation_paraRH ul").html('');
                var RHModel = new Object();
                RHModel.ProductId = ProductMainId;
                RHModel.PurRate = $('#PurRate').val();
                RHModel.MRP = $('#MRP').val();
                var valid = ValidateRH();
                if (valid) {
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("InsertRateHistory", "Stock"))',
                        data: RHModel,
                        success: function (result) {
                          
                            if (result.status == "success") {
                                $("#div_addRH").hide();
                                ClearRH();
                                ToastMessage(result.data, "success", true, 5000);
                                $("#RateHistory-grid").data('kendoGrid').dataSource.read({ "ProductId": ProductMainId });//reload kendo gird
                            }
                            else {
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                            }

                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                        }
                    });
                }
                else {
                    var validationaray = RHvalidationmessage.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                    return false;
                }

                $("#RateHistory-grid").data('kendoGrid').dataSource.read({ "ProductId": ProductMainId });//reload kendo gird
              
            });

            $('#btnaddRH').click(function () {
                ClearRH();
                $('#div_addRH').css('display', 'block');
            });
            $('#cancelRH').click(function () {
                $('#div_addRH').css('display', 'none');
            });

            

            //clear fields
            function ClearRH() {
                $('#PurRate').val("0");
                $('#MRP').val("0");
            }
        });

        $("#RateHistory-grid").on("click", ".deleteRecords", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });
        $("#RateHistory-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        })
        //delete ajax method
        $("#RateHistory-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var HistoryId = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteProductRateHistory", "Stock"))',
                data: { "RateHistoryId": HistoryId },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#RateHistory-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var products = tablerow.find("td:nth-child(1)").text();
                            if (productid == products)
                                tablerow.remove();
                        });
                        ToastMessage(result.data, "success", true, 5000);
                        $("#RateHistory-grid").data('kendoGrid').dataSource.read({ "ProductId": ProductMainId });//reload kendo gird
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });
    </script>

}
