﻿
@model ViewModel.ViewModel.Stock.ProductInfo
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<!-- Validations -->
<div id="validation_paraPUC" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1><b>@Model.ProductName</b> </h1>
    </div>
    <div class="col-md-6 text-right addnew_divEdition">
        <button type="button" id="btnaddPUC" class="btn btn-xs btn-default">Add New</button>
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductUnitConversionId)
    @Html.HiddenFor(model => model.productid)
    <div class="row top-space-10" style="display: none" id="div_addPUC">
        <div class="col-md-12">
            <div class="col-md-3">
                <label class="control-label">Product Unit </label>
                
                @Html.Label(Model.UnitName, new {  @class = "form-control", disabled="disabled" })
             
            </div>
            <div class="col-md-3">
                <label class="control-label">Conversion unit<i class="fa fa-asterisk ks-required"></i></label>
                @Html.DropDownListFor(m => m.ConversionUnitId, Model.Unit,
                                  new { @class = "form-control attr", @width = "150px" })
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.ConversionUnitId)</span>
                </div>
                <!-- //Error Message -->
            </div>
            <div class="col-md-3">
                <label class="control-label">Conversion Factor<i class="fa fa-asterisk ks-required"></i></label>
                @Html.TextBoxFor(model => model.Conversionfactor, new
                       {
                           @class = "form-control allownumericwithdecimal",
                           @maxlength = "10",
                           @placeholder = "Conversion Factor"
                       })

                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.Conversionfactor)</span>
                </div>
                <!-- //Error Message -->
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="col-md-3 top-space-20">
                <button type="button" id="submitPUC" class="btn btn-success">Submit</button>
                <button type="button" id="cancelPUC" class="btn btn-danger">
                    <i class="fa fa-ban"></i> Cancel
                </button>
            </div>
        </div>
    </div>

    <div class="row top-space-10">
        <div class="col-md-12">
            <div id="ProductUC-grid">
                <script>
                    $(document).ready(function () {
                        $("#ProductUC-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetProductUnitCoversion", "Stock"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalData3
                                    },
                                    parameterMap: function (data) {
                                        return JSON.stringify(data);
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: '@(defaultGridPageSize)',
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: false
                            },
                            dataBound: onDataBound,
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            sortable: false,

                            columns: [{
                                field: "ProductUnitConversionId",
                                hidden: true
                            }, {
                                field: "ConversionUnitName",
                                title: "Conversion Unit",
                                sortable: true
                            }, {
                                field: "Conversionfactor",
                                title: "Conversion Factor",
                                sortable: true
                            }, {
                                field: "ProductUnitConversionId",
                                title: "Action",
                                sortable: false,
                                template: ' #if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                                + ' class="deleteRecords  btn btn-xs btn-default"  cursor:pointer" dataid="#=ProductUnitConversionId#"'
                                + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                            }]
                        });
                        var grid = $("#ProductUC-grid").data("kendoGrid");
                    });

                    function onDataBound(arg) {
                        $('[data-toggle="tooltip"]').tooltip();
                    }

                    function additionalData3() {
                        var data = {
                            ProductId: '@Model.productid',
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                    addAntiForgeryToken = function (data) {
                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                </script>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function () {

        var ProductMainId = "";
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
        for (var i = 0; i < url.length; i++) {
            ProductMainId = url[1];
        }
      
        //validations
        var PUCValid = true;
        var PUCvalidationmessage = "";
        var PUCctrlfocus = "";
        function ValidatePUC() {
            PUCValid = true;
            PUCvalidationmessage = "";
            PUCctrlfocus = "";
            if ($('#ConversionUnitId').val() == "") {
                if (PUCctrlfocus == "")
                    PUCctrlfocus = "#ConversionUnitId";
                PUCvalidationmessage = PUCvalidationmessage + "Please provide Conversion Unit ε";
                PUCValid = false;
            }
            if ($('#Conversionfactor').val() == "") {
                if (PUCctrlfocus == "")
                    PUCctrlfocus = "#Conversionfactor";
                PUCvalidationmessage = PUCvalidationmessage + "Please provide Conversion Factor ε";
                PUCValid = false;
            }
            var aa = PUCvalidationmessage;
            return PUCValid;
        }
        $('.attr').select2();

        $('#submitPUC').click(function () {
            $("#validation_paraPS ul").html('');
            var PUCModel = new Object();
            PUCModel.ProductId = ProductMainId;
            PUCModel.ConversionUnitId = $('#ConversionUnitId').val();
            PUCModel.Conversionfactor = $('#Conversionfactor').val();
            PUCModel.ProductUnitConversionId = $('#ProductUnitConversionId').val();
            var valid = ValidatePUC();
            if (valid) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertProductUnitConversion", "Stock"))',
                    data: PUCModel,
                    success: function (result) {

                        if (result.status == "success") {
                            $("#div_addPUC").hide();
                            ClearPUC();
                            ToastMessage(result.data, "success", true, 5000);
                            $("#ProductUC-grid").data('kendoGrid').dataSource.read({ "ProductId": ProductMainId });//reload kendo gird
                        }
                        else {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }

                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                var validationaray = PSvalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                return false;
            }

            $("#ProductUC-grid").data('kendoGrid').dataSource.read({ "ProductId": ProductMainId });//reload kendo gird
        });

        $('#btnaddPUC').click(function () {
            $('#div_addPUC').show();
            ClearPUC();
        });
        $('#cancelPUC').click(function () {
            $('#div_addPUC').hide();
        });

    });
    //clear fields
    function ClearPUC() {
        $('#ConversionUnitId').val("");
        $('#Conversionfactor').val("");
    }
  
    $("#ProductUC-grid").on("click", ".deleteRecords", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').attr("dataid", enceventid);
    });
    $("#ProductUC-grid").on("click", ".k-grid-myCancel", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        $('.k-grid-myConfirm').remove();
        cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
        $('.deleteRecords').attr("dataid", enceventid);
    })
    //delete ajax method
    $("#ProductUC-grid").on("click", ".k-grid-myConfirm", function (e) {
        e.preventDefault();
        $('#ks_loader').show();
        var Unitid = $(this).attr("dataid");
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("DeleteProductUnitConversion", "Stock"))',
            data: { "UnitConversionId": Unitid },
            success: function (result) {
                if (result.status == "success") {
                    // check for updated entry
                    $('#ProductUC-grid tbody tr').each(function () {
                        var tablerow = $(this);
                        var products = tablerow.find("td:nth-child(1)").text();
                        if (productid == products)
                            tablerow.remove();
                    });
                    ToastMessage(result.data, "success", true, 5000);
                    $("#ProductUC-grid").data('kendoGrid').dataSource.read({ "ProductId": ProductMainId });//reload kendo gird
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });
    </script>
}