﻿@model ViewModel.ViewModel.Stock.ProductInfo
<!-- Validations -->


<div id="validation_paraPI" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1><b>@Model.ProductName</b> </h1>
    </div>
   
</div>


<!-- //Page Heading -->
@using (Html.BeginForm(new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ProductImageId)
    @Html.HiddenFor(model => model.productid)
    @Html.HiddenFor(model => model.ProductName)
    <div class="row top-space-10"  id="div_addPI">
        <div class="col-md-12">
            <div class="col-md-7">
                <label class="control-label">Upload Image<i class="fa fa-asterisk ks-required"></i></label> &nbsp;
                <input type="file" name="postedFile" id="ImgUpload" style="display:inline-block !important;" />

                <button type="button" id="submitPI" class="btn btn-success">Submit</button>
               
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.ProductImage)</span>
                </div>
                <!-- //Error Message -->
            </div>
          
            <div class="col-md-5">
               
                @if (!string.IsNullOrEmpty(Model.ProductImagePath))
                {
                    <img id="proImage" src="@Model.ProductImagePath" alt="" width="100" height="100" />
                }
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ImgUpload").change(function () {
                var file = document.getElementById("ImgUpload").files[0];
                var readImg = new FileReader();
                readImg.readAsDataURL(file);
                readImg.onload = function (e) {
                    $('#proImage').attr('src', e.target.result).fadeIn();
                }
            });

            $('#submitPI').click(function () {
             
                if (window.FormData !== undefined) {

                    var fileUpload = $("#ImgUpload").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    fileData.append("productId", $('#productid').val());
                    fileData.append("productName", $('#ProductName').val());
                    fileData.append("productImageId", $('#ProductImageId').val());

                    $.ajax({
                        url:  "@Html.Raw(Url.Action("UploadProductImage", "Stock"))",
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            ToastMessage(result, "success", true, 5000);
                        },
                        error: function (err) {
                            ToastMessage(err.statusText, "error", true, 5000); 
                        }
                    });
                } else {
                    ToastMessage("FormData is not supported.", "error", true, 5000);
                    
                }
            });
        });
    </script>
}