﻿@model ViewModel.ViewModel.Stock.ProductInfo
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style type="text/css">
    .plus_cls {
        margin-left: 10px;
    }
</style>
<!-- Validations -->
<div id="validation_paraPS" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1><b>@Model.ProductName</b> </h1>
    </div>
    <div class="col-md-6 text-right addnew_divEdition">
        <button type="button" id="btnaddPS" class="btn btn-xs btn-default">Add New</button>
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductDetailId)
    @Html.HiddenFor(model => model.productid)
    <div class="row top-space-10" style="display: none" id="div_addPS">
        <div class="col-md-12">
            <div class="col-md-3">
                <label class="control-label">Product Attribute<i class="fa fa-asterisk ks-required"></i></label>
                @Html.DropDownListFor(m => m.ProductAttributeId, Model.ProductAttribute,
                                         new { @class = "form-control attr", @width = "150px" })
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.ProductAttributeId)</span>
                </div>
                <!-- //Error Message -->
            </div>
            <div class="col-md-6">

                <label class="control-label">Product Attribute Value<i class="fa fa-asterisk ks-required"></i></label>
                <a id="aAdd"> <i class="fa fa-plus control-label plus_cls"></i></a>
                @Html.DropDownListFor(m => m.ProductAttributeValueId, Model.ProductAttributeValue,
                           new { @class = "form-control attrval", @width = "150px" })

                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.ProductAttributeValue)</span>
                </div>
                <!-- //Error Message -->

            </div>

            <div class="col-md-3 top-space-20">
                <button type="button" id="submitPS" class="btn btn-success">Submit</button>
                <button type="button" id="cancelPS" class="btn btn-danger">
                    <i class="fa fa-ban"></i> Cancel
                </button>
            </div>
        </div>
    </div>

    <div class="row top-space-10">
        <div class="col-md-12">
            <div id="ProductSpec-grid">
                <script>
                    $(document).ready(function () {
                        $("#ProductSpec-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetProductSpecification", "Stock"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalData2
                                    },
                                    parameterMap: function (data) {
                                        return JSON.stringify(data);
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: '@(defaultGridPageSize)',
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: false
                            },
                            dataBound: onDataBound,
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            sortable: false,

                            columns: [{
                                field: "ProductDetailId",
                                hidden: true
                            }, {
                                field: "ProductAttributeValueId",
                                hidden: true
                            }, {
                                field: "ProductAttributename",
                                title: "Product Attribute",
                                sortable: true
                            }, {
                                field: "ProductAttributeValueName",
                                title: "Product Attribute Value",
                                sortable: true
                            }, {
                                field: "ProductDetailId",
                                title: "Action",
                                sortable: false,
                                template: ' #{#<a href="javascript:void(0)" title="Update Detail" dataid="#=ProductDetailId#"'
                                + ' data-toggle="tooltip" data-placement="top"'
                                + ' class="View_PSDetail btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                + ' #if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                                + ' class="deleteRecords  btn btn-xs btn-default"  cursor:pointer" dataid="#=ProductDetailId#"'
                                + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                            }]
                        });
                        var grid = $("#ProductSpec-grid").data("kendoGrid");
                    });

                    function onDataBound(arg) {
                        $('[data-toggle="tooltip"]').tooltip();
                    }

                    function additionalData2() {
                        var data = {
                            ProductId: '@Model.productid',
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                    addAntiForgeryToken = function (data) {
                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                </script>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.attr').select2();
            $('.attrval').select2();
            var ProductMainId = "";
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
            for (var i = 0; i < url.length; i++) {
                ProductMainId = url[1];
            }

            //validations
            var PSValid = true;
            var PSvalidationmessage = "";
            var PSctrlfocus = "";
            function ValidatePS() {
                PSValid = true;
                PSvalidationmessage = "";
                PSctrlfocus = "";
                if ($('#ProductAttributeId').val() == "") {
                    if (PSctrlfocus == "")
                        PSctrlfocus = "#ProductAttributeId";
                    PSvalidationmessage = PSvalidationmessage + "Please provide Product Attribute ε";
                    PSValid = false;
                }
                if ($('#ProductAttributeValueId').val() == "") {
                    if (PSctrlfocus == "")
                        PSctrlfocus = "#ProductAttributeValue";
                    PSvalidationmessage = PSvalidationmessage + "Please provide Product Attribute Value ε";
                    PSValid = false;
                }
                var aa = PSvalidationmessage;
                return PSValid;
            }

            $('#aAdd').click(function () {
                var attr = $('#ProductAttributeId').val();

                if (attr == '') {
                    ToastMessage("Select Product Attribute", "error", true, 5000);
                }
                else {
                    $('#hdnAttrId').val(attr);
                    $('#AttributeName-Div').text($('#ProductAttributeId option:selected').text());
                    $('#AddAttrValue_div').show();
                }
            });

            $('#submitPS').click(function () {
                $("#validation_paraPS ul").html('');
                $('#btnaddPS').css('display', 'inline-block');
                var PSModel = new Object();
                PSModel.ProductId = ProductMainId;
                PSModel.ProductAttributeId = $('#ProductAttributeId').val();
                PSModel.ProductAttributeValueName = $('#ProductAttributeValueId  option:selected').text();
                PSModel.ProductDetailId = $('#ProductDetailId').val();
                var valid = ValidatePS();
                if (valid) {
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("InsertProductSpecification", "Stock"))',
                        data: PSModel,
                        success: function (result) {

                            if (result.status == "success") {
                                $("#div_addPS").hide();
                                ClearPS();
                                ToastMessage(result.data, "success", true, 5000);
                                $("#ProductSpec-grid").data('kendoGrid').dataSource.read({ "ProductId": ProductMainId });//reload kendo gird
                            }
                            else {
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                            }
                           
                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                        }
                    });
                   
                }
                else {
                    var validationaray = PSvalidationmessage.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                    return false;
                }

                $("#ProductSpec-grid").data('kendoGrid').dataSource.read({ "ProductId": ProductMainId });//reload kendo gird

            });

            $('#btnaddPS').click(function () {

                $('#submitPS').text('Submit');
                $('#div_addPS').show();
                $("#ProductAttributeId").prop("disabled", false);
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("GetCurrentAttributes", "Stock"))',
                    data: { "ProductId": ProductMainId },
                    success: function (result) {
                        $('#ProductAttributeId').show();
                        var ProductAttributeId = $('#ProductAttributeId');
                        ProductAttributeId.empty();
                        $.each(result.attributelst, function () {
                            ProductAttributeId.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });

                        $('#ks_loader').hide();
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                ClearPS();
            });
            $('#cancelPS').click(function () {
                ClearPS();
                $('#div_addPS').css('display', 'none');
                $('#btnaddPS').css('display', 'inline-block');
            });


            $('#ProductAttributeId').on("change", function () {
                GetAttributeValues();
            });


        });
        //clear fields
        function ClearPS() {
            $('#ProductAttributeId').val("");
            GetAttributeValues();
        }
        function GetAttributeValues() {
            var AttrId = $('#ProductAttributeId').val();
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("GetAttributeValues", "Stock"))',
                data: { "AttributeId": AttrId },
                success: function (result) {
                    $('#ProductAttributeValueId').show();
                    var ProductAttributeId = $('#ProductAttributeValueId');
                    ProductAttributeId.empty();
                    $.each(result.attributelst, function () {
                        ProductAttributeId.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });

                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        $(document).on("click", ".View_PSDetail", function () {
            $('#submitPS').text('Update');
            var PSInfo = $(this);
            ////hide show label
            $('#div_addPS').show();
            var detailid = PSInfo.attr('dataid');
            $('#ProductDetailId').val(detailid);
            $('#btnaddPS').css('display', 'none');
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("ViewProSpecification", "Stock"))',
                data: { "DetailId": detailid },
                success: function (result) {
                    var ProductAttributeId = $('#ProductAttributeId');
                    ProductAttributeId.empty();
                    $.each(result.DetailInfo[0].ProductAttribute, function () {
                        ProductAttributeId.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });
                    var ProductAttributeValueId = $('#ProductAttributeValueId');
                    ProductAttributeValueId.empty();
                    $.each(result.DetailInfo[0].ProductAttributeValue, function () {
                        if (this.Text == result.DetailInfo[0].ProductAttributeValueName) {
                            ProductAttributeValueId.append('<option selected="selected" value="' + this.Value + '">' + this.Text + '</option>');
                        }
                        else {
                            ProductAttributeValueId.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        }
                    });
                    $('#ProductAttributeId').val(result.DetailInfo[0].ProductAttributeId);
                    $('#ProductAttributeValue').val(result.DetailInfo[0].ProductAttributeValue);
                    $("#ProductAttributeId").prop("disabled", true);
                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });



        $("#ProductSpec-grid").on("click", ".deleteRecords", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });
        $("#ProductSpec-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        })
        //delete ajax method
        $("#ProductSpec-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var detailid = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteProductDetail", "Stock"))',
                data: { "DetailId": detailid },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#ProductSpec-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var products = tablerow.find("td:nth-child(1)").text();
                            if (productid == products)
                                tablerow.remove();
                        });
                        ToastMessage(result.data, "success", true, 5000);
                        $("#ProductSpec-grid").data('kendoGrid').dataSource.read({ "ProductId": ProductMainId });//reload kendo gird
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });
    </script>
}