﻿@model ViewModel.ViewModel.Stock.ProductInfo
@{
    ViewBag.Title = "Product";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<style type="text/css">
    input.custText {
        width: 85% !important;
        display: inline-block !important;
    }

    select#drpProductType {
        width: 86% !important;
    }

    select#drpProductGroup {
        width: 86% !important;
    }

    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }

    label.control-label.custLabels {
        width: auto !important;
        margin-right: 10px;
    }



    input[type=checkbox], input[type=radio] {
        -top: 1px\9;
        line-height: normal;
        float: left;
        margin-top: 10px;
        margin-right: 10px;
    }

    i.ks-required::after {
        content: '*';
        color: red;
        font-weight: 600;
        font-size: 15px;
    }

    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: grey; /* adjust as needed */
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }

    .panel-group {
        margin-top: 10px;
    }

    ul.multiselect-container.dropdown-menu {
        height: 300px;
        overflow: scroll;
        width: 175px !important;
    }

    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 175px;
    }

    .dropdown-menu > li > a {
        padding: 0;
    }
</style>

<div id="validation_para" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Products</h1>
    </div>

</div>

<div class="modal-popup" id="Information_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <div class="col-md-12">
                    <div class="form-group pckinfo">

                        <div id="ProductName-Div">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Description:", new { @class = "control-label" })
                            <div id="ProductDesc-Div" style="overflow-x: auto;max-height: 150px;">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Opening Balance:", new { @class = "control-label" })
                            <div id="OpeningBalance-Div">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Product Unit:", new { @class = "control-label" })
                            <div id="ProductUnit-Div">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Product Group:", new { @class = "control-label" })
                            <div id="ProductGroup-Div">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Minimum Stock Level:", new { @class = "control-label" })
                            <div id="MinStock-Div">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Is Consumable:", new { @class = "control-label" })
                            <div id="Consumable-Div">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Product Type:", new { @class = "control-label" })
                            <div id="ProductType-Div">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Maximum Stock Level:", new { @class = "control-label" })
                            <div id="MaxStock-Div">
                            </div>
                        </div>
                    </div>

                </div>

                <div id="dvrateHistory" class="col-md-12">

                </div>
                <div id="dvSpecificationDetail" class="col-md-12">

                </div>
                <div id="dvUnitConDetail" class="col-md-12">

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_divDetail">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="AddAttrValue_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Product Attribute:", new { @class = "control-label" })
                            <input type="hidden" id="hdnAttrId" />
                            <div id="AttributeName-Div">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Product Attribute Value:", new { @class = "control-label" })
                            @Html.TextBox("txtAttrvalue", "", new { @id = "txtAttrvalue", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="save" class="btn btn-success " id="addAttrVal">
                        Submit
                    </button>
                    <button type="button" name="save" class="btn btn-danger " id="closeAttrVal">
                        Close
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal-popup" id="PackageInformation_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <div class="col-md-12">
                    <div class="form-group pckinfo">
                        <label id="lbpackagename"></label>
                    </div>


                    <div id="Div-Classes" class="col-md-4 dvcls">

                    </div>
                    <div id="Div-Products" class="col-md-8">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_PackagedivDetail">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


@if (TempData["successMsg"] != null && TempData["successMsg"] != "")
{
    <script>
        $(function () {
            var ProductMainId = "";
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
            for (var i = 0; i < url.length; i++) {
                ProductMainId = url[1];
            }
            $("#productid").val(ProductMainId);
            if (ProductMainId != "") {
                $(".nav-tabs li").each(function () {
                    if ($(this).find('a').attr('href') == "#tabRH") {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active').show();
                        $(".tab-content").find('div#tabRH').siblings().removeClass('in active');
                        $(".tab-content").find('div#tabRH').addClass('in active');
                    }
                });
                $(".nav-tabs li").each(function () {
                    if ($(this).find('a').attr('href') == "#tabPS") {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active').show();
                        $(".tab-content").find('div#tabPS').siblings().removeClass('in active');
                        $(".tab-content").find('div#tabPS').addClass('in active');
                    }
                });
                $(".nav-tabs li").each(function () {
                    if ($(this).find('a').attr('href') == "#tabUC") {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active').show();
                        $(".tab-content").find('div#tabUC').siblings().removeClass('in active');
                        $(".tab-content").find('div#tabUC').addClass('in active');
                    }
                });
                $(".nav-tabs li").each(function () {
                    if ($(this).find('a').attr('href') == "#tabPI") {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active').show();
                        $(".tab-content").find('div#tabPI').siblings().removeClass('in active');
                        $(".tab-content").find('div#tabPI').addClass('in active');
                    }
                });
                //  $(".backtolist_div").show();

            }
        });
    </script>
}
@if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"] != "")
{
    <script>
        $(function () {
            var errorVal = '@TempData["ErrorMsg"]';
            var validationaray = errorVal.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
        })
    </script>
}

@using (Html.BeginForm("Product", "Stock", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.productid)
    @Html.HiddenFor(model => model.ProductImageId)
    @Html.HiddenFor(model => model.PackageId)

    <input type="hidden" id="hdnPageStatus" value="false" />

    <div class="pull-right backtolist_div" hidden>
        <button type="button" id="btnbackTo" class="btn btn-xs btn-default">Back to List</button>
    </div>

    <ul class="nav nav-tabs top-space-20">
        <li class="active"><a data-toggle="tab" href="#tab1">Product</a></li>
        <li><a data-toggle="tab" href="#tab2">Package</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">
            <div class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row col-md-7 pull-right addnew_div top-space-20">
                        <div class="col-md-4 pull-right">
                            <button type="button" id="btnfilter" class="btn btn-xs btn-default"> Filter</button>
                            @if (Model.IsAuthToAdd)
                            {
                                <button type="button" id="btnadd" class="btn btn-xs btn-default">Add New</button>
                            }
                        </div>
                        <div id="dvExportOptions" class="col-md-3 pull-right" style="margin: 0px -29px 0 0;">
                            @(Html.Partial("~/Views/Shared/_ExportLayout.cshtml", Model, new ViewDataDictionary(ViewData) { { "Prefix", "Product" } }))
                        </div>
                    </div>

                    <!-- tab1 Filters -->
                    <div class="row  top-space-20" style="display: none" id="div_filter">
                        <div class="col-md-12">



                            <div class="col-md-3 form-group">
                                <label class="control-label">Product Group</label>
                                @Html.DropDownList("drpProductGroup", Model.ProductGroup, new { @autofocus = "on", @class = "form-control prdGroup" })

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Product Type</label>

                                @Html.DropDownList("drpProductType", Model.ProductType, new { @autofocus = "on", @class = "form-control prdType" })
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Product Name</label>
                                @Html.TextBox("txtproduct", Model.ProductName, new { @class = "custText form-control", id = "txtproduct", @placeholder = "Product Name" })
                            </div>
                            &nbsp; &nbsp; &nbsp;
                            <div class="col-md-3 form-group">
                                <button type="button" id="filter" class="btn btn-default btn-success"><i class="fa fa-search"></i> Filter</button>
                                <button type="button" id="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                    <!--Add Product Functionality-->
                    <div class="row" style="display: none" id="div_add">
                        <div class="col-md-12  top-space-20">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label custLabels">Product Name<i class="fa fa-asterisk ks-required"></i></label>
                                    @Html.TextBoxFor(m => m.ProductName, new { @autofocus = "on", @maxlength = "40", @class = "form-control", tabindex = 1, @placeholder = "Product Name" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.ProductName)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label custLabels">Product Abbreviation</label>
                                    @Html.TextBoxFor(m => m.ProductAbbreviation, new { @maxlength = "20", @class = "form-control", tabindex = 5, @placeholder = "Product Abbreviation" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.ProductAbbreviation)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label custLabels">Maximum Stock Level</label>
                                    @Html.TextBoxFor(m => m.MaxStockqty, new { @maxlength = "15", tabindex = 9, @class = "form-control allownumericwithdecimal", @placeholder = "Maximum Stock Level" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.MaxStockqty)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>

                                <div class="form-group">
                                    <label class="control-label custLabels">Batch Required(Y/N)</label>
                                    @Html.CheckBoxFor(model => model.Isbatch, new { tabindex = 13 })
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label custLabels">Product Description</label>
                                    @Html.TextBoxFor(m => m.ProductDescription, new { @maxlength = "40", @class = "form-control", tabindex = 2, @placeholder = "Product Description" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.ProductDescription)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label custLabels">Opening Balance(Qty)<i class="fa fa-asterisk ks-required"></i></label>
                                    @Html.TextBoxFor(m => m.OpeningBalance, new { @maxlength = "15", @class = "form-control allownumericwithdecimal", tabindex = 6, @placeholder = "Opening Balance" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.OpeningBalance)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label custLabels">Re-Order Quantity</label>
                                    @Html.TextBoxFor(m => m.Reordeqty, new { @maxlength = "15", tabindex = 10, @class = "form-control allownumericwithdecimal", @placeholder = "Re-Order Quantity" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.Reordeqty)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>

                                <div class="form-group">
                                    <label class="control-label custLabels">Expiry Required(Y/N)</label>
                                    @Html.CheckBoxFor(model => model.Isexpiry, new { tabindex = 14 })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label custLabels">Product Group<i class="fa fa-asterisk ks-required"></i></label>
                                    @Html.DropDownListFor(m => m.ProductGroupId, Model.ProductGroup, new { @autofocus = "on", tabindex = 3, @class = "form-control prdGroup" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.ProductGroupId)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label custLabels">Unit<i class="fa fa-asterisk ks-required"></i></label>
                                    @Html.DropDownListFor(m => m.Unitid, Model.Unit, new { @autofocus = "on", tabindex = 7, @class = "form-control prdUnit" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.Unitid)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label custLabels">Product Code</label>
                                    @Html.TextBoxFor(m => m.ProductCode, new { @maxlength = "50", tabindex = 11, @class = "form-control", @placeholder = "Product Code" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.ProductCode)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>

                                <div class="form-group">
                                    <label class="control-label custLabels">Consumable(Y/N)</label>
                                    @Html.CheckBoxFor(model => model.IsConsumable, new { tabindex = 15 })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label custLabels">Product Type<i class="fa fa-asterisk ks-required"></i></label>
                                    @Html.DropDownListFor(m => m.ProductTypeId, Model.ProductType, new { @autofocus = "on", tabindex = 4, @class = "form-control prdType" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.ProductTypeId)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label custLabels">Minimum Stock Level</label>
                                    @Html.TextBoxFor(m => m.MinStockqty, new { @maxlength = "15", tabindex = 8, @class = "form-control allownumericwithdecimal", @placeholder = "Minimum Stock Level" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.MinStockqty)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label custLabels">BarCode</label>
                                    @Html.TextBoxFor(m => m.Barcode, new { @maxlength = "50", tabindex = 12, @class = "form-control", @placeholder = "Barcode" })
                                    <!-- Error Message -->
                                    <div class="error-message" style="display:none">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        <span>@Html.ValidationMessageFor(model => model.Barcode)</span>
                                    </div>
                                    <!-- //Error Message -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 top-space-10 btn_div">
                            <div class="pull-right">
                                <button type="submit" id="submit" class="btn btn-success" tabindex="16">
                                    Next
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                                @*<button type="submit" id="submit" class="btn btn-success">Next</button>*@
                                <button type="button" id="cancel" class="btn btn-danger" tabindex="17">
                                    <i class="fa fa-ban"></i> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--Stock Kendo Gird -->
                    <div class="row">
                        <div class="col-md-12 top-space-10">
                            <div id="Stock-grid">
                                <script>
                                    $(document).ready(function () {
                                        $("#Stock-grid").kendoGrid({
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: "@Html.Raw(Url.Action("GetAllStocks", "Stock"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        contentType: "application/json",
                                                        data: additionalData
                                                    },
                                                    parameterMap: function (data) {
                                                        return JSON.stringify(data);
                                                    }
                                                },
                                                schema: {
                                                    data: "Data",
                                                    total: "Total",
                                                    errors: "Errors"
                                                },
                                                error: function (e) {
                                                    display_kendoui_grid_error(e);
                                                    // Cancel the changes
                                                    this.cancelChanges();
                                                },
                                                pageSize: '@(defaultGridPageSize)',
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: false
                                            },
                                            dataBound: onDataBound,
                                            pageable: {
                                                refresh: true,
                                                pageSizes: [@(gridPageSizes)]
                                            },
                                            scrollable: false,
                                            sortable: true,

                                            columns: [{
                                                field: "productid",
                                                hidden: true
                                            }, {
                                                field: "ProductName",
                                                title: 'Product Name',
                                                sortable: true
                                            }, {
                                                field: "ProductAbbreviation",
                                                title: "Product Abbreviation",
                                                sortable: true
                                            }, {
                                                field: "ProductGroupName",
                                                title: "Product Group",
                                                sortable: true,
                                            }, {
                                                field: "ProductTypeName",
                                                title: "Product Type",
                                                sortable: true,
                                            }, {
                                                field: "OpeningBalance",
                                                title: "Opening Balance",
                                                sortable: true,
                                            },
                                             {
                                                 field: "UnitName",
                                                 title: "Unit",
                                                 sortable: true,
                                             },
                                            {
                                                field: "productid",
                                                title: "Action",
                                                width: "120px",
                                                sortable: false,
                                                template: '#if(IsAuthToEdit){#<a href="@Url.Content("~/Stock/Product?ProductId=#=productid#")" title="Edit"'
                                                + ' data-toggle="tooltip" data-placement="top"'
                                                + ' class="updateRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                                + ' #if(IsAuthToView){#<a href="javascript:void(0)" title="View Detail" dataid="#=productid#"'
                                                + ' data-toggle="tooltip" data-placement="top"'
                                                + ' class="View_ProductInfo btn btn-xs btn-default"><i class="fa fa-eye"></i></a>#}#'
                                                + ' #if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                                                + ' class="deleteRecords  btn btn-xs btn-default"   cursor:pointer" dataid="#=productid#"'
                                                + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                            }]
                                        });
                                        var grid = $("#Stock-grid").data("kendoGrid");
                                    });

                                    function onDataBound(arg) {
                                        $('[data-toggle=tooltip]').tooltip();

                                    }

                                    function additionalData() {
                                        var data = {
                                            ProductName: $('#txtproduct').val(),
                                            ProductTypeId: $('#drpProductType').val(),
                                            ProductGroupId: $("#drpProductGroup").val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }

                                    addAntiForgeryToken = function (data) {
                                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                                        return data;
                                    };
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Stock Kendo Gird -->
            </div>

            <div class="panel-group" id="accordion">

                <div id="dvRH" style="display:none;" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tabRH" style=" text-decoration: none;">
                                Rate History
                            </a>
                        </h4>
                    </div>
                    <div id="tabRH" class="panel-collapse collapse">
                        <div class="panel-body">
                            @(Html.Partial("~/Views/Stock/_ProductRateHistory.cshtml", Model))
                        </div>
                    </div>

                </div>
                <div id="dvPS" style="display:none;" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tabPS" style=" text-decoration: none;">
                                Product Specification
                            </a>
                        </h4>
                    </div>
                    <div id="tabPS" class="panel-collapse collapse">
                        <div class="panel-body">
                            @(Html.Partial("~/Views/Stock/_ProductSpecification.cshtml", Model))
                        </div>
                    </div>
                </div>

                <div id="dvUC" style="display:none;" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tabUC" style=" text-decoration: none;">
                                Unit Conversion
                            </a>
                        </h4>
                    </div>
                    <div id="tabUC" class="panel-collapse collapse">
                        <div class="panel-body">
                            @(Html.Partial("~/Views/Stock/_ProductUnitConversion.cshtml", Model))
                        </div>
                    </div>
                </div>
                <div id="dvPI" style="display:none;" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tabPI" style=" text-decoration: none;">
                                Product Image
                            </a>
                        </h4>
                    </div>
                    <div id="tabPI" class="panel-collapse collapse">
                        <div class="panel-body">
                            @(Html.Partial("~/Views/Stock/_ProductImage.cshtml", Model))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab-pane fade">
            <div class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row col-md-7 pull-right addnew_div top-space-20">
                        <div class="col-md-4 pull-right">
                            <button type="button" id="btnPackagefilter" class="btn btn-xs btn-default"> Filter</button>
                            <button type="button" id="btnPackageadd" class="btn btn-xs btn-default">Add New</button>
                        </div>
                        <div id="dvpackageExportOptions" class="col-md-3 pull-right" style="margin: 0px -29px 0 0; display:block;">
                            @(Html.Partial("~/Views/Shared/_ExportLayout.cshtml", Model, new ViewDataDictionary(ViewData) { { "Prefix", "Package" } }))
                        </div>
                    </div>

                    <!-- tab1 Filters -->
                    <div class="row  top-space-20" style="display: none" id="div_Packagefilter">
                        <div class="col-md-12">
                            <div class="col-md-3 form-group">
                                <label class="control-label">Package Name</label>
                                @Html.TextBox("txtPackageName", Model.PackageName, new { @class = "custText form-control", id = "txtPackageName", @placeholder = "Package Name" })
                            </div>

                            <div class="col-md-3 form-group" style="margin-top: 15px;">
                                <button type="button" id="packagefilter" class="btn btn-default btn-success"><i class="fa fa-search"></i> Filter</button>
                                <button type="button" id="packagereset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                    <!--Add Product Functionality-->
                    <div class="row" style="display: none" id="div_packageadd">

                    </div>
                    <!--Stock Kendo Gird -->
                    <div class="row">
                        <div class="col-md-12 top-space-10">
                            <div id="Package-grid">
                                <script>
                                    $(document).ready(function () {
                                        $("#Package-grid").kendoGrid({
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: "@Html.Raw(Url.Action("GetAllPackages", "Stock"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        contentType: "application/json",
                                                        data: additionalDatapackage
                                                    },
                                                    parameterMap: function (data) {
                                                        return JSON.stringify(data);
                                                    }
                                                },
                                                schema: {
                                                    data: "Data",
                                                    total: "Total",
                                                    errors: "Errors"
                                                },
                                                error: function (e) {
                                                    display_kendoui_grid_error(e);
                                                    // Cancel the changes
                                                    this.cancelChanges();
                                                },
                                                pageSize: '@(defaultGridPageSize)',
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: false
                                            },
                                            dataBound: onDataBound,
                                            pageable: {
                                                refresh: true,
                                                pageSizes: [@(gridPageSizes)]
                                            },
                                            scrollable: false,
                                            sortable: true,

                                            columns: [{
                                                field: "PackageId",
                                                hidden: true
                                            }, {
                                                field: "PackageName",
                                                title: 'Package Name',
                                                sortable: true
                                            }, {
                                                field: "NumberofProducts",
                                                title: "Product",
                                                sortable: true,
                                            }, {
                                                field: "Quantity",
                                                title: "Quantity",
                                                sortable: true,
                                            }, {
                                                field: "NumberofClasses",
                                                title: "Class",
                                                sortable: true,
                                            },
                                            {
                                                field: "PackageId",
                                                title: "Action",
                                                width: "120px",
                                                sortable: false,
                                                template: '#{#<a href="@Url.Content("~/Stock/Product?Id=#=PackageId#")" title="Edit"'
                                                + ' data-toggle="tooltip" data-placement="top"'
                                                + ' class="updateRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                                + ' #if(IsAuthToDelete){#<a href="javascript:void(0)" title="View Detail" dataid="#=PackageId#"'
                                                + ' data-toggle="tooltip" data-placement="top"'
                                                + ' class="View_PackageInfo btn btn-xs btn-default"><i class="fa fa-eye"></i></a>#}#'
                                                + ' #if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                                                + ' class="deleteRecords  btn btn-xs btn-default"   cursor:pointer" dataid="#=PackageId#"'
                                                + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                            }]
                                        });
                                        var grid = $("#Package-grid").data("kendoGrid");
                                    });

                                    function onDataBound(arg) {
                                        $('[data-toggle=tooltip]').tooltip();

                                    }

                                    function additionalDatapackage() {
                                        var data = {
                                            PackageName: $('#txtPackageName').val(),
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }

                                    addAntiForgeryToken = function (data) {
                                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                                        return data;
                                    };
                                </script>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Stock Kendo Gird -->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var ProductMainId = "";
        var PackageMainId = "";
        var isNew = false;
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');

        for (var i = 0; i < url.length; i++) {
            var Idname = url[0];
            if (Idname == "Id") {
                PackageMainId = url[1];
            } else {
                ProductMainId = url[1];
            }
        }

        if (PackageMainId != "") {
            $(".nav-tabs li").each(function () {
                if ($(this).find('a').attr('href') == "#tab2") {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active').show();
                    $(".tab-content").find('div#tab2').siblings().removeClass('in active');
                    $(".tab-content").find('div#tab2').addClass('in active');
                }
            });

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("PackageDetail", "Stock"))',
                data: { "PackageId": PackageMainId },
                success: function (result) {
                    success(result);
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#Package-grid').hide();
            $('#div_packageadd').show();
            $('#dvpackageExportOptions').hide();
            $('#btnPackagefilter').hide();
            $('#btnPackageadd').hide();
            $('#packagesubmit').text('Update');
        } else {
            $(".nav-tabs li").each(function () {
                $('#div_add').hide();
                if ($(this).find('a').attr('href') == "#tab1") {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active').show();
                    $(".tab-content").find('div#tab1').siblings().removeClass('in active');
                    $(".tab-content").find('div#tab1').addClass('in active');
                }
            });
        }

        // if ($('#div_add').find("i").hasClass('fa-asterisk')) {
        $('#div_add').find("i").removeClass('fa-asterisk');

        $('#div_addPI').find("i").removeClass('fa-asterisk');
        $('#div_addRH').find("i").removeClass('fa-asterisk');
        $('#div_addPS').find("i").removeClass('fa-asterisk');
        $('#div_addPUC').find("i").removeClass('fa-asterisk');
        // }



        //tabs click
        $(".nav-tabs li").click(function (e) {
            $('#ks_loader').show();
            if ($(this).find('a').attr('href') == "#tab1") {
                $('#Stock-grid').show();
                $('#div_add').hide();
                $('#dvRH').hide();
                $('#dvPS').hide();
                $('#dvUC').hide();
                $('#dvPI').hide();
                $('#dvExportOptions').show();
                $('#btnfilter').show();
                $('#btnadd').show();

                Clear();
                $("#Stock-grid").data('kendoGrid').dataSource.page(1);
                if (ProductMainId != "") {
                    $("#productid").val(ProductMainId);
                }
                @*else {
                    window.location.href = '@Html.Raw(Url.Action("Product", "Stock"))'
                }*@
            }
            if ($(this).find('a').attr('href') == "#tab2") {
                $("#PackageId").val(PackageMainId);
            }

            $('#ks_loader').hide();
        });


        $(document).ready(function () {
            $('.listbox').multiselect({
                includeSelectAllOption: true
            });

            $('.prdGroup').select2();
            $('.prdType').select2();
            $('.prdUnit').select2();


            $('#closeAttrVal').click(function () {
                $('#txtAttrvalue').val('');
                $('#AddAttrValue_div').hide();
                $('#hdnAttrId').val('');
            });



            $('#addAttrVal').click(function () {
                $('#ks_loader').show();
                var AttributeId = $('#hdnAttrId').val();
                var AttributeValue = $('#txtAttrvalue').val();
                if (AttributeValue == "") {
                    ToastMessage("Please provide Attribute Value", "error", true, 5000);
                }
                else {
                    $.ajax({
                        type: "POST",
                        async: true,
                        url: '@Html.Raw(Url.Action("SaveAttributevalue", "Stock"))',
                        data: { AttributeId: AttributeId, AttributeValue: AttributeValue },
                        success: function (result) {
                            if (result.Isexist == false) {
                                ToastMessage("Attribute Value Added Successfully", "success", true, 5000);
                            }
                            else {
                                ToastMessage("Attribute Value already exist", "error", true, 5000);
                            }
                            var ProductAttributeId = $('#ProductAttributeValueId');
                            ProductAttributeId.empty();
                            $.each(result.attributevallst, function () {
                                ProductAttributeId.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                            });
                            $('#txtAttrvalue').val('');
                            $('#AddAttrValue_div').hide();
                            $('#hdnAttrId').val('');

                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                $('#ks_loader').hide();
            });

            $('#btnPrintExcel_Package').click(function () {
                $('#ks_loader').show();
                var PackageName = $('#txtPackageName').val();
                var IsExcel = "1";
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export_Package", "Stock"))',
                    data: {},
                    success: function (result) {

                        window.location = "../Stock/ExportData_Package?PackageName=" + PackageName + "&IsExcel=" + IsExcel;
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#ks_loader').hide();
            });

            $('#btnPrintPdf_Package').click(function () {
                $('#ks_loader').show();
                var PackageName = $('#txtPackageName').val();
                var IsExcel = "3";
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export_Package", "Stock"))',
                    data: {},
                    success: function (result) {

                        window.location = "../Stock/ExportData_Package?PackageName=" + PackageName + "&IsExcel=" + IsExcel;
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#ks_loader').hide();
            });

            $('#btnPrint_Package').click(function () {
                $('#ks_loader').show();
                var PackageName = $('#txtPackageName').val();
                var IsExcel = "2";
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export_Package", "Stock"))',
                    data: {},
                    success: function (result) {

                        window.location = "../Stock/ExportData_Package?PackageName=" + PackageName + "&IsExcel=" + IsExcel;
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#ks_loader').hide();
            });



            $('#btnPrintExcel_Product').click(function () {
                $('#ks_loader').show();
                var productGroupId = $('#drpProductGroup').val();
                var productTypeId = $('#drpProductType').val();
                var ProductName = $('#txtproduct').val();
                var IsExcel = "1";
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export_Product", "Stock"))',
                    data: {},
                    success: function (result) {
                        window.location = "../Stock/ExportData_Product?ProductGroup=" + productGroupId + "&ProductType=" + productTypeId + "&Productname=" + ProductName + "&IsExcel=" + IsExcel;
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });

                $('#ks_loader').hide();
            });

            $('#btnPrintPdf_Product').click(function () {
                $('#ks_loader').show();
                var productGroupId = $('#drpProductGroup').val();
                var productTypeId = $('#drpProductType').val();
                var ProductName = $('#txtproduct').val();
                var IsExcel = "0";
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export_Product", "Stock"))',
                    data: {},
                    success: function (result) {
                        window.location = "../Stock/ExportData_Product?ProductGroup=" + productGroupId + "&ProductType="
                                        + productTypeId + "&Productname=" + ProductName + "&IsExcel=" + IsExcel;
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#ks_loader').hide();
            });
            $('#btnPrint_Product').click(function () {
                $('#ks_loader').show();
                var productGroupId = $('#drpProductGroup').val();
                var productTypeId = $('#drpProductType').val();
                var ProductName = $('#txtproduct').val();
                var IsExcel = "2";
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export_Product", "Stock"))',
                    data: {},
                    success: function (result) {
                        window.location = "../Stock/ExportData_Product?ProductGroup=" + productGroupId + "&ProductType="
                                            + productTypeId + "&Productname=" + ProductName + "&IsExcel=" + IsExcel;
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#ks_loader').hide();
            });

            $(".allownumericwithdecimal").on("keypress", function (event) {

                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if (event.which == 8) {
                    return true;
                }
                else if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });

            $('#close_divDetail').click(function () {
                $('#Information_div').hide();
            });
            $('#close_PackagedivDetail').click(function () {
                $('#PackageInformation_div').hide();
            });


            $('#btnfilter').click(function () {
                $('#div_filter').toggle();
                $("#div_add").hide();
                $("#Stock-grid").show();
                $("#submit").hide();
                $("#cancel").hide();
                $("#btnadd").show();
                $("#btnback").hide();
                $("#submit").attr({ type: "button" });
                $("#dvExportOptions").show();
            });
            $('#btnPackagefilter').click(function () {
                $('#div_Packagefilter').toggle();
                $("#div_packageadd").hide();
                $("#Package-grid").show();
                $("#packagesubmit").hide();
                $("#packagecancel").hide();
                $("#btnPackageadd").show();
                $("#btnback").hide();
                $("#packagesubmit").attr({ type: "button" });
                $("#dvpackageExportOptions").hide();
            });





            $('#filter').click(function () {

                var grid = $("#Stock-grid").data("kendoGrid");
                grid.dataSource.read();
            });
            $('#packagefilter').click(function () {
                var grid = $("#Package-grid").data("kendoGrid");
                grid.dataSource.read();
            });
            $('#reset').click(function () {
                $('#txtproduct').val("");
                $('#drpProductType').val("");
                $('#drpProductGroup').val("");
                $('#ks_loader').show();
                Clear();
                $("#Stock-grid").data('kendoGrid').dataSource.read();
                $('#ks_loader').hide();
            });
            $('#packagereset').click(function () {
                $('#ks_loader').show();
                Clearpackage();
                $('#txtPackageName').val("");
                $("#Package-grid").data('kendoGrid').dataSource.read();
                $('#ks_loader').hide();
            });

            $("#btnadd").click(function () {
                $("#submit").attr({ type: "submit" });
                Clear();
                $('#productid').val("");
                $("#div_add").show();
                $("#Stock-grid").hide();
                $("#div_filter").hide();
                $("#submit").show();
                $("#cancel").show();
                $("#btnadd").hide();
                $("#Stock-grid").hide();
                $("#btnfilter").hide();
                $("#dvExportOptions").hide();
                $("#hdnPageStatus").val("true");
                PackageMainId = "";
                ProductMainId = "";
                $('#submit').text('Submit');
            });
            $("#btnPackageadd").click(function () {
                $('#ks_loader').show();

                $("#div_packageadd").show();
                $("#Package-grid").hide();
                $("#div_Packagefilter").hide();
                $("#packagesubmit").show();
                $("#packagecancel").show();
                $("#btnPackageadd").hide();
                $("#Package-grid").hide();
                $("#btnPackagefilter").hide();
                $("#dvpackageExportOptions").hide();
                $("#hdnPageStatus").val("true");

                PackageMainId = "";
                ProductMainId = "";
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("PackageDetail", "Stock"))',
                    data: { "PackageId": PackageMainId },
                    success: function (result) {
                        success(result);
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });

            })
            $("#btnback").click(function () {
                $('#ks_loader').show();
                $("#div_add").hide();
                $("#Stock-grid").show();
                $("#div_filter").hide();
                $("#submit").hide();
                $("#cancel").hide();
                $("#btnadd").show();
                $("#btnback").hide();
                $("#btnfilter").show();
                $("#dvExportOptions").show();
                Clear();

                window.location.reload();
                if (window.location.href.indexOf('?') > -1) {
                    window.location.href = window.location.pathname;
                }
                $('#ks_loader').hide();
            });
            $("#btnbackTo").click(function () {
                $("#btnback").click();

            });
            $("#cancel").click(function () {
                $('#ks_loader').show();
                $('#accordion').hide();
                $("#div_add").hide();
                $("#btnadd").show();
                $("#btnfilter").show();
                $("#dvExportOptions").show();
                $("#btnback").hide();
                $("#Stock-grid").show();
                $('#dvRH').hide();
                $('#dvPS').hide();
                $('#dvUC').hide();
                $('#dvPI').hide();
                Clear();
                $("#Stock-grid").data('kendoGrid').dataSource.page(1);
                //window.location.reload();
                //if (window.location.href.indexOf('?') > -1) {
                //    window.location.href = window.location.pathname;
                //}

                $('#ks_loader').hide();
            });


            if (window.location.href.indexOf('?') != -1) {
                if ($("#hdnPageStatus").val() == "true") {
                    $("#dvP").show();
                    $("#dvRH").show();
                    $("#dvPS").show();
                    $("#dvUC").hide();
                    $("#dvPI").show();
                }
                else {
                    //for update
                    $("#dvP").show();
                    $("#dvPI").show();
                    $("#dvRH").show();
                    $("#dvPS").show();
                    $("#dvUC").hide();
                    $("button#submit").html('');
                    $("button#submit").html('<i class="fa fa-floppy-o"></i> Update');
                    $("#div_filter").hide();
                    $("#div_add").show();
                    $("#submit").show();
                    $("#cancel").show();
                    $("#btnfilter").hide();
                    $("#dvExportOptions").hide();
                    $("#btnadd").hide();
                    $("#Stock-grid").hide();

                    if (ProductMainId != "") {

                        $("#productid").val(ProductMainId);
                    }
                }
                // $(".backtolist_div").show();
            }

            $('#dvP').click(function () {
                $("#tabRH").removeClass('in');
                $("#tabRH").removeClass('out');
                $("#tabPS").removeClass('in');
                $("#tabPS").removeClass('out');
                $("#tabUC").removeClass('in');
                $("#tabUC").removeClass('out');
                $("#tabPI").removeClass('in');
                $("#tabPI").removeClass('out');
            });
            $('#dvRH').click(function () {
                $("#tabP").removeClass('in');
                $("#tabP").removeClass('out');
                $("#tabPS").removeClass('in');
                $("#tabPS").removeClass('out');
                $("#tabUC").removeClass('in');
                $("#tabUC").removeClass('out');
                $("#tabPI").removeClass('in');
                $("#tabPI").removeClass('out');
            });
            $('#dvPS').click(function () {
                $("#tabRH").removeClass('in');
                $("#tabRH").removeClass('out');
                $("#tabP").removeClass('in');
                $("#tabP").removeClass('out');
                $("#tabUC").removeClass('in');
                $("#tabUC").removeClass('out');
                $("#tabPI").removeClass('in');
                $("#tabPI").removeClass('out');
            });
            $('#dvUC').click(function () {
                $("#tabRH").removeClass('in');
                $("#tabRH").removeClass('out');
                $("#tabPS").removeClass('in');
                $("#tabPS").removeClass('out');
                $("#tabP").removeClass('in');
                $("#tabP").removeClass('out');
                $("#tabPI").removeClass('in');
                $("#tabPI").removeClass('out');
            });
            $('#dvPI').click(function () {
                $("#tabRH").removeClass('in');
                $("#tabRH").removeClass('out');
                $("#tabPS").removeClass('in');
                $("#tabPS").removeClass('out');
                $("#tabP").removeClass('in');
                $("#tabP").removeClass('out');
                $("#tabUC").removeClass('in');
                $("#tabUC").removeClass('out');
            });

            //validations
            var StockValid = true;
            var Stockvalidationmessage = "";
            var Stockctrlfocus = "";
            function ValidateStocks() {

                StockValid = true;
                Stockvalidationmessage = "";
                Stockctrlfocus = "";

                if ($('#ProductName').val() == "") {
                    if (Stockctrlfocus == "")
                        Stockctrlfocus = "#ProductName";
                    Stockvalidationmessage = Stockvalidationmessage + "Please provide Product Name ε";
                    StockValid = false;
                }
                if ($('#ProductTypeId').val() == "") {
                    if (Stockctrlfocus == "")
                        Stockctrlfocus = "#ProductTypeId";
                    Stockvalidationmessage = Stockvalidationmessage + "Please provide Product Type ε";
                    StockValid = false;
                }
                if ($('#ProductGroupId').val() == "") {
                    if (Stockctrlfocus == "")
                        Stockctrlfocus = "#ProductGroupId";
                    Stockvalidationmessage = Stockvalidationmessage + "Please provide Product Group ε";
                    StockValid = false;
                }
                if ($('#OpeningBalance').val() == "") {
                    if (Stockctrlfocus == "")
                        Stockctrlfocus = "#OpeningBalance";
                    Stockvalidationmessage = Stockvalidationmessage + "Please provide Opening Balance ε";
                    StockValid = false;
                }
                if ($('#Unitid').val() == "") {
                    if (Stockctrlfocus == "")
                        Stockctrlfocus = "#Unitid";
                    Stockvalidationmessage = Stockvalidationmessage + "Please provide Unit ε";
                    StockValid = false;
                }


                var aa = Stockvalidationmessage;
                return StockValid;
            }
            $('#submit').click(function () {

                var valid = ValidateStocks();
                if (!valid) {
                    var validationaray = Stockvalidationmessage.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                    $('#ks_loader').hide();
                    return false;
                }
                else {
                    var row = $(this).parent().parent();
                    var StockDetailModel = new Object();
                    StockDetailModel.productid = ProductMainId;
                    StockDetailModel.ProductTypeId = $('#ProductTypeId').val();
                    StockDetailModel.ProductGroupId = $('#ProductGroupId').val();
                    StockDetailModel.ProductName = $('#ProductName').val();
                    StockDetailModel.OpeningBalance = $('#OpeningBalance').val();
                    StockDetailModel.Unitid = $('#Unitid').val();
                    StockDetailModel.MinStockqty = $('#MinStockqty').val();
                    StockDetailModel.MaxStockqty = $('#MaxStockqty').val();
                    StockDetailModel.Reordeqty = $('#Reordeqty').val();
                    StockDetailModel.ProductDescription = $('#ProductDescription').val();
                    StockDetailModel.ProductAbbreviation = $('#ProductAbbreviation').val();
                    StockDetailModel.ProductCode = $('#ProductCode').val();
                    StockDetailModel.Barcode = $('#Barcode').val();
                    StockDetailModel.Isbatch = $('#Isbatch').prop("checked");
                    StockDetailModel.Isbatch = $('#Isexpiry').prop("checked");
                    StockDetailModel.Isbatch = $('#IsConsumable').prop("checked");

                    $('#ks_loader').hide();
                }
            });




            $("#Stock-grid").on("click", ".deleteRecords", function (e) {
                $('.tooltip').hide();
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
                cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
                $('.k-grid-myConfirm').attr("dataid", enceventid);
            });
            $("#Stock-grid").on("click", ".k-grid-myCancel", function (e) {
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                $('.k-grid-myConfirm').remove();
                cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
                $('.deleteRecords').attr("dataid", enceventid);
            })
            //delete ajax method
            $("#Stock-grid").on("click", ".k-grid-myConfirm", function (e) {
                e.preventDefault();
                $('#ks_loader').show();
                var productid = $(this).attr("dataid");
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeleteProduct", "Stock"))',
                    data: { "ProductId": productid },
                    success: function (result) {
                        if (result.status == "success") {
                            // check for updated entry
                            $('#Stock-grid tbody tr').each(function () {
                                var tablerow = $(this);
                                var products = tablerow.find("td:nth-child(1)").text();
                                if (productid == products)
                                    tablerow.remove();
                            });
                            ToastMessage(result.data, "success", true, 5000);
                            $("#Stock-grid").data('kendoGrid').dataSource.read();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            });

            $("#Package-grid").on("click", ".deleteRecords", function (e) {
                $('.tooltip').hide();
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
                cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
                $('.k-grid-myConfirm').attr("dataid", enceventid);
            });
            $("#Package-grid").on("click", ".k-grid-myCancel", function (e) {
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                $('.k-grid-myConfirm').remove();
                cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
                $('.deleteRecords').attr("dataid", enceventid);
            })
            //delete ajax method
            $("#Package-grid").on("click", ".k-grid-myConfirm", function (e) {
                e.preventDefault();
                $('#ks_loader').show();
                var packageid = $(this).attr("dataid");
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeletePackage", "Stock"))',
                    data: { "PackageId": packageid },
                    success: function (result) {
                        if (result.status == "success") {
                            // check for updated entry
                            $('#Package-grid tbody tr').each(function () {
                                var tablerow = $(this);
                                var packages = tablerow.find("td:nth-child(1)").text();
                                if (packageid == packages)
                                    tablerow.remove();
                            });
                            ToastMessage(result.data, "success", true, 5000);
                            $("#Package-grid").data('kendoGrid').dataSource.read();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            });

        });



        $(document).on("click", ".View_ProductInfo", function () {
            $('#ks_loader').show();
            var ProductInfo = $(this);

            ////hide show label

            var productid = ProductInfo.attr('dataid');

            $('#ProductName-Div').text("");
            $('#ProductGroup-Div').text("");
            $('#ProductType-Div').text("");
            $('#ProductUnit-Div').text("");
            $('#OpeningBalance-Div').text("");
            $('#MinStock-Div').text("");
            $('#ProductDesc-Div').text("");
            $('#MaxStock-Div').text("");
            $('#Consumable-Div').text("");

            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("ViewProductInformation", "Stock"))',
                data: { "ProductId": productid },
                success: function (result) {

                    $('#ProductName-Div').text(result.productinfo[0].ProductName);
                    $('#ProductGroup-Div').text(result.productinfo[0].ProductGroupName);
                    $('#ProductType-Div').text(result.productinfo[0].ProductTypeName);
                    $('#ProductUnit-Div').text(result.productinfo[0].UnitName);
                    $('#OpeningBalance-Div').text(result.productinfo[0].OpeningBalance);
                    $('#MinStock-Div').text(result.productinfo[0].MinStockqty);
                    if (result.productinfo[0].ProductDescription == "") {
                        $('#ProductDesc-Div').html('&nbsp;');
                    }
                    else {
                        $('#ProductDesc-Div').text(result.productinfo[0].ProductDescription);
                    }
                    $('#MaxStock-Div').text(result.productinfo[0].MaxStockqty);
                    if (result.productinfo[0].IsConsumable == false) {
                        $('#Consumable-Div').text("No");
                    }
                    else {
                        $('#Consumable-Div').text("Yes");
                    }
                    //Rate History
                    var htmlRateHistory = "<h4>Rate History Detail</h4>";
                    htmlRateHistory += '<table class="table viewpackInfo">';
                    htmlRateHistory += '<tr><th class="td_border">Purchase Rate</th>';
                    htmlRateHistory += '<th class="td_border">MRP</th>';
                    htmlRateHistory += '<th class="td_border">Effective From</th>';
                    htmlRateHistory += '<th>Effective Till</th></tr>';
                    for (i = 0; i < result.productinfo[0].RateHistoryDetail.length; i++) {
                        htmlRateHistory += '<tr><td class="td_border">' + result.productinfo[0].RateHistoryDetail[i].PurRate + '</td>';
                        htmlRateHistory += '<td class="td_border">' + result.productinfo[0].RateHistoryDetail[i].MRP + '</td>';
                        htmlRateHistory += '<td class="td_border">' + result.productinfo[0].RateHistoryDetail[i].EffectiveFrom + '</td>';
                        htmlRateHistory += '<td>' + result.productinfo[0].RateHistoryDetail[i].EffectiveTill + '</td></tr>';
                    }
                    htmlRateHistory += '</table>';
                    $('#dvrateHistory').html(htmlRateHistory);
                    // Product Specification
                    var htmlSpecification = "<h4>Product Specification Detail</h4>";
                    htmlSpecification += '<table class="table viewpackInfo">';
                    htmlSpecification += '<tr><th class="td_border">Product Attribute</th>';
                    htmlSpecification += '<th>Product Attribute Value</th></tr>';
                    for (i = 0; i < result.productinfo[0].SpecificationDetail.length; i++) {
                        htmlSpecification += '<tr><td class="td_border">' + result.productinfo[0].SpecificationDetail[i].ProductAttributeName + '</td>';
                        htmlSpecification += '<td>' + result.productinfo[0].SpecificationDetail[i].ProductAttributeValue + '</td></tr>';
                    }
                    htmlSpecification += '</table>';
                    $('#dvSpecificationDetail').html(htmlSpecification);
                    // Product Unit conversion
                    var htmlSpecification = "<h4>Product Unit Conversion Detail</h4>";
                    htmlSpecification += '<table class="table viewpackInfo">';
                    htmlSpecification += '<tr><th class="td_border">Conversion Unit</th>';
                    htmlSpecification += '<th>Conversion Factor</th></tr>';
                    for (i = 0; i < result.productinfo[0].UnitConversionDetail.length; i++) {
                        htmlSpecification += '<tr><td  class="td_border">' + result.productinfo[0].UnitConversionDetail[i].ConversionUnitName + '</td>';
                        htmlSpecification += '<td>' + result.productinfo[0].UnitConversionDetail[i].Conversionfactor + '</td></tr>';
                    }
                    htmlSpecification += '</table>';
                    $('#dvUnitConDetail').html(htmlSpecification);
                    $('#Information_div').show();
                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        });
        $(document).on("click", ".View_PackageInfo", function () {
            $('#ks_loader').show();
            var ProductInfo = $(this);

            ////hide show label

            var packageid = ProductInfo.attr('dataid');

            $('#dvPackageName').text("");
            $('#Div-Classes').text("");
            $('#Div-Products').text("");
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("ViewPackageInformation", "Stock"))',
                data: { "PackageId": packageid },
                success: function (result) {
                    $('#lbpackagename').text(result.productinfo[0].PackageName);
                    var htmlClasses = "<h4>List of Classes</h4>";
                    htmlClasses += '<table class="table viewpackInfo">';

                    for (i = 0; i < result.productinfo[0].Classnames.length; i++) {
                        htmlClasses += '<tr><td>' + result.productinfo[0].Classnames[i] + '</td></tr>';
                    }
                    htmlClasses += '</table>';
                    $('#Div-Classes').html(htmlClasses);

                    var htmlProducts = "<h4>List of Products</h4>";
                    htmlProducts += '<table class="table viewpackInfo">';
                    htmlProducts += '<tr><th class="td_border">Product Name</th><th>Quantity</th></tr>';
                    for (i = 0; i < result.productinfo[0].PackageDetail.length; i++) {
                        htmlProducts += '<tr><td class="td_border">' + result.productinfo[0].PackageDetail[i].ProductName + '</td>';
                        htmlProducts += '<td>' + result.productinfo[0].PackageDetail[i].Quantity + '</td></tr>';
                    }
                    htmlProducts += '</table>';
                    $('#Div-Products').html(htmlProducts);
                    $('#PackageInformation_div').show();
                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        });

        //clear fields
        function Clear() {
            $('#ProductName').val("");
            $("#ProductDescription").val("");
            $("#ProductGroupId").val("");
            $('#ProductTypeId').val("");
            $('#ProductAbbreviation').val("");
            $('#OpeningBalance').val("");
            $('#Unitid').val("");
            $('#MinStockqty').val("");
            $('#MaxStockqty').val("");
            $('#Reordeqty').val("");
            $('#ProductCode').val("");
            $('#Barcode').val("");
            $('#IsConsumable').prop("checked", false);
            $('#Isbatch').prop("checked", false);
            $('#Isexpiry').prop("checked", false);
            $('#drpProductGroup').val("");
            $('#drpProductType').val("");
            $('#txtproduct').val("");
            var url1 = window.location.href;
            var urlpath = window.location.href;
            urlpath = urlpath.split('?')[0];
            window.history.replaceState({}, urlpath);
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: url1, Url: urlpath };
                history.pushState(obj, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }


        }
        function Clearpackage() {
            $('#PackageName').val("");
            // Reset();
            $('#txtPackageName').val("");
            $("#drpCls option:selected").prop("selected", false);
            $("#drpCls").multiselect('refresh');
            var url1 = window.location.href;
            var urlpath = window.location.href;
            urlpath = urlpath.split('?')[0];
            window.history.replaceState({}, urlpath);
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: url1, Url: urlpath };
                history.pushState(obj, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
            $('#drpproducts0').val("");
            $('.products').val("");
            $('.quant').val('');
            $('.hndcls').val('');
            $('.new-Product').val("");
            $('div.child').remove();

        }
        function Reset() {
            var listBox = document.getElementById("drpCls");
            listBox.selectedIndex = -1;
        }
        function success(result) {
            $("#div_packageadd").html(result);
        }




    </script>
}
