﻿@model ViewModel.ViewModel.Stock.VoucherInfo
@{
    ViewBag.Title = "StockTransaction";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style>
    .storecls {
        width: 160px;
        display: inline-block;
    }

    label.control-label.custLabels {
        width: 45%;
        margin-right: 10px;
        text-align: left;
    }

    .commoncls {
        width: 190px;
    }

    #txtQuantity,#txtNewProductName {
        width: 30% !important;
    }

    .table > thead > tr > th {
        border-right: 1px solid #ddd;
    }

    .table > tbody > tr > td {
        border-right: 1px solid #ddd;
    }
</style>

<div id="validation_para" hidden>
    <ul></ul>
</div>
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Vouchers</h1>
    </div>

</div>
<div class="modal-popup" id="ProductList_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Select Package</label>
                        @Html.DropDownList("drpPackageList", Model.PackageList, new { @class = "form-control storecls", @id = "drpPackageList" })
                        @Html.Hidden("hdnPackageId", Model.PackageId, new { @id = "hdnPackageId" })
                    </div>
                    <div id="Div-ProductDetail" class="dvcls">

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-success " id="OK_divDetail">
                    OK
                </button>
                <button type="button" name="save" class="btn btn-danger " id="close_divDetail">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="AddMoreProduct_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <div class="col-md-12">
                    <div class="form-group">
                        <label id="lberror" style="color:red;"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Select Product Group</label>
                        @Html.DropDownList("drpPGList", Model.ProductGroupList, new { @class = "form-control storecls", @id = "drpPGList" })
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Select Product Type</label>
                        @Html.DropDownList("drpPTList", Model.ProductTypeList, new { @class = "form-control storecls", @id = "drpPTList" })
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Select Product</label>
                        @Html.DropDownList("drpPList", Model.ProductList, new { @class = "form-control storecls", @id = "drpPList" })
                        @Html.Hidden("hdnProductId", Model.ProductId, new { @id = "hdnProductId" })
                        <i class="fa fa-plus" id="btnAddNewProduct" title="Add New Product" style="cursor:pointer;"></i>
                    </div>
                    <div class="form-group" id="dvNewProduct" style="display:none;">
                        <label class="control-label col-md-4">Product Name</label>
                        @Html.TextBox("txtNewProductName", "", new { @class = "custText form-control", @autofocus = "on", id = "txtNewProductName", @placeholder = "Product Name" })
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Quantity</label>
                        @Html.TextBox("txtQuantity", Model.Quantity, new { @class = "custText form-control", @autofocus = "on", id = "txtQuantity", @placeholder = "Quantity" })
                    </div>
                    <div class="form-group" style="text-align:center;">
                        <button id="btnSaverow" class="btn btn-default" type="button">Add</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <table id="tblProductlist" class="table viewpackInfo">
                        <thead>
                            <tr>
                                <th style="display:none;">Product Id</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-success " id="Add_divDetail">
                    Save
                </button>
                <button type="button" name="save" class="btn btn-danger " id="closeAdd_divDetail">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("StockTransaction", "Stock", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.VoucherId)

    <input type="hidden" id="hdnPageStatus" value="false" />
    <div class="pull-right backtolist_div" hidden>
        <button type="button" id="btnbackTo" class="btn btn-xs btn-default">Back to List</button>
    </div>
    <div>
        <div class="row col-md-7 pull-right addnew_div top-space-20">
            <div class="col-md-4 pull-right">
                <button type="button" id="btnfilter" class="btn btn-xs btn-default"> Filter</button>
                <button type="button" id="btnadd" class="btn btn-xs btn-default">Add New</button>
            </div>
            <div id="dvExportOptions" class="col-md-3 pull-right" style="margin: 0px -29px 0 0;">
                @(Html.Partial("~/Views/Shared/_ExportLayout.cshtml", Model, new ViewDataDictionary(ViewData) { { "Prefix", "Product" } }))
            </div>
        </div>
        <!--  Filters -->
        <div class="row col-md-12 top-space-20" style="display: none" id="div_filter">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Voucher</label>
                    @Html.TextBox("txtVoucher", Model.Voucher, new { @class = "custText form-control", @autofocus = "on", id = "txtVoucher", @placeholder = "Voucher" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Store</label>
                    @Html.DropDownList("drpStoreList", Model.StoreList, new { @class = "form-control storecls" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">From Date</label>
                    @Html.TextBox("txtFromDate", Model.VoucherFromdate, new { @class = "", @id = "txtFromDate" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">To Date</label>
                    @Html.TextBox("txtToDate", Model.VoucherToDate, new { @class = "", @id = "txtToDate" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 pull-right form-group" style="margin-top:10px;">
                    <button type="button" id="filter" class="btn btn-default btn-success"><i class="fa fa-search"></i> Filter</button>
                    <button type="button" id="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>


        <div class="row" style="display: none" id="div_add">
            <div class="col-md-12  top-space-20">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label custLabels">Store<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.DropDownListFor(m => m.StoreId, Model.StoreList, new { @autofocus = "on", tabindex = 1, @class = "form-control commoncls" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.StoreId)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                    <div class="form-group">
                        <label class="control-label custLabels">Account Type<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.DropDownListFor(m => m.AccountTypeId, Model.AccountTypeList, new { @autofocus = "on", tabindex = 5, @class = "form-control commoncls" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.AccountTypeId)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>


                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label custLabels">Voucher Type<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.DropDownListFor(m => m.VoucherTypeId, Model.VouchertypeList, new { @autofocus = "on", tabindex = 2, @class = "form-control commoncls" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.VoucherTypeId)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>


                    <div class="form-group">
                        <label id="lbAccount" class="control-label custLabels">Issue To<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.DropDownListFor(m => m.AccountId, Model.AccountList, new { @autofocus = "on", tabindex = 6, @class = "form-control commoncls" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.AccountId)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>


                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label custLabels">Voucher No<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.TextBoxFor(m => m.Voucher, new { @autofocus = "on", @maxlength = "40", @class = "form-control commoncls", tabindex = 3, @placeholder = "Voucher No" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.Voucher)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                    <div class="form-group">
                        <label class="control-label custLabels">Document No</label>
                        @Html.TextBoxFor(m => m.DocumentNo, new { @autofocus = "on", @maxlength = "40", @class = "form-control commoncls", tabindex = 3, @placeholder = "Voucher No" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.DocumentNo)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label custLabels">Voucher Date<i class="fa fa-asterisk ks-required"></i></label>
                        @Html.TextBoxFor(m => m.VoucherDate, new { @autofocus = "on", @class = "form-control commoncls", tabindex = 4 })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.VoucherDate)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                    <div class="form-group">
                        <label class="control-label custLabels">Document Date</label>
                        @Html.TextBoxFor(m => m.DocumentDate, new { @autofocus = "on", @class = "form-control commoncls", tabindex = 4 })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.DocumentDate)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <button type="button" id="btnSelect" class="btn btn-xs btn-default">Click here to Fetch Product List from Package</button>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <label class="control-label col-md-1 custLabels" style="width:19%;">Tax Type</label>
                        @Html.DropDownListFor(m => m.TaxTypeId, Model.TaxTypeList, new { @autofocus = "on", tabindex = 6, @class = "form-control col-md-5 commoncls" })
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>@Html.ValidationMessageFor(model => model.TaxTypeId)</span>
                        </div>
                        <!-- //Error Message -->
                    </div>
                </div>

                <div class="col-md-12" style="display:none; margin-top:10px;" id="dvGrid">
                    <div id="productDet-grid">
                        <script>
                            $(document).ready(function () {
                                $("#productDet-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("GetAllProductsDetail", "Stock"))",
                                                type: "POST",
                                                dataType: "json",
                                                contentType: "application/json",
                                                data: additionalData
                                            },
                                            parameterMap: function (data) {
                                                return JSON.stringify(data);
                                            }
                                        },
                                        dataBound: onDataBound,
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors",
                                            model: {
                                                id: "ProductId",
                                                fields: {
                                                    ProductId: { editable: false, nullable: true },
                                                    ProductName: { editable: true },
                                                    Quantity: { type: "number" },
                                                    Price: { type: "number", validation: { required: true, min: 0 } },
                                                    GSTRate: { type: "number", validation: { required: false, min: 0 } },
                                                    CGSTValue: { type: "number", validation: { required: false, min: 0 } },
                                                    SGSTValue: { type: "number", validation: { required: false, min: 0 } },
                                                    IGSTValue: { type: "number", validation: { required: false, min: 0 } },
                                                    CessValue: { type: "number", validation: { required: false, min: 0 } },
                                                    TotalAmount: { type: "number", validation: { required: false, min: 0 } }
                                                }
                                            }
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: '@(defaultGridPageSize)',
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: false
                                    },

                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    sortable: true,

                                    columns: [{
                                        field: "ProductId",
                                        hidden: true
                                    }, {
                                        field: "ProductName",
                                        title: 'Product Name',
                                        sortable: true
                                    }, {
                                        field: "Quantity",
                                        title: "Quantity",
                                        sortable: true
                                    }, {
                                        field: "Price",
                                        title: "Price",
                                        sortable: true,
                                    }, {
                                        field: "GSTRate",
                                        title: "GSTRate",
                                        sortable: true,
                                    }, {
                                        field: "CGSTValue",
                                        title: "CGST Amount",
                                        sortable: true,
                                    },
                                     {
                                         field: "SGSTValue",
                                         title: "SGST Amount",
                                         sortable: true,
                                     },
                                     {
                                         field: "IGSTValue",
                                         title: "IGST Amount",
                                         sortable: true,
                                     },
                                     {
                                         field: "CessValue",
                                         title: "Cess Amount",
                                         sortable: true,
                                     },
                                     {
                                         field: "TotalAmount",
                                         title: "Total Amount",
                                         sortable: true,
                                     },
                                    {
                                        field: "ProductId",
                                        title: "Action",
                                        width: "120px",
                                        sortable: false,
                                        editable :false,
                                        template: '#{# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                                        + ' class="deleteRecords  btn btn-xs btn-default"   cursor:pointer" dataid="#=ProductId#"'
                                        + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                    }],
                                    editable: true
                                });
                               var grid = $("#productDet-grid").data("kendoGrid");
                            });

                            function onDataBound(arg) {
                                $('[data-toggle=tooltip]').tooltip();

                            }

                            function additionalData() {
                                var data = {
                                    PackageId: $('#hdnPackageId').val(),
                                    ProductArray: $("#hdnProductId").val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            addAntiForgeryToken = function (data) {
                                data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                                return data;
                            };

                        </script>

                    </div>
                    <button type="button" id="btnAddmoreProduct" class="btn btn-xs btn-default" style="margin-top:10px;">Click here to Add More Products</button>
                </div>

            </div>


            <div class="col-md-12 top-space-10 btn_div">
                <div class="pull-right">
                    @Html.Hidden("ProductDetail", Model.ProductDetail, new { @id = "ProductDetail" })
                    <button type="submit" id="submit" class="btn btn-success" tabindex="16">
                        Submit
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <button type="button" id="cancel" class="btn btn-danger" tabindex="17">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>


    </div>




    <script type="text/javascript">
        $(document).ready(function () {
            $('#submit').click(function () {
                var data = JSON.stringify($("#productDet-grid").data("kendoGrid").dataSource.data());
                $('#ProductDetail').val(data);
            });
            $('#btnAddNewProduct').click(function () {

                if ($('#btnAddNewProduct').hasClass("fa-plus")) {
                    var groupId = $('#drpPGList').val();
                    var Typeid = $('#drpPTList').val();
                    if (groupId == "") {
                        $('#lberror').text('Select Product Group');
                    }
                    else if (Typeid == "") {
                        $('#lberror').text('Select Product Type');
                    }
                    else {
                        $('#lberror').hide();
                        $('#dvNewProduct').show();
                        $('#btnAddNewProduct').removeClass("fa-plus");
                        $('#btnAddNewProduct').addClass("fa-minus");
                    }
                   
                }
                else if ($('#btnAddNewProduct').hasClass("fa-minus"))
                {
                    $('#txtNewProductName').val('');
                    $('#dvNewProduct').hide();
                    $('#btnAddNewProduct').removeClass("fa-minus");
                    $('#btnAddNewProduct').addClass("fa-plus");
                }
                });

            $('#btnfilter').click(function () {
                $('#div_filter').toggle();
                $("#dvExportOptions").show();
            });
            $("#txtFromDate").kendoDatePicker({
                format: "dd/MM/yyyy",
                value: new Date
            });
            $("#txtToDate").kendoDatePicker({
                format: "dd/MM/yyyy",
                value: new Date
            });
            $("#VoucherDate").kendoDatePicker({
                format: "dd/MM/yyyy",
                value: new Date
            });
            $("#DocumentDate").kendoDatePicker({
                format: "dd/MM/yyyy",
                value: new Date
            });
            $('#btnSelect').click(function () {
                $('#ProductList_div').show();
            });
            $('#close_divDetail').click(function () {
                $('#ProductList_div').hide();
            });
            $('#closeAdd_divDetail').click(function () {
                $('#AddMoreProduct_div').hide();
            });
            $('#btnAddmoreProduct').click(function () {
                $('#AddMoreProduct_div').show();
            });

            $('#OK_divDetail').click(function () {
                $('#dvGrid').show();
                $('#ProductList_div').hide();
                var grid = $('#productDet-grid').data('kendoGrid');
                grid.dataSource.page(1);
            });
            $('#Add_divDetail').click(function () {
                var idarray = [];

                $('#tblProductlist > tbody > tr').each(function () {
                    var row = $(this);
                    var aa = new Object();
                    aa.id = row.find("td:nth-child(1)").text();
                    aa.name = row.find("td:nth-child(2)").text();
                    aa.quantity = row.find("td:nth-child(3)").text();
                    idarray.push(aa);
                });
                $("#hdnProductId").val(JSON.stringify(idarray))

                $('#AddMoreProduct_div').hide();
                var grid = $("#productDet-grid").data("kendoGrid");
                grid.dataSource.read();
            });
            $("#btnadd").click(function () {
                $("#submit").attr({ type: "submit" });
                $("#div_add").show();
                $("#div_filter").hide();
                $("#submit").show();
                $("#cancel").show();
                $("#btnadd").hide();
                $("#btnfilter").hide();
                $("#dvExportOptions").hide();
                $("#hdnPageStatus").val("true");
                $('#submit').text('Submit');
            });
            $("#VoucherTypeId").change(function () {
                var val = $('option:selected', this).text();
                if (val == 'Sale') {
                    $('#lbAccount').text("Receive From");
                }
                else {
                    $('#lbAccount').text("Issue To");
                }
            });
            $("#cancel").click(function () {
                $('#ks_loader').show();
                $("#div_add").hide();
                $("#btnadd").show();
                $("#btnfilter").show();
                $("#dvExportOptions").show();
                $("#btnback").hide();
                $('#ks_loader').hide();
            });
            $("#drpPackageList").change(function () {
                $('#ks_loader').show();
                var PackageID = $('option:selected', this).val();
                $('#hdnPackageId').val(PackageID);
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("GetPackageDetail", "Stock"))',
                    data: { "PackageId": PackageID },
                    success: function (result) {
                        var htmlProducts = "<h4>List of Products</h4>";
                        htmlProducts += '<table class="table viewpackInfo">';
                        htmlProducts += '<tr><th class="td_border">Product Name</th><th>Quantity</th></tr>';
                        for (i = 0; i < result.productinfo[0].PackageDetail.length; i++) {
                            htmlProducts += '<tr><td class="td_border">' + result.productinfo[0].PackageDetail[i].ProductName + '</td>';
                            htmlProducts += '<td>' + result.productinfo[0].PackageDetail[i].Quantity + '</td></tr>';
                        }
                        htmlProducts += '</table>';
                        $('#Div-ProductDetail').html(htmlProducts);
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                $('#ks_loader').hide();

            });
            $("#drpPGList").change(function () {
                $('#ks_loader').show();
                var GroupId = $('#drpPGList').val();
                var ProductTypeId = $('#drpPTList').val();
                FillProductList(GroupId, ProductTypeId);
                $('#ks_loader').hide();
            });
            $("#drpPTList").change(function () {
                $('#ks_loader').show();
                var GroupId = $('#drpPGList').val();
                var ProductTypeId = $('#drpPTList').val();
                FillProductList(GroupId, ProductTypeId);
                $('#ks_loader').hide();
            });
            $("#AccountTypeId").change(function () {
                $('#ks_loader').show();
                var AccountTypeId = $('#AccountTypeId').val();
                FillAccount(AccountTypeId);
                $('#ks_loader').hide();
            });

            $('#btnSaverow').click(function () {
                var ProductName = $('#txtNewProductName').val();
                var productId = $('#drpPList').val();
                var quantity = $('#txtQuantity').val();
                if(productId=="" && ProductName=="")
                {
                    $('#lberror').show();
                    $('#lberror').text('Please provide Product ');
                }
                else if (quantity == "")
                {
                    $('#lberror').show();
                    $('#lberror').text('Please provide Quantity');
                }
                if (productId != '')
                {
                    var productname = $('#drpPList :selected').text();
                   
                    $('#tblProductlist > tbody').append('<tr><td style="display:none;">' + productId + '</td><td>' + productname + '</td><td>' + quantity + '</td> </tr>');
                }
                else if(ProductName!='')
                {
                    var pgId = $('#drpPGList').val();
                    var ptId = $('#drpPTList').val();
                    $.ajax({
                        type: "POST",
                        async: true,
                        url: '@Html.Raw(Url.Action("AddNewProduct", "Stock"))',
                        data: { GroupId: pgId, ProductTypeId: ptId, ProductName:ProductName },
                        success: function (result) {
                            var ProductList = $('#drpPList');
                            ProductList.empty();
                            $.each(result.productList, function () {
                                if (this.Text == ProductName) {
                                    ProductList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                    productId = this.Value;
                                }
                                else {
                                    ProductList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                                }
                            });
                    
                            $('#tblProductlist > tbody').append('<tr><td style="display:none;">' + productId + '</td><td>' + ProductName + '</td><td>' + quantity + '</td> </tr>');
                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }

                $('#drpPGList').val("");
                $('#drpPTList').val("");
                $('#drpPList').val("");
                $('#txtNewProductName').val("");
                $('#txtQuantity').val("");
                $('#dvNewProduct').hide();
                $('#btnAddNewProduct').removeClass("fa-minus");
                $('#btnAddNewProduct').addClass("fa-plus");
               
            });

            $("#productDet-grid").on("click", ".deleteRecords", function (e) {
                $('.tooltip').hide();
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
                cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
                $('.k-grid-myConfirm').attr("dataid", enceventid);
            });
            $("#productDet-grid").on("click", ".k-grid-myCancel", function (e) {
                e.preventDefault();
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var cell = command.closest("td");
                command.remove();
                $('.k-grid-myConfirm').remove();
                cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
                $('.deleteRecords').attr("dataid", enceventid);
            })
            //delete ajax method
            $("#productDet-grid").on("click", ".k-grid-myConfirm", function (e) {
                e.preventDefault();
                $('#ks_loader').show();
                var grid = $("#productDet-grid").data("kendoGrid");
                var enceventid = $(this).attr("dataid");
                var command = $(this);
                var tr = $(e.target).closest("tr");
                grid.removeRow(tr);
                $('#ks_loader').hide();
            });
        });

        function FillProductList(productGroupId, producttypeId) {
            $.ajax({
                type: "POST",
                async: true,
                url: '@Html.Raw(Url.Action("GetProductList", "Stock"))',
                data: { GroupId: productGroupId, ProductTypeId: producttypeId },
                success: function (result) {
                    var ProductList = $('#drpPList');
                    ProductList.empty();
                    $.each(result.productList, function () {
                        ProductList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        }


        function FillAccount(AccountTypeId) {
            $.ajax({
                type: "POST",
                async: true,
                url: '@Html.Raw(Url.Action("GetAccountList", "Stock"))',
                data: { AccountTypeid: AccountTypeId },
                success: function (result) {
                    var AccountList = $('#AccountId');
                    AccountList.empty();
                    $.each(result.accountList, function () {
                        AccountList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }





    </script>
}
