.ks-time-table{ margin-bottom:15px;}
.ks-time-table .item div.time-table-content{position:relative;background:#f6f6f6; height:70px; color:#969696; font-size:16px; line-height:20px; text-align:center; cursor:pointer; border-radius:10px;}
.ks-time-table .item div.time-table-content .icn{ position:absolute; right:5px; top:5px; line-height:16px; font-size:12px; width:20px; height:20px; border:2px solid green; color:green; display:none; -moz-border-radius:1000px; -webkit-border-radius:1000px; -o-border-radius:1000px; -ms-border-radius:1000px; -khtml-border-radius:1000px; border-radius:1000px;}
.ks-time-table .item div.time-table-content.selected .icn{ display:block;}
.ks-time-table .item div.time-table-content table,.ks-time-table .item div.time-table-content tr,.ks-time-table .item div.time-table-content td{ width:100%}
.ks-time-table .item div.time-table-content td{ height:70px;}
.ks-time-table .item div.time-table-content td span{ font-size:12px; } 
.ks-time-table .owl-nav{ margin-top:0!important; margin-bottom:0px!important; text-align:right!important}
.ks-time-table .owl-nav div{ margin:2px!important; margin-top:0!important; margin-bottom:0px!important;}
.partial-selected{background:#F9FF9b!important; color:#000!important}
.full-selected{background:#9AFF60!important; color:#000!important}
.ks-time-table-teacher-photos img{ width:100px; height:100px; cursor:pointer;}

.ks-time-table .item div.select-period,.ks-time-table .item div.select-subject,.ks-time-table .item div.select-teacher{ background:#e1f7f4; color:#000}
.ks-time-table .item div.select-class{ background:#eefcb8; color:#000; font-size:14px;}
.ks-time-table .item div.select-subject{  color:#000; font-size:13px; height:50px;}
.ks-time-table .item div.select-subject td{ height:50px;}

