﻿@model ViewModel.ViewModel.User.UserLoginCheckViewModel
@{
    ViewBag.Title = "Manage UserLogin Check";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;

}
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
<!-- Validations -->
@if (TempData["success"] != null && TempData["success"] != "")
{
    <script>
        $(function () {
            ToastMessage('@TempData["success"]', "success", true, 5000);
        })
    </script>
}
@if (TempData["error"] != null && TempData["error"] != "")
{
    <script>
        $(function () {
            var validationaray = '@TempData["error"]'.split('ε');
            $.each(validationaray, function (i) {
                ToastMessage(validationaray[i], "error", true, 5000);
            });
        });
    </script>
}

<style>
    .k-list .k-item {
        position: relative;
    }

    .k-item input {
        position: absolute;
        right: 0;
    }

    ul.multiselect-container.dropdown-menu {
        height: 227px;
        overflow-y: scroll;
    }

    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 170px;
    }
</style>

@*info IP*@
<div class="modal-popup" id="UserIP_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <fieldset class="popup">
                    <legend>
                        <b>IP Setting</b>
                    </legend>
                    <div class="row modal-body">
                        <div class="form-group">
                            <label class="control-label">IP :</label>
                            @Html.TextBoxFor(m => m.IP, Model.IP, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" name="btnOk" class="btn btn-success " id="btnOk">
                            OK
                        </button>
                        <button type="button" name="closeUserIP_div" class="btn btn-danger " id="closeUserIP_div">
                            <i class="fa fa-ban"></i> Close
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage User Login Check</h1>
    </div>
    <div class="row col-md-6 text-right addnew_div pull-right">
        <div class="col-md-5 pull-right">
            <button type="button" id="btnfilter" class="btn btn-xs btn-default "> Filters</button>
            <button type="button" id="btnadd" class="btn btn-xs btn-default ">Add New</button>
            <button type="button" id="btnSet" class="btn btn-xs btn-default" style="display:none;">Set IP</button>
        </div>

        @*<div id="dvExportOptions" class="col-md-3 pull-right" style="margin: 0px -29px 0 0;">
                @(Html.Partial("~/Views/Shared/_ExportLayout.cshtml", Model))
            </div>*@
    </div>

</div>


<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.UserLoginCheckId)

    <div class="form-inline ks-custom-form">
        <!-- Page Filters -->
        <div class="row top-space-10" style="display: none" id="div_filter">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">User Type</label>
                    @Html.DropDownList("dropUserTypes", Model.AaviableUserTypes, new { @class = "form-control", @width = "170px" })
                </div>
                <div class="form-group" hidden id="Filter_UsersDiv">
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filter" class="btn btn-default">Filter</button>
                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10" style="display: none" id="div_add">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">User Type<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.DropDownListFor(m => m.UserTypeId, Model.AaviableUserTypes, new
                       {
                           @style = "width: 170px;",
                           @class = "form-control",
                           @autofocus = "on"
                       })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.UserTypeId)</span>
                    </div>
                    <!-- //Error Message -->
                </div>

                <div class="col-md-3" id="Users_div" hidden>
                </div>

                <div class="col-md-3">
                    <label class="control-label">IP</label>
                    <br />
                    @Html.TextBox("IPMain", "", new
                       {
                           @class = "form-control",
                           @readonly = true
                       })
                    <span id="clear_Icon" style="cursor:pointer" hidden>
                        &nbsp;<i class="fa fa-times-circle" title="Clear IP"></i>
                    </span>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Date From</label>
                    <br />
                    @Html.TextBoxFor(model => model.Datefrom, new
                       {
                           @class = "KendoDatepicker",
                           @placeholder = "__/__/____",
                           @style = "width: 160px;"
                       })
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Date Till</label>
                    <br />
                    @Html.TextBoxFor(model => model.DateTill, new
                       {
                           @class = "KendoDatepicker",
                           @placeholder = "__/__/____",
                           @style = "width: 160px;"
                       })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Time From</label>
                    <br />
                    @Html.TextBoxFor(model => model.TimeFrom, new
                       {
                           @class = "timepicker",
                           @placeholder = "hh:mm",
                           @style = "width: 170px;"
                       })
                </div>

                <div class="col-md-3">
                    <label class="control-label">Time Till</label>
                    <br />
                    @Html.TextBoxFor(model => model.TimeTill, new
                       {
                           @class = "timepicker",
                           @placeholder = "hh:mm",
                           @style = "width: 170px;"
                       })
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group top-space-20">
                    <button type="button" id="submit" class="btn btn-success"></button>
                    <button type="button" id="cancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>
        </div>
        <!-- // Page Filters -->
        <!--UserLoginCheck Kendo Gird -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="UserLoginCheck-grid">
                    <script>
                        $(document).ready(function () {
                            $("#UserLoginCheck-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetUserLoginChecks", "UserLogin"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,

                                columns: [{
                                    field: "UserLoginCheckId",
                                    hidden: true
                                }, {
                                    field: "UserTypeId",
                                    hidden: true
                                }, {
                                    field: "UserId",
                                    hidden: true
                                }, {
                                    field: "UserTypeValue",
                                    title: "User Type",
                                    sortable: true
                                }, {
                                    field: "FullName",
                                    title: "User",
                                    sortable: true
                                }, {
                                    field: "IP",
                                    title: "IP",
                                    sortable: true
                                }, {
                                    field: "Datefrom",
                                    title: "From Date",
                                    sortable: true
                                }, {
                                    field: "DateTill",
                                    title: "Till Date",
                                    sortable: true
                                }, {
                                    field: "TimeFrom",
                                    title: "From Time",
                                    sortable: true
                                }, {
                                    field: "TimeTill",
                                    title: "Till Time",
                                    sortable: true
                                }, {
                                    field: "UserLoginCheckId",
                                    title: "Action",
                                    sortable: false,
                                    width: 120,
                                    template: ' <a href="javascript:void(0)" title="Edit"'
                                            + ' data-toggle="tooltip" data-placement="top" dataid="#=UserLoginCheckId#" dataid1="#=UserId#"'
                                            + ' class="updateRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>'

                                            + ' #if(!IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top"'
                                            + ' class="deleteRecords  btn btn-xs btn-default"  cursor:pointer" dataid="#=UserLoginCheckId#"'
                                            + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                }]
                            });
                            var grid = $("#UserLoginCheck-grid").data("kendoGrid");
                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }

                        function additionalData() {
                            var data = {
                                UserTypeId: $('#dropUserTypes').val(),
                                UserIds: $('#drpUsers').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }


                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };

                    </script>
                </div>
            </div>
        </div>
        <!-- //Book Attribute Kendo Gird -->

    </div>

    <script type="text/javascript">
        $("#Datefrom.KendoDatepicker,#DateTill.KendoDatepicker").kendoDatePicker({
            format: "dd/MM/yyyy"
        });
        //get min date according to date
        mindate = GetDatMinString(kendo.toString(new Date(), "dd/MM/yyyy"));
        // function get date as string and return date
        function GetDatMinString(date) {
            //alert(date);
            var datearry = date.split('/');
            var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
            return returnMinDate;
        }
        $('#Datefrom').kendoDatePicker('min', mindate);
        $('#DateTill').kendoDatePicker('min', mindate);
        $("#Datefrom.KendoDatepicker,#DateTill.KendoDatepicker").attr("readonly", true);


        $('#TimeFrom, #TimeTill').timepicki({
            show_meridian: false,
            min_hour_value: 0,
            max_hour_value: 23,
            step_size_minutes: 15,
            overflow_minutes: true,
            increase_direction: 'up',
            disable_keyboard_mobile: true
        });
        $(document).ready(function () {
            //$('#TimeFrom, #TimeTill').timepicki();




            //clear error messages
            $('.error-message').each(function () {
                var current = $(this);
                if (current.children('span').text() != "")
                    current.show();
                else
                    current.hide();
            });
        });

        //validations
        var UserCheckValid = true;
        var UserCheckvalidationmessage = "";
        var UserCheckctrlfocus = "";
        function ValidateUserCheck() {
            UserCheckValid = true;
            UserCheckvalidationmessage = "";
            UserCheckctrlfocus = "";

            if ($('#UserTypeId').val() == "") {
                if (UserCheckctrlfocus == "")
                    UserCheckctrlfocus = "#UserTypeId";
                UserCheckvalidationmessage = UserCheckvalidationmessage + "Please select User Type ε";
                UserCheckValid = false;
            }
            if ($("#IPMain").val() == "") {
                if ($("#Datefrom").val() == "") {
                    if (UserCheckctrlfocus == "")
                        UserCheckctrlfocus = "#Datefrom";
                    UserCheckvalidationmessage = UserCheckvalidationmessage + "Please select Datefrom  or IP ε";
                    UserCheckValid = false;
                }

            }
            else if (($("#Datefrom").val() == "" && $("#DateTill").val() == "")
                    || ($("#TimeFrom").val() == "" && $("#TimeTill").val() == "")) {
                if ($("#IPMain").val() == "") {
                    if (UserCheckctrlfocus == "")
                        UserCheckctrlfocus = "#IPMain";
                    UserCheckvalidationmessage = UserCheckvalidationmessage + "Please enter IP ε";
                    UserCheckValid = false;
                }

            }

            if ($("#Datefrom").val() != "") {
                if ($("#DateTill").val() == "") {
                    if (UserCheckctrlfocus == "")
                        UserCheckctrlfocus = "#DateTill";
                    UserCheckvalidationmessage = UserCheckvalidationmessage + "Please select DateTill ε";
                    UserCheckValid = false;
                }
                else if ($("#DateTill").val() != "") {
                    if ($("#DateTill").val() < $("#Datefrom").val()) {
                        if (UserCheckctrlfocus == "")
                            UserCheckctrlfocus = "#DateTill";
                        UserCheckvalidationmessage = UserCheckvalidationmessage + "DateTill should be greater than Datefrom ε";
                        UserCheckValid = false;
                    }
                }
            }
            if ($("#DateTill").val() != "") {
                if ($("#Datefrom").val() == "") {
                    if (UserCheckctrlfocus == "")
                        UserCheckctrlfocus = "#Datefrom";
                    UserCheckvalidationmessage = UserCheckvalidationmessage + "Please select Datefrom ε";
                    UserCheckValid = false;
                }
            }

            if ($("#TimeFrom").val() != "") {
                if ($("#TimeTill").val() == "") {
                    if (UserCheckctrlfocus == "")
                        UserCheckctrlfocus = "#TimeTill";
                    UserCheckvalidationmessage = UserCheckvalidationmessage + "Please select TimeTill ε";
                    UserCheckValid = false;
                }
                else if ($("#TimeTill").val() != "") {
                    if ($("#TimeTill").val() < $("#TimeFrom").val()) {
                        if (UserCheckctrlfocus == "")
                            UserCheckctrlfocus = "#TimeTill";
                        UserCheckvalidationmessage = UserCheckvalidationmessage + "TimeTill should be greater than TimeFrom ε";
                        UserCheckValid = false;
                    }
                }
            }

            if ($("#TimeTill").val() != "") {
                if ($("#TimeFrom").val() == "") {
                    if (UserCheckctrlfocus == "")
                        UserCheckctrlfocus = "#TimeFrom";
                    UserCheckvalidationmessage = UserCheckvalidationmessage + "Please select TimeFrom ε";
                    UserCheckValid = false;
                }
            }

            var aa = UserCheckvalidationmessage;
            return UserCheckValid;
        }


        $('#submit').click(function () {
            $("#validation_para ul").html('');

            // create model
            var LoginCheckModel = new Object();
            LoginCheckModel.UserLoginCheckId = $('#UserLoginCheckId').val();
            LoginCheckModel.UserIds = $("#UserIds").val();
            LoginCheckModel.IP = $("#IPMain").val();
            LoginCheckModel.UserTypeId = $("#UserTypeId").val();
            LoginCheckModel.Datefrom = $("#Datefrom").val();
            LoginCheckModel.DateTill = $('#DateTill').val();
            LoginCheckModel.TimeFrom = $('#TimeFrom').val();
            LoginCheckModel.TimeTill = $('#TimeTill').val();

            var valid = ValidateUserCheck();
            if (valid) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertUpdateUserLoginCheck", "UserLogin"))',
                    data: LoginCheckModel,
                    success: function (result) {
                        if (result.status == "success") {
                            $("#UserLoginCheck-grid").data('kendoGrid').dataSource.read();//reload kendo gird
                            $("#div_filter").hide();
                            $("#div_add").hide();
                            $('#ks_loader').hide();
                            ToastMessage(result.data, "success", true, 5000);
                            Clear();
                        }
                        else {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                        $("#btnSet").hide();
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);

                    }
                });
            }
            else {
                var validationaray = UserCheckvalidationmessage.split('ε');
                $('#ks_loader').hide();
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                return false;
            }

        });

        $("#UserTypeId").on('change', function () {
            if ($(this).val() != "") {
                //$("#lblUserType").text($("#UserTypeId option:selected").text());
                GetUsers($(this).val(), null)
            }
            else
                $("#Users_div").hide();
        });

        $("#dropUserTypes").on('change', function () {
            if ($(this).val() != "") {
                //$("#lblUserType").text($("#UserTypeId option:selected").text());
                GetUsers($(this).val(), null)
                $("#UserLoginCheck-grid").data("kendoGrid").dataSource.page(1);
            }
            else
                $("#Filter_UsersDiv").hide();
        });

        function GetUsers(TypeId, UserId) {
            $('#ks_loader').show();
            $("#Users_div").show();
            $("#Filter_UsersDiv").show();

            $("#Filter_UsersDiv").html("");
            $("#Users_div").html("");
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("FillUsers", "UserLogin"))',
                data: { "TypeId": TypeId },
                success: function (result) {
                    $("#Filter_UsersDiv").append('<label class="control-label">User</label><select class="listbox form-control" id="drpUsers" multiple="multiple" name="drpUsers" style="width: 160px;"></select>');
                    $("#Users_div").append('<label class="control-label">User</label><br/><select class="listbox form-control" id="UserIds" multiple="multiple" name="UserIds" style="width: 160px;"></select>');

                    $.each(result.paramsList, function (i) {
                        if (UserId == result.paramsList[i].Value) {
                            var html2 = '<option value="' + result.paramsList[i].Value + '" selected>' +
                                      result.paramsList[i].Text + '</option>';
                        } else {
                            var html2 = '<option value="' + result.paramsList[i].Value + '">' +
                                      result.paramsList[i].Text + '</option>';
                        }
                        var html1 = '<option value="' + result.paramsList[i].Value + '">' +
                                     result.paramsList[i].Text + '</option>';

                        $("#drpUsers").append(html1);
                        $("#UserIds").append(html2);

                    });
                    $('#UserIds').multiselect({
                        includeSelectAllOption: true
                    });
                    $("#drpUsers").multiselect({
                        includeSelectAllOption: true
                    });

                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        }

        //clear fields
        function Clear() {
            $('#UserLoginCheckId').val("");
            $("#UserIds option:selected").prop("selected", false);
            $("#UserIds").multiselect('refresh');

            $("#drpUsers option:selected").prop("selected", false);
            $("#drpUsers").multiselect('refresh');

            $("#dropUserTypes").val("");
            $("#dropUserTypes").trigger('change');

            $("#UserTypeId").val("");
            $("#UserTypeId").trigger('change');
            $("#IPMain").val("");
            $("#Datefrom").val("");
            $('#DateTill').val("");

            $('#TimeFrom, #TimeTill').val("");
            $("#UserLoginCheck-grid").data("kendoGrid").dataSource.page(1);
        }

        $("#btnSet").click(function () {
            $("#UserIP_div").show();

        });

        $("#btnOk").click(function () {
            if ($("#IP").val() != "") {
                $("#IPMain").val($("#IP").val());
                $("#clear_Icon").show();
            }
            else {
                $("#IPMain").val("");
                $("#clear_Icon").hide();
            }

            $("#UserIP_div").hide();
        });

        $("#clear_Icon").click(function () {
            $("#IPMain").val("");
            $("#clear_Icon").hide();
        });


        $("#closeUserIP_div").click(function () {
            $("#UserIP_div").hide();
        });

        $("#btnfilter").click(function () {
            $('#ks_loader').show();
            $("#div_filter").show();
            $("#btnSet").hide();
            $("#div_add").hide();
            $('#ks_loader').hide();
        })

        $("#btnadd").click(function () {
            $('#ks_loader').show();
            Clear();
            $("#div_filter").hide();
            $("#clear_Icon").hide();
            $("#btnSet").show();
            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Save');
            $("#div_add").show();
            $('#ks_loader').hide();
        })


        $("#filter").click(function () {
            var grid = $("#UserLoginCheck-grid").data("kendoGrid");
            grid.dataSource.page(1);
        });


        $("#cancel").click(function () {
            $('#ks_loader').show();
            $("#btnSet").hide();
            $("#div_add").hide();
            Clear();
            $('#ks_loader').hide();
        });

        $("#reset").click(function () {
            $('#ks_loader').show();
            $("#div_filter").hide();
            $("#btnSet").hide();
            Clear();
            $('#ks_loader').hide();
        })

        $("#UserLoginCheck-grid").on("click", ".updateRecords", function (e) {
            $('#ks_loader').show();
            $("#div_filter").hide();
            $("#div_add").show();
            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Update');

            var id = $(this).attr("dataid");
            var UserID = $(this).attr("dataid1");

            var row = $(this).parent().parent();
            $('#UserLoginCheckId').val(id);
            $("#UserTypeId").val(row.find("td:nth-child(2)").text());
            $("#IPMain").val(row.find("td:nth-child(6)").text());

            GetUsers($("#UserTypeId").val(), UserID)
            //$("#UserIds").empty();

            //$("#UserIds").val(UserID).prop("selected", true);
            $("#Datefrom").val(row.find("td:nth-child(7)").text());
            $('#DateTill').val(row.find("td:nth-child(8)").text());
            $('#TimeFrom').val(row.find("td:nth-child(9)").text());
            $('#TimeTill').val(row.find("td:nth-child(10)").text());

            $("#UserLoginCheck-grid").data('kendoGrid').dataSource.page(1);//reload kendo gird

            $('#ks_loader').hide();
        });


        $("#UserLoginCheck-grid").on("click", ".deleteRecords", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });

        //delete ajax method
        $("#UserLoginCheck-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var UserLoginCheckId = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteUserLoginCheck", "UserLogin"))',
                data: { "UserLoginCheckId": UserLoginCheckId },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#UserLoginCheck-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var checkId = tablerow.find("td:nth-child(1)").text();
                            if (UserLoginCheckId == checkId)
                                tablerow.remove();
                        });
                        $("#UserLoginCheck-grid").data("kendoGrid").dataSource.page(1);
                        ToastMessage(result.data, "success", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })

        $("#UserLoginCheck-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        })


    </script>

}


