﻿@model ViewModel.ViewModel.TimeTable.TimeTableAdjustmentModel

@{
    ViewBag.Title = "Adjustment View";
    string Host = Request.Url.AbsolutePath;
    Host = Host.Split('/')[1];
    if (Request.Url.AbsoluteUri.Contains("localhost"))
    {
        Host = "";
    }
}
<script src="~/Scripts/jquery.table2excel.min.js"></script>
<div id="adjustmentwithouthiiden" hidden></div>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.NoPeriodFound))
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @Model.NoPeriodFound</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Adjustment View</h1>
    </div>
    <div class="col-md-6 text-right">
        @if (Model.IsAuthToExport)
        {
            <a href="@Html.Raw(Url.Action("DailyAdjustmentReport","TimeTable"))" id="dailyreport" class="btn btn-xs btn-default">Daily Adjustment Report </a>
            <a href="javascript:void(0)" onclick="exportexcel()" style=" display:none" id="exportexcel" class="btn btn-xs btn-default">Export Excel</a>
        }
        @if (Model.IsAuthToPrint)
        {
            <a href="javascript:void(0)" style="display: none" id="print" class="btn btn-xs btn-default">Print</a>
        }
    </div>
</div>
<!-- //Page Heading -->
<style>
    .modal-popup-body {
        width: 850px;
    }
</style>
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("Adjustment", "TimeTable", FormMethod.Post, new { @id = "AdjustmentForm", @class = "form-inline ks-custom-form " }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CurrentDate)
            @Html.HiddenFor(model => model.CurntSchedule) // time table Id
                @Html.HiddenFor(model => model.Day) // Current Day Id

                                                    <!-- Form Row -->
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <div class="">
                                                            <div class="form-group " style="margin-left: 3px;margin-right: 2px;">
                                                                <label>Date </label>
                                                                @Html.TextBoxFor(model => model.Date, new { @class = "adjustment_date" })
                                                                <!-- Error Message -->
                                                                <div class="error-message" style="display:none">
                                                                    <i class="fa fa-exclamation-triangle"></i>
                                                                    @Html.ValidationMessageFor(model => model.Date)
                                                                </div>
                                                                <!-- //Error Message -->
                                                            </div>

                                                            <div class="form-group" style="margin-left: 3px;margin-right: 2px;">
                                                                <label>Type </label>
                                                                @Html.DropDownListFor(p => p.TypeId, Model.TimeTableType, new { @style = "width: 90px;" })
                                                            </div>

                                                            <div class="form-group" id="teachercheck" style="display:none;margin-left: 3px;margin-right: 2px;">
                                                                @*<label>Not Present </label>
                                                                    @Html.CheckBoxFor(model => model.IsLeave, new { })*@
                                                                <label class="">Attendance Status</label>
                                                                @Html.DropDownListFor(model => model.AttendanceStatusId, Model.AvailableAttendanceStatus, new { @class = "form-control", @multiple = "multiple" })


                                                            </div>





                                                            <!-- Form Coulmn -->
                                                            <div class="form-group" id="perioddrop" style="display:none;margin-left: 3px;margin-right: 2px;">
                                                                <label class="">Period</label>
                                                                @Html.DropDownListFor(model => model.PeriodId, Model.AvailablePeriodList, new { @class = "form-control" })
                                                                @if (!string.IsNullOrEmpty(Model.PeriodTime))
                                                                {
                                                                    <span class="periodtimetxt"> (@Model.PeriodTime)</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="periodtimetxt"></span>
                                                                }
                                                            </div>
                                                        </div>
                                                        <!-- Form Coulmn -->
                                                        &nbsp; &nbsp; &nbsp; &nbsp;
                                                        @*<div class="form-group" style="margin-left: 3px;margin-right: 2px;">
                                                            <label class="">Attendance Status</label>
                                                            @Html.DropDownListFor(model => model.AttendanceStatusId, Model.AvailableAttendanceStatus, new { @class = "form-control" })
                                                            </div>*@
                                                    </div>
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <div class="row ">
                                                            <div class="form-group col-md-10" id="teacherdrop" style="display:none;margin-left: 3px;margin-right: 2px;">
                                                                <label>Teacher </label>
                                                                @Html.DropDownListFor(p => p.TeacherId, Model.TeacherList, new { @style = "width: 128px;", @class = "js-example-templating" })
                                                                <!-- Error Message -->
                                                                <div class="error-message" style="display:none;right:371px!important">
                                                                    <i class="fa fa-exclamation-triangle"></i>
                                                                    @Html.ValidationMessageFor(model => model.TeacherId)
                                                                </div>
                                                                <!-- //Error Message -->
                                                            </div>
                                                            <div class=" form-group col-md-10" style="margin-left: 3px;margin-right: 2px;" id="show_adjustment">
                                                                @Html.CheckBoxFor(m => m.ShowAdjustmentOnly)<label> &nbsp; Adjustment Only</label>
                                                            </div>
                                                            <div class="form-group" align="right" @*style="margin-left: 455px;margin-right: 2px;"*@>
                                                                <button type="submit" id="search_btn" class="btn btn-default" name="Search">Filter</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-8 col-md-offset-2" id="timetableadjustment">
                                                            @if ((Model.TypeId == 1 || Model.TypeId == null) && Model.TeacherId == null)
                                                            {
                                                                <div id="adjust_timetable_grid">
                                                                    <table id="adjustmentTimetable" class="table table-bordered table-condensed table-responsive table-striped">
                                                                        <thead class="thead-default">
                                                                            <tr>
                                                                                <th class=".lkj" style="display: none">w</th>
                                                                                <th class="col-md-2">Class Name</th>
                                                                                <th class="col-md-3">Teacher Name</th>
                                                                                <th class="col-md-3">Subject Name</th>
                                                                                <th class="col-md-3">Attendance Status</th>
                                                                                <th class="col-md-3">As Per Adjustment</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>

                                                                            @if (Model.TimeTableViewList.Count > 0)
                                                                            {
                                                                                foreach (var item in Model.TimeTableViewList)
                                                                                {
                                                                            <tr>
                                                                                <td class="adjustId" style="display: none">@item.TimeTableAdjustmentId</td>
                                                                                <td>@item.ClassName</td>
                                                                                <td class="cls_staffsubject text-danger"><b>@item.TeacherName</b></td>
                                                                                <td class="cls_subject">@item.SubjectName</td>
                                                                                <td class="atn_Status">@item.AttendaceStatus</td>
                                                                                @if (item.AsPerAdjust != null && item.AsPerAdjust != "")
                                                                                {
                                                                            <td class="cls_subjectadjust"> <span class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="@item.Remarks"><font color="black">@item.AsPerAdjust &nbsp;&nbsp; <a title="Clear Adjustment" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="clearadjust description_tooltip_cls"><i class="fa fa-times" aria-hidden="true"></i></a></font></span></td>

                                                                                    @*<td title="@item.Remarks" class="cls_subjectadjust">@item.AsPerAdjust &nbsp;&nbsp;<a title="Clear Adjustment" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="clearadjust description_tooltip_cls"><i class="fa fa-times" aria-hidden="true"></i></a></td>*@
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                    <td class="cls_subjectadjust">@item.AsPerAdjust</td>
                                                                                    }
                                                                                    <td style="display: none" class="cls_classperiod">@item.ClassPeriodId</td>
                                                                                    <td style="display: none" class="cls_classperioddet">@item.ClassPeriodDetailId</td>
                                                                                    <td style="display: none" data-id-virtaulclassid=@item.VirtualClassId class="cls_classstd">@item.ClassId</td>
                                                                                    <td style="display: none" class="cls_staff">@item.StaffId</td>
                                                                                    <td style="display: none" class="cls_subject">@item.SubjectId</td>
                                                                                </tr>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr>
                                                                                    <td class="text-center" colspan="5">No record found</td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            }
                                                            else if (Model.TeacherId > 0)
                                                            {
                                                                <table class="table table-bordered table-condensed table-responsive table-striped">
                                                                    <thead class="thead-default">
                                                                        <tr>
                                                                            <th class=".lkj" style="display: none"></th>
                                                                            <th class="col-md-2">Class Name</th>
                                                                            <th class="col-md-3">Period</th>
                                                                            <th class="col-md-3">As Per TimeTable</th>
                                                                            <th class="col-md-3">Attendance Status</th>
                                                                            <th class="col-md-3">As Per Adjustment</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        @if (Model.TimeTableViewList.Count > 0)
                                                                        {
                                                                            foreach (var item in Model.TimeTableViewList)
                                                                            {
                                                                        <tr>
                                                                            <td class="adjustId lkj" style="display: none">@item.TimeTableAdjustmentId</td>
                                                                            <td>@item.ClassName</td>
                                                                            <td class="cls_staffsubject text-danger"><b>@item.PeriodName</b></td>
                                                                            <td class="cls_subject">@item.SubjectName</td>
                                                                            @if (Model.IsLeave)
                                                                            {
                                                                                <td class="atn_Status">A</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td class="atn_Status">@item.AttendaceStatus</td>
                                                                            }
                                                                            @if (item.AsPerAdjust != null && item.AsPerAdjust != "")
                                                                            {
                                                                                <td class="cls_subjectadjust"> <span class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="@item.Remarks">
                                                                                    <font color="black">@item.AsPerAdjust &nbsp;&nbsp; <a title="Clear Adjustment" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="clearadjust description_tooltip_cls">
                                                                                        <i class="fa fa-times" aria-hidden="true"></i></a>
                                                                                           </font></span></td>
                                                                              
                                                                                           @*<td class="cls_subjectadjust">@item.AsPerAdjust &nbsp;&nbsp;<a title="Clear Adjustment" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="clearadjust description_tooltip_cls">
                                                                                    <i class="fa fa-times" aria-hidden="true"></i></a></td>*@
                                                                            }
                                                                            else
                                                                            {
                                                                                <td class="cls_subjectadjust">@item.AsPerAdjust</td>
                                                                            }
                                                                            <td style="display: none" class="cls_classperiod">@item.ClassPeriodId</td>
                                                                            <td style="display: none" class="cls_classperioddet">@item.ClassPeriodDetailId</td>
                                                                            <td style="display: none" data-id-virtaulclassid=@item.VirtualClassId class="cls_classstd">@item.ClassId</td>
                                                                            <td style="display: none" class="cls_staff">@item.StaffId</td>
                                                                            <td style="display: none" class="cls_subject">@item.SubjectId</td>
                                                                            <td style="display: none" class="cls_period">@item.PeriodId</td>
                                                                        </tr>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td class="text-center" colspan="5">No record found</td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                        </div>

                                                    </div>

                                                    @*if ((Model.TypeId == 1 || Model.TypeId == null) && Model.TeacherId == null)
                                                        {
                                                        <div class="col-md-12" id="timetableadjustment" hidden>
                                                        <table id="timetable_grid" class="table table-bordered table-condensed table-responsive table-striped">
                                                        <thead class="thead-default">
                                                            <tr>
                                                                <th>Class Name</th>
                                                                <th>Teacher Name</th>
                                                                <th>Subject Name</th>
                                                                <th>Attendance Status</th>
                                                                <th>As Per Adjustment</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.TimeTableViewList)
                                                            {
                                                                <tr>
                                                                    <td>@item.ClassName</td>
                                                                    <td class="text-danger"><b>@item.TeacherName</b></td>
                                                                    <td>@item.SubjectName</td>
                                                                    <td>@item.AttendaceStatus</td>
                                                                    <td class="cls_subjectadjust">@item.AsPerAdjust</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                        </table>

                                                        </div>
                                                        }
                                                        else if (Model.TeacherId > 0)
                                                        {
                                                        <div class="col-md-12" id="timetableadjustment" hidden>
                                                        <table id="timetable_grid" class="table table-bordered table-condensed table-responsive table-striped">
                                                        <thead class="thead-default">
                                                            <tr>
                                                                <th>Class Name</th>
                                                                <th>Period</th>
                                                                <th>As Per TimeTable</th>
                                                                <th>Attendance Status</th>
                                                                <th>As Per Adjustment</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.TimeTableViewList)
                                                            {
                                                                <tr>
                                                                    <td>@item.ClassName</td>
                                                                    <td class="text-danger"><b>@item.PeriodName</b></td>
                                                                    <td>@item.SubjectName</td>
                                                                    @if (Model.IsLeave)
                                                                    {
                                                                        <td>A</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@item.AttendaceStatus</td>
                                                                    }
                                                                    <td class="cls_subjectadjust">@item.AsPerAdjust</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                        </table>

                                                        </div>
                                                        }*@

            <!-- chnage time table detail blocks -->
            if (Model.IsAuthToAdd)
            {
            <!-- HTML Template Assignment (Modal)-->
                <div class="modal-popup" id="CopyFromViewBox" style="display: none">
                    <div class="modal-popup-body">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" id="close_CopyFromViewBox" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="header_CopyFromViewBox">Teacher Adjustment for Class  (Period )</h4>
                            </div>
                            <div class="modal-body">
                                <!-- Validation show -->
                                <div class="col-md-12 text-danger" id="copyfrom_validation_div" style="display: none">
                                    <ul></ul>
                                </div>

                                <div class="row">
                                    <!-- Form Coulmn -->
                                    <div class="col-md-6">
                                        <label class="col-md-3 control-label">Subject</label>
                                        <div class="col-md-8">
                                            <select class="form-control Subject_ddl" style="width:100%">
                                                <option value="">---Select---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Form Coulmn -->

                                    <div class="col-md-6">
                                        <label class="control-label col-md-3">Teacher</label>
                                        <div class="col-md-8">
                                            <select class="form-control Teacher_ddl" style="width:100%">
                                                <option value="">---Select---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6  top-space-20">
                                        <label class="control-label col-md-3">Remarks</label>
                                        <div class="col-md-8">
                                            <input style="width:100%" id="teacherRemarks" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 top-space-20">
                                        <div class="col-md-4" style="padding:0 115px">
                                            @if (Model.IsAuthToAdd)
                                            {
                                                <button type="button" id="save_period_copyfrom" class="btn btn-success">
                                                    <i class="fa fa-floppy-o"></i>
                                                    Save
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="row teacherSummary top-space-20" style="display:none">
                                    <div class="col-md-12">
                                        <h5 class="teacherSummaryHeader"></h5>
                                        <table id="discardBookCopiesTable" class="table table-bordered table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Period</th>
                                                    <th>Class</th>
                                                    <th>Subject</th>
                                                    <th>Adjustment</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- chnage time table detail blocks -->
            }
            <script type="text/javascript">

                var Teacher_Id = "";
                var AttendanceStatus = "";
                $('#AttendanceStatusId').multiselect({
                    includeSelectAllOption: true
                });
                $(".js-example-templating").select2({
                });

                $(document).on("mouseover", ".description_tooltip_cls", function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });

                if ($("#TypeId option:selected").text() == "Period" && "@Model.TeacherId" == "") {
                    $("#perioddrop").show();
                    $("#show_adjustment").show();

                    $("#teacherdrop").hide();
                    $("#teachercheck").hide();
                    $("#TeacherId").val("");
                    $("#IsLeave").prop('checked', false);
                }
                else if ("@Model.TeacherId" != "") {
                    $("#perioddrop").hide();
                    $("#show_adjustment").hide();
                    $("#teacherdrop").show();
                    $("#teachercheck").show();
                }
                else {
                    $("#perioddrop").hide();
                    $("#show_adjustment").hide();
                    $("#teacherdrop").show();
                    $("#teachercheck").show();
                    $("#TeacherId").val("");
                }


                $(document).on('change', '#TypeId', function () {
        $('#ShowAdjustmentOnly').removeAttr('checked');
        $("#timetableadjustment").hide();
        if ($("#TypeId option:selected").text() == "Period") {
            $("#perioddrop").show();
            $("#show_adjustment").show();
            $("#teacherdrop").hide();
            $("#teachercheck").hide();
            $("#TeacherId").val("");
            $("#IsLeave").prop('checked', false);

            $('#ks_loader').show();
            // save data
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetPeriods", "TimeTable"))',
                data: {},
                success: function (result) {
                    if (result.status == "success") {
                        $("#PeriodId").find('option').remove();
                        if (result.data.length > 0) {
                            $.each(result.data, function () {
                                if (this.Selected == true) {
                                    $('#PeriodId').append('<option selected="selected" value=' + this.Value + '>' + this.Text + '</option>')
                                }
                                else {
                                    $('#PeriodId').append('<option  value=' + this.Value + '>' + this.Text + '</option>')

                                }
                            })
                            $(".periodtimetxt").text("(" + result.periodtime + ")");
                        }
                    }
                    else {
                        $(".periodtimetxt").text("");
                        ToastMessage(result.NoPeriodFound, "error", true, 5000);
                    }

                    $('#ks_loader').hide();
                },
                error: function (status, data) {
                    var err = "Error: " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            $("#perioddrop").hide();
            $("#show_adjustment").hide();
            $("#teacherdrop").show();
            $("#teachercheck").show();
            $("#TeacherId").empty();
            $("#IsLeave").prop('checked', false);
            //$("#AttendanceStatusId").val("4");
           // $('#AttendanceStatusId').multiselect('select_all');
          //  $("#AttendanceStatusId").multiselect('refresh');
            $('#AttendanceStatusId option').prop("selected", true);
            $('#AttendanceStatusId').parent().find("input[type='checkbox']").prop("checked", true);
             $("#AttendanceStatusId").multiselect('refresh');
            $("#AttendanceStatusId").trigger('change');
        }
    });

                $(document).on('change', "#AttendanceStatusId", function () {
                    $('#ks_loader').show();
                    // save data
                    $("#TeacherId").empty();
                    //if ($("#AttendanceStatusId").val() != null) {
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetTeachers", "TimeTable"))',
                        data: { "attendanceStatusId": $("#AttendanceStatusId").val(), "Date": GetDateFromString($("#Date").val()) },
                        success: function (result) {
                            if (result.status == "success") {
                                $("#TeacherId").find('option').not(':first').remove();
                                if (result.data.length > 0) {
                                    $.each(result.data, function () {
                                        $('#TeacherId').append('<option value=' + this.Value + '>' + this.Text + '</option>')
                                    })
                                }
                            }
                            else
                                ToastMessage(data, "error", true, 5000);

                            $('#ks_loader').hide();
                        },
                        error: function (status, data) {
                            var err = "Error: " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                    //} else {

                    //    $('#ks_loader').hide();
                    //}
                })

                $(document).on('change', "#Date", function () {
                    $('#ks_loader').show();
                    // save data
                    if ($("#AttendanceStatusId").val() != null) {
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("GetTeachers", "TimeTable"))',
                            data: { "attendanceStatusId": $("#AttendanceStatusId").val(), "Date": GetDateFromString($("#Date").val()) },
                            success: function (result) {
                                if (result.status == "success") {
                                    $("#TeacherId").find('option').not(':first').remove();
                                    if (result.data.length > 0) {
                                        $.each(result.data, function () {
                                            $('#TeacherId').append('<option value=' + this.Value + '>' + this.Text + '</option>')
                                        })
                                    }
                                }
                                else
                                    ToastMessage(data, "error", true, 5000);

                                $('#ks_loader').hide();
                            },
                            error: function (status, data) {
                                var err = "Error: " + status + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                })

                @if (Model.TimeTableViewList.Count > 0)
                {
                    <text>
                $('#exportexcel').show();
                $('#print').show();
                </text>
                }

                function exportexcel() {

                    var typeid = $('#TypeId').val();
                    var CurrenttSchedule = $('#CurntSchedule').val();
                    var day = $('#Day').val();
                    var periodID = $('#PeriodId').val();
                    var Date = $('#Date').val();
                    var currentDate = $('#CurrentDate').val();
                    if ($('#ShowAdjustmentOnly').attr("checked")) {
                        var ShowAdjustmentOnly = true;
                    } else {
                        var ShowAdjustmentOnly = false;
                    }

                    var AttendanceStatusId = $('#AttendanceStatusId').val();
                    var TeacherId = $('#TeacherId').val();
                    window.location = "../TimeTable/AdjustmentExport?TypeId=" + typeid + "&CurntSchedule=" + CurrenttSchedule + "&Day=" + day + "&periodID=" + periodID + "&Date=" + Date + "&currentDate=" + currentDate + "&ShowAdjustmentOnly=" + ShowAdjustmentOnly + "&AttendanceStatusId=" + AttendanceStatusId + "&TeacherId=" + TeacherId + "";
                    //var prd = $("#PeriodId option:selected").text();
                    //var jHtmlObject = jQuery($("#adjust_timetable_grid").parent().html());
                    //var editor = jHtmlObject;
                    //editor.find('outerHTML').find(".lkj").remove();
                    //var newHtml = editor.html();
                    //$('#adjustmentwithouthiiden').html(newHtml);
                    //$('#adjustmentwithouthiiden').table2excel({
                    //    exclude:'.lkj',
                    //    name: "Table2Excel",
                    //    filename: "TimeTable Adjustment for Period: " + prd,
                    //    fileext: ".xls"
                    //});
                }

                $('#print').click(function () {
                    var prd = $("#PeriodId option:selected").text();
                    PrintAdjustment(prd);
                });

                $(document).bind("keyup keydown", function (e) {
                    if (e.ctrlKey && e.keyCode == 80) {
                        PrintAdjustment();
                    }
                });

                function PrintAdjustment(prd) {
                    var w = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1');

                    var href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";

                    var htmlStart =
                        '<!DOCTYPE html>' +
                        '<html>' +
                        '<head>' +
                        '<meta charset="utf-8" />' +
                        '<title>Time Table Adjustment for Period: ' + prd + '</title>' +
                        '<link href="' + href + '" rel="stylesheet" /> ' +
                        '<style>' +
                        'html { font: 11pt sans-serif; }' +
                        '.thead-default th {color: #464a4c;background-color: #eceeef;}' +
                        '</style>' +
                        '</head>' +
                        '<body>';

                    var htmlEnd =
                            '</body>' +
                            '</html>';

                    var doc = w.document.open();
                    debugger
                    doc.write(htmlStart + $('#timetableadjustment').html() + htmlEnd);
                    doc.close();
                    setTimeout(function () {
                        w.print();
                        w.close();
                    }, 1000);
                }

                $('#PeriodId').change(function () {
                    if ($(this).val() != "") {
                        $('#ks_loader').show();
                        // save data
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("GetPeriodTime", "TimeTable"))',
                            data: { "Period": $(this).val() },
                            success: function (result) {
                                if (result.status == "success") {
                                    $('.periodtimetxt').text("(" + result.data + ")");
                                }
                                else
                                    ToastMessage(data, "error", true, 5000);

                                $('#ks_loader').hide();
                            },
                            error: function (status, data) {
                                var err = "Error: " + status + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                });

                //get period list on date selection
                $('.adjustment_date').change(function () {
                    $('#ks_loader').show();
                    var date = $(this).val();
                    if (date != null) {
                        var selecteddate = GetDateFromString(date);
                        // get period list
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("GetPeriod", "TimeTable"))',
                            data: { "date": selecteddate },
                            success: function (result) {
                                if (result.status == "success") {
                                    $('#PeriodId').html('');
                                    var selectlist = '<select>';
                                    $.each(result.data, function () {
                                        selectlist += '<option value=' + this.periodId + '>' + this.Period + '</option>';
                                    })
                                    selectlist += '</select>';
                                    $('#PeriodId').html(selectlist);

                                }
                                else {

                                }
                                $('#ks_loader').hide();
                            },
                            error: function (xhr, status, data) {
                                var err = "Error: " + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                });

                $('#CurntSchedule').val(@Model.CurntSchedule);
                $('#Day').val(@Model.Day);

                $('.field-validation-error').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });

                $('.field-validation-valid').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });

                $("#Date").kendoDatePicker({
                    format: "dd/MM/yyyy",
                    min: new Date()
                });

                $("#Date").attr("readonly", true);


                $('#search_btn').click(function () {
                   // event.preventDefault();
                    if ($("#Date").val() != "") {
                        var date = GetDateFromString($("#Date").val());
                        $('#CurrentDate').val(date);
                    }
                    var IsValid = true;
                    if ($("#TypeId option:selected").text() == "Teacher") {
                        if ($("#TeacherId").val() == "" || $("#TeacherId").val() == null) {
                            IsValid = false;
                            ToastMessage("Pleasse Select Teacher", "error", true, 5000);
                        }
                    }
                    if (!IsValid) {
                        return false;
                    }
                });

                function GetDateFromString(date) {
                    var datearry = date.split('/');
                    var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                    return returnFromDate;
                }

                $('#close_CopyFromViewBox').click(function () {
                    $("#CopyFromViewBox").hide(800);
                    $("#teacherRemarks").val("");
                });
                @if(Model.IsAuthToAdd){
                    <text>
      $('.cls_staffsubject').on("click", function () {
                 $(".teacherSummary").hide();

                    var cell = $(this); // cell
                    var row = cell.parent(); // row
                    var TimeTableAdjId = $(this).parent().find("td:nth-child(1)").text();
                    var isadjustmentexist = $(this).parent().find("td:nth-child(6)").text();
                    if (isadjustmentexist != "" && isadjustmentexist != null) {
                        alert("Adjustment already exist,Please clear previous one for new adjustment");
                        return false;
                    }
                    if ($("#TeacherId").val() == "") {
                        var PeriodId = $('#PeriodId').val();
                    }
                    else {
                        var PeriodId = row.find('.cls_period').text();
                    }
                    var ClassId = 0;
                    var VirtualClassId = 0
                    ClassId = row.find('.cls_classstd').text();
                    VirtualClassId = row.find('.cls_classstd').attr('data-id-virtaulclassid');
                    var ClassPeriodId = row.find('.cls_classperiod').text();
                    var ClassPerioddetailId = row.find('.cls_classperioddet').text();
                    var CurrentSchedule = $('#CurntSchedule').val();
                    var Day = $('#Day').val();
                    var StaffId = row.find('.cls_staff').text();
                    Teacher_Id = row.find('.cls_staff').text();
                    AttendanceStatus = row.find('.atn_Status').text();

                    var Class = row.find('td:nth-child(2)').text();
                    var Period = "";
                    if ($("#TypeId").val() == "1")
                        Period = $("#PeriodId option:selected").text();
                    else
                        Period = row.find('td:nth-child(3)').text();

                    $('.Subject_ddl').find('option').not(':first').remove();
                    $('.Teacher_ddl').find('option').not(':first').remove();
                    // get subject list by ajax
                    BindSubjectAndTeacherOnCellClick(cell, row, PeriodId, ClassId, ClassPeriodId, ClassPerioddetailId, CurrentSchedule, Day, TimeTableAdjId, StaffId, VirtualClassId);
          $("#teacherRemarks").val("");
          $("#CopyFromViewBox").find("#header_CopyFromViewBox").html("");
                    $("#CopyFromViewBox").find("#header_CopyFromViewBox").html("Teacher Adjustment for "
                                   + Class + " (Period: " + Period + ")");
                    $("#CopyFromViewBox").show(800);
                });
                </text>}
                // function bind subject and teacher by grid cell click
                function BindSubjectAndTeacherOnCellClick(cell, row, PeriodId, ClassId,
                    ClassPeriodId, ClassPerioddetailId,
                    CurrentSchedule, Day, TimeTableAdjId, StaffId, VirtualClassId) {
                    $('#ks_loader').show();

                    $("#save_period_copyfrom").unbind("click");
                    $(".Subject_ddl").unbind("change");
                    $(".Teacher_ddl").unbind("change");

                    var SubjectName = "";
                    var StaffName = "";
                    var SubjectId = 0;
                    var SkillId = 0;
                    var TeacherId = 0;
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetClassSubjects", "TimeTable"))',
                        data: {
                            "periodId": PeriodId, "classId": ClassId, "TimeTable": CurrentSchedule,
                            "adjustmentdate": GetDateFromString($('#Date').val()), "ClassperioddetailId": ClassPerioddetailId,
                            "DayIds": Day, "StaffId": StaffId, "vIRTUAL_ClassId": VirtualClassId
                        },
                        success: function (result) {
                            if (result.status == "success") {
                                for (var i = 0; i < result.data.length ; i++) {
                                    var option = "";
                                    option = "<option data-Skillid='" + result.data[i].SubjectSkillId + "' value='"
                                                + result.data[i].SubjectId + "'>"
                                                + result.data[i].SubjectName + " "
                                                + "( " + result.data[i].AssignedTeacher + " )" + "</option>";
                                    $('.Subject_ddl').append(option);
                                }

                                $('.Subject_ddl').change(function () {

                                    $('.Teacher_ddl').find('option').not(':first').remove();

                                    SubjectName = $('option:selected', this).text();
                                    SubjectId = $(this).val();

                                    if (SubjectId > 0) {
                                        $('#ks_loader').show();
                                        SkillId = $(this).find(':selected').attr('data-Skillid');
                                        // ajax call
                                        $.ajax({
                                            type: "POST",
                                            url: '@Html.Raw(Url.Action("GetSubjectTeachersByDayId", "TimeTable"))',
                                            data: {
                                                "periodId": PeriodId, "ClassperioddetailId": ClassPerioddetailId,
                                                "subjectId": SubjectId, "classId": ClassId, "TimeTable": CurrentSchedule,
                                                "DayIds": Day, "adjustmentdate": GetDateFromString($('#Date').val()),
                                                "StaffId": StaffId, "vIRTUAL_ClassId": VirtualClassId
                                            },
                                            success: function (result) {
                                                if (result.status == "success") {
                                                    $('.Teacher_ddl').find('option').not(':first').remove();
                                                    for (var i = 0; i < result.data.length ; i++) {
                                                        var option = "";
                                                        option = "<option value='" + result.data[i].TeacherId + "'>"
                                                                                    + result.data[i].TeacherName + "</option>";
                                                        $('.Teacher_ddl').append(option);
                                                    }

                                                    $('.Teacher_ddl').change(function () {
                                                        StaffName = $('option:selected', this).text();
                                                        TeacherId = $(this).val();
                                                    });
                                                }
                                                else {
                                                    ToastMessage(result.msg, "error", true, 5000);
                                                }
                                                $('#ks_loader').hide();
                                            },
                                            error: function (xhr, status, data) {
                                                var err = "Error: " + " " + data;
                                                ToastMessage(err, "error", true, 5000);
                                                $('#ks_loader').hide();
                                            }
                                        });
                                    }
                                });

                                $(".Teacher_ddl").change(function () {
                                    $(".teacherSummaryHeader").html("");
                                    $(".teacherSummary").hide();
                                    $("#discardBookCopiesTable >tbody").html("");
                                    var AdjstmntDate = GetDateFromString($('#Date').val())
                                    var slectedTeacherId = $(".Teacher_ddl").val();
                                    if (slectedTeacherId != "" && slectedTeacherId != null && AdjstmntDate != "" && AdjstmntDate != null) {
                                        $(".teacherSummaryHeader").html("<b>TimeTable For "+$(".Teacher_ddl :selected").text()+" of "+$('#Date').val()+"</b>");
                                        $.ajax({
                                            type: "POST",
                                            url: '@Html.Raw(Url.Action("GetTeacherPeriodSummary", "TimeTable"))',
                                            data: {
                                                "adjustmentdate": GetDateFromString($('#Date').val()), "StaffId": slectedTeacherId
                                            },
                                            success: function (result) {
                                                if (result.status == "success") {
                                                    var summryhtml = ""; var tchrsubject = ""; var strclass="";
                                                    for (var i = 0; i < result.data.length; i++) {
                                                        summryhtml += "<tr>";
                                                        if (result.data[i].TeacherSubject != null)
                                                            tchrsubject = result.data[i].TeacherSubject.slice(0,-1);
                                                        else 
                                                            tchrsubject = "<i class='fa fa-times' style='color: red;'></i>";
                                                        
                                                        if (result.data[i].strClasses != null)
                                                            strclass = result.data[i].strClasses.slice(0,-1);
                                                        else
                                                            strclass = "<i class='fa fa-times' style='color: red;'></i>";

                                                        summryhtml += "<td>" + result.data[i].Period + "</td>";
                                                        summryhtml += "<td>" + strclass + "</td>";
                                                        summryhtml += "<td>" + tchrsubject + "</td>";

                                                        if (result.data[i].IsAdjustment == true)
                                                            summryhtml += "<td><i class='fa fa-check' style='color: red;'></i></td>";
                                                        else
                                                            summryhtml += "<td><i class='fa fa-times' style='color: red;'></i></td>";
                                                        summryhtml += "</tr>";
                                                    }
                                                    $("#discardBookCopiesTable >tbody").append(summryhtml);
                                                    $(".teacherSummary").show();
                                                }
                                                else {
                                                    ToastMessage(result.msg, "error", true, 5000);
                                                }
                                                $('#ks_loader').hide();
                                            },
                                            error: function (xhr, status, data) {
                                                var err = "Error: " + " " + data;
                                                ToastMessage(err, "error", true, 5000);
                                                $('#ks_loader').hide();
                                            }
                                        });
                                    }
                                });
                            }
                            else {
                                ToastMessage(result.msg, "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (xhr, status, data) {
                            var err = "Error: " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });

                    // save data by selected teacher and subject
                    $('#save_period_copyfrom').click(function () {
                        $('#ks_loader').show();

                        var AdjustmentModel = new Object();
                        AdjustmentModel.TimeTableId = CurrentSchedule;
                        AdjustmentModel.PeriodId = PeriodId;
                        AdjustmentModel.ClassPeriodId = ClassPeriodId;
                        AdjustmentModel.ClassPeriodDetailId = ClassPerioddetailId;
                        AdjustmentModel.ClassId = ClassId;
                        AdjustmentModel.VirtualClassId = VirtualClassId;
                        AdjustmentModel.SubjectId = SubjectId;
                        AdjustmentModel.StaffId = TeacherId;
                        AdjustmentModel.TimeTableAdjustmentId = TimeTableAdjId;
                        AdjustmentModel.SubstituteId = Teacher_Id;
                        AdjustmentModel.SubstitutorId = TeacherId;
                        AdjustmentModel.AttendanceStatus = AttendanceStatus;
                        AdjustmentModel.Remarks = $("#teacherRemarks").val();

                        var date = GetDateFromString($("#Date").val());
                        AdjustmentModel.Date = date;
                        var Isvalid = validateadjust();
                        if (Isvalid) {
                            // save data
                            $.ajax({
                                type: "POST",
                                async: false,
                                url: '@Html.Raw(Url.Action("AddAdjustment", "TimeTable"))',
                                data: AdjustmentModel,
                                success: function (result) {
                                    if (result.status == "success") {
                                        alert(result.data);
                                        //  cell.removeClass('text-danger');
                                        //  cell.removeClass('text-center');
                                        //if ($("#TeacherId").val() == "") {
                                        //    row.find('.cls_subject').text(SubjectName);
                                        //}
                                        //else {
                                        debugger
                                        //row.find('.cls_subjectadjust').text(SubjectName.split(" ")[0] + " (" + StaffName + ")");
                                        //row.find('.cls_subjectadjust').append("  " + '<a title="Clear Adjustment" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="clearadjust description_tooltip_cls"><i class="fa fa-times" aria-hidden="true"></i></a>');
                                        row.find('.cls_subjectadjust').append('<span class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="'+result.Remarks+'"><font color="black">'+SubjectName.split(" ")[0] + " (" + StaffName + ")"+' &nbsp;&nbsp; <a title="Clear Adjustment" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="clearadjust description_tooltip_cls"><i class="fa fa-times" aria-hidden="true"></i></a></font></span>');
                  
                                        //}
                                        row.find('.adjustId').text(result.AdjId);
                                        if ($("#IsLeave").prop('checked')) {
                                            row.find('.atn_Status').text("A");
                                        }
                                        //if ($("#TeacherId").val() == "") {
                                        //    cell.html("<b>" + StaffName + "</b>");
                                        //}
                                        $("#CopyFromViewBox").hide(800);
                                        $("#teacherRemarks").val("");
                                    }
                                    else {
                                        var validationaray = result.data.split('ε');
                                        for (var i = 0; i < validationaray.length - 1; i++)
                                            ToastMessage(validationaray[i], "error", true, 5000);
                                    }
                                    $('#ks_loader').hide();
                                },
                                error: function (xhr, status, data) {
                                    var err = "Error: " + " " + data;
                                    ToastMessage(err, "error", true, 5000);
                                    $('#ks_loader').hide();
                                }
                            });
                        }
                        else {
                            var validationaray = adjustvalidationMessage.split('\n');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);

                            $('#ks_loader').hide();
                        }
                    });
                }


                // save data by selected teacher and subject
                $(document).on('click', ".clearadjust", function () {
                    if (confirm("Are you sure want to clear this adjustment")) {
                        $('#ks_loader').show();
                        var row = $(this).parent().parent().parent().parent();
                        var adjustmentid = row.find("td:nth-child(1)").text();
                        var cell = row.find("td:nth-child(6)");
                        // save data
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: '@Html.Raw(Url.Action("ClearAdjustment", "TimeTable"))',
                            data: { "id": adjustmentid },
                            success: function (result) {
                                if (result.status == "success") {
                                    alert(result.data);
                                    cell.html("");
                                    $("#search_btn").trigger('click');
                                }
                                else {
                                    alert(result.data);
                                }
                                $('#ks_loader').hide();
                            },
                            error: function (xhr, status, data) {
                                var err = "Error: " + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                    else {
                        return false;
                    }
                });

  

                var adjustvalidationMessage = "";
                var Isadjustvalid = true;
                var adjustcntrlfocus = "";
                function validateadjust() {
                    Isadjustvalid = true;
                    adjustvalidationMessage = "";
                    adjustcntrlfocus = "";
                    if ($('.Subject_ddl').val() == "" || $('.Subject_ddl').val() == undefined) {
                        if (adjustcntrlfocus == "")
                            adjustcntrlfocus = "#Subject_ddl";
                        adjustvalidationMessage = adjustvalidationMessage + "Please provide teacher \n";
                        Isadjustvalid = false;
                    }
                    if ($('.Teacher_ddl').val() == "" || $('.Teacher_ddl').val() == undefined) {
                        if (adjustcntrlfocus == "")
                            adjustcntrlfocus = "#Teacher_ddl";
                        adjustvalidationMessage = adjustvalidationMessage + "Please provide subject \n";
                        Isadjustvalid = false;
                    }
                    return Isadjustvalid;
                }

            </script>
        }
    </div>
</div>
<!-- Page Controls -->
