﻿@model KS_SmartChild.ViewModel.TimeTable.AdjustmentListReportModel
@{
    Layout = null;
    ViewBag.Title = "DailyAdjustmenReport";
}


<html>
<head>
    <title>Daily Adjustment Report</title>
    <style>
        @@page {
            size: portrait; /* auto is the initial value */
            margin: 0mm; /* this affects the margin in the printer settings */
        }

        html {
            background-color: #FFFFFF;
            margin: 0px; /* this affects the margin on the html before sending to printer */
        }

        body {
            border: 0;
            margin: 0mm; /* margin you want for the content */
            font-family: Calibri, Arial;
        }
    </style>

</head>
<body onload="window.print()">
    <table cellspacing="0" cellpadding="5" border="1" style="width:50%">
        <thead>
            <tr>
                <th>Class</th>
                <th>Period</th>
                <th>On Duty Teacher</th>
                <th>Adjusted Teacher</th>
                <th>Sign</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.List.Count > 0)
            {
                foreach (var item in Model.List)
                {
                    <tr>
                        <td>@item.Class</td>
                        <td>@item.Period</td>
                        <td>@item.OnDutyTeacher</td>
                        <td>@item.AdjustedTeacher</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    }
</body>
</html>
