﻿@model ViewModel.ViewModel.TimeTable.AdjustmentListReportModel
@{
    
    ViewBag.Title = "DailyAdjustmenReport";
}
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }

    <div class="col-md-6">
        <h1>Daily Adjustment View</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Html.Raw(Url.Action("Adjustment","TimeTable"))" id="dailyreport" class="btn btn-xs btn-default">Back </a>
            <a href="@Html.Raw(Url.Action("DailyAdjustmentReportPrint","TimeTable"))" target="_blank" id="dailyreport" class="btn btn-xs btn-default">Print </a>
        

    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12">

        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Period</th>
                    <th>On Duty Teacher</th>
                    <th>Adjusted Teacher</th>

                </tr>
            </thead>
            <tbody id="Scroll_endless">
                @if (Model.List.Count > 0)
                {
                    foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.Class</td>
                            <td>@item.Period</td>
                            <td>@item.OnDutyTeacher</td>
                            <td>@item.AdjustedTeacher</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
      @{<text>
                var Scrollspeed = @Model.ScrollSpeed
                    </text>}
    setInterval(function () {
        $('#Scroll_endless').stop().animate({ scrollTop: 40 }, 400, 'swing', function () {
            $(this).scrollTop(0).find('tr:last').after($('tr:first', this));
        });
    }, Scrollspeed);
</script>
