﻿@model ViewModel.ViewModel.TimeTable.FreeClassTeacherModel

@{
    ViewBag.Title = "View Free Teacher";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.NoPeriodFound))
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @Model.NoPeriodFound</div>
        </div>
    }
    <div class="col-md-6">
        <h1>View Free Teacher</h1>
    </div>
</div>
<!-- //Page Heading -->
<style>
    .modal-popup-body {
        width: 850px;
    }
</style>
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("FreeClassTeacher", "TimeTable", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CurrentDate)
            <!-- Form Row -->
            <div class="row">
                <div class="form-group">
                    <label>Date </label>
                    @Html.TextBoxFor(model => model.Date, new { @class = "" })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>
                    <!-- //Error Message -->
                </div>

                <div class="form-group">
                    <label> Period</label>
                    @Html.DropDownListFor(model => model.PeriodId, Model.AvailablePeriodList, new { @class = "form-control" })
                    @if (!string.IsNullOrEmpty(Model.PeriodTime))
                    {
                        <span class="periodtimetxt"> (@Model.PeriodTime)</span>
                    }
                    else
                    {
                        <span class="periodtimetxt"></span>
                    }
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="submit" id="search_btn" class="btn btn-default" name="Search">Filter</button>
                </div>
            </div>

            <div class="row">
                <table id="table-student-grid" class="table table-bordered table-condensed table-responsive table-striped">
                    <thead class="thead-default">
                        <tr>
                            <th class="col-md-2">Teacher Name</th>
                            <th class="col-md-3">Assigned Classes</th>
                            <th class="col-md-3">Assigned Subjects</th>
                            <th class="col-md-1">Phone No.</th>
                            <th class="col-md-3">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
            if (Model.FreeTeacherList.Count > 0)
            {
                foreach (var item in Model.FreeTeacherList)
                {
                    <tr>
                        <td>@item.TeacherName</td>
                        <td>@item.AssignedClasses</td>
                        <td>@item.AssignedSubjects</td>
                        <td>@item.PhoneNo</td>
                        <td>@item.Email</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="5">No data found</td>
                </tr>
            }
                        }
                    </tbody>
                </table>
            </div>

            <script type="text/javascript">

                $('.field-validation-error').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });

                $('.field-validation-valid').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });

                $("#Date").kendoDatePicker({
                    format: "dd/MM/yyyy",
                    min: new Date
                });

                $("#Date").attr("readonly", true);

                $('#search_btn').click(function () {
                    if ($("#Date").val() != "") {
                        var date = GetDateFromString($("#Date").val());
                        $('#CurrentDate').val(date);
                    }
                });

                $('#PeriodId').change(function () {
                    if ($(this).val() != "") {
                        $('#ks_loader').show();
                        // save data
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("GetPeriodTime", "TimeTable"))',
                            data: { "Period": $(this).val() },
                            success: function (result) {
                                if (result.status == "success") {
                                    $('.periodtimetxt').text("(" + result.data + ")");
                                }
                                else
                                    ToastMessage(data, "error", true, 5000);

                                $('#ks_loader').hide();
                            },
                            error: function (status, data) {
                                var err = "Error: " + status + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                });

                function GetDateFromString(date) {
                    var datearry = date.split('/');
                    var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                    return returnFromDate;
                }

            </script>
        }
    </div>
</div>
<!-- Page Controls -->
