﻿@model ViewModel.ViewModel.TimeTable.FreeClassesModel

@{
    ViewBag.Title = "View Free Classes";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>View Free Classes</h1>
    </div>
</div>
<!-- //Page Heading -->
<style>
    .modal-popup-body {
        width: 850px;
    }
</style>
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("FreeClasses", "TimeTable", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CurrentDate)
            <!-- Form Row -->
            <div class="row">
                <div class="form-group">
                    <label>Date </label>
                    @Html.TextBoxFor(model => model.Date, new { @class = "" })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>
                    <!-- //Error Message -->
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="submit" id="search_btn" class="btn btn-default" name="Search">Filter</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <table id="table-student-grid" class="table table-bordered table-condensed table-responsive table-striped">
                        <thead class="thead-default">
                            <tr>
                                <th class="col-md-2">Class Name</th>
                                <th class="col-md-8">Periods</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{if (Model.FreeClassesList.Count > 0)
                            {
                                foreach (var item in Model.FreeClassesList)
                                {
                                    <tr>
                                        <td>@item.ClassName</td>
                                        <td>@item.Periods</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center">No data found</td>
                                </tr>
                            }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function(){
                $('.field-validation-error').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });

                $('.field-validation-valid').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });


                $("#Date").kendoDatePicker({
                    format: "dd/MM/yyyy",
                    min: new Date,
                    max: '@Model.EndSessionDate'
                });

                $("#Date").attr("readonly", true);

                $('#search_btn').click(function () {
                    if ($("#Date").val() != "") {
                        var date = GetDateFromString($("#Date").val());
                        $('#CurrentDate').val(date);
                    }
                    else {
                        $('#CurrentDate').val("");
                    }
                });

                function GetDateFromString(date) {
                    var datearry = date.split('/');
                    var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                    return returnFromDate;
                }
                })
            </script>
        }
    </div>
</div>
<!-- Page Controls -->
