﻿@model ViewModel.ViewModel.TimeTable.TimeTableModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintTimeTable</title>
</head>
<body>
    <div class="row top-space-10" id="timetable-grid-div" hidden>
        <div class="col-md-12">
            <p class="timetable_grid_period">@Model.PeriodDetail</p>
        </div>
        <div class="col-md-12" id="timetable-grid">

        </div>
    </div>
</body>
</html>
