﻿@model ViewModel.ViewModel.TimeTable.RealTimeViewTimeTable

@{
    string Host = Request.Url.AbsolutePath;
    Host = Host.Split('/')[1];
    if (Request.Url.AbsoluteUri.Contains("localhost"))
    {
        Host = "";
    }
    
    ViewBag.Title = "Date Wise TimeTable View";
}

<script src="~/Scripts/jquery.table2excel.min.js"></script>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.NoPeriodFound))
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @Model.NoPeriodFound</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Date Wise TimeTable View</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="javascript:void(0)" id="excelRTT" onclick="ExcelRTT()" class="btn btn-xs btn-default">Excel</a>
        <a href="javascript:void(0)" id="printRTT" onclick="PrintRTT()" class="btn btn-xs btn-default">Print</a>
    </div>
</div>
<!-- //Page Heading -->
<style>
    .modal-popup-body {
        width: 850px;
    }
    .font-weight-bold {
        font-weight: 600
    }
</style>
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("RealTimeView", "TimeTable", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CurrentDate)
            <!-- Form Row -->
            <div class="row">
                <div class="col-md-3">
                    <label>Date </label>
                    @Html.TextBoxFor(model => model.Date, new { @class = "" })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="col-md-2">
                    <label>AdjustmentOnly</label>
                    @Html.CheckBoxFor(model => model.IsAdjustmentOnly)
                </div>
                <div class="col-md-4">
                    <label> Period</label>
                    @Html.DropDownListFor(model => model.PeriodId, Model.AvailablePeriodList, new { @class = "form-control" })
                    @if (!string.IsNullOrEmpty(Model.PeriodTime))
                    {
                        <span class="periodtimetxt"> (@Model.PeriodTime)</span>
                    }
                    else
                    {
                        <span class="periodtimetxt"></span>
                    }
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.PeriodId)
                    </div>
                    <!-- //Error Message -->
                </div>
               

                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="submit" id="search_btn" class="btn btn-default" name="Search">Filter</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table id="table-student-grid" class="table table-bordered table-condensed table-responsive table-striped">
                        <thead class="thead-default">
                            <tr>
                                <th class="col-md-2 text-center" rowspan="2">Class Name</th>
                                <th class="col-md-3 text-center" colspan="3">By Time Table</th>
                                <th class="col-md-3 text-center" colspan="2">By Adjustment</th>
                            </tr>
                            <tr>
                                <th class="col-md-2">Teacher Name</th>
                                <th class="col-md-2">Subject Name</th>
                                <th class="col-md-1">Attendance</th>
                                <th class="col-md-2">Teacher Name</th>
                                <th class="col-md-2">Subject Name</th>
                            </tr>
                        </thead>
                        <tbody id="Scroll_endless">
                            @{
                                if (Model.RealTimeViewList.Count > 0)
                                { 
                                    string IsEmpty = "";
                                    string IsBold = "";
                                    string IsEmpty1 = "";
                                    string IsBold1 = "";
                                    
                                    foreach (var item in Model.RealTimeViewList)
                                    {
                                        IsEmpty = "";
                                        IsBold = "";
                                        IsEmpty1 = "";
                                        IsBold1 = "";
                                        
                                        if (item.TeacherName == "Empty")
                                        {
                                            IsEmpty = "text-danger"; 
                                        }
                                        else
                                        {
                                            IsBold = "font-weight-bold";
                                        }

                                        if (item.AdjTeacherName == "Empty")
                                        {
                                            IsEmpty1 = "text-danger";
                                        }
                                        else
                                        {
                                            IsBold1 = "font-weight-bold";
                                        }
                                        
                                        <tr>
                                            <td>@item.ClassName</td>
                                            @if (item.TeacherName == "Empty")
                                            {
                                                <td class="@IsEmpty @IsBold"></td>
                                            }
                                            else
                                            {
                                                <td class="@IsEmpty @IsBold">@item.TeacherName</td>
                                            }
                                            @if (item.SubjectName == "Empty")
                                            {
                                                <td class="@IsEmpty @IsBold"></td>
                                            }
                                            else
                                            {
                                                <td class="@IsEmpty @IsBold">@item.SubjectName</td>
                                            }
                                            @if (item.AttendanceStatus == "Empty")
                                            {
                                                <td class="@IsEmpty @IsBold"></td> }
                                            else
                                            {
                                                <td class="@IsEmpty @IsBold">@item.AttendanceStatus</td>
                                            }
                                            @if (item.AdjTeacherName == "Empty")
                                            {
                                                <td class="@IsEmpty1 @IsBold1"></td>
                                            }
                                            else
                                            {
                                                <td class="@IsEmpty1 @IsBold1">@item.AdjTeacherName</td>
                                            }
                                            @if (item.AdjSubjectName == "Empty")
                                            {
                                                <td class="@IsEmpty1 @IsBold1"></td>
                                            }
                                            else
                                            {
                                                <td class="@IsEmpty1 @IsBold1">@item.AdjSubjectName</td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="6">No record found</td>
                                    </tr> 
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    @*<script src="~/Scripts/endless_scroll_min.js"></script>*@
            <script type="text/javascript">
                //$(window).load(function () {

                //    $("#Scroll_endless").endlessScroll({
                //        width: '90px',
                //        height: '10px',
                //        steps: 7,
                //        speed: 40,
                //        mousestop: true
                //    });

                //    // Recopy the previous line to add scrolling to other divs.

                //});
                setInterval(function () {
                    var dNow = new Date();
                    var localdate = (dNow.getMonth() + 1) + '/' + dNow.getDate() + '/' + dNow.getFullYear() + ' ' + dNow.getHours() + ':' + dNow.getMinutes();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetCurrentPeriod", "TimeTable"))',
                        data: { "CurrentTime": localdate },
                        success: function (result) {
                            if (result.status == "success") {
                               var selectedPeriodId= $('#PeriodId').val();
                               if (selectedPeriodId != result.data) {
                                   $('#PeriodId').val(result.data);
                                   $('#search_btn').trigger('click');
                               }
                            }
                            else
                                ToastMessage(data, "error", true, 5000);

                            $('#ks_loader').hide();
                        },
                        error: function (status, data) {
                            var err = "Error: " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }, 60000);
                @{<text>
                var Scrollspeed = @Model.ScrollSpeed
                    </text>}
              
                setInterval(function () {
                    $('#Scroll_endless').stop().animate({ scrollTop: 40 }, 400, 'swing', function () {
                        $(this).scrollTop(0).find('tr:last').after($('tr:first', this));
                    });
                }, Scrollspeed);
                $('#printRTT').hide();
                $('#excelRTT').hide();

                @if (Model.RealTimeViewList.Count > 0)
                {
                    <text>
                $('#printRTT').show();
                $('#excelRTT').show();
                    </text>
                }

                $('.field-validation-error').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });

                $('.field-validation-valid').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });

                $("#Date").kendoDatePicker({
                    format: "dd/MM/yyyy",
                    min: '@Model.SessionStartDate',
                    max: '@Model.SessionEndDate'
                });

                $("#Date").attr("readonly", true);

                $('#search_btn').click(function () {
                    if ($("#Date").val() != "") {
                        var date = GetDateFromString($("#Date").val());
                        $('#CurrentDate').val(date);
                    }
                });

                $('#PeriodId').change(function () {
                    if ($(this).val() != "")
                    {
                        $('#ks_loader').show();
                        // save data
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("GetPeriodTime", "TimeTable"))',
                            data: { "Period": $(this).val() },
                            success: function (result) {
                                if (result.status == "success") {
                                    $('.periodtimetxt').text("(" + result.data + ")");
                                }
                                else
                                    ToastMessage(data, "error", true, 5000);

                                $('#ks_loader').hide();
                            },
                            error: function (status, data) {
                                var err = "Error: " + status + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                });

                function GetDateFromString(date) {
                    var datearry = date.split('/');
                    var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                    return returnFromDate;
                }

                function ExcelRTT() {
                    $("#table-student-grid").table2excel({
                        name: "Table2Excel",
                        filename: "Time Table By Period",
                        fileext: ".xls"
                    });
                }

                $(document).bind("keyup keydown", function (e) {
                    if (e.ctrlKey && e.keyCode == 80) {
                        PrintRTT();
                    }
                });

                function PrintRTT() {
                    var w = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1');

                    var href = "";

                    @if (Request.Url.AbsoluteUri.Contains("localhost"))
                    {
                        <text>
                    href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
                        </text>
                    }
                    else if (Request.Url.AbsoluteUri.Contains("digitech.com"))
                    {
                        <text>
                    href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
                        </text>
                    }
                    else
                    {
                        <text>
                    href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
                        </text>
                    }

                    var htmlStart =
                        '<!DOCTYPE html>' +
                        '<html>' +
                        '<head>' +
                        '<meta charset="utf-8" />' +
                        '<title>Time Table By Period</title>' +
                        '<link href="' + href + '" rel="stylesheet" /> ' +
                        '<style>' +
                        'html { font: 11pt sans-serif; }' +
                        '.thead-default th {color: #464a4c;background-color: #eceeef;}' +
                        '</style>' +
                        '</head>' +
                        '<body>';

                    var htmlEnd = '</body></html>';
                    var heading = '<h4 style="text-align: left;padding-left: 5px;">' + $('#Date').val() + " - " + $('#PeriodId option:selected').text() + $('.periodtimetxt').text() + '</h4>';

                    var doc = w.document.open();
                    doc.write(htmlStart + heading + $('#table-student-grid').parent().html() + htmlEnd);

                    doc.close();
                    setTimeout(function () {
                        w.print();
                        //w.close();
                    }, 500);
                }

            </script>
        }
    </div>
</div>
<!-- Page Controls -->
