﻿@model IEnumerable<ViewModel.ViewModel.TimeTable.StudentClassModel>

@{
    ViewBag.Title = "Class Students";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Students » @ViewBag.ClassName » @ViewBag.Subject</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Html.Raw(Url.Action("TeacherTimeTable", "TimeTable"))" class="btn btn-xs btn-default">Back</a>
    </div>

</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("StudentClassList", "TimeTable", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()

            <table id="" class="table table-bordered table-responsive" style="margin-top: 5px;">
                <thead class="thead-default">
                    <tr>
                        <th>Roll No</th>
                        <th>Student Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Admission No</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RollNo</td>
                            @{if (item.StudentStatus == "InActive")
                            {
                                <td style="color:blue;">@item.StudentName</td>
                            }
                            else if (item.StudentStatus == "Left")
                            {
                                <td style="color:red;">@item.StudentName</td>
                            }
                            else
                            {
                                <td>@item.StudentName</td>
                            }
                            }
                            <td>@item.Email</td>
                            <td>@item.PhoneNo</td>
                            <td>@item.AdmissionNo</td>
                            <td class="text-center">
                                <a target="_blank" href="@Html.Raw(Url.Action("StudentProfile", "Student", new { Id = item.EncStudentId }))" title="View Detail" data-toggle="tooltip" data-placement="top" class="clsupdatedsd btn btn-xs btn-default"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>