﻿@model ViewModel.ViewModel.TimeTable.StudentTimeTable



@{
    ViewBag.Title = "Student TimeTable";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
   <div class="col-md-6">
            <h1>Time Table</h1>
        </div>
        @*<div class="col-md-6 text-right">
        @Html.TextBox("Calender")
    </div>*@

</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("StudentTimeTable", "TimeTable", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">
                    <p class="ClassOrPeriod_detail"></p>
                    <div id="TimeTable_CopyFrom_Grid">

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>

    $.ajax({
        type: "POST",
        url: '@Html.Raw(Url.Action("GetTimeTableGridByClass", "TimeTable"))',
        data: { "Class": '@Model.ClassId', "TimeTable": '@Model.TimeTableId', "Days": "" },
        success: function (result) {
            if (result.status == "success") {
                $('.ClassOrPeriod_detail').text("Class: " + result.Classdetail);
                if (result.data.length > 0) {
                    var Gridhtml = '<table class="table table-bordered table-striped table-responsive">';
                    var tableheading = "";
                    var tablebody = "";
                    var tbody = '<tbody>';
                    var nextused = 0;
                    for (var l = 0; l < result.periodlist.length; l++) {
                        var trcount = 0;
                        for (var i = 0; i < result.data.length; i++) {

                        if (i == 0) { // create heading one time
                            tableheading = '<thead class="thead-default">'
                                + '<tr><th style="width: 5px">Period</th>';
                            // split days
                            var alldayarray = result.data[i].PeriodDay.split('ε');
                            // create days heading
                            for (var j = 0 ; j < alldayarray.length - 1; j++) {
                                tableheading += '<th style="width: 10px">' + alldayarray[j] + '</th>';
                            }
                            tableheading += '</tr></thead>';
                            // end heading part
                        }




                        // table body part
                        var TeacherSubject = result.data[i].TeacherSubject != null ? result.data[i].TeacherSubject.split('ε') : null;
                        var entrydayarray = result.data[i].Day != null ? result.data[i].Day.split('ε') : null;
                        var alldayarray = result.data[0].PeriodDay.split('ε');
                        var classperiodarray = result.data[i].TimeTableClassPeriodId != null ? result.data[i].TimeTableClassPeriodId.split('ε') : null;
                        var classperioddetailarray = result.data[i].TimeTableClassPeriodDetailId != null ? result.data[i].TimeTableClassPeriodDetailId.split('ε') : null;

                       
                        //if (result.periodlist[i].PeriodId > result.data[l].PriodId) {
                        //            tablebody += '<tr>'
                        //               + '<td>' + result.Periods[l].PriodName + '(' + result.Periods[l].PriodStartTime + ' - ' + result.Periods[l].PriodEndTime + ')</td>'
                        //               + '<td style="display: none" class="clsperiod">' + result.Periods[l].PriodId + '</td>';
                        //            for (var n = 0 ; n < alldayarray.length - 1; n++) {
                        //                tablebody += '<td class="text-danger text-center teacher_subject_cell"><span style="display: none" class="clsclassperiod"></span>'
                        //                           + '<span class="clsclassperioddetail" style="display: none"></span></td>';
                        //            }
                        //            tablebody += '</tr>';
                        //    }
                        
                      
                        if (TeacherSubject != null) {
                            if (result.periodlist[l].PriodId == result.data[i].PeriodId) {
                                trcount = 1;
                                tablebody += '<tr>'
                                        + '<td>' + result.data[i].Period + '</td>'
                                        + '<td style="display: none" class="clsperiod">' + result.data[i].PeriodId + '</td>';
                                // create teacher + subject against each day
                                for (var j = 0 ; j < alldayarray.length - 1; j++) {
                                    var tdcount = 0;
                                    for (var k = 0 ; k < entrydayarray.length - 1; k++) {
                                        if (entrydayarray[k] == alldayarray[j]) {
                                            tdcount = 1;
                                            tablebody += '<td class="teacher_subject_cell">' + TeacherSubject[k] + '<span style="display: none" class="clsclassperiod">' + classperiodarray[k] + '</span>'
                                                + '<span class="clsclassperioddetail" style="display: none">' + classperioddetailarray[k] + '</span></td>';
                                            continue;
                                        }
                                    }
                                    if (tdcount == 0)
                                        tablebody += '<td class="text-danger text-center teacher_subject_cell"><span style="display: none" class="clsclassperiod"></span>'
                                                + '<span class="clsclassperioddetail" style="display: none"></span></td>';
                                }
                            } else if (trcount == 0 && result.periodlist[l].PriodId <= result.data[i].PeriodId) {
                                trcount = 1;
                                tablebody += '<tr>'
                                                                       + '<td>' + result.periodlist[l].PriodName + '(' + result.periodlist[l].PriodStartTime + ' - ' + result.periodlist[l].PriodEndTime + ')</td>'
                                                                       + '<td style="display: none" class="clsperiod">' + result.periodlist[l].PriodId + '</td>';
                                for (var n = 0 ; n < alldayarray.length - 1; n++) {
                                    tablebody += '<td class="text-danger text-center teacher_subject_cell"><span style="display: none" class="clsclassperiod"></span>'
                                               + '<span class="clsclassperioddetail" style="display: none"></span></td>';
                                }
                                tablebody += '</tr>';
                            }
                        }



                        tablebody += '</tr>';
                    }}
                    var finaltablehtml = Gridhtml + tableheading + tbody + tablebody + '</tbody></table>';
                    $('#TimeTable_CopyFrom_Grid').html(finaltablehtml);

                    if ($('#IsEOVP').val() == "V") {
                        $('#print_timetable').show();
                    }

                    if ($('#IsEOVP').val() == "E") {
                        $('#TimeTable_CopyFrom_Grid tbody tr td.teacher_subject_cell').on("click", function () {
                            var cell = $(this);
                            var row = cell.parent();
                            var Day = $('#TimeTable_CopyFrom_Grid th').eq(cell.index() - 1);
                            var SelectedDayId = Day.text();
                            var ClassId = $('#TimeTable_Classes_ddl').val();
                            var PeriodId = row.find('.clsperiod').text();
                            var ClassPeriodId = cell.find('.clsclassperiod').text();
                            var ClassPerioddetailId = cell.find('.clsclassperioddetail').text();
                            var timeTableId = $('#TimeTableId').val();
                            $('.Subject_ddl').find('option').not(':first').remove();
                            $('.Teacher_ddl').find('option').not(':first').remove();
                            // get subject list by ajax
                            BindSubjectAndTeacherOnCellClick(cell, PeriodId, ClassPeriodId, ClassPerioddetailId, ClassId, timeTableId, SelectedDayId);
                            opendialog();
                        });
                    }
                }
                else
                    $('#TimeTable_CopyFrom_Grid').html("No record found");
            }
            else {
                ToastMessage(result.msg, "error", true, 5000);
            }
        },
        error: function (xhr, status, p3) {
            var err = "Error: " + " " + p3;
            ToastMessage(err, "error", true, 5000);
        }
    });

</script>
@*<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        // Dates
        $('#Calender').kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date,
            min: "@TempData["CurrentSessionStartDate"]",
            max: "@TempData["currentsessionenddate"]",
        });

        $('#Calender').attr("readonly", true);

        $('#Calender').change(function () {
            $('#ks_loader').show();
            var timetableDate = $(this).val();

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("TeacherTimeTable", "TimeTable"))',
                data: { "timetableDate": GetDateFromString(timetableDate) },
                success: function (result) {
                    if (result.status == "success") {
                        $('#timetable_table tbody').html('');
                        var count = 0;
                        $.each(result.data, function () {
                            count++;
                            $('#timetable_table tbody').append('<tr><td>' + this.Period + '</td>' +
                                                                  '<td>' + this.Class + '</td>' +
                                                                  '<td>' + this.Subject + '</td>' +
                                                                  '<td>' + this.StudentCount + '</td>' +
                                                                  '<td class="text-center">' +
                                                                  '<a href="StudentClassList?CI=' + this.EncClassId + '&Sb=' + this.Subject + '" title="View Students" data-toggle="tooltip" data-placement="top" class="clsupdatedsd btn btn-xs btn-default"><i class="fa fa-eye"></i></a>' +
                                                                  '</td></tr>');
                        })
                        if (count == 0) {
                            $('#timetable_table tbody').append('<tr><td colspan="5"style="text-align:center">No Data Found</td></tr>');
                        }
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                        //$('#form_validations').show();
                        //$('#form_validation_div ul').html('<li>' + result.data + '</li>');
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        })

        function GetDateFromString(date) {
            //if (date == "") {
            //    return null;
            //}
            //else {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
            //}
        }
    </script>*@
