﻿@model IEnumerable<ViewModel.ViewModel.TimeTable.TeacherTimeTableModel>



@{
    ViewBag.Title = "Teacher TimeTable";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Class and Subjects</h1>
    </div>
    <div class="col-md-3 ">
        @Html.RadioButton("TimeTableSelection", "Own",true)
        @Html.Label("Own")

        &nbsp;
        @Html.RadioButton("TimeTableSelection","Class", false)
        @Html.Label("Class")
    </div>
    <div class="col-md-3 text-right">
        @Html.TextBox("Calender")
    </div>

</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("TeacherTimeTable", "TimeTable", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
        <div id="teacherclassesList_div" style="display:none">
            @Html.Label("Class")
            <select id="ClassId" class="top-space-10">
               
            </select>
            
        </div>

            <table id="timetable_table" class="table table-bordered table-responsive" style="margin-top: 5px;">
                <thead class="thead-default">
                    <tr>
                        <th>Period</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Student Count</th>
                        <th class="text-center">View Students</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Period</td>
                            <td>@item.Class</td>
                            <td>@item.Subject</td>
                            <td>@item.StudentCount</td>
                            <td class="text-center">
                                <a href="@Html.Raw(Url.Action("StudentClassList", "TimeTable", new { CI = item.EncClassId, Sb = item.Subject, IV = item.IsVirtualClass }))" title="View Students" data-toggle="tooltip" data-placement="top" class="clsupdatedsd btn btn-xs btn-default"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    function timetableselection(i, ClassId,type) {
        $('#ks_loader').show();
        var timetableDate = $('#Calender').val();
        var type = type;
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("TeacherTimeTable", "TimeTable"))',
            data: { "timetableDate": GetDateFromString(timetableDate),"type":type,"ClassId":ClassId},
            success: function (result) {
                if (result.status == "success") {
                    $('#timetable_table tbody').html('');
                    var count = 0;
                    $.each(result.data, function () {
                        count++;
                        $('#timetable_table tbody').append('<tr><td>' + this.Period + '</td>'+
                                                              '<td>' + this.Class + '</td>'+
                                                              '<td>' + this.Subject + '</td>'+
                                                              '<td>' + this.StudentCount + '</td>' +
                                                              '<td class="text-center">'+
                                                              '<a href="StudentClassList?CI=' + this.EncClassId + '&Sb=' + this.Subject + '&IV=' + this.IsVirtualClass + '" title="View Students" data-toggle="tooltip" data-placement="top" class="clsupdatedsd btn btn-xs btn-default"><i class="fa fa-eye"></i></a>' +
                                                              '</td></tr>');
                    })
                    if (count == 0) {
                        $('#timetable_table tbody').append('<tr><td colspan="5"style="text-align:center">No Data Found</td></tr>');
                    }
                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                    //$('#form_validations').show();
                    //$('#form_validation_div ul').html('<li>' + result.data + '</li>');
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

    function getteacherClasses() {
            $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetTeacherClasses", "TimeTable"))',
            data: { },
            success: function (result) {
                if (result.status == "success") {
                    $('#timetable_table tbody').html('');
                     $('#ClassId').html('');
                    var count = 0;
                    $.each(result.data, function (i) {
                        
                        $('#ClassId').append('<option value="'+result.data[i].Value+'">'+result.data[i].Text+' </option>');
                    })
                    $('#teacherclassesList_div').show();
                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                    //$('#form_validations').show();
                    //$('#form_validation_div ul').html('<li>' + result.data + '</li>');
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }
    $('#ClassId').on("change", function (i) {
        var ClassId = $('#ClassId').val();
        var type = "Class";
        timetableselection(i,ClassId,type);
    })
    //$('input:radio[id="TimeTableSelection"]').change(function () {
    //    $('#ks_loader').show();
       
    //});
    $('input:radio[name="TimeTableSelection"]').change(function (i) {
       
        var ClassId = "";
        if (i.currentTarget.value == "Class") {
            getteacherClasses();
        } else {
            $('#teacherclassesList_div').hide();
            var type=i.currentTarget.value;
            timetableselection(i, ClassId, type);
            $('#ClassId').val('')
        }
    });

    // Dates
    $('#Calender').kendoDatePicker({
        format: "dd/MM/yyyy",
        value: new Date,
        min: "@TempData["CurrentSessionStartDate"]",
        max:"@TempData["currentsessionenddate"]",
    });

    $('#Calender').attr("readonly", true);

    $('#Calender').change(function () {
        $('#ks_loader').show();
        var timetableDate = $(this).val();
          var ClassId = $('#ClassId').val();
        var type = $('input:radio[name="TimeTableSelection"]:checked').val();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("TeacherTimeTable", "TimeTable"))',
            data: { "timetableDate": GetDateFromString(timetableDate),"type":type,"ClassId":ClassId},
            success: function (result) {
                if (result.status == "success") {
                    $('#timetable_table tbody').html('');
                    var count = 0;
                    $.each(result.data, function () {
                        count++;
                        $('#timetable_table tbody').append('<tr><td>' + this.Period + '</td>'+
                                                              '<td>' + this.Class + '</td>'+
                                                              '<td>' + this.Subject + '</td>'+
                                                              '<td>' + this.StudentCount + '</td>' +
                                                              '<td class="text-center">'+
                                                              '<a href="StudentClassList?CI=' + this.EncClassId + '&Sb=' + this.Subject + '&IV=' + this.IsVirtualClass + '" title="View Students" data-toggle="tooltip" data-placement="top" class="clsupdatedsd btn btn-xs btn-default"><i class="fa fa-eye"></i></a>' +
                                                              '</td></tr>');
                    })
                    if (count == 0) {
                        $('#timetable_table tbody').append('<tr><td colspan="5"style="text-align:center">No Data Found</td></tr>');
                    }
                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                    //$('#form_validations').show();
                    //$('#form_validation_div ul').html('<li>' + result.data + '</li>');
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    function GetDateFromString(date) {
        //if (date == "") {
        //    return null;
        //}
        //else {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
        //}
    }
</script>