﻿@model ViewModel.ViewModel.TimeTable.TimeTablePeriodQuotaModel
@{
    ViewBag.Title = "TimeTablePeriodQuota";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manages Period Limit</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="javascript:void(0)" id="" class="addnew btn  btn-default btn-xs">Add New</a>
        <a href="javascript:void(0)" id="" class="cancelnew btn  btn-default btn-xs" style="display:none">Cancel</a>
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12">
        <table class="table table-bordered table-striped" id="ttperiodquotatable">
            <thead class="thead-default">
                <tr>
                    <th style="display:none"></th>
                    <th>Period Limit</th>
                    <th>Daily Limit</th>
                    <th>Weekly Limit</th>
                    <th>Teachers</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="ttperiodquotabody"></tbody>
        </table>
    </div>
</div>
<input style="display:none" id="hiddenSelectedTTPQid" />
<input style="display:none" id="hiddenSelectedTTPQidView" />
<div class="modal-popup" id="assignTeacherViewPopUp" hidden>
    <div class="modal-popup-body custom-modal-popup" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="assignTeacherViewheading modal-title"></h4>
            </div>
            <div class="modal-body assignTeacherViewbody">
                <div id="assignTeacherViewgrid">
                    <script>
                                  $(document).ready(function () {
        $("#assignTeacherViewgrid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("GetAssignedTeachingStaff", "TimeTable"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDataView
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                      //  serverSorting: true
                    },
                    autoBind: false,
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
            columns: [{
                field: "EncStaffId",
                hidden: true
            },{
                field: "StaffName",
                    title: "Name",
                   attributes :{"style":"text-align: left"},
                sortable: true,
            },{
                field: "DepartMent",
                    title: "Department",
                attributes :{"style":"text-align: left"},
                sortable: true,
            },{
                field: "DesigNation",
                    title: "Designation",
                attributes :{"style":"text-align: left"},
                sortable: true,
            }
            ]
    });
    });
     function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    function additionalDataView() {
        var data = {
            TimeTablePeriodQuotaId:   $("#hiddenSelectedTTPQidView").val(),
        };
        return data;
                        }
                         addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " id="close_assignTeacherView">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-popup" id="assignTeacherPopUp" hidden>
    <div class="modal-popup-body custom-modal-popup">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-6">
                    <h4 class="modal-title assignTeacherheading"></h4>
                </div>
                <div class="col-md-6">
                    <button type="button" id="" class="close_assignTeacher close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div></div>
            <div class="modal-body assignTeacherbody">
                <div class="filterteacher">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" style="margin-right: 90px;">Name </label>
                            <input name="Name" id="filterStaffName" style="height:28px!important;border-radius:0px!important" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" style="margin-right: 59px;">Department</label>
                            @Html.DropDownList("filterDepartment", Model.DepartmentList, new { @class = "form-control ", style = "height:28px!important;border-radius:0px!important" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" style="margin-right: 60px;">Designation</label>
                            @Html.DropDownList("filterDesignation", Model.DesignationList, new { @class = "form-control ", style = "height:28px!important;border-radius:0px!important" })
                        </div>

                        <div class="col-md-12" style="margin-top:8px">
                            <button class="btn btn-success" style="float:right" id="filterTeacherGrid">Filter</button>
                            <button class="btn btn-default" style="float:right" id="cancelTeacherGrid">Reset</button>
                        </div>
                    </div>
                </div>
                    <div id="assignTeachergrid" style="margin-top:8px" >
                    </div>
              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" style="display:none" id="saveassignTeacher">
                        Save
                    </button>
                    <button type="button" class="close_assignTeacher btn btn-default " id="">
                        Close
                    </button>
                </div>
            </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#assignTeachergrid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("GetTeachingStaff", "TimeTable"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalData
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                       // serverSorting: true
                    },
                    autoBind: false,
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
            columns: [{
                field: "EncStaffId",
                hidden: true
            },{
                   field: "EncStaffId",
                    title: "<input  type='checkbox' disabled class='allStaffChecked'/>",
                  sortable: false,
                    template: '#if(IsChecked){#<input  type="checkbox" data-id="#=EncStaffId#" class="isStaffChecked" checked/>#}' +
                     'else if(IsDisable){#<input  title="#=DisableError#" type="checkbox" disabled data-id="#=EncStaffId#" class="isStaffChecked"/>#}' +
                'else {#<input type="checkbox" data-id="#=EncStaffId#" class="isStaffChecked"/>#}#'
            },{
                field: "StaffName",
                title: "Name",
                sortable: true,
                attributes :{ "class":"clsstaffname","style":"text-align: left"},
            },{
                field: "EmpCode",
                title: "EmpCode",
                sortable: true,
                attributes :{ "class":"clsEmpCode","style":"text-align: left"},
            },{
                field: "DepartMent",
                title: "Department",
                sortable: true,
                attributes :{ "class":"clsdepartment","style":"text-align: left"},
            },{
                field: "DesigNation",
                title: "Designation",
                sortable: true,
                attributes :{ "class":"clsdesignation","style":"text-align: left"},
            }
            ]
    });
    });
     function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    

    function additionalData() {
        var data = {
            TimeTablePeriodQuotaId: $("#hiddenSelectedTTPQid").val(),
            filterDesignation:$("#filterDesignation").val(),
            filterDepartment:$("#filterDepartment").val(),
            filterStaffName:$("#filterStaffName").val(),
        };
        return data;
    }

     addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    $(".close_assignTeacher").click(function () {
         clear();
        emptyarray();
        TimeTablePeriodQuota();
        $("#assignTeacherPopUp").hide();
       });

    var CheckedStaff = new Array();
    var UnCheckedStaff = new Array();

    function emptyarray() {
        CheckedStaff.length = 0;
        UnCheckedStaff.length = 0;
    }

    $("#saveassignTeacher").click(function () {
        var TimeTablePQId = $("#hiddenSelectedTTPQid").val();

        //var CheckedstaffId = "";
        //var UnCheckedstaffId = "";
        //if ($(".isStaffChecked").length == 0) {
        //     ToastMessage("Please Select atleast One Staff.", "error", true, 5000);
        //    return false;
        //}
        //$(".isStaffChecked").each(function () {
        //    if ($(this).prop("checked") == true) {
        //         if (CheckedstaffId == "")
        //            CheckedstaffId += $(this).attr("data-id");
        //        else
        //            CheckedstaffId += "," + $(this).attr("data-id");

        //    } else {
        //        if (UnCheckedstaffId == "")
        //            UnCheckedstaffId += $(this).attr("data-id");
        //        else
        //          UnCheckedstaffId +="," +  $(this).attr("data-id");
        //    }
        //})

        if (CheckedStaff.length == 0 && UnCheckedStaff.length==0) {
            ToastMessage("Please Select atleast One Teacher.", "error", true, 5000);
            return false;
        }

        if (TimeTablePQId != "" && TimeTablePQId != null) {

        $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("SaveUpdatePQDetail", "TimeTable"))',
                data: {"CheckedstaffId":CheckedStaff,"UnCheckedstaffId":UnCheckedStaff,"TimeTablePQId":TimeTablePQId },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.data, "success", true, 5000);
                        $("#assignTeacherPopUp").hide();
                        $('#ks_loader').hide();
                        emptyarray();
                        TimeTablePeriodQuota();
                    } else {
                         ToastMessage(result.data, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
         });
        } else {
            ToastMessage("Invalid ", "error", true, 5000);
            return false;
        }
    })

    $("#close_assignTeacherView").click(function () {
    $("#assignTeacherViewPopUp").hide();
    })

    

     $("#filterTeacherGrid").click(function () {
             var grid = $('#assignTeachergrid').data('kendoGrid');
             grid.dataSource.page(1);
     })

     $("#cancelTeacherGrid").click(function () {
         clear();
             var grid = $('#assignTeachergrid').data('kendoGrid');
             grid.dataSource.page(1);
    })

    function clear() {
            $("#filterDesignation").val("");
            $("#filterDepartment").val("");
            $("#filterStaffName").val("");
    }

    //var CheckedIds = "";
    //var UnCheckedIds = "";

</script>

<script>

    TimeTablePeriodQuota();

    function TimeTablePeriodQuota() {
        $(".addnew").show();
        $(".cancelnew").hide();
        
        $(".ttperiodquotabody").html("");
          $('#ks_loader').show();
        $.ajax({
            type: "Get",
            url: "@Html.Raw(Url.Action("GetTTPeriodQuotaList", "TimeTable"))",
            data: jQuery.param({/* "EncUserId": EncUserId*/}),
        success: function (result) {
            if (result.status == "success") {
                var tablehtml = "";
                if (result.data.length > 0) {
                      $('#ks_loader').hide();
                    $.each(result.data, function (value, data) {
                        tablehtml += '<tr>'
                        tablehtml += '<td style="display:none" class="ttpqid">' + data.TimeTablePeriodQuotaId + '</td>'
                        tablehtml += '<td class="clsttPeriodQuota">' + data.TimeTablePeriodQuota + '</td>'
                        tablehtml += '<td class="clsdailyPeriodQuota">' + data.DailyPeriodQuota + '</td>'
                        tablehtml += '<td class="clsweeklyPeriodQuota">' + data.WeeklyPeriodQuota + '</td>'
                        if (data.AssignTeachersCount != "" && data.AssignTeachersCount > 0 && data.AssignTeachersCount != null) {
                            tablehtml += '<td class="clsAssignTeachersCount"><a title="View Assigned Teachers" data-daily="'+data.DailyPeriodQuota+'" data-weekly="'+data.WeeklyPeriodQuota+'" data-nm="'+data.TimeTablePeriodQuota+'"  data-id="' + data.TimeTablePeriodQuotaId + '" data-toggle="tooltip" data-placement="top" class="viewassignteacher btn btn-xs btn-default">'+data.AssignTeachersCount+'</a></td>'
                        } else {
                            tablehtml += '<td class="clsAssignTeachersCount"></td>'
                        }
                        tablehtml += '<td><a title="Assign Teacher" data-nm="'+data.TimeTablePeriodQuota+'"  data-id="' + data.TimeTablePeriodQuotaId + '" data-toggle="tooltip" data-placement="top" class="assignteacher btn btn-xs btn-default"><i class="fa fa-user"></i></a>'
                             tablehtml += '<a title="Edit" data-toggle="tooltip" data-placement="top" class="editnew btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>'

                        if (data.IsDeleted == true) {
                            tablehtml += '<a title="Delete" data-id="' + data.TimeTablePeriodQuotaId + '" data-toggle="tooltip" data-placement="top" class="deleterecord btn btn-xs btn-default"><i class="fa fa-trash"></i></a>'
                          }
                         tablehtml += '</td>';
                         tablehtml += '</tr>';
                    })
                }
                ////row for Add New
                //        tablehtml += '<tr .addnewtr>'
                //        tablehtml += '<td ></td>'
                //        tablehtml += '<td></td>'
                //        tablehtml += '<td></td>'
                //        tablehtml += '<td><a  class="addnew btn btn-xs btn-success">Add New</a></td>'
                //        tablehtml += '</tr>'
                 $(".ttperiodquotabody").append(tablehtml);
            }
            else {
                $('#ks_loader').hide();
                ToastMessage(result.mes, "error", true, 5000);
                return false;
            }
        },
        error: function () {
            alert("Error");
            $('#ks_loader').hide();
        }
    });
    };

    $(document).on("click", ".addnew", function () {
        //var row = $(this).parent().parent();
        // row.html("");
        var newrow = "<tr class='addtr'>";
        newrow += "<td><input id='ttPeriodQuota'/></td>"
        newrow += "<td><input id='dailyPeriodQuota'/></td>"
        newrow += "<td><input id='weeklyPeriodQuota'/></td>"
        newrow += "<td></td>"
        newrow += "<td><a title='Save'  class='savenew btn btn-xs btn-default'><i class='fa fa-save'></i></a>"
        newrow += "<a title='Cancel' class='cancelnew btn btn-xs btn-default'><i class='fa fa-ban'></i></a></td>"
        // row.append(newrow);
        $(".ttperiodquotabody").append(newrow);
        $(".editnew").attr('disabled', true);
        $(".addnew").hide();
        $(".cancelnew").show();
        $("#ttPeriodQuota").focus();
    });

    $(document).on("click", ".cancelnew", function () {
        //var row = $(this).parent().parent();
        //row.html("");
        //var newrow = "";
        //newrow += '<td style="display:none"></td>'
        //newrow += '<td ></td>'
        //newrow += '<td></td>'
        //newrow += '<td></td>'
        //newrow += '<td><a  class="addnew btn btn-xs btn-success">Add New</a></td>'
        //row.append(newrow);
        $(".ttperiodquotabody").find('.addtr').remove();
        $(".addnew").show();
         $(".cancelnew").hide();
        $(".editnew").removeAttr('disabled');
    });

    $(document).on("click", ".editnew", function () {
        if ($(this).attr("disabled")) {
            return false;
        }
        $(".editnew").attr('disabled', true);
         $(".addnew").hide();

        var row = $(this).parent().parent();
        var TimeTablePeriodQuotaId = row.find('.ttpqid').html();
        var TimeTablePeriodQuota = row.find('.clsttPeriodQuota').html();
        var DailyPeriodQuota = row.find('.clsdailyPeriodQuota').html();
        var WeeklyPeriodQuota = row.find('.clsweeklyPeriodQuota').html();
        var TecherCount=row.find('.clsAssignTeachersCount').html();
        row.html("");
        var newrow = "";
        newrow += "<td style='display:none'><input id='updttPeriodQuotaid'/></td>"
        newrow += "<td><input id='updttPeriodQuota'/></td>"
        newrow += "<td><input id='upddailyPeriodQuota'/></td>"
        newrow += "<td><input id='updweeklyPeriodQuota'/></td>"
        if (TecherCount != "" && TecherCount != null && parseInt(TecherCount) > 0) {
            '<td class="clsAssignTeachersCount"><a title="View Assigned Teachers" data-daily="'+DailyPeriodQuota+'" data-weekly="'+WeeklyPeriodQuota+'"   data-nm="'+TimeTablePeriodQuota+'" data-id="' + TimeTablePeriodQuotaId + '" data-toggle="tooltip" data-placement="top" class="viewassignteacher btn btn-xs btn-default">'+TecherCount+'</a></td>'
        }
        newrow += "<td>"+TecherCount+"</td>"
        newrow += "<td><a title='Update' class='updrecord btn btn-xs btn-default'><i class='fa fa-save'></i></a>"
        newrow += "<a title='Cancel' class='cancelupd btn btn-xs btn-default'><i class='fa fa-ban'></i></a></td>"
        row.append(newrow);
        $("#updttPeriodQuotaid").val(TimeTablePeriodQuotaId);
        $("#updttPeriodQuota").val(TimeTablePeriodQuota);
        $("#upddailyPeriodQuota").val(DailyPeriodQuota);
        $("#updweeklyPeriodQuota").val(WeeklyPeriodQuota);
    });

    $(document).on("click", ".cancelupd", function () {
        TimeTablePeriodQuota();
       // var row = $(this).parent().parent();
       // var TimeTablePeriodQuotaId=  row.find("#updttPeriodQuotaid").val(TimeTablePeriodQuotaId);
       // var TimeTablePeriodQuota=   row.find("#updttPeriodQuota").val(TimeTablePeriodQuota);
       // var DailyPeriodQuota=   row.find("#upddailyPeriodQuota").val(DailyPeriodQuota);
       // var WeeklyPeriodQuota=   row.find("#updweeklyPeriodQuota").val(WeeklyPeriodQuota);
       // row.html("");
       // var newrow = "";
       //tablehtml += '<td style="display:none" class="ttpqid">' + TimeTablePeriodQuotaId + '</td>'
       //             tablehtml += '<td class="clsttPeriodQuota">' + TimeTablePeriodQuota + '</td>'
       //             tablehtml += '<td class="clsdailyPeriodQuota">' + DailyPeriodQuota + '</td>'
       //             tablehtml += '<td class="clsweeklyPeriodQuota">' + WeeklyPeriodQuota + '</td>'
       //             tablehtml += '<td><a title="Assign Teacher" data-toggle="tooltip" data-placement="top" class="assignteacher btn btn-xs btn-default"><i class="fa fa-user"></i></a></td>'
       //             tablehtml += '<td><a title="Edit" data-toggle="tooltip" data-placement="top" class="editnew btn btn-xs btn-default"><i class="fa fa-pencil"></i></a></td>'
       // row.append(newrow);
    });

    $(document).on("click", ".savenew", function () {
        var row = $(this).parent().parent();
        var TTPQ = row.find('#ttPeriodQuota').val();
        var DailyPQ = row.find('#dailyPeriodQuota').val();
        var WeeklyPQ = row.find('#weeklyPeriodQuota').val();
        if (TTPQ == "" || TTPQ == null || TTPQ == "undefined") {
            ToastMessage("PeriodLimit must not be empty", "error", true, 5000);
            return false;
        }
        if (DailyPQ == "" || DailyPQ == null || DailyPQ == "undefined" ||DailyPQ==0) {
            ToastMessage("DailyPeriodLimit must not be empty", "error", true, 5000);
            return false;
        }
        if (WeeklyPQ == "" || WeeklyPQ == null || WeeklyPQ == "undefined" || WeeklyPQ==0) {
            ToastMessage("WeeklyPeriodLimit must not be empty", "error", true, 5000);
            return false;
        }
        if (parseInt(DailyPQ) > parseInt(WeeklyPQ)) {
            ToastMessage("WeeklyPeriodLimit Should Be Greater or Equal as DailyPeriodLimit", "error", true, 5000);
            return false;
        }
        if (parseInt(WeeklyPQ) > parseInt(DailyPQ) *6) {
            ToastMessage("WeeklyPeriodLimit must be " + parseInt(DailyPQ) *6 +" or Less", "error", true, 5000);
            return false;
        }

        var TimeTablePeriodQuotaModel = new Object();
        TimeTablePeriodQuotaModel.TimeTablePeriodQuota = TTPQ;
        TimeTablePeriodQuotaModel.DailyPeriodQuota = DailyPQ;
        TimeTablePeriodQuotaModel.WeeklyPeriodQuota = WeeklyPQ;
        $('#ks_loader').show();
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("SaveUpdateTablePeriodQuota", "TimeTable"))',
            data: TimeTablePeriodQuotaModel,
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.data, "success", true, 5000);
                    $('#ks_loader').hide();
                    TimeTablePeriodQuota();
                } else {
                     ToastMessage(result.data, "error", true, 5000);
                    $('#ks_loader').hide();
                }


            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    $(document).on("click", ".updrecord", function () {
        var row = $(this).parent().parent();
        var TTPQid = row.find('#updttPeriodQuotaid').val();
        var TTPQ = row.find('#updttPeriodQuota').val();
        var DailyPQ = row.find('#upddailyPeriodQuota').val();
        var WeeklyPQ = row.find('#updweeklyPeriodQuota').val();
        if (TTPQid == "" || TTPQid == null || TTPQid == "undefined") {
            ToastMessage("Invalid Period Limit", "error", true, 5000);
            return false;
        }
        if (TTPQ == "" || TTPQ == null || TTPQ == "undefined") {
            ToastMessage("PeriodLimit must not be empty", "error", true, 5000);
            return false;
        }
        if (DailyPQ == "" || DailyPQ == null || DailyPQ == "undefined"||DailyPQ=="0") {
            ToastMessage("DailyPeriodLimit must not be empty", "error", true, 5000);
            return false;
        }
        if (WeeklyPQ == "" || WeeklyPQ == null || WeeklyPQ == "undefined"||WeeklyPQ=="0") {
            ToastMessage("WeeklyPeriodLimit must not be empty", "error", true, 5000);
            return false;
        }
        if (parseInt(DailyPQ) > parseInt(WeeklyPQ)) {
            ToastMessage("WeeklyPeriodLimit Should Be Greater or Equal as DailyPeriodLimit", "error", true, 5000);
            return false;
        }
        if (parseInt(WeeklyPQ) > parseInt(DailyPQ) *6) {
            ToastMessage("WeeklyPeriodLimit must be " + parseInt(DailyPQ) *6 +" or Less", "error", true, 5000);
            return false;
        }
        var TimeTablePeriodQuotaModel = new Object();
        TimeTablePeriodQuotaModel.TimeTablePeriodQuotaId = TTPQid;
        TimeTablePeriodQuotaModel.TimeTablePeriodQuota = TTPQ;
        TimeTablePeriodQuotaModel.DailyPeriodQuota = DailyPQ;
        TimeTablePeriodQuotaModel.WeeklyPeriodQuota = WeeklyPQ;
        $('#ks_loader').show();
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("SaveUpdateTablePeriodQuota", "TimeTable"))',
            data: TimeTablePeriodQuotaModel,
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.data, "success", true, 5000);
                    TimeTablePeriodQuota();
                    $('#ks_loader').hide();
                } else {
                     ToastMessage(result.data, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    $(document).on("click", ".deleterecord", function () {

        var id = $(this).attr("data-id");
        if (id != "" && id != null) {

            if (window.confirm("Are you sure you want to delete?")) {
                 $('#ks_loader').show();
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("DeleteTablePeriodQuota", "TimeTable"))',
                    data: { "id": id },
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.data, "success", true, 5000);
                            TimeTablePeriodQuota();
                            $('#ks_loader').hide();
                        } else {
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        } else {
              ToastMessage("Invalid Period Limit", "error", true, 5000);
                $('#ks_loader').hide();
        }
    })

    $(document).on("click", ".assignteacher", function () {
        $("#hiddenSelectedTTPQid").val("");
         emptyarray();
        clear();
        var TTPQid = $(this).attr("data-id");
            var TTPQname = $(this).attr("data-nm");
         $(".assignTeacherheading").html("");
         if (TTPQid != "" && TTPQid != null && TTPQid != "undefined") {
             $("#hiddenSelectedTTPQid").val(TTPQid);
             $(".assignTeacherheading").html("Period Limit : " + TTPQname);
               $("#assignTeacherPopUp").show();

             var grid = $('#assignTeachergrid').data('kendoGrid');
             grid.dataSource.page(1);

         }else {
              ToastMessage("Invalid Period Limit", "error", true, 5000);
                $('#ks_loader').hide();
        }
    })

     $(document).on('keydown','#upddailyPeriodQuota',function (e) {
            NumericOnly(e);
     })
     $(document).on('keydown','#updweeklyPeriodQuota',function (e) {
            NumericOnly(e);
     })
     $(document).on('keydown','#dailyPeriodQuota',function (e) {
            NumericOnly(e);
     })
     $(document).on('keydown','#weeklyPeriodQuota',function (e) {
            NumericOnly(e);
     })


     $(document).on("click", ".viewassignteacher", function () {
         var TTPQid = $(this).attr("data-id");
         var TTPQname = $(this).attr("data-nm");
        var daily = $(this).attr("data-daily");
         var weekly = $(this).attr("data-weekly");
         $(".assignTeacherViewheading").html("");
         if (TTPQid != "" && TTPQid != null && TTPQid != "undefined") {
             $("#hiddenSelectedTTPQidView").val(TTPQid);
             $(".assignTeacherViewheading").html("Teacher List With Daily "+daily+" and Weekly "+weekly+" Period Limit");
             $("#assignTeacherViewPopUp").show();
            var grid = $('#assignTeacherViewgrid').data('kendoGrid');
             grid.dataSource.page(1);

         }else {
              ToastMessage("Invalid Period Limit", "error", true, 5000);
                $('#ks_loader').hide();
        }
     })

  
    $(document).on("click", ".isStaffChecked", function () {
        var selectedstaffid = $(this).attr("data-id");
         var TimeTablePQId = $("#hiddenSelectedTTPQid").val();
         if ($(this).prop("checked") == true) {

                   
                    if (TimeTablePQId != "" && TimeTablePQId != null) {

                    $('#ks_loader').show();
                        $.ajax({
                            type: "Post",
                            url: '@Html.Raw(Url.Action("SaveUpdatePQDetail", "TimeTable"))',
                            data: {"CheckedstaffId":selectedstaffid,"TimeTablePQId":TimeTablePQId },
                            success: function (result) {
                                if (result.status == "success") {
                                    ToastMessage(result.data, "success", true, 5000);
                                  //  $("#assignTeacherPopUp").hide();
                                    $('#ks_loader').hide();
                                  //  emptyarray();
                                   // TimeTablePeriodQuota();
                                } else {
                                     ToastMessage(result.data, "error", true, 5000);
                                    $('#ks_loader').hide();
                                }
                        },
                        error: function () {
                            ToastMessage("error", "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                     });
                    } else {
                        ToastMessage("Invalid ", "error", true, 5000);
                        return false;
                    }

         } else {
                 if (TimeTablePQId != "" && TimeTablePQId != null) {

        $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("SaveUpdatePQDetail", "TimeTable"))',
                data: {"UnCheckedstaffId":selectedstaffid,"TimeTablePQId":TimeTablePQId },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.data, "success", true, 5000);
                      //  $("#assignTeacherPopUp").hide();
                        $('#ks_loader').hide();
                     
                    //    TimeTablePeriodQuota();
                    } else {
                         ToastMessage(result.data, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
         });
        } else {
            ToastMessage("Invalid ", "error", true, 5000);
            return false;
        }


         }         








        //var selectedstaffid= $(this).attr("data-id");
        // if ($(this).prop("checked") == true) {
        //     CheckedStaff.push(selectedstaffid);
        //     if (UnCheckedStaff.indexOf(selectedstaffid) != -1) {
        //         $.each(UnCheckedStaff, function( index, value) {
        //              if (value  == selectedstaffid ) UnCheckedStaff.splice(index, 1);
        //            });
        //     }
        // } else {
        //     UnCheckedStaff.push(selectedstaffid);  
        //      if (CheckedStaff.indexOf(selectedstaffid) != -1) {
        //           $.each(CheckedStaff, function( index, value) {
        //              if (value  == selectedstaffid ) CheckedStaff.splice(index, 1);
        //            });
        //     }
        // }
     })
</script>

