﻿@model ViewModel.ViewModel.TimeTable.TimeTableModel

@{
    ViewBag.Title = "Manage Time Table";
   
}
<style>
    .dropdown-menu > li > a:hover {
        color: #262626;
        text-decoration: none;
        background-color: #ccc;
    }
    
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-4">
        <h1 id="timetableheading">Manage Time Table</h1>
    </div>
    <div class="col-md-8 text-right">
        @if (Model.IsAuthToExportToExcel)
        {
            <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)" style="display: none" id="DownloadExcel_timetable" class="dropdown-toggle btn btn-xs btn-default">Export to Excel</a>
            <ul class="dropdown-menu custom-drop-down-child" id="dropdown-menu_ExcportExcel" style="margin:0px!important;margin-left:385px!important" hidden>
                <li><a style="color: #333;border-color: #adadad;" id="selected_teachers" href="#">Selected Teachers</a></li>
                <li><a style="color: #333;border-color: #adadad;" id="AllTeachers_ExportExcel" href="#">All Teachers</a></li>
            </ul>
        }
        @if (Model.IsAuthToDownloadPdf)
        {
            <a href="javascript:void(0)" style="display: none" id="DownloadPdf_timetable" class="btn btn-xs btn-default">Download PDF</a>
        }
        @if (Model.IsAuthToPrint)
        {
            <a href="javascript:void(0)" style="display: none" id="print_timetable" class="btn btn-xs btn-default">Print</a>
        }
        @if (Model.IsAdmin)
        {
            <a href="javascript:void(0)" id="" class="btn btn-xs btn-default addnew">AddNew</a>
            <a href="javascript:void(0)" id="" class="btn btn-xs btn-default filterhd">Filter</a>
            <a href="javascript:void(0);" title="Set Default Values" id="btnSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 8px;" class="pull-right"><i class="fa fa-gear"></i></a>
        }
        <a href="javascript:void(0)" id="back_to_timetable" class="btn btn-xs btn-default">back</a>
    </div>
</div>
@using (Html.BeginForm("CreatePdforExcel", "TimeTable", Model, FormMethod.Post, new { @class = "form-horizontal ks-custom-form", @id = "myForm" }))
{
    <input type="submit" style="display: none" id="pdfdownloadhidden" class="btn btn-xs btn-default" />
    @Html.HiddenFor(m => m.HTMLString)
    @Html.HiddenFor(m => m.IsExcel)
    @Html.HiddenFor(m => m.PrintOnSamePage)
    @* @Html.HiddenFor(m=>m.ClassIds)
        @Html.HiddenFor(m => m.PeriodIdList)
        @Html.HiddenFor(m => m.DayIds)
         @Html.HiddenFor(m => m.TimetableIdPrint)*@

}

<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("TimeTableCreation", "TimeTable", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_timetableCreateOrUpdate", Model)
        }
    </div>
</div>
<script>
     
</script>
