﻿@model ViewModel.ViewModel.Reporting.StandardReportModel

<!-- Row -->
<div class="row top-space-10">
    @Html.HiddenFor(model => model.RptMasterId)
    @Html.HiddenFor(model => model.RptColArray)
    @Html.HiddenFor(model => model.RptFltrArray)
    @Html.HiddenFor(model => model.StandardReportLayout.ReportLayoutId)
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Report Name</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.RptMasterName, new { @class = "form-control", @autocomplete = "off", @maxlength = "25", @autofocus = "on" })
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.RptMasterName)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">Stored Procedure</label><!-- Form Label -->
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.RptStoredProcedureName, new { @class = "form-control", @autocomplete = "off", @maxlength = "25" })
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.RptStoredProcedureName)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
</div>
<!-- Row -->
<!-- Row -->
<!-- Layout -->
<div class="row page-heading">
    <div class="col-md-12">
        <h2>Standard Report Layout</h2>
    </div>
</div>
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <ul>
            <li>
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.StandardReportLayout.IsPageTotal)
                    IsPage Total
                </label>
            </li>
            <li>
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.StandardReportLayout.IsTotalOpening)
                    IsTotal Opening
                </label>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.StandardReportLayout.IsPageNo)
                    IsPage No
                </label>
            </li>
            <li>
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.StandardReportLayout.IsOrgName)
                    IsOrg Name
                </label>
            </li>
        </ul>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <ul>
            <li>
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.StandardReportLayout.IsOrgAddress)
                    IsOrg Address
                </label>
            </li>
            <li>
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.StandardReportLayout.IsOrgLogo)
                    IsOrg Logo
                </label>
            </li>
        </ul>
    </div>
    <!-- Form Coulmn -->
</div>
<!-- Row -->
<!-- Row -->
<div class="row top-space-10">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Page Position</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.StandardReportLayout.PageNoPostionId, Model.StandardReportLayout.AvailablePositionTypes, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
</div>

<!-- Layout -->
<!-- Cols -->
@if (Model.RptMasterId > 0)
{
    <div class="row page-heading">
        <div class="col-md-12">
            <h2>Standard Report Filters</h2>
        </div>
    </div>

    <div class="row top-space-10">
        <table id="filter_Grid" class="table table-condensed table-striped">
            <thead class="thead-default">
                <tr>
                    <th class="">Filter Name</th>
                    <th class="">Filter Label</th>
                    <th class="">Filter Index</th>
                    <th class="text-center">Is Filter</th>
                    <th class="">Filter Type</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.StandardReportParametersList.Count > 0)
                    {
                        var count = 0;
                        foreach (var item in Model.StandardReportParametersList)
                        {
                            <tr>
                                <td class="clsrptscid" style="display: none">@item.RptStandardColId</td>
                                <td class="clsfiltername" style="width: 90px">@item.FilterName</td>
                                <td style="width: 95px"><input type="text" value="@item.FilterLabel" class="form-control clsfilterlabel"></td>
                                <td style="width: 45px"><input type="text" value="@item.FilterIndex" class="form-control clsfilterindex" maxlength="2"></td>
                                <td style="width: 45px" class="text-center">
                                    @if (item.IsFilter)
                                    {
                                         <input type="checkbox" value="@item.IsFilter" checked class="clsisfilter">
                                    }
                                    else
                                    { 
                                        <input type="checkbox" value="@item.IsFilter" class="clsisfilter">
                                    }
                                </td>
                                <td style="width: 89px">
                                    @if (item.IsFilter)
                                    {
                                        @Html.DropDownList("StandardReportColsList[" + count + "].FilerControlTypeId", item.AvailableFilerControlType, new { @class = "form-control clsfiltercontroltype" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("StandardReportColsList[" + count + "].FilerControlTypeId", item.AvailableFilerControlType, new { @class = "form-control clsfiltercontroltype", @disabled = "disabled" })
                                    }
                                </td>
                            </tr>
                                count++;
                        }
                    }
                    else
                    {
                        <tr>

                            <td colspan="5" class="text-center">
                                No data found
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="row page-heading">
        <div class="col-md-12">
            <h2>Standard Report Grid Columns</h2>
        </div>
    </div>
    
    <div class="row top-space-10">
        <table id="column_grid" class="table table-condensed table-striped">
            <thead class="thead-default">
                <tr>
                    <th class="">Col Name</th>
                    <th class="">Col Label</th>
                    <th class="">Table</th>
                    <th class="">Table Col</th>
                    <th class="text-center">Col Index</th>
                    <th class="text-center">Col Width</th>
                    <th class="text-center">Is Visible</th>
                    <th class="text-center">Is Sorted</th>
                    <th class="text-center">Sorting Method</th>
                    <th class="text-center">Sorting Index</th>
                    <th class="text-center">Is Group</th>
                    <th class="text-center">Group Index</th>
                    <th class="text-center">Is Sum</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.StandardReportColsList.Count > 0)
                    {
                        var count = 0;
                        foreach (var item in Model.StandardReportColsList)
                        {
                            <tr>
                                <td class="clsrptscid" style="display: none">@item.RptStandardColId</td>
                                <td class="clscolname" style="width: 90px">@item.ColName</td>
                                <td style="width: 95px"><input type="text" value="@item.ColLabel" class="form-control clscollabel"></td>
                                <td style="width: 110px">
                                    @Html.DropDownList("StandardReportColsList[" + count + "].TableName", item.AvailableTables, new { @class = "form-control clstablename" })
                                </td>
                                <td style="width: 110px">
                                    @Html.DropDownList("StandardReportColsList[" + count + "].ColumnName", item.AvailableTableCols, new { @class = "form-control clstablecolname" })
                                </td>
                                <td style="width: 45px"><input type="text" value="@item.ColIndex" class="form-control clscolindex" maxlength="2"></td>
                                <td style="width: 50px"><input type="text" value="@item.ColWidth" class="form-control clscolwidth" maxlength="3"></td>
                                <td style="width: 54px" class="text-center">
                                    @if (item.IsVisible)
                                    {
                                        <input type="checkbox" value="@item.IsVisible" checked class="clsisvisible">
                                    }
                                    else
                                    {
                                         <input type="checkbox" value="@item.IsVisible" class="clsisvisible">
                                    }
                                </td>
                                <td style="width: 53px" class="text-center">
                                    @if (item.IsSorted)
                                    {
                                        <input type="checkbox" value="@item.IsSorted" checked class="clsissorted">
                                    }
                                    else
                                    {
                                        <input type="checkbox" value="@item.IsSorted" class="clsissorted">
                                    }
                                </td>
                                <td style="width: 88px">
                                    @if (item.IsSorted)
                                    {
                                       @Html.DropDownList("StandardReportColsList[" + count + "].SortingMethod", item.AvailableSortingMethod, new { @class = "form-control clssortingmethodtype" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("StandardReportColsList[" + count + "].SortingMethod", item.AvailableSortingMethod, new { @class = "form-control clssortingmethodtype", @disabled = "disabled" })
                                    }
                                </td>
                                <td style="width: 56px">
                                    @if (item.IsSorted)
                                    {
                                        <input type="text" value="@item.SortingIndex" class="form-control clssortingindex" maxlength="1">
                                    }
                                    else
                                    {
                                        <input type="text" value="@item.SortingIndex" disabled class="form-control clssortingindex" maxlength="1">
                                    }
                                </td>
                                @if (item.IsGroup)
                                {
                                     <td style="width: 50px" class="text-center">
                                        <input type="checkbox" value="@item.IsGroup" checked class="clsisgroup">
                                    </td>
                                    <td style="width: 50px">
                                        <input type="text" value="@item.GroupIndex" class="form-control clsgroupindex" maxlength="1">
                                    </td>
                                    <td style="width: 39px" class="text-center">
                                        @if (item.IsGroup)
                                        {
                                            <input type="checkbox" checked value="@item.IsSum" class="clsissum">
                                        }
                                        else
                                        { 
                                            <input type="checkbox" value="@item.IsSum" class="clsissum">
                                        }
                                    </td>
                                }
                                else
                                { 
                                    <td style="width: 50px" class="text-center">
                                        <input type="checkbox" value="@item.IsGroup" class="clsisgroup">
                                    </td>
                                    <td style="width: 50px">
                                        <input type="text" value="@item.GroupIndex" disabled class="form-control clsgroupindex" maxlength="1">
                                    </td>
                                    <td style="width: 39px" class="text-center">
                                        <input type="checkbox" disabled value="@item.IsSum" class="clsissum">
                                    </td>
                                }
                            </tr>
                            count++;
                        }
                    }
                    else
                    {
                        <tr>

                            <td colspan="11" class="text-center">
                                No data found
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
<!-- Cols -->

<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" name="submit" value="Save" id="submit_btn" class="btn btn-success" />
        </div>
    </div>
    <!-- Form Coulmn -->
</div>
<!-- Row -->

<script>

    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    // check on page load
    if ($('#StandardReportLayout_IsPageNo').prop("checked") == true)
        $('#StandardReportLayout_PageNoPostionId').removeAttr("disabled");
    else
        $('#StandardReportLayout_PageNoPostionId').attr("disabled", true);

    // on check box click
    $('#StandardReportLayout_IsPageNo').click(function () {
        if ($(this).prop("checked") == true)
            $('#StandardReportLayout_PageNoPostionId').removeAttr("disabled");
        else
            $('#StandardReportLayout_PageNoPostionId').attr("disabled", true);
    });

    $(".clscolindex,.clscolwidth,.clssortingindex,.clsgroupindex,.clsfilterindex").keydown(function (e) {
        NumericOnly(e);
    });

    
    @* Filter index unique*@
    $('.clsfilterindex').on("input", function () {
        var input = $(this);
        var inputcolindex = input.val();

        if (inputcolindex != "") {
            var cell = $(this).parent();
            var row = $(this).parent().parent();
            var rowindex = row.index();

            $('.clsfilterindex').each(function () {
                var innerinput = $(this);
                var innercell = $(this).parent();
                var innerrow = $(this).parent().parent();
                var innerrowindex = innerrow.index();
                var innerinputcolindex = innerinput.val();
                if (innerrowindex != rowindex) {
                    if (innerinput.val() != "") {
                        if (innerinputcolindex == inputcolindex) {
                            input.css("border", "2px solid red");
                            return false
                        }
                        else {
                            input.css("border", "");
                            return true;
                        }
                    }
                }
            });
        }
    });

    $('.clsfilterindex').on("blur", function () {
        var input = $(this);
        var inputcolindex = input.val().trim();

        if (inputcolindex != "") {
            var cell = $(this).parent();
            var row = $(this).parent().parent();
            var rowindex = row.index();

            $('.clsfilterindex').each(function () {
                var innerinput = $(this);
                var innercell = $(this).parent();
                var innerrow = $(this).parent().parent();
                var innerrowindex = innerrow.index();
                var innerinputcolindex = innerinput.val().trim();
                if (innerrowindex != rowindex) {
                    if (innerinputcolindex != "") {
                        if (innerinputcolindex == inputcolindex) {
                            input.css("border", "2px solid red");
                            return false;
                        }
                        else {
                            input.css("border", "");
                            return true;
                        }
                    }
                }
            });
        }
        else
            input.css("border", "");
    });

    @*col index unique*@
    $('.clscolindex').on("input", function () {
        var input = $(this);
        var inputcolindex = input.val();

        if (inputcolindex != "") {
            var cell = $(this).parent();
            var row = $(this).parent().parent();
            var rowindex = row.index();

            $('.clscolindex').each(function () {
                var innerinput = $(this);
                var innercell = $(this).parent();
                var innerrow = $(this).parent().parent();
                var innerrowindex = innerrow.index();
                var innerinputcolindex = innerinput.val();
                if (innerrowindex != rowindex) {
                    if (innerinput.val() != "") {
                        if (innerinputcolindex == inputcolindex) {
                            input.css("border", "2px solid red");
                            return false
                        }
                        else {
                            input.css("border", "");
                            return true;
                        }
                    }
                }
            });
        }
    });

    $('.clscolindex').on("blur", function () {
        var input = $(this);
        var inputcolindex = input.val().trim();

        if (inputcolindex != "") {
            var cell = $(this).parent();
            var row = $(this).parent().parent();
            var rowindex = row.index();

            $('.clscolindex').each(function () {
                var innerinput = $(this);
                var innercell = $(this).parent();
                var innerrow = $(this).parent().parent();
                var innerrowindex = innerrow.index();
                var innerinputcolindex = innerinput.val().trim();
                if (innerrowindex != rowindex) {
                    if (innerinputcolindex != "") {
                        if (innerinputcolindex == inputcolindex) {
                            input.css("border", "2px solid red");
                            return false;
                        }
                        else {
                            input.css("border", "");
                            return true;
                        }
                    }
                }
            });
        }
        else
            input.css("border", "");
    });

    @* Is Filter *@
    $('.clsisfilter').on("change", function () {
        var input = $(this);
        var row = $(this).parent().parent();
        var rowindex = row.index();
        // disabled control current row
        row.find('.clsfiltercontroltype').val("");
        row.find('.clsfiltercontroltype').attr("disabled", true);
        if (input.prop("checked") == true) 
            row.find('.clsfiltercontroltype').removeAttr("disabled");
    });

    @* Is Sorted *@
    $('.clsissorted').on("change", function () {
        var input = $(this);
        var row = $(this).parent().parent();
        var rowindex = row.index();
        // disabled control current row
        row.find('.clssortingindex').val("");
        row.find('.clssortingmethodtype').attr("disabled", true);
        row.find('.clssortingindex').attr("disabled", true);
        if (input.prop("checked") == true) {
            row.find('.clssortingmethodtype').removeAttr("disabled");
            row.find('.clssortingindex').removeAttr("disabled");
        }
    });

    @* sorting index unique*@
    $('.clssortingindex').on("input", function () {
        var input = $(this);
        var inputcolindex = input.val().trim();

        if (inputcolindex != "") {
            var cell = $(this).parent();
            var row = $(this).parent().parent();
            var rowindex = row.index();

            $('.clssortingindex').each(function () {
                var innerinput = $(this);
                var innercell = $(this).parent();
                var innerrow = $(this).parent().parent();
                var innerrowindex = innerrow.index();
                var innerinputcolindex = innerinput.val().trim();
                if (innerrowindex != rowindex) {
                    if (innerinputcolindex != "") {
                        if (innerinputcolindex == inputcolindex) {
                            input.css("border", "2px solid red");
                            return false;
                        }
                        else {
                            input.css("border", "");
                            return true;
                        }
                    }
                }
            });
        }
    });

    $('.clssortingindex').on("blur", function () {
        var input = $(this);
        var inputcolindex = input.val().trim();

        if (inputcolindex != "") {
            var cell = $(this).parent();
            var row = $(this).parent().parent();
            var rowindex = row.index();

            $('.clssortingindex').each(function () {
                var innerinput = $(this);
                var innercell = $(this).parent();
                var innerrow = $(this).parent().parent();
                var innerrowindex = innerrow.index();
                var innerinputcolindex = innerinput.val().trim();
                if (innerrowindex != rowindex) {
                    if (innerinputcolindex != "") {
                        if (innerinputcolindex == inputcolindex) {
                            input.css("border", "2px solid red");
                            return false;
                        }
                        else {
                            input.css("border", "");
                            return true;
                        }
                    }
                }
            });
        }
        else
            input.css("border", "");
    });

     @* Is Sorted *@
    $('.clsisgroup').on("change", function () {
        var input = $(this);
        var row = $(this).parent().parent();
        var rowindex = row.index();
        // disabled control current row
        row.find('.clsgroupindex').val("");
        row.find('.clsissum').removeAttr("checked");
        row.find('.clsgroupindex').attr("disabled", true);
        row.find('.clsissum').attr("disabled", true);
        if (input.prop("checked") == true) {
            row.find('.clsgroupindex').removeAttr("disabled");
            row.find('.clsissum').removeAttr("disabled");
        }
    });

    @* sorting index unique*@
    $('.clsgroupindex').on("input", function () {
        var input = $(this);
        var inputcolindex = input.val().trim();

        if (inputcolindex != "") {
            var cell = $(this).parent();
            var row = $(this).parent().parent();
            var rowindex = row.index();

            $('.clsgroupindex').each(function () {
                var innerinput = $(this);
                var innercell = $(this).parent();
                var innerrow = $(this).parent().parent();
                var innerrowindex = innerrow.index();
                var innerinputcolindex = innerinput.val().trim();
                if (innerrowindex != rowindex) {
                    if (innerinputcolindex != "") {
                        if (innerinputcolindex == inputcolindex) {
                            input.css("border", "2px solid red");
                            return false;
                        }
                        else {
                            input.css("border", "");
                            return true;
                        }
                    }
                }
            });
        }
    });

    $('.clsgroupindex').on("blur", function () {
        var input = $(this);
        var inputcolindex = input.val().trim();

        if (inputcolindex != "") {
            var cell = $(this).parent();
            var row = $(this).parent().parent();
            var rowindex = row.index();

            $('.clsgroupindex').each(function () {
                var innerinput = $(this);
                var innercell = $(this).parent();
                var innerrow = $(this).parent().parent();
                var innerrowindex = innerrow.index();
                var innerinputcolindex = innerinput.val().trim();
                if (innerrowindex != rowindex) {
                    if (innerinputcolindex != "") {
                        if (innerinputcolindex == inputcolindex) {
                            input.css("border", "2px solid red");
                            return false;
                        }
                        else {
                            input.css("border", "");
                            return true;
                        }
                    }
                }
            });
        }
        else
            input.css("border", "");
    });

    // table ddl change event
    $('.clstablename').on("change", function () {
        var input = $(this); // control
        var inputval = input.val().trim(); // value

        var cell = $(this).parent(); // cell
        var row = $(this).parent().parent(); // row

        if (inputval != "")
        {
            $('#ks_loader').show();

            // ajax call
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetTableCols", "Report"))',
                data: { "Table": inputval },
                success: function (result) {
                    if (result.status == "success") {
                        row.find('.clstablecolname').find('option').remove();
                        for (var c = 0; c < result.data.length; c++) {
                            // core subjects
                            var option = "<option value='" + result.data[c].Value + "'>" + result.data[c].Text + "</option>";
                            row.find('.clstablecolname').append(option);
                        }
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }

                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        }
    });

    // submit click
    $('#submit_btn').click(function () {
        $('#ks_loader').show();
        $('#RptColArray').val("");
        $('#RptFltrArray').val("");
        var isgridvalid = ReportColsRowsValid();
        if (isgridvalid) {
            $('#ks_loader').hide();
            return true;
        }
        else {
            var validationaray = validationmsg.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
            $('#ks_loader').hide();
            ScrollToTop();
            return false;
        }
    });

    var validationmsg = "";
    var IsValid = true;
    function ReportColsRowsValid()
    {
        validationmsg = "";
        IsValid = true;        

        @* Filter Grid *@
        var FilterArray = new Array();
        var FilterObj = new Object();

        var flterlabel = true;
        var flterindexunique = true;
        var flterindex = true;
        var fltercontroltype = true;
        $('#filter_Grid tbody tr').each(function () {
            var row = $(this); // row
            var rowindex = row.index();

            if (row.find('.clsfilterlabel').val().trim() == "")
            {
                row.find('.clsfilterlabel').css("border", "2px solid red");
                flterlabel = false;
                IsValid = false;
            }
            if (row.find('.clsisfilter').prop("checked") == true) {
                if (row.find('.clsfilterindex').val().trim() == "") {
                    row.find('.clsfilterindex').css("border", "2px solid red");
                    flterindex = false;
                    IsValid = false;
                }
                else {
                    var inputcolindex = row.find('.clsfilterindex').val();
                    $('.clsfilterindex').each(function () {
                        var innerinput = $(this);
                        var innerrow = $(this).parent().parent();
                        var innerrowindex = innerrow.index();
                        var innerinputcolindex = innerinput.val().trim();
                        if (innerrowindex != rowindex) {
                            if (innerinputcolindex != "") {
                                if (innerinputcolindex == inputcolindex) {
                                    flterindexunique = false;
                                    IsValid = false;
                                }
                            }
                        }
                    });
                }
                if (row.find('.clsfiltercontroltype').val().trim() == "") {
                    row.find('.clsfiltercontroltype').css("border", "2px solid red");
                    fltercontroltype = false;
                    IsValid = false;
                }
            }

            if (IsValid) {
                FilterObj = new Object();
                FilterObj.RptStandardColId = row.find('.clsrptscid').text();
                FilterObj.FilterName = row.find('.clsfiltername').text();
                FilterObj.FilterLabel = row.find('.clsfilterlabel').val();
                FilterObj.FilterIndex = row.find('.clsfilterindex').val() == "" ? null : row.find('.clsfilterindex').val();
                FilterObj.IsFilter = false;
                FilterObj.FilerControlTypeId = null;
                if (row.find('.clsisfilter').prop("checked") == true) {
                    FilterObj.IsFilter = true;
                    FilterObj.FilerControlTypeId = row.find('.clsfiltercontroltype').val();
                }
                FilterArray.push(FilterObj);
            }
        });
        if (IsValid) {
            $('#RptFltrArray').val(JSON.stringify(FilterArray));
        }
        else {
            if (flterlabel == false) {
                validationmsg += "Filter Label reuired ε";
                IsValid = false;
            }
            if (flterindexunique == false) {
                validationmsg += "Filter Index should be unique ε";
                IsValid = false;
            }
            if (flterindex == false)
            {
                validationmsg += "Filter index reuired If Is Filter true ε";
                IsValid = false;
            }
            if (fltercontroltype == false) {
                validationmsg += "Filter Type reuired If Is Filter true ε";
                IsValid = false;
            }
        }

        @* Report COls Grid *@

        var ColsArray = new Array();
        var ColObj = new Object();

        var Collabel = true;
        var Colindexunique = true;
        var Colindex = true;
        var ColVisible = true;
        var ColSortingMethod = true;
        var ColSortingIndex = true;
        var ColSortingIndexunique = true;
        var ColGroupIndex = true;
        var ColGroupIndexUnique = true;
        var ColIsSum = true;
        var TableName = true;
        var TableColName = true;

        $('#column_grid tbody tr').each(function () {
            var row = $(this); // row
            var rowindex = row.index();
            // label
            if (row.find('.clscollabel').val().trim() == "") {
                row.find('.clscollabel').css("border", "2px solid red");
                Collabel = false;
                IsValid = false;
            }

            // table name
            if (row.find('.clstablename').val().trim() == "") {
                row.find('.clstablename').css("border", "2px solid red");
                TableName = false;
                IsValid = false;
            }

            // col anme
            if (row.find('.clstablecolname').val().trim() == "") {
                row.find('.clstablecolname').css("border", "2px solid red");
                TableColName = false;
                IsValid = false;
            }

            // Index
            if (row.find('.clscolindex').val().trim() == "") {
                row.find('.clscolindex').css("border", "2px solid red");
                Colindex = false;
                IsValid = false;
            }
            else {
                var inputcolindex = row.find('.clscolindex').val();
                $('.clscolindex').each(function () {
                    var innerinput = $(this);
                    var innerrow = $(this).parent().parent();
                    var innerrowindex = innerrow.index();
                    var innerinputcolindex = innerinput.val().trim();
                    if (innerrowindex != rowindex) {
                        if (innerinputcolindex != "") {
                            if (innerinputcolindex == inputcolindex) {
                                Colindexunique = false;
                                IsValid = false;
                            }
                        }
                    }
                });
            }

            // Is Visible
            if ($('.clsisvisible:not(:checked)').length == $('.clsisvisible').length)
            {
                ColVisible = false;
                IsValid = false;
            }

            // Sorting index
            if (row.find('.clsissorted').prop("checked") == true) {
                if (row.find('.clssortingindex').val().trim() == "") {
                    row.find('.clssortingindex').css("border", "2px solid red");
                    ColSortingIndex = false;
                    IsValid = false;
                }
                else {
                    var inputcolindex = row.find('.clssortingindex').val();
                    $('.clssortingindex').each(function () {
                        var innerinput = $(this);
                        var innerrow = $(this).parent().parent();
                        var innerrowindex = innerrow.index();
                        var innerinputcolindex = innerinput.val().trim();
                        if (innerrowindex != rowindex) {
                            if (innerinputcolindex != "") {
                                if (innerinputcolindex == inputcolindex) {
                                    ColSortingIndexunique = false;
                                    IsValid = false;
                                }
                            }
                        }
                    });
                }
                if (row.find('.clssortingmethodtype').val().trim() == "") {
                    row.find('.clssortingmethodtype').css("border", "2px solid red");
                    ColSortingMethod = false;
                    IsValid = false;
                }
            }

            // Group Index
            if (row.find('.clsisgroup').prop("checked") == true) {
                if (row.find('.clsgroupindex').val().trim() == "") {
                    row.find('.clsgroupindex').css("border", "2px solid red");
                    ColGroupIndex = false;
                    IsValid = false;
                }
                else {
                    var inputcolindex = row.find('.clsgroupindex').val();
                    $('.clsgroupindex').each(function () {
                        var innerinput = $(this);
                        var innerrow = $(this).parent().parent();
                        var innerrowindex = innerrow.index();
                        var innerinputcolindex = innerinput.val().trim();
                        if (innerrowindex != rowindex) {
                            if (innerinputcolindex != "") {
                                if (innerinputcolindex == inputcolindex) {
                                    ColGroupIndexUnique = false;
                                    IsValid = false;
                                }
                            }
                        }
                    });
                }
            }

            // Is Sum
            if (row.find('.clsissum').prop("checked") == true) {
                if (row.find('.clsisgroup').prop("checked") == false) {
                    ColIsSum = false;
                    IsValid = false;
                }
            }

            if (IsValid) {
                ColObj = new Object();
                ColObj.RptStandardColId = row.find('.clsrptscid').text();
                ColObj.ColName = row.find('.clscolname').text();
                ColObj.ColLabel = row.find('.clscollabel').val();
                ColObj.TableName = row.find('.clstablename').val();
                ColObj.ColumnName = row.find('.clstablecolname').val();
                ColObj.ColIndex = row.find('.clscolindex').val();
                ColObj.ColWidth = row.find('.clscolwidth').val() == "" ? null : row.find('.clscolwidth').val();
                
                ColObj.IsVisible = false;
                if (row.find('.clsisvisible').prop("checked") == true) {
                    ColObj.IsVisible = true;
                }

                ColObj.IsSorted = false;
                ColObj.SortingMethod = "";
                ColObj.SortingIndex = null;
                if (row.find('.clsissorted').prop("checked") == true) {
                    ColObj.IsSorted = true;
                    ColObj.SortingMethod = row.find('.clssortingmethodtype').val();
                    ColObj.SortingIndex = row.find('.clssortingindex').val();
                }

                ColObj.IsGroup = false;
                ColObj.GroupIndex = null;
                ColObj.IsSum = false;
                if (row.find('.clsisgroup').prop("checked") == true) {
                    ColObj.IsGroup = true;
                    ColObj.GroupIndex = row.find('.clsgroupindex').val();
                    if (row.find('.clsissum').prop("checked") == true) {
                        ColObj.IsSum = true;
                    }
                }

                ColsArray.push(ColObj);
            }
        });
        if (IsValid) {
            $('#RptColArray').val(JSON.stringify(ColsArray));
        }
        else {
            if (Collabel == false) {
                validationmsg += "Col Label reuired ε";
                IsValid = false;
            }
            if (TableName == false) {
                validationmsg += "Table reuired ε";
                IsValid = false;
            }
            if (TableColName == false) {
                validationmsg += "Table Col reuired ε";
                IsValid = false;
            }
            if (Colindexunique == false) {
                validationmsg += "Col Index should be unique ε";
                IsValid = false;
            }
            if (Colindex == false) {
                validationmsg += "Col index reuired ε";
                IsValid = false;
            }
            if (ColVisible == false) {
                validationmsg += "All IsVisible uncheked ε";
                IsValid = false;
            }
            if (ColSortingIndexunique == false) {
                validationmsg += "Col Sorting index should be unique ε";
                IsValid = false;
            }
            if (ColSortingIndex == false) {
                validationmsg += "Col Sorting index reuired ε";
                IsValid = false;
            }
            if (ColSortingMethod == false) {
                validationmsg += "Col Sorting method reuired if is sorting true ε";
                IsValid = false;
            }
            if (ColGroupIndexUnique == false) {
                validationmsg += "Col Group index should be unique ε";
                IsValid = false;
            }
            if (ColGroupIndex == false) {
                validationmsg += "Col Group index reuired ε";
                IsValid = false;
            }
            if (ColIsSum == false) {
                validationmsg += "IsSum should be with IsGroup ε";
                IsValid = false;
            }
        }

        return IsValid;
    }

</script>
