﻿@model IEnumerable<ViewModel.ViewModel.Reporting.StandardReportModel>

@{
    ViewBag.Title = "Manage Generic Reports";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Generic Reports</h1>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        <table id="table-student-grid" class="table table-bordered table-condensed table-responsive table-striped">
            <thead class="thead-default">
                <tr>
                    <th class="">Report Name</th>
                    <th class="">Generic Name</th>
                    <th class="">Created Date</th>
                    <th class="text-center">IsActive</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RptMasterName</td>
                            <td>@item.RptGenericName</td>
                            <td>@item.CreateDate</td>
                            <td class="text-center">@item.Status</td>
                            <td class="text-center">
                                <a style="margin-right: 10px" href="@Html.Raw(Url.Action("EditGenericReports", "Report", new { id = item.EncRptMasterId }))" class="btn btn-default btn-xs" title="Edit Report" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil"></i></a>
                                @if (item.IsGenViewReport)
                                {
                                    <a href="@Html.Raw(Url.Action("ViewGenericReport", "Report", new { id = item.EncRptMasterId }))" class="btn btn-default btn-xs" title="Edit Report" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye"></i></a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>