﻿@model ViewModel.ViewModel.Reporting.ViewReportModel

@{
    ViewBag.Title = "View Report";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>View Report</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Html.Raw(Url.Action("ReportList", "Report"))" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
@using (Html.BeginForm("ViewStandardReport", "Report", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ReportMasterId)
    @Html.HiddenFor(model => model.Grid)

    <div class="row top-space-10">
        @{
    foreach (var item in Model.ReportControlsList)
    {
        <div class="form-group">
            <label>@item.Label</label>
            @if (item.ControlTypeDisplayName.Contains("Text Box"))
            {
                @Html.TextBox(item.Label, null, new { @class = "form-control" })
            }
            @if (item.ControlTypeDisplayName.Contains("Drop Down"))
            {
                @Html.DropDownList(item.Label, item.selectlist, new { @class = "form-control" })
            }
            @if (item.ControlTypeDisplayName.Contains("Date"))
            {
                @Html.TextBox(item.Label, null, new { @class = "datepicker" })
            }
            @if (item.ControlTypeDisplayName.Contains("Time"))
            {
                @Html.TextBox(item.Label, null, new { @class = "form-control timepicker" })
            }
        </div>
    }
        }

        <div class="form-group">
            <input type="submit" name="submit" value="Filter" id="fltr_btn" class="btn btn-default" />
            @if (Model.RowList.Count > 0)
            {
                <input type="button" name="export" value="Export to Excel" id="export_btn" class="btn btn-default" />
                <input type="button" name="pdf" value="Export to PDF" id="pdf_btn" class="btn btn-default" />
                <input type="button" name="print" value="Print" id="print_btn" class="btn btn-default" />
            }
        </div>
    </div>
}

@if (Model.RowList.Count > 0)
{
    <div class="row top-space-10">
        <div id="rptgrid">
        </div>
    </div>

    <script>

        var rows = [];
        @{
    for (int i = 0; i < Model.RowList.Count; i++)
        {
            <text>
        var entryArray = [];
        </text>

            for (int j = 0; j < Model.RowList[i].ColValue.Count; j++)
            {
                <text>
        entryArray.push('@Model.RowList[i].ColValue[j]');
        </text>
            }

            <text>
        rows.push({
            entries: entryArray
        });
        </text>
        }
    }

        $(document).ready(function () {
            var columns = [];
            @{
            for (int i = 0; i < Model.ColumnList.Count; i++)
            {
                <text>
            var IsHidden = false;
            var Isgroup = false;
            var IsSort = false;
                    @if (Model.ColumnList[i].Ishidden)
                    {
                        <text>
                        IsHidden = true;
                        </text>
                    }

                    @if (Model.ColumnList[i].IsGroupable)
                    {
                        <text>
                        Isgroup = true;
                        </text>
                    }
            
                    @if (Model.ColumnList[i].IsSortable)
                    {
                        <text>
                        IsSort = true;
                        </text>
                    }
                    columns.push({
                        field: "entries[" + @i + "]",
                        title: '@Model.ColumnList[i].ColumName',
                        hidden: IsHidden,
                        groupable: Isgroup,
                        sortable: IsSort
                    });
                </text>
            }
        }

            $("#rptgrid").kendoGrid({
                dataSource: {
                    data: rows,
                    pageSize: '@Model.defaultGridPageSize',
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@Model.gridPageSizes]
                },
                groupable: true,
                reorderable: true,
                resizable: true,
                columnMenu: true,
                filterable: true,
                editable: false,
                sortable: true,
                columns: columns
            });

            $('#export_btn').click(function () {
                var grid = $("#rptgrid").data("kendoGrid");
                grid.saveAsExcel();
            });

            $('#pdf_btn').click(function () {
                var grid = $("#rptgrid").data("kendoGrid");
                grid.saveAsPDF();
            });

            $('#print_btn').click(function () {
                printGrid()
            });

        });


        function printGrid() {
            var gridElement = $('#rptgrid');
            var printableContent = '';            

            var htmlStart =
                    '<!DOCTYPE html>' +
                    '<html>' +
                    '<head>' +
                    '<meta charset="utf-8" />' +
                    '<title>' + "@Model.FileName" + '</title>' +
                    '<link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" /> ' +
                    '<style>' +
                    'html { font: 11pt sans-serif; }' +
                    '.k-grid { border-top-width: 0; }' +
                    '.k-grid, .k-grid-content { height: auto !important; }' +
                    '.k-grid-content { overflow: visible !important; }' +
                    'div.k-grid table { table-layout: auto; width: 100% !important; }' +
                    '.k-grid .k-grid-header th { border-top: 1px solid; }' +
                    '.k-grouping-header, .k-grid-toolbar, .k-grid-pager > .k-link { display: none; }' +
                    // '.k-grid-pager { display: none; }' + // optional: hide the whole pager
                    '</style>' +
                    '</head>' +
                    '<body>';

            var htmlEnd =
                    '</body>' +
                    '</html>';

            var gridHeader = gridElement.children('.k-grid-header');
            //if (gridHeader[0]) {
            var thead = gridHeader.find('thead').clone().addClass('k-grid-header');
            var clonegridelement = gridElement.clone();
            var removeheaderelem = clonegridelement.children('.k-grid-header').remove().end();
            var gridtbodycontent = clonegridelement.children('.k-grid-content').find('table').first().children('tbody');
            var html = gridtbodycontent.before(thead);
            printableContent = html.end().end().end().end()[0].outerHTML;

            var win = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1');
            var doc = win.document.open();
            doc.write(htmlStart + printableContent + htmlEnd);
            doc.close();
            setTimeout(function () {
                win.print();
            }, 2000);
        }

    </script>
}
