﻿@model ViewModel.ViewModel.Security.ResetPasswordModel

@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />

    <title>Home Page</title>
    @*bootstrap core css*@
    @Styles.Render("~/bundles/bootstracss")

    @*IE10 viewport hack for Surface/desktop Windows 8 bug *@
    @Styles.Render("~/bundles/iestyle")

    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @*login css*@
    @Styles.Render("~/bundles/login")
    <script src="~/Content/assets/js/jquery.min.js"></script>
</head>
<body>
    <div class="login-wrapper">
        <div class="container login-vertical-offset">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Please Change Password
                            </h3>
                            <img src="~/Content/assets/img/konnect-smart-sm.png">
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm())
                            {
                            <fieldset>
                                @*<div class="form-group">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @autofocus = "on", @placeholder = "User Name" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "CustonError" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "CustonError" })
        </div>*@
                                @Html.HiddenFor(m => m.UserId)
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "CustonError" })
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @autofocus = "on", @placeholder = "Old Password" })
                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "CustonError" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "CustonError" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "CustonError" })
                                </div>



                                @*<div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.RememberMe)
                Remember Me
            </label>
        </div>*@
                                <input class="btn btn-warning" type="submit" value="Change Password">
                                @*<a class="pull-right" href="@Html.Raw(Url.Action("Register","Home"))">Sign Up</a>
                                <a style="margin-right: 10px" class="pull-right" href="@Html.Raw(Url.Action("PasswordRecovery","Home"))">Forgot Pasword?</a>*@
                            </fieldset>
                            }
                        </div>
                        @*<script type="text/javascript">
                            $('#UserName').val('@TempData["NewUserID"]');
                        </script>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>