﻿@model ViewModel.ViewModel.Security.RegisterModel

@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
    <title>Home Page</title>
    @*bootstrap core css*@
    @Styles.Render("~/bundles/bootstracss")

    @*IE10 viewport hack for Surface/desktop Windows 8 bug *@
    @Styles.Render("~/bundles/iestyle")

    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @*login css*@
    @Styles.Render("~/bundles/login")

    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="login-wrapper">
        <div class="container login-vertical-offset">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Password Reset
                            </h3>
                            <img src="~/Content/assets/img/konnect-smart-sm.png">
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm())
                            {
                                <fieldset>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", @autofocus = "on", @placeholder = "User Id", @maxlength = "30" })
                                        @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "CustonError" })
                                        <span class="field-validation-error label label-danger" id="mobileno_err"></span>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 40px;">
                                        <input style="margin-top: 4px;" class="btn btn-warning btn-xs pull-right" type="button" value="CONTINUE" id="btn_continue">
                                        <input style="margin-top: 4px;display: none" class="btn btn-warning btn-xs pull-right" type="button" value="Change" id="btn_change">
                                    </div>
                                    <div id="otp_pass_div" style="display: none;">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.OTP, new { @class = "form-control", @placeholder = "OTP", @maxlength = "6" })
                                            @Html.ValidationMessageFor(m => m.OTP, "", new { @class = "CustonError" })
                                            <span class="field-validation-error label label-danger" id="otp_err"></span>
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @disabled = "disabled", @maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "CustonError" })
                                            <span id="passvalidationreq" style="display:none">Password must contain at least 1 Special character,2 digits, Small, Capital letter and must be of 8 characters</span>
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @disabled = "disabled", @maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "CustonError" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input style="display: none" disabled class="btn btn-warning" id="btn_submit" type="submit" value="Reset Password">
                                        <a class="" href="@Html.Raw(Url.Action("Login","Home"))">Login</a>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
       
        @if (Model.IsFromPost)
        {
            <text>
        $('#otp_pass_div').show();
        $('#btn_submit').show();
        $('#UserId').attr("readonly", true);
        $('#btn_continue').hide();
        $('#btn_change').show();

        $('#Password').attr("disabled", true);
        $('#ConfirmPassword').attr("disabled", true);
        $('#btn_submit').attr("disabled", true);
        </text>
        }
        else
        {
            <text>
        $('#OTP').val("");
        </text>
        }

        $(document).ready(function () {

             @if (@Model.UserId!= null && @Model.UserId!= "") {
                 <text>
            $('#btn_continue').click();
            </text>
        }
            if ($("#OTP").val() != "" && $("#OTP").val() != null) {
                $("#Password").attr('disabled', false);
                $("#ConfirmPassword").attr('disabled', false);
                $("#btn_submit").attr('disabled', false);
            }
        })

        $("#Password").on('keyup', function (e) {
            if ($('.CustonError')[2].innerText != "Password must contain at least 1 Special character,2 digits, Small, Capital letter and must be of 8 characters") {
                $("#passvalidationreq").show();
            }
        });

        $('#btn_change').click(function () {
            $('#otp_pass_div').hide();
            $('#btn_submit').hide();
            $('#UserId').attr("readonly", false);
            $('#UserId').val("");
            $('#btn_continue').show();
            $('#btn_change').hide();
            $('#OTP').val("");
            $('#Password').val("");
            $('#ConfirmPassword').val("");

            $('#Password').attr("disabled", true);
            $('#ConfirmPassword').attr("disabled", true);
            $('#btn_submit').attr("disabled", true);

            $('.field-validation-error').each(function (elm) {
                $(this).text("");
            });

            if ($("#OTP").val() != "" && $("#OTP").val() != null) {
                $("#Password").attr('disabled', false)
                $("#ConfirmPassword").attr('disabled', false)
                $("#btn_submit").attr('disabled', false);
            }
            else {
                $("#Password").attr('disabled', true)
                $("#ConfirmPassword").attr('disabled', true)
                $("#btn_submit").attr('disabled', true);
            }
        });

        @* // check mobile no valid and send otp // with ajax call *@
        $('#btn_continue').click(function () {
            $('#ks_loader').show();
            $('#mobileno_err').text('');
            if ($('#UserId').val().trim() != "") {
                // ajax call
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CheckAndValiadteUserId", "Home"))',
                    data: { "UserId": $('#UserId').val() },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#otp_pass_div').show();
                            $('#btn_submit').show();
                            $('#UserId').attr("readonly", true);
                            $('#btn_continue').hide();
                            $('#btn_change').show();
                        }
                        else if (result.data != null) {
                            $('#mobileno_err').text(result.data);
                        } else
                            $('#mobileno_err').text('UserId not found');

                        $('#ks_loader').show();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + status + " " + data;
                        alert(err);
                        $('#ks_loader').show();

                    }
                });

            }
            else {
                $('#mobileno_err').text('UserId required');
                $('#ks_loader').show();
            }
        });

        $("#OTP").on("input", function () {
            $('#otp_err').text('');
            var otp = $('#OTP').val();
            if (otp.trim() != "" && otp.length == 6) {
                $('#ks_loader').show();
                var Model = new Object();
                Model.UserId = $('#UserId').val();
                Model.MobileNo = $('#MobileNo').val();
                Model.OTP = otp;

                // ajax call
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CheckUserOTPValid", "Home"))',
                    data: Model,
                    success: function (result) {
                        if (result.status == "success") {
                            $('#btn_submit').removeAttr("disabled");
                            $('#Password').removeAttr("disabled");
                            $('#ConfirmPassword').removeAttr("disabled");
                        }
                        else
                            $('#otp_err').text(result.data);

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + status + " " + data;
                        alert(err);
                        $('#ks_loader').hide();
                    }
                });

            }
            else {
                $('#Password').attr("disabled");
                $('#ConfirmPassword').attr("disabled");
                $('#btn_submit').attr("disabled");
            }
        });

        $("#OTP").keydown(function (e) {
            NumericOnly(e);
        });

        function NumericOnly(e) {
            // Allow: backspace, delete, tab, escape, enter
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        }

    </script>
</body>
</html>