﻿@model ViewModel.ViewModel.Student.StudentProfileModel
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "3ischools Online Payment";
    ViewData["NeedCokkie"] = "No";
}
<style>
     .payMessage {
        box-shadow: 0 0 9px #eaeaea;
        text-align: center;
        width: 100%;
        float: left;
        padding: 40px;
        border-radius: 8px;
    }

        .payMessage img {
            max-width: 100%;
            width: 150px;
            margin: 30px auto;
            display: block;
        }

        .payMessage h3 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 20px;
            letter-spacing: 1px;
            color: #696969;
        }
</style>

@if(Model.IsPaymentSucceed)
{ 
    <div class="payMessage">
        <h3>Your Payment Has Been Successful</h3>
        <img src="~/PGImages/check.png" />
        <br />
        <label>Your Bank Transaction Id : @Model.TransactionId</label>
        <br />
        <label>Amount : @Model.TotalPayAmount</label>
        <br />
        <label>Fee Period : @Model.FeePeriod</label>
        <br />
        @{
         string userAgent = Request.UserAgent;
         if (!userAgent.Contains("iPhone") || !userAgent.Contains("Android"))
         {
             <a data-toggle="tooltip" data-placement="top" class="btn btn-primary" target="_blank"
           href='@Html.Raw(Url.Action("PrintFeeReceipt", "Payment", new { id = Model.EncFeeReceipt }))'>Print Receipt</a>
         }
        }
        <button type="button" class="btn btn-danger backToFeeReceiptPage">Back</button>
    </div>
}
else
{
    <div class="payMessage">
           <h3>Payment Failed</h3>
           <img src="~/PGImages/no-check.png" />
        <button type="button" class="btn btn-danger backToFeeReceiptPage">Back</button>
</div>
}

<script>

    $(".backToFeeReceiptPage").click(function () {
        var searchParams = new URLSearchParams(window.location.search);
        //* Determine the mobile operating system.
        //* This function returns one of 'iOS', 'Android', 'Windows Phone', or 'unknown'.
        //*
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;
        // Windows Phone must come first because its UA also contains "Android"
        if (/android/i.test(userAgent)) {
            getstaus.finish_paymentgatway();//call andriod app function
        }
        else if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
            window.location = "GoBack://finsihPaymentGateway";
        }
        else {
            $(this).removeAttr("onclick");
            window.location.href = "@Html.Raw(Url.Action("StudentFees", "Student"))?Id=" + searchParams.get("Id")
                                            + "&IsEdit=False&SessionId=" + searchParams.get("SessionId") ;
        }
    });

</script>

