﻿@model ViewModel.ViewModel.Student.StudentProfileModel
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "3ischools Online Payment";
    ViewData["NeedCokkie"] = "No";
}
@Html.HiddenFor(x=>x.ErrorMessage)
<style>
    .img-thumbal {
        margin: 15px 0px 19px 10px !important;
    }
</style>

<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Payment Options</h1>
    </div>
</div>
<div class="row" id="ImageGateways">
</div>
<hr />
<div class="row top-space-10 pull-right">
    <div class="col-md-12 ">
        <button type="button" name="save" class="btn btn-success " id="OnlinePayGateway_Pay">
            Pay
        </button>
        <button type="button" class="btn btn-danger" id="OnlinePayGateway_Cancel">
           Back
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#ks_loader').show();
        $("#ImageGateways").html("");
        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetAllGateWay", "Payment"))',
            data: {},
            success: function (result) {
                if (result.status == "success") {
                    if (result.GateWaysList.length > 0) {
                        var html = "";
                        $.each(result.GateWaysList, function (i) {
                            html += "<div class='col-md-4'><div class='img-thumbal'>";

                            html += "<img class='img-responsive' style='width:125px;height: 125px;'";
                            html += "src='" + result.GateWaysList[i].PGImage + "' >";
                            if (result.GateWaysList[i].IsDefault) {
                                html += "<input id='" + result.GateWaysList[i].PaymentGatewayId + "' data-Money='" + '@Model.TotalPayAmount' + "'";
                                html += " name='Gateway' value='" + result.GateWaysList[i].PaymentGatewayId + "' type='radio' checked>";
                            }
                            else {
                                html += "<input id='" + result.GateWaysList[i].PaymentGatewayId + "' data-Money='" + '@Model.TotalPayAmount' + "'";
                                html += " name='Gateway' value='" + result.GateWaysList[i].PaymentGatewayId + "' type='radio'>";
                            }
                            html += "<span>" + result.GateWaysList[i].PaymentGatewayName + "</span>";
                            html += "</div></div>";
                        });
                        $("#ImageGateways").append(html);
                    }
                    else
                        alert("No Payment Gateway Avaiable", "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                alert(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    var searchParams = new URLSearchParams(window.location.search);

    $("#OnlinePayGateway_Pay").click(function () {
        $('#ks_loader').show();
        if ($("#ErrorMessage").val() != "") {
            alert($("#ErrorMessage").val());
            $('#ks_loader').hide();
        }
        else {
            var ObjModel = new Object();
            //alert(searchParams.get('PayableFee'));
            //ObjModel.PayableFee = searchParams.get('PayableFee');
            //ObjModel.EncStudentId = searchParams.get('EncStudentId');
            //ObjModel.SessionId = searchParams.get('SessionId');
            //ObjModel.ReceiptTypeId = searchParams.get('ReceiptTypeId');
            //ObjModel.FeePeriodId = searchParams.get('FeePeriodId');
               ObjModel.PayableFee = '@Model.PayableFee';
            ObjModel.EncStudentId = '@Model.EncStudentId';
            ObjModel.SessionId = '@Model.SessionId';
            ObjModel.ReceiptTypeId = '@Model.ReceiptTypeId';
            ObjModel.FeePeriodId = '@Model.FeePeriodId';

            ObjModel.EncFeeTypeId = '@Model.EncFeeTypeId';
            ObjModel.PaymentGId = $("#ImageGateways").find("input[name='Gateway']:checked").val();
            //ObjModel.LoggedInUserId = searchParams.get('LoggedInUserId');
            //ObjModel.UserType = searchParams.get('UserType');
            ObjModel.LoggedInUserId = '@Model.LoggedInUserId';
            ObjModel.UserType = '@Model.UserType';
            ObjModel.PaymentRequestId = '@Model.PaymentRequestId';
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("PaymentOnline", "Payment"))',
                data: ObjModel,
                success: function (result) {
                    if (result.status == "success")
                        window.location.href = result.RedirectUrl;
                    else if (result.status == "failed")
                        alert("Payment Url not found");
                    else if (result.status == "Insufficient")
                        alert(result.data);

                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    alert(err);
                    $('#ks_loader').hide();
                }
            });
        }
    });


    $("#OnlinePayGateway_Cancel").click(function () {
        var searchParams = new URLSearchParams(window.location.search);
        //* Determine the mobile operating system.
        //* This function returns one of 'iOS', 'Android', 'Windows Phone', or 'unknown'.
        //*
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;
        // Windows Phone must come first because its UA also contains "Android"
        if (/android/i.test(userAgent)) {
            getstaus.finish_paymentgatway();//call andriod app function
        }
        else if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
            window.location = "GoBack://finsihPaymentGateway";
        }
        else {
            $(this).removeAttr("onclick");
            @*window.location.href = "@Html.Raw(Url.Action("StudentFees", "Student"))/" + searchParams.get("EncStudentId")
                                            + "?IsEdit=False&SessionId=" + searchParams.get("SessionId");*@

            window.location.href = "@Html.Raw(Url.Action("StudentFees", "Student"))/" + '@Model.EncStudentId'
                                            + "?IsEdit=False&SessionId=" + '@Model.SessionId';

        }
    });
</script>