﻿@model ViewModel.ViewModel.Fee.PrintFeeReceiptModel
@if (Model.ReceiptTemplate == "" || Model.ReceiptTemplate == null)
{
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="~/favicon.ico">
        <title>Print Fee Receipt</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>

    <body style="margin: 0;padding: 0;background: none" onload="window.print()">
        @if (Model.IsPrintSchoolCopy == true)
        {
            <div class="main-wrappeer" style="background: none!important;padding: 20px 0px 0px 0px;width: 600px;margin: 0 auto; ">
                <div class="school-automatiomn" style="width:100%; float:left; border:1px #ddd solid; ">
                    @if (Model.Isheaderrequired)
                    {
                        <div class="top-bar-headig" style="background:#fff8f1; float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex; ">

                            <div style="width: 20%;"><img src="@Model.SchoolLogo" style="height:80px;width:80px;"></div>
                            <div style="width: 60%; text-align: center; padding:0px; margin: 0px;">
                                <h2 style=" font-size:18px; color:#ae1f23; padding:0px; margin: 0px;">
                                    @Model.SchoolHeader
                                </h2>
                                <p style=" padding:0px; margin: 0px;">@Model.Header1</p>
                                <p style=" padding:0px; margin: 0px;">@Model.Header2</p>
                            </div>

                            <div style="width: 20%;"> <h2 style=" font-size:18px; color:#ae1f23;">@Model.SessionName</h2></div>
                        </div>

                    }
                    else
                    {
                        <div class="top-bar-headig" style="float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex;height:@Model.HeaderHeight">
                        </div>
                    }

                    <div class="School_Copy" style=" padding:10px; float:left; ">
                        @if (Model.ShowCopyText)
                        {
                            <p style="Text-align:center; font-size:13px;margin: 0">
                                School Copy @if (@Model.ReceiptTypeExtraText != "")
                                {@Model.ReceiptTypeExtraText}
                            </p>
                        }
                        @if (Model.ShowReceiptType)
                        {
                            if (Model.ShowCopyText)
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0">@Model.ReceiptType </p>
                            }
                            else
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0">
                                    @Model.ReceiptType @if (@Model.ReceiptTypeExtraText != "")
                                    {@Model.ReceiptTypeExtraText}
                                </p>
                            }
                        }
                        <div class="fee_details" style="  float:left; margin:0 0 0 0; width:100%">
                            <h4 style="float:left; width:50%; text-align:left;  font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Receipt No:  </b><span style="font-size: 15px; font-weight: bold;">@Model.ReceiptNo</span></h4>
                            <h4 style="float:right; width:50%; text-align:right; font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Dated:</b>@Model.ReciptDate</h4>
                        </div>
                        <h4 style="float:left; width:20%; font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Admn No:</b>@Model.AdmnNo</h4>
                        <h4 style="float:left; width:65%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Name:</b>@Model.StudentName</h4>
                        <h4 style="float:left; width:15%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Class:</b>@Model.ClassName</h4>
                        <h4 style="float:left; width:20%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Roll No:</b>@Model.RollNo</h4>

                        <h4 style="float:left; width:33%;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Payment mode :</b>@Model.PaymentMode</h4>
                        @if (Model.Modetype.Contains("Transfer"))
                        {
                            <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Bank :</b>@Model.BankBranch</h4>
                            <h4 style="float:right; width:70%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Trans. No.: </b>@Model.TransactionNo</h4>
                            <h4 style="width:30%; float:left;font-size:13px;text-align:left; margin: 5px 0 5px 0;"> <b>Trans. Date:</b>@Model.TransactionDate</h4>
                        }
                        else if (Model.Modetype.Contains("Instrument"))
                        {
                            <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Bank :</b> @Model.BankBranch</h4>
                            <h4 style="float:right; width:70%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>@Model.lblChkDDNAme: </b>@Model.ChequeNo</h4>
                            <h4 style="width:30%; float:left;font-size:13px;text-align:left; margin: 5px 0 5px 0;"> <b>@Model.lblChkDDDate:</b>@Model.ChequeDate </h4>
                        }

                        @if (!string.IsNullOrEmpty(Model.FeePeriod))
                        {
                            <h4 style="float:left; width:70%; text-align:left;font-size:13px;font-weight:normal; margin: 5px 0 5px 0; ">
                                <b>Fee Period:</b>@Model.FeePeriod
                            </h4>
                        }


                        <div class="fee_details" style=" border-top:1px #ddd solid; border-bottom: 1px #ddd solid;  float:left; margin:0 0 0 0; width:100%">
                            <h4 style="float:left; width:50%; text-align:left;  font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Fees Detail:</b></h4>
                        </div>
                        <table style=" width:100%; border: 1px #ddd solid; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th>Head Name</th>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <th>Amount</th>
                                        <th>Deduction</th>
                                    }
                                    <th>Payable Amount</th>
                                    <th>Paid Amount</th>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <th>Balance</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PrintFeeReceiptHeadsList)
                                {
                                    <tr>
                                        <td>@item.HeadName  </td>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <td>@item.HeadAmount  </td>
                                            <td>@item.Deduction  </td>
                                        }
                                        <td>@item.PayableAmount  </td>
                                        <td>@item.PaidAmount  </td>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <td>@item.Balance  </td>
                                        }
                                    </tr>
                                }
                                <tr>
                                    <td>Total </td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td>@Model.TotalAmount </td>
                                        <td>@Model.TotalDiscount </td>
                                    }
                                    <td>@Model.TotalPayable</td>
                                    <td>@Model.TotalPaidAmount </td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td>@Model.TotalBalance </td>
                                    }
                                </tr>
                            </tbody>
                        </table>

                        @if(Model.UserName != "")
                        { 
                             <p style="float:left; width:50%; text-align:left; font-size:13px;  margin:4px 0 4px 0px ">@Model.UserName</p>
                        }
                        <p style="float:right; width:50%; text-align:right; font-size:13px; margin:4px 0 4px 0px  "> Authorised Signature :</p>
                         @if (Model.ShowRemarks == "1")
                        {
                            <p style="float:left; width:100%;text-align:left;font-size:13px; margin:4px 0 4px 0px  ">Remarks : @Model.Remarks</p>
                        }
                    </div>
                </div>
                <div style="border: 1px #ddd dashed;width: 100%;margin: 5px 0px 5px 0px;float: left;"></div>
            </div>
        }
        @if (Model.IsPrintStudentCopy == true)
        {
            <div class="main-wrappeer" style="background: none!important;padding: 20px 0px 0px 0px;width: 600px;margin: 0 auto; ">
                <div class="school-automatiomn" style="width:100%; float:left; border:1px #ddd solid; ">
                    @if (Model.Isheaderrequired)
                    {
                        <div class="top-bar-headig" style="background:#fff8f1; float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex; ">

                            <div style="width: 20%;"><img src="@Model.SchoolLogo" style="height:80px;width:80px;"></div>
                            <div style="width: 60%; text-align: center; padding:0px; margin: 0px;">
                                <h2 style=" font-size:18px; color:#ae1f23; padding:0px; margin: 0px;">
                                    @Model.SchoolHeader
                                </h2>
                                <p style=" padding:0px; margin: 0px;">@Model.Header1</p>
                                <p style=" padding:0px; margin: 0px;">@Model.Header2</p>
                            </div>

                            <div style="width: 20%;"> <h2 style=" font-size:18px; color:#ae1f23;">@Model.SessionName</h2></div>
                        </div>

                    }
                    else
                    {
                        <div class="top-bar-headig" style="float:left; width:96%; padding:10px 2%; border-bottom:1px #ddd solid;display: inline-flex;height:@Model.HeaderHeight">
                        </div>
                    }

                    <div class="School_Copy" style=" padding:10px; float:left; ">
                        @if (Model.ShowCopyText)
                        {
                            <p style="Text-align:center; font-size:13px;margin: 0">
                                Student Copy @if (@Model.ReceiptTypeExtraText != "")
                                {@Model.ReceiptTypeExtraText}
                            </p>
                        }
                        @if (Model.ShowReceiptType)
                        {
                            if (Model.ShowCopyText)
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0">@Model.ReceiptType </p>
                            }
                            else
                            {
                                <p style="Text-align:center; font-size:13px;margin: 0">
                                    @Model.ReceiptType @if (@Model.ReceiptTypeExtraText != "")
                                    {@Model.ReceiptTypeExtraText}
                                </p>
                            }
                        }
                        <div class="fee_details" style="  float:left; margin:0 0 0 0; width:100%">
                            <h4 style="float:left; width:50%; text-align:left;  font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Receipt No:  </b><span style="font-size: 15px; font-weight: bold;">@Model.ReceiptNo</span></h4>
                            <h4 style="float:right; width:50%; text-align:right; font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Dated:</b>@Model.ReciptDate</h4>
                        </div>
                        <h4 style="float:left; width:20%; font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Admn No:</b>@Model.AdmnNo</h4>
                        <h4 style="float:left; width:65%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Name:</b>@Model.StudentName</h4>
                        <h4 style="float:left; width:15%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Class:</b>@Model.ClassName</h4>
                        <h4 style="float:left; width:20%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Roll No:</b>@Model.RollNo</h4>


                        <h4 style="float:left; width:33%;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Payment mode :</b>@Model.PaymentMode</h4>
                        @if (Model.Modetype.Contains("Transfer"))
                        {
                            <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Bank :</b>@Model.BankBranch</h4>
                            <h4 style="float:right; width:70%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Trans. No.: </b>@Model.TransactionNo</h4>
                            <h4 style="width:30%; float:left;font-size:13px;text-align:left; margin: 5px 0 5px 0;"> <b>Trans. Date:</b>@Model.TransactionDate</h4>
                        }
                        else if (Model.Modetype.Contains("Instrument"))
                        {
                            <h4 style="float:left; width:47%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>Bank :</b> @Model.BankBranch</h4>
                            <h4 style="float:right; width:70%; text-align:left;  font-size:13px;font-weight:normal; margin: 5px 0 5px 0; "> <b>@Model.lblChkDDNAme: </b>@Model.ChequeNo</h4>
                            <h4 style="width:30%; float:left;font-size:13px;text-align:left; margin: 5px 0 5px 0;"> <b>@Model.lblChkDDDate:</b>@Model.ChequeDate </h4>
                        }

                        @if (!string.IsNullOrEmpty(Model.FeePeriod))
                        {
                            <h4 style="float:left; width:70%; text-align:left;font-size:13px;font-weight:normal; margin: 5px 0 5px 0; ">
                                <b>Fee Period:</b>@Model.FeePeriod
                            </h4>
                        }


                        <div class="fee_details" style=" border-top:1px #ddd solid; border-bottom: 1px #ddd solid;  float:left; margin:0 0 0 0; width:100%">
                            <h4 style="float:left; width:50%; text-align:left;  font-size:13px; font-weight:normal; margin: 5px 0 5px 0; "> <b>Fees Detail:</b></h4>
                        </div>

                        <table style=" width:100%; border: 1px #ddd solid; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th>Head Name</th>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <th>Amount</th>
                                        <th>Deduction</th>
                                    }
                                    <th>Payable Amount</th>
                                    <th>Paid Amount</th>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <th>Balance</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PrintFeeReceiptHeadsList)
                                {
                                    <tr>
                                        <td>@item.HeadName  </td>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <td>@item.HeadAmount  </td>
                                            <td>@item.Deduction  </td>
                                        }
                                        <td>@item.PayableAmount  </td>
                                        <td>@item.PaidAmount  </td>
                                        @if (Model.ShowlimitedDetail == false)
                                        {
                                            <td>@item.Balance  </td>
                                        }
                                    </tr>
                                }
                                <tr>
                                    <td>Total </td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td>@Model.TotalAmount </td>
                                        <td>@Model.TotalDiscount </td>
                                    }
                                    <td>@Model.TotalPayable</td>
                                    <td>@Model.TotalPaidAmount </td>
                                    @if (Model.ShowlimitedDetail == false)
                                    {
                                        <td>@Model.TotalBalance </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                        @if(Model.UserName != "")
                        { 
                            <p style="float:left; width:50%; text-align:left; font-size:13px;  margin:4px 0 4px 0px ">@Model.UserName</p>
                        }
                        <p style="float:right; width:50%; text-align:right; font-size:13px; margin:4px 0 4px 0px  "> Authorised Signature :</p>
                       
                         @if (Model.ShowRemarks == "1")
                        {
                            <p style="float:left; width:100%;text-align:left;font-size:13px; margin:4px 0 4px 0px  ">Remarks : @Model.Remarks</p>}
                    </div>
                </div>
            </div>
        }
    </body>
</html>
}
else
{
    @Html.Raw(Model.ReceiptTemplate)
}
