﻿@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
html{ width:100%; overflow-x:hidden}
body { font-family: 'Lato', sans-serif; background:#F3F3F3;}
i.ks-required{ color:red; font-size:8px; position:absolute; top:0; right:-10px;}
h1,h2,h3,h4,h5{ font-weight:normal;}
.container {
    max-width:998px!important;
}

.top-space-10{ margin-top:10px!important;}
.top-space-20{ margin-top:20px!important;}
.top-space-30{ margin-top:30px!important;}

 
 
.pagination{ margin:0!important}

.main-container{min-height:400px;}
.page-heading{ padding:10px 0px; border-bottom:1px solid #cccccc;}
.page-heading h1{font-size:22px; margin:0; padding:0}



/* Footer */

.footer-artwork{width:100%; height:150px; background:url(../img/footer_art.gif) top left repeat-x}
.footer-copyright{width:100%;   line-height:40px;}






/* Custom form */
.ks-custom-form label { font-size:13px; font-weight:normal; line-height:16px; padding-right:0;}
 .ks-custom-form fieldset{margin-bottom:10px; padding:10px; border:1px solid #ccc; background:#f6f6f6}
 .ks-custom-form fieldset legend{width:auto; margin-bottom:0; border:0; padding:0 10px;}
 .ks-custom-form .form-group{position:relative; margin-bottom:18px;}
 .ks-custom-form div.error-message{position:absolute; bottom:-16px; right:16px; color:#FF0000; font-size:12px;}
 .ks-custom-form input[type=text],.ks-custom-form select{ height:28px; font-size:13px; -moz-border-radius:0; -o-border-radius:0; -khtml-border-radius:0; -webkit-border-radius:0;border-radius:0;}
 .btn-combo-ks{margin-right:25px;}
 .btn-combo-plus-ks{width:25px; height:28px; border: 1px solid #ccc; border-left:0; float:right; text-align:center; line-height:27px; color:#009933; background:#fff;}

 .error_notification {
    width: 100%;
    height: 25px;
    float: left;
    line-height: 25px;
    margin-top: 5px;    
    padding-left: 30px;
    padding-right: 10px;
    font-size: 12px;
    color: #6c1522;
    font-weight: bold;
    border-top: 1px solid #12709e;
    border-bottom: 1px solid #12709e;
}

 .success_notification {
    width: 100%;
    height: 25px;
    float: left;
    line-height: 25px;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 12px;
    color: #6c1522;
    font-weight: bold;
    border-top: 1px solid #12709e;
    border-bottom: 1px solid #12709e;
}


















