﻿@model ViewModel.ViewModel.Class.ClassMasterModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<!-- View Students list boarding point PopUp -->
<div class="modal-popup" id="studentsList" style="display: none">
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closedetailsdiv" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <!-- Form Row -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Grid -->
                        @Html.Hidden("hdnStuClass_id")
                        <div id="Studentlist_grid" hidden>
                            <script>
                                $(document).ready(function () {
                                    $("#Studentlist_grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("ViewStudentsListGird", "Class"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    contentType: "application/json",
                                                    data: additionalDataListPopup
                                                },
                                                parameterMap: function(data) {
                                                    return JSON.stringify(data);
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function(e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        dataBound: onDataBoundListPopup,
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: false,
                                        sortable: true,
                                        columns: [{
                                            field: "EncStudentId",
                                            hidden: true
                                        },{
                                            field: "FullName",
                                            title: "Student Name",
                                            sortable: true
                                        },{
                                            field: "AdmnNo",
                                            title: "Admn No",
                                            sortable: true
                                        },{
                                            field: "RollNoInt",
                                            title: "Roll No",
                                            sortable: true
                                        },{
                                            field: "EncStudentId",
                                            title: "Action",
                                            sortable: false,
                                            template:'#{# <a title="View Student Detail" data-toggle="tooltip" data-placement="top" target="_blank" href="@Html.Raw(Url.Action("StudentProfile", "Student"))/#=EncStudentId#"  class=" btn btn-xs btn-default" style=" cursor:pointer" ><i class="fa fa-eye"></i></a>#}#'
                                        }]

                                    });

                                    var grid = $("#Studentlist_grid").data("kendoGrid");
                                });
                                function onDataBoundListPopup(arg) {
                                    $('[data-toggle="tooltip"]').tooltip();
                                }
                                function additionalDataListPopup() {
                                    var data = {
                                        "Id": $(".modal-body").find('#hdnStuClass_id').val(),
                                        "sessionId":$("#sessionId_Filter").val()
                                    };

                                    addAntiForgeryTokenListPopup(data);
                                    return data;
                                }

                                addAntiForgeryTokenListPopup = function (data) {
                                    data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                                    return data;
                                }
                            </script>
                        </div>
                        @*<table class="table table-responsive table-condensed" id="Studentlist_grid">
                                <thead class="thead-default">
                                    <tr>
                                        <th style="width: 20%">Student Name</th>
                                        <th style="width: 15%">Admn No</th>
                                        <th style="width: 10%">Roll No</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody style="overflow: auto;"></tbody>
                            </table>*@
                        <!-- Grid -->
                    </div>
                </div>
                <!-- Form Row -->
            </div>
        </div>
    </div>
</div>
<!-- View Students list boarding point PopUp -->

<div class="modal-popup" id="ChangeSortingIndex_div" hidden>
    <div class="modal-popup-body" style="width: 342px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySortingModalLabel"></h4>

            </div>

            <div class=" modal-body">
                <label>Index No</label>
                <input id="Editable_ClassId" name="Editable_ClassId" type="hidden" value="" />
                <input maxlength="20" id="Editable_SortingIndex" onkeypress="return isNumberKey(event)" />
                <input type="button" name="name" value="Update" id="Update_SortingIndex" />
                <span id="errorIndex" style="display:none;color:red;font-size:12px;margin-left:60px">Index Already Exist</span>
                
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ClassMaster-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SelectClassMasterList", "Class"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDatainbox
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            //sortable: {
            //    mode: "multiple",
            //    allowUnsort: false
            //},
            columns: [{
                field: "EncClassId",
                title: "Class Id",
                sortable: true,
                hidden: true
            },{
                field: "ClassDeletionFlag",
                title: "Deletion Flag",
                sortable: true,
                hidden: true
            },{
                field: "StandardId",
                title: "Class Id",
                sortable: true,
                hidden: true
            },{
                field: "SectionId",
                title: "Class Id",
                sortable: true,
                hidden: true
            },{
                field: "Class",
                title: "Class",
                sortable: true
            },{
                field: "Standard",
                title: "Standard",
                sortable: true
            },{
                field: "Section",
                title: "Section",
                sortable: true
            },{
                field: "StudentCount",
                title: "StudentCount",
                sortable: true
            },{
                field: "RoomNo",
                title: "RoomNo",
                sortable: true,
                hidden: true
            },{
                field: "Index",
                title: "Index",
                sortable: true,
                template: '#if(Index!="" && Index!=null){#<label class="sortingindex" data-class="#=Class#" data-id="#=EncClassId#" data-index="#=Index#" title="Change Index" style="cursor:pointer;">#=Index#</label>'
                                                      + '#}else{#<label class="sortingindex" data-class="#=Class#" data-id="#=EncClassId#" data-index="" title="Change Index" style="cursor:pointer;">...</label> #}#'
            },
                          @if (Model.IsAuthToDelete || Model.IsAuthToEdit || Model.IsAuthToView) {
                              <text>
                          {
                              field: "Action",
                              title: "Action",
                              width:130,
                              sortable: false,
                              template:
                                    @if (Model.IsAuthToEdit)
                                      {
                                       <text>
                                  '#if(ClassDeletionFlag&&IsAllSectionsBound){# <a class="Edit_class_master btn btn-xs btn-default" title="Edit" data-toggle="tooltip" data-placement="top"  style="cursor:pointer" onclick="location.href=" @Url.Action("EditClassMaster", "Class")""><i class="fa fa-pencil" aria-hidden="true"></i></a>#}#'
                              </text>}
                                      @if (Model.IsAuthToDelete)
                                      {
                                       <text>
                                      +'#if(ClassDeletionFlag){# <a title="Delete" data-toggle="tooltip" data-placement="top" id="#=EncClassId#" class="k-grid-classmaster-myDelete btn btn-xs btn-default" style=" cursor:pointer" ><i class="fa fa-trash"></i></a>#}#'
                              </text>}
                                      @if (Model.IsAuthToView)
                                  { <text>
                           +'#if(StudentCount!=0){#<a title="View Students"  data-toggle="tooltip" data-placement="top" data-id="#=EncClassId#" class="ViewStudents_grid btn btn-xs btn-default" style="cursor:pointer" ><i class="fa fa-eye"></i></a>#}#'

                              </text>}
                          } </text>}]
        });
        var grid = $("#ClassMaster-grid").data("kendoGrid");
    });
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    $("#ClassMaster-grid").on("click", ".ViewStudents_grid", function (e) {
        //e.preventDefault();
        $('#ks_loader').show();
        var encclassId=$(this).attr("data-id");
        $(".modal-body").find('#hdnStuClass_id').val(encclassId);

        $("#Studentlist_grid").show();
        $("#studentsList").show();
        var sessionId=$("#sessionId_Filter").val();
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("GetStudentsList", "Class"))',
            data: { "id": encclassId,"sessionId":sessionId},
            success: function (result) {
                if (result.status == "success") {
                    $("#studentsList").find('#myModalLabel').html('');
                    if(result.data.length > 0)
                    {
                        $("#studentsList").find('#myModalLabel').html("<b> Class : '" 
                                                                    + result.data[0].CurrentClass 
                                                                    + "' Students </b>");
                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $("#Studentlist_grid").data('kendoGrid').dataSource.read({ "Id": encclassId,"sessionId":$("#sessionId_Filter").val()});
        $('#ks_loader').hide();
    });

    $('#closedetailsdiv').click(function(){
        $('#studentsList').hide();
    });

    $("#ClassMaster-grid").on("click", ".k-grid-classmaster-myDelete", function (e) {
        e.preventDefault();
        var id = $(this).prop("id");

        var command = $(this);
        var cell = command.closest("td");

        command.remove();
        cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" href=""><i class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').prop("id", id);
    });

    $("#ClassMaster-grid").on("click", ".k-grid-myCancel", function (e) {
        e.preventDefault();
        var id = $('.k-grid-myConfirm').prop("id");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        $('.k-grid-myConfirm').remove();
        cell.append('<a class="k-grid-classmaster-myDelete btn btn-xs btn-default" href=""><i class="fa fa-trash"></i></a>');
        $('.k-grid-classmaster-myDelete').prop("id", id);
    })
    //delete ajax method
    $("#ClassMaster-grid").on("click", ".k-grid-myConfirm", function (e) {
        var row=$(this).parent().parent();
        var flag=row.find('td:nth-child(2)').text();
        $('.create_Class_Master_div').css("display", "none");
        //clearfields();
        e.preventDefault();
        $('.success_notification').html('');
        $('.error_notification').html('');
        $('#ks_loader').show();
        var id = $(this).attr("id");
        if(flag)
        {
            if(confirm("You are going to lost all data related to this class,Are you sure want to delete this class")==true){
                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("DeleteClassMaster", "Class"))',
                    data: { "id": id},
                    success: function (result) {

                        if (result.status == "success") {
                            alert(result.msg);
                            @*window.location=@Url.Action("ClassMaster", "Class")*@
                            //$('#success_notification_div').show();
                            //$('#success_notification_div ul').append("<li>"+result.msg+"</li>");
                            var grid = $('#ClassMaster-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            $('#Reset_ClassMaster').trigger('click');
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () { 
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else
            {
                $('#ks_loader').hide();
                return false;
            }
        }
        else
        {
            $('#ks_loader').hide();
            ToastMessage("Can't Delete Class Already in Use", "error", true, 5000);
            return false;
        }

    })
    function additionalDatainbox() {
        var data = {
            StandardId:$('#StandardId_filter').val(),
            SectionId:$('#SectionId_filter').val(),
            Session:$('#sessionId_Filter').val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    }

    
    $("#ClassMaster-grid").on("click", ".Edit_class_master", function (e) {
        $('#add_fee_ClassMaster').hide();
        $('.create_Class_Master_div').css("display", "block");
        $('.Filter_Class_Master_div').css('display', 'none');
        e.preventDefault();
        var grid = $(this).parent().parent();
        $('#StandardId').val(grid.find("td:nth-child(3)").text()).trigger('change');

        $("#Index").val("");
        var SortingIndex=grid.find(".sortingindex").text().trim();
        if(SortingIndex!="" && SortingIndex!=null){
            $("#Index").val(SortingIndex);
        }
        $('#SectionId').append('<option value="' + grid.find("td:nth-child(4)").text() + '">' + grid.find("td:nth-child(7)").text() + '</option>');
        $("#SectionId option").sort(function(a, b) {
            if ($(a).text().toUpperCase() < $(b).text().toUpperCase()) return -1;
            if ($(a).text().toUpperCase() > $(b).text().toUpperCase()) return 1;
            return 0;
        }).appendTo('#SectionId');

        $('#SectionId').val(grid.find("td:nth-child(4)").text()).trigger('change');

        $('#Update').show();
        $('#Save').hide();
        $('#EncClassId').val(grid.find("td:nth-child(1)").text()).trigger('change');
        ScrollToTop();
    })

    $('#export_ClassMaster').click(function(){
        $('#ks_loader').show();
        var grid = $("#ClassMaster-grid").data("kendoGrid");
        grid.hideColumn("Action");
        grid.saveAsExcel();
        setTimeout(function(){
            grid.showColumn("Action");
            $('#ks_loader').hide();
        },5000);
    });

    $("#print_ClassMaster").click(function (e) {
        $('#ks_loader').show();
        var StandardId = $('#StandardId_filter').val();
        var SectionId = $("#SectionId_filter").val();
        var IsExcel = "2";
        $.ajax({
            type: "GET",
            async: true,
            url: '@Html.Raw(Url.Action("Export", "Class"))',
            data: {},
            success: function (result) {
                window.open("../Class/ExportData?StandardId=" + StandardId + "&SectionId=" + SectionId + "&IsExcel=" + IsExcel,"_blank");
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#ks_loader').hide();
    });
  
    $("#close_div").click(function(){
        $("#ChangeSortingIndex_div").hide();
    })

    $("#ClassMaster-grid").on("click", ".sortingindex", function () {
        $('#ks_loader').show();
        $("#errorIndex").hide();
        var IndexValue=$(this).attr('data-index').trim();
        var editClassId =$(this).attr('data-id').trim();

        $("#mySortingModalLabel").text("Change Index Of "+ $(this).attr("data-class").trim());
        if(editClassId!=null && editClassId!=""){
            $("#Editable_ClassId").val(editClassId);
        }
        else{
            ToastMessage("Invalid Class", "error", true, 5000);
            $('#ks_loader').hide();
        }
        if(IndexValue!=""&& IndexValue!=null){
            $('#Editable_SortingIndex').val(IndexValue);
            $('#ks_loader').hide();
        }
        else{
            $('#Editable_SortingIndex').val("");
            $('#ks_loader').hide();
        }
        $("#ChangeSortingIndex_div").show();
        $('#Editable_SortingIndex').focus();
    });
    $("#Update_SortingIndex").click(function(){
        var IndexValue=$("#Editable_SortingIndex").val();
        var EncClassId = $("#Editable_ClassId").val();
        if(EncClassId!=null && EncClassId!=""){
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("UpdateStandardSortingIndex", "Class"))',
                data: { "EncClassId": EncClassId,"SortingIndex":IndexValue},
                success: function (result) {
                    if (result.status == "success") {
                        $("#Editable_SortingIndex").val("");
                        $("#Editable_ClassId").val("");
                        $("#ChangeSortingIndex_div").hide();
                        ToastMessage(result.msg, "success", true, 5000);
                        var grid = $('#ClassMaster-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        $('#ks_loader').hide();
                    }
                    else if(result.status=="Exist") {
                        $("#errorIndex").show();
                        $('#ks_loader').hide();
                    }
                },
                error: function () { 
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        }else{
            ToastMessage("Invalid Class", "error", true, 5000);
            $('#ks_loader').hide();
        }

    })
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
