﻿@model ViewModel.ViewModel.Class.StudentBoardRollNoModel

@{
    ViewBag.Title = "Assign Board RollNo ";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    else if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }

    <div class="col-md-6">
        <h1>Assign Board RollNo</h1>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("BoardRollNo", "Class", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.DataArray)

            <div class="row">

                <!-- Form Coulmn -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Standard: </label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandards, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <!-- Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-4 sectionsdiv">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Sections: </label><!-- Form Label -->
                        <div class="col-md-8">
                            <div id="sections">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Form Coulmn -->
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="button" hidden value="Filter" name="Search" class="btn btn-default" id="filter_btn" />
                    </div>
                </div>
            </div>

            <div class="row top-space-10">
                <div id="studentlistdiv">
                    <table id="student_grid" class="table table-condensed table-responsive table-striped">
                        <thead class="thead-default">
                            <tr>
                                <th style="width: 25%">Student</th>
                                <th style="width: 10%">Class</th>
                                <th style="width: 10%">Roll No</th>
                                <th style="width: 10%">Board RollNo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            if (Model.IsAuthToUpdate)
            {
                <div class="">
                    <div class="form-group">
                        <input type="button" value="Save" name="Save" class="btn btn-success" id="save_btn" style="display:none" />
                    </div>
                </div>
            }
        }

    </div>
</div>

<script>

    $('.sectionsdiv').hide();
    $('#filter_btn').hide();
    $('#studentlistdiv').hide();

    $('#StandardId').change(function () {
        $('#save_btn').hide();

        $('#student_grid tbody').html("");
        $('#studentlistdiv').hide();

        $('.sectionsdiv').hide();
        $('#filter_btn').hide();
        $('#sections').html("");
        $('#ks_loader').show();
        if ($(this).val() != "") {
            $('#ks_loader').show();
            @* get standard section *@
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetStandardSections", "Class"))',
                data: { "Standard": $(this).val() },
                success: function (result) {
                    if (result.status == "success") {

                        for (var i = 0; i < result.data.length; i++) {

                            var section = '<label class="checkbox-inline">'
                                          + '<input style="margin-top: 2px" data-id="' + result.data[i].SectionId + '" checked type="checkbox" class="section_chk" />' + result.data[i].SectionName + '</label>';

                            $('#sections').append(section);
                        }

                        $('.sectionsdiv').show();
                        $('#filter_btn').show();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }

                    $('#ks_loader').hide();
                },
                error: function (status, data) {
                    var err = "Error: " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        }
        else {
            $('#ks_loader').hide();
            return false;
        }
    });

    $('#filter_btn').click(function () {
        $('#ks_loader').show();
        $('#filter_btn').attr("disabled", true);
        $('#save_btn').hide();
        $('#studentlistdiv').hide();
        $('#student_grid tbody').html("");
        // check section
        var sections = "";

        $(".section_chk").each(function () {
            if ($(this).prop("checked") == true)
                sections = sections + $(this).attr("data-id") + ",";
        });

        if (sections != "")
            sections = sections.slice(0, -1);

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetStudentListByStandard", "Class"))',
            data: { "Standard": $('#StandardId').val(), "Sections": sections },
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {

                        var row = "<tr>" + "<td class='StdClassIK' style='display: none'>"
                                    + result.data[i].StudentClassId + "</td>";

                        if (result.data[i].StudentStatus == "InActive") {
                            row += "<td style='color:blue'>" + result.data[i].StudentName + "</td>";
                        }
                        else {
                            row += "<td>" + result.data[i].StudentName + "</td>";
                        }

                        row += "<td>" + result.data[i].ClassName + "</td>"
                        + "<td>" + result.data[i].RollNo + "</td>"
                        + "<td><input type='text' maxlength='15' class='form-control numericonly clsboardrollno' value='" + result.data[i].BoardRollNo + "' /></td>"
                        + "<td  style='display: none' class='clsisrollno'>" + result.data[i].BoardRollNo + "</td>"
                        + "</tr>";

                        $('#student_grid tbody').append(row);
                    }

                    if (result.data.length == 0) {
                        var row = "<tr><td class='text-center' colspan='4'>No data found</td></tr>";
                        $('#student_grid tbody').append(row);
                    }
                    else
                        $('#save_btn').show();

                    $('#studentlistdiv').show();
                }
                else
                    ToastMessage(result.msg, "error", true, 5000);
                setTimeout(function () {
                    $('#ks_loader').hide();
                    $('#filter_btn').removeAttr("disabled");
                }, 1000);
            },
            error: function (status, data) {
                var err = "Error: " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    //$(document).on("keydown", ".clsboardrollno", function (e) {
    //    NumericOnly(e);
    //});

    $(document).on("input", ".clsboardrollno", function () {
        if ($(this).val().trim() != "") {
            var InputBoardRollNo = $(this);
            var row = $(this).parent().parent();
            var rowindex = row.index();

            $('#student_grid tbody tr').each(function () {
                var boardRollNo = $(this).find('.clsboardrollno').val().trim();
                if (boardRollNo == InputBoardRollNo.val().trim() && rowindex != $(this).index()) {
                    InputBoardRollNo.val("");
                    ToastMessage("Board Roll no. already exist", "error", true, 5000);
                    return false;
                }
            });
        }
    });

    $(document).on('keyup', '.clsboardrollno', function () {
        var value = this.value;
        if (parseInt(value) == 0) {
            alert("Please enter valid Board Roll No \n");
            ToastMessage("Please enter valid Board Roll No", "error", true, 5000);
            $(this).val('');
        }
    });
    //SAVE BOARD ROLL NO

    $('#save_btn').click(function () {
        $('#ks_loader').show();
        var BoardRollNoStudent = new Array();
        var BoardRollNoStudentobj = new Object();
        var rowindex = 0;
        var Chkcount = 0;
        var count = 0;
        $('#student_grid tbody tr').each(function () {
            var row = $(this);
            rowindex = row.index();

            BoardRollNoStudentobj = new Object();
            var boardrollno = row.find('.clsboardrollno').val().trim();
            var Iseditboardrollno = row.find('.clsisrollno').text();

            if ((boardrollno != "") || (boardrollno == "" && Iseditboardrollno != "")) {
                count = count + 1;
                BoardRollNoStudentobj.StudentClassId = row.find('.StdClassIK').text();
                BoardRollNoStudentobj.BoardRollNo = boardrollno;
                BoardRollNoStudent.push(BoardRollNoStudentobj);
            }
        });

        if (count == 0) {
            ToastMessage("Please enter at least one BoardRollNo", "error", true, 5000);
            $('#ks_loader').hide();
            return false;
        }
        else {
            var model = new Object;
            model.DataArray = JSON.stringify(BoardRollNoStudent);

            // ajax call
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("BoardRollNo", "Class"))',
                data: model,
                success: function (result) {
                    if (result.status == "success") {
                        // merge alert
                        var message = result.msg;
                        if (result.data != "") {
                            var data = "";
                            if (result.InValid)
                                data = " These Board Roll No Invalid: " + result.data;
                            else
                                data = " These Board Roll No already exists: " + result.data;

                            message += message != "" ? "\n " + data : data;
                        }
                        ToastMessage(message, "success", true, 5000);
                        $('#ks_loader').hide();
                        $('#filter_btn').trigger("click");
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    })
</script>