﻿@model ViewModel.ViewModel.Class.ClassMasterModel
@{
    ViewBag.Title = "Class Master";
}
<!-- Validation show -->
<div class="col-md-12 text-danger" id="data_validation_div_ClassMaster" style="display: none;">
    <ul></ul>
</div>
<!-- Validation show -->
@*hidden fields*@


<input id="rowindex_ClassMaster" name="rowindex" type="hidden" value="" />

<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Class Master</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">

        <a href="javascript:void(0)" id="filter_fee_ClassMaster" class="btn btn-xs btn-default">Filters</a>


        @if (Model.IsAuthToAdd)
        {
            <a href="javascript:void(0)" id="add_fee_ClassMaster" class="btn btn-xs btn-default">Add New</a>
        }
        <a href="javascript:void(0)" id="export_ClassMaster" class="btn btn-xs btn-default">Export To Excel</a>
        <a href="javascript:void(0)" id="print_ClassMaster" class="btn btn-xs btn-default">Print</a>
        
    </div>
</div>

@using (Html.BeginForm("ClassMaster", "Class", FormMethod.Post, new { @class = "form-horizontal ks-custom-form create_Class_Master_div", @style = "display:none" }))
{
    @Html.HiddenFor(m => m.EncClassId)
    <!-- Form Row -->
    <div class="row  top-space-10">
        <div class="col-md-3">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Standard</label>
                @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandard, new { @class = "form-control create_classname" })
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.StandardId)</span>
                </div>
                <!-- //Error Message -->
            </div>
            <!-- //Form Coulmn -->
        </div>
        <!-- Form Coulmn -->
        <div class="col-md-3">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Section</label>
                @Html.DropDownListFor(model => model.SectionId, Model.AvailableSection, new { @class = "form-control create_classname" })
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.SectionId)</span>
                </div>
                <!-- //Error Message -->
            </div>
            <!-- //Form Coulmn -->
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-2">
            <div class="">
                <label class=" control-label">Class</label>
                @if (Model.IsClassNameEditable)
                {

                    @Html.TextBoxFor(model => model.Class, new { @class = "form-control ClassName", @maxlength = "20" })
                 <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.Class)</span>
                    </div>
            <!-- //Error Message -->
                }
                else
                {

                    @*@Html.LabelFor(model => model.Class, new { @class = " control-label form-control ", @maxlength = "20" })*@
                    <label class="label-as-control" id="random_name"> @Model.Class</label>
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.Class)</span>
                    </div>
            <!-- //Error Message -->
                }
            </div>
        </div>

        <div class="col-md-3">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Index</label>
                @Html.TextBoxFor(model => model.Index, new { @class = "form-control index", @maxlength = "20",@onkeypress="return isNumberKey(event)" })
                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>@Html.ValidationMessageFor(model => model.Index)</span>
                </div>
                <!-- //Error Message -->
            </div>
            <!-- //Form Coulmn -->
        </div>
        <!-- //Form Coulmn------------------hidden for future use -------------->
        @*<div class="col-md-2">
                <!-- Form Coulmn -->
                @*<div class="">
                    <label class=" control-label">Room No</label>
                    @Html.TextBoxFor(model => model.RoomNo, new { @class = "form-control", @maxlength = "20" })
                </div>
                <!-- //Form Coulmn -->
            </div>*@
        <!-- Form Coulmn -->


        <div class="col-md-4">
            @if (Model.IsAuthToAdd)
            {
                <button type="submit" id="Save" name="save" class="btn btn-success" style="margin-top:25px">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            }
            @if (Model.IsAuthToEdit)
            {
                <button type="submit" id="Update" name="save" class="btn btn-success" style="margin-top:25px">
                    <i class="fa fa-floppy-o"></i>
                    Update
                </button>
            }
            <button type="button" class="btn btn-danger" id="Reset_ClassMaster" style="margin-top:25px">
                <i class="fa fa-ban"></i>
                Cancel
            </button>
        </div>
    </div>
}
<form class="form-horizontal ks-custom-form Filter_Class_Master_div" style="display:none">
    <div class="row  top-space-10">
        <div class="col-md-3">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Session</label>
                @Html.DropDownListFor(model => model.CurrentSession, Model.AvailableSessions, new { @class = "form-control",@id="sessionId_Filter" })
            </div>
            <!-- //Form Coulmn -->
        </div>

        <div class="col-md-3">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Standard</label>
                @Html.DropDownList("standard", Model.AvailableStandardFilter, new { @class = "form-control ", @id = "StandardId_filter" })
            </div>
            <!-- //Form Coulmn -->
        </div>
        <!-- Form Coulmn -->
        <div class="col-md-3">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Section</label>
                @Html.DropDownList("section", Model.AvailableSectionFilter, new { @class = "form-control ", @id = "SectionId_filter" })
            </div>
            <!-- //Form Coulmn -->
        </div>
        <!-- Form Coulmn -->
        <div class="col-md-4">

            <button type="button" id="Filter_classMaster" name="save" class="btn btn-default" style="margin-top:25px">

                Filter
            </button>

            <button type="button" class="btn btn-danger" id="Reset_filter_ClassMaster" style="margin-top:25px">
                <i class="fa fa-ban"></i>
                Reset
            </button>
        </div>
    </div>
</form>
@*table for displaying Class Master*@
<div id="ClassMaster-grid" class="top-space-10"></div>
@(Html.Partial("~/Views/Class/_classmasterkendolist.cshtml", Model))


<script type="text/javascript">

  

    $(document).ready(function () {
        //get contacttype dropdownlist
         
        $('#StandardId').change(function () {
            var standardId = $(this).val();
            if (standardId >0) {
                $.ajax({
                    async:false,
                    type: "Post",
                    url: '@Html.Raw(Url.Action("GetSectionsList", "Class"))',
                    data: { "SI": standardId},
                    success: function (result) {
                        $('#SectionId').html('');
                        $.each(result.data, function () {
                            $('#SectionId').append('<option value="' + this.SectionId + '">' + this.SectionName + '</option>');
                        });
                      
                        $('#ks_loader').hide();
                    },
                    error: function () {
                        ToastMessage("error", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            } else {
                $('#ks_loader').hide();
            }
        });


        $('#Filter_classMaster').click(function () {
            var grid = $('#ClassMaster-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
        })


        $('#filter_fee_ClassMaster').click(function () {

            $('.Filter_Class_Master_div').css('display', 'block');
            $('.create_Class_Master_div').css("display", "none");
        })
        function resetfilters() {
            $('#StandardId_filter').val(""),
          $('#SectionId_filter').val(""),
            $('#sessionId_Filter').val('@Model.CurrentSession')
            var grid = $('#ClassMaster-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
        }
        $('#Reset_filter_ClassMaster').click(function () {
            $('.Filter_Class_Master_div').css('display', 'none');
            resetfilters();
        })
        $('#add_fee_ClassMaster').click(function () {
            $('.create_Class_Master_div').css("display", "block");
            $('.Filter_Class_Master_div').css('display', 'none');
            clearfields();
            resetfilters();
            $('#Update').hide();
            $('#Save').show();
        })

        function clearfields() {
            $('#StandardId').val("").trigger('change');
            $('#SectionId').val("").trigger('change');
            $('#Index').val("")
            $('#EncClassId').val("");
        }
        $('.error-message').each(function () {
            var current = $(this);
            if (current.children('span').text() != "")
                current.show();
            else
                current.hide();
        });

        @if (Model.IsModelError)
        {
            <text>
        $('.create_Class_Master_div').css('display','block');
            </text>
        }

        @if (Model.Class != null)
    {
        <text>
        $('#random_name').text('@Model.Class');
        </text>
    }
        @if (Model.EncClassId != null)
       {
           <text>
        $('#Update').css('display', 'block');
        $('#Save').hide();
        </text>
       }
        $('.create_classname').change(function () {
            var standard = $('#StandardId option:selected').text();
            var section = $('#SectionId option:selected').text();
            var standardid = $('#StandardId').val();
            var sectionid = $('#SectionId').val();
            if (standardid != "" && sectionid != "") {
                var classname = standard + " " + section;
                $('#random_name').text(classname);
                $('.ClassName').val(classname);
            }
            if (standardid == "" || sectionid == "") {

                $('#random_name').text('');
                $('.ClassName').val('');
            }
        })

        $('#Update').hide();
        $('#Reset_ClassMaster').click(function () {
            $('#add_fee_ClassMaster').show();
            $('.create_Class_Master_div').css("display", "none");
            clearfields();
            $('#Update').hide();
            $('#Save').show();
            $('#data_validation_div_MarksPattern ul').text("");
            $('#StandardId').val("").trigger('change');
            $('#SectionId').val("").trigger('change');
            $('#Index').val("")
            $('#random_name').val("");
            $(".ClassName").val("");
            $('#EncClassId').val('');
        })

      function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        //Index
    });


</script>


