﻿@model ViewModel.ViewModel.Store.StoreInfo
@{
    ViewBag.Title = "ManageStore";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<div id="validation_para" hidden>
    <ul></ul>
</div>
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Store User</h1>
    </div>

</div>
<div class="modal-popup" id="AddNewStore_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <div class="col-md-12">
                    <div class="form-group">
                        <label id="lberror" style="color:red;"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Store Type</label>
                        @Html.DropDownList("drpSTList", Model.StoreTypeList, new { @class = "form-control storecls", tabindex = 1, @id = "drpSTList" })
                    </div>
                    <div class="form-group" id="dvNewProduct" style="display:none;">
                        <label class="control-label col-md-4">Store Name</label>
                        @Html.TextBox("txtStoreName", Model.StoreName, new { @class = "custText form-control", @autofocus = "on", tabindex = 2, id = "txtStoreName", @placeholder = "Store Name" })
                    </div>
                    <div class="form-group">
                        <label class="control-label custLabels">Is Purchase(Y/N)</label>
                        @Html.CheckBoxFor(model => model.IsPurchase, new { tabindex = 3 })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" name="save" class="btn btn-success " id="Add_divDetail">
                        Save
                    </button>
                    <button type="button" name="save" class="btn btn-danger " id="closeAdd_divDetail">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm("ManageStore", "Store", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.StoreId)

        <input type="hidden" id="hdnPageStatus" value="false" />
        <div class="pull-right backtolist_div" hidden>
            <button type="button" id="btnbackTo" class="btn btn-xs btn-default">Back to List</button>
        </div>

        <div>
            <div class="row col-md-7 pull-right addnew_div top-space-20">
                <div class="col-md-4 pull-right">
                    <button type="button" id="btnfilter" class="btn btn-xs btn-default"> Filter</button>
                    <button type="button" id="btnadd" class="btn btn-xs btn-default">Add</button>
                </div>
            </div>
            <!--  Filters -->
            <div class="row col-md-12 top-space-20" style="display: none" id="div_filter">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Store</label>
                        @Html.DropDownList("drpStoreList", Model.StoreList, new { @class = "form-control storecls" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">User Role</label>
                        @Html.DropDownList("drpUserRoleList", Model.UserRoleList, new { @class = "form-control storecls" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">User Role</label>
                        @Html.DropDownList("drpUserList", Model.UserList, new { @class = "form-control storecls" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3 pull-right form-group" style="margin-top:10px;">
                        <button type="button" id="filter" class="btn btn-default btn-success"><i class="fa fa-search"></i> Filter</button>
                        <button type="button" id="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </div>
            </div>
            <div class="row" style="display: none" id="div_add">
                <div class="col-md-12  top-space-20">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label custLabels">
                                Store<i class="fa fa-asterisk ks-required"></i>
                                <i class="fa fa-plus" id="addnewStore"></i>
                            </label>
                            @Html.DropDownListFor(m => m.StoreId, Model.StoreList, new { @autofocus = "on", tabindex = 1, @class = "form-control commoncls" })
                            <!-- Error Message -->
                            <div class="error-message" style="display:none">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>@Html.ValidationMessageFor(model => model.StoreId)</span>
                            </div>
                            <!-- //Error Message -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label custLabels">User Role<i class="fa fa-asterisk ks-required"></i></label>
                            @Html.DropDownListFor(m => m.UserRoleId, Model.UserRoleList, new { @autofocus = "on", tabindex = 1, @class = "form-control commoncls" })
                            <!-- Error Message -->
                            <div class="error-message" style="display:none">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>@Html.ValidationMessageFor(model => model.UserRoleId)</span>
                            </div>
                            <!-- //Error Message -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label custLabels">User<i class="fa fa-asterisk ks-required"></i></label>
                            @Html.DropDownListFor(m => m.UserId, Model.UserList, new { @autofocus = "on", tabindex = 1, @class = "form-control commoncls" })
                            <!-- Error Message -->
                            <div class="error-message" style="display:none">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>@Html.ValidationMessageFor(model => model.UserId)</span>
                            </div>
                            <!-- //Error Message -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-md-3 pull-right form-group" style="margin-top:10px;">
                                <button type="button" id="addnewstoreuser" class="btn btn-default btn-success"><i class="fa fa-search"></i> Add</button>
                                <button type="button" id="CancelStoreUser" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
