﻿@model ViewModel.ViewModel.Student.AssignRollnoModel

@{
    ViewBag.Title = "Assign RollNo ";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    else if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }

    <div class="col-md-6">
        <h1>Assign RollNo</h1>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("CreatePdfadmitted", "Common", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.htmldata)

            <input type="submit" id="triggerpdfstudentreg" title="Download Pdf" class="btn btn-xs pull-right btn-default" value="download" style="display:none" />
        }
        @using (Html.BeginForm("AssignRollNo", "Promotion", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AssignedArray)
            <!-- Form Row -->
            <div class="row">
                <input type="submit" name="Search" id="filter" hidden />
                <div class="form-group">
                    <label>Session </label>
                    @Html.DropDownListFor(model => model.CurSessionId, Model.AvailableSessions, new { @class = "drop-down form-control" })
                    <!-- Error Message -->
                    <div class="error-message" hidden>
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.CurSessionId)
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="form-group">
                    <label>Section </label>
                    @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "drop-down form-control" })
                    <!-- Error Message -->
                    <div class="error-message" hidden>
                        <i class="fa fa-exclamation-triangle"></i>
                        @Html.ValidationMessageFor(model => model.ClassId)
                    </div>
                    <!-- //Error Message -->
                </div>

                @if (Model.AdmitStudentslist.Count > 0)
                {
                    <!-- Form Row -->
                    if (Model.AdmitStudentslist.Where(s => s.RollNo == null || s.RollNo == "").Count() > 0)
                    {
                        <div class="form-group">
                            <label>RollNo Start From</label>
                            @Html.TextBoxFor(model => model.RollNoStartFrom, new { @class = "form-control", @readonly = "readonly" })
                        </div>

                        if (Model.IsAuthToAdd)
                        {
                            <div class="form-group">
                                <button type="submit" name="Save" id="save-promote" class="btn btn-success">Assign RollNo</button>
                            </div>
                        }
                    }
                    if (Model.IsAuthToEdit)
                    {
                        <div class="form-group">
                            <button type="button" name="reset" id="resetclassrollno" class="btn btn-danger">Reset Assigned</button>
                        </div>
                    <div class="form-group">
                        <button type="button" name="reset" id="editrollno" class="btn btn-success">Edit RollNo</button>
                        </div>
                    <div class="form-group">
                        <button type="button" name="reset" id="updaterollno" style="display:none" class="btn btn-success">Update</button>
                     </div>
                    <div class="form-group">
                        <button type="button" name="reset" id="cancelrollno" style="display:none" class="btn btn-danger">Cancel</button>
                     </div>
                    }
                }

            </div>

            if (Model.IsSeprateTable)
            {
                <div class="row">
                    <div id="div-Students-Grid" hidden>
                        <table id="grid" class="table table-bordered table-condensed table-responsive table-striped">
                            <thead class="thead-default">
                                <tr>
                                    <th class="col-md-2 clsadmn-td">Admission No.</th>
                                    <th class="col-md-3">Student Name</th>
                                    <th class="col-md-1">Gender</th>
                                    <th class="col-md-3">Father Name</th>
                                    <th class="col-md-3">Roll No</th>
                                    <th class="col-md-3">Status</th>
                                    <th class="col-md-3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var a=0;
                foreach (var item in Model.AdmitStudentslist.Where(s => s.RollNo == null || s.RollNo == ""))
                {
                    a = a + 1;
                    <tr>
                        <td class="cls-stdclsId" style="display: none">@item.StudentClassId</td>
                        <td class="clsadmn-td">@item.Admnno</td>
                        <td>@item.StudentName</td>
                        <td>@item.Gender</td>
                        <td>@item.FatherName</td>
                        <td class="editrollnocol1_@a">@item.RollNo</td>
                        <td style="color: @item.Color">@item.StudentStatus</td>
                        <td><a href="javascript:void(0)" id="pdfstudentreg" onclick="DownloadPdf()" title="Download Pdf" class="btn btn-xs pull-right btn-default">Download</a></td>
                    </tr>
                }
                                }
                            </tbody>
                        </table>

                        @if (Model.AdmitStudentslist.Where(s => s.RollNo != null || s.RollNo != "").Count() > 0)
                        {
                            <div class="row">
                                <p class="col-md-12">Issued Rollno Students List <a href="javascript:void(0)" id="clickhere">Detail</a></p>
                                <div id="alreadyasignedstdgrid" class="col-md-12" hidden>
                                    <table class="table table-bordered table-condensed table-responsive table-striped">
                                        <thead class="thead-default">
                                            <tr>
                                                <th class="col-md-2 clsadmn-td">Admission No.</th>
                                                <th class="col-md-3">Student Name</th>
                                                <th class="col-md-1">Gender</th>
                                                <th class="col-md-3">Father Name</th>
                                                <th class="col-md-3">Roll No</th>
                                                <th class="col-md-3">Status</th>
                                                @if (Model.IsAuthToExport == true)
                                                {
                                                    <th class="col-md-3">Action</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var b=0;
                            foreach (var item in Model.AdmitStudentslist.Where(s => s.RollNo != null && s.RollNo != ""))
                            {
                                b = b + 1;
                                <tr>
                                    <td class="cls-stdclsId" style="display: none">@item.StudentClassId</td>
                                    <td class="clsadmn-td">@item.Admnno</td>
                                    <td>@item.StudentName</td>
                                    <td>@item.Gender</td>
                                    <td>@item.FatherName</td>
                                    <td class="editRollNocol_@b">@item.RollNo</td>
                                    <td style="color: @item.Color">@item.StudentStatus</td>
                                    @if (Model.IsAuthToExport == true)
                                    {
                                        <td><a href="javascript:void(0)" id="pdfstudentreg" onclick="DownloadPdf()" title="Download Pdf" class="btn btn-xs pull-right btn-default">Download</a></td>
                                    }
                                </tr>
                            }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <script type="text/javascript">

                    $('#clickhere').click(function () {
                        $('#alreadyasignedstdgrid').show();
                    });


                </script>
            }
            else
            {
                <div class="row">
                    <div id="grid"></div>
                </div>


                <script type="text/javascript">

                    var rows = [];
                    @for (int i = 0; i < Model.AdmitStudentslist.Count; i++)
                {
                    <text>
                    var entryArray = [];
                    entryArray.push('@Model.AdmitStudentslist[i].Admnno');
                    entryArray.push('@Model.AdmitStudentslist[i].StudentName');
                    entryArray.push('@Model.AdmitStudentslist[i].FatherName');
                    entryArray.push('@Model.AdmitStudentslist[i].RollNo');
                    entryArray.push('@Model.AdmitStudentslist[i].Status');
                    entryArray.push('@Model.AdmitStudentslist[i].StudentClassId');
                    entryArray.push('@Model.AdmitStudentslist[i].Session');
                    entryArray.push('@Model.AdmitStudentslist[i].Standard');
                    entryArray.push('@Model.AdmitStudentslist[i].FName');
                    entryArray.push('@Model.AdmitStudentslist[i].LName');
                    entryArray.push('@Model.AdmitStudentslist[i].AdhaarNo');
                    entryArray.push('@Model.AdmitStudentslist[i].DOB');
                    entryArray.push('@Model.AdmitStudentslist[i].Email');
                    entryArray.push('@Model.AdmitStudentslist[i].MobileNo');
                    entryArray.push('@Model.AdmitStudentslist[i].Class');
                    entryArray.push('@Model.AdmitStudentslist[i].SchoolName');
                    entryArray.push('@Model.AdmitStudentslist[i].SchoolLogoPath');
                    entryArray.push('@Model.AdmitStudentslist[i].Gender');
                    entryArray.push('@Html.Raw(Html.Encode(Model.AdmitStudentslist[i].SchoolAddress).Replace("\n", "<br />"))');



                    rows.push({
                        entries: entryArray
                    });
                    </text>
                }

                    $(document).ready(function () {
                        var columns = [];
                        
                        columns.push({
                            field: "entries[0]",
                            title: 'Admission No.',
                            sortable: true
                        });
                        columns.push({
                            field: "entries[1]",
                            title: 'Student Name',
                            sortable: true
                        });
                        columns.push({
                            field: "entries[17]",
                            title: 'Gender',
                            sortable: true
                        });
                        columns.push({
                            field: "entries[2]",
                            title: 'Father Name',
                            sortable: false
                        });
                        columns.push({
                            //field: "entries[3]",
                            title: 'Roll No.',
                            attributes: {
                                "class": "cls-stdrollno",
                            },
                            template: "#if(entries[3]=='' || entries[3]==null ||  entries[3]=='0'){#Null#}" +
                                                      "else{##=entries[3]##}#",
                            sortable: false
                        });
                        columns.push({
                            field: "entries[4]",
                            title: 'Status',
                            sortable: false
                           
                        });
                        columns.push({
                            field: "entries[5]",
                            title: 'Action',
                            sortable: false,
                            template:
                            '<a class=" btn btn-xs btn-default pdfDownload" id="pdfDownload" ref="inbox"  title="Download Admission Slip" data-toggle="tooltip" data-placement="top" style=" cursor:pointer"><i class="fa fa-file-pdf-o" ></i></a>'
                        });
                        columns.push({
                            field: "entries[5]",
                            title: 'StudentClassId',
                            hidden: true,
                            sortable: false,

                            attributes: {
                                "class": "cls-stdclsId",
                            }
                           
                        });
                        columns.push({
                            field: "entries[6]",
                            title: 'Session',
                            hidden: true,
                            sortable: false,
                            attributes: {
                                "class": "Session",
                            }
                        });
                        columns.push({
                            field: "entries[7]",
                            title: 'Standard',
                            hidden: true,
                            attributes: {
                                "class": "Standard",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[8]",
                            title: 'FName',
                            hidden: true,
                            attributes: {
                                "class": "FName",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[9]",
                            title: 'LName',
                            hidden: true,
                            attributes: {
                                "class": "LName",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[10]",
                            title: 'AdhaarNo',
                            hidden: true,
                            attributes: {
                                "class": "AdhaarNo",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[11]",
                            title: 'DOB',
                            hidden: true,
                            attributes: {
                                "class": "DOB",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[12]",
                            title: 'Email',
                            hidden: true,
                            attributes: {
                                "class": "Email",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[13]",
                            title: 'MobileNo',
                            hidden: true,
                            attributes: {
                                "class": "MobileNo",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[14]",
                            title: 'Class',
                            hidden: true,
                            attributes: {
                                "class": "Class",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[15]",
                            title: 'SchoolName',
                            hidden: true,
                            attributes: {
                                "class": "SchoolName",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[16]",
                            title: 'SchoolLogo',
                            hidden: true,
                            attributes: {
                                "class": "SchoolLogo",
                            },
                            sortable: false
                        });
                        columns.push({
                            field: "entries[18]",
                            title: 'SchoolAddress',
                            hidden: true,
                            attributes: {
                                "class": "SchoolAddress",
                            },
                            sortable: false
                        });

                        $("#grid").kendoGrid({
                            dataSource: {
                                data: rows,
                            },
                            pageable: false,
                            sortable: true,
                            scrollable: false,
                            columns: columns,
                            sort: function (e) {
                                $("#updaterollno").hide();
                                $("#cancelrollno").hide();
                                $("#editrollno").show();
                            }
                        });
                        
                    });
                </script>

            }

            <script type="text/javascript">

                $('#triggerpdfstudentreg').click(function () {

                    // var wholehtml = html();
                    // var dataToSend = JSON.stringify(wholehtml);
                    //$('#htmldata').val(wholehtml);

                })

                $("#grid").on("click", ".pdfDownload", function (e) {
                    e.preventDefault();
                    var admissionNo = $(this).parent().parent().find('td:nth-child(1)').text();
                    var RollNo = $(this).parent().parent().find('td:nth-child(5)').text();
                    var Session = $(this).parent().parent().find('td:nth-child(9)').text();
                    var Standard = $(this).parent().parent().find('td:nth-child(10)').text();
                    var FName = $(this).parent().parent().find('td:nth-child(11)').text();
                    var LName = $(this).parent().parent().find('td:nth-child(12)').text();
                    var AdhaarNo = $(this).parent().parent().find('td:nth-child(13)').text();
                    var DOB = $(this).parent().parent().find('td:nth-child(14)').text();
                    var Email = $(this).parent().parent().find('td:nth-child(15)').text();
                    var MobileNo = $(this).parent().parent().find('td:nth-child(16)').text();
                    var Class = $(this).parent().parent().find('td:nth-child(17)').text();
                    var SchoolName = $(this).parent().parent().find('td:nth-child(18)').text();
                    var SchoolLogo = $(this).parent().parent().find('td:nth-child(19)').text();
                    var SchoolAddress = $(this).parent().parent().find("td:nth-child(20)").text();

                    var htmlStart =
             '<!DOCTYPE html>' +
            '<html>' +
            '<head>' +
            '<title></title>' +
            '</head>' +
            '<body  id="print-data">';

                    var htmlEnd = '</body></html>';
                    var heading = '<div  style="width:100%; overflow:hidden; border:1px dashed #000 !important;"><div style="padding:10px;">';

                    var childheading = '<table style="width:100%;font-size:12px; font-family:arial;" border="0" cellpadding="5">' +
                                         '<tr style="text-align:center;">' +
                                         '<td colspan="2"><h1>Admission Slip</h1></td></tr>' +
                                            '<tr>' +
                                                '<td>' +
                                                    '<h2 style="margin:0; padding:0;">' + SchoolName + '</h2>' +
                                                    '<h3 id="SchoolAddress" style="margin:0; padding:0;">' + SchoolAddress + '</h3>' +
                    '</td>' +
                    '<td width="100" style="text-align:right">' +
                        '<img src="' + SchoolLogo + '" width="100" height="100" />' +
                                '</td>' +
                            '</tr>' +
                        '</table><hr/>';

                    childheading += '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">' +
                                '<tr>' +
                                    '<td><b id="label-heading">Admission No.: </b></td>' +
                                    '<td style="font-size:13px"><b>' + admissionNo + '</b></td>' +
                                    '<td><b>Session: </b></td>' +
                                    '<td>' + Session + '</td>' +
                                    '<td><b>Standard: </b></td>' +
                                    '<td>' + Standard + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                    '<td><b>First Name: </b></td>' +
                                    '<td>' + FName + '</td>' +
                                    '<td><b>Last Name: </b></td>' +
                                    '<td>' + LName + '</td>' +
                                    '<td><b>Aadhaar No: </b></td>' +
                                    '<td>' + AdhaarNo + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                    '<td><b>DOB: </b></td>' +
                                    '<td>' + DOB + '</td>' +
                                    '<td><b>Email: </b></td>' +
                                    '<td>' + Email + '</td>' +
                                    '<td><b>Mobile No.: </b></td>' +
                                    '<td>' + MobileNo + '</td>' +
                    '</tr>' +
                    '<tr>' +
                                    '<td><b>Class: </b></td>' +
                                    '<td>' + Class + '</td>' +
                                    '<td><b>RollNo: </b></td>' +
                                    '<td>' + RollNo + '</td>' +
                    '</tr>' +

                '</table>';

                    childheading += '</div></div>';

                    childheading += '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">' +
                                       '<tr>' +
                                            '<td valign="top">' +
                                            '</td>' +
                                            '<td valign="top" align="right">' +
                                                'For ' + SchoolName + '' +
                                                '<br/><br/><br/><br/><br/><br/><br/><br/>' +
                                                'Authorised Signatory' +
                                            '</td>' +
                                        '</tr>' +
                                    '</table>';
                    var fullhtml = htmlStart + heading + childheading + htmlEnd;

                    $('#htmldata').val(fullhtml);
                    $('#triggerpdfstudentreg').trigger('click');

                });

                function DownloadPdf() {

                    // var doc = new jsPDF('p','pt','letter');
                    var wholehtml = html();
                    var dataToSend = JSON.stringify({ 'HTML': wholehtml });
                    //$('#content').html(wholehtml);
                    //var wholehtml = "<html><head><title><\title><\head><body  id='print-data'>";
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("CreatePdf", "Common"))',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: dataToSend,
                        success: function (result) {
                            if (result.status == "success") {
                                ToastMessage(result.data, "success", true, 5000);
                                alert("ok");
                            }
                            else {
                                var msgarray = result.data.split('ε');
                                for (var i = 0; i < msgarray.length - 1; i++) {
                                    ToastMessage(msgarray[i], "error", true, 5000);
                                }
                                $('#ks_loader').hide();
                            }
                        },
                        error: function (xhr, status, data) {
                            var err = "Error: " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                @if (Model.AdmitStudentslist.Count > 0)
                {
                    <text>
                $('#div-Students-Grid').show();
                $('#RollNoStartFrom').val(@Model.RollNoStartFrom);
                </text>
                }

                $('.field-validation-error').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });

                $('.field-validation-valid').each(function () {
                    var current = $(this);
                    if (current.text() != "")
                        current.parent().show();
                    else
                        current.parent().hide();
                });

                $('#ClassId').change(function () {
                    $('#ks_loader').show();
                    $("#updaterollno").hide();
                    $("#cancelrollno").hide();
                    $("#editrollno").show();
                    if ($(this).val() != "") {
                        $('#filter').click();
                    }
                    $('#ks_loader').hide();
                });


                $('#CurSessionId').change(function () {
                    $('#ks_loader').show();
                    $('#grid').hide();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetClassesacctoSession", "Promotion"))',
                        async: false,
                        data: { "Sessionid": $('#CurSessionId').val() },
                        success: function (result) {
                            if (result.status == "success") {
                                $('#ClassId').empty();
                                for (var i = 0; i < result.NextClasses.length; i++) {
                                    option = "<option value='" + result.NextClasses[i].ClassId + "'>" + result.NextClasses[i].Class + "</option>";
                                    $('#ClassId').append(option);
                                }
                                $('#ks_loader').hide();
                            }
                            else {
                                $('#ks_loader').hide();
                                ToastMessage(result.msg, "error", true, 5000);
                            }
                        },
                        error: function (xhr, status) {
                            var err = "Error " + " " + status;
                            $('#ks_loader').hide();
                            ToastMessage(err, "error", true, 5000);
                        }

                    });
                    $('#ks_loader').hide();
                });

                $('#resetclassrollno').click(function () {
                    if (confirm("Are you Sure you want to Reassign Rollno of All students?") == true) {
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("ResetClassRollNo", "Promotion"))',
                            data: { "classid": $('#ClassId').val() },
                            success: function (result) {
                                if (result.status == "success") {
                                    $('#ClassId').trigger("change");
                                }
                                else {
                                    ToastMessage(result.msg, "error", true, 5000);
                                }
                            },
                            error: function (xhr, status, data) {
                                var err = "Error " + " " + status + " " + data;
                                ToastMessage(err, "error", true, 5000);
                            }
                        });
                    }
                });

                $('#save-promote').click(function () {
                    var PromotionStudentList = new Array();
                    var PromotionStudentListobj = new Object();
                    var count = 0;
                    $('#grid tbody tr').each(function () {
                        var row = $(this);
                        PromotionStudentListobj = new Object();
                        PromotionStudentListobj.StudentClassId = row.find('.cls-stdclsId').text();
                        PromotionStudentList.push(PromotionStudentListobj);
                        count++;
                    });

                    if (count == 0) {
                        alert("No data found");
                        return false;
                    }
                    else {
                        $('#AssignedArray').val(JSON.stringify(PromotionStudentList));
                        return true;
                    }
                });

                $("#cancelrollno").click(function () {
                    $('#grid').data('kendoGrid').refresh();
                    $("#updaterollno").hide();
                    $("#cancelrollno").hide();
                    $("#editrollno").show();
                })

                $("#editrollno").click(function () {
                    $("#editrollno").hide();
                    $("#updaterollno").show();
                    $("#cancelrollno").show();
                    var a = $("#grid").find("tbody>tr");
                    a.each(function () {
                        var rollnovalue = $(this).find('td')[4].innerHTML;
                        $(this).find('td')[4].innerHTML = "";
                        if (rollnovalue == "" || rollnovalue == "Null") {
                            rollnovalue = "";
                        }
                        $(this).find('td')[4].innerHTML = "<input type='text' class='updaterollno' value='" + rollnovalue + "' />"
                    })
                })


                $("#updaterollno").click(function () {
                    var a = $("#grid").find("tbody>tr");
                    var reportRecipients = [];
                    a.each(function () {
                        reportRecipients.push(($(this).find('.updaterollno').val()).trim());
                    })
                    var recipientsArray = reportRecipients.sort();
                    var reportRecipientsDuplicate = [];
                    for (var i = 0; i < recipientsArray.length - 1; i++) {
                        //if (recipientsArray[i] == "" || recipientsArray[i] == null) {
                        //    alert("RollNo. Should not be null");
                        //    return;
                        //}
                        if (recipientsArray[i + 1] != "0" && recipientsArray[i + 1] != "" && recipientsArray[i + 1] != null) {
                            if (recipientsArray[i + 1] == recipientsArray[i]) {
                                reportRecipientsDuplicate.push(recipientsArray[i]);
                                alert("RollNo Must Be Unique");
                                return;
                            }
                        }
                    }
                    var studentclassid = [];
                    var newStudentClassId="";
                    var newRollNo="";
                    a.each(function () {
                      newRollNo =  $(this).find('.updaterollno').val().trim();
                      if (newRollNo == "" || newRollNo == null) {
                          newRollNo = 0;
                      }
                      newStudentClassId= $(this).find('td')[7].innerHTML.trim();
                      if (newStudentClassId == "" || newStudentClassId == null) {
                          newStudentClassId = 0;
                      }
                      studentclassid.push(newRollNo + "_" + newStudentClassId);
                    })
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("UpdateRolNo", "Promotion"))',
                            data: { "studentclassid": studentclassid },
                            success: function (result) {
                                if (result.status == "success") {
                                    alert(result.msg);
                                    $("#updaterollno").hide();
                                    $("#cancelrollno").hide();
                                    $("#editrollno").show();
                                    $('#ClassId').trigger("change");
                                }
                        },
                            error: function () {
                                alert("error");
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                        }
                    });
                })
            </script>
        }
    </div>
</div>
<!-- Page Controls -->
