﻿@model ViewModel.ViewModel.StudentPromotion.PromotionModel

@{
    ViewBag.Title = "Promote";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style type="text/css">
    .col-md-12 {
        padding: 0px;
    }
    #ClassId.select2-container--default {
        width: 100% !important;
    }

    #NextClassId.select2-container--default {
        width: 100% !important;
    }

</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Promotion</h1>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">

    <div class="col-md-12">
        @using (Html.BeginForm("Promotion", "Promotion", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PromotionArray)
            @Html.HiddenFor(model => model.CurSessionId)

            <div class="col-md-12">
                <div class="col-md-6" style="border-right:1px solid #ddd;">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">From Session:</label>
                                @Html.DropDownListFor(model => model.SessionId, Model.AvailableSession, new { @class = "drop-down form-control" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">From Class:</label>
                                @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "drop-down form-control" })

                            </div>
                        </div>
                        <div class="form-group top-space-10">
                            @if (Model.IsAuthToAdd)
                            {
                                <button type="button" class="btn btn-default btn-success promoteShow" style="display:none;" id="btnPromoteUp">Promote</button>}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="div-FromStudents-Grid" hidden>
                            <script>

                                $(document).ready(function () {
                                    $("#div-FromStudents-Grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("GetStudentListFromSession", "Promotion"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    contentType: "application/json",
                                                    data: additionalData
                                                },
                                                parameterMap: function (data) {
                                                    return JSON.stringify(data);
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: '@(defaultGridPageSize)',
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: false
                                        },
                                        dataBound: onDataBoundPromotion,
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: false,
                                        sortable: true,
                                        columns: [

                                            {
                                                title: "Select All",
                                                headerTemplate: "<input type='checkbox' id='header-chb' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>",
                                                //template: '#if(AllowPayFee){#<input class="chkbx1class" type="checkbox" value="#=StudentId#" disabled />#} else {# <input name="Discontinued" class="chkbxclass" type="checkbox" data-bind="checked: StudentId" #= StudentId ? checked="checked" : "" #/> #}#'
                                                template: "<input type='checkbox' id='#=StudentId#' class='k-checkbox row-checkbox1'><label class='k-checkbox-label' for='#=StudentId#'></label>"
                                                ,
                                            }, {
                                                field: "Admnno",
                                                title: "Admn No",
                                                sortable: true
                                            }, {
                                                field: "StudentName",
                                                title: "Student",
                                                sortable: true
                                            },
                                            @*@if(Model.IspayAdmnFee)
                                            {
                                                <text>
                                         {
                                             field: "Feepaid",
                                             title: "Fee Paid",
                                             template: '#if(!Feepaid){#<a class="btn btn-xs btn-default" target="_blank" href="@Url.Content("~/Fee/OtherFeeReceipt?id=#=StudentId#&rf=p&ss=#=SessionId#")" title="Pay Admission Fee" data-toggle="tooltip" data-placement="top" style="cursor:pointer">Pay Admission Fee</a>#} else {# Fee paid #}#'
                                         }
                                           </text> }*@
                                        ]
                                    });
                                    var grid = $("#div-FromStudents-Grid").data("kendoGrid");


                                    $('#header-chb').change(function (ev) {
                                        var checked = ev.target.checked;
                                        $('.row-checkbox1').each(function (idx, item) {
                                            if (checked) {
                                                if (!($(item).closest('tr').is('.k-state-selected'))) {
                                                    $(item).click();
                                                }
                                            } else {
                                                if ($(item).closest('tr').is('.k-state-selected')) {
                                                    $(item).click();
                                                }
                                            }
                                        });
                                    });
                                    //$("#showSelection").bind("click", function () {
                                    //    var checked = [];
                                    //    for (var i in checkedIds) {
                                    //        if (checkedIds[i]) {
                                    //            checked.push(i);
                                    //        }
                                    //    }

                                    //    alert(checked);
                                    //});

                                });

                                function onDataBoundPromotion(arg) {
                                    $('[data-toggle=tooltip]').tooltip();
                                    //$(".chkbxclass").bind("change", function (e) {
                                    //    var grid = $("#div-FromStudents-Grid").data("kendoGrid");
                                    //    var row = $(e.target).closest("tr");
                                    //    row.toggleClass("k-state-selected");
                                    //    var data = grid.dataItem(row);
                                    //});

                                    var view = this.dataSource.view();
                                    for (var i = 0; i < view.length; i++) {
                                        if (checkedIds[view[i].id]) {
                                            this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                                                .addClass("k-state-selected")
                                                .find(".k-checkbox")
                                                .attr("checked", "checked");
                                        }
                                    }

                                }

                                function additionalData() {
                                    var data = {
                                        SessionId: $('#SessionId').val(),
                                        ClassId: $('#ClassId').val(),
                                        NextSessionId: $('#NextSessionId').val(),
                                        NextClassId: $('#NextClassId').val(),
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }

                                addAntiForgeryToken = function (data) {
                                    data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                                    return data;
                                };
                            </script>
                        </div>
                    </div>
                    <div class="col-md-12">
                        @if (Model.IsAuthToAdd)
                        {
                            <button type="button" class="btn btn-default btn-success promoteShow" style="display:none;" id="btnPromote">Promote</button>}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">To Session:</label>
                                @Html.DropDownListFor(model => model.NextSessionId, Model.AvailableNextSession, new { @class = "drop-down form-control" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">To Class:</label>
                                @Html.DropDownListFor(model => model.NextClassId, Model.AvailableNextClasses, new { @class = "drop-down form-control" })
                            </div>
                        </div>
                        <div class="form-group top-space-10">
                            @if (Model.IsRollBack)
                            {
                                <button type="button" class="btn btn-default btn-success rollbackShow" style="display:none;" id="btnRollBackUp">RollBack</button>
                            }
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="div-ToStudents-Grid" hidden>
                            <script>
                                $(document).ready(function () {
                                    $("#div-ToStudents-Grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("GetStudentListToSession", "Promotion"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    contentType: "application/json",
                                                    data: additionalDataTo
                                                },
                                                parameterMap: function (data) {
                                                    return JSON.stringify(data);
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: '@(defaultGridPageSize)',
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: false
                                        },
                                        dataBound: onDataBound,
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: false,
                                        sortable: true,
                                        columns: [

                                            {
                                                //    field: "",
                                                //    title: "",
                                                //    template: '#if(!AllowPayFee){#<input class="chkbxclass" type="checkbox" value="#=StudentId#" disabled />#} else{#<input name="Disontinued" class="chkclass" type="checkbox" data-bind="checked: StudentId" #= StudentId ? checked="checked" : "" #/>#} #'
                                                title: "Select All",
                                                headerTemplate: "<input type='checkbox' id='RollBack-chb' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='RollBack-chb'></label>",
                                                //template: '#if(AllowPayFee){#<input class="chkbx1class" type="checkbox" value="#=StudentId#" disabled />#}
                                                //else {# <input name="Discontinued" class="chkbxclass" type="checkbox"
                                                //data-bind="checked: StudentId" #= StudentId ? checked="checked" : "" #/> #}#'
                                                template: "#if(!AllowPayFee){#<input type='checkbox' id='#=StudentId#' class='' disabled /><label class='' for='#=StudentId#' disabled></label>#} else{#<input type='checkbox' id='#=StudentId#' class='k-checkbox row-checkbox' /><label class='k-checkbox-label' for='#=StudentId#'></label>#}#" ,

                                            }, {
                                                field: "Admnno",
                                                title: "Admn No",
                                                sortable: true
                                            }, {
                                                field: "StudentName",
                                                title: "Student",
                                                sortable: true
                                            }, {
                                                field: "PromotedOn",
                                                title: "Promoted On",
                                                sortable: true
                                            },
                                @if(Model.IspayAdmnFee)
                                    {
                                        <text>
                                 {
                                     field: "Feepaid",
                                     title: "Fee Paid",
                                     template: '#if(!Feepaid){#<a class="btn btn-xs btn-default" target="_blank" href="@Url.Content("~/Fee/FeeReceipt?id=#=StudentId#&rf=p&ss=#=SessionId#")" title="Pay Admission Fee" data-toggle="tooltip" data-placement="top" style="cursor:pointer">Pay Admission Fee</a>#} else {# Fee paid #}#'
                                 }
                                   </text> }

                                        ]
                                    });
                                    var grid = $("#div-ToStudents-Grid").data("kendoGrid");

                                    $('#RollBack-chb').change(function (ev) {
                                        var checked = ev.target.checked;
                                        $('.row-checkbox').each(function (idx, item) {
                                            if (checked) {
                                                if (!($(item).closest('tr').is('.k-state-selected'))) {
                                                    $(item).click();
                                                }
                                            } else {
                                                if ($(item).closest('tr').is('.k-state-selected')) {
                                                    $(item).click();
                                                }
                                            }
                                        });
                                    });
                                });

                                function onDataBound(arg) {
                                    $('[data-toggle=tooltip]').tooltip();
                                    //$(".chkclass").bind("change", function (e) {
                                    //    var grid = $("#div-ToStudents-Grid").data("kendoGrid");
                                    //    var row = $(e.target).closest("tr");
                                    //    row.toggleClass("k-state-selected");
                                    //    var data = grid.dataItem(row);
                                    //});
                                    var view = this.dataSource.view();
                                    for (var i = 0; i < view.length; i++) {
                                        if (checkedIds[view[i].id]) {
                                            this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                                                .addClass("k-state-selected")
                                                .find(".k-checkbox")
                                                .attr("checked", "checked");
                                        }
                                    }
                                }

                                function additionalDataTo() {
                                    var data = {
                                        SessionId: $('#SessionId').val(),
                                        ClassId: $('#ClassId').val(),
                                        NextSessionId: $('#NextSessionId').val(),
                                        NextClassId: $('#NextClassId').val(),
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }

                                addAntiForgeryToken = function (data) {
                                    data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                                    return data;
                                };
                            </script>
                        </div>
                    </div>
                    <div class="col-md-12">
                        @if (Model.IsRollBack)
                        {
                            <button type="button" class="btn btn-default btn-success rollbackShow" style="display:none;" id="btnRollBack">RollBack</button>
                        }
                    </div>
                </div>

            </div>

            <script type="text/javascript">
                var checkedIds = {};
     
                $(document).ready(function () {
                    var gridPrmotion = $("#div-FromStudents-Grid").data("kendoGrid");
                    var gridRollback = $("#div-ToStudents-Grid").data("kendoGrid");
                    //bind click event to the checkbox
                    gridPrmotion.table.on("click", ".row-checkbox1", selectRowPrmotion);
                    //bind click event to the checkbox
                    gridRollback.table.on("click", ".row-checkbox", selectRowRollBack);

                    $('#ClassId').change(function () {
                        $('#ks_loader').show();
                        $('.promoteShow').show();
                        $("#div-FromStudents-Grid").data('kendoGrid').dataSource.read();
                        
                        $('#div-ToStudents-Grid').hide();
                        var sessionid = $('#SessionId').val();
                        var classid = $('#ClassId').val();
                        $('#ks_loader').show();
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("LoadNextClasses", "Promotion"))',
                            async: false,
                            data: { "Sessionid": sessionid, "ClassId": classid },
                            success: function (result) {
                                $('#NextClassId').empty();
                                var option = "<option value=''> --Select-- </option>";
                                $('#NextClassId').append(option);

                                if (result.NextClasses.length > 0) {
                                    $("#div-FromStudents-Grid").css('display', 'inline-block');
                                    $("#btnPromote").show();
                                    $("#btnPromoteUp").show();

                                    if ($('#NextClassId').val() != "") {
                                        $("#btnRollBack").show();
                                        $("#btnRollBackUp").show();
                                    }
                                    else
                                    {
                                        $("#btnRollBack").hide();
                                        $("#btnRollBackUp").hide();
                                    }

                                    for (var i = 0; i < result.NextClasses.length; i++) {
                                        option = "<option value='" + result.NextClasses[i].ClassId + "'>" + result.NextClasses[i].Class + "</option>";
                                        $('#NextClassId').append(option);
                                    }
                                }
                                else {
                                    $("#div-FromStudents-Grid").css('display', 'none');
                                    $("#btnPromote").hide();
                                    $("#btnPromoteUp").hide();

                                    $("#btnRollBack").hide();
                                    $("#btnRollBackUp").hide();
                                }
                                $('#ks_loader').hide();
                            },
                            error: function (xhr, status) {
                                var err = "Error " + " " + status;
                                $('#ks_loader').hide();
                                ToastMessage(err, "error", true, 5000);
                            }

                        });
                        $('#ks_loader').hide();
                    });
                    $('#NextClassId').change(function () {
                        $('#ks_loader').show();
                       
                        $("#div-ToStudents-Grid").data('kendoGrid').dataSource.read();
                        if ($('#NextClassId').val() != "")
                        {
                           // $('.rollbackShow').show();
                            $("#btnRollBack").show();
                            $("#btnRollBackUp").show();
                            $("#div-ToStudents-Grid").css('display', 'inline-block');
                        }
                        else
                        {
                            $("#btnRollBack").hide();
                            $("#btnRollBackUp").hide();
                            $("#div-ToStudents-Grid").css('display', 'none');
                        }
                       
                        $('#ks_loader').hide();
                    });
                    $('#SessionId').change(function () {
                        $('#ks_loader').show();
                        $('#ClassId').val('--Select--');
                        $('#NextClassId').val('--Select--');
                        $('#NextSessionId').empty();
                        $('#div-ToStudents-Grid').hide();
                        $('#div-FromStudents-Grid').hide();
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("GetClassacctoSession", "Promotion"))',
                            async: false,
                            data: { "Sessionid": $('#SessionId').val() },
                            success: function (result) {
                                if (result.status == "success") {
                                    $('#ClassId').empty();
                                    for (var i = 0; i < result.NextClasses.length; i++) {
                                        option = "<option value='" + result.NextClasses[i].ClassId + "'>" + result.NextClasses[i].Class + "</option>";
                                        $('#ClassId').append(option);
                                    }

                                    for (var i = 0; i < result.NextSessions.length; i++) {
                                        option = "<option value='" + result.NextSessions[i].Value + "'>"
                                                                + result.NextSessions[i].Text + "</option>";
                                        $('#NextSessionId').append(option);
                                    }
                                    $('#ks_loader').hide();
                                }
                                else {
                                    $('#ks_loader').hide();
                                    ToastMessage(result.msg, "error", true, 5000);
                                }
                            },
                            error: function (xhr, status) {
                                var err = "Error " + " " + status;
                                $('#ks_loader').hide();
                                ToastMessage(err, "error", true, 5000);
                            }

                        });
                        $('#ks_loader').hide();
                    });

                    $('#checkAll').click(function () {
                        if ($(this).attr('checked')) {
                            $('.chkbxclass').attr('checked', 'checked');
                            $('#checkAll').attr('checked', 'checked');
                        } else {
                            $('.chkbxclass').removeAttr('checked');
                            $('#checkAll').removeAttr('checked');
                        }
                    });
                    $('#NextSessionId').change(function () {
                        $('#NextClassId').val('--Select--');
                        $('#div-ToStudents-Grid').hide();
                    });

                    var PromoteValid = true;
                    var Promotevalidationmessage = "";
                    var Promotectrlfocus = "";
                    function ValidatePromote() {

                        PromoteValid = true;
                        Promotevalidationmessage = "";
                        Promotectrlfocus = "";

                        if ($('#SessionId').val() == "") {
                            if (Promotectrlfocus == "")
                                Promotectrlfocus = "#SessionId";
                            Promotevalidationmessage = Promotevalidationmessage + "Please provide From Session ε";
                            PromoteValid = false;
                        }
                        if ($('#ClassId').val() == "") {
                            if (Promotectrlfocus == "")
                                Promotectrlfocus = "#ClassId";
                            Promotevalidationmessage = Promotevalidationmessage + "Please provide From Class ε";
                            PromoteValid = false;
                        }
                        if ($('#NextSessionId').val() == "") {
                            if (Promotectrlfocus == "")
                                Promotectrlfocus = "#NextSessionId";
                            Promotevalidationmessage = Promotevalidationmessage + "Please provide To Session ε";
                            PromoteValid = false;
                        }
                        if ($('#NextClassId').val() == "") {
                            if (Promotectrlfocus == "")
                                Promotectrlfocus = "#NextClassId";
                            Promotevalidationmessage = Promotevalidationmessage + "Please provide To Class ε";
                            PromoteValid = false;
                        }
                        //if ($('#SessionId').val() == $('#NextSessionId').val()) {
                        //    if (Promotectrlfocus == "")
                        //        Promotectrlfocus = "#SessionId";
                        //    Promotevalidationmessage = Promotevalidationmessage + "From Session and To Session should not be same ε";
                        //    PromoteValid = false;
                        //}
                        var aa = Promotevalidationmessage;
                        return PromoteValid;
                    }

                    function ValidateRollback() {

                        PromoteValid = true;
                        Promotevalidationmessage = "";
                        Promotectrlfocus = "";


                        if ($('#NextSessionId').val() == "") {
                            if (Promotectrlfocus == "")
                                Promotectrlfocus = "#NextSessionId";
                            Promotevalidationmessage = Promotevalidationmessage + "Please provide To Session ε";
                            PromoteValid = false;
                        }
                        if ($('#NextClassId').val() == "") {
                            if (Promotectrlfocus == "")
                                Promotectrlfocus = "#NextClassId";
                            Promotevalidationmessage = Promotevalidationmessage + "Please provide To Class ε";
                            PromoteValid = false;
                        }
                        var aa = Promotevalidationmessage;
                        return PromoteValid;
                    }


                    //on click of the checkbox:
                    function selectRowPrmotion() {
                        var checked = this.checked,
                            row = $(this).closest("tr"),
                            grid = $("#div-FromStudents-Grid").data("kendoGrid"),
                            dataItem = grid.dataItem(row);

                        checkedIds[dataItem.StudentId] = checked;

                        if (checked) {
                            //-select the row
                            row.addClass("k-state-selected");

                            var checkHeader = true;

                            $.each(grid.items(), function (index, item) {
                                if (!($(item).hasClass("k-state-selected"))) {
                                    checkHeader = false;
                                }
                            });

                            $("#header-chb")[0].checked = checkHeader;
                        } else {
                            //-remove selection
                            row.removeClass("k-state-selected");
                            $("#header-chb")[0].checked = false;
                        }
                    }

                    //on click of the checkbox:
                    function selectRowRollBack() {
                        var checked = this.checked,
                            row = $(this).closest("tr"),
                            grid = $("#div-ToStudents-Grid").data("kendoGrid"),
                            dataItem = grid.dataItem(row);

                        checkedIds[dataItem.StudentId] = checked;

                        if (checked) {
                            //-select the row
                            row.addClass("k-state-selected");

                            var checkHeader = true;

                            $.each(grid.items(), function (index, item) {
                                if (!($(item).hasClass("k-state-selected"))) {
                                    checkHeader = false;
                                }
                            });

                            $("#RollBack-chb")[0].checked = checkHeader;
                        } else {
                            //-remove selection
                            row.removeClass("k-state-selected");
                            $("#RollBack-chb")[0].checked = false;
                        }
                    }

                    $('#btnPromoteUp').click(function () {
                        $('#ks_loader').show();
                        //var idsToSend = [];
                        var grid = $("#div-FromStudents-Grid").data("kendoGrid")
                        var ds = grid.dataSource.view();

                        //for (var i = 0; i < ds.length; i++) {


                        //    var row = grid.table.find("tr[data-uid='" + ds[i].uid + "']");
                        //    var checkbox = $(row).find(".chkbxclass");
                        //    if (checkbox.is(":checked")) {
                        //        aa.id = ds[i].StudentId;
                        //        idsToSend.push(aa);
                        //    }
                        //}
                        var checked = [];
                        var aa = new Object();
                        for (var i in checkedIds) {
                            aa = new Object();
                            if (checkedIds[i]) {
                                aa.id = i;
                                checked.push(aa);
                            }
                        }

                        if (checked.length == 0) {
                            ToastMessage("Select students to promote", "error", true, 5000);
                            $('#ks_loader').hide();
                            return false;
                        }
                        else {
                            var valid = ValidatePromote();
                            if (!valid) {
                                var validationaray = Promotevalidationmessage.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                $('#ks_loader').hide();
                                return false;
                            }
                            else {
                                var prvSessionId = $('#SessionId').val();
                                var prvclassId = $('#ClassId').val();
                                var nextSessionId = $('#NextSessionId').val();
                                var nextclassId = $('#NextClassId').val();

                                $.ajax({
                                    type: "POST",
                                    url: '@Html.Raw(Url.Action("SaveStudentForPromotion", "Promotion"))',
                                    async: false,
                                    data: {
                                        "PreviousSession": prvSessionId, "PreviousClass": prvclassId,
                                        "NextSession": nextSessionId, "NextClass": nextclassId, "StudentIds": JSON.stringify(checked)
                                    },
                                    success: function (result) {
                                        if (result.status == "success") {
                                            checkedIds = {};
                                            $("#div-FromStudents-Grid").data('kendoGrid').dataSource.read();
                                            $("#div-ToStudents-Grid").data('kendoGrid').dataSource.read();
                                            ToastMessage(result.msg, "success", true, 5000);
                                        }
                                        else {
                                            ToastMessage(result.msg, "error", true, 5000);
                                        }
                                    },
                                    error: function (xhr, status) {
                                        var err = "Error " + " " + status;
                                        $('#ks_loader').hide();
                                        ToastMessage(err, "error", true, 5000);
                                    }

                                });
                                $('#ks_loader').hide();
                            }
                        }
                    });

                    $('#btnPromote').click(function () {
                        $('#ks_loader').show();
                        //var idsToSend = [];
                        var grid = $("#div-FromStudents-Grid").data("kendoGrid")
                        var ds = grid.dataSource.view();

                        //for (var i = 0; i < ds.length; i++) {


                        //    var row = grid.table.find("tr[data-uid='" + ds[i].uid + "']");
                        //    var checkbox = $(row).find(".chkbxclass");
                        //    if (checkbox.is(":checked")) {
                        //        aa.id = ds[i].StudentId;
                        //        idsToSend.push(aa);
                        //    }
                        //}
                        var checked = [];
                        var aa = new Object();
                        for (var i in checkedIds) {
                            aa = new Object();
                            if (checkedIds[i]) {
                                aa.id = i;
                                checked.push(aa);
                            }
                        }

                        if (checked.length == 0) {
                            ToastMessage("Select students to promote", "error", true, 5000);
                            $('#ks_loader').hide();
                            return false;
                        }
                        else {
                            var valid = ValidatePromote();
                            if (!valid) {
                                var validationaray = Promotevalidationmessage.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                $('#ks_loader').hide();
                                return false;
                            }
                            else {
                                var prvSessionId = $('#SessionId').val();
                                var prvclassId = $('#ClassId').val();
                                var nextSessionId = $('#NextSessionId').val();
                                var nextclassId = $('#NextClassId').val();

                                $.ajax({
                                    type: "POST",
                                    url: '@Html.Raw(Url.Action("SaveStudentForPromotion", "Promotion"))',
                                    async: false,
                                    data: {
                                        "PreviousSession": prvSessionId, "PreviousClass": prvclassId,
                                        "NextSession": nextSessionId, "NextClass": nextclassId, "StudentIds": JSON.stringify(checked)
                                    },
                                    success: function (result) {
                                        if (result.status == "success") {
                                            checkedIds = {};
                                            $("#div-FromStudents-Grid").data('kendoGrid').dataSource.read();
                                            $("#div-ToStudents-Grid").data('kendoGrid').dataSource.read();
                                            ToastMessage(result.msg, "success", true, 5000);
                                        }
                                        else {
                                            ToastMessage(result.msg, "error", true, 5000);
                                        }
                                    },
                                    error: function (xhr, status) {
                                        var err = "Error " + " " + status;
                                        $('#ks_loader').hide();
                                        ToastMessage(err, "error", true, 5000);
                                    }

                                });
                                $('#ks_loader').hide();
                            }
                        }
                    });

                    $('#btnRollBack').click(function () {
                        $('#ks_loader').show();
                        //var idsToSend = [];
                        var grid = $("#div-ToStudents-Grid").data("kendoGrid")
                        var ds = grid.dataSource.view();

                        //for (var i = 0; i < ds.length; i++) {
                        //    var aa = new Object();
                        //    var row = grid.table.find("tr[data-uid='" + ds[i].uid + "']");
                        //    var checkbox = $(row).find(".chkclass");
                        //    if (checkbox.is(":checked")) {
                        //        aa.id = ds[i].StudentId;
                        //        idsToSend.push(aa);
                        //    }
                        //}
                        var checked = [];

                        for (var i in checkedIds) {
                            var aa = new Object();
                            if (checkedIds[i]) {
                                aa.id = i;
                                checked.push(aa);
                            }
                        }
                        if (checked.length == 0) {
                            ToastMessage("Select students to RollBack", "error", true, 5000);
                            $('#ks_loader').hide();
                            return false;
                        }
                        else {
                            var valid = ValidateRollback();
                            if (!valid) {
                                var validationaray = Promotevalidationmessage.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                $('#ks_loader').hide();
                                return false;
                            }
                            else {
                                var nextSessionId = $('#NextSessionId').val();
                                var nextclassId = $('#NextClassId').val();
                                $.ajax({
                                    type: "POST",
                                    url: '@Html.Raw(Url.Action("RollbackPromotedStudents", "Promotion"))',
                                    async: false,
                                    data: { "NextSession": nextSessionId, "NextClass": nextclassId, "StudentIds": JSON.stringify(checked) },
                                    success: function (result) {
                                        if (result.status == "success") {
                                            checkedIds = {};
                                            $("#div-FromStudents-Grid").data('kendoGrid').dataSource.read();
                                            $("#div-ToStudents-Grid").data('kendoGrid').dataSource.read();
                                            ToastMessage(result.msg, "success", true, 5000);
                                        }
                                        else {
                                            ToastMessage(result.msg, "error", true, 5000);
                                        }
                                    },
                                    error: function (xhr, status) {
                                        var err = "Error " + " " + status;
                                        $('#ks_loader').hide();
                                        ToastMessage(err, "error", true, 5000);
                                    }

                                });
                                $('#ks_loader').hide();
                            }
                        }
                    });

                    $('#btnRollBackUp').click(function () {
                        $('#ks_loader').show();
                        //var idsToSend = [];
                        var grid = $("#div-ToStudents-Grid").data("kendoGrid")
                        var ds = grid.dataSource.view();

                        //for (var i = 0; i < ds.length; i++) {
                        //    var aa = new Object();
                        //    var row = grid.table.find("tr[data-uid='" + ds[i].uid + "']");
                        //    var checkbox = $(row).find(".chkclass");
                        //    if (checkbox.is(":checked")) {
                        //        aa.id = ds[i].StudentId;
                        //        idsToSend.push(aa);
                        //    }
                        //}
                        var checked = [];

                        for (var i in checkedIds) {
                            var aa = new Object();
                            if (checkedIds[i]) {
                                aa.id = i;
                                checked.push(aa);
                            }
                        }
                        if (checked.length == 0) {
                            ToastMessage("Select students to RollBack", "error", true, 5000);
                            $('#ks_loader').hide();
                            return false;
                        }
                        else {
                            var valid = ValidateRollback();
                            if (!valid) {
                                var validationaray = Promotevalidationmessage.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                $('#ks_loader').hide();
                                return false;
                            }
                            else {
                                var nextSessionId = $('#NextSessionId').val();
                                var nextclassId = $('#NextClassId').val();
                                $.ajax({
                                    type: "POST",
                                    url: '@Html.Raw(Url.Action("RollbackPromotedStudents", "Promotion"))',
                                    async: false,
                                    data: { "NextSession": nextSessionId, "NextClass": nextclassId, "StudentIds": JSON.stringify(checked) },
                                    success: function (result) {
                                        if (result.status == "success") {
                                            checkedIds = {};
                                            $("#div-FromStudents-Grid").data('kendoGrid').dataSource.read();
                                            $("#div-ToStudents-Grid").data('kendoGrid').dataSource.read();
                                            ToastMessage(result.msg, "success", true, 5000);
                                        }
                                        else {
                                            ToastMessage(result.msg, "error", true, 5000);
                                        }
                                    },
                                    error: function (xhr, status) {
                                        var err = "Error " + " " + status;
                                        $('#ks_loader').hide();
                                        ToastMessage(err, "error", true, 5000);
                                    }

                                });
                                $('#ks_loader').hide();
                            }
                        }
                    });


                });

            </script>
        }
    </div>
</div>
<!-- Page Controls -->
