﻿@model ViewModel.ViewModel.Attendence.ManageAttendenceStatus

<table class="table table-bordered table-striped" id="allAttendaceTable">
    <thead class="thead-default">
        <tr>
            @foreach (var item in Model.HeaderList)
            {
                <th>@item.Text</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.studentDailyAttendance.Count; i++)
        {
            <tr>
                <td hidden>
                    @Model.studentDailyAttendance[i].StudentId
                </td>
                <td>
                    @Model.studentDailyAttendance[i].RollNo
                </td>
                @if (Model.studentDailyAttendance[i].IsInActive)
                {
                    <td style="color:blue">
                        @Model.studentDailyAttendance[i].StudentName
                    </td>
                }
                else
                {
                    <td>
                        @Model.studentDailyAttendance[i].StudentName
                    </td>
                }
                @if (Model.studentDailyAttendance[i].AttendanceAbbr == "P" && Model.studentDailyAttendance[i].IsLeave == false)
                {
                    <td>
                        <img src="~/Content/assets/img/@(Model.studentDailyAttendance[i].ColorCode).png" />
                        @Html.DropDownList("0", Model.studentDailyAttendance[i].AttendanceStatusAbbrList, new { @class = "form-control dailyAttendance" })
                    </td>
                }
                else if (Model.studentDailyAttendance[i].IsLeave == true)
                {
                    <td>
                        <img src="~/Content/assets/img/@(Model.studentDailyAttendance[i].ColorCode).png" />
                        @Html.DropDownList("0", Model.studentDailyAttendance[i].AttendanceStatusAbbrList, new { @class = "form-control dailyAttendance" })
                    </td>
                }
                else if (Model.studentDailyAttendance[i].AttendanceAbbr == "A" && Model.studentDailyAttendance[i].IsLeave == false)
                {
                    <td>
                        <img src="~/Content/assets/img/@(Model.studentDailyAttendance[i].ColorCode).png" />
                        @Html.DropDownList("0", Model.studentDailyAttendance[i].AttendanceStatusAbbrList, new { @class = "form-control dailyAttendance" })
                    </td>
                }
                else
                {
                    <td>
                        <img src="~/Content/assets/img/Green.png" style="visibility:hidden" />
                        @Html.DropDownList("0", Model.studentDailyAttendance[i].AttendanceStatusAbbrList, new { @class = "form-control dailyAttendance" })
                    </td>
                }
                @for (int j = 0; j < Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList.Count; j++)
                {
                    if (Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].IsLeave == false && Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].AttendanceAbbr == "P")
                    {
                        <td>
                            <img src="~/Content/assets/img/@(Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].ColorCode).png" />
                            @Html.DropDownList(Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].PeriodId.ToString(), Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].AttendanceStatusPeriodWiseAbbrList, new { @class = "form-control periodWiseAttendance" })
                        </td>
                    }
                    else if (Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].IsLeave == true)
                    {
                        <td>
                            <img src="~/Content/assets/img/@(Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].ColorCode).png" />
                            @Html.DropDownList(Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].PeriodId.ToString(), Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].AttendanceStatusPeriodWiseAbbrList, new { @class = "form-control periodWiseAttendance" })
                        </td>
                    }
                    else if (Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].IsLeave == false && Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].AttendanceAbbr == "A")
                    {
                        <td>
                            <img src="~/Content/assets/img/@(Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].ColorCode).png" />
                            @Html.DropDownList(Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].PeriodId.ToString(), Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].AttendanceStatusPeriodWiseAbbrList, new { @class = "form-control periodWiseAttendance" })
                        </td>
                    }
                    else
                    {
                        <td>
                            <img src="~/Content/assets/img/Green.png" style="visibility:hidden" />
                            @Html.DropDownList(Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].PeriodId.ToString(), Model.studentDailyAttendance[i].studentPeriodWiseAttendanceList[j].AttendanceStatusPeriodWiseAbbrList, new { @class = "form-control periodWiseAttendance" })
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        $("#messageLabel").text('');
        if ($('#selectClassForAllAttendance').css('display') == 'none') {
            @if (Model.IsCopyDailyAttendanceToAllEnabled)
              {
                  <text>
            $("#copyDailyToAll").prop('disabled', false);
            $("#copyDailyToAll").prop('checked', false);
            </text>
                if (Model.IsCopyDailyAttendanceToAllChecked)
                {
                      <text>
            $("#copyDailyToAll").prop('checked', true);
            $("#copyDailyToAll").prop('disabled', true);
            $("#messageLabel").text('No attendance is pending for copy.')
            </text>
                }
                else {
                    <text>
            $("#copyDailyToAll").prop('checked', false);
            $("#copyDailyToAll").prop('disabled', false);
            </text>
                }
            }
            else {
                  <text>
            $("#copyDailyToAll").prop('disabled', true);
            $("#copyDailyToAll").prop('checked', false);
            $("#messageLabel").text('Please provide daily attendance to activate checkbox.')
            </text>
              }
        }
        else {
            @if (Model.IsCopyDailyAttendanceToAllEnabled)
            {
                <text>
            $("#copyDailyToAll").prop('disabled', false);
            $("#copyDailyToAll").prop('checked', false);
            </text>
                if (Model.IsCopyDailyAttendanceToAllChecked)
                {
                    <text>
            $("#copyDailyToAll").prop('checked', true);
            $("#copyDailyToAll").prop('disabled', true);
            $("#messageLabel").text('No attendance is pending for copy.')
            </text>
                }
                 else {
                    <text>
            $("#copyDailyToAll").prop('checked', false);
            $("#copyDailyToAll").prop('disabled', false);
            </text>
                }
            }
            else {
                <text>
            $("#copyDailyToAll").prop('disabled', true);
            $("#copyDailyToAll").prop('checked', false);
            $("#messageLabel").text('Please provide all daily attendance.')
            </text>
            }
        }
    })
</script>