﻿@model ViewModel.ViewModel.Attendence.ManageAttendenceStatus

@{
    var message = ViewBag.IsAttendanceSuccess;

}

@if (TempData["ErrorNotificaition"] != null && TempData["ErrorNotificaition"] != "")
{

    <script>
        var ids = "";
        $(document).ready(function () {
            ids = '@TempData["ErrorNotificaition"]';
            ConfirmDialog("Your changes will also reflected in period wise attendance." +
                             "Are you sure want to change them?");
        });
        function ConfirmDialog(message) {
            $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '?</h6></div>')
            .dialog({
                modal: true, title: 'De-Select Checkboxes', zIndex: 10000, autoOpen: true,
                width: 'auto', resizable: false,
                buttons: {
                    Yes: function () {
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("DeleteAttendanceWithPeriodWise", "Attendance"))',
                            data: { "AttendanceIds": ids },
                            success: function (result) {
                            },
                            error: function (xhr, status, data) {
                                var err = "Error " + " " + data;
                                ToastMessage(err, "error", true, 5000);
                            }
                        });
                        $(this).dialog("close");
                        $("#classDropdown").trigger("change");
                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });
        };
    </script>
}

@if (TempData["SuccessNotificaition"] != null && TempData["SuccessNotificaition"] != "")
{

    <script>
        ToastMessage('@TempData["SuccessNotificaition"]', "success", true, 5000);
    </script>
}


@Html.HiddenFor(m => m.HasCountAttStatus)
@Html.HiddenFor(m => m.SendMessageMobileNoSelectionId)


<!-- change default values -->
<div class="modal-popup" id="StuAttSetting_Div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeStuAttSetting_div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Set Default Values</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h4 style="margin: 0px 0px 5px 15px;">Attendance</h4>
                    <div class="col-md-3">
                        @Html.Label("In Time:", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.IntTime, new
                        {
                            @class = "timePicker form-control",
                            @placeholder = "hh:mm",
                            @style = "width: 120px;"
                        })
                    </div>
                    <div class="col-md-3">
                        @Html.Label("Out Time:", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.OutTime, new
                        {
                            @class = "timePicker form-control",
                            @placeholder = "hh:mm",
                            @style = "width: 120px;"
                        })
                    </div>
                    <div class="col-md-3">
                        @Html.Label("Not Marked Text:", new { @class = "control-label" })<i class="fa fa-asterisk ks-required"></i>
                        @Html.TextBoxFor(m => m.TextForUnMarkedAtt, "", new { @class = "form-control", @style = "width:116px" })
                    </div>
                    <div class="col-md-3">
                        @Html.Label("Default Status:", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.AttendanceStatusId, Model.StudentAttendanceStatusList, new { @class = "form-control", @style = "width:120px" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <h4 style="margin: 0px 0px 5px 15px;">SMS</h4>
                    <div class="col-md-3">
                        <label>Is SMS</label>
                        @Html.CheckBoxFor(model => model.SMS)
                    </div>
                    <div class="col-md-3">
                        <label>To Non-App User</label>
                        @Html.CheckBoxFor(model => model.ToNonAppUser)
                    </div>
                    <div class="col-md-3">
                        <label>Is Notification</label>
                        @Html.CheckBoxFor(model => model.Notification)
                    </div>
                    <div class="col-md-3">
                        <label>Select Status</label>
                        @Html.DropDownListFor(x => x.StatusSelection, Model.MultipleSelectedAttendanceStatus,
                                 new { @class = "form-control", @style = "width:106px;", @multiple = "multiple" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>SMS Mobile No.:</label>
                        @Html.DropDownListFor(m => m.SMSSelectionStudentMobileNo, Model.AvailableSendMessageMobileNoOptions,
                        new { @class = "form-control", @style = "width:180px;" })
                    </div>
                </div>
                &nbsp;&nbsp;
                &nbsp;
                <div class="modal-footer">
                    <button type="button" id="btnSetDefaultVal" class="btn btn-success ">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>

<!------view html--------------------->
@if (Model.AttendanceStatusList != null)
{
    @Html.DropDownListFor(model => model.AttendanceStatusId, Model.AttendanceStatusList, new { @class = "form-control", Id = "AttendanceStatus", @style = "display: none" })
}
<div class="row">
    <label id="NotePeirodWise" style="color:red;" hidden>Note: Please contact administrator to change for period wise attendance</label>
    @if (Model.IsLogInByIncharge)
    {
        if (Model.IsEnablePeriodWise)
        {
            <div class="col-md-12 radio-butnn text-center well" style="padding:0px">
                <label><input type="radio" id="dailyRadioButton" name="optradio" class="rad" checked="checked"> Daily</label>
                <label><input type="radio" id="periodWiseRadioButton" name="optradio" class="rad"> Period wise</label>
                @if (Model.IsAllPeriodAttendanceAllowed)
                {
                    <label id="allAttendance"><input type="radio" id="allAttendanceRadioButton" name="optradio" class="rad"> All Attendance</label>
                }
            </div>
        }
        else
        {
            <label hidden><input type="radio" id="dailyRadioButton" name="optradio" class="rad" checked="checked"> Daily</label>
        }
    }
    <div class="col-md-12 top-space-10">
        @if (Model.IsSessionShow)
        {
            <div class="col-md-2 date-field form-group">
                <label class="">Session:</label>
                @Html.DropDownListFor(model => model.SessionId, Model.SessionList, new { @class = "form-control", Id = "sessionId" })
            </div>
        }
        <div class="col-md-2 date-field form-group">
            <label class="">Date:</label>
            @Html.TextBoxFor(model => model.modifiedDate, new { @class = "custom-control", @id = "Date" })
        </div>
        @if (Model.ClassList.Count > 0)
        {
            <div class="col-md-2 form-group" id="selectClass">
                <label for="exampleInputName3 label-class">Class:</label>
                @Html.DropDownListFor(model => model.ClassId, Model.ClassList, new { @class = "form-control", Id = "classDropdown" })
            </div>
        }
        @if (Model.IsMultipleClassIncharge)
        {
            <div class="col-md-2 form-group" id="selectClassForAllAttendance">
                <label for="exampleInputName3 label-class">Class:</label>
                @Html.DropDownListFor(model => model.ClassId, Model.ClassList, new { @class = "form-control", Id = "classDropdownForAllAttendance" })
            </div>
        }

        <div class="col-md-3 form-group top-space-20" id="chckInActive_DIv" hidden >
            <label>Include In-Active Students</label>
            <input id="chkInclude" name="IncludeInActive" type="checkbox" value="true">
        </div>
        <div class="col-md-2 form-group" id="selectPeriod">
            <label for="exampleInputName3 label-class">Periods:</label>
            @Html.DropDownListFor(model => model.PeriodId, Model.PeriodList, new { @class = "form-control", Id = "periodDropdown" })
        </div>
        <div class="col-md-2 form-group" id="classSubjectLabel" style="margin: 11px 0 0 0;" hidden>
            <label for="exampleInputName3 label-class" id="classLabel"></label><br />
            <label for="exampleInputName3 label-class" id="subjectLabel"></label>
        </div>
        @if (Model.IsAllPeriodAttendanceAllowed && Model.IsAllowCopyDailyAttendanceToAll)
        {
            <div class="col-md-3" id="copyToAll">
                <label id="lbl-reg" style="margin-top: 20px;">@Html.CheckBox("dailyToAll", new { id = "copyDailyToAll" }) Copy Daily Attendance To All</label>
                <label id="messageLabel" class="text-danger"></label>
            </div>
        }
    </div>
</div>


@Html.HiddenFor(model => model.StudentAttedanceStatusList)
@Html.HiddenFor(model => model.TimetableId)
@Html.HiddenFor(model => model.IsAdmin)
@Html.HiddenFor(model => model.IsEnablePeriodWise)


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped" id="studentListTable">
            <thead class="thead-default">
                <tr>
                    <th title="Select All" class="checkboxTh"><input type='checkbox' class='checkAll' /></th>
                    <th hidden>AttendanceStatusId</th>
                    <th hidden>AttendanceId</th>
                    <th hidden>StudentId</th>
                    <th>Roll No</th>
                    <th>Student Name</th>
                    <th>Status</th>
                    <th style="width:260px;" title="Enable/Disable InTime Value" class="InTimeCheckBox"><input type='checkbox' class='checkIntimeColumn' /> In Time</th>
                    <th style="width:260px;" title="Enable/Disable OutTime Value" class="OutTimeCheckBox"><input type='checkbox' class='checkOuttimeColumn' /> Out Time</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


@if (Model.StudentList.Count > 0)
{
    if (Model.IsPeriodAttendance)
    {
        for (int i = 0; i < Model.StudentList.Count; i++)
        {
            <script>
                var CaseOfNotVisibleTime = $("#HasCountAttStatus").val();
                @{
                    if((bool)Model.IsPeriodAttendance)
                    {
                        <text>
                $("#studentListTable thead tr").find("th:nth-child(1)").hide();
                $("#studentListTable thead tr").find("th:nth-child(8)").hide();
                $("#studentListTable thead tr").find("th:nth-child(9)").hide();
                </text>
                    }
                else
                {
                    <text>
                $("#studentListTable thead tr").find("th:nth-child(1)").show();
                $("#studentListTable thead tr").find("th:nth-child(8)").show();
                $("#studentListTable thead tr").find("th:nth-child(9)").show();
                </text>
                }
                }

                var row = "<tr>"
                // row += "<td> <input type='checkbox' class='checkAllChildBoxes' /></td>";
                row += "<td class='AttendanceStatusId' style='display:none'>" + '@Model.StudentList[i].AttendanceStatusId' + "</td>"
                row += "<td class='AttendanceId' style='display:none'>" + '@Model.StudentList[i].AttendanceId' + "</td>"
                row += "<td class='StudentId' style='display:none'>" + '@Model.StudentList[i].StudentId' + "</td>"
                row += "<td>" + '@Model.StudentList[i].RollNo' + "</td>"
                @if ((bool)Model.StudentList[i].IsInActive)
                {
                    <text>
                row += "<td style='color:blue'>" + '@Model.StudentList[i].StudentName' + "</td>"
                </text>
                }
                else {
                <text>
                row += "<td>" + '@Model.StudentList[i].StudentName' + "</td>"
                </text>
                }
                if ("@Model.StudentList[i].AttendanceAbbr" == "P" && "@Model.StudentList[i].AttendanceStatusId" == "") {
                    if ($("#IsEnablePeriodWise").val() == "True") {
                        row += "<td><img src='~/Content/assets/img/Green.png' style='visibility:hidden;'/><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                            + @Model.StudentList[i].StudentId + "'></select></td>"
                    }
                    else {
                        row += "<td><img src='~/Content/assets/img/Green.png' style='visibility:hidden;'/><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                                + @Model.StudentList[i].StudentId + "' disabled></select></td>"
                    }
                }
                else if ("@Model.StudentList[i].IsLeave" == "False" && "@Model.StudentList[i].AttendanceStatusId" != "" && "@Model.StudentList[i].AttendanceAbbr" == "P") {

                    if ($("#IsEnablePeriodWise").val() == "True") {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                            + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                            + @Model.StudentList[i].StudentId + "'></select></td>"
                    }
                    else {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                          + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                          + @Model.StudentList[i].StudentId + "' disabled></select></td>"
                    }
                }
                else if ("@Model.StudentList[i].AttendanceStatusId" != "" && "@Model.StudentList[i].IsLeave" == "True") {
                    if ($("#IsEnablePeriodWise").val() == "True") {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                            + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                            + @Model.StudentList[i].StudentId + "'></select></td>"
                    }
                    else {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                          + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                          + @Model.StudentList[i].StudentId + "' disabled></select></td>"
                    }
                }
                else if ("@Model.StudentList[i].AttendanceStatusId" != "" && "@Model.StudentList[i].AttendanceAbbr" == "A" && "@Model.StudentList[i].IsLeave" == "False") {
                    if ($("#IsEnablePeriodWise").val() == "True") {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                            + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                            + @Model.StudentList[i].StudentId + "'></select></td>"
                    }
                    else {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                          + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                          + @Model.StudentList[i].StudentId + "' disabled></select></td>"
                    }
                }
                @*if (!CaseOfNotVisibleTime.includes(@Model.StudentList[i].AttendanceStatus)) {
                    //disabled
                    row += "<td><input type='textbox' name='InTime_" + @Model.StudentList[i].StudentId + "' disabled='disabled' style='cursor:not-allowed;' data-id='"
                        + @Model.StudentList[i].StudentId + "' class='timePicker clsInTime' value='' placeholder='hh:mm'/></td>";
                    row += "<td><input type='textbox' name='OutTime_" + @Model.StudentList[i].StudentId + "' disabled='disabled' style='cursor:not-allowed;' data-id='"
                        + @Model.StudentList[i].StudentId + "' class='timePicker clsOutTime' value='' placeholder='hh:mm'/></td>";
                }
                else {
                    row += "<td><input type='textbox'  name='InTime_" + @Model.StudentList[i].StudentId + "' class='timePicker clsInTime' value='"
                        + @Model.StudentList[i].IntTime + "' placeholder='hh:mm'/></td>";
                    row += "<td><input type='textbox'  name='InTime_" + @Model.StudentList[i].StudentId + "' class='timePicker clsOutTime' value='"
                        + @Model.StudentList[i].OutTime + "' placeholder='hh:mm'/></td>";


                    $("input[name*='InTime_" + @Model.StudentList[i].StudentId + "']").timepicki({
                        show_meridian: false,
                        increase_direction: 'up'
                    });


                    $("input[name*='OutTime_" + @Model.StudentList[i].StudentId + "']").timepicki({
                        show_meridian: false,
                        increase_direction: 'up'
                    });

                }*@
                row += "</tr>";
                $("#studentListTable tbody").append(row);
                @foreach (var item in Model.AttendanceStatusList)
                {
                    <text>
                $("#Attendancestatus_" +@Model.StudentList[i].StudentId + "").append($("<option></option>").attr("value", '@item.Value').text('@item.Text'));
                </text>
                }
                if ('@Model.StudentList[i].AttendanceStatusId' > 0) {
                    $("#Attendancestatus_" + @Model.StudentList[i].StudentId + "").val('@Model.StudentList[i].AttendanceStatusId')
                }
            </script>
        }
    }
    else
    {
        for (int i = 0; i < Model.StudentList.Count; i++)
        {

            <script>
                var CaseOfNotVisibleTime = $("#HasCountAttStatus").val();
                @{
                    if((bool)Model.IsPeriodAttendance)
                    {
                             <text>
                $("#studentListTable thead tr").find("th:nth-child(1)").hide();
                $("#studentListTable thead tr").find("th:nth-child(8)").hide();
                $("#studentListTable thead tr").find("th:nth-child(9)").hide();
                </text>
                    }
                    else
                    {
                        <text>
                $("#studentListTable thead tr").find("th:nth-child(1)").show();
                $("#studentListTable thead tr").find("th:nth-child(8)").show();
                $("#studentListTable thead tr").find("th:nth-child(9)").show();
                </text>
                    }
                }

                var $AttendanceStatus = $("#AttendanceStatus > option").clone();
                var row = "<tr>"
                row += "<td> <input type='checkbox' class='checkAllChildBoxes' /></td>";
                row += "<td class='AttendanceStatusId' style='display:none'>" + '@Model.StudentList[i].AttendanceStatusId' + "</td>"
                row += "<td class='AttendanceId' style='display:none'>" + '@Model.StudentList[i].AttendanceId' + "</td>"
                row += "<td class='StudentId' style='display:none'>" + '@Model.StudentList[i].StudentId' + "</td>"
                row += "<td>" + '@Model.StudentList[i].RollNo' + "</td>"
                @if ((bool)Model.StudentList[i].IsInActive)
                {
                <text>
                row += "<td style='color:blue'>" + '@Model.StudentList[i].StudentName' + "</td>"
                </text>
                }
                else {
                 <text>
                row += "<td>" + '@Model.StudentList[i].StudentName' + "</td>"
                </text>
                }
                if ("@Model.StudentList[i].AttendanceStatusId" != "" && "@Model.StudentList[i].IsLeave" == "False" && "@Model.StudentList[i].AttendanceAbbr" == "P") {
                    if ($("#IsEnablePeriodWise").val() == "True") {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                            + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                            + @Model.StudentList[i].StudentId + "'></select></td>"
                    }
                    else {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                          + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                          + @Model.StudentList[i].StudentId + "' disabled></select></td>"
                    }
                }
                else if ("@Model.StudentList[i].AttendanceStatusId" != "" && "@Model.StudentList[i].IsLeave" == "True") {
                    if ($("#IsEnablePeriodWise").val() == "True") {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                            + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                            + @Model.StudentList[i].StudentId + "'></select></td>"
                    }
                    else {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                          + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                          + @Model.StudentList[i].StudentId + "' disabled></select></td>"
                    }
                }
                else if ("@Model.StudentList[i].AttendanceStatusId" != "" && "@Model.StudentList[i].AttendanceAbbr" == "A" && "@Model.StudentList[i].IsLeave" == "False") {
                    if ($("#IsEnablePeriodWise").val() == "True") {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                            + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                            + @Model.StudentList[i].StudentId + "'></select></td>"
                    }
                    else {
                        row += "<td><img src='" + "@Model.StudentList[i].ColorCode" + ".png"
                          + "'><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                          + @Model.StudentList[i].StudentId + "' disabled></select></td>"
                    }
                }
                else {
                    if ($("#IsEnablePeriodWise").val() == "True") {
                        row += "<td><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                            + @Model.StudentList[i].StudentId + "'></select></td>"
                    }
                    else {
                        row += "<td><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                          + @Model.StudentList[i].StudentId + "' disabled></select></td>"
                    }
                }
                if (!CaseOfNotVisibleTime.includes(@Model.StudentList[i].AttendanceStatus)) {
                    //disabled
                    row += "<td style='position: relative;'><input type='textbox' name='InTime_" + @Model.StudentList[i].StudentId + "' disabled='disabled' style='cursor:not-allowed;' data-id='"
                      + @Model.StudentList[i].StudentId + "' class='timePicker clsInTime' value='' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 10px;right: 72px;'><i class='fa fa-times'></i></a></td>";
                    row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + @Model.StudentList[i].StudentId + "' disabled='disabled' style='cursor:not-allowed;' data-id='"
                        + @Model.StudentList[i].StudentId + "' class='timePicker clsOutTime' value='' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 10px;right: 72px;'><i class='fa fa-times'></i></a></td>";
                }
                else {
                    row += "<td style='position: relative;'><input type='textbox'  name='InTime_" + @Model.StudentList[i].StudentId + "' class='timePicker clsInTime' value='"
                        + @Model.StudentList[i].IntTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime'><i class='fa fa-times' style='position: absolute;top: 10px;right: 72px;'></i></a></td>";
                    row += "<td style='position: relative;'><input type='textbox'  name='OutTime_" + @Model.StudentList[i].StudentId + "' class='timePicker clsOutTime' value='"
                        + @Model.StudentList[i].OutTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime'><i class='fa fa-times' style='position: absolute;top: 10px;right: 72px;'></i></a></td>";

                    $("input[name*='InTime_" + @Model.StudentList[i].StudentId + "']").timepicki({
                        show_meridian: false,
                        increase_direction: 'up'
                    });


                    $("input[name*='OutTime_" + @Model.StudentList[i].StudentId + "']").timepicki({
                        show_meridian: false,
                        increase_direction: 'up'
                    });
                }

                row += "</tr>";
                $("#studentListTable tbody").append(row);
                @foreach (var item in Model.AttendanceStatusList)
                {
                    <text>
                $("#Attendancestatus_" +@Model.StudentList[i].StudentId + "").append($("<option></option>").attr("value", '@item.Value').text('@item.Text'));
                </text>
                }
                if ('@Model.StudentList[i].AttendanceStatusId' > 0) {
                    $("#Attendancestatus_" +@Model.StudentList[i].StudentId + "").val('@Model.StudentList[i].AttendanceStatusId')
                }


            </script>
        }
    }
}
<div class="row">
    <div class="col-md-12" id="studentAllAttendanceDiv">
    </div>
</div>
@if (Model.IsAuthToAdd)
{
    <div class="row">
        <div class="col-md-12 sub-butn">
            <button type="submit" id="btnSubmit" class="btn btn-success submit-btn">Submit</button>
        </div>
    </div>
}

<script>
    var IsSaveIntime = "1", IsSaveOuttime = "1";
    var CaseOfNotVisibleTime = $("#HasCountAttStatus").val();
    var IsPeriodWise = false;
    $(document).ready(function () {
       
        if ($("#dailyRadioButton").is(":checked")) {
            $("#classDropdown").trigger("change");
            $("#btnSubmit").show();
            $("#selectClassForAllAttendance").hide();
            $("#selectPeriod").hide();
        }
        else if ($("#periodWiseRadioButton").is(":checked")) {
            $("#periodDropdown").trigger("change");
            IsPeriodWise = true;

        }


        $('.timePicker').timepicki({
            show_meridian: false,
            increase_direction: 'up'
        });
    });

    $('#StatusSelection').multiselect({
    });

    $(".checkAll").click(function () {
        if ($(this).is(":checked"))
            $("#studentListTable tbody tr").find("td:nth-child(1)").find(".checkAllChildBoxes").prop("checked", true);
        else
            $("#studentListTable tbody tr").find("td:nth-child(1)").find(".checkAllChildBoxes").prop("checked", false);
    });

    $("#chkInclude").change(function () {
        //$('#ks_loader').show();
        if ($("#dailyRadioButton").is(":checked"))
            $("#classDropdown").trigger('change');
        else if ($("#periodWiseRadioButton").is(":checked"))
            $("#periodDropdown").trigger("change");
        //$('#ks_loader').hide();
    });


    $("#btnSettings").click(function () {
        $("#StuAttSetting_Div").show();
    });

    $("#closeStuAttSetting_div").click(function () {
        $("#StuAttSetting_Div").hide();
    });

    $("#TextForUnMarkedAtt").blur(function () {
        $('#ks_loader').show();
        var text = $(this).val();

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("BindStudentStatusList", "Attendance"))',
            data: { "EnteredText": text },
            success: function (result) {
                if (result.RebindStatusList.length > 0) {
                    $("#AttendanceStatusId").empty();
                    $.each(result.RebindStatusList, function (i) {
                        if (result.DefaultAttendanceStatusId == result.RebindStatusList[i].Value) {
                            $("#AttendanceStatusId").append("<option value=" + result.RebindStatusList[i].Value
                                                            + " selected>" + result.RebindStatusList[i].Text + "</option>");
                        }
                        else {
                            $("#AttendanceStatusId").append("<option value=" + result.RebindStatusList[i].Value
                                                                + ">" + result.RebindStatusList[i].Text + "</option>");
                        }
                    });
                }
                else {
                    ToastMessage("Error Happened", "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                $('#ks_loader').hide();
                ToastMessage(err, "error", true, 5000);
            }
        });


    });


    $("#btnSetDefaultVal").click(function () {
        $('#ks_loader').show();
        var InTime = "", OutTime = "";
        if ($("#TextForUnMarkedAtt").val() != "") {
            var objModel = new Object();
            objModel.TextForUnMarkedAtt = $("#TextForUnMarkedAtt").val();
            objModel.IntTime = $("#IntTime").val();
            objModel.OutTime = $("#OutTime").val();
            objModel.AttendanceStatusId = $("#AttendanceStatusId option:selected").text();
            objModel.ClassId = parseInt($('#classDropdown').val());
            objModel.AttDate = $("#Date").val();
            objModel.MobileNoSelection = $("#SMSSelectionStudentMobileNo").val();
            objModel.SMS = $("#SMS").prop("checked");
            objModel.ToNonAppUser = $("#ToNonAppUser").prop("checked");
            objModel.Notification = $("#Notification").prop("checked");

            var Arrayobj = $("#StatusSelection").val();
            objModel.SelectedItems = "";
            $.each(Arrayobj, function (i) {
                objModel.SelectedItems += Arrayobj[i] + ",";
            });

            var DefaultSelectionStatus = $("#AttendanceStatusId").val();
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("InsertDefaultValues", "Attendance"))',
                data: objModel,
                success: function (result) {
                    InTime = result.InTime;
                    OutTime = result.OutTime;
                    if (result.listStus.length > 0) {
                        $.each(result.listStus, function (i) {
                            if (DefaultSelectionStatus != "") {
                                $("#studentListTable tbody tr").find("td:nth-child(7)").find("select#Attendancestatus_" + result.listStus[i]).val(DefaultSelectionStatus);
                                if (DefaultSelectionStatus == "UM") {
                                    $("#studentListTable tbody tr").find("td:nth-child(7)").find("select#Attendancestatus_" + result.listStus[i]
                                                                             + " option:selected").text(result.TextForUnMarkedAtt);
                                }

                                if (!CaseOfNotVisibleTime.includes($("#AttendanceStatusId option:selected").text())) {
                                    $("#studentListTable tbody tr").find("td:nth-child(8)").find("input[name*='InTime_" + result.listStus[i] + "']").attr("disabled", true);
                                    $("#studentListTable tbody tr").find("td:nth-child(9)").find("input[name*='OutTime_" + result.listStus[i] + "']").attr("disabled", true);
                                    $("#studentListTable tbody tr").find("td:nth-child(8)").find("input[name*='InTime_" + result.listStus[i] + "']").css("cursor", "not-allowed");
                                    $("#studentListTable tbody tr").find("td:nth-child(9)").find("input[name*='OutTime_" + result.listStus[i] + "']").css("cursor", "not-allowed");

                                    $("#studentListTable tbody tr").find("td:nth-child(8)").find("input[name*='InTime_" + result.listStus[i] + "']").val("");
                                    $("#studentListTable tbody tr").find("td:nth-child(9)").find("input[name*='OutTime_" + result.listStus[i] + "']").val("");
                                    return;
                                }
                                else {
                                    $("#studentListTable tbody tr").find("td:nth-child(8)").find("input[name*='InTime_" + result.listStus[i] + "']").removeAttr("disabled");
                                    $("#studentListTable tbody tr").find("td:nth-child(9)").find("input[name*='OutTime_" + result.listStus[i] + "']").removeAttr("disabled");
                                    $("#studentListTable tbody tr").find("td:nth-child(8)").find("input[name*='InTime_" + result.listStus[i] + "']").css("cursor", "default");
                                    $("#studentListTable tbody tr").find("td:nth-child(9)").find("input[name*='OutTime_" + result.listStus[i] + "']").css("cursor", "default");

                                    $("input[name*='InTime_" + result.listStus[i] + "']").timepicki({
                                        show_meridian: false,
                                        increase_direction: 'up'
                                    });

                                    $("input[name*='OutTime_" + result.listStus[i] + "']").timepicki({
                                        show_meridian: false,
                                        increase_direction: 'up'
                                    });
                                }
                            }
                            if (InTime != "")
                                $("#studentListTable tbody tr").find("td:nth-child(8)").find("input[name*='InTime_" + result.listStus[i] + "']").val(InTime);
                            if (OutTime != "")
                                $("#studentListTable tbody tr").find("td:nth-child(9)").find("input[name*='OutTime_" + result.listStus[i] + "']").val(OutTime);
                        });

                    }

                    $("#StuAttSetting_Div").hide();
                    //$("#AttendanceStatusId").val("");
                    ToastMessage("Updated Successfully", "success", true, 5000);
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            ToastMessage("Please enter Not Marked Text", "error", true, 5000);
            $('#ks_loader').hide();
        }
    });

    $(document).on("change", ".clsattendancestatus", function () {
        var row = $(this).parent().parent();
        var selectedStatusText = $(this).find("option:selected").text();

        var studentId = row.find("td:nth-child(4)").text();
        if (!CaseOfNotVisibleTime.includes(selectedStatusText)) {
           
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").attr("disabled", true);
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "not-allowed");
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").val("");
                
          
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").attr("disabled", true);
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").css("cursor", "not-allowed");
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").val("");
           
        }
        else {
            if (!(row.find("td:nth-child(8)").find("input[class*='clsInTime']").hasClass("hasTime"))) {
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").val($("#IntTime").val());
            }
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").removeAttr("disabled");
            row.find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "default");

            if (!(row.find("td:nth-child(9)").find("input[class*='clsOutTime']").hasClass("hasTime"))) {
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").val($("#OutTime").val());
            }
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").removeAttr("disabled");
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").css("cursor", "default");

                $("input[name*='InTime_" + studentId + "']").timepicki({
                    show_meridian: false,
                    increase_direction: 'up'
                });
                $("input[name*='OutTime_" + studentId + "']").timepicki({
                    show_meridian: false,
                    increase_direction: 'up'
                });
        }
      
        if (!$("#studentListTable thead th:nth(7)").find("input[class*='checkIntimeColumn']").prop("checked")) {
            row.find("td:nth-child(8)").find("input[class*='clsInTime']").attr("disabled", true);
            row.find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "not-allowed");
            if (!(row.find("td:nth-child(8)").find("input[class*='clsInTime']").hasClass("hasTime"))) {
                  row.find("td:nth-child(8)").find("input[class*='clsInTime']").val("");
            }
        }

        if (!$("#studentListTable thead th:nth(8)").find("input[class*='checkOuttimeColumn']").prop("checked")) {
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").attr("disabled", true);
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").css("cursor", "not-allowed");
            if (!(row.find("td:nth-child(9)").find("input[class*='clsOutTime']").hasClass("hasTime"))) {
                  row.find("td:nth-child(9)").find("input[class*='clsOutTime']").val("");
            }
        }
    });
    $(document).on("click", ".checkIntimeColumn", function () {
        var currentCheckedHeader = $(this).parent().index() + 1;
        if ($(this).prop("checked") == true) {
            IsSaveIntime = "1";
            $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsInTime']").css("cursor", "default");
            $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsInTime']").removeAttr("disabled");

        }
        else {

            IsSaveIntime = "0";
         //   $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsInTime']").val("");
            $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsInTime']").attr("disabled", true);
            $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsInTime']").css("cursor", "not-allowed");
        }

        //if ($(this).prop("checked") == true) {
        //    IsSaveIntime = "0";

        //    $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsInTime']").attr("disabled", true);
        //    $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsInTime']").css("cursor", "not-allowed");
        //}
        //else {

        //    IsSaveIntime = "1";
        //    $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsInTime']").css("cursor", "default");
        //    $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsInTime']").removeAttr("disabled");
        //}
       $(".clsattendancestatus").each(function () {
        var row = $(this).parent().parent();
        var selectedStatusText = $(this).find("option:selected").text();

        var studentId = row.find("td:nth-child(4)").text();
        if (!CaseOfNotVisibleTime.includes(selectedStatusText)) {
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").attr("disabled", true);
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "not-allowed");
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").val("");
        }
        else {
            if (!(row.find("td:nth-child(8)").find("input[class*='clsInTime']").hasClass("hasTime"))) {
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").val($("#IntTime").val());
            }
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").removeAttr("disabled");
                row.find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "default");

                $("input[name*='InTime_" + studentId + "']").timepicki({
                    show_meridian: false,
                    increase_direction: 'up'
                });
        }
        if (!$("#studentListTable thead th:nth(7)").find("input[class*='checkIntimeColumn']").prop("checked")) {
            row.find("td:nth-child(8)").find("input[class*='clsInTime']").attr("disabled", true);
            row.find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "not-allowed");
            if (!(row.find("td:nth-child(8)").find("input[class*='clsInTime']").hasClass("hasTime"))) {
                  row.find("td:nth-child(8)").find("input[class*='clsInTime']").val("");
            }
        }
    });
    });


    $(document).on("click", ".checkOuttimeColumn", function () {
        var currentCheckedHeader = $(this).parent().index() + 1;
        if ($(this).prop("checked") == true) {
            IsSaveOuttime = "1";
            $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsOutTime']").css("cursor", "default");
            $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsOutTime']").removeAttr("disabled");
        }
        else {
            // $(".clsattendancestatus").trigger("change");
            IsSaveOuttime = "0";
         //   $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsOutTime']").val("");
            $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsOutTime']").attr("disabled", true);
            $("#studentListTable tbody tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[class*='clsOutTime']").css("cursor", "not-allowed");

        }
        //$(".clsattendancestatus").trigger("change");
         $(".clsattendancestatus").each(function () {
        var row = $(this).parent().parent();
        var selectedStatusText = $(this).find("option:selected").text();

        var studentId = row.find("td:nth-child(4)").text();
        if (!CaseOfNotVisibleTime.includes(selectedStatusText)) {
                
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").attr("disabled", true);
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").css("cursor", "not-allowed");
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").val("");
        }
        else {
            if (!(row.find("td:nth-child(9)").find("input[class*='clsOutTime']").hasClass("hasTime"))) {
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").val($("#OutTime").val());
            }
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").removeAttr("disabled");
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").css("cursor", "default");

                $("input[name*='OutTime_" + studentId + "']").timepicki({
                    show_meridian: false,
                    increase_direction: 'up'
                });
        }
        if (!$("#studentListTable thead th:nth(8)").find("input[class*='checkOuttimeColumn']").prop("checked")) {
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").attr("disabled", true);
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").css("cursor", "not-allowed");
            if (!(row.find("td:nth-child(9)").find("input[class*='clsOutTime']").hasClass("hasTime"))) {
                row.find("td:nth-child(9)").find("input[class*='clsOutTime']").val("");
            }
        }
    });
    });
    $(document).on("click", ".clearIntime", function () {
        $(this).parent().find(".clsInTime").val("");
    })
    $(document).on("click", ".clearOutTime", function () {
        $(this).parent().find(".clsOutTime").val("");
     })


    $(function () {
        $("#copyDailyToAll").prop('disabled', true);
        var message = "@message";
        if (message != "") {
            ToastMessage("Attendance Saved Successfully.", "success", true, 5000);
        }
        @if (Model.StudentList.Count == 0)
        {
            <text>
        $("#btnSubmit").hide();
        </text>

        }
        else
        {
           <text>
        $("#btnSubmit").show();
        </text>
        }
        @if (Model.IsPeriodAttendance)
        {
            <text>
        $("#periodWiseRadioButton").prop('checked', 'checked')
        $("#classLabel").text("@Model.ClassName");
        $("#subjectLabel").text("@Model.SubjectName");
        </text>
        }
        if ($("#dailyRadioButton").prop("checked")) {
            $("#copyToAll").hide();
            $("#classSubjectLabel").hide();
            $("#selectPeriod").hide();
            $("#studentAllAttendanceDiv").hide();
            $("#selectClass").show();
            $("#selectClassForAllAttendance").hide();
        }
        if ($("#periodWiseRadioButton").prop("checked")) {
            $("#copyToAll").hide();
            $("#classSubjectLabel").show();
            $("#selectPeriod").show();
            $("#studentAllAttendanceDiv").hide();
            $("#selectClass").hide();
            $("#selectClassForAllAttendance").hide();


        }

        $("#Date").kendoDatePicker({
            change: onChange,
            format: "dd/MM/yyyy",
            min: "@Model.SessionStartDate",
            max: new Date()
        });

        $("#Date").attr("readonly", true);

        function onChange() {
            $("#copyDailyToAll").prop('disabled', true);
            $("#copyDailyToAll").prop('checked', false);
            $("#messageLabel").text('');
            $("#classSubjectLabel").hide();
            $("#btnSubmit").hide();
            $('#periodDropdown').prop('selectedIndex', 0);
            $('#classDropdown').prop('selectedIndex', 0);
            $('#classDropdownForAllAttendance').prop('selectedIndex', 0);
            $('#validation_error_div ul').html('');
            $('#validation_error_div').hide();
            $("#success_notification_div").hide();
            $("#studentListTable tbody").html('');
            $("#studentAllAttendanceDiv").html('');

            var date = $("#Date").val();
            if (new Date(GetDateFromString(date)) > new Date()) {
                if ($("#allAttendanceRadioButton").prop("checked")) {

                    ToastMessage("All Attendance not allowed for future dates.", "error", true, 5000);
                    $("#dailyRadioButton").click();
                }
                $("#allAttendance").hide();
            }
            else {
                $("#allAttendance").show();
            }
            if ($('#classDropdown > option').length <= 2) {
                var classId = parseInt($('#classDropdown').find('option:nth-child(2)').val());
                if (date != "" && $("#allAttendanceRadioButton").prop("checked") && classId > 0) {
                    $('#ks_loader').show();
                    $.ajax({
                        async: false,
                        url: "@Html.Raw(Url.Action("GetInchargeStudentList", "Attendance"))",
                        type: 'POST',
                        data: { "date": GetDateFromString(date), "classId": classId },
                        success: function (res) {
                            if (res.status == "failed") {
                                $('#ks_loader').hide();
                                ToastMessage(res.data, "error", true, 5000);
                            }
                            else {
                                $('#ks_loader').hide();
                                $("#classSubjectLabel").show();
                                $("#studentAllAttendanceDiv").html(res);
                            }
                        },
                        error: function (xhr, status, p3) {
                            $('#ks_loader').hide();
                            var err = "Error: " + " " + p3;
                            ToastMessage(err, "error", true, 5000);
                        }
                    });
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }
        }
    });
    $("#copyDailyToAll").click(function () {
        if (confirm("Once daily attendance copied, it will not be revertable.Are you sure want to copy daily attendance to all.") == true) {
            if ($("#copyDailyToAll").prop('checked') == true) {
                var date = $("#Date").val();
                var classId = $("#classDropdownForAllAttendance").val();
                if (classId == "") {
                    classId = $("#classDropdown").find("option:nth-child(2)").val();
                }
                if (date != "" && classId > 0) {
                    $('#ks_loader').show();
                    $.ajax({
                        async: false,
                        url: "@Html.Raw(Url.Action("CopyDailyAttendanceToAll", "Attendance"))",
                        type: 'POST',
                        data: { "date": GetDateFromString(date), "classId": classId },
                        success: function (res) {
                            $('#ks_loader').hide();
                            $("#studentAllAttendanceDiv").html(res);
                            ToastMessage("Attendance Saved Successfully.", "success", true, 5000);
                        },
                        error: function (xhr, status, p3) {
                            $('#ks_loader').hide();
                            var err = "Error: " + " " + p3;
                            ToastMessage(err, "error", true, 5000);
                        }
                    })
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }
        }
        else {
            return false;
        }
    })
    $(document).on("change", ".dailyAttendance,.periodWiseAttendance", function () {
        var studentId = parseInt($(this).closest("tr").find("td:hidden").text());
        var periodId = this.name;
        var statusId = this.value;
        var date = $("#Date").val();
        var classId = $("#classDropdownForAllAttendance").val();
        if (classId == "") {
            classId = $("#classDropdown").find("option:nth-child(2)").val();
        }

        if (studentId > 0 && periodId >= 0 && statusId != "" && date != "" && classId > 0) {
            $('#ks_loader').show();
            $.ajax({
                async: false,
                url: "@Html.Raw(Url.Action("ManageStatus", "Attendance"))",
                type: 'POST',
                data: {
                    "studentId": studentId, "periodId": periodId, "statusId": statusId,
                    "date": GetDateFromString(date), "classId": classId,
                    "SelectedMobileOption": $("#SMSSelectionStudentMobileNo").val()
                },
                success: function (res) {
                    $('#ks_loader').hide();
                    ToastMessage("Attendance Saved Successfully.", "success", true, 5000);
                    $("#studentAllAttendanceDiv").html(res);
                },
                error: function (xhr, status, p3) {
                    $('#ks_loader').hide();
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            return false;
            ToastMessage("error", "error", true, 5000);
        }
    });

    $("#allAttendanceRadioButton").click(function () {
        $("#btnSetting_Div").hide();

        $("#copyToAll").show();
        if ($('#classDropdown > option').length <= 2) {
            $("#classLabel").text($("#classDropdown").find("option:nth-child(2)").text());
            $("#subjectLabel").text("");
            $("#classSubjectLabel").show();
        }
        else {
            $("#classSubjectLabel").hide();
        }
        $("#copyDailyToAll").prop('disabled', true);
        $("#copyDailyToAll").prop('checked', false);
        $("#messageLabel").text('');
        $("#selectPeriod").hide();
        $("#selectClass").hide();
        $("#success_notification_div").hide();
        $("#studentListTable").hide();
        $('#classDropdown').prop('selectedIndex', 0);
        $('#periodDropdown').prop('selectedIndex', 0);
        $('#validation_error_div ul').html('');
        $('#validation_error_div').hide();
        $("#btnSubmit").hide();
        $("#studentAllAttendanceDiv").html('');
        $("#studentAllAttendanceDiv").show();
        if ($('#classDropdown > option').length <= 2) {
            $("#selectClassForAllAttendance").hide();
        }
        else {
            $("#selectClassForAllAttendance").show();
        }
        var date = $("#Date").val();
        if ($('#classDropdown > option').length <= 2) {
            var classId = parseInt($('#classDropdown').find('option:nth-child(2)').val());
            if (date != "" && new Date(GetDateFromString(date)) <= new Date() && classId > 0) {
                $('#ks_loader').show();
                $.ajax({
                    async: false,
                    url: "@Html.Raw(Url.Action("GetInchargeStudentList", "Attendance"))",
                    type: 'POST',
                    data: { "date": GetDateFromString(date), "classId": classId },
                    success: function (res) {
                        if (res.status == "failed") {
                            $('#ks_loader').hide();
                            ToastMessage(res.data, "error", true, 5000);
                        }
                        else {
                            $('#ks_loader').hide();
                            $("#studentAllAttendanceDiv").html(res);
                        }
                    },
                    error: function (xhr, status, p3) {
                        $('#ks_loader').hide();
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                return false;
            }
        }
        else {
            return;
        }
    });

    $("#dailyRadioButton").click(function () {
        $("#btnSetting_Div").hide();
        $("#copyToAll").hide();
        $("#classSubjectLabel").hide();
        $("#selectPeriod").hide();
        $("#selectClass").show();
        $("#success_notification_div").hide();
        $("#studentListTable tbody").html('');
        $("#studentListTable").show();
        $('#classDropdown').prop('selectedIndex', 0);
        $('#periodDropdown').prop('selectedIndex', 0);
        $('#classDropdownForAllAttendance').prop('selectedIndex', 0);
        $('#validation_error_div ul').html('');
        $('#validation_error_div').hide();
        $("#btnSubmit").hide();
        $("#studentAllAttendanceDiv").hide();
        $("#selectClassForAllAttendance").hide();

        $("#studentListTable thead tr").find('th:nth-child(1)').show();
        $("#studentListTable thead tr").find('th:nth-child(8)').show();
        $("#studentListTable thead tr").find('th:nth-child(9)').show();
    });
    $("#periodWiseRadioButton").click(function () {
        $("#btnSetting_Div").hide();
        $("#copyToAll").hide();
        $("#classSubjectLabel").hide();
        $("#selectPeriod").show();
        if ($('#IsAdmin').val() == "True") {
            $("#selectClass").show();
        }
        else {
            $("#selectClass").hide();
        }
        $("#success_notification_div").hide();
        $("#studentListTable tbody").html('');
        $("#studentListTable").show();
        $('#classDropdown').prop('selectedIndex', 0);
        $('#periodDropdown').prop('selectedIndex', 0);
        $('#classDropdownForAllAttendance').prop('selectedIndex', 0);
        $('#validation_error_div ul').html('');
        $('#validation_error_div').hide();
        $("#btnSubmit").hide();
        $("#studentAllAttendanceDiv").hide();
        $("#selectClassForAllAttendance").hide();

        $("#studentListTable thead tr").find('th:nth-child(1)').hide();
        $("#studentListTable thead tr").find('th:nth-child(8)').hide();
        $("#studentListTable thead tr").find('th:nth-child(9)').hide();
    });
    $("#classDropdownForAllAttendance").change(function () {
        var date = $("#Date").val();
        $("#allAttendaceTable").html('');
        var classId = $("#classDropdownForAllAttendance").val();
        if (date != "" && classId > 0) {
            $('#ks_loader').show();
            $.ajax({
                async: false,
                url: "@Html.Raw(Url.Action("GetInchargeStudentList", "Attendance"))",
                type: 'POST',
                data: { "date": GetDateFromString(date), "classId": classId },
                success: function (res) {
                    if (res.status == "failed") {
                        $('#ks_loader').hide();
                        ToastMessage(res.data, "error", true, 5000);
                    }
                    else {
                        $('#ks_loader').hide();
                        $("#studentAllAttendanceDiv").html(res);
                    }
                },
                error: function (xhr, status, p3) {
                    $('#ks_loader').hide();
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            return false;
        }
    })

    $("#sessionId").change(function () {
        $("#studentListTable tbody").html('');
        $("#classDropdown").val("");
    });

    $("#classDropdown").change(function () {

        
        var IsAdmin = false;
        @if (Model.IsAdmin)
        {
            <text>
        IsAdmin = true;
        </text>
        }
        $("#btnSubmit").hide();
        var timetableId = $("#TimetableId").val();
        var ClassId = $('option:selected', this).val();
        var date = $("#Date").val();
        $("#studentListTable").show();
        $("#studentListTable tbody").html('');

        var Selection = "";
        if ($("#periodWiseRadioButton").prop("checked"))
            Selection = "Period";
        else if ($("#dailyRadioButton").prop("checked"))
            Selection = "Daily";

        $("#studentListTable thead tr").find('th:nth-child(1)').show();
        $("#studentListTable thead tr").find('th:nth-child(8)').show();
        $("#studentListTable thead tr").find('th:nth-child(9)').show();

        var SessionId = 0;
        if ($("#sessionId").val() != "undefined" && $("#sessionId").val() != "" && $("#sessionId").val() != null) {
            SessionId = $("#sessionId").val();
        }
        if (ClassId > 0 && date != "") {
            $("#btnSetting_Div").show();
            $("#chckInActive_DIv").show();
            $('#ks_loader').show();
            $.ajax({
                url: "@Html.Raw(Url.Action("GetStudentList", "Attendance"))",
                type: 'POST',
                data: {
                    "classId": ClassId, "date": GetDateFromString(date), "RadioSelection": Selection, "SessionId": SessionId
                    , "IsActive": $("#chkInclude").prop("checked")
                },
                success: function (res) {
                    if (res.status == "success") {
                        if (res.timeTableMessage == null) {
                            if (res.data != "") {
                                for (var i = 0; i < res.data.length; i++) {
                                    var $AttendanceStatus = $("#AttendanceStatus");
                                    $AttendanceStatus.empty();
                                    $.each(res.AttendanceStatusList, function (key, value) {
                                        $AttendanceStatus.append($("<option></option>")
                                           .attr("value", value.Value).text(value.Text));
                                    });

                                    //if (res.attendanceStatusList != "" && new Date(GetDateFromString(date)) <= new Date()) {
                                    //    var $AttendanceStatus = $("#AttendanceStatus");
                                    //    $AttendanceStatus.empty();
                                    //    $.each(res.attendanceStatusList, function (key, value) {
                                    //        $AttendanceStatus.append($("<option></option>")
                                    //           .attr("value", value.Value).text(value.Text));
                                    //    });
                                    //}
                                    //if (res.data[i].AttendanceStatusList != "" && new Date(GetDateFromString(date)) > new Date()) {
                                    //    var $AttendanceStatus = $("#AttendanceStatus");
                                    //    $AttendanceStatus.empty();
                                    //    $.each(res.data[i].AttendanceStatusList, function (key, value) {
                                    //        $AttendanceStatus.append($("<option></option>")
                                    //           .attr("value", value.Value).text(value.Text));
                                    //    });
                                    //}
                                    if (!res.IsInchargeAllowedForAtn) {
                                        $(".sub-butn").hide();
                                    }
                                    else {
                                        if (!$(".sub-butn").is('visible')) {
                                            $(".sub-butn").show();
                                        }
                                    }
                                    var $AttendanceStatus = $("#AttendanceStatus > option").clone();
                                    var row = "<tr>"

                                    if (res.data[i].IsAuto == false) {
                                        row += "<td> <input type='checkbox' class='checkAllChildBoxes' checked /></td>";
                                    }
                                    else
                                        row += "<td> <input type='checkbox' class='checkAllChildBoxes' /></td>";

                                    row += "<td class='AttendanceStatusId' style='display:none'>" + res.data[i].AttendanceStatusId + "</td>"
                                    row += "<td class='AttendanceId' style='display:none'>" + res.data[i].AttendanceId + "</td>"
                                    row += "<td class='StudentId' style='display:none'>" + res.data[i].StudentId + "</td>";
                                    row += "<td>" + res.data[i].RollNo + "</td>";
                                    if (res.data[i].IsInActive == true) {
                                        row += "<td style='color:blue'>" + res.data[i].StudentName + "</td>"
                                    }
                                    else {
                                        row += "<td>" + res.data[i].StudentName + "</td>"
                                    }
                                    if (res.data[i].AttendanceStatusId != "" && res.data[i].IsLeave == false && res.data[i].AttendanceAbbr == "P") {
                                        //if (res.IsInchargeAllowedForAtn || res.IsAdmin) {
                                        row += "<td><img src='" + res.data[i].ColorCode + ".png" + "'/><select  class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "'></select></td>"

                                    }
                                    else if (res.data[i].AttendanceStatusId != "" && res.data[i].IsLeave == true) {
                                        //if (res.IsInchargeAllowedForAtn) {
                                        row += "<td><img src='" + res.data[i].ColorCode + ".png" + "'/><select  class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "'></select></td>"

                                    }
                                    else if (res.data[i].AttendanceStatusId != "" && res.data[i].AttendanceAbbr == "A" && res.data[i].IsLeave == false) {
                                        // if (res.IsInchargeAllowedForAtn) {
                                        row += "<td><img src='" + res.data[i].ColorCode + ".png" + "'/><select  class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "'></select></td>"

                                    }
                                    else {
                                        //if (res.IsInchargeAllowedForAtn) {
                                        row += "<td><img src='~/Content/assets/img/Green.png' style='visibility:hidden'/><select class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "'></select></td>"

                                    }



                                    if (!CaseOfNotVisibleTime.includes(res.data[i].AttendanceStatus)) {
                                        //disabled
                                        row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.data[i].StudentId + "' disabled='disabled' style='cursor:not-allowed;' data-id='"
                                            + res.data[i].StudentId + "' class='timePicker clsInTime' value='' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 10px;right: 72px;'><i class='fa fa-times'></i></a></td>";
                                        row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.data[i].StudentId
                                            + "' disabled='disabled' style='cursor:not-allowed;' data-id='" + res.data[i].StudentId
                                            + "' class='timePicker clsOutTime' value='' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 10px;right: 72px;'><i class='fa fa-times'></i></a></td>";
                                    }
                                    else {
                                        if (res.data[i].hasAttendance != "" && res.data[i].hasAttendance != null && res.data[i].hasAttendance == true) {
                                            row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.data[i].StudentId + "' class='timePicker clsInTime hasTime' value = '" + res.data[i].IntTime + "' placeholder = 'hh:mm' /> <a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 10px;right: 72px;'><i class='fa fa-times'></i></a></td > ";
                                            row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.data[i].StudentId + "' class='timePicker clsOutTime hasTime' value = '" + res.data[i].OutTime + "' placeholder = 'hh:mm' /> <a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 10px;right: 72px;'><i class='fa fa-times'></i></a></td > ";
                                        }
                                        else {
                                            row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.data[i].StudentId + "' class='timePicker clsInTime' value = '" + res.data[i].IntTime + "' placeholder = 'hh:mm' /> <a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 10px;right: 72px;'><i class='fa fa-times'></i></a></td > ";
                                            row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.data[i].StudentId + "' class='timePicker clsOutTime' value = '" + res.data[i].OutTime + "' placeholder = 'hh:mm' /> <a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 10px;right: 72px;'><i class='fa fa-times'></i></a></td > ";
                                        }
                                        //$("input[name*='InTime_" + res.data[i].StudentId + "']").timepicki({
                                        //    show_meridian: false,
                                        //    increase_direction: 'up'
                                        //});

                                        //$("input[name*='OutTime_" + res.data[i].StudentId + "']").timepicki({
                                        //    show_meridian: false,
                                        //    increase_direction: 'up'
                                        //});

                                    }

                                    row += "</tr>";
                                    $("#studentListTable tbody").append(row);

                                    $("#Attendancestatus_" + res.data[i].StudentId + "").append($AttendanceStatus);
                                    if (res.data[i].AttendanceStatusId > 0) {
                                        $("#Attendancestatus_" + res.data[i].StudentId + "").val(res.data[i].AttendanceStatusId);
                                    }
                                }
                                 $('.timePicker').timepicki({
                                         show_meridian: false,
                                         increase_direction: 'up'
                                      });

                                if (Selection == "Period") {
                                    $("#btnSubmit").hide();
                                   // $('#ks_loader').hide();
                                    $("#periodDropdown").trigger("change");
                                    $("#btnSetting_Div").hide();


                                    //hide header for period wise attendance
                                    $("#studentListTable thead").find("th:nth-child(1)").css("display", "none");
                                    $("#studentListTable thead").find("th:nth-child(8)").css("display", "none");
                                    $("#studentListTable thead").find("th:nth-child(9)").css("display", "none");

                                    $("#studentListTable tbody tr").find("td:nth-child(1)").hide();
                                    $("#studentListTable tbody tr").find("td:nth-child(8)").hide();
                                    $("#studentListTable tbody tr").find("td:nth-child(9)").hide();
                                }
                                else {
                                    //$('#ks_loader').hide();
                                    $(".clsattendancestatus").trigger("change");
                                    $("#btnSetting_Div").show();
                                    $("#btnSubmit").show();
                                    $("#studentListTable tbody tr").find("td:nth-child(1)").show();
                                    $("#studentListTable tbody tr").find("td:nth-child(8)").show();
                                    $("#studentListTable tbody tr").find("td:nth-child(9)").show();
                                }

                                if (IsAdmin) {
                                    $(".sub-butn").show();
                                }

                                //$('#ks_loader').hide();
                            }
                            else {
                               // $('#ks_loader').hide();
                                $("#btnSubmit").hide();
                                ToastMessage("No Records found.", "error", true, 5000);
                            }
                        }
                        else {
                          //  $('#ks_loader').hide();
                            $("#btnSubmit").hide();
                            ToastMessage(res.timeTableMessage, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    }
                    else {
                       // $('#ks_loader').hide();
                        $("#btnSubmit").hide();
                        ToastMessage(res.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    //$('#ks_loader').hide();
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            $("#chckInActive_DIv").hide();
           // $('#ks_loader').hide();
            return false;
        }
    });
    var PeriodWiseAsTeacherclass_Id = 0

    $("#periodDropdown").change(function () {
     
        //$('#ks_loader').show();

        $("#btnSubmit").css("display", "none");
        $("#NotePeirodWise").show();
        var periodId = $('option:selected', this).val();
        var date = $("#Date").val();
        var timetableId = $("#TimetableId").val();
        $("#studentListTable").show();
        $("#studentListTable tbody").html('');
        $("#classLabel").text('');
        $("#subjectLabel").text('');
        var classid = 0;
        var IsAdmin = false;
        @if (Model.IsAdmin)
        {
            <text>
        IsAdmin = true;
        classid = $('#classDropdown').val()
        if (classid == "") {
            ToastMessage('Please Select Class', "error", true, 5000)
            return false;
        }
        </text>
        }
        IsPeriodWise = true;
        //hide header for period wise attendance
        $("#studentListTable thead").find("th:nth-child(1)").css("display", "none");
        $("#studentListTable thead").find("th:nth-child(8)").css("display", "none");
        $("#studentListTable thead").find("th:nth-child(9)").css("display", "none");
        //if (classid != "" && ) {
        if (periodId > 0 && timetableId > 0) {

            $("#chckInActive_DIv").show();
            if (new Date(GetDateFromString(date)) <= new Date()) {
                //$('#ks_loader').show();
                $.ajax({
                    async: false,
                    url: "@Html.Raw(Url.Action("GetStudentList", "Attendance"))",
                    type: 'POST',
                    data: { "classId": classid, "periodId": periodId, "date": GetDateFromString(date), "timetableId": timetableId },
                    success: function (res) {
                        if (res.status == "success") {
                            if (res.timeTableMessage == null || res.timeTableMessage == "") {
                                if (res.data != "") {
                                    $("#classSubjectLabel").show();
                                    if (res.classid > 0) {
                                        PeriodWiseAsTeacherclass_Id = res.classid;
                                        IsPeriodWise = true;
                                    }

                                    $("#classLabel").text($("#classDropdown").find("option:selected").text());
                                    $("#classLabel").text(res.className);
                                    $("#subjectLabel").text(res.subjectName);
                                    for (var i = 0; i < res.data.length; i++) {
                                        if (res.attendanceStatusList != "") {
                                            var $AttendanceStatus = $("#AttendanceStatus");
                                            $AttendanceStatus.empty();
                                            $.each(res.attendanceStatusList, function (key, value) {
                                                $AttendanceStatus.append($("<option></option>")
                                                   .attr("value", value.Value).text(value.Text));
                                            });
                                        }
                                        var $AttendanceStatus = $("#AttendanceStatus > option").clone();
                                        var row = "<tr>"
                                        // row += "<td> <input type='checkbox' class='checkAllChildBoxes' /></td>";
                                        row += "<td class='AttendanceStatusId' style='display:none'>" + res.data[i].AttendanceStatusId + "</td>"
                                        row += "<td class='AttendanceId' style='display:none'>" + res.data[i].AttendanceId + "</td>"
                                        row += "<td class='StudentId' style='display:none'>" + res.data[i].StudentId + "</td>"
                                        row += "<td>" + res.data[i].RollNo + "</td>";
                                        if (res.data[i].IsInActive == true) {
                                            row += "<td style='color:blue'>" + res.data[i].StudentName + "</td>"
                                        }
                                        else {
                                            row += "<td>" + res.data[i].StudentName + "</td>"
                                        }
                                        if (res.data[i].AttendanceAbbr == "P" && res.attendanceStatusList != "" && res.data[i].AttendanceStatusId == "") {
                                            if ($("#IsEnablePeriodWise").val() == "True")
                                                row += "<td><img src='~/Content/assets/img/Green.png' style='visibility:hidden'/><select class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "' ></select></td>"
                                            else
                                                row += "<td><img src='~/Content/assets/img/Green.png' style='visibility:hidden'/><select class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "' disabled></select></td>"
                                        }
                                        else if (res.data[i].IsLeave == false && res.data[i].AttendanceStatusId != "" && res.data[i].AttendanceAbbr == "P") {
                                            if ($("#IsEnablePeriodWise").val() == "True")
                                                row += "<td><img src='" + res.data[i].ColorCode + ".png" + "'><select class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "' ></select></td>"
                                            else
                                                row += "<td><img src='" + res.data[i].ColorCode + ".png" + "'><select class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "' disabled></select></td>"
                                        }
                                        else if (res.data[i].AttendanceStatusId != "" && res.data[i].IsLeave == true) {
                                            if ($("#IsEnablePeriodWise").val() == "True")
                                                row += "<td><img src='" + res.data[i].ColorCode + ".png" + "'><select class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "' ></select></td>"
                                            else
                                                row += "<td><img src='" + res.data[i].ColorCode + ".png" + "'><select class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "' disabled></select></td>"
                                        }
                                        else if (res.data[i].AttendanceStatusId != "" && res.data[i].AttendanceAbbr == "A" && res.data[i].IsLeave == false) {
                                            if ($("#IsEnablePeriodWise").val() == "True")
                                                row += "<td><img src='" + res.data[i].ColorCode + ".png" + "'><select class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "' ></select></td>"
                                            else
                                                row += "<td><img src='" + res.data[i].ColorCode + ".png" + "'><select class='form-control clsattendancestatus' id='Attendancestatus_" + res.data[i].StudentId + "' disabled></select></td>"
                                        }
                                        //if (!CaseOfNotVisibleTime.includes(res.data[i].AttendanceStatus)) {
                                        //    //disabled
                                        //    row += "<td><input type='textbox' name='InTime_" + res.data[i].StudentId + "' disabled='disabled' style='cursor:not-allowed;' data-id='"
                                        //     + res.data[i].StudentId + "' class='timePicker clsInTime' value='' placeholder='hh:mm'/></td>";
                                        //    row += "<td><input type='textbox' name='OutTime_" + res.data[i].StudentId
                                        //        + "' disabled='disabled' style='cursor:not-allowed;' data-id='" + res.data[i].StudentId
                                        //        + "' class='timePicker clsOutTime' value='' placeholder='hh:mm'/></td>";
                                        //}
                                        //else {
                                        //    row += "<td><input type='textbox' name='InTime_" + res.data[i].StudentId + "' class='timePicker clsInTime' value='" + res.data[i].IntTime + "' placeholder='hh:mm'/></td>";
                                        //    row += "<td><input type='textbox' name='OutTime_" + res.data[i].StudentId + "' class='timePicker clsOutTime' value='" + res.data[i].OutTime + "' placeholder='hh:mm'/></td>";

                                        //    $("input[name*='InTime_" + res.data[i].StudentId + "']").timepicki({
                                        //        show_meridian: false,
                                        //        increase_direction: 'up'
                                        //    });

                                        //    $("input[name*='OutTime_" + res.data[i].StudentId + "']").timepicki({
                                        //        show_meridian: false,
                                        //        increase_direction: 'up'
                                        //    });

                                        //}
                                        row += "</tr>";
                                        $("#studentListTable tbody").append(row);
                                        $("#Attendancestatus_" + res.data[i].StudentId + "").append($AttendanceStatus);
                                        if (res.data[i].AttendanceStatusId > 0) {
                                            $("#Attendancestatus_" + res.data[i].StudentId + "").val(res.data[i].AttendanceStatusId)
                                        }


                                    }
                                    if (!$(".sub-butn").is('visible')) {
                                        $(".sub-butn").show();
                                    }
                                    $("#btnSubmit").hide();
                                    if (IsAdmin) {
                                        $("#btnSubmit").show();
                                    }
                                    else {
                                        if ($("#IsEnablePeriodWise").val() == "True")
                                            $("#btnSubmit").show();
                                        else
                                            $("#btnSubmit").hide();
                                    }
                                    //$('#ks_loader').hide();
                                }
                                else {
                                    //$('#ks_loader').hide();
                                    $("#btnSubmit").hide();
                                    ToastMessage("No Records found", "error", true, 5000);
                                }
                            }
                            else {
                                //$('#ks_loader').hide();
                                $("#btnSubmit").hide();
                                ToastMessage(res.timeTableMessage, "error", true, 5000);
                            }
                           // $('#ks_loader').hide();
                        }
                        else {
                            //$('#ks_loader').hide();
                            $("#btnSubmit").hide();
                            ToastMessage(res.data, "error", true, 5000);
                        }
                    },
                    error: function (xhr, status, p3) {
                        //$('#ks_loader').hide();
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $("#btnSubmit").hide();
                //$('#ks_loader').hide();
                ToastMessage("Future Attendances not allowed.", "error", true, 5000);
            }
        }
        else
            $("#chckInActive_DIv").hide();
        //}
        //$('#ks_loader').hide();
    });


    var ClassName = "";
    var Subjectname = "";
    $("#btnSubmit").on("click", function () {
        $('#ks_loader').show();
        var Isvalid = ValidateManageAttendance();
        if (Isvalid) {

            $('#Date').removeAttr("readonly");
            var StudentList = new Array();
            var StudentListObj = new Object();

            if ($("#periodDropdown").val() != "")
                IsPeriodWise = true;

            ClassName = $("#classLabel").text();
            Subjectname = $("#subjectLabel").text();
            $('#studentListTable > tbody  > tr').each(function () {
                if (IsPeriodWise) {
                    var row = $(this);
                    StudentListObj = new Object();
                    StudentListObj.SubjectName = Subjectname;
                    StudentListObj.ClassName = ClassName;
                    StudentListObj.ClassId = PeriodWiseAsTeacherclass_Id;
                    StudentListObj.AttendanceId = row.find(".AttendanceId").text();
                    StudentListObj.StudentId = row.find(".StudentId").text();
                    StudentListObj.AttendanceStatusId = row.find(".clsattendancestatus option:selected").val();
                    StudentListObj.SendMessageMobileNoSelectionId = $("#SMSSelectionStudentMobileNo").val();
                    StudentListObj.IsPeriodAttendance = true;
                    IsPeriodWise = true;

                    if (StudentListObj.AttendanceStatusId == "") {
                        StudentListObj.AttendanceStatusId = "0";
                    }
                    if (StudentListObj.AttendanceId == "") {
                        StudentListObj.AttendanceId = 0;
                    }

                    StudentListObj.IntTime = "";
                    if (IsSaveIntime == "1")
                        StudentListObj.IntTime = row.find("td:nth-child(8)").find('.clsInTime').val();

                    StudentListObj.OutTime = "";
                    if (IsSaveOuttime == "1")
                        StudentListObj.OutTime = row.find("td:nth-child(9)").find('.clsOutTime').val();

                    StudentList.push(StudentListObj);
                }
                else {
                    if ($(this).find("td:nth-child(1)").find(".checkAllChildBoxes").is(":checked")) {
                        var row = $(this);
                        StudentListObj = new Object();
                        StudentListObj.SubjectName = $("#subjectLabel").text();
                        StudentListObj.ClassName = $("#classLabel").text();

                        StudentListObj.ClassId = parseInt($("#classDropdown").val())
                        StudentListObj.IsPeriodAttendance = false;
                        StudentListObj.AttendanceId = row.find(".AttendanceId").text();
                        StudentListObj.StudentId = row.find(".StudentId").text();
                        StudentListObj.AttendanceStatusId = row.find(".clsattendancestatus option:selected").val();
                        StudentListObj.SendMessageMobileNoSelectionId = $("#SMSSelectionStudentMobileNo").val();

                        if (StudentListObj.AttendanceStatusId == "") {
                            StudentListObj.AttendanceStatusId = "0";
                        }
                        if (StudentListObj.AttendanceId == "") {
                            StudentListObj.AttendanceId = 0;
                        }

                        StudentListObj.IntTime = "";
                        if (IsSaveIntime == "1")
                            StudentListObj.IntTime = row.find("td:nth-child(8)").find('.clsInTime').val();

                        StudentListObj.OutTime = "";
                        if (IsSaveOuttime == "1")
                            StudentListObj.OutTime = row.find("td:nth-child(9)").find('.clsOutTime').val();

                        StudentList.push(StudentListObj);
                    }
                }
            });
            if ($('#studentListTable >tbody >tr').length > 0) {
                $("#StudentAttedanceStatusList").val(JSON.stringify(StudentList));
                return true;
            }
            else {
                return false;
            }

        }
        else {
            $('#ks_loader').hide();
            var validationaray = ManageAttendancevalidationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $(ManageAttendancectrlfocus).focus();
            return false;
        }
    });
    var ManageAttendanceValid = true;
    var ManageAttendancevalidationmessage = "";
    var ManageAttendancectrlfocus = "";

    function ValidateManageAttendance() {
        ManageAttendanceValid = true;
        ManageAttendancevalidationmessage = "";
        ManageAttendancectrlfocus = "";
        if ($('#Date').val() == "") {
            if (ManageAttendancectrlfocus == "")
                ManageAttendancectrlfocus = "#Date";
            ManageAttendancevalidationmessage = ManageAttendancevalidationmessage + "Please select Date ε";
            ManageAttendanceValid = false;
        }
        if ($('#classDropdown').val() == "" && $("#classDropdown").is(":visible")) {
            if (ManageAttendancectrlfocus == "")
                ManageAttendancectrlfocus = "#classDropdown";
            ManageAttendancevalidationmessage = ManageAttendancevalidationmessage + "Please select Class ε";
            ManageAttendanceValid = false;
        }
        if ($('#periodDropdown').val() == "" && $("#periodDropdown").is(":visible")) {
            if (ManageAttendancectrlfocus == "")
                ManageAttendancectrlfocus = "#periodDropdown";
            ManageAttendancevalidationmessage = ManageAttendancevalidationmessage + "Please select Period ε";
            ManageAttendanceValid = false;
        }
        return ManageAttendanceValid;
    }
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }
    
</script>
