﻿@model ViewModel.ViewModel.Attendence.StudentAttendanceReport
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<div class="row top-space-20">
    <div class="col-md-2">
        <label class="control-label">Session</label>
        @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "form-control" })
    </div>

    <div class="col-md-2">
        <label class="control-label">Type</label>
        <select id="TypeSelection" class="form-control">
            <option value="Month">Month</option>
            <option value="Student">Student</option>
        </select>
    </div>

    <div class="col-md-2" id="dymanic_list_Div" hidden style="width:150px">
        <label class="control-label" id="dynamic-label"></label>
        <select id="DynamicList" class="form-control drop-down"></select>
    </div>
    <div class="col-md-2" id="DivAttendance_ClassId">
        <label class="control-label">Class</label>
        @Html.DropDownList("AttenRepo_ClassId", Model.ClassList, new { @class = "form-control", @style = "width:150px;" })
    </div>
    <div class="col-md-2" hidden id="DivAttendance_StudentId">
        <label class="control-label">Student</label>
        @Html.DropDownList("AttenRepo_StudentId", Model.ClassList,
                                    new { @class = "form-control", @style = "width:150px;" })
    </div>

    <div class="col-md-4 top-space-20">
        <button type="button" id="genreport" class="btn btn-success">Generate Report</button>
        <button type="button" id="btnStuAttenRpoMonthcancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
    </div>
</div>

<div class="row top-space-10">
    <div class="col-md-12" id="studentAttendancelist">
        <table class="table table-responsive table-condensed table-striped table-bordered" id="studentAttendance_MonthList">
            <thead class="thead-default">
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    
    $("#btnStuAttenRpoMonthcancel").click(function () {
        clearSecondTab();
    });

    $(document).ready(function () {
        $('#TypeSelection').val("Month").trigger('change');
    });

    $('#TypeSelection').change(function () {
        $('#studentAttendance_MonthList thead').html('');
        $('#studentAttendance_MonthList tbody').html('');
        $('#AttenRepo_StudentId').html("");
        $('#AttenRepo_ClassId').val("");
        if ($(this).val() != "") {
            if ($(this).val() == "Month") {
                $('#DivAttendance_StudentId').hide();
                $('#dymanic_list_Div').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetMonthList", "Attendance"))',
                    data: {},
                    success: function (result) {
                        if (result.status == "success") {
                            var monthlist = "";
                            for (var i = 0; i < result.AvailableMonthList.length; i++) {
                                monthlist += "<option value=" + result.AvailableMonthList[i].Value + ">"
                                                              + result.AvailableMonthList[i].Text + "</option>";
                            }
                            $('#dynamic-label').text('Months');
                            $('#DynamicList').html('');
                            $('#DynamicList').append(monthlist);
                            $('#dymanic_list_Div').show();
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else if ($(this).val() == "Student") {
                if ($("#SessionId").val() != "") {
                    $('#dymanic_list_Div').hide();
                    $('#DivAttendance_StudentId').show();
                    $('#AttenRepo_StudentId').html("");
                }
            }
        } else {
            $('#dymanic_list_Div').hide();
            $('#DivAttendance_StudentId').hide();
        }
    });

    $('#AttenRepo_ClassId').change(function () {
        $('#AttenRepo_StudentId').html("");
        if ($('#TypeSelection option:selected').val() == "Student") {
            if ($('#AttenRepo_ClassId').val() != "") {

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("StudentListbyClass", "Student"))',
                    async: false,
                    data: { "Class": $(this).val(), "Id": "", "CurrentSession": true, "Session_id": $("#SessionId").val() },
                    success: function (result) {
                        if (result.status == "success") {

                            for (var i = 0; i < result.data.length; i++) {
                                var option = "";
                                if (result.data[i].Selected == true)
                                    option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                                else
                                    option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                                $('#AttenRepo_StudentId').append(option);
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $('#DivAttendance_StudentId').hide();
            }
        }
        else {
            $('#DivAttendance_StudentId').hide();
        }
    });



    var GenReportValid = true;
    var GenReportvalidationmessage = "";
    var GenReportctrlfocus = "";
    function ValidateMonthGenReport() {
        GenReportValid = true;
        GenReportvalidationmessage = "";
        GenReportctrlfocus = "";

        if ($('#AttenRepo_ClassId').val() == "") {
            if (GenReportctrlfocus == "")
                GenReportctrlfocus = "#AttenRepo_ClassId";
            GenReportvalidationmessage = GenReportvalidationmessage + "Please select Class ε";
            GenReportValid = false;
        }
        if ($('#DynamicList').val() == "") {
            if (GenReportctrlfocus == "")
                GenReportctrlfocus = "#DynamicList";
            GenReportvalidationmessage = GenReportvalidationmessage + "Please select Month ε";
            GenReportValid = false;
        }
        var aa = GenReportvalidationmessage;
        return GenReportValid;
    }


    var StudentGenReportValid = true;
    var StudentGenReportvalidationmessage = "";
    var StudentGenReportctrlfocus = "";
    function ValidateStudentGenReport() {
        StudentGenReportValid = true;
        StudentGenReportvalidationmessage = "";
        StudentGenReportctrlfocus = "";

        if ($('#AttenRepo_ClassId').val() == "") {
            if (StudentGenReportctrlfocus == "")
                StudentGenReportctrlfocus = "#AttenRepo_ClassId";
            StudentGenReportvalidationmessage = StudentGenReportvalidationmessage + "Please select Class ε";
            StudentGenReportValid = false;
        }
        if ($('#AttenRepo_StudentId').val() == "") {
            if (StudentGenReportctrlfocus == "")
                StudentGenReportctrlfocus = "#AttenRepo_StudentId";
            StudentGenReportvalidationmessage = StudentGenReportvalidationmessage + "Please select Student ε";
            StudentGenReportValid = false;
        }
        var aa = StudentGenReportvalidationmessage;
        return StudentGenReportValid;
    }

    $(document).on('click', '#genreport', function () {
        var HasMonthValues = false;
        var HasStudentMonthValues = false;
        $('#ks_loader').show();
        $('#studentAttendancelist').show();
        var type = $('#TypeSelection option:selected').val();
        $('#studentAttendance_MonthList thead').html('');
        $('#studentAttendance_MonthList tbody').html('');
        if (type == "Month") {
            $('#DivAttendance_StudentId').hide();
            var valid = ValidateMonthGenReport();
            if (valid) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GenerateAtnReport", "Attendance"))',
                    data: {
                        "SessionId": $("#SessionId").val(),
                        "MonthId": $("#DynamicList").val(),
                        "ClassId": $('#AttenRepo_ClassId').val()
                    },
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.status != "" && result.headlist != "" && result.attendancelist != "") {
                                var header = "<tr>";
                                for (var i = 0; i < result.headlist.length; i++) {
                                    header += "<th>" + result.headlist[i] + "</th>";
                                }
                                header += "</tr>";
                                $('#studentAttendance_MonthList thead').append(header);

                                for (var i = 0; i < result.attendancelist.length; i++) {
                                    var row = "<tr>"
                                        + "<td>" + result.attendancelist[i].StudentName + "</td>"
                                    for (var k = 0; k < result.attendancelist[i].studentAttendanceStatus.length; k++) {
                                        row += "<td>" + result.attendancelist[i].studentAttendanceStatus[k] + "</td>";
                                    }
                                    row += "</tr>";

                                    $('#studentAttendance_MonthList tbody').append(row);
                                    HasMonthValues = true;
                                }
                                if (HasMonthValues) {
                                    $("#btnExportExcel_StuAttendance").css("display", "block");
                                    $("#btnPrint_StuAttendance2").css("display", "block");
                                }
                            }
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            } else {
                var validationaray = GenReportvalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                $('#ks_loader').hide();
            }
        }
        else if (type == "Student") {
            $('#DivAttendance_StudentId').show();
            var Valid = ValidateStudentGenReport();
            if (Valid) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GenerateAtnReportStudentWise", "Attendance"))',
                    data: {
                        "SessionId": $("#SessionId").val(),
                        "ClassId": $('#AttenRepo_ClassId').val(),
                        "StudentId": $('#AttenRepo_StudentId').val(),
                    },
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.status != "" && result.headlist != "" && result.attendancelist != "") {
                                var header = "<tr>";
                                for (var i = 0; i < result.headlist.length; i++) {
                                    header += "<th>" + result.headlist[i] + "</th>";
                                }
                                header += "</tr>";
                                $('#studentAttendance_MonthList thead').append(header);

                                for (var i = 0; i < result.attendancelist.length; i++) {
                                    var row = "<tr>"
                                        + "<td>" + result.attendancelist[i].MonthName + "</td>"
                                    for (var k = 0; k < result.attendancelist[i].studentAttendanceStatus.length; k++) {
                                        row += "<td>" + result.attendancelist[i].studentAttendanceStatus[k] + "</td>";
                                    }
                                    row += "</tr>";

                                    $('#studentAttendance_MonthList tbody').append(row);
                                    HasStudentMonthValues = true;
                                }
                                if (HasStudentMonthValues) {
                                    $("#btnExportExcel_StuAttendance").css("display", "block");
                                    $("#btnPrint_StuAttendance2").css("display", "block");
                                }
                            }
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                var validationaray = StudentGenReportvalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                $('#ks_loader').hide();
            }
        }
    });

</script>