﻿@model ViewModel.ViewModel.Attendence.StudentAttendanceReport
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style>
    .document .modal-title {
        /*font-size: 13px;
        font-weight: normal;
        line-height: 16px;
        padding-right: 0;*/
        margin-bottom: -25px !important;
        /*padding:5px;*/
    }

    #Detail-grid .k-grid-pager {
        display: none !important;
    }
</style>

@Html.Hidden("hdnStudentId")
<!--Modal For Attendace Report-->
<div class="modal fade" id="myDetailModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog" style="height:700px">
        <div class=" modal-content">
            <div class=" modal-header">
                <h4 class="modal-title" id="myBookModalLabel">
                    <label id="studentNamelbl"></label>
                    <br />
                    <span id="classlbl"></span><br />
                    <span id="rollNolbl"></span>
                    <span style="float:right;" id="datelbl"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div>
                    @*<label id="NoDataGrid">No Copies</label>*@
                    <div id="Detail-grid" style="height:400px">
                    </div>
                    <script>

                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row top-space-10">
                    <div class="col-md-12 ">
                        <button type="button" data-dismiss="modal" class="btn btn-danger pull-right" id="closeDetailModal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal For Attendace Report-->

<div class="form-inline ks-custom-form">
    <div class="row top-space-10">
        <div class="col-md-12">
            <div class="col-md-4">
                <label class="control-label">Att. Status </label>
                @Html.DropDownListFor(model => model.AttendanceStatusIds, Model.AttendanceStatusList,
                                     new { @class = "form-control", @style = "width:145px!important", @multiple = "multiple" })
            </div>

            <div class="col-md-3">
                <label class="control-label">Date</label>
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @style = "width:150px!important" })
            </div>

            <div class="col-md-3">
                <label class="control-label">Class</label>
                @Html.DropDownListFor(model => model.ClassId, Model.ClassList, new
                               {
                                   @class = "form-control",
                                   @style = "width:150px!important"
                               })
            </div>
        </div>
        <div class="col-md-12" style="margin-top:12px">
            <div class="col-md-3">
                <label class="control-label">Att. Type</label>
                     <select id="AttendanceTypeId" class="form-control" style="width:175px">
                        @foreach (var atdtype in Model.AttendanceTypes)
                        {
                            if (atdtype.Selected == true)
                            {
                                <option selected value="@atdtype.Value">@atdtype.Text</option>
                            }
                            else
                            {
                                <option value="@atdtype.Value">@atdtype.Text</option>
                            }
                        }
                  </select>
            </div>

            <div class="col-md-3">
                <label class="control-label">Att. Mode</label>
                <select id="AttendanceMode" class="form-control" style="width:175px">
                    @foreach (var atdtype in Model.AttendanceModes)
                    {
                        if (atdtype.Selected == true)
                        {
                            <option selected value="@atdtype.Value">@atdtype.Text</option>
                        }
                        else
                        {
                            <option value="@atdtype.Value">@atdtype.Text</option>
                        }
                    }
                </select>
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="col-md-4" style="float:right">
                <button type="button" id="btnGenerateRepo" class="btn btn-success">Generate Report</button>
                <button type="button" id="btncancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </div>
    </div>
        <hr />


        <!-- Kendo Gird -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="StuAttendanceRepo-grid" hidden>
                    <script>
                    $(document).ready(function () {
                        $("#StuAttendanceRepo-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetStudentWithAttendance", "Attendance"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalStuRepoData
                                    },
                                    parameterMap: function (data) {
                                        return JSON.stringify(data);
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: '@(defaultGridPageSize)',
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            dataBound: onDataBoundStuRepoData,
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            sortable: true,
                            columns: [{
                                field: "Student_Id",
                                hidden: true
                            }, {
                                field: "Class_Id",
                                hidden: true
                            }, {
                                field: "ClassName",
                                title: "Class",
                                sortable: true
                            }, {
                                field: "StudentName",
                                title: "Student",
                                sortable: true
                            }, {
                                field: "RollNo",
                                title: "Roll No",
                                sortable: true
                            },//, {
                            //    field: "AttendanceDate",
                            //    title: "Attendance Date",
                            //    template: "#= kendo.toString(kendo.parseDate(AttendanceDate, 'yyyy-MM-dd'), 'dd/MM/yyyy')!=null ? kendo.toString(kendo.parseDate(AttendanceDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') : '' #",
                            //    sortable: true
                            //},
                            {
                                field: "AttendanceStatus",
                                title: "AttendanceStatus",
                                sortable: true
                            }, {
                                field: "AttendanceInTime",
                                title: "In Time",
                                sortable: true
                            },{
                                field: "AttendanceIntimeMode",
                                title: "InTime Mode",
                                sortable: true
                            }, {
                                field: "AttendanceOutTime",
                                title: "Out Time",
                                sortable: true
                            },  {
                                field: "AttendanceInOutMode",
                                title: "OutTime Mode",
                                sortable: true
                            },
                            {
                                field: "TptType",
                                title: "TptType",
                                sortable: true
                            }, {
                                field: "Action",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: '#if(StudentPunchCount >0){#<a href="javascript:void(0);" class="punchDetails btn btn-xs btn-default" title="View Details"><i class="fa fa-eye"></i></a>#}'
                                        + 'else{#<div class="hdsdgd" style="display:none" ></div>#}#',

                            }]
                        });
                        var grid = $("#StuAttendanceRepo-grid").data("kendoGrid");

                    });

                    function onDataBoundStuRepoData(arg) {
                        $('[data-toggle="tooltip"]').tooltip();
                    }

                    function additionalStuRepoData() {
                        var data = {
                            ClassId: parseInt($('#ClassId').val()),
                            AttendanceTypeId: $("#AttendanceTypeId").val(),
                             AttendaceModeId:$("#AttendanceMode").val(),
                            AttendanceStatusIds: $("#AttendanceStatusIds").val(),
                            Date: $("#Date").val()
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                    addAntiForgeryToken = function (data) {
                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                    </script>
                </div>
            </div>
        </div>
        <!-- Kendo Gird -->
    </div>

<script>
    $(document).ready(function () {
        $("#btnPrintAttendance").hide();
        $("#btnExcelAttendance").hide();
    });
    $(document).on("click", ".punchDetails", function () {
   // $("#StuAttendanceRepo-grid").on('click', '.punchDetails', function () {
        debugger;
        var row = $(this).parent().parent();
        $("#studentNamelbl").html(row.find("td:nth-child(4)").text());
        $("#classlbl").html("Class --" + row.find("td:nth-child(3)").text());
        $("#rollNolbl").html("RollNo.  :" + row.find("td:nth-child(5)").text());
        $("#datelbl").html("Date  :" + $("#Date").val());
        var StudentId = row.find("td:nth-child(1)").text();
        $("#hdnStudentId").val(StudentId);
        $(document).ready(function () {
            $("#Detail-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("GetDetailWithStudent", "Attendance"))",
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json",
                            data: additionalStuRepoDetail
                        },
                        parameterMap: function (data) {
                            return JSON.stringify(data);
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: '@(defaultGridPageSize)',
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                dataBound: onDataBound,
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                scrollable: true,
                sortable: true,
                columns: [{
                    field: "StudentId",
                    hidden: true
                }, {
                    field: "SN",
                    title: "S.NO.",
                    sortable: true,
                    width: "10%"
                }, {
                    field: "DeviceSerialNo",
                    title: "Device No",
                    template: '#if(DeviceSerialNo!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="#=DeviceSerialNo#"><font>#=DeviceSerialNo#</font></i>#}#',
                    sortable: true
                }, {
                    field: "Location",
                    title: "Location",
                    sortable: true
                }, {
                    field: "Time",
                    title: "Time",
                    sortable: true
                }]
            });
            var grid = $("#Detail-grid").data("kendoGrid");
        });

        function onDataBound(arg) {
            $('[data-toggle="tooltip"]').tooltip();
        }

        function additionalStuRepoDetail() {
            var data = {
                ClassId: parseInt($('#ClassId').val()),
                Student_Id: StudentId,
                Date: $("#Date").val()
            };
            addAntiForgeryToken(data);
            return data;
        }

        addAntiForgeryToken = function (data) {
            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
            return data;
        };
        $('#myDetailModal').modal('show')
    })


    $("#ClassId").select2({});
    $("#AttendanceStatusIds").multiselect({
        nonSelectedText: "All"
    });

    $("#Date").kendoDatePicker({
        format: "dd/MM/yyyy",
        value: new Date
    });
    $("#Date").attr("readonly", true);

    $("#btnGenerateRepo").click(function () {
        $("#StuAttendanceRepo-grid").show();
        $('#ks_loader').show();
        var GirdCount = 0;
        var objModel = new Object();
        objModel.ClassId = $('#ClassId').val();

        if ($("#AttendanceStatusIds").val() != null)
            objModel.AttendanceStatusIds = $("#AttendanceStatusIds").val();

        objModel.Date = $("#Date").val();

        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetKendorGirdCount", "Attendance"))',
            data: objModel,
            success: function (result) {
                if (result.Count > 0)
                    GirdCount = result.Count;

                if (GirdCount > 0) {
                    $("#btnPrintAttendance").show();
                    $("#btnExcelAttendance").show();
                }
                else {
                    $("#btnPrintAttendance").hide();
                    $("#btnExcelAttendance").hide();
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

        var grid = $("#StuAttendanceRepo-grid").data("kendoGrid");
        grid.dataSource.page(1);
        $('#ks_loader').hide();
    });

    function ClearFields() {
        $("#Date").val(kendo.toString(new Date(), "dd/MM/yyyy"));
        $("#ClassId").val('').trigger('change');
        $("#AttendanceTypeId").val("");
        $("#AttendanceMode").val("");
        $("#AttendanceStatusIds").val("");
        $("#AttendanceStatusIds").multiselect('refresh');
    }

    $("#btncancel").click(function () {
        $("#StuAttendanceRepo-grid").hide();
        ClearFields();
        $("#btnPrintAttendance").hide();
        $("#btnExcelAttendance").hide();
    });
    var IsExcel = "";
    $("#btnExcelAttendance").click(function () {
        IsExcel = "2";
        $("#btnPrintAttendance")[0].click();
    })

    $("#btnPrintAttendance").click(function (e) {
        $('#ks_loader').show();
        var ClassID = "";
        if ($('#ClassId').val() != "")
            ClassID = $('#ClassId').val();

        $("#AttendanceStatusIds").val();
        var Date = $("#Date").val();
        $.ajax({
            type: "GET",
            async: true,
            url: '@Html.Raw(Url.Action("Export", "Attendance"))',
            data: {},
            success: function (result) {
                window.open('@Html.Raw(Url.Action("ExportData", "Attendance"))?ids=' + $("#AttendanceStatusIds").val()
                                            + "&Date=" + Date + "&classID=" + ClassID + "&IsExcel=" + IsExcel, '_blank');
                IsExcel = "";
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#ks_loader').hide();
    });
</script>
