﻿@model ViewModel.ViewModel.Attendence.StudentAttendanceReport
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<div class="modal-popup" id="SumaryPopUpModel_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="SumarymyModalLabel"></h4>
            </div>
            <div class="row modal-body">
                <div id="StuSummaryAttendanceRepo-grid">
                    @Html.Hidden("hdnSummaryClassId")
                    @Html.HiddenFor(x => x.ViewAttnStatus)
                    <script>
                        $(document).ready(function () {
                            $("#StuSummaryAttendanceRepo-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetStudentWithAttendance", "Attendance"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalStuRepoSummaryData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,
                                columns: [{
                                    field: "Student_Id",
                                    hidden: true
                                }, {
                                    field: "Class_Id",
                                    hidden: true
                                }, {
                                    field: "StudentName",
                                    title: "Student",
                                    sortable: true
                                }, {
                                    field: "RollNo",
                                    title: "Roll No",
                                    sortable: true
                                }, {
                                    field: "AttendanceDate",
                                    title: "Attendance Date",
                                    template: "#= kendo.toString(kendo.parseDate(AttendanceDate, 'yyyy-MM-dd'), 'dd/MM/yyyy')!=null ? kendo.toString(kendo.parseDate(AttendanceDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') : '' #",
                                    sortable: true
                                }, {
                                    field: "ClassName",
                                    title: "Class",
                                    sortable: true
                                }, {
                                    field: "AttendanceStatus",
                                    title: "AttendanceStatus",
                                    sortable: true
                                }, {
                                    field: "ShowDateColumn",
                                    hidden: true
                                }
                                ]
                            });
                            var grid = $("#StuSummaryAttendanceRepo-grid").data("kendoGrid");

                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }

                        function additionalStuRepoSummaryData() {
                            var data = {
                                ClassId: parseInt($('#hdnSummaryClassId').val()),
                                Date: $("#txtAttnSummaryDate").val(),
                                ViewAttnStatus: $("#ViewAttnStatus").val(),
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_divSumary">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row top-space-20">
    <div class="col-md-2">
        <label class="control-label">Session</label>
        @Html.DropDownList("drpSummarySession", Model.AvailableSessions, new { @class = "form-control" })
    </div>

    <div class="col-md-2">
        <label class="control-label">Type</label>
        <select id="TypeSelectionSummary" class="form-control">
            <option selected value="Date">Date</option>
            <option value="Month">Month</option>
            <option value="Year">Year</option>
        </select>
    </div>

    <div class="col-md-2" id="DivAttendanceSummary_Date" hidden style="width:150px">
        <label class="control-label">Date</label>
        @Html.TextBox("txtAttnSummaryDate", new { @class = "form-control" })
    </div>

    <div class="col-md-2" id="DivAttendanceSummary_ClassId" hidden>
        <label class="control-label">Class</label>
        @Html.DropDownList("AttenSummaryRepo_ClassId", Model.ClassList, new { @class = "form-control drop-down", @style = "width:150px;" })
    </div>
    <div class="col-md-2" id="DivAttendanceSummary_MonthId" style="width:150px" hidden>
        <label class="control-label">Month</label>
        <select id="AttenSummaryRepo_MonthId" class="form-control drop-down"></select>
    </div>

    <div class="col-md-2" id="dymanicSummary_list_Div" hidden>
        <label class="control-label" id="dynamicSummary-label"></label>
        <select id="DynamicSummaryList" class="form-control drop-down"></select>
    </div>

    <div class="col-md-4 top-space-20">
        <button type="button" id="genreport_Summary" class="btn btn-success">Generate Report</button>
        @*<button type="button" id="btnStuAttenSummaryRpo_cancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>*@
    </div>
</div>

<div class="row top-space-10">
    <div class="col-md-12" id="studentAttendance_summarylist" hidden>
        <table class="table table-responsive table-condensed table-striped table-bordered" id="studentAttendance_summarylist">
            <thead class="thead-default">
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12" id="ExportAttendance_summarylist" hidden>
        <table class="table table-responsive table-condensed table-striped table-bordered" id="ExportAttendance_summarylist">
            <thead class="thead-default">
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        FillMonthList();
    });
    function FillMonthList() {
        $('#AttenSummaryRepo_MonthId').html('');
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetMonthList", "Attendance"))',
            data: {},
            success: function (result) {
                if (result.status == "success") {
                    var monthlist = "";
                    for (var i = 0; i < result.AvailableMonthList.length; i++) {
                        monthlist += "<option value=" + result.AvailableMonthList[i].Value + ">"
                            + result.AvailableMonthList[i].Text + "</option>";
                    }
                    $('#AttenSummaryRepo_MonthId').html('');
                    $('#AttenSummaryRepo_MonthId').append(monthlist);
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(err, "error", true, 5000);
            }
        });
    };

    $("#txtAttnSummaryDate").kendoDatePicker({
        value: new Date,
        format: "dd/MM/yyyy"
    });
    $("#txtAttnSummaryDate").attr('readonly', true);

    $(document).ready(function () {
        $("#TypeSelectionSummary").trigger('change');
    });

    $("#TypeSelectionSummary").change(function () {
        $("#studentAttendance_summarylist tbody").html("");
        $("#studentAttendance_summarylist thead").html("");
        $("#ExportAttendance_summarylist tbody").html("");
        $("#ExportAttendance_summarylist thead").html("");

        if ($(this).val() != "") {
            if ($(this).val() == "Date") {
                $("#AttenSummaryRepo_MonthId").val("").trigger('change');
                $("#DivAttendanceSummary_Date").show();
                $("#DivAttendanceSummary_ClassId").hide();
                $("#dymanicSummary_list_Div").hide();
            }
            else if ($(this).val() == "Month") {
                $("#AttenSummaryRepo_ClassId").val("").trigger('change');
                $("#AttenSummaryRepo_MonthId").val("").trigger('change');
                $("#DivAttendanceSummary_MonthId").show();
                $("#DivAttendanceSummary_Date").hide();
                $("#DivAttendanceSummary_ClassId").show();
                $("#dymanicSummary_list_Div").hide();
            } else if ($(this).val() == "Year") {
                $("#AttenSummaryRepo_ClassId").val("").trigger('change');
                $("#DivAttendanceSummary_Date").hide();
                 $("#DivAttendanceSummary_MonthId").hide();
                $("#DivAttendanceSummary_ClassId").show();
            }
        }
        else {
            $("#DivAttendanceSummary_Date").hide();
            $("#DivAttendanceSummary_ClassId").hide();
            $("#dymanicSummary_list_Div").hide();
        }
    });

    $("#genreport_Summary").click(function () {
        $("#studentAttendance_summarylist tbody").html("");
        $("#studentAttendance_summarylist thead").html("");
        $("#ExportAttendance_summarylist tbody").html("");
        $("#ExportAttendance_summarylist thead").html("");

        if ($("#TypeSelectionSummary").val() == "Date") {
            $("#studentAttendance_summarylist").show();
            $("#hdnIsAction").val(false);
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetSummaryStudentRepDateWise", "Attendance"))',
                data: { "SelectedDate": $("#txtAttnSummaryDate").val(), "SessionId": $("#drpSummarySession").val() },
                success: function (result) {

                    $("#studentAttendance_summarylist tbody").html("");
                    $("#studentAttendance_summarylist thead").html("");

                    $("#ExportAttendance_summarylist tbody").html("");
                    $("#ExportAttendance_summarylist thead").html("");
                    if (result.HeaderList.length > 0) {
                        var htmlHeader = "<tr>";
                        $.each(result.HeaderList, function (i) {
                            if (i == 0)
                                htmlHeader += "<th hidden class='action'>" + result.HeaderList[i] + "</th>";
                            else if (result.HeaderList.length-1==i)
                                htmlHeader += "<th  class='action'>" + result.HeaderList[i] + "</th>";
                            else
                                htmlHeader += "<th >" + result.HeaderList[i] + "</th>";
                        });
                        htmlHeader += "</tr>";
                        $("#studentAttendance_summarylist thead").append(htmlHeader);
                        $("#ExportAttendance_summarylist thead").append(htmlHeader);
                    }

                    if (result.SummaryStuReports.length > 0) {
                        $("#btnExportExcel_StuSummary").show();
                        $("#btnPrint_StuAttendance3").show();

                        var htmlBody = "";
                        $.each(result.SummaryStuReports, function (i) {
                            htmlBody += "<tr>";
                            htmlBody += "<td hidden class='action'>" + result.SummaryStuReports[i].ClassId + "</td>";
                            htmlBody += "<td>" + result.SummaryStuReports[i].ClassName + "</td>";
                            htmlBody += "<td>" + result.SummaryStuReports[i].TotalStudents + "</td>";
                            if (result.SummaryStuReports[i].TotalPresents > 0) {
                                htmlBody += "<td><a title='View Present Students' data-toggle='tooltip' data-placement='top'";
                                htmlBody += " class='viewPresntStus btn btn-xs btn-default'  style='cursor:pointer'";
                                htmlBody += " href = 'javascript:void(0)' data-id='"
                                                    + result.SummaryStuReports[i].ClassId + "' data-id1='"
                                                    + result.SummaryStuReports[i].ClassName + "' >"
                                                    + result.SummaryStuReports[i].TotalPresents + "</a></td>";
                            }
                            else
                                htmlBody += "<td>" + result.SummaryStuReports[i].TotalPresents + "</td>";

                            if (result.SummaryStuReports[i].TotalLeaves > 0) {
                                htmlBody += "<td><a title='View On Leave Students' data-toggle='tooltip' data-placement='top'";
                                htmlBody += " class='viewLeaveStus btn btn-xs btn-default'  style='cursor:pointer'";
                                htmlBody += " href = 'javascript:void(0)' data-id='" + result.SummaryStuReports[i].ClassId + "' data-id1='"
                                                    + result.SummaryStuReports[i].ClassName + "'>"
                                                    + result.SummaryStuReports[i].TotalLeaves + "</a></td>";
                            }
                            else
                                htmlBody += "<td>" + result.SummaryStuReports[i].TotalLeaves + "</td>";

                            if (result.SummaryStuReports[i].TotalAbsents > 0) {
                                htmlBody += "<td><a title='View Absent Students' data-toggle='tooltip' data-placement='top'";
                                htmlBody += " class='viewAbsentStus btn btn-xs btn-default'  style='cursor:pointer'";
                                htmlBody += " href = 'javascript:void(0)' data-id='" + result.SummaryStuReports[i].ClassId + "' data-id1='"
                                                    + result.SummaryStuReports[i].ClassName + "'>"
                                                    + result.SummaryStuReports[i].TotalAbsents + "</a></td>";
                            }
                            else
                                htmlBody += "<td>" + result.SummaryStuReports[i].TotalAbsents + "</td>";

                            if (result.SummaryStuReports[i].TotalNotMarked > 0) {
                                htmlBody += "<td hidden class='display'>" + result.SummaryStuReports[i].TotalNotMarked + "</td><td class='action'><a title='View Not Marked Students' data-toggle='tooltip' data-placement='top'";
                                htmlBody += " class='viewNtMarkedStus btn btn-xs btn-default'  style='cursor:pointer'";
                                htmlBody += " href = 'javascript:void(0)' data-id='" + result.SummaryStuReports[i].ClassId
                                                + "' data-id1='" + result.SummaryStuReports[i].ClassName + "'>"
                                                + result.SummaryStuReports[i].TotalNotMarked + "</a></td>";
                            }
                            else
                                htmlBody += "<td>" + result.SummaryStuReports[i].TotalNotMarked + "</td>";

                            htmlBody += "<td class='action'><a title='View' data-toggle='tooltip' data-placement='top'"
                            htmlBody += "class='viewClassDetails btn btn-xs btn-default'  style='cursor:pointer'"
                            htmlBody += " data-id='" + result.SummaryStuReports[i].ClassId + "' data-id1='" + result.SummaryStuReports[i].ClassName + "' href='javascript:void(0)'>"
                            htmlBody += " <i class='fa fa-eye'></i></td>";
                            htmlBody += "</tr>";
                        });
                        $("#studentAttendance_summarylist tbody").append(htmlBody);
                        $("#ExportAttendance_summarylist tbody").append(htmlBody);
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        if ($("#TypeSelectionSummary").val() == "Month") {
            if ($("#AttenSummaryRepo_MonthId").val() == "") {
                ToastMessage("Please Select Month", "error", true, 5000);
                return false;
            };
            if ($("#AttenSummaryRepo_ClassId").val() == "") {
                ToastMessage("Please Select Class", "error", true, 5000);
                return false;
            };
           
            $("#studentAttendance_summarylist").show();
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetSummaryStudentRepMonthWise", "Attendance"))',
                data: { "MonthId": $("#AttenSummaryRepo_MonthId").val(),"ClassId":$("#AttenSummaryRepo_ClassId").val(), "SessionId": $("#drpSummarySession").val()},
                success: function (result) {
                    if (result.status == "success") {
                        $("#studentAttendance_summarylist tbody").html("");
                        $("#studentAttendance_summarylist thead").html("");

                        $("#ExportAttendance_summarylist tbody").html("");
                        $("#ExportAttendance_summarylist thead").html("");
                        var headerhtml = "<tr><th>Name</th><th>AdmsNo</th><th>Present</th><th>Absent</th><th>Leave</th><th>Not-Marked</th><th>WorkingDays</th></tr>";
                        $("#studentAttendance_summarylist thead").append(headerhtml);
                        $("#ExportAttendance_summarylist thead").append(headerhtml);

                        if (result.data.length > 0) {
                            $("#btnExportExcel_StuSummary").show();
                            $("#btnPrint_StuAttendance3").show();
                            var htmlBody = "";
                            $.each(result.data, function (i) {
                                htmlBody += "<tr>";
                                htmlBody += "<td>" + result.data[i].Name + "</td>";
                                htmlBody += "<td>" + result.data[i].AdmsnNo + "</td>";
                                if (result.data[i].monthlyAttendance.length > 0) {
                                    $.each(result.data[i].monthlyAttendance, function (j) {
                                        htmlBody += "<td>" + result.data[i].monthlyAttendance[j].Present + "</td>";
                                        htmlBody += "<td>" + result.data[i].monthlyAttendance[j].Absent + "</td>";
                                        htmlBody += "<td>" + result.data[i].monthlyAttendance[j].Leave + "</td>";
                                        htmlBody += "<td>" + result.data[i].monthlyAttendance[j].Others + "</td>";
                                        htmlBody += "<td>" + result.data[i].monthlyAttendance[j].TotalWorkingDays + "</td>";
                                    });
                                } else {
                                    htmlBody += "<td></td><td></td><td></td><td></td><td></td>";
                                }
                                });
                            $("#studentAttendance_summarylist tbody").append(htmlBody);
                            $("#ExportAttendance_summarylist tbody").append(htmlBody);
                             $('#ks_loader').hide();
                        }
                        else {
                            $("#btnExportExcel_StuSummary").hide();
                            $("#btnPrint_StuAttendance3").hide();
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        if ($("#TypeSelectionSummary").val() == "Year") {
            if ($("#drpSummarySession").val() == "") {
                ToastMessage("Please Select Class", "error", true, 5000);
                return false;
            };
            if ($("#AttenSummaryRepo_ClassId").val() == "") {
                ToastMessage("Please Select Class", "error", true, 5000);
                return false;
            };
             $("#studentAttendance_summarylist").show();
            $('#ks_loader').show();
             $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetSummaryStudentRepYearWise", "Attendance"))',
                data: { "ClassId":$("#AttenSummaryRepo_ClassId").val(), "SessionId": $("#drpSummarySession").val()},
                success: function (result) {
                    if (result.status == "success") {
                        $("#studentAttendance_summarylist tbody").html("");
                        $("#studentAttendance_summarylist thead").html("");

                        $("#ExportAttendance_summarylist tbody").html("");
                        $("#ExportAttendance_summarylist thead").html("");
                        var headerhtml = "<tr><th>Name</th><th>AdmsNo</th><th>Present</th><th>Leave</th><th>Absent</th><th>NotMarked</th><th>WorkingDays</th></tr>";
                        $("#studentAttendance_summarylist thead").append(headerhtml);
                        $("#ExportAttendance_summarylist thead").append(headerhtml);
                        if (result.data.length > 0) {
                            $("#btnExportExcel_StuSummary").show();
                            $("#btnPrint_StuAttendance3").show();
                            var htmlBody = "";
                            $.each(result.data, function (i) {
                                htmlBody += "<tr>";
                                htmlBody += "<td>" + result.data[i].Name + "</td>";
                                htmlBody += "<td>" + result.data[i].AdmsnNo + "</td>";
                               
                                htmlBody += "<td>" + result.data[i].TotalPresentsYear + "</td>";
                                htmlBody += "<td>" + result.data[i].TotalLeaveYear + "</td>";
                                htmlBody += "<td>" + result.data[i].TotalAbsentYear + "</td>";
                                htmlBody += "<td>" + result.data[i].TotalOtherYear + "</td>";
                                htmlBody += "<td>" + result.data[i].TotalWorkingDaysYear + "</td>";
                                });
                            $("#studentAttendance_summarylist tbody").append(htmlBody);
                            $("#ExportAttendance_summarylist tbody").append(htmlBody);
                             $('#ks_loader').hide();
                        }
                        else {
                            $("#btnExportExcel_StuSummary").hide();
                            $("#btnPrint_StuAttendance3").hide();
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                      $('#ks_loader').hide();
                }
            });
        }
    });

    $(document).on("click", ".viewClassDetails", function () {
        var Class_Id = $(this).attr("data-id");
        var ClassName = $(this).attr("data-id1");
        $("#SumaryPopUpModel_div").show();
        $("#UsedAsGirdPopUp").prop("checked", true);
        $("#SumaryPopUpModel_div .modal-body").find("#hdnSummaryClassId").val(Class_Id);

        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("");
        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("<b> Class: " + ClassName + "</b>");

        var grid = $("#StuSummaryAttendanceRepo-grid").data("kendoGrid");
        grid.dataSource.page(1);
    });


    $(document).on("click", ".viewPresntStus", function () {
        var Class_Id = $(this).attr("data-id");
        var ClassName = $(this).attr("data-id1");

        $("#ViewAttnStatus").val("P");
        $("#SumaryPopUpModel_div").show();
        $("#SumaryPopUpModel_div .modal-body").find("#hdnSummaryClassId").val(Class_Id);
        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("");
        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("<b> Class: " + ClassName + "</b>");

        var grid = $("#StuSummaryAttendanceRepo-grid").data("kendoGrid");
        grid.dataSource.page(1);
    }); 

    $(document).on("click", ".viewAbsentStus", function () {
        var Class_Id = $(this).attr("data-id");
        var ClassName = $(this).attr("data-id1");

        $("#ViewAttnStatus").val("A");
        $("#SumaryPopUpModel_div").show();
        $("#SumaryPopUpModel_div .modal-body").find("#hdnSummaryClassId").val(Class_Id);
        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("");
        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("<b> Class: " + ClassName + "</b>");

        var grid = $("#StuSummaryAttendanceRepo-grid").data("kendoGrid");
        grid.dataSource.page(1);
    });

    $(document).on("click", ".viewLeaveStus", function () {
        var Class_Id = $(this).attr("data-id");
        var ClassName = $(this).attr("data-id1");

        $("#ViewAttnStatus").val("L");
        $("#SumaryPopUpModel_div").show();
        $("#SumaryPopUpModel_div .modal-body").find("#hdnSummaryClassId").val(Class_Id);
        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("");
        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("<b> Class: " + ClassName + "</b>");

        var grid = $("#StuSummaryAttendanceRepo-grid").data("kendoGrid");
        grid.dataSource.page(1);
    });

    $(document).on("click", ".viewNtMarkedStus", function () {
        var Class_Id = $(this).attr("data-id");
        var ClassName = $(this).attr("data-id1");

        $("#ViewAttnStatus").val("NM");

        $("#SumaryPopUpModel_div").show();
        $("#SumaryPopUpModel_div .modal-body").find("#hdnSummaryClassId").val(Class_Id);
        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("");
        $("#SumaryPopUpModel_div").find("#SumarymyModalLabel").html("<b> Class: " + ClassName + "</b>");


        var grid = $("#StuSummaryAttendanceRepo-grid").data("kendoGrid");
        grid.hideColumn("AttendanceDate");
        grid.dataSource.page(1);

    });

    $("#close_divSumary").click(function () {
        $("#SumaryPopUpModel_div").hide();
        $("#ViewAttnStatus").val("");
    });

</script>