﻿@model ViewModel.ViewModel.Attendence.AttendanceUserCardModel
@{
    ViewBag.Title = "AttendanceUserCard";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<div class="row top-space-10 page-heading">
    <div class="col-md-12" id="error_notification_div" hidden="">
        <div class="error_notification"><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12" id="success_notification_div" hidden="">
        <div class="success_notification"><i class="fa fa-check"></i><span></span></div>
    </div>
    <input id="slctdsessn" style="display:none"/>
    <div class="col-md-6">
        <h1>Manage Attendance User Card</h1>
    </div>
    <div class="col-md-6 text-right imprtusercard" style="display:none" >
        <a @*href="@Url.Content("~/Attendance/ImportAttendanceCard/")"*@ id="add_AttendanceUserCard" class="btn btn-xs btn-default">Import User Card</a>
    </div>
</div>

@using (Html.BeginForm("ExportUserCardToExcel", "Attendance", FormMethod.Post, new {@id="UserCardForm", @class = "form-horizontal ks-custom-form" }))
{
    <!-- Form Row -->
<div class="row create_AttendanceUserCard_div top-space-10">
    @*<div class="col-md-12">*@
        <div class="col-md-2">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Contact Type</label>
                @Html.DropDownListFor(model => model.ContactTypeId, Model.AvailableContactTypes, new { @class = "form-control" })
            </div>
            <!-- //Form Coulmn -->
        </div>
        <div class="col-md-2 usrcard" style="display:none">
            <div class="">
                <label class="control-label">Card No:</label>
                @Html.TextBoxFor(m => m.CardNo, null, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2 studentSession" style="display:none">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.SessionList, new { @class = "form-control" })
            </div>
            <!-- //Form Coulmn -->
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-2" id="Class_Div" hidden>
            <div class="">
                <label class=" control-label">Class:</label><br />
                @Html.DropDownListFor(m => m.ClassId, Model.AvailableClasses, new { @id = "classes",@style="width:100%!important", @class = "clearfield-class form-control drop-down" })
            </div>
        </div>
        <div class="col-md-2 studentdiv" style="display:none">
            <div class="">
                <label class=" control-label">Student:</label><br />
                @Html.DropDownListFor(m => m.StudentId, Model.AvailableStudents, new { @id = "SelectedStudentId",@style="width:100%!important", @class = "form-control drop-down" })
            </div>
        </div>
        <div class="col-md-2 staffdiv" style="display:none">
            <div class="">
                <label class=" control-label">Staff:</label><br />
                @Html.DropDownListFor(m => m.StaffId, Model.AvailableStaffs, new { @id = "SelectedStaffId",@style="width:100%!important", @class = "form-control drop-down" })
            </div>
        </div>
        @*<div class="col-md-2" id="User_Div" hidden>
            <div class="">
                <label class=" control-label">Staff List</label>
                @Html.DropDownList("Staff_List", Model.UserList, new {  @class = "clearfield-class form-control" })
            </div>
        </div>*@
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-2">
            <button type="submit" id="DownLoad_UserCard_Excel" @*onclick="document.getElementById('UserCardForm').submit();"*@ name="save" class="btn btn-success" style="float:right;margin-top:25px;display:none">
                <i class="fa fa-floppy-o"></i>
                Download
            </button>
            <a href="javascript:void(0)" id="Filter" name="filter" class="btn btn-default" style="float:right;margin-top:25px;display:none">
                Filter
            </a>
            @*<button type="button" class="btn btn-danger" id="Reset_UserCard" style="margin-top:25px">
                <i class="fa fa-ban"></i>
                Cancel
            </button>*@
        </div>
    @*</div>*@
</div>
}
<div class="col-md-12">
    <div class="row top-space-10">
        <table class="table table-bordered table-condensed table-responsive table-striped">
            <thead>
                <tr id="Columns_list">

                </tr>
            </thead>
            <tbody id="Rows_list">

            </tbody>
        </table>
    </div>
</div>
<script>
    $('#DownLoad_UserCard_Excel').click(function (e) {
        var rowCount = $('#Rows_list tr').length;
        if (rowCount == 0) {
            alert('No Data Found');
            e.preventDefault();
        }
    })
    
    $('#add_AttendanceUserCard').click(function () {
        // $('.create_AttendanceUserCard_div').show();
        var ContactType = $('#ContactTypeId option:selected').text();
        if (ContactType == "Student") {
            if ($('#SessionId').val() != "") {
                window.location.href = "@Url.Content("~/")Attendance/ImportAttendanceCard?id=" + $('#SessionId').val() + "";
            } else {
                window.location.href = "@Url.Content("~/")Attendance/ImportAttendanceCard";
            }
        }else{
            window.location.href = "@Url.Content("~/")Attendance/ImportAttendanceCard";
        }
    })
    //$('#Reset_UserCard').click(function () {
    //    $('.create_AttendanceUserCard_div').hide();
    //})
    $('#ContactTypeId').change(function () {
        $('#classes').val('');
        contctTypeDivShow();
        if ($('#ContactTypeId').val() == "" || $('#ContactTypeId').val() == null) {
            $('.imprtusercard').hide();
        }
        var ContactTypeId = $("#ContactTypeId").val();
        var AttendanceUserCardModel = new Object();
        AttendanceUserCardModel.ContactTypeId = ContactTypeId;
        AttendanceUserCardModel.SessionId = $("#SessionId").val();
        if (AttendanceUserCardModel.ContactTypeId != "" && $('#ContactTypeId option:selected').text() != "Student") {
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("AttendanceUserCardDetails", "Attendance"))',
                data: AttendanceUserCardModel,
                success: function (result) {
                    if (result.data.RowsNames.length > 0) {
                        $("#DownLoad_UserCard_Excel").show();
                    }
                    var th = "";
                    var tr = "";
                    for (var i = 0; i < result.data.ColumnsNames.length; i++) {
                        if (i < 2) {
                            th += "<th style='display:none'>" + result.data.ColumnsNames[i] + "</th>";
                        } else {
                            th += "<th>" + result.data.ColumnsNames[i] + "</th>";
                        }
                    }
                    for (var i = 0; i < result.data.RowsNames.length; i++) {
                        var row = result.data.RowsNames[i];
                        var td = "";
                        for (var j = 0; j < row.length; j++) {
                            if (j < 2) {
                                td += "<td style='display:none'>" + row[j] + "</td>";
                            } else {
                                td += "<td>" + row[j] + "</td>";
                            }
                        }
                        tr += "<tr>" + td + "</tr>";
                    }
                    $('#Columns_list').html(th);
                    $('#Rows_list').html(tr);
                    if ($('#ContactTypeId').val() != "" && $('#ContactTypeId option:selected').text() != "Student") {
                        var drphtml = "";
                        $.each(result.StfList, function () {
                            drphtml += "<option value='" + this.Value + "'>" + this.Text + "</option>";
                        });
                        $("#SelectedStaffId").append(drphtml);
                    }
                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        } else {
            $("#SelectedStudentId").html("");
            $("#SelectedStudentId").append("<option value=''>--Select Student--</option>");
        }
    })
    $("#SessionId").change(function () {
        var currentsession='@Model.SessionId';

        //if ($(this).val() != currentsession){
        //    $('.imprtusercard').hide();
        //} else {
        //    $('.imprtusercard').show();
        //}
        //
        $("#classes").trigger("change");
    //    var ContactType = $('#ContactTypeId option:selected').text();
    //    var cntctid=$('#ContactTypeId').val();
    //    if (ContactType == "Student") {
    //        if ($('#classes').val() != "" && $('#classes').val() != null) {
    //            $("#classes").trigger("change");
    //    }
    //        else if (cntctid != "" && cntctid!=null) {
    //            $('#ContactTypeId').trigger('change');
    //        }
    //}
    })
    $('#classes').change(function () {
        var classId = $(this).val();
        $("#SelectedStudentId").html("");
        $("#SelectedStudentId").val("").select();
        var sessionid = $("#SessionId").val();
        var CurrentSession = '@Model.SessionId';
        var NextSession = '@Model.NextSessionId';
        $("#DownLoad_UserCard_Excel").hide();
        if (classId != "" && sessionid != "" && (sessionid == CurrentSession || sessionid == NextSession)) {
            $('.imprtusercard').show();
        }
        else {
            $('.imprtusercard').hide();
        }
        var ContactTypeId = $("#ContactTypeId").val();
        var AttendanceUserCardModel = new Object();
        AttendanceUserCardModel.ClassId = classId;
        AttendanceUserCardModel.ContactTypeId = ContactTypeId;
        AttendanceUserCardModel.SessionId = $("#SessionId").val();
        AttendanceUserCardModel.CardNo = $("#CardNo").val();
         $('#Columns_list').html("");
         $('#Rows_list').html("");
        //  AttendanceUserCardModel.StudentId = $("#SelectedStudentId").val();
       // if (classId != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("AttendanceUserCardDetails", "Attendance"))',
                data: AttendanceUserCardModel,
                success: function (result) {
                    if (result.data.RowsNames.length > 0) {
                        $("#DownLoad_UserCard_Excel").show();
                    } else {
                        $("#DownLoad_UserCard_Excel").hide();
                    }
                    var th = "";
                    var tr = "";
                    for (var i = 0; i < result.data.ColumnsNames.length; i++) {
                        if (i < 2) {
                            th += "<th style='display:none'>" + result.data.ColumnsNames[i] + "</th>";
                        } else {
                            th += "<th>" + result.data.ColumnsNames[i] + "</th>";
                        }
                    }
                    for (var i = 0; i < result.data.RowsNames.length; i++) {
                        var row = result.data.RowsNames[i];
                        var td = "";
                        for (var j = 0; j < row.length; j++) {
                            if (j < 2) {
                                td += "<td style='display:none'>" + row[j] + "</td>";
                            } else {
                                td += "<td>" + row[j] + "</td>";
                            }
                        }
                        tr += "<tr>" + td + "</tr>";

                    }
                    $('#Columns_list').html(th);
                    $('#Rows_list').html(tr);
                    var drphtml = "";
                    $.each(result.StdList, function () {
                        drphtml += "<option value='" + this.Value + "'>" + this.Text + "</option>";
                    });
                    $("#SelectedStudentId").append(drphtml);
                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
      //  }
        //else {
        //    $("#SelectedStudentId").append("<option value=''>--Select Student--</option>");
        //}
    });

    $('#Filter').click(function () {
        var classId = $("#classes").val();
        var sessionid = $("#SessionId").val();
        var CurrentSession = '@Model.SessionId';
        var NextSession = '@Model.NextSessionId';
        $("#DownLoad_UserCard_Excel").hide();
        if ($('#ContactTypeId option:selected').text() == "Student") {
            if (classId != "" && sessionid != "" && (sessionid == CurrentSession || sessionid == NextSession)) {
                $('.imprtusercard').show();
            }
            else {
                $('.imprtusercard').hide();
            }
        } 
        var ContactTypeId = $("#ContactTypeId").val();
        var AttendanceUserCardModel = new Object();
        if ($('#ContactTypeId option:selected').text() == "Student") {
            AttendanceUserCardModel.ClassId = classId;
            AttendanceUserCardModel.SessionId = $("#SessionId").val();
            AttendanceUserCardModel.StudentId = $("#SelectedStudentId").val();
        } else {
             AttendanceUserCardModel.StaffId = $("#SelectedStaffId").val();
        }
        AttendanceUserCardModel.CardNo = $("#CardNo").val();
        AttendanceUserCardModel.ContactTypeId = ContactTypeId;
        var valid = true;
        var errmessage = "";
          if ($('#ContactTypeId option:selected').text() == "Student") {
              if (classId == "" && AttendanceUserCardModel.CardNo=="") {
                  valid = false;
                  errmessage = "Please Select Class Or Input Card No";
                   $('#Columns_list').html("");
                    $('#Rows_list').html("");
              }
        }
        if (valid) {
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("AttendanceUserCardDetails", "Attendance"))',
                data: AttendanceUserCardModel,
                success: function (result) {
                    if (result.data.RowsNames.length > 0) {
                        $("#DownLoad_UserCard_Excel").show();
                    } else {
                        $("#DownLoad_UserCard_Excel").hide();
                    }
                    var th = "";
                    var tr = "";
                    for (var i = 0; i < result.data.ColumnsNames.length; i++) {
                        if (i < 2) {
                            th += "<th style='display:none'>" + result.data.ColumnsNames[i] + "</th>";
                        } else {
                            th += "<th>" + result.data.ColumnsNames[i] + "</th>";
                        }
                    }
                    for (var i = 0; i < result.data.RowsNames.length; i++) {
                        var row = result.data.RowsNames[i];
                        var td = "";
                        for (var j = 0; j < row.length; j++) {
                            if (j < 2) {
                                td += "<td style='display:none'>" + row[j] + "</td>";
                            } else {
                                td += "<td>" + row[j] + "</td>";
                            }
                        }
                        tr += "<tr>" + td + "</tr>";
                    }
                    $('#Columns_list').html(th);
                    $('#Rows_list').html(tr);
                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        } else {
            ToastMessage(errmessage, "error", true, 5000);
            $('#ks_loader').hide();
        }
        });
    
    @*$('#DownLoad_UserCard_Excel').click(function () {
        var AttendanceUserCardModel= new Object();
        AttendanceUserCardModel.ContactTypeId= $('#ContactTypeId').val();
        AttendanceUserCardModel.ClassId=$('#classes').val()
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("ExportUserCardToExcel", "Attendance"))',
            data: AttendanceUserCardModel,
            success: function (result) {

                $('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })*@
    function contctTypeDivShow() {
        var ContactType = $('#ContactTypeId option:selected').text();
        var ContactTypeId = $('#ContactTypeId').val();
        $("#classes").select2("");
        $("#SelectedStudentId").html("");
         $("#SelectedStudentId").val("").select();
        $("#SelectedStaffId").html("");
         $("#SelectedStaffId").val("").select();
        $("#DownLoad_UserCard_Excel").hide();
        $("#Filter").hide();
        $(".usrcard").hide();
        $("#CardNo").val("");
        $('#Columns_list').html("");
        $('#Rows_list').html("");
         $(".studentdiv").hide();
        if (ContactTypeId != "" && ContactTypeId != null && ContactType != "Student") {
            $('#Class_Div').hide();
            $(".studentSession").hide();
            $("#SessionId").val('');
            $('.imprtusercard').show();
            $(".studentdiv").hide();
            $(".staffdiv").show();
            $("#Filter").show();
            $(".usrcard").show();
        }
        else if (ContactType == "Student") {
               $('#User_Div').hide();
               $(".studentSession").show();
               $('#Class_Div').show();
               $('.imprtusercard').hide();
               $("#SessionId").val('@Model.SessionId');
               $(".studentdiv").show();
               $(".staffdiv").hide();
               $("#Filter").show();
              $(".usrcard").show();
        }
        else {
            $('#Class_Div').hide();
            $(".studentSession").hide();
            $("#SessionId").val('');
            $('.imprtusercard').hide();
            $(".staffdiv").hide();
        }
    }
    //$('#ContactTypeId').change(function () {

    //    var ContactType = $('#ContactTypeId option:selected').text();
    //    var ContactTypeId = $(this).val();
    //    if (ContactTypeId != "" && ContactTypeId != null) {
    //        $(".studentSession").show();
    //    }

    //    if (ContactType == "Student") {
    //        $('#User_Div').hide();
    //     //   $(".studentSession").show();
    //        $('#Class_Div').show();

    //    } else {
    //        $('#Class_Div').hide();
//////////////////////////////////////////
    //   $(".studentSession").hide();
    @*if (ContactTypeId>0){
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("teachersnonteachers", "Attendance"))',
                data: { "ContactTypeId": ContactTypeId },
                success: function (result) {
                    $('#User_Div').show();
                    $('#Staff_List').empty();
                    $.each(result.teachersnonteacherslist, function () {
                        $('#Staff_List').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });
                    $('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });}*@
    ////////////////////////////////
    //    }

    //})
</script>
@*<div id="AttendanceUserCard-grid" class="top-space-10"></div>
<script>
    $(document).ready(function () {
        $("#AttendanceUserCard-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SelectAttendanceUserCardList", "Class"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDatainbox
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            //sortable: {
            //    mode: "multiple",
            //    allowUnsort: false
            //},
            columns: [{
                field: "EncClassId",
                title: "Class Id",
                sortable: true,
                hidden: true
            },{
                field: "ClassDeletionFlag",
                title: "Deletion Flag",
                sortable: true,
                hidden: true
            },{
                field: "StandardId",
                title: "Class Id",
                sortable: true,
                hidden: true
            },{
                field: "SectionId",
                title: "Class Id",
                sortable: true,
                hidden: true
            },{
                field: "Class",
                title: "Class",
                sortable: true
            },{
                field: "Standard",
                title: "Standard",
                sortable: true
            },{
                field: "Section",
                title: "Section",
                sortable: true
            },{
                field: "StudentCount",
                title: "StudentCount",
                sortable: true
            },{
                field: "RoomNo",
                title: "RoomNo",
                sortable: true,
                hidden: true
            },{

                field: "Action",
                title: "Action",
                width:130,
                sortable: false,
                template:
                        '#if(ClassDeletionFlag){# <a title="Delete" data-toggle="tooltip" data-placement="top" id="#=EncClassId#" class="k-grid-classmaster-myDelete btn btn-xs btn-default" style=" cursor:pointer" ><i class="fa fa-trash"></i></a>#}#'
            }

            ]
        });

        var grid = $("#AttendanceUserCard-grid").data("kendoGrid");

    });
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    function additionalDatainbox() {
        var data = {
            StandardId:$('#StandardId_filter').val(),
            SectionId:$('#SectionId_filter').val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    }

</script>*@