﻿@model ViewModel.ViewModel.Attendence.AttendanceCardModel
@{
    ViewBag.Title = "AttendanceCard";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<script>
    $(document).ready(function () {
        $('.listbox').multiselect({
            includeSelectAllOption: true
        });
    });
</script>

<!-- close dates blocks -->
<div class="view_dialog_box viewbox_div" id="ViewBox" hidden>
    <div style="width:100%; height:25px; float:left;">
        <font style="float:left; padding:2px 10px;">
            <b>Remove Device Name From Location Name</b>
        </font>
        <input type="hidden" id="hdnAttedanceDeviceLocationid" />
    </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            <label class="control-label col-md-3">End Date</label>
            <div class="col-md-8">
                @Html.TextBox("CloseDate", null, new { @class = "" })
            </div>
        </div>
        <div class="col-md-12 top-space-10" style="margin-bottom: 10px;">
            <label class="col-md-3"></label>
            <div class="col-md-3">
                <button type="button" id="save_ViewBox" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
                <button type="button" id="Close_ViewBox" class="btn btn-danger">
                    <i class="fa fa-floppy-o"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Extend and close dates blocks -->

<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Attendance Device Card</h1>
    </div>
    <div class="col-md-6 text-right">
        @if (Model.IsAuthToAdd)
        {
            <input type="button" id="Add_AttendanceCard"  class="btn btn-xs btn-default" value="Add New"/>
        }
      
    </div>
</div>

<div class="row top-space-10" id="AttendanceDevice_AddDiv" hidden>
    <div class="row">
        @*<div class="col-md-12">*@
            @Html.AntiForgeryToken()
         
            <div class="col-md-4">
               
                    <label class="col-md-4 control-label">Effective Date</label>
              
                <div class="col-md-8">
                    @Html.TextBox("effectivedate", "", new { @class = "form-control", @maxlength = "4" })
                </div>
            </div>
            <div class="col-md-4">
               
                    <label class="col-md-4 control-label">Location</label>
               
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
               
                    <label class="col-md-4 control-label">Device </label>
               
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.DeviceId, Model.DeviceList, new { @class = "form-control listbox", @multiple = "multiple" })
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" id="AddDevice" class="btn btn-success" hidden>Save</button>
            </div>
        @*</div>*@
    </div>
</div>
<script>

    $('#Add_AttendanceCard').click(function () {
        $('#AttendanceDevice_AddDiv').show();
    })
</script>

 &nbsp; &nbsp; &nbsp;&nbsp;
<div class="row">
    <div class="col-md-12">
        <div id="Attendance-grid">
        </div>
    </div>
</div>

<script>
    var today = new Date();
    $("#effectivedate").kendoDatePicker({
        //start: "decade",
        //depth: "decade",

        // display month and year in the input
        format: "dd/MM/yyyy",
        value: today,
        // specifies that DateInput is used for masking the input element
        dateInput: true
    });
    //var today = new Date();
    $("#CloseDate").kendoDatePicker({
        //start: "decade",
        //depth: "decade",

        // display month and year in the input
        format: "dd/MM/yyyy",
        value: today,
        // specifies that DateInput is used for masking the input element
        dateInput: true
    });
    $('#Attendance-grid').delegate('.clsclose', 'click', function () {
        $('#ViewBox').show();
        var dataid = $(this).attr("dataid");
        $('#hdnAttedanceDeviceLocationid').val(dataid);
    });
    $('#Close_ViewBox').click(function () {
        $('#ViewBox').hide();
    });
    $('#save_ViewBox').click(function () {
        debugger
        var Id = $('#hdnAttedanceDeviceLocationid').val();
        var closedate = $('#CloseDate').val();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("UpdateAttendanceDevice", "Attendance"))',
            async: false,
            data: { "Id": Id, "closedate": closedate },
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
            }
        });
        $('#ViewBox').hide();
        $("#Attendance-grid").data('kendoGrid').dataSource.read();
    });
    //delete
    $('#Attendance-grid').delegate('.deletedevice', 'click', function () {
        debugger
        var dataid = $(this).attr("dataid");
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("DeleteDevice", "Attendance"))',
            async: false,
            data: { "Id": dataid },
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.msg, true, 5000);
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
            }
        });
        $("#Attendance-grid").data('kendoGrid').dataSource.read();
    });
    $('#AddDevice').click(function () {
        debugger
        var AttendanceLocationId = $('#LocationId').val();
        var effectivedate = $('#effectivedate').val();
        var AttendanceDeviceId = $('#DeviceId').val();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("IsertAttendanceDevice", "Attendance"))',
            async: false,
            data: { "AttendanceLocationId": AttendanceLocationId, "effectivedate": effectivedate, "AttendanceDeviceId": AttendanceDeviceId },
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.msg, "success", true, 5000);
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
            }
        });
        $("#Attendance-grid").data('kendoGrid').dataSource.read();
    });
</script>
<script type="text/javascript">
    $(function () {
        debugger
        $("#Attendance-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("GetAttendanceList", "Attendance"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalData
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            //sortable: {
            //    mode: "multiple",
            //    allowUnsort: false
            //},
            columns: [{
                field: "Location",
                title: "Location",
                sortable: true
            },
            {
                field: "Device",
                title: "Device Name",
                sortable: true
            }, {
                field: "EndDate",
                title: "EndDate",
                sortable: true
            },
            {
                field: "EffectiveDate",
                title: "EffectiveDate",
                sortable: true
            },    @if(Model.IsAuthToDelete){
                <text>
            {
                field: "EncAttendanceDeviceLocationId",
                title: "Action",
                template:
                    @if(Model.IsAuthToEdit){
                        <text>
                    '#if(EndDate==null){#<a title="Close" data-toggle="tooltip" data-placement="top"  dataid="#=EncAttendanceDeviceLocationId#" href="javascript:void(0)" class="clsclose  btn btn-xs btn-default"><i class="fa fa-ban"></i></a>#}#'
                      </text>
        }
                         @if(Model.IsAuthToDelete){
                             <text>
                        + '#if(IsAttendanceDeletable){#<a title="Delete" dataid="#=EncAttendanceDeviceLocationId#" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default deletedevice"  ><i class="fa fa-trash"></i></a>#}#'
                </text>
    }
            }</text>

    }]
        }
        );
    })
    function additionalData() {
        var data = {

        };
        addAntiForgeryToken(data);
        return data;
    }
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
</script>
