﻿@model ViewModel.ViewModel.Attendence.ImportAttendancePunch
@{
    ViewBag.Title = "ImportAttendancePunch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
@if (ViewBag.Error != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var validationaray = '@ViewBag.Error'.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
        };
    </script>
}
@if (ViewBag.FileFormate != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ToastMessage('@ViewBag.FileFormate', "error", true, 5000);
        };
    </script>
}
@if (ViewBag.DuplicateValue != null)
{
    <script type="text/javascript">
    window.onload = function () {
        ToastMessage('@ViewBag.DuplicateValue', "error", true, 5000);
    };
    </script>
}

@if (ViewBag.Success != null)
{
    <script type="text/javascript">
    window.onload = function () {
        ToastMessage('@ViewBag.Success', "success", true, 5000);
    };
    </script>
}

@if (ViewBag.DateEmbadded != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ToastMessage('@ViewBag.DateEmbadded', "error", true, 5000);
        };
    </script>
}


<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>
            Import Attendance Punch <span style="font-size: 11px"></span>
        </h1>
    </div>
</div><br />

@using (Html.BeginForm("ImportAttendancePunch", "Attendance", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-4">
        <label class="col-md-5 control-label">Device<i class="fa fa-asterisk ks-required"></i></label>
        <div class="col-md-7">
            @Html.DropDownListFor(model => model.DeviceType, Model.DeviceTypeList, new { @class = "form-control" })
        </div>

    </div>
    
    <div class="col-md-3">
        <label class="col-md-9 control-label">Date embedded</label>
        <div class="col-md-3" id="IsDateEmbadedCheck">
            @Html.CheckBoxFor(model => model.IsDateEmbaded)
        </div>
    </div>
    
    <div id="dateEmbadedChecked" hidden class="col-md-3">
        <div class="col-md-12">
                <label class="col-md-9 control-label">Date embedded <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.SelectedDate, new { @class = "", @placeholder = "dd/MM/yyyy", @maxlength = "10" })
            </div><br /><br /><br />
        </div>
    </div>
    

    <div class="col-md-4">
        <div class="col-md-10">
            <input type="file" name="file">
        </div>
        <div class="col-md-2">
            <input class="btn btn-success" type="submit" value="Import" id="buttonImport" />
        </div>
    </div>

}

<script type="text/javascript">
    $(document).ready(function () {
        $('#IsDateEmbaded').change(function () {
            var IsCheck = $('#IsDateEmbaded').prop("checked");
            if (IsCheck == true) {
                $('#dateEmbadedChecked').hide();
            }
            else
                $('#dateEmbadedChecked').show();
        });
        var today = new Date();
        $("#SelectedDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: today,
            // specifies that DateInput is used for masking the input element
            //dateInput: true
        });
       
    });

    //validations
    var ImportPunchValid = true;
    var ImportPunchvalidationmessage = "";
    var ImportPunchctrlfocus = "";
    function ValidateImportPunch() {
        ImportPunchValid = true;
        ImportPunchvalidationmessage = "";
        ImportPunchctrlfocus = "";

        if ($('#DeviceType').val() == "") {
            if (ImportPunchctrlfocus == "")
                ImportPunchctrlfocus = "#DeviceType";
            ImportPunchvalidationmessage = ImportPunchvalidationmessage + "Please provide Device ε";
            ImportPunchValid = false;
        }
        if ($('#IsDateEmbaded').prop('checked') == false)
        {
            if ($('#SelectedDate').val() == "") {
                if (ImportPunchctrlfocus == "")
                    ImportPunchctrlfocus = "#SelectedDate";
                ImportPunchvalidationmessage = ImportPunchvalidationmessage + "Please provide Date embedded ε";
                ImportPunchValid = false;
            }

        }
        var aa = ImportPunchvalidationmessage;
        return ImportPunchValid;
    }

    $('#buttonImport').click(function () {
        var valid = ValidateImportPunch();
        if(!valid)
        {
            var validationaray = ImportPunchvalidationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
            return false;
        }
    });
    


</script>
