﻿@model ViewModel.ViewModel.Attendence.AttendanceCardModel

@{
    ViewBag.Title = "Import Attendance Card";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<div class="row top-space-10 page-heading">
    <div class="col-md-12" id="error_notification_div" hidden="">
        <div class="error_notification"><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12" id="success_notification_div" hidden="">
        <div class="success_notification"><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Import Attendance User Card</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Url.Content("~/Attendance/AttendanceUserCard")" @*id="add_AttendanceUserCard"*@ class="btn btn-xs btn-default">Back</a>
    </div>
</div>
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<div class="modal-popup" id="CloseDatePopUp" hidden>
    <div class="modal-popup-body custom-modal-popup" style="width:20%!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Close Date</h4>
            </div>
            <div class="modal-body GatePassDetailbody">
                <label>Date</label>
                @Html.TextBox("closeDate", "", new { @class = "form-control" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveCloseDate">
                    Save
                </button>
                <button type="button" class="btn btn-default " id="close_DatePopup">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("ExportUserCardToExcel", "Attendance", FormMethod.Post, new { @id = "UserCardForm", @class = "form-horizontal ks-custom-form" }))
{
    <!-- Form Row -->
    <div class="row create_AttendanceUserCard_div top-space-10">
        <div class="col-md-3">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">&nbsp;&nbsp;&nbsp;</label>
                <input id="ImportUserCard" type="file" />
            </div>
            <!-- //Form Coulmn -->
        </div>



        <!-- Form Coulmn -->
        <div class="col-md-5">

            
        </div>
        <!-- Form Coulmn -->
    </div>
}
<div class="col-md-12">
    <div class="row top-space-10" id="ContacttypeListed" style="font-weight:bold"></div>
    <div class="row top-space-10">
        <table class="table table-bordered table-condensed table-responsive table-striped" id="myTableId">
            <thead>
                <tr id="Columns_list"></tr>
            </thead>
            <tbody id="Rows_list"></tbody>
        </table>
    </div>
</div>
<div>
    <button type="button" id="Save_UserCard_Excel" @*onclick="document.getElementById('UserCardForm').submit();"*@ name="save" class="btn btn-success" style="margin-top:25px">
        <i class="fa fa-floppy-o"></i>
        Save
    </button>
</div>
<script>
    var PrevSessionUserCardsOpen = false;
    //$('body').on('click', '#ImportUserCard', function (e) {
    //    // var url = window.location.href;

    //    ImportUserCardFile(e);

    //});
    $('body').on('change', '#ImportUserCard', function (e) {
        // var url = window.location.href;

        ImportUserCardFile(e);

    });

    //save the uploaded file
    function ImportUserCardFile(e) {
        var imagepath = "";
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("AttendanceUserCardImportList","Attendance"))',
                    async: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "success") {
                         
                            $('#ContacttypeListed').text(result.contactType);
                            var th = "";
                            var tr = "";
                            for (var i = 0; i < result.data.ColumnsNames.length; i++) {
                                if (i == 0) {
                                    th += "<th><input id='colcheck' type='checkbox'/></th>";
                                }
                                    if (i <= 2) {
                                        th += "<th style='display:none'>" + result.data.ColumnsNames[i] + "</th>";
                                    } else {
                                        th += "<th>" + result.data.ColumnsNames[i] + "</th>";
                                    }
                            }
                            
                            for (var i = 0; i < result.data.RowsNames.length; i++) {
                                var row = result.data.RowsNames[i];
                                var td = "";
                                for (var j = 0; j < row.length; j++) {
                                    var rowvalue = "";
                                    if (j > 4) {
                                        rowvalue = row[j].split('ε');

                                        if (rowvalue[1] == "Red") {
                                            td += "<td data-id='"+result.data.ColumnsNames[j]+"' class='checkthis' style='background-color:#ff3203'>" + rowvalue[0] + "</td>";
                                        }
                                        else if (rowvalue[1] == "BlockRed") {
                                            td += "<td data-id='" + result.data.ColumnsNames[j] + "' class='checkthis' data-id-data='block' style='background-color:#ff3203'>" + rowvalue[0] + "</td>";
                                        } else {
                                            if (rowvalue[0] == "") {
                                                td += "<td data-id='" + result.data.ColumnsNames[j] + "' >" + rowvalue[0] + "</td>";

                                            } else {
                                                if (rowvalue[1] == "Green") {
                                                    td += '<td data-id="'+result.data.ColumnsNames[j]+'" class="checkthis" style="background-color:#5cb85c">' + rowvalue[0] + '</td>';
                                                } else {
                                                    td += '<td data-id="' + result.data.ColumnsNames[j] + '" class="checkthis" >' + rowvalue[0] + '</td>';
                                                }
                                                //$("#rowcheck"+i).attr('checked', 'true');
                                            }
                                        }
                                    } else {
                                        if (j <= 2) {
                                            if (j == 0) {
                                                td += '<td><input id="rowcheck' + i + '" class="firstcheckbox" type="checkbox" style="display:none" /></td>';
                                            }
                                            td += "<td data-id='" + result.data.ColumnsNames[j] + "' style='display:none'>" + row[j] + "</td>";
                                        } else {
                                            td += "<td data-id='" + result.data.ColumnsNames[j] + "'>" + row[j] + "</td>";
                                        }
                                    }
                                }
                                tr += "<tr>" + td + "</tr>";

                            }
                            $('#Columns_list').html(th);
                            $('#Rows_list').html(tr);
                            $("tbody tr").each(function () {
                                var currentrow = $(this);
                                var reddecission = "";
                                var deletereddecission = "";
                                var decicsion = "";
                                var row = $(this).find('td.checkthis');
                                $(row).each(function () {
                                    var color = $(this).css("background-color");
                                    var block = $(this).attr('data-id-data');
                                    if (color == "rgb(92, 184, 92)") {
                                        decicsion = "1";
                                       
                                    } else if (color == "rgb(255, 50, 3)") {
                                        if (block == "block") {
                                            deletereddecission = "2";
                                        } else {
                                            reddecission = "1";
                                        }
                                    }
                                    else {
                                        decicsion = "0";

                                    }
                                })
                                if (reddecission == "1") {
                                    $(currentrow).find('input.firstcheckbox').css("display", "block");
                                }
                               else {
                                    if (decicsion == "0") {
                                        $(currentrow).find('input.firstcheckbox').css("display", "block");
                                        $(currentrow).find('input.firstcheckbox').remove();
                                    } else if (decicsion == "1") {
                                        $(currentrow).find('input.firstcheckbox').css("display", "block");
                                        $(currentrow).find('input.firstcheckbox').attr("checked", "true");
                                    } 
                                }
                             if (deletereddecission == "2") {
                                // $(currentrow).find('input.firstcheckbox').css("display", "block");
                                    $(currentrow).find('input.firstcheckbox').remove();
                                } 
                            });
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        return imagepath;
    }
    $(document).on('click','#colcheck',function () {

        if ($(this).prop('checked') == true)
        {
            $("tbody tr").each(function () {
                if ($(this).find('input.firstcheckbox').css('display') == "block") {
                    $(this).find('input.firstcheckbox').prop("checked", "checked");
                }
            })

        } else {
            $("tbody tr").each(function () {
                $(this).find('input.firstcheckbox').prop("checked",false);

            })
        }

    })

    $('#Save_UserCard_Excel').click(function () {
        var AttendanceUserCardModelArray = new Array();
        var AttendanceUserCardModel = new Object();

       

        
        $("tbody tr td input.firstcheckbox:checked").each(function () {
            var row = $(this).parent().parent();
            $(row).each(function () {

                AttendanceUserCardModel = new Object();
                AttendanceUserCardModel.ContactTypeId = $(this).find('td').eq(1).text();
                AttendanceUserCardModel.SessionId = $(this).find('td').eq(2).text();
                AttendanceUserCardModel.UserId = $(this).find('td').eq(3).text();
                AttendanceUserCardModel.OldSerialNo = $(this).find('td').eq(5).text();
                var i = 0;
                var serialNo = "";
                var FinalserialNo = "";
                var currentrow = $(this).children('td.checkthis');
                $(currentrow).each(function () {
                   
                    if ($(this).css('background-color') == "rgb(255, 50, 3)" || $(this).css('background-color') == "rgb(92, 184, 92)") {
                        serialNo = $(this).text() + "ε" + $(this).attr('data-id');
                    }
                    if (i!="0" ) {
                        FinalserialNo += "," + serialNo;
                    } else {
                        FinalserialNo = serialNo;
                    }
                    i++;
                })

                AttendanceUserCardModel.SerialNo = FinalserialNo;
                AttendanceUserCardModelArray.push(AttendanceUserCardModel);
            })
           
        })
       
        var AttendanceUserCardDetails = JSON.stringify(AttendanceUserCardModelArray);
        if (AttendanceUserCardModelArray.length > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("CheckIfOpenAttendanceUserCard", "Attendance"))',
                async:false,
                data: { "AttendanceUserCardDetails": AttendanceUserCardDetails },
                success: function (result) {
                    if (result.status == "success") {
                        PrevSessionUserCardsOpen= result.PrevSessionUserCardsOpen
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

            if (PrevSessionUserCardsOpen) {
                if (window.confirm("Previous User Cards are still open.\nDo you want to close them?")) {
                    $("#CloseDatePopUp").show();
                    
                }
            } else {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("SaveAttendanceUserCard", "Attendance"))',
                    data: { "AttendanceUserCardDetails": AttendanceUserCardDetails },
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        }
         @*$.ajax({
             type: "POST",
             url: '@Html.Raw(Url.Action("CheckIfOpenAttendanceUserCard", "Attendance"))',
             data: { "AttendanceUserCardDetails": AttendanceUserCardDetails },
             success: function (result) {
                 if (result.status == "Exist") {
                     ToastMessage(result.msg, "success", true, 5000);
                     if (window.confirm("Previos Session Cards of some Users are still Active.\nDo you want to close them?")) {
                         $.ajax({
                             type: "POST",
                             url: '@Html.Raw(Url.Action("CloseOpenAttendanceUserCard", "Attendance"))',
                             data: { "AttendanceUserCardDetails": AttendanceUserCardDetails },
                             success: function (result) {
                                 if (result.status == "success") {
                                     ToastMessage(result.msg, "success", true, 5000);
                                     $.ajax({
                                         type: "POST",
                                         url: '@Html.Raw(Url.Action("SaveAttendanceUserCard", "Attendance"))',
                                         data: { "AttendanceUserCardDetails": AttendanceUserCardDetails },
                                         success: function (result) {
                                             if (result.status == "success") {
                                                 ToastMessage(result.msg, "success", true, 5000);
                                             }
                                             else {
                                                 ToastMessage(result.msg, "error", true, 5000);
                                             }
                                             $('#ks_loader').hide();
                                         },
                                         error: function (xhr, status, p3) {
                                             var err = "Error: " + " " + p3;
                                             ToastMessage(err, "error", true, 5000);
                                             $('#ks_loader').hide();
                                         }
                                     });
                                 }
                                 else {
                                     ToastMessage(result.msg, "error", true, 5000);
                                 }
                                 $('#ks_loader').hide();
                             },
                             error: function (xhr, status, p3) {
                                 var err = "Error: " + " " + p3;
                                 ToastMessage(err, "error", true, 5000);
                                 $('#ks_loader').hide();
                             }
                         });
                     }
                 }

                 $('#ks_loader').hide();
             },
             error: function (xhr, status, p3) {
                 var err = "Error: " + " " + p3;
                 ToastMessage(err, "error", true, 5000);
                 $('#ks_loader').hide();
             }
         });*@
    })
    $("#closeDate").kendoDatePicker({
        min: '@Model.CalStartDate',
        max: '@Model.CalEndDate',
        format: "dd/MM/yyyy",
    });
    $("#close_DatePopup").click(function () {
        $("#CloseDatePopUp").hide();
        $("#closeDate").val('');
    })
    
    $("#saveCloseDate").click(function () {
        $("#CloseDatePopUp").hide();
        var AttendanceUserCardModelArray = new Array();
        var AttendanceUserCardModel = new Object();




        $("tbody tr td input.firstcheckbox:checked").each(function () {
            var row = $(this).parent().parent();
            $(row).each(function () {

                AttendanceUserCardModel = new Object();
                AttendanceUserCardModel.ContactTypeId = $(this).find('td').eq(1).text();
                AttendanceUserCardModel.SessionId = $(this).find('td').eq(2).text();
                AttendanceUserCardModel.UserId = $(this).find('td').eq(3).text();
                AttendanceUserCardModel.OldSerialNo = $(this).find('td').eq(5).text();
                var i = 0;
                var serialNo = "";
                var FinalserialNo = "";
                var currentrow = $(this).children('td.checkthis');
                $(currentrow).each(function () {

                    if ($(this).css('background-color') == "rgb(255, 50, 3)" || $(this).css('background-color') == "rgb(92, 184, 92)") {
                        serialNo = $(this).text() + "ε" + $(this).attr('data-id');
                    }
                    if (i != "0") {
                        FinalserialNo += "," + serialNo;
                    } else {
                        FinalserialNo = serialNo;
                    }
                    i++;
                })

                AttendanceUserCardModel.SerialNo = FinalserialNo;
                AttendanceUserCardModelArray.push(AttendanceUserCardModel);
            })

        })

        var AttendanceUserCardDetails = JSON.stringify(AttendanceUserCardModelArray);
        if ($("#closeDate").val() != "") {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("CloseOpenAttendanceUserCard", "Attendance"))',
                data: { "AttendanceUserCardDetails": AttendanceUserCardDetails, "CloseDate": $("#closeDate").val() },
                success: function (result) {
                    if (result.status == "success") {
                      
                        ToastMessage(result.msg, "success", true, 5000);
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("SaveAttendanceUserCard", "Attendance"))',
                            data: { "AttendanceUserCardDetails": AttendanceUserCardDetails },
                            success: function (result) {
                                if (result.status == "success") {
                                    ToastMessage(result.msg, "success", true, 5000);
                                }
                                else {
                                    ToastMessage(result.msg, "error", true, 5000);
                                }
                                $('#ks_loader').hide();
                            },
                            error: function (xhr, status, p3) {
                                var err = "Error: " + " " + p3;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        } else {
            ToastMessage("Please Select Close Date.", "error", true, 5000);
        }
    })

</script>