﻿@model ViewModel.ViewModel.Attendence.ManageAttendenceStatus

@{
    ViewBag.Title = "Manage Attendance";
}

<!-- Page Heading -->
@if (ViewBag.errorMessage != null)
{
    <div class="row top-space-10 page-heading">
        <div class="row text-danger">
            <ul>
                <li>@ViewBag.errorMessage</li>
            </ul>
        </div>
    </div>
}
else
{
    if (Model.TimeTableMessage != null)
    {
        <div class="row top-space-10 page-heading">
            <div class="row text-danger">
                <ul>
                    <li>@Model.TimeTableMessage</li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="row top-space-10 page-heading">
            <div class="col-md-6">
                <h1>Manage Attendance</h1>
            </div>
            <div class="col-md-2 pull-right" hidden id="btnSetting_Div">
                <a href="javascript:void(0);" title="Set Default Values" id="btnSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 20px;" class="pull-right"><i class="fa fa-gear"></i></a>
            </div>
        </div>
        <!-- //Page Heading -->
        <!-- Page Controls -->
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("ManageAttendance", "Attendance", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Partial("_CreateOrUpdateAttendance", Model)
                }
            </div>
        </div>
    }
    
}
