﻿@model ViewModel.ViewModel.Attendence.SMSAbsentStudentReport

@{
    ViewBag.Title = "Send Message Absent Student";
}
@if (TempData["successSmsAbsentMsg"] != null && TempData["successSmsAbsentMsg"] != "")
{
    <script>
        $(function () {
            $("#show_stuAbsentList").click();
            ToastMessage('@TempData["successSmsAbsentMsg"]', "success", true, 5000);
        });
    </script>
}


<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Send Message Absent Student</h1>
    </div>
    <div class="col-md-6">
        <a href="javascript:void(0);" title="Set Default Values" id="btnAbsentStuSMSSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 20px;" class="pull-right" hidden><i class="fa fa-gear"></i></a>
    </div>
</div>
<!-- //Page Heading -->
<!-- //SMS Student MobileNumberPopup -->
@Helper.OptionSMSMobileNumber("AbsentStuSMSMobNoStudentSetting", "AbsentStuSMSMobNoStudentSettingLabel", "Mobile Number Selection",
                        "(Selection of Sms Mobile number)", "AbsentStuSMSSelectionStudentMobileNo",
                               "set_AbsentStuSMSMobNoStudentSetting", "close_AbsentStuSMSMobNoStudentSetting", Model.SMSSelectionStudentMobileNo)

<!-- //SMS Student MobileNumberPopup -->
<!-- Page Controls -->
@using (Html.BeginForm("InsertAbsentStudentAttendance", "Attendance", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ModuleId)
    @Html.HiddenFor(m => m.SendMessageMobileNoSelectionId)
    @Html.HiddenFor(model => model.AbsentStudentAttedanceList)
    @Html.HiddenFor(model => model.selectedClassid)

    <div class="form-inline ks-custom-form">
        <div class="row top-space-10">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Date</label>
                    @Html.TextBoxFor(x => x.AttendanceDate, new { @class = "form-control", @style = "width:150px" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Class</label>
                    @Html.DropDownListFor(x => x.ClassId, Model.AvialableClassLists, new { @class = "form-control", @width = "150px" })
                </div>

                <div class="col-md-3" hidden>
                    <label class="control-label">Status</label>
                    @Html.DropDownListFor(x => x.AttendanceStatusId, Model.AvailableStatusList, new { @class = "form-control", @width = "150px" })
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="show_stuAbsentList" class="btn btn-success">View</button>
                    <button type="button" id="reset_stuAbsentList" class="btn btn-danger"><i class="fa fa-ban"></i>Cancel</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 top-space-10" style="overflow: auto;" id="div_TableStuAbsentList">
                <table class="table table-bordered table-striped" id="studentAbsentListTable">
                    <thead class="thead-default">
                        <tr>
                            <th><input type="checkbox" class="CheckAll" /></th>
                            <th hidden>AttendanceStatusId</th>
                            <th hidden>StudentId</th>
                            <th hidden>ClassId</th>
                            <th>Class</th>
                            <th>Student Name</th>
                            <th>Admn No</th>
                            <th>Roll No</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="form-group" id="btns_SaveSend" style="display:none">
                <button type="submit" id="Save_stuAbsentList" class="btn btn-success"><i class="fa fa-floppy-o"></i> Save</button>
                <button type="button" id="SendSMS_stuAbsentList" class="btn btn-primary" hidden>
                    <i class="fa fa-share-square-o" aria-hidden="true" style="font-size:14px;"></i>
                    Send Absent Message
                </button>
            </div>
        </div>

    </div>

    <script>
        var Selected = '@Model.SMSSelectionStudentMobileNo';
        $("#ClassId").select2({});
        if (document.location.search.length) {
            //$("#SendSMS_stuAbsentList").show();
            $("#btnAbsentStuSMSSettings").show();
            if ($("#selectedClassid").val() != "") {
                //alert($("#selectedClassid").val())
                $("#ClassId").val($("#selectedClassid").val()).trigger("change");
                GetList($("#ClassId").val(), $("#AttendanceDate").val());
                $("#AbsentStuSMSSelectionStudentMobileNo").val(Selected);
                $("#Save_stuAbsentList").html("<i class='fa fa-floppy-o'></i> Save");

                $("#AttendanceDate").kendoDatePicker({
                    format: "dd/MM/yyyy"
                });
                $("#AttendanceDate").attr("readonly", true);
            }
        }
        else {
            $("#SendSMS_stuAbsentList").hide();
            $("#AttendanceDate").kendoDatePicker({
                value: new Date,
                format: "dd/MM/yyyy"
            });
            $("#AttendanceDate").attr("readonly", true);
        }

       

        $(".CheckAll").click(function () {
            if ($(this).is(":checked"))
                $("#studentAbsentListTable tbody tr").find("input.chkChildBoxes").prop("checked", true);
            else
                $("#studentAbsentListTable tbody tr").find("input.chkChildBoxes").prop("checked", false);
        });


        $("#btnAbsentStuSMSSettings").click(function () {
            $("#AbsentStuSMSMobNoStudentSetting").show();

        });

        $("#close_AbsentStuSMSMobNoStudentSetting").click(function () {
            $("#AbsentStuSMSMobNoStudentSetting").hide();
        });

        $("#set_AbsentStuSMSMobNoStudentSetting").click(function () {
            $('#ks_loader').show();
         
            if ($("#AbsentStuSMSSelectionStudentMobileNo").val() != "") {
                $("#SendMessageMobileNoSelectionId").val($("#AbsentStuSMSSelectionStudentMobileNo").val());
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("InsertDefaultValueAbsentStudent", "Attendance"))',
                    data: { "MobileNoSelectionAbsentStu": $("#SendMessageMobileNoSelectionId").val() },
                    success: function (result) {
                        if (result.status == "Success") {
                            ToastMessage("SMS/Notifications will be send on " + $("#AbsentStuSMSSelectionStudentMobileNo option:selected").text(),
                                            "success", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else
                ToastMessage("SMS/Notifications will be send on Student SMS Mobile No.", "success", true, 5000);

            $("#AbsentStuSMSMobNoStudentSetting").hide();
        });

        $("#show_stuAbsentList").click(function () {
            $('#ks_loader').show();
            $("#btns_SaveSend").hide();
            $("#studentAbsentListTable tbody").html("");
            var classid = $("#ClassId").val();
            var Date = $("#AttendanceDate").val();

            GetList(classid, Date);
            
        });

        function GetList(classid,Date) {
            $.ajax({
                type: 'GET',
                url: "@Html.Raw(Url.Action("GetAbsentStudentList", "Attendance"))",
                data: { "classId": classid, "date": Date },
                success: function (res) {
                    if (res.status == "success") {
                        if (res.data.length > 0) {
                            $("#btns_SaveSend").show();
                            var IsallStudentUnmarked = false;
                            $.each(res.data, function (i) {
                                var $AttendanceStatus = $("#AttendanceStatusId > option").clone();
                                var row = "<tr>";

                                if (res.data[i].IsAuto)
                                    row += "<td><input type='checkbox' class='chkChildBoxes' /></td>";
                                else
                                    row += "<td><input type='checkbox' class='chkChildBoxes' checked/></td>";

                                row += "<td hidden>" + res.data[i].AttendanceStatusId + "</td>"
                                row += "<td hidden class='StudentId'>" + res.data[i].StudentId + "</td>"
                                row += "<td hidden>" + res.data[i].ClassId + "</td>"
                                row += "<td>" + res.data[i].ClassName + "</td>"
                                if (res.data[i].IsInActive == true) {
                                    row += "<td style='color:blue'>" + res.data[i].StudentName + "</td>"
                                }
                                else {
                                    row += "<td>" + res.data[i].StudentName + "</td>"
                                }
                                row += "<td>" + res.data[i].AdmnNo + "</td>"
                                row += "<td>" + res.data[i].RollNo + "</td>"

                                if (res.IsInchargeAllowedForAtn) {
                                    if (res.data[i].AttendanceStatus != "Unmarked") {
                                        row += "<td><span class='dotAttendanceRed'></span>&nbsp;<select  class='form-control clsattendancestatus' id='Attendancestatus_"
                                        + res.data[i].StudentId + "'></select></td>"
                                    }
                                    else {
                                        IsallStudentUnmarked = true;
                                        row += "<td><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                                        + res.data[i].StudentId + "'></select></td>"
                                    }

                                }
                                else {
                                    row += "<td><select  class='form-control clsattendancestatus' id='Attendancestatus_"
                                        + res.data[i].StudentId + "' disabled></select></td>"
                                }

                                row += "</tr>";
                                $("#studentAbsentListTable tbody").append(row);
                                $("#Attendancestatus_" + res.data[i].StudentId).append($AttendanceStatus);
                                if (res.data[i].AttendanceStatus != "") {
                                    if (res.data[i].AttendanceStatus == "Unmarked")
                                        $("#Attendancestatus_" + res.data[i].StudentId + " option:contains(Absent)").attr('selected', true);
                                    else {
                                        $("#Attendancestatus_" + res.data[i].StudentId + " option:contains("
                                                                + res.data[i].AttendanceStatus + ")").attr('selected', true);
                                    }
                                }
                            });

                            if ($("#studentAbsentListTable tbody tr").length > 30)
                                $("#div_TableStuAbsentList").css("height", "500px");
                            else
                                $("#div_TableStuAbsentList").css("height", "auto");

                            if(IsallStudentUnmarked)
                                $("#SendSMS_stuAbsentList").hide();
                            else
                                $("#SendSMS_stuAbsentList").show();
                        }

                        $('#ks_loader').hide();
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage("Error happened", "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    $('#ks_loader').hide();
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        };

        $('#reset_stuAbsentList').click(function () {
            $("#btns_SaveSend").hide();
            $("#studentAbsentListTable tbody").html("");
            $("#ClassId").val('').trigger('change');
            $("#AttendanceDate").val(kendo.toString(new Date(), "dd/MM/yyyy"));

            window.location.href = '@Html.Raw(Url.Action("SendMsgAbsentStudent", "Attendance"))';
        });

        $('#Save_stuAbsentList').click(function () {
            $('#ks_loader').show();
            var StudentList = new Array();
            var StudentListObj = new Object();
            $('#studentAbsentListTable > tbody  > tr').each(function () {
                if ($(this).find("td:nth-child(1)").find(".chkChildBoxes").is(":checked")) {
                    var row = $(this);
                    StudentListObj = new Object();
                    StudentListObj.AttendanceDate = $("#AttendanceDate").val();
                    StudentListObj.StudentId = row.find(".StudentId").text();
                    StudentListObj.ClassId = $("#ClassId").val() != "" ? parseInt($("#ClassId").val()) : 0;
                    StudentListObj.AttendanceStatusId = row.find(".clsattendancestatus option:selected").val();
                    if (StudentListObj.AttendanceStatusId == "") {
                        StudentListObj.AttendanceStatusId = "0";
                    }
                    StudentList.push(StudentListObj);
                }
            });
            if ($('#studentAbsentListTable >tbody >tr').length > 0) {
                $("#AbsentStudentAttedanceList").val(JSON.stringify(StudentList));

                return true;
            }
            else {
                return false;
            }
            $('#ks_loader').hide();

        });

        $('#SendSMS_stuAbsentList').click(function () {
            var checkedRows = [];
            $('#studentAbsentListTable > tbody  > tr').each(function () {
                if ($(this).find("input.chkChildBoxes").is(":checked")) {
                    checkedRows.push($(this).find("td:nth-child(3)").text() + "-" + $("#AttendanceDate").val());
                }
            });

            var Ids = "";
            $.each(checkedRows, function (i) {
                Ids += checkedRows[i] + ",";
            });
            if (checkedRows.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: "@Html.Raw(Url.Action("SendSMSAbsentStudentTrigger", "Attendance"))",
                    data: { "StudentIds": Ids, "SelectedSSMSMobileOptionId": $("#AbsentStuSMSSelectionStudentMobileNo").val() },
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.Msg, "success", true, 5000);
                        }
                        else if (result.status == "failed")
                            ToastMessage("Error happened", "error", true, 5000);

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        $('#ks_loader').hide();
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $('#ks_loader').hide();
                ToastMessage("Please select atleast one student to send message", "error", true, 5000);
            }

            @*$('#studentAbsentListTable > tbody  > tr').each(function () {
                if ($("#studentAbsentListTable tbody tr").find("input.chkChildBoxes").is(":checked")) {
                    var row = $(this);
                    StudentListObj = new Object();
                    StudentListObj.AttendanceDate = $("#AttendanceDate").val();
                    StudentListObj.StudentId = row.find(".StudentId").text();
                    StudentListObj.ClassId = parseInt($("#ClassId").val());
                    StudentListObj.AttendanceStatusId = row.find(".clsattendancestatus option:selected").val();
                    if (StudentListObj.AttendanceStatusId == "") {
                        StudentListObj.AttendanceStatusId = "0";
                    }
                    StudentList.push(StudentListObj);
                }
            });
            if ($('#studentAbsentListTable >tbody >tr').length > 0) {
                $("#AbsentStudentAttedanceList").val(JSON.stringify(StudentList));
            }

            ObjModel.AbsentStudentAttedanceList = $("#AbsentStudentAttedanceList").val();
            $.ajax({
                type: 'GET',
                url: "@Html.Raw(Url.Action("SendSMSAbsentStudentList", "Attendance"))",
                data: ObjModel,
                contentType: "application/json",
                success: function (result) {
                    if (result.StudentList.length > 0) {
                        $('#StuAbsentSMS_Div').show();
                        $('#StuAbsentSMS_Div').find("div#StuList").html("");

                        var html = "<ul>";
                        $.each(result.StudentList, function (i) {
                            html += "<li style='list-style: none;'><label><input type='checkbox' class='clscheckuser'"
                                        + "data-id='" + result.StudentList[i].Value + "' />"
                                        + result.StudentList[i].Text + "</label></li>";
                        });
                        html += "</ul>";
                        $('#StuAbsentSMS_Div').find("div#StuList").append(html);
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage("No Student Found", "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    $('#ks_loader').hide();
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                }
            });*@

        });

        @*$(document).on("click", "#SendSMSStuAbsent_div", function () {
            $('#ks_loader').show();
            var checkedRows = [];
            var studentFlag = [];
            $("#StuList ul li").each(function () {
                if ($(this).find("input").is(":checked")) {
                    checkedRows.push($(this).find("input").attr("data-id") + "-" + $("#AttendanceDate").val());
                }
            });

            var Ids = "";
            $.each(checkedRows, function (i) {
                Ids += checkedRows[i] + ",";
            });

            if (checkedRows.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: "@Html.Raw(Url.Action("SendSMSAbsentStudentTrigger", "Attendance"))",
                    data: { "StudentIds": Ids },
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.Msg, "success", true, 5000);
                        }
                        else if (result.status == "failed")
                            ToastMessage("Error happened", "error", true, 5000);

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        $('#ks_loader').hide();
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $('#ks_loader').hide();
                ToastMessage("Please select atleast one student to send message", "error", true, 5000);
            }
        });*@


        //$('#closeStuAbsentSMS_div').click(function () {
        //    $('#StuAbsentSMS_Div').hide();

        //});

    </script>
}

