﻿@model ViewModel.ViewModel.Attendence.StudentAttendance
@{
    ViewBag.Title = "Attendance";
    //var defaultGridPageSize = Model.defaultGridPageSize;
    //var gridPageSizes = Model.gridPageSizes;
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
    #attendanceList {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #attendanceList td, #attendanceList th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #attendanceList tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #attendanceList tr:hover {
            background-color: #ddd;
        }

        #attendanceList th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
</style>
@*<div id="ExcelTableHtml" hidden></div>*@

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Students Attendance Report</h1>
    </div>
    <div class="col-md-6">
        <div class="gridfa" style="float:right" title="Switch To Grid View">
            <i class="fa fa-list" aria-hidden="true"></i>
        </div>
        <div class="chartfa" style="display:none;float:right" title="Switch To Chart View">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
        </div>
    </div>
</div>


<div class="row col-md-12 chartView top-space-20 MainDiv">
    @if (Model.IsAdmin == true)
    {
        using (Html.BeginForm("StudentAttendance", "Attendance", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {

        <div class="SelectStudent col-md-2" style="background:#efefef;height: 450px;">
            <div class="">
                <label>Class</label><br />
                @if (Model.classid > 0)
                {
                    @Html.DropDownListFor(m => m.classid, Model.ClassList, new
               {
                   @id = "ClassId",
                   @class = "form-control drop-down"
               })
                }
                else
                {
                    @Html.DropDownListFor(m => m.classid, Model.ClassList, new
               {
                   @id = "ClassId",
                   @class = "form-control drop-down"
               })
                }
            </div>
            <div class="">
                <label>Student</label><br />
                @if (!string.IsNullOrEmpty(Model.studentid))
                {
                    @Html.DropDownListFor(m => m.studentid, Model.StudentList, new
               {
                   @id = "StudentId",
                   @class = "form-control drop-down"
               })
                }
                else
                {
                    @Html.DropDownListFor(m => m.studentid, Model.StudentList, new
               {
                   @id = "StudentId",
                   @class = "form-control drop-down"
               })
                }
            </div>
        </div>

        <input type="submit" id="studentSubmit" style="display:none"/>
        }
    }
    else
    {
        <div class="col-md-2" style="background:#efefef;height:450px">
            <div class="img-thumbal">
                @if (!string.IsNullOrEmpty(Model.StudentImage))
                {
                    <img class="img-responsive" style="width:125px;height: 125px;" src="@Model.StudentImage">
                }
            </div>
            <label>Name: @Model.Name</label><br />
            @if (!string.IsNullOrEmpty(Model.AdmissionNo))
        {
                <label>Admsn No: @Model.AdmissionNo</label><br />
            }
        </div>
    }
    <div class="col-md-5 chart" id="container" style="width: 500px; height: 500px; margin: 0 auto"></div>
    <div class="col-md-5 chart" id="piechart_3d" style="width: 420px; height: 500px;float:right"></div>
    <div class="col-md-10 listView" style="display:none">
        <table id="attendanceList" style="height:450px">
            <tr>
                <th>Months</th>
                <th>Present</th>
                <th>Absent</th>
                <th>Leave</th>
                <th>Others</th>
                @*<th>OnDuty</th>*@
                <th>Total</th>
            </tr>
            @foreach (var item in Model.monthlyAttendance)
            {
                <tr>
                    <td>@item.Month</td>
                    <td>@item.Present</td>
                    <td>@item.Absent</td>
                    <td>@item.Leave</td>
                    <td>@item.Others</td>
                    @*<td>@item.OnDuty</td>*@
                    <td>@item.Total</td>
                </tr>
            }
        </table>
    </div>
</div>

@if (Model.IsAdmin != true)
{
    <text>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
           // alert(newArrayValues);
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Present', 'Absent', 'Leave', 'Not-Marked'],
             @if (@Model.monthlyAttendance.Count > 0)
             {
                 foreach (var item in Model.monthlyAttendance)
                 {
                    <text>
                         ['@item.Month',@item.Present,@item.Absent,@item.Leave,@item.Others],
                    </text>
                 }
             }
            ]);
            var options = {
                title: 'Student Attendace Month Wise', isStacked: true,
                is3D: true,
                'colors': ['#32CD32', '#FF4500', '#FFFF00', '#808080'],
                 width: 550,
                height: 500,
                 chartArea: {'width': '70%', 'height': '75%','left':'2'},
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('container'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);
    </script>

    <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Present',@Model.TotalPresents],
            ['Absent',@Model.TotalAbsent],
            ['Leave',@Model.TotalLeave],
            ['Not-Marked',@Model.TotalNotMarked]
        ]);
       var options = {
                title: 'Student Attendace',
                is3D: true,
                'colors': ['#32CD32', '#FF4500', '#FFFF00', '#808080'],
                width: 450,
                height:500
            };
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
    $(".gridfa").click(function () {
        $(".gridfa").hide();
        $(".chartfa").show();
         $(".chart").hide();
        $(".listView").show();
    })
    $(".chartfa").click(function () {
        $(".gridfa").show();
        $(".chartfa").hide();
         $(".chart").show();
        $(".listView").hide();
    })

    </script>
</text>
}
else if(!string.IsNullOrEmpty(Model.studentid) && Model.IsAdmin==true)
{
<text>
<script>
          google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
           // alert(newArrayValues);
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Present', 'Absent', 'Leave', 'Not-Marked'],
             @if (@Model.monthlyAttendance.Count > 0)
             {
                 foreach (var item in Model.monthlyAttendance)
                 {
                    <text>
                         ['@item.Month',@item.Present,@item.Absent,@item.Leave,@item.Others],
                    </text>
                 }
             }
            ]);
            var options = {
                title: 'Student Attendace Month Wise', isStacked: true,
                is3D: true,
                'colors': ['#32CD32', '#FF4500', '#FFFF00', '#808080'],
                width: 550,
                height: 500,
                chartArea: {'width': '70%', 'height': '75%','left':'2'},
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('container'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);
</script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Present',@Model.TotalPresents],
            ['Absent',@Model.TotalAbsent],
            ['Leave',@Model.TotalLeave],
            ['Not-Marked',@Model.TotalNotMarked]
        ]);
       var options = {
                title: 'Student Attendace',
                is3D: true,
                'colors': ['#32CD32', '#FF4500', '#FFFF00', '#808080'],
                width: 450,
                height:500
            };
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
    $(".gridfa").click(function () {
        $(".gridfa").hide();
        $(".chartfa").show();
         $(".chart").hide();
        $(".listView").show();
    })
    $(".chartfa").click(function () {
        $(".gridfa").show();
        $(".chartfa").hide();
        $(".chart").show();
        $(".listView").hide();
    });

    </script>
</text>
}
else if (Model.IsAdmin == true)
{
<text>
<script>
    $(".gridfa").hide();
    $(".chartfa").hide();
    $(".MainDiv").show();
    $(".chart").hide();
    $(".listView").hide();
    
</script>
</text>
}
<script>
     $("#ClassId").change(function () {
        $("#StudentId").val("").trigger('change');
        $("#StudentId").html("");
        var ClassId = $("#ClassId").val();
            if (ClassId != "") {
                $("#ks_loader").show();
                $.ajax({
                    type: "get",
                    url: '@Html.Raw(Url.Action("GetStudentListbyClass", "Attendance"))',
                    data: { "ClassId": ClassId },
                    success: function (result) {
                        if (result.status == "success") {
                            var Stduentlist = "";
                            for (var i = 0; i < result.list.length; i++) {
                                Stduentlist += "<option value=" + result.list[i].Value + ">" + result.list[i].Text + "</option>";
                            }
                            $('#StudentId').append(Stduentlist);
                            $("#ks_loader").hide();
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                            $("#ks_loader").hide();
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $("#ks_loader").hide();
                    }
                });
            }
        });

     $("#StudentId").change(function () {
         if ($(this).val() != "" && $(this).val() != null && $("#ClassId").val() != "" && $("#ClassId").val() > 0) {

           //  window.location.href = "@Url.Content("~/")Attendance/StudentAttendance?id=" + $("#StudentId").val() + "&cls=" + $("#ClassId").val() + "";
             $("#ks_loader").show();
             $("#studentSubmit").trigger('click');
            }
        });
</script>