﻿@model ViewModel.ViewModel.Attendence.StudentAttendanceReport
@{
    ViewBag.Title = "Student Attendance Report";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
@if (TempData["errorMessage"] != null && TempData["errorMessage"] != "")
{
    <script>
        $(function () {
            var validationaray = TempData["errorMessage"].split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
        });
    </script>
}

<style>
    .multiselect.dropdown-toggle.btn.btn-default {
        width: 145px;
    }

    .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
        padding: 2px;
    }

    #DynamicList.select2-container--default {
        width: 100% !important;
    }

    #ClassId.select2-container--default {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single {
        height: 34px;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 33px;
        }
</style>
@*<div id="ExcelTableHtml" hidden></div>*@

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Students Attendance Report</h1>
    </div>
    <div class="col-md-5">

    </div>
</div>

<ul class="nav nav-tabs top-space-20">
    <li class="active"><a data-toggle="tab" href="#tab1">Day Wise</a></li>
    <li><a data-toggle="tab" href="#tab2">Month Wise </a></li>
    <li><a data-toggle="tab" href="#tab3">Summary Wise </a></li>
</ul>

<div class="tab-content">
    <div id="tab1" class="tab-pane fade">
        <div class="top-space-10">
            @if (Model.IsAuthToGenrateReport)
            {
                <button type="button" id="btnExcelAttendance" class="btn btn-xs btn-default pull-right" title="ExportToExcel">
                    <i class="fa fa-file-excel-o" style="color:green"></i>
            </button>
            <button type="button" id="btnPrintAttendance" class="btn btn-xs btn-default pull-right" title="Print">
                <i class="fa fa-print" style="color:blue"></i>
            </button>
            }
        </div>
        @using (Html.BeginForm())
        {
            @Html.Partial("_StudentAttendanceStatusWise", Model)
        }
    </div>
    @Html.Hidden("hdnIsAction")
    <div id="tab2" class="tab-pane fade">
        <div class="">
            @if (Model.IsAuthToGenrateReport)
            {
                <button type="button" id="btnPrint_StuAttendance2" class="btn btn-xs btn-default pull-right" title="Print" style="display:none;">
                    <i class="fa fa-print" style="color:blue"></i>
                </button>
            <a href="#" id="btnExportExcel_StuAttendance" class="btn btn-xs btn-default pull-right" title="Export" style="display:none;">
                <i class="fa fa-file-excel-o" style="color:green"></i>
            </a>
            }
        </div>

        @Html.Partial("_StudentAttendanceMonthWise", Model)
        <script>
            var TodayDateWithTime = GetDateString(kendo.toString(new Date(), "dd/MM/yyyy hh:mm:ss"));
            // function get date as string and return date
            function GetDateString(date) {
                var datearry = date.split('/');
                var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                return returnFromDate;
            }

            $("#btnExportExcel_StuAttendance").click(function () {
                var tablehtml = $('#studentAttendancelist');

                if ($("#TypeSelection :selected").text().trim().toLowerCase() == "student") {
                    var SelectedStName = $("#AttenRepo_StudentId :selected").text();
                    var SelectedClass = $("#AttenRepo_ClassId :selected").text();
                tablehtml.prepend("<tr class='removeIstrow'><td style='text-align:center;' colspan='"+$("#studentAttendancelist >table>thead>tr>th").length+"'><b>Student Attendance Report Of Class "+SelectedClass+" for "+SelectedStName+" </b></td></tr>");
                }
                if ($("#TypeSelection :selected").text().trim().toLowerCase() == "month") {
                    var SelectedClassMonthWise = $("#AttenRepo_ClassId :selected").text();
                    var SelectedMonth = $("#DynamicList :selected").text();
                tablehtml.prepend("<tr class='removeIstrow'><td style='text-align:center;' colspan='"+$("#studentAttendancelist >table>thead>tr>th").length+"'><b>Student Attendance Report Of Month "+SelectedMonth+" for "+SelectedClassMonthWise+" </b></td></tr>");
                }

                var ExcelHtml = "<html xmlns:x='urn:schemas-microsoft-com:office:excel'>";
                ExcelHtml += "<head>";
                ExcelHtml += "<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />";
                ExcelHtml += "<!--[if gte mso 9]>";
                ExcelHtml += "<xml>";
                ExcelHtml += " <x:ExcelWorkbook>";
                ExcelHtml += " <x:ExcelWorksheets>";
                ExcelHtml += " <x:ExcelWorksheet>";
                ExcelHtml += "Student Attendance";
                ExcelHtml += "<x:WorksheetOptions>";
                ExcelHtml += " <x:Panes>";
                ExcelHtml += " </x:Panes>";
                ExcelHtml += "</x:WorksheetOptions>";
                ExcelHtml += "</x:ExcelWorksheet>";
                ExcelHtml += "</x:ExcelWorksheets>";
                ExcelHtml += "</x:ExcelWorkbook>";
                ExcelHtml += "</xml>";
                ExcelHtml += "<![endif]-->";
                ExcelHtml += "</head>";
                ExcelHtml += "<body>";
                ExcelHtml += tablehtml.html();
                ExcelHtml += "</body>";
                ExcelHtml += "</html>";


                $(this).attr('href', 'data:application/vnd.ms-excel,' + encodeURIComponent(ExcelHtml))
                .attr('download', 'StudentMonthWiseAttendance_' + TodayDateWithTime + '.xls');
             //   e.preventDefault();
                $('#studentAttendancelist tr.removeIstrow').remove();
            });

            $("#btnPrint_StuAttendance2").click(function () {
                printDiv();
                function printDiv() {
                    var divToPrint = $('#studentAttendancelist').html();
                    var newWin = window.open('', 'Print-Window');
                    newWin.document.open();
                    newWin.document.write('<html><body onload="window.print()">' + divToPrint + '</body></html>');
                    newWin.document.close();
                }
            })
        </script>
    </div>

    <div id="tab3" class="tab-pane fade">
        <div class="">
            @if (Model.IsAuthToGenrateReport)
            {
                <button type="button" id="btnPrint_StuAttendance3" class="btn btn-xs btn-default pull-right" title="Print" style="display:none;">
                    <i class="fa fa-print" style="color:blue"></i>
                </button>
                <a href="#" id="btnExportExcel_StuSummary" class="btn btn-xs btn-default pull-right" title="Export" style="display:none;">
                    <i class="fa fa-file-excel-o" style="color:green"></i>
                </a>
            }
        </div>
        @Html.Partial("_StudentAttendanceSummaryWise", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#hdnIsAction").val(false);
    })
    //tabs click
    $(".nav-tabs li").each(function () {
        if ($(this).find('a').attr('href') == "#tab1") {
            $(this).siblings().removeClass('active');
            $(this).addClass('active').show();
            $(".tab-content").find('div#tab1').siblings().removeClass('in active');
            $(".tab-content").find('div#tab1').addClass('in active');
            clearSecondTab();
        }
    });
    
    function clearSecondTab() {
        $("#DivAttendance_StudentId").hide();
        $("#AttenRepo_ClassId").val("");
        $("#studentAttendance_MonthList thead").html("");
        $("#studentAttendance_MonthList tbody").html("");
        $("#studentAttendancelist").hide();
        $("#DynamicList").val("").trigger("change");
        $("#TypeSelection").val("Month");
    }
   
    $("#btnExportExcel_StuSummary").click(function () {
        var isaction= $("#hdnIsAction").val();
        if (isaction == "false") {
            $("#hdnIsAction").val(true);
            $('#ExportAttendance_summarylist').html();
            $('#ExportAttendance_summarylist >').find($(".action")).remove();

        }
        var SelectedDate = $("#txtAttnSummaryDate").val();
        $('#ExportAttendance_summarylist').prepend("<tr class='removeIstRow'><td style='text-align:center' colspan='"+$("#studentAttendancelist >table>thead>tr>th").length+"'><b>Student Attendance Report Summary Wise For Date "+SelectedDate+"</b></td></tr>");

        var ExcelHtml = "<html xmlns:x='urn:schemas-microsoft-com:office:excel'>";
        ExcelHtml += "<head>";
        ExcelHtml += "<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />";
        ExcelHtml += "<!--[if gte mso 9]>";
        ExcelHtml += "<xml>";
        ExcelHtml += " <x:ExcelWorkbook>";
        ExcelHtml += " <x:ExcelWorksheets>";
        ExcelHtml += " <x:ExcelWorksheet>";
        ExcelHtml += "Student Summary";
        ExcelHtml += "<x:WorksheetOptions>";
        ExcelHtml += " <x:Panes>";
        ExcelHtml += " </x:Panes>";
        ExcelHtml += "</x:WorksheetOptions>";
        ExcelHtml += "</x:ExcelWorksheet>";
        ExcelHtml += "</x:ExcelWorksheets>";
        ExcelHtml += "</x:ExcelWorkbook>";
        ExcelHtml += "</xml>";
        ExcelHtml += "<![endif]-->";
        ExcelHtml += "</head>";
        ExcelHtml += "<body>";
        ExcelHtml += $('#ExportAttendance_summarylist').html();
        ExcelHtml += "</body>";
        ExcelHtml += "</html>";



        $(this).attr('href', 'data:application/vnd.ms-excel,' + encodeURIComponent(ExcelHtml))
        .attr('download', 'StudentSummaryWiseAttendance_' + TodayDateWithTime + '.xls');
        //e.preventDefault();
        $('#ExportAttendance_summarylist tr.removeIstRow').remove();
      //  alert("f");
    });
    $("#btnPrint_StuAttendance3").click(function () {
        var isaction = $("#hdnIsAction").val();
        if (isaction == "false") {
            $("#hdnIsAction").val(true);
            $('#ExportAttendance_summarylist').html();
            $('#ExportAttendance_summarylist >').find($(".display")).removeAttr("hidden");;
            $('#ExportAttendance_summarylist >').find($(".action")).remove();

        }
        printDiv();
        function printDiv() {
            var divToPrint = $('#ExportAttendance_summarylist').html();
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            newWin.document.write('<html><body onload="window.print()">' + divToPrint + '</body></html>');
            newWin.document.close();
        }
    })
</script>