﻿@model ViewModel.ViewModel.Student.StudentProfileModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
    ViewBag.allowed = DateTime.Today;
}
<!-- Model Certificate Header /Not -->
<div class="modal-popup" id="StuCertificate_Div" hidden>
    <div class="modal-popup-body custom-modal-popup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_StuCertificate_Div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Certificate Header</h4>
            </div>
            <div class="row modal-body" id="CertificateInfo">
                <div class="col-md-12 form-inline ">
                    <div class="">
                        @Html.Hidden("IssueDocumentId")
                        @Html.Hidden("StudentDocumentPrintId")
                        <label class="col-md-7 control-label"> Do you want to Include header on Certificate?</label><!-- Form Label -->
                        <div class="col-md-2">
                            @Html.CheckBoxFor(m => m.IncludeHeader, new { @class = "form-control", @style = "height: 20px;" })
                        </div>
                    </div>
                </div>
            </div>
               <div class="modal-footer">
                <div id="Detail_Div" class="col-md-10">
                    <input id="Detail1"
                           name="Detail"
                           type="radio"
                           value="With Detail" /> With Detail
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="Detail2" checked="checked"
                           name="Detail"
                           type="radio"
                           value="Without Detail" />Without Detail
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                   <button type="button" class="btn btn-success" id="StuCertificate_Print">
                       OK
                   </button>
            </div>
        </div>
    </div>
</div>
<!-- Model Certificate  Header /Not-->
<ul class="nav nav-tabs">
    @if (Model.IsEdit && Model.IsAdmin)
    {
        <li><a href="@Html.Raw(Url.Action("StudentProfileEdit", "Student", new { id = Model.EncStudentId }))">Admission Form</a></li>
        <li><a href="@Html.Raw(Url.Action("StudentOtherDetail", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Health Detail</a></li>
        <li class="active"><a data-toggle="tab" href="#crt">Certificates</a></li>
        <li><a href="@Html.Raw(Url.Action("StudentActivities", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Student Activities</a></li>
        @*if (Model.FeeCheck)
        {
            <li><a href="@Html.Raw(Url.Action("StudentFeeAddOns", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Fee AddOns</a></li>
        }*@
        <li><a href="@Html.Raw(Url.Action("StudentFacilityDetails", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Student Facility Details</a></li>

    }
</ul>

<div class="tab-content">
    <div id="crt" class="tab-pane fade in active">
        @if (Model.IsEdit)
        {
            if (Model.IsAdmin)
            {
                @*<div class="row top-space-10">
                        <div class="col-md-12" id="Btnaddnewdoc">
                            <input type="button" id="issue_certificate" value="Add New" class="btn btn-default btn-xs pull-right" />
                        </div>
                    </div>*@
            }
            @*hidden fields*@
            @Html.HiddenFor(m => m.IssueDocId)
            <form class="form-horizontal ks-custom-form">
                <div class="row create_certificate" style="display:none;margin-top: 0;margin-bottom: 10px;">
                    <div class="row">

                        <!-- Form Coulmn -->
                        <div class="col-md-3">
                            <label class=" control-label">Certificate Type <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <select id="IssueDocTypeId" class="form-control">
                                <option value="" data-ioo="" data-mi="" selected="selected">---Select---</option>
                                @foreach (var item in Model.IssueDocTypeList)
                                {
                                    <option value=@item.IssueDocTypeID data-ioo="@item.IOO" data-mi="@item.MI" selected="selected">@item.IssueDoctype</option>
                                }
                            </select>
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2" id="Session_div">
                            <label class=" control-label">Session </label><!-- Form Label -->
                            @Html.DropDownListFor(m => m.SessionId, Model.Sessionlist, new { @class = "form-control" })
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2">
                            <label class=" control-label">Certificate No<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            @Html.TextBox("DocNo", "", new { @id = "DocNo", maxlength = "10", @class = "form-control" })
                        </div>
                        <!-- //Form Coulmn -->
                        @if (Model.IsCertificateBackdateAllowed == 1)
                        {
                        <!-- Form Coulmn -->
                            <div class="col-md-2">
                                <div class="">
                                    <label class=" control-label">Issue Date <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                                    <div class="">
                                        @Html.TextBox("IssueDate", "", new { @class = "IssueDate" })
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                        <!-- //Form Coulmn -->
                        }

                        <div class="col-md-3">
                            <button type="button" class="btn btn-success" id="save_certificate" style="margin-top: 16px">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-danger" id="Close_create_certificate" style="margin-top: 16px">
                                <i class="fa fa-ban"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <script>
                $(document).ready(function(){
                    $('#IncludeHeader').prop('checked', true);
                });

                //hide show create certificate div
                $('#issue_certificate').click(function () {
                    $('#save_certificate').text("");
                    $('#save_certificate').append('<i class="fa fa-floppy-o"></i> Save');

                    $('.create_certificate').css('display','block');
                    $('#IssueDate').val("");
                    $('#SessionId').val("").trigger('change');
                    $('#IssueDocTypeId').val("").trigger('change');
                    $('#DocNo').val("");
                    $('#IssueDocId').val("");
                    $('#Session_div').show();
                    $('#IssueDocTypeId').removeAttr('disabled');
                    $('#SessionId').removeAttr('disabled');
                });

                //close create certificate div
                $('#Close_create_certificate').click(function () {
                    $('#issue_certificate').show();
                    $('.create_certificate').hide();
                    $('#IssueDocId').val();
                });

                //issue date
                var todaysDate_certificate = new Date();
                var pastDate_certificate = new Date();
                if('@Model.IsCertificateBackdateAllowed' == 1){
                    pastDate_certificate = new Date(2013, 1, 1);
                }

                $("#IssueDate").kendoDatePicker({
                    value: new Date,
                    min: pastDate_certificate,
                    format: "dd/MM/yyyy",
                    max: todaysDate_certificate
                });

                $("#IssueDate").attr("readonly", true);

                $('#IssueDocTypeId').change(function(){
                    var multipleissueallowed= $(this).find(':selected').attr('data-mi');
                    var issueonceonly= $(this).find(':selected').attr('data-ioo');
                    $('#Session_div').show();
                    if(issueonceonly == "True")
                        $('#Session_div').hide();
                });

                //create certificate
                $('#save_certificate').click(function () {
                    $('#ks_loader').show();

                    var isfromvalid = FormValidation();
                    if(isfromvalid)
                    {
                        var model = new Object();
                        model.IssueDocTypeId = $('#IssueDocTypeId').val();
                        if($('#IssueDate').val() != "" && $('#IssueDate').val() != undefined){
                            model.IssueDate=GetDateFromString($('#IssueDate').val());
                        }
                        model.DocNo = $('#DocNo').val();
                        model.SessionId = $('#SessionId').val();
                        var issuedocid= $('#IssueDocId').val();

                        model.sessiondivhidden=false;
                        if ($('#Session_div').css('display') == 'none')
                            model.sessiondivhidden=true;

                        model.multipleallowed = $('#IssueDocTypeId').find(':selected').attr('data-mi');
                        model.issueonceonly = $('#IssueDocTypeId').find(':selected').attr('data-ioo');
                        model.IsCertificateBackdateAllowed='@Model.IsBackDateAllowed';

                        $.ajax({
                            type: "Post",
                            url: '@Html.Raw(Url.Action("CreateManageCertificate", "Student"))',
                            data: { "model": model, "StudentId": "@Model.EncStudentId" ,"issuedocid":issuedocid},
                            success: function (result) {
                                if (result.status == "success") {
                                    ToastMessage(result.msg, "success", true, 5000);
                                    $('#ks_loader').hide();
                                    window.location.reload();
                                }
                                else {
                                    var validationaray = result.data.split('ε');
                                    for (var i = 0; i < validationaray.length - 1; i++)
                                        ToastMessage(validationaray[i], "error", true, 5000);
                                    $('#ks_loader').hide();
                                }
                            },
                            error: function (status, data) {
                                var err = "Error: " + " " + status + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                    else
                    {
                        var validationaray = validationmsg.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++)
                            ToastMessage(validationaray[i], "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });

                var validationmsg = "";
                var isvalid = true;
                function FormValidation() {
                    validationmsg = "";
                    isvalid = true;

                    if ($('#IssueDocTypeId').val() == "") {
                        validationmsg += "Certificate type required ε";
                        isvalid = false;
                    }

                    if ($('#Session_div').css('display') == 'block')
                    {
                        if ($('#SessionId').val() == "") {
                            validationmsg += "Session required ε";
                            isvalid = false;
                        }
                    }

                    if ($('#DocNo').val().trim() == "") {
                        validationmsg += "Document no. required ε";
                        isvalid = false;
                    }

                    if('@Model.IsCertificateBackdateAllowed' == 1){
                        if ($('#IssueDate').val() == "") {
                            validationmsg += "Issue date required ε";
                            isvalid = false;
                        }
                    }

                    return isvalid;
                }

            </script>
        }

        @* Grid *@
        <div class="row top-space-10">
            <div id="stuCertificate-grid"></div>
        </div>

        <script>
            //kendo grid for certificate issued view
            $(document).ready(function () {

                $("#stuCertificate-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SelectCertificateList", "Student"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalDataCertificate
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [{
                        field: "IssueDocId",
                        hidden: true
                    }, {
                        field: "SessionId",
                        hidden: true
                    }, {
                        field: "IssueDocType",
                        title: "Certificate Type",
                        width: "150px",
                        //template: "#= kendo.toString(kendo.parseDate(KendoIssueDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                        sortable: true,
                    }, {
                        field: "DocNo",
                        title: "Certificate No.",
                        width: "150px",
                        sortable: true,
                    }, {
                        field: "Session",
                        title: "Session",
                        width: "150px",
                        //template: "#= kendo.toString(kendo.parseDate(KendoIssueDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                        sortable: true,
                    }, {
                        field: "IssueDate",
                        title: "Issued Date",
                        width: "150px",
                        sortable: true,
                    }, {
                        field: "StudentAdmiNo",
                        hidden: true
                    }, {
                        field: "Class",
                        hidden: true
                    }, {
                        field: "StudentName",
                        hidden: true
                    }, {
                        field: "PayableAmount",
                        hidden: true
                    }, {
                        field: "PaidAmount",
                        hidden: true
                    }, {
                        field: "ReceiptTypeId",
                        hidden: true,
                    }, {
                        field: "ClassId",
                        hidden: true,
                    }, {
                        field: "IsTaxCertificate",
                        hidden: true,
                    }, {
                        field: "Charges",
                        hidden: true
                    }, {
                        field: "Receipt",
                         hidden: true,
                    },
                     @if (Model.IsEdit)
                     { <text>
                             {
                                 field: "IssueDocId",
                                 title: "Action",
                                 width: "150px",
                                 sortable: false,
                                 template:
                                 @if (Model.IsAdmin)
                          { <text>
                                    '#if(IsCertificateAllowedToDelte || !IsPrinted){# <a class="Delete_certificate btn btn-xs btn-default" data-id="#=IssueDocId#" title="Delete" ><i class="fa fa-trash" aria-hidden="true"></i></a>#}#'
                                    </text>}
                                 + '<a href="javascript:void(0);" title="Print" data-id="#=IssueDocId#" dataid2="#=IsFeeCertificate#" dataid1="#=StudentId#" class="clsStuprintdocument k-grid-print btn btn-xs btn-default"  ><i class="fa fa-print"></i></a>'
                             }
                        </text>}]
                });
            });

            var FeeCertificate = "";
            var StudentId = "";
            var sessionId = "";
            var ClassId = "";
            var detailType = "";
            var taxcertificate = "";
            var IssueDocId ="";


            $("#stuCertificate-grid").on("click", ".clsStuprintdocument", function (e) {
                var IssueDocId = $(this).attr('data-id');
                StudentId = $(this).attr('dataid1');
                var row = $(this).parent().parent();
                FeeCertificate = $(this).attr('dataid2');
                sessionId = row.find("td:nth-child(2)").text();
                ClassId = row.find("td:nth-child(13)").text();
                taxcertificate = row.find("td:nth-child(14)").text();


                $('#StuCertificate_Div').show();
                if ($('#IncludeHeader').prop('checked') == true)
                    $('#IncludeHeader').prop('checked', true);
                else
                    $('#IncludeHeader').prop('checked', false);


                if (FeeCertificate == "True" || FeeCertificate == "true") {
                    $("#StuCertificate_Div").find("#Detail_Div").show();
                    $("#StuCertificate_Div").find("input[id=Detail2]").prop("checked", true);
                }
                else {
                    $("#StuCertificate_Div").find("#Detail_Div").hide();
                }

                $('#IssueDocumentId').val(IssueDocId);
            });

            $("#StuCertificate_Print").click(function () {
                if (taxcertificate == "True" || taxcertificate == "true") {
                    if ($("#StuCertificate_Div").find("input[id=Detail1]").prop("checked"))
                        detailType = "With Detail";
                    else
                        detailType = "Without Detail";
                }
                else
                    detailType = "";

                var DocId = $("#IssueDocumentId").val();
                window.open("@Url.Action("PrintCertificate", "IssueDoc")?IssueDocId=" + DocId + "&StudentId=" + StudentId + "&ReceiptType=" + $('#ReceiptTypeId').val()
                                        + "&hasHeader=" + $('#IncludeHeader').prop('checked') + "&Session=" + sessionId + "&ClassId=" + ClassId
                                        + "&DetailType=" + detailType + "&IsFeeCertificate=" + FeeCertificate, '_blank');

                $('#StuCertificate_Div').hide();
            });


            $("#close_StuCertificate_Div").click(function () {
                $('#StuCertificate_Div').hide();
            });


            //delete certificate
            $("#stuCertificate-grid").on("click", ".Delete_certificate", function (e) {
                var IssueDocId = $(this).attr('data-id');
                $('#ks_loader').show();
                if(confirm("Are you sure want to delete this certificate")){
                    $.ajax({
                        type: "Post",
                        url: '@Html.Raw(Url.Action("DeleteCertificate", "Student"))',
                        data: { "IssueDocId": IssueDocId,},
                        success: function (result) {
                            if (result.status == "success")
                            {
                                ToastMessage(result.msg, "success", true, 5000);
                                window.location.reload();
                                $('#ks_loader').hide();
                            }
                            else
                            {
                                ToastMessage(result.msg, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        },
                        error: function (status, data) {
                            var err = "Error: " + " " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                else
                {
                    return false;
                    $('#ks_loader').hide();
                }
            });


            @*//edit certificate
            $("#stuCertificate-grid").on("click", ".Edit_certificate", function (e) {
                $('#issue_certificate').hide();
                $('#save_certificate').text("");
                $('#save_certificate').append('<i class="fa fa-floppy-o"></i> Update');
                $('#ks_loader').show();

                var IssueDocId = $(this).attr('data-id');

                $('#data_validation_div_Certificate').hide();
                $('#data_validation_div_Certificate ul').html("");
                $('#IssueDocTypeId').attr('disabled',true);
                $('#SessionId').attr('disabled',true);

                $.ajax({
                    type: "Post",
                    url: '@Html.Raw(Url.Action("EditCertificate", "Student"))',
                    data: { "IssueDocId": IssueDocId,},
                    success: function (result) {
                        if (result.status == "success") {
                            $('#IssueDocTypeId').val(result.model.IssueDocTypeId);
                            $('#IssueDate').val(result.model.IssueDate);
                            $('#SessionId').val(result.model.SessionId);
                            $('#DocNo').val(result.model.DocNo);
                            $('#IssueDocId').val(result.model.EncIssueDocId)
                            $('.create_certificate').show();

                            $('#ks_loader').hide();
                        }
                        else {
                            $('#data_validation_div_Certificate').show();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                $('#data_validation_div_Certificate ul').append("<li>" + validationaray[i] + "</li>");

                            $('#ks_loader').hide();
                        }
                    },
                    error: function (status, data) {
                        var err = "Error: " + " " + status + " " + data;
                        alert(err);
                        $('#ks_loader').hide();
                    }
                });
            });*@

            function onDataBound(arg) {
                $('[data-toggle="tooltip"]').tooltip();
            }

            function additionalDataCertificate() {
                var data = {
                    EncStudentId:"@Model.EncStudentId",
                };
                addAntiForgeryToken(data);
                return data;
            }

            addAntiForgeryToken = function (data) {
                data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                return data;
            };

        </script>
    </div>
</div>