﻿@model ViewModel.ViewModel.Student.StudentProfileModel

<ul class="nav nav-tabs">
    @if (Model.IsEdit && Model.IsAdmin)
    {
        <li><a href="@Html.Raw(Url.Action("StudentProfileEdit", "Student", new { id = Model.EncStudentId }))">Admission Form</a></li>
        <li><a href="@Html.Raw(Url.Action("StudentOtherDetail", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Health Detail</a></li>
        <li><a href="@Html.Raw(Url.Action("StudentIssueDocs", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Certificates</a></li>
        <li><a href="@Html.Raw(Url.Action("StudentActivities", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Student Activities</a></li>
        @*if (Model.FeeCheck)
        {
            <li><a href="@Html.Raw(Url.Action("StudentFeeAddOns", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Fee AddOns</a></li>
        }*@
        <li class="active"><a href="@Html.Raw(Url.Action("StudentFacilityDetails", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Student Facility Details</a></li>
    }
</ul>

<div class="tab-content">
    <div id="stdFacility" class="tab-pane fade in active">

        @if (Model.IsEdit)
        {
            if (Model.IsAdmin)
            {
                <div class="row top-space-10">
                    <div class="col-md-12" id="BtnaddnewStudentFacilitydetail">
                        <input type="button" id="Add_StudentFacilitydetail" value="Add New" class="btn btn-xs btn-default pull-right" />
                    </div>
                </div>
            }

            @*hidden fields*@
            @Html.HiddenFor(m => m.StudentFacilityDetails.StudentFacilityDetailId, new { @id = "StudentFacilityDetailId" })
            <input id="editclick" name="rowindex" type="hidden" value="0" />
            <input id="rowindex_StudentFacilityDetail" name="rowindex" type="hidden" value="" />
            <form class="form-horizontal ks-custom-form">
                <div class="create_StudentFacilityDetail" style="margin-top: 0;margin-bottom: 10px;display :none">
                    <div class="row">
                        <!-- Form Coulmn -->
                        <div class="col-md-2 ">
                            <label class=" control-label">Facility <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <div class="">
                                @Html.DropDownListFor(m => m.StudentFacilityDetails.FacilityId, Model.AvailableFacilities, new { @class = "form-control", @id = "FacilityId", @style = "display:block" })
                            </div><!-- Form Field -->
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2 ">
                            <div class="">
                                <label class="control-label">Amount (<i class="fa @Model.CurrencyIcon"></i>)<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                                @Html.TextBoxFor(m => m.StudentFacilityDetails.Amount, "", new { @id = "Amount", maxlength = "8", @class = "form-control Amount" })
                            </div>
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2">
                            <div class=" ">
                                <label class=" control-label">Effective Date<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                                @Html.TextBoxFor(m => m.StudentFacilityDetails.EffectiveDate, "", new { @id = "EffectiveDate", @class = "" })
                            </div>
                        </div>
                        <!-- Form Coulmn -->

                    </div>

                    <div class="row top-space-10">

                        <!-- //Form Coulmn -->
                        <!-- //Form Coulmn -->
                        <div class="col-md-3 ">
                            <label class=" control-label"></label>
                            <button type="button" class="btn btn-success" id="save_StudentFacilityDetail" style="margin-top:16px">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-danger" id="Close_StudentFacilityDetail" style="margin-top:16px">
                                <i class="fa fa-ban"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- close dates blocks -->
    <div class="view_dialog_box " id="View_CloseStudentFacilityBox" hidden>
        <div style="width:100%; height:25px; float:left;">
            <font style="float:left; padding:2px 10px;">
                <b>Close Student Facility Detail</b>
            </font>
            <a class="text-danger" href="javascript:void(0);" id="close_ViewBox">
                <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
            </a>
        </div>
        <div class="row top-space-10">
            <div class="col-md-12">
                <label class="control-label col-md-3">Close Date</label>
                <div class="col-md-6">
                    @Html.TextBox("EndDate", null, new { @class = "" })
                </div>
            </div>
            <div class="col-md-12 top-space-10" style="margin-bottom: 10px;">
                <label class="col-md-3"></label>
                <div class="col-md-3">
                    <button type="button" id="save_StudentFacilityDetailBox" class="btn btn-success">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
            <!-- Extend and close dates blocks -->


        }

        @*table for displaying Student Fee Add ons*@
        <div class="row  top-space-10">
            <div class="col-md-12">
                <table id="studentfacilitydetails_grid" class="table table-bordered table-responsive">
                    <thead class="thead-default">
                        <tr>
                            <th style="width: 18%">Facility</th>
                            <th style="width: 18%">Facility Charges</th>
                            <th style="width: 10%">Effective Date</th>
                            <th style="width: 7%">End Date</th>
                            @if (Model.IsAdmin && Model.IsEdit)
                            {
                                <th style="width: 5%">Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.StudentFacilityDetailList.Count > 0)
                        {
                            foreach (var item in Model.StudentFacilityDetailList)
                            {
                                <tr>
                                    <td class="facilityId_grid" style="display:none">@item.FacilityId</td>
                                    <td class="facilitydetailsId_grid" style="display:none">@item.StudentFacilityDetailId</td>

                                    <td class="">@item.Facility</td>
                                    <td class="Amount_grid"><i class="fa @Model.CurrencyIcon"></i>@item.Amount</td>
                                    <td class="EffectiveDate_grid">@item.EffectiveDate</td>
                                    <td class="EndDate_grid">@item.EndDate</td>
                                    <td class="text-center">
                                        @if (Model.IsAdmin && Model.IsEdit)
                                        {
                                            if (@item.EndDate == "")
                                            {
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" class="Edit_StudentfacilityDetail btn btn-xs btn-default" title="Edit AddOn"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" class="Delete_StudentfacilityDetail btn btn-xs btn-default" title="Delete AddOn"><i class="fa fa-trash"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" class="Close_StudentfacilityDetail btn btn-xs btn-default" title="Close AddOn"><i class="fa fa-ban"></i></a>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-center" colspan="7">No Data found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        // dialog box
        $('#close_ViewBox').click(function () {
            $('#View_CloseStudentFacilityBox').hide(800);
            $('#StudentFacilityDetailId').val('');
        });
        $('.Close_StudentfacilityDetail').click(function () {
            var row = $(this).parent().parent();

            var Date = row.find('.EffectiveDate_grid').text();
            //$("#EndDate").kendoDatePicker({
            //    min: Date,
            //    format: "dd/MM/yyyy",


                


            //});

            //$("#EndDate").attr("readonly", true);
            $('#View_CloseStudentFacilityBox').show(800);

            $('#StudentFacilityDetailId').val(row.find('.facilitydetailsId_grid').text())
        })
        $('#save_StudentFacilityDetailBox').click(function () {

            var studentfacilitydetailId = $('#StudentFacilityDetailId').val();
            var EndDate = $('#EndDate').val();
            if (studentfacilitydetailId > 0) {
                if (EndDate != null){
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CloseStudentFacilityDetail", "Student"))',
                    data: { "studentfacilitydetailId": studentfacilitydetailId, "EndDate": EndDate },
                    success: function (result) {

                        if (result.status == "success") {
                            alert("Facility Detail Updated Successfully");
                            window.location.reload();
                            $('#ks_loader').hide();
                        } else if (result.status == "failed") {
                            ToastMessage(result.data, "error", true, 5000);
                        }
                        else {
                            if (result.msg == "NotValid") {
                                var validationmsg = "";
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++) {
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                }
                            }

                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
                } else {
                    ToastMessage("End Date Required", "error", true, 5000);
                }
            }
        })

        $('[data-toggle="tooltip"]').tooltip();

        $('#Add_StudentFacilitydetail').click(function () {

            $('.create_StudentFacilityDetail').css('display', 'block');
        })
        $('#Close_StudentFacilityDetail').click(function () {

            $('.create_StudentFacilityDetail').css('display', 'none');

            $('#StudentFacilityDetailId').val('');
            $('#FacilityId').val('');
            $('#Amount').val('');
            $('#EffectiveDate').val('');
        })
        if (!'@Model.IsStudentFacilityforpastDateAllowed') {

            var pastDate = new Date();

        }
        $("#EffectiveDate,#EndDate").kendoDatePicker({
            format: "dd/MM/yyyy",


            min: pastDate


        });
        
        $("#EffectiveDate,#EndDate").attr("readonly", true);

        $('#FacilityId').change(function () {
            var facility = $(this).val();
            if (facility > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetStudentFacilityAmount", "Student"))',
                    data: { "FacilityId": facility, "StudentId": '@Model.EncStudentId' },
                    success: function (result) {

                        if (result.status == "success") {
                            $('#Amount').val(result.amount);
                            $('#ks_loader').hide();
                        }
                        else {
                            if (result.msg == "NotValid") {
                                var validationmsg = "";
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++) {
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                }
                            }

                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }

        })
        var validationmsg = "";
        var isvalid = true;
        function FormValidation() {
            validationmsg = "";
            isvalid = true;


            if ($('#FacilityId').val() == "") {
                validationmsg += "Facility required ε";
                isvalid = false;
            }


            if ($('#Amount').val() == "") {
                validationmsg += "Amount required ε";
                isvalid = false;
            }
            if ($('#EffectiveDate').val() == "") {
                validationmsg += "Effective date required ε";
                isvalid = false;
            }

            return isvalid;
        }
        $('#save_StudentFacilityDetail').click(function () {

            var StudentFacilityDetails = new Object();

            var valid = FormValidation();

            StudentFacilityDetails.StudentFacilityDetailId = $('#StudentFacilityDetailId').val();

            StudentFacilityDetails.EncStudentId = '@Model.EncStudentId';

            StudentFacilityDetails.FacilityId = $('#FacilityId').val();

            StudentFacilityDetails.Amount = $('#Amount').val();

            StudentFacilityDetails.EffectiveDate = $('#EffectiveDate').val();
            if (valid) {
                if (StudentFacilityDetails.FacilityId > 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("SaveStudentFacilityDetail", "Student"))',
                        data: StudentFacilityDetails,
                        success: function (result) {

                            if (result.status == "success") {
                                alert(result.data);
                                window.location.reload();
                                $('#ks_loader').hide();
                            }
                            else if (result.status == "failed") {
                                ToastMessage(result.data, "error", true, 5000);
                            }
                            else {
                                if (result.msg == "NotValid") {
                                    var validationmsg = "";
                                    var validationaray = result.data.split('ε');
                                    for (var i = 0; i < validationaray.length - 1; i++) {
                                        ToastMessage(validationaray[i], "error", true, 5000);
                                    }
                                }

                                $('#ks_loader').hide();
                            }
                        },
                        error: function (xhr, status, p3) {
                            var err = "Error: " + " " + p3;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                } else {
                    ToastMessage("Facility required", "error", true, 5000);
                }
            }
            else {
                var validationaray = validationmsg.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                $('#ks_loader').hide();
            }
        })

    });

    $('.Edit_StudentfacilityDetail').click(function () {

        var row = $(this).parent().parent();
        $('.create_StudentFacilityDetail').css('display', 'block');
        $('#FacilityId').val(row.find('.facilityId_grid').text())
        $('#StudentFacilityDetailId').val(row.find('.facilitydetailsId_grid').text())
        $('#Amount').val(row.find('.Amount_grid').text())
        $('#EffectiveDate').val(row.find('.EffectiveDate_grid').text())
        

    })

    $('.Delete_StudentfacilityDetail').click(function () {
        var row = $(this).parent().parent();
        var studentfacilitydetailId = row.find('.facilitydetailsId_grid').text();
        if (studentfacilitydetailId > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteStudentFacilityDetail", "Student"))',
                data: { "studentfacilitydetailId": studentfacilitydetailId },
                success: function (result) {

                    if (result.status == "success") {
                        alert("Facility Detail Deleted Successfully");
                        window.location.reload();
                        $('#ks_loader').hide();
                    }
                    else {
                        if (result.msg == "NotValid") {
                            var validationmsg = "";
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                        }

                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    })
</script>
