﻿@model ViewModel.ViewModel.Session.SessionAdmissionOpeningModel

<div id="addnew_div" class="row" hidden>
    @Html.Hidden("AdmnOpeningDate")
    @Html.Hidden("AdmnClosingDate")
    @Html.Hidden("UpStandardId")
    @Html.Hidden("SessionAdmnDetId")

    <div class="col-md-12">
        <div class="col-md-2" id="StandardDropdown_div">
            <label>Standard</label>
            @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandards, new { @class = "form-control",@style="width: 100%" })
        </div>
        <div class="col-md-2" id="StandardLabel_div" hidden>
            <label>Standard</label>
            <label class="label-as-control" id="StandardLabel"></label>
        </div>
        <div class="col-md-2">
            <label>Effective Date</label>
            @Html.TextBoxFor(model => model.AdmnOpenDate, new { @class = "" })
        </div>
        <div class="col-md-2">
            <label>End Date</label>
            @Html.TextBoxFor(model => model.AdmnCloseDate, new { @class = "" })
        </div>
        <div class="col-md-2">
            <label>Seats</label>
            @Html.TextBoxFor(model => model.Seats, new { @class = "form-control",@maxlength="3" })
        </div>

            <div class="col-md-3" style="margin-top: 20px">
                <button type="button" name="save" class="btn btn-success" id="addnew_sessionadmnclass">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
                <button type="button" name="cancel" class="btn btn-danger" id="cancel_sessionadmnclass">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
            </div>
    </div>
</div>

<div class="row top-space-10">
    <div class="col-md-12">
        <table id="grid" class="table table-condensed table-responsive table-striped">
            <thead class="thead-default">
                <tr>
                    <th class="col-md-2">Standard</th>
                    <th class="col-md-2">Opening Date</th>
                    <th class="col-md-2">Closing Date</th>
                    <th class="col-md-2 text-center">Seats</th>
                    <th class="col-md-2 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.SessionAdmissionStandardDetList.Count > 0)
                    {
                        foreach (var item in Model.SessionAdmissionStandardDetList)
                        {
                            <tr>
                                <td class="cls-SessAdmnStd" style="display: none">@item.SessionAdmnDetId</td>
                                <td class="cls-Std" style="display: none">@item.StandardId</td>
                                <td>@item.Standard</td>
                                <td>@item.OpeningDate</td>
                                <td>@item.ClosingDate</td>
                                <td class="text-center">@item.Seats</td>
                                <td class="text-center">
                                    @if (item.IsEditable)
                                    {
                                        <a href="javascript:void(0)" class="clsupdateds btn btn-xs btn-default" title="Edit" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil"></i></a>
                                    }
                                    @if (item.IsDeleteable)
                                    {
                                        <a href="javascript:void(0)" class="clsdeleteds btn btn-xs btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i></a>
                                    }
                                    @if (!item.IsEditable && !item.IsDeleteable)
                                    {
                                        <p>NA</p>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="5">
                                No data found
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    // Dates
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
    $("#AdmnOpenDate,#AdmnCloseDate").kendoDatePicker({
        value: "",
        format: "dd/MM/yyyy"
    });

    $("#AdmnOpenDate,#AdmnCloseDate").attr("readonly", true);

    $("#Seats").keydown(function (e) {
        NumericOnly(e);
    });

    $("#btn_AddNew").click(function () {
        $("#AdmnOpenDate,#AdmnCloseDate").attr("readonly", false);

        $("#AdmnOpenDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            Value: "@Model.AdmnOpenDate"
        });

        $("#AdmnCloseDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            Value: "@Model.AdmnCloseDate"
        });

        $("#AdmnOpenDate,#AdmnCloseDate").attr("readonly", true);

        $("#StandardDropdown_div").show();
        $("#StandardLabel_div").hide();
        $("#StandardLabel").text("");
        $("#addnew_div").show();
    });

    $("#cancel_sessionadmnclass").click(function () {
        $("#StandardId").val($("#StandardId option:first").val());
        $("#Seats").val("");
        $("#addnew_div").hide();
        $('#btn_AddNew').show();
    });

    $('#addnew_sessionadmnclass').click(function () {
        $('#ks_loader').show();
        var IsFormValidate = Validate();
        if (IsFormValidate) {
            var PromotionStudentListobj = new Object();
            PromotionStudentListobj = new Object();
            var openingdate = $("#AdmnOpenDate").val();
            var closingdate = $("#AdmnCloseDate").val();

            PromotionStudentListobj.SessionAdmnDetailId = $('#SessionAdmnDetId').val();
            PromotionStudentListobj.StandardId = $('#StandardId').val();
            PromotionStudentListobj.AdmnOpeningDate = GetDateFromString(openingdate);
            PromotionStudentListobj.AdmnClosingDate = GetDateFromString(closingdate);
            PromotionStudentListobj.SessionId = "@Model.SessionId";
            PromotionStudentListobj.Seats = $('#Seats').val();

            // ajax call for save data
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("AdmnOpening", "Student"))',
                data: PromotionStudentListobj,
                success: function (result) {
                    if (result.status == "success") {
                        $('#ks_loader').hide();
                        window.location.reload();
                    }
                    else if (result.status == "failed") {
                        $('#ks_loader').hide();
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            $('#ks_loader').hide();
            var validationaray = validationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $(ctrlfocus).focus();
            return false;
        }
    });

    $(document).on("click", ".clsupdateds", function () {
        $("#AdmnOpenDate,#AdmnCloseDate").attr("readonly", false);
        $('#btn_AddNew').hide();
        $('#ks_loader').show();

        $("#StandardDropdown_div").hide();
        $("#StandardLabel_div").show();

        $("#addnew_div").show();
        $("#UpStandardId").val('');

        var row = $(this).parent().parent();
        
        $("#SessionAdmnDetId").val(row.find('.cls-SessAdmnStd').text());
        $("#UpStandardId").val(row.find('.cls-Std').text());
        $("#StandardLabel").text(row.find('td:nth-child(3)').text());
        $("#AdmnOpenDate").val(row.find('td:nth-child(4)').text())
        $("#AdmnCloseDate").val(row.find('td:nth-child(5)').text())
        $("#Seats").val(row.find('td:nth-child(6)').text());
        ScrollToTop();
        $('#ks_loader').hide();
        $("#AdmnOpenDate,#AdmnCloseDate").attr("readonly", true);
    });

    $(document).on("click", ".clsdeleteds", function () {
        if (confirm("Are you sure to delete this record ? Press Ok to continue.") == true) {
            $('#ks_loader').show();
            var row = $(this).parent().parent();
            var SessionAdmnDetId = row.find('.cls-SessAdmnStd').text();

            // ajax call for save data
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteAdmnOpeningStandard", "Student"))',
                data: { "SesAdmnDetI": SessionAdmnDetId },
                success: function (result) {
                    if (result.status == "success") {
                        $('#ks_loader').hide();
                        window.location.reload();
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error :" + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

    var valid = true;
    var validationmessage = "";
    var ctrlfocus = "";
    function Validate() {
        valid = true;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#StandardDropdown_div:visible').length == 1) {
            if ($('#StandardId').val() == "") {
                if (ctrlfocus == "")
                    ctrlfocus = "#StandardId";
                validationmessage = validationmessage + "Standard required ε";
                valid = false;
            }
        }

        if ($('#AdmnOpenDate').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#AdmnOpenDate";
            validationmessage = validationmessage + "Opening Date required ε";
            valid = false;
        }

        if ($('#AdmnCloseDate').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#AdmnCloseDate";
            validationmessage = validationmessage + "Closing Date required ε";
            valid = false;
        }

        if ($('#Seats').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#Seats";
            validationmessage = validationmessage + "Seats required ε";
            valid = false;
        }

        return valid;
    }

    // function get date as string and return date
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

</script>