﻿@model ViewModel.ViewModel.Student.StudentModel
@{
    var counter = 0;
    string Host = Request.Url.AbsolutePath;
    Host = Host.Split('/')[1];
    if (Request.Url.AbsoluteUri.Contains("localhost"))
    {
        Host = "";
    }

}
<style>
    #results {
        float: right;
        margin: 20px;
        padding: 20px;
    }
</style>

<div class="row">
    <div id="dvContainer" style="width:100%;"></div>
    <div class="col-md-12">
        @if (Model.StepList.Count > 0)
        {
            counter = 0;
        <!-- Step -->
            foreach (var item in Model.StepList)
            {
                counter = ++counter;
                <div class="registration-steps">
                    @if (counter != Model.StepList.Count)
                    {
            <!-- pointer arrow -->
                        <div class="step-pointer">
                            <div class="pointer-border"></div>
                            <div class="pointer-arrow">
                                <i class="fa fa-caret-right"></i>
                            </div>
                        </div>
            <!-- //pointer arrow -->
                    }
                    @if (item.StepMode == "Pending")
                    {
                        <div data-attr="pending-step" class="number pending-step">@item.StepNo</div>
                    }
                    @if (item.StepMode == "Completed")
                    {
                        <div data-attr="completed-step" class="number completed-step">@item.StepNo</div>
                    }
                    @if (item.StepMode == "Current")
                    {
                        <div data-attr="current-step" class="number current-step">@item.StepNo</div>
                    }
                    <div class="step-information">@item.StepInfo</div>
                </div>
            }
        <!-- //Step -->
            <div class="clearfix"></div>
        }
    </div>
</div>
@using (Html.BeginForm("CreatePdf", "Common", FormMethod.Post))
{
    @Html.HiddenFor(m => m.htmldata)
    <input type="submit" id="triggerpdfstudentreg" title="Download Pdf" class="btn btn-xs pull-right btn-default" value="download" style="display:none" />
}

@using (Html.BeginForm("Create", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.EncStudentPhoneContactInfoId, new { @id = "StudentPhoneContactInfoId" })
    @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
    @Html.HiddenFor(model => model.EncStudentContactInfoId, new { @id = "StudentContactInfoId" })
    @Html.HiddenFor(model => model.EncStudentImageId, new { @id = "StudentImageId" })
    @Html.HiddenFor(model => model.DOB)
    @Html.HiddenFor(model => model.DOJ)
    @Html.HiddenFor(model => model.DOR)
    @Html.HiddenFor(model => model.AdmnDate)
    @Html.HiddenFor(model => model.InfoUpdated)
      @Html.HiddenFor(model => model.IsLite)
    <!-- Form Row -->
    <div class="row">
        <!-- Form Coulmn -->
        <div class="form-group text-center" style="margin-bottom: 5px;">
            <div class="col-md-12">
                @if (@Model.IsLite)
                {
                    <label hidden id="lbl-exist">@Html.RadioButtonFor(model => model.Formtype, 3, new { @Id = "Existing", @autofocus = "on" }) Existing Student</label>
                }
                else
                {
                    <label id="lbl-reg">@Html.RadioButtonFor(model => model.Formtype, 1, new { @Id = "Registration", @autofocus = "on" }) Registration</label>
                    <label id="lbl-admn">@Html.RadioButtonFor(model => model.Formtype, 2, new { @Id = "Admission" }) Direct Admission</label>
                    <label id="lbl-exist">@Html.RadioButtonFor(model => model.Formtype, 3, new { @Id = "Existing" }) Existing Student</label>
                }
            </div><!-- Form Field -->				                                <!-- Error Message -->
        </div>
        <!-- //Form Coulmn -->
    </div>
    <hr style="margin-top: 0;margin-bottom: 5px;" />
    <!-- Form Row -->

    <div id="Basic Detail" hidden>
        <fieldset>
            <legend>Basic Detail</legend>
            @Html.Partial("_StudentInfo", Model)
            @if (Model.StudentId > 0)
            {
                if (Model.RegistrationFeePaid)
                {
                    <button type="button" id="Skip-Info" class="btn btn-default pull-right btn-xs">
                        <i class="fa fa-step-forward"></i>
                        Next
                    </button>}
                @*<button onload="window.print()" type="button" id="print-reg" class="btn btn-default pull-right btn-xs">
                Print
            </button>*@
                <a href="javascript:void(0)" title="Print Slip" id="printstudentreg" onclick="PrintResult()" class="btn btn-xs pull-right btn-default"><i class="fa fa-print"></i></a>

                <button type="button" id="pdfstudentreg" title="Download Pdf" class="btn btn-xs pull-right btn-default" value="download"><i class="fa fa-file-pdf-o"></i></button>

            }
            <button type="submit" name="save" id="save_studentinfo" class="btn btn-default btn-xs pull-right">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <a type="button" href="@Url.Content("~/Fee/FeeReceipt?id="+Model.StudentId+"&cs=" + Model.refurl + "&ssid="+@Model.SessionId)" id="Pay_StudentBroucherFee" class="btn btn-default btn-xs pull-right">
             
                Pay Broucher Fee
            </a>

        </fieldset>
    </div>
    @*<div id="DivToPrint">
            <div class="container main-container">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Session:</label><!-- Form Label -->
                        <div class="col-md-8" id="RegistrationNo">
                        </div><!-- Form Field -->
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Registration No.:</label><!-- Form Label -->
                        <div class="col-md-8" id="StudentName">
                        </div><!-- Form Field -->
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Standard:</label><!-- Form Label -->
                        <div class="col-md-8" id="AadharCard">
                        </div><!-- Form Field -->
                    </div>

                </div>

                <div class="row top-space-10">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">First Name:</label><!-- Form Label -->
                        <div class="col-md-8" id="DOB">
                        </div><!-- Form Field -->
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Last Name:</label><!-- Form Label -->
                        <div class="col-md-8" id="DOJ">
                        </div><!-- Form Field -->
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Aadhaar No.:</label><!-- Form Label -->
                        <div class="col-md-8" id="Email">
                        </div><!-- Form Field -->
                    </div>

                </div>

                <div class="row top-space-10">
                    <div class=" col-md-4">
                        <label class="col-md-4 control-label">DOB:</label><!-- Form Label -->
                        <div class="col-md-8" id="MobileNo">
                        </div><!-- Form Field -->
                    </div>
                    <div class=" col-md-4">
                        <label class="col-md-4 control-label">Email:</label><!-- Form Label -->
                        <div class="col-md-8" id="Gender">
                        </div><!-- Form Field -->
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Mobile No:</label><!-- Form Label -->
                        <div class="col-md-8" id="Category">
                        </div><!-- Form Field -->
                    </div>
                </div>

            </div>
        </div>*@


    <script>

    @if (Model.Formtype == 1)
{
        <text>
        $('#Registration').prop('checked', true);
        </text>
    }
    else if (Model.Formtype == 2) {
        <text>
        $('#Admission').prop('checked', true);
        $("#dor").css('display', 'none');

        </text>
         if (!Model.IsSetAdmissionNoAfterFeePaid) {
             <text>
        $('#std-admission').css('display', 'block');
        </text>
            } else {
                <text>
        $('#std-admission').css('display', 'none');
        </text>
        }
}
     else if (Model.Formtype == 3) {
        <text>
        $('#Existing').prop('checked', true);
        $(".existing").css('display', 'block');
        $("#dor").css('display', 'none');
        </text>
}
         @if (Model.IsLite)
         {
             <text>
               $('#Existing').prop('checked', true);
             $(".existing").css('display', 'block');
             $("#dor").css('display', 'none');
             </text>
         }
        @if(Model.StudentId > 0)
{
@*if (Model.Formtype == 1)
        {
<text>
        $('#lbl-admn').css('display', "none");
        </text>
}
        else {
<text>
                $('#lbl-reg').css('display', "none");
        </text>
        }*@

      <text>
        $('#lbl-admn').css('display', "none");
        $('#lbl-reg').css('display', "none");
        $('#lbl-exist').css('display', "none");
        $('#SessionId').removeClass('drop-down');
        $('#RegNo').prop('readonly', true);
        $('#AdmnNo').prop('readonly', true);
        $('#SessionId').attr('disabled', true);
        </text>

if (Model.IsStandardIdEditable == 0)
{
<text>
        $('#StandardId').removeClass('drop-down');
        $('#StandardId').attr('disabled', true);
        </text>
            }
            else if(!Model.feeReceipthasentry)
            {
                <text>
                $('#SessionId').removeAttr('disabled');
                </text>
            }
           
        }
        else
        {
<text>

        $("[id='Basic Detail']").show();
        $(".registration-steps:not(:first)").attr("disabled", true);
        if ('@ViewBag.SeriesEditable' == "1") {
            $('#RegNo').prop('readonly', false);
            $('#AdmnNo').prop('readonly', false);
        }
        else {
            $('#RegNo').prop('readonly', true);
            $('#AdmnNo').prop('readonly', true);
        }
        </text>
}
        $("#StandardId").change(function () {
            if ($("#StandardId").val() == "") {
                $("#StudentInfo").attr("disabled", "disabled");
                $('#DateofBirth').data('kendoDatePicker').enable(false);
                $('#DateofJoining').data('kendoDatePicker').enable(false);
            }
            else {
                $("#StudentInfo").prop("disabled", false);
                $('#DateofBirth').data('kendoDatePicker').enable(true);
                $('#DateofJoining').data('kendoDatePicker').enable(true);
            }
        })
        //$('#SessionId option:eq(1)').attr('selected', 'selected');

        if ($('#Registration').prop('checked') == true) {
            $('.std-admission').hide();
            $('.std-registration').show();
            $('input[type=radio][name=Formtype]').val(1);
        }
        else if ($('#Admission').prop('checked') == true) {

            $('.std-admission').show();
            $('.std-registration').hide();
            $('input[type=radio][name=Formtype]').val(2);
        }
        else if ($('#Existing').prop('checked') == true) {
            $('.std-admission').show();
            $("#doj").show();
            $('.std-registration').hide();
            $('input[type=radio][name=Formtype]').val(3);
        }

        $('#Registration').click(function () {
            if ($('#Registration').prop('checked') == true) {
                $('.std-admission').hide();
                $('.std-registration').show();
                $("#doj").hide();
                $('.existing').hide();
                $('input[type=radio][name=Formtype]').val(1);
                $('#dor').show();
            }
            else {
                $('.std-admission').show();
                $('.std-registration').hide();
            }
        });

        $('#DateofBirth').bind('keyup', 'keydown', function (event) {
            var inputLength = event.target.value.length;
            if (event.keyCode != 8) {
                if (inputLength === 2 || inputLength === 5) {
                    var thisVal = event.target.value;
                    thisVal += '/';
                    $(event.target).val(thisVal);
                }
            }
        })

        $('#Admission').click(function () {
            if ($('#Admission').prop('checked') == true) {
                @if (!Model.IsSetAdmissionNoAfterFeePaid)
                {
                    <text>
                $('.std-admission').show();
                $('#doj').show();

                </text>
                }
                else
                {
                    <text>
                $('.std-admission').hide();
                $('#doj').hide();
                </text>
                }
                $('.std-registration').hide();
                //$("#doj").show();
                $('.existing').hide();
                $('input[type=radio][name=Formtype]').val(2);
                $('#dor').hide();
            }
            else {
                $('.std-admission').hide();
                $('.std-registration').show();
            }
        });

        $('#Existing').click(function () {
            if ($('#Existing').prop('checked') == true) {
                $('.std-admission').show();
                $('.std-registration').hide();
                $("#dor").hide();
                $("#doj").show();
                $('.existing').show();
                $('input[type=radio][name=Formtype]').val(3);
            }
            else {
                $('.std-admission').hide();
                $('.std-registration').show();
            }
        });

        $('#OpenSession').click(function () {
            $('#Session-popup-div').show();
        });

        $('#save_studentinfo').click(function () {

            $('#Session_id').val($('#SessionId').val());
            $("#InfoUpdated").val($(this).parent().parent().attr('id'));
            window.onbeforeunload = null;
            if ($("#DateofBirth").val() != "") {
                var DOB = GetDateFromString($("#DateofBirth").val());
                $("#DOB").val(DOB);
            }
            if ($("#DateofJoining").val() != "") {
                var DOJ = GetDateFromString($("#DateofJoining").val());
                $("#DOJ").val(DOJ);
                $("#AdmnDate").val(DOJ);

            }
            if ($("#DateOfRegd").val() != "") {
                var DOR = GetDateFromString($("#DateOfRegd").val());
                $("#DOR").val(DOR);
            }
            if ($('#AdmnNo').val() != null) {
                if ($('#Registration').prop("checked") == true) {
                    $('#AdmnNo').val($('#RegNo').val());
                } else {
                    $('#RegNo').val($('#AdmnNo').val());
                }
            }
            if ($("#IsStaffChild").prop('checked') == true) {
                if ($("#ParentStaffId").val() == null || $("#ParentStaffId").val() == "") {
                    alert("Staff Is Required");
                    return false;
                }
            }
        });

    </script>
}

<div id="Address" hidden>
    @using (Html.BeginForm("Address", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
        @Html.HiddenFor(model => model.FName)
        @Html.HiddenFor(model => model.LName)
        @Html.HiddenFor(model => model.AddressModel.AddressUpdated)
        <fieldset>
            <legend>Student Address</legend>
            @Html.Partial("_address", Model.AddressModel, new ViewDataDictionary(ViewData) { { "Column", 1 }, { "Prefix", "Student" } })
            <button type="button" class="btn btn-default pull-right btn-xs Next">
                <i class="fa fa-step-forward"></i>
                Next
            </button>
        </fieldset>
    <!-- Form Row -->
    }
</div>
<div id="Parents Detail" hidden>
    @using (Html.BeginForm("Guardian", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
        @Html.HiddenFor(model => model.FName)
        @Html.HiddenFor(model => model.LName)
        @Html.HiddenFor(model => model.GuardianUpdated)
        <fieldset>
            <legend>Parents Detail</legend>
            @Html.Partial("_CustodyRightInfo", Model)
            @Html.Partial("_StudentGuardianInfo", Model)
            <span class="text-danger" id="parent-grid-error"></span>
            <button type="button" class="btn btn-default pull-right btn-xs Next">
                <i class="fa fa-step-forward"></i>
                Next
            </button>
        </fieldset>
    }
</div>

<div id="Previous Institute" hidden>

    @using (Html.BeginForm("PrvSchool", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
        @Html.HiddenFor(model => model.PreviousSchoolModel.PrvSchoolId)
        @Html.HiddenFor(model => model.FName)
        @Html.HiddenFor(model => model.LName)
        @Html.HiddenFor(model => model.PrvSchoolUpdated)
        <fieldset>
            <legend>Previous Institute</legend>
            @Html.Partial("_PrvSchool", Model, new ViewDataDictionary(ViewData))
            <button type="button" class="btn btn-default pull-right btn-xs Next">
                <i class="fa fa-step-forward"></i>
                Next
            </button>
            <button id="prvSchool-Detail" type="submit" name="save" class="btn btn-default pull-right btn-xs">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>

        </fieldset>

    }
    <script>
        $("#prvSchool-Detail").click(function () {
            $("#PrvSchoolUpdated").val($(this).parent().parent().parent().attr('id'));
        })
    </script>
</div>

<div id="Sibling Detail" hidden>

    @using (Html.BeginForm("Sibling", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
        @Html.HiddenFor(model => model.StudentId);
        @Html.HiddenFor(model => model.FName)
        @Html.HiddenFor(model => model.LName)
        @Html.HiddenFor(model => model.SiblingInfoModel.EncSiblinginfoId)
        @Html.HiddenFor(model => model.SiblingUpdated)
        <fieldset>
            <legend>Sibling Detail</legend>
            @Html.Partial("_SiblingInfo", Model)
            <span class="text-danger" id="sibling-grid-error"></span>
            <button type="button" id="Skip-Sibling" class="btn btn-default pull-right btn-xs Next">
                <i class="fa fa-step-forward"></i>
                Next
            </button>
        </fieldset>
    }
</div>

<div id="Transport Detail" hidden>

    @using (Html.BeginForm("TransportFacility", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
        @Html.HiddenFor(model => model.FName)
        @Html.HiddenFor(model => model.LName)
        <fieldset>
            <legend>Transport Detail</legend>
            @Html.Partial("_TransportFacility", Model, new ViewDataDictionary { { "Prefix", "Student" }})
            <button type="button" class="btn btn-default pull-right btn-xs Next">
                <i class="fa fa-step-forward"></i>
                Next
            </button>
        </fieldset>

        <script>

            $('.Submit-Tptfacility').click(function () {
                $('#ks_loader').show();
                var tptvalid = CheckValidTptFacility();
                if (tptvalid) {
                    var effectivedate = GetDateFromString($("#TransportFacility_EffDate").val());
                    $("#TransportFacility_EffectiveDate").val(effectivedate);

                    var TptFacilityObj = new Object();
                    TptFacilityObj.TptFacilityId = $('#TransportFacility_TptFacilityId').val();
                    TptFacilityObj.BoardingPointId = $('#TransportFacility_BoardingPointId').val();
                    TptFacilityObj.TptTypeDetailId = $('#TransportFacility_TptTypeDetailId').val();
                    TptFacilityObj.BusRouteId = $('#TransportFacility_BusRouteId').val();
                    TptFacilityObj.TptTypeId = $('#TransportFacility_TptTypeId').val();
                    TptFacilityObj.VehicleTypeId = $('#TransportFacility_VehicleTypeId').val();
                    TptFacilityObj.VehicleNo = $('#TransportFacility_VehicleNo').val();
                    TptFacilityObj.ParkingRequired = $('#TransportFacility_ParkingRequired').val();
                    TptFacilityObj.EffectiveDate = $('#TransportFacility_EffectiveDate').val();
                    TptFacilityObj.EffectiveDate = $('#TransportFacility_EffectiveDate').val();
                    TptFacilityObj.TransportUpdated = $(this).parent().parent().parent().parent().parent().attr('id');
                    TptFacilityObj.DropBoardingPointId = $('#TransportFacility_DropBoardingPointId').val();
                    TptFacilityObj.DropRouteId = $('#TransportFacility_DropRouteId').val();
                    TptFacilityObj.Ownershipid = $('#TransportFacility_Ownershipid').val();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("TransportFacility", "Student"))',
                        data: { "model": TptFacilityObj, "EncStdIK": "@Model.EncStudentId" },
                        success: function (result) {
                            if (result.status == "success") {
                                ToastMessage("Added successfully", "success", true, 5000);
                                window.onbeforeunload = null;
                                window.location.reload();
                            }
                            else {
                                $('#tptfac_contols').show();
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        },
                        error: function (xhr, status, data) {
                            var err = "Error: " + " " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                else {

                    @if(Model.IsAddNewTptFacility)
                        {
                            <text>
                    $('#tptfac_contols').show();
                    </text>
                        }
                    var validationaray = tptctrvalidation.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                    $(tptctrfocus).focus();
                    $('#ks_loader').hide();
                    return false;
                }
            });
        </script>
    }
</div>


<div id="Documents" hidden>

    @using (Html.BeginForm("Documents", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
        @Html.HiddenFor(model => model.FName)
        @Html.HiddenFor(model => model.LName)
        @Html.HiddenFor(model => model.DocumentsUpdated)
        <fieldset>
            <legend>Documents</legend>


            @Html.Partial("_OtherOrDocument", Model)
            <button type="button" class="btn btn-default pull-right btn-xs Next">
                <i class="fa fa-step-forward"></i>
                Next
            </button>
            <button type="submit" name="save" id="Submit-Documents" class="btn btn-default btn-xs pull-right">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
        </fieldset>
    }
</div>

<div id="Fee AddOns" class="ks-custom-form" hidden>
    @*@using (Html.BeginForm("FeeAddOns", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
            @Html.HiddenFor(model => model.FName)
            @Html.HiddenFor(model => model.LName)*@
    <fieldset>
        <legend>Fee Add Ons</legend>
        @Html.Partial("_CreateFeeAddOnForAdmission", Model)
    </fieldset>
    @*  }*@
</div>

<div id="Other Detail" hidden>

    @using (Html.BeginForm("OtherDetails", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
        @Html.HiddenFor(model => model.FName)
        @Html.HiddenFor(model => model.LName)
        @Html.HiddenFor(model => model.OtherDetailUpdated)
        <fieldset>
            <legend>Other-Details</legend>
            @Html.Partial("_OtherDetail", Model)
            <button type="submit" name="save" class="btn btn-default btn-xs pull-right submit-OtherDetails">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
        </fieldset>
    }
</div>
<div id="content" hidden></div>

<div class="modal-popup" id="CaptureImage" hidden>
    <div class="modal-popup-body custom-modal-popup" style="margin-right: 585px;">
        <div class="modal-content" style="width: 740px;">
            <div class="modal-header">
                <h4 class="modal-title">Capture Image</h4>
            </div>
            <div class="row modal-body">
                <div style="margin-left:20px; width: 980px; text-align: center">
                    <div id="results" style="margin-right: 300px;margin-top: -19px;width: 320px;height: 240px"></div>
                    <div id="my_camera"></div>
                    <input type=button value="Capture" onclick="take_snapshot()" style="margin-top: 10px;margin-left: -13px;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_CaptureImagediv">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });


    var formChanged = false;
    $(document).on('keyup change', 'input, select, textarea', function () {
        formChanged = true;
    });
    window.onbeforeunload = function () {
        if (formChanged) {
            if (confirm())
                return true;
            else
                return false;
        }
    };


    var IsPending = false;
    @if (Model.StudentId > 0)
    {
        if (Model.InfoUpdated == null && Model.AddressModel.AddressUpdated==null && Model.GuardianUpdated==null
            && Model.SiblingUpdated==null && Model.PrvSchoolUpdated==null && Model.TransportFacility.TransportUpdated==null && Model.DocumentsUpdated==null && Model.OtherDetailUpdated==null)
        {
            foreach (var item in Model.StepList)
            {
                if (item.StepMode == "Pending")
                {<text>
    IsPending = true;
    $("[id ='@item.StepInfo']").show();
    $('.registration-steps').each(function (i, obj) {
        var datrClass = $(this).find('.number').attr('data-attr');
        if (datrClass == "pending-step") {
            $(this).find('.number').removeClass('pending-step')
            $(this).find('.number').addClass('current-step')

            return false;
        }
    });
    </text>
                    break;
                }

            }
        <text>
    if (!IsPending) {
        $('.registration-steps').each(function (i, obj) {
            $(this).find('.number').removeClass('completed-step')
            $(this).find('.number').addClass('current-step')
            var divtoshow = $(this).find('.step-information').text();
            $("[id ='" + divtoshow + "']").show();
            return false;
        });
    }
    </text>
        }
        else {
            if (Model.InfoUpdated != null) {
             <text>
    persistUpdatedTab('@Model.InfoUpdated');
    </text>
            }
            if (Model.AddressModel.AddressUpdated != null) {
             <text>
    persistUpdatedTab('@Model.AddressModel.AddressUpdated');
    </text>
            }
             if (Model.GuardianUpdated != null) {
             <text>
    persistUpdatedTab('@Model.GuardianUpdated');
    </text>
            }
             if (Model.PrvSchoolUpdated != null) {
             <text>
    persistUpdatedTab('@Model.PrvSchoolUpdated');
    </text>
            }
             if (Model.SiblingUpdated != null) {
             <text>
    persistUpdatedTab('@Model.SiblingUpdated');
    </text>
            }
            if (Model.TransportFacility.TransportUpdated != null) {
             <text>
    persistUpdatedTab('@Model.TransportFacility.TransportUpdated');
    </text>
            }
            if (Model.DocumentsUpdated != null) {
             <text>
    persistUpdatedTab('@Model.DocumentsUpdated');
    </text>
            }
             if (Model.OtherDetailUpdated != null) {
             <text>
    persistUpdatedTab('@Model.OtherDetailUpdated');
    </text>
            }
        }
    }

    $(".registration-steps").click(function () {
        if ($(this).attr('disabled') == "disabled") {
            alert('Please provide the Basic Detail.')
            return false;
        }
        else {
            $('#ks_loader').show();
            var clickedStep = $(this).find(".step-information").text()
            if ($(this).find('.number').hasClass('pending-step')) {
                $(this).find('.number').removeClass('pending-step')
                $(this).find('.number').addClass('current-step')
            }
            if ($(this).find('.number').hasClass('completed-step')) {
                $(this).find('.number').removeClass('completed-step')
                $(this).find('.number').addClass('current-step')
            }
            @if (Model.StudentId > 0)
            {
                foreach (var item in Model.StepList)
                {
                    {<text>
            $("[id ='@item.StepInfo']").hide();
            </text>
                    }
                }
            }
            $('.registration-steps').each(function (i, obj) {
                var datrClass = $(this).find('.number').attr('data-attr');
                var stepInfo = $(this).find('.step-information').text();
                if (datrClass != null && stepInfo != clickedStep) {
                    $(this).find('.number').removeClass('current-step')
                    $(this).find('.number').addClass(datrClass)
                }
            });
            $("[id ='" + clickedStep + "']").show();
            setTimeout(function () {
                $('#ks_loader').hide();
            }, 1000)
        }
    })

    $('#Skip-Info').click(function () {
        $('#ks_loader').show();
        var nextStep = 0;
        var infoDivId = $(this).parent().parent().attr('id');
        $('.registration-steps').each(function (i, obj) {
            var datrClass = $(this).find('.number').attr('data-attr');
            var stepInfo = $(this).find('.step-information').text();
            if (datrClass != null && stepInfo == infoDivId) {
                nextStep = i + 1;
                $(this).find('.number').removeClass('current-step')
                $(this).find('.number').addClass(datrClass)
            }
            if (nextStep == i && nextStep > 0) {
                $(this).find('.number').removeClass(datrClass)
                $(this).find('.number').addClass('current-step')
            }
        });
        $("[id ='Basic Detail']").hide();
        $('#Address').show();
        setTimeout(function () {
            $('#ks_loader').hide();
        }, 500)
    });

    $('.Next').click(function () {
        $('#ks_loader').show();
        var nextStep = 0;
        var addressDivId = $(this).parent().parent().parent().attr('id');
        $('.registration-steps').each(function (i, obj) {
            var datrClass = $(this).find('.number').attr('data-attr');
            var stepInfo = $(this).find('.step-information').text();
            if (datrClass != null && stepInfo == addressDivId) {
                nextStep = i + 1;
                $(this).find('.number').removeClass('current-step')
                $(this).find('.number').addClass(datrClass)
                $("[id ='" + stepInfo + "']").hide();
            }
            if (nextStep == i && nextStep > 0) {
                $(this).find('.number').removeClass(datrClass)
                $(this).find('.number').addClass('current-step')
                $("[id ='" + stepInfo + "']").show();
            }
        });
        setTimeout(function () {
            $('#ks_loader').hide();
        }, 500)
    });

    function persistUpdatedTab(tab) {
        $("[id ='" + tab + "']").show();
        $('.registration-steps').each(function (i, obj) {
            var datrClass = $(this).find('.number').attr('data-attr');
            var stepInfo = $(this).find('.step-information').text();
            if (datrClass != null && stepInfo == tab) {
                $(this).find('.number').removeClass(datrClass)
                $(this).find('.number').addClass('current-step')

                return false;
            }
        });
    }
    $(document).bind("keyup keydown", function (e) {
        if (e.ctrlKey && e.keyCode == 80) {
            PrintResult();
        }
    });
    function PrintResult() {
        var w = window.open('', '', 'scrollbars=1');

        var wholehtml = html();

        var doc = w.document.open();
        doc.write(wholehtml);
        doc.close();
        setTimeout(function () {
            w.print();
            //w.close();
        }, 500);


    }
    $('#pdfstudentreg').click(function () {
        $('#triggerpdfstudentreg').trigger('click');
    })
    $('#triggerpdfstudentreg').click(function () {

        var wholehtml = html();
        // var dataToSend = JSON.stringify(wholehtml);
        $('#htmldata').val(wholehtml);

    })
    function DownloadPdf() {

        // var doc = new jsPDF('p','pt','letter');
        var wholehtml = html();
        // var dataToSend = JSON.stringify(wholehtml);
        $('#htmldata').val("gvjhads");

        //alert()
        //$('#content').html(wholehtml);
        //var wholehtml = "<html><head><title><\title><\head><body  id='print-data'>";
        @*$.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("CreatePdf", "Common"))',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: dataToSend,
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.data, "success", true, 5000);
                    alert("ok");
                }
                else {
                    var msgarray = result.data.split('ε');
                    for (var i = 0; i < msgarray.length - 1; i++) {
                        ToastMessage(msgarray[i], "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                }
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });*@


        //alert(wholehtml);
        //var specialElementHandlers = {
        //    '#dvContainer': function (element, renderer) {
        //        return true;
        //    }
        //};


        //doc.fromHTML($('#content').html(), 15, 15, {
        //        'width': 1000,
        //        'elementHandlers': specialElementHandlers
        //});
        //doc.save('sample-file.pdf');




        //  var doc = new jsPDF();
        //   var wholehtml = bodyhtml();
        //$('#dvContainer').html(wholehtml);
        //var ht = $('#dvContainer').html();
        //alert(wholehtml);

        //   doc.fromHTML(bodyhtml(), 15, 15, {
        // 'width': 170
        //  });
        // doc.save('sample-file.pdf');
    }

    function html() {
        @{
        var parentrecord = Model.GuardianModelList.Where(p => p.FirstName + " " + p.LastName != null).FirstOrDefault();
        var parentname = parentrecord != null ? parentrecord.FirstName + " " + parentrecord.LastName : "";
        }
        var htmlStart =
            '<!DOCTYPE html>' +
            '<html>' +
            '<head>' +
            '<title></title>' +
            '</head>' +
            '<body  id="print-data">';

        var htmlEnd = '</body></html>';
        var heading = '<div  style="width:100%; overflow:hidden; border: 1px solid; border-style: dotted;"><div style="padding:10px;">';

        var childheading = '<table style="width:100%;font-size:12px; font-family:arial;" border="0" cellpadding="5">' +
                             '<tr style="text-align:center;">' +
                             '<td colspan="2"><h1>' + '@ViewBag.Title' + ' Slip</h1></td></tr>' +
					            '<tr>' +
						            '<td>' +
							            '<h2 style="margin:0; padding:0;">' + '@Model.SchoolName' + '</h2>' +
							            '<h4 id="schoolAdrress" style="margin:0; padding:0;">' +
                                            '@Html.Raw(Html.Encode(Model.SchoolAddress).Replace("\n", "<br />"))'
                                        + '</h4>' +
						            '</td>' +
						            '<td max-width="150" max-height="60" style="text-align:right">' +
							            '<img src="' + '@Model.SchoolLogoPath' + '" max-width="150" max-height="60" />' +
						            '</td>' +
					            '</tr>' +
				            '</table><hr/>';

        childheading += '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">' +
					'<tr>' +
						'<td><b id="label-heading">' + '@ViewBag.SlipTitle' + ' No.: </b></td>' +
						'<td style="font-size:13px"><b>' + $('#AdmnNo').val() + '</b></td>' +
                        '<td><b>Session: </b></td>' +
						'<td>' + $('#SessionId option:selected').text() + '</td>' +
						'<td><b>Standard: </b></td>' +
						'<td>' + $('#StandardId option:selected').text() + '</td>' +
					'</tr>' +
					'<tr>' +
						'<td><b>Student Name: </b></td>' +
						'<td>' + '@Model.FName' + " " + '@Model.LName' + '</td>' +
						'<td><b>Guardian Name: </b></td>' +
						'<td>' + '@parentname' + '</td>' +
						'<td><b>DOB: </b></td>' +
						'<td>' + '@Model.DateofBirth' + '</td>' +
					'</tr>' +
					'<tr>' +
						'<td><b>Email: </b></td>' +
						'<td>' + '@Model.Email' + '</td>' +
						'<td><b>Mobile No.: </b></td>' +
						'<td>' + '@Model.PhoneNo' + '</td>' +
					'</tr>' +

				'</table>';

        childheading += '</div></div>';

        childheading += '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">' +
			               '<tr>' +
						        '<td valign="top">' +
                                @if(@ViewBag.Title=="Registration"){
                                    <text>
                                'Registration doesn\'t gurantee admission of candidate.' +
                                </text>
                                    }
						        '</td>' +
						        '<td valign="top" align="right">' +
							        'For ' + '@Model.SchoolName' + '' +
							        '<br/><br/><br/><br/><br/><br/><br/><br/>' +
							        'Authorised Signatory' +
						        '</td>' +
					        '</tr>' +
		                '</table>';
        var fullhtml = htmlStart + heading + childheading + htmlEnd;
        return fullhtml;
    }

    var phototype = "";
    $(document).on("click", ".capturephoto", function () {
        $("#CaptureImage").show();
        phototype = $(this).attr('dataid');
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    })

    $(document).on("click", "#close_CaptureImagediv", function () {
        $("#CaptureImage").hide();
        $('#results').html('');
    })



    function take_snapshot() {
        Webcam.snap(function (data_uri) {
            document.getElementById('results').innerHTML =
                '<img id="show" src="' + data_uri + '"/>';
            ~
            Webcam.reset();

            var image = data_uri.replace('data:image/jpeg;base64,', '');

            var uniqueno = 0;
            @if (Model.StudentId != null)
            {
                <text>uniqueno = '@Model.StudentId';</text>
            }
            else
            {
                <text>uniqueno = '@Model.NextStudentId';</text>
            }

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("Capture", "GatePass"))',
                data: { "image": image, "uniqueno": uniqueno, "type": phototype },
                success: function (res) {
                    $.ajax({
                        type: 'POST',
                        url: ("@Url.Content("~/GatePass/Rebind")/"),
                        dataType: 'json',
                        success: function (data) {
                            if (phototype == "Student") {
                                $('#StudentImagepath').val(data);
                            }
                            if (phototype == "Guardian") {
                                $('#GuardianImagepath').val(data);
                            }
                            alert("Photo Captured successfully!");
                        }
                    });
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });
        })
    }

</script>
