﻿@model ViewModel.ViewModel.Student.StudentModel

<div id="stdfeeaddons" class="tab-pane fade in active">
    @if (Model.IsEdit)
    {
        if (Model.IsAdmin)
        {
            <div class="row top-space-10">
                <div class="col-md-12" id="Btnaddnewdet">
                    <input type="button" id="Add_feeaddon" value="Add New" class="btn btn-xs btn-default pull-right" />
                </div>
            </div>
        }

        @*hidden fields*@
        @Html.HiddenFor(m=>m.IsConsessionTagOther)
        @Html.HiddenFor(m => m.IsConsessionTagStudentSpecific)
        @Html.HiddenFor(m => m.StudentFeeAddon.StudentFeeAddonId, new { @id = "StudentFeeAddonId" })
        @Html.HiddenFor(m => m.StudentFeeAddon.StudentFeeAddOnDetailId, new { @id = "StudentFeeAddOnDetailId" })
        <input id="editclick" name="rowindex" type="hidden" value="0" />
        <input id="rowindex_studentfeeaddon" name="rowindex" type="hidden" value="" />
        <form class="form-horizontal ks-custom-form">
            <div class="create_FeeAddon" style="margin-top: 0;margin-bottom: 10px;">
                <div class="row">
                    <!-- Form Coulmn -->
                    <div class="col-md-2 Feeaddon_type_div">
                        <label class=" control-label">Fee Addon Type <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                        <div class="">
                            @Html.DropDownListFor(m => m.StudentFeeAddon.StudentFeeAddonTypeId, Model.StudentFeeAddonTypeList, new { @class = "form-control", @id = "StudentFeeAddonTypeId", @style = "display:block" })
                            @Html.Label("text", new { id = "student_fee_addon_type_name", @style = "display:none" })
                        </div><!-- Form Field -->
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- Form Coulmn -->
                    <div class="col-md-5 Addon_fee_consession_div" hidden>
                        <label class=" control-label">Consession FeeHead <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                        @Html.DropDownListFor(m => m.StudentFeeAddon.ConsessionId, Model.ConsessionList, new { @class = "form-control", @id = "ConsessionId", @style = "display:block" })
                        @Html.Label("text", new { id = "Consession_name", @style = "display:none" })
                        <!-- Form Field -->
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- Form Coulmn -->
                    <div class="col-md-5 Addon_fee_feehead_div" hidden>
                        <div class="">
                            <label class=" control-label">Addon FeeHead <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            @Html.DropDownListFor(m => m.StudentFeeAddon.GroupFeeHeadId, Model.GroupFeeHeadList, new { @class = "form-control", @id = "GroupFeeHeadId", @style = "display:block" })
                            @Html.Label("text", new { id = "GroupFeeHead_name", @style = "display:none" })
                            <!-- Form Field -->
                        </div>
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- Form Coulmn -->
                    <div class="col-md-5 Addon_fee_div add_on_name_div" id="Desc_Div" hidden>
                        <div class="">
                            <label class=" control-label">Addon Description</label><!-- Form Label -->
                            @Html.TextBox("StudentFeeAddon", "", new { @id = "StudentFeeAddon", maxlength = "50", @class = "form-control", @style = "display:block" })
                            @Html.Label("text", new { id = "StudentFeeAddon_name", @style = "display:none" })
                        </div>
                    </div>
                    <!-- //Form Coulmn -->
                </div>

                <div class="row top-space-10">
                    <!-- Form Coulmn -->
                    <div class="col-md-2 " id="percentage_div" style="display:none">
                        <div class="">
                            <label class="control-label">Is Percentage </label><!-- Form Label -->
                            @Html.CheckBoxFor(m => m.StudentFeeAddon.IsPercentage)
                        </div>
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- Form Coulmn -->
                    <div class="col-md-2 Addon_fee_div" id="Amt_div" style="display:none">
                        <div class="">
                            <label class="control-label labelChange">Amount (<i class="fa @Model.CurrencyIcon"></i>)<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            @Html.TextBox("Amount", "", new { @id = "Amount", maxlength = "8", @class = "form-control Amount" })
                        </div>
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- Form Coulmn -->
                    <div class="col-md-2">
                        <div class=" Addon_fee_div" style="display:none">
                            <label class=" control-label">Effective Date<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            @Html.TextBox("EffectiveDate", "", new { @id = "EffectiveDate_feeaddon", @class = "" })
                        </div>
                    </div>
                    <!-- Form Coulmn -->
                    <div class="col-md-3 FeeFrequency" id="FeeFreq_div" style="display:none">
                        <div class="">
                            <label class=" control-label">Fee Frequency <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            @Html.DropDownListFor(m => m.FeeFrequencyId, Model.FeeFrequnecyList, new { @class = "form-control", @id = "FeeFrequencyId", @style = "display:block" })
                            <!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3 FeeFrequency" style="display:none">
                        <div class="">
                            <label class=" control-label">Receipt Type <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            @Html.DropDownListFor(m => m.ReceiptTypeId, Model.ReceiptTypeList, new { @class = "form-control", @id = "ReceiptTypeId", @style = "display:block" })
                            <!-- Form Field -->
                        </div>
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- //Form Coulmn -->
                    <div class="col-md-3 Addon_fee_div" style="display:none">
                        <label class=" control-label"></label>
                        <button type="button" class="btn btn-success" id="save_FeeAddon" style="margin-top:16px">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-danger" id="Close_create_FeeAddon" style="margin-top:16px">
                            <i class="fa fa-ban"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <script>
            $('#StudentFeeAddon_IsPercentage').val(false);
            $('#StudentFeeAddon_IsPercentage').click(function () {

                if ($(this).prop("checked") == true)
                {
                    $('.labelChange').text("Percentage")
                    $('#Amount').prop('maxlength', 3)
                    $('#StudentFeeAddon_IsPercentage').val(true);

                } else {
                    $('.labelChange').text("Amount")
                    $('.labelChange').append("<i class='fa @Model.CurrencyIcon'></i>)<i class='fa fa-asterisk ks-required'></i>")
                    $('#Amount').prop('maxlength', 8)
                    $('#StudentFeeAddon_IsPercentage').val(false);
                }

            })
        </script>
            <!-- close dates blocks -->
        <div class="view_dialog_box viewbox_div" id="ViewBoxfeeaddon" hidden>
            <div style="width:100%; height:25px; float:left;">
                <font style="float:left; padding:2px 10px;">
                    <b>Close Student Fee AddOn</b>
                </font>
                <a class="text-danger" href="javascript:void(0);" id="close_ViewBoxfeeaddon">
                    <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
                </a>
            </div>
            <div class="row top-space-10">
                <div class="col-md-12">
                    <label class="control-label col-md-3">Close Date</label>
                    <div class="col-md-6">
                        @Html.TextBox("CloseDate", null, new { @class = "" })
                    </div>
                </div>
                <div class="col-md-12 top-space-10" style="margin-bottom: 10px;">
                    <label class="col-md-3"></label>
                    <div class="col-md-3">
                        <button type="button" id="save_ViewBoxfeeaddon" class="btn btn-success">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
            <!-- Extend and close dates blocks -->

        <script>

            $('.create_FeeAddon').hide();

            var todaysDate_feeaddon = new Date();
            var pastDate_feeaddon = new Date();
            pastDate_feeaddon.setMonth(pastDate_feeaddon.getMonth() - 1);
            $("#EffectiveDate_feeaddon").kendoDatePicker({
                min: '@Model.startdateSession',
                format: "dd/MM/yyyy",
                value: GetDateFromString('@Model.startdateSession')
            });

            $("#EffectiveDate_feeaddon,#CloseDate").attr("readonly", true);

            // dialog box
            $('#close_ViewBoxfeeaddon').click(function () {
                closedialog();
            });

            function opendialog() {
                $(".viewbox_div").hide(800);
                $("#ViewBoxfeeaddon").show(800);
            }

            function closedialog() {
                $('#rowindex').val('');
                $("#ViewBoxfeeaddon").hide(800);
            }

            //hide show create Fee Add on
            $('#Add_feeaddon').click(function () {

                $('#save_FeeAddon').text("");
                $('#save_FeeAddon').append('<i class="fa fa-floppy-o"></i> Save');

                $('.create_FeeAddon').show();

                $('#StudentFeeAddonId').val("");
                $('#StudentFeeAddOnDetailId').val("");
                $('#StudentFeeAddonTypeId').val("").trigger('change');
                $('#ConsessionId').val("").trigger('change');
                $('#GroupFeeHeadId').val("").trigger('change');
                $('#StudentFeeAddon').val("");
                $('#Amount').val("");
                $('#EffectiveDate').val("");
                $('#FeeFrequencyId').val("");
                $('#ReceiptTypeId').val("");
                $('#editclick').val('0');

                //clear fields

                $('#StudentFeeAddon').removeAttr("disabled");
                $('#StudentFeeAddonTypeId').removeAttr("disabled");
                $('#ConsessionId').removeAttr("disabled");
                $('#GroupFeeHeadId').removeAttr("disabled");

                $('.Addon_fee_consession_div').hide();
                $('.Addon_fee_feehead_div').hide();
                $('.Addon_fee_div').hide();

                $('#student_fee_addon_type_name').hide();
                $('#Consession_name').hide();
                $('#GroupFeeHead_name').hide();
                $('#StudentFeeAddon_name').hide();

                $('.Feeaddon_type_div').show();
                $('#StudentFeeAddonTypeId').show();
                $('#ConsessionId').show();
                $('#GroupFeeHeadId').show();
                $('#StudentFeeAddon').show();
                $('.FeeFrequency').hide();
            });

            //close create Fee Add on div
            $('#Close_create_FeeAddon').click(function () {
                $('#Btnaddnewdet').show();
                $('.create_FeeAddon').hide();
                $('#editclick').val('0');
            });

            //hide show Consessionid and addon head ids on student fee addon type selection  with other fields
            $('#StudentFeeAddonTypeId').change(function () {
                $('#ks_loader').show();
                var feetypeid = $('#StudentFeeAddonTypeId option:selected').text();
                if (feetypeid != "") {
                    if (feetypeid == "Concession") {
                        $('.Addon_fee_consession_div').show();
                        $('.Addon_fee_div').show();
                        $('.Addon_fee_feehead_div').hide();

                    } else if (feetypeid == "Additional Fee") {
                        $('.Addon_fee_feehead_div').show();
                        $('.Addon_fee_consession_div').hide();
                        $('.Addon_fee_div').show();
                    }
                    $('.FeeFrequency').show();
                }
                $('#ks_loader').hide();
            })

            //create Fee Add on
            $('#save_FeeAddon').on("click", function () {
                $('#ks_loader').show();

                var isformvalid = FormValidation();
                if (isformvalid) {
                    var model = new Object();
                    //model.StudentFeeAddonId = $('#StudentFeeAddonId').val();
                    model.StudentFeeAddonTypeId = $('#StudentFeeAddonTypeId').val();

                    model.FeeFrequencyId = $('#FeeFrequencyId').val();

                    model.ReceiptTypeId = $('#ReceiptTypeId').val();
                    model.IsConsessionTagOther = $('#IsConsessionTagOther').val();
                    model.IsConsessionTagStudentSpecific = $('#IsConsessionTagStudentSpecific').val();
                    var feetypeid = $('#StudentFeeAddonTypeId option:selected').text();
                    if (feetypeid == "Concession") {
                        model.ConsessionId = $('#ConsessionId').val();

                        model.StudentFeeAddon = $('#StudentFeeAddon').val().trim() != "" ? $('#StudentFeeAddon').val().trim() : $('#ConsessionId option:selected').text();
                    }
                    else if (feetypeid == "Additional Fee") {
                        model.GroupFeeHeadId = $('#GroupFeeHeadId').val();

                        model.StudentFeeAddon = $('#StudentFeeAddon').val().trim() != "" ? $('#StudentFeeAddon').val().trim() : $('#GroupFeeHeadId option:selected').text();;
                    }

                    model.EffectiveDate = GetDateFromString($('#EffectiveDate_feeaddon').val());
                    model.Amount = $('#Amount').val();

                    model.EncStudentFeeAddonId = $('#StudentFeeAddonId').val();
                    model.EncStudentFeeAddOnDetailId = $('#StudentFeeAddOnDetailId').val();
                    model.EncStudentFeeAddOnDetailId = $('#StudentFeeAddOnDetailId').val();
                    model.IsPercentage = $('#StudentFeeAddon_IsPercentage').val();
                    var rowindex = $('#rowindex_studentfeeaddon').val();

                    $.ajax({
                        type: "Post",
                        url: '@Html.Raw(Url.Action("CreateFeeAddon", "Student"))',
                        data: { "model": model, "StudentId": "@Model.EncStudentId" },
                        success: function (result) {
                            if (result.status == "success") {
                                $('#ks_loader').hide();
                                ToastMessage(result.msg, "success", true, 5000);
                                window.onbeforeunload = null;
                                window.location.reload();
                            }
                            else {
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                            }

                            $('#ks_loader').hide();
                        },
                        error: function (status, data) {
                            var error = "Error: " + status + " " + data;
                            ToastMessage(error, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                else {
                    var validationaray = validationmsg.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

            //Delete Fee Add On
            $(document).on('click', '.Delete_StudentFeeAddOn', function () {
                if (confirm('Are you sure you want to delete this AddOn?') == true) {
                    $('#ks_loader').show();

                    var studentFeeAddOnId = $(this).attr('data-id'); // student Fee Add On Id
                    $('#rowindex_studentfeeaddon').val($(this).parent().parent().index());
                    var rowindex = $('#rowindex_studentfeeaddon').val();

                    // ajax call fro save row closing date
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("DeleteStudentFeeAddOn", "Student"))',
                        data: { "studentFeeAddOnId": studentFeeAddOnId },
                        success: function (result) {
                            if (result.status == "success") {
                                ToastMessage("Deleted Successfully", "success", true, 5000);
                                $('#ks_loader').hide();
                                window.onbeforeunload = null;
                                window.location.reload();
                            }
                            else {
                                ToastMessage(result.msg, "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (status, data) {
                            var err = "Error: " + " " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
            });

            //edit Student Fee AddOn
            $(document).on('click', '.Edit_StudentFeeAddOn', function () {
                $('#ks_loader').show();
                var row = $(this).parent().parent();
                $('#Btnaddnewdet').hide();
                $('#editclick').val('1');
                $('#save_FeeAddon').text("");
                $('#save_FeeAddon').append('<i class="fa fa-floppy-o"></i> Update');

                $('#rowindex_studentfeeaddon').val(row.index());

                $('#ConsessionId').removeAttr("disabled");
                $('#ConsessionId').show();

                $('#GroupFeeHeadId').removeAttr("disabled");
                $('#GroupFeeHeadId').show();

                $('#StudentFeeAddon').removeAttr("disabled");
                $('#StudentFeeAddon').show();

                $('#StudentFeeAddonTypeId').removeAttr("disabled");
                $('#StudentFeeAddonTypeId').show();
                $('#FeeFrequencyId').removeAttr("disabled");
                $('#FeeFrequencyId').show();

                $('#ReceiptTypeId').removeAttr("disabled");
                $('#ReceiptTypeId').show();

                $('.FeeFrequency').show();
                $('#student_fee_addon_type_name').hide();
                $('#Consession_name').hide();
                $('#GroupFeeHead_name').hide();
                $('#StudentFeeAddon_name').hide();

                //fill data in form
                $('.create_FeeAddon').show();

                $('#StudentFeeAddon').val(row.find("td:nth-child(2)").text());
                $('#EffectiveDate_feeaddon').val(row.find("td:nth-child(6)").text());
                $('#StudentFeeAddonId').val($(this).attr('data-id'));
                $('#StudentFeeAddOnDetailId').val($(this).attr('data-id2'));
                $('#StudentFeeAddonTypeId').val(row.find("td:nth-child(12)").text());
                $('#FeeFrequencyId').val(row.find("td:nth-child(13)").text());
                $('#ReceiptTypeId').val(row.find("td:nth-child(14)").text());

                var typeid = row.find("td:nth-child(3)").text();
                if (typeid == "Concession")
                {
                    var consessionid = row.find("td:nth-child(8)").text();
                    $('#ConsessionId').val(consessionid).trigger('change');
                    //$('.Feeaddon_type_div').hide();
                    $('.Addon_fee_consession_div').show();
                    $('.Addon_fee_div').show();
                    $('.Addon_fee_feehead_div').hide();
                }
                else if (typeid == "Additional Fee")
                {
                    var feeheadid = row.find("td:nth-child(9)").text()
                    $('#GroupFeeHeadId').val(feeheadid).trigger('change');
                    $('.Addon_fee_feehead_div').show();
                    $('.Addon_fee_consession_div').hide();
                    $('.Addon_fee_div').show();
                }
                if (row.find("td:nth-child(18)").text() == 'True') {
                    $('#Amount').val(row.find("td:nth-child(5)").text());
                    $('.labelChange').text("Percentage")
                    $('#StudentFeeAddon_IsPercentage').prop("checked", true);
                } else {
                    $('#Amount').val(row.find("td:nth-child(4)").text());
                    $('.labelChange').text("Amount")
                    $('.labelChange').append("<i class='fa @Model.CurrencyIcon'></i>)<i class='fa fa-asterisk ks-required'></i>")
                    $('#StudentFeeAddon_IsPercentage').prop("checked", false);
                }
                $('#ks_loader').hide();
            });

            $(document).on('click', '.Close_StudentFeeAddOn', function () {
                var row = $(this).parent().parent();
                $('#StudentFeeAddonId').val($(this).attr('data-id'));
                $('#StudentFeeAddOnDetailId').val($(this).attr('data-id2'));

                $("#CloseDate").removeAttr("readonly");
                var mindate = row.find("td:nth-child(6)").text();
                var clsdate = parseInt(mindate.split('/')[0]) + 1;
                mindate = clsdate + "/" + mindate.split('/')[1] + "/" + mindate.split('/')[2];
                mindate = GetDateFromString(mindate);

                $("#CloseDate").kendoDatePicker({
                    min: mindate,
                    format: "dd/MM/yyyy"
                });
                $("#CloseDate").attr("readonly", true);
                opendialog();
            });

            $('#save_ViewBoxfeeaddon').click(function () {
                $('#ks_loader').show();
                var StudentFeeAddonId = $('#StudentFeeAddonId').val(); // Group Fee head Id
                var StudentFeeAddOnDetailId = $('#StudentFeeAddOnDetailId').val(); // Group fee Head Detail Id

                if ($('#CloseDate').val() != "") {
                    var date = GetDateFromString($('#CloseDate').val());
                    // ajax call fro save row closing date
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("CloseStudentFeeAddOn", "Student"))',
                        data: { "sfaoik": StudentFeeAddonId, "sfaodik": StudentFeeAddOnDetailId, "CloseDate": date },
                        success: function (result) {
                            if (result.status == "success") {
                                ToastMessage("Closed Successfully", "success", true, 5000);
                                closedialog();
                                $('#ks_loader').hide();
                                window.onbeforeunload = null;
                                window.location.reload();
                            }
                            else {
                                ToastMessage(result.msg, "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (status, data) {
                            var err = "Error: " + " " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                else {
                    ToastMessage("Close date required", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

            $('#ConsessionId').change(function () {
                var consessionId = $(this).val();
                var notedit = $('#editclick').val();
                $('#IsConsessionTagStudentSpecific').val(false)
                $('.labelChange').text("Amount")
                $('.labelChange').append("<i class='fa @Model.CurrencyIcon'></i>)<i class='fa fa-asterisk ks-required'></i>")
                $('#percentage_div').hide();
                if (consessionId != "") {
                    $.ajax({
                        type: "Post",
                        url: '@Html.Raw(Url.Action("ColumnsShowConsessionBased", "Student"))',
                        data: { "consessionID": consessionId },
                        success: function (result) {
                            if (result.status == "success") {
                                $('#ks_loader').hide();
                                if (result.IsConsessionTagOther) {
                                    $('#Desc_Div').hide();
                                    $('#Amt_div').hide();
                                    $('#FeeFreq_div').hide();
                                    $('#IsConsessionTagOther').val(true);
                                }
                               else if (result.IsConsessionTagStudentSpecific) {
                                    $('#Desc_Div').hide();
                                    $('#IsConsessionTagStudentSpecific').val(true)
                                    $('#FeeFreq_div').hide();
                                    //$('.labelChange').text("Percentage")
                                    $('#percentage_div').show();
                                }else {
                                    $('#Desc_Div').show();
                                    $('#Amt_div').show();
                                    $('#FeeFreq_div').show();
                                    $('#IsConsessionTagOther').val(false);
                                    if (consessionId != "" && notedit != 1) {
                                        $.ajax({
                                            type: "POST",
                                            url: '@Html.Raw(Url.Action("GetConsessionAmount", "Student"))',
                                            data: { "consessionId": consessionId },
                                            success: function (result) {
                                                if (result.status == "success") {
                                                    $('#Amount').val(result.consessionamount);
                                                }
                                                else {
                                                    ToastMessage(result.msg, "error", true, 5000);
                                                }
                                                $('#ks_loader').hide();
                                            },
                                            error: function (status, data) {
                                                var err = "Error: " + " " + status + " " + data;
                                                ToastMessage(err, "error", true, 5000);
                                                $('#ks_loader').hide();
                                            }
                                        });
                                    }
                                    else
                                        $('#ks_loader').hide();
                                }
                            }
                            else {
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                            }

                            $('#ks_loader').hide();
                        },
                        error: function (status, data) {
                            var error = "Error: " + status + " " + data;
                            ToastMessage(error, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                else
                    $('#ks_loader').hide();

            });

            @*//get consession amount
            $('#ConsessionId').change(function () {
                var consessionId = $(this).val();
                var notedit = $('#editclick').val();
                //abc
                $('#ks_loader').show();
                if (consessionId != "" && notedit != 1) {
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetConsessionAmount", "Student"))',
                        data: { "consessionId": consessionId },
                        success: function (result) {
                            if (result.status == "success") {
                                $('#Amount').val(result.consessionamount);
                            }
                            else {
                                ToastMessage(result.msg, "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (status, data) {
                            var err = "Error: " + " " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                else
                    $('#ks_loader').hide();
            });*@


            var validationmsg = "";
            var isvalid = true;
            function FormValidation() {
                validationmsg = "";
                isvalid = true;

                if ($('#StudentFeeAddonTypeId').val() == "") {
                    validationmsg += "Fee AddonType required ε";
                    isvalid = false;
                }
                if ($('#FeeFrequencyId').val() == "" && (!$('#IsConsessionTagOther').val() || !$('#IsConsessionTagStudentSpecific').val()=="true")) {
                    validationmsg += "Fee Frequency required ε";
                    isvalid = false;
                }
                if ($('#ReceiptTypeId').val() == "") {
                    validationmsg += "Receipt Type required ε";
                    isvalid = false;
                }
                var feetypeid = $('#StudentFeeAddonTypeId option:selected').text();
                if (feetypeid == "Concession") {
                    if ($('#ConsessionId').val() == "") {
                        validationmsg += "Concession required ε";
                        isvalid = false;
                    }
                }
                else if (feetypeid == "Additional Fee") {
                    if ($('#GroupFeeHeadId').val() == "") {
                        validationmsg += "Addon Fee required ε";
                        isvalid = false;
                    }
                }

                if ($('#Amount').val() == "" && !$('#IsConsessionTagOther').val()) {
                    validationmsg += "Amount required ε";
                    isvalid = false;
                }
                if ($('#EffectiveDate_feeaddon').val() == "") {
                    validationmsg += "Effective date required ε";
                    isvalid = false;
                }

                return isvalid;
            }

        </script>
    }

    @*table for displaying Student Fee Add ons*@
    <div class="row  top-space-10">
        <div class="col-md-12">
            <table id="studentfeeaddons_grid" class="table table-bordered table-responsive">
                <thead class="thead-default">
                    <tr>
                        <th style="width: 18%">FeeHead</th>
                        <th style="width: 18%">Description</th>
                        <th style="width: 10%">Type</th>
                        <th style="width: 7%">Amount</th>
                        <th style="width: 7%">Percentage</th>
                        <th style="width: 10%">Effective Date</th>
                        <th style="width: 7%">End Date</th>
                        <th style="width: 10%">Receipt Type</th>
                        <th style="width: 10%">Fee Frequency</th>
                        @if (Model.IsAdmin && Model.IsEdit)
                        {
                            <th style="width: 5%">Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.StudentFeeAddOnModelList.Count > 0)
                    {
                        foreach (var studentfeeaddon in Model.StudentFeeAddOnModelList)
                        {
                            <tr>
                                <td class="">@studentfeeaddon.StudentFeeAddonHead</td>
                                <td class="">@studentfeeaddon.StudentFeeAddon</td>
                                <td class="">@studentfeeaddon.StudentFeeAddonType</td>
                               
                                @if(@studentfeeaddon.IsPercentage){
                                    <td></td>
                                <td class=""> @studentfeeaddon.Amount</td>
                                }
                                else
                                {
                                     <td class=""><i class="fa @Model.CurrencyIcon"></i> @studentfeeaddon.Amount</td>
                                    <td></td>
                                }
                                <td class="">@studentfeeaddon.EffectiveDate</td>
                                <td class="">@studentfeeaddon.EndDate</td>
                                <td class="" hidden>@studentfeeaddon.ConsessionId</td>
                                <td class="" hidden>@studentfeeaddon.GroupFeeHeadId</td>
                                <td class="" hidden>@studentfeeaddon.EncStudentFeeAddOnDetailId</td>
                                <td class="" hidden>@studentfeeaddon.EncStudentFeeAddonId</td>
                                <td class="" hidden>@studentfeeaddon.StudentFeeAddonTypeId</td>
                                <td class="" hidden>@studentfeeaddon.FeeFrequencyId</td>
                                <td class="" hidden>@studentfeeaddon.ReceiptTypeId</td>
                                <td class="">@studentfeeaddon.ReceiptType</td>
                                <td class="">@studentfeeaddon.FeeFrequency</td>
                                <td class="text-center">
                                    @if (Model.IsAdmin && Model.IsEdit)
                                    {
                                        if (studentfeeaddon.CanDelete)
                                        {
                                            <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" class="Edit_StudentFeeAddOn btn btn-xs btn-default" data-id="@studentfeeaddon.EncStudentFeeAddonId" data-id2="@studentfeeaddon.EncStudentFeeAddOnDetailId" title="Edit AddOn"><i class="fa fa-pencil"></i></a>
                                            <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" class="Delete_StudentFeeAddOn btn btn-xs btn-default" data-id="@studentfeeaddon.EncStudentFeeAddonId" data-id2="@studentfeeaddon.EncStudentFeeAddOnDetailId" title="Delete AddOn"><i class="fa fa-trash"></i></a>
                                        }
                                        if (studentfeeaddon.EndDate == null || studentfeeaddon.EndDate == "")
                                        {
                                            <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" class="Close_StudentFeeAddOn btn btn-xs btn-default" data-id="@studentfeeaddon.EncStudentFeeAddonId" data-id2="@studentfeeaddon.EncStudentFeeAddOnDetailId" title="Close AddOn"><i class="fa fa-ban"></i></a>

                                        }

                                    }
                                </td>
                                <td hidden>@studentfeeaddon.IsPercentage</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="7">No Data found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
