﻿@model ViewModel.ViewModel.Student.StudentProfileModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<ul class="nav nav-tabs">
    @if (Model.IsEdit && Model.IsAdmin)
    {
        <li><a href="@Html.Raw(Url.Action("StudentProfileEdit", "Student", new { id = Model.EncStudentId }))">Admission Form</a></li>
        <li class="active"><a data-toggle="tab" href="#oth">Health Detail</a></li>
        <li><a href="@Html.Raw(Url.Action("StudentIssueDocs", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Certificates</a></li>
        <li><a href="@Html.Raw(Url.Action("StudentActivities", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Student Activities</a></li>
        @*if (Model.FeeCheck)
        {
            <li><a href="@Html.Raw(Url.Action("StudentFeeAddOns", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Fee AddOns</a></li>
        }*@
        <li ><a href="@Html.Raw(Url.Action("StudentFacilityDetails", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Student Facility Details</a></li>
        
    }
</ul>

<div class="tab-content">
    <div id="oth" class="tab-pane fade in active">
        @if (Model.IsEdit)
        {
            <input id="rowindex_studentclassDetail" name="rowindex" type="hidden" value="" />
            if (Model.IsAdmin)
            {
                <div class="row top-space-10" style="margin-bottom: 10px;">
                    <div class="col-md-12" id="Btnaddnewotherdet">
                        <input type="button" id="Insert_StudentOtherDetails" value="Add New" class="btn btn-xs btn-default pull-right" />
                    </div>
                </div>
            }
            @*hidden fields*@
            @Html.HiddenFor(m => m.StudentOtherDetails.EncStudentClassDetailsId, new { @id = "StudentClassDetailsId" })
            @Html.Hidden("class", "0", new { @id = "classid" })
            <form class="form-horizontal ks-custom-form">
                <div class="create_studentotherdetails" style="display:none;margin-top: 0;margin-bottom: 10px;">
                    <!-- Form Coulmn -->
                    <div class="row">
                        <!-- Form Coulmn -->
                        <div class="col-md-2 classcontrol">
                            <label class="control-label ">Class <i class=" fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            @Html.DropDownListFor(m => m.StudentOtherDetails.StudentClassId, Model.ClassList, new { @class = "form-control", @id = "StudentClassId" })
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2 classlabel">
                            <label class="control-label ">Class</label><!-- Form Label -->
                            <label class="label-as-control ClassName"></label>
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2">
                            <div class="">
                                <label class=" control-label">Date</label><!-- Form Label -->
                                @Html.TextBox("RecordDate", "", new { @id = "RecordDate", @class = "" })
                            </div>
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2">
                            <label class=" control-label">Height <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <div class="">
                                @Html.TextBox("Height", "", new { @class = "form-control ", @id = "Height", maxlength = "20" })
                            </div><!-- Form Field -->
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2">
                            <label class=" control-label">Weight(In Kg) <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <div class="">
                                @Html.TextBox("Weight", "", new { @class = "form-control ", @id = "Weight", maxlength = "3" })
                            </div><!-- Form Field -->
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2">
                            <label class=" control-label">Vision_L</label><!-- Form Label -->
                            <div class="">
                                @Html.TextBox("Vision_L", "", new { @class = "form-control ", @id = "Vision_L", maxlength = "12" })
                            </div><!-- Form Field -->
                        </div>
                        <!-- //Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-2">
                            <label class=" control-label">Vision_R</label><!-- Form Label -->
                            <div class="">
                                @Html.TextBox("Vision_R", "", new { @class = "form-control ", @id = "Vision_R", maxlength = "12" })
                            </div><!-- Form Field -->
                        </div>
                        <!-- //Form Coulmn -->
                    </div>

                    @if (Model.StudentExtraClassDetailList.Count > 0)
                    {
                        <div class="row top-space-10">
                            @for (int i = 0; i < Model.StudentExtraClassDetailList.Count; i++)
                            {
                            <!-- Form Coulmn -->
                                <div class="col-md-4">
                                    <div class="">
                                        <label class=" control-label">@Model.StudentExtraClassDetailList[i].StudentExtraDetail</label><!-- Form Label -->
                                        <textarea class="Stdextradetail form-control" rows="2" cols="5" style="resize: none" maxlength="150" data-id="@Model.StudentExtraClassDetailList[i].StudentExtraDetailId"></textarea>
                                    </div>
                                </div>
                            <!-- //Form Coulmn -->
                            }
                        </div>
                    }

                    <div class="row top-space-10">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success" id="save_SchoolOtherDetails" style="margin-right:4px">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-danger" id="Close_SchoolOtherDetails" style="margin-right:30px">
                                <i class="fa fa-ban"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <script>
                $("#Weight").keydown(function (e) {
                    NumericOnly(e);
                });

                $('.classlabel').hide();
                $('.classcontrol').show();

                var todaysDate_otherdetails = new Date();
                var pastDate_otherdetails = new Date(2013, 1, 1);
                $("#RecordDate").kendoDatePicker({
                    value: new Date,
                    min: pastDate_otherdetails,
                    format: "dd/MM/yyyy",
                    max: todaysDate_otherdetails
                });

                $("#RecordDate").attr('readonly', true);

                // check if any class left
                if ($('#StudentClassId option').length == 1) {
                    $('#Btnaddnewotherdet').hide();
                    //$('#data_validation_div_StudentOtherDetails ul').append("<li>No class left</li>");
                    //$('#data_validation_div_StudentOtherDetails').show();
                }

                //hide show create student class details div
                $('#Insert_StudentOtherDetails').click(function () {
                    $('#save_SchoolOtherDetails').text("");
                    $('#save_SchoolOtherDetails').append('<i class="fa fa-floppy-o"></i> Save');
                    $('#StudentClassDetailsId').val("");
                    $('.create_studentotherdetails').css('display', 'block');

                    $('#StudentClassId').val("");
                    $('#Height').val("");
                    $('#Weight').val("");
                    $('#RecordDate').val("");

                    $('#Vision_L').val("");
                    $('#Vision_R').val("");
                    $('#classid').val("");
                    $('#StudentClassId').attr("disabled", false);

                    $('.Stdextradetail').each(function () {
                        $(this).val("");
                    });

                    $('.classlabel').hide();
                    $('.classcontrol').show();
                });

                //close create student class details
                $('#Close_SchoolOtherDetails').click(function () {
                    $('#StudentClassDetailsId').val();

                    $('.create_studentotherdetails').hide();
                });

                //create Student class Details
                $('#save_SchoolOtherDetails').click(function () {
                    $('#ks_loader').show();

                    var isformvalid = FormValidation();
                    if (isformvalid) {
                        var model = new Object();

                        var datastr = "";
                        var detarray = new Array();
                        var detobj = new Object();
                        $('.Stdextradetail').each(function () {
                            if ($(this).val().trim() != "") {
                                detobj = new Object();
                                detobj.StudentExtraDetailValue = $(this).val();
                                detobj.StudentExtraDetailId = $(this).attr("data-id");
                                datastr += $(this).val() + "π" + $(this).attr("data-id") + "ε";
                                detarray.push(detobj);
                            }
                        });

                        model.StudentExtraDetailMapping = JSON.stringify(detarray);

                        var SelectedClass = $('#StudentClassId option:selected').text() != "" ? $('#StudentClassId option:selected').text() : $('.ClassName').text();
                        model.StudentClassId = $('#StudentClassId').val();
                        var classid = $('#classid').val();
                        if (classid > 0)
                            model.StudentClassId = classid;

                        model.Vision_L = $('#Vision_L').val();
                        model.Vision_R = $('#Vision_R').val();
                        model.Height = $('#Height').val();
                        model.Weight = $('#Weight').val();
                        model.RecordDate = $('#RecordDate').val() != "" ? GetDateFromString($('#RecordDate').val()) : "";

                        var StudentClassDetailsId = $('#StudentClassDetailsId').val();
                        var rowindex = $('#rowindex_studentclassDetail').val();

                        $.ajax({
                            type: "Post",
                            url: '@Html.Raw(Url.Action("CreateStudentClassDetail", "Student"))',
                            data: { "model": model, "StudentId": "@Model.EncStudentId", "StudentClassDetailsId": StudentClassDetailsId },
                            success: function (result) {
                                if (result.status == "success") {
                                    ToastMessage(result.msg, "success", true, 5000);
                                    $('#ks_loader').hide();
                                    window.location.reload();
                                }
                                else {
                                    var validationaray = result.data.split('ε');
                                    for (var i = 0; i < validationaray.length - 1; i++)
                                        ToastMessage(validationaray[i], "error", true, 5000);
                                    $('#ks_loader').hide();
                                }
                            },
                            error: function (status, data) {
                                var error = "Error: " + status + " " + data;
                                ToastMessage(error, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                    else {
                        var validationaray = validationmsg.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++)
                            ToastMessage(validationaray[i], "error", true, 5000);

                        $('#ks_loader').hide();
                    }
                });

                //edit Student class Detail
                $(document).on('click', '.Edit_StudentClassDetail', function () {

                    $('#save_SchoolOtherDetails').text("");
                    $('#save_SchoolOtherDetails').append('<i class="fa fa-floppy-o"></i> Update');
                    $('#rowindex_studentclassDetail').val($(this).parent().parent().index());

                    //fill data in form
                    $('#classid').val($(this).parent().parent().find("td:nth-child(7)").text());
                    $('#StudentClassId').val($(this).parent().parent().find("td:nth-child(7)").text());
                    $('#StudentClassId').attr("disabled", true);

                    $('.ClassName').text($(this).parent().parent().find("td:nth-child(1)").text());
                    $('#Height').val($(this).parent().parent().find("td:nth-child(2)").text());
                    $('#Weight').val($(this).parent().parent().find("td:nth-child(3)").text());
                    $('#Vision_L').val($(this).parent().parent().find("td:nth-child(4)").text());
                    $('#Vision_R').val($(this).parent().parent().find("td:nth-child(5)").text());

                    var extradetstr = $(this).parent().parent().find("td:nth-child(6)").text();
                    if (extradetstr != "") {
                        var extradetarray = extradetstr.split('ε');
                        for (var i = 0; i < extradetarray.length - 1; i++) {
                            var extradet = extradetarray[i].split('π');
                            $('.Stdextradetail').each(function () {
                                var indexid = $(this).attr("data-id");
                                if (indexid == extradet[1]) {
                                    $(this).val(extradet[0]);
                                    return false;
                                }
                            });
                        }
                    }

                    $('#RecordDate').val($(this).parent().parent().find("td:nth-child(9)").text());
                    $('#StudentClassDetailsId').val($(this).attr('data-id'));

                    $('.create_studentotherdetails').show();

                    $('.classlabel').show();
                    $('.classcontrol').hide();
                });

                var validationmsg = "";
                var isvalid = true;
                function FormValidation() {
                    validationmsg = "";
                    isvalid = true;

                    if ($('#classid').val() == "" && $('#StudentClassId').val() == "") {
                        validationmsg += "Class required ε";
                        isvalid = false;
                    }
                    if ($('#Height').val() == "") {
                        validationmsg += "Height required ε";
                        isvalid = false;
                    }
                    if ($('#Weight').val() == "") {
                        validationmsg += "Weight required ε";
                        isvalid = false;
                    }

                    return isvalid;
                }

            </script>

        }
        @*view Student Details model pop up*@
        <div class="modal-popup" id="StudentclassDetails_div" hidden>
            <div class="modal-popup-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close_health_div" name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Student Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            @*class*@
                            <div class="col-md-3">
                                <label>Class:</label>
                            </div>
                            <div id="student_class-Div" class="col-md-4">

                            </div>
                        </div>

                        <div class="row">
                            @*Record Date*@
                            <div class="col-md-3">
                                <label>Date:</label>
                            </div>
                            <div id="RecordDate-Div" class="col-md-4">

                            </div>
                        </div>

                        <div class="row">
                            @*height*@
                            <div class="col-md-3">
                                <label>Height:</label>
                            </div>
                            <div id="height-Div" class="col-md-4">

                            </div>
                        </div>

                        <div class="row">
                            @*Weight*@
                            <div class="col-md-3">
                                <label>Weight(In Kg):</label>
                            </div>
                            <div id="weight-Div" class="col-md-4">

                            </div>
                        </div>

                        <div class="row">
                            @*Vision L/R*@
                            <div class="col-md-3">
                                <label>Vision L/R:</label>
                            </div>
                            <div id="vision_LR-Div" class="col-md-4">
                            </div>
                        </div>

                        @for (int i = 0; i < Model.StudentExtraClassDetailList.Count; i++)
                        {
                        <div class="row">
                            <div class="col-md-3">
                                <label>@Model.StudentExtraClassDetailList[i].StudentExtraDetail:</label>
                            </div>
                            <div class="col-md-6 clsextradetview" id="clsextradet_@Model.StudentExtraClassDetailList[i].StudentExtraDetailId">
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        @*table for displaying Student Activities*@
        <div class="row top-space-10">
            <div class="col-md-12">
                <table id="studentclassdetail_grid" class="table table-bordered table-responsive">
                    <thead class="thead-default">
                        <tr>
                            <th style="width: 15%">Class</th>
                            <th style="width: 10%">Height</th>
                            <th style="width: 10%">Weight(In Kg)</th>
                            <th style="width: 10%">Vision_L</th>
                            <th style="width: 10%">Vision_R</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.StudentClassDetailList.Count > 0)
                        {
                            foreach (var studentclassdetail in Model.StudentClassDetailList)
                            {
                                <tr>
                                    <td class="">@studentclassdetail.studentclass</td> @*1*@
                                    <td class="">@studentclassdetail.Height</td>@*2*@
                                    <td class="">@studentclassdetail.Weight</td>@*3*@
                                    <td class="">@studentclassdetail.Vision_L</td>@*4*@
                                    <td class="">@studentclassdetail.Vision_R</td>@*5*@
                                    <td class="" hidden>@studentclassdetail.StudentExtraDetailMapping</td>@*6*@
                                    <td class="" hidden>@studentclassdetail.StudentClassId</td>@*7*@
                                    <td class="text-center">
                                        @*8*@
                                    @if (Model.IsAdmin)
                                    {
                                        if (studentclassdetail.iscurrentsession && Model.IsEdit)
                                        {
                                            <a title="Edit" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="Edit_StudentClassDetail btn btn-xs btn-default" data-id="@studentclassdetail.EncStudentClassDetailsId"><i class="fa fa-pencil "></i></a>
                                        }
                                    }
                                    <a title="View" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="View_StudentClassDetail btn btn-xs btn-default" data-id="@studentclassdetail.EncStudentClassDetailsId"><i class="fa fa-eye "></i></a>
                                </td>
                                <td hidden>@studentclassdetail.RecordDate</td>@*9*@
                            </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-center" colspan="7">No Data found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" id="grid_error" hidden>
                <div class="text-danger">
                    <i class="fa fa-ban"></i>
                    <span></span>
                </div>
            </div>
            <div class="col-md-12" id="grid_success" hidden>
                <div class="text-success">
                    <i class="fa fa-check"></i>
                    <span></span>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            //close model
            $('#close_health_div').click(function () {
                $('#StudentclassDetails_div').hide();
            })
            //View student class Details

            $(document).on('click', '.View_StudentClassDetail', function () {
                $('#StudentclassDetails_div').show();
                $('#student_class-Div').text($(this).parent().parent().find("td:nth-child(1)").text());
                $('#height-Div').text($(this).parent().parent().find("td:nth-child(2)").text());
                $('#weight-Div').text($(this).parent().parent().find("td:nth-child(3)").text());
                var visionLR = $(this).parent().parent().find("td:nth-child(4)").text() + "/" + $(this).parent().parent().find("td:nth-child(5)").text();
                $('#vision_LR-Div').text(visionLR);
                $('#RecordDate-Div').text($(this).parent().parent().find("td:nth-child(9)").text());

                $('.clsextradetview').each(function () {
                    $(this).text("");
                });

                var extradetstr = $(this).parent().parent().find("td:nth-child(6)").text();
                if (extradetstr != "") {
                    var extradetarray = extradetstr.split('ε');
                    for (var i = 0; i < extradetarray.length - 1; i++) {
                        var extradet = extradetarray[i].split('π');

                        $('#clsextradet_' + extradet[1]).text(extradet[0]);
                    }
                }
            });

        </script>
    </div>
</div>
