﻿@model ViewModel.ViewModel.Student.StudentProfileModel

@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<input id="rowindex" name="rowindex" type="hidden" value="" />

<ul class="nav nav-tabs">
    @if (Model.IsEdit && Model.IsAdmin)
    {
        <li><a href="@Html.Raw(Url.Action("StudentProfileEdit", "Student", new { id = Model.EncStudentId }))">Admission Form</a></li>
        <li><a href="@Html.Raw(Url.Action("StudentOtherDetail", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Health Detail</a></li>
        <li><a href="@Html.Raw(Url.Action("StudentIssueDocs", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Certificates</a></li>
        <li class="active"><a data-toggle="tab" href="#stdactivity">Student Activities</a></li>
        @*if (Model.FeeCheck)
        {
            <li><a href="@Html.Raw(Url.Action("StudentFeeAddOns", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Fee AddOns</a></li>
        }*@
        <li><a href="@Html.Raw(Url.Action("StudentFacilityDetails", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Student Facility Details</a></li>

    }
</ul>

<div class="tab-content">
    <div id="stdactivity" class="tab-pane fade in active">

        @if (Model.IsEdit)
        {
            if (Model.IsAdmin)
            {
                <div class="row top-space-10">
                    <div class="col-md-12" id="Btnaddnewact">
                        <input type="button" id="Create_Student_activity" value="Add New" class="btn btn-default btn-xs pull-right" />
                    </div>
                </div>
            }

            @*hidden fields*@
            @Html.HiddenFor(m => m.StudentActivity.StudentActivityId, new { @id = "StudentActivityId" })
            <form class="form-horizontal ks-custom-form">
                <div class="row create_studentactivity" style="display:none;margin-top: 0;margin-bottom: 10px;">
                    <!-- Form Coulmn -->

                    <div class="col-md-3">
                        <label class="control-label">Extra Activity <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                        <div class="">
                            @Html.DropDownListFor(m => m.StudentActivity.ExtraActivityId, Model.ExtraActivitylist, new { @class = "form-control", @id = "ExtraActivityId" })
                        </div><!-- Form Field -->
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- Form Coulmn -->
                    <div class="col-md-2">
                        <label class=" control-label">Effective Date <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                        <div class="">
                            @Html.TextBox("Effective Date", "", new { @class = "KendoDatepickerstartdate ", @id = "EffectiveDate" })
                        </div><!-- Form Field -->
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- Form Coulmn -->
                    <div class="col-md-4">
                        <div class="" style="float:left">
                            <label class=" control-label">Description<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <div class="">
                                @Html.TextArea("Description", "", 1, 700, new { @id = "Description", @style = "resize:none;width:100%;max-width:653px", maxlength = "50" })
                            </div><!-- Form Field -->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class=" control-label"></label>
                        <!-- //Form Coulmn -->
                        <button type="button" class="btn btn-success" id="save_StudentActivity" style="margin-top: 12px">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-danger" id="Close_create_studentactivity" style="margin-top: 12px">
                            <i class="fa fa-ban"></i>
                            Cancel
                        </button>
                    </div>

                </div>
            </form>

            <!-- Extend and close dates blocks -->
            <div class="view_dialog_box viewbox_div" id="ViewBox" hidden>
                <div style="width:100%; height:25px; float:left;">
                    <font style="float:left; padding:2px 10px;">
                        <b>Close Student Activity</b>
                    </font>
                    <a class="text-danger" href="javascript:void(0);" id="close_ViewBox">
                        <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
                    </a>
                </div>
                <div class="row top-space-10">
                    <div class="col-md-12">
                        <label class="control-label col-md-3">End Date</label>
                        <div class="col-md-8">
                            @Html.TextBox("End Date", "", new { @class = "KendoDatepickerenddate ", @id = "EndDate" })
                        </div>
                    </div>
                    <div class="col-md-12 top-space-10" style="margin-bottom: 10px">
                        <label class="col-md-3"></label>
                        <div class="col-md-3">
                            <button type="button" data-id="" id="save_ViewBox" class="btn btn-success">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Extend and close dates blocks -->

            <script>

                //hide show create certificate div
                $('#Create_Student_activity').click(function () {
                    $('#save_StudentActivity').text("");
                    $('#save_StudentActivity').append('<i class="fa fa-floppy-o"></i> Save');
                    $('.create_studentactivity').css('display', 'block');
                    $('#Description').val("");
                    $('#ExtraActivityId').val("").trigger('change');
                    $('#EffectiveDate').val("");
                    //$('#EndDate').val("");
                    $('#StudentActivityId').val("");
                })

                //close create Student activity div
                $('#Close_create_studentactivity').click(function () {
                    $('.create_studentactivity').hide();
                    $('#StudentActivityId').val();
                    $('#Btnaddnewact').show();
                });

                var todaysDate = new Date();
                var todaysDatestart = new Date();
                var pastDate = new Date(2013, 1, 1);
                var pastDatestart = new Date(2013, 1, 1);

                $(".KendoDatepickerstartdate").kendoDatePicker({
                    format: "dd/MM/yyyy",
                    @if (Model.IsBackDateAllowed){
            <text>
                    min: '@Model.SessionStartDate',
                    </text>}
                else
                {
                <text>
                    min: new Date(),
                    </text>
                }
                    max: '@Model.SessionEndDate'
                });

                $("#EndDate").kendoDatePicker({
                    value: new Date,
                    min: pastDate,
                    format: "dd/MM/yyyy"
                });

                $(".KendoDatepickerstartdate,#EndDate").attr("readonly", true);

                //create Student Activity
                $('#save_StudentActivity').click(function () {
                    $('#ks_loader').show();

                    var model = new Object();
                    model.ExtraActivityId = $('#ExtraActivityId').val();
                    model.Description = $('#Description').val();
                    var date = $('#EffectiveDate').val();
                    if (date != null && date != "") {
                        model.EffectiveDate = GetDateFromString(date);
                    } else {
                        model.EffectiveDate = "";
                    }
                    //model.EndDate = $('#EndDate').val();
                    var studentActivityId = $('#StudentActivityId').val();
                    if (studentActivityId == "") {
                        studentActivityId = "";
                    }
                    var rowindex = $('#rowindex').val();
                    $.ajax({
                        type: "Post",
                        url: '@Html.Raw(Url.Action("CreateUpdateStudentActivity", "Student"))',
                        data: { "model": model, "StudentId": "@Model.EncStudentId", "studentActivityId": studentActivityId },
                        success: function (result) {
                            if (result.status == "success") {
                                alert(result.msg);
                                //ToastMessage(result.msg, "success", true, 5000);
                                window.location.reload();
                            }
                            else {
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        },
                        error: function (status, data) {
                            var err = "Error: " + " " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                });

                //edit certificate
                $(document).on('click', ".Edit_StudentActivity", function (e) {
                    $('#save_StudentActivity').text("");
                    $('#save_StudentActivity').append('<i class="fa fa-floppy-o"></i> Update');
                    $('#ks_loader').show();

                    var StudentActivityId = $(this).attr('data-id');
                    $('#Btnaddnewact').hide();
                    $('#ExtraActivityId').val("").trigger('change');
                    $('#EffectiveDate').val("");
                    $('#EndDate').val("");
                    $('#Description').val("");
                    $('#rowindex').val("");
                    $('#rowindex').val($(this).parent().parent().index());

                    $.ajax({
                        type: "Post",
                        url: '@Html.Raw(Url.Action("EditStudentActivity", "Student"))',
                        data: { "StudentActivityId": StudentActivityId, },
                        success: function (result) {
                            if (result.status == "success") {
                                $('#ExtraActivityId').val(result.model.ExtraActivityId);
                                $('#EffectiveDate').val(result.model.EffectiveDate);
                                if (result.model.EndDate != null) {
                                    $('#EndDate').val(result.model.EndDate);
                                }
                                $('#Description').val(result.model.Description);
                                $('#StudentActivityId').val(result.model.EncStudentActivityId)
                                $('.create_studentactivity').show();

                                $('#ks_loader').hide();
                            }
                            else {
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        },
                        error: function (status, data) {
                            var err = "Error: " + " " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                })

                // dialog box
                $('#close_ViewBox').click(function () {
                    closedialog();
                });


                // function get date as string and return date
                function GetDateFromString(date) {
                    var datearry = date.split('/');
                    var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                    return returnFromDate;
                }


                $(document).on('click', '.clsclose', function () {
                    $('#EndDate').val("");
                    var row = $(this).parent().parent();

                    // function get date as string and return date
                    function GetDatMinString(date) {
                        //alert(date);
                        var datearry = date.split('/');
                        var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                        return returnMinDate;
                    }

                    //get min date according to issue date
                    mindate = GetDatMinString(kendo.toString(row.find("td:nth-child(3)").text(), "dd/MM/yyyy"));
                    $('#EndDate').val(row.find("td:nth-child(3)").text());
                    $('#EndDate').kendoDatePicker('min', mindate);

                    opendialog();
                    var studentactivityid = $(this).attr('data-id');
                    $('#save_ViewBox').attr('data-id', studentactivityid);
                    $('#rowindex').val($(this).parent().parent().index()); // row index
                })

                //close dialog box
                function closedialog() {
                    $('#rowindex').val('');
                    $("#ViewBox").hide(800);
                }

                //open dialog for end Date
                function opendialog() {
                    $(".viewbox_div").hide(800);
                    $("#ViewBox").show(800);
                }
                //save end date StudentActivity
                $('#save_ViewBox').click(function () {
                    $('#inner_validation_div ul').html('');
                    $('#ks_loader').show();

                    var studentactivityid = $(this).attr('data-id'); // student activity Id
                    var rowindex = $('#rowindex').val();

                    if ($('#EndDate').val() != "" && $('#EndDate').val() != null) {
                        var EndDate = $('#EndDate').val();
                        var date = GetDateFromString(EndDate);
                        // ajax call fro save row closing date
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("CloseStudentActivity", "Student"))',
                            data: { "studentactivityid": studentactivityid, "EndDate": date },
                            success: function (result) {
                                if (result.status == "success") {
                                    ToastMessage(result.msg, "success", true, 5000);
                                    $('#ks_loader').hide();
                                    window.location.reload();
                                }
                                else if (result.status == "validation") {
                                    ToastMessage(result.msg, "error", true, 5000);
                                }
                                else {
                                    ToastMessage(result.msg, "error", true, 5000);
                                }
                                $('#ks_loader').hide();
                            },
                            error: function (status, data) {
                                var err = "Error: " + " " + status + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                    else {
                        ToastMessage("Please enter End Date", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });

               
                //Delete Student Activity
                $(document).on('click', '.Delete_StudentActivity', function () {
                    if (confirm('Are you sure you want to delete this?') == true) {
                        $('#ks_loader').show();

                        var studentactivityid = $(this).attr('data-id'); // student activity Id
                        $('#rowindex').val($(this).parent().parent().index());
                        var rowindex = $('#rowindex').val();
                        // ajax call fro save row closing date
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("DeleteStudentActivity", "Student"))',
                            data: { "studentactivityid": studentactivityid },
                            success: function (result) {
                                if (result.status == "success") {
                                    ToastMessage(result.msg, "success", true, 5000);
                                    $('#ks_loader').hide();
                                    window.location.reload();
                                }
                                else {
                                    ToastMessage(result.msg, "error", true, 5000);
                                }
                                $('#ks_loader').hide();
                            },
                            error: function (status, data) {
                                var err = "Error: " + " " + status + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                });

            </script>
        }

        @*table for displaying Student Activities*@
        <div class="row  top-space-10">
            <div class="col-md-12">
                <table id="studentactivity_grid" class="table table-bordered table-responsive">
                    <thead class="thead-default">
                        <tr>
                            <th style="width: 15%">Extra Activity</th>
                            <th style="width: 10%">Description</th>
                            <th style="width: 10%">Effective Date</th>
                            <th style="width: 10%">End Date</th>
                            @if (Model.IsAdmin && Model.IsEdit)
                            {
                                <th class="text-center" style="width: 10%">Action</th>}
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.StudentActivityList.Count > 0)
                        {
                            foreach (var activity in Model.StudentActivityList)
                            {
                                <tr>
                                    <td class="ExtraActivity">@activity.ExtraActivity</td>
                                    <td class="Description">@activity.Description</td>
                                    <td class="EffectiveDate">@activity.EffectiveDate</td>
                                    <td class="enddate">@activity.EndDate</td>
                                    <td class="text-center">
                                        @if (Model.IsAdmin && Model.IsEdit)
                                        {
                                            if (string.IsNullOrEmpty(activity.EndDate))
                                            {
                                                <a href="javascript:void(0)" title="Edit Activity" data-toggle="tooltip" data-placement="top" class="Edit_StudentActivity btn btn-xs btn-default" data-id="@activity.EncStudentActivityId"><i class="fa fa-pencil "></i></a>
                                                <a href="javascript:void(0)" title="Delete Activity" data-toggle="tooltip" data-placement="top" class="Delete_StudentActivity btn btn-xs btn-default" data-id="@activity.EncStudentActivityId"><i class="fa fa-trash"></i></a>
                                                if (activity.IsPastDate)
                                                {
                                                    <a href="javascript:void(0)" title="Close Activity" data-toggle="tooltip" data-placement="top" data-id="@activity.EncStudentActivityId" class="clsclose btn btn-xs btn-default"><i class="fa fa-ban"></i></a>
                                                }
                                            }
                                            else if (!string.IsNullOrEmpty(activity.EndDate))
                                            {
                                                <span>N/A</span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-center" colspan="5">No data found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

        </script>
    </div>
</div>