﻿@model ViewModel.ViewModel.Student.StudentModel

<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Custody Right</label>
            <div class="col-md-8">
                @if (Model.AvailableActiveUsers.Count > 0 && Model.AvailableActiveUsers.Count != Model.AvailableActiveUsers.Where(m => m.Value == "False").Count())
                {
                    if (Model.AvailableActiveUsers.Count == Model.AvailableActiveUsers.Where(m => m.Value == "True").Count())
                    {
                        var all = "All";
                        @Html.CheckBox("All", new { @class = "clscustodyright", @Value = "All", @checked = true })@all
                        <text>
                            &nbsp;
                        </text>
                        foreach (var item in Model.AvailableActiveUsers)
                        {
                            @Html.CheckBox(@item.Text, new { @class = "clscustodyright disable", @Value = @item.Text, @checked = true, @disabled = true }) @item.Text
                            <text>
                                &nbsp;
                            </text>
                        }
                    }
                    else
                    {
                        var all = "All";
                        @Html.CheckBox("All", new { @class = "clscustodyright", @Value = "All" })@all
                        <text>
                            &nbsp;
                        </text>
                        foreach (var item in Model.AvailableActiveUsers)
                        {
                            if (item.Value == "True")
                            {
                                @Html.CheckBox(@item.Text, new { @class = "clscustodyright disable", @Value = @item.Text, @checked = true }) @item.Text
                                <text>
                                    &nbsp;
                                </text>
                            }
                            else
                            {
                                @Html.CheckBox(@item.Text, new { @class = "clscustodyright disable", @Value = @item.Text }) @item.Text
                                <text>
                                    &nbsp;
                                </text>
                            }
                        }
                        //@Html.RadioButtonFor(model => model.CustodyRight, item.Value, new { @class="clscustodyright",@id=""}) @item.Text
                    }
                }
                else
                {
                    if (Model.CustodyRight == "All")
                    {
                        if (Model.AvailableActiveUsers.Count > 0)
                        {
                            var all = "All";
                            @Html.CheckBox("All", new { @class = "clscustodyright", @Value = "All", @checked = true })@all
                            <text>
                                &nbsp;
                            </text>
                        }
                        foreach (var item in Model.AvailableActiveUsers)
                        {
                            @Html.CheckBox(@item.Text, new { @class = "clscustodyright disable", @Value = @item.Text, @checked = true, @disabled = true }) @item.Text
                            <text>
                                &nbsp;
                            </text>
                        }
                    }
                    else
                    {
                        if (Model.AvailableActiveUsers.Count > 0)
                        {
                            var all = "All";
                            @Html.CheckBox("All", new { @class = "clscustodyright", @Value = "All" })@all
                            <text>
                                &nbsp;
                            </text>
                        }
                        foreach (var item in Model.AvailableActiveUsers)
                        {

                            if (item.Text == Model.CustodyRight)
                            {
                                @Html.CheckBox(@item.Text, new { @class = "clscustodyright disable", @Value = @item.Text, @checked = true }) @item.Text
                            }
                            else
                            {
                                @Html.CheckBox(@item.Text, new { @class = "clscustodyright disable", @Value = @item.Text }) @item.Text
                            }
                            <text>
                                &nbsp;
                            </text>
                        }
                    }
                }

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Preferred Contact</label>
            <div class="col-md-8 istContact">
               
                @foreach (var usr in Model.AvailableRightsForIstContact)
                {
                    if (Model.IstContactId != null && Model.IstContactId == usr.CustodyRightId)
                    {
                        @Html.RadioButtonFor(model => model.CustodyRight, usr.CustodyRightId.ToString(), new {@id="istcntct", @class = "", @checked = "true" }) @usr.CustodyRightName
                        <text>
                            &nbsp;
                        </text>
                    }
                    else
                    {
                        @Html.RadioButtonFor(model => model.CustodyRight, usr.CustodyRightId.ToString(), new {@id="istcntct", @class = "", }) @usr.CustodyRightName
                        <text>
                            &nbsp;
                        </text>
                    }
                }
            </div>
        </div>
        </div>
    <!-- Form Coulmn -->    
</div>

<script>
  //  AvailableActiveUsers
    @*$('#@Model.CustodyRight').prop("checked", true);*@
    
    // save custody right on change
    $('.clscustodyright').on('click', function () {
        debugger;
        $('#ks_loader').show();
        var AllIsFalse = false;
        var CustodyRight = "";
        if ($(this).val() == "All") {
            if ($(this).prop("checked") == true) {
                $('.disable').prop('checked', true);
                $('.disable').attr("disabled", true);
            }
            else {
                //$('.disable').prop('checked', false);
                $('.disable').removeAttr("disabled");
                $('#ks_loader').hide();
                AllIsFalse = true;
            }
        }
        else if ($(this).prop("checked") == false) {
            debugger;
            if ($('.disable').length > 0) {
                var rv = true;
                var count = 0;
                $('.disable').each(function (index, value) {

                    if ($(this).prop("checked") == false) {
                        count++;

                        if (count == $('.disable').length) {
                            alert("Atleast One CustodyRight Is Required")
                            rv = false;
                            return;
                        }
                    }

                })
                if (rv == false) {
                    $('#ks_loader').hide();
                    return rv;
                }
            }
        }
        CustodyRight = $(this).val();
        var IsCustodyRight = $(this).prop("checked");
        if (!AllIsFalse) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("ManageCustodyRight", "Student"))',
                data: { "CustodyRight": CustodyRight, "IsCustodyRight": IsCustodyRight, "StudentId": "@Model.EncStudentId" },
                success: function (result) {
                    if (result.status == "success") {
                        $(".istContact").html("");
                        var html = "";
                        if (result.AvailableRightsForIstContact.length > 0) {
                            $(result.AvailableRightsForIstContact).each(function (index, value) {
                                if (this.IsActive == true || this.IsActive == "true") {
                                    html += '<input checked class="" id="istcntct" name="CustodyRight" type="radio" value="' + this.CustodyRightId + '"> ' + this.CustodyRightName + '';
                                } else{
                                    html +='<input class="" id="istcntct" name="CustodyRight" type="radio" value="' + this.CustodyRightId + '"> ' + this.CustodyRightName + '';
                                }
                                html += '&nbsp;';
                            })
                            $(".istContact").append(html);
                        }
                        ToastMessage("Custody right updated successfully", "success", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });
    $(document).on("change", "input[name='CustodyRight']", function () {
       var value = $(this).val();
       if (value != "" && value != null) {
           $.ajax({
               type: "POST",
               url: '@Html.Raw(Url.Action("ManageIstContact", "Student"))',
               data: { "IstContactId":value, "StudentId": "@Model.EncStudentId" },
               success: function (result) {
                   if (result.status == "success") {
                       ToastMessage(result.mes, "success", true, 5000);
                       $('#ks_loader').hide();
                   } else {
                        ToastMessage(result.mes, "success", true, 5000);
                        $('#ks_loader').hide();
                   }
               },
               error: function (xhr, status, data) {
                   var err = "Error: " + " " + status + " " + data;
                   ToastMessage(err, "error", true, 5000);
                   $('#ks_loader').hide();
               }
           });
       }
    })
</script>
