﻿@model ViewModel.ViewModel.Student.StudentProfileModel

<style>
    #TotalPayAmt {
        color: blue;
        font-weight: bold;
        font-size: 14px;
    }

    .paystyleLabel {
        font-size: 16px !important;
    }

    .payMessage {
        box-shadow: 0 0 9px #eaeaea;
        text-align: center;
        width: 100%;
        float: left;
        padding: 40px;
        border-radius: 8px;
    }

        .payMessage img {
            max-width: 100%;
            width: 150px;
            margin: 30px auto;
            display: block;
        }

        .payMessage h3 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 20px;
            letter-spacing: 1px;
            color: #696969;
        }
</style>

<ul class="nav nav-tabs">
    <li><a href="@Html.Raw(Url.Action("StudentProfile", "Student", new { id = Model.EncStudentId }))">Admission Form</a></li>
    @if (Model.FeeCheck)
    {
        <li class="active"><a data-toggle="tab" href="#Fee">Fee</a></li>
    }
    <li><a href="@Html.Raw(Url.Action("StudentTransport", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Transport</a></li>
    <li><a href="@Html.Raw(Url.Action("StudentAttendance", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Attendance</a></li>
    <li><a href="@Html.Raw(Url.Action("PreviousClassDetail", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Previous Class Detail</a></li>
    <li><a href="@Html.Raw(Url.Action("StudentActivitiesList", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Student Activities</a></li>
</ul>
@*PopUpShowPaymentDetail*@
<div class="modal-popup" id="PayFeeDetail_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-5">
                    <h4 class="modal-title" style="font-size: 20px;font-weight: bold;"
                        id="PayFeeDetail_Label">
                        Amount Confirmation
                    </h4>
                </div>
                <div class="col-md-7">
                    <button type="button" id="PayFeeDetail_Close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
            </div>
            <div class="modal-body" style="overflow:auto;">
                <div class="col-md-12">
                    <div class="well form-group" style="text-align: center;">
                        <label class="paystyleLabel">All pending amount have been included.</label>
                        <br />
                        <label class="paystyleLabel">Total payable would be </label>
                        <label id="TotalPayAmt" class="paystyleLabel"></label>.
                        <br />
                        <label class="paystyleLabel"> You want to proceed ?</label>
                        <br />
                        <button type="button" id="PayFeeDetail_Yes" class="btn btn-primary">Yes</button>
                        <button type="button" id="PayFeeDetail_No" class="btn btn-default">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    <div id="Fee" class="tab-pane fade in active">
        <div class="top-space-10">
            <div class="col-md-2">
                <label>Session</label>
                @Html.DropDownListFor(x => x.SessionId, Model.AvailableSessions, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <label>Receipt Type</label>
                @Html.DropDownListFor(x => x.ReceiptTypeId, Model.AvailableReceiptTypes, new { @class = "form-control" })
            </div>

            <div class="top-space-10">
                <br />
                <table class="table table-bordered table-condensed table-striped table-responsive" id="tblFeeRecipts">
                    <thead class="thead-default">
                        <tr>
                            <th>Receipt No.</th>
                            <th>Receipt Date</th>
                            <th>Fee Type</th>
                            <th>Fee Period</th>
                            <th>Payable Fees</th>
                            <th>Paid Fees</th>
                            <th>Pending/Excess Fees</th>
                            <th>Carry Forward Fees</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@{
                            if (Model.StudentFeeReceiptList.Count > 0)
                            {
                                foreach (var item in Model.StudentFeeReceiptList)
                                {
                                    <tr>
                                        <td hidden>@item.FeeTypeId</td>
                                        <td>@item.ReceiptNo</td>
                                        <td>@item.ReciptDate</td>
                                        <td>@item.FeeType</td>
                                        <td>@item.FeePeriod</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.PaidFee))
                                            {
                                                <i class="fa @Model.CurrencyIcon"></i>
                                            }
                                            @item.PaidFee
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.PaidAmount))
                                            {
                                                <i class="fa @Model.CurrencyIcon"></i>
                                            }
                                            @item.PaidAmount
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.PendingFee))
                                            {
                                                <i class="fa @Model.CurrencyIcon"></i>
                                            }
                                            @item.PendingFee
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.CarryForwardFees))
                                            {
                                                <i class="fa @Model.CurrencyIcon"></i>
                                            }
                                            @item.CarryForwardFees
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.EncFeeReceiptId))
                                            {
                                                <a title="View" data-toggle="tooltip" data-placement="top" target="_blank"
                                                   class="btn btn-xs btn-default clsViewReceipt" href="javascript:void(0);"
                                                   data-receiptid="@item.EncFeeReceiptId"><i class=" fa fa-eye"></i></a>
                                                if (Model.UserType == "Guardian" || Model.UserType == "Student")
                                                {
                                                    if (item.IsPayOnline)
                                                    {
                                                        <a title="Pay Now" data-toggle="tooltip" data-placement="top"
                                                           class="btn btn-xs btn-default PayFee" data-id="@item.EncFeeReceiptId" data-idstu="@item.EncStudentId"
                                                           data-id2="@item.PendingFee" data-feeperiodid='@item.EncFeePeriodId'
                                                           href="javascript:void(0);" data-receiptdate='@item.ReciptDate'>
                                                            <i class="fa fa-credit-card"></i>
                                                        </a>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                if (Model.UserType == "Guardian" || Model.UserType == "Student")
                                                {
                                                    if (item.IsPayOnline)
                                                    {
                                                        <a title="Pay Now" data-toggle="tooltip" data-placement="top"
                                                           class="btn btn-xs btn-default PayFee" data-id="@item.EncFeeReceiptId" data-idstu="@item.EncStudentId"
                                                           data-id2="@item.PendingFee" href="javascript:void(0);"
                                                           data-feeperiodid='@item.EncFeePeriodId' data-receiptdate='@item.ReciptDate'>
                                                            <i class="fa fa-credit-card"></i>
                                                        </a>
                                                    }
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center">
                                        No data found
                                    </td>
                                </tr>
                            }
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })

    var StudentId = '@Model.EncStudentId';
    var IsSucceed = '@Model.IsPaymentSucceed';
    $(document).ready(function () {
        $("#ReceiptTypeId").trigger("change");


        if (window.location.search.includes("PgRequestId")) {
            if (IsSucceed == "True") {
                $("#PaySuccessMsg_div").show();
            }
            else {
                $("#PayFailedMsg_div").show();
            }
        }
    });

    $("#PaySuccessMsg_Close").click(function () {
        $("#PaySuccessMsg_div").hide();
    });
    $("#PayFailedMsg_Close").click(function () {
        $("#PayFailedMsg_div").hide();
    });


    $("#ReceiptTypeId").change(function () {
        $('#ks_loader').show();
        $("#tblFeeRecipts tbody").html("");
        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetFeeReceiptByReceiptType", "Student"))',
            data: { "ReceiptTypeId": $(this).val(), "Id": StudentId, "SessionId": $("#SessionId").val() },
            success: function (result) {
                if (result.StudentFeeReceiptList.length > 0) {
                    var html = "";
                    $.each(result.StudentFeeReceiptList, function (i) {
                        var CurrencyClass = "";
                        if (result.StudentFeeReceiptList[i].PaidFee != "" ||
                            result.StudentFeeReceiptList[i].PaidAmount != "" ||
                            result.StudentFeeReceiptList[i].PendingFee != "" ||
                             result.StudentFeeReceiptList[i].CarryForwardFees != "") {
                            CurrencyClass = "fa " + result.CurrencyIcon;
                        }

                        html += "<tr>";
                        html += "<td hidden>" + result.StudentFeeReceiptList[i].FeeTypeId + "</td>"
                        html += "<td>" + result.StudentFeeReceiptList[i].ReceiptNo + "</td>";
                        html += "<td>" + result.StudentFeeReceiptList[i].ReciptDate + "</td>";
                        html += "<td>" + result.StudentFeeReceiptList[i].FeeType + "</td>";
                        html += "<td>" + result.StudentFeeReceiptList[i].FeePeriod + "</td>";
                        if (result.StudentFeeReceiptList[i].PaidFee != "")
                            html += "<td> <i class=" + CurrencyClass + "></i>" + result.StudentFeeReceiptList[i].PaidFee + "</td>";
                        else
                            html += "<td></td>";

                        if (result.StudentFeeReceiptList[i].PaidAmount != "")
                            html += "<td> <i class=" + CurrencyClass + "></i>" + result.StudentFeeReceiptList[i].PaidAmount + "</td>";
                        else
                            html += "<td></td>";

                        if (result.StudentFeeReceiptList[i].PendingFee != "")
                            html += "<td> <i class=" + CurrencyClass + "></i>" + result.StudentFeeReceiptList[i].PendingFee + "</td>";
                        else
                            html += "<td></td>";

                        if (result.StudentFeeReceiptList[i].CarryForwardFees != "")
                            html += "<td> <i class=" + CurrencyClass + "></i>" + result.StudentFeeReceiptList[i].CarryForwardFees + "</td>";
                        else
                            html += "<td></td>";

                        html += "<td>";
                        if (result.StudentFeeReceiptList[i].EncFeeReceiptId != "") {
                            html += "<a title='View' data-toggle='tooltip' data-placement='top' target='_blank' " +
                                     "data-receiptId='" + result.StudentFeeReceiptList[i].EncFeeReceiptId + "' class='btn btn-xs btn-default clsViewReceipt' href='javascript:void(0);'>" +
                                     "<i class='fa fa-eye'></i></a></td>";
                        }

                        if (result.Type == "Guardian"||result.Type == "Student") {
                            if (result.StudentFeeReceiptList[i].IsPayOnline) {
                                html += "<a title='Pay Now' data-toggle='tooltip' data-placement='top'" +
                                        "class='btn btn-xs btn-default PayFee' data-id='" + result.StudentFeeReceiptList[i].EncFeeReceiptId + "'" +
                                        "data-idstu='" + result.StudentFeeReceiptList[i].EncStudentId + "' data-id2='" + result.StudentFeeReceiptList[i].PendingFee + "'" +
                                        " data-feeperiodid='" + result.StudentFeeReceiptList[i].EncFeePeriodId + "'" +
                                        " data-receiptdate='" + result.StudentFeeReceiptList[i].ReciptDate + "' href='javascript:void(0);'>" +
                                        "<i class='fa fa-credit-card'></i></a>";
                            }
                        }
                        html += "</td>";
                        html += "</tr>";

                    });
                    $("#tblFeeRecipts tbody").append(html);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    $(document).on("click",".clsViewReceipt", function () {
        var EncReciptId = $(this).attr("data-receiptId");
        if (EncReciptId != "")
            window.open('@Html.Raw(Url.Action("ViewFeeReceipt", "Fee"))?Id=' + EncReciptId, '_blank');
        else
            ToastMessage("Receipt not defined", "error", true, 5000);
    });

    $("#SessionId").change(function () {
        $('#ks_loader').show();
        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetFeeReceiptBySession", "Student"))',
            data: { "ReceiptTypeId": $("#ReceiptTypeId").val(), "Id": StudentId, "SessionId": $("#SessionId").val() },
            success: function (result) {
                $("#tblFeeRecipts tbody").html("");
                if (result.StudentFeeReceiptList.length > 0) {
                    var html = "";
                    $.each(result.StudentFeeReceiptList, function (i) {
                        var CurrencyClass = "";
                        if (result.StudentFeeReceiptList[i].PaidFee != "" ||
                            result.StudentFeeReceiptList[i].PaidAmount != "" ||
                            result.StudentFeeReceiptList[i].PendingFee != "" ||
                             result.StudentFeeReceiptList[i].CarryForwardFees != "") {
                            CurrencyClass = "fa " + result.CurrencyIcon;
                        }

                        html += "<tr>";
                        html += "<td hidden>" + result.StudentFeeReceiptList[i].FeeTypeId + "</td>"
                        html += "<td>" + result.StudentFeeReceiptList[i].ReceiptNo + "</td>";
                        html += "<td>" + result.StudentFeeReceiptList[i].ReciptDate + "</td>";
                        html += "<td>" + result.StudentFeeReceiptList[i].FeeType + "</td>";
                        html += "<td>" + result.StudentFeeReceiptList[i].FeePeriod + "</td>";
                        if (result.StudentFeeReceiptList[i].PaidFee != "")
                            html += "<td> <i class=" + CurrencyClass + "></i>" + result.StudentFeeReceiptList[i].PaidFee + "</td>";
                        else
                            html += "<td></td>";

                        if (result.StudentFeeReceiptList[i].PaidAmount != "")
                            html += "<td> <i class=" + CurrencyClass + "></i>" + result.StudentFeeReceiptList[i].PaidAmount + "</td>";
                        else
                            html += "<td></td>";

                        if (result.StudentFeeReceiptList[i].PendingFee != "")
                            html += "<td> <i class=" + CurrencyClass + "></i>" + result.StudentFeeReceiptList[i].PendingFee + "</td>";
                        else
                            html += "<td></td>";

                        if (result.StudentFeeReceiptList[i].CarryForwardFees != "")
                            html += "<td> <i class=" + CurrencyClass + "></i>" + result.StudentFeeReceiptList[i].CarryForwardFees + "</td>";
                        else
                            html += "<td></td>";

                        html += "<td>";
                        if (result.StudentFeeReceiptList[i].EncFeeReceiptId != "") {
                            html += "<a title='View' data-toggle='tooltip' data-placement='top' target='_blank' " +
                                     "data-receiptId='" + result.StudentFeeReceiptList[i].EncFeeReceiptId + "' class='btn btn-xs btn-default clsViewReceipt' href='javascript:void(0);'>" +
                                     "<i class='fa fa-eye'></i></a></td>";
                        }

                        //if (result.Type == "Guardian") {
                        //    if (result.StudentFeeReceiptList[i].IsPayOnline) {
                        //        html += "<a title='Pay Now' data-toggle='tooltip' data-placement='top'" +
                        //                "class='btn btn-xs btn-default PayFee' data-id='" + result.StudentFeeReceiptList[i].EncFeeReceiptId + "'" +
                        //                "data-idstu='" + result.StudentFeeReceiptList[i].EncStudentId + "' data-id2='" + result.StudentFeeReceiptList[i].PendingFee + "'" +
                        //                "href='javascript:void(0);'><i class='fa fa-credit-card'></i></a>";
                        //    }
                        //}
                        if (result.Type == "Guardian"||result.Type == "Student") {
                            if (result.StudentFeeReceiptList[i].IsPayOnline) {
                                html += "<a title='Pay Now' data-toggle='tooltip' data-placement='top'" +
                                        "class='btn btn-xs btn-default PayFee' data-id='" + result.StudentFeeReceiptList[i].EncFeeReceiptId + "'" +
                                        "data-idstu='" + result.StudentFeeReceiptList[i].EncStudentId + "' data-id2='" + result.StudentFeeReceiptList[i].PendingFee + "'" +
                                        " data-feeperiodid='" + result.StudentFeeReceiptList[i].EncFeePeriodId + "'" +
                                        " data-receiptdate='" + result.StudentFeeReceiptList[i].ReciptDate + "' href='javascript:void(0);'>" +
                                        "<i class='fa fa-credit-card'></i></a>";
                            }
                        }
                        html += "</td>";
                        html += "</tr>";

                    });
                    $("#tblFeeRecipts tbody").append(html);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    var TotalPay = 0;
    var EncFeePeriodId = "";
    var EncFeeTypeId = "";
    var Fee_type = "";
    $(document).on("click", ".PayFee",function () {
        $('#ks_loader').show();

        var ReceiptId = $(this).attr("data-id");
        var PendingFee = $(this).attr("data-id2");
        var EncStudentId = $(this).attr("data-idStu");
        EncFeePeriodId = $(this).attr("data-feeperiodid");
        var StringReceiptDate = $(this).attr("data-receiptdate");


        var row = $(this).parent().parent();
        Fee_type = row.find("td:nth-child(4)").text();
        EncFeeTypeId = row.find("td:nth-child(1)").text();
        $("#PayFeeDetail_div").find("#TotalPayAmt").html("");
        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("TotalAmountOnlinePay", "Student"))',
            data: {
                "StudentId": EncStudentId, "FeePeriodId": EncFeePeriodId, "SessionId": $("#SessionId").val(),
                "ReceiptTypeId": $("#ReceiptTypeId").val(), "ReceiptDate": StringReceiptDate,
                "FeeType": Fee_type
            },
            success: function (result) {
                if (result.status == "success") {
                    TotalPay = parseInt(result.TotalAmountPay);
                    $("#PayFeeDetail_div").find("#TotalPayAmt").html("<i class='fa fa fa-inr'></i>" + result.TotalAmountPay);
                    $("#PayFeeDetail_div").show();
                }
                else if (result.status == "failed")
                    ToastMessage("Error happened in calculation of TotalPayAmt", "error", true, 5000);

                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    $("#PayFeeDetail_Yes").click(function () {
        $('#ks_loader').show();
        $("#PayFeeDetail_div").hide();
        $.ajax({
            type: "Get",
            url: '@Html.Raw(Url.Action("PaymentProcess", "Student"))',
            data: {"EncStudentId":'@Model.EncStudentId', "PayableFee": TotalPay ,"SessionId": $("#SessionId").val(), "FeePeriodId" : EncFeePeriodId , "ReceiptTypeId" : $("#ReceiptTypeId").val(),
                                            "LoggedInUserId": '@Model.LoggedInUserId' ,"UserType" : '@Model.UserType', "FeeType" : Fee_type},
            success: function (result) {
                if (result.status == "success") {
                    @*window.location.href = "@Html.Raw(Url.Action("Initiate", "Payment"))?EncStudentId=" + '@Model.EncStudentId'
                                            + "&PayableFee=" + TotalPay + "&SessionId=" + $("#SessionId").val()
                                            + "&FeePeriodId=" + EncFeePeriodId + "&ReceiptTypeId=" + $("#ReceiptTypeId").val()
                                            + "&LoggedInUserId=" + '@Model.LoggedInUserId' + "&UserType=" + '@Model.UserType'
                                            + "&FeeType=" + Fee_type;*@
                    window.location.href = "@Html.Raw(Url.Action("Initiate", "Payment"))?rst=" + result.data;
                }
                else {
                ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });


    $("#PayFeeDetail_No").click(function () {
        $("#PayFeeDetail_div").hide();
    });

    $("#PayFeeDetail_Close").click(function () {
        $("#PayFeeDetail_div").hide();
    });
</script>
