﻿@model ViewModel.ViewModel.Student.StudentModel
<!-- Form Row -->

<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Blood Group</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.BloodGroupId, Model.AvailableBloodGroup, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-8">
        <div class="form-group">
            <label class="col-md-2 control-label">Allergy</label><!-- Form Label -->
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Allergies, 1, 20, new { @class = "form-control", @style = "resize: none", @maxlength = "20" })
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
</div>
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-2 control-label">Regular Medicine</label><!-- Form Label -->
            <div class="col-md-10">
               @Html.TextAreaFor(model => model.RegularMedicine, 1, 100, new { @class = "form-control", @style = "resize: none", @maxlength = "100" })
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-2 control-label">Medical History</label><!-- Form Label -->
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MedicalHistory, 1, 100, new { @class = "form-control", @style = "resize: none", @maxlength = "100" })
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
</div>
<!-- Form Row -->
<script>
    $(function () {
        $(".submit-OtherDetails").click(function () {
            var IsValid = DetailValidation();
            if (IsValid) {
                window.onbeforeunload = null;
                $("#OtherDetailUpdated").val($(this).parent().parent().parent().attr('id'));
            }
            else {
                var validationaray = Detailvalidationmessage.split('\n');
                for (var i = 0; i < validationaray.length - 1; i++) {
                    ToastMessage(validationaray[i], "error", true, 5000);
                }
                $(Detailctrlfocus).focus();

                return false;
            }
        })
    })
    // validation function
    var Detailvalid = true;
    var Detailvalidationmessage = "";
    var Detailctrlfocus = "";
    function DetailValidation() {
        Detailvalid = true;
        Detailvalidationmessage = "";
        Detailctrlfocus = "";

        //if ($("#BloodGroupId").val() == "") {
        //    if (Detailctrlfocus == "")
        //        Detailctrlfocus = "#BloodGroupId";
        //    Detailvalidationmessage = Detailvalidationmessage + "Please select Blood Group \n";
        //    Detailvalid = false;
        //}
        return Detailvalid;
    }
</script>
