﻿@model ViewModel.ViewModel.Student.StudentModel

@Html.HiddenFor(model => model.DocumentArray)

<div class="modal-popup" id="Img_div" hidden>
    <div class="modal-popup-body autostyles" style="">
        <div class="modal-content">

            <div class="row modal-body" style="padding:0px;margin:0px">
                <img id="uploadResult" src="" style="visibility:hidden" />
                <div style="    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;">
                    <button type="button" name="save" class="btn btn-success downloadImage" >
                        Download
                    </button>
                    <button type="button" name="save" class="btn btn-danger closeimagediv " >
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="document-Parent-div-row">
    @if (Model.AttachedDocumentModellist.Count > 0)
    {
        int rowcount = 1;
        @Html.DropDownList("AttachedDocumentModel_AttachDocumentTypeId", Model.AttachedDocumentModel.AvailableDocumentType, new { @class = "form-control hidden", @style = "width: 100%" })
        foreach (var doc in Model.AttachedDocumentModellist)
        {

            string doctypeattr = "", description = "";
            doctypeattr = "AttachedDocumentModel_AttachDocumentTypeId" + rowcount;
            description = "AttachedDocumentModel_Description" + rowcount;
            <div class="row">

                <input type="hidden" class="clsdocnumber" value="@rowcount">
                <input type="hidden" class="clsdocId" value="@doc.AttachDocumentId">
                @if (doc.IsMultipleAllowed != null && (bool)doc.IsMultipleAllowed)
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Document Type</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DropDownList(doctypeattr, Model.AttachedDocumentModel.AvailableDocumentType, new { @class = "drop-down form-control clsdoctype", @style = "width: 100%" })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @Html.Hidden("document", doc.AttachDocumentTypeId, new { @class = "clsdocumentType" })
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Document Type</label><!-- Form Label -->
                            <div class="col-md-8">
                                <label name="documentlabel" class="label-as-control">@doc.DocumentType</label>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Description</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextBox(description, null, new { @class = "form-control clsdesc" })
                        </div>
                    </div>
                </div>
                <!-- Form Coulmn -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            @{
                string[] imgary = doc.Image.Split('/');
                string filname = imgary[imgary.Length - 1];
                string docfileattr = "DocumentFile" + rowcount;
                string filenameattr = "document-imagename" + rowcount;
                <input type="file" accept=".png,.jpg,.jpeg" name="DocumentFile" id="@docfileattr" class="form-control clsdoc" />
                                <span class="clsimg" hidden id="@filenameattr">@doc.Image</span>
                            }
                        </div>
                        @if (!string.IsNullOrEmpty(filname)) { 
                        <div class="col-md-2">
                            <a href="javascript:void" class="openimage">
                                <img width="40" height="40" src="@doc.Image" />
                            </a>

                        </div>
                        }
                        @*<div class="col-md-2 gallery">
                                <a href="@doc.Image" id="openimage">
                                    <img width="40" height="40" src="@doc.Image" />
                                </a>
                            </div>*@
                        <div class="col-md-2">
                            @if (rowcount == 1)
                            {
                                <a href="javascript:void" class="btn btn-success btn-xs" title="Add new Document" data-toggle="tooltip" data-placement="top" id="add-new-document">
                                    <i class="fa fa-plus"></i>
                                </a>
                            }
                            @*else
                                    {
                                        <a href="javascript:void" class="btn btn-danger btn-xs removerow" title="Remove Document" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                }*@
                            <a href="javascript:void" title="Delete Document" data-toggle="tooltip" data-placement="top" class="delete-document btn btn-danger btn-xs">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Form Coulmn -->
            </div>
            <script>

                $('#@doctypeattr').val('@doc.AttachDocumentTypeId').trigger("change");
                $('#@description').val('@doc.Description');

                $('.openimage').click(function () {
                    var image = $(this).find('img').attr('src');
                    var tmpImg = new Image();
                    tmpImg.src = image; //or  document.images[i].src;
                    $(tmpImg).on('load', function () {
                        orgWidth = tmpImg.width;
                        orgHeight = tmpImg.height;
                        $('.autostyles').css('width', orgWidth);
                        $('.autostyles').css('height', orgHeight);

                    });
                    $('#Img_div').show();
                    $('#uploadResult').css('visibility', 'visible')
                    $('#uploadResult').attr('src', image)

                    // var gallery = $('.gallery a').simpleLightbox();

                });
                $('.closeimagediv').click(function () {
                    $('#Img_div').hide();
                })
                $('.downloadImage').click(function () {
                    var image = '@doc.Image';
                    var a = document.createElement('a');
                    a.href = image;
                    a.download = image;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                })

            </script>
                            rowcount++;
        }
        <div id="document-child-div-rows">
        </div>
    }
    else
    {
            <!-- Form Row -->
        <div class="row">
            <input type="hidden" class="clsdocnumber" value="1">
            <input type="hidden" class="clsdocId" value="">
            <!-- Form Coulmn -->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Document Type</label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.AttachedDocumentModel.AttachDocumentTypeId, Model.AttachedDocumentModel.AvailableDocumentType, new { @class = "drop-down form-control clsdoctype", @Id = "AttachedDocumentModel_AttachDocumentTypeId1", @style = "width: 100%" })
                    </div>
                </div>
            </div>
            <!-- Form Coulmn -->
            <!-- Form Coulmn -->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Description</label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.AttachedDocumentModel.Description, new { @class = "form-control clsdesc", @Id = "AttachedDocumentModel_Description1" })
                    </div>
                </div>
            </div>
            <!-- Form Coulmn -->
            <!-- Form Coulmn -->
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-8">
                        <input accept=".png,.jpg,.jpeg" type="file" name="DocumentFile" id="DocumentFile1" class="form-control clsdoc" />
                        <span class="clsimg" hidden id="document-imagename1"></span>
                    </div>
                    <!-- Form Coulmn -->
                    <div class="col-md-2">
                        <a href="javascript:void" class="btn btn-success btn-xs" title="Add new Document" data-toggle="tooltip" data-placement="top" id="add-new-document">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Form Coulmn -->
        </div>
        <div id="document-child-div-rows">
        </div>
    }
</div>


<script type="text/javascript">
    // add new row
    var counter = 1;
    @if (Model.AttachedDocumentModellist.Count > 0)
    {
        <text>
    counter = @Model.AttachedDocumentModellist.Count +0;
    </text>
    }

    $(".delete-document").click(function () {
        var docId = parseInt($(this).parent().parent().parent().parent().find('.clsdocId').val());
        if (confirm("Are you sure want to delete this document.") == true) {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteDocument", "Student"))',
                data: { "docId": docId },
                success: function (res) {
                    if (res.status == "success" && res.data != "") {
                        ToastMessage(res.data, "success", true, 5000);
                        $('#ks_loader').hide();
                        window.location.reload();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })
        }
    })

    $('#add-new-document').click(function () {
        var docfunvalid = DocumentValid(counter);
        if (docfunvalid) {
            counter = counter + 1;
            var rows = "<div class='row'>"
            + "<input type='hidden' class='clsdocnumber' value='" + counter + "'>"
            + "<input type='hidden' class='clsdocId' value=''>";
            var column = "<div class='col-md-4'><div class='form-group'>";
            var label = "<label class='col-md-4 control-label'>";
            // dropdown
            if ($('label[name="documentlabel"]').length > 0) {
                var $ddl = $("#AttachedDocumentModel_AttachDocumentTypeId  > option").clone();
            }
            else {
                var $ddl = $("#AttachedDocumentModel_AttachDocumentTypeId1  > option").clone();
            }
            // dropdown document type
            var inputdiv1 = column + label + 'Document Type</label><div class="col-md-8"><select class="form-control select2-drop-down clsdoctype" id="AttachedDocumentModel_AttachDocumentTypeId' + counter + '" name="AttachedDocumentModel.AttachDocumentTypeId' + counter + '"></select></div></div></div>';
            // Description
            var inputdiv2 = column + label + 'Description</label><div class="col-md-8"><input class="form-control clsdesc" id="AttachedDocumentModel_Description' + counter + '" name="AttachedDocumentModel_Description' + counter + '" type="text" ></div></div></div>';
            // remove button
            var removebtn = '<div class="col-md-2"><a href="javascript:void" class="btn btn-danger btn-xs removerow" title="Remove Document" data-toggle="tooltip" data-placement="top"><i class="fa fa-minus"></i></a></div>';
            // document
            var inputdiv3 = column + '<div class="col-md-10"><input class="form-control clsdoc" id="DocumentFile' + counter + '" name="DocumentFile' + counter + '" type="file" accept=".png,.jpg,.jpeg"><span class="clsimg" hidden id="document-imagename' + counter + '"></span></div>' + removebtn + '</div></div>';

            var finaloutput = rows + inputdiv1 + inputdiv2 + inputdiv3 + "</div>";

            $("#document-child-div-rows").append(finaloutput);
            $('#AttachedDocumentModel_AttachDocumentTypeId' + counter + '').append($ddl);
            $(".select2-drop-down").select2();
        }
        else {
            alert(Docvalidationmessage);
            $(Docctrlfocus).focus();
        }
    });

    // validation function
    var Docvalid = true;
    var Docvalidationmessage = "";
    var Docctrlfocus = "";
    function DocumentValid(count) {
        Docvalid = true;
        Docvalidationmessage = "";
        Docctrlfocus = "";

        var prefix = "";
        if (count != 0)
            prefix = count;

        if ($('#AttachedDocumentModel_AttachDocumentTypeId' + prefix).val() == "") {
            if (Docctrlfocus == "")
                Docctrlfocus = "#AttachedDocumentModel_AttachDocumentTypeId" + prefix;
            Docvalidationmessage = Docvalidationmessage + "Please select Document type \n";
            Docvalid = false;
        }

        //if ($('#document-imagename' + prefix).parent().length > 0) {
        //    if ($('#document-imagename' + prefix).text() == "") {
        //        if (Docctrlfocus == "")
        //            Docctrlfocus = "#DocumentFile" + prefix;
        //        Docvalidationmessage = Docvalidationmessage + "Please upload document \n";
        //        Docvalid = false;
        //    }
        //}

        return Docvalid;
    }

    //remove row
    //$('.removerow').on("click", function () {
    $('body').on('click', '.removerow', function () {
        var del = $(this).parent().parent().parent().parent();
        del.html('');
    });

    $('body').on('change', '.clsdoc', function (e) {
        var uniqueno = "@Model.StudentId";
        var uiquevalue = $(this).parent().parent().parent().parent().find('.clsdocnumber').val();
        if (uiquevalue == 0)
            uiquevalue = 1;
        var imagename = FileUpload(e, uniqueno, uiquevalue, 0);
        if (imagename != "")
            $('#document-imagename' + uiquevalue).text(imagename);
        else {
            $('#DocumentFile' + uiquevalue).val('');
            $('#DocumentFile' + uiquevalue).val('');
            $('#document-imagename' + uiquevalue).text('');
        }
    });
    $(function () {
        $("#Submit-Documents").click(function () {
            $("#DocumentsUpdated").val($(this).parent().parent().parent().attr('id'));
            var AttachedDocumentModel = new Array();
            var AttachedDocumentModelObj = new Object();
            var IsValid = DocumentValid(counter);
            if (IsValid) {
                window.onbeforeunload = null;
                $('#document-Parent-div-row .row').each(function () {
                    var row = $(this);
                    AttachedDocumentModelObj = new Object();

                    if (row.find('.clsdoctype').val() == undefined || row.find('.clsdoctype').val() == "") {
                        AttachedDocumentModelObj.AttachDocumentTypeId = row.find(".clsdocumentType").val();
                    }
                    else {
                        AttachedDocumentModelObj.AttachDocumentTypeId = row.find('.clsdoctype').val();
                    }
                    AttachedDocumentModelObj.AttachDocumentId = row.find('.clsdocId').val();
                    AttachedDocumentModelObj.Image = row.find('.clsimg').text();
                    AttachedDocumentModelObj.Description = row.find('.clsdesc').val();

                    AttachedDocumentModel.push(AttachedDocumentModelObj);
                });
                $('#DocumentArray').val(JSON.stringify(AttachedDocumentModel));

            }
            else {
                var validationaray = Docvalidationmessage.split('\n');
                for (var i = 0; i < validationaray.length - 1; i++) {
                    ToastMessage(validationaray[i], "error", true, 5000);
                }
                $(Docctrlfocus).focus();

                return false;

            }
        })
    })
</script>