﻿@model ViewModel.ViewModel.Student.StudentProfileModel

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Admn">Admission Form</a></li>
    @if (Model.FeeCheck)
    {
        <li><a href="@Html.Raw(Url.Action("StudentFees", "Student", new { id = Model.EncStudentId, IsEdit = false, 
                        SessionId = Model.SessionId,UserType=Model.UserType }))">Fee</a></li>
    }
    <li><a href="@Html.Raw(Url.Action("StudentTransport", "Student", new { id = Model.EncStudentId, IsEdit = false,SessionId = Model.SessionId }))">Transport</a></li>
    <li><a href="@Html.Raw(Url.Action("StudentAttendance", "Student", new { id = Model.EncStudentId, IsEdit = false,SessionId = Model.SessionId }))">Attendance</a></li>
    <li><a href="@Html.Raw(Url.Action("PreviousClassDetail", "Student", new { id = Model.EncStudentId, IsEdit = false,SessionId = Model.SessionId }))">Previous Class Detail</a></li>
    <li><a href="@Html.Raw(Url.Action("StudentActivitiesList", "Student", new { id = Model.EncStudentId, IsEdit = false,SessionId = Model.SessionId }))">Student Activities</a></li>
</ul>

<div class="tab-content">
    <div id="Admn" class="tab-pane fade in active">
        <div class="row top-space-10">
            <div class="col-md-12">
                <h4>Student Information</h4>     
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Reg No.:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.RegistrationNo)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Admn No.:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.AdmissionNo)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Name:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.StudentName)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Aadhar No:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.AadharCard)
                        </div><!-- Form Field -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">DOB:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.DOB)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Date of Admn.:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.AdmissionDate)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Email:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.Email)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Gender:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.Gender)
                        </div><!-- Form Field -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Category:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.Category)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Nationality:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.Nationality)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Religion:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.Religion)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Standard:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.EnteranceStandard)
                        </div><!-- Form Field -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Class:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.EnteranceClass)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">SRN:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.SRN)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Portal Enrollment no.:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.PortalEnrolno)
                        </div><!-- Form Field -->
                    </div>
                </div>
            </div>

            <hr style="margin-top: 0;margin-bottom: 5px;" />

            <div class="col-md-12">
                <h4>Student Address</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="" class=" table table-bordered table-condensed table-striped table-responsive table-hover">
                        <thead class="thead-default">
                            <tr>
                                <th style="width: 7%;">Address Type</th>
                                <th style="width: 13%;">Plot No</th>
                                <th style="width: 20%;">Sector/Street</th>
                                <th style="width: 20%;">City</th>
                                <th style="width: 20%;">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AddressModel.AddressModelList.Count > 0)
                            {
                                foreach (var Address in Model.AddressModel.AddressModelList)
                                {
                                    <tr>
                                        <td>@Address.AddressType</td>
                                        <td>@Address.PlotNo</td>
                                        <td>@Address.Sector_Street</td>
                                        <td>@Address.AddressCity</td>
                                        <td>@Address.State</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="text-center"><td colspan="5">No Data Found</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Type:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.AddressType)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Plot No.:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PlotNo)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Sector/Street:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.SectorOrStreet)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Locality:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Locality)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Landmark:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Landmark)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Zip:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Zip)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">City:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.City)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">State:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.State)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>*@
            @if (Model.StudentParentInfolist.Count > 0)
            {
                <hr style="margin-top: 0;margin-bottom: 5px;" />

                <div class="col-md-12">
                    <h4>Parents Detail</h4>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Right On Child:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.CustodyRight)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-responsive table-striped">
                            <thead class="thead-default">
                                <tr>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Qualification</th>
                                    <th>Occupation</th>
                                    <th>Income</th>
                                    <th>Address</th>
                                    <th>Contact Info</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StudentParentInfolist)
                                {
                                    <tr>
                                        <td>@item.ParentType</td>
                                        <td>@item.ParentName</td>
                                        <td>@item.Qualification</td>
                                        <td>@item.Occupation</td>
                                        <td>@item.Income</td>
                                        <td>@item.AddressInfo</td>
                                        <td>@item.ContactInfo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model.IsPrvSchool)
            {
                <hr style="margin-top: 0;margin-bottom: 5px;" />

                <div class="col-md-12">
                    <h4>Academic Detail / Previous school</h4>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PrvSchoolName)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Board:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PrvBoardName)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Standard:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PrvStandard)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Address:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PrvAddress)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Percentage:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PrvPercentage)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Grade:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PrvGrade)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Result:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PrvResult)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                </div>
            }



            @if (Model.StudentSiblingInfolist.Count > 0)
            {
                <hr style="margin-top: 0;margin-bottom: 5px;" />

                <div class="col-md-12">
                    <h4>Sibling Detail</h4>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-responsive table-striped">
                            <thead class="thead-default">
                                <tr>
                                    <th>Class</th>
                                    <th>Sibling Name</th>
                                    <th>Relation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StudentSiblingInfolist)
                                {
                                    <tr>
                                        <td>@item.SiblingClass</td>
                                        <td>@item.SiblingName</td>
                                        <td>@item.SiblingRelation</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if (Model.IsTransport)
            {
                <hr style="margin-top: 0;margin-bottom: 5px;" />

                <div class="col-md-12">
                    <h4>Transport Detail</h4>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Type:</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.TransportType)
                            </div><!-- Form Field -->
                        </div>
                    </div>
                    @if (Model.TransportType.ToLower() == "own")
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Vehicle:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.VehicleType)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">VehicleNo.:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.VehicleNo)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Parking:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.ParkingRequired)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                    }
                    else if (Model.TransportType.ToLower() == "school")
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Boarding Point:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.BoardingPoint)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Bus Route:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.BusRoute)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Vehicle:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.VehicleType)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">VehicleNo.:</label><!-- Form Label -->
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.VehicleNo)
                                </div><!-- Form Field -->
                            </div>
                        </div>
                    }
                </div>
            }

            <hr style="margin-top: 0;margin-bottom: 5px;" />

            <div class="col-md-12">
                <h4>Other/Medical and Documents</h4>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-6 control-label">Blood Group:</label><!-- Form Label -->
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.BloodGroup)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-6 control-label">Allergy:</label><!-- Form Label -->
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.Allergy)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-6 control-label">Medical History:</label><!-- Form Label -->
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.MedicalHistory)
                        </div><!-- Form Field -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-6 control-label">Regular Medicine:</label><!-- Form Label -->
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.RegularMedicine)
                        </div><!-- Form Field -->
                    </div>
                </div>
            </div>

            @if (Model.StudentDocumentInfolist.Count > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-responsive table-striped">
                            <thead class="thead-default">
                                <tr>
                                    <th>Document</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StudentDocumentInfolist)
                                {
                                    string[] imgary = item.ImagePath.Split('/');
                                    string filname = imgary[imgary.Length - 1];
                                    <tr>
                                        <td>@item.DocumentType</td>
                                        <td>@item.Description</td>
                                        <td>
                                        @if (!string.IsNullOrEmpty(filname))
                                        {
                                        <img width="40" height="40" src="@item.ImagePath" />
    
                                        }</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
