﻿@model ViewModel.ViewModel.Student.StudentModel

@*@Html.HiddenFor(model => model.PreviousSchoolModel.PrvSchoolId)*@

<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Institute Name<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.PreviousSchoolModel.PrvSchoolName, new { @class = "form-control", @placeholder = "Institute Name", @autocomplete = "off", @maxlength = "50" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.PreviousSchoolModel.PrvSchoolName)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Board/University<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.PreviousSchoolModel.PrvBoardId, Model.PreviousSchoolModel.AvailablePrvSchoolBoards, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.PreviousSchoolModel.PrvBoardId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Standard<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.PreviousSchoolModel.PrvStandardId, Model.PreviousSchoolModel.AvailablePrvSchoolStandards, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.PreviousSchoolModel.PrvStandardId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->

</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Percentage</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.PreviousSchoolModel.Percentage, new { @class = "form-control", @placeholder = "%", @autocomplete = "off", @maxlength = "6" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.PreviousSchoolModel.Percentage)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Grade</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.PreviousSchoolModel.Grade, new { @class = "form-control", @placeholder = "Grade", @autocomplete = "off", @maxlength = "5" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.PreviousSchoolModel.Grade)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Result</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.PreviousSchoolModel.Result, new { @class = "form-control", @placeholder = "Result", @autocomplete = "off", @maxlength = "10" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.PreviousSchoolModel.Result)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Address</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.PreviousSchoolModel.PrvSchoolAddress, 2, 10, new { @class = "form-control", @placeholder = "Address", @autocomplete = "off", @style = "resize: none", @maxlength = "50" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.PreviousSchoolModel.PrvSchoolAddress)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<script>

    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $("#PreviousSchoolModel_Percentage").keydown(function (e) {
        NumericOnlyWithDecimal(e);
    });

    $(function () {
        $("#prvSchool-Detail").click(function () {
            window.onbeforeunload = null;
            var valid = prvschoolValidate();
            if (!valid) {
                var validationaray = prvschoolvalidationmessage.split('\n');
                for (var i = 0; i < validationaray.length - 1; i++) {
                    ToastMessage(validationaray[i], "error", true, 5000);
                }
                $(prvschoolctrlfocus).focus();
                return false;
            }
        })
    })

    // validation function
    var prvschoolvalid = true;
    var prvschoolvalidationmessage = "";
    var prvschoolctrlfocus = "";
    function prvschoolValidate() {
        prvschoolvalid = true;
        prvschoolvalidationmessage = "";
        prvschoolctrlfocus = "";

        if ($('#PreviousSchoolModel_PrvSchoolName').val() == "") {
            if (prvschoolctrlfocus == "")
                prvschoolctrlfocus = "#PreviousSchoolModel_PrvSchoolName";
            prvschoolvalidationmessage = prvschoolvalidationmessage + "Please provide Institute Name \n";
            prvschoolvalid = false;
        }
        if ($('#PreviousSchoolModel_PrvBoardId').val() == "") {
            if (prvschoolctrlfocus == "")
                prvschoolctrlfocus = "#PreviousSchoolModel_PrvBoardId";
            prvschoolvalidationmessage = prvschoolvalidationmessage + "Please select Board/University \n";
            prvschoolvalid = false;
        }

        if ($('#PreviousSchoolModel_PrvStandardId').val() == "") {
            if (prvschoolctrlfocus == "")
                prvschoolctrlfocus = "#PreviousSchoolModel_PrvStandardId";
            prvschoolvalidationmessage = prvschoolvalidationmessage + "Please select Standard \n";
            prvschoolvalid = false;
        }
        return prvschoolvalid;
    }
</script>
