﻿@model ViewModel.ViewModel.Student.StudentProfileModel

<ul class="nav nav-tabs">
    <li><a href="@Html.Raw(Url.Action("StudentProfile", "Student", new { id = Model.EncStudentId }))">Admission Form</a></li>
    @if (Model.FeeCheck)
    {
        @*<li><a href="@Html.Raw(Url.Action("StudentFees", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Fee</a></li>*@
         <li><a href="@Html.Raw(Url.Action("StudentFees", "Student", new { id = Model.EncStudentId, IsEdit = false, 
                        SessionId = Model.SessionId,UserType=Model.UserType }))">Fee</a></li>
    }
    <li><a href="@Html.Raw(Url.Action("StudentTransport", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Transport</a></li>
    <li><a href="@Html.Raw(Url.Action("StudentAttendance", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Attendance</a></li>
    <li class="active"><a data-toggle="tab" href="#Prvclassdetail">Previous Class Detail</a></li>
    <li><a href="@Html.Raw(Url.Action("StudentActivitiesList", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Student Activities</a></li>
</ul>

<div class="tab-content">
    <div id="Prvclassdetail" class="tab-pane fade in active">
        <div class="row top-space-10">
            <table class="table table-bordered table-condensed table-striped table-responsive">
                <thead class="thead-default">
                    <tr>
                        <th>Class</th>
                        <th>Session</th>
                        <th>Roll No.</th>
                        <th>Board Roll No.</th>
                        <th>House</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.PreviousClassDetailList.Count > 0)
                        {
                            foreach (var item in Model.PreviousClassDetailList)
                            {
                                <tr>
                                    <td>@item.PrvClass</td>
                                    <td>@item.PrvSession</td>
                                    <td>@item.PrvRollNo</td>
                                    <td>@item.PrvBoardRollNo</td>
                                    <td>@item.PrvHouse</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">
                                    No data found
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>

