﻿@model ViewModel.ViewModel.Student.StudentModel

@Html.Hidden("sibling-grid-index")
@Html.HiddenFor(x => x.siblingSessionId)
<div class="modal-popup" id="Verify_ModelPop" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="VerifySiblingLabel">Verify Student Sibling</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <h4>Student Detail</h4>
                    <table id="Stu_VerifyGird" class="table well">
                        <thead>
                            <tr>
                                <th hidden>StudentId</th>
                                <th>Student Name</th>
                                <th>Parent Info</th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
                <div class="col-md-12">
                    <h4> Selected Sibling Detail</h4>
                    <table id="Sibling_VerifyGird" class="table well">
                        <thead>
                            <tr>
                                <th hidden>SiblingStudentId</th>
                                <th>Student Name</th>
                                <th>Parent Info</th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                    <span id="Sp_NotVerfied" style="color:red;"></span>
                    <span id="checkbox_NotVerfiedStillSave"><input type="checkbox" id="chk_stillSave"/> Still you want to verify them as sibling</span>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="addPopUP-sibling-info" class="btn btn-default">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                    <button type="button" name="save" class="btn btn-danger " id="close_divSumary">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4 ">
        <div class="form-group">
            <label class="col-md-4 control-label">Reg./Admn. No.</label>
            <div class="col-md-8">
                @Html.TextBox("AdmissionNo", null, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Class</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "drop-down form-control", @Id = "sibling-classId", @style = "width: 100%" })
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Student Name</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.SiblingInfoModel.SiblingId, Model.SiblingInfoModel.AvailableSibling, new { @class = "drop-down form-control", @style = "width: 100%" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Relation</label><!-- Form Label -->
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.SiblingInfoModel.SiblingRelationId, Model.SiblingInfoModel.AvailableRelation, new { @class = "form-control" })
            </div>

        </div>
    </div>

    <div class="col-md-4" id="div_SiblingConcession">
        <div class="form-group">
            <label class="control-label">Sibling Concession</label><!-- Form Label -->
            <br />
            @Html.CheckBoxFor(model => model.ApplySiblingConcession)
        </div>
    </div>

    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->

<div class="row">
    <div class="form-group">
        <label class="col-md-9 control-label"></label><!-- Form Label -->
        <div class="col-md-3">
            <button type="button" id="verify-sibling-info" class="btn btn-success">
                Verify
            </button>
            <button type="submit" id="add-sibling-info" class="btn btn-default" style="display:none">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <button type="button" id="Reset-sibling-info" class="btn btn-default">
                <i class="fa fa-ban"></i>
                Cancel
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="sibling-detail-grid" class="table table-bordered table-condensed table-striped table-responsive table-hover">
            <thead class="thead-default">
                <tr>
                    <th style="width: 10%;">Class</th>
                    <th style="width: 25%;">Sibling Name</th>
                    <th style="width: 15%;">Relation</th>
                    <th style="width: 15%;">Sibling Concession</th>
                    <th style="width: 15%;">Status</th>

                    <th class="text-center" style="width: 10%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Sibling in Model.SiblingInfoModelList)
                {
                    <tr>
                        <td>@Sibling.SiblingClass</td>
                        <td style='display: none'>@Sibling.SiblingClassId</td>
                        <td>@Sibling.SiblingName</td>
                        <td style='display: none'>@Sibling.SiblingId</td>
                        <td>@Sibling.SiblingRelation</td>
                        <td style='display: none'>@Sibling.SiblingRelationId</td>
                        <td style='display: none'>@Sibling.EncSiblinginfoId</td>
                        <td>@Sibling.AppliedConcession</td>
                        <td>@Sibling.SiblingStatus</td>
                        <td style='display: none'>@Sibling.EncSiblingId</td>
                        <td class='text-center'>
                            <a title="Edit" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' 
                               class='sibclsedit btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>
                            <a title="Delete" dataid="@Sibling.EncSiblingId" data-toggle="tooltip" data-placement="top" href='javascript:void(0)'
                               class='Sibling-clsdelete btn btn-xs btn-default'><i class='fa fa-trash'></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    // edit guardian row
    var EditedSiblingId = "";
    var EditedSiblingClassId = "";


    // check guardian data valid or not
    var SiblingFieldvalid = true;
    var Siblingvalidationmessage = "";
    var SiblingFieldctrlfocus = "";
    function validateSibling() {
        SiblingFieldvalid = true;
        Siblingvalidationmessage = "";
        SiblingFieldctrlfocus = "";

        if ($('#sibling-classId').val() == "") {
            if (SiblingFieldctrlfocus == "")
                SiblingFieldctrlfocus = "#sibling-classId";
            Siblingvalidationmessage = Siblingvalidationmessage + "Please select Class \n";
            SiblingFieldvalid = false;
        }

        if ($('#SiblingInfoModel_SiblingId').val().trim() == "") {
            if (SiblingFieldctrlfocus == "")
                SiblingFieldctrlfocus = "#SiblingInfoModel_SiblingId";
            Siblingvalidationmessage = Siblingvalidationmessage + "Please select Sibling \n";
            SiblingFieldvalid = false;
        }

        if ($('#SiblingInfoModel_SiblingRelationId').val() == "") {
            if (SiblingFieldctrlfocus == "")
                SiblingFieldctrlfocus = "#SiblingInfoModel_SiblingRelationId";
            Siblingvalidationmessage = Siblingvalidationmessage + "Please select Relation \n";
            SiblingFieldvalid = false;
        }

        if ($('#sibling-classId').val() != "" && $('#SiblingInfoModel_SiblingId').val() != "") {
            var classId = $('#sibling-classId').val();
            var SiblingId = $('#SiblingInfoModel_SiblingId').val();
            var indexval = $('#sibling-grid-index').val();
            indexval = indexval != "" ? indexval : -1;
            var count = 0;
            $('#sibling-detail-grid tbody tr').each(function () {
                var row = $(this);
                var gridclassId = row.find('td:nth-child(2)').text();
                var gridSiblingId = row.find('td:nth-child(4)').text();
                if (classId == gridclassId && SiblingId == gridSiblingId && indexval != row.index())
                    count = count + 1;
            });
            if (count > 0) {
                Siblingvalidationmessage = Siblingvalidationmessage + "Sibling already exist in grid \n";
                SiblingFieldvalid = false;
            }
        }

        return SiblingFieldvalid;
    }


    $('#AdmissionNo').blur(function () {
        //alert($("#siblingSessionId").val());
        var admnno = $('#AdmissionNo').val();
        $('#ClassId').val('');
        $('#StudentId').html('');
        if (admnno != "") {
            // ajax call get student and class
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetInformationbyAdmnNo", "Student"))',
                data: { "AdmnNo": admnno, "Session_id": $("#siblingSessionId").val() },
                success: function (result) {
                    if (result.status == "success") {
                        $('#sibling-classId').val(result.ClassVal).trigger('change');
                        if (result.StudentVal > 0)
                            $('#SiblingInfoModel_SiblingId').val(result.StudentVal);
                        else
                            $('#SiblingInfoModel_SiblingId').val('');

                        $('#SiblingInfoModel_SiblingId').trigger('change');
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#SiblingInfoModel_SiblingId').html('');
                        $('#AdmissionNo').val('');
                        $('#AdmissionNo').focus();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    //$('#siblingSessionId').val()
    $('#Reset-sibling-info').click(function () {
        $('#AdmissionNo').val('');
        $('#add-sibling-info').text('');
        $('#ApplySiblingConcession').prop("checked", false);
        $('#add-sibling-info').append('<i class="fa fa-floppy-o"></i>Save');
        $('#add-sibling-info').hide();
        $('#verify-sibling-info').show();
        $('#sibling-grid-index').val("");
        $('#sibling-classId').val("").trigger('change');
        $('#SiblingInfoModel_SiblingRelationId').val("");
        $('#SiblingInfoModel_SiblinginfoId').val("");
        $('#SiblingInfoModel_SiblingId').append('<option>---Select---</option>');

        $('#ApplySiblingConcession').prop('disabled', false);

    })

    $('#addPopUP-sibling-info').click(function () {
        $('#add-sibling-info').click();
    });


    // add guardian row event
    $('#add-sibling-info').click(function () {
        $('#ks_loader').show();
        $("#SiblingUpdated").val($(this).parent().parent().parent().parent().parent().parent().attr('id'));
        var Siblingvalid = validateSibling(); // check data validation
        if (Siblingvalid) {
            var objectModel = new Object();
            var array = new Array();
            objectModel.siblingSessionId = $("#siblingSessionId").val();
            array.push(objectModel);
            //alert(JSON.stringify(array));
            //$("#arraySiblingId").val(JSON.stringify(array));
            window.onbeforeunload = null;
        }
        else {
            var validationaray = Siblingvalidationmessage.split('\n');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            //alert(Siblingvalidationmessage);
            $(SiblingFieldctrlfocus).focus();
            $('#ks_loader').hide();
            return false;
        }
    });

    $('#close_divSumary').click(function () {
        $("#Verify_ModelPop").hide();
    });

    var SelectedClassId = "";
    var SelectedStuId = "";
    $('#sibling-classId').change(function () {
        $('#SiblingInfoModel_SiblingRelationId').val('').trigger('change');
        $('#SiblingInfoModel_SiblingId').find('option').remove();
        var classid = $(this).val();
        var stdId = $('#StudentId').val();
        if (classid != "" && classid > 0) {
            GetStudentsbyClass(classid, stdId);
            SelectedClassId = classid;
            SelectedStuId = stdId;
        }
    });



    $(document).on('click', '.sibclsedit', function () {
        $('#ks_loader').show();
        var row = $(this).parent().parent();
        $('#add-sibling-info').css("display", "inline-block");
        $('#add-sibling-info').text('');
        $('#add-sibling-info').append('<i class="fa fa-floppy-o"></i>Update');
        $('#verify-sibling-info').css("display", "none");


        $('#sibling-grid-index').val($(this).parent().parent().index());
        //$('#sibling-classId').val(row.find("td:nth-child(2)").text()).trigger("change");

        EditedSiblingId = row.find("td:nth-child(4)").text();
        EditedSiblingClassId = row.find("td:nth-child(2)").text();
        $('#SiblingInfoModel_EncSiblinginfoId').val(row.find("td:nth-child(7)").text());
        var classid = parseInt(row.find("td:nth-child(2)").text());
        var stdId = row.find("td:nth-child(4)").text();
        if (classid != "" && classid > 0) {

            if (row.find("td:nth-child(8)").text() == "Yes") {
                $('#ApplySiblingConcession').prop("checked", true);
            }
            else {
                $('#ApplySiblingConcession').prop("checked", false);
            }

            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("UpdateInfoForClasssibling", "Student"))',
                async: false,
                data: { "Class": classid, "SiblingId": stdId, "CurrentSession": true, "sessionId": $("#siblingSessionId").val(), StudentId: $('#StudentId').val() },
                success: function (result) {
                    if (result.status == "success") {
                        if (result.AdminNo != "") {
                            //alert(result.AdminNo);
                            $('#AdmissionNo').val(result.AdminNo).trigger('change');
                        }
                        if (result.viceVersaSiblingConcessionApply)
                            $('#ApplySiblingConcession').prop('disabled', true);
                        else
                            $('#ApplySiblingConcession').prop('disabled', false);
                    }
                    if (result.status == "failed") {
                        ToastMessage(result.data, "error", true, 5000);
                    }

                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#sibling-classId').val(row.find("td:nth-child(2)").text()).trigger("change");
            $('#SiblingInfoModel_SiblingId').val(row.find("td:nth-child(4)").text()).trigger("change");
            $('#SiblingInfoModel_SiblingRelationId').val(row.find("td:nth-child(6)").text()).trigger("change");
        }
    });

    $("#verify-sibling-info").click(function () {
        $('#ks_loader').show();
        var Siblingvalid = validateSibling();
        if (Siblingvalid) {
            $("#Verify_ModelPop").show();
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("GetSiblingInformationForVerify", "Student"))',
                async: false,
                data: { "siblingStuId": $('#SiblingInfoModel_SiblingId').val(), "StudentId": $('#StudentId').val(), "EditedSiblingInfoId": EditedSiblingId },
                success: function (result) {
                    $("#Verify_ModelPop").find("table#Stu_VerifyGird tbody").html('');
                    $("#Verify_ModelPop").find("table#Sibling_VerifyGird tbody").html('');

                    if (result.ListStudentParentDetail.length > 0) {
                        var html = "<tr>";
                        html += "<td hidden>" + result.ListStudentParentDetail[0].StudentId + "</td>";
                        html += "<td hidden>" + result.ListStudentParentDetail[0].StuFatherFName + "</td>";
                        html += "<td hidden>" + result.ListStudentParentDetail[0].StuFatherLName + "</td>";
                        html += "<td hidden>" + result.ListStudentParentDetail[0].StuMotherFName + "</td>";
                        html += "<td hidden>" + result.ListStudentParentDetail[0].StuMotherLName + "</td>";
                        html += "<td>" + result.ListStudentParentDetail[0].StudentName + "</td>";
                        html += "<td>" + result.ListStudentParentDetail[0].ParentInfo.replace("Mother", "<br/> Mother") + "</td>";
                        html += "</tr>";

                        $("#Verify_ModelPop").find("table#Stu_VerifyGird tbody").append(html);
                    }
                    if (result.ListVerifiedSiblings.length > 0) {

                        var html = "<tr>";
                        html += "<td hidden>" + result.ListVerifiedSiblings[0].SibStudentId + "</td>";
                        html += "<td>" + result.ListVerifiedSiblings[0].StudentName + "</td>";

                        if (result.ListVerifiedSiblings[0].SibParentInfo != "")
                            html += "<td>" + result.ListVerifiedSiblings[0].SibParentInfo.replace("Mother", "<br/> Mother") + "</td>";
                        else {
                            html += "<td style='color:red;'>Fill parents detail before add sibling</td>";
                            if (!result.IsSiblings) {
                               
                                html += "<td><a href='javacript:void(0);'  class='sameParentDetail btn btn-xs'>Same As Above</a>"
                                        + "<a href='javacript:void(0);' title='Save' class='SaveSameParentDetail' style='display:none;'>"
                                        + "<i class='fa fa-floppy-o'></i></a>  "
                                        + "<a href='javacript:void(0);' title='Cancel' class='cancelParentDetail' style='display:none;'>"
                                        + "<i class='fa fa-close'></i></a></td>";
                            }
                        }

                        $("#Sp_NotVerfied").html('');
                        $("#checkbox_NotVerfiedStillSave").css("display", "none");
                        if (!result.IsSiblings) {
                            $("#Sp_NotVerfied").append("They seem not to be siblings");
                            $("#checkbox_NotVerfiedStillSave").css("display", "block");
                        }

                        html += "</tr>";

                        $("#Verify_ModelPop").find("table#Sibling_VerifyGird tbody").append(html);
                    }
                    if (result.IsSiblings == false)
                        $("#addPopUP-sibling-info").hide();
                    else
                        $("#addPopUP-sibling-info").show();

                    if (result.status == "failed") {
                        ToastMessage("Error Happened", "error", true, 5000);
                    }

                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            var validationaray = Siblingvalidationmessage.split('\n');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $('#ks_loader').hide();
        }
    });

    $("#chk_stillSave").change(function () {
        if($(this).is(":checked"))
            $("#addPopUP-sibling-info").show();
        else
            $("#addPopUP-sibling-info").hide();
    });


    var SiblingParentetail = "";
    $(document).on("click", '.sameParentDetail', function () {
        $(this).hide();
        $("#Sp_NotVerfied").hide();
        $("#checkbox_NotVerfiedStillSave").hide();
        $(".SaveSameParentDetail").show();
        $(".cancelParentDetail").show();
        SiblingParentetail = $("#Sibling_VerifyGird tbody").find("td:nth(2)").text();
        var StudentParentetail = $("#Stu_VerifyGird tbody").find("td:nth(6)").text();
        $("#Sibling_VerifyGird tbody").find("td:nth(2)").html(StudentParentetail.replace("Mother", "<br/> Mother"));
        $("#Sibling_VerifyGird tbody").find("td:nth(2)").css('color', 'black');
    });

    $(document).on("click", '.cancelParentDetail', function () {
        $(".SaveSameParentDetail").hide();
        $(this).hide();
        $(".sameParentDetail").show();
        $("#Sp_NotVerfied").show();
        $("#checkbox_NotVerfiedStillSave").show();
        if (SiblingParentetail != "") {
            $("#Sibling_VerifyGird tbody").find("td:nth(2)").html(SiblingParentetail.replace("Mother", "<br/> Mother"));
            $("#Sibling_VerifyGird tbody").find("td:nth(2)").css('color', 'black');
        }
        else {
            $("#Sibling_VerifyGird tbody").find("td:nth(2)").text("Fill parents detail before add sibling");
            $("#Sibling_VerifyGird tbody").find("td:nth(2)").css('color', 'red');
        }
    });

    $(document).on("click", '.SaveSameParentDetail', function () {
        var studentID = $("#Sibling_VerifyGird tbody").find("td:nth(0)").text();
        var ParentInfo = $("#Sibling_VerifyGird tbody").find("td:nth(2)").text();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("InsertUpdateStudentParentDetail", "Student"))',
            async: false,
            data: {
                "StudentId": studentID, "ParentInfo": ParentInfo,
                "StuFatherFName": $("#Stu_VerifyGird tbody").find("td:nth(1)").text(),
                "StuFatherLName": $("#Stu_VerifyGird tbody").find("td:nth(2)").text(),
                "StuMotherFName": $("#Stu_VerifyGird tbody").find("td:nth(3)").text(),
                "StuMotherLName": $("#Stu_VerifyGird tbody").find("td:nth(4)").text()
            },
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.data, "success", true, 5000);
                    $("#Sp_NotVerfied").html("");
                    $("#addPopUP-sibling-info").show();
                    $(".SaveSameParentDetail").hide();
                    $(".cancelParentDetail").hide();
                }
                if (result.status == "failed") {
                    ToastMessage(result.data, "error", true, 5000);
                }

                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    });


    $(document).on("click", ".Sibling-clsdelete", function () {
        if (confirm("Are you sure to delete the record? Press Ok to continue.") == true) {
            var row = $(this).parent().parent();
            // get values
            var siblingInfoid = row.find("td:nth-child(7)").text();
            if (siblingInfoid != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeleteSiblingInfo", "Student"))',
                    data: { "siblingInfoid": siblingInfoid },
                    success: function (result) {
                        if (result.status == "success") {
                            alert("Successfully deleted");
                           window.location.reload();
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);

                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error: " + " " + status + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        }
    });


    //// delete guardian row
    //$('#sibling-detail-grid').delegate('.sibclsdelete', 'click', function () {
    //    if (confirm("Are you sure to delete this record") == true) {
    //        var row = $(this).parent().parent();
    //        row.remove();
    //        $('#sibling-grid-index').val('');
    //    }
    //});


    // on change class get student list
    function GetStudentsbyClass(classId, StdId) {
       
        $('#SiblingInfoModel_SiblingId option').remove();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("StudentListbyClasssibling", "Student"))',
            async: false,
            data: { "Class": classId, "Id": StdId, "CurrentSession": true, CurrenSessionID: $("#siblingSessionId").val() },
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var option = "";
                        if (result.data[i].Selected == true)
                            option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        else
                            option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                        $('#SiblingInfoModel_SiblingId').append(option);
                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
            }
        });
    }

    // on change student get relation
    $('#SiblingInfoModel_SiblingId').on("change", function () {
        var siblingId = $(this).val();
        if (siblingId > 0) {
            if (siblingId == EditedSiblingId && $('#sibling-classId').val() == EditedSiblingClassId) {
                $('#add-sibling-info').css("display", "inline-block");
                $('#add-sibling-info').text('');
                $('#add-sibling-info').append('<i class="fa fa-floppy-o"></i>Update');
                $('#verify-sibling-info').css("display", "none");
            } else {
                $('#add-sibling-info').css("display", "none");
                $('#verify-sibling-info').css("display", "inline-block");
            }

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetGenderByStudent", "Student"))',
                async: false,
                data: { "StudentId": siblingId },
                success: function (result) {
                    if (result.status == "success") {
                        $('#AdmissionNo').val(result.AdmissioNo);
                        if (result.data > 0)
                            $('#SiblingInfoModel_SiblingRelationId').val(result.data).trigger('change');
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                }
            });

            //
            @*$.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("GetSiblingConcessionInfo", "Student"))',
                async: false,
                data: { "SiblingStuId": siblingId, "StudentId": $('#StudentId').val() },
                success: function (result) {
                    if (result.status == "success") {
                        $('#AdmissionNo').val(result.AdmissioNo);
                        if (result.data > 0)
                            $('#SiblingInfoModel_SiblingRelationId').val(result.data).trigger('change');
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                }
            });*@

        }
        else {
            $('#SiblingInfoModel_SiblingRelationId').val('').trigger('change');
        }
    });

</script>
