﻿
@model ViewModel.ViewModel.Student.StudentProfileModel

<ul class="nav nav-tabs">
    <li><a href="@Html.Raw(Url.Action("StudentProfile", "Student", new { id = Model.EncStudentId }))">Admission Form</a></li>
    @if (Model.FeeCheck)
    {
        @*<li><a href="@Html.Raw(Url.Action("StudentFees", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Fee</a></li>*@
         <li><a href="@Html.Raw(Url.Action("StudentFees", "Student", new { id = Model.EncStudentId, IsEdit = false, 
                        SessionId = Model.SessionId,UserType=Model.UserType }))">Fee</a></li>
    }
    <li><a href="@Html.Raw(Url.Action("StudentTransport", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Transport</a></li>
    <li><a href="@Html.Raw(Url.Action("StudentAttendance", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Attendance</a></li>
    <li><a href="@Html.Raw(Url.Action("PreviousClassDetail", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Previous Class Detail</a></li>
    <li class="active"><a data-toggle="tab" href="#StdActivities">Student Activities</a></li>
</ul>

<div class="tab-content">
    <div id="Prvclassdetail" class="tab-pane fade in active">
        <div class="row top-space-10">
            <table class="table table-bordered table-condensed table-striped table-responsive">
                <thead class="thead-default">
                    <tr>
                        <th style="width: 15%">Extra Activity</th>
                        <th style="width: 10%">Description</th>
                        <th style="width: 10%">Effective Date</th>
                        <th style="width: 10%">End Date</th>
                        @if (Model.IsAdmin && Model.IsEdit)
                        {
                            <th class="text-center" style="width: 10%">Action</th>}
                    </tr>

                </thead>
                <tbody>
                    @if (Model.StudentActivityList.Count > 0)
                    {
                        foreach (var activity in Model.StudentActivityList)
                        {
                            <tr>
                                <td class="ExtraActivity">@activity.ExtraActivity</td>
                                <td class="Description">@activity.Description</td>
                                <td class="EffectiveDate">@activity.EffectiveDate</td>
                                <td class="enddate">@activity.EndDate</td>
                                
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="5">No data found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>

