﻿@model ViewModel.ViewModel.Student.AdmissionModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
@Html.HiddenFor(x => x.ViewType, new { @id = "ViewTypeThirdTab" })
<style>

    .cls-rej-rsn {
        color:black !important;
    }

</style>
@Html.HiddenFor(m => m.SessionId, new { id = "defaultSessionId1" })
<ul class="nav nav-tabs">
    <li><a href="@Html.Raw(Url.Action("Admission", "Student"))">Set Selected</a></li>
    <li><a href="@Html.Raw(Url.Action("WaitingList", "Student"))">Set Waiting List</a></li>
    <li class="active"><a data-toggle="tab" href="#RejList">Set Rejected List</a></li>
    <li><a href="@Html.Raw(Url.Action("ViewAdmitted", "Student"))">View Selected</a></li>
    <li><a href="@Html.Raw(Url.Action("ViewAll", "Student"))">View All</a></li>
    <li>
        <div style="float: right;    margin-left: 113px;    margin-top: 6px;">
            <label>Select Session</label>
            @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @id = "SessionId1", @class = "form-control drpcls" })
        </div>
    </li>
</ul>

<div class="tab-content">
    <div id="RejList" class="tab-pane fade in active">
        <!-- Form Row -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Registration No.</label>
                    @Html.TextBoxFor(model => model.Regno, new { @class = "form-control", @autofocus = "on", @placeholder = "RegNo", @autocomplete = "off" })
                </div>

                <div class="form-group">
                    <label>Standard</label>
                    @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandard, new { @class = "drop-down form-control" })
                </div>

                <div class="form-group">
                    <label>First Name</label>
                    @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new { @class = "drop-down form-control" })
                </div>

                <div class="form-group">
                    <label>Type</label>
                    @Html.DropDownListFor(model => model.RejectedTypeId, Model.AvailableTypesForRejectedList, new { @class = "form-control", @style = "width: 116px" })
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filterrejectlst" class="btn btn-default" name="Search">Search</button>
                </div>
                <div class="form-group">
                    <button type="button" id="resetFilter" class="btn btn-danger" name="Search">Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="divRejectedStusGrid">
                    <script>
                        $(document).ready(function () {
                            $("#divRejectedStusGrid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetAdmitRegisteredStudents", "Student"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalRejectedStusGrid
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBoundRejectedStusGrid,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,
                                columns: [{
                                    title: "Select All",
                                    headerTemplate: "<input type='checkbox' id='header-chb' class=' k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>",
                                    template: "#if(IsCheck){#<input type='checkbox' id='#=StudentId#' class='cls-chkbox k-state-selected k-checkbox row-checkbox1' checked='checked'>"
                                            + "<label class='k-checkbox-label' for='#=StudentId#' ></label>#}"
                                            + "else {#<input type='checkbox' id='#=StudentId#' class='cls-chkbox k-checkbox row-checkbox1'>"
                                            + "<label class='k-checkbox-label' for='#=StudentId#'></label>#}#"
                                }, {
                                    field: "StudentId",
                                    hidden: true,
                                    template: "<label class='cls-stdId'>#=StudentId#</label>"
                                }, {
                                    field: "Regno",
                                    title: "Reg. no."
                                },{
                                    field: "StudentName",
                                    title: "Student Name"
                                }, {
                                    field: "FatherName",
                                    title: "Father Name"
                                }, {
                                    field: "RejectionReason",
                                    title: "Reason",
                                    template: "<textarea class='cls-rej-rsn' cols='20' maxlength='150' rows='1' style='width:150px;resize: none;'>#=RejectionReason#</textarea>"
                                }, {
                                    field: "Standard",
                                    title: "Standard"
                                }, {
                                    field: "Status",
                                    title: "Status"
                                },
                                 @if (Model.IsViewrecord )
                                    {<text>
                                        {
                                            field: "StudentId",
                                            title: "View",
                                            sortable: false,
                                            template: '#{#<a href="javascript:void(0)" title="View"'
                                                    + ' data-toggle="tooltip" data-placement="top"'
                                                    + ' class="cls_studentdetail btn btn-xs btn-default"><i class="fa fa-eye"></i></a>#}#'
                                        },
                                </text>}]
                            });
                            var grid = $("#divRejectedStusGrid").data("kendoGrid");

                            $('#header-chb').change(function (ev) {
                                var checked = ev.target.checked;
                                var grid = $("#divRejectedStusGrid").data("kendoGrid");
                                var dataSource = grid.dataSource;
                                //total records
                                var totalRecords = dataSource.view().length;

                                var idcount = 0;
                                grid.tbody.find("input:checked").closest("tr").each(function (index) {
                                    idcount = idcount + 1;
                                });

                                if (idcount == totalRecords) {
                                    $('.row-checkbox1').each(function (idx, item) {
                                        $(item).click();
                                        if (checked) {
                                            $(item).addClass("k-state-selected");
                                        }
                                        else {
                                            $(item).removeClass("k-state-selected");
                                        }
                                    });
                                }
                                else {
                                    $('.row-checkbox1').each(function (idx, item) {
                                        if (checked && idcount == totalRecords) {

                                        } else {
                                            if ($(item).hasClass("cls-chkbox k-state-selected k-checkbox row-checkbox1")) {
                                            }
                                            else {
                                                $(item).click();
                                            }
                                        }
                                    });
                                }
                            });
                        });

                        function onDataBoundRejectedStusGrid(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                            var view = this.dataSource.view();
                            for (var i = 0; i < view.length; i++) {
                                if (checkedIds[view[i].id]) {
                                    this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                                        .addClass("k-state-selected")
                                        .find(".k-checkbox")
                                        .attr("checked", "checked");
                                }
                            }
                        }

                        function additionalRejectedStusGrid() {
                            var data = {
                                ViewType: $("#ViewTypeThirdTab").val(),
                                TypeId: $("#RejectedTypeId").val(),
                                StandardId: $('#StandardId').val(),
                                StudentId: $('#StudentId').val(),
                                SessionId: $('#SessionId1').val(),
                                Regno: $('#Regno').val(),

                            };
                            addAntiForgeryTokenRejectedStusGrid(data);
                            return data;
                        }

                        addAntiForgeryTokenRejectedStusGrid = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>

            </div>
        </div>

        @if (Model.IsAuthToAdd)
        {
            <div class="row top-space-10">
                <div class="col-md-5">
                    <button type="button" name="Save" id="saverejectedlist" class="btn btn-success">Save Rejected List</button>
                </div>
            </div>
        }
    </div>

</div>

<script type="text/javascript">
    var checkedIds = {};

    $(document).ready(function () {
        var grid = $("#divRejectedStusGrid").data("kendoGrid");
        //bind click event to the checkbox
        grid.table.on("click", ".row-checkbox1", selectRow);

        //on click of the checkbox:
        function selectRow() {
            var checked = this.checked,
                row = $(this).closest("tr"),
                grid = $("#divRejectedStusGrid").data("kendoGrid"),
                dataItem = grid.dataItem(row);

            checkedIds[dataItem.StudentId] = checked;
            if (checked) {
                //-select the row
                row.addClass("k-state-selected");
            } else {
                //-remove selection
                row.removeClass("k-state-selected");
            }
        }
    });
    $(window).keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            $('#filterrejectlst').trigger('click');
        }
    });


    $('#SessionId1').change(function () {
        $('#ks_loader').show();
        var SessionId = $('#SessionId1').val();
        $('#filterrejectlst').trigger("click");
        $('#ks_loader').hide();
    });
    $('#filterrejectlst').click(function () {
        var grid = $("#divRejectedStusGrid").data("kendoGrid");
        grid.dataSource.page(1);
    });


    @*$('#filterrejectlst').click(function () {
        $('#ks_loader').show();
        $('#grid tbody').html("");
        $('#divRegStudentsGrid').hide();

        var Regno = $('#Regno').val();
        var StandardId = $('#StandardId').val();
        var StudentId = $('#StudentId').val();
        var RejectedTypeId = $('#RejectedTypeId').val();
        var SessionId = $('#SessionId1').val();
        var model = new Object();
        model.Regno = Regno;
        model.StandardId = StandardId;
        model.StudentId = StudentId;
        model.TypeId = RejectedTypeId;
        model.ViewType = "Reject";
        model.SessionId = SessionId;
        // ajax call
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("AdmissionSearch", "Student"))',
            data: model,
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var row = '<tr>'
                               + '<td class=" text-center">';

                        if (result.data[i].IsCheck == true) {
                            row += '<input checked="checked" type="checkbox" class="cls-chkbox" />';
                        }
                        else {
                            row += '<input type="checkbox" class="cls-chkbox" />';
                        }

                        row += '</td>'
                        + '<td class="cls-stdId" style="display: none">' + result.data[i].StudentId + '</td>'
                        + '<td>' + result.data[i].Regno + '</td>'

                        row += '</td>'
                        + '<td>' + result.data[i].StudentName + '</td>'
                        + '<td>' + result.data[i].FatherName + '</td>'
                        + '<td><input type="text" class="cls-rej-rsn" style="width:300px" maxlength="50" value="' + result.data[i].RejectionReason + '"/></td>'
                        + '<td>' + result.data[i].Standard + '</td>'
                        + '<td>' + result.data[i].Status + '</td>'
                        + '<td><a title="View" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default cls_studentdetail" href="javascript:void(0)"><i class="fa fa-eye"></i></a></td>'
                        + '</tr>';
                        $('#grid tbody').append(row);
                    }
                    if (result.data.length == 0) {
                        var row = '<tr><td class="text-center" colspan="7">No data found</td></tr>';
                        $('#grid tbody').append(row);
                    }

                    $('#divRegStudentsGrid').show();
                    $('[data-toggle="tooltip"]').tooltip();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }

                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });*@

    $('#saverejectedlist').click(function () {
        $('#ks_loader').show();
        var AdmitRegisteredStudent = new Array();
        var AdmitRegisteredStudentobj = new Object();

        var count = 0;

        var checked = [];
        var aa = new Object();
        for (var i in checkedIds) {
            aa = new Object();
            if (checkedIds[i]) {
                aa.id = i;
                checked.push(aa);
            }
        }

        $('#divRejectedStusGrid tbody tr').each(function () {
            debugger;
            var row = $(this);
            AdmitRegisteredStudentobj = new Object();
            var status = "0";
            if (row.find('.cls-chkbox').is(':checked') == true)
                var status = "1";

            AdmitRegisteredStudentobj.StudentId = row.find("td:nth-child(2)").text();
            AdmitRegisteredStudentobj.Status = status;
            AdmitRegisteredStudentobj.RejectionReason = row.find('.cls-rej-rsn').val();
            AdmitRegisteredStudent.push(AdmitRegisteredStudentobj);
        });

        var model = new Object;
        model.Admitarray = JSON.stringify(AdmitRegisteredStudent);
        model.ViewType = "Reject"
        // ajax call
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("Admission", "Student"))',
            data: model,
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.msg, "success", true, 5000);
                    window.location.reload();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });
    $("#resetFilter").click(function () {
        $("#SessionId1").val($("#defaultSessionId1").val());
    });
</script>