﻿@model ViewModel.ViewModel.Student.AdmissionModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style type="text/css">
    .drpcls {
        width: 140px;
    }
    .cls-admnno {
        color:black !important;
    }
</style>
@Html.HiddenFor(x => x.ViewType, new { @id = "ViewTypeFirstTab" })
@Html.HiddenFor(m => m.SessionId, new {id="defaultSessionId" })
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#RegList">Set Selected</a></li>
    <li><a href="@Html.Raw(Url.Action("WaitingList", "Student"))">Set Waiting List</a></li>
    <li><a href="@Html.Raw(Url.Action("RejectedList", "Student"))">Set Rejected List</a></li>
    <li><a href="@Html.Raw(Url.Action("ViewAdmitted", "Student"))">View Selected</a></li>
    <li><a href="@Html.Raw(Url.Action("ViewAll", "Student"))">View All</a></li>
    <li>
        <div style="float: right;    margin-left: 113px;    margin-top: 6px;">
            <label>Select Session</label>
            @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "form-control drpcls" })
        </div>
    </li>
</ul>

<div class="tab-content">

    <div id="RegList" class="tab-pane fade in active">
        <!-- Form Row -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Registration No.</label>
                    @Html.TextBoxFor(model => model.Regno, new { @class = "form-control", @autofocus = "on", @placeholder = "RegNo", @autocomplete = "off"})
                </div>

                <div class="form-group">
                    <label>Standard</label>
                    @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandard, new { @class = "drop-down form-control" })
                </div>

                <div class="form-group">
                    <label>First Name</label>
                    @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new { @class = "drop-down form-control" })
                </div>

                <div class="form-group">
                    <label>Type</label>
                    @Html.DropDownListFor(model => model.AdmissionTypeId, Model.AvailableTypesForAdmissionList, new { @class = "form-control" })
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filterreglist" class="btn btn-default" name="Search">Search</button>
                </div>
                <div class="form-group">
                    <button type="button" id="resetFilter" class="btn btn-danger" name="Search">Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="divRegStudentsGrid">
                    <script>
                        $(document).ready(function () {
                            $("#divRegStudentsGrid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetAdmitRegisteredStudents", "Student"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalRegStudentsGrid
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBoundRegStudentsGrid,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,
                                columns: [{
                                    title: "Select All",
                                    headerTemplate: "<input type='checkbox' id='header-chb' class=' k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>",
                                    template: "#if(IsCheck){#<input type='checkbox' id='#=StudentId#' class='cls-chkbox k-state-selected k-checkbox row-checkbox1' checked='checked'>"
                                            + "<label class='k-checkbox-label' for='#=StudentId#' ></label>#}"
                                            + "else {#<input type='checkbox' id='#=StudentId#' class='cls-chkbox k-checkbox row-checkbox1'>"
                                            + "<label class='k-checkbox-label' for='#=StudentId#'></label>#}#"
                                }, {
                                    field: "StudentId",
                                    hidden: true,
                                    template: "<label class='cls-stdId'>#=StudentId#</label>"
                                }, {
                                    field: "Regno",
                                    title: "Reg. no."
                                },
                                @if (!Model.IsSetAdmissionNoAfterFeePaid)
                              {<text>{
                                    field: "Admnno",
                                    title: "Admn. No.",
                                    template: "#if(AdmnSeriesEditable){#<input type='text' class='cls-admnno' value='#=Admnno#' />#}"
                                                + "else {#<input type='text' class='cls-admnno' value='#=Admnno#' readonly/>#}#"
                                },
                                 </text>}
                                {
                                    field: "StudentName",
                                    title: "Student Name"
                                }, {
                                    field: "FatherName",
                                    title: "Father Name"
                                }, {
                                    field: "Standard",
                                    title: "Standard"
                                }, {
                                    field: "Status",
                                    title: "Status"
                                },
                                 @if (Model.IsViewrecord )
                                {<text>
                                    {
                                        field: "StudentId",
                                        title: "View",
                                        sortable: false,
                                        template: '#{#<a href="javascript:void(0)" title="View"'
                                                + ' data-toggle="tooltip" data-placement="top"'
                                                + ' class="cls_studentdetail btn btn-xs btn-default"><i class="fa fa-eye"></i></a>#}#'

                                                + ' #{# <a title="Print Slip" onload="window.print()" data-toggle="tooltip" data-placement="top" class="clsprint_studentdetail  btn btn-xs btn-default"  cursor:pointer" dataid="#=StudentId#"'
                                                + ' href="javascript:void(0)"><i class="fa fa-print"></i></a>#}#'
                                    },
                            </text>}]
                            });
                            var grid = $("#divRegStudentsGrid").data("kendoGrid");

                            $('#header-chb').change(function (ev) {
                                var checked = ev.target.checked;
                                var grid = $("#divRegStudentsGrid").data("kendoGrid");
                                var dataSource = grid.dataSource;
                                //total records
                                var totalRecords = dataSource.view().length;

                                var idcount = 0;
                                grid.tbody.find("input:checked").closest("tr").each(function (index) {
                                    idcount = idcount + 1;
                                });
                               
                                if (idcount == totalRecords)
                                {
                                    $('.row-checkbox1').each(function (idx, item) {
                                        $(item).click();
                                        if(checked)
                                        {
                                            $(item).addClass("k-state-selected");
                                        }
                                        else
                                        {
                                            $(item).removeClass("k-state-selected");
                                        }
                                    });
                                }
                                else
                                {
                                    $('.row-checkbox1').each(function (idx, item) {
                                        if (checked && idcount==totalRecords) {
                                          
                                        } else {
                                            if ($(item).hasClass("cls-chkbox k-state-selected k-checkbox row-checkbox1")) {
                                            }
                                            else
                                            {
                                                $(item).click();
                                            }
                                        }
                                    });
                                }
                            });
                        });

                        function onDataBoundRegStudentsGrid(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                            var view = this.dataSource.view();
                            for (var i = 0; i < view.length; i++) {
                                if (checkedIds[view[i].id]) {
                                    this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                                        .addClass("k-state-selected")
                                        .find(".k-checkbox")
                                        .attr("checked", "checked");
                                }
                            }
                        }

                        function additionalRegStudentsGrid() {
                            var data = {
                                ViewType: $("#ViewTypeFirstTab").val(),
                                TypeId: $("#AdmissionTypeId").val(),
                                StandardId: $('#StandardId').val(),
                                StudentId: $('#StudentId').val(),
                                SessionId: $('#SessionId').val(),
                                Regno: $('#Regno').val(),

                            };
                            addAntiForgeryTokenRegStudentsGrid(data);
                            return data;
                        }

                        addAntiForgeryTokenRegStudentsGrid = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
        </div>
        @if (Model.IsAuthToAdd)
        {
            <div class="row top-space-10">
                <div class="col-md-5">
                    <button type="button" name="Save" id="saveregterlist" class="btn btn-success">Set Selection</button>
                </div>
            </div>
        }
    </div>

</div>

<script type="text/javascript">
    var checkedIds = {};
    $(document).ready(function () {
        var grid = $("#divRegStudentsGrid").data("kendoGrid");
        //bind click event to the checkbox
        grid.table.on("click", ".row-checkbox1", selectRow);


        //on click of the checkbox:
        function selectRow() {
            var checked = this.checked,
                row = $(this).closest("tr"),
                grid = $("#divRegStudentsGrid").data("kendoGrid"),
                dataItem = grid.dataItem(row);

            checkedIds[dataItem.StudentId] = checked;
            if (checked) {
                //-select the row
                row.addClass("k-state-selected");
            } else {
                //-remove selection
                row.removeClass("k-state-selected");
            }
        }
    });

    $(window).keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();

            $('#filterreglist').trigger('click');
        }
    });

    $('#SessionId').change(function () {
        $('#ks_loader').show();
        var SessionId = $('#SessionId').val();
        $('#filterreglist').trigger("click");
        $('#ks_loader').hide();
    });

    $('#filterreglist').click(function () {
        var grid = $("#divRegStudentsGrid").data("kendoGrid");
        grid.dataSource.page(1);
    });
   
    $("#resetFilter").click(function () {
        $("#SessionId").val($("#defaultSessionId").val());
        var grid = $("#divRegStudentsGrid").data("kendoGrid");
        grid.dataSource.page(1);
    });

    @*$('#filterreglist').click(function () {
        $('#ks_loader').show();
        $('#grid tbody').html("");
        $('#divRegStudentsGrid').hide();

        var Regno = $('#Regno').val();
        var StandardId = $('#StandardId').val();
        var StudentId = $('#StudentId').val();
        var AdmissionTypeId = $('#AdmissionTypeId').val();
        var SessionId = $('#SessionId').val();
        var model = new Object();
        model.Regno = Regno;
        model.StandardId = StandardId;
        model.StudentId = StudentId;
        model.TypeId = AdmissionTypeId;
        model.ViewType = "Admit";
        model.SessionId = SessionId;
        // ajax call
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("AdmissionSearch", "Student"))',
            data: model,
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var row = '<tr>'
                            + '<td class=" text-center">';
                        if (result.data[i].IsCheck) {
                            row += '<input checked="' + result.data[i].IsCheck + '" type="checkbox" class="cls-chkbox" />';
                        } else {
                            row += '<input type="checkbox" class="cls-chkbox" />';
                        }

                        row += '</td>'
                            + '<td class="cls-stdId" style="display: none">' + result.data[i].StudentId + '</td>'

                            + '<td>' + result.data[i].Regno + '</td>'
                            @if (!Model.IsSetAdmissionNoAfterFeePaid) {<text>
                            + '<td class="clsadmn-td">';

                        if (result.AdmnSeriesEditable == 1) {
                            row += '<input type="text" class="cls-admnno" value="' + result.data[i].Admnno + '" />';
                        }
                        else {
                            row += '<input type="text" readonly class="cls-admnno" value="' + result.data[i].Admnno + '" />';
                        }

                        row += '</td>'
                            </text> }
                        + '<td>' + result.data[i].StudentName + '</td>'
                        + '<td>' + result.data[i].FatherName + '</td>'
                        + '<td>' + result.data[i].Standard + '</td>'
                        + '<td>' + result.data[i].Status + '</td>'
                        + '<td><a title="View" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default cls_studentdetail" href="javascript:void(0)"><i class="fa fa-eye"></i></a></td>'
                        + '</tr>';
                        $('#grid tbody').append(row);
                    }

                    if (result.data.length == 0) {
                        var row = '<tr><td class="text-center" colspan="8">No data found</td></tr>';
                        $('#grid tbody').html(' ');
                        $('#grid tbody').append(row);
                    }

                    $('#divRegStudentsGrid').show();
                    $('[data-toggle="tooltip"]').tooltip();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }

                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    });*@


    $('#saveregterlist').click(function () {
        $('#ks_loader').show();
        var AdmitRegisteredStudent = new Array();
        var AdmitRegisteredStudentobj = new Object();

        var Chkcount = 0;
        var count = 0;
        var checked = [];
        var aa = new Object();
        for (var i in checkedIds) {
            aa = new Object();
            if (checkedIds[i]) {
                aa.id = i;
                checked.push(aa);
            }
        }
        $('#divRegStudentsGrid tbody tr').each(function () {
            var row = $(this);
            AdmitRegisteredStudentobj = new Object();
            //if (row.find('.cls-chkbox').is(':checked') == true) {
            Chkcount = Chkcount + 1;

            //alert(row.find('.cls-chkbox').prop('checked'));
            if (!'@Model.IsSetAdmissionNoAfterFeePaid') {
                if (row.find('.cls-admnno').val().trim() != "") {
                    count = count + 1;
                    AdmitRegisteredStudentobj.StudentId = row.find("td:nth-child(2)").text();
                    AdmitRegisteredStudentobj.Admnno = row.find("td:nth-child(3)").text();
                    AdmitRegisteredStudent.push(AdmitRegisteredStudentobj);
                }
            } else {
                count = count + 1;
                AdmitRegisteredStudentobj.StudentId = row.find("td:nth-child(2)").text();
                AdmitRegisteredStudentobj.IsCheck = row.find('.cls-chkbox').prop('checked');
                if ($('#AdmnSeriesEditable').val() == '1')
                {
                    AdmitRegisteredStudentobj.Admnno = row.find(".cls-admnno").val();
                } else {
                    AdmitRegisteredStudentobj.Admnno = row.find("td:nth-child(3)").text();
                }
                AdmitRegisteredStudent.push(AdmitRegisteredStudentobj);
            }
            //}
        });


        @*$('#grid tbody tr').each(function () {
            var row = $(this);
            debugger;
            AdmitRegisteredStudentobj = new Object();
            //if (row.find('.cls-chkbox').is(':checked') == true) {
            Chkcount = Chkcount + 1;
            if (!'@Model.IsSetAdmissionNoAfterFeePaid') {
                if (row.find('.cls-admnno').val().trim() != "") {
                    count = count + 1;
                    AdmitRegisteredStudentobj.StudentId = row.find('.cls-stdId').text();
                    AdmitRegisteredStudentobj.Admnno = row.find('.cls-admnno').val();
                    AdmitRegisteredStudent.push(AdmitRegisteredStudentobj);
                }
            } else {
                count = count + 1;
                AdmitRegisteredStudentobj.StudentId = row.find('.cls-stdId').text();
                AdmitRegisteredStudentobj.IsCheck = row.find('.cls-chkbox').prop('checked');
                AdmitRegisteredStudentobj.Admnno = row.find('.cls-admnno').val();
                AdmitRegisteredStudent.push(AdmitRegisteredStudentobj);
            }
            //}
        });*@

        //if (checked.length === 0) {
        //    ToastMessage("Please check at least one checkbox", "error", true, 5000);
        //    $('#ks_loader').hide();
        //    return false;
        //}
        if (count == 0) {
            ToastMessage("Selected Student's Admn no. empty", "error", true, 5000);
            $('#ks_loader').hide();
            return false;
        }
        else {
            var model = new Object;
            model.Admitarray = JSON.stringify(AdmitRegisteredStudent);
            model.ViewType = "Admit"
            // ajax call
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("Admission", "Student"))',
                data: model,
                success: function (result) {
                    if (result.status == "success") {
                        // merge alert
                        var message = result.msg;
                        if (result.data != "") {
                            var data = " These Admn. No. already exists: " + result.data;
                            message += message != "" ? "\n " + data : data;
                        }
                        ToastMessage(message, "success", true, 5000);

                        if (result.msg != "") {
                            window.location.reload();
                            $('#ks_loader').show();
                        }
                        else
                            $('#ks_loader').hide();

                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

</script>