﻿@model ViewModel.ViewModel.Student.StudentModel
@Html.HiddenFor(x => x.siblingSessionId)
@Html.HiddenFor(x => x.SessionId, new { @id = "Session_id" })
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Session <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                <!-- Button Combo -->
                <div class="btn-combo-ks">
                    @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "form-control", @autofocus = "on" })
                </div><!-- Form Field -->
                @*<a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Add new Session" data-toggle="tooltip" data-placement="top" id="OpenSession">
                    <i class="fa fa-plus"></i>
                    </a>*@
            </div>
            <!-- //Button Combo -->
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.SessionId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    @*@if (!Model.IsSetAdmissionNoAfterFeePaid)
        {*@
    <div class="col-md-4 std-admission">
        <div class="form-group">
            <label class="col-md-4 control-label">Admission No.</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.AdmnNo, new { @class = "form-control", @placeholder = "Admission No.", @autocomplete = "off" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.AdmnNo)
            </div>
            <!-- //Error Message -->
        </div>
    </div>@*}*@
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4 std-registration" hidden>
        <div class="form-group">
            <label class="col-md-4 control-label">Registration No.</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.RegNo, new { @class = "form-control numericonly", @placeholder = "Registration No.", @autocomplete = "off" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.RegNo)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Standard <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandards, new { @class = "form-control", @style = "width: 100%" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.StandardId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<hr />
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">First Name <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.FName, new
                {
                    @class = "form-control",
                    @placeholder = "First Name",
                    @autocomplete = "off",
                    @maxlength = "20"@*, @onpaste = "return false"*@,
                    @ondrop = "return false"
                })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.FName)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Last Name</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.LName, new
                {
                    @class = "form-control",
                    @placeholder = "Last Name",
                    @autocomplete = "off",
                    @maxlength = "20"@*, @onpaste = "return false"*@,
                    @ondrop = "return false"
                })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.LName)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <label style="padding-left: 29px;">@Html.RadioButton("RadAadhar", 1) Aadhar No.</label>
        <label>@Html.RadioButton("RadEnrollment", 2) Enrollment No.</label>

        <div class="col-md-12" id="AadharShow" hidden>
            <div class="form-group col-md-12">
                @if (TempData["IsAadharMendatory"] != null)
                {
                    <label class="col-md-4 control-label">Aadhaar No.<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                }
                else
                {
                    <label class="col-md-6 control-label" style="padding-right: 29px;">Aadhaar No.</label><!-- Form Label -->
                }
                <div class="col-md-6" style="text-align:right; padding:0;">
                    @Html.TextBoxFor(model => model.AadharCard, new { @class = "form-control numericonly", @placeholder = "12 Digit Aadhar Card ", @autocomplete = "off", @maxlength = "12" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <!-- //Error Message -->
            </div>
            <!-- //Error Message -->
        </div>

        <div class="col-md-12" id="EnrollmentShow" hidden>
            <div class="form-group col-md-12">
                <label class="col-md-6 control-label" style="padding-right: 15px;">Enrollment No.</label><!-- Form Label -->
                <div class="col-md-6" style="text-align:right; padding:0;">
                    @Html.TextBoxFor(model => model.Enrollment, new { @class = "form-control numericonly", @placeholder = "28 Digit Enrollment No ", @autocomplete = "off", @maxlength = "28" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <!-- //Error Message -->
            </div>
        </div>
    </div>


    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">

    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">DOB <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.DateofBirth, new { @class = "", @placeholder = "dd/MM/yyyy", @maxlength = "10" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.DateofBirth)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Email</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "off", @maxlength = "255" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- //Form Coulmn -->
    <div class="col-md-4" id="pno">
        <div class="form-group">
            <label class="col-md-4 control-label">Mobile No.</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control numericonly", @maxlength = "10", placeholder = "10 digit no." })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.PhoneNo)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Religion</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.ReligionId, Model.AvailableReligions, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.ReligionId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Category</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.StudentCategoryId, Model.AvailableStudentCategory, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.StudentCategoryId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Nationality</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.NationalityId, Model.AvailableNationality, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.NationalityId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Gender</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.GenderId, Model.AvailableGender, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.GenderId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    @if (Model.ShowHostlerDetails)
    {
         <!-- //Form Coulmn -->
        <div class="col-md-4" id="hostler">
            <div class="form-group">
                <label class="col-md-4 control-label">Hostler</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.IsHostler, new { @class = "hostlercheckbox" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.IsHostler)
                </div>
                <!-- //Error Message -->
            </div>
            <!-- //Error Message -->
        </div>
            <!-- Form Coulmn -->
    }
    <div class="col-md-4" id="staffChild">
        <div class="form-group">
            <label class="col-md-4 control-label">Staff Child</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.CheckBoxFor(model => model.IsStaffChild, new { @class = "staffChildcheckbox" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.IsStaffChild)
            </div>
            <!-- //Error Message -->
        </div>
    </div>


</div>
<div class="row" style=" margin: 0px;">
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Student Photo</label><!-- Form Label -->
            <div class="col-md-8">
                <input type="file" class="form-control" name="StudentPhoto" id="Student-Photo" />
                <button type='button' class='capturephoto btn btn-xs' dataid="Student" style="margin-left: 162px"><i class='fa fa-camera'></i></button>
                @if (!string.IsNullOrEmpty(Model.StudentImagepath))
                {
                    <span class="clsimg">
                        <img width="60" height="60" src="@Model.StudentImagepath" />
                    </span>
                }
                @Html.HiddenFor(m => m.StudentImagepath)
            </div><!-- Form Field -->				                                <!-- Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Select Staff:</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.ParentStaffId, Model.AvailableStaff, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.ParentStaffId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>

    <div class="col-md-4" id="dor">
        <div class="form-group">
            <label class="col-md-4 control-label">Date of Regd.</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.DateOfRegd, new { @class = "", @id = "DateOfRegd" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.DateOfRegd)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <div class="col-md-4" id="doj">
        <div class="form-group">
            <label class="col-md-4 control-label">Date of Admn.</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.AdmnDate, new { @class = "", @id = "DateofJoining" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.AdmnDate)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <div class="col-md-4" id="smsMobileNo">
        <div class="form-group">
            <label class="col-md-4 control-label">SMS Mobile No</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.SMSMobileNo, new { @class = "numericonly", @id = "SMSMobileNo", @maxlength = "10" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.SMSMobileNo)
            </div>
            <!-- //Error Message -->
        </div>
    </div>

    <div class=" existing" style="display:none">
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Class<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.AssignedSectionId, Model.AvailableSectionlist, new { @class = "form-control" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.AssignedSectionId)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
    </div>
</div>

<div class="row">


</div>
<!-- Form Row -->
@*<hr class="existing" style="display:none"/>*@
<div class=" ">
    <!-- Form Coulmn -->
    <!-- //Form Coulmn -->
    <!-- //Form Coulmn -->
    @if (!Model.ShowRollNo)
    {
    <div class="col-md-4 existing" id="doj" style="display:none">
        <div class="form-group">
            <label class="col-md-4 control-label">Roll No</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.AssignedRollNo, new { @class = "form-control", @disabled = true, @maxlength = 10 })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.AssignedRollNo)
            </div>
            <!-- //Error Message -->
        </div>
    </div>}
    <!-- Form Coulmn -->
    <div class="col-md-4 existing" style="display:none">
        <div class="form-group">
            <label class="col-md-4 control-label">Admn Session <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                <!-- Button Combo -->
                <div class="btn-combo-ks">
                    @Html.DropDownListFor(model => model.AdmnSessoinid, Model.AdmnAvailableSessions, new { @class = "form-control", @autofocus = "on" })
                </div><!-- Form Field -->
                @*<a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Add new Session" data-toggle="tooltip" data-placement="top" id="OpenSession">
                    <i class="fa fa-plus"></i>
                    </a>*@
            </div>
            <!-- //Button Combo -->
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.AdmnSessoinid)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <div class="col-md-4 existing" id="NewAdmission" style="display:none">
        <div class="form-group">
            <label class="col-md-4 control-label">New Admission</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.CheckBoxFor(model => model.IsNewAdmission, new { @class = "IsNewAdmissioncheckbox" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.IsNewAdmission)
            </div>
            <!-- //Error Message -->
        </div>
        <!-- //Error Message -->
    </div>
    <!-- Form Row -->
</div>
@if (Model.StudentId > 0)
{
    if (Model.AllowRegistrationFeeinRegistrationform && !Model.RegistrationFeePaid)
    {
       
        <div class="row">
            <div class="col-md-12" align="center">
                @*<a id="NotFound" class="btn btn-xs btn-default" title="Pay Admission Fee" data-toggle="tooltip" data-placement="top" style="cursor:pointer">Pay Registration Fee</a>*@
                <input id="NotFound" type="button" style="width:49%" name="name" value="Pay Registration Fee" />
            </div>
        </div>

        <div id='myModal'
             class='modal'
             style=" ">
            <div class="modal-dialog"
                 style="width:900px; height:400px; padding:10px;">
                
                <div class="modal-content" style="overflow: auto; padding:10px; ">
                    <div align="right" class="modal-header" style="padding: 5px 0px 0px 10px;border:0px">
                        <button type="button"
                                id="closbtnfee">
                            x
                        </button>

                    </div>

                    <div style="height:10px;"> </div> <div id='myModalContent'
                                                           style="width:850px; height:400px; padding:10px"></div>
                </div>
            </div>
        </div>
        <script>
            //$('#NotFound').click(function (event) {
            //    event.preventDefault();
            //    $.get(this.href, function (response) {
            //        $('.divForNotFound').html(response);
            //    });
            //    $('#Add-NotFound').modal({
            //        backdrop: 'static',
            //    }, 'show');
            //});
            $(function () {
                $(".registration-steps").slice(1).attr('disabled', true)
                $("#NotFound").click(function () {
                    //$('#ks_loader').show();
                    $('#myModal').modal('show');
                    var options = {
                        "backdrop": "static",
                        keyboard: true
                    };
                    $('#myModal').modal(options);
                });
                var $buttonClicked = $(this);
                
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("FeeReceipt", "Fee"))',
                    contentType: "application/json; charset=utf-8",
                    data: { "id": '@Model.StudentId', "ss": '@Model.SessionId', 'cs': "Student/Registration" },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);

                        
                        //$('#myModal').modal('show');
                        $('#FeePeriodId').attr("style", "pointer-events: none;");
                        $('#RecieptTypeId').attr("style", "pointer-events: none;");
                      //  $('#FeePeriodId').prop('disabled', true)
                        $('#FeeTypeId').attr("style", "pointer-events: none;");
                        $('#StudentId').attr("style", "pointer-events: none;");
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
                $("#closbtnfee").click(function () {
                    debugger;
                    $('#myModal').modal('hide');
                });
            });
        </script>
    }
}
<div class="modal-popup" id="Reset_Reg_div" hidden>
    <div class="modal-popup-body" style="width: 332px;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none!important">
                <h4 class="modal-title" id="myModalLabel">Do you want to Reset Registration No.</h4>
            </div>
            <div class="row" style="margin-bottom: 22px;">
                <div align="right" class="col-md-6"><input type="button" id="reset_reg_no" class="btn btn-default btn-xs" value="Yes" /></div>
                <div align="left" class="col-md-6"><input type="button" id="continue_reg_no" class="btn btn-default btn-xs" value="No" /></div>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">

    //$(document).ready(function () {
    //    $('input[name=Formtype]:first').attr('checked', true);
    //});




    $(function () {

        if ($('#Registration').prop('checked') == true) {
            $('.std-admission').hide();
            $('.std-registration').show();
            $('input[type=radio][name=Formtype]').val(1);
        }
        else if ($('#Admission').prop('checked') == true) {
            @if (!Model.IsSetAdmissionNoAfterFeePaid)
            {
                <text>
            $('.std-admission').show();
            $("#doj").show();
            </text>
            }
            else
            {
                <text>
            $('.std-admission').hide();
            $("#doj").hide();
            </text>
            }

            $('.std-registration').hide();
            $('input[type=radio][name=Formtype]').val(2);
        }
        else if ($('#Existing').prop('checked') == true) {
            $('.std-admission').show();
            $('.std-registration').hide();
            $('input[type=radio][name=Formtype]').val(3);
            //$("#doj").show();
        }
        $('#SessionId').val($('#Session_id').val()).trigger('change');




        $('#continue_reg_no').click(function () {
            $('#Reset_Reg_div').hide();
        })

        $('#reset_reg_no').click(function () {

            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("ResetRegNo", "Student"))',
                data: { "status": "Y" },
                success: function (result) {

                    if (result.status == "success") {
                        $('#RegNo').val(result.msg);
                        $('#Reset_Reg_div').hide();
                        $('#ks_loader').hide();
                    }
                    else {
                        if (result.msg == "NotValid") {

                        }

                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })

        $('#SessionId').change(function () {
            var sessionId = $(this).val();

            if (sessionId > 0) {
                $('#ks_loader').show()
                $.ajax({
                    type: "POST",
                    async: false,
                    url: '@Html.Raw(Url.Action("StudentCheckCurrentSession", "Student"))',
                    data: { "SessionId": sessionId },
                    success: function (result) {

                        if (result.status == "success") {
                            $('#RegNo').val(result.msg);
                            $('#ks_loader').hide();
                        }
                        else {
                            if (result.msg == "NotValid") {
                                $('#Reset_Reg_div').show();
                                $('#ks_loader').hide();
                            }

                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        })

        @if (Model.AssignedSectionId > 0)
                    {
            <text>
        $('#AssignedRollNo').attr('disabled', false);
        </text>
                    }

        $('#AssignedSectionId').click(function () {
            var sectionid = $(this).val();
            if (sectionid > 0) {
                $('#AssignedRollNo').attr('disabled', false);
            }
            if (sectionid == "") {
                $('#AssignedRollNo').attr('disabled', true);
            }
        });

        @if (Model.StudentCategoryId == 0)
                    {
            <text>
        $("#StudentCategoryId option").each(function () {
            if ($(this).text() == "General") {
                $(this).attr('selected', 'selected');
            }
        });
        </text>
                    }
        //$("#NationalityId option").each(function () {
        //    if ($(this).text() == "Indian") {
        //        $(this).attr('selected', 'selected');
        //    }
        //});
        if ($("#Registration").attr("checked") == "checked") {
            $("#doj").hide();
        }
        else if ($('#Admission').prop('checked') == true) {
            @if (!Model.IsSetAdmissionNoAfterFeePaid)
            {
                <text>

            $("#doj").show();
            </text>
            }
            else
            {
                <text>

            $("#doj").hide();
            </text>
            }
        }
        else if ($('#Existing').prop('checked') == true) {
            $("#doj").show();
        }
    });

    var url = window.location.href;
    $(document).ready(function () {
        if (url.indexOf("Create") > -1) {
            //createPage
            $('#RadAadhar').prop('checked', true);
            $('#AadharShow').show();
        }
    });



    @*@if (Model.Formtype == 1)
       {
           <text>
                $('#Aadhar').prop('checked', true);
            </text>
       }
    @if (Model.Formtype == 2)
    {
        <text>
            $('#Enrollment').prop('checked', true);
        </text>
    }*@

    @if (Model.Enrollment == null && Model.AadharCard == null)
     {
          <text>
    $('#AadharShow').show();
    $('#RadAadhar').prop('checked', true);
    </text>
     }
     else if (Model.Enrollment != null && Model.AadharCard == null)
    {
        <text>
    $('#RadEnrollment').prop('checked', true);
    $('#EnrollmentShow').show();
    </text>
    }
    else if (Model.AadharCard != null && Model.Enrollment == null)
    {
        <text>
    $('#AadharShow').show();
    $('#RadAadhar').prop('checked', true);
    </text>
    }else if(Model.Enrollment != null && Model.AadharCard != null){
         <text>
    $('#AadharShow').show();
    $('#RadAadhar').prop('checked', true);
    </text>
    }

    $('#RadAadhar').click(function () {
        if ($('#RadAadhar').prop('checked') == true) {
            $('#EnrollmentShow').hide();
            $('#AadharShow').show();
            $('#RadEnrollment').prop('checked', false);
            // $('#Enrollment').val('');
        }
    });

    $('#RadEnrollment').click(function () {
        if ($('#RadEnrollment').prop('checked') == true) {
            $('#EnrollmentShow').show();
            $('#AadharShow').hide();
            $('#RadAadhar').prop('checked', false);
            //$('#AadharCard').val('');
        }
    });

    $("#FName,#LName").keydown(function (e) {
        lettersOnly(e);
    });

    $('#AssignedRollNo').keypress(function (e) {
        CheckNumeric(e);
    });

    $('#Student-Photo').on('change', function (e) {
        var uniqueno = 0;
        @if (Model.StudentId != null)
                    {
            <text>uniqueno = '@Model.StudentId';</text>
                    }
                    else
                    {
             <text>uniqueno = '@Model.NextStudentId';</text>
                    }

        var imagename = FileUpload(e, uniqueno, uniqueno, 1);
        $('#StudentImagepath').val(imagename);
    });

    $("#DateofBirth").kendoDatePicker({
        format: "dd/MM/yyyy"
    });

    $('#DateofBirth').bind('keyup', 'keydown', function (event) {
        var inputLength = event.target.value.length;
        if (event.keyCode != 8) {
            if (inputLength === 2 || inputLength === 5) {
                var thisVal = event.target.value;
                thisVal += '/';
                $(event.target).val(thisVal);
            }
        }
    })

    @if (Model.DateofJoining == "" || Model.DateofJoining == null)
                {

             <text>
    if ($('#Existing').val() == '3') {
        $("#DateofJoining").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date()
        });
    }
    else {
        $("#DateofJoining").kendoDatePicker({
            format: "dd/MM/yyyy",
            //value: new Date()
        });
    }
    </text>
                }
                else
                {
         <text>
    $("#DateofJoining").kendoDatePicker({
        format: "dd/MM/yyyy",
    });
    </text>
                }
    @if (Model.RegDate == null && (Model.StudentId == null || Model.StudentId == 0))
    {

        <text>
    $("#DateOfRegd").kendoDatePicker({
        format: "dd/MM/yyyy",
        value: new Date()
    });
    </text>
    }
    else if(Model.RegDate==null)
    {  <text>
    $('#dor').hide();</text>
    }
    else
    {
        <text>
    $("#DateOfRegd").kendoDatePicker({
        format: "dd/MM/yyyy",
    });
    </text>
    }
    $(document).ready(function () {

        $('#StandardId').trigger('change')

    })



    $("#DateofBirth").attr("readonly", false);
    $("#DateofJoining").attr("readonly", true);
    $("#DateOfRegd").attr("readonly", true);
    //$('#AadharCard').keydown(function (e) {
    //    NumericOnly(e);
    //});
    // on standard change check DOB validation and pre filled setting
    $('#StandardId').change(function () {
        var standard = $(this);
        var sessionid = $('#SessionId').val();
        if (standard.val() > 0) {
            $('#ks_loader').show();
            // check dob and Standard admn open
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("StudentDOBValidation", "Student"))',
                data: { "standard": standard.val(), "sessionid": sessionid },
                success: function (result) {
                    if (result.IsRegOpen == "0" && $('#Registration').prop("checked") == true) {
                        ToastMessage("Registration Close for this Standard", "error", true, 5000);
                        $('#StandardId').val("");
                    }
                    else {

                        $("#DateofBirth").attr("readonly", false);
                        @if (Model.DateofBirth != null)
                        {

                        }
                        else
                        {
                            <text>
                        $("#DateofBirth").val(result.data)
                        </text>
                        }
                        $("#DateofBirth").kendoDatePicker({
                            format: "dd/MM/yyyy",
                            min: GetDateFromString(result.minDateForDOBCal),
                            max: GetDateFromString(result.maxDateForDOBCal)
                        });
                        $("#DateofBirth").attr("readonly", false);
                    }

                    $('#AssignedSectionId').text('');
                    $.each(result.sectionlist, function () {
                        $('#AssignedSectionId').append('<option value="' + this.Value + '">' + this.Text + '</option>');
                    });
                    @if(Model.AssignedSectionId>0){
                        <text>
                    $('#AssignedSectionId').val(@Model.AssignedSectionId)
                    </text>
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        } else {
            $('#AssignedSectionId').text('');
            $('#AssignedSectionId').append('<option value="">--Select--</option>');
        }

    });

    // function get date as string and return date
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }
    @if (Model.StudentId > 0) {

    if (!Model.IsStaffChild)
    {
        if (Model.ParentStaffId == null || Model.ParentStaffId == 0)
    {
    <text>
    $('#IsStaffChild').prop('checked', false);
    $("#ParentStaffId").prop("disabled", true);
    </text>
    }
    }
    else if (Model.IsStaffChild)
    {
        <text>
    $('#IsStaffChild').prop('checked', true);
    </text>
    }
    else if (Model.ParentStaffId != null || Model.ParentStaffId > 0)
    {
    <text>
    $('#IsStaffChild').prop('checked', false);
    $("#ParentStaffId").prop("disabled", false);
    </text>
    }

    }

    @if (Model.IsStaffChild)
    {
        <text>
    $('#IsStaffChild').prop('checked', true);
    </text>

    }
    @if (Model.ParentStaffId == null || Model.ParentStaffId == 0)
    {
        <text>
    $("#ParentStaffId").prop("disabled", true);
    </text>
    }

    $("#IsStaffChild").click(function () {
        if ($("#IsStaffChild").prop('checked') == false) {
            $("#ParentStaffId").val("");
            $("#ParentStaffId").prop("disabled", true);
        }
        else {
            $("#ParentStaffId").prop("disabled", false);
        }
    })


    @*@if (Model.IsStudentRegistrationForminSinglePage)
    {
        <text>
    $(document).ready(function () {
      @if (Model.StudentId > 0)
      {
        
          <text>
      $('.registration-steps').each(function (i, obj) {

          var propertydisabled = $(this).prop("disabled");
          @if(Model.RegistrationFeeCompulsoryinRegistrationform){
              <text>
          if ($(this).prop("disabled")) { } else {

              var stepInfo = $(this).find('.step-information').text();
              $("[id ='" + stepInfo + "']").show();
          } </text>
      }
          else{
              <text>
          var stepInfo = $(this).find('.step-information').text();
          $("[id ='" + stepInfo + "']").show();
          </text>}
      });

        </text>
    }
    })
    </text>
      }*@
</script>