﻿@model ViewModel.ViewModel.Student.AdmissionModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
@Html.HiddenFor(x => x.ViewType, new { @id = "ViewTypeSecondTab" })
<style>
    .cls-rej-rsn {
        color: black !important;
    }
</style>

<ul class="nav nav-tabs">
    <li><a href="@Html.Raw(Url.Action("Admission", "Student"))">Set Selected</a></li>
    <li class="active"><a data-toggle="tab" href="#WaitList">Set Waiting List</a></li>
    <li><a href="@Html.Raw(Url.Action("RejectedList", "Student"))">Set Rejected List</a></li>
    <li><a href="@Html.Raw(Url.Action("ViewAdmitted", "Student"))">View Selected</a></li>
    <li><a href="@Html.Raw(Url.Action("ViewAll", "Student"))">View All</a></li>
    <li>
        <div style="float: right;    margin-left: 113px;    margin-top: 6px;">
            <label>Select Session</label>
            @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @id = "SessionId4", @class = "form-control drpcls" })
        </div>
    </li>
</ul>
@Html.HiddenFor(m => m.SessionId, new { id = "defaultSessionId4" })
<div class="tab-content">

    <div id="WaitList" class="tab-pane fade in active">
        <!-- Form Row -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Registration No.</label>
                    @Html.TextBoxFor(model => model.Regno, new { @class = "form-control", @autofocus = "on", @placeholder = "RegNo", @autocomplete = "off"})
                </div>

                <div class="form-group">
                    <label>Standard</label>
                    @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandard, new { @class = "drop-down form-control" })
                </div>

                <div class="form-group">
                    <label>First Name</label>
                    @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new { @class = "drop-down form-control" })
                </div>

                <div class="form-group waiting">
                    <label>Type</label>
                    @Html.DropDownListFor(model => model.WaitingTypeId, Model.AvailableTypesForWaitingList, new { @class = "form-control" })
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filterwaitlist" class="btn btn-default" name="Search">Search</button>
                </div>
                <div class="form-group">
                    <button type="button" id="resetFilter" class="btn btn-danger" name="Search">Reset</button>
                </div>
            </div>
        </div>
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="divWaitingStuGrid">
                    <script>
                            $(document).ready(function () {
                                $("#divWaitingStuGrid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("GetAdmitRegisteredStudents", "Student"))",
                                                type: "POST",
                                                dataType: "json",
                                                contentType: "application/json",
                                                data: additionalWaitingStuGrid
                                            },
                                            parameterMap: function (data) {
                                                return JSON.stringify(data);
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: '@(defaultGridPageSize)',
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    dataBound: onDataBoundWaitingStuGrid,
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    sortable: true,
                                    columns: [{
                                        title: "Select All",
                                        headerTemplate: "<input type='checkbox' id='header-chb' class=' k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>",
                                        template: "#if(IsCheck){#<input type='checkbox' id='#=StudentId#' class='cls-chkbox k-state-selected k-checkbox row-checkbox1' checked='checked'>"
                                                + "<label class='k-checkbox-label' for='#=StudentId#' ></label>#}"
                                                + "else {#<input type='checkbox' id='#=StudentId#' class='cls-chkbox k-checkbox row-checkbox1'>"
                                                + "<label class='k-checkbox-label' for='#=StudentId#'></label>#}#"
                                    }, {
                                        field: "StudentId",
                                        hidden: true,
                                        template: "<label class='cls-stdId'>#=StudentId#</label>"
                                    }, {
                                        field: "Regno",
                                        title: "Reg. no."
                                    },{
                                        field: "StudentName",
                                        title: "Student Name"
                                    }, {
                                        field: "FatherName",
                                        title: "Father Name"
                                    }, {
                                        field: "Standard",
                                        title: "Standard"
                                    }, {
                                        field: "Status",
                                        title: "Status"
                                    },
                                     @if (Model.IsViewrecord )
                                    {<text>
                                            {
                                                field: "StudentId",
                                                title: "View",
                                                sortable: false,
                                                template: '#{#<a href="javascript:void(0)" title="View"'
                                                        + ' data-toggle="tooltip" data-placement="top"'
                                                        + ' class="cls_studentdetail btn btn-xs btn-default"><i class="fa fa-eye"></i></a>#}#'
                                            },
                                    </text>}]
                                });
                                var grid = $("#divWaitingStuGrid").data("kendoGrid");

                                $('#header-chb').change(function (ev) {
                                    var checked = ev.target.checked;
                                    var grid = $("#divWaitingStuGrid").data("kendoGrid");
                                    var dataSource = grid.dataSource;
                                    //total records
                                    var totalRecords = dataSource.view().length;

                                    var idcount = 0;
                                    grid.tbody.find("input:checked").closest("tr").each(function (index) {
                                        idcount = idcount + 1;
                                    });

                                    if (idcount == totalRecords) {
                                        $('.row-checkbox1').each(function (idx, item) {
                                            $(item).click();
                                            if (checked) {
                                                $(item).addClass("k-state-selected");
                                            }
                                            else {
                                                $(item).removeClass("k-state-selected");
                                            }
                                        });
                                    }
                                    else {
                                        $('.row-checkbox1').each(function (idx, item) {
                                            if (checked && idcount == totalRecords) {

                                            } else {

                                                //$("#divRegStudentsGrid tbody input:checkbox").trigger("click");
                                                if ($(item).hasClass("cls-chkbox k-state-selected k-checkbox row-checkbox1")) {
                                                }
                                                else {
                                                    $(item).click();
                                                }
                                            }
                                        });
                                    }
                                });
                            });

                        function onDataBoundWaitingStuGrid(arg) {
                                $('[data-toggle="tooltip"]').tooltip();
                                var view = this.dataSource.view();
                                for (var i = 0; i < view.length; i++) {
                                    if (checkedIds[view[i].id]) {
                                        this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                                            .addClass("k-state-selected")
                                            .find(".k-checkbox")
                                            .attr("checked", "checked");
                                    }
                                }
                            }

                        function additionalWaitingStuGrid() {
                                var data = {
                                    ViewType: $("#ViewTypeSecondTab").val(),
                                    TypeId: $("#WaitingTypeId").val(),
                                    StandardId: $('#StandardId').val(),
                                    StudentId: $('#StudentId').val(),
                                    SessionId: $('#SessionId4').val(),
                                    Regno: $('#Regno').val(),

                                };
                                addAntiForgeryTokenWaitingStuGrid(data);
                                return data;
                            }

                        addAntiForgeryTokenWaitingStuGrid = function (data) {
                                data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                                return data;
                            };
                    </script>
                </div>
            </div>
        </div>

        @if (Model.IsAuthToAdd)
        {
        <div class="row top-space-10">
            <div class="col-md-5">
                <button type="button" name="Save" id="savewaitlist" class="btn btn-success">Save Waiting List</button>
            </div>
        </div>
        }

    </div>
</div>
<script type="text/javascript">
    var checkedIds = {};

    $(document).ready(function () {
        var grid = $("#divWaitingStuGrid").data("kendoGrid");
        //bind click event to the checkbox
        grid.table.on("click", ".row-checkbox1", selectRow);
        function selectRow() {
            var checked = this.checked,
                row = $(this).closest("tr"),
                grid = $("#divWaitingStuGrid").data("kendoGrid"),
                dataItem = grid.dataItem(row);

            checkedIds[dataItem.StudentId] = checked;
            if (checked) {
                //-select the row
                row.addClass("k-state-selected");
            } else {
                //-remove selection
                row.removeClass("k-state-selected");
            }
        }
    });
    $(window).keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();

            $('#filterwaitlist').trigger('click');
        }
    });

    $("#resetFilter").click(function () {
        $('#SessionId4').val($("#defaultSessionId4").val());
        
        var grid = $("#divWaitingStuGrid").data("kendoGrid");
        grid.dataSource.page(1);
    });


    $('#SessionId4').change(function () {
        $('#ks_loader').show();
        var SessionId = $('#SessionId4').val();
        $('#filterwaitlist').trigger("click");
        $('#ks_loader').hide();
    });

    $('#filterwaitlist').click(function () {
        var grid = $("#divWaitingStuGrid").data("kendoGrid");
        grid.dataSource.page(1);
    });
    @*$('#filterwaitlist').click(function () {
            $('#ks_loader').show();
            $('#grid tbody').html("");
            $('#divRegStudentsGrid').hide();

            var Regno = $('#Regno').val();
            var StandardId = $('#StandardId').val();
            var StudentId = $('#StudentId').val();
            var WaitingTypeId = $('#WaitingTypeId').val();
            var SessionId = $('#SessionId4').val();
            var model = new Object();
            model.Regno = Regno;
            model.StandardId = StandardId;
            model.StudentId = StudentId;
            model.TypeId = WaitingTypeId;
            model.ViewType = "Wait";
            model.SessionId = SessionId;
            // ajax call
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("AdmissionSearch", "Student"))',
                data: model,
                success: function (result) {
                    if (result.status == "success") {
                        for (var i = 0; i < result.data.length; i++) {
                            var row = '<tr>'
                                   + '<td class=" text-center">';

                            if (result.data[i].IsCheck == true) {
                                row += '<input checked="checked" type="checkbox" class="cls-chkbox" />';
                            }
                            else {
                                row += '<input type="checkbox" class="cls-chkbox" />';
                            }

                            row += '</td>'
                            + '<td class="cls-stdId" style="display: none">' + result.data[i].StudentId + '</td>'
                            + '<td>' + result.data[i].Regno + '</td>'

                            row += '</td>'
                            + '<td>' + result.data[i].StudentName + '</td>'
                            + '<td>' + result.data[i].FatherName + '</td>'
                            + '<td>' + result.data[i].Standard + '</td>'
                            + '<td>' + result.data[i].Status + '</td>'
                            + '<td><a title="View" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default cls_studentdetail" href="javascript:void(0)"><i class="fa fa-eye"></i></a></td>'
                            + '</tr>';
                            $('#grid tbody').append(row);
                        }
                        if (result.data.length == 0) {
                            var row = '<tr><td class="text-center" colspan="7">No data found</td></tr>';
                            $('#grid tbody').append(row);
                        }

                        $('#divRegStudentsGrid').show();
                        $('[data-toggle="tooltip"]').tooltip();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });*@

    $('#savewaitlist').click(function () {
        $('#ks_loader').show();
        var AdmitRegisteredStudent = new Array();
        var AdmitRegisteredStudentobj = new Object();

        var count = 0;
        var checked = [];
        var aa = new Object();
        for (var i in checkedIds) {
            aa = new Object();
            if (checkedIds[i]) {
                aa.id = i;
                checked.push(aa);
            }
        }

        $('#divWaitingStuGrid tbody tr').each(function () {
            var row = $(this);
            AdmitRegisteredStudentobj = new Object();
            var status = "0";
            if (row.find('.cls-chkbox').is(':checked') == true)
                var status = "1";

            AdmitRegisteredStudentobj.StudentId = row.find("td:nth-child(2)").text();;
            AdmitRegisteredStudentobj.Status = status;
            AdmitRegisteredStudent.push(AdmitRegisteredStudentobj);

        });
        //if (checked.length === 0) {
        //    ToastMessage("Please check at least one checkbox", "error", true, 5000);
        //    $('#ks_loader').hide();
        //    return false;
        //}
        //else {
        var model = new Object;
        model.Admitarray = JSON.stringify(AdmitRegisteredStudent);
        model.ViewType = "Wait"
        // ajax call
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("Admission", "Student"))',
            data: model,
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.msg, "success", true, 5000);
                    window.location.reload();
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        // }
    });

</script>
