﻿@model ViewModel.ViewModel.Student.StudentModel

@Html.Hidden("table-index")
@Html.Hidden("parent-full-detail")
@Html.HiddenFor(model => model.ParentDetailArray)
@Html.HiddenFor(model => model.GuardianModel.GuardianId)



<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Guardian Type</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.GuardianModel.GuardianTypeId, Model.GuardianModel.AvailableGuardianType, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.GuardianModel.GuardianTypeId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">First Name</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.GuardianModel.FirstName, new { @class = "form-control", @placeholder = "First Name", @autocomplete = "off", @maxlength = "20", @onpaste = "return false", @ondrop = "return false" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.GenderId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Last Name</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.GuardianModel.LastName, new { @class = "form-control", @placeholder = "Last Name", @autocomplete = "off", @maxlength = "20", @onpaste = "return false", @ondrop = "return false" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.GenderId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Qualification</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.GuardianModel.QualificationId, Model.GuardianModel.AvailableQualification, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.GuardianModel.QualificationId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Occupation</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.GuardianModel.OccupationId, Model.GuardianModel.AvailableOccupation, new { @class = "form-control" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.GuardianModel.OccupationId)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Income</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.GuardianModel.IncomeSlabId, new { @class = "form-control GuardianModel-Income", @placeholder = "Income", @autocomplete = "off" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Address</label><!-- Form Label -->
            <div class="col-md-8">
                <!-- Button Combo -->
                <div class="btn-combo-ks">
                    @Html.TextArea("GuardianAddress", null, 3, 5, new { @class = "form-control", @disabled = "disabled", @style = "resize: none" })
                </div>
                <a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Add Guardian Address" data-toggle="tooltip" data-placement="top" id="add-gurdian-address">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">ContactInfo</label><!-- Form Label -->
            <div class="col-md-8">
                <!-- Button Combo -->
                <div class="btn-combo-ks">
                    @Html.TextArea("GuardianContactInfo", null, 3, 5, new { @class = "form-control", @disabled = "disabled", @style = "resize: none" })
                </div>
                <a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Add ContactInfo" data-toggle="tooltip" data-placement="top" id="add-guardian-contactinfo">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Guardian Photo</label><!-- Form Label -->
            <div class="col-md-8">
                <input type="file" class="form-control" name="GuardianPhoto" id="Guardian-Photo" />
                <button type='button' class='capturephoto btn btn-xs' dataid="Guardian" style="margin-left: 162px"><i class='fa fa-camera'></i></button>
                @*@if (!string.IsNullOrEmpty(Model.GuardianImagepath))
                    {*@
                <span class="clsimg">
                    <img width="60" height="60" id="guardian_image" src="@Model.GuardianImagepath" hidden />
                </span>
                @*}*@
                @Html.HiddenFor(m => m.GuardianImagepath)
            </div><!-- Form Field -->				                                <!-- Error Message -->
        </div>
    </div>

</div>
<!-- Form Row -->
<div class="row">
    <!-- //Form Coulmn -->
    <label class="col-md-9 control-label"></label><!-- Form Label -->
    <div class="col-md-3">
        <button id="save-full-detail" type="submit" name="savefulldetail" class="btn btn-default">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>

        <button id="Reset-full-detail" type="button" name="Resetfulldetail" class="btn btn-default">
            <i class="fa fa-ban"></i>
            Cancel
        </button>
    </div>
</div>

<div class="row top-space-20">
    <div class="col-md-12">
        <table id="gurdian-detail-grid" class="table table-bordered table-condensed table-striped table-responsive table-hover">
            <thead class="thead-default">
                <tr>
                    <th style="width: 7%;">Guardian Type</th>
                    <th style="width: 13%;">Name</th>
                    <th style="width: 20%;">Address</th>
                    <th style="width: 20%;">Contact Info</th>
                    <th style="width: 20%;">Image</th>
                    <th class="text-center" style="width: 4%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var parent in Model.GuardianModelList)
                {
                    <tr>
                        <td>@parent.GuardianType</td>
                        <td style='display: none'>@parent.GuardianTypeId</td>
                        <td style='display: none'>@parent.FirstName</td>
                        <td style='display: none'>@parent.LastName</td>
                        <td>@parent.FullName</td>
                        <td style='display: none'>@parent.Occupation</td>
                        <td style='display: none'>@parent.OccupationId</td>
                        <td style='display: none'>@parent.Qualification</td>
                        <td style='display: none'>@parent.QualificationId</td>
                        <td style='display: none'>@parent.IncomeSlabId</td>
                        <td style='display: none'>@parent.GuardianAddressSave</td>
                        <td style='display: none'>@parent.GuardianContactInfoSave</td>
                        <td>@parent.GuardianAddressShow</td>
                        <td>@parent.GuardianContactInfoShow</td>
                        <td style='display: none'>false</td>
                        <td class="clsguardianid" style="display: none">@parent.EncGuardianId</td>
                        <td><img width="60" height="60" src="@parent.GuardianImagepath" /></td>
                        <td class='text-center'>
                            <a href='javascript:void(0)' title='Edit' data-toggle='tooltip' data-placement='top' class='clsedit btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>
                            @*@if (Model.GuardianModelList.Count > 1)
                            {*@
                                <a href='javascript:void(0)' title='Delete' data-toggle='tooltip' data-placement='top' class='clsdelete  btn btn-xs btn-default'><i class='fa fa-trash'></i></a>
                            @*}*@
                        </td>
                       @*// <td style='display: none'>@parent.GuardianAddressType</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal-popup" id="address-div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content" style="width:120%;">
            <div class="modal-header">
                <button type="button" id="close-gurdian-address-div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Address</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="same-address-option">
                    @Html.Hidden("address-hidden")
                    @Html.Hidden("contactinfo-hidden")
                    <!-- Form Coulmn -->
                    <div class="col-md-6">
                        <div class="form-group">
                            @{

                                if (Model.HasStudentAddress)
                                {
                                    <label class="col-md-7 control-label">Same as Student Address</label><!-- Form Label -->
                                    <div class="col-md-4">
                                        @Html.CheckBox("sameaddress", true)
                                    </div>
                                }
                            }
                            <!-- Form Field -->
                        </div>
                    </div>
                    <!-- //Form Coulmn -->
                </div>

                @Html.Partial("_address", Model.AddressModel, new ViewDataDictionary { { "Column", 2 }, { "Prefix", "Guardian" } })
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="contactInfo-div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="add-contactinfo-detail" name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Contact Info</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_ContactInfo", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#address-div").find('table').hide();
    //$("#Guardian-Photo").change(function () {
    //    var file = document.getElementById("Guardian-Photo").files[0];
    //    var readImg = new FileReader();
    //    readImg.readAsDataURL(file);
    //    readImg.onload = function (e) {
    //        $('#guardian_image').attr('src', e.target.result).fadeIn();
    //    }
    //});
    $('#Guardian-Photo').on('change', function (e) {
        var file = document.getElementById("Guardian-Photo").files[0];
        var readImg = new FileReader();
        if (file != null && file != "") {
            readImg.readAsDataURL(file);
            readImg.onload = function (e) {
                $('#guardian_image').attr('src', e.target.result).fadeIn();
            }
        }
        var uniqueno = 0;
        @if (Model.StudentId != null)
      {
          <text>uniqueno = '@Model.StudentId';</text>
      }
      else
      {
          <text>uniqueno = '@Model.NextStudentId';</text>
      }

        var imagename = FileUploadGuardian(e, uniqueno, uniqueno, 1);
        //$('#guardian_image').attr("src", imagename);
        $('#GuardianImagepath').val(imagename);
    });
    // Income numeric
    $(".GuardianModel-Income").keydown(function (e) {
        NumericOnly(e);
    });
    $("#GuardianModel_FirstName,#GuardianModel_LastName").keydown(function (e) {
        lettersOnly(e);
    })
    // open popup address
    $('#add-gurdian-address').click(function () {
        $('#address-div').show();
        
    });

    // close popup address
    $('#close-gurdian-address-div').on("click", function () {
        if ($('#GuardianAddress').val() == "") {
            ClearAddressFields();
        }
        //$('#GuardianAddress').val('');
        $('#sameaddress').prop('checked', false);
        $('#address-div').hide();
    });

    // open popup contactInfo
    $('#add-guardian-contactinfo').click(function () {
        $('#contactInfo-div').show();
    });

    // close popup contactInfo
    $('#close-contactInfo-div').click(function () {
        ClearGuardianInfoFields();
        $('#GuardianContactInfo').val('');
        $('#ContactInfo-detail-grid tbody').html('');
        $('#contactInfo-div').hide();
    });

    // add guardian row event
    $('#save-full-detail').click(function () {
        $("#GuardianUpdated").val($(this).parent().parent().parent().parent().parent().attr('id'));
        $('#ks_loader').show();
        $("#GuardianUpdated").val();
        var guardianvalid = validateGuardian(); // check data validation
        if (guardianvalid) {
            window.onbeforeunload = null;
            AddgurdianRowInGrid(); // add row into grid
            ClearAddressFields();
            $('#sameaddress').prop('checked', false);
            $('#ContactInfo-detail-grid tbody').html('');
        }
        else {
            alert(Guardianvalidationmessage);
            $(GuardianFieldctrlfocus).focus();
            $('#ks_loader').hide();
            return false;
        }

        var postresult = PostGuardianInfo();
        if (postresult)
            return true;
        else {
            $('#ks_loader').hide();
            return false;
        }
    });

    // add guardian row function
    function AddgurdianRowInGrid() {
        var address = $('#address-hidden').val();
        //var address = $('#GuardianAddress').val();
        var contactinfo = $('#contactinfo-hidden').val();
        if ($('#table-index').val() != "") {
            var rowindex = $('#table-index').val();
            $("#gurdian-detail-grid tbody tr:eq(" + rowindex + ")").remove();
            $('#table-index').val('');
        }
        else
            $('#table-index').val('');

        var sameaddress = false;
        if ($('#sameaddress').is(':checked') == true)
            sameaddress = true;

        var btns = "<a title='Edit' data-toggle='tooltip' data-placement='top' href='javascript:void(0)'  style='padding-right: 10px' class='clsedit btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>";
        if ($('#gurdian-detail-grid tbody tr').length > 1) {
            btns = btns + "<a title='Delete' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' class='clsdelete btn btn-xs btn-default'><i class='fa fa-trash'></i></a>";
        }
        var tablerow = "<tr>"
            + "<td>" + $("#GuardianModel_GuardianTypeId option:selected").text() + "</td>" // 1
            + "<td style='display: none'>" + $('#GuardianModel_GuardianTypeId').val() + "</td>" // 2
            + "<td style='display: none'>" + $('#GuardianModel_FirstName').val() + "</td>" // 3
            + "<td style='display: none'>" + $('#GuardianModel_LastName').val() + "</td>"  // 4
            + "<td>" + $('#GuardianModel_FirstName').val() + " " + $('#GuardianModel_LastName').val() + "</td>" // 5
            + "<td style='display: none'>" + $("#GuardianModel_OccupationId option:selected").text() + "</td>" // 6
            + "<td style='display: none'>" + $('#GuardianModel_OccupationId').val() + "</td>" // 7
            + "<td style='display: none'>" + $("#GuardianModel_QualificationId option:selected").text() + "</td>" // 8
            + "<td style='display: none'>" + $('#GuardianModel_QualificationId').val() + "</td>" // 9
            + "<td style='display: none'>" + $('#GuardianModel_IncomeSlabId').val() + "</td>" // 10
             + "<td style='display: none'>" + address + "</td>" // 11
            + "<td style='display: none'>" + contactinfo + "</td>"    //12
            + "<td>" + $('#GuardianAddress').val() + "</td>"  //13
            + "<td>" + $('#GuardianContactInfo').val() + "</td>"  //14
            + "<td style='display: none'>" + sameaddress + "</td>" //15
            + "<td class='clsguardianid' style='display: none'>" + $('#GuardianModel_GuardianId').val() + "</td>"  //16
            + "<td><img width='60' height='60' src='" + $('#GuardianImagepath').val() + "' /></td>"//17
            + "<td  class='text-center'>" + btns + "</td>" //18
            + "</tr>";

        $('#gurdian-detail-grid tbody').append(tablerow);
        $('[data-toggle="tooltip"]').tooltip();
        ClearGuardianFields();
    }

    // edit guardian row
    $('#Reset-full-detail').click(function () {
        $('#save-full-detail').text("");
        $('#save-full-detail').append("<i class='fa fa-floppy-o'></i>Save");
        $('#table-index').val('');
        $('#GuardianModel_GuardianTypeId').find('option').each(function () {
            if ($(this).attr('flag') == "appendedOption") {
                $(this).remove();
            }
        });
        $('#GuardianModel_GuardianTypeId').val('');
        $('#GuardianModel_OccupationId').val('');
        $('#GuardianModel_QualificationId').val('')
        $('#GuardianModel_FirstName').val('');
        $('#GuardianModel_LastName').val('');
        $('#GuardianModel_IncomeSlabId').val('');
        $('#GuardianModel_GuardianId').val('');

        // address
        $('#address-hidden').val('');
        $('#AddressTypeId_Guardian').val('');
        $('#PlotNo_Guardian').val('');
        $('#Sector_Street_Guardian').val('');
        $('#Locality_Guardian').val('');
        $('#Landmark_Guardian').val('');
        $('#District_Guardian').val('');
        $('#Address_CityId_Guardian').val('').trigger('change');
        $('#Zip_Guardian').val('');
        $('#AddressId_Guardian').val('');

        // contact Info
        $('#contactinfo-hidden').val('');
        $('#ContactInfoModel_ContactInfoId').val('');
        $('#ContactInfo-detail-grid tbody').append("");

        $('#sameaddress').prop('checked', false);
        $('#GuardianAddress').val('');
        $('#GuardianContactInfo').val('');
    });

    // edit guardian row
    $('#gurdian-detail-grid').delegate('.clsedit', 'click', function () {
        $("#address-div").find('table').show();

        var row = $(this).parent().parent();
        $('#GuardianContactInfo').val('');
        $('#save-full-detail').text("");
        $('#save-full-detail').append("<i class='fa fa-floppy-o'></i>Update");
        $('#table-index').val($(this).parent().parent().index());
        $('#GuardianModel_OccupationId').val(row.find("td:nth-child(7)").text()).trigger("change");
        $('#GuardianModel_QualificationId').val(row.find("td:nth-child(9)").text()).trigger("change");
        $('#GuardianModel_FirstName').val(row.find("td:nth-child(3)").text());
        $('#GuardianModel_LastName').val(row.find("td:nth-child(4)").text());
        $('#GuardianModel_IncomeSlabId').val(row.find("td:nth-child(10)").text());
        $('#GuardianModel_GuardianId').val(row.find("td:nth-child(16)").text());
        //alert(row.find("td:nth-child(17) img").attr("src"));
        //$('#GuardianImagepath').val(row.find("td:nth-child(17) img").attr("src"));
        $('#guardian_image').show();
        $('#guardian_image').attr("src", (row.find("td:nth-child(17) img").attr("src")));


        $('#Model.GuardianImagepath').val(row.find("td:nth-child(17) img").attr("src"));
        $('#GuardianModel_GuardianTypeId').find('option').each(function () {
            if ($(this).attr('flag') == "appendedOption") {
                $(this).remove();
            }
        });
        if (row.find("td:nth-child(1)").text() != "Guardian") {
            $("#GuardianModel_GuardianTypeId").append("<option flag='appendedOption' value=" + row.find("td:nth-child(2)").text() + ">" + row.find("td:nth-child(1)").text() + "</option>")
        }
        $('#GuardianModel_GuardianTypeId').val(row.find("td:nth-child(2)").text()).trigger("change");

        // address
        var address = row.find("td:nth-child(11)").text();
        $('#AddressTypeId_Guardian').val("");
        $('#PlotNo_Guardian').val("");
        $('#Sector_Street_Guardian').val("");
        $('#Locality_Guardian').val("");
        $('#Landmark_Guardian').val("");
        $('#District_Guardian').val("");
        $('#Address_CityId_Guardian').val("");
        $('#Zip_Guardian').val("");
        $('#AddressId_Guardian').val("");
        
        if (address.trim()  != "") {
            $('#address-hidden').val(address);
            $('#address-hidden').val(address);
            var addressary = address.split('ε');
            $('#AddressTypeId_Guardian').val(addressary[7]).trigger("change");
            $('#PlotNo_Guardian').val(addressary[0]);
            $('#Sector_Street_Guardian').val(addressary[1]);
            $('#Locality_Guardian').val(addressary[2]);
            $('#Landmark_Guardian').val(addressary[3]);
            $('#District_Guardian').val(addressary[4]);
            $('#Address_CityId_Guardian').val(addressary[8]).trigger("change");
            $('#Zip_Guardian').val(addressary[6]);
            $('#AddressId_Guardian').val(addressary[9]);
        }

        // contact Info
        var contactinfo = row.find("td:nth-child(12)").text();
        $('#ContactInfo-detail-grid tbody').html('');
        if (contactinfo.trim() != "") {
            $('#contactinfo-hidden').val(contactinfo);

            var contactinfoary = contactinfo.split('ε');
            if (contactinfoary.length > 0) {
                for (var j = 0; j < contactinfoary.length ; j++) {
                    var infoary = contactinfoary[j].split(',');
                    //$('#ContactInfoModel_ContactInfoId').val(infoary[6]);
                    var tablerow = "<tr>"
                        + "<td>" + infoary[0] + "</td>"
                        + "<td style='display: none'>" + infoary[3] + "</td>"
                        + "<td>" + infoary[1] + "</td>"
                        + "<td>" + infoary[2] + "</td>"
                        + "<td style='display: none'>" + infoary[4] + "</td>"
                        + "<td>" + infoary[5] + "</td>"
                        + "<td style='display: none'>" + infoary[6] + "</td>"
                        + "<td class='text-center'><a title='Edit' data-toggle='tooltip' data-placement='top' href='javascript:void(0)'  class='infoclsedit  btn btn-xs btn-default'><i class='fa fa-pencil'></i></a><a title='Delete' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' class='infoclsdelete  btn btn-xs btn-default'><i class='fa fa-trash'></i></a></td>"
                        + "</tr>";
                    $('#ContactInfo-detail-grid tbody').append(tablerow);
                }
                $('[data-toggle="tooltip"]').tooltip();
            }
        }

        if (row.find("td:nth-child(15)").text() == "true")
            $('#sameaddress').prop('checked', true);
        else
            $('#sameaddress').prop('checked', false);

        $('#GuardianAddress').val(row.find("td:nth-child(13)").text());
        $('#GuardianContactInfo').val(row.find("td:nth-child(14)").text());

        //display guardian address in grid of popup so rebind the already created grid in _address
        $("#address-div").find('table').html('');
        var htmlTable = "<thead class='thead-default'>";
        htmlTable +="<tr>";
        htmlTable +=  " <th style='width: 7%;'>Address Type</th>";
        htmlTable +=  " <th style='width: 13%;'>Plot/House no.</th>";
        htmlTable +=  " <th style='width: 20%;'>Sector Street Village</th>";
        htmlTable +=  " <th style='width: 20%;'>Locality/Tehsil</th>";
        htmlTable +=  " <th style='width: 20%;'>Landmark</th>";
        htmlTable += " <th style='width: 20%;'>City</th>";
        htmlTable += " <th style='width: 20%;'>District</th>";
        htmlTable +=  " </tr>";
        htmlTable += " </thead><tbody>";

       
        // address
        var tabladdress = row.find("td:nth-child(11)").text();
        if (tabladdress.trim() != "") {
            var tbladdressary = tabladdress.split('ε');
            $.each(tbladdressary, function (i) {
                if (tbladdressary[i] == "")
                {
                    tbladdressary[i] = "";
                }
            });

            htmlTable += " <td>" + tbladdressary[10] + "</td>";
            htmlTable += " <td>" + tbladdressary[0] + "</td>";
            htmlTable += " <td>" + tbladdressary[1] + "</td>";
            htmlTable += " <td>" + tbladdressary[2] + "</td>";
            htmlTable += " <td>" + tbladdressary[3] + "</td>";
            htmlTable += " <td>" + tbladdressary[5] + "</td>";
            htmlTable += " <td>" + tbladdressary[4] + "</td>";
        }
        htmlTable += "</tbody>";

        $("#address-div").find('table').html(htmlTable);
    });

    // delete guardian row
    $('#gurdian-detail-grid').delegate('.clsdelete', 'click', function () {
        if (confirm("Do you want to delete user for this Guardian") == true) {
            var row = $(this).parent().parent();
            // check if Guardian id has
            // delete from database also
            if (row.find('.clsguardianid').text() != "") {
                var StudentGuardianId = row.find('.clsguardianid').text();
                // ajax call delete row from DB
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeleteStudentGuardian", "Student"))',
                    data: { "SGID": StudentGuardianId },
                    success: function (result) {
                        if (result.status == "success") {
                            alert("Deleted successfully");
                            //ToastMessage("Deleted successfully", "success", true, 5000);
                            window.location.reload();
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            // else direct remove
            row.remove();
            $('#table-index').val('');
        }
    });


    // check studentaddress available for same address checkbox for parents
    var sameaddressvalidationmessage = "";
    function CheckAddressAvialableforGuardian() {
        sameaddressvalidationmessage = "";
        var sameaddressvalid = true;
        if ($('#AddressTypeId_Student').val() == "") {
            sameaddressvalid = false;
        }

        if ($('#PlotNo_Student').val().trim() == "") {
            sameaddressvalid = false;
        }

        if ($('#Sector_Street_Student').val().trim() == "") {
            sameaddressvalid = false;
        }

        if ($('#Address_CityId_Student').val() == "") {
            sameaddressvalid = false;
        }

        if (!sameaddressvalid) {
            sameaddressvalidationmessage = "Please fill student address infomation";
        }

        return sameaddressvalidationmessage;
    }

    // check guardian data valid or not
    var GuardianFieldvalid = true;
    var Guardianvalidationmessage = "";
    var GuardianFieldctrlfocus = "";
    function validateGuardian() {
        GuardianFieldvalid = true;
        Guardianvalidationmessage = "";
        GuardianFieldctrlfocus = "";

        if ($('#GuardianModel_GuardianTypeId').val() == "") {
            if (GuardianFieldctrlfocus == "")
                GuardianFieldctrlfocus = "#GuardianModel_GuardianTypeId";
            Guardianvalidationmessage = Guardianvalidationmessage + "Please select Guardian type \n";
            GuardianFieldvalid = false;
        }

        if ($('#GuardianModel_GuardianTypeId').val() != "") {
            if ($("#GuardianModel_GuardianTypeId option:selected").text() != "Guardian") {
                var currentguardianval = $('#GuardianModel_GuardianTypeId').val();
                var count = 0;
                $('#gurdian-detail-grid tbody tr').each(function () {
                    var row = $(this);
                    var gridgurdianval = row.find('td:nth-child(2)').text();
                    var guardiantableindex = $('#table-index').val() != "" ? parseInt($('#table-index').val()) : -5;
                    if (currentguardianval == gridgurdianval && guardiantableindex != row.index())
                        count = count + 1;
                });
                if (count > 0) {
                    if (GuardianFieldctrlfocus == "")
                        GuardianFieldctrlfocus = "#GuardianModel_GuardianTypeId";
                    Guardianvalidationmessage = Guardianvalidationmessage + "Please change Guardian type \n";
                    GuardianFieldvalid = false;
                }
            }
        }

        if ($('#GuardianModel_FirstName').val().trim() == "") {
            if (GuardianFieldctrlfocus == "")
                GuardianFieldctrlfocus = "#GuardianModel_FirstName";
            Guardianvalidationmessage = Guardianvalidationmessage + "Please enter First Name \n";
            GuardianFieldvalid = false;
        }
        //alert($('#GuardianModel_IncomeSlabId').val());
        //alert($('#GuardianModel_OccupationId').val().trim());
        if ($('#GuardianModel_OccupationId').val().trim() == "" && $('#GuardianModel_IncomeSlabId').val() != "") {
            if (GuardianFieldctrlfocus == "")
                GuardianFieldctrlfocus = "#GuardianModel_OccupationId";
            Guardianvalidationmessage = Guardianvalidationmessage + "Please select Occupation \n";
            GuardianFieldvalid = false;
        }

        if ($('#GuardianModel_QualificationId').val() == "" && $('#GuardianModel_OccupationId').val().trim() != "") {
            if (GuardianFieldctrlfocus == "")
                GuardianFieldctrlfocus = "#GuardianModel_QualificationId";
            Guardianvalidationmessage = Guardianvalidationmessage + "Please select Qualification \n";
            GuardianFieldvalid = false;
        }

        //if ($('#GuardianModel_IncomeSlabId').val() == "" && $('#GuardianModel_OccupationId').val() != "") {
        //    if (GuardianFieldctrlfocus == "")
        //        GuardianFieldctrlfocus = "#GuardianModel_IncomeSlabId";
        //    Guardianvalidationmessage = Guardianvalidationmessage + "Please enter Income \n";
        //    GuardianFieldvalid = false;
        //}


        if ($('#GuardianModel_IncomeSlabId').filter(function () {
            return parseInt(this.value, 10) !== 0;
        }).length === 0) {
            if (GuardianFieldctrlfocus == "")
                GuardianFieldctrlfocus = "#GuardianModel_IncomeSlabId";
            Guardianvalidationmessage = Guardianvalidationmessage + "Please enter valid Income \n";
            GuardianFieldvalid = false;
        }

        return GuardianFieldvalid;
    }

    // clear fields
    function ClearGuardianFields() {
        $('#GuardianModel_GuardianTypeId').val('').trigger("change");
        $('#GuardianModel_FirstName').val("");
        $('#GuardianModel_LastName').val("");
        $('#GuardianModel_OccupationId').val('').trigger("change");
        $('#GuardianModel_QualificationId').val('').trigger("change");
        $('#GuardianModel_IncomeSlabId').val("");
        $('#address-hidden').val("");
        $('#GuardianAddress').val("");
        $('#GuardianContactInfo').val("");
    }

    // POst Data to server
    function PostGuardianInfo() {
        // array
        var GuardianModel = new Array();
        var GuardianAddressModel = new Array();
        var GuardianContactInfoModel = new Array();
        // objects
        var GuardianModelObj = new Object();
        var GuardianAddressModelObj = new Object();
        var GuardianContactInfoModelObj = new Object();

        var gridcount = 0;
        $('#gurdian-detail-grid tbody tr').each(function () {
            gridcount = gridcount + 1;
            var row = $(this);
            GuardianModelObj = new Object();
            // guardian
            GuardianModelObj.EncGuardianId = row.find('td:nth-child(16)').text();
            GuardianModelObj.GuardianImagepath = row.find('td:nth-child(17) img').attr('src');
            GuardianModelObj.GuardianTypeId = row.find('td:nth-child(2)').text();
            GuardianModelObj.FirstName = row.find('td:nth-child(3)').text();
            GuardianModelObj.LastName = row.find('td:nth-child(4)').text();
            GuardianModelObj.QualificationId = row.find('td:nth-child(9)').text();
            GuardianModelObj.OccupationId = row.find('td:nth-child(7)').text();
            GuardianModelObj.IncomeSlabId = row.find('td:nth-child(10)').text();

            // guardian address
            GuardianAddressModelObj = new Object();
            var address = row.find("td:nth-child(11)").text();
            if (address.trim() != "") {
                GuardianAddressModelObj = new Object();
                var addressary = address.split('ε');

                GuardianAddressModelObj.GuardianAddressId = addressary[9];
                GuardianAddressModelObj.GuardianAddressTypeId = addressary[7];
                GuardianAddressModelObj.GuardianPlotNo = addressary[0];
                GuardianAddressModelObj.GuardianSector_Street = addressary[1];
                GuardianAddressModelObj.GuardianLocality = addressary[2];
                GuardianAddressModelObj.GuardianLandmark = addressary[3];
                GuardianAddressModelObj.GuardianDistrict = addressary[4];
                GuardianAddressModelObj.GuardianZip = addressary[6];
                GuardianAddressModelObj.GuardianCityId = addressary[8];

                GuardianModelObj.GuardianAddressModel = GuardianAddressModelObj;
            }

            // guardian contact info
            var contactinfo = row.find("td:nth-child(12)").text();
            if (contactinfo.trim() != "") {
                var contactinfoary = contactinfo.split('ε');
                if (contactinfoary.length > 0) {
                    GuardianContactInfoModel = new Array();
                    for (var i = 0; i < contactinfoary.length - 1; i++) {
                        var infoarray = contactinfoary[i].split(',');
                        if (infoarray.length > 0) {
                            GuardianContactInfoModelObj = new Object();
                            GuardianContactInfoModelObj.ContactInfoId = infoarray[6] != "" ? infoarray[6] : 0;
                            GuardianContactInfoModelObj.ContactInfo = infoarray[1];
                            GuardianContactInfoModelObj.ContactInfoTypeId = infoarray[3];
                            GuardianContactInfoModelObj.Status = infoarray[4] == "1" ? true : false;
                            GuardianContactInfoModelObj.IsDefault = infoarray[5];

                            GuardianContactInfoModel.push(GuardianContactInfoModelObj);
                        }
                    }
                    GuardianModelObj.GuardianContactInfoModel = GuardianContactInfoModel;
                }
            }
            GuardianModel.push(GuardianModelObj);
        });

        if (gridcount == 0) {
            $('#parent-grid-error').text("Enter at least one record for save parent detail");
            return false;
        }
        else {
            $('#parent-grid-error').text("");
            $('#ParentDetailArray').val(JSON.stringify(GuardianModel));
            return true;
        }
    }
</script>
