﻿
@model ViewModel.ViewModel.Student.StudentProfileModel

<ul class="nav nav-tabs">
    <li><a href="@Html.Raw(Url.Action("StudentProfile", "Student", new { id = Model.EncStudentId }))">Admission Form</a></li>
    @if (Model.FeeCheck)
    {
        @*<li><a href="@Html.Raw(Url.Action("StudentFees", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Fee</a></li>*@
         <li><a href="@Html.Raw(Url.Action("StudentFees", "Student", new { id = Model.EncStudentId, IsEdit = false, 
                        SessionId = Model.SessionId,UserType=Model.UserType }))">Fee</a></li>
    }
    <li class="active"><a data-toggle="tab" href="#tpthistory">Transport</a></li>
    <li><a href="@Html.Raw(Url.Action("StudentAttendance", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Attendance</a></li>
    <li><a href="@Html.Raw(Url.Action("PreviousClassDetail", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Previous Class Detail</a></li>
    <li><a href="@Html.Raw(Url.Action("StudentActivitiesList", "Student", new { id = Model.EncStudentId, IsEdit = false }))">Student Activities</a></li>
</ul>

<div class="tab-content">
    <div id="tpthistory" class="tab-pane fade in active">
        <div class="row top-space-10">
            <table class="table table-bordered table-condensed table-striped table-responsive">
                <thead class="thead-default">
                    <tr>
                        <th>Transport type</th>
                        <th>Boarding Point</th>
                        <th>Bus Route</th>
                        <th>Vehicle Type</th>
                        <th>Vehicle No</th>
                        <th>Parking</th>
                        <th>Effective From</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.TransportFacilityHistorylist.Count > 0)
                        { 
                            foreach (var item in Model.TransportFacilityHistorylist)
                            {
                                <tr>
                                    <td>@item.TptType</td>
                                    @if (item.BoardingPoint != "")
                                    {
                                        <td>@item.BoardingPoint</td>
                                        <td>@item.BusRoute</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                        <td>@item.VehicleType</td>
                                        <td>@item.VehicleNo</td>
                                        <td>@item.Parking</td>
                                    }
                                    <td>@item.EffectiveDate</td>
                                    <td>@item.EndDate</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-center" colspan="8">No data found</td>
                            </tr> 
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>