﻿@model ViewModel.ViewModel.Student.StudentModel

@{
    string prefix = Convert.ToString(ViewData["Prefix"]);
}
@Html.HiddenFor(model => model.TransportFacility.TptFacilityId, new { autocomplete = "off" })
@Html.HiddenFor(model => model.TransportFacility.EffectiveDate)
<style>
    .tooltip-custom {
        margin: 0;
        padding: 0;
    }

        .tooltip-custom .tooltip-inner {
            background-color: #5b2da3;
        }

        .tooltip-custom.top .tooltip-arrow {
            border-top-color: #5b2da3;
        }

        .tooltip-custom.right .tooltip-arrow {
            border-right-color: #5b2da3;
        }

        .tooltip-custom.left .tooltip-arrow {
            border-left-color: #5b2da3;
        }

        .tooltip-custom.bottom .tooltip-arrow {
            border-bottom-color: #5b2da3;
        }

    .tooltip-custom-alt .tooltip-inner {
        background-color: #f2653c;
    }

    .tooltip-custom-alt.top .tooltip-arrow {
        border-top-color: #f2653c;
    }

    .tooltip-custom-alt.right .tooltip-arrow {
        border-right-color: #f2653c;
    }

    .tooltip-custom-alt.left .tooltip-arrow {
        border-left-color: #f2653c;
    }

    .tooltip-custom-alt.bottom .tooltip-arrow {
        border-bottom-color: #f2653c;
        margin: 0;
    }
</style>

@Helper.ModifyEnddate("TptClearEndate", "CloseTptClearEndate")
<div id="tptfac_contols" class="divTransportDisable">
    <!-- Form Row -->
    <div class="row">
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Transport Type</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TransportFacility.TptTypeId, Model.TransportFacility.AvailableTptType, new { @class = "form-control", @style = "width: 100%" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span id="TransportFacilityTptTypeId" class="field-validation-valid" data-valmsg-for="TransportFacility.TptTypeId" data-valmsg-replace="true"></span>
                </div>
                <!-- //Error Message -->
            </div>
        </div>

        <div class="col-md-4 school" id="tptoptions" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Transport Option</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TransportFacility.TptTypeDetailId, Model.TransportFacility.AvailableTptTypeDet, new { @class = "form-control", @style = "width: 100%" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span id="TransportFacilityTptTypeDetailId" class="field-validation-valid" data-valmsg-for="TransportFacility.TptTypeDetailId" data-valmsg-replace="true"></span>
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4 school-not" id="vehicletype" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Vehicle Type</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TransportFacility.VehicleTypeId, Model.TransportFacility.AvailableVehicleType, new { @class = "form-control", @style = "width: 100%" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span id="TransportFacilityVehicleTypeId" class="field-validation-valid" data-valmsg-for="TransportFacility.VehicleTypeId" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4 school-not" id="vehicleno" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Vehicle No</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.TransportFacility.VehicleNo, new { @class = "form-control" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span id="TransportFacilityVehicleNo" class="field-validation-valid" data-valmsg-for="TransportFacility.VehicleNo" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Effective From</label><!-- Form Label -->
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.TransportFacility.EffDate)
                    <div hidden>
                        <input type="hidden" id="hdn_currentdate" />
                    </div>
                </div>
            </div>
        </div>

        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4" id="parking-req" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Parking Facility</label><!-- Form Label -->
                <div class="col-md-4">
                    @Html.CheckBoxFor(model => model.TransportFacility.ParkingRequired, new { value = false })
                </div>
            </div>
        </div>
        <!-- //Form Coulmn -->
    </div>
    <!-- Form Row -->

    <div class="row">
        <div class="col-md-4 pick_school" id="tptbpoint" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Pick Point</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TransportFacility.BoardingPointId, Model.TransportFacility.AvailableBoardingPoint, new { @class = "drop-down form-control", @style = "width: 100%" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span id="TransportFacilityBoardingPointId" class="field-validation-valid" data-valmsg-for="TransportFacility.BoardingPointId" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <!-- Form Coulmn -->
        <div class="col-md-4 pick_school" id="tptbusroute" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Pick Route</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TransportFacility.BusRouteId, Model.TransportFacility.AvailableBusRoute, new { @class = "drop-down form-control", @style = "width: 100%" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span id="TransportFacilityBusRouteId" class="field-validation-valid" data-valmsg-for="TransportFacility.BusRouteId" data-valmsg-replace="true"></span>
                </div>
                <span id="PickRouteName" style="margin-left: 118px;"></span>
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4 Drop_school" id="tptbdroppoint" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Drop Point</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TransportFacility.DropBoardingPointId, Model.TransportFacility.AvailableBoardingPoint, new { @class = "drop-down form-control", @style = "width: 100%" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span id="TransportFacilityBoardingPointId" class="field-validation-valid" data-valmsg-for="TransportFacility.DropBoardingPointId" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <!-- //Form Coulmn -->
        @*</div>*@
        <!-- Form Row -->
        @*<div class="row">*@
        <!-- Form Coulmn -->


    </div>
    <div class="row">
        <div class="col-md-4 Drop_school" id="tptbusdroproute" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Drop Route</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TransportFacility.DropRouteId, Model.TransportFacility.AvailableBusRoute, new { @class = "drop-down form-control", @style = "width: 100%" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span id="TransportFacilityBusRouteId" class="field-validation-valid" data-valmsg-for="TransportFacility.DropRouteId" data-valmsg-replace="true"></span>
                </div>
                <span id="DropRouteName" style="margin-left: 118px;"></span>
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4 " id="tptfee" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Transport Fee</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.TransportFee, new { disabled = "disabled" })
                </div>
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4" id="TransportFacilityOwnershipType" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Transport Ownership</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TransportFacility.Ownershipid, Model.TransportFacility.OwnershipType, new { @class = "form-control", @style = "width: 100%" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span id="TransportFacilityOwnershipid" class="field-validation-valid" data-valmsg-for="TransportFacility.Ownershipid" data-valmsg-replace="true"></span>
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- Form Coulmn -->

    </div>
</div>
<div class="row divTransportDisable">
    <label class="col-md-9 control-label"></label><!-- Form Label -->
    <div class="col-md-3">
        <button type="button" class="btn btn-default Submit-Tptfacility">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>
        <button type="button" id="Reset-Transport-info" class="btn btn-default">
            <i class="fa fa-ban"></i>
            Cancel
        </button>
        <button type="button" id="ResetTransportinfo" class="btn btn-default" style="display:none">
            <i class="fa fa-ban"></i>
            Cancel
        </button>
    </div>
</div>

<div class="row top-space-10 hidemanageroutedetail">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped table-responsive table-hover transport-table">
            <thead class="thead-default">
                <tr>
                    <th>Transport Type</th>
                    <th>Pick Route No</th>
                    <th>Bus Route</th>
                    <th>Drop Route No</th>
                    <th>Bus Route</th>
                    <th>Vehicle Type</th>
                    <th>Vehicle No</th>
                    <th>Parking</th>
                    <th>Effective Date</th>
                    <th>End Date</th>
                    <th class="text-center">Action</th>
                    <th style="display:none"></th>
                </tr>
            </thead>
            <tbody class="studentTransportFhistory">
                @{
                    if (Model.TransportFacilityHistorylist.Count > 0)
                    {
                        foreach (var item in Model.TransportFacilityHistorylist)
                        {
                            <tr>
                                <td style="display: none" class="cls_tptfacik">@item.TptFacilityId</td>
                                <td style="display: none" class="cls_tptfacttik">@item.TptTypeId</td>
                                <td style="display: none" class="cls_tptfacttdik">@item.TptTypeDetId</td>
                                <td style="display: none" class="cls_tptfacvtik">@item.VehicleTypeId</td>
                                <td style="display: none" class="cls_tptfacprik">@item.ParkingRequired</td>
                                <td style="display: none" class="cls_tptfacbrik">@item.BusRouteId</td>
                                <td style="display: none" class="cls_tptfacbpik">@item.BoardingPointId</td>
                                <td style="display: none" class="cls_tptfacbrikdrp">@item.DropRouteId</td>
                                <td style="display: none" class="cls_tptfacbpikdrp">@item.DropBoardingPointId</td>
                                <td class="cls_tptfacttdstr">@item.TptTypeDet</td>
                                @if (!string.IsNullOrEmpty(item.BoardingPoint) || !string.IsNullOrEmpty(item.DropBoardingPoint))
                                {
                                    <td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title="@item.BoardingPoint">@item.PickRouteNo</td>
                                    <td class="">@item.BusRoute</td>
                                    <td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title="@item.DropBoardingPoint">@item.DropRouteNo</td>
                                    <td class="">@item.DropBusRoute</td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                }
                                else
                                {
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class="">@item.VehicleType</td>
                                    <td class="cls_tptfacvn">@item.VehicleNo</td>
                                    <td class="">@item.Parking</td>
                                }
                                <td class="cls_tptfaceffd">@item.EffectiveDate</td>
                                @if (@item.EndDate != null && @item.EndDate != "" && @item.EnddateEditable)
                                {
                                    <td class="cls_tptfacendd clstptmodifydate"><a style="cursor: pointer;">@item.EndDate</a></td>}
                                else
                                {
                                    <td class="cls_tptfacendd ">@item.EndDate</td>
                                }
                                <td>
                                    @if (item.IsEditable)
                                    {
                                        <a data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-xs btn-default btn-clsedit" href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
                                    }
                                    @if (item.IsDeleteable)
                                    {
                                        <a data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-xs btn-default btn-clsdelete" href="javascript:void(0)"><i class="fa fa-trash"></i></a>
                                    }
                                    @if (string.IsNullOrEmpty(item.EndDate))
                                    {
                                        <a data-toggle="tooltip" data-placement="top" title="Close" class="btn btn-xs btn-default btn-clsclose" href="javascript:void(0)"><i class="fa fa-ban"></i></a>
                                    }
                                </td>
                                <td class="cls_ownershipid" style="display:none">@item.OmwnershipId</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="9">
                                No data found
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- close dates blocks -->
<div class="view_dialog_box viewbox_div studentTransportViewbox" id="ViewBox" hidden>
    <div style="width:100%; height:25px; float:left;">
        <font style="float:left; padding:2px 10px;">
            <b>Close Transport Facility</b>
        </font>
        <a class="text-danger" href="javascript:void(0);" id="close_ViewBox">
            <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
        </a>
    </div>
    <div class="row top-space-10">
        <div class="col-md-12" id="DialogFromDate_Div">
            <label class="control-label col-md-3">Close Date</label>
            <div class="col-md-8">
                @Html.TextBox("DialogCloseDate", null, new { @class = "DialogCloseDate_class", @id = "tttdate" })
            </div>
        </div>
        <div class="=col-md-12 top-soace-10" style="margin-bottom:10px;">
            <label class="col-md-3"></label>
            <div class="col-md-3">
                <button type="button" id="save_ViewBox_@prefix" class="btn btn-default">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(document).on('click','.clstptmodifydate',function () {

                 var row = $(this).parent();
            // get values
            var tptfacik = row.find(".cls_tptfacik").text();
            if (tptfacik > 0) {
                $('#TransportFacility_TptFacilityId').val(tptfacik);
                $('#TptClearEndate').show();

            }
            })


            $('.btn-custom').tooltip();
            $('.btn-custom-alt').tooltip({
                customClass: 'tooltip-custom-alt'
            });
           $('#tttdate').attr('readonly', false);
            $("#tttdate").kendoDatePicker({
                format: "dd/MM/yyyy",
                value: new Date(),
                @if(@Model.MinTptFacilityEndDate!=null){
                    <text>
                min:'@Model.MinTptFacilityEndDate'
                </text>
                }
            });
              $('#tttdate').attr('readonly', false);
        });
        //(function ($) {

        //    if (typeof $.fn.tooltip.Constructor === 'undefined') {
        //        throw new Error('Bootstrap Tooltip must be included first!');
        //    }

        //    var Tooltip = $.fn.tooltip.Constructor;

        //    $.extend(Tooltip.DEFAULTS, {
        //        customClass: ''
        //    });

        //    var _show = Tooltip.prototype.show;

        //    Tooltip.prototype.show = function () {

        //        _show.apply(this, Array.prototype.slice.apply(arguments));

        //        if (this.options.customClass) {
        //            var $tip = this.tip()
        //            $tip.addClass(this.options.customClass);
        //        }

        //    };

        //})(window.jQuery);

        /** **/


        //$("#DialogCloseDate").kendoDatePicker({
        //    format: "dd/MM/yyyy",
        //    value: new Date()
        //});
        //$("#DialogCloseDate").attr("readonly", true);

        // $(".DialogCloseDate_class").attr("readonly", true);

        $('#reset_ViewBox').click(function () {

            //if (confirm("Are you sure to Reset the record? Press Ok to continue.") == true) {

                 var tptfacik = $('#TransportFacility_TptFacilityId').val();

                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("ResetTransportFacilityByStudent", "Student"))',
                    data: { "TptFacIk": tptfacik },
                    success: function (result) {


                            if (result.status == "success") {
                                if ($("#IsViewInTransport").val() == "true") {
                                    $("#ViewBox").hide(800);
                                    var EncStudentId = $("#intStudentId").val();
                                    GetStudentTransportHistory(EncStudentId);
                                    divDisable();
                                }
                                else {
                                   //window.onbeforeunload = null;
                                    //window.location.reload();
                                    if (result.IsAddNewTptFacility) {
                                        $('#tptfac_contols').show();
                                    }
                                    $('.studentTransportFhistory').html('');

                                        $.each(result.TransportFacilityHistorylist, function(i, data){
                                        var row='<tr>'+
                                    '<td style="display: none" class="cls_tptfacik">'+result.TransportFacilityHistorylist[i].TptFacilityId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacttik">'+result.TransportFacilityHistorylist[i].TptTypeId+'</td>'+
                                   '<td style="display: none" class="cls_tptfacttdik">'+result.TransportFacilityHistorylist[i].TptTypeDetId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacvtik">'+result.TransportFacilityHistorylist[i].VehicleTypeId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacprik">'+result.TransportFacilityHistorylist[i].ParkingRequired+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbrik">'+result.TransportFacilityHistorylist[i].BusRouteId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbpik">'+result.TransportFacilityHistorylist[i].BoardingPointId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbrikdrp">'+result.TransportFacilityHistorylist[i].DropRouteId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbpikdrp">'+result.TransportFacilityHistorylist[i].DropBoardingPointId+'</td>'+
                                    '<td class="cls_tptfacttdstr">'+result.TransportFacilityHistorylist[i].TptTypeDet+'</td>'

                                    if((result.TransportFacilityHistorylist[i].BoardingPoint!=null && result.TransportFacilityHistorylist[i].BoardingPoint!="") || (result.TransportFacilityHistorylist[i].DropBoardingPoint!=null && result.TransportFacilityHistorylist[i].DropBoardingPoint!=""))
                                    {
                                         row+='<td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title="'+result.TransportFacilityHistorylist[i].BoardingPoint+'">'+result.TransportFacilityHistorylist[i].PickRouteNo+'</td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].BusRoute+'</td>'+
                                        '<td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title='+result.TransportFacilityHistorylist[i].DropBoardingPoint+'>'+result.TransportFacilityHistorylist[i].DropRouteNo+'</td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].DropBusRoute+'</td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'
                                    }
                                    else
                                    {
                                         row+='<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].VehicleType+'</td>'+
                                        '<td class="cls_tptfacvn">'+result.TransportFacilityHistorylist[i].VehicleNo+'</td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].Parking+'</td>'
                                    }
                                     row+='<td class="cls_tptfaceffd">'+result.TransportFacilityHistorylist[i].EffectiveDate+'</td>'
                                    if(result.TransportFacilityHistorylist[i].EndDate!=null && result.TransportFacilityHistorylist[i].EndDate!="" && (result.TransportFacilityHistorylist[i].EnddateEditable)){
                                        row += '<td class="cls_tptfacendd clstptmodifydate"><a style="cursor: pointer;">' +result.TransportFacilityHistorylist[i].EndDate+'</a></td>'

                                    }
                                    else{
                                    row +='<td class="cls_tptfacendd ">'+result.TransportFacilityHistorylist[i].EndDate+'</td>'
                                    }
                                    row +='<td>'
                                        if (result.TransportFacilityHistorylist[i].IsEditable)
                                        {
                                            row +='<a data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-xs btn-default btn-clsedit" href="javascript:void(0)"><i class="fa fa-pencil"></i></a>'
                                        }
                                        if (result.TransportFacilityHistorylist[i].IsDeleteable)
                                        {
                                           row +='  <a data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-xs btn-default btn-clsdelete" href="javascript:void(0)"><i class="fa fa-trash"></i></a>'
                                        }
                                        if ((result.TransportFacilityHistorylist[i].EndDate==null ||result.TransportFacilityHistorylist[i].EndDate==""))
                                        {

                                                row += ' <a data-toggle="tooltip" data-placement="top" title="Close" class="btn btn-xs btn-default btn-clsclose" href="javascript:void(0)"><i class="fa fa-ban"></i></a>'
                                            //row +=' <a data-toggle="tooltip" data-placement="top" title="Close" class="btn btn-xs btn-default btn-clsclose" href="javascript:void(0)"><i class="fa fa-ban"></i></a>'
                                        }
                                    row +='</td>'+
                                    '<td class="cls_ownershipid" style="display:none">'+result.TransportFacilityHistorylist[i].OmwnershipId+'</td>'+
                                '</tr>'
                                            $('.studentTransportFhistory').append(row);

                                        })
                                    ToastMessage("End Date updated Successfully", "success", true, 5000);
                                    $('.studentTransportViewbox').hide();
                                }
                            }
                            else {
                                var validationmsg = "";
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    validationmsg = validationmsg + validationaray[i] + " <br />";
                                if (validationmsg != "")
                                    ToastMessage(validationmsg, "error", true, 5000);
                            }

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error: " + " " + status + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });






            //}



        })


           $('#update_common_ViewBox').click(function () {
            // create model
            var CloseDate = GetDateFromString($('#ClearEndDate').val());
            if (CloseDate != "") {
                var tptfacik = $('#TransportFacility_TptFacilityId').val();

                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CloseTransportFacilityByStudent", "Student"))',
                    data: { "TptFacIk": tptfacik, "Date": CloseDate },
                    success: function (result) {


                            if (result.status == "success") {
                                if ($("#IsViewInTransport").val() == "true") {
                                    $("#ViewBox").hide(800);
                                    var EncStudentId = $("#intStudentId").val();
                                    GetStudentTransportHistory(EncStudentId);
                                    divDisable();
                                }
                                else {
                                    //window.onbeforeunload = null;
                                    //window.location.reload();
                                    if (result.IsAddNewTptFacility) {
                                        $('#tptfac_contols').show();
                                    }
                                    $('.studentTransportFhistory').html('');

                                        $.each(result.TransportFacilityHistorylist, function(i, data){
                                        var row='<tr>'+
                                    '<td style="display: none" class="cls_tptfacik">'+result.TransportFacilityHistorylist[i].TptFacilityId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacttik">'+result.TransportFacilityHistorylist[i].TptTypeId+'</td>'+
                                   '<td style="display: none" class="cls_tptfacttdik">'+result.TransportFacilityHistorylist[i].TptTypeDetId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacvtik">'+result.TransportFacilityHistorylist[i].VehicleTypeId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacprik">'+result.TransportFacilityHistorylist[i].ParkingRequired+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbrik">'+result.TransportFacilityHistorylist[i].BusRouteId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbpik">'+result.TransportFacilityHistorylist[i].BoardingPointId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbrikdrp">'+result.TransportFacilityHistorylist[i].DropRouteId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbpikdrp">'+result.TransportFacilityHistorylist[i].DropBoardingPointId+'</td>'+
                                    '<td class="cls_tptfacttdstr">'+result.TransportFacilityHistorylist[i].TptTypeDet+'</td>'

                                    if((result.TransportFacilityHistorylist[i].BoardingPoint!=null && result.TransportFacilityHistorylist[i].BoardingPoint!="") || (result.TransportFacilityHistorylist[i].DropBoardingPoint!=null && result.TransportFacilityHistorylist[i].DropBoardingPoint!=""))
                                    {
                                         row+='<td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title="'+result.TransportFacilityHistorylist[i].BoardingPoint+'">'+result.TransportFacilityHistorylist[i].PickRouteNo+'</td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].BusRoute+'</td>'+
                                        '<td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title='+result.TransportFacilityHistorylist[i].DropBoardingPoint+'>'+result.TransportFacilityHistorylist[i].DropRouteNo+'</td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].DropBusRoute+'</td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'
                                    }
                                    else
                                    {
                                         row+='<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].VehicleType+'</td>'+
                                        '<td class="cls_tptfacvn">'+result.TransportFacilityHistorylist[i].VehicleNo+'</td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].Parking+'</td>'
                                    }
                                     row+='<td class="cls_tptfaceffd">'+result.TransportFacilityHistorylist[i].EffectiveDate+'</td>'
                                    if(result.TransportFacilityHistorylist[i].EndDate!=null && result.TransportFacilityHistorylist[i].EndDate!="" && result.TransportFacilityHistorylist[i].EnddateEditable==true){
                                        row += '<td class="cls_tptfacendd clstptmodifydate"><a style="cursor: pointer;">' +result.TransportFacilityHistorylist[i].EndDate+'</a></td>'

                                    }
                                    else{
                                    row +='<td class="cls_tptfacendd ">'+result.TransportFacilityHistorylist[i].EndDate+'</td>'
                                    }
                                    row +='<td>'
                                        if (result.TransportFacilityHistorylist[i].IsEditable)
                                        {
                                            row +='<a data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-xs btn-default btn-clsedit" href="javascript:void(0)"><i class="fa fa-pencil"></i></a>'
                                        }
                                        if (result.TransportFacilityHistorylist[i].IsDeleteable)
                                        {
                                           row +='  <a data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-xs btn-default btn-clsdelete" href="javascript:void(0)"><i class="fa fa-trash"></i></a>'
                                        }
                                        if ((result.TransportFacilityHistorylist[i].EndDate==null ||result.TransportFacilityHistorylist[i].EndDate==""))
                                        {
                                            row +=' <a data-toggle="tooltip" data-placement="top" title="Close" class="btn btn-xs btn-default btn-clsclose" href="javascript:void(0)"><i class="fa fa-ban"></i></a>'
                                            row +=' <a data-toggle="tooltip" data-placement="top" title="Close" class="btn btn-xs btn-default btn-clsclose" href="javascript:void(0)"><i class="fa fa-ban"></i></a>'
                                        }
                                    row +='</td>'+
                                    '<td class="cls_ownershipid" style="display:none">'+result.TransportFacilityHistorylist[i].OmwnershipId+'</td>'+
                                '</tr>'
                                            $('.studentTransportFhistory').append(row);

                                        })
                                    ToastMessage("End Date updated Successfully", "success", true, 5000);
                                    $('.studentTransportViewbox').hide();
                                }
                            }
                            else {
                                var validationmsg = "";
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    validationmsg = validationmsg + validationaray[i] + " <br />";
                                if (validationmsg != "")
                                    ToastMessage(validationmsg, "error", true, 5000);
                            }

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error: " + " " + status + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                $('#inner_validation_div').show();
                var validationmsg = "Close date required";
                ToastMessage(validationmsg, "error", true, 5000);
            }
        });

        // save extend or close time table
        $('#save_ViewBox_@prefix').click(function () {
            // create model
            var CloseDate = GetDateFromString($('#tttdate').val());
            if (CloseDate != "") {
                var tptfacik = $('#TransportFacility_TptFacilityId').val();

                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CloseTransportFacilityByStudent", "Student"))',
                    data: { "TptFacIk": tptfacik, "Date": CloseDate },
                    success: function (result) {


                            if (result.status == "success") {
                                if ($("#IsViewInTransport").val() == "true") {
                                    $("#ViewBox").hide(800);
                                    var EncStudentId = $("#intStudentId").val();
                                    GetStudentTransportHistory(EncStudentId);
                                    divDisable();
                                }
                                else {
                                    //window.onbeforeunload = null;
                                    //window.location.reload();
                                    if (result.IsAddNewTptFacility) {
                                        $('#tptfac_contols').show();
                                    }
                                    $('.studentTransportFhistory').html('');

                                        $.each(result.TransportFacilityHistorylist, function(i, data){
                                        var row='<tr>'+
                                    '<td style="display: none" class="cls_tptfacik">'+result.TransportFacilityHistorylist[i].TptFacilityId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacttik">'+result.TransportFacilityHistorylist[i].TptTypeId+'</td>'+
                                   '<td style="display: none" class="cls_tptfacttdik">'+result.TransportFacilityHistorylist[i].TptTypeDetId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacvtik">'+result.TransportFacilityHistorylist[i].VehicleTypeId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacprik">'+result.TransportFacilityHistorylist[i].ParkingRequired+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbrik">'+result.TransportFacilityHistorylist[i].BusRouteId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbpik">'+result.TransportFacilityHistorylist[i].BoardingPointId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbrikdrp">'+result.TransportFacilityHistorylist[i].DropRouteId+'</td>'+
                                    '<td style="display: none" class="cls_tptfacbpikdrp">'+result.TransportFacilityHistorylist[i].DropBoardingPointId+'</td>'+
                                    '<td class="cls_tptfacttdstr">'+result.TransportFacilityHistorylist[i].TptTypeDet+'</td>'

                                    if((result.TransportFacilityHistorylist[i].BoardingPoint!=null && result.TransportFacilityHistorylist[i].BoardingPoint!="") || (result.TransportFacilityHistorylist[i].DropBoardingPoint!=null && result.TransportFacilityHistorylist[i].DropBoardingPoint!=""))
                                    {
                                         row+='<td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title="'+result.TransportFacilityHistorylist[i].BoardingPoint+'">'+result.TransportFacilityHistorylist[i].PickRouteNo+'</td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].BusRoute+'</td>'+
                                        '<td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title='+result.TransportFacilityHistorylist[i].DropBoardingPoint+'>'+result.TransportFacilityHistorylist[i].DropRouteNo+'</td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].DropBusRoute+'</td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'
                                    }
                                    else
                                    {
                                         row+='<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class=""></td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].VehicleType+'</td>'+
                                        '<td class="cls_tptfacvn">'+result.TransportFacilityHistorylist[i].VehicleNo+'</td>'+
                                        '<td class="">'+result.TransportFacilityHistorylist[i].Parking+'</td>'
                                    }
                                     row+='<td class="cls_tptfaceffd">'+result.TransportFacilityHistorylist[i].EffectiveDate+'</td>'
                                    if(result.TransportFacilityHistorylist[i].EndDate!=null && result.TransportFacilityHistorylist[i].EndDate!="" && result.TransportFacilityHistorylist[i].EnddateEditable){
                                        row += '<td class="cls_tptfacendd clstptmodifydate"><a style="cursor: pointer;">' +result.TransportFacilityHistorylist[i].EndDate+'</a></td>'

                                    }
                                    else{
                                    row +='<td class="cls_tptfacendd ">'+result.TransportFacilityHistorylist[i].EndDate+'</td>'
                                    }
                                    row +='<td>'
                                        if (result.TransportFacilityHistorylist[i].IsEditable)
                                        {
                                            row +='<a data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-xs btn-default btn-clsedit" href="javascript:void(0)"><i class="fa fa-pencil"></i></a>'
                                        }
                                        if (result.TransportFacilityHistorylist[i].IsDeleteable)
                                        {
                                           row +='  <a data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-xs btn-default btn-clsdelete" href="javascript:void(0)"><i class="fa fa-trash"></i></a>'
                                        }
                                        if ((result.TransportFacilityHistorylist[i].EndDate==null ||result.TransportFacilityHistorylist[i].EndDate==""))
                                        {
                                            row +=' <a data-toggle="tooltip" data-placement="top" title="Close" class="btn btn-xs btn-default btn-clsclose" href="javascript:void(0)"><i class="fa fa-ban"></i></a>'
                                            //row +=' <a data-toggle="tooltip" data-placement="top" title="Close" class="btn btn-xs btn-default btn-clsclose" href="javascript:void(0)"><i class="fa fa-ban"></i></a>'
                                        }
                                    row +='</td>'+
                                    '<td class="cls_ownershipid" style="display:none">'+result.TransportFacilityHistorylist[i].OmwnershipId+'</td>'+
                                '</tr>'
                                            $('.studentTransportFhistory').append(row);

                                        })
                                    $('.studentTransportViewbox').hide();
                                    $('#Reset-Transport-info').trigger('click')
                                     ToastMessage("End Date updated Successfully", "success", true, 5000);
                                }
                            }
                            else {
                                var validationmsg = "";
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    validationmsg = validationmsg + validationaray[i] + " <br />";
                                if (validationmsg != "")
                                    ToastMessage(validationmsg, "error", true, 5000);
                            }

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error: " + " " + status + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                $('#inner_validation_div').show();
                var validationmsg = "Close date required";
                ToastMessage(validationmsg, "error", true, 5000);
            }
        });

    </script>
</div>
<!--close dates blocks -->

<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $("#Reset-Transport-info").click(function () {
        $("#TransportFacility_TptTypeId").val('');
        $("#TransportFacility_VehicleNo").val('');
        $("#vehicleno").hide();
        $("#TransportFacility_EffDate").data("kendoDatePicker").value(new Date());
        $("#TransportFacility_EffDate").val('');
        $("#TransportFacility_VehicleTypeId").val('');
        $("#vehicletype").hide();
        $("#TransportFacility_ParkingRequired").prop('checked', false);
        $("#parking-req").hide();
        $("#TransportFacility_TptTypeDetailId").val('');
        $("#tptoptions").hide();
        $("#TransportFacility_BoardingPointId").val('').trigger('change');
        $("#TransportFacility_DropBoardingPointId").val('').trigger('change');
        $("#TransportFacility_BusRouteId").val('').trigger('change');
        $("#TransportFacility_BusRouteId").find('option').not(':first').remove().trigger('change');
        $("#TransportFacility_DropRouteId").val('').trigger('change');
        $("#TransportFacility_DropRouteId").find('option').not(':first').remove().trigger('change');

        $("#DropRouteName").html("");
        $("#PickRouteName").html("");
        $("#tptbusroute").hide();
        $("#tptbpoint").hide();
        $("#tptbdroppoint").hide();
        $("#tptbusdroproute").hide();
        $("#tptfee").hide();
        $("#TransportFee").val('');
        $("#TransportFacility_TptFacilityId").val('');
        $("#TransportFacility_EffectiveDate").val('');
        $('#TransportFacilityOwnershipType').hide();

    })
    $('#addnew-TptFacility').on("click", function () {
        @if(Model.IsAddNewTptFacility)
        {
            <text>
        $('#tptfac_contols').show();
        </text>
        }
        else
        {
            <text>
        alert("Please close existing Transport facility");
        </text>
        }
    });



    $("#hdn_currentdate").kendoDatePicker({
        format: "dd/MM/yyyy",
        value: new Date()
    });
    $("#hdn_currentdate").attr("readonly", true);


    $(document).on("click", ".btn-clsclose",function(){
        //if (confirm("Are you sure to Close the record? Press Ok to continue.") == true) {
            var row = $(this).parent().parent();
            // get values
            var tptfacik = row.find(".cls_tptfacik").text();
            if (tptfacik > 0) {
                $('#TransportFacility_TptFacilityId').val(tptfacik);
                openfee();
            }
        //}
    });

    function openfee() {
        $(".viewbox_div").hide(800);
        var encstdid = $("#StudentId").val();
        if (encstdid != "" && encstdid != null) {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("CheckLastDateOfTransPortFee", "Student"))',
                data: { "encstdid": encstdid },
                success: function (result) {
                    if (result.status == "success") {
                         
                        if (result.data == "mindate") {
                             $('#tttdate').attr('readonly', false);
                            $("#tttdate").kendoDatePicker({
                                format: "dd/MM/yyyy",
                                value: new Date(result.crrntDate),
                                min: new Date(result.MinDate)
                            });
                          $('#tttdate').attr('readonly', true);
                           $("#tttdate").closest("span.k-datepicker").width(150);
                            $('#ks_loader').hide();
                            $("#ViewBox").show(800);
                        }
                        else {
                            $('#ks_loader').hide();
                            $("#ViewBox").show(800);
                        }
                    } else {
                         $('#ks_loader').hide();
                        $("#ViewBox").show(800);
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    }

    function closefee() {
        $("#ViewBox").hide(800);
    }

    $('#close_ViewBox').click(function () {
        closefee();
    });

    $(document).on("click", ".btn-clsdelete",function(){
        if (confirm("Are you sure to delete the record? Press Ok to continue.") == true) {
            var row = $(this).parent().parent();
            // get values
            var tptfacik = row.find(".cls_tptfacik").text();
            if (tptfacik > 0) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeleteTransportFacilityByStudent", "Student"))',
                    data: { "TptFacIk": tptfacik },
                    success: function (result) {
                        if (result.status == "success") {
                            if ($("#IsViewInTransport").val() == "true") {
                                var EncStudentId = $("#intStudentId").val();
                                GetStudentTransportHistory(EncStudentId);
                                divDisable();
                            }
                            else {
                                window.location.reload();
                            }
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);

                    }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error: " + " " + status + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        }
    });

    $('#TransportFacility_ParkingRequired').click(function () {
        if (!$(this).is(':checked')) {
            $("#TransportFacility_ParkingRequired").val(false)
        }
        else {
            $("#TransportFacility_ParkingRequired").val(true);
        }
    })

    $(document).on("click", ".btn-clsedit",function(){
        $('#ks_loader').show();
        var row = $(this).parent().parent();

        if ($("#IsViewInTransport").val() == "true") {
            $('.divTransportDisable').find('input, textarea, button, select').removeAttr('disabled', 'disabled');
            $("#TransportFacility_TptTypeId").attr('disabled', 'disabled');
            $('#TransportFacility_EffDate').data('kendoDatePicker').enable(true);
        }
        // get values
        var tpttype = row.find(".cls_tptfacttdstr").text();
        $('.divTransportDisable').find('input, textarea, button, select').removeAttr('disabled', 'disabled');

        $('#TransportFacility_TptFacilityId').val(row.find(".cls_tptfacik").text());
        $('#TransportFacility_TptTypeId').val(row.find(".cls_tptfacttik").text());
        $('#TransportFacility_TptTypeDetailId').val(row.find(".cls_tptfacttdik").text());

        $('#TransportFacility_VehicleTypeId').val(row.find(".cls_tptfacvtik").text()).trigger('change');
        $('#TransportFacility_VehicleNo').val(row.find(".cls_tptfacvn").text());

        // $("#TransportFacility_EffDate").attr("readonly", false);
        $("#TransportFacility_EffDate").val(row.find(".cls_tptfaceffd").text());
        // $("#TransportFacility_EffDate").attr("readonly", true);

        if ($('#TransportFacility_TptTypeId option:selected').text() == "school" || $('#TransportFacility_TptTypeId option:selected').text() == "School") {
            $('#TransportFacility_Ownershipid').val(row.find(".cls_ownershipid").text());
            $("#TransportFacilityOwnershipType").show();
        }
        else {
            $('#TransportFacility_Ownershipid').val('');
            $("#TransportFacilityOwnershipType").hide();
        }


        @*check parking required*@
        var IsParkingrequired = row.find(".cls_tptfacprik").text();
        if (IsParkingrequired == "True")
            $('#TransportFacility_ParkingRequired').prop("checked", true);

        if (tpttype == "Own") {
            $('.school').hide();
            $('.school-not').show();
            $('#parking-req').show();
            $('#tptfee').css('display', 'none');
        }
        else if (tpttype == "Parents") {
            $('.school').hide();
            $('.school-not').show();
            $('#parking-req').hide();
            $('#tptfee').css('display', 'none');
        }
        else {

            var transportoption = $('#TransportFacility_TptTypeDetailId option:selected').text();
            if (transportoption == "Pick") {
                $('.pick_school').css('display', 'inline-block');
                $('.Drop_school').hide();
                $('#tptfee').css('display', 'inline-block');
            }
            if (transportoption == "Drop") {
                $('.Drop_school').css('display', 'inline-block');
                $('.pick_school').hide();
                $('#tptfee').css('display', 'inline-block');
            }
            if (transportoption == "Pick Drop") {
                $('.Drop_school').css('display', 'inline-block');
                $('.pick_school').css('display', 'inline-block');
                $('#tptfee').css('display', 'inline-block');
            }


            $('.school').css('display', 'inline-block');
            $('.school-not').hide();
            $('#parking-req').hide();

            var schooltpttype = $('#TransportFacility_TptTypeDetailId option:selected').text();
            GetBoardingPoints(schooltpttype);

            $('#TransportFacility_BoardingPointId').val(row.find(".cls_tptfacbpik").text()).trigger('change');
            $('#TransportFacility_BusRouteId').val(row.find(".cls_tptfacbrik").text()).trigger('change');
            $('#TransportFacility_DropBoardingPointId').val(row.find(".cls_tptfacbpikdrp").text()).trigger('change');
            $('#TransportFacility_DropRouteId').val(row.find(".cls_tptfacbrikdrp").text()).trigger('change');
        }



        $('#ks_loader').hide();
        $('#tptfac_contols').show();
    });

    $('#TransportFacility_TptTypeId').change(function () {
        var tpttype = $('#TransportFacility_TptTypeId option:selected').text();
        TptTypeCond(tpttype);
    });

    $('#TransportFacility_TptTypeDetailId').change(function () {

        $("#DropRouteName").html("");
        $("#PickRouteName").html("");
        if ($(this).val() != "") {
            var tpttype = $('#TransportFacility_TptTypeDetailId option:selected').text();
            GetBoardingPoints(tpttype);
        }
        $('#TransportFee').val('');
        $('#TransportFacility_DropRouteId').html('');
        $('#TransportFacility_DropRouteId').val('');
        $('#TransportFacility_BusRouteId').html('');
        $('#TransportFacility_BusRouteId').val('');

        var transportoption = $('#TransportFacility_TptTypeDetailId option:selected').text();
        if (transportoption == "Pick") {
            $('.pick_school').css('display', 'inline-block');
            $('.Drop_school').hide();
            $('#tptfee').css('display', 'inline-block');
        }
        if (transportoption == "Drop") {
            $('.Drop_school').css('display', 'inline-block');
            $('.pick_school').hide();
            $('#tptfee').css('display', 'inline-block');
        }
        if (transportoption == "Pick Drop") {
            $('.Drop_school').css('display', 'inline-block');
            $('.pick_school').css('display', 'inline-block');
            $('#tptfee').css('display', 'inline-block');
        }
    });

    $(document).on("change", "#TransportFacility_BoardingPointId", function () {
        if ($(this).val() != null && $(this).val() != 0 && $(this).val() != "") {
            var effctivedate = $('#TransportFacility_EffDate').val();
            if (effctivedate == null || effctivedate == "") {
                $("#TransportFacility_BoardingPointId").val("").trigger();
                alert("Please Select Effective From");
                return false;
            }
            $("#DropRouteName").html("");
            $("#PickRouteName").html("");
            var boardingpoint = $(this).val();
            var tpttype = $('#TransportFacility_TptTypeDetailId option:selected').text();

            if (boardingpoint != "" && boardingpoint > 0 && effctivedate != "") {
                GetBusroute(boardingpoint, tpttype, effctivedate);
            }
        }
    });

    $(document).on("change", "#TransportFacility_EffDate", function () {
        $("#TransportFacility_BoardingPointId").trigger('change');
        $("#TransportFacility_DropBoardingPointId").trigger('change');
    })
    $(document).on("change", "#TransportFacility_DropBoardingPointId", function () {
        if ($(this).val() != null && $(this).val() != 0 && $(this).val() != "") {
            var effctivedate = $('#TransportFacility_EffDate').val();
            if (effctivedate == null || effctivedate == "") {
                  $("#TransportFacility_DropBoardingPointId").val("").trigger();
                alert("Please Select Effective From");
                return false;
            }
          
            $("#DropRouteName").html("");
            $("#PickRouteName").html("");
            var boardingpoint = $(this).val();
            var tpttype = $('#TransportFacility_TptTypeDetailId option:selected').text();
            if (boardingpoint != "" && boardingpoint > 0) {
                GetdropBusroute(boardingpoint, tpttype, effctivedate);
            }
        }
    });


    $("#TransportFacility_EffDate").kendoDatePicker({
        format: "dd/MM/yyyy",
        min: '@Model.MinTptFacilityEffectiveDate',
        @*//max: '@Model.MaxTptFacilityEffectiveDate'*@
    });
    //$("#TransportFacility_EffDate").attr("readonly", true);

    $(document).on("change", "#TransportFacility_BusRouteId", function () {
        $('#ks_loader').show();
        var BusRoute = $(this).val();
        var routetype = $('#TransportFacility_TptTypeDetailId option:selected').text();
        var Pickboardingpoint = 0;
        var dropboardingpoint = 0;
        if ($('#TransportFacility_BoardingPointId').val() != "") {
            Pickboardingpoint = $('#TransportFacility_BoardingPointId').val();
        }
        if ($('#TransportFacility_DropBoardingPointId').val() != "") {
            dropboardingpoint = $('#TransportFacility_DropBoardingPointId').val();
        }

        if (BusRoute != "" && BusRoute > 0) {
            GetEffectiveDate(BusRoute, routetype, dropboardingpoint, Pickboardingpoint);
        }

        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetPickBusRouteDetail", "Student"))',
            data: { "BusRoute": BusRoute },
            success: function (result) {
                if (result.busNo != "") {
                    $("#PickRouteName").html("");
                    $("#PickRouteName").html("<b>BusNo- </b>" + result.busNo)

                }
                if(result.status == "failed") {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

        $('#TransportFacility_DropBoardingPointId').val($('#TransportFacility_BoardingPointId').val()).trigger('change');

        $('#TransportFacility_DropRouteId').val($('#TransportFacility_BusRouteId').val()).trigger('change');

    });

    $(document).on("change", "#TransportFacility_DropRouteId", function () {

        $('#ks_loader').show();
        var BusRoute = $(this).val();
        var routetype = $('#TransportFacility_TptTypeDetailId option:selected').text();
        var Pickboardingpoint = 0;
        var dropboardingpoint = 0;
        if ($('#TransportFacility_BoardingPointId').val() != "") {
            Pickboardingpoint = $('#TransportFacility_BoardingPointId').val();
        }
        if ($('#TransportFacility_DropBoardingPointId').val() != "") {
            dropboardingpoint = $('#TransportFacility_DropBoardingPointId').val();
        }

        if (BusRoute != "" && BusRoute > 0) {
            GetEffectiveDate(BusRoute, routetype, dropboardingpoint, Pickboardingpoint);
        }

        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetDropBusRouteDetail", "Student"))',
            data: { "BusRoute": BusRoute },
            success: function (result) {
                if (result.busNo != "") {
                    $("#DropRouteName").html("");
                    $("#DropRouteName").html("<b>BusNo- </b>" + result.busNo)

                }
                if (result.status == "failed") {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });


    function TptTypeCond(tpttype) {
        if (tpttype == "Own") {
            $('.school').hide();
            $('.school-not').show();
            $('#parking-req').show();
            $('.Drop_school').hide();
            $('.pick_school').hide();
            $('#TransportFacilityOwnershipType').hide();
            $('#TransportFacilityOwnershipType').val('');
            $("#TransportFacility_Ownershipid").val('');
            $('#TransportFacility_BoardingPointId').val('').trigger('change');
            $('#TransportFacility_DropBoardingPointId').val('').trigger('change');
            $('#TransportFacility_BusRouteId').val('').trigger('change');
            $('#TransportFacility_DropsRouteId').val('').trigger('change');
            $('#TransportFacility_ParkingRequired').prop("checked", false);
            $('#tptfee').hide();
        }
        else if (tpttype == "Parents") {
            $('.school').hide();
            $('.school-not').show();
            $('#parking-req').hide();
            $('.Drop_school').hide();
            $('.pick_school').hide();
            $('#TransportFacilityOwnershipType').hide();
            $("#TransportFacility_Ownershipid").val('');
            $('#TransportFacility_BoardingPointId').val('').trigger('change');
            $('#TransportFacility_DropBoardingPointId').val('').trigger('change');
            $('#TransportFacility_BusRouteId').val('').trigger('change');
            $('#TransportFacility_DropRouteId').val('').trigger('change');
            $('#TransportFacility_ParkingRequired').prop("checked", false);
            $('#tptfee').hide();
        }
        else if (tpttype == "School") {
            $('.school').show();
            $('.school-not').hide();
            $('#parking-req').hide();
            $('.Drop_school').hide();
            $('.pick_school').hide();
            $('#TransportFacilityOwnershipType').show();
            $('#TransportFacility_ParkingRequired').prop("checked", false);
            $('#TransportFacility_VehicleTypeId').val('').trigger('change');
            $('#TransportFacility_VehicleNo').val('');
            $('#TransportFacility_TptTypeDetailId').val('');
            $('#TransportFacility_TptTypeDetailId').trigger('change');
            $('#tptfee').show();
        }
        else {
            $('.school').hide();
            $('.school-not').hide();
            $('#parking-req').hide();
            $('#TransportFacilityOwnershipType').hide();
        }
    }

    var tptvalid = true;
    var tptctrfocus = "";
    var tptctrvalidation = "";
    function CheckValidTptFacility() {
        tptvalid = true;
        tptctrfocus = "";
        tptctrvalidation = "";
        var unclosedTptExist = false;
        $(".transport-table tbody tr").each(function () {
            var row = $(this);
            if (row.text().trim() != "No data found") {
                var enddate = row.find("td:nth-child(19)").text();
                if (enddate == null || enddate == "") {
                    unclosedTptExist = true;
                    return false;
                }
            }
        })
        if (unclosedTptExist) {
            if ($('#TransportFacility_TptFacilityId').val() == "") {
                tptctrfocus = "#TransportFacility_TptTypeId";
                tptctrvalidation = tptctrvalidation + "Please close existing Transport facility ε";
                tptvalid = false;
            }
            if ($('#TransportFacility_EffDate').val() == "") {
                if (tptctrfocus == "")
                    tptctrfocus = "#TransportFacility_EffDate";
                tptctrvalidation = tptctrvalidation + "Please select Effective Date ε";
                tptvalid = false;
            }
        }
        else {
            if ($('#TransportFacility_TptTypeId').val() == "") {
                if (tptctrfocus == "")
                    tptctrfocus = "#TransportFacility_TptTypeId";
                tptctrvalidation = tptctrvalidation + "Please select Transport Type ε";
                tptvalid = false;
            }
            if ($('#TransportFacility_TptTypeId option:selected').text() == "school" || $('#TransportFacility_TptTypeId option:selected').text() == "School") {
                if ($('#TransportFacility_Ownershipid').val() == "") {
                    if (tptctrfocus == "")
                        tptctrfocus = "#TransportFacility_Ownershipid";
                    tptctrvalidation = tptctrvalidation + "Please select Ownership type ε";
                    tptvalid = false;
                }
            }
                if ($('#TransportFacility_EffDate').val() == "") {
                    if (tptctrfocus == "")
                        tptctrfocus = "#TransportFacility_EffDate";
                    tptctrvalidation = tptctrvalidation + "Please select Effective Date ε";
                    tptvalid = false;
                }



            if ($('#TransportFacility_TptTypeId').val() != "") {
                var tpttype = $('#TransportFacility_TptTypeId option:selected').text();
                if (tpttype == "Parents" || tpttype == "Own") {
                    if ($('#TransportFacility_VehicleTypeId').val() == "") {
                        if (tptctrfocus == "")
                            tptctrfocus = "#TransportFacility_VehicleTypeId";
                        tptctrvalidation = tptctrvalidation + "Please select Vehicle Type ε";
                        tptvalid = false;
                    }
                    if ($('#TransportFacility_VehicleNo').val() == "") {
                        if (tptctrfocus == "")
                            tptctrfocus = "#TransportFacility_VehicleNo";
                        tptctrvalidation = tptctrvalidation + "Please select Vehicle No ε";
                        tptvalid = false;
                    }
                }
                else if (tpttype == "School") {
                    if ($('#TransportFacility_TptTypeDetailId').val() == "") {
                        if (tptctrfocus == "")
                            tptctrfocus = "#TransportFacility_TptTypeDetailId";
                        tptctrvalidation = tptctrvalidation + "Please select Transport option ε";
                        tptvalid = false;
                    }

                    if ($('#TransportFacility_TptTypeDetailId option:selected').text() == "Pick") {
                        if ($('#TransportFacility_BoardingPointId').val() == "") {
                            if (tptctrfocus == "")
                                tptctrfocus = "#TransportFacility_BoardingPointId";
                            tptctrvalidation = tptctrvalidation + "Please select Pick Point ε";
                            tptvalid = false;
                        }
                        if ($('#TransportFacility_BusRouteId').val() == "") {
                            if (tptctrfocus == "")
                                tptctrfocus = "#TransportFacility_BusRouteId";
                            tptctrvalidation = tptctrvalidation + "Please select PickRoute ε";
                            tptvalid = false;
                        }
                    }
                    if ($('#TransportFacility_TptTypeDetailId option:selected').text() == "Drop") {
                        if ($('#TransportFacility_DropBoardingPointId').val() == "") {
                            if (tptctrfocus == "")
                                tptctrfocus = "#TransportFacility_DropBoardingPointId";
                            tptctrvalidation = tptctrvalidation + "Please select Drop Point ε";
                            tptvalid = false;
                        }
                        if ($('#TransportFacility_DropRouteId').val() == "") {
                            if (tptctrfocus == "")
                                tptctrfocus = "#TransportFacility_DropRouteId";
                            tptctrvalidation = tptctrvalidation + "Please select DropRoute ε";
                            tptvalid = false;
                        }
                    }

                    if ($('#TransportFacility_TptTypeDetailId option:selected').text() == "Pick Drop") {
                        if ($('#TransportFacility_BoardingPointId').val() == "") {
                            if (tptctrfocus == "")
                                tptctrfocus = "#TransportFacility_BoardingPointId";
                            tptctrvalidation = tptctrvalidation + "Please select Pick Point ε";
                            tptvalid = false;
                        }
                        if ($('#TransportFacility_BusRouteId').val() == "") {
                            if (tptctrfocus == "")
                                tptctrfocus = "#TransportFacility_BusRouteId";
                            tptctrvalidation = tptctrvalidation + "Please select PickRoute ε";
                            tptvalid = false;
                        }

                        if ($('#TransportFacility_DropBoardingPointId').val() == "") {
                            if (tptctrfocus == "")
                                tptctrfocus = "#TransportFacility_DropBoardingPointId";
                            tptctrvalidation = tptctrvalidation + "Please select Drop Point ε";
                            tptvalid = false;
                        }
                        if ($('#TransportFacility_DropRouteId').val() == "") {
                            if (tptctrfocus == "")
                                tptctrfocus = "#TransportFacility_DropRouteId";
                            tptctrvalidation = tptctrvalidation + "Please select DropRoute ε";
                            tptvalid = false;
                        }
                    }

              }
             }
        }
        return tptvalid;
    }

    function GetBoardingPoints(tpttype) {
        $('#ks_loader').show();

        $('#TransportFacility_BoardingPointId option').remove();
        $('#TransportFacility_DropBoardingPointId option').remove();
        // get boarding points
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("BusRouteBoardingPoint", "Student"))',
            async: false,
            data: { "TptType": tpttype },
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var option = "";
                        if (result.data[i].Selected == true)
                            option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        else
                            option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                        $('#TransportFacility_BoardingPointId').append(option);
                        $('#TransportFacility_DropBoardingPointId').append(option);
                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

    function GetdropBusroute(boardingpoint, tpttype, effctivedate) {
        $('#ks_loader').show();

        $('#TransportFacility_DropRouteId option').remove();

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("BusRouteByBoardingPoint", "Student"))',
            async: false,
            data: { "BoardingPoint": boardingpoint, "TptType": tpttype,"EffectiveDate": effctivedate },
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var option = "";
                        if (result.data[i].Selected == true)
                            option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        else
                            option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                        $('#TransportFacility_DropRouteId').append(option);
                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

    function GetBusroute(boardingpoint, tpttype, effctivedate) {
        $('#ks_loader').show();
        $('#TransportFacility_BusRouteId option').remove();

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("BusRouteByBoardingPoint", "Student"))',
            async: false,
            data: { "BoardingPoint": boardingpoint, "TptType": tpttype, "EffectiveDate": effctivedate },
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var option = "";
                        if (result.data[i].Selected == true)
                            option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        else
                            option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                        $('#TransportFacility_BusRouteId').append(option);
                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

    function GetEffectiveDate(BusRoute, routetype, dropboardingpoint, Pickboardingpoint) {
        //$('#ks_loader').show();
         var effctivedate = $('#TransportFacility_EffDate').val();
        // get boarding points
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("BusRouteEffective", "Student"))',
            async: false,
            data: { "BusRoute": BusRoute, "RouteType": routetype, "pickboardingpt": Pickboardingpoint, "dropboardingpt": dropboardingpoint,"effctivedate":effctivedate },
            success: function (result) {
                if (result.status == "success") {

                    //$("#TransportFacility_EffDate").removeAttr("readonly", false);

                    $("#TransportFacility_EffDate").kendoDatePicker({
                        format: "dd/MM/yyyy",
                        min: result.MinDate,
                        //max: result.MaxDate
                    });
                    $('#TransportFee').val(result.transportfee);
                    // $("#TransportFacility_EffDate").attr("readonly", true);
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

</script>