﻿@model ViewModel.ViewModel.Student.AdmissionModel

<ul class="nav nav-tabs">
    <li><a href="@Html.Raw(Url.Action("Admission", "Student"))">Set Selected</a></li>
    <li><a href="@Html.Raw(Url.Action("WaitingList", "Student"))">Set Waiting List</a></li>
    <li><a href="@Html.Raw(Url.Action("RejectedList", "Student"))">Set Rejected List</a></li>
    <li><a href="@Html.Raw(Url.Action("ViewAdmitted", "Student"))">View Selected</a></li>
    <li class="active"><a data-toggle="tab" href="#ViewAll">View All</a></li>
    <li>
        <div style="float: right;    margin-left: 113px;    margin-top: 6px;">
            <label>Select Session</label>
            @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new {@id="SessionId2", @class = "form-control drpcls" })
        </div>
    </li>
</ul>
@Html.HiddenFor(m => m.SessionId, new { id = "defaultSessionId2" })
<div class="tab-content">

    <div id="ViewAll" class="tab-pane fade in active">

        <!-- Form Row -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Registration No.</label>
                    @Html.TextBoxFor(model => model.Regno, new { @class = "form-control", @autofocus = "on", @placeholder = "Reg. No.", @autocomplete = "off" })
                </div>

                <div class="form-group">
                    <label>Standard</label>
                    @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandard, new { @class = "drop-down form-control" })
                </div>

                <div class="form-group">
                    <label>Status</label>
                    @Html.DropDownListFor(model => model.ViewType, Model.AvailableTypesForAdmissionList, new { @class = "drop-down form-control" })
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new { @class = "drop-down form-control" })
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filterbtn" class="btn btn-default" name="Search">Search</button>
                </div>
                <div class="form-group">
                    <button type="button" id="resetFilter" class="btn btn-danger" name="Search">Reset</button>
                </div>
            </div>
        </div>

        <!-- Page Grid -->
        <div class="row">
            <div class="col-md-12">
                <div id="student-grid"></div>
                <script>
                    $(document).ready(function () {
                        $("#student-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ViewAllList", "Student"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalData
                                    },
                                    parameterMap: function(data) {
                                        return JSON.stringify(data);
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(Model.defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(Model.gridPageSizes)]
                            },
                            scrollable: false,
                            sortable: true,
                            columns: [{
                                field: "Regno",
                                title: "Reg. No.",
                                sortable: true,
                            },
                            {
                                field: "StudentName",
                                title: "Student Name",
                                sortable: true
                            }, {
                                field: "FatherName",
                                title: "Guardian Name",
                                sortable: false
                            },{
                                field: "Standard",
                                title: "Standard",
                                sortable: true
                            },
                            {
                                field: "Status",
                                title: "Status",
                                sortable: true
                            }]
                        });
                    });

                </script>
            </div>
        </div>
        <!-- //Page Grid -->

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                $('#filterbtn').trigger('click');
            }
        });

        //search button
        $('#filterbtn').click(function () {
            //search
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $('#resetFilter').click(function(){
           
            $("#Regno").val('');
            $('#StandardId').val("");
            $('#ViewType').val("");
            $('#StudentId').val("");
            $('#SessionId2').val($("#defaultSessionId2").val());
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });
    });
    $('#SessionId2').change(function () {
        $('#ks_loader').show();
        var SessionId = $('#SessionId2').val();
        var grid = $('#student-grid').data('kendoGrid');
        grid.dataSource.page(1);
        $('#ks_loader').hide();
    });
    function additionalData() {
        var data={};
        var data = {
            Regno:$("#Regno").val(),
            StandardId: $('#StandardId').val(),
            ViewType: $('#ViewType').val(),
            SessionId: $('#SessionId2').val(),
            StudentId:$('#StudentId').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };


</script>