﻿@model ViewModel.ViewModel.Student.AdmissionModel

<ul class="nav nav-tabs">
    <li><a href="@Html.Raw(Url.Action("Admission", "Student"))">Set Selected</a></li>
    <li><a href="@Html.Raw(Url.Action("WaitingList", "Student"))">Set Waiting List</a></li>
    <li><a href="@Html.Raw(Url.Action("RejectedList", "Student"))">Set Rejected List</a></li>
    <li class="active"><a href="#ViewAdmitted">View Selected</a></li>
    <li><a href="@Html.Raw(Url.Action("ViewAll", "Student"))">View All</a></li>
    <li>
        <div style="float: right;    margin-left: 113px;    margin-top: 6px;">
            <label>Select Session</label>
            @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @id = "SessionId3", @class = "form-control drpcls" })
        </div>
    </li>
</ul>
@Html.HiddenFor(m => m.SessionId, new { id = "defaultSessionId3" })
<div class="modal-popup" id="ChangeAdmissionNo_div" hidden>
    <div class="modal-popup-body" style="width: 342px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Change Admission No</h4>

            </div>

            <div class=" modal-body">
                <label >Admn No</label>
                @Html.Hidden("Editable_StudentId")
                <input maxlength="20" id="Editable_admissionNo" />
                <input type="button" name="name" value="Update" id="Update_AdmissionNo" />
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">

    <div id="ViewAdmitted" class="tab-pane fade in active">

        <!-- Form Row -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Admission No.</label>
                    @Html.TextBoxFor(model => model.Regno, new { @class = "form-control", @autofocus = "on", @placeholder = "Admn No.", @autocomplete = "off", @maxlength = "10" })
                </div>

                <div class="form-group">
                    <label>Standard</label>
                    @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandard, new { @class = "drop-down form-control" })
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new {@class = "drop-down form-control" })
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filterbtn" class="btn btn-default" name="Search">Search</button>
                </div>
                <div class="form-group">
                    <button type="button" id="resetFilter" class="btn btn-danger" name="Search">Reset</button>
                </div>
            </div>
        </div>

        <!-- Page Grid -->
        <div class="row">
            <div class="col-md-12">
                <div id="student-grid"></div>
                <script>
                    $(document).ready(function () {
                        $("#student-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ViewAdmittedList", "Student"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalData
                                    },
                                    parameterMap: function(data) {
                                        return JSON.stringify(data);
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(Model.defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            dataBound: onDataBound,
                            pageable: {
                                refresh: true,
                                pageSizes: [@(Model.gridPageSizes)]
                            },
                            scrollable: false,
                            sortable: true,
                            columns: [{
                                field:"StudentId",
                                attributes: {
                                    "class": "studentId",
                                },
                                hidden:true
                            },
                            {
                                field: "Regno",
                                title: "Reg. No.",
                                sortable: true,
                            },
                            {
                                field: "Admnno",
                                title: "Admn. No.",
                                @if (Model.IsSetAdmissionNoAfterFeePaid )
                                {
                                    if (Model.ShowPayAdmissionFee)
                                    {
                                         <text>
                                template:'<input  maxlength="20" class="SetAdmissionNo" value="#=Admnno#"/><a data-no="#=Admnno#" class="btn btn-xs btn-default Save_Admission_No"><span><i class="fa fa-floppy-o" aria-hidden="true"></i></span></a>',
                                </text>
                                    }
                                    else {
                                    <text>
                                template:'#if(Admnno!=null&&Admnno!=""&&!IsAlreadyExists){#<input maxlength="20" class="SetAdmissionNo" value="#=Admnno#"/>#}##if(!IsAlreadyExists && Admnno!=null&&Admnno!=""){# <a data-no="#=Admnno#" class="btn btn-xs btn-default Save_Admission_No"><span><i class="fa fa-floppy-o" aria-hidden="true"></i></span></a>#}##if(Admnno!=null&&Admnno!=""&&IsAlreadyExists){#<a style="cursor: pointer" class="Change_Admission_No";>#=Admnno#</a>#}#',
                                </text>}
                                }
                                sortable: true,
                            }, {
                                field: "StudentName",
                                title: "Student Name",
                                sortable: true
                            }, {
                                field: "FatherName",
                                title: "Guardian Name",
                                sortable: false
                            },{
                                field: "Standard",
                                title: "Standard",
                                sortable: true
                            },
                            @if(Model.IsPayAdmnFee)
                            {
                            if(Model.FeeAdmissionCheck)
                                {
                                 if (!Model.ShowPayAdmissionFee)
                                    {
                                    <text>
                                    {
                                        sortable: false,
                                        field: "Status",
                                        title: "Action",
                                        template: '#if(!Feepaid){#<a class="btn btn-xs btn-default" target="_blank" href="@Url.Content("~/Fee/FeeReceipt?id=#=StudentId#&cs=" + Model.refurl + "&ssid=#=Sessionid#")" title="Pay Admission Fee" data-toggle="tooltip" data-placement="top" style="cursor:pointer">Pay Admission Fee</a>#}else{ #<span>Fee Paid</span>#}#'

                                    }
                                </text>
                            }
                                }
                                }
                            ]
                        });
                    });

                </script>
            </div>
        </div>
        <!-- //Page Grid -->


    </div>
</div>

<script type="text/javascript">
    $(document).on("input","#Editable_admissionNo",function(){
        var input=$(this);
        var admissionNo=$(this).val();
        if(admissionNo!=''){
        $.ajax({
            type: "POST",
            async: false,
            url: '@Html.Raw(Url.Action("GetAdmissionNo", "Student"))',
            data: {"Admnno":admissionNo},
            success: function (result) {

                if (result.status == "success") {
                    //ToastMessage(result.msg, "success", true, 5000);
                    //clearfields();
                    input.val(result.data);
                    input.parent().find('.Save_Admission_No').attr('data-no',result.data);
                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        ToastMessage(result.data, "error", true, 5000);
                        //var validationmsg = "";
                        //var validationaray = result.data.split('ε');
                        //for (var i = 0; i < validationaray.length - 1; i++) {
                        //    ToastMessage(validationaray[i], "error", true, 5000);
                        //}
                    }

                    $('#ks_loader').hide();
                }
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        })}

    });
    $(document).on("click","#Update_AdmissionNo",function(){

        var row= $(this).parent().parent();
        var studentId=$('#Editable_StudentId').val();
        var admissionNo=$('#Editable_admissionNo').val();
        if(admissionNo!=""&&admissionNo!=null){
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("UpdateAdmissionNo", "Student"))',
                data: {"StudentId":studentId,"Admnno":admissionNo},
                success: function (result) {

                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);
                        var grid = $('#student-grid').data('kendoGrid');
                        grid.dataSource.page(1);
                        clearfields();
                        $('#ks_loader').hide();
                    }
                    else {
                        if (result.msg == "NotValid") {
                            ToastMessage(result.data, "error", true, 5000);
                            //var validationmsg = "";
                            //var validationaray = result.data.split('ε');
                            //for (var i = 0; i < validationaray.length - 1; i++) {
                            //    ToastMessage(validationaray[i], "error", true, 5000);
                            //}
                        }

                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });}else{
            ToastMessage("Please Enter Admission No", "error", true, 5000);
        }

    })
    $(document).on('click','#close_div',function () {
        $('#ChangeAdmissionNo_div').hide();
        $('#Editable_StudentId').val('');
        $('#Editable_admissionNo').val('');
    })
    $(document).on('click','.Change_Admission_No',function () {
        var admissionNo= $(this).text();
        $('#ChangeAdmissionNo_div').show();
        $('#Editable_admissionNo').val(admissionNo);
        $('#Editable_StudentId').val($(this).parent().parent().find('.studentId').text());
    })
    $(document).on("input",".SetAdmissionNo",function(){
        var input=$(this);
        var admissionNo=$(this).val();
        if(admissionNo!="")
        {
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("GetAdmissionNo", "Student"))',
                data: {"Admnno":admissionNo},
                success: function (result) {

                    if (result.status == "success") {
                        //ToastMessage(result.msg, "success", true, 5000);
                        //clearfields();
                        input.val(result.data);
                        input.parent().find('.Save_Admission_No').attr('data-no',result.data);
                        $('#ks_loader').hide();
                    }
                    else {
                        if (result.msg == "NotValid") {
                            ToastMessage(result.data, "error", true, 5000);
                            //var validationmsg = "";
                            //var validationaray = result.data.split('ε');
                            //for (var i = 0; i < validationaray.length - 1; i++) {
                            //    ToastMessage(validationaray[i], "error", true, 5000);
                            //}
                        }

                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })
        }

    });
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    $(document).ready(function () {

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                $('#filterbtn').trigger('click');
            }
        });

        //search button
        $('#filterbtn').click(function () {
            //search
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });
        $('#SessionId3').change(function () {
            $('#ks_loader').show();
            var SessionId = $('#SessionId3').val();
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1);
            $('#ks_loader').hide();
        });
        $('#resetFilter').click(function(){
            $("#Regno").val('');
            $('#StandardId').val("");
            $('#StudentId').val("");
            $('#SessionId2').val($("#defaultSessionId2").val());
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });
    });

    function additionalData() {
        var data={};
        var data = {
            Regno:$("#Regno").val(),
            StandardId: $('#StandardId').val(),
            SessionId : $('#SessionId3').val(),
            StudentId: $('#StudentId').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(document).on("click",".Save_Admission_No",function(){
       // var currentelement=$(this);
        var row= $(this).parent().parent();
        var studentId=row.find('.studentId').text();
        var admissionNo=$(this).parent().find('.SetAdmissionNo').val();
        if(admissionNo!=""&&admissionNo!=null){
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("SaveAdmissionNo", "Student"))',
                data: {"StudentId":studentId,"Admnno":admissionNo},
                success: function (result) {

                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);
                        var grid = $('#student-grid').data('kendoGrid');
                        grid.dataSource.page(1);
                        clearfields();
                        $('#ks_loader').hide();
                    }
                    else {
                        if (result.msg == "NotValid") {
                            ToastMessage(result.data, "error", true, 5000);
                            //var validationmsg = "";
                            //var validationaray = result.data.split('ε');
                            //for (var i = 0; i < validationaray.length - 1; i++) {
                            //    ToastMessage(validationaray[i], "error", true, 5000);
                            //}
                        }

                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });}else{
            ToastMessage("Please Enter Admission No", "error", true, 5000);
        }

    })


</script>
