﻿@model ViewModel.ViewModel.Student.StudentListModel

@{
    ViewBag.Title = "View Students";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
    var TypeId = Model.TypeId;
}
<script>
    $(document).ready(function () {
        //$('#SelectedType_Id').multiselect({
        //});
        //$("#TypeId").multiselect("refresh");

    });
</script>
@if (ViewData["ErrorMessage"] != null && ViewData["ErrorMessage"] != "")
{
    <script>
        $(document).ready(function () {
            ToastMessage('@ViewData["ErrorMessage"]', "error", true, 5000);

            '@ViewData["ErrorMessage"]' = null;
        });
    </script>

}

<!-- Page Heading -->
@Html.Hidden("columnsname")
@Html.Hidden("Hostler")
@Html.Hidden("FileName")
@Html.HiddenFor(x => x.ModuleId)
@Html.HiddenFor(m => m.SessionId, new { id = "defaultSessionId" })


@Html.HiddenFor(m => m.Type_Id)
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>View Students</h1>
    </div>
    <div class="col-md-6 text-right">
        @if (Model.IsAuthToPrint)
        {
            <a href="javascript:void(0)" id="btnexportexcel" class="btn btn-xs btn-default" style="display:none" data-toggle="modal" data-target="#myModal">Export to excel</a>
        }
        <button type="button" id="btnSendMessage" class="btn btn-xs btn-default" style="padding: 5px;border: 0;" title="Send Message">
            <i class="fa fa-share-square-o" aria-hidden="true" style="font-size: 20px;"></i>
        </button>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Filters -->
<div class="row top-space-10">
    <div class="col-md-12">
        <form class="form-inline ks-custom-form">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Type</label>
                @Html.DropDownListFor(model => model.SelectedType_Id, Model.AvailableTypes, new { @class = "listbox form-control", @autofocus = "on", @multiple = "multiple" })
            </div>

            <div class="form-group">
                <label>Standard</label>
                @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandards, new { @class = "form-control drop-down",@style="width: 137px;" })
            </div>

            <div class="form-group">
                <label>Category</label>
                @Html.DropDownListFor(model => model.CategoryId, Model.AvailableCategory, new { @class = "form-control" })
            </div>

            @*//fromDate*@
            <div class="form-group">
                <label>From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
            </div>
            @*to date*@
            <div class="form-group">
                <label>To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
            </div>
            <div class="form-group">
                <label>Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>StudentName</label>
                @Html.TextBoxFor(model => model.StudentName, "", new { @class = "form-control" })
            </div>

            @*@if (Model.ShowHostlerFilter == true)
            {*@
                <div class="form-group Show_HostlerFilter" style="display:none">
                    <label>Is Hostler</label>
                    @Html.CheckBoxFor(model => model.IsHostler, new { @class = "hostlercheckbox" })
                </div>
            @*}*@

            <div class="form-group">
                <label>Is Staff Child</label>
                @Html.CheckBoxFor(model => model.IsStaffChild, new { @class = "staffChildcheckbox" })
            </div>

            &nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search-student" class="btn btn-default" hidden>Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
    </div>
</div>
<script>
 $.ajax({
                            async: true,
                            type: "POST",
                            url: '@Html.Raw(Url.Action("GetDropDownListAdmittedList", "Student"))',
                            data: {  },
                            success: function (result) {
                                //bind session dropdown
                            if (result.AvailableSessions.length > 0) {
                            var html = "";
                            for (var i = 0; i < result.AvailableSessions.length; i++)
                            {
                                if (result.AvailableSessions[i].Selected) {
                                    html += '<option value="' + result.AvailableSessions[i].Value + '" selected="selected">' + result.AvailableSessions[i].Text + '</option>'
                                }
                                else {
                                    html += '<option value="' + result.AvailableSessions[i].Value + '" >' + result.AvailableSessions[i].Text + '</option>'
                                }
                                }

                            $('#SessionId').append(html);
                                }

                                //bind Category dropdown
                                if (result.AvailableCategory.length > 0)
                                {
                             html = "";
                            for (var i = 0; i < result.AvailableCategory.length; i++)
                            {
                                 if (result.AvailableCategory[i].Selected) {
                                    html += '<option value="' + result.AvailableCategory[i].Value + '" selected="selected">' + result.AvailableCategory[i].Text + '</option>'
                                }
                                else {
                                    html += '<option value="' + result.AvailableCategory[i].Value + '" >' + result.AvailableCategory[i].Text + '</option>'
                                }
                            }

                            $('#CategoryId').append(html);
                                }

                                //bind Types dropdown
                                if (result.AvailableTypes.length > 0)
                                {
                             html = "";
                            for (var i = 0; i < result.AvailableTypes.length; i++)
                            {

                             if (result.AvailableTypes[i].Selected) {
                                    html += '<option value="' + result.AvailableTypes[i].Value + '" selected="selected">' + result.AvailableTypes[i].Text + '</option>'
                                }
                                else {
                                    html += '<option value="' + result.AvailableTypes[i].Value + '" >' + result.AvailableTypes[i].Text + '</option>'
                                }
                            }

                                    $('#SelectedType_Id').append(html);
                                     $('#SelectedType_Id').multiselect({
        });
                                }

                                 //bind Types dropdown
                                if (result.AvailableStandards.length > 0)
                                {
                             html = "";
                            for (var i = 0; i < result.AvailableStandards.length; i++)
                            {

                            if (result.AvailableStandards[i].Selected) {
                                    html += '<option value="' + result.AvailableStandards[i].Value + '" selected="selected">' + result.AvailableStandards[i].Text + '</option>'
                                }
                                else {
                                    html += '<option value="' + result.AvailableStandards[i].Value + '" >' + result.AvailableStandards[i].Text + '</option>'
                                }
                            }

                            $('#StandardId').append(html);
                                }

                                if (result.ShowHostlerFilter) {
                                    $('.Show_HostlerFilter').show();
                                }

                            $('#SessionId').val(result.SessionId);
                            $('#defaultSessionId').val(result.SessionId);
                                  $("#columnsname").val(result.columnnameadmttdlst);
                                $('#ModuleId').val(result.ModuleId);
                            },
                            error: function (xhr, status, p3) {
                            var err = "Error: " + " " + p3;
                            ToastMessage(err, "error", true, 5000);
                            }
 })
</script>
<!-- // Page Filters -->
<!-- Page Grid -->
<div class="row">
    <div class="col-md-12">
        <div id="student-grid"></div>
        <script>
            $("#SelectedType_Id option[value='Regist']").attr('selected', 'selected');
            @*var typeId = $('#TypeId').val();
            if(typeId == "1") // admitted
            {
                @{
                     TypeId = 1;
                 }
            }
            else if(typeId == "2") // registered or rejected
            {
                @{
                      TypeId = 2;
                }
            }
            else{
                       @{
                     TypeId = 3;
                       }
            }*@

            $(document).ready(function () {
                $("#student-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SelectAdmittedList", "Student"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        change: function (data) {
                            if(data.items.length>0){
                                $("#btnexportexcel").show();
                            }
                            else{
                                $("#btnexportexcel").hide();
                            }
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },

                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [{
                        field: "RegNo",
                        title: "Reg.No.",
                        sortable: true,
                    },
                    {
                        field: "AdmnNo",
                        title: "Admn.No.",
                        hidden: true
                    }, {
                        field: "StdDate",
                        title: "Date",
                        template: "#= kendo.toString(kendo.parseDate(StdDate, 'yyyy-MM-dd'), 'dd/MM/yyyy')!=null ? kendo.toString(kendo.parseDate(StdDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') : '' #",
                        sortable: true,
                    }, {
                        field: "Date",
                        title: "Date",
                        sortable: false,
                        hidden: true
                    }, {
                        field: "StudentName",
                        title: "Student Name",
                        sortable: true,
                    }, {
                        field: "FatherName",
                        title: "Guardian Name",
                    },{
                        field: "Standard",
                        title: "Standard",
                        sortable: true,
                    },{
                        field: "Class",
                        title: "Class",
                        sortable: true,
                    },{
                        field: "RollNo",
                        title: "RollNo",
                        template:'#if(RollNo != 0){##=RollNo##} else {# N/A #}#',
                        hidden:true
                    },
                     @if (Model.AllowRegistrationFeeinRegistrationform)
                    {<text>{
                         field: "PendingRegistrationfee",
                         title: "Pending Registration fee",
                     },
                               </text>}
                    {
                        field: "Status",
                        title: "Status",
                    },
                     @if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                    {
                      <text>
                      {
                          field: "EncStudentId",
                          title: "Action",
                          template: @if(Model.IsAuthToEdit)
                                    {<text>'<a class="btn btn-xs btn-default" title="Edit Student" data-toggle="tooltip" data-placement="top" href="Edit/#=EncStudentId#"><i class="fa fa-pencil"></i></a>'
                                     </text>}
                                    @if (Model.IsAuthToDelete)
                                    { <text>+'#if(Status == "Registered" ||Status == "Selected"){#<a title="Delete" data-toggle="tooltip" data-placement="top"  class="deleteRecords  btn btn-xs btn-default"   cursor:pointer" dataid="#=EncStudentId#" href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                          </text>}
                      }</text>
                     },{
                          field: "EncStudentId",
                          hidden:true
                      },{
                          field: "HasMobileNoAndHasAccount",
                          hidden:true
                      },
                    ]
                });
                //typeId = $('#TypeId').val();
                var grid = $("#student-grid").data("kendoGrid");
                @*$("#columnsname").val('@TempData["columnnameadmttdlst"]');*@

            });


        </script>
    </div>
</div>
<!-- //Page Grid -->
<!--Dropdown list-->

                            <!--Dropdown list-->
                            <script type="text/javascript">

    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    $(document).ready(function () {
        //date picker
        $("#FromDate,#ToDate").kendoDatePicker({
            format: "dd/MM/yyyy",
        })
        $("#FromDate,#ToDate").attr('readonly', true);
        //search button
        $('#search-student').click(function () {
            //search
            if($('#SelectedType_Id').val() != null)
            {
                var grid = $('#student-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                return false;
            }
            else
            {
                ToastMessage("Please select atleast one option from Type.", "error", true, 5000);
            }
        });

        $("#SelectedType_Id").change(function(){
            $("#btnexportexcel").hide();
            if($(this).val() == null)
                $("#btnSendMessage").css("display","none");
            else
                $("#btnSendMessage").css("display","inline-block");
        });

        $("#btnSendMessage").click(function(){
            $('#ks_loader').show();
            var studentFlag = [];
            var checkedRows = [];
            $("#student-grid tbody tr").each(function () {
                @if (Model.AllowRegistrationFeeinRegistrationform)
                 {
                     <text>
                checkedRows.push($(this).find("td:nth-child(13)").text())
                studentFlag.push($(this).find("td:nth-child(13)").text()+"/"+$(this).find("td:nth-child(14)").text())
                </text>
            }
                 else
                 {
                     <text>
                checkedRows.push($(this).find("td:nth-child(12)").text())
                studentFlag.push($(this).find("td:nth-child(12)").text()+"/"+$(this).find("td:nth-child(13)").text())
                </text>
            }

                });
            var Ids ="";
            $.each(checkedRows,function(i){
                Ids +=checkedRows[i] + ",";
            });
            var vals ="";
            $.each(studentFlag,function(i){
                vals +=studentFlag[i] + ",";
            });
            //alert(Ids);
            if(studentFlag.length > 0)
            {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("SaveSMSNotificationStudentsTextFile", "Messenger"))',
                    data: { "StudentIds": Ids,"ModuleId": $("#ModuleId").val(), "Flags" : vals} ,
                    success: function (result) {
                        $('#ks_loader').show();
                        if (result.status == "success") {
                            $("#FileName").val(result.fileName);
                            if($("#FileName").val() != "")
                            {
                                window.location.href ='@Html.Raw(Url.Action("SMSNotification", "Messenger"))?FileName='+ $("#FileName").val();
                            }
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else
                ToastMessage("No data found!", "error", true, 5000);

            $('#ks_loader').hide();

        });

        $('#reset').click(function(){
            location.reload(true);
            //$('#StandardId').val("").trigger("change");
            //$('#CategoryId').val("");
            //$("#FromDate,#ToDate").removeAttr('readonly');
            //$('#FromDate').val("");
            //$('#ToDate').val("");
            //$("#FromDate,#ToDate").attr('readonly', true);
            //$('#Hostler').val("");
            //$('#StudentName').val("");
            //$('#IsHostler').prop('checked',false)
            //$("#SelectedType_Id").multiselect('refresh');
            //$("#SelectedType_Id option[value='Regist']").attr('selected', 'selected');
            //$('#IsStaffChild').prop('checked',false);
            //var grid = $('#student-grid').data('kendoGrid');
            //grid.dataSource.page(1); //new search. Set page size to 1
            ////grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        //$('#btnexportexcel').click(function(){
        //    $('#ks_loader').show();
        //    var grid = $("#student-grid").data("kendoGrid");
        //    grid.hideColumn("EncStudentId");
        //    grid.showColumn("Date");
        //    grid.hideColumn("StdDate");
        //    grid.saveAsExcel();
        //    setTimeout(function(){
        //        grid.showColumn("EncStudentId");
        //        grid.hideColumn("Date");
        //        grid.showColumn("StdDate");
        //        $('#ks_loader').hide();
        //    },5000);
        //    $('#ks_loader').hide();
        //});
        $("#student-grid").on("click", ".deleteRecords", function (e) {
            $('.tooltip').hide();
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });
        $("#student-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        })
        //delete ajax method
        $("#student-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var studentid = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteStudent", "Student"))',
                data: { "StudentId": studentid },
                success: function (result) {
                    if (result.status == "success") {
                        $('#student-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var student = tablerow.find("td:nth-child(1)").text();
                            if (studentid == student)
                                tablerow.remove();
                        });
                        ToastMessage(result.data, "success", true, 5000);
                        $("#student-grid").data('kendoGrid').dataSource.read();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });

        //Generate popup with checboxes with Same Name Columns Of table
        $('#btnexportexcel').click(function(){
            if($('#SelectedType_Id').val() == null)
            {
                ToastMessage("Please select atleast one option from Type.", "error", true, 5000);
                return false;
            }
            var data=new Array();
            var columnsname=$("#columnsname").val().split(',');
            $.each(columnsname,function(i){
                data.push(columnsname[i]);
            })
            $("#CheckboxDiv").html('');
            $('#SelcetAllcheckbox').prop('checked',false);
            $('#ExpToExclSelectedColumns').hide();
            for(var i=0; i<data.length;i++)
            {
                $('#CheckboxDiv').append('<tr style="cursor:pointer"><td><input class="colnamecheck" type="checkbox" id='+data[i]+' name='+data[i]+' /> ' + data[i]+ '</td></tr>');
                //$('#CheckboxDiv').append('<div class=""><td><input style="height:auto;width:auto;cursor:pointer" class="colnamecheck" type="checkbox" id='+data[i]+' name='+data[i]+' /><td><label for="inlineCheckbox1"> '+data[i]+' </label></td></div>');
            }

        });
        //Export data on Excel with seleted columns
        $("#ExpToExclSelectedColumns").click(function () {

            $('#ks_loader').show();
            var Unseletedcolumn = "";
            var SelectedColumn="";
            $("input[class='colnamecheck']:checkbox:not(:checked)").each(function () {
                //alert("Id: " + $(this).attr("id") + " Value: " + $(this).val());
                Unseletedcolumn+= $(this).attr('id')+",";
            });
            $.each($("input[class='colnamecheck']:checked"), function(){
                SelectedColumn+= $(this).attr('id')+",";
            });

            var grid = $("#student-grid").data("kendoGrid");
            grid.hideColumn("EncStudentId");
            grid.showColumn("Date");
            grid.hideColumn("StdDate");
            // grid.saveAsExcel();
            setTimeout(function(){
                grid.showColumn("EncStudentId");
                grid.hideColumn("Date");
                grid.showColumn("StdDate");
                $('#ks_loader').hide();
            },5000);
            $('#ks_loader').hide();
            var StandardId=   $('#StandardId').val();
            var   CategoryId = $('#CategoryId').val();
            var  FromDate  = $('#FromDate').val();
            var  ToDate  = $('#ToDate').val();
            var IsHostler=  $("#IsHostler").is(":checked");
            var SelectedType_Id=   $("#SelectedType_Id").val();
            var  IsStaffChild = $("#IsStaffChild").is(":checked");
            var SessionId=$('#SessionId').val();
            var StudentName=$('#StudentName').val();

            //$.each($("#student-grid").find("tbody> td")

            $.ajax({
                type: "GET",
                async: true,
                url: '@Html.Raw(Url.Action("Export", "Student"))',
                data: {},
                success: function (result) {
                    window.location = "../Student/ExportAddmttdList?SessionId=" + SessionId + "&Unseletedcolumn="+
                        Unseletedcolumn+"&SelectedColumn="+SelectedColumn+"&CategoryId="+CategoryId+"&FromDate="+FromDate+"&ToDate="+ToDate+
                        "&StandardId="+StandardId+"&IsHostler="+IsHostler+"&SelectedType_Id="+SelectedType_Id+
                        "&IsStaffChild="+IsStaffChild+"&StudentName="+StudentName;
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        });
        //for select all checkbox
        $('#SelcetAllcheckbox').on('click',function(){
            if(this.checked){
                $('.colnamecheck').each(function(){
                    this.checked = true;
                });
                $("#ExpToExclSelectedColumns").show();
            }else{
                $('.colnamecheck').each(function(){
                    this.checked = false;
                });
                $("#ExpToExclSelectedColumns").hide();
            }
        });
        //for columns checkbox
        $(document).on('click','.colnamecheck',function(){

            if($('.colnamecheck:checked').length > 0 && $('.colnamecheck:checked').length == $('.colnamecheck').length){
                $("#ExpToExclSelectedColumns").show();
                $('#SelcetAllcheckbox').prop('checked',true);
            }
            else if($('.colnamecheck:checked').length > 0 && $('.colnamecheck:checked').length != $('.colnamecheck').length){
                $('#SelcetAllcheckbox').prop('checked',false);
                $("#ExpToExclSelectedColumns").show();
            }
            else if($('.colnamecheck:checked').length==0){
                $('#SelcetAllcheckbox').prop('checked',false);
                $("#ExpToExclSelectedColumns").hide();
            }
        });

    });
    $('#IsHostler').click(function(){
        $("#btnexportexcel").hide();
        if($('#IsHostler').is(':checked'))
        {
            $('#Hostler').val("true")
        }else{
            $('#Hostler').val("false")
        }

    })
    $('#IsStaffChild').click(function(){
        $("#btnexportexcel").hide();
    })
    $('#StandardId').change(function(){
        $("#btnexportexcel").hide();
    })
    $('#CategoryId').change(function(){
        $("#btnexportexcel").hide();
    })
    $('#SessionId').change(function(){
        $("#btnexportexcel").hide();
    })
    $('#FromDate').change(function(){
        $("#btnexportexcel").hide();
    })
    $('#ToDate').change(function(){
        $("#btnexportexcel").hide();
    })
    // function get date as string and return date
    function GetDateFromString(date) {
        if(date!=""){
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
        return null;
    }
    function additionalData() {
        var data = {
            SessionId:$("#SessionId").val(),
            SelectedType_Id:$("#SelectedType_Id").val(),
            StandardId: $('#StandardId').val(),
            StatusId: $('#StatusId').val(),
            CategoryId:$('#CategoryId').val(),
            FromDate: GetDateFromString($('#FromDate').val()),
            ToDate: GetDateFromString($('#ToDate').val()),
            IsHostler :$('#IsHostler').prop('checked'),
            IsStaffChild:$('#IsStaffChild').prop('checked'),
            StudentName:$('#StudentName').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };


                            </script>
                            <!-- Modal for checkboxes -->

                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                            <h4 class="modal-title text-center">Select Columns For Excel Report</h4>
                                        </div>
                                        @*<div class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>*@
                                        <div class="modal-body">
                                            <table id="checkTable">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" style="height:auto;width:auto;cursor:pointer" id="SelcetAllcheckbox" /><label>Select All</label></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="CheckboxDiv"></tbody>
                                            </table>
                                            <script type="text/javascript">

                                                $('#CheckboxDiv').sortable();
                                            </script>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="ExpToExclSelectedColumns" style="display:none" class="btn btn-success" data-dismiss="modal">Export To Excel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>