﻿@model ViewModel.ViewModel.Student.AdmissionModel

@{
    ViewBag.Title = "Manage Admission";
}
<style>
    .modal-popup-body {
        width: 750px;
    }
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Manage Admission</h1>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("Admission", "Student", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            // call partial view
            @Html.Partial(Model.ViewName, Model)
        @Html.HiddenFor(m=>m.AdmnSeriesEditable)
            <div class="modal-popup" id="studentinfo-div" hidden>
                <div class="modal-popup-body">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="Close_div" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Student Information</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Reg No.:</label><!-- Form Label -->
                                    <div class="col-md-8" id="RegistrationNo">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Name:</label><!-- Form Label -->
                                    <div class="col-md-8" id="StudentName">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">AadharNo:</label><!-- Form Label -->
                                    <div class="col-md-8" id="AadharCard">
                                    </div><!-- Form Field -->
                                </div>

                            </div>

                            <div class="row top-space-10">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">DOB:</label><!-- Form Label -->
                                    <div class="col-md-8" id="DOB">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Regd Date:</label><!-- Form Label -->
                                    <div class="col-md-8" id="DOJ">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Email:</label><!-- Form Label -->
                                    <div class="col-md-8" style="word-wrap:break-word;width:146px" id="Email">
                                    </div><!-- Form Field -->
                                </div>

                            </div>

                            <div class="row top-space-10">
                                <div class=" col-md-4">
                                    <label class="col-md-4 control-label">Mobile No.:</label><!-- Form Label -->
                                    <div class="col-md-8" id="MobileNo">
                                    </div><!-- Form Field -->
                                </div>
                                <div class=" col-md-4">
                                    <label class="col-md-4 control-label">Gender:</label><!-- Form Label -->
                                    <div class="col-md-8" id="Gender">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Category:</label><!-- Form Label -->
                                    <div class="col-md-8" id="Category">
                                    </div><!-- Form Field -->
                                </div>
                            </div>

                            <div class="row top-space-10">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Nationality:</label><!-- Form Label -->
                                    <div class="col-md-8" id="Nationality">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Religion:</label><!-- Form Label -->
                                    <div class="col-md-8" id="Religion">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Standard:</label><!-- Form Label -->
                                    <div class="col-md-8" id="EnteranceStandard">
                                    </div><!-- Form Field -->
                                </div>
                            </div>

                            <div class="row top-space-10">
                                <div class="col-md-4">
                                    <div class="col-md-8">
                                        <img id="studentimage" src="" alt="Student Photo" width="60" height="60" />
                                    </div><!-- Form Field -->
                                </div>
                            </div>

                            <hr class="top-space-10" style="margin-top: 0;margin-bottom: 5px;" />

                            <div class="col-md-12">
                                <h4>Student Address</h4>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Type:</label><!-- Form Label -->
                                    <div class="col-md-8" id="AddressType">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Plot No.:</label><!-- Form Label -->
                                    <div class="col-md-8" id="PlotNo">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label"><abbr title="Sector/Street">Sec/St:</abbr></label><!-- Form Label -->
                                    <div class="col-md-8" id="SectorOrStreet">
                                    </div><!-- Form Field -->
                                </div>

                            </div>

                            <div class="row top-space-10">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Locality:</label><!-- Form Label -->
                                    <div class="col-md-8" id="Locality">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Landmark:</label><!-- Form Label -->
                                    <div class="col-md-8" id="Landmark">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Zip:</label><!-- Form Label -->
                                    <div class="col-md-8" id="Zip">
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                            <div class="row top-space-10">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">City:</label><!-- Form Label -->
                                    <div class="col-md-8" id="City">
                                    </div><!-- Form Field -->
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">State:</label><!-- Form Label -->
                                    <div class="col-md-8" id="State">
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<!-- Page Controls -->
<script>

    //$(window).keydown(function (event) {
    //    if (event.keyCode == 13) {
    //        event.preventDefault();

    //        $('#filterreglist').trigger('click');
    //    }
    //});

    $("#StandardId").change(function () {
        var standardId = $("#StandardId").val();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("FilteredStudents", "Student"))',
            data: { "standardId": standardId, "flag": '@Model.ViewName' },
            success: function (result) {
                if (result.status == "success") {
                    $("#StudentId").empty();
                    $("#StudentId").append('<option value="">--All--</option>')
                    for (var i = 0; i < result.filteredStudents.length; i++) {
                        $("#StudentId").append('<option value=' + result.filteredStudents[i].Value + '>' + result.filteredStudents[i].Text + '</option>')
                    }
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });
    });

    $("#resetFilter").click(function () {
        $("#Regno").val('');
        $("#StandardId").val($("#StandardId option:first").val()).trigger('change');
        $("#AdmissionTypeId").val($("#AdmissionTypeId option:first").val());
        $("#RejectedTypeId").val($("#RejectedTypeId option:first").val());
        $("#WaitingTypeId").val($("#WaitingTypeId option:first").val());

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("FilteredStudents", "Student"))',
            data: { "flag": '@Model.ViewName' },
            success: function (result) {
                if (result.status == "success") {
                    $("#StudentId").empty();
                    $("#StudentId").append('<option value="">--All--</option>')
                    for (var i = 0; i < result.filteredStudents.length; i++) {
                        $("#StudentId").append('<option value=' + result.filteredStudents[i].Value + '>' + result.filteredStudents[i].Text + '</option>')
                    }
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });

        $('#filterreglist').trigger('click');
        $('#filterwaitlist').trigger('click');
        $('#filterrejectlst').trigger('click');
    });

    $('#Close_div').click(function () {
        $('#studentinfo-div').hide();
    });

    
    $(document).on("click", ".cls_studentdetail", function () {
        $('#studentinfo-div').hide();
        var row = $(this).parent().parent();
        var stdik = row.find(".cls-stdId").text();

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("RegStudentInfo", "Student"))',
            data: { "Stdik": stdik },
            success: function (result) {
                if (result.status == "success") {
                    $('#RegistrationNo').text(result.data.RegistrationNo);
                    $('#StudentName').text(result.data.StudentName);
                    $('#AadharCard').text(result.data.AadharCard != null && result.data.AadharCard != "" ? result.data.AadharCard : "");
                    $('#Email').text(result.data.Email != null && result.data.Email != "" ? result.data.Email : "");
                    $('#MobileNo').text(result.data.PhoneNo != null && result.data.PhoneNo != "" ? result.data.PhoneNo : "");
                    $('#DOB').text(result.data.DOB);
                    $('#DOJ').text(result.data.RegDate != null && result.data.RegDate != "" ? result.data.RegDate : "");
                    $('#Religion').text(result.data.Religion != null && result.data.Religion != "" ? result.data.Religion : "");
                    $('#Category').text(result.data.Category != null && result.data.Category != "" ? result.data.Category : "");
                    $('#Nationality').text(result.data.Nationality != null && result.data.Nationality != "" ? result.data.Nationality : "");
                    $('#Gender').text(result.data.Gender != null && result.data.Gender != "" ? result.data.Gender : "");
                    $('#EnteranceStandard').text(result.data.EnteranceStandard != null && result.data.EnteranceStandard != "" ? result.data.EnteranceStandard : "");
                    $('#studentimage').attr("src", result.data.StudentImage);

                    $('#AddressType').text(result.data.AddressType != null && result.data.AddressType != "" ? result.data.AddressType : "");
                    $('#PlotNo').text(result.data.PlotNo != null && result.data.PlotNo != "" ? result.data.PlotNo : "");
                    $('#SectorOrStreet').text(result.data.SectorOrStreet != null && result.data.SectorOrStreet != "" ? result.data.SectorOrStreet : "");
                    $('#Locality').text(result.data.Locality != null && result.data.Locality != "" ? result.data.Locality : "");
                    $('#Landmark').text(result.data.Landmark != null && result.data.Landmark != "" ? result.data.Landmark : "");
                    $('#Zip').text(result.data.Zip != null && result.data.Zip != "" ? result.data.Zip : "");
                    $('#City').text(result.data.City != null && result.data.City != "" ? result.data.City : "");
                    $('#State').text(result.data.State != null && result.data.State != "" ? result.data.State : "");

                    $('#studentinfo-div').show();
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });
    });
    $(document).on("click", ".clsprint_studentdetail", function () {

        var row = $(this).parent().parent();
        var stdik = row.find(".cls-stdId").text();
        var Email = "";
        var AdmnNo = "";
        var DateofBirth = "";
        var StudentName = "";
        var SchoolName = "";
        var SchoolAddress = "";
        var SchoolLogoPath = "";
        var PhoneNo = "";
        var Standard = "";
        var Session = "";
        var parentname = "";

        $.ajax({
            async: false,
            type: "POST",
            url: '../Student/RegStudentInfo',
            data: { "Stdik": stdik },
            success: function (result) {
                if (result.status == "success") {

                    Email = result.data.Email != null && result.data.Email != "" ? result.data.Email.length > "16" ? result.data.Email.substring(0, 16) + "..." : result.data.Email : "";
                    AdmnNo = result.data.RegistrationNo;
                    DateofBirth = result.data.DOB;
                    StudentName = result.data.StudentName;
                    SchoolName = result.data.SchoolName;
                    SchoolAddress = result.data.SchoolAddress;
                    SchoolLogoPath = result.data.SchoolLogoPath;
                    PhoneNo = result.data.PhoneNo != null && result.data.PhoneNo != "" ? result.data.PhoneNo : "";
                    Standard = result.data.Standard != null && result.data.Standard != "" ? result.data.Standard : "";
                    Session = result.data.sessionname != null && result.data.sessionname != "" ? result.data.sessionname : "";
                    parentname = result.data.parentname != null && result.data.parentname != "" ? result.data.parentname : "";
                    var w = window.open('', '', 'scrollbars=1');

                    var wholehtml = html(StudentName, parentname, DateofBirth, Email, PhoneNo, SchoolName,
            AdmnNo, Session, Standard, SchoolLogoPath, SchoolAddress);

                    var doc = w.document.open();
                    doc.write(wholehtml);
                    doc.close();
                    setTimeout(function () {
                        w.print();
                        //w.close();
                    }, 500);
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });

    });
    function html(StudentName, parentname, DateofBirth, Email, PhoneNo, SchoolName,
        AdmnNo, Session, Standard, SchoolLogoPath, SchoolAddress) {

        var htmlStart =
            '<!DOCTYPE html>' +
            '<html>' +
            '<head>' +
            '<title></title>' +
            '</head>' +
            '<body  id="print-data">';

        var htmlEnd = '</body></html>';
        var heading = '<div  style="width:100%; overflow:hidden; border: 1px solid; border-style: dotted;"><div style="padding:10px;">';

        var childheading = '<table style="width:100%;font-size:12px; font-family:arial;" border="0" cellpadding="5">' +
                             '<tr style="text-align:center;">' +
                             '<td colspan="2"><h1>Registration Slip</h1></td></tr>' +
                                '<tr>' +
                                    '<td>' +
                                        '<h2 style="margin:0; padding:0;">' + SchoolName + '</h2>' +
                                        '<h4 id="schoolAdrress" style="margin:0; padding:0;">' +
                                            SchoolAddress
                                        + '</h4>' +
                                    '</td>' +
                                    '<td max-width="150" max-height="60" style="text-align:right">' +
                                        '<img src="' + SchoolLogoPath + '" max-width="150" max-height="60" />' +
                                    '</td>' +
                                '</tr>' +
                            '</table><hr/>';

        childheading += '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">' +
                    '<tr>' +
                        '<td><b id="label-heading"> Registration No.: </b></td>' +
                        '<td style="font-size:13px"><b>' + AdmnNo + '</b></td>' +
                        '<td><b>Session: </b></td>' +
                        '<td>' + Session + '</td>' +
                        '<td><b>Standard: </b></td>' +
                        '<td>' + Standard + '</td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td><b>Student Name: </b></td>' +
                        '<td>' + StudentName + '</td>' +
                        '<td><b>Guardian Name: </b></td>' +
                        '<td>' + parentname + '</td>' +
                        '<td><b>DOB: </b></td>' +
                        '<td>' + DateofBirth + '</td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td><b>Email: </b></td>' +
                        '<td>' + Email + '</td>' +
                        '<td><b>Mobile No.: </b></td>' +
                        '<td>' + PhoneNo + '</td>' +
                    '</tr>' +

                '</table>';

        childheading += '</div></div>';

        childheading += '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">' +
                           '<tr>' +
                                '<td valign="top">' +

                                'Registration doesn\'t gurantee admission of candidate.' +

        '</td>' +
        '<td valign="top" align="right">' +
            'For ' + SchoolName + '' +
            '<br/><br/><br/><br/><br/><br/><br/><br/>' +
            'Authorised Signatory' +
        '</td>' +
    '</tr>' +
    '</table>';
        var fullhtml = htmlStart + heading + childheading + htmlEnd;
        return fullhtml;
    }
    
    $(document).on("input", ".cls-admnno", function () {
        var input = $(this);
        var admissionNo = $(this).val();
        if (admissionNo != "") {
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("GetAdmissionNo", "Student"))',
                data: { "Admnno": admissionNo },
                success: function (result) {

                    if (result.status == "success") {
                        //ToastMessage(result.msg, "success", true, 5000);
                        //clearfields();
                        input.val(result.data);
                        input.parent().find('.Save_Admission_No').attr('data-no', result.data);
                        $('#ks_loader').hide();
                    }
                    else {
                        if (result.msg == "NotValid") {
                            ToastMessage(result.data, "error", true, 5000);
                            //var validationmsg = "";
                            //var validationaray = result.data.split('ε');
                            //for (var i = 0; i < validationaray.length - 1; i++) {
                            //    ToastMessage(validationaray[i], "error", true, 5000);
                            //}
                        }

                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })
        }

    });
    
</script>
