﻿@model ViewModel.ViewModel.Session.SessionAdmissionOpeningModel

@{
    ViewBag.Title = "Manage Admission Opening";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Manage Admission Opening 
        @if (!string.IsNullOrEmpty(Model.NewSessionWarning))
        { 
            <span style="font-size: 11px">( <em>Note: </em> @Model.NewSessionWarning )</span>
        }
        </h1>
    </div>
    <div class="col-md-6 text-right" id="manageClassIncharge_btns">
        <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn_AddNew">Add New</a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("AdmnOpening", "Student", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
        {
            @Html.AntiForgeryToken()        
            @Html.Partial("_createOrUpdateAdmnOpening", Model)
        }
    </div>
</div>
<!-- Page Controls -->
