﻿@model ViewModel.ViewModel.Student.AssignRollnoModel

@{
    ViewBag.Title = "Assign Section";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Assign Section</h1>
    </div>
</div>
@Html.HiddenFor(m => m.CurSessionId, new { id = "defaultSessionId" })
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("AssignRollNoSection", "Student", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AssignedArray)
            @*@Html.HiddenFor(model => model.CurSessionId)*@

            <!-- Form Row -->

            <div class="row">
                <div class="form-group">
                    <label>Session</label>
                    @Html.DropDownListFor(model => model.CurSessionId, Model.AvailableSessions, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Standard</label>
                    @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandard, new { @class = "form-control" })
                </div>

                <input type="submit" name="Search" id="search-students" hidden />
            </div>

            <div class="row">
                <div id="div-Students-Grid" style="display: none">
                    <script>
                        $(document).ready(function () {
                            $("#div-Students-Grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetAdmitStudentslist", "Student"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,
                                columns: [{
                                    title: "Select All",
                                    headerTemplate: "<input type='checkbox' id='header-chb' class=' k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>",
                                    template: "<input type='checkbox' id='#=StudentId#' class=' cls-chkbox k-checkbox row-checkbox'><label class='k-checkbox-label' for='#=StudentId#'></label>"
                                }, {
                                    field: "StudentId",
                                    hidden: true
                                }, {
                                    field: "Admnno",
                                    title: "Admission No.",
                                    sortable: true
                                }, {
                                    field: "StudentName",
                                    title: "Student Name",
                                    sortable: true
                                }, {
                                    field: "Gender",
                                    title: "Gender",
                                    sortable: true
                                }, {
                                    field: "FatherName",
                                    title: "Father Name",
                                    sortable: true
                                }, {
                                    field: "MotherName",
                                    title: "Mother Name",
                                    sortable: true
                                }, {
                                    field: "Standard",
                                    title: "Standard",
                                    sortable: true
                                }]
                            });
                            var grid = $("#div-Students-Grid").data("kendoGrid");

                            $('#header-chb').change(function (ev) {
                                var checked = ev.target.checked;
                                $('.row-checkbox').each(function (idx, item) {
                                    if (checked) {
                                        if (!($(item).closest('tr').is('.k-state-selected'))) {
                                            $(item).click();
                                        }
                                    } else {
                                        if ($(item).closest('tr').is('.k-state-selected')) {
                                            $(item).click();
                                        }
                                    }
                                });
                            });
                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                            var view = this.dataSource.view();
                            for (var i = 0; i < view.length; i++) {
                                if (checkedIds[view[i].id]) {
                                    this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                                        .addClass("k-state-selected")
                                        .find(".k-checkbox")
                                        .attr("checked", "checked");
                                }
                            }
                        }
                        function additionalData() {
                            var data = {
                                StudentId: $('#StudentId').val(),
                                StandardId: $("#StandardId").val(),
                                CurSessionId: $("#CurSessionId").val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>


                </div>
                @*<div class="row top-space-10">
                    <table id="table-student-grid" class="table table-bordered table-condensed table-responsive table-striped">
                        <thead class="thead-default">
                            <tr>
                                <th class="col-md-1 text-center"><input type="checkbox" class="master-chkbox" id="master-chk" /></th>
                                <th class="col-md-2">Admission No.</th>
                                <th class="col-md-2">Student Name</th>
                                <th class="col-md-2">Gender</th>
                                <th class="col-md-2">Father Name</th>
                                <th class="col-md-2">Mother Name</th>
                                <th class="col-md-1">Standard</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.AdmitStudentslist)
                                {
                                    <tr>
                                        <td class=" text-center"><input type="checkbox" class="cls-chkbox" /></td>
                                        <td class="cls-stdId" style="display: none">@item.StudentId</td>
                                        <td>@item.Admnno</td>
                                        <td>@item.StudentName</td>
                                        <td>@item.Gender</td>
                                        <td>@item.FatherName</td>
                                        <td>@item.MotherName</td>
                                        <td>@item.Standard</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>*@
                <!-- Form Row -->
                <div class="row top-space-10">
                    <div class="form-group">
                        <label>Section</label>
                        @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control" })
                        <!-- Error Message -->
                        <div class="error-message next_class" hidden>
                            <i class="fa fa-exclamation-triangle"></i>
                            <span class="NextClassId-validation-valid">Section required</span>
                        </div>
                        <!-- //Error Message -->
                    </div>

                    <div class="form-group">
                        <button type="submit" name="Save" id="save-admn" class="btn btn-success">Assign Section</button>
                        <button type="button" name="Cancel" id="cancel-admn" class="btn btn-danger">Cancel</button>
                    </div>
                </div>

            </div>

            <script type="text/javascript">
                var checkedIds = {};
                $(document).ready(function () {
                    var gridStuList = $("#div-Students-Grid").data("kendoGrid");
                    //bind click event to the checkbox
                    gridStuList.table.on("click", ".row-checkbox", selectRow);
                });


                //on click of the checkbox:
                function selectRow() {
                    var checked = this.checked,
                        row = $(this).closest("tr"),
                        grid = $("#div-Students-Grid").data("kendoGrid"),
                        dataItem = grid.dataItem(row);

                    checkedIds[dataItem.StudentId] = checked;

                    if (checked) {
                        //-select the row
                        row.addClass("k-state-selected");
                        var checkHeader = true;
                        $.each(grid.items(), function (index, item) {
                            if (!($(item).hasClass("k-state-selected"))) {
                                checkHeader = false;
                            }
                        });

                        $("#header-chb")[0].checked = checkHeader;
                    } else {
                        //-remove selection
                        row.removeClass("k-state-selected");
                        $("#header-chb")[0].checked = false;
                    }
                }

                @if (Model.AdmitStudentslist.Count > 0)
                {
                    <text>
                $('#div-Students-Grid').show();
                $('#StandardId').attr("disabled", true);
                $('#StudentId').attr("disabled", true);
                </text>
                }
                else
                {
                    <text>
                $('#StandardId').removeAttr("disabled");
                $('#StudentId').removeAttr("disabled");
                </text>
                }

                $('#cancel-admn').click(function () {
                    $('#StandardId').removeAttr("disabled");
                    $('#StandardId').val("");
                    $('#StudentId').removeAttr("disabled");
                    $('#StudentId').val("");
                    $('#CurSessionId').val($("#defaultSessionId").val());
                    $('#div-Students-Grid').hide();
                    var grid = $("#div-Students-Grid").data("kendoGrid");
                    grid.dataSource.page(1);
                    //$('#table-student-grid tbody').html('');
                });


                $('#RollNoStartFrom').val('');
                $('#ClassId').val('').trigger('change');

                //$('#master-chk').change(function () {
                //    $('.cls-chkbox').prop('checked', $(this).is(':checked')).change();
                //});

                $('#CurSessionId').change(function () {
                    $('#ks_loader').show();
                    var sessionid = $('#CurSessionId').val();
                    $('#StandardId').removeAttr("disabled");
                    $('#div-Students-Grid').hide();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("StandardListAcctoSession", "Student"))',
                        async: false,
                        data: { "Sessionid": sessionid },
                        success: function (result) {
                            if (result.status == "success") {
                                $('#StandardId').empty();
                                for (var i = 0; i < result.AvailableStandard.length; i++) {
                                    var option = "<option value=''> --Select-- </option>";
                                    option = "<option value='" + result.AvailableStandard[i].Value + "'>" + result.AvailableStandard[i].Text + "</option>";
                                    $('#StandardId').append(option);
                                }
                            }
                            else {
                                ToastMessage(result.msg, "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (xhr, status) {
                            var err = "Error " + " " + status;
                            $('#ks_loader').hide();
                            ToastMessage(err, "error", true, 5000);
                        }
                    });
                    $('#ks_loader').hide();
                });


                $('#save-admn').click(function () {
                    $('#ks_loader').show();
                     
                    var classId = $('#ClassId').val();
                    if (classId != "") {
                        $('.next_class').hide();
                         
                        var AssignRollnoModel = new Array();
                        var AssignRollnoModelobj = new Object();

                        var count = 0;
                        var checked = [];
                        var aa = new Object();
                        for (var i in checkedIds) {
                            aa = new Object();
                            if (checkedIds[i]) {
                                aa.id = i;
                                checked.push(aa);
                            }
                        }
                        $('#div-Students-Grid tbody tr').each(function (e) {
                            //if (e == 1) {
                            //    $('#save-admn').attr('disabled', 'disabled');
                            //}
                            var row = $(this);
                            var status = "0";
                            if (row.find('.cls-chkbox').is(':checked') == true) {
                                count = count + 1;
                                status = "1";
                                AssignRollnoModelobj = new Object();
                                AssignRollnoModelobj.StudentId = row.find("td:nth-child(2)").text();
                                AssignRollnoModelobj.Class = $('#ClassId').val();
                                AssignRollnoModel.push(AssignRollnoModelobj);
                            }
                        });

                        if (checked.length == 0) {
                            alert("Please check at least one checkbox");
                            $('#ks_loader').hide();
                            return false;
                        }
                        else {
                            $('#AssignedArray').val(JSON.stringify(AssignRollnoModel));
                            $('#StandardId').removeAttr("disabled");
                            $('#StudentId').removeAttr("disabled");
                            //$('#ks_loader').hide();
                            return true;
                        }
                    }
                    else {
                        $('.next_class').show();
                        $('#ks_loader').hide();
                        return false;
                    }

                  //  $('#ks_loader').hide();
                  
                });

                $('#StandardId').change(function () {
                    var StandardId = $(this).val();
                   
                     $('#div-Students-Grid').show();
                    if (StandardId > 0) {
                         $('#ks_loader').show();
                        var grid = $("#div-Students-Grid").data("kendoGrid");
                        grid.dataSource.page(1);
                        $('#div-Students-Grid').show();
                        var sessionid = $('#CurSessionId').val();
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("SectionListAcctoSession", "Student"))',
                            //async: false,
                            data: { "Sessionid": sessionid, "StandardId": $(this).val() },
                            success: function (result) {
                                if (result.status == "success") {
                                    $('#ClassId').empty();
                                    for (var i = 0; i < result.AvailableClasses.length; i++) {
                                        var option = "<option value=''> --Select-- </option>";
                                        option = "<option value='" + result.AvailableClasses[i].Value + "'>" + result.AvailableClasses[i].Text + "</option>";
                                        $('#ClassId').append(option);
                                    }
                                    $('#ks_loader').hide();

                                }
                                else {
                                    ToastMessage(result.msg, "error", true, 5000);
                                }
                            },
                            error: function (xhr, status) {
                                var err = "Error " + " " + status;
                                $('#ks_loader').hide();
                                ToastMessage(err, "error", true, 5000);
                            }
                        });
                    }
                       //$('#search-students').click();
                });

            </script>
        }
    </div>
</div>
