﻿ @model ViewModel.ViewModel.Student.StudentModel

@{
    ViewBag.Title = "New Registration";
}
<style>
    .dropdown-menu > li > a:hover {
        color: #262626;
        text-decoration: none;
        background-color: #ccc;
    }
    #btnSettings {
        padding: 3px;
        padding-top: 0px;
        padding-bottom: 1px;
    }
</style>

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>New Registration <span style="font-size: 11px">( <i style="color: red;font-size: 8px;" class="fa fa-asterisk"></i> fields are required )</span></h1>
    </div>
    <div class="col-md-6 text-right">
        
        @if (Model.IsAuthToViewStudentList)
        {
            <a href="@Html.Raw(Url.Action("AdmittedList", "Student"))" style="float: right" class="btn btn-xs btn-default">back</a>
        }
        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)" style="display: block; width:28px;float: right;" id="DownloadExcel_timetable" class="dropdown-toggle btn btn-xs btn-default"><i class="fa fa-gear"></i></a>

        <div class="dropdown-menu custom-drop-down-child" id="dropdown-menu_ExcportExcel" style="margin:0px!important;padding: 11px 7px;margin-left:418px!important;min-width: 174px!important;" hidden>
           <div style="display:inline-flex;">
               @Html.CheckBox("SingleView", Model.IsStudentRegistrationForminSinglePage)
               <label style="font-size: 13px;margin-bottom: 9px;margin-left: 5px;">Change To Single View</label>
           </div>
            <div style="text-align: center;"><input class="btn btn-success" id="setSingleView" type="button" name="name" value="Set" /></div>
        </div>
      
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">   
        @*call partial view*@   
        @if (Model.IsStudentRegistrationForminSinglePage)
        {
              @Html.Partial("_CreateOrUpdateSingleView", Model)
        }
        else
        {
              @Html.Partial("_CreateOrUpdate", Model)
        }
      
    </div>
</div>
<!-- Page Controls -->
<script>

    $('#setSingleView').click(function () {
        var SingleView = false;
        if ($("#SingleView").prop('checked') == true) {
            SingleView = true;
        }
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("ChangeViewSelection", "Student"))',
            data: { "SingleView": SingleView },
            success: function (result) {

                if (result.status == "success") {
                  
                    window.location.reload();
                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }
               
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })

    $("#dropdown-menu_ExcportExcel,#DownloadExcel_timetable").mouseleave(
                function () {
                  
                        $('#dropdown-menu_ExcportExcel').hide();
                 
                });
    $("#dropdown-menu_ExcportExcel,#DownloadExcel_timetable").mouseenter(
       function () {
         
               $('#dropdown-menu_ExcportExcel').show();
           
       });
    //$('#DownloadExcel_timetable').hover(function () {
       
    //        $('#dropdown-menu_ExcportExcel').show();
        
    //});
</script>
