﻿@model ViewModel.ViewModel.Student.StudentModel

@{
    string tilte = "";
    string sliptitle="";
    if (Model.Formtype == 1)
    {
        tilte = "Registration";
        sliptitle = "Reg.";
    }
    else if(Model.Formtype==2)
    {
        tilte = "Admission";
        sliptitle = "Admission";
    }
    else if (Model.Formtype == 3)
    {
        tilte = "Existing";
        sliptitle = "Admission";
    }
    ViewBag.Title = tilte;
    ViewBag.SlipTitle = sliptitle;
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        if (TempData["SameDocTypeExistError"] != "" && TempData["SameDocTypeExistError"] != null)
        {
            <div class="col-md-12">
                <div class="error_notification"><i class="fa fa-ban"></i> @TempData["SameDocTypeExistError"]</div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
            </div>
        }
    }
    <div class="col-md-6">
        <h1>@tilte <span style="font-size: 11px">( <i style="color: red;font-size: 8px;" class="fa fa-asterisk"></i> fields are required )</span></h1>
    </div>


    <div class="col-md-6 text-right">
        @if (!string.IsNullOrEmpty(Model.EncStudentId))
        {
            <a class="btn btn-xs btn-default" href="@Html.Raw(Url.Action("Create", "Student"))">Add New</a>
        }
        @if (Model.Formtype == 1)
        { 
            <a target="_blank" href="@Html.Raw(Url.Action("PrintRegistrationSlip", "Student", 
            new { id=Model.EncStudentId}))" class="regnslip btn btn-xs btn-default" style="display: none">Print Regn Slip</a>
        }
   
        <a href="@Html.Raw(Url.Action("AdmittedList", "Student"))" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @*call partial view*@
        @Html.HiddenFor(M=>M.Formtypereg)
        @if (Model.IsStudentRegistrationForminSinglePage)
        {
            @Html.Partial("_CreateOrUpdateSingleView", Model)
        }
        else
        {
            @Html.Partial("_CreateOrUpdate", Model)
        }
    </div>
</div>
<!-- Page Controls -->

<script>
    $(document).ready(function () {
        @if (Model.AdmnNo == null|| Model.AdmnNo=="")
        {
            <text>
        $('#doj').hide()
        </text>
        }
    })
</script>
