﻿@model ViewModel.ViewModel.Student.StudentListModel

@{
    ViewBag.Title = "Manage Students";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
    var TypeId = Model.TypeId;
    DAL.DAL.Common.ConnectionService ConnectionService = new DAL.DAL.Common.ConnectionService();
    string DataSource = ConnectionService.Connectionstring(Convert.ToString(Session["SchoolDB"]));
    KSModel.Models.KS_ChildEntities db1 = new KSModel.Models.KS_ChildEntities(DataSource);

    if(db1.SchoolSettings.Where(m => m.AttributeName == "ShowPrintBlankAdmnFormInManageStudent").FirstOrDefault() == null)
    {
        KSModel.Models.SchoolSetting SchoolSettings = new KSModel.Models.SchoolSetting();
        SchoolSettings.AttributeName = "ShowPrintBlankAdmnFormInManageStudent";
        SchoolSettings.AttributeValue = "0";
        db1.SchoolSettings.Add(SchoolSettings);
        db1.SaveChanges();
    }
    var ShowPrintBlankAdmnFormInManageStudent = db1.SchoolSettings.Where(m => m.AttributeName == "ShowPrintBlankAdmnFormInManageStudent").FirstOrDefault().AttributeValue == "1" ? true : false;


    var result = "";
    var httpHost = Request.ServerVariables["HTTP_HOST"];
    if (!String.IsNullOrEmpty(httpHost))
    {

        result = "https://" + httpHost;

        if (!result.EndsWith("/"))
        {
            result += "/";
        }
    }

    if (!result.EndsWith("/")) {
        result += "/";

    }
    result=result.ToLowerInvariant();
    if (result.EndsWith("/")) {
        result = result.Substring(0, result.Length - 1);
    }
    
        result = result + Request.ApplicationPath;
    
    if (!result.EndsWith("/")) {
        result += "/";
    }


    var studentformUrl = result + "/module/index.php/common/blank_admn_form";
}
<style>
    #add_BoradingNos {
        width: 25px;
        height: 34px;
        border: 1px solid #ccc;
        border-left: 0;
        float: right;
        text-align: center;
        line-height: 32px;
        color: #009933;
        background: #fff;
    }

    ul.multiselect-container.dropdown-menu {
        overflow: auto;
        max-height: 300px;
    }

    button.after.btn.btn-default.dropdown-toggle.multiselect::after {
        content: ".....";
    }

    .multiselect.dropdown-toggle.btn.btn-default {
        max-width: 135px;
        min-width: 119px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (ViewBag.query != "")
    {
        <div class="col-md-6">
            <h1>Students Results For query @ViewBag.query</h1>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <h1>Manage Students</h1>
        </div>
    }
    @*@if (Model.IsAuthToExport)
    {*@
<div class="col-md-6 text-right">
    <a href="javascript:void(0)" id="std_filters" class="btn  btn-default btn-xs">Filters</a>
    <a href="javascript:void(0)" id="btnexportexcel" class="btn btn-xs btn-default" data-toggle="modal" data-target="#myModal">Export to excel</a>
    <a href="javascript:void(0)" id="genfilteroption" class="btn  btn-default btn-xs">Address Report</a>
    @if (ShowPrintBlankAdmnFormInManageStudent)
    {
    <a href="@studentformUrl" id="" target="_blank" class="btn  btn-default btn-xs">Blank Form</a>
    }
</div>
    @*}*@
</div>
<!-- //Page Heading -->
<!--change status and view status history-->
@Html.Hidden("columnsname")
@Html.HiddenFor(x => x.IsAdmissionNoAfterFeePaid)
@Html.HiddenFor(x => x.CurrentSession)
@Html.HiddenFor(x => x.IsEnableBordingNo)
@Html.HiddenFor(x => x.IsAuthToGridAssignBoradingNo)
@Html.HiddenFor(x => x.IsAuthToEdit)
@Html.HiddenFor(x => x.IsAuthToPrint)
@Html.HiddenFor(x => x.IsAuthToView)
@Html.HiddenFor(x => x.IsAuthToSet)

@Helper.ManageUser()

<!-- /boarding activity*-->
@Helper.BasicModelPopUp("BoradingNoActivity_Popup", "", "MBody_BoradingNoActivity", "Close_BoradingNoActivity",
                                "", "footer_BoradingNoActivity", "Save", "FooterSave_BoradingNoActivity")

<!-- boarding no-->
@Helper.BasicModelPopUp("BoradingNo_Popup", "Close_BoradingNo", "MBody_BoradingNo", "",
                                  "", "footer_BoradingNoActivity", "Save", "FooterSave_BoradingNo")
<form class="form-inline ks-custom-form ">
    <div class="modal-popup" id="Statushistory-div" hidden>
        <div class="modal-popup-body" style="width:300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="close_statushistory" name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Change Status</h4>
                </div>
                <div class="modal-body">
                    <!-- Form Row -->
                    <div class="">
                        <!-- Form Coulmn -->

                        <div class="form-group">
                            <label class="control-label">Status</label><!-- Form Label -->
                        </div>
                        <div class="form-group">
                            @Html.DropDownList("nextStatus", Enumerable.Empty<SelectListItem>(), "---Select---", new { @class = "form-control" })
                        </div>

                        <div style="display:flex;">
                            <div class="form-group">
                                <label class="control-label">Date</label><!-- Form Label -->
                            </div>

                            <div class="form-group" style="width: 127px;margin-right: 12px;margin-left: 12px;">
                                <input class="form-control" id="statusDate" name="statusDate" type="text" value="">
                            </div>

                            <div class="form-group">
                                <button id="save-NextStatus" data-ref="Save" type="button" name="saveStatus" class="btn btn-success">
                                    <i class="fa fa-floppy-o"></i>
                                    Save
                                </button>
                            </div>
                        </div>

                        <!-- //Form Coulmn -->
                    </div>

                    @*Grid*@
                    <div class="row">
                        <div class="col-md-12">
                            <table id="StatusHistory-detail-grid" class="table table-bordered table-condensed table-striped table-responsive ">
                                <thead class="thead-default">
                                    <tr>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-popup" id="ChangeSection-div" hidden>
        <div class="modal-popup-body" style="width:500px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="close_Changesection" name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Change Section of &nbsp; <label id="lbStudentName" style=" font-weight: bold; font-size: 16px;"></label>
                        <br />
                        Current Section :  &nbsp; <label id="lbSection" style=" font-weight: bold; font-size: 16px;"></label>
                    </h4>
                    <input type="hidden" id="hdnStudentId" />
                    <input type="hidden" id="hdnClassId" />
                    <input type="hidden" id="hdnSessionid" />
                    <input type="hidden" id="hdnStuClassId" />
                </div>
                <div class="modal-body">
                    <!-- Form Row -->
                    <div class="">
                        <!-- Form Coulmn -->

                        <div class="form-group">
                            <label class="control-label">New Section</label><!-- Form Label -->
                        </div>
                        <div class="form-group">&nbsp;</div>
                        <div class="form-group">
                            @Html.DropDownList("drpnewSection", Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "drpnewSection", @class = "form-control" })
                        </div><div class="form-group">&nbsp;</div>
                        <div class="form-group">
                            <button id="save-changesection" type="button" name="SaveSection" class="btn btn-success">
                                <i class="fa fa-floppy-o"></i>
                                Submit
                            </button>
                        </div>

                        <!-- //Form Coulmn -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-popup" id="ChangeClass-div" hidden>
        <div class="modal-popup-body" style="width:500px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="close_Changeclass" name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Change Class of &nbsp; <label id="lbcStudentName" style=" font-weight: bold; font-size: 16px;"></label>
                        <br />
                        Current Class :  &nbsp; <label id="lbcClass" style=" font-weight: bold; font-size: 16px;"></label>
                    </h4>
                    <input type="hidden" id="hdncStudentId" />
                    <input type="hidden" id="hdncClassId" />
                    <input type="hidden" id="hdncSessionid" />
                    <input type="hidden" id="hdncStuClassId" />
                </div>
                <div class="modal-body">
                    <!-- Form Row -->
                    <div class="">
                        <!-- Form Coulmn -->

                        <div class="form-group">
                            <label class="control-label">New Class</label><!-- Form Label -->
                        </div>
                        <div class="form-group">&nbsp;</div>
                        <div class="form-group">
                            @Html.DropDownList("drpnewClass", Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "drpnewClass", @class = "form-control" })
                        </div><div class="form-group">&nbsp;</div>
                        <div class="form-group">
                            <button id="save-changeclass" type="button" name="Saveclass" class="btn btn-success">
                                <i class="fa fa-floppy-o"></i>
                                Submit
                            </button>
                        </div>

                        <!-- //Form Coulmn -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
<!--change status-->
@Html.Hidden("Hostler")
@Html.HiddenFor(m => m.StaffChild)
<!-- Page Filters -->
<div class="row top-space-10">
    <div class="col-md-12">
        <form class="form-inline ks-custom-form stu_lst_filters" style="display:none">
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m=>m.AdmnNo,Model.AdmnNo)
                @*<label>Admission No.</label>*@
                @Html.TextBoxFor(model => model.AdmnNo, new { @class = "form-control", @autofocus = "on" })
            </div>

            <div class="form-group">
                <label>Student Name</label>
                @Html.TextBoxFor(model => model.StudentName, new { @class = "form-control", @autofocus = "on" })
            </div>

            <div class="form-group">
                <label>Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Category</label>
                @Html.DropDownListFor(model => model.CategoryId, Model.AvailableCategory, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Class</label>
                @Html.ListBoxFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <label>Status</label>
                @Html.DropDownListFor(model => model.StatusId, Model.AvailableStatus, new { @class = "form-control" })
            </div>
            @*@if (Model.ShowHostlerFilter == true)
                {*@
            <div class="form-group" style="margin-left:40px;">
                <label>House</label>
                @Html.DropDownListFor(model => model.HouseId, Model.HouseList, new { @class = "form-control" })
            </div>
            <div class="form-group" style="margin-left:10px;">
                <label>Student Type</label>
                @Html.DropDownList("hostlerstatusList", Model.HostlerStatusList, new { @class = "form-control" })
            </div>

            <div class="form-group" style="margin-left:10px;">
                <label>Admission</label>
                @Html.DropDownList("AdmsnId", Model.AdmissionList, new { @class = "form-control" })
            </div>
            @*}*@
            &nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search-student" class="btn btn-default">Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
    </div>
</div>

<div class="row top-space-10" id="reportfileter_div" hidden>
    @using (Html.BeginForm("GenerateAddressReport", "StudentReports", FormMethod.Post, new { @class = "form-horizontal ks-custom-form", @target = "_blank" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => p.classfilter)
        @Html.HiddenFor(p => p.statusfilter)
        @Html.HiddenFor(p => p.hostlercheck)
        @Html.HiddenFor(p => p.SessionId, new { @Id = "GenRepo_Sessionid" })
         @Html.HiddenFor(p => p.AdmissionId)
        <div class="col-md-2">
            <label>Address</label>
            @Html.DropDownListFor(model => model.ReqAddId, Model.ReqAddList, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label>Address Type</label>
            @Html.DropDownListFor(model => model.AddressTypeId, Model.AddressTypeList, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label>Remove StudentName</label>
            @Html.CheckBoxFor(model => model.AddressWithOutStudent, new { @style = "margin-left: 50px;" })
        </div>
        <div class="col-md-2" id="pickguacheck">
            <label>Pick GuardianAddress</label>
            @Html.CheckBoxFor(model => model.IsPickGuardinaAddress, new { @style = "margin-left: 50px;" })
        </div>
        <div class="col-md-2" id="pickstucheck" hidden>
            <label>Pick StudentAddress</label>
            @Html.CheckBoxFor(model => model.IsPickStudentAddress, new { @style = "margin-left: 50px;" })
        </div>
        <div class="col-md-2 top-space-20">
            <button type="submit" id="genreport" class="btn btn-default btn-xs">Print Report</button>
        </div>
    }
</div>

<div class="modal-popup" id="ChangeAdmissionNo_div" hidden>
    <div class="modal-popup-body" style="width: 342px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Change Admission No</h4>

            </div>

            <div class=" modal-body">
                <label>Admn No</label>
                @Html.Hidden("Editable_StudentId")
                <input maxlength="20" id="Editable_admissionNo" />
                <input type="button" name="name" value="Update" id="Update_AdmissionNo" />
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- // Page Filters -->
<!-- Page Grid -->
<div class="row top-space-10">
    <div class="col-md-12">
        <div id="student-grid"></div>
        <script>

            $(document).ready(function () {
                $("#student-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("SelectList", "Student"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    autoBind: false,
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [{
                        field: "RegNo",
                        title: "Reg.No.",
                        hidden: true
                    },{
                        field: "AdmnNo",
                        title: "Admn.No.",
                        sortable: true,
                        template:'<a class="Change_Admission_No" data-id="#=EncStudentId#" title="Change AdmnNo" style="cursor:pointer">#=AdmnNo#</a>'
                    }
                    //,{
                    //    field: "StdDate",
                    //    title: "Admn. Date",
                    //    template: "#= kendo.toString(kendo.parseDate(StdDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                    //    sortable: true
                    //}

                    ,{
                        field: "Date",
                        title: "Admn. Date",
                        sortable: false,
                        hidden: true
                    },{
                        field: "StudentName",
                        title: "Student Name",
                        sortable: true,
                        width: "13%",
                        attributes: { style: "color: #=StudentStatusColor#"}
                    },{
                        field: "FatherName",
                        title: "Guardian Name",
                        width: "13%"
                    },{
                        field: "GuardianMobileno",
                        title: "Contact No",
                    },{
                        field: "Standard",
                        title: "Standard",
                        hidden:true,
                    },{
                        field: "Class",
                        title: "Class",
                        width: "10%",
                        sortable: true
                    },{
                        field: "RollNo",
                        title: "RollNo",
                        template:'#if(RollNo != 0){##=RollNo##}#',
                        width: "5%",
                        sortable: true
                    },{
                        field: "House",
                        title: "House",
                        width: "5%",
                        sortable: true
                    },{
                        field: "StudentBoradingNo",
                        title: "BoradingNo",
                        sortable: true,
                        attributes: { "class": "Student_BoradingNo"},
                        @*@if(!Model.IsEnableBordingNo)
                        {}*@

                        hidden:true,
                        
                    },
                    @if(Model.IsAuthToSet){<text>
                    {
                        field: "Status",
                        //title: "Status",
                        template:'#if(!IsPreviousSession){#<a class="Change_Status" data-id="#=EncStudentId#" title="Change Status" data-toggle="tooltip" style="cursor:pointer;" data-placement="top">#=Status#</a>#}else if(!IsExistInNextSession){#<a class="Change_Status" data-id="#=EncStudentId#" title="Change Status" data-toggle="tooltip" style="cursor:pointer;" data-placement="top">#=Status#</a>#}else{##=Status##}#',
                        sortable: true
                    },</text>}{
                        field: "Session",
                        title: "Session",
                        sortable: true,
                        hidden:true,
                    },{
                        field: "DateofBirth",
                        title: "DateofBirth",
                        sortable: true,
                        hidden:true,
                    },{
                        field: "AadhaarNo",
                        title: "AadhaarNo",
                        sortable: true,
                        hidden:true,
                    },{
                        field: "MobileNo",
                        title: "MobileNo",
                        sortable: true,
                        hidden:true,
                    },{
                        field: "SchoolName",
                        title: "SchoolName",
                        sortable: true,
                        hidden:true,
                    },{
                        field: "SchoolImagePath",
                        title: "SchoolImagePath",
                        sortable: true,
                        hidden:true,
                    },{
                        field: "Section",
                        title: "Section",
                        sortable: true,
                        hidden:true,
                    },{
                        field: "LName",
                        title: "LName",
                        sortable: true,
                        hidden:true,
                    },{
                        field: "FName",
                        title: "FName",
                        sortable: true,
                        hidden:true,
                    },{
                        field: "StudentImagepath",
                        title: "StudentImagepath",
                        sortable: true,
                        hidden:true,
                    },
            {
                field: "EncStudentId",
                title: "EncStudentId",
                sortable: true,
                hidden:true,
            },
            {
                field: "ClassId",
                title: "ClassId",
                sortable: true,
                hidden:true,
            },{
                field: "StudentClassId",
                title: "StudentClassId",
                sortable: true,
                hidden:true,
            },{
                field: "SessionId",
                hidden:true,
            },
            @if(Model.IsAuthToEdit){<text>
            {
                field: "EncStudentId",
                title: "Action",
                template:
                    @if(Model.IsAuthToEdit){<text>
                            '#if(status && !IsPreviousSession){#<a  class="btn btn-xs btn-default Editstus" title="edit Student" data-toggle="tooltip" data-placement="top" href="StudentProfileEdit?Id=#=EncStudentId#&CurrSelectedSessionId=#=SessionId#" data-id="#=SessionId#"><i class="fa fa-pencil"></i></a>#}#'
                             </text>}
                                    @if(Model.IsAuthToView)
                                    {<text>
                                    +
                            '<a class="btn btn-xs btn-default view_stu_col" title="View Student" data-toggle="tooltip" data-placement="top" href="StudentProfile?Id=#=EncStudentId#&CurrSelectedSessionId=#=SessionId#"><i class="fa fa-eye"></i></a>' </text>}

                            // +
                            //'#{#<a class="btn btn-xs btn-default Manage_User" data-id="#=EncStudentId#" title="Manage User Ids" data-toggle="tooltip" data-placement="top"><i class="fa fa-user"></i></a>#}#'

                     @if (Model.IsAuthToPrint)
                                {<text>
                             + '<a class=" btn btn-xs btn-default printExaminationSlip" id="printExaminationSlip" ref="inbox"  title="Print Examination Slip" data-toggle="tooltip" data-placement="top" style=" cursor:pointer"><i class="fa fa-print"></i></a>'
                         </text>}

                        + '#if(status && !IsPreviousSession){#<a class=" btn btn-xs btn-default changesection" id="changeSection" ref="inbox"  title="Change Section" data-toggle="tooltip" data-placement="top" style=" cursor:pointer"><img src="~/Content/assets/img/changesection.png" /></a>#}#'

                    @if (Model.IsAuthToGridAssignBoradingNo)
                                {<text>
                               + '#if(IsHostler && status){#<a class=" btn btn-xs btn-default AddHostlerBoardingNumber" title="Manage Boarding No." data-toggle="tooltip" data-placement="top" style=" cursor:pointer" data-id="#=EncStudentId#"><i class="fa fa-plus"></i></a>#}#'
                </text>}
                        + '#if(status && !IsPreviousSession && IsNewStudent){#<a class=" btn btn-xs btn-default changeclass" id="changeclass" ref="inbox"  title="Change Class" data-toggle="tooltip" data-placement="top" style=" cursor:pointer"><i class="fa fa-exchange"></i></a>#}#'

            }</text>}]
                });
            });

            $("#columnsname").val('@TempData["columnname"]');
           
        </script>
    </div>
</div>
<!-- //Page Grid -->

<script type="text/javascript">
    $.ajax({
        type: "POST",
        async: true,
        url: '@Html.Raw(Url.Action("LoadList", "Student"))',
        data: {},
        success: function (result) {
            if (result.status == "success") {
                $('#ks_loader').show();
                 
                 
                $('#Hostler').val('');
                var grid = $('#student-grid').data('kendoGrid');
                grid.dataSource.read({  StatusId: result.StatusId, SessionId: result.SessionId})
                //grid.dataSource.page(1);
                $("#SessionId").val(result.SessionId);

                $('#ks_loader').hide();
            }
        },
        error: function (xhr, status, data) {
            var err = "Error " + " " + data;
            if (xhr.status != 0) {
                ToastMessage(err, "error", true, 5000);
            }
            $('#ks_loader').hide();
        }
    });
    $('#std_filters').click(function () {
    
        $('.stu_lst_filters').toggle();

    })

    ///get Column names
    $.ajax({
        type: "GET",
        async: true,
        url: '@Html.Raw(Url.Action("GetColumnNames", "Student"))',
        data: {},
        success: function (result) {
            $("#columnsname").val(result.data);
        },
        error: function (xhr, status, data) {
            var err = "Error " + " " + data;
            if (xhr.status != 0) {
                ToastMessage(err, "error", true, 5000);
            }
            $('#ks_loader').hide();
        }
    });

    $(document).on("click","#Update_AdmissionNo",function(){
        $('#ks_loader').show();
        var row= $(this).parent().parent();
        var studentId=$('#Editable_StudentId').val();
        var admissionNo=$('#Editable_admissionNo').val();
        if(admissionNo!="" && admissionNo!=null){
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("UpdateStudentAdmissionNo", "Student"))',
                data: {"studentId":studentId,"Admnno":admissionNo},
                success: function (result) {

                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);
                        var grid = $('#student-grid').data('kendoGrid');
                        grid.dataSource.page(1);
                        //clearfields();
                        $('#ks_loader').hide();
                    }
                    else {
                        $('#ks_loader').hide();
                        if (result.msg == "NotValid") {
                            ToastMessage(result.data, "error", true, 5000);

                        }

                        
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });}
        else{
            $('#ks_loader').hide();
            ToastMessage("Please Enter Admission No", "error", true, 5000);
        }

    })

    var EncStudentId = "";
    var StudentName = "", Class = "", RollNo="",AdmnNo = "";
    $(document).on("click",".AddHostlerBoardingNumber",function(){

        $('#ks_loader').show();
        $("#BoradingNoActivity_Popup").show();

        EncStudentId = $(this).attr("data-id");
        AdmnNo= $(this).parent().parent().find('td:nth-child(2)').text();
        StudentName= $(this).parent().parent().find('td:nth-child(4)').text();
        Class= $(this).parent().parent().find('td:nth-child(8)').text();
        RollNo= $(this).parent().parent().find('td:nth-child(9)').text();

        $("#MBody_BoradingNoActivity").html("");

        $("#BoradingNoActivity_Popup").find("#headertext").html("");
        $("#BoradingNoActivity_Popup").find("#headertext").append("Add Boarding number for : " + "<b>" + StudentName +"</b>");

        var ControlHtml = "<input type='hidden' class='form-control' id='hdnStudentBoardingNoId' />" ;
        ControlHtml += "<div class='col-md-3'>";
        ControlHtml += " <label>Boarding No.<i class='fa fa-asterisk ks-required'></i></label>";
        ControlHtml += " <select class='form-control' id='drpBoardingNos' style='width:135px;'>";
        ControlHtml += " </select>";
        ControlHtml += " <a style='margin: -34px -41px 0px 0px;' href='javascript:void'";
        ControlHtml += " class='btn-combo-plus-ks' title='Add Boading Number' data-toggle='tooltip'";
        ControlHtml += " data-placement='top' id='add_BoradingNos'>";
        ControlHtml += " <i class='fa fa-plus'></i>";
        ControlHtml += " </a>";
        ControlHtml += "</div>";

        ControlHtml += "<div class='col-md-4' style='margin-left: 43px;'>";
        ControlHtml += "<label>Activity Date</label>";
        ControlHtml += "<input type='text' class='form-control' id='dateActivityDateTime' style='width: 180px;' />";
        ControlHtml += "</div>";


        //ControlHtml += "<div class='col-md-3' hidden>";
        //ControlHtml += "<div class='form-group'>";
        //ControlHtml += " <label class='control-label'>IsAssign</label>";
        //ControlHtml += " <div class=''>";
        //ControlHtml += " <input  data-val='true' id='chkBoardingActivity' type='checkbox' value='true' name='chkBoardingActivity' />";
        //ControlHtml += " <input name='chkBoardingActivity' type='hidden' value='false'>";
        //ControlHtml += " </div>";
        //ControlHtml += "</div>";
        //ControlHtml += "</div>";

        ControlHtml += "<div class='col-md-3'>";
        ControlHtml += "<label>Status</label>";
        ControlHtml += "<select id='drpBoradingActivities' class='form-control'>";
        ControlHtml += "</select>";
        ControlHtml += "</div>";

        ControlHtml += "<div class='col-md-12 top-space-10' id='tblStudentBoardingHistory'>";
        ControlHtml += "</div>";

        $("#MBody_BoradingNoActivity").append(ControlHtml);

        //$("#chkBoardingActivity").prop("checked",true);
        $("#dateActivityDateTime").kendoDateTimePicker({
            value: new Date,
            format: "dd/MM/yyyy hh:mm"
        });
        $("#dateActivityDateTime").attr('readonly', true);

        createDropdowns();
    });



    function createDropdowns(){
        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetStudentBoardingNoControls", "Student"))',
            data: {"EncStudentId": EncStudentId,"SessionId":$("#SessionId").val()},
            success: function (result) {
                $("#drpBoradingActivities").empty();
                $("#drpBoardingNos").empty();
                var BoardingNos = "";
                var BoradingActivies = "";
                if(result.listBordingActivities.length > 0)
                {
                    $.each(result.listBordingActivities,function(i){
                        if(result.SelectedStatus_Id != "")
                        {
                            if(result.listBordingActivities[i].Value == result.SelectedStatus_Id)
                                BoradingActivies +="<option value='"+result.listBordingActivities[i].Value +"' selected>"
                                                        + result.listBordingActivities[i].Text +"</option>";
                        }
                        else
                            BoradingActivies +="<option value='"+result.listBordingActivities[i].Value +"' selected>"
                                                        + result.listBordingActivities[i].Text +"</option>";
                    });
                    $("#drpBoradingActivities").append(BoradingActivies);
                }
                if(result.status=="assigned"){
                    $("#dateActivityDateTime").attr('readonly', false);
                    if(result.SessionEndDate!="")
                        $("#dateActivityDateTime").kendoDateTimePicker({
                            value: new Date(result.SessionEndDate),
                            format: "dd/MM/yyyy hh:mm"
                        });
                    $("#dateActivityDateTime").attr('readonly', true);
                }

                $("#drpBoardingNos").append("<option value=''>--Select--</option>");
                if (result.listBordingNos.length > 0) {
                    $.each(result.listBordingNos,function(i){
                        if(result.getSavedStuAssignedNoInfo[0].BoardingNoId != "" 
                            && $("#drpBoradingActivities option:selected").text() != "Assign")
                        {
                            if(result.listBordingNos[i].Value == result.getSavedStuAssignedNoInfo[0].BoardingNoId)
                            {
                                BoardingNos += "<option value='"+ result.listBordingNos[i].Value +"' selected>"
                                                               + result.listBordingNos[i].Text +"</option>";
                            }
                        }
                        else
                        {
                            BoardingNos += "<option value='"+ result.listBordingNos[i].Value +"' >"
                                                               + result.listBordingNos[i].Text +"</option>";
                        }
                    });
                    $("#drpBoardingNos").append(BoardingNos);
                }

                

                if(result.getSavedStuAssignedNoInfo.length > 0)
                {
                    $("#drpBoradingActivities").val(result.getSavedStuAssignedNoInfo[0].BoardingActivityId);
                    $("#drpBoardingNos").val(result.getSavedStuAssignedNoInfo[0].BoardingNoId);
                    $("#hdnStudentBoardingNoId").val(result.getSavedStuAssignedNoInfo[0].StudentBoardingNoId);
                   // $("#dateActivityDateTime").val(result.getSavedStuAssignedNoInfo[0].ActivityDateTime);

                    $("#BoradingNoActivity_Popup").find("#headertext").html("");
                    $("#BoradingNoActivity_Popup").find("#headertext").append("Update Boarding number for : "
                                                                                + "<b>" + StudentName +"</b>");
                }

                var tblhtml ="";
                $('#tblStudentBoardingHistory').html("");
                if(result.StudentBordingHistoryList.length > 0)
                {
                    tblhtml += "<table class='table' id='gridstudent_BoradNoHistory'>";
                    tblhtml += "<thead class='k-header'>";
                    tblhtml += "<tr>";
                    tblhtml += "<th>Boarding No</th>";
                    tblhtml += "<th>Activity Date</th>";
                    tblhtml += "<th>Status</th>";
                    tblhtml += "</tr>";
                    tblhtml += "</thead>";
                    tblhtml += "<tbody> ";

                    $.each(result.StudentBordingHistoryList,function(i){
                        tblhtml += "<tr> ";
                        tblhtml += "<td>"+result.StudentBordingHistoryList[i].BoardingNo +"</td> ";

                        //var StuFullname = result.StudentBordingHistoryList[i].StudentName;
                        //if(AdmnNo != "" || Class != "" || RollNo != "")
                        //{
                        //    StuFullname += "( ";
                        //    if(AdmnNo != "")
                        //        StuFullname += "AdmnNo.- "+ AdmnNo;

                        //    if(RollNo != "")
                        //        StuFullname += " RollNo.- "+ RollNo;

                        //    if(Class != "")
                        //        StuFullname += " Class - "+ Class;

                        //    StuFullname += " )";
                        //}

                        tblhtml +="<td>"+ result.StudentBordingHistoryList[i].ActivityDateTime +"</td>";
                        tblhtml +="<td>"+ result.StudentBordingHistoryList[i].BoardingActivityStatus +"</td>";

                        tblhtml += "</tr> ";
                    });
                    tblhtml += "</tbody></table>";
                    $('#tblStudentBoardingHistory').append(tblhtml);
                }


                $('#ks_loader').hide();
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

    $(document).on("click","#add_BoradingNos",function(){
        $("#BoradingNoActivity_Popup").hide();
        $("#BoradingNo_Popup").show();
        $("#BoradingNo_Popup").find("#headertext").html("");
        $("#BoradingNo_Popup").find("#headertext").append("Add Boarding Number");

        $("#MBody_BoradingNo").html("");
        $("#MBody_BoradingNo").append("<input type='hidden' id='hdnBoardingNoId' value=''/>");
        $("#MBody_BoradingNo").append("<div class='col-md-3'><label>Boarding No.<i class='fa fa-asterisk ks-required'></i></label>");
        $("#MBody_BoradingNo").append("<input type='text' id='txtBoardingNo' maxlength='20' value='' /><div>");

        $("#txtBoardingNo").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });



    $(document).on("click","#Close_BoradingNo",function(){
        $("#BoradingNoActivity_Popup").show();
        $("#BoradingNo_Popup").hide();
    });

    //var Session ="";
    $(document).on("click",".Editstus",function(){
        //$(document).ready(function(){
        $("#SiblingSessionId").val($("#SessionId").val());

    });


    $(document).on("click","#FooterSave_BoradingNo",function(){
        $('#ks_loader').show();
        if($.trim($("#txtBoardingNo").val()) != "")
        {
            var modelBoardingNo = new Object();
            modelBoardingNo.BoardingNoId = $("#hdnBoardingNoId").val();
            modelBoardingNo.BoardingNo = $("#txtBoardingNo").val();
            modelBoardingNo.IsActive = true;
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("InsertBoardingNo", "Student"))',
                data: modelBoardingNo,
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.message, "success", true, 5000);
                        $("#BoradingNoActivity_Popup").show();
                        $("#BoradingNo_Popup").hide();

                        createDropdowns();
                        ClearBoardNoPopUpFields();
                    }
                    if (result.status == "failed") {
                        ToastMessage(result.message, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else
            ToastMessage("Please enter Boarding Number", "error", true, 5000);

    });



    $(document).on("click","#FooterSave_BoradingNoActivity",function(){
        if($("#drpBoardingNos").val() == ""&&$("#drpBoardingNos").val() == null)
        {
            ToastMessage("Please select Boarding No.", "error", true, 5000);
        return false;
         }
   
        if($("#drpBoradingActivities").val() == "" && $("#drpBoradingActivities").val() == null)
        {
            ToastMessage("Please select Status", "error", true, 5000);
        return false;
    }

        if($("#drpBoardingNos").val() != "")
        {
            var modelStuBoardingNo = new Object();
            modelStuBoardingNo.StudentBoardingNoId = $("#hdnStudentBoardingNoId").val();
            modelStuBoardingNo.StudentId = EncStudentId;
            modelStuBoardingNo.BoardingNoId =  $("#drpBoardingNos").val();
            modelStuBoardingNo.BoardingActivityId = $("#drpBoradingActivities").val();
            modelStuBoardingNo.ActivityDateTime = $("#dateActivityDateTime").val();

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("InsertStudentBoardingNo", "Student"))',
                data: modelStuBoardingNo,
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.message, "success", true, 5000);
                        $("#BoradingNoActivity_Popup").hide();
                        ClearStuBoardNoPopUpFields();
                        $("#student-grid").data("kendoGrid").dataSource.page(1);
                    }
                    if (result.status == "failed") {
                        ToastMessage(result.message, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        }
        else
            ToastMessage("Please select Boarding No.", "error", true, 5000);

    });

    function ClearStuBoardNoPopUpFields()
    {
        $("#drpBoardingNos").val("");
        $("#hdnStudentBoardingNoId").val("");
        $("#drpBoradingActivities").val("");
    }

    function ClearBoardNoPopUpFields()
    {
        $("#txtBoardingNo").val("");
        $("#hdnBoardingNoId").val("");
    }


    $(document).on('click','#close_div',function () {
        $('#ChangeAdmissionNo_div').hide();
        $('#Editable_StudentId').val('');
        $('#Editable_admissionNo').val('');
    });



    $("#student-grid").on('click','.Change_Admission_No',function () {
     
        var admissionNo= $(this).text();
        var EncstudentId =$(this).attr('data-id');
        if(EncstudentId!=""&&EncstudentId!=null){
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("GetStudentFeeRecieptDetail", "Student"))',
                data: {"EncStudentId": EncstudentId,"SessionId":$("#SessionId").val()},
                success: function (result){
                    if(result.status=="error"){
                        $('#ks_loader').hide();
                        ToastMessage(result.msg, "error", true, 5000); 
                        return false;
                    }
                    else if(result.status=="success"){
                        $('#ks_loader').hide();
                        $('#ChangeAdmissionNo_div').show();
                        $('#Editable_admissionNo').val(admissionNo);
                        $('#Editable_StudentId').val(EncstudentId);
                    }
                    else if(result.status=="RecieptGenerated"){
                        if($("#IsAdmissionNoAfterFeePaid").val() == "true")
                        {
                            $('#ks_loader').hide();
                            if(confirm("FeeReceipt of this student has been generated.\nDo you still want to change Admsn No. ?")){
                                $('#ChangeAdmissionNo_div').show();
                                $('#Editable_admissionNo').val(admissionNo);
                                $('#Editable_StudentId').val(EncstudentId);
                            }
                        }
                        else {
                            $('#ks_loader').hide();
                            ToastMessage("Admission No. cannot be changed as Fee receipt has been generated", "error", true, 5000); 
                            return false;
                        }
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        //if($("#IsAdmissionNoAfterFeePaid").val() == "True")
        //{
        //    $('#ChangeAdmissionNo_div').show();
        //    $('#Editable_admissionNo').val(admissionNo);
        //    $('#Editable_StudentId').val($(this).attr('data-id'));
        //}
        //else
        //{
        //    ToastMessage("Admission No. cannot be changed as Fee receipt has been generated", "error", true, 5000);
        //}
    })
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    var IsStaffChild = null;
    $(document).ready(function () {
        $("#hostlerstatusList").trigger('change');
        if('@ViewBag.query'!=""){
            $("#search-student").trigger('click');
        }

        $("#ReqAddId").change(function()
        {
            $("#IsPickStudentAddress").attr('checked',false);
            $("#IsPickGuardinaAddress").attr('checked',false);
            $("#AddressWithOutStudent").attr('checked',false);
            if($("#ReqAddId option:selected").text()=="student" || $("#ReqAddId option:selected").text()=="Student")
            {
                $("#pickguacheck").show();
                $("#pickstucheck").hide();
            }
            else
            {
                $("#pickguacheck").hide();
                $("#pickstucheck").show();
            }
        });
        $('#close_Changesection').click(function(){
            $('#ChangeSection-div').hide();
            $('#lbStudentName').text('');
            $('#lbSection').text('');
            $('#hdnStudentId').val('');
            $('#hdnClassId').val('');
            $('#hdnStuClassId').val('');
            $('#hdnSessionid').val('');
            $('#drpnewSection').empty();
        });
            $('#close_Changeclass').click(function(){
            $('#ChangeClass-div').hide();
            $('#lbcStudentName').text('');
            $('#lbcClass').text('');
            $('#hdncStudentId').val('');
            $('#hdncClassId').val('');
            $('#hdncStuClassId').val('');
            $('#hdncClassid').val('');
            $('#drpnewClass').empty();
        });

        $('#save-changesection').click(function(){
            var StudentClassId=$('#hdnStuClassId').val();
            var newClassId=$('#drpnewSection').val();
            $.ajax({
                type: "POST",
                async:false,
                url: '@Html.Raw(Url.Action("ChangeSection", "Student"))',
                data: {'StudentClassId':StudentClassId,'NewClassId':newClassId},
                success: function (result) {
                    if (result.status == "success") {
                        $('#ChangeSection-div').hide();
                        ToastMessage("Section Changed Successfully", "success", true, 5000);
                        // var grid = $('#student-grid').data('kendoGrid');
                        $("#student-grid").data('kendoGrid').dataSource.read();
                        $('#ChangeSection-div').hide();
                        $('#lbStudentName').text('');
                        $('#lbSection').text('');
                        $('#hdnStudentId').val('');
                        $('#hdnClassId').val('');
                        $('#hdnStuClassId').val('');
                        $('#hdnSessionid').val('');
                        $('#drpnewSection').empty(); }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage("Invaild data", "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });

        $('#save-changeclass').click(function () {
            var StudentClassId = $('#hdncStuClassId').val();
            var newClassId = $('#drpnewClass').val();
            if (confirm('Virtual Class Student and Student Class Subjects will be deleted. Are you sure to continue?')) {
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("ChangeClass", "Student"))',
                data: { 'StudentClassId': StudentClassId, 'NewClassId': newClassId },
                success: function (result) {
                    if (result.status == "success") {
                        $('#ChangeClass-div').hide();
                        ToastMessage("Class Changed Successfully", "success", true, 5000);
                        // var grid = $('#student-grid').data('kendoGrid');
                        $("#student-grid").data('kendoGrid').dataSource.read();
                        $('#ChangeClass-div').hide();
                        $('#lbcStudentName').text('');
                        $('#lbcClass').text('');
                        $('#hdncStudentId').val('');
                        $('#hdncClassId').val('');
                        $('#hdncStuClassId').val('');
                        $('#hdncSessionid').val('');
                        $('#drpnewClass').empty();
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage("Invaild data", "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        });

        $("#student-grid").on("click", ".Manage_User", function (e) {
            $('#ks_loader').show();
            e.preventDefault();
            //var StudentName = $(this).parent().parent().find('td:nth-child(5)').text();
            //var Class=$(this).parent().parent().find('td:nth-child(8)').text();
            var Studentid=$(this).parent().parent().find('td:nth-child(23)').text();
            //var Classid=$(this).parent().parent().find('td:nth-child(23)').text();
            //var StudentClassId=$(this).parent().parent().find('td:nth-child(24)').text();
            //$('#lbStudentName').text(StudentName);
            //$('#lbSection').text(Class);
            //$('#hdnStudentId').val(Studentid);
            //$('#hdnClassId').val(Classid);
            //$('#hdnStuClassId').val(StudentClassId);
            //$('#hdnSessionid').val($('#SessionId').val());
            $.ajax({
                type: "POST",
                async:false,
                url: '@Html.Raw(Url.Action("GetUserList", "Student"))',
                data: {'Studentid':Studentid},
                success: function (result) {
                    if (result.status == "success") {
                        var data= JSON.parse(result.ManageUser);
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage("Invaild data", "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        });

        $("#student-grid").on("click", ".changeclass", function (e) {
            $('#ks_loader').show();
            e.preventDefault();
            var StudentName = $(this).parent().parent().find('td:nth-child(4)').text();
            var Class=$(this).parent().parent().find('td:nth-child(8)').text();
            var Studentid=$(this).parent().parent().find('td:nth-child(23)').text();
            var Classid=$(this).parent().parent().find('td:nth-child(24)').text();
            var StudentClassId=$(this).parent().parent().find('td:nth-child(25)').text();
            $('#lbcStudentName').text(StudentName);
            $('#lbcClass').text(Class);
            $('#hdncStudentId').val(Studentid);
            $('#hdncClassId').val(Classid);
            $('#hdncStuClassId').val(StudentClassId);
            $('#hdncSessionid').val($('#SessionId').val());
            $.ajax({
                type: "POST",
                async:false,
                url: '@Html.Raw(Url.Action("GetClassList", "Student"))',
                data: {'ClassId':Classid,'StudentId':Studentid},
                success: function (result) {
                    if (result.status == "success") {
                        var SectionList = $('#drpnewClass');
                        SectionList.empty();
                        $.each(result.ClassList, function () {
                            SectionList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                        $('#ks_loader').hide();
                        $('#ChangeClass-div').show();
                    }
                    else {
                        $('#ks_loader').hide();

                        alert('Please cancel the fee receipt for current session before changing the Class')
                       // ToastMessage("Invaild data", "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });

           $("#student-grid").on("click", ".changesection", function (e) {
            $('#ks_loader').show();
            e.preventDefault();
            var StudentName = $(this).parent().parent().find('td:nth-child(4)').text();
            var Class=$(this).parent().parent().find('td:nth-child(8)').text();
            var Studentid=$(this).parent().parent().find('td:nth-child(23)').text();
            var Classid=$(this).parent().parent().find('td:nth-child(24)').text();
            var StudentClassId=$(this).parent().parent().find('td:nth-child(25)').text();
            $('#lbStudentName').text(StudentName);
            $('#lbSection').text(Class);
            $('#hdnStudentId').val(Studentid);
            $('#hdnClassId').val(Classid);
            $('#hdnStuClassId').val(StudentClassId);
            $('#hdnSessionid').val($('#SessionId').val());
            $.ajax({
                type: "POST",
                async:false,
                url: '@Html.Raw(Url.Action("GetSectionListAcctoStandard", "Student"))',
                data: {'ClassId':Classid},
                success: function (result) {
                    if (result.status == "success") {
                        var SectionList = $('#drpnewSection');
                        SectionList.empty();
                        $.each(result.ClassList, function () {
                            SectionList.append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                        $('#ks_loader').hide();
                        $('#ChangeSection-div').show();
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage("Invaild data", "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });


        $("#genfilteroption").click(function(){
            $("#reportfileter_div").toggle();
            $("#ReqAddId").val('1');
            $("#AddressTypeId").val('1');
            $("#AddressWithOutStudent").attr('checked',false);
            $("#IsPickGuardinaAddress").attr('checked',false);
            $("#IsPickStudentAddress").attr('checked',false);
        })

        $("#genreport").click(function(){
            if($("#ReqAddId").val()!="" && $("#AddressTypeId").val()!=""){
                $("#classfilter").val($("#ClassId").val());
                $("#statusfilter").val($("#StatusId").val());
                $("#hostlercheck").val($("#Hostler").val());
                $("#SessionId").val($("#GenRepo_Sessionid").val());
                $("#AdmissionId").val($("#AdmsnId").val());
            }
            else{
                alert("Address and Address Type are neccessary to select");
                return false;
            }

        })


        $("#student-grid").on("click", ".printExaminationSlip", function (e) {
            e.preventDefault();
            var admissionNo = $(this).parent().parent().find('td:nth-child(2)').text();
            var StudentName = $(this).parent().parent().find('td:nth-child(4)').text();
            var FatherName = $(this).parent().parent().find('td:nth-child(5)').text();
            var Standard = $(this).parent().parent().find('td:nth-child(7)').text();
            var RollNo = $(this).parent().parent().find('td:nth-child(9)').text();
            var Session = $(this).parent().parent().find('td:nth-child(13)').text();
            var DOB = $(this).parent().parent().find('td:nth-child(14)').text();
            var AdhaarNo = $(this).parent().parent().find('td:nth-child(15)').text();
            var MobileNo = $(this).parent().parent().find('td:nth-child(16)').text();
            var SchoolName = $(this).parent().parent().find('td:nth-child(17)').text();
            var SchoolLogo = $(this).parent().parent().find('td:nth-child(18)').text();
            var section = $(this).parent().parent().find('td:nth-child(19)').text();
            var LName = $(this).parent().parent().find('td:nth-child(20)').text();
            var FName = $(this).parent().parent().find('td:nth-child(21)').text();

            var StudentImagepath = $(this).parent().parent().find('td:nth-child(22)').text();
            var fullhtml= '<html>'+
                            '<head><title></title></head>'+
                            '<body>'+
                                '<div style="width:100%; overflow:hidden; border:1px dashed #000;">'+
                                '<div style="padding:10px;">'+
                                    '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">'+
                                        '<tbody>'+
                                            '<tr>'+
                                                '<td>'+
                                                    '<h2 style="margin:0; padding:0;">' + SchoolName + '</h2>'+
                                                    '<h3 style="margin:0; padding:0;">Examination Slip</h3>'+
                                                '</td>'+
                                                '<td width="100">'+
                                                    '<img src="' + SchoolLogo + '" width="80">'+
                                                '</td>'+
                                            '</tr>'+
                                         '</tbody>'+
                                    '</table>'+

                            '<hr>'+
                            '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">'+
                                '<tbody>'+
                                    '<tr>'+
                                        '<td width="100" rowspan="3">'+
                                         '<img src="' + StudentImagepath + '" width="80"></td>'+
                                        '<td ><b>Session: </b>'+
                                        '</br>' + Session + '</td>'+
                                        '<td><b>Adm.No.: </b>'+
                                        '</br>' + admissionNo + '</td>'+
                                        '<td ><b>Roll No.: </b>'+
                                        '</br>' + RollNo +'</td>'+
                                    '</tr>'+
                                    '<tr>'+
                                        '<td><b>Student Name: </b>'+
                                        '</br>' + StudentName + '</td>'+
                                        '<td><b>Father\'s Name: </b>'+
                                        '</br>' + FatherName + '</td>'+
                                        '<td><b>Standard: </b>'+
                                        '</br>'+Standard+ '</td>'+
                                    '</tr>'+
                                    '<tr>'+
                                        '<td><b>DOB: </b>'+
                                        '</br>' + DOB + '</td>'+
                                        '<td><b>Aadhaar No: </b>'+
                                        '</br>' + AdhaarNo + '</td>'+
                                        '<td><b>Mobile No.: </b>'+
                                        '</br>' + MobileNo + '</td>'+
                                    '</tr>'+

                                '</tbody>'+
                            '</table>'+

                '<hr>'+
                '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5" cellspacing="10">'+
                    '<tbody><tr>'+
                        '<td>&nbsp;</td>'+
                        '<td style="width:30%">Parent Signature</td>'+
                        '<td style="width:30%">Student Signature</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>1. Term 1</td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>2. Term 2</td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>3. Term 3</td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>4. Half Yearly</td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                    '</tr>'+
                    '<tr>'+
                        '<td>5. Yearly</td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                        '<td style="border-bottom:1px solid #000"></td>'+
                    '</tr>'+
                '</tbody>'+
            '</table>'+


            '</div>'+
        '</div>'+



'</body>'+
'</html>';

            @*var htmlStart =
             '<!DOCTYPE html>' +
            '<html>' +
            '<head>' +
            '<title></title>' +
            '</head>' +
            '<body  id="print-data">';

                    var htmlEnd = '</body></html>';
                    var heading = '<div  style="width:100%; overflow:hidden; border:1px dashed #000 !important;"><div style="padding:10px;">';

                    var childheading = '<table style="width:100%;font-size:12px; font-family:arial;" border="0" cellpadding="5">' +
                                         '<tr style="text-align:center;">' +
                                         '<td colspan="2"><h1>Examination Slip</h1></td></tr>' +
                                            '<tr>' +
                                                '<td>' +
                                                    '<h2 style="margin:0; padding:0;">' + SchoolName + '</h2>' +
                    @*'<h3 id="slip-heading" style="margin:0; padding:0;">'+'@ViewBag.SlipTitle'+' Slip</h3>' +
                    '</td>' +
                    '<td width="100" style="text-align:right">' +
                        '<img src="' + SchoolLogo + '" width="100" height="100" />' +
                                '</td>' +
                            '</tr>' +
                        '</table><hr/>';

                    childheading += '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">' +
                                '<tr>' +
                                    '<td><b id="label-heading">Admission No.: </b></td>' +
                                    '<td style="font-size:13px"><b>' + admissionNo + '</b></td>' +
                                    '<td><b>Session: </b></td>' +
                                    '<td>' + Session + '</td>' +
                                    '<td><b>Standard: </b></td>' +
                                    '<td>' + Standard + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                    '<td><b>Student Name: </b></td>' +
                                    '<td>' + StudentName + '</td>' +
                                    '<td><b>Father Name: </b></td>' +
                                    '<td>' + FatherName + '</td>' +
                                    '<td><b>Aadhaar No: </b></td>' +
                                    '<td>' + AdhaarNo + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                    '<td><b>DOB: </b></td>' +
                                    '<td>' + DOB + '</td>' +
                                    '<td><b>RollNo: </b></td>' +
                                    '<td>' + RollNo + '</td>' +
                                    '<td><b>Mobile No.: </b></td>' +
                                    '<td>' + MobileNo + '</td>' +
                    '</tr>' +


                '</table>';

                    childheading += '</div></div>';

                    childheading += '<table style="width:100%;font-size:12px; font-family:Arial" border="0" cellpadding="5">' +
                                       '<tr>' +
                                            '<td valign="top">' +
                                            '</td>' +
                                            '<td valign="top" align="right">' +
                                                'For ' + SchoolName + '' +
                                                '<br/><br/><br/><br/><br/><br/><br/><br/>' +
                                                'Authorised Signatory' +
                                            '</td>' +
                                        '</tr>' +
                                    '</table>';
                    var fullhtml = htmlStart + heading + childheading + htmlEnd;*@

            var w = window.open('', '', 'scrollbars=1');

            // var wholehtml = html();

            var doc = w.document.open();
            doc.write(fullhtml);
            doc.close();
            setTimeout(function () {
                w.print();
                //w.close();
            }, 500);

            //$('#htmldata').val(fullhtml);
            //$('#triggerpdfstudentreg').trigger('click');

        });
        var sessionId="";
        var StatusDate="";
        //Change Status
        $('#save-NextStatus').click(function(){
            //get data in grid and prepare status dropdown
            var EncStudentId=$(this).attr('data-id');
            var sid=$('#nextStatus').val();
            var refSave=$(this).attr('data-ref');
            if(sid!=""){
                StatusDate=$("#statusDate").val();
                if(StatusDate!="" && StatusDate!=null){
                  var  nStatusDate = StatusDate.split('/');
                  StatusDate =nStatusDate[1] + "/" + nStatusDate[0] + "/" + nStatusDate[2];
                }
                SaveStatusHistory(EncStudentId,sid,refSave,sessionId,StatusDate);
            }else{
                alert('Please select any status.');
            }
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(); //new search. Set page size to 1
            grid.dataSource.read(); //we already loaded the grid above using "page" function
            return false;
        })

       
        //show change status div
        $("#student-grid").on("click", ".Change_Status", function (e) {
            $("#statusDate").kendoDatePicker({
                value: new Date(),
                dateInput: true,
                format: "dd/MM/yyyy"
            });
            $("#statusDate").attr("readonly", true);
            //show div
            $('#Statushistory-div').show();
            //get data in grid and prepare status dropdown
            var EncStudentId=$(this).attr('data-id');

            $('#save-NextStatus').attr('data-id',EncStudentId);
            var sid=0;
            var refSave="";
            sessionId=$("#SessionId").val();
            SaveStatusHistory(EncStudentId,sid,refSave,sessionId,StatusDate);
        })

        function SaveStatusHistory(EncStudentId,sid,refSave,sessionId,StatusDate){
            $.ajax({
                type: "POST",
                async:false,
                url: '@Html.Raw(Url.Action("GetStudentStatusHistory", "Student"))',
                data: {'EncStudentId':EncStudentId,'sid':sid,'refSave':refSave,'sessionId':sessionId,'StatusDate':StatusDate},
                success: function (result) {
                    
                    if (result.status == "success") {
                            var datearry = result.CalendarDate.split('/');
                            var returnDate =datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                            var mindate = new Date(returnDate);

                        $("#statusDate").attr("readonly", false);
                        $("#statusDate").kendoDatePicker({
                            value: new Date(),
                            min: mindate,
                            dateInput: true,
                            format: "dd/MM/yyyy"
                        });
                        $("#statusDate").attr("readonly", true);
                        $('#nextStatus').html('');
                        $.each(result.Option,function(){
                            $('#nextStatus').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                        })
                        $('#StatusHistory-detail-grid tbody').html('');
                        $.each(result.List,function(){
                            $('#StatusHistory-detail-grid tbody').append('<tr><td>'+this.Status+'</td><td>'+this.StatusChangeDate+'</td></tr>')
                        })
                        $('#ks_loader').hide();
                    }
                    else if (result.status == "failed") {
                        $('#ks_loader').hide();
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    sessionId="";
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }

        $('#close_statushistory').click(function(){
            $('#Statushistory-div').hide();
        })
        $("#AdmnNo").keydown(function (e) {
            var input=e.which;
            if(input == 13)
                e.preventDefault();
            else
                return;
        });
        //search button
        $('#search-student').click(function () {
            //search
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $('#reset').click(function(){
            $("#AdmnNo").val('');
            $('#StudentName').val("");
            $('#SessionId').val($("#CurrentSession").val());
            $("#ClassId").val("");
            $("#ClassId").multiselect('refresh');
            $('#CategoryId').val("");
            $('#StatusId').val("");
            $('#Hostler').val("");
            $('#HouseId').val("");
            $("#hostlerstatusList").val("");
            $('#StaffChild').val("");
            $('#AdmsnId').val("");
            //$('.stu_lst_filters').css('display','none');
            // $('#IsHostler').prop('checked',false)
            var grid = $('#student-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            // return false;
        });
        //Generate popup with checboxes with Same Name Columns Of table
        $('#btnexportexcel').click(function(){
            debugger;
            var data=new Array();
            var columnsname=$("#columnsname").val().split(',');
            $.each(columnsname,function(i){
                data.push(columnsname[i]);
            })
            $("#CheckboxDiv").html('');
            $('#SelcetAllcheckbox').prop('checked',false);
            $('#ExpToExclSelectedColumns').hide();
            for(var i=0; i<data.length;i++)
            {
                $('#CheckboxDiv').append('<tr style="cursor:pointer"><td><input class="colnamecheck" type="checkbox" id='+data[i]+' name='+data[i]+' /> ' + data[i]+ '</td></tr>');
                //$('#CheckboxDiv').append('<div class=""><td><input style="height:auto;width:auto;cursor:pointer" class="colnamecheck" type="checkbox" id='+data[i]+' name='+data[i]+' /><td><label for="inlineCheckbox1"> '+data[i]+' </label></td></div>');
            }
        });
        //Export data on Excel with seleted columns
        $("#ExpToExclSelectedColumns").click(function () {
            $('#ks_loader').show();
            var Unseletedcolumn = "";
            var SelectedColumn="";
            $("input[class='colnamecheck']:checkbox:not(:checked)").each(function () {
                //alert("Id: " + $(this).attr("id") + " Value: " + $(this).val());
                Unseletedcolumn+= $(this).attr('id')+",";
            });
            $.each($("input[class='colnamecheck']:checked"), function(){
                SelectedColumn+= $(this).attr('id')+",";
            });
            var AdmnNo = $('#AdmnNo').val();
            var SessionId=$('#SessionId').val();
            var CategoryId = $("#CategoryId").val();
            var ClassId=$('#ClassId').val();
            var StatusId=$('#StatusId').val();
            var hostlerstatusList=$('#hostlerstatusList').val();
            var houseid = $('#HouseId').val();
            var admsnid =$('#AdmsnId').val();
            var IsExcel = "1";
            $.ajax({
                type: "GET",
                async: true,
                url: '@Html.Raw(Url.Action("Export", "Student"))',
                data: {},
                success: function (result) {

                    window.location = "../Student/ExportData?AdmnNo=" + AdmnNo + "&SessionId=" + SessionId + "&CategoryId=" + CategoryId+"&ClassId="+ClassId+"&StatusId="+StatusId+"&hostlerstatusList="+hostlerstatusList+"&IsExcel="+IsExcel+"&Unseletedcolumn="+Unseletedcolumn+"&SelectedColumn="+SelectedColumn+"&HouseId="+houseid+"&AdmsnId="+admsnid;
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        });
        //for select all checkbox
        $('#SelcetAllcheckbox').on('click',function(){
            if(this.checked){
                $('.colnamecheck').each(function(){
                    this.checked = true;
                });
                $("#ExpToExclSelectedColumns").show();
            }else{
                $('.colnamecheck').each(function(){
                    this.checked = false;
                });
                $("#ExpToExclSelectedColumns").hide();
            }
        });
        //for columns checkbox
        $(document).on('click','.colnamecheck',function(){

            if($('.colnamecheck:checked').length > 0 && $('.colnamecheck:checked').length == $('.colnamecheck').length){
                $("#ExpToExclSelectedColumns").show();
                $('#SelcetAllcheckbox').prop('checked',true);
            }
            else if($('.colnamecheck:checked').length > 0 && $('.colnamecheck:checked').length != $('.colnamecheck').length){
                $('#SelcetAllcheckbox').prop('checked',false);
                $("#ExpToExclSelectedColumns").show();
            }
            else if($('.colnamecheck:checked').length==0){
                $('#SelcetAllcheckbox').prop('checked',false);
                $("#ExpToExclSelectedColumns").hide();
            }
        });

        @*$("#student-grid").on("click", ".deleteStudent", function (){
            var EncDelStudentId=$(this).attr("data-id");
            if(EncDelStudentId!="" && EncDelStudentId!=null){
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("DeleteStudent", "Student"))',
                    data: {"StudentId":EncDelStudentId},
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.message, "success", true, 5000);
                        }
                        if (result.status == "failed") {
                            ToastMessage(result.message, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });

            }else{
                ToastMessage("Invalid Student", "error", true, 5000);
                $('#ks_loader').hide();
            }
        })*@
        
    });

    $("#hostlerstatusList").change(function(){
        $('#Hostler').val("false");
        $('#StaffChild').val("");
        //alert($("#hostlerstatusList").val());
        switch($("#hostlerstatusList").val())
        {
            case "":
                $('#Hostler').val("");
                break;
            case "1":
                $('#Hostler').val("true");
                break;
            case "2":
                $('#StaffChild').val("true");
                break;
            case "3":
                IsStaffChild = false;
                break;
        }
        //if($("#hostlerstatusList option:selected").text()=="Hostler"){

        //}
        //else if($("#hostlerstatusList option:selected").text()=="Hostler"){
        //    $('#Hostler').val("false")
        //}
    })
    function additionalData() {
        var data = {
            AdvanceSearch:'@ViewBag.query',
            AdmnNo:$("#AdmnNo").val(),
            SessionId: $('#SessionId').val(),
            ClassId: $('#ClassId').val(),
            StatusId: $('#StatusId').val(),
            CategoryId:$('#CategoryId').val(),
            Hostler:$('#Hostler').val(),
            HouseId:$('#HouseId').val(),
            StaffChild : $('#StaffChild').val(),
            StudentName : $('#StudentName').val(),
            AdmissionId: $('#AdmsnId').val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

  
    $(document).ready(function () {
    
       
    $.ajax({
        type: "POST",
        async: true,
        url: '@Html.Raw(Url.Action("GetDropdownlists", "Student"))',
        data: {},
        success: function (result) {
            if (result.status == "success") {
                $('#ks_loader').show();
                $.each(result.AddressTypeList,function(){
                    $('#AddressTypeId').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                })
                $.each(result.HouseList,function(){
                    $('#HouseId').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                })

                $.each(result.ReqAddList,function(){
                    $('#ReqAddId').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                })

                $.each(result.HostlerStatusList,function(){
                    $('#hostlerstatusList').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                })

                $.each(result.AdmissionList,function(){
                    $('#AdmsnId').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                })

                $.each(result.AvailableSessions,function(){
                    $('#SessionId').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                })
               
                $.each(result.AvailableClasses,function(){
                    $('#ClassId').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                })
    
                $('#ClassId').multiselect({
                    includeSelectAllOption: true
                })
                $.each(result.AvailableCategory,function(){
                    $('#CategoryId').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                })
                $.each(result.AvailableStatus,function(){
                    if(this.Value==result.StatusId){
                        $('#StatusId').append('<option value="'+this.Value+'" selected="selected"> '+this.Text+'</option>')
                    }else{
                        $('#StatusId').append('<option value="'+this.Value+'"> '+this.Text+'</option>')
                    }
                })
                $('#IsAdmissionNoAfterFeePaid').val(result.IsAdmissionNoAfterFeePaid)
                $('#IsEnableBordingNo').val(result.IsEnableBordingNo)
                if(result.IsEnableBordingNo){
                   // $("#student-grid").find("table th").eq($('#student-grid').find(".Student_BoradingNo").index()).show();
                    //alert ($('#student-grid').find(".Student_BoradingNo").index());
                    var grid = $("#student-grid").data("kendoGrid");
                    grid.showColumn(10);
                }else{
                   // alert ($('#student-grid').find(".Student_BoradingNo").index());
                   // $("#student-grid").find("table th").eq($('#student-grid').find(".Student_BoradingNo").index()).hide();
                    var grid = $("#student-grid").data("kendoGrid");
                    grid.hideColumn(10);
                }
                $('#SessionId').val(result.SessionId)
                $('#GenRepo_Sessionid').val(result.SessionId)
                $('#CurrentSession').val(result.CurrentSession)

                $('#IsAuthToEdit').val(result.IsAuthToEdit)
                
              
                if(result.IsAuthToExport){
                    $('.Editstus').show()
                }else{
                    $('.Editstus').hide()
                }
                $('#IsAuthToPrint').val(result.IsAuthToPrint)
                if(result.IsAuthToPrint){
                    $('.printExaminationSlip').show()
                }else{
                    $('.printExaminationSlip').hide()
                }
                $('#IsAuthToView').val(result.IsAuthToView)
                if(result.IsAuthToView){
                    $('.view_stu_col').show()
                }else{
                    $('.view_stu_col').hide()
                }
                $('#IsAuthToSet').val(result.IsAuthToSet)
                if(result.IsAuthToSet){
                    $('.Change_Status').show()
                }else{
                    $('.Change_Status').hide()
                }
                $('#IsAuthToGridAssignBoradingNo').val(result.IsAuthToGridAssignBoradingNo)
                if(result.IsAuthToGridAssignBoradingNo){
                    $('.AddHostlerBoardingNumber').show()
                }else{
                    $('.AddHostlerBoardingNumber').hide()
                }
                $('#CurrentSession').val(result.CurrentSession)
                if(result.IsAuthToExport){
                    $('#btnexportexcel').show();}
                else{
                    $('#btnexportexcel').hide();}
              

                //var grid = $('#student-grid').data('kendoGrid');
                //grid.dataSource.page(1);
                $('#ks_loader').hide();
            }
        },
        error: function (xhr, status, data) {
            var err = "Error " + " " + data;
            if (xhr.status != 0) {
                ToastMessage(err, "error", true, 5000);
            }
            $('#ks_loader').hide();
        }
    });
    })
</script>

<!-- Modal for checkboxes -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title text-center">Select Columns For Excel Report</h4>
            </div>
            @*<div class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>*@
            <div class="modal-body">
                <table id="checkTable">
                    <thead>
                        <tr>
                            <th><input type="checkbox" style="height:auto;width:auto;cursor:pointer" id="SelcetAllcheckbox" /><label>Select All</label></th>
                        </tr>
                    </thead>
                    <tbody id="CheckboxDiv"></tbody>
                </table>
                <script type="text/javascript">

                    $('#CheckboxDiv').sortable();
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" id="ExpToExclSelectedColumns" style="display:none" class="btn btn-success" data-dismiss="modal">Export To Excel</button>
            </div>
        </div>
    </div>
</div>
