﻿@model ViewModel.ViewModel.Student.HostlerBoardingNo
@{
    ViewBag.Title = "Manage Boarding Number";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<div class="modal-popup" id="BoradingHistory_Popup" hidden data-backdrop="static" data-keyboard="false">
    <div class="modal-popup-body" style="width:500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="CloseBoradingHistory_Popup" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 id="boardHistoryHeader" class="modal-title"></h5>
            </div>
            <div class="row modal-body">
                <!-- Form Row -->
                <div class="col-md-12 top-space-10" id="StudentBoardingHistory">
                    <table class="table" id="student_BoradNoHistory">
                        <thead class="k-header">
                            <tr>
                                <th>Student Name</th>
                                <th>Activity Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dialog Box For Add Student-->
<div class="modal-popup" id="AssignBoardingNomodal" hidden data-backdrop="static" data-keyboard="false">
    <div class=" modal-popup-body" style="width:50%">
    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md-6 SelectStudentDiv">
                <h4 class="modal-title">Select Student</h4>
            </div>
            <div class="studentBoardingDiv">
                <div class="col-md-6" id="headertext"></div>
                <div class="col-md-6"><a href="javascript:void(0)" id="backButtonModal" style="float:right" class="btn btn-xs btn-default studentBoardingDiv">Back</a></div>
            </div>
        </div>
        <div class="row modal-body">
            <!-- Form Row -->
            <div class="SelectStudentDiv">
                <div class="col-md-3">
                    <label class=" control-label">Reg./AdmnNo.</label>
                    @Html.TextBox("AdmsnRegNo", "", new { @class = "form-control", @width = "150px" })
                </div>
                <div class="col-md-3">
                    <label class=" control-label">Select Class</label>
                    @Html.DropDownList("ClassId", Model.AvailableClass, new { @class = "form-control", @width = "150px" })
                </div>
                <div class="col-md-3">
                    <label class=" control-label">SelectStudent</label>
                    <select class="form-control" id="intStudentId" style="width:160px">
                        <option selected value="">--Select--</option>
                    </select>
                </div>
                <div class="col-md-3" style="float:right; padding:24px">
                    <button id="nextAssignBoardingNo" type="button" name="Close" class="btn btn-success">
                        Next
                    </button>
                </div>
            </div>
            <div class="studentBoardingDiv" id="MBody_BoradingNoActivity">


            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success studentBoardingDiv" id="FooterSave_BoradingNoActivity">
                Save
            </button>
            <button id="studentModalClose" type="button" name="Close" class="btn btn-default">
                Close
            </button>
        </div>
    </div>
</div>
</div>

<div class="modal-popup" id="BoradingAct_Popup" hidden>
    <div class="modal-popup-body" style="width:300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="Close_BoradingAct" name="Close_BoradingAct" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Change Status</h4>
            </div>
            <div class="row modal-body">
                <!-- Form Row -->
                <div class="col-md-3">
                    <label class="control-label">Status</label><!-- Form Label -->
                    @Html.DropDownList("drpActivityStatus", Model.AviableActivties, new { @class = "form-control", @style = "width:150px" })
                </div>
            </div>
            <div class="modal-footer">
                <button id="FooterSave_BoradingAct" data-ref="Save" type="button" name="FooterSave_BoradingAct" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Boarding Number</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        <button type="button" id="btnfilter" class="btn btn-xs btn-default"> Filters</button>
        @if (Model.IsAuthToGirdAdd)
        {
            <button type="button" id="btnadd" class="btn btn-xs btn-default">Add New</button>
        }
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BoardingNoId)
    <!-- Page Filters -->
    <div class="form-inline ks-custom-form">
        <div class="row top-space-10" style="display: none" id="div_filter">
            <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Session</label><!-- Form Label -->
                        @Html.DropDownList("filterSession", Model.AvailableSessions, new { @class = "form-control", @width = "150px" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">AdmnNo</label><!-- Form Label -->
                        @Html.TextBox("filterAdmnNo", Model.AdmnNo, new { @class = "form-control", @placeholder = "Admission Number", @width = "130px" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Class</label><!-- Form Label -->
                        @Html.DropDownList("filterClass", Model.AvailableClass, new { @class = "form-control", @width = "150px" })
                    </div>
                <div class="form-group">
                    <label class="control-label">Student</label><!-- Form Label -->
                    @Html.DropDownList("filterStudent", Model.AvailableStudent, new { @class = "form-control", @width = "150px" })
                </div>
                <div class="form-group">
                    <label class="control-label">Type</label><!-- Form Label -->
                    @Html.DropDownList("filterBoardActivity", Model.AvailableBoardingActivity, new { @class = "form-control", @width = "150px" })
                </div>
                <div class="form-group">
                    <label class="control-label">From Number</label>
                    @Html.TextBox("FromRange", Model.NoRangeFrom, new { @class = "form-control", @placeholder = "From Number", @width = "130px" })
                </div>
                <div class="form-group">
                    <label class="control-label">To Number</label>
                    @Html.TextBox("ToRange", Model.NoRangeTo, new { @class = "form-control", @placeholder = "To Number", @width = "130px" })
                </div>

                <div class="form-group">
                    <label class="control-label">Status</label><!-- Form Label -->
                    @Html.DropDownList("StatusBoardingActivity", Model.AviableFilterActivties, new { @class = "form-control", @width = "150px" })
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filter" class="btn btn-default">Filter</button>
                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10" style="display: none" id="div_add">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label>From Number<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.TextBoxFor(m => m.NoRangeFrom, new { @class = "form-control", @placeholder = "From Number", @maxlength = "20" })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.NoRangeFrom)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="col-md-3">
                    <label>To Number<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.TextBoxFor(m => m.NoRangeTo, new { @class = "form-control", @placeholder = "To Number", @maxlength = "20" })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.NoRangeTo)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group" style="margin-top: 16px;">
                    <button type="button" id="submit" class="btn btn-success"></button>
                    <button type="button" id="cancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>
        </div>
        <!-- // Page Filters -->
        <!--Book Attribute Kendo Gird -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="BoradingNo_grid">
                    <script>
                        $(document).ready(function () {
                            $("#BoradingNo_grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetAllBoardingNo", "Student"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,

                                columns: [{
                                    field: "BoardingNoId",
                                    attributes: {
                                        "class": "strbrdngNoId"
                                    },
                                    hidden: true
                                }, {
                                    field: "IsActive",
                                    hidden: true
                                }, {
                                    field: "BoardingNo",
                                    title: "Borading No",
                                    sortable: true,
                                    attributes: {
                                        "class": "strbrdngNo"
                                    },
                                }, {
                                    field: "AdmnNo",
                                    title: "AdmnNo",
                                    sortable: true
                                }, {
                                    field: "StudentName",
                                    title: "Student",
                                    sortable: true
                                }, {
                                    field: "Class",
                                    title: "Class",
                                    sortable: true
                                }, {
                                    field: "IsActiveStatus",
                                    title: "Status",
                                    @if (Model.IsAuthToGridEdit)
                                    {  
                                       <text>
                                    template: '#if(!IsAssignedNo){#<a class="BoardingActivity_Status" data-id="#=BoardingNoId#" dataid1="#=IsActiveStatus#"  title="Change Status" data-toggle="tooltip" style="cursor:pointer;" data-placement="top">#=IsActiveStatus#</a>'
                                                 + '#}else{#<label>#=IsActiveStatus#</label> #}#',
                                        </text>
                                    }
                                },
                                @if (Model.IsAuthToGridDelete)
                                {
                                    if(!Model.IsAuthToDelete)
                                    {
                                        <text>
                                        {
                                            field: "BoardingNoId",
                                            title: "Action",
                                            sortable: false,
                                            width: 120,
                                            template: '#if(!IsAssignedNo){#<a title="Delete" class="deleteRecords btn btn-xs btn-default"  style="cursor:pointer;" dataid="#=BoardingNoId#" href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                                     + '#if(!IsBoardingNoAssigned){#<a title="Assign_UnAssign" class="assigntoStudent btn btn-xs btn-default" style="cursor:pointer;" dataid="#=BoardingNoId#" href="javascript:void(0)"><i class="fa fa-plus"></i></a>#}' +
                                            'else if(IsBoardingNoAssigned){#<a title="Assign_UnAssign" class="unassigntoStudent btn btn-xs btn-default" datastudentname="#=StudentName#" datastudentid="#=EncStudentId#" style="cursor:pointer;" dataid="#=BoardingNoId#" href="javascript:void(0)"><i class="fa fa-plus"></i></a>#}#'
                                                     + '#if(IsHistory){#<a title="Show History" class="boardinghistory btn btn-xs btn-default"  style="cursor:pointer;"  dataid="#=BoardingNoId#" href="javascript:void(0)"><i class="fa fa-eye"></i></a>#}#'

                                        }</text>
                                     }
                                }]
                            });
                            var grid = $("#BoradingNo_grid").data("kendoGrid");
                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }

                        function additionalData() {
                            var data = {
                                NoRangeFrom: $('#FromRange').val(),
                                NoRangeTo: $("#ToRange").val(),
                                IsActiveStatus: $("#StatusBoardingActivity").val(),
                                SessionId: $("#filterSession").val(),
                                AdmnNo: $("#filterAdmnNo").val(),
                                ClassId: $("#filterClass").val(),
                                StudentId: $("#filterStudent").val(),
                                intBoardingActivityId: $("#filterBoardActivity").val(),
                                
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
        </div>
        <!-- //Book Attribute Kendo Gird -->
    </div>

    <script type="text/javascript">
        $("#filterBoardActivity").val("");
        //validations
        var BoradingNoValid = true;
        var BoradingNovalidationmessage = "";
        var BoradingNoctrlfocus = "";
        function ValidateBoradingNo() {
            BoradingNoValid = true;
            BoradingNovalidationmessage = "";
            BoradingNoctrlfocus = "";

            if ($.trim($('#NoRangeFrom').val()) == "" && $.trim($('#NoRangeTo').val()) == "") {
                if ($.trim($('#NoRangeFrom').val()) == "") {
                    if (BoradingNoctrlfocus == "")
                        BoradingNoctrlfocus = "#NoRangeFrom";
                    BoradingNovalidationmessage = BoradingNovalidationmessage + "Please enter From Number ε";
                    BoradingNoValid = false;
                }
                if ($.trim($('#NoRangeTo').val()) == "") {
                    if (BoradingNoctrlfocus == "")
                        BoradingNoctrlfocus = "#NoRangeTo";
                    BoradingNovalidationmessage = BoradingNovalidationmessage + "Please enter To Number ε";
                    BoradingNoValid = false;
                }
            }
            else if($.trim($('#NoRangeFrom').val()) == "0" || $.trim($('#NoRangeTo').val()) == "0")
            {
                if (parseInt($('#NoRangeTo').val()) == 0) {
                    BoradingNoctrlfocus = "#NoRangeTo";
                    BoradingNovalidationmessage = BoradingNovalidationmessage + "To Number should be greater than zero ε";
                    BoradingNoValid = false;
                }
                else if (parseInt($('#NoRangeFrom').val()) == 0) {
                    BoradingNoctrlfocus = "#NoRangeFrom";
                    BoradingNovalidationmessage = BoradingNovalidationmessage + "From Numnber should be smaller than zero ε";
                    BoradingNoValid = false;
                }
            }
            else if ($.trim($('#NoRangeFrom').val()) != "" && $.trim($('#NoRangeTo').val()) != "") {
                if (parseInt($('#NoRangeTo').val()) < parseInt($('#NoRangeFrom').val())) {
                    BoradingNoctrlfocus = "#NoRangeTo";
                    BoradingNovalidationmessage = BoradingNovalidationmessage + "To Number should be greater than From Number ε";
                    BoradingNoValid = false;
                }
                else if (parseInt($('#NoRangeFrom').val()) > parseInt($('#NoRangeTo').val())) {
                    BoradingNoctrlfocus = "#NoRangeFrom";
                    BoradingNovalidationmessage = BoradingNovalidationmessage + "From Numnber should be smaller than To Number ε";
                    BoradingNoValid = false;
                }
            }
           
            var aa = BoradingNovalidationmessage;
            return BoradingNoValid;
        }

        $("#NoRangeFrom,#NoRangeTo").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        var EncBoradingNoId = "";
        $("#BoradingNo_grid").on("click", ".BoardingActivity_Status", function (e) {
            EncBoradingNoId = $(this).attr('data-id');
            var currentStatus = $(this).attr('dataid1');
            $('#BoradingAct_Popup').show();
            switch (currentStatus) {
                case "Active":
                    $("#drpActivityStatus").val("1");
                    break;
                case "InActive":
                    $("#drpActivityStatus").val("0");
                    break;
            }
        });

        $("#FooterSave_BoradingAct").on("click", function (e) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("InsertUpdateBoardingNos", "Student"))',
                data: { "BoardingNoId": EncBoradingNoId, "BoardingActivityId": $("#drpActivityStatus").val() },
                success: function (result) {
                    if (result.status == "success") {
                        $("#BoradingNo_grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
                        $("#div_filter").hide();
                        $("#div_add").hide();
                        $('#ks_loader').hide();
                        ToastMessage(result.message, "success", true, 5000);

                    }
                    else if (result.status == "failed") {
                        var validationaray = result.message.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++)
                            ToastMessage(validationaray[i], "error", true, 5000);
                    }

                    $('#BoradingAct_Popup').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });
        });

        $("#Close_BoradingAct").click(function () {
            $('#BoardingNoId').val("");
            $('#BoradingAct_Popup').hide();
        })


        $('#submit').click(function () {
            $("#validation_para ul").html('');

            // create model
            var BoardingNoModel = new Object();
            BoardingNoModel.BoardingNoId = $('#BoardingNoId').val();

            if ($('#NoRangeFrom').val() == "")
                $('#NoRangeFrom').val($("#NoRangeTo").val());

            BoardingNoModel.NoRangeFrom = $('#NoRangeFrom').val();

            if ($("#NoRangeTo").val() == "")
                $("#NoRangeTo").val($('#NoRangeFrom').val());

            BoardingNoModel.NoRangeTo = $("#NoRangeTo").val();
            BoardingNoModel.IsActive = true;

            var valid = ValidateBoradingNo();
            if (valid) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertUpdateBoardingNos", "Student"))',
                    data: BoardingNoModel,
                    success: function (result) {
                        if (result.status == "success") {
                            $("#BoradingNo_grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
                            $("#div_filter").hide();
                            $("#div_add").hide();

                            if (result.SkippedNumbers != "") {
                                alert("These number are skipped from entered numbers:" + result.SkippedNumbers);
                                $('#ks_loader').hide();
                                return false;
                            }
                            else {
                                ToastMessage(result.message, "success", true, 5000);
                            }
                        }
                        else if (result.status == "failed") {
                            var validationaray = result.message.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                var validationaray = BoradingNovalidationmessage.split('ε');
                $('#ks_loader').hide();
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                return false;
            }

        });

        //clear fields
        function Clear() {
            $('#BoardingNoId').val("");
            $('#NoRangeFrom').val("");
            $("#NoRangeTo").val("");
            $('#FromRange').val("");
            $("#ToRange").val("");
            $("#filterSession").val("");
            $("#filterAdmnNo").val("");
            $("#filterClass").val("");
            $("#filterStudent").val("");
            $("#filterBoardActivity").val("");
            $("#StatusBoardingActivity").val("");
            $("#BoradingNo_grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
        }

        $("#btnfilter").click(function () {
            $("#div_filter").show();
            $("#div_add").hide();
            $("#BoradingNo_grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
        })

        $("#btnadd").click(function () {
            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Save');
            $("#div_add").show();
            $("#div_filter").hide();
            $("#BoradingNo_grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
        })


        $("#filter").click(function () {
            var grid = $("#BoradingNo_grid").data("kendoGrid");
            grid.dataSource.page(1);
        });

        $("#cancel").click(function () {
            $('#ks_loader').show();
            $("#div_add").hide();
            Clear();
            $('#ks_loader').hide();
        });

        $("#reset").click(function () {
            $('#ks_loader').show();
            $("#div_filter").hide();
            Clear();
            $('#ks_loader').hide();
        })

        $("#BoradingNo_grid").on("click", ".deleteRecords", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '"  dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });

        //delete ajax method
        $("#BoradingNo_grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var BoradingNoId = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteBoardingNo", "Student"))',
                data: { "BoradingNoId": BoradingNoId },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#BoradingNo_grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var BoradingNo = tablerow.find("td:nth-child(1)").text();
                            if (BoradingNoId == BoradingNo)
                                tablerow.remove();
                        });
                        ToastMessage(result.data, "success", true, 5000);
                        $("#BoradingNo_grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
                        Clear();
                    }
                    else {
                        ToastMessage("Error Happened", "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })

        $("#BoradingNo_grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        })
        var BoardingNoId = "";
        $("#BoradingNo_grid").on("click", ".assigntoStudent", function () {
            BoardingNoId = $(this).attr("dataid").trim();
            ClearSelectStudentFields();
            $(".studentBoardingDiv").hide();
            $(".SelectStudentDiv").show();
            $("#backButtonModal").hide();
            $("#AssignBoardingNomodal").modal('show');
        });
        $("#BoradingNo_grid").on("click", ".unassigntoStudent", function () {
            ClearStuBoardNoPopUpFields();
            EncStudentId = $(this).attr("datastudentid");
            BoardingNoId = $(this).attr("dataid").trim();
            StudentName = $(this).attr("datastudentname").trim();
            if (EncStudentId != null && EncStudentId != "") {
                $(".studentBoardingDiv").show();
                $(".SelectStudentDiv").hide();
                $("#backButtonModal").hide();
                $("#AssignBoardingNomodal").modal('show');
                AddHostlerBoardingNumber();
            } else {
                ToastMessage("Invalid BoardingNo", "error", true, 5000);
            }
        })
        $("#studentModalClose").click(function () {
            $("#AssignBoardingNomodal").modal('hide');
        })

        $('#AdmsnRegNo').blur(function () {
            $('#ks_loader').show();
            var admnno = $('#AdmsnRegNo').val();
            $('#ClassId').val('');
            $('#intStudentId').html('');
            $("#intStudentId").append("<option value=''>--Select Student--</option>");
            //var sessionId = $("#modelSessionid").val();
            //if (sessionId == "" || sessionId == null) {
            //    alert("Please Select Session");
            //    return false;
            //}
            if (admnno != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Get",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetStudentClassByRegNo", "Student"))',
                    data: { "AdmnNo": admnno},
                    success: function (result) {
                        if (result.status == "success") {
                            $('#intStudentId').html('');

                            if (result.Class > 0) {
                                $('#ClassId').val(result.Class);
                                $('#ClassId').trigger('change');
                                if (result.Student != "" && result.Student != null)
                                    $('#intStudentId').val(result.Student);
                                $('#AdmsnRegNo').val(admnno)
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#StudentId').html('');
                            $("#intStudentId").append("<option selected value=''>--Select Student--</option>");
                            $('#AdmsnRegNo').val('');
                            $('#AdmsnRegNo').focus();
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            $('#ks_loader').hide();
        })

        $("#ClassId").change(function () {
            var classid = $("#ClassId").val();
            //var sessionId = $("#modelSessionid").val();
            //if (sessionId == "" || sessionId == null) {
            //    alert("Please Select Session");
            //    return false;
            //}
            $("#intStudentId").val("");
            $("#intStudentId").html("");
            $('#AdmsnRegNo').val("");
            if (classid != "" && classid > 0) {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetStudentList", "Student"))',
                    data: { "ClassId": classid },
                    success: function (result) {
                        $("#intStudentId").empty();
                        $.each(result.StudentList, function (value, data) {
                            $("#intStudentId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                        })
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });

            }
        });
        $("#intStudentId").change(function () {
            var classid = $("#ClassId").val();
            var studentId = $("#intStudentId").val();
            if (studentId != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("GetRegNoByStudentId", "Student"))',
                    data: { "studentId": studentId },
                    success: function (result) {
                        if (result.status == "success") {
                            $("#AdmsnRegNo").val(result.AdmnNo);
                            $('#ks_loader').hide();
                        }
                        else {
                            $("#intStudentId").val("");
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $("#AdmsnRegNo").val("");
            }
        })

        var EncStudentId = "";
        var StudentName = "";
        function AddHostlerBoardingNumber() {

            $('#ks_loader').show();

            $(".SelectStudentDiv").hide();
            $(".studentBoardingDiv").show();
           
           // AdmnNo = $(this).parent().parent().find('td:nth-child(2)').text();
           // StudentName = $(this).parent().parent().find('td:nth-child(4)').text();
           // Class = $(this).parent().parent().find('td:nth-child(8)').text();
           // RollNo = $(this).parent().parent().find('td:nth-child(9)').text();

            $("#MBody_BoradingNoActivity").html("");

            $("#AssignBoardingNomodal").find("#headertext").html("");
            $("#AssignBoardingNomodal").find("#headertext").append("Add Boarding number for : " + "<b>" + StudentName + "</b>");

            var ControlHtml = "<input type='hidden' class='form-control' id='hdnStudentBoardingNoId' />";
            ControlHtml += "<div class='col-md-3'>";
            ControlHtml += " <label>Boarding No.<i class='fa fa-asterisk ks-required'></i></label>";
            ControlHtml += " <select class='form-control' id='drpBoardingNos' style='width:135px;'>";
            ControlHtml += " </select>";
            //ControlHtml += " <a style='margin: -34px -41px 0px 0px;' href='javascript:void'";
            //ControlHtml += " class='btn-combo-plus-ks' title='Add Boading Number' data-toggle='tooltip'";
            //ControlHtml += " data-placement='top' id='add_BoradingNos'>";
            //ControlHtml += " <i class='fa fa-plus'></i>";
            //ControlHtml += " </a>";
            ControlHtml += "</div>";

            ControlHtml += "<div class='col-md-4' style='margin-left: 43px;'>";
            ControlHtml += "<label>Activity Date</label>";
            ControlHtml += "<input type='text' class='form-control' id='dateActivityDateTime' style='width: 180px;' />";
            ControlHtml += "</div>";


            //ControlHtml += "<div class='col-md-3' hidden>";
            //ControlHtml += "<div class='form-group'>";
            //ControlHtml += " <label class='control-label'>IsAssign</label>";
            //ControlHtml += " <div class=''>";
            //ControlHtml += " <input  data-val='true' id='chkBoardingActivity' type='checkbox' value='true' name='chkBoardingActivity' />";
            //ControlHtml += " <input name='chkBoardingActivity' type='hidden' value='false'>";
            //ControlHtml += " </div>";
            //ControlHtml += "</div>";
            //ControlHtml += "</div>";

            ControlHtml += "<div class='col-md-3'>";
            ControlHtml += "<label>Status</label>";
            ControlHtml += "<select id='drpBoradingActivities' class='form-control'>";
            ControlHtml += "</select>";
            ControlHtml += "</div>";

            ControlHtml += "<div class='col-md-12 top-space-10' id='tblStudentBoardingHistory'>";
            ControlHtml += "</div>";

            $("#MBody_BoradingNoActivity").append(ControlHtml);

            //$("#chkBoardingActivity").prop("checked",true);
            $("#dateActivityDateTime").kendoDateTimePicker({
                value: new Date,
                format: "dd/MM/yyyy hh:mm"
            });
            $("#dateActivityDateTime").attr('readonly', true);

            createDropdowns();
        };



        function createDropdowns() {
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("GetStudentBoardingNoControls", "Student"))',
                data: { "EncStudentId": EncStudentId, "SessionId": $("#SessionId").val() },
                success: function (result) {
                    $("#drpBoradingActivities").empty();
                    $("#drpBoardingNos").empty();
                    var BoardingNos = "";
                    var BoradingActivies = "";
                    if (result.listBordingActivities.length > 0) {
                        $.each(result.listBordingActivities, function (i) {
                            if (result.SelectedStatus_Id != "") {
                                if (result.listBordingActivities[i].Value == result.SelectedStatus_Id)
                                    BoradingActivies += "<option value='" + result.listBordingActivities[i].Value + "' selected>"
                                                            + result.listBordingActivities[i].Text + "</option>";
                            }
                            else
                                BoradingActivies += "<option value='" + result.listBordingActivities[i].Value + "' selected>"
                                                            + result.listBordingActivities[i].Text + "</option>";
                        });
                        $("#drpBoradingActivities").append(BoradingActivies);
                    }
                    if (result.status == "assigned") {
                        $("#dateActivityDateTime").attr('readonly', false);
                        if (result.SessionEndDate != "")
                            $("#dateActivityDateTime").kendoDateTimePicker({
                                value: new Date(result.SessionEndDate),
                                format: "dd/MM/yyyy hh:mm"
                            });
                        $("#dateActivityDateTime").attr('readonly', true);
                    }

                    $("#drpBoardingNos").append("<option value=''>--Select--</option>");
                    if (result.listBordingNos.length > 0) {
                        $.each(result.listBordingNos, function (i) {
                            if (result.getSavedStuAssignedNoInfo[0].BoardingNoId != ""
                                && $("#drpBoradingActivities option:selected").text() != "Assign") {
                                if (result.listBordingNos[i].Value == result.getSavedStuAssignedNoInfo[0].BoardingNoId) {
                                    BoardingNos += "<option value='" + result.listBordingNos[i].Value + "' selected>"
                                                                   + result.listBordingNos[i].Text + "</option>";
                                }
                            }
                            else {
                                BoardingNos += "<option value='" + result.listBordingNos[i].Value + "' >"
                                                                   + result.listBordingNos[i].Text + "</option>";
                            }
                        });
                        $("#drpBoardingNos").append(BoardingNos);
                    }

                    if (result.getSavedStuAssignedNoInfo.length > 0) {
                        $("#drpBoradingActivities").val(result.getSavedStuAssignedNoInfo[0].BoardingActivityId);
                        $("#drpBoardingNos").val(result.getSavedStuAssignedNoInfo[0].BoardingNoId);
                        $("#hdnStudentBoardingNoId").val(result.getSavedStuAssignedNoInfo[0].StudentBoardingNoId);
                        // $("#dateActivityDateTime").val(result.getSavedStuAssignedNoInfo[0].ActivityDateTime);

                        $("#AssignBoardingNomodal").find("#headertext").html("");
                        $("#AssignBoardingNomodal").find("#headertext").append("Update Boarding number for : "
                                                                                    + "<b>" + StudentName + "</b>");
                    }
                    $("#drpBoardingNos").attr("disabled", true);
                    $("#drpBoardingNos").val(BoardingNoId)
                    var tblhtml = "";
                    $('#tblStudentBoardingHistory').html("");
                    if (result.StudentBordingHistoryList.length > 0) {
                        tblhtml += "<table class='table' id='gridstudent_BoradNoHistory'>";
                        tblhtml += "<thead class='k-header'>";
                        tblhtml += "<tr>";
                        tblhtml += "<th>Boarding No</th>";
                        tblhtml += "<th>Activity Date</th>";
                        tblhtml += "<th>Status</th>";
                        tblhtml += "</tr>";
                        tblhtml += "</thead>";
                        tblhtml += "<tbody> ";

                        $.each(result.StudentBordingHistoryList, function (i) {
                            tblhtml += "<tr> ";
                            tblhtml += "<td>" + result.StudentBordingHistoryList[i].BoardingNo + "</td> ";

                            tblhtml += "<td>" + result.StudentBordingHistoryList[i].ActivityDateTime + "</td>";
                            tblhtml += "<td>" + result.StudentBordingHistoryList[i].BoardingActivityStatus + "</td>";

                            tblhtml += "</tr> ";
                        });
                        tblhtml += "</tbody></table>";
                        $('#tblStudentBoardingHistory').append(tblhtml);
                    }

                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }

        $("#nextAssignBoardingNo").click(function () {
            ClearStuBoardNoPopUpFields();
            EncStudentId = $("#intStudentId").val();
             StudentName = $("#intStudentId :selected").text().trim();
            if (EncStudentId == null || EncStudentId == "") {
                var errmsg="Please Select Student First."
                ToastMessage(errmsg, "error", true, 5000);
                return false;
            }
            else {
                AddHostlerBoardingNumber();
               // $("#AssignBoardingNomodal").modal('hide');
               // $("#BoradingNoActivity_Popup").modal('show');
            }
        })
        $("#backButtonModal").click(function () {
            $(".studentBoardingDiv").hide();
            $(".SelectStudentDiv").show();
        });
        $("#FooterSave_BoradingNoActivity").click(function () {
            debugger;
            if ($("#drpBoardingNos").val() == "" && $("#drpBoardingNos").val() == null) {
                ToastMessage("Please select Boarding No.", "error", true, 5000);
                return false;
            }

            if ($("#drpBoradingActivities").val() == "" && $("#drpBoradingActivities").val() == null) {
                ToastMessage("Please select Status", "error", true, 5000);
                return false;
            }

            if ($("#drpBoardingNos").val() != "") {
                var modelStuBoardingNo = new Object();
                modelStuBoardingNo.StudentBoardingNoId = $("#hdnStudentBoardingNoId").val();
                modelStuBoardingNo.StudentId = EncStudentId;
                modelStuBoardingNo.BoardingNoId = $("#drpBoardingNos").val();
                modelStuBoardingNo.BoardingActivityId = $("#drpBoradingActivities").val();
                modelStuBoardingNo.ActivityDateTime = $("#dateActivityDateTime").val();

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertStudentBoardingNo", "Student"))',
                    data: modelStuBoardingNo,
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.message, "success", true, 5000);
                            $("#AssignBoardingNomodal").modal('hide');
                            ClearStuBoardNoPopUpFields();
                            ClearSelectStudentFields();
                              $("#BoradingNo_grid").data("kendoGrid").dataSource.page(1);
                        }
                        if (result.status == "failed") {
                            ToastMessage(result.message, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });

            }
            else
                ToastMessage("Please select Boarding No.", "error", true, 5000);

        });
        function ClearStuBoardNoPopUpFields() {
            $("#drpBoardingNos").val("");
            $("#hdnStudentBoardingNoId").val("");
            $("#drpBoradingActivities").val("");
        }
        function ClearSelectStudentFields() {
            $("#AdmsnRegNo").val("");
            $("#ClassId").val("");
            $("#intStudentId").html("");
            $("#intStudentId").val("");
        }
        $("#BoradingNo_grid").on("click", ".boardinghistory", function () {
            var EncBordngnoid = $(this).attr('dataid');
            var strBoardingNo = $(this).parent().parent().find(".strbrdngNo").text().trim();
            $("#student_BoradNoHistory >tbody").html("");
            if (EncBordngnoid != null && EncBordngnoid != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("GetBoardingNoHistory", "Student"))',
                    data: { "EncBoardingId": EncBordngnoid },
                    success: function (result) {
                        if (result.status == "success") {
                            var html="<tr>";
                            for (var i = 0; i < result.HostlerBoardingNoList.length; i++) {
                                html += "<td>" + result.HostlerBoardingNoList[i].StudentName + "</td>";
                                html += "<td>" + result.HostlerBoardingNoList[i].ActivityDateTime + "</td>";
                                html += "<td>" + result.HostlerBoardingNoList[i].BoardingActivityStatus + "</td>";
                                html += "</tr>";
                            };
                            $("#boardHistoryHeader").text("History Of Boarding No :"+ strBoardingNo);
                            $("#student_BoradNoHistory >tbody").append(html);
                            $('#ks_loader').hide();
                            $("#BoradingHistory_Popup").show();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
        })
        $("#CloseBoradingHistory_Popup").click(function () {
            $("#BoradingHistory_Popup").hide();
        })
    </script>
}
