﻿@model ViewModel.ViewModel.Student.StudentProfileModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
    ViewBag.Title = "ManageCertificate";
}
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
<style>
    ul.multiselect-container.dropdown-menu {
        height: 227px;
        overflow-y: scroll;
    }

    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 170px;
    }
</style>
<!-- //Validations -->
<!-- Model Certificate Header /Not -->
<div class="modal-popup" id="Certificate_Div" hidden>
    <div class="modal-popup-body custom-modal-popup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_Certificate_Div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Certificate Header</h4>
            </div>
            <div class="row modal-body" id="CertificateInfo">
                <div class="col-md-12 form-inline ">
                    <div class="">
                        @Html.Hidden("IssueDocumentId")
                        @Html.Hidden("StudentDocumentPrintId")
                        <label class="col-md-7 control-label"> Do you want to Include header on Certificate?</label><!-- Form Label -->
                        <div class="col-md-2">
                            @Html.CheckBoxFor(m => m.IncludeHeader, new { @class = "form-control", @style = "height: 20px;" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="Detail_Div" class="col-md-10">
                    <input id="Detail1"
                           name="Detail"
                           type="radio"
                           value="With Detail" /> With Detail
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="Detail2" checked="checked"
                           name="Detail"
                           type="radio"
                           value="Without Detail" />Without Detail
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <button type="button" class="btn btn-success" id="Certificate_Print">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Model Certificate  Header /Not-->
<!-- Model CertificateToken -->
<div class="modal-popup" id="CertificateTokens_Div" hidden>
    <div class="modal-popup-body custom-modal-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Certificate Empty Tokens</h4>
                <div class="row modal-body" id="CertificateTokensInfo">
                    <div class="col-md-12 form-inline top-space-10">
                        <div class="listTokensValues" style="overflow:auto;width: 100%;height: 300px;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group" style="margin:0px !important">
                    <button type="button" class="btn btn-success" id="CertificateToken_Save">
                        Save
                    </button>
                    <button type="button" class="btn btn-danger" id="CertificateToken_Close">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Model CertificateToken -->
@if (Model.IsAdmin)
{
    <div class="row top-space-10 page-heading">
        <div class="col-md-6">
            <h1>Manage Certificate</h1>
        </div>
        <div class="col-md-6" id="Btnaddnewdoc">
            <input type="button" id="issue_certificate_filter" value="Filter" class="btn btn-default btn-xs pull-right" />
            &nbsp;&nbsp; &nbsp;
            <input type="button" id="issue_certificate" value="Issue Certificate" class="btn btn-default btn-xs pull-right" />

        </div>
    </div>
}
<form class="form-horizontal ks-custom-form">
    <div class="row top-space-10" id="div_Certificatefilter">
        <div class=" row col-md-12">
            <div class="col-md-2">
                <label class=" control-label">Session </label><!-- Form Label -->
                @Html.DropDownList("FilterSession", Model.Sessionlist, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <label class=" control-label">Certificate Type </label><!-- Form Label -->
                <select id="FilterIssueDocTypeId" class="form-control">
                    <option value="" data-ioo="" data-mi="" selected="selected">---Select---</option>
                    @foreach (var item in Model.IssueDocTypeList)
                    {
                        var DocTypeId = "filter_" + item.IssueDocTypeID;
                        <option value='@DocTypeId' data-ioo="@item.IOO" data-mi="@item.MI"
                                data-fc="@item.FC">
                            @item.IssueDoctype
                        </option>
                    }
                </select>

                &nbsp;
            </div>
            @*@if (Model.CerificateMoneyAvaiable)
                {
                    <div id="FilterMoney_div" style="display:none;">
                        <div class="col-md-2">
                            <label class="control-label">Payable Amount</label>
                            @Html.TextBox("FilterPayableAmount", "", new { @class = "form-control", @readonly = "on" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Paid Amount</label>
                            @Html.TextBox("FilterPaidAmount", "", new { @class = "form-control" })
                        </div>
                    </div>
                }*@
            <div class="col-md-2">
                <label class=" control-label">Issue From </label><!-- Form Label -->
                @Html.TextBox("IssueDateFrom", "", new { @class = "IssueDate" })
            </div>
            <div class="col-md-2">
                <label class=" control-label">Issue To</label><!-- Form Label -->
                @Html.TextBox("IssueDateTo", "", new { @class = "IssueDate" })
            </div>
            <div class="col-md-2">
                <label class=" control-label">Certificate No</label><!-- Form Label -->
                @Html.TextBox("FilterDocNo", "", new { @id = "FilterDocNo", @class = "form-control" })
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2">
                <label class="control-label">Reg./Admn. No.</label>
                @Html.TextBox("FilterAdmissionNo", null, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <label class="control-label">Class</label>
                @Html.DropDownList("FilterClass", Model.ClassList, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <label class=" control-label">Student</label>
                @Html.DropDownList("FilterStudent", Model.AvailableStudents, new { @class = "form-control js-example-templating", @style = "width: 100%;" })
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="col-md-2 top-space-20">
                <button type="button" id="certificate_filter" class="btn btn-default">Filter</button>
                <button type="button" id="certificate_reset" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </div>

    <div class="row top-space-10" style="margin-top: 0;margin-bottom: 10px;" id="div_CertificateAdd" hidden>

        @*<div class="col-md-12">*@
        <div class="col-md-2" id="Session_div">
            <label class=" control-label">Session <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.DropDownListFor(m => m.SessionId, Model.Sessionlist, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label class=" control-label">Certificate Type <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <select id="IssueDocTypeId" class="form-control">
                <option value="" data-ioo="" data-mi="" selected="selected" data-fc="">---Select---</option>
                @foreach (var item in Model.IssueDocTypeList)
                {
                    <option value=@item.IssueDocTypeID data-ioo="@item.IOO" data-mi="@item.MI"
                            data-fc="@item.FC">
                        @item.IssueDoctype
                    </option>
                }
            </select>
        </div>

        <div class="col-md-2" id="div_CertReg" hidden>
            <label class="control-label">Reg./Admn. No.</label>
            @Html.TextBox("AdmissionNo", null, new { @class = "form-control" })
        </div>
        <div class="col-md-2" id="div_CertClass" hidden>
            <label class="control-label">Class<i class="fa fa-asterisk ks-required"></i></label>
            @Html.DropDownListFor(model => model.ClassId, Model.ClassList, new { @class = "form-control" })
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.ClassId)
            </div>
            <!-- //Error Message -->
        </div>
        <div class="col-md-2" id="div_CertStu" hidden>
            <label class="control-label">Student<i class="fa fa-asterisk ks-required"></i></label>
            @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new { @class = "form-control js-example-templating", @style = "width: 100%;" })
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
            <!-- //Error Message -->
        </div>
        <div class="col-md-2">
            <label class="control-label">Certificate No<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.TextBox("DocNo", "", new { @id = "DocNo", maxlength = "9", @class = "form-control" })
        </div>

        @*</div>*@

        @if (Model.IsCertificateBackdateAllowed == 1)
        {
            <div class="col-md-2 issuedate_div" style="display:none">
                <div class="">
                    <label class=" control-label">Issue Date <i class="fa fa-asterisk ks-required"></i></label>
                    <div class="">
                        @Html.TextBox("IssueDate", "", new { @class = "IssueDate" })
                    </div>
                </div>
            </div>
        }
        <!-- Form Coulmn -->
        @if (Model.CerificateMoneyAvaiable)
        {
            <div id="Money_div" style="display:none;">
                <div class="col-md-2">
                    <label class="control-label">Payable Amount</label>
                    @Html.TextBoxFor(m => m.PayableAmount, new { @class = "form-control", @readonly = "on" })
                </div>
                <div class="col-md-2">
                    <label class="control-label">Paid Amount</label>
                    @Html.TextBoxFor(m => m.PaidAmount, "", new { @class = "form-control" })
                </div>
            </div>
        }
        <div hidden id="FeeCertificate_Div">
            <div class="col-md-2">
                <label class="control-label">Period<i class="fa fa-asterisk ks-required"></i></label>
                <select id="dpAnnualCharges" class="form-control">
                    <option value="Annual">Annual</option>
                    <option value="Periodic">Periodic</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">Receipt Type<i class="fa fa-asterisk ks-required"></i></label>
                @Html.DropDownListFor(model => model.ReceiptTypeId, Model.UseInFeeCertificateReceiptTypeList, new { @class = "form-control" })
            </div>
            <div class="col-md-2" hidden id="FromDate_Div">
                <label class="control-label">From Date</label>
                @Html.TextBox("FromDate", "", new { @class = "IssueDate" })
            </div>
            <div class="col-md-2" hidden id="ToDate_Div">
                <label class="control-label">To Date</label>
                @Html.TextBox("ToDate", "", new { @class = "IssueDate" })
            </div>

        </div>

        <div class="col-md-3 top-space-20">
            <button type="button" class="btn btn-success" id="save_certificate">
                <i class="fa fa-floppy-o"></i>
                Create
            </button>
            <button type="button" class="btn btn-danger" id="Close_create_certificate">
                <i class="fa fa-ban"></i>
                Cancel
            </button>
        </div>
    </div>
</form>
<div class="row top-space-10">
    <div id="certificate-grid" @*style="width:100%"*@></div>
</div>
<script>

    $(".js-example-templating").select2({
    });

    //create certificate
    //issue date
    var session_id = "";
    var todaysDate_certificate = new Date();
    var pastDate_certificate = new Date();
    if ('@Model.IsCertificateBackdateAllowed' == 1) {
        pastDate_certificate = new Date(2013, 1, 1);
    }

    // function get date as string and return date
    function GetDatMinString(date) {
        //alert(date);
        var datearry = date.split('/');
        var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
        return returnMinDate;
    }


    $(document).ready(function () {
        $('#IncludeHeader').prop('checked', true);
        $("#IssueDate").kendoDatePicker({
            min: pastDate_certificate,
            format: "dd/MM/yyyy",
            max: todaysDate_certificate,
            value: todaysDate_certificate
        });
        $("#IssueDate").attr("readonly", true);

        $("#IssueDateFrom, #IssueDateTo").kendoDatePicker({
            //min: pastDate_certificate,
            format: "dd/MM/yyyy",
            ///max: todaysDate_certificate,

        });
        $("#IssueDateFrom, #IssueDateTo").attr("readonly", true);

        $("#FromDate, #ToDate").kendoDatePicker({
            value: new Date(),
            format: "dd/MM/yyyy",
        });
        $("#FromDate, #ToDate").attr("readonly", true);
    });

    var CertificateValid = true;
    var Certificatevalidationmessage = "";
    var Certificatectrlfocus = "";
    function FormValidation() {
        CertificateValid = true;
        Certificatevalidationmessage = "";
        Certificatectrlfocus = "";

        if ($('#Session_div').css('display') == 'block') {
            if ($('#SessionId').val() == "") {
                if (Certificatectrlfocus == "")
                    Certificatectrlfocus = "#SessionId";
                Certificatevalidationmessage = Certificatevalidationmessage + "Please select Session ε";
                CertificateValid = false;
            }
        }

        if ($('#IssueDocTypeId').val() == "") {
            if (Certificatectrlfocus == "")
                Certificatectrlfocus = "#IssueDocTypeId";
            Certificatevalidationmessage = Certificatevalidationmessage + "Please select Certificate type ε";
            CertificateValid = false;
        }

        if ($('#ClassId').val() == "") {
            if (Certificatectrlfocus == "")
                Certificatectrlfocus = "#ClassId";
            Certificatevalidationmessage = Certificatevalidationmessage + "Please select class ε";
            CertificateValid = false;
        }

        if ($('#StudentId').val() == "" || $('#StudentId').val() == null) {
            if (Certificatectrlfocus == "")
                Certificatectrlfocus = "#StudentId";
            Certificatevalidationmessage = Certificatevalidationmessage + "Please select Student ε";
            CertificateValid = false;
        }


        if ($.trim($('#DocNo').val()) == "") {
            if (Certificatectrlfocus == "")
                Certificatectrlfocus = "#DocNo";
            Certificatevalidationmessage = Certificatevalidationmessage + "Certificate no. required ε";
            CertificateValid = false;
        }

        if ('@Model.IsCertificateBackdateAllowed' == 1) {
            if ($('#IssueDate').val() == "") {
                if (Certificatectrlfocus == "")
                    Certificatectrlfocus = "#IssueDate";
                Certificatevalidationmessage = Certificatevalidationmessage + "Issue date required ε";
                CertificateValid = false;
            }
        }

        var Todate = GetDatMinString(kendo.toString($('#ToDate').val(), "dd/MM/yyyy"));
        var FromDate = GetDatMinString(kendo.toString($('#FromDate').val(), "dd/MM/yyyy"));
        if (new Date(Todate) == new Date(FromDate)) {
            if (Certificatectrlfocus == "")
                Certificatectrlfocus = "#ToDate";
            Certificatevalidationmessage = Certificatevalidationmessage + "To Date should not be equal to From Date ε";
            CertificateValid = false;
        }
        if (new Date(Todate) < new Date(FromDate)) {
            if (Certificatectrlfocus == "")
                Certificatectrlfocus = "#ToDate";
            Certificatevalidationmessage = Certificatevalidationmessage + "To Date should be greater than From Date ε";
            CertificateValid = false;
        }

        if ($.trim($('#PaidAmount').val()) != "") {
            if (parseInt($('#PaidAmount').val()) > parseInt($('#PayableAmount').val())) {
                if (Certificatectrlfocus == "")
                    Certificatectrlfocus = "#PaidAmount";
                Certificatevalidationmessage = Certificatevalidationmessage + "Paid Amount should not be greater than Payable Amount ε";
                CertificateValid = false;
            }
            else if (parseInt($('#PaidAmount').val()) < 0) {
                if (Certificatectrlfocus == "")
                    Certificatectrlfocus = "#PaidAmount";
                Certificatevalidationmessage = Certificatevalidationmessage + "Paid Amount should not be less than zero ε";
                CertificateValid = false;
            }
        }

        if ($("#IssueDocTypeId").find(':selected').attr('data-fc') == "True" || $("#IssueDocTypeId").find(':selected').attr('data-fc') == "true") {
            if ($("#dpAnnualCharges").val() == "") {
                if (Certificatectrlfocus == "")
                    Certificatectrlfocus = "#dpAnnualCharges";
                Certificatevalidationmessage = Certificatevalidationmessage + "Please select Charges ε";
                CertificateValid = false;
            }

            if ($("#ReceiptTypeId option").length == 0) {
                if (Certificatectrlfocus == "")
                    Certificatectrlfocus = "#ReceiptTypeId";
                Certificatevalidationmessage = Certificatevalidationmessage + "Please add Receipt Types ε";
                CertificateValid = false;
            }
        }


        var aa = Certificatevalidationmessage;
        return CertificateValid;
    }

    $("#issue_certificate_filter").click(function () {
        clearfilterfileds();
        $('#div_CertificateAdd').hide();
        $('#div_Certificatefilter').show();
        $('#issue_certificate').show();
        var grid = $('#certificate-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
    });

    $("#FilterIssueDocTypeId").change(function () {
        if ($(this).val() != "") {
            $("#FilterMoney_div").css("display", "block");
            $("#FilterIssueDocTypeTemplates").empty();
            var issuedocid = $(this).val();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("GetDocTypeTemplates", "IssueDoc"))',
                data: { "issuedocid": issuedocid },
                success: function (result) {
                    if (result.PayableAmt != "") {
                        $('#FilterPayableAmount').val(result.PayableAmt);
                        $('#FilterPaidAmount').val(result.PayableAmt);
                    }
                    if (result.CrtSeries != "" && result.CrtSeries != "0") {
                        $("#DocNo").val(result.CrtSeries);
                        $("#DocNo").prop("disabled", true);
                    } else {
                        $("#DocNo").val("");
                         $("#DocNo").prop("disabled", false);
                    }
                    $('#ks_loader').hide();
                },
                error: function (status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else
            $("#Money_div").css("display", "none");
    });


    $("#IssueDocTypeId").change(function () {
        if ($(this).val() != "") {
            $('#ks_loader').show();
            $("#IssueDocTypeTemplates").empty();
            $("#Money_div").show();
            var issuedocid = $(this).val();
            var IsTaxCertificate = $(this).find(':selected').attr('data-fc');
            if (IsTaxCertificate == "True" || IsTaxCertificate == "true") {
                $("#FeeCertificate_Div").show();
                $('#dpAnnualCharges').val("Annual");
                if ($('#dpAnnualCharges').val() == "Annual") {
                    $("#FromDate_Div").hide();
                    $("#ToDate_Div").hide();
                }
                else {
                    $("#FromDate_Div").show();
                    $("#ToDate_Div").show();
                }
            }
            else {
                $("#FeeCertificate_Div").hide();
            }
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("GetDocTypeTemplates", "IssueDoc"))',
                data: { "issuedocid": issuedocid },
                success: function (result) {
                    if (result.PayableAmt != "") {
                        $('#PayableAmount').val(result.PayableAmt);
                        $('#PaidAmount').val(result.PayableAmt);
                    }
                     if (result.CrtSeries != "" && result.CrtSeries != "0") {
                        $("#DocNo").val(result.CrtSeries);
                        $("#DocNo").prop("disabled", true);
                     } else {
                         $("#DocNo").val("");
                         $("#DocNo").prop("disabled", false);
                    }
                    $('#ks_loader').hide();
                },
                error: function (status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            $("#Money_div").css("display", "none");
            $("#FeeCertificate_Div").hide();
        }
    });

    $("#dpAnnualCharges").on("change", function () {
        if ($(this).val() != "") {
            $("#FeeCertificate_Div").show();
            if ($(this).val() == "Periodic") {
                if ($("#SessionId").val() != "") {
                    $("#FromDate_Div").show();
                    $("#ToDate_Div").show();
                    $.ajax({
                        type: "Post",
                        url: '@Html.Raw(Url.Action("SetSessionDates", "IssueDoc"))',
                        data: { "sessionId": $("#SessionId").val() },
                        success: function (result) {
                            if (result.sessionStartDate != "") {
                                $('#FromDate').kendoDatePicker('min', result.sessionStartDate, "dd/MM/yyyy");
                                $('#ToDate').kendoDatePicker('min', result.sessionStartDate, "dd/MM/yyyy");

                                $("#FromDate").val(result.sessionStartDate);
                            }
                            if (result.sessionEndDate != "") {
                                $('#FromDate').kendoDatePicker('max', result.sessionEndDate, "dd/MM/yyyy");
                                $('#ToDate').kendoDatePicker('max', result.sessionEndDate, "dd/MM/yyyy");
                                $("#ToDate").val(result.sessionEndDate);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (status, data) {
                            var err = "Error: " + " " + status + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                else {
                    $("#FromDate_Div").hide();
                    $("#ToDate_Div").hide();
                    $('#dpAnnualCharges').val("Annual");
                    ToastMessage("Please select session first for periodic", "error", true, 5000);
                }
            }
            else {
                $("#FromDate_Div").hide();
                $("#ToDate_Div").hide();
                $('#FromDate').kendoDatePicker(new Date());
                $('#ToDate').kendoDatePicker(new Date());
            }
        }
        else
            $("#FeeCertificate_Div").hide();
    });

    //hide show create certificate div
    $('#issue_certificate').click(function () {
        ClearfieldsAdd();
        clearfilterfileds();
        var grid = $('#certificate-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
    });
    function ClearfieldsAdd() {
        $('#div_CertificateAdd').show();
        $('#div_Certificatefilter').hide();
        $('#issue_certificate').hide();
        $('#save_certificate').text("");
        $('#save_certificate').append('<i class="fa fa-floppy-o"></i> Create');
        $("#IssueDate").val(kendo.toString(new Date(), "dd/MM/yyyy"));
        $('.issuedate_div').css('display', 'inline-block');
        //$('#SessionId').val("");
        //$('#IssueDocTypeId').val("").trigger('change');
        $('#PayableAmount').val("");
        $('#DocNo').val("");
        $('#IssueDocId').val("");
        $('#dpAnnualCharges').val("");
        $("#FeeCertificate_Div").hide();
        $('#FromDate').val("");
        $('#ToDate').val("");
        $('#Session_div').show();
        $('#ClassId').val("");
        $('#AdmissionNo').val("");
        $('#FilterAdmissionNo').val("");
        $('#StudentId').empty();
        $('#AdmissionNo').removeAttr('disabled');
        $('#IssueDocTypeId').val("");
        $('#DocNo').val("");
        $('#IssueDateFrom').val("");
        $('#IssueDateTo').val("");

        $('#IssueDocTypeId').removeAttr('disabled');
        $('#SessionId').removeAttr('disabled');
    }

    $('#certificate_reset').click(function () {
        clearfilterfileds()
        var grid = $('#certificate-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
    })

    $('#certificate_filter').click(function () {
        var grid = $('#certificate-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
    });

    function clearfilterfileds() {
        $('#FilterClass').val('');
        $('#FilterAdmissionNo').val('');
        $('#FilterStudent').empty();
        $('#FilterAdmissionNo').removeAttr('disabled');
        $('#FilterIssueDocTypeId').val('');
        $('#FilterDocNo').val('');
        $('#FilterSession').val('');
        $('#FilterPayableAmount').val("");
        $('#FilterAdmissionNo').val("");
        $("#IssueDateFrom").val("");
        $("#IssueDateTo").val("");
    }

    //close create certificate div
    $('#Close_create_certificate').click(function () {
        $('#SessionId').val("");
        ClearfieldsAdd();
        $('#div_CertificateAdd').hide();
        $('#div_Certificatefilter').show();
        $('#issue_certificate').show();
        $('#issue_certificate').show();
        $("#FeeCertificate_Div").hide();
        clearfilterfileds();
        //$('.create_certificate').hide();
        $('#IssueDocId').val();
        $('.issuedate-filters_div').css('display', 'block');
    });


    $('#PayableAmount,#PaidAmount').keydown(function (e) {
        NumericOnlyWithDecimal(e);
    });

    var receipttypeId = "";
    //create certificate
    $('#save_certificate').click(function () {
        $('#ks_loader').show();
        //$('#CertificateTokens_Div').show();
        $('#CertificateTokensInfo').find('.listTokensValues').html("");
        var FromDate = "";
        var ToDate = "";
        if ($('#FromDate').val() != "")
            FromDate = GetDateFromString($('#FromDate').val());
        if ($('#ToDate').val() != "")
            ToDate = GetDateFromString($('#ToDate').val());

        var isfromvalid = FormValidation();
        if (isfromvalid) {
            //$('#CertificateToken_Save').click();
            $('#listTokensValues').html('');
            $.ajax({
                type: "Get",
                url: '@Html.Raw(Url.Action("GetAllColsValuesOfTemplate", "IssueDoc"))',
                data: {
                    "IssueDocTypeId": $('#IssueDocTypeId').val(), "Session": $("#SessionId").val(),
                    "FromDate": FromDate, "ToDate": ToDate, "StudentId": $("#StudentId").val(),
                    "AnnualSelection": $('#dpAnnualCharges').val(), "ReceiptTypeId": $('#ReceiptTypeId').val()
                },
                success: function (result) {
                    $('#ks_loader').show();
                    $('#hdnIssueDocId').val($('#IssueDocId').val());

                    if (result.status == "success") {

                        if (result.paramColsHasNotValueList.length > 0) {
                            $('#CertificateTokens_Div').show();
                            var space = '&nbsp;&nbsp;';

                            //htmllist += 'style="text-align: end;list-style-type: none;overflow-x: auto;overflow-y: auto;">';
                            var htmllist = '<table id="tblEmptyTokens" style="text-align: left;"><tbody>';
                            var FeeCertificate = false;
                            $.each(result.paramColsHasNotValueList, function (i) {
                                //htmllist += '<li style="margin: 0px 75px 15px 0px;">';
                                htmllist += '<tr><td>';
                                htmllist += '<label>' + result.paramColsHasNotValueList[i].ColsName + '</label></td>';
                                if (result.paramColsHasNotValueList[i].ColsName == "ReceiptType") {
                                    FeeCertificate = true;
                                    var getId = result.paramColsHasNotValueList[i].ColsValue.split("-");
                                    htmllist += '<td>' + space + '<input type="hidden" value="' + getId[1] + '"></input>';
                                    htmllist += '<input type="text" class="form-control" id="' + result.paramColsHasNotValueList[i].ColsId
                                                                + '" value="' + getId[0] + '"></input></td>'
                                }
                                else {
                                    htmllist += '<td>' + space + '<input type="text" class="form-control" id="' + result.paramColsHasNotValueList[i].ColsId
                                                                + '" value="' + result.paramColsHasNotValueList[i].ColsValue + '"></input></td>'
                                }
                                htmllist += '</tr>';
                            });
                            // htmllist += '</ul>'
                            htmllist += '</tbody></table>';
                            $('#CertificateTokensInfo').find('.listTokensValues').append(htmllist);
                            //if ($('#CertificateTokensInfo').find('.listTokensValues').find('ul li').length > 10) {
                            //    $('#CertificateTokensInfo').find('.listTokensValues').find('ul').css("height", "300px");
                            //}
                            if (FeeCertificate)//direct certificate save click in case of fee certificate
                            {
                                $('#CertificateToken_Save').click();
                                $('#CertificateTokens_Div').hide();
                            }
                        }
                        else
                            $('#CertificateToken_Save').click();
                    }
                    else
                        $('#CertificateToken_Save').click();

                    $('#ks_loader').hide();
                },
                error: function (status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            var validationaray = Certificatevalidationmessage.split('ε');
            $('#ks_loader').hide();
            for (var i = 0; i < (validationaray.length - 1) ; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
            // return false;
        }
    });

    $('#CertificateToken_Save').click(function () {

        $('#ks_loader').show();
        //get token values
        var hdnVal = "";
        var colValues = "";
        $.each($('.listTokensValues').find("#tblEmptyTokens tbody  td > input"), function (i) {
            if ($(this).parent().siblings().find("label").text() == "ReceiptType") {
                if (i == 0) {
                    hdnVal = $(this).val();
                }
                else {
                    if ($(this).parent().siblings().find("label").text() == "ReceiptType") {
                        colValues += $(this).attr('id') + "_" + $(this).val() + "-" + hdnVal + ","
                    }
                    else {
                        colValues += $(this).attr('id') + "_" + $(this).val() + ",";
                    }
                }
            }
            else
                colValues += $(this).attr('id') + "_" + $(this).val() + ",";
        });

        var model = new Object();
        model.IssueDocTypeId = $('#IssueDocTypeId').val();
        if ($('#IssueDate').val() != "" && $('#IssueDate').val() != undefined) {
            model.IssueDate = GetDateFromString($('#IssueDate').val());
        }

        //alert(colValues);
        model.ClassId = $('#ClassId').val();
        model.StudentId = $('#StudentId').val();
        model.DocNo = $('#DocNo').val();
        model.SessionId = $('#SessionId').val();
        model.PayableAmount = $('#PayableAmount').val();
        model.PaidAmount = $('#PaidAmount').val();
        model.ArrayTokenValues = colValues;
        model.ReceiptTypeId = $('#ReceiptTypeId').val();
        var issuedocid = $('#IssueDocId').val();
        model.chargestype = $('#dpAnnualCharges').val();
        model.IssueInAYear = $('#IssueDocTypeId').find(':selected').attr('data-mi');
        model.issueonceonly = $('#IssueDocTypeId').find(':selected').attr('data-ioo');
        model.issuefeecetificateonly = $('#IssueDocTypeId').find(':selected').attr('data-fc');
        model.IsCertificateBackdateAllowed = '@Model.IsBackDateAllowed';

        model.SessionStartDate = GetDateFromString($('#FromDate').val());
        model.SessionEndDate = GetDateFromString($('#ToDate').val());
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("CreateCertificate", "Student"))',
            data: model,
            success: function (result) {
                if (result.status == "success") {
                    if (result.IssueDocId != "")
                        $('#IssueDocId').val(result.IssueDocId);
                    ToastMessage(result.msg, "success", true, 5000);

                    $('#SessionId').val("");
                    ClearfieldsAdd();
                    $('#div_CertificateAdd').hide();
                    $('#div_Certificatefilter').show();
                    $('#issue_certificate').show();
                    $('#CertificateToken_Close').click();
                    clearfilterfileds();
                    var grid = $('#certificate-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                }
                else {
                    var validationaray = result.data.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (status, data) {
                var err = "Error: " + " " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    $('#CertificateToken_Close').click(function () {
        $.each($('.listTokensValues').find('li >input'), function () {
            $(this).val("");
        });
        $('#CertificateTokens_Div').hide();
    });


    $('#FilterClass').change(function () {
        // clear data
        $('#FilterAdmissionNo').val("");
        $('#FilterAdmissionNo').attr("disabled", false);
        var classId = $(this).val();
        if (classId > 0) {
            GetStudentsbyClass(classId);
        }
        else {
            $('#FilterStudent option').remove();
        }
    });

    $('#FilterStudent').change(function () {
        $('#FilterAdmissionNo').val("");
        $('#FilterAdmissionNo').attr("disabled", false);

        var studentId = $(this).val();
        if (studentId > 0) {
            GetStudentAdmno(studentId);
        }
    });

    $('#ClassId').change(function () {
        // clear data
        $('#ClassId').val();
        $('#AdmissionNo').val("");
        $('#AdmissionNo').attr("disabled", false);
        var classId = $(this).val();
        if ($('#SessionId').val() != "") {
            if (classId > 0) {

                $('#div_CertStu').show();
                GetStudentsbyClass(classId, session_id);
                // GetFeeTypeByClass(classId);
            }
            else {
                $('#div_CertStu').hide();
                $('#StudentId option').remove();
            }
        }
        else {
            ToastMessage("Please select Session first.", "error", true, 5000);
            ClearfieldsAdd();
        }
    });

    // on change class get student list
    function GetStudentsbyClass(classId, session_id) {

        $('#FilterStudent option').remove();
        $('#StudentId option').remove();
        $('#FeeTypeId option').remove();

        $('#ks_loader').show();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("StudentListbyClass", "IssueDoc"))',
            async: false,
            data: { "Class": classId, "Id": "", "CurrentSession": true, "Session_id": session_id },
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var option = "";
                        if (result.data[i].Selected == true)
                            option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        else
                            option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                        $('#StudentId').append(option);
                        $('#FilterStudent').append(option);
                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                $('#ks_loader').hide();
                ToastMessage(err, "error", true, 5000);
            }
        });
    }

    @*$('#FilterAdmissionNo').blur(function () {
        var admnno = $('#FilterAdmissionNo').val();
        $('#FilterClass').val('');
        $('#FilterStudent').html('');
        //$('#Student_Trans').hide();
        //$('#Student_Trans_Grid tbody').html('');
        // clear data
        //$('#GroupFeeHead_Div').hide();
        //$('#GroupFeeHead_Grid tbody').html('');
        //$('#FeePeriodId').val('');
        //$('#FeeTypeId').val('');

        if (admnno != "") {
            // ajax call get student and class
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetStudentInformationbyAdmnNo", "Fee"))',
                data: { "AdmnNo": admnno },
                success: function (result) {
                    if (result.status == "success") {
                        $('#FilterClass').val(result.ClassVal).trigger('change');
                        if (result.StudentVal > 0)
                            $('#FilterStudent').val(result.StudentVal);
                        else
                            $('#FilterStudent').val('');

                        $('#FilterStudent').trigger('change');
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#FilterStudent').html('');
                        $('#FilterAdmissionNo').val('');
                        $('#FilterAdmissionNo').focus();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });*@

    // Regno or Admission no blur
    $('#AdmissionNo').blur(function () {
        var admnno = $('#AdmissionNo').val();
        $('#ClassId').val('');
        $('#StudentId').html('');
        if (admnno != "") {
            $('#ks_loader').show();
            if ($('#SessionId').val() != "") {
                // ajax call get student and class
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetInformationbyAdmnNo", "IssueDoc"))',
                    data: { "AdmnNo": admnno, "Session_id": session_id },
                    success: function (result) {
                        if (result.status == "success") {

                            $('#ClassId').val(result.ClassVal).trigger('change');
                            if (result.StudentVal > 0)
                                $('#StudentId').val(result.StudentVal);
                            else
                                $('#StudentId').val('');
                            $('#StudentId').trigger('change');
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#StudentId').html('');
                            $('#AdmissionNo').val('');
                            $('#AdmissionNo').focus();
                        }

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                $('#ks_loader').hide();
                ToastMessage("Please select Session first.", "error", true, 5000);
                $('#AdmissionNo').removeAttr('disabled');
                $('#AdmissionNo').val("");
            }
        }
    });

    $('#StudentId').change(function () {

        $('#AdmissionNo').val("");
        $('#AdmissionNo').attr("disabled", false);

        var studentId = $(this).val();
        if ($('#SessionId').val() != "") {
            if (studentId > 0) {
                GetStudentAdmno(studentId);
            }
        }
        else {
            ToastMessage("Please select Session first.", "error", true, 5000);
            ClearfieldsAdd();
        }
    });
    function GetStudentAdmno(studentId) {
        $('#ks_loader').show();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetStudentAdmnoByStudent", "IssueDoc"))',
            data: { "Student": studentId },
            success: function (result) {
                if (result.status == "success") {
                    $('#AdmissionNo').val(result.AdmnNo);
                    $('#AdmissionNo').attr("disabled", true);

                    $('#FilterAdmissionNo').val(result.AdmnNo);
                    $('#FilterAdmissionNo').attr("disabled", true);
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                $('#ks_loader').hide();
                ToastMessage(err, "error", true, 5000);
            }
        });
    }

    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }
</script>

<script>

    //kendo grid for certificate issued view
    $(document).ready(function () {
        $("#certificate-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SelectCertificateList", "Student"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalIssueDocCertificate
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: '@(defaultGridPageSize)',
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            columns: [{
                field: "IssueDocId",
                hidden: true
            }, {
                field: "SessionId",
                hidden: true
            }, {
                field: "IssueDocType",
                title: "Certi. Type",
                width: "100px",
                //template: "#= kendo.toString(kendo.parseDate(KendoIssueDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                sortable: true,
            }, {
                field: "DocNo",
                title: "Certi. No.",
                width: "100px",
                template: '#if(DocNo!=null){#<span class="DocNo_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="#=FullDocNo#"><font color="black">#=DocNo#</font></span>#}#',
                sortable: true,
            }, {
                field: "IssueDate",
                title: "Issued Date",
                width: "100px",
                sortable: true,
            }, {
                field: "StudentAdmiNo",
                title: "Admn. No.",
                width: "100px",
                sortable: true,
            }, {
                field: "Class",
                title: "Class",
                width: "70px",
                sortable: true,
            }, {
                field: "StudentName",
                title: "Student",
                width: "170px",
                sortable: true,
            }, {
                field: "PayableAmount",
                title: "Pay Amt.",
                width: "90px",
                sortable: true,
            }, {
                field: "PaidAmount",
                title: "Paid Amt.",
                width: "90px",
                sortable: true,
            }, {
                field: "IsFeeCertificate",
                hidden: true,
            }, {
                field: "ReceiptTypeId",
                hidden: true,
            }, {
                field: "ClassId",
                hidden: true,
            }, {
                field: "IsTaxCertificate",
                hidden: true,
            }, {
                field: "Charges",
                title: "Charges",
                width: "70px",
                sortable: true
            }, {
                field: "Receipt",
                title: "Receipt",
                width: "100px",
                template: '#if(Receipt != null){#<span class="Receipt_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=Receipt#"><font color="black">#=Receipt#</span>#}#',
                sortable: true,
                hidden: true,
            }, {
                field: "IssueDocId",
                title: "Action",
                width: "150px",
                sortable: false,
                template:
                    @if (Model.IsAdmin)
                            {
                                <text>
                            '#if(IsCertificateAllowedToDelte || !IsPrinted){# <a class="Delete_certificate btn btn-xs btn-default" data-id="#=IssueDocId#" title="Delete" ><i class="fa fa-trash" aria-hidden="true"></i></a>#}#'
                            </text>
                            }

                    + '<a href="javascript:void(0);" title="Print" data-id="#=IssueDocId#" dataid2="#=IsFeeCertificate#" dataid1="#=StudentId#" class="clsprintdocument k-grid-print btn btn-xs btn-default"  ><i class="fa fa-print"></i></a>'
            }]
        });
    });


    var FeeCertificate = "";
    var StudentId = "";
    var sessionId = "";
    var ClassId = "";
    var detailType = "";
    var taxcertificate = "";
    $("#certificate-grid").on("click", ".clsprintdocument", function (e) {
         
        var IssueDocId = $(this).attr('data-id');
        StudentId = $(this).attr('dataid1');
        FeeCertificate = $(this).attr('dataid2');
        var row = $(this).parent().parent();
        sessionId = row.find("td:nth-child(2)").text();
        ClassId = row.find("td:nth-child(13)").text();
        taxcertificate = row.find("td:nth-child(14)").text()
         if (StudentId != "" && ClassId != "") {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetStudentAssignedSubjects", "Subject"))',
                data: { "Student": StudentId,"Class": ClassId},
                success: function (result) {
                    if (result.status == "success") {
                        if (result.IsSubjectAssigned == true) {
                             $('#Certificate_Div').show();
                                if ($('#IncludeHeader').prop('checked') == true)
                                    $('#IncludeHeader').prop('checked', true);
                                else
                                    $('#IncludeHeader').prop('checked', false);

                                //alert(IssueDocId);
                                $('#IssueDocumentId').val(IssueDocId);
                                if (taxcertificate == "True" || taxcertificate == "true") {
                                    $("#Certificate_Div").find("#Detail_Div").show();
                                    $("#Certificate_Div").find("input[id=Detail2]").prop("checked", true);
                                }
                                else {
                                    $("#Certificate_Div").find("#Detail_Div").hide();
                                }
                        } else {
                            if (window.confirm("Subject to the Student not Assigned.Please Assign Student Class Subject.")) {
                                $('#Certificate_Div').show();
                                if ($('#IncludeHeader').prop('checked') == true)
                                    $('#IncludeHeader').prop('checked', true);
                                else
                                    $('#IncludeHeader').prop('checked', false);

                                //alert(IssueDocId);
                                $('#IssueDocumentId').val(IssueDocId);
                                if (taxcertificate == "True" || taxcertificate == "true") {
                                    $("#Certificate_Div").find("#Detail_Div").show();
                                    $("#Certificate_Div").find("input[id=Detail2]").prop("checked", true);
                                }
                                else {
                                    $("#Certificate_Div").find("#Detail_Div").hide();
                                }
                            } else{

                            }
                        }
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
       
    });

    $("#Certificate_Print").click(function () {
        if ($("#Certificate_Div").find("input[id=Detail1]").prop("checked"))
            detailType = "With Detail";
        else
            detailType = "Without Detail";

        var DocId = $("#IssueDocumentId").val();
        //alert($("#IssueDocumentId").val());
        window.open("../IssueDoc/PrintCertificate?IssueDocId=" + DocId + "&StudentId=" + StudentId + "&ReceiptType=" + $('#ReceiptTypeId').val()
                                + "&hasHeader=" + $('#IncludeHeader').prop('checked') + "&Session=" + sessionId + "&ClassId=" + ClassId
                                + "&DetailType=" + detailType + "&IsFeeCertificate=" + FeeCertificate, '_blank');

        $('#Certificate_Div').hide();
        //window.open(window.location,"_blank");
    });

    $("#close_Certificate_Div").click(function () {
        $('#Certificate_Div').hide();
    });

    //delete certificate
    $("#certificate-grid").on("click", ".Delete_certificate", function (e) {
        var IssueDocId = $(this).attr('data-id');
        $('#ks_loader').show();
        if (confirm("Are you sure want to delete this certificate")) {
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("DeleteCertificate", "Student"))',
                data: { "IssueDocId": IssueDocId },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.data, "success", true, 5000);
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                    var grid = $('#certificate-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1

                },
                error: function (status, data) {
                    var err = "Error: " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            $('#ks_loader').hide();
            return false;
        }
    });

    $(document).on("mouseover", ".Receipt_tooltip_cls", function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).on("mouseover", ".DocNo_tooltip_cls", function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $("#SessionId").on('change', function () {
        if ($(this).val() == "") {
            $("#ToDate_Div").hide();
            $('#div_CertReg').hide();
            $('#div_CertClass').hide();
            $('#dpAnnualCharges').val("Annual");
        }
        else {
            session_id = $(this).val();
            $('#div_CertReg').show();
            $('#div_CertClass').show();
        }
        ClearfieldsAdd();
    });

    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    function additionalIssueDocCertificate() {
        var IssueDocTypeId = $('#FilterIssueDocTypeId').val().split("_");
        var data = {
            EncStudentId: "@Model.EncStudentId",
            ClassId: $('#FilterClass').val(),
            AdmissionNo: $('#FilterAdmissionNo').val(),
            StudentId: $('#FilterStudent').val(),
            IssueDocTypeId: IssueDocTypeId[1],
            SessionId: $('#FilterSession').val(),
            DocNo: $('#FilterDocNo').val(),
            IssueDateFrom: $("#IssueDateFrom").val() != "" ? $("#IssueDateFrom").val() : "",//GetDateFromString($('#IssueDateFrom').val()) : "",
            IssueDateTo: $('#IssueDateTo').val() != "" ? $('#IssueDateTo').val() : "",

        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(document).on("keypress", "#DocNo", function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    })
</script>
