﻿@model ViewModel.ViewModel.Student.PreferredContactModel
@{
    ViewBag.Title = "Preferred Contact";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style>
    .filterCheckbox {
        margin-top: 20px;
    }
</style>

<div class="modal fade" id="phoneModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title phonemodalheader">Edit User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding: 0;">
                        <div class="col-md-9">
                            <label class="control-label">Contact No<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <input type="text" class="form-control" id="contactNo" onkeypress="return isNumberKey(event)" />
                        </div>
                    </div>
                    <div class="col-md-12" style="float:right;text-align:right">
                        <div class="top-space-20">
                            <button type="button" name="UpdateUser" class="btn btn-success" id="UpdateContact">
                                Save
                            </button>
                            <button type="button" name="reset" class="btn btn-danger" id="resetModal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeFilesDetail" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Preferred Contact</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="javascript:void(0)" id="filtersPreferredContact" class="btn btn-xs btn-default">Filters</a>
    </div>
</div>
<div class="row top-space-10" style="display: none" id="filter_pfcontact_div">
    <div class="col-md-3">
        <label class="custom-label">Session</label>
        @Html.DropDownListFor(p => p.SessionId, Model.AvaiableSessions, new { @class = "form-control", @id = "filterSessionId" })
    </div>
    <div class="col-md-3">
        <label class="custom-label">Class</label>
        @Html.DropDownListFor(p => p.ClassId, Model.AvaiableClasses, new { @id = "filterClassId", @class = "form-control" })
    </div>
    <div class="col-md-3">
        <label class="custom-label">Student</label>
        @Html.DropDownListFor(p => p.EncStudentId, Model.AvaiableStudents, new { @id = "filterStudentId", @class = "form-control" })
    </div>
    <div class="col-md-3">
        <label class="custom-label">AdmnNo.</label>
        @Html.TextBox("AdmsnRegNo", "", new { @class = "form-control", @style = "width:100%" })
    </div>
    <div class="col-md-3 filterCheckbox">
        @Html.CheckBoxFor(p => p.IsMissingPreferredContact, new { @id = "filterIsMissingPreferredContact", @class = "" })
        <label class="custom-label">Missing Preferred Contact</label>
    </div>
    <div class="col-md-3 filterCheckbox">
        @Html.CheckBoxFor(p => p.IsMissingContactNo, new { @id = "filterIsMissingContactNo", @class = "" })
        <label class="custom-label">Missing ContactNo</label>
    </div>
    <div class="col-md-3 filterCheckbox">
        @Html.CheckBoxFor(p => p.IsMissingUserAccount, new { @id = "filterIsMissingUserAccount", @class = "" })
        <label class="custom-label">Missing User Account</label>
    </div>

    <div class="col-md-3">
        <div class="top-space-20" style="float: right">
            <button type="button" name="filter" class="btn btn-success" id="filter">
                Filter
            </button>
            <button type="button" name="reset" class="btn btn-danger" id="resetfilter">
                Reset
            </button>
        </div>
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12">
        <div id="PreferredContact-grid"></div>
        <script>
            $(document).ready(function () {
                $("#PreferredContact-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("PFContactList", "Student"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function (data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                serverPaging: true,
                    serverFiltering: true,
                        serverSorting: true
            },
                autoBind: false,
                //dataBound: onDataBound,
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
        },
        scrollable: false,
            sortable: true,
                columns: [
                    //    {
                    //    field: "EncStudentId",
                    //    attributes: { "class": "clsstudent"},
                    //    hidden: true
                    //},
                    //{
                    //    field: "GuardianId",
                    //    attributes: {"class": "clsguardian"},
                    //    hidden: true
                    //},
                    {
                        field: "Class",
                        title: "Class",
                        sortable: true,
                    },
                    {
                        field: "StudentName",
                        title: "Student",
                        sortable: true,
                    }, {
                        field: "Guardian",
                        title: "Guardian",
                        sortable: true,
                    }, {
                        field: "IsPreferredGuardian",
                        title: "Preferred Guardian",
                        template: "#if(IsPreferredGuardian && ContactNo!=''&& ContactNo!=null){#<input type='checkbox' class='clsPreferredGuardian'  data-id='#=GuardianId#' style='margin-left: 70px' name='PreferredGuardian' checked>#}"
                            + "else if(IsPreferredGuardian && (ContactNo==''|| ContactNo==null)){#<input data-id='#=GuardianId#' type='checkbox' class='clsPreferredGuardian' style='margin-left: 70px' name='PreferredGuardian' checked disabled>#}"
                            + "else if(ContactNo==''|| ContactNo==null){#<input data-id='#=GuardianId#' type='checkbox' class='clsPreferredGuardian' style='margin-left: 70px' name='PreferredGuardian' disabled>#}"
                            + "else{#<input data-id='#=GuardianId#' type='checkbox' class='clsPreferredGuardian' style='margin-left: 70px' name='PreferredGuardian'>#}#",
                        sortable: true,
                    }, {
                        field: "UserAccount",
                        title: "UserAccount",
                        sortable: true,
                    }, {
                        field: "ContactNo",
                        title: "Contact",
                        template: "#if(ContactNo=='' || ContactNo==null){#<label class='addPhone' title='Add Contact' style='cursor:pointer' data-id='#=GuardianId#'>...</label>#}"
                            + "else{#<label class='editPhone' title='Edit Contact' style='cursor:pointer' data-cntct='#=ContactNo#' data-id='#=GuardianId#'>#=ContactNo#</label>#}#",
                        //  sortable: true,
                    }
                    //     , {
                    //    field: "Action",
                    //    title: "Action",
                    //    template: "#if(ContactNo=='' || ContactNo==null){#<a class='btn btn-xs btn-default addPhone' title='Add Contact' style='cursor:pointer' data-id='#=GuardianId#'><i class='fa fa-phone'></i></a>#}"
                    //        + "else{#<a class='btn btn-xs btn-default editPhone' title='Edit Contact' style='cursor:pointer' data-cntct='#=ContactNo#' data-id='#=GuardianId#'><i class='fa fa-phone'></i></a>#}#",
                    //}
                ]
                });
        var grid = $('#PreferredContact-grid').data('kendoGrid');
        grid.dataSource.page(1);
            });
        </script>
    </div>
</div>

<script>
    function additionalData() {
        var data = {
            SessionId: $("#filterSessionId").val(),
            EncStudentId: $("#filterStudentId").val(),
            ClassId: $("#filterClassId").val(),
            IsMissingUserAccount: $("#filterIsMissingUserAccount").prop("checked"),
            IsMissingContactNo: $("#filterIsMissingContactNo").prop("checked"),
            IsMissingPreferredContact: $("#filterIsMissingPreferredContact").prop("checked"),
        };
        addAntiForgeryMasterToken(data);
        return data;
    }
    addAntiForgeryMasterToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    // $(".select2-drop-down").select2();
    $(document).ready(function () {
        $('#filtersPreferredContact').click(function () {
            if ($('#filter_pfcontact_div').css('display') != 'none') {
                $('#filter_pfcontact_div').hide();
            }
            else {
                $('#filter_pfcontact_div').show();
            }
        });

        $("#resetfilter").click(function () {
            $("#filterSessionId").val('@Model.SessionId');
            $("#filterClassId").val("");
            $("#filterStudentId").val("");
            $('#AdmsnRegNo').val("");
            $("#filterIsMissingUserAccount").prop("checked", false);
            $("#filterIsMissingContactNo").prop("checked", false);
            $("#filterIsMissingPreferredContact").prop("checked", false);
            var grid = $('#PreferredContact-grid').data('kendoGrid');
            grid.dataSource.page(1);
        })
        $("#filter").click(function () {
            var grid = $('#PreferredContact-grid').data('kendoGrid');
            grid.dataSource.page(1);
        })
    })
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    var Grdn = "";
    var Stdnt = "";
    $(document).on('click', '.addPhone', function () {
        Grdn = $(this).attr("data-id");
        $(".phonemodalheader").text("Add Contact No");
        $("#UpdateContact").text("Save");
        if (Grdn != "" && Grdn != null) {
            $("#phoneModal").modal('show');
            $("#contactNo").val("");
        }
    })
    $(document).on('click', '.editPhone', function () {
        Grdn = $(this).attr("data-id");
        var Cntct = $(this).attr("data-cntct");
        $("#UpdateContact").text("Update");
        $(".phonemodalheader").text("Add Contact No");
        if (Grdn != "" && Grdn != null) {
            $("#phoneModal").modal('show');
            $("#contactNo").val("");
            if (Cntct != "" && Cntct != null) {
                $("#contactNo").val(Cntct);
            }
        }
    })
    $("#resetModal").click(function () {
        Grdn = "";
        $("#phoneModal").modal('hide');
    })

    $(document).on('click', '.clsPreferredGuardian', function () {
        var GuardianId = $(this).attr("data-id");
        var IsTrue = $(this).prop("checked");
        //var IstContact = $(this).attr("data-istcntctid");
        //if (IstContact == "" || IstContact == null || IstContact == "0" || IstContact == 0) {
        //   ToastMessage("Invalid Guardian", "success", true, 5000);
        //   return false;
        //}
        if (GuardianId != "" && GuardianId != null) {
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: "@Html.Raw(Url.Action("UpdatePreferredContact", "Student"))",
                data: jQuery.param({ "GuardianId": GuardianId, "IsTrue": IsTrue }),
                success: function (result) {
                    if (result.status == "success") {
                        var grid = $('#PreferredContact-grid').data('kendoGrid');
                        grid.dataSource.page(1);
                        ToastMessage(result.mes, "success", true, 5000);
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.mes, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function () {
                    alert("Error");
                    $('#ks_loader').hide();
                }
            });
        }
    })

    $("#UpdateContact").click(function () {
        var ContactInfo = $("#contactNo").val();
        if (ContactInfo == "" || contactNo == null) {
            ToastMessage("Contact Number Required", "success", true, 5000);
            $('#ks_loader').hide();
            return false;
        }
        if (Grdn == "" || Grdn == null) {
            ToastMessage("Invalid Guardian", "success", true, 5000);
            $('#ks_loader').hide();
            return false;
        }
        $('#ks_loader').show();
        $.ajax({
            type: "Post",
            url: "@Html.Raw(Url.Action("UpdateContactNo", "Student"))",
            data: jQuery.param({ "GuardianId": Grdn, "ContactNo": ContactInfo }),
            success: function (result) {
                if (result.status == "success") {
                    CloseModal();
                    var grid = $('#PreferredContact-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                    ToastMessage(result.mes, "success", true, 5000);
                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.mes, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            },
            error: function () {
                alert("Error");
                $('#ks_loader').hide();
            }
        });
    })
    function CloseModal() {
        Grdn = "";
        $("#phoneModal").modal('hide');
        $("#contactNo").val("");
    }
    @* $("#SessionId").change(function () {
        if ($("#SessionId").val() != "") {
            $.ajax({
                type: "Post",
                url: "@Html.Raw(Url.Action("GetClassListBySession", "Student"))",
                data: jQuery.param({ "SessionId": $("#SessionId").val() }),
                success: function (result) {
                    if (result.status == "success") {

                    }
                    else {
                        ToastMessage(result.mes, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function () {
                    alert("Error");
                    $('#ks_loader').hide();
                }
            });
        }
    }) *@

    $("#filterClassId").change(function () {

        var classid = $("#filterClassId").val();
        var SessionId = $("#filterSessionId").val();
        $("#filterStudentId").val("");
        $("#filterStudentId").html("");
        $('#AdmsnRegNo').val("");
        if (classid != "" && classid > 0) {
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                async: false,
                url: '@Html.Raw(Url.Action("GetAllStudentListByClass", "Student"))',
                data: { "ClassId": classid, "SessionId": SessionId },
                success: function (result) {
                    $("#filterStudentId").empty();
                    $.each(result.StudentList, function (value, data) {
                        $("#filterStudentId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                    })
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    $('#ks_loader').hide();
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });

        }
    })

    $("#filterStudentId").change(function () {
        var classid = $("#filterClassId").val();
        var studentId = $("#filterStudentId").val();
        var SessionId = $("#filterSessionId").val();

        if (studentId != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                async: true,
                url: '@Html.Raw(Url.Action("GetRegNoByStudentId", "Transport"))',
                data: { "studentId": studentId },
                success: function (result) {
                    if (result.status == "success") {
                        $("#AdmsnRegNo").val(result.AdmnNo);
                        $('#ks_loader').hide();
                    }
                    else {
                        alert(result.status);
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, data) {
                    $('#ks_loader').hide();
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            $("#AdmsnRegNo").val("");
        }
    })

    $('#AdmsnRegNo').blur(function () {
        $('#ks_loader').show();
        var admnno = $('#AdmsnRegNo').val();
        var SessionId = $("#filterSessionId").val();
        // $('#filterClassId').val('');
        $('#filterStudentId').html('');
        $("#filterStudentId").append("<option value=''>--Select Student--</option>");
        if (admnno != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                async: false,
                url: '@Html.Raw(Url.Action("GetStudentClassByRegNo", "Transport"))',
                data: { "AdmnNo": admnno, "SessionId": SessionId },
                success: function (result) {
                    if (result.status == "success") {
                        $('#filterStudentId').html('');
                        if (result.Class > 0) {
                            $('#filterClassId').val(result.Class);
                            $('#filterClassId').trigger('change');
                            if (result.Student != "" && result.Student != null)
                                $('#filterStudentId').val(result.Student);
                            $('#AdmsnRegNo').val(admnno)
                        }
                    }
                    else {
                        ToastMessage(result.status, "error", true, 5000);
                        $('#StudentId').html('');
                        $('#AdmsnRegNo').val('');
                        $('#AdmsnRegNo').focus();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        $('#ks_loader').hide();
    })
</script>
