﻿@model ViewModel.ViewModel.Student.StudentProfileModel

@{
    Layout = null;
    var crntdate = DateTime.UtcNow.ToLocalTime().ToString("dd/MM/yyyy");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration Slip</title>
</head>
<body onload="window.print()">
    <div style="width:590px; margin:0 auto">
        <table border="0" cellspacing="0" cellpadding="5" style="width:580px; border:1px dashed #ccc; font-size:12px; color:#000; font-family:arial">
            <tr>
                <td style="width:70px; border-bottom:1px solid #ccc" valign="middle">
                    <img src="@Model.SchoolLogo" style="width:70px;">
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #ccc">
                    <h2 style="margin-bottom:0;">@Model.SchoolHeader</h2>
                    <p style="margin-top:0">@Model.SchoolAddress</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top">
                    <table cellspacing="0" cellpadding="5" style="width:100%; border:0; font-size:12px; color:#000; font-family:arial">
                        <td width="360" valign="middle">
                            <h2 style="line-height:40px; text-decoration:underline; text-align:right">Registration Slip</h2>
                        </td>
                        <td align="right" valign="middle">
                            <b>Session : </b>@Model.sessionname
                        </td>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span style="float:left; font-size:16px; margin-left:5px;"><b>Regn. No. : </b>@Model.RegistrationNo</span>
                    <span style="float:right; font-size:16px; margin-right:5px;"><b>Date : </b>@crntdate</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top">
                    <table cellspacing="0" cellpadding="5" style="width:100%; border:0; font-size:12px; color:#000; font-family:arial">

                        <tr>
                            <td>
                                <b>Standard :</b> @Model.EnteranceStandard
                            </td>
                            <td>
                                <b>Date of Registration :</b> @Model.DOJ
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Candidate Name :</b> @Model.StudentName
                            </td>
                            <td>
                                <b>Father Name :</b> @Model.FatherName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Date of Birth :</b> @Model.DOB
                            </td>
                            <td>
                                <b>Category :</b> @Model.Category
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right" style="font-size:16px;">
                    <br><br><br>
                    Authorized Signatory
                    <br><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Note: Registration doesn't entitle the candidate to be admitted in school.
                    <br><br>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

