﻿@model ViewModel.ViewModel.Student.StudentProfileModel

@{
    ViewBag.Title = "Student Profile";
    //Layout = null;
    var imagecount = 0;
    if (ViewBag.ImageList != null)
    {
        foreach (dynamic image in ViewBag.ImageList)
        {
            if (image != null)
            {
                imagecount++;
            }
        }
    }
}
@Html.HiddenFor(m => m.SelectedSessionId)
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>View Student Profile</h1>
    </div>
    @if (Model.IsAdmin)
    {
        <div class="col-md-6 text-right">
            <a href="@Html.Raw(Url.Action("List", "Student"))" class="btn btn-xs btn-default">back</a>
        </div>
    }
</div>
<!-- //Page Heading -->
<style>
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<!-- Page Controls -->
@*Image view*@
<div class="modal-popup" id="Image_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Parent's/Guardian's Detail</h4>
            </div>

            <div class="row modal-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 parents-list no-padding">
                    @if (ViewBag.ImageList != null)
                    {
                        foreach (dynamic image in ViewBag.ImageList)
                        {
                            if (image != null)
                            {
                                <div class="col-md-3  text-center parents-list no-padding">
                                    @if (image.ParentName != null)
                                    {
                                        <p>@image.ParentType</p>
                                    }
                                    @if (image.Image != null)
                                    {
                                        <img width="80" height="80" src="@image.Image" />
                                    }
                                    @if (image.ParentName != null)
                                    {
                                        <p class="detail-text">@image.ParentName</p>
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row top-space-10">
    @if (Model.IsAdmin)
    {
        <div class="col-md-12 filterStduentDiv">
            <div class="col-md-3">
                <label class=" control-label">Reg./AdmnNo.</label>
                @Html.TextBoxFor(model => model.AdmissionNo, new { @class = "form-control", @style = "width: 90%;height: 28px;", @placeholder = "Admission no.", @id = "filterAdmsnRegNo" })
                @*<input type="text" id="filterAdmsnRegNo" class="" style="width: 90%;height: 28px;" placeholder="Admission no." />*@
            </div>
            <div class="col-md-3">
                <label class=" control-label">Select Class</label>
                @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control drop-down", @id = "filterClassId" })
            </div>
            <div class="col-md-3">
                <label class=" control-label">SelectStudent</label>
                @Html.DropDownListFor(model => model.EncStudentId, Model.AvailableStudents, new { @class = "form-control drop-down", @id = "filterEncStudentId" })
            </div>
            <div class="col-md-3">
                <button type="button" id="Go" style="float: left;margin-top: 20px;" class="btn btn-success">Go</button>
            </div>
        </div>
    }
        <div class="col-md-12">
            <form class="ks-custom-form form-horizontal">
                @*call partial view*@
                <!-- Content Area -->
                <div class="row">
                    <div class="student_profile">
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profile-left">
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profile-img">
                                <div class="img-thumbal"><img class="img-responsive" style="width:125px;height: 125px;" src="@Model.StudentImage" /></div>
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 student-detail-list">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h3>@Model.StudentName</h3>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    @if (Model.CurrentClass != null)
                                    {
                                        <p>Class: @Model.CurrentClass</p>
                                    }

                                    @if (Model.CurrentClassRollno != null)
                                    {
                                        <p>Roll No: @Model.CurrentClassRollno</p>
                                    }
                                    @if (Model.BoardRollno != null)
                                    {
                                        <p>Board Roll No.: @Model.BoardRollno</p>
                                    }
                                    @if (Model.PhoneNo != null)
                                    {
                                        <p>Mobile Number: @Model.PhoneNo</p>
                                    }
                                    @if (Model.Email != null)
                                    {
                                        <p>Email: @Model.Email</p>
                                    }
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                                    @if (Model.RegistrationNo != null)
                                    {
                                        <p>Reg. Number: @Model.RegistrationNo</p>
                                    }
                                    @if (Model.AdmissionNo != null)
                                    {
                                        <p>Admission No: @Model.AdmissionNo</p>
                                    }
                                    @if (Model.House != "")
                                    {
                                        <p>House:@Model.House</p>
                                    }
                                    @if (Model.Status != null)
                                    {
                                        <p>Current Status: @Model.Status</p>
                                    }
                                    @if (Model.IsStaffChild)
                                    {
                                        <p>Staff Child: Yes</p>
                                    }
                                    else
                                    {
                                        <p>Staff Child: No</p>
                                    }
                                    @if (Model.SMSMobileNo != null)
                                    {
                                        <p>SMS Mobile No: @Model.SMSMobileNo</p>
                                    }



                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profile-right">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                                <h3>Parent's detail</h3>
                            </div>
                            @*@foreach (var item in Model.StudentParentInfolist)//forprofile
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parents-list no-padding">
                                        @if (item.ParentName != null)
                                        {
                                            <p>@item.ParentType 's Name:</p>
                                        }
                                        @if (item.Contact != "")
                                        {
                                            <p>Contact No:</p>
                                        }
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right parents-list no-padding">
                                        @if (item.ParentName != null)
                                        {
                                            <p class="detail-text">@item.ParentName</p>
                                        }
                                        @if (item.Contact != "")
                                        {
                                            <p class="detail-text">@item.Contact</p>
                                        }
                                    </div>

                                }*@
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 parents-list no-padding">

                                @if (ViewBag.ImageList != null)
                                {
                                    var count = 0;
                                    foreach (dynamic item in ViewBag.ImageList)
                                    {
                                        if (item != null && count < 2)
                                        {

                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center parents-list no-padding">
                                                @if (item.ParentName != null)
                                                {
                                                    <p>@item.ParentType</p>
                                                }
                                                @if (item.Image != null)
                                                {
                                                    <img width="45" height="45" src="@item.Image" />
                                                }


                                                @if (item.ParentName != null)
                                                {
                                                    <p class="detail-text">@item.ParentName</p>
                                                }

                                            </div>
                                            count++;
                                        }
                                    }
                                }
                                else
                                {
                                    var count = 0;
                                    foreach (var item in Model.StudentParentInfolist)//forprofile
                                    {
                                        if (count < 2)
                                        {
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center parents-list no-padding">
                                                @if (item.ParentName != null)
                                                {
                                                    <p>@item.ParentType</p>
                                                }
                                                @if (item.Image != null)
                                                {
                                                    <img width="45" height="45" src="@item.Image" />
                                                }


                                                @if (item.ParentName != null)
                                                {
                                                    <p class="detail-text">@item.ParentName</p>
                                                }

                                            </div>
                                            count++;
                                        }
                                    }
                                }




                                @if (imagecount > 2)
                                {
                                    <input id="ImageList" type="button" class="btn btn-xs btn-default pull-right" value="See More..." />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('#ImageList').click(function () {
                        $('#Image_div').show();
                    })
                    $('#close_div').click(function () {
                        $('#Image_div').hide();
                    })

                </script>

                <!-- Content Area -->
                <div class="row  top-space-10"></div>
                @Html.Partial(Model.ViewName, Model)

                <script>
                    // function get date as string and return date
                    function GetDateFromString(date) {
                        var datearry = date.split('/');
                        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                        return returnFromDate;
                    }


                </script>
            </form>
        </div>
    </div>
<!-- Page Controls -->
<script>
            /// Select Student Filter Functions
        $('#filterAdmsnRegNo').blur(function () {
            $('#ks_loader').show();
            var admnno = $('#filterAdmsnRegNo').val().trim();
            $('#filterClassId').val('');
            $('#filterEncStudentId').html('');
            $("#filterEncStudentId").append("<option value=''>--Select Student--</option>");
            if (admnno != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Get",
                    async: false,
                    url: '@Html.Raw(Url.Action("StudentClassByRegNo", "Student"))',
                    data: { "AdmnNo": admnno, "SessionId": $("#SelectedSessionId").val() },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#filterEncStudentId').html('');

                            if (result.Class > 0) {
                                $('#filterClassId').val(result.Class);
                                $('#filterClassId').trigger('change');
                                if (result.Student != "" && result.Student != null)
                                    $('#filterEncStudentId').val(result.Student);
                                $('#filterAdmsnRegNo').val(admnno)
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#filterEncStudentId').html('');
                            $("#filterEncStudentId").append("<option selected value=''>--Select Student--</option>");
                            $('#filterAdmsnRegNo').val('');
                        //    $('#filterAdmsnRegNo').focus();
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            $('#ks_loader').hide();
        })

        $("#filterClassId").change(function () {
            var classid = $("#filterClassId").val();

            $("#filterEncStudentId").val("");
            $("#filterEncStudentId").html("");
            //--//     $('#filterAdmsnRegNo').val("");
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                async: false,
                url: '@Html.Raw(Url.Action("StudentListByClassId", "Student"))',
                data: { "ClassId": classid, "SessionId": $("#SelectedSessionId").val() },
                success: function (result) {
                    $("#filterEncStudentId").empty();
                    $.each(result.StudentList, function (value, data) {
                        $("#filterEncStudentId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                    })
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    $('#ks_loader').hide();
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });

        });
        $("#filterEncStudentId").change(function () {
            var classid = $("#filterClassId").val();
            var studentId = $("#filterEncStudentId").val();
            if (studentId != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("RegNoByStudentId", "Student"))',
                    data: { "studentId": studentId, "SessionId": $("#SelectedSessionId").val() },
                    success: function (result) {
                        if (result.status == "success") {
                            $("#filterAdmsnRegNo").val(result.AdmnNo);
                            $('#ks_loader').hide();
                        }
                        else {
                            $("#filterEncStudentId").val("");
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $("#filterAdmsnRegNo").val("");
            }
        })
        $("#Go").click(function () {
            debugger;
            if ($("#filterEncStudentId").val() != "" && $("#filterEncStudentId").val() != null) {
                var encSid = $("#filterEncStudentId").val();
                //window.location.href = "StudentProfile?Id=" + encSid + "&CurrSelectedSessionId=" + $("#SelectedSessionId").val() + ""
                window.location.href = "@Url.Content("~/")Student/StudentProfile?Id=" + encSid + "&CurrSelectedSessionId=" + $("#SelectedSessionId").val() + "";
            }
            else {
                ToastMessage("Please Select Student First", "error", true, 5000);
                return false;
            }
        })
</script>