﻿@model ViewModel.ViewModel.Student.StudentLedgerModel

@{
    ViewBag.Title = "Student Ledger";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;

}
<style type="text/css">
    .form-group {
        margin-right: 5px;
    }
</style>
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Student Ledger</h1>
    </div>
</div>

<div class="row top-space-10">
    <div class="col-md-12" style=" padding: 0px;">
        <form class="form-inline ks-custom-form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">Admission No.</label>
                @Html.TextBoxFor(model => model.AdmnNo, new { @class = "form-control", @autofocus = "on" })
            </div>
            <div class="form-group">
                <label class="control-label">Class</label>
                @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Student</label>
                @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "" })
            </div>
            <div class="form-group">
                <label class="control-label">To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "" })
            </div>
            <div class="form-group">
                <label class="control-label">Ledger Type </label>
                <input type="radio" id="hdnSummary" name="summDetail" value="Summary" checked="checked" /> Summary
                <input type="radio" id="hdnDetail" name="summDetail" value="Detail" /> Detail
                @Html.HiddenFor(model => model.Ledgertype)
            </div>
            <div class="form-group">
                <button type="button" id="search-student" class="btn btn-default">Show Ledger</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div id="ledger-grid" style="display:none;">
            <script>
                $(document).ready(function () {
                    $("#ledger-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("GetStudentLedger", "Student"))",
                                    type: "POST",
                                    dataType: "json",
                                    contentType: "application/json",
                                    data: additionalData
                                },
                                parameterMap: function (data) {
                                    return JSON.stringify(data);
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: '@(defaultGridPageSize)',
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: false
                        },
                        dataBound: onDataBound,
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        scrollable: false,
                        sortable: true,
                        columns: [

                            {
                                field: "Date",
                                title: "Date",
                                sortable: true,
                                hidden: '#if(LedgerType == "Summary") {# true # } #'

                            }, {
                                field: "Headername",
                                title: "Particular",
                                sortable: true
                            }, {
                                field: "Credit",
                                title: "Credit",
                                sortable: true
                            }, {
                                field: "Debit",
                                title: "Debit",
                                sortable: true
                            }, {
                                field: "WaivedAmount",
                                title: "Waived Off Amount",
                                sortable: true
                            },
                         {
                             field: "Balance",
                             title: "Balance",
                             sortable: true
                         }
                        ]
                    });
                    var grid = $("#ledger-grid").data("kendoGrid");
                });

                function onDataBound(arg) {
                    $('[data-toggle=tooltip]').tooltip();

                }

                function additionalData() {
                    var data = {
                        StudentId: $('#StudentId').val(),
                        Ledgertype: $('#Ledgertype').val(),
                        FromDate: $('#FromDate').val(),
                        ToDate: $('#ToDate').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }

                addAntiForgeryToken = function (data) {
                    data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                    return data;
                };
            </script>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#reset').click(function () {
            $('#AdmnNo').val('');
            $('#ClassId').val('');
            $('#StudentId').val('');
            $('#FromDate').val('');
            $('#ToDate').val('');
            $('#ledger-grid').hide();
        });
        $("#FromDate,#ToDate").kendoDatePicker({
            format: "dd/MM/yyyy",
        });
        $('input[type=radio][name=summDetail]').change(function () {
            $('#ks_loader').show();
            $('#Ledgertype').val(this.value);
            $("#ledger-grid").data('kendoGrid').dataSource.read();
            $('#ks_loader').hide();
        });

        $("#FromDate,#ToDate").attr('readonly', true);
        var LedgerValid = true;
        var Ledgervalidationmessage = "";
        var Ledgerctrlfocus = "";
        function ValidateLedger() {

            LedgerValid = true;
            Ledgervalidationmessage = "";
            Ledgerctrlfocus = "";

            if ($('#AdmnNo').val() == "") {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#AdmnNo";
                Ledgervalidationmessage = Ledgervalidationmessage + "Please provide Admission No ε";
                LedgerValid = false;
            }
            if ($('#ClassId').val() == "") {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#ClassId";
                Ledgervalidationmessage = Ledgervalidationmessage + "Please provide Class ε";
                LedgerValid = false;
            }
            if ($('#StudentId').val() == "") {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#StudentId";
                Ledgervalidationmessage = Ledgervalidationmessage + "Please provide Student ε";
                LedgerValid = false;
            }
            if ($('#FromDate').val() == "") {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#FromDate";
                Ledgervalidationmessage = Ledgervalidationmessage + "Please provide From Date ε";
                LedgerValid = false;
            }
            if ($('#ToDate').val() == "") {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#ToDate";
                Ledgervalidationmessage = Ledgervalidationmessage + "Please provide To Date ε";
                LedgerValid = false;
            }
            if ($('#FromDate').val() > $('#ToDate').val()) {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#FromDate";
                Ledgervalidationmessage = Ledgervalidationmessage + "From Date should be less than To Date ε";
                LedgerValid = false;
            }
            if ($('#Ledgertype').val() == "") {
                if (Ledgerctrlfocus == "")
                    Ledgerctrlfocus = "#Ledgertype";
                Ledgervalidationmessage = Ledgervalidationmessage + "Please provide Ledger Type ε";
                LedgerValid = false;
            }
            return LedgerValid;
        }



        $('#search-student').click(function () {
            $('#ks_loader').show();
            var valid = ValidateLedger();
            if (!valid) {
                var validationaray = Ledgervalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                $('#ks_loader').hide();
                return false;
            }
            else {
                $("#ledger-grid").data('kendoGrid').dataSource.read();
                $('#ledger-grid').show();
                $('#ks_loader').hide();
            }

        });
        $('#AdmnNo').blur(function () {
            $('#ks_loader').show();
            var admnno = $('#AdmnNo').val();
            $('#ClassId').val('');
            $('#StudentId').html('');
            $('#ledger-grid').hide();
            if (admnno != "") {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetStudentInformationbyAdmnNo", "Student"))',
                    data: { "AdmnNo": admnno },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#ClassId').val(result.ClassVal).trigger('change');
                            if (result.StudentVal > 0)
                                $('#StudentId').val(result.StudentVal);
                            else
                                $('#StudentId').val('');
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#StudentId').html('');
                            $('#ClassId').val('');
                            $('#AdmnNo').val('');
                            $('#AdmnNo').focus();
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                $('#ks_loader').hide();
            }
        });
        $('#ClassId').change(function () {
            $('#ledger-grid').hide();
            var ClassId = $('#ClassId').val();
            if (ClassId > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("StudentListbyClass", "Student"))',
                    async: false,
                    data: { "Class": ClassId, "Id": "", "CurrentSession": true },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#StudentId').empty();

                            for (var i = 0; i < result.data.length; i++) {
                                var option = "<option value=''> --Select-- </option>";
                                if (result.data[i].Selected == true)
                                    option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                                else
                                    option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                                $('#StudentId').append(option);
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }

                });
            }
        });
        $('#StudentId').change(function () {
            $('#ks_loader').show();
            $('#ledger-grid').hide();
            $('#AdmnNo').val("");
            var StudentId = $('#StudentId').val();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetStudentAdmnoByStudent", "Student"))',
                data: { "Student": StudentId },
                success: function (result) {
                    if (result.status == "success") {
                        $('#AdmnNo').val(result.AdmnNo);
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });
        });
    });
</script>
