﻿@model ViewModel.ViewModel.Student.StudentModel

@{
    ViewBag.Title = "Student Profile";
    var counter = 0;

    var imagecount = 0;
   
    if (ViewBag.ImageList != null)
    {
        foreach (dynamic image in ViewBag.ImageList)
        {
            if (image != null)
            {                                                                                                                                                                                           
                imagecount++;
            }
        }
    }
    var moreCount = imagecount - 2;
}

<style>
    #results {
        float: right;
        margin: 20px;
        padding: 20px;
    }
</style>
@Html.HiddenFor(m => m.SelectedSessionId)


<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SiblingErrorMsg"] != null && TempData["SiblingErrorMsg"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["SiblingErrorMsg"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        if (TempData["SameDocTypeExistError"] != "" && TempData["SameDocTypeExistError"] != null)
        {
            <div class="col-md-12">
                <div class="error_notification"><i class="fa fa-ban"></i> @TempData["SameDocTypeExistError"]</div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
            </div>
        }
    }
    <div class="col-md-6">
        <h1>
            Update Student Profile
            <span style="font-size: 11px">( <i style="color: red;font-size: 8px;" class="fa fa-asterisk"></i> fields are required )</span>
        </h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Html.Raw(Url.Action("List", "Student" ))" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->
@*Image view*@
<div class="modal-popup" id="Image_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Parent's/Guardian's Detail</h4>
            </div>

            <div class="row modal-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 parents-list no-padding">
                    @if (ViewBag.ImageList != null)
                    {
                        foreach (dynamic image in ViewBag.ImageList)
                        {
                            if (image != null)
                            {
                                <div class="col-md-3  text-center parents-list no-padding">
                                    @if (image.ParentName != null)
                                    {
                                        <p>@image.ParentType</p>
                                    }
                                    @if (image.Image != null)
                                    {
                                        <img width="80" height="80" src="@image.Image" />
                                    }


                                    @if (image.ParentName != null)
                                    {
                                        <p class="detail-text">@image.ParentName</p>
                                    }

                                </div>
                            }
                        }
                    }
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12 filterStduentDiv">
        <div class="col-md-3">
            <label class=" control-label">Reg./AdmnNo.</label>
            @Html.TextBoxFor(model => model.AdmnNo, new { @class = "form-control", @style = "width: 90%;height: 28px;", @placeholder = "Admission no.", @id = "filterAdmsnRegNo" })
            @*<input type="text" id="filterAdmsnRegNo" class="" style="width: 90%;height: 28px;" placeholder="Admission no." />*@
        </div>
        <div class="col-md-3">
            <label class=" control-label">Select Class</label>
            @Html.DropDownListFor(model=>model.ClassId, Model.AvailableClasses, new { @class = "form-control drop-down" ,@id = "filterClassId"})
        </div>
        <div class="col-md-3">
            <label class=" control-label">SelectStudent</label>
            @Html.DropDownListFor(model=>model.EncStudentId, Model.AvailableStudents, new { @class = "form-control drop-down", @id = "filterEncStudentId" })
        </div>
        <div class="col-md-3">
            <button type="button" id="Go" style="float: left;margin-top: 20px;" class="btn btn-success">Go</button>
        </div>
    </div>
</div>
   <!-- Page Controls -->
    <div class="row top-space-10">

        <div class="col-md-12">
            <!-- Content Area -->
            <div class="row">

                <div class="student_profile">
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profile-left">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profile-img">
                            <div class="img-thumbal"><img class="img-responsive" style="width:125px;height: 125px;" src="@Model.StudentImagepath" /></div>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 student-detail-list">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:left"><h3>@Model.FName @Model.LName</h3></div>
                                    @if (Model.Status != null)
                                    {
                                        var color = "";
                                        if (Model.Status.ToLower() == "active")
                                        {
                                            color = "green";
                                        }
                                        if (Model.Status.ToLower() == "inactive")
                                        {
                                            color = "blue";
                                        }
                                        if (Model.Status.ToLower() == "left")
                                        {
                                            color = "red";
                                        }

                                        <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:right"><p style="color:@color"><b>@Model.Status</b></p></div>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                @if (Model.CurrentClass != null)
                                {
                                    <p>Class: @Model.CurrentClass</p>
                                }
                                @if (Model.CurrentClassRollno != null)
                                {
                                    <p>Roll No: @Model.CurrentClassRollno</p>
                                }
                                @if (Model.BoardRollNo != null)
                                {
                                    <p>Board Roll No.: @Model.BoardRollNo</p>
                                }
                                @if (Model.PhoneNo != null && Model.PhoneNo != "")
                                {
                                    if (Model.PhoneNoForProfile != null && Model.PhoneNoForProfile != "" && !ViewData.ModelState.IsValidField("PhoneNo"))
                                    {
                                        <p>Mobile Number: @Model.PhoneNoForProfile</p>
                                    }
                                    if (ViewData.ModelState.IsValidField("PhoneNo"))
                                    {
                                        <p>Mobile Number: @Model.PhoneNo</p>
                                    }
                                }
                                @if (Model.Email != null && Model.Email != "")
                                {
                                    <p>Email: @Model.Email</p>
                                }
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">

                                @if (Model.RegNo != null)
                                {
                                    <p>Reg. Number: @Model.RegNo</p>
                                }
                                @if (Model.AdmnNo != null)
                                {
                                    <p>Admission: @Model.AdmnNo</p>
                                }
                                @*@if (Model.House != null)
                                    {
                                    <p>House:@Model.House</p>
                                    }*@

                                <p>House: @Html.DropDownListFor(m => m.HouseId, Model.HouseList, new { @class = "" })</p>

                                @if (Model.ShowSRN)
                                {
                                    <p>SRN: @Html.TextBoxFor(m => m.SRN, new { @class = "", @style = "width: 124px;" })</p>
                                }
                                @if (Model.IsPortalEnrollmentNoValidForStandard)
                                {
                                    <p>Portal Enrl No: @Html.TextBoxFor(m => m.PortalEnrollmentNo, new { @class = "", @style = "width: 124px;" })</p>
                                }
                            </div>

                        </div>
                    </div>
                    <script>

                        $('#HouseId').change(function () {
                            var StudentId = $('#StudentId').val();
                            var HouseId = $(this).val();
                            var sessionid = $('#Session_id').val();
                            if (HouseId > 0) {
                                $('#ks_loader').show();
                                $.ajax({
                                    type: "POST",
                                    url: '@Html.Raw(Url.Action("SaveStudentHouse", "Student"))',
                                    data: { "StudentId": StudentId, "HouseId": HouseId,"SessionId":sessionid },
                                    success: function (result) {
                                        if (result.status == "success") {
                                            ToastMessage(result.msg, "success", true, 5000);
                                        }
                                        else {
                                            var validationaray = result.data.split('ε');
                                            for (var i = 0; i < validationaray.length - 1; i++)
                                                ToastMessage(validationaray[i], "error", true, 5000);
                                        }
                                        $('#ks_loader').hide();
                                    },
                                    error: function (xhr, status, data) {
                                        var err = "Error: " + " " + status + " " + data;
                                        ToastMessage(err, "error", true, 5000);
                                        $('#ks_loader').hide();
                                    }
                                });
                            }
                        })
                        $('#SRN').on("blur", function () {
                            var StudentId = $('#StudentId').val();
                            var SRN = $(this).val();

                            if (SRN != null) {
                                $('#ks_loader').show();
                                $.ajax({
                                    type: "POST",
                                    url: '@Html.Raw(Url.Action("SaveSRN", "Student"))',
                                    data: { "StudentId": StudentId, "SRN": SRN },
                                    success: function (result) {
                                        if (result.status == "success") {
                                            ToastMessage(result.msg, "success", true, 5000);
                                        }
                                        else {
                                            var validationaray = result.data.split('ε');
                                            for (var i = 0; i < validationaray.length - 1; i++)
                                                ToastMessage(validationaray[i], "error", true, 5000);
                                        }
                                        $('#ks_loader').hide();
                                    },
                                    error: function (xhr, status, data) {
                                        var err = "Error: " + " " + status + " " + data;
                                        ToastMessage(err, "error", true, 5000);
                                        $('#ks_loader').hide();
                                    }
                                });
                            }
                        })
                        $('#PortalEnrollmentNo').on("blur", function () {
                            var StudentId = $('#StudentId').val();
                            var PortalEnrollmentNo = $(this).val();

                            if (PortalEnrollmentNo != null) {
                                $('#ks_loader').show();
                                $.ajax({
                                    type: "POST",
                                    url: '@Html.Raw(Url.Action("SavePortalEnrollmentNo", "Student"))',
                                    data: { "StudentId": StudentId, "PortalEnrollmentNo": PortalEnrollmentNo },
                                    success: function (result) {
                                        if (result.status == "success") {
                                            ToastMessage(result.msg, "success", true, 5000);
                                        }
                                        else {
                                            var validationaray = result.data.split('ε');
                                            for (var i = 0; i < validationaray.length - 1; i++)
                                                ToastMessage(validationaray[i], "error", true, 5000);
                                        }
                                        $('#ks_loader').hide();
                                    },
                                    error: function (xhr, status, data) {
                                        var err = "Error: " + " " + status + " " + data;
                                        ToastMessage(err, "error", true, 5000);
                                        $('#ks_loader').hide();
                                    }
                                });
                            }
                        })
                    </script>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profile-right">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                            <h3>Parent's detail</h3>
                        </div>
                        @*@foreach (var item in Model.StudentParentInfolist)//forprofile
                            {
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parents-list no-padding">
                                    @if (item.ParentName != null)
                                    {
                                        <p>@item.ParentType 's Name:</p>
                                    }
                                    @if (item.Contact != "")
                                    {
                                        <p>Contact No:</p>
                                    }
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right parents-list no-padding">
                                    @if (item.ParentName != null)
                                    {
                                        <p class="detail-text">@item.ParentName</p>
                                    }
                                    @if (item.Contact != "")
                                    {
                                        <p class="detail-text">@item.Contact</p>
                                    }
                                </div>
                            }*@
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 parents-list no-padding">

                            @foreach (var item in Model.StudentParentInfolist)//forprofile
                            {
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center parents-list no-padding">
                                    @if (item.ParentName != null)
                                    {
                                        <p>@item.ParentType</p>
                                    }
                                    @if (item.Image != null)
                                    {
                                        <img width="45" height="45" src="@item.Image" />
                                    }


                                    @if (item.ParentName != null)
                                    {
                                        <p class="detail-text">@item.ParentName</p>
                                    }

                                </div>
                            }
                            @if (imagecount > 2)
                            {

                                <input id="ImageList" type="button" class="btn btn-xs btn-default pull-right" value="See @moreCount more..." />

                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Area -->

            <script>
                $('#ImageList').click(function () {
                    $('#Image_div').show();
                })
                $('#close_div').click(function () {
                    $('#Image_div').hide();
                })

            </script>
            @*call partial view*@
            <ul class="nav nav-tabs top-space-10">
                @if (Model.IsAdmin)
                {
                    <li class="active"><a data-toggle="tab" href="#Admn">Admission Form</a></li>
                    <li><a href="@Html.Raw(Url.Action("StudentOtherDetail", "Student" , new { id=Model.EncStudentId, IsEdit=true }))">Health Detail</a></li>
                    <li><a href="@Html.Raw(Url.Action("StudentIssueDocs", "Student" , new { id=Model.EncStudentId, IsEdit=true }))">Certificates</a></li>
                    <li><a href="@Html.Raw(Url.Action("StudentActivities", "Student" , new { id=Model.EncStudentId, IsEdit=true }))">Student Activities</a></li>
                    if (!Model.IsFeeAddOnForAdmission)
                    {
                        if (Model.FeeCheck)
                        {
                            @*<li><a href="@Html.Raw(Url.Action("StudentFeeAddOns", "Student" , new { id=Model.EncStudentId, IsEdit=true }))">Fee AddOns</a></li>*@
                        }
                    }
                    <li><a href="@Html.Raw(Url.Action("StudentFacilityDetails", "Student", new { id = Model.EncStudentId, IsEdit = true }))">Student Facility Details</a></li>

                }
            </ul>
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.StepList.Count > 0)
                        {
                            counter = 0;
                    <!-- Step -->
                            foreach (var item in Model.StepList)
                            {
                                counter = ++counter;
                                <div class="registration-steps">
                                    @if (counter != Model.StepList.Count)
                                    {
                        <!-- pointer arrow -->
                                        <div class="step-pointer">
                                            <div class="pointer-border"></div>
                                            <div class="pointer-arrow">
                                                <i class="fa fa-caret-right"></i>
                                            </div>
                                        </div>
                        <!-- //pointer arrow -->
                                    }
                                    @if (item.StepMode == "Pending")
                                    {
                                        <div data-attr="pending-step" class="number pending-step">@item.StepNo</div>
                                    }
                                    @if (item.StepMode == "Completed")
                                    {
                                        <div data-attr="completed-step" class="number completed-step">@item.StepNo</div>
                                    }
                                    @if (item.StepMode == "Current")
                                    {
                                        <div data-attr="current-step" class="number current-step">@item.StepNo</div>
                                    }
                                    <div class="step-information">@item.StepInfo</div>
                                </div>
                            }
                    <!-- //Step -->
                            <div class="clearfix"></div>
                        }
                    </div>
                </div>
                <div id="Admn" class="tab-pane fade in active">
                    @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => model.EncStudentPhoneContactInfoId, new { @id = "StudentPhoneContactInfoId" })
                        @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
                        @Html.HiddenFor(model => model.EncStudentContactInfoId, new { @id = "StudentContactInfoId" })
                        @Html.HiddenFor(model => model.EncStudentImageId, new { @id = "StudentImageId" })
                        @Html.HiddenFor(model => model.DOB)
                        @Html.HiddenFor(model => model.DOJ)
                        @Html.HiddenFor(model => model.AdmnDate)
                        @Html.HiddenFor(model => model.InfoUpdated)
                        @Html.HiddenFor(m => m.SelectedSessionId)
                        @*<!-- Form Row -->
                                <div class="row">
                                    <!-- Form Coulmn -->
                                    <div class="form-group text-center" style="margin-bottom: 5px;">
                                        <div class="col-md-12">
                                            <label id="lbl-reg">@Html.RadioButtonFor(model => model.Formtype, 1, new { @Id = "Registration", @autofocus = "on" }) Registration</label>
                                            <label id="lbl-admn">@Html.RadioButtonFor(model => model.Formtype, 2, new { @Id = "Admission" }) Direct Admission</label>
                                        </div><!-- Form Field -->				                                <!-- Error Message -->
                                    </div>
                                    <!-- //Form Coulmn -->
                                </div>
                                <hr style="margin-top: 0;margin-bottom: 5px;" />
                            <!-- Form Row -->*@

                        <div id="Basic Detail" hidden>
                            <fieldset>
                                <legend>Basic Detail</legend>
                                @Html.Partial("_StudentInfo", Model)
                                @if (Model.StudentId > 0)
                                {
                                    <button type="button" id="Skip-Info" class="btn btn-default pull-right btn-xs">
                                        <i class="fa fa-step-forward"></i>
                                        Next
                                    </button>
                                }
                                <button type="submit" name="save" id="save_studentinfo" class="btn btn-default btn-xs pull-right">
                                    <i class="fa fa-floppy-o"></i>
                                    Save
                                </button>
                            </fieldset>
                        </div>
                <!-- Form Row -->

                        <script>
                   @if (Model.Formtype == 1)
                      {
                       <text>
                            $('#Registration').prop('checked', true);
                            </text>
                   }
                   else if (Model.Formtype == 2)
                   {
                        <text>
                            $('#Admission').prop('checked', true);
                            </text>
                      } else if (Model.Formtype == 3)
                   {
                        <text>
                            $('#Existing').prop('checked', true);
                            </text>
                      }

                            @if(Model.StudentId > 0)
                        {
                          @*if (Model.Formtype == 1)
                          {
                          <text>
                        $('#lbl-admn').css('display', "none");
                        </text>
                          }
                          else {
                          <text>
                        $('#lbl-reg').css('display', "none");
                        </text>
                          }*@

                       <text>
                            $('#lbl-admn').css('display', "none");
                            $('#lbl-reg').css('display', "none");
                            $('#SessionId').removeClass('drop-down');
                            $('#RegNo').prop('readonly', true);
                            $('#AdmnNo').prop('readonly', true);
                            $('#SessionId').attr('disabled', true);
                            </text>

                        if (Model.IsStandardIdEditable == 0)
                        {
                        <text>
                            $('#StandardId').removeClass('drop-down');
                            $('#StandardId').attr('disabled', true);
                            </text>
                        }
                        }
                        else
                        {
                        <text>

                            $("[id='Basic Detail']").show();
                            $(".registration-steps:not(:first)").attr("disabled", true);
                            if ('@ViewBag.SeriesEditable' == "1") {
                                $('#RegNo').prop('readonly', false);
                                $('#AdmnNo').prop('readonly', false);
                            }
                            else {
                                $('#RegNo').prop('readonly', true);
                                $('#AdmnNo').prop('readonly', true);
                            }
                            </text>
}
                            $("#StandardId").change(function () {
                                if ($("#StandardId").val() == "") {
                                    $("#StudentInfo").attr("disabled", "disabled");
                                    $('#DateofBirth').data('kendoDatePicker').enable(false);
                                    $('#DateofJoining').data('kendoDatePicker').enable(false);
                                }
                                else {
                                    $("#StudentInfo").prop("disabled", false);
                                    $('#DateofBirth').data('kendoDatePicker').enable(true);
                                    $('#DateofJoining').data('kendoDatePicker').enable(true);
                                }
                            })
                            $('#SessionId option:eq(1)').attr('selected', 'selected');

                            if ($('#Registration').prop('checked') == true) {
                                $('.std-admission').hide();
                                $('.std-registration').show();
                                $('input[type=radio][name=Formtype]').val(1);
                            }
                            else {
                                $('.std-admission').show();
                                $('.std-registration').hide();
                                $('input[type=radio][name=Formtype]').val(2);
                            }

                            $('#Registration').click(function () {
                                if ($('#Registration').prop('checked') == true) {
                                    $('.std-admission').hide();
                                    $('.std-registration').show();
                                    $('input[type=radio][name=Formtype]').val(1);
                                }
                                else {
                                    $('.std-admission').show();
                                    $('.std-registration').hide();
                                }
                            });

                            $('#Admission').click(function () {
                                if ($('#Admission').prop('checked') == true) {
                                    $('.std-admission').show();
                                    $('.std-registration').hide();
                                    $('input[type=radio][name=Formtype]').val(2);
                                }
                                else {
                                    $('.std-admission').hide();
                                    $('.std-registration').show();
                                }
                            });

                            $('#OpenSession').click(function () {
                                $('#Session-popup-div').show();
                            });


                            $('#save_studentinfo').click(function () {
                                $("#InfoUpdated").val($(this).parent().parent().attr('id'));
                                window.onbeforeunload = null;
                                if ($("#DateofBirth").val() != "") {
                                    var DOB = GetDateFromString($("#DateofBirth").val());
                                    $("#DOB").val(DOB);
                                }
                                if ($("#DateofJoining").val() != "") {
                                    var DOJ = GetDateFromString($("#DateofJoining").val());
                                    $("#DOJ").val(DOJ);
                                }
                                if ($("#DateofJoining").val() != "") {
                                    var AdmnDate = GetDateFromString($("#DateofJoining").val());
                                    $("#AdmnDate").val(AdmnDate);
                                }
                                if ($('#Registration').prop("checked") == true) {
                                    $('#AdmnNo').val($('#RegNo').val());
                                } else {
                                    $('#RegNo').val($('#AdmnNo').val());
                                }
                                if ($("#IsStaffChild").prop('checked') == true) {
                                    if ($("#ParentStaffId").val() == null || $("#ParentStaffId").val() == "") {
                                        alert("Staff Is Required");
                                        return false;
                                    }
                                }

                            });

                        </script>
                    }

                    <div id="Address" hidden>
                        @using (Html.BeginForm("Address", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
                            @Html.HiddenFor(model => model.FName)
                            @Html.HiddenFor(model => model.LName)
                            @Html.HiddenFor(model => model.AddressModel.AddressUpdated)
                            @Html.HiddenFor(m => m.SelectedSessionId)
                            <fieldset>
                                <legend>Student Address</legend>
                                @Html.Partial("_address", Model.AddressModel, new ViewDataDictionary(ViewData) { { "Column", 1 }, { "Prefix", "Student" } })
                                <button type="button" id="Skip-Address" class="btn btn-default pull-right btn-xs Next">
                                    <i class="fa fa-step-forward"></i>
                                    Next
                                </button>
                            </fieldset>
                        }
                    </div>

                    <div id="Parents Detail" hidden>
                        @using (Html.BeginForm("Guardian", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
                            @Html.HiddenFor(model => model.FName)
                            @Html.HiddenFor(model => model.LName)
                            @Html.HiddenFor(model => model.GuardianUpdated)
                            @Html.HiddenFor(m => m.SelectedSessionId)
                            <fieldset>
                                <legend>Parents Detail</legend>
                                @Html.Partial("_CustodyRightInfo", Model)
                                @Html.Partial("_StudentGuardianInfo", Model)
                                <span class="text-danger" id="parent-grid-error"></span>
                                <button type="button" id="Skip-Guardian" class="btn btn-default pull-right btn-xs Next">
                                    <i class="fa fa-step-forward"></i>
                                    Next
                                </button>
                            </fieldset>
                        }
                    </div>

                    <div id="Previous Institute" hidden>

                        @using (Html.BeginForm("PrvSchool", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
                            @Html.HiddenFor(model => model.PreviousSchoolModel.PrvSchoolId)
                            @Html.HiddenFor(model => model.FName)
                            @Html.HiddenFor(model => model.LName)
                            @Html.HiddenFor(model => model.PrvSchoolUpdated)
                            @Html.HiddenFor(m => m.SelectedSessionId)
                            <fieldset>
                                <legend>Previous Institute</legend>
                                @Html.Partial("_PrvSchool", Model, new ViewDataDictionary(ViewData))
                                <button type="button" id="Skip-prvschool" class="btn btn-default pull-right btn-xs Next">
                                    <i class="fa fa-step-forward"></i>
                                    Next
                                </button>
                                <button type="submit" name="save" class="btn btn-default btn-xs pull-right">
                                    <i class="fa fa-floppy-o"></i>
                                    Save
                                </button>
                            </fieldset>
                        }
                        <script>
                            $("#prvSchool-Detail").click(function () {
                                $("#PrvSchoolUpdated").val($(this).parent().parent().parent().attr('id'));
                            })
                        </script>
                    </div>

                    <div id="Sibling Detail" hidden>

                        @using (Html.BeginForm("Sibling", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
                            @Html.HiddenFor(model => model.FName)
                            @Html.HiddenFor(model => model.LName)
                            @Html.HiddenFor(model => model.SiblingInfoModel.EncSiblinginfoId)
                            @Html.HiddenFor(model => model.SiblingUpdated)
                            @Html.HiddenFor(m => m.SelectedSessionId)
                            <fieldset>
                                <legend>Sibling Detail</legend>
                                @Html.Partial("_SiblingInfo", Model)
                                <span class="text-danger" id="sibling-grid-error"></span>
                                <button type="button" id="Skip-Sibling" class="btn btn-default pull-right btn-xs Next">
                                    <i class="fa fa-step-forward"></i>
                                    Next
                                </button>
                            </fieldset>

                        }
                    </div>

                    <div id="Transport Detail" hidden>
                        @using (Html.BeginForm("TransportFacility", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
                            @Html.HiddenFor(model => model.FName)
                            @Html.HiddenFor(model => model.LName)
                            @Html.HiddenFor(m => m.SelectedSessionId)

                            <fieldset>
                                <legend>Transport Detail</legend>
                                @Html.Partial("_TransportFacility", Model, new ViewDataDictionary { { "Prefix", "Student" } })
                                <button type="button" id="Skip-Transport" class="btn btn-default pull-right btn-xs Next">
                                    <i class="fa fa-step-forward"></i>
                                    Next
                                </button>
                            </fieldset>

                            <script>
                                $('.Submit-Tptfacility').click(function () {
                                    $('#ks_loader').show();

                                    var tptvalid = CheckValidTptFacility();
                                    if (tptvalid) {
                                        var effectivedate = GetDateFromString($("#TransportFacility_EffDate").val());
                                        $("#TransportFacility_EffectiveDate").val(effectivedate);

                                        var TptFacilityObj = new Object();
                                        TptFacilityObj.TptFacilityId = $('#TransportFacility_TptFacilityId').val();
                                        TptFacilityObj.BoardingPointId = $('#TransportFacility_BoardingPointId').val();
                                        TptFacilityObj.TptTypeDetailId = $('#TransportFacility_TptTypeDetailId').val();
                                        TptFacilityObj.BusRouteId = $('#TransportFacility_BusRouteId').val();
                                        TptFacilityObj.TptTypeId = $('#TransportFacility_TptTypeId').val();
                                        TptFacilityObj.VehicleTypeId = $('#TransportFacility_VehicleTypeId').val();
                                        TptFacilityObj.VehicleNo = $('#TransportFacility_VehicleNo').val();
                                        TptFacilityObj.ParkingRequired = $('#TransportFacility_ParkingRequired').val();
                                        TptFacilityObj.EffectiveDate = $('#TransportFacility_EffectiveDate').val();
                                        TptFacilityObj.EffectiveDate = $('#TransportFacility_EffectiveDate').val();
                                        TptFacilityObj.TransportUpdated = $(this).parent().parent().parent().parent().parent().attr('id');
                                        TptFacilityObj.DropBoardingPointId = $('#TransportFacility_DropBoardingPointId').val();
                                        TptFacilityObj.DropRouteId = $('#TransportFacility_DropRouteId').val();
                                        TptFacilityObj.Ownershipid = $('#TransportFacility_Ownershipid').val();


                                        $.ajax({
                                            type: "POST",
                                            url: '@Html.Raw(Url.Action("TransportFacility", "Student"))',
                                            data: { "model": TptFacilityObj, "EncStdIK": "@Model.EncStudentId" },
                                            success: function (result) {
                                                if (result.status == "success") {
                                                    ToastMessage("Added Successfully.", "success", true, 5000);
                                                    window.onbeforeunload = null;
                                                    window.location.reload();
                                                }
                                                else {
                                                    $('#tptfac_contols').show();
                                                    var validationaray = result.data.split('ε');
                                                    for (var i = 0; i < validationaray.length - 1; i++)
                                                        ToastMessage(validationaray[i], "error", true, 5000);

                                                    $('#ks_loader').hide();
                                                }

                                            },
                                            error: function (xhr, status, data) {
                                                var err = "Error: " + " " + status + " " + data;
                                                ToastMessage(err, "error", true, 5000);
                                                $('#ks_loader').hide();
                                            }
                                        });
                                    }
                                    else {

                                        @if(Model.IsAddNewTptFacility)
                        {
                            <text>
                                        $('#tptfac_contols').show();
                                        </text>
                        }
                                        var validationaray = tptctrvalidation.split('ε');
                                        for (var i = 0; i < validationaray.length - 1; i++)
                                            ToastMessage(validationaray[i], "error", true, 5000);
                                        $(tptctrfocus).focus();
                                        $('#ks_loader').hide();
                                        return false;
                                    }
                                });
                            </script>
                        }
                    </div>

                    <div id="Documents" hidden>

                        @using (Html.BeginForm("Documents", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
                            @Html.HiddenFor(model => model.FName)
                            @Html.HiddenFor(model => model.LName)
                            @Html.HiddenFor(model => model.DocumentsUpdated)
                            @Html.HiddenFor(m => m.SelectedSessionId)
                            <fieldset>
                                <legend>Documents</legend>
                                @Html.Partial("_OtherOrDocument", Model)
                                <button type="button" id="Skip-Documents" class="btn btn-default pull-right btn-xs Next">
                                    <i class="fa fa-step-forward"></i>
                                    Next
                                </button>
                                <button type="submit" name="save" id="Submit-Documents" class="btn btn-default btn-xs pull-right Submit-Documents">
                                    <i class="fa fa-floppy-o"></i>
                                    Save
                                </button>
                            </fieldset>
                        }
                    </div>
                    <div id="Fee AddOns" class="ks-custom-form" hidden>
                        @*@using (Html.BeginForm("FeeAddOns", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
                                @Html.HiddenFor(model => model.FName)
                                @Html.HiddenFor(model => model.LName)
                            @Html.HiddenFor(m => m.SelectedSessionId)*@
                        <fieldset>
                            <legend>Fee Add Ons</legend>
                            @Html.Partial("_CreateFeeAddOnForAdmission", Model)
                        </fieldset>
                        @*}*@
                    </div>
                    <div id="Other Detail" hidden>
                        @using (Html.BeginForm("OtherDetails", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.EncStudentId, new { @id = "StudentId" })
                            @Html.HiddenFor(model => model.FName)
                            @Html.HiddenFor(model => model.LName)
                            @Html.HiddenFor(model => model.OtherDetailUpdated)
                            @Html.HiddenFor(m => m.SelectedSessionId)
                            <fieldset>
                                <legend>Other-Details</legend>
                                @Html.Partial("_OtherDetail", Model)
                                <button type="submit" name="save" class="btn btn-default btn-xs pull-right submit-OtherDetails">
                                    <i class="fa fa-floppy-o"></i>
                                    Save
                                </button>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-popup" id="CaptureImage" hidden>
        <div class="modal-popup-body custom-modal-popup" style="margin-right: 585px;">
            <div class="modal-content" style="width: 740px;">
                <div class="modal-header">
                    <h4 class="modal-title">Capture Image</h4>
                </div>
                <div class="row modal-body">
                    <div style="margin-left:20px; width: 980px; text-align: center">
                        <div id="results" style="margin-right: 300px;margin-top: -19px;width: 320px;height: 240px"></div>
                        <div id="my_camera"></div>
                        <input type=button value="Capture" onclick="take_snapshot()" style="margin-top: 10px;margin-left: -13px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="save" class="btn btn-danger " id="close_CaptureImagediv">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $('.field-validation-error').each(function () {
            var current = $(this);
            if (current.text() != "")
                current.parent().show();
            else
                current.parent().hide();
        });

        $('.field-validation-valid').each(function () {
            var current = $(this);
            if (current.text() != "")
                current.parent().show();
            else
                current.parent().hide();
        });

        var formChanged = false;
        $(document).on('keyup change', 'input, select, textarea', function () {
            formChanged = true;
        });
        window.onbeforeunload = function () {
            if (formChanged) {
                if (confirm())
                    return true;
                else
                    return false;
            }
        };

        var IsPending = false;
        @if (Model.StudentId > 0)
    {
        if (Model.InfoUpdated == null && Model.AddressModel.AddressUpdated==null && Model.GuardianUpdated==null
            && Model.SiblingUpdated==null && Model.PrvSchoolUpdated==null && Model.TransportFacility.TransportUpdated==null && Model.DocumentsUpdated==null && Model.OtherDetailUpdated==null)
        {
            foreach (var item in Model.StepList)
            {
                if (item.StepMode == "Pending")
                {<text>
        IsPending = true;
        $("[id ='@item.StepInfo']").show();
        $('.registration-steps').each(function (i, obj) {
            var datrClass = $(this).find('.number').attr('data-attr');
            if (datrClass == "pending-step") {
                $(this).find('.number').removeClass('pending-step')
                $(this).find('.number').addClass('current-step')

                return false;
            }
        });
        </text>
                    break;
                }

            }
        <text>
        if (!IsPending) {
            $('.registration-steps').each(function (i, obj) {
                $(this).find('.number').removeClass('completed-step')
                $(this).find('.number').addClass('current-step')
                var divtoshow = $(this).find('.step-information').text();
                $("[id ='" + divtoshow + "']").show();
                return false;
            });
        }
        </text>
        }
        else {
            if (Model.InfoUpdated != null) {
             <text>
        persistUpdatedTab('@Model.InfoUpdated');
        </text>
            }
            if (Model.AddressModel.AddressUpdated != null) {
             <text>
        persistUpdatedTab('@Model.AddressModel.AddressUpdated');
        </text>
            }
             if (Model.GuardianUpdated != null) {
             <text>
        persistUpdatedTab('@Model.GuardianUpdated');
        </text>
            }
             if (Model.PrvSchoolUpdated != null) {
             <text>
        persistUpdatedTab('@Model.PrvSchoolUpdated');
        </text>
            }
             if (Model.SiblingUpdated != null) {
             <text>
        persistUpdatedTab('@Model.SiblingUpdated');
        </text>
            }
            if (Model.TransportFacility.TransportUpdated != null) {
             <text>
        persistUpdatedTab('@Model.TransportFacility.TransportUpdated');
        </text>
            }
            if (Model.DocumentsUpdated != null) {
             <text>
        persistUpdatedTab('@Model.DocumentsUpdated');
        </text>
            }
             if (Model.OtherDetailUpdated != null) {
             <text>
        persistUpdatedTab('@Model.OtherDetailUpdated');
        </text>
            }
        }
    }
        $(".registration-steps").click(function () {
            if ($(this).attr('disabled') == "disabled") {
                alert('Please provide the Basic Detail.')
                return false;
            }
            else {
                $('#ks_loader').show();
                var clickedStep = $(this).find(".step-information").text()
                if ($(this).find('.number').hasClass('pending-step')) {
                    $(this).find('.number').removeClass('pending-step')
                    $(this).find('.number').addClass('current-step')
                }
                if ($(this).find('.number').hasClass('completed-step')) {
                    $(this).find('.number').removeClass('completed-step')
                    $(this).find('.number').addClass('current-step')
                }
                @if (Model.StudentId > 0)
            {
                foreach (var item in Model.StepList)
                {
                    {<text>
                $("[id ='@item.StepInfo']").hide();
                </text>
                    }
                }
            }
                $('.registration-steps').each(function (i, obj) {
                    var datrClass = $(this).find('.number').attr('data-attr');
                    var stepInfo = $(this).find('.step-information').text();
                    if (datrClass != null && stepInfo != clickedStep) {
                        $(this).find('.number').removeClass('current-step')
                        $(this).find('.number').addClass(datrClass)
                    }
                });
                $("[id ='" + clickedStep + "']").show();
                setTimeout(function () {
                    $('#ks_loader').hide();
                }, 1000)
            }
        })

        $('#Skip-Info').click(function () {
            $('#ks_loader').show();
            var nextStep = 0;
            var infoDivId = $(this).parent().parent().attr('id');
            $('.registration-steps').each(function (i, obj) {
                var datrClass = $(this).find('.number').attr('data-attr');
                var stepInfo = $(this).find('.step-information').text();
                if (datrClass != null && stepInfo == infoDivId) {
                    nextStep = i + 1;
                    $(this).find('.number').removeClass('current-step')
                    $(this).find('.number').addClass(datrClass)
                }
                if (nextStep == i && nextStep > 0) {
                    $(this).find('.number').removeClass(datrClass)
                    $(this).find('.number').addClass('current-step')
                }
            });
            $("[id ='Basic Detail']").hide();
            $('#Address').show();
            setTimeout(function () {
                $('#ks_loader').hide();
            }, 500)
        });

        $('.Next').click(function () {
            $('#ks_loader').show();
            var nextStep = 0;
            var addressDivId = $(this).parent().parent().parent().attr('id');
            $('.registration-steps').each(function (i, obj) {
                var datrClass = $(this).find('.number').attr('data-attr');
                var stepInfo = $(this).find('.step-information').text();
                if (datrClass != null && stepInfo == addressDivId) {
                    nextStep = i + 1;
                    $(this).find('.number').removeClass('current-step')
                    $(this).find('.number').addClass(datrClass)
                    $("[id ='" + stepInfo + "']").hide();
                }
                if (nextStep == i && nextStep > 0) {
                    $(this).find('.number').removeClass(datrClass)
                    $(this).find('.number').addClass('current-step')
                    $("[id ='" + stepInfo + "']").show();
                }
            });
            setTimeout(function () {
                $('#ks_loader').hide();
            }, 500)
        });
        function persistUpdatedTab(tab) {
            $("[id ='" + tab + "']").show();
            $('.registration-steps').each(function (i, obj) {
                var datrClass = $(this).find('.number').attr('data-attr');
                var stepInfo = $(this).find('.step-information').text();
                if (datrClass != null && stepInfo == tab) {
                    $(this).find('.number').removeClass(datrClass)
                    $(this).find('.number').addClass('current-step')

                    return false;
                }
            });
        }

        var phototype = "";
        $(document).on("click", ".capturephoto", function () {
            $("#CaptureImage").show();
            phototype = $(this).attr('dataid');
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach('#my_camera');
        })

        $(document).on("click", "#close_CaptureImagediv", function () {
            $("#CaptureImage").hide();
            $('#results').html('');
        })



        function take_snapshot() {
            Webcam.snap(function (data_uri) {
                document.getElementById('results').innerHTML =
                    '<img id="show" src="' + data_uri + '"/>';
                ~
                Webcam.reset();

                var image = data_uri.replace('data:image/jpeg;base64,', '');

                var uniqueno = 0;
                @if (Model.StudentId != null)
            {
                <text>uniqueno = '@Model.StudentId';</text>
            }
            else
            {
                <text>uniqueno = '@Model.NextStudentId';</text>
            }

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("Capture", "GatePass"))',
                    data: { "image": image, "uniqueno": uniqueno, "type": phototype },
                    success: function (res) {
                        $.ajax({
                            type: 'POST',
                            url: ("@Url.Content("~/GatePass/Rebind")/"),
                            dataType: 'json',
                            success: function (data) {
                                if (phototype == "Student") {
                                    $('#StudentImagepath').val(data);
                                }
                                if (phototype == "Guardian") {
                                    $('#GuardianImagepath').val(data);
                                }
                                alert("Photo Captured successfully!");
                            }
                        });
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            })
        }

        /// Select Student Filter Functions
        $('#filterAdmsnRegNo').blur(function () {
            $('#ks_loader').show();
            var admnno = $('#filterAdmsnRegNo').val().trim();
            $('#filterClassId').val('');
            $('#filterEncStudentId').html('');
            $("#filterEncStudentId").append("<option value=''>--Select Student--</option>");
            if (admnno != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Get",
                    async: false,
                    url: '@Html.Raw(Url.Action("StudentClassByRegNo", "Student"))',
                    data: { "AdmnNo": admnno, "SessionId": $("#SelectedSessionId").val() },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#filterEncStudentId').html('');

                            if (result.Class > 0) {
                                $('#filterClassId').val(result.Class);
                                $('#filterClassId').trigger('change');
                                if (result.Student != "" && result.Student != null)
                                    $('#filterEncStudentId').val(result.Student);
                                $('#filterAdmsnRegNo').val(admnno)
                            }
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#filterEncStudentId').html('');
                            $("#filterEncStudentId").append("<option selected value=''>--Select Student--</option>");
                            $('#filterAdmsnRegNo').val('');
                        //    $('#filterAdmsnRegNo').focus();
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            $('#ks_loader').hide();
        })

        $("#filterClassId").change(function () {
            var classid = $("#filterClassId").val();

            $("#filterEncStudentId").val("");
            $("#filterEncStudentId").html("");
            //--//     $('#filterAdmsnRegNo').val("");
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                async: false,
                url: '@Html.Raw(Url.Action("StudentListByClassId", "Student"))',
                data: { "ClassId": classid, "SessionId": $("#SelectedSessionId").val() },
                success: function (result) {
                    $("#filterEncStudentId").empty();
                    $.each(result.StudentList, function (value, data) {
                        $("#filterEncStudentId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                    })
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    $('#ks_loader').hide();
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });

        });
        $("#filterEncStudentId").change(function () {
            var classid = $("#filterClassId").val();
            var studentId = $("#filterEncStudentId").val();
            if (studentId != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("RegNoByStudentId", "Student"))',
                    data: { "studentId": studentId, "SessionId": $("#SelectedSessionId").val() },
                    success: function (result) {
                        if (result.status == "success") {
                            $("#filterAdmsnRegNo").val(result.AdmnNo);
                            $('#ks_loader').hide();
                        }
                        else {
                            $("#filterEncStudentId").val("");
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $("#filterAdmsnRegNo").val("");
            }
        })
        $("#Go").click(function () {
            debugger;
            if ($("#filterEncStudentId").val() != "" && $("#filterEncStudentId").val() != null) {
                var encSid = $("#filterEncStudentId").val();
                //window.location.href = "StudentProfileEdit?Id=" + encSid + "&CurrSelectedSessionId=" + $("#SelectedSessionId").val() + ""
                window.location.href = "@Url.Content("~/")Student/StudentProfileEdit?Id=" + encSid + "&CurrSelectedSessionId=" + $("#SelectedSessionId").val() + "";
            }
            else {
                ToastMessage("Please Select Student First", "error", true, 5000);
                return false;
            }
        })
        
    </script>
