﻿@model ViewModel.ViewModel.IssueDocument.IssueDocTemplateModel

<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="~/Content/assets/js/jquery-ui.min.js"></script>
<link href="~/Content/assets/css/jquery-ui.css" rel="stylesheet" />
<div class="row top-space-10">
    @Html.HiddenFor(model => model.IssueDocTemplateId)
    @Html.HiddenFor(model => model.EffectiveDate)
    <!-- Form Coulmn -->
    <div class="col-md-3">
        <label class="control-label">Document Type <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
        @Html.DropDownListFor(model => model.IssueDocTypeId, Model.AvailableIssueDocType, new { @class = "form-control", @autofocus = "on" })
        <!-- Error Message -->
        <div class="error-message" style="display:none">
            <i class="fa fa-exclamation-triangle"></i>
            @Html.ValidationMessageFor(model => model.IssueDocTypeId)
        </div>
        <!-- //Error Message -->
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-5">
        <label class="control-label">Template Title <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
        @Html.TextBoxFor(model => model.TemplateTitle, new { @class = "form-control", @placeholder = "Template Titlte", @autocomplete = "off", @maxlength = "50" })
        <!-- Error Message -->
        <div class="error-message" style="display:none">
            <i class="fa fa-exclamation-triangle"></i>
            @Html.ValidationMessageFor(model => model.TemplateTitle)
        </div>
        <!-- //Error Message -->
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <label class="control-label">Template SubTitle </label><!-- Form Label -->
        @Html.TextBoxFor(model => model.TemplateSubTitle, new { @class = "form-control", @placeholder = "Template SubTitle", @autocomplete = "off" })

    </div>
    <!-- Form Coulmn -->
</div>
<!-- Row -->
<!-- Row -->
<div class="row top-space-10">

    <!-- Form Coulmn -->
    <div class="col-md-8">
        <label class="control-label">Template Text <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
        @Html.TextBoxFor(model => model.TemplateText, null, new { @class = "form-control" })
        <div class="error-message" style="display:none">
            <i class="fa fa-exclamation-triangle"></i>
            @Html.ValidationMessageFor(model => model.TemplateText)
        </div>
        <!-- //Error Message -->
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-2">
        <label class="control-label">Effective From <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
        @Html.TextBoxFor(model => model.EffDate, new { @class = "" })
        <!-- Error Message -->
        <div class="error-message" style="display:none">
            <i class="fa fa-exclamation-triangle"></i>
            @Html.ValidationMessageFor(model => model.EffDate)
        </div>
        <!-- //Error Message -->
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-2" id="token_div" style="display: none">
        <label class="control-label"><b>Template Tokens </b></label><!-- Form Label -->
        <div class="token_list" style="overflow-y: scroll;overflow-x: hidden;height: 381px;width: 175px;"></div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Row -->
<!-- Row -->
<div class="row top-space-10">
    <!-- Form Coulmn -->
    <div class="col-md-6">
        <input type="submit" name="save" value="Save" id="submit_btn" class="btn btn-success" />
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Row -->

<script>
    $(".token_list li").draggable({
        revert: "invalid",
        refreshPositions: true,
        drag: function (event, ui) {
            ui.helper.addClass("draggable");
        },
        stop: function (event, ui) {
            ui.helper.removeClass("draggable");
            //var image = this.src.split("/")[this.src.split("/").length - 1];
            //if ($.ui.ddmanager.drop(ui.helper.data("draggable"), event)) {
            //    alert(image + " dropped.");
            //}
            //else {
            //    alert(image + " not dropped.");
            //}
        }
    });
    $("#TemplateText_ifr").droppable({
        drop: function (event, ui) {
            if ($("#TemplateText_ifr ").length == 0) {
                $("#TemplateText_ifr").html("");
            }
            ui.draggable.addClass("dropped");
            $("#TemplateText_ifr").append(ui.draggable);
        }
    });


    @if (Model.IssueDocTemplateId > 0)
    {
        <text>
    $('#EffDate').attr("disabled", true);
    $('#IssueDocTypeId').attr("disabled", true);
    </text>
    }

    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    tinymce.init({
        selector: '#TemplateText',
        height: 300,
        menubar: false,
        body_class: "ui-droppable",
        //theme: 'modern',
        plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | ' +
                    ' alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat'
    });




    $("#EffDate").kendoDatePicker({
        min: new Date(),
        format: "dd/MM/yyyy"
    });

    $("#EffDate").attr("readonly", true);
    $('#token_div').hide();

    // check on page load if issue doc type has
    if ($('#IssueDocTypeId').val() > 0) {
        GetTokens($('#IssueDocTypeId'));
    }

    // doc type change event
    $('#IssueDocTypeId').change(function () {
        var IssueDocType = $(this);
        if (IssueDocType.val() > 0)
            GetTokens(IssueDocType);
    });

    $('#submit_btn').click(function () {
        $('#EffDate').removeAttr("disabled");
        $('#IssueDocTypeId').removeAttr("disabled");
    });

    function GetTokens(IssueDocType) {
        $('#token_div').hide();
        $('.token_list').html('');
        $('#ks_loader').show();
        
        var IDTempID = $('#IssueDocTemplateId').val();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("CheckIssueDocTypeUniqueness", "IssueDoc"))',
            data: { "IDTID": $('#IssueDocTypeId').val(), "IDTempID": IDTempID },
            success: function (result) {
                if (result.status == "success") {
                    // token list
                    var token = "";
                    for (var i = 0; i < result.data.length; i++) {
                        token = "<span class='ui-droppable'>%" + result.data[i].Text + "%</span><br/>";
                        $('.token_list').append(token);
                    }
                    //token += "</ul>";
                    //token = "<ul>"

                    $('#token_div').show();

                    if ($('#IssueDocTypeId').val() != "") {
                        if (result.createdDate != "") {

                            var EffDate = GetDateFromString(result.createdDate);

                            //get min date according to issue date
                            mindate = GetDatMinString(kendo.toString(result.createdDate, "dd/MM/yyyy"));
                            // function get date as string and return date
                            function GetDatMinString(date) {
                                //alert(date);
                                var datearry = date.split('/');
                                var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                                return returnMinDate;
                            }
                            $("#EffDate").val(kendo.toString(result.createdDate, "dd/MM/yyyy"));
                            //$('#EffDate').val(EffDate);
                            $('#EffectiveDate').val(EffDate);
                            $('#EffDate').kendoDatePicker('min', mindate);
                        }
                        else {
                            $("#EffDate").val(kendo.toString(new Date(), "dd/MM/yyyy"));
                        }
                    }
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error: " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

</script>