﻿@model ViewModel.ViewModel.IssueDocument.IssueDocTemplateModel
@{
    ViewBag.Title = "HTMLTemplate";
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    <div class="col-md-6" id="heading_assign">
        <h1>Assign Template <span style="font-size: 11px">( <i style="color: red;font-size: 8px;" class="fa fa-asterisk"></i> fields are required )</span></h1>
    </div>
    <div class="col-md-6" hidden id="heading_reassign">
        <h1>Re-assign Template <span style="font-size: 11px">( <i style="color: red;font-size: 8px;" class="fa fa-asterisk"></i> fields are required )</span></h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Html.Raw(Url.Action("List", "IssueDoc"))" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->
<!---hidden fields-->
@*@Html.HiddenFor(m=>m.IssueDocHTMLTemplateId)*@
@Html.HiddenFor(m => m.IssueDocTemplateId, new { @id = "HTMLTempIssueDocTemplateId" })
<!---hidden fields-->
<!-- HTML Template Assignment (Modal)-->
@*<div class="modal-popup" id="htmltemplate_modal" style="display: none">*@
@*<div class="modal-popup-body">*@
@*<div class="modal-content">*@
@*<div class="modal-header">
        <h4 class="modal-title">Assign HTML Template</h4>
    </div>*@
@*<div class="modal-body">*@
<!-- Validation show -->
<div class="col-md-12 text-danger" id="data_validation_div" style="display: none">
    <ul></ul>
</div>
<!-- Validation show -->
<form class="form-horizontal ks-custom-form">
    <div class="row top-space-10">
        <!-- Form Coulmn -->
        <div class="col-md-2">
            <div class="">
                <label class=" control-label">HTML Template</label><!-- Form Label -->
                <div class="">
                    @Html.DropDownListFor(model => model.IssueDocHTMLTemplateId, Model.AvailableIssueDocHTMLTemplate, new { @class = "form-control" })
                </div>
                <!-- Form Field -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-2">
            <div class="">
                <label class=" control-label">Effective From</label><!-- Form Label -->
                <div class="">
                    @Html.TextBox("EffectiveFrom", null, new { @class = "" })
                </div>
                <!-- Form Field -->
            </div>
        </div>
        <!-- //Form Coulmn -->
    </div>
    <div class="row top-space-10" style="display: none" id="full_template_div">
        <div class="col-md-12">
            <div id="cert_full_template">
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" id="Save_FullDoc" name="save" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            @*<button type="button" class="btn btn-danger" id="close_div">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>*@
        </div>
    </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            @*<button type="button" id="Save_FullDoc" name="save" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>*@
            @*<button type="button" class="btn btn-danger" id="close_div">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>*@
        </div>
    </div>
</form>
@*</div>*@
@*</div>*@
@*</div>*@
@*</div>*@
<!-- HTML Template Assignment (Modal)-->
<script>

    var IssueDocTempId = "";
    var IssueDocHTMLTempId = "";
    var url = window.location.href.slice(window.location.href.lastIndexOf('?')).split("&");
    if (url != "") {
        var arryUrl = url.toString().split("=");
        IssueDocTempId = arryUrl[1].split(",")[0];

    }

    
    $(document).ready(function () {
        $("#EffectiveFrom").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: new Date()
        });

        if (url != "") {
            //$('#HTMLTempIssueDocTemplateId').val(url);
            $('#EffectiveFrom').kendoDatePicker('min', '@Model.EffDate', "dd/MM/yyyy");
            $("#EffectiveFrom").val('@Model.EffDate');

            if ($('#IssueDocHTMLTemplateId').val() != "")
                 $('#IssueDocHTMLTemplateId').trigger('change');
        }

        $("#EffectiveFrom").attr("readonly", true);
    });
   

    $('#IssueDocHTMLTemplateId').change(function () {
        $('#Save_FullDoc').hide();
        $('#full_template_div').hide();
        $('#cert_full_template').html('');
        var issuedoctemplateid = IssueDocTempId;
        var IssueDocHTMLTemplate = 0;
        if ($(this).val() != "") {
            IssueDocHTMLTemplate = parseInt($(this).val());
            if (IssueDocHTMLTemplate != "") {
                $('#ks_loader').show();
                // ajax call
                //var IssueDocTemplateId = IssueDocTempId;
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetFullIssueDocHTMLTemplate", "IssueDoc"))',
                    data: { "IDOCTID": issuedoctemplateid, "IDOCHTEMPID": IssueDocHTMLTemplate },
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.msg != "") {
                                $('#Save_FullDoc').hide();
                                $('#full_template_div').show();
                                ToastMessage(result.msg, "success", true, 5000);
                                $("#heading_assign").hide();
                                $("#heading_reassign").show();
                            }
                            else {
                                $("#heading_assign").show();
                                $("#heading_reassign").hide();
                                $('#Save_FullDoc').show();
                                $('#full_template_div').show();
                            }
                            $('#cert_full_template').append(result.data);
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error :" + " " + status + " : " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });

            }
        }
    });
    $('#Save_FullDoc').click(function () {
        $('#ks_loader').show();
        var isvalid = ValidateMapping();
        if (isvalid) {
            // create object and save with ajax
            var mappingobj = new Object;
            mappingobj.IssueDocTemplateId = IssueDocTempId;
            mappingobj.IssueDocTempId = IssueDocTempId;
            mappingobj.EffectiveDate = GetDateFromString($('#EffectiveFrom').val());
            mappingobj.IssueDocHTMLTemplateId = $('#IssueDocHTMLTemplateId').val();

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("InsertDocHTMLTemplateMapping", "IssueDoc"))',
                data: mappingobj,
                success: function (result) {
                    if (result.status == "success") {
                        //window.location.reload();
                        $('#Save_FullDoc').hide();
                        ToastMessage(result.msg, "success", true, 5000);
                    }
                    else {
                        var validationarray = result.data.split('ε');
                        for (var i = 0; i < validationarray.length - 1; i++)
                            ToastMessage(validationarray[i], "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        }
        else {
            var validationarray = valdmessage.split('ε');
            for (var i = 0; i < validationarray.length - 1; i++)
                ToastMessage(validationarray[i], "error", true, 5000);
            $('#ks_loader').hide();
        }
    });
    var valdmessage = "";
    var IsMapValid = true;
    function ValidateMapping() {
        valdmessage = "";
        IsMapValid = true;
        if ($('#IssueDocHTMLTemplateId').val() == "") {
            valdmessage += "HTML Template required ε";
            IsMapValid = false;
        }
        if ($('#EffectiveFrom').val() == "") {
            valdmessage += "Effective from required ε";
            IsMapValid = false;
        }

        return IsMapValid;
    }
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }
</script>
