﻿@model ViewModel.ViewModel.IssueDocument.IssueDocTemplateModel

@{
    ViewBag.Title = "Manage Document Template";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<style>
    .modal-popup-body {
        width: 850px;
    }
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Document Template</h1>
    </div>

    <div class="col-md-6 text-right">
        <a id="Filter_Doc" class="btn btn-xs btn-default">Filter</a>
        <a href="@Html.Raw(Url.Action("DocumentTemplate", "IssueDoc"))" id="Addnew_Doc" class="btn btn-xs btn-default">Add New</a>
    </div>

</div>
<!-- //Page Heading -->
<!-- Page Controls -->
@Html.Hidden("IssueDocTemplateId")

<div class="row top-space-10 form-inline ks-custom-form" id="div_filterDocs" hidden>
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Document Type</label>
            @Html.DropDownList("DocTypes", Model.AvailableFilterIssueDocType, new { @class = "form-control", @style = "width:180px" })
        </div>
        <div class="form-group">
            <label class="control-label">Status</label>
            <select id="Doc_status" class="form-control" style="width:120px">
                <option value="All"> All</option>
                <option value="Active" selected> Active</option>
                <option value="Closed"> Closed</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">From</label><!-- Form Label -->
            <select id="Choose_DateFilter" class="form-control" style="width:155px">
                <option value=""> --Select--</option>
                <option value="EffDate"> Effective Date</option>
                <option value="ClosedDate"> End Date</option>
            </select>
        </div>
        <div class="form-group" id="FilterFormDoc_Date" style="display:none;">
            <label class="control-label">From</label><!-- Form Label -->
            @Html.TextBox("FromDate", "", new { @class = "form-control" })
        </div>
        <div class="form-group" id="FilterToDoc_Date" style="display:none;">
            <label class="control-label">To</label><!-- Form Label -->
            @Html.TextBox("ToDate", "", new { @class = "form-control" })
        </div>
        &nbsp; &nbsp; &nbsp;
        <div class="form-group">
            <button type="button" id="filterDocs" class="btn btn-default">Filter</button>
            <button type="button" id="resetDocs" class="btn btn-danger">Reset</button>
        </div>
    </div>

</div>

<div class="row top-space-10">
    <div id="table-student-grid">
        <script>
            $(document).ready(function () {
                $("#table-student-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("GetAllDocTemplates", "IssueDoc"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function (data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: '@(defaultGridPageSize)',
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,

                    columns: [{
                        field: "IssueDocTemplateId",
                        hidden: true
                    }, {
                        field: "EncIssueDocTemplateId",
                        hidden: true
                    }, {
                        field: "IssueDocType",
                        title: "Document Type",
                        sortable: true
                    }, {
                        field: "TemplateTitle",
                        title: "Document Title",
                        sortable: true
                    }, {
                        field: "HtmlTitle",
                        title: "HTML Template",
                        sortable: true
                    }, {
                        field: "EffDate",
                        title: "Effective Date",
                        sortable: true
                    }, {
                        field: "DTEndDate",
                        title: "End Date",
                        template: "#if(DTEndDate !=null) {# #= kendo.toString(kendo.parseDate(DTEndDate, 'MM/dd/yyyy hh:mm:ss tt'), 'dd/MM/yyyy') # #}#",
                        sortable: true
                    }, {
                        field: "EncIssueDocTemplateId",
                        title: "Action",
                        sortable: false,
                        template: "#if(DTEndDate == null){#"
                                                + "#if(!hasAnyTemplate)"
                                                    + " {#<a class='btn btn-xs btn-default clsEditIssueDoc' href='javascript:void(0)' title='Edit Document Template'"
                                                    + " data-toggle='tooltip' data-placement='top' data-id='#=IssueDocHTMLTemplateId#'><i class='fa fa-pencil'></i></a>"
                                               + " #}#"
                                               + " #if(IssueDocHTMLTemplateId != 'null')"
                                               + " {#<a class='btn btn-xs btn-default clsassignhtmltemplate'"
                                               + "  href=' @Url.Content("~/IssueDoc/HTMLTemplate?Id=#=EncIssueDocTemplateId#" + "&HtmlTemplateId=#=IssueDocHTMLTemplateId#")'"
                                               + "  title='Assign Template' data-toggle='tooltip' data-placement='top'><i class='fa fa-map-o'></i></a>#}"
                                               + " else {#<a class='btn btn-xs btn-default clsassignhtmltemplate' data-id='#=IssueDocHTMLTemplateId#'"
                                               + "  href='@Url.Content("~/IssueDoc/HTMLTemplate?Id=#=EncIssueDocTemplateId#")'"
                                               + "  title='Assign Template' data-toggle='tooltip' data-placement='top'><i class='fa fa-map-o'></i></a>#}#"
                                               + " #if(IsDeleted)"
                                                    + " {#<a class='btn btn-xs btn-default clsdeletedoctemplate' href='javascript:void(0)' title='Delete Document Template' data-toggle='tooltip' data-placement='top'><i class='fa fa-trash'></i></a>"
                                                + "#}else"
                                               +" {# "
                                               + " <a class='btn btn-xs btn-default clsclosedoctemplate' href='javascript:void(0)' title='Close Document Template' data-toggle='tooltip' data-placement='top'><i class='fa fa-ban'></i></a>"
                                               + "#}#"
                                + "#}"
                                + "else {#<a class='btn btn-xs btn-default clsCreateTempIssueDoc' href='javascript:void(0)' title='Create New Template'"
                                          + "data-toggle='tooltip' data-placement='top' data-id='#=EncIssueDocTemplateId#'>"
                                          + " <i class='fa fa-plus'></i>"
                                          + "</a> #}#"
                                + "#if(IsAssignHtml) {#<a class='btn btn-xs btn-default clsviewhtmltemplate' href='javascript:void(0)' title='View Template'"
                                + " data-toggle='tooltip' dataid1='#=EncIssueDocTemplateId#'"
                                + " data-placement='top' data-id='#=IssueDocHTMLTemplateId#'><i class='fa fa-eye'></i></a>#}#"
                    }]
                });
                var grid = $("#table-student-grid").data("kendoGrid");
            });

            function onDataBound(arg) {
                $('[data-toggle="tooltip"]').tooltip();
            }

            function additionalData() {
                var data = {
                    IssueDocTypeId: $("#DocTypes").val(),
                    "DocTypeStatus": $("#Doc_status").val(),
                    "FromDate": $("#FromDate").val(),
                    "ToDate": $("#ToDate").val(),
                    "DateFiltering": $("#Choose_DateFilter").val()
                };
                addAntiForgeryToken(data);
                return data;
            }

            addAntiForgeryToken = function (data) {
                data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                return data;
            };
        </script>
    </div>
</div>
<!-- Dialog Box  -->
<div class="view_dialog_box viewbox_div" id="ViewBox" style="width: 28%;display: none">
    <div style="width:100%; height:25px; float:left;">
        <font style="float:left; padding:2px 10px;">
            <b>Close Document Template</b>
        </font>
        <a class="text-danger" href="javascript:void(0);" id="close_ViewBox">
            <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
        </a>
    </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            <label class="control-label col-md-4">End Date</label>
            <div class="col-md-8">
                @Html.TextBox("EndDate", null, new { @class = "" })
            </div>
        </div>
        <div class="col-md-12 top-space-10" style="margin-bottom: 15px;">
            <label class="col-md-4"></label>
            <div class="col-md-3">
                <button type="button" id="save_ViewBox" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Dialog Box -->
<!-- HTML Template VIEW (Modal)-->
<div class="modal-popup" id="view_htmltemplate_modal" style="display: none">
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View HTML Template</h4>
            </div>
            <div class="row modal-body">
                <div id="cert_view_full_template">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="close_view_div">
                    <i class="fa fa-ban"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- HTML Template VIEW (Modal)-->
<!-- Page Controls -->
<script>
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

    $("#EffectiveFrom").kendoDatePicker({
        format: "dd/MM/yyyy"
    });
    $("#EndDate").kendoDatePicker({
        value: new Date(),
        min: new Date(),
        format: "dd/MM/yyyy"
    });
    $("#EffectiveFrom,#EndDate").attr("readonly", true);

    $("#FromDate, #ToDate").kendoDatePicker({
        format: "dd/MM/yyyy"
    });
    $("#FromDate, #ToDate").attr('readonly', true);

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('#Filter_Doc').click(function () {
        $('#div_filterDocs').toggle();
    });

    $('#filterDocs').click(function () {
        var grid = $("#table-student-grid").data("kendoGrid");
        grid.dataSource.page(1); //new search. Set page size to 1
    });

    $('#resetDocs').click(function () {
        ClearFilterFields();
    });

    $('#Choose_DateFilter').change(function () {
        $("#FromDate").val("");
        $("#ToDate").val("");
        if ($(this).val() != "") {
            $("#FilterFormDoc_Date").show();
            $("#FilterToDoc_Date").show();
        }
        else {
            $("#FilterFormDoc_Date").hide();
            $("#FilterToDoc_Date").hide();
        }
    });



    function ClearFilterFields() {
        $('#DocTypes').val("");
        $('#Doc_status').val("Active");
        $("#FromDate").val("");
        $("#ToDate").val("");
        $("#Choose_DateFilter").val("");

        var grid = $("#table-student-grid").data("kendoGrid");
        grid.dataSource.page(1); //new search. Set page size to 1
    }

    $('#Addnew_Doc').click(function () {
        $('#div_filterDocs').hide();
        var countDocs = '@Model.AvailableIssueDocType.Count()';
        if (countDocs == 0) {
            ToastMessage("All Doc Type templates have been added already.", "error", true, 5000);
            return false;
        }
    });

    //$('.clsNewTemplate').click(function () {
    //    var row = $(this).parent().parent();
    //    var IssueDocTemplateId = row.find(".cls-idtid").text();
    //    var EncIssueDocTemplateId = $(this).attr('data-id');

    //});


    $(document).on("click", ".clsEditIssueDoc", function () {
        var row = $(this).parent().parent();
        var IssueDocTemplateId = row.find("td:nth-child(1)").text();
        var EncIssueDocTemplateId = row.find("td:nth-child(2)").text();;
        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("getIssuedDocs", "IssueDoc"))',
            data: { "IssueDocTemplid": IssueDocTemplateId },
            success: function (result) {
                if (result.HasTemplate != "") {
                    ToastMessage("This Template is issue to some one so please create new rather than edit it.", "error", true, 5000);
                    return false;
                }
                else {
                    window.location.href = '@Html.Raw(Url.Action("Edit", "IssueDoc"))?Id=' + EncIssueDocTemplateId;
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error :" + " " + status + " : " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    $(document).on("click", ".clsCreateTempIssueDoc", function () {
        var row = $(this).parent().parent();
        var IssueDocTemplateId = row.find("td:nth-child(1)").text();
        var EncIssueDocTemplateId = row.find("td:nth-child(2)").text();

        window.location.href = '@Html.Raw(Url.Action("Edit", "IssueDoc"))?Id=' + EncIssueDocTemplateId + '&CreateNew=true';

    });

    $(document).on("click", ".clsdeletedoctemplate", function () {
        var row = $(this).parent().parent();
        var IssueDocTemplateId = row.find("td:nth-child(1)").text();
        if (IssueDocTemplateId > 0) {
            if (confirm("Are you sure to delete this template") == true) {
                $('#ks_loader').show();

                // ajax call fro save row closing date
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("Delete", "IssueDoc"))',
                    data: { "id": IssueDocTemplateId },
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.data, "success", true, 5000);
                            window.location.reload();
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error :" + " " + status + " : " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        }
    });

    $("#table-student-grid").on("click", ".clsassignhtmltemplate", function () {
        var row = $(this).parent().parent();
        $('#IssueDocTemplateId').val(row.find("td:nth-child(1)").text());
        $('#htmltemplate_modal').show();
        $('#Save_FullDoc').hide();

        //var IssueDocId = $(this).attr("data-id");
        //var HtmlTemplateId = $(this).attr("data-id1");

        @*window.location.href = '@Url.Action("HTMLTemplate", "IssueDoc") + "?Id=" + IssueDocId
                                                +"&HtmlTemplateId='" + HtmlTemplateId + "'";*@
    });

    $('#close_div').click(function () {
        $('#IssueDocTemplateId').val('');
        $('#IssueDocHTMLTemplateId').val('');
        $('#EffectiveFrom').val('');

        $('#htmltemplate_modal').hide();
        $('#Save_FullDoc').hide();
        $('#full_template_div').hide();
        $('#cert_full_template').html('');
    });

    $(document).on("click", ".clsclosedoctemplate", function () {
        var row = $(this).parent().parent();
        $('#IssueDocTemplateId').val(row.find("td:nth-child(1)").text());

        // function get date as string and return date
        function GetDatMinString(date) {
            //alert(date);
            var datearry = date.split('/');
            var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
            return returnMinDate;
        }
        //get min date according to issue date
        mindate = GetDatMinString(kendo.toString(row.find("td:nth-child(6)").text(), "dd/MM/yyyy"));
        var currentDate = GetDatMinString(kendo.toString(new Date(), "dd/MM/yyyy"));
        if (new Date(mindate) >= new Date(currentDate)) {
            $('#EndDate').val(row.find("td:nth-child(6)").text());
            $('#EndDate').kendoDatePicker('min', mindate);
        }
        else {
            $("#EndDate").val(kendo.toString(new Date(), "dd/MM/yyyy"));
            $('#EndDate').kendoDatePicker('min', GetDatMinString(kendo.toString(new Date(), "dd/MM/yyyy")));
        }

        opendialog();
    });

    // save end date
    $('#save_ViewBox').click(function () {
        $('#ks_loader').show();
        if ($('#EndDate').val() != "" || $('#EndDate').val() != null) {
            if ($('#IssueDocTemplateId').val() != "") {
                var EndDate = $('#EndDate').val();
                EndDate = GetDateFromString(EndDate);
                var IssueDocTemplateId = $('#IssueDocTemplateId').val(); // BusRouteId

                // ajax call fro save row closing date
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CloseIssueDocTemplate", "IssueDoc"))',
                    data: { "IDTID": IssueDocTemplateId, "EndDate": EndDate },
                    success: function (result) {
                        if (result.status == "success") {
                            window.location.reload();
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                        }
                        closedialog();
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                ToastMessage("End Date required", "error", true, 5000);
                $('#ks_loader').hide();
            }
        }
        else {
            ToastMessage("End Date required", "error", true, 5000);
            $('#ks_loader').hide();
        }
    });

    // dialog box
    $('#close_ViewBox').click(function () {
        closedialog();
    });

    function opendialog() {
        $(".viewbox_div").hide(800);
        $("#ViewBox").show(800);
    }

    function closedialog() {
        $('#rowindex').val('');
        $("#ViewBox").hide(800);
    }


    $("#table-student-grid").on("click", ".clsviewhtmltemplate", function () {
        $('#view_htmltemplate_modal').show();
        var row = $(this).parent().parent();
        var IssueDocTemplateId = row.find("td:nth-child(2)").text();
        $('#IssueDocTemplateId').val(IssueDocTemplateId);

        $('#cert_view_full_template').html("");
        var IssueDocHTMLTemplate = $(this).attr('data-id');
        if (IssueDocHTMLTemplate > 0) {
            $('#ks_loader').show();
            // ajax call
            var IssueDocTemplateId = $('#IssueDocTemplateId').val();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetFullIssueDocHTMLTemplate", "IssueDoc"))',
                data: { "IDOCTID": $('#IssueDocTemplateId').val(), "IDOCHTEMPID": IssueDocHTMLTemplate },
                success: function (result) {
                    if (result.status == "success") {
                        $('#cert_view_full_template').append(result.data);
                    }
                    else {
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error :" + " " + status + " : " + data;
                    $('#ks_loader').hide();
                }
            });
        }
    });
    $('#close_view_div').click(function () {
        $('#view_htmltemplate_modal').hide();
    })
</script>