﻿@model ViewModel.ViewModel.IssueDocument.IssueDocTypeModel
@{
    ViewBag.Title = "Manage Certificate Token List";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style>
    .IssueDoc-info-arrows input {
        width: 70%;
        margin: 69px 0 0 0;
    }
</style>

<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
@if (TempData["success_DocMsges"] != null && TempData["success_DocMsges"] != "")
{
    <script>
        $(function () {
            ToastMessage('@TempData["success_DocMsges"]', "success", true, 5000);
        });
    </script>
}

<div class="modal-popup" id="updateEditabletoken" hidden>
    <div class="modal-popup-body" style="width:390px!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_div" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Editable Tokens</h4>
            </div>
                <div class="row modal-body">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label>Tokens</label><br />
                            @Html.DropDownListFor(m => m.EditableTokenId, Model.SaveTokenLists, new
                               {
                                   @class = "form-control",
                               })
                        </div>
                        <div class="col-md-3">
                            <label>Editable</label><br />
                            <input type="checkbox" id="isShownAlwaysInForm" />
                        </div>
                        <div class="col-md-3 top-space-20">
                            <button type="button" name="Save" class="btn btn-success" id="SaveEditableTokenId">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="close_div" class="btn btn-default close_div" id="">
                        Close
                    </button>
                </div>
          
        </div>
    </div>
</div>

<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Add Document Type Tokens</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Url.Action("ManageIssueDocType", "IssueDoc")" id="btntokenList_back" class="btn btn-xs btn-default"> back</a>
        <a href="javascript:void(0)" id="editableTokenHr" class="btn btn-xs btn-default">Editable Token</a>
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm("SaveIssueDocTokens", "IssueDoc", FormMethod.Post))
{
    @Html.HiddenFor(m => m.LeftTokenVal)
    @Html.HiddenFor(m => m.RightTokenVal)
    @Html.HiddenFor(m => m.EncIssueDocTypeId)
    @Html.HiddenFor(m => m.IssueDocTypeId)
    <div class="form-inline ks-custom-form">
        <div class="row top-space-10" id="div_add">
            <div class="col-md-12">

                <div class="col-md-6">
                    <h4>Select Tokens (multiple)</h4>
                    <div class="top-space-20">
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.RightTokenId, Model.RightTokenLists, new
                               {
                                   @class = "form-control",
                                   @multiple = "true",
                                   @style = "overflow: auto;height: 202px;width: 178PX;padding: 7px 10px 8px 10px;"
                               })
                        </div>
                        <div class="col-md-2">
                            <div class="IssueDoc-info-arrows text-center">
                                <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                                @if (Model.IsCertificateIssued)
                                {
                                    <input type='button' id='btnLeft' value='<' disabled class="btn btn-default" style="margin-top:5px" /><br />
                                }
                                else
                                {
                                    <input type='button' id='btnLeft' value='<' class="btn btn-default" style="margin-top:5px" /><br />
                                }

                            </div>
                        </div>
                        <div class="col-md-4">
                            @*//<label class="col-md-4 control-label">Selected Tokens</label>*@
                            @Html.DropDownListFor(m => m.LeftTokenId, Model.LeftTokenLists, new
                            {
                                @class = "form-control",
                                @multiple = "true",
                                @style = "overflow: auto;height: 202px;width: 178PX;padding: 7px 10px 8px 10px;"
                            })
                            <br /><br />
                            <div class="form-group">
                                <button type="submit" id="save_Tokens" class="btn btn-success"><i class="fa fa-floppy-o"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Editable Tokens</h4>

                    @Html.DropDownListFor(m => m.EditableListTokenId, Model.EditableTokenLists, new
                    {
                        @class = "form-control",
                        @multiple = "true",
                        @style = "overflow: auto;height: 202px;width: 178PX;padding: 7px 10px 8px 10px;"
                    })
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var DocTypeId = "";
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
        for (var i = 0; i < url.length; i++) {
            DocTypeId = url[1];
        }

        //$(document).ready(function () {
        //    if ($('#LeftTokenId').length > 0) {
        //        $('#btnLeft').show();
        //    }
        //})

        $('#btnRight').click(function (e) {
            var selectedOpts = $('#RightTokenId option:selected');
            if (selectedOpts.length == 0) {
                ToastMessage('Nothing to move.', "error", true, 5000);
                //alert("");
                e.preventDefault();
            }

            $('#LeftTokenId').append($(selectedOpts).clone());
            $('#LeftTokenVal').append($('#RightTokenId option:selected').text());
            $(selectedOpts).remove();
            e.preventDefault();
        });


        $('#btnLeft').click(function (e) {
            var selectedOpts = $('#LeftTokenId option:selected');
            if (selectedOpts.length == 0) {
                ToastMessage('Nothing to move.', "error", true, 5000);
                e.preventDefault();
            }

            var $ddl = $(selectedOpts).clone();
            $('#RightTokenId').append($ddl);
            $('#RightTokenVal').append($('#LeftTokenId option:selected').text());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        // select all option if has
        $('#LeftTokenId option').prop("selected", true);
        $('#save_Tokens').click(function () {
            $("#EncIssueDocTypeId").val(DocTypeId);
            $('#LeftTokenId option').prop("selected", true);

            $('#LeftTokenVal').val("");
            var html1 = "";
            $.each($('#LeftTokenId option:selected'), function (i) {
                html1 += $('#LeftTokenId option:selected')[i].text + ",";
            });
            $('#LeftTokenVal').val(html1);

            $('#RightTokenId option').prop("selected", true);
            $('#RightTokenVal').val("");
            var html2 = "";
            $.each($('#RightTokenId option:selected'), function (i) {
                html2 += $('#RightTokenId option:selected')[i].text + ",";
            });
            $('#RightTokenVal').val(html2);

        });

        $("#SaveEditableTokenId").click(function () {
            let tokenid = $("#EditableTokenId").val();
            let IsShown = $('#isShownAlwaysInForm').prop("checked");
            if (tokenid != "" && tokenid != "") {
              
               $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UpdateEditableToken", "IssueDoc"))',
                    data: { "tokenid": tokenid,"IsShown":IsShown},
                    success: function (result) {
                        if (result.status == "success") {
                            
                           ToastMessage(result.data, "success", true, 5000);
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);

                    }
                });

            }
        });
         $("#EditableTokenId").change(function () {
             $('#isShownAlwaysInForm').prop("checked", false);
            if ($(this).val() != "" && $(this).val() != "") {
                let tokenid = $(this).val();
               $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("IsAlwaysShownInForm", "IssueDoc"))',
                    data: { "tokenid":tokenid},
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.Checked)
                                $('#isShownAlwaysInForm').prop("checked", true);
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }

                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);

                    }
                });
            }
         });
        $(".close_div").click(function () {
            $("#updateEditabletoken").hide();
            var issudoctypeid = $("#IssueDocTypeId").val();
            if (issudoctypeid != "" && issudoctypeid != null) {
                  $("#EditableListTokenId").html("");
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetEditableIssueDocColList", "IssueDoc"))',
                    data: { "issudoctypeid": issudoctypeid },
                    success: function (result) {
                        if (result.status == "success") {
                            var html = "";
                             $.each(result.List, function (i) {
                                html += '<option Value="' + result.List[i].Value + '">'
                                    + result.List[i].Text + '</option>';
                            });
                            $("#EditableListTokenId").append(html);
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }

                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);

                    }
                });
            }
        });
        $("#editableTokenHr").click(function () {
            $("#EditableTokenId").val("");
            $('#isShownAlwaysInForm').prop("checked", false);
            $("#updateEditabletoken").show();
        });
    </script>
}
