﻿@model ViewModel.ViewModel.IssueDocument.IssueDocTypeModel
@{
    ViewBag.Title = "Manage IssueDoc Type";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Issue Document Type</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        <button type="button" id="btnIssueDocT_filter" class="btn btn-xs btn-default"> Filters</button>
        <button type="button" id="btnIssueDocT_add" class="btn btn-xs btn-default">Add New</button>
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.IssueDocTypeId)

    <div class="form-inline ks-custom-form">
        <!-- Page Filters -->
        <div class="row top-space-10" style="display: none" id="div_filter">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Issue Document Type</label>
                    @Html.TextBox("FilterIssueDocType", "", new { @class = "form-control", @placeholder = "Issue Document Type" })
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filter_docT" class="btn btn-default">Filter</button>
                    <button type="button" id="reset_docT" class=" btn btn-danger">Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10" style="display: none" id="div_add">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Issue Document Type<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.TextBoxFor(model => model.IssueDocType, new
                       {
                           @class = "form-control",
                           @autofocus = "on",
                           @maxlength = "100",
                           @autocomplete = "off",
                           @placeholder = "Issue Document Type"
                       })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.IssueDocType)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="col-md-3">
                    <label class="control-label">Certificate Fee</label>
                    @Html.TextBoxFor(model => model.CertificateFee, new
                       {
                           @class = "form-control",
                           @placeholder = "0.00"
                       })
                </div>
                <div class="form-group col-md-1">
                    <label class="control-label">Is Fee Certificate</label><!-- Form Label -->
                    <br />
                    @Html.CheckBoxFor(model => model.IsFeeCertificate)
                </div>
                <div class="col-md-2">
                    <label class="control-label">Document Issued In</label>
                    <select id="drpDocIssedIn" class="form-control">
                        <option value="">--Select--</option>
                        <option value="OnceInYr">Once in a Year</option>
                        <option value="Lifetym">LifeTime</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Series Ref</label>
                    <select style="width:100%" class="form-control " id="seriesRefId">
                      
                    </select>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="col-md-3 seriesStartDiv">
                        <label class="control-label">Series Start</label><br />
                        <input type="text" class="form-control" id="seriesStartId" maxlength="6"/>
                    </div>
                   
                    <div class="form-group top-space-20" style="float:right">
                        <button type="button" id="submit" class="btn btn-success"></button>
                        <button type="button" id="cancel" class="btn btn-danger"><i class="fa fa-ban"></i>Cancel</button>
                    </div>
                </div>
        </div>
        <!-- // Page Filters -->
        <!--Issue Document Type Kendo Gird -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="IssueDocType-grid">
                    <script>
                        $(document).ready(function () {
                            $("#IssueDocType-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetAllIssueDocumentTypes", "IssueDoc"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,

                                columns: [{
                                    field: "EncIssueDocTypeId",
                                    hidden: true
                                }, {
                                    field: "IssueDocType",
                                    title: "Issue Document Type",
                                    sortable: true
                                }, {
                                    field: "IssueOnceOnly",
                                    title: "Issue Once Only",
                                    sortable: true
                                }, {
                                    field: "OnceInAYear",
                                    title: "Once In a Year",
                                    sortable: true
                                }, {
                                    field: "IsFeeCertificate",
                                    title: "Is Fee Certificate",
                                    sortable: true
                                }, {
                                    field: "CertificateFee",
                                    title: "Certificate Fee",
                                    sortable: true
                                },{
                                    field: "SeriesRef",
                                    title: "Series Ref",
                                    sortable: true
                                },{
                                    field: "SeriesStart",
                                    title: "Series Start",
                                    attributes: {"Class":"SeriesStart"},
                                    sortable: true
                                },{
                                    field: "strSeriesRefId",
                                    attributes: {"Class":"SeriesRefId"},
                                    hidden: true
                                }, {
                                    field: "EncIssueDocTypeId",
                                    title: "Action",
                                    sortable: false,
                                    width: 120,
                                    template:'#{#<a href="javascript:void(0)" title="Edit Document Type"'
                                            + ' data-toggle="tooltip" data-placement="top" data-IssuDoctypeid="#=IssueDocTypeId#"' 
                                            + ' class="editDocType btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                    
                                            + ' #{#<a href="@Url.Action("ManageTokensList", "IssueDoc")?DocTypeId=#=EncIssueDocTypeId#" title="Add tokens"'
                                            + ' data-toggle="tooltip" data-placement="top"'
                                            + ' class="addDocTokens btn btn-xs #: IsExistTokens ? "btn-success" : "btn-default"#"><i class="fa fa-plus"></i></a>#}#'
                                           
                                            + ' #if(!IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top" class="deleteRecords btn btn-xs btn-default"'
                                            + ' cursor:pointer" dataid="#=EncIssueDocTypeId#"'
                                            + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                }]
                            });
                            var grid = $("#IssueDocType-grid").data("kendoGrid");
                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }

                        function additionalData() {
                            var data = {
                                IssueDocType: $.trim($("#FilterIssueDocType").val())
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
        </div>
        <!-- //Issue Document Type Kendo Gird -->
    </div>

    <script type="text/javascript">
        $('#btnIssueDocT_add').click(function () {
            $("#div_filter").hide();
            $("#div_add").show();
              $(".seriesStartDiv").show();
            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Save');
       
              var editIssueDocTypeId = "0";
                    fillSeriesRefDrop(editIssueDocTypeId);

            //var grid = $("#IssueDocType-grid").data("kendoGrid");
            //grid.dataSource.page(1);
            clearAddfields();
        });

        $('#btnIssueDocT_filter').click(function () {
            clearFilterfields();
            $("#div_filter").show();
            $("#div_add").hide();
            //var grid = $("#IssueDocType-grid").data("kendoGrid");
            //grid.dataSource.page(1);
        });
        
        $('#filter_docT').click(function () {
            var grid = $("#IssueDocType-grid").data("kendoGrid");
            grid.dataSource.page(1);
        });

        $('#reset_docT').click(function () {
            clearFilterfields();
            $('#filter_docT').click();
        });

        function clearAddfields()
        {
            $('#IssueDocTypeId').val("");
            $("#IssueDocType").val("");
            $("#drpDocIssedIn").val("");
            $("#CertificateFee").val("");
            $("#IsFeeCertificate").prop("checked", false);
             $("#seriesStartId").val("");
             $("#seriesRefId").val("");
        }

        function clearFilterfields() {
            $("#FilterIssueDocType").val("");
        }

      
        //validations
        var DocTypeValid = true;
        var DocTypevalidationmessage = "";
        var DocTypectrlfocus = "";
        function ValidateDocType() {
            DocTypeValid = true;
            DocTypevalidationmessage = "";
            DocTypectrlfocus = "";

            if ($('#IssueDocType').val() == "") {
                if (DocTypectrlfocus == "")
                    DocTypectrlfocus = "#IssueDocType";
                DocTypevalidationmessage = DocTypevalidationmessage + "Please provide Issue Document Type ε";
                DocTypeValid = false;
            }
            var aa = DocTypevalidationmessage;
            return DocTypeValid;
        }


        $('#submit').click(function () {
            $("#validation_para ul").html('');

            // create model
            var IssueDocModel = new Object();
            IssueDocModel.EncIssueDocTypeId = $('#IssueDocTypeId').val();
            var IssueOnce = false;
            var OnceInYear = false;
            switch($("#drpDocIssedIn").val())
            {
                case "OnceInYr":
                    IssueOnce = false;
                    OnceInYear = true;
                    break;

                case "Lifetym":
                    IssueOnce = true;
                    OnceInYear = false;
                    break;
            }
            IssueDocModel.IssueDocType = $("#IssueDocType").val();
            IssueDocModel.IssueOnceOnly = IssueOnce;
            IssueDocModel.OnceInAYear = OnceInYear;
            IssueDocModel.IsFeeCertificate = $("#IsFeeCertificate").prop("checked");
            IssueDocModel.CertificateFee = $("#CertificateFee").val();
            IssueDocModel.SeriesRefId = $("#seriesRefId").val();
            IssueDocModel.intSeriesStart = "";
            if (IssueDocModel.SeriesRefId == "") {
                IssueDocModel.intSeriesStart = $("#seriesStartId").val();
            }
            var valid = ValidateDocType();
            if (valid) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertUpdateIssueDocType", "IssueDoc"))',
                    data: IssueDocModel,
                    success: function (result) {
                        if (result.status == "success") {
                            $("#IssueDocType-grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
                            $("#div_filter").hide();
                            $("#div_add").hide();
                            ToastMessage(result.data, "success", true, 5000);
                            clearAddfields();
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }

                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);

                    }
                });
            }
            else {
                var validationaray = DocTypevalidationmessage.split('ε');
                $('#ks_loader').hide();
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                return false;
            }

        });


        $("#cancel").click(function () {
            clearAddfields();
            $("#div_filter").hide();
            $("#div_add").hide();

            var grid = $("#IssueDocType-grid").data("kendoGrid");
            grid.dataSource.page(1);
        });


        $("#IssueDocType-grid").on("click", ".editDocType", function (e) {
              clearAddfields();
            $('#ks_loader').show();
            $("#div_filter").hide();
            $("#div_add").show();

            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Update');

            var editIssueDocTypeId = $(this).attr("data-IssuDoctypeid");

            var row = $(this).parent().parent();
            $('#IssueDocTypeId').val(row.find("td:nth-child(1)").text());
            $('#IssueDocType').val(row.find("td:nth-child(2)").text());


            if (row.find("td:nth-child(3)").text() == "true")
            {
                $('#drpDocIssedIn').val("OnceInYr");
            }
            else if (row.find("td:nth-child(4)").text() == "true")
            {
                $('#drpDocIssedIn').val("Lifetym");
            }

            $('#IsFeeCertificate').prop('checked', false);
            if (row.find("td:nth-child(5)").text() == "true")
                $('#IsFeeCertificate').prop('checked', true);

            $('#CertificateFee').val(row.find("td:nth-child(6)").text());

             $("#seriesStartId").val(row.find(".SeriesStart").text());
            var refid = row.find(".SeriesRefId").text();
            if (refid == "") {
                $(".seriesStartDiv").show();
            } else if (refid != "") {
                 $(".seriesStartDiv").hide();
            }
            
            if (editIssueDocTypeId != "")
                fillSeriesRefDrop(editIssueDocTypeId,refid);


           
            $("#seriesRefId").val(row.find(".SeriesRefId").text());

            //var grid = $("#IssueDocType-grid").data("kendoGrid");
            //grid.dataSource.page(1);

            $('#ks_loader').hide();

        });

        $("#IssueDocType-grid").on("click", ".deleteRecords", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" title="Cancel" dataid="' + enceventid + '" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });

        //delete ajax method
        $("#IssueDocType-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var Id = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteIssueDocType", "IssueDoc"))',
                data: { "IssueDocTypeId": Id },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#IssueDocType-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var DocTypeId = tablerow.find("td:nth-child(1)").text();
                            if (Id == DocTypeId)
                                tablerow.remove();
                        });
                        ToastMessage(result.data, "success", true, 5000);
                        $("#IssueDocType-grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });

        $("#IssueDocType-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" dataid="' + enceventid + '" href="javascript:void(0)" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        });

        $("#seriesRefId").change(function () {
            $("#seriesStartId").val("");
            if ($(this).val() == "") {
                $(".seriesStartDiv").show();
            } else {
                $(".seriesStartDiv").hide();
            }
        });

         $(document).on("keypress", "#seriesStartId", function (evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
         })

        function fillSeriesRefDrop(editIssueDocTypeId,refid) {
            $("#seriesRefId").html("");
            if (editIssueDocTypeId != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetSeriesRefList", "IssueDoc"))',
                    data: { "editIssueDocTypeId": editIssueDocTypeId },
                    success: function (result) {
                        if (result.status == "success") {
                            var html = "";
                            $.each(result.List, function (i) {
                                html += '<option Value="' + result.List[i].Value + '">'
                                    + result.List[i].Text + '</option>';
                            });
                            $("#seriesRefId").append(html);
                            if (refid!="") {
                                $("#seriesRefId").val(refid);
                            }
                            //ToastMessage(result.data, "success", true, 5000);
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
        }
    </script>
}
