﻿.k-board_link_div {
        width: 100%;
        height: auto;
        float: left;
    }
    .desh_board_icon_img_text {
        
      
         
        border: 1px solid #e3e3e3;
        -moz-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
        padding: 0px 0px 10px 0px;
    }
    .k-board_link_div {
        width: 100%;
        height: auto;
        float: left;
    }
    .student_sicon {
        width: 100%;
        height: auto;
        float: left;
        overflow: hidden;
    }
        .student_sicon ul {
            width: 100%;
            /*height: 100%;*/
            float: left;
            overflow: hidden;
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
            .student_sicon ul li {
                width: 217px;
                height: 116px;
                float: left;
                overflow: hidden;
                padding-top: 10px;
            }
                .student_sicon ul li a, .student_sicon ul li a:link {
                    width: 202px;
                    height: 115px;
                    float: left;
                    overflow: hidden;
                    background: #e3e3e3;
                    color: #5d5d5d;
                    text-decoration: none;
                    margin: 0px 15px 0px 15px;
                }

    .student_text_desh {
        
        height: 77px;
         
        background: #ffffff;
        text-decoration: none;
        padding-top: 10px;
        margin: 2px 2px 0px 2px;
        text-align: center;
    }
    .student_sicon ul li .student_sicon_strenth {
        
        height: 20px;
         
        text-decoration: none;
        text-align: center;
        color: #636565;
        padding: 3px 0px 2px 0px;
    }