body.ks-drawer-stop-scrolling{ overflow: hidden}
    .ks-drawer-back-shadow{
        width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.5); z-index:99;   display:none;
    }
    
    
    .ks-drawer{width:300px; height:100%; position:fixed; top:0; left:0; background:#f6f6f6; z-index:100;  margin-left:-300px; transition: all 0.5s ease-in-out; overflow:hidden}
    .ks-drawer-open{ margin-left:0;}
    .ks-drawer .ks-drawer-head{background:#AA1D23; position:relative;  padding-top:20px; }
    .ks-drawer .ks-drawer-head h1{ font-size:16px; color:#fff; font-weight: 300;}
    .ks-drawer .ks-drawer-head .settings-button{width:100px; position:absolute; top:10px; right:10px;}
    .ks-drawer .ks-drawer-head .ks-drawer-search{ margin-top:20px; border-top:3px solid #FAA419}
    .ks-drawer .ks-drawer-head .ks-drawer-search .input-group-addon{cursor:pointer; border-radius:0!important}
    .ks-drawer .ks-drawer-head .ks-drawer-search .form-group,.ks-drawer .ks-drawer-head .ks-drawer-search .input-group{ width:100%}
    .ks-drawer .ks-drawer-head .ks-drawer-search .input-group .form-control{border-radius:0!important}
    .ks-drawer .ks-drawer-content-area{overflow: hidden; overflow-y: auto; background: #fff}
     
    .ks-drawer .ks-drawer-content-area .panel-group{ margin-bottom:0}
    .ks-drawer .ks-drawer-content-area .panel-group, .ks-drawer .ks-drawer-content-area .panel-group div {border-radius:0!important}
    .ks-drawer .ks-drawer-content-area .panel-body { padding:0px; }
    
    .ks-drawer .ks-drawer-content-area .panel-group .panel-group .panel-default{ border:0}
    .ks-drawer .ks-drawer-content-area .panel-group .panel-group .panel-default .panel-body{border:0}
    .ks-drawer .ks-drawer-content-area .panel-group .panel-group .panel-heading{text-indent:20px; }
    .ks-drawer .ks-drawer-content-area .panel-group .panel-group .panel-title{ font-size: 13px}
    .ks-drawer .ks-drawer-content-area .panel-group .panel-title a{text-decoration: none!important}
    .ks-drawer .ks-drawer-content-area .panel-group .panel-title a i.fa-plus{display:none}
    .ks-drawer .ks-drawer-content-area .panel-group .panel-title a i.fa-minus{display:block}
    .ks-drawer .ks-drawer-content-area .panel-group .panel-title a.collapsed i.fa-plus{display:block}
    .ks-drawer .ks-drawer-content-area .panel-group .panel-title a.collapsed i.fa-minus{display:none}
    
    .ks-drawer a.drawerSearchClose{position:absolute!important; top:8px!important; right:10px!important; display:none; z-index:101!important; color:#000!important}
	
    .ks-drawer-icon{width:25px; height:30px; padding-top:15px; cursor: pointer;  margin-right:10px;}
    .ks-drawer-icon div{width:100%; height:2px; float:left; background:#000; margin-bottom:5px;}
     .ks-drawer-head a ,.ks-drawer-head{
            color:#fff;
        }


.ks-drawer-content-area .panel-group .panel{
   margin-top:1px!important;
}

 
.ks-drawer-content-area .panel-group .panel .panel-heading {
   padding: 7px 15px!important;
}