﻿@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&subset=latin-ext');

 
 
 body { 
  			background: url(../img/login3.jpg) top center;
			font-family:'Titillium Web'; 
		}
		.login-wrapper{width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.8)}
		.login-vertical-offset{margin-top:100px;} 
		.login-wrapper .panel-heading{background:#AA1D23;}
		.login-wrapper .panel-title{color:#FFFFFF; text-indent:55px;}
		.login-wrapper .panel-heading img{position:absolute; top:0px; left:20px;}
		.login-wrapper .panel-body{margin-top:20px;}
 
.page-heading h1{ color:#AA1D23;} 

.CustonError {
color:#ff0000;
font-size: 12px; line-height:12px;

}



/* Footer */
 
.footer-copyright{background:#91191C; color:#FFFFFF;}





















