﻿@charset "utf-8";
/* CSS Document */
 
 ul.dropdown-menu.custom-drop-down-child li {
    width: 100%;
    float: left;
}
ul.dropdown-menu.custom-drop-down-child li a {
    color: #000;
}
 ul.top-navigation-list1 li a {
    text-decoration: none;
}
 ul.dropdown-menu.custom-drop-down-child {
    border:0px;
	top:35px;
 }

ul.top-navigation-list {
    
    margin:10px 0 0 0;
}
ul.top-navigation-list1 {
    
    margin:0px 0 0 0;
}
ul.top-navigation-list li a {
    color: #000;
}
ul.top-navigation-list1 li a {
    color: #fff;
}
.top-navigation-list1 li {
    list-style: none;
    display: inline;
    font-size: 16px;
	height:35px;
	width:auto;
	float:left;
	
}
ul.top-navigation-list li {
    list-style: none;
    display: inline;
    font-size: 16px;
	height:35px;
	width:auto;
	float:left;
	
}
.top-navigation-list1 li a {
    list-style: none;
    display: inline;
    /* padding-left: 22px; */
    font-size: 11px;
    height: 35px;
    width: auto;
    float: left;
    line-height: 35px;
    padding: 2px 14px;
    text-align: center;
    font-family: tahoma, Arial, Helvetica, sans-serif;
}
 

i.fa.fa-align-justify {
    color: #333;
}
span.img-thumble img {
    max-width: 78px;
    width: 100%;
    height: auto;
}
span.img-thumble.text-center {
    width: 77px;
    height: 77px;
    background: #fff;
    float: left;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: 10px;
}	
ul.top-navigation-list li a {
    list-style: none;
    display: inline;
    /* padding-left: 22px; */
    font-size: 15px;
    height: 35px;
    width: auto;
    float: left;
    line-height: 24px;
    padding: 3px 14px;
    text-align: center;
    font-family: tahoma, Arial, Helvetica, sans-serif;
}
ul.top-navigation-list li a:hover {
    background: #AA1D23;
    border-radius:4px 4px 0 0;
    color: #fff;
    text-decoration: none;
    /* padding: 4px 17px 0 12px; */
}
/*Add active class*/
ul.top-navigation-list li a.active{
    background: #AA1D23;
    border-radius:4px 4px 0 0;
    color: #fff;
    text-decoration: none;
    /* padding: 4px 17px 0 12px; */
}

ul.top-navigation-list1 li a:hover {
    /*background:#fff;
    border-radius:4px 4px 0 0  ;*/
    color:#fff;
    text-decoration: none;
    background:url('../img/drop-up.png') bottom center no-repeat;     
    /* padding: 4px 17px 0 12px; */
}

ul.top-navigation-list li a::after {
    content: "";
    position: absolute;
    border-right: 1px #000 dotted;
    height: 11px;
    top: 19px;
    padding:0 0 0 14px;
}

ul.top-navigation-list li:last-child a::after {
    content: "";
    position: absolute;
    border-right: 0;
    height: 11px;
    top: 19px;
    padding:0 0 0 14px;
}

ul.top-navigation-list1 li a::after {
    content:"";
    position:absolute;
    border-right:1px #fff dotted;
    height:11px;
    top:15px;
    padding:0 0 0 14px;
	
}

ul.top-navigation-list1 li:last-child a::after {
    content:"";
    position:absolute;
    border-right:0;
    height:11px;
    top:25px;
    padding:0 0 0 14px;
	
}

 

 ul.top-navigation-list1 li.active a{
	/*background:#fff;
    border-radius:4px 4px 0 0;*/
    color:#fff;
    text-decoration: none;
    /* padding: 4px 17px 0 12px; */
	
} 
 
 
