﻿.ks-main-nav-level-1{width:100%; background:#F1EFF0; height:45px; float:left;  overflow:hidden}
		.ks-main-nav-level-1 ul{ margin:0px; padding:0px; margin-top:10px; height:35px; overflow:hidden; list-style:none; width:95%; float:left}
		.ks-main-nav-level-1 ul li{ width:auto; float:left; height:35px; list-style:none; line-height: 35px; margin-right:1px;}
		.ks-main-nav-level-1 ul li:after {
              position: absolute;               
              content: "";  
              border-right: 1px dotted #000;
            height:15px;
            margin-top:10px;
        }
        
        .ks-main-nav-level-1 ul li:last-child::after{
            border-right:0;
        }
        .ks-main-nav-level-1 ul li a,.ks-main-nav-level-1 ul li a:link{ width: auto: height:35px; float:left; padding: 0 9px; color:#000; font-size:14px; text-decoration:none; }
        .ks-main-nav-level-1 ul li a:hover,.ks-main-nav-level-1 ul li a.active{ background:#AA1D23!important; color:#fff!important; border-radius:5px 5px 0px 0px!important; text-decoration: none!important}
        
        .ks-navigation-level-2{
            width:100%; background:#AA1D23; height:45px; float:left;
        }
        .ks-navigation-level-2 ul.nav-level-2-ul{
            margin:0px; padding:0px; list-style:none; width:95%; float:left
        }
        .ks-navigation-level-2 ul.nav-level-2-ul li{
              display: inline-block; line-height: 45px; height: 45px;
        }
        
        .ks-navigation-level-2 ul.nav-level-2-ul li a,.ks-navigation-level-2 ul.nav-level-2-ul li.active a{
            color:#fff; text-decoration: none; padding: 0px 10px; height: 45px; float: left; background: none; font-size: 13px;
        }
        
        
        
        /* .ks-navigation-level-2 ul.nav-level-2-ul li a:hover::after, */.ks-navigation-level-2 ul.nav-level-2-ul li.active a:after{
            font-family: FontAwesome;
            position: absolute;               
            content: "\f0d8";              
            height:27px;
            bottom:0;
            font-size: 28px;
            left:50%;
            margin-left: -12px;
            color:#fff;
            
             
        }
        .ks-navigation-level-2 ul.nav-level-2-ul li ul{ margin-top: 0; border: 1px solid #ccc;  margin-top: -7px;}
        .ks-navigation-level-2 ul.nav-level-2-ul li ul li{ height:auto; display: inline}
        .ks-navigation-level-2 ul.nav-level-2-ul li ul li a, .ks-navigation-level-2 ul.nav-level-2-ul li.active ul li a{
            color:#000; text-decoration: none; padding: 3px 20px; float: none; height: auto
        }
        
        .ks-navigation-level-2 ul.nav-level-2-ul li ul li a:hover, .ks-navigation-level-2 ul.nav-level-2-ul li.active ul li a:hover{
            color:#000; text-decoration: none; background: #ccc 
        }
        
        .ks-navigation-level-2 ul.nav-level-2-ul li ul li a:hover::after, .ks-navigation-level-2 ul.nav-level-2-ul li.active ul li a:after{
            font-family: FontAwesome;
            position: absolute;               
              content: "";              
            height:0;
            bottom:0;
            font-size: 0;
            left:0;
            margin-left: 0;
             
        }
         
       .ks-navigation-level-2 ul.nav-level-2-ul li a:hover{ color: #FAA419;}

       .ks-logo-new{
           background:url('/Content/assets/img/whiteback.png'); width:129px; height:122px; position:absolute; top:-80px; right:0; overflow:hidden
       }

      .ks-logo-new a{width:99px; height:99px; overflow:hidden; float:left; margin-top:11px; margin-left:11px;}