﻿@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

body {
    font-family: 'Lato', sans-serif;
    background: #fff;
}

.bottom-hrline {
    width: 100%;
    float: left;
    border-bottom: 1px #999 solid;
}

i.ks-required {
    color: red;
    font-size: 8px;
    position: absolute;
    top: 0;
}

.required {
    color: red;
    font-size: 6px;
    position: absolute;
    top: 56px;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

/*.container {
    max-width: 998px !important;
}*/

.top-space-10 {
    margin-top: 10px !important;
}

.top-space-20 {
    margin-top: 20px !important;
}

.top-space-30 {
    margin-top: 30px !important;
}



.pagination {
    margin: 0 !important;
}

.main-container {
    min-height: 400px;
}

.page-heading {
    padding: 10px 0px;
    border-bottom: 1px solid #cccccc;
}

    .page-heading h1 {
        font-size: 22px;
        margin: 0;
        padding: 0;
    }

    .page-heading h2 {
        font-size: 17px;
        margin: 0;
        padding: 0;
    }

/* Footer */

.footer-artwork {
    width: 100%;
    height: 150px;
    background: url(../img/footer_art.gif) top left repeat-x;
}

.footer-copyright {
    width: 100%;
    line-height: 40px;
}

/* Custom form */
.ks-custom-form label {
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    padding-right: 0;
}

.ks-custom-form fieldset {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f6f6f6;
}

    .ks-custom-form fieldset legend {
        width: auto;
        margin-bottom: 0;
        border: 0;
        padding: 0 10px;
    }

.ks-custom-form .form-group {
    position: relative;
    margin-bottom: 18px;
}

.ks-custom-form div.error-message {
    position: absolute;
    bottom: -16px;
    right: 16px;
    color: #FF0000;
    font-size: 12px;
}

.ks-custom-form input[type=text], .ks-custom-form select, .ks-custom-form input[type=time] {
    height: 28px;
    font-size: 13px;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btn {
    text-shadow: none !important;
}

.fa {
    text-shadow: none !important;
}

.btn-combo-ks {
    margin-right: 25px;
}

.btn-combo-plus-ks {
    width: 25px;
    height: 28px;
    border: 1px solid #ccc;
    border-left: 0;
    float: right;
    text-align: center;
    line-height: 27px;
    color: #009933;
    background: #fff;
}

.error_notification {
    width: 100%;
    height: 25px;
    float: left;
    line-height: 25px;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 12px;
    color: #6c1522;
    font-weight: bold;
    border-top: 1px solid #12709e;
    border-bottom: 1px solid #12709e;
}

.success_notification {
    width: 100%;
    height: 25px;
    float: left;
    line-height: 25px;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 12px;
    color: #6c1522;
    font-weight: bold;
    border-top: 1px solid #12709e;
    border-bottom: 1px solid #12709e;
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}

.list-data-combination li {
    display: inline-block;
    padding-right: 11px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}

    .list-data-combination li:nth-child(2n+1) {
        color: #000;
    }

    .list-data-combination li:nth-child(even) {
        color: #444;
    }

/*------k-enroller-radiobutn-4-20-2017-----*/

.form-horizontal.ks-custom-form #lbl-reg, .form-horizontal.ks-custom-form #lbl-admn {
    margin-right: 20px;
}

.label-margin {
    margin-right: 10px;
}
/*------tabcss------------------*/
.k-smart-tabing {
    WIDTH: 100%;
    FLOAT: LEFT;
    MARGIN: 50PX 0 0 0;
}

.tab-content-annocment {
    background: #f6f6f8;
    border: 1px#ddd solid;
    border-radius: 0px 5px 5px 5px;
    padding: 10px;
    width: 100%;
    float: left;
    height: 209px;
    font-size: 13px;
    overflow: auto;
}

.k-tabs .nav-tabs {
    border-bottom: 0px solid #ddd;
}

.k-tabs ul li a {
    background: #aa1d23;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.k-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #f6f6f8;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}


.k-tabs .nav-tabs > li:hover {
    border: 0px;
}

.k-tabs .nav > li > .nav > li > a:hover {
    text-decoration: none;
    background-color: #aa1d23;
    color: #fff;
}

.k-tabs .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #ddd;
    color: #333;
}

.no-padding {
    PADDING: 0PX;
}

/*p {
    margin: 0 0 10px;
    border-bottom: 1px #DDD solid;
    padding-bottom: 10px;
    padding-top: 8px;
    margin: 0px;
}*/

/*------tabcss-close-------------*/

/*--------student-profile------*/

.profile-left {
    border: 1px#ddd solid;
    border-radius: 4px;
    /* padding: 15px; */
    max-width: 741px;
    width: 100%;
    margin-right: 7px;
    padding-bottom: 15px;
}

.profile-staff {
    border: 1px#ddd solid;
    border-radius: 4px;
    /* padding: 15px; */
    max-width: 1100px;
    width: 100%;
    margin-right: 7px;
    padding-bottom: 15px;
}

.profile-right {
    border: 1px#ddd solid;
    border-radius: 4px;
    padding: 15px;
}

.img-thumbal {
    width: 127px;
    height: 127px;
    border: 1px#ddd solid;
    border-radius: 7px;
    text-align: center;
    /*padding: 50px 0 0 0;*/
    margin: 15px 0 0 0;
    box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.5);
}

.profile-img {
    padding: 0px;
}

.col-xs-12.col-sm-4.col-md-4.col-lg-4 {
    padding: 0px;
}

.text-right {
    text-align: right;
}

.student_profile p {
    margin: 0 0 4px;
    font-size: 13px;
    color: #000;
}

.student_profile h3 {
    margin: 0px 0 6px 0;
    color: #AA1D23;
    font-size: 17px;
    font-weight: bold;
}

.student-detail-list {
    margin: 11px 0 0;
}

.student_profile {
    width: 100%;
    float: left;
    margin: 0px 0 0 0;
}

.no-padding {
    padding: 0px;
}

.parents-list.no-padding p {
    font-size: 13px;
    /*height:33px;*/
    color: #000;
}

.profile-right {
    border: 1px#ddd solid;
    border-radius: 4px;
    padding: 11px 12px 8px 14px;
    background: #fafaff;
    min-height: 159px;
}

.detail-text {
    height: 19px !important;
    overflow: hidden;
}

s.no-padding p {
    margin-bottom: 0px;
}

/*---CALANDER-CSS-*/
.mytablecustom {
    WIDTH: 100%;
}

    .mytablecustom tbody tr td {
    background: #eee;
    text-align: right;
    border: 1px #ddd solid;
    padding: 6px 0 20px 0;
    width: 8%;
    height: 100px;
    }

    .mytablecustom div#component-header {
        width: 100%;
        background: orange;
        padding: 10px;
    }

    .mytablecustom thead {
        background: #ddd;
    }

        .mytablecustom thead tr th {
            padding: 14px;
            font-size: 18px;
            font-weight: normal;
            color: #9D1a1F;
            text-align: center;
            border: 1px #cccccc solid;
        }

}

div#component-header {
    background: orange;
    padding: 14px 0 14px 0;
}

div#component-header {
    background: orange;
    /* padding: 14px 0 14px 0; */
    width: 100%;
    float: left;
    padding: 18px;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.nextbtn a {
    font-size: 18px;
    color: #fff;
    float: left;
    text-decoration: none;
}

.previousbtn a {
    font-size: 18px;
    color: #fff;
    float: right;
    text-decoration: none;
}

.mytablecustom thead tr th :last-child {
    border: 0px;
}

tbody tr td h3 {
    font-size: 17px;
}

.mytablecustom tbody tr td h3 {
    font-size: 16px;
    margin: 0px 0 24px 0;
}

.main-table-wraper {
    margin: 30px 0 40px 0;
}

a.clseve {
    width: 94px;
    FLOAT: left;
    BACKGROUND: #e6b345;
    PADDING: 0 0 0 10px;
    line-height: 19px;
    border-radius: 0 20px 20px 0px;
    margin: 3px 0 0 0;
    text-align: left;
    FONT-SIZE: 12PX;
    COLOR: #FFF;
    text-decoration: none;
}

a.clsanc {
    width: 108px;
    FLOAT: left;
    BACKGROUND: #8f7d4f;
    PADDING: 0 0 0 10px;
    line-height: 19px;
    border-radius: 0 20px 20px 0px;
    margin: 3px 0 0 0;
    text-align: left;
    color: #fff;
    font-size: 12px;
}


a.clsact {
    width: 71px;
    FLOAT: left;
    BACKGROUND: #558971;
    PADDING: 0 0 0 10px;
    line-height: 19px;
    border-radius: 0 20px 20px 0px;
    margin: 3px 0 0 0;
    text-align: left;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}


a.clsexm {
    width: 71px;
    FLOAT: left;
    BACKGROUND: #36596c;
    PADDING: 0 0 0 10px;
    line-height: 19px;
    border-radius: 0 20px 20px 0px;
    margin: 3px 0 0 0;
    text-align: left;
    font-size: 12PX;
    COLOR: #FFF;
    TEXT-DECORATION: NONE;
}

a.clsrst {
    width: 87px;
    FLOAT: left;
    BACKGROUND: #8f7d4f;
    PADDING: 0 0 0 10px;
    line-height: 19px;
    border-radius: 0 20px 20px 0px;
    margin: 3px 0 0 0;
    text-align: left;
    color: #fff;
    font-size: 12px;
}

table#evnttbl tr th {
    width: 1000px;
    text-align: center;
}

.modal-popup .custom-modal-popup {
    right: auto;
    left: 50%;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.modal-popup .custom-modal-popup-Exam {
    right: auto;
    left: 50%;
    width: 325px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.examtable-padding tbody tr td {
    margin-right: 14px;
    padding-left: 66px;
}

.resulttable-padding {
    margin-left: 132px;
}


/* registration tab - css */
.registration-steps {
    width: 100px;
    height: 90px;
    float: left;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

    .registration-steps .number {
        float: left;
        width: 46px;
        height: 46px;
        line-height: 40px;
        margin: 0px 25px;
        border-radius: 100000px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        transition: all 0.4s ease;
    }

    .registration-steps .step-information {
        font-size: 11px;
        line-height: 12px;
        text-align: center;
        width: 100%;
        float: left;
        height: 25px;
        float: left;
        overflow: hidden;
        margin-top: 10px;
    }

    .registration-steps .number.pending-step {
        color: #666;
        background: #ccc;
        border: 2px solid #ccc;
    }

    .registration-steps .number.current-step {
        color: #fff;
        background: #ffcc00;
        border: 2px solid #ffcc00;
    }

    .registration-steps .number.completed-step {
        color: #fff;
        background: #66CD00;
        border: 2px solid #66CD00;
    }

    .registration-steps:hover .number.pending-step {
        border: 2px solid #9f9b9b;
        line-height: 38px;
    }

    .registration-steps:hover .number.current-step {
        border: 2px solid #c7a109;
        line-height: 38px;
    }

    .registration-steps:hover .number.completed-step {
        border: 2px solid #3c7206;
        line-height: 38px;
    }

    .registration-steps .step-pointer {
        width: 50px;
        position: absolute;
        height: 20px;
        right: -25px;
        top: 12px;
        z-index: 1;
    }

        .registration-steps .step-pointer .pointer-border {
            position: absolute;
            border-top: 2px dotted #AA1D23;
            width: 46px;
            left: 0;
            top: 10px;
            z-index: 1;
        }

        .registration-steps .step-pointer .pointer-arrow {
            position: absolute;
            width: 10px;
            height: 16px;
            right: 0;
            top: -4px;
            z-index: 2;
            background: #fff;
            color: #AA1D23;
            font-size: 20px;
        }

/*------------------------Start Library/Book Master Forms Styles------------------------------*/

.tab-content #tab1.tab-pane, .tab-content #tab2.tab-pane, .tab-content #tab3.tab-pane {
    border: 1px solid #DDDDDD !important;
    padding: 0px 20px 35px 20px !important;
    border-radius: 0px 3px 5px 5px !important;
}


/*Confrim Box With yes/no Css*/
#confirmBox {
    display: none;
    background-color: #f4f3e6;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: absolute;
    top: 60%;
    left: 53%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

span.btn {
    background-color: #F8A31E;
    border-color: #F8A31E;
    color: #fff;
}

    span.btn:hover, span.btn:active, span.btn:focus {
        background-color: #e29522;
        border-color: #e29522;
        color: #fff;
    }

#confirmBox span:hover {
    cursor: pointer;
}

#confirmBox button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}

    #confirmBox button:hover {
        background-color: #ddd;
    }

#confirmBox .message {
    text-align: left;
    margin-bottom: 8px;
}

/*Model Popup with filedset for book transaction forms*/
fieldset.popup {
    padding: .35em .625em .75em !important;
    margin: 0 2px !important;
    border: 1px solid silver !important;
}

    fieldset.popup legend {
        display: block;
        width: initial;
        padding: 0;
        margin-bottom: inherit !important;
        font-size: 21px;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }

.morecontent span {
    display: none;
    border: none !important;
}

.morelink {
    display: block;
    border: none !important;
    width: 12%;
}


/*Custom Setting for Master Book Page*/

label.control-label.custLabels {
    width: 24%;
    margin-right: 10px;
}

input.custText {
    width: 65% !important;
    display: inline-block !important;
}

.BarcodeStyle {
    width: 62.2% !important;
}

input#BookTitle {
    width: 65%;
    display: inline-block !important;
}


table.table.table-condensed.table-striped.table-responsive.first-col {
    border-bottom: 1px solid #ddd;
}

table#bookMainAttr th, table#bookMaster th {
    height: 40px;
    width: 30%;
}

table#bookMainAttr tbody td, table#bookMaster tbody td {
    text-align: left;
}

.table.ExtraInfoTable {
    overflow-y: auto;
    display: block;
    height: 195px;
}

.table.ExtraInfoBasicDetail {
    overflow-y: auto;
    display: block;
    height: 295px;
}

td.firsttd {
    width: 50%;
}

.table td {
    padding: 6px 1px 0 0;
}

.table#mainTable td, .table#MainAttrTable td {
    border: none !important;
    text-align: right;
}

.table#MainAttrTable td {
    margin-left: 50px;
}

.table.disableColborder > tbody > tr > td {
    border: none !important;
}

.viewBookInfo > tbody > tr > td {
    border: none;
}

select#MaterialTypeId, select#BookMaterialType, select#bookEditions {
    display: inline-block !important;
    width: 65%;
}

select#bookEditionsId {
    width: 62% !important;
}

select#bookAttr {
    height: 25px !important;
}

input.txtAttr {
    height: 27px;
    border-radius: initial !important;
}

a.del {
    color: lightgray;
    font-size: 15px !important;
    font-weight: lighter !important;
}

label#UniqueId {
    border: 1px solid #DDDDDD;
    width: 62%;
    text-align: left;
    margin-bottom: -14px;
}

/*Date picker*/
.custdate span.k-picker-wrap.k-state-default {
    width: 197% !important;
}

/*PopOver Css*/
popover-content {
    height: 200px;
}

.popover {
    width: 100% !important;
}

.popover-footer {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
}

/*------------------------End Book Master Pages Styles------------------------------*/
/*------------------------TimeTable Radio Button Style--------------------------------*/
.form-horizontal .checkbox, .form-horizontal .radio {
    line-height: 26px;
}

.ttdesign {
    margin-top: 6px;
    display: inline-block;
}

.ttdropdown {
    display: inline-block;
    width: 72%;
    margin-left: 10px;
}

.viewpackInfo {
    border: 1px solid #ddd;
}

.pckinfo {
    text-align: center;
    font-size: 18px;
}

.dvcls {
    max-height: 350px;
    overflow-y: auto;
}

.td_border {
    border-right: 1px solid #ddd;
}

.heading_cls {
    margin-left: 27px;
    font-weight: 600;
}

.prdGroup, .prdType, .prdUnit, .attr {
    width: 193px !important;
}

.attrval {
    width: 260px;
}


.viewMsgReplyInfo {
    border: 1px solid #ddd;
    width: 50%;
    padding: 5px;
    padding-left: 15px;
    border-radius: 10px;
}

/*----Start Tree Style-----*/
.tree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    padding: 17px 12px 0px 5px;
}

    .tree li::before {
        content: '';
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        right: auto;
        left: -20px;
        border-left: 1px solid #ccc;
        bottom: 50px;
    }

    .tree li::after {
        content: '';
        position: absolute;
        top: 30px;
        width: 25px;
        height: 20px;
        right: auto;
        left: -20px;
        border-top: 1px solid #ccc;
    }

    .tree li a.parentTree {
        margin-top: 12px;
    }

.form-control.tree {
    border: 1px solid darkgrey;
    margin-bottom: 30px;
}

.tree li a {
    /*margin: 16px 0 0 0;*/
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0px 10px 0px 0px;
    text-decoration: none;
    color: #666;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/*Remove connectors before root*/
.tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}
/*Remove connectors after last child*/
.tree li:last-child::before {
    height: 30px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover + ul li a {
    background: #428bca;
    color: #ffffff;
    border: 1px solid #428bca;
}
    /*Connector styles on hover*/
    .tree li a:hover + ul li::after,
    .tree li a:hover + ul li::before,
    .tree li a:hover + ul::before,
    .tree li a:hover + ul ul::before {
        border-color: #428bca;
    }

.tree-checkbox {
    margin: 4px !important;
}


.tree:before {
    border-left: 1px solid #ccc;
    bottom: 16px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: -21px;
    width: 1px;
    z-index: 1;
}

.tree ul:after {
    border-top: 1px solid #ccc;
    content: "";
    height: 20px;
    left: -29px;
    position: absolute;
    right: auto;
    top: 37px;
    width: 34px;
}

*:before, *:after {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

.tree {
    overflow-y: scroll !important;
    height: 400px !important;
    padding-left: 0px;
    position: relative;
}
/*----End Tree Style-----*/

.hostlercheckbox {
    margin-top: 10px !important;
}

/*----coloured-----*/

.dotAttendanceRed {
    height: 16px;
    width: 16px;
    background: linear-gradient(to bottom, #da0000 45%, #910000 100%);
    border-radius: 50%;
    display: inline-block;
}
.dotAttendanceYellow {
    height: 16px;
    width: 16px;
    background: linear-gradient(to bottom, #e1d500 45%, #ccb401 100%);
    border-radius: 50%;
    display: inline-block;
}

.dotAttendanceGreen {
    height: 16px;
    width: 16px;
    background: linear-gradient(to bottom, #e1d500 45%, #ccb401 100%);
    border-radius: 50%;
    display: inline-block;
}



.dotRed {
    height: 14px;
    width: 14px;
    background-color: #A60000;
    border-radius: 50%;
    display: inline-block;
}

.dotGreen {
    height: 14px;
    width: 14px;
    background-color: #0A6427;
    border-radius: 50%;
    display: inline-block;
}

.dotYellow {
    height: 14px;
    width: 14px;
    background-color: #D7C300;
    border-radius: 50%;
    display: inline-block;
}


/*surviliance alarms css*/

#surveillance_alarm_main {
		width:350px; position:fixed; bottom:10px; right:10px; z-index:999;
	}
	
	#surveillance_alarm_main .single_alarm_box{
		margin:5px 0px; padding:10px; background:#f6f6f6; border:1px solid #ccc;
	}
	
	#surveillance_alarm_main .single_alarm_box .single_alarm_photo{
		width:80px; float:left; overflow:hidden; border-radius:5px; border:1px solid #333;
	}
	
	#surveillance_alarm_main .single_alarm_box .single_alarm_photo img{
		width:80px;
	}
	
	#surveillance_alarm_main .single_alarm_box .single_alarm_student_details{
		 margin-left:85px; font-size:12px;
	}
	
	#surveillance_alarm_main .single_alarm_box .single_alarm_student_details .alarm_title{
		font-size:14px; font-weight:bold;
	}
	#surveillance_alarm_main .single_alarm_box .single_alarm_student_details .closebttn{
		text-align:right
	}
	
	#surveillance_alarm_main .single_alarm_box .clearboth{
		clear:both
	}