﻿@model ViewModel.ViewModel.HomeWork.HomeWorkModel

@{
    if (TempData["SuccessNotification"] != null)
    {
        <script>
            ToastMessage('@TempData["SuccessNotification"]', "success", true, 5000);
            @*ToastMessage('@TempData["SuccessNotification"]', "error", true, 5000);
            $(document).ready(function () { ToastMessage('@TempData["SuccessNotification"]', "error", true, 5000); })
            $(window).load(function () { ToastMessage('@TempData["SuccessNotification"]', "error", true, 5000); })*@
        </script>

    }
}

<!-- //SMS Student MobileNumberPopup -->
@Helper.OptionSMSMobileNumber("HWSMSMobNoStudentSetting", "HWSMSMobNoStudentSettingLabel", "Mobile Number Selection",
                        "(Selection of Sms Mobile number)", "HWSelectionStudentMobileNo",
                               "set_HWSMSMobNoStudentSetting", "close_HWSMSMobNoStudentSetting", Model.SMSSelectionStudentMobileNo, "IsDescriptionAllow")

<!-- //SMS Student MobileNumberPopup -->
@Html.HiddenFor(m => m.HWId)
@Html.HiddenFor(m => m.SendMessageMobileNoSelectionId)
@Html.HiddenFor(model => model.DocumentArray)
@Html.HiddenFor(model => model.IsAllowHWDescription)
@if (Model.IsClassIncharge)
{
    <label id="InchargedClass"><b>ClassIncharge of '@Model.InchargedClassName'</b></label>
}
<div id="document-Parent-div-row">
    <div class="row top-space-20">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="row top-space-10">
                    <div class="col-md-2">
                        <label class="">Type:</label><!-- Form Label -->
                        @Html.DropDownListFor(m => m.HomeWorkTypeId, Model.AvailableHomwWorkType, new { @class = "clearfield-class form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("Class:")
                        <select id="ClassId" class="classlist" style="max-height:100px;max-width:150px;width:100%;border:1px solid #aaa">
                            @foreach (var m in Model.AvailableClassList)
                            {
                                if (m.Selected)
                                {
                                    <option class="ClasslabelId" data-id-virtualclassid="@m.VirtualClassValue" data-id-classvalue="@m.Value" selected="@m.Selected"> @m.Text</option>

                                }
                                else
                                {
                                    <option class="ClasslabelId" data-id-virtualclassid="@m.VirtualClassValue" data-id-classvalue="@m.Value"> @m.Text</option>
                                }
                            }
                        </select>

                        @*  @Html.DropDownListFor(m => m.ClassId, new SelectList(ViewModel.ViewModel.HomeWork.CustomSelectClassitem, "Id", "Name"), new { @class = "clearfield-class form-control" })*@
                    </div>
                    <div class="col-md-2">
                        @Html.Label("Subject:")
                        @Html.DropDownListFor(m => m.SubjectId, Model.AvailableSubjectList, new { @class = "clearfield-class form-control" })
                    </div>
                    <div class="col-md-2">
                        <div class="row col-md-12">
                            @Html.Label("Date:")
                        </div>
                        @Html.TextBoxFor(m => m.Date, new { @class = "fomr-control" })
                        @*@Html.DisplayFor(m => m.Date, new { @class = "" })*@
                    </div>
                </div>

                @*<div class="row top-space-10">
                        <div class="col-md-6">
                            <label class="control-label">Description: </label><!-- Form Label -->
                            @Html.TextAreaFor(m => m.Description, new { @class = "clearfield-class form-control", @style = "resize:none; height:100px;" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Remarks: </label><!-- Form Label -->
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "clearfield-class form-control", @style = "resize:none; height:100px;" })
                        </div>

                        <div class="col-md-10 top-space-10">
                            <div class="row col-md-3 ">
                                <label class=" control-label">File:</label>
                                <input type="file" name="Files" id="Homework-File" class="clearfield-class form-control" />
                            </div>
                            @if (Model.HWId > 0 && !string.IsNullOrEmpty(Model.File))
                            {
                                <div class="col-md-2">
                                    <img width="60" height="60" src="@Model.File" />
                                </div>
                            }
                        </div>
                        <div class="col-md-2 top-space-10 text-right">
                            <div class="col-md-12"><label class=" control-label"></label></div>
                            <button type="button" name="save" id="Save-HomeWork" class="btn btn-default">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                        </div>
                    </div>*@

                @if (Model.HWId > 0 && Model.HWList.Count > 0)
                {
                    var countlist = 1;


                    foreach (var det in Model.HWList)
                    {
                        var FileName = "DocumentFile" + countlist;
                        <div class="row  details">
                            <input type="hidden" class="clsdocnumber" value=@countlist>
                            <input type="hidden" class="clsdocId" value=@det.HWDetailId>
                            <!-- Form Coulmn -->
                            <div class="col-md-4">
                                <label class=" control-label">Description:</label><!-- Form Label -->
                                @if (Model.IsAllowHWDescription == true)
                                {
                                    @Html.TextAreaFor(m => det.Description, new { @class = "clearfield-class form-control clsdesc", @style = "resize:none; height:50px;", @id = "Description" + countlist })
                                }
                                else
                                {
                                    @Html.TextAreaFor(m => det.Description, new { @disabled = "true", @class = "clearfield-class form-control clsdesc", @style = "resize:none; height:50px;", @id = "Description" + countlist })
                                }
                            </div>
                            <!-- Form Coulmn -->
                            <!-- Form Coulmn -->
                            <div class="col-md-4">
                                <label class=" control-label">Remarks:</label><!-- Form Label -->
                                @Html.TextAreaFor(m => det.Remarks, new { @class = "clearfield-class form-control clsrem", @style = "resize:none; height:50px;", @id = "Remarks" + countlist })
                            </div>
                            <!-- Form Coulmn -->
                            <!-- Form Coulmn -->
                            <div class="col-md-4">
                                <label class=" control-label">File:</label>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <input accept=".png,.jpg,.jpeg" type="file" name="DocumentFile" id="@FileName" class="form-control clsdoc" />
                                        <span class="clsimg" hidden id="document-imagename1">@det.File</span>
                                    </div>
                                    <!-- Form Coulmn -->
                                    @if (countlist == 1)
                                    {
                                        <div class="col-md-2">
                                            <a href="javascript:void" class="btn btn-success btn-xs" title="Add new Document" data-toggle="tooltip" data-placement="top" id="add-new-document">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                        countlist++;
                                    }
                                    else
                                    {
                                        <div class="col-md-2">
                                            <a href="javascript:void" class="btn btn-danger btn-xs removerow" title="Remove Document" data-toggle="tooltip" data-placement="top">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                        countlist++;
                                    }
                                </div>
                            </div>
                            <!-- Form Coulmn -->


                        </div>
                    }

                }
                else
                {
                    <!-- Form Row -->
                    <div class="row top-space-10 details">
                        <input type="hidden" class="clsdocnumber" value="1">
                        <input type="hidden" class="clsdocId" value="">
                        <!-- Form Coulmn -->
                        <div class="col-md-4">
                            <label class=" control-label">Description:</label><!-- Form Label -->
                            @if (Model.IsAllowHWDescription == true)
                            {
                                @Html.TextAreaFor(m => m.Description, new { @class = "clearfield-class form-control clsdesc", @style = "resize:none; height:50px;", @id = "Description1" })
                            }
                            else
                            {
                                @Html.TextAreaFor(m => m.Description, new { @disabled = "true", @class = "clearfield-class form-control clsdesc", @style = "resize:none; height:50px;", @id = "Description1" })
                            }
                        </div>
                        <!-- Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-4">
                            <label class=" control-label">Remarks:</label><!-- Form Label -->
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "clearfield-class form-control clsrem", @style = "resize:none; height:50px;" })
                        </div>
                        <!-- Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-4">
                            <label class=" control-label">File:</label>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input accept=".png,.jpg,.jpeg" type="file" name="DocumentFile" id="DocumentFile1" class="form-control clsdoc" />
                                    <span class="clsimg" hidden id="document-imagename1"></span>
                                </div>
                                <!-- Form Coulmn -->
                                <div class="col-md-2">
                                    <a href="javascript:void" class="btn btn-success btn-xs" title="Add new Document" data-toggle="tooltip" data-placement="top" id="add-new-document">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Form Coulmn -->


                    </div>
                }
                <div id="document-child-div-rows">
                </div>

                <div class="row top-space-10 text-right">
                    <div class="col-md-12">
                        <label class=" control-label"></label>
                        <button type="submit" name="save" id="Save-HomeWork" class="btn btn-success">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script>

    $("#btnHWSMSSettings").click(function () {
        $("#HWSMSMobNoStudentSetting").show();
        $(".HwDesc").hide();
        $('#ks_loader').show();
        $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("IsHWDescriptionAllow", "HomeWork"))',
                data: { },
                success: function (result) {
                    if (result.status == "success") {
                        if (result.IsAllow) {
                            $('#IsDescriptionAllow').prop('checked', true);
                            $(".HwDesc").show();
                            $('#ks_loader').hide();
                        } else {
                             $('#IsDescriptionAllow').prop('checked', false);
                            $(".HwDesc").show();
                            $('#ks_loader').hide();
                        }
                    }
                  //  $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
    });
    $('#IsDescriptionAllow').click(function () {
        var IsAllowDescription = "";
        if ($(this).prop('checked') == true) {
            IsAllowDescription = "1";
        } else {
            IsAllowDescription = "0";
        }
        $('#ks_loader').show();
        $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("UpdateHWDescriptionAllow", "HomeWork"))',
                data: {"IsAllowDescription":IsAllowDescription },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.mes, "success", true, 5000);
                        if (IsAllowDescription=="1") {
                            $('.clsdesc').removeAttr('disabled')
                            $('#IsAllowHWDescription').val("True")
                        } else {
                            $('.clsdesc').attr('disabled', 'disabled')
                            $('#IsAllowHWDescription').val("false")
                        }
                        //ToastMessage("To Load Changes Please Refresh the Page", "success", true, 5000);
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.mes, "error", true, 5000);
                        ToastMessage("To Load Changes Please Refresh the Page", "success", true, 5000);
                          $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
    })

    $("#close_HWSMSMobNoStudentSetting").click(function () {
        $("#HWSMSMobNoStudentSetting").hide();
         $(".HwDesc").hide();
    });

    $("#set_HWSMSMobNoStudentSetting").click(function () {
        $('#ks_loader').show();
        var Selected = '@Model.SMSSelectionStudentMobileNo';
        if ($("#HWSelectionStudentMobileNo").val() != "") {
            $("#SendMessageMobileNoSelectionId").val($("#HWSelectionStudentMobileNo").val());
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("InsertDefaultValues", "HomeWork"))',
                data: { "MobileNoSelection": $("#SendMessageMobileNoSelectionId").val() },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage("SMS/Notifications will be send on " + $("#HWSelectionStudentMobileNo option:selected").text(),
                                        "success", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else
            ToastMessage("SMS/Notifications will be send on Student SMS Mobile No.", "success", true, 5000);

        $("#HWSMSMobNoStudentSetting").hide();
    });


                @if (Model.HWId > 0)
                {
                    <text>
    $('#Save-HomeWork').html('<i class="fa fa-floppy-o"></i> Update');
    </text>
                }
    $(function () {
        $("#Save-HomeWork").click(function () {
            $('#ks_loader').show();
            // $("#DocumentsUpdated").val($(this).parent().parent().parent().attr('id'));
            var AttachedDocumentModel = new Array();
            var AttachedDocumentModelObj = new Object();
            var IsValid = DocumentValid(counter);
            if ($("#SubjectId").val() == "" || $("#SubjectId").val() == null) {
                ToastMessage("Please Select Subject", "error", true, 5000);
                $('#ks_loader').hide();
                return false;
            }
            else {
                if (IsValid) {
                    window.onbeforeunload = null;
                    $('#document-Parent-div-row .row .details').each(function () {
                        var row = $(this);
                        AttachedDocumentModelObj = new Object();
                        if (row.find('.clsdocId').val() != null) {
                            AttachedDocumentModelObj.HomeworkDetailId = row.find('.clsdocId').val();
                        }
                        AttachedDocumentModelObj.FileName = row.find('.clsimg').text();
                        AttachedDocumentModelObj.Description = row.find('.clsdesc').val();

                        AttachedDocumentModelObj.Remarks = row.find('.clsrem').val();

                        AttachedDocumentModel.push(AttachedDocumentModelObj);
                    });
                    $('#DocumentArray').val(JSON.stringify(AttachedDocumentModel));

                }
                else {
                    $('#ks_loader').hide();
                    var validationaray = Docvalidationmessage.split('\n');
                    for (var i = 0; i < validationaray.length - 1; i++) {
                        ToastMessage(validationaray[i], "error", true, 5000);
                    }
                    $(Docctrlfocus).focus();
                    return false;
                }
            }

        })
    })
    //remove row
    //$('.removerow').on("click", function () {
    $('body').on('click', '.removerow', function () {
        var del = $(this).parent().parent().parent().parent();
        del.remove();
    });

    $('body').on('change', '.clsdoc', function (e) {
        var uniqueno = $('#HomeWorkTypeId option:selected').text();
        //var uiquevalue = $(this).parent().parent().parent().parent().find('.clsdocnumber').val();

        var uiquevalue = 1;
        //FileUploadEventImages(e);
        var imagename = FileUploadHomeWork(e, uniqueno, uiquevalue, 0);
        if (imagename != "")
            //$('#document-imagename' + uiquevalue).text(imagename);
            $(this).next('span').text(imagename);
        else {
            $('#DocumentFile' + uiquevalue).val('');
            $('#DocumentFile' + uiquevalue).val('');
            $('#document-imagename' + uiquevalue).text('');
        }
    });
    function FileUploadHomeWork(e, uniqueno, uniqueimage, IsPhoto) {
        var imagepath = "";
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                data.append("uniqueno", uniqueno);
                data.append("uniqueimage", uniqueimage);
                data.append("IsPhoto", IsPhoto);

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UploadFile","Homework"))',
                    async: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "success") {
                            //alert(result.msg);
                            ToastMessage(result.msg, "success", true, 5000);
                            imagepath = result.path;
                        }
                        else {
                            if (result.msg != "" && result.msg != undefined)
                                //alert(result.msg);
                                ToastMessage(result.msg, "error", true, 5000);
                            else
                                alert(result);
                            ToastMessage(result, "error", true, 5000);

                            $('#Student-Photo').val("");
                        }
                    },
                    error: function (xhr, status, msg) {
                        var err = "Error " + " " + status + " " + msg;
                        //alert(err);
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            } else {
                //alert("This browser doesn't support HTML5 file uploads!");
                ToastMessage("This browser doesn't support HTML5 file uploads!", "error", true, 5000);
            }
        }
        return imagepath;
    }
    var counter = 1;
    $('.clsdocnumber').each(function () {
        counter = parseInt($(this).val());
    })

    $('#add-new-document').click(function () {
        var docfunvalid = DocumentValid(counter);
        if (docfunvalid) {
            counter = counter + 1;
            var rows = "<div class='row details'>"
            + "<input type='hidden' class='clsdocnumber' value='" + counter + "'>"
            + "<input type='hidden' class='clsdocId' value=''>";
            var column = "<div class='col-md-4'>";
            var label = "<label class=' control-label'>";
            //// dropdown
            //if ($('label[name="documentlabel"]').length > 0) {
            //    var $ddl = $("#AttachedDocumentModel_AttachDocumentTypeId  > option").clone();
            //}
            //else {
            //    var $ddl = $("#AttachedDocumentModel_AttachDocumentTypeId1  > option").clone();
            //}
            // dropdown document type
            // var inputdiv1 = column + label + 'Description:</label><div class="col-md-8"><select class="form-control select2-drop-down clsdoctype" id="AttachedDocumentModel_AttachDocumentTypeId' + counter + '" name="AttachedDocumentModel.AttachDocumentTypeId' + counter + '"></select></div></div></div>';
             if ($('#IsAllowHWDescription').val() == "True") {

         var descinput = "";

     } else {

        var descinput = "disable";

     }
            @*@if (Model.IsAllowHWDescription == true) {
                <text>
            var descinput = "";
            </text>
            }
            else
            {
                  <text>
            var descinput = "disable";
             </text>
            }*@
            // Description
            var inputdiv1 = "";
            if (descinput == "disable") {
                inputdiv1 = column + label + 'Description:</label><textarea disabled class="clearfield-class form-control clsdesc" cols="20" id="Description' + counter + '" name="Description' + counter + '" rows="2" style="resize:none; height:50px;"></textarea></div>';
            } else {
               inputdiv1 = column + label + 'Description:</label><textarea class="clearfield-class form-control clsdesc" cols="20" id="Description' + counter + '" name="Description' + counter + '" rows="2" style="resize:none; height:50px;"></textarea></div>';
            }

            //<textarea class="clearfield-class form-control" cols="20" id="Description" name="Description" rows="2" style="resize:none; height:100px;"></textarea>
            //Remarks
            var inputdiv2 = column + label + 'Remarks:</label><textarea class="clearfield-class form-control clsrem" cols="20" id="Remarks' + counter + '" name="Remarks' + counter + '" rows="2" style="resize:none; height:50px;"></textarea></div>';

                    // var inputdiv2 = column + label + 'Remarks:</label><div class="col-md-8"><input class="form-control clsdesc" id="AttachedDocumentModel_Description' + counter + '" name="AttachedDocumentModel_Description' + counter + '" type="text" ></div></div></div>';
                    // remove button
                    var removebtn = '<div class="col-md-2"><a href="javascript:void" class="btn btn-danger btn-xs removerow" title="Remove Document" data-toggle="tooltip" data-placement="top"><i class="fa fa-minus"></i></a></div>';

                    var emptylabel = "<label class=' control-label'>File:</label>";

                    // document
                    var inputdiv3 = column + emptylabel + '<div class="form-group"><div class="col-md-8"><input class="form-control clsdoc" id="DocumentFile' + counter + '" name="DocumentFile' + counter + '" type="file" accept=".png,.jpg,.jpeg"><span class="clsimg" hidden id="document-imagename' + counter + '"></span></div>' + removebtn + '</div></div></div>';

                    var finaloutput = rows + inputdiv1 + inputdiv2 + inputdiv3 + "</div>";

            $("#document-child-div-rows").append(finaloutput);
            //$('#AttachedDocumentModel_AttachDocumentTypeId' + counter + '').append($ddl);
            $(".select2-drop-down").select2();
                }
        else {
            // alert(Docvalidationmessage);
            ToastMessage(Docvalidationmessage, "error", true, 5000);
            $(Docctrlfocus).focus();
            }
    });

     // validation function
     var Docvalid = true;
    var Docvalidationmessage = "";
    var Docctrlfocus = "";
    function DocumentValid(count) {
        Docvalid = true;
        Docvalidationmessage = "";
        Docctrlfocus = "";

          if ($('#IsAllowHWDescription').val() == "True") {

         var DescStatus = "";

     } else {

        var DescStatus = "disable";

     }



        var prefix = "";
        if (count != 0)
            prefix = count;
        if (DescStatus != "disable") {
            if ($('#Description' + prefix).val() == "") {
                if (Docctrlfocus == "")
                    Docctrlfocus = "#Description" + prefix;
                Docvalidationmessage = Docvalidationmessage + "Please Enter Description \n";
                Docvalid = false;
            }
        }
        if (DescStatus == "disable") {
             if ($('#DocumentFile' + prefix).val() == "") {
                if (Docctrlfocus == "")
                    Docctrlfocus = "#DocumentFile" + prefix;
                Docvalidationmessage = Docvalidationmessage + "Please Upload File \n";
                Docvalid = false;
            }
        }

        //if ($('#document-imagename' + prefix).parent().length > 0) {
        //    if ($('#document-imagename' + prefix).text() == "") {
        //        if (Docctrlfocus == "")
        //            Docctrlfocus = "#DocumentFile" + prefix;
        //        Docvalidationmessage = Docvalidationmessage + "Please upload document \n";
        //        Docvalid = false;
        //    }
        //}
        var aa = Docvalidationmessage;
        return Docvalid;
    }

        $('#Date').kendoDatePicker({
            value: new Date,
            @if(Model.minDate!=null){<text>
            min: new Date('@Model.minDate'),
            </text>
        }
         @if(Model.maxDate!=null){<text>
            max: new Date('@Model.maxDate'),
            </text>}
            format: "dd/MM/yyyy"
        });



    var classId = 0;
    var VirtualClassId = 0;
    $(document).ready(function () {
        $('#ClassId').trigger('change');

        @if (Model.HWId > 0) {
             <text>
         classId = $('.classlist option:selected').attr('data-id-classvalue')
         VirtualClassId = $('.classlist option:selected').attr('data-id-virtualclassid')
        $.ajax({
            async: false,
            type: "Post",
            url: '@Html.Raw(Url.Action("GetSubjectsList", "HomeWork"))',
            data: { "clsId": classId, "VirtualClassId": VirtualClassId },
            success: function (result) {

                if (result.status == "success") {
                    $("#SubjectId").html('');
                    if (result.subjectDropdownlist.length > 0) {
                        $.each(result.subjectDropdownlist, function () {
                            $("#SubjectId").append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                    } else {
                        $("#SubjectId").append('<option value="">--No Subject Found--</option>');
                    }
                    var subjectid = $("#SubId").val();
                    $("#SubjectId").val(subjectid);
                    @*$("#SubjectId").val('@ViewData["SubjectId"]');*@
                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }

            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        </text>}
    })

    $('#ClassId').change(function () {
        $('#ks_loader').show();
        var classId = $('.classlist option:selected').attr('data-id-classvalue')
        var VirtualClassId = $('.classlist option:selected').attr('data-id-virtualclassid')

        $.ajax({
            async: false,
            type: "Post",
            url: '@Html.Raw(Url.Action("GetSubjectsList", "HomeWork"))',
            data: { "clsId": classId, "VirtualClassId": VirtualClassId },
            success: function (result) {

                if (result.status == "success") {
                    $("#SubjectId").html('');
                    if (result.subjectDropdownlist.length > 0) {
                        $.each(result.subjectDropdownlist, function () {
                            $("#SubjectId").append('<option value="' + this.Value + '">' + this.Text + '</option>');
                        });
                    } else {
                        $("#SubjectId").append('<option value="">--No Subject Found--</option>');
                    }

                    var subjectid = $("#SubId").val();
                    $("#SubjectId").val(subjectid);
                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }

            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    @*$("#Save-HomeWork").click(function (e) {
        $('#ks_loader').show();
        var files = $('#Homework-File')[0].files;
        var data = new FormData();
        for (var x = 0; x < files.length; x++) {
            data.append("file" + x, files[x]);
        }
        data.append("HomeWorkTypeId", $('#HomeWorkTypeId').val());
        data.append("ClassId", $('#ClassId').val());
        data.append("SubjectId", $('#SubjectId').val());
        data.append("Description", $('#Description').val());
        data.append("Remarks", $('#Remarks').val());
        data.append("HWId", $('#HWId').val());
        data.append("HWDetailId", $('#HWDetailId').val());

        $.ajax({
            type: "Post",
            async: false,
            contentType: false,
            processData: false,
            url: '@Html.Raw(Url.Action("SaveHomeWork", "HomeWork"))',
            data: data,
            success: function (result) {

                if (result.status == "success") {
                    ToastMessage(result.msg, "success", true, 5000);

                    //Empty fields
                    if ($('#HWId').val() == "0") {
                        $('#Description').val('');
                        $('#Remarks').val('');
                        $('#Homework-File').val('');
                    }

                    $('#ks_loader').hide();
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
                //window.location.reload();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })*@

    //create path for selected image
    $('#Homework-File').on('change', function (e) {
        FileUploadEventImages(e);
    });

    //generate path
    function FileUploadEventImages(e) {
        var imagepath = "";
        var files = e.target.files;
        if (files[0].size > (1024 * 1024 * 5)) {
            $('#Homework-File').val('');
            // alert("Filesize is too large. Maximum file size permitted is 5 MB")
            ToastMessage("Filesize is too large. Maximum file size permitted is 5 MB", "error", true, 5000);
            return false;
        }

        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CheckFileFormat", "HomeWork"))',
                    async: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "success") {

                        }
                        else {
                            //alert(result.msg);
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#Homework-File').val('');
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        //alert(err);
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            } else {
                // alert("This browser doesn't support HTML5 file uploads!");
                ToastMessage("This browser doesn't support HTML5 file uploads!", "error", true, 5000);
            }
        }
    }
</script>
