﻿@model ViewModel.ViewModel.HomeWork.HomeWorkModel
@{
    ViewBag.Title = "Home Work";
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>

    <div class="col-md-6">
        <h1>Add Home Work</h1>
    </div>
    <div class="col-md-6 text-right">
        @*@if (Model.IsAuthToViewMessage)
        {*@
            <a href="@Url.Action("HomeWorkList","HomeWork") " id=" " class=" btn btn-xs btn-default">Back to list</a>
            <a href="javascript:void(0);" title="Set Default Values" id="btnHWSMSSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 20px;" class="pull-right"><i class="fa fa-gear"></i></a>
        @*}*@
    </div>
</div>
<!-- //Page Heading -->

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("HomeWork", "HomeWork", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_createHomeWork", Model)
        }
    </div>
</div>


