﻿@model ViewModel.ViewModel.HomeWork.HomeWorkModel
@{
    ViewBag.Title = "Home Work List";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<style type="text/css">
    select#ClassId {
        width: 71% !important;
        display: inline-block;
    }

    select#StaffId {
        width: 48% !important;
        display: inline-block;
    }

    select#SubjectId {
        width: 48% !important;
        display: inline-block;
    }

    .hwcls {
        margin-bottom: 0px;
    }

    .dvCLs {
        margin-bottom: 8px;
    }


    .modal-header {
        padding-bottom: 3px;
    }

    .modal-body {
        padding-top: 7px;
    }
</style>

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>

    <div class="col-md-6">
        <h1>Home Work List</h1>
    </div>
    <div class="col-md-6 text-right">
        @if (Model.IsAuthToAddHomeWork && (Model.IsTeacher || Model.IsAdmin))
        {
            <a href="@Url.Action("HomeWork", "HomeWork") " id=" " class=" btn btn-xs btn-default">Add Home Work</a>
        }

        <a href="javascript:void();" id="ExportHomeWork_Excel" class="btn btn-xs btn-default pull-right" title="Export to Excel" name="ExcelExport">
            <i class="fa fa-file-excel-o" style="color:green"></i>
        </a>
    </div>
</div>
<!-- //Page Heading -->

<div class="row">

    <div class="col-md-12">
        @using (Html.BeginForm("HomeWorkList", "HomeWork", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row top-space-10">
                            <div class="row top-space-10">
                                @*<div class="col-md-3 " id="clsdiv">
                                        @Html.Label("Class:")
                                        @Html.DropDownListFor(m => m.ClassId, Model.AvailableClassList, new { @class = "clearfield-class form-control" })
                                    </div>*@
                                @Html.HiddenFor(m => m.IsDateormonth, new { @value = "Daily" })
                                <div class="col-md-2">
                                    @Html.Label("Daily:", new { @class = "lbCls" })
                                    @Html.RadioButton("DailyMonthly", "Daily", true, new { @id = "rdDaily" })
                                    @Html.Label("Monthly:", new { @class = "lbCls" })
                                    @Html.RadioButton("DailyMonthly", "Monthly", false, new { @id = "rdMonthly" })
                                </div>
                                <div class="col-md-2">
                                    <div id="dvDaily" class="form-group">
                                        @Html.Label("Date:")
                                        @Html.TextBoxFor(m => m.Date, new { @class = "" })
                                    </div>
                                    <div id="dvMonthly" class="form-group" style="display:none;">
                                        @Html.Label("Month:")
                                        @Html.TextBoxFor(m => m.Date, new { @class = "", @id = "Month" })
                                    </div>
                                </div>
                                <div class="col-md-2" id="clsdiv">
                                    <div class="form-group ">
                                        @Html.Label("Class:", new { @class = "contol-label" })
                                        <select id="ClassId" class="classlist" style="max-height:100px;max-width:150px;width:100%;border:1px solid #aaa">
                                            @foreach (var m in Model.AvailableClassList)
                                            {
                                                <option class="ClasslabelId" data-id-virtualclassid="@m.VirtualClassValue" data-id-classvalue="@m.Value"> @m.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                @*<div class="col-md-2" id="clsdiv_filter" hidden>
                                        <div class="form-group ">
                                            @Html.Label("Class:", new { @class = "contol-label" })
                                            <select id="ClassIdFilter" class="classlist" style="max-height:100px;max-width:150px;width:100%;border:1px solid #aaa">
                                                @foreach (var m in Model.AvailableClassList)
                                                {
                                                    <option class="ClasslabelId" data-id-virtualclassid="@m.VirtualClassValue" data-id-classvalue="@m.Value"> @m.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>*@

                                @if (Model.IsTeacher)
                                { }
                                else if (Model.ContactType.ToLower() == "admin")
                                {
                            <div class="col-md-3" id="clsdiv">
                                <div class="form-group ">
                                    @Html.Label("Teacher:", new { @class = "contol-label" })
                                    @Html.DropDownListFor(m => m.StaffId, Model.AvailableTeacherList, new { @class = "clearfield-class tccls form-control" })
                                </div>
                            </div>
                                }
                                else if (Model.ContactType.ToLower() == "student" || Model.ContactType.ToLower() == "guardian")
                                {
                            <div class="col-md-3" id="clsdiv">
                                <div class="form-group ">
                                    @Html.Label("Subject:", new { @class = "contol-label" })
                                    @Html.DropDownListFor(m => m.SubjectId, Model.AvailableSubjectList, new { @class = "clearfield-class tccls form-control" })
                                </div>
                            </div>
                                }
                                <button type="button" id="Filter-HW" class="btn btn-default btn-search">Filter</button>
                                <button type="button" id="Reset-HW" class="btn btn-danger btn-refresh">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top-space-10">
                <div id="HomeWork-grid" class="tab-pane fade in active"></div>
            </div>
        }
    </div>
</div>
<div class="modal-popup" id="HomeWorkDetailView_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button id="close_div" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="HWTitle" style="text-align:center;"> </h4>
                <div>&nbsp;</div>
                <div class="col-md-12" style=" padding-left: 0px;">
                    <div class="col-md-6" style=" padding-left: 0px;">
                        @Html.Label("Teacher: ")
                        <label id="HomeWorkTeacher-Div" style=" font-weight: normal;">
                        </label>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        @Html.Label("Dated: ")
                        <label id="HomeWorkDate-Div" style=" font-weight: normal;">
                        </label>
                    </div>
                </div>



            </div>
            <div class="row modal-body">
                <div class="row col-md-12">
                    <div class="col-md-12 dvCLs">
                        @Html.Label("Description:", new { @class = "hwcls" })
                        <div id="HomeWorkDescription-Div">
                        </div>
                    </div>
                    <div class="col-md-12 dvCLs">
                        @Html.Label("Remarks:", new { @class = "hwcls" })
                        <div id="HomeWorkRemarks-Div">
                        </div>
                    </div>
                    <div class="col-md-12" id="file-div">
                        @Html.Label("File:")
                        <div id="HomeWorkfile-Div">
                            <img width="80" height="80" src="" />
                            <a href="" style="display:none"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    addAntiforgeryToken = function (data) {
        data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
        return data;
    };
    $(document).ready(function () {

        $("#HomeWork-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("GetHomeWorkList", "HomeWork"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalDataHomeWorkList
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",

                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,

            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            excelExport: function(e) {
                e.workbook.fileName = "HomeWork_" + kendo.toString(new Date, "dd/MM/yyyy HH:mm") + " .xlsx";
            },
            detailInit: detailInit,
            dataBound: function () {
                var grid = this;
                grid.tbody.find("tr.k-master-row").each(function () {
                })
            },
            scrollable: false,
            sortable: true,
            columns: [{
                field: "HWId",
                title: "HWId",
                hidden: true
            }, {
                field: "HomeWorkType",
                title: "Type",
                width: 100
            }, {
                field: "Subject",
                title: "Subject",
                sortable: true,
                width: 100
            }, {
                field: "ClassName",
                title: "Class",
                sortable: true,
                width: 200
            },  {
                field: "TeacherName",
                title: "Teacher",
                sortable: true,
                width: 200
            },{
                field: "Date",
                title: "Date",
                //template: "#= kendo.toString(kendo.parseDate(Date, 'MM/dd/yyyy hh:mm:ss tt'), 'dd/MM/yyyy hh:mm tt') #",
                sortable: true,
                width: 200
            },
            @if (Model.IsAuthToEditHomeWork  && Model.IsAuthToDeleteHomeWork)
            {
                <text>
                {
                    field: "HWId",
                    title: "Action",
                    width: 130,
                    sortable: false,
                    template:
                         '#if(IsEditable){#<a href="@Url.Content("~/HomeWork/EditHomeWork?HWId=#=HWId#")" title="Edit HomeWork"  data-toggle="tooltip" data-placement="top" class="k-grid-inbox-myEdit btn btn-xs btn-default" style=" cursor:pointer" ><i class="fa fa-pencil"></i></a>#}#'
                         +'#if(IsDeleteable){#<a href=javascript:void(0) title="Delete HomeWork" id="#=HWId#" data-toggle="tooltip" data-placement="top" class="k-grid-inbox-myDelete btn btn-xs btn-default" style=" cursor:pointer" ><i class="fa fa-trash"></i></a>#}#'
                },
                </text>
            }
            @*else
            {
                <text>
                {
                    field: "HWId",
                    title: "Action",
                    width: 130,
                    sortable: false,
                    template:
                         '<a href="@Url.Content("~/HomeWork/EditHomeWork?HWId=#=HWId#")" title="Edit HomeWork"  data-toggle="tooltip" data-placement="top" class="k-grid-inbox-myEdit btn btn-xs btn-default" style=" cursor:pointer" ><i class="fa fa-pencil"></i></a>'
                }
                </text>
            }*@
            ]
        });
        $('[data-toggle="tooltip"]').tooltip();
        $(document).on("mouseover", ".description_tooltip_cls", function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $("#HomeWork-grid").on("click", ".k-grid-inbox-myDelete", function (e) {
            e.preventDefault();
            var id = $(this).prop("id");

            var command = $(this);
            var cell = command.closest("td");

            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" ref="inbox" href=""><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').prop("id", id);
            $('.k-grid-myCancel').prop("id", id);
        });

        $("#HomeWork-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var id =$(this).prop("id");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a href=javascript:void(0) title="Delete HomeWork"  data-toggle="tooltip" data-placement="top" class="k-grid-inbox-myDelete btn btn-xs btn-default" style=" cursor:pointer" ><i class="fa fa-trash"></i></a>');
            $('.k-grid-inbox-myDelete').prop("id", id);
        })
        //delete ajax method
        $("#HomeWork-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();


            var id = $(this).attr("id");
            //alert(id);
            // var ref = $(this).attr("ref");
            // var ref = $(this).prev('a').prev(".View_messages").attr("ref");

            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("DeleteHomeWork", "HomeWork"))',
                data: { "id": id},
                success: function (result) {

                    if (result.status == "success") {
                        // $('#MesagesReply_div').hide();
                        ToastMessage(result.msg, "success", true, 5000);
                        //clearreplyfields();

                        var grid = $('#HomeWork-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        //return false;
                        // window.location.reload();

                        $('#ks_loader').hide();
                    }
                    else {
                        if (result.msg == "NotValid") {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                        }
                        $('#ks_loader').hide();
                    }
                    //$('#Senders-Div').append(result.messagelist.sendernames)
                    //if (result.messagelist.classname != "NA")
                    //    $('#Class-Div').append(result.messagelist.classname)
                    //else
                    //    $('#class_label').hide();
                    //$('#Message-Div').append(result.messagelist.MessageDescription)
                    //$('#DateTime-Div').append(result.messagelist.MessageDatetime)
                    //$('#ks_loader').hide();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        })
        function additionalDataHomeWorkList() {
            var data = {
                Date: $('#Date').val(),
                ClassId:  parseInt($('.classlist option:selected').attr('data-id-classvalue')),
                VirtualClassId:  parseInt($('.classlist option:selected').attr('data-id-virtualclassid')),
                Month:GetMonthFromString($('#Month').val()),
                IsDateormonth:$("#IsDateormonth").val(),
                StaffId:$('#StaffId').val(),
                SubjectId:$('#SubjectId').val()
            };
            addAntiForgeryToken(data);
            return data;
        }
    });

   

    var TodayDateWithTime = GetDateString(kendo.toString(new Date(), "dd/MM/yyyy hh:mm:ss"));
    // function get date as string and return date
    function GetDateString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

    $("#ExportHomeWork_Excel").click(function (e) {
        $('#ks_loader').show();
        var grid = $("#HomeWork-grid").data("kendoGrid");
        grid.saveAsExcel();
        setTimeout(function(){
            $('#ks_loader').hide();
        },5000);
    });

    //bugs grid
    function detailInit(e) {
        $("<div/>").appendTo(e.detailCell).kendoGrid({

            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("GetHomeWorkDetailsList", "HomeWork"))?HWId=" + e.data.HWId,

                        type: "POST",
                        dataType: "json",
                        data: additionalData1
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },

                serverPaging: true,
                pageSize:  @(defaultGridPageSize),
                //serverFiltering: true,
                //serverSorting: true
            }, scrollable: false,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes:  [@(gridPageSizes)]
            },
            sortable: true,
            columns: [{
                field: "HWDetailId",
                title: "HWDetailId",
                hidden: true
            }, {
                field: "ShortDescription",
                title: "Description",
                width: 200
            }, {
                field: "ShortRemarks",
                title: "Remarks",
                width: 200,
                sortable: true
            }, {
                field: "Description",
                attributes: {
                    "class": "Description",
                },
                hidden: true
            }, {
                field: "Remarks",
                attributes: {
                    "class": "Remarks",
                },
                hidden: true
            },
             {
                 field: "ClassName",
                 attributes: {
                     "class": "ClassName",
                 },
                 hidden: true
             },{
                 field: "TeacherName",
                 attributes: {
                     "class": "TeacherName",
                 },
                 hidden: true
             },{
                 field: "Subject",
                 attributes: {
                     "class": "Subject",
                 },
                 hidden: true
             },{
                 field: "Date",
                 attributes: {
                     "class": "Date",
                 },
                 hidden: true
             },{
                 field: "HomeWorkType",
                 attributes: {
                     "class": "HomeWorkType",
                 },
                 hidden: true
             },@if(Model.IsAuthToDownload){<text>{
                 field: "File",
                 title: "Download File",
                 sortable: true,
                 template:  '#if(FileName!=""){#<a class="DFile text-success" href="#=File#" title="Download File" download ><i class="fa fa-download"></i> #=FileName#</a>#}#'+
                     '#if(FileName==""){#<span> No File Attached</span>#}#',

                 width: 140
             },</text>}
            {
                field: "HWId",
                title: "Action",
                width: 60,
                sortable: false,
                template:"# #"
                @*@if (Model.IsAuthToEditHomeWork)
                {
                    <text>
                        + '<a title="Edit HomeWork Details" ref="inbox" data-toggle="tooltip" data-placement="top" id="#=HWId#" class="k-grid-inbox-myEdit btn btn-xs btn-default" style=" cursor:pointer" href="@Url.Content("~/HomeWork/EditHomeWork?HWId=#=HWId#&HWDetailId=#=HWDetailId#")" ><i class="fa fa-pencil"></i></a>'
                </text>
                }*@
        @if (Model.IsAuthToViewHomeWork)
                {
                    <text>
    + '<a title="View HomeWork Details" data-toggle="tooltip" data-placement="top" class="ViewHomeWork btn btn-xs btn-default" style=" cursor:pointer" href="javascript:void(0)" ><i class="fa fa-eye"></i></a>'
                </text>
                }
            }]
        });
    }

    function additionalData1() {
        var data = {
            Date: GetDateFromString($('#Date').val()),
            ClassId: $('#ClassId').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

 
    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    $("#HomeWork-grid").on("click", ".k-grid-myEdit", function (e) {
        e.preventDefault();
        var id = $(this).prop("href");

        var command = $(this);
        var cell = command.closest("td");

        command.remove();
        cell.append('<a class=" k-grid-myConfirm" href=""><i class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').prop("href", id);
    });

    //$("#HomeWork-grid").on("click", ".k-grid-myCancel", function (e) {
    //    e.preventDefault();
    //    var id = $('.k-grid-myConfirm').prop("href");
    //    var command = $(this);
    //    var cell = command.closest("td");
    //    command.remove();
    //    $('.k-grid-myConfirm').remove();
    //    cell.append('<a class="k-grid-myDelete" href=""><i class="fa fa-trash"></i></a>');
    //    $('.k-grid-myDelete').prop("href", id);
    //});

    $("#HomeWork-grid").on("click", ".ViewHomeWork", function (e) {
        $('#file-div').hide();
        $('#HomeWorkDescription-Div').text("");
        $('#HomeWorkRemarks-Div').text("");

        e.preventDefault();
        $('#HomeWorkDetailView_div').show();
        $('#HomeWorkDescription-Div').text($(this).parent().parent().find('.Description').text());
        $('#HomeWorkRemarks-Div').text($(this).parent().parent().find('.Remarks').text());
        var str=$(this).parent().parent().find('.HomeWorkType').text();
        str+=" of " +$(this).parent().parent().find('.Subject').text();
        str+=" for " + $(this).parent().parent().find('.ClassName').text();

        $('#HWTitle').text( str);
        $('#HomeWorkTeacher-Div').text($(this).parent().parent().find('.TeacherName').text());

        $('#HomeWorkDate-Div').text( $(this).parent().parent().find('.Date').text());

        var imgsrc = $(this).parent().parent().find('.DFile').attr("href");
        var extension=imgsrc.split('.');
        var imagename=$(this).parent().parent().find('.DFile').text();
        if(imgsrc != undefined)
        {
            if(extension[1]=="jpg" ||extension[1]=="jpeg"||extension[1]=="png"){
                $('#HomeWorkfile-Div a').css("display","none");
                $('#HomeWorkfile-Div img').css("display","block");
                $('#HomeWorkfile-Div img').attr("src",imgsrc);
            }
            else
            {
                $('#HomeWorkfile-Div a').css("display","block");
                $('#HomeWorkfile-Div img').css("display","none");
                $('#HomeWorkfile-Div a').attr("href",imgsrc);
                $('#HomeWorkfile-Div a').text(imagename);

            }
            $('#file-div').show();
        }
    })

    $('#close_div').click(function () {
        $('#HomeWorkDetailView_div').hide();
    })


</script>

<script>

    $(document).ready(function(){
        $("#rdDaily").attr('checked', true).trigger('click');
    });

    @*$("#Date").kendoDatePicker({
        format: "dd/MM/yyyy",
        min: '@Model.SessionStartDate',
        max: '@Model.SessionEndDate',
        value: new Date
    })*@

    $('.tccls').select2();
    $("#Date").kendoDatePicker({
        format: "dd/MM/yyyy",
        @*min: '@Model.SessionStartDate',
        max: '@Model.SessionEndDate',*@
        value: new Date
    })
    $("#Month").kendoDatePicker({
        start: "year",
        depth: "year",
        format: "MM/yyyy",
        parseFormats: ["MMMM yyyy"],
        value: new Date,
        @*min: '@Model.SessionStartDate',
        max: '@Model.SessionEndDate',*@
    })

    $(function(){
        $('input:radio[name=DailyMonthly]').change(function () {
            if (this.value == 'Daily') {
                $('#dvDaily').show();
                $('#dvMonthly').hide();
                $('#IsDateormonth').val('Daily')
                // $("#Date").trigger('change');
                var todayDate = kendo.toString(kendo.parseDate(new Date()), 'dd/MM/yyyy');
                $("#Date").data("kendoDatePicker").value(todayDate);
                $("#Date").trigger('change');
                $('#Filter-HW').trigger('click');

            }
            else if(this.value == 'Monthly')
            {
                $('#dvDaily').hide();
                $('#dvMonthly').show();
                $('#IsDateormonth').val('Monthly')
                var todayDate = kendo.toString(kendo.parseDate(new Date()), 'MM/yyyy');
                $("#Month").data("kendoDatePicker").value(todayDate);
                $("#Month").trigger('change');

                $('#Filter-HW').trigger('click');
            }
        });
    });

    @if(Model.IsStudent){
        <text>
    $('#clsdiv').hide()
    </text>
    }

    $('#Date').change(function () {
        $('#ks_loader').show();
        var date = GetDateFromString($(this).val());

        $.ajax({
            async: "false",
            type: "Post",
            url: '@Html.Raw(Url.Action("GetClassList", "HomeWork"))',
            data: { "date": date },
            success: function (result) {

                if (result.status == "success") {
                    $("#ClassId").html('');
                    if (result.classDropdownlist.length > 0) {
                        $("#ClassId").append('<option value="0">All</option>');
                        $.each(result.classDropdownlist, function () {
                            $("#ClassId").append('<option data-id-virtualclassid="' + this.VirtualClassValue
                                          + '" data-id-classvalue ="'+this.Value+'">' + this.Text + '</option>');
                        });
                        var grid = $('#HomeWork-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                    } else {
                        $("#ClassId").append('<option value="">--No Class Found--</option>');
                    }

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }

            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    $('#Month').change(function () {
        $('#ks_loader').show();
        var date = GetDateFromString($(this).val());

        $.ajax({
            async: "false",
            type: "Post",
            url: '@Html.Raw(Url.Action("GetClassListMonthWise", "HomeWork"))',
            data: { "date": date },
            success: function (result) {

                if (result.status == "success") {
                    $("#ClassId").html('');
                    if (result.classDropdownlist.length > 0) {
                        $("#ClassId").append('<option value="0">All</option>');
                        $.each(result.classDropdownlist, function () {
                            $("#ClassId").append('<option data-id-virtualclassid="' + this.VirtualClassValue
                                          + '" data-id-classvalue ="'+this.Value+'">' + this.Text + '</option>');
                        });
                        var grid = $('#HomeWork-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                    } else {
                        $("#ClassId").append('<option value="">--No Class Found--</option>');
                    }

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }

            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })


    $('#ClassId').change(function () {
        // alert($('#IsDateormonth').val());
        $('#ks_loader').show();
        var grid = $('#HomeWork-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
        $('#ks_loader').hide();
    })
    $('#Filter-HW').click(function () {
        $('#ks_loader').show();
        var grid = $('#HomeWork-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
        $('#ks_loader').hide();
    })
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

    //$('#rdDaily').change(function(){
    //    $('#ks_loader').show();
    //    var grid = $('#HomeWork-grid').data('kendoGrid');
    //    grid.dataSource.page(1); //new search. Set page size to 1
    //    $('#ks_loader').hide();
    //});


    //$('#rdMonthly').change(function(){

    //});



    $('#Reset-HW').click(function () {
        $('#ks_loader').show();
        $('#rdDaily').prop('checked',true);
        $('#IsDateormonth').val('Daily');
        $('#dvDaily').show();
        $('#dvMonthly').hide();
        $('#ClassId').val('');
        $('#StaffId').val(null).trigger("change");
        $('#SubjectId').val(null).trigger("change");
        @*$("#Date").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: '@Model.SessionStartDate',
            max: '@Model.SessionEndDate',
            value: new Date
        })*@
        var todayDate = kendo.toString(kendo.parseDate(new Date()), 'dd/MM/yyyy');
        $("#Date").data("kendoDatePicker").value((todayDate));
        $("#Date").trigger('change');
        var grid = $('#HomeWork-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
        $('#ks_loader').hide();
    })


    function GetMonthFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0];
        return returnFromDate;
    }

</script>
