﻿@model ViewModel.ViewModel.DocumentManager.DocmentDetailModel
@{
    ViewBag.Title = "FilterDocumentDetail";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

@*@{
    Layout = null;
    ViewBag.Title = "FilterDocumentDetail";
    var defaultGridPageSize = "5,10,15,20";
    var gridPageSizes = "5";
}*@
@*<link href="~/Content/New%20%20scripts/Bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>
<script src="~/Content/Scripts/Kendo/kendo.all.min.js"></script>
<link href="~/Content/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo.bootstrap.mobile.min.css" rel="stylesheet" />
<link href="~/Content/kendo.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/New%20%20scripts/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/New%20%20scripts/moment.min.js"></script>
<link href="~/Content/CustomStyle.css" rel="stylesheet" />*@

<!DOCTYPE html>
<style>
    .form-inline .form-control {
        width: 220px;
    }

    .container {
        max-width: 998px !important;
    }

    i > .fa {
        display: inline;
    }

  

    .document label {
        font-size: 13px;
        font-weight: normal;
        line-height: 16px;
        padding-right: 0;
        /*padding:5px;*/
    }

    #GridView table, #ManageGrid table {
        font-size: 14px;
    }

        #GridView table td a i, #ManageGrid table td a i {
            padding: 1px 5px;
            font-size: 12px;
            border-radius: 3px;
            color: #333;
            background-color: #fff;
            border: 1px solid #ccc;
            line-height: 1.5;
            margin-right: 5px;
        }

        #GridView table tbody tr td {
            overflow: visible;
        }

</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Document Detail</title>
</head>
<body>
    @Html.Hidden("CategoryId")
    @Html.Hidden("IssueDate")
    @Html.Hidden("ExpiryDate")
    @Html.Hidden("UploadedDate")
    @Html.Hidden("GridCount")
    <div style="width:100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header" style="color: #AA1D23;float: left;margin: 0 0 20px 0;padding: 20px 15px 10px;width: 100%;">
                        <h1 style="margin: 0;float: left;font-size: 20px;">Document Details</h1>
                        <button id="btnPrint" style="float: right;width: auto;padding: 1px 3px;" class="btn btn-default">Print</button>
                    </div>
                    @*</div>
                        <div class="col-md-6">*@

                </div>
            </div>
        </div>
    </div>
    <div class="document">
     
            <div class="container">
                <div class="demo" style="float: left;width: 100%;padding: 0 15px;">
                    <div class="form-inline" style="width:23%;float:left;padding-right: 10px;">
                        <label style="float: left;width: 34%;line-height: 30px;">Category:</label>
                        <select style="float: left;width: 66%;" class="form-control" id="txtDocType">
                            <option selected="" value="0">--Select--</option>
                        </select>
                    </div>


                    <div style="width: 23%;float:left;padding-right: 10px;">
                        <label style="float: left;width: 33%;line-height: 30px;">Filter By:</label>
                        <select style="float: left;width: 67%;" class="form-control" id="FilterBy">
                            <option selected="" value="0">--None--</option>
                            <option selected="" value="1">Expiry Date</option>
                            <option value="2">Issue Date</option>
                            <option value="3">Uploaded Date</option>
                        </select>
                    </div>
                    <div class="" style="width: 22%;float:left;padding-right: 10px;">
                        <label style="float: left;width: 25%;line-height: 30px;">From :</label>
                        <input class="form-control" style="width: 75%;" id="FromDate" title="datepicker" />
                    </div>

                    <div class="" style="width: 22%;float:left;padding-right: 10px;">
                        <label style="float: left;width: 20%;line-height: 30px;">To :</label>
                        <input class="form-control" style="width: 75% !important;" id="ToDate" title="datepicker" />
                    </div>

                    <div style="float:right;width:10%;text-align: right;">
                        <button id="btnfilter" style="padding: 6px 12px;" class="btn btn-primary">Filter</button>
                    </div>
                    <br />
                    <br />
                </div>
        
        
                    
                    <div class="col-md-12">
                        <div id="GridView" style="width:100%"></div>
                    </div>
                    <script>

               /////////////////////////////////////////////Main Grid///////////////////////////////////

                        $(document).ready(function () {
                            FillDocumentCategory();
                            $("#txtDocType").val("");
                            dateCalculation();
                            $("#FilterBy").val(1);
                            $("#GridView").kendoGrid({

                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("FilterDetail", "Document"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {

                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        //  display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "DocumentId",
                                        hidden: true
                                    },
                                    {
                                        field: "DocumentCategory",
                                        title: "Category",
                                    },
                                    {
                                        field: "DocumentTitle",
                                        title: "Title",
                                    },
                                    {
                                        field: "IssuedDate",
                                        title: "IssuedDate",
                                    },
                                     {
                                         field: "ExpiryDt",
                                         title: "ExpiryDate",
                                     },
                                      {
                                          field: "UploadedDate",
                                          title: "UploadedOn",
                                      }
                                ]
                            });
                            var grid = $("#GridView").data("kendoGrid");
                            grid.dataSource.read({
                                "CategoryId": $("#CategoryId").val(),
                                "IssuedDate": $("#IssuedDate").val(),
                                "ExpiryDate": $("#ExpiryDate").val(),
                                "UploadedDate": $("#UploadedDate").val(),
                                "FromDate": $("#FromDate").val(),
                                "ToDate": $("#ToDate").val()
                            });
                        });
                        function additionalData() {
                            var data = {
                                "CategoryId": $("#CategoryId").val(),
                                "IssuedDate": $("#IssuedDate").val(),
                                "ExpiryDate": $("#ExpiryDate").val(),
                                "UploadedDate": $("#UploadedDate").val(),
                                "FromDate": $("#FromDate").val(),
                                "ToDate": $("#ToDate").val()
                            };
                            //   addAntiForgeryToken(data);
                            return data;
                        }
                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }
                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>

                </div>
    </div>
    <script>
        //////////////////////////////////////Disable DatePickers//////////////////////////////////

        $("#FilterBy").change(function () {

            $('#FromDate').data('kendoDatePicker').enable(true);
            $('#ToDate').data('kendoDatePicker').enable(true);

            var FilterBy = $("#FilterBy").val();
            if (FilterBy == 0) {
                $('#FromDate').data('kendoDatePicker').enable(false);
                $('#ToDate').data('kendoDatePicker').enable(false);
               
               }
        });

        ////////////////////////////////////////Filter Button/////////////////////////////////////////

        $("#btnfilter").click(function () {
            var filteridby = $("#FilterBy").val();
            
            $("#IssueDate").val('false');
            $("#ExpiryDate").val('false');
            $("#UploadedDate").val('false');
            if (filteridby == 1) {
               $("#ExpiryDate").val('true');
            }
            if (filteridby == 2) {
                $("#IssueDate").val('true'); 
            }
            if (filteridby == 3) {
                $("#UploadedDate").val('true');
            }
            var catgryid = $("#txtDocType").val();
            if (filteridby == 0) {
                if (catgryid == 0) {
                    alert('Select Category First.')
                    return;
                }
            }
            $("#CategoryId").val(catgryid);
            var grid = $("#GridView").data("kendoGrid");
            grid.dataSource.read({
                "CategoryId": $("#CategoryId").val(),
                "IssueDate": $("#IssueDate").val(),
                "ExpiryDate": $("#ExpiryDate").val(),
                "UploadedDate": $("#UploadedDate").val(),
                "FromDate": $("#FromDate").val(),
                "ToDate": $("#ToDate").val()
            });
        })
        ////////////////////////////Fill Document Category///////////////////////////////////
        function FillDocumentCategory() {
            $.ajax({
                type: "Get",
                url: "@Html.Raw(Url.Action("DocumentType","Document"))",
                //data: JSON.stringify(Student),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (res) {
                    $("#txtDocType").empty();
                    $.each(res, function (value, data) {
                        $("#txtDocType").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                    });

                },
                error: function () {

                    alert("Error occured!");
                }
            });
        };
        ///////////////////////////////Date Calculation////////////////////////////////
        function dateCalculation() {
            $("#ExpiryDate").val('true');
            $("#FromDate").attr("readonly", false);
            $("#FromDate").kendoDatePicker({
                value: new Date(),
                min: date,
                dateInput: true,
                format: "dd/MM/yyyy"
            });
            $("#FromDate").attr("readonly", true);
            var date = $('#FromDate').val();

            var datearry = date.split('/');
            var returnDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
            var newdate = new Date(returnDate);
            newdate.setDate(newdate.getDate() + 30);
            $("#ToDate").attr("readonly", false);
            $("#ToDate").kendoDatePicker({
                value: newdate,
                min: new Date(),
                dateInput: true,
                format: "dd/MM/yyyy"
            });
            $("#ToDate").attr("readonly", true);
        };
      //////////////////////////////On DatePicker Date Change////////////////////////////////////////
        $("#FromDate").change(function () {
         
          var date = $('#FromDate').val();

          var datearry = date.split('/');
          var returnDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);


          var newdate = new Date(returnDate);
          newdate.setDate(newdate.getDate() + 30);

          var rtrndate = new Date(returnDate);
          rtrndate.setDate(rtrndate.getDate());
         
          $("#ToDate").attr("readonly", false);
          $("#ToDate").kendoDatePicker({
              value: newdate,
              min: rtrndate,
            //  dateInput: true,
              format: "dd/MM/yyyy"
          });
          $("#ToDate").attr("readonly", true);
          $('#ToDate').parent().parent().removeClass("k-input");
          $("#ToDate").closest("span.k-datepicker").width('70%');
        })

        /////////////////////////////////////Print Button///////////////////////////////////
        $("#btnPrint").click(function () {
            var count = $("#GridView tbody").find("tr");
            if (count.length == 0) {
                alert("Data Not Found");
                return false;
            }
            var filteridby = $("#FilterBy").val();

            $("#IssueDate").val('false');
            $("#ExpiryDate").val('false');
            $("#UploadedDate").val('false');
            if (filteridby == 1) {
                $("#ExpiryDate").val('true');
            }
            if (filteridby == 2) {
                $("#IssueDate").val('true');
            }
            if (filteridby == 3) {
                $("#UploadedDate").val('true');
            }
            var catgryid = $("#txtDocType").val();
            if (filteridby == 0) {
                if (catgryid == 0) {
                    alert('Select Category First.')
                    return;
                }
            }
            var fromdate = $("#FromDate").val();
            var todate = $("#ToDate").val();

            $.ajax({
                type: "Get",
                async: true,
                url: '@Html.Raw(Url.Action("DocumentExport", "Document"))',
                data: {},
                success: function (result) {
                    window.location.href = '@Html.Raw(Url.Action("DocumentDetailReport", "Document"))?filteridby=' + filteridby + '&' + 'fromdate=' + fromdate + '&' + 'todate=' + todate + '&' + 'catgryid=' + catgryid;
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })
    </script>
</body>
</html>
