﻿@model ViewModel.ViewModel.Master.Periods

<table class="table table-bordered table-striped" id="periodListTable">
    <thead class="thead-default">
        <tr>
            <th>
                Period
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Period Index
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PeriodsDetail)
        {
            <tr>
                <td hidden>@item.PeriodId</td>
                <td>@item.PeriodName</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td style="width:120px">@item.PeriodIndex</td>
                <td style="width:120px">
                    @if (Model.IsAuthToEdit)
                    {
                        <a href="javascript:void(0)" title="Edit" data-toggle="tooltip" data-placement="top" class="clsupdateperiod btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                    }
                    @if (Model.IsAuthToDelete)
                    { 
                    if (item.IsPeriodDeletable )
                    {
                        <a href="javascript:void(0)" title="Delete" data-toggle="tooltip" data-placement="top" class="clsdeleteperiod btn btn-xs btn-default"><i class="fa fa-trash"></i></a>
                    }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>