﻿@model ViewModel.ViewModel.Master.ManagePeriod

<link href="~/Content/assets/css/bootstrap-combined.min.css" rel="stylesheet" />
<style>
    .time, .mins, .meridian {
        width: 38px;
        margin: 0;
    }
</style>
@if (Model.IsPeriodTimeInValid)
{
    <div class="row text-danger" id="IsPeriodTimeInValid">
        <ul><li>Period time range is Invalid.Please set the period in other span of time.</li></ul>
    </div>
}
@if (Model.IsSameStartEndTimes)
{
    <div class="row text-danger" id="IsSameStartEndTimes">
        <ul><li>Start Time and End Time of the period can,t be same.</li></ul>
    </div>
}
@if (Model.IsPeriodExist)
{
    <div class="row text-danger" id="IsPeriodExist">
        <ul><li>Same Name period already exist.</li></ul>
    </div>
}
@if (ViewBag.PeriodSaveUpdateMessage != null)
{
    <div class="col-md-12 text-success" id="success_notification_div">
        <ul><li>@ViewBag.PeriodSaveUpdateMessage</li></ul>
    </div>
}
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.PeriodId)
@*@Html.HiddenFor(model => model.EndTimehi)
    @Html.HiddenFor(model => model.StartTimehi)*@

<!-- Time Table Grid -->
<div class="row  top-space-10" id="addUpdatefields">
    <div class="col-md-12">
        <div class="col-md-2">
            <label>Period</label>
            @Html.TextBoxFor(model => model.PeriodName, null, new { @class = "form-control", @placeholder = "Period Name", @maxlength = "20" })
        </div>
        <div class="col-md-2">
            <label>Period Index</label>
            @Html.DropDownListFor(model => model.PeriodIndex, Model.PeriodIndexList, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label>Start Time </label>
            @Html.HiddenFor(model => model.StartTime)
            <input type="text" class="form-control" id="StartTimetoshow" />
        </div>
        <div class="col-md-2">
            <label>End Time </label>
            @Html.HiddenFor(model => model.EndTime)
            <input type="text" class="form-control" id="EndTimetoshow" />
        </div>
        <div class="col-md-3 top-space-20">
            <button type="submit" name="save" class="btn btn-default" id="save-period">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <button type="button" name="cancel" class="btn btn-default" id="cancel">
                Cancel
            </button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="periodsList">
        @Html.Action("GetAllPeriods")
    </div>
</div>
<script>
    $(function () {

        $('#StartTimetoshow').timepicki();
        $('#EndTimetoshow').timepicki();

        $('#EndTimetoshow').on("focusin click", function () {
            var fullendtime = $(this).val();
            if (fullendtime != "") {
                var endtimearray = fullendtime.split(' ');
                var endtimehour = endtimearray[0].split(':')[0];
                var endtimemin = endtimearray[0].split(':')[1];
                var endtimeperiod = endtimearray[1];

                setTimeout(function () {
                    $('.timepicki-input:nth(3)').val(endtimehour);
                    $('.timepicki-input:nth(4)').val(endtimemin);
                    $('.timepicki-input:nth(5)').val(endtimeperiod);
                }, 200);
            }
        });

        $('#StartTimetoshow').on("focusin click", function () {
            var fullstarttime = $(this).val();
            if (fullstarttime != "") {
                var starttimearray = fullstarttime.split(' ');
                var starttimehour = starttimearray[0].split(':')[0];
                var starttimemin = starttimearray[0].split(':')[1];
                var starttimeperiod = starttimearray[1];

                setTimeout(function () {
                    $('.timepicki-input:nth(0)').val(starttimehour);
                    $('.timepicki-input:nth(1)').val(starttimemin);
                    $('.timepicki-input:nth(2)').val(starttimeperiod);
                }, 200);
            }
        });


        @if (TempData["StartTime"] != null && TempData["StartTime"] != "" && TempData["EndTime"] != null && TempData["EndTime"] != "" && (Model.IsPeriodTimeInValid==true || Model.IsPeriodExist==true)) 
        {
            <text>
        @*$("#StartTimetoshow").val("@TempData["StartTime"]");
        $("#EndTimetoshow").val("@TempData["EndTime"]");*@
        $("#addUpdatefields").show();
        </text>
        }
        else {
             <text>
        $("#addUpdatefields").hide();
        </text>
        }

        @if (TempData["PeriodIndex"] != null && TempData["PeriodIndex"] != "") 
        {
             <text>
        $('#PeriodIndex').append('<option selected = selected value=' + "@TempData["PeriodIndex"]" + ' >' + "@TempData["PeriodIndex"]" + '</option>')
        </text>
        }
        
        @if (Model.PeriodIndexList.Count==1) 
        {
             <text>
        ToastMessage("Maximum limit of Periods is reached so,you are only able to update periods not to add.", "success", true, 5000);
        $("#save-period").show();
        $("#addnew-period").hide();
        </text>
        }
    
        @*$.ajax({
            url: '@Html.Raw(Url.Action("GetAllPeriods","Master"))',
            type: "POST",
            data: {},
            success: function (res) {
                $("#periodsList").html(res);
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
            }
        });*@

    })
    $("#PeriodIndex").change(function () {
        $("#success_notification_div").html('');
        $("#IsPeriodTimeInValid ul").html('');
        $("#IsSameStartEndTimes ul").html('');
        $("#IsPeriodExist ul").html('');
        var periodIndex = parseInt($(this).val());
        if (periodIndex > 0) {
            $.ajax({
                url: '@Html.Raw(Url.Action("GetTimesByIndex","Master"))',
                type: "POST",
                data: { "periodIndex": periodIndex },
                success: function (res) {
                    if (res.status == "success") {
                        //$("#StartTime").val(res.startTime);
                        //$("#EndTime").val(res.endTime);
                        $("#StartTimetoshow").val(res.startTime);
                        $("#EndTimetoshow").val(res.endTime);
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                }
            })
        }
    })
    $("#addnew-period").click(function () {
        $("#PeriodIndex").val($("#PeriodIndex option:eq(1)").val());
        $("#success_notification_div").html('');
        $("#IsPeriodTimeInValid ul").html('');
        $("#IsSameStartEndTimes ul").html('');
        $("#IsPeriodExist ul").html('');
        $("#addUpdatefields").show();
        $("#save-period").show();
        $("#PeriodName").val('');
        var periodIndex = $("#PeriodIndex")[0].options[1].value;
        if (periodIndex > 0) {
            $.ajax({
                url: '@Html.Raw(Url.Action("GetTimesByIndex","Master"))',
                type: "POST",
                data: { "periodIndex": periodIndex },
                success: function (res) {
                    if (res.status == "success") {
                        //$("#StartTime").val(res.startTime);
                        //$("#EndTime").val(res.endTime);
                        $("#StartTimetoshow").val(res.startTime);
                        $("#EndTimetoshow").val(res.endTime);
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                }
            })
        }
    })
    $("#save-period").click(function () {
        $("#success_notification_div").html('');
        $("#IsPeriodTimeInValid ul").html('');
        $("#IsSameStartEndTimes ul").html('');
        $("#IsPeriodExist ul").html('');
        $("#StartTime").val($("#StartTimetoshow").val());
        $("#EndTime").val($("#EndTimetoshow").val());
        $("#EndTime").val();
        $('#ks_loader').show();
        var isValid = ValidateManagePeriod();
        if (!isValid) {
            $('#ks_loader').hide();
            var validationaray = ManagePeriodvalidationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $(ManagePeriodctrlfocus).focus();
            return false;
        }
        $('#ks_loader').hide();
    })

    $(document).on("click", ".clsupdateperiod", function () {
        $("#success_notification_div").html('');
        $("#IsPeriodTimeInValid ul").html('');
        $("#IsSameStartEndTimes ul").html('');
        $("#IsPeriodExist ul").html('');
        $("#addnew-period").hide();

        var periodId = $(this).parents('tr').find('td:nth-child(1)').text();
        var PeriodIndex = $(this).parents('tr').find('td:nth-child(5)').text()
        var period = $(this).parents('tr').find('td:nth-child(2)').text();
        var starttimetopost = $(this).parents('tr').find('td:nth-child(3)').text();
        var endtimetopost = $(this).parents('tr').find('td:nth-child(4)').text();

        //var periodStartTime = ConvertTo24Hours($(this).parents('tr').find('td:nth-child(3)').text());
        //var periodEndTime = ConvertTo24Hours($(this).parents('tr').find('td:nth-child(4)').text());
        //$("#StartTime").val(starttimetopost);
        //$("#EndTime").val(endtimetopost);

        $("#StartTimetoshow").val(starttimetopost);
        $("#EndTimetoshow").val(endtimetopost);
        $("#PeriodId").val(periodId);
        $("#addUpdatefields").show();
        $("#save-period").show();
        $("#PeriodName").val(period);

        $.ajax({
            url: '@Html.Raw(Url.Action("GetIndexes","Master"))',
            type: "POST",
            data: { "PeriodIndex": PeriodIndex },
            success: function (res) {
                if (res.status == "success") {
                    $('#PeriodIndex').find('option').remove();
                    for (var i = 0; i < res.periodIndexList.length; i++) {
                        if (res.periodIndexList[i].Selected == true) {
                            $('#PeriodIndex').append('<option selected = selected value=' + res.periodIndexList[i].Value + ' >' + res.periodIndexList[i].Text + '</option>')
                        }
                        else {
                            $('#PeriodIndex').append('<option  value=' + res.periodIndexList[i].Value + ' >' + res.periodIndexList[i].Text + '</option>')
                        }
                    }
                    ScrollToTop();
                }
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
            }
        })
    });

    $("#cancel").click(function () {
        $("#success_notification_div").html('');
        $("#IsPeriodTimeInValid ul").html('');
        $("#IsSameStartEndTimes ul").html('');
        $("#IsPeriodExist ul").html('');
        $("#addUpdatefields").hide();
        $("#PeriodName").val('');
        $("#StartTimetoshow").val("");
        $("#EndTimetoshow").val("");

        $("#addnew-period").show();
        $("#PeriodId").val('');

        $.ajax({
            url: '@Html.Raw(Url.Action("GetIndexes","Master"))',
            type: "POST",
            data: {},
            success: function (res) {
                if (res.status == "success") {
                    $('#PeriodIndex').find('option').remove();
                    for (var i = 0; i < res.periodIndexList.length; i++) {
                        if (res.periodIndexList[i].Selected == true) {
                            $('#PeriodIndex').append('<option selected = selected value=' + res.periodIndexList[i].Value + ' >' + res.periodIndexList[i].Text + '</option>')
                        }
                        else {
                            $('#PeriodIndex').append('<option  value=' + res.periodIndexList[i].Value + ' >' + res.periodIndexList[i].Text + '</option>')
                        }
                    }
                }
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
            }
        })
    });

    $(document).on("click", ".clsdeleteperiod", function () {
        $("#success_notification_div").html('');
        $("#IsPeriodTimeInValid ul").html('');
        $("#IsSameStartEndTimes ul").html('');
        $("#IsPeriodExist ul").html('');
        var periodId = parseInt($(this).parents('tr').find('td:nth-child(1)').text());
        if (confirm("Are you sure want to delete this period") == true) {
            if (periodId != "") {
                $('#ks_loader').show();
                $.ajax({
                    url: '@Html.Raw(Url.Action("DeletePeriod","Master"))',
                    type: "POST",
                    data: { "periodId": periodId },
                    success: function (res) {
                        if (res.status == "success") {
                            $('#ks_loader').hide();
                            ToastMessage(res.data, "success", true, 5000);
                            window.location.href = "@Html.Raw(Url.Action("Period","Master"))";
                        }
                        else {
                            $('#ks_loader').hide();
                            ToastMessage(res.data, "error", true, 5000);
                            window.location.href = "@Html.Raw(Url.Action("Period","Master"))";
                        }
                    },
                    error: function (xhr, status, p3) {
                        $('#ks_loader').hide();
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                    }
                })
            }
        }
    })

    var ManagePeriodValid = true;
    var ManagePeriodvalidationmessage = "";
    var ManagePeriodctrlfocus = "";

    function ValidateManagePeriod() {
        ManagePeriodValid = true;
        ManagePeriodvalidationmessage = "";
        ManagePeriodctrlfocus = "";
        if ($('#PeriodName').val() == "") {
            if (ManagePeriodctrlfocus == "")
                ManagePeriodctrlfocus = "#PeriodName";
            ManagePeriodvalidationmessage = ManagePeriodvalidationmessage + "Please provide period name ε";
            ManagePeriodValid = false;
        }
        if ($('#PeriodIndex').val() == "") {
            if (ManagePeriodctrlfocus == "")
                ManagePeriodctrlfocus = "#PeriodIndex";
            ManagePeriodvalidationmessage = ManagePeriodvalidationmessage + "Please provide Period Index ε";
            ManagePeriodValid = false;
        }
        if ($('#StartTime').val() == "") {
            if (ManagePeriodctrlfocus == "")
                ManagePeriodctrlfocus = "#StartTime";
            ManagePeriodvalidationmessage = ManagePeriodvalidationmessage + "Please provide start time ε";
            ManagePeriodValid = false;
        }
        if ($('#EndTime').val() == "") {
            if (ManagePeriodctrlfocus == "")
                ManagePeriodctrlfocus = "#EndTime";
            ManagePeriodvalidationmessage = ManagePeriodvalidationmessage + "Please provide end time ε";
            ManagePeriodValid = false;
        }
        return ManagePeriodValid;
    }

    //function ConvertTo24Hours(time) {
    //    var hours = Number(time.match(/^(\d+)/)[1]);
    //    var minutes = Number(time.match(/:(\d+)/)[1]);
    //    var AMPM = time.match(/\s(.*)$/)[1];
    //    if (AMPM == "PM" && hours < 12) hours = hours + 12;
    //    if (AMPM == "AM" && hours == 12) hours = hours - 12;
    //    var sHours = hours.toString();
    //    var sMinutes = minutes.toString();
    //    if (hours < 10) sHours = "0" + sHours;
    //    if (minutes < 10) sMinutes = "0" + sMinutes;
    //    return sHours + ":" + sMinutes;
    //}

    //function tConvert(time) {
    //    // Check correct time format and split into components
    //    time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

    //    if (time.length > 1) { // If time format correct
    //        time = time.slice(1);  // Remove full string match value
    //        time[5] = +time[0] < 12 ? 'AM' : 'PM'; // Set AM/PM
    //        time[0] = +time[0] % 12 || 12; // Adjust hours
    //    }
    //    return time.join(''); // return adjusted time or original string
    //}
</script>
