﻿@model ViewModel.ViewModel.Master.ExamTermActivityModel

@{
    ViewBag.Title = "ExamTermActivity";
}

<div class="row top-space-10 page-heading">
    <div class="col-md-12" id="error_notification_div" hidden="">
        <div class="error_notification"><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12" id="success_notification_div" hidden="">
        <div class="success_notification"><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Manage ExamTerm Activity & Standard</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="form-horizontal ks-custom-form">
        <!-- Form Row -->
        <div class="row top-space-10">
            <!-- Form Coulmn -->
            <div class="col-md-4">
                <label class="control-label">Exam Term <i class="fa fa-asterisk ks-required"></i></label>
                @Html.DropDownListFor(model => model.ExamTermId, Model.AvailableExamTerm, new { @class = "form-control", @autofocus = "on" })
            </div>
            <!-- //Form Coulmn -->
            <div class="col-md-4">
                <label class="control-label">Session</label>
                @Html.DropDownListFor(model => model.filtSessionId, Model.AvailableSessions, new { @class = "form-control" })
            </div>
        </div>
        <div class="top-space-10 row" style="display: none;" id="ExamTerm-Detail">
            <div class="col-md-5">
                <h4>Exam Term Activity</h4>
                <div style="height: 350px;overflow: auto">
                    <table class="table table-condensed table-striped" id="examtermactivity-grid">
                        <thead>
                            <tr>
                                <td><input type="checkbox" id="examtermendchkboxall" /> #</td>
                                <td>Exam Activity</td>
                                <td>Is TermEnd</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5">
                <h4>Exam Term Standard</h4>
                <div style="height: 350px;overflow: auto">
                    <table class="table table-condensed table-striped" id="examtermstandard-grid">
                        <thead>
                            <tr>
                                <td><input type="checkbox" id="examtermstadchkboxall" /> #</td>
                                <td>Standard</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-success" id="Submit">
                    Save
                </button>
            </div>
        </div>
    </div>

    <script>

        $(function () {

            $('#examtermendchkboxall').click(function () {
                $('.clsexamtermactivitychkbox').prop('checked', $(this).is(':checked')).change();
            });

            $('.clsexamtermendchkbox').change(function () {
                // check if all check box checked or not
                if ($('.clsexamtermactivitychkbox:checked').length == $('.clsexamtermactivitychkbox').length)
                    $('#examtermendchkboxall').prop("checked", true);
                else
                    $('#examtermendchkboxall').prop("checked", false);
            });

            $('#examtermstadchkboxall').click(function () {
                $('.clsexamtermstadchkbox').prop('checked', $(this).is(':checked')).change();
            });

            $('.clsexamtermstadchkbox').change(function () {
                // check if all check box checked or not
                if ($('.clsexamtermstadchkbox:checked').length == $('.clsexamtermstadchkbox').length)
                    $('#examtermstadchkboxall').prop("checked", true);
                else
                    $('#examtermstadchkboxall').prop("checked", false);
            });

            @* get data by term *@

            $("#filtSessionId").on("change", function () {
                if ($(this).val() != "" && $(this).val() != null) {
                    $('#ExamTermId').trigger('change');
                }
            })

            $('#ExamTermId').on("change", function () {
                $('#ExamTerm-Detail').hide();
                $('#examtermendchkboxall').removeAttr("disabled", true);
                $('#examtermactivity-grid tbody').html("");
                $('#examtermstandard-grid tbody').html("");
                var fitlerSessionId = $("#filtSessionId").val();
                var ExamTermId = $(this).val();
                if (ExamTermId != "") {
                    $('#ks_loader').show();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("GetExamTermActivitiesandStandards", "Master"))',
                        data: { "ExamTerm": ExamTermId,"SessionId":fitlerSessionId },
                        success: function (result) {
                            if (result.status == "success") {

                                  var IsIsTermDisabled = "";  var titleIsTermDisabled = "";
                                if (result.IsAnyTermMarksFilled == true) {
                                    IsIsTermDisabled = "disabled";
                                    titleIsTermDisabled="Skill Marks Already Filled. Can not Change IsTermEnd"
                                }
                                var row = "";
                                var disabled = "";
                                var disablecount = 0;
                                for (var i = 0; i < result.collection1.length; i++) {
                                    row = "<tr>"
                                    + "<td style='display: none' class='clsexamtermactivity'>" + result.collection1[i].ExamTermActivityId + "</td>"
                                    + "<td style='display: none' class='clsexamactivityIk'>" + result.collection1[i].ExamActivityId + "</td>";

                                    disabled = "";
                                    if (result.collection1[i].IsDisabled)
                                        disabled = "disabled";

                                    if (result.collection1[i].ExamTermActivityId != "") {
                                        row += "<td><input type='checkbox' " + disabled + " checked class='clsexamtermactivitychkbox' /></td>";
                                        disablecount++;
                                    }
                                    else
                                        row += "<td><input type='checkbox' class='clsexamtermactivitychkbox' /></td>";

                                    row += "<td class='clsexamactivity'>" + result.collection1[i].ExamActivity + "</td>";


                                    if (result.collection1[i].IsTermEnd) {
                                        if (result.collection1[i].IsTermEndDisabled) {
                                            row += "<td><input type='checkbox' title='"+titleIsTermDisabled+"' disabled checked class='clsexamtermendchkbox' /></td>";
                                        } else {
                                             row += "<td><input type='checkbox' title='"+titleIsTermDisabled+"' "+IsIsTermDisabled+" checked class='clsexamtermendchkbox' /></td>";
                                        }
                                    }
                                    else {
                                        row += "<td><input type='checkbox' title='"+titleIsTermDisabled+"' "+IsIsTermDisabled+" class='clsexamtermendchkbox' /></td>";
                                    }
                                    + "</tr>";

                                    $('#examtermactivity-grid tbody').append(row);
                                }

                                if (result.collection1.length == disablecount)
                                    $('#examtermendchkboxall').attr("disabled", true);

                                if (result.collection1.length == 0) {
                                    row = "<tr><td class='text-center' colspan='2'>No data found</td></tr>";
                                    $('#examtermactivity-grid tbody').append(row);
                                }
                                var IsStandardMarksFilled = ""; var standardtitle = "";
                                for (var i = 0; i < result.collection2.length; i++) {
                                    row = "<tr>"
                                    + "<td style='display: none' class='clsexamtermstandard'>" + result.collection2[i].ExamTermStandardId + "</td>"
                                    + "<td style='display: none' class='clsexamstandardIk'>" + result.collection2[i].StandardId + "</td>";

                                    IsStandardMarksFilled = ""; standardtitle = "";
                                    if (result.collection2[i].IsStandardMarksFilled == true)
                                        IsStandardMarksFilled = "disabled";
                                    if (result.collection2[i].ExamTermStandardTitle != "")
                                        standardtitle = result.collection2[i].ExamTermStandardTitle;

                                    if (result.collection2[i].ExamTermStandardId != "")
                                        row += "<td><input type='checkbox' title='"+standardtitle+"'  "+IsStandardMarksFilled+" checked class='clsexamtermstadchkbox' /></td>";
                                    else
                                        row += "<td><input type='checkbox' title='"+standardtitle+"'  "+IsStandardMarksFilled+" class='clsexamtermstadchkbox' /></td>";


                                    row += "<td class='clsexamstandard'>" + result.collection2[i].StandardName + "</td>"
                                    + "</tr>";

                                    $('#examtermstandard-grid tbody').append(row);
                                }
                                if (result.collection2.length == 0) {
                                    row = "<tr><td class='text-center' colspan='2'>No data found</td></tr>";
                                    $('#examtermstandard-grid tbody').append(row);
                                }

                                $('#ExamTerm-Detail').show();
                            }
                            else {
                                ToastMessage(msg, "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (jqXHR, exception) {
                            var msg = '';
                            if (jqXHR.status === 0) {
                                msg = 'Not connect.\n Verify Network.';
                            } else if (jqXHR.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (jqXHR.status == 500) {
                                msg = 'Internal Server Error [500].';
                            } else if (exception === 'parsererror') {
                                msg = 'Requested JSON parse failed.';
                            } else if (exception === 'timeout') {
                                msg = 'Time out error.';
                            } else if (exception === 'abort') {
                                msg = 'Ajax request aborted.';
                            } else {
                                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                            }

                            ToastMessage(msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
            });

            $('#Submit').click(function () {
                if ($('#ExamTermId').val() == "") {
                    ToastMessage("Please select Exam Term", "error", true, 5000);
                }
                else {
                    $('#ks_loader').show();

                    var examtermactivityarray = new Array();
                    var examtermactivityObj = new Object();
                    // check array
                    $('#examtermactivity-grid tbody tr').each(function () {
                        examtermactivityObj = new Object();
                        var row = $(this);
                        // values
                        examtermactivityObj.ExamTermActivityId = row.find('.clsexamtermactivity').text();
                        examtermactivityObj.ExamActivityId = row.find('.clsexamactivityIk').text();
                        examtermactivityObj.IsTermEnd = false;
                        if (row.find('.clsexamtermendchkbox').prop("checked"))
                            examtermactivityObj.IsTermEnd = true;

                        examtermactivityObj.IsDeleted = 1;
                        if (row.find('.clsexamtermactivitychkbox').prop("checked"))
                            examtermactivityObj.IsDeleted = 0;

                        examtermactivityarray.push(examtermactivityObj);
                    });

                    var examtermstandardarray = new Array();
                    var examtermstandardObj = new Object();
                    // check array
                    $('#examtermstandard-grid tbody tr').each(function () {
                        examtermstandardObj = new Object();
                        var row = $(this);
                        // values
                        examtermstandardObj.ExamTermStandardId = row.find('.clsexamtermstandard').text();
                        examtermstandardObj.StandardId = row.find('.clsexamstandardIk').text();

                        examtermstandardObj.IsDeleted = 1;
                        if (row.find('.clsexamtermstadchkbox').prop("checked"))
                            examtermstandardObj.IsDeleted = 0;

                        examtermstandardarray.push(examtermstandardObj);
                    });

                    @* Set Model *@
                    var model = new Object();
                    model.ActivityArray = JSON.stringify(examtermactivityarray);
                    model.StandardArray = JSON.stringify(examtermstandardarray);
                    model.ExamTermId = $('#ExamTermId').val();

                    @* Ajax Call *@
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("SaveorUpdateExamTermActivity", "Master"))',
                        data: model,
                        success: function (result) {
                            if (result.status == "success") {
                                ToastMessage(result.msg, "success", true, 5000);
                                $('#ExamTermId').trigger("change");
                            }
                            else if (result.status == "expire")
                                window.location.href = result.url;
                            else
                                ToastMessage(result.msg, "error", true, 5000);

                            $('#ks_loader').hide();
                        },
                        error: function (jqXHR, exception) {
                            var msg = '';
                            if (jqXHR.status === 0) {
                                msg = 'Not connect.\n Verify Network.';
                            } else if (jqXHR.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (jqXHR.status == 500) {
                                msg = 'Internal Server Error [500].';
                            } else if (exception === 'parsererror') {
                                msg = 'Requested JSON parse failed.';
                            } else if (exception === 'timeout') {
                                msg = 'Time out error.';
                            } else if (exception === 'abort') {
                                msg = 'Ajax request aborted.';
                            } else {
                                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                            }

                            ToastMessage(msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
            });

        });

        $(document).on('click', '.clsexamtermendchkbox', function () {
            if ($(this).prop("checked") == true) {
                $('.clsexamtermendchkbox').not(this).prop('checked', false);
            }
        })
    </script>
}

