﻿@{    
    ViewBag.Title = ViewBag.titlename;
}

<div class="row">
    <div class="col-md-12">
        <iframe id="master_frame" src="@ViewBag.url" style="height:800px;width: 100%" allowtransparency="true" frameborder="0"></iframe>
    </div>
</div>
<script>
    function MasterFrameHeight(elm)
    {
        $('#master_frame').height(elm);
    }

</script>
