﻿@model ViewModel.ViewModel.Master.MarksPatternModel
@{
    ViewBag.Title = "Marks Pattern";
}

@*hidden fields*@
@Html.HiddenFor(m => m.MarksPatternId)
<input id="rowindex_markspattern" name="rowindex" type="hidden" value="" />
<div class="row top-space-10 page-heading">
    <div class="col-md-12" id="error_notification_div" hidden="">
        <div class="error_notification"><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12" id="success_notification_div" hidden="">
        <div class="success_notification"><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Manage Marks Pattern</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="javascript:void(0)" id="add_MarksPattern" class="btn btn-xs btn-default">Add New</a>
    </div>
</div>

<form class="form-horizontal ks-custom-form">
    <!-- Form Row -->
    <div class="row create_marks_pattern_div top-space-10" style="display:none">
        <div class="col-md-3">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Grade Pattern</label>
                @Html.DropDownListFor(model => model.GradePatternId, Model.AvailableGradePattern, new { @class = "form-control" })
            </div>
            <!-- //Form Coulmn -->
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-2">
            <div class="">
                <label class=" control-label">Max Marks</label>
                @Html.TextBoxFor(model => model.MaxMarks, new { @class = "form-control", @maxlength = "3" })
            </div>
        </div>
        <!-- //Form Coulmn -->
        <div class="col-md-2">
            <!-- Form Coulmn -->
            <div class="">
                <label class=" control-label">Pass Marks</label>
                @Html.TextBoxFor(model => model.PassMarks, new { @class = "form-control", @maxlength = "5" })
            </div>
            <!-- //Form Coulmn -->
        </div>
        <!-- Form Coulmn -->
        @if (Model.IsExamInternalAssesmentApplicable)
        {
        <!-- Form Coulmn -->
            <div class="col-md-2">
                <div class="">
                    <label class=" control-label">@Model.ExamInternalAssessmentText Max Marks</label>
                    @Html.TextBoxFor(model => model.IAMaxMarks, new { @class = "form-control", @maxlength = "3" })
                </div>
            </div>
        <!-- //Form Coulmn -->
            <div class="col-md-2">
                <!-- Form Coulmn -->
                <div class="">
                    <label class=" control-label">@Model.ExamInternalAssessmentText Pass Marks</label>
                    @Html.TextBoxFor(model => model.IAPassMarks, new { @class = "form-control", @maxlength = "3" })
                </div>
                <!-- //Form Coulmn -->
            </div>
        }
        <!-- Form Coulmn -->
        <div class="col-md-5">
            @if (Model.IsAuthToAdd)
            {
                <button type="button" id="Save" name="save" class="btn btn-success" style="margin-top:25px">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            }
            @if (Model.IsAuthToEdit)
            {
                <button type="button" id="Update" name="save" class="btn btn-success" style="margin-top:25px">
                    <i class="fa fa-floppy-o"></i>
                    Update
                </button>
            }
            <button type="button" class="btn btn-danger" id="Reset_MarksPattern" style="margin-top:25px">
                <i class="fa fa-ban"></i>
                Cancel
            </button>
        </div>
    </div>
</form>
@*table for displaying Marks Pattern*@
<div class="row  top-space-10">
    <div class="col-md-12">
        <table id="markspattern_grid" class="table table-bordered table-responsive">
            <thead class="thead-default">
                <tr>
                    <th style="width: 15%">Grade Pattern</th>
                    <th style="width: 10%">Max Marks</th>
                    <th style="width: 10%">Pass Marks</th>
                    @if (Model.IsExamInternalAssesmentApplicable)
                    {
                        <th style="width: 10%">IA Max Marks</th>
                        <th style="width: 10%">IA Pass Marks</th>}
                    @if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                    {
                        <th style="width: 10%">Action</th>}
                </tr>
            </thead>
            <tbody>
                @foreach (var markspattern in Model.MarksPatternList)
                {
                    <tr>
                        <td class=""><a href="javascript:void(0)" data-id="@markspattern.GradePatternId" class="View_gradePatternDetails">@markspattern.GradePattern</a></td>
                        <td class="MaxMarks">@markspattern.MaxMarks</td>
                        <td class="PassMarks">@markspattern.PassMarks</td>
                        @if (Model.IsExamInternalAssesmentApplicable)
                        {
                            <td class="IAMaxMarks">@markspattern.IAMaxMarks</td>
                            <td class="IAPassMarks">@markspattern.IAPassMarks</td>
                        }
                        <td class="EncMarksPatternId" hidden>@markspattern.EncMarksPatternId</td>
                        <td class="GradePatternId" hidden>@markspattern.GradePatternId</td>
                        @if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                        {
                            <td>
                                @if (markspattern.MarksPatternUsed)
                                {
                                    if (Model.IsAuthToEdit)
                                    {
                                        <a title="Edit" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="Edit_markspattern btn btn-xs btn-default" data-id="@markspattern.EncMarksPatternId"><i class="fa fa-pencil "></i></a>
                                    }
                                    if (Model.IsAuthToDelete)
                                    {
                                        <a title="Delete" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="Delete_markspattern btn btn-xs btn-default" data-id="@markspattern.EncMarksPatternId"><i class="fa fa-trash "></i></a>
                                    }
                                }
                            </td>}
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12" id="grid_error_StudentFeeAddOn" hidden>
        <div class="text-danger">
            <i class="fa fa-ban"></i>
            <span></span>
        </div>
    </div>
    <div class="col-md-12" id="grid_success_StudentFeeAddOn" hidden>
        <div class="text-success">
            <i class="fa fa-check"></i>
            <span></span>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="text-danger" id="ErrorNotification_Div" hidden>
            <div class="col-md-10 col-md-offset-2">
                <div class="errornotification"><i class="fa fa-ban"></i><span></span></div>
            </div>
        </div>
        <div class="text-success" id="SuccessNotification_Div" hidden>
            <div class="col-md-10  col-md-offset-2">
                <div class="successnotification"><i class="fa fa-check"></i><span></span></div>
            </div>
        </div>
    </div>*@

@*message view*@
<div class="modal-popup" id="GradePatternView_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Grade Pattern Details</h4>
            </div>

            <div class=" row modal-body">
                <div class="top-space-10">
                    <div class="col-md-12">
                        <table id="gradepattern_grid" class="table table-bordered table-responsive">
                            <thead class="thead-default">
                                <tr>
                                    <th style="width: 10%">Grade</th>
                                    <th style="width: 15%">Starting Marks (%)</th>
                                    <th style="width: 15%">Ending Marks (%)</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    @{
        <text>
    var IsExamInternalAssesmentApplicable = '@Model.IsExamInternalAssesmentApplicable';
    </text>
    }
    $('.View_gradePatternDetails').click(function () {
        var row = $(this);
        $('#ks_loader').show();
        $('#GradePatternView_div').show();
        var gradepatternId = row.attr('data-id');
        if (gradepatternId > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetGradePattern", "Master"))',
                data: { "gradepatternId": gradepatternId },
                success: function (result) {
                    if (result.status == "success") {
                        $('#gradepattern_grid tbody').html('');
                        $.each(result.List, function () {
                            $('#gradepattern_grid tbody').append('<tr>' +

                           '<td class="">' + this.Grade + '</td>' +
                           '<td class="">' + this.StartingMarks + '</td>' +
                           '<td class="">' + this.EndingMarks + '</td>');

                            $('#ks_loader').hide();
                        })
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

    $('#close_div').click(function () {
        $('#GradePatternView_div').hide();

        $('#add_MarksPattern').show();
        $('#Update').hide();
        $('#Save').show();
        $('#GradePatternId').val($("#GradePatternId option:first").val()).trigger('change');
        $('#MaxMarks').val("");
        $("#PassMarks").val("");
        $('#IAMaxMarks').val("");
        $("#IAPassMarks").val("");
        $('#MarksPatternId').val('');
        $('.create_marks_pattern_div').css('display', 'none');
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function () {

        $('#add_MarksPattern').click(function () {
            $('.create_marks_pattern_div').css('display', 'block');
            $('#Update').hide();
            $('#Save').show();
            $('#GradePatternId').val($("#GradePatternId option:first").val()).trigger('change');
            $('#MaxMarks').val("");
            $("#PassMarks").val("");
            $('#IAMaxMarks').val("");
            $("#IAPassMarks").val("");
            $('#MarksPatternId').val('');
        });

        $('#Update').hide();
        $('#Reset_MarksPattern').click(function () {
            $('#add_MarksPattern').show();
            $('#Update').hide();
            $('#Save').show();
            $('#GradePatternId').val($("#GradePatternId option:first").val()).trigger('change');
            $('#MaxMarks').val("");
            $("#PassMarks").val("");
            $('#IAMaxMarks').val("");
            $("#IAPassMarks").val("");
            $('#MarksPatternId').val('');
            $('.create_marks_pattern_div').css('display', 'none');
        })

        $("#MaxMarks,#IAMaxMarks,#IAPassMarks").keydown(function (e) {
            NumericOnly(e);
        });
        $("#PassMarks").keydown(function (e) {
            NumericOnlyWithDecimal(e);
        });

        $('#close_div').click(function () {
            $('.create_marks_pattern_div').css('display', 'none');
        });

        $('#Save,#Update').click(function () {
            $('#ks_loader').show();
            var formvalid = ValidateGroupFeeType();
            if (formvalid) {
                var MarksPatternModel = new Object();
                MarksPatternModel.GradePatternId = $('#GradePatternId').val();
                MarksPatternModel.MaxMarks = $('#MaxMarks').val();
                MarksPatternModel.PassMarks = $("#PassMarks").val();
                MarksPatternModel.IAMaxMarks = $('#IAMaxMarks').val();
                MarksPatternModel.IAPassMarks = $("#IAPassMarks").val();
                var markspatternid = $('#MarksPatternId').val();
                if (markspatternid != null) {
                    MarksPatternModel.EncMarksPatternId = markspatternid;
                } else {
                    MarksPatternModel.EncMarksPatternId = "";
                }
                var rowindex = $('#rowindex_markspattern').val();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("SaveNewMarksPattern", "Master"))',
                    data: MarksPatternModel,
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                            window.location.reload();
                        }
                        else if (result.status == "validationfailed") {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                var validationaray = validationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    var valid = true;
    var validationmessage = "";
    var ctrlfocus = "";
    function ValidateGroupFeeType() {
        valid = true;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#GradePatternId').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#GradePatternId";
            validationmessage = validationmessage + "Please select Grade Pattern ε";
            valid = false;
        }
        if ($('#MaxMarks').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#MaxMarks";
            validationmessage = validationmessage + "Please enter Maxmarks ε";
            valid = false;
        }
        if ($('#PassMarks').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#PassMarks";
            validationmessage = validationmessage + "Please enter PassMarks ε";
            valid = false;
        }
        if (IsExamInternalAssesmentApplicable) {
            
        if ($('#IAMaxMarks').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#IAMaxMarks";
            validationmessage = validationmessage + "Please enter @Model.ExamInternalAssessmentText Maxmarks ε";
            valid = false;
        }
        if ($('#IAPassMarks').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#IAPassMarks";
            validationmessage = validationmessage + "Please enter @Model.ExamInternalAssessmentText PassMarks ε";
            valid = false;
        }
        if ($('#IAMaxMarks').val() != "" && $('#IAPassMarks').val() != "") {
            var maxmarks = parseFloat($('#IAMaxMarks').val());
            var passmarks = parseFloat($('#IAPassMarks').val());
            if (passmarks > maxmarks) {
                if (ctrlfocus == "")
                    ctrlfocus = "#IAPassMarks";
                validationmessage = validationmessage + "@Model.ExamInternalAssessmentText PassMarks should be less than from @Model.ExamInternalAssessmentText Maxmarks ε";
                valid = false;
            }
        }
        }
        if ($('#MaxMarks').val() != "" && $('#PassMarks').val() != "") {
            var maxmarks = parseFloat($('#MaxMarks').val());
            var passmarks = parseFloat($('#PassMarks').val());
            if (passmarks > maxmarks) {
                if (ctrlfocus == "")
                    ctrlfocus = "#PassMarks";
                validationmessage = validationmessage + "PassMarks should be less than from Maxmarks ε";
                valid = false;
            }
        }

        return valid;
    }

    //edit Student Fee AddOn
    $(document).on('click', '.Edit_markspattern', function () {
        $('#add_MarksPattern').hide();
        $('#rowindex_markspattern').val("");
        $('#rowindex_markspattern').val($(this).parent().parent().index());
        $('#Update').show();
        $('#Save').hide();
        $('.create_marks_pattern_div').css('display', 'block');
        $('#MaxMarks').val("");
        $("#PassMarks").val("");
        $('#IAMaxMarks').val("");
        $("#IAPassMarks").val("");

        $('#MarksPatternId').val($(this).attr('data-id'));
        $('#GradePatternId').val($(this).parent().parent().find(".GradePatternId").text()).trigger('change');
        $('#MaxMarks').val($(this).parent().parent().find(".MaxMarks").text());
        $("#PassMarks").val($(this).parent().parent().find(".PassMarks").text());
        $('#IAMaxMarks').val($(this).parent().parent().find(".IAMaxMarks").text());
        $("#IAPassMarks").val($(this).parent().parent().find(".IAPassMarks").text());
    });

    //Delete Fee Add On
    $(document).on('click', '.Delete_markspattern', function () {
        $('#ks_loader').show();
        var markspatternid = $(this).attr('data-id'); // student Fee Add On Id
        $('#rowindex_markspattern').val($(this).parent().parent().index());
        var rowindex = $('#rowindex_markspattern').val();

        if (confirm('Are you sure you want to delete this?')) {
            // ajax call fro save row closing date
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteMarksPattern", "Master"))',
                data: { "markspatternid": markspatternid },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);

                        var tbl = $('#markspattern_grid');
                        var rows = $('tr', tbl);
                        rowindex++;
                        var row = rows.eq(rowindex);
                        row.remove();
                        //$('#Save').text("");
                        //$('#Save').append('<i class="fa fa-floppy-o"></i> Save');
                        $('#Update').hide();
                        $('#Save').show();
                        $('.create_marks_pattern_div').css('display', 'block');
                        $('#GradePatternId').val($("#GradePatternId option:first").val()).trigger('change');
                        $('#MaxMarks').val("");
                        $("#PassMarks").val("");
                        $('#IAMaxMarks').val("");
                        $("#IAPassMarks").val("");
                        $('#MarksPatternId').val('');
                        $('#rowindex').val("");
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        } else
            $('#ks_loader').hide();
    });

</script>

