﻿@model ViewModel.ViewModel.Master.ManagePeriod
@{
    ViewBag.Title = "Period";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Manage Period</h1>
        </div>
        @if (Model.IsAuthToAdd)
        {
            <div class="col-md-6 text-right" style="margin-bottom: 5px;">
                <button type="button" name="save" class="btn btn-default" id="addnew-period">
                    Add New
                </button>
            </div>
        }
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Period", "Master", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_periodCreateOrUpdate", Model)
        }
    </div>
</div>
