﻿@model ViewModel.ViewModel.Staff.ManageClassIncharge

@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;

    string prefix = Convert.ToString(ViewData["IdPreFix"]);
}

@Html.Hidden("IsActiveFilterClicked_" + prefix)
@Html.HiddenFor(p => p.ClassTeacherId, new { @Id = "ClassTeacherId_" + prefix })
@Html.HiddenFor(p => p.ClassIdh, new { @Id = "ClassIdh_" + prefix })
@{
    string addFilterShow = Convert.ToString(ViewData["ShowPopUpAdFilters"]);

    string FilterDiv = "div_filter_ClassIncharge_" + prefix;
    string AddDiv = "div_add_classIncharge_" + prefix;
    string btnFilterActive = "filter_Active_" + prefix;
    string btnFilterIncharge = "filter_Incharge_" + prefix;
    string CancelFilterInchrge = "cancelfilter_Incharge_" + prefix;
    string DrpClass = "classDropdown_" + prefix;
    string ClassID = "ClassId_" + prefix;
    string CLasslblDiv = "classLabelDiv_" + prefix;
    string classLbl = "classssLabel_" + prefix;
    string TeacherId = "TeacherId_" + prefix;
    string EffectiveDate = "EffectiveDate_" + prefix;
    string EndDate = "EndDate_" + prefix;
    string btnAddIncharge = "addnew_classIncharge_" + prefix;
    string btnCancelIncharge = "cancel_classIncharge_" + prefix;
    string GirdIncharge = "classTeacher_grid_" + prefix;

    string AdditionalDataGird = "additionalData_" + prefix;
    string classInchargegrid = "classIncharge_grid_" + prefix;

}

@{
    if (addFilterShow == "true")
    {
        <style>
            .add_classIncharge {
                display: block;
            }
        </style>
    }
    else
    {
        <style>
            .add_classIncharge {
                display: none;
            }
        </style>
    }

    if (prefix == "StandardWise")
    {
        <style>
            #classTeacher_grid_StandardWise {
                display: none;
            }
        </style>

    }
    else
    {
        <style>
            #classTeacher_grid_StandardWise {
                display: block;
            }

            #classLabelDiv_ClassWise {
                display: none;
            }
        </style>
    }
}

<div id='@classInchargegrid'>
    <div class="row top-space-10" style="display: none" id='@FilterDiv'>
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Class</label>
                @Html.DropDownList("ClassListForFilter_" + prefix, Model.ClassListForFilter, new
                   {
                       @class = "form-control",
                       @style = "width:150px"
                   })
            </div>
            <div class="col-md-2">
                <label>Teacher</label>
                @Html.DropDownList("TeacherListForFilter_" + prefix, Model.TeacherListForFilter, new
                   {
                       @class = "form-control drop-down",
                       @style = "width:150px"
                   })
            </div>
            <div class="col-md-2">
                <label>Effective Date</label>
                @Html.TextBox("effDate_" + prefix, Model.EffectiveDate, new { @class = "" })
            </div>
            <div class="col-md-2">
                <label>End Date</label>
                @Html.TextBox("endDate_" + prefix, Model.EndDate, new { @class = "" })
            </div>
            <div class="col-md-2 top-space-20">
                <label></label>
                <button type="button" class="btn btn-default" id='@btnFilterActive'>
                    Only Active
                </button>
            </div>
            <div class="col-md-1">
                <label></label>
                <button type="button" name="save" class="btn btn-success" id='@btnFilterIncharge'>
                    <i class="fa fa-search"></i>
                    Filter
                </button>
            </div>
            <div class="col-md-1">
                <label></label>
                <button type="button" name="cancel" class="btn btn-danger" id='@CancelFilterInchrge'>
                    <i class="fa fa-ban"></i>
                    Reset
                </button>
            </div>
        </div>
    </div>

    <div class="row top-space-10 add_classIncharge" id='@AddDiv'>
        <div class="col-md-12">
            <div class="col-md-2" id='@DrpClass'>
                <label>Class</label>
                @Html.DropDownListFor(model => model.ClassId, Model.ClassList, new { @class = "form-control", @Id = ClassID })
            </div>
            <div class="col-md-2 top-space-20" id='@CLasslblDiv'>
                <label>Class:</label>
                <label id='@classLbl'></label>
            </div>
            <div class="col-md-3">
                <label>Teacher</label>
                @Html.DropDownListFor(model => model.TeacherId, Model.TeacherList,
                         new { @class = "form-control drop-down", @style = "width:167px !Important", @id = TeacherId })
            </div>
            <div class="col-md-2">
                <label>Effective Date</label>
                @Html.TextBoxFor(model => model.EffectiveDate, new { @class = "", @Id = EffectiveDate })
            </div>
            <div class="col-md-2">
                <label>End Date</label>
                @Html.TextBoxFor(model => model.EndDate, new { @class = "", @Id = EndDate })
            </div>
            <div class="col-md-3" style="margin-top: 20px">
                <button type="button" name="save" class="btn btn-success" id='@btnAddIncharge'>
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
                <button type="button" name="cancel" class="btn btn-danger" id='@btnCancelIncharge'>
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <div class="row top-space-10">
        <div class="col-md-12">
            <div id='@GirdIncharge'></div>
            <script>
                $(document).ready(function () {
                    $("#classTeacher_grid_@prefix").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("GetClassTeachers", "Staff"))",
                                    type: "POST",
                                    dataType: "json",
                                    contentType: "application/json",
                                    data:AdditionalDataGird
                                },
                                parameterMap: function(data) {
                                    return JSON.stringify(data);
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        dataBound: onDataBound,
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        scrollable: false,
                        sortable: true,
                        columns: [{
                            field: "ClassTeacherId",
                            hidden: true
                        },{
                            field: "ClassId",
                            hidden: true
                        },{
                            field: "TeacherId",
                            hidden: true
                        },{
                            field: "Class",
                            title: "Class",
                            sortable: true
                        },{
                            field: "Teacher",
                            title: "Teacher",
                            sortable: true
                        },{
                            field: "EffectiveDate",
                            title: "EffectiveDate",
                            template: "#= kendo.toString(kendo.parseDate(EffectiveDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                            sortable: true
                        },{
                            field: "EndDate",
                            title: "EndDate",
                            sortable: true,
                            template: "#if(EndDate != null){##= kendo.toString(kendo.parseDate(EndDate, 'yyyy-MM-dd'), 'dd/MM/yyyy')##}else{ #<span></span>#}#"
                        }, @if(Model.IsAuthToDelete || Model.IsAuthToEdit){
                <text>
            {
                field: "ClassTeacherId",
                title: "Action",
                template:
                       @if(Model.IsAuthToEdit){
                        <text>
                    '<a title="Edit" data-toggle="tooltip" data-placement="top" class="clsupdateds btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>'+'&nbsp;&nbsp;&nbsp;'
            </text>
                            }
              @if(Model.IsAuthToDelete){
                              <text>
            + '#if(IsInchargeDeletable){#<a title="Delete" data-toggle="tooltip" data-placement="top" class="clsdeleteds btn btn-xs btn-default"><i class="fa fa-trash"></i></a>#}#'
                </text>
                            }
            }
                </text>
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>
<script>
    var IsActive = false;
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    // function get date as string and return date
    function GetDateFromString(date) {
        if (date == "") {
            return null;
        }
        else {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
    }

    $(function () {
        $("#EffectiveDate_@prefix,#EndDate_@prefix").kendoDatePicker({
            format: "dd/MM/yyyy",
        });

        $("#effDate_@prefix").kendoDatePicker({
            format: "dd/MM/yyyy",
        });

        $("#endDate_@prefix").kendoDatePicker({
            format: "dd/MM/yyyy",
        });

        $("#EffectiveDate_@prefix,#EndDate_@prefix,#effDate_@prefix,#endDate_@prefix").attr("readonly", true);
    })

    @*$(function () {
        $("#classLabel").hide();

        $("#EffectiveDate,#EndDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: "@Model.CurrentSessionStartDate",
            max: "@Model.CurrentSessionEndDate"
        });

        $("#effDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            max: "@Model.CurrentSessionEndDate",
            value: "@Model.CurrentSessionStartDate"
        });

        $("#endDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            max: "@Model.CurrentSessionEndDate",
            value: "@Model.CurrentSessionEndDate"
        });

        $("#EffectiveDate,#EndDate,#effDate,#endDate").attr("readonly", true);
    })*@

    var ClassWiseInchargevalid = true;
    var ClassWiseInchargevalidationmessage = "";
    var ClassWiseInchargectrlfocus = "";
    function validClassWiseIncharge() {
        ClassWiseInchargevalid = true;
        ClassWiseInchargevalidationmessage = "";
        ClassWiseInchargectrlfocus = "";

        if ($('#classDropdown_ClassWise:visible').length == 1) {
            if ($('#ClassId_ClassWise').val() == "") {
                if (ClassWiseInchargectrlfocus == "")
                    ClassWiseInchargectrlfocus = "#ClassId";
                ClassWiseInchargevalidationmessage = ClassWiseInchargevalidationmessage + "Please select Class \n";
                ClassWiseInchargevalid = false;
            }
        }
        if ($('#TeacherId_ClassWise').val() == "") {
            if (ClassWiseInchargectrlfocus == "")
                ClassWiseInchargectrlfocus = "#TeacherId";
            ClassWiseInchargevalidationmessage = ClassWiseInchargevalidationmessage + "Please select Teacher \n";
            ClassWiseInchargevalid = false;
        }

        if ($('#EffectiveDate_ClassWise').val() == "") {
            if (ClassWiseInchargectrlfocus == "")
                ClassWiseInchargectrlfocus = "#EffectiveDate";
            ClassWiseInchargevalidationmessage = ClassWiseInchargevalidationmessage + "Please provide EffectiveDate \n";
            ClassWiseInchargevalid = false;
        }
        return ClassWiseInchargevalid;
    }

    $("#Add_NewClassIncharge").click(function () {
        @*$("#EffectiveDate_@prefix,#EndDate_@prefix").attr("readonly", false);
        $("#EffectiveDate_@prefix").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: new Date(),
            max: "@Model.CurrentSessionEndDate"
        });
        $("#EndDate_@prefix").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: "@Model.TomorrowsDate",
            max: "@Model.CurrentSessionEndDate",
        });
        $("#EffectiveDate_@prefix,#EndDate_@prefix").attr("readonly", true);*@
        $("#ClassListForFilter_@prefix").val($("#ClassListForFilter_@prefix option:first").val());
        $("#TeacherListForFilter_@prefix").val($("#TeacherListForFilter_@prefix option:first").val());
        @*$("#effDate_@prefix,#endDate_@prefix").attr('readonly', false);
        $("#effDate_@prefix").kendoDatePicker({
            format: "dd/MM/yyyy",
            max: "@Model.CurrentSessionEndDate",
            value: "@Model.CurrentSessionStartDate"
        });
        $("#endDate_@prefix").kendoDatePicker({
            format: "dd/MM/yyyy",
            max: "@Model.CurrentSessionEndDate",
            value: "@Model.CurrentSessionEndDate"
        });
        $("#effDate_@prefix,#endDate_@prefix").attr('readonly', true);*@
        $("#TeacherId_@prefix").empty();
        $("#TeacherId_@prefix").append("<option selected='selected' value=''>--Select--</opotion>")
        $("#EffectiveDate_@prefix").val('');
        $("#EndDate_@prefix").val('');
        $("#effDate_@prefix").val('');
        $("#endDate_@prefix").val('');
        $("#TeacherId_@prefix").val('');
        $("#ClassId_@prefix").val('');
        $("#classDropdown_@prefix").show();
        $("#classLabelDiv_@prefix").hide();
        $("#div_add_classIncharge_@prefix").show();
        $("#div_filter_ClassIncharge_@prefix").hide();

        var grid = $("#classTeacher_grid_@prefix").data("kendoGrid");
        grid.dataSource.page(1);
    })
    $("#cancel_classIncharge_ClassWise").click(function () {
        $("#TeacherId_@prefix").empty();
        $("#TeacherId_@prefix").append("<option selected='selected' value=''>--Select--</opotion>")

        //$("#TeacherId_@prefix").append("<option selected='selected' value=''>--Select--</option>")
        $("#EffectiveDate_@prefix").val('');
        $("#EndDate_@prefix").val('');
        $("#ClassId_@prefix").val($("#ClassId_@prefix option:first").val());
        $("#TeacherId_@prefix").val($("#TeacherId_@prefix option:first").val());
        $("#div_add_classIncharge_@prefix").hide();
        $("#Add_NewClassIncharge").show();
        var grid = $("#classTeacher_grid_@prefix").data("kendoGrid");
        grid.dataSource.page(1);
    })

    $(document).on("click", ".clsupdateds", function () {
        $("#EffectiveDate_@prefix,#EndDate_@prefix").attr("readonly", false);
        $("#EffectiveDate_@prefix").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: new Date(),
            max: "@Model.CurrentSessionEndDate"
        });
        $("#EndDate_@prefix").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: new Date(),
            max: "@Model.CurrentSessionEndDate",
        });
        $("#EffectiveDate_@prefix,#EndDate_@prefix").attr("readonly", true);
        $('#ks_loader').show();
        $('#div_add_classIncharge_@prefix').show();
        $('#div_filter_ClassIncharge_@prefix').hide();
        $("#ClassId_@prefix").val('');
        $("#classLabelDiv_ClassWise").show();
        var row = $(this).parent().parent();
        $("#Add_NewClassIncharge").show();
        $("#classDropdown_@prefix").hide();
        $("#classLabel_@prefix").show();
        $("#ClassTeacherId_@prefix").val(parseInt(row.find('td:nth-child(1)').text()));
        $("#classssLabel_@prefix").text(row.find('td:nth-child(4)').text());
        $("#ClassIdh_@prefix").val(row.find('td:nth-child(2)').text());
        $("#EffectiveDate_@prefix").val(row.find('td:nth-child(6)').text());
        $("#EndDate_@prefix").val(row.find('td:nth-child(7)').text());
        var classId = $("#ClassIdh_@prefix").val();
        if (classId > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetAssignedClassTeachers", "Staff"))',
                data: { "classId": classId },
                success: function (res) {
                    if (res.status == "success") {
                        $("#TeacherId_@prefix").empty();
                        if (res.data.length == 1) {
                            var i = 0;
                            $("#TeacherId_@prefix").append("<option value='" + res.data[i].Value + "' >" + res.data[i].Text + "</option>");
                            ToastMessage("No Teacher is assigned to this class.", "error", true, 5000);
                        }
                        else {
                            for (var i = 0; i < res.data.length; i++) {
                                $("#TeacherId_@prefix").append("<option value='" + res.data[i].Value + "' >" + res.data[i].Text + "</option>");
                                $("#TeacherId_@prefix").val(parseInt(row.find('td:nth-child(3)').text()));
                            }
                        }
                    }
                    else {
                        ToastMessage("Data not found", "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            })
        }
        ScrollToTop();
        $('#ks_loader').hide();
    });
    $("#TeacherId_@prefix").change(function () {
        if($(this).val() != "")
        {
            InchargeData = new Object();
            InchargeData.ClassTeacherId = $("#ClassTeacherId_@prefix").val();
            if ($("#ClassId_@prefix").val() == "") {
                InchargeData.ClassId = $("#ClassIdh_@prefix").val();
            }
            else {
                InchargeData.ClassId = $("#ClassId_@prefix").val();
                InchargeData.ClassTeacherId = "";
            }
            InchargeData.TeacherId = $("#TeacherId_@prefix").val();
            @*InchargeData.EffectiveDate = GetDateFromString($("#EffectiveDate_@prefix").val());
            InchargeData.EndDate = GetDateFromString($("#EndDate_@prefix").val());*@
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("CheckValidation", "Staff"))',
                data: { "InchargeData": InchargeData },
                success: function (res) {
                    if (res.status == "failed") {
                        $('#ks_loader').hide();
                        ToastMessage(res.data, "error", true, 5000);
                    }
                    else {
                        $('#ks_loader').hide();
                        @*if (res.date != "") {
                        $("#EffectiveDate_@prefix,#EndDate_@prefix").attr('readonly', false);
                        $("#EffectiveDate_@prefix,#EndDate_@prefix").kendoDatePicker({
                            format: "dd/MM/yyyy",
                            min: res.date,
                            max: "@Model.CurrentSessionEndDate",
                            value: GetDateFromString(res.date)
                        });
                        $("#EffectiveDate_@prefix,#EndDate_@prefix").attr('readonly', true);
                    }*@
                        var minDate = null,MaxDate = null;
                        if (res.startdate != "")
                            minDate = res.startdate;
                        if(res.enddate != "")
                            MaxDate = res.enddate;
                        $("#EffectiveDate_@prefix,#EndDate_@prefix").attr("readonly", false);
                        $("#EffectiveDate_@prefix,#EndDate_@prefix").kendoDatePicker({
                            format: "dd/MM/yyyy",
                            max: MaxDate,
                            min: minDate
                        });
                        $("#EffectiveDate_@prefix,#EndDate_@prefix").attr('readonly', true);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    })
    $("#ClassId_@prefix").change(function () {
        var classId = $(this).val();
        if (classId > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetAssignedClassTeachers", "Staff"))',
                data: { "classId": classId },
                success: function (res) {
                    if (res.status == "success") {
                        $("#TeacherId_@prefix").empty();
                        if (res.data.length == 1) {
                            var i = 0;
                            $("#TeacherId_@prefix").append("<option value='" + res.data[i].Value + "' >" + res.data[i].Text + "</option>");
                            ToastMessage("No Teacher is assigned to this class.", "error", true, 5000);
                        }
                        else {
                            for (var i = 0; i < res.data.length; i++) {
                                $("#TeacherId_@prefix").append("<option value='" + res.data[i].Value + "' >" + res.data[i].Text + "</option>");
                            }
                        }
                    }
                    else {
                        ToastMessage("Data not found", "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            })
        }
        else {
            return false;
        }
    })
    $("#Add_FilterClassIncharge").click(function () {
        $("#effDate_@prefix,#endDate_@prefix").val('');
        $("#IsActiveFilterClicked_@prefix").val("0")
        $('#div_filter_ClassIncharge_@prefix').show();
        $("#div_add_classIncharge_@prefix").hide();
    })
    $("#cancelfilter_Incharge_ClassWise").click(function () {
        $("#ClassListForFilter_@prefix").val("");
        $("#TeacherListForFilter_@prefix").val("").trigger("change");
        $("#effDate_@prefix,#endDate_@prefix").val('');
        $('#div_filter_ClassIncharge_@prefix').hide();
        $("#Add_NewClassIncharge_@prefix").show();
        $("#IsActiveFilterClicked_@prefix").val("0");
        IsActive =false;
        var grid = $("#classTeacher_grid_@prefix").data("kendoGrid");
        grid.dataSource.page(1);
    })
    $("#addnew_classIncharge_ClassWise").on('click',function (e) {
        e.preventDefault();
        InchargeData = new Object();
        InchargeData.ClassTeacherId = $("#ClassTeacherId_@prefix").val();
        if ($("#ClassId_@prefix").val() == "") {
            InchargeData.ClassId = $("#ClassIdh_@prefix").val();
        }
        else {
            InchargeData.ClassId = $("#ClassId_@prefix").val();
            InchargeData.ClassTeacherId = "";
        }
        InchargeData.TeacherId = $("#TeacherId_@prefix").val();
        InchargeData.EffectiveDate = GetDateFromString($("#EffectiveDate_@prefix").val());
        InchargeData.EndDate = GetDateFromString($("#EndDate_@prefix").val());
        var IsValid = validClassWiseIncharge();
        if (IsValid) {
            $('#ks_loader').show();
            if (InchargeData != "") {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CreateOrUpdateClassIncharge", "Staff"))',
                    data: { "InchargeData": InchargeData },
                    success: function (res) {
                        if (res.status == "success") {
                            ToastMessage(res.data, "success", true, 5000);
                            window.location.reload();
                            $('#ks_loader').hide();
                        }
                        else if (res.status == "failed" && res.error != undefined) {
                            $('#ks_loader').hide();
                            var validationaray = res.error.split('ε');
                            for (var i = 0; i < validationaray.length-1 ; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                        }
                        else {
                            $('#ks_loader').hide();
                            ToastMessage(res.data, "error", true, 5000);
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        }
        else {
            $('#ks_loader').hide();
            var validationaray = ClassWiseInchargevalidationmessage.split('\n');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $(ClassInchargectrlfocus).focus();
            return false;
        }
    })
    // Delete Incharge
    $(document).on("click", ".clsdeleteds", function () {
        if (confirm("Are you sure want to delete this Incharge") == true) {
            $('#ks_loader').show();
            var row = $(this).parent().parent();
            // InchargeId
            var InchargeId = row.find("td:nth-child(1)").text();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteIncharge", "Staff"))',
                data: { "Id": InchargeId },
                success: function (result) {
                    $('#ks_loader').hide();
                    if (result.status == "success") {
                        ToastMessage(result.data, "success", true, 5000);
                        window.location.reload();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

    function AdditionalDataGird() {
        //alert($("#IsActiveFilterClicked_@prefix").val());
        if ($("#IsActiveFilterClicked_@prefix").val() == "1"    ) {
            IsActive = true;
        }
        var data = {
            ClassId: $('#ClassListForFilter_@prefix').val(),
            TeacherId: $('#TeacherListForFilter_@prefix').val(),
            EffDt: $("#effDate_@prefix").val(),
            EndDt: $("#endDate_@prefix").val(),
            IsActive: IsActive
        };
        return data;
    }
    $("#filter_Incharge_@prefix").click(function () {
        var grid = $("#classTeacher_grid_@prefix").data("kendoGrid");
        grid.dataSource.page(1);
    })
    $("#filter_Active_ClassWise").click(function () {
        $("#effDate_@prefix,#endDate_@prefix").val('');
        //$("#IsActiveFilterClicked_ClassWise").val()=="1";
        IsActive =true;
        var grid = $("#classTeacher_grid_@prefix").data("kendoGrid");
        grid.dataSource.page(1);
    })
</script>
