﻿@model ViewModel.ViewModel.Staff.StaffModel
@Html.HiddenFor(model => model.ContactInfoModel.ContactInfoId)
@Html.Hidden("contactinfo-index")
@Html.HiddenFor(model => model.ContactsArray)
@Html.HiddenFor(model => model.StaffType)
@Html.HiddenFor(model => model.ContactInfoId)

<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Type</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.ContactInfoModel.ContactInfoTypeId, Model.AvailableContactInfoType, new { @class = "form-control" })
            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-8">
        <div class="form-group">
            <label class="col-md-2 control-label">Detail</label><!-- Form Label -->
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContactInfoModel.ContactInfo, new { @class = "form-control", @placeholder = "Info", @autocomplete = "off" })
            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Status</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.InfoStatusId, Model.AvailableStatus, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- //Form Coulmn -->
    <div class="col-md-5">
        <div class="form-group">
            <label class="col-md-3 control-label">Default</label><!-- Form Label -->
            <div class="col-md-3">
                @Html.CheckBox("IsDefault", 0)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 pull-right">
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label"></label><!-- Form Label -->
            </div>
            <div class="col-md-10">
                <button id="save-contactinfo" type="button" name="savecontactInfo" class="btn btn-default">
                    <i class="fa fa-floppy-o"></i>
                    Add
                </button>
                <button id="Reset-contactinfo" type="button" name="savecontactInfo" class="btn btn-default">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Form Row -->
@*Grid*@
<div class="row">
    <div class="col-md-12">
        <table id="ContactInfo-detail-grid" class="table table-bordered table-condensed table-striped table-responsive table-hover">
            <thead class="thead-default">
                <tr>
                    <th>Type</th>
                    <th>Info</th>
                    <th>Status</th>
                    <th>Default</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ContactInfoModellist)
                {
                    <tr>
                        <td hidden>@item.ContactInfoTypeId</td>
                        <td hidden>@item.ContactInfoId</td>
                        <td>@item.ContactInfoType</td>
                        <td>@item.ContactInfo</td>
                        <td>@item.status1</td>
                        <td hidden>@item.statusId</td>
                        <td>@item.IsDefault</td>
                        <td class='text-center'><a title="Edit" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' style='padding-right: 10px' class='btn btn-xs btn-default infoclsedit'><i class='fa fa-pencil'></i></a>&nbsp;<a title="Delete" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' class='btn btn-xs btn-default infoclsdelete'><i class='fa fa-trash'></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/common.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    // add contact info row into grid
    $('#save-contactinfo').click(function () {
        
        var StaffInfovalid = validateStaffInfo();
        if (StaffInfovalid) {
            AddContactInfoRowInGrid();
        }
        else {
            alert(StaffInfovalidationmessage);
            $(StaffInfoctrlfocus).focus();
        }
    });
    $("#Reset-contactinfo").click(function () {
        $("#save-contactinfo").html("<i class='fa fa-floppy-o'></i> Add");
        $("#ContactInfoModel_ContactInfoTypeId").val('');
        $("#ContactInfoModel_ContactInfo").val('');
        $("#InfoStatusId").prop("selectedIndex", "0");
        $('#contactinfo-index').val("");
    })
    $(document).on('change', "#ContactInfoModel_ContactInfoTypeId", function () {
        if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Landline") {
            $("#ContactInfoModel_ContactInfo").attr("placeholder", "xxxx-xxxxxx");
        }
        else if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Email") {
            $("#ContactInfoModel_ContactInfo").attr("placeholder", "example@domain.com");
        }
        else if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Mobile") {
            $("#ContactInfoModel_ContactInfo").attr("placeholder", "xxxxxxxxxx");
        }
        else {
            $("#ContactInfoModel_ContactInfo").attr("placeholder", "Info");
        }
    })
    // add Contact info row function
    function AddContactInfoRowInGrid() {
        if ($('#contactinfo-index').val() != "") {
            var rowindex = $('#contactinfo-index').val();
            $("#ContactInfo-detail-grid tbody tr:eq(" + rowindex + ")").remove();
            $('#contactinfo-index').val('');
        }
        else
            $('#contactinfo-index').val('');


        if ($("#save-contactinfo").text() == " Add") {
            $("#ContactInfoId").val('');
        }
        if ($("#save-contactinfo").text() == " Update") {
            $("#save-contactinfo").html("<i class='fa fa-floppy-o'></i> Add")
        }
        // default
        var IsDefault;
        if ($('#IsDefault').is(':checked') == true)
            IsDefault = "True";
        else
            IsDefault = "False";

        var tablerow = "<tr>"
            + "<td style='display: none'>" + $('#ContactInfoModel_ContactInfoTypeId').val() + "</td>" // 1
            + "<td style='display: none'>" + $("#ContactInfoId").val() + "</td>"// 2
            + "<td>" + $("#ContactInfoModel_ContactInfoTypeId option:selected").text() + "</td>" //3
            + "<td>" + $('#ContactInfoModel_ContactInfo').val() + "</td>" // 4
            + "<td>" + $("#InfoStatusId option:selected").text() + "</td>" // 5
            + "<td style='display: none'>" + $('#InfoStatusId').val() + "</td>" // 6
            + "<td>" + IsDefault + "</td>" // 7
            + "<td class='text-center'><a title='Edit' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' style='padding-right: 10px' class='btn btn-xs btn-default infoclsedit'><i class='fa fa-pencil'></i></a>&nbsp;<a title='Delete' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' class='btn btn-xs btn-default infoclsdelete'><i class='fa fa-trash'></i></a></td>"
            + "</tr>";

        $('#ContactInfo-detail-grid tbody').append(tablerow);
        $('[data-toggle="tooltip"]').tooltip();
        ClearStaffInfoFields();
    }

    // edit Contact info row
    $('#ContactInfo-detail-grid').delegate('.infoclsedit', 'click', function () {
        var row = $(this).parent().parent();
        $("#save-contactinfo").html("<i class='fa fa-floppy-o'></i> Update");
        $('#contactinfo-index').val($(this).parent().parent().index());

        $('#ContactInfoModel_ContactInfoTypeId').val(row.find("td:nth-child(1)").text()).trigger("change");
        $("#ContactInfoId").val(row.find("td:nth-child(2)").text())
        $('#InfoStatusId').val(row.find("td:nth-child(6)").text()).trigger("change");
        $('#ContactInfoModel_ContactInfo').val(row.find("td:nth-child(4)").text());
        var IsDefault = row.find("td:nth-child(7)").text();
        if (IsDefault == "True")
            $('#IsDefault').prop('checked', true);
        else
            $('#IsDefault').prop('checked', false);

    });

    // delete contact info row
    $('#ContactInfo-detail-grid').delegate('.infoclsdelete', 'click', function () {
        if (confirm("Are you sure to delete this record") == true) {
            var row = $(this).parent().parent();
            row.remove();
            $('#contactinfo-index').val('');
            var contactInfoId = parseInt(row.find('td:nth-child(2)').text());
            if (contactInfoId > 0) {
                $('#ks_loader').show();
                $.ajax({
                    url: '@Html.Raw(Url.Action("DeleteContact","Staff"))',
                    type: "POST",
                    data: { "ContactInfoId": contactInfoId },
                    success: function (res) {
                        if (res.status == "success") {
                            $('#ks_loader').hide();
                            ToastMessage(res.data, "success", true, 5000);
                        }
                        else {
                            $('#ks_loader').hide();
                            ToastMessage(res.data, "error", true, 5000);
                        }
                    },
                    error: function (xhr, status, p3) {
                        $('#ks_loader').hide();
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                    }
                })
            }
            ClearStaffInfoFields();
        }
    });
    // clear fields
    function ClearStaffInfoFields() {
        $('#ContactInfoModel_ContactInfoTypeId').val('').trigger("change");
        $('#ContactInfoModel_ContactInfo').val("");
        $('#InfoStatusId').val($("#InfoStatusId option:first").val()).trigger("change");
        $('#IsDefault').prop('checked', false);
    }

    // default check box click event
    $('#IsDefault').click(function () {
        if ($('#IsDefault').is(':checked') == true)
            $('#IsDefault').prop('checked', true);
        else
            $('#IsDefault').prop('checked', false);
    });
    // check contact info data valid or not
    var StaffInfovalid = true;
    var StaffInfovalidationmessage = "";
    var StaffInfoctrlfocus = "";
    function validateStaffInfo() {
        StaffInfovalid = true;
        StaffInfovalidationmessage = "";
        StaffInfoctrlfocus = "";

        if ($('#ContactInfoModel_ContactInfoTypeId').val() == "") {
            if (StaffInfoctrlfocus == "")
                StaffInfoctrlfocus = "#ContactInfoModel_ContactInfoTypeId";
            StaffInfovalidationmessage = StaffInfovalidationmessage + "Please select contact type \n";
            StaffInfovalid = false;
        }

        if ($('#ContactInfoModel_ContactInfo').val().trim() == "") {
            if (StaffInfoctrlfocus == "")
                StaffInfoctrlfocus = "#ContactInfoModel_ContactInfo";
            StaffInfovalidationmessage = StaffInfovalidationmessage + "Please enter Detail \n";
            StaffInfovalid = false;
        }

        if ($('#InfoStatusId').val() == "") {
            if (StaffInfoctrlfocus == "")
                StaffInfoctrlfocus = "#InfoStatusId";
            StaffInfovalidationmessage = StaffInfovalidationmessage + "Please select Status \n";
            StaffInfovalid = false;
        }

        var multipleInfo = 0;
        var type = $('#ContactInfoModel_ContactInfoTypeId option:selected').text();
        var info = $('#ContactInfoModel_ContactInfo').val();
        var count = 0;
        var RowNo = 0;
        $('#ContactInfo-detail-grid tbody tr').each(function () {
            var row = $(this);
            if ($('#IsDefault').is(':checked') == true) {
                if (row.find("td:nth-child(3)").text() == type) {
                    var IsDefault = row.find("td:nth-child(7)").text();
                    if ($('#contactinfo-index').val() == "") {
                        if (IsDefault == "True")
                            count = count + 1;
                    } else {
                        if (IsDefault == "True" && $('#contactinfo-index').val() != RowNo)
                            count = count + 1;
                    }
                }
            }
            if (row.find("td:nth-child(3)").text() == type) {
                var infovalue = row.find("td:nth-child(4)").text();
                if ($('#contactinfo-index').val() == "") {
                    if (infovalue == info)
                        multipleInfo = multipleInfo + 1;
                }
                else {
                    if (infovalue == info && $('#contactinfo-index').val() != RowNo)
                        multipleInfo = multipleInfo + 1;
                }

            }
            RowNo++;
        });
        if (count > 0) {
            if (StaffInfoctrlfocus == "")
                StaffInfoctrlfocus = "#IsDefault";
            StaffInfovalidationmessage = StaffInfovalidationmessage + "More than one infos of same contacttype can't be default. \n";
            StaffInfovalid = false;
        }
        if (multipleInfo > 0) {
            if (StaffInfoctrlfocus == "")
                StaffInfoctrlfocus = "#IsDefault";
            StaffInfovalidationmessage = StaffInfovalidationmessage + type + " Already Exists \n";
            StaffInfovalid = false;
        }
        // ceheck valid mobile no
        if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Mobile") {
            if ($('#ContactInfoModel_ContactInfo').val() != "") {
                var Info = $('#ContactInfoModel_ContactInfo').val();
                var result = validateMobile(Info);
                if (result == false) {
                    if (StaffInfoctrlfocus == "")
                        StaffInfoctrlfocus = "#ContactInfoModel_ContactInfo";
                    StaffInfovalidationmessage = StaffInfovalidationmessage + "Please enter valid mobile no \n";
                    StaffInfovalid = false;
                }
            }
        }

        // check valid landline no
        if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Landline") {
            if ($('#ContactInfoModel_ContactInfo').val() != "") {
                var Info = $('#ContactInfoModel_ContactInfo').val();
                var result = validateLandline(Info);
                if (result == false) {
                    if (StaffInfoctrlfocus == "")
                        StaffInfoctrlfocus = "#ContactInfoModel_ContactInfo";
                    StaffInfovalidationmessage = StaffInfovalidationmessage + "Please enter valid landline no \n";
                    StaffInfovalid = false;
                }
            }
        }

        // check valid Email
        if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Email") {
            if ($('#ContactInfoModel_ContactInfo').val() != "") {
                var Info = $('#ContactInfoModel_ContactInfo').val();
                var result = isValidEmailAddress(Info);
                if (result == false) {
                    if (StaffInfoctrlfocus == "")
                        StaffInfoctrlfocus = "#ContactInfoModel_ContactInfo";
                    StaffInfovalidationmessage = StaffInfovalidationmessage + "Please enter valid email \n";
                    StaffInfovalid = false;
                }
            }
        }
        return StaffInfovalid;
    }
    $(function () {
        $("#Save_Staff_contacts").on("click", function () {
            var isSetDefault = 0;
            var errormessage = "";
            $('#ContactInfoModel_ContactInfoTypeId option').each(function () {
                var gridhasrecord = 0;
                var type = $(this).text();
                //var type = $('#ContactInfoModel_ContactInfoTypeId').text();
                var typeval = $(this).val();
                isSetDefault = 0;
                $('#ContactInfo-detail-grid tbody tr').each(function () {
                    var row = $(this);
                    if (typeval > 0) {
                        if (row.find("td:nth-child(3)").text() == type) {
                            gridhasrecord++;
                            if (row.find("td:nth-child(7)").text() == "True") {
                                isSetDefault++;
                            }
                        }
                    }
                })
                if (typeval > 0 && gridhasrecord > 0) {
                    errormessage = errormessage + "At least one entry of " + type + " should be default\n";
                }
                if (isSetDefault > 0) {
                    errormessage = "";
                }
            })
            if (errormessage == "") {
                var ContactsArray = new Array();
                var ContactInfo = new Object();
                $('#ContactInfo-detail-grid tbody tr').each(function () {
                    var row = $(this);
                    ContactInfo = new Object();
                    ContactInfo.ContactInfoId = parseInt(row.find("td:nth-child(2)").text());
                    ContactInfo.ContactInfoType = row.find("td:nth-child(3)").text(); // ContactInfoTypeId Text
                    ContactInfo.ContactInfo = row.find("td:nth-child(4)").text();
                    ContactInfo.IsDefault = row.find("td:nth-child(7)").text();
                    if (row.find("td:nth-child(5)").text() == "Active") {
                        ContactInfo.Status = 1;
                    }
                    else {
                        ContactInfo.Status = 0;
                    }
                    if (row.find("td:nth-child(7)").text() == "True") {
                        ContactInfo.IsDefault = 1;
                    }
                    else {
                        ContactInfo.IsDefault = 0;
                    }
                    ContactsArray.push(ContactInfo);
                });
                $("#ContactsArray").val(JSON.stringify(ContactsArray));
            }
            else {
                alert(errormessage);
                return false;
            }
        })
    })
</script>
