﻿@model ViewModel.ViewModel.Staff.StaffModel

@if (Model.EncStaffId != null)
{
    <div class="student_profile">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profile-left" style="max-width:100%!important">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profile-img">
                <div class="img-thumbal"><img class="img-responsive" style="width:125px;height: 125px;" src="@Model.StaffImagepath" /></div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 student-detail-list">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>@Model.FirstName @Model.LastName</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    @if (Model.Empcode != null)
                    {
                        <p>Emp Code: @Model.Empcode</p>
                    }
                    @if (Model.ContactInfoModel.ContactToShow != null)
                    {
                        <p>Mobile Number: @Model.ContactInfoModel.ContactToShow</p>
                    }
                    @if (Model.Email != null && Model.Email != "")
                    {
                        <p>Email: @Model.Email</p>
                    }
                    @if (Model.DepartmentId != null)
                    {
                        <p>Department: @Model.DepartmentsList.Where(p => p.Value == Model.DepartmentId.ToString()).First().Text</p>
                    }
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                    @if (Model.StaffTypeToShow != null)
                    {
                        <p>Staff Type: @Model.StaffTypeToShow</p>
                    }
                    @if (Model.IsActive != null)
                    {
                        if (Model.IsActive)
                        {
                            <p>Current Status: Active</p>
                        }
                        else
                        {
                            <p>Current Status: InActive</p>
                        }
                    }
                    @if (Model.DesignationId != null)
                    {
                        <p>Designation: @Model.DesignationsList.Where(p => p.Value == Model.DesignationId.ToString()).First().Text</p>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="modal-popup" id="DocumentViewPopUp" hidden>
    <div class="modal-popup-body custom-modal-popup" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Document</h4>
            </div>
            <div class="modal-body documentBody" style="height:500px">
                <img id="documentImg" style="display:none;width:90%;height:90%;" src="" />
                <label id="lbldocumentName" style="display:none"></label>
                <object id="documentpdf" data="" type="application/pdf" style="width:100%;height:100%;display:none"></object>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-success" href="" id="download_document" download="">
                    Download
                </a>
                <button type="button" class="btn btn-default " id="close_documentView">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("ManageStaff", "Staff", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EncStaffId)
    @Html.HiddenFor(model => model.StaffImageId)
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Employee Information</legend>
                @Html.Partial("_EmployeeInfo", Model)
                <button type="submit" name="save" id="save_staffinfo" class="btn btn-default btn-xs pull-right">
                    <i class="fa fa-floppy-o"></i>
                    Save & Continue
                </button>
            </fieldset>
        </div>
    </div>
}
@if (Model.EncStaffId != null)
{
    using (Html.BeginForm("Address", "Staff", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EncStaffId)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.LastName)
        @Html.HiddenFor(model => model.StaffTypeId)
        <fieldset>
            <legend>Employee Address</legend>
            @Html.Partial("_address", Model.AddressModel, new ViewDataDictionary(ViewData) { { "Column", 1 }, { "Prefix", "Staff" } })
        </fieldset>
    }
}
@*@if (Model.AddressModel.AddressModelList.Count > 0)
    {*@
@using (Html.BeginForm("Contacts", "Staff", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EncStaffId)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.StaffTypeId)

    <fieldset>
        <legend>Contacts</legend>
        @Html.Partial("_ContactInfo", Model, new ViewDataDictionary(ViewData))

        <button type="submit" name="save_contact" id="Save_Staff_contacts" class="btn btn-default btn-xs pull-right">
            <i class="fa fa-floppy-o"></i>
            Save & Continue
        </button>
    </fieldset>
}
@*//}*@
@*@if (Model.ContactInfoModellist.Count > 0)
    {*@
@using (Html.BeginForm("StaffQualification", "Staff", FormMethod.Post, new { @class = "form-horizontal ks-custom-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EncStaffId)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.StaffTypeId)

    <fieldset>
        <legend>Qualification</legend>
        @Html.Partial("_StaffQualification", Model, new ViewDataDictionary(ViewData))

        @*<button type="submit" name="save_contact" id="Save_Staff_Qualifications" class="btn btn-default btn-xs pull-right">
                <i class="fa fa-floppy-o"></i>
                Save & Continue
            </button>*@
    </fieldset>
}
@*//}*@
@*@if (Model.StaffQualificationList.Count > 0)
    {*@
@using (Html.BeginForm("StaffExperience", "Staff", FormMethod.Post, new { @class = "form-horizontal ks-custom-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EncStaffId)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.StaffTypeId)

    <fieldset>
        <legend>Experience</legend>
        @Html.Partial("_StaffExperience", Model, new ViewDataDictionary(ViewData))

        @*<button type="submit" name="save_contact" id="Save_Staff_Qualifications" class="btn btn-default btn-xs pull-right">
                <i class="fa fa-floppy-o"></i>
                Save & Continue
            </button>*@
    </fieldset>
}
@*}*@
@*@if (Model.StaffExperienceList.Count > 0)
    {*@
@using (Html.BeginForm("Documents", "Staff", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EncStaffId)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.StaffTypeId)

    <fieldset>
        <legend>Documents</legend>
        @Html.Partial("_Documents", Model, new ViewDataDictionary(ViewData))
        <script>
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.openimage > img').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);

                }
            }

            $("input[name='DocumentFile']").change(function () {
                readURL(this);
            });
        </script>
        <button type="submit" name="save" id="Save_Staff_Documents" class="btn btn-default btn-xs pull-right">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>
    </fieldset>
}
@*}*@
@using (Html.BeginForm("StaffBankDetails", "Staff", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EncStaffId)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.StaffTypeId)

<fieldset>
    <legend>Staff Bank Details</legend>
    @Html.Partial("_StaffBankDetails", Model, new ViewDataDictionary(ViewData))

</fieldset>
}

<script>
    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $(".viewDocument").click(function () {
        $("#documentpdf").hide();
        $("#documentImg").hide();
        $("#lbldocumentName").hide();
        $("#lbldocumentName").html("");
        $("#download_document").attr("download", "");
        $("#lbldocumentName").hide();
        var image = $(this).attr("data-QualificationImage");
        var DocumentType = $(this).attr("data-documentType");
        var DocumentName = $(this).attr("data-dcname");
        var title = $(this).attr("data-title").trim();
        $("#download_document").attr("href", "");

        $("#documentImg").attr("src", "");
        if (image != null && image != "") {
            $("#download_document").attr("href", image);
            if (DocumentType == 'jpg' || DocumentType == 'png' || DocumentType == 'jpeg') {
                $("#documentImg").attr("src", image);
                $("#download_document").attr("download", title);
                $("#documentImg").show();
                $("#DocumentViewPopUp").show();

            } else if (DocumentType == 'pdf') {
                $("#documentpdf").attr("data", image);
                $("#download_document").attr("download", title);
                $("#documentpdf").show();
                $("#DocumentViewPopUp").show();

            }
            else {
                $("#lbldocumentName").html(DocumentName);
                $("#lbldocumentName").show();
                $("#DocumentViewPopUp").show();
            }
        }
    })
    //$("#download_document").click(function () {
    //         var image = $(this).attr("href");
    //                var a = document.createElement('a');
    //                a.href = image;
    //                a.download = image;
    //                document.body.appendChild(a);
    //                a.click();
    //                document.body.removeChild(a);
    //})

    $("#close_documentView").click(function () {
        $("#DocumentViewPopUp").hide();
        $("#documentImg").hide();
        $("#documentpdf").hide();
        $("#documentpdf").attr("data", "");
        $("#lbldocumentName").html("");
        $("#lbldocumentName").hide();
        $("#download_document").attr("href", "");
        $("#download_document").attr("download", "");
        $("#documentImg").attr("src", "");
    })
   
    
</script>