﻿@model ViewModel.ViewModel.Staff.StaffModel

@Html.HiddenFor(model => model.DocumentArray)

<div class="modal-popup" id="Img_div" hidden>
    <div class="modal-popup-body autostyles" style="">
        <div class="modal-content">
            <div class="row modal-body" style="padding:0px;margin:0px;text-align:center;">
                <img id="uploadResult" src="" style="visibility:hidden;padding: 20px 0px 0 0;width: 74%;" />
                <div style="text-align: center;padding-top: 10px;padding-bottom: 10px;">
                    <button type="button" name="save" class="btn btn-success downloadImage" id="close_div">
                        Download
                    </button>
                    <button type="button" name="save" class="btn btn-danger closeimagediv " id="close_div">
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="document-Parent-div-row">
    @if (Model.AttachedDocumentModellist.Count > 0)
    {
        int rowcount = 1;
        @Html.DropDownList("AttachedDocumentModel_AttachDocumentTypeId", Model.AttachedDocumentModel.AvailableDocumentType, new { @class = "form-control hidden", @style = "width: 100%" })
        foreach (var doc in Model.AttachedDocumentModellist)
        {
            string doctypeattr = "", description = "";
            doctypeattr = "AttachedDocumentModel_AttachDocumentTypeId" + rowcount;
            description = "AttachedDocumentModel_Description" + rowcount;
            <div class="row">
                <input type="hidden" class="clsdocnumber" value="@rowcount">
                <input type="hidden" class="clsdocId" value="@doc.AttachDocumentId">
                @if ((bool)doc.IsMultipleAllowed)
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Document Type</label><!-- Form Label -->
                            <div class="col-md-8">
                                @Html.DropDownList(doctypeattr, Model.AttachedDocumentModel.AvailableDocumentType, new { @class = "form-control clsdoctype", @style = "width: 100%" })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @Html.Hidden("document", doc.AttachDocumentTypeId, new { @class = "clsdocumentType" })
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Document Type</label><!-- Form Label -->
                            <div class="col-md-8">
                                <label name="documentlabel" class="label-as-control">@doc.DocumentType</label>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Description</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextBox(description, null, new { @class = "form-control clsdesc" })
                        </div>
                    </div>
                </div>
                <!-- Form Coulmn -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            @{
                string[] imgary = doc.Image.Split('/');
                string filname = imgary[imgary.Length - 1];
                string docfileattr = "DocumentFile" + rowcount;
                string filenameattr = "document-imagename" + rowcount;
                <input type="file" name="DocumentFile" id="@docfileattr" class="form-control clsdoc" />
                                <span class="clsimg" hidden id="@filenameattr">@doc.Image</span>


                            }
                        </div>
                        <div class="col-md-2">
                            <a href="javascript:void" class="openimage">
                                <img width="40" height="40" src="@doc.Image" />
                            </a>

                        </div>
                        <div class="col-md-2">
                            @if (rowcount == 1)
                            {
                                <a href="javascript:void" class="btn btn-success btn-xs" title="Add new Document" data-toggle="tooltip" data-placement="top" id="add-new-document">
                                    <i class="fa fa-plus"></i>
                                </a>
                            }
                            @*else
                                    {
                                        <a href="javascript:void" class="btn btn-danger btn-xs removerow" title="Remove Document" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                }*@
                            <a href="javascript:void" title="Delete Document" data-toggle="tooltip" data-placement="top" class="delete-document btn btn-danger btn-xs">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Form Coulmn -->
            </div>
            <script>
                $('#@doctypeattr').val('@doc.AttachDocumentTypeId').trigger("change");
                $('#@description').val('@doc.Description');

                $('.openimage').click(function (e) {
                    $('#Img_div').show();
                    var image = $(this).find('img').attr('src');
                    $('#uploadResult').css('visibility', 'visible')
                    $('#uploadResult').attr('src', image);
                });
                $('.closeimagediv').click(function () {
                    $('#Img_div').hide();
                })
                $('.downloadImage').click(function () {
                    var image = '@doc.Image';
                    var a = document.createElement('a');
                    a.href = image;
                    a.download = image;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                })
            </script>
                            rowcount++;
        }
        <div id="document-child-div-rows">
        </div>
    }
    else
    {
            <!-- Form Row -->
        <div class="row">

            <input type="hidden" class="clsdocnumber" value="1">
            <input type="hidden" class="clsdocId" value="">
            <!-- Form Coulmn -->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Document Type</label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.AttachedDocumentModel.AttachDocumentTypeId, Model.AttachedDocumentModel.AvailableDocumentType, new { @class = "form-control clsdoctype", @Id = "AttachedDocumentModel_AttachDocumentTypeId1", @style = "width: 100%" })
                    </div>
                </div>
            </div>
            <!-- Form Coulmn -->
            <!-- Form Coulmn -->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Description</label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.AttachedDocumentModel.Description, new { @class = "form-control clsdesc", @Id = "AttachedDocumentModel_Description1" })
                    </div>
                </div>
            </div>
            <!-- Form Coulmn -->
            <!-- Form Coulmn -->
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="file" name="DocumentFile" class="form-control clsdoc" />
                        <span class="clsimg" hidden id="document-imagename1"></span>
                        <div id="PreviewPicture"></div>
                    </div>
                    <!-- Form Coulmn -->
                    <div class="col-md-2">
                        <a href="javascript:void" class="btn btn-success btn-xs" title="Add new Document" data-toggle="tooltip" data-placement="top" id="add-new-document">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Form Coulmn -->
        </div>
        <div id="document-child-div-rows">
        </div>
    }
</div>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    // add new row
    var counter = 1;
    @if (Model.AttachedDocumentModellist.Count > 0)
    {
        <text>
    counter = @Model.AttachedDocumentModellist.Count +0;
    </text>
    }

    $('#add-new-document').click(function () {
        var docfunvalid = DocumentValid(counter);
        if (docfunvalid) {
            counter = counter + 1;
            var rows = "<div class='row'>"
            + "<input type='hidden' class='clsdocnumber' value='" + counter + "'>"
            + "<input type='hidden' class='clsdocId' value=''>";
            var column = "<div class='col-md-4'><div class='form-group'>";
            var label = "<label class='col-md-4 control-label'>";
            // dropdown
            if ($('label[name="documentlabel"]').length > 0) {
                var $ddl = $("#AttachedDocumentModel_AttachDocumentTypeId  > option").clone();
            }
            else {
                var $ddl = $("#AttachedDocumentModel_AttachDocumentTypeId1  > option").clone();
            }
            // dropdown document type
            var inputdiv1 = column + label + 'Document Type</label><div class="col-md-8"><select class="form-control select2-drop-down clsdoctype" id="AttachedDocumentModel_AttachDocumentTypeId' + counter + '" name="AttachedDocumentModel.AttachDocumentTypeId' + counter + '"></select></div></div></div>';
            // Description
            var inputdiv2 = column + label + 'Description</label><div class="col-md-8"><input class="form-control clsdesc" id="AttachedDocumentModel_Description' + counter + '" name="AttachedDocumentModel_Description' + counter + '" type="text" ></div></div></div>';
            // remove button
            var removebtn = '<div class="col-md-2"><a href="javascript:void" class="btn btn-danger btn-xs removerow" title="Remove Document" data-toggle="tooltip" data-placement="top"><i class="fa fa-minus"></i></a></div>';
            // document
            var inputdiv3 = column + '<div class="col-md-10"><input class="form-control clsdoc" id="DocumentFile'
                                    + counter + '" name="DocumentFile" type="file" ><span class="clsimg" hidden id="document-imagename'
                                    + counter + '"></span></div>' + removebtn + '</div></div><div id="PreviewPicture"></div>';

            var finaloutput = rows + inputdiv1 + inputdiv2 + inputdiv3 + "</div>";

            $("#document-child-div-rows").append(finaloutput);
            $('#AttachedDocumentModel_AttachDocumentTypeId' + counter + '').append($ddl);
            $(".select2-drop-down").select2();
        }
        else {
            alert(Docvalidationmessage);
            $(Docctrlfocus).focus();
        }
    });

    // validation function
    var Docvalid = true;
    var Docvalidationmessage = "";
    var Docctrlfocus = "";
    function DocumentValid(count) {
        Docvalid = true;
        Docvalidationmessage = "";
        Docctrlfocus = "";

        var prefix = "";
        if (count != 0)
            prefix = count;

        if ($('#AttachedDocumentModel_AttachDocumentTypeId' + prefix).val() == "") {
            if (Docctrlfocus == "")
                Docctrlfocus = "#AttachedDocumentModel_AttachDocumentTypeId" + prefix;
            Docvalidationmessage = Docvalidationmessage + "Please select Document type \n";
            Docvalid = false;
        }

        if ($('#document-imagename' + prefix).parent().length > 0) {
            if ($('#document-imagename' + prefix).text() == "") {
                if (Docctrlfocus == "")
                    Docctrlfocus = "#DocumentFile" + prefix;
                Docvalidationmessage = Docvalidationmessage + "Please upload document \n";
                Docvalid = false;
            }
        }

        return Docvalid;
    }

    //remove row
    //$('.removerow').on("click", function () {
    $('body').on('click', '.removerow', function () {
        var del = $(this).parent().parent().parent().parent();
        del.html('');
    });

    $('body').on('change', '.clsdoc', function (e) {
        var url = window.location.href;
        var uniqueno = url.substring(url.lastIndexOf('/') + 1);
        var uiquevalue = $(this).parent().parent().parent().parent().find('.clsdocnumber').val();
        if (uiquevalue == 0)
            uiquevalue = 1;
        var imagename = StaffFileUpload(e, uniqueno, uiquevalue, 0);
        if (imagename != "")
            $('#document-imagename' + uiquevalue).text(imagename);
        else {
            $('#DocumentFile' + uiquevalue).val('');
            $('#DocumentFile' + uiquevalue).val('');
            $('#document-imagename' + uiquevalue).text('');
        }
    });
    //save the uploaded file
    function StaffFileUpload(e, uniqueno, uniqueimage, IsPhoto) {
        var imagepath = "";
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                data.append("uniqueno", uniqueno);
                data.append("uniqueimage", uniqueimage);
                data.append("IsPhoto", IsPhoto);

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UploadStaffFile","Staff"))',
                    async: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                            imagepath = result.path;
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        return imagepath;
    }
    $(function () {
        $("#Save_Staff_Documents").click(function () {
            var AttachedDocumentModel = new Array();
            var AttachedDocumentModelObj = new Object();
            var IsValid = DocumentValid(counter);
            if (IsValid) {
                $('#document-Parent-div-row .row').each(function () {
                    var row = $(this);
                    AttachedDocumentModelObj = new Object();
                    if (row.find('.clsdoctype').val() == undefined || row.find('.clsdoctype').val() == "") {
                        AttachedDocumentModelObj.AttachDocumentTypeId = row.find(".clsdocumentType").val();
                    }
                    else {
                        AttachedDocumentModelObj.AttachDocumentTypeId = row.find('.clsdoctype').val();
                    }
                    AttachedDocumentModelObj.AttachDocumentId = row.find('.clsdocId').val();
                    AttachedDocumentModelObj.Image = row.find('.clsimg').text();
                    AttachedDocumentModelObj.Description = row.find('.clsdesc').val();

                    AttachedDocumentModel.push(AttachedDocumentModelObj);
                });

                $('#DocumentArray').val(JSON.stringify(AttachedDocumentModel));
            }
            else {
                var validationaray = Docvalidationmessage.split('\n');
                for (var i = 0; i < validationaray.length - 1; i++) {
                    ToastMessage(validationaray[i], "error", true, 5000);
                }
                $(Docctrlfocus).focus();
                return false;
            }
        })
    })
    $(".delete-document").click(function () {
        var docId = parseInt($(this).parent().parent().parent().parent().find('.clsdocId').val());
    
        if (confirm("Are you sure want to delete this document.") == true) {
                $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteDocument", "Staff"))',
                data: { "docId": docId },
                success: function (res) {
                    if (res.status == "success" && res.data != "") {
                        ToastMessage(res.data, "success", true, 5000);
                        $('#ks_loader').hide();
                        window.location.reload();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })
        }
    })
</script>
