﻿@model ViewModel.ViewModel.Staff.StaffModel

<style>
    #results {
        float: right;
        margin: 20px;
        padding: 20px;
    }
</style>

<div class="row">
    @if (Model.StaffType != null)
    {
        @Html.HiddenFor(model => model.StaffTypeId, new { @id = "hdnstafftypeik" })
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Staff Type<i class="fa fa-asterisk ks-required"></i></label>
                <div class="col-md-8 isStaffUser">

                    @if (Model.IsStaffDependency == false && Model.IsStaffUser == false)
                    {
                        @Html.DropDownListFor(model => model.StaffTypeId, Model.StaffTypeList, new { @class = "form-control", @style = "width: 100%" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.StaffTypeId, Model.StaffTypeList, new { @class = "form-control", @style = "width: 100%", @disabled = "disabled" })
                    }
                    @if (Model.IsStaffDependency == false && Model.IsStaffUser == true)
                    {
                        <div style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>
                    }
                    </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.StaffTypeId)
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Staff Type<i class="fa fa-asterisk ks-required"></i></label>
                <div class="col-md-8 isStaffUser">
                    @if (Model.IsStaffDependency == false && Model.IsStaffUser == false)
                    {
                        @Html.DropDownListFor(model => model.StaffTypeId, Model.StaffTypeList, new { @class = "form-control", @style = "width: 100%" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.StaffTypeId, Model.StaffTypeList, new { @class = "form-control", @style = "width: 100%", @disabled = "disabled" })
                    }
                    @if (Model.IsStaffDependency == false && Model.IsStaffUser == true)
                    {
                        <div style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>
                    }
                        @Html.HiddenFor(model => model.StaffTypeId)
                    </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.StaffTypeId)
                </div>
            </div>
        </div>
    }
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">First Name <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @autocomplete = "off", @maxlength = "30", @onpaste = "return false", @ondrop = "return false" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Last Name</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name", @autocomplete = "off", @maxlength = "30", @onpaste = "return false", @ondrop = "return false" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Employee Code<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @if (!(bool)TempData["EmpCodeEnable"])
            {
                @Html.HiddenFor(m => m.Employeecode)
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Employeecode, new { @class = "form-control", @placeholder = "Emp Code", @autocomplete = "off", @maxlength = "10", @disabled = "disabled" })
                </div>
            }
            else
            {
                <div class="col-md-8">
                    <div style="display: flex; align-items: center;">
                        <label style="float: left;width: 20%;margin: 0;" id="EmpCodePrefix">@Model.EmpCodePrefixWithSplitter</label>
                        @Html.TextBoxFor(model => model.Employeecode, new
                        {
                            @class = "form-control",
                            @placeholder = "Emp Code",
                            @autocomplete = "off",
                            @maxlength = "6",
                            @style = "width: 80%;float: left;"
                        })
                    </div>
                </div>
                @*<div class="col-md-8">
                </div>*@
            }
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.Employeecode)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Department<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.DepartmentId, Model.DepartmentsList, new { @class = "form-control" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Designation<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @*@Html.HiddenFor(model => model.DesignationId, new { @id = "hdnDesId" })*@
                @Html.DropDownListFor(model => model.DesignationId, Model.DesignationsList, new { @class = "form-control" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.DesignationId)
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        <div class="form-group">
            @if (TempData["IsAadharMendatory"] != null)
            {
                <label class="col-md-4 control-label">Aadhar No.<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            }
            else
            {
                <label class="col-md-4 control-label">Aadhar No.</label><!-- Form Label -->
            }
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.AadharCard, new { @class = "form-control", @placeholder = "12 Digit Aadhar Card ", @autocomplete = "off", @maxlength = "12" })
            </div><!-- Form Field -->				                                <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.AadharCard)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Gender<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.GenderId, Model.GenderList, new { @class = "form-control" })
            </div>
            <div class="error-message">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.GenderId)
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Photo</label><!-- Form Label -->
            <div class="col-md-8">
                <input type="file" class="form-control" name="StaffPhoto" id="Staff-Photo" />
                <button type='button' class='capturephoto btn btn-xs' dataid="Staff" 
                        style="margin-left: 162px"><i class='fa fa-camera'></i></button>
                @Html.HiddenFor(m => m.StaffImagepath)
            </div><!-- Form Field -->
        </div>
    </div>

</div>

<div class="row">
    <!-- //Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Staff Category<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.StaffCategoryId, Model.AvailableStaffCategories, new { @class = "form-control" })
            </div>
            <div class="error-message">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.StaffCategoryId)
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- //Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Date of Joining<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @*@if (Model.AlreadyInAttendace)
                {
                    @Html.HiddenFor(model => model.DateOfJoin)
                    @Html.TextBoxFor(model => model.DateOfJoin, new {@id= "doj",@class = "form-control", @disabled = "disabled" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.DateOfJoin, new { @class = "form-control" })
                }*@

                @if (Model.AlreadyInAttendace)
                {
                   @* @Html.HiddenFor(model => model.DateOfJoin, new { @id = "hdnDateOfJoin" })*@
                    @Html.TextBoxFor(model => model.DateOfJoin, new { @class = "form-control picker doj" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.DateOfJoin, new { @class = "form-control picker" })
                }
            </div>


            <div class="error-message">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.DateOfJoin)
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">BloodGroup</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.BloodGroupId, Model.AvailableBloodGroups, new { @class = "form-control" })
            </div>
            <div class="error-message">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.BloodGroupId)
            </div>
        </div>
    </div>



</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">DOB</label>
            <div class="col-md-8">
              @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control" })
            </div>
            <div class="error-message">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
        </div>
    </div>



    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Punch MachineId</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.PunchMcId, new
           {
               @class = "form-control",
               @maxLength = "9",
               @placeholder = "9 Digit Punch Machine ",
               @autocomplete = "off"
           })
            </div>
            <div class="error-message">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.PunchMcId)
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Mobile No</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", @placeholder = "Info", @autocomplete = "off",@maxlength="10" })
            </div>
            <div class="error-message">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.MobileNo)
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<div class="">
    <fieldset>
        <legend>Other Details</legend>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Pan No</label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.PanNo, new { @class = "form-control", @placeholder = "Pan No", @autocomplete = "off", @maxlength = "10" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Father Name</label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control", @placeholder = "Father Name", @autocomplete = "off", @maxlength = "30" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Father Mobile</label><!-- Form Label -->
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.FatherMobNo, new { @class = "form-control", @placeholder = "Father Mobile No", @autocomplete = "off", @maxlength = "10" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Service Type</label><!-- Form Label -->
                    <div class="col-md-8">
                        @if (!string.IsNullOrEmpty(Model.EncStaffId))
                        {
                            @Html.DropDownListFor(model => model.StaffServiceTypeId, Model.AvailableStaffServiceTypes, new { @class = "form-control", @disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.StaffServiceTypeId, Model.AvailableStaffServiceTypes, new { @class = "form-control" })
                        }
                    </div>
                </div>
            </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mother Name</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.MotherName, new { @class = "form-control", @placeholder = "Mother Name", @autocomplete = "off", @maxlength = "30" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mother Mobile</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.MotherMobNo, new { @class = "form-control", @placeholder = "Mother Mobile No", @autocomplete = "off", @maxlength = "10" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">IsMarried</label><!-- Form Label -->
                        <div class="col-md-8">
                            @*@Html.CheckBox("IsMarried", 0)*@
                            @Html.CheckBoxFor(model => model.IsMarried)
                        </div>
                    </div>
                </div>
                <div class="col-md-4 spouse_Div">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Spouse Name</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.SpouseName, new { @class = "form-control", @placeholder = "Spouse Name", @autocomplete = "off", @maxlength = "30" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 spouse_Div">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Spouse Mobile</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.SpouseMobNo, new { @class = "form-control", @placeholder = "Spouse Mobile", @autocomplete = "off", @maxlength = "10" })
                        </div>
                    </div>
                </div>
            </div>
</fieldset>
</div>
<div class="modal-popup" id="CaptureImage" hidden>
    <div class="modal-popup-body custom-modal-popup" style="margin-right: 585px;">
        <div class="modal-content" style="width: 740px;">
            <div class="modal-header">
                <h4 class="modal-title">Capture Image</h4>
            </div>
            <div class="row modal-body">
                <div style="margin-left:20px; width: 980px; text-align: center">
                    <div id="results" style="margin-right: 300px;margin-top: -19px;width: 320px;height: 240px"></div>
                    <div id="my_camera"></div>
                    <input type=button value="Capture" onclick="take_snapshot()" style="margin-top: 10px;margin-left: -13px;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_CaptureImagediv">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    @if (Model.IsMarried!=null &&Model.IsMarried==true)
    {
        <text>
    $("#IsMarried").prop("checked", true);
    $(".spouse_Div").show();
        </text>
    }
    else
    {
         <text>
    $("#IsMarried").prop("checked", false);
    $(".spouse_Div").hide();
        </text>
    }


    @if (Model.DateOfJoin == "" || Model.DateOfJoin == null)
    {
        <text>
        $(".picker").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date()
        });
        $(".picker").attr('readonly', true);
    </text>
    }
    else
    {
        if (Model.AlreadyInAttendace == true)
        {
        <text>
            var mxdate = '@Model.MaxDateDOJ';
            $(".picker").kendoDatePicker({
                format: "dd/MM/yyyy",
                max: mxdate,
         });
         $(".picker").attr('readonly', true);
    </text>
        }
        else
        {
            <text>

            $(".picker").kendoDatePicker({
                format: "dd/MM/yyyy",
            });
        $(".picker").attr('readonly', true);

    </text>
        }
    }
    //$("#DateOfJoin").attr('readonly', true);
    var maxdate = new Date();
    maxdate.setYear(maxdate.getFullYear() - 17);

    @if (Model.DateOfBirth == "" || Model.DateOfBirth == null)
    {
        <text>
    $("#DateOfBirth").kendoDatePicker({
        format: "dd/MM/yyyy",
        max: maxdate,
      //  value: new Date(),
    });
        </text>
    }
    else
    {
        <text>
    $("#DateOfBirth").kendoDatePicker({
        format: "dd/MM/yyyy",
        max: maxdate,
    });
        </text>
    }
    $("#DateOfBirth").attr('readonly', true);

    $('#StaffCategoryId').attr("Disabled", true);
    // check if stafftype teacher
    if ($('#StaffTypeId option:selected').text() == "Teaching" || $('#StaffTypeId option:selected').text() == "Teacher") {
        $('#StaffCategoryId').removeAttr("Disabled");
    }
    var stafftypeid1 = 0;
    if ($("#StaffTypeId").val() != '') {
        // $('#StaffTypeId').attr("Disabled", true);

    }
    else {
        $('#StaffTypeId').removeAttr("Disabled");
    }



    // check if edit modes
    if ('@Model.StaffCategoryId' > 0) {
        // check if stafftype teacher
        if ($('#StaffTypeId option:selected').text() == "Teaching" || $('#StaffTypeId option:selected').text() == "Teacher")
            $('#StaffCategoryId').removeAttr("Disabled");
    }
    function Getdesignations1() {
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("DesignationList", "Staff"))',
            async: false,
            data: { "StafftypeId": stafftypeid1 },
            success: function (result) {
                if (result.status == "success") {
                    $('#DesignationId').empty();
                    for (var i = 0; i < result.data.length; i++) {
                        var option = "";

                        if (result.data[i].Selected == true)
                            option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        else
                            option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                        $('#DesignationId').append(option);


                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
            }
        });
    }
    $('#StaffTypeId').on("change", function () {

        $('#staffcat-div').hide();
        if ($('#StaffTypeId option:selected').text() == "Teaching" || $('#StaffTypeId option:selected').text() == "Teacher") {
            $('#StaffCategoryId').removeAttr("Disabled");

        }
        else if ($('#StaffTypeId option:selected').text() == "Non-Teaching") {
            $('#StaffCategoryId').val("");
            $('#StaffCategoryId').attr("Disabled", true);
        }
        stafftypeid1 = $('#StaffTypeId').val();
        if (stafftypeid1 == "") {
            stafftypeid1 = 0;
        }
        $("#DepartmentId").val("");
        Getdesignations1();
    });
    @if (Model.IsStaffDependency == false && Model.IsStaffUser == true)
    {
        <text>

   $('.isStaffUser > div').click(function() {
        alert("Can't change staff type as User of this staff exists.");
        return false;
    });
    </text>
    }

    @*$("#statusCheckbox").on('click', function () {
        if (!$("#statusCheckbox").prop('checked') == true) {
            if ("@Model.StaffType") {
                if (confirm("Please Assign the periods or classes to some other staff Teacher which are assigned to this Teacher." + "\n" +
                            "OtherWise you can't Inactive this teacher.") == true) {
                    $("#statusCheckbox").prop('checked', false);
                }
                else {
                    $("#statusCheckbox").prop('checked', true);
                }
            }
        }
        else {
            $("#statusCheckbox").prop('checked', true);
        }
    })*@
    $('#Staff-Photo').on('change', function (e) {
        var uniqueno = 0;
        @if (Model.StaffId != null)
        {
            <text>uniqueno = '@Model.StaffId';</text>
        }
        var imagename = StaffProfileImageUpload(e, uniqueno, uniqueno, 1);
        $('#StaffImagepath').val(imagename);
    });
    //$('#AadharCard').keydown(function (e) {
    //    IsNumeric(e);
    //});

    $("#PunchMcId,#MobileNo,#FatherMobNo,#MotherMobNo,#SpouseMobNo").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });


    $("#FirstName,#LastName").keydown(function (e) {
        lettersOnly(e);
    })

    //save the uploaded file
    function StaffProfileImageUpload(e, uniqueno, uniqueimage, IsPhoto) {
        var imagepath = "";
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                data.append("uniqueno", uniqueno);
                data.append("uniqueimage", uniqueimage);
                data.append("IsPhoto", IsPhoto);

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UploadStaffProfileImage", "Staff"))',
                    async: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "success") {
                            alert(result.msg);
                            imagepath = result.path;
                        }
                        else {
                            alert(result.msg);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        alert(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        return imagepath;
    }


    //save the uploaded file
    function StaffFileUpload(e, uniqueno, uniqueimage, IsPhoto) {
        var imagepath = "";
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                data.append("uniqueno", uniqueno);
                data.append("uniqueimage", uniqueimage);
                data.append("IsPhoto", IsPhoto);

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UploadStaffFile", "Staff"))',
                    async: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "success") {
                            alert(result.msg);
                            imagepath = result.path;
                        }
                        else {
                            alert(result.msg);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        alert(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        return imagepath;
    }


    $(document).on("click", ".capturephoto", function () {
        $("#CaptureImage").show();
        phototype = $(this).attr('dataid');
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    })

    $(document).on("click", "#close_CaptureImagediv", function () {
        $("#CaptureImage").hide();
        $('#results').html('');
    })

    function take_snapshot() {
        Webcam.snap(function (data_uri) {
            document.getElementById('results').innerHTML =
                '<img id="show" src="' + data_uri + '"/>';
            ~
            Webcam.reset();

            var image = data_uri.replace('data:image/jpeg;base64,', '');

            var uniqueno = 0;

            @if (Model.StaffId != null)
            {
                <text>uniqueno = '@Model.StaffId';</text>
            }

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("Capture", "GatePass"))',
                data: { "image": image, "uniqueno": uniqueno, "type": "staff" },
                success: function (res) {
                    $.ajax({
                        type: 'POST',
                        url: ("@Url.Content("~/GatePass/Rebind")/"),
                        dataType: 'json',
                        success: function (data) {
                            $('#StaffImagepath').val(data);
                            alert("Photo Captured successfully!");
                        }
                    });
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });
        })
    }
    $("#FatherName,#MotherName,#SpouseName").keydown(function (e) {
        lettersOnly(e);
    })

     $("#Employeecode,#AadharCard").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
     });


    $("#IsMarried").change(function () {
        if ($(this).prop("checked") == true) {
            $(".spouse_Div").show();
        } else {
            $(".spouse_Div").hide();
        $("#SpouseMobNo").val("");
        $("#SpouseName").val("");
        }
    });
</script>
