﻿@model ViewModel.ViewModel.Staff.StaffModel
@{
    var prefix = "StaffExperience";
}
@Html.HiddenFor(m => m.StaffExperience.StaffExperienceId)
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Organsation</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffExperience.Organsation, new { @class = "form-control", @placeholder = "Organsation", @autocomplete = "off" })

            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Designation</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffExperience.Designation, new { @class = "form-control", @placeholder = "Designation", @autocomplete = "off" })
            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">City</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffExperience.City, new { @class = "form-control", @placeholder = "City", @autocomplete = "off" })
            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Joining Date</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffExperience.JoiningDate, new { @class = "form-control", @placeholder = "Joining Date", @autocomplete = "off" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- //Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Leaving Date</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffExperience.LeavingDate, new { @class = "form-control", @placeholder = "Leaving Date", @autocomplete = "off" })
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Document</label><!-- Form Label -->
            <div class="col-md-8">
                <input type="file" accept=".png,.jpg,.jpeg,.pdf" name="DocumentFileex" class="form-control staffExperience_doc" />
                <img width="40" height="40" id="previewExp"disabled="disabled" style="display:none" />
            </div>
        </div>
    </div>
   
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label"></label><!-- Form Label -->
            </div>
            <div class="col-md-10">
                <button id="save-StaffExperience" type="submit" name="saveStaffExperienceInfo" class="btn btn-default">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
                <button id="Reset-StaffExperience" type="button" name="" class="btn btn-danger">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-md-8 pull-right">
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <button id="save-contactinfo" type="button" name="savecontactInfo" class="btn btn-default">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                    <button id="Reset-contactinfo" type="button" name="savecontactInfo" class="btn btn-danger">
                        <i class="fa fa-ban"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>*@
<!-- Form Row -->
@*Grid*@
<div class="row">
    <div class="col-md-12">
        <table id="StaffExperience-detail-grid" class="table table-bordered table-condensed table-striped table-responsive table-hover">
            <thead class="thead-default">
                <tr>
                    <th>Organsation</th>
                    <th>Designation</th>
                    <th>City</th>
                    <th>JoiningDate</th>
                    <th>LeavingDate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StaffExperienceList)
                {
                    <tr>
                        <td class="staffEId" hidden>@item.StaffExperienceId</td>
                        <td class="clsExperienceImage" hidden>@item.ExperienceImage</td>
                        <td class="clsOrgansation"> @item.Organsation</td>
                        <td class="clsDesignation">@item.Designation</td>
                        <td class="clsCity">@item.City</td>
                        <td class="clsJoiningDate">@item.JoiningDate</td>
                        <td class="clsLeavingDate">@item.LeavingDate</td>

                        <td class='text-center'>
                            <a title="Edit" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' style='' class='btn btn-xs btn-default staffexpeienceedit'><i class='fa fa-pencil'></i></a>&nbsp;<a title="Delete" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' class='btn btn-xs btn-default delete-StaffExperience'><i class='fa fa-trash'></i></a>
                            @if (item.IsExperienceDocument == true)
                            {
                                <a title="View Doument" data-toggle="tooltip" data-placement="top" href='javascript:void(0)'data-title="@item.Organsation" data-documentType="@item.imgExDocumentType" data-QualificationImage="@item.ExperienceImage" style='' class='btn btn-xs btn-default viewDocument'><i class='fa fa-eye'></i></a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

            <script type="text/javascript">


                 $("#StaffExperience_JoiningDate,#StaffExperience_LeavingDate").kendoDatePicker({
                     format: "dd/MM/yyyy",
                      max: new Date()
//      start: "year",
//depth: "year",
//format: "MMMM yyyy",
//parseFormats: ["MMMM yyyy"]
    });




    //reset
    $('#Reset-StaffExperience').click(function () {

        $('#StaffExperience_StaffExperienceId').val('');
        $('#StaffExperience_Organsation').val('');
        $('#StaffExperience_Designation').val('');
        $('#StaffExperience_City').val('');
        $('#StaffExperience_JoiningDate').val('');
        $('#StaffExperience_LeavingDate').val('');
        $("#previewExp").attr("src", '');
         $("#previewExp").hide();
        $("#save-StaffExperience").html("<i class='fa fa-floppy-o'></i> Save");
    })

    //edit qualification
    $(document).on('click', '.staffexpeienceedit', function () {
        //$('#staffexpeienceedit').click(function () {

        $('#StaffExperience_StaffExperienceId').val($(this).parent().parent().find('.staffEId').text());
        $('#StaffExperience_Organsation').val($(this).parent().parent().find('.clsOrgansation').text());
        $('#StaffExperience_Designation').val($(this).parent().parent().find('.clsDesignation').text());
        $('#StaffExperience_City').val($(this).parent().parent().find('.clsCity').text());
        $('#StaffExperience_JoiningDate').val($(this).parent().parent().find('.clsJoiningDate').text());
        $('#StaffExperience_LeavingDate').val($(this).parent().parent().find('.clsLeavingDate').text());
        $("#previewExp").attr("src", $(this).parent().parent().find('.clsExperienceImage').text());
        $("#previewExp").show();
        $("#save-StaffExperience").html("<i class='fa fa-floppy-o'></i> Update");
        
    })





    // save address in textarea
    $('#save-StaffExperience').on("click", function (e) {
        var StaffExperiencevalid = ValidateStaffExperience();
        if (StaffExperiencevalid) {


        }
        else {
            alert(validationmessageStaffExperience);
            $(ctrlfocusStaffExperience).focus();
              return false;
        }
    });



    // validation function
    var validStaffExperience = true;
    var validationmessageStaffExperience = "";
    var ctrlfocusStaffExperience = "";
    function ValidateStaffExperience() {
        validStaffExperience = true;
        validationmessageStaffExperience = "";
        ctrlfocusStaffExperience = "";

        if ($('#StaffExperience_Designation').val() == "") {
            if (ctrlfocusStaffExperience == "")
                ctrlfocusStaffExperience = "StaffExperience_Designation";
            validationmessageStaffExperience = validationmessageStaffExperience + "Please enter Designation \n";
            validStaffExperience = false;
        }


        if ($('#StaffExperience_Organsation').val() == "") {
            if (ctrlfocusStaffExperience == "")
                ctrlfocusStaffExperience = "StaffExperience_Organsation";
            validationmessageStaffExperience = validationmessageStaffExperience + "Please enter Organsation \n";
            validStaffExperience = false;
        }
        
        if ($('#StaffExperience_JoiningDate').val() != "" && $('#StaffExperience_LeavingDate').val() != "") {
            if (GetDateFromString($('#StaffExperience_JoiningDate').val())  >GetDateFromString ($('#StaffExperience_LeavingDate').val()) ) {
                if (ctrlfocusStaffExperience == "")
                    ctrlfocusStaffExperience = "StaffExperience_JoiningDate";
                validationmessageStaffExperience = validationmessageStaffExperience + "Leaving Date can't be less than Joining Date \n";
                validStaffExperience = false;
            }
        }


        return validStaffExperience;
    }
function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }
    // claer fields
    function ClearAddressFields() {
        $('#AddressTypeId_@prefix').val('').trigger("change");
        $('#PlotNo_@prefix').val("");
        $('#Sector_Street_@prefix').val("");
        $('#Locality_@prefix').val("");
        $('#Landmark_@prefix').val("");
        $('#District_@prefix').val("");
        $('#Address_CityId_@prefix').val('').trigger("change");
        $('#Zip_@prefix').val("");
    }
     //delete staff Experience

       $(".delete-StaffExperience").click(function () {
           var docId = parseInt($(this).parent().parent().find('.staffEId').text());
      
           if (confirm("Are you sure want to delete this document.") == true) {
              $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteStaffExperience", "Staff"))',
                data: { "docId": docId },
                success: function (res) {
                    if (res.status == "success" && res.data != "") {
                        ToastMessage(res.data, "success", true, 5000);
                        $('#ks_loader').hide();
                        window.location.reload();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })
        }
    })

    //upload Image
    $('body').on('change', '.staffExperience_doc', function (e) {


        $("#previewExp").attr("src", URL.createObjectURL(this.files[0]));
        $("#previewExp").show();
        //var url = window.location.href;
        //var uniqueno = url.substring(url.lastIndexOf('/') + 1);

        //var imagename = StaffQualificationFileUpload(e, uniqueno, 0);
        //if (imagename != "")
        //    $('#StaffQualification_QualificationImage').text(imagename);
        //else {

        //    $('#StaffQualification_QualificationImage').text('');
        //}
    });


                $(document).ready(function () {


    @if (@TempData["Successmsge"] != null && @TempData["Successmsge"] != "") {
<text>
    ToastMessage('@TempData["Successmsge"]', "success", true, 5000);

    </text>
    }

     @if (@TempData["Errormsge"] != null && @TempData["Errormsge"] != "") {
<text>
    ToastMessage('@TempData["Errormsge"]', "error", true, 5000);

    </text>
    }  
    })

            </script>

