﻿@model ViewModel.ViewModel.Staff.StaffModel

@{
    var prefix = "StaffQualification";
}


@Html.HiddenFor(m => m.StaffQualification.StaffQualificationId)
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Exam Passed</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffQualification.ExamPassed, new { @class = "form-control", @placeholder = "Exam Passed", @autocomplete = "off", maxlength = "150" })

            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Board/University</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffQualification.BoardUniversity, new { @class = "form-control", @placeholder = "Board/University", @autocomplete = "off", maxlength = "200" })
            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Institution</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffQualification.InstitutionName, new { @class = "form-control", @placeholder = "Institution Name", @autocomplete = "off", maxlength = "200" })
            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Passing Year</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffQualification.PassingYear, new { @class = "form-control", @placeholder = "Passing Year", @autocomplete = "off", maxlength = "20" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- //Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Total Marks</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffQualification.TotalMarks, new { @class = "form-control numericonly", @placeholder = "Total Marks", @autocomplete = "off", maxlength = "5" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Obtained Marks</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffQualification.ObtainedMarks, new { @class = "form-control numericonly", @placeholder = "Obtained Marks", @autocomplete = "off", maxlength = "5" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Document</label><!-- Form Label -->
            <div class="col-md-8">
                <input type="file" accept=".png,.jpg,.jpeg,.pdf" name="DocumentFile" class="form-control staffqualification_doc" />


            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">

            <div class="col-md-8">


                <img width="40" height="40" id="preview" style="display:none"  disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label"></label><!-- Form Label -->
            </div>
            <div class="col-md-10">
                <button id="save-StaffQualification" type="submit" name="savecontactInfo" class="btn btn-default">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
                <button id="Reset-StaffQualification" type="button" name="savecontactInfo" class="btn btn-danger">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-md-8 pull-right">
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label"></label>
                </div>
                <div class="col-md-10">
                    <button id="save-contactinfo" type="button" name="savecontactInfo" class="btn btn-default">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                    <button id="Reset-contactinfo" type="button" name="savecontactInfo" class="btn btn-danger">
                        <i class="fa fa-ban"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>*@
<!-- Form Row -->
@*Grid*@
<div class="row">
    <div class="col-md-12">
        <table id="StaffQualification-detail-grid" class="table table-bordered table-condensed table-striped table-responsive table-hover">
            <thead class="thead-default">
                <tr>
                    <th>Exam Passed</th>
                    <th>Board University</th>
                    <th>Institution Name</th>
                    <th>Passing Year</th>
                    <th>Obtained Marks</th>
                    <th>Total Marks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StaffQualificationList)
                {
                    <tr>
                        <td class="staffQId" hidden>@item.StaffQualificationId</td>
                        <td class="clsQualificationImage" hidden>@item.QualificationImage</td>
                        <td class="clsExamPassed">@item.ExamPassed</td>
                        <td class="clsBoardUniversity">@item.BoardUniversity</td>
                        <td class="clsInstitutionName">@item.InstitutionName</td>
                        <td class="clsPassingYear">@item.PassingYear</td>
                        <td class="clsObtainedMarks">@item.ObtainedMarks</td>
                        <td class="clsTotalMarks">@item.TotalMarks</td>
                        <td class='text-center'>
                            <a title="Edit" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' style='' class='btn btn-xs btn-default infoclsStaffqualificationedit'><i class='fa fa-pencil'></i></a>&nbsp;<a title="Delete" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' class='btn btn-xs btn-default delete-StaffQualification'><i class='fa fa-trash'></i></a>
                            @if (item.IsQualificationDocument == true)
                            {
                                <a title="View Doument" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' data-title="@item.ExamPassed"doc" data-documentType="@item.imgDocumentType" data-QualificationImage="@item.QualificationImage" style='' class='btn btn-xs btn-default viewDocument'><i class='fa fa-eye'></i></a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>


<script type="text/javascript">
    
                 $("#StaffQualification_PassingYear").kendoDatePicker({
                     format: "dd/MM/yyyy",
                     max: new Date()
//      start: "year",
//depth: "year",
//format: "MMMM yyyy",
//parseFormats: ["MMMM yyyy"]
    });
    //reset
    $('#Reset-StaffQualification').click(function () {

        $('#StaffQualification_StaffQualificationId').val('');
        $('#StaffQualification_ExamPassed').val('');
        $('#StaffQualification_BoardUniversity').val('');
        $('#StaffQualification_InstitutionName').val('');
        $('#StaffQualification_PassingYear').val('');
        $('#StaffQualification_TotalMarks').val('');
        $('#StaffQualification_ObtainedMarks').val('');
        $("#preview").attr("src", '');
        $("#preview").hide();
        $("#save-StaffQualification").html("<i class='fa fa-floppy-o'></i> Save");
    })

    //edit qualification
    $(document).on('click','.infoclsStaffqualificationedit',function () {

        $('#StaffQualification_StaffQualificationId').val($(this).parent().parent().find('.staffQId').text());
        $('#StaffQualification_ExamPassed').val($(this).parent().parent().find('.clsExamPassed').text());
        $('#StaffQualification_BoardUniversity').val($(this).parent().parent().find('.clsBoardUniversity').text());
        $('#StaffQualification_InstitutionName').val($(this).parent().parent().find('.clsInstitutionName').text());
        $('#StaffQualification_PassingYear').val($(this).parent().parent().find('.clsPassingYear').text());
        $('#StaffQualification_TotalMarks').val($(this).parent().parent().find('.clsTotalMarks').text());
        $('#StaffQualification_ObtainedMarks').val($(this).parent().parent().find('.clsObtainedMarks').text());
        $("#preview").attr("src", $(this).parent().parent().find('.clsQualificationImage').text());
        $("#preview").show();
        $("#save-StaffQualification").html("<i class='fa fa-floppy-o'></i> Update");

    })




    // save
    $('#save-StaffQualification').on("click", function (e) {
        var StaffQualificationvalid = ValidateStaffQualification();
        if (StaffQualificationvalid) {


        }
        else {
            alert(validationmessageStaffQualification);
            $(ctrlfocusStaffQualification).focus();
            return false;
        }
    });



    // validation function
    var validStaffQualification = true;
    var validationmessageStaffQualification = "";
    var ctrlfocusStaffQualification = "";
    function ValidateStaffQualification() {
        validStaffQualification = true;
        validationmessageStaffQualification = "";
        ctrlfocusStaffQualification = "";

        if ($('#StaffQualification_ExamPassed').val() == "") {
            if (ctrlfocusStaffQualification == "")
                ctrlfocusStaffQualification = "StaffQualification_ExamPassed";
            validationmessageStaffQualification = validationmessageStaffQualification + "Please enter ExamPassed \n";
            validStaffQualification = false;
        }
        else {
            if ($('#StaffQualification_StaffQualificationId').val() > 0) { } else {
                $('#StaffQualification-detail-grid tbody').find('tr').each(function () {
                    if ($(this).find('.clsExamPassed').text().toLowerCase() == $('#StaffQualification_ExamPassed').val().toLowerCase()) {
                        if (ctrlfocusStaffQualification == "")
                            ctrlfocusStaffQualification = "StaffQualification_ExamPassed";
                        validationmessageStaffQualification = validationmessageStaffQualification + "Same Qualification Already Exists \n";
                        validStaffQualification = false;
                    }
                });
            }
        }

        @if (Model.IsPassingYearRequiredInStaffQualification) {
            <text> 
            if ($('#StaffQualification_PassingYear').val() == "") {
                    if (ctrlfocusStaffQualification == "")
                        ctrlfocusStaffQualification = "StaffQualification_PassingYear";
                    validationmessageStaffQualification = validationmessageStaffQualification + "Please enter PassingYear \n";
                    validStaffQualification = false;
                }
        </text>
            }

            if ($('#StaffQualification_TotalMarks').val() != "" && $('#StaffQualification_ObtainedMarks').val() != "")
        {
                if (parseInt($('#StaffQualification_TotalMarks').val()) < parseInt($('#StaffQualification_ObtainedMarks').val()))
                {
                    if (ctrlfocusStaffQualification == "")
                        ctrlfocusStaffQualification = "StaffQualification_TotalMarks";
                    validationmessageStaffQualification = validationmessageStaffQualification + "Obtained marks Can't be greater than Total Marks \n";
                    validStaffQualification = false;
                }
            }
            return validStaffQualification;
        }

    // claer fields
    function ClearAddressFields() {
        $('#AddressTypeId_@prefix').val('').trigger("change");
        $('#PlotNo_@prefix').val("");
        $('#Sector_Street_@prefix').val("");
        $('#Locality_@prefix').val("");
        $('#Landmark_@prefix').val("");
        $('#District_@prefix').val("");
        $('#Address_CityId_@prefix').val('').trigger("change");
        $('#Zip_@prefix').val("");
    }

    //upload Image
    $('body').on('change', '.staffqualification_doc', function (e) {


        $("#preview").attr("src", URL.createObjectURL(this.files[0]));
        $("#preview").show();
        //var url = window.location.href;
        //var uniqueno = url.substring(url.lastIndexOf('/') + 1);

        //var imagename = StaffQualificationFileUpload(e, uniqueno, 0);
        //if (imagename != "")
        //    $('#StaffQualification_QualificationImage').text(imagename);
        //else {

        //    $('#StaffQualification_QualificationImage').text('');
        //}
    });
    //save the uploaded file
    function StaffQualificationFileUpload(e, uniqueno, IsPhoto) {
        var imagepath = "";
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                data.append("uniqueno", uniqueno);

                data.append("IsPhoto", IsPhoto);

                $.ajax({
                    type: "POST",
                    url: '/Staff/ValidateStaffQualificationFile',
                    async: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                            imagepath = result.path;
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        return imagepath;
    }

    //delete staff qualification

       $(".delete-StaffQualification").click(function () {
           var docId = parseInt($(this).parent().parent().find('.staffQId').text());
       
           if (confirm("Are you sure want to delete this document.") == true) {
             $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteStaffQualification", "Staff"))',
                data: { "docId": docId },
                success: function (res) {
                    if (res.status == "success" && res.data != "") {
                        ToastMessage(res.data, "success", true, 5000);
                        $('#ks_loader').hide();
                        window.location.reload();
                    }
                    $('#ks_loader').hide();

                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })
        }
    })
    $(document).ready(function () {


    @if (@TempData["Successmsg"] != null && @TempData["Successmsg"] != "") {
<text>
    ToastMessage('@TempData["Successmsg"]', "success", true, 5000);

    </text>
    }

     @if (@TempData["Errormsg"] != null && @TempData["Errormsg"] != "") {
<text>
    ToastMessage('@TempData["Errormsg"]', "error", true, 5000);

    </text>
    }  
    })


</script>