﻿@model ViewModel.ViewModel.Staff.StaffModel

<style>
    #results {
        float: right;
        margin: 20px;
        padding: 20px;
    }
</style>
@Html.HiddenFor(model=>model.StaffBankDetails.StaffBankDetailId)
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Bank Name</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffBankDetails.BankName, new { @class = "form-control", @placeholder = "Bank Name", @autocomplete = "off", @maxlength = "50" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Account No</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffBankDetails.AccountNo, new { @class = "form-control", @placeholder = "Account No", @autocomplete = "off", @maxlength = "20" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Branch</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffBankDetails.Branch, new { @class = "form-control", @placeholder = "Branch", @autocomplete = "off", @maxlength = "50" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Branch Code</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffBankDetails.BranchCode, new { @class = "form-control", @placeholder = "Branch Code", @autocomplete = "off", @maxlength = "11" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">IFSC Code</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffBankDetails.IFSCCode, new { @class = "form-control", @placeholder = "IFSC Code", @autocomplete = "off", @maxlength = "11" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">MICR</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffBankDetails.MICR, new { @class = "form-control", @placeholder = "MICR", @autocomplete = "off", @maxlength = "9" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">From Date</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffBankDetails.BankDetailFromDate, new { @class = "form-control", @placeholder = "From Date" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">To Date</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StaffBankDetails.BankDetailToDate, new { @class = "form-control", @placeholder = "To Date" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <button id="Reset_Staff_BankDetails" type="button" name="" class="btn btn-danger" style="float:right">
            <i class="fa fa-ban"></i>
            Cancel
        </button>
        <button id="Save_Staff_BankDetails" type="submit" name="Save_Staff_BankDetails" class="btn btn-default" style="float:right">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="StaffBankDetails-detail-grid" class="table table-bordered table-condensed table-striped table-responsive table-hover">
            <thead class="thead-default">
                <tr>
                    <th>Bank Name</th>
                    <th>Account No</th>
                    <th>Branch</th>
                    <th>Branch Code</th>
                    <th>IFSC Code</th>
                    <th>MICR</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StaffBankDetailList)
                {
                <tr>
                    <td class="staffbankDetailId" hidden>@item.StaffBankDetailId</td>
                    <td class="clsBankName"> @item.BankName</td>
                    <td class="clsAcountNo">@item.AccountNo</td>
                    <td class="clsBranch">@item.Branch</td>
                    <td class="clsBranchcode">@item.BranchCode</td>
                    <td class="clsIfsccode">@item.IFSCCode</td>
                    <td class="clsMicr">@item.MICR</td>
                    <td class="clsbankfrmdate">@item.BankDetailFromDate</td>
                    <td class="clsbanktoDate">@item.BankDetailToDate</td>
                    <td class='text-center'>
                        <a title="Edit" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' style='' class='btn btn-xs btn-default staffBankDetailedit'><i class='fa fa-pencil'></i></a>&nbsp;<a title="Delete" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' data-id="@item.StaffBankDetailId" class='btn btn-xs btn-default delete-StaffBankDetail'><i class='fa fa-trash'></i></a>
                        @if (!string.IsNullOrEmpty(item.BankDetailFromDate) && string.IsNullOrEmpty(item.BankDetailToDate))
                        {
                            <a title="Close Date" data-toggle="tooltip" data-placement="top" href='javascript:void(0)' data-mindate="@item.BankDetailFromDate" data-id="@item.StaffBankDetailId" style='' class='btn btn-xs btn-default staffBankDetailClose'><i class='fa fa-ban'></i></a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="view_dialog_box viewbox_div1" id="ViewBox1" hidden>
    <div style="width:100%; height:25px; float:left;">
        <font style="float:left; padding:2px 10px;">
            <b>Close Date Of Bank Detail</b>
        </font>
        <a class="text-danger" href="javascript:void(0);" id="close_ViewBox1">
            <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
        </a>
    </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            <label class="control-label col-md-3">To Date</label>
            <div class="col-md-6">
                @Html.TextBox("BankDetailEndDate", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-12 top-space-10 text-danger" id="inner_validation_div" hidden>
            <div class="col-md-12">
                <label class="control-label col-md-3"></label>
                <span id="inner_validation_span"></span>
            </div>
        </div>
        <div class="col-md-12 top-space-10" style="margin-bottom: 15px;">
            <label class="col-md-3"></label>
            <div class="col-md-3">
               
                    <button type="button" id="save_ViewBox1" class="btn btn-success">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
              
        </div>
    </div>
</div>
</div>
<script>
        $("#StaffBankDetails_BankDetailFromDate").kendoDatePicker({
        format: "dd/MM/yyyy",
           // value: new Date()
        });
        $("#StaffBankDetails_BankDetailFromDate").attr('readonly', true);
  
        $("#StaffBankDetails_BankDetailToDate").kendoDatePicker({
        format: "dd/MM/yyyy",
         //   value: new Date()
        });
    $("#StaffBankDetails_BankDetailToDate").attr('readonly', true);

    $("#Reset_Staff_BankDetails").click(function () {
        $("#StaffBankDetails_BankName").val("");
        $("#StaffBankDetails_AccountNo").val("");
        $("#StaffBankDetails_Branch").val("");
        $("#StaffBankDetails_BranchCode").val("");
        $("#StaffBankDetails_IFSCCode").val("");
        $("#StaffBankDetails_MICR").val("");
        $("#StaffBankDetails_BankDetailFromDate").val("");
        $("#StaffBankDetails_BankDetailToDate").val("");
        $("#StaffBankDetails_StaffBankDetailId").val("");
        $("#Save_Staff_BankDetails").html("<i class='fa fa-floppy-o'></i> Save");
    });
    
    $(document).on("click", ".staffBankDetailedit", function () {
        var row = $(this).parent().parent();
        $("#StaffBankDetails_StaffBankDetailId").val(row.find(".staffbankDetailId").text());
        $("#StaffBankDetails_BankName").val(row.find(".clsBankName").text());
        $("#StaffBankDetails_AccountNo").val(row.find(".clsAcountNo").text());
        $("#StaffBankDetails_Branch").val(row.find(".clsBranch").text());
        $("#StaffBankDetails_BranchCode").val(row.find(".clsBranchcode").text());
        $("#StaffBankDetails_IFSCCode").val(row.find(".clsIfsccode").text());
        $("#StaffBankDetails_MICR").val(row.find(".clsMicr").text());
        $("#StaffBankDetails_BankDetailFromDate").val(row.find(".clsbankfrmdate").text());
        $("#StaffBankDetails_BankDetailToDate").val(row.find(".clsbanktoDate").text());

        $("#Save_Staff_BankDetails").html("<i class='fa fa-floppy-o'></i> Update");
    })


    $(document).on("click", ".delete-StaffBankDetail", function () {
        var StaffBankdetailId = $(this).attr("data-id");
        if (StaffBankdetailId != "" && StaffBankdetailId != null) {
            if (confirm("Are you sure want to delete this Bank Detail.") == true) {
              $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteStaffBankDetail", "Staff"))',
                data: { "StaffbankDteailId": StaffBankdetailId },
                success: function (res) {
                    if (res.status == "success" && res.data != "") {
                        ToastMessage(res.data, "success", true, 5000);
                        $('#ks_loader').hide();
                        window.location.reload();
                    }
                    else {
                           ToastMessage(res.data, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })
        }
        }
    });

    $("#Save_Staff_BankDetails").click(function () {

          var StaffBankdetailValid = ValidateStaffBankDetail();
        if (StaffBankdetailValid) {


        }
        else {
            alert(validationmessageStaffBankDetail);
            $(ctrlfocusStaffExperience).focus();
              return false;
        }
    });

     // close bus route
    var CloseDateBAnkDetailId = "";
    $(document).on("click",".staffBankDetailClose",function(){
        // get row
        CloseDateBAnkDetailId = $(this).attr("data-id");
    
        var MinDate=$(this).attr("data-mindate");
        // get min and max date
        var splitmindate = MinDate.split('/');
        var newMindate = new Date(splitmindate[1] + "/" + splitmindate[0] + "/" + splitmindate[2]);

            $("#BankDetailEndDate").removeAttr("readonly", false);
            $("#BankDetailEndDate").val("");
            $("#BankDetailEndDate").kendoDatePicker({
                format: "dd/MM/yyyy",
                min: newMindate,
            });
            $("#BankDetailEndDate").attr("readonly", true);
            opendialog();
    });

    $(document).on("click","#close_ViewBox1",function(){
        closedialog();
    });

    $(document).on("click","#save_ViewBox1",function(){
        $('#ks_loader').show();
        if ($('#BankDetailEndDate').val() != "" && CloseDateBAnkDetailId!="" && CloseDateBAnkDetailId!=null) {
            var EndDate = $('#BankDetailEndDate').val();
            // ajax call fro save row closing date
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("UpdateCloseDateOfStaffBankDetail", "Staff"))',
                data: { "StaffBankDetailId": CloseDateBAnkDetailId, "EndDate": EndDate },
                success: function (result) {
                    if (result.status == "success") {
                        closedialog();
                        window.location.reload();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            ToastMessage("End Date required", "error", true, 5000);
            $('#ks_loader').hide();
        }
    });

    function opendialog() {
        $(".viewbox_div1").hide(800);
        $("#ViewBox1").show(800);
    }

    function closedialog() {
        $('#rowindex').val('');
        $("#ViewBox1").hide(800);
    }

    // validation function
    var validStaffBankdetail = true;
    var validationmessageStaffBankDetail = "";
    var ctrlfocusStaffBankDetail = "";
    function ValidateStaffBankDetail() {
        validStaffBankdetail = true;
        validationmessageStaffBankDetail = "";
        ctrlfocusStaffBankDetail = "";
      
        if ($('#StaffBankDetails_BankName').val() == "") {
            if (ctrlfocusStaffBankDetail == "")
                ctrlfocusStaffBankDetail = "StaffBankDetails_BankName";
            validationmessageStaffBankDetail = validationmessageStaffBankDetail + "Please enter Bank Name \n";
            validStaffBankdetail = false;
        }

        if ($('#StaffBankDetails_AccountNo').val() == "") {
            if (ctrlfocusStaffBankDetail == "")
                ctrlfocusStaffBankDetail = "StaffBankDetails_AccountNo";
            validationmessageStaffBankDetail = validationmessageStaffBankDetail + "Please enter Account No \n";
            validStaffBankdetail = false;
        }

        if ($("#StaffBankDetails_BankDetailFromDate").val()!=""&& $('#StaffBankDetails_BankDetailToDate').val() != "") {
            var dtlfromdt = $('#StaffBankDetails_BankDetailFromDate').val();
            var dtltodt = $('#StaffBankDetails_BankDetailToDate').val();
            var splitfrmdt = dtlfromdt.split('/');
            var BankdetailFromDate = new Date(splitfrmdt[1] + "/" + splitfrmdt[0] + "/" + splitfrmdt[2]);

            var splittodt = dtltodt.split('/');
            var BankdetailToDate = new Date(splittodt[1] + "/" + splittodt[0] + "/" + splittodt[2]);

            if (BankdetailFromDate > BankdetailToDate) {
                   validationmessageStaffBankDetail = validationmessageStaffBankDetail + "ToDate must be Greater from FromDate \n";
            validStaffBankdetail = false;
            }
        }
     
        return validStaffBankdetail;
    }

     

    $("#StaffBankDetails_AccountNo,#StaffBankDetails_MICR").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>
