﻿@model ViewModel.ViewModel.Staff.ManageClassIncharge

@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;

    string prefix = Convert.ToString(ViewData["IdPreFix"]);
}
<style>
    div#classTeacherStandardWise_grid > table#tblClassTeaStandard > tbody > tr > td {
        border: 1px solid #ddd !important;
    }

    .ClassteacherEdit {
        cursor: pointer;
        color: #337ab7;
    }
</style>

@*update/add class incharge classes*@
<div class="modal-popup" id="updateAddClasses_div" hidden>
    <div class="modal-popup-body" style="margin-right: 40%;">
        <div class="modal-content" style="width: 140%;">
            <div class="modal-header">
                <button type="button" id="closeAddClasdiv" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myClsInchargeModalLabel"></h4>
            </div>
            <div class="row modal-body">
                @Html.Hidden("popupTeacherId")
                @Html.HiddenFor(p => p.ClassTeacherId, new { @Id = "popupClassTeacherId" })
                @Html.HiddenFor(p => p.ClassIdh, new { @Id = "popupClassIdh" })
                <div class="row top-space-10" id='popAdd_Div'>
                    <div class="col-md-12">
                        <div class="col-md-2" id='popDrpClass'>
                            <label>Class</label>
                            @Html.DropDownListFor(model => model.ClassId, Model.ClassList, new { @class = "form-control", @Id = "popClassid" })
                        </div>
                        <div class="col-md-2" id='popClassLbl_div'>
                            <label>Class:</label>
                            <label id="popClassLabel" style="font-weight: 100;"></label>
                        </div>
                        <div class="col-md-3">
                            <label>Teacher</label>
                            @Html.DropDownListFor(model => model.TeacherId, Model.TeacherList,
                         new { @class = "form-control drop-down", @style = "width:167px !Important", @id = "popTeacherId" })
                        </div>
                        <div class="col-md-2">
                            <label>Effective Date</label>
                            @Html.TextBoxFor(model => model.EffectiveDate, new { @class = "", @Id = "popEffectiveDate" })
                        </div>
                        <div class="col-md-2">
                            <label>End Date</label>
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "", @Id = "popEndDate" })
                        </div>
                        <div class="col-md-3" style="margin-top: 20px">
                            <button type="button" name="save" class="btn btn-success" id="popAddBtnIncharge">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                            <button type="button" name="cancel" class="btn btn-danger" id="popCancelBtnIncharge">
                                <i class="fa fa-ban"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div id="standradIncharge_grid">
    <div class="row top-space-10">
        <div class="col-md-12">
            <div id="classTeacherStandardWise_grid" style="overflow-x: auto;overflow-y: hidden;border: 1px solid lightgray;">
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            type: "GET",
                            url: '@Html.Raw(Url.Action("GetClassTeachersStandardWise", "Staff"))',
                            success: function (result) {
                                $('#ks_loader').show();

                                $("#classTeacherStandardWise_grid").html("");
                                if (result.gridHtml != "")
                                    $("#classTeacherStandardWise_grid").append(result.gridHtml);

                                $('#ks_loader').hide();
                            },
                            error: function (xhr, status) {
                                var err = "Error " + " " + status;
                                $('#ks_loader').hide();
                                ToastMessage(err, "error", true, 5000);
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>

</div>


<script>
    //$(document).ready(function () {
    //    $("#updateAddClasses_div .modal-body").find("#popEffectiveDate,#popEndDate").kendoDatePicker({
    //        format: "dd/MM/yyyy",
    //    });

    //    $("#updateAddClasses_div .modal-body").find("#popEffectiveDate,#popEndDate").attr("readonly", true);
    //});

    $(function () {
        $("#popEffectiveDate,#popEndDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: "@Model.CurrentSessionStartDate",
            max: "@Model.CurrentSessionEndDate"
        });

        $("#popEffectiveDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            max: "@Model.CurrentSessionEndDate",
            value: "@Model.CurrentSessionStartDate"
        });

        $("#popEndDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            max: "@Model.CurrentSessionEndDate",
            value: "@Model.CurrentSessionEndDate"
        });

        $("#popEffectiveDate,#popEndDate").attr("readonly", true);
    })

    //gird methods
    $(document).on("click", ".ClassteacherEdit", function () {
        $('#ks_loader').show();
        var TeacherID = $(this).attr("data-teacherId");

        $("#updateAddClasses_div").show();
        $("#ShowPopUpAddFilters").val("true");

        var classId = parseInt($(this).attr("data-ClassId"));
        $("#updateAddClasses_div .modal-body").find("#popDrpClass").hide();
        $("#updateAddClasses_div .modal-body").find("#popClassLbl_div").show();
        $("#updateAddClasses_div .modal-body").find("#popClassLabel").text($(this).attr("data-Class"));


        if (classId > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetAssignedClassTeachers", "Staff"))',
                data: { "classId": classId },
                success: function (res) {
                    if (res.status == "success") {
                        $("#updateAddClasses_div .modal-body").find("#popTeacherId").empty();
                        if (res.data.length == 1) {
                            var i = 0;
                            $("#updateAddClasses_div .modal-body").find("#popTeacherId").append("<option value='" + res.data[i].Value + "' >" + res.data[i].Text + "</option>");
                            ToastMessage("No Teacher is assigned to this class.", "error", true, 5000);
                        }
                        else {
                            for (var i = 0; i < res.data.length; i++) {
                                $("#updateAddClasses_div .modal-body").find("#popTeacherId").append("<option value='" + res.data[i].Value + "' >"
                                                                                                + res.data[i].Text + "</option>");
                                $("#updateAddClasses_div .modal-body").find("#popTeacherId").val(parseInt(TeacherID));
                            }
                        }
                    }
                    else {
                        ToastMessage("Data not found", "error", true, 5000);
                    }

                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            })
        }


        $("#popupClassIdh").val($(this).attr("data-ClassId"));
        if (parseInt(TeacherID) > 0) {

            $("#popupTeacherId").val(TeacherID);
            //update case
            $("#popupClassTeacherId").val(parseInt($(this).attr("data-ClassTeacherId")));
            $("#popEffectiveDate").val($(this).attr("data-effDate"));
            $("#popEndDate").val($(this).attr("data-endDate"));

            $("#myClsInchargeModalLabel").html('');
            $("#myClsInchargeModalLabel").html('Edit ClassIncharge of Class: <b>' + $(this).attr("data-Class") + '</b>');
        }
        else {
            //insertion case
            $("#popEffectiveDate").val("");
            $("#popEndDate").val("");
            $("#myClsInchargeModalLabel").html('');
            $("#myClsInchargeModalLabel").html('Add ClassIncharge of Class: <b>' + $(this).attr("data-Class") + '</b>');

        }

        @*$.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetDatesForEditClassIncharge", "Staff"))',
            data: { "classId": classId, "EffectiveDate": $("#popEffectiveDate").val(), "TeacherId": TeacherID },
            success: function (res) {
                if (res.status == "success") {

                }
                else {
                    ToastMessage("Data not found", "error", true, 5000);
                }

                $('#ks_loader').hide();
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(err, "error", true, 5000);
            }
        })*@
        $("#popupClassIdh").val();
        $('#ks_loader').hide();
    });

    $("#closeAddClasdiv").click(function () {
        $("#updateAddClasses_div").hide();
    });

    $("#popTeacherId").change(function () {
        if ($(this).val() != "") {
            InchargeData = new Object();
            InchargeData.ClassId = $("#popupClassIdh").val();
            InchargeData.ClassTeacherId = $("#popupClassTeacherId").val();
            InchargeData.TeacherId = $("#popTeacherId").val();
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("CheckValidation", "Staff"))',
                data: { "InchargeData": InchargeData },
                success: function (res) {
                    if (res.status == "failed") {
                        $('#ks_loader').hide();
                        ToastMessage(res.data, "error", true, 5000);
                    }
                    else {
                        $('#ks_loader').hide();
                        var minDate = null, MaxDate = null;
                        if (res.startdate != "")
                            minDate = res.startdate;
                        if (res.enddate != "")
                            MaxDate = res.enddate;
                        $("#popEffectiveDate,#popEndDate").attr("readonly", false);
                        $("#popEffectiveDate,#popEndDate").kendoDatePicker({
                            format: "dd/MM/yyyy",
                            max: MaxDate,
                            min: minDate
                        });
                        $("#popEffectiveDate,#popEndDate").attr('readonly', true);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

          

            @*$.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("GetDatesForEditClassIncharge", "Staff"))',
                data: {
                    "classId": $("#popupClassIdh").val(), "EffectiveDate": $("#popEffectiveDate").val(),
                    "TeacherId": $("#popTeacherId").val()
                },
                success: function (res) {
                    // function get date as string and return date
                    function GetDatMinString(date) {
                        //alert(date);
                        var datearry = date.split('/');
                        var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                        return returnMinDate;
                    }
                    if (res.effDateMinVal != "") 
                        //get min date according to issue date
                        mindate = GetDatMinString(kendo.toString(res.effDateMinVal, "dd/MM/yyyy"));
                    else 
                        //get min date according to issue date
                        mindate = GetDatMinString(kendo.toString(res.effCurrentSessionStrtDate, "dd/MM/yyyy"));
                   
                        
                    $("#popEffectiveDate").kendoDatePicker('min', mindate);
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            })*@
        }
    })

    var ClassInchargevalid = true;
    var ClassInchargevalidationmessage = "";
    var ClassInchargectrlfocus = "";
    function validStandardWiseIncharge() {
        ClassInchargevalid = true;
        ClassInchargevalidationmessage = "";
        ClassInchargectrlfocus = "";

        if ($("#popDrpClass:visible").length == 1) {
            if ($("#popClassid").val() == "") {
                if (ClassInchargectrlfocus == "")
                    ClassInchargectrlfocus = "#popClassid";
                ClassInchargevalidationmessage = ClassInchargevalidationmessage + "Please select Class \n";
                ClassInchargevalid = false;
            }
        }
        if ($("#popTeacherId").val() == "") {
            if (ClassInchargectrlfocus == "")
                ClassInchargectrlfocus = "#popTeacherId";
            ClassInchargevalidationmessage = ClassInchargevalidationmessage + "Please select Teacher \n";
            ClassInchargevalid = false;
        }

        if ($("#popEffectiveDate").val() == "") {
            if (ClassInchargectrlfocus == "")
                ClassInchargectrlfocus = "#popEffectiveDate_";
            ClassInchargevalidationmessage = ClassInchargevalidationmessage + "Please provide EffectiveDate \n";
            ClassInchargevalid = false;
        }
        return ClassInchargevalid;
    }

    $("#updateAddClasses_div .modal-body").find("#popAddBtnIncharge").click(function () {
        InchargeData = new Object();
        InchargeData.ClassTeacherId = $("#popupClassTeacherId").val();
        InchargeData.ClassId = $("#popupClassIdh").val();
        InchargeData.TeacherId = $("#popTeacherId").val();
        InchargeData.EffectiveDate = GetDateFromString($("#popEffectiveDate").val());
        InchargeData.EndDate = GetDateFromString($("#popEndDate").val());
        var IsValid = validStandardWiseIncharge();
        if (IsValid) {
            $('#ks_loader').show();
            if (InchargeData != "") {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CreateOrUpdateClassIncharge", "Staff"))',
                    data: { "InchargeData": InchargeData },
                    success: function (res) {
                        if (res.status == "success") {
                            ToastMessage(res.data, "success", true, 5000);
                            window.location.reload();
                            $('#ks_loader').hide();
                        }
                        else if (res.status == "failed" && res.error != undefined) {
                            $('#ks_loader').hide();
                            var validationaray = res.error.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                        }
                        else {
                            $('#ks_loader').hide();
                            ToastMessage(res.data, "error", true, 5000);
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        }
        else {
            $('#ks_loader').hide();
            var validationaray = ClassInchargevalidationmessage.split('\n');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            return false;
        }
    })

    $("#updateAddClasses_div .modal-body").find("#popCancelBtnIncharge").click(function () {
        //$("#updateAddClasses_div .modal-body").find("#div_add_classIncharge_StandardWise").hide();
        $("#updateAddClasses_div").hide();
    })
</script>
