﻿@model ViewModel.ViewModel.Staff.StaffModel

@{
    ViewBag.Title = "ManageStaff";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        if (TempData["SameDocTypeExistError"] != "" && TempData["SameDocTypeExistError"] != null)
        {
            <div class="col-md-12">
                <div class="error_notification"><i class="fa fa-ban"></i> @TempData["SameDocTypeExistError"]</div>
            </div>
        }

        else
        {
            <div class="col-md-12">
                <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
            </div>
        }
    }
    <div class="col-md-6">
        <h1>Staff Information<span style="font-size: 11px">(<i style="color: red;font-size: 8px;" class="fa fa-asterisk"></i> fields are required )</span></h1>
    </div>

    <div class="col-md-6 text-right">
        @if (Model.IsauthToAdd)
        {
            <a href="@Html.Raw(Url.Action("ManageStaff", "Staff"))" class="btn btn-xs btn-default">Add New</a>

        }
        <a href="@Html.Raw(Url.Action("StaffList", "Staff"))" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @*call partial view*@
        @Html.Partial("_CreateOrUpdate", Model)
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#save_staffinfo').click(function () {
            if ($('#FirstName').val() == "" || $('#Employeecode').val() == "" || $('#DepartmentId').val() == "" ||
                $('#DesignationId').val() == "" || $('#GenderId').val() == "" )
            {
                var Editvalidationmessage = "";

                if ($('#FirstName').val() == "") {
                    Editvalidationmessage = Editvalidationmessage + "Please provide First name ε";
                }
                if ($('#Employeecode').val() == "") {
                    Editvalidationmessage = Editvalidationmessage + "Please provide Employee Code ε";
                }
                if ($('#DepartmentId').val() == "") {
                    Editvalidationmessage = Editvalidationmessage + "Please provide Department ε";
                }
                if ($('#DesignationId').val() == "") {
                    Editvalidationmessage = Editvalidationmessage + "Please provide Designation ε";
                }
                if ($('#GenderId').val() == "") {
                    Editvalidationmessage = Editvalidationmessage + "Please provide Gender ε";
                }
                var validationaray = Editvalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                return false;
            }

        });
    });
</script>
<!-- Page Controls -->
