﻿@model ViewModel.ViewModel.Staff.LeaveApprovalModel
@{
    ViewBag.Title = "StaffList";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
@{
    ViewBag.Title = "LeaveApproval";
}

<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Leave Approval</h1>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" id="btnFilter" class="btn btn-xs btn-default">Filter</button>
        @*<button type="button" id="btnPrintLeaveApproval" class="btn btn-xs btn-default pull-right" title="Print">
                <i class="fa fa-print" style="color:blue"></i>
            </button>*@
        <button type="button" id="btnExcelLeaveApproval" class="btn btn-xs btn-default" title="Excel">
            <i class="fa fa-file-excel-o" style="color:green"></i>
        </button>

        @if (Model.IsAdmin)
        {
            <a href="javascript:void(0);" title="Set Default Values" id="btnSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 8px;" class="pull-right"><i class="fa fa-gear"></i></a>
        }
    </div>
</div>
<!-- change default values -->
<div class="modal-popup" id="StaffLeaveApproveSetting_Div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeStaffLeaveApproveSetting_div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Leave Approval Default Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row well">
                    <h4>Student/Staff Leave Apply Timings:</h4>
                    <div class="col-md-4">
                        <label>From</label>
                        @Html.TextBoxFor(model => model.LeaveApplyFromTime, new
                         {
                           @class = "timePicker form-control",
                           @placeholder = "hh:mm",
                           @style = "width: 120px;"
                         })
                    </div>
                    <div class="col-md-4">
                        <label>To</label>
                        @Html.TextBoxFor(model => model.LeaveApplyToTime, new
                         {
                             @class = "timePicker form-control",
                             @placeholder = "hh:mm",
                             @style = "width: 120px;"
                         })
                    </div>
                </div>
                <hr />
                <div class="row well">
                    <h4>Staff Leave Apply/Approval Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.SMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.NonAppUser)
                    </div>
                    <div class="col-md-3">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.Notification)
                    </div>
                </div>
                <hr />
                <div class="row well">
                    <h4>Student Leave Apply/Approval Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.StuSMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.StuNonAppUser)
                    </div>
                    <div class="col-md-4">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.StuNotification)
                    </div>
                    <div class="col-md-3">
                        <label>SMS Mobile No.:</label>
                        @Html.DropDownListFor(m => m.SMSSelectionStudentMobileNo, Model.AvailableSendMessageMobileNoOptions,
                        new { @class = "form-control", @style = "width:180px;" })
                    </div>
                </div>
                &nbsp;&nbsp;
                &nbsp;
                <div class="modal-footer">
                    <button type="button" id="btnSetDefaultVal" class="btn btn-success ">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="form-inline ks-custom-form row top-space-20">
    <div class="row top-space-10" style="display: none" id="div_filter">
        <div class="form-group">
            <label class="control-label">Leave Status</label>
            @Html.DropDownList("LeaveStatus", Model.AviableLeaveStatus, new { @class = "form-control", @style = "width:150px" })
        </div>
        <div class="form-group">
            <label class="control-label">Leave Type</label>
            @Html.DropDownList("LeaveType", Model.AviableLeaveTypes, new { @class = "form-control", @style = "width:150px" })
        </div>
        <div class="form-group">
            <label class="control-label">Staff Name</label>
            @Html.DropDownList("StaffList", Model.AviableStaffList, new { @class = "form-control", @style = "width:150px" })
        </div>
        <div class="form-group">
            <label class="control-label">Desgination</label>
            @Html.DropDownList("StaffDesignationList", Model.AviableStaffDesignationList, new { @class = "form-control", @style = "width:150px" })
        </div>

        <div class="form-group">
            <label class="control-label">Department</label>
            @Html.DropDownList("DepartmentList", Model.AviableDepartments, new { @class = "form-control", @style = "width:150px" })
        </div>

        <div class="form-group">
            <label class="control-label"> Filter Date by:</label><!-- Form Label -->
            <select id="DateFilterList" class="form-control">
                <option value="">--Select--</option>
                <option value="1">Applied Date</option>
                <option value="2">Leave Period</option>
                <option value="3">Response Date</option>
            </select>
        </div>

        <div hidden id="DateFiltering">
            <div class="form-group">
                <label class="control-label">From </label><!-- Form Label -->
                @Html.TextBoxFor(m => m.FromAppiledDate, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label class="control-label">To </label><!-- Form Label -->
                @Html.TextBoxFor(m => m.ToAppiledDate, new { @class = "form-control" })
            </div>


        </div>
        &nbsp; &nbsp; &nbsp;
        <div class="form-group">
            <button type="button" id="filter" class="btn btn-default">Filter</button>
            <button type="button" id="reset" class="btn btn-danger">Reset</button>
        </div>
    </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            <div id="Leaveapproval-grid">
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.timePicker').timepicki({
            show_meridian: false,
            min_hour_value:0,
            max_hour_value:23,
            overflow_minutes:true,
            increase_direction: 'up'
        });
    });


    $(function () {
        $("#Leaveapproval-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("LeaveApproval", "Staff"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data:additionalData
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            columns: [{
                field: "LeaveId",
                title: "LeaveId",
                sortable: true,
                hidden:true
            },
            {
                 field: "Name",
                 title: "Name",
                 sortable: true
             }, {
                field: "Designation",
                title: "Designation",
                sortable: true
            },
            {
                field: "Department",
                title: "Department",
                sortable: true
            },
            {
                field: "Empcode",
                title: "Emp Code",
                sortable: true
            },
            {
                field: "LeaveType",
                title: "Leave Type",
                sortable: true
            },
            {
                field: "LeaveFrom",
                title: "Leave From",
                template: "#= kendo.toString(kendo.parseDate(LeaveFrom, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                sortable: true
            },{
                field: "LeaveTill",
                title: "Leave Till",
                template: "#= kendo.toString(kendo.parseDate(LeaveTill, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                sortable: true
            },{
                field: "AppliedDate",
                title: "Applied Date",
                template:'#if(AppliedDate!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=AppliedTime#"><font >#=kendo.toString(kendo.parseDate(AppliedDate, "yyyy-MM-dd"), "dd/MM/yyyy") #</font></i>#}#',
            // template: "#= kendo.toString(kendo.parseDate(AppliedDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                sortable: true
            },{
                field: "Reason",
                title: "Reason",
                template: '#if(ReasonDesc!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=ReasonDesc#"><font >#=Reason#</font></i>#}#',
                width:100,
                sortable: true
            }
             @if (Model.IsAuthApprove || Model.IsAuthDisapprove) {
                <text>  ,{
                 field: "LeaveId",
                 title: "Action",
                 template:
             '#if(Status==null){'
                    @if (Model.IsAuthApprove) {
                              <text>
                         +'#<a title="Approve" data-toggle="tooltip" data-placement="top" class="clsappleave btn btn-xs btn-default"><i class="fa fa-check"></i></a>#'
                     </text>
                            }
                    @if (Model.IsAuthApprove)
                            {
                                <text>
                     + '#<a title="Disapprove" data-toggle="tooltip" data-placement="top" class="clsdisappleave btn btn-xs btn-default"><i class="fa fa-ban"></i></a>#}'
                      </text>
                            }
              +'else{#<label>#=Status#</label>#}#'

             }</text>
            }]

        })

        var grid = $("#Leaveapproval-grid").data("kendoGrid");
    });

    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    function additionalData() {
        var data = {
            LeaveTypeId    : $("#LeaveType").val(),
            LeaveStatus    : $("#LeaveStatus").val(),
            FromAppiledDate: $("#FromAppiledDate").val(),
            ToAppiledDate  : $("#ToAppiledDate").val(),
            FilterDateBy   : $("#DateFilterList").val(),
            StaffId        : $("#StaffList").val(),
            DesginationId  : $("#StaffDesignationList").val(),
            DepartmentId   : $("#DepartmentList").val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(document).on("click", ".clsappleave", function () {
        var leaveId=$(this).parent().parent().find('td:nth-child(1)').text()
        $('#ks_loader').show();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("ApprovalAction", "Staff"))',
            data: { "Id": leaveId,"status":"Approved" },
            success: function (result) {
                $('#ks_loader').hide();
                if (result.status == "success") {
                    window.location.reload();
                }
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });
    $(document).on("click", ".clsdisappleave", function () {
        var leaveId=$(this).parent().parent().find('td:nth-child(1)').text()
        $('#ks_loader').show();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("ApprovalAction", "Staff"))',
            data: { "Id": leaveId,"status":"Disapproved" },
            success: function (result) {
                $('#ks_loader').hide();
                if (result.status == "success") {
                    window.location.reload();
                }
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });
</script>

<script>

    $("#FromAppiledDate,#ToAppiledDate").kendoDatePicker({
        format: "dd/MM/yyyy"
    });
    $("#FromAppiledDate,#ToAppiledDate").attr("readonly", true);


    $("#btnFilter").click(function(){
        $("#div_filter").toggle();
    });

    $("#filter").click(function(){
        $("#Leaveapproval-grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
    });

    $("#reset").click(function(){
        clearfilters();
    });

    $("#btnSettings").click(function(){
        $("#StaffLeaveApproveSetting_Div").show();
    });

    $("#closeStaffLeaveApproveSetting_div").click(function(){
        $("#StaffLeaveApproveSetting_Div").hide();
    });

    $("#btnSetDefaultVal").click(function(){
        $('#ks_loader').show();

        var objLeaveModel = new Object();
        objLeaveModel.SMS = $("#SMS").prop("checked");
        objLeaveModel.Notification = $("#Notification").prop("checked");
        objLeaveModel.NonAppUser = $("#NonAppUser").prop("checked");
        objLeaveModel.StuSMS = $("#StuSMS").prop("checked");
        objLeaveModel.StuNotification = $("#StuNotification").prop("checked");
        objLeaveModel.StuNonAppUser = $("#StuNonAppUser").prop("checked");
        objLeaveModel.SMSSelectionStudentMobileNo = $("#SMSSelectionStudentMobileNo").val();
        objLeaveModel.LeaveApplyFromTime = $("#LeaveApplyFromTime").val();
        objLeaveModel.LeaveApplyToTime = $("#LeaveApplyToTime").val();
        $.ajax({
            type: "Post",
            async: true,
            url: '@Html.Raw(Url.Action("InsertDefaultSettings", "Staff"))',
            data: objLeaveModel,
            success: function (result) {
                if(result.status =="Success")
                {
                    ToastMessage("Triggers Default setting updated succesfully", "success", true, 5000);
                    $("#StaffLeaveApproveSetting_Div").hide();
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#ks_loader').hide();

    });


    function clearfilters()
    {

        $("#DateFiltering").hide();
        $("#FromAppiledDate,#ToAppiledDate").val("");
        $("#LeaveType").val('@Model.LeaveStatus');
        $("#LeaveStatus").val("");
        $("#DateFilterList").val("");
        $("#StaffList").val("");
        $("#StaffDesignationList").val("");
        $("#DepartmentList").val("");

        $("#Leaveapproval-grid").data('kendoGrid').dataSource.page(1);//reload kendo gird
    }

    $("#DateFilterList").change(function(){
        $("#FromAppiledDate,#ToAppiledDate").val("");
        if($(this).val() != "")
            $("#DateFiltering").css("display","inline");
        else
            $("#DateFiltering").css("display","none");
    });


    $("#btnPrintLeaveApproval").click(function (e) {
        $('#ks_loader').show();
        $.ajax({
            type: "GET",
            async: true,
            url: '@Html.Raw(Url.Action("Export", "Staff"))',
            data: {},
            success: function (result) {
                window.open('@Html.Raw(Url.Action("ExportLeaveApprovalData", "Staff"))?LeaveTypeId=' + $("#LeaveType").val()
                           + '&LeaveStatus=' +  $("#LeaveStatus").val() + '&FromAppiledDate=' + $("#FromAppiledDate").val()
                           + '&FilterDateBy=' + $("#DateFilterList").val()+ '&ToAppiledDate=' + $("#ToAppiledDate").val()
                           + '&StaffId=' + $("#StaffList").val()+ '&DesginationId=' + $("#StaffDesignationList").val()
                           + '&DepartmentId=' + $("#DepartmentList").val() + "&IsExcel=0"
                           , '_blank');
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#ks_loader').hide();
    });


    $("#btnExcelLeaveApproval").click(function (e) {
        $('#ks_loader').show();
        $.ajax({
            type: "GET",
            async: true,
            url: '@Html.Raw(Url.Action("Export", "Staff"))',
            data: {},
            success: function (result) {
                window.open('@Html.Raw(Url.Action("ExportLeaveApprovalData", "Staff"))?LeaveTypeId=' + $("#LeaveType").val()
                           + '&LeaveStatus=' +  $("#LeaveStatus").val() + '&FromAppiledDate=' + $("#FromAppiledDate").val()
                           + '&FilterDateBy=' + $("#DateFilterList").val()+ '&ToAppiledDate=' + $("#ToAppiledDate").val()
                           + '&StaffId=' + $("#StaffList").val()+ '&DesginationId=' + $("#StaffDesignationList").val()
                           + '&DepartmentId=' + $("#DepartmentList").val() + "&IsExcel=1"
                           , '_blank');
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#ks_loader').hide();
    });
</script>

