﻿@model ViewModel.ViewModel.Staff.ManageClassIncharge

@{
    ViewBag.Title = "ManageClassIncharge";
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Manage ClassIncharge</h1>
        </div>
        <div class="col-md-6 text-right" style="margin-bottom: 5px;" id="manageClassIncharge_btns">
            @if (Model.IsAuthToAdd)
            {
                <a href="javascript:void(0)" class="btn btn-default" id="Add_NewClassIncharge" style="display:none;">Add</a>
            }
            <a href="javascript:void(0)" class="btn btn-default" id="Add_FilterClassIncharge" style="display:none;">Filter</a>

            <a href="javascript:void(0)" class="btn btn-default" id="SwitchTab_ClassIncharge">
                <i class="fa fa-list" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<!-- //Page Heading -->
<!-- Page Controls -->


<div class="row">
    <div class="col-md-12">
        <div id="ClassWiseIncharge_CreateOrUpdate" hidden>
            @using (Html.BeginForm("ManageClassIncharge", "Staff", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_classInchargeCreateOrUpdate", Model, new ViewDataDictionary(ViewData) { { "ShowPopUpAdFilters", "false" }
               , { "IdPreFix", "ClassWise" } })
            }
        </div>
        <div id="StandardWiseIncharge_CreateOrUpdate">
            @Html.Partial("_StandardWiseInchargeCreateOrUpdate", Model)
        </div>
    </div>
</div>

<script>
    $("#SwitchTab_ClassIncharge").click(function () {
        $("#StandardWiseIncharge_CreateOrUpdate").toggle();
        $("#ClassWiseIncharge_CreateOrUpdate").toggle();
        $("#Add_NewClassIncharge").toggle();
        $("#Add_FilterClassIncharge").toggle();

        //$("#standradIncharge_grid").toggle();

        if ($("#ClassWiseIncharge_CreateOrUpdate").is(":visible")) {
            $("#cancel_classIncharge").click();
        }
    });
  

</script>



