﻿@model ViewModel.ViewModel.Staff.StaffLeaveListReport
@{
    ViewBag.Title = "StaffLeaveReport";
}
<script src="~/Scripts/jquery.multiselect.js"></script>
<link href="~/Content/assets/css/jquery.multiselect.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('#drpCls').multiselect({
            columns: 1,
            placeholder: 'Select Staffs',
            search: true,
            selectAll: true
        });
        //$('.listbox').multiselect({
        //    includeSelectAllOption: true,
        //    selectAll: true
        //});
    });
</script>


<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Staff Leave Report</h1>
    </div>
    <div class="col-md-6 text-right">
        @*<a id="btnExport" class="btn btn-default btn-xs">Export To Excel</a>*@
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-2">
        <label class="control-label">Staff Type</label>
        @Html.DropDownListFor(model => model.StaffTypeId, Model.StaffTypelist, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="control-label">Staff Member</label>
        @Html.DropDownListFor(model => model.StafId, Model.StaffList, new { @id = "drpCls", @class = "listbox  form-control", @multiple = "multiple" })
    </div>
    <div class="col-md-2">
        <label class="control-label">Month</label>
        @Html.DropDownListFor(model => model.MonthId, Model.MonthList, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="control-label">Year</label>
        @Html.TextBoxFor(model => model.Year, "", new { @class = "form-control", @maxlength = "4" })
    </div>
    <div>
        <a id="btnPost" class="btn btn-default" style="margin-top: 24px;">Generate Report</a>
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12" id="staffattendancelist1" style="display:none" hidden>
        <table class="table table-responsive table-condensed table-striped table-bordered" id="staffAttendanceList">
            <thead class="thead-default">
                <tr>
                    <th>Staff Name</th>
                    <th>No Of Leaves</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {


        var today = new Date();
        $("#Year").kendoDatePicker({
            start: "decade",
            depth: "decade",

            // display month and year in the input
            format: "yyyy",
            value: today,
            // specifies that DateInput is used for masking the input element
            dateInput: true
        });

        //Fill Staff Dropdown on change of Stafftype
        $("#StaffTypeId").on("change", function () {
            var stafftypid = $("#StaffTypeId").val();
            $.ajax({
                type: "POST",
                url: "@Html.Raw(Url.Action("GetAllStaffNames", "Staff"))",
                data: { "stafftypid": stafftypid },
                success: function (result) {
                    if (result.status = "success") {
                        $('#drpCls').find('option').remove();
                        $.each(result.data, function () {
                            $("#drpCls").append('<option value=' + this.Value + '>' + this.Text + '</option>')
                        });
                        $('select[multiple]').multiselect('reload');
                    }
                    else {
                        alert(result.data);
                    }
                }
            })
        });
        //multiselect dropdown staff
        
        $("#btnPost").click(function () {
            debugger
            var Validations = "";
            var StafId = [];
            var StafId = $('#drpCls').val();
            var MonthId = $('#MonthId').val();
            var Year = $('#Year').val();
            if (StafId == null)
            {
                Validations = Validations + "Please Select Staff Member \n";
            }
            if (MonthId=="") {
                Validations = Validations + "Please Select Month \n";
            }
            if (Year=="") {
                Validations = Validations + "Please Select Year \n";
            }
            if (StafId != null && MonthId > 0 && Year > 0) {
                $('#ks_loader').show();
                $.ajax({
                    traditional: true,
                    type: "POST",
                    url: "@Html.Raw(Url.Action("GenerateStaffLeaveReport", "Staff"))",
                    data: { "MonthId": MonthId, "Year": Year, "StafIds": StafId },
                    success: function (result) {
                        if (result.status == "success") {
                            $("#staffAttendanceList tbody").empty();
                            for (var i = 0; i < result.data.length; i++) {
                                var datarow = "";
                                //added on 21 march
                                if (result.data[i].Count > 0) {
                                    datarow += '<tr><td><a href="javascript:void(0)" data-attr=' + result.data[i].StaffId + ' class="thisaddress"  data-toggle="modal" data-target="#myModal">' + result.data[i].Name + '</a></td><td>' + result.data[i].Count + '</td></tr>';
                                    $("#staffAttendanceList tbody").append(datarow);
                                    //<a></a>
                                }
                                else {
                                    datarow += '<tr><td>' + result.data[i].Name + '</td><td>' + result.data[i].Count + '</td></tr>';
                                    $("#staffAttendanceList tbody").append(datarow);
                                }
                            }
                            $("#staffattendancelist1").show();
                            $('#ks_loader').hide();
                        }
                        else {
                            $("#staffattendancelist1").show();
                            $('#staffAttendanceList tbody').html('<tr class="child"><td colspan="4" align="center">' + result.data + '</td></tr>');

                        }
                    },

                });
            }
            else
            {
                //validation here
                $('#ks_loader').hide();
                var validationaray = Validations.split('\n');
                for (var i = 0; i < validationaray.length - 1; i++) {
                    ToastMessage(validationaray[i], "error", true, 5000);
                }              
                //return false;
            }
        });

        //find Row data For view leaves
        $(document).on('click', '.thisaddress', function () {
            debugger
            //var StafId = $('.thisaddress').attr("href");
            var StafId = $(this).attr("data-attr");
            var MonthId = $('#MonthId').val();
            var Year = $('#Year').val();
            $.ajax({
                type: "POST",
                url: "@Html.Raw(Url.Action("StaffLeaveReportBystaffid", "Staff"))",
                data: { "MonthId": MonthId, "Year": Year, "StafIds": StafId },
                success: function (result) {
                    if (result.status == "success") {
                        $("#CheckboxDiv").empty();
                        for (var i = 0; i < result.data.length; i++) {
                            var datarow = "";
                            datarow += '<tr><td>' + result.data[i].Date + '</td><td>' + result.data[i].LeaveType + '</td><td>' + result.data[i].Reason + '</td><td>' + result.data[i].ApprovedBy + '</td></tr>';
                            $("#CheckboxDiv").append(datarow);
                        }
                    }
                },
            });
        });

    });
</script>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title text-center">Staff Leave Report</h4>
            </div>
            <div class=""></div>
            <div class="modal-body">
                <table id="checkTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Leave Type</th>
                            <th>Reason</th>
                            <th>Approved By</th>
                        </tr>
                    </thead>
                    <tbody id="CheckboxDiv">

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" id="ExpToExclSelectedColumns" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

