﻿@model ViewModel.ViewModel.Staff.StaffListModel

@{
    ViewBag.Title = "StaffList";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
@Html.HiddenFor(x => x.IsActive)

    <div class="modal-popup" id="DetailsViewPopUp" hidden>
        <div class="modal-popup-body custom-modal-popup" style="width:50%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="DetailsViewPopUpheading"></h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#ExperienceTab">Experience</a></li>
                        <li ><a data-toggle="tab" href="#AcademicTab">Academics</a></li>

                    </ul>

                        <div class="tab-content row">
                            <div id="ExperienceTab" class="tab-pane fade in active">
                                <div class="col-md-12">
                                    <table style="display:none" id="StaffExperience-detail-grid" class="table table-bordered table-condensed table-striped table-responsive table-hover">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>Organsation</th>
                                                <th>Designation</th>
                                                <th>City</th>
                                                <th>JoiningDate</th>
                                                <th>LeavingDate</th>
                                                <th>Documents</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Experiencebody"></tbody>
                                    </table>
                                </div>
                                <label id="expNoDta" style="display:none">No Data</label>


                            </div>
                            <div id="AcademicTab" class="tab-pane fade">
                                <div class="col-md-12">
                                    <table style="display:none" id="StaffQualification-detail-grid" class="table table-bordered table-condensed table-striped table-responsive table-hover">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>Exam Passed</th>
                                                <th>Board University</th>
                                                <th>Institution Name</th>
                                                <th>Passing Year</th>
                                                <th>Obtained Marks</th>
                                                <th>Total Marks</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Academicsbody"></tbody>
                                    </table>
                                </div>
                                <label id="expNoDta" style="display:none">AcaNoDta</label>

                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " id="close_DetailsViewPopUp">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

<div class="modal-popup" id="StaffStatushistory-div" hidden>
    <div class="modal-popup-body" style="width:650px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_statusStaff" name="close_statusStaff" class="close staffstatusDivbody" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a href="javascript:void(0)" id="backtoStatusDiv" class="btn btn-xs btn-default stafftimetablebody" style="display:none;float:right">back</a>
                <h4 class="modal-title">Change Status</h4>
            </div>
            <div class="modal-body">
                <!-- Form Row -->
                <div class="staffstatusDivbody">
                    <!-- Form Coulmn -->
                 
                    <div style="display:flex;">
                                <div class="form-group">
                                    <label class="control-label" style="margin-top:5px">Status</label><!-- Form Label -->
                                </div>
                                <div class="form-group" style="margin-left:10px">
                                    <select class="form-control" id="drpStaffStatus" style="width:180px !important">
                                        <option value="Active">Active</option>
                                        <option value="InActive">InActive</option>
                                    </select>
                                </div>
                                <div class="form-group" style="margin-left:13px">
                                    <label class="control-label" style="margin-top:5px">Date</label><!-- Form Label -->
                                </div>
                                <div class="form-group" style="margin-left: 12px;">
                                    <input class="form-control" id="statusDate" name="statusDate" type="text" value="">
                                </div>
                                <div class="form-group" style="margin-left:20px">
                                    <button id="save-StaffNextStatus" data-ref="Save" type="button" name="save-StaffNextStatus" class="btn btn-success">
                                        <i class="fa fa-floppy-o"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                      
                    <!-- //Form Coulmn -->
                    @*Grid*@
                    <div class="row">
                        <div class="col-md-12" >
                            <table id="StatusHistory-detail-grid" class="table table-bordered table-condensed table-striped table-responsive ">
                                <thead class="thead-default">
                                    <tr>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="stafftimetablebody" style="display:none">
                    <div class="">
                        <h4 id="bodyheadTimetable"></h4>
                        <div id="stafftimetable-grid">
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:5px">
                                <button type="button" style="float:right" class="btn btn-default " id="closeStatusDiv">
                                    Cancel
                                </button>
                                <button type="button" style="float:right" class="btn btn-success" id="unassignPeriod">
                                    UnAssign All
                                </button>
                            </div>
                         </div>
                        </div>
                    <script>
   $(document).ready(function () {
        $("#stafftimetable-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("StaffAssignedTimeTableList", "Staff"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDataOfStaffTimeTable
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: '@(defaultGridPageSize)',
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            columns: [{
                field: "TimeTableFrom",
                title: "TimeTableFrom",
                sortable: true,

            }, {
                field: "TimeTableTill",
                title: "TimeTableTill",
                sortable: true,

            }, {
                field: "Class",
                title: "Class",
                sortable: true,

            }, {
                field: "Period",
                title: "Period",
                sortable: true,

            }, {
                field: "Subject",
                title: "Subject",
                sortable: true,

            }, {
                field: "Teacher",
                title: "Teacher",
                sortable: true
            },{
                field: "DayName",
                title: "DayName",
                sortable: true
            }]
        });
        var stafftimetablegrid = $("#stafftimetable-grid").data("kendoGrid");
    });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="StaffStatusServiceType-div" hidden>
    <div class="modal-popup-body" style="width:40%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="" name="close_statusStaff" class="close closeServiceType-div" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title serviceTypeHeader">Change Service Type</h4>
            </div>
            <div class="modal-body">
                <!-- Form Row -->
                <div class="col-md-12">
                    @*<div class="form-inline ks-custom-form">
                        <div class="form-group">
                            <label class="" style="">ServiceType</label><!-- Form Label -->
                            <select id="ServiceTypeId" class="form-control"></select>
                            <label class="" style="">Remarks</label>
                            <button id="save-StaffNextServiceType" class="btn btn-success">Save</button>
                        </div>
        </div>*@
                    <div class="col-md-4">
                        <label class="" style="">ServiceType</label>
                        <select id="ServiceTypeId" class="form-control"></select>
                    </div>
                    <div class="col-md-5">
                        <label class="" style="">Remarks</label>
                        <textarea id="ServiceTypeRemarks" style="resize:none;width:200px" rows="2" cols="30" class="form-control" maxlength="140"></textarea>
                        
                    </div>
                    <div class="col-md-3 top-space-30">
                        <button id="save-StaffNextServiceType" style="float:right" class="btn btn-success">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 top-space-20">
                        <table id="StatusServiceTypeDetail-grid" class="table table-bordered table-condensed table-striped table-responsive ">
                            <thead class="thead-default">
                                <tr>
                                    <th>ServiceType</th>
                                    <th>ChangedOn</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-danger closeServiceType-div" style="float:right">Close</button>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>View Staff</h1>
    </div>

    <div class="col-md-6 text-right">
        @if (Model.IsAuthToAdd)
        {
            <a href="javascript:void(0)" id="btnexportexcel" class="btn btn-xs btn-default" data-toggle="modal" data-target="#myModal">Export to excel</a>
            <a href="@Html.Raw(Url.Action("ManageStaff", "Staff"))" class="btn btn-xs btn-default">Add New</a>
        }
        @if (Model.IsAuthToExport)
        {
            @*<a href="javascript:void(0)" id="btnexportexcel" class="btn btn-xs btn-default">Export to excel</a>*@
        }
    </div>
    @*@if (Model.IsAuthToPrint)
        {*@

    @*  }*@
</div>
@Html.Hidden("columnsname")
<div class="row top-space-10">
    <div class="col-md-12">
        <form class="form-inline ks-custom-form">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Staff Type:</label>
                @Html.DropDownListFor(model => model.StaffTypeId, Model.StaffTypeList, new { @class = "form-control", @autofocus = "on" })
            </div>
            &nbsp; &nbsp;
            <div class="form-group">
                <label>Designation:</label>
                @Html.DropDownListFor(model => model.DesignationId, Model.DesignationList, new { @class = "form-control", @autofocus = "on" })
            </div>
            &nbsp; &nbsp;
            <div class="form-group">
                <label>Department:</label>
                @Html.DropDownListFor(model => model.DepartmentId, Model.DepartmentList, new { @class = "form-control" })
            </div>
            &nbsp; &nbsp;
            <div class="form-group">
                <label>Status:</label>
                @Html.DropDownListFor(model => model.FilterStatusId, Model.AvailableStatus, new { @class = "form-control" })
            </div>
            &nbsp; &nbsp;
            <div class="form-group">
                <label>Name:</label>
                @Html.TextBox("searchBox", "", new { @class = "form-control" })
            </div>
            &nbsp; &nbsp;
            <div class="form-group">
                <label>EmpCode:</label>
                @Html.TextBox("searchBoxEmp", "", new { @class = "form-control" })
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search-student" class="btn btn-default" hidden>Filter</button>
                <button type="button" id="reset" class="btn btn-danger" hidden>Reset</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="Staff-grid">
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#Staff-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("GetStaffList", "Staff"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data:additionalData
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            //sortable: {
            //    mode: "multiple",
            //    allowUnsort: false
            //},
            //editable: true,MobileNo
            columns: [{
                field: "Name",
                title: "Name",
                template: "#if(!status){#<label style='color:red;font-weight:100'>#=Name#</label>#}"
                           + "else {#<label style='font-weight:100'>#=Name#</label>   #}#",
                sortable: true,
            },{
                field: "MobileNo",
                title: "Mobile No",
                sortable: false,

            },{
                field: "DateOfjoin",
                title: "Join Date",
                sortable: true,

            },{
                field: "Designation",
                title: "Designation",
                sortable: true,

            },{
                field: "Department",
                title: "Department",
                sortable: true,

            },{
                field: "EmpCode",
                title: "Emp Code",
                sortable: true,

            },{
                field: "ServiceType",
                title: "ServiceType",
                template: "#{#<a title='Change Status' dataid='#=EncStaffId#' dataNm='#=Name#' href='javascript:void(0);' class='serviceType_staff'>#=ServiceType#</a> #}#",
            },{
                field: "IsActive",
                title: "Status",
                template: "#{#<a title='Change Status' dataid='#=EncStaffId#' href='javascript:void(0);' class='status_staff'>#=IsActive#</a> #}#",
            },
            @if(Model.IsAuthToDelete || Model.IsAuthToEdit){
                <text>
            {
                field: "EncStaffId",
                title: "Action",
                editable: false,
                template:
                    @if(Model.IsAuthToEdit){
                          <text>
                                '#{#<a title="Edit" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" href="Edit/#=EncStaffId#"><i class="fa fa-pencil"></i></a>#}#'
                             </text>
                        }
                         @if(Model.IsAuthToDelete){
                             <text>
                        + '#if(IsStaffDeletable){#<a title="Delete" dataid="#=EncStaffId#" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default deletestaff"  href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                </text>
            }
                        + '#if(IsExpAcademicsDetail){#<a title="View Experience & Academics" datanm="#=Name#" dataid="#=EncStaffId#" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default viewExpAcademics"  href="javascript:void(0)"><i class="fa fa-eye"></i></a>#}#'
            }</text>}]

        })


    });

    $("#columnsname").val('@TempData["columnname"]');
</script>
<script type="text/javascript">

    $(".closeServiceType-div").click(function () {
        $("#ServiceTypeRemarks").val("");
        $("#StaffStatusServiceType-div").hide();
    })

    var ServiceStaffId = "";
    $("#Staff-grid").on("click", ".serviceType_staff", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        ServiceStaffId = enceventid;
        $("#ServiceTypeId").html("");
        $("#ServiceTypeRemarks").val("");
        $("#StatusServiceTypeDetail-grid >tbody").html("");
        $("#serviceTypeHeader").text("Change Service Type Of "+$(this).attr('dataNm'));
        if (enceventid != "" && enceventid != null) {
               $('#ks_loader').show();
            $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("GetStaffServiceTypeDetails", "Staff"))',
            data: { "Id": enceventid },
            success: function (result) {
                if (result.status == "success") {
                    var drpdownhtml = ""; var tablehtml = "";
                    $.each(result.ServiceTypeList, function () {
                        drpdownhtml += "<option value='"+this.Value+"'>"+this.Text+"</option>";
                    })
                    $("#ServiceTypeId").append(drpdownhtml);

                    $.each(result.ServiceTypeTableList, function () {
                        tablehtml += "<tr>";
                        tablehtml += "<td>" + this.Text + "</td>";
                        var Splitvalue = this.Value.split('_');
                        tablehtml += "<td>" + Splitvalue[0] + "</td>";
                        tablehtml += "<td>"+Splitvalue[1]+"</td>";
                        tablehtml += "</tr>";
                    })
                    $("#StatusServiceTypeDetail-grid >tbody").append(tablehtml);

                    $("#StaffStatusServiceType-div").show();
                    $('#ks_loader').hide();
                }
                else {
                      ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        } else {
              ToastMessage("Invalid Staff", "error", true, 5000);
        }
    });

    $("#save-StaffNextServiceType").click(function () {
        var ServiceTypeId = $("#ServiceTypeId").val();
        var Remarks = $("#ServiceTypeRemarks").val();
        if (ServiceStaffId != null && ServiceStaffId != "") {
            $('#ks_loader').show();
            $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("UpdateServiceType", "Staff"))',
            data: { "Id": ServiceStaffId,"ServiceTypeId" :ServiceTypeId,"Remarks":Remarks},
            success: function (result) {
                if (result.status == "success") {
                       ToastMessage(result.data, "success", true, 5000);
                    $("#StaffStatusServiceType-div").hide();
                      var grid = $('#Staff-grid').data('kendoGrid');
                                        grid.dataSource.page(); //new search. Set page size to 1
                                        grid.dataSource.read();
                    $('#ks_loader').hide();
                }
                else {
                      ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });


        }
    });

    var stafftypeid=0;
    //if($("#StaffTypeId").val()!='')
    //{
    //    $('#StaffTypeId').attr("Disabled", true);

    //}
    //else
    //{
    //    $('#StaffTypeId').removeAttr("Disabled");

    //}
    function Getdesignations()
    {
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("DesignationList", "Staff"))',
            async: false,
            data: { "StafftypeId": stafftypeid },
            success: function (result) {
                if (result.status == "success") {
                    $('#DesignationId').empty();
                    for (var i = 0; i < result.data.length; i++) {
                        var option = "";

                        if (result.data[i].Selected == true)
                            option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                        else
                            option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                        $('#DesignationId').append(option);
                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
            }
        });
    }
    $('#StaffTypeId').on("change", function () {

        if ($('#StaffTypeId').val()== "")
        {
            stafftypeid = 0;
        }
        else
        {
            stafftypeid=$('#StaffTypeId').val();
        }
        Getdesignations();

    });
    $("#Staff-grid").on("click", ".deletestaff", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" dataid="' + enceventid + '"  href="javascript:void(0)"><i class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '"  href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').attr("dataid", enceventid);
    });

    $("#schedular-grid").on("click", ".k-grid-myCancel", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        $('.k-grid-myConfirm').remove();
        cell.append('<a class="k-grid-schedular-myDelete btn btn-xs btn-default" dataid="' + enceventid + '"  href="javascript:void(0)"><i class="fa fa-trash"></i></a>');
        $('.k-grid-schedular-myDelete').attr("dataid", enceventid);
    })
    //delete ajax method
    $("#Staff-grid").on("click", ".k-grid-myConfirm", function (e) {
        if (confirm("Do you want to delete user for this emp") == true) {
        e.preventDefault();
        $('#ks_loader').show();
        var i = $(this).attr("dataid");

        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("DeleteStaff", "Staff"))',
            data: { "Id": i },
            success: function (result) {

                if (result.status == "success") {
                    ToastMessage(result.msg, "success", true, 5000);
                    //clearreplyfields();

                    var grid = $('#Staff-grid').data('kendoGrid');
                    grid.dataSource.read(); //new search. Set page size to 1

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }

            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }
    })

    //$('#btnexportexcel').click(function(){
    //    $('#ks_loader').show();
    //    var grid = $("#Staff-grid").data("kendoGrid");
    //    grid.hideColumn("EncStaffId");
    //    grid.saveAsExcel();
    //    setTimeout(function(){
    //        grid.showColumn("EncStaffId");
    //        $('#ks_loader').hide();
    //    },5000);
    //});


    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    function ConfirmDelete()
    {
        var x = confirm("Are you sure you want to delete?");
        if (x)
            return true;
        else
            return false;
    }
    $('#searchBox').keydown(function (e) {
        numericOnly(e);
    });
    //$('#TypeId').change(function(){
    //    var grid = $("#Staff-grid").data("kendoGrid");
    //    grid.dataSource.page(1);
    //});

    function additionalData() {
        var data = {
            typeId: $('#TypeId').val(),
            name:$("#searchBox").val(),
            designationId:$("#DesignationId").val(),
            departmentId:$("#DepartmentId").val(),
            StaffTypeId: $("#StaffTypeId").val(),
            FilterStatus:$("#FilterStatusId").val(),
            EmpCode:$("#searchBoxEmp").val()
        };
        addAntiForgeryToken(data);
        return data;
    }
    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    $("#search-student").click(function(){
        var grid = $("#Staff-grid").data("kendoGrid");
        grid.dataSource.page(1);
    })
    $("#reset").click(function(){
        $('#DesignationId').val('');
        $('#DepartmentId').val('');
        $("#StaffTypeId").val('');
        $('#searchBox').val('');
        $("#FilterStatusId").val('@Model.FilterStatusId');
        $('#searchBoxEmp').val('');
        $('#StaffTypeId').removeAttr("Disabled");
        stafftypeid=0;
        Getdesignations();
        var grid = $("#Staff-grid").data("kendoGrid");
        grid.dataSource.page(1);
    })
    $(document).ready(function(){
    //    $("#FilterStatusId").val("");
        //Generate popup with checboxes with Same Name Columns Of table
        $('#btnexportexcel').click(function(){
            var data=new Array();
            var columnsname=$("#columnsname").val().split(',');
            $.each(columnsname,function(i){
                data.push(columnsname[i]);
            })
            $("#CheckboxDiv").html('');
            $('#SelcetAllcheckbox').prop('checked',false);
            $('#ExpToExclSelectedColumns').hide();
            for(var i=0; i<data.length;i++)
            {
                $('#CheckboxDiv').append('<tr><td><input class="colnamecheck" type="checkbox" id='+data[i]+' name='+data[i]+' /> ' + data[i]+ '</td></tr>');
            }
        });

        //Export data on Excel with seleted columns
        $("#ExpToExclSelectedColumns").click(function () {
            $('#ks_loader').show();
            var Unseletedcolumn = "";
            var SelectedColumn="";
            $("input[class='colnamecheck']:checkbox:not(:checked)").each(function () {
                Unseletedcolumn+= $(this).attr('id')+",";
            });
            $.each($("input[class='colnamecheck']:checked"), function(){
                SelectedColumn+= $(this).attr('id')+",";
            });
            var StaffTypeId = $('#StaffTypeId').val();
            var DesignationId=$('#DesignationId').val();
            var DepartmentId = $("#DepartmentId").val();
            var searchBox=$('#searchBox').val();
            var searchBoxEmp = $('#searchBoxEmp').val();
            var status = $('#FilterStatusId').val();
            var IsExcel = "1";
            $.ajax({
                type: "GET",
                async: true,
                url: '@Html.Raw(Url.Action("Export", "Staff"))',
                data: {},
                success: function (result) {

                    window.location = "../Staff/ExportData?StaffTypeId=" + StaffTypeId + "&DesignationId="
                        + DesignationId + "&DepartmentId=" + DepartmentId+"&searchBox="+searchBox+"&Empocode="+searchBoxEmp+"&status="+status
                        +"&IsExcel="+IsExcel+"&Unseletedcolumn="+Unseletedcolumn+"&SelectedColumn="+SelectedColumn;
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    //alert(data);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        });

        //for select all checkbox
        $('#SelcetAllcheckbox').on('click',function(){
            if(this.checked){
                $('.colnamecheck').each(function(){
                    this.checked = true;
                });
                $("#ExpToExclSelectedColumns").show();
            }else{
                $('.colnamecheck').each(function(){
                    this.checked = false;
                });
                $("#ExpToExclSelectedColumns").hide();
            }
        });
    });



    $(document).on('click','.colnamecheck',function(){

        if($('.colnamecheck:checked').length > 0 && $('.colnamecheck:checked').length == $('.colnamecheck').length){
            $("#ExpToExclSelectedColumns").show();
            $('#SelcetAllcheckbox').prop('checked',true);
        }
        else if($('.colnamecheck:checked').length > 0 && $('.colnamecheck:checked').length != $('.colnamecheck').length){
            $('#SelcetAllcheckbox').prop('checked',false);
            $("#ExpToExclSelectedColumns").show();
        }
        else if($('.colnamecheck:checked').length==0){
            $('#SelcetAllcheckbox').prop('checked',false);
            $("#ExpToExclSelectedColumns").hide();
        }
    });

    var staffId ="";
    $("#Staff-grid").on('click', '.status_staff', function () {
        $('#ks_loader').show();
          $(".stafftimetablebody").hide();
        $(".staffstatusDivbody").show();

        $("#statusDate").attr("readonly", false);
        $("#statusDate").kendoDatePicker({
            value: new Date(),
            dateInput: true,
            format: "dd/MM/yyyy"
        });
     
        $("#statusDate").attr("readonly", true);
        staffId =$(this).attr('dataid');
        var sid = $('#drpStaffStatus').val();
        var DOL="";
        $('#StatusHistory-detail-grid tbody').html('');
        var  refSave="";
        {
            $.ajax({
                type: "POST",
                async:false,
                url: '@Html.Raw(Url.Action("UpdateGetStaffStatusHistory", "Staff"))',
                data: {'StaffId':staffId,'Status':sid,'refSave':refSave,'DOL':DOL},
                success: function (result) {
                    debugger;
                    if(result.list.length>0){
                        $.each(result.list,function(){
                            $('#StatusHistory-detail-grid tbody').append('<tr><td>'+this.StaffStatus+'</td><td>'+this.StatusDate+'</td></tr>')
                        })
                    }
                    $('#drpStaffStatus').html("");
                    if(result.isActive==true){
                        $('#drpStaffStatus').append('<option value="" selected>--Select--</option>')
                        $('#drpStaffStatus').append('<option value="InActive">InActive</option>')}
                    else{
                        $('#drpStaffStatus').append('<option value="" selected>--Select--</option>')
                        $('#drpStaffStatus').append('<option value="Active">Active</option>')}
                    
                    if(result.MinStatusDate!=null&&result.MinStatusDate!=""){
                        var max = (result.MinStatusDate).split('/');
                        var newdate = new Date(max[2], max[1] - 1, max[0])

                        $("#statusDate").attr("readonly", false);
                        $("#statusDate").kendoDatePicker({
                            value: newdate,
                            dateInput: true,
                            format: "dd/MM/yyyy",
                            min:newdate
                        });
                        $("#statusDate").attr("readonly", true);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                },
            })
        }
        $("#StaffStatushistory-div").show();
       
        $('#ks_loader').hide();
    });

    $("#save-StaffNextStatus").click(function () {
        $('#ks_loader').show();
        var sid = $('#drpStaffStatus').val();
        var DOL = $("#statusDate").val();
        if (DOL != "" && DOL != null) {
            var nStatusDate = DOL.split('/');
            DOL = nStatusDate[1] + "/" + nStatusDate[0] + "/" + nStatusDate[2];
        }
        else {
            $("#StaffStatushistory-div").show();
            ToastMessage('Please select any Date', "error", true, 5000);
            $('#ks_loader').hide();
            return false;
        }
        var IsTimeTableAssigned = false;
        if (sid=="InActive") {
            IsTimeTableAssigned = true;
        }
        var refSave = "Save";
            if (sid != "") {
                $('#ks_loader').show();
                if (sid == "InActive") {
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: '@Html.Raw(Url.Action("IsStaffAssignedTimeTable", "Staff"))',
                        data: { 'StaffId': staffId },
                        success: function (result) {
                            if (result.status == "success") {
                                if (result.IsStaffAssignedTimeTable == true) {
                                    $('#ks_loader').hide();
                                    IsTimeTableAssigned = true;
                                    $(".staffstatusDivbody").hide();
                                    $(".stafftimetablebody").show();
                                    $("#bodyheadTimetable").html("<b>" + result.StaffName + " has Periods Assign in TimeTable.Do you want to Unassign all Periods?</b>")
                                    var ttgrid = $('#stafftimetable-grid').data('kendoGrid');
                                    ttgrid.dataSource.page(1);
                                } else {
                                    IsTimeTableAssigned = false;
                                }
                            }
                        },
                        error: function (xhr, status) {
                            var err = "Error " + " " + status;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                if (!IsTimeTableAssigned)
                { 
                      $('#ks_loader').show();
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: '@Html.Raw(Url.Action("UpdateGetStaffStatusHistory", "Staff"))',
                            data: { 'StaffId': staffId, 'Status': sid, 'refSave': refSave, 'DOL': DOL },
                            success: function (result) {
                                if (result.status == "success") {
                                    ToastMessage("Status changed successfully", "success", true, 5000);
                                }
                                $('#StatusHistory-detail-grid tbody').html('');
                                if (result.list.length > 0) {
                                    $.each(result.list, function () {
                                        $('#StatusHistory-detail-grid tbody').append('<tr><td>' + this.StaffStatus + '</td><td>' + this.StatusDate + '</td></tr>')
                                    })
                                }


                                else if (result.status == "failed") {
                                    var validationaray = result.data.split('ε');
                                    for (var i = 0; i < validationaray.length - 1; i++) {
                                        ToastMessage(validationaray[i], "error", true, 5000);
                                    }
                                }
                                $('#drpStaffStatus').html("");
                                if (result.isActive == true) {
                                    $('#drpStaffStatus').append('<option value="" selected>--Select--</option>')
                                    $('#drpStaffStatus').append('<option value="InActive">InActive</option>')
                                }
                                else {
                                    $('#drpStaffStatus').append('<option value="" selected>--Select--</option>')
                                    $('#drpStaffStatus').append('<option value="Active">Active</option>')
                                }


                                if (result.MinStatusDate != null) {
                                    var max = (result.MinStatusDate).split('/');
                                    var newdate = new Date(max[2], max[1] - 1, max[0])

                                    $("#statusDate").attr("readonly", false);
                                    $("#statusDate").kendoDatePicker({
                                        value: newdate,
                                        dateInput: true,
                                        format: "dd/MM/yyyy",
                                        min: newdate
                                    });
                                    $("#statusDate").attr("readonly", true);
                                }
                                 var grid = $('#Staff-grid').data('kendoGrid');
                                        grid.dataSource.page(); //new search. Set page size to 1
                                        grid.dataSource.read();
                                $('#ks_loader').hide();
                            },
                            error: function (xhr, status) {
                                var err = "Error " + " " + status;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                        $("#StaffStatushistory-div").hide();
                }
        }
        else {
            $("#StaffStatushistory-div").show();
            alert('Please select any status.');
            $('#ks_loader').hide();
        }
    
        //we already loaded the grid above using "page" function
       
    });

    $("#unassignPeriod").click(function () {
         $('#ks_loader').show();
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: '@Html.Raw(Url.Action("UnAssignTimeTablePeriods", "Staff"))',
                        data: { 'StaffId': staffId},
                        success: function (result) {
                            if (result.status == "success") {
                               //   $('#ks_loader').hide();
                                            var sid = $('#drpStaffStatus').val();
                                            var DOL = $("#statusDate").val();
                                            if (DOL != "" && DOL != null) {
                                                var nStatusDate = DOL.split('/');
                                                DOL = nStatusDate[1] + "/" + nStatusDate[0] + "/" + nStatusDate[2];
                                            }
                                         var refSave = "Save";
                                if (sid != "") {
                                    if (DOL != "" && DOL != null) {
                                      //  $('#ks_loader').show();
                                        $.ajax({
                                            type: "POST",
                                            async: false,
                                            url: '@Html.Raw(Url.Action("UpdateGetStaffStatusHistory", "Staff"))',
                                            data: { 'StaffId': staffId, 'Status': sid, 'refSave': refSave, 'DOL': DOL },
                                            success: function (result) {
                                                if (result.status == "success") {

                                                    ToastMessage("Status changed successfully", "success", true, 5000);
                                                    //if(result.IsActiveStatus)
                                                    //    $("#IsActive").prop("checked",true);
                                                    //else
                                                    //    $("#IsActive").prop("checked",false);
                                                }
                                                $('#StatusHistory-detail-grid tbody').html('');
                                                if (result.list.length > 0) {
                                                    $.each(result.list, function () {
                                                        $('#StatusHistory-detail-grid tbody').append('<tr><td>' + this.StaffStatus + '</td><td>' + this.StatusDate + '</td></tr>')
                                                    })
                                                }


                                                else if (result.status == "failed") {
                                                    var validationaray = result.data.split('ε');
                                                    for (var i = 0; i < validationaray.length - 1; i++) {
                                                        ToastMessage(validationaray[i], "error", true, 5000);
                                                    }
                                                }
                                                $('#drpStaffStatus').html("");
                                                if (result.isActive == true) {
                                                    $('#drpStaffStatus').append('<option value="" selected>--Select--</option>')
                                                    $('#drpStaffStatus').append('<option value="InActive">InActive</option>')
                                                }
                                                else {
                                                    $('#drpStaffStatus').append('<option value="" selected>--Select--</option>')
                                                    $('#drpStaffStatus').append('<option value="Active">Active</option>')
                                                }


                                                if (result.MinStatusDate != null) {
                                                    var max = (result.MinStatusDate).split('/');
                                                    var newdate = new Date(max[2], max[1] - 1, max[0])

                                                    $("#statusDate").attr("readonly", false);
                                                    $("#statusDate").kendoDatePicker({
                                                        value: newdate,
                                                        dateInput: true,
                                                        format: "dd/MM/yyyy",
                                                        min: newdate
                                                    });
                                                    $("#statusDate").attr("readonly", true);
                                                }
                                                $('#ks_loader').hide();
                                            },
                                            error: function (xhr, status) {
                                                var err = "Error " + " " + status;
                                                ToastMessage(err, "error", true, 5000);
                                                $('#ks_loader').hide();
                                            }
                                        });
                                         var stgrid = $('#Staff-grid').data('kendoGrid');
                                         stgrid.dataSource.page(); //new search. Set page size to 1
                                        stgrid.dataSource.read(); //we already loaded the grid above using "page" function
                                        $("#StaffStatushistory-div").hide();

                                    }
                                    else {
                                        $("#StaffStatushistory-div").show();
                                        alert('Please select any Date');
                                        $('#ks_loader').hide();
                                    }
                                }
                            }
                        },
                        error: function (xhr, status) {
                            var err = "Error " + " " + status;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
        
      
    })
    $("#backtoStatusDiv").click(function () {
        $(".stafftimetablebody").hide();
        $(".staffstatusDivbody").show();
    })
    function additionalDataOfStaffTimeTable() {
        var data = {
            EncStaff_Id: staffId,
        };
        addAntiForgeryToken(data);
        return data;
    }
     addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };
    $("#close_statusStaff,#closeStatusDiv").click(function(){
        $("#StaffStatushistory-div").hide();
    });
    function activaTab(){
    $('.nav-tabs a[href="#ExperienceTab"]').tab('show');
};
    $(document).on('click', '.viewExpAcademics', function () {
        activaTab();
        $("#Experiencebody").html("");
           $("#Academicsbody").html("");
        $("#DetailsViewPopUp").show();
        var EncStaffId = $(this).attr("dataid");
        var name = $(this).attr("datanm");

        if (EncStaffId != null && EncStaffId != "") {
            $.ajax({
                type: "POST",
                async: false,
                url: '@Html.Raw(Url.Action("GetExpAcdemicsList", "Staff"))',
                data: { 'StaffId': EncStaffId },
                success: function (result) {
                    if (result.status == "success") {
                        debugger
                        $("#DetailsViewPopUpheading").html("Name : " + name);
                        if (result.StaffExperienceList.length == 0 && result.StaffQualificationList.length==0) {
                              ToastMessage("Details Not Available", "error", true, 5000);
                            return false;
                        }
                        if (result.StaffExperienceList.length > 0) {
                            var exphtml = "";
                            $.each(result.StaffExperienceList, function (value, data) {
                                exphtml += ' <tr>'
                                exphtml += ' <td class="staffEId" hidden>' + data.StaffExperienceId + '</td>';
                                exphtml += '<td class="clsExperienceImage" hidden>' + data.ExperienceImage + '</td>';
                                exphtml += '<td class="clsOrgansation"> ' + data.Organsation + '</td >';
                                exphtml += '<td class="clsDesignation">' + data.Designation + '</td >';
                                exphtml += '<td class="clsCity">' + data.City + '</td >';
                                exphtml += '<td class="clsJoiningDate">' + data.JoiningDate + '</td >';
                                exphtml += '<td class="clsLeavingDate">' + data.LeavingDate + '</td >';

                                exphtml += '<td class="text-center">';
                                if (data.IsExperienceDocument) {
                                    exphtml += '<a title="Download Document" data-split="'+data.imgExDocumentType+'" data-title="'+data.Organsation+'doc" data-toggle="tooltip" dataid=' + EncStaffId + ' data-placement="top" href="javascript:void(0)" data-documentType=' + data.imgExDocumentType + ' data-Image=' + data.ExperienceImage + ' style="" class="btn btn-xs btn-default viewDocument"><i class="fa fa-eye"></i></a>';
                                }
                                     exphtml += '</td>'
                                exphtml += '</tr>'
                            })
                            $("#Experiencebody").html(exphtml);
                            $("#StaffExperience-detail-grid").show();
                            $("#expNoDta").hide();
                        } else {
                              $("#expNoDta").show();
                            $("#StaffExperience-detail-grid").hide();
                        }

                         if (result.StaffQualificationList.length > 0) {
                                var qaulhtml = "";
                            $.each(result.StaffQualificationList, function (value, data) {
                                qaulhtml += ' <tr>'
                                qaulhtml += ' <td class="staffQId" hidden>' + data.StaffQualificationId + '</td>';
                                qaulhtml += '<td class="clsQualificationImage" hidden>' + data.QualificationImage + '</td>';
                                qaulhtml += '<td class="clsExamPassed"> ' + data.ExamPassed + '</td >';
                                qaulhtml += '<td class="clsBoardUniversity">' + data.BoardUniversity + '</td >';
                                qaulhtml += '<td class="clsInstitutionName">' + data.InstitutionName + '</td >';
                                qaulhtml += '<td class="clsPassingYear">' + data.PassingYear + '</td >';
                                qaulhtml += '<td class="clsObtainedMarks">' + data.ObtainedMarks + '</td >';
                                qaulhtml += '<td class="clsTotalMarks">' + data.TotalMarks + '</td >';

                                qaulhtml += '<td class="text-center">';
                                if (data.IsQualificationDocument) {
                                    qaulhtml += '<a title="Download Document" data-split="'+data.imgDocumentType+'" data-title="'+data.ExamPassed+'doc" data-toggle="tooltip" dataid=' + EncStaffId + ' data-placement="top" href="javascript:void(0)" data-documentType=' + data.imgDocumentType + ' data-Image=' + data.QualificationImage + ' style="" class="btn btn-xs btn-default viewDocument"><i class="fa fa-eye"></i></a>';
                                }
                                qaulhtml += '</td>'
                                qaulhtml += '</tr>'

                            })
                             $("#Academicsbody").html(qaulhtml);
                               $("#AcaNoDta").hide();
                            $("#StaffQualification-detail-grid").show();
                        } else {
                              $("#AcaNoDta").show();
                            $("#StaffQualification-detail-grid").hide();
                        }
                         $("#DetailsViewPopUp").show();
                    }
                },
                 error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
        }
        else {
             ToastMessage("Invalid Staff", "error", true, 5000);
                        $('#ks_loader').hide();
        }
    })
    $("#close_DetailsViewPopUp").click(function () {
        $("#DetailsViewPopUp").hide();
    });
    $(document).on('click', '.viewDocument', function () {
        $("#documentpdf").hide();
         $("#documentImg").hide();
            $("#lbldocumentName").hide();
        $("#documentpdf").attr("data", "");
        $("#documentImg").attr("src", "");
        $("#download_document").attr("data-download", "");
        $("#download_document").attr("download", "");
        var title= $(this).attr("data-title").trim();
        var imgsrc = $(this).attr("data-Image");
        var DocType = $(this).attr("data-split");
        if (imgsrc != "" && imgsrc != null) {
            if (DocType.toLowerCase() == "jpg" || DocType.toLowerCase() == "jpeg" || DocType.toLowerCase() == "png") {
                $("#documentImg").attr("src", imgsrc)
            $("#documentImg").show();
            } else if (DocType.toLowerCase() == "pdf" ){
                $("#documentpdf").attr("data", imgsrc);
                $("#documentpdf").show();
            }
            $("#download_document").attr("href", imgsrc);
              $("#download_document").attr("download",title);
        } else {
            $("#lbldocumentName").show();
        }
        $("#DocumentViewPopUp").show();
        //$("#documentImg").hide();
        //$("#lbldocumentName").html("");
        //$("#lbldocumentName").hide();
        //var image = $(this).attr("data-QualificationImage");
        //var DocumentType = $(this).attr("data-documentType");
        //var DocumentName = $(this).attr("data-dcname");
        //$("#download_document").attr("data-download", "");
        //$("#documentImg").attr("src", "");
        //if (image != null && image != "") {
        //    $("#download_document").attr("data-download", image);
        //    if (DocumentType == 'jpg' || DocumentType == 'png' || DocumentType == 'jpeg') {
        //        $("#documentImg").attr("src", image);
        //        $("#documentImg").show();
        //        $("#DocumentViewPopUp").show();
                
        //    } else {
        //        $("#lbldocumentName").html(DocumentName);
        //         $("#lbldocumentName").show();
        //        $("#DocumentViewPopUp").show();
        //    }
        //}
    })
    //$("#download_document").click(function () {
    //         var image = $(this).attr("data-download");
    //                var a = document.createElement('a');
    //                a.href = image;
    //                a.download = image;
    //                document.body.appendChild(a);
    //                a.click();
    //                document.body.removeChild(a);
    //})

    //$("#close_documentView").click(function () {
    //      $("#DocumentViewPopUp").hide();
    //      $("#documentImg").hide();
    //    $("#lbldocumentName").html("");
    //    $("#lbldocumentName").hide();
    //    $("#download_document").attr("data-download", "");
    //    $("#documentImg").attr("src", "");
    //})
</script>
<!-- Modal for checkboxes -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title text-center">Select Columns For Excel Report</h4>
            </div>
            @*<div class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>*@
            <div class="modal-body">
                <table id="checkTable">
                    <thead>
                        <tr>
                            <th><input type="checkbox" style="height:auto;width:auto;cursor:pointer" id="SelcetAllcheckbox" /><label>Select All</label></th>
                        </tr>
                    </thead>
                    <tbody id="CheckboxDiv"></tbody>
                </table>
                <script type="text/javascript">
                    $('#checkTable tbody').sortable({
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" id="ExpToExclSelectedColumns" style="display:none" class="btn btn-success" data-dismiss="modal">Export To Excel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-popup" id="DocumentViewPopUp" hidden>
    <div class="modal-popup-body custom-modal-popup" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Document</h4>
            </div>
            <div class="modal-body documentBody" style="height:500px">
                <img title="" id="documentImg" style="width:90%;height:90%;display:none;" src="" />
                <label id="lbldocumentName" style="display:none"></label>
                <object id="documentpdf" data="" type="application/pdf" style="width:100%;height:100%;display:none"></object>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-success" href="" id="download_document" download="">
                    Download
                </a>
                <button type="button" class="btn btn-default " id="close_documentView">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    //$("#download_document").click(function () {
    //  var image = $(this).attr("data-download");
    //                var a = document.createElement('a');
    //                a.href = image;
    //                a.download = image;
    //                document.body.appendChild(a);
    //                a.click();
    //                document.body.removeChild(a);
    //})
    $("#close_documentView").click(function () {
        $("#DocumentViewPopUp").hide();
        $("#DetailsViewPopUp").show();
    })
</script>