﻿@model ViewModel.ViewModel.Staff.StaffAttendanceReportModel

@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
    ViewBag.Title = "StaffAttendanceReport";
}
<style>
    .multiselect.dropdown-toggle.btn.btn-default {
        width: 145px;
    }

    .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
        padding: 2px;
    }

    .select2-container--default {
        width: 100% !important;
    }

        .select2-container--default .select2-selection--single {
            height: 34px;
            border-radius: 4px;
        }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 33px;
            }

    #staffAttendanceListBody thead, #staffAttendanceListBody tbody, #staffAttendanceListBody tbody tr,
    #staffAttendanceListBody tbody tr td,
    #staffAttendanceListBody thead tr th {
        display: block !important;
    }

    #staffAttendanceListBody tr:after {
        content: ' ' !important;
        display: block !important;
        visibility: hidden !important;
        clear: both !important;
    }

    #staffAttendanceListBody thead tr th {
        height: 30px !important;
        /*text-align: left;*/
    }

    #staffAttendanceListBody tbody {
        height: 600px !important;
        overflow-y: auto !important;
        float: left;
        width: 100%;
    }

        #staffAttendanceListBody tbody tr td, #staffAttendanceListBody thead tr th {
            width: 24.3px !important;
            font-size: 11px !important;
            float: left !important;
            white-space: normal !important;
            padding: 8px 2px !important;
            height: 28px !important;
            overflow: hidden;
        }

    #staffAttendanceListBody thead tr {
        width: 100%;
        float: left;
    }

    #staffattendancelist {
        overflow-x: auto !important;
    }

    #staffAttendanceListBody {
        /*width: 945px !important;*/
        max-width: 1960px !important;
    }
</style>


<!--Modal For Attendace Report-->
<div class="modal fade" id="myDetailModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog" style="height:700px">
        <div class=" modal-content">
            <div class=" modal-header">
                <h4 class="modal-title" id="mystaffPunchModalLabel">
                    <label id="staffNamelbl"></label>
                    <br />
                    <span id="Empcodelbl"></span>
                    <span style="float:right;" id="datelbl"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div id="Detail-grid" style="height:400px">
                    </div>
                    <script>

                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row top-space-10">
                    <div class="col-md-12 ">
                        <button type="button" data-dismiss="modal" class="btn btn-danger pull-right" id="closeDetailModal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal For Attendace Report-->


<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Staff Attendance Report</h1>
    </div>
    <div class="col-md-6 text-right">
        <a id="btnExport" class="btn btn-default btn-xs">Export To Excel</a>
    </div>
</div>

<div class="row top-space-10">
    <div class="col-md-2">
        <label class="control-label">Session</label>
        @Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "form-control" })
    </div>

    <div class="col-md-2">
        <label class="control-label">Type</label>
        <select id="TypeSelection" class="form-control">
            <option>Day</option>
            <option>Month</option>
            <option>Teacher</option>
            <option>Non-Teaching</option>
            <option>Summary</option>
        </select>
    </div>
    <div class="col-md-2" id="dymanic_list_Div" hidden>
        <label class="control-label" id="dynamic-label"></label>
        <select id="DynamicList" class="form-control drop-down"></select>
    </div>
    <div id="SelectionDayFilters" hidden>
        <div class="col-md-2">
            <label class="control-label">Att. Status </label>
            @Html.DropDownListFor(model => model.AttendanceStatusIds, Model.AttendanceStatusList,
                                     new { @class = "form-control", @style = "width:145px!important", @multiple = "multiple" })
        </div>
        <div class="col-md-2">
            <label class="control-label"> Date </label><br />
            @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @style = "width:150px!important" })
        </div>
        <div class="col-md-3">
            <label class="control-label">Att. Type</label><br />
            <select id="AttendanceTypeId" class="form-control" style="width:175px">
                @foreach (var atdtype in Model.AttendanceTypes)
                {
                    if (atdtype.Selected == true)
                    {
                        <option selected value="@atdtype.Value">@atdtype.Text</option>
                    }
                    else
                    {
                        <option value="@atdtype.Value">@atdtype.Text</option>
                    }
                }
            </select>
        </div>

        <div class="col-md-3">
            <label class="control-label">Att. Mode</label>
            <select id="AttendanceMode" class="form-control" style="width:175px">
                @foreach (var atdtype in Model.AttendanceModes)
                {
                    if (atdtype.Selected == true)
                    {
                        <option selected value="@atdtype.Value">@atdtype.Text</option>
                    }
                    else
                    {
                        <option value="@atdtype.Value">@atdtype.Text</option>
                    }
                }
            </select>
        </div>
        @*<div class="col-md-2">
                <label class="control-label"> Class </label>
                @Html.DropDownListFor(model => model.ClassId, Model.ClassList, new
                                   {
                                       @class = "form-control",
                                       @style = "width:150px!important"
                                   })
            </div>*@
    </div>

    <div class="col-md-2">
        <input type="button" id="genreport" value="Generate Report" class="btn btn-default" style="margin-top: 24px;" />
    </div>
    <div id="hdntbleExporttoExcel" style="display:none"></div>
    <!-- Kendo Gird -->
    <div class="row">
        <div class="col-md-12 top-space-20">
            <div id="StaffAttendance_Status-grid" hidden>
                <script>
                    $(document).ready(function () {
                        $("#StaffAttendance_Status-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetStaffWithAttendance", "Staff"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalStuRepoData
                                    },
                                    parameterMap: function (data) {
                                        return JSON.stringify(data);
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: '@(defaultGridPageSize)',
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            dataBound: onDataBound,
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            sortable: true,
                            columns: [{
                                field: "Staff_Id",
                                hidden: true,
                                headerAttributes: { class: "removehtml" },
                               attributes: { class: "removehtml" }
                            }, {
                                field: "StaffName",
                                title: "Staff",
                                sortable: true
                            }, {
                                field: "EmpCode",
                                title: "Emp Code",
                                sortable: true
                            }, {
                                field: "Designation",
                                title: "Designation",
                                sortable: true
                            }, {
                                field: "AttendanceStatus",
                                title: "AttendanceStatus",
                                sortable: true
                            }, {
                                field: "AttendanceInTime",
                                title: "In Time",
                                sortable: true
                            },{
                                field: "ModeInTime",
                                title: "InTime Mode",
                                sortable: true
                            }, {
                                field: "AttendanceOutTime",
                                title: "Out Time",
                                sortable: true
                            }, {
                                field: "ModeOutTime",
                                title: "OutTime Mode",
                                sortable: true
                            }, {
                                field: "AttendanceMode",
                                title: "Mode",
                                hidden: true
                            }, {
                                    field: "Action",
                                headerAttributes: { class: "removehtml" },
                                 attributes: { class: "removehtml" },
                                template: '#if(ShowViewPunchesBtn){#<a href="javascript:void(0);"'
                                         + ' class="staffpunchDetails btn btn-xs btn-default" title="View Details">'
                                         + '<i class="fa fa-eye"></i></a>#}'
                                         + 'else{#<div class="hdsdgd" style="display:none" ></div>#}#',

                            }]
                        });
                        var grid = $("#StaffAttendance_Status-grid").data("kendoGrid");

                    });

                    function onDataBound(arg) {
                        $('[data-toggle="tooltip"]').tooltip();
                    }

                    function additionalStuRepoData() {
                        var data = {
                            ClassId: parseInt($('#ClassId').val()),
                            AttendanceStatusIds: $("#AttendanceStatusIds").val(),
                            Date: $("#Date").val(),
                            AttendanceTypeId: $("#AttendanceTypeId").val(),
                             AttendaceModeId:$("#AttendanceMode").val(),
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                    addAntiForgeryToken = function (data) {
                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                </script>
            </div>
        </div>
    </div>
    <!-- Kendo Gird -->
</div>

<script>
    $(document).on("click", ".staffpunchDetails", function () {
        // $("#StuAttendanceRepo-grid").on('click', '.punchDetails', function () {
        var row = $(this).parent().parent();
        var StaffId = row.find("td:nth-child(1)").text();
        $("#staffNamelbl").html(row.find("td:nth-child(2)").text());
        $("#Empcodelbl").html(row.find("td:nth-child(3)").text());
        $("#datelbl").html("Date  :" + $("#Date").val());
        $(document).ready(function () {
            $("#Detail-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("GetPunchStaffDetail", "Staff"))",
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json",
                            data: additionalStuRepoDetail
                        },
                        parameterMap: function (data) {
                            return JSON.stringify(data);
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: '@(defaultGridPageSize)',
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                dataBound: onDataBound,
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                scrollable: true,
                sortable: true,
                columns: [{
                    field: "StaffId",
                    hidden: true
                }, {
                    field: "SN",
                    title: "S.NO.",
                    sortable: true,
                    width: "10%"
                }, {
                    field: "DeviceSerialNo",
                    title: "Device No",
                    template: '#if(DeviceSerialNo!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="#=DeviceSerialNo#"><font>#=DeviceSerialNo#</font></i>#}#',
                    sortable: true
                }, {
                    field: "Location",
                    title: "Location",
                    sortable: true
                }, {
                    field: "Time",
                    title: "Time",
                    sortable: true
                }]
            });
            var grid = $("#Detail-grid").data("kendoGrid");
        });

        function onDataBound(arg) {
            $('[data-toggle="tooltip"]').tooltip();
        }

        function additionalStuRepoDetail() {
            var data = {
                Staff_Id: StaffId,
                Date: $("#Date").val()
            };
            addAntiForgeryToken(data);
            return data;
        }

        addAntiForgeryToken = function (data) {
            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
            return data;
        };
        $('#myDetailModal').modal('show')
    });

    $("#ClassId").select2({});
    $("#Date").kendoDatePicker({
        format: "dd/MM/yyyy",
        value: new Date
    });
    $("#Date").attr("readonly", true);
    $("#AttendanceStatusIds").multiselect({
        nonSelectedText: "All"
    });
    $(document).ready(function () {
        $('#TypeSelection').val($('#TypeSelection').val()).trigger('change');
    });

    $('#TypeSelection').change(function () {
        $("#SelectionDayFilters").hide();
        $("#StaffAttendance_Status-grid").hide();
        $('#dymanic_list_Div').hide();
        var type = $('#TypeSelection option:selected').text();
        if (type == "Day") {
            $("#SelectionDayFilters").show();
        }
        else if (type == "Month") {

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetMonthList", "Staff"))',
                data: {},
                success: function (result) {
                    if (result.status == "success") {
                        var monthlist = "";
                        for (var i = 0; i < result.AvailableMonthList.length; i++) {
                            monthlist += "<option value=" + result.AvailableMonthList[i].Value + ">" + result.AvailableMonthList[i].Text + "</option>";
                        }
                        $('#dynamic-label').text('Months');
                        $('#DynamicList').html('');
                        $('#DynamicList').append(monthlist);
                        $('#dymanic_list_Div').show();

                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });

        } else if (type == "Teacher") {

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetTeachersList", "Staff"))',
                data: {},
                success: function (result) {
                    if (result.status == "success") {

                        var teacherslist = "";
                        for (var i = 0; i < result.AvailableTeacherList.length; i++) {
                            teacherslist += "<option value=" + result.AvailableTeacherList[i].Value + ">" + result.AvailableTeacherList[i].Text + "</option>";
                        }
                        $('#dynamic-label').text('Teachers');
                        $('#DynamicList').html('');
                        $('#DynamicList').append(teacherslist);
                        $('#dymanic_list_Div').show();

                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        } else if (type == "Non-Teaching") {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetNonTeachingList", "Staff"))',
                data: {},
                success: function (result) {
                    if (result.status == "success") {
                        var teacherslist = "";
                        for (var i = 0; i < result.AvailableTeacherList.length; i++) {
                            teacherslist += "<option value=" + result.AvailableTeacherList[i].Value + ">"
                                                            + result.AvailableTeacherList[i].Text + "</option>";
                        }
                        $('#dynamic-label').text('Non-Teaching');
                        $('#DynamicList').html('');
                        $('#DynamicList').append(teacherslist);
                        $('#dymanic_list_Div').show();

                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        } else if (type == "Summary") {
            var Summarylist = "";
            Summarylist += "<option value='1'>Percentage</option><option value='2'>Day</option>";
            $('#dynamic-label').text('Measurement');
            $('#DynamicList').html('');
            $('#DynamicList').append(Summarylist);
            $('#dymanic_list_Div').show();
        }
    })

</script>

<div class="row top-space-10">
    <div class="col-md-12" id="staffOtherattendancelist" hidden>
        <table class="table table-responsive table-condensed table-striped table-bordered" id="staffOtherAttendanceList" style="margin-bottom:0px!important;">
            <thead class="thead-default">
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-md-12" id="staffSummaryattendancelist" hidden>
    </div>
    <div class="col-md-12" id="staffattendancelist" hidden>
        <table class="table table-striped table-bordered " id="staffAttendanceListBody" style="margin-bottom:0px!important;">
            <thead class="thead-default">
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@*<div id="contentArea" style="display:none"></div>*@
@using (Html.BeginForm("CreateHtmlExcel", "Common", FormMethod.Post))
{
    @Html.HiddenFor(m => m.htmldata)
    <input type="submit" id="triggerpdfstudentreg" title="Download Pdf" class="btn btn-xs pull-right btn-default" value="download" style="display:none" />
}

<script src="~/Scripts/table2excel.js"></script>
<script>
    var today = new Date();
    $("#Year").kendoDatePicker({
        start: "decade",
        depth: "decade",

        // display month and year in the input
        format: "yyyy",
        value: today,
        // specifies that DateInput is used for masking the input element
        dateInput: true
    })
    $("#Year").prop('readonly', true);

    //$('#Year').keydown(function (e) {
    //    NumericOnly(e);
    //});

    $(document).on('click', '#genreport', function () {
        $('#staffattendancelist').hide();
        $('#staffSummaryattendancelist').hide();
        $('#staffSummaryattendancelist').html('');
        $('#staffAttendanceListHead').html('');
        $('#staffAttendanceListBody thead').html('');
        $('#staffAttendanceListBody tbody').html('');

        $("#staffOtherAttendanceList thead").html('');
        $('#staffOtherAttendanceList tbody').html('');

        $('#ks_loader').show();
        var type = $('#TypeSelection option:selected').val();

        if (type == "Day") {
            $("#StaffAttendance_Status-grid").show();
            var grid = $("#StaffAttendance_Status-grid").data("kendoGrid");
            grid.dataSource.page(1);
            $('#ks_loader').hide();
        }
        else if (type == "Month") {
            if ($("#DynamicList").val() > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GenerateAtnReport", "Staff"))',
                    data: { "SessionId": $("#SessionId").val(), "MonthId": $("#DynamicList").val() },
                    success: function (result) {
                        if (result.status == "success") {

                            if (result.status != "" && result.headlist != "" && result.attendancelist != "") {
                                var header = "<tr>";
                                for (var i = 0; i < result.headlist.length; i++) {
                                    var OnlClickSortFunction = "";
                                    OnlClickSortFunction = "sortTeacherName(" + i + ")";
                                    if (result.headlist[i].includes('Teacher')) {
                                        header += "<th onclick='" + OnlClickSortFunction + "' style='cursor:pointer;width: 20% !important;'  title='sort column'>" + result.headlist[i] + "</th>";
                                    }
                                    else if (result.headlist[i].includes('Emp Code')) {
                                        header += "<th onclick='" + OnlClickSortFunction + "' style='cursor:pointer;width: 10% !important;'  title='sort column'>"
                                                                + result.headlist[i] + "</th>";
                                    }
                                    else
                                        header += "<th >" + result.headlist[i] + "</th>";
                                }
                                header += "</tr>";
                                //$("#staffAttendanceListHead").append(header);
                                $("#staffAttendanceListBody thead").append(header);
                                for (var i = 0; i < result.attendancelist.length; i++) {
                                    var row = "<tr>"
                                             + "<td style='width: 20.3% !important;'>" + result.attendancelist[i].TeacherName + "</td>"
                                             + "<td  style='width: 10.19% !important;'>" + result.attendancelist[i].EmpCode + "</td>"
                                    for (var k = 0; k < result.attendancelist[i].AttendanceStatus.length; k++) {
                                        row += "<td >" + result.attendancelist[i].AttendanceStatus[k] + "</td>";
                                    }
                                    row += "</tr>";

                                    $("#staffAttendanceListBody tbody").append(row);
                                }
                            }


                            $('#ks_loader').hide();
                            //$("#contentArea").html($("#staffAttendanceList").html());
                            //$("#contentArea table").kendoGrid({});
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
                $('#staffattendancelist').show();
            } else {

                ToastMessage("Please Select Month", "error", true, 5000);
                $('#ks_loader').hide();
            }
        } else if (type == "Teacher") {
            if ($("#DynamicList").val() > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GenerateAtnReportTeacherWise", "Staff"))',
                    data: { "SessionId": $("#SessionId").val(), "TeacherId": $("#DynamicList").val() },
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.status != "" && result.headlist != "" && result.attendancelist != "") {
                                var header = "<tr>";
                                for (var i = 0; i < result.headlist.length; i++) {
                                    header += "<th>" + result.headlist[i] + "</th>";
                                }
                                header += "</tr>";
                                $("#staffOtherAttendanceList thead").append(header);

                                for (var i = 0; i < result.attendancelist.length; i++) {
                                    var row = "<tr>"
                                             + "<td>" + result.attendancelist[i].MonthName + "</td>"
                                    for (var k = 0; k < result.attendancelist[i].AttendanceStatus.length; k++) {
                                        row += "<td>" + result.attendancelist[i].AttendanceStatus[k] + "</td>";
                                    }
                                    row += "</tr>";

                                    $("#staffOtherAttendanceList tbody").append(row);
                                }
                            }

                            $('#ks_loader').hide();

                            //$("#contentArea").html($("#staffAttendanceList").html());
                            //$("#contentArea table").kendoGrid({});
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });

                $('#staffOtherattendancelist').show();
            } else {
                $('#staffOtherattendancelist').hide();
                ToastMessage("Please Select Teacher", "error", true, 5000);
                $('#ks_loader').hide();
            }
        } else if (type == "Non-Teaching") {
            if ($("#DynamicList").val() > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GenerateAtnReportTeacherWise", "Staff"))',
                    data: { "SessionId": $("#SessionId").val(), "TeacherId": $("#DynamicList").val() },
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.status != "" && result.headlist != "" && result.attendancelist != "") {
                                var header = "<tr>";
                                for (var i = 0; i < result.headlist.length; i++) {
                                    header += "<th>" + result.headlist[i] + "</th>";
                                }
                                header += "</tr>";
                                $("#staffOtherAttendanceList thead").append(header);

                                for (var i = 0; i < result.attendancelist.length; i++) {
                                    var row = "<tr>"
                                             + "<td>" + result.attendancelist[i].MonthName + "</td>"
                                    for (var k = 0; k < result.attendancelist[i].AttendanceStatus.length; k++) {
                                        row += "<td>" + result.attendancelist[i].AttendanceStatus[k] + "</td>";
                                    }
                                    row += "</tr>";

                                    $("#staffOtherAttendanceList tbody").append(row);
                                }
                            }

                            $('#ks_loader').hide();

                            //$("#contentArea").html($("#staffAttendanceList").html());
                            //$("#contentArea table").kendoGrid({});
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
                $('#staffOtherattendancelist').show();
            } else {
                $('#staffOtherattendancelist').hide();
                ToastMessage("Please Select Teacher", "error", true, 5000);
                $('#ks_loader').hide();
            }
        } else if (type == "Summary") {
            if ($("#DynamicList").val() > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GenerateAtnReportSummaryWise", "Staff"))',
                    data: { "SessionId": $("#SessionId").val(), "SummaryType": $("#DynamicList option:Selected").text() },
                    success: function (result) {
                        $("#staffSummaryattendancelist").show();
                        $("#staffSummaryattendancelist").html("");
                        if (result.status == "success") {
                            if (result.StaffAttendanceSummHtml != "")
                                $("#staffSummaryattendancelist").append(result.StaffAttendanceSummHtml);

                            if (result.status != "" && result.headlist != "" && result.attendancelist != "") {
                                var header = "<tr>";
                                //for (var i = 0; i < result.headlist.length; i++) {
                                //    var OnlClickSortFunction = "";
                                //    OnlClickSortFunction = "sortSummaryTeacherName(" + i + ")";
                                //    if (result.headlist[i].includes("StaffId")) {
                                //        header += "<th hidden>" + result.headlist[i] + "</th>";
                                //    }
                                //    else if (result.headlist[i].includes('EmpName')) {
                                //        header += "<th onclick='" + OnlClickSortFunction + "' style='cursor:pointer; title='sort column'>" + result.headlist[i] + "</th>";
                                //    }
                                //    else if (result.headlist[i].includes('EmpCode')) {
                                //        header += "<th onclick='" + OnlClickSortFunction + "' style='cursor:pointer; title='sort column'>"
                                //                                + result.headlist[i] + "</th>";
                                //    }
                                //    else
                                //        header += "<th>" + result.headlist[i] + "</th>";
                                //}
                                //header += "</tr>";
                                //$("#staffOtherAttendanceList thead").append(header);

                                //for (var i = 0; i < result.bodylist.length; i++) {
                                //    var row = "<tr>"
                                //    for (var j = 0; j <= result.headlist.length; j++) {

                                //        i++;
                                //        if (j == result.headlist.length) {
                                //            i--;
                                //            return false;
                                //        }

                                //        if (j == 0)
                                //            row += "<td hidden>" + result.bodylist[j] + "</td>";
                                //        else
                                //            row += "<td>" + result.bodylist[j] + "</td>";
                                //    }
                                //    row += "</tr>";

                                //    $("#staffOtherAttendanceList tbody").append(row);
                                //}
                            }

                            $('#ks_loader').hide();

                            //$("#contentArea").html($("#staffAttendanceList").html());
                            //$("#contentArea table").kendoGrid({});
                        }
                        else {
                            ToastMessage(result.data, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
                $('#staffOtherattendancelist').show();
            } else {
                $('#staffOtherattendancelist').hide();
                ToastMessage("Please Select Teacher", "error", true, 5000);
                $('#ks_loader').hide();
            }
        }


    });

    function sortTeacherName(n) {
        $('#ks_loader').show();
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("staffAttendanceListBody");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1) ; i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }

        $('#ks_loader').hide();
    }

    function sortSummaryTeacherName(n) {
        $('#ks_loader').show();
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tblstaffSummaryRept");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1) ; i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }

        $('#ks_loader').hide();
    }

    $("#btnExport").click(function () {
        @*$.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("Export_Atn", "Staff"))',
                data: { },
                success: function (result) {
                    if (result.status == "success") {
                        window.location.href = "../Staff/ExportAtnReport?MonthId=" + $("#monthDropdown").val() + "&Year=" + $("#Year").val();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });*@
        $("#hdntbleExporttoExcel").html("");
        var selectedType = $("#TypeSelection :selected").text();
        var prependrow = "";
        if (selectedType.trim().toLowerCase() == "month") {
            var mnth = $("#DynamicList :selected").text();
            prependrow = "<tr class='removeIstRow'><td style='text-align:center;' colspan='" + $("#staffAttendanceListBody thead>tr>th").length + "'><b>Staff Attendance Report Of Month " + mnth + "</b></td></tr>"
        } else if (selectedType.trim().toLowerCase() == "teacher") {
            var tchr = $("#DynamicList :selected").text();
            prependrow = "<tr class='removeIstRow'><td style='text-align:center;' colspan='" + $("#staffOtherAttendanceList thead>tr>th").length + "'><b>Staff Attendance Report Of Teacher " + tchr  + "</b></td></tr>"
        }else if (selectedType.trim().toLowerCase() == "non-teaching") {
            var tchr = $("#DynamicList :selected").text();
            prependrow = "<tr class='removeIstRow'><td style='text-align:center;' colspan='" + $("#staffOtherAttendanceList thead>tr>th").length + "'><b>Staff Attendance Report Of Non-Teaching " + tchr  + "</b></td></tr>"
        }else if (selectedType.trim().toLowerCase() == "summary") {
            var smmry = $("#DynamicList :selected").text();
            prependrow = "<tr class='removeIstRow'><td style='text-align:center;' colspan='" + $("#tblstaffSummaryRept thead>tr>th").length + "'><b>Staff Attendance Report Summary By "+smmry+" Wise</b></td></tr>"
        }
        else if (selectedType.trim().toLowerCase() == "day") {
            var date = $("#Date").val();
           prependrow = "<tr class='row removeIstRow'><td style='text-align:center;' colspan='" + $("#StaffAttendance_Status-grid table>thead>tr>th").length + "'><b>Staff Attendance Report For Date "+date+"</b></td></tr>"

        }


        if ($('#staffAttendanceListBody').find('tr').length > 0) {
            if (prependrow != "") {
                $('#staffAttendanceListBody thead').prepend(prependrow);
            }
            $('#htmldata').val("<table>" + $('#staffAttendanceListBody').html() + "</table>");
             $('#staffAttendanceListBody tr.removeIstRow').remove();
            $('#triggerpdfstudentreg').trigger('click');
        }
        else if ($('#tblstaffSummaryRept').find('tr').length > 0) {
             if (prependrow != "") {
                $('#tblstaffSummaryRept thead').prepend(prependrow);
            }
            $('#htmldata').val("<table>" + $('#tblstaffSummaryRept').html() + "</table>");
             $('#tblstaffSummaryRept tr.removeIstRow').remove();
            $('#triggerpdfstudentreg').trigger('click');

        }
        else if ($('#staffOtherattendancelist').find('tr').length > 0) {
              if (prependrow != "") {
                $('#staffOtherattendancelist').prepend(prependrow);
            }
            $('#htmldata').val("<table>" + $('#staffOtherattendancelist').html() + "</table>");
             $('#staffOtherattendancelist tr.removeIstRow').remove();
            $('#triggerpdfstudentreg').trigger('click');
        }
        else if ($('#StaffAttendance_Status-grid').find('tr').length > 0) {
             $('#ks_loader').show();
        //var ggrid = $("#StaffAttendance_Status-grid").data("kendoGrid");
        //ggrid.hideColumn("Action");
        //ggrid.saveAsExcel();
        //setTimeout(function(){
        //    ggrid.showColumn("Action");
        //    $('#ks_loader').hide();
        //},5000);
            var appendhtml = $('#StaffAttendance_Status-grid').html();
            $("#hdntbleExporttoExcel").append(appendhtml);
            if (prependrow != "") {
                $("#hdntbleExporttoExcel thead").prepend(prependrow);
            }
            $("#hdntbleExporttoExcel th.removehtml").remove();
            $("#hdntbleExporttoExcel td.removehtml").remove();
            $("#hdntbleExporttoExcel").find("div[data-role='pager']").remove();
            $('#htmldata').val("<table>" + $('#hdntbleExporttoExcel').html() + "</table>");

            $('#triggerpdfstudentreg').trigger('click');

            //var grid = $("#StaffAttendance_Status-grid").data("kendoGrid");
            //grid.saveAsExcel();
          //  $("#StaffAttendance_Status-grid tr.removeIstRow").remove();
        }
        else {
            ToastMessage("No Data found to Export", "error", true, 5000);


            //if ($('#staffAttendanceList').find('tr').length > 0) {
            //    debugger;
            //    var uri = 'data:application/vnd.ms-excel;base64,'
            //              , template = '<html xmlns:x="urn:schemas-microsoft-com:office:excel"><head>'+
            //                            '<meta http-equiv="Content-Type" content="text/html;charset=windows-1252">'+
            //                            '<!--[if gte mso 9]><xml>'+
            //                            '<x:ExcelWorkbook><x:ExcelWorksheets>'+
            //                            '<x:ExcelWorksheet><x:Name>gridlineTest</x:Name>'+
            //                            '<x:WorksheetOptions><x:Panes></x:Panes>'+
            //                            '</x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook>'+
            //                            '</xml>'+
            //                            '<![endif]-->'+
            //                            '</head>'+
            //                            '<body><table>{table}</table></body></html>'
            //              , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            //              , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

            //        var table;

            //        var ctx = { worksheet: "StaffAttendanceReport" || 'Worksheet', table: table.innerHTML }
            //        window.location.href = uri + base64(format(template, ctx))
            //}
            //else {
            //    ToastMessage("No Data found to Export", "error", true, 5000);
            //}
        }
    });


</script>
