﻿@model ViewModel.ViewModel.Staff.StaffReportModel

@{
    ViewBag.Title = "Teacher View By Class/Subject";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (!string.IsNullOrEmpty(Model.Notification))
    {
        <div class="col-md-12 error_notification">
            <div><i class="fa fa-ban"></i><span>@Model.Notification</span></div>
        </div>
    }
    <div class="col-md-6">
        <h1>View Teacher by Standard/Subject</h1>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("StaffReports", "Staff", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model=>model.ViewBy)
            
            <div class="row top-space-10">
                <div class="col-md-12">
                    <label class="radio-inline"><input type="radio" name="datesheetview" id="ByClass" /> Teacher By Standard</label>
                    <label class="radio-inline"><input type="radio" name="datesheetview" id="BySubject" /> Teacher By Subject</label>
                </div>
            </div>

            <div class="row top-space-20">
                <!-- Form Coulmn -->
                <div class="col-md-4 ByClass">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Standard</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandard, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <!-- //Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-4 BySubject">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Subject</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.SubjectId, Model.AvailableSubjects, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <!-- //Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-2 BySubject ByClass">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="submit" disabled style="display: none" value="Filter" id="filter_btn" class="btn btn-default" name="filter" />
                        </div>
                    </div>
                </div>
                <!-- //Form Coulmn -->
            </div>

            if (Model.StaffReportByClassSubjectList.Count > 0)
            {
                <div class="row data_grid">
                    <div class="col-md-12">
                        <table id="grid" class="table table-responsive table-striped table-condensed">
                            <thead class="thead-default">
                                <tr>
                                    <th style="width: 20%">Teacher</th>
                                    <th style="width: 80%" class="ByClass">Subject</th>
                                    <th style="width: 80%" class="BySubject">Standard</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.StaffReportByClassSubjectList.Count > 0)
                                {
                                    foreach (var item in Model.StaffReportByClassSubjectList)
                                    {
                                        <tr>
                                            @if(item.TeacherStatus)
                                            {
                                                <td>@item.TeacherName</td>
                                            }
                                            else
                                            { 
                                                <td style="color: blue;">@item.TeacherName</td>
                                            }
    
                                            <td class="ByClass">@item.SubjectName</td>
                                            <td class="BySubject">@item.StandardName</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="2">No data found</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

        }
    </div>
</div>
<!-- Page Controls -->

<script>

    $('.ByClass').hide();
    $('.BySubject').hide();

    @if (Model.ViewBy == 1)
    {
        <text>
    $('#ByClass').prop("checked", true);
    $('.ByClass').show();
    $('#filter_btn').removeAttr("disabled");
    </text> 
    }
    @if (Model.ViewBy == 2)
    {
        <text>
    $('#BySubject').prop("checked", true);
    $('.BySubject').show();
    $('#filter_btn').removeAttr("disabled");
    </text> 
    }

    $('#ByClass').click(function () {
        
        $('.data_grid').hide();

        $('.ByClass').hide();
        $('.BySubject').hide();
        $('#ViewBy').val("");

        $('#filter_btn').attr("disabled");
        $('#classsubject_grid tbody').html('');
        $('#datesheetbyclass_grid tbody').html('');

        $('#StandardId').val("");
        $('#SubjectId').val("");

        $('#Exporttoexcel').hide();
        $('#print').hide();

        if ($(this).prop("checked") == true) {
            $('.ByClass').show();
            $('#ViewBy').val("1");
            $('#filter_btn').removeAttr("disabled");
        }

    });

    $('#BySubject').click(function () {

        $('.data_grid').hide();

        $('.ByClass').hide();
        $('.BySubject').hide();
        $('#ViewBy').val("");

        $('#filter_btn').attr("disabled");
        $('#classsubject_grid tbody').html('');
        $('#datesheetbyclass_grid tbody').html('');

        $('#StandardId').val("");
        $('#SubjectId').val("");

        $('#Exporttoexcel').hide();
        $('#print').hide();

        if ($(this).prop("checked") == true) {
            $('.BySubject').show();
            $('#ViewBy').val("2");
            $('#filter_btn').removeAttr("disabled");
        }

    });


    $('#StandardId').change(function(){
        if ($(this).val() != "") {
            $('#filter_btn').trigger("click");
        }
    });

    $('#SubjectId').change(function () {
        if ($(this).val() != "") {
            $('#filter_btn').trigger("click");
        }
    });


    //$('#filter_btn').click(function () {
    //    // check if both filter empty
    //    if ($('#ByClass').prop("checked") == true)
    //    {
    //        if ($('#StandardId').val() == "") {
    //            alert("Please select Standard");
    //            return false;
    //        }
    //    }
    //    else if ($('#BySubject').prop("checked") == true) {
    //        if ($('#SubjectId').val() == "") {
    //            alert("Please select Subject");
    //            return false;
    //        }
    //    }
    //});

</script>