﻿@model ViewModel.ViewModel.Staff.StaffProfileModel

@{
    ViewBag.Title = "Staff Profile";
    //Layout = null;
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>View Staff Profile</h1>
    </div>

</div>
<!-- //Page Heading -->
<style>
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        <form class="ks-custom-form form-horizontal">
            @*call partial view*@
            <!-- Content Area -->
            <div class="row">
                <div class="student_profile">
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profile-staff">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profile-img">
                            <div class="img-thumbal"><img class="img-responsive" style="width:125px;height: 125px;" src="@Model.StaffImage" /></div>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 student-detail-list">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h3>@Model.StaffName</h3>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                @if (Model.EmpCode != null)
                                {
                                    <p>EmpCode: @Model.EmpCode</p>
                                }
                                @if (Model.MobileNo != null)
                                {
                                    <p>Mobile No: @Model.MobileNo</p>
                                }
                                @if (Model.Department != null)
                                {
                                    <p>Department: @Model.Department</p>
                                }

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                                @if (Model.StaffType != null)
                                {
                                    <p>Staff Type: @Model.StaffType</p>
                                }
                                @if (Model.CurrentStatus != null)
                                {
                                    <p>CurrentStatus: @Model.CurrentStatus</p>
                                }
                                @if (Model.Designation != "")
                                {
                                    <p>Designation:@Model.Designation</p>
                                }


                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Content Area -->
            <div class="row  top-space-10"></div>
            <div class="tab-content">
                <div id="Admn" class="tab-pane fade in active">
                    <div class="row top-space-10">
                        <div class="col-md-12">
                            <h4>Employee Information</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Staff Type:</label><!-- Form Label -->
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.StaffType)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">First Name:</label><!-- Form Label -->
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.FirstName)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Last Name:</label><!-- Form Label -->
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.LastName)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Employee Code:</label><!-- Form Label -->
                                    <div class="col-md-7">
                                        @Html.DisplayFor(model => model.EmployeeCode)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Department:</label><!-- Form Label -->
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Department)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Designation:</label><!-- Form Label -->
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Designation)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Email:</label><!-- Form Label -->
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Email)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Adhaar No:</label><!-- Form Label -->
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.AdhaarNo)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Gender:</label><!-- Form Label -->
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Gender)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Staff Category:</label><!-- Form Label -->
                                    <div class="col-md-7">
                                        @Html.DisplayFor(model => model.StaffCategory)
                                    </div><!-- Form Field -->
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">IsActive:</label><!-- Form Label -->
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.IsActive)
                                    </div><!-- Form Field -->
                                </div>
                            </div>*@
                        </div>

                        <hr style="margin-top: 0;margin-bottom: 5px;" />

                        <div class="col-md-12">
                            <h4>Employee Address</h4>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table id="" class=" table table-bordered table-condensed table-striped table-responsive table-hover">
                                    <thead class="thead-default">
                                        <tr>
                                            <th style="width: 7%;">Address Type</th>
                                            <th style="width: 13%;">Plot No</th>
                                            <th style="width: 20%;">Sector/Street</th>
                                            <th style="width: 20%;">City</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.AddressModelList.Count > 0)
                                        {
                                            foreach (var Address in Model.AddressModelList)
                                            {
                                                <tr>
                                                    <td>@Address.AddressType</td>
                                                    <td>@Address.PlotNo</td>
                                                    <td>@Address.Sector_Street</td>
                                                    <td>@Address.AddressCity</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="text-center"><td colspan="4">No Data Found</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <hr style="margin-top: 0;margin-bottom: 5px;" />

                        <div class="col-md-12">
                            <h4>Contact Details</h4>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed table-responsive table-striped">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Type</th>
                                            <th>Info</th>
                                            <th>Status</th>
                                            <th>Default</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ContactInfoList.Count > 0)
                                        {
                                            foreach (var item in Model.ContactInfoList)
                                            {
                                                <tr>
                                                    <td>@item.ContactType</td>
                                                    <td>@item.ContactInfo1</td>
                                                    <td>@item.ContactStatus</td>
                                                    <td>@item.IsDefault</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="text-center"><td colspan="4">No Data Found</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <hr style="margin-top: 0;margin-bottom: 5px;" />

                        <div class="col-md-12">
                            <h4>Documents</h4>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed table-responsive table-striped">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Document</th>
                                            <th>Description</th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.StaffDocumentList.Count > 0)
                                        {
                                            foreach (var item in Model.StaffDocumentList)
                                            {
                                                <tr>
                                                    <td>@item.DocumentType</td>
                                                    <td>@item.DocumentDescription</td>
                                                    <td><img width="40" height="40" src="@item.DocumentImagePath" /></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="text-center"><td colspan="3">No Data Found</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <script>
                // function get date as string and return date
                function GetDateFromString(date) {
                    var datearry = date.split('/');
                    var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
                    return returnFromDate;
                }


            </script>
        </form>
    </div>
</div>
<!-- Page Controls -->
