﻿@model ViewModel.ViewModel.Attendence.StaffAttendanceModel
@{
    ViewBag.Title = "StaffAttendance";
}
@Html.Hidden("IsSaveIntime")
@Html.Hidden("IsSaveOuttime")
@Html.HiddenFor(m => m.HasCountAttStatus)
<style>
    .dotRed {
        height: 14px;
        width: 14px;
        background-color: #A60000;
        border-radius: 50%;
        display: inline-block;
    }

    .dotGreen {
        height: 14px;
        width: 14px;
        background-color: #0A6427;
        border-radius: 50%;
        display: inline-block;
    }

    .dotYellow {
        height: 14px;
        width: 14px;
        background-color: #D7C300;
        border-radius: 50%;
        display: inline-block;
    }
</style>


<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="row">
        <div class="col-md-6">
            <h1>Manage StaffAttendance</h1>
        </div>
        <div class="col-md-3 pull-right">
            @Html.TextBoxFor(model => model.date, new { @class = "custom-control", @id = "date" })
            <a href="javascript:void(0);" title="Set Default Values" id="btnSettings" style="color: black; font-size: 18px;
                            margin: 0px 0px 0px 20px;"><i class="fa fa-gear"></i></a>
        </div>
    </div>
</div>


<!-- change default values -->
<div class="modal-popup" id="StaffAttSetting_Div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeStaffAttSetting_div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Set Default Values</h4>
            </div>
            <div class="modal-body">
                <div class="row well">
                    <div class="col-md-4">
                        @*@Html.Label("In Time:", new { @class = "control-label" })*@
                        @Html.HiddenFor(m => m.IntTime,new { @id="hdnIntTime"})
                        <label class="control-label" for="In_Time:">In Time: <span data-clear="IntTime" class="timeclear" style="display:none;color:red;font-size:14px;margin-left:12px;cursor:pointer">&times;</span></label>
                        @Html.TextBoxFor(model => model.IntTime, new
                       {
                           @class = "timePicker form-control",
                           @placeholder = "hh:mm",
                           @style = "width: 120px;"
                       })
                    </div>
                    <div class="col-md-4">
                        @*@Html.Label("Out Time:", new { @class = "control-label" })*@
                        @Html.HiddenFor(m => m.IntTime, new { @id = "hdnOutTime" })
                        <label class="control-label" for="Out_Time:">Out Time: <span data-clear="OutTime" class="timeclear" style="display:none;color:red;font-size:14px;margin-left:12px;cursor:pointer">&times;</span></label>
                        @Html.TextBoxFor(model => model.OutTime, new
                       {
                           @class = "timePicker form-control",
                           @placeholder = "hh:mm",
                           @style = "width: 120px;"
                       })
                    </div>
                    <div class="col-md-3">
                        @Html.Label("Not Marked Text:", new { @class = "control-label" })<i class="fa fa-asterisk ks-required"></i>
                        @Html.TextBoxFor(m => m.TextForUnMarkedAtt, "", new { @class = "form-control", @style = "width:116px" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Default Status:", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.StaffAttendanceStatusId, Model.StaffAttendanceStatusList, new { @class = "form-control", @style = "width:120px" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Attendance close time:", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.CloseAttendTime, new
                       {
                           @class = "timePicker form-control",
                           @placeholder = "hh:mm",
                           @style = "width: 120px;"
                       })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Status after close time:", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.StaffAttendanceStatusCloseId,
                            Model.StaffAttendanceStatusCloseList,
                            new { @class = "form-control", @style = "width:120px" })
                    </div>
                    
                </div>
                <hr />
                <div class="row well">
                    <h4>Teacher SMS Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.SMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.NonAppUser)
                    </div>
                    <div class="col-md-3">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.Notification)
                    </div>
                </div>
                &nbsp;&nbsp;
                &nbsp;
                <div class="modal-footer">
                    <button type="button" id="btnSetDefaultVal" class="btn btn-success ">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>

@if (TempData["SuccessNotificaition"] != null && TempData["SuccessNotificaition"] != "")
{
    <div class="row text-success" id="success_notification_div">
        <ul><li>@TempData["SuccessNotificaition"]</li></ul>
    </div>
}
@if (Model.StatusList != null)
{
    @Html.DropDownListFor(model => model.StatusId, Model.StatusList, new { @class = "form-control", Id = "AttendanceStatus", @style = "display: none" })
}
@using (Html.BeginForm("StaffAttendance", "Staff", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
{
    @Html.HiddenFor(m => m.StaffAttendanceList)
    <div class="row top-space-10 page-heading">
        <div class="col-md-12">
            <table id="staffAttendanceTable" class="table table-bordered table-condensed table-striped table-responsive table-hover">
                <thead class="thead-default">
                    <tr>
                        <th title="Select All" class="checkboxTh"><input type='checkbox' class='checkAll' /></th>
                        <th hidden>AttendanceId</th>
                        <th hidden>StaffId</th>
                        <th style="width:500px;" onclick="sortName(2)">Name</th>
                        <th style="width:240px;">Type</th>
                        <th style="width:200px;" onclick="sortEmpColumn(4)">Emp Code</th>
                        <th style="width:260px;">Attendance</th>
                        <th style="width:260px;" title="Enable/Disable InTime Value"><input type='checkbox' class='checkIntimeColumn' /> In Time</th>
                        <th style="width:260px;" title="Enable/Disable OutTime Value"><input type='checkbox' class='checkOuttimeColumn' /> Out Time</th>
                        <th hidden>Attendance Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button type="submit" name="save" class="btn btn-success" id="save-Attendance">
                Save
            </button>
        </div>
    </div>
}
<script>

    var IsSaveIntime = "1", IsSaveOuttime = "1";
    var CaseOfNotVisibleTime = $("#HasCountAttStatus").val();
    $("#btnSettings").click(function () {

        debugger;
        if ($("#hdnIntTime").val() != "" && $("#hdnIntTime").val() != null) {
            $("#IntTime").val($("#hdnIntTime").val());
        }
         if ($("#hdnOutTime").val() != "" && $("#hdnOutTime").val() != null) {
            $("#OutTime").val($("#hdnOutTime").val());
        }
        $("#StaffAttSetting_Div").show();
    });

    $("#closeStaffAttSetting_div").click(function () {
        $("#StaffAttSetting_Div").hide();
    });


    $(document).ready(function () {
        $('.timePicker').timepicki({
            show_meridian: false,
            increase_direction: 'up'
        });

    });


    $(".checkAll").click(function () {
        if ($(this).is(":checked"))
            $("#staffAttendanceTable tbody tr").find("td:nth-child(1)").find(".checkAllChildBoxes").prop("checked", true);
        else
            $("#staffAttendanceTable tbody tr").find("td:nth-child(1)").find(".checkAllChildBoxes").prop("checked", false);
    });


    $("#TextForUnMarkedAtt").blur(function () {
        $('#ks_loader').show();
        var text = $(this).val();
        $("#StaffAttendanceStatusId").empty();
        $("#StaffAttendanceStatusId").html();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("BindStaffStatusList", "Staff"))',
            data: { "EnteredText": text },
            success: function (result) {
                if (result.RebindStatusList.length > 0) {
                    $.each(result.RebindStatusList, function (i) {
                        $("#StaffAttendanceStatusId").append("<option value=" + result.RebindStatusList[i].Value
                                                            + ">" + result.RebindStatusList[i].Text + "</option>")
                    });
                }
                else {
                    ToastMessage("Error Happened", "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                $('#ks_loader').hide();
                ToastMessage(err, "error", true, 5000);
            }
        });
    });

    $("#btnSetDefaultVal").click(function () {
        $('#ks_loader').show();
        if ($("#TextForUnMarkedAtt").val() != "") {
            var objModel = new Object();
            objModel.TextForUnMarkedAtt = $("#TextForUnMarkedAtt").val();
            objModel.IntTime = $("#IntTime").val();
            objModel.OutTime = $("#OutTime").val();
            objModel.date = $("#date").val();
            objModel.StaffAttendanceStatusId = $("#StaffAttendanceStatusId option:selected").text();
            objModel.SMS = $("#SMS").prop("checked");
            objModel.NonAppUser = $("#NonAppUser").prop("checked");
            objModel.Notification = $("#Notification").prop("checked");
            objModel.CloseAttendTime = $("#CloseAttendTime").val();
            objModel.StaffAttendanceStatusCloseId = $("#StaffAttendanceStatusCloseId option:selected").text();

            var InTime = "", OutTime = "";
            var DefaultSelectionStatus = $("#StaffAttendanceStatusId").val();
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("InsertDefaultValues", "Staff"))',
                data: objModel,
                success: function (result) {
                    InTime = result.InTime;
                    OutTime = result.OutTime;

                    $("#SMS").prop("checked", result.SMS);
                    $("#NonAppUser").prop("checked", result.NonAppUser);
                    $("#Notification").prop("checked", result.Notification);

                    $("#StaffAttSetting_Div").hide();
                    $("#StaffAttendanceStatusId").val(result.StatusId);
                    ToastMessage("Updated Successfully", "success", true, 5000);

                    location.reload();
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });

        }
        else {
            ToastMessage("Please enter Not Marked Text", "error", true, 5000);
            $('#ks_loader').hide();
        }
    });

    function sortName(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("staffAttendanceTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1) ; i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    function sortEmpColumn(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("staffAttendanceTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1) ; i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    $(function () {
        
        $("#date").kendoDatePicker({
        format: "dd/MM/yyyy",
            max: new Date(),
            // value: new Date()
        });
        $("#date").attr("readonly", "readonly");
        $("#ks_loader").show();
        $.ajax({
            async: true,
            url: '@Html.Raw(Url.Action("StaffAttendanceList", "Staff"))',
            type: "POST",
            data: { date: GetDateFromString("@Model.date") },
            success: function (res) {
                if (res.status == "success" && res.msg == "") {
                    $("#save-Attendance").show();
                    for (var i = 0; i < res.staffList.length; i++) {
                        var $AttendanceStatus = $("#AttendanceStatus > option").clone();
                        var row = "<tr>";

                        if (res.staffList[i].IsAuto == false) {
                            row += "<td> <input type='checkbox' class='checkAllChildBoxes' checked /></td>";
                        }
                        else
                            row += "<td> <input type='checkbox' class='checkAllChildBoxes' /></td>";

                        row += "<td hidden class='AttendanceId'>" + res.staffList[i].AttendanceId + "</td>"
                            + "<td hidden class='StaffId'>" + res.staffList[i].StaffId + "</td>"
                            + "<td class='Name'>" + res.staffList[i].Name + "</td>"
                            + "<td class='StaffType'>" + res.staffList[i].StaffType + "</td>"
                            + "<td class='StaffType'>" + res.staffList[i].EmpCode + "</td>";

                        if (res.staffList[i].AttendanceStatusAbbr == "P") {
                            row += "<td><span class='dotGreen'></span>&nbsp;<select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select>";
                            row += "</td>";
                        }
                        else if (res.staffList[i].AttendanceStatusAbbr == "A") {
                            row += "<td><span class='dotRed'></span>&nbsp;<select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select></td>";
                        }
                        else if (res.staffList[i].AttendanceStatusAbbr == "CL" || res.staffList[i].AttendanceStatusAbbr == "SL") {
                            row += "<td><span class='dotYellow'></span>&nbsp;<select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select></td>";
                        }
                        else {
                            row += "<td><select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select></td>";
                        }

                        if (!CaseOfNotVisibleTime.includes(res.staffList[i].AttendanceStatus)) {
                            //disabled
                            row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "' class='timePicker clsInTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                            row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.staffList[i].StaffId
                                + "' class='timePicker clsOutTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                        }
                        else {
                            row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "' class='timePicker clsInTime' value='"
                                + res.staffList[i].IntTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                            row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.staffList[i].StaffId + "' class='timePicker clsOutTime' value='"
                                + res.staffList[i].OutTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";

                            //$("input[name*='InTime_" + res.staffList[i].StaffId + "']").timepicki({
                            //    show_meridian: false,
                            //    increase_direction: 'up'
                            //});

                            //$("input[name*='OutTime_" + res.staffList[i].StaffId + "']").timepicki({
                            //    show_meridian: false,
                            //    increase_direction: 'up'
                            //});

                        }
                        row += "<td hidden>" + res.staffList[i].AttendanceStatus + "</td>";
                        row += "</tr>"
                        $("#staffAttendanceTable tbody").append(row);
                        $("#Attendancestatus_" + res.staffList[i].StaffId + "").append($AttendanceStatus);
                        if (res.staffList[i].AttendanceStatusId > 0) {
                            $("#Attendancestatus_" + res.staffList[i].StaffId + "").val(res.staffList[i].AttendanceStatusId)
                        }

                    }
                     $('.timePicker').timepicki({
                            show_meridian: false,
                            increase_direction: 'up'
                     });
                    $("#ks_loader").hide();
                }
                else if (res.status == "success" && res.msg != "") {
                    alert(res.msg);
                    $("#save-Attendance").show();
                    for (var i = 0; i < res.staffList.length; i++) {
                        var $AttendanceStatus = $("#AttendanceStatus > option").clone();
                        var row = "<tr>"

                        if (res.staffList[i].IsAuto == false) {
                            row += "<td> <input type='checkbox' class='checkAllChildBoxes' checked /></td>";
                        }
                        else
                            row += "<td> <input type='checkbox' class='checkAllChildBoxes' /></td>";

                        row += "<td hidden class='AttendanceId'>" + res.staffList[i].AttendanceId + "</td>"
                             + "<td hidden class='StaffId'>" + res.staffList[i].StaffId + "</td>"
                            + "<td class='Name'>" + res.staffList[i].Name + "</td>"
                            + "<td class='StaffType'>" + res.staffList[i].StaffType + "</td>"
                            + "<td class='StaffType'>" + res.staffList[i].EmpCode + "</td>"
                            + "<td><select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "'></select></td>";

                        if (!CaseOfNotVisibleTime.includes(res.staffList[i].AttendanceStatus)) {
                            //disabled
                            row += "<td  style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "' class='timePicker clsInTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime'><i class='fa fa-times'></i></a></td>";
                            row += "<td  style='position: relative;'><input type='textbox'name='OutTime_" + res.staffList[i].StaffId + "' class='timePicker clsOutTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime'><i class='fa fa-times'></i></a></td>";
                        }
                        else {
                            row += "<td  style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "' class='timePicker clsInTime' value='"
                                + res.staffList[i].IntTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                            row += "<td  style='position: relative;'><input type='textbox' name='OutTime_" + res.staffList[i].StaffId + "' class='timePicker clsOutTime' value='"
                                + res.staffList[i].OutTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";

                            //$("input[name*='InTime_" + res.staffList[i].StaffId + "']").timepicki({
                            //    show_meridian: false,
                            //    increase_direction: 'up'
                            //});

                            //$("input[name*='OutTime_" + res.staffList[i].StaffId + "']").timepicki({
                            //    show_meridian: false,
                            //    increase_direction: 'up'
                            //});

                        }
                        row += "<td hidden>" + res.staffList[i].AttendanceStatus + "</td>";
                        row += "</tr>";
                        $("#staffAttendanceTable tbody").append(row);
                        $("#Attendancestatus_" + res.staffList[i].StaffId + "").append($AttendanceStatus);
                        if (res.staffList[i].AttendanceStatusId > 0) {
                            $("#Attendancestatus_" + res.staffList[i].StaffId + "").val(res.staffList[i].AttendanceStatusId)
                        }
                    }
                    $('.timePicker').timepicki({
                            show_meridian: false,
                            increase_direction: 'up'
                    });
                    $("#ks_loader").hide();
                }
                else {
                    ToastMessage(res.data, "error", true, 5000);
                     $("#ks_loader").hide();
                }

                $(".clsattendancestatus").trigger("change");
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $("#ks_loader").hide();
            }
        })
    });

    $(document).on("change", ".clsattendancestatus", function () {
        var row = $(this).parent().parent();
        var selectedStatusText = $(this).find("option:selected").text();
        var staffId = row.find("td:nth-child(3)").text();
        if (!CaseOfNotVisibleTime.includes(selectedStatusText)) {

            row.find("td:nth-child(8)").find("input[class*='clsInTime']").attr("disabled", true);
            row.find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "not-allowed");
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").attr("disabled", true);
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").css("cursor", "not-allowed");

            row.find("td:nth-child(8)").find("input[class*='clsInTime']").val("");
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").val("");
        }
        else {

         //   row.find("td:nth-child(8)").find("input[class*='clsInTime']").val($("#IntTime").val());
          //  row.find("td:nth-child(9)").find("input[class*='clsOutTime']").val($("#OutTime").val());

            row.find("td:nth-child(8)").find("input[class*='clsInTime']").removeAttr("disabled");
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").removeAttr("disabled");
            row.find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "default");
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").css("cursor", "default");

            //$("input[name*='InTime_" + staffId + "']").timepicki({
            //    show_meridian: false,
            //    increase_direction: 'up'
            //});

            //$("input[name*='OutTime_" + staffId + "']").timepicki({
            //    show_meridian: false,
            //    increase_direction: 'up'
            //});
        }


        if (!$("#staffAttendanceTable thead th:nth(7)").find("input[class*='checkIntimeColumn']").prop("checked")) {
            row.find("td:nth-child(8)").find("input[class*='clsInTime']").attr("disabled", true);
            row.find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "not-allowed");
        }

        if (!$("#staffAttendanceTable thead th:nth(8)").find("input[class*='checkOuttimeColumn']").prop("checked")) {
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").attr("disabled", true);
            row.find("td:nth-child(9)").find("input[class*='clsOutTime']").css("cursor", "not-allowed");
        }
        row.find("td:nth-child(10)").text($("#Attendancestatus_" + staffId + " option:selected").text());
    });
    $(document).ready(function () {
        $('.checkIntimeColumn').change(function () {
              $("#ks_loader").show();
            if ($(this).is(":checked")) {
                IsSaveIntime = "1";
                $(this).closest('tr').parent().next().find("input[class*='clsInTime']").removeAttr("disabled");
                $(this).closest('tr').parent().next().find("input[class*='clsInTime']").css("cursor", "default");
               // var bindtimepckr = false;
                $.each($("#staffAttendanceTable tbody tr"), function () {
                    var selectedStatusText = $(this).find("td:nth-child(10)").text();
                    var intimevalue = $(this).find("input[class*='clsInTime']").val();
                    var staffId = $(this).find("td:nth-child(3)").text();

                    if (!CaseOfNotVisibleTime.includes(selectedStatusText)) {
                        $(this).find("input[class*='clsInTime']").attr("disabled", "disabled");
                        $(this).find("input[class*='clsInTime']").css("cursor", "not-allowed");
                    } else {
                        if (intimevalue == "" || intimevalue == null) {
                            bindtimepckr = true;
                                    $(this).find("td:nth-child(8)").find("input[class*='clsInTime']").removeAttr("disabled");
                                    $(this).find("td:nth-child(8)").find("input[class*='clsInTime']").css("cursor", "default");

                            //  $("input[name*='InTime_" + staffId + "']").addClass("bindinTimepicker");
                                    //$("input[name*='InTime_" + staffId + "']").timepicki({
                                    //    show_meridian: false,
                                    //    increase_direction: 'up'
                                    //});
                    }
                    }
                });
                //if (bindtimepckr) {
                //    $(".bindinTimepicker").timepicki({
                //        show_meridian: false,
                //        increase_direction: 'up'
                //    });
                //}
                  $("#ks_loader").hide();

            }
            else {
                IsSaveIntime = "0";
                $(this).closest('tr').parent().next().find("input[class*='clsInTime']").attr("disabled", "disabled");
                $(this).closest('tr').parent().next().find("input[class*='clsInTime']").css("cursor", "not-allowed");
                  $("#ks_loader").hide();
            }
        });

        $('.checkOuttimeColumn').change(function () {
            $("#ks_loader").show();
            if ($(this).is(":checked")) {
                IsSaveOuttime = "1";
                $(this).closest('tr').parent().next().find("input[class*='clsOutTime']").removeAttr("disabled");
                $(this).closest('tr').parent().next().find("input[class*='clsOutTime']").css("cursor", "default");
              //  var bindtimepckr = false;
                $.each($("#staffAttendanceTable tbody tr"), function () {
                    var selectedStatusText = $(this).find("td:nth-child(10)").text();
                    var outtimevalue = $(this).find("input[class*='clsOutTime']").val();
                    var staffId = $(this).find("td:nth-child(3)").text();

                    if (!CaseOfNotVisibleTime.includes(selectedStatusText)) {
                        $(this).find("input[class*='clsOutTime']").attr("disabled", "disabled");
                        $(this).find("input[class*='clsOutTime']").css("cursor", "not-allowed");
                    } else {
                        if (outtimevalue == "" || outtimevalue == null) {
                           // bindtimepckr = true;
                                    $(this).find("td:nth-child(8)").find("input[class*='clsOutTime']").removeAttr("disabled");
                                    $(this).find("td:nth-child(8)").find("input[class*='clsOutTime']").css("cursor", "default");
                        //    $("input[name*='OutTime_" + staffId + "']").addClass("bindTimepicker");

                                   //$("input[name*='OutTime_" + staffId + "']").timepicki({
                                   //     show_meridian: false,
                                   //     increase_direction: 'up'
                                   // });
                    }
                    }
                });
                //if (bindtimepckr) {
                //    $(".bindTimepicker").timepicki({
                //        show_meridian: false,
                //        increase_direction: 'up'
                //    });
                //}
                $("#ks_loader").hide();
            }
            else {
                IsSaveOuttime = "0";
                $(this).closest('tr').parent().next().find("input[class*='clsOutTime']").attr("disabled", "disabled");
                $(this).closest('tr').parent().next().find("input[class*='clsOutTime']").css("cursor", "not-allowed");
                $("#ks_loader").hide();
            }
        });
    });


    $("#date").change(function () {
        $('#ks_loader').show();
        $('#success_notification_div ul').html('');
        $('#success_notification_div').hide();
        $("#staffAttendanceTable tbody").html('');

        $.ajax({
            async: false,
            url: '@Html.Raw(Url.Action("StaffAttendanceList", "Staff"))',
            type: "POST",
            data: { "date": GetDateFromString($(this).val()) },
            success: function (res) {
                if (res.status == "success" && res.msg == "") {
                    if (res.IsPrvDate == true) {
                        $("#save-Attendance").show();
                        for (var i = 0; i < res.staffList.length; i++) {
                            var $AttendanceStatus = $("#AttendanceStatus > option").clone();

                            var row = "<tr>";

                            if (res.staffList[i].IsAuto == false) {
                                row += "<td> <input type='checkbox' class='checkAllChildBoxes' checked /></td>";
                            }
                            else
                                row += "<td> <input type='checkbox' class='checkAllChildBoxes' /></td>";

                            row += "<td hidden class='AttendanceId'>" + res.staffList[i].AttendanceId + "</td>"
                                + "<td hidden class='StaffId'>" + res.staffList[i].StaffId + "</td>"
                                + "<td class='Name'>" + res.staffList[i].Name + "</td>"
                                + "<td class='StaffType'>" + res.staffList[i].StaffType + "</td>"
                                + "<td class='StaffType'>" + res.staffList[i].EmpCode + "</td>";
                            if (res.staffList[i].AttendanceStatusAbbr == "P") {
                                row += "<td><span class='dotGreen'></span> &nbsp;<select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select></td>";
                            }
                            else if (res.staffList[i].AttendanceStatusAbbr == "A") {
                                row += "<td><span class='dotRed'></span> &nbsp;<select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select></td>";
                            }
                            else {
                                row += "<td><span class='dotYellow'></span> &nbsp;<select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select></td>";
                            }
                            if (!CaseOfNotVisibleTime.includes(res.staffList[i].AttendanceStatus)) {
                                //disabled
                                row += "<td  style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "'  class='timePicker clsInTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                                row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.staffList[i].StaffId + "' class='timePicker clsOutTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                            }
                            else {
                                row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "' class='timePicker clsInTime' value='"
                                    + res.staffList[i].IntTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                                row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.staffList[i].StaffId + "' class='timePicker clsOutTime' value='"
                                    + res.staffList[i].OutTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";


                                //$("input[name*='InTime_" + res.staffList[i].StaffId + "']").timepicki({
                                //    show_meridian: false,
                                //    increase_direction: 'up'
                                //});

                                //$("input[name*='OutTime_" + res.staffList[i].StaffId + "']").timepicki({
                                //    show_meridian: false,
                                //    increase_direction: 'up'
                                //});

                            }
                            row += "<td hidden>" + res.staffList[i].AttendanceStatus + "</td>";
                            row += "</tr>"
                            $("#staffAttendanceTable tbody").append(row);
                            $("#Attendancestatus_" + res.staffList[i].StaffId + "").append($AttendanceStatus);
                            if (res.staffList[i].AttendanceStatusId > 0) {
                                $("#Attendancestatus_" + res.staffList[i].StaffId + "").val(res.staffList[i].AttendanceStatusId)
                            }


                        }

                        //$('.timePicker').timepicki({
                        //    show_meridian: false,
                        //    increase_direction: 'up'
                        //});
                    }
                    else {
                        $("#save-Attendance").show();
                        for (var i = 0; i < res.staffList.length; i++) {
                            var $AttendanceStatus = $("#AttendanceStatus > option").clone();

                            var row = "<tr>";
                            if (res.staffList[i].IsAuto == false) {
                                row += "<td> <input type='checkbox' class='checkAllChildBoxes' checked /></td>";
                            }
                            else
                                row += "<td> <input type='checkbox' class='checkAllChildBoxes' /></td>";

                            row += "<td hidden class='AttendanceId'>" + res.staffList[i].AttendanceId + "</td>"
                                + "<td hidden class='StaffId'>" + res.staffList[i].StaffId + "</td>"
                               + "<td class='Name'>" + res.staffList[i].Name + "</td>"
                               + "<td class='StaffType'>" + res.staffList[i].StaffType + "</td>"
                               + "<td class='StaffType'>" + res.staffList[i].EmpCode + "</td>";
                            if (res.staffList[i].AttendanceStatusAbbr == "P") {
                                row += "<td><span class='dotGreen'></span> &nbsp;<select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select></td>";
                            }
                            else if (res.staffList[i].AttendanceStatusAbbr == "A") {
                                row += "<td><span class='dotRed'></span>&nbsp;<select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select></td>";
                            }
                            else {
                                row += "<td><span class='dotYellow'></span> &nbsp;<select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "' ></select></td>";
                            }

                            if (!CaseOfNotVisibleTime.includes(res.staffList[i].AttendanceStatus)) {
                                //disabled
                                row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "' class='timePicker clsInTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                                row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.staffList[i].StaffId + "' class='timePicker clsOutTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                            }
                            else {
                                row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "' class='timePicker clsInTime' value='"
                                    + res.staffList[i].IntTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                                row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.staffList[i].StaffId + "' class='timePicker clsOutTime' value='"
                                    + res.staffList[i].OutTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";

                                //$("input[name*='InTime_" + res.staffList[i].StaffId + "']").timepicki({
                                //    show_meridian: false,
                                //    increase_direction: 'up'
                                //});

                                //$("input[name*='OutTime_" + res.staffList[i].StaffId + "']").timepicki({
                                //    show_meridian: false,
                                //    increase_direction: 'up'
                                //});

                            }
                            row += "<td hidden>" + res.staffList[i].AttendanceStatus + "</td>";
                            row += "</tr>"
                            $("#staffAttendanceTable tbody").append(row);
                            $("#Attendancestatus_" + res.staffList[i].StaffId + "").append($AttendanceStatus);
                            if (res.staffList[i].AttendanceStatusId > 0) {
                                $("#Attendancestatus_" + res.staffList[i].StaffId + "").val(res.staffList[i].AttendanceStatusId)
                            }
                        }
                    }
                   $('.timePicker').timepicki({
                            show_meridian: false,
                            increase_direction: 'up'
                   });
                      $('#ks_loader').hide();
                }
                else if (res.status == "success" && res.msg != "") {
                    alert(res.msg);
                    $("#save-Attendance").show();
                    for (var i = 0; i < res.staffList.length; i++) {
                        var $AttendanceStatus = $("#AttendanceStatus > option").clone();
                        var row = "<tr>";

                        if (res.staffList[i].IsAuto == false) {
                            row += "<td> <input type='checkbox' class='checkAllChildBoxes' checked /></td>";
                        }
                        else
                            row += "<td> <input type='checkbox' class='checkAllChildBoxes' /></td>";

                        row += "<td hidden class='AttendanceId'>" + res.staffList[i].AttendanceId + "</td>"
                            + "<td hidden class='StaffId'>" + res.staffList[i].StaffId + "</td>"
                           + "<td class='Name'>" + res.staffList[i].Name + "</td>"
                           + "<td class='StaffType'>" + res.staffList[i].StaffType + "</td>"
                           + "<td class='StaffType'>" + res.staffList[i].EmpCode + "</td>"
                           + "<td><select  class='clsattendancestatus' id='Attendancestatus_" + res.staffList[i].StaffId + "'></select></td>";

                        if (!CaseOfNotVisibleTime.includes(res.staffList[i].AttendanceStatus)) {
                            //disabled
                            row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "' class='timePicker clsInTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                            row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.staffList[i].StaffId + "' class='timePicker clsOutTime' value='' placeholder='hh:mm' disabled='disabled' style='cursor:not-allowed;'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                        }
                        else {
                            row += "<td style='position: relative;'><input type='textbox' name='InTime_" + res.staffList[i].StaffId + "' class='timePicker clsInTime' value='"
                                + res.staffList[i].IntTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearIntime' title='Clear InTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";
                            row += "<td style='position: relative;'><input type='textbox' name='OutTime_" + res.staffList[i].StaffId + "' class='timePicker clsOutTime' value='"
                                + res.staffList[i].OutTime + "' placeholder='hh:mm'/><a href='javascript:void(0);' class='clearOutTime' title='Clear OutTime' style='position: absolute;top: 7px;right: 28px;'><i class='fa fa-times'></i></a></td>";

                            //$("input[name*='InTime_" + res.staffList[i].StaffId + "']").timepicki({
                            //    show_meridian: false,
                            //    increase_direction: 'up'
                            //});

                            //$("input[name*='OutTime_" + res.staffList[i].StaffId + "']").timepicki({
                            //    show_meridian: false,
                            //    increase_direction: 'up'
                            //});
                        }
                        row += "<td hidden>" + res.staffList[i].AttendanceStatus + "</td>";
                        row += "</tr>";
                        $("#staffAttendanceTable tbody").append(row);
                        $("#Attendancestatus_" + res.staffList[i].StaffId + "").append($AttendanceStatus);
                        if (res.staffList[i].AttendanceStatusId > 0) {
                            $("#Attendancestatus_" + res.staffList[i].StaffId + "").val(res.staffList[i].AttendanceStatusId)
                        }
                    }
                    $('.timePicker').timepicki({
                            show_meridian: false,
                            increase_direction: 'up'
                    });
                      $('#ks_loader').hide();
                }
                else {
                    ToastMessage(res.data, "error", true, 5000);
                      $('#ks_loader').hide();
                }
              //  $('#ks_loader').hide();
                $('.checkIntimeColumn').trigger('change');
                $('.checkOuttimeColumn').trigger('change');
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                 $('#ks_loader').hide();
            }
        })
    });



    $("#save-Attendance").click(function () {
        $('#ks_loader').show();
        $('#success_notification_div ul').html('');
        $('#success_notification_div').hide();
        var StaffList = new Array();
        var StaffListObj = new Object();
        var valid = ValidateStaffAttendance();
        if (valid) {
            $('#staffAttendanceTable > tbody  > tr').each(function () {
                var row = $(this);
                StaffListObj = new Object();
                if ($(this).find("td:nth-child(1)").find(".checkAllChildBoxes").is(":checked")) {
                    StaffListObj.AttendanceId = parseInt(row.find(".AttendanceId").text());
                    StaffListObj.StaffId = parseInt(row.find(".StaffId").text());
                    StaffListObj.AttendanceDate = GetDateFromString($('#date').val());
                    StaffListObj.AttendanceStatusId = row.find(".clsattendancestatus option:selected").val();

                    StaffListObj.IntTime = "";
                    StaffListObj.IsIntimeInserted = false;
                    if (IsSaveIntime == "1") {
                        StaffListObj.IntTime = row.find("td:nth-child(8)").find('.clsInTime').val();
                        StaffListObj.IsIntimeInserted = true;
                    }
                    StaffListObj.OutTime = "";
                    StaffListObj.IsOuttimeInserted = false;
                    if (IsSaveOuttime == "1") {
                        StaffListObj.OutTime = row.find("td:nth-child(9)").find('.clsOutTime').val();
                         StaffListObj.IsOuttimeInserted = true;
                    }
                    if (StaffListObj.AttendanceStatusId == "") {
                        StaffListObj.AttendanceStatusId = 0;
                    }
                    if (StaffListObj.AttendanceId == "") {
                        StaffListObj.AttendanceId = 0;
                    }
                    StaffList.push(StaffListObj);
                }
            });
            if ($('#staffAttendanceTable >tbody >tr').length > 0) {
                $("#StaffAttendanceList").val(JSON.stringify(StaffList));
                return true;
            }
            else {
                return false;
            }
        }
        else {
            $('#ks_loader').hide();
            ToastMessage(ManageAttendancevalidationmessage, "error", true, 5000);
            return false;
        }
    })



    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

    var ManageAttendanceValid = true;
    var ManageAttendancevalidationmessage = "";
    function ValidateStaffAttendance() {
        ManageAttendanceValid = true;
        ManageAttendancevalidationmessage = "";
        $('#staffAttendanceTable > tbody  > tr').each(function () {
            var row = $(this);
            if (row.find(".clsattendancestatus option:selected").val() == "") {
                ManageAttendanceValid = false;
                ManageAttendancevalidationmessage = "Please Provide all Attendances."
            }
        });
        return ManageAttendanceValid;
        }
    $(".timeclear").click(function () {
        var CeartxtboxId = $(this).attr("data-clear");
        $("#"+CeartxtboxId+"").val("");
    })
    $(document).on("click", ".clearIntime", function () {
        $(this).parent().find(".clsInTime").val("");
    })
     $(document).on("click", ".clearOutTime", function () {
        $(this).parent().find(".clsOutTime").val("");
    })
</script>
