﻿@model ViewModel.ViewModel.Student.StudentModel

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="studentinfo">

@using (Ajax.BeginForm("Index", "Registration", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "studentinfo",Confirm="Are you sure to post data?" }, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DOB)

    <!-- Form Row -->
    <div class="row">
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Standard <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandards, new { @class = "form-control", @style = "width: 100%" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.StandardId)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">First Name <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.FName, new { @class = "form-control", @placeholder = "First Name", @autocomplete = "off", @maxlength = "20" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.FName)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Last Name</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.LName, new { @class = "form-control", @placeholder = "Last Name", @autocomplete = "off", @maxlength = "20" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.LName)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- //Form Coulmn -->
    </div>
    <!-- Form Row -->
    <!-- Form Row -->
    <div class="row">
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Aadhar No.</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.AadharCard, new { @class = "form-control", @placeholder = "16 Digit Aadhar Card ", @autocomplete = "off", @maxlength = "16" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.AadharCard)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">DOB <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.DateofBirth, new { @class = "", @placeholder = "dd/MM/yyyy", @maxlength = "10" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.DateofBirth)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Religion</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ReligionId, Model.AvailableReligions, new { @class = "form-control" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.ReligionId)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- Form Coulmn -->
    </div>
    <!-- Form Row -->
    <div class="row">
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Category</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.StudentCategoryId, Model.AvailableStudentCategory, new { @class = "form-control" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.StudentCategoryId)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Nationality</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.NationalityId, Model.AvailableNationality, new { @class = "form-control" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.NationalityId)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Gender</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.GenderId, Model.AvailableGender, new { @class = "form-control" })
                </div><!-- Form Field -->				                                <!-- Error Message -->
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.GenderId)
                </div>
                <!-- //Error Message -->
            </div>
        </div>
        <!-- //Form Coulmn -->
    </div>
    <!-- Form Row -->
    <!-- Form Row -->
    <div class="row">
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Student Photo</label><!-- Form Label -->
                <div class="col-md-8">
                    <input type="file" class="form-control" name="StudentPhoto" id="Student-Photo" />
                    @Html.HiddenFor(m => m.StudentImagepath)
                </div><!-- Form Field -->				                                <!-- Error Message -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        @if (!string.IsNullOrEmpty(Model.StudentImagepath))
        {
            <div class="col-md-4">
                <label class="col-md-4 control-label"></label><!-- Form Label -->
                <div class="form-group">
                    <img width="60" height="60" src="@Model.StudentImagepath" />
                </div>
            </div>
        }
    </div>
    <!-- Form Row -->

    <div class="row">
        <button type="submit" name="save" id="form_submit" class="btn btn-default btn-xs pull-right">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>
    </div>
}
</div>

<script>
    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $("#DateofBirth").kendoDatePicker({
        format: "dd/MM/yyyy"
    });
    $("#DateofBirth").attr("readonly", false);

    $('#AadharCard').keydown(function (e) {
        NumericOnly(e);
    });

    $('#form_submit').click(function () {
        if ($('#DateofBirth').val() != "")
        {
            $('#DOB').val(GetDateFromString($('#DateofBirth').val()));
        }

    });

    $('#DateofBirth').bind('keyup', 'keydown', function (event) {
        var inputLength = event.target.value.length;
        if (event.keyCode != 8) {
            if (inputLength === 2 || inputLength === 5) {
                var thisVal = event.target.value;
                thisVal += '/';
                $(event.target).val(thisVal);
            }
        }
    })

</script>