﻿@model ViewModel.ViewModel.Student.StudentModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<!-- Page Controls -->
<div class="row top-space-10">
    <div class="col-md-12">
        @*call partial view*@
        @Html.Partial("_CreateOrUpdate", Model)
    </div>
</div>
<!-- Page Controls -->
