@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&subset=latin-ext');

body {border-top:5px solid #FAA419}
 
 
.page-heading h1{ color:#AA1D23;} 





/* Footer */
 
.footer-copyright{background:#91191C; color:#FFFFFF;}





















