﻿@model ViewModel.ViewModel.Security.UserRoleModel

@Html.HiddenFor(model => model.UserRoleId)
@Html.HiddenFor(model => model.UserRoleContactTypeId)
@Html.HiddenFor(model => model.UserTypeId)
@Html.HiddenFor(model => model.UserTypeRoleId)

<!-- Form Row -->
<div class="row top-space-10">
    <!-- Form Coulmn -->
    <div class="col-md-2">
        <div class="form-group">
            <!-- Form Field -->
            <label class="control-label">User Role <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.TextBoxFor(model => model.UserRole, new { @class = "form-control", @placeholder = "User Role", @autocomplete = "on" })
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.UserRole)
            </div>
        </div>
    </div>

    <div class="col-md-1">
    </div>

    <!-- Form Coulmn -->
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Contact Type <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.DropDownListFor(model => model.ContactTypeId, Model.AvailableContactType, new { @class = "form-control" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.ContactTypeId)
            </div>
        </div>
    </div>

    <div class="col-md-1">
    </div>

    <!-- Form Coulmn -->
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Nav Role Type <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.DropDownListFor(model => model.UserRoleTypeId, Model.UserRoleTypeList, new { @class = "form-control" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.UserRoleTypeId)
            </div>
        </div>
    </div>

   
    <div class="col-md-1">
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-1 top-space-20">
        <div class="form-group">
            <label class="control-label">Active</label><!-- Form Label -->
            @Html.CheckBoxFor(model => model.IsActive)
        </div>
    </div>
    <div class="col-md-1">
    </div>

    <div class="col-md-2" hidden id="StaffDrp_Div">
        <div class="form-group">
            <label class="control-label">Staff <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.DropDownListFor(model => model.StaffId, Model.AvailableStaffs, new { @class = "form-control" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.StaffId)
            </div>
        </div>
    </div>

    
    <!-- //Form Coulmn -->
    <div class="col-md-2 top-space-20">
        <div class="form-group">
            <input type="submit" name="save" value="Save" id="submit_btn" class="btn btn-success" />
            <input type="button" name="cancel" value="Cancel" id="cancel_btn" class="btn btn-default" onclick="Clear();" />
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>

<!-- Form Row -->
<!-- Table row -->
<div class="row top-space-10">
    <table id="userrole_grid" class="table table-condensed table-resposive table-striped">
        <thead class="thead-default">
            <tr>
                <th>User Role</th>
                <th>User Type</th>
                <th>Role Type</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.UserRoleList.Count > 0)
                {
                    foreach (var item in Model.UserRoleList)
                    {
                        <tr>
                            <td style="display: none" class="cls_urid">@item.UserRoleId</td>
                            <td style="display: none" class="cls_ctid">@item.ContactTypeId</td>
                            <td style="display: none" class="cls_roleid">@item.UserRoleTypeId</td>
                            <td style="display: none" class="cls_urctid">@item.UserRoleContactTypeId</td>
                            <td class="cls_urstr">@item.UserRole</td>
                            <td class="cls_ctstr">@item.ContactType</td>
                            <td class="cls_role">@item.UserRoleType</td>
                            <td class="cls_status">@item.Status</td>
                            <td style="display: none" class="cls_userContactId">@item.UserContactId</td>
                            <td class="cls_actions">
                                <a style="margin-right: 10px;" href="javascript:void(0)" class="btn btn-xs btn-default cls_edituserrole" title="Edit UserRole" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil"></i></a>
                                @if (item.IsDeleted)
                                {
                                    <a style="margin-right: 10px;" href="javascript:void(0)" class="btn btn-xs btn-default cls_deluserrole" title="Delete UserRole" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i></a>
                                }
                                @if (item.IsNavigationPerExist)
                                {
                                    <a style="margin-right: 10px;background-color:#449D44 " href="@Html.Raw(Url.Action("UNavigationPermissions", "Security", new { id = item.EncUserRoleId, TypeId=item.UserRoleTypeId }))" class="btn btn-xs btn-default cls_permissionuserrole" title="Manage UserRole Navigation Permissions" data-toggle="tooltip" data-placement="top"><img src="~/Content/assets/img/ActionIcon/map-icon.png" /></a>
                                }
                                else
                                {
                                    <a style="margin-right: 10px;background-color:red" href="@Html.Raw(Url.Action("UNavigationPermissions", "Security", new { id = item.EncUserRoleId, TypeId=item.UserRoleTypeId }))" class="btn btn-xs btn-default cls_permissionuserrole" title="Manage UserRole Navigation Permissions" data-toggle="tooltip" data-placement="top"><img src="~/Content/assets/img/ActionIcon/map-icon.png" /></a>

                                }
                                @if (item.IsActionPerExist)
                                {
                                    <a style="margin-right: 10px;background-color:#449D44" href="@Html.Raw(Url.Action("URolePermissions", "Security", new { id = item.EncUserRoleId, TypeId = item.UserRoleTypeId }))" class="btn btn-xs btn-default cls_permissionuserrole" title="Manage UserRole Permissions" data-toggle="tooltip" data-placement="top"><img src="~/Content/assets/img/ActionIcon/permission-icon.png" /></a>
                                }
                                else
                                {
                                    <a style="margin-right: 10px;background-color:red" href="@Html.Raw(Url.Action("URolePermissions", "Security", new { id = item.EncUserRoleId, TypeId = item.UserRoleTypeId }))" class="btn btn-xs btn-default cls_permissionuserrole" title="Manage UserRole Permissions" data-toggle="tooltip" data-placement="top"><img src="~/Content/assets/img/ActionIcon/permission-icon.png" /></a>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" class="text-center">No data found</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- Table row -->

<script>
    var ActionStatus = "Insert";
    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    function Clear() {
        $('#ContactTypeId').val("");
        $('#UserRoleTypeId').val("");
        $('#UserRole').val("");
        $('#IsActive').prop("checked", false);
        $('#StaffDrp_Div').hide();
        $("#StaffId").val("");
    }

    $('#ContactTypeId').change(function () {
        if ($("#ContactTypeId option:selected").text() == $("#UserRoleTypeId option:selected").text()
            && $("#ContactTypeId option:selected").text() == "Admin" && $("#UserRoleTypeId option:selected").text() == "Admin") {
            $('#StaffDrp_Div').show();
        }
    });

    $('#UserRoleTypeId').change(function () {
        if ($("#ContactTypeId option:selected").text() == $("#UserRoleTypeId option:selected").text()
            && $("#ContactTypeId option:selected").text() == "Admin" && $("#UserRoleTypeId option:selected").text() == "Admin") {
            $('#StaffDrp_Div').show();
        }
    });
  

    $(document).on("click", '.cls_edituserrole', function () {
        ActionStatus = "Update";
        // row
        var row = $(this).parent().parent();
        // get values from row
        $('#UserRole').val(row.find(".cls_urstr").text());
        $('#UserRoleId').val(row.find(".cls_urid").text());
        $('#ContactTypeId').val(row.find(".cls_ctid").text());
        $('#UserRoleTypeId').val(row.find(".cls_roleid").text());
        $('#UserRoleContactTypeId').val(row.find(".cls_urctid").text());
        if (row.find(".cls_status").text() == "True")
            $('#IsActive').prop("checked", true);
        else
            $('#IsActive').prop("checked", false);


        //for staff as admin only can change on update 
        if ($("#ContactTypeId").val() == $("#UserTypeId").val() && $("#ContactTypeId option:selected").text() == "Admin"
            && $("#UserRoleTypeId option:selected").text() == "Admin") {
            if ($('#UserRoleTypeId').val() == $("#UserTypeRoleId").val()) {
                $('#StaffDrp_Div').show();
                $("#StaffId").val(row.find(".cls_userContactId").text());
            }
            else {
                $('#StaffDrp_Div').hide();
            }
        }
        else {
            $('#StaffDrp_Div').hide();
        }
        $("html").scrollTop("180");
        $("#UserRole").focus();
    });

    $(document).on("click", '.cls_deluserrole', function () {
        // row
        if (confirm('Are you sure you want to delete this?')) {
            var row = $(this).parent().parent();
            var obj = new Object();
            obj.UserRoleId = row.find(".cls_urid").text();
            obj.UserRoleContactTypeId = row.find(".cls_urctid").text();
            var rowindex = row.index();

            $('#ks_loader').show();
            // ajax call fro save row closing date
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteUserRole", "Security"))',
                data: obj,
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.data, "success", true, 5000);
                        var tbl = $('#userrole_grid');
                        var rows = $('tr', tbl);
                        rowindex++;
                        var row = rows.eq(rowindex);
                        row.remove();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

    $('#submit_btn').click(function () {
        $('#ks_loader').show();
        var formvalid = ValidateGradePattern();
        if (formvalid) {
            return true;
        }
        else {
            var validationaray = validationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $('#ks_loader').hide();
            return false;
        }
    });

    var valid = true;
    var validationmessage = "";
    var ctrlfocus = "";
    function ValidateGradePattern() {
        valid = true;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#UserRole').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#UserRole";
            validationmessage = validationmessage + "UserRole required ε";
            valid = false;
        }
        if ($('#ContactTypeId').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#ContactTypeId";
            validationmessage = validationmessage + "User Type required ε";
            valid = false;
        }
        if ($('#UserRoleTypeId').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#UserRoleTypeId";
            validationmessage = validationmessage + "UserRole Type required ε";
            valid = false;
        }
        if ($("#ContactTypeId").val() == $("#UserTypeId").val()
            && $("#ContactTypeId option:selected").text() == "Admin"
            && $("#UserRoleTypeId option:selected").text() == "Admin") {
            if ($('#UserRoleTypeId').val() == $("#UserTypeRoleId").val()) {
                if ($("#StaffId").val() == "") {
                    if (ctrlfocus == "")
                        ctrlfocus = "#StaffId";
                    validationmessage = validationmessage + "Staff required ε";
                    valid = false;
                }
            }
        }

        return valid;
    }


</script>