﻿@model ViewModel.ViewModel.Security.SessionModel

@Html.HiddenFor(p => p.SessionId)
@Html.HiddenFor(p => p.StartDateToPost)
@Html.HiddenFor(p => p.EndDateToPost)
<div class="row  top-space-10" id="addUpdatefields">
    <div class="col-md-12">
        <div class="col-md-2">
            <label>Session</label>
            @Html.TextBoxFor(model => model.Session, null, new { @class = "form-control", @placeholder = "yyyy-yyyy", @maxlength = "9" })
            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.Session)
            </div>
            <!-- //Error Message -->
        </div>
        <div class="col-md-2">
            <label>Start Date </label>
            @Html.TextBoxFor(model => model.StartDate, null, new { @class = "form-control", @placeholder = "dd/MM/yyyy", @maxlength = "12" })
            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.StartDateToPost)
            </div>
            <!-- //Error Message -->
        </div>
        <div class="col-md-2">
            <label>End Date </label>
            @Html.TextBoxFor(model => model.EndDate, null, new { @class = "form-control", @placeholder = "dd/MM/yyyy", @maxlength = "12" })
            <!-- Error Message -->
            <div class="error-message" hidden>
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.EndDateToPost)
            </div>
            <!-- //Error Message -->
        </div>
        <div class="col-md-2 top-space-20" id="check"  hidden>
            <label>Is Default </label>
            @Html.CheckBoxFor(model => model.IsDetault)
        </div>
        <div class="col-md-3 top-space-20">
            @*@if (Model.IsAuthToAdd) {*@ 
            <button type="submit" name="save" class="btn btn-default" id="save-session">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>@*}*@
            <button type="button" name="cancel" class="btn btn-default" id="cancel">
                Cancel
            </button>
        </div>
    </div>
</div>
