﻿@model ViewModel.ViewModel.Security.ReportModel
<style>

    .errAllUsrDiv {
    position: static !important;
    margin-top: 4px;
    color: red;
}
    .form-control{
        height:34px !important;
        border-radius:4px !important;
    }
</style>
<!-- Page Heading -->
@*<div>
    <div class="row col-md-6 text-right">
        <a href="@Url.Action("Reports", "Security")" id="" class="btn btn-xs btn-default">Back</a>
    </div>
</div>*@
<!-- //Page Heading -->

<div class="row top-space-10">
    <div class="col-md-2">
        <label class="custom-label">Select User:</label>
        @Html.DropDownListFor(m => m.CreateUserModel.UserTypeId, Model.CreateUserModel.AvailableUserType, new { @id = "AddUserTypeId", @class = "form-control" })
    </div>
    <div class="staffDiv">
        <div class="col-md-2 stafflist" style="display:none">
            <label class="custom-label">Select Staff:</label>
            <select class="form-control" id="StaffId"></select>
        </div>
        <div class="col-md-8 staffInfoDiv" style="display:none;margin-top: 15px;">
            <div class="StaffuserInfo">
            </div>
        </div>
    </div>
    <div class="StudentDiv">
        <div class="col-md-2 classlist" style="display:none">
            <label class="custom-label">Select Class:</label>
            <select class="form-control" id="ClassId">
                <option></option>
            </select>
        </div>
        <div class="col-md-2 studentlist" style="display:none">
            <label class="custom-label">Select Student:</label>
            <select class="form-control" id="StudentId">
                <option></option>
            </select>
        </div>
        <div class="col-md-2 guardianlist" style="display:none">
            <label class="custom-label">Select Guardian:</label>
            <select class="form-control" id="GuardianId">
                <option></option>
            </select>
        </div>
        <div class="col-md-6 studentInfoDiv" style="display:none;margin-top: 15px;">
            <div class="StudentUserInfo">
            </div>
        </div>
    </div>
    <div class="col-md-6 guardianInfo" style="display:none;margin-top: 15px;">
        <div class="GuardianUserInfo">
        </div>
    </div>

    <div class="userpwdDiv" style="display:none;margin-top: 15px; float: left; width: 100%;">
        <div class="col-md-12" style="padding: 0;">
            <div class="col-md-2">
                <label class="control-label">UserId<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                @Html.TextBox("UserName", new { @id = "UserName", @class = "form-control", @placeholder = "User Name" })
                <!-- Error Message -->
                <div class="error-message errUserName errAllUsrDiv" style="display:none">
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">Select UserRole<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <select class="form-control" id="addUserRoleId"></select>
                <div class="error-message errUserRole errAllUsrDiv" style="display:none">
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">Password<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                @Html.TextBoxFor(model => model.CreateUserModel.Password, new { @id = "Password", @class = "form-control", @placeholder = "Password", @type = "password" })
                <!-- Error Message -->
                <div class="error-message errPassword errAllUsrDiv" style="display:none">
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">ConfirmPassword<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                @Html.TextBoxFor(model => model.CreateUserModel.VerifyPassword, new { @id = "VerifyPassword", @class = "form-control", @placeholder = "Confirm Password", @type = "password" })
                <!-- Error Message -->
                <div class="error-message errConfirmPassword errAllUsrDiv" style="display:none">
                </div>
            </div>

            <div class="col-md-4">
                <div class="top-space-20" style="float: right">
                    <button type="button" name="StaffUser" class="btn btn-success" id="CreateUpdateUser">
                        Create
                    </button>
                    <button type="button" name="reset" class="btn btn-danger" id="resetAddDiv">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function clear() {
        //user
        // $("#AddUserTypeId").val("");

        //Staff
      //  $("#ExistingUserId").val("");
        $("#StaffId").val("");
        $("#StaffId").html("");
        $("#StaffuserInfo").html("");

        //Student
        $("#ClassId").val("");
        $("#ClassId").html("");
        $("#StudentId").val("");
        $("#StudentId").html("");

        //Guardian
        $('#GuardianId').html("");

        //UserPwd
        $("#UserName").val("");
        $("#Password").val("");
        $("#VerifyPassword").val("");
    }

    function clearUsrPwd() {
        $("#UserName").val("");
        $("#Password").val("");
        $("#VerifyPassword").val("");
        $(".errAllUsrDiv").hide();
    }
    function Reset() {
        clear();
        $(".stafflist").hide();
        $(".staffInfoDiv").hide();
        $(".userpwdDiv").hide();
        $(".classlist").hide();
        $(".studentlist").hide();
        $(".studentInfoDiv").hide();
        $('.guardianlist').hide();
        $(".guardianInfo").hide();
        $(".GuardianUserInfo").html("");
    }

    $("#ClassId").change(function () {
        $("#StudentId").html("");
        $(".studentlist").hide();
        $(".StudentUserInfo").html("");
        $(".studentInfoDiv").hide();
        $('#GuardianId').html("");
        $('.guardianlist').hide();
        $(".userpwdDiv").hide();
        $('#GuardianId').val("");
        $(".guardianInfo").hide();
        $('#ks_loader').hide();
        if ($(this).val() != "" && $(this).val() > 0) {
            $('#ks_loader').show();
            var ClassId = $(this).val();
            var SelectedUserType = $("#AddUserTypeId :selected").text();
            $.ajax({
                type: "Get",
                url: "@Html.Raw(Url.Action("StudentList", "Security"))",
                data: jQuery.param({ "ClassId": ClassId, "SelectedUserType": SelectedUserType }),
                success: function (result) {
                    if (result.status == "sucess") {
                        if (result.studenList.length == 0) {
                            $('#ks_loader').hide();
                            ToastMessage("No Student Found", "error", true, 5000);
                            return false;
                        }
                        var html = "";
                        $.each(result.studenList, function (value, data) {
                            if (data.Selected == true)
                                html += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                            else
                                html += "<option value=" + data.Value + ">" + data.Text + "</option>"
                        })
                        $("#StudentId").append(html);
                        $(".studentlist").show();
                        $('#ks_loader').hide();
                        if (result.studenList.length == 1) {
                            $("#StudentId").trigger('change');
                        }
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage(result.data, "error", true, 5000);
                        return false;
                    }
                },
                error: function () {
                    alert("Error");
                    $('#ks_loader').hide();
                }
            });
        }
    })

    $("#StudentId").change(function () {
        var StudentId = $("#StudentId").val();
        $('#GuardianId').val("");
        $(".guardianInfo").hide();
        $(".GuardianUserInfo").html("");
        $(".StudentUserInfo").html("");
        $(".studentInfoDiv").hide();
        $('#GuardianId').html("");
        $('.guardianlist').hide();
        $(".userpwdDiv").hide();
        $('#ks_loader').hide();
        if (StudentId != "" && StudentId != null) {
            var SelectedUserType = $("#AddUserTypeId :selected").text();
            if (SelectedUserType == "Student" || SelectedUserType == "Guardian") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Get",
                    url: "@Html.Raw(Url.Action("StudentInfo", "Security"))",
                    data: jQuery.param({ "StudentId": StudentId, "SelectedUserType": SelectedUserType }),
                    success: function (result) {
                        if (result.status = "success") {
                                var data = result.data;

                                    if (SelectedUserType == "Student") {
                                        if (data.IsUserExist) {
                                            $(".userpwdDiv").hide();
                                            $('#ks_loader').hide();
                                            ToastMessage("User Already Exist", "error", true, 5000);
                                            return false;
                                        }
                                        var FullName = data.FName + "S" + data.StudentId;
                                      //  FullName = FullName.toLowerCase();
                                        FullName = FullName.replace(/ /g, '');
                                        $("#UserName").val(FullName);
                                        drophtml = "";
                                        $.each(data.UserRoleList, function (value, data) {
                                            if (data.Selected == true)
                                                drophtml += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                                            else
                                                drophtml += "<option value=" + data.Value + ">" + data.Text + "</option>"
                                        })
                                        $("#addUserRoleId").html(drophtml);
                                    }

                                    var html = "";
                                    html += '<div class="student_profile">'
                                    html += '<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profile-left">'
                                    html += '<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profile-img">'
                                    html += '<div class="img-thumbal"><img class="img-responsive" style="width:125px;height: 125px;" src="' + data.StudentImage + '" /></div>'
                                    html += '</div>'
                                    html += '<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 student-detail-list">'
                                    html += '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"style="padding: 0 70px">'
                                    html += '<h3>' + data.StudentName + '</h3>'
                                    if (data.CurrentClass != null) {
                                        html += '<p>Class: ' + data.CurrentClass + '</p>'
                                    }
                                    if (data.CurrentClassRollno != null && data.CurrentClassRollno != "") {
                                        html += '<p>Roll No: ' + data.CurrentClassRollno + '</p>'
                                    }
                                    if (data.RegistrationNo != null && data.RegistrationNo != "") {
                                        html += '<p>Reg. Number: ' + data.RegistrationNo + '</p>'
                                    }
                                    else {
                                        if (data.AdmissionNo != null && data.AdmissionNo != "") {
                                            html += '<p>Admission No: ' + data.AdmissionNo + '</p>'
                                        }
                                    }
                                    //if (data.Status != null) {
                                    //    html += '<p>Current Status: ' + data.Status + '</p>'
                                    //}
                                    html += '<p>Mobile No: ' + data.PhoneNo + '</p>'
                                    html += '</div>'
                                    html += '</div>'
                                    html += '</div>'
                                    html += '</div>'
                                    $(".StudentUserInfo").append(html);
                                    $(".studentInfoDiv").show();
                                    if (SelectedUserType == "Guardian") {
                                        var grdnhtml = "";
                                        if (data.AvailableGuardianList.length==0) {
                                            $('#ks_loader').hide();
                                            ToastMessage("No Guardian Available", "error", true, 5000);
                                            return false;
                                        }
                                        $.each(data.AvailableGuardianList, function (value, data) {
                                            if (data.Selected == true)
                                                grdnhtml += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                                            else
                                                grdnhtml += "<option value=" + data.Value + ">" + data.Text + "</option>"
                                        })
                                        $('#GuardianId').append(grdnhtml);
                                        $('.guardianlist').show();
                                        $('#ks_loader').hide();
                                        if (result.studenList.length == 1) {
                                            $("#GuardianId").trigger('change');
                                        }
                                    }
                                    else {
                                        $(".userpwdDiv").show();
                                        $('#ks_loader').hide();
                                    }
                        }
                        else {
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
        }
    })

    $("#GuardianId").change(function () {
        $(".guardianInfo").hide();
        $(".GuardianUserInfo").html("");
        $("#addUserRoleId").val();
        $("#addUserRoleId").html("");
        clearUsrPwd();
        if ($("#Guardian").val() != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                url: "@Html.Raw(Url.Action("GuardianInfo", "Security"))",
                data: jQuery.param({ "GuardianId": $("#GuardianId").val() }),
            success: function (result) {
                if (result.status = "success") {
                    var data = result.data;
                    if (data.IsUserExist) {
                        $(".userpwdDiv").hide();
                        $('#ks_loader').hide();
                        ToastMessage("User Already Exist", "error", true, 5000);
                        // $("#UserName").val(data.Username);
                        // $("#ExistingUserId").val(data.EncUserId);
                    }
                    else {
                        var FullName = data.GFName + "G" + data.GuardianId;
                        //  FullName = FullName.toLowerCase();
                        FullName = FullName.replace(/ /g, '');
                        $("#UserName").val(FullName);
                        drophtml = "";
                        $.each(data.UserRoleList, function (value, data) {
                            if (data.Selected == true)
                                drophtml += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                            else
                                drophtml += "<option value=" + data.Value + ">" + data.Text + "</option>"
                        })
                        var html = "";
                        html += '<div class="student_profile">'
                        html += '<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profile-left">'
                        html += '<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profile-img">'
                        html += '<div class="img-thumbal"><img class="img-responsive" style="width:125px;height: 125px;" src="' + data.GuardianImagepath + '" /></div>'
                        html += '</div>'
                        html += '<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 student-detail-list">'
                        html += '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"style="padding: 0 70px">'
                        html += '<h3>' + data.GFName + (data.GLName != null ? data.GLName : "") + '</h3>'
                        if (data.GuardianType != null) {
                            html += '<p>Relation Type: ' + data.GuardianType + '</p>'
                        }
                        html += '<p>Mobile No: ' + data.PhoneNo + '</p>'
                        html += '</div>'
                        html += '</div>'
                        html += '</div>'
                        html += '</div>'

                        $(".GuardianUserInfo").append(html);
                        $(".guardianInfo").show();
                        $("#addUserRoleId").html(drophtml);
                        $(".userpwdDiv").show();
                        $('#ks_loader').hide();
                    }
                }
                else {
                    var err = "Error " + " " + result.data;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    } else {
            $(".userpwdDiv").hide();
    }
    })

    $("#AddUserTypeId").change(function () {
        $(".errAllUsrDiv").hide();
        Reset();
        var usertypeid = $("#AddUserTypeId").val();
        if (usertypeid != "" && usertypeid > 0) {
            //   If Teacher Or Non Teacher
            var UserType = $("#AddUserTypeId :selected").text();
            if (UserType == "Teacher" || UserType == "Non-Teaching") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Get",
                    url: "@Html.Raw(Url.Action("StaffList", "Security"))",
                    data: jQuery.param({ "Stafftype": UserType }),
                    success: function (result) {
                        if (result.status = "success") {
                            var html = "";
                            $.each(result.stafflist, function (value, data) {
                                if (data.Selected == true)
                                    html += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                                else
                                    html += "<option value=" + data.Value + ">" + data.Text + "</option>"
                            })
                            $("#StaffId").append(html);
                            $(".stafflist").show();
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
            else if (UserType == "Student" || UserType == "Guardian") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Get",
                    url: "@Html.Raw(Url.Action("ClassList", "Security"))",
                    data: jQuery.param({ "Usertype": UserType }),
                    success: function (result) {
                        if (result.status = "success") {
                            var html = "";
                            $.each(result.ClassList, function (value, data) {
                                if (data.Selected == true)
                                    html += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                                else
                                    html += "<option value=" + data.Value + ">" + data.Text + "</option>"
                            })
                            $("#ClassId").append(html);
                            $(".classlist").show();
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                        }
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
            else {
                Reset();
            }
        }
        else {
            Reset();
        }
    })

    $("#StaffId").change(function () {
        $(".StaffuserInfo").html("");
        $("#addUserRoleId").html("");
        clearUsrPwd();
        if ($("#StaffId").val() != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                url: "@Html.Raw(Url.Action("StaffInfo", "Security"))",
                data: jQuery.param({ "StaffId": $("#StaffId").val() }),
                success: function (result) {
                    if (result.status = "success") {
                        var data = result.data;
                        if (data.IsUserExist) {
                            $(".userpwdDiv").hide();
                            $('#ks_loader').hide();
                            ToastMessage("User Already Exist", "error", true, 5000);
                            // $("#UserName").val(data.Username);
                            // $("#ExistingUserId").val(data.EncUserId);
                        }
                        else {
                            var FullName = data.FirstName + (data.LastName != null ? data.LastName : "") + data.StaffId
                            //  FullName = FullName.toLowerCase();
                            FullName = FullName.replace(/ /g, '');
                            $("#UserName").val(FullName);
                            drophtml = "";
                            $.each(data.UserRoleList, function (value, data) {
                                if (data.Selected == true)
                                    drophtml += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                                else
                                    drophtml += "<option value=" + data.Value + ">" + data.Text + "</option>"
                            })
                            $("#addUserRoleId").html(drophtml);
                            var html = "";
                            html += '<div class="student_profile">'
                            html += '<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profile-left">'
                            html += '<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profile-img">'
                            html += '<div class="img-thumbal"><img class="img-responsive" style="width:125px;height: 125px;" src="' + data.StaffImagepath + '" /></div>'
                            html += '</div>'
                            html += '<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 student-detail-list">'
                            html += '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0 70px">'
                            html += '<h3>' + (data.FirstName + " " + (data.LastName != null ? data.LastName : "")) + '</h3>'
                            if (data.Empcode != null) {
                                html += '<p>Emp Code:'+ data.Empcode+'</p>'
                            }
                            //if (data.ContactInfoModel.ContactToShow != null) {
                            //    html += '<p>Mobile Number: ' + data.ContactInfoModel.ContactToShow + '</p>'
                            //}
                            //if (data.Email != null && data.Email != "") {
                            //    html += '<p>Email: ' + data.Email + '</p>'
                            //}
                            if (data.DepartmentId != null) {
                                html += '<p>Department: ' + data.Department + '</p>'
                            }
                            if (data.StaffTypeToShow != null) {
                                html += '<p>Staff Type: ' + data.StaffTypeToShow + '</p>'
                            }
                            //if (data.IsActive != null) {
                            //    if (data.IsActive) {
                            //        html += '<p>Current Status: Active</p>'
                            //    }
                            //    else {
                            //        html += '<p>Current Status: InActive</p>'
                            //    }
                            //}
                            if (data.DesignationId != null) {
                                html += '<p>Designation: ' + data.Designation + '</p>'
                            }
                                html += '<p>Mobile No: ' + data.PhoneNo + '</p>'
                            html += '</div>'
                            html += '</div>'
                            html += '</div>'
                            html += '</div>'
                            $(".StaffuserInfo").append(html);
                            $(".staffInfoDiv").show();
                            $(".userpwdDiv").show();
                            $('#ks_loader').hide();
                        }
                    }
                    else {
                        var err = "Error " + " " + result.data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        } else {
            $(".userpwdDiv").hide();
        }
    })

    var userExist = false;
    ////Check UserName Exist
    function UserNameExist() {
        var username = $("#UserName").val();
        if (username != "" && username != null) {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                async: false,
                url: "@Html.Raw(Url.Action("CheckUserExist", "Security"))",
                data: jQuery.param({ "UserName": username }),
                success: function (result) {
                    if (result.status == "failed") {
                        userExist = true;
                        $(".errUserName").html("<i class='fa fa-exclamation-triangle'>UserName Already Exist</i>")
                        $(".errUserName").show();
                        ToastMessage(result.mes, "error", true, 5000);
                        $('#ks_loader').hide();
                        return userExist;
                    }
                    else {
                        userExist = false;
                        $('#ks_loader').hide();
                        return userExist;
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    }
    $("#UpdUserName").val("");
    $("#UserName").blur(function () {
        $(".errUserName").hide();
        var username = $("#UserName").val();
        if (username != "" && username != null) {
            UserNameExist();
            if (userExist) {
                return false;
            }
        }
    })


    $("#VerifyPassword").blur(function () {
        var pwd = $("#Password").val();
        var cnfrmPwd = $("#VerifyPassword").val();
        if (pwd != "" && cnfrmPwd != "") {
            if (pwd != cnfrmPwd) {
                $(".errConfirmPassword").html("<i class='fa fa-exclamation-triangle'>Confirm Password Must Be Same As Password</i>");
                $(".errConfirmPassword").show();
                return false;
            }
            else {
                $(".errConfirmPassword").hide();
            }
        }
    })

    $("#resetAddDiv").click(function () {
        $("#AddUserTypeId").val("");
        Reset();
    })

    $("#CreateUpdateUser").click(function () {
        var ErrorExist = UserPwdErr();
        if (ErrorExist) {
            return false;
        }

        UserNameExist();
        if (userExist) {
            return false;
        }

        var pwd = $("#Password").val();
        var cnfrmPwd = $("#VerifyPassword").val();
        if (pwd != "" && cnfrmPwd != "") {
            if (pwd != cnfrmPwd) {
                $(".errConfirmPassword").html("<i class='fa fa-exclamation-triangle'>Confirm Password Must Be Same As Password</i>");
                $(".errConfirmPassword").show();
                return false;
            }
        }

        $('#ks_loader').show();
        var usertype = $("#AddUserTypeId :selected").text();
        var model = new Object();
        if (usertype == "Teacher" || usertype == "Non-Teaching") {
            model.EncUserContactId = $("#StaffId").val();
        }
        else if (usertype == "Student") {
            model.EncUserContactId = $("#StudentId").val();
        }
        else if (usertype == "Guardian") {
            model.EncUserContactId = $("#GuardianId").val();
        }


            model.UserName = $("#UserName").val();
            model.Password = $("#Password").val();
            model.UserTypeId = $("#AddUserTypeId").val();
            model.UserRoleId = $("#addUserRoleId").val();
            //model.EncUserId = "";
            $.ajax({
                async:false,
                type: "Post",
                url: '@Html.Raw(Url.Action("CreateUpdateUser", "Security"))',
                data: model,
                success: function (result) {
                    if (result.status == "success") {
                        $("#AddUserTypeId").val("");
                        $("#resetAddDiv").trigger('click');
                        var grid = $('#User_grid').data('kendoGrid');
                        grid.dataSource.page(1);
                        ToastMessage(result.mes, "success", true, 5000);
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.mes, "error", true, 5000);
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });

    })

    function UserPwdErr() {
        var ErrorExist = false;
        $(".errAllUsrDiv").hide();
        if ($("#UserName").val() == "") {
            $(".errUserName").html("<i class='fa fa-exclamation-triangle'>UserName Required</i>")
            $(".errUserName").show();
            ErrorExist = true;
        }
        if ($("#addUserRoleId").val() == "") {
            $(".errUserRole").html("<i class='fa fa-exclamation-triangle'>User Role Required</i>")
            $(".errUserRole").show();
            ErrorExist = true;
        }
        if ($("#Password").val() == "") {
            $(".errPassword").html("<i class='fa fa-exclamation-triangle'>Password Not Be Empty</i>")
            $(".errPassword").show();
            ErrorExist = true;
        }
        if ($("#VerifyPassword").val() == "") {
            $(".errConfirmPassword").html("<i class='fa fa-exclamation-triangle'>ConfirmPassword Not Be Empty</i>")
            $(".errConfirmPassword").show();
            ErrorExist = true;
        }
        return ErrorExist;
    }
</script>