﻿@model ViewModel.ViewModel.Security.ChangeUserRoleModel

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
</div>
<!-- //Page Heading -->
<style>
    .select2-container {
        width: 370px !important;
    }
</style>

<div class="row">
    <div class="container-fluid" style="max-width:400px;margin:60px auto;">
        @using (Html.BeginForm("ChangeUserRole", "Security", FormMethod.Post, new { @class = "form-vertical" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="custom-label">User Type:</label>
                @Html.DropDownListFor(model => model.UserTypeId, Model.UserTypeList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" id="classlist" hidden>
                <label class="custom-label">Class:</label>
                @Html.DropDownListFor(model => model.Classid, Model.ClassList, new { @class = "form-control js-example-templating" })
                @Html.ValidationMessageFor(model => model.Classid, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="custom-label">User:</label>
                @Html.DropDownListFor(model => model.UserId, Model.UserList, new { @class = "form-control js-example-templating" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="custom-label">User Role:</label>
                @Html.DropDownListFor(model => model.UserRoleId, Model.UserRoleList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserRoleId, "", new { @class = "text-danger" })
            </div>

            <button type="button" class="btn btn-default pull-right" id="cancelinfo">
                Cancel
            </button>
            <button type="submit" class="btn btn-success pull-right" id="saveinfo" style="margin-right: 15px;">
                Save
                <i class="fa fa-floppy-o"></i>
            </button>
        }
    </div>
</div>



<script>

    $(".js-example-templating").select2({
    });

    $(document).on('change', '#UserTypeId', function () {
        if ($("#UserTypeId option:selected").text() == "Student") {
            $('#ks_loader').show();
            $("#classlist").show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetAllClasses", "Security"))',
                data: {},
                success: function (result) {
                    if (result.status == "success") {
                        $("#Classid").find('option').not(':first').remove()
                        if (result.ClassList.length > 0) {
                            $.each(result.ClassList, function () {
                                $('#Classid').append('<option value=' + this.Value + '>' + this.Text + '</option>')
                            })
                        }
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            $('#ks_loader').show();
            $("#Classid").find('option').not(':first').remove()
            $("#classlist").hide();
            if ($(this).val() != "") {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("GetUsersAndUserRoles", "Security"))',
                    data: { "ContactTypeId": $(this).val() },
                    success: function (res) {
                        if (res.status == "success") {
                            $("#UserId").find('option').not(':first').remove()
                            $("#UserRoleId").find('option').not(':first').remove()
                            if (res.UserList.length > 0) {
                                $.each(res.UserList, function () {
                                    $('#UserId').append('<option value=' + this.Value + '>' + this.Text + '</option>')
                                })
                            }
                            if (res.UserRoleList.length > 0) {
                                $.each(res.UserRoleList, function () {
                                    $('#UserRoleId').append('<option value=' + this.Value + '>' + this.Text + '</option>')
                                })
                            }
                        }
                        else {
                            $("#UserId").find('option').not(':first').remove();
                            $("#UserRoleId").find('option').not(':first').remove();
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $("#UserId").find('option').not(':first').remove();
                $("#UserRoleId").find('option').not(':first').remove();
                return false;
            }
        }
    })

    $(document).on('change', '#Classid', function () {
        if ($(this).val() != "" && $("#UserTypeId").val() != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetUsersAndUserRoles", "Security"))',
                data: { "ContactTypeId": $("#UserTypeId").val(), "ClassId": $(this).val() },
                success: function (res) {
                    if (res.status == "success") {
                        $("#UserId").find('option').not(':first').remove()
                        $("#UserRoleId").find('option').not(':first').remove()
                        if (res.UserList.length > 0) {
                            $.each(res.UserList, function () {
                                $('#UserId').append('<option value=' + this.Value + '>' + this.Text + '</option>')
                            })
                        }
                        if (res.UserRoleList.length > 0) {
                            $.each(res.UserRoleList, function () {
                                $('#UserRoleId').append('<option value=' + this.Value + '>' + this.Text + '</option>')
                            })
                        }
                    }
                    else {
                        $("#UserId").find('option').not(':first').remove();
                        $("#UserRoleId").find('option').not(':first').remove();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            $("#UserId").find('option').not(':first').remove();
            $("#UserRoleId").find('option').not(':first').remove();
            return false;
        }
    })


    $(document).on('change', '#UserId', function () {
        if ($(this).val() != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetCurrentUserRole", "Security"))',
                data: { "UserId": $(this).val() },
                success: function (res) {
                    if (res.status == "success") {
                        $('#UserRoleId').val(res.data);
                    }
                    else {
                        ToastMessage(err, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            return false;
        }
    })




    $("#saveinfo").click(function () {
        var isValid = validateUser();
        if (!isValid) {
            var validationaray = Uservalidationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $('#ks_loader').hide();
            return false;
        }
    })

    $("#cancelinfo").click(function () {
        $("#UserTypeId").val('');
        $("#Classid").val('').trigger('change');;
        $("#UserId").val('').trigger('change');;
        $("#UserRoleId").val('');
        $("#classlist").hide();
    })



    var Uservalid = true;
    var Uservalidationmessage = "";
    var Userctrlfocus = "";
    function validateUser() {
        Uservalid = true;
        Uservalidationmessage = "";
        Userctrlfocus = "";

        if ($('#UserTypeId').val() == "") {
            if (Userctrlfocus == "")
                Userctrlfocus = "#UserTypeId";
            Uservalidationmessage = Uservalidationmessage + "User Type required ε";
            Uservalid = false;
        }


        if ($('#UserId').val() == "") {
            if (Userctrlfocus == "")
                Userctrlfocus = "#UserId";
            Uservalidationmessage = Uservalidationmessage + "User required ε";
            Uservalid = false;
        }

        if ($('#UserRoleId').val() == "") {
            if (Userctrlfocus == "")
                Userctrlfocus = "#UserRoleId";
            Uservalidationmessage = Uservalidationmessage + "User Role required ε";
            Uservalid = false;
        }

        return Uservalid;
    }

</script>
