﻿@model ViewModel.ViewModel.Security.ReportModel

@{
    ViewBag.Title = "User Reports";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style>
    .errUpdAllUsrDiv i{
        color:red
    }
    #btnSettings {
        padding: 3px;
        padding-top: 0px;
        padding-bottom: 1px;
    }

</style>
<!--Settings-->
<div class="modal" id="myModalSetting" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content" style="width:500px">
            <div class="modal-header">
                <h4 class="modal-title text-center">Set OTP Permissions</h4>
                <button type="button" id="closemyModalSetting" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="top-space-10" id="table_div">
                    <table id="otpSettingtbl" class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>UserType</th>
                                <th>Signup Otp <br /><input type="checkbox" style="margin-left: 30px;" data-action="signupcheckbx" class="signupCheck" /></th>
                                <th>Reset PWD Otp<br /><input type="checkbox" style="margin-left: 30px;" data-action="resetOtpcheckbx" class="resetPwdCheck" /></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveOtpPermisions" class="btn btn-success">Save</button>
                <button type="button" id="clsemyModalSetting" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>

<!--NoN App User-->
<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Select User Type</h4>
                <button type="button" id="closemyModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
         
            <div class="modal-body">
                <a href="javascript:void(0)" id="StaffType" name="Staff" class="btn btn-xs  nonAppUserType"><h5>Staff</h5></a><br/>
                <a href="javascript:void(0)" id="StudentType" name="Student" class="btn btn-xs  nonAppUserType"><h5>Student</h5></a><br />
                <a href="javascript:void(0)" id="GuardianType" name="Guardian" class="btn btn-xs  nonAppUserType"><h5>Guardian</h5></a><br />
                <div class="guardianRadioButton" style="margin-top: -8px;margin-left: 20px;">
                    <input type="radio" name="guardianusertype" class="nonAppUserTypeGuard" value="AllEntries" checked> All Entries  &nbsp;&nbsp;<input type="radio" name="guardianusertype" class="nonAppUserTypeGuard" value="UniqueEntries"> Unique Entries
                </div>
                @*<input type="checkbox" id="StudentType" name="Student" class="nonAppUserType"/>&nbsp;&nbsp;<label for="StudentType">Student</label><br/><br />
                <input type="checkbox" id="StaffType" name="Staff" class="nonAppUserType" />&nbsp;&nbsp;<label for="StaffType">Staff</label><br /><br />
                <input type="checkbox" id="GuardianType" name="Guardian" class="nonAppUserType" />&nbsp;&nbsp;<label for="GuardianType">Guardian</label><br /><br />*@
            </div>
        </div>
    </div>
</div>


<!--  UserEditModal  -->

@Html.Hidden("ExistingUserId")
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-sm"style="width:60%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit User</h4>
                <h5 class="lblusername"></h5>
                <h5 class="lblusertype"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding: 0;">
                        <div class="col-md-2">
                            <input class="form-control" id="" style="display:none" />
                            <label class="control-label">UserId<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <input class="form-control" id="UpdUserName" />
                            <!-- Error Message -->
                            <div class="error-message errUpdUserName errUpdAllUsrDiv" style="display:none">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Select UserType<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <select class="form-control" id="UpdUserTypeId"></select>
                            
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Select UserRole<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <select class="form-control" id="UpdUserRoleId"></select>
                            <div class="error-message errUpdUserRole errUpdAllUsrDiv" style="display:none">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Password<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <input type="password" class="form-control" id="UpdPassword" />
                            <!-- Error Message -->
                            <div class="error-message errUpdPassword errUpdAllUsrDiv" style="display:none">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">ConfirmPassword<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                            <input type="password" class="form-control" id="UpdVerifyPassword" />
                            <!-- Error Message -->
                            <div class="error-message errUpdConfirmPassword errUpdAllUsrDiv" style="display:none">
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4" style="float:right;text-align:right">
                        <div class="top-space-20">
                            <button type="button" name="UpdateUser" class="btn btn-success" id="UpdateUser">
                                Update
                            </button>
                            <button type="button" name="reset" class="btn btn-danger" id="resetModal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeFilesDetail" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>
<!-- //UserEditModal-->

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>User Reports</h1>
    </div>
    <div class="row top-space-10 text-right">
        <a title="Search" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="btn btn-default btn-xs" id="addNewUser">Add New User</a>
        <a href="javascript:void(0)" id="btnexportexcel" class="btn btn-xs btn-default">Export to excel</a>
        <a href="javascript:void(0)" id="btnNonAppUser" class="btn btn-xs btn-default">Non App User</a>
        <a title="Search" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="btn btn-default btn-xs" id="FilterUser">Filter</a>
        <a href="javascript:void(0)" id="btnSettings" class="btn btn-default">
            <img src="~/Content/assets/img/setting.png" />
        </a>
    </div>
</div>

<!-- //Page Heading -->
<div class="row top-space-10" style="display: none" id="div_CreateUser">
    @using (Html.BeginForm("Reports", "Security", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
    {

        @Html.AntiForgeryToken()
        @Html.Partial("_CreateOrUpdateUser", Model)
    }

</div>
<div class="row top-space-10" style="display: none" id="div_filter">
    <div class="col-md-2">
        <label class="custom-label">User Id</label>
        @Html.TextBox("Name", "", new { @id = "Name", @maxlength = 20, @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="custom-label">User Name</label>
        @Html.TextBox("FullName", "", new { @id = "FullName", @maxlength = 20, @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="custom-label">Phone</label>
        @Html.TextBox("Phone", "", new { @id = "Phone", @maxlength = 10, @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="custom-label">Type</label>
        @Html.DropDownListFor(p => p.UserTypeId, Model.UserTypeList, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="custom-label">Status</label>
        @Html.DropDownListFor(p => p.StatusId, Model.AvaiableStatusList, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="custom-label">User Role</label>
        @Html.DropDownListFor(p => p.UserRoleId, Model.AvaiableUserRoles, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="custom-label">Session</label>
        @Html.DropDownListFor(p=>p.SessionId,Model.AvaiableSessions, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="custom-label">Class</label>
        @Html.DropDownListFor(p => p.ClassId, Model.AvaiableUserClasses, new { @id = "filterClsId", @class = "form-control" })
    </div>
    <div class="col-md-4">
        <div class="top-space-20">
            <button type="button" name="filter" class="btn btn-success" id="filter">
                Filter
            </button>
            <button type="button" name="reset" class="btn btn-danger" id="resetfilter">
                Reset
            </button>
        </div>
    </div>
</div>

    <!-- Page Controls -->
    <div class="row top-space-10">
        <div id="User_grid"></div>
        <script>
            $(document).ready(function () {
                $("#User_grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("UserList", "Security"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function (data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    // dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [{
                        field: "UserId",
                        hidden: true
                    },{
                        field: "UserName",
                        title: "User ID",
                        template:"#if(InActiveUser){# <label style='Color:Red;font-weight: normal;'>#=UserName# </label> #}else{#<label style='font-weight: normal;'>#=UserName#</label>#}#",
                        sortable: true
                    },{
                        field: "User",
                        title: "User Name",
                        template:"#if(InActiveUser){# <label style='Color:Red;font-weight: normal;'>#=User# </label> #}else{#<label style='font-weight: normal;'>#=User#</label>#}#",
                        sortable: true
                    },{
                        field: "Class",
                        title: "Class",
                        template:"#if(InActiveUser){# <label style='Color:Red;font-weight: normal;'>#=Class# </label> #}else{#<label style='font-weight: normal;'>#=Class#</label>#}#",
                        sortable: true
                    },{
                        field: "RegistrationDate",
                        title: "Reg. Date",
                        template:"#if(InActiveUser){# <label style='Color:Red;font-weight: normal;'>#=RegistrationDate# </label> #}else{#<label style='font-weight: normal;'>#=RegistrationDate#</label>#}#",
                        sortable: true
                    },{
                        field: "PhoneNumber",
                        title: "Ph. No.",
                        template:"#if(InActiveUser){# <label style='Color:Red;font-weight: normal;'>#=PhoneNumber# </label> #}else{#<label style='font-weight: normal;'>#=PhoneNumber#</label>#}#",
                        sortable: true
                    },{
                        field: "Status",
                        title: "Status",
                        template:"#if(InActiveUser){# <a title='Change Status' data-toggle='tooltip' data-status='#=Status#' data-userid='#=UserId#' data-placement='top' class='clsuserstatus'  style='cursor: pointer;Color:Red;font-weight: normal;' >#=Status#</a> #}else{#<a title='Change Status' data-toggle='tooltip' data-status='#=Status#' data-userid='#=UserId#' data-placement='top' class='clsuserstatus'  style='cursor: pointer;font-weight: normal;' >#=Status#</a>#}#",
                        sortable: true
                    },{
                        field: "UserRoleId",
                        hidden: true
                    },{
                        field: "UserTypeId",
                        hidden: true
                    },{
                        field: "UserType",
                        title: "User Type",
                        template:"#if(InActiveUser){# <label style='Color:Red;font-weight: normal;'>#=UserType# </label> #}else{#<label style='font-weight: normal;'>#=UserType#</label>#}#",
                        sortable: true
                    },{
                        field: "UserRole",
                        title: "User Role",
                        template:"#if(InActiveUser){# <label style='Color:Red;font-weight: normal;'>#=UserRole# </label> #}else{#<label style='font-weight: normal;'>#=UserRole#</label>#}#",
                        sortable: true
                    },{
                        field: "ClassId",
                        hidden: true
                    },{
                        field:"Action",
                        template:'#{#<a class=" btn btn-xs btn-default editUser" title="Edit User" data-toggle="tooltip" data-placement="top" style=" cursor:pointer" data-id="#=EncUserId#"><i class="fa fa-pencil"></i></a>#}#'
                                +'#{#<a class=" btn btn-xs btn-default deleteUser" title="Delete User" data-toggle="tooltip" data-placement="top" style=" cursor:pointer" data-id="#=EncUserId#"><i class="fa fa-trash"></i></a>#}#',
                    }]
                });
            });

        </script>
    </div>
    <script>
    $(document).ready(function(){
        $("#FilterUser").click(function(){
            $("#div_filter").show();
            $("#div_CreateUser").hide();
        })

        $("#resetfilter").click(function(){
            $("#div_filter").hide();
            $("#Name").val('');
            $("#Phone").val('');
             $("#FullName").val('');
            
            $("#UserTypeId").val('');
            $("#StatusId").val('@Model.StatusId');

            $("#UserRoleId").val("");
            $("#SessionId").val('');
            $("#filterClsId").val('');
            var grid = $('#User_grid').data('kendoGrid');
            grid.dataSource.page(1);
        })

        $('#filter').click(function () {
            var grid = $('#User_grid').data('kendoGrid');
            grid.dataSource.page(1);
            return false;
        });


        $('#btnexportexcel').click(function(){
            $('#ks_loader').show();
            var grid = $("#User_grid").data("kendoGrid");
            grid.saveAsExcel();
            setTimeout(function(){
                $('#ks_loader').hide();
            },5000);
        });

        $('#Phone').keydown(function (e) {
            NumericOnly(e);
        });
    })

    function additionalData() {
        var data = {
            UserName:$("#Name").val(),
            PhoneNumber: $("#Phone").val(),
            FullName:$("#FullName").val(),
            UserTypeId:$("#UserTypeId").val(),
            Status : $("#StatusId").val(),
            UserRoleId : $("#UserRoleId").val(),
            ClassId : $("#filterClsId").val(),
            SessionId : $("#SessionId").val()
        };
        return data;
    }

    $(document).on('click','.editUser',function () {
        $(".errUpdAllUsrDiv").hide();
        $(".lblusername").html("");
        $(".lblusertype").html("");
        var name=$(this).parent().parent().find("td:nth-child(3)").text();
        var usrtype=$(this).parent().parent().find("td:nth-child(10)").text();
        var EncUserId =$(this).attr("data-id");
        $("#UpdUserRoleId").html("");
        $("#UpdUserTypeId").html("");
        if(EncUserId !=""&&EncUserId!=""){
            $.ajax({
                type: "Get",
                url: "@Html.Raw(Url.Action("UserInfo", "Security"))",
                data: jQuery.param({ "EncUserId": EncUserId}),
            success: function (result) {
                if (result.status == "success") {
                    $("#UpdUserName").val(result.data.UserName);
                    $("#UpdPassword").val(result.data.Password);
                    $("#UpdVerifyPassword").val(result.data.Password);
                    $("#ExistingUserId").val(result.data.EncUserId);
                    $(".lblusername").html("UserName: "+name.toUpperCase())
                    $(".lblusertype").html("UserType: "+usrtype)
                    var html = "";
                    var ContactTypehtml = "";
                    $.each(result.data.UserRoleList, function (value, data) {
                        if (data.Selected == true)
                            html += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                        else
                            html += "<option value=" + data.Value + ">" + data.Text + "</option>"
                    })
                    $.each(result.data.AvailableUserType, function (value, data) {
                            ContactTypehtml += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                    })
                    $("#UpdUserTypeId").append(ContactTypehtml);
                    $("#UpdUserTypeId").val(result.data.UserTypeId);
                    $("#UpdUserRoleId").append(html);
                    $("#UpdUserRoleId").val(result.data.UserRoleId);
                    $("#editModal").modal('show');
                    $('#ks_loader').hide();

                }
                else {
                    $('#ks_loader').hide();
                    ToastMessage(result.mes, "error", true, 5000);
                    return false;
                }
            },
            error: function () {
                alert("Error");
                $('#ks_loader').hide();
            }
        });
        }
    })
    $(document).on('click','.deleteUser',function () {
        var EncUserId =$(this).attr("data-id");
        if(EncUserId !=""&&EncUserId!=""){
            if (window.confirm("Are You Sure You Want To Delete This User.")){
                $.ajax({
                    type: "Get",
                    url: "@Html.Raw(Url.Action("DeleteUser", "Security"))",
                    data: jQuery.param({ "EncUserId": EncUserId}),
                    success: function (result) {
                        if (result.status == "success") {
                            var grid = $('#User_grid').data('kendoGrid');
                            grid.dataSource.page(1);
                            ToastMessage(result.mes, "success", true, 5000);
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.mes, "error", true, 5000);
                        }
                    },
                    error: function () {
                        alert("Error");
                        $('#ks_loader').hide();
                    }
                });
            }
    }
    })

    $("#resetModal").click(function(){
        $("#editModal").modal('hide');
        $("#UpdUserName").val("");
        $("#UpdPassword").val("");
        $("#UpdVerifyPassword").val("");
        $(".lblusername").html("");
        $(".lblusertype").html("");
        $("#UpdUserRoleId").html("");
        $("#UpdUserRoleId").val("");
          $("#UpdUserTypeId").html("");
        $("#UpdUserTypeId").val("");
    })

    $("#UpdVerifyPassword").blur(function () {
        var pwd = $("#UpdPassword").val();
        var cnfrmPwd = $("#UpdVerifyPassword").val();
        if (pwd != "" && cnfrmPwd != "") {
            if (pwd != cnfrmPwd) {
                $(".errUpdConfirmPassword").html("<i class='fa fa-exclamation-triangle'>Confirm Password Must Be Same As Password</i>");
                $(".errUpdConfirmPassword").show();
                return false;
            }
            else {
                $(".errUpdConfirmPassword").hide();
            }
        }
    })
    $("#UpdUserName").val("");
    $("#UpdUserName").blur(function () {
        $(".errUpdUserName").hide();
        var username = $("#UpdUserName").val();
        if (username != "" && username != null) {
            UpdUserNameExist();
            if (UpduserExist) {
                return false;
            }
        }
    })
 $("#UpdUserTypeId").change(function () {
     var UserType = $(this).val();
     if (UserType != "" && UserType != null) {
         $("#UpdUserRoleId").html("");
           $('#ks_loader').show();
                     $.ajax({
                    type: "Get",
                    url: "@Html.Raw(Url.Action("GetUserRole", "Security"))",
                    data: jQuery.param({ "UserTypeId": UserType}),
                    success: function (result) {
                        if (result.status == "success") {
                            var html = "";
                           $.each(result.UserRoleList, function (value, data) {
                        if (data.Selected == true)
                            html += "<option Selected value=" + data.Value + ">" + data.Text + "</option>"
                        else
                            html += "<option value=" + data.Value + ">" + data.Text + "</option>"
                           })
                            $("#UpdUserRoleId").append(html);
                            $("#UpdUserRoleId").val("");
                                // $("#UpdUserRoleId").val(result.data.UserRoleId);
                            $('#ks_loader').hide();
                        }
                        else {
                            ToastMessage(result.mes, "error", true, 5000);
                        }
                    },
                    error: function () {
                        alert("Error");
                        $('#ks_loader').hide();
                    }
                });
     }
    })
    function UpdUserPwdErr() {
        var ErrorExist = false;
        $(".errUpdAllUsrDiv").hide();
        if ($("#UpdUserName").val() == "") {
            $(".errUpdUserName").html("<i class='fa fa-exclamation-triangle'>UserName Required</i>")
            $(".errUpdUserName").show();
            ErrorExist = true;
        }
        if ($("#UpdUserRoleId").val() == "") {
            $(".errUpdUserRole").html("<i class='fa fa-exclamation-triangle'>User Role Required</i>")
            $(".errUpdUserRole").show();
            ErrorExist = true;
        }
        if ($("#UpdPassword").val() == "") {
            $(".errUpdPassword").html("<i class='fa fa-exclamation-triangle'>Password Not Be Empty</i>")
            $(".errUpdPassword").show();
            ErrorExist = true;
        }
        if ($("#UpdVerifyPassword").val() == "") {
            $(".errUpdConfirmPassword").html("<i class='fa fa-exclamation-triangle'>ConfirmPassword Not Be Empty</i>")
            $(".errUpdConfirmPassword").show();
            ErrorExist = true;
        }
        return ErrorExist;
    }

    var UpduserExist = false;
    ////Check UserName Exist
    function UpdUserNameExist() {
        var username = $("#UpdUserName").val();
        var EncUserId=$("#ExistingUserId").val();
        if (username != "" && username != null &&EncUserId!=""&&EncUserId!=null) {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                async: false,
                url: "@Html.Raw(Url.Action("CheckUserExist", "Security"))",
                data: jQuery.param({ "UserName": username ,"EncUserId":EncUserId}),
            success: function (result) {
                if (result.status == "failed") {
                    UpduserExist = true;
                    $(".errUpdUserName").html("<i class='fa fa-exclamation-triangle'>UserName Already Exist</i>")
                    $(".errUpdUserName").show();
                    ToastMessage(result.mes, "error", true, 5000);
                    $('#ks_loader').hide();
                    return UpduserExist;
                }
                else {
                    UpduserExist = false;
                    $('#ks_loader').hide();
                    return UpduserExist;
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }
    }

        $("#UpdateUser").click(function () {
            debugger;
        var ErrorExist = UpdUserPwdErr();
        if (ErrorExist) {
            return false;
        }

        UpdUserNameExist();
        if (UpduserExist) {
            return false;
        }

        var pwd = $("#UpdPassword").val();
        var cnfrmPwd = $("#UpdVerifyPassword").val();
        if (pwd != "" && cnfrmPwd != "") {
            if (pwd != cnfrmPwd) {
                $(".errUpdConfirmPassword").html("<i class='fa fa-exclamation-triangle'>Confirm Password Must Be Same As Password</i>");
                $(".errUpdConfirmPassword").show();
                return false;
            }
        }
        $('#ks_loader').show();
        var model = new Object();
        model.UserName = $("#UpdUserName").val();
        model.Password = $("#UpdPassword").val();
        model.UserTypeId = $("#UpdUserTypeId").val();
        model.UserRoleId = $("#UpdUserRoleId").val();
        model.EncUserId = $("#ExistingUserId").val();
        if(model.EncUserId!=""&& model.EncUserId!=null&& model.EncUserId!="undefined"){
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("CreateUpdateUser", "Security"))',
                data: model,
                success: function (result) {
                    if (result.status == "success") {
                        $("#resetModal").trigger('click');
                        var grid = $('#User_grid').data('kendoGrid');
                        grid.dataSource.page(1);
                        ToastMessage(result.mes, "success", true, 5000);
                        $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.mes, "error", true, 5000);
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }else{
            $('#ks_loader').hide();
            ToastMessage("Invalid User", "error", true, 5000);
        }
    })

        $("#addNewUser").click(function(){

            
            $("#div_filter").hide();
            $("#AddUserTypeId").val("");
            $("#AddUserTypeId").trigger('change');

            if($('#div_CreateUser').css('display') != 'none' ){
                $('#div_CreateUser').hide();
            }
            else{
                $('#div_CreateUser').show();
            }
        })

        $("#btnNonAppUser").click(function(){
            $("#myModal").show();
            $(".guardianRadioButton").hide();
        })
        $("#closemyModal").click(function(){
            $("#myModal").hide();
            $(".guardianRadioButton").hide();
        })
        $(".nonAppUserType").click(function () {
              $(".guardianRadioButton").hide();
            $(".nonAppUserTypeGuard").prop('checked', false);
            if ($(this).attr('name') != "" && $(this).attr('name') != null) {
                if ($(this).attr('name').trim() == "Guardian") {
                    $(".guardianRadioButton").show();
                } else {
                    var selectedTypes = $(this).attr('name').trim();
                    var GrdEntries = "";
                    ExportToExcel(selectedTypes,GrdEntries);
                }
            }else{
                ToastMessage("Invalid User Type.", "error", true, 5000);
                return false;
            }
        })
         $(".nonAppUserTypeGuard").click(function(){
             var GrdEntries = $(this).val();
             if (GrdEntries != "" && GrdEntries != null) {
                 var selectedTypes = "guardian";
                 var GrdEntries = GrdEntries;
                 ExportToExcel(selectedTypes,GrdEntries);
             }
         })
        function ExportToExcel(selectedTypes,GrdEntries){
            if(selectedTypes!=""&&selectedTypes!=null){
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("Export", "Security"))',
                    data: {},
                    success: function (result) {
                        window.location = "../Security/ExportData?type=" + selectedTypes+"&GrdEntries="+GrdEntries;
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else{
                ToastMessage("Invalid User Type", "error", true, 5000);
                return false;
            }
        }

        $(document).on('click', '.clsuserstatus', function () {
            var userid = $(this).attr("data-userid");
            var CurrentStatus = $(this).attr("data-status");
            var status = "";
            if (CurrentStatus.toLowerCase() == "active")
                status = "InActive"
            else if (CurrentStatus.toLowerCase() == "inactive")
                status = "active"
            else {
                $('#ks_loader').hide();
                ToastMessage("Invalid Status", "error", true, 5000);
                return false;
            }
            if (userid != null && userid != "") {

                if (window.confirm("Are you sure you want to change Status?")) {
                    $('#ks_loader').show();
                    $.ajax({
                        type: "Post",
                        url: "@Html.Raw(Url.Action("UpdateUserStatus", "Security"))",
                        data: jQuery.param({ Id: userid, status: status }),
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        success: function (response) {
                            if (response.status == "success") {
                                $('#ks_loader').hide();
                                  ToastMessage(response.data, "success", true, 5000);
                                var grid = $('#User_grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                ClearaddUpdateControls();
                              
                            } else {
                                $('#ks_loader').hide();
                                ToastMessage(response.data, "error", true, 5000);
                            }
                        },
                        error: function () {
                            $('#ks_loader').hide();
                            ToastMessage("Error", "error", true, 5000);
                        }
                    });

                }
            }else {
                    $('#ks_loader').hide();
                    ToastMessage("Invalid User", "error", true, 5000);
                    return false;
                }
        
        })
        $("#btnSettings").click(function () {
            $("#myModalSetting").modal('show');
            $("#otpSettingtbl > tbody").html("");
                     $.ajax({
                        type: "Post",
                        url: "@Html.Raw(Url.Action("GetOtpPermissions", "Security"))",
                        data: jQuery.param({  }),
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        success: function (result) {
                            var html = "";
                            if (result.status == "success") {
                                if (result.OtpPermissionsList.length > 0) {
                                    $.each(result.OtpPermissionsList, function (value, data) {
                                        html += "<tr>";
                                        html += "<td>" + data.ContactType + "</td>";
                                         if (data.SignUpOTP == true)
                                            html += "<td><input type='checkbox' class='signupcheckbx' style='margin-left: 30px;'  data-id='" + data.ContactTypeId + "' checked></td>";
                                        else
                                            html += "<td><input type='checkbox' class='signupcheckbx' style='margin-left: 30px;' data-id='" + data.ContactTypeId + "' ></td>";

                                        if (data.ResetPwdOTP == true)
                                            html += "<td><input type='checkbox' class='resetOtpcheckbx' style='margin-left: 30px;' data-id='" + data.ContactTypeId + "' checked></td>";
                                        else
                                            html += "<td><input type='checkbox' class='resetOtpcheckbx' style='margin-left: 30px;' data-id='" + data.ContactTypeId + "'></td>";
                                       
                                        html += "</tr>";
                                    })
                                    $("#otpSettingtbl > tbody").append(html);
                                } else {
                                    html += "<tr>";
                                    html += "<td>No Data Found</td>";
                                    html += "</tr>";
                                }
                                $('#ks_loader').hide();
                            } else {
                                $('#ks_loader').hide();
                                ToastMessage(result.data, "error", true, 5000);
                            }
                        },
                        error: function () {
                            $('#ks_loader').hide();
                            ToastMessage("Error", "error", true, 5000);
                        }
                    });
        })
        $(".signupCheck ,.resetPwdCheck").click(function () {
            var actionCls = $(this).attr('data-action');
            if (actionCls != "") {
                if ($(this).prop("checked") == false) {
                    $("." + actionCls + "").prop('checked', false);
                } else {
                    $("." + actionCls + "").prop('checked', true);
                }
            }
        })
        $("#SaveOtpPermisions").click(function () {
            var SignUpCheckedIds = "";
            var ResetPWDCheckedIds = "";
              $(".signupcheckbx").each(function () {
                if ($(this).prop("checked") == true) {
                    if(SignUpCheckedIds=="")
                        SignUpCheckedIds += $(this).attr('data-id');
                    else
                        SignUpCheckedIds +=","+$(this).attr('data-id');
                }
            })
            $(".resetOtpcheckbx").each(function () {
                if ($(this).prop("checked") == true) {
                    if(ResetPWDCheckedIds=="")
                        ResetPWDCheckedIds += $(this).attr('data-id');
                    else
                        ResetPWDCheckedIds +=","+$(this).attr('data-id');
                }
            })
                $.ajax({
                        type: "Post",
                        url: "@Html.Raw(Url.Action("SaveOtpPermisions", "Security"))",
                        data: jQuery.param({ "ResetPWDCheckedIds" :ResetPWDCheckedIds,"SignUpCheckedIds":SignUpCheckedIds}),
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        success: function (result) {
                            if (result.status == "success") {
                                $("#myModalSetting").modal('hide');
                               ToastMessage(result.mes, "success", true, 5000); 
                                $('#ks_loader').hide();
                            } else {
                                $('#ks_loader').hide();
                                ToastMessage(result.data, "error", true, 5000);
                            }
                        },
                        error: function () {
                            $('#ks_loader').hide();
                            ToastMessage("Error", "error", true, 5000);
                        }
               });
        });
        $("#closemyModalSetting,#clsemyModalSetting").click(function () {
        $("#myModalSetting").modal('hide');
        });
        
    </script>
