﻿@model ViewModel.ViewModel.Security.SessionModel

@{
    ViewBag.Title = "Session";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    @if (TempData["errorMessage"] != null && TempData["errorMessage"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-close"></i> @TempData["errorMessage"]</div>
        </div>
    }
    <div class="row">
        <div class="col-md-6">
            <h1>Manage Session</h1>
        </div>
        @*<div class="col-md-6 text-right" style="margin-bottom: 5px;">
                <button type="button" name="save" class="btn btn-default" id="addnew-session">
                    Add New
                </button>
            </div>*@

    </div>
    
</div>


<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Session", "Security", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_CreateOrUpdateSession", Model)
        }
    </div>
</div>



<div class="row top-space-20">
    <div class="col-md-12">
        <div id="Session_grid"></div>
        <script>
            $(document).ready(function () {
                $("#Session_grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("GetAllSessions", "Security"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json"
                                //data: additionalData
                            },
                            parameterMap: function (data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    //  dataBound: onDataBound,
                    resizable: false,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [{
                        field: "SessionId",
                        width: 50,
                        hidden:true,
                    },{
                        field: "Session",
                        width: 200,
                        title:"Session",
                    },{
                        field: "StartDateToPost",
                        width: 135,
                        title: "Start Date",
                        template: "#= kendo.toString(kendo.parseDate(StartDateToPost, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                        sortable: true,
                    },{
                        field: "EndDateToPost",
                        title: "End Date",
                        template: "#= kendo.toString(kendo.parseDate(EndDateToPost, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                        width: 135,
                    },{
                        field: "IsDetault",
                        title: "Detault",
                        width: 135,
                    },{
                        field: "SessionId",
                        title: "Action",
                        sortable: false,
                        width: 100,
                        template:
                        '<a title="Edit" data-toggle="tooltip" data-placement="top" class="Edit btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>'
                        // +'<a title="Delete" data-toggle="tooltip" data-placement="top" class="delete btn btn-xs btn-default"><i class="fa fa-trash"></i></a>'
                    }]
                });
            });
        </script>
    </div>
</div>

<script>
    $(document).ready(function(){

        $("#Session").val('');
        $("#StartDate").val('');
        $("#EndDate").val('');
        $("#IsDefault").attr('checked',false);

        //$("#addnew-session").click(function(){
        //    $("#createsessiongrid").show();
        //    $(this).hide();
        //    clear();
        //})

        $("#cancel").click(function(){
            window.location.href="@Html.Raw(Url.Action("Session","Security"))";
        })




        $("#save-session").click(function(){
            $('#ks_loader').show();
            var Isvalid = validatesession();
            if (Isvalid) {
                $("#StartDateToPost").val(GetDateFromString($("#StartDate").val()))
                $("#EndDateToPost").val(GetDateFromString($("#EndDate").val()))
            }
            else {
                $('#ks_loader').hide();
                var validationaray = sessionvalidationmessage.split('\n');
                for (var i = 0; i < validationaray.length - 1; i++) {
                    ToastMessage(validationaray[i], "error", true, 5000);
                }
                $(sessionctrlfocus).focus();
                return false;
            }

        })

    })

    $("#StartDate,#EndDate").kendoDatePicker({
        format:'dd/MM/yyyy'
    });


    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });


    $("#StartDate,#EndDate").bind('keyup', 'keydown', function (event) {
        var inputLength = event.target.value.length;
        if (event.keyCode != 8) {
            if (inputLength === 2 || inputLength === 5) {
                var thisVal = event.target.value;
                thisVal += '/';
                $(event.target).val(thisVal);
            }
        }
    })

    function clear()
    {
        $("#Session").val("");
        $("#StartDate").val("");
        $("#EndDate").val("");
    }

    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }


    var sessionvalid = true;
    var sessionvalidationmessage = "";
    var sessionctrlfocus = "";
    function validatesession() {
        sessionvalid = true;
        sessionvalidationmessage = "";
        sessionctrlfocus = "";


        if ($('#Session').val() == "") {
            if (sessionctrlfocus == "")
                sessionctrlfocus = "#Session";
            sessionvalidationmessage = sessionvalidationmessage + "Session Required \n";
            sessionvalid = false;
        }

        if ($('#StartDate').val() == "") {
            if (sessionctrlfocus == "")
                sessionctrlfocus = "#StartDate";
            sessionvalidationmessage = sessionvalidationmessage + "StartDate Required \n";
            sessionvalid = false;
        }

        if ($('#EndDate').val() == "") {
            if (sessionctrlfocus == "")
                sessionctrlfocus = "#EndDate";
            sessionvalidationmessage = sessionvalidationmessage + "EndDate Required \n";
            sessionvalid = false;
        }

        return sessionvalid;
    }

    $(document).on('click','.Edit', function()
    {
        var row=$(this).parent().parent();
        $("#SessionId").val(row.find('td:nth-child(1)').text());
        $("#Session").val(row.find('td:nth-child(2)').text());
        $("#StartDate").val(row.find('td:nth-child(3)').text());
        $("#EndDate").val(row.find('td:nth-child(4)').text());
        $("#check").show();
        if(row.find('td:nth-child(5)').text()=="false"){
            $("#IsDetault").prop('checked',false)
        }
        else{
            $("#IsDetault").prop('checked',true)
        }

    })


</script>
