﻿@model ViewModel.ViewModel.Security.UserPermissionModel

@{
    ViewBag.Title = "UNavigationPermissions";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-8">
        <h1>Manage Navigation Permissions for @Model.UserRole</h1>
    </div>
    <div class="col-md-3 text-right">
        <button type="button" id="clearnavpermission" class="btn btn-xs btn-default">Clear Navigation Permissions</button>
    </div>
    <div class="col-md-1 text-right">
        <a href="@Html.Raw(Url.Action("URole", "Security"))" class="btn btn-xs btn-default">back</a>
    </div>
</div>


<div class="row top-space-10">
    <div class="col-md-12">
        @using (Html.BeginForm("UNavigationPermissions", "Security", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.UserRoleId)
            @Html.HiddenFor(p => p.PermArray)
            @Html.HiddenFor(p => p.UserRoleTypeId)


            <div class="col-md-2 form-control tree">
                <ul>
                    @foreach (var item in Model.List)
                    {
                        if (item.navigation.Count > 0)
                        {
                            <li>
                                <a href="#" class="parentTree">
                                    @Html.CheckBox(item.user_role_type, false, new
                                                           {
                                                               @class = "tree-checkbox superparent",
                                                               @dataid = item.user_role_type_id,
                                                               @Name = "chk",
                                                               @id = item.user_role_type_id
                                                           })
                                    <label>
                                        <strong>@item.user_role_type</strong>
                                        @Html.Display(item.user_role_type)
                                    </label>
                                </a>
                                <ul>
                                    @foreach (var parentitems in item.navigation)
                                    {
                                        <li>
                                            <a href="#" class="#">
                                                @Html.CheckBox(parentitems.NavigationItem, parentitems.IsActive, new
                                                           {
                                                               @class = "tree-checkbox parent",
                                                               @dataid = parentitems.NavigationItemId,
                                                               @Name = "chk",
                                                               @id = parentitems.NavigationItemId
                                                           })
                                                <label>
                                                    <strong>@parentitems.NavigationItem</strong>
                                                    @Html.Display(parentitems.NavigationItem)
                                                </label>
                                            </a>
                                            <ul>
                                                @foreach (var childitems in parentitems.Child)
                                                {

                                                    <li>
                                                        <a href="#">
                                                            @Html.CheckBox(childitems.NavigationItem, childitems.IsActive,
                                                                new
                                                               {
                                                                   @class = "tree-checkbox nodeitem",
                                                                   @disabled = "disabled",
                                                                   @dataid = childitems.NavigationItemId,
                                                                   @Name = "chk",
                                                                   @id = childitems.NavigationItemId
                                                               })

                                                            <label>
                                                                <strong>@childitems.NavigationItem</strong>
                                                                @Html.Display(childitems.NavigationItem)
                                                            </label>
                                                        </a>
                                                        <ul>
                                                            @foreach (var childofchilditems in childitems.Child)
                                                            {

                                                                <li>
                                                                    <a href="#">
                                                                        @Html.CheckBox(childofchilditems.NavigationItem, childofchilditems.IsActive,
                                                                        new
                                                                       {
                                                                           @class = "tree-checkbox childnodeitem",
                                                                           @disabled = "disabled",
                                                                           @dataid = childofchilditems.NavigationItemId,
                                                                           @Name = "chk"
                                                                       })

                                                                        <label>
                                                                            <strong>@childofchilditems.NavigationItem</strong>
                                                                            @Html.Display(childofchilditems.NavigationItem)
                                                                        </label>
                                                                    </a>

                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
            <!-- Row -->
            <div class="row top-space-10">
                <!-- Form Coulmn -->
                <input type="submit" name="save" value="Save" id="submit_btn" class="btn btn-success" />
                <!-- //Form Coulmn -->
            </div>
    <!-- Row -->
        }
    </div>
</div>



<script>
    $(document).ready(function () {
        @*if ('@Model.IsNavigationExist' == "False") {
            $("#@Model.UserRoleTypeId").trigger('click');

            $("#@Model.UserRoleTypeId").click(function () {
                var checked = $(this).is(':checked');
                var parent = $(this).closest('li').find('input[type=checkbox][class="tree-checkbox parent"]');
                var nodeitem = $(this).closest('li').find('input[type=checkbox][class="tree-checkbox nodeitem"]');
                var childnodeitem = nodeitem.closest('li').find('input[type=checkbox][class="tree-checkbox childnodeitem"]');
                if (checked) {
                    // make them as the parent checkbox (checked or not)
                    parent.prop('checked', checked);
                    parent.removeAttr("disabled");
                    parent.attr('enabled', 'enabled');
                    nodeitem.prop('checked', checked);
                    nodeitem.removeAttr("disabled");
                    nodeitem.attr('enabled', 'enabled');
                    childnodeitem.prop('checked', checked);
                    childnodeitem.removeAttr("disabled");
                    childnodeitem.attr('enabled', 'enabled');
                }
                else {
                    parent.prop('checked', checked);
                    parent.removeAttr("enabled");
                    parent.attr('disabled', 'disabled');
                    nodeitem.prop('checked', checked);
                    nodeitem.removeAttr("enabled");
                    nodeitem.attr('disabled', 'disabled');
                    childnodeitem.prop('checked', checked);
                    childnodeitem.removeAttr("enabled");
                    childnodeitem.attr('disabled', 'disabled');
                }
            })
        }*@

        $('input[type=checkbox][class="tree-checkbox parent"]').each(function () {
            var checked = $(this).is(':checked');
            var parentNode = $(this).parent().parent().parent().prev('a').find('.superparent');
            var nodeitem = $(this).closest('li').find('input[type=checkbox][class="tree-checkbox nodeitem"]');
            var childnodeitem = nodeitem.closest('li').find('input[type=checkbox][class="tree-checkbox childnodeitem"]');

            if (checked) {
                // make them as the parent checkbox (checked or not)
                //  nodeitem.prop('checked', checked);
                parentNode.prop('checked', checked);
                parentNode.removeAttr("disabled");
                parentNode.attr('enabled', 'enabled');
                nodeitem.removeAttr("disabled");
                nodeitem.attr('enabled', 'enabled');
                childnodeitem.removeAttr("disabled");
                childnodeitem.attr('enabled', 'enabled');
            }
            else {
                //  nodeitem.prop('checked', checked);
                nodeitem.removeAttr("enabled");
                nodeitem.attr('disabled', 'disabled');
                childnodeitem.removeAttr("enabled");
                childnodeitem.attr('disabled', 'disabled');
            }
        });

        $('input[type=checkbox][class="tree-checkbox nodeitem"]').each(function () {
            var checked = $(this).is(':checked');
            var childnodeitem = $(this).closest('li').find('input[type=checkbox][class="tree-checkbox childnodeitem"]');
            if (checked) {
                // make them as the parent checkbox (checked or not)
                // nodeitem.prop('checked', checked);
                childnodeitem.removeAttr("disabled");
                childnodeitem.attr('enabled', 'enabled');
            }
            else {
                //nodeitem.prop('checked', checked);
                childnodeitem.removeAttr("enabled");
                childnodeitem.attr('disabled', 'disabled');
            }
        });
    })
    //paranet node checked then its childs also checked and vise versa

    $('input[type=checkbox][class="tree-checkbox superparent"]').on('click', function () {
        var checked = $(this).is(':checked');
        var parent = $(this).closest('li').find('input[type=checkbox][class="tree-checkbox parent"]');
        var nodeitem = $(this).closest('li').find('input[type=checkbox][class="tree-checkbox nodeitem"]');
        var childnodeitem = nodeitem.closest('li').find('input[type=checkbox][class="tree-checkbox childnodeitem"]');
        if (checked) {
            // make them as the parent checkbox (checked or not)
            parent.prop('checked', checked);
            parent.removeAttr("disabled");
            parent.attr('enabled', 'enabled');
            nodeitem.prop('checked', checked);
            nodeitem.removeAttr("disabled");
            nodeitem.attr('enabled', 'enabled');
            childnodeitem.prop('checked', checked);
            childnodeitem.removeAttr("disabled");
            childnodeitem.attr('enabled', 'enabled');
        }
        else {
            parent.prop('checked', checked);
            parent.removeAttr("enabled");
            parent.attr('disabled', 'disabled');
            nodeitem.prop('checked', checked);
            nodeitem.removeAttr("enabled");
            nodeitem.attr('disabled', 'disabled');
            childnodeitem.prop('checked', checked);
            childnodeitem.removeAttr("enabled");
            childnodeitem.attr('disabled', 'disabled');
        }
    });


    $('input[type=checkbox][class="tree-checkbox parent"]').on('click', function () {
        var checked = $(this).is(':checked');
        var nodeitem = $(this).closest('li').find('input[type=checkbox][class="tree-checkbox nodeitem"]');
        var childnodeitem = nodeitem.closest('li').find('input[type=checkbox][class="tree-checkbox childnodeitem"]');
        if (checked) {
            // make them as the parent checkbox (checked or not)

            nodeitem.prop('checked', checked);
            nodeitem.removeAttr("disabled");
            nodeitem.attr('enabled', 'enabled');
            childnodeitem.prop('checked', checked);
            childnodeitem.removeAttr("disabled");
            childnodeitem.attr('enabled', 'enabled');
        }
        else {
            nodeitem.prop('checked', checked);
            nodeitem.removeAttr("enabled");
            nodeitem.attr('disabled', 'disabled');
            childnodeitem.prop('checked', checked);
            childnodeitem.removeAttr("enabled");
            childnodeitem.attr('disabled', 'disabled');
        }
    });


    //paranet node checked then its childs also checked and vise versa
    $('input[type=checkbox][class="tree-checkbox nodeitem"]').on('click', function () {
        var checked = $(this).is(':checked');
        var childnodeitem = $(this).closest('li').find('input[type=checkbox][class="tree-checkbox childnodeitem"]');
        if (checked) {
            // make them as the parent checkbox (checked or not)
            childnodeitem.prop('checked', checked);
            childnodeitem.removeAttr("disabled");
            childnodeitem.attr('enabled', 'enabled');
        }
        else {
            childnodeitem.prop('checked', checked);
            childnodeitem.removeAttr("enabled");
            childnodeitem.attr('disabled', 'disabled');
        }
    });


    //if all node items are not checked then parent will automatically unchecked

    $('.parent').click(function () {
        var parentNode = $(this).parent().parent().parent().prev('a').find('.superparent');
        var childNode = $(this).parent().parent().parent();

        if ($(this).is(':checked')) {
            parentNode.prop('checked', true);
        } else {
            var elements = childNode.find('.parent:checked')
            if (elements.length == 0) {
                parentNode.prop('checked', false)

                childNode.find('.parent').removeAttr("enabled");
                childNode.find('.parent').attr('disabled', 'disabled');
            }
        }
    });


    $('.nodeitem').click(function () {
        var parentofparentNode = $(this).parent().parent().parent().parent().parent().prev('a').find('.superparent');
        var parentofparentchildNode = $(this).parent().parent().parent().parent().parent();
        var parentNode = $(this).parent().parent().parent().prev('a').find('.parent');
        var childNode = $(this).parent().parent().parent();

        if ($(this).is(':checked')) {
            parentNode.prop('checked', true);
        } else {
            var elements = childNode.find('.nodeitem:checked')
            if (elements.length == 0) {
                parentNode.prop('checked', false)

                childNode.find('.nodeitem').removeAttr("enabled");
                childNode.find('.nodeitem').attr('disabled', 'disabled');
            }
            var ele = parentofparentchildNode.find('.parent:checked')
            if (ele.length == 0) {
                parentofparentNode.prop('checked', false)

                parentofparentchildNode.find('.parent').removeAttr("enabled");
                parentofparentchildNode.find('.parent').attr('disabled', 'disabled');
            }
        }
    });

    $('.childnodeitem').click(function () {
        var parentofparentofparentNode = $(this).parent().parent().parent().parent().parent().parent().parent().prev('a').find('.superparent')
        var parentofparentchildNode = $(this).parent().parent().parent().parent().parent().parent().parent();
        var parentofparentNode = $(this).parent().parent().parent().parent().parent().prev('a').find('.parent')
        var parentchildnode = $(this).parent().parent().parent().parent().parent();
        var parentNode = $(this).parent().parent().parent().prev('a').find('.nodeitem');
        var childNode = $(this).parent().parent().parent();

        if ($(this).is(':checked')) {
            parentNode.prop('checked', true);
        } else {
            var elements = childNode.find('.childnodeitem:checked')
            if (elements.length == 0) {
                parentNode.prop('checked', false)

                childNode.find('.childnodeitem').removeAttr("enabled");
                childNode.find('.childnodeitem').attr('disabled', 'disabled');
            }
            var ele = parentchildnode.find('.nodeitem:checked');
            if (ele.length == 0) {
                parentofparentNode.prop('checked', false)

                parentchildnode.find('.nodeitem').removeAttr("enabled");
                parentchildnode.find('.nodeitem').attr('disabled', 'disabled');
            }
            var elm = parentofparentchildNode.find('.parent:checked');
            if (elm.length == 0) {
                parentofparentofparentNode.prop('checked', false)

                parentofparentchildNode.find('.parent').removeAttr("enabled");
                parentofparentchildNode.find('.parent').attr('disabled', 'disabled');
            }
        }
    });


    $('#submit_btn').click(function () {
        // array and object
        var RolPermArray = new Array();
        var RolPermObj = new Object();
        if ($("input:checkbox[name=chk]:checked").length > 0) {

            $('.tree input[type="checkbox"]').each(function () {
                if ($(this).attr('class').indexOf("superparent") < 0) {
                    RolPermObj = new Object();
                    RolPermObj.NavigationId = $(this).attr('dataid');

                    if ($(this).prop("checked") == true)
                        RolPermObj.IsActive = true;
                    else
                        RolPermObj.IsActive = false;

                    RolPermArray.push(RolPermObj);
                }
            });
            $('#PermArray').val(JSON.stringify(RolPermArray));
        }
        else {
            alert("Please select navigations before saving.")
            return false;
        }
    });


    $("#clearnavpermission").click(function () {
        var userroleid = $("#UserRoleId").val();
        if (userroleid != null && userroleid != "") {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteAllNavPer", "Security"))',
                data: { "UserRoleId": userroleid },
                success: function (res) {
                    if (res.status == "success") {
                        ToastMessage(res.data, "success", true, 5000);
                        window.location.reload();
                    }
                    else {
                        ToastMessage(res.data, "error", true, 5000);    
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            ToastMessage("User Role not found.", "error", true, 5000);
            return false;
        }
    })

</script>
