﻿@model ViewModel.ViewModel.Subject.ClassSubjectModel

<style>
    .subject-info-arrows input {
        width: 70%;
        margin-bottom: 5px;
    }
</style>
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Form Row -->
<div class="row">
    <div class="col-md-12">
        <p class="text-danger"><em>Note: Disabled Subjects are Compulsory or assigned in TimeTable.</em></p>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            @if(Model.IsDynamicNavigationPath){
            <div class="form-group" style="display:none">
                <label class="col-md-4 control-label">Type</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ClassTypeId, Model.ClassTypeList, new { @class = "form-control", @style = "margin-left: -10px;" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.ClassTypeId)
                </div>
            </div>
            }
            else
            {
                <div class="form-group">
                <label class="col-md-4 control-label">Type</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ClassTypeId, Model.ClassTypeList, new { @class = "form-control", @style = "margin-left: -10px;" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.ClassTypeId)
                </div>
            </div>  
            }
        </div>
    </div>
    <div class="col-md-3" id="classdrop">
        <div class="form-group">
            <label class="col-md-4 control-label">Class</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.ClassId)
            </div>
        </div>
    </div>

    <div class="col-md-5">

        <div class="form-group">
            <label class="col-md-4 control-label">Compulsory Subjects (multiple)</label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.CoreSubjectIds, Model.AvailableCoreSubjects, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 100px" })
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.CoreSubjectIds)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="subject-info-arrows text-center">
                        <input type='button' id='btnRightcore' value='>' class="btn btn-default" /><br />
                        <input type='button' id='btnLeftcore' value='<' class="btn btn-default" /><br />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Optional Subjects (multiple)</label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.OptionalSubjectIds, Model.AvailableOptionalSubject, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 100px" })
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.AddtionalSubjectIds)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="subject-info-arrows text-center">
                        <input type='button' id='btnRightopt' value='>' class="btn btn-default" /><br />
                        <input type='button' id='btnLeftopt' value='<' class="btn btn-default" /><br />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Additional Subjects (multiple)</label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.AddtionalSubjectIds, Model.AvailableAddtionalSubject, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 100px" })
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.AddtionalSubjectIds)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="subject-info-arrows text-center">
                        <input type='button' id='btnRightadd' value='>' class="btn btn-default" /><br />
                        <input type='button' id='btnLeftadd' value='<' class="btn btn-default" /><br />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Skill Subjects (multiple)</label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.SkillSubjectIds, Model.AvailableSkillSubjects, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 100px" })
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.SkillSubjectIds)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="subject-info-arrows text-center">
                        <input type='button' id='btnRightskill' value='>' class="btn btn-default" /><br />
                        <input type='button' id='btnLeftskill' value='<' class="btn btn-default" /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">All Subjects (multiple)</label>
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.AllSubjectIds, Model.AvailableAllSubjects, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 336px" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">All Skill Subjects (multiple)</label>
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.AllSkillSubjectIds, Model.AvailableAllSkillSubjects, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 100px" })
            </div>
        </div>
    </div>
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row top-space-10">
    <div class="col-md-4">
        <div class="form-group">
            @if (Model.IsAuthToAdd)
            {
                <div class="col-md-3">
                    <input type="submit" value="Save" name="Save" id="save-subjs" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>
<!-- Form Row -->

<script type="text/javascript">

    @if (Model.ClassId > 0)
    {
        <text>
    $('#ClassId').val('@Model.ClassId')
    </text>
    }
    else
    {
        <text>
    $('#ClassId').val('')
    </text>
    }

    $('#OptionalSubjectIds option').prop("selected", false);
    $('#AddtionalSubjectIds option').prop("selected", false);
    $('#SkillSubjectIds option').prop("selected", false);

    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('#btnRightcore').click(function (e) {
        var selectedOpts = $('#CoreSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#AllSubjectIds').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeftcore').click(function (e) {
        var selectedOpts = $('#AllSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        var $ddl = $(selectedOpts).clone();
        $('#CoreSubjectIds').append($ddl);
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnRightopt').click(function (e) {
        var selectedOpts = $('#OptionalSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#AllSubjectIds').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeftopt').click(function (e) {
        var selectedOpts = $('#AllSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        // subjects
        var $ddl = $(selectedOpts).clone();
        $('#OptionalSubjectIds').append($ddl);
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnRightadd').click(function (e) {
        var selectedOpts = $('#AddtionalSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#AllSubjectIds').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeftadd').click(function (e) {
        var selectedOpts = $('#AllSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        var $ddl = $(selectedOpts).clone();
        $('#AddtionalSubjectIds').append($ddl);
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnRightskill').click(function (e) {
        var selectedOpts = $('#SkillSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#AllSkillSubjectIds').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeftskill').click(function (e) {
        var selectedOpts = $('#AllSkillSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        var $ddl = $(selectedOpts).clone();
        $('#SkillSubjectIds').append($ddl);
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#save-subjs').click(function () {
        $('#CoreSubjectIds option[disabled]').prop("disabled", false);
        $('#CoreSubjectIds option').prop("selected", true);

        $('#OptionalSubjectIds option[disabled]').prop("disabled", false);
        $('#OptionalSubjectIds option').prop("selected", true);

        $('#AddtionalSubjectIds option[disabled]').prop("disabled", false);
        $('#AddtionalSubjectIds option').prop("selected", true);

        $('#SkillSubjectIds option[disabled]').prop("disabled", false);
        $('#SkillSubjectIds option').prop("selected", true);
    });


    $('#ClassId').change(function () {
        var classId = $(this).val();
        bindsubjectbyclass(classId);
    });

    $("#ClassTypeId").change(function () {
        $("#ks_loader").show();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetClassesByType", "Subject"))',
            data: { "Type": $("#ClassTypeId option:selected").text() },
            success: function (result) {
                if (result.status == "success") {
                    $("#ClassId").find('option').not(":first").remove();
                    $.each(result.data, function () {
                        $("#ClassId").append('<option value=' + this.Value + '>' + this.Text + '</option>')
                    })
                    $("#ClassId").val('');
                    $("#ClassId").trigger('change');
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })


    function bindsubjectbyclass(classId) {
        if (classId > 0) {
            $('#ks_loader').show();
            // set empty on every call
            // and append in All Subjects
            var CoreOptsdisabled = $('#CoreSubjectIds option[disabled]');
            $(CoreOptsdisabled).remove();

            var CoreOpts = $('#CoreSubjectIds option');
            CoreOpts.css("color", "");
            $('#AllSubjectIds').append($(CoreOpts).clone());
            $('#AllSubjectIds option').prop("selected", false);
            $(CoreOpts).remove();
            // Shift to all subject
            var OptionalOpts = $('#OptionalSubjectIds option');
            OptionalOpts.css("color", "");
            $('#AllSubjectIds').append($(OptionalOpts).clone());
            $('#AllSubjectIds option').prop("selected", false);
            $(OptionalOpts).remove();

            var AddtionalOpts = $('#AddtionalSubjectIds option');
            AddtionalOpts.css("color", "");
            $('#AllSubjectIds').append($(AddtionalOpts).clone());
            $('#AllSubjectIds option').prop("selected", false);
            $('#AllSubjectIds option').prop("disabled", false);
            $(AddtionalOpts).remove();

            var SkillOpts = $('#SkillSubjectIds option');
            SkillOpts.css("color", "");
            $('#AllSkillSubjectIds').append($(SkillOpts).clone());
            $('#AllSkillSubjectIds option').prop("selected", false);
            $('#AllSkillSubjectIds option').prop("disabled", false);
            $(SkillOpts).remove();

            $('#pratical_subjects tbody').html('');

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetCoreSubjectsforClass", "Subject"))',
                data: { "Class": classId, "ClassType": $("#ClassTypeId option:selected").text() },
                success: function (result) {
                    if (result.status == "success") {
                        for (var c = 0; c < result.corelist.length; c++) {
                            // core subjects
                            var Coreoption = "<option style='color: #c7c7c7' disabled value='" + result.corelist[c].Value + "'>" + result.corelist[c].Text + "</option>";
                            $('#CoreSubjectIds').append(Coreoption);

                            // delete option from all subjects
                            var opt = $('#AllSubjectIds option[value="' + result.corelist[c].Value + '"]');
                            opt.remove();
                        }
                        for (var i = 0; i < result.complist.length; i++) {
                            var Disabled = "";
                            if (result.complist[i].Disabled == true)
                                Disabled = "Disabled style='color: #c7c7c7'";
                            // core subjects
                            var Coreoption = "<option " + Disabled + " value='" + result.complist[i].Value + "'>" + result.complist[i].Text + "</option>";
                            $('#CoreSubjectIds').append(Coreoption);

                            // delete option from all subjects
                            var opt = $('#AllSubjectIds option[value="' + result.complist[i].Value + '"]');
                            opt.remove();
                        }
                        for (var j = 0; j < result.Optlist.length; j++) {
                            var Disabled = "";
                            if (result.Optlist[j].Disabled == true)
                                Disabled = "Disabled style='color: #c7c7c7'";
                            // optional subjects
                            var Optionaloption = "<option " + Disabled + " value='" + result.Optlist[j].Value + "'>" + result.Optlist[j].Text + "</option>";
                            $('#OptionalSubjectIds').append(Optionaloption);

                            // delete option from all subjects
                            var opt = $('#AllSubjectIds option[value="' + result.Optlist[j].Value + '"]');
                            opt.remove();
                        }
                        for (var k = 0; k < result.Addlist.length; k++) {
                            var Disabled = "";
                            if (result.Addlist[k].Disabled == true)
                                Disabled = "Disabled style='color: #c7c7c7'";
                            // Additional subjects
                            var Addtionaloption = "<option " + Disabled + " value='" + result.Addlist[k].Value + "'>" + result.Addlist[k].Text + "</option>";
                            $('#AddtionalSubjectIds').append(Addtionaloption);

                            // delete option from all subjects
                            var opt = $('#AllSubjectIds option[value="' + result.Addlist[k].Value + '"]');
                            opt.remove();
                        }
                        for (var m = 0; m < result.unselectedcorelist.length; m++) {
                            // Additional subjects
                            // delete option from all subjects
                            var opt = $('#AllSubjectIds option[value="' + result.unselectedcorelist[m].Value + '"]');
                            opt.remove();

                            var Addtionaloption = "<option value='" + result.unselectedcorelist[m].Value + "'>" + result.unselectedcorelist[m].Text + "</option>";
                            $('#AllSubjectIds').append(Addtionaloption);
                        }
                        for (var p = 0; p < result.practicalsublist.length; p++) {
                            var Disabled = "";
                            if (result.practicalsublist[p].Disabled == true)
                                Disabled = "Disabled style='color: #c7c7c7'";
                            // Additional subjects
                            var Skilloption = "<option " + Disabled + " value='" + result.practicalsublist[p].Value + "'>" + result.practicalsublist[p].Text + "</option>";
                            $('#SkillSubjectIds').append(Skilloption);

                            // delete option from all subjects
                            var opt = $('#AllSkillSubjectIds option[value="' + result.practicalsublist[p].Value + '"]');
                            opt.remove();
                        }
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            // set empty on every call Empty Class
            var CoreOpts = $('#CoreSubjectIds option');
            $(CoreOpts).remove();
            // Shift to all subject
            var OptionalOpts = $('#OptionalSubjectIds option');
            $('#AllSubjectIds').append($(OptionalOpts).clone());
            $('#AllSubjectIds option').prop("selected", false);
            $(OptionalOpts).remove();

            var AddtionalOpts = $('#AddtionalSubjectIds option');
            $('#AllSubjectIds').append($(AddtionalOpts).clone());
            $('#AllSubjectIds option').prop("selected", false);
            $(AddtionalOpts).remove();

            var SkillOpts = $('#SkillSubjectIds option');
            $('#AllSkillSubjectIds').append($(SkillOpts).clone());
            $('#AllSkillSubjectIds option').prop("selected", false);
            $(SkillOpts).remove();
        }
    }

</script>
