﻿@model ViewModel.ViewModel.Subject.StandardSubjectModel

<style>
    .subject-info-arrows input {
        width: 70%;
        margin-bottom: 5px;
    }
</style>

@Html.HiddenFor(x=>x.SubIds)

<!-- Form Row -->
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Standard</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.StandardId, Model.AvailableStandard, new { @class = "drop-down form-control" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.StandardId)
            </div>
        </div>
    </div>

    @if (Model.AvailableStandardForCopy.Count > 1)
    {
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Copy From</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.CopyStandardId, Model.AvailableStandardForCopy, new { @class = "drop-down form-control" })
                </div>
            </div>
        </div>
    }
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row top-space-10">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Selected Subjects (multiple)</label>
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.SubjectIds, Model.AvailableSubject, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 200px" })
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.SubjectIds)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <div class="subject-info-arrows text-center">
                <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">All Core Subjects (multiple)</label>
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.CoreSubjectId, Model.AvailableCoreSubject, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 200px" })
            </div>
        </div>
    </div>
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row top-space-10">
    <div class="col-md-4">
        <div class="form-group">
            @if (Model.IsAuthToAdd) { 
            <div class="col-md-5">
                <input type="submit" value="Save" name="Save" id="save-subjs" class="btn btn-success" />
            </div>
            }
        </div>
    </div>
</div>
<!-- Form Row -->

<script type="text/javascript">

    $('#StandardId').val('').trigger('change');

    $('#CopyStandardId').val('').trigger('change');

    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });
    $('#btnRight').click(function (e) {
        var selectedOpts = $('#SubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#CoreSubjectId').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft').click(function (e) {
        var selectedOpts = $('#CoreSubjectId option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        var $ddl = $(selectedOpts).clone();
        $('#SubjectIds').append($ddl);
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#save-subjs').click(function () {
        $('#SubjectIds option').prop("selected", true);
        var SubIds = "";
        $.each($('#SubjectIds option'),function (i) {
            SubIds += $('#SubjectIds option')[i].value + ",";
        });
        $('#SubIds').val(SubIds);
    });

    // select all option if has
    //$('#SubjectIds option').prop("selected", true);

    $('#CopyStandardId').change(function () {
        var copystdId = $(this).val();
        if (copystdId > 0) {
            $('#ks_loader').show();
            // set empty on every call
            // and append in All Subjects
            var selectedOpts = $('#SubjectIds option');
            $('#CoreSubjectId').append($(selectedOpts).clone());
            //$('#CoreSubjectId option').prop("selected", false);
            $('#SubjectIds').find('option').remove();

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("CopyStandardSubject", "Subject"))',
                data: { "StandardId": copystdId },
                success: function (result) {
                    if (result.status == "success") {
                        for (var i = 0; i < result.data.length; i++) {
                            var option = "<option selected  value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                            $('#SubjectIds').append(option);
                            // delete option from all subjects
                            var opt = $('#CoreSubjectId option[value="' + result.data[i].Value + '"]');
                            opt.remove();
                        }

                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            // set empty on every call
            // and append in All Subjects
            var selectedOpts = $('#SubjectIds option');
            $('#CoreSubjectId').append($(selectedOpts).clone());
            $('#CoreSubjectId option').prop("selected", false);
            $(selectedOpts).remove();            
        }
    });

    $('#StandardId').change(function () {
        var stdId = $(this).val();
        if (stdId > 0) {
            $('#ks_loader').show();
            // set empty on every call
            // and append in All Subjects
            var selectedOpts = $('#SubjectIds option');
            $('#CoreSubjectId').append($(selectedOpts).clone());
            $('#CoreSubjectId option').prop("selected", false);
            $('#SubjectIds').find('option').remove();

            $('#CopyStandardId').val('').trigger('change');

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("CopyStandardSubject", "Subject"))',
                data: { "StandardId": stdId },
                success: function (result) {
                    if (result.status == "success") {
                        for (var i = 0; i < result.data.length; i++) {
                            if (result.data[i].Disabled) {
                                var option = "<option disabled='" + result.data[i].Disabled + "' value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                            } else {
                                var option = "<option  value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                            }
                            $('#SubjectIds').append(option);
                            // delete option from all subjects
                            var opt = $('#CoreSubjectId option[value="' + result.data[i].Value + '"]');
                            opt.remove();

                            $('#CopyStandardId').attr("disabled", true);
                        }
                        if (result.data.length == 0)
                            $('#CopyStandardId').attr("disabled", false);
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            // set empty on every call
            // and append in All Subjects
            var selectedOpts = $('#SubjectIds option');
            $('#CoreSubjectId').append($(selectedOpts).clone());
           // $('#CoreSubjectId option').prop("selected", false);
            $(selectedOpts).remove();

            $('#CopyStandardId').attr("disabled", false);
            $('#CopyStandardId').val('').trigger('change');
        }
    });

</script>