﻿@model ViewModel.ViewModel.Subject.TeacherSubjectClassModel

<style>
    .subject-info-arrows input {
        width: 70%;
        margin-bottom: 5px;
    }
    .disabled_color {
        color: #c7c7c7
    }
</style>

<!-- Form Row -->
<div class="row">
    <div class="col-md-12">
        <p class="text-danger"><em>Note: </em>Disabled Subjects and Standards are assigned in TimeTable.</p>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Teacher</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.TeacherId, Model.AvailableTeachers, new { @class = "drop-down form-control" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.TeacherId)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <img id="teacher_img" src="" width="100" height="100" style="display: none"/>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label class="col-md-4 control-label">Selected Subjects (multiple)</label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.SelectedSubjectIds, Model.AvailableSelectedSubjects, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 200px" })
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.SelectedSubjectIds)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="subject-info-arrows text-center">
                        <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                        <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Selected Standards (multiple)</label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.SelectedClassIds, Model.AvailableSelectedClasses, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 200px" })
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.SelectedClassIds)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="subject-info-arrows text-center">
                        <input type='button' id='btnRight2' value='>' class="btn btn-default" /><br />
                        <input type='button' id='btnLeft2' value='<' class="btn btn-default" /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">All Subjects (multiple)</label>
            <div class="col-md-7">
               @Html.DropDownListFor(model => model.AllSubjectIds, Model.AvailableAllSubjects, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 200px" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">All Standards (multiple)</label>
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.AllClassIds, Model.AvailableClasses, new { @class = "form-control", @multiple = "true", @style = "overflow: auto;height: 200px" })
            </div>
        </div>
    </div>
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row top-space-10">
    <div class="col-md-5">
       
                      @if (Model.IsAuthToAdd)
                      {
                        <div class="col-md-2">

                            <input type="submit" value="Save" name="Save" id="save-subjs" class="btn btn-success" />
                        </div>
                      }
            <div class="col-md-2">
                <input type="button" value="Cancel" name="Cancel" id="Cancel-subjs" class="btn btn-danger" />
            </div>

</div>
         
</div>
<!-- Form Row -->

<script type="text/javascript">

    $('#Cancel-subjs').click(function () {

        $('#TeacherId option:selected').trigger('change');

    })

    $('#TeacherId').val('').trigger('change');
    $('#SelectedSubjectIds option').prop("selected", false);
    $('#SelectedClassIds option').prop("selected", false);

    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('#btnRight').click(function (e) {
        var selectedOpts = $('#SelectedSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#AllSubjectIds').append($(selectedOpts).clone());
        $('#AllSubjectIds option').prop("selected", false);
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft').click(function (e) {
        var selectedOpts = $('#AllSubjectIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        var $ddl = $(selectedOpts).clone();
        $('#SelectedSubjectIds').append($ddl);
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnRight2').click(function (e) {
        var selectedOpts = $('#SelectedClassIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#AllClassIds').append($(selectedOpts).clone());
        $('#AllClassIds option').prop("selected", false);
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft2').click(function (e) {
        var selectedOpts = $('#AllClassIds option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        var $ddl = $(selectedOpts).clone();
        $('#SelectedClassIds').append($ddl);
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#save-subjs').click(function () {
        $('#SelectedSubjectIds option[Disabled]').prop("disabled", false);
        $('#SelectedSubjectIds option').prop("selected", true);

        $('#SelectedClassIds option[Disabled]').prop("disabled", false);
        $('#SelectedClassIds option').prop("selected", true);
    });


    $('#TeacherId').change(function () {
        var teacherId = $(this).val();
        if (teacherId > 0) {
            $('#ks_loader').show();
            // set empty on every call
            // and append in All Subjects
            // Shift to all subject
            var SubjectOpts = $('#SelectedSubjectIds option');
            $('#AllSubjectIds').append($(SubjectOpts).clone());
            $('#AllSubjectIds option').prop("selected", false);
            $('#AllSubjectIds option').prop("disabled", false);
            $('#AllSubjectIds option').removeClass("disabled_color");
            $(SubjectOpts).remove();

            var ClassOpts = $('#SelectedClassIds option');
            $('#AllClassIds').append($(ClassOpts).clone());
            $('#AllClassIds option').prop("selected", false);
            $('#AllClassIds option').prop("disabled", false);
            $('#AllClassIds option').removeClass("disabled_color");
            $(ClassOpts).remove();

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetSubjectsClassForTeacher", "Subject"))',
                data: { "Teacher": teacherId },
                success: function (result) {
                    if (result.status == "success") {
                        for (var j = 0; j < result.Sublist.length; j++) {
                            var Disabled = "";
                            if (result.Sublist[j].Disabled == true)
                                Disabled = "Disabled class='disabled_color'";
                            var Optionaloption = "<option " + Disabled + " value='" + result.Sublist[j].Value + "'>" + result.Sublist[j].Text + "</option>";
                            $('#SelectedSubjectIds').append(Optionaloption);

                            var opt = $('#AllSubjectIds option[value="' + result.Sublist[j].Value + '"]');
                            opt.remove();
                        }
                        for (var k = 0; k < result.Clslist.length; k++) {
                            var Disabled = "";
                            if (result.Clslist[k].Disabled == true)
                                Disabled = "Disabled class='disabled_color'";

                            var Addtionaloption = "<option " + Disabled + " value='" + result.Clslist[k].Value + "'>" + result.Clslist[k].Text + "</option>";
                            $('#SelectedClassIds').append(Addtionaloption);

                            var opt = $('#AllClassIds option[value="' + result.Clslist[k].Value + '"]');
                            opt.remove();
                        }
                        if (result.Image != "") {
                            $('#teacher_img').attr("src", result.Image);
                            $('#teacher_img').show();
                        }
                        else {
                            $('#teacher_img').attr("src", "");
                            $('#teacher_img').show();
                        }
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            // set empty on every call Empty Class
            // Shift to all subject
            var SubjectOpts = $('#SelectedSubjectIds option');
            $('#AllSubjectIds').append($(SubjectOpts).clone());
            $('#AllSubjectIds option').prop("selected", false);
            $('#AllSubjectIds option').prop("disabled", false);
            $('#AllSubjectIds option').removeClass("disabled_color");
            $(SubjectOpts).remove();

            var ClassOpts = $('#SelectedClassIds option');
            $('#AllClassIds').append($(ClassOpts).clone());
            $('#AllClassIds option').prop("selected", false);
            $('#AllClassIds option').prop("disabled", false);
            $('#AllClassIds option').removeClass("disabled_color");
            $(ClassOpts).remove();

            $('#teacher_img').hide();
        }
    });

</script>
