﻿@model ViewModel.ViewModel.Subject.StudentClassSubjectModel
@{
    ViewBag.Title = "Manage Student Class Subject";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style>
    ul.multiselect-container.dropdown-menu {
        height: 227px;
        overflow-y: scroll;
    }

    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 170px;
    }
    table{
         /*height: 500px;*/
  overflow-y: scroll;
    }
    /*table {
  width: 100%;
}

table, td {
  border-collapse: collapse;
  border: 1px solid #000;
}*/

/*thead {
  display: table;
  width: calc(100% - 17px); 
}*/

/*tbody {
 display: block; 
  max-height: 200px; 
  overflow-y: scroll; 
}*/

/*th, td {
  width: 33.33%; 
  padding: 5px;
  word-break: break-all; 
}

tr {
  display: table; 
  width: 100%;
  box-sizing: border-box; 
}

td {
  text-align: center;
  border-bottom: none;
  border-left: none;
}*/


    /*#tblStuClassSubs > .table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }*/
    .tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }
</style>
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>

@if (TempData["successStuClassSubsMsgs"] != null && TempData["successStuClassSubsMsgs"] != "")
{
    <script>
        $(function () {
            ToastMessage('@TempData["successStuClassSubsMsgs"]', "success", true, 5000);
        });
    </script>
}

@if (TempData["ErrorStuClassSubsMsgs"] != null && TempData["ErrorStuClassSubsMsgs"] != "")
{
    <script>
        $(function () {
            ToastMessage('@TempData["ErrorStuClassSubsMsgs"]', "error", true, 5000);
        });
    </script>
}
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Student Class Subjects</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.StudentClassSubjectsId)
    @Html.HiddenFor(model => model.StudentClassId)
    @Html.HiddenFor(model => model.arrayIds)
    <div class="form-inline ks-custom-form">
        <div class="row top-space-10">
            <div class="col-md-2">
                <label class="control-label">Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.AvaiableStuSessions, new
                       {
                           @class = "form-control",
                           @style = "width:150px"
                       })
            </div>
            <div class="col-md-2" id="Class_SubsDiv">
                <label class="control-label">Class</label>
                @Html.DropDownListFor(model => model.ClassId, Model.AvaiableClasses, new
                       {
                           @class = "form-control js-example-templating",
                           @style = "width:150px"
                       })
            </div>
            <div class="col-md-3" id="Stus_SubsDiv" hidden>
                <label class="control-label">Student</label>
                <br />
                @Html.DropDownListFor(model => model.StudentId, Model.AvaiableClassStudents, new
                       {
                           @class = "form-control js-example-templating",
                           @style = "width:150px"
                       })
            </div>

            &nbsp; &nbsp; &nbsp;
            <div class="form-group" style="margin-top: 14px !important;display:none;" id="BtnStuClassSubs">
                <button type="button" id="Save" class="btn btn-success"><i class="fa fa-floppy-o"></i> Save</button>
                <button type="button" id="cancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </div>
        <div class="col-md-12" hidden>
            <div class="pull-right" style="margin-bottom: 10px;">
                <button type="button" id="BtnSelectAll" class="btn btn-xs btn-default" style="display:none;">Select All</button>
                <button type="button" id="BtnDeSelectAll" class="btn btn-xs btn-default" style="display:none;">Deselect All</button>
            </div>
        </div>

        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="StuClassSubs-grid" hidden style="overflow-y: scroll;max-height:600px">
                </div>
            </div>
        </div>
    </div>
    <script>
        var hasSelectedSubjects = false;

        //$(document).ready(function () {
        //    if($(".ui-dialog button").attr("title") == "Close")
        //        $(".ui-dialog button").removeClass(".ui-button-icon-only");

        //    $(".ui-dialog button").
        //});

        $("#BtnSelectAll").click(function () {
            $("#BtnDeSelectAll").show();
            $("#StuClassSubs-grid tr").each(function () {
                $(this).find("td > input[type=checkbox]").prop("checked", true);
            });
            $(this).hide();
        });

        $("#BtnDeSelectAll").click(function () {
            $("#BtnSelectAll").show();
            ConfirmDialog("Are you sure to deselect all checkboxes?");
        });


        function ConfirmDialog(message) {
            $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '?</h6></div>')
            .dialog({
                modal: true, title: 'De-Select Checkboxes', zIndex: 10000, autoOpen: true,
                width: 'auto', resizable: false,
                buttons: {
                    Yes: function () {
                        $("#StuClassSubs-grid tr").each(function () {
                            $(this).find("td > input[type=checkbox]").prop("checked", false);
                        });
                        $("#BtnDeSelectAll").hide();
                        $("#BtnSelectAll").show();
                        $(this).dialog("close");
                    },
                    No: function () {
                        $("#BtnDeSelectAll").show();
                        $("#BtnSelectAll").hide();
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });
        };

        $(".js-example-templating").select2({
        });

        $("#SessionId").on('change', function () {
            if ($(this).val() != "") {
                $("#ClassId").find("option").remove();
                $("#StuClassSubs-grid").hide();
                var Sessionid = $('#SessionId').val();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("ClassListbySession", "Examination"))',
                        async: false,
                        data: { "Sessionid": Sessionid },
                        success: function (result) {
                            if (result.status == "success") {
                                for (var i = 0; i < result.data.length; i++) {
                                    var option = "";
                                    if (result.data[i].Selected == true)
                                        option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                                    else
                                        option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                                    $('#ClassId').append(option);
                                }
                            }
                            else {
                                ToastMessage(result.msg, "error", true, 5000);
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            ToastMessage(err, "error", true, 5000);
                        }
                    });
            }
            else {
                $("#StuClassSubs-grid").hide();
                $("#Stus_SubsDiv").hide();
            }

            $("#ClassId").val('')
        });

        function CLearFields() {
            $("#StuClassSubs-grid").hide();
            var grid = $('#StuClassSubs-grid').data('kendoGrid');
            grid.dataSource.page(1);
        }


        $("#ClassId").on('change', function (e) {

            e.preventDefault();
          
            if ($(this).val() != "") {
                $("#Stus_SubsDiv").hide();
                $("#BtnStuClassSubs").show();
                CreateKendoGridHtml($(this).val(), null, $("#SessionId").val());
            }
            else {
                $("#StuClassSubs-grid").hide();
                $("#Stus_SubsDiv").hide();
                $("#BtnStuClassSubs").hide();
                $('#StuClassSubs-grid').hide();
                $("#BtnDeSelectAll").hide();
                $("#BtnSelectAll").hide();
              
            }
           
        });

        // on change class get student list
        function GetStudentsbyClass(classId, session_id) {
            $('#StudentId').html("");
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("StudentListbyClass", "Subject"))',
                async: false,
                data: { "Class": classId, "Id": "", "CurrentSession": true, "Session_id": session_id },
                success: function (result) {
                    if (result.status == "success") {
                        for (var i = 0; i < result.data.length; i++) {
                            var option = "";
                            if (result.data[i].Selected == true)
                                option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                            else
                                option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                            $('#StudentId').append(option);
                        }
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }

        function CreateKendoGridHtml(ClassId, StudentId, session_id) {
            
            $("#StuClassSubs-grid").show();
            $("#BtnStuClassSubs").show();
            $("#StuClassSubs-grid").html("");
            if (ClassId != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("getKendoGridColumns", "Subject"))',
                    data: { "ClassId": ClassId, "SessionId": session_id },
                    success: function (result) {
                        hasSelectedSubjects = false;
                        if (result.StudentInfo.length > 0) {
                            var html = "<table id='tblStuClassSubs' class='table tableFixHead'> ";
                            html += "<thead><tr>";
                            html += "<th class='k-header' hidden> StudentId </th>";
                            html += "<th class='k-header' hidden> StudentClassId </th>";
                            html += "<th class='k-header'>Roll No </th><th class='k-header' onclick='sortName(3)' style='cursor:pointer' title='Sort'> Name </th>";
                            if (result.SubjectClassList.length > 0) {
                                $.each(result.SubjectClassList, function (i) {
                                    html += "<th class='k-header'>" + result.SubjectClassList[i].SubjectCode + "<br/><input type='checkbox' class='checkBoxColumn' /></th>"
                                });
                            }
                            html += "</tr></thead>";
                            html += "<tbody>";

                            $.each(result.StudentInfo, function (j) {
                                html += "<tr>";
                                html += "<td hidden>" + result.StudentInfo[j].StudentId + "</td>";
                                html += "<td hidden>" + result.StudentInfo[j].StuClassId + "</td>";
                                html += "<td>" + result.StudentInfo[j].CurrentClassRollno + "</td>"
                                html += "<td>" + result.StudentInfo[j].StudentName + "</td>"
                                if (result.SubjectsList.length > 0) {
                                    $.each(result.SubjectsList, function (k) {
                                        var arrySubIds = result.SubjectsList[k].Value.split('_');
                                        if (arrySubIds[1] == result.StudentInfo[j].StuClassId) {
                                            if (result.SubjectsList[k].Selected) {
                                                hasSelectedSubjects = true;
                                                html += "<td><input type='checkbox' data-id='" + arrySubIds[0] + "' checked/></td>"
                                            }
                                            else
                                                html += "<td><input type='checkbox' data-id='" + arrySubIds[0] + "' /></td>"
                                        }
                                    })
                                }
                                html += "</tr>";
                            });

                            if (hasSelectedSubjects) {
                                $("#BtnSelectAll").hide();
                                $("#BtnDeSelectAll").show();
                            }
                            else {
                                $("#BtnSelectAll").show();
                                $("#BtnDeSelectAll").hide();
                            }
                            html += "</tbody></table>";
                            html += "<div id='bottom_anchor'></div>"
                            $("#StuClassSubs-grid").append(html);
                        }
                        else {
                            $("#BtnSelectAll").hide();
                            $("#BtnDeSelectAll").hide();
                            $("#StuClassSubs-grid").hide();
                            ToastMessage("No Data Found", "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                $("#StuClassSubs-grid").hide();
                $("#BtnStuClassSubs").hide();
                $("#BtnSelectAll").hide();
                $("#BtnDeSelectAll").hide();
                //ToastMessage("Please select required fields", "error", true, 5000);
            }
        };


        $(document).on("click",".checkBoxColumn", function () {
            var currentCheckedHeader = $(this).parent().index() + 1;
            if ($(this).prop("checked") == true)
                $("#StuClassSubs-grid tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[type='checkbox']").prop("checked", true);
            else
                $("#StuClassSubs-grid tr").find("td:nth-child(" + currentCheckedHeader + ")").find("input[type='checkbox']").prop("checked", false);
        });

        function sortName(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("tblStuClassSubs");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.getElementsByTagName("TR");
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1) ; i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        @*$('#StudentId').change(function () {
            var CLassId = $("#ClassId").val();
            var StuId = $("#StudentId").val();

            if (CLassId != "" && StuId != "") {
                $("#StuClassSubs-grid").show();
                $("#BtnStuClassSubs").show();
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("getKendoGridColumns", "Subject"))',
                    data: { "StudentId": StuId, "ClassId": CLassId },
                    success: function (result) {

                        $("#StuClassSubs-grid").html("");
                        var html = "<table id='tblStuClassSubs' class='table'> ";
                        html += "<thead><tr>";
                        html += "<th class='k-header' hidden> StudentId </th>";
                        html += "<th class='k-header' hidden> StudentClassId </th>";
                        html += "<th class='k-header'>Roll No </th><th class='k-header'> Name </th>";
                        if (result.SubjectsList.length > 0) {
                            $.each(result.SubjectsList, function (i) {
                                html += "<th class='k-header'>" + result.SubjectsList[i].Text + "</th>"
                            });
                        }
                        html += "</tr></thead>";
                        html += "<tbody><tr>";
                        if (result.StudentInfo.length > 0) {
                            $.each(result.StudentInfo, function (j) {
                                html += "<td hidden>" + result.StudentInfo[j].StudentId + "</td>";

                                if (result.StudentClass_Id > 0)
                                    html += "<td hidden>" + result.StudentClass_Id + "</td>";

                                html += "<td>" + result.StudentInfo[j].CurrentClassRollno + "</td>"
                                html += "<td>" + result.StudentInfo[j].StudentName + "</td>"
                            });
                        }

                        if (result.SubjectsList.length > 0) {
                            $.each(result.SubjectsList, function (k) {
                                if (result.SubjectsList[k].Selected) {
                                    html += "<td><input type='checkbox' id='" + result.SubjectsList[k].Value + "' checked/></td>"
                                }
                                else
                                    html += "<td><input type='checkbox' id='" + result.SubjectsList[k].Value + "'/></td>"
                            })
                        }

                        html += "</tr></tbody></table>";
                        $("#StuClassSubs-grid").append(html);
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                $("#StuClassSubs-grid").hide();
                $("#BtnStuClassSubs").hide();
                ToastMessage("Please select required fields", "error", true, 5000);
            }

        });*@

        //$("#StuClassSubs-grid tr").find("input").change(function () {
        //    if ($(this).prop("checked"))
        //        $(this).prop("checked", true)
        //    else
        //        $(this).prop("checked", false)
        //});


        $("#Save").click(function () {
            $('#ks_loader').show();
            var arrySubs = "";
            var StudentClassIds = "";

            var myColumnDefs = [];
            $("#StuClassSubs-grid tr").each(function (k) {
                if (k > 0) {
                    StudentClassIds = $(this).find("td:nth-child(2)").text();
                }
                arrySubs = "";
                $(this).find("td").each(function (i) {
                    if ($(this).find("input").prop("checked") == true) {

                        var SubId = "";
                        if ($(this).find("input").attr("data-id").includes('_')) {
                            var spiltarry = $(this).find("input").attr("data-id").split('_');
                            SubId = spiltarry[0];
                        }
                        else
                            SubId = $(this).find("input").attr("data-id");

                        arrySubs += SubId + ",";
                    }
                });
                if (k > 0) {
                    myColumnDefs.push({ "StudentClassId": StudentClassIds, ClassSubjectId: arrySubs })
                }
            });
            $("#arrayIds").val(JSON.stringify(myColumnDefs))

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("InsertUpdateStudentClassSubs", "Subject"))',
                data: { "arrayIds": $("#arrayIds").val() },
                success: function (result) {
                    if (result.success != "success") {
                        var msg = result.msg.trim();
                        ToastMessage(msg, "success", true, 5000);
                    }
                    else if (result.success != "error") {
                        var msg = result.msg.trim();
                        ToastMessage(msg, "error", true, 500);
                    }

                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

            //alert(JSON.stringify(myColumnDefs));
        });

        $("#cancel").click(function (e) {
            e.preventDefault();

            
            $("#StuClassSubs-grid").hide();
            $("#BtnDeSelectAll").hide();
            $("#BtnSelectAll").hide();
            $("#StuClassSubs-grid").show();
            ConfirmDialogOnCancel("All the changes would be discarded. Are you sure to discard them?")
            //$("#StuClassSubs-grid").html("");
        });

        


        function ConfirmDialogOnCancel(message) {
            $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '?</h6></div>')
            .dialog({
                modal: true, title: 'Discard Changes', zIndex: 10000, autoOpen: true,
                width: 'auto', resizable: false,
                buttons: {
                    Yes: function () {
                        $("#ClassId").trigger('change');
                        $(this).dialog("close");
                    },
                    No: function () {
                       
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });
        };
       // StuClassSubs-grid
//        function moveScroll(){
//    var scroll = $(window).scrollTop();
//    var anchor_top = $("#tblStuClassSubs").offset().top;
//    var anchor_bottom = $("#bottom_anchor").offset().top;
//    if (scroll>anchor_top && scroll<anchor_bottom) {
//    clone_table = $("#clone");
//    if(clone_table.length == 0){
//        clone_table = $("#tblStuClassSubs").clone();
//        clone_table.attr('id', 'clone');
//        clone_table.css({position:'fixed',
//                 'pointer-events': 'none',
//                 top:0});
//        clone_table.width($("#tblStuClassSubs").width());
//        $("#StuClassSubs-grid").append(clone_table);
//        $("#clone").css({visibility:'hidden'});
//        $("#clone thead").css({'visibility':'visible','pointer-events':'auto'});
//    }
//    } else {
//    $("#clone").remove();
//    }
//}
//$(window).scroll(moveScroll); 
    </script>
}
