﻿@model ViewModel.ViewModel.Subject.TeacherClassSubAssignmentModel
@{
    ViewBag.Title = "Teacher Subject Assignment";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;

}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Teacher Subject Assignment</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        <button type="button" id="btnfilter" class="btn btn-xs btn-default"> Filters</button>
        <button type="button" id="btnadd" class="btn btn-xs btn-default">Add New</button>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
@using (Html.BeginForm())
{
    <div class="form-inline ks-custom-form">
        <div class="row top-space-10" id="div_Filter">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Teacher</label>
                    @Html.DropDownList("Filter_TeacherId", Model.AvailableTeachers, new
                       {
                           @class = "form-control",
                           @autofocus = "on",
                           @style = "width: 190px;",
                       })
                </div>
                <div class="form-group">
                    <label class="control-label">Class</label>
                    @Html.DropDownList("Filter_ClassId", Model.AvailableClasses, new
                       {
                           @class = "form-control",
                           @style = "width: 190px;",
                       })
                </div>
                <div class="form-group">
                    <label class="control-label">Subject</label>
                    @Html.DropDownList("Filter_SubjectId", Model.AvailableSubjects, new
                       {
                           @class = "form-control",
                           @style = "width: 190px;",
                       })
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group" style="margin-top: 16px;">
                    <button type="button" id="filter" class="btn btn-success">Filter</button>
                    <button type="button" id="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10" id="div_Add" hidden>
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Teacher<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.DropDownListFor(model => model.TeacherId, Model.AvailableTeachers, new
                       {
                           @class = "form-control",
                           @autofocus = "on",
                           @style = "width: 190px;",
                       })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Class<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new
                       {
                           @class = "form-control",
                           @style = "width: 190px;",
                       })
                </div>
                <div class="col-md-3" id="Sub_div">
                    <label class="control-label">Subject<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.DropDownListFor(model => model.SubjectId, Model.AvailableSubjects, new
                       {
                           @class = "form-control",
                           @style = "width: 190px;",
                       })
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group" style="margin-top: 16px;">
                    <button type="button" id="submit" class="btn btn-success">Submit</button>
                    <button type="button" id="cancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>
        </div>


        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="TeacherAssignment-grid">
                    <script>
                        $(document).ready(function () {
                            $("#TeacherAssignment-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetTeacherSubjectAssignments", "Subject"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,

                                columns: [{
                                    field: "EncTeacherSubjectAssignId",
                                    hidden: true
                                }, {
                                    field: "EncClassIdVirtualId",
                                    hidden: true
                                }, {
                                    field: "EncTeacherId",
                                    hidden: true
                                }, {
                                    field: "EncSubjectId",
                                    hidden: true
                                }, {
                                    field: "Teacher",
                                    title: "Teacher",
                                }, {
                                    field: "Class",
                                    title: "Class",
                                }, {
                                    field: "Subject",
                                    title: "Subject",
                                }
                                @{
                                   if(Model.IsUpdate)
                                   {<text>
                                    , {
                                        field: "EncTeacherSubjectAssignId",
                                        title: "Action",
                                        sortable: false,
                                        width: 120,
                                        template: '#{#<a href="javascript:void(0)" title="Edit"'
                                                    + ' data-toggle="tooltip" data-placement="top"'
                                                    + ' class="updateRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                    }
                                </text>}
                                }]
                            });
                            var grid = $("#TeacherAssignment-grid").data("kendoGrid");
                        });

                        function additionalData() {
                            var data = {
                                TeacherId: $("#Filter_TeacherId").val(),
                                ClassId: $('#Filter_ClassId option:selected').attr('data-id-classvalue'),
                                VirtualId: $('#Filter_ClassId option:selected').attr('data-id-virtualclassid'),
                                SubjectId: $("#Filter_SubjectId").val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }

                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script>

        //validations
        var SubAssignValid = true;
        var SubAssignvalidationmessage = "";
        var SubAssignctrlfocus = "";
        function ValidateSubAssign() {
            SubAssignValid = true;
            SubAssignvalidationmessage = "";
            SubAssignctrlfocus = "";
            var classId = $('#ClassId option:selected').attr('data-id-classvalue');
            var VirtualClassId = $('#ClassId option:selected').attr('data-id-virtualclassid');

            if ($('#TeacherId').val() == "") {
                if (SubAssignctrlfocus == "")
                    SubAssignctrlfocus = "#TeacherId";
                SubAssignvalidationmessage = SubAssignvalidationmessage + "Please select Teacher ε";
                SubAssignValid = false;
            }
            if (classId == "0" && VirtualClassId == "0") {
                if (SubAssignctrlfocus == "")
                    SubAssignctrlfocus = "#ClassId";
                SubAssignvalidationmessage = SubAssignvalidationmessage + "Please select Class ε";
                SubAssignValid = false;
            }
            else if ($('#SubjectId').val() == 0) {
                if (SubAssignctrlfocus == "")
                    SubAssignctrlfocus = "#SubjectId";
                SubAssignvalidationmessage = SubAssignvalidationmessage + "Please select Subject ε";
                SubAssignValid = false;
            }
            var aa = SubAssignvalidationmessage;
            return SubAssignValid;
        }

        $("#btnfilter").click(function () {
            $("#div_Filter").show();
            $("#div_Add").hide();
        });

       

        $("#btnadd").click(function () {
            $("#div_Filter").hide();
            $("#div_Add").show();
        });

        function ClearFileds()
        {
            $('#TeacherId').val("");
            $('#ClassId').empty();
            $('#SubjectId').empty();

            $('#Filter_TeacherId').val("");
            $('#Filter_ClassId').empty();
            $('#Filter_SubjectId').empty();
        }

        $("#cancel").click(function () {
            ClearFileds();
        });

        $("#filter").click(function () {
            var grid = $("#TeacherAssignment-grid").data("kendoGrid");
            grid.dataSource.page(1);
        });

        $("#reset").click(function () {
            ClearFileds();
            var grid = $("#TeacherAssignment-grid").data("kendoGrid");
            grid.dataSource.page(1);
        });

        $("#Filter_TeacherId").change(function () {
            if ($(this).val() != "") {
                TeacherChangeEvent("Filter_TeacherId", "Filter_ClassId");
            }
        });
        $("#Filter_ClassId").change(function () {
            ClassChangeEvent("Filter_SubjectId", "Filter_ClassId", "Filter_TeacherId");
        });

        $("#submit").click(function () {
            var classId = $('#ClassId option:selected').attr('data-id-classvalue');
            var VirtualClassId = $('#ClassId option:selected').attr('data-id-virtualclassid');
            // create model
            var SubAssignModel = new Object();
            SubAssignModel.TeacherId = $('#TeacherId').val();
            SubAssignModel.ClassId = classId;
            SubAssignModel.VirtualId = VirtualClassId;
            SubAssignModel.SubjectId = $('#SubjectId').val();
            var valid = ValidateSubAssign();
            if (valid) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertUpdateTeacherSubAssignment", "Subject"))',
                    data: SubAssignModel,
                    success: function (result) {
                        if (result.status == "success") {
                            var grid = $("#TeacherAssignment-grid").data("kendoGrid");
                            grid.dataSource.page(1);
                            ToastMessage("Saved successfully", "success", true, 5000);
                        }
                        if (result.status == "failed") {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
        });

        $("#TeacherId").change(function () {
            $('#ks_loader').show();
            if ($(this).val() != "") {
                TeacherChangeEvent("TeacherId", "ClassId");
            }
            else {
                $('#ks_loader').hide();
                $("#ClassId").val("");
                $("#SubjectId").val("");
            }
        });

        function TeacherChangeEvent(TeacherControlId,ClassControlId)
        {
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("getAssignedClassFromStandard", "Subject"))',
                data: { "TeacherId": $("#" + TeacherControlId).val() },
                success: function (result) {
                    if (result.status == "success") {
                        $("#" + ClassControlId).empty();
                        var html = "<option value =''>--Select--</option>";
                        $.each(result.ClassList, function (i) {
                            html += "<option data-id-virtualclassid='" + result.ClassList[i].VirtualClassValue
                                        + "' data-id-classvalue='" + result.ClassList[i].Value + "'>"
                                        + result.ClassList[i].Text + "</option>";
                        });
                        $("#" + ClassControlId).append(html);
                        $('#ks_loader').hide();
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage("Error Happened", "error", true, 5000);
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    $('#ks_loader').hide();
                    ToastMessage(err, "error", true, 5000);
                }
            });

        }

        $("#ClassId").change(function () {
            $('#ks_loader').show();
            ClassChangeEvent("SubjectId", "ClassId", "TeacherId");
        });

        function ClassChangeEvent(SubjectControlId, ClassControlId,TeacherControlId)
        {
            var classId = $('#'+ClassControlId+' option:selected').attr('data-id-classvalue');
            var VirtualClassId = $('#'+ClassControlId+' option:selected').attr('data-id-virtualclassid');
            if (classId == "" && VirtualClassId == "") {
                $("#" + SubjectControlId).val("");
                $('#ks_loader').hide();
            }
            else {
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("getAssignedSubjectFromTeacherClass", "Subject"))',
                    data: {
                        "TeacherId": $("#" + TeacherControlId).val(), "ClassId": classId,
                        "VirtualId": VirtualClassId
                    },
                    success: function (result) {
                        if (result.status == "success") {
                            $("#" + SubjectControlId).empty();
                            if (result.subjectList.length > 0) {
                                var html = "<option value =''>--Select--</option>";
                                $.each(result.subjectList, function (i) {
                                    html += "<option  value='" + result.subjectList[i].Value + "'>"
                                                + result.subjectList[i].Text + "</option>";
                                });
                                $("#" + SubjectControlId).append(html);
                            }
                            else {
                                if (SubjectControlId == "SubjectId") {
                                    $("#Sub_div").html("");
                                    $("#Sub_div").append("<br/><label style='color:red;'>No Subject found for selected teacher</label>");
                                }
                            }
                            $('#ks_loader').hide();
                        }
                        else {
                            $('#ks_loader').hide();
                            ToastMessage("Error Happened", "error", true, 5000);
                        }
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }

        }
    </script>
}
