﻿@{
    ViewBag.Title = "401.4 Access Denied";
}
<div align="center">

    <!-- implement as you like
        <br /><br />
        <a href="http://www.yourdomain.com">
        <img src="http://www.yourdomain.com/content/images/error-page-logo.jpg" style="border:none;" alt="logo" />
        </a>
    -->

    <br />
    <br />
    <img src="~/Content/assets/img/konnect-smart.png" /><br /><br />
    <p style="font-size: 16pt; font-weight: bold;">
        <h1>401.4</h1>
        Access Denied
    </p>
</div>
