﻿@{
    ViewBag.Title = "Error";
}
<div align="center">

    <!-- implement as you like
        <br /><br />
        <a href="http://www.yourdomain.com">
        <img src="http://www.yourdomain.com/content/images/error-page-logo.jpg" style="border:none;" alt="logo" />
        </a>
    -->

    <br />
    <br />
    <img src="~/Content/assets/img/konnect-smart.png" /><br /><br />
    <p style="font-size: 16pt; font-weight: bold;">
        We're sorry, Konnect Smart is currently down for maintenance.
    </p>
    <p style="font-size: 14pt;">
        We  apologize for the inconvenience.

        <!-- implement as you like
                <br /><br />
                <a href="http://www.yourdomain.com">http://yourdomain.com</a>
        -->
        <br />
        <br />
        If you continue to receive this message, please try again in a little while.
        <br />
        <br />
        Thank you for your patience.
    </p>

</div>
