﻿@model ViewModel.ViewModel.Library.BookAdditionalInfoViewModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;

}
<!-- Validations -->
<div id="validation_paraCopies" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1><b>@Model.BookTitle</b> Copies</h1>
    </div>
    <div class="col-md-6 text-right addnew_divCopies">
        <button type="button" id="btnfilterCopies" class="btn btn-xs btn-default"> Filters</button>
        @if (Model.IsAuthToGirdAdd)
        {
            <button type="button" id="btnaddCopies" class="btn btn-xs btn-default">Add New</button>
        }
    </div>
</div>

<div class="modal-popup" id="sellerModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <label>Add New Seller:</label>
                    <input type="text" style="height:auto;width:auto" id="addNewSeller">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCanceladdSeller" class="btn cancel" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="saveAddNewSeller" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- //Page Heading -->
@Html.HiddenFor(model => model.BookIdentityId)
@Html.HiddenFor(model => model.ArrayAttr, new { @id = "hdnCopiesArrayAttr" })

<!-- Page Filters -->
<div class="form-inline ks-custom-form">
    <div class="row top-space-10" style="display: none" id="div_filterCopies">
        <div class="col-md-12">
            <div class="col-md-3">
                <label class="control-label">UniqueId</label> <br />
                @Html.TextBox("bookuniqueId", Model.UniqueId, new { @class = "form-control", @placeholder = "UniqueId" })
            </div>
            <div class="col-md-3">
                <label class="control-label">Edition</label>
                <br />
                @Html.DropDownList("bookEditions", Model.AvialableEditions, new { @class = "form-control", @style = "Width:165px!important;" })
            </div>
            <div class="col-md-3">
                <label class="control-label">Seller</label><!-- Form Label -->
                <br />
                @Html.DropDownList("bookSeller", Model.AviableBookSellers, new { @class = "form-control bookSeller", @width = "150px" })

            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="col-md-3">
                <button type="button" id="filterCopies" class="btn btn-default">Filter</button>
                <button type="button" id="resetCopies" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="display: none" id="div_addCopies">
        <div class="top-space-20">
            <div class="col-md-6 top-space-10">
                <div class="">
                    <label class="control-label custLabels">Unique Id</label>
                    <input class="form-control" id="UniqueId" name="UniqueId" placeholder="UniqueId"
                           type="text" value='@Model.UniqueId' readonly="readonly" style="width: 259px;">
                    @*<label class="control-label" id="UniqueId"></label>*@
                </div>
                <br />
                <div class="">
                    <label class="control-label custLabels">Acession No.</label>
                    <input class="form-control" id="LUIId" name="LUIId" placeholder="Accession No"
                           type="text" value='@Model.LUIId' style="width: 259px;" maxlength="15">
                    @*<label class="control-label" id="UniqueId"></label>*@
                </div>
                <br />
                <div class="">
                    <label class="control-label custLabels">Edition<i class="fa fa-asterisk required" style="top: 104px;"></i></label>
                    @Html.DropDownListFor(m => m.BookEditionMaxId, Model.AvialableEdVol
                    , new { @class = "form-control", @id = "bookEditionsId" })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.BookEditionId)</span>
                    </div>
                    <!-- //Error Message -->
                </div><br />
                <div class="">
                    <label class="control-label custLabels">Bar Code</label><!-- Form Label -->
                    @Html.TextBoxFor(model => model.BarCode, new
                    {
                        @class = "form-control",
                        @maxlength = "20",
                        @placeholder = "Bar Code",
                        @style = "width: 170px;"
                    })
                    @if (Model.BooKMarkAutoIncrement==true)
                    {
                        <input id="BarCodeAutoIncrement" readonly="readonly" style="width: 87px;height: 28px;">
                    }
                </div><br />
                <div class="">
                    <label class="control-label custLabels">Entry Date</label>
                    @Html.TextBoxFor(model => model.EntryDate, new { @class = "KendoDatepicker custdate" })
                </div><br />
                <div class="">
                    <label class="control-label custLabels">Seller</label><!-- Form Label -->
                    @Html.DropDownListFor(m => m.BookSellerId, Model.AviableBookSellers,
                                              new { @class = "form-control bookSeller", @style = "width:62% !important" })
                    <a href="#" class="add addSellerIco" title="add">
                        <i class="fa fa-plus" style="font-size:15px"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-5" style="display:none;padding-bottom: 10px;" id="ExtraAttr_div">
                <table class="table main table-condensed ExtraInfoTable" id="MainAttrTable">
                    <thead>
                        <tr><th colspan="2" style="text-align:center;border: none;">Book Location</th></tr>
                    </thead>
                    <tbody>
                        @foreach (var attr in Model.BookLocAttributes)
                        {
                            var SelectIdentityId = attr.BookLocationAttributeId + "_drpIdentity";
                            <tr>
                                <td class="MasterLocAttr" width="10%">@attr.BookMasterAttributeName</td>
                                <td style="background-color: white;width: 60%;" class="dropLocAttr">
                                    <div class="dropdown">
                                        <select id='@SelectIdentityId' style="width:100%;" class="form-control bookAttr">
                                            <option value="">--Select--</option>
                                            @{
                                                //get all book data location values related to specific attribute
                                                foreach (var data in attr.BookLocationDatas)
                                                {
                                                    <option value='@data.BookMasterDataId'>@data.AttributeValue</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    @if (attr.BookLocationDatas.Count() > 0)
                                    {
                                        <a href="#" class="del deleteLocAttrIco" title="clear" style="float: left;">
                                            <i class="fa fa-times" style="font-size:15px"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-offset-6">
                    <button type="button" id="submitCopies" class="btn btn-success"></button>
                    <button type="button" id="cancelCopies" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>
        </div>

        @*&nbsp; &nbsp; &nbsp;
            <div class="col-md-12 top-space-10 btn_div">
                <div class="pull-right">
                    <button type="button" id="submitCopies" class="btn btn-success"></button>
                    <button type="button" id="cancelCopies" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>*@
    </div>
    <!-- // Page Filters -->
    <!--Book Attribute Kendo Gird -->
    <div class="row">
        <div class="col-md-12 top-space-10">
            <div id="bookCopy-grid">
                <script>
                    $(document).ready(function () {
                        $("#bookCopy-grid").kendoGrid({
                            @if (string.IsNullOrEmpty(Model.BookId)) {
                                     <text>
                                autoBind: false,
                                </text>
                                     }
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetBookIdentities", "BookMaster"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalCopiesData
                                    },
                                    parameterMap: function (data) {
                                        return JSON.stringify(data);
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: '@(defaultGridPageSize)',
                                serverPaging: true,
                                serverFiltering: false,
                                serverSorting: true
                            },
                            dataBound: onDataBound,
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            sortable: true,
                            columns: [{
                                field: "BookIdentityId",
                                hidden: true
                            }, {
                                field: "BookId",
                                hidden: true
                            }, {
                                field: "BookEditionId",
                                hidden: true
                            }, {
                                field: "BookTitle",
                                hidden: true
                            }, {
                                field: "UniqueId",
                                title: "Unique Id",
                                sortable: true
                            }, {
                                field: "LUIId",
                                title: "Accession No",
                                sortable: true
                            }, {
                                field: "BookEdition",
                                title: "Edition",
                                sortable: true
                            }, {
                                field: "Volume",
                                title: "Volume",
                                sortable: true
                            }, {
                                field: "EntryDate",
                                title: "Entry Date",
                                sortable: true
                            }, {
                                field: "BarCode",
                                hidden: true
                            }, {
                                field: "BookSellerName",
                                title: "SellerName",
                                sortable: true
                            }, {
                                field: "BookSellerId",
                                hidden: true
                            },
                            {
                                field: "IsInActiveBook",
                                hidden: true
                            },{
                                field: "strBookLocation",
                                title: "Location"
                            },{
                                field: "Status",
                                title: "Status"
                            },
                            @if (Model.IsAuthToGridDelete || Model.IsAuthToGridEdit)
                            {
                                    <text>
                                        {
                                            field: "BookIdentityId",
                                            title: "Action",
                                            sortable: false,
                                            width: 120,
                                            template:
                                            @if (Model.IsAuthToGridEdit)
                                                {
                                                    <text>'#{#<a href="javascript:void(0)" title="Edit"'
                                                + ' data-toggle="tooltip" data-placement="top"'
                                                + ' class="updateCopyRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                                  </text>
                                                 }
                                           @if (Model.IsAuthToGridDelete)
                                              {
                                                <text>
                                                      + ' #if(!IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top" class="deleteRecords  btn btn-xs btn-default"  cursor:pointer" dataid="#=BookIdentityId#"'
                                                    + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                            </text>
                                              }
                                        },
                                     </text>
                            }]
                        });
                        var grid = $("#bookCopy-grid").data("kendoGrid");
            //            $(".nav-tabs li").each(function () {
            //    if ($(this).find('a').attr('href') == "#tab2" && $(this).hasClass('active')) {
            //        if ($("#bookCopy-grid").data("kendoGrid").dataSource.data().length == 0)
            //                    $('#btnaddCopies').trigger('click');
            //    }

            //});

                    });

                    function onDataBound(arg) {
                        $('[data-toggle="tooltip"]').tooltip();
                    }
                    function additionalCopiesData() {
                        var data = {
                            BookId: '@Model.BookId',
                            UniqueId: $.trim($('#bookuniqueId').val()),
                            BookEditionId: $('#bookEditions').val(),
                            BookSellerId: $('#bookSeller').val(),
                        };
                        addAntiForgeryCopiesToken(data);
                        return data;
                    }



                    addAntiForgeryCopiesToken = function (data) {
                        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                </script>
            </div>
        </div>

    </div>
    <!-- //Book Attribute Kendo Gird -->
</div>
@if (TempData["BookStatusAddUpd"] != null && TempData["BookStatusAddUpd"] != "")
{
    if (Model.BookCopiesCount == null || Model.BookCopiesCount == 0)
    {
<script>


        $(".copiesTab").click(function () {

            // $('#btnaddCopies').trigger('click');
            $('#BookIdentityId').val("");
            $("#EntryDate").val(kendo.toString(new Date(), "dd/MM/yyyy"));
            $('#BarCode').val("");
            $('#bookuniqueId').val("");
            $('#BookSellerId').val("");
            $("#submitCopies").html('');
            $("#submitCopies").html('<i class="fa fa-floppy-o"></i> Save');

            $("#div_addCopies").show();
            $("#div_filterCopies").hide();
            $("#booksCopy-grid").hide();
            $("#submitCopies").show();
            $("#cancelCopies").show();

            $("#btnaddCopies").show();
            $("#ExtraAttr_div").show();
            $("#btnfilterCopies").show();

       //hide/show barcode auto increament textbox behind barcode textbox
       if (barcodeIncremented == "False") {
                $("#BarCode").addClass("BarcodeStyle");
       }
       else {
                $("#BarCode").removeClass("BarcodeStyle");
           clearBarcode();
       }

       //hide delete icon front of controls
       HideCrossSignIdentity();
       clearUniqueId();

       //get last record in kendo grid
       var LastSavedIdentityId = "";
       if ($('#bookCopy-grid tr:last').find('td:nth(0)').html() != "") {
           LastSavedIdentityId = $('#bookCopy-grid tr:last').find('td:nth(0)').html();
            }
   @if (!string.IsNullOrEmpty(Model.LUIAcessionNo))
   {
       <text>
    $("#LUIId").val('@Model.LUIAcessionNo');
    </text>
   }
   @if (!string.IsNullOrEmpty(Model.BookEditionMaxId))
   {
       <text>
    $("#bookEditionsId").val('@Model.BookEditionMaxId');
    </text>
   }
        })
    
</script>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
    @if (!string.IsNullOrEmpty(Model.BookEditionMaxId))
   {
       <text>
    $("#bookEditionsId").val('@Model.BookEditionMaxId');
    </text>
   }
    })
    var barcodeIncremented = '@Model.BooKMarkAutoIncrement';
    var BookMainId = "";
    var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
    for (var i = 0; i < url.length; i++) {
        BookMainId = url[1];
    }

    $("#EntryDate.KendoDatepicker").kendoDatePicker({
        value: new Date,
        format: "dd/MM/yyyy"
    });
    $("#EntryDate.KendoDatepicker").attr('readonly', true);

    $(document).ready(function () {
        $('#BookId').val(BookMainId);
        //clear error messages
        $('.error-message').each(function () {
            var current = $(this);
            if (current.children('span').text() != "")
                current.show();
            else
                current.hide();
        });
    });

    //hide delete icon when dropdown is empty
    $('#MainAttrTable tbody tr').on('change', function (e) {
        if ($.trim($(this).find('select').val()) == "") {
            $(this).find('a.deleteLocAttrIco').hide();
            $(this).find('a.deleteLocAttrIco').css("display", "none");
        } else {
            $(this).find('a.deleteLocAttrIco').show();
            $(this).find('a.deleteLocAttrIco').css("display", "block");
        }
    });


    //hide delete icon front of controls
    function HideCrossSignIdentity() {
        $("#MainAttrTable tbody tr").each(function () {
            if ($(this).find("select").val() == "") {
                $(this).find("a.deleteLocAttrIco").hide();
            }
            else {
                $(this).find("a.deleteLocAttrIco").show();
            }
        });
    }

    //gird methods
    $(document).on("click", ".updateCopyRecords", function () {
        var row = $(this).parent().parent();

        if (row.find("td:nth-child(13)").text().trim().toLowerCase() == "true") {
            ToastMessage("InActive copy can not be edited.", "error", true, 5000);
            return false;
        }

        $("#div_filterCopies").hide();
        $("#div_addCopies").show();

        $("#submitCopies").show();
        $("#submitCopies").html('');
        $("#submitCopies").html('<i class="fa fa-floppy-o"></i> Update');

        $("#cancelCopies").show();
        $("#btnaddCopies").show();
        $("#ExtraAttr_div").show();


        $('#BookIdentityId').val(row.find("td:nth-child(1)").text());
        $('#BookId').val(row.find("td:nth-child(2)").text());
        $('#bookEditionsId').val(row.find("td:nth-child(3)").text());

        $('#UniqueId').val(row.find("td:nth-child(5)").text());
        $('#LUIId').val(row.find("td:nth-child(6)").text());
        $('#EntryDate').val(row.find("td:nth-child(9)").text());


        $('#BarCode').val(row.find("td:nth-child(10)").text());

        if (row.find("td:nth-child(12)").text() != "MA_E0L0S__E0L0S_")
            $('#BookSellerId').val(row.find("td:nth-child(12)").text());

        if (barcodeIncremented == "False") {
            $("#BarCode").addClass("BarcodeStyle");
        }
        else {
            $("#BarCode").removeClass("BarcodeStyle");
            if (row.find("td:nth-child(10)").text() == "") {
                clearBarcode();
            }
            else {
                if (row.find("td:nth-child(10)").text().indexOf('-') > -1) {
                    var code = row.find("td:nth-child(10)").text().split('-');
                    $('#BarCode').val(code[0]);
                    $("#BarCodeAutoIncrement").val("-" + code[1]);
                }
                else {
                    clearBarcode();
                }
            }
        }

        var BookIdentityId = $('#BookIdentityId').val();
        if (BookIdentityId != "") {
            $.ajax({
                type: 'GET',
                url: '@Html.Raw(Url.Action("GetBookLocationExtraInfo", "BookMaster"))',
                data: { "BookIdentityId": BookIdentityId },
                success: function (result) {

                    $("#MainAttrTable tbody tr").each(function () {
                        $(this).find("select").val("");
                    });

                    for (var i = 0; result.paramsList.length > i ; i++) {
                        $("#MainAttrTable tbody tr").each(function () {
                            if ($(this).find("td.MasterLocAttr").text() == result.paramsList[i].BookMasterAttributeName) {
                                $(this).find("td.MasterLocAttr").text(result.paramsList[i].BookMasterAttributeName);
                                $(this).find("select").val(result.paramsList[i].BookLocationDataId);
                            }
                        });
                    }

                    //hide delete icon front of controls
                    HideCrossSignIdentity();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        $("#bookCopy-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId, "BookEditionId": $('#BookEditionId').val("") });

    });

    //validations
    var BookIdentityValid = true;
    var BookIdentityvalidationmessage = "";
    var BookIdentityctrlfocus = "";
    function ValidateBookIdentity() {
        BookIdentityValid = true;
        BookIdentityvalidationmessage = "";
        BookIdentityctrlfocus = "";

        if ($('#bookEditionsId').val() == "") {
            if (BookIdentityctrlfocus == "")
                BookIdentityctrlfocus = "#bookEditionsId";
            BookIdentityvalidationmessage = BookIdentityvalidationmessage + "Please provide Edition ε";
            BookIdentityValid = false;
        }
        if ($("#bookEditionsId option").length <= 1) {
            if (BookIdentityctrlfocus == "")
                BookIdentityctrlfocus = "#bookEditionsId";
            BookIdentityvalidationmessage = BookIdentityvalidationmessage + "Please add some Editions before adding Copies of this book. ε";
            BookIdentityValid = false;
        }

        var aa = BookIdentityvalidationmessage;
        return BookIdentityValid;
    }

    //clear fields
    function ClearCopies() {
        $('#BookIdentityId').val("");
        $('#BookId').val("");
        $('#BarCode').val("");
        $('#bookuniqueId').val("");
        $('#bookEditions').val("");
      
        $('#bookEditionsId').val('');
        
        $('#BookSellerId').val("");
        $('#LUIId').val("");
        $("#bookCopy-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId, "BookEditionId": $('#BookEditionId').val("") });

        //hide delete icon front of controls
        HideCrossSignIdentity();
    }

    $('#submitCopies').click(function () {
        $("#validation_paraCopies ul").html('');
        // create model
        var BookIdentityModel = new Object();
        BookIdentityModel.BookIdentityId = $('#BookIdentityId').val();
        BookIdentityModel.BookId = BookMainId;
        BookIdentityModel.UniqueId = $('#UniqueId').val();
        BookIdentityModel.BookEditionId = $('#bookEditionsId').val();
        BookIdentityModel.EntryDate = $('#EntryDate').val();
        BookIdentityModel.BarCode = $("#BarCode").val();
        BookIdentityModel.BookSellerId = $("#BookSellerId").val();
        BookIdentityModel.BookSellerId = $("#BookSellerId").val();
        if ($.trim($("#LUIId").val()))
            BookIdentityModel.LUIId = $("#LUIId").val();

        //alert($("#BarCode").val());
        if ($.trim($("#submitCopies").text()) != "Update") {
            if ($("#BarCode").val() != "" && barcodeIncremented != "False") {
                //clearBarcode();
                BookIdentityModel.BarCode = $("#BarCode").val() + $("#BarCodeAutoIncrement").val();
            }
        }
         $("#ks_loader").show();
        var valid = ValidateBookIdentity();
        if (valid) {
            var MasterAttr = new Object(); //array and object for Master Attributes
            var TotalMasterAttrArray = new Array();

            $("#MainAttrTable tbody tr").each(function () {
                MasterAttr = new Object();
                MasterAttr.LocationAttribute = $(this).find("td.MasterLocAttr").text();
                MasterAttr.BookMasterDataId = $(this).find(".bookAttr option:selected").val();
                MasterAttr.AttributeValue = $(this).find(".bookAttr option:selected").text();
                TotalMasterAttrArray.push(MasterAttr);
            });

            $("#hdnCopiesArrayAttr").val(JSON.stringify(TotalMasterAttrArray));
            BookIdentityModel.ArrayAttr = $("#hdnCopiesArrayAttr").val();
            $("#ks_loader").show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("InsertOrUpdateBookIdentity", "BookMaster"))',
                data: BookIdentityModel,
                success: function (result) {
                    if (result.status == "success") {
                        if ($.trim($("#submitCopies").text()) != "Update") {
                            $("#ks_loader").hide();
                            $("#div_filterCopies").hide();
                            $("#div_addCopies").show();
                            clearUniqueId();
                            clearBarcode();
                        }
                        else {
                            $("#ks_loader").hide();
                            $("#div_filterCopies").hide();
                            $("#div_addCopies").hide();
                        }

                        //ClearCopies();
                        ToastMessage(result.data, "success", true, 5000);
                        $("#bookCopy-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId, "BookEditionId": $('#BookEditionId').val("") });
                    }
                    else {
                        $("#ks_loader").hide();
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++)
                            ToastMessage(validationaray[i], "error", true, 5000);
                    }

                },
                error: function (xhr, status, data) {
                    $("#ks_loader").hide();
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
             $("#ks_loader").hide();
            var validationaray = BookIdentityvalidationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
            return false;
        }
    });


    $("#btnfilterCopies").click(function () {
        $('#BookIdentityId').val("");
        $('#BarCode').val("");
        $('#bookuniqueId').val("");
        $('#bookEditions').val("");
        $("#div_filterCopies").show();
        $("#div_addCopies").hide();
        $('#BookSellerId').val("");
        $("#booksCopy-grid").show();
        $("#submitCopies").hide();
        $("#cancelCopies").hide();
        $("#btnaddCopies").show();

        $("#bookCopy-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId, "BookEditionId": $('#BookEditionId').val("") });

        //refreshEditons();

        //hide delete icon front of controls
        HideCrossSignIdentity();
    })

    function refreshEditons(val) {
        $('#bookEditions').empty();
        $('#bookEditionsId').empty();
        $.ajax({
            type: 'GET',
            url: '@Html.Raw(Url.Action("RefreshEditionsList", "BookMaster"))',
            data: { "BookId": BookMainId },
            async: false,
            success: function (result) {
                var opthtml1 = '<option value="">--Select--</option>';
                $("#bookEditions").append(opthtml1);
                $('#bookEditionsId').append(opthtml1);
                $.each(result.BookEditions, function (i) {
                    var selected = false;
                    if (val != "" || val != "undefinded") {
                        if (val = result.BookEditions[i].Value) {
                            selected = true;
                        }
                    }
                    var opthtml = '<option value="' + result.BookEditions[i].Value +
                                     '" selected="' + selected + '">' + result.BookEditions[i].Text + '</option>';
                    $("#bookEditions").append(opthtml);
                    $('#bookEditionsId').append(opthtml);
                })

            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });

    }

    function clearBarcode() {
        $("#BarCodeAutoIncrement").val("");

        if (barcodeIncremented != "False") {
            $.ajax({
                type: 'GET',
                url: '@Html.Raw(Url.Action("getBarcodeAutoIncremented", "BookMaster"))',
                async: false,
                success: function (result) {
                    //if ($("#BarCode").val() != "") {
                    if (result.autoCode != "") {
                        $("#BarCodeAutoIncrement").val(result.autoCode);
                    }
                    //}
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
    }

    function clearUniqueId() {
        $("#UniqueId").val("");
        $.ajax({
            type: 'GET',
            url: '@Html.Raw(Url.Action("getUniqueId", "BookMaster"))',
            data: { "BookId": BookMainId },
            async: false,
            success: function (result) {
                if (result.uniqueId != "") {
                    $("#UniqueId").val(result.uniqueId);
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });
    }
    $("#btnaddCopies").click(function () {
        $('#BookIdentityId').val("");
        $("#EntryDate").val(kendo.toString(new Date(), "dd/MM/yyyy"));
        $('#BarCode').val("");
        $('#bookuniqueId').val("");
        $('#BookSellerId').val("");
        $("#submitCopies").html('');
        $("#submitCopies").html('<i class="fa fa-floppy-o"></i> Save');

        $("#div_addCopies").show();
        $("#div_filterCopies").hide();
        $("#booksCopy-grid").hide();
        $("#submitCopies").show();
        $("#cancelCopies").show();

        $("#btnaddCopies").show();
        $("#ExtraAttr_div").show();
        $("#btnfilterCopies").show();

        //hide/show barcode auto increament textbox behind barcode textbox
        if (barcodeIncremented == "False") {
            $("#BarCode").addClass("BarcodeStyle");
        }
        else {
            $("#BarCode").removeClass("BarcodeStyle");
            clearBarcode();
        }

        //hide delete icon front of controls
        HideCrossSignIdentity();
        clearUniqueId();

        //get last record in kendo grid
        var LastSavedIdentityId = "";
        if ($('#bookCopy-grid tr:last').find('td:nth(0)').html() != "") {
            LastSavedIdentityId = $('#bookCopy-grid tr:last').find('td:nth(0)').html();
        }

        $.ajax({
            type: 'GET',
            url: '@Html.Raw(Url.Action("GetLastSavedCopyData", "BookMaster"))',
            data: { "IdentityId": LastSavedIdentityId },
            success: function (result) {
                if (result.paramsList.length > 0) {

                    $("#MainAttrTable tbody tr").each(function () {
                        $(this).find("select").val("");
                    });

                    for (var i = 0; result.paramsList.length > i ; i++) {
                        $("#MainAttrTable tbody tr").each(function () {
                            if ($(this).find("td.MasterLocAttr").text() == result.paramsList[i].BookMasterAttributeName) {
                                $(this).find("td.MasterLocAttr").text(result.paramsList[i].BookMasterAttributeName);
                                $(this).find("select").val(result.paramsList[i].BookLocationDataId);
                            }
                        });
                    }
                }

                if (result.paramsList2.length > 0) {
                    // $("#EntryDate").val(result.paramsList2[0].EntryDate);
                    refreshEditons(result.paramsList2[0].BookEditionId);
                }

                //hide delete icon front of controls
                HideCrossSignIdentity();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });

        //editions are not avaiable in dropdown of copies tab
        if ($("#bookEditionsId option").length <= 1) {
            alert("Please add some Editions before adding Copies of this book.");
            $(".nav-tabs li").each(function () {
                if ($(this).find('a').attr('href') == "#tab2") {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active').show();
                    $(".tab-content").find('div#tab2').siblings().removeClass('in active');
                    $(".tab-content").find('div#tab2').addClass('in active');
                }
            });
        }
    });

    $("#btnbackCopies").click(function () {
        $("#div_addCopies").hide();
        $("#booksCopy-grid").show();
        $("#div_filterCopies").hide();
        $("#submitCopies").hide();
        $("#cancelCopies").hide();
        $("#btnaddCopies").show();
        $("#btnfilterCopies").show();

        $('#BookIdentityId').val("");
       
        $('#bookEditionsId').val('');
       
        $('#BarCode').val("");
        $('#BookSellerId').val("");
        $('#bookuniqueId').val("");
        $('#bookEditions').val("");
        $("#bookCopy-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId, "BookEditionId": $('#BookEditionId').val("") });
    });


    $("#filterCopies").click(function () {
        $("#bookCopy-grid").data('kendoGrid').dataSource.page(1);
             //$("#bookCopy-grid").data('kendoGrid').dataSource.read({
             //    "BookId": BookMainId,
             //    "UniqueId": $('#bookuniqueId').val()
             //});//reload kendo gird
         });


    $("#cancelCopies").click(function () {
        $('#BookEditionId').val("");
        $("#div_addCopies").hide();
        $("#MainAttrTable tbody tr").each(function () {
            $(this).find('select').val("");
             });
             ClearCopies();
        $("#bookCopy-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId, "BookEditionId": $('#BookEditionId').val("") });//reload kendo gird
         });

    $("#resetCopies").click(function () {
        $("#div_filterCopies").hide();
             ClearCopies();
        $("#bookCopy-grid").data('kendoGrid').dataSource.read();//reload kendo gird
         })

    $(".deleteLocAttrIco").click(function () {
        $(this).parents('tr').first().find('select').val("");
        $(this).hide();
             return false;
         });

         function ConfirmDialog(message) {
             //var message = "This is a Hello message";
             var div = $("#dialog");
             if (div.length == 0) {
                 div = $("<div id = 'dialog' style = 'display:none'/>");
            $("form").append(div);
             }
             div.html(message);

        $("#dialog").dialog({
             title: "Message from Website",
            buttons: {
                 Ok: function () {
                    $(this).hide();
                     }
                 }
             });
         return false;
     };

    $("#bookCopy-grid").on("click", ".deleteRecords", function (e) {
         e.preventDefault();
         var enceventid = $(this).attr("dataid");
         var command = $(this);
         var cell = command.closest("td");
         command.remove();
         cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
         cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" title="Cancel" dataid="' + enceventid + '" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').attr("dataid", enceventid);
     });

    //delete ajax method
    $("#bookCopy-grid").on("click", ".k-grid-myConfirm", function (e) {
         e.preventDefault();
        $('#ks_loader').show();
         var IdentityId = $(this).attr("dataid");
        $.ajax({
         type: "POST",
            url: '@Html.Raw(Url.Action("DeleteBookIdentity", "BookMaster"))',
            data: { "IdentityId": IdentityId },
            success: function (result) {
                 if (result.status == "success") {
                    // check for updated entry
                    $('#bookCopy-grid tbody tr').each(function () {
                         var tablerow = $(this);
                         var BookIdentity = tablerow.find("td:nth-child(1)").text();
                         if (IdentityId == BookIdentity)
                             tablerow.remove();
                     });
                     ClearCopies();
                    $("#cancelCopies").click();
                     ToastMessage(result.data, "success", true, 5000);
                    $("#bookCopy-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId, "BookEditionId": $('#BookEditionId').val("") });//reload kendo gird
                 }
                 else {
                     ToastMessage(result.msg, "error", true, 5000);
                 }
                $('#ks_loader').hide();
             },
            error: function (xhr, status, data) {
                 var err = "Error " + " " + data;
                 ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
             }
         });
     })

    $("#bookCopy-grid").on("click", ".k-grid-myCancel", function (e) {
         e.preventDefault();
         var enceventid = $(this).attr("dataid");
         var command = $(this);
         var cell = command.closest("td");
         command.remove();
        $('.k-grid-myConfirm').remove();
         cell.append('<a class="deleteRecords btn btn-xs btn-default" dataid="' + enceventid + '" href="javascript:void(0)" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
        $('.deleteRecords').attr("dataid", enceventid);
     })
    $("#btnCanceladdSeller").click(function () {
        $("#addNewSeller").val("");
        $("#sellerModal").hide();
     })
    $(".addSellerIco").click(function () {
        $("#sellerModal").show();
     })
    $("#saveAddNewSeller").click(function () {
         debugger;
         var message="";
         var NewSeller = $("#addNewSeller").val();
         if (NewSeller != null && NewSeller != "") {
            $.ajax({
             type: "Post",
                url: '@Html.Raw(Url.Action("AddBookSeller", "BookMaster"))',
                data: { "NewSeller": NewSeller },
                success: function (result) {
                     if (result.success) {
                         if (result.dropdowndata.length > 0) {
                            $(".bookSeller").text("");
                             for (var i = 0; i < result.dropdowndata.length; i++) {
                                 var option = "";
                                 option = "<option value='" + result.dropdowndata[i].Value + "'>" + result.dropdowndata[i].Text + "</option>";
                                $("#BookSellerId").append(option);
                             }
                            $("#addNewSeller").val("");
                            $("#sellerModal").hide();
                         }
                     } else {
                         ToastMessage("error", result.message, true, 5000);
                        $('#ks_loader').hide();
                     }
                 },
                error: function () {
                     ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                 }
             });
         }

    })

    // $("#LUIId").keypress(function (evt) {
    //    var charCode = (evt.which) ? evt.which : event.keyCode
    //    if (charCode > 31 && (charCode < 48 || charCode > 57))
    //        return false;

    //    return true;
    //})
</script>
