﻿@model ViewModel.ViewModel.Library.BookAdditionalInfoViewModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<!-- Validations -->
<div id="validation_paraEdition" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1><b>@Model.BookTitle</b> Editions</h1>
    </div>
    <div class="col-md-6 text-right addnew_divEdition">
        <button type="button" id="btnfilterEdition" class="btn btn-xs btn-default"> Filters</button>
        @if (Model.IsAuthToGirdAdd)
        {
            <button type="button" id="btnaddEdition" class="btn btn-xs btn-default">Add New</button>
        }
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookEditionId)

    <!-- Page Filters -->
    <div class="form-inline ks-custom-form">
        <div class="row top-space-10" style="display: none" id="div_filterEdition">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Edition</label><br />
                    @Html.TextBox("bookEdition", Model.Edition, new { @class = "form-control", @placeholder = "Edition" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Volume</label>
                    <br />
                    @Html.TextBox("bookVolume", Model.Volume, new { @class = "form-control", @placeholder = "Volume" })
                </div>

                @*<div class="col-md-3">
                        <label class="control-label">Seller</label><!-- Form Label -->
                        <br />
                        @Html.DropDownList("bookSeller", Model.AviableBookSellers, new { @class = "form-control", @width = "150px" })
                    </div>*@
                <div class="col-md-3">
                    <label class="control-label">No Of Pages</label><!-- Form Label -->
                    <br />
                    @Html.TextBox("bookNoOfPages", Model.NoOfPages, new { @class = "form-control", @placeholder = "No Of Pages" })
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="col-md-3 ">
                    <button type="button" id="filterEdition" class="btn btn-default">Filter</button>
                    <button type="button" id="resetEdition" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10" style="display: none" id="div_addEdition">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Edition<i class="fa fa-asterisk ks-required"></i></label><br />
                    @Html.TextBoxFor(model => model.Edition, new
                       {
                           @class = "form-control",
                           @autofocus = "on",
                           @maxlength = "10",
                           @placeholder = "Edition"
                       })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.Volume)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="col-md-3">
                    <label class="control-label">Volume</label><br />
                    @Html.TextBoxFor(model => model.Volume, new
                       {
                           @class = "form-control",
                           @maxlength = "10",
                           @placeholder = "Volume"
                       })
                </div>
                <div class="col-md-3">
                    <label class="control-label">No Of Pages</label><!-- Form Label -->
                    <br />
                    @Html.TextBoxFor(model => model.NoOfPages, new { @placeholder = "Number Of Pages" })
                </div>
                @*<div class="col-md-3">
                    <label class="control-label">Seller</label><!-- Form Label -->
                    <br />
                    @Html.DropDownListFor(m => m.BookSellerId, Model.AviableBookSellers,
                              new { @class = "form-control", @width = "150px" })
                    </div>*@

                <div class="col-md-3">
                    <label class="control-label">Publishing Date</label>
                    <br />
                    @Html.TextBoxFor(model => model.PublishingDate, new { @placeholder = "__/__/____" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">List Price</label><br />
                    @Html.TextBoxFor(model => model.ListPrice, new
                       {
                           @class = "form-control",
                           @placeholder = "List Price"
                       })
                    <br />
                    <span style="font-size: 10px;color: #AA1D23;">Numeric only.</span>
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="col-md-3 top-space-20">
                    <button type="button" id="submitEdition" class="btn btn-success"></button>
                    <button type="button" id="cancelEdition" class="btn btn-danger">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
        <!-- // Page Filters -->
        <!--Book Attribute Kendo Gird -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="bookEdition-grid">
                    <script>
                        $(document).ready(function () {
                            $("#bookEdition-grid").kendoGrid({
                                 @if (string.IsNullOrEmpty(Model.BookId)) {
                                     <text>
                                autoBind: false,
                                </text>
                                     }
                                 dataSource: {
                                     type: "json",
                                    transport: {
                                         read: {
                                             url: "@Html.Raw(Url.Action("GetBookEditions", "BookMaster"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalEditionData
                                            },
                                        parameterMap: function (data) {
                                                 return JSON.stringify(data);
                                             }
                                         },
                                    schema: {
                                         data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                             display_kendoui_grid_error(e);
                                             // Cancel the changes
                                             this.cancelChanges();
                                         },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: false,
                                    serverSorting: true
                                 },
                                dataBound: onDataBound,
                                pageable: {
                                     refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,
                                columns: [{
                                     field: "BookEditionId",
                                    hidden: true
                                }, {
                                     field: "BookId",
                                    hidden: true
                                }, {
                                     field: "BookSellerId",
                                    hidden: true
                                }, {
                                     field: "BookTitle",
                                    hidden: true
                                }, {
                                     field: "Edition",
                                    title: "Edition",
                                    sortable: true
                                }, {
                                     field: "Volume",
                                    title: "Volume",
                                    sortable: true
                                }, {
                                     field: "PublishingDate",
                                    title: "Publishing Date",
                                    sortable: true
                                }, {
                                     field: "ListPrice",
                                    title: "List Price",
                                    sortable: true
                                }, {
                                     field: "BookSellerName",
                                    hidden: true
                                },
                                {
                                     field: "NoOfPages",
                                    title: "NoOfPages",
                                    sortable: true
                                },
                                @if (Model.IsAuthToGridDelete || Model.IsAuthToGridEdit)
                                {
                                    <text>
                                        {
                                         field: "BookEditionId",
                                            title: "Action",
                                            sortable: false,
                                            width: 120,
                                            template:
                                             @if (Model.IsAuthToGridEdit)
                                                {
                                                <text>'#{#<a href="javascript:void(0)" title="Edit"'
                                                + ' data-toggle="tooltip" data-placement="top"'
                                                + ' class="updateEditionRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                                 </text>
                                                }
                                             @if (Model.IsAuthToGridDelete)
                                                {
                                                    <text>
                                                    + ' #if(!IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top" class="deleteEditionRecords  btn btn-xs btn-default"  cursor:pointer" dataid="#=BookEditionId#"'
                                                    + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                            </text>
                                                }
                                         },
                                     </text>
                                }]
                            });
                            var grid = $("#bookEdition-grid").data("kendoGrid");
            //                  $(".nav-tabs li").each(function () {
            //    if ($(this).find('a').attr('href') == "#tab3" && $(this).hasClass('active')) {
            //        if ($("#bookEdition-grid").data("kendoGrid").dataSource.data().length == 0)
            //                    $('#btnaddEdition').trigger('click');
            //    }

            //});

                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }



                        addAntiForgeryEditionToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
        </div>
        <!-- //Book Attribute Kendo Gird -->
    </div>
    if (TempData["successMsg"] != null && TempData["successMsg"] != "")
    {
        <script>
            $(document).ready(function () {
                var BookMainId = "";
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
                for (var i = 0; i < url.length; i++) {
                    BookMainId = url[1];
                }
                $("#BookId").val(BookMainId);
                if (BookMainId != "") {

                    $(".nav-tabs li").each(function () {
                        if ($(this).find('a').attr('href') == "#tab2") {
                            $(this).siblings().removeClass('active');
                            $(this).addClass('active').show();
                            $(".tab-content").find('div#tab2').siblings().removeClass('in active');
                            $(".tab-content").find('div#tab2').addClass('in active');
                            //if ($("#bookEdition-grid").data("kendoGrid").dataSource.data().length == 0)
                            //    $('#btnaddEdition').trigger('click');
                        }
                    });

                    $(".backtolist_div").show();
                }

            })
        </script>
    }
    if (TempData["BookStatusAddUpd"] != null && TempData["BookStatusAddUpd"] != "")
    {
        if (Model.BookCopiesCount == null || @Model.BookCopiesCount == 0)
        {
            <script>
              
                    $(".editionTab").click(function () {
                        $('#btnaddEdition').trigger('click');
                    })
              
            </script>
        }
    }
    <script type="text/javascript">
        var BookMainId = "";
        var BookEditionId = "";
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
        for (var i = 0; i < url.length; i++) {
            BookMainId = url[1];
        }

        // max date
        var maxdate = GetDateFromString(kendo.toString(new Date(), "dd/MM/yyyy"));

        // function get date as string and return date
        function GetDateFromString(date) {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }

        $('#BookId').val(BookMainId);
        $("#PublishingDate").kendoDatePicker({
            value: new Date,
            format: "dd/MM/yyyy",
            max: maxdate
        });
        $("#PublishingDate").attr("readonly", true);

        $(document).ready(function () {
            //clear error messages
            $('.error-message').each(function () {
                var current = $(this);
                if (current.children('span').text() != "")
                    current.show();
                else
                    current.hide();
            });
        });

        //gird methods
        $(document).on("click", ".updateEditionRecords", function () {
            $("#div_filterEdition").hide();
            $("#div_addEdition").show();

            $("#submitEdition").html('');
            $("#submitEdition").html('<i class="fa fa-floppy-o"></i> Update');

            var row = $(this).parent().parent();
            $('#BookId').val(row.find("td:nth-child(2)").text());
            $('#NoOfPages').val(row.find("td:nth-child(10)").text());
            $('#Edition').val(row.find("td:nth-child(5)").text());
            $('#Volume').val(row.find("td:nth-child(6)").text());
            $('#PublishingDate').val(row.find("td:nth-child(7)").text());
            $('#ListPrice').val(row.find("td:nth-child(8)").text());

            BookEditionId = row.find("td:nth-child(1)").text()

            //$("#bookEdition-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId });//reload kendo gird
        });

        //validations
        var BookEditionValid = true;
        var BookEditionvalidationmessage = "";
        var BookEditionctrlfocus = "";
        function ValidateBookEdition() {
            BookEditionValid = true;
            BookEditionvalidationmessage = "";
            BookEditionctrlfocus = "";

            if ($('#Edition').val() == "") {
                if (BookEditionctrlfocus == "")
                    BookEditionctrlfocus = "#Edition";
                BookEditionvalidationmessage = BookEditionvalidationmessage + "Please provide Edition ε";
                BookEditionValid = false;
            }
            if ($('#ListPrice').val() != "") {
                var valid = ValidNumericValueWithTwoDecimalPoint($('#ListPrice').val());
                if (!valid) {
                    if (BookEditionctrlfocus == "")
                        BookEditionctrlfocus = "#ListPrice";
                    BookEditionvalidationmessage = BookEditionvalidationmessage + "Please enter vaild List Price ε";
                    BookEditionValid = false;
                }
            }

            var aa = BookEditionvalidationmessage;
            return BookEditionValid;
        }


        function ValidNumericValueWithTwoDecimalPoint(textboxVal) {
            var pattern = /^[0-9]+(\.[0-9]{1,2})?$/;
            return pattern.test(textboxVal);

        }

        //clear fields
        function ClearEdition() {
            $('#Edition').val("");
            $('#Volume').val("");
            $('#PublishingDate').val("");
            $("#ListPrice").val("");
            $('#NoOfPages').val("");
            $('#bookSeller').val("");
            $('#bookEdition').val("");
            $('#bookVolume').val("");
        }

        $('#submitEdition').click(function () {
            $("#validation_paraEdition ul").html('');

            // create model
            var BooEditionModel = new Object();
            BooEditionModel.BookEditionId = BookEditionId;
            BooEditionModel.BookId = BookMainId;
            BooEditionModel.Edition = $('#Edition').val();
            BooEditionModel.Volume = $('#Volume').val();
            BooEditionModel.PublishingDate = $('#PublishingDate').val();
            BooEditionModel.ListPrice = $("#ListPrice").val();
            BooEditionModel.NoOfPages = $('#NoOfPages').val();

            var valid = ValidateBookEdition();
            if (valid) {
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertOrUpdateBookEdition", "BookMaster"))',
                    data: BooEditionModel,
                    success: function (result) {
                        if (result.status == "success") {
                            $("#div_filterEdition").hide();
                            $("#div_addEdition").hide();
                            ClearEdition();
                            ToastMessage(result.data, "success", true, 5000);
                            $("#bookEdition-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId });//reload kendo gird
                        }
                        else {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }

                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                var validationaray = BookEditionvalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                return false;
            }

            $("#bookEdition-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId });//reload kendo gird

        });

        $("#btnfilterEdition").click(function () {
            $('#BookEditionId').val("");
            $('#Edition').val("");
            $('#Volume').val("");
            $("#ListPrice").val("");
            $('#NoOfPages').val("");
            $('#bookSeller').val("");
            $('#bookEdition').val("");
            $('#bookVolume').val("");
            $("#div_filterEdition").show();
            $("#div_addEdition").hide();
        })

        $("#btnaddEdition").click(function () {
            $('#BookEditionId').val("");
            $('#Edition').val("");
            $('#Volume').val("");
            $("#ListPrice").val("");
            $('#NoOfPages').val("");
            $('#bookSeller').val("");
            $('#bookEdition').val("");
            $('#bookVolume').val("");
            $('#PublishingDate').val("");
            $("#div_addEdition").show();
            $("#div_filterEdition").hide();

            $("#submitEdition").html('');
            $("#submitEdition").html('<i class="fa fa-floppy-o"></i> Save');
        })


        $("#filterEdition").click(function () {
            $("#bookEdition-grid").data('kendoGrid').dataSource.page(1);
            //$("#bookEdition-grid").data('kendoGrid').dataSource.read({
            //    "BookId": BookMainId,
            //    "Volume": $('#bookVolume').val(),
            //    "Edition": $('#bookEdition').val(),
            //    "BookSellerId": $('#bookSeller').val()
            //});//reload kendo gird
        });
        function additionalEditionData() {
            var data = {
                BookId: '@Model.BookId',
                NoOfPages: $('#NoOfPages').val(),
                Edition: $.trim($('#bookEdition').val()),
                Volume: $.trim($('#bookVolume').val()),
                NoOfPages: $.trim($('#bookNoOfPages').val())
            };
            addAntiForgeryEditionToken(data);
            return data;
        }


        $("#cancelEdition").click(function () {
            $("#div_addEdition").hide();
            $("#bookEdition-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId });
            ClearEdition();

        });

        $("#resetEdition").click(function () {
            $("#div_filterEdition").hide();
            ClearEdition();
            $("#bookEdition-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId });
        })


        $("#bookEdition-grid").on("click", ".deleteEditionRecords", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });

        //delete ajax method
        $("#bookEdition-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var EditionId = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteBookEdition", "BookMaster"))',
                data: { "EditionId": EditionId },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#bookEdition-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var BookEdition = tablerow.find("td:nth-child(1)").text();
                            if (EditionId == BookEdition)
                                tablerow.remove();
                        });
                        ClearEdition();
                        ToastMessage(result.data, "success", true, 5000);
                        $("#bookEdition-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId });
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })

        $("#bookEdition-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteEditionRecords btn btn-xs btn-default" dataid="' + enceventid + '" href="javascript:void(0)" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteEditionRecords').attr("dataid", enceventid);
        })
        $("#NoOfPages").keypress(function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        })
    </script>
}
