﻿@model ViewModel.ViewModel.Library.BookAdditionalInfoViewModel
<div class="col-md-12">
    @*@Html.Label("Edition-Vol:", new { @class = "control-label" })*@
    <h3><b>Editions:</b></h3>
    <div id="EditionVol-Div" class="well">
    </div>
    <hr />
    <h3><b>Copies:</b></h3>
    <div id="Copies-Div" class="well">
    </div>
    <div class="col-md-6">
        <div id="MasterDetail-Div">
        </div>
        @*<div id="AttrVal-Div">
            </div>*@
    </div>
</div>
