﻿@model ViewModel.ViewModel.Library.BookAttributeViewModel
@{
    ViewBag.Title = "Manage Book Attribute";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Book Attribute</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        <button type="button" id="btnfilter" class="btn btn-xs btn-default"> Filters</button>
        @if (Model.IsAuthToGirdAdd)
        {
            <button type="button" id="btnadd" class="btn btn-xs btn-default">Add New</button>
        }
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookAttributeId)

    <!-- Page Filters -->
    <div class="form-inline ks-custom-form">
        <div class="row top-space-10" style="display: none" id="div_filter">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Attribute Name</label>
                    @Html.TextBox("AttributeName", Model.Attribute, new { @class = "form-control", @placeholder = "Attribute Name" })
                </div>
                <div class="form-group">
                    <label class="control-label">Maximum Length</label>
                    @Html.TextBox("AttributeMaxLen", Model.AttrMaxLength, new { @class = "form-control", @placeholder = "Maximum Length" })
                </div>

                <div class="form-group">
                    <label class="control-label">Status</label><!-- Form Label -->
                    @Html.DropDownList("StatusBookAttr", Model.AvailableStatus, new { @class = "form-control", @width = "150px" })
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filter" class="btn btn-default">Filter</button>
                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10" style="display: none" id="div_add">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Attribute Name<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.TextBoxFor(model => model.Attribute, new
                       {
                           @class = "form-control",
                           @autofocus = "on",
                           @maxlength = "50",
                           @placeholder = "Attribute Name"
                       })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.Attribute)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="col-md-3">
                    <label class="control-label">Maximum Length<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.TextBoxFor(model => model.AttrMaxLength, new { @class = "form-control", @placeholder = "Maximum Length" })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.AttrMaxLength)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="form-group col-md-1" style="display:none;" id="IsActiveStatus">
                    <label class="control-label">Status</label><!-- Form Label -->
                    <br />
                    @Html.CheckBoxFor(model => model.IsActive)
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group" style="margin-top: 16px;">
                    <button type="button" id="submit" class="btn btn-success"></button>
                    <button type="button" id="cancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>


        </div>
        <!-- // Page Filters -->
        <!--Book Attribute Kendo Gird -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="bookAttr-grid">
                    <script>
                        $(document).ready(function () {
                            $("#bookAttr-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetBookAttributes", "BookMaster"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,

                                columns: [{
                                    field: "BookAttributeId",
                                    hidden: true
                                }, {
                                    field: "Attribute",
                                    title: "Attribute Name",
                                    sortable: true
                                }, {
                                    field: "IsActive",
                                    hidden: true
                                }, {
                                    field: "AttrMaxLength",
                                    title: "Max. Length",
                                    sortable: true
                                }, {
                                    field: "Status",
                                    title: "Status",
                                    sortable: true
                                },
                                @if (Model.IsAuthToGridDelete || Model.IsAuthToGridEdit)
                                {
                                    <text>
                                        {
                                            field: "BookAttributeId",
                                            title: "Action",
                                            sortable: false,
                                            width: 120,
                                            template:
                                            @if (Model.IsAuthToGridEdit)
                                                {
                                                        <text>'#{#<a href="javascript:void(0)" title="Edit"'
                                                        + ' data-toggle="tooltip" data-placement="top"'
                                                        + ' class="updateRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                                            </text>
                                               }
                                            @if (Model.IsAuthToGridDelete)
                                                {
                                                    <text>
                                                    + ' #if(!IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top" class="deleteRecords  btn btn-xs btn-default"  cursor:pointer" dataid="#=BookAttributeId#"'
                                                    + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                            </text>
                                                 }
                                        },
                                     </text>
                                }]
                            });
                            var grid = $("#bookAttr-grid").data("kendoGrid");
                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }



                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
        </div>
        <!-- //Book Attribute Kendo Gird -->
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            //clear error messages
            $('.error-message').each(function () {
                var current = $(this);
                if (current.children('span').text() != "")
                    current.show();
                else
                    current.hide();
            });


        });

        //gird methods
        $(document).on("click", ".updateRecords", function () {
            $('#ks_loader').show();
            $("#div_filter").hide();
            $("#div_add").show();
            $("#IsActiveStatus").show();

            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Update');

            var row = $(this).parent().parent();
            $('#BookAttributeId').val(row.find("td:nth-child(1)").text());
            $('#Attribute').val(row.find("td:nth-child(2)").text());
            $('#AttrMaxLength').val(row.find("td:nth-child(4)").text());
            $('#Status').val(row.find("td:nth-child(5)").text());

            $('#IsActive').prop('checked', false);
            if (row.find("td:nth-child(3)").text() == "true")
                $('#IsActive').prop('checked', true);

            $("#bookAttr-grid").data('kendoGrid').dataSource.read();//reload kendo gird

            $('#ks_loader').hide();
        });


        $('#Attribute, #AttributeName').keydown(function (e) {
            AlphabeticValuesOnly(e);
        });

        // events bind here for dynamic html
        $('#AttrMaxLength,#AttributeMaxLen').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        //validations
        var BookAttrValid = true;
        var BookAttrvalidationmessage = "";
        var BookAttrctrlfocus = "";
        function ValidateBookAttr() {
            BookAttrValid = true;
            BookAttrvalidationmessage = "";
            BookAttrctrlfocus = "";

            if ($('#Attribute').val() == "") {
                if (BookAttrctrlfocus == "")
                    BookAttrctrlfocus = "#Attribute";
                BookAttrvalidationmessage = BookAttrvalidationmessage + "Please provide Attribute Name ε";
                BookAttrValid = false;
            }
            if ($('#AttrMaxLength').val() == "") {
                if (BookAttrctrlfocus == "")
                    BookAttrctrlfocus = "#AttrMaxLength";
                BookAttrvalidationmessage = BookAttrvalidationmessage + "Please provide Attribute MaxLength ε";
                BookAttrValid = false;
            }
            else if ($('#AttrMaxLength').val() == 0) {
                if (BookAttrctrlfocus == "")
                    BookAttrctrlfocus = "#AttrMaxLength";
                BookAttrvalidationmessage = BookAttrvalidationmessage + "Attribute MaxLength should be more than zero ε";
                BookAttrValid = false;
            }
            else if ($('#AttrMaxLength').val() > 150) {
                if (BookAttrctrlfocus == "")
                    BookAttrctrlfocus = "#AttrMaxLength";
                BookAttrvalidationmessage = BookAttrvalidationmessage + "Attribute MaxLength should not be more than 150 ε";
                BookAttrValid = false;
            }
            var aa = BookAttrvalidationmessage;
            return BookAttrValid;
        }


        $('#submit').click(function () {
            $("#validation_para ul").html('');

            // create model
            var BookAttrModel = new Object();
            BookAttrModel.BookAttributeId = $('#BookAttributeId').val();
            BookAttrModel.Attribute = $("#Attribute").val();
            BookAttrModel.AttrMaxLength = $('#AttrMaxLength').val();
            BookAttrModel.IsActive = $('#IsActive').prop("checked");
            var valid = ValidateBookAttr();
            if (valid) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UpdateBookAttribute", "BookMaster"))',
                    data: BookAttrModel,
                    success: function (result) {
                        if (result.status == "success") {
                            $("#bookAttr-grid").data('kendoGrid').dataSource.read();//reload kendo gird
                            $("#div_filter").hide();
                            $("#div_add").hide();
                            $('#ks_loader').hide();
                            ToastMessage(result.data, "success", true, 5000);
                            Clear();
                        }
                        else {
                            $('#ks_loader').hide();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }

                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);

                    }
                });
            }
            else {
                var validationaray = BookAttrvalidationmessage.split('ε');
                $('#ks_loader').hide();
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                return false;
            }

        });

        //clear fields
        function Clear() {
            $("#BookAttributeId").val("");
            $("#Attribute").val("");
            $("#AttrMaxLength").val("");
            $('#AttributeName').val("");
            $("#AttributeMaxLen").val("");
            $("#StatusBookAttr").val("");
            $("#bookAttr-grid").data('kendoGrid').dataSource.read();//reload kendo gird
        }


        $("#btnfilter").click(function () {
            $("#div_filter").show();
            $("#div_add").hide();
            $("#IsActiveStatus").hide();
            $("#bookAttr-grid").data('kendoGrid').dataSource.read();//reload kendo gird
        })

        $("#btnadd").click(function () {
            $('#IsActive').prop('checked', true);

            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Save');

            $("#div_add").show();
            $("#div_filter").hide();
            $("#IsActiveStatus").hide();
            $("#bookAttr-grid").data('kendoGrid').dataSource.read();//reload kendo gird
        })


        $("#filter").click(function () {
            var grid = $("#bookAttr-grid").data("kendoGrid");
            grid.dataSource.page(1);
        });

        function additionalData() {
            var data = {
                Attribute: $.trim($('#AttributeName').val()),
                AttrMaxLength: $.trim($("#AttributeMaxLen").val()),
                Status: $("#StatusBookAttr").val()
            };
            addAntiForgeryToken(data);
            return data;
        }

        $("#cancel").click(function () {
            $('#ks_loader').show();
            $("#div_add").hide();
            $("#IsActiveStatus").hide();
            $("#bookAttr-grid").data("kendoGrid").dataSource.page(1);
            Clear();
            $('#ks_loader').hide();
        });

        $("#reset").click(function () {
            $('#ks_loader').show();
            $("#div_filter").hide();
            Clear();
            $('#ks_loader').hide();
        })

        $("#bookAttr-grid").on("click", ".deleteRecords", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" title="Cancel" dataid="' + enceventid + '" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });

        //delete ajax method
        $("#bookAttr-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var attributeId = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteBookAttribute", "BookMaster"))',
                data: { "AttributeId": attributeId },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#bookAttr-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var BookAttr = tablerow.find("td:nth-child(1)").text();
                            if (attributeId == BookAttr)
                                tablerow.remove();
                        });
                        ToastMessage(result.data, "success", true, 5000);
                        $("#bookAttr-grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })

        $("#bookAttr-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" dataid="' + enceventid + '" href="javascript:void(0)" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        })
    </script>
}
