﻿@model ViewModel.ViewModel.Library.BookLocationDataViewModel
@{
    ViewBag.Title = "Manage Book Location Data";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Book Location Data</h1>
    </div>
    <div class="col-md-6 text-right addnew_div">
        <button type="button" id="btnfilter" class="btn btn-xs btn-default"> Filters</button>
        @if (Model.IsAuthToGirdAdd)
        {
            <button type="button" id="btnadd" class="btn btn-xs btn-default">Add New</button>
        }
    </div>
</div>
<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookLocationDataId)


    <!-- Page Filters -->
    <div class="form-inline ks-custom-form">
        <div class="row top-space-10" style="display: none" id="div_filter">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Location Attribute</label>
                    @Html.DropDownList("BookLocAttributes", Model.BookLocationAttributes, new
                       {
                           @style = "width: 186px;",
                           @class = "form-control",
                           @autofocus = "on"
                       })
                </div>
                <div class="form-group">
                    <label class="control-label">Attribute Value</label>
                    @Html.TextBox("BookAttriValue", Model.AttributeValue, new { @class = "form-control", @placeholder = "Attribute Value" })
                </div>

                <div class="form-group">
                    <label class="control-label">Status</label><!-- Form Label -->
                    @Html.DropDownList("StatusBookData", Model.AvailableStatus, new { @class = "form-control", @width = "150px" })
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filter" class="btn btn-default">Filter</button>
                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10" style="display: none" id="div_add">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label>Location Attribute<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.DropDownListFor(m => m.BookLocationAttributeId, Model.BookLocationAttributes, new
                       {
                           @style = "width: 186px;",
                           @class = "form-control",
                           @autofocus = "on"
                       })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.BookLocationAttributeId)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="col-md-3">
                    <label>Attribute Value<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.TextBoxFor(model => model.AttributeValue, new
                       {
                           @class = "form-control",
                           @maxlength = "150",
                           @placeholder = "Attribute Value"
                       })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.AttributeValue)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="form-group col-md-1" style="display:none;" id="IsActiveStatus">
                    <label class="control-label">Status</label><!-- Form Label -->
                    <br />
                    @Html.CheckBoxFor(model => model.IsActive)
                </div>

                &nbsp; &nbsp; &nbsp;
                <div class="form-group" style="margin-top: 16px;">
                    <button type="button" id="submit" class="btn btn-success"></button>
                    <button type="button" id="cancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>
        </div>
        <!-- // Page Filters -->
        <!--Book Attribute Kendo Gird -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="BookLocData-grid">
                    <script>
                        $(document).ready(function () {
                            $("#BookLocData-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetBookLocationData", "BookMaster"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,

                                columns: [{
                                    field: "BookLocationDataId",
                                    hidden: true
                                }, {
                                    field: "BookLocationAttributeId",
                                    hidden: true
                                }, {
                                    field: "BookMasterAttributeName",
                                    title: "Location Attribute",
                                    sortable: true
                                }, {
                                    field: "AttributeValue",
                                    title: "Attribute Value",
                                    sortable: true
                                }, {
                                    field: "IsActive",
                                    hidden: true
                                }, {
                                    field: "Status",
                                    title: "Status",
                                    sortable: true
                                },
                                @if (Model.IsAuthToGridDelete || Model.IsAuthToGridEdit)
                                {
                                    <text>
                                        {
                                            field: "BookLocationDataId",
                                            title: "Action",
                                            sortable: false,
                                            width: 120,
                                            template:
                                            @if (Model.IsAuthToGridEdit)
                                                {
                                                        <text>'#{#<a href="javascript:void(0)" title="Edit"'
                                                        + ' data-toggle="tooltip" data-placement="top"'
                                                        + ' class="updateRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                                                   </text>
                                                 }
                                            @if (Model.IsAuthToGridDelete)
                                            {
                                                <text>
                                                    + ' #if(!IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top" class="deleteRecords  btn btn-xs btn-default"  cursor:pointer" dataid="#=BookLocationDataId#"'
                                                    + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                            </text>
                                          }
                                        },
                                     </text>
                                }]
                            });
                            var grid = $("#BookLocData-grid").data("kendoGrid");
                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }

                        function additionalData() {
                            var data = {
                                AttributeValue: $('#BookAttriValue').val(),
                                BookLocationAttributeId: $("#BookLocAttributes").val(),
                                Status: $("#StatusBookData").val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };
                    </script>
                </div>
            </div>
        </div>
        <!-- //Book Attribute Kendo Gird -->
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            //clear error messages
            $('.error-message').each(function () {
                var current = $(this);
                if (current.children('span').text() != "")
                    current.show();
                else
                    current.hide();
            });


        });

        //gird methods
        $(document).on("click", ".updateRecords", function () {
            $('#ks_loader').show();
            $("#div_filter").hide();
            $("#div_add").show();
            $("#IsActiveStatus").show();

            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Update');

            var row = $(this).parent().parent();
            $('#BookLocationDataId').val(row.find("td:nth-child(1)").text());
            $('#BookLocationAttributeId').val(row.find("td:nth-child(2)").text());
            $('#AttributeValue').val(row.find("td:nth-child(4)").text());

            $('#IsActive').prop('checked', false);
            if (row.find("td:nth-child(5)").text() == "true")
                $('#IsActive').prop('checked', true);

            $("#BookLocData-grid").data('kendoGrid').dataSource.read();//reload kendo gird

            $('#ks_loader').hide();
        });

        //validations
        var BookDataValid = true;
        var BookDatavalidationmessage = "";
        var BookDatactrlfocus = "";
        function ValidateBookData() {
            BookDataValid = true;
            BookDatavalidationmessage = "";
            BookDatactrlfocus = "";

            if ($('#BookLocationAttributeId').val() == "") {
                if (BookDatactrlfocus == "")
                    BookDatactrlfocus = "#BookLocationAttributeId";
                BookDatavalidationmessage = BookDatavalidationmessage + "Please provide Attribute ε";
                BookDataValid = false;
            }
            if ($('#AttributeValue').val() == "") {
                if (BookDatactrlfocus == "")
                    BookDatactrlfocus = "#AttributeValue";
                BookDatavalidationmessage = BookDatavalidationmessage + "Please provide Attribute Value ε";
                BookDataValid = false;
            }
            else if ($('#AttributeValue').val() != "") {
                var res = alphaNumericOnly($('#AttributeValue').val());
                if (!res) {
                    if (BookDatactrlfocus == "")
                        BookDatactrlfocus = "#AttributeValue";
                    BookDatavalidationmessage = BookDatavalidationmessage + "Please enter alpha numeric value for Attribute Value ε";
                    BookDataValid = false;
                }
            }
            var aa = BookDatavalidationmessage;
            return BookDataValid;
        }


        $('#submit').click(function () {
            $("#validation_para ul").html('');

            // create model
            var BookDataModel = new Object();
            BookDataModel.BookLocationDataId = $('#BookLocationDataId').val();
            BookDataModel.BookLocationAttributeId = $('#BookLocationAttributeId').val();
            BookDataModel.AttributeValue = $("#AttributeValue").val();
            BookDataModel.IsActive = $('#IsActive').prop("checked");
            var valid = ValidateBookData();
            if (valid) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UpdateBookLocationData", "BookMaster"))',
                    data: BookDataModel,
                    success: function (result) {
                        if (result.status == "success") {
                            $("#BookLocData-grid").data('kendoGrid').dataSource.read();//reload kendo gird
                            $("#div_filter").hide();
                            $("#div_add").hide();
                            $('#ks_loader').hide();
                            ToastMessage(result.data, "success", true, 5000);
                            Clear();
                        }
                        else {
                            $('#ks_loader').hide();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }

                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);

                    }
                });
            }
            else {
                var validationaray = BookDatavalidationmessage.split('ε');
                $('#ks_loader').hide();
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                return false;
            }

        });

        //clear fields
        function Clear() {
            $("#StatusBookData").val("");
            $("#BookLocationDataId").val("");
            $("#BookLocationAttributeId").val("");
            $("#BookLocAttributes").val("");
            $("#AttributeValue").val("");

            $('#BookAttriValue').val("");
            $("#BookLocAttributes").val("");
            $("#StatusBookData").val("");

            $("#BookLocData-grid").data('kendoGrid').dataSource.read();
        }


        $("#btnfilter").click(function () {
            $("#IsActiveStatus").hide();
            $("#div_filter").show();
            $("#div_add").hide();
            $("#BookLocData-grid").data('kendoGrid').dataSource.read();//reload kendo gird
        })

        $("#btnadd").click(function () {
            $("#IsActiveStatus").hide();
            $('#IsActive').prop('checked', true);
            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Save');
            $("#div_add").show();
            $("#div_filter").hide();
            $("#BookLocData-grid").data('kendoGrid').dataSource.read();//reload kendo gird
        })



        $("#filter").click(function () {
            var grid = $("#BookLocData-grid").data("kendoGrid");
            grid.dataSource.page(1);
        });

        $("#cancel").click(function () {
            $('#ks_loader').show();
            $("#div_add").hide();
            $("#IsActiveStatus").hide();
            Clear();
            $('#ks_loader').hide();
        });

        $("#reset").click(function () {
            $('#ks_loader').show();
            $("#div_filter").hide();
            $("#IsActiveStatus").hide();
            Clear();
            $('#ks_loader').hide();
        })
        $("#BookLocData-grid").on("click", ".deleteRecords", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });

        //delete ajax method
        $("#BookLocData-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var BookLocDataId = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteBookLocationData", "BookMaster"))',
                data: { "BookLocationDataId": BookLocDataId },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#BookLocData-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var BooklocData = tablerow.find("td:nth-child(1)").text();
                            if (BookLocDataId == BooklocData)
                                tablerow.remove();
                        });
                        ToastMessage(result.data, "success", true, 5000);
                        $("#BookLocData-grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })

        $("#BookLocData-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" dataid="' + enceventid + '" href="javascript:void(0)" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        })

    </script>
}

