﻿@model ViewModel.ViewModel.Student.StudentListModel
@{
    Layout = null;
}
<html>
<head>
    <title>Address</title>
    <style>
        @@page {
            size: portrait; /* auto is the initial value */
            margin: 0mm; /* this affects the margin in the printer settings */
        }

        html {
            background-color: #FFFFFF;
            margin: 0px; /* this affects the margin on the html before sending to printer */
        }

        body {
            border: 0;
            margin: 0mm; /* margin you want for the content */
            font-family: Calibri, Arial;
        }
    </style>

</head>
<body onload="window.print()">
    @{
        var reqdivcount = 0;
        if (Model.AddressList.Count <= 12)
        {
            reqdivcount = 1;
        }
        else
        {
            if (((Model.AddressList.Count / 2) % 6) == 0)
            {
                reqdivcount = (Model.AddressList.Count / 2) / 6;
            }
            else
            {
                reqdivcount = Convert.ToInt32(((Model.AddressList.Count / 2) / 6) + 1);
            }
        }
        var itemcount = 0;
        var loopcount = 0;
    }
    @for (int i = 0; i < reqdivcount; i++)
    {
        <div style="width:100%; float:left;page-break-after: always;  page-break-inside: avoid;">
            <table style="width:100%;" cellpadding="20" cellspacing="0" border="0">
                @for (int J = itemcount; J < Model.AddressList.Count; J = J + 2)
                {
                    var k = J + 1;
                    loopcount = ++loopcount;
                    <tr>
                        @if (Model.AddressList[J] != null)
                        {
                            <td valign="top" align="left" style="width:50%; border-bottom:1px dashed #ccc; border-right:1px dashed #ccc;">
                                To<br /><br />
                                @(!string.IsNullOrEmpty(Model.AddressList[J].StudentName) && !string.IsNullOrWhiteSpace(Model.AddressList[J].StudentName) ? Model.AddressList[J].StudentName + "," : "")<br />
                                @(!string.IsNullOrEmpty(Model.AddressList[J].Address) && !string.IsNullOrWhiteSpace(Model.AddressList[J].Address) ? Model.AddressList[J].Address + "," : "")<br />
                                @Model.AddressList[J].City
                            </td>
                        }
                        @if (k < Model.AddressList.Count)
                        {
                            <td valign="top" align="left" style=" border-bottom:1px dashed #ccc; ">
                                To<br /><br />
                                @(!string.IsNullOrEmpty(Model.AddressList[k].StudentName) && !string.IsNullOrWhiteSpace(Model.AddressList[k].StudentName) ? Model.AddressList[k].StudentName + "," : "")<br />
                                @(!string.IsNullOrEmpty(Model.AddressList[k].Address) && !string.IsNullOrWhiteSpace(Model.AddressList[k].Address) ? Model.AddressList[k].Address + "," : "")<br />
                                @Model.AddressList[k].City
                            </td>
                        }
                    </tr>
                        if (loopcount == 6)
                        {
                            itemcount = k + 1;
                            loopcount = 0;
                            break;
                        }
                }
            </table>
        </div>
    }
</body>
</html>
