﻿@model ViewModel.ViewModel.Student.StudentPendingDocumentReportModel
@{
    ViewBag.Title = "PendingDocumentReport";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>View Pending Document Report</h1>
    </div>
    <div class="col-md-6 text-right">
        <a title="Export to Excel Pending Document Report" id="btnPrintExcel" data-toggle="tooltip" data-placement="top" 
           class="btn btn-xs btn-default"><i class="fa fa-file-excel-o" style="color:red"></i></a>
        <a title="Print Pending Document Report" id="printPendingDocumentReport" data-toggle="tooltip" data-placement="top" 
           class="btn btn-xs btn-default"  target="_blank"><i class="fa fa-print" style="color:blue"></i></a>
    </div>
</div>
<script>
    
    $("#btnPrintExcel").click(function (e) {
        $('#ks_loader').show();
        var SessionId= $('#SessionId').val();
        var ClassId= $('#ClassId').val();
        var DocumentTypeId= $('#DocumentTypeId').val();
        $.ajax({
            type: "GET",
            async: true,
            url: '@Html.Raw(Url.Action("ExporttoExcelPendingDocumentReport", "StudentReports"))',
            data: {},
            success: function (result) {
                window.location = "../StudentReports/ExporttoExcelPendingDocumentReport?SessionId=" + SessionId + "&ClassId=" + ClassId + "&DocumentTypeId=" + DocumentTypeId;
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#ks_loader').hide();
    });

    $('#printPendingDocumentReport').click(function () {
        document.getElementById("myForm").submit();
        return false; // cancel the actual link
    })
</script>
<!-- //Page Heading -->
<!-- Page Filters -->
<div class="row top-space-10">
    <div class="col-md-12" style="padding:0">
        @* <form class="form-inline ks-custom-form" id="myForm" action="PrintFeeCollectionList" target="_blank">*@
        @using (Html.BeginForm("PrintPendingDocumentReport", "StudentReports", FormMethod.Post, new { @class = "form-inline ks-custom-form", @id = "myForm", @target = "_blank" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Session</label>
                @Html.DropDownListFor(m => m.SessionId, Model.AvailableSessions, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Class</label>
                @Html.DropDownListFor(m => m.ClassId, Model.AvailableClasses, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Document Type</label>
                @Html.DropDownListFor(m => m.DocumentTypeId, Model.AvailableMandatoryDocumentTypes, new { @class = "form-control" })
            </div>

            //&nbsp; &nbsp; &nbsp;
            <div class="form-group">
                <button type="button" id="search" class="btn btn-default">Filter</button>
                <button type="button" id="reset" class="btn btn-danger">Reset</button>
            </div>
        }
        @*</form>*@
    </div>
</div>

<!-- // Page Filters -->
<!-- Page Grid -->
<div class="row">
    <div class="col-md-12" style="padding: 0">
        <div id="PendingDocument-grid"></div>
        <script>
            $(document).ready(function () {
                $("#PendingDocument-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("PendingDocumentReportList", "StudentReports"))",
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                data: additionalData
                            },
                            parameterMap: function(data) {
                                return JSON.stringify(data);
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(Model.defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    dataBound: onDataBound,
                    pageable: {
                        refresh: true,
                        pageSizes: [@(Model.gridPageSizes)]
                    },
                    scrollable: false,
                    sortable: true,
                    columns: [{
                        field: "StudentName",
                        title: "Student",
                        sortable: true,
                    },
                    {
                        field: "Class",
                        title: "Class",
                        sortable: true,
                    },{
                        field: "AdmnNo",
                        title: "AdmnNo",
                        sortable: true,
                    },
                     {
                         field: "ParentName",
                         title: "ParentName/MobileNo",
                         sortable: true,
                     }, {
                         field: "PendingDocuments",
                         title: "Pending Doc",
                     }]
                });
            });
        </script>
    </div>
</div>
<!-- //Page Grid -->

<script>
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    $('#search').click(function () {
        //search
        var grid = $('#PendingDocument-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
        //grid.dataSource.read(); we already loaded the grid above using "page" function
        return false;
    });
    $('#reset').click(function () {
        $('#ClassId').val('');
        $('#DocumentTypeId').val('');
        //search
        var grid = $('#PendingDocument-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
        //grid.dataSource.read(); we already loaded the grid above using "page" function
        return false;
    });
    
    function additionalData() {
        var data = {
            SessionId: $('#SessionId').val(),
            ClassId: $('#ClassId').val(),
            DocumentTypeId: $('#DocumentTypeId').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };


</script>