﻿@model ViewModel.ViewModel.Student.PrintPendingDocumentReportModel
@{
    ViewBag.Title = "PrintPendingDocumentReport";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>PrintPendingDocumentReport</title>
    <style>
        th,
        td {
            padding: 5px;
            text-align:center
        }

        .border-style {
            border: 1px #ddd solid;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table style="width:100%;">
        <tr>
            <td>
                <h3> Pending Document Report</h3>
            </td>
        </tr>
        <tr>
            <td>
                <table style=" width: 100%; border: 1px #ddd solid; border-collapse: collapse;">
                    <tr>
                        <td class="border-style">
                            <b>Student</b>
                        </td>
                        <td class="border-style">
                            <b>Class</b>
                        </td>
                        <td class="border-style">
                            <b>Parent Name/ Mobile No.</b>
                        </td>
                        <td>
                            <b> Pending Doc</b>
                        </td>
                    </tr>
                   
                        @foreach (var item in Model.PendingDocumentReportList)
                        {
                            <tr>
                                <td class="border-style">
                                    @item.StudentName
                                </td>
                                <td class="border-style">
                                    @item.Class
                                </td>
                                <td class="border-style">
                                    @item.ParentName
                                </td>
                                <td class="border-style">
                                    @item.PendingDocuments
                                </td>
                            </tr>
                        }
                        
                    
                </table>
            </td>
        </tr>
    </table>
</body>


</html>