﻿@model ViewModel.ViewModel.App.AppFormModel

<!-- Form Row -->
@Html.Hidden("rowindex")
@Html.HiddenFor(model => model.AppFormId)
@Html.HiddenFor(model => model.AppFormActionId)
@Html.Hidden("FormActionTypeId")

<div class="row top-space-10">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <!-- Form Field -->
            <label class="col-md-4 control-label">App Form<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.AppForm, new { @class = "form-control", @placeholder = "Form Name", @autocomplete = "off", @autofocus = "on", @maxlength = "30" })
            </div>
            <!-- Form Field -->
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.AppForm)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Module <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Module, Model.AvailableModule, new { @class = "form-control" })
            </div>
            <!-- Form Field -->
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.Module)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Display Order <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.AppFormDisplayOrder, new { @class = "form-control", @placeholder = "Display Order", @autocomplete = "off", @maxlength = "3" })
            </div><!-- Form Field -->
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.AppFormDisplayOrder)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Navigation Item <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.NavigationItem, Model.AvailableNavigationItem, new { @class = "drop-down form-control" })
            </div><!-- Form Field -->
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.NavigationItem)
            </div>
            <!-- //Error Message -->
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label"></label><!-- Form Label -->
            <div class="col-md-4">
                <input type="submit" name="submit_appform" class="btn btn-default" value="Save" />
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
</div>

@if (Model.AppFormId > 0)
{
    <!-- App Form Action Start -->
    <div class="row page-heading">
        <h1>App Form Actions</h1>
    </div>
    <!-- Form Row -->
    <div class="row top-space-10">
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <!-- Form Field -->
                <label class="col-md-4 control-label">Action Name<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.AppFormAction, new { @class = "form-control", @placeholder = "Action Name", @autocomplete = "off", @maxlength = "25" })
                </div>
                <!-- Form Field -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <!-- Form Field -->
                <label class="col-md-4 control-label">Action Info<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.AppFormActionInfo, new { @class = "form-control", @placeholder = "Action Info", @autocomplete = "off", @maxlength = "250" })
                </div>
                <!-- Form Field -->
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Action Type <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.FormActionType, Model.AvailableFormActionType, new { @class = "form-control" })
                </div><!-- Form Field -->
            </div>
        </div>
        <!-- Form Coulmn -->
    </div>
    <!-- Form Row -->
    <!-- Form Row -->
    <div class="row">
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Display Order <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.AppFormActionDisplayOrder, new { @class = "form-control", @placeholder = "Display Order", @autocomplete = "off", @maxlength = "3" })
                </div><!-- Form Field -->
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"></label><!-- Form Label -->
                <div class="col-md-4">
                    <input type="button" name="submit_appformaction" id="submit_appformaction" class="btn btn-default" value="Add" />
                </div>
            </div>
        </div>
        <!-- Form Coulmn -->
    </div>
    <!-- Form Row -->

    <div class="row top-space-10">
        <table class="table table-condensed table-responsive table-striped">
            <thead class="thead-default">
                <tr>
                    <th>App Form</th>
                    <th>Action Name</th>
                    <th>Action Type</th>
                    <th>Display Order</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.AppFormActionList.Count > 0)
                    {
                        foreach (var item in Model.AppFormActionList)
                        {
                            <tr>
                                <td style="display: none" class="cls_afaid">@item.AppFormActionId</td>
                                <td style="display: none" class="cls_afatid">@item.AppFormActionTypeId</td>
                                <td class="cls_af">@item.AppForm</td>
                                <td class="cls_afa">@item.AppFormAction</td>
                                <td class="cls_afat">@item.AppFormActionType</td>
                                <td class="cls_do">@item.DisplayOrder</td>
                                <td style="display: none" class="cls_apainfo">@item.AppFormActionInfo</td>
                                <td>
                                    <a style="margin-right: 10px;" href="javascript:void(0)" title="Edit App Form Action" data-toggle="tooltip" data-placement="top" class="cls_editappformaction"><i class="fa fa-pencil"></i></a>
                                    @if (item.IsDeleted)
                                    {
                                        <a href="javascript:void(0)" title="Delete App Form Action" data-toggle="tooltip" data-placement="top" class="cls_delappformaction"><i class="fa fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center">No data found</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
            current.parent().show();
        else
            current.parent().hide();
    });

    // events bind here for dynamic html
    $('#AppFormActionDisplayOrder,#AppFormDisplayOrder').keydown(function (e) {
        NumericOnly(e);
    });

    // edit click
    $('.cls_editappformaction').click(function () {
        var row = $(this).parent().parent();
        // find values
        $('#AppFormActionId').val(row.find('.cls_afaid').text());
        $('#AppFormAction').val(row.find('.cls_afa').text());
        $('#AppFormActionInfo').val(row.find('.cls_apainfo').text());
        $('#FormActionType').val(row.find('.cls_afatid').text());
        $('#AppFormActionDisplayOrder').val(row.find('.cls_do').text());
    });

    // edit click
    $('.cls_delappformaction').click(function () {
        if (confirm("Are you sure to delete this record") == true) {
            var row = $(this).parent().parent();
            // find values
            var AppFormActionId = row.find('.cls_afaid').text();
            // ajax call for save row
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteAppFormAction", "App"))',
                data: { "id": AppFormActionId },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.data, "success", true, 5000);
                        window.location.reload();
                    }
                    else {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++)
                            ToastMessage(validationaray[i], "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

    $('#submit_appformaction').click(function () {
        $('#ks_loader').show();
        var isformvalid = ValidateForm();
        if (isformvalid) {
            // ajax call
            var newobj = new Object();
            newobj.AppFormId = $('#AppFormId').val();
            newobj.AppFormActionId = $('#AppFormActionId').val();
            newobj.AppFormAction = $('#AppFormAction').val();
            newobj.AppFormActionInfo = $('#AppFormActionInfo').val();
            newobj.FormActionType = $('#FormActionType').val();
            newobj.AppFormActionDisplayOrder = $('#AppFormActionDisplayOrder').val();

            // ajax call for save row
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("AppFormAction", "App"))',
                data: newobj,
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.data, "success", true, 5000);
                        window.location.reload();
                    }
                    else {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++)
                            ToastMessage(validationaray[i], "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            var validationaray = validationmessage.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);

            $(ctrlfocus).focus();
            $('#ks_loader').hide();
        }
    });

    var valid = true;
    var validationmessage = "";
    var ctrlfocus = "";
    function ValidateForm() {
        valid = true;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#AppFormAction').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#AppFormAction";
            validationmessage = validationmessage + "Action name required ε";
            valid = false;
        }
        if ($('#AppFormActionInfo').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#AppFormActionInfo";
            validationmessage = validationmessage + "Action info required ε";
            valid = false;
        }
        if ($('#FormActionType').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#FormActionType";
            validationmessage = validationmessage + "Action type required ε";
            valid = false;
        }
        if ($('#AppFormActionDisplayOrder').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#AppFormActionDisplayOrder";
            validationmessage = validationmessage + "Display order required ε";
            valid = false;
        }

        return valid;
    }

</script>