﻿@model ViewModel.ViewModel.App.AppFormModel

@{
    ViewBag.Title = "AppForm";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Manage App Form<span style="font-size: 11px">( <i style="color: red;font-size: 8px;" class="fa fa-asterisk"></i> fields are required )</span></h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Html.Raw(Url.Action("AppForm", "App"))" class="btn btn-xs btn-default">Add new</a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("AppForm", "App", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()

            <!-- Form Row -->
            <div class="row top-space-10">
                <!-- Form Coulmn -->
                <div class="col-md-4">
                    <div class="form-group">
                        <!-- Form Field -->
                        <label class="col-md-4 control-label">App Form</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.AppForm, new { @class = "form-control", @placeholder = "Form Name", @autocomplete = "off", @autofocus = "on", @maxlength = "30" })
                        </div>
                        <!-- Form Field -->
                    </div>
                </div>
                <!-- //Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Module</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.Module, Model.AvailableModule, new { @class = "form-control" })
                        </div>
                        <!-- Form Field -->
                    </div>
                </div>
                <!-- Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="col-md-1 control-label"></label><!-- Form Label -->
                        <div class="col-md-6">
                            <input type="button" id="filter_btn" name="filter_list" class="btn btn-default" value="Filter" />
                        </div>
                    </div>
                </div>
                <!-- Form Coulmn -->
            </div>
    <!-- Form Row -->

            <!-- Page Grid -->
            <div class="row">
                <div class="col-md-12">
                    <div id="appform_grid"></div>
                    <script>
                        $(document).ready(function () {
                            $("#appform_grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("AppFormSelectList", "App"))",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        data: additionalData
                                        },
                                        parameterMap: function(data) {
                                            return JSON.stringify(data);
                                        }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                                dataBound: onDataBound,
                                pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                                },
                            scrollable: false,
                            sortable: true,
                            columns: [{
                                field: "AppForm",
                                title: "App Form",
                                sortable: true
                            },
                            {
                                field: "Module",
                                title: "Module Name",
                                sortable: true
                            }, {
                                field: "DisplayOrder",
                                title: "Display Order",
                                sortable: true
                            }, {
                                field: "NavigationItem",
                                title: "Navigation Name",
                                sortable: true
                            },{
                                field: "EncAppFormId",
                                title: "EncAppFormId",
                                hidden: true
                            },{
                                field: "EncAppFormId",
                                title: "Action",
                                template: '<a title="Edit" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" href="EditAppForm/#=EncAppFormId#"><i class="fa fa-pencil"></i></a>' + 
                                    '#if(IsDeleted){#<a href="javascript:void(0)" title="Delete" data-toggle="tooltip" data-placement="top" class="clsdelappform btn btn-xs btn-default"><i class="fa fa-trash "></i></a>#}#'
                            }]
                        });
                    });

                    </script>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    $(document).ready(function () {
        //search button
        $('#filter_btn').click(function () {
            //search
            var grid = $('#appform_grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });
    });

    function additionalData() {
        var data = {
            AppForm: $('#AppForm').val(),
            Module: $('#Module').val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

    // Delete time table
    $(document).on("click", ".clsdelappform", function () {
        if (confirm("Are you sure to delete this App Form") == true) {
            var row = $(this).parent().parent();
            var appformId = row.find("td:nth-child(5)").text();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteAppForm", "App"))',
                data: { "id": appformId },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.data, "success", true, 5000);
                        var grid = $('#appform_grid').data('kendoGrid');
                        grid.dataSource.page(1);
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
    });


</script>