﻿.modal-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1075;
    display: none;
    overflow: auto;
}
.modal-popup-body {
    right: auto;
    left: 50%;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1075;
    margin-right: auto;
    margin-left: auto;
}

.view_dialog_box {
    background: #FFFFFF;
    border: 2px solid #AC1D23;
    display: none;
    height: auto;
    overflow: hidden;
    position: fixed;
    width: 325px;
    top: 50%;
    left: 66%;
    margin-left: -162px;
    margin-top: -157px;
    z-index: 1071
}

.label-as-control {
    border: 1px solid #aaa;
    padding: 4px;
    height: 28px;
    width: 100%;
    background: #f3f3f3;
}
/*-----Messagecss-----*/

.modal-popup-changepassword {
    position: fixed;
    top: 28px;
    right: 0;
    bottom: 0;
    left: -1064px;
    z-index: 1075;
    display: none;
    overflow: auto;
}

.modal-popup-body-changepassword {
    right: auto;
    left: 50%;
    width: 287px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1075;
    margin-right: auto;
    margin-left: auto;
}

