﻿@model ViewModel.ViewModel.Leave.LeaveApplication
@{
    ViewBag.Title = "Leave Application";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
@*@if (ViewBag.SuccessMessage != null)
    {
        <div class="col-md-12 text-success" id="success_div">
            <ul><li>@ViewBag.SuccessMessage</li></ul>
        </div>
    }*@

@if (Model.ContactType!=null && Model.ContactType.ToLower() == "admin"|| Model.ContactType.ToLower() == "staff" || Model.ContactType.ToLower() == "teacher" || Model.ContactType.ToLower() == "non-teacher")
{
    <style>
        .ftdate .k-i-calendar {
            margin-top: 5px !important;
        }
    </style>
}
else
{
<style>
    .ftdate .k-i-calendar {
        margin-top: 0px !important;
    }
</style>
        }
    @if (TempData["IsSuccessfull"] != null || TempData["IsSuccessfull"] != "")
    {
        <script>
        $(function () {
            var successVal = '@TempData["IsSuccessfull"]';
            var validationaray = successVal.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "success", true, 5000);
        });
        </script>
    }
    @if (TempData["IsFailed"] != null || TempData["IsFailed"] != "")
    {
        <script>
        $(function () {
            debugger;
            var successVal = '@TempData["IsFailed"]';
            var validationaray = successVal.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "error", true, 5000);
        });
        </script>
    }


    <div class="row top-space-10 page-heading">
        <div class="col-md-6">
            <h1>Leave Application</h1>
        </div>
        @if (Model.IsAuthToApply)
        {
            <div class="col-md-6 text-right">
                <a id="leaveApplication" href="javascript:void(0)" class="btn btn-xs btn-default">Apply Leave</a>
            </div>
        }
    </div>

    <div id="leaveinfo" class="row top-space-20" hidden>
        @using (Html.BeginForm("LeaveApplication", "Common", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.HiddenFor(p => p.LeaveId)
            <div class="row">
                <div class="col-md-4 ftdate">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Leave From:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.LeaveFrom, new { @class = "", @autofocus = "on", @style = "width:200px" })
                            @*<input style="width:100%" id="LeaveFrom" class="" autofocus="on" title="datepicker" />*@
                        </div>
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            @Html.ValidationMessageFor(model => model.LeaveFrom)
                        </div>
                        <!-- //Error Message -->
                    </div>
                </div>
                <div class="col-md-4 ftdate">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Leave Till:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.LeaveTill, new { @class = "", @style = "width:200px" })
                            @*<input style="width:100%" id="LeaveTill" title="datepicker" />*@
                        </div>
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            @Html.ValidationMessageFor(model => model.LeaveTill)
                        </div>
                        <!-- //Error Message -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Leave Type:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.LeaveTypeId, Model.LeaveTypeList, new { @class = "form-control", @autocomplete = "off", @maxlength = "25", @autofocus = "on" })
                        </div>
                        <!-- Error Message -->
                        <div class="error-message" style="display:none">
                            <i class="fa fa-exclamation-triangle"></i>
                            @Html.ValidationMessageFor(model => model.LeaveTypeId)
                        </div>
                        <!-- //Error Message -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Reason:</label><!-- Form Label -->
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", @autocomplete = "off", @autofocus = "on", @maxlength = "50" })
                            <!-- Error Message -->
                            <div class="error-message" style="display:none">
                                <i class="fa fa-exclamation-triangle"></i>
                                @Html.ValidationMessageFor(model => model.Reason)
                            </div>
                            <!-- //Error Message -->
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" id="applyLeave" class="btn btn-success">Apply</button>
                </div>
                <div class="col-md-1">
                    <button type="button" id="cancelLeave" class="btn btn-danger">Cancel</button>
                </div>
            </div>

        }
    </div>
    <div class="row top-space-20">
        <div class="col-md-12">
            <div id="Leave-grid">
            </div>
        </div>
    </div>
    <script>
    $(function () {
        $('.field-validation-error').each(function () {
            var current = $(this);
            if (current.text() != "")
                current.parent().show();
            else
                current.parent().hide();
        });

        $('.field-validation-valid').each(function () {
            var current = $(this);
            if (current.text() != "")
                current.parent().show();
            else
                current.parent().hide();
        });
        @if (Model.MaxLeaveApplyDays != null)
        {
            <text>
        $("#LeaveFrom").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: new Date(),
            max: '@Model.CurrentSessionEndDate',
            value: new Date()
        })
        var remindmax = new Date();
        remindmax.setDate(remindmax.getDate() + parseInt('@Model.MaxLeaveApplyDays')-1);

        $("#LeaveTill").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: new Date(),
            max: remindmax,
            value: new Date()
        })
            </text>
        }
        else {
            <text>
        if ('@TempData["LeaveFrom"]' != null && '@TempData["LeaveFrom"]' != "" && '@TempData["LeaveTill"]' != null && '@TempData["LeaveTill"]' != "") {
            $("#LeaveFrom").kendoDatePicker({
                format: "dd/MM/yyyy",
                min: new Date(),
                max: "@Model.CurrentSessionEndDate",
                value: "@TempData["LeaveFrom"]"
            })
            $("#LeaveTill").kendoDatePicker({
                format: "dd/MM/yyyy",
                min: new Date(),
                max: "@Model.CurrentSessionEndDate",
                value: "@TempData["LeaveTill"]"
            })
        }
        else {
            $("#LeaveFrom,#LeaveTill").kendoDatePicker({
                format: "dd/MM/yyyy",
                min: new Date(),
                max: "@Model.CurrentSessionEndDate",
                value: new Date()
            })
        }
        </text>
    }
        $("#LeaveFrom,#LeaveTill").prop("readonly", true);

        $("#Leave-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("GetLeaveList", "Common"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        //data:additionalData
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            //dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            columns: [{
                field: "LeaveId",
                title: "LeaveId",
                sortable: true,
                hidden:true
            },
             {
                 field: "LeaveType",
                 title: "Leave Type",
                 sortable: true
             },
            {
                field: "LeaveFrom",
                title: "Leave From",
                template: "#= kendo.toString(kendo.parseDate(LeaveFrom, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                sortable: true
            },{
                field: "LeaveTill",
                title: "Leave Till",
                template: "#= kendo.toString(kendo.parseDate(LeaveTill, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                sortable: true
            },{
                field: "Reason",
                title: "Reason",
                template: '#if(ReasonDesc!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=ReasonDesc#"><font >#=Reason#</font></i>#}#',
                width:110,
                sortable: true
            },{
                field: "Status",
                title: "Status",
                sortable: true
            },{
                field: "LeaveTypeId",
                title: "LeaveTypeId",
                hidden:true
            },{
                field: "LeaveId",
                title: "Action",
                sortable: false,
                width: 100,
                template: '#if(IsLeaveEditable){#<a title="Edit" data-toggle="tooltip" data-placement="top" class="clseditleave btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>#}#'
                +'#if(IsLeavedeleteable){#<a title="Delete" data-toggle="tooltip" data-placement="top" class="clsdelleave btn btn-xs btn-default"><i class="fa fa-trash"></i></a>#}#'
            },{
                field: "ReasonDesc",
                title: "ReasonDesc",
                hidden:true
            }]
        })
    })
    $("#leaveApplication").click(function () {
        @{
          if(Model.CanLeaveApply)
          {
                <text>
                    $("#leaveinfo").show();
        </text>

            }
            else
          {
                 <text>
                     $("#leaveinfo").hide();
                     ToastMessage("Leave can be Applied within allow Time("+'@Model.FromTimeLimit'+"-"+'@Model.ToTimeLimit'+")",
                                        "error", true, 5000);
                 </text>

          }
        }

    })
    $("#cancelLeave").click(function () {
        $("#success_div ul").html('');
        $("#failed_div ul").html('');
        $('#data_validation_div ul').html('');
        $("#success_div").hide();
        $("#failed_div").hide();
        $('#data_validation_div').hide();
        $("#leaveinfo").hide();
        $("#LeaveTypeId").val('');
        $("#Reason").val('');
        $("#leaveApplication").show();
        $("#LeaveId").val('');
    })
    $("#applyLeave").click(function () {
        $("#LeaveFrom,#LeaveTill").prop("readonly", false);
        //$("#lf").val(GetDateFromString($("#LeaveFrom").val()));
        //$("#lt").val(GetDateFromString($("#LeaveTill").val()));
        $("#success_div ul").html('');
        $("#failed_div ul").html('');
        $('#data_validation_div ul').html('');
        $("#success_div").hide();
        $("#failed_div").hide();
        $('#data_validation_div').hide();

        var isValid = validateLeaveApplication();
        if (isValid) {
            return true;
        }
        else {
            $('#ks_loader').hide();
            var validationaray = LeaveApplicationvalidationmessage.split('\n');
            for (var i = 0; i < validationaray.length - 1; i++) {
                ToastMessage(validationaray[i], "error", true, 5000);
            }
            $(LeaveApplicationctrlfocus).focus();
            return false;
        }
    })
    $("#LeaveFrom").change(function () {
        if ('@Model.MaxLeaveApplyDays'!= null) {
            var date = $(this).val();
            var datearry = date.split('/');
            var returnDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            var selecteddate = new Date(returnDate);
            var maxdate = new Date(returnDate);
            maxdate.setDate(maxdate.getDate() + parseInt('@Model.MaxLeaveApplyDays')-1);
             $("#LeaveTill").prop("readonly", false);
             $("#LeaveTill").kendoDatePicker({
                format: "dd/MM/yyyy",
                min: selecteddate,
                max: maxdate,
                value: selecteddate
             })
              $("#LeaveTill").prop("readonly", true);
        }
    })

    $(document).on("click", ".clseditleave", function () {
        var row = $(this).parent().parent();
        $("#LeaveFrom").val(row.find('td:nth-child(3)').text());
        $("#LeaveTill").val(row.find('td:nth-child(4)').text());
        $("#LeaveTypeId").val(row.find('td:nth-child(7)').text());
        $("#Reason").val(row.find('td:nth-child(9)').text());
        $("#LeaveId").val(row.find('td:nth-child(1)').text());
        $("#leaveinfo").show();
        $("#leaveApplication").hide();
    })



    $(document).on("click", ".clsdelleave", function () {
        if (confirm("Are you sure want to delete this Leave") == true) {
            $('#ks_loader').show();
            var row = $(this).parent().parent();
            var Id = row.find("td:nth-child(1)").text();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteLeave", "Common"))',
                data: { "Id": Id},
                success: function (result) {
                    $('#ks_loader').hide();
                    if (result.status == "success") {
                        ToastMessage(result.data, "success", true, 5000);
                        var grid = $('#Leave-grid').data('kendoGrid');
                        grid.dataSource.page(1);
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });


    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

    var LeaveApplicationvalid = true;
    var LeaveApplicationvalidationmessage = "";
    var LeaveApplicationctrlfocus = "";
    function validateLeaveApplication() {
        LeaveApplicationvalid = true;
        LeaveApplicationvalidationmessage = "";
        LeaveApplicationctrlfocus = "";


        if ($('#LeaveFrom').val() == "") {
            if (LeaveApplicationctrlfocus == "")
                LeaveApplicationctrlfocus = "#LeaveFrom";
            LeaveApplicationvalidationmessage = LeaveApplicationvalidationmessage + "Please provide leave start date \n";
            LeaveApplicationvalid = false;
        }
        if ($('#LeaveTill').val() == "") {
            if (LeaveApplicationctrlfocus == "")
                LeaveApplicationctrlfocus = "#LeaveTill";
            LeaveApplicationvalidationmessage = LeaveApplicationvalidationmessage + "Please select leave end date \n";
            LeaveApplicationvalid = false;
        }

        if ($('#LeaveTill').val() != "" && $('#LeaveFrom').val() != "") {
            if (GetDateFromString($('#LeaveFrom').val()) > GetDateFromString($('#LeaveTill').val())) {
                if (LeaveApplicationctrlfocus == "")
                    LeaveApplicationctrlfocus = "#LeaveFrom";
                LeaveApplicationvalidationmessage = LeaveApplicationvalidationmessage + "LeaveFrom Date should be less than or equal to LeaveTill Date \n";
                LeaveApplicationvalid = false;
            }
        }

        if ($('#LeaveTypeId').val() == "") {
            if (LeaveApplicationctrlfocus == "")
                LeaveApplicationctrlfocus = "#LeaveTypeId";
            LeaveApplicationvalidationmessage = LeaveApplicationvalidationmessage + "Please provide leave type \n";
            LeaveApplicationvalid = false;
        }

        if ($('#Reason').val() == "") {
            if (LeaveApplicationctrlfocus == "")
                LeaveApplicationctrlfocus = "#Reason";
            LeaveApplicationvalidationmessage = LeaveApplicationvalidationmessage + "Please provide reason for leave \n";
            LeaveApplicationvalid = false;
        }
        return LeaveApplicationvalid;
    }

    </script>
