﻿@model ViewModel.ViewModel.Calender.WeekForMonth
@*@{ 
    <text>
        <script>
             setInterval(function () {
                 alert('@HttpContext.Current.Session.IsCookieless');
                  alert('@HttpContext.Current.Session.CookieMode');
                   
                }, 1000);
           
        </script>
</text>
}*@
<style>
    .mytablecustom tbody tr td label a {
        margin: 23px 0px 0px 1px !important;
    }

    a.clseve, a.clsexm, a.clsact, a.clsrst, a.clsanc {
        border-radius: 0px 20px 20px 0px !important;
    }

    .mytablecustom tbody tr td {
        border: 1px lightslategrey solid !important;
    }
    .event_Date
    {
        font-size: 12px;
        font-weight:bold;

    }

    .mytablecustom tbody tr td label{
        width:100% !important;
    }

    @foreach (var item in Model.Eventtypelist.Where(m=>m.EventCode=="101"))
    {
    <text>
        a.clsact {
            background:@item.EventColor !important;
        }
    </text>
    }
    @foreach (var item in Model.Eventtypelist.Where(m=>m.EventCode=="102"))
    {
    <text>
        a.clsanc {
            background:@item.EventColor !important;
        }
    </text>
    }
    


</style>


<div class="main-table-wraper">
    <div id="component-header">
        <div class="col-md-4 nextbtn">
            <a href="javascript:void(0)" id="prvbutton">❮</a>
        </div>
        @if (Model.Month != null && Model.Year != null)
        {
            <div class="col-md-4 text-center"> @Model.Month @Model.Year</div>
        }
        else
        {
            <div class="col-md-4 text-center"> @DateTime.Now.ToString("MMMM") @DateTime.Now.Year</div>
        }
        <div class="col-md-4 previousbtn"><a href="javascript:void(0)" id="nxtbutton">❯</a></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Calender", "KCalender", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("reqmonth")
                <button id="subbutton" type="submit" hidden></button>
            }
        </div>
    </div>

    <div>
        <table id="component-table " class="mytablecustom">
            <thead>
                <tr>
                    <th>
                        Sun
                    </th>
                    <th>
                        Mon
                    </th>
                    <th>
                        Tue
                    </th>
                    <th>
                        Wed
                    </th>
                    <th>
                        Thu
                    </th>
                    <th>
                        Fri
                    </th>
                    <th>
                        Sat
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr id="week1">
                    @foreach (var item in Model.Week1)
                    {
                        if (item != null)
                        {
                            if (item.daycolumn == 0)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" style="background:@evnt.ColorCode !important" class="clseve" eventdate="@item.dateStr">Vacation Start</a> <br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" style="background:@evnt.ColorCode !important" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" style="background:@evnt.ColorCode !important" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a> <br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)"  class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)"  class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)"  class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)"  class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else if (item.Date != DateTime.Today)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" style="background:@evnt.ColorCode !important" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" style="background:@evnt.ColorCode !important" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" style="background:@evnt.ColorCode !important" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)"  class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)"  class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" style="background:@evnt.ColorCode !important" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" style="background:@evnt.ColorCode !important" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" style="background:@evnt.ColorCode !important" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)"  class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)"  class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                        }
                        else
                        {
                            <td valign="top"></td>
                        }
                    }
                </tr>
                <tr id="week2">
                    @foreach (var item in Model.Week2)
                    {
                        if (item != null)
                        {
                            if (item.daycolumn == 0)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else if (item.Date != DateTime.Today)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                        }
                        else
                        {
                            <td valign="top"></td>
                        }
                    }
                </tr>
                <tr id="week3">
                    @foreach (var item in Model.Week3)
                    {
                        if (item != null)
                        {
                            if (item.daycolumn == 0)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else if (item.Date != DateTime.Today)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                        }
                        else
                        {
                            <td valign="top"></td>
                        }
                    }
                </tr>
                <tr id="week4">
                    @foreach (var item in Model.Week4)
                    {
                        if (item != null)
                        {
                            if (item.daycolumn == 0)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else if (item.Date != DateTime.Today)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                        }
                        else
                        {
                            <td valign="top"></td>
                        }
                    }
                </tr>
                <tr id="week5">
                    @foreach (var item in Model.Week5)
                    {
                        if (item != null)
                        {
                            if (item.daycolumn == 0)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else if (item.Date != DateTime.Today)
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                            else
                            {
                                <td valign="top">
                                    <label>@item.dtDay</label>
                                    @if (item.Events.Count() > 0)
                                    {
                                        foreach (var evnt in item.Events)
                                        {
                                            if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                            }
                                            else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                            }
                                        }
                                    }
                                    @if (item.IsTodayExam)
                                    {
                                        <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                    }
                                    @if (item.IsTodayact)
                                    {
                                        <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                    }
                                    @if (item.IsTodayanc)
                                    {
                                        <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                    }
                                    @if (item.IsTodayResult)
                                    {
                                        <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                    }

                                </td>
                            }
                        }
                        else
                        {
                            <td valign="top"></td>
                        }
                    }
                </tr>
                <tr id="week6">
                    @if (Model.Week6 != null)
                    {
                        foreach (var item in Model.Week6)
                        {
                            if (item != null)
                            {
                                if (item.daycolumn == 0)
                                {
                                    <td valign="top">
                                        <label>@item.dtDay</label>
                                        @if (item.Events.Count() > 0)
                                        {
                                            foreach (var evnt in item.Events)
                                            {
                                                if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                                {
                                                    <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                                }
                                                else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                                {
                                                    <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                                }
                                            }
                                        }
                                        @if (item.IsTodayExam)
                                        {
                                            <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                        }
                                        @if (item.IsTodayact)
                                        {
                                            <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                        }
                                        @if (item.IsTodayanc)
                                        {
                                            <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                        }
                                        @if (item.IsTodayResult)
                                        {
                                            <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                        }

                                    </td>
                                }
                                else if (item.Date != DateTime.Today)
                                {
                                    <td valign="top">
                                        <label>@item.dtDay</label>
                                        @if (item.Events.Count() > 0)
                                        {
                                            foreach (var evnt in item.Events)
                                            {
                                                if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                                {
                                                    <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                                }
                                                else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                                {
                                                    <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                                }
                                            }
                                        }
                                        @if (item.IsTodayExam)
                                        {
                                            <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                        }
                                        @if (item.IsTodayact)
                                        {
                                            <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                        }
                                        @if (item.IsTodayanc)
                                        {
                                            <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                        }
                                        @if (item.IsTodayResult)
                                        {
                                            <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                        }

                                    </td>
                                }
                                else
                                {
                                    <td valign="top">
                                        <label>@item.dtDay</label>
                                        @if (item.Events.Count() > 0)
                                        {
                                            foreach (var evnt in item.Events)
                                            {
                                                if (evnt.EventName == "Vacation" && evnt.startday == item.dtDay.ToString())
                                                {
                                                    <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation Start</a><br />
                                                }
                                                else if (evnt.EventName == "Vacation" && evnt.endday == item.dtDay.ToString())
                                                {
                                                    <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">Vacation End</a><br />
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0)" class="clseve" eventdate="@item.dateStr">@evnt.EventName</a><br />
                                                }
                                            }
                                        }
                                        @if (item.IsTodayExam)
                                        {
                                            <a href="javascript:void(0)" class="clsexm" eventdate="@item.dateStr">Exam @item.ExamCount</a><br />
                                        }
                                        @if (item.IsTodayact)
                                        {
                                            <a href="javascript:void(0)" class="clsact" eventdate="@item.dateStr">Activity @item.ActCount</a><br />
                                        }
                                        @if (item.IsTodayanc)
                                        {
                                            <a href="javascript:void(0)" class="clsanc" eventdate="@item.dateStr">Announcement @item.AncCount</a><br />
                                        }
                                        @if (item.IsTodayResult)
                                        {
                                            <a href="javascript:void(0)" class="clsrst" eventdate="@item.dateStr">Result @item.ResultCount</a><br />
                                        }
                                    </td>
                                }
                            }
                            else
                            {
                                <td valign="top"></td>
                            }
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-popup" id="ExamView_div" hidden>
    <div class="modal-popup-body custom-modal-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <div class="col-md-12">
                    @Html.Label("Exams", new { @class = "eventLabel" })
                   
                </div>
                <span class="event_Date"></span>
            </div>
            <div class="row modal-body">
                <div class="row col-md-12">
                    <table id="exmtbl" class="examtable-padding">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="EvntView_Grid" hidden>
    <div class="modal-popup-body custom-modal-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <div class="col-md-12">
                    @Html.Label("Events", new { @class = "eventLabel" })
                </div>
                <span class="event_Date"></span>
            </div>
            <div class="row modal-body">
                <div class="row col-md-12">
                    <table id="evnttbl" class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_Grid">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="ExmrstView_Grid" hidden>
    <div class="modal-popup-body custom-modal-popup-Exam">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <div class="col-md-12">
                    @Html.Label("Results", new { @class = "rstLabel" })
                </div>
                <span class="event_Date"></span>
            </div>
            <div class="row modal-body">
                <div class="row col-md-12">
                    <table id="rsttbl" class="resulttable-padding">
                        <thead>
                            <tr>
                                <th>Standard</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="closerst_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-popup" id="EventView_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <div class="col-md-6">
                    @Html.Label("Event Type:", new { @class = "eventLabel" })
                    <div id="event-Div" class="eventLabel">
                    </div>
                </div>
                <div class="col-md-3 pull text-right">
                    @Html.Label("From Date:", new { id = "fromdatelabel" })
                    <div id="from-Div">
                    </div>
                </div>
                <div class="col-md-3 pull text-right todiv" hidden>
                    @Html.Label("To Date:")
                    <div id="to-Div">
                    </div>
                </div>
            </div>
            <div class="row modal-body">
                <div class="row col-md-12">
                    <div class="col-md-12 clsdiv" hidden>
                        @Html.Label("Class:", new { @id = "class_label" })
                        <div id="class-Div">
                        </div>
                    </div>
                    <div class="col-md-12">
                        @Html.Label("Title:")
                        <div id="eventtitle-Div">
                        </div>
                    </div>
                    <div class="col-md-12">
                        @Html.Label("Description:")
                        <div id="eventdesc-Div">
                        </div>
                    </div>
                    <div class="col-md-12 eventvenuediv" hidden>
                        @Html.Label("Venue:")
                        <div id="eventvenue-Div">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_eventdiv">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '.clseve, .clsact, .clsanc', function () {
        debugger;
        $(".event_Date").html("");
        var evtdate = GetDateFromString($(this).attr("eventdate"));
        var evtname = $(this).text();
        if (evtname == "Vacation Start" || evtname == "Vacation End") {
            var splitted = evtname.split(" ");
            evtname = splitted[0];
        }
        else
            evtname = evtname.replace(/[0-9]/g, '');

        $(".event_Date").append("Date: " +evtdate);
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("GetEventInfo","KCalender"))',
            data: { "evtdate": evtdate, "evtname": evtname },
            success: function (result) {
                if (result.status == "success" && result.IsGridData == true) {
                    for (var i = 0; i < result.data.length; i++) {
                        var row = "<tr>" + "<td hidden>" + result.data[i].EventId + "</td>" + "<td>" + result.data[i].EventTitle
                                    + "</td>" + "<td><a href='javascript:void(0)' class='clsviewevnt' title='View Event' style='cursor:pionter;'><i class='fa fa-eye'></i></a></td>"
                                    + "</tr>"
                        $("#evnttbl").append(row)
                    }
                    $("#EvntView_Grid").show();
                }
                if (result.status == "success" && result.IsGridData == false) {
                    $("#event-Div").html(result.data.EventType)
                    $("#from-Div").html(result.data.FromDate)
                    $("#to-Div").html(result.data.ToDate)
                    if (result.data.ToDate == null || result.data.ToDate == "") {
                        $("#fromdatelabel").text("Date");
                        $("#from-Div").css('margin-left', 78 + 'px');
                    }
                    if (result.data.ToDate != null && result.data.ToDate != "") {
                        $(".todiv").show();
                    }
                    $("#eventtitle-Div").html(result.data.EventTitle)
                    $("#eventdesc-Div").html(result.data.EventDesc)
                    $("#EventView_div").show();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
            }
        });
    })

    $(document).on('click', '.clsviewevnt', function () {
        var id = parseInt($(this).parent().parent().find("td:nth-child(1)").text());
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("GetEventById","KCalender"))',
            data: { "id": id },
            success: function (result) {
                if (result.status == "success") {
                    $("#event-Div").html(result.data.EventType)
                    if (result.data.Class != null && result.data.Class != "") {
                        $("#class-Div").html(result.data.Class)
                        $('.clsdiv').show();
                    }
                    if (result.data.FromTime != null && result.data.FromTime != "") {
                        $("#from-Div").html(result.data.FromDate + "\n" + result.data.FromTime)
                    }
                    else {
                        $("#from-Div").html(result.data.FromDate)
                    }
                    if (result.data.ToDate != null && result.data.ToDate != "") {
                        if (result.data.TillTime != null && result.data.TillTime != "") {
                            $("#to-Div").html(result.data.ToDate + "\n" + result.data.TillTime)
                        }
                        else {
                            $("#to-Div").html(result.data.ToDate)
                        }
                        $(".todiv").show();
                    }
                    $("#eventtitle-Div").html(result.data.EventTitle)
                    $("#eventdesc-Div").html(result.data.EventDesc)
                    $("#eventvenue-Div").html(result.data.EventVenue)
                    if (result.data.EventVenue != null) {
                        $(".eventvenuediv").show();
                    }
                    $("#EventView_div").show();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
            }
        });
    })


    $(document).on('click', '.clsexm', function () {
        $(".event_Date").html("");
        var evtdate = GetDateFromString($(this).attr("eventdate"));
        $(".event_Date").append("Date: " +evtdate);
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("GetExamInfo", "KCalender"))',
            data: { "evtdate": evtdate },
            success: function (result) {
                if (result.status = "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var row = "<tr>" + "<td>" + result.data[i].ClassSubjectName + " " + "(" + result.data[i].TimeSlot + ")" + "</td>" + "</tr>"
                        $("#exmtbl").append(row)
                    }
                    $("#ExamView_div").show();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
            }
        });
    })

    $(document).on('click', '.clsrst', function () {
        var evtdate = GetDateFromString($(this).attr("eventdate"));
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("GetExamResultInfo", "KCalender"))',
            data: { "exmrstdate": evtdate },
            success: function (result) {
                if (result.status = "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var row = "<tr>" + "<td >" + result.data[i].Standard + "</td>" + "</tr>"
                        $("#rsttbl").append(row)
                    }
                    $("#ExmrstView_Grid").show();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
            }
        });
    })

    $("#close_eventdiv").click(function () {
        $("#class-Div").html("");
        $(".clsdiv").hide();
        $("#to-Div").html("");
        $(".todiv").hide();
        $("#eventvenue-Div").html("");
        $(".eventvenuediv").hide();
        $("#eventtitle-Div").html("");
        $("#eventdesc-Div").html("");
        $("#event-Div").html("");
        $("#from-Div").html("");
        $("#EventView_div").hide();
    })

    $("#close_div").click(function () {
        $("#ExamView_div").hide();
        $("#exmtbl > tbody").html('');
    })

    $("#close_Grid").click(function () {
        $("#EvntView_Grid").hide();
        $("#evnttbl > tbody").html('');
        $("#ExmrstView_Grid").hide();
        $("#rsttbl > tbody").html('');
    })
    $("#closerst_div").click(function () {
        $("#ExmrstView_Grid").hide();
        $("#rsttbl > tbody").html('');
    })
    var prvbuttonclicked = false;
    $("#prvbutton,#nxtbutton").click(function () {
        if (this.id == 'prvbutton') {
            prvbuttonclicked = true;
        }
        $("#subbutton").click();
    })

    $("#subbutton").click(function () {
        var reqmonth;
        if (prvbuttonclicked == true) {
            $("#reqmonth").val('@Model.prevMonth');
        }
        else {
            $("#reqmonth").val('@Model.nextMonth');
        }
    })

    // function get date as string and return date
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }
</script>
