﻿@model ViewModel.ViewModel.Exam.ResultWithheldModel

@{
    string errormsg = TempData["errorsummary_notification"] != null ? Convert.ToString(TempData["errorsummary_notification"]) : "";

}



        <div class="form-group top-space-10">

            <label class="col-md-2 control-label">Select Class:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ClassId,Model.AvailableClassList)
            </div>
        </div>
@Html.HiddenFor(m=>m.DSI)
<div class="form-group top-space-10">

    <table id="withheld_table" class="table table-bordered table-responsive" hidden>
        <thead class="thead-default">
            <tr>
                <th>Student</th>
                <th>Roll No</th>
                <th>WithHeld On</th>
                <th>Reason</th>
                <th>Released On</th>
            </tr>
        </thead>
        <tbody id="Student_WithHeld_list"></tbody>
    </table>

    <div class="row top-space-10">
        <div class="col-md-5">
            <button type="button" style="display:none" name="Save" id="save_withheld" class="btn btn-success" >Save</button>
            <button type="button" style="display:none" name="Save" id="Reset_withheld" class="btn btn-danger">Reset</button>
        </div>
    </div>
</div>
   <script>
       $('#Reset_withheld').click(function () {
           $('#ClassId option:selected').trigger('change');

       })


       function GetDateFromString(date) {
           var datearry = date.split('/');
           var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
           return returnFromDate;
       }
        $('#save_withheld').click(function () {
            var ResultWithheldModel = new Array();
            var ResultWithheldModelobj = new Object();
            $('#withheld_table tbody tr').each(function () {
                var row = $(this);
                ResultWithheldModelobj = new Object();
               
                ResultWithheldModelobj.StudentId = row.find('.student_id').text();
                ResultWithheldModelobj.ExamResultWithHeldId = row.find('.ExamResultWithHeldId_id').text();
                ResultWithheldModelobj.StudentName = row.find('.Student_Name').text();
                ResultWithheldModelobj.RollNo = row.find('.Roll_No').text();
                if (row.find('input.clsexamdate').val() != "") {
                    ResultWithheldModelobj.WithheldDate = GetDateFromString(row.find('input.clsexamdate').val());
                } else {
                    ResultWithheldModelobj.WithheldDate = "";
                }
                ResultWithheldModelobj.Reason = row.find('.Reason_withheld').val();
                if (row.find('input.released').val() != "") {
                    ResultWithheldModelobj.ReleasedOnDate = GetDateFromString(row.find('input.released').val());
                } else {
                    ResultWithheldModelobj.ReleasedOnDate = "";
                }
               
                if (ResultWithheldModelobj.WithheldDate != "") {
                    ResultWithheldModel.push(ResultWithheldModelobj);
                }
              
            });

            var model = new Object;
            model.Withheldarray = JSON.stringify(ResultWithheldModel);
            model.DatesheetId = $('#DSI').val();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("UpdateInsertWithHeld", "Examination"))',
                data: model,
                success: function (result) {
                    if (result.status == "success") {
                        // merge alert
                        ToastMessage(result.msg, "success", true, 5000);
                        $('#ClassId option:selected').trigger('change');
                       // ToastMessage(message, "success", true, 5000);

                        //if (result.msg != "") {
                        //    window.location.reload();
                        //    $('#ks_loader').show();
                        //}
                        //else
                            $('#ks_loader').hide();

                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })
        

       $(document).on("change",'input.clsexamdate',function () {
           var value = $(this).val();
           var row = $(this).parent().parent().parent().parent().find('input.released');
           row.data('kendoDatePicker').enable(true);
           row.data('kendoDatePicker').min(value);
           var row1 = $(this).parent().parent().parent().parent().find('.Reason_withheld');
           row1.removeAttr('disabled');
       })

       $('#ClassId').change(function () {
           var classid = $(this).val();
           var ExamdatesheetID = $('#DSI').val();
           if (classid>0){
           $.ajax({
               type: "POST",
               async: false,
               url: '@Html.Raw(Url.Action("GetWithHeldStudentsData", "Examination"))',
               data: { "classid": classid, "ExamdatesheetID": ExamdatesheetID },
               success: function (result) {

                   if (result.status == "success") {
                       $('#Student_WithHeld_list').html('');
                       $('#withheld_table').show();
                       var Studentlistdata = "";
                       for (var i = 0; i <= result.studentsListWithheld.length-1; i++)
                       {
                           Studentlistdata = "";
                           Studentlistdata += "<tr class='tr'>";
                           Studentlistdata += "<td class='student_id' hidden>" + result.studentsListWithheld[i].StudentId + "</td>";
                           Studentlistdata += "<td class='ExamResultWithHeldId_id' hidden>" + result.studentsListWithheld[i].ExamResultWithHeldId + "</td>";
                           if (result.studentsListWithheld[i].StudentInActive == true) {
                               Studentlistdata += "<td class='Student_Name' style='color:blue'>" + result.studentsListWithheld[i].StudentName + "</td>";
                           } else {
                               Studentlistdata += "<td class='Student_Name'>" + result.studentsListWithheld[i].StudentName + "</td>";
                           }
                           Studentlistdata += "<td class='Roll_No'>" + result.studentsListWithheld[i].RollNo + "</td>";
                           if (result.studentsListWithheld[i].ReleasedOnDate == "" && result.studentsListWithheld[i].WithheldDate != "") {
                               Studentlistdata += "<td><input type='text' class='clsexamdate form-control' value='" + result.studentsListWithheld[i].WithheldDate + "'/> <a class='delete_Withheld_data btn btn-xs btn-default' data-id="+ result.studentsListWithheld[i].ExamResultWithHeldId +" title='Delete'> <i class='fa fa-close'></i></a></td>"
                           } else {
                               Studentlistdata += "<td><input type='text' class='clsexamdate form-control' value='" + result.studentsListWithheld[i].WithheldDate + "'/></td>"
                           }
                          
                           if (result.studentsListWithheld[i].WithheldDate == "") {
                               Studentlistdata += "<td class=''><input type='text' disabled='disabled' class='Reason_withheld form-control' value='" + result.studentsListWithheld[i].Reason + "'/></td>"
                               Studentlistdata += "<td><input type='text' disabled='disabled' class=' released released"+i+" form-control' value='" + result.studentsListWithheld[i].ReleasedOnDate + "'/></td>"
                           } else {
                               Studentlistdata += "<td class=''><input type='text' class='Reason_withheld form-control' value='" + result.studentsListWithheld[i].Reason + "'/></td>"
                               Studentlistdata += "<td class=''><input type='text' class=' released released"+i+" form-control' value='" + result.studentsListWithheld[i].ReleasedOnDate + "'/></td>"
                           }
                           Studentlistdata += "</tr>";
                          
                           $('#Student_WithHeld_list').append(Studentlistdata);
                           if (result.studentsListWithheld[i].WithheldDate == "") {
                               $('.released' + i + '').kendoDatePicker({
                                   value: "",
                                   min: result.SessionStartDate,
                                   format: "dd/MM/yyyy"
                               });
                           } else {
                               $('.released' + i + '').kendoDatePicker({
                                   value: "",
                                   min: GetDateFromString(result.studentsListWithheld[i].WithheldDate),
                                   format: "dd/MM/yyyy"
                               });
                           }
                           $(".released" + i + "").attr("readonly", true);
                       }
                       //$('#Student_WithHeld_list').html(Studentlistdata);
                       $(".clsexamdate").kendoDatePicker({
                           value: "",
                           min:result.SessionStartDate,
                           format: "dd/MM/yyyy"
                       });
                       $(".clsexamdate").attr("readonly", true);
                       $('#save_withheld').show();
                       $('#Reset_withheld').show();
                       
                   }
                   else {
                       if (result.msg == "NotValid") {

                       }

                       $('#ks_loader').hide();
                   }
               },
               error: function (xhr, status, p3) {
                   var err = "Error: " + " " + p3;
                   ToastMessage(err, "error", true, 5000);
                   $('#ks_loader').hide();
               }
           });}

       })

       $(document).on('click', '.delete_Withheld_data', function () {
           var result = confirm("Are you sure to delete?");
           if (result) {

               var withholdid = $(this).attr('data-id');
               //Logic to delete the item

               $.ajax({
               type: "POST",
               async: false,
               url: '@Html.Raw(Url.Action("deleteWithHeldStudentsData", "Examination"))',
                   data: { "withholdid": withholdid },
               success: function (result) {

                   if (result.status == "success") {
                       ToastMessage(result.msg, "success", true, 5000);
                       $('#ClassId option:selected').trigger('change');
                   }
               else {
                   if (result.msg == "NotValid") {

                   }

                   $('#ks_loader').hide();
               }
               },
                   error: function (xhr, status, p3) {
                       var err = "Error: " + " " + p3;
                       ToastMessage(err, "error", true, 5000);
                       $('#ks_loader').hide();
                   }
               });
           }
       })

   </script>

