﻿@model ViewModel.ViewModel.Exam.ResultAnnouncementModel

@{
    string errormsg = TempData["errorsummary_notification"] != null ? Convert.ToString(TempData["errorsummary_notification"]) : "";
    
}
<style>.freezedCheckbox{padding-left: 1px;}</style>


@Html.HiddenFor(m => m.ResultPublishArray)
@Html.HiddenFor(m => m.DSI)
@Html.HiddenFor(m => m.ExDSI)
@Html.Hidden("EDSDI")  <!-- exam date sheet detail id -->
@Html.Hidden("SI")  <!-- Student id -->
@Html.Hidden("CSIElement")  <!-- Class Subject id -->
@Html.Hidden("MM")  <!-- Max Marks -->

@Html.ValidationSummary(errormsg, new { @class = "text-danger validationsummary" })
@if (Model.AllResultPublished)
{
    <div class="text-danger validationsummary"><i class="fa fa-ban"></i>All Class Result Announced</div>
}
<div class="row">
   
    <div class="col-md-12 classes_div">
       
        <div class="form-group">

            <label class="col-md-2 control-label">Select Standard:</label>
            <div class="col-md-10">
                @foreach (var item in Model.ResultAnnouncementClassesList)
                {
                    <div class="col-md-4">
                        
                            @if (item.IsFreez != null && item.IsFreez == true)
                            {
                                <label class="checkbox-inline freezedCheckbox">
                                    <i class="text-success fa fa-check"></i> @item.Standard
                                </label>
                            }
                            else
                            {
                                <label class="checkbox-inline">
                                    @if (item.Selected != null && item.Selected == true)
                                    {
                                    <input type="checkbox" checked class="clschk_class" id="classid_@item.StandardId" data-ci="@item.StandardId" data-eri="@item.ExamResultDateId" /> @item.Standard
                                    }
                                    else
                                    {
                                    <input type="checkbox" class="clschk_class" id="classid_@item.StandardId" data-ci="@item.StandardId" data-eri="@item.ExamResultDateId" /> @item.Standard
                                    }
                                </label>
                            }
                        
                    </div>
                }
            </div>
        </div>
    </div> 
</div>
@if (!Model.AllResultPublished) { 
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2 control-label">Announcement Date:</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ResultPublishDate, new { @class=""})
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-3">
                @*@if (Model.IsAuthToAnnounce)
                {*@
                    <input type="submit" class="btn btn-success" id="submit_btn" value="Save" />
                @*}*@
            </div>
        </div>
    </div>
</div>
}
@*popup start*@

<div class="modal-popup" id="pendencydetail_div" style="display: none;">
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_pendencydetail_div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="">Pendency Detail</h4>
            </div>
            <div class="modal-body">
                @*detail*@
                @*show error msg and link for get full detail*@
                <div class="row" id="validation_row" style="display: none;">
                    <div class="col-md-2">
                        <a href="javascript:void(0)" id="ShowPendency_Detail" class="btn btn-default">Show Detail</a>
                    </div>
                </div>

                @*data*@
                <div id="pendencydetail_row" style="display: none;">
                    <!-- Add rows here -->
                </div>
            </div>
        </div>
    </div>
</div>

@*popup end*@

@*popup start*@

<div class="modal-popup" id="fillthemarks_div" style="display: none;">
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_fillthemarks_div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="">Fill The Marks <span class="marks_title_text"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Form Coulmn -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Obtained Marks</label>
                            <div class="col-md-8">
                                @Html.TextBox("PassMarks",null, new { @class = "Amount form-control", @maxlength = "3" })
                            </div>
                        </div>
                    </div>
                    <!-- //Form Coulmn -->
                    <!-- Form Coulmn -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Is Absent</label>
                            <div class="col-md-8">
                                @Html.CheckBox("IsStudentAbsent", false, new { @style = "margin-top: 9px" })
                            </div>
                        </div>
                    </div>
                    <!-- //Form Coulmn -->
                </div>

                <div class="row">
                    <!-- Form Coulmn -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Remarks</label>
                            <div class="col-md-8">
                                @Html.TextBox("ResultRemarks", null, new { @class = "form-control", @maxlength = "50" })
                            </div>
                        </div>
                    </div>
                    <!-- //Form Coulmn -->
                </div>

                @*data*@

                <div class="row top-space-10">
                    <div class="col-md-12">
                        <button type="button" id="Save_fillthemarks" name="save" class="btn btn-success">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*popup end*@

<script>

    $('#PassMarks').ke

    $('#ResultPublishDate').kendoDatePicker({
        value: "",
        format: "dd/MM/yyyy",
        min: '@Model.MinResultPublishDate'
    });
    $("#ResultPublishDate").attr("readonly", true);
    $('#ShowPendency_Detail').click(function () {
        $('#validation_row').hide();
        $('#pendencydetail_row').show();
    });

    $('#close_pendencydetail_div').click(function () {
        $('#pendencydetail_div').hide();
        $('#pendencydetail_row').hide();
        $('#pendencydetail_row').html('');
    });

    // class id click
    $('.clschk_class').click(function () {
        $('#validation_row').hide();
        $('#pendencydetail_row').html('');

        // check if check box checked or not
        if ($(this).prop("checked") == true)
        {
            var currentclass = $(this);
            var DateSheetId = $('#DSI').val();
            var ClassId = currentclass.attr("data-ci");

            $('#ks_loader').show();
            // ajax call for check result is done by teacher or pending
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("CheckDateSheetClassResult", "Examination"))',
                data: { "DSI": DateSheetId,"CI": ClassId },
                success: function (result) {
                    if (result.status == "success") {
                        // check list length eqaul to zero
                        if (result.data.length > 0)
                        {
                            // error
                        }
                    }
                    else {
                        ToastMessage("Result not prepared", "error", true, 5000);
                        // set pendency detail
                        for (var i = 0; i < result.data.length; i++)
                        {
                            var newrow = "<div class='row'>";
                            newrow += "<div class='col-md-3' style='padding: 0'>"
                                + "<div class='col-md-12'>"
                                + "<p class='clsstudentdet' data-id='" + result.data[i].StudentId + "'>" + result.data[i].Student + "</p>"
                                + "</div></div>";
                            // get Subject List
                            newrow += "<div class='col-md-9' style='padding: 0'>"
                            for (var j = 0; j < result.data[i].PendencySubjectList.length; j++)
                            {
                                newrow += "<div class='col-md-2' id='C_" + result.data[i].StudentId + "_" + result.data[i].PendencySubjectList[j].SubjectId + "'>"
                                    + "<a href='javascript:void(0)' class='clsexamdatesheetdet'"
                                    + "data-edsdid='" + result.data[i].PendencySubjectList[j].ExamDateSheetDetailId + "' "
                                    + "data-maxmarks='" + result.data[i].PendencySubjectList[j].MaxMarks + "'"
                                    + "data-cid='" + result.data[i].PendencySubjectList[j].SubjectId + "'>" + result.data[i].PendencySubjectList[j].Subject + "</a>"
                                    + "</div>";
                            }
                            newrow += "</div></div>";

                            $('#pendencydetail_row').append(newrow);
                        }

                        currentclass.prop("checked", false);
                        $('#pendencydetail_div').show();
                        $('#validation_row').show();
                    }
                    $('#ks_loader').hide();
                },

                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

    $('#submit_btn').click(function () {
        $('.validationsummary ul li').css("display", "none");
        $('#ks_loader').show();
        // check form valid
        var IsFormValid = ValidateForm();
        if (IsFormValid) {
            $('#ks_loader').hide();
            return true;
        }
        else {
            var msgary = validationmsg.split('ε');
            for (var i = 0; i < msgary.length; i++)
            {
                ToastMessage(msgary[i], "error", true, 5000);
            }
            $('#ks_loader').hide();
            return false;
        }
    });

    // on subject click show another pop-up 
    $(document).on("click", ".clsexamdatesheetdet", function () {
        //empty controls and html on click
        $('#marks_title_text').text('');

        $('#EDSDI').val('');
        $('#SI').val('');
        $('#CSIElement').val('');
        $('#MM').val('');
        $('#PassMarks').val('');
        $('#IsStudentAbsent').prop("checked", false);
        $('#ResultRemarks').val('');

        // current link
        var currentsubject = $(this);
        // get max amrks
        var maxmarks = currentsubject.attr("data-maxmarks");
        var titletext = " (Marks out of (" + maxmarks + "))";
        $('.marks_title_text').text(titletext);

        $('#MM').val(maxmarks); // max amrks
        // class subject id
        var csi = currentsubject.parent().attr("id");
        $('#CSIElement').val(csi);
        // exam date sheet detail id
        var edsdi = currentsubject.attr("data-edsdid");
        $('#EDSDI').val(edsdi);
        // student id
        var row = currentsubject.parent().parent().parent();
        var studentpara = row.find('.clsstudentdet');
        var si = studentpara.attr("data-id");
        $('#SI').val(si);
        // show model
        $('#fillthemarks_div').show();
    });

    // cancel click
    $('#close_fillthemarks_div').click(function () {
        // show model
        $('#marks_title_text').text('');

        $('#EDSDI').val('');
        $('#SI').val('');
        $('#CSIElement').val('');
        $('#MM').val('');
        $('#PassMarks').val('');
        $('#IsStudentAbsent').prop("checked", false);
        $('#ResultRemarks').val('');

        $('#fillthemarks_div').hide();
    });

    // save click
    $('#Save_fillthemarks').click(function () {
        $('#ks_loader').show();
        // check form validate or not
        var fromValid = ValidateFillTheMarksform();
        if (fromValid) {
            // ajax call for save data
            // create object for post
            var ExamResultModel = new Object();
            ExamResultModel.ExamResultId = 0;
            ExamResultModel.ExamDateSheetDetailId = $('#EDSDI').val();
            ExamResultModel.StudentId = $('#SI').val();
            ExamResultModel.MaxMarks = $('#MM').val();
            ExamResultModel.ObtainedMarks = $('#PassMarks').val() != "" || $('#PassMarks').val() != "0" ? parseFloat($('#PassMarks').val()) : 0;
            ExamResultModel.Remarks = $('#ResultRemarks').val();
            if ($('#IsStudentAbsent').prop("checked") == false)
                ExamResultModel.IsStudentAbsent = false;
            else
                ExamResultModel.IsStudentAbsent = true;

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SaveStudentResult", "Examination"))',
                data: ExamResultModel,
                success: function (result) {
                    if (result.status == "success") {
                        alert(result.data);
                        // delete current element
                        var element = $('#CSIElement').val();
                        $('#' + element + '').remove();

                        // clear controls
                        $('#EDSDI').val('');
                        $('#SI').val('');
                        $('#CSIElement').val('');
                        $('#PassMarks').val('');
                        $('#IsStudentAbsent').prop("checked", false);
                        $('#ResultRemarks').val('');
                        $('#marks_title_text').text('');
                        $('#fillthemarks_div').hide();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            
        }
        else {
            ToastMessage(validationerror, "error", true, 5000);
            $(ctrlfocus).focus();
            $('#ks_loader').hide();
        }
    });

    // validate fill the marks form
    var validationerror = "";
    var ctrlfocus = "";
    var IsFormValid = true;
    function ValidateFillTheMarksform()
    {
        validationerror = "";
        ctrlfocus = "";
        IsFormValid = true;

        if ($('#IsStudentAbsent').prop("checked") == false) {
            if ($('#PassMarks').val() == "") {
                if (ctrlfocus == "")
                    ctrlfocus = "#PassMarks";
                validationerror += "Pass Marks required";
                IsFormValid = false;
            }
            if ($('#PassMarks').val() != "") {
                var passmarks = parseFloat($('#PassMarks').val());
                var maxmarks = parseFloat($('#MM').val());
                if (passmarks > maxmarks) {
                    if (ctrlfocus == "")
                        ctrlfocus = "#PassMarks";
                    validationerror += "Pass marks should not be greater than to Max marks";
                    IsFormValid = false;
                }
            }
        }

        if ($('#IsStudentAbsent').prop("checked") == true)
        {
            if ($('#PassMarks').val() != "") {

                if (parseFloat($('#PassMarks').val()) > 0) {
                    if (ctrlfocus == "")
                        ctrlfocus = "#PassMarks";
                    validationerror += "If student absent , pass marks should not be greater than zero";
                    IsFormValid = false;
                }
            }
        }

        return IsFormValid;
    }

    // validate result announcement form
    var validationmsg = "";
    var IsValid = true;
    function ValidateForm()
    {
        validationmsg = "";
        IsValid = true;

        if ($('#ResultPublishDate').val() == "")
        {
            validationmsg += "Announcement date required ε";
            IsValid = false;
        }

        // get selected classes and create array
        // For validation check if any check box not checked
        var ResultAnnouncementClasses = new Array();
        var ResultAnnouncementClassesObj = new Object();
        var rowcount = 0;
        $('.classes_div label.checkbox-inline .clschk_class').each(function () {
            // current input checkbox
            var inputcheckbox = $(this);
            if (inputcheckbox.prop("checked") == true) {
                rowcount++;
                ResultAnnouncementClassesObj = new Object();
                ResultAnnouncementClassesObj.ExamResultDateId = inputcheckbox.attr("data-eri");
                ResultAnnouncementClassesObj.ClassId = inputcheckbox.attr("data-ci");
                ResultAnnouncementClasses.push(ResultAnnouncementClassesObj);
            }
        });
        // check if row count > 0 stringify array
        if (rowcount > 0) {
            $('#ResultPublishArray').val(JSON.stringify(ResultAnnouncementClasses));
        }
        else {
            validationmsg += "No Class selected";
            IsValid = false;
        }

        return IsValid;
    }

</script>