﻿@model ViewModel.ViewModel.Exam.ExamDateSheetModel

<!-- Form Row -->
<div class="row">
    <div class="col-md-6">
        <!-- Form Coulmn -->
        <div class="form-group">
            <label class="col-md-4 control-label">Grade Pattern</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.GradePatternId, Model.AvailableGradePattern, new { @class = "form-control" })
            </div>
        </div>
        <!-- //Form Coulmn -->
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">Max Marks</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.MaxMarks, new { @class = "form-control", @maxlength = "3" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<div class="row">
    <div class="col-md-6">
        <!-- Form Coulmn -->
        <div class="form-group">
            <label class="col-md-4 control-label">Pass Marks</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Passmarks, new { @class = "form-control", @maxlength = "3" })
            </div>
        </div>
        <!-- //Form Coulmn -->
    </div>
    <!-- Form Coulmn -->
</div>
<div class="row">
    <div class="text-success" id="SuccessNotification_Div" hidden>
        <div class="col-md-10  col-md-offset-2">
            <div class="successnotification"><i class="fa fa-check"></i><span></span></div>
        </div>
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12">
        <button type="button" id="Save" name="save" class="btn btn-success">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>
        <button type="button" class="btn btn-danger" id="close_div">
            <i class="fa fa-ban"></i>
            Cancel
        </button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#MaxMarks,#PassMarks").keydown(function (e) {
            NumericOnly(e);
        });

        $('#close_div').click(function () {
            $('#markspattern_div').hide();
        });

        $('#Save').click(function () {
            $('.errornotification span').text('');
            var formvalid = ValidateGroupFeeType();
            if (formvalid) {
                var MarksPatternModel = new Object();
                MarksPatternModel.GradePatternId = $('#GradePatternId').val();
                MarksPatternModel.MaxMarks = $('#MaxMarks').val();
                MarksPatternModel.PassMarks = $("#Passmarks").val();

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("SaveNewMarksPattern", "Examination"))',
                    data: MarksPatternModel,
                    success: function (result) {
                        if (result.status == "success") {
                            $('.clsexampattern').append($('<option>', {
                                value: result.MarksPatternId,
                                text: result.MarksPatrn,
                                selected: false
                            }));
                            $('#markspattern_div').hide();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                ToastMessage(validationmessage, "error", true, 5000);
                $(ctrlfocus).focus();
            }
        });
    });

    var valid = true;
    var validationmessage = "";
    var ctrlfocus = "";
    function ValidateGroupFeeType() {
        valid = true;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#GradePatternId').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#GradePatternId";
            validationmessage = validationmessage + "Please select Grade Pattern \n";
            valid = false;
        }
        if ($('#MaxMarks').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#MaxMarks";
            validationmessage = validationmessage + "Please enter Maxmarks \n";
            valid = false;
        }
        if ($('#Passmarks').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#Passmarks";
            validationmessage = validationmessage + "Please enter PassMarks \n";
            valid = false;
        }
        if ($('#MaxMarks').val() != "" && $('#Passmarks').val() != "")
        {
            var maxmarks = parseFloat($('#MaxMarks').val());
            var passmarks = parseFloat($('#Passmarks').val());
            if (passmarks > maxmarks)
            {
                if (ctrlfocus == "")
                    ctrlfocus = "#Passmarks";
                validationmessage = validationmessage + "Passmarks should be less than from Maxmarks \n";
                valid = false;
            }

        }

        return valid;
    }

</script>

