﻿@model ViewModel.ViewModel.Exam.ExamDateSheetModel
@{
    string Host = Request.Url.AbsolutePath;
    Host = Host.Split('/')[1];
    if (Request.Url.AbsoluteUri.Contains("localhost"))
    {
        Host = "";
    }
}


@Html.HiddenFor(m => m.ExamDateSheetId)
@Html.Hidden("DateSheetFromDate")
@Html.Hidden("DateSheetToDate")

<script src="~/Scripts/jquery.table2excel.min.js"></script>
<!-- Existing Date Sheets -->
<div id="examdatesheet_grid">
    <div class="col-md-6">
        <h4>DateSheets</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="datesheet_grid" class="table table-bordered table-responsive">
                <thead class="thead-default">
                    <tr>
                        <th>Exam Activity</th>
                        <th>DateSheet Name</th>
                        <th>From Date</th>
                        <th>Till Date</th>
                        @if (Model.IsAdmin)
                        {
                            <th>Publish</th>
                        }
                        @if (Model.IsAuthToViewResult)
                        { 
                        <th class="text-center">Action</th>}
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ExamDateSheetList)
                    {
                        <tr>
                            <td style="display: none">@item.ActivityId</td>
                            <td style="display: none">@item.DateSheetId</td>
                            <td>@item.ActivityName</td>
                            <td>@item.DateSheet</td>
                            <td>@item.FromDate</td>
                            <td>@item.ToDate</td>
                            @if (Model.IsAdmin)
                            {
                                <td>@item.Publish</td>
                            }
                            @if (Model.IsAuthToViewResult)
                            { 
                            <td class="text-center">
                                @if (!item.IsDeleted)
                                {
                                    <a href="javascript:void(0)" title="View DateSheet Detail" data-toggle="tooltip" data-placement="top" class="clsupdatedsd btn btn-xs btn-default"><i class="fa fa-eye"></i></a>
                                    if (!Model.IsAdmin && (item.IsPublishResult == true))
                                    {
                                        <a href="@Url.Content("~/Examination/ViewResult?DSI=" + item.DateSheetId + "")" title="View Result" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default"><i class="fa fa-list-alt"></i></a>
                                    }
                                }
                            </td>}
                            <td style="display: none" class="clsispublish">@item.IsPublished</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Existing Date Sheets -->
<!-- Exam Date Sheet Detail -->

<div id="examdatesheet_detail" hidden>
    @if (Model.IsAdmin)
    {
        <div class="row top-space-10">
            <div class="col-md-5">
                <label class="radio-inline"><input type="radio" name="datesheetview" id="ByDate" /> DateSheet By Date</label>

                <label class="radio-inline"><input type="radio" name="datesheetview" id="ByClass" /> DateSheet By Class</label>
            </div>
        </div>
    }

    <div class="row top-space-20 DateWise" hidden>

        <div class="col-md-2">
            <label class="col-md-8 control-label">All Dates:</label>
            <div class="col-md-4">
                <input type="checkbox" id="AllDates" />
            </div>
        </div>

        <div class="col-md-4">
            <label class="col-md-3 control-label">ExamDate:</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.ExamDate, new { @class = "" })
            </div>
        </div>

    </div>

    @if (Model.IsAdmin)
    {
        <div class="row top-space-20 ClassWise" hidden>

            <div class="col-md-4">
                <label class="col-md-3 control-label">Class:</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control" })
                </div>
            </div>

        </div>
    }

    <div class="row top-space-10 DateWise" hidden>
        <div class="col-md-12" id="DateWiseDateSheet">
            <table id="classsubject_grid" class="table  table-striped table-bordered table-responsive">
                <thead class="thead-default">
                    <tr>
                        <th style="width: 10%">Date</th>
                        <th style="width: 25%">Class</th>
                        <th style="width: 10%">Subject</th>
                        <th style="width: 15%">Time Slot</th>
                        @if (Model.IsAdmin)
                        {
                            <th style="width: 15%">Marks Pattern</th>
                        }
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    @if (Model.IsAdmin)
    {
        <div class="row top-space-10 ClassWise" hidden>
            <div class="col-md-12" id="ClassWiseDateSheet">
                <table id="datesheetbyclass_grid" class="table table-striped table-bordered table-responsive">
                    <thead class="thead-default">
                        <tr>
                            <th style="width: 25%">Class</th>
                            <th style="width: 10%">Date</th>
                            <th style="width: 10%">Subject</th>
                            <th style="width: 15%">Time Slot</th>
                            @if (Model.IsAdmin)
                            {
                                <th style="width: 15%">Marks Pattern</th>
                            }
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    }

</div>

<!-- Exam Date Sheet Detail -->


<script>

     @if (!Model.IsAdmin)
     {
         <text>
    $('.DateWise').show();

    </text>

     }

    $('#ByDate').click(function () {
        $('.ClassWise').hide();
        $('.DateWise').hide();

        $('#classsubject_grid tbody').html('');
        $('#datesheetbyclass_grid tbody').html('');

        $('#AllDates').removeAttr("checked");
        $("#ExamDate").data('kendoDatePicker').enable(true);
        $("#ExamDate").attr("readonly", true);
        $('#ClassId').val("");

        $('#ExporttoexcelDS').hide();
        $('#printDS').hide();

        if ($(this).prop("checked") == true) {
            $('.DateWise').show();
        }

    });

    $('#ByClass').click(function () {
        $('.ClassWise').hide();
        $('.DateWise').hide();

        $('#classsubject_grid tbody').html('');
        $('#datesheetbyclass_grid tbody').html('');

        $('#AllDates').removeAttr("checked");
        $("#ExamDate").data('kendoDatePicker').enable(true);
        $("#ExamDate").attr("readonly", true);
        $('#ClassId').val("");

        $('#ExporttoexcelDS').hide();
        $('#printDS').hide();

        if ($(this).prop("checked") == true) {
            $('.ClassWise').show();
        }
    });

    $('#AllDates').change(function () {

        $('#ExporttoexcelDS').hide();
        $('#printDS').hide();

        $("#ExamDate").data('kendoDatePicker').enable(true);
        $("#ExamDate").removeAttr("readonly");
        $("#ExamDate").val("");
        $("#ExamDate").attr("readonly", true);

        $('#classsubject_grid tbody').html('');

        if ($(this).prop("checked") == true) {

            $("#ExamDate").data('kendoDatePicker').enable(false);

            GetDateSheetByDate(null);
        }

    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function () {

        $('#back_to_list').hide();
        $('#ExporttoexcelDS').hide();
        $('#printDS').hide();

        $('#back_to_list').click(function () {
            window.location.reload();
        });

        // edit Date Sheet Detail
        $(document).on("click", ".clsupdatedsd", function () {
            var row = $(this).parent().parent();
            // Exam DateSheet Id
            $('#ExamDateSheetId').val(row.find("td:nth-child(2)").text());
            $('#examdatesheet_grid').hide();
            $('#examdatesheet_detail').show();
            var text = row.find("td:nth-child(4)").text() + "(" + row.find("td:nth-child(5)").text() + "-" + row.find("td:nth-child(6)").text() + ")";
            $('.FormHeading').text(text);
            $('#back_to_list').show();
            $('#DateSheetFromDate').val(row.find("td:nth-child(5)").text());
            $('#DateSheetToDate').val(row.find("td:nth-child(6)").text());

            // Min Date
            var mindate = GetDateFromString($('#DateSheetFromDate').val());
            // max date
            var maxdate = GetDateFromString($('#DateSheetToDate').val());

            $("#ExamDate").removeAttr("readonly");
            $("#ExamDate").val("");

            $("#ExamDate").kendoDatePicker({
                value: "",
                min: mindate,
                max: maxdate,
                format: "dd/MM/yyyy"
            });

            $("#ExamDate").attr("readonly", true);
            $('#ClassId option:not(:first-child)').remove();

            // get date sheet classes
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetClassesByDateSheet", "Examination"))',
                data: { "ExamDateSheet": $('#ExamDateSheetId').val() },
                success: function (result) {
                    if (result.status == "success") {
                        for (var i = 0; i < result.data.length; i++) {
                            var option = "<option value=" + result.data[i].Value + "> " + result.data[i].Text + "</option>";
                            $('#ClassId').append(option);
                        }
                    }

                    $('#ks_loader').hide();
                },
                error: function (status, data) {
                    var err = "Error: " + status + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        });

        // get class subject with detail on change class
        $('#ExamDate').on("change", function () {

            $('#ExporttoexcelDS').hide();
            $('#printDS').hide();

            $('#classsubject_grid tbody').html('');

            var ExamDate = $(this).val();
            if (ExamDate != "") {
                ExamDate = GetDateFromString(ExamDate);
                GetDateSheetByDate(ExamDate);
            }
        });

        // get class subject with detail on change class
        $('#ClassId').on("change", function () {

            $('#ExporttoexcelDS').hide();
            $('#printDS').hide();

            $('#datesheetbyclass_grid tbody').html('');

            var Class = $(this).val();
            if (Class != "") {
                GetDateSheetClass(Class);
            }
        });
    });

    function GetDateSheetByDate(ExamDate) {
        $('#ks_loader').show();

        var ExamDateSheet = $('#ExamDateSheetId').val();

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetDateSheetByExamDate", "Examination"))',
            data: { "ExamDateSheet": ExamDateSheet, "ExamDate": ExamDate },
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var newrow = '<tr>'
                            + '<td>' + result.data[i].ExamDateStr + '</td>'
                            + '<td>' + result.data[i].ClassName + '</td>'
                            + '<td>' + result.data[i].SubjectName + '</td>'
                            + '<td>' + result.data[i].ExamTimeSlotStr + '</td>'
                            @if(Model.IsAdmin)
                            {
                                <text>
                                + '<td>' + result.data[i].MarksPatternStr + '</td>'
                                </text>
                            }
                        + '</tr>';

                        $('#classsubject_grid tbody').append(newrow);
                    }

                    if (result.data.length == 0) {
                        var row = "<tr><td class='text-center' colspan='5'>No data found</td></tr>";
                        $('#classsubject_grid tbody').append(row);
                    }
                    else {
                        $('#ExporttoexcelDS').show();
                        $('#printDS').show();
                    }
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }

                $('#ks_loader').hide();
            },
            error: function (status, data) {
                var err = "Error: " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

    function GetDateSheetClass(Class) {
        $('#ks_loader').show();

        var ExamDateSheet = $('#ExamDateSheetId').val();

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetDateSheetByClass", "Examination"))',
            data: { "ExamDateSheet": ExamDateSheet, "Class": Class },
            success: function (result) {
                if (result.status == "success") {
                    for (var i = 0; i < result.data.length; i++) {
                        var newrow = '<tr>'
                            + '<td>' + result.data[i].ClassName + '</td>'
                            + '<td>' + result.data[i].ExamDateStr + '</td>'
                            + '<td>' + result.data[i].SubjectName + '</td>'
                            + '<td>' + result.data[i].ExamTimeSlotStr + '</td>'
                            @if(Model.IsAdmin)
                            {
                                <text>
                                + '<td>' + result.data[i].MarksPatternStr + '</td>'
                                </text>
                            }
                        + '</tr>';

                        $('#datesheetbyclass_grid tbody').append(newrow);
                    }

                    if (result.data.length == 0) {
                        var row = "<tr><td class='text-center' colspan='5'>No data found</td></tr>";
                        $('#datesheetbyclass_grid tbody').append(row);
                    }
                    else {
                        $('#ExporttoexcelDS').show();
                        $('#printDS').show();
                    }
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }

                $('#ks_loader').hide();
            },
            error: function (status, data) {
                var err = "Error: " + status + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    }

    // function get date as string and return date
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }


    // Print and Export
    $('#printDS').click(function () {
        PrintDS();
    });

    function exportexcel() {

        @if (!Model.IsAdmin)
        {
            <text>
        $("#classsubject_grid").table2excel({
            name: "Table2Excel",
            filename: "DateSheet",
            fileext: ".xls"
        });
        </text>
        }
        else
        {
            <text>
        if ($('#ByDate').prop("checked") == true)
            $("#classsubject_grid").table2excel({
                name: "Table2Excel",
                filename: "DateSheet",
                fileext: ".xls"
            });
        else if ($('#ByClass').prop("checked") == true)
            $("#datesheetbyclass_grid").table2excel({
                name: "Table2Excel",
                filename: "DateSheet",
                fileext: ".xls"
            });
        </text>
        }
    }

    $(document).bind("keyup keydown", function (e) {
        if (e.ctrlKey && e.keyCode == 80) {
            PrintDS();
        }
    });

    function PrintDS() {
        var w = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1');

        var href = "";
        @if (Request.Url.AbsoluteUri.Contains("localhost"))
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }
        else if (Request.Url.AbsoluteUri.Contains("digitech.com"))
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }
        else
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }

        var htmlStart =
            '<!DOCTYPE html>' +
            '<html>' +
            '<head>' +
            '<meta charset="utf-8" />' +
            '<title>Date Sheet</title>' +
            '<link href="' + href + '" rel="stylesheet" /> ' +
            '<style>' +
            'html { font: 11pt sans-serif; }' +
            '.thead-default th {color: #464a4c;background-color: #eceeef;}' +
            '</style>' +
            '</head>' +
            '<body  id="print-data">';

        var htmlEnd =
                '</body>' +
                '</html>';

        var heading = '<div  style="width:100%; overflow:hidden; border:1px dashed #000 !important;"><div style="padding:10px;">';
        var childheading = '<table style="width:100%;font-size:12px;padding: 10px;margin: 0 0 10px 0px; font-family:arial;" border="0" cellpadding="5">' +
                             //'<tr style="text-align:center;">' +
                             //'<td colspan="2"><h1>Admission Slip</h1></td></tr>' +
                                '<tr>' +
                                '<td width="100" style="text-align:left">' +
                                        '<img src="' + '@Model.SchoolLogoPath' + '" width="100" height="100" />' +
                                                '</td>' +
                                    '<td>' +
                                        '<h2 style="float:left">' + '@Model.SchoolName' + '</h2>' +
                                    '</td>' +
                                     '<td>' +
                                     '<h3 id="SchoolAddress" style="float:right">'
                                          + '@Html.Raw(Html.Encode(Model.SchoolAddress).Replace("\n", "<br />"))' + ' </h3>'
                                          + '</td>'
                                            '</tr>' +
                                        '</table></div><hr/>';

        var doc = w.document.open();

        @if (!Model.IsAdmin)
        {
            <text>
        doc.write(htmlStart + heading + childheading + $('#DateWiseDateSheet').html() + htmlEnd);
        </text>
        }
        else
        {
            <text>
        if ($('#ByDate').prop("checked") == true)
            doc.write(htmlStart + heading + childheading + $('#DateWiseDateSheet').html() + htmlEnd);
        else if ($('#ByClass').prop("checked") == true)
            doc.write(htmlStart + heading + childheading + $('#ClassWiseDateSheet').html() + htmlEnd);
        </text>
        }

        doc.close();
        setTimeout(function () {
            w.print();
            //w.close();
        }, 500);
    }

</script>