﻿@model ViewModel.ViewModel.Exam.Fillthemarksmodel

@if (!string.IsNullOrEmpty(Model.ActivityName))
{<label>
        @Model.ActivityName<br />
    </label>
}
@if (!Model.IsExamDatesheetDetail)
{
    <br /><label style="color:red;" id="ErrorMessge">@ViewData["ErrorFillSkillMarks"]</label><br />
}
else
{
    <div class="row top-space-10" id="allclasssubject_grid">
        <label>Class:</label>
        @Html.DropDownListFor(m => m.ClassId, Model.AvailableClasses)
    </div>
}
@*<div class="row top-space-10" id="allclasssubject_grid">
    <label>Class:</label>
    @Html.DropDownListFor(m => m.ClassId, Model.AvailableClasses)
</div>*@
<style>
    a {
        color:black;
    }
</style>
<div class="row top-space-20 skillSubjects" style="display:none">
    <div class="row fillmarksStudentList" style="background-color: #f4f7f5;display:none">
        <div class="col-md-12">
            <h5 class="classhead"> </h5>
            <label class="skillmarkssubject"></label>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-responsive marksList">
                <thead class="thead-default">
                </thead>
                <tbody class="skillmarksbody"></tbody>
            </table>
            <div class="col-md-12">
                <button type="button" id="cancelStudentMarkList" style="float:right;display:none" class="btn btn-default CancelMarksButton">Cancel</button>
                <button type="button" id="savescholasticStudentMarkList" style="float:right;display:none" class="btn btn-success saveSchoButton">Save</button>
                <button type="button" id="saveCOscholasticStudentMarkList" style="float:right;display:none" class="btn btn-success saveCoSchoButton">Save</button>
                <button type="button" id="saveOtherDetailsStudentMarkList" style="float:right;display:none" class="btn btn-success saveOtherDetailsButton">Save</button>
            </div>
        </div>
    </div>
    <div class="top-space-10 marksTable">
        <table class="table table-bordered table-striped table-responsive">
            <thead class="thead-default">
                <tr>
                    <th>Skill Type</th>
                    <th>Skill</th>
                    <th>Sub-Skill</th>
                    <th>Action</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody class="fillSkillsByClass"></tbody>
        </table>
    </div>
</div>


@Html.HiddenFor(m => m.ExamDateSheetId)


<script>
    var IsClassResultAnnounce = false;
    @if (Model.IsClassResultAnnounce==true)
    {
       <text>
    IsClassResultAnnounce = true;
</text>
    }

    function ClearMArksTable() {
        $(".marksList >thead").html("");
        $(".marksList >tbody").html("");
        $(".classhead").text("");
        $(".skillmarkssubject").text("");
        $(".saveSchoButton").hide();
        $(".saveCoSchoButton").hide();
        $(".saveOtherDetailsButton").hide();
        $(".fillmarksStudentList").hide();
        $(".CancelMarksButton").hide();
     }
    $(document).on("keypress", "#presentDaystb", function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    })
    $(document).on("keypress", "#totalDaystb", function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    })
    $('#ClassId').change(function () {
        var classid = $(this).val();
        var ExamDateSheetId = $('#ExamDateSheetId').val();
        ClearMArksTable();
        $(".skillSubjects").hide();
        $(".scholasticSubjects").hide();
        $(".coscholasticSubjects").hide();
        $(".otherdetails").hide();
        $(".fillSkillsByClass").html("");
        if (ExamDateSheetId != "" && ExamDateSheetId != null && classid != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetSkillDetailList", "Examination"))',
                data: { "ClassId": classid, "DSI": ExamDateSheetId },
                success: function (result) {
                    if (result.status == "success") {
                        // Scholastic  Subjects
                        //var ScholasticHtml = ""; var scholasticBttnhtml = "";
                        //if (result.Fillthemarkslist.length > 0) {
                        //    $(".skillSubjects").show();
                        //    $(".scholasticSubjects").show();
                        //}
                        //ScholasticHtml += "<div class='col-md-3'>";
                        //scholasticBttnhtml += "<div class='col-md-3'>";

                        //$.each(result.Fillthemarkslist, function () {
                        //    ScholasticHtml += "<label>" + this.SubjectName + "</label><br />";
                        //    scholasticBttnhtml += "<label><a title='Fill Marks Of "+this.SubjectName+"' href='javascript:void(0);' data-clssubject='" + this.ClassSubjectId + "' data-examdatesheetdetailid='" + this.ExamDateSheetDetailId + "' data-SubjectName='"+this.SubjectName+"'  class ='fillScholasticMarks' style='height:30px'>Fill Marks</a></label><br />";
                        //});

                        //ScholasticHtml += "</div>";
                        //scholasticBttnhtml += "</div>";
                        //ScholasticHtml += scholasticBttnhtml;
                        //$(".ScholasticDiv").append(ScholasticHtml);

                        // fillSkillsByClass
                        if (result.Fillthemarkslist.length > 0) {
                            $(".skillSubjects").show();
                            var Scholastichtmltr = "";
                            var rowspn = result.Fillthemarkslist.length ;
                            var count = 0;
                            $.each(result.Fillthemarkslist, function () {
                                Scholastichtmltr += "<tr>";
                                if (count == 0)
                                Scholastichtmltr += "<td rowspan='" + rowspn + "'>Scholastic</td>"
                                Scholastichtmltr += "<td>" + this.SubjectName + "</td>";
                                Scholastichtmltr += "<td></td>";
                                Scholastichtmltr += "<td><a title='Fill Marks Of " + this.SubjectName + "' href='javascript:void(0);' data-clssubject='" + this.ClassSubjectId + "' data-examdatesheetdetailid='" + this.ExamDateSheetDetailId + "' data-SubjectName='" + this.SubjectName + "'  class ='fillScholasticMarks btn btn-xs btn-default'><i class='fa fa-bitbucket'></i></a>";
                                Scholastichtmltr += "<a title='Clear Marks Of " + this.SubjectName + "' href='javascript:void(0);' data-clssubject='" + this.ClassSubjectId + "' data-examdatesheetdetailid='" + this.ExamDateSheetDetailId + "' class ='ClearScholasticMarks btn btn-xs btn-default' style='margin-left: 3px;'><i class='fa fa-trash'></i></a>";
                                Scholastichtmltr += "</td>";
                                Scholastichtmltr += "</tr>";
                                count++;
                            });
                            $(".fillSkillsByClass").append(Scholastichtmltr);
                        }
                        //fill CoScholastic
                        if (result.CoScholasticList.length > 0) {
                            $(".skillSubjects").show();
                            var cnt = 0;
                            var rwspn = result.CoSchoCount;
                            var CoScholastichtmltr = "";
                            for (var i = 0; i < result.CoScholasticList.length; i++) {

                                var skilldetail = false;
                                $.each(result.CoScholasticList[i], function () {
                                     CoScholastichtmltr += "<tr>";
                                    if(cnt==0)
                                        CoScholastichtmltr += "<td rowspan='" + rwspn + "'>Co-Scholastic</td>"
                                    if (this.IsSkillDetail) {
                                        if (skilldetail == false)
                                            CoScholastichtmltr += "<td rowspan='" + result.CoScholasticList[i].length + "'>" + this.ExamTermEndSkill + "</td>";

                                        CoScholastichtmltr += "<td>" + this.ExamtermendSkillDetail + " </td>";
                                        if (skilldetail == false) {
                                            CoScholastichtmltr += "<td rowspan='" + result.CoScholasticList[i].length + "'><a title='Fill Marks Of" + this.ExamTermEndSkill + "' data-ExamTermSkillName='" + this.ExamTermEndSkill + "' href='javascript:void(0);' data-isSkillDetail='false' data-ExamTermEndSkillId='" + this.ExamTermEndSkillId + "' class='fillCoScholasticMarks btn btn-xs btn-default'><i class='fa fa-bitbucket'></i></a>";
                                            CoScholastichtmltr += "<a title='Clear Marks Of " + this.ExamTermEndSkill + "'  href='javascript:void(0);' data-isSkillDetail='false' data-ExamTermEndSkillId='" + this.ExamTermEndSkillId + "' class='ClearCoScholasticMarks btn btn-xs btn-default' style='margin-left: 3px;'><i class='fa fa-trash'></i></a>";
                                            CoScholastichtmltr += "</td>";
                                        }
                                        skilldetail = true;
                                    }
                                    else {
                                        CoScholastichtmltr += "<td>" + this.ExamTermEndSkill + "</td>";
                                        CoScholastichtmltr+="<td></td>"
                                        CoScholastichtmltr += "<td><a title='Fill Marks Of " + this.ExamTermEndSkill + "' data-ExamTermSkillName='" + this.ExamTermEndSkill + "' href='javascript:void(0);' data-isSkillDetail='false' data-ExamTermEndSkillId='" + this.ExamTermEndSkillId + "' class='fillCoScholasticMarks btn btn-xs btn-default'><i class='fa fa-bitbucket'></i></a>"
                                        CoScholastichtmltr += "<a title='Clear Marks Of " + this.ExamTermEndSkill + "'  href='javascript:void(0);' data-isSkillDetail='false' data-ExamTermEndSkillId='" + this.ExamTermEndSkillId + "' class='ClearCoScholasticMarks btn btn-xs btn-default' style='margin-left: 3px;'><i class='fa fa-trash'></i></a>";
                                        CoScholastichtmltr += "</td > ";
                                    }
                                      CoScholastichtmltr += "</tr>";
                                    cnt++;
                                });
                            };
                             $(".fillSkillsByClass").append(CoScholastichtmltr);
                        }

                    var Othrdtlhtml = "";
                        Othrdtlhtml += "<tr><td rowspan='6'>Other Details</td>";
                        Othrdtlhtml += "<td rowspan='6'>Other Details</td>";
                        Othrdtlhtml += "<td>Height(in @Model.UnitForHeight)</td>";
                        Othrdtlhtml += "<td rowspan='6'><a title='Fill Other Details (Height, Weight, Blood Group, Present Days, Total Days)' class='fillOtherDetails btn btn-xs btn-default' href='javascript:void(0);'><i class='fa fa-bitbucket'></i></a>";
                        Othrdtlhtml += "<a title='Clear Other Details' class='ClearOtherDetails btn btn-xs btn-default' href='javascript:void(0);'><i class='fa fa-trash'></i></a>";
                        Othrdtlhtml += "</td ></tr > ";
                        Othrdtlhtml += "<tr><td>Weight(in @Model.UnitForWeight)</td></tr>";
                        Othrdtlhtml += "<tr><td>Blood Group</td></tr>";
                        Othrdtlhtml += "<tr><td>Present Days</td></tr>";
                        Othrdtlhtml += "<tr><td>Total Days</td></tr>";
                       
                        $(".fillSkillsByClass").append(Othrdtlhtml);
                     $('#ks_loader').hide();
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage(result.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });
    var EDS = ""; var ClassSubjectId = ""; var edsdtl = ""; var selectedclassid = ""; var SUbjectname = "";
    $(document).on('click', '.fillScholasticMarks', function () {
        SUbjectname = $(this).attr("data-SubjectName");
        ClassSubjectId = $(this).attr('data-clssubject');
        edsdtl=$(this).attr('data-examdatesheetdetailid')
        selectedclassid = $('#ClassId').val();
        EDS = $('#ExamDateSheetId').val();
        ClearMArksTable();
        if (ClassSubjectId != "" && EDS != "" && selectedclassid != "" && edsdtl != "") {
        $(".classhead").html("<b>Class : </b>"+$('#ClassId :selected').text());
        $(".skillmarkssubject").text("Scholastic Skill Marks Of "+SUbjectname+"");
            fillScholasticMarks(ClassSubjectId, EDS, selectedclassid, edsdtl);
        }
    });
    function fillScholasticMarks(ClassSubjectId, EDS, selectedclassid, edsdtl) {
          $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetStudentsForFillScholasticMarks", "Examination"))',
                data: {"ClassSubjectId":ClassSubjectId, "ClassId": selectedclassid, "DSI": EDS ,"DSSTL":edsdtl},
                success: function (result) {
                    if (result.status == "success") {
                        var thead = "<tr>";
                        var tbody = "";
                        var IfAnyBinded = false;
                        if (result.StudentList.length > 0) {
                            $.each(result.StudentList, function () {
                                tbody += '<tr data-StudentId="' + this.StdId + '" data-ExamTermActivitySkillsId="' + this.ExamTermActivitySkillsId + '">'
                                tbody += '<td>' + this.ROllNo + '</td>';
                                tbody += '<td>' + this.StdName + '</td>';
                                tbody += '<td>' + this.AdmnNo + '</td>';
                                $.each(this.StudentExamTermEndSkillList, function () {
                                    if (this.IsBinded) {
                                        IfAnyBinded = true;
                                        tbody += '<td><input class="ExamTermSkillValueTextBox checkdecimal" type="text" data-ExamTermEndSkillId="' + this.ExamTermEndSkillId + '" data-ExamTermActivityDetailId="' + this.ExamTermActivityDetailId + '" value="' + this.Value + '"/></td>';
                                    }
                                    else
                                        tbody += '<td></td>';
                                });
                                tbody += '</tr>';
                            });
                            $(".marksList >tbody").append(tbody);
                           
                             thead += "<th>RollNo</th>";
                             thead += "<th>Name</th>";
                            thead += "<th>Admn No</th>";
                             var HeaderArray = result.Header.split(',');
                            $.each(HeaderArray, function () {
                                var split = this.split('ε');
                                thead += "<th class='thexamtermendskillid' data-headid='"+split[1]+"'>" + split[0] + "</th>";
                            });
                            thead += '</tr>';
                            $(".marksList >thead").append(thead);
                            if (IfAnyBinded)
                                $(".saveSchoButton").show();

                            $(".CancelMarksButton").show();
                            $(".fillmarksStudentList").show();
                              $("html").scrollTop("200");
                             $('#ks_loader').hide();
                        } else {
                            ToastMessage("No Student Found", "error", true, 5000);
                             $('#ks_loader').hide();
                        }
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
    }

    $('#savescholasticStudentMarkList').click(function () {
        var ExamTermEndSkillMarksModel = new Object();
        var StudentMarksModel = new Object();
        var StudentMarksList = new Array();
        var StudentExamTermEndSkillMarks = new Object();
        var StudentSkillMarksList = new Array();

        ExamTermEndSkillMarksModel.ExamDateSheetId = $('#ExamDateSheetId').val();
        ExamTermEndSkillMarksModel.ClassSubjectId = ClassSubjectId;

        // add for delete in array
            let exmtermendidarr = new Array();
            let exmtermActivitySkillIdarr = new Array();
        $(".thexamtermendskillid").each(function () {
            if ($(this).attr("data-headid") != "") 
               exmtermendidarr.push($(this).attr("data-headid"));
        });
        ExamTermEndSkillMarksModel.ExamTermEndSkillIdArray = exmtermendidarr;
        $(".skillmarksbody tr").each(function () {
            var row = $(this);
            StudentMarksModel = new Object();
            StudentSkillMarksList = new Array();
            StudentMarksModel.StudentId = row.attr("data-StudentId");
            StudentMarksModel.ExamTermActivitySkillId = row.attr("data-ExamTermActivitySkillsId");
            if (StudentMarksModel.ExamTermActivitySkillId != "") {
                exmtermActivitySkillIdarr.push(StudentMarksModel.ExamTermActivitySkillId);
            }
            var Examtermendskilvalues = row.find(".ExamTermSkillValueTextBox");
            $(Examtermendskilvalues).each(function () {
                StudentExamTermEndSkillMarks = new Object();
                StudentExamTermEndSkillMarks.ExamTermEndSkillId = $(this).attr("data-ExamTermEndSkillId");
                StudentExamTermEndSkillMarks.ExamTermEndSkillValue = $(this).val();
                StudentSkillMarksList.push(StudentExamTermEndSkillMarks);
              });
            StudentMarksModel.StudentSkillMarksList = StudentSkillMarksList;
            StudentMarksList.push(StudentMarksModel);
        });

        ExamTermEndSkillMarksModel.ExamTermActivitySkillIdArray = exmtermActivitySkillIdarr;
        ExamTermEndSkillMarksModel.StudentMarksList = StudentMarksList;
        if (ExamTermEndSkillMarksModel.ExamDateSheetId != "" && ExamTermEndSkillMarksModel.ClassSubjectId != "") {
             $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SaveScholasticMarksStudentList", "Examination"))',
                data: { "model": ExamTermEndSkillMarksModel },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);
                        ClearMArksTable();
                        //openSavedMarksList
                       //////   $(".classhead").html("<b>Class : </b>"+$('#ClassId :selected').text());
                       //////   $(".skillmarkssubject").text("Scholastic Skill Marks Of "+SUbjectname+"");
                       //////fillScholasticMarks(ClassSubjectId, EDS, selectedclassid, edsdtl);
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })
        }
        else {
            if (ExamTermEndSkillMarksModel.ExamDateSheetId == "")
                ToastMessage("Ivalid ExamDatesheet", "error", true, 5000);
            if (ExamTermEndSkillMarksModel.ClassSubjectId == "")
                ToastMessage("Ivalid ClassSubject", "error", true, 5000);
            return false;
        }
    });

    $("#cancelStudentMarkList").click(function () {
        $(".marksList >tbody").html("");
        $(".fillmarksStudentList").hide();
    });

    var CoSChoExamTermEndSkillId=""; var SchoExamTermSkillDetailId = ""; var CoSchoExamTermEndSKillName
    $(document).on('click', '.fillCoScholasticMarks', function () {
        var IsTermSkillDetail = $(this).attr("data-isSkillDetail");
        CoSChoExamTermEndSkillId = $(this).attr("data-ExamTermEndSkillId");
        CoSchoExamTermEndSKillName = $(this).attr("data-ExamTermSkillName");
        ClearMArksTable();
        $(".classhead").html("<b>Class : </b>" + $('#ClassId :selected').text());
        $(".skillmarkssubject").text("Co-Scholastic Skill Marks Of " + CoSchoExamTermEndSKillName + "");

        EDS = $('#ExamDateSheetId').val();
        selectedclassid = $('#ClassId').val();
        SchoExamTermSkillDetailId = "0";
        if (IsTermSkillDetail == "true") {
            SchoExamTermSkillDetailId = $(this).attr("data-ExamTermEndSkillDetail");
        }
        if (CoSChoExamTermEndSkillId != "" && selectedclassid != "" && EDS != "") {
            FillcoSchoLasticMarks(CoSChoExamTermEndSkillId, selectedclassid, EDS);
        } else {
            ToastMessage("InValid Details", "error", true, 5000);
            $('#ks_loader').hide();
        }
    });

    function FillcoSchoLasticMarks(CoSChoExamTermEndSkillId, selectedclassid, EDS) {
        if (CoSChoExamTermEndSkillId != "" && selectedclassid != "" && EDS != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetStudentsForFillCoScholasticMarks", "Examination"))',
                data: { "ExamTermEndSkillId": CoSChoExamTermEndSkillId, "SchoExamTermSkillDetailId": SchoExamTermSkillDetailId, "ClassId": selectedclassid, "DSI": EDS },
                success: function (result) {
                    if (result.status == "success") {
                        var thead = "<tr>";
                        var tbody = "";
                        var IfAnyBinded = false;
                        if (result.StudentList.length > 0) {

                            var HeaderArray = result.Header.split(',');
                            thead += "<th>RollNo</th>";
                            thead += "<th>Name</th>";
                            thead += "<th>Admn No</th>";
                            if (HeaderArray.length > 3) {
                                $.each(HeaderArray, function () {
                                    var hdrsplit = this.split('ϵ');
                                        if (hdrsplit[0] > 15) {
                                            thead += "<th class='thexamtermendskillid' data-exmtermendskillid='"+hdrsplit[1]+"' data-exmtermendskilldetailid='"+hdrsplit[2]+"' title='" + hdrsplit[0] + "'>" + hdrsplit[0].substr(0, 12) + "...</th>";
                                        } else {
                                            thead += "<th class='thexamtermendskillid' data-exmtermendskillid='"+hdrsplit[1]+"' data-exmtermendskilldetailid='"+hdrsplit[2]+"'>" + hdrsplit[0] + "</th>";
                                        }
                                });
                            } else {
                                $.each(HeaderArray, function () {
                                      var hdrsplit = this.split('ϵ');
                                    if (hdrsplit[0].length > 30) {
                                        thead += "<th class='thexamtermendskillid' data-exmtermendskillid='"+hdrsplit[1]+"' data-exmtermendskilldetailid='"+hdrsplit[2]+"' title='"+hdrsplit[0]+"'>" + hdrsplit[0].substr(0, 27) + "...</th>";
                                    } else {
                                        thead += "<th class='thexamtermendskillid' data-exmtermendskillid='"+hdrsplit[1]+"' data-exmtermendskilldetailid='"+hdrsplit[2]+"'>" + hdrsplit[0] + "</th>";
                                    }
                                });
                            }
                            thead += '</tr>';
                            $(".marksList >thead").append(thead);


                            $.each(result.StudentList, function () {
                                tbody += '<tr data-StudentId="' + this.StdId + '" data-ExamTermActivitySkillsId="' + this.ExamTermActivitySkillsId + '">'
                                tbody += '<td>' + this.ROllNo + '</td>';
                                tbody += '<td>' + this.StdName + '</td>';
                                tbody += '<td>' + this.AdmnNo + '</td>';
                                $.each(this.StudentExamTermEndSkillList, function () {
                                    IfAnyBinded = true;
                                    if (HeaderArray.length > 6) {
                                        tbody += '<td><input style="width:70%" class="ExamTermSkillValueTextBox" IsSkillDetail="' + this.IsSkillDetail + '" type="text" data-ExamtermendSkillDetailId="' + this.ExamtermendSkillDetailId + '"  data-ExamTermEndSkillId="' + this.ExamTermEndSkillId + '" data-ExamTermActivityDetailId="' + this.ExamTermActivityDetailId + '" value="' + this.Value + '"/></td>';
                                    } else {
                                        tbody += '<td><input class="ExamTermSkillValueTextBox" IsSkillDetail="' + this.IsSkillDetail + '" type="text" data-ExamtermendSkillDetailId="' + this.ExamtermendSkillDetailId + '"  data-ExamTermEndSkillId="' + this.ExamTermEndSkillId + '" data-ExamTermActivityDetailId="' + this.ExamTermActivityDetailId + '" value="' + this.Value + '"/></td>';
                                    }
                                });
                                tbody += '</tr>';
                            });
                            $(".marksList >tbody").append(tbody);
                            
                            if (IfAnyBinded)
                                $(".saveCoSchoButton").show();

                             $(".CancelMarksButton").show();
                            $(".fillmarksStudentList").show();
                            $("html").scrollTop("200");
                            $('#ks_loader').hide();
                        } else {
                            ToastMessage("No Student Found", "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    };

    $("#saveCOscholasticStudentMarkList").click(function () {
            var ExamTermEndSkillMarksModel = new Object();
            var StudentMarksModel = new Object();
            var StudentMarksList = new Array();
            var StudentExamTermEndSkillMarks = new Object();
            var StudentSkillMarksList = new Array();

            ExamTermEndSkillMarksModel.ExamDateSheetId = $('#ExamDateSheetId').val();
            ExamTermEndSkillMarksModel.ExamTermEndSkillId = CoSChoExamTermEndSkillId;

         // add for delete in array
        let exmtermendidarr = new Array();
        let exmtermendDetailidarr = new Array();

        let exmtermActivitySkillIdarr = new Array();
        $(".thexamtermendskillid").each(function () {
            if ($(this).attr("data-exmtermendskilldetailid") != "") 
               exmtermendDetailidarr.push($(this).attr("data-exmtermendskilldetailid"));
            else if($(this).attr("data-exmtermendskillid") != "")
                exmtermendidarr.push($(this).attr("data-exmtermendskillid"));
        });
        ExamTermEndSkillMarksModel.ExamTermEndSkillIdArray = exmtermendidarr;
        ExamTermEndSkillMarksModel.ExamTermEndSkillDetailIdArray = exmtermendDetailidarr;

            $(".skillmarksbody tr").each(function () {
                var row = $(this);
                StudentMarksModel = new Object();
                StudentSkillMarksList = new Array();
                StudentMarksModel.StudentId = row.attr("data-StudentId");
                StudentMarksModel.ExamTermActivitySkillId = row.attr("data-ExamTermActivitySkillsId");
                var Examtermendskilvalues = row.find(".ExamTermSkillValueTextBox");
                $(Examtermendskilvalues).each(function () {
                    StudentExamTermEndSkillMarks = new Object();
                    if ($(this).attr("IsSkillDetail") == "true") {
                        StudentExamTermEndSkillMarks.ExamtermendSkillDetailId = $(this).attr("data-ExamtermendSkillDetailId");
                    } else {
                        StudentExamTermEndSkillMarks.ExamTermEndSkillId = $(this).attr("data-ExamTermEndSkillId");
                    }
                    StudentExamTermEndSkillMarks.ExamTermEndSkillValue = $(this).val();
                    StudentSkillMarksList.push(StudentExamTermEndSkillMarks);
                });
                StudentMarksModel.StudentSkillMarksList = StudentSkillMarksList;
                StudentMarksList.push(StudentMarksModel);
            });
            ExamTermEndSkillMarksModel.StudentMarksList = StudentMarksList;
            if (ExamTermEndSkillMarksModel.ExamDateSheetId != "" && ExamTermEndSkillMarksModel.ExamTermSkillId != "") {
                    $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("SaveCoScholasticMarksStudentList", "Examination"))',
                    data: { "model": ExamTermEndSkillMarksModel },
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                           // if (CoSChoExamTermEndSkillId != "" && selectedclassid != "" && EDS != "") {
                                ClearMArksTable();
                                  //openSavedMarksList
                                // $(".classhead").html("<b>Class : </b>" + $('#ClassId :selected').text());
                                // $(".skillmarkssubject").text("Co-Scholastic Skill Marks Of " + CoSchoExamTermEndSKillName + "");
                                //FillcoSchoLasticMarks(CoSChoExamTermEndSkillId, selectedclassid, EDS);
                            //}
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                })
            }
            else {
                if (ExamTermEndSkillMarksModel.ExamDateSheetId == "")
                    ToastMessage("Ivalid ExamDatesheet", "error", true, 5000);
                if (ExamTermEndSkillMarksModel.ClassSubjectId == "")
                    ToastMessage("Ivalid ClassSubject", "error", true, 5000);
                return false;
            }
        })

    $(document).on('click', '.fillOtherDetails', function () {
        selectedclassid = $('#ClassId').val();
        EDS = $('#ExamDateSheetId').val();
        ClearMArksTable();
        if (EDS != "" && selectedclassid != "") {
        //$(".classhead").html("<b>Class : </b>"+$('#ClassId :selected').text());
        $(".skillmarkssubject").text("Other Details Of Students Of Class "+$('#ClassId :selected').text()+"");
            if (selectedclassid != "" && EDS!="") {
                fillOtherdetails(selectedclassid, EDS);
            }
        };
    });
    function fillOtherdetails(selectedclassid, EDS){
        if (selectedclassid != "" && EDS != "") {
                $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetStudentsForFillOtherDetails", "Examination"))',
                data: { "ClassId": selectedclassid, "DSI": EDS },
                success: function (result) {
                    if (result.status == "success") {
                        var thead = "<tr>";
                        var tbody = "";
                        if (result.StudentList.length > 0) {
                            $.each(result.StudentList, function () {
                                tbody += '<tr data-StudentId="' + this.StdId + '" data-StudentClassId="'+this.StudentClassId+'" data-StudentClassDetailsId="'+this.StudentClassDetailsId+'" data-ExamStudentAttendanceId="'+this.ExamStudentAttendanceId+'" data-ExamTermActivitySkillsId="' + this.ExamTermActivitySkillsId + '">'
                                tbody += '<td>' + this.ROllNo + '</td>';
                                tbody += '<td>' + this.StdName + '</td>';
                                tbody += '<td>' + this.AdmnNo + '</td>';
                                tbody += '<td><input class="height" type="text" value="' + this.Height + '"/></td>';
                                tbody += '<td><input class="weight" type="text" value="' + this.Weight + '"/></td >';

                                tbody += '<td><select class="bloodgroup" type="text">';
                                var bldgrpid = this.BloodGroupId;
                                $.each(result.AvailableBloodGroups, function () {
                                    if (this.Value == bldgrpid)
                                        tbody += "<option value='" + this.Value + "' selected>" + this.Text + "</option>";
                                    else
                                        tbody += "<option value='" + this.Value + "'>" + this.Text + "</option>";
                                });
                                tbody +='</select></td>';
                                tbody += '<td><input class="presentdays" onkeypress="return isNumberKey(event)" type="text" value="' + this.TotalPresentDays + '"/></td>';
                                tbody += '<td><input class="totaldays" onkeypress="return isNumberKey(event)" type="text" value="' + this.TotalDays + '"/></td>';
                                tbody += '</tr>';
                            });
                            $(".marksList >tbody").append(tbody);
                            var HeaderArray = result.Header.split('ϵ');
                            $.each(HeaderArray, function () {
                                thead += "<th>" + this + "</th>";
                            });
                            thead += '</tr>';
                            $(".marksList >thead").append(thead);

                            $(".saveOtherDetailsButton").show();
                           $(".CancelMarksButton").show();

                            $(".fillmarksStudentList").show();
                            $("html").scrollTop("200");
                            $('#ks_loader').hide();
                        } else {
                            ToastMessage("No Student Found", "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    }
    $("#saveOtherDetailsStudentMarkList").click(function () {
        var valid = true;
        var OtherStudentDetailsList = new Array();
        var ExamTermEndSkillMarksModel = new Object();
        var OtherStudentDetails = new Object();

        ExamTermEndSkillMarksModel.ExamDateSheetId = $('#ExamDateSheetId').val();
         $(".skillmarksbody tr").each(function () {
                var row = $(this);
                OtherStudentDetails = new Object();

             OtherStudentDetails.StdId = row.attr("data-StudentId");
             OtherStudentDetails.StudentClassDetailsId = row.attr("data-StudentClassDetailsId");
             if (OtherStudentDetails.StudentClassDetailsId == "" || OtherStudentDetails.StudentClassDetailsId == null || OtherStudentDetails.StudentClassDetailsId == "undefined") {
                 OtherStudentDetails.StudentClassDetailsId = 0;
             }
             OtherStudentDetails.ExamStudentAttendanceId = row.attr("data-ExamStudentAttendanceId");
             if (OtherStudentDetails.ExamStudentAttendanceId == "" || OtherStudentDetails.ExamStudentAttendanceId == null || OtherStudentDetails.ExamStudentAttendanceId == "undefined") {
                 OtherStudentDetails.ExamStudentAttendanceId = 0;
             }
             OtherStudentDetails.ExamTermActivitySkillsId = row.attr("data-ExamTermActivitySkillsId");
             if (OtherStudentDetails.ExamTermActivitySkillsId == "" || OtherStudentDetails.ExamTermActivitySkillsId == null || OtherStudentDetails.ExamTermActivitySkillsId == "undefined") {
                 OtherStudentDetails.ExamTermActivitySkillsId = 0;
             }
             OtherStudentDetails.StudentClassId = row.attr("data-StudentClassId");
             if (OtherStudentDetails.StudentClassId == "" || OtherStudentDetails.StudentClassId == null || OtherStudentDetails.StudentClassId == "undefined") {
                 OtherStudentDetails.StudentClassId = 0;
             }
             OtherStudentDetails.Height = "";

             if(row.find(".height").val()!=null && row.find(".height").val()!="")
                OtherStudentDetails.Height = row.find(".height").val();
             OtherStudentDetails.Weight = row.find(".weight").val();
             if (OtherStudentDetails.Weight == "" || OtherStudentDetails.Weight == null || OtherStudentDetails.Weight == "undefined") {
                 OtherStudentDetails.Weight = 0;
             }
             OtherStudentDetails.BloodGroupId = row.find(".bloodgroup").val();
             OtherStudentDetails.TotalPresentDays = row.find(".presentdays").val();
              if (OtherStudentDetails.TotalPresentDays == "" || OtherStudentDetails.TotalPresentDays == null || OtherStudentDetails.TotalPresentDays == "undefined") {
                 OtherStudentDetails.TotalPresentDays = 0;
             }
             OtherStudentDetails.TotalDays = row.find(".totaldays").val();
              if (OtherStudentDetails.TotalDays == "" || OtherStudentDetails.TotalDays == null || OtherStudentDetails.TotalDays == "undefined") {
                 OtherStudentDetails.TotalDays = 0;
             }

             if (OtherStudentDetails.TotalPresentDays > OtherStudentDetails.TotalDays) {
                 valid = false;
                 ToastMessage("Total Days must be greater than Present Days", "error", true, 5000);
                 return false;
             }
             OtherStudentDetailsList.push(OtherStudentDetails);
         });
        ExamTermEndSkillMarksModel.StudentDetailsList = OtherStudentDetailsList;
        if (valid) {
            $('#ks_loader').show();
             $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("SaveOtherDetailsStdList", "Examination"))',
            data: {"model":ExamTermEndSkillMarksModel },
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.msg, "success", true, 5000);
                    $('#ks_loader').hide();
                    if (selectedclassid != "" && EDS != "") {
                        ClearMArksTable();
                          //openSavedOtherDetails
                        // $(".skillmarkssubject").text("Other Details Of Students Of Class "+$('#ClassId :selected').text()+"");
                        //fillOtherdetails(selectedclassid, EDS);
                    }
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        }
    });
    $('.clsobtmarks').keydown(function (e) {
        lettersOnly(e);
    });

    ///////Marks Clear Functions /////////
   

    $(document).on("click", ".ClearScholasticMarks", function () {
        @if (Model.IsAllResultPublished)
        {
            <text>
        alert("Marks can't be cleared because Result has been Announced.");
        return false;
            </text>
        }
        if (IsClassResultAnnounce == true) {
            alert("Marks can't be cleared because Result has been Announced.");
            return false;
        }
        var ClassID = $("#ClassId").val();
        var ExamTermSkillId = $(this).attr("data-examtermendskillid");
        var ExamDateSheetId = $('#ExamDateSheetId').val();
         var  ClassSubjectId = $(this).attr('data-clssubject');
        if (ExamDateSheetId != "" && ClassSubjectId != "" && ClassID != "") {
            if (window.confirm("Are You Sure You Want To Clear Scholastic Marks.")) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("ClearScholasticMarksStudentList", "Examination"))',
                    data: { "ClassID": ClassID, "ClassSubjectId": ClassSubjectId, "ExamDateSheetId": ExamDateSheetId },
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                               ClearMArksTable();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        } else {
            ToastMessage("Invalid Details", "error", true, 5000);
              $('#ks_loader').hide();
        }
    });

    $(document).on("click", ".ClearCoScholasticMarks", function () {
         @if (Model.IsAllResultPublished)
        {
            <text>
        alert("Marks can't be cleared because Result has been Announced.");
        return false;
            </text>
        }
        if (IsClassResultAnnounce == true) {
            alert("Marks can't be cleared because Result has been Announced.");
            return false;
        }
        var ClassID = $("#ClassId").val();
        var ExamTermSkillId = $(this).attr("data-examtermendskillid");
        var ExamDateSheetId = $('#ExamDateSheetId').val();
         if (ExamDateSheetId != "" && ExamTermSkillId != "" && ClassID != "") {
             if (window.confirm("Are You Sure You Want To Clear Co-Scholastic Marks.")) {
                 $('#ks_loader').show();
                 $.ajax({
                     type: "POST",
                     url: '@Html.Raw(Url.Action("ClearCoScholasticMarksStudentList", "Examination"))',
                     data: { "ClassID": ClassID, "ExamTermSkillId": ExamTermSkillId, "ExamDateSheetId": ExamDateSheetId },
                     success: function (result) {
                         if (result.status == "success") {
                             ToastMessage(result.msg, "success", true, 5000);
                                ClearMArksTable();
                         }
                         else {
                             ToastMessage(result.msg, "error", true, 5000);
                         }
                         $('#ks_loader').hide();
                     },
                     error: function (xhr, status, p3) {
                         var err = "Error: " + " " + p3;
                         ToastMessage(err, "error", true, 5000);
                         $('#ks_loader').hide();
                     }
                 });
             }
         } else {
             ToastMessage("Invalid Details", "error", true, 5000);
              $('#ks_loader').hide();
         }
    });

    $(document).on("click", ".ClearOtherDetails", function () {
        @if (Model.IsAllResultPublished)
        {
            <text>
        alert("Marks can't be cleared because Result has been Announced.");
        return false;
            </text>
        }
        if (IsClassResultAnnounce == true) {
            alert("Marks can't be cleared because Result has been Announced.");
            return false;
        }
        var ClassID = $("#ClassId").val();
        var ExamDateSheetId = $('#ExamDateSheetId').val();
        if (ExamDateSheetId != "" && ClassID != "") {
            if (window.confirm("Are You Sure You Want To Clear Other Details.")) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("ClearOtherDetailsStudentList", "Examination"))',
                    data: { "ClassID": ClassID, "ExamDateSheetId": ExamDateSheetId },
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.msg, "success", true, 5000);
                               ClearMArksTable();
                        }
                        else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        } else {
            ToastMessage("Invalid Details", "error", true, 5000);
             $('#ks_loader').hide();
        }
    });

    $(document).on("keypress", ".checkdecimal, .weight", function (e) {
        var character = String.fromCharCode(e.keyCode)
    var newValue = this.value + character;
    if (isNaN(newValue) || hasDecimalPlace(newValue, 3)) {
        e.preventDefault();
        return false;
    }
    });
    $(document).on("keypress", ".presentdays", function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    })
    $(document).on("keypress", ".totaldays", function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    })
    function hasDecimalPlace(value, x) {
        var pointIndex = value.indexOf('.');
        return  pointIndex >= 0 && pointIndex < value.length - x;
    };

    
</script>
