﻿@model IEnumerable<ViewModel.ViewModel.Exam.Fillthemarksmodel>
<style>
   .align_css{text-align: center;}

.acolor{    padding: 1px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #1f1b1b;
    background-color: #fff;
    border: 1px solid #ccc;
    line-height: 1.5;
    margin-right: 5px;}
.text-success{
    color:green;
}
</style>
@Html.Hidden("ClassId_Import")
@Html.Hidden("datesheetId_Import")
<div class="modal-popup" id="UploadResultPopUp" hidden>
    <div class="modal-popup-body" style="width:500px">
        <div class="modal-content">
           
            
            <div class=" modal-header">
            <button type="button" id="CloseUploadResultPopUp" name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div id="headertext">
                Import Examination Result
            </div>
        </div>
            <div class="modal-body" id="UploadresultBodytext">

                <div class="row">
                    <div class="col-md-12">
                        <iframe id="master_frame" src="" style="width: 100%" allowtransparency="true" frameborder="0"></iframe>
                    </div>
                </div>
                @*<input type="file" class="File_Import" name="file">

        <input class="btn btn-success" type="button" value="Import" id="buttonImport" />*@

            </div>
        </div>


        </div>
    </div>
<script>
   
        function MasterFrameHeight(elm) {
            $('#master_frame').height(elm);
        }


    $('#CloseUploadResultPopUp').click(function () {
        $('#UploadResultPopUp').hide();
    })
</script>

<label style="color:red;" id="ErrorMessge">@ViewData["ErrorFillMarks"]</label><br />
<label>@Html.Display("DateSheet")</label> 
<div class="row top-space-10" id="allclasssubject_grid">
    <table class="table table-bordered table-striped table-responsive">
        <thead class="thead-default">
            <tr>
@*@if (TempData["IsAllowDeletionSubjectMarks"] == "true"){
        <th><input type="checkbox" class="clsAllClasscheckedAll" /></th>
    }*@
                <th>Class</th>
                <th>Subject</th>
                <th>Max. Marks</th>
                @if(ViewData["InternalAssessmentApplicable"]=="true"){
                <th>IA Max. Marks</th>}
                <th>Exam Date</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                var classid = 0;
                var compareclassid = 0;
                foreach (var item in Model)
                {
                    classid = item.ClassId;
                    if (classid == compareclassid)
                    {
                        compareclassid = item.ClassId;
                        continue;
                    }

                    var count = 1;
                    var res = Model.Where(m=>m.ClassId == item.ClassId).ToList();
                    foreach(var elemrnt in res)
                    {
                        if (count == 1)
                        { 
                            <tr>
                                @*@if (TempData["IsAllowDeletionSubjectMarks"] == "true")
    {
    <td><input type="checkbox" class="clsIsClasschecked" /></td>
    }*@
                                <td rowspan="@res.Count" class="clsclassname">@item.ClassName</td>
                                <td class="clssubjectname">@elemrnt.SubjectName</td>
                                <td class="clssubjectid" style="display: none">@elemrnt.SubjectId</td>
                                <td class="clssubjectskillid" style="display: none">@elemrnt.SubjectSkillId</td>
                                <td class="clsmaxmarks">@elemrnt.MaxMarks</td>
                                    @if(ViewData["InternalAssessmentApplicable"]=="true"){
                                <td class="clsIAmaxmarks" >@elemrnt.IAMaxMarks</td>}
                                <td>@elemrnt.ExamDate</td>
                                <td class="clsexamdsdetailid" style="display: none">@elemrnt.EncExamDateSheetDetailId</td>
                                <td class="clsclassid" style="display: none">@elemrnt.ClassId</td>
                                <td class="clsmarkpatternid" style="display: none">@elemrnt.EncMarksPatternId</td>
                                <td class="align_css text-right">
                                    @if (elemrnt.IsCompleted)
                                    {
                                        <a class="clsfillthemark text-success acolor"  title="Fill Marks" href="javascript:void(0)"><i class="fa fa-bitbucket"></i></a>
                                    }
                                    else
                                    {
                                        <a class="clsfillthemark acolor" title="Fill Marks" href="javascript:void(0)"><i class="fa fa-bitbucket"></i></a>
                                    }
                                    @if (TempData["IsAllowDeletionSubjectMarks"] == "true")
                                    {
                                        if (TempData["IsAllResultPublished"] == "false" && elemrnt.IsClassResultAnnounce==false)
                                        { 
                                        <a class="clearSubjectMarks acolor" title="Clear Marks" data-class_id="@elemrnt.ClassId" data-examdatesheetdetail_id="@elemrnt.EncExamDateSheetDetailId" href="javascript:void(0)"><i class="fa fa-trash "></i></a>
                                    }
                                    else
                                    {
                                        <a class="resultAnnounced acolor" title="Clear Marks" href="javascript:void(0)"><i class="fa fa-trash "></i></a>
                                    }
                                    }
                                </td>
                                <td style="width: 184px;vertical-align: middle;" rowspan="@res.Count">
                                    <a style="width: 100%;float: left;text-align: center;" class="DownloadTemplate " data-class_id="@elemrnt.ClassId" data-ExamDatesheet_id="@elemrnt.ExamDateSheetId" href="javascript:void(0)">Download Template</a>
                                    <a style="width: 100%;float: left;text-align: center;" class="ShowImportMarksDiv " data-class_id="@elemrnt.ClassId" data-examdatesheet_id="@elemrnt.ExamDateSheetId" data-ImportUrl="@elemrnt.ImportUrl" href="javascript:void(0)">Import Marks</a>
                                     @if (TempData["IsAllowDeletionSubjectMarks"] == "true")
                                     {
                                         var examdatesdtlid = "";
                                         foreach (var exmdsdtlids in res)
                                         {
                                             if (examdatesdtlid == "")
                                             {
                                                 examdatesdtlid = exmdsdtlids.EncExamDateSheetDetailId;
                                             }
                                             else
                                             {
                                                 examdatesdtlid += ',' + exmdsdtlids.EncExamDateSheetDetailId;
                                             }
                                         }
                                         if (TempData["IsAllResultPublished"] == "false" && elemrnt.IsClassResultAnnounce == false)
                                         {
                                    <a style="width: 100%;float: left;text-align: center;" class="clearAllSubjectMarks " data-class_id="@elemrnt.ClassId"
                                       data-examdatesheetdetail_id="@examdatesdtlid" href="javascript:void(0)">Clear Marks</a>
                                                     }
                                                     else
                                                     {
                                        <a style = "width: 100%;float: left;text-align: center;" class="resultAnnounced" 
                                                                     href="javascript:void(0)">Clear Marks</a>
                                         }
                                     }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                @*@if (TempData["IsAllowDeletionSubjectMarks"] == "true")
                                {
                                    <td><input type="checkbox" class="clsIsClasschecked" /></td>
                                }*@
                                <td style="display: none" class="clsclassname">@item.ClassName</td>
                                <td class="clssubjectname">@elemrnt.SubjectName</td>
                                <td class="clssubjectid" style="display: none">@elemrnt.SubjectId</td>
                                <td class="clssubjectskillid" style="display: none">@elemrnt.SubjectSkillId</td>
                                <td class="clsmaxmarks">@elemrnt.MaxMarks</td>
@if(ViewData["InternalAssessmentApplicable"]=="true"){
                                <td class="clsIAmaxmarks" >@elemrnt.IAMaxMarks</td>}
                                <td>@elemrnt.ExamDate</td>
                                <td class="clsexamdsdetailid" style="display: none">@elemrnt.EncExamDateSheetDetailId</td>
                                <td class="clsclassid" style="display: none">@elemrnt.ClassId</td>
                                <td class="clsmarkpatternid" style="display: none">@elemrnt.EncMarksPatternId</td>
                                <td class="align_css text-right">
                                    @if (elemrnt.IsCompleted)
                                    {
                                        <a class="clsfillthemark text-success acolor" title="Fill Marks" href="javascript:void(0)"><i class="fa fa-bitbucket"></i></a>
                                    }
                                    else
                                    {
                                        <a class="clsfillthemark acolor" title="Fill Marks" href="javascript:void(0)"><i class="fa fa-bitbucket"></i></a>
                                    }
                                    @if (TempData["IsAllowDeletionSubjectMarks"] == "true")
                                    {
                                        if (TempData["IsAllResultPublished"] == "false" && elemrnt.IsClassResultAnnounce == false)
                                        { 
                                        <a class="clearSubjectMarks acolor" title="Clear Marks" data-class_id="@elemrnt.ClassId" data-examdatesheetdetail_id="@elemrnt.EncExamDateSheetDetailId" href="javascript:void(0)"><i class="fa fa-trash "></i></a>
                                    }
                                    else
                                    {
                                        <a class="resultAnnounced acolor" title="Clear Marks" href="javascript:void(0)"><i class="fa fa-trash "></i></a>
                                    }
                                    }
                                </td>
                            </tr>
                        }
                        count++;
                    }
                    compareclassid = item.ClassId;
                }
            }
        </tbody>
    </table>
</div>

<div class="row top-space-10" id="allclassstudent_grid" style="display: none">   
    <table class="table table-bordered table-striped table-responsive">
        <thead class="thead-default">
            <tr>
                <th style="width: 7%">Roll No.</th>
                <th style="width: 7%">Admn No.</th>
                <th style="width: 15%">Name</th>
                <th style="width: 8%" class="clsthmarks"></th>
                <th style="width: 8%;display:none" class="clsthIAmarks"></th>
                <th style="width: 8%">Is Absent</th>
                <th style="width: 25%">Remarks</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="col-md-12" style="padding: 0">
        <a href="javascript:void(0)" id="save_examresult" class="btn btn-success">Save</a>
    </div>
</div>

<script>

    var IsDatasaved = false;
    var currentrowobj;

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('#back_to_fillthemarkslist').click(function () {
        $('#ks_loader').show();

        if (IsDatasaved)
            currentrowobj.find('.clsfillthemark').addClass("text-success");

        $('#allclassstudent_grid').hide();
        $('#allclasssubject_grid').show();
        $('#back_tolist_ds').show();
        $('#back_tolist_cs').hide();
        // table
        $('.clsheadtxt').text("Fill The Marks");
        $('#allclassstudent_grid table tbody').html('');

        $('#ks_loader').hide();
    });

    $('.clsfillthemark').click(function () {
        $('#ks_loader').show();

        IsDatasaved = false;
        // table
        $('#allclassstudent_grid table tbody').html('');
        // get current row
        var row = $(this).parent().parent();
        currentrowobj = row;
        // now find values from row
        // class id
        var examdatesheetdetailid = row.find('.clsexamdsdetailid').text();
        // class text
        var classtxt = row.find('.clsclassname').text();
        var subjecttxt = row.find('.clssubjectname').text();

        $('.clsheadtxt').text("Fill The Marks " + classtxt + "(" + subjecttxt + ")");
        // class id
        var classid = row.find('.clsclassid').text();
        // marks pattern id
        var markspatternid = row.find('.clsmarkpatternid').text();
        // max marks
        var maxamrks = row.find('.clsmaxmarks').text();
        // set thead with max marks
        if (maxamrks > 0) {
            $('.clsthmarks').text("Marks Out of (" + maxamrks + ")");
        } else {
            $('.clsthmarks').text("Marks");
        }
        var IAmaxamrks = row.find('.clsIAmaxmarks').text();
        // set thead with max marks
        $('.clsthIAmarks').text("IA Marks Out of (" + Math.round(IAmaxamrks) + ")");
        $('.clsthIAmarks').hide();
        var FTMmodel = new Object();
        FTMmodel.ClassId = classid;
        FTMmodel.EncMarksPatternId = markspatternid;
        FTMmodel.EncExamDateSheetDetailId = examdatesheetdetailid;
        FTMmodel.SubjectId = row.find('.clssubjectid').text();
        FTMmodel.SubjectSkillId = row.find('.clssubjectskillid').text();


        //$("#ErrorMessge").html("");
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetAllStudentByClassForResult", "Examination"))',
            data: FTMmodel,
            success: function (result) {
                if (result.status == "success") {
                    //$("#ErrorMessge").text(result.ErrorMessage);

                    if (result.IsInternalassessmentApplicable == true) {
                        $('.clsthIAmarks').show();
                    }
                    var list = "<td><select class='clsobtmarks'>"
                    for (var j = 0; j < result.gradeSelectList.length; j++) {
                        list += "<option value=" + result.gradeSelectList[j].Value + ">" + result.gradeSelectList[j].Text + "</option>"
                    }

                    list += "</select></td>";
                    for (var i = 0; i < result.data.length; i++) {
                        var newrow = "<tr>"
                            + "<td>" + result.data[i].RollNo + "</td>"
                               + "<td>" + result.data[i].Admnno + "</td>"
                                    + "<td>" + result.data[i].StudentName + "</td>"
                        if (maxamrks == "") {
                            var list = ""
                            list += "<td><select class='clsobtmarks'>"
                            for (var j = 0; j < result.gradeSelectList.length; j++) {
                                if (result.gradeSelectList[j].Value == result.data[i].ObtMarks) {
                                    list += "<option selected value=" + result.gradeSelectList[j].Value + ">" + result.gradeSelectList[j].Text + "</option>"
                                }
                                else {
                                    list += "<option value=" + result.gradeSelectList[j].Value + ">" + result.gradeSelectList[j].Text + "</option>"
                                }
                            }

                            list += "</select></td>";
                            newrow += list
                        } else {
                            newrow += "<td><input type='text' class='clsobtmarks' maxlength='5' value='" + result.data[i].ObtMarks + "'/></td>";

                            if (result.IsInternalassessmentApplicable == true) {
                                newrow += "<td><input type='text' class='clsobtIAmarks' maxlength='5' value='" + result.data[i].ObtIAMarks + "'/></td>";
                            }
                        }
                        if (result.data[i].IsAbsent == true) {
                            newrow += "<td class='text-center'><input type='checkbox' class='clsisabsent' checked='checked'/></td>";
                        }
                        else {
                            newrow += "<td class='text-center'><input type='checkbox' class='clsisabsent'/></td>";
                        }

                        newrow += "<td><input type='text' class='clsremarks' maxlength='150' value='" + result.data[i].Remarks + "' style='width: 100%'/></td>"
                                    + "<td style='display: none'><span class='clsmaxmarks'>" + result.data[i].MaxMarks + "</span></td>"
                                    + "<td style='display: none'><span class='clsIAmaxmarks'>" + result.data[i].IAMaxMarks + "</span></td>"
                                    + "<td style='display: none'><span class='clsexamdatesheetdet'>" + examdatesheetdetailid + "</span></td>"
                                    + "<td style='display: none'><span class='clsstudentid'>" + result.data[i].StudentId + "</span></td>"
                                    + "<td style='display: none'><span class='clsexamresultid' data-exrd='"+result.data[i].ExamResultId+"'>" + result.data[i].EncExamResultId + "</span></td>"
                                    + "</tr>";

                        // append new row
                        $('#allclassstudent_grid table tbody').append(newrow);
                    }
                    if (result.data.length > 0) {
                        $('#allclassstudent_grid').show();
                        $('#back_tolist_cs').show();
                        $('#allclasssubject_grid').hide();
                        $('#back_tolist_ds').hide();
                        // Numeric
                        $(".clsobtmarks,.clsobtIAmarks").keydown(function (e) {
                            NumericOnlyWithDecimal(e);
                        });
                    }
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                    ScrollToTop();
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    $(document).on("blur", ".clsobtmarks", function () {
        // get obt marks and max mark and comapre both and validate
        var row = $(this).parent().parent();
        // find max marks from row
        var maxmarks = parseFloat(row.find('.clsmaxmarks').text());
        var obtmarks = parseFloat($(this).val());
        if (obtmarks > maxmarks) {
            ToastMessage("Max Marks: " + maxmarks, "error", true, 5000);
            $(this).val('');
        }
    });

    $(document).on("blur", ".clsobtIAmarks", function () {
        // get obt marks and max mark and comapre both and validate
        var row = $(this).parent().parent();
        // find max marks from row
        var maxmarks = parseFloat(row.find('.clsIAmaxmarks').text());
        var obtmarks = parseFloat($(this).val());
        if (obtmarks > maxmarks) {
            ToastMessage("IA Max Marks: " + maxmarks, "error", true, 5000);
            $(this).val('');
        }
    });

    $(document).on('change', '.clsisabsent', function () {
        var row = $(this).parent().parent();

        if ($(this).prop("checked") == true) {
            row.find(".clsremarks").val("Absent"); // find row remarks field and fill auto
            row.find(".clsobtmarks").val("");
            //row.find(".clsobtIAmarks").val("");
        }
        else
            row.find(".clsremarks").val("");
    });

    // save data
    $('#save_examresult').click(function () {
        $('#ks_loader').show();
        var ExamResultModel = new Array();
        var ExamResultModelObj = new Object();

        var IsNotValidCount = 0;
        var Invalidrowcount = 0;
        var rowcount = 0;
        $('#allclassstudent_grid table tbody tr').each(function () {
            var row = $(this);
            var obtmarks = row.find('.clsobtmarks').val();
            if (row.find('.clsisabsent').prop("checked") == true) {
                if (obtmarks != "" && obtmarks != null)
                    IsNotValidCount++;
            }
            else {
                if (obtmarks == "" || obtmarks == null)
                    Invalidrowcount++;
            }

            if (IsNotValidCount == 0 && Invalidrowcount == 0) {
                rowcount++;
                ExamResultModelObj = new Object();
                ExamResultModelObj.EncExamResultId = row.find('.clsexamresultid').text();
                ExamResultModelObj.ExamResultId = row.find('.clsexamresultid').attr("data-exrd");
                ExamResultModelObj.StudentId = row.find('.clsstudentid').text();
                ExamResultModelObj.EncExamDateSheetDetailId = row.find('.clsexamdatesheetdet').text();
                ExamResultModelObj.ObtainedMarks = row.find('.clsobtmarks').val();
                ExamResultModelObj.ObtainedIAMarks = row.find('.clsobtIAmarks').val();
                ExamResultModelObj.Remarks = row.find('.clsremarks').val();

                if (row.find('.clsisabsent').prop("checked") == true)
                    ExamResultModelObj.IsAbsent = true;
                else
                    ExamResultModelObj.IsAbsent = false;
                ExamResultModel.push(ExamResultModelObj);
            }
        });

        if (IsNotValidCount > 0) {
            ToastMessage("If student absent , pass marks shouldn't be greater than or equal to zero", "error", true, 5000);
            $('#ks_loader').hide();
        }
        else if (Invalidrowcount > 0) {
            ToastMessage("You have not Entered Marks for Students", "error", true, 5000);
            $('#ks_loader').hide();
        }
        else if (rowcount == 0) {
            ToastMessage("No data to be saved", "error", true, 5000);
            $('#ks_loader').hide();
        }
        else {
            // ajax call for saved data
            var dataarray = JSON.stringify(ExamResultModel);

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SaveStudentExamResult", "Examination"))',
                data: { "dataarray": dataarray },
                success: function (result) {
                    if (result.status == "success") {
                        alert(result.data);
                        window.location.reload();
                        IsDatasaved = true;
                        ToastMessage(result.data, "success", true, 5000);
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

    $(".DownloadTemplate").click(function (e) {
        $('#ks_loader').show();

        var ClassId = $(this).attr('data-class_id');
        var datesheetId = $(this).attr('data-examdatesheet_id');

        $.ajax({
            type: "GET",
            async: true,
            url: '@Html.Raw(Url.Action("Export", "Fee"))',
            data: {},
            success: function (result) {
                @*window.open('@Html.Raw(Url.Action("ExportAllFeeDefaulterList", "Fee"))',"_blank");*@
                window.location.href = "@Html.Raw(Url.Action("ExportMarksTemplate", "Examination"))?ClsId=" + ClassId + "&datesheetId=" + datesheetId;
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $('#ks_loader').hide();
    });

    $('.ShowImportMarksDiv').click(function () {
        //$('#ClassId_Import').val($(this).attr('data-class_id'));
        //$('#datesheetId_Import').val($(this).attr('data-examdatesheet_id'));
        $('#master_frame').attr('src', $(this).attr('data-ImportUrl'));
        $('#UploadResultPopUp').show();

       

    })
    //$('body').on('change', '.File_Import', function (e) {
    //    // var url = window.location.href;

    //    ImportExaminationResult(e);

    //});
    $('body').on('click', '#buttonImport', function (e) {
        // var url = window.location.href;
        $('#ks_loader').show();
        $('body').on('change', '.File_Import', function (e) {
            // var url = window.location.href;

            ImportExaminationResult(e);

        });
        $('.File_Import').trigger('change');


    });

    function ImportExaminationResult(e) {
        var imagepath = "";
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                //alert($('#ClassId_Import').val());
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                    data.append("ClsId", $('#ClassId_Import').val());
                    data.append("datesheetId", $('#datesheetId_Import').val());
                }



                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("ExaminationImportList", "Examination"))',
                    async: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "success") {

                            $('#UploadResultPopUp').hide();
                            alert('Marks Uploaded Sucessfully.')


                        } else {
                            ToastMessage(result.msg, "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {
                        var err = "Error: " + " " + p3;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }

                });




            }
        }
    }
    //$(".clsAllClasscheckedAll").click(function () {
    //    if ($(this).prop("checked") == true) {
    //        $(".clsIsClasschecked").prop("checked", true);
    //    }
    //    else {
    //        $(".clsIsClasschecked").removeAttr('checked');
    //    }
    //})
    //$(document).on("click", ".clsIsClasschecked", function () {
    //    if ($(this).prop("checked") == false) {
    //        $(".clsAllClasscheckedAll").removeAttr('checked');
    //    }
    //})

    $('.clearAllSubjectMarks').click(function () {
        var classId = $(this).attr('data-class_id');
        if (classId == null && classId == "") {
            ToastMessage("Invalid Class", "error", true, 5000);
            return false;
        }

        var ExamDatesheetDetailid = $(this).attr('data-examdatesheetdetail_id');
        if (ExamDatesheetDetailid == null && ExamDatesheetDetailid == "") {
            ToastMessage("Invalid DateSheet", "error", true, 5000);
            return false;
        }

        if (window.confirm("It Will Clear Marks Of All Subjects Of All Students Of This Class.")) {
            if (window.confirm("Are You Sure You Want To Delete Marks Of All The Subjects.")) {
                ClearSubjectMaks(classId, ExamDatesheetDetailid);
            }
        }
    })
    
    $('.clearSubjectMarks').click(function () {
        var classId = $(this).attr('data-class_id');
        if (classId == null && classId == "") {
            ToastMessage("Invalid Class", "error", true, 5000);
            return false;
        }

        var ExamDatesheetDetailid = $(this).attr('data-examdatesheetdetail_id');
        if (ExamDatesheetDetailid == null && ExamDatesheetDetailid == "") {
            ToastMessage("Invalid DateSheet", "error", true, 5000);
            return false;
        }

            if (window.confirm("Are You Sure You Want To Delete Marks Of This Subject.")) {
                ClearSubjectMaks(classId, ExamDatesheetDetailid);
            }
    })
    function ClearSubjectMaks(classId, ExamDatesheetDetailid) {
        if (classId != "" && classId != null && ExamDatesheetDetailid != "" && ExamDatesheetDetailid != null) {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("ClearSubjectMarks", "Examination"))',
                data: { "ClassId": classId, "ExamDateSheetDetailId": ExamDatesheetDetailid },
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);
                        $(".clsIsStudentchecked").removeAttr('checked');
                        window.location.reload();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    }
    $(".resultAnnounced").click(function () {
        alert("Marks can't be cleared because Result has been Announced.");
        return false;
    })
</script>