﻿@model ViewModel.ViewModel.Exam.ExamDateSheetModel

@{
    ViewBag.Title = "Exam DateSheet";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-10">
        <h1 class="FormHeading">View/Print Exam DateSheet</h1>
    </div>
    <div class="col-md-2 text-right">
        <a href="javascript:void(0)" onclick="exportexcel()" id="ExporttoexcelDS" class="btn btn-xs btn-default">Excel</a>
        <a href="javascript:void(0)" id="printDS" class="btn btn-xs btn-default">Print</a>
        <a href="javascript:void(0)" id="back_to_list" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("DateSheetView", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_datesheetviewbydate", Model)
        }
    </div>
</div>
