﻿@model IEnumerable<ViewModel.ViewModel.Exam.Fillthemarksmodel>

@*@{
     ViewBag.Title = "Fill The Marks";
}*@

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1 class="clsheadtxt">Fill The Marks</h1>
    </div>
   
    <div class="col-md-6 text-right" id="back_tolist_ds">
        <a href="@Html.Raw(Url.Action("ManageExam","Examination"))" id="" class="btn btn-xs btn-default">back</a>
    </div>
    <div class="col-md-6 text-right" style="display: none" id="back_tolist_cs">
        <a href="javascript:void(0)" id="back_to_fillthemarkslist" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("FillTheMarks", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @*<label >Exam Activity : </label> @Html.Display("DateSheet")*@
            @Html.AntiForgeryToken()
            @Html.Partial("_List", Model)
        }
    </div>
</div>
