﻿@model ViewModel.ViewModel.Exam.Fillthemarksmodel

@{
    ViewBag.Title = "Fill The ExamTermSkills";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1 class="clsheadtxt">Fill The Exam TermEnd Skills</h1>
    </div>

    <div class="col-md-6 text-right">
        <a href="javascript:void(0)" id="clearbtnschltic" style="display:none" class="ClearCoScholastic  btn btn-xs btn-default">Clear Marks</a>
        <a href="@Html.Raw(Url.Action("ManageExam","Examination"))" id="back_tolist_ds" class="btn btn-xs btn-default">back</a>
        <a href="@Html.Raw(Url.Action("FillExamTermSkillMarks","Examination",new {DSI=@Model.EncExamDateSheetId }))"  class="btn btn-xs btn-default changeViewType">Fill Marks Skill Wise</a>
    </div>
    @*<div class="col-md-6 text-right" style="display: none" id="back_tolist_cs">
            <a href="javascript:void(0)" id="back_to_fillthemarkslist" class="btn btn-xs btn-default">back</a>
        </div>*@
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("FillExamTermSkills", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_ExamTermEndSkillList", Model)
        }
    </div>
</div>

<script>
    $(".changeViewType").click(function () {
        $("#ks_loader").show();
    })
</script>