﻿@model ViewModel.ViewModel.Exam.Fillthemarksmodel

@{
    ViewBag.Title = "Fill The ExamTermSkills";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1 class="clsheadtxt">Fill The Exam TermEnd Skills</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Html.Raw(Url.Action("ManageExam","Examination"))" id="back_tolist_ds" class="btn btn-xs btn-default">back</a>
        <a href="@Html.Raw(Url.Action("FillExamTermSkills","Examination",new {DSI=@Model.EncExamDateSheetId }))" class="btn btn-xs btn-default changeViewType">Fill Marks Student Wise</a>
    </div>
</div>
<!-- //Page Heading -->
<div class="row scrollDiv">
    <div class="col-md-12">
        @using (Html.BeginForm("FillExamTermSkills", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_ExamTermEndSkillListNewView", Model)
        }
    </div>
</div>
<script>
      $(".changeViewType").click(function () {
        $("#ks_loader").show();
    })
</script>
