﻿@model ViewModel.ViewModel.Exam.ExamDateSheetModel

@{
    ViewBag.Title = "Manage ExamDateSheet";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6 set_label">
        <h1>Manage ExamDateSheet</h1>
    </div>
    <div class="col-md-6 text-right" style="margin-bottom: 5px;" id="examination_btns">

        <label>Session</label>
        @*@Html.DropDownListFor(model => model.SessionId, Model.AvailableSessions, new { @class = "", @style = "height:25px" })*@

        <select id="SessionId" style="height:25px" class="">
            @foreach (var item in Model.AvailableSessionsWithDates)
            {
               <option data-sdate="@item.startdate" data-edate="@item.enddate" value="@item.Value">@item.Text</option>
            }
        </select>
        <script>
             $("#SessionId").val('@Model.SessionId');
        </script>

        @if (Model.IsAuthToAdd)
        {
            <a href="javascript:void(0)" class="btn btn-xs btn-default" id="Add_NewDateSheet">Add</a>
        }
        <a href="javascript:void(0)" class="btn btn-xs btn-default" id="Add_FilterDateSheet">Filter</a>
        @if (Model.IsAdmin)
        {
            <a href="javascript:void(0);" title="Set Default Values" id="btnSettings" style="color: black; font-size: 18px;
                                margin: 0px 0px 0px 8px;" class="pull-right"><i class="fa fa-gear"></i></a>
        }

    </div>
    <a href="javascript:void(0)" id="back_to_list" class="btn btn-xs btn-default" style="float: right;display:none">back</a>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ManageExam", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_datesheetCreateOrUpdate", Model)
        }
    </div>
</div>
