﻿@model ViewModel.ViewModel.Exam.ReportCardModel
@{
    ViewBag.Title = "PrintReportCard";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    @*<meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>*@
    <link rel="icon" href="~/favicon.ico" />
    <title>Print ReportCard</title>
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />*@

    <style>
        .printonSame {
            width: 100%;
            page-break-after: always;
            page-break-inside: avoid;
        }
        body {
			margin: 0px;
		}
    </style>
</head>
<body style="margin: 0;padding: 0;background: none;font-family: Arial;" onload="window.print()">
    <div class="container printonSame">
        @(new HtmlString(Model.ReportCardDynamicHtml))
    </div>
</body>
</html>


