﻿@model ViewModel.ViewModel.Exam.ReportCardModel
@{
    ViewBag.Title = "ReportCard";
}
@using (Html.BeginForm("PrintReportCard", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form", DSI = Model.DSI, target = "_blank" }))
{
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Report Card</h1>
    </div>
    <div class="col-md-6 text-right">
        <button style="opacity:0" type="submit" title="Download Report Card Excel" id="Excel_btn_ClassWise" class="btn btn-default" name="filter"><i class="fa fa-file-excel-o"></i></button>
        <button style="opacity:0" type="submit" title="Print All Report Card" id="filter_btn_ClassWise" class="btn btn-default" name="filter" ><i class="fa fa-print"></i></button>
        <button style="opacity:0" type="submit" title="Download Report Card PDF" id="pdf_btn_ClassWise" class="btn btn-default" name="filter"><i class="fa fa-file-pdf-o"></i></button>
    </div>
</div>
<!-- //Page Heading -->
   
    @Html.HiddenFor(m => m.DSI)
    @Html.HiddenFor(m => m.IsClassWisePrint)
    @Html.HiddenFor(m=>m.IsPdf)
    @Html.HiddenFor(m=>m.IsExcel)
    <div class="row top-space-10">
        <!-- Form Coulmn -->
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Session</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SessionId, Model.AvailableSession, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Class</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-2" style="padding: 0px;">
            <div class="form-group">
                <label class="col-md-4 control-label">Term</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TermId, Model.AvailableExamTerms, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Student</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        @if (Model.IsAuthToPrint)
        {
            <div class="col-md-2" id="printbutton_div" hidden>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" value="Print Report Card" id="filter_btn" class="btn btn-default" name="filter" />
                    </div>
                </div>
            </div>
        }
        <!-- //Form Coulmn -->
    </div>
}

<script>
    if ('@Model.StudentId' != '' && '@Model.ClassId' != '') {
        $("#printbutton_div").show();
    }
    else {
        $("#printbutton_div").hide();
    }

    $('#SessionId').change(function () {
        $("#StudentId").find("option").remove();
        $("#TermId").find("option").remove();

        if ($("#StudentId").val() != '') {
            $("#printbutton_div").hide();
        }
        else {
            $("#printbutton_div").show();
        }
        $('#filter_btn_ClassWise').css('opacity', '1')
        $('#pdf_btn_ClassWise').css('opacity', '1')
        $('#Excel_btn_ClassWise').css('opacity', '1')
        $("#ClassId").find("option").remove();
        var Sessionid = $('#SessionId').val();
        if (Sessionid > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("ClassListbySession", "Examination"))',
                async: false,
                data: { "Sessionid": Sessionid },
                success: function (result) {
                    if (result.status == "success") {
                        for (var i = 0; i < result.data.length; i++) {
                            var option = "";
                            if (result.data[i].Selected == true)
                                option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                            else
                                option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                            $('#ClassId').append(option);
                        }

                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
    });

    $('#ClassId').change(function () {
        $("#StudentId").find("option").remove();
        $("#TermId").find("option").remove();
        var ClassId = $(this).val();
        if ($("#StudentId").val() != '') {
            $("#printbutton_div").hide();
        }
        else {
            $("#printbutton_div").show();
        }
        $('#filter_btn_ClassWise').css('opacity', '1')
        $('#pdf_btn_ClassWise').css('opacity', '1')
        $('#Excel_btn_ClassWise').css('opacity', '1')
        
        var Sessionid = $('#SessionId').val();
        if (ClassId > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("StudentListbyClass", "Examination"))',
                async: false,
                data: { "Class": ClassId, "Id": "", "Sessionid": Sessionid },
                success: function (result) {
                    if (result.status == "success") {
                        for (var i = 0; i < result.data.length; i++) {
                            var option = "";
                            if (result.data[i].Selected == true)
                                option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                            else
                                option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                            $('#StudentId').append(option);
                        }
                        for (var i = 0; i < result.AvailableExamTerms.length; i++) {
                            var option = "";
                            if (result.AvailableExamTerms[i].Selected == true)
                                option = "<option selected value='" + result.AvailableExamTerms[i].Value + "'>" + result.AvailableExamTerms[i].Text + "</option>";
                            else
                                option = "<option value='" + result.AvailableExamTerms[i].Value + "'>" + result.AvailableExamTerms[i].Text + "</option>";

                            $('#TermId').append(option);
                        }
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
    });

    $('#StudentId').change(function () {
        if ($("#ClassId").val() != '' && $("#StudentId").val() != '') {
            $("#printbutton_div").show();
        }
        else {
            $("#printbutton_div").hide();
        }
    })
    
    $('#filter_btn_ClassWise').click(function () {

        $('#IsClassWisePrint').val(true);
        $('#IsPdf').val(false);
        $('#IsExcel').val(false);

    })
    $('#filter_btn').click(function () {

        $('#IsClassWisePrint').val(false);

    })
    $('#pdf_btn_ClassWise').click(function () {
        $('#IsClassWisePrint').val(true);
        $('#IsPdf').val(true);
        $('#IsExcel').val(false);

    })

    $('#Excel_btn_ClassWise').click(function () {
        $('#IsClassWisePrint').val(true);
        $('#IsPdf').val(false);
        $('#IsExcel').val(true);

    })
    
  
</script>