﻿@model ViewModel.ViewModel.Exam.ResultWithheldModel

@{
    ViewBag.Title = "Result Withheld";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span>@TempData["error_notification"]</span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span>@TempData["success_notification"]</span></div>
    </div>
    <div class="col-md-6">
        <h1>Result Withheld</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Html.Raw(Url.Action("ManageExam","Examination"))" id="" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ResultWithheld", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_AddResultWithheld", Model)
        }
    </div>
</div>
