﻿@model ViewModel.ViewModel.Exam.ViewResultModel
@{
    string Host = Request.Url.AbsolutePath;
    Host = Host.Split('/')[1];
    if (Request.Url.AbsoluteUri.Contains("localhost"))
    {
        Host = "";
    }

    ViewBag.Title = "View Result";
}
<style type="text/css">
    input[type=checkbox], input[type=radio] {
        margin: 9px 0 0;
    }
    .thcenter{
        text-align:center;
    }
    
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>View Result</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="javascript:void(0)" id="ExportAllstudentresult" class="btn btn-xs btn-default">Print to Pdf</a>
        @if (Model.IsAuthToExport) { 
        <a href="javascript:void(0)" id="Exportstudentresult"  class="btn btn-xs btn-default">Export to Excel</a>
        }
        <a href="javascript:void(0)" id="printstudentresult" onclick="PrintResult()" class="btn btn-xs btn-default">Print</a>
        @if (Model.IsAdmin)
        {
            <a href="@Html.Raw(Url.Action("ManageExam","Examination"))" id="" class="btn btn-xs btn-default">back</a>
        }
        else
        {
            <a href="@Html.Raw(Url.Action("DateSheetView","Examination"))" id="" class="btn btn-xs btn-default">back</a>
        }
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ViewResult", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form", DSI = Model.DSI,@id="ViewResultForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.DSI)
            @Html.HiddenFor(model => model.ExDSI)
            @Html.HiddenFor(model=>model.IsExporttoExcel)
            @Html.HiddenFor(model=>model.IsExportTopdfAllStudents)
            @Html.HiddenFor(model => model.IsVisibleReportCardDetails)
            @Html.HiddenFor(m => m.SessionId)
            @Html.ValidationSummary("", new { @class = "text-danger" })
            // filter
            <div class="row">
                <!-- Form Coulmn -->
                @*<div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Session</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.SessionId, Model.AvailableSession, new { @class = "form-control" })
                        </div>
                    </div>
                </div>*@
                <!-- //Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Class</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.ClassId, Model.AvailableClasses, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <!-- //Form Coulmn -->
                <!-- Form Coulmn -->
                <div id="dvRd" class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Student : </label><div class="col-md-2">
                            @Html.RadioButton("StudentSubject", "Student", false, new { @id = "rdStudent" })
                        </div>
                        <label class="col-md-4 control-label">Subject : </label> <div class="col-md-2">
                            @Html.RadioButton("StudentSubject", "Subject", false, new { @id = "rdSubject" })
                        </div>
                    </div>
                </div>
                <!-- //Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-3" id="dvSS" style="display:none;">
                    <div class="form-group" id="dvStudent">
                        <label class="col-md-4 control-label">Student</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.StudentId, Model.AvailableStudents, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" id="dvSubject">
                        <label class="col-md-4 control-label">Subject</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.SubjectId, Model.AvailableSubjects, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <!-- //Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="submit" value="Filter" id="filter_btn" class="btn btn-default btn-success" name="filter" />
                            <button type="button" id="reset" class="btn btn-danger" hidden>Reset</button>
                        </div>
                    </div>
                </div>
                <!-- //Form Coulmn -->
            </div>
        }

        @if (@Model.StudentId > 0 && @Model.ExamWithheld && @Model.UserType!="Admin")
        {
        <div>
            <label>Exam Result: Withheld</label>
        </div>
        <div>
            <label>Status:@Model.WithheldMessage</label>
        </div>
        } else if (@Model.StudentId > 0 && @Model.ExamWithheld && @Model.UserType=="Admin")
        {
        <div>
            <label>Exam Result: Withheld</label>
        </div>
        <div>
            <label>Status:@Model.WithheldMessage</label>
        </div>
            
              <div id="dvGrid" class="row">
            @*@if (Model.IsTermEnd)
            {
                using (Html.BeginForm("PrintReportCard", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form", DSI = Model.DSI, target = "_blank" }))
                {
                    @Html.HiddenFor(m => m.ClassId)
                    @Html.HiddenFor(m => m.StudentId)
                    @Html.HiddenFor(m => m.SessionId)
                    <div>
                        <!-- Form Coulmn -->
                        <div class="pull-right">
                            <button type="submit" value="Print Report Card" class="btn btn-default" name="filter"><i class="fa fa-print"></i></button>
                        </div>
                        <!-- //Form Coulmn -->
                    </div>
                }
                <table class="table table-bordered table-condensed top-space-20">
                    <thead>
                        <tr>
                            <td style="text-align:center">Scholastic Areas</td>
                            @if (!Model.MultipleTerm)
                            {
                                <td colspan="6" style="text-align:center">Academic Year (100 marks)</td>
                            }
                            else
                            {
                                <td colspan="6" style="text-align:center">Term-1(100 marks)</td>
                                <td colspan="6" style="text-align:center">Term-2(100 marks)</td>
                            }
                        </tr>
                        <tr>
                            <td>Sub Name</td>

                            <td style="text-align:center;">Periodic Test(10)</td>
                            @foreach (var eteslm in Model.ExamTermEndSkillsListModel)
                            {
                                <td style="text-align:center;">@eteslm.ExamTermEndSkill</td>
                            }
                            @if (!Model.MultipleTerm)
                            {
                                <td style="text-align:center;">Annual Examination(80)</td>
                            }
                            else
                            {
                                <td style="text-align:center;">Half Yearly(80)</td>
                            }
                            <td style="text-align:center;">Marks Obtained(100)</td>
                            <td style="text-align:center;">Grade</td>

                            @if (Model.MultipleTerm)
                            {
                                <td style="text-align:center;">Periodic Test(10)</td>
                                foreach (var eteslm in Model.ExamTermEndSkillsListModel)
                                {
                                    <td style="text-align:center;">@eteslm.ExamTermEndSkill</td>
                                }
                                <td style="text-align:center;">Yearly Exam(80)</td>
                                <td style="text-align:center;">Marks Obtained(100)</td>
                                <td style="text-align:center;">Grade</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ViewResultDetailBySubjectList)
                        {
                            <tr>
                                <td>@item.SubjectName</td>

                                <td>@item.PeriodicTestmarks</td>
                                @if (item.ExamTermEndSkillsListModelterm1.Count > 0)
                                {
                                    foreach (var eteslm in item.ExamTermEndSkillsListModelterm1)
                                    {
                                        <td>@eteslm.Value2</td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                                <td>@item.AnnualTestmarks</td>
                                <td>@item.MarksObtained</td>
                                <td>@item.Grade</td>
                                @if (Model.MultipleTerm)
                                {
                                    if (item.MultipleTerm)
                                    {
                                        <td>@item.PeriodicTestmarksterm2</td>
                                        if (item.ExamTermEndSkillsListModel.Count > 0)
                                        {
                                            foreach (var eteslm in item.ExamTermEndSkillsListModel)
                                            {
                                                <td>@eteslm.Value</td>
                                            }
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                        }
                                        <td>@item.AnnualTestmarksterm2</td>
                                        <td>@item.MarksObtainedterm2</td>
                                        <td>@item.Gradeterm2</td>}
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table table-bordered table-condensed top-space-20">
                    <thead>
                        <tr colspan="2">
                            <td colspan="2" style="text-align:center" width="50%">
                                <span>Co-Scholastic Areas: Term-1 [on a 3-point (A-C) grading scale]</span>
                                <span class="pull-right">Grade</span>
                            </td>

                            @if (Model.MultipleTerm)
                            {

                                <td colspan="2" style="text-align:center" width="50%">
                                    <span>Co-Scholastic Areas: Term-2 [on a 3-point (A-C) grading scale]</span>
                                    <span class="pull-right">Grade</span>
                                </td>

                            }
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.ViewResultDetailByCoscholastic)
                        {
                            <tr>
                                @foreach (var item2 in @item.ExamTermEndSkillsListModelterm1)
                                {
                                    <td width="40%">@item2.ExamTermEndSkill</td>

                                    <td style="text-align:center">@item2.Value</td>
                                }


                                @if (Model.MultipleTerm)
                                {
                                    if (@item.ExamTermEndSkillsListModel.Count > 0)
                                    {
                                        foreach (var item2 in @item.ExamTermEndSkillsListModel)
                                        {
                                            <td width="40%">@item2.ExamTermEndSkill</td>

                                            <td style="text-align:center">@item2.Value2</td>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var item2 in @item.ExamTermEndSkillsListModelterm1)
                                        {
                                            <td width="40%">@item2.ExamTermEndSkill</td>

                                            <td style="text-align:center"></td>
                                        }
                                    }

                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table table-bordered table-condensed top-space-20">
                    <thead>
                        <tr colspan="2">
                            <td colspan="2" style="text-align:center" width="50%">

                                <span class="pull-right"> Grade </span>
                            </td>

                            @if (Model.MultipleTerm)
                            {

                                <td colspan="2" style="text-align:center" width="50%">

                                    <span class="pull-right"> Grade </span>
                                </td>

                            }
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.ViewResultDetailByDiscipline)
                        {
                            <tr>
                                @foreach (var item2 in @item.ExamTermEndSkillsListModelterm1)
                                {
                                    <td width="40%">@item2.ExamTermEndSkill</td>

                                    <td style="text-align:center">@item2.Value</td>
                                }


                                @if (Model.MultipleTerm)
                                {
                                    if (@item.ExamTermEndSkillsListModel.Count > 0)
                                    {
                                        foreach (var item2 in @item.ExamTermEndSkillsListModel)
                                        {
                                            <td width="40%">@item2.ExamTermEndSkill</td>

                                            <td style="text-align:center">@item2.Value2</td>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var item2 in @item.ExamTermEndSkillsListModelterm1)
                                        {
                                            <td width="40%">@item2.ExamTermEndSkill</td>

                                            <td style="text-align:center"></td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else*@ @if (Model.ClassId > 0 && Model.StudentId > 0 && Model.ViewResultByStudent.ViewResultDetailBySubjectList.Count > 0)
            {
                <div class="col-md-12" style="padding: 0">
                    <div class="col-md-6">
                        <h5 class="poutheading">DateSheet: @Model.ExamActivity</h5>
                    </div>
                </div>
                <div class="col-md-12 ">

                    <table class="grid " border="1" cellspacing="0" style="width:100%; font-size: 10px; text-align: center; margin-bottom: 10px; ">
                        <tr class="trclass" style="background: #eeeeee; text-align:center;padding:5px;">
                            <th class="thcenter">Subject</th>
                            <th class="thcenter"></th>
                            <th class="thcenter">MM. Marks</th>
                            <th class="thcenter">Obt. Marks</th>
                            <th class="thcenter">Total</th>
                            <th class="thcenter">%age</th>
                            <th class="thcenter">Grade</th>
                        </tr>
                        @foreach (var element in Model.ViewResultByStudent.ViewResultDetailBySubjectList)
                        {
                            <tr>
                                @if (@element.IssubjectInternalAssessment)
                                {
                                    <td class="text_size thcenter" rowspan="2">@element.SubjectName</td>}
                                else
                                {
                                    <td class="text_size thcenter">@element.SubjectName</td>
                                }
                                <td class="thcenter">Theory</td>
                                <td class="thcenter">@element.MaxMarks</td>
                                <td class="thcenter">@element.ObtainedMarks</td>
                                @if (@element.IssubjectInternalAssessment)
                                {
                                   
                                    <td rowspan="2">@element.TotalObtainedMarks</td>
                                    if (@element.subjectpercentage == "")
                                    {
                                         <td rowspan="2"></td>
                                    }
                                    else { 
                                    <td rowspan="2">@element.subjectpercentage %</td>}
                                    <td class="text_size" rowspan="2" style="text-transform: uppercase">@element.grade</td>
                                }
                                else
                                {
                                    <td>@element.TotalObtainedMarks</td>
                                      if (@element.subjectpercentage == "")
                                    {
                                         <td ></td>
                                    }
                                    else { 
                                    <td >@element.subjectpercentage %</td>}
                                    <td class="text_size" style="text-transform: uppercase">@element.grade</td>
                                }
                            </tr>
                            if (@element.IssubjectInternalAssessment)
                            {
                                <tr>
                                    <td class="thcenter">Internal Assesment</td>
                                    <td class="thcenter">@element.IAMAxMarks</td>
                                    <td class="thcenter">@element.InternalAssessment</td>
                                </tr>
                        
                        }
                        }

                        <tr align="center">
                            <td colspan="2" class="acc_person" style="background: #eeeeee"><span style="text-transform: uppercase;"></span></td>
                            <td class="acc_person" style="background: #eeeeee">@Model.ViewResultByStudent.TotalMaxMarks</td>
                            <td class="acc_person" style="background: #eeeeee"></td>
                            <td class="acc_person" style="background: #eeeeee">@Model.ViewResultByStudent.TotalObtMarks</td>
                            <td class="acc_person" style="background: #eeeeee">@Model.ViewResultByStudent.Percentage</td>
                            <td class="acc_person" style="background: #eeeeee">@Model.ViewResultByStudent.grade</td>
                        </tr>

                    </table>

                  

                    <!-- <table class="grid table table-responsive table-condensed table-striped" id="View_Result">
                        <thead class="thead-default">
                            <tr>
                                <th onclick="sortTable()" id="facility_header">Subject</th>
                                <th>Obtained Marks</th>
                                <th>Max Marks</th>
                            </tr>
                        </thead>
                        <tbody>-->
                            <!--  @foreach (var element in Model.ViewResultByStudent.ViewResultDetailBySubjectList)
                            {
                                <tr>
                                    <td>@element.SubjectName</td>
                                    <td>@element.ObtainedMarks</td>
                                    <td>@element.MaxMarks</td>
                                </tr>
                            }-->
                            <!-- Total -->
                            <!--  <tr>
                                <td>Total</td>
                                <td>@Model.ViewResultByStudent.TotalObtMarks</td>
                                <td>@Model.ViewResultByStudent.TotalMaxMarks</td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
            }
            else if (Model.ClassId > 0 && Model.StudentId == null && Model.SubjectId == null && Model.ViewResultByClassList.Count > 0)
            {
                <div class="col-md-12" style="padding: 0">
                    <div class="col-md-6">
                        <h5 class="poutheading">DateSheet: @Model.ExamActivity</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="grid table table-responsive table-condensed table-striped" id="View_Result">
                        <thead class="thead-default">
                            <tr>
                                <th onclick="sortTable()" id="facility_header">RollNo</th>
                                <th>Student</th>
                                <th>Total</th>
                                <th>Grade</th>
                                @*@foreach (var th in Model.ViewResultByClassList.OrderByDescending(l=>l.ViewResultDetailList.Count()).FirstOrDefault().ViewResultDetailList)
                                {*@
                                @foreach (var th in Model.AvailableClassSubjects.Where(m => m.SubjectName != null))
                                {
                                    if (Model.IsInternalAssessmentAplicable && @th.IsInternalAssesmentApplicable != null && (bool)@th.IsInternalAssesmentApplicable)
                                    {
                                        <th colspan="2" style=" text-align:center !important">@th.SubjectName</th>
                                    }
                                    else
                                    {
                                        <th style=" text-align:center !important">@th.SubjectName</th>
                                    }
                                }
                            </tr>
                            <tr>


                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                @*@foreach (var obtmarks in Model.ViewResultByClassList.OrderByDescending(l => l.ViewResultDetailList.Count()).FirstOrDefault().ViewResultDetailList)
                                {*@
                                        @foreach (var th in Model.AvailableClassSubjects.Where(m => m.SubjectName != null))
                                        {
    //foreach (var obtmarks in item.ViewResultDetailList)
    //{
                                        <th style=" text-align:center !important">Ob</th>
                                            if (Model.IsInternalAssessmentAplicable && @th.IsInternalAssesmentApplicable != null && (bool)@th.IsInternalAssesmentApplicable)
                                        {
                                            <th style=" text-align:center !important">IA</th>
                                        }
                                    @*}
                                    break;*@
                                }


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ViewResultByClassList)
                            {
                                <tr>
                                    <td>@item.RollNo</td>
                                    <td>@item.StudentName</td>
                                    @if(item.IsExamresultWithheld){
                                        <td style="color:red">@item.TotalObtainedMarks / @item.TotalMaxMarks</td>
                                    }else{
                                        <td>@item.TotalObtainedMarks / @item.TotalMaxMarks</td>
                                    }
                                    
                                    <td>@item.Grade</td>
                                @*@foreach (var obtmarks1 in Model.ViewResultByClassList.OrderByDescending(l => l.ViewResultDetailList.Count()).FirstOrDefault().ViewResultDetailList)
                                {
                                    foreach (var obtmarks in item.ViewResultDetailList)
                                    {
                                        if (obtmarks1.SubjectName == obtmarks.SubjectName)
                                        { 
                                        <td style=" text-align:center !important">@obtmarks.ObtainedMarks</td>
                                            if (Model.IsInternalAssessmentAplicable && @obtmarks.IsSubjectInternalAssessment)
                                            {
                                            <td style=" text-align:center !important">@obtmarks.InternalAssessment</td>
                                            }
                                        }
                                        else
                                        {
                                             <td style=" text-align:center !important"></td>
                                        }
                                    }
                                }*@
                                    @*@foreach (var obtmarks1 in Model.ViewResultByClassList.OrderByDescending(l => l.ViewResultDetailList.Count()).FirstOrDefault().ViewResultDetailList)
                                    {*@
@foreach (var obtmarks1 in Model.AvailableClassSubjects.Where(m => m.SubjectName != null).ToList())
{
    if (item.ViewResultDetailList.Where(m => m.SubjectName == obtmarks1.SubjectName).Count() > 0)
    {
        foreach (var obtmarks in item.ViewResultDetailList.Where(m => m.SubjectName == obtmarks1.SubjectName))
        {

                                                <td style=" text-align:center !important">@obtmarks.ObtainedMarks</td>
                                                if (Model.IsInternalAssessmentAplicable && @obtmarks.IsSubjectInternalAssessment)
                                                {
                                                    <td style=" text-align:center !important">@obtmarks.InternalAssessment</td>
                                                }

                                            }
                                        }
                                        else
                                        {
                                            <td style=" text-align:center !important"></td>
                                            if (Model.IsInternalAssessmentAplicable && @obtmarks1.IsInternalAssesmentApplicable)
                                            {
                                                <td style=" text-align:center !important"></td>
                                            }
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.ClassId > 0 && Model.SubjectId > 0 && Model.ViewResultByClassList.Count > 0)
            {
                <div class="col-md-12" style="padding: 0">
                    <div class="col-md-6">
                        <h5 class="poutheading">DateSheet: @Model.ExamActivity</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="grid table table-responsive table-condensed table-striped" id="View_Result">
                        <thead class="thead-default">
                            <tr>
                                <th onclick="sortTable()" id="facility_header">RollNo</th>
                                <th>Student</th>
                                <th>Ob</th>
                                @if (Model.IsInternalAssessmentAplicable )
                                {
                                <th>IA</th>
                                }
                                <th>Total</th>
                                <th>Grade</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ViewResultByClassList)
                            {
                                <tr>
                                    <td>@item.RollNo</td>
                                    <td>@item.StudentName</td>
                                    <td>@item.TotalObtainedMarks</td>
                                    @if (Model.IsInternalAssessmentAplicable )
                                    {
                                    <td>@item.InternalAssessment</td>
                                    }
                                    <td>@item.TotalMaxMarks</td>
                                    <td>@item.Grade</td>
                                    <td>@item.Remarks</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.StudentId != null && Model.UserType != "Student")
            {
                <h5 class="text-danger">No Data Found</h5>
            }

        </div>
        }
        else{

        @*set different grid by condition*@
        <div id="dvGrid" class="row">
            @*@if (Model.IsTermEnd)
            {
                using (Html.BeginForm("PrintReportCard", "Examination", FormMethod.Post, new { @class = "form-horizontal ks-custom-form", DSI = Model.DSI, target = "_blank" }))
                {
                    @Html.HiddenFor(m => m.ClassId)
                    @Html.HiddenFor(m => m.StudentId)
                    @Html.HiddenFor(m => m.SessionId)
                    <div>
                        <!-- Form Coulmn -->
                        <div class="pull-right">
                            <button type="submit" value="Print Report Card" class="btn btn-default" name="filter"><i class="fa fa-print"></i></button>
                        </div>
                        <!-- //Form Coulmn -->
                    </div>
                }
                <table class="table table-bordered table-condensed top-space-20">
                    <thead>
                        <tr>
                            <td style="text-align:center">Scholastic Areas</td>
                            @if (!Model.MultipleTerm)
                            {
                                <td colspan="6" style="text-align:center">Academic Year (100 marks)</td>
                            }
                            else
                            {
                                <td colspan="6" style="text-align:center">Term-1(100 marks)</td>
                                <td colspan="6" style="text-align:center">Term-2(100 marks)</td>
                            }
                        </tr>
                        <tr>
                            <td>Sub Name</td>

                            <td style="text-align:center;">Periodic Test(10)</td>
                            @foreach (var eteslm in Model.ExamTermEndSkillsListModel)
                            {
                                <td style="text-align:center;">@eteslm.ExamTermEndSkill</td>
                            }
                            @if (!Model.MultipleTerm)
                            {
                                <td style="text-align:center;">Annual Examination(80)</td>
                            }
                            else
                            {
                                <td style="text-align:center;">Half Yearly(80)</td>
                            }
                            <td style="text-align:center;">Marks Obtained(100)</td>
                            <td style="text-align:center;">Grade</td>

                            @if (Model.MultipleTerm)
                            {
                                <td style="text-align:center;">Periodic Test(10)</td>
                                foreach (var eteslm in Model.ExamTermEndSkillsListModel)
                                {
                                    <td style="text-align:center;">@eteslm.ExamTermEndSkill</td>
                                }
                                <td style="text-align:center;">Yearly Exam(80)</td>
                                <td style="text-align:center;">Marks Obtained(100)</td>
                                <td style="text-align:center;">Grade</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ViewResultDetailBySubjectList)
                        {
                            <tr>
                                <td>@item.SubjectName</td>

                                <td>@item.PeriodicTestmarks</td>
                                @if (item.ExamTermEndSkillsListModelterm1.Count > 0)
                                {
                                    foreach (var eteslm in item.ExamTermEndSkillsListModelterm1)
                                    {
                                        <td>@eteslm.Value2</td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                                <td>@item.AnnualTestmarks</td>
                                <td>@item.MarksObtained</td>
                                <td>@item.Grade</td>
                                @if (Model.MultipleTerm)
                                {
                                    if (item.MultipleTerm)
                                    {
                                        <td>@item.PeriodicTestmarksterm2</td>
                                        if (item.ExamTermEndSkillsListModel.Count > 0)
                                        {
                                            foreach (var eteslm in item.ExamTermEndSkillsListModel)
                                            {
                                                <td>@eteslm.Value</td>
                                            }
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                        }
                                        <td>@item.AnnualTestmarksterm2</td>
                                        <td>@item.MarksObtainedterm2</td>
                                        <td>@item.Gradeterm2</td>}
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table table-bordered table-condensed top-space-20">
                    <thead>
                        <tr colspan="2">
                            <td colspan="2" style="text-align:center" width="50%">
                                <span>Co-Scholastic Areas: Term-1 [on a 3-point (A-C) grading scale]</span>
                                <span class="pull-right">Grade</span>
                            </td>

                            @if (Model.MultipleTerm)
                            {

                                <td colspan="2" style="text-align:center" width="50%">
                                    <span>Co-Scholastic Areas: Term-2 [on a 3-point (A-C) grading scale]</span>
                                    <span class="pull-right">Grade</span>
                                </td>

                            }
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.ViewResultDetailByCoscholastic)
                        {
                            <tr>
                                @foreach (var item2 in @item.ExamTermEndSkillsListModelterm1)
                                {
                                    <td width="40%">@item2.ExamTermEndSkill</td>

                                    <td style="text-align:center">@item2.Value</td>
                                }


                                @if (Model.MultipleTerm)
                                {
                                    if (@item.ExamTermEndSkillsListModel.Count > 0)
                                    {
                                        foreach (var item2 in @item.ExamTermEndSkillsListModel)
                                        {
                                            <td width="40%">@item2.ExamTermEndSkill</td>

                                            <td style="text-align:center">@item2.Value2</td>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var item2 in @item.ExamTermEndSkillsListModelterm1)
                                        {
                                            <td width="40%">@item2.ExamTermEndSkill</td>

                                            <td style="text-align:center"></td>
                                        }
                                    }

                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table table-bordered table-condensed top-space-20">
                    <thead>
                        <tr colspan="2">
                            <td colspan="2" style="text-align:center" width="50%">

                                <span class="pull-right"> Grade </span>
                            </td>

                            @if (Model.MultipleTerm)
                            {

                                <td colspan="2" style="text-align:center" width="50%">

                                    <span class="pull-right"> Grade </span>
                                </td>

                            }
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.ViewResultDetailByDiscipline)
                        {
                            <tr>
                                @foreach (var item2 in @item.ExamTermEndSkillsListModelterm1)
                                {
                                    <td width="40%">@item2.ExamTermEndSkill</td>

                                    <td style="text-align:center">@item2.Value</td>
                                }


                                @if (Model.MultipleTerm)
                                {
                                    if (@item.ExamTermEndSkillsListModel.Count > 0)
                                    {
                                        foreach (var item2 in @item.ExamTermEndSkillsListModel)
                                        {
                                            <td width="40%">@item2.ExamTermEndSkill</td>

                                            <td style="text-align:center">@item2.Value2</td>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var item2 in @item.ExamTermEndSkillsListModelterm1)
                                        {
                                            <td width="40%">@item2.ExamTermEndSkill</td>

                                            <td style="text-align:center"></td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else*@ 
            @if (Model.ClassId > 0 && Model.StudentId > 0 && Model.ViewResultByStudent.ViewResultDetailBySubjectList.Count > 0)
            {
                <div class="col-md-12" style="padding: 0">
                    <div class="col-md-6">
                        <h5 class="poutheading">DateSheet: @Model.ExamActivity</h5>
                    </div>
                </div>
                <div class="col-md-12 ">

                    <table class="grid " border="1" cellspacing="0" style="width:100%; font-size: 10px; text-align: center; margin-bottom: 10px; ">
                        <tr class="trclass" style="background: #eeeeee; text-align:center;padding:5px;">
                            <th class="thcenter">Subject</th>
                                @if(Model.IsVisibleReportCardDetails)
                                {
                                <th class="thcenter"></th>
                                 }
                            <th class="thcenter">MM. Marks</th>
                            <th class="thcenter">Obt. Marks</th>
                            <th class="thcenter">Total</th>
                            <th class="thcenter">%age</th>
                            <th class="thcenter">Grade</th>
                        </tr>
                        @foreach (var element in Model.ViewResultByStudent.ViewResultDetailBySubjectList)
                        {
                            <tr>
                                @if (@element.IssubjectInternalAssessment)
                                {
                                    <td class="text_size thcenter" rowspan="2">@element.SubjectName</td>}
                                else
                                {
                                    <td class="text_size thcenter">@element.SubjectName</td>
                                }

                                @if(Model.IsVisibleReportCardDetails)
                                { 
                                      <td class="thcenter">Theory</td>
                                }
                                <td class="thcenter">@element.MaxMarks</td>
                                <td class="thcenter">@element.ObtainedMarks</td>
                                @if (@element.IssubjectInternalAssessment)
                                {
                                   
                                    <td rowspan="2">@element.TotalObtainedMarks</td>
                                     if (@element.subjectpercentage == "")
                                    {
                                         <td rowspan="2"></td>
                                    }
                                    else { 
                                    <td rowspan="2">@element.subjectpercentage %</td>}
                                    <td class="text_size" rowspan="2" style="text-transform: uppercase">@element.grade</td>
                                }
                                else
                                {
                                    <td>@element.TotalObtainedMarks</td>
                                     if (@element.subjectpercentage == "")
                                    {
                                         <td ></td>
                                    }
                                    else { 
                                    <td >@element.subjectpercentage %</td>}
                                    <td class="text_size" style="text-transform: uppercase">@element.grade</td>
                                }
                            </tr>
                            if (@element.IssubjectInternalAssessment)
                            {
                                <tr>
    @if(Model.IsVisibleReportCardDetails)
                                {
                                    <td class="thcenter">Internal Assesment</td>
}
                                    <td class="thcenter">@element.IAMAxMarks</td>
                                    <td class="thcenter">@element.InternalAssessment</td>
                                </tr>}
                        }

                        <tr align="center">
                            <td  class="acc_person" style="background: #eeeeee"><span style="text-transform: uppercase;"></span></td>
                            @if (Model.IsVisibleReportCardDetails)
                            {
                                <td style="background: #eeeeee"></td>
                            }
                            <td class="acc_person" style="background: #eeeeee">@Model.ViewResultByStudent.TotalMaxMarks</td>
                            <td class="acc_person" style="background: #eeeeee"></td>

                            <td class="acc_person" style="background: #eeeeee">@Model.ViewResultByStudent.TotalObtMarks</td>
                            <td class="acc_person" style="background: #eeeeee">@Model.ViewResultByStudent.Percentage</td>
                            <td class="acc_person" style="background: #eeeeee">@Model.ViewResultByStudent.grade</td>
                        </tr>

                    </table>

                  

                    <!-- <table class="grid table table-responsive table-condensed table-striped" id="View_Result">
                        <thead class="thead-default">
                            <tr>
                                <th onclick="sortTable()" id="facility_header">Subject</th>
                                <th>Obtained Marks</th>
                                <th>Max Marks</th>
                            </tr>
                        </thead>
                        <tbody>-->
                            <!--  @foreach (var element in Model.ViewResultByStudent.ViewResultDetailBySubjectList)
                            {
                                <tr>
                                    <td>@element.SubjectName</td>
                                    <td>@element.ObtainedMarks</td>
                                    <td>@element.MaxMarks</td>
                                </tr>
                            }-->
                            <!-- Total -->
                            <!--  <tr>
                                <td>Total</td>
                                <td>@Model.ViewResultByStudent.TotalObtMarks</td>
                                <td>@Model.ViewResultByStudent.TotalMaxMarks</td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
            }
            else if (Model.ClassId > 0 && Model.StudentId == null && Model.SubjectId == null && Model.ViewResultByClassList.Count > 0)
            {
                <div class="col-md-12" style="padding: 0">
                    <div class="col-md-6">
                        <h5 class="poutheading">DateSheet: @Model.ExamActivity</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="grid table table-responsive table-condensed table-striped" id="View_Result">
                        <thead class="thead-default">
                            <tr>
                                <th onclick="sortTable()" id="facility_header">RollNo</th>
                                <th>Student</th>
                                <th>Total</th>
                                <th>Grade</th>
                                @*@foreach (var th in Model.ViewResultByClassList.OrderByDescending(l => l.ViewResultDetailList.Count()).FirstOrDefault().ViewResultDetailList@*[0].viewresultdetaillist*@)
                                @*{
                                    if (Model.IsInternalAssessmentAplicable && @th.IsSubjectInternalAssessment)
                                    {
                                        <th colspan="2" style=" text-align:center !important">@th.SubjectName</th>
                                    }
                                    else
                                    {
                                        <th style=" text-align:center !important">@th.SubjectName</th>
                                    }
                                }*@
                                @foreach(var th in Model.AvailableClassSubjects.Where(m=>m.SubjectName!=null))
                                {
                                    if (Model.IsInternalAssessmentAplicable && @th.IsInternalAssesmentApplicable != null && (bool)@th.IsInternalAssesmentApplicable)
                                    {
                                        <th colspan="2" style=" text-align:center !important">@th.SubjectName</th>
                                    }
                                    else
                                    {
                                        <th style=" text-align:center !important">@th.SubjectName</th>
                                    }
                                }
                            </tr>
                            <tr>


                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                @*@foreach (var obtmarks in Model.ViewResultByClassList.OrderByDescending(l => l.ViewResultDetailList.Count()).FirstOrDefault().ViewResultDetailList)
                                {
                                    //foreach (var obtmarks in item.ViewResultDetailList)
                                    //{
                                        <th style=" text-align:center !important">Ob</th>
                                        if (Model.IsInternalAssessmentAplicable && @obtmarks.IsSubjectInternalAssessment)
                                        {
                                            <th style=" text-align:center !important">IA</th>
                                        }
                                    @*}*@
                                   
                               @* }*@
                                @foreach (var th in Model.AvailableClassSubjects.Where(m => m.SubjectName != null).ToList())
                                {
                                    //foreach (var obtmarks in item.ViewResultDetailList)
                                    //{
                                    <th style=" text-align:center !important">Ob</th>
                                    if (Model.IsInternalAssessmentAplicable && @th.IsInternalAssesmentApplicable != null && (bool)@th.IsInternalAssesmentApplicable)
                                    {
                                        <th style=" text-align:center !important">IA</th>
                                    }
                                    @*}
            break;*@
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ViewResultByClassList)
                            {
                                <tr>
                                    <td>@item.RollNo</td>
                                    <td>@item.StudentName</td>
                                    
                                    @if (item.IsExamresultWithheld)
                                    {
                                        <td style="color:red">@item.TotalObtainedMarks / @item.TotalMaxMarks</td>
                                    }
                                    else
                                    {
                                        <td>@item.TotalObtainedMarks / @item.TotalMaxMarks</td>
                                    }
                                    <td>@item.Grade</td>
                                @*@foreach (var obtmarks1 in Model.ViewResultByClassList.OrderByDescending(l => l.ViewResultDetailList.Count()).FirstOrDefault().ViewResultDetailList)
                                {*@
@foreach (var obtmarks1 in Model.AvailableClassSubjects.Where(m => m.SubjectName != null).ToList())
{
    if (item.ViewResultDetailList.Where(m => m.SubjectName == obtmarks1.SubjectName).Count() > 0)
    {
        foreach (var obtmarks in item.ViewResultDetailList.Where(m => m.SubjectName == obtmarks1.SubjectName))
        {

                                        <td style=" text-align:center !important">@obtmarks.ObtainedMarks</td>
                                            if (Model.IsInternalAssessmentAplicable && @obtmarks.IsSubjectInternalAssessment)
                                            {
                                            <td style=" text-align:center !important">@obtmarks.InternalAssessment</td>
                                            }

                                        }
                                    }
                                    else
                                    {
                                         <td style=" text-align:center !important"></td>
                                            if (Model.IsInternalAssessmentAplicable && @obtmarks1.IsInternalAssesmentApplicable)
                                            {
                                            <td style=" text-align:center !important"></td>
                                            }
                                    }
                                }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.ClassId > 0 && Model.SubjectId > 0 && Model.ViewResultByClassList.Count > 0)
            {
                <div class="col-md-12" style="padding: 0">
                    <div class="col-md-6">
                        <h5 class="poutheading">DateSheet: @Model.ExamActivity</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="grid table table-responsive table-condensed table-striped" id="View_Result">
                        <thead class="thead-default">
                            <tr>
                                <th onclick="sortTable()" id="facility_header">RollNo</th>
                                <th>Student</th>
                                <th>Ob</th>
                                @if (Model.IsInternalAssessmentAplicable )
                                {
                                <th>IA</th>
                                }
                                <th>Total</th>
                                <th>Grade</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ViewResultByClassList)
                            {
                                <tr>
                                    <td>@item.RollNo</td>
                                    <td>@item.StudentName</td>
                                    <td>@item.TotalObtainedMarks</td>
                                    @if (Model.IsInternalAssessmentAplicable )
                                    {
                                    <td>@item.InternalAssessment</td>
                                    }
                                    <td>@item.TotalMaxMarks</td>
                                    <td>@item.Grade</td>
                                    <td>@item.Remarks</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.StudentId != null && Model.UserType != "Student")
            {
                <h5 class="text-danger">No Data Found</h5>
            }

        </div>
        }
    </div>
</div>

<script>
   $(document).ready(function () {
        @if (Model.strStudentId != null) {
            <text>
        $("#rdStudent").prop("checked", true);
        $('#StudentId').val('@Model.strStudentId');
        $('#SubjectId').val('');

        $('#dvSS').show();
        $('#dvStudent').show();
        $('#dvSubject').hide();
        $('#printstudentresult').attr('onclick', 'PrintResultStudentWise()');
        $('#Exportstudentresult').hide();
        $('#ExportAllstudentresult').hide();
        $('#filter_btn').trigger('click');
    
        </text>
            }
        });
    $('#Exportstudentresult').click(function () {
        $('#IsExporttoExcel').val(true);
        $("#ViewResultForm").submit();
    })
    $('#filter_btn').click(function () {
        $('#ks_loader').show();
        $('#IsExporttoExcel').val(false);
        $('#IsExportTopdfAllStudents').val(false);
    })
    $('#ExportAllstudentresult').click(function () {
        $('#IsExportTopdfAllStudents').val(true);
        $("#ViewResultForm").submit();
    })
    
    

    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("View_Result");
        switching = true;
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1) ; i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                // Check if the two rows should switch place:
                if (x.innerHTML.trim("") > y.innerHTML.trim("")) {
                    // I so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    $('#printstudentresult').hide();

    @if (Model.ViewResultByStudent.ViewResultDetailBySubjectList.Count > 0 || Model.ViewResultByClassList.Count > 0)
    {
        <text>
    $('#printstudentresult').show();
    </text>
    }
    @if (Model.UserType == "Student")
    {
         <text>

    $('#dvRd').hide();
    $('#dvSubject').hide();
    $('#StudentId').val($('#StudentId').val());
    $('#filter_btn').val("Show Result");
    $('#reset').hide();
    </text>
    }


    @if(Model.StudentId > 0)
    {
        <text>
    //  $("#SubjectId").attr("disabled", true);
    // $("#SubjectId").val("");
    $('#dvSS').show();
    $('#dvStudent').show();
    $('#dvSubject').hide();
    $("#rdStudent").prop("checked", true);
    $("#rdSubject").prop("checked", false);
    </text>
    }
    @if(Model.SubjectId > 0)
    {
        <text>
    //$("#StudentId").attr("disabled", true);
    //$("#StudentId").val("");
    $('#dvSS').show();
    $('#dvSubject').show();
    $('#dvStudent').hide();
    $("#rdSubject").prop("checked", true);
    $("#rdStudent").prop("checked", false);

    </text>
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('.clsstudentviewresult').click(function () {
        var studentid = $(this).attr("data-id");
        $('#StudentId').val(studentid);
        $('#ClassId').val(@Model.ClassId);
        $('#filter_btn').trigger('click');
    });
    $('input:radio[name=StudentSubject]').change(function () {
        $('#dvSS').show();
        if (this.value == 'Student') {
            $('#StudentId').val('');
            $('#SubjectId').val('');
            $('#dvStudent').show();
            $('#dvSubject').hide();
            $('#printstudentresult').attr('onclick', 'PrintResultStudentWise()')
            $('#Exportstudentresult').hide();
            $('#ExportAllstudentresult').hide();

        }
        else if (this.value == 'Subject') {
            $('#StudentId').val('');
            $('#SubjectId').val('');
            $('#dvSubject').show();
            $('#dvStudent').hide();
            $('#printstudentresult').attr('onclick', 'PrintResult')
            $('#Exportstudentresult').show();
            $('#ExportAllstudentresult').hide();
        }
    });
    $('#filter_btn').click(function (e) {

        var ClassId = $('#ClassId').val();
        if (ClassId == "") {
            ToastMessage("Class is required", "error", true, 5000);
            e.preventDefault();
        }
        var SessionId = $('#SessionId').val();
        if (SessionId == "") {
            ToastMessage("Session is required", "error", true, 5000);
            e.preventDefault();
        }

    });
    $('#reset').click(function () {
        $("#ClassId").val('');
        $("#StudentId").val('');
        $("#SubjectId").val('');
        $('#Exportstudentresult').show();
        $('#dvSS').hide();
        $("#dvGrid").hide();
        $("#rdStudent").prop("checked", false);
        $("#rdSubject").prop("checked", false);
        $('#ExportAllstudentresult').show();
    });

    $('#SessionId').change(function () {
        var sessionid = $(this).val();
        if (sessionid > 0) {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetClassAcctoSession", "Examination"))',
                async: false,
                data: { "Session": sessionid, "Id": $('#DSI').val() },
                success: function (result) {
                    if (result.status == "success") {
                        $('#ClassId').empty();
                        for (var i = 0; i < result.ClassList.length; i++) {
                            var option = "";
                            if (result.ClassList[i].Selected == true)
                                option = "<option selected value='" + result.ClassList[i].Value + "'>" + result.ClassList[i].Text + "</option>";
                            else
                                option = "<option value='" + result.ClassList[i].Value + "'>" + result.ClassList[i].Text + "</option>";

                            $('#ClassId').append(option);
                        }
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
    });

    $(document).ready(function () {

    
    $('#ClassId').change(function (e) {
        e.preventDefault();
        $("#StudentId").find("option").remove();
        $("#SubjectId").find("option").remove();
        var Sessionid = $('#SessionId').val();
        var ClassId = $(this).val();
       
        if (ClassId > 0) {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("StudentListbyClass", "Examination"))',
                async: true,
                data: { "Class": ClassId, "Id": "", "Sessionid": Sessionid },
                success: function (result) {
                    if (result.status == "success") {
                        
                        for (var i = 0; i < result.data.length; i++) {
                            var option = "";
                            if (result.data[i].Selected == true)
                                option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                            else
                                option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                            $('#StudentId').append(option);
                        }
                        //$('#ks_loader').hide();
                    }
                    else {
                        $('#ks_loader').hide();
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    // get class subject
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("SubjectByClass", "Examination"))',
                        async: true,
                        data: { "Class": ClassId },
                        success: function (result) {
                            if (result.status == "success") {
                                for (var i = 0; i < result.data.length; i++) {
                                    var option = "";
                                    if (result.data[i].Selected == true)
                                        option = "<option selected value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";
                                    else
                                        option = "<option value='" + result.data[i].Value + "'>" + result.data[i].Text + "</option>";

                                    $('#SubjectId').append(option);
                                    //$('#ks_loader').hide();
                                    $('#ks_loader').hide();
                                }

                            }
                            else {
                                ToastMessage(result.msg, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            $('#ks_loader').hide();
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            ToastMessage(err, "error", true, 5000);
                        }
                    });
                    
                },
                error: function (xhr, status, p3, p4) {
                    $('#ks_loader').hide();
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    ToastMessage(err, "error", true, 5000);
                }
            });

            

        }
    });
    })
    $('#StudentId').change(function () {
        var studentid = $(this).val();

        $("#SubjectId").val("");
    });

    $('#SubjectId').change(function () {
        var studentid = $(this).val();

        $("#StudentId").val("");
    });

    $(document).bind("keyup keydown", function (e) {
        if (e.ctrlKey && e.keyCode == 80) {
            PrintResult();
        }
    });
    function PrintResultStudentWise() {

        var studentid = $('#StudentId').val();
        var SessionId = $('#SessionId').val();
        var examdatesheetid = $('#ExDSI').val();
        var admnNo = "";
        var StudentName = "";
        var fatherName = "";
        var motherName = "";
        var className = "";
        var BloodGroup = "";
        var SchoolName = "";
        var SchoolLogoPath = "";
        var SchoolAddress = "";
        var SchoolPhone = "";
        var nonscholasticdata = "";
        var height = "";
        var weight = "";
        var Website = "";
        var Session = "";
        var ExamDatesheetName = "";
        var TotalworkingDays = "";
        var TotalPresentDays = "";
        var DOB = "";
        var PrincipalSign = "";
        
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("StudentdetailsforExamResultheader", "Examination"))',
            async: false,
            data: { "Studentid": studentid, "SessionId": SessionId, "examdatesheetid": examdatesheetid },
            success: function (result) {
                if (result.status == "success") {
                    admnNo = result.admnNo,
                     StudentName = result.StudentName,
                     fatherName = result.fatherName,
                     motherName = result.motherName,
                     className = result.className,
                     BloodGroup = result.BloodGroup,
                      SchoolName = result.SchoolName,
                    SchoolLogoPath = result.SchoolLogoPath,
                    SchoolAddress = result.SchoolAddress,
                    SchoolPhone = result.SchoolPhone,
                      height = result.height,
                    weight = result.weight,
                    Website = result.Website,
                    Session = result.Session,
                    ExamDatesheetName = result.ExamDatesheetName,
                    TotalworkingDays = result.TotalworkingDays,
                    TotalPresentDays = result.TotalPresentDays,
                    DOB = result.DOB,
                    PrincipalSign = result.PrincipalSign
                    for (i = 0; i < result.ExamtermSkillDetaillist.length; i++) {

                        nonscholasticdata += '<tr>' +
                        '<td style="width:50%"></td>' +
                        '<td colspan="3" class="subject">' + result.ExamtermSkillDetaillist[i].ExamTermEndSkill + '</td>' +
                        '<td class="text_size">' + result.ExamtermSkillDetaillist[i].Value + '</td>' +
                        '</tr>';


                    }
                }
                else
                    ToastMessage(result.msg, "error", true, 5000);
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                ToastMessage(err, "error", true, 5000);
            }
        });


        //var w = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1');

        var href = "";

        @if (Request.Url.AbsoluteUri.Contains("localhost"))
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }
        else if (Request.Url.AbsoluteUri.Contains("digitech.com"))
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }
        else
        {
            <text>
        href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
        </text>
        }

        var htmlStart =
            '<!DOCTYPE html>' +
            '<html>' +
            '<head>' +
            '<meta charset="utf-8" />' +
            '<title>Examination Result</title>' +
            '<link href="' + href + '" rel="stylesheet" /> ' +
            '<style>' +

            'th,td {padding: 5px}p {padding: 0;margin: 0;}b {margin: 0;padding: 0;}' +
            '.subject {text-transform: capitalize;text-align: left;}.text_size {text-transform: uppercase;}' +
            '.table_class {background-image: url("/Content/assets/img/bglogoReportCard.png");}' +
            '.thcenter{text-align:center;}' +
            '.trclass{background-color: #eeeeee}' +

            //'html { font: 11pt sans-serif; }' +
            //'.thead-default th {color: #464a4c;background-color: #eceeef;}' +
            '</style>' +
            '</head>' +
            '<body>';

        var htmlEnd = '</body></html>';
        //var heading = '<h4 style="text-align: left;padding-left: 5px;"> ' + $('.poutheading').text() + '</h4>';
        //var childheading = '<h5 style="text-align: left;padding-left: 5px;">';
        //if ($('#ClassId').val() != "")
        //    childheading += 'Class: ' + $('#ClassId option:selected').text();
        //if ($('#StudentId').val() != "")
        //    childheading += ' Student: ' + $('#StudentId option:selected').text();
        //if ($('#SubjectId').val() != "")
        //    childheading += ' Subject: ' + $('#SubjectId option:selected').text();

        //childheading += '<h5>';

        var bodytablestart = '<body>' +
                        '<table class="table_class" style="width:100%; font-size: 10px; font-family: sans-serif;  background-repeat:no-repeat;">';
        var header = '<tr>' +
                     '<td style="text-align:center;" colspan="3">' +
                     '<img src="' + SchoolLogoPath + '" style="width: 80px; float:left;">' +
                     '<p><b><span style="font-size: 20px; text-transform: uppercase;">' + SchoolName + '</span></b>' +
                     '<br><span style="text-transform: uppercase;">' + SchoolAddress + '</span><br>Phone : ' + SchoolPhone + ', Website : ' + Website + '' +
                     '</p><div style="clear:both"></div>' +
                     '</td>' +
                     '</tr>' +
                     '<tr>' +
                     '<td colspan="2" style="text-align: center; font-size: 12px;"> <b>Session : ' + Session + '</b></td>' +
                     '<td colspan="1" style="text-align: left; font-size: 12px;"><b>Result :' + ExamDatesheetName + '</b></td>' +
                     '</tr>';

        var studentprofile = '<tr>' +
                           '<td colspan="3"> <b>Student Profile</b></td>' +
                           '</tr>' +
                           '<tr>' +
                           '<td valign="top">' +
                           '<p>Adm. No.:' + admnNo + '</p>' +
                           '<p> Class : <span style="text-transform: uppercase;">' + className + '</span> </p>' +
                           '</td>' +
                           '<td valign="top">' +
                           '<p> Name :<span style="text-transform: uppercase;"> ' + StudentName + '</span> </p>' +
                           '<p> Mother' + "'" + 's Name :<span style="text-transform: uppercase;"> ' + motherName + '</span> </p>' +
                           '</td>' +
                           '<td col valign="top">' +
                           '<p>Father' + "'" + 's Name : <span style="text-transform: uppercase;">' + fatherName + '</span></p>' +
                           '<p> DOB : ' + DOB + ' </p>' +
                           '</td>' +
                           '</tr>';

        var healthstatus = "";
        if ($("#IsVisibleReportCardDetails").val() != "False") {
            healthstatus += '<tr>' +
                           '<td colspan="3"> <b>Health Status</b></td>' +
                           '</tr>' +
                           '<tr>' +
                           '<td valign="top">' +
                           '<p>Height : ' + height + '</p>' +
                           //'<p> Blood Group :' + BloodGroup + ' </p>' +
                           '</td>' +
                           '<td valign="top">' +
                           '<p> Weight : ' + weight + '</p>' +
                           '<p> </p>' +
                           '</td>' +
                           '<td valign="top">' +
                           //'<p>Attendence :' + TotalPresentDays + '</p>' +
                           //'<p>Working Days: ' + TotalworkingDays + ' </p>' +
                           '</td>' +
                           '</tr>';
        }
        var gridtable = '<tr><td colspan="3">' + $('.grid').parent().html() + '</td></tr>';

        var nonscholastic = "";
        if ($("#IsVisibleReportCardDetails").val() != "False") {
            nonscholastic += '<tr align="center">' +
                '<td colspan="5 " class="acc_person " style="background: #eeeeee; "><span style="text-transform: uppercase; ">Non scholastics</span></td>' +
            '</tr>' +
             '<tr>' +
            '<td colspan="3">' +
            '<table cellspacing="0" style=" width:100%; font-size: 10px;">' + nonscholasticdata +



            '</table>' +
                '</td>' +
            '</tr>';
        }
        
        var bottomstrip = '<tr align="center ">' +
           ' <td colspan="5 " style="background: #eeeeee; margin-top: 10px; padding-top: 10px; ">' +
            '</td>' +
       ' </tr>' +
       
        '<tr>' +
            '<td  style="text-align: center;; padding-left: 50px; "> <b> <br> <br>Class Incharge</b></td><td></td>' +
            '<td  style="text-align: center; "><b> <br><img src="' + PrincipalSign + '" /><br>Principal</b></td>' +
        '</tr>';

        var bodytableend = '</table></body>';

        //var doc = w.document.open();
        //mainhtml = htmlStart + bodytablestart + header + studentprofile + healthstatus + gridtable + nonscholastic + bottomstrip + bodytableend + htmlEnd;

        mainhtml = htmlStart + bodytablestart + header + studentprofile + healthstatus + gridtable + nonscholastic + bottomstrip + bodytableend + htmlEnd;

        //doc.close();
        //setTimeout(function () {
        //    w.print();
        //    //w.close();
        //}, 500);
    }
    if ($('input:radio[name=StudentSubject]:checked').val() == "Student") {
        $('#Exportstudentresult').hide();
        $('#ExportAllstudentresult').hide();
        
    }
    var mainhtml = "";
    function PrintResult() {
        var w = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1');
        var doc = w.document.open();

        if ($('input:radio[name=StudentSubject]:checked').val() == "Student") {
            PrintResultStudentWise();
            doc.write(mainhtml);
        } else {


            var href = "";

            @if (Request.Url.AbsoluteUri.Contains("localhost"))
        {
            <text>
            href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
            </text>
        }
        else if (Request.Url.AbsoluteUri.Contains("digitech.com"))
        {
            <text>
            href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
            </text>
        }
        else
        {
            <text>
            href = "http://" + "@Request.Url.Authority" + "/" + "@Host" + "/Content/assets/css/bootstrap.min.css";
            </text>
        }

            var htmlStart =
                '<!DOCTYPE html>' +
                '<html>' +
                '<head>' +
                '<meta charset="utf-8" />' +
                '<title>Examination Result</title>' +
                '<link href="' + href + '" rel="stylesheet" /> ' +
                '<style>' +
                'html { font: 11pt sans-serif; }' +
                '.thead-default th {color: #464a4c;background-color: #eceeef;}' +
                '</style>' +
                '</head>' +
                '<body>';

            var htmlEnd = '</body></html>';
            var heading = '<h4 style="text-align: left;padding-left: 5px;"> ' + $('.poutheading').text() + '</h4>';
            var childheading = '<h5 style="text-align: left;padding-left: 5px;">';
            if ($('#ClassId').val() != "")
                childheading += 'Class: ' + $('#ClassId option:selected').text();
            if ($('#StudentId').val() != "")
                childheading += ' Student: ' + $('#StudentId option:selected').text();
            if ($('#SubjectId').val() != "")
                childheading += ' Subject: ' + $('#SubjectId option:selected').text();

            childheading += '<h5>';

            //var doc = w.document.open();
            doc.write(htmlStart + heading + childheading + $('.grid').parent().html() + htmlEnd);
        }
        doc.close();
        setTimeout(function () {
            w.print();
            //w.close();
        }, 500);

    }

    @*$('#ExportAllstudentresult').click(function () {

        window.location.href = "@Html.Raw(Url.Action("ExportToPDFallStudentsResult","Examination"))";


    })*@

</script>