﻿@model ViewModel.ViewModel.PublicViewModel.StudentAttendanceModel
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "3ischools Daily Attendance";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style>
    .table td,
    .table th {
        border-top: 0px solid #dee2e6;
    }
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Daily Student Attendance</h1>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-2">
            <label>Class: </label>
            @Html.DropDownListFor(m => m.ClassId, Model.AvaiableClasses, new { @class = "form-control", @width = "150px" })
        </div>
        <div class="col-md-2">
            <label class="control-label">Date:</label>
            @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @style = "width:150px!important" })
        </div>

        &nbsp; &nbsp; &nbsp;
        <div class="form-group">
            <button type="button" id="filter" class="btn btn-default">Filter</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin: 0 0px 0px -104px;" id="ClassHeader_Public">
            <h2 class="text-center"></h2>
        </div>
    </div>
    <hr />
    <div hidden id="StuAttendByClass_Public">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped" id="StuAttends">
                    <thead>
                        <tr>
                            <th>Roll No</th>
                            <th>Student Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
   
</div>
<script>
    var CookieClass_Id = "";
    $('body').attr('onload', GETcookie());
    //$(document).ready(function () {
        
    //})
    $("#Date").kendoDatePicker({
        format: "dd/MM/yyyy",
        value: new Date
    });
    $("#Date").attr("readonly", true);

    $("#ClassId").change(function () {
        $("#ClassHeader_Public").find("h2").html("");
        if ($(this).val() != "") {
            SETcookie();
            $("#ClassHeader_Public").find("h2").html($("#ClassId option:selected").text());
            $("#StuAttendByClass_Public").show();
            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("GetNotPresentStudents", "PublicView"))',
                data: { "ClassId": $(this).val(), "Date": $("#Date").val() },
                success: function (result) {
                    $("#StuAttends tbody").html("");
                    if (result.StudentNotPresent.length > 0) {
                        var Html = "";
                        $.each(result.StudentNotPresent, function (i) {
                            Html += "<tr>";
                            Html += "<td>" + result.StudentNotPresent[i].RollNo + " </td>";
                            Html += "<td>" + result.StudentNotPresent[i].StudentName + " </td>";
                            Html += "<td>" + result.StudentNotPresent[i].AttendanceAbbr + " </td>";
                            Html += "</tr>";
                        });
                        $("#StuAttends tbody").append(Html);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    $('#ks_loader').hide();
                    alert(err);

                }
            });
        }
        else {
            $("#StuAttendByClass_Public").hide();
        }
    });

    $("#filter").click(function () {
        $("#ClassId").change();
    });

    

    function SETcookie() {
        document.cookie = "Selected=" + $('#ClassId').val();
    }

    function GETcookie() {
        if (document.cookie) {
            if (document.cookie != "") {
                var CookieClass_Id = document.cookie.toString().split("=")[1];
                $("#ClassId").val(CookieClass_Id);
                $("#ClassId").trigger("change");
            }
        }
    }

</script>
