﻿@model ViewModel.ViewModel.Library.BookTransactionViewModel
<div class="row col-md-12" id="PaidFine_Div" style="display:none;">
    @Html.Hidden("hdnIdentityId", Model.BookIdentityId)
    @Html.Hidden("hdnIssueToId", Model.IssuedToId)
    @Html.Hidden("hdnMembertypeId", Model.BookMemberTypeId)
    @Html.Hidden("hdnPendingFine", Model.PendingFine)
    @Html.Hidden("hdnPaidFine", Model.PaidAmount)

    <h5 id="Return_Head" hidden style="/*margin: -11px 0px 20px 14px;*/">
        <label> Issue To: </label> <span id="Issueto-Div"></span>,&nbsp; &nbsp;
        <label> Member Type:  </label>
        <span id="IssuetoMembertyp-Div"></span>,<br />
        <label>Unique-Id:  </label>
        <span id="UniqueId-Div"></span>,<br />
        <label>IsLost:   </label>
        <input type="checkbox" id="IsLost" />
        <div style="float:right">
            <label style="float:left">Remarks: </label>
            <textarea rows="2" cols="40" id="issueBookRemarks"maxlength="180" style="resize: none"></textarea>
        </div>
    </h5>

    <div class="form-inline row" style="margin-top:25px">
        <div class="col-md-3">
            @Html.Label("Issue Date:", new { @class = "control-label" })
            <div id="IssueDate-Div">
            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("Expected Return:", new { @class = "control-label" })
            <div id="ExReturnDate-Div">
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label ">Actual Return:</label>
            @Html.TextBoxFor(model => model.ActualReturnDate, new { @class = "KendoDatepicker actualReturnPicker", @placeholder = "__/__/____" })
            @Html.TextBoxFor(model => model.ActualReturnDate, new
                   {
                       @id = "readOnlyReturnDate",
                       @readonly = "true",
                       @style = "width: 81%;height: 28px;display:none;"
                   })
        </div>
        <div class="col-md-3 Fine_Pay">
            <label class="control-label">Paid On:</label>
            @Html.TextBoxFor(model => model.PaidOn, new { @class = "KendoDatepicker PaidOnDate", @placeholder = "__/__/____" })
        </div>
    </div>
    <div class="form-inline row">
        <div id="Fine_Pay" class="Fine_Pay " hidden>
            <div class="col-md-3">
                @Html.Label("LateFine:", new { @class = "control-label" })
                @if (Model.IsAuthToEditFine)
                {
                <input class="form-control" id="Fine-Div" name="Late Fine" placeholder="0.00" style="width: 100%;height: 30px;" type="text">
                }
                else
                {
                <input class="form-control" id="Fine-Div" name="Late Fine" placeholder="0.00" style="width: 100%;height: 30px;" type="text" disabled>
                }
            </div>
            <div class="col-md-3" id="">
                @Html.Label("LostPenalty:", new { @class = "control-label" })
                <input class="form-control" id="bookPrice" name="bookPrice" placeholder="0.00" style="width: 100%;height: 30px;" type="text">
                <span id="priceError" style="display:none;color:red;font-size: 12px;padding: 4px;">Price Not Found</span>
                <span id="spnbookPrice" style="display:none;color:red;font-size: 12px;padding: 4px;"></span>
            </div>
            <div class="col-md-3" id="Total">
                @Html.Label("Total:", new { @class = "control-label" })
                <input class="form-control" id="PaidFine-Div" name="Total" placeholder="0.00" style="width: 100%;height: 30px;" type="text" disabled>
                @*<div id="PaidFine-Div">
                    </div>*@
            </div>
            <div class="col-md-3 paid" style="display:none">
                @Html.Label("AlreadyPaid:", new { @class = "control-label" })
                <input class="form-control" id="oldpaid" name="Total" placeholder="0.00" style="width: 100%;height: 30px;" type="text" disabled>
                @*<div id="PaidFine-Div">
                    </div>*@
            </div>
            <div class="col-md-3">
                <label class="control-label ">Paid Amt:</label>
                @Html.TextBoxFor(model => model.PaidAmount, new
            {
                @class = "form-control",
                @placeholder = "0.00",
                @style = "width: 100%;height: 30px;"
            })
            </div>
        </div>
    </div>
</div>
<div class="row col-md-12 " id="IssueBook_Div" style="display:none;">
    <div class="form-inline">
        <div class="col-md-4">
            <label class="control-label ">Issue Date:<i class="fa fa-asterisk ks-required" style="position: relative!important;"></i></label>
            @Html.TextBoxFor(model => model.TransactionDate, new { @class = "KendoDatepicker ", @placeholder = "__/__/____" })
        </div>

        <div class="col-md-4">
            <label class="control-label ">Copies:<i class="fa fa-asterisk ks-required" style="position: relative!important;"></i></label>
            <select id="BookCopies" style="width: 100%;height: 30px;" class="form-control">
                <option value="">--Select--</option>
            </select>
        </div>
        <div class="col-md-4  ">
            <label class="control-label">Member type:<i class="fa fa-asterisk ks-required" style="position: relative!important;"></i></label>
            @Html.DropDownListFor(model => model.BookMemberTypeId, Model.AviableMembers
                                      , new { @class = "form-control", @style = "width: 100%;" })
        </div>

    </div>

    <div class="form-inline" id="Div_IssuedUser" hidden>
        <div class="col-md-4 top-space-10">
            <label class="control-label ">Ex. Return Date:</label>
            @Html.TextBoxFor(model => model.ExpectedReturnDate, new { @class = "KendoDatepicker ", @placeholder = "__/__/____" })
</div>

<div class="col-md-8  top-space-10">
    <label class="control-label ">Issue To :<i class="fa fa-asterisk ks-required" style="position: relative!important;"></i></label>
    <select id="IssuedToUser" style="width: 100%;" class="form-control js-example-templating" disabled>
        <option value="">--Select--</option>
    </select>
</div>
</div>

<div class="form-inline" id="Div_IssuedUserInformation" hidden>
    <div class="col-md-12 top-space-10 well">
        <div class="col-md-7 img-thumbal" style="background: white;">
            <img class="img-responsive" style="width: 100%;height: 100%;" src="">
        </div>
        <div class="col-md-5">
            <label>kjchdjcjxgxvx</label>
            <label>kjchdjcjxgxvx</label>
            <label>kjchdjcjxgxvx</label>
            <label>kjchdjcjxgxvx</label>
        </div>
    </div>
</div>
</div>

<script>

    $(function () {
        $('.js-example-templating').select2({
        });
    })

    var UserAllowDays = 10;
    var Username = "";
    $("#PaidOn.KendoDatepicker,#ExpectedReturnDate.KendoDatepicker,#TransactionDate.KendoDatepicker").kendoDatePicker({
        value: new Date,
        format: "dd/MM/yyyy"
    });

    // max date
    var maxdate = GetDateMaxString(kendo.toString(new Date(), "dd/MM/yyyy"));
    // function get date as string and return date
    function GetDateMaxString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

    //set dynamically maxdate
    var AllowedFutureReturnDate = '@Model.SetFutureReturnCalendarDate';
    if (AllowedFutureReturnDate == "True") {
        $("#ActualReturnDate.KendoDatepicker").kendoDatePicker({
            value: new Date,
            format: "dd/MM/yyyy",
            max: maxdate
        });
    }
    else {
        $("#ActualReturnDate.KendoDatepicker").kendoDatePicker({
            value: new Date,
            format: "dd/MM/yyyy",
        });
    }

    $("#PaidOn.KendoDatepicker,#ExpectedReturnDate.KendoDatepicker,#TransactionDate.KendoDatepicker,#ActualReturnDate.KendoDatepicker").attr("readonly", true);

    $("#TransactionDate").on('change', function () {
        getdate(UserAllowDays);
    });
    var totaldaysFine = 0;
    $("#ActualReturnDate").on('change', function () {
        $('#ks_loader').show();
        var MemberTypeId = $(".modal-body div#PaidFine_Div").find('#hdnMembertypeId').val();
        var ExpectedReturnDate = $(".modal-body div#PaidFine_Div").find('div#ExReturnDate-Div').html();
        var ActualReturnDate = $(this).val();

        $.ajax({
            type: 'GET',
            url: '@Html.Raw(Url.Action("GetTotalFine", "Library"))',
            data: { "MemberTypeId": MemberTypeId, "ExpectedReturnDate": ExpectedReturnDate, "ActualReturnDate": ActualReturnDate },
            success: function (result) {
                $(".modal-body div#PaidFine_Div").find('#Fine-Div').val('');
                if (result.TotalFine != "" && result.TotalFine != "0.00") {
                    $(".modal-body div#PaidFine_Div").find('div.Fine_Pay').show();
     @if (Model.IsAuthToEditFine) {
                         <text>
                    $(".modal-body div#PaidFine_Div").find('#Fine-Div').removeAttr("disabled", "true")
                         </text>
             }
                    $(".modal-body div#PaidFine_Div").find('#Fine-Div').val(result.TotalFine);
                    $("#PaidFine-Div").val(result.TotalFine);
                    totaldaysFine = result.TotalFine;
                    $("#btnReturnReIssueFine").hide();
                }
                else {
                    $("#btnReturnReIssueFine").show();
                    $("#PaidFine-Div").val("");
                    $(".modal-body div#PaidFine_Div").find('div.Fine_Pay').hide();
                    $(".modal-body div#PaidFine_Div").find('#Fine-Div').attr("disabled", "true");
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    });

    var returning = true;

    //Add Days in current date/issue date  according to specific user allowed days
    function getdate(allowedDays) {
        $("#ExpectedReturnDate").val("");
        var IssueDate = $("#TransactionDate").val();
        var arrayDate = IssueDate.split('/');
        var date = new Date(arrayDate[1] + "/" + arrayDate[0] + "/" + arrayDate[2]);
        var newdate = new Date(date);

        newdate.setDate(parseInt(newdate.getDate()) + parseInt(allowedDays));

        var dd = newdate.getDate();
        var mm = parseInt(newdate.getMonth()) + parseInt(1);
        var y = newdate.getFullYear();

        var someFormattedDate = ('0' + dd).slice(-2) + '/' + ('0' + mm).slice(-2) + '/' + y;
        document.getElementById('ExpectedReturnDate').value = someFormattedDate;
    }

    $("#BookMemberTypeId").on('change', function () {
        $('#ks_loader').show();
        var MemberTypeId = $(this).val();
        if(MemberTypeId != "")
        {
            $("#Div_IssuedUser").show();
            GetUsersInfoByMember(MemberTypeId);
            $("#IssuedToUser").removeAttr('disabled');
        }
        else
        {
            $('#ks_loader').hide();
            $("#Div_IssuedUser").hide();
            $("#Div_IssuedUserInformation").hide();
        }
    });

    function GetUsersInfoByMember(MemberTypeId, IssueTo) {
        $.ajax({
            type: 'GET',
            url: '@Html.Raw(Url.Action("GetUsersInfo", "Library"))',
            data: { "MemeberId": MemberTypeId, "IssueToUser": IssueTo },
            success: function (result) {
                $("#IssuedToUser").empty();
                var htmldrop = '<option Value="">--Select--</option>'
                $("#IssuedToUser").append(htmldrop);
                if (result.paramsList.length > 0) {
                    $.each(result.paramsList, function (i) {
                        var htmldrop = '<option Value="' + result.paramsList[i].IssuedToId + '">'
                                        + result.paramsList[i].IssuedToUserName + '</option>';
                        $("#IssuedToUser").append(htmldrop);
                    });
                }

                if (result.UserAllowDays > 0) {
                    UserAllowDays = result.UserAllowDays;
                }

                if (result.UserName != "") {
                    $("#hdnIssuedUsername").val(result.UserName);
                }
                  if (ReIssueIssueToId != "") {
                    $("#IssuedToUser").val(ReIssueIssueToId).select2();
                    $("#IssuedToUser").attr("disabled", "disabled");
                }
                //get allowed days for specific user
                getdate(UserAllowDays);
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }


    //@*$("#IssuedToUser").change(function(){
    //    if($(this).val() != "")
    //    {
    //        $("#Div_IssuedUserInformation").show(1000);
    //        $.ajax({
    //            type: 'GET',
    //            url: '@Html.Raw(Url.Action("IssueBookUserInformation", "Library"))',
    //            data: { "MemeberId": $("#BookMemberTypeId").val(), "IssueToUser": $(this).val() },
    //            success: function (result) {
                  

    //                $('#ks_loader').hide();
    //            },
    //            error: function (xhr, status, data) {
    //                var err = "Error " + " " + data;
    //                ToastMessage(err, "error", true, 5000);
    //                $('#ks_loader').hide();
    //            }
    //        });
    //    }
    //    else
    //        $("#Div_IssuedUserInformation").hide();
    //});*@

    //validations
    var BookIssueValid = true;
    var BookIssuevalidationmessage = "";
    var BookIssuectrlfocus = "";
    function ValidateBookIssue() {
        BookIssueValid = true;
        BookIssuevalidationmessage = "";
        BookIssuectrlfocus = "";

        if ($('#TransactionDate').val() == "") {
            if (BookIssuectrlfocus == "")
                BookIssuectrlfocus = "#TransactionDate";
            BookIssuevalidationmessage = BookIssuevalidationmessage + "Please select Issue Date ε";
            BookIssueValid = false;
        }
        if ($('#BookCopies').val() == "") {
            if (BookIssuectrlfocus == "")
                BookIssuectrlfocus = "#BookCopies";
            BookIssuevalidationmessage = BookIssuevalidationmessage + "Please select Copies ε";
            BookIssueValid = false;
        }
        if ($('#BookMemberTypeId').val() == "") {
            if (BookIssuectrlfocus == "")
                BookIssuectrlfocus = "#BookMemberTypeId";
            BookIssuevalidationmessage = BookIssuevalidationmessage + "Please select Member Type ε";
            BookIssueValid = false;
        }
        if ($('#IssuedToUser').val() == "") {
            if (BookIssuectrlfocus == "")
                BookIssuectrlfocus = "#IssuedToUser";
            BookIssuevalidationmessage = BookIssuevalidationmessage + "Please select Issue To ε";
            BookIssueValid = false;
        }


        var aa = BookIssuevalidationmessage;
        return BookIssueValid;
    }

    $("#IsLost").click(function () {
        $("#PaidAmount").val(0.00);
        var ifFine = 0;
        if ($("#Fine-Div").val() != "" && $("#Fine-Div").val() != null) {
            ifFine = parseFloat($("#Fine-Div").val());
        }
        if ($(this).prop("checked") == true) {
             $("#btnReturnReIssueFine").hide();
            $(".modal-body div#PaidFine_Div").find('div.Fine_Pay').show();
            $("#bookPrice").removeAttr("disabled");
            if (BookTransactionId != "" && BookTransactionId != null) {
                $('#ks_loader').show();
                $.ajax({
                    type: 'GET',
                    url: '@Html.Raw(Url.Action("GetBookPrice", "Library"))',
                    data: { "BookTransactionId": BookTransactionId},
                    success: function (result) {
                        if (result.status == "success") {
                           // $("#Fine-Div").hide();
                         //   $("#bookPrice").show();
                            $("#btnIsLostUpdate").show();
                            $("#btnReturnFine").hide();
                            if (result.BookPrice == "" && result.BookPrice == null) {
                                $("#bookPrice").val(0.00);
                                $("#PaidFine-Div").val(parseFloat(ifFine));
                                $("#spnbookPrice").html("");
                                $("#spnbookPrice").hide();
                                $("#priceError").show();
                            } else {
                                $("#priceError").hide();
                                $("#spnbookPrice").show();
                                $("#spnbookPrice").html("BookPrice:"+result.BookPrice);
                                $("#bookPrice").val(parseFloat(result.BookPrice));
                              //  var oldFine = $("#Fine-Div").val();
                                if (ifFine != "" && ifFine != null) {
                                    $("#PaidFine-Div").val(parseFloat(result.BookPrice) + parseFloat(ifFine));
                                } else
                                    $("#PaidFine-Div").val(parseFloat(result.BookPrice));
                            }
                            $('#ks_loader').hide();
                        } else {
                            ToastMessage(result.status, "error", true, 5000);
                            $('#ks_loader').hide();
                            
                        }
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        }
        else {
            $("#bookPrice").val(0.00);
            $("#bookPrice").attr("disabled", "true");
            if ($("#Fine-Div").val() == "" ||parseFloat($("#Fine-Div").val()) == 0  ||parseFloat($("#Fine-Div").val)() == 0.00) {
                $(".modal-body div#PaidFine_Div").find('div.Fine_Pay').hide();
                 $("#btnReturnReIssueFine").show();
            }
            $("#PaidFine-Div").val(parseFloat(ifFine));
            $("#btnIsLostUpdate").hide();
            $("#btnReturnFine").show();
            $("#spnbookPrice").html("");
            $("#spnbookPrice").hide();
            $("#priceError").hide();
            $("#PaidFine-Div").val(totaldaysFine);
        }
    })
    $("#bookPrice, #Fine-Div, #PaidAmount, #oldpaid").keydown(function (e) {
        NumericOnlyWithDecimal(e);
    });
    $("#bookPrice").keyup(function () {
        var bookAmt = $(this).val();
        var Latefine = $("#Fine-Div").val();
        if (Latefine != "" && bookAmt != ""){
            $("#PaidFine-Div").val(parseFloat(Latefine) + parseFloat(bookAmt));
        }
        else if(bookAmt!=""){
            $("#PaidFine-Div").val(parseFloat(bookAmt));
        } else {
            $("#PaidFine-Div").val(0.00);
        }
    });
    $("#Fine-Div").keyup(function () {
        var Latefine = $(this).val();
        var bookAmt = $("#bookPrice").val();
        if (bookAmt != "" && Latefine != "") {
            $("#PaidFine-Div").val(parseFloat(Latefine) + parseFloat(bookAmt));
        }
        else if (Latefine != "") {
            $("#PaidFine-Div").val(parseFloat(bookAmt));
        } else {
            $("#PaidFine-Div").val(0.00);
        }
    });
</script>