﻿@model ViewModel.ViewModel.Library.BookTransactionViewModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<script>
    var BookId = "";
    $(document).ready(function () {
        $("#bookMaster-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SearchAllBooksData", "Library"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDataMaster
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                dataBound: onDataBound,
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: function (result) {
                        $('#Available_Count').text('');
                        $('#Total_Count').text('');
                        if (result.Value1 != "" && result.Value1 != "null") {
                            $('#Available_Count').append('<a class="search-categories btn  btn-sm" style="background-color:#00c0ff;cursor: default">' +
                                '<span class="label-text" style="text-shadow:0px 0px 0px #fff; color:#fff;"> Available </span>  <span id="" style="background-color: white;color:black" class="badge ">' + result.Value1 + '</span></a>')
                        }
                        if (result.Value2 != "" && result.Value2 != "null") {
                            $('#Total_Count').append('<a class="search-categories btn  btn-sm" style="background-color:orange;cursor: default">' +
                                '<span class="label-text" style="text-shadow:0px 0px 0px #fff; color:#fff;"> Total </span>  <span id="" style="background-color: white;color:black" class="badge ">' + result.Value2 + '</span></a>')
                        }
                        return result.Errors;
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: '@(defaultGridPageSize)',
                serverPaging: true,
                serverFiltering: true,
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            columns: [{
                field: "BookId",
                hidden: true
            }, {
                field: "MaterialType",
                title: "Material",
                sortable: true
            }, {
                field: "BookTitle",
                title: "Title",
                sortable: true,
                width: "20%"
            }, {
                field: "strAccessionNo",
                title: "AccessionNo",
                template: '#if(strAccessionNo!="" && strAccessionNo!=null){ # <a title="Copies" data-title="#=BookTitle#" data-toggle="tooltip" data-placement="top" class="accessionCopies"  dataid="#=BookId#"' +
                    ' href="javascript:void(0)">#=strAccessionNo#</a>#}#',
                sortable: true
            }, {
                field: "ISBN",
                title: "ISBN",
                sortable: true,
                width: "10%"
            }, {
                field: "Description",
                title: "Description",
                sortable: true,
                width: "40%"
            }, {
                field: "AvaiableCopies",
                title: "Available",
                sortable: true
            }, {
                field: "TotalCopies",
                title: "Total",
                sortable: true
            }, {
                field: "BookId",
                title: "Action",
                width: "10%",
                sortable: false,
                template:@if(Model.IsAuthToAddTransaction){<text> '#if(IsAuthToEdit){#<a href="@Url.Content("~/Library/BookInformation?BookId=#=BookId#")" title="Transaction" dataid="#=BookId#" data-toggle="tooltip" data-placement="top" class="View_BookInfo btn btn-xs btn-default"><i class="fa fa-exchange"></i></a>#}#'</text>}
                @if(Model.IsAuthToIssue){<text> + '#if(IsAuthToEdit){#<a href="javascript:void(0);" title="Issue" data-toggle="tooltip" data-placement="top" dataid="#=BookId#" class="IssueBook btn btn-xs btn-default"><i class="fa fa-external-link-square"></i></a>#}#'</text>}
            }]
        });
        var grid = $("#bookMaster-grid").data("kendoGrid");
    });

    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    
    function additionalDataMaster() {
        var data = {
            SearchText: $.trim($("#SearchText").val()),
            bkTransactionClassId: $("#bkTrClassId").val(),
            bKTransactionStudentId: $("#intbkTrStudentId").val(),
            bKTransactionStaffId: $("#bkTrStaffId").val(),
            bkMemberTypeId: $("#bkTrMemberTypeId").val(),
            bkTransactionAccessionLui:$("#bkTrAccessionNoLui").val()
        };
        addAntiForgeryMasterToken(data);
        return data;
    }

    addAntiForgeryMasterToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

    var BookMainId = "";
    $("#bookMaster-grid").on("click", ".IssueBook", function (e) {
        ReIssueBookMemberTypeId = ""; ReIssueIssueToId = "";
         $("#BookMemberTypeId").removeAttr("disabled");
         $("#IssuedToUser").removeAttr("disabled");
         $("#IssuedToUser").val("").select2();
        $("#BookCopies").removeAttr("disabled");

        $('#ks_loader').show();
        var row = $(this).parent().parent();
        BookMainId = $(this).attr("dataid");

        $('#BookIssueReturn_div').show();
        $('#IssuedToUser').siblings().find('span:nth(0)').parent().addClass('form-control');
        $('#IssuedToUser').siblings().find('span:nth(1)').css('border', 'none');
        $('#BookIssueReturn_div').find('#IssueReturnLabel').text(row.find("td:nth-child(3)").text());
        $('#BookIssueReturn_div').find('legend').text(row.find("td:nth-child(3)").text());

        $("#BookIssueReturn_div").show();
        $("#IssueBook_Div").show();
        $("#PaidFine_Div").hide();
        $("#btnReturnFine").hide();
        $('#btnReturnReIssueFine').hide();
        $("#btnIssueBook").show();
        $("#Return_Head").hide();

        //get min date according to issue date
        mindate = GetDatMinString(kendo.toString($("#TransactionDate").val(), "dd/MM/yyyy"));
        // function get date as string and return date
        function GetDatMinString(date) {
            //alert(date);
            var datearry = date.split('/');
            var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
            return returnMinDate;
        }
        $(".modal-body div#IssueBook_Div").find('#ExpectedReturnDate').kendoDatePicker('min', mindate);

        //get min date according to issue date
        maxdate = GetDaMaxString(kendo.toString(new Date(), "dd/MM/yyyy"));
        // function get date as string and return date
        function GetDaMaxString(date) {
            //alert(date);
            var datearry = date.split('/');
            var returnMaxDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
            return returnMaxDate;
        }
        $(".modal-body div#IssueBook_Div").find('#TransactionDate').kendoDatePicker('max', maxdate);

        $.ajax({
            type: 'GET',
            url: '@Html.Raw(Url.Action("GetBookCopies", "Library"))',
            data: { "BookId": BookMainId },
            success: function (result) {
                $("#BookCopies").empty();
                var htmldrop = '<option Value="">--Select--</option>'
                $("#BookCopies").append(htmldrop);

                if (result.copies.length > 0) {
                    $.each(result.copies, function (i) {
                        var htmldrop = '<option Value="' + result.copies[i].Value + '">'
                                        + result.copies[i].Text + '</option>';
                        $("#BookCopies").append(htmldrop);
                    });
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    });

     $("#bookMaster-grid").on("click", ".accessionCopies", function (e) {
        $('#ks_loader').show();
        if ($(this).attr("dataid") == "") {
            ToastMessage("InValid Book", "error", true, 5000);
            return false;
        }
        var bkid = $(this).attr("dataid");
        $("#accesionBookCopiesTable >tbody").html("");
        $("#accessionCopiesHeading").text("Book Title :  "+$(this).attr('data-title'));
        $.ajax({
                type: "GET",
            url: '@Html.Raw(Url.Action("ViewBookCopies", "BookMaster"))',
            data: { "BookId": bkid },
            success: function (result) {
                if (result.BookCopies.length > 0) {
                    var htmlCopies = "";
                    for (i = 0; i < result.BookCopies.length; i++) {
                        htmlCopies += '<tr>';
                        htmlCopies += '<td>';
                        htmlCopies += result.BookCopies[i].UniqueId;
                        htmlCopies += '</td>';
                        htmlCopies += '<td>';
                        htmlCopies += result.BookCopies[i].LUIId;
                        htmlCopies += '</td>';
                        htmlCopies += '<td>';
                        htmlCopies += result.BookCopies[i].BookEdition;
                        htmlCopies += '</td>';
                        htmlCopies += '<td>';
                        htmlCopies += result.BookCopies[i].EntryDate;
                        htmlCopies += '</td>';
                        htmlCopies += '<td>';
                        htmlCopies += result.BookCopies[i].strBookLocation;
                        htmlCopies += '</td>';
                        htmlCopies += '<td>';
                        htmlCopies += result.BookCopies[i].BookCopyStatus;
                        htmlCopies += '</td>';
                        htmlCopies += '</tr>';
                    }
                    $("#accesionBookCopiesTable >tbody").append(htmlCopies);
                    $("#myAccessonNoCopies").show();
                    $('#ks_loader').hide();
                } else {
                    ToastMessage("No Copies", "error", true, 5000);
                      $("#myAccessonNoCopies").hide();
                    $('#ks_loader').hide();
                }
                    },
            error: function () {
                        ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
                    }
                });
    });
    $("#btnCancelmyAccessonNoCopies").click(function () {
          $("#myAccessonNoCopies").hide();
    })
    $("#bookMaster-grid").on("click", ".k-pager-refresh", function () {
        $("#btnClose").click();
    });

    $("#bookMaster-grid").on('change', '.k-dropdown select', function () {
        $("#btnClose").click();
    });


</script>
