﻿@model ViewModel.ViewModel.Library.BookTransactionViewModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<script>
    var BookTransactionId = "";
    var BookId = '@Model.BookId';
    var IsAuthToReturn = '@Model.IsAuthToReturn';
    $(document).ready(function () {
        $("#IssuedBook-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("IssuedBookList", "Library"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalData
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: '@(defaultGridPageSize)',
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,

            columns: [{
                field: "BookTransactionId",
                hidden: true
            }, {
                field: "BookTrsTypeId",
                hidden: true
            }, {
                field: "BookMemberTypeId",
                hidden: true
            }, {
                field: "IssuedToId",
                hidden: true
            }, {
                field: "BookIdentityId",
                hidden: true
            }, {
                field: "BookId",
                hidden: true
            }, {
                field: "BookTitle",
                title: "Title",
                sortable: true,
                hidden: true
            }, {
                field: "UniqueId",
                title: "Unique-Id",
                sortable: true
            }, {
                field: "TransactionDate",
                title: "Issued Date",
                sortable: true
            }, {
                field: "BookTrsType",
                hidden: true
            }, {
                field: "BookMemberType",
                title: "Member",
                sortable: true
            }, {
                field: "IssuedToUserName",
                title: "Member Name",
                sortable: true
            }, {
                field: "ExpectedReturnDate",
                title: "Expected Return",
                sortable: true
            }, {
                field: "Fine",
                hidden: true
            }, {
                field: "PaidAmount",
                hidden: true
            }, {
                field: "PaidOn",
                hidden: true
            }, {
                field: "ActualReturnDate",
                hidden: true
            }, {
                field: "AllowedDays",
                hidden: true
            }, {
                field: "FinePerDay",
                hidden: true
            },
            {
                field: "IsInActiveBook",
                hidden: true
            }
           
                , {
                    title: "Action",
                    sortable: false,
                    template:@{
                                if (Model.IsAuthToReturn)
                                {
                                    <text>
                                       '#{#<a href="javascript:void(0)" title="return" dataid="#=BookIdentityId#" dataBookId="#=BookId#" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default manageIssuedBook"><i class="fa fa-reply"></i></a>#}# '
                                      </text>
                                }
                               if (Model.IsAuthToDelete)
                                {
                                    <text>
                                      + '#if(IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top" class="deleteRecords  btn btn-xs btn-default" cursor:pointer" dataid="#=BookTransactionId#" href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                    </text>
                                }
                             }
                  

                }]
        });
        var grid = $("#IssuedBook-grid").data("kendoGrid");
    });

    $(document).ready(function () {
        var grid = $("#IssuedBook-grid").data("kendoGrid");
        if (BookId == "") {
            grid.showColumn(6);
        }
    });

    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    function additionalData() {
        var data = {
            SessionId: $("#filterissueSessionid").val(),
            BookId: '@Model.BookId',
            BookTitle: $(".modal-body div#PaidFine_Div").find('#hdnBookTitle').val(),
            SearchText: $.trim($("#SearchText").val()),
            bkIssuedMemberTypeId: $("#bkIsMemberTypeId").val(),
            bkIssuedClassId: $("#bkIsClassId").val(),
            bKIssuedStudentId: $("#intbkIsStudentId").val(),
            bKIssuedStaffId: $("#bkTrHStaffId").val(),
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

    $('.modal-footer #close_div').click(function () {
        $('#ks_loader').show();
        ClearIssueFilters();
        ClearReturnFilters();

        $('.modal-popup#BookIssueReturn_div').hide();
        $('#ks_loader').hide();
    });
     var BookIdForReIssue = ""; var BookIdentityIdForReIssue = "";
    $(document).on("click", ".manageIssuedBook", function () {
         BookIdForReIssue = $(this).attr("dataBookId");
        BookIdentityIdForReIssue = $(this).attr("dataid");

            $("#issueBookRemarks").val("");
        $('#ks_loader').show();
        var BookInfolist = new Object();
        var row = $(this).parent().parent();
        BookInfolist.BookTransactionId = row.find("td:nth-child(1)").text();
        BookInfolist.BookTrsTypeId = row.find("td:nth-child(2)").text();
        BookInfolist.BookMemberTypeId = row.find("td:nth-child(3)").text();
        BookInfolist.IssuedToId = row.find("td:nth-child(4)").text();
        BookInfolist.BookIdentityId = row.find("td:nth-child(5)").text();
        BookInfolist.BookId = row.find("td:nth-child(6)").text();
        BookInfolist.BookTitle = row.find("td:nth-child(7)").text();
        BookInfolist.UniqueId = row.find("td:nth-child(8)").text();
        BookInfolist.TransactionDate = row.find("td:nth-child(9)").text();
        BookInfolist.BookTrsType = row.find("td:nth-child(10)").text();
        BookInfolist.BookMemberType = row.find("td:nth-child(11)").text();
        BookInfolist.IssuedToUserName = row.find("td:nth-child(12)").text();
        BookInfolist.ExpectedReturnDate = row.find("td:nth-child(13)").text();
        BookInfolist.Fine = row.find("td:nth-child(14)").text();
        BookInfolist.PaidAmount = row.find("td:nth-child(15)").text();
        BookInfolist.PaidOn = row.find("td:nth-child(16)").text();
        BookInfolist.ActualReturnDate = row.find("td:nth-child(17)").text();
        BookInfolist.AllowedDays = row.find("td:nth-child(18)").text();
        BookInfolist.FinePerDay = row.find("td:nth-child(19)").text();
        BookInfolist.IsLost = row.find("td:nth-child(20)").text();

        BookTransactionId = BookInfolist.BookTransactionId;
        $(".paid").hide();
        //////// IsLost Functionality
        $("#IsLost").removeAttr("disabled");
        $("#IsLost").prop('checked', false);
     //   $("#Fine-Div").show();
        //   $("#bookPrice").hide();
        
        $("#PaidAmount").val(0.00);
        $("#PaidFine-Div").val(0.00);
        $("#Fine-Div").val(0.00);
        $("#bookPrice").val(0.00);

        $("#btnIsLostUpdate").hide();
        $("#btnReturnFine").show();
        $("#spnbookPrice").hide();
        $("#priceError").hide();

        $("#bookPrice").attr("disabled", "true")

        $("#priceError").hide();
        $("#spnbookPrice").hide();
        $("#btnIsLostUpdate").hide();

        $('.modal-popup#BookIssueReturn_div').show();
        $(".modal-body div#PaidFine_Div").show();
        $(".modal-body div#IssueBook_Div").hide();
        //$(".modal-footer > #btnReturnFine").show();
       // $(".modal-footer > #btnIssueBook").hide();
        $(".modal-body div#PaidFine_Div").find("input.PaidOnDate").show();
        $(".modal-body div#PaidFine_Div").find("div#PaidMoney_Div").hide();
     //   $(".modal-body div#PaidFine_Div").find("#Fine-Div").parent().removeClass('col-md-2').addClass("col-md-4");
    //    $(".modal-body div#PaidFine_Div").find("input#PaidAmount").parent().removeClass('col-md-3').addClass("col-md-4");

        $("#Return_Head").show();
        $("#btnReturnFine").text("Return");
        $(".actualReturnPicker").show();
        $("#readOnlyReturnDate").hide();

        $(".modal-body div#PaidFine_Div").find('#hdnMembertypeId').val(row.find("td:nth-child(3)").text());
        $(".modal-body div#PaidFine_Div").find('#hdnIssueToId').val(row.find("td:nth-child(4)").text());
        $(".modal-body div#PaidFine_Div").find('#hdnIdentityId').val(row.find("td:nth-child(5)").text());
        $('#BookIssueReturn_div').find('legend').text(BookInfolist.BookTitle);
        $('#BookIssueReturn_div').find('#IssueReturnLabel').text(BookInfolist.BookTitle);

        $('#BookIssueReturn_div').find('#btnIssueBook').hide();
        $('#BookIssueReturn_div').find('#btnReturnFine').show();

        $("#UniqueId-Div").html(BookInfolist.UniqueId);
        $("#Issueto-Div").html(BookInfolist.IssuedToUserName);
        $('#IssuetoMembertyp-Div').html(BookInfolist.BookMemberType);
        $(".modal-body div#PaidFine_Div").find('div#IssueDate-Div').html(row.find("td:nth-child(9)").text());
        $(".modal-body div#PaidFine_Div").find('div#ExReturnDate-Div').html(row.find("td:nth-child(13)").text());

        if (BookInfolist.IsLost.toLowerCase() == "true") {
            $("#IsLost").prop('checked', true);
            $("#btnIsLostUpdate").show();
            $("#bookPrice").removeAttr("disabled");
        }

        //get min date according to issue date
        mindate = GetDatMinString(kendo.toString($("#IssuedBook-grid").parent().find('td:nth(8)').text(), "dd/MM/yyyy"));
        // function get date as string and return date
        function GetDatMinString(date) {
            //alert(date);
            var datearry = date.split('/');
            var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
            return returnMinDate;
        }
        $(".modal-body div#PaidFine_Div").find('#ActualReturnDate').kendoDatePicker('min', mindate);
        $("#ActualReturnDate").trigger('change');
        $('#ks_loader').hide();
    });

    $("#IssuedBook-grid").on("click", ".deleteRecords", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').attr("dataid", enceventid);
    });

    //delete ajax method
    $("#IssuedBook-grid").on("click", ".k-grid-myConfirm", function (e) {
        e.preventDefault();
        $('#ks_loader').show();
        var trnsId = $(this).attr("dataid");
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("DeleteBookTransaction", "Library"))',
            data: { "TransactionId": trnsId },
            success: function (result) {
                if (result.status == "success") {
                    // check for updated entry
                    $('#IssuedBook-grid tbody tr').each(function () {
                        var tablerow = $(this);
                        var BookTrans = tablerow.find("td:nth-child(1)").text();
                        if (trnsId == BookTrans)
                            tablerow.remove();
                    });
                    //TotalBookStock();
                    ToastMessage(result.data, "success", true, 5000);
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })


    @*function TotalBookStock() {
        $('#ks_loader').show();
        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetBookStock", "Library"))',
            data: { "BookId": '@Model.BookId' },
            success: function (result) {
                if (result.paramBookStockInfo.length > 0) {
                    $('#bookstockInfo').find('tbody tr td label#Issue_Books').text(result.paramBookStockInfo[0].TotalIssuedBooks);
                    $('#bookstockInfo').find('tbody tr td label#Avaiable_Books').text(result.paramBookStockInfo[0].AvaiableCopies);
                }
                if ($.trim($('#bookstockInfo').find('tbody tr td label#Issue_Books').text()) != "0") {
                    $("#btnViewIssue").show();
                }
                else {
                    $("#btnViewIssue").hide();
                    $("#IssuedBook-grid").hide();
                }
                if ($.trim($('#bookstockInfo').find('tbody tr td label#Avaiable_Books').text()) != "0") {
                    $("#btnIssue").show();
                }
                else {
                    $("#btnIssue").hide();
                }

                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }*@

    $("#IssuedBook-grid").on("click", ".k-grid-myCancel", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        $('.k-grid-myConfirm').remove();
        cell.append('<a class="deleteRecords btn btn-xs btn-default" dataid="' + enceventid + '" href="javascript:void(0)" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
        $('.deleteRecords').attr("dataid", enceventid);
    })

    function ClearIssueFilters() {
        $("#TransactionDate").val(kendo.toString(new Date(), "dd/MM/yyyy"));
        $("#ExpectedReturnDate").val(kendo.toString(new Date(), "dd/MM/yyyy"));
        $("#BookMemberTypeId").val("");
        $("#BookCopies").val("");
        $("#IssuedToUser").val("").trigger("change.select2");

        $("#Div_IssuedUser").hide();
        $("#Div_IssuedUserInformation").hide();
    }

    function ClearReturnFilters() {
        $("#Issueto-Div").html('');
        $("#IssuetoMembertyp-Div").html('');
        $("#UniqueId-Div").html('');
        $("#IssueDate-Div").html('');
        $("#ExReturnDate-Div").html('');
        $("#Fine-Div").val('');
        $("#PaidFine-Div").val('');
        $("#ActualReturnDate").val(kendo.toString(new Date(), "dd/MM/yyyy"));
        $("#PaidOn").val(kendo.toString(new Date(), "dd/MM/yyyy"));
        $("#PaidAmount").val("");
        $(".Fine_Pay").hide();
        $("#hdnPaidFine").val("");
         $("#issueBookRemarks").val("");
        $("#BookIssueReturn_div").find('legend').text("");
         $("#issueBookRemarks").val("");
        if ($(".modal-footer").find('button#btnReturnFine').text() == "Pay Fine") {
            $(".actualReturnPicker").show();
            $("#readOnlyReturnDate").hide();
        }
        else {
            $(".actualReturnPicker").hide();
            $("#readOnlyReturnDate").show();
        }
    }
    $("#bookPrice").keyup(function () {
        var bookAmt = $(this).val();
        var Latefine = $("#Fine-Div").val();
        if (Latefine != "" && bookAmt != ""){
            $("#PaidFine-Div").val(parseFloat(Latefine) + parseFloat(bookAmt));
        }
        else if(bookAmt!=""){
            $("#PaidFine-Div").val(parseFloat(bookAmt));
        } else {
            $("#PaidFine-Div").val(0.00);
        }
    });
    $("#Fine-Div").keyup(function () {
        var Latefine = $(this).val();
        var bookAmt = $("#bookPrice").val();
        if (bookAmt != "" && Latefine != "") {
            $("#PaidFine-Div").val(parseFloat(Latefine) + parseFloat(bookAmt));
        }
        else if (Latefine != "") {
            $("#PaidFine-Div").val(parseFloat(bookAmt));
        } else {
            $("#PaidFine-Div").val(0.00);
        }
    });
    $("#filterissueSessionid").change(function () {
        $("#IssuedBook-grid").data("kendoGrid").dataSource.read();
    })
</script>
