﻿@model ViewModel.ViewModel.Library.BookTransactionViewModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}

<script>
    var BookTransactionId = "";
    var BookId = '@Model.BookId';
    $(document).ready(function () {
        $("#TransHistory-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("TransactionHistoryList", "Library"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDataTransactionHistoryList
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: '@(defaultGridPageSize)',
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            columns: [{
                field: "BookTransactionId",
                hidden: true
            }, {
                field: "BookMemberTypeId",
                hidden: true
            }, {
                field: "IssuedToId",
                hidden: true
            }, {
                field: "BookIdentityId",
                hidden: true
            }, {
                field: "BookId",
                hidden: true
            }, {
                field: "BookTitle",
                title: "Title",
                sortable: true,
                hidden: true,
                width: "25%"
            }, {
                field: "strAccessionNo",
                title: "Accession No",
                //template: '#if(strAccessionNo.length >12){#<div class="tooltip">#=strAccessionNo.substr(0,8)#...<span  class="tooltiptext">#=strAccessionNo#</span></div>#}'
                //                                   + 'else{#<div>#=strAccessionNo#</div>#}#',
                    template: '#if(strAccessionNo.length >12){#<span class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=strAccessionNo#"><font color="black">#=strAccessionNo.substr(0,8)#...</font></span>#}'
                    + 'else{#<div>#=strAccessionNo#</div>#}#',

                    sortable: true,
            }, {
                field: "TransactionDate",
                title: "Issued Date",
                sortable: true,
                width: "10%"
            }, {
                field: "BookMemberType",
                title: "Member",
                sortable: true
                //hidden: true
            }, {
                field: "IssuedToUserName",
                title: "Member Name",
                sortable: true,
                width: "40%"
            }, {
                field: "ExpectedReturnDate",
                title: "Exp. Date",
                sortable: true,
                width: "10%"
            }, {
                field: "Fine",
                title: "Fine",
                sortable: true,
                width: "10%"
            }, {
                field: "PaidAmount",
                    title: "Paid Amt",
                template: '#if(PaidAmount !=""&&PaidAmount !=null){#<span class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="Paid On #=PaidOn#"><font color="black">#=PaidAmount#</font></span>#}#',
                sortable: true
            }, {
                field: "PaidOn",
                title: "PaidOn",
                    sortable: true,
                hidden:true,
                width: "10%"
            }, {
                field: "ActualReturnDate",
                title: "Actual Return",
                sortable: true
            },{
                field: "LostPenalty",
                    title: "LostPenalty",
                 template: '#if(LostPenalty !=""&&LostPenalty !=null){#<span class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=IssuedBookRemarks#"><font color="black">#=LostPenalty#</font></span>#}'
                    + 'else{#<span class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=IssuedBookRemarks#">...</span>#}#',
                sortable: true
            }, {
                field: "PendingFine",
                title: "Pending Fine",
                template: '<a href="javascript:void(0);" dataid="#=BookTransactionId#" title="Receive Fine" class="payPendingFine">#=PendingFine==null ? "":PendingFine#</a>',
                sortable: true,
                width: "5%"
            }, {
                field: "AllowedDays",
                hidden: true
            }, {
                field: "FinePerDay",
                hidden: true
            }, {
                field: "IsLost",
                hidden: true
            }, {
                field: "LostPenalty",
                hidden: true
            },{
                 field: "IssuedBookRemarks",
                    title: "Remarks",
                 sortable:true,
                hidden: true
            }]
        });
        var grid = $("#TransHistory-grid").data("kendoGrid");
    });

    $(document).ready(function () {
        var grid = $("#TransHistory-grid").data("kendoGrid");
        if (BookId == "") {
            grid.showColumn(5);
        }
        else {
            grid.showColumn(8);
        }
    });

    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    $(document).on("mouseover", ".description_tooltip_cls", function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    function additionalDataTransactionHistoryList() {
        var data = {
            SessionId: $("#filtertranshistrySessionid").val(),
            TransHistoryBookStatus:$("#filterbookStatus").val(),
            BookId: '@Model.BookId',
            SearchText: $.trim($("#SearchText").val()),
            //bkTransactionClassId: $("#bkTrHClassId :selected").text(),
            bkTransactionClassId: $("#bkTrHClassId :selected").val(),
            bKTransactionStudentId: $("#intbkTrHStudentId").val(),
            bKTransactionStaffId: $("#bkTrHStaffId").val(),
            bkMemberTypeId:$("#bkTrHMemberTypeId").val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(document).on("click", ".payPendingFine", function () {
        var updPaidAmount = 0, paid = 0, fine = 0, lstpnlty = 0, updtotal = 0;
        $("#oldpaid").val(0.00);
        $("#PaidAmount").val(0.00);
        $("#PaidFine-Div").val(0.00);
        $("#Fine-Div").val(0.00);
        $("#bookPrice").val(0.00);

        $("#btnReturnReIssueFine").hide();
        $("#btnIsLostUpdate").hide();
        $("#btnReturnFine").show();
        $("#spnbookPrice").hide();
        $("#priceError").hide();

        $("#BookIssueReturn_div").show();
        $("#PaidFine_Div").show();
        $("#btnIssueBook").hide();
        $("#Return_Head").show();
        $(".Fine_Pay").show();
        $(".PaidOnDate").show();
        $(".actualReturnPicker").hide();
        $("#readOnlyReturnDate").show();
        $(".paid").show();
        $("#btnReturnFine").text("Pay Fine");
        $(".modal-body div#IssueBook_Div").hide();
     //   $(".modal-body div#PaidFine_Div").find('div.Fine_Pay').hide();
        var row = $(this).parent().parent();
        var TransactionId = row.find('td:nth(1)').text();

        BookTransactionId = $(this).attr('dataid');
        //alert(BookTransactionId);
        $("#BookIssueReturn_div").find('legend').text(row.find('td:nth(5)').text());

        $("#UniqueId-Div").html(row.find('td:nth(6)').text());
        $("#IssueDate-Div").html(row.find('td:nth(7)').text());
        $("#IssuetoMembertyp-Div").html(row.find('td:nth(8)').text());
        $("#Issueto-Div").html(row.find('td:nth(9)').text());

        $("#ExReturnDate-Div").html(row.find('td:nth(10)').text());


        if (row.find('td:nth(11)').text() != "" && row.find('td:nth(11)').text() != null) {
            fine = parseFloat(row.find('td:nth(11)').text());
            $("#Fine-Div").val(fine);
        } else {
            $("#Fine-Div").val(0.00);
        }
        $("#Fine-Div").attr("disabled","true");
        if (row.find('td:nth(12)').text() != null && row.find('td:nth(12)').text() != "") {
            paid = parseFloat(row.find('td:nth(12)').text());
            $("#oldpaid").val(paid);
        }
        else {
            $("#oldpaid").val(0.00);
        }
        if (row.find('td:nth(20)').text() != null && row.find('td:nth(20)').text() != "") {
            lstpnlty = parseFloat(row.find('td:nth(20)').text());
            $("#bookPrice").val(lstpnlty);
        } else {
            $("#bookPrice").val(0.00);
        }
        $("#bookPrice").attr("disabled", "true");
       // $("#hdnPaidFine").val(row.find('td:nth(12)').text());
        updtotal =parseFloat(fine+lstpnlty)
        $("#PaidFine-Div").val(updtotal);

        updPaidAmount = updtotal - paid;
        $("#PaidAmount").val(updPaidAmount);
        $("#issueBookRemarks").val(row.find('td:nth(21)').text())


        $(".modal-body div#PaidFine_Div").find("div#PaidMoney_Div").show();
    //    $(".modal-body div#PaidFine_Div").find("#Fine-Div").parent().removeClass('col-md-4').addClass("col-md-2");
    //    $(".modal-body div#PaidFine_Div").find("input#PaidAmount").parent().removeClass('col-md-4').addClass("col-md-3");

     //   $("#PaidAmount").val(row.find('td:nth(15)').text().trim());
        //PaidAmount = row.find('td:nth(15)').text();
        //if (row.find('td:nth(12)').text() != "" && row.find('td:nth(12)').text() != null && PaidAmount!="") {
        //    $("#PaidAmount").val(parseInt(row.find('td:nth(12)').text().trim()) + parseInt(PaidAmount));
        //    $("#hdnPendingFine").val(parseInt(row.find('td:nth(12)').text().trim()) + parseInt(PaidAmount));
        //}
        //else if (PaidAmount != "" && PaidAmount != null) {
        //    $("#PaidAmount").val(PaidAmount);
        //    $("#hdnPendingFine").val(PaidAmount);
        //}
        //else {
        //    $("#PaidAmount").val(row.find('td:nth(15)').text());
        //    $("#hdnPendingFine").val(row.find('td:nth(15)').text());
        //}

        $("#PaidOn").val(kendo.toString(new Date(), "dd/MM/yyyy"));
        $("#readOnlyReturnDate").val(row.find('td:nth(14)').text());
        $('#IsLost').prop('checked', false);
        if (row.find('td:nth(19)').text() == "true") {
            $('#IsLost').prop('checked', true);
         //   $(".modal-body div#PaidFine_Div").find('div.Fine_Pay').show();
        }
        $('#IsLost').attr("disabled","true");
    });
    $("#filtertranshistrySessionid").change(function () {
        //  
        $("#bkTrHClassId").empty();
        $("#bkTrHStaffId").empty();

        var SessionId = $("#filtertranshistrySessionid").val();
            if (SessionId != "" && SessionId != null && SessionId > 0) {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetAllClassesTransactionList", "Library"))',
                    data: { "SessionId":SessionId},
                    success: function (result) {
                        $("#bkTrHClassId").empty();
                        $.each(result.ClassList, function (value, data) {
                            $("#bkTrHClassId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                        });
                        $("#bkTrHClassId").val("").select2();

                          $("#bkTrHStaffId").empty();
                        $.each(result.StaffList, function (value, data) {
                            $("#bkTrHStaffId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                        });
                        $("#bkTrHStaffId").val("").select2();

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }

        $("#TransHistory-grid").data("kendoGrid").dataSource.read();
    })
    $("#filterbookStatus").change(function () {
        $("#TransHistory-grid").data("kendoGrid").dataSource.read();
    })
</script>
