﻿@model ViewModel.ViewModel.Library.BookTransactionViewModel
@{
    ViewBag.Title = "Manage Book Information";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<!-- Validations -->
<div id="validation_para9" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row page-heading">
    <div class="col-md-6">
        <h1> Book Information</h1>
    </div>
</div>
<!-- //Page Heading -->
@if (TempData["successTrns"] != null && TempData["successTrns"] != "")
{
    <script>
        $(function () {
            var successVal = '@TempData["successTrns"]';
            var validationaray = successVal.split('ε');
            for (var i = 0; i < validationaray.length - 1; i++)
                ToastMessage(validationaray[i], "success", true, 5000);
        });
    </script>
}
    @*info Book*@
    <div class="modal-popup" id="BookIssueReturn_div" hidden>
        <div class="modal-popup-body">
            <div class="modal-content">
                <div class="modal-header">
                    <fieldset class="popup">
                        <legend>
                            <b></b>
                        </legend>
                        <div class="row modal-body">
                            @Html.Partial("_bookIssuedReturned", Model)
                        </div>
                        <div class="modal-footer">
                            <button type="button" name="btnIssueBook" class="btn btn-success " id="btnIssueBook">
                                Issue
                            </button>
                            <button type="button" name="btnIsLostUpdate" style="display:none" class="btn btn-success " id="btnIsLostUpdate">
                                Update
                            </button>
                            <button type="button" name="btnReturnReIssueFine" class="btn btn-success " id="btnReturnReIssueFine">
                                Return & ReIssue
                            </button>
                            <button type="button" name="btnReturnFine" class="btn btn-success " id="btnReturnFine">
                                Return
                            </button>
                            <button type="button" name="close_div" class="btn btn-danger " id="close_div">
                                <i class="fa fa-ban"></i> Close
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="hdnIssuedUsername" />
        <div class="form-inline ks-custom-form">
            <div class="row top-space-10">
                <fieldset>
                    <legend><b>'@Model.BookTitle'</b></legend>
                    <div class="col-md-9">
                        <h6>@Model.SubTitle</h6>
                        <div class="form-group" style="text-align:justify;overflow: auto;height: 100px;">
                            <span class="more">
                                @Model.Description
                            </span>
                        </div>
                        <br />
                        <div class="form-group">
                            <button id="btnIssue" type="button" class="btn btn-success">Issue</button>
                            <button id="btnViewIssue" type="button" class="btn btn-success">View Issued</button>
                            <button id="btnViewHistory" type="button" class="btn btn-success">Transaction History</button>
                            <a id="btnCancel" href="@Url.Action("ManageBookTransactions","Library")"
                               class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <table class="table disableColborder" id="bookstockInfo" style="border-left:1px solid">
                            <tr class="TotalCopies">
                                <td style="width: 52%;text-align: right!important;">
                                    Total Copies:
                                </td>
                                <td>
                                    <label id="Copies_Books">
                                        @Model.AllBookInformation.ElementAt(0).TotalCopies
                                    </label>
                                </td>
                            </tr>
                            <tr class="Avaiable">
                                <td style="width: 52%;text-align: right!important;">
                                    Avaiable:
                                </td>
                                <td>
                                    <label id="Avaiable_Books">
                                        @Model.AllBookInformation.ElementAt(0).AvaiableCopies
                                    </label>
                                </td>
                            </tr>
                            <tr class="Issued">
                                <td style="width: 52%;text-align: right!important;">
                                    Issued:
                                </td>
                                <td>
                                    <label id="Issue_Books">
                                        @Model.AllBookInformation.ElementAt(0).TotalIssuedBooks
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>

                </fieldset>
            </div>

            <!--Issued Book Kendo Gird -->
            <div class="row">
                <div class="top-space-20">
                    <div id="IssuedBook-grid" style="display:none;">
                        @(Html.Partial("~/Views/Library/_IssuedBookKendoList.cshtml", Model))
                    </div>
                </div>
            </div>
            <!-- //Issued Book Kendo Gird -->
            <!--Transaction History of Book Kendo Gird -->
            <div class="row">
                <div class="top-space-20">
                    <div id="TransHistory-grid" style="display:none;">
                        @(Html.Partial("~/Views/Library/_TransactionHistoryKendoList.cshtml", Model))
                    </div>
                </div>
            </div>
            <!-- //Transaction History Kendo Gird -->
        </div>

        <script>
            var mindate = null;
            var IdentityId = "";
            var BookMainId = "";
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
            for (var i = 0; i < url.length; i++) {
                BookMainId = url[1];
            }

            //get identities Id of a book
            var IDs = '@Model.Ids';
            var BookTitle = '@Model.BookTitle';

            $(document).ready(function () {
                $('#ks_loader').show();
                if ($.trim($('#bookstockInfo').find('tbody tr td label#Issue_Books').text()) != "0") {

                    $("#btnViewIssue").show();
                }
                else {
                    $("#btnViewIssue").hide();
                }
                if ($.trim($('#bookstockInfo').find('tbody tr td label#Avaiable_Books').text()) != "0") {
                    $("#btnIssue").show();
                }
                else {
                    $("#btnIssue").hide();
                }
                $('#ks_loader').hide();
            });

            $(document).ready(function () {
                // Configure/customize these variables.
                var showChar = 350;  // How many characters are shown by default
                var ellipsestext = "...";
                var moretext = "Show more >";
                var lesstext = "Show less";


                $('.more').each(function () {
                    var content = $(this).html();

                    if (content.length > 400) {

                        var c = content.substr(0, showChar);
                        var h = content.substr(showChar, content.length - showChar);

                        var html = c + '<span class="moreellipses">' + ellipsestext
                                     + '&nbsp;</span><span class="morecontent" style="border:none!important;outline: none !important;">' + h
                                     + '&nbsp;&nbsp;</span><a href="" class="morelink">'
                                     + moretext + '</a>';

                        $(this).html(html);
                    }

                });

                $("span.more").find('span.morecontent').hide();
                $("span.more").find('span.moreellipses').show();

                $(".morelink").click(function () {

                    if ($(this).hasClass("less")) {
                        $(this).removeClass("less");
                        $(this).html(moretext);
                        $("span.more").find('span.morecontent').hide();
                        $("span.more").find('span.moreellipses').show();
                    } else {
                        $(this).addClass("less");
                        $(this).html(lesstext);
                        $("span.more").find('span.morecontent').show();
                        $("span.more").find('span.moreellipses').hide();
                    }
                    return false;
                });
            });

            $("#btnCancel").click(function () {
                $("#TransHistory-grid").hide();
                $("#IssuedBook-grid").hide();
            });

            $("#btnViewIssue").click(function () {
                $('#ks_loader').show();
                $("#IssuedBook-grid").toggle();
                $("#TransHistory-grid").hide();
                $("#IssuedBook-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId });//reload kendo gird
                $('#ks_loader').hide();
            })

            $("#btnViewHistory").click(function () {
                $('#ks_loader').show();
                $("#IssueBook_Div").hide();
                $("#TransHistory-grid").toggle();
                $("#IssuedBook-grid").hide();
                $("#TransHistory-grid").data('kendoGrid').dataSource.read({ "BookId": BookMainId });//reload kendo gird
                $('#ks_loader').hide();
            })

            $("#btnIssue").click(function () {
                $('#ks_loader').show();
                $('#IssuedToUser').siblings().find('span:nth(0)').parent().addClass('form-control');
                $('#IssuedToUser').siblings().find('span:nth(1)').css('border', 'none');
                $('#BookIssueReturn_div').find('legend').text(BookTitle);

                $("#IssuedBook-grid").hide();
                $("#TransHistory-grid").hide();
                $("#BookIssueReturn_div").show();
                $("#IssueBook_Div").show();
                $("#PaidFine_Div").hide();
                $("#btnReturnFine").hide();
                $("#btnReturnReIssueFine").hide();
                
                $("#btnIssueBook").show();
                $("#Return_Head").hide();

                //get min date according to issue date
                mindate = GetDatMinString(kendo.toString($("#TransactionDate").val(), "dd/MM/yyyy"));
                // function get date as string and return date
                function GetDatMinString(date) {
                    //alert(date);
                    var datearry = date.split('/');
                    var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                    return returnMinDate;
                }
                $(".modal-body div#IssueBook_Div").find('#ExpectedReturnDate').kendoDatePicker('min', mindate);

                //get min date according to issue date
                maxdate = GetDaMaxString(kendo.toString(new Date(), "dd/MM/yyyy"));
                // function get date as string and return date
                function GetDaMaxString(date) {
                    //alert(date);
                    var datearry = date.split('/');
                    var returnMaxDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                    return returnMaxDate;
                }
                $(".modal-body div#IssueBook_Div").find('#TransactionDate').kendoDatePicker('max', maxdate);

                $.ajax({
                    type: 'GET',
                    url: '@Html.Raw(Url.Action("GetBookCopies", "Library"))',
                    data: { "BookId": BookMainId },
                    success: function (result) {
                        $("#BookCopies").empty();
                        var htmldrop = '<option Value="">--Select--</option>'
                        $("#BookCopies").append(htmldrop);

                        if (result.copies.length > 0) {
                            $.each(result.copies, function (i) {
                                var htmldrop = '<option Value="' + result.copies[i].Value + '">'
                                                + result.copies[i].Text + '</option>';
                                $("#BookCopies").append(htmldrop);
                            });
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });

            });

            function TotalBookStock() {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("GetBookStock", "Library"))',
                    data: { "BookId": BookMainId },
                    success: function (result) {
                        if (result.paramBookStockInfo.length > 0) {
                            $('#bookstockInfo').find('tbody tr td label#Issue_Books').text(result.paramBookStockInfo[0].TotalIssuedBooks);
                            $('#bookstockInfo').find('tbody tr td label#Avaiable_Books').text(result.paramBookStockInfo[0].AvaiableCopies);
                        }
                        if ($.trim($('#bookstockInfo').find('tbody tr td label#Issue_Books').text()) != "0") {
                            $("#btnViewIssue").show();
                        }
                        else {
                            $("#btnViewIssue").hide();
                            $("#IssuedBook-grid").hide();
                        }
                        if ($.trim($('#bookstockInfo').find('tbody tr td label#Avaiable_Books').text()) != "0") {
                            $("#btnIssue").show();
                        }
                        else {
                            $("#btnIssue").hide();
                        }

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }

            $('#btnIssueBook').click(function () {
                $('#ks_loader').show();
                var BookInfolist = new Object();
                BookInfolist.BookMemberTypeId = $("#BookMemberTypeId").val();
                BookInfolist.IssuedToId = $("#IssuedToUser").val();
                BookInfolist.BookIdentityId = $("#BookCopies").val();
                BookInfolist.BookId = BookMainId;
                BookInfolist.TransactionDate = $("#TransactionDate").val();
                BookInfolist.ExpectedReturnDate = $("#ExpectedReturnDate").val();

                var valid = ValidateBookIssue();
                if (valid) {
                    $('#ks_loader').show();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("InsertBookTransactions", "Library"))',
                        data: BookInfolist,
                        success: function (result) {
                            if (result.status == "success") {
                                $('#BookIssueReturn_div').hide();
                                ClearIssueFilters();

                                TotalBookStock();

                                //window.location.reload();
                                //$("#bookMaster-grid").
                                ToastMessage(result.data, "success", true, 5000);
                            }
                            else {
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });


                }
                else {
                    var validationaray = BookIssuevalidationmessage.split('ε');
                    for (var i = 0; i < validationaray.length - 1; i++)
                        ToastMessage(validationaray[i], "error", true, 5000);
                    $('#ks_loader').hide();
                    return false;
                }
            });

            $('#btnReturnFine').click(function () {
                var Flag = false;
                $('#ks_loader').show();
                var BookInfolist = new Object();
                var row = $("#IssuedBook-grid").parent().parent();
                BookInfolist.BookTransactionId = BookTransactionId;
                BookInfolist.TransactionDate = $("#IssueDate-Div").html();
                BookInfolist.ExpectedReturnDate = $("#ExReturnDate-Div").html();
                BookInfolist.BookIdentityId = $("#hdnIdentityId").val();
                BookInfolist.ActualReturnDate = $("#ActualReturnDate").val();
                BookInfolist.BookMemberTypeId = $("#hdnMembertypeId").val();
                BookInfolist.IssuedToId = $("#hdnIssueToId").val();
                BookInfolist.PaidOn = $("#PaidOn").val();
                BookInfolist.IssuedBookRemarks = $("#issueBookRemarks").val();
                 var total = 0;
            var paidAmount = 0;
            var isfine = 0;
            if ($("#PaidFine-Div").val() != "" && $("#PaidFine-Div").val() != null) {
                total = parseFloat($("#PaidFine-Div").val());
            }
            if ($("#PaidAmount").val() != "" && $("#PaidAmount").val() != null) {
                paidAmount = parseFloat($("#PaidAmount").val());
            }
            if ($("#Fine-Div").val() != "" && $("#Fine-Div").val() != null) {
                isfine = parseFloat($("#Fine-Div").val());
            }
            BookInfolist.PaidAmount = paidAmount;
            BookInfolist.Fine = isfine;
            if ($(".modal-footer").find('button#btnReturnFine').text() == "Pay Fine") {
                var updoldpaid=0;
                if($("#oldpaid").val()!=""&&$("#oldpaid").val()!=null){
                    updoldpaid=parseFloat($("#oldpaid").val());
                }
                newtotal=parseFloat(paidAmount+updoldpaid);
                //  BookInfolist.PendingFine = $("#hdnPendingFine").val();
                //  BookInfolist.PaidAmount = $("#hdnPaidFine").val();
                BookInfolist.PendingFine = paidAmount;
                
                var pendFine=total-updoldpaid;

                if (newtotal > total) {
                    Flag = true;
                    alert("Pay Amt. should not be greater than "+pendFine+" .");
                    $('#ks_loader').hide();
                    return false;
                }
                else if (paidAmount <= 0) {
                    Flag = true;
                    alert("Pay Amt. should not be less than or equal to Zero.");
                    $('#ks_loader').hide();
                    return false;
                }
                BookInfolist.PaidAmount = updoldpaid + paidAmount;
                ////alert messages for paying pending fines.
                //if ($("#PaidAmount").val() == "") {
                //    Flag = true;
                //    alert("Please enter amount in PaidAmount ");
                //    $('#ks_loader').hide();
                //    return false;
                //}
                //else if ($("#PaidAmount").val() != "") {
                //    //alert(parseInt($("#PaidAmount").val()));
                //    if (parseFloat($("#PaidAmount").val()) != parseFloat(BookInfolist.PendingFine)) {
                //        Flag = true;
                //        alert("Your Total fine is '" + $("#Fine-Div").val() + "' and you have to Pay pending money '"
                //                     + BookInfolist.PendingFine + "' not more or less than it.");
                //        $('#ks_loader').hide();
                //        return false;
                //    }
                //    if (parseInt($("#PaidAmount").val()) < 0) {
                //        Flag = true;
                //        alert("Pay Amount should not be less than zero.");
                //        $('#ks_loader').hide();
                //        return false;
                //    }
            }
                else if ($(".modal-footer").find('button#btnReturnFine').text() == "Return") {
                    //if ($("#PaidAmount").val() != "") {
                    //    if (parseInt($("#PaidAmount").val()) > parseInt($("#Fine-Div").val())) {
                    //        Flag = true;
                    //        alert("Pay Amount should not be more than Total.");
                    //        $('#ks_loader').hide();
                    //        return false;
                    //    }
                    //    if (parseInt($("#PaidAmount").val()) < 0) {
                    //        Flag = true;
                    //        alert("Pay Amount should not be less than zero.");
                    //        $('#ks_loader').hide();
                    //        return false;
                    //    }
                    //}
                  if (paidAmount > total) {
                        Flag = true;
                        alert("Pay Amount should not be greater than Total.");
                        $('#ks_loader').hide();
                        return false;
                    }
                else if (paidAmount < 0) {
                        Flag = true;
                        alert("Pay Amount should not be less than zero.");
                        $('#ks_loader').hide();
                        return false;
                    }
                }

                if (Flag == false) {
                    $('#ks_loader').show();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("UpdateBookTransactions", "Library"))',
                        data: BookInfolist,
                        success: function (result) {
                            if (result.status == "success") {
                                $('#BookIssueReturn_div').hide();
                                //window.location.reload();
                                if ($(".modal-footer").find('button#btnReturnFine').text() == "Pay Fine") {

                                    $('#TransHistory-grid').data('kendoGrid').dataSource.read();
                                }
                                else {
                                    TotalBookStock();
                                    $('#IssuedBook-grid').data('kendoGrid').dataSource.read();
                                }
                                ToastMessage(result.data, "success", true, 5000);
                            }
                            else {

                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
            });

             var ReIssueBookMemberTypeId = "";
      var ReIssueIssueToId = "";
    $('#btnReturnReIssueFine').click(function () {
        var Flag = false;
                $('#ks_loader').show();
                var BookInfolist = new Object();
                var row = $("#IssuedBook-grid").parent().parent();
                BookInfolist.BookTransactionId = BookTransactionId;
                BookInfolist.TransactionDate = $("#IssueDate-Div").html();
                BookInfolist.ExpectedReturnDate = $("#ExReturnDate-Div").html();
                BookInfolist.BookIdentityId = $("#hdnIdentityId").val();
                BookInfolist.ActualReturnDate = $("#ActualReturnDate").val();
                BookInfolist.BookMemberTypeId = $("#hdnMembertypeId").val();
                BookInfolist.IssuedToId = $("#hdnIssueToId").val();
                BookInfolist.PaidOn = $("#PaidOn").val();
                BookInfolist.IssuedBookRemarks = $("#issueBookRemarks").val();
                 var total = 0;
            var paidAmount = 0;
            var isfine = 0;
            if ($("#PaidFine-Div").val() != "" && $("#PaidFine-Div").val() != null) {
                total = parseFloat($("#PaidFine-Div").val());
            }
            if ($("#PaidAmount").val() != "" && $("#PaidAmount").val() != null) {
                paidAmount = parseFloat($("#PaidAmount").val());
            }
            if ($("#Fine-Div").val() != "" && $("#Fine-Div").val() != null) {
                isfine = parseFloat($("#Fine-Div").val());
            }
            BookInfolist.PaidAmount = paidAmount;
            BookInfolist.Fine = isfine;
            if ($(".modal-footer").find('button#btnReturnFine').text() == "Pay Fine") {
                var updoldpaid=0;
                if($("#oldpaid").val()!=""&&$("#oldpaid").val()!=null){
                    updoldpaid=parseFloat($("#oldpaid").val());
                }
                newtotal=parseFloat(paidAmount+updoldpaid);
                //  BookInfolist.PendingFine = $("#hdnPendingFine").val();
                //  BookInfolist.PaidAmount = $("#hdnPaidFine").val();
                BookInfolist.PendingFine = paidAmount;
                
                var pendFine=total-updoldpaid;

                if (newtotal > total) {
                    Flag = true;
                    alert("Pay Amt. should not be greater than "+pendFine+" .");
                    $('#ks_loader').hide();
                    return false;
                }
                else if (paidAmount <= 0) {
                    Flag = true;
                    alert("Pay Amt. should not be less than or equal to Zero.");
                    $('#ks_loader').hide();
                    return false;
                }
                BookInfolist.PaidAmount = updoldpaid + paidAmount;
                ////alert messages for paying pending fines.
                //if ($("#PaidAmount").val() == "") {
                //    Flag = true;
                //    alert("Please enter amount in PaidAmount ");
                //    $('#ks_loader').hide();
                //    return false;
                //}
                //else if ($("#PaidAmount").val() != "") {
                //    //alert(parseInt($("#PaidAmount").val()));
                //    if (parseFloat($("#PaidAmount").val()) != parseFloat(BookInfolist.PendingFine)) {
                //        Flag = true;
                //        alert("Your Total fine is '" + $("#Fine-Div").val() + "' and you have to Pay pending money '"
                //                     + BookInfolist.PendingFine + "' not more or less than it.");
                //        $('#ks_loader').hide();
                //        return false;
                //    }
                //    if (parseInt($("#PaidAmount").val()) < 0) {
                //        Flag = true;
                //        alert("Pay Amount should not be less than zero.");
                //        $('#ks_loader').hide();
                //        return false;
                //    }
            }
                else if ($(".modal-footer").find('button#btnReturnFine').text() == "Return") {
                    //if ($("#PaidAmount").val() != "") {
                    //    if (parseInt($("#PaidAmount").val()) > parseInt($("#Fine-Div").val())) {
                    //        Flag = true;
                    //        alert("Pay Amount should not be more than Total.");
                    //        $('#ks_loader').hide();
                    //        return false;
                    //    }
                    //    if (parseInt($("#PaidAmount").val()) < 0) {
                    //        Flag = true;
                    //        alert("Pay Amount should not be less than zero.");
                    //        $('#ks_loader').hide();
                    //        return false;
                    //    }
                    //}
                  if (paidAmount > total) {
                        Flag = true;
                        alert("Pay Amount should not be greater than Total.");
                        $('#ks_loader').hide();
                        return false;
                    }
                else if (paidAmount < 0) {
                        Flag = true;
                        alert("Pay Amount should not be less than zero.");
                        $('#ks_loader').hide();
                        return false;
                    }
                }

        if (Flag == false) {
            $('#ks_loader').show();
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("UpdateBookTransactions", "Library"))',
                data: BookInfolist,
                success: function (result) {
                    ReIssueBookMemberTypeId = result.BookMemberTypeReIssue;
                    ReIssueIssueToId = result.IssuedToIdReIssue;
                    var MinDateForReIssueTransAction = result.ReIssueDate;
                    var MaxDateForReIssueTransAction = result.MaxIssueDate;
                    $(".modal-body div#IssueBook_Div").find('#ExpectedReturnDate').val(MinDateForReIssueTransAction);
                    $('#BookIssueReturn_div').hide();
                    $('#IssuedBook-grid').data('kendoGrid').dataSource.read();
                    $('#ks_loader').hide();
                    if (BookIdForReIssue != "" && BookIdentityIdForReIssue != "") {
                        reIssueBookPopup();
                        function reIssueBookPopup() {
                            $('#ks_loader').show();
                            returning = false;

                            $("#btnIsLostUpdate").hide();
                            $('#BookIssueReturn_div').show();
                            $('#IssuedToUser').siblings().find('span:nth(0)').parent().addClass('form-control');
                            $('#IssuedToUser').siblings().find('span:nth(1)').css('border', 'none');
                            $('#BookIssueReturn_div').find('#IssueReturnLabel').text(result.BookMaterialType);
                            $('#BookIssueReturn_div').find('legend').text(result.BookMaterialType);

                            $("#BookIssueReturn_div").show();
                            $("#IssueBook_Div").show();
                            $("#PaidFine_Div").hide();
                            $("#btnReturnFine").hide();
                            $("#btnReturnReIssueFine").hide();

                            $("#btnIssueBook").show();
                            $("#Return_Head").hide();
                            $("#TransactionDate").val(MinDateForReIssueTransAction);
                            //get min date according to issue date
                            mindate = GetDatMinString(kendo.toString($("#TransactionDate").val(), "dd/MM/yyyy"));
                            // function get date as string and return date
                            function GetDatMinString(date) {
                                //alert(date);
                                var datearry = date.split('/');
                                var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                                return returnMinDate;
                            }
                            $(".modal-body div#IssueBook_Div").find('#ExpectedReturnDate').kendoDatePicker('min', mindate);

                            //get min date according to issue date
                            maxdate = GetDaMaxString(kendo.toString(MaxDateForReIssueTransAction, "dd/MM/yyyy"));
                            // function get date as string and return date
                            function GetDaMaxString(date) {
                                //alert(date);
                                var datearry = date.split('/');
                                var returnMaxDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                                return returnMaxDate;
                            }
                            $(".modal-body div#IssueBook_Div").find('#TransactionDate').kendoDatePicker('max', maxdate);

                            $("#BookCopies").empty();
                            $.ajax({
                                type: 'GET',
                                url: '@Html.Raw(Url.Action("GetBookCopies", "Library"))',
                                data: { "BookId": BookIdForReIssue },
                                success: function (result) {
                                    $("#BookCopies").empty();
                                    var htmldrop = '<option Value="">--Select--</option>'
                                    $("#BookCopies").append(htmldrop);

                                    if (result.copies.length > 0) {
                                        $.each(result.copies, function (i) {
                                            var htmldrop = '<option Value="' + result.copies[i].Value + '">'
                                                + result.copies[i].Text + '</option>';
                                            $("#BookCopies").append(htmldrop);
                                        });
                                    }
                                    $("#BookCopies").val(BookIdentityIdForReIssue);
                                    $("#BookMemberTypeId").val(ReIssueBookMemberTypeId);
                                    $("#BookMemberTypeId").attr("disabled", "disabled");
                                    $("#BookCopies").attr("disabled", "disabled");
                                    $("#BookMemberTypeId").trigger('change');

                                    if (ReIssueIssueToId != "") {
                                        $("#IssuedToUser").attr("disabled", "disabled");
                                    }
                                    $('#ks_loader').hide();
                                },
                              error: function (xhr, status, data) {
                                        var err = "Error " + " " + data;
                                        ToastMessage(err, "error", true, 5000);
                                        $('#ks_loader').hide();
                                    }
                                });
                            }
                        }
                       // var grid = $("#IssuedBook-grid").data("kendoGrid").dataSource.page(1);

                      ////  var 
                        //if ($(".issuedbookscount").length > 0) {
                        //    $("#BookIssueListModel").show();
                        //}
                        //window.location.reload();
                     //   ToastMessage(result.data, "success", true, 5000);
                    },
                  error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }

    });

     $('#btnIsLostUpdate').click(function () {

            var Flag = false;
            $('#ks_loader').show();
            var BookInfolist = new Object();
            var row = $("#IssuedBook-grid").parent().parent();
            BookInfolist.BookTransactionId = BookTransactionId;
            BookInfolist.TransactionDate = $("#IssueDate-Div").html();
            BookInfolist.ExpectedReturnDate = $("#ExReturnDate-Div").html();
            BookInfolist.BookIdentityId = $("#hdnIdentityId").val();
            BookInfolist.ActualReturnDate = $("#ActualReturnDate").val();
            BookInfolist.BookMemberTypeId = $("#hdnMembertypeId").val();
            BookInfolist.IssuedToId = $("#hdnIssueToId").val();
            BookInfolist.IssuedBookRemarks = $("#issueBookRemarks").val();
            
            BookInfolist.PaidOn = $("#PaidOn").val();
            
            var total = 0, paidamt = 0,lostpnlty=0,isfine=0;
            if ($("#PaidFine-Div").val() != "" && $("#PaidFine-Div").val() != null) {
                total = parseFloat($("#PaidFine-Div").val());
            }
            if ($("#PaidAmount").val() != "" && $("#PaidAmount").val() != null) {
                paidamt = parseFloat($("#PaidAmount").val());
            }
            if ($("#bookPrice").val() != "" && $("#bookPrice").val() != null) {
                lostpnlty = parseFloat($("#bookPrice").val());
            }
            if ($("#Fine-Div").val() != "" && $("#Fine-Div").val() != null) {
                isfine = parseFloat($("#Fine-Div").val());
            }
            BookInfolist.PaidAmount=paidamt;
            BookInfolist.LostPenalty = lostpnlty;
            BookInfolist.Fine = isfine;
            if (BookTransactionId != "" && BookTransactionId != null) {
                if (paidamt < 0) {
                    Flag = true;
                    alert("Pay Amount should not be less than zero.");
                    $('#ks_loader').hide();
                    return false;
                }
                else if(paidamt>total) {
                    Flag = true;
                    alert("Pay Amount should not be greater than Total.");
                    $('#ks_loader').hide();
                    return false;
                }
            } else {
                ToastMessage("Invalid Book Transaction", "error", true, 5000);
                Flag = true;
                $('#ks_loader').hide();
                return false;
            }
            if (Flag == false) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UpdateLostBook", "Library"))',
                    data: BookInfolist,
                    success: function (result) {
                        if (result.status == "success") {
                            $('#BookIssueReturn_div').hide();
                            //////// IsLost Functionality
                            $("#IsLost").prop('checked', false);
                         //   $("#Fine-Div").show();
                       //     $("#bookPrice").hide();
                            $("#bookPrice").val(0.00);
                            $("#priceError").hide();
                            $("#spnbookPrice").hide();
                            if ($(".modal-footer").find('button#btnReturnFine').text() == "Pay Fine") {

                                $('#TransHistory-grid').data('kendoGrid').dataSource.read();
                            }
                            else {
                                $('#IssuedBook-grid').data('kendoGrid').dataSource.read();
                            }
                            //window.location.reload();
                            ToastMessage(result.data, "success", true, 5000);
                        }
                        else {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            })
        </script>
    }
