﻿@model ViewModel.ViewModel.Library.BookSellerViewModel
@{
    ViewBag.Title = "Manage Book Seller";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;

}
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
<!-- Validations -->
@if (TempData["success"] != null && TempData["success"] != "")
{
    <script>
        $(function () {

            ToastMessage('@TempData["success"]', "success", true, 5000);
        })
    </script>
}
@if (TempData["error"] != null && TempData["error"] != "")
{
    <script>
        $(function () {
            var validationaray = '@TempData["error"]'.split('ε');
            $.each(validationaray, function (i) {
                ToastMessage(validationaray[i], "error", true, 5000);
            });
        });
    </script>
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Book Seller</h1>
    </div>
    <div class="row col-md-6 text-right addnew_div pull-right">
        <div class="col-md-4 pull-right">
            <button type="button" id="btnfilter" class="btn btn-xs btn-default "> Filters</button>
            @if (Model.IsAuthToGirdAdd)
            {
                <button type="button" id="btnadd" class="btn btn-xs btn-default ">Add New</button>
            }
        </div>

        <div id="dvExportOptions" class="col-md-3 pull-right" style="margin: 0px -29px 0 0;">
            @(Html.Partial("~/Views/Shared/_ExportLayout.cshtml", Model))
        </div>
    </div>

</div>


<!-- //Page Heading -->
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookSellerId)
    <style>
        #add-address-city_Seller {
            margin: -28px 28px 0 0 !important;
        }

        i.ks-required {
            position: relative;
        }
    </style>

    <!-- Page Filters -->
    <div class="form-inline ks-custom-form">
        <div class="row top-space-10" style="display: none" id="div_filter">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Seller Name</label>
                    @Html.TextBox("SellerName", Model.BookSellerName, new { @class = "form-control", @placeholder = "Seller Name" })
                </div>
                <div class="form-group">
                    <label class="control-label">City</label><!-- Form Label -->
                    @Html.DropDownList("Cities", Model.AvailableCities, new { @class = "form-control", @width = "150px" })

                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="filter" class="btn btn-default">Filter</button>
                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>

        <div class="row top-space-10" style="display: none" id="div_add">
            <div class="">
                <div class="col-md-3">
                    <label class="control-label">Seller Name<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.TextBoxFor(model => model.BookSellerName, new
                        {
                            @class = "form-control",
                            @autofocus = "on",
                            @maxlength = "100",
                            @placeholder = "Seller Name"
                        })
                    <!-- Error Message -->
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.BookSellerName)</span>
                    </div>
                    <!-- //Error Message -->
                </div>
                <div class="col-md-3">
                    <label class="control-label">Landline No.</label>
                    @Html.TextBoxFor(model => model.Landline, new
                {
                    @class = "form-control",
                    @maxlength = "50",
                    @placeholder = "xxxx-xxxxxxx"
                })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Mobile No.</label>
                    @Html.TextBoxFor(model => model.Mobile, new
                {
                    @class = "form-control",
                    @maxlength = "60",
                    @placeholder = "10 digit No."
                })
                </div>
                <div id="Address" class="col-md-3">
                    @using (Html.BeginForm("Address", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Partial("_address", Model.AddressModel, new ViewDataDictionary(ViewData) { { "Column", 1 }, { "Prefix", "Seller" } })
                    }
                </div>
                @*<div class="col-md-3">
                        @Html.Partial("_address", Model.AddressModel, new ViewDataDictionary(ViewData) { { "Column", 1 }, { "Prefix", "Seller" } })
                    </div>*@
                <div class="col-md-3">
                    <label class="control-label">E-mail Address</label>
                    @Html.TextBoxFor(model => model.Emails, new
                {
                    @class = "form-control",
                    @maxlength = "250",
                    @placeholder = "E-mail Id"
                })
                </div>

                <div class="col-md-3">
                    <label class="control-label">WebSite</label>
                    @Html.TextBoxFor(model => model.WebSite, new
                {
                    @class = "form-control",
                    @maxlength = "150",
                    @placeholder = "Website"
                })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Address1</label>
                    @Html.TextAreaFor(model => model.Address1, new
                {
                    @class = "form-control",
                    @maxlength = "150",
                    @resize = "none",
                    @placeholder = "Address1"
                })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Address2</label>
                    @Html.TextAreaFor(model => model.Address2, new
                {
                    @class = "form-control",
                    @maxlength = "150",
                    @resize = "none",
                    @placeholder = "Address2"
                })
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="form-group">
                    <button type="button" id="submit" class="btn btn-success"></button>
                    <button type="button" id="cancel" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>
        </div>
        <!-- // Page Filters -->
        <!--Book Attribute Kendo Gird -->
        <div class="row top-space-10">
            <div class="col-md-12">
                <div id="bookSeller-grid">
                    <script>
                        $(document).ready(function () {
                            $("#bookSeller-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetBookSellers", "Library"))",
                                            type: "POST",
                                            dataType: "json",
                                            contentType: "application/json",
                                            data: additionalData
                                        },
                                        parameterMap: function (data) {
                                            return JSON.stringify(data);
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: '@(defaultGridPageSize)',
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBound: onDataBound,
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                sortable: true,

                                columns: [{
                                    field: "BookSellerId",
                                    hidden: true
                                }, {
                                    field: "CityId",
                                    hidden: true
                                }, {
                                    field: "BookSellerName",
                                    title: "Seller Name",
                                    sortable: true
                                }, {
                                    field: "CityName",
                                    title: "City",
                                    sortable: true
                                }, {
                                    field: "Address1",
                                    hidden: true
                                }, {
                                    field: "Address2",
                                    hidden: true
                                }, {
                                    field: "Landline",
                                    hidden: true
                                }, {
                                    field: "Mobile",
                                    title: "Mobile No.",
                                    sortable: true
                                }, {
                                    field: "Emails",
                                    hidden: true
                                }, {
                                    field: "WebSite",
                                    title: "WebSite",
                                    sortable: true
                                },
                                 @if (Model.IsAuthToGridDelete || Model.IsAuthToGridEdit)
                                 {
                                    <text>
                                        {
                                            field: "BookSellerId",
                                            title: "Action",
                                            sortable: false,
                                            width: 120,
                                            template:
                                                @if (Model.IsAuthToGridEdit)
                                                {
                                                <text>
                                                    '<a href="javascript:void(0)" title="Edit"'
                                                    + ' data-toggle="tooltip" data-placement="top"'
                                                    + ' class="updateRecords btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>'
                                                </text>
                                                }
                                                @if (Model.IsAuthToGridDelete)
                                                {
                                                <text>
                                                    + '#if(!IsAuthToDelete){# <a title="Delete" data-toggle="tooltip" data-placement="top" class="deleteRecords  btn btn-xs btn-default"  cursor:pointer" dataid="#=BookSellerId#"'
                                                    + ' href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                            </text>
                                                }
                                        },
                                     </text>
                                }]
                            });
                            var grid = $("#bookSeller-grid").data("kendoGrid");
                        });

                        function onDataBound(arg) {
                            $('[data-toggle="tooltip"]').tooltip();
                        }

                        function additionalData() {
                            var data = {
                                BookSellerName: $.trim($('#SellerName').val()),
                                CityId: $("#Cities").val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }


                        addAntiForgeryToken = function (data) {
                            data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
                            return data;
                        };

                        //if ($("#bookSeller-grid").data('kendoGrid').dataSource.total() != 0) {
                        //    $("#btnPrintPdf").show();
                        //    $("#btnPrintExcel").show();
                        //    $("#btnPrint").show();
                        //}
                        //else {
                        //    $("#btnPrintPdf").hide();
                        //    $("#btnPrintExcel").hide();
                        //    $("#btnPrint").hide();
                        //}
                    </script>
                </div>
            </div>
        </div>
        <!-- //Book Attribute Kendo Gird -->

    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            //clear error messages
            $('.error-message').each(function () {
                var current = $(this);
                if (current.children('span').text() != "")
                    current.show();
                else
                    current.hide();
            });
        });

        //gird methods
        $(document).on("click", ".updateRecords", function () {
            $('#ks_loader').show();
            $("#div_filter").hide();
            $("#div_add").show();

            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Update');

           

            var row = $(this).parent().parent();
            $('#BookSellerId').val(row.find("td:nth-child(1)").text());

            $('#Address_CityId_Seller').val(row.find("td:nth-child(2)").text());
            $("#select2-Address_CityId_Seller-container").text(row.find("td:nth-child(4)").text());

            $('#BookSellerName').val(row.find("td:nth-child(3)").text());
            $('#Address1').val(row.find("td:nth-child(5)").text());
            $('#Address2').val(row.find("td:nth-child(6)").text());
            $('#Landline').val(row.find("td:nth-child(7)").text());
            $('#Mobile').val(row.find("td:nth-child(8)").text());
            $('#Emails').val(row.find("td:nth-child(9)").text());
            $('#WebSite').val(row.find("td:nth-child(10)").text());

            $("#bookSeller-grid").data('kendoGrid').dataSource.page(1);//reload kendo gird

            $('#ks_loader').hide();
        });

        $("#btnPrintPdf").click(function (e) {
            $('#ks_loader').show();
            var CityId = $('#Cities').val();
            var sellerName = $("#SellerName").val();
            var IsExcel = "0";
            $.ajax({
                type: "GET",
                async: true,
                url: '@Html.Raw(Url.Action("Export", "Library"))',
                data: {},
                success: function (result) {
                    window.location = "../Library/ExportData?CityId=" + CityId + "&Sellername=" + sellerName + "&IsExcel=" + IsExcel;
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        });



        $("#btnPrintExcel").click(function (e) {
            $('#ks_loader').show();
            var CityId = $('#Cities').val();
            var sellerName = $("#SellerName").val();
            var IsExcel = "1";
            $.ajax({
                type: "GET",
                async: true,
                url: '@Html.Raw(Url.Action("Export", "Library"))',
                data: {},
                success: function (result) {
                    window.location = "../Library/ExportData?CityId=" + CityId + "&Sellername=" + sellerName + "&IsExcel=" + IsExcel;
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        });

        $("#btnPrint").click(function (e) {
            $('#ks_loader').show();
            var CityId = $('#Cities').val();
            var sellerName = $("#SellerName").val();
            var IsExcel = "2";
            $.ajax({
                type: "GET",
                async: true,
                url: '@Html.Raw(Url.Action("Export", "Library"))',
                data: {},
                success: function (result) {
                    window.location = "../Library/ExportData?CityId=" + CityId + "&Sellername=" + sellerName + "&IsExcel=" + IsExcel;
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        });


        $('#BookSellerName, #SellerName').keydown(function (e) {
            AlphabeticValuesOnly(e);
        });

        //// events bind here for dynamic html
        //$('#Landline,#Mobile').keydown(function (e) {
        //    NumericOnly(e);
        //});

        //validations
        var BookSellerValid = true;
        var BookSellervalidationmessage = "";
        var BookSellerctrlfocus = "";
        function ValidateBookSeller() {
            BookSellerValid = true;
            BookSellervalidationmessage = "";
            BookSellerctrlfocus = "";

            if ($('#BookSellerName').val() == "") {
                if (BookSellerctrlfocus == "")
                    BookSellerctrlfocus = "#BookSellerName";
                BookSellervalidationmessage = BookSellervalidationmessage + "Please provide Seller Name ε";
                BookSellerValid = false;
            }
            if ($('#Address_CityId_Seller').val() == "") {
                if (BookSellerctrlfocus == "")
                    BookSellerctrlfocus = "#Address_CityId_Seller";
                BookSellervalidationmessage = BookSellervalidationmessage + "Please provide City ε";
                BookSellerValid = false;
            }
            if ($('#Emails').val() != "") {
                var result = isValidEmailAddress($('#Emails').val());
                if (!result) {
                    if (BookSellerctrlfocus == "")
                        BookSellerctrlfocus = "#Emails";
                    BookSellervalidationmessage = BookSellervalidationmessage + "Please enter valid E-mail Address ε";
                    BookSellerValid = false;
                }
            }
            if ($('#Landline').val() != "") {
                var arryNumbers = $('#Landline').val().split(',');
                var result = false;
                $.each(arryNumbers, function (i) {
                    result = validateLandline($.trim(arryNumbers[i]));
                });
                if (!result) {
                    if (BookSellerctrlfocus == "")
                        BookSellerctrlfocus = "#Landline";
                    BookSellervalidationmessage = BookSellervalidationmessage + "Please enter valid Landline Numbers. ε";
                    BookSellerValid = false;
                }
            }
            if ($('#Mobile').val() != "") {
                var arryMobNumbers = $('#Mobile').val().split(',');
                var result = false;
                $.each(arryMobNumbers, function (i) {
                    result = validateMobile($.trim(arryMobNumbers[i]));
                });
                if (!result) {
                    if (BookSellerctrlfocus == "")
                        BookSellerctrlfocus = "#Mobile";
                    BookSellervalidationmessage = BookSellervalidationmessage + "Please enter valid Mobile Numbers ε";
                    BookSellerValid = false;
                }
            }
            if ($('#WebSite').val() != "") {
                var result = validateWebsite($.trim($('#WebSite').val()));
                if (!result) {
                    if (BookSellerctrlfocus == "")
                        BookSellerctrlfocus = "#WebSite";
                    BookSellervalidationmessage = BookSellervalidationmessage + "Please enter valid WebSite ε";
                    BookSellerValid = false;
                }
            }
            if (validateWebsite)
                var aa = BookSellervalidationmessage;
            return BookSellerValid;
        }


        $('#submit').click(function () {
            $("#validation_para ul").html('');

            // create model
            var BookSellerModel = new Object();
            BookSellerModel.BookSellerId = $('#BookSellerId').val();
            BookSellerModel.BookSellerName = $("#BookSellerName").val();
            BookSellerModel.Address1 = $('#Address1').val();
            BookSellerModel.Address2 = $('#Address2').val();
            BookSellerModel.CityId = $('#Address_CityId_Seller').val();
            BookSellerModel.Landline = $('#Landline').val();
            BookSellerModel.Mobile = $('#Mobile').val();
            BookSellerModel.Emails = $('#Emails').val();
            BookSellerModel.WebSite = $('#WebSite').val();

            var valid = ValidateBookSeller();
            if (valid) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertOrUpdateBookSeller", "Library"))',
                    data: BookSellerModel,
                    success: function (result) {
                        if (result.status == "success") {
                            $("#bookSeller-grid").data('kendoGrid').dataSource.read();//reload kendo gird
                            $("#div_filter").hide();
                            $("#div_add").hide();
                            $('#ks_loader').hide();
                            ToastMessage(result.data, "success", true, 5000);
                            Clear();
                        }
                        else {
                            $('#ks_loader').hide();
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }

                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        $('#ks_loader').hide();
                        ToastMessage(err, "error", true, 5000);

                    }
                });
            }
            else {
                var validationaray = BookSellervalidationmessage.split('ε');
                $('#ks_loader').hide();
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);
                return false;
            }

        });

        //clear fields
        function Clear() {
            $("#BookSellerId").val("");
            $("#BookSellerName").val("");
            $("#Address1").val("");
            $("#Address2").val("");
            $('#Address_CityId_Seller').val("");
            $("#select2-Address_CityId_Seller-container").text("--Select--");
            $("#Landline").val("");
            $("#Mobile").val("");
            $("#Emails").val("");
            $("#WebSite").val("");
            $('#SellerName').val("");
            $("#Cities").val("");

            $("#bookSeller-grid").data("kendoGrid").dataSource.read();
        }


        $("#btnfilter").click(function () {
            $('#ks_loader').show();
            $("#div_filter").show();
            $("#div_add").hide();

            //refresh dropdown of cities

            $.ajax({
                type: "GET",
                url: '@Html.Raw(Url.Action("GetFilterCities", "Library"))',
                success: function (result) {
                    $("#Cities").empty();
                    if (result.paramCities.length > 0) {
                        $.each(result.paramCities, function (i) {
                            var html = '<option value="' + result.paramCities[i].Value + '">'
                                        + result.paramCities[i].Text + '</option>';
                            $("#Cities").append(html);
                        });
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

            $('#ks_loader').hide();
        })

        $("#btnadd").click(function () {
            $('#ks_loader').show();
            Clear();

            $("#submit").html('');
            $("#submit").html('<i class="fa fa-floppy-o"></i> Save');

            $("#div_add").show();
            $("#div_filter").hide();
            $('#ks_loader').hide();
        })


        $("#filter").click(function () {
            var grid = $("#bookSeller-grid").data("kendoGrid");
            grid.dataSource.page(1);
        });


        $("#cancel").click(function () {
            $('#ks_loader').show();
            $("#div_add").hide();
            Clear();
            $('#ks_loader').hide();
        });

        $("#reset").click(function () {
            $('#ks_loader').show();
            $("#div_filter").hide();
            Clear();
            $('#ks_loader').hide();
        })

        $("#bookSeller-grid").on("click", ".deleteRecords", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" title="Yes" dataid="' + enceventid + '" dataid1="" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
            cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" title="Cancel" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
            $('.k-grid-myConfirm').attr("dataid", enceventid);
        });

        //delete ajax method
        $("#bookSeller-grid").on("click", ".k-grid-myConfirm", function (e) {
            e.preventDefault();
            $('#ks_loader').show();
            var SellerId = $(this).attr("dataid");
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteBookSeller", "Library"))',
                data: { "SellerId": SellerId },
                success: function (result) {
                    if (result.status == "success") {
                        // check for updated entry
                        $('#bookSeller-grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var Bookseller = tablerow.find("td:nth-child(1)").text();
                            if (SellerId == Bookseller)
                                tablerow.remove();
                        });
                        $("#bookSeller-grid").data("kendoGrid").dataSource.page(1);
                        ToastMessage(result.data, "success", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        })

        $("#bookSeller-grid").on("click", ".k-grid-myCancel", function (e) {
            e.preventDefault();
            var enceventid = $(this).attr("dataid");
            var command = $(this);
            var cell = command.closest("td");
            command.remove();
            $('.k-grid-myConfirm').remove();
            cell.append('<a class="deleteRecords btn btn-xs btn-default" href="javascript:void(0)" dataid="' + enceventid + '" title="Are you sure to want Delete this record?"><i class="fa fa-trash"></i></a>');
            $('.deleteRecords').attr("dataid", enceventid);
        })


    </script>
}
