﻿@model ViewModel.ViewModel.Library.BookTransactionViewModel
@{
    ViewBag.Title = "Manage Book Transactions";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<!-- Validations -->
<div id="validation_para" hidden>
    <ul></ul>
</div>
<!-- //Validations -->
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Manage Book Transactions</h1>
    </div>
    <div class="col-md-6 text-right">
        <div class="row col-md-10">
            <div id='translControl' class="text-right"></div>
        </div>
        <div class="row col-md-2" style="margin:0px">
            <a href="javascript:void(0)" id="btnexportexcel_Issued" class="btn btn-xs btn-default issuedExport" style="display:none;margin-left:-10px">Export to excel</a>
            <a href="javascript:void(0)" id="btnexportexcel_TransactioHistory" class="btn btn-xs btn-default transhistoryExport" style="display:none;margin-left:-10px">Export to excel</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi">
</script>
<div class="modal-popup" id="BookIssueReturn_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="IssueReturnLabel"></h4>
            </div>
            <div class="modal-body" style="overflow:auto;">
                @Html.Partial("_bookIssuedReturned", Model)
            </div>
            <div class="modal-footer">
                <div class="row top-space-10">
                    <div class="col-md-12 ">
                        <button type="button" name="btnIssueBook" class="btn btn-success " id="btnIssueBook">
                            Issue
                        </button>
                        <button type="button" name="btnIsLostUpdate" style="display:none" class="btn btn-success " id="btnIsLostUpdate">
                            Update
                        </button>
                        <button type="button" name="btnReturnReIssueFine" class="btn btn-success " id="btnReturnReIssueFine">
                            Return & ReIssue
                        </button>
                        <button type="button" name="btnReturnFine" class="btn btn-success " id="btnReturnFine">
                            Return
                        </button>
                        <button type="button" name="close_div" class="btn btn-danger " id="close_div">
                            <i class="fa fa-ban"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-popup" id="myAccessonNoCopies" hidden>
    <div class="modal-popup-body" style="">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="accessionCopiesHeading"></h4>
            </div>
            <div class="modal-body" style="overflow:auto;">
                <table id="accesionBookCopiesTable" style="">
                    <thead>
                        <tr>
                            <th>Copy Id</th>
                            <th>Accession No.</th>
                            <th>Edition</th>
                            <th>Entry Date</th>
                            <th>Location</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row top-space-10">
                    <div class="col-md-12 ">
                        <button type="button" id="btnCancelmyAccessonNoCopies" class="btn cancel" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #accesionBookCopiesTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #accesionBookCopiesTable td, #accesionBookCopiesTable th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #accesionBookCopiesTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #accesionBookCopiesTable tr:hover {
            background-color: #ddd;
        }

        #accesionBookCopiesTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
</style>
<!-- //Page Heading -->
@*info Book*@
@*<div class="modal-popup" id="BookIssueReturn_div" hidden>
        <div class="modal-popup-body">
            <div class="modal-content">
                <div class="modal-header">
                    <fieldset class="popup">
                        <legend>
                            <b></b>
                        </legend>
                        <div class="row modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" name="btnIssueBook" class="btn btn-success " id="btnIssueBook">
                                Issue
                            </button>
                            <button type="button" name="btnReturnFine" class="btn btn-success " id="btnReturnFine">
                                Return
                            </button>
                            <button type="button" name="close_div" class="btn btn-danger " id="close_div">
                                <i class="fa fa-ban"></i> Close
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>*@

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookTransactionId)
    @Html.HiddenFor(model => model.BookId)
    @Html.HiddenFor(model => model.ArrayMasterAttr)
    @Html.HiddenFor(model => model.ArrayLocationMasterAttr)
        

    <div class="form-inline ks-custom-form">
        <div class="top-space-10">
            <div class="col-md-12 input-group add-on">
                @*<div class="row">*@
                <div class="input-group add-on col-md-7" id="InstantSearch_div">
                    <input class="form-control" placeholder="Search" name="@Model.SearchText"
                           id="SearchText" type="text" style="height: 33px;">
                    <div class="input-group-btn" style="width:1%;">
                        <button class="btn btn-default" style="display:none" id="anchorSearch" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                        <a id="btnAdvancedSearch" href="#" class="btn btn-default" style="margin-left: 10px;">Advanced Search</a>
                    </div>
                </div>
                <div class="input-group transhistorySession" style="display:none; margin-left: 18px;">
                    <label>Session:</label>
                    @Html.DropDownList("filtertranshistrySessionid", Model.AvailbleSessions, new { @class = "" })
                </div>
                <div class="input-group bookStatus" style="display:none; margin-left: 18px;">
                    <label>Status:</label>
                    @Html.DropDownList("filterbookStatus", Model.AvailbleBookStatus, new { @class = "" })
                </div>
                <div class="input-group issuedSession" style="display:none; margin-left: 18px;">
                    <label>Session:</label>
                    @Html.DropDownList("filterissueSessionid", Model.AvailbleSessions, new { @class = "" })
                </div>

                <div class="form-group  col-md-offset-1" style="margin-bottom:0px;">
                    @if (Model.IsAuthToViewIssued)
                    {
                        <a id="btnViewIssuedBook_List" href="#" class="btn btn-success">View Issued</a>
                    }
                    @if (Model.IsAuthToViewRecord)
                    {
                        <a id="btnBookTranctionHis_List" href="#" class="btn btn-success">Transaction History</a>}
                </div>
                @*</div>*@
            </div>

            <div class="col-md-12 row input-group filterbookTransactionHistorybyStudentwise" style="margin-top:12px;display:none">
                <div class="col-md-2">
                    <label class="control-label">Member Type</label>
                    <select class="form-control" id="bkTrHMemberTypeId" style="width:100%">
                        <option selected value="">--Select Member--</option>
                        <option value="student">Student</option>
                        <option value="staff">Staff</option>
                    </select>
                </div>
                <div class="col-md-2 bkstfHfltr" style="display:none">
                    <label class=" control-label">Staff</label>
                    <select class="form-control drop-down" id="bkTrHStaffId" style="width:100%">
                        @foreach (var item in Model.AvailableStaff)
                        {
                            if (item.Selected == true)
                            {
                                <option selected value="@item.Value"> @item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2 bkstdHfltr" style="display:none">
                    <label class=" control-label">Reg./AdmnNo.</label>
                    @Html.TextBox("AdmsnRegNoH", "", new { @class = "form-control", @style = "width:100%" })
                </div>
                <div class="col-md-2 bkstdHfltr" style="display:none">
                    <label class=" control-label">Class</label>
                    <select class="form-control drop-down" id="bkTrHClassId" style="width:100%">
                        @foreach (var item in Model.AvailableClasses)
                        {
                            if (item.Selected == true)
                            {
                                <option selected value="@item.Value"> @item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2 bkstdHfltr" style="display:none">
                    <label class=" control-label">SelectStudent</label>
                    <select class="form-control drop-down" id="intbkTrHStudentId" style="width:100%">
                        <option selected value="">--Select--</option>
                    </select>
                </div>
                <div class="col-md-3" style="margin-top: 15px;">
                    <button type="button" id="filterBookTransactionHByStudent" class="btn btn-success">Filter</button>
                    <button type="button" id="resetBookTransactionHByStudent" class="btn btn-danger">Reset</button>
                </div>
            </div>
            <div class="col-md-12 row input-group filterbookIssued" style="margin-top:12px;display:none">
                <div class="col-md-2">
                    <label class="control-label">Member Type</label>
                    <select class="form-control" id="bkIsMemberTypeId" style="width:100%">
                        <option selected value="">--Select Member--</option>
                        <option value="student">Student</option>
                        <option value="staff">Staff</option>
                    </select>
                </div>
                <div class="col-md-2 bkstfIs" style="display:none">
                    <label class=" control-label">Staff</label>
                    <select class="form-control drop-down" id="bkIsStaffId" style="width:100%">
                        @foreach (var item in Model.AvailablIssuedeStaff)
                        {
                            if (item.Selected == true)
                            {
                                <option selected value="@item.Value"> @item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2 bkstdIs" style="display:none">
                    <label class=" control-label">Reg./AdmnNo.</label>
                    @Html.TextBox("AdmsnRegNoIs", "", new { @class = "form-control", @style = "width:100%" })
                </div>
                <div class="col-md-2 bkstdIs" style="display:none">
                    <label class=" control-label">Class</label>
                    <select class="form-control drop-down" id="bkIsClassId" style="width:100%">
                        @foreach (var item in Model.AvailableIssuedClasses)
                        {
                            if (item.Selected == true)
                            {
                                <option selected value="@item.Value"> @item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2 bkstdIs" style="display:none">
                    <label class=" control-label">SelectStudent</label>
                    <select class="form-control drop-down" id="intbkIsStudentId" style="width:100%">
                        <option selected value="">--Select--</option>
                    </select>
                </div>
                <div class="col-md-3" style="margin-top: 15px;">
                    <button type="button" id="filterIssuedByStudent" class="btn btn-success">Filter</button>
                    <button type="button" id="resetBookIssuedByStudent" class="btn btn-danger">Reset</button>
                </div>
            </div>

            <div class="form-group top-space-20" id="Div_FilterDates" style="display: none;margin-bottom: 0px;">
                @*<span class="heading_Div" style="font-size: large;"></span> &nbsp; &nbsp;*@
                <label>Filter Date by: </label>
                <select id="filter_Date" class="form-control">
                    <option value="0">--Select--</option>
                    <option value="1">Issue Date</option>
                    <option value="2">Expected Return Date</option>
                    <option value="3">Actual Return Date</option>
                </select>
                <div id="IssueDatepicker_Div" hidden>
                    <label>From: </label> @Html.TextBoxFor(m => m.FromDateFilter, new { @class = "KendoDatepicker" })
                    <label>To: &nbsp;</label>@Html.TextBoxFor(m => m.ToDateFilter, new { @class = "KendoDatepicker" })

                    <button class="btn btn-default" id="ResetDate_Filter" type="button">
                        <i class="fa fa-times"></i> Reset
                    </button>
                </div>
            </div>

            

            <div class="col-md-12 row input-group filterbookTransactionbyStudentwise" style="margin-top:12px">
                <div class="col-md-2" style="display:none">
                    <label class="control-label">Member Type</label>
                    <select class="form-control" id="bkTrMemberTypeId" style="width:100%">
                        <option selected value="">--Select Member--</option>
                        <option value="student">Student</option>
                        <option value="staff">Staff</option>
                    </select>
                </div>
                <div class="col-md-2 bkstffltr" style="display:none">
                    <label class=" control-label">Staff</label>
                    <select class="form-control drop-down" id="bkTrStaffId" style="width:100%">
                        @foreach (var item in Model.AvailableStaff)
                        {
                            if (item.Selected == true)
                            {
                                <option selected value="@item.Value"> @item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2 bkstdfltr" style="display:none">
                    <label class=" control-label">Reg./AdmnNo.</label>
                    @Html.TextBox("AdmsnRegNo", "", new { @class = "form-control", @style = "width:100%" })
                </div>
                <div class="col-md-2 bkstdfltr" style="display:none">
                    <label class=" control-label">Class</label>
                    <select class="form-control drop-down" id="bkTrClassId" style="width:100%">
                        @foreach (var item in Model.AvailableClasses)
                        {
                            if (item.Selected == true)
                            {
                                <option selected value="@item.Value"> @item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2 bkstdfltr" style="display:none">
                    <label class=" control-label">SelectStudent</label>
                    <select class="form-control drop-down" id="intbkTrStudentId" style="width:100%">
                        <option selected value="">--Select--</option>
                    </select>
                </div>
                <div class="col-md-12" style="">
                    <div class="col-md-3">
                        <label class="control-label">Accession No</label>
                        @Html.TextBox("bkTrAccessionNoLui", "", new { @class = "form-control", @style = "width:100%" })
                    </div>
                    <div id="Advanced_Filters" class="row" hidden>
                        <div class="well col-md-12 top-space-20" id="Info">
                            <div class="col-md-5">
                                <table class="table disableColborder" id="MainInfo">
                                    <tbody>
                                        <tr>
                                            <td>Material Type</td>
                                            <td>
                                                @Html.DropDownList("MaterialType", Model.MaterialTypes,
                                                                new { @class = "form-control", @style = "Width: 77.2%;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>SubTitle</td>
                                            <td>
                                                @Html.TextBox("Subtitle", Model.SubTitle, new { @class = "form-control", @placeholder = "SubTitle" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ISBN</td>
                                            <td>
                                                @Html.TextBox("ISBN", Model.ISBN, new { @class = "form-control", @placeholder = "ISBN" })
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-7" id="ExtraInfo_div" style="border-left:1px solid">
                                <table class="table disableColborder ExtraInfoTable" id="attrTable">
                                    <tr>
                                        <td>
                                            <table class="bukAttr" id="bookAttr">
                                                @foreach (var bookattr in Model.BookAttributes)
                                                {
                                                    var InputTrnsId = bookattr.BookAttributeId + "_txtTrns";
                                                    <tr>
                                                        <td class="Attr">@bookattr.BookAttributeName</td>
                                                        <td style="color: black;" class="textboxAttr">
                                                            <input class="txtAttr form-control" id='@InputTrnsId'
                                                                   style="width: 90%;">
                                                        </td>

                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                        <td>
                                            <table class="bookMasterattr" id="bookMasterattr">
                                                @foreach (var attr in Model.BookMasterAttributes)
                                                {
                                                    var SelectTrnsId = attr.BookMasterAttributeId + "_drpTrns";
                                                    <tr>
                                                        <td class="MasterAttr">@attr.BookMasterAttributeName</td>
                                                        <td class="dropAttr">
                                                            <select id='@SelectTrnsId' style="width: 280%!important"
                                                                    class="form-control drop-down bookAttr">
                                                                <option value="">--Select--</option>
                                                                @{
                                                                    //get all book data values related to specific attribute
                                                                    foreach (var data in attr.BookDatas)
                                                                    {
                                                                        <option value='@data.BookMasterDataId'>@data.AttributeValue</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </td>

                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="form-group pull-right">
                                @*<button id="btnSearch" type="button" class="btn btn-default" style="display:none">Search</button>*@
                                <button id="btnClose" type="button" class="btn btn-danger" style="display:none">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9" style="margin-top: 15px;">
                        @*<button type="button" id="filterBookTransactionByStudent" class="btn btn-success" style="float:right">Filter</button>*@

                        <button type="button" id="resetBookTransactionByStudent" class="btn btn-danger" style="float:right">Reset</button>
                        <button type="button" id="btnSearch" class="btn btn-default" style="float:right">Filter</button>
                    </div>
                    </div>
                </div>
        </div>
        <div class=""></div>
        <hr />
        <!--Book master Kendo Gird -->
        <div class="row">
            <div class="col-md-12 TransactionHistoryCountTag">
                <div style="padding-right: 17px;">
                    <label id="Available_Count" style="float: right;"></label>
                    <label id="Total_Count" style="float: right;"></label>
                </div>
            </div>
                <div class="col-md-12">
                    <div id="bookMaster-grid">
                        @(Html.Partial("~/Views/Library/_bookMasterKendoList.cshtml", Model))
                    </div>
                </div>
            </div>
            <!-- //Book master Kendo Gird -->
            <!--Issued Books Kendo Gird -->
            <div class="row">
                <div class="col-md-12">
                    <div id="IssuedBook-grid" hidden>
                        @(Html.Partial("~/Views/Library/_IssuedBookKendoList.cshtml", Model))
                    </div>
                </div>
            </div>
            <!-- //Book master Kendo Gird -->
            <!--Issued Books Kendo Gird -->
            <div class="row">
                <div class="col-md-12">
                    <div id="TransHistory-grid" hidden>
                        @(Html.Partial("~/Views/Library/_TransactionHistoryKendoList.cshtml", Model))
                    </div>
                </div>
            </div>
            <!-- //Book master Kendo Gird -->
        </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetBookTransactionDropDowns", "Library"))',
                data: {},
                success: function (result) {
                        if (result.status == "success") {
                            var loctionHtml = ""; var lctncount = 0;
                            $.each(result.BookLocationList, function () {
                                if (lctncount > 1)
                                    lctncount = 0;

                               if(lctncount==0)
                                    loctionHtml += '<tr>'

                                loctionHtml += '<td>' + this.AttributeValue + '</td>';
                                    loctionHtml +='<td>';
                                loctionHtml += '<select class="form-control drop-down AdvancedLocationAttribute" style="width:100px!important;">';
                                $.each(this.BookLocationDataList, function () {
                                    loctionHtml += '<option attrid="' + this.BookLocationAttributeId + '" value="' + this.BookLocationDataId + '">' + this.BookLocationAttributeValue + '</option>';
                                });
                                loctionHtml += '<select>';
                                loctionHtml += '</td>';

                              if (lctncount == 1)
                                    loctionHtml += '</tr>';

                                lctncount++;
                            })
                            $("#MainInfo >tbody").append(loctionHtml);
                            $(".AdvancedLocationAttribute").select2();
                        }
                        else {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });


        });

        var isAdvancedSearch = false;
        var isIssuedBookSearch = false;
        var isTranctionHisSearch = false;

        $("#filtertranshistrySessionid, #filterissueSessionid").val('@Model.CurrentSessionId');


        $("#FromDateFilter.KendoDatepicker,#ToDateFilter.KendoDatepicker").kendoDatePicker({
            value: new Date,
            format: "dd/MM/yyyy"
        });

        //get min date according to issue date
        mindate = GetDatMinString(kendo.toString($("#FromDateFilter").val(), "dd/MM/yyyy"));
        // function get date as string and return date
        function GetDatMinString(date) {
            //alert(date);
            var datearry = date.split('/');
            var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
            return returnMinDate;
        }
        $('#ToDateFilter').kendoDatePicker('min', mindate);

        $("#FromDateFilter.KendoDatepicker,#ToDateFilter.KendoDatepicker").attr("readonly", true);


        $("#ResetDate_Filter").on('click', function () {
            $("#IssueDatepicker_Div").hide();
            $("#filter_Date").val(0);
            if (isIssuedBookSearch) {
                $("#IssuedBook-grid").data("kendoGrid").dataSource.read();
            }
            else {
                $("#TransHistory-grid").data("kendoGrid").dataSource.read();
            }
        });

        $("#btnAdvancedSearch").on('click', function () {
            $('#IssuedBook-grid').hide();
            $('#TransHistory-grid').hide();
            $("#bookMaster-grid").show();
            $("#btnViewIssuedBook_List").show();

            $("#Advanced_Filters").toggle(1000);
            isAdvancedSearch = true;
            isIssuedBookSearch = false;
            isTranctionHisSearch = false;

            if ($("#Advanced_Filters").css('display') == 'none') {
                $("#resetBookTransactionByStudent").parent().removeClass("col-md-12");
                $("#resetBookTransactionByStudent").parent().removeClass("col-md-9");
            }
            else {
                $("#resetBookTransactionByStudent").parent().removeClass("col-md-9");
                $("#resetBookTransactionByStudent").parent().removeClass("col-md-12");
            }
        });

        $("#filter_Date").on('change', function () {
            if ($(this).val() != 0) {
                $("#IssueDatepicker_Div").show();
                $("#IssueDatepicker_Div").css("display", "inline-block");
            }
            else {
                $("#IssueDatepicker_Div").hide();
            }
            if (isIssuedBookSearch) {
                $("#IssuedBook-grid").data("kendoGrid").dataSource.read();
            }
            else {
                $("#TransHistory-grid").data("kendoGrid").dataSource.read();
            }

            if ($(this).val() != 0) {
                if (!isIssuedBookSearch || !isTranctionHisSearch) {
                    onFilterSearch();
                }
            }

        });

        $("#FromDateFilter").on('change', function () {
            if (!isIssuedBookSearch || !isTranctionHisSearch) {
                onFilterSearch();
            }

            //get min date according to issue date
            mindate = GetDatMinString(kendo.toString($(this).val(), "dd/MM/yyyy"));
            // function get date as string and return date
            function GetDatMinString(date) {
                //alert(date);
                var datearry = date.split('/');
                var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                return returnMinDate;
            }
            $('#ToDateFilter').kendoDatePicker('min', mindate);
        });

        $("#ToDateFilter").on('change', function () {
            if (!isIssuedBookSearch || !isTranctionHisSearch) {
                onFilterSearch();
            }

        });



        $("#btnClose").on('click', function () {
            isAdvancedSearch = false;
            $("#Advanced_Filters").hide(1000);

            //clear attrbute with textbox and attrbute with dropdown
            $("#attrTable tbody tr").each(function () {
                if ($(this).find('td input') || $(this).find('td select')) {
                    $(this).find('td input').val("");
                    $(this).find('td select').val("").change();
                }
            });

            //clear attrbute with main information
            $("#MainInfo tbody tr").each(function () {
                if ($(this).find('td input') || $(this).find('td select')) {
                    $(this).find('td input').val("");
                    $(this).find('td select').val("");
                }
            });

            $(".AdvancedLocationAttribute").each(function () {
                $(this).val("").select2();
            });

            $("#bookMaster-grid").data('kendoGrid').dataSource.read();
        });


        //search thorugh all books on change of textbox
        $('#SearchText').on('keyup', function () {
            if (!isAdvancedSearch || !isIssuedBookSearch || !isTranctionHisSearch) {
                onSearch();
            }
        });

        //search thorugh all books on click Search icon
        $('#anchorSearch').on('click', function () {
            if (!isAdvancedSearch || !isIssuedBookSearch || !isTranctionHisSearch) {
                onSearch();
            }
        });

        function onFilterSearch() {
            var q = $.trim($("#SearchText").val());
            var fromdate = $("#FromDateFilter").val();
            var todate = $("#ToDateFilter").val();
            if (isIssuedBookSearch) {
                $("#IssuedBook-grid").data("kendoGrid").dataSource.page(1);
                var grid = $("#IssuedBook-grid").data("kendoGrid").dataSource.read({
                    "SearchText": q, SearchToDate: todate,
                    SearchFromDate: fromdate, "SearchDateId": $('#filter_Date').val()
                });
            } else if (isTranctionHisSearch) {
                $("#TransHistory-grid").data("kendoGrid").dataSource.page(1);
                var grid = $("#TransHistory-grid").data("kendoGrid").dataSource.read({
                    "SearchText": q, "SearchToDate": todate,
                    "SearchFromDate": fromdate, "SearchDateId": $('#filter_Date').val()
                });
            }
            else {
                $("#bookMaster-grid").data("kendoGrid").dataSource.page(1);
                //var grid = $("#bookMaster-grid").data("kendoGrid").dataSource.read({ "SearchText": q });
            }
        }

        function onSearch() {
            var q = $.trim($("#SearchText").val());
            if (isIssuedBookSearch) {
                $("#IssuedBook-grid").data("kendoGrid").dataSource.page(1);
                //var grid = $("#IssuedBook-grid").data("kendoGrid").dataSource.read({
                //    "SearchText": q
                //});
            } else if (isTranctionHisSearch) {
                $("#TransHistory-grid").data("kendoGrid").dataSource.page(1);
                //var grid = $("#TransHistory-grid").data("kendoGrid").dataSource.read({
                //    "SearchText": q
                //});
            }
            else {
                $("#bookMaster-grid").data("kendoGrid").dataSource.page(1);
                //var grid = $("#bookMaster-grid").data("kendoGrid").dataSource.read({ "SearchText": q });
            }
        }


        $('#btnViewIssuedBook_List').on('click', function () {
            debugger
         //   $('.heading_Div').html('');
            $('#SearchText').val("");
            $('#IssuedBook-grid').toggle();
            $('#TransHistory-grid').hide();
            $('.TransactionHistoryCountTag').hide();
            $("#bookMaster-grid").toggle();
            $("#btnAdvancedSearch").toggle();
            $("#Advanced_Filters").hide();
            $('#btnBookTranctionHis_List').toggle();
            $('#Div_FilterDates').toggle();

         //   $('.heading_Div').html('<b>List of Issued Copies: </b>');

            $('#filter_Date').val(0);
            $("#IssueDatepicker_Div").hide();
            $(".transhistorySession").hide();
            $(".bookStatus").hide();
            $(".issuedSession").show();
            $("#btnexportexcel_TransactioHistory").hide();
            $(".filterbookTransactionHistorybyStudentwise").hide();
            $(".filterbookIssued").hide();
            $("#btnexportexcel_Issued").hide();

            isIssuedBookSearch = true;
            isAdvancedSearch = false;
            isTranctionHisSearch = false;

            $(this).text(function (i, text) {
                return text === "Hide Issued" ? "View issued" : "Hide Issued";
            })

            if ($(this).text() == "View issued") {
                isIssuedBookSearch = false;
                isAdvancedSearch = true;
                $(".issuedSession").hide();
                $(".filterbookTransactionbyStudentwise").show();
                $("#Advanced_Filters").hide();
                $('.TransactionHistoryCountTag').show();
                $("#resetBookTransactionByStudent").click();

             //   $(".bookStatus").hide();
               // $("#bookMaster-grid").data("kendoGrid").dataSource.read();
              //  $("#IssuedBook-grid").data("kendoGrid").dataSource.read();
             //   $("#TransHistory-grid").data("kendoGrid").dataSource.read();
            } else {
                $(".filterbookTransactionbyStudentwise").hide();
                $(".btnexportexcel_TransactioHistory").hide();
                $(".filterbookIssued").show();
                $("#btnexportexcel_Issued").show();
                $("#filterissueSessionid").val(@Model.CurrentSessionId);
                $("#IssuedBook-grid").data("kendoGrid").dataSource.read();
            }
        });

        $('#btnBookTranctionHis_List').on('click', function () {
            debugger
          //  $('.heading_Div').html('');
            $('#SearchText').val("");
            $("#bookMaster-grid").toggle();
            $("#btnAdvancedSearch").toggle();
            $("#Advanced_Filters").hide();
             $('.TransactionHistoryCountTag').hide();
            $('#btnViewIssuedBook_List').toggle();
            $('#TransHistory-grid').toggle();

            $('#Div_FilterDates').toggle();
            $("#filterbookStatus").val("");
        //    $('.heading_Div').html('<b>List of Previous Transaction History: </b>');
            //$("#SearchDate").val("");
            $('#filter_Date').val(0);
            $("#IssueDatepicker_Div").hide();
            $(".transhistorySession").show();
            $(".bookStatus").show();
            $(".issuedSession").hide();
            $("#btnexportexcel_TransactioHistory").hide();
        $(".filterbookTransactionHistorybyStudentwise").hide();
        $(".filterbookIssued").hide();
            $("#btnexportexcel_Issued").hide();
            $("#InstantSearch_div").removeClass("col-md-7");
            $("#InstantSearch_div").addClass("col-md-5");
            isTranctionHisSearch = true;
            isAdvancedSearch = false;
            isIssuedBookSearch = false;

            $(this).text(function (i, text) {
                return text === "Hide History" ? "Transaction History" : "Hide History";
            })
            if ($(this).text() == "Transaction History") {
                isTranctionHisSearch = false;
                isAdvancedSearch = true;
                $(".transhistorySession").hide();
                $(".bookStatus").hide();
                 $('.TransactionHistoryCountTag').show();
                $(".filterbookTransactionbyStudentwise").show();
                $(".filterbookTransactionHistorybyStudentwise").hide();
                 $("#InstantSearch_div").removeClass("col-md-5");
                 $("#InstantSearch_div").addClass("col-md-7");
                //$("#bookMaster-grid").data("kendoGrid").dataSource.read();
                //$("#IssuedBook-grid").data("kendoGrid").dataSource.read();
                //$("#TransHistory-grid").data("kendoGrid").dataSource.read();
                 $("#Advanced_Filters").hide();
                $("#resetBookTransactionByStudent").click();
                //$("#bookMaster-grid").data("kendoGrid").dataSource.page(1);
                //$("#IssuedBook-grid").data("kendoGrid").dataSource.page(1);
                //$("#TransHistory-grid").data("kendoGrid").dataSource.page(1);
            }
            else {
                $(".filterbookTransactionbyStudentwise").hide();
                $(".filterbookTransactionHistorybyStudentwise").show();
                $("#btnexportexcel_TransactioHistory").show();
                $("#filtertranshistrySessionid").val(@Model.CurrentSessionId);
                $("#TransHistory-grid").data("kendoGrid").dataSource.read();
            }
        });



        //Advanced search through books with particular info
    $("#btnSearch").on('click', function () {
            // create model
            var BookModel = new Object();
            BookModel.MaterialTypeId = $('#MaterialType').val();
            BookModel.SubTitle = $.trim($('#Subtitle').val());
            BookModel.ISBN = $.trim($('#ISBN').val());
            BookModel.bkTransactionAccessionLui =$.trim($('#bkTrAccessionNoLui').val());

            var Attr = new Object();//array and object for Attributes
            var TotalMasterAttrArray = new Array();

            $("#attrTable table").each(function () {
                Attr = new Object();
                if ($(this).hasClass("bookMasterattr")) {
                    $("#bookMasterattr tbody tr").each(function () {
                        Attr = new Object();
                        Attr.BookMasterAttribute = $(this).find("td.MasterAttr").text();
                        Attr.BookMasterAttributeId = $(this).find("select").attr("id");
                        Attr.BookMasterDataId = $(this).find(".bookAttr option:selected").val();
                        Attr.BookMasterDataAttributeValue = $(this).find(".bookAttr option:selected").text();
                        TotalMasterAttrArray.push(Attr);
                    })
                }
                else if ($(this).hasClass('bukAttr')) {
                    $("#bookAttr tbody tr").each(function () {
                        Attr = new Object();
                        Attr.BookAttribute = $(this).find("td.Attr").text();
                        Attr.BookAttributeId = $(this).find("input").attr('id');
                        Attr.BookAttributeValue = $.trim($(this).find("input").val());
                        TotalMasterAttrArray.push(Attr);
                    })
                }
            });
            $("#ArrayMasterAttr").val(JSON.stringify(TotalMasterAttrArray));
            BookModel.ArrayMasterAttr = $("#ArrayMasterAttr").val();

        var LocationAttr = new Object();
        var TotalLocationAttrDataArray = new Array();
        
        $(".AdvancedLocationAttribute").each(function () {
            if ($(this).val() != null && $(this).val() != "") {
                LocationAttr = new Object();
                LocationAttr.BookLocationDataId = $.trim($(this).val());
                LocationAttr.BookLocationAttributeId = $.trim($(this).find('option:selected').attr('attrid'));
                TotalLocationAttrDataArray.push(LocationAttr);
            }
        });
            $("#ArrayLocationMasterAttr").val(JSON.stringify(TotalLocationAttrDataArray));
            BookModel.ArrayLocationMasterAttr = $("#ArrayLocationMasterAttr").val();

         //   $("#bookMaster-grid").data('kendoGrid').dataSource.page(1);
            $("#bookMaster-grid").data('kendoGrid').dataSource.read({ "model": BookModel });
        });



    $('#btnIssueBook').click(function () {
            $('#ks_loader').show();
            var BookInfolist = new Object();
            BookInfolist.BookMemberTypeId = $("#BookMemberTypeId").val();
            BookInfolist.IssuedToId = $("#IssuedToUser").val();
            BookInfolist.BookIdentityId = $("#BookCopies").val();
            BookInfolist.BookId = BookMainId;
            BookInfolist.TransactionDate = $("#TransactionDate").val();
            BookInfolist.ExpectedReturnDate = $("#ExpectedReturnDate").val();

            var valid = ValidateBookIssue();
            if (valid) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertBookTransactions", "Library"))',
                    data: BookInfolist,
                    success: function (result) {
                        if (result.status == "success") {
                            $('#BookIssueReturn_div').hide();
                            ClearIssueFilters();
                            //window.location.reload();

                            $("#bookMaster-grid").data('kendoGrid').dataSource.read();
                            $("#IssuedBook-grid").data('kendoGrid').dataSource.read();
                            ToastMessage(result.data, "success", true, 5000);
                        }
                        else {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                var validationaray = BookIssuevalidationmessage.split('ε');
                for (var i = 0; i < validationaray.length - 1; i++)
                    ToastMessage(validationaray[i], "error", true, 5000);

                $('#ks_loader').hide();
                return false;
            }
        });

    $('#btnReturnFine').click(function () {
            var Flag = false;
            $('#ks_loader').show();
            var BookInfolist = new Object();
            var row = $("#IssuedBook-grid").parent().parent();
            BookInfolist.BookTransactionId = BookTransactionId;
            BookInfolist.TransactionDate = $("#IssueDate-Div").html();
            BookInfolist.ExpectedReturnDate = $("#ExReturnDate-Div").html();
            BookInfolist.BookIdentityId = $("#hdnIdentityId").val();
            BookInfolist.ActualReturnDate = $("#ActualReturnDate").val();
            BookInfolist.BookMemberTypeId = $("#hdnMembertypeId").val();
            BookInfolist.IssuedToId = $("#hdnIssueToId").val();
            BookInfolist.PaidOn = $("#PaidOn").val();
            BookInfolist.IssuedBookRemarks = $("#issueBookRemarks").val();

            var total = 0;
            var paidAmount = 0;
            var isfine = 0;
            if ($("#PaidFine-Div").val() != "" && $("#PaidFine-Div").val() != null) {
                total = parseFloat($("#PaidFine-Div").val());
            }
            if ($("#PaidAmount").val() != "" && $("#PaidAmount").val() != null) {
                paidAmount = parseFloat($("#PaidAmount").val());
            }
            if ($("#Fine-Div").val() != "" && $("#Fine-Div").val() != null) {
                isfine = parseFloat($("#Fine-Div").val());
            }
            BookInfolist.PaidAmount = paidAmount;
            BookInfolist.Fine = isfine;
            if ($(".modal-footer").find('button#btnReturnFine').text() == "Pay Fine") {
                var updoldpaid=0;
                if($("#oldpaid").val()!=""&&$("#oldpaid").val()!=null){
                    updoldpaid=parseFloat($("#oldpaid").val());
                }
                newtotal=parseFloat(paidAmount+updoldpaid);
                //  BookInfolist.PendingFine = $("#hdnPendingFine").val();
                //  BookInfolist.PaidAmount = $("#hdnPaidFine").val();
                BookInfolist.PendingFine = paidAmount;

                var pendFine=total-updoldpaid;

                if (newtotal > total) {
                    Flag = true;
                    alert("Pay Amt. should not be greater than "+pendFine+" .");
                    $('#ks_loader').hide();
                    return false;
                }
                else if (paidAmount <= 0) {
                    Flag = true;
                    alert("Pay Amt. should not be less than or equal to Zero.");
                    $('#ks_loader').hide();
                    return false;
                }
                BookInfolist.PaidAmount = updoldpaid + paidAmount;
                ////alert messages for paying pending fines.
                //if ($("#PaidAmount").val() == "") {
                //    Flag = true;
                //    alert("Please enter amount in PaidAmount ");
                //    $('#ks_loader').hide();
                //    return false;
                //}
                //else if ($("#PaidAmount").val() != "") {
                //    //alert(parseInt($("#PaidAmount").val()));
                //    if (parseFloat($("#PaidAmount").val()) != parseFloat(BookInfolist.PendingFine)) {
                //        Flag = true;
                //        alert("Your Total fine is '" + $("#Fine-Div").val() + "' and you have to Pay pending money '"
                //                     + BookInfolist.PendingFine + "' not more or less than it.");
                //        $('#ks_loader').hide();
                //        return false;
                //    }
                //    if (parseInt($("#PaidAmount").val()) < 0) {
                //        Flag = true;
                //        alert("Pay Amount should not be less than zero.");
                //        $('#ks_loader').hide();
                //        return false;
                //    }
            }
            else if ($(".modal-footer").find('button#btnReturnFine').text() == "Return") {

                if (paidAmount > total) {
                        Flag = true;
                        alert("Pay Amount should not be greater than Total.");
                        $('#ks_loader').hide();
                        return false;
                    }
                else if (paidAmount < 0) {
                        Flag = true;
                        alert("Pay Amount should not be less than zero.");
                        $('#ks_loader').hide();
                        return false;
                    }
                }

            $('#ks_loader').hide();
            if (Flag == false) {
                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UpdateBookTransactions", "Library"))',
                    data: BookInfolist,
                    success: function (result) {
                        if (result.status == "success") {
                            $('#BookIssueReturn_div').hide();
                            if ($(".modal-footer").find('button#btnReturnFine').text() == "Pay Fine") {

                                $('#TransHistory-grid').data('kendoGrid').dataSource.read();
                            }
                            else {
                                $('#IssuedBook-grid').data('kendoGrid').dataSource.read();
                            }
                            //window.location.reload();
                            ToastMessage(result.data, "success", true, 5000);
                        }
                        else {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++)
                                ToastMessage(validationaray[i], "error", true, 5000);
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
        });
    $('#btnIsLostUpdate').click(function () {


                var Flag = false;
                $('#ks_loader').show();
                var BookInfolist = new Object();
                var row = $("#IssuedBook-grid").parent().parent();
                BookInfolist.BookTransactionId = BookTransactionId;
                BookInfolist.TransactionDate = $("#IssueDate-Div").html();
                BookInfolist.ExpectedReturnDate = $("#ExReturnDate-Div").html();
                BookInfolist.BookIdentityId = $("#hdnIdentityId").val();
                BookInfolist.ActualReturnDate = $("#ActualReturnDate").val();
                BookInfolist.BookMemberTypeId = $("#hdnMembertypeId").val();
                BookInfolist.IssuedToId = $("#hdnIssueToId").val();
                BookInfolist.IssuedBookRemarks = $("#issueBookRemarks").val();

                BookInfolist.PaidOn = $("#PaidOn").val();

                var total = 0, paidamt = 0, lostpnlty = 0, isfine = 0;
                if ($("#PaidFine-Div").val() != "" && $("#PaidFine-Div").val() != null) {
                    total = parseFloat($("#PaidFine-Div").val());
                }
                if ($("#PaidAmount").val() != "" && $("#PaidAmount").val() != null) {
                    paidamt = parseFloat($("#PaidAmount").val());
                }
                if ($("#bookPrice").val() != "" && $("#bookPrice").val() != null) {
                    lostpnlty = parseFloat($("#bookPrice").val());
                }
                if ($("#Fine-Div").val() != "" && $("#Fine-Div").val() != null) {
                    isfine = parseFloat($("#Fine-Div").val());
                }
                BookInfolist.PaidAmount = paidamt;
                BookInfolist.LostPenalty = lostpnlty;
                BookInfolist.Fine = isfine;
                if (BookTransactionId != "" && BookTransactionId != null) {
                    if (paidamt < 0) {
                        Flag = true;
                        alert("Pay Amount should not be less than zero.");
                        $('#ks_loader').hide();
                        return false;
                    }
                    else if (paidamt > total) {
                        Flag = true;
                        alert("Pay Amount should not be greater than Total.");
                        $('#ks_loader').hide();
                        return false;
                    }
                } else {
                    ToastMessage("Invalid Book Transaction", "error", true, 5000);
                    Flag = true;
                    $('#ks_loader').hide();
                    return false;
                }
                if (Flag == false) {
                    $('#ks_loader').show();
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("UpdateLostBook", "Library"))',
                        data: BookInfolist,
                        success: function (result) {
                            if (result.status == "success") {
                                $('#BookIssueReturn_div').hide();
                                //////// IsLost Functionality
                                $("#IsLost").prop('checked', false);
                                //   $("#Fine-Div").show();
                                //     $("#bookPrice").hide();
                                $("#bookPrice").val(0.00);
                                $("#priceError").hide();
                                $("#spnbookPrice").hide();
                                if ($(".modal-footer").find('button#btnReturnFine').text() == "Pay Fine") {

                                    $('#TransHistory-grid').data('kendoGrid').dataSource.read();
                                }
                                else {
                                    $('#IssuedBook-grid').data('kendoGrid').dataSource.read();
                                }
                                //window.location.reload();
                                ToastMessage(result.msg, "success", true, 5000);
                            }
                            else {
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    ToastMessage(validationaray[i], "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
            });
          var ReIssueBookMemberTypeId = "";
      var ReIssueIssueToId = "";
    $('#btnReturnReIssueFine').click(function () {
       var Flag = false;
            $('#ks_loader').show();
            var BookInfolist = new Object();
            var row = $("#IssuedBook-grid").parent().parent();
            BookInfolist.BookTransactionId = BookTransactionId;
            BookInfolist.TransactionDate = $("#IssueDate-Div").html();
            BookInfolist.ExpectedReturnDate = $("#ExReturnDate-Div").html();
            BookInfolist.BookIdentityId = $("#hdnIdentityId").val();
            BookInfolist.ActualReturnDate = $("#ActualReturnDate").val();
            BookInfolist.BookMemberTypeId = $("#hdnMembertypeId").val();
            BookInfolist.IssuedToId = $("#hdnIssueToId").val();
            BookInfolist.PaidOn = $("#PaidOn").val();
            BookInfolist.IssuedBookRemarks = $("#issueBookRemarks").val();

            var total = 0;
            var paidAmount = 0;
            var isfine = 0;
            if ($("#PaidFine-Div").val() != "" && $("#PaidFine-Div").val() != null) {
                total = parseFloat($("#PaidFine-Div").val());
            }
            if ($("#PaidAmount").val() != "" && $("#PaidAmount").val() != null) {
                paidAmount = parseFloat($("#PaidAmount").val());
            }
            if ($("#Fine-Div").val() != "" && $("#Fine-Div").val() != null) {
                isfine = parseFloat($("#Fine-Div").val());
            }
            BookInfolist.PaidAmount = paidAmount;
            BookInfolist.Fine = isfine;
            if ($(".modal-footer").find('button#btnReturnFine').text() == "Pay Fine") {
                var updoldpaid=0;
                if($("#oldpaid").val()!=""&&$("#oldpaid").val()!=null){
                    updoldpaid=parseFloat($("#oldpaid").val());
                }
                newtotal=parseFloat(paidAmount+updoldpaid);
                //  BookInfolist.PendingFine = $("#hdnPendingFine").val();
                //  BookInfolist.PaidAmount = $("#hdnPaidFine").val();
                BookInfolist.PendingFine = paidAmount;

                var pendFine=total-updoldpaid;

                if (newtotal > total) {
                    Flag = true;
                    alert("Pay Amt. should not be greater than "+pendFine+" .");
                    $('#ks_loader').hide();
                    return false;
                }
                else if (paidAmount <= 0) {
                    Flag = true;
                    alert("Pay Amt. should not be less than or equal to Zero.");
                    $('#ks_loader').hide();
                    return false;
                }
                BookInfolist.PaidAmount = updoldpaid + paidAmount;
                ////alert messages for paying pending fines.
                //if ($("#PaidAmount").val() == "") {
                //    Flag = true;
                //    alert("Please enter amount in PaidAmount ");
                //    $('#ks_loader').hide();
                //    return false;
                //}
                //else if ($("#PaidAmount").val() != "") {
                //    //alert(parseInt($("#PaidAmount").val()));
                //    if (parseFloat($("#PaidAmount").val()) != parseFloat(BookInfolist.PendingFine)) {
                //        Flag = true;
                //        alert("Your Total fine is '" + $("#Fine-Div").val() + "' and you have to Pay pending money '"
                //                     + BookInfolist.PendingFine + "' not more or less than it.");
                //        $('#ks_loader').hide();
                //        return false;
                //    }
                //    if (parseInt($("#PaidAmount").val()) < 0) {
                //        Flag = true;
                //        alert("Pay Amount should not be less than zero.");
                //        $('#ks_loader').hide();
                //        return false;
                //    }
            }
            else if ($(".modal-footer").find('button#btnReturnFine').text() == "Return") {

                if (paidAmount > total) {
                        Flag = true;
                        alert("Pay Amount should not be greater than Total.");
                        $('#ks_loader').hide();
                        return false;
                    }
                else if (paidAmount < 0) {
                        Flag = true;
                        alert("Pay Amount should not be less than zero.");
                        $('#ks_loader').hide();
                        return false;
                    }
                }

            $('#ks_loader').hide();
            if (Flag == false) {
                $('#ks_loader').show();
           //     BookInfolist.strIsReIssue = "true";
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UpdateBookTransactions", "Library"))',
                    data: BookInfolist,
                    success: function (result) {
                        if (result.status == "success") {
                        ReIssueBookMemberTypeId = result.BookMemberTypeReIssue;
                        ReIssueIssueToId = result.IssuedToIdReIssue;
                        var MinDateForReIssueTransAction = result.ReIssueDate;
                        var MaxDateForReIssueTransAction = result.MaxIssueDate;
                        $(".modal-body div#IssueBook_Div").find('#ExpectedReturnDate').val(MinDateForReIssueTransAction);
                        $('#BookIssueReturn_div').hide();
                      $('#IssuedBook-grid').data('kendoGrid').dataSource.read();
                         $('#ks_loader').hide();
                        if (BookIdForReIssue != "" && BookIdentityIdForReIssue != "") {
                            reIssueBookPopup();
                            function reIssueBookPopup() {
                                $('#ks_loader').show();
                                returning = false;
                                
                                $("#btnIsLostUpdate").hide();
                                $('#BookIssueReturn_div').show();
                                $('#IssuedToUser').siblings().find('span:nth(0)').parent().addClass('form-control');
                                $('#IssuedToUser').siblings().find('span:nth(1)').css('border', 'none');
                                $('#BookIssueReturn_div').find('#IssueReturnLabel').text(result.BookMaterialType);
                                $('#BookIssueReturn_div').find('legend').text(result.BookMaterialType);

                                $("#BookIssueReturn_div").show();
                                $("#IssueBook_Div").show();
                                $("#PaidFine_Div").hide();
                                $("#btnReturnFine").hide();
                                $("#btnReturnReIssueFine").hide();

                                $("#btnIssueBook").show();
                                $("#Return_Head").hide();
                                $("#TransactionDate").val(MinDateForReIssueTransAction);
                                //get min date according to issue date
                                mindate = GetDatMinString(kendo.toString($("#TransactionDate").val(), "dd/MM/yyyy"));
                                // function get date as string and return date
                                function GetDatMinString(date) {
                                    //alert(date);
                                    var datearry = date.split('/');
                                    var returnMinDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                                    return returnMinDate;
                                }
                                $(".modal-body div#IssueBook_Div").find('#ExpectedReturnDate').kendoDatePicker('min', mindate);

                                //get min date according to issue date
                                maxdate = GetDaMaxString(kendo.toString(MaxDateForReIssueTransAction, "dd/MM/yyyy"));
                                // function get date as string and return date
                                function GetDaMaxString(date) {
                                    //alert(date);
                                    var datearry = date.split('/');
                                    var returnMaxDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                                    return returnMaxDate;
                                }
                                $(".modal-body div#IssueBook_Div").find('#TransactionDate').kendoDatePicker('max', maxdate);
                             
                                $("#BookCopies").empty();
                                $.ajax({
                                    type: 'GET',
                                    url: '@Html.Raw(Url.Action("GetBookCopies", "Library"))',
                                    data: { "BookId": BookIdForReIssue },
                                    success: function (result) {
                                        $("#BookCopies").empty();
                                        var htmldrop = '<option Value="">--Select--</option>'
                                        $("#BookCopies").append(htmldrop);

                                        if (result.copies.length > 0) {
                                            $.each(result.copies, function (i) {
                                                var htmldrop = '<option Value="' + result.copies[i].Value + '">'
                                                    + result.copies[i].Text + '</option>';
                                                $("#BookCopies").append(htmldrop);
                                            });
                                        }
                                        $("#BookCopies").val(BookIdentityIdForReIssue);
                                        $("#BookMemberTypeId").val(ReIssueBookMemberTypeId);
                                        $("#BookMemberTypeId").attr("disabled", "disabled");
                                        $("#BookCopies").attr("disabled", "disabled");
                                        $("#BookMemberTypeId").trigger('change');

                                         if (ReIssueIssueToId != "") {
                                        $("#IssuedToUser").attr("disabled", "disabled");
                                               }
                                        $('#ks_loader').hide();
                                    },
                                    error: function (xhr, status, data) {
                                        var err = "Error " + " " + data;
                                        ToastMessage(err, "error", true, 5000);
                                        $('#ks_loader').hide();
                                    }
                                });
                            }
                        }
                       // var grid = $("#IssuedBook-grid").data("kendoGrid").dataSource.page(1);

                      ////  var 
                        //if ($(".issuedbookscount").length > 0) {
                        //    $("#BookIssueListModel").show();
                        //}
                        //window.location.reload();
                     //   ToastMessage(result.data, "success", true, 5000);
                    }
                    else {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++)
                            ToastMessage(validationaray[i], "error", true, 5000);
                         $('#ks_loader').hide();
                    }
                   
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }

    });

    $("#bkTrMemberTypeId").change(function () {
            $("#bkTrStaffId").val("").change();
            $("#bkTrClassId").val("").change();
            $("#intbkTrStudentId").val("").change();
            $("#intbkTrStudentId").html("");
            $('#AdmsnRegNo').val("");
            $(".bkstffltr").hide();
            $(".bkstdfltr").hide();
          
            if ($(this).val() == "staff") {
                $(".bkstffltr").show();
            }
            else if ($(this).val() == "student") {
                $(".bkstdfltr").show();
            }
    });

    $("#bkTrClassId").change(function () {

            var classid = $("#bkTrClassId").val();
            $("#intbkTrStudentId").val("").change();
            $("#intbkTrStudentId").html("");
            //   $("#intbkTrStudentId").val("").change();
            $('#AdmsnRegNo').val("");
            if (classid != "" && classid != null && classid > 0) {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetStudentList", "Library"))',
                    data: { "ClassId": classid },
                    success: function (result) {
                        $("#intbkTrStudentId").empty();
                        $.each(result.StudentList, function (value, data) {
                            $("#intbkTrStudentId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                        })
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
        });

        $("#intbkTrStudentId").change(function () {
            var classid = $("#bkTrClassId").val();
            var studentId = $("#intbkTrStudentId").val();
            if (studentId != "" && studentId != null) {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("GetRegNoByStudentId", "Transport"))',
                    data: { "studentId": studentId },
                    success: function (result) {
                        if (result.status == "success") {
                            $("#AdmsnRegNo").val(result.AdmnNo);
                            $('#ks_loader').hide();
                        }
                        else {
                            alert(result.status);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $("#AdmsnRegNo").val("");
            }
        });

        $('#AdmsnRegNo').blur(function () {
        $('#ks_loader').show();
        var admnno = $('#AdmsnRegNo').val();
        $('#bkTrClassId').val('').change();
        $('#intbkTrStudentId').html('');
        $("#intbkTrStudentId").append("<option value=''>--Select Student--</option>");
        $('#intbkTrStudentId').val('').change();
        if (admnno != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                async: false,
                url: '@Html.Raw(Url.Action("GetStudentClassByRegNo", "Transport"))',
                data: { "AdmnNo": admnno},
                success: function (result) {
                    if (result.status == "success") {
                        $('#intbkTrStudentId').html('');
                        if(result.Class>0){
                            $('#bkTrClassId').val(result.Class);
                            $('#bkTrClassId').trigger('change');
                            if(result.Student !=""&&result.Student!=null)
                                $('#intbkTrStudentId').val(result.Student).change();
                            $('#AdmsnRegNo').val(admnno)
                        }
                    }
                    else {
                        ToastMessage(result.status, "error", true, 5000);
                        $('#StudentId').html('');
                        $('#AdmsnRegNo').val('');
                        $('#AdmsnRegNo').focus();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        $('#ks_loader').hide();
    })

        $("#filterBookTransactionByStudent").click(function () {
            $("#bookMaster-grid").data("kendoGrid").dataSource.read();
        });

        //$("#resetBookTransactionByStudent").click(function () {
        //    $("#bkTrClassId").val("").change();
        //    $("#intbkTrStudentId").val("").change();
        //    $("#AdmsnRegNo").val("");
        //    $("#bkTrStaffId").val("");
        //    $("#bkTrAccessionNoLui").val("");
        //    $("#bookMaster-grid").data("kendoGrid").dataSource.read();
        //    $(".bkstffltr").hide();
        //    $(".bkstdfltr").hide();
        //});
        $("#resetBookTransactionByStudent").click(function () {
            $("#bkTrClassId").val("").change();
            $("#intbkTrStudentId").val("").change();
            $("#AdmsnRegNo").val("");
            $("#bkTrStaffId").val("");
            $("#bkTrAccessionNoLui").val("");
 			$(".bkstffltr").hide();
            $(".bkstdfltr").hide();
                 $("#attrTable tbody tr").each(function () {
                if ($(this).find('td input') || $(this).find('td select')) {
                    $(this).find('td input').val("");
                    $(this).find('td select').val("").change();
                }
            });
            //clear attrbute with main information
            $("#MainInfo tbody tr").each(function () {
                if ($(this).find('td input') || $(this).find('td select')) {
                    $(this).find('td input').val("");
                    $(this).find('td select').val("");
                }
            });
            $(".AdvancedLocationAttribute").each(function () {
                $(this).val("").select2();
            });
            $("#bookMaster-grid").data('kendoGrid').dataSource.read();
       });


        //Transaction Filters
        $("#bkTrHMemberTypeId").change(function () {
            $("#bkTrHStaffId").val("").change();
            $("#bkTrHClassId").val("").change();
            $("#intbkTrHStudentId").val("").change();
            $("#intbkTrHStudentId").html("");
            $('#AdmsnRegNoH').val("");
            $(".bkstfHfltr").hide();
            $(".bkstdHfltr").hide();

            if ($(this).val() == "staff") {
                $(".bkstfHfltr").show();
            }
            else if ($(this).val() == "student") {
                $(".bkstdHfltr").show();
            }
        });
     
        $('#AdmsnRegNoH').blur(function () {
            $('#ks_loader').show();
            var admnno = $('#AdmsnRegNoH').val();
            $('#bkTrHClassId').val('').change();
            $('#intbkTrHStudentId').html('');
            $("#intbkTrHStudentId").append("<option value=''>--Select Student--</option>");
            $('#intbkTrHStudentId').val('').change();
            if (admnno != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Get",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetStudentClassByRegNo", "Transport"))',
                    data: { "AdmnNo": admnno },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#intbkTrHStudentId').html('');
                            if (result.Class > 0) {
                                $('#bkTrHClassId').val(result.Class);
                                $('#bkTrHClassId').trigger('change');
                                if (result.Student != "" && result.Student != null)
                                    $('#intbkTrHStudentId').val(result.Student).change();
                                $('#AdmsnRegNoH').val(admnno)
                            }
                        }
                        else {
                            ToastMessage(result.status, "error", true, 5000);
                            //  $('#StudentId').html('');
                            $('#AdmsnRegNoH').val('');
                            $('#AdmsnRegNoH').focus();
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            $('#ks_loader').hide();
        });

        $("#filterBookTransactionHByStudent").click(function () {
            $("#TransHistory-grid").data("kendoGrid").dataSource.read();
        });

        $("#resetBookTransactionHByStudent").click(function () {
            $("#bkTrHMemberTypeId").val("");
            $("#bkTrHClassId").val("").change();
            $("#intbkTrHStudentId").val("").change();
            $("#AdmsnRegNoH").val("");
            $("#bkTrHStaffId").val("");
            $("#bkTrHStaffId").val("");
            $("#TransHistory-grid").data("kendoGrid").dataSource.read();
            $(".bkstfHfltr").hide();
            $(".bkstdHfltr").hide();
        });

        $("#intbkTrHStudentId").change(function () {
            var classid = $("#bkTrHClassId").val();
            var studentId = $("#intbkTrHStudentId").val();
            if (studentId != "" && studentId != null) {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("GetRegNoByStudentId", "Transport"))',
                    data: { "studentId": studentId },
                    success: function (result) {
                        if (result.status == "success") {
                            $("#AdmsnRegNo").val(result.AdmnNo);
                            $('#ks_loader').hide();
                        }
                        else {
                            alert(result.status);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $("#AdmsnRegNo").val("");
            }
        });

        $("#bkTrHClassId").change(function () {

            var classid = $("#bkTrHClassId").val();
            $("#intbkTrHStudentId").val("").change();
            $("#intbkTrHStudentId").html("");
            //   $("#intbkTrStudentId").val("").change();
            $('#AdmsnRegNoH').val("");
            var SessionId = $("#filtertranshistrySessionid").val();
            if (classid != "" && classid != null && classid > 0) {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetStudentList", "Library"))',
                    data: { "ClassId": classid ,"SessionId":SessionId},
                    success: function (result) {
                        $("#intbkTrHStudentId").empty();
                        $.each(result.StudentList, function (value, data) {
                            $("#intbkTrHStudentId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                        })
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
        });

        //IssuedFilter
    </script>

}

<script type="text/javascript">
    // Load the Google Transliterate API
    google.load("elements", "1", {
        packages: "transliteration"
    });
    function onLoad() {

        var Values = '@Model.DestinationLanguage';
        var LanguagesAbbr = Values.split(',');

           var options = {
           sourceLanguage: '@Model.DefaultLanguageAbbr',
           destinationLanguage: LanguagesAbbr,
           shortcutKey: 'ctrl+g',
           transliterationEnabled: false
        };

        // Create an instance on TransliterationControl with the required
        // options.
        var control =
            new google.elements.transliteration.TransliterationControl(options);

        // Enable transliteration in the textfields with the given ids.
        var ids = ["SearchText"];
        control.makeTransliteratable(ids);

        control.c.qc.t13n.c[3].c.d.keyup[0].ia.F.p = 'https://www.google.com';
        // Show the transliteration control which can be used to toggle between
        // English and Hindi and also choose other destination language.
        control.showControl('translControl');
    }
    google.setOnLoadCallback(onLoad);


    $("#btnexportexcel_TransactioHistory").click(function () {
           $('#ks_loader').show();
            var grid = $("#TransHistory-grid").data("kendoGrid");
            //grid.hideColumn("Action");
        grid.showColumn("IssuedBookRemarks");
        grid.showColumn("PaidOn");
        
            grid.saveAsExcel();
            setTimeout(function(){
               // grid.showColumn("Action");
                grid.hideColumn("IssuedBookRemarks");
                 grid.hideColumn("PaidOn");
                $('#ks_loader').hide();
            },5000);
    })
    $("#btnexportexcel_Issued").click(function () {
          $('#ks_loader').show();
            var grid = $("#IssuedBook-grid").data("kendoGrid");
          grid.hideColumn("Action");
            grid.saveAsExcel();
            setTimeout(function(){
                grid.showColumn("Action");
                $('#ks_loader').hide();
            },5000);
    })
</script>
<script>
    //IssuedFilter
    $("#bkIsMemberTypeId").change(function () {
            $("#bkIsStaffId").val("").change();
            $("#bkIsClassId").val("").change();
            $("#intbkIsStudentId").val("").change();
            $("#intbkIsStudentId").html("");
            $('#AdmsnRegNoIs').val("");
            $(".bkstfIs").hide();
            $(".bkstdIs").hide();

            if ($(this).val() == "staff") {
                $(".bkstfIs").show();
            }
            else if ($(this).val() == "student") {
                $(".bkstdIs").show();
            }
        });
     
        $('#AdmsnRegNoIs').blur(function () {
            $('#ks_loader').show();
            var admnno = $('#AdmsnRegNoIs').val();
            $('#bkIsClassId').val('').change();
            $('#intbkIsStudentId').html('');
            $("#intbkIsStudentId").append("<option value=''>--Select Student--</option>");
            $('#intbkIsStudentId').val('').change();
            if (admnno != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Get",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetStudentClassByRegNo", "Transport"))',
                    data: { "AdmnNo": admnno },
                    success: function (result) {
                        if (result.status == "success") {
                            $('#intbkIsStudentId').html('');
                            if (result.Class > 0) {
                                $('#bkIsClassId').val(result.Class);
                                $('#bkIsClassId').trigger('change');
                                if (result.Student != "" && result.Student != null)
                                    $('#intbkIsStudentId').val(result.Student).change();
                                $('#AdmsnRegNoIs').val(admnno)
                            }
                        }
                        else {
                            ToastMessage(result.status, "error", true, 5000);
                            //  $('#StudentId').html('');
                            $('#AdmsnRegNoIs').val('');
                            $('#AdmsnRegNoIs').focus();
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            $('#ks_loader').hide();
        });

        $("#filterIssuedByStudent").click(function () {
            $("#IssuedBook-grid").data("kendoGrid").dataSource.read();
        });

        $("#resetBookIssuedByStudent").click(function () {
            $("#bkIsMemberTypeId").val("");
            $("#bkIsClassId").val("").change();
            $("#intbkIsStudentId").val("").change();
            $("#AdmsnRegNoIs").val("");
            $("#bkIsStaffId").val("").change();
            $("#IssuedBook-grid").data("kendoGrid").dataSource.read();
            $(".bkstfIs").hide();
            $(".bkstdIs").hide();
        });

        $("#intbkIsStudentId").change(function () {
            var classid = $("#bkIsClassId").val();
            var studentId = $("#intbkIsStudentId").val();
            if (studentId != "" && studentId != null) {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '@Html.Raw(Url.Action("GetRegNoByStudentId", "Transport"))',
                    data: { "studentId": studentId },
                    success: function (result) {
                        if (result.status == "success") {
                            $("#AdmsnRegNoIs").val(result.AdmnNo);
                            $('#ks_loader').hide();
                        }
                        else {
                            alert(result.status);
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
            else {
                $("#AdmsnRegNoIs").val("");
            }
        });

        $("#bkIsClassId").change(function () {

            var classid = $("#bkIsClassId").val();
            $("#intbkIsStudentId").val("").change();
            $("#intbkIsStudentId").html("");
            //   $("#intbkTrStudentId").val("").change();
            $('#AdmsnRegNoIs').val("");
            if (classid != "" && classid != null && classid > 0) {
                $('#ks_loader').show();
                $.ajax({
                    type: "GET",
                    async: false,
                    url: '@Html.Raw(Url.Action("GetIssuedStudentList", "Library"))',
                    data: { "ClassId": classid },
                    success: function (result) {
                        $("#intbkIsStudentId").empty();
                        $.each(result.StudentList, function (value, data) {
                            $("#intbkIsStudentId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                        })
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        $('#ks_loader').hide();
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                    }
                });
            }
        });
</script>