﻿@model ViewModel.ViewModel.GatePass.GatePassModel

@Html.HiddenFor(p => p.Purpose)
@Html.HiddenFor(p => p.NoOfPersons)
@Html.HiddenFor(p => p.PassDetails)
@Html.HiddenFor(p => p.ConcernedStaffId)
@Html.HiddenFor(p => p.VehicleTypeId)
@Html.HiddenFor(p => p.VehicleNo)
@Html.HiddenFor(p => p.ContactNo)
@*//@Html.HiddenFor(p => p.SessionId, new { @id = "hdnSessionId" })*@

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Pass Type <i class="fa fa-asterisk ks-required"></i></label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.GatePassTypeId, Model.GatePassTypeList,
                                      new { @class = "form-control", @style = "width: 100%" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.GatePassTypeId)
            </div>
        </div>
    </div>


    <div class="col-md-3">

        <div class="form-group">
            <label class="col-md-4 control-label">Issue Date <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.IssueDate, new { @class = "form-control" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.IssueDate)
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Serial No.</label><!-- Form Label -->
            <div class="col-md-8">
                @if (Model.EnableSerialNo)
                {
                    @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control",@readonly = "true" })
                }
                
            </div>
        </div>
    </div>

    <div class="col-md-3" id="intime_div" hidden>
        <div class="form-group">
            <label class="col-md-4 control-label">In Time <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.InTime, new { @class = "form-control" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.InTime)
            </div>
        </div>
    </div>

    <div class="col-md-3" id="outtime_div" hidden>
        <div class="form-group">
            <label class="col-md-4 control-label">Out Time <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.OutTime, new { @class = "form-control" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.OutTime)
            </div>
        </div>
    </div>

    <div class="col-md-3" id="goingalone_div" hidden>
        <div class="form-group">
            <label class="col-md-4 control-label">Going Alone</label>
            <div class="col-md-8">
                <input type="checkbox" id="goingalonecheck" />
            </div>
        </div>
    </div>

    <div class="col-md-3" id="returnable_div" hidden>
        <div class="form-group">
            <label class="col-md-4 control-label">Returnable</label>
            <div class="col-md-8">
                @Html.CheckBoxFor(p => p.IsReturnable, new { @id = "returnablecheck" })
            </div>
        </div>
    </div>

    <div class="col-md-3" id="guardiannumber_div" hidden>
        <div class="form-group">
            <label class="col-md-4 control-label">No Of Persons <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.NoOfPersons, new { @class = "form-control", @id = "guardiannumbers" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.NoOfPersons)
            </div>
        </div>
    </div>

    <div class="col-md-3" id="visitornumber_div" hidden>
        <div class="form-group">
            <label class="col-md-4 control-label">No Of Persons <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.NoOfPersons, new { @class = "form-control", @id = "visitornumbers" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.NoOfPersons)
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row" id="student_div" hidden>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Session<i class="fa fa-asterisk ks-required"></i></label>
            <div class="col-md-8">
                @Html.DropDownListFor(p => p.SessionId, Model.SessionList, new { @class = "form-control", @style = "width: 150px;" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Admission No</label>
            <div class="col-md-8">
                @Html.TextBoxFor(p => p.AdmissionNo)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Class</label>
            <div class="col-md-8">
                @Html.DropDownListFor(p => p.ClassId, Model.ClassList, new { @class = "form-control", @style = "width: 100%" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Student <i class="fa fa-asterisk ks-required"></i></label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.StudentId, Model.StudentList, new { @class = "form-control js-example-templating", @style = "width: 100%" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>
    </div>
    <div class="col-md-3" id="studentimage_div" hidden>
        <div class="form-group">
            <div class="col-md-8">
                <img src="" id="student-imagepath" height="42" width="42" style="margin-left: 80px;">
            </div><!-- Form Field -->
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Permitted By</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ConcernedStaffId, Model.ConcernedStaffList, new { @class = "form-control js-example-templating", @style = "width: 100%", @id = "studentconcern" })
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-right: -1px;">
            <div class="form-group">
                <label class="col-md-4 control-label">Visitor Contact No.</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", @id = "StudentContact" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Purpose <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Purpose, new { @class = "form-control", @id = "studentpurpose", @maxlength = "150", @style = "width:250px" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.Purpose)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="visitor_div" hidden>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Contact Person</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.ConcernedStaffId, Model.ConcernedStaffList, new { @class = "form-control js-example-templating", @style = "width: 100%", @id = "visitorconcern" })
            </div>
        </div>
    </div>
    <div class="col-md-3" style="margin-right: -1px;">
        <div class="form-group">
            <label class="col-md-4 control-label">Visitor Contact No.</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", @id = "visitorcontact" })
            </div>
        </div>
    </div>

    @if (Model.IsIdProofOn)
    {
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Id Proof</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.VisitorIdProof, new { @class = "form-control" })
                </div>
            </div>
        </div>
    }
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-2 control-label">Purpose <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Purpose, new { @class = "form-control", @id = "visitorpurpose", @maxlength = "150" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.Purpose)
            </div>
        </div>
    </div>
    @if (Model.IsVisitorInfoOn)
    {
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Vehicle Type</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.VehicleTypeId, Model.VehicleTypeList, new { @class = "form-control", @style = "width: 100%", @id = "visitorvehicletype" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Vehicle No</label><!-- Form Label -->
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.VehicleNo, new { @class = "form-control", @id = "visitorvehicleno" })
                </div>
            </div>
        </div>
    }
</div>

<div class="row" id="staff_div" hidden>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Staff <i class="fa fa-asterisk ks-required"></i></label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.StaffId, Model.StaffList, new { @class = "form-control js-example-templating", @style = "width: 100%" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.StaffId)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Permitted By<i class="fa fa-asterisk ks-required"></i></label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.ConcernedStaffId, Model.ConcernedStaffList, new { @class = "form-control js-example-templating", @style = "width: 100%", @id = "staffconcern" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Visitor Contact No.</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", @id = "staffcontact" })
            </div>
        </div>
    </div>
    <div class="col-md-3" id="staffimage_div" hidden>
        <div class="form-group">
            <div class="col-md-8">
                <img src="" id="staff-imagepath" height="42" width="42">
            </div><!-- Form Field -->
        </div>
    </div>
    <div class="col-md-6" style="margin-left: 1px;">
        <div class="form-group">
            <label class="col-md-2 control-label">Purpose <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Purpose, new { @class = "form-control", @id = "staffpurpose", @maxlength = "150" })
            </div>
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.Purpose)
            </div>
        </div>
    </div>
</div>

<div class="row" id="Guardian_div" hidden>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Session<i class="fa fa-asterisk ks-required"></i></label>
                <div class="col-md-8">
                    @Html.DropDownListFor(p => p.SessionId, Model.SessionList, new { @class = "form-control", @style = "width: 150px;",@id="GurdSessionId" })
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Admission No</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(p => p.AdmissionNo, new { @class = "form-control", @style = "width: 100%", @id = "guardianadmn" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Class</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(p => p.ClassId, Model.ClassList, new { @class = "form-control", @style = "width: 100%", @id = "guardianclass" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Student <i class="fa fa-asterisk ks-required"></i></label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.StudentId, Model.StudentList, new { @class = "form-control js-example-templating", @style = "width: 100%", @id = "guardianstudent" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.StudentId)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Concern Staff</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ConcernedStaffId, Model.ConcernedStaffList, new { @class = "form-control js-example-templating", @style = "width: 100%", @id = "guardianconcern" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-2 control-label">Purpose <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Purpose, new { @class = "form-control", @id = "guardianpurpose", @maxlength = "150" })
                </div>
                <div class="error-message" style="display:none">
                    <i class="fa fa-exclamation-triangle"></i>
                    @Html.ValidationMessageFor(model => model.Purpose)
                </div>
            </div>
        </div>
        <div class="col-md-3" id="guardianimage_div" hidden style="margin-left:1px;">
            <div class="form-group">
                <div class="col-md-8">
                    <img src="" id="guardianstudent-imagepath" height="42" width="42" style="margin-left:80px;">
                </div><!-- Form Field -->
            </div>
        </div>
    </div>
</div>
