﻿@model ViewModel.ViewModel.GatePass.GatePassModel

<div class="modal fade in" id="myImage" role="dialog" style="display: none;">
    <div class="modal-dialog modal-sm" style="width:30%;height:30%">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div id="imgaddr">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeImage" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


    <!DOCTYPE html>
    <html>

    <head>
        <style>
            @if (Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)).Count() > 2)
            {
                <text>
                th,
            td {
            padding: 1px;}
            </text>
            }
            @if (Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)).Count() <= 2)
            {
                <text>
                th,
            td {
            padding: 2px;}
            </text>
            }

            .border {
                border-bottom: 0.5px solid #000;
                border-collapse: collapse;
            }

            .acc_person {
            width: 20%;
                text-align: left;
            }

            .t_wrap {
            width: 20em;
                word-wrap: break-word;
            padding: 0px;
            margin: 0;
            }
        </style>
    </head>

    <body class="row" >
        <div id="print_div">
            @for (int j = 0; j < (Model.DetailList.Count / 6)+1 ; j++)
                        {
                            var skipcount = 6 * j;

                            for (int i = 0; i < Model.PrintGateSettingsNoofCopiesonSinglepage; i++)
                            {
                    <text>
                                    @{
                                        var count = Model.PrintGateSettingsNoofCopiesonSinglepage;

                                        var widthheightimg = "113px";
                                        var fontsize = "16px";
                                        var fontsizeschoolname = "24px";
                                        var widthheightimgtd = "115px";
                                        var widthheightimgalone = "55px";
                                        var Schoollogowidth = "80px";
                                        var lineheight = "26px";

                                        var heightt = 509;
                                        if (count > 2)
                                        {
                                            heightt = 336;
                                        }
                                        var height = heightt + "px";
                                        var tableimgheightwidth = 70;
                                        if (Model.DetailList.Count() > 0)
                                        {
                                            tableimgheightwidth = 70 / Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)).Count();
                                        }

                                        if (count <=2 )
                                        {
                                            widthheightimg = "55px";
                                            fontsize = "13px";
                                            fontsizeschoolname = "18px";
                                            widthheightimgtd = "55px";
                                            widthheightimgalone = tableimgheightwidth + "px";
                                            Schoollogowidth = "60px";
                                            lineheight = "19px";
                                        }
                                        if (count >2 )
                                        {
                                            widthheightimg = "55px";
                                            fontsize = "10px";
                                            fontsizeschoolname = "14px";
                                            widthheightimgtd = "55px";
                                            widthheightimgalone = tableimgheightwidth + "px";
                                            Schoollogowidth = "60px";
                                            lineheight = "19px";
                                        }
                                        if (Model.DetailList.Count() <= 2 && count <=2)
                                        {
                                              widthheightimg = "101px";
                                         fontsize = "16px";
                                         fontsizeschoolname = "22px";
                                         widthheightimgtd = "101px";
                                         widthheightimgalone = "55px";
                                         Schoollogowidth = "80px";
                                         lineheight = "25px";
                                        }
                                        //else
                                        //{
                                        //    widthheightimg = "113px";
                                        //    fontsize = "16px";
                                        //    fontsizeschoolname = "24px";
                                        //    widthheightimgtd = "115px";
                                        //    widthheightimgalone = "55px";
                                        //    Schoollogowidth="80px";
                                        //    lineheight = "26px";
                                        //}
                                    }
                    </text>
                    <div style="height:@height;border: 0.5px solid black;">
                        <table style="height:@height;  width:100%; font-size: @fontsize;">

                            <tr>
                                <td style="line-height: @lineheight;text-align:center;" colspan="3">
                                    <div style="padding-right: 0px !important;padding-left: 0px !important;position:absolute">
                                        <img src="@Model.Schoollogo" style="width: @Schoollogowidth; float:left;">
                                    </div>
                                    <div style="padding-right: 0px !important;padding-left: 0px !important;" align="center">
                                        <b>
                                            @Model.GatePassTypeId<br><span style="font-size: @fontsizeschoolname;">@Model.SchoolName</span>
                                            @if (Model.IsShowAddress)
                                                        {
                                                <br /><span style="">@Model.SchoolAddress</span>
                                            }
                                        </b>
                                    </div>

                                </td>
                            </tr>

                            <tr>
                                <td style="width: 33.33%;">

                                    <div style="padding-right: 0px !important;padding-left: 0px !important;">Serial No.: @Model.SerialNo</div>
                                </td>
                                <td style="width: 33.33%;">
                                    <div style="padding-right: 0px !important;padding-left: 0px !important;" align="center"><b> Date: @Model.IssueDate</b></div>
                                </td>
                                <td style="width: 33.33%;">
                                    <div style="padding-right: 0px !important;padding-left: 0px !important; text-align: right;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;    &nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </td>


                            </tr>
                            <tr>
                                <td style="width: 33.33%;"></td>
                                <td style="width: 33.33%;"></td>
                                <td style="width: 33.33%;">
                                    <div style="padding-right: 0px !important;padding-left: 0px !important; text-align: right;"><b>@(!string.IsNullOrEmpty(Model.OutTime) && !string.IsNullOrWhiteSpace(Model.OutTime) ? "Time Out: " + Model.OutTime : "")    @(!string.IsNullOrEmpty(Model.InTime) && !string.IsNullOrWhiteSpace(Model.InTime) ? "Time In: " + Model.InTime : "")</b></div>

                                </td>


                            </tr>
                            <tr>
                                <td colspan="3" class="border"></td>

                            </tr>

                            <tr>
                                @if (Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)).Count() > 0)
                                {
                                    var loopcount = 0;

                                    <td valign="top" colspan="3">

                                        <table style="width: 100%;padding: 0px;margin: 0px;right: 0px;">
                                            <tbody valign="top">
                                                <tr>

                                                    <td class="img-thumbal" style="margin:0px;width:@widthheightimgtd !important;height:@widthheightimgtd!important;">
                                                        <img class="img-responsive" style="width:@widthheightimg;height: @widthheightimg;"
                                                             src="@Model.ImageUrl">
                                                    </td>


                                                    <td>
                                                        <p class="t_wrap">
                                                            @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                            {
                                                            <b>Name:  @Model.StudentId</b><br>
                                                                <b>Mobile No.: </b> @Model.MobileNo<br>
                                                            }
                @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                                            {
                                                        <b>Name:  @Model.StaffId</b><br>
                                                                <b>Designation: </b> @Model.Designation<br>
            }
            @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                            {
                                                                <b>Parent: </b> @Model.ParentName<br>
                                                            }
                                                            <b>Purpose: </b>@Model.Purpose
                                                        </p>
                                                    </td>


                                                    <td>
                                                        <p class="t_wrap">
                                                            @if (!string.IsNullOrEmpty(Model.AdmissionNo))
            {
                                                            <b>Adm No: @Model.AdmissionNo</b><br>
                                                            }
            @if (!string.IsNullOrEmpty(Model.ClassId))
            {
                                                        <b>Class: @Model.ClassId</b><br>
                                                            }

            @if (Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                            {
                                                                <b>Contact No: </b> @Model.GuardianMobileNo<br>
                                                            }
                                                            else if (!string.IsNullOrEmpty(Model.ContactNo))
                                                            {
                                                                <b>Contact No: </b> @Model.ContactNo<br>
                                                            }
                                                            @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                                            {
                                                                <b>Department: </b> @Model.Department<br>
                                                            }
                                                            @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                            {
                                                                <b>Roll No: </b> @Model.RollNo<br>
                                                                // <b>Session: </b> @Model.Session
                                                            }
                                                        </p>
                                                    </td>


                                                    @foreach (var item in Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)))
                                                    {
                                                        if (loopcount < 2)
                                                        {
                                                            <td class="img-thumbal" style="margin:0px;width:@widthheightimgtd !important;height:@widthheightimgtd!important;">
                                                                <img class="img-responsive" style="width:@widthheightimg;height: @widthheightimg;"
                                                                     src="@item.Image">
                                                            </td>

                                                            loopcount++;
                                                        }
                                                    }

                                                </tr>
                                            </tbody>
                                        </table>
                                        @*<div class="" style="display: flex;position:absolute;width:100%">
                                        <span class="img-thumbal" style="margin:0px;width:115px !important;height:115px!important;position:absolute">
                                            <img class="img-responsive" style="width:113px;height: 113px;"
                                                 src="@Model.ImageUrl">
                                        </span>
                                        @foreach (var item in Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)))
                                        {
                                            if (loopcount < 2)
                                            {
                                                <span class="img-thumbal" style="margin:0px;width:115px !important;height:115px!important;position:absolute;right:0px" >
                                                    <img class="img-responsive" style="width:113px;height: 113px;"
                                                         src="@item.Image">
                                                </span>

                                                loopcount++;
                                            }
                                        }
                                    </div>*@
                                        @*<div style="margin: 0px 0px 0px 15px;"width="50%">
                                        <span>
                                            @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                            {
                                                <b>Name: </b> @Model.StudentId<br>
                                                <b>Mobile No.: </b> @Model.MobileNo<br>
                                            }
                                            @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                            {
                                                <b>Name: </b> @Model.StaffId<br>
                                                <b>Designation: </b> @Model.Designation<br>
                                            }
                                            @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                            {
                                                <b>Parent: </b> @Model.ParentName<br>
                                            }
                                            <p class="t_wrap"> <b>Purpose: </b>@Model.Purpose</p>
                                        </span>
                                    </div>
                                    <div valign="top" align="left" width="50%">
                                        <span>
                                            @if (!string.IsNullOrEmpty(Model.AdmissionNo))
                                            {
                                                <b>Adm No: </b>@Model.AdmissionNo<br>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.ClassId))
                                            {
                                                <b>Class: </b>@Model.ClassId<br>
                                            }

                                            @if (Model.GatePassTypeId.ToLower().Contains("guardian"))
                                            {
                                                <b>Contact No: </b> @Model.GuardianMobileNo<br>
                                            }
                                            else if (!string.IsNullOrEmpty(Model.ContactNo))
                                            {
                                                <b>Contact No: </b> @Model.ContactNo<br>
                                            }
                                            @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                            {
                                                <b>Department: </b> @Model.Department<br>
                                            }
                                            @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                            {
                                                <b>Roll No: </b> @Model.RollNo<br>
                                                <b>Session: </b> @Model.Session
                                            }
                                        </span>

                                    </div>*@
                                        @*<div class=" profile-img" style="display: flex;float:right;position:absolute">
                                        @foreach (var item in Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)))
                                        {
                                            if (loopcount < 2)
                                            {
                                                <span class="img-thumbal" style="margin:0px 8px;width:115px !important;height:115px!important">
                                                    <img class="img-responsive" style="width:113px;height: 113px;"
                                                         src="@item.Image">
                                                </span>

                                                loopcount++;
                                            }
                                        }
                                    </div>*@
                                    </td>

                                    @*<td colspan="1" valign="top">
                                    <div class=" profile-img" style="display: flex;float:right">
                                        @foreach (var item in Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)))
                                        {
                                            if (loopcount < 2)
                                            {
                                                <div class="img-thumbal" style="margin:0px 8px;width:115px !important;height:115px!important">
                                                    <img class="img-responsive" style="width:113px;height: 113px;"
                                                         src="@item.Image">
                                                </div>

                                                loopcount++;
                                            }
                                        }
                                    </div>
                                </td>*@
                                }
                                else
                                {
                                    <td colspan="2" valign="top">
                                        <div class=" profile-img" style="display: flex;">
                                            <div class="img-thumbal" style="margin:0px;width:115px !important;height:115px!important">
                                                <img class="img-responsive" style="width:@widthheightimg;height: @widthheightimg;"
                                                     src="@Model.ImageUrl">
                                            </div>
                                            <div style="margin: 0px 0px 0px 15px;">
                                                <span>
                                                    @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                    {
                                                    <b>Name: @Model.StudentId </b><br>
                                                        <b>Mobile No.: </b> @Model.MobileNo<br>
                                                    }
                                                    @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                                    {
                                                <b>Name:  @Model.StaffId</b><br>
                                                        <b>Designation: </b> @Model.Designation<br>
                                                    }
                                                    @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                    {
                                                        <b>Parent: </b> @Model.ParentName<br>
                                                    }
                                                    <p class="t_wrap"> <b>Purpose: </b>@Model.Purpose</p>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="1" valign="top" align="left" width="230">

                                        @if (!string.IsNullOrEmpty(Model.AdmissionNo))
                                        {
                                        <b>Adm No: @Model.AdmissionNo</b><br>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.ClassId))
                                        {
                                    <b>Class: @Model.ClassId</b><br>
                                        }

                                        @if (Model.GatePassTypeId.ToLower().Contains("guardian"))
                                        {
                                            <b>Contact No: </b> @Model.GuardianMobileNo<br>
                                        }
                                        else if (!string.IsNullOrEmpty(Model.ContactNo))
                                        {
                                            <b>Contact No: </b> @Model.ContactNo<br>
                                        }
                                        @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                        {
                                            <b>Department: </b> @Model.Department<br>
                                        }
                                        @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                        {
                                            <b>Roll No: </b> @Model.RollNo<br>
                                            <b>Session: </b> @Model.Session
                                        }

                                    </td>
                                }
                                @*@if (Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)).Count() > 0)
                            {
                                var loopcount = 0;
                                <td colspan="1" valign="top">
                                    <div class=" profile-img" style="display: flex;">
                                        <div class="img-thumbal" style="margin:0px;width:115px !important;height:115px!important">
                                            <img class="img-responsive" style="width:113px;height: 113px;"
                                                 src="@Model.ImageUrl">
                                        </div>
                                        <div style="margin: 0px 0px 0px 15px;">
                                            <span>
                                                @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                {
                                                    <b>Name: </b> @Model.StudentId<br>
                                                    <b>Mobile No.: </b> @Model.MobileNo<br>
                                                }
                                                @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                                {
                                                    <b>Name: </b> @Model.StaffId<br>
                                                    <b>Designation: </b> @Model.Designation<br>
                                                }
                                                @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                {
                                                    <b>Parent: </b> @Model.ParentName<br>
                                                }
                                                <p class="t_wrap"> <b>Purpose: </b>@Model.Purpose</p>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="1" valign="top" align="left" width="230">

                                    @if (!string.IsNullOrEmpty(Model.AdmissionNo))
                                    {
                                        <b>Adm No: </b>@Model.AdmissionNo<br>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.ClassId))
                                    {
                                        <b>Class: </b>@Model.ClassId<br>
                                    }

                                    @if (Model.GatePassTypeId.ToLower().Contains("guardian"))
                                    {
                                        <b>Contact No: </b> @Model.GuardianMobileNo<br>
                                    }
                                    else if (!string.IsNullOrEmpty(Model.ContactNo))
                                    {
                                        <b>Contact No: </b> @Model.ContactNo<br>
                                    }
                                    @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                    {
                                        <b>Department: </b> @Model.Department<br>
                                    }
                                    @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                    {
                                        <b>Roll No: </b> @Model.RollNo<br>
                                        <b>Session: </b> @Model.Session
                                    }

                                </td>
                                <td colspan="1" valign="top">
                                    <div class=" profile-img" style="display: flex;float:right">
                                        @foreach (var item in Model.DetailList.Where(f => !string.IsNullOrEmpty(f.Image)))
                                        {
                                            if (loopcount < 2)
                                            {
                                                <div class="img-thumbal" style="margin:0px 8px;width:115px !important;height:115px!important">
                                                    <img class="img-responsive" style="width:113px;height: 113px;"
                                                         src="@item.Image">
                                                </div>

                                                loopcount++;
                                            }
                                        }
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td colspan="2" valign="top">
                                    <div class=" profile-img" style="display: flex;">
                                        <div class="img-thumbal" style="margin:0px;width:115px !important;height:115px!important">
                                            <img class="img-responsive" style="width:113px;height: 113px;"
                                                 src="@Model.ImageUrl">
                                        </div>
                                        <div style="margin: 0px 0px 0px 15px;">
                                            <span>
                                                @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                {
                                                    <b>Name: </b> @Model.StudentId<br>
                                                    <b>Mobile No.: </b> @Model.MobileNo<br>
                                                }
                                                @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                                {
                                                    <b>Name: </b> @Model.StaffId<br>
                                                    <b>Designation: </b> @Model.Designation<br>
                                                }
                                                @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                                {
                                                    <b>Parent: </b> @Model.ParentName<br>
                                                }
                                                <p class="t_wrap"> <b>Purpose: </b>@Model.Purpose</p>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="1" valign="top" align="left" width="230">

                                    @if (!string.IsNullOrEmpty(Model.AdmissionNo))
                                    {
                                        <b>Adm No: </b>@Model.AdmissionNo<br>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.ClassId))
                                    {
                                        <b>Class: </b>@Model.ClassId<br>
                                    }

                                    @if (Model.GatePassTypeId.ToLower().Contains("guardian"))
                                    {
                                        <b>Contact No: </b> @Model.GuardianMobileNo<br>
                                    }
                                    else if (!string.IsNullOrEmpty(Model.ContactNo))
                                    {
                                        <b>Contact No: </b> @Model.ContactNo<br>
                                    }
                                    @if (Model.GatePassTypeId.ToLower().Contains("staff"))
                                    {
                                        <b>Department: </b> @Model.Department<br>
                                    }
                                    @if (Model.GatePassTypeId.ToLower().Contains("student") || Model.GatePassTypeId.ToLower().Contains("guardian"))
                                    {
                                        <b>Roll No: </b> @Model.RollNo<br>
                                        <b>Session: </b> @Model.Session
                                    }

                                </td>
                            }*@
                            </tr>

                            <tr>
                                <td colspan="3" class="border"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    @if (!string.IsNullOrEmpty(Model.NoOfPersons))
                                    {
                                        <b>Accompanied Person:</b>@Model.NoOfPersons
                                    }
                                </td>
                            </tr>
                            @if (Model.DetailList.Skip(skipcount).Take(6).Count() > 0)
                            {
                                <tr>
                                    <td colspan="3">
                                        <table border="1" cellspacing="0" style=" width:100%; font-size: @fontsize;">
                                            @{ var itemno = 1;}
                                            @foreach (var item in Model.DetailList.Skip(skipcount).Take(6).ToList())
                                            {
                                           
                                                if (itemno == 1)
                                                {
                                            <tr>
                                                @*@if (@item.CardId != null && @item.CardId != "")
                                                    {
                                                        <th>Card No.</th>}*@

                                                @if (Model.IsAnyVisitorCardId == true)
                                                {
                                                    <th>Card No.</th>
                                                }
                                                <th>Person Name</th>
                                                @if (!Model.GatePassTypeId.ToLower().Contains("staff") && !Model.GatePassTypeId.ToLower().Contains("visitor"))
                                                {
                                                    <th>Relation</th>
                                                }
                                                <th>Address</th>
                                                <th>City</th>
                                                @if (Model.IsShowPic)
                                                {
                                                    <th>Image</th>
                                                }
                                            </tr>}
                                                itemno++;
                                        <tr>
                                            @*@if (@item.CardId != null && @item.CardId != "")
                                                {
                                                    <td>@item.CardId</td>}*@

                                            @if (Model.IsAnyVisitorCardId == true)
                                            {
                                                <td>@item.CardId</td>}

                                            <td>@item.PersonName</td>
                                            @if (!Model.GatePassTypeId.ToLower().Contains("staff") && !Model.GatePassTypeId.ToLower().Contains("visitor"))
                                            {
                                                <td>@item.Relation</td>
                                            }
                                            <td>@item.Address</td>
                                            <td>@item.City</td>
                                            @if (Model.IsShowPic)
                                            {
                                                <td><img src="@item.Image" class="img forLargeSize" height="@widthheightimgalone" width="@widthheightimgalone"></td>
                                            }
                                        </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            }
                            <tr>

                                <td style="width: 33.33%; text-align: left;" colspan="2">
                                    @if (@Model.GatePassTypeId.Split(' ')[0] == "Student")
                                    {
                                        if (!string.IsNullOrEmpty(Model.RouteNo) || !string.IsNullOrEmpty(Model.RouteNo) || !string.IsNullOrEmpty(Model.BusNo))
                                        {<b>Transport:</b>
                                            if (!string.IsNullOrEmpty(Model.RouteNo))
                                            {
                                                @Model.RouteNo<text> -&nbsp;</text>
                                            }
                                            if (!string.IsNullOrEmpty(Model.DropPoint))
                                            {
                                                @Model.DropPoint<text>&nbsp;</text>
                                            }
                                            if (!string.IsNullOrEmpty(Model.BusNo))
                                            {
                                                <text>(@Model.BusNo)</text>
                                            }
                                        }
                                    }

                                </td>

                                <td style="width: 33.33%; text-align: right; font-size: @fontsize;">
                                    @if (!string.IsNullOrEmpty(Model.ConcernedStaffId))
                                    {
                                        <b>Permitted By:</b> @Model.ConcernedStaffId
                                    }

                                </td>
                            </tr>

                            <tr>
                                <td> <br /></td>
                                <td> <br /></td>
                                <td> <br /></td>


                            </tr>


                            <tr>

                                <td style="width: 33.33%; text-align: left;">



                                    <b>@Model.PrintSettingLeftSideFooterText</b>
                                </td>
                                <td style="width: 33.33%; text-align: center;">


                                    <b>
                                        @if (@Model.GatePassTypeId.Split(' ')[0] == "Student")
                                        {

                                            <text>@Model.PrintSettingCentreSideFooterText</text>
                                        }
                                    </b>
                                </td>
                                <td style="width: 33.33%; text-align: right; font-size: @fontsize;">



                                    <b>@Model.PrintSettingRightSideFooterText</b>
                                </td>
                            </tr>
                        </table>
                    </div>
                    // <br style="height:1px"/>
                }
        <br />
            }

        </div>
    </body>

</html>

<script>

    $(".forLargeSize").click(function () {
        $('#imgaddr').html("");
        var addr = $(this).attr('src');
        var html = "";
        if (addr != null && addr != "") {
            html = "<img src=" + addr + " style='margin-right: auto;margin-left: auto;display: block;'/>"
            $('#imgaddr').append(html);
            $("#myImage").show();
        }
    })
    $("#closeImage").click(function () {
        $("#myImage").hide();
    })

      $("#btnPrint").click(function () {

            $.ajax({
                async: false,
                type: "POST",
                url: '@Html.Raw(Url.Action("UpdateGatePass", "GatePass"))',
                data: { "Id": "@Model.GatePassId" },
                success: function (res) {
                    if (res.status == "success") {
                        var contents = $("#print_div").html();
                     
   //                     newWin = window.open("");
   //                     newWin.document.write("<!DOCTYPE html><html><head><style>th,td {padding: 0px;}.border { border-bottom: 0.5px solid #000;border-collapse: collapse;}</style></head><body class=''>");
   //                     newWin.document.write(contents);
   //                     newWin.document.write("</body></html>");
   //newWin.print();
   //newWin.close();


   

  var newWin=window.open('','Print-Window');

  newWin.document.open();

   newWin.document.write("<!DOCTYPE html><html><head><style>th,td {padding: 0px;}.border { border-bottom: 0.5px solid #000;border-collapse: collapse;}</style></head><body onload='window.print()' class=''>");
                        newWin.document.write(contents);
                        newWin.document.write("</body></html>");

  newWin.document.close();

  setTimeout(function(){newWin.close();},500);
                      //  var frame1 = $('<iframe />');
                      //  frame1[0].name = "frame1";
                      ////  frame1.css({ "position": "absolute", "top": "-1000000px" });
                      //  $("body").append(frame1);
                      //  var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
                      //  frameDoc.document.open();
                      //  //Create a new HTML document.
                      //  //frameDoc.document.write('<html><head><title>Gate Pass</title>');
                      //  frameDoc.document.write("<!DOCTYPE html><html><link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous'><head><style>th,td {padding: 0px;}.border { border-bottom: 0.5px solid #000;border-collapse: collapse;}</style></head><body class=''>");
                      //  //Append the external CSS file.
                      //  //frameDoc.document.write('<link href="~/KSChild/Content/assets/css/styles.css" rel="stylesheet" />');
                      //  //Append the DIV contents.
                      //  frameDoc.document.write(contents);
                      //  frameDoc.document.write('</body></html>');
                      //  frameDoc.document.close();
                      //  setTimeout(function () {
                      //      window.frames["frame1"].focus();
                      //      window.frames["frame1"].print();
                      //      frame1.remove();
                      //  }, 500);
                    }
                    else {
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        });
</script>
