﻿@model ViewModel.ViewModel.GatePass.GatePassModel

@{
    ViewBag.Title = "Gate Pass";
}
<style>
    .custom-margin {
        margin-top: 5px;
    }
</style>
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 text-right">
        <a href="@Html.Raw(Url.Action("CreatePass", "GatePass"))" class="btn btn-xs btn-default">Back</a>
        @if(Model.IsAuthToPrint)
        { 
             <button id="btnPrint" class="btn btn-xs btn-default">Print</button>
        }
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div id="div_add" class="row top-space-10">
    <div class="col-md-12" >
        @Html.Partial("_PassDetailView", Model)
    </div>
</div>


<script>

    $(function () {

        var str2 = "Student";
        var str3 = "Visitor";
        var str4 = "Guardian";
        var str5 = "Staff";

        if ('@Model.GatePassTypeId' != null) {
            var str1 = '@Model.GatePassTypeId';
            if (str1.indexOf(str2) != -1) {
                $("#student_div").show();
                $("#visitor_div").hide();
                $("#staff_div").hide();
                $("#Guardian_div").hide();
                $("#studentpurpose").val($("#Purpose").val());
                $("#table_div").show();
                $("#intime_div").hide();
                $("#outtime_div").show();
            }
            else if (str1.indexOf(str3) != -1) {
                $("#student_div").hide();
                $("#visitor_div").show();
                $("#staff_div").hide();
                $("#Guardian_div").hide();
                $("#visitorpurpose").val($("#Purpose").val());
                $("#visitorconcern").val($("#ConcernedStaffId").val());
                $("#VehicleTypeId").val($("#visitorvehicletype").val());
                $("#VehicleNo").val($("#visitorvehicleno").val());
                $("#ContactNo").val($("#visitorcontact").val());
                $("#intime_div").show();
                $("#outtime_div").hide();
            }
            else if (str1.indexOf(str4) != -1) {
                $("#student_div").hide();
                $("#visitor_div").hide();
                $("#staff_div").hide();
                $("#Guardian_div").show();
                $("#guardianpurpose").val($("#Purpose").val());
                $("#guardianconcern").val($("#ConcernedStaffId").val());
                $("#VehicleTypeId").val($("#guardianvehicletype").val());
                $("#VehicleNo").val($("#guardianvehicleno").val());
                $("#ContactNo").val($("#guardiancontact").val());
                $("#intime_div").show();
                $("#outtime_div").hide();
            }
            else if (str1.indexOf(str5) != -1) {
                $("#student_div").hide();
                $("#visitor_div").hide();
                $("#staff_div").show();
                $("#Guardian_div").hide();
                $("#staffpurpose").val($("#Purpose").val());
                $("#VehicleTypeId").val($("#staffvehicletype").val());
                $("#VehicleNo").val($("#staffvehicleno").val());
                $("#ContactNo").val($("#staffcontact").val());
                $("#table_div").show();
                $("#intime_div").hide();
                $("#outtime_div").show();
            }
        }

      


    })
</script>
