﻿@model ViewModel.ViewModel.GatePass.DataList

@{
    ViewBag.Title = "SetGatePassAuthority";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-8">
        <h1>Set GatePass Authority</h1>
    </div>
    @*<div class="col-md-3 text-right">
            <button type="button" id="clearnavpermission" class="btn btn-xs btn-default">Clear Navigation Permissions</button>
        </div>*@
    <div class="col-md-4 text-right">
        <a href="@Html.Raw(Url.Action("CreatePass", "GatePass"))" class="btn btn-xs btn-default">back</a>
    </div>
</div>



<div class="row top-space-10">
    <div class="col-md-12">
        <div class="col-md-2 form-control tree">
            <ul>
                @Html.HiddenFor(p => p.GataPassTypeId)
                @foreach (var item in Model.List)
                {
                    if (item.GatePassAuthList.Count > 0)
                    {
                        <li>
                            <a href="#" class="parentTree">
                                @Html.CheckBox(item.AuthType, false, new
                                                           {
                                                               @class = "tree-checkbox superparent",
                                                               @dataid = item.AuthType,
                                                               @Name = "chk",
                                                               @id = item.AuthType
                                                           })
                                <label>
                                    <strong>@item.AuthType</strong>
                                    @Html.Display(item.AuthType)
                                </label>
                            </a>
                            <ul>
                                @foreach (var childitems in item.GatePassAuthList)
                                {
                                    <li>
                                        <a href="#" class="#">
                                            @Html.CheckBox(childitems.Authority, childitems.Status, new
                                                           {
                                                               @class = "tree-checkbox parent",
                                                               @dataid = childitems.ContactTypeId,
                                                               @Name = "chk",
                                                               @id = childitems.Id
                                                           })
                                            <label>
                                                <strong>@childitems.Authority</strong>
                                                @Html.Display(childitems.Authority)
                                            </label>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- Row -->
        <div class="row top-space-10">
            <!-- Form Coulmn -->
            <input type="submit" name="save" value="Save" id="submit_btn" class="btn btn-success" />
            <!-- //Form Coulmn -->
        </div>
        <!-- Row -->

    </div>
</div>



<script>
    $(document).ready(function () {

        $('input[type=checkbox][class="tree-checkbox parent"]').each(function () {
            var checked = $(this).is(':checked');
            var parentNode = $(this).parent().parent().parent().prev('a').find('.superparent');

            if (checked) {
                // make them as the parent checkbox (checked or not)
                //  nodeitem.prop('checked', checked);
                parentNode.prop('checked', checked);
                parentNode.removeAttr("disabled");
                parentNode.attr('enabled', 'enabled');
            }
            //else {
            //    //  nodeitem.prop('checked', checked);
            //    nodeitem.removeAttr("enabled");
            //    nodeitem.attr('disabled', 'disabled');
            //    childnodeitem.removeAttr("enabled");
            //    childnodeitem.attr('disabled', 'disabled');
            //}
        });

    })
    //paranet node checked then its childs also checked and vise versa

    $('input[type=checkbox][class="tree-checkbox superparent"]').on('click', function () {
       // alert("f");
        var checked = $(this).is(':checked');
        var parent = $(this).closest('li').find('input[type=checkbox][class="tree-checkbox parent"]');
        if (checked) {
            // make them as the parent checkbox (checked or not)
            parent.prop('checked', checked);
        //    parent.removeAttr("disabled");
            parent.attr('enabled', 'enabled');
        }
        else {
            parent.prop('checked', checked);
            //parent.removeAttr("enabled");
            //parent.attr('disabled', 'disabled');
        }
        //alert("f");
    });

    //if all node items are not checked then parent will automatically unchecked

    $('.parent').click(function () {
        var parentNode = $(this).parent().parent().parent().prev('a').find('.superparent');
        var childNode = $(this).parent().parent().parent();

        if ($(this).is(':checked')) {
            parentNode.prop('checked', true);
        } else {
            var elements = childNode.find('.parent:checked')
            if (elements.length == 0) {
                parentNode.prop('checked', false)

           //     childNode.find('.parent').removeAttr("enabled");
            //    childNode.find('.parent').attr('disabled', 'disabled');
            }
        }
    });

    $('#submit_btn').click(function () {
        // array and object
        $('#ks_loader').show();
        var RolPermArray = new Array();
        var RolPermObj = new Object();
        if ($("input:checkbox[name=chk]:checked").length > 0) {
            $('#ks_loader').show();
            $('.tree input[type="checkbox"]').each(function () {
                if ($(this).attr('class').indexOf("superparent") < 0) {
                    RolPermObj = new Object();
                    RolPermObj.Id = $(this).attr('id');
                    RolPermObj.ContactTypeId = $(this).attr('dataid');

                    if ($(this).prop("checked") == true)
                        RolPermObj.Status = true;
                    else
                        RolPermObj.Status = false;

                    RolPermArray.push(RolPermObj);
                }
            });

            var data = JSON.stringify(RolPermArray);

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SetGatePassAuthority", "GatePass"))',
                data: { "data": data, "GatePassTypeId": $("#GataPassTypeId").val() },
                success: function (res) {
                    $('#ks_loader').hide();
                    if (res.status == "success") {
                        ToastMessage(res.data, "success", true, 5000);
                    }
                    else {
                        ToastMessage(res.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
           // $('#ks_loader').hide();
        }
        else {
            alert("Please select Authority before saving.")
            $('#ks_loader').hide();
            return false;
        }
    });


    @*$("#clearnavpermission").click(function () {
        var userroleid = $("#UserRoleId").val();
        if (userroleid != null && userroleid != "") {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteAllNavPer", "Security"))',
                data: { "UserRoleId": userroleid },
                success: function (res) {
                    if (res.status == "success") {
                        ToastMessage(res.data, "success", true, 5000);
                        window.location.reload();
                    }
                    else {
                        ToastMessage(res.data, "error", true, 5000);
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else {
            ToastMessage("User Role not found.", "error", true, 5000);
            return false;
        }
    })*@

</script>
