﻿@model ViewModel.ViewModel.GatePass.VisitorCardModel

@{
    ViewBag.Title = "Visitor Card";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}


<div class="modal-popup" id="GatePassDetailPopUp" hidden>
    <div class="modal-popup-body custom-modal-popup" style="width:50%!important;text-align:unset">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">GatePassDetail</h4>
            </div>
            <div class="modal-body GatePassDetailbody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " id="close_GatePassDetailPopUp">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    <div class="col-md-6">
        <h1>Visitor Card</h1>
    </div>
    <div class="col-md-6 text-right">
            <a href="javascript:void(0)" id="add_visitorCard" class="btn btn-xs btn-default">Add New</a>
            <a href="javascript:void(0)" id="filter_visitorCard" class="btn btn-xs btn-default">Filters</a>
    </div>
</div>

<div id="addupdateDiv" class="row top-space-10" hidden>
    @Html.HiddenFor(p => p.EncVisitorCardId)
        <fieldset>
            <div class="row">
                <div class="col-md-3">
                    <label class="">VisitorCardNo<i class="fa fa-asterisk ks-required"></i></label>
                    @Html.TextBoxFor(model => model.VisitorCardNo, new { @class = "form-control",@maxlength="12" })
                </div>
                <div class="col-md-3">
                    <label class="">RFIDCode</label>
                    @Html.TextBoxFor(model => model.RFIDCode, new { @class = "form-control" })
                </div>
                <div class="col-md-6" style="margin-top:24px">
                    <button name="save" id="save_VisitorCard" class="btn btn-success">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                    <button type="button" name="save" id="cancel_VisitorCard" class="btn btn-default">
                        <i class="fa fa-ban"></i>
                        Cancel
                    </button>
                    </div>
                </div>
        </fieldset>
</div>
    <div id="filterDiv" class="row top-space-10" hidden>
        <fieldset>
            <div class="row">
                <div class="col-md-2">
                    <label class="">VisitorCardNo</label>
                    @Html.TextBoxFor(model => model.VisitorCardNo, new { @class = "form-control", @id = "filterVisitorCardNo" })
                </div>
                <div class="col-md-2">
                    <label class="">RFIDCode</label>
                    @Html.TextBoxFor(model => model.RFIDCode, new { @class = "form-control", @id = "filterRFIDCode" })
                </div>
                <div class="col-md-2">
                    <label class="">Availability</label>
                    @Html.DropDownListFor(m => m.AvailableId, Model.AvailableList,
                                        new { @class = "form-control", @id = "filterAvailableId" })
                </div>
                <div class="col-md-6" style="margin-top:24px">
                    <button name="save" id="filter_VisitorCardGrid" style="float:right" class="btn btn-success">
                        <i class="fa fa-floppy-o"></i>
                        Filter
                    </button>
                    <button type="button" name="cancel" style="float:right" id="cancel_filter" class="btn btn-default">
                        <i class="fa fa-ban"></i>
                        Cancel
                    </button>
                </div>
            </div>
</fieldset>
</div>
<div class="row top-space-10">
    <div id="VisitorCard"></div>
    <script>
    $(document).ready(function () {

        $("#VisitorCard").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("GetVisitorCard", "GatePass"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalData
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            columns: [{
                field: "EncVisitorCardId",
                hidden: true
            },{
                field: "VisitorCardNo",
                title: "VisitorCardNo",
                sortable: true,
                attributes :{ "class":"clsvisitorCard",},
            },{
                field: "RFIDCode",
                title: "RFID Code",
                sortable: true,
                attributes :{ "class":"clsRFIDCode",},
            },{
                field: "LastGatePass",
                title:"LastGatePass",
                template: '#if(LastGatePass!=""&&SerialNo!=""){#<a title="LastGatePassInfo" data-toggle="tooltip" data-gatepassdetailId="#=LastGatePass#" data-placement="top" class="lstgatepassinfo" style="cursor: pointer;" >#=SerialNo#</a>#}'
                +'else if(LastGatePass!=""){#<a title="LastGatePassInfo" data-toggle="tooltip" data-gatepassdetailId="#=LastGatePass#" data-placement="top" class="lstgatepassinfo"  style="cursor: pointer;" >...</a>#}#'
                
            },{
                field: "Availability",
                title:"Availability",
               
           },
            {
                field: "IsActive",
                title:"IsActive",
                template:'<a title="Change Status" data-toggle="tooltip" data-IsActive="#=IsActive#" data-visitorid="#=EncVisitorCardId#" data-placement="top" class="clsvisitorstatus"  style="cursor: pointer;" >#=IsActive#</a>'
            },
                {
                    field: "EncVisitorCardId",
                    title: "Action",
                    width: "120px",
                    attributes :{ "class":"k-gridcls",},
                    sortable: false,
                    template: 
                            '<a title="Edit" data-toggle="tooltip" data-placement="top" class="clseditVisitorCard btn btn-xs btn-default" data-visitorid="#=EncVisitorCardId#"><i class="fa fa-pencil"></i></a>'
                    
                      + '#if(!IsIssued){#<a title="Delete" data-toggle="tooltip" data-placement="top" data-visitorid="#=EncVisitorCardId#" class="clsdeleteVisitorCard btn btn-xs btn-default"><i class="fa fa-trash"></i></a>#}#'

           
            }
            ]
    });
    });
    </script>
</div>
<script>
    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
    }

    $(document).on("mouseover", ".description_tooltip_cls", function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function additionalData() {
        var data = {
            AvailableId: $("#filterAvailableId").val(),
            VisitorCardNo: $('#filterVisitorCardNo').val(),
            RFIDCode:$('#filterRFIDCode').val(),
        };
        return data;
    }
    function ClearaddUpdateControls(){
        $("#EncVisitorCardId").val("");
        $("#VisitorCardNo").val("");
        $("#RFIDCode").val("");
        $("#save_VisitorCard").html("<i class='fa fa-floppy-o'></i>Save");
    }
    function ClearfilterControls(){
        // $("#filter_EncVisitorCardId").val("");
        $("#filterAvailableId").val("");
        $("#filterVisitorCardNo").val("");
        $("#filterRFIDCode").val("");
    }
    
    $("#filter_VisitorCardGrid").click(function(){
        var grid = $('#VisitorCard').data('kendoGrid');
        grid.dataSource.page(1);
    })
    $("#add_visitorCard").click(function(){
        if($('#addupdateDiv').css('display') != 'none' ){
            ClearaddUpdateControls();
            $('#addupdateDiv').hide();
        }else{
            $('#filterDiv').hide();
            ClearaddUpdateControls();
            $("#addupdateDiv").show();
        }
    })
    $("#filter_visitorCard").click(function(){
        if($('#filterDiv').css('display') != 'none' ){
            $('#filterDiv').hide();
        }else{
            $('#addupdateDiv').hide();
            $("#filterDiv").show();
        }
    })

    $("#save_VisitorCard").click(function(){
        if($("#VisitorCardNo").val()=="" || $("#VisitorCardNo").val()==null){
            ToastMessage("VisitorCardNo must not be empty", "error", true, 5000);
            return false;
        }
        var model=new Object();
        model.EncVisitorCardId=$("#EncVisitorCardId").val();
        model.VisitorCardNo=$("#VisitorCardNo").val();
        model.RFIDCode=$("#RFIDCode").val();
        $('#ks_loader').show();
        $.ajax({
            async:false,
            type: "POST",
            url: '@Html.Raw(Url.Action("SaveUpdateVisitorCard", "GatePass"))',
            data: model,
            success: function (result) {
                if (result.status == "success") {
                    $('#ks_loader').hide();
                    ToastMessage(result.data, "success", true, 5000);
                    ClearaddUpdateControls();
                    var grid = $('#VisitorCard').data('kendoGrid');
                    grid.dataSource.page(1);
                }
                else{
                    $('#ks_loader').hide();
                    ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(result.msg, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })
    $("#cancel_VisitorCard").click(function(){
        ClearaddUpdateControls();
        $('#addupdateDiv').hide();
    })
    $("#cancel_filter").click(function(){
        ClearfilterControls();
        var grid = $('#VisitorCard').data('kendoGrid');
        grid.dataSource.page(1);
    })

    $("#VisitorCard").on('click', '.clseditVisitorCard', function () {
        $("#save_VisitorCard").html("<i class='fa fa-floppy-o'></i>Update");
        var row=$(this).parent().parent();
        $("#EncVisitorCardId").val($(this).attr("data-visitorid"));
        $("#VisitorCardNo").val(row.find('.clsvisitorCard').html());
        $("#RFIDCode").val(row.find('.clsRFIDCode').html());
        $('#addupdateDiv').show();
        $("#filterDiv").hide();
        $("html").scrollTop("180");
        $("#VisitorCardNo").focus();
    })
    $("#VisitorCard").on('click', '.clsdeleteVisitorCard', function () {
       
        var encVisitorId=$(this).attr("data-visitorid");
        if(encVisitorId!="" && encVisitorId!=null){
            if(window.confirm("Are you sure you want to delete this Visitor Card?")){
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: "@Html.Raw(Url.Action("DeleteVisitorCard", "GatePass"))",
                data: jQuery.param({ Id: encVisitorId }),
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (response) {
                    if (response.status == "success") {
                        $('#ks_loader').hide();
                        var grid = $('#VisitorCard').data('kendoGrid');
                        grid.dataSource.page(1);
                        ClearaddUpdateControls();
                        ToastMessage(response.data, "success", true, 5000);
                    }else{
                        ToastMessage(response.data, "error", true, 5000);
                    }
                },
                error: function () {
                    $('#ks_loader').hide();
                    ToastMessage("Error", "error", true, 5000);
                }
            });
            }else{
                $('#ks_loader').hide();
            }
        }else{
            $('#ks_loader').hide();
            ToastMessage("Invalid Visitor", "error", true, 5000);
        }
    })
    $("#close_GatePassDetailPopUp").click(function(){
        $("#GatePassDetailPopUp").hide();
    })
    $("#VisitorCard").on('click', '.lstgatepassinfo', function () {
        $(".GatePassDetailbody").html("");
        var gatepassdetail=$(this).attr("data-gatepassdetailId");
        if(gatepassdetail!=""){
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: "@Html.Raw(Url.Action("VisitorCardGatePassDetail", "GatePass"))",
                data: jQuery.param({ Id: gatepassdetail }),
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (response) {
                    if (response.status == "success") {
                        $('#ks_loader').hide();
                        var Model=response.data;
                        var html="";
                        html+='   <table style=" border: 0.5px solid black; width:100%; font-size: 16px;">'
                        html+='          <tr>'
                        html+='             <td style="line-height: 26px;text-align:center;" colspan="3">'
                        html+='                 <img src="'+Model.Schoollogo+'" style="width: 80px; float:left;">'
                        html+='                 <b>'+Model.GatePassTypeId+'<br><span style="font-size: 24px;">'+Model.SchoolName+'</span></b>'
                        html+='                 <div style="clear:both"></div>'
                        html+='             </td>'
                        html+='         </tr>'
                        html+='         <tr>'
                        html+='             <td> Serial No.: '+Model.SerialNo+'</td>'
                        html+='             <td> Date:'+ Model.IssueDate+'</td>'
                        @*html+='             <td style="text-align: right;">@(!string.IsNullOrEmpty(Model.OutTime) && !string.IsNullOrWhiteSpace(Model.OutTime) ? "Time Out: " + Model.OutTime : "")<br>@(!string.IsNullOrEmpty(Model.InTime) && !string.IsNullOrWhiteSpace(Model.InTime) ? "Time In: " + Model.InTime : "")</td>'*@
                        html+='         </tr>'
                        html+='         <tr>'
                        html+='             <td colspan="3" class="border"></td>'
                        html+='         </tr>'

                        html+='                <tr>'
                        html+='<td colspan="2" valign="top">'
                        html+='          <div class=" profile-img" style="display: flex;">'
                        html+='       <div class="img-thumbal" style="margin:0px;width:115px !important;height:115px!important">'
                        html+='                         <img class="img-responsive" style="width:113px;height: 113px;"'
                        html+='src="'+Model.ImageUrl+'">';
                        html+='</div>';
                        html+='<div style="margin: 0px 0px 0px 15px;">';
                        html+='<span>';
                        if (Model.GatePassTypeId.toLowerCase().indexOf("student")!=-1 || Model.GatePassTypeId.toLowerCase().indexOf("guardian")!=-1)
                        {
                            html+='     <b>Name: </b> '+Model.StudentId+'<br>'
                            html+='<b>Mobile No.: </b> '+Model.MobileNo+'<br>'
                        }
                        if (Model.GatePassTypeId.toLowerCase().indexOf("staff")!=-1)
                                        {
                                   html+='         <b>Name: </b> '+Model.StaffId+'<br>'
                                          html+='  <b>Designation: </b> '+Model.Designation+'<br>'
                                        }
                        if (Model.GatePassTypeId.toLowerCase().indexOf("student")!=-1 || Model.GatePassTypeId.toLowerCase().indexOf("guardian")!=-1)
                                        {
                       html+='                     <b>Parent: </b> '+Model.ParentName+'<br>'
                                        }
                        html+='<p class="t_wrap"> <b>Purpose: </b>'+Model.Purpose+'</p>'
                        html+='</span>'
                        html+='</div>'
                        html+='</div>'
                        html+='</td>'
                        html+='<td colspan="1" valign="top" align="left" width="230">'

                        if (Model.AdmissionNo!="" && Model.AdmissionNo!=null)
                        {
                            html+='<b>Adm No: </b>'+Model.AdmissionNo+'<br>'
                        }
                        if (Model.ClassId!="" && Model.ClassId!=null)
                            {
                                html+='<b>Class: </b>'+Model.ClassId+'<br>'
                            }

                        if (Model.GatePassTypeId.toLowerCase().indexOf("guardian")!=-1)
                             {
                                 html+='<b>Contact No: </b>'+Model.GuardianMobileNo+'<br>'
                             }
                        else  if (Model.ContactNo!="" &&Model.ContactNo!=null)
                             {
                                 html+='<b>Contact No: </b> '+Model.ContactNo+'<br>'
                             }
                        if (Model.GatePassTypeId.toLowerCase().indexOf("staff")!=-1)
                            {
                                html+='<b>Department: </b>'+Model.Department+'<br>'
                            }
                        if (Model.GatePassTypeId.toLowerCase().indexOf("student")!=-1 || Model.GatePassTypeId.toLowerCase().indexOf("guardian")!=-1)
                            {
                                html+='<b>Roll No: </b>'+Model.RollNo+'<br>'
                            html+='<b>Session: </b> '+Model.Session+''
                            }

                        html+='</td>'
                        html+='</tr>'
                        html+='<tr>'
                        html+='<td colspan="3" class="border"></td>'
                        html+='</tr>'
                        html+='<tr>'
                        html+='<td colspan="3">'
                        if (Model.NoOfPersons!=null&&Model.NoOfPersons!="")
                        {
                            html+='<b>Accompanied Person:</b>'+Model.NoOfPersons+''
                        }
                        html+='</td>'
                        html+='</tr>'
                        if (Model.DetailList.length > 0)
                    {
                        html+='<tr>'
                            html+='<td colspan="3">'
                                html+='<table border="1" cellspacing="0" style=" width:100%; font-size: 16px;">'
                                    html+='<tr>'
                                        html+='<th>Card No.</th>'
                                        html+='<th>Person Name</th>'
                                        if (Model.GatePassTypeId.toLowerCase().indexOf("staff")!=0 && Model.GatePassTypeId.toLowerCase().indexOf("visitor")!=0)
                                        {
                                        html+='    <th>Relation</th>'
                                        }
                        html+='<th>Address</th>'
                        html+='<th>City</th>'
                        if (Model.IsShowPic==true)
                                        {
                               html+='             <th>Image</th>'
                                        }
                        html+='</tr>'
                            $(Model.DetailList).each(function () 
                        {
                            html+='<tr>'
                            html+='<td>'+this.CardId+'</td>'
                            html+='<td>'+this.PersonName+'</td>'
                            if (Model.GatePassTypeId.toLowerCase().indexOf("staff")!=0 && Model.GatePassTypeId.toLowerCase().indexOf("visitor")!=0)
                                {
                                html+='<td>'+this.Relation+'</td>'
                                }
                            html+='<td>'+this.Address+'</td>'
                            html+='<td>'+this.City+'</td>'
                        if (Model.IsShowPic)
                                {
                            html+='<td><img src="'+this.Image+'" class="img" height="55" width="55"></td>'
                                }
                        html+='  </tr>'
                    })
                    html+='    </table>'
                    html+=' </td>'
                    html+=' </tr>'
                }
                 html+='       <tr>'

                  html+='          <td style="width: 33.33%; text-align: left;">'
            html+='             <br>'
            html+='             <br>'
            html+='             <br>'
            html+='                <br>'
            html+='                <b>Security</b>'
            html+='            </td>'
            html+='            <td style="width: 33.33%; text-align: center;">'
            html+='                <br>'
            html+='                <br>'
            html+='                <br>'
            html+='                  <br>'
            html+='                 <b>'
            if (Model.GatePassTypeId.split(' ')[0] == "Student")
            {html+='Parent Signature'}
            html+='       </b>'
            html+='     </td>'
            html+='    <td style="width: 33.33%; text-align: right; font-size: 16px;">'
            if (Model.ConcernedStaffId!=null&&Model.ConcernedStaffId!="")
                            {
            html+='                    <b>Permitted By:</b> '+Model.ConcernedStaffId+''
                            }
            html+='                 <br>'
            html+='                 <br>'
            html+='                <br>'
            html+='               <br>'
            html+='               <b>Authority</b>'
            html+='           </td>'
            html+='      </tr>'

           html+='  </table>'

            $(".GatePassDetailbody").append(html);
            $("#GatePassDetailPopUp").show();
        }else{
            ToastMessage(response.data, "error", true, 5000);
        }
    },
        error: function () {
            ToastMessage("Error", "error", true, 5000);
        }
    });
    }else{
        ToastMessage("Invalid GatePassDetail", "error", true, 5000);
    }
    })
    $("#VisitorCard").on('click', '.clsvisitorstatus', function () {
            var VisitorCardStatus = "";
        if($(this).attr("data-IsActive")=="true"){
                VisitorCardStatus = "false";
            }
            else if($(this).attr("data-IsActive")=="false") {
                VisitorCardStatus = "true";
            }else{
            ToastMessage("Invalid Status", "error", true, 5000);
            return false;
            }
        var encVisitorId = $(this).attr("data-visitorid");
        if (window.confirm("Are you sure you want to change Status?")) {
            if (encVisitorId != null && encVisitorId != "") {
                $('#ks_loader').show();
                $.ajax({
                    type: "Post",
                    url: "@Html.Raw(Url.Action("UpdateVisitorCardStatus", "GatePass"))",
                    data: jQuery.param({ Id: encVisitorId, status: VisitorCardStatus }),
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (response) {
                        if (response.status == "success") {
                            $('#ks_loader').hide();
                            var grid = $('#VisitorCard').data('kendoGrid');
                            grid.dataSource.page(1);
                            ClearaddUpdateControls();
                            ToastMessage(response.data, "success", true, 5000);
                        } else {
                            $('#ks_loader').hide();
                            ToastMessage(response.data, "error", true, 5000);
                        }
                    },
                    error: function () {
                        $('#ks_loader').hide();
                        ToastMessage("Error", "error", true, 5000);
                    }
                });
            } else {
                ToastMessage("Invalid Visitor Card", "error", true, 5000);
            }
        }
    })

</script>