/*body{  font-family:"Myriad Pro",arial!important; }*/
.header{background:#444444;}
.mainNavigation
{
	border-top:1px solid #1f7bb2;
background-color: #1f7bb2;
background-image: -webkit-linear-gradient(bottom, rgba(31,123,178,.12), rgba(27,109,150,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(31,123,178,.12), rgba(27,109,150,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(31,123,178,.12), rgba(27,109,150,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(31,123,178,.12), rgba(27,109,150,.12) 15%, rgba(255,255,255,.12));
}

.header .portion1 .logo a{ background:url(../img/blue_grey/msplogo.png) top left no-repeat;}
.header .portion1 .rightLinks a, .header .portion1 .rightLinks a:hover{
 color:#8e969b;
background-color: #44525a;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
border: solid 1px #2e404a;}

.header .portion1 .dropdown-submenu:hover > a, .header .portion1 .dropdown-submenu:focus > a {
   color:#fff; background-color: #d40031;
background-image: -webkit-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
}


.header .btn-group a.btn {  color:#fff!important;
background-color: #444444!important; border: solid 1px #fff; }
.header .btn-group .dropdown-menu{ background:#444444}
.header .btn-group .dropdown-menu a{color:#ffffff;}
.header .btn-group .dropdown-menu a:hover{color:#fff; background-color: #d40031;
background-image: -webkit-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));}

.header .portion1 .rightLinks .rightSearch{  color:#8e969b;
 background-color: #44525a;
-webkit-box-shadow: 0 1px 1px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.12);
-moz-box-shadow: 0 1px 1px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.12);
box-shadow: 0 1px 1px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.12);
border: solid 1px #2e404a; }

.header .portion1 .rightLinks .rightSearch:focus{ background:#fff!important}

.header .portion1 .rightLinks .rightSearch input{ color:#8e969b;}

.mobileNavMain{border-top:1px solid #1f7bb2;
background-color: #1f7bb2;
background-image: -webkit-linear-gradient(bottom, rgba(31,123,178,.12), rgba(27,109,150,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(31,123,178,.12), rgba(27,109,150,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(31,123,178,.12), rgba(27,109,150,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(31,123,178,.12), rgba(27,109,150,.12) 15%, rgba(255,255,255,.12));color:#FFFFFF;}
.mainNavigation #navMain a{ color:#fff;margin:0px; padding: 0 23px 4px 23px;}
.mainNavigation #navMain a:hover, .mainNavigation #navMain a.active{ text-decoration:none;
background-color: #d40031;
background-image: -webkit-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
border-bottom:none; }

.mainNavigation .customize{ 
background-color: #004e7a;
 
background-image: -webkit-linear-gradient(bottom, rgba(0,78,122,.12), rgba(0,52,80,.12) 17%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(0,78,122,.12), rgba(0,52,80,.12) 17%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(0,78,122,.12), rgba(0,52,80,.12) 17%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(0,78,122,.12), rgba(0,52,80,.12) 17%, rgba(255,255,255,.12)); color:#fff; text-decoration:none; }


.leftPanel{ background:#444444;}

 
#accordion2 .accordion-inner { border:0; border-top:1px solid #2a2a2a;}
#accordion2 .accordion-heading a{ color:#ffffff;  border-bottom:1px solid #222222;    border-top:1px solid #222222;    

background-color: #323232;
 
background-image: -webkit-linear-gradient(bottom, rgba(50,50,50,.12), rgba(17,17,17,.12) 17%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(50,50,50,.12), rgba(17,17,17,.12) 17%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(50,50,50,.12), rgba(17,17,17,.12) 17%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(50,50,50,.12), rgba(17,17,17,.12) 17%, rgba(255,255,255,.12));

}

#accordion2 .accordion-heading a:hover,#accordion2 .accordion-heading a.active{
background-color: #d40031;
background-image: -webkit-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
}

 
#accordion2 .accordion-inner ul li a{   color:#d9d9d9;}
	#accordion2 .accordion-inner ul li a:hover,#accordion2 .accordion-inner ul li a.active{ color:#d9d9d9; border-right:5px solid #D41541; background:#333333;}

#accordion2 .accordion-heading a div.dashboard{ background-image:url(../img/blue_grey/left-icon/grid-icon.png)}
#accordion2 .accordion-heading a div.sales{ background-image:url(../img/blue_grey/left-icon/headphone-icon.png)}
#accordion2 .accordion-heading a div.finance{ background-image:url(../img/blue_grey/left-icon/bill-icon.png)}
#accordion2 .accordion-heading a div.projects{ background-image:url(../img/blue_grey/left-icon/file-icon.png)}
#accordion2 .accordion-heading a div.admin{ background-image:url(../img/blue_grey/left-icon/clipboard-icon.png)}
#accordion2 .accordion-heading a div.service{ background-image:url(../img/blue_grey/left-icon/box-icon.png)}
#accordion2 .accordion-heading a div.role{ background-image:url(../img/blue_grey/left-icon/mail-icon.png)}

#accordion2 .accordion-heading a:hover div,#accordion2 .accordion-heading a.active div{ background-position:top; }

.tabLeftNavTrigger{ text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);background-color: #2eb398;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
background-image: -webkit-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12)); color:#fff; }

.tabLeftNavTrigger:hover, .tabLeftNavTrigger:focus{ color:#fff;}


.table a{ color:#2eb398}
.btn-theme-action{
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #d40031;
background-image: -webkit-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.12);
-moz-box-shadow: 0 2px 3px rgba(0,0,0,.12);
box-shadow: 0 2px 3px rgba(0,0,0,.12);
border: solid 1px #d40031;
color:#fff;
text-shadow: 0 1px 2px rgba(0,0,0,.11);

}
.btn-theme-action:hover, .btn-theme-action:focus, .btn-theme-action:active{ background-color: #d40031;
background-image: -webkit-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(212,0,59,.12), rgba(113,0,26,.12) 15%, rgba(255,255,255,.12)); -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.30);
-moz-box-shadow: 0 2px 3px rgba(0,0,0,.30);
box-shadow: 0 2px 3px rgba(0,0,0,.30); color:#fff;
text-shadow: 0 1px 2px rgba(0,0,0,.11);}