@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{ background:#f3f3f3; font-family:'proxima_nova_rgregular'; color:#666666;}
a,a:hover,a:active,a:focus{ color:#666666; outline:none;}
.top5{margin-top:5px!important;}
.top10{margin-top:10px!important;}
.top15{margin-top:15px!important;}
.top20{margin-top:20px!important;}
.top25{margin-top:25px!important;}
.top30{margin-top:30px!important;}

.bottom5{margin-bottom:5px!important;}
.bottom10{margin-bottom:10px!important;}
.bottom15{margin-bottom:15px!important;}
.bottom20{margin-bottom:20px!important;}
.bottom25{margin-bottom:25px!important;}
.bottom30{margin-bottom:30px!important;}

.left5{margin-left:5px!important;}
.left10{margin-left:10px!important;}
.left15{margin-left:15px!important;}
.left20{margin-left:20px!important;}
.left25{margin-left:25px!important;}
.left30{margin-left:30px!important;}

.right5{margin-right:5px!important;}
.right10{margin-right:10px!important;}
.right15{margin-right:15px!important;}
.right20{margin-right:20px!important;}
.right25{margin-right:25px!important;}
.right30{margin-right:30px!important;}

.fs14{font-size:14px}

.fontBold{font-family:'proxima_novasemibold'}

.dropdown-menu li a:hover{ background-image:none; background-color:#f5f5f5; color:#666666;}

input,textarea,select{font-family:'proxima_nova_rgregular';}

.header{width:100%; height:125px; position:fixed; z-index:99;}
.header .portion1{width:100%; height:80px; float:left;}
.header .portion1 .logo{width:151px; height:40px; float:left; overflow:hidden; margin-left:20px; margin-top:20px;}
.header .portion1 .logo h1, .header .portion1 .logo a,  .header .portion1 .logo a:link,  .header .portion1 .logo a:hover{width:100%; height:100%; float:left; overflow:hidden; text-decoration:none; margin:0px; padding:0px; text-indent:-800000px; outline:none;}

.header .portion1 .rightLinks{float:right; margin-right:20px; margin-top:20px; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);}
.header .portion1 .rightLinks a, .header .portion1 .rightLinks a:hover{width:38px; height:38px; line-height:38px; float:left; text-align:center;  border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
-webkit-border-radius:3px;
margin-left:10px;
text-decoration:none;


}
.header .btn-group-mobile{ display:none; margin-right:20px; margin-top:20px;}
.header .btn-group a.btn {cursor: pointer;
    display: inline-block; position:relative;width:38px; height:38px; line-height:38px; float:left; text-align:center;  border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
-webkit-border-radius:3px;
margin-left:10px;
text-decoration:none;  
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
 margin:0px; padding:0px; background-image:none; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);}

.header .portion1 .rightLinks .rightSearch{width:180px; height:38px; float:left; margin-left:10px; 
 border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
-webkit-border-radius:3px; overflow:hidden;}
   
.header .portion1 .rightLinks .rightSearch div{width:30px; height:38px; float:left; text-align:center; line-height:38px;}
.header .portion1 .rightLinks .rightSearch input{width:140px; height:38px; float:left; margin:0px; padding:0px; border:none; outline:none; background:none; -moz-box-shadow:none;
-webkit-box-shadow:none; box-shadow:none; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);}
.mainNavigation
{
width:100%;
height:44px;
float:left;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.12), inset 0 1px rgba(255,255,255,.2);
-moz-box-shadow: 0 1px 5px rgba(0,0,0,.12), inset 0 1px rgba(255,255,255,.2);
box-shadow: 0 1px 5px rgba(0,0,0,.12), inset 0 1px rgba(255,255,255,.2);text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); font-family:'proxima_novasemibold'; 
}
.mobileNavMain{width:100%;
height:44px;
float:left;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.12), inset 0 1px rgba(255,255,255,.2);
-moz-box-shadow: 0 1px 5px rgba(0,0,0,.12), inset 0 1px rgba(255,255,255,.2);
box-shadow: 0 1px 5px rgba(0,0,0,.12), inset 0 1px rgba(255,255,255,.2);text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); font-family:'proxima_novasemibold'; text-align:center; line-height:44px; cursor:pointer; display:none;}

.mainNavigation #navMain a{ width:auto; padding:0px 3px; text-transform:capitalize; float:left; margin:0px 20px; height:40px; line-height:40px;  }
.mainNavigation #navMain a:hover, .mainNavigation #navMain a.active{ text-decoration:none; }

.mainNavigation .customize{
	width: 120px;
	height: 34px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:right;
	margin-right:20px;
	line-height:34px;
	text-align:center;
	margin-top:4px;
	font-family:'proxima_novasemibold';
	text-decoration:none;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	}
	
	.leftPanel{width:200px; height:100%; position:fixed; top:0px; left:0px; z-index:1; display:block;}
 	.leftInner{width:100%; height:auto; float:left; margin-top:125px;}
	#accordion2 .accordion-group { border:0px; margin-bottom:0px;}
	#accordion2 .accordion-inner { border:0; padding:15px 0px;}
	#accordion2 .accordion-inner ul{ margin:0px; padding:0px; list-style:none; float:left; width:100%;}
	#accordion2 .accordion-inner ul li{ margin:0px; width:100%;  list-style:none; float:left;  line-height:18px;}
	
	#accordion2 .accordion-inner ul li a{  height:100%; float:left; font-size:14px; letter-spacing:0.5px;  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); padding:7px 15px 7px 60px; width:205px;}
	#accordion2 .accordion-inner ul li a:hover, #accordion2 .accordion-inner ul li a.active{ color:#fff; text-decoration:none;padding:7px 10px 7px 60px; }
	
	 
	#accordion2 .accordion-heading a{ height:45px; line-height:45px; padding:0px 20px; outline:none; font-size:16px;  letter-spacing:0.5px;  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);}
	#accordion2 .accordion-heading a:hover{ text-decoration:none;}
	#accordion2 .accordion-heading a div{height:17px; width:16px; float:left; margin-top:14px; margin-right:10px; overflow:hidden; background-position:top; background-repeat:no-repeat;}
	#accordion2 .accordion-heading a:hover div,#accordion2 .accordion-heading a.active div{ background-position:bottom; }
	.leftUserDetails{height:auto; margin:25px;}
	.leftUserDetails img{width:50px; height:50px; margin-right:20px; float:left;}
	.leftUserDetails span{font-size:16px; color:#fff;}
	.smallBtnCustom{font-size:12px!important; padding:4px 15px!important; line-height:12px!important; color:#fff!important; background:#707d85!important; border:none!important; outline:none!important; text-shadow:none!important; margin-top:8px!important;}
	#leftScrollingLinks{width:100%; height:100%; float:left; overflow:hidden; }
	
	.tabLeftNavTrigger{height:34px;width:40px; float:left; overflow:hidden; text-align:center; line-height:34px;    text-decoration:none; margin-top:4px; display:none;}
	.tabLeftNavTrigger:hover, .tabLeftNavTrigger:focus{  text-decoration:none;}
	
	
	.containerWrap{margin-left:280px; float:none;}
	#containerMain{width:100%; height:auto; float:left; overflow:hidden; margin-top:125px;}
	.pageTitle{background:#fff; padding:20px 25px;}
	.pageTitle .title{font-size:26px;}
	.pageTitle .title span{font-size:14px; color:#999999;}
	.pageInnerNav{border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; line-height:30px; background:#f6f6f6; padding-left:10px; padding-right:25px;}
	.pageInnerNav .navbar{ margin:0!important}
	.pageInnerNav .navbar .navbar-inner{margin:0px!important; padding:0px!important; border:0px!important; background:none!important; box-shadow:none!important; min-height:30px!important;}
	.pageInnerNav .navbar .navbar-inner .container{ margin:0!important; padding:0!important;}
.dashContent{padding:25px 0px;}	
	.dashBoxes{border:1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background-color: #fff; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.12); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.12); box-shadow: 0 1px 4px rgba(0,0,0,.12); border: solid 1px #ddd; margin:5px 0px;}

.dashBoxes .Dashtext{padding:15px;}
.dashBoxes .Dashtext .row-fluid{ min-height:80px;}
.dashBoxes .Dashtext .row-fluid p.analytics{font-size:16px; line-height:22px;}
.dashBoxes .Dashtext .row-fluid p.analytics span.analyticText{font-size:20px; margin-left:10px;}


.BoxDayFilter{font-size:12px!important; color:#999999!important; border:none!important; background:none!important; outline:none!important; box-shadow:none!important; border-bottom:1px solid #999999!important; border-radius:0!important; -moz-border-radius:0!important; -ms-border-radius:0!important; -webkit-border-radius:0!important; -o-border-radius:0!important; padding:0px!important;}


.dashBoxTitle{background-color: #f6f6f6;
-webkit-box-shadow: inset 0 1px #fff;
-moz-box-shadow: inset 0 1px #fff;
box-shadow: inset 0 1px #fff;
border-bottom: solid 1px #ddd; 
background-image: -webkit-linear-gradient(bottom, rgba(245,245,245,.65) 8%, rgba(253,253,253,.65));
background-image: -moz-linear-gradient(bottom, rgba(245,245,245,.65) 8%, rgba(253,253,253,.65));
background-image: -o-linear-gradient(bottom, rgba(245,245,245,.65) 8%, rgba(253,253,253,.65));
background-image: linear-gradient(to top, rgba(245,245,245,.65) 8%, rgba(253,253,253,.65)); width:100%; height:37px; line-height:37px; border-radius: 5px 5px 0px 0px;}

.dashBoxTitle .title{float:left; 
font-size: 16px;
color: #878f9a;
text-shadow: 0 1px rgba(255,255,255,.2), inset 0 1px 3px rgba(0,0,0,.22); padding-left:10px; }

.dashBoxTitle .title span{ font-size:10px;font-family:'proxima_nova_rgregular';}

.dashBoxTitle .btn-group button.smallBox{border-top:0px;border-bottom:0px;border-right:0px; height:37px; background:none; border-radius:0!important; box-shadow:none; font-size: 16px;
                                    color: #878f9a;
                                    text-shadow: 0 1px rgba(255,255,255,.2), inset 0 1px 3px rgba(0,0,0,.22);}
									
.boxGraphTitle{font-size:16px; min-height:20px!important; margin-bottom:20px;}	
.boxGraphTitle span{color:#999999;}	
.boxGraphFooter{background:#f6f6f6; padding:10px 15px; margin-top:15px; border-bottom:1px solid #dddddd; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -ms-border-radius:0 0 5px 5px; -o-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;}


.table-bordered,	.table-bordered tr,.table-bordered tr th, .table-bordered tr td{border-radius:0px!important; -moz-border-radius:0px!important; -ms-border-radius:0px!important; -o-border-radius:0px!important; -webkit-border-radius:0px!important;}

.anythingRED ul{margin:0px; padding:0px; list-style:none;}							
.anythingRED ul li{border-bottom:1px solid #dddddd; padding:6px 0px 6px 20px;}
.anythingRED ul li div{width:10px; height:10px; overflow:hidden; float:right; border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px;  margin-top:4px;}
.anythingRED ul li.red{background:url(../img/ar1.png) left 50% no-repeat;}
.anythingRED ul li.yellow{background:url(../img/ar2.png) left 50% no-repeat;}
.anythingRED ul li a,.anythingRED ul li a:hover{ text-decoration:none}
.Tickettabing{ display:none;}
 
#ticketTabs .MainTabs a{ float:left; line-height:37px; height:38px; width:auto; padding:0px 15px; text-transform:capitalize; font-family:'proxima_novasemibold'; margin:0px 6px; outline:none;} 
#ticketTabs .MainTabs a:hover, #ticketTabs .MainTabs a.active,#ticketTabs .MainTabs a:focus{ background:#fff; text-decoration:none; border-left:1px solid #ddd; border-right:1px solid #ddd; margin:0px 5px;  outline:none;} 

.customForm{max-width:700px;}
.customForm input[type=radio],.customForm input[type=checkbox]{ margin:0px; padding:0px;}
.min370{ height:370px; overflow:hidden}

.tab-content .pageInnerNav{padding-top:10px; padding-bottom:10px; border-top:0px;}
#myTab li.active a{ background:#f6f6f6;}

.table-bordered tr th{font-family:'proxima_nova_rgregular'; font-weight:normal; font-size:15px!important; background:#f0f0f0;}


 
.btn-info{ background:#4dacfe; color:#fff;}
.btn-grey{background:#878f9a; color:#fff; text-shadow:none; border:1px solid #6b7685;}
.btn-grey:hover, .btn-grey:active, .btn-grey:focus {background:#878f9a; color:#fff; text-shadow:none; border:1px solid #6b7685;}

.roleAccordianHeading{background:#f7f7f7; font-size:16px; text-decoration:none!important;}
.rollAccordianNewAdd{padding:5px 10px; border:1px solid #d5d5d5; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin:5px 0px; cursor:pointer}
.RolesAccordian .accordion-group{ border:0px!important; margin-bottom:0px!important;}
.RolesAccordian{ margin-bottom:0px!important;  border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; overflow:hidden}
p.accordRoleT{position:absolute; top:0px; margin-top:-25px;}


#AddRoleForm, #GrantPr, #assignDash{ display:none;}

.sortables div{ width:30%; margin:5px 1%; float:left; position:relative;}
.sortables div span{ position:absolute; top:0; right:0;}

/* Css By Programmer */

.k-dropdown
{
    margin-left: 0px !important;
}
.label
{
    font-weight: normal;
    font-weight: 11px;
}
.table-bordered tr th
{
    font-family: 'proxima_nova_rgregular';
    font-weight: normal;
    font-size: 15px !important;
    background: #f0f0f0;
}

.LoadingDiv
{
    position: fixed;
    top: 0 px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 999999999999999999999999;
    display: none;
    background: rgba(255,255,255,0.2);
}

.LoadingDiv img
{
    position: fixed;
    top: 50%;
    left: 50%;
}


.GSTManagePageForms{ display:none;}



