body{  font-family:'proxima_nova_rgregular'; }

.header{ background:#44525a; }
.mainNavigation
{
	border-top:1px solid #58bea9;
background-color: #2eb398;
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
}

.header .portion1 .logo a{ background:url(../img/GSTPad.png) top left no-repeat;}
.header .portion1 .rightLinks a, .header .portion1 .rightLinks a:hover{
 color:#8e969b;
background-color: #44525a;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
border: solid 1px #2e404a;}



.header .portion1 .dropdown-submenu:hover > a, .header .portion1 .dropdown-submenu:focus > a {
   color:#fff; background-color: #2eb398;
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
}


.header .btn-group a.btn {  color:#8e969b!important;
background-color: #44525a!important; border: solid 1px #2e404a;}
.header .btn-group .dropdown-menu{ background:#44525a}
.header .btn-group .dropdown-menu a{color:#8e969b;}
.header .btn-group .dropdown-menu a:hover{color:#fff; background-color: #2eb398;
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));}

.header .portion1 .rightLinks .rightSearch{  color:#8e969b;
 background-color: #44525a;
-webkit-box-shadow: 0 1px 1px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.12);
-moz-box-shadow: 0 1px 1px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.12);
box-shadow: 0 1px 1px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.12);
border: solid 1px #2e404a; }

.header .portion1 .rightLinks .rightSearch:focus{ background:#fff!important}

.header .portion1 .rightLinks .rightSearch input{ color:#8e969b;}

.mobileNavMain{border-top:1px solid #58bea9;
background-color: #2eb398;
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(0,0,0,.12), rgba(149,149,149,.12) 15%, rgba(255,255,255,.12));color:#FFFFFF;}
.mainNavigation #navMain a{ color:#fff;}
.mainNavigation #navMain a:hover, .mainNavigation #navMain a.active{ text-decoration:none; border-bottom:4px solid #158c73;}

.mainNavigation .customize{ 
background-color: #2eb398;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
background-image: -webkit-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12)); color:#fff; text-decoration:none; }

.leftPanel{ background:#44525a;}

#accordion2 .accordion-inner { border:0; border-top:1px solid #354046;}
#accordion2 .accordion-heading a{ color:#aaaaaa;  border-bottom:1px solid #5d6970;  border-top:1px solid #354046;  background: #55656e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NjU2ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzU0NjM2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NDYxNjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #55656e 0%, #54636b 48%, #546168 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55656e), color-stop(48%,#54636b), color-stop(100%,#546168)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #55656e 0%,#54636b 48%,#546168 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #55656e 0%,#54636b 48%,#546168 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #55656e 0%,#54636b 48%,#546168 100%); /* IE10+ */
background: linear-gradient(to bottom, #55656e 0%,#54636b 48%,#546168 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55656e', endColorstr='#546168',GradientType=0 ); /* IE6-8 */}

 
#accordion2 .accordion-inner ul li a{   color:#b8bdc0;}
	#accordion2 .accordion-inner ul li a:hover,#accordion2 .accordion-inner ul li a.active{ color:#fff; border-right:5px solid #2eb398; background:#4c5861;}

#accordion2 .accordion-heading a div.dashboard{ background-image:url(../img/green/left-icon/grid-icon.png)}
#accordion2 .accordion-heading a div.sales{ background-image:url(../img/green/left-icon/headphone-icon.png)}
#accordion2 .accordion-heading a div.finance{ background-image:url(../img/green/left-icon/bill-icon.png)}
#accordion2 .accordion-heading a div.projects{ background-image:url(../img/green/left-icon/file-icon.png)}
#accordion2 .accordion-heading a div.admin{ background-image:url(../img/green/left-icon/clipboard-icon.png)}
#accordion2 .accordion-heading a div.service{ background-image:url(../img/green/left-icon/box-icon.png)}
#accordion2 .accordion-heading a div.role{ background-image:url(../img/green/left-icon/mail-icon.png)}

.tabLeftNavTrigger{ text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);background-color: #2eb398;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
background-image: -webkit-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12)); color:#fff; }

.tabLeftNavTrigger:hover, .tabLeftNavTrigger:focus{ color:#fff;}


.table a{ color:#2eb398}
.btn-theme-action{
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #2eb398;
-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.12);
-moz-box-shadow: 0 2px 3px rgba(0,0,0,.12);
box-shadow: 0 2px 3px rgba(0,0,0,.12);
border: solid 1px #1c9d83;
color:#fff;
text-shadow: 0 1px 2px rgba(0,0,0,.11);

}
.btn-theme-action:hover, .btn-theme-action:focus, .btn-theme-action:active{background: #2eb398; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.30);
-moz-box-shadow: 0 2px 3px rgba(0,0,0,.30);
box-shadow: 0 2px 3px rgba(0,0,0,.30); color:#fff;
text-shadow: 0 1px 2px rgba(0,0,0,.11);}
