.dashContent .accordion .formTitleAccordian{line-height:35px; font-size:16px;}
		.dashContent .accordion .formBody{background:#fff;}
		.dashContent .accordion a{text-decoration:none;}
		table.small-font-grid th, table.small-font-grid td{ font-size:9px!important;}
		table.small-font-grid-sale-invoice th, table.small-font-grid-sale-invoice td{ font-size:11px!important; padding:0; margin:0; text-align:center; vertical-align:middle}
		
		table.small-font-grid-sale-invoice td{ vertical-align:top}
		table.small-font-grid-sale-invoice th{ background:#3688B9; color:#fff}
		.small-font-grid-sale-invoice select{ border-radius:0;  outline:none; margin:0;}
		.small-font-grid-sale-invoice .invoiceQty{ width:60px; margin:0px; border-radius:0;}
		.small-font-grid-sale-invoice .invoiceDisc{ width:60px; margin:0px; padding:0px;}
		.small-font-grid-sale-invoice .invoiceRate{ width:75px; margin:0px; border-radius:0;}
		.sweet-alert ul{ text-align:left}
		
 
 .leftPanelGSTPad{ z-index:20000; border-right:1px solid #ddd;transition: all 0.5s ease-in-out; margin-left:-201px; display:block!important}
 .leftPanelGSTPad_Open{ margin:0; }
 #DrawerBtnGST{width:25px; height:24px; background:#F47E30; position:absolute; right:-25px; z-index:9999999; top:10px; border:1px solid #F47E30; border-left:0px; cursor:pointer; padding-top:1px;}
 #DrawerBtnGST .btnbar{width:14px; height:2px; float:left; background:#fff; margin-top:4px; margin-left:6px;}
 .gstLogo {height:25px; margin-left:20px;}
 .masterForm{ margin-bottom:0}
 .containerWrap{margin-left:0!important}
 #containerMain{margin-top:45px!important}
 .GSTSideBarLogo{position:absolute; top:20px; width:100%; left:50%; margin-left:-42px;}
