body{  font-family:'proxima_nova_rgregular'; }

.header{ background:#ffffff; }
.mainNavigation
{
	border-top:1px solid #254b70;
background-color: #325c84; 
}

.header .portion1 .logo a{ background:url(../img/GSTPad.png) top left no-repeat;}
.header .portion1 .rightLinks a, .header .portion1 .rightLinks a:hover{
 color:#8e969b;
background-color: #44525a;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
box-shadow: 0 1px 3px rgba(0,0,0,.12), inset 0 1px 1px rgba(255,255,255,.12), inset 0 0 5px rgba(68,82,90,.12);
border: solid 1px #2e404a;}



.header .portion1 .dropdown-submenu:hover > a, .header .portion1 .dropdown-submenu:focus > a {
   color:#fff; background-color: #4dacfe;
}


.header .btn-group a.btn {  color:#bcbcbc!important; border:1px solid #bcbcbc!important; -moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none;
background-color: #fff!important; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;}
.header .btn-group .dropdown-menu{ background:#fff; border:1px solid #bcbcbc}
.header .btn-group .dropdown-menu a{color:#bcbcbc;}
.header .btn-group .dropdown-menu a:hover{color:#fff; background-color: #4dacfe; }

.header .portion1 .rightLinks .rightSearch{  color:#8e969b;
 background-color: #44525a;
-webkit-box-shadow: 0 1px 1px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.12);
-moz-box-shadow: 0 1px 1px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.12);
box-shadow: 0 1px 1px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.12);
border: solid 1px #2e404a; }

.header .portion1 .rightLinks .rightSearch:focus{ background:#fff!important}

.header .portion1 .rightLinks .rightSearch input{ color:#8e969b;}

.mobileNavMain{border-top:1px solid #254b70;
background-color: #325c84; color:#FFFFFF;}
.mainNavigation #navMain a{ color:#fff;}
.mainNavigation #navMain a:hover, .mainNavigation #navMain a.active{ text-decoration:none; border-bottom:4px solid #538bba;}

.mainNavigation .customize{ 
background-color: #6294be;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
background-image: -webkit-linear-gradient(bottom, rgba(98,148,190,.12), rgba(78,128,171,.12) 17%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(98,148,190,.12), rgba(78,128,171,.12) 17%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(98,148,190,.12), rgba(78,128,171,.12) 17%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(98,148,190,.12), rgba(78,128,171,.12) 17%, rgba(255,255,255,.12)); color:#fff; text-decoration:none; }

.leftPanel{ background:#fff; -moz-box-shadow: inset -5px 0 5px -5px hsla(0,0%,0%,.10); -webkit-box-shadow: inset -5px 0 5px -5px hsla(0,0%,0%,.10);box-shadow: inset -5px 0 5px -5px hsla(0,0%,0%,.10);}
.leftUserDetails span{ color:#393939;}
#accordion2{ border-top:1px solid #dddddd;}
#accordion2 .accordion-inner { border:0; border-bottom:1px solid #dddddd; background:#f5f5f5; 
-moz-box-shadow: inset -5px 0 5px -5px hsla(0,0%,0%,.10); -webkit-box-shadow: inset -5px 0 5px -5px hsla(0,0%,0%,.10);box-shadow: inset -5px 0 5px -5px hsla(0,0%,0%,.10);
}
#accordion2 .accordion-heading a{
color:#999999;  border-bottom:1px solid #dddddd;  border-top:1px solid #ffffff;  

background-color: #f7f7f7;
background-image: -webkit-linear-gradient(bottom, rgba(247,247,247,.12), rgba(241,241,241,.12) 17%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(247,247,247,.12), rgba(241,241,241,.12) 17%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(247,247,247,.12), rgba(241,241,241,.12) 17%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(247,247,247,.12), rgba(241,241,241,.12) 17%, rgba(255,255,255,.12));

-moz-box-shadow: inset -5px 0 5px -5px hsla(0,0%,0%,.10); -webkit-box-shadow: inset -5px 0 5px -5px hsla(0,0%,0%,.10);box-shadow: inset -5px 0 5px -5px hsla(0,0%,0%,.10);
text-shadow:none; -moz-text-shadow:none; -ms-text-shadow:none; -o-text-shadow:none; -webkit-text-shadow:none;

}

#accordion2 .accordion-heading a:hover,#accordion2 .accordion-heading a.active{
	color:#4DACFE;
}

 
#accordion2 .accordion-inner ul li a{   color:#aaaaaa;  text-shadow:none; -moz-text-shadow:none; -ms-text-shadow:none; -o-text-shadow:none; -webkit-text-shadow:none;}
	#accordion2 .accordion-inner ul li a:hover,#accordion2 .accordion-inner ul li a.active{ color:#4dacfe; border-right:5px solid #4dacfe; background:#f0f0f0;
	}

#accordion2 .accordion-heading a div.dashboard{ background-image:url(../img/white/left-icon/grid-icon.png)}
#accordion2 .accordion-heading a div.sales{ background-image:url(../img/white/left-icon/headphone-icon.png)}
#accordion2 .accordion-heading a div.finance{ background-image:url(../img/white/left-icon/bill-icon.png)}
#accordion2 .accordion-heading a div.projects{ background-image:url(../img/white/left-icon/file-icon.png)}
#accordion2 .accordion-heading a div.admin{ background-image:url(../img/white/left-icon/clipboard-icon.png)}
#accordion2 .accordion-heading a div.service{ background-image:url(../img/white/left-icon/box-icon.png)}
#accordion2 .accordion-heading a div.role{ background-image:url(../img/white/left-icon/mail-icon.png)}

.tabLeftNavTrigger{ text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);background-color: #2eb398;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
box-shadow: 0 1px 3px rgba(0,0,0,.22), inset 0 1px rgba(255,255,255,.22);
background-image: -webkit-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: -moz-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: -o-linear-gradient(bottom, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12));
background-image: linear-gradient(to top, rgba(170,170,170,.12), rgba(238,238,238,.12) 17%, rgba(255,255,255,.12)); color:#fff; }

.tabLeftNavTrigger:hover, .tabLeftNavTrigger:focus{ color:#fff;}


.table a{ color:#2eb398}
.btn-theme-action{
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #6294be;
-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.12);
-moz-box-shadow: 0 2px 3px rgba(0,0,0,.12);
box-shadow: 0 2px 3px rgba(0,0,0,.12);
border: solid 1px #6294be;
color:#fff;
text-shadow: 0 1px 2px rgba(0,0,0,.11);

}
.btn-theme-action:hover, .btn-theme-action:focus, .btn-theme-action:active{
	background: #6294be; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.30);
-moz-box-shadow: 0 2px 3px rgba(0,0,0,.30);
box-shadow: 0 2px 3px rgba(0,0,0,.30); color:#fff;
text-shadow: 0 1px 2px rgba(0,0,0,.11);}
