﻿

@{
    Layout = null;
}

<style>
    .custom-header {
        position: relative;
    }

        .custom-header .close {
            position: absolute;
            right: 15px;
            margin: 0 !important;
            font-size: 24px;
        }

        .custom-header .setting {
            color: black;
            font-size: 18px;
            margin: 0px;
            position: absolute;
            right: 35px;
        }
</style>

@helper ManageUser()
{
    <div class="modal-popup" id="ManageUser_Div" hidden>
        <div class="modal-popup-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"></h4>

                    <div class="col-md-6">
                        <label>User Ids Against <label></label></label>
                    </div>

                </div>

                <div class="row modal-body">
                    <table>
                        <tr>
                            <td>Type</td>
                            <td>Name</td>
                            <td>Action</td>
                        </tr>

                        @*@foreach (var item in @User.UserList)
                            {
                                <tr>
                                    <td>@item.ContactType</td>
                                    <td>@item.Name</td>
                                    <td><i data-id="@item.UserId" class="fa fa-times-circle"></i></td>
                                </tr>
                            }*@
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" name="save" class="btn btn-danger " id="close_div">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

}
@helper PopUpWithTwoConfirmations(string popupid, string popupclosebuttonid, string fisrtbuttonid, string secondbuttonid)
{

    <div class="modal-popup" id=@popupid hidden>
        <div class="modal-popup-body" style="width:343px">
            <div class="modal-content">

                <div class=" modal-header">
                    <button type="button" id=@popupclosebuttonid name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div id="headertext"></div>
                </div>
                <div class=" modal-body">
                    <div style="text-align:center" class="top-space-10">
                        <input id=@fisrtbuttonid type="button" value="Announce" />
                    </div>
                    <div style="text-align:center" class="top-space-10">
                        <input id=@secondbuttonid type="button" value="WithHold" />
                    </div>
                </div>


            </div>
        </div>
    </div>

}

@helper ModelPopUp(string popupid, string popupclosebuttonid, string modelbodyId, string modelheadertext)
{

    <div class="modal-popup" id=@popupid hidden>
        <div class="modal-popup-body" style="width:343px">
            <div class="modal-content">

                <div class=" modal-header">
                    <button type="button" id=@popupclosebuttonid name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div id="headertext">@modelheadertext</div>
                </div>
                <div class="modal-body" id="@modelbodyId">


                </div>


            </div>
        </div>
    </div>
    <script>
        $('#' + '@popupclosebuttonid').click(function () {
            $('#' + '@popupid').hide();
        })
    </script>

}


@helper BasicModelPopUp(string popupid, string UpperCornerPopupCloseButtonId, string modelbodyId, string FooterPopupCloseButtonId, string modelheadertext = "",
                        string modelfooterId = "", string footerExtraButtonText = "", string popupExtrabuttonid = "")
{
    <div class="modal-popup" id=@popupid>
        <div class="modal-popup-body">
            <div class="modal-content">
                <div class="modal-header">
                    @if (!string.IsNullOrEmpty(UpperCornerPopupCloseButtonId))
                    {
                        <button type="button" id=@UpperCornerPopupCloseButtonId name=@UpperCornerPopupCloseButtonId class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    }
                    <div id="headertext">@modelheadertext</div>
                </div>
                <div class="row modal-body" id="@modelbodyId">
                </div>

                <div class="modal-footer" id="@modelfooterId">
                    @if (!string.IsNullOrEmpty(popupExtrabuttonid))
                    {
                        <button type="button" class="btn btn-success" id=@popupExtrabuttonid>
                            @footerExtraButtonText
                        </button>
                    }
                    @if (!string.IsNullOrEmpty(FooterPopupCloseButtonId))
                    {
                        <button type="button" name=@FooterPopupCloseButtonId class="btn btn-danger " id=@FooterPopupCloseButtonId>
                            Close
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
                            $('#' + '@FooterPopupCloseButtonId').click(function () {
                                $('#' + '@popupid').hide();
                            })

                            $('#' + '@UpperCornerPopupCloseButtonId').click(function () {
                                $('#' + '@popupid').hide();
                            })
    </script>
}



@helper OptionSMSMobileNumber(string PopupID, string PopupTitleId, string PopupTitle, string PopupSubTitle, string PopupDrpId,
        string SavebtnId, string ClosebtnId, string DefaultSelectedOption, string DescriptionAllow = "")
{
    <div class="modal-popup" id='@PopupID' hidden>
        <div class="modal-popup-body" style="">
            <div class="modal-content">
                <div class="modal-header" style="padding: 5px 0px 0px 10px;">
                    <h4 class="modal-title" id='@PopupTitleId'>@PopupTitle</h4>
                    <span style="font-size: 12px;">@PopupSubTitle</span>
                </div>
                <div class="row modal-body">
                    <div class="col-md-6 form-inline" style="margin:0 0px 0px 45px;">
                        <label>From:</label>
                        <select class="form-control" style="width:180px;" id='@PopupDrpId'>
                            <option value="">--Select--</option>
                            <option value="SMS">Student SMS Mobile No.</option>
                            <option value="SMN">Student Mobile No.</option>
                            <option value="GMN">Guardian Mobile No.</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <button type="button" name="save" class="btn btn-success " id='@SavebtnId'>
                            Set Number
                        </button>
                    </div>
                    @if (!string.IsNullOrEmpty(DescriptionAllow))
                    {
                        <div class="HwDesc col-md-6" style="margin:0 0px 0px 45px;margin-top:25px;display:none">
                            <input type="checkbox" id="@DescriptionAllow" /> Allow Description
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" name="close" class="btn btn-danger " id='@ClosebtnId'>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
            $(document).ready(function () {
                            var selected = '@DefaultSelectedOption';
                            //alert(selected);
                            if (selected != "")
                    $('#' + '@PopupDrpId').val(selected);
                        });
    </script>
}

@helper FeedeaulterModelPopUp(string popupid, string popupclosebuttonid, string modelbodyId, string modelheadertext, string html)
{

    <div class="modal-popup" id=@popupid hidden>
        <div class="modal-popup-body" style="width:600px">
            <div class="modal-content">

                <div class=" modal-header custom-header" style='position: relative;'>

                    <button type="button" id=@popupclosebuttonid name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close" style='position: absolute;right: 15px;margin: 0 !important;font-size: 24px;'>
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <a href='javascript:void(0);' title='Set Default Values' id='btnFeeSMSSettings' class='setting' style='color: black;font-size: 18px;margin: 0px;position: absolute;right: 35px;'><i class='fa fa-gear'></i></a>
                    <div id="headertext">@modelheadertext</div>
                </div>
                <div class="modal-body" id="@modelbodyId">

                    @System.Web.Mvc.MvcHtmlString.Create(html)
                </div>


            </div>
        </div>
    </div>
    <script>
        $('#' + '@popupclosebuttonid').click(function () {
            $('#' + '@popupid').hide();
                    })
    </script>

}
@helper FeedeaulterexecelModelPopUp(string popupid, string popupclosebuttonid, string modelbodyId, string modelheadertext, string html)
{

    <div class="modal-popup" id=@popupid hidden>
        <div class="modal-popup-body" style="width:600px">
            <div class="modal-content">

                <div class=" modal-header custom-header" style='position: relative;'>

                    <button type="button" id=@popupclosebuttonid name="savecontactInfodetail" class="close" data-dismiss="modal" aria-label="Close" style='position: absolute;right: 15px;margin: 0 !important;font-size: 24px;'>
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div id="headertext">@modelheadertext</div>
                </div>
                <div class="modal-body" id="@modelbodyId">

                    @System.Web.Mvc.MvcHtmlString.Create(html)
                </div>


            </div>
        </div>
    </div>
    <script>
        $('#' + '@popupclosebuttonid').click(function () {
            $('#' + '@popupid').hide();
                    })
    </script>

}

@helper ModifyEnddate(string popupid, string popupclosebuttonid)
{

    <!-- close dates blocks -->
    <div class="view_dialog_box viewbox_div studentTransportViewbox" id="@popupid" hidden>
        <div style="width:100%; height:25px; float:left;">
            <font style="float:left; padding:2px 10px;">
                <b>Modify End Date </b>
            </font>
            <a class="text-danger" href="javascript:void(0);" id="@popupclosebuttonid">
                <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
            </a>
        </div>
        <div class="row top-space-10">
            <div class="col-md-12" id="DialogFromDate_Div">
                <label class="control-label col-md-3">Close Date</label>
                <div class="col-md-8">
                    @*@Html.TextBox("ClearEndDate")*@
                    <input type="text" id="ClearEndDate" />
                </div>
            </div>
            <br />
            <div class="col-md-12 top-space-10" style="margin-bottom:10px;">
                <label class="col-md-3"></label>
                <div class="col-md-4">
                    <button type="button" id="update_common_ViewBox" class="btn btn-default ">
                        <i class="fa fa-floppy-o"></i>
                        Update
                    </button>
                </div>
                <div class="col-md-3">
                    <button type="button" id="reset_ViewBox" class="btn btn-danger save_ViewBox">

                        Clear
                    </button>
                </div>
            </div>
        </div>

        <script>
        $(document).ready(function () {
            //$('.btn-custom').tooltip();
            //$('.btn-custom-alt').tooltip({
            //    customClass: 'tooltip-custom-alt'
            //});

            $("#ClearEndDate").kendoDatePicker({
                format: "dd/MM/yyyy",
               value: new Date(),
              min: new Date()


            });
        });


        // save extend or close time table
        @*$('#save_ViewBox_@prefix').click(function () {
            // create model
            var CloseDate = GetDateFromString($('#tttdate').val());
            if (CloseDate != "") {
                var tptfacik = $('#TransportFacility_TptFacilityId').val();

                $('#ks_loader').show();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("CloseTransportFacilityByStudent", "Student"))',
                    data: { "TptFacIk": tptfacik, "Date": CloseDate },
                    success: function (result) {


                            if (result.status == "success") {
                                if ($("#IsViewInTransport").val() == "true") {
                                    $("#ViewBox").hide(800);
                                    var EncStudentId = $("#intStudentId").val();
                                    GetStudentTransportHistory(EncStudentId);
                                    divDisable();
                                }
                                else {
                                    //window.onbeforeunload = null;
                                    window.location.reload();
                                }
                            }
                            else {
                                var validationmsg = "";
                                var validationaray = result.data.split('ε');
                                for (var i = 0; i < validationaray.length - 1; i++)
                                    validationmsg = validationmsg + validationaray[i] + " <br />";
                                if (validationmsg != "")
                                    ToastMessage(validationmsg, "error", true, 5000);
                            }

                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, data) {
                        var err = "Error: " + " " + status + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                $('#inner_validation_div').show();
                var validationmsg = "Close date required";
                ToastMessage(validationmsg, "error", true, 5000);
            }
        });*@


             $('#' + '@popupclosebuttonid').click(function () {
            $('#' + '@popupid').hide();
        })

        </script>
    </div>
    <!--close dates blocks -->



}


@functions{
    static DAL.DAL.Common.ConnectionService ConnectionService = new DAL.DAL.Common.ConnectionService();
    static string DataSource = ConnectionService.Connectionstring(Convert.ToString(Session["SchoolDB"]));
    static KSModel.Models.KS_ChildEntities db1 = new KSModel.Models.KS_ChildEntities(DataSource);
    public static readonly string __siteHome = "http://www.example.com";
    public static readonly string currencyCode = db1.SchoolSettings.Where(m => (m.AttributeName.ToLower()) == "CurrencyIcon").FirstOrDefault().AttributeValue;
}
