﻿@model ViewModel.ViewModel.Schedular.SchedularModel

@*hidden fields*@
@Html.HiddenFor(m => m.EncEventId)
@Html.HiddenFor(model => model.ClassIdArray)
@Html.HiddenFor(model => model.StartTime, new { Id = "HdnStartTime" })
@Html.HiddenFor(model => model.EndTime, new { Id = "HdnEndTime" })
@Html.HiddenFor(model => model.CircularDocFileName)
@Html.HiddenFor(m => m.EventTypeId)

<!-- change default values -->
<div class="modal-popup" id="EventTriggerSetting_Div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeEventTriggerSetting_div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Generate Events Default Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row well">
                    <h4>Teacher SMS Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.SMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.NonAppUser)
                    </div>
                    <div class="col-md-3">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.Notification)
                    </div>
                </div>
                <hr />
                <div class="row well">
                    <h4>Student SMS Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.StuSMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.StuNonAppUser)
                    </div>
                    <div class="col-md-4">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.StuNotification)
                    </div>
                    <div class="col-md-3">
                        <label>SMS Mobile No.:</label>
                        @Html.DropDownListFor(m => m.SMSSelectionStudentMobileNo, Model.AvailableSendMessageMobileNoOptions,
                        new { @class = "form-control", @style = "width:180px;" })
                    </div>
                </div>
                <hr />
                <div class="row well">
                    <h4>Guardian SMS Settings :</h4>
                    <div class="col-md-3">
                        <label>SMS</label>
                        @Html.CheckBoxFor(model => model.GuardSMS)
                    </div>
                    <div class="col-md-3">
                        <label>Non-App User</label>
                        @Html.CheckBoxFor(model => model.GuardNonAppUser)
                    </div>
                    <div class="col-md-4">
                        <label>Notification</label>
                        @Html.CheckBoxFor(model => model.GuardNotification)
                    </div>
                </div>
                &nbsp;&nbsp;
                &nbsp;
                <div class="modal-footer">
                    <button type="button" id="btnEventTriggerDefaultVal" class="btn btn-success ">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>

@*event info*@
<form class="form ks-custom-form" enctype="multipart/form-data">
    <div class="row top-space-10">

        @*<div class="col-md-4 form-group ">
            <label class="control-label">Event Type<i class="fa fa-asterisk ks-required"></i></label>
            @Html.DropDownListFor(m => m.EventTypeId, Model.AvailableEventTypeList, new { @class = "form-control" })
            <label style="display: none" class="label-as-control eventtype"></label>
        </div>*@

        <div class="col-md-8 form-group EventTitle_div" style="display:none">
            @*@Html.Label("Title")*@
            <label class="control-label ">Title<i class="fa fa-asterisk ks-required"></i></label>
            @Html.TextBoxFor(m => m.EventTitle, new { @class = "form-control", maxlength = 50 })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group fields_hide CircularDate_div" style="display:none">
            <label class="CircularDate control-label" id="circularDate_label">Circular Date<i class="fa fa-asterisk ks-required"></i></label>
            <div>
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control StartDate KendoDatepickerstartdate", @id = "CircularDate", @style = "width: 100%" })
            </div>
        </div>

        <div class="col-md-3 form-group AllowedTo_div" style="display:none">
            <label class="control-label">Addressed To<i class="fa fa-asterisk ks-required"></i></label>
            @Html.DropDownListFor(m => m.AllowedTo, Model.AvaiableContactTypes, new { @class = "form-control", @style = "resize:none;" })
        </div>

        <div class="col-md-3 form-group UploadFile_div" style="display:none">
            <label class=" control-label">Upload Document</label>
            <div class="form-control" style="height: 60px;">
                <input type="file" name="UploadFile_contrl" id="UploadFileEvent_contrl" style="width:185px;" />
                @{if (Model.CircularDocFileName != "")
                {
                    <label id="AlreadyUploadedDocName">@Model.CircularDocFileName</label>
                }}
            </div>
        </div>

        <div class="col-md-3 form-group UploadFileCaption_div" style="display:none">
            <label class=" control-label">Document Caption</label>
            @Html.TextBoxFor(m => m.CircularDocCaption, new { @class = "form-control", @maxlength = "150" })

        </div>

        <div class="col-md-3 form-group fields_hide StartDate_div" style="display:none">
            <label class="StartDate control-label" id="startdate_label">Start Date<i class="fa fa-asterisk ks-required"></i></label>
            <div>
                @Html.TextBoxFor(m => m.StartDate, new
           {
               @class = "form-control StartDate KendoDatepickerstartdate",
               @id = "StartDate",
               @style = "width: 100%"
           })
            </div>
        </div>


        <div class="col-md-3 form-group fields_hide StartTime_div" style="display:none">
            @Html.Label("Start Time", new { @class = "StartTime" })
            <input type="text" id="StartTime" class="form-control StartTime" />
        </div>

        <div class="col-md-3 form-group fields_hide EndDate_div" style="display:none">
            <label class="EndDate control-label">End Date<i class="fa fa-asterisk ks-required"></i></label>
            <div>
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control KendoDatepickerenddate EndDate", @id = "EndDate", @style = "width: 100%" })
            </div>
        </div>

        <div class="col-md-3 form-group fields_hide EndTime_div" style="display:none">
            @Html.Label("End Time", new { @class = "EndTime" })
            <input type="text" id="EndTime" class="form-control EndTime" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group Description_div" style="display:none">
            @*@Html.Label("Description")*@
            <label class="control-label">Description<i class="fa fa-asterisk ks-required"></i></label>
            @Html.TextAreaFor(m => m.Description, 5, 20, new { @class = "form-control", @style = "resize:none;" })
        </div>

        <div class="col-md-6 form-group venue_show fields_hide Venue_div" style="display:none">
            @*@Html.Label("Venue")*@
            <label class="control-label">Venue<i class="fa fa-asterisk ks-required"></i></label>
            @Html.TextAreaFor(m => m.Venue, 5, 20, new { @class = "form-control", maxlength = 150, @style = "resize:none;" })
        </div>
    </div>
    <div class="row">

        <div class="col-md-3 form-group fields_hide class_show Class_div" style="display:none;height:100px">
            @*@Html.Label("Class")*@
            <label class="control-label  ">Class<i class="fa fa-asterisk ks-required"></i></label>
            <div class="classlist" style="max-height:100px;max-width:150px;overflow-y:scroll;border:1px solid #aaa">
                @foreach (var m in Model.AvailableClassList)
                {
                    <div style=" padding-left 5px">
                        <input type="checkbox" disabled="@m.Disabled" checked="@m.Selected" class="ClassId" id="@m.Text@m.Value" value=@m.Value /><label class="ClasslabelId" for="@m.Text@m.Value"> @m.Text</label>
                    </div>
                }
            </div>
        </div>

        @if (Model.EncEventId != null)
        {
            <div class="col-md-9 form-group active_div">
                <label id="active_checkbox" class="checkbox" for="IsActive" style="margin-top:0; cursor:pointer">
                    Active
                </label>
                @Html.CheckBoxFor(m => m.IsActive)
                @*<input type="checkbox" checked="" id="IsActive" />*@
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12 form-group top-space-10">
            @if (Model.EncEventId != null)
            {
                <input type="button" class="btn btn-success" id="Submit-reply-btn" value="Update">
            }
            else
            {
                <input type="button" class="btn btn-success" id="Submit-reply-btn" value="Save">
            }
        </div>
    </div>

</form>

<script>

    $(document).ready(function () {
        $("#SMS").change(function () {
            if ($(this).is(":checked"))
                $("#NonAppUser").removeAttr("disabled");
            else
                $("#NonAppUser").attr("disabled", true);

        });

        $("#StuSMS").change(function () {
            if ($(this).is(":checked"))
                $("#StuNonAppUser").removeAttr("disabled");
            else
                $("#StuNonAppUser").attr("disabled", true);

        });

        $("#GuardSMS").change(function () {
            if ($(this).is(":checked"))
                $("#GuardNonAppUser").removeAttr("disabled");
            else
                $("#GuardNonAppUser").attr("disabled", true);

        });
    });

    $("#SendEventDefault_Setting").click(function () {
        $("#EventTriggerSetting_Div").show();
    });

    $("#closeEventTriggerSetting_div").click(function () {
        $("#EventTriggerSetting_Div").hide();
    });



    $("#btnEventTriggerDefaultVal").click(function () {
        var ObjDEfaultSettings = new Object();
        ObjDEfaultSettings.StuSMS = $("#StuSMS").prop("checked");
        ObjDEfaultSettings.StuNonAppUser = $("#StuNonAppUser").prop("checked");
        ObjDEfaultSettings.StuNotification = $("#StuNotification").prop("checked");
        ObjDEfaultSettings.SMSSelectionStudentMobileNo = $("#SMSSelectionStudentMobileNo").val();

        ObjDEfaultSettings.SMS = $("#SMS").prop("checked");
        ObjDEfaultSettings.NonAppUser = $("#NonAppUser").prop("checked");
        ObjDEfaultSettings.Notification = $("#Notification").prop("checked");

        ObjDEfaultSettings.GuardSMS = $("#GuardSMS").prop("checked");
        ObjDEfaultSettings.GuardNonAppUser = $("#GuardNonAppUser").prop("checked");
        ObjDEfaultSettings.GuardNotification = $("#GuardNotification").prop("checked");

        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("InsertEventTriggerDefualtValues", "Schedular"))',
            data: ObjDEfaultSettings,
            success: function (res) {
                if (res.status == "Success") {
                    ToastMessage("Trigger default values are upated successfully", "success", true, 5000);
                }
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(err, "error", true, 5000);
            }
        });
        $("#EventTriggerSetting_Div").hide();
    });



    $('#StartTime').timepicki();
    $('#EndTime').timepicki();

    var imagepath = "";
    @if (!string.IsNullOrEmpty(Model.EndTime))
    {
        <text>

    $('#EndTime').on("focusin click", function () {
        var fullendtime = $(this).val();
        var endtimearray = fullendtime.split(' ');
        var endtimehour = endtimearray[0].split(':')[0];
        var endtimemin = endtimearray[0].split(':')[1];
        var endtimeperiod = endtimearray[1];

        setTimeout(function () {
            $('.timepicki-input:nth(3)').val(endtimehour);
            $('.timepicki-input:nth(4)').val(endtimemin);
            $('.timepicki-input:nth(5)').val(endtimeperiod);
        }, 200);
    });

    </text>
    }

    @if (!string.IsNullOrEmpty(Model.StartTime))
    {
        <text>

    $('#StartTime').on("focusin click", function () {
        var fullstarttime = $(this).val();
        var starttimearray = fullstarttime.split(' ');
        var starttimehour = starttimearray[0].split(':')[0];
        var starttimemin = starttimearray[0].split(':')[1];
        var starttimeperiod = starttimearray[1];

        setTimeout(function () {
            $('.timepicki-input:nth(0)').val(starttimehour);
            $('.timepicki-input:nth(1)').val(starttimemin);
            $('.timepicki-input:nth(2)').val(starttimeperiod);
        }, 200);
    });

    </text>
    }

    @if (!string.IsNullOrEmpty(Model.EncEventId))
    {
         <text>
    $('#StartTime').val("@Model.StartTime");
    $('#EndTime').val("@Model.EndTime");
    </text>
    }

    $('#StartTime').change(function () {
        var mindate = $(this).val();
    })

    //$("#EventTitle").keydown(function (e) {
    //    lettersOnly(e);
    //});

    $('.ClassId').click(function () {
        var row = $(this).val();
        var checkifchecked = 0;
        var unchecked = 0;
        var innerrow
        if ($(this).prop('checked') == true) {
            $.each($('.ClassId'), function () {
                innerrow = $(this).val();
                if (innerrow != 1.1 && row == 1.1) {
                    $(this).prop('checked', "checked");
                }

                //check if not any unchecked checkbox .....then check the all classes
                if (innerrow != 1.1 && row != 1.1 && innerrow != row) {
                    if ($(this).prop('checked') == false) {
                        unchecked++;
                    }
                }

                //-------check if not any unchecked checkbox .....then check the all classes
            })
            if (unchecked == 0) {
                $.each($('.ClassId'), function () {
                    var row1 = $(this).val();
                    if (row1 == 1.1) {
                        $(this).prop('checked', "checked");
                    }
                })
            }
        } else {
            $.each($('.ClassId'), function () {

                var innerrow = $(this).val();
                if (innerrow == 1.1 && row != 1.1) {
                    $(this).prop('checked', false);
                }
                if (row == 1.1 && innerrow != 1.1) {
                    $(this).prop('checked', false);
                }
            })
        }
    })

    $('#active_checkbox').change(function () {

        if ($("#IsActive").is(":checked")) {

            $("#IsActive").prop("checked", "checked");
        } else {
            $("#IsActive").prop("checked", false);
        }
    });

    $(".KendoDatepickerstartdate").kendoDatePicker({
        format: "dd/MM/yyyy",
        @*@if (Model.IsBackDateAllowed)
        {
            <text>
        min: '@Model.SessionStartDate',
        </text>
        }
        else
        {
             <text>
        min: new Date(),
        </text>
        }*@

        //max: '@Model.SessionEndDate'
    });

    $(".KendoDatepickerenddate").kendoDatePicker({
        format: "dd/MM/yyyy",
        @if (Model.IsBackDateAllowed)
        {
            <text>
        //min: '@Model.SessionStartDate',
        </text>
    }
    else
    {
        <text>
        // min: new Date(),
        </text>
    }
        //max: '@Model.SessionEndDate'
    });
    var datepicker = $("input#EndDate").data("kendoDatePicker");

    //$('input#StartDate').change(function () {
    //    datepicker.min($("input#StartDate").val());
    //});
    //$('input#CircularDate').change(function () {
    //    datepicker.min($("input#CircularDate").val());
    //});
    $(".KendoDatepickerstartdate").attr("readonly", true);
    $(".KendoDatepickerenddate").attr("readonly", true);


    function EventTypeChange() {
        //loader show
        $('#ks_loader').show();
        if ($('#EncEventId').val() == "") {
            clearfields();
        }
        else {
            //$('#EventTypeId').hide();
            $('.eventtype').show();
         //   $('.eventtype').text($('#EventTypeId option:selected').text());
            $('.eventtype').text('@Model.EventTitle');
        }
        $('#Add_schedular').css('display', 'block');
        implementpermissions();
    }

    function clearfields() {
        $('#EventTitle').val("");
        $('.ClassId').attr('checked', false);
        $('.ClassId').attr('disabled', false);
        $('.StartDate').val("");
        $('.CircularDate').val("");
        $('.AllowedTo').val("");
        $('.UploadFileEvent_contrl').val("");
        $('.EndDate').val("");
        $('#StartTime').val("");
        $('#EndTime').val("");
        $('#Description').val("");
        $('#Venue').val("");
        $("#CircularDocCaption").val("");
        $("#CircularDocFileName").val("");
    }

            //trigger dropdown
            // $('#EventTypeId').val($('#EventTypeId').val()).trigger('change');
                EventTypeChange();

    //hide form fields
    function hideformfields() {
        $('.EventTitle_div').css("display", "none");
        $('.Class_div').css("display", "none");
        $('.CircularDate_div').css("display", "none");
        $('.AllowedTo_div').css("display", "none");
        $('.UploadFile_div').css("display", "none");
        $('.StartDate_div').css("display", "none");
        $('.StartTime_div').css("display", "none");
        $('.EndDate_div').css("display", "none");
        $('.EndTime_div').css("display", "none");
        $('.Description_div').css("display", "none");
        $('.Venue_div').css("display", "none");

        $('.UploadFile_div').css("display", "none");
        $('.UploadFileCaption_div').css("display", "none");

        // $('.active_div').css("display", "none");
    }
    //funtion to show fields based on entries in eventcols table
    function implementpermissions() {
        var EventTypeId = $('#EventTypeId').val();
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("Getfieldstobeshown", "Schedular"))',
            async: "false",
            data: { "EventTypeId": EventTypeId },
            success: function (result) {

                if (result.status == "success") {
                    //hide all form fields
                    hideformfields();
                    //reset label of start date field
                    $('#startdate_label').html("Start Date<i class='fa fa-asterisk ks-required'></i>");

                    //reset label of start date field
                    $('#circularDate_label').html("Circular Date<i class='fa fa-asterisk ks-required'></i>");

                    //Show columns based on list from EventCols
                    $.each(result.hiddencolumnlist, function () {
                        var column = this.Text;
                        if (column == "ClassId") {
                            $('.Class_div').css("display", "block");
                        } else if (column == "Images") {
                            $('.' + column + '_div').css("visibility", '');
                        }
                        else {
                            $('.' + column + '_div').css("display", "block");
                        }
                    });
                    //change text of Start date
                    if ($('.StartTime_div').css('display') == 'none') {
                        if ($('.EndDate_div').css('display') == 'none') {
                            if ($('.EndTime_div').css('display') == 'none') {
                                $('#startdate_label').html("Date<i class='fa fa-asterisk ks-required'></i>");
                            }
                        }
                    }
                    //loader hide
                    setTimeout(
                      function () {
                          $('#ks_loader').hide();
                      }, 2000);

                }
                else {
                    $('#ks_loader').hide();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

    $('#UploadFileEvent_contrl').change(function (e) {
        var imgpath = $(this).val();
        debugger;
        //because this is single file upload I use only first index
        var f = this.files[0]
        var File = e.target.files;
        //here I CHECK if the FILE SIZE is bigger than 10 MB (numbers below are in bytes)
        if (f.size > 10485760 || f.fileSize > 10485760) {
            //show an alert to the user
            ToastMessage("File size exceeded. (Max. 10 MB)", "error", true, 5000);
            //reset file upload control
            this.value = null;
        }
        else if (imgpath != "") {
            // code to get File Extension..
            var arr1 = new Array;
            arr1 = imgpath.split("\\");
            var len = arr1.length;
            var img1 = arr1[len - 1];
            var filext = img1.substring(img1.lastIndexOf(".") + 1);

            // Checking Extension
            if (filext == "jpg" || filext == "jpeg" || filext == "png"
                || filext == "doc" || filext == "docx" || filext == "pdf") {
                var uniqueno = $('#EventTypeId').val();
                // Add the uploaded image content to the form data collection
                if (File.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < File.length; x++) {
                            data.append("file" + x, File[x]);
                        }
                        data.append("uniqueno", uniqueno);
                        data.append("uniqueimage", uniqueno);
                        $("#AlreadyUploadedDocName").html("");
                        $("#AlreadyUploadedDocName").hide();
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("UploadCircularDocs", "Schedular"))',
                            async: false,
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                if (result.status == "success") {
                                    $("#CircularDocFileName").val(result.fileName);
                                    $("#AlreadyUploadedDocName").html(result.fileName);
                                }
                                else {
                                    alert(result.msg);
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] == "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                alert(err);
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
            else {
                ToastMessage("Invalid File Format Selected. Please select File with extension .png,.jpg,.jpeg,.pdf,.doc,.docx"
                            , "error", true, 5000);
                $(this).val("");
                return false;
            }
        }
    })

    //save event
    $("#Submit-reply-btn").click(function (e) {
        $('#ks_loader').show();
        debugger;
        var SchedularModel = new Object();
        SchedularModel.EventTitle = $.trim($('#EventTitle').val());
        SchedularModel.Description = $.trim($('#Description').val());
        var ClassIdArray = new Array();//storing the selected values inside an array
        var EventDetailModel = new Object();
        $('.ClassId').each(function (i, selected) {
            if ($(this).prop('checked') == true) {
                EventDetailModel = new Object();
                EventDetailModel.ClassId = ($(selected).val());
                ClassIdArray.push(EventDetailModel);
            }
        });
        $("#ClassIdArray").val(JSON.stringify(ClassIdArray));
        SchedularModel.ClassId = $("#ClassIdArray").val();

        if ('@Model.EventTitle' == 'Circular') {
            if ($('.CircularDate').val() != null)
                SchedularModel.StartDate = GetDateFromString($('#CircularDate').val());
        }
        else {
            if ($('.StartDate').val() != null)
                SchedularModel.StartDate = GetDateFromString($('#StartDate').val());
        }

        if ($('#AllowedTo').val() != "")
            SchedularModel.AllowedTo = $('#AllowedTo').val();

        SchedularModel.StartTime = $('#StartTime').val();
        if ($('.EndDate').val() != null)
            SchedularModel.EndDate = GetDateFromString($('#EndDate').val());

        SchedularModel.EndTime = $('#EndTime').val();
        SchedularModel.Venue = $.trim($('#Venue').val());
        SchedularModel.EventTypeId = $('#EventTypeId').val();
        SchedularModel.EncEventId = $('#EncEventId').val();
        SchedularModel.CircularDocCaption = $.trim($('#CircularDocCaption').val());
        SchedularModel.CircularDocFileName = $.trim($('#CircularDocFileName').val());
        var enceventid = $('#EncEventId').val();

        if ($('#IsActive').prop("checked")) {
            SchedularModel.IsActive = true;
        } else {
            SchedularModel.IsActive = false;
        }
        // $("#IsActive").prop("checked", false);

        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("AddUpdateEvent", "Schedular"))',
            data: SchedularModel,
            success: function (result) {
                if (result.status == "success") {
                    $('#AddView_div').hide();
                    ToastMessage(result.msg, "success", true, 5000);
                    if (enceventid == "") {
                        clearfields();
                        $('#EncEventId').val("");
                    }
                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }
            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })

    // function get date as string and return date
    function GetDateFromString(date) {
        if (date != null && date != "") {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }
    }

</script>
