﻿@model ViewModel.ViewModel.Schedular.SchedularImagesModel
@*hidden fields*@
@Html.HiddenFor(m => m.EncEventTypeid)
@Html.HiddenFor(m => m.EventType)
@Html.HiddenFor(m => m.EventImagepath)
<input id="rowindex_schedularImages" name="rowindex" type="hidden" value="" />
@*hidden fields*@

<style>
    .row > .column {
        padding: 0 8px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Create four equal columns that floats next to eachother */
    .column {
        float: left;
        width: 25%;
    }

    /* The Modal (background) */
    .eventsModel {
        display: none;
        position: absolute !important;
        /*z-index: 1;*/
        left: 0;
        top: 0;
        width: 100%;
        padding-top : 100px;
        background-color: transparent;
        height: 700px;
    }

    /* Modal Content */
    .eventsModel_Content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }

    /* The Close Button */
    .close {
        color: black;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }

    /* Hide the slides by default */
    .mySlides {
        display: none;
        height: 450px;
        text-align: center;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        background : none !important;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Caption text */
    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }

    img.demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    img.hover-shadow {
        transition: 0.3s;
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #popupEvent_images> .modal-header{
        border: none;
    }
</style>

<div class="modal eventsModel" id="popupEvent_images" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Upload Images</h4>
                <button type="button" id="close_popupEvent" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row modal-body " style="width: 102.5%;">
                <div class="popupEvent_imagesslides">
                    @foreach (var img in Model.imagelist)
                    {
                        <div class="mySlides">
                            <img src='@img.ImageName' style="width:100%;height: 100%;padding: 10px 45px 10px 45px;">
                        </div>
                    }
                </div>
            <a class="prev hover-shadow" onclick="plusSlides(-1)" title="PREV">❮</a>
            <a class="next hover-shadow" onclick="plusSlides(1)" title="NEXT">❯</a>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal-popup" id="ChangeImageCaption_div" hidden>
    <div class="modal-popup-body" style="width: 342px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myImageModalLabel"></h4>

            </div>

            <div class=" modal-body">
                <label>ImageCaption</label>
                <input id="EditableEventImageId" name="EditableEventImageId" type="hidden" value="" />
                <input maxlength="20" id="Editable_ImageCaption" />
                <input type="button" name="name" value="Update" id="Update_ImageCaption" />

            </div>
            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-danger " id="close_div">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12">
        <table id="schedularImages_grid" class="table table-striped table-condensed table-responsive ">
            <thead class="thead-default">
                <tr>
                    <th>Image</th>
                    <th>Image Caption</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="imagesuploaded">
                @if (Model.imagelist.Count > 0)
                {
                    var counter =0;
                    foreach (var img in Model.imagelist)
                    {
                        counter++;
                        <tr>
                            <td class="column"><img class="hover-shadow"
                                             onclick="openModal();currentSlide(@counter)"
                                             src="@img.ImageName" width="60" height="60" /></td>
                            <td ><label id="@img.EncEventImageid" data-value="@img.ImageCaption" data-counter="@counter" class="editCaption td_@counter">@img.ImageCaption</label></td>
                            <td><a id="@img.EncEventImageid" title='Delete' data-toggle="tooltip" data-placement="top" class='k-grid-schedular-myDelete btn btn-default btn-xs'><i class='fa fa-trash'></i></a></td>
                        </tr>//href='@Url.Action("DeleteSchedularEventImages", "Schedular")/@img.EventImageid'
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">
                            No Data Available
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@*<div class="imagesuploaded"></div>*@

<form class="form-horizontal ks-custom-form">
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Image Caption<i class="fa fa-asterisk ks-required"></i></label>
            @Html.TextBoxFor(m => m.ImageCaption, new { @class = "form-control", maxlength = 150 })
        </div>
        <div class="col-md-3">
            <label class=" control-label">Images<i class="fa fa-asterisk ks-required"></i></label>
            <input type="file" name="Eventimage" id="Event-Image" class="form-control" multiple />
        </div>

        <div class="col-md-5">
            <button type="button" id="Save-Image" name="Eventimage" class="btn btn-success" style="margin-top:25px">
                <i class="fa fa-floppy-o"></i>
                Save Image
            </button>
        </div>

    </div>
</form>

<script>
    $(document).on("click",".k-grid-schedular-myDelete",function (e) {
        var id = $(this).attr("id");
        $('#rowindex_schedularImages').val($(this).parent().parent().index());
        var rowindex = $('#rowindex_schedularImages').val();
        if (confirm('Are you sure you want to delete this?')) {
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("DeleteSchedularEventImages", "Schedular"))',
                data: { 'id': id },
                success: function (result) {

                    if (result.status == "success") {
                        var tbl = $('#schedularImages_grid');
                        var rows = $('tr', tbl);
                        rowindex++;
                        var row = rows.eq(rowindex);
                        row.remove();

                        if ($('.imagesuploaded').text() == "") {
                            $('.imagesuploaded').html("<tr><td colspan='3' class='text-center'>No Data Available</td></tr>")
                        }
                        ToastMessage(result.msg, "success", true, 5000);

                        $('#ks_loader').hide();
                        SlideImageList();
                    }
                    else {
                        if (result.msg == "NotValid") {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                        }
                        $('#ks_loader').hide();
                    }
                    //window.location.reload();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }

    })

    //edit Image


    //save image
    $("#Save-Image").click(function (e) {
        $('#ks_loader').show();
        var EventImagevalid = ValidateEventImage();
        var SchedularImagesModel = new Object();
        SchedularImagesModel.ImageCaption = $('#ImageCaption').val();
        SchedularImagesModel.EventImagepath = $('#EventImagepath').val();
        SchedularImagesModel.EncEventTypeid = $('#EncEventTypeid').val();
        if (EventImagevalid != "") {
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("SaveImages", "Schedular"))',
                data: SchedularImagesModel,
                success: function (result) {

                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);
                        $('#ks_loader').hide();
                        SlideImageList();
                        //$('#EventTypeId').val('1');
                        //////if ($('.imagesuploaded').find('td').text().trim() == "No Data Available") {
                        //////    $('.imagesuploaded').text('');
                        //////}
                        //////var NewCount = $('.imagesuploaded').find('tr').length;

                        //////var counter = 0;
                        //////$.each(result.imageslist, function () {
                        //////    counter++;
                        //////    $('.imagesuploaded').append("<tr><td class='column'><img class='hover-shadow' src='"
                        //////        + this.ImageName + "' width='60' height='60' onclick='openModal();currentSlide(" + NewCount + ")' /></td><td>"
                        //////        + "<label id='" + this.EncEventImageid + "' data-value='" + this.ImageCaption + "' data-counter='"+NewCount+"' class='editCaption td_"+NewCount+"'>" + this.ImageCaption + "</label></td><td><a id="
                        //////        + this.EncEventImageid
                        //////        + " title='Delete' class='k-grid-schedular-myDelete btn btn-xs btn-default' style='color:rgb(42, 100, 150); cursor:pointer'><i class='fa fa-trash'></i></a></td></tr>")
                        //////    NewCount++;
                        //////})

                        $('#ImageCaption').val("");
                        $('#Event-Image').val("");
                        $('#EventImagepath').val("");
                    }
                    else {
                        if (result.msg == "NotValid") {
                            var validationaray = result.data.split('ε');
                            for (var i = 0; i < validationaray.length - 1; i++) {
                                ToastMessage(validationaray[i], "error", true, 5000);
                            }
                        }
                        $('#ks_loader').hide();
                    }
                    //window.location.reload();
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        } else {
            $('#ks_loader').hide();
            ToastMessage(validationmessage, "error", true, 5000);
            $(ctrlfocus).focus();

        }
    })

    // validation function
    var valid = true;
    var validationmessage = "";
    var ctrlfocus = "";
    function ValidateEventImage() {
        valid = true;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#ImageCaption').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#ImageCaption";
            validationmessage = validationmessage + "Please enter Image Caption \n";
            valid = false;
        }

        if ($('#EventImagepath').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#Event-Image";
            validationmessage = validationmessage + "Please select Image  \n";
            valid = false;
        }

        return valid;
    }


    //create path for selected image
    $('#Event-Image').on('change', function (e) {
        debugger;
        var uniqueno = $('#EncEventTypeid').val();
        var imagename = FileUploadEventImages(e, uniqueno, uniqueno, 1);
        if (imagename != false) {
            $('#EventImagepath').val(imagename);
        }
        else
            $('#EventImagepath').val("");
    });

    //generate path
    function FileUploadEventImages(e, uniqueno, uniqueimage, IsPhoto) {
        var imagepath = "";
        var files = e.target.files;

        if (files[0].size > 1048576) {
            alert("Filesize is too large. Maximum file size permitted is 10,000 KB")
            $('#Event-Image').val("");
            return false;
        }

        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length == 1) {
            debugger;
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                data.append("uniqueno", uniqueno);
                data.append("uniqueimage", uniqueimage);
                //data.append("IsPhoto", IsPhoto);
                $("#EventImagepath").val();
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("UploadFile","Schedular"))',
                    async: false,
                    contentType: false,
                    processData: false,
                    data:  data,
                    success: function (result) {
                        if (result.status == "success") {
                            imagepath = result.path;
                        }
                        else {
                            alert(result.msg);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        alert(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        } if (files.length > 1) {
            if (window.FormData !== undefined) {
                var data = new FormData();
              for (var x = 0; x < files.length; x++) {
                    $('#ks_loader').show();
                    var data = new FormData();
                    data.append("file" + x, files[x]);

                    data.append("uniqueno", uniqueno);
                    data.append("uniqueimage", uniqueimage);
                    //data.append("IsPhoto", IsPhoto);
                    if (x > 0) {
                        data.append("ImgCount",x)
                    }
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("UploadFile","Schedular"))',
                        async: false,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            $('#ks_loader').hide();
                            if (result.status == "success") {
                                if (imagepath == "" || imagepath == null) {
                                    imagepath = result.path;
                                }
                                else {
                                    imagepath += "ε" + result.path;
                                }
                            }
                            else {
                                alert(result.msg);
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            $('#ks_loader').hide();
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            alert(err);
                        }
                    });
                }
            } else {
                $('#ks_loader').hide();
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        return imagepath;
    }


    //<h4 class="modal-title" id="myImageModalLabel"></h4>
    //        <div class="modal-popup" id="ChangeImageCaption_div" hidden>
    //            <div class=" modal-body">
    //                <label>ImageCaption</label>
    //                <input id="EditableEventImageId" name="EditableEventImageId" type="hidden" value="" />
    //                <input maxlength="20" id="Editable_ImageCaption" />
    //                <input type="button" name="name" value="Update" id="Update_ImageCaption" />

    //            </div>
    //            <div class="modal-footer">
    //                <button type="button" name="save" class="btn btn-danger " id="close_div">
    var ImageCaptionTablevalue = "";
    $(document).on("click", ".editCaption", function () {
        ImageCaptionTablevalue = "";
        $("#Editable_ImageCaption").val("")
        $('#ks_loader').show();
        var EditableEventImageId = $(this).attr("id");
        var CaptionValue = $(this).attr('data-value').trim();
        ImageCaptionTablevalue = $(this).attr('data-counter').trim();
        $("#mySortingModalLabel").text("Change Image Caption Of " + CaptionValue);

        if (EditableEventImageId != null && EditableEventImageId != "") {
            $("#EditableEventImageId").val(EditableEventImageId);
        }
        else {
            ToastMessage("Invalid Event Image", "error", true, 5000);
            $('#ks_loader').hide();
        }
        $("#Editable_ImageCaption").val(CaptionValue);
        $("#ChangeImageCaption_div").show();
        $('#ks_loader').hide();
        $('#Editable_ImageCaption').focus();
    })

    $("#close_div").click(function () {
        ImageCaptionTablevalue = "";
        $("#ChangeImageCaption_div").hide();
    })

    $("#Update_ImageCaption").click(function () {
        var CaptionValue = $("#Editable_ImageCaption").val();
        var EditableEventImageId = $("#EditableEventImageId").val();
        if (CaptionValue == "" || CaptionValue == null) {
            ToastMessage("Image Caption Required", "error", true, 5000);
            return false;
        }

        if (EditableEventImageId != null && EditableEventImageId != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("UpdateEventImageCaption", "Schedular"))',
                data: { "EditableEventImageId": EditableEventImageId, "CaptionValue": CaptionValue },
                success: function (result) {
                    if (result.status == "success") {
                        $("#Editable_ImageCaption").val("");
                        $("#EditableEventImageId").val("");
                        $(".td_" + ImageCaptionTablevalue).text(CaptionValue);
                        $(".td_" + ImageCaptionTablevalue).attr('data-value', CaptionValue)
                        ImageCaptionTablevalue = "";
                        $("#ChangeImageCaption_div").hide();
                        ToastMessage(result.msg, "success", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function () {
                    ToastMessage("error", "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        } else {
            ToastMessage("Invalid Image Caption", "error", true, 5000);
            $('#ks_loader').hide();
        }

    });

    function SlideImageList() {
        var EncEventID = $('#EncEventTypeid').val();
        if (EncEventID != null && EncEventID != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                async: true,
                url: '@Html.Raw(Url.Action("ImageList", "Schedular"))',
                data: { "EncEventID": EncEventID },
                success: function (result) {
                    $(".popupEvent_imagesslides").html("");
                    $(".imagesuploaded").html("");
                    if (result.status == "success") {
                        var slidehtml = "";
                        var tablehtml = "";
                        var count = 0;
                        if (result.imagelist.length > 0) {
                            $.each(result.imagelist, function () {
                                count++;
                                debugger;
                                slidehtml += "<div class='mySlides' style='display:none'><img src='" + this.ImageName + "' style='width:100%;height: 100%;padding: 10px 45px 10px 45px;'></div>"

                                tablehtml += "<tr>"
                                tablehtml += "<td class='column'><img class='hover-shadow'"
                                tablehtml += " onclick='openModal();currentSlide(" + count + ")'"
                                tablehtml += "   src='" + this.ImageName + "' width='60' height='60' /></td>"
                                tablehtml += "    <td ><label id='" + this.EncEventImageid + "' data-value='" + this.ImageCaption + "' data-counter='" + count + "' class='editCaption td_" + count + "'>" + this.ImageCaption + "</label></td>"
                                tablehtml += "    <td><a id='" + this.EncEventImageid + "' title='Delete' data-toggle='tooltip' data-placement='top' class='k-grid-schedular-myDelete btn btn-default btn-xs'><i class='fa fa-trash'></i></a></td>"
                                tablehtml += "</tr>"
                            });
                            $(".popupEvent_imagesslides").append(slidehtml);
                            $(".imagesuploaded").append(tablehtml);
                           
                        } else {
                            var tablehtml = "";
                            tablehtml='<tr><td colspan="3" class="text-center">  No Data Available  </td> </tr>'
                            $(".imagesuploaded").append(tablehtml);
                        }
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            $('#ks_loader').hide();
        }
    }
</script>

<script>
    // Open the Modal
    function openModal() {
      
        document.getElementById('popupEvent_images').style.display = "block";
    }

    // Close the Modal
    function closeModal() {
        document.getElementById('popupEvent_images').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        debugger;
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        //var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        //captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

