﻿@model ViewModel.ViewModel.Schedular.SchedularModel
@{
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<script>
    $(document).ready(function () {
        $("#schedular-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SelectSchedularList", "Schedular"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalDatainbox
                    },
                    parameterMap: function(data) {
                        return JSON.stringify(data);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: onDataBound,
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            sortable: true,
            //sortable: {
            //    mode: "multiple",
            //    allowUnsort: false
            //},
            columns: [{
                field: "EventTypeId",
                title: "Event Type Id",
                hidden: true
            },{
                field: "EncEventId",
                title: "Event Id",
                hidden: true
            },{
                field: "EventTitle",
                title: "Title",
                template: '#if(fullEventTitle==null){ ##=EventTitle##}#' + '#if(fullEventTitle!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullEventTitle#"><font >#=EventTitle#</font></i>#}#',
                sortable: true
            },
            {
                field: "ClassName",
                title: "Class",
                template: '#if(fullClassName==null){ ##=ClassName##}#' + '#if(fullClassName!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullClassName#"><font >#=ClassName#</font></i>#}#',
                width:100,
                sortable: false,
            },{
                field: "Description",
                title: "Description",
                template: '#if(fullDescription==null){ ##=Description##}#' + '#if(fullDescription!=null){# <i class="description_tooltip_cls" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="#=fullDescription#"><font >#=Description#</font></i>#}#',
                sortable: true,
                width:300
            },{
                field: "StartDate",
                title: "Start Date",
                // template: "#= kendo.toString(kendo.parseDate(StartDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                sortable: true,
            },{
                field: "EndDate",
                title: "End Date",
                //template: "#= kendo.toString(kendo.parseDate(EndDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                sortable: true,
            },
            {
                field: "isActivekendo",
                title: "Status",
                sortable: false,
            },{
                field: "AllowedTo",
                title: "Addressed To",
                sortable: true,
            },
           @if (Model.IsAuthToViewImages || Model.IsAuthToEdit || Model.IsAuthToDelete)
            {
                                <text>
                                {
                                    field: "EncEventId",
                                    title: "Action",
                                    sortable: false,
                                    width:120,
                                    template: @if(Model.IsAuthToViewImages)
                                        {<text>
                                                '<a title="Add Images" data-toggle="tooltip" data-placement="top" class="Images_div  btn btn-xs btn-default" hidden style=" cursor:pointer;visibility: hidden; !important;" href="@Url.Content("~/Schedular/Images?i=#=EncEventId#&si=#=EncEventTypeId#&Id=#=EventCode#")"><i class="fa fa-picture-o"></i></a> '
                                                </text>}
                                             @if (Model.IsAuthToDownloadDoc)
                                        {<text>
                                               +'#if(HasCircularDocs){#<a title="Download" data-toggle="tooltip" data-placement="top" class="btn btn-xs btn-default" style="cursor:pointer;" href="@Url.Content("~/Schedular/DownloadDocument?i=#=EncEventId#&si=#=EncEventTypeId#")"><i class="fa fa-download"></i></a>#}# '
                                              </text>}
                                             @if (Model.IsAuthToEdit)
                                        {<text>
                                              +'#if(IsStartDatePasses){#<a title="Edit" data-toggle="tooltip" data-placement="top" class="edit_event_kendo  btn btn-xs btn-default" href="@Url.Content("~/Schedular/EditEvent?i=#=EncEventId#&si=#=EncEventTypeId#&Id=#=EventCode#")"  id="#=EncEventId#" style="cursor:pointer;" ><i class="fa fa-pencil" aria-hidden="true"></i></a>#}#'
                                             </text>}
                                             @if (Model.IsAuthToDelete)
                                             {
                                                 <text>
                                                 +'#{# <a title="Delete" data-toggle="tooltip" data-placement="top" class="k-grid-schedular-myDelete btn btn-xs btn-default"  style="cursor:pointer;" dataid="#=EncEventId#" dataid1="#=EncEventTypeId#" href="javascript:void(0)"><i class="fa fa-trash"></i></a>#}#'
                                             </text>
                                             }
                },
              </text>}]
        });
        var grid = $("#schedular-grid").data("kendoGrid");
    });


    function onDataBound(arg) {
        $('[data-toggle="tooltip"]').tooltip();
        implementpermissions();
    }




    $("#schedular-grid").on("click", ".k-grid-schedular-myDelete", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var enceventtypeid = $(this).attr("dataid1");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        cell.append('<a class=" k-grid-myConfirm btn btn-xs btn-default" dataid="' + enceventid + '" dataid1="' + enceventtypeid + '" href="javascript:void(0)"><i class="fa fa-check"></i></a>');
        cell.append('<a class=" k-grid-myCancel btn btn-xs btn-default" dataid="' + enceventid + '" dataid1="' + enceventtypeid + '" href="#">&nbsp;<i class="fa fa-ban"></i></a>');
        $('.k-grid-myConfirm').attr("dataid", enceventid);
        $('.k-grid-myConfirm').attr("dataid1", enceventtypeid);
    });

    //delete ajax method
    $("#schedular-grid").on("click", ".k-grid-myConfirm", function (e) {
        e.preventDefault();
        $('#ks_loader').show();
        var i = $(this).attr("dataid");
        var si = $(this).attr("dataid1");

        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("DeleteSchedularEvent", "Schedular"))',
            data: { "i": i, "si": si },
            success: function (result) {

                if (result.status == "success") {
                    ToastMessage(result.msg, "success", true, 5000);
                    //clearreplyfields();

                    var grid = $('#schedular-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1

                    $('#ks_loader').hide();
                }
                else {
                    if (result.msg == "NotValid") {
                        var validationaray = result.data.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++) {
                            ToastMessage(validationaray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                }

            },
            error: function () {
                ToastMessage("error", "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    })

    $("#schedular-grid").on("click", ".k-grid-myCancel", function (e) {
        e.preventDefault();
        var enceventid = $(this).attr("dataid");
        var enceventtypeid = $(this).attr("dataid1");
        var command = $(this);
        var cell = command.closest("td");
        command.remove();
        $('.k-grid-myConfirm').remove();
        cell.append('<a class="k-grid-schedular-myDelete btn btn-xs btn-default" dataid="' + enceventid + '" dataid1="' + enceventtypeid + '" href="javascript:void(0)"><i class="fa fa-trash"></i></a>');
        $('.k-grid-schedular-myDelete').attr("dataid", enceventid);
        $('.k-grid-schedular-myDelete').attr("dataid1", enceventtypeid);
    })

    $("#schedular-grid").on("click", ".edit_event_kendo", function (e) {
        $("#AlreadyUploadedDocName").show();
    })


    function additionalDatainbox() {
        var data = {
            EventTypeId:$('#EventTypeId').val(),
            EventTitle: $.trim($('#filter_EventTitle').val()),
            Description: $.trim($('#filter_Description').val()),
            FilterStartDate:GetDateFromString($('#filter_StartDate').val())!=null?GetDateFromString($('#filter_StartDate').val()):"",
            FilterEndDate:GetDateFromString($('#filter_EndDate').val())!=null?GetDateFromString($('#filter_EndDate').val()):"",
        };

        addAntiForgeryToken(data);
        return data;
    }
    function GetDateFromString(date) {
        //if (date == "") {
        //    return null;
        //}
        //else {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
        //}
    }
    addAntiForgeryToken = function (data) {
        data._RequestVerificationToken = $('#input[name=__RequestVerificationToken]').val();
        return data;
    };

    //hide columns of kendo grid
    function hidekendocolumns(){
        //load kendo grid to hide show the columns
        var grid = $("#schedular-grid").data("kendoGrid");
        //hide kendo grid columns
        grid.hideColumn("EventTitle");
        grid.hideColumn("ClassName");
        grid.hideColumn("Description");
        grid.hideColumn("StartDate");
        grid.hideColumn("EndDate");
        grid.hideColumn("AllowedTo");
        grid.hideColumn("StartTime");
        grid.hideColumn("EndTime");
        //$('.Images_div').css("display", "none");
    }

    //hide form fields
    function hideformfields(){
        $('.filter_EventTitle_div').css("display", "none");
        $('.filter_StartDate_div').css("display", "none");
        $('.filter_EndDate_div').css("display", "none");
        $('.filter_Description_div').css("display", "none");
    }

    //clear form fields
    function clearformfields(){
        $('#filter_EventTitle').val('');
        $('#filter_StartDate').val('');
        $('#filter_EndDate').val('');
        $('#filter_Description').val('');
    }

    //funtion to show fields based on entries in eventcols table
    function implementpermissions() {
        if($('#EventTypeId').val() != "")
        {
            var EventTypeId = $('#EventTypeId').val();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("Getfieldstobeshown", "Schedular"))',
                data: { "EventTypeId": EventTypeId },
                success: function (result) {
                    if (result.status == "success") {

                        //hide all columns of kendo
                        hidekendocolumns();

                        //hide all form fields
                        hideformfields();

                        //reset label of start date field
                        $('#startdate_label').text("Start Date");

                        //load kendo grid to hide show the columns
                        var grid = $("#schedular-grid").data("kendoGrid");

                        //Show columns based on list from EventCols
                        $.each(result.hiddencolumnlist, function () {
                            var column = this.Text;
                            if(column == "CircularDate"){
                                column = "StartDate";
                            }

                            if (column == "ClassId"){
                                grid.showColumn("ClassName");
                                $('.Class_div').css("display", "block");
                            }else if(column == "Images"){
                                $('.' + column+'_div').css("visibility",'');
                            }
                            else{
                                $('.filter_' + column+'_div').css("display", "block");
                                grid.showColumn(column);
                            }
                        });

                        $('.filter_StartDate_div').css("display", "block");
                         $('.filter_EndDate_div').css("display", "block");
                        

                        //change text of Start date
                        if ($('.filter_EndDate_div').css('display') == 'none') {
                            $('#startdate_label').text("Date");
                        }
                        //loader hide
                        setTimeout(
                              function()
                              {
                                  $('#ks_loader').hide();
                              }, 2000);
                    }
                    else {
                        //Show columns based on list from EventCols
                        $.each(result.hiddencolumnlist, function () {
                            var column = this.Text;
                            if (column == "ClassId"){
                                grid.showColumn("ClassName");
                                $('.Class_div').css("display", "block");
                            }else if(column == "Images"){
                                $('.' + column+'_div').css("visibility",'');
                            }
                            else{
                                $('.' + column+'_div').css("display", "block");
                                grid.showColumn(column);
                            }
                        });
                        var cssStartTime = $('#StartTime').css("display:none");
                        var cssEndDate = $('#EndDate').css("display:none");
                        var cssEndTime = $('#EndTime').css("display:none");
                        //change text of Start date
                        if ($('.StartTime_div').css('display') == 'none') {
                            if ($('.EndDate_div').css('display') == 'none') {
                                if ($('.EndTime_div').css('display') == 'none') {
                                    $('#startdate_label').text("Date");
                                }
                            }
                        }
                        //loader hide
                        setTimeout(
                          function()
                          {
                              $('#ks_loader').hide();
                          }, 2000);
                    }
                }
            });
        }
        else
            clearformfields();
    }

    // function to hide fields based on permission from event col diable table
    @*function implementpermissions() {
        var EventTypeId = $('#EventTypeId').val();

        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("GetHiddenfieldslist", "Schedular"))',
            data: { "EventTypeId": EventTypeId },
            success: function (result) {

                if (result.status == "success") {
                    var grid = $("#schedular-grid").data("kendoGrid");
                    //reset column
                    grid.showColumn("StartTime");
                    grid.showColumn("StartDate");
                    grid.showColumn("EndTime");
                    grid.showColumn("EndDate");
                    grid.showColumn("ClassName");
                    $('.StartTime').show();
                    $('.StartDate').show();
                    $('.EndTime').show();
                    $('.EndDate').show();
                    $('.class_show').show();
                    $('.venue_show').show();
                    $('#startdate_label').text("Start Date");
                    //loader hide
                    $('#ks_loader').hide();
                    //hide columns
                    $.each(result.hiddencolumnlist, function () {
                        var column = this.Text;
                        if (column == "StartTime" || column == "StartDate" || column == "EndTime" || column == "EndDate") {
                            //$('#' + column).parent('.label_control').hide();
                            $('.' + column).hide();
                            grid.hideColumn(column);
                        }
                        else {
                            if (column == "ClassId")
                                grid.hideColumn("ClassName");
                            else if (column == "Images")
                                $('.Images_event').hide();

                            $('#' + column).parent('.fields_hide').hide();
                            grid.hideColumn(column);
                        }
                    });
                    var cssStartTime = $('#StartTime').css("display:none");
                    var cssEndDate = $('#EndDate').css("display:none");
                    var cssEndTime = $('#EndTime').css("display:none");
                    //change text of Start date
                    if ($('.StartTime').css('display') == 'none') {
                        if ($('.EndDate').css('display') == 'none') {
                            if ($('.EndTime').css('display') == 'none') {
                                $('#startdate_label').text("Date");
                            }
                        }
                    }
                }
                else {
                    $('#ks_loader').hide();
                }
            },
            error: function () {
                alert('A error');
                $('#ks_loader').hide();
            }
        });
    }*@
</script>
