﻿@model ViewModel.ViewModel.Schedular.SchedularModel
@{
    ViewBag.Title = "Edit Event";
    var viewid = "SchedularList"+@Model.EventCode;
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
      <div class="col-md-6">
        <h1>Edit @Model.EventHeader</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Url.Content("~/")Schedular/List?u=@Model.EventCode" class="btn btn-xs btn-default">
            Back To List
        </a>
    </div>
</div>

<div>
    <!-- Messanger Validation show -->
    <div class="col-md-12 text-danger" id="data_validation_div" hidden>
        <ul></ul>
    </div>
    <!-- Messanger Validation show -->
</div>

<div class="" id="Add_schedular" style="display:none">
    @Html.Partial("_AddUpdateEvent", Model)
</div>

 
<script>
    $(document).ready(function () {
                var mainnavlimainpage;
        var mainmenuselectormainpage;
        @{


            <text>

                //debugger;
                if ($('#@viewid').parent().parent().hasClass("custom-drop-down-child")) {
                    $('#@viewid').parent().parent().parent().parent().parent().show();
                    mainmenuselectormainpage = $('#@viewid').parent().parent().parent().parent().parent().attr("id");
                    $('#Main-' + mainmenuselectormainpage + '').addClass("active");
                    $('#@viewid').parent().parent().parent().parent().addClass("active");
                    // show dynamic li
                    mainnavlimainpage = $('#Main-' + mainmenuselectormainpage + '').parent();
                    if (mainnavlimainpage.css('display') == 'none') {
                        $('ul.top-navigation-list > li').slice(8).hide(); // hide all li after index 8
                        mainnavlimainpage.css('display', 'block');


                    }
                }
                else {
                    $('#@viewid').parent().parent().show();
                     $('#@viewid').parent().parent().parent().parent().parent().show();
                    $('#@viewid').parent().addClass("active");
                    mainmenuselectormainpage =$('#@viewid').parent().parent().attr("id");
                    $('#Main-' + mainmenuselectormainpage + '').addClass("active");
                    // show dynamic li
                    mainnavlimainpage = $('#Main-' + mainmenuselectormainpage + '').parent();
                    if (mainnavlimainpage.css('display') == 'none') {
                        $('ul.top-navigation-list > li').slice(8).hide(); // hide all li after index 8
                        mainnavlimainpage.css('display', 'block');


                    }
                }
        </text>
        }


            });
</script>



