﻿@model ViewModel.ViewModel.Schedular.SchedularModel
@{
    ViewBag.Title = "Event";
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>Add @Model.EventTitle</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Url.Content("~/")Schedular/List?u=@Model.EventCode" class="btn btn-xs btn-default">
            Back To List
        </a>
    @if (Model.IsAdmin)
    {
        <a href="javascript:void(0)" id="SendEventDefault_Setting" class="btn btn-xs btn-default">Trigger Default Settings</a>
    }
    </div>
</div>

<div>
    <!-- Messanger Validation show -->
    <div class="col-md-12 text-danger" id="data_validation_div" hidden>
        <ul></ul>
    </div>
    <!-- Messanger Validation show -->
</div>

<div class="" id="Add_schedular" style="display:none">
    @Html.Partial("_AddUpdateEvent", Model)
</div>
<script>

</script>

