﻿@model ViewModel.ViewModel.Schedular.SchedularImagesModel
@{
    ViewBag.Title = "Images";
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>

    <div class="col-md-6">
        <h1>Upload Event Images</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Url.Content("~/")Schedular/List?u=@Model.EventCode " id=" " class=" btn btn-xs btn-default">Back to Events List</a>
    </div>
</div>
<!-- //Page Heading -->
@Html.Partial("_addordeleteImages",Model)
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>