﻿@model ViewModel.ViewModel.Schedular.SchedularModel
@{
    ViewBag.Title = "List";
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1>@Model.EventType</h1>
    </div>
    @if (Model.IsAuthToAdd)
    {
        <div class="col-md-6 text-right">
            <a href="@Url.Content("~/")Schedular/Event/@Model.EventCode" class="btn btn-xs btn-default">
                Add New
            </a>
        </div>
    }
</div>
@Html.HiddenFor(m => m.EventTypeId)

<!-- //Page Heading -->
<div class="row top-space-10">
     
        <div class="col-md-12">
            <form class="form-inline ks-custom-form">
                @*<div class="form-group">
                        <label class="control-label ">Event Type</label>
                        @Html.DropDownList("Eventtypeid", Model.AvailableEventTypeList, new { @class = "form-control",@id="filter_EventTypeId" })
                </div>*@
                <div class="form-group">
                    <div class=" filter_EventTitle_div" style="display:none">
                        <label class="control-label ">Title</label>
                        @Html.TextBoxFor(m => m.EventTitle, new { @class = "form-control ", maxlength = 50, @id = "filter_EventTitle" })
                    </div>
                </div>
                <div class="form-group">
                    <div class=" filter_Description_div" style="display:none">
                        <label class="control-label ">Description</label>
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @style = "resize:none;", @id = "filter_Description" })
                    </div>
                </div>
                <div class="form-group">
                    <div class=" filter_StartDate_div" style="display:none">
                        <label class="control-label " id="startdate_label">Start Date</label>
                        @Html.TextBoxFor(m => m.FilterStartDate, new { @class = " StartDate KendoDatepickerstartdate", @id = "filter_StartDate" })
                    </div>
                </div>
                <div class="form-group">
                    <div class=" filter_EndDate_div" style="display:none">
                        <label class="control-label ">End Date</label>
                        @Html.TextBoxFor(m => m.FilterEndDate, new { @class = " KendoDatepickerenddate EndDate", @id = "filter_EndDate" })
                    </div>
                </div>
                <div class="form-group">
                        <button type="button" id="search" class="btn btn-default">Filter</button>
                        <button type="button" id="reset" class="btn btn-danger">Reset</button>
                </div>

</form>
        </div>
    
</div>

@*filters*@
 
@*dropdown and add button*@
<div>
    <div class="row">
        <div class="col-md-6">

        </div>
    </div>
    @*Schedular Table*@
    <div id="schedular-grid"></div>
    @(Html.Partial("~/Views/Schedular/_schedularKendoGrid.cshtml", Model))
</div>
<script>

    $(".KendoDatepickerstartdate").kendoDatePicker({
        format: "dd/MM/yyyy",
    }).data("kendoDatePicker");

    $(".KendoDatepickerenddate").kendoDatePicker({
        format: "dd/MM/yyyy",
    }).data("kendoDatePicker");

    $(".KendoDatepickerstartdate").attr("readonly", true);
    $(".KendoDatepickerenddate").attr("readonly", true);

    $('#close_div').click(function () {
        $('#AddView_div').hide();
        $('#EventId_div').text("");
        $('.active_div').css("display", "none");
    });

    $('#filter_StartDate').change(function () {
           var FDate=$("#filter_StartDate").val();
        var Filterarray=FDate.split('/');
        var  FilterFromDate = new Date(Filterarray[1] + "/" + Filterarray[0] + "/" + Filterarray[2]);
        var newdate = new Date(FilterFromDate);
        newdate.setDate(newdate.getDate() + 1);

        var minexp = new Date(FilterFromDate);
        minexp.setDate(minexp.getDate());

        if ($("#filter_EndDate").val() != null && $("#filter_EndDate").val() != "") {
            var TDate = $("#filter_EndDate").val();
            var FilterTarray = TDate.split('/');
            var FilterToDate = new Date(FilterTarray[1] + "/" + FilterTarray[0] + "/" + FilterTarray[2]);
            var Todate = new Date(FilterToDate);
            var Frdate = new Date(FilterFromDate);
            if (Todate < Frdate) {
                $("#filter_EndDate").attr("readonly", false);
                $("#filter_EndDate").kendoDatePicker({
                    //   value:newdate,
                    value: newdate,
                    min: minexp,
                    format: "dd/MM/yyyy"
                });
                $("#filter_EndDate").attr("readonly", true);
                
                $("#filter_EndDate").closest("span.k-datepicker").width(120);
            }
            else {
                $("#filter_EndDate").attr("readonly", false);
                $("#filter_EndDate").kendoDatePicker({
                    min: minexp,
                    format: "dd/MM/yyyy"
                });
                $("#filter_EndDate").attr("readonly", true);
                $("#filter_EndDate").closest("span.k-datepicker").width(120);
            }
        }
        else {
            $("#filter_EndDate").attr("readonly", false);
            $("#filter_EndDate").kendoDatePicker({
                min: minexp,
                format: "dd/MM/yyyy"
            });
            $("#filter_EndDate").attr("readonly", true);
            $("#filter_EndDate").closest("span.k-datepicker").width(120);
        }
    });

    function trigger() {
        //loader show
        $('#ks_loader').show();
        clearformfields()
        $('.success_notification').hide();
        $('.success_notification div span').text('');
        //kendo request
        var grid = $('#schedular-grid').data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
        //grid.dataSource.read(); we already loaded the grid above using "page" function
        if ($(this).val() != "")
            implementpermissions();
    }

    //filters
    $('#search').click(function () {
        //load kendo grid to hide show the columns
        var grid = $("#schedular-grid").data("kendoGrid");
        grid.dataSource.page(1);
    })
    $('#reset').click(function () {
         trigger();
        //load kendo grid to hide show the columns
        var grid = $("#schedular-grid").data("kendoGrid");
        grid.dataSource.page(1);
    })


   
</script>