﻿@model ViewModel.ViewModel.InfoBrowser.BrowserInfoDetail
@{
    ViewBag.Title = "InfoBrowser";
    var defaultGridPageSize = Model.defaultGridPageSize;
    var gridPageSizes = Model.gridPageSizes;
}
<style type="text/css">
    .setting {
        float: left;
        margin-right: 2px;
    }
</style>
<div id="validation_para" hidden>
    <ul></ul>
</div>

<div class="row top-space-10 page-heading">
    <div class="col-md-6">
        <h1>Info Browser</h1>
    </div>
</div>
<div class="modal-popup" id="Settings_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <div class="col-md-12">
                    <div id="dvColList"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-success " id="Save_divDetail">
                    Save
                </button>
                <button type="button" name="save" class="btn btn-danger " id="close_divDetail">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-popup" id="Selectcols_div" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <div class="col-md-12">
                    <div id="dvSelectColList"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-success " id="Save_ColListdivDetail">
                    Show
                </button>
                <button type="button" name="save" class="btn btn-danger " id="close_ColListdivDetail">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("InfoBrowser", "InfoBrowser", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
{
    @Html.AntiForgeryToken()
    <div>
        <div class="col-md-4  top-space-20">
            <div class="col-md-6">
                <input type="radio" id="hdnView" name="viewedit" value="View" /> View
            </div>
            <div class="col-md-6">
                <input type="radio" id="hdnEdit" name="viewedit" value="Edit" />Edit
            </div>

        </div>
        <div class="col-md-4  ">

            <label class="control-label">Object Type</label>
            @Html.DropDownList("drpObjList", Model.BrowserObjectList, new { @class = "form-control storecls", @id = "drpObjList" })

        </div>
        <div class="row col-md-7 pull-right addnew_div top-space-20">
            <div id="dvExportOptions" class="col-md-3 pull-right" style="margin: 0px -20px 0 0; display:none;">
                <button type="button" id="btnSettings" class="btn btn-xs btn-default setting" title="Settings">
                    <img src="~/Content/assets/img/setting.png" />
                </button>
                @*@(Html.Partial("~/Views/Shared/_ExportLayout.cshtml", Model, new ViewDataDictionary(ViewData) { { "Prefix", "Product" } }))*@
            </div>
        </div>
        <div class="row">

            <div class="row col-md-12 " style="display: none" id="div_filter">
                <div id="dvfiliters"></div>
                <div class="col-md-12">
                    <div class="col-md-3 pull-right form-group">
                        <button type="button" id="filter" class="btn btn-default btn-success"><i class="fa fa-search"></i> Filter</button>
                        <button type="button" id="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <button type="button" class="pull-right btn btn-xs btn-default" id="btnSelectColmn">Select Columns</button>
            </div>
            <div class="col-md-12">
                <table id="tblData" class="table">
                    <thead>

                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=radio][name=viewedit]').change(function () {
                if (this.value == 'View') {
                    $('#drpObjList').val('');
                    $('#div_filter').hide();
                    $('#tblData').hide();
                    $('#tblData thead').html('');
                    $('#tblData tbody').html('');
                }
                else if (this.value == 'Edit') {
                    $('#drpObjList').val('');
                    $('#div_filter').hide();
                    $('#tblData').hide();
                    $('#tblData thead').html('');
                    $('#tblData tbody').html('');
                }
            });
            $('#close_ColListdivDetail').click(function () {
                $('#Selectcols_div').hide();
            });
            $('#btnSettings').click(function () {
                var objid = $('#drpObjList').val();
                if (objid == "") {
                    ToastMessage("Please provide Object Type", "error", true, 5000);
                    return false;
                }
                else {
                    $.ajax({
                        type: "POST",
                        async: true,
                        url: '@Html.Raw(Url.Action("GetObjectColumnList", "InfoBrowser"))',
                        data: { ObjectTypeId: objid },
                        success: function (result) {
                            if (result.status == "success") {
                                if (result.ColumnList.length > 0) {
                                    var html = '<table class="table viewpackInfo">';
                                    for (i = 0; i < result.ColumnList.length; i++) {
                                        html += '<tr><td> <input type="checkbox" class="chkcol" /> <input type="hidden" id="hdn_' + i.toString() + '" value="' + result.ColumnList[i].ColumnId + '" /> </td>';
                                        html += '<td><label id="lbl_' + i.toString() + '" class="lblclass">' + result.ColumnList[i].ColumnName + '</label></td></tr>';
                                    }
                                    html += '</table>';
                                    $('#dvSelectColList').append(html);
                                    $(' #Selectcols_div').show();
                                }
                            }
                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }

                $('#Settings_div').show();
            });
            $('#close_divDetail').click(function () {
                $('#Settings_div').hide();
            });
            $('#Save_divDetail').click(function () {

            });
            $('#btnSelectColmn').click(function () {
                var objid = $('#drpObjList').val();
                var rdName = $('input[type=radio][name=viewedit]').val();
                $.ajax({
                    type: "POST",
                    async: true,
                    url: '@Html.Raw(Url.Action("GetColumnListForSelection", "InfoBrowser"))',
                    data: { ObjectTypeId: objid, buttonName: rdName },
                    success: function (result) {
                        if (result.status == "success") {
                            if (result.ColumnList.length > 0) {
                                var html = '<table class="table viewpackInfo">';
                                for (i = 0; i < result.ColumnList.length; i++) {
                                    html += '<tr><td> <input type="checkbox" class="chkcol" /> <input type="hidden" id="hdn_' + i.toString() + '" value="' + result.ColumnList[i].ColumnId + '" /> </td>';
                                    html += '<td><label id="lbl_' + i.toString() + '" class="lblclass">' + result.ColumnList[i].ColumnName + '</label></td></tr>';
                                }
                                html += '</table>';
                                $('#dvSelectColList').append(html);
                                $(' #Selectcols_div').show();
                            }
                        }
                    },
                    error: function (xhr, status, data) {
                        var err = "Error " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            });
            $('#drpObjList').change(function () {
                if ($('#drpObjList').val() == "") {

                }
                else {
                    $('#ks_loader').show();
                    $('#div_filter').hide();
                    $('#dvfiliters').html('');
                    var objid = $('#drpObjList').val();
                    var rdName = $('input[type=radio][name=viewedit]').val();
                    $.ajax({
                        type: "POST",
                        async: true,
                        url: '@Html.Raw(Url.Action("LoadDataacctoObjectType", "InfoBrowser"))',
                        data: { ObjectTypeId: objid, buttonName: rdName },
                        success: function (result) {
                            if (result.status == "success") {
                                if (result.FilterList.length > 0) {
                                    var filterhtml = "";
                                    for (i = 0; i < result.FilterList.length; i++) {
                                        if (i == 0 || (i > 4 && i == 9)) {
                                            filterhtml += "<div class='col-md-12'>";
                                        }
                                        filterhtml += "<div class='col-md-3'>";
                                        filterhtml += "<label class='control-label'>" + result.FilterList[i].FilterName + "</label>";
                                        if (result.FilterList[i].FilterType == "DropDown") {
                                            var create = '<select class="drpcls form-control" id="drp_"' + result.FilterList[i].FilterName + '>';

                                            for (var j = 0; j < result.FilterList[i].FilterData.length; j++) {
                                                create += '<option value="' + result.FilterList[i].FilterData[j].Value + '">' + result.FilterList[i].FilterData[j].Text + '</option>';
                                            }
                                            create += '</select>';
                                            filterhtml += create;
                                        }
                                        else if (result.FilterList[i].FilterType == "TextBox") {
                                            var create = "<input type='text' class='txtcls form-control' id=txt_" + result.FilterList[i].FilterName + " value='' />";
                                        }
                                        filterhtml += "</div>";
                                        if (i == 4 || (i == 8)) {
                                            filterhtml += "</div>";
                                        }
                                    }
                                    $('#dvfiliters').append(filterhtml);

                                }
                                var colsName = result.ColumnNames.split('ε');
                                var lengthcol = colsName.length;
                                if (colsName.length > 1) {
                                    var headhtml = "<tr>";
                                    for (var i = 0; i < colsName.length; i++) {
                                        if (colsName[i] != "") {
                                            headhtml += "<th>" + colsName[i] + "</th>";
                                        }
                                    }
                                    headhtml += "</tr>";
                                }
                                $('#tblData thead').append(headhtml);
                                if ($('input[type=radio][name=viewedit]').value = 'View') {
                                    var htmlbody = "";
                                    var rowscount = result.RowsList.split('ε');
                                    for (var i = 0; i < rowscount.length; i++) {
                                        htmlbody += "<tr>";
                                        var count = rowscount[i].split(',');
                                        for (var j = 0; j < count.length; j++) {
                                            htmlbody += "<td>" + count[j] + "</td>";
                                        }
                                        htmlbody += "</tr>";
                                    }
                                    $('#tblData tbody').append(htmlbody);
                                }
                                else 
                                {

                                }
                            }
                            $('#div_filter').show();
                            $('#tblData').show();
                            $('#ks_loader').hide();
                        },
                        error: function (xhr, status, data) {
                            var err = "Error " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                });
            
        });
    </script>
}
