﻿@model ViewModel.ViewModel.Address.AddressCountryModel

@Html.HiddenFor(model => model.CountryId)
@{
    string prefix = Convert.ToString(ViewData["Prefix"]);
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">Country</label><!-- Form Label -->
            <div class="col-md-9">
                @Html.TextBox("CountryName" + "_" + prefix, null, new { @class = "form-control", @placeholder = "Country", @autocomplete = "off" })
            </div>
        </div>
    </div>
</div>

<button type="button" id="save-country_@prefix" name="save" class="btn btn-success">
    <i class="fa fa-floppy-o"></i>
    Save
</button>

<button type="button" id="close-addresscountry-div_@prefix" name="save" class="btn btn-danger">
    <i class="fa fa-floppy-o"></i>
    Cancel
</button>

<script type="text/javascript">
    $("#CountryName" + "_" + "@prefix").keydown(function (e) {
        lettersOnly(e);
    })
    // load data after post
    $('#CountryName_Student').val('@TempData["CountryName_Student"]');

    $('#save-country_@prefix').click(function () {
        var errors = Validatecountry@(prefix)();
        if (!errors) {
            var country = $('#CountryName_@prefix').val();

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SaveAddressCountry", "Address"))',
                data: { "data": country },
                success: function (result) {
                    if (result.status == "success") {
                        $('#State_CountryId_@prefix').append($('<option>', {
                            value: result.CountryId,
                            text: country,
                            selected: true
                        }));
                        $('#address-country-div_@prefix').hide();
                    }
                    else {
                        alert(result.msg);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    alert(err);
                }
            });
        }
        else {
            alert(validationmessage);
            $(ctrlfocus).focus();
        }
    });

    function Validatecountry@(prefix)() {
        valid = false;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#CountryName_@prefix').val().trim() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#CountryName_@prefix";
            validationmessage = validationmessage + "Please enter country name \n";
            valid = true;
        }

        return valid;
    }

</script>


