﻿@model ViewModel.ViewModel.Address.AddressStateModel

@Html.HiddenFor(model => model.StateId)
@{
    string prefix = Convert.ToString(ViewData["Prefix"]);
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">State</label><!-- Form Label -->
            <div class="col-md-9">
                @Html.TextBox("StateName" + "_" + prefix, null, new { @class = "form-control", @placeholder = "State", @autocomplete = "off" })
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">Country</label><!-- Form Label -->
            <div class="col-md-9">
                <!-- Button Combo -->
                <div class="btn-combo-ks">
                    @Html.DropDownList("State_CountryId" + "_" + prefix, Model.AvailableCountries, new { @class = "drop-down form-control", @style = "width: 100%" })
                </div>
                <a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Add new Country" data-toggle="tooltip" data-placement="top" id="add-address-country_@prefix">
                    <i class="fa fa-plus"></i>
                </a>
                <!-- //Button Combo -->
            </div>
        </div>
    </div>
</div>

<button type="button" id="save-state_@prefix" name="save" class="btn btn-success">
    <i class="fa fa-floppy-o"></i>
    Save
</button>

<button type="button" id="close-addressstate-div_@prefix" name="save" class="btn btn-danger">
    <i class="fa fa-floppy-o"></i>
    Cancel
</button>

<div class="modal-popup" id="address-country-div_@prefix" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Address Country</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_addressCountry", Model.AddressCountryModel, new ViewDataDictionary { { "Prefix", prefix } })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#StateName" + "_" + "@prefix").keydown(function (e) {
        lettersOnly(e);
    })
    // load data after post
    $('#StateName_Student').val('@TempData["StateName_Student"]');
    $('#State_CountryId_Student').val('@TempData["State_CountryId_Student"]').trigger("change");

    $('#add-address-country_@prefix').click(function () {
        $('#address-country-div_@prefix').show();
    });

    $('#close-addresscountry-div_@prefix').click(function () {
        if ($('#CountryName_@prefix').val().trim() == "") {
            if ($("#State_CountryId_@prefix option[value='0']").length > 0)
                $("#State_CountryId_@prefix option[value='0']").remove();
        }
        $('#address-country-div_@prefix').hide();
    });

    $('#save-state_@prefix').click(function () {
        var errors = ValidateState@(prefix)();
        if (!errors) {

            var state = $('#StateName_@prefix').val();
            var countryId = $("#State_CountryId_@prefix").val();
            var data = countryId + "ε" + state;

            $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("SaveAddressState", "Address"))',
            data: { "data": data },
            success: function (result) {
                if (result.status == "success") {
                    $('#City_StateId_@prefix').append($('<option>', {
                        value: result.StateId,
                        text: state,
                        selected: true
                    }));
                    $('#address-state-div_@prefix').hide();
                }
                else {
                    alert(result.msg);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                alert(err);
            }
        });
    }
    else {
            alert(validationmessage);
    $(ctrlfocus).focus();
    }
    });

    function ValidateState@(prefix)() {
        valid = false;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#StateName_@prefix').val().trim() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#StateName_@prefix";
            validationmessage = validationmessage + "Please enter state name \n";
            valid = true;
        }

        if ($('#State_CountryId_@prefix').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#State_CountryId_@prefix";
            validationmessage = validationmessage + "Please select country \n";
            valid = true;
        }

        return valid;
    }

</script>


