﻿@model ViewModel.ViewModel.Address.AddressCityModel

@Html.HiddenFor(model => model.CityId)
@{
    string prefix = Convert.ToString(ViewData["Prefix"]);
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">City</label><!-- Form Label -->
            <div class="col-md-9">
                @Html.TextBox("CityName" + "_" + prefix, null, new { @class = "form-control", @placeholder = "City", @autocomplete = "off" })
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">State</label><!-- Form Label -->
            <div class="col-md-9">
                <!-- Button Combo -->
                <div class="btn-combo-ks">
                    @Html.DropDownList("City_StateId" + "_" + prefix, Model.AvailableStates, new { @class = "drop-down form-control", @style = "width: 100%" })
                </div>
                <a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Add new State" data-toggle="tooltip" data-placement="top" id="add-address-state_@prefix">
                    <i class="fa fa-plus"></i>
                </a>
                <!-- //Button Combo -->
            </div>
        </div>
    </div>
</div>

<button type="button" id="save-city_@prefix" name="save" class="btn btn-success">
    <i class="fa fa-floppy-o"></i>
    Save
</button>

<div class="modal-popup" id="address-state-div_@prefix" hidden>
    <div class="modal-popup-body">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Address State</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_addressState", Model.AddressStateModel, new ViewDataDictionary { { "Prefix", prefix } })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#CityName" + "_" + "@prefix").keydown(function (e) {
        lettersOnly(e);
    })
    // load data after post
    $('#CityName_Student').val('@TempData["CityName_Student"]');
    $('#City_StateId_Student').val('@TempData["City_StateId_Student"]').trigger("change");

    $('#add-address-state_@prefix').click(function () {
        $('#address-state-div_@prefix').show();
    });

    $('#close-addressstate-div_@prefix').click(function () {
        if ($('#StateName_@prefix').val().trim() == "") {
            $('#State_CountryId_@prefix').val('');
            if ($("#City_StateId_@prefix option[value='0']").length > 0)
                $("#City_StateId_@prefix option[value='0']").remove();
        }

        $('#address-state-div_@prefix').hide();
    });

    $('#save-city_@prefix').click(function () {
        var errors = ValidateCity@(prefix)();
        if (!errors) {

            var city = $('#CityName_@prefix').val();
            var stateId = $("#City_StateId_@prefix").val();
            var data = stateId + "ε" + city;

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SaveAddressCity", "Address"))',
                data: { "data": data },
                success: function (result) {
                    if (result.status == "success") {
                        $('#Address_CityId_@prefix').append($('<option>', {
                            value: result.CityId,
                            text: city,
                            selected: true
                        }));
                        $('#address-city-div_@prefix').hide();
                    }
                    else {
                        alert(result.msg);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    alert(err);
                }
            });
        }
        else {
            alert(validationmessage);
            $(ctrlfocus).focus();
        }
    });

    function ValidateCity@(prefix)() {
        valid = false;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#CityName_@prefix').val().trim() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#CityName_@prefix";
            validationmessage = validationmessage + "Please enter city name \n";
            valid = true;
        }

        if ($('#City_StateId_@prefix').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#City_StateId_@prefix";
            validationmessage = validationmessage + "Please select state \n";
            valid = true;
        }

        return valid;
    }

</script>
