﻿@model ViewModel.ViewModel.Student.StudentModel

@Html.HiddenFor(model => model.ContactInfoModel.ContactInfoId)
@Html.Hidden("contactinfo-index")
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Type</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.ContactInfoModel.ContactInfoTypeId, Model.AvailableContactInfoType, new { @class = "form-control" })
            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-8">
        <div class="form-group">
            <label class="col-md-2 control-label">Info</label><!-- Form Label -->
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContactInfoModel.ContactInfo, new { @class = "form-control", @placeholder = "Info", @autocomplete = "off" })
            </div>
            <!-- Form Field -->
        </div>
    </div>
    <!-- //Form Coulmn -->
</div>
<!-- Form Row -->
<!-- Form Row -->
<div class="row">
    <!-- Form Coulmn -->
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Status</label><!-- Form Label -->
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.InfoStatusId, Model.AvailableStatus, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <!-- //Form Coulmn -->
    <!-- //Form Coulmn -->
    <div class="col-md-5">
        <div class="form-group">
            <label class="col-md-3 control-label">Default</label><!-- Form Label -->
            <div class="col-md-3">
                @Html.CheckBox("Default", 0)
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label"></label><!-- Form Label -->
            </div>
            <div class="col-md-10">
                <button id="save-contactinfo" type="button" name="savecontactInfo" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Add
                </button>
                <button id="Reset-contactinfo" type="button" name="savecontactInfo" class="btn btn-danger">
                    <i class="fa fa-ban"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Form Row -->
@*Grid*@
<div class="row">
    <div class="col-md-12">
        <table id="ContactInfo-detail-grid" class="table table-bordered table-condensed table-striped table-responsive table-hover">
            <thead class="thead-default">
                <tr>
                    <th>Type</th>
                    <th>Info</th>
                    <th>Status</th>
                    <th>Default</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@*@if (Model.IsauthToAdd) {
    <button id="add-contactinfo-detail" type="button" name="savecontactInfodetail" class="btn btn-success">
        <i class="fa fa-floppy-o"></i>
        Save
    </button>
    }
    <button id="close-contactInfo-div" type="button" class="btn btn-danger">
        Cancel
    </button>*@

<script type="text/javascript">


    // add contact info row into grid
    $('#save-contactinfo').click(function () {
        var guardianinfovalid = validateGuardianInfo();
        // ceheck valid mobile no
        if (guardianinfovalid) {
            AddContactInfoRowInGrid();
        }
        else {
            alert(GuardianInfovalidationmessage);
            $(GuardianInfoctrlfocus).focus();
        }
    });
    $(document).on('change', "#ContactInfoModel_ContactInfoTypeId", function () {
        var contactintotype = $('#ContactInfoModel_ContactInfoTypeId Option:selected').text();
        if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Landline") {
            $("#ContactInfoModel_ContactInfo").attr("placeholder", "xxxx-xxxxxx");
        }
        else if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Email") {
            $("#ContactInfoModel_ContactInfo").attr("placeholder", "example@domain.com");
        }
        else if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Mobile") {
            $("#ContactInfoModel_ContactInfo").attr("placeholder", "xxxxxxxxxx");
        }
        else {
            $("#ContactInfoModel_ContactInfo").attr("placeholder", "Info");
        }
        var check = 0;
        $('#Default').prop("checked", true);
        $("#ContactInfo-detail-grid tbody tr").each(function () {
            var this_row = $(this);
            var ContactType = $.trim(this_row.find('td:eq(0)').html());//td:eq(0) means first td of this row
            var IsDefault = $.trim(this_row.find('td:eq(5)').html())
            if (contactintotype == ContactType) {
                if (IsDefault == "True") {
                    check++;
                }
            }

            if (check > 0) {
                $('#Default').prop("checked", false);

            } else {
                $('#Default').prop("checked", true);
            }
        });
    })
    // add Contact info row function
    function AddContactInfoRowInGrid() {

        if ($('#contactinfo-index').val() != "") {
            var rowindex = $('#contactinfo-index').val();
            $("#ContactInfo-detail-grid tbody tr:eq(" + rowindex + ")").remove();
            $('#contactinfo-index').val('');
        }
        else
            $('#contactinfo-index').val('');


        if ($("#save-contactinfo").text() == " Add") {
            $("#ContactInfoId").val('');
        }
        if ($("#save-contactinfo").text() == " Update") {
            $("#save-contactinfo").html("<i class='fa fa-floppy-o'></i> Add")
        }
        // default
        var IsDefault;
        if ($('#Default').is(':checked') == true)
            IsDefault = "True";
        else
            IsDefault = "False";
        //var isSetdefault=0;
        //$('#ContactInfo-detail-grid tbody tr').each(function () {
        //    var row = $(this);
        //    if (row.find("td:nth-child(1)").text() == $("#ContactInfoModel_ContactInfoTypeId option:selected").text()) {
        //        if(row.find("td:nth-child(6)").text()=="True"){
        //            isSetdefault++;
        //        }
        //    }

        //})
        //if (isSetdefault == "0") {
        //    IsDefault = "True";
        //} else {
        //    IsDefault = "False";
        //}


        var tablerow = "<tr>"
            + "<td>" + $("#ContactInfoModel_ContactInfoTypeId option:selected").text() + "</td>" // 1
            + "<td style='display: none'>" + $('#ContactInfoModel_ContactInfoTypeId').val() + "</td>" // 2
            + "<td>" + $('#ContactInfoModel_ContactInfo').val() + "</td>" // 3
            + "<td>" + $("#InfoStatusId option:selected").text() + "</td>" // 4
            + "<td style='display: none'>" + $('#InfoStatusId').val() + "</td>" // 5
            + "<td>" + IsDefault + "</td>" // 6
             + "<td style='display: none'>" + $('#ContactInfoModel_ContactInfoId').val() + "</td>" // 6
            + "<td class='text-center'><a title='Edit' data-toggle='tooltip' data-placement='top' href='javascript:void(0)'  class='infoclsedit btn btn-xs btn-default'><i class='fa fa-pencil '></i></a><a title='Delete' data-toggle='tooltip' data-placement='top' href='javascript:void(0)' class='infoclsdelete btn btn-xs btn-default'><i class='fa fa-trash'></i></a></td>"
            + "</tr>";

        $('#ContactInfo-detail-grid tbody').append(tablerow);
        $('[data-toggle="tooltip"]').tooltip();
        ClearGuardianInfoFields();
    }
    //reset Contact info
    $('#Reset-contactinfo').click(function () {

        $('#ContactInfoModel_ContactInfoTypeId').val("");
        $('#InfoStatusId').val("1");
        $('#ContactInfoModel_ContactInfo').val("");
        $('#Default').prop('checked', false);
        $('#contactinfo-index').val("");
    })
    // edit Contact info row
    $('#ContactInfo-detail-grid').delegate('.infoclsedit', 'click', function () {
        var row = $(this).parent().parent();
        $("#save-contactinfo").html("<i class='fa fa-floppy-o'></i> Update");
        $('#contactinfo-index').val($(this).parent().parent().index());
        $('#ContactInfoModel_ContactInfoId').val(row.find("td:nth-child(7)").text());
        $('#ContactInfoModel_ContactInfoTypeId').val(row.find("td:nth-child(2)").text()).trigger("change");
        var status = row.find("td:nth-child(4)").text();
        if (status == "Active")
            $('#InfoStatusId').val(1).trigger("change");
        else
            $('#InfoStatusId').val(0).trigger("change");
        $('#ContactInfoModel_ContactInfo').val(row.find("td:nth-child(3)").text());
        var IsDefault = row.find("td:nth-child(6)").text();
        if (IsDefault == "True")
            $('#Default').prop('checked', true);
        else
            $('#Default').prop('checked', false);

    });

    // delete contact info row
    $('#ContactInfo-detail-grid').delegate('.infoclsdelete', 'click', function () {
        if (confirm("Are you sure to delete this record") == true) {
            var row = $(this).parent().parent();
            row.remove();
            $('#contactinfo-index').val('');
            var contactInfoId = parseInt(row.find('td:nth-child(7)').text());
            if (contactInfoId > 0) {
                $('#ks_loader').show();
                $.ajax({
                    url: '@Html.Raw(Url.Action("DeleteContact","Staff"))',
                    type: "POST",
                    data: { "ContactInfoId": contactInfoId },
                    success: function (res) {
                        if (res.status == "success") {
                            $('#ks_loader').hide();
                            alert(res.data);
                        }
                        else {
                            $('#ks_loader').hide();
                            alert(res.data);
                        }
                    },
                    error: function (xhr, status, p3) {
                        $('#ks_loader').hide();
                        var err = "Error: " + " " + p3;
                        $('#validation_error_div').show();
                        $('#validation_error_div ul').append("<li>" + err + "</li>");
                    }
                })
            }
            ClearcontactInfoFields();
        }
    });
    function ClearcontactInfoFields() {
        $('#ContactInfoModel_ContactInfoTypeId').val('').trigger("change");
        $('#ContactInfoModel_ContactInfo').val("");
        $('#InfoStatusId').val($("#InfoStatusId option:first").val()).trigger("change");
        $('#IsDefault').prop('checked', false);
    }
    // check contact info data valid or not
    var GuardianInfovalid = true;
    var GuardianInfovalidationmessage = "";
    var GuardianInfoctrlfocus = "";

    function validateGuardianInfo() {
        GuardianInfovalid = true;
        GuardianInfovalidationmessage = "";
        GuardianInfoctrlfocus = "";

        if ($('#ContactInfoModel_ContactInfoTypeId').val() == "") {
            if (GuardianInfoctrlfocus == "")
                GuardianInfoctrlfocus = "#ContactInfoModel_ContactInfoTypeId";
            GuardianInfovalidationmessage = GuardianInfovalidationmessage + "Please select Info type \n";
            GuardianInfovalid = false;
        }

        if ($('#ContactInfoModel_ContactInfo').val().trim() == "") {
            if (GuardianInfoctrlfocus == "")
                GuardianInfoctrlfocus = "#ContactInfoModel_ContactInfo";
            GuardianInfovalidationmessage = GuardianInfovalidationmessage + "Please enter Info \n";
            GuardianInfovalid = false;
        }

        if ($('#InfoStatusId').val() == "") {
            if (GuardianInfoctrlfocus == "")
                GuardianInfoctrlfocus = "#InfoStatusId";
            GuardianInfovalidationmessage = GuardianInfovalidationmessage + "Please select Status \n";
            GuardianInfovalid = false;
        }


        var count = 0;
        var multipleInfo = 0;
        var type = $('#ContactInfoModel_ContactInfoTypeId option:selected').text();
        var info = $('#ContactInfoModel_ContactInfo').val();
        var RowNo = 0;

        $('#ContactInfo-detail-grid tbody tr').each(function () {

            var row = $(this);
            if ($('#Default').is(':checked') == true) {
                if (row.find("td:nth-child(1)").text() == type) {

                    var IsDefault = row.find("td:nth-child(6)").text();

                    if ($('#contactinfo-index').val() == "") {
                        if (IsDefault == "True")
                            count = count + 1;
                    } else {
                        if (IsDefault == "True" && $('#contactinfo-index').val() != RowNo)
                            count = count + 1;
                    }

                }
            }

            if (row.find("td:nth-child(1)").text() == type) {
                var infovalue = row.find("td:nth-child(3)").text();
                if ($('#contactinfo-index').val() == "") {
                    if (infovalue == info)
                        multipleInfo = multipleInfo + 1;
                }
                else {
                    if (infovalue == info && $('#contactinfo-index').val() != RowNo)
                        multipleInfo = multipleInfo + 1;
                }

            }
            RowNo++;
        });
        if (count > 0) {
            if (GuardianInfoctrlfocus == "")
                GuardianInfoctrlfocus = "#Default";
            GuardianInfovalidationmessage = GuardianInfovalidationmessage + "Only one info should be default \n";
            GuardianInfovalid = false;
        }

        if (multipleInfo > 0) {
            if (GuardianInfoctrlfocus == "")
                GuardianInfoctrlfocus = "#Default";
            GuardianInfovalidationmessage = GuardianInfovalidationmessage + type + "Already Exits \n";
            GuardianInfovalid = false;
        }


        // ceheck valid mobile no
        if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Mobile") {
            if ($('#ContactInfoModel_ContactInfo').val() != "") {
                var Info = $('#ContactInfoModel_ContactInfo').val();
                var result = validateMobile(Info);
                if (result == false) {
                    if (GuardianInfoctrlfocus == "")
                        GuardianInfoctrlfocus = "#ContactInfoModel_ContactInfo";
                    GuardianInfovalidationmessage = GuardianInfovalidationmessage + "Please enter valid mobile no \n";
                    GuardianInfovalid = false;
                }
                var MobileNo = Info;
                var StudentGuardianId = $('#GuardianModel_GuardianId').val();
                var StudentId = "";
                if (window.location.search != "") {
                    //get particular vaidable from query string
                    var url = new URLSearchParams(window.location.search);
                    StudentId = url.get('Id');
                }
                else
                {
                    var url = $(location).attr("href").split('/');
                    StudentId = url[6];
                }

                $.ajax({
                    type: "GET",
                    url: '@Html.Raw(Url.Action("IsStuGuardianMobileAlreadyExist", "Student"))',
                    data: { "SGID": StudentGuardianId, "MobileNo": MobileNo, "StudentId": StudentId },
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        if (result.status == "failed") {
                            GuardianInfoctrlfocus = "#ContactInfoModel_ContactInfo";
                            GuardianInfovalidationmessage = GuardianInfovalidationmessage + "\n" + result.message + "\n";
                            GuardianInfovalid = false;
                        }
                        $('#ks_loader').hide();
                    },
                    error: function (xhr, status, p3) {

                    }
                });
            }
        }

        // check valid landline no
        if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Landline") {
            if ($('#ContactInfoModel_ContactInfo').val() != "") {
                var Info = $('#ContactInfoModel_ContactInfo').val();
                var result = validateLandline(Info);
                if (result == false) {
                    if (GuardianInfoctrlfocus == "")
                        GuardianInfoctrlfocus = "#ContactInfoModel_ContactInfo";
                    GuardianInfovalidationmessage = GuardianInfovalidationmessage + "Please enter valid landline no \n";
                    GuardianInfovalid = false;
                }
            }
        }

        // check valid landline no
        if ($("#ContactInfoModel_ContactInfoTypeId option:selected").text() == "Email") {
            if ($('#ContactInfoModel_ContactInfo').val() != "") {
                var Info = $('#ContactInfoModel_ContactInfo').val();
                var result = isValidEmailAddress(Info);
                if (result == false) {
                    if (GuardianInfoctrlfocus == "")
                        GuardianInfoctrlfocus = "#ContactInfoModel_ContactInfo";
                    GuardianInfovalidationmessage = GuardianInfovalidationmessage + "Please enter valid email \n";
                    GuardianInfovalid = false;
                }
            }
        }

        return GuardianInfovalid;
    }

    //// function check contact info data in grid or not on save click
    function CheckGridInfoDatailfAny() {
        var result = true;
        var count = 0;
        $('#ContactInfo-detail-grid tbody tr').each(function () {
            count = count + 1;
        });
        if (count == 0)
            result = false;

        return result;
    }

    // clear fields
    function ClearGuardianInfoFields() {
        $('#ContactInfoModel_ContactInfoTypeId').val('').trigger("change");
        $('#ContactInfoModel_ContactInfo').val("");
        $('#InfoStatusId').val('1').trigger("change");
        $('#Default').prop('checked', false);
        $('#ContactInfoModel_ContactInfoId').val("");
    }

    // default check box click event
    $('#Default').click(function () {
        if ($('#Default').is(':checked') == true)
            $('#Default').prop('checked', true);
        else
            $('#Default').prop('checked', false);
    });

    // click event for save contact info into textarea
    $('#add-contactinfo-detail').click(function () {
        var isSetDefault = 0;
        var errormessage = "";

        $('#ContactInfoModel_ContactInfoTypeId option').each(function () {
            var gridhasrecord = 0;

            var type = $(this).text();
            //var type = $('#ContactInfoModel_ContactInfoTypeId').text();
            var typeval = $(this).val();
            isSetDefault = 0;
            $('#ContactInfo-detail-grid tbody tr').each(function () {


                var row = $(this);
                if (typeval > 0) {
                    if (row.find("td:nth-child(1)").text() == type) {
                        gridhasrecord++;
                        if (row.find("td:nth-child(6)").text() == "True") {
                            isSetDefault++;
                        }
                    }
                }
            })
            if (typeval > 0 && gridhasrecord > 0) {
                errormessage = errormessage + "At least one entry of " + type + " should be default\n";
            }
            if (isSetDefault > 0) {
                errormessage = "";
            }
        })

        if (errormessage == "") {
            SaveContactInfo();
            $('#contactInfo-div').hide();
        } else {
            alert(errormessage);
        }
    });

    // function save and show contact info detail into textarea
    function SaveContactInfo() {
        var ShowContactInfo = "";
        var SaveContactInfo = "";

        $('#ContactInfo-detail-grid tbody tr').each(function () {
            var row = $(this);
            debugger;
            SaveContactInfo = SaveContactInfo + row.find("td:nth-child(1)").text(); // ContactInfoTypeId Text
            ShowContactInfo = ShowContactInfo + row.find("td:nth-child(1)").text();

            var info = removeLastChar(row.find("td:nth-child(3)").text(), ','); // Info Text
            SaveContactInfo = SaveContactInfo + "," + info;
            ShowContactInfo = ShowContactInfo + " : " + info;

            var status = row.find("td:nth-child(4)").text(); // Status text
            SaveContactInfo = SaveContactInfo + "," + status;

            SaveContactInfo = SaveContactInfo + "," + row.find("td:nth-child(2)").text(); // ContactInfoTypeId value

            SaveContactInfo = SaveContactInfo + "," + row.find("td:nth-child(5)").text();

            SaveContactInfo = SaveContactInfo + "," + row.find("td:nth-child(6)").text();
            SaveContactInfo = SaveContactInfo + "," + row.find("td:nth-child(7)").text();

            ShowContactInfo = ShowContactInfo + ", \n";
            SaveContactInfo = SaveContactInfo + "ε";
        });
        ShowContactInfo = removeLastChar(ShowContactInfo, ',');
        $('#GuardianContactInfo').val(ShowContactInfo);
        $('#contactinfo-hidden').val(SaveContactInfo);
    }


</script>