﻿@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
    @*bootstrap core css*@
    @Styles.Render("~/bundles/bootstracss")

    @*IE10 viewport hack for Surface/desktop Windows 8 bug *@
    @Styles.Render("~/bundles/iestyle")

    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @*Custome Style css*@
    @Styles.Render("~/bundles/stylecss")

    @*maroon theme css*@
    @Styles.Render("~/bundles/themecss")

    @*drop down combo list css*@
    @Styles.Render("~/bundles/select2css")

    @*Kendo metro black theme css*@
    @Styles.Render("~/bundles/Kendotheme")

    @*Kendo common css*@
    @Styles.Render("~/bundles/Kendocommon")

    @Scripts.Render("~/bundles/jquery")

    <!-- bootstrap core js -->
    @Scripts.Render("~/bundles/bootstrapjs")

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @Scripts.Render("~/bundles/iescript")

    <!-- drop down combo list js -->
    @Scripts.Render("~/bundles/select2js")

    <script src="~/Scripts/Kendo/kendo.all.min.js"></script>

    <!-- Kendo Datetiem picker js -->
    @Scripts.Render("~/bundles/Kendodatepicker")

    <script src="~/Scripts/common.js"></script>
</head>
<body>

    <!-- Content Area -->
    <div class="container main-container">
        @RenderBody()
    </div>

    <!-- Footer -->
    <div class="footer-artwork"></div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    Copyright &copy; 2017 | a product of digitech
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".drop-down").select2();

            // create DateTimePicker from input HTML element
            $(".datetimepicker").kendoDateTimePicker();
            $(".datetimepicker").attr("readonly", true);

            // create DatePicker from input HTML element
            $(".datepicker").kendoDatePicker({
                value: new Date
            });
            $(".datepicker").attr("readonly", true);
        });

        function ScrollToTop()
        {
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }

        function FileUpload(e, uniqueno, uniqueimage, IsPhoto) {
            var imagepath = "";
            var files = e.target.files;
            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    data.append("uniqueno", uniqueno);
                    data.append("uniqueimage", uniqueimage);
                    data.append("IsPhoto", IsPhoto);

                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("UploadFile","Home"))',
                        async: false,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            if (result.status == "success") {
                                imagepath = result.path;
                            }
                            else {
                                alert(result.msg);
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            alert(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
            return imagepath;
        }

        function FileUploadGuardian(e, uniqueno, uniqueimage, IsPhoto) {
            var imagepath = "";
            var files = e.target.files;
            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    data.append("uniqueno", uniqueno);
                    data.append("uniqueimage", uniqueimage);
                    data.append("IsPhoto", IsPhoto);

                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("UploadFileGuardian", "Home"))',
                        async: false,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            if (result.status == "success") {
                                imagepath = result.path;
                            }
                            else {
                                alert(result.msg);
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            alert(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
            return imagepath;
        }

        // function get date as string and return date
        function GetDateFromString(date) {
            var datearry = date.split('/');
            var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
            return returnFromDate;
        }

    </script>
    <!-- loader -->
    <div id="ks_loader" style="width:100%; height:100%; top:0; left:0; display:none; position:fixed; z-index:9999999999999; background:rgba(255,255,255,0.3);">
        <img src="~/Content/assets/img/loader.gif" width="32" style="position:absolute; right:10px; top:10px;" />
    </div>
</body>
</html>