﻿@{
    string prefix = Convert.ToString(ViewData["Prefix"]);
}

@if (prefix != "")
{ 
    var btnPrintID = "btnPrintPdf_" + prefix;
    var btnExcelID = "btnPrintExcel_" + prefix;
    var btnPDFID = "btnPrint_" + prefix;
    <div>
        <button type="button" id='@btnPrintID' class="btn btn-xs btn-default" title="Export to Pdf" name="PdfExport">
            <i class="fa fa-file-pdf-o" style="color:red"></i>
        </button>
        <button type="button" id='@btnExcelID' class="btn btn-xs btn-default" title="Export to Excel" name="ExcelExport">
            <i class=" fa fa-file-excel-o" style="color:green">
            </i>
        </button>
        <button type="button" id='@btnPDFID' class="btn btn-xs btn-default" title="Print" name="PrintExport">
            <i class="fa fa-print" style="color:blue"></i>
        </button>
    </div>
}
else
{
    <div>
        <button type="button" id="btnPrintPdf" class="btn btn-xs btn-default" title="Export to Pdf" name="PdfExport">
            <i class="fa fa-file-pdf-o" style="color:red"></i>
        </button>
        <button type="button" id="btnPrintExcel" class="btn btn-xs btn-default" title="Export to Excel" name="ExcelExport">
            <i class=" fa fa-file-excel-o" style="color:green">
            </i>
        </button>
        <button type="button" id="btnPrint" class="btn btn-xs btn-default" title="Print" name="PrintExport">
            <i class="fa fa-print" style="color:blue"></i>
        </button>
    </div>
}




