﻿@using System.Web.Optimization
@{


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link href="~/Content/timeout-dialog.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/3ischool_favicon.png" />

    @*bootstrap core css*@
    @Styles.Render("~/bundles/bootstracss")

    @*IE10 viewport hack for Surface/desktop Windows 8 bug *@
    @Styles.Render("~/bundles/iestyle")

    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @*Custome Style css*@
    @Styles.Render("~/bundles/stylecss")

    @*maroon theme css*@
    @Styles.Render("~/bundles/themecss")

    @*drop down combo list css*@
    @Styles.Render("~/bundles/select2css")

    @*Kendo common css*@
    @Styles.Render("~/bundles/Kendocommon")

    @*Kendo metro black theme css*@
    @Styles.Render("~/bundles/Kendotheme")
    @Styles.Render("~/bundles/mutliselect")

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/assets/css/Dashboard.css" rel="stylesheet" />
    <link href="~/Content/assets/css/jquery.mczToast.css" rel="stylesheet" />
    <link href="~/Content/assets/css/timepicki.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")


    <!-- bootstrap core js -->
    @Scripts.Render("~/bundles/bootstrapjs")

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @Scripts.Render("~/bundles/iescript")

    <!-- drop down combo list js -->
    @Scripts.Render("~/bundles/select2js")
    @Scripts.Render("~/bundles/multiselectjs")
    <script src="~/Scripts/Kendo/jszip.min.js"></script>


    <script src="~/Scripts/Kendo/kendo.all.min.js"></script>

    @*common function*@
    <link href="~/Content/assets/css/navigation.css" rel="stylesheet" />

    <link href="~/Content/assets/css/ks-drawer.css" rel="stylesheet" />

    <script src="~/Scripts/common.js"></script>
    <script src="~/Content/assets/js/ks-drawer.js"></script>
    <script src="~/Content/assets/js/jquery.mczToast.js"></script>
    <script src="~/Content/assets/js/timepicki.js"></script>
    <script src="~/Scripts/webcam.js"></script>
    <script src="~/Scripts/timeout-dialog.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    @*<script src="~/Scripts/simple-lightbox.min.js"></script>*@

    @*<script type="text/javascript" src="~/Scripts/standard_fonts_metrics.js"></script>

        <script type="text/javascript" src="~/Scripts/split_text_to_size.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/from_html.js"></script>*@
    <style>
        .k-picker-wrap .k-input {
            padding: 0;
        }

        .k-datepicker {
            width: 8.4em;
        }
    </style>

</head>
@{
    if (ViewData["NeedCokkie"] != null && ViewData["NeedCokkie"] != "" && ViewData["NeedCokkie"] == "No")
    {
        <text>
            <body>
        </text>}
    else
    {
        <text> <body onload="GETcookie()">
        </text>
    }
}


<div class="container-fluid">
    <div class="row">
        <div class="ks-main-nav-level-1" style="width: 100%;background: #F1EFF0;height: 36px;float: left;overflow: hidden;">
            <div class="container">
                <div class="row">
                </div>
            </div>

        </div>
        <div class="ks-navigation-level-2" style="width: 100%;background: #AA1D23;height: 36px;float: left;">
            <div class="container">
                <div class="row" style="position:relative">
                    @*<div class="col-md-2">
                            <select class="form-control">
                                <option selected="">Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>*@
                    <div style="width:68px; height:68px; overflow: hidden; border-radius: 10000px; background: #fff; position:absolute; top:0; right: 0; margin-top: -15px; border:1px solid #ccc; padding:2px;">
                        <a href="javascript:void(0)">
                            <img src="~/Content/assets/img/konnect-smart.gif"
                                 style="float:left; margin-right:10px;width: 62px;height: 62px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="max-width: 1120px!important;">
    @RenderBody()
</div>

<div id="ks_loader" style="width:100%; height:100%; top:0; left:0; display:none; position:fixed; z-index:9999999999999; background:rgba(255,255,255,0.3);">
    <img src="~/Content/assets/img/loader.gif" width="32" style="position:absolute; right:10px; top:10px;" />
</div>

</body>
</html>