﻿@model ViewModel.ViewModel.Transport.TransportRouteModel
<!-- Validation Div -->
<div class="col-md-12 text-danger" id="Bpoint_validation_div" hidden>
    <ul></ul>
</div>
<!-- Validation Div -->
@Html.Hidden("BRBPIK") @* Bus Route Boarding Point Identity Key *@
@Html.Hidden("BPFI")
<!-- Form Row -->
<div class="row col-md-12">
    <!-- Form Coulmn -->
    <div class="form-group">
        <label class="col-md-2 control-label">Boarding Point:</label>
        <div class="col-md-10">
            @Html.TextBox("BoardingPointName", null, new { @class = "form-control", @maxlength = "100" })
        </div>
    </div>
</div>
<!-- //Form Coulmn -->
<!-- Form Coulmn -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">Latitude</label>
            <div class="col-md-8">
                @Html.TextBox("BoardingPointLatitude", null, new { @class = "form-control", @maxlength = "20", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">Longitude</label>
            <div class="col-md-8">
                @Html.TextBox("BoardingPointLongitude", null, new { @class = "form-control", @maxlength = "20", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
</div>
<div class="row col-md-12 top-space-10 boardingpointdiv" >

    <!-- Form Coulmn -->
    <div class="col-md-4">
        <label>Pick & Drop Fee</label>
        @Html.TextBoxFor(m => m.PickAndDropFee, null, new { @class = "form-control", @maxlength = "13" })
    </div>

    <!-- Form Coulmn -->
    <!-- Form Coulmn -->

    <div class="col-md-4">
        <label>Single Pick/Drop Fee</label>
        @Html.TextBoxFor(m => m.SinglePickOrDropFee, null, new { @class = "form-control", @maxlength = "13", autocomplete = "on" })
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->

    <div class="col-md-2">
        <label>Fee Frequency</label>
        @Html.DropDownListFor(m => m.FeeFrequencyId, Model.FeeFrequencyList, new { @class = "form-control" })
    </div>
    <!-- Form Coulmn -->
    <!-- Form Coulmn -->
    <div class="col-md-2">
        <label>Effective Date</label>
        @Html.TextBoxFor(m => m.EffectiveDate, null, new { @class = "form-control" })
    </div>

    <!-- Form Coulmn -->
</div>
<div class="row">
    <div class="col-md-12">
        <div id="bordingpointmap" style="width: auto;height: 350px;"></div>

        @*<div id="mapgeo" style="width: auto;height: 350px;"></div>*@

        <script>

            //function initialGeoMap() {
            //    if(navigator.geolocation)
            //    {
            //        var optn = {
            //            enableHighAccuracy: true,
            //            timeout: Infinity,
            //            maximumAge: 0
            //        };

            //        var wathcId = navigator.geolocation.watchPosition(success,fail,optn);
            //    }
            //}

            //function success(position)
            //{
            //    var googleLatLng = new google.maps.LatLng(position.coords.latitude, 
            //                        position.coords.longitude);
            //    var mapOtn={
            //        zoom:15,
            //        center:googleLatLng,
            //        mapTypeId:google.maps.MapTypeId.ROAD
            //    };
	
            //    var Pmap=document.getElementById("mapgeo");
	
            //    var map=new google.maps.Map(Pmap, mapOtn);
            //    addMarker(map, googleLatLng, "Current Location Digitech Software", 
            //                  "Sukhjinder Singh<br /><b>About Me:</b>http://digitechsoft.com/about/");
            //}

            //function addMarker(map, googleLatLng, title, content){
            //    var markerOptn={
            //        position:googleLatLng,
            //        map:map,
            //        title:title,
            //        animation:google.maps.Animation.DROP
            //    };
	
            //    var marker=new google.maps.Marker(markerOptn);
	
            //    var infoWindow=new google.maps.InfoWindow({ content: content, 
            //        position: googleLatLng});
            //    google.maps.event.addListener(marker, "click", function(){
            //        infoWindow.open(map);
            //    });												   
            //}

            //function fail(error)
            //{
            //    var errorType={
            //        0:"Unknown Error",
            //        1:"Permission denied by the user",
            //        2:"Position of the user not available",
            //        3:"Request timed out"
            //    };
	
            //    var errMsg = errorType[error.code];
	
            //    if(error.code == 0 || error.code == 2){
            //        errMsg = errMsg+" - "+error.message;
            //    }
	
            //    alert(errMsg);
            //}

            function initialMap(latlong) {
                if(latlong.length > 1)
                {
                    var yourStartLatLng = new google.maps.LatLng(latlong[0], latlong[1] );
                    $('#bordingpointmap').gmap('destroy').gmap({'center': yourStartLatLng, zoom: 16})
                   .bind('init', function(event, map) {
                       $(map).click( function(event) {
                           var lat=event.latLng.lat();
                           var lng=event.latLng.lng();
                           $('#BoardingPointLatitude').val(lat);
                           $('#BoardingPointLongitude').val(lng);
                       });
                   });
                }
                else{
                    var yourStartLatLng = new google.maps.LatLng(@Model.Latitude, @Model.Longitude );
                    $('#bordingpointmap').gmap('destroy').gmap({'center': yourStartLatLng, zoom: 13})
                    .bind('init', function(event, map) {
                        $(map).click( function(event) {
                            var lat=event.latLng.lat();
                            var lng=event.latLng.lng();
                            $('#BoardingPointLatitude').val(lat);
                            $('#BoardingPointLongitude').val(lng);
                        });
                    });
                }
            }
        </script>
    </div>
</div>
<div class="row top-space-10">
    <div class="col-md-12">
        <button type="button" id="Save_BoardingPoint" name="save" class="btn btn-success">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>
        <button type="button" name="save" class="btn btn-danger" id="closeBpoint_div">
            <i class="fa fa-ban"></i>
            Cancel
        </button>
    </div>
</div>

<script type="text/javascript">
    $('#EffectiveDate').kendoDatePicker({
        min: new Date,
        format: "dd/MM/yyyy"
    });
    $("#EffectiveDate").attr("readonly", true);
    $(document).ready(function () {
        // close city popup with 3 column city
        $('#closeBpoint_div').click(function () {
            $('#boardingpoint_modal').hide();
            //$('#Bpoint_validation_div').hide();
            //$('#Bpoint_validation_div ul').html('');
            $('#BPFI').val();
        });

        $('#Save_BoardingPoint').click(function () {
            //$('#Bpoint_validation_div').hide();
            //$('#Bpoint_validation_div ul').html('');
            $('#ks_loader').show();
            var IsFormValid = ValidateBoardingPoint();
            if (IsFormValid) {

                var BoardingPointModel = new Object();
                BoardingPointModel.BoardingPointId = $('#BRBPIK').val();
                BoardingPointModel.BoardingPoint = $('#BoardingPointName').val();
                BoardingPointModel.Lat = $("#BoardingPointLatitude").val();
                BoardingPointModel.Long = $("#BoardingPointLongitude").val();
                BoardingPointModel.PickAndDropFee=$('#PickAndDropFee').val();
                BoardingPointModel.SinglePickOrDropFee=$('#SinglePickOrDropFee').val();
                BoardingPointModel.FeeFrequencyId=$('#FeeFrequencyId').val();
                BoardingPointModel.EffectiveDate=$('#EffectiveDate').val();
                BoardingPointModel.BoardingPointFeeId=$('#BPFI').val();
              

                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertBoardingPoint", "Transport"))',
                    data: BoardingPointModel,
                    success: function (result) {
                        if (result.status == "success") {
                            alert(result.msg);
                            $('#BoardingPointName').val('');
                            $("#BoardingPointLatitude").val('');
                            $("#BoardingPointLongitude").val('');

                            // create list again
                            $('#BoardingPointId').find('option').not(':first').remove();
                            var option = "";
                            for(var i = 0 ; i < result.BPddl.length ; i++)
                            {
                                var dataid = result.BPddl[i].Lat != "" ? result.BPddl[i].Lat + "ε" + result.BPddl[i].Long : "";
                                option = '<option value="' + result.BPddl[i].BoardingPointId + '" data-id="' + dataid + '" data-pickanddropfee="'+BoardingPointModel.PickAndDropFee+'" data-singlepickordropfee="'+BoardingPointModel.SinglePickOrDropFee+'" data-effectivedate="'+BoardingPointModel.EffectiveDate+'" data-feefrequencyid="'+BoardingPointModel.FeeFrequencyId+'" data-boardingpointfeeid="'+BoardingPointModel.BoardingPointFeeId+'">' + result.BPddl[i].BoardingPoint + '</option>';
                                $('#BoardingPointId').append(option);
                            }

                            $('#boardingpoint_modal').hide();
                            $('#ks_loader').hide();
                            $('#BoardingPointId').val(result.BPIK).trigger("change");
                        }
                        else {
                            var msgary = result.data.split('ε');
                            for (var i = 0; i < msgary.length - 1; i++)
                                ToastMessage(msgary[i], "error", true, 5000);

                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status) {
                        var err = "Error " + " " + status;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                var msgary = validationmessage.split('ε');
                for (var i = 0; i < msgary.length - 1; i++) {
                    ToastMessage(msgary[i], "error", true, 5000);
                }
                $('#ks_loader').hide();
                $(ctrlfocus).focus();
            }
        });
    });

    var valid = true;
    var validationmessage = "";
    var ctrlfocus = "";
    function ValidateBoardingPoint() {
        valid = true;
        validationmessage = "";
        ctrlfocus = "";

        if ($('#BoardingPointName').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#BoardingPointName";
            validationmessage = validationmessage + "Boarding point required ε";
            valid = false;
        }

        if ($('#BoardingPointLatitude').val().trim() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#BoardingPointLatitude";
            validationmessage = validationmessage + "Latitude required ε";
            valid = false;
        }

        if ($('#BoardingPointLongitude').val().trim() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#BoardingPointLongitude";
            validationmessage = validationmessage + "Longitude required ε";
            valid = false;
        }
        if ($('#PickAndDropFee').val().trim() == "") {
            if (BoardingPointInfoctrlfocus == "")
                BoardingPointInfoctrlfocus = "#PickAndDropFee";
            BoardingPointInfovalidInfovalidationmessage = BoardingPointInfovalidInfovalidationmessage + "Please enter Drop and Pick Fee \n";
            BoardingPointInfovalid = false;
        }

        if ($('#SinglePickOrDropFee').val().trim() == "") {
            if (BoardingPointInfoctrlfocus == "")
                BoardingPointInfoctrlfocus = "#SinglePickOrDropFee";
            BoardingPointInfovalidInfovalidationmessage = BoardingPointInfovalidInfovalidationmessage + "Please enter Single Pick And Drop Fee \n";
            BoardingPointInfovalid = false;
        }
        if ($('#FeeFrequencyId').val() == "") {
            if (BoardingPointInfoctrlfocus == "")
                BoardingPointInfoctrlfocus = "#FeeFrequencyId";
            BoardingPointInfovalidInfovalidationmessage = BoardingPointInfovalidInfovalidationmessage + "Please select Fee Frequency \n";
            BoardingPointInfovalid = false;
        }
        if ($('#EffectiveDate').val() == "") {
            if (BoardingPointInfoctrlfocus == "")
                BoardingPointInfoctrlfocus = "#EffectiveDate";
            BoardingPointInfovalidInfovalidationmessage = BoardingPointInfovalidInfovalidationmessage + "Please enter Effective Date \n";
            BoardingPointInfovalid = false;
        }

        return valid;
    }

</script>


