﻿@model ViewModel.ViewModel.Transport.TransportRouteModel

<style>
        .input-group-addon {
            padding: 3px 5px;
        }

        .modal-popup-body {
            width: 750px;
        }

        a.trigger {
            text-decoration: none;
        }

        .trigger.collapsed {
            text-decoration: none;
        }

        .panel {
            margin-bottom: 4px;
        }

        .panel-group {
            padding: 0px 20px 0px 20px;
        }

        .panel-title .trigger:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            /*content:"\f056";*/
        }

        .panel-title .trigger.collapsed:before {
            /*content:  "\f055";*/
        }

        #filter_tptroute_div .k-widget.k-datepicker{
        width: 47% !important;
        float: left;
        box-shadow: none !important;
        background: transparent;
        padding: 0;
    }

</style>
@Html.HiddenFor(x => x.ModuleId)
@Html.Hidden("printEnbusrouteid")
@Html.Hidden("FileName")
@Html.Hidden("IsViewInTransport", "true")
@if (TempData["ErrorSmsRouteStudents"] != null && TempData["ErrorSmsRouteStudents"] != "")
{
    <script>
        ToastMessage('@TempData["ErrorSmsRouteStudents"]' , "error", true, 5000);
    </script>
}

<script src="~/Scripts/jquery.ui.map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1m5beHM39zUD1IrCyUG2cIM6tkbM6cjc&libraries=geometry&sensor=false" type="text/javascript"></script>



<!-- Dialog Box for Select student to send message of a route -->
<div class="modal-popup" id="stuSendMessageBox" hidden style="overflow:hidden">
    <div class="modal-popup-body" style="width:1035px">
        <div class="modal-content" style="padding: 0 0 10px 0;">
            <div class="modal-header">
                <div style="float: right;padding-top: 8px;">
                    <div class="" style="float: left;">
                        <button type="button" id="btnSendMessage" class="btn btn-xs btn-default" style="padding: 5px;border: 0;"
                                title="Send Message">
                            <i class="fa fa-share-square-o" aria-hidden="true" style="font-size: 20px;"></i>
                        </button>
                    </div>

                    @*<div class="col-md-5 pull-right">
                            <button type="button" id="btnSendMessage" class="btn btn-xs btn-default pull-right"> <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </div>*@
                    <button type="button" id="close_stuSendMessageBox" class="close" data-dismiss="modal" aria-label="Close" style="float: left;
                              margin: 0 0 0 8px;">
                        <span aria-hidden="true" style="float:left; margin:0 0 0 8px;">
                            &times;
                        </span>
                    </button>
                </div>
                <h4 class="modal-title" id="stuSendMessageModalLabel"></h4>
            </div>

            <div class="modal-body" style="height:500px;overflow-x:auto">
                <!-- Form Row -->
                <div class="row">
                    <div class='col-md-4'><input type='checkbox' id='checkAllSelect' />Select All</div>
                    <div class="col-md-12 collapse-group top-space-10">
                    </div>
                </div>
            </div>
        </div>
        <!-- Form Row -->
    </div>
</div>

<!-- Dialog Box for Select student to send message of a route -->
@if (Model.IsSchoolLocationSet == false)
{
    <div class="modal-popup" id="schoollocation_div" hidden>
        <div class="modal-popup-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Set School Location</h4>
                </div>
                <div class="modal-body">
                    <!-- Validation show -->
                    <div class="row">
                        <div class="col-md-12 text-danger" id="schoolloc_validation_div" hidden>
                            <ul></ul>
                        </div>
                    </div>
                    <!-- Validation show -->
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Form Coulmn -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Latitude</label>
                                <div class="col-md-8">
                                    @Html.TextBox("SchoolLatitude", null, new
                                   {
                                       @class = "form-control",
                                       @maxlength = "20",
                                       @readonly = "readonly"
                                   })
                                </div>
                            </div>
                            <!-- //Form Coulmn -->
                        </div>
                        <!-- Form Coulmn -->
                        <!-- Form Coulmn -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Longitude</label>
                                <div class="col-md-8">
                                    @Html.TextBox("SchoolLongitude", null, new
                                    {
                                        @class = "form-control",
                                        @maxlength = "20",
                                        @readonly = "readonly"
                                    });
                                </div>
                            </div>
                        </div>
                        <!-- //Form Coulmn -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="map" style="width: auto;height: 400px;"></div>
                            <script>
                                $(document).ready(function() {
                                    initMap(); // start load map
                                });

                                function initMap() {
                                    var yourStartLatLng = new google.maps.LatLng(@Model.Latitude, @Model.Longitude );
                                    $('#map').gmap({'center': yourStartLatLng, zoom: 13})
                                    .bind('init', function(event, map) {
                                        $(map).click( function(event) {
                                            var lat=event.latLng.lat();
                                            var lng=event.latLng.lng();
                                            $('#SchoolLatitude').val(lat);
                                            $('#SchoolLongitude').val(lng);
                                        });
                                    });
                                }

                            </script>
                        </div>
                    </div>
                    <div class="row top-space-10">
                        <div class="col-md-12">
                            <button type="button" id="Save_Schoollocation" name="SchoolLocation" class="btn btn-success">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Validation show -->
<div class="col-md-12 text-danger" id="data_validation_div" hidden>
    <ul></ul>
</div>

<!---Filter Show-  -->
<div id="filter_tptroute_div" style="display: none">
    @*@Html.HiddenFor(model => model.BusRouteId, new { @id = "filterBusRouteId" })*@
    <div class="row top-space-10">
        <div class="col-md-3">
            <label>Route Name</label>
            @Html.TextBox("filterBusRouteName", "", new { @class = "form-control", @placeholder = "Bus Route Name", @maxlength = "100", @autofocus = "on", @autocomplete = "off" })

        </div>
        <div class="col-md-3">
            <label>Route No</label>
            @Html.TextBox("filterBusRouteNo", "", new { @class = "form-control", @placeholder = "Route No.", @maxlength = "5", @autocomplete = "off" })

        </div>
        <div class="col-md-3">
            <label>Bus</label>
            @Html.DropDownList("filterBusId", Model.AvailableBuses, null, new { @class = "form-control" })

        </div>
        <div class="col-md-3">
            <label>Driver</label>
            @Html.DropDownList("filterDriverId", Model.AvailableDrivers, null, new { @id = "filterDriverId", @class = "form-control" })

        </div>
    </div>
    @Html.HiddenFor(m => m.EffectiveDate)
    <div class="row top-space-10">
        <div class="col-md-3">
            <label>Attendant</label>
            @Html.DropDownList("filterAttendantId", Model.AvailableAttendants, null, new { @id = "filterAttendantId", @class = "form-control" })

        </div>

        <div class="col-md-3">
            <label>BoardingPoint</label>
            @Html.DropDownList("filterBoardingPointId", Model.BoardingPointList, null, new { @id = "filterBoardingPointId", @class = "form-control" })

        </div>

        <div class="col-md-6">
            <label style="width: 100%;">Effective Date:</label>
            @Html.TextBox("filterEffDate", "", new { @class = "filtersdates" })
            <span style="padding: 0 4px;width: 6%;float: left;height: 28px;line-height: 28px;text-align: center;">To</span>
            @Html.TextBox("filterToDate", "", new { @class = "filtersdates" })
        </div>

       
            <div class="col-md-3">
                <label>Session</label>
                @Html.DropDownListFor(model => model.SessionId, Model.SessionList, null, new { @id = "filterSessionId", @class = "form-control" })
            </div>
        <div class="col-md-9" style="float:right">
            <button name="Filter" id="filterbusroute_grid" class="btn btn-success" style="margin-top: 20px;">
                <i class="fa fa-floppy-o"></i>
                Filter
            </button>

            <button type="button" name="cancel" id="cancelflter_busroute" class="btn btn-danger" style="margin-top: 20px">
                <i class="fa fa-ban"></i>
                Reset
            </button>
        </div>
    </div>
</div>



<!-- Validation show -->
<div id="add_new_tptroute_div" style="display: none">
    @Html.HiddenFor(model => model.BusRouteId)
    <div class="row top-space-10">
        <div class="col-md-3">
            <label>Route Name</label>
            @Html.TextBoxFor(model => model.BusRouteName, null, new { @class = "form-control", @placeholder = "Bus Route Name", @maxlength = "100", @autofocus = "on", @autocomplete = "off" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.BusRouteName)
            </div>
        </div>
        <div class="col-md-3">
            <label>Route No</label>
            @Html.TextBoxFor(model => model.BusRouteNo, null, new { @class = "form-control", @placeholder = "Route No.", @maxlength = "5", @autocomplete = "off" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.BusRouteNo)
            </div>
        </div>
        <div class="col-md-3">
            <label>Bus</label>
            @Html.DropDownListFor(model => model.BusId, Model.AvailableBuses, null, new { @class = "form-control" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.BusId)
            </div>
        </div>
        <div class="col-md-3">
            <label>Driver</label>
            @Html.DropDownListFor(model => model.DriverId, Model.AvailableDrivers, null, new { @class = "form-control" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.DriverId)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.EffectiveDate)
    <div class="row top-space-10">
        <div class="col-md-2">
            <label>Effective Date</label>
            @Html.TextBoxFor(model => model.EffDate, new { @class = "" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.EffDate)
            </div>
        </div>
        <div class="col-md-3">
            <label>Attendant</label>
            @Html.DropDownListFor(model => model.AttendantId, Model.AvailableAttendants, null, new { @class = "form-control" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                @Html.ValidationMessageFor(model => model.AttendantId)
            </div>
        </div>
        <div class="col-md-6">
            @if (Model.IsAuthToAdd)
            {
                <button type="submit" name="save" id="savenew_busroute" class="btn btn-success" style="margin-top: 20px">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>}
            @if (Model.IsAuthToEdit)
            {
                <button type="submit" name="save" id="Updatenew_busroute" class="btn btn-success" style="margin-top: 20px;">
                    <i class="fa fa-floppy-o"></i>
                    Update
                </button>
            }
            <button type="button" name="cancel" id="cancel_busroute" class="btn btn-danger" style="margin-top: 20px">
                <i class="fa fa-ban"></i>
                Cancel
            </button>
        </div>
    </div>
</div>

<div class="row top-space-10">
    <table id="busroute_grid" class="table table-bordered table-responsive table-striped table-condensed">
        <thead class="thead-default">
            <tr>
                <th>Route Name</th>
                <th>Boarding Points</th>
                <th>Drop Points</th>
                <th>Route No</th>
                <th>Bus</th>
                <th>Driver</th>
                <th>Attendant</th>
                <th>Effective Date</th>
                <th>End Date</th>
                <th hidden>Students</th>
                <th>#Pick Students</th>
                <th>#Drop Students</th>
                @if (Model.IsAuthToClose || Model.IsAuthToCreateRouteDetail || Model.IsAuthToEdit || Model.IsAuthToDelete)
                {
                    <th>Action</th>}
            </tr>
        </thead>
        <tbody id="bodybusroute_grid">
            @if (Model.BusRouteList.Count > 0)
            {
                foreach (var item in Model.BusRouteList)
                {
            <tr>
                <td style="display: none" class="clsBRI">@item.BusRouteId</td>
                <td style="display: none" class="clsBI">@item.BusId</td>
                <td style="display: none" class="clsTDI">@item.DriverId</td>
                <td style="display: none" class="clsTDAI">@item.AttendantId</td>
                <td class="clsBRN">@item.BusRouteName</td>
                <td class="clspckBrdngPoints">@item.PickBoardingPoints</td>
                <td class="clsdrpBrdngPoints">@item.DropBoardingPoints</td>
                <td class="clsBRNO">@item.BusRouteNo</td>
                <td class="clsBN">@item.BusName</td>
                <td class="clsDN changeDriver" data-id="@item.DriverId" data-tptroutedetailid="@item.TptRouteDetailId">@item.DriverName</td>
                <td class="clsDN changeAttendant" data-id="@item.AttendantId" data-tptroutedetailid="@item.TptRouteDetailId">@item.AttendantName</td>
                <td class="clsED">@item.EffectiveDate</td>
                <td class="clsEndDate">@item.EndDate</td>
                <td hidden>@item.StudentCount</td>
                <td><a href="javascript:void(0);" class="linkPickCount btn btn-xs btn-default" data-id="@item.EncBusRouteId">@item.PickCount</a></td>
                <td><a href="javascript:void(0);" class="linkDropCount btn btn-xs btn-default" data-id="@item.EncBusRouteId">@item.DropCount</a></td>
                <td style="display: none" class="clsmindate">@item.MinEndDate</td>
                <td style="display: none" class="clsmaxdate">@item.MaxEndDate</td>
                @if (Model.IsAuthToClose || Model.IsAuthToCreateRouteDetail || Model.IsAuthToEdit || Model.IsAuthToDelete)
                {
                    <td class="text-center">
                        @if (item.NoAction)
                        {
                            if (Model.IsAuthToViewDetail)
                            {
                                if (item.IsAuthToViewDetails)
                                {
                                    <a href="@Html.Raw(Url.Action("ViewTransportRouteDetail", "Transport", new { id = item.EncBusRouteId }))" title="View Route Map" data-toggle="tooltip" data-placement="top" class=" btn btn-xs btn-default"><i class="fa fa-map-marker"></i></a>
                                }
                            }
                            if (Model.IsAuthToViewRecord)
                            {
                                if (item.StudentCount != "0")
                                {
                                    <a title="View Students List" data-id="@item.EncBusRouteId" data-toggle="tooltip" data-placement="top" class="ViewStudentsBdgptlst btn btn-xs btn-default"><i class="fa fa-eye"></i></a>
                                }
                            }
                        }
                        else
                        {
                            if (Model.IsAuthToViewDetail)
                            {
                                if (item.IsAuthToViewDetails)
                                {
                                    <a href="@Html.Raw(Url.Action("ViewTransportRouteDetail", "Transport", new { id = item.EncBusRouteId }))" title="View Route Map" data-toggle="tooltip" data-placement="top" class=" btn btn-xs btn-default"><i class="fa fa-map-marker"></i></a>
                                }
                            }
                            if (item.IsDeleted && Model.IsAuthToEdit)
                            {
                                <a title="Edit Bus Route" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="clsedit btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                            }
                            if (string.IsNullOrEmpty(item.EndDate) && Model.IsAuthToCreateRouteDetail)
                            {
                                <a href="@Html.Raw(Url.Action("TransportRouteDetail", "Transport", new { id = item.EncBusRouteId }))" title="Create Route Detail" data-toggle="tooltip" data-placement="top" class="clsroutedetail btn btn-xs btn-default"><i class="fa fa-floppy-o"></i></a>
                            }
                            if (item.IsDeleted)
                            {
                                if (Model.IsAuthToDelete)
                                {
                                    <a href="javascript:void(0)" title="Delete Bus Route" data-toggle="tooltip" data-placement="top" class="clsdelete btn btn-xs btn-default"><i class="fa fa-trash"></i></a>
                                }
                            }
                            else
                            {
                                if (string.IsNullOrEmpty(item.EndDate))
                                {
                                    if (Model.IsAuthToClose)
                                    {
                                        <a href="javascript:void(0)" title="Close Bus Route" data-toggle="tooltip" data-placement="top" class="clsclose btn btn-xs btn-default"><i class="fa fa-ban"></i></a>
                                    }
                                }
                            }
                            if (Model.IsAuthToViewRecord)
                            {
                                if (item.StudentCount != "0")
                                {
                                    <a title="View Students List" data-id="@item.EncBusRouteId" data-toggle="tooltip" data-placement="top" class="ViewStudentsBdgptlst btn btn-xs btn-default"><i class="fa fa-eye"></i></a>
                                }
                            }
                        }
                        @if (!Model.IsAdmin)
                        {
                            <a title="Send Message" data-id="@item.EncBusRouteId" data-toggle="tooltip"
                               data-placement="top" class="SendMessageStudent btn btn-xs btn-default">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        }
                    </td>
                }
            </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="8">No data found</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- View Students list boarding point PopUp -->
<div class="modal-popup" id="studentsboardingPoint" style="display: none">
    <div class="modal-popup-body" style="width:1035px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closedetailsdiv" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myboardingPointModalLabel"></h4>
                <div style="float: right;">
                    <a href="javascript:void(0)" id="export_RouteMaster" class="btn btn-xs btn-default">Export To Excel</a>
                    <a href="javascript:void(0)" id="exportToPdf_RouteMaster" class="btn btn-xs btn-default">Export To PDF</a>
                    <a href="javascript:void(0)" id="print_RouteMaster" class="btn btn-xs btn-default">Print</a>
                </div>
            </div>
            <div class="modal-body">
                <!-- Form Row -->
                <div class="row">

                    <div class="col-md-12">
                        <!-- Grid -->
                        <table class="table table-responsive table-condensed" id="Studentlist_grid">
                            <thead class="thead-default">
                                <tr>
                                    <th style="width: 8%">Admn No</th>
                                    <th style="width: 15%">Student Name</th>
                                    <th style="width: 15%">Contact No</th>
                                    <th style="width: 8%">Class</th>
                                    <th style="width: 6%">Roll No</th>
                                    <th style="width: 18%">Boarding Point</th>
                                    <th style="width: 10%">Transport Type</th>
                                </tr>
                            </thead>
                            <tbody style="overflow: auto;"></tbody>
                        </table>
                        <!-- Grid -->
                    </div>
                </div>
                <!-- Form Row -->
            </div>
        </div>
    </div>
</div>
<!-- View Students list boarding point PopUp -->
<!-- Dialog Box for End Bus route -->
<div class="view_dialog_box viewbox_div1" id="ViewBox1" hidden>
    <div style="width:100%; height:25px; float:left;">
        <font style="float:left; padding:2px 10px;">
            <b>End Bus Route</b>
        </font>
        <a class="text-danger" href="javascript:void(0);" id="close_ViewBox1">
            <i class="fa fa-2x fa-times-circle-o" style="float:right;"></i>
        </a>
    </div>
    <div class="row top-space-10">
        <div class="col-md-12">
            <label class="control-label col-md-3">End Date</label>
            <div class="col-md-6">
                @Html.TextBox("EndDate", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-12 top-space-10 text-danger" id="inner_validation_div" hidden>
            <div class="col-md-12">
                <label class="control-label col-md-3"></label>
                <span id="inner_validation_span"></span>
            </div>
        </div>
        <div class="col-md-12 top-space-10" style="margin-bottom: 15px;">
            <label class="col-md-3"></label>
            <div class="col-md-3">
                @if (Model.IsAuthToClose)
                {
                    <button type="button" id="save_ViewBox1" class="btn btn-success">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                }
            </div>
        </div>
    </div>
</div>
<!-- Dialog Box for End Bus route -->
<div class="modal-popup" id="RouteNameChangeModel" style="display:none">
    <div class="modal-popup-body" style="width:300px !important">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Change Route Name</h4>
            </div>
            @Html.Hidden("BusRouteIdEditable")
            <div class="row modal-body">
                <div class="col-md-12 " style="margin:0px;">
                    <label>Route Name</label>
                    @Html.TextBox("RouteNameEditable")
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" name="save" class="btn btn-success" id="Save_RouteName">
                    Save
                </button>
                <button type="button" name="save" class="btn btn-danger " id="close_RouteName">
                    Close
                </button>

            </div>

        </div>
    </div>
</div>


<div class="modal-popup" id="changeDriverAttendantmodal" style="display:none">
    <div class="modal-popup-body" style="width:48%!important">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="changeDriverAttendantmodalheading"></h4>
            </div>
            <div class="row modal-body">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <label>Change From Date</label>
                        @Html.TextBox("changeFromDate","", new {@style="width:70%" })
                    </div>
                    <div class="col-md-5">
                        <label id="driverattendantlabel"></label>
                        <select class="" id="driverattendantid" name="" style="width:70%"></select>
                    </div>
                    <div class="col-md-2">
                        <button type="button" name="save" class="btn btn-success top-space-20" id="Save_DriverAttendant_ForRoute">
                            Save
                        </button>
                    </div>
                </div>
                <div class="col-md-12 top-space-20" id="driverAttendantHistory" style="display:none">
                    <h4 class="histrylistlbl"></h4>
                    <table class="table table-responsive table-condensed"  id="">
                            <thead class="thead-default">
                                <tr>
                                    <th>Route Name</th>
                                    <th>Effective Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody id="driverAttendantHistorybody" style="overflow: auto;"></tbody>
                        </table>
                </div>
                </div>
            <div class="modal-footer">
                <button type="button" name="Close" class="btn btn-default" id="close_changeDriverAttendantmodal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
     
    $("#addStudentTpt").click(function(){
        $(".studentTransportViewbox").hide();
        var EncStudentId=$("#intStudentId").val();
        if(EncStudentId !=null && EncStudentId !=""){
            $('#ks_loader').show();
            $(".studentTransportFhistory").html("");
            $("#ResetTransportinfo")[0].click();


            $(".headStudentName").html($("#intStudentId :selected").text()+" "+$("#ClassId :selected").text());
            $(".headRegNo").html("RegNo:"+$("#AdmsnRegNo").val());

            GetStudentTransportHistory(EncStudentId);
            divDisable();
        }else{
            alert("Please Select Student First")
        }
    })
    function GetStudentTransportHistory(EncStudentId){
        $.ajax({
            type: "Get",
            async: false,
            url: '@Html.Raw(Url.Action("GetStudentTransportHistory", "Transport"))',
            data: { "StudentId": EncStudentId},
            success: function (result) {
                $(".studentTransportFhistory").html("");
                if (result.status == "success") {
                    var  html="";
                    if (result.TransportFacilityHistorylist.length > 0)
                    {
                        $.each(result.TransportFacilityHistorylist, function (value, data) {
                            html+='<tr>';
                            html+=' <td style="display: none" class="cls_tptfacik">'+data.TptFacilityId+'</td>'
                            html+='  <td style="display: none" class="cls_tptfacttik">'+data.TptTypeId+'</td>'
                            html+='   <td style="display: none" class="cls_tptfacttdik">'+data.TptTypeDetId+'</td>'
                            html+='    <td style="display: none" class="cls_tptfacvtik">'+data.VehicleTypeId+'</td>'
                            html+='    <td style="display: none" class="cls_tptfacprik">'+data.ParkingRequired+'</td>'
                            html+='    <td style="display: none" class="cls_tptfacbrik">'+data.BusRouteId+'</td>'
                            html+='    <td style="display: none" class="cls_tptfacbpik">'+data.BoardingPointId+'</td>'
                            html+='    <td style="display: none" class="cls_tptfacbrikdrp">'+data.DropRouteId+'</td>'
                            html+='    <td style="display: none" class="cls_tptfacbpikdrp">'+data.DropBoardingPointId+'</td>'
                            html+='     <td class="cls_tptfacttdstr">'+data.TptTypeDet+'</td>'
                            if (data.BoardingPoint!=null && data.BoardingPoint!="" || data.DropBoardingPoint!=""&& data.DropBoardingPoint!=null)
                            {
                                html+='    <td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title="'+data.BoardingPoint+'">'+data.PickRouteNo+'</td>'
                                html+='    <td class="">'+data.BusRoute+'</td>'
                                html+='    <td class="" data-toggle="tooltip" data-custom-class="tooltip-custom" data-placement="top" title="'+data.DropBoardingPoint+'">'+data.DropRouteNo+'</td>'
                                html+='    <td class="">'+data.DropBusRoute+'/td>'
                                html+='   <td class=""></td>'
                                html+='  <td class=""></td>'
                                html+='  <td class=""></td>'
                            }
                            else
                            {
                                html+='  <td class=""></td>'
                                html+='  <td class=""></td>'
                                html+='  <td class=""></td>'
                                html+='  <td class=""></td>'
                                html+='  <td class="">'+data.VehicleType+'</td>'
                                html+='  <td class="cls_tptfacvn">'+data.VehicleNo+'</td>'
                                html+='  <td class="">'+data.Parking+'</td>'
                            }
                            html+=' <td class="cls_tptfaceffd">'+data.EffectiveDate+'</td>'
                            html+=' <td class="cls_tptfacendd">'+data.EndDate+'</td>'
                            html+=' <td>'
                            if (data.IsEditable)
                            {
                                html+='  <a data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-xs btn-default btn-clsedit" href="javascript:void(0)"><i class="fa fa-pencil"></i></a>'
                            }
                            if(data.IsDeleteable)
                            {
                                html+=' <a data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-xs btn-default btn-clsdelete" href="javascript:void(0)"><i class="fa fa-trash"></i></a>'
                            }
                            if(data.EndDate=="" || data.EndDate==null )
                            {
                                html+='  <a data-toggle="tooltip" data-placement="top" title="Close" class="btn btn-xs btn-default btn-clsclose" href="javascript:void(0)"><i class="fa fa-ban"></i></a>'
                            }
                            html+=' </td>'
                            html+='  <td class="cls_ownershipid" style="display:none">'+data.OmwnershipId+'</td>'
                            html+=' </tr>'
                        })
                        $(".studentTransportFhistory").append(html);
                        $(".modelsession").hide();
                        $(".headingSelect").hide();
                        $(".hideStudentDetails").hide();
                        $(".transportDiv").show();
                        $('#ks_loader').hide();
                    }
                    else
                    {
                        html+='    <tr>'
                        html+='      <td class="text-center" colspan="9">'
                        html+='      No data found'
                        html+='   </td>'
                        html+=' </tr>'
                        $(".studentTransportFhistory").append(html);
                        $(".modelsession").hide();
                        $(".headingSelect").hide();
                        $(".hideStudentDetails").hide();
                        $(".transportDiv").show();
                        $('#ks_loader').hide();
                    }

                }
                else {
                    ToastMessage(result.status, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            },
            error: function (xhr, status) {
                var err = "Error " + " " + status;
                ToastMessage(result.msg, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }

    function divDisable (){
        var unclsdTptExist = false;
        $(".transport-table tbody tr").each(function () {
            var row = $(this);
            if (row.text().trim() != "No data found") {
                var enddate = row.find("td:nth-child(19)").text();
                if (enddate == null || enddate == "") {
                    unclsdTptExist = true;
                    return false;
                }
            }
        })
        if (unclsdTptExist) {
            if ($('#TransportFacility_TptFacilityId').val() == "") {
                $('.divTransportDisable').find('input, textarea, button, select').attr('disabled','disabled');
                $('#TransportFacility_EffDate').data('kendoDatePicker').enable(false);
                $(".errorMessageTransport").text("To Add New Transport Detail Please Close Existing Transport Facility");
                $(".errorMessageTransport").show();
            }
        }
        else{
            $('.divTransportDisable').find('input, textarea, button, select').removeAttr('disabled','disabled');
            $("#TransportFacility_TptTypeId").attr('disabled','disabled');
            $('#TransportFacility_EffDate').data('kendoDatePicker').enable(true);
            $(".errorMessageTransport").text("");
            $(".errorMessageTransport").hide();
        }
    }
   

    $("#filterEffDate").change(function(){
        var FDate=$("#filterEffDate").val();
        var Filterarray=FDate.split('/');
        var  FilterFromDate = new Date(Filterarray[1] + "/" + Filterarray[0] + "/" + Filterarray[2]);
        var newdate = new Date(FilterFromDate);
        newdate.setDate(newdate.getDate() + 30);

        var minexp = new Date(FilterFromDate);
        minexp.setDate(minexp.getDate() + 1);
        if($("#filterToDate").val()!=null && $("#filterToDate").val()!=""){
            var TDate=$("#filterToDate").val();
            var FilterTarray=TDate.split('/');
            var  FilterToDate = new Date(FilterTarray[1] + "/" + FilterTarray[0] + "/" + FilterTarray[2]);
            var Todate = new Date(FilterToDate);
            var Frdate=new Date(FilterFromDate);
            if(Todate>Frdate){
                $("#filterToDate").attr("readonly", false);
                $("#filterToDate").kendoDatePicker({
                    value:newdate,
                    min: minexp,
                    format: "dd/MM/yyyy"
                });
                $("#filterToDate").attr("readonly", true);
            }
            else{
                $("#filterToDate").attr("readonly", false);
                $("#filterToDate").kendoDatePicker({
                    min: minexp,
                    format: "dd/MM/yyyy"
                });
                $("#filterToDate").attr("readonly", true);
            }
        }
        else{
            $("#filterToDate").attr("readonly", false);
            $("#filterToDate").kendoDatePicker({
                min: minexp,
                format: "dd/MM/yyyy"
            });
            $("#filterToDate").attr("readonly", true);
        }
    })
    $("#filterToDate").change(function(){
        var FToDate=$("#filterToDate").val();
        var Filterarray=FToDate.split('/');
        var  FilterToDate = new Date(Filterarray[1] + "/" + Filterarray[0] + "/" + Filterarray[2]);
        var newdate = new Date(FilterToDate);
        newdate.setDate(newdate.getDate() - 30);

        var maxexp = new Date(FilterToDate);
        maxexp.setDate(maxexp.getDate() - 1);
        if($("#filterEffDate").val()!=null && $("#filterEffDate").val()!=""){
            var FDate=$("#filterEffDate").val();
            var FilterFarray=FDate.split('/');
            var  FilterFromDate = new Date(Filterarray[1] + "/" + Filterarray[0] + "/" + Filterarray[2]);
            var Frdate = new Date(FilterFromDate);
            var Todate=new Date(FilterToDate);
            if(Frdate>Todate){
                $("#filterEffDate").attr("readonly", false);
                $("#filterEffDate").kendoDatePicker({
                    value:newdate,
                    max: maxexp,
                    format: "dd/MM/yyyy"
                });
                $("#filterEffDate").attr("readonly", true);
            }
            else{
                $("#filterEffDate").attr("readonly", false);
                $("#filterEffDate").kendoDatePicker({
                    max: maxexp,
                    format: "dd/MM/yyyy"
                });
                $("#filterEffDate").attr("readonly", true);
            }
        }
        else{
            $("#filterEffDate").attr("readonly", false);
            $("#filterEffDate").kendoDatePicker({
                max: maxexp,
                format: "dd/MM/yyyy"
            });
            $("#filterEffDate").attr("readonly", true);
        }
    })



    var gridPrmotion = $(".tbleStudents");
    //bind click event to the checkbox
    $(document).on("click", "#btnSendMessage",function(){
        $('#ks_loader').show();
        var checkedRows = [];
        var studentFlag = [];

        $(".tbleStudents tbody tr").each(function () {
            if ($(this).find("input").is(":checked")) {
                checkedRows.push($(this).find("td:eq(3)").html());
                studentFlag.push($(this).find("td:eq(3)").html()+"/"+$(this).find("td:eq(10)").html())
            }
        });

        var Ids ="";
        $.each(checkedRows,function(i){
            Ids +=checkedRows[i] + ",";
        });
        var vals ="";
        $.each(studentFlag,function(i){
            vals +=studentFlag[i] + ",";
        });
        //alert(Ids);
        if(checkedRows.length > 0)
        {
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("SaveSMSNotificationStudentsTextFile", "Messenger"))',
                data: { "StudentIds": Ids,"ModuleId": $("#ModuleId").val(), "Flags" : vals} ,
                success: function (result) {
                    $('#ks_loader').show();
                    if (result.status == "success") {
                        $("#FileName").val(result.fileName);
                        if($("#FileName").val() != "")
                            window.location.href ='@Html.Raw(Url.Action("SMSNotification", "Messenger"))?FileName='+ $("#FileName").val();
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });

        }
        else
            ToastMessage("Please select atleast one student to send message", "error", true, 5000);

        $('#ks_loader').hide();

    });
    var Pick = "";
    $(document).on("click",".linkPickCount",function(){
        var row = $(this).parent().parent();
        var EnbusrouteId=$(this).attr('data-id');
        BindPopupStudents("Pick",EnbusrouteId);
        $("#printEnbusrouteid").val(EnbusrouteId);
        $("#myboardingPointModalLabel").html("");
        $("#myboardingPointModalLabel").html("Pick and Pick Drop Student Boarding Points");
        Pick = "Pick";
    });

    $(document).on("click",".linkDropCount",function(){
        var row = $(this).parent().parent();
        var EnbusrouteId=$(this).attr('data-id');
        BindPopupStudents("Drop",EnbusrouteId);
        $("#printEnbusrouteid").val(EnbusrouteId);
        $("#myboardingPointModalLabel").html("");
        $("#myboardingPointModalLabel").html("Drop and Pick Drop Student Boarding Points");
        Pick = "Drop";
    });

    $('#FiltersBusRoute').click(function(){
        if($('#filter_tptroute_div').css('display') != 'none' ){
            ClearFilterControls();
            $('#filter_tptroute_div').hide();
        }
        else{
            ClearFilterControls();
            $('#filter_tptroute_div').show();
            $('#add_new_tptroute_div').hide();
        }
    });

    $('#AddNewBusRoute').click(function(){
        $('#add_new_tptroute_div').show();
        $('#filter_tptroute_div').hide();
    });

    if($('#BusRouteId').val() > 0)
    {
        $('#AddNewBusRoute').hide();
        $('#add_new_tptroute_div').show();
    }
    $(document).on("ready",function(){
        @if (!ViewData.ModelState.IsValid)
        {
            <text>
        $('#AddNewBusRoute').show();
        </text>
        }
    })

    $(document).on("click",'.ViewStudentsBdgptlst',function(){
        var EnbusrouteId=$(this).attr('data-id');
        $("#printEnbusrouteid").val(EnbusrouteId);
        BindPopupStudents("",EnbusrouteId);
        $("#myboardingPointModalLabel").html("");
        $("#myboardingPointModalLabel").html("Student Boarding Points");
        Pick= "";
    });

    //Calculate Student Information for borading piont
    function BindPopupStudents(RouteType,EncryptedRouteId)
    {
        $('#studentsboardingPoint').show();
        $('#ks_loader').show();
       var sessionId= $("#filterSessionId").val();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("GetStudentsList", "Transport"))',
            data: { "BRI": EncryptedRouteId, "RouteType" :RouteType ,"sessionId":sessionId},
            success: function (result) {
                if (result.status == "success") {
                    $('#Studentlist_grid tbody').html('');

                    $.each(result.data,function(){
                        $('#Studentlist_grid tbody').append('<tr><td>'+this.AdmnNo+'</td><td>'
                                                    +this.StudentName+'</td><td>'+this.ContactNo+'</td><td>'
                                                    +this.ClassName+'</td><td>'+this.RollNo+'</td><td>'
                                                    +this.BoardingPoint+'</td><td>'+this.TptType+'</td></tr>');
                    })
                }
                else {
                    ToastMessage(result.data, "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    }




    $('#header-chb').change(function (ev) {
        var checked = ev.target.checked;
        $('.row-checkbox1').each(function (idx, item) {
            if (checked) {
                if (!($(item).closest('tr').is('.k-state-selected'))) {
                    $(item).click();
                }
            } else {
                if ($(item).closest('tr').is('.k-state-selected')) {
                    $(item).click();
                }
            }
        });
    });

    $('#close_stuSendMessageBox').click(function(){
        $('#stuSendMessageBox').hide();
        $(".tbleStudents tbody tr").each(function () {
            if ($(this).find("input").is(":checked")) {
                $(this).find("input").prop("checked",false);
            }
        });
    });

    $('#closedetailsdiv').click(function(){
        $('#studentsboardingPoint').hide();
    });

    $('#Updatenew_busroute').hide();

    $('.field-validation-error').each(function () {
        var current = $(this);
        if (current.text() != "")
        {
            current.parent().show();
            $('#add_new_tptroute_div').show();
        }
        else
            current.parent().hide();
    });

    $('.field-validation-valid').each(function () {
        var current = $(this);
        if (current.text() != "")
        {
            current.parent().show();
            $('#add_new_tptroute_div').show();
        }
        else
            current.parent().hide();
    });

    // check for School Location Modal
    @if (Model.IsSchoolLocationSet == false)
    {
        <text>
    $('#schoollocation_div').show();
    </text>
    }

    $(function () {

        $("#EffDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: GetDateFromString('@Model.MinEffectiveDate'),
            min: '@Model.MinEffectiveDate'
        });

        $("#EffDate").attr("readonly", true);

        $('[data-toggle="tooltip"]').tooltip()
    });
    $(function () {
        var maxdate=new Date();


        $("#filterEffDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            max: maxdate
        });

        $("#filterEffDate").attr("readonly", true);

        $("#filterToDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            max: maxdate
        });

        $("#filterToDate").attr("readonly", true);

    });
    
    $('#filterbusroute_grid').click(function () {
        debugger;
        $('#ks_loader').show();
        var model=new Object();
        model.BusRouteName=$("#filterBusRouteName").val();
        model.BusRouteNo=$("#filterBusRouteNo").val();
        model.BusId=$("#filterBusId").val();
        model.DriverId=$("#filterDriverId").val();
        model.EffDate=$("#filterEffDate").val();
        model.ToDate=$("#filterToDate").val();
        model.AttendantId=$("#filterAttendantId").val();
        model.BoardingPointId=$("#filterBoardingPointId").val();
        model.SessionId= $("#filterSessionId").val();
        var IsShowAll = true;
        if ($("#IsShowActiveOnly").prop("checked") == false) {
            IsShowAll = false;
        }
        model.IsShowActiveOnly=IsShowAll;
        var html="";
        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("FilterBusRoute", "Transport"))',
            data: model,
            success: function (result) {
                $("#bodybusroute_grid").html("");
                if (result.BusRouteList.length > 0)
                {
                    $.each(result.BusRouteList, function(key) {
                        html +=  '<tr>';
                        html += '<td style="display: none" class="clsBRI">'+result.BusRouteList[key].BusRouteId+'</td>'
                        html += '<td style="display: none" class="clsBI">'+result.BusRouteList[key].BusId+'</td>'
                        html += '<td style="display: none" class="clsTDI">'+result.BusRouteList[key].DriverId+'</td>'
                        html += '<td style="display: none" class="clsTDAI">'+result.BusRouteList[key].AttendantId+'</td>'
                        html += '<td class="clsBRN">'+result.BusRouteList[key].BusRouteName+'</td>'
                        html += '<td class="clspckBrdngPoints">'+result.BusRouteList[key].PickBoardingPoints+'</td>'
                        html += '<td class="clsdrpBrdngPoints">'+result.BusRouteList[key].DropBoardingPoints+'</td>'
                        html += '<td class="clsBRNO">'+result.BusRouteList[key].BusRouteNo+'</td>'
                        html += '<td class="clsBN">'+result.BusRouteList[key].BusName+'</td>'
                        html += '<td class="clsDN changeDriver" data-id="'+result.BusRouteList[key].DriverId+'" data-tptroutedetailid="'+result.BusRouteList[key].TptRouteDetailId+'">'+result.BusRouteList[key].DriverName+'</td>'
                        html += '<td class="clsDN changeAttendant" data-id="'+result.BusRouteList[key].AttendantId+'" data-tptroutedetailid="'+result.BusRouteList[key].TptRouteDetailId+'">'+result.BusRouteList[key].AttendantName+'</td>'
                        html += '<td class="clsED">'+result.BusRouteList[key].EffectiveDate+'</td>'
                        html += '<td class="clsEndDate">'+result.BusRouteList[key].EndDate+'</td>'
                        html += '<td hidden>'+result.BusRouteList[key].StudentCount+'</td>'
                        html += '<td><a href="javascript:void(0);" class="linkPickCount btn btn-xs btn-default" data-id="'+result.BusRouteList[key].EncBusRouteId+'">'+result.BusRouteList[key].PickCount+'</a></td>'
                        html += '<td><a href="javascript:void(0);" class="linkDropCount btn btn-xs btn-default" data-id="'+result.BusRouteList[key].EncBusRouteId+'">'+result.BusRouteList[key].DropCount+'</a></td>'
                        html += '<td style="display: none" class="clsmindate">'+result.BusRouteList[key].MinEndDate+'</td>'
                        html += '<td style="display: none" class="clsmaxdate">'+result.BusRouteList[key].MaxEndDate+'</td>'
                        @if (Model.IsAuthToClose || Model.IsAuthToCreateRouteDetail || Model.IsAuthToEdit || Model.IsAuthToDelete)
                        {
                           <text>    
                        html += '<td class="text-center">'
                        
                        if (result.BusRouteList[key].NoAction)
                        {

                            if ('@Model.IsAuthToViewDetail'=='True')
                            {

                                if (result.BusRouteList[key].IsAuthToViewDetails)
                                {
                                    html+='<a href="@Html.Raw(Url.Action("ViewTransportRouteDetail", "Transport"))?Id='+result.BusRouteList[key].EncBusRouteId+'" title="View Route Map" data-toggle="tooltip" data-placement="top" class=" btn btn-xs btn-default"><i class="fa fa-map-marker"></i></a>'
                                }

                            }
                            if ('@Model.IsAuthToViewRecord'=='True')
                            {

                                if (result.BusRouteList[key].StudentCount != "0")
                                {
                                    html+='<a title="View Students List" data-id="'+result.BusRouteList[key].EncBusRouteId+'" data-toggle="tooltip" data-placement="top" class="ViewStudentsBdgptlst btn btn-xs btn-default"><i class="fa fa-eye"></i></a>'
                                }

                            }
                        }
                        else
                        {
                            if ('@Model.IsAuthToViewDetail'=='True')
                            {

                                if (result.BusRouteList[key].IsAuthToViewDetails)
                                {
                                    html+='<a href="@Html.Raw(Url.Action("ViewTransportRouteDetail", "Transport"))?Id='+result.BusRouteList[key].EncBusRouteId+'" title="View Route Map" data-toggle="tooltip" data-placement="top" class=" btn btn-xs btn-default"><i class="fa fa-map-marker"></i></a>'
                                }

                            }
                            if ('@Model.IsAuthToEdit'=='True')
                            {

                                if(result.BusRouteList[key].IsDeleted){
                                    html+='<a title="Edit Bus Route" data-toggle="tooltip" data-placement="top" href="javascript:void(0)" class="clsedit btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>'
                                }

                            }
                            if ('@Model.IsAuthToCreateRouteDetail'=='True')
                            {

                                if (result.BusRouteList[key].EndDate=="" ||result.BusRouteList[key].EndDate=="") {
                                    html+='<a href="@Html.Raw(Url.Action("TransportRouteDetail", "Transport"))?Id='+result.BusRouteList[key].EncBusRouteId+'" title="Create Route Detail" data-toggle="tooltip" data-placement="top" class="clsroutedetail btn btn-xs btn-default"><i class="fa fa-floppy-o"></i></a>'
                                }

                            }

                            if (result.BusRouteList[key].IsDeleted)
                            {

                                if ('@Model.IsAuthToDelete'=='True')
                                    {
                                         
                                html+='<a href="javascript:void(0)" title="Delete Bus Route" data-toggle="tooltip" data-placement="top" class="clsdelete btn btn-xs btn-default"><i class="fa fa-trash"></i></a>'
                              
                                        }
                            }
                            else
                            {
                                if (result.BusRouteList[key].EndDate==""||result.BusRouteList[key].EndDate==null)
                                {
                                    if ('@Model.IsAuthToClose'=='True')
                                        {
                                           
                                    html+='<a href="javascript:void(0)" title="Close Bus Route" data-toggle="tooltip" data-placement="top" class="clsclose btn btn-xs btn-default"><i class="fa fa-ban"></i></a>'
                                    
                                        }
                                }
                            }
                            
                            if ('@Model.IsAuthToViewRecord'=='True')
                           {
                                    
                            if (result.BusRouteList[key].StudentCount != "0")
                            {
                                html+='<a title="View Students List" data-id="'+result.BusRouteList[key].EncBusRouteId+'" data-toggle="tooltip" data-placement="top" class="ViewStudentsBdgptlst btn btn-xs btn-default"><i class="fa fa-eye"></i></a>'
                            }
                           
                           }
                         }
                        if ('@Model.IsAdmin'=='False')
                        {
                                       
                            html+='<a title="Send Message" data-id="'+result.BusRouteList[key].EncBusRouteId+'" data-toggle="tooltip"data-placement="top" class="SendMessageStudent btn btn-xs btn-default"><i class="fa fa-envelope-o"></i>'
                            html+='</a>'
                            
                        }

                            html+='</td>'
                        </text>
                        }
                        html+='</tr>'
                        })      
                                    
                    $("#bodybusroute_grid").append(html);
                    $('#ks_loader').hide();
                }
                else
                {
                    html+='</tr><tr>'
                    html+='</tr> <td class="text-center" colspan="8">No data found</td>'
                    html+='</tr></tr>'
                    $("#bodybusroute_grid").append(html);
                    $('#ks_loader').hide();
                }

                return false;
                ToastMessage("Updated Successfully", "success", true, 5000);
                $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        return false;
    })

    $(document).on("click",'.SendMessageStudent',function(){
        $('#ks_loader').show();
        var row = $(this).parent().parent();
        var encRoute_Id = $(this).attr('data-id');
        var sessionId=$("#filterSessionId").val();
        $('#stuSendMessageModalLabel').html();
        $.ajax({
            type: "GET",
            url: '@Html.Raw(Url.Action("GetStudentWithBoradingPionts", "Transport"))',
            data: { "RouteId": encRoute_Id,"EffectiveDate": row.find("td:nth-child(10)").text(),"EndDate": row.find("td:nth-child(11)").text(),"sessionId":sessionId },
            success: function (result) {

                if(result.CollaspePanelHtml != "")
                {
                    $('#stuSendMessageBox').show();
                    $('#stuSendMessageModalLabel').html("<b>Route Name: "+row.find("td:nth-child(5)").text()
                                                       +"</b><br/><span style='font-size: 13px;'>Bus No- "
                                                       +row.find("td:nth-child(6)").text()+"</span>")
                    $('#stuSendMessageBox').find('.collapse-group').html('');
                    if (result.CollaspePanelHtml != "") {
                        $('#stuSendMessageBox').find('.collapse-group').append(result.CollaspePanelHtml);
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                }
                else
                {
                    ToastMessage("There is no student found under this route", "error", true, 5000);
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });

    });

    //  Bus RouteScript code Start from here

    $('#cancel_busroute').click(function () {
        ClearControls();
    });
    $('#cancelflter_busroute').click(function () {
        ClearFilterControls();
        $('#filterbusroute_grid')[0].click();
    });



    function ClearControls() {
        // clear controls
        $('#BusRouteId').val('');

        $('#BusRouteName').val("");
        $('#BusRouteNo').val("");
        $('#BusId').val("");
        $('#DriverId').val("");
        $('#EffDate').removeAttr("readonly");
        //$('#EffDate').data("kendoDatePicker").val(('@Model.MinEffectiveDate'));
        var datePicker = $("#EffDate").data("kendoDatePicker");
        var todayDate = (GetDateFromString('@Model.MinEffectiveDate'));
        datePicker.value(todayDate);
        datePicker.trigger("change");
        $('#EffDate').attr("readonly",true);

        $('#add_new_tptroute_div').hide();
        $('#Updatenew_busroute').hide();
        $('#savenew_busroute').show();
        $('#AddNewBusRoute').show();
        $('.error-message').hide();
    }

    function ClearFilterControls() {
    //    $('#filterBusRouteId').val('');
        $("#filterSessionId").val('@Model.SessionId');
        $('#filterBusRouteName').val("");
        $('#filterBusRouteNo').val("");
        $('#filterBusId').val("");
        $('#filterDriverId').val("");
        $("#filterAttendantId").val("");
        $("#filterBoardingPointId").val("");
        $('#filterEffDate').val("");
        $('#filterToDate').val("");
        //var maxdate=new Date();
        //$("#filterEffDate").kendoDatePicker({
        //    format: "dd/MM/yyyy",
        //    max: maxdate
        //});
        //$("#filterEffDate").attr("readonly", true);
        //$("#filterToDate").kendoDatePicker({
        //    format: "dd/MM/yyyy",
        //    max: maxdate
        //});
        //$("#filterToDate").attr("readonly", true);
        //   $("#filter_tptroute_div").hide();
    }

    // bus route edit click
    $(document).on("click",'.clsedit',function(){

        ClearFilterControls();
        $('#filter_tptroute_div').hide();
        $('#AddNewBusRoute').hide();
        $('#add_new_tptroute_div').show();

        var row = $(this).parent().parent();
        // get values and assign to controls
        var busrouteId = row.find('.clsBRI').text();
        $('#BusRouteId').val(busrouteId);

        var routename = row.find('.clsBRN').text();
        $('#BusRouteName').val(routename);

        var routeno = row.find('.clsBRNO').text();
        $('#BusRouteNo').val(routeno);

        var busid = row.find('.clsBI').text();
        $('#BusId').val(busid);

        var driverid = row.find('.clsTDI').text();
        $('#DriverId').val(driverid);
        var AttendantId = row.find('.clsTDAI').text();
        $('#AttendantId').val(AttendantId);
        var effectivedate = row.find('.clsED').text();
        $('#EffDate').val(effectivedate);

        $('#Updatenew_busroute').show();
        $('#savenew_busroute').hide();
        $("html").scrollTop("180");
    });

    // bus route delete
    $('.clsdelete').click(function () {

        if (confirm("Are you sure to delete this Bus Route") == true) {
            $('#ks_loader').show();
            // current tr
            var row = $(this).parent().parent();
            var busrouteId = row.find('.clsBRI').text();

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("DeleteBusRoute", "Transport"))',
                data: { "BRI": busrouteId },
                success: function (result) {
                    if (result.status == "success") {
                        alert(result.data);
                        // check for updated entry
                        $('#busroute_grid tbody tr').each(function () {
                            var tablerow = $(this);
                            var busroute = tablerow.find('.clsBRI').text();
                            if (busrouteId == busroute)
                                tablerow.remove();
                        });
                    }
                    else {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
    });

    // close bus route
    $(document).on("click",".clsclose",function(){
        // get row
        
        var row = $(this).parent().parent();
        $('#BusRouteId').val(row.find(".clsBRI").text()); // Group Fee head Id
        // get min and max date

        $("#EndDate").removeAttr("readonly", false);
        $("#EndDate").val("");

        $("#EndDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            min: row.find(".clsmindate").text(),
            max: row.find(".clsmaxdate").text()
        });

        $("#EndDate").attr("readonly", true);

        opendialog();
    });

    // save end date
    $(document).on("click","#save_ViewBox1",function(){
        $('#ks_loader').show();

        if ($('#EndDate').val() != "") {
            var EndDate = $('#EndDate').val();
            EndDate = GetDateFromString(EndDate);
            var BRID = $('#BusRouteId').val(); // BusRouteId

            // ajax call fro save row closing date
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("EndBusRoute", "Transport"))',
                data: { "BRID": BRID, "EndDate": EndDate },
                success: function (result) {
                    if (result.status == "success") {
                        window.location.reload();
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            ToastMessage("End Date required", "error", true, 5000);
            $('#ks_loader').hide();
        }
    });

    // dialog box
    $(document).on("click","#close_ViewBox1",function(){
        closedialog();
    });

    function opendialog() {
        $(".viewbox_div1").hide(800);
        $("#ViewBox1").show(800);
    }

    function closedialog() {
        $('#rowindex').val('');
        $("#ViewBox1").hide(800);
    }

    // submit button click
    $('#savenew_busroute,#Updatenew_busroute').click(function () {
        var IsFormValid = FormValidationFunction();
        if (IsFormValid) {
            return true;
        }
        else {
            var msgarray = validationmsg.split('ε');
            for (var i = 0; i < msgarray.length - 1; i++) {
                ToastMessage(msgarray[i], "error", true, 5000);
            }
            $(ctrlfocus).focus();
            return false;
        }
    });

    // function get date as string and return date
    function GetDateFromString(date) {
        var datearry = date.split('/');
        var returnFromDate = datearry[1] + "/" + datearry[0] + "/" + datearry[2];
        return returnFromDate;
    }

    var validationmsg = "";
    var ctrlfocus = "";
    var IsValid = true;
    function FormValidationFunction() {
        validationmsg = "";
        ctrlfocus = "";
        IsValid = true;

        if ($('#BusRouteName').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#BusRouteName";
            validationmsg += "Route Name required ε";
            IsValid = false;
        }

        if ($('#BusRouteNo').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#BusRouteNo";
            validationmsg += "Route No required ε";
            IsValid = false;
        }

        if ($('#BusId').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#BusId";
            validationmsg += "Bus required ε";
            IsValid = false;
        }

        if ($('#DriverId').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#DriverId";
            validationmsg += "Driver required ε";
            IsValid = false;
        }
        if ($('#AttendantId').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#AttendantId";
            validationmsg += "Attendant required ε";
            IsValid = false;
        }
        if ($('#EffDate').val() == "") {
            if (ctrlfocus == "")
                ctrlfocus = "#EffDate";
            validationmsg += "Effective Date required ε";
            IsValid = false;
        }
        else {
            var effectivedate = GetDateFromString($("#EffDate").val());
            $("#EffectiveDate").val(effectivedate);
        }

        return IsValid;
    }

    //  Bus RouteScript code End from here

    //  School Location Script code Start from here

    $('#Save_Schoollocation').click(function(){


        var IsFormValid = LocationValidationFunction();
        if (IsFormValid) {
            // ajax method for save School Location
            var Latitude = $('#SchoolLatitude').val();
            var Longitude = $('#SchoolLongitude').val();

            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("InsertSchoolLocation", "Transport"))',
                data: { "lat": Latitude,"lng": Longitude },
                success: function (result) {
                    if (result.status == "success") {
                        alert(result.data);
                        $('#schoollocation_div').hide();
                        $('#add_new_tptroute_div').show();
                    }
                    else {
                        var msgarray = result.data.split('ε');
                        for (var i = 0; i < msgarray.length - 1; i++) {
                            ToastMessage(msgarray[i], "error", true, 5000);
                        }
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, p3) {
                    var err = "Error: " + " " + p3;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        else {
            var msgarray = Locvalidationmsg.split('ε');
            for (var i = 0; i < msgarray.length - 1; i++) {
                ToastMessage(msgarray[i], "error", true, 5000);
            }
            return false;
        }
    });

    var Locvalidationmsg = "";
    var IsLocValid = true;
    function LocationValidationFunction() {
        Locvalidationmsg = "";
        IsLocValid = true;

        if ($('#SchoolLatitude').val() == "") {
            Locvalidationmsg += "Latitude required ε";
            IsLocValid = false;
        }

        if ($('#SchoolLongitude').val() == "") {
            Locvalidationmsg += "Longitude required ε";
            IsLocValid = false;
        }

        return IsLocValid;
    }

    //  School Location Script code end from here


    $(document).on('click','.clsBRN',function () {

        var Routename= $(this).text();
        var busrouteid=$(this).parent().find('.clsBRI').text();
        $('#RouteNameChangeModel').show();
        $('#RouteNameEditable').val(Routename);
        $('#BusRouteIdEditable').val(busrouteid);

    })
    
     
    $(document).on('click','#close_RouteName',function () {
        $('#RouteNameChangeModel').hide();
        $('#RouteNameEditable').val("");
        $('#BusRouteIdEditable').val("");
    })


    $(document).on('click','#Save_RouteName',function () {
        $('#ks_loader').show();
        var Routename= $('#RouteNameEditable').val();
        var busrouteid= $('#BusRouteIdEditable').val();


        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("ChangeRouteName", "Transport"))',
            data: { "Routename": Routename,"busrouteid": busrouteid },
            success: function (result) {
                if (result.status == "success") {
                    $('#RouteNameChangeModel').hide();
                    alert(result.data);
                    window.location.reload();
                    //$('#schoollocation_div').hide();
                    //$('#add_new_tptroute_div').show();
                }
                else {
                    var msgarray = result.data.split('ε');
                    for (var i = 0; i < msgarray.length - 1; i++) {
                        ToastMessage(msgarray[i], "error", true, 5000);
                    }
                }
                $('#ks_loader').hide();
            },
            error: function (xhr, status, p3) {
                var err = "Error: " + " " + p3;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })
    var IsExcel="";
    $("#export_RouteMaster").click(function () {
        var printBRI=  $("#printEnbusrouteid").val();
        var Type = "";
        if(Pick.includes('Pick'))
            Type = "Pick";
        else if(Pick.includes('Drop'))
            Type = "Drop";

        IsExcel="1";
        $.ajax({
            type: "GET",
            async: true,
            url:  '@Html.Raw(Url.Action("Export", "Transport"))',
            data: {},
            success: function (result) {
                @*window.open = '@Html.Raw(Url.Action("ExporttransportRouteDetail", "Transport"))?BRI=' + printBRI;*@
                window.open("../Transport/ExporttransportRouteDetail?BRI=" + printBRI + "&IsExcel=" + IsExcel + "&Type=" +Type);
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });
    })
    $("#exportToPdf_RouteMaster").click(function () {

        var Type = "";
        if(Pick.includes('Pick'))
            Type = "Pick";
        else if(Pick.includes('Drop'))
            Type = "Drop";

        var printBRI=  $("#printEnbusrouteid").val();
        IsExcel="3";
        $.ajax({
            type: "GET",
            async: true,
            url:  '@Html.Raw(Url.Action("Export", "Transport"))',
            data: {},
            success: function (result) {
                debugger;
                @*window.open = '@Html.Raw(Url.Action("ExporttransportRouteDetail", "Transport"))?BRI=' + printBRI;*@
                window.open("../Transport/ExporttransportRouteDetail?BRI=" + printBRI + "&IsExcel=" + IsExcel+ "&Type=" +Type);
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });
    })

    $("#print_RouteMaster").click(function () {
        var Type = "";
        if(Pick.includes('Pick'))
            Type = "Pick";
        else if(Pick.includes('Drop'))
            Type = "Drop";

        var printBRI=  $("#printEnbusrouteid").val();
        IsExcel="2";
        $.ajax({
            type: "GET",
            async: true,
            url:  '@Html.Raw(Url.Action("Export", "Transport"))',
            data: {},
            success: function (result) {
                debugger;
                window.open("../Transport/ExporttransportRouteDetail?BRI=" + printBRI + "&IsExcel=" + IsExcel+ "&Type=" +Type);
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
            }
        });
    });

    $("#ResetTransportinfo").click(function () {
        
        $("#TransportFacility_VehicleNo").val('');
        $("#vehicleno").hide();
        //$("#TransportFacility_EffDate").data("kendoDatePicker").value(new Date());
        $("#TransportFacility_EffDate").val('');
        $("#TransportFacility_VehicleTypeId").val('');
        $("#vehicletype").hide();

      

        $("#TransportFacility_ParkingRequired").prop('checked', false);
        $("#parking-req").hide();
        $("#TransportFacility_TptTypeDetailId").val('');
        $("#tptoptions").hide();
        $("#TransportFacility_BoardingPointId").val('').trigger('change');
        $("#TransportFacility_DropBoardingPointId").val('').trigger('change');
        $("#TransportFacility_BusRouteId").val('').trigger('change');
        $("#TransportFacility_BusRouteId").find('option').not(':first').remove().trigger('change');
        $("#TransportFacility_DropRouteId").val('').trigger('change');
        $("#TransportFacility_DropRouteId").find('option').not(':first').remove().trigger('change');

        $("#DropRouteName").html("");
        $("#PickRouteName").html("");
        $("#tptbusroute").hide();
        $("#tptbpoint").hide();
        $("#tptbdroppoint").hide();
        $("#tptbusdroproute").hide();
        $("#tptfee").hide();
        $("#TransportFee").val('');
        $("#TransportFacility_TptFacilityId").val('');
        $("#TransportFacility_EffectiveDate").val('');
        $("#TransportFacility_Ownershipid").val('');
        $('#TransportFacilityOwnershipType').hide();
        $('#TransportFacility_TptTypeId').trigger('change');
      
        divDisable ();
    })
    $("#addNewStudent").click(function () {
        //alert($('#modelSessionid').val());
        $(".modelsession").show();
        $(".hideStudentDetails").show();
        $(".transportDiv").hide();
        $(".Next").hide();
        $("#ResetTransportinfo").show();
        $("#ClassId").val("");
        $("#intStudentId").val("");
        $('#AdmsnRegNo').val("");
        $("#ResetTransportinfo").trigger('click');
        $(".headingSelect").show();
        $(".headStudentName").html("");
        $(".headRegNo").html("");
          $(".errorMessageTransport").hide();
        $(".errorMessageTransport").text("");
      $('#ks_loader').show();
        $.ajax({
            type: "GET",
            async: true,
            url:  '@Html.Raw(Url.Action("GetClassList", "Transport"))',
            data: {'SessionId':$('#modelSessionid').val()},
            success: function (result) {
                $("#ClassId").empty();
                $("#modelSessionid").empty();
                $.each(result.ClassList, function (value, data) {
                    $("#ClassId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                })
                $.each(result.SessionList, function (value, data) {
                    $("#modelSessionid").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                })
                $("#modelSessionid").val(result.CurrentSession);
                   $('#ks_loader').hide();
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
        $("#selectStudentmodal").modal('show')
    })

    $("#ClassId").change(function(){
        var classid= $("#ClassId").val();
        var sessionId=$("#modelSessionid").val();
        if(sessionId=="" || sessionId==null){
            alert("Please Select Session");
            return false;
        }
        $("#intStudentId").val("");
        $("#intStudentId").html("");
        $('#AdmsnRegNo').val("");
        if(classid!="" && classid>0 && sessionId>0){
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                async: false,
                url:  '@Html.Raw(Url.Action("GetStudentList", "Transport"))',
                data: {"ClassId":classid,"SessionId":sessionId},
                success: function (result) {
                    $("#intStudentId").empty();
                    $.each(result.StudentList, function (value, data) {
                        $("#intStudentId").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                    })
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    $('#ks_loader').hide();
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });

        }
    })


    $("#intStudentId").change(function(){
        var classid= $("#ClassId").val();
        var studentId= $("#intStudentId").val();
        if(studentId!=""){
            $('#ks_loader').show();
            $.ajax({
                type: "GET",
                async: true,
                url:  '@Html.Raw(Url.Action("GetRegNoByStudentId", "Transport"))',
                data: {"studentId":studentId},
                success: function (result) {
                    if(result.status=="success"){
                        $("#AdmsnRegNo").val(result.AdmnNo);
                        $('#ks_loader').hide();
                    }
                    else{
                        alert(result.status);
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, data) {
                    $('#ks_loader').hide();
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                }
            });
        }
        else{
            $("#AdmsnRegNo").val("");
        }
    })


    $('#AdmsnRegNo').blur(function () {
        $('#ks_loader').show();
        var admnno = $('#AdmsnRegNo').val();
        $('#ClassId').val('');
        $('#intStudentId').html('');
        $("#intStudentId").append("<option value=''>--Select Student--</option>");
        var sessionId=$("#modelSessionid").val();
        if(sessionId=="" || sessionId==null){
            alert("Please Select Session");
            return false;
        }
        if (admnno != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                async: false,
                url: '@Html.Raw(Url.Action("GetStudentClassByRegNo", "Transport"))',
                data: { "AdmnNo": admnno,"SessionId":sessionId},
                success: function (result) {
                    if (result.status == "success") {
                        $('#intStudentId').html('');

                        if(result.Class>0){
                            $('#ClassId').val(result.Class);
                            $('#ClassId').trigger('change');
                            if(result.Student !=""&&result.Student!=null)
                                $('#intStudentId').val(result.Student);
                            $('#AdmsnRegNo').val(admnno)
                        }
                    }
                    else {
                        ToastMessage(result.status, "error", true, 5000);
                        $('#StudentId').html('');
                        $('#AdmsnRegNo').val('');
                        $('#AdmsnRegNo').focus();
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        }
        $('#ks_loader').hide();
    })

    $("#modelSessionid").change(function(){
        $('#ClassId').val('');
        $('#ClassId').html('');
        $('#AdmsnRegNo').val('');
        $('#intStudentId').html('');
        $('#intStudentId').val('');
         $.ajax({
                type: "Get",
                async: false,
                url: '@Html.Raw(Url.Action("GetAllStudentClassesBySession", "Transport"))',
                data: {"SessionId": $("#modelSessionid").val()},
                success: function (result) {
                    if (result.status == "success") {
                        $.each(result.ClassList, function (value, data) {
                           $('#ClassId').append("<option value=" + data.Value + " >" + data.Text + "</option>");
                        });
                    }
                    else {
                        ToastMessage(result.status, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
    })

    $(".backbtn").hide();
    $("#backButtonModal").click(function(){

        $(".transportDiv").hide();
        $(".modelsession").show();
        $(".hideStudentDetails").show();
        $(".errorMessageTransport").hide();
        $(".headingSelect").show();
    })

</script>

@*Change Driver And Attendant Methods*@
<script>
        $("#changeFromDate").kendoDatePicker({
                //value: new Date(),
                //min: new Date(),
                format: "dd/MM/yyyy"
     });
   $("#changeFromDate").closest("span.k-datepicker").width("70%");
    var ChangeFor = "";
    var driverid = "";
    var attendantid = "";
    var TptRouteDetailId = "";
    $(document).on("click", ".changeDriver", function () {
        ChangeFor = "driver";
        var RouterName = $(this).parent().find(".clsBRN").html();
        driverid = $(this).attr("data-id");
        var name=$(this).html();
        TptRouteDetailId=$(this).attr("data-tptroutedetailid");
        $("#changeDriverAttendantmodalheading").text("Change Driver for " + RouterName);
        $("#driverattendantlabel").text("Select Driver");
        $("#changeFromDate").val("");
        $("#driverattendantid").val("");
        $("#driverattendantid").html("");
        $("#driverattendantid").html("<option value='' >--Select Driver--</option>");
        $("#driverAttendantHistorybody").html("");
        $("#driverAttendantHistory").hide();
          $("#histrylistlbl").html("");
         $("#histrylistlbl").html("History List of "+name+""); 
        $("#changeDriverAttendantmodal").show();
         if (driverid != "") {
            var driverattendantid = driverid;
           GetHistoryOfDriverAttendant(driverattendantid,ChangeFor)
        }
    });

    $(document).on("click", ".changeAttendant", function () {
        
        ChangeFor = "attendant";
        var RouterName = $(this).parent().find(".clsBRN").html();
        attendantid = $(this).attr("data-id");
        var name=$(this).html();
        TptRouteDetailId = $(this).attr("data-tptroutedetailid");
        $("#changeDriverAttendantmodalheading").text("Change Attendant for " + RouterName);
        $("#driverattendantlabel").text("Select Attendant");
        $("#driverattendantid").val("");
        $("#changeFromDate").val("");
        $("#driverattendantid").html("");
         $("#driverattendantid").html("<option value='' >--Select Attendant--</option>");
        $("#driverAttendantHistorybody").html("");
        $("#driverAttendantHistory").hide();
        $("#histrylistlbl").html("");
        $("#histrylistlbl").html("History List of "+name+""); 
        $("#changeDriverAttendantmodal").show();
        if (attendantid != "") {
            var driverattendantid = attendantid;
           GetHistoryOfDriverAttendant(driverattendantid,ChangeFor)
        }
    });

    function GetHistoryOfDriverAttendant(driverattendantid,ChangeFor) {
        $("#driverAttendantHistorybody").html("");
        $("#driverAttendantHistory").show();
        $('#ks_loader').show();
         $.ajax({
                type: "Get",
                async: false,
                url: '@Html.Raw(Url.Action("GetDriverAttendantHistory", "Transport"))',
                data: { "ChangeFor": ChangeFor, "Id": driverattendantid },
                success: function (result) {
                    if (result.status == "success") {
                        if (result.DataList.length > 0) {
                            
                            var htmlrow = "";
                            $.each(result.DataList, function (value, data) {
                                htmlrow += "<tr><td>" + data.TptRouteDetail + "</td><td>" + data.EffectiveDate + "</td><td>" + data.EndDate + "</td></tr>";
                            });
                            $("#driverAttendantHistorybody").append(htmlrow);
                            $('#ks_loader').hide();
                        } else {
                            var htmlrow = "<tr><td style='text-align: end;'>History Not Found</td></tr>";
                              $("#driverAttendantHistorybody").append(htmlrow);
                            $('#ks_loader').hide();
                        }
                        if (result.MinDate != "") {
                            
                                $("#changeFromDate").kendoDatePicker({
                                 min: new Date(result.MinDate),
                                   format: "dd/MM/yyyy"
                                });
                            $("#changeFromDate").closest("span.k-datepicker").width("70%");
                            }
                    }
                    else {
                        ToastMessage(result.status, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            })
    };

    $("#changeFromDate").change(function () {
        $("#driverattendantid").val("");
        if (ChangeFor == "") {
            return false;
            ToastMessage("Invalid Details", "error", true, 5000);
        }
            var updateid = "";
            if (ChangeFor == "driver")
                updateid = driverid;
            else
                updateid = attendantid;

        var SelectedDate = $(this).val();
        if (SelectedDate != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Get",
                async: false,
                url: '@Html.Raw(Url.Action("GetDriverAttendantDateWise", "Transport"))',
                data: { "ChangeFor": ChangeFor, "Date": SelectedDate ,"Id":updateid},
                success: function (result) {
                    if (result.status == "success") {
                        $("#driverattendantid").html("");
                        $.each(result.DataList, function (value, data) {
                            $("#driverattendantid").append("<option value=" + data.Value + " >" + data.Text + "</option>");
                        })
                         $('#ks_loader').hide();
                    }
                    else {
                        ToastMessage(result.status, "error", true, 5000);
                         $('#ks_loader').hide();
                    }
                   
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        } else {
            ToastMessage("Invalid Date", "error", true, 5000);
              $('#ks_loader').hide();
        }
    });

    $("#driverattendantid").click(function () {
        if ($("#changeFromDate").val() == "") {
            ToastMessage("Select Date First", "error", true, 5000);
            return false;
        }
    });

    $("#close_changeDriverAttendantmodal").click(function () {
        $("#changeDriverAttendantmodal").hide();
        ChangeFor = "";
        driverid = "";
        attendantid = "";
        $("#driverattendantid").val("");
        $("#driverattendantid").html("");
        $("#changeFromDate").val("");
    });

    $("#Save_DriverAttendant_ForRoute").click(function () {
        if(ChangeFor == "") {
            ToastMessage("Invalid Details", "error", true, 5000);
            return false;
        }
        if ($("#changeFromDate").val() == "") {
            ToastMessage("Please Select Date First", "error", true, 5000);
            return false;
        }

        if (TptRouteDetailId == "" || TptRouteDetailId == "null") {
            ToastMessage("Invalid TptRouteDetail", "error", true, 5000);
            return false;
        }

        var updateid =$("#driverattendantid").val();

        if (updateid != "") {
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                async: false,
                url: '@Html.Raw(Url.Action("UpdateDriverAttendantBusRoute","Transport"))',
                data: {"Date":$("#changeFromDate").val(),"ChangeFor":ChangeFor,"TptRouteDetailId":TptRouteDetailId,"Id":updateid},
                success: function (result) {
                    if (result.status == "success") {
                        ToastMessage(result.msg, "success", true, 5000);
                        $('#ks_loader').hide();
                        $("#changeDriverAttendantmodal").hide();
                        $('#filterbusroute_grid').trigger('click');
                        ChangeFor = "";
                        driverid = "";
                        attendantid = "";
                        TptRouteDetailId = "";
                        $("#changeFromDate").val("");
                        $("#driverattendantid").val("");
                        $("#driverattendantid").html("");
                    }
                    else {
                        ToastMessage(result.msg, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status) {
                    var err = "Error " + " " + status;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                },
            });
        }
        else {
            var eroor = "";
            if (ChangeFor == "driver")
                eroor = "Please Select Driver";
            else
                eroor = "Please Select Attendant";

            ToastMessage(eroor, "error", true, 5000);
            return false;
        }
    });

</script>