﻿@model ViewModel.ViewModel.Transport.BoardingPointModel
@{
    ViewBag.Title = "BoardingPoint";
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1m5beHM39zUD1IrCyUG2cIM6tkbM6cjc&libraries=geometry" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1m5beHM39zUD1IrCyUG2cIM6tkbM6cjc&libraries=places" type="text/javascript"></script>
<script src="~/Scripts/jquery.ui.map.js"></script>


<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
    {
        <div class="col-md-12">
            <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
        </div>
    }
    @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
    {
        <div class="col-md-12">
            <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
        </div>
    }
    @*<div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>*@
    <div class="col-md-6">
        <h1 id="clshead">Manage Boarding Point</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="javascript:void(0)" id="AddNewBoardingPoint" class="btn btn-xs btn-default">Add New</a>
        <a href="javascript:void(0)" id="exportToExcelBoardingPoint" class="btn btn-xs btn-default">ExportToExcel</a>
        <a href="javascript:void(0)" id="printBoardingPoint" class="btn btn-xs btn-default">Print</a>
        <a title="Close Open Boarding Points" class="closeOpenBoardingPoint  btn btn-xs btn-default" href="javascript:void()"><i class="fa fa-ban" aria-hidden="true"></i></a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->

<div class="modal-popup" id="clsBoardingPointmodal" hidden style="">
    <div class="modal-popup-body" style="width: 70%;">
        <div class="modal-content" style="padding: 0 0 10px 0;">
            <div class="modal-header">
                <h4 class="modal-title">Close Open Boarding Point</h4>
            </div>
            <div class="modal-body" style="overflow-x:auto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class=" control-label">Close Date : </label>
                            <input style="width:76%;height: 31px" id="clsBoardingPointCloseDate" title="datepicker" />
                        </div>
                        <div class="col-md-4" style="margin-top: 22px;">
                            <button type="button" id="saveClsBoardingPoint" class="btn btn-danger">Save</button>
                        </div>
                    </div>
                    <div class="col-md-12 clsTableDiv" style="display:none;margin-top: 10px;">
                        <table id="" class="table table-bordered table-responsive table-striped table-condensed">
                            <thead class="thead-default">
                                <tr>
                                    <th><input type="checkbox" id="clsBoardingPointFeecheckedAll" /></th>
                                    <th>BoarDingPoint</th>
                                    @*<th>Latitude</th>
                                    <th>Longitude</th>*@
                                    <th>Pick & Drop Fee</th>
                                    <th>Pick Or Drop Fee</th>
                                    <th>Effective Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody id="clsBoardingPointTable"></tbody>
                        </table>
                    </div>
                    <div class="col-md-12 clsBoardingPointNodataDiv" style="display:none;margin-top: 10px;">
                        <label>No Data Found</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeClsBoardingPointmodal" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("BoardingPoint", "Transport", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            
            @Html.AntiForgeryToken()
            @Html.Partial("_CreateOrUpdateBoardingPoint", Model)
        }
    </div>
</div>

<script>
    $("#clsBoardingPointCloseDate").attr("readonly", false);
    $("#clsBoardingPointCloseDate").kendoDatePicker({
        format: "dd/MM/yyyy"
    })
    $("#clsBoardingPointCloseDate").attr("readonly", true);

    $(".closeOpenBoardingPoint").click(function () {
        $("#clsBoardingPointTable").html("");
        $("#clsBoardingPointCloseDate").val("");
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("OpenBoardingPointList", "Transport"))',
                data: { },
                success: function (result) {
                    if (result.BoardingPointList.length > 0) {
                        var html = "";
                        $.each(result.BoardingPointList, function (key) {
                            html += "<tr>";
                            html += '<td><input type="checkbox" class="checkedAll" /></td>'
                            html += '<td style="display: none" class="clsBRI">' + result.BoardingPointList[key].BoardingPointFeeId + '</td>'
                            html += '<td >' + result.BoardingPointList[key].BoardingPoint1 + '</td>'
                            //html += '<td >' + result.BoardingPointList[key].Latitude + '</td>'
                            //html += '<td class="">' + result.BoardingPointList[key].Longitude + '</td>'
                            html += '<td class="">' + result.BoardingPointList[key].TransportFee_1 + '</td>'
                            html += '<td class="">' + result.BoardingPointList[key].TransportFee_2 + '</td>'
                            html += '<td class="clsCloseED">' + result.BoardingPointList[key].strEffDate + '</td>'
                            html += '<td class="">' + result.BoardingPointList[key].EndDate!=null ? result.BoardingPointList[key].EndDate : "" + '</td>'
                        })
                        $("#clsBoardingPointTable").append(html);
                        $(".clsTableDiv").show();
                        $(".closeDateDiv").show();
                        $('#ks_loader').hide();
                        $('#clsBoardingPointmodal').show();
                    } else {
                        $('#clsBoardingPointmodal').hide();
                        ToastMessage("No Data", "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
    })

    $("#closeClsBoardingPointmodal").click(function () {
        $("#clsBoardingPointmodal").hide();

    })
    $("#clsBoardingPointFeecheckedAll").click(function () {
        if ($(this).prop("checked") == true) {
            $(".checkedAll").prop("checked", true);
        }
        else {
            $(".checkedAll").removeAttr('checked');
        }
    })
    $("#saveClsBoardingPoint").click(function () {
        $('#ks_loader').show();
        if ($("#clsBoardingPointCloseDate").val() == "" || $("#clsBoardingPointCloseDate").val() == null) {
            $('#ks_loader').hide();
            ToastMessage("Please Select Close Date Ist", "error", true, 5000);
            return false;
        }

        var closeDatestring = $("#clsBoardingPointCloseDate").val();
        var closedatearray = closeDatestring.split('/');
        var CFormatCloseDate = closedatearray[1] + "/" + closedatearray[0] + "/" + closedatearray[2];
        var CloseDate = new Date(closedatearray[1] + "/" + closedatearray[0] + "/" + closedatearray[2]);

        var BoardingPointFeeIds = "";
        var IsGreater = true;
        $(".checkedAll").each(function (i) {
            if ($(this).prop("checked") == true) {

                if (BoardingPointFeeIds != "") {
                    BoardingPointFeeIds += ";";
                }

                BoardingPointFeeIds += $(this).parent().parent().find(".clsBRI").text();

                var effectivestring = $(this).parent().parent().find(".clsCloseED").text();
                var datearry = effectivestring.split('/');
                var EffectiveDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);

                if (CloseDate <= EffectiveDate) {
                    IsGreater = false;
                    return false;
                }
            }
        })
        if (!IsGreater) {
            $('#ks_loader').hide();
            ToastMessage("Close Date Should Be Greater Than Effective Dates Of Selected Boarding Points", "error", true, 5000);
            return false;
        }
        if (BoardingPointFeeIds == "") {
            $('#ks_loader').hide();
            ToastMessage("Please Select Atleast One Boarding Point", "error", true, 5000);
            return false;
        }

        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("SaveCloseBoardingPoints", "Transport"))',
            data: { "CloseDate": CFormatCloseDate, "BoardingPointFeeIds": BoardingPointFeeIds },
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.msg, "success", true, 5000);
                    $('#ks_loader').hide();
                    $(".closeOpenBoardingPoint").trigger('click');
                    var grid = $('#boardingpoint-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                }
                else {
                    ToastMessage(result.msg, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
        });
    })
    $(document).on('click', '.checkedAll', function () {
        if ($(this).prop("checked") == false) {
            $("#clsBoardingPointFeecheckedAll").removeAttr('checked');
        }
    })
</script>