﻿@model ViewModel.ViewModel.Transport.TransportRouteModel

@{
    ViewBag.Title = "Manage Transport Route";
}

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-5">
        <h1 id="clshead">Manage Transport Route</h1>
    </div>
    <div class="col-md-2" >
        <div class="form-group">
            <label class="control-label" style="padding-right:0px;float:left">Show ActiveOnly</label>
            <div class="" style="margin:0;padding-left:0px">
                @Html.CheckBoxFor(model => model.IsShowActiveOnly)
            </div>
        </div>
    </div>
    <div class="col-md-5 text-right">
        <a href="javascript:void(0)" id="FiltersBusRoute" class="btn btn-xs btn-default">Filters</a>
        @if(Model.IsAuthToAdd)
        { 
        <a href="javascript:void(0)" id="AddNewBusRoute" class="btn btn-xs btn-default">Add New</a>
        }
        <a  href="javascript:void(0)" id="addNewStudent" class="btn btn-xs btn-default">Add New Student</a>
        <a title="Close Open Routes" class="close_BoardingPoint  btn btn-xs btn-default" href="javascript:void()" ><i class="fa fa-ban" aria-hidden="true"></i></a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Dialog Box For Add Student-->
<div class="modal-popup" id="selectStudentmodal" style="height:auto">
    <div class="modal-popup-body" style="height:80%;width: 70%;">
        <div class="modal-content" style="float:left;width:100%">
            <div class="modal-header">
                <button type="button" id="closeStaffAttSetting_div" style="float:left;width:100%;text-align:right;padding-bottom 10px;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="modal-title headingSelect">Select Student</h4>
                        <h4 class="transportDiv">Add Transport Detail For:</h4>
                        <h5 class="headStudentName transportDiv" > </h5>
                        <h6 class="headRegNo transportDiv"> </h6>
                        <h5 class="errorMessageTransport" style="display:none;color:red"> </h5>
                    </div>
                    <div class="col-md-6 modelsession">
                        <div class="demo" style="width: 100%;display: flex;justify-content: flex-end;">
                            <label style="float: left;width: 12%;text-align: left;" class=" control-label">Session</label>
                            
                            @*<select style="margin: 0;float: left;width: 45%;" class="form-control" id="modelSessionid">
                                <option>---Select---</option>
                                @foreach (var item in @Model.SessionList)
                                {
                                   <option id='@item.Value'> @item.Text </option>
                                }

                            </select>*@
                            @Html.DropDownListFor(m=>m.SessionId,Model.SessionList,new { @id="modelSessionid"})
                        </div>
                    </div>
                    <div class="col-md-6 transportDiv backbtn" style="display:none;margin: 10px 0px;display: flex;justify-content: flex-end;">
                        <a href="javascript:void(0)" id="backButtonModal" class="btn btn-xs btn-default">Back</a>
                    </div>
                </div>
            </div>
            
            <div class="modal-body">
                <div class="hideStudentDetails">
                    <div class="col-md-3">
                        <label class=" control-label">Reg./AdmnNo.</label>
                        @Html.TextBox("AdmsnRegNo", "", new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label class=" control-label">Class</label>
                        <select class="form-control" id="ClassId">
                            <option selected value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class=" control-label">SelectStudent</label>
                        <select class="form-control" id="intStudentId">
                            <option selected value="">--Select--</option>
                        </select>
                        <label id="lbRollNo"></label>
                    </div>
                    <div class="col-md-3" style="margin-top: 19px;">
                        <button type="button" id="addStudentTpt" class="btn btn-danger">Next</button>
                    </div>
                </div>

                <div id="Transport Detail" class="transportDiv" hidden>

                    @using (Html.BeginForm("TransportFacility", "Student", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.StudentModel.EncStudentId, new { @id = "StudentId" })
                        @*@Html.HiddenFor(model => model.FName)
                            @Html.HiddenFor(model => model.LName)*@
                        <fieldset>
                            <legend>Transport Detail</legend>
                            @Html.Partial("~/Views/Student/_TransportFacility.cshtml", Model.StudentModel,
                            new ViewDataDictionary { { "Prefix", "TransPort" } })
                            <button type="button" class="btn btn-default pull-right btn-xs Next">
                                <i class="fa fa-step-forward"></i>
                                Next
                            </button>
                        </fieldset>

                        <script>
             //   $(".hidemanageroutedetail").hide();
                $(".Next").hide();
                $("#Reset-Transport-info").hide();
                $("#ResetTransportinfo").show();
                $('#TransportFacility_TptTypeId').trigger('change');
                $("#TransportFacility_TptTypeId").prop('disabled', true);


                $('.Submit-Tptfacility').click(function () {
                    $('#ks_loader').show();
                    var tptvalid = CheckValidTptFacility();
                    if (tptvalid) {
                        var effectivedate = GetDateFromString($("#TransportFacility_EffDate").val());
                        $("#TransportFacility_EffectiveDate").val(effectivedate);

                        var TptFacilityObj = new Object();
                        TptFacilityObj.TptFacilityId = $('#TransportFacility_TptFacilityId').val();
                        TptFacilityObj.BoardingPointId = $('#TransportFacility_BoardingPointId').val();
                        TptFacilityObj.TptTypeDetailId = $('#TransportFacility_TptTypeDetailId').val();
                        TptFacilityObj.BusRouteId = $('#TransportFacility_BusRouteId').val();
                        TptFacilityObj.TptTypeId = $('#TransportFacility_TptTypeId').val();
                        TptFacilityObj.VehicleTypeId = $('#TransportFacility_VehicleTypeId').val();
                        TptFacilityObj.VehicleNo = $('#TransportFacility_VehicleNo').val();
                        TptFacilityObj.ParkingRequired = $('#TransportFacility_ParkingRequired').val();
                        TptFacilityObj.EffectiveDate = $('#TransportFacility_EffectiveDate').val();
                        TptFacilityObj.EffectiveDate = $('#TransportFacility_EffectiveDate').val();
                        TptFacilityObj.TransportUpdated = $(this).parent().parent().parent().parent().parent().attr('id');
                        TptFacilityObj.DropBoardingPointId = $('#TransportFacility_DropBoardingPointId').val();
                        TptFacilityObj.DropRouteId = $('#TransportFacility_DropRouteId').val();
                        TptFacilityObj.Ownershipid = $('#TransportFacility_Ownershipid').val();
                        $.ajax({
                            type: "POST",
                            url: '@Html.Raw(Url.Action("TransportFacility", "Student"))',
                            data: { "model": TptFacilityObj, "EncStdIK": $("#intStudentId").val()},
                            success: function (result) {
                                if (result.status == "success") {
                                    ToastMessage("Added successfully", "success", true, 5000);
                                 //   window.onbeforeunload = null;
                                    //   window.location.reload();
                                    $("#ClassId").val("");
                                    $("#intStudentId").val("");
                                    $("#intStudentId").html("");
                                    $('#AdmsnRegNo').val("");
                                    $(".hideStudentDetails").show();
                                    $(".transportDiv").hide();
                                    $('#ks_loader').hide();
                                    $(".headingSelect").show();
                                    $(".headStudentName").html("");
                                    $(".headRegNo").html();
                                    divDisable();
                                    $(".errorMessageTransport").hide();
                                    $(".modelsession").show();
                                    $(".filtersdates").val("");
                                    $('#filterbusroute_grid')[0].click();
                                    $("#ResetTransportinfo")[0].click();
                                }
                                else {
                                    $('#tptfac_contols').show();
                                    var validationaray = result.data.split('ε');
                                    for (var i = 0; i < validationaray.length - 1; i++)
                                        ToastMessage(validationaray[i], "error", true, 5000);
                                    $('#ks_loader').hide();
                                }
                            },
                            error: function (xhr, status, data) {
                                var err = "Error: " + " " + status + " " + data;
                                ToastMessage(err, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        });
                    }
                    else {

                        @if(Model.StudentModel.IsAddNewTptFacility)
                        {
                            <text>
                        $('#tptfac_contols').show();
                        </text>
                        }
                        var validationaray = tptctrvalidation.split('ε');
                        for (var i = 0; i < validationaray.length - 1; i++)
                            ToastMessage(validationaray[i], "error", true, 5000);
                        $(tptctrfocus).focus();
                        $('#ks_loader').hide();
                        return false;
                    }
                });
                        </script>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal-popup" id="clsRoutemodal" hidden style="">
    <div class="modal-popup-body" style="width: 70%;">
        <div class="modal-content" style="padding: 0 0 10px 0;">
            <div class="modal-header">
                <h4 class="modal-title">Close Open Routes</h4>
            </div>
            <div class="modal-body" style="overflow-x:auto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class=" control-label">Select Session : </label>
                            <select style="width:75% !important;height: 31px !important" class="form-control" id="clsRouteSessionId">
                                <option selected value="">--Select--</option>
                                @if (Model.SessionList.Count > 0)
                                {
                                    foreach (var item in Model.SessionList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-4 closeDateDiv" style="display:none">
                            <label class=" control-label">Close Date : </label>
                            <input style="width:76%;height: 31px" id="clsRouteCloseDate" title="datepicker" />
                        </div>
                        <div class="col-md-4 closeDateDiv" style="display:none;margin-top: 22px;">
                            <button type="button" id="saveClsRoute" class="btn btn-danger">Save</button>
                        </div>
                    </div>
                    <div class="col-md-12 clsRouteTableDiv" style="display:none;margin-top: 10px;">
                        <table id="" class="table table-bordered table-responsive table-striped table-condensed">
                            <thead class="thead-default">
                                <tr>
                                    <th><input type="checkbox" id="clsRoutecheckedAll" /></th>
                                    <th>Route Name</th>
                                    <th>Route No</th>
                                    <th>Bus</th>
                                    <th>Driver</th>
                                    <th>Effective Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody id="clsBusRouteTable"></tbody>
                        </table>
                    </div>
                    <div class="col-md-12 clsRouteNodataDiv" style="display:none;margin-top: 10px;">
                        <label>No Data Found</label>
                    </div>
                </div>
                </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeclsRoutemodal" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("TransportRoute", "Transport", FormMethod.Post,
            new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_CreateOrUpdate", Model)
        }
    </div>
</div>
<script>
    $("#IsShowActiveOnly").click(function () {
        var IsShowAll = true;
        if ($("#IsShowActiveOnly").prop("checked") == false) {
            IsShowAll = false;
        }
        $(".filtersdates").val("");
        $('#filterbusroute_grid').trigger('click');
    });
    $("#clsRouteCloseDate").attr("readonly", false);
    $("#clsRouteCloseDate").kendoDatePicker({
        format: "dd/MM/yyyy"
    })
    $("#clsRouteCloseDate").attr("readonly", true);

    $("#clsRouteSessionId").change(function () {
        $(".clsRouteTableDiv").hide();
        $(".closeDateDiv").hide();
        $(".clsRouteNodataDiv").hide();
        $("#clsBusRouteTable").html("");
        $("#clsRouteCloseDate").val("");
        if ($(this).val() != "" && $(this).val() != null && $(this).val() > 0) {
            $('#ks_loader').show();
            $.ajax({
                type: "Post",
                url: '@Html.Raw(Url.Action("OpenBusRouteList", "Transport"))',
                data: { "SessionId": $(this).val() },
                success: function (result) {
                    if (result.BusRouteList.length > 0) {
                        var html = "";
                        $.each(result.BusRouteList, function(key) {
                            html += "<tr>";
                            html += '<td><input type="checkbox" class="checkedAll" /></td>'
                            html += '<td style="display: none" class="clsBRI">' + result.BusRouteList[key].BusRouteId + '</td>'
                            html += '<td >' + result.BusRouteList[key].BusRouteName + '</td>'
                            html += '<td >' + result.BusRouteList[key].BusRouteNo + '</td>'
                            html += '<td class="">' + result.BusRouteList[key].BusName + '</td>'
                            html += '<td class="">' + result.BusRouteList[key].DriverName + '</td>'
                            html += '<td class="clsCloseED">' + result.BusRouteList[key].EffectiveDate + '</td>'
                            html += '<td class="">' + result.BusRouteList[key].EndDate + '</td>'
                        })
                        $("#clsBusRouteTable").append(html);
                        $(".clsRouteTableDiv").show();
                        $(".closeDateDiv").show();
                        $('#ks_loader').hide();
                    } else {
                        $(".clsRouteNodataDiv").show();
                        $('#ks_loader').hide();
                    }
                },
                error: function (xhr, status, data) {
                    var err = "Error " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
            return false;
        }
    })
    $("#closeclsRoutemodal").click(function () {
        $("#clsRouteSessionId").val("");
        $("#clsRoutemodal").hide();
        $(".clsRouteTableDiv").hide();
        $(".closeDateDiv").hide();
        $(".clsRouteNodataDiv").hide();
        $("#clsBusRouteTable").html("");
        $("#clsRouteCloseDate").val("");
      //  $('#filterbusroute_grid').trigger('click');
    })

    $(".close_BoardingPoint").click(function () {
        $("#clsRouteSessionId").val("");
        $("#clsRoutemodal").show();
    })
    $("#clsRoutecheckedAll").click(function () {
        if ($(this).prop("checked") == true) {
            $(".checkedAll").prop("checked", true);
        }
        else {
            $(".checkedAll").removeAttr('checked');
        }
    })

    $("#saveClsRoute").click(function () {
        $('#ks_loader').show();
        if ($("#clsRouteCloseDate").val() == "" || $("#clsRouteCloseDate").val() == null) {
            $('#ks_loader').hide();
            ToastMessage("Please Select Close Date Ist", "error", true, 5000);
            return false;
        }

        var closeDatestring = $("#clsRouteCloseDate").val();
        var closedatearray = closeDatestring.split('/');
        var CFormatCloseDate = closedatearray[1] + "/" + closedatearray[0] + "/" + closedatearray[2];
        var CloseDate = new Date(closedatearray[1] + "/" + closedatearray[0] + "/" + closedatearray[2]);

        var BusRouteIds = "";
        var IsGreater = true;
        $(".checkedAll").each(function (i) {
            if ($(this).prop("checked") == true) {

                if (BusRouteIds != "") {
                    BusRouteIds += ";";
                }

                BusRouteIds += $(this).parent().parent().find(".clsBRI").text() ;

                var effectivestring = $(this).parent().parent().find(".clsCloseED").text();
                var datearry = effectivestring.split('/');
                var EffectiveDate = new Date(datearry[1] + "/" + datearry[0] + "/" + datearry[2]);
                
                if (CloseDate <= EffectiveDate) {
                    IsGreater = false;
                    return false;
                }
            }
        })
        if (!IsGreater) {
            $('#ks_loader').hide();
            ToastMessage("Close Date Should Be Greater Than Effective Dates Of Selected Routes", "error", true, 5000);
            return false;
        }
        if (BusRouteIds == "") {
            $('#ks_loader').hide();
            ToastMessage("Please Select Atleast One Route", "error", true, 5000);
            return false;
        }

        $.ajax({
            type: "Post",
            url: '@Html.Raw(Url.Action("SaveCloseRoutes", "Transport"))',
            data: { "CloseDate": CFormatCloseDate, "BusRouteIds": BusRouteIds },
            success: function (result) {
                if (result.status == "success") {
                    ToastMessage(result.msg, "success", true, 5000);
                    $('#ks_loader').hide();

                    $("#clsRouteSessionId").trigger('change');
                    $('#filterbusroute_grid').trigger('click');
                }
            },
            error: function (xhr, status, data) {
                var err = "Error " + " " + data;
                ToastMessage(err, "error", true, 5000);
                $('#ks_loader').hide();
            }
    });
    })
    $(document).on('click', '.checkedAll', function () {
        if ($(this).prop("checked") == false) {
            $("#clsRoutecheckedAll").removeAttr('checked');
        }
    })
</script>