﻿@model ViewModel.ViewModel.Transport.TransportRouteModel

@{
    ViewBag.Title = "Manage Transport RouteDetail";
}

<link href="~/Content/assets/css/bootstrap-combined.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<style>
    .time, .mins, .meridian {
        width: 40px;
        margin: 0;
    }
</style>

<script src="~/Content/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/Scripts/jquery.ui.map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1m5beHM39zUD1IrCyUG2cIM6tkbM6cjc&libraries=geometry" type="text/javascript"></script>

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1 id="clshead">@ViewBag.BusRouteTitleName</h1>
    </div>

    <div class="col-md-6 text-right back_to_list_div">
        <a href="javascript:void(0)" id="AddNewBDPT" class="btn btn-xs btn-default">Add New</a>
        <a href="@Html.Raw(Url.Action("TransportRoute", "Transport"))" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("TransportRouteDetail", "Transport", FormMethod.Post, new { @class = "form-horizontal ks-custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.BusRouteId)
            @Html.Hidden("BSRTIKHDN") @* Bus Route ID Hidden Selector*@
            @Html.Hidden("BRPTIKHDN") @* Boarding point ID Hidden Selector*@
            @Html.Hidden("GridRowIndex")

            <div id="busroutedetail_div">
                @Html.HiddenFor(model => model.IsPickRoot)
                <!-- Validation show -->
                <div class="col-md-12 text-danger" id="busroutedetail_validation_div" hidden>
                    <ul></ul>
                </div>
                <!-- Validation show -->
                <div class="row top-space-10">
                    <div class="text-center col-md-12">
                        <label class="inline-radio"><input checked type="radio" name="routetype" id="pickroute" class="" /> Pick Route</label>
                        <label class="inline-radio"><input type="radio" name="routetype" id="droproute" class="" /> Drop Route</label>
                    </div>
                </div>
                <hr style="margin-top: 5px;margin-bottom: 5px;" />

                <div id="parentrow_div">
                    <div class="row top-space-10" id="busroutedetailCtrl" style="display: none">
                        <div class="col-md-4">
                            <label>Boarding Point</label>
                            <div class="btn-combo-ks">
                                <select class="form-control" id="BoardingPointId">
                                    @foreach (var item in Model.AvailableBoardingPoint)
                                    {
                                        string dataid = item.Lat != "" ? item.Lat + "ε" + item.Long : "";
                                        <option value="@item.BoardingPointId" data-id="@dataid" data-pickanddropfee="@item.PickAndDropFee" data-singlepickordropfee="@item.SinglePickOrDropFee" data-effectivedate="@item.EffectiveDate" data-feefrequencyid="@item.FeeFrequencyId" data-boardingpointfeeid="@item.BoardingPointFeeId">@item.BoardingPoint</option>
                                    }
                                </select>
                            </div>
                            <a style="margin-top: -28px;" href="javascript:void" class="btn-combo-plus-ks" title="Pin Boarding Point" data-toggle="tooltip" data-placement="top" id="add_newboardingpoint">
                                <i class="fa fa-map-marker" id="marker_color"></i>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <label>Index</label>
                            @Html.TextBox("BoardingIndex", Model.BoardingIndex, new { @class = "form-control", @maxlength = "2" })
                        </div>

                        <div class="col-md-2" id="picktime_div">
                            <label>Pick Time</label>
                            <input type="text" id="PickTime" class="form-control" />
                        </div>
                        <div class="col-md-2" id="droptime_div" style="display: none">
                            <label>Drop Time</label>
                            <input type="text" id="DropTime" class="form-control" />
                        </div>

                        <div class="col-md-2">
                            <label>Distance(in KM)</label>
                            @Html.TextBox("Distance", 0, new { @class = "form-control", @readonly = "readonly", @style = "float: left;width: 45%;margin-right: 10px" })
                        </div>

                        <div class="col-md-2">
                            @* add/edit new row button*@
                            <button type="button" style="margin-top: 16px" class="btn btn-success" id="clssaveorupdatebordingpoint">Save</button>
                            @* Cancel *@
                            <button type="button" style="margin-top: 16px" class="btn btn-danger" id="reset">Reset</button>
                        </div>
                    </div>

                    <table id="busroutedetail_grid" class="top-space-10 table table-responsive table-striped table-condensed">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-center">Index</th>
                                <th>Boarding Point</th>
                                <th class="picktimehead">Pick Time</th>
                                <th style="display: none" class="droptimehead">Drop Time</th>
                                <th>Distance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.BusRouteDetailList.Count > 0)
                            {
                                foreach (var item in Model.BusRouteDetailList)
                                {
                                    var latlong = item.Lat + "ε" + item.Long;
                                    <tr>
                                        <td style="display: none" class="clsBRDIK">@item.BusRouteDetailId</td>
                                        <td style="display: none" class="clsBPLL">@latlong</td>
                                        <td class="clsBDIndex text-center">@item.BoardingIndex</td>
                                        <td style="display: none" class="clsBPIK">@item.BoardingPointId</td>
                                        <td class="clsBDPT">@item.BoardingPoint</td>
                                        @*<td style="display: none" class="clsPickTime">@item.PickTime</td>*@
                                        <td style="display: none" class="clstxtpicktime">@item.DisplayPickTime</td>
                                        @*<td style="display: none" class="clsDropTime">@item.DropTime</td>*@
                                        <td style="display: none" class="clstxtdroptime">@item.DisplayDropTime</td>
                                        <td class="clsDistance">@item.Distance</td>
                                        <td style="display: none" class="clsIsInUse">@item.IsInUse.ToString().ToLower()</td>
                                        <td>
                                            <a href="javascript:void" class="btn btn-xs btn-default clsedit" title="Edit Route Boarding Point" data-toggle="tooltip" data-placement="top">
                                                <i class="fa fa-pencil clsrecordsaveicon"></i>
                                            </a>
                                            @if (item.IsDeleted)
                                            {
                                                <a href="javascript:void" class="btn btn-xs btn-default clsremoverow" title="Delet Route Boarding Point" data-toggle="tooltip" data-placement="top">
                                                    <i class="fa fa-trash clsrecordsaveicon"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="5">No data found</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <div id="top-space-10 busroutedetailmap_div">
                    <h4>Route Map</h4>
                    <hr style="margin-top: 1px;margin-bottom: 1px;" />
                    <div class="row top-space-10">
                        <div id="busroute_map" style="width: auto;height: 400px;margin-top: 10px;"></div>
                    </div>
                </div>
                <!-- New Boarding point modal -->
                <div class="modal-popup" id="boardingpoint_modal" style="display: none">
                    <div class="modal-popup-body">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="bphfour" class="modal-title">Add Boarding Point</h4>
                            </div>
                            <div class="modal-body">
                                @Html.Partial("_CreateBoardingpoint",Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>

    // declare global variable for distance call
    var DistanceMatrixStatus = 0;

    $(function () {

        $('#PickTime').timepicki();
        $('#DropTime').timepicki();

        $('#PickTime').on("focusin click", function () {
            var fullendtime = $(this).val();
            if (fullendtime != "") {
                var endtimearray = fullendtime.split(' ');
                var endtimehour = endtimearray[0].split(':')[0];
                var endtimemin = endtimearray[0].split(':')[1];
                var endtimeperiod = endtimearray[1];

                setTimeout(function () {
                    $('.timepicki-input:nth(0)').val(endtimehour);
                    $('.timepicki-input:nth(1)').val(endtimemin);
                    $('.timepicki-input:nth(2)').val(endtimeperiod);
                }, 200);
            }
        });

        $('#DropTime').on("focusin click", function () {
            var fullstarttime = $(this).val();
            if (fullstarttime != "") {
                var starttimearray = fullstarttime.split(' ');
                var starttimehour = starttimearray[0].split(':')[0];
                var starttimemin = starttimearray[0].split(':')[1];
                var starttimeperiod = starttimearray[1];

                setTimeout(function () {
                    $('.timepicki-input:nth(3)').val(starttimehour);
                    $('.timepicki-input:nth(4)').val(starttimemin);
                    $('.timepicki-input:nth(5)').val(starttimeperiod);
                }, 200);
            }
        });

        $('#AddNewBDPT').click(function(){
            $('#busroutedetailCtrl').show();
            $('#BSRTIKHDN').val("");
            $('#BRPTIKHDN').val("");
            $('#GridRowIndex').val("");

            $('#BoardingPointId').removeAttr("disabled");
            $('#add_newboardingpoint').show();
            $('#clssaveorupdatebordingpoint').text("Save");
        });

        $('#reset').click(function(){
            $('#AddNewBDPT').show();
            $('#BSRTIKHDN').val("");
            $('#BRPTIKHDN').val("");
            $('#GridRowIndex').val("");

            $('#BoardingPointId').val("");
            $('#BoardingIndex').val("");
            $('#PickTime').val("");
            $('#DropTime').val("");
            $('#Distance').val("0");

            $('#BoardingPointId').removeAttr("disabled");
            $('#add_newboardingpoint').show();
            $('#clssaveorupdatebordingpoint').text("Save");
        });


        $('[data-toggle="tooltip"]').tooltip();

        LoadMap();

        @if (Model.BusRouteDetailList.Count == 0 || (Model.BusRouteDetailList.FirstOrDefault() != null && Model.BusRouteDetailList.FirstOrDefault().IsPickRoot))
        {
            <text>
        $('#pickroute').prop("checked",true);
        $('.picktimehead').show();
        $('.droptimehead').hide();
        $('#picktime_div').show();
        $('#droptime_div').hide();
        $('.clstxtpicktime').show();
        $('.clstxtdroptime').hide();
        </text>
        }
        else
        {
            <text>
        $('#droproute').prop("checked",true);
        $('.picktimehead').hide();
        $('.droptimehead').show();
        $('#picktime_div').hide();
        $('#droptime_div').show();
        $('.clstxtpicktime').hide();
        $('.clstxtdroptime').show();
        </text>
        }


        $("#BoardingIndex").keydown(function (e) {
            NumericOnly(e);
        });

        $("#add_newboardingpoint").on('click',function(){
            $('#ks_loader').show();

            // btn parent
            var parentdiv = $(this).parent();
            // get row boarding point
            var boardingpoint = parentdiv.find('#BoardingPointId');
            $('#bphfour').text("Add Boarding Point");
            // check is edit mode or add mode
            var latlong = new Array();
            $('#BoardingPointName').val("");
            $('#BoardingPointLatitude').val("");
            $('#BoardingPointLongitude').val("");

            if(boardingpoint.val() != "")
            {
                $('#bphfour').text("Update Boarding Point");
                $('#BRBPIK').val(boardingpoint.find("option:selected").val());
                $('#BoardingPointName').val(boardingpoint.find("option:selected").text());
                // lat long
                var latlong = boardingpoint.find("option:selected").attr("data-id").split('ε');
                var PickAndDropFee = boardingpoint.find("option:selected").attr('data-pickanddropfee');
                var SinglePickOrDropFee = boardingpoint.find("option:selected").attr('data-singlepickordropfee');
                var EffectiveDate = boardingpoint.find("option:selected").attr('data-effectivedate');
                var FeeFrequencyId = boardingpoint.find("option:selected").attr('data-feefrequencyid');
                var BoardingPointFeeId= boardingpoint.find("option:selected").attr('data-boardingpointfeeid');

                $('#BoardingPointLatitude').val(latlong[0]);
                $('#BoardingPointLongitude').val(latlong[1]);
                $('#PickAndDropFee').val(PickAndDropFee);
                $('#SinglePickOrDropFee').val(SinglePickOrDropFee);
                $('#EffectiveDate').val(EffectiveDate);
                $('#FeeFrequencyId').val(FeeFrequencyId);
                $('#BPFI').val(BoardingPointFeeId);
            }

            $('#boardingpoint_modal').show();
            initialMap(latlong);
            //initialGeoMap();
            $('#ks_loader').hide();
        });

        // change radio button pick route or Drop Route
        $('input[type=radio][name=routetype]').on("change",function() {
            $('#ks_loader').show();
            // clear validations
            $('#busroutedetail_validation_div').hide();
            $('#busroutedetail_validation_div ul').html("");

            // delete exisitng rows
            $('#busroutedetail_grid tbody').html("");
            $('#BoardingPointId').val("");
            $('#BoardingIndex').val("");
            $('#PickTime').val("");
            $('#DropTime').val("");
            $('#Distance').val("0");
            $('#clssaveorupdatebordingpoint').text("Save");
            $('#BoardingPointId').removeAttr("disabled");
            $('#add_newboardingpoint').show();

            if($('#pickroute').prop("checked") == true)
            {
                $('.picktimehead').show();
                $('.droptimehead').hide();
                $('#picktime_div').show();
                $('#droptime_div').hide();
            }
            else
            {
                $('.picktimehead').hide();
                $('.droptimehead').show();
                $('#picktime_div').hide();
                $('#droptime_div').show();
            }

            // get values and assign to controls
            var busrouteId = $('#BusRouteId').val();
            var IsPickRoute = false;
            // check request for pick route or drop route
            if($('#pickroute').prop("checked") == true)
                IsPickRoute = true;

            // get exisiting route point bind with this bus route
            // By ajax call
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("GetBusRoutedetailByRouteId", "Transport"))',
                data: { "BRID": busrouteId,"IsPickRoute": IsPickRoute },
                success: function (result) {
                    if (result.status == "success") {

                        if(result.data.length == 0)
                        {
                            var row = "<tr><td class='text-center' colspan='5'>No data found</td></tr>";
                            $('#busroutedetail_grid tbody').append(row);
                        }

                        for(var i = 0 ; i< result.data.length ; i++)
                        {
                            var latlong = result.data[i].Lat + "ε" + result.data[i].Long;
                            var newrow = '<tr>'
                                + '<td style="display: none" class="clsBRDIK">' + result.data[i].BusRouteDetailId + '</td>'
                                + '<td style="display: none" class="clsBPLL">' + latlong + '</td>'
                                + '<td class="clsBDIndex text-center">' + result.data[i].BoardingIndex + '</td>'
                                + '<td style="display: none" class="clsBPIK">' + result.data[i].BoardingPointId + '</td>'
                                + '<td class="clsBDPT">' + result.data[i].BoardingPoint + '</td>'
                                + '<td style="display: none" class="clsIsInUse">' + result.data[i].IsInUse + '</td>';

                            if(result.data[i].IsPickRoot == true)
                            {
                                newrow += '<td class="clstxtpicktime">' + result.data[i].DisplayPickTime + '</td>'
                                + '<td style="display: none" class="clstxtdroptime">' + result.data[i].DisplayDropTime + '</td>';
                            }
                            else
                            {
                                newrow += '<td style="display: none" class="clstxtpicktime">' + result.data[i].DisplayPickTime + '</td>'
                                + '<td class="clstxtdroptime">' + result.data[i].DisplayDropTime + '</td>';
                            }

                            newrow += '<td class="clsDistance">' + result.data[i].Distance + '</td>'
                            + '<td>'
                            + '<a href="javascript:void" class="btn btn-xs btn-default clsedit" title="Edit Route Boarding Point" data-toggle="tooltip" data-placement="top">'
                            + '<i class="fa fa-pencil clsrecordsaveicon"></i>'
                            + '</a>';

                            if(result.data[i].IsDeleted)
                            {
                                newrow += '<a href="javascript:void" class="btn btn-xs btn-default clsremoverow" title="Delet Route Boarding Point" data-toggle="tooltip" data-placement="top">'
                                + '<i class="fa fa-trash clsrecordsaveicon"></i>'
                                + '</a>';
                            }

                            newrow += '</td>'
                            + '</tr>';

                            $('#busroutedetail_grid tbody').append(newrow);
                        }

                        // Load Map
                        LoadMap();

                        // next boarding index
                        var lastrow = $('#busroutedetail_grid tbody tr:last');
                        if(lastrow.length >0 )
                        {
                            var BPIndex = 1;
                            if(lastrow.text().trim() != "No data found")
                                BPIndex= parseFloat(lastrow.find(".clsBDIndex").text()) + 1;

                            $("#BoardingIndex").val(BPIndex);
                        }
                    }
                    else
                    {
                        ToastMessage(result.data, "error", true, 5000);
                    }
                    $('#ks_loader').hide();
                },
                error: function (xhr, status, data) {
                    var err = "Error: " + " " + data;
                    ToastMessage(err, "error", true, 5000);
                    $('#ks_loader').hide();
                }
            });
        });

        $("#clssaveorupdatebordingpoint").click(function(){

            $('#ks_loader').show();
            $('#busroutedetail_validation_div').hide();
            $('#busroutedetail_validation_div ul').html('');
            $('#BoardingPointId').removeAttr("disabled");
            $('#add_newboardingpoint').show();

            // check click event only for save or save and add new
            var IsRowValid = BRDFormValid();
            if (IsRowValid) {

                var TransportRouteModel = new Object();
                TransportRouteModel.BusRouteDetailId = $('#BSRTIKHDN').val();
                TransportRouteModel.BoardingPointId = $('#BoardingPointId').val();
                TransportRouteModel.BoardingIndex = $('#BoardingIndex').val();
                TransportRouteModel.BusRouteId = $('#BusRouteId').val();

                TransportRouteModel.IsPickRoot = false;
                if($('#pickroute').prop("checked") == true)
                    TransportRouteModel.IsPickRoot = true;

                TransportRouteModel.PickTime = $('#PickTime').val();
                TransportRouteModel.DropTime = $('#DropTime').val();
                TransportRouteModel.Distance = $('#Distance').val();

                // ajax call fro save new Boarding point in Bus route detail
                $.ajax({
                    type: "POST",
                    url: '@Html.Raw(Url.Action("InsertBusRouteDetail", "Transport"))',
                    data: TransportRouteModel,
                    success: function (result) {
                        if (result.status == "success") {
                            ToastMessage(result.data, "success", true, 5000);
                            window.location.reload();
                        }
                        else {
                            var msgarray = result.data.split('ε');
                            for (var i = 0; i < msgarray.length - 1; i++) {
                                ToastMessage(msgarray[i], "error", true, 5000);
                            }
                            $('#ks_loader').hide();
                        }
                    },
                    error: function (xhr, status, data) {
                        var err = "Error: " + " " + data;
                        ToastMessage(err, "error", true, 5000);
                        $('#ks_loader').hide();
                    }
                });
            }
            else {
                var msgarray = BRDvalidationmessage.split('ε');
                for (var i = 0; i < msgarray.length - 1; i++) {
                    ToastMessage(msgarray[i], "error", true, 5000);
                }
                $('#ks_loader').hide();
            }
        });

        // edit boarding point
        $(document).on("click",".clsedit",function(){
            // current row
            var row = $(this).parent().parent();
            // get values
            $('#GridRowIndex').val(row.index());

            $('#BSRTIKHDN').val(row.find(".clsBRDIK").text());
            $('#BRPTIKHDN').val(row.find(".clsBPIK").text());
            $('#BoardingPointId').val(row.find(".clsBPIK").text());
            $('#BoardingIndex').val(row.find(".clsBDIndex").text());
            $('#PickTime').val(row.find(".clstxtpicktime").text());
            $('#DropTime').val(row.find(".clstxtdroptime").text());
            $('#Distance').val(row.find(".clsDistance").text());

            // check if is in use Boarding point disable
            if(row.find(".clsIsInUse").text() == "true"){
                $('#BoardingPointId').attr("disabled",true);
                $('#add_newboardingpoint').hide();
            }
            else
            {
                $('#BoardingPointId').removeAttr("disabled");
                $('#add_newboardingpoint').show();
            }


            $('#AddNewBDPT').hide();
            $('#clssaveorupdatebordingpoint').text("Update");
            $('#busroutedetailCtrl').show();
        });

        // delete boarding point
        //remove row
        $(document).on('click', '.clsremoverow', function () {
            if(confirm("Are you sure want to delete this Boarding Point?") == true)
            {
                $('#ks_loader').show();


                var currentrow = $(this).parent().parent();

                // remove row entry from database
                // check if sved in databse
                if (currentrow.find('.clsBRDIK').text() != "" && currentrow.find('.clsBRDIK').text() != "0") {
                    var busroutedetailid = currentrow.find('.clsBRDIK').text();
                    // ajax call fro delete data from database
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("DeleteBusRouteDetail", "Transport"))',
                        data: { "BRDID": busroutedetailid },
                        success: function (result) {
                            if (result.status == "success") {
                                ToastMessage(result.data, "success", true, 5000);
                                // current row distance value
                                currentrow.remove();
                                window.location.reload();
                            }
                            else {
                                ToastMessage(result.data, "error", true, 5000);
                                $('#ks_loader').hide();
                            }
                        },
                        error: function (xhr, status, data) {
                            var err = "Error: " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                            $('#ks_loader').hide();
                        }
                    });
                }
                else {
                    // current row distance value
                    currentrow.remove();
                    // reload page
                    window.location.reload();
                }
            }
        });


        $("#BoardingPointId").change(function(){
            var boardingpoint = $(this);
            if(boardingpoint.val() != "")
            {
                var boarding=$("#BoardingPointId option:selected").attr("data-id");
                if(boarding=="")
                {
                    $('#marker_color').css("color","#ff0000");
                }else{
                    $('#marker_color').removeAttr('style')
                }
                $('#add_newboardingpoint').attr("data-original-title","Edit Boarding Point");
                // get current row
                var rowindex = $('#GridRowIndex').val();
                var busroutedetail = "";
                if(rowindex != "")
                {
                    var currentrow = $('#busroutedetail_grid tbody tr:eq(' + rowindex + ')');
                    // get row bus route detail id
                    busroutedetail = currentrow.find('.clsBRDIK').text();
                    // check if boarding point changed
                    if(busroutedetail > 0)
                    {
                        var rowboardingpoint = currentrow.find('.clsBPIK').text();
                        if(boardingpoint.val() != rowboardingpoint)
                        {
                            if(confirm("If you change Boarding point previous Boarding point will close automatically.Are you sure?") == true)
                            {
                                if($('#BoardingIndex').val() == "")
                                    calculatedistance(boardingpoint);// calculate distance
                                else
                                    calculatedistancebyindex($('#BoardingIndex'));// calculate distance
                            }
                            else
                                boardingpoint.val("");
                        }
                    }
                }
                else
                {
                    if($('#BoardingIndex').val() == "")
                        calculatedistance(boardingpoint);// calculate distance
                    else
                        calculatedistancebyindex($('#BoardingIndex'));// calculate distance
                }
            }
            else
                $('#add_newboardingpoint').attr("data-original-title","Add new Boarding Point");
        });

        $("#BoardingIndex").on("input",function(){
            var boardingindex = $(this);
            if(boardingindex.val() != "")
            {
                // get current row
                var rowindex = $('#GridRowIndex').val();
                if(rowindex != "")
                {
                    var currentrow = $('#busroutedetail_grid tbody tr:eq(' + rowindex + ')');
                    var rowboardingindex = currentrow.find('.clsBDIndex').text();
                    if(boardingindex.val() != rowboardingindex)
                    {
                        var count = 0;
                        // check if boarding index already exist
                        $('#busroutedetail_grid tbody tr').each(function(){
                            var row = $(this);
                            // row index
                            var index = row.index();
                            if(rowindex != index)
                            {
                                // row Boarding index
                                var boardingindexrow = row.find('.clsBDIndex').text();
                                // check if boarding index match with any row
                                if(boardingindex.val() == boardingindexrow)
                                {
                                    count ++;
                                    ToastMessage("Boarding Index already exist", "error", true, 5000);
                                    boardingindex.val("");
                                    return false;
                                }
                            }
                        });

                        if(count == 0)
                            calculatedistancebyindex(boardingindex);// calculate distance
                    }
                }
                else
                {
                    var count = 0;
                    // check if boarding index already exist
                    $('#busroutedetail_grid tbody tr').each(function(){
                        var row = $(this);
                        // row index
                        var index = row.index();
                        if(rowindex != index)
                        {
                            // row Boarding index
                            var boardingindexrow = row.find('.clsBDIndex').text();
                            // check if boarding index match with any row
                            if(boardingindex.val() == boardingindexrow)
                            {
                                count ++;
                                ToastMessage("Boarding Index already exist", "error", true, 5000);
                                boardingindex.val("");
                                return false;
                            }
                        }
                    });

                    if(count == 0)
                        calculatedistancebyindex(boardingindex);// calculate distance
                }
            }
        });

        var IsMapApiResponse = 0;
        @if(Model.BusRouteDetailList.Count > 0)
        {
            <text>
        var row = $('#busroutedetail_grid tbody tr:first');
        calculateoverallmatrix(row);

        setTimeout(function(){
            IsMapApiResponse = 0;
            // on page load re check Rows sorted by index and re calculate Distance
            var nextrowrow = row.nextAll();
            nextrowrow.each(function(){
                // calculate distance each row after currentrow
                var nextcurntrow = $(this);
                calculateoverallmatrix(nextcurntrow);
                // check last data return by Google API
                if(IsMapApiResponse == 0)
                {
                    for(var i = 0;i < 10 ;i++)
                    {
                        if(IsMapApiResponse = 0)
                            i--;
                        else
                        {
                            IsMapApiResponse == 0;
                            break;
                        }
                    }
                }
            });
        },2000);
        </text>
        }
    });

    // validation function
    var BRDvalid = true;
    var BRDvalidationmessage = "";
    function BRDFormValid() {
        BRDvalid = true;
        BRDvalidationmessage = "";

        if ($('#BoardingPointId').val() == "") {
            BRDvalidationmessage = BRDvalidationmessage + "Boarding point required ε";
            BRDvalid = false;
        }

        if ($('#BoardingIndex').val() == "") {
            BRDvalidationmessage = BRDvalidationmessage + "Boarding index required ε";
            BRDvalid = false;
        }

        if($('#pickroute').prop("checked") == true)
        {
            if ($('#PickTime').val() == "") {
                BRDvalidationmessage = BRDvalidationmessage + "Pick Time required ε";
                BRDvalid = false;
            }
        }
        else
        {
            if ($('#DropTime').val() == "") {
                BRDvalidationmessage = BRDvalidationmessage + "Drop Time required ε";
                BRDvalid = false;
            }
        }

        if ($('#Distance').val() == "") {
            BRDvalidationmessage = BRDvalidationmessage + "Distance required ε";
            BRDvalid = false;
        }

        return BRDvalid;
    }

    function LoadMap()
    {
        // create routre script funcation
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
            draggable: false,
            map: map
        });
        var map = new google.maps.Map(document.getElementById('busroute_map'), {
            zoom: 13,
            center: {lat: @Model.Latitude, lng: @Model.Longitude}
        });
        directionsDisplay.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsDisplay);
    }

    // funcation calculate distance between two way points
    function calculatedistance(elem)
    {
        $('#ks_loader').show();
        // current baording point value
        var currentboardingpointvalue = elem.val();
        if(currentboardingpointvalue != "")
        {
            var currentlatlong = $('option:selected', elem).attr('data-id');
            // get current row
            var rowindex = $('#GridRowIndex').val();
            if(rowindex != "")
            {
                var currentrow = $('#busroutedetail_grid tbody tr:eq(' + rowindex + ')');
                // get current row boarding pint lat and long
                // previous row
                var prevrow = currentrow.prev();
                if(prevrow.length > 0)
                {
                    // find boarding point in prev row
                    var prevtlatlong = prevrow.find('.clsBPLL').text();
                    // now calculate distance between two boarding points
                    // origin
                    var originlatlong = prevtlatlong.split('ε');
                    var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
                    // destination
                    var destinationlatlong = currentlatlong.split('ε');
                    var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

                    var service = new google.maps.DistanceMatrixService();
                    service.getDistanceMatrix({
                        origins: [origin],
                        destinations: [destination],
                        travelMode: google.maps.TravelMode.DRIVING,
                        unitSystem: google.maps.UnitSystem.METRIC,
                        avoidHighways: false,
                        avoidTolls: false
                    }, function (response, status) {
                        if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {

                            var distance = response.rows[0].elements[0].distance.value;
                            var duration = response.rows[0].elements[0].duration.value;
                            distance = parseFloat(distance / 1000).toFixed(1);

                            // find distance control from current row
                            var dvDistance = $('#Distance');
                            dvDistance.val(parseFloat(distance).toFixed(1));
                        }
                    });
                }

                // next row
                var nextrow = currentrow.next();
                if(nextrow.length > 0)
                {
                    // find boarding point in prev row
                    var nextrowlatlong = nextrow.find('.clsBPLL').text();

                    // now calculate distance between two boarding points
                    // origin
                    var originlatlong = currentlatlong.split('ε');
                    var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
                    // destination
                    var destinationlatlong = nextrowlatlong.split('ε');
                    var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

                    var service = new google.maps.DistanceMatrixService();
                    service.getDistanceMatrix({
                        origins: [origin],
                        destinations: [destination],
                        travelMode: google.maps.TravelMode.DRIVING,
                        unitSystem: google.maps.UnitSystem.METRIC,
                        avoidHighways: false,
                        avoidTolls: false
                    }, function (response, status) {
                        if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {

                            var distance = response.rows[0].elements[0].distance.value;
                            var duration = response.rows[0].elements[0].duration.value;
                            distance = parseFloat(distance / 1000).toFixed(1);

                            // find distance control from current row
                            nextrow.find('.clsDistance').text(parseFloat(distance).toFixed(1));
                        }
                    });
                }
            }
            else
            {
                // next row
                var lastrow = $('#busroutedetail_grid tbody tr:last');
                if(lastrow.length > 0)
                {
                    if(lastrow.text().trim() != "No data found")
                    {
                        // find boarding point in prev row
                        var lastrowlatlong = lastrow.find('.clsBPLL').text();

                        // now calculate distance between two boarding points
                        // origin
                        var originlatlong = currentlatlong.split('ε');
                        var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
                        // destination
                        var destinationlatlong = lastrowlatlong.split('ε');
                        var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

                        var service = new google.maps.DistanceMatrixService();
                        service.getDistanceMatrix({
                            origins: [origin],
                            destinations: [destination],
                            travelMode: google.maps.TravelMode.DRIVING,
                            unitSystem: google.maps.UnitSystem.METRIC,
                            avoidHighways: false,
                            avoidTolls: false
                        }, function (response, status) {
                            if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                                DistanceMatrixStatus = 1;

                                var distance = response.rows[0].elements[0].distance.value;
                                var duration = response.rows[0].elements[0].duration.value;
                                distance = parseFloat(distance / 1000).toFixed(1);

                                // find distance control from current row
                                var dvDistance = $('#Distance');
                                dvDistance.val(parseFloat(distance).toFixed(1));

                                // time calculation
                                duration = parseFloat(duration / 60).toFixed(0);

                                var nexttime = "";
                                var timearray = new Array();

                                if($('#pickroute').prop("checked") == true)
                                    nexttime = lastrow.find('.clstxtpicktime').text();
                                else
                                    nexttime = lastrow.find('.clstxtdroptime').text();

                                // last row pick time
                                timearray = nexttime.split(" ");
                                // add minutes
                                var minutes = parseFloat(timearray[0].split(':')[1]) + parseFloat(duration);
                                // check if minutes over 59
                                if(minutes > 59)
                                {
                                    var Hour = parseFloat(timearray[0].split(':')[0]) + 1;
                                    // and check minutes after 59
                                    if(minutes == 60)
                                    {
                                        var time = Hour + ":00" + " " + timearray[1];
                                        if($('#pickroute').prop("checked") == true)
                                            $("#PickTime").val(time);
                                        else
                                            $("#DropTime").val(time);
                                    }
                                    else
                                    {
                                        minutes = minutes - 60;
                                        if(minutes.toString().length == 1)
                                            minutes = "0" + minutes;

                                        var time = Hour + ":" + minutes + " " + timearray[1];
                                        if($('#pickroute').prop("checked") == true)
                                            $("#PickTime").val(time);
                                        else
                                            $("#DropTime").val(time);
                                    }
                                }
                                else
                                {
                                    if(minutes.toString().length == 1)
                                        minutes = "0" + minutes;

                                    var time = timearray[0].split(':')[0] + ":" + minutes + " " + timearray[1];
                                    if($('#pickroute').prop("checked") == true)
                                        $("#PickTime").val(time);
                                    else
                                        $("#DropTime").val(time);
                                }
                            }
                        });
                    }
                }
            }
        }

        $('#ks_loader').hide();
    }

    // funcation calculate distance between two way points
    function calculatedistancebyindex(elem)
    {
        $('#ks_loader').show();
        // current baording point value
        var currentboardingindexvalue = elem.val();
        var currentboardingpointvalue = $("#BoardingPointId");
        if(currentboardingindexvalue != "" && currentboardingpointvalue.val() != "")
        {
            var currentlatlong = $('option:selected', currentboardingpointvalue).attr('data-id');
            // get current row
            var rowindex = $('#GridRowIndex').val();
            if(rowindex != "")
            {
                // next row
                // get rows by Boarding index
                var prevrow = Element;
                var nextrow = Element;
                var rowcount = 0;
                $('#busroutedetail_grid tbody tr').each(function(){
                    if(rowcount == 0)
                    {
                        var row = $(this);
                        // row Boarding index
                        var boardingindexrow = row.find('.clsBDIndex').text();
                        // check row one before
                        boardingindexrow = parseFloat(boardingindexrow);
                        if(parseFloat(currentboardingindexvalue) < boardingindexrow)
                        {
                            rowcount ++;
                            prvrow = row.prev();
                            nextrow = row;
                        }
                    }
                });

                var currentrow = $('#busroutedetail_grid tbody tr:eq(' + rowindex + ')');
                // get current row boarding pint lat and long
                // previous row
                if(prevrow.length > 0)
                {
                    // find boarding point in prev row
                    var prevtlatlong = prevrow.find('.clsBPLL').text();
                    // now calculate distance between two boarding points
                    // origin
                    var originlatlong = prevtlatlong.split('ε');
                    var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
                    // destination
                    var destinationlatlong = currentlatlong.split('ε');
                    var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

                    var service = new google.maps.DistanceMatrixService();
                    service.getDistanceMatrix({
                        origins: [origin],
                        destinations: [destination],
                        travelMode: google.maps.TravelMode.DRIVING,
                        unitSystem: google.maps.UnitSystem.METRIC,
                        avoidHighways: false,
                        avoidTolls: false
                    }, function (response, status) {
                        if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                            DistanceMatrixStatus = 1;

                            var distance = response.rows[0].elements[0].distance.value;
                            var duration = response.rows[0].elements[0].duration.value;
                            distance = parseFloat(distance / 1000).toFixed(1);

                            // find distance control from current row
                            var dvDistance = $('#Distance');
                            dvDistance.val(parseFloat(distance).toFixed(1));
                        }
                    });
                }

                // next row
                if(nextrow.length > 0)
                {
                    // find boarding point in prev row
                    var nextrowlatlong = nextrow.find('.clsBPLL').text();

                    // now calculate distance between two boarding points
                    // origin
                    var originlatlong = currentlatlong.split('ε');
                    var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
                    // destination
                    var destinationlatlong = nextrowlatlong.split('ε');
                    var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

                    var service = new google.maps.DistanceMatrixService();
                    service.getDistanceMatrix({
                        origins: [origin],
                        destinations: [destination],
                        travelMode: google.maps.TravelMode.DRIVING,
                        unitSystem: google.maps.UnitSystem.METRIC,
                        avoidHighways: false,
                        avoidTolls: false
                    }, function (response, status) {
                        if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                            DistanceMatrixStatus = 1;

                            var distance = response.rows[0].elements[0].distance.value;
                            var duration = response.rows[0].elements[0].duration.value;
                            distance = parseFloat(distance / 1000).toFixed(1);

                            // find distance control from current row
                            nextrow.find('.clsDistance').text(parseFloat(distance).toFixed(1));
                        }
                    });
                }
            }
            else
            {
                // next row
                // get rows by Boarding index
                var prvrow = Element;
                var nextrow = Element;
                var rowcount = 0;
                $('#busroutedetail_grid tbody tr').each(function(){
                    if(rowcount == 0)
                    {
                        var row = $(this);
                        // row Boarding index
                        var boardingindexrow = row.find('.clsBDIndex').text();
                        // check row one before
                        boardingindexrow = parseFloat(boardingindexrow);
                        if(parseFloat(currentboardingindexvalue) < boardingindexrow)
                        {
                            rowcount++;
                            prvrow = row.prev();
                            nextrow = row;
                        }
                    }
                });

                if(prvrow.length == 0)
                    prvrow = $('#busroutedetail_grid tbody tr:last');

                if(prvrow.length > 0)
                {
                    if(prvrow.text().trim() != "No data found")
                    {
                        // find boarding point in prev row
                        var prvrowlatlong = prvrow.find('.clsBPLL').text();

                        // now calculate distance between two boarding points
                        // origin
                        var originlatlong = currentlatlong.split('ε');
                        var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
                        // destination
                        var destinationlatlong = prvrowlatlong.split('ε');
                        var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

                        var service = new google.maps.DistanceMatrixService();
                        service.getDistanceMatrix({
                            origins: [origin],
                            destinations: [destination],
                            travelMode: google.maps.TravelMode.DRIVING,
                            unitSystem: google.maps.UnitSystem.METRIC,
                            avoidHighways: false,
                            avoidTolls: false
                        }, function (response, status) {
                            if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                                DistanceMatrixStatus = 1;

                                var distance = response.rows[0].elements[0].distance.value;
                                var duration = response.rows[0].elements[0].duration.value;
                                distance = parseFloat(distance / 1000).toFixed(1);

                                // find distance control from current row
                                var dvDistance = $('#Distance');
                                dvDistance.val(parseFloat(distance).toFixed(1));

                                // time calculation
                                duration = parseFloat(duration / 60).toFixed(0);

                                var nexttime = "";
                                var timearray = new Array();

                                if($('#pickroute').prop("checked") == true)
                                    nexttime = prvrow.find('.clstxtpicktime').text();
                                else
                                    nexttime = prvrow.find('.clstxtdroptime').text();

                                // last row pick time
                                timearray = nexttime.split(" ");
                                // add minutes
                                var minutes = parseFloat(timearray[0].split(':')[1]) + parseFloat(duration);
                                // check if minutes over 59
                                if(minutes > 59)
                                {
                                    var Hour = parseFloat(timearray[0].split(':')[0]) + 1;
                                    // and check minutes after 59
                                    if(minutes == 60)
                                    {
                                        var time = Hour + ":00" + " " + timearray[1];
                                        if($('#pickroute').prop("checked") == true)
                                            $("#PickTime").val(time);
                                        else
                                            $("#DropTime").val(time);
                                    }
                                    else
                                    {
                                        minutes = minutes - 60;
                                        if(minutes.toString().length == 1)
                                            minutes = "0" + minutes;

                                        var time = Hour + ":" + minutes + " " + timearray[1];
                                        if($('#pickroute').prop("checked") == true)
                                            $("#PickTime").val(time);
                                        else
                                            $("#DropTime").val(time);
                                    }
                                }
                                else
                                {
                                    if(minutes.toString().length == 1)
                                        minutes = "0" + minutes;

                                    var time = timearray[0].split(':')[0] + ":" + minutes + " " + timearray[1];
                                    if($('#pickroute').prop("checked") == true)
                                        $("#PickTime").val(time);
                                    else
                                        $("#DropTime").val(time);
                                }
                            }
                        });
                    }
                }

                if(nextrow.length > 0)
                {
                    if(nextrow.find('.clsBDIndex').text()>prvrow.find('.clsBDIndex').text()){
                        // find boarding point in prev row
                        var nextrowlatlong = nextrow.find('.clsBPLL').text();

                        // now calculate distance between two boarding points
                        // origin
                        var originlatlong = currentlatlong.split('ε');
                        var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
                        // destination
                        var destinationlatlong = nextrowlatlong.split('ε');
                        var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

                        var service = new google.maps.DistanceMatrixService();
                        service.getDistanceMatrix({
                            origins: [origin],
                            destinations: [destination],
                            travelMode: google.maps.TravelMode.DRIVING,
                            unitSystem: google.maps.UnitSystem.METRIC,
                            avoidHighways: false,
                            avoidTolls: false
                        }, function (response, status) {
                            if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                                DistanceMatrixStatus = 1;

                                var distance = response.rows[0].elements[0].distance.value;
                                var duration = response.rows[0].elements[0].duration.value;
                                distance = parseFloat(distance / 1000).toFixed(1);

                                // find distance control from current row
                                nextrow.find('.clsDistance').text(parseFloat(distance).toFixed(1));
                            }
                        });
                    }
                    else{
                        // find boarding point in prev row
                        var nextrowlatlong = nextrow.find('.clsBPLL').text();

                        // now calculate distance between two boarding points
                        // origin
                        var originlatlong = currentlatlong.split('ε');
                        var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
                        // destination
                        var destinationlatlong = nextrowlatlong.split('ε');
                        var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

                        var service = new google.maps.DistanceMatrixService();
                        service.getDistanceMatrix({
                            origins: [origin],
                            destinations: [destination],
                            travelMode: google.maps.TravelMode.DRIVING,
                            unitSystem: google.maps.UnitSystem.METRIC,
                            avoidHighways: false,
                            avoidTolls: false
                        }, function (response, status) {
                            if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                                DistanceMatrixStatus = 1;

                                var distance = response.rows[0].elements[0].distance.value;
                                var duration = response.rows[0].elements[0].duration.value;
                                distance = parseFloat(distance / 1000).toFixed(1);
                                // find distance control from current row
                                var dvDistance = $('#Distance');
                                dvDistance.val(0.0);
                                // find distance control from current row
                                nextrow.find('.clsDistance').text(parseFloat(distance).toFixed(1));

                                // time calculation
                                duration = parseFloat(duration / 60).toFixed(0);

                                var nexttime = "";
                                var timearray = new Array();

                                if($('#pickroute').prop("checked") == true)
                                    nexttime = prvrow.find('.clstxtpicktime').text();
                                else
                                    nexttime = prvrow.find('.clstxtdroptime').text();

                                // last row pick time
                                timearray = nexttime.split(" ");
                                // add minutes
                                var minutes = parseFloat(timearray[0].split(':')[1]) + parseFloat(duration);
                                // check if minutes over 59
                                if(minutes > 59)
                                {
                                    var Hour = parseFloat(timearray[0].split(':')[0]) + 1;
                                    // and check minutes after 59
                                    if(minutes == 60)
                                    {
                                        var time = Hour + ":00" + " " + timearray[1];
                                        if($('#pickroute').prop("checked") == true)
                                            $("#PickTime").val(time);
                                        else
                                            $("#DropTime").val(time);
                                    }
                                    else
                                    {
                                        minutes = minutes - 60;
                                        if(minutes.toString().length == 1)
                                            minutes = "0" + minutes;

                                        var time = Hour + ":" + minutes + " " + timearray[1];
                                        if($('#pickroute').prop("checked") == true)
                                            $("#PickTime").val(time);
                                        else
                                            $("#DropTime").val(time);
                                    }
                                }
                                else
                                {
                                    if(minutes.toString().length == 1)
                                        minutes = "0" + minutes;

                                    var time = timearray[0].split(':')[0] + ":" + minutes + " " + timearray[1];
                                    if($('#pickroute').prop("checked") == true)
                                        $("#PickTime").val(time);
                                    else
                                        $("#DropTime").val(time);
                                }

                            }
                        });
                    }
                }
            }
        }

        $('#ks_loader').hide();
    }
    //function 
    function calculateoverallmatrix(elem)
    {
        $('#ks_loader').show();
        // next row
        var nextrow = elem.next();
        if(nextrow.length > 0)
        {
            var BRDIK = nextrow.find('.clsBRDIK').text();
            // find boarding point in prev row
            var currentlatlong = elem.find('.clsBPLL').text();

            // find boarding point in prev row
            var nextrowlatlong = nextrow.find('.clsBPLL').text();

            // now calculate distance between two boarding points
            // origin
            var originlatlong = currentlatlong.split('ε');
            var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
            // destination
            var destinationlatlong = nextrowlatlong.split('ε');
            var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [origin],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {
                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {

                    IsMapApiResponse = 1;
                    var distance = response.rows[0].elements[0].distance.value;
                    var duration = response.rows[0].elements[0].duration.value;
                    distance = parseFloat(distance / 1000).toFixed(1);

                    // ajax call for save distance
                    var model = new Object();
                    model.BusRouteDetailId = BRDIK;
                    model.Distance = distance;
                    nextrow.find('.clsDistance').text(parseFloat(distance).toFixed(1));

                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(Url.Action("UpdateBusRouteDetail", "Transport"))',
                        data: model,
                        success: function (result) {
                            if (result.status == "success") {
                                // find distance control from current row
                            }
                        },
                        error: function (xhr, status, data) {
                            var err = "Error: " + " " + data;
                            ToastMessage(err, "error", true, 5000);
                        }
                    });
                }
            });
        }
        $('#ks_loader').hide();
    }

    // create route funcation
    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var waypts = [];
        var checkboxArray = $('.clsBPLL');
        for (var i = 0; i < checkboxArray.length; i++) {
            if(i == 0 || checkboxArray.length - 1 == i)
                continue;

            var currentlatlong = checkboxArray[i].innerText;
            var latlong = currentlatlong.split('ε');
            var latlongval = new google.maps.LatLng(latlong[0], latlong[1]);

            waypts.push({
                location: latlongval,
                stopover: true
            });
        }

        // origin
        // first boarding point
        var firstboardingpoint = $('.clsBPLL:first');
        var firstboardingpointlatlong = firstboardingpoint.text();
        var originlatlong = firstboardingpointlatlong.split('ε');
        var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
        // destination
        // Last boarding point
        var lastboardingpoint = $('.clsBPLL:last');
        var lastboardingpointlatlong = lastboardingpoint.text();
        var destinationlatlong = lastboardingpointlatlong.split('ε');
        var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

        // check if  no boarding point exist
        if(firstboardingpointlatlong != "" && lastboardingpointlatlong != "")
        {
            directionsService.route({
                origin: origin,
                destination: destination,
                waypoints: waypts,
                optimizeWaypoints: true,
                travelMode: 'DRIVING'
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    }

</script>