﻿@model ViewModel.ViewModel.Transport.TransportRouteModel

@{
    ViewBag.Title = "Manage Transport RouteDetail";
}

<link href="~/Content/assets/css/bootstrap-combined.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/Scripts/jquery.ui.map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1m5beHM39zUD1IrCyUG2cIM6tkbM6cjc&libraries=geometry&sensor=false" type="text/javascript"></script>

<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    <div class="col-md-12 error_notification" hidden>
        <div><i class="fa fa-ban"></i><span></span></div>
    </div>
    <div class="col-md-12 success_notification" hidden>
        <div><i class="fa fa-check"></i><span></span></div>
    </div>
    <div class="col-md-6">
        <h1 id="clshead">@ViewBag.BusRouteTitleName</h1>
    </div>

    <div class="col-md-6 text-right back_to_list_div">
        <a href="@Html.Raw(Url.Action("TransportRoute", "Transport"))" class="btn btn-xs btn-default">back</a>
    </div>
</div>
<!-- //Page Heading -->


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ViewTransportRouteDetail", "Transport", FormMethod.Post, new { @class = "form-horizontal ks-custom-form", @id = "ViewTransDetail" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.BusRouteId)

            <div id="busroutedetail_div">
                @Html.HiddenFor(model => model.IsPickRoot)
                <!-- Validation show -->
                <div class="col-md-12 text-danger" id="busroutedetail_validation_div" hidden>
                    <ul></ul>
                </div>
                <!-- Validation show -->
                <div class="row top-space-10">
                    <div class="text-center col-md-12">
                        <label class="inline-radio"><input checked type="radio" name="routetype" id="pickroute" class="" />Pick Route</label>
                        <label class="inline-radio"><input type="radio" name="routetype" id="droproute" class="" /> Drop Route</label>
                    </div>
                </div>
                <hr style="margin-top: 5px;margin-bottom: 5px;" />


                @{

                    <table id="Viewbusroutedetail_grid" class="table table-bordered table-responsive table-striped table-condensed">
                        <thead class="thead-default">
                            <tr>
                                <th>Boarding Index</th>
                                <th>Boarding Point</th>
                                @if (Model.IsPickRoot)
                                {
                                    <th>Pick Time</th>

                                }
                                else
                                {
                                    <th>Drop Time</th>
                                }
                                <th>Distance</th>
                                <th>Effective Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.BusRouteDetailList.Count > 0)
                            {
                                foreach (var item in Model.BusRouteDetailList)
                                {
                                    var latlong = item.Lat + "ε" + item.Long;
                                    <tr>
                                        <td style="display: none" class="">@item.</td>
                                        @if (item.EndDate != "")
                                        {
                                            <td style="display: none" class="">latlong</td>
                                        }
                                        else
                                        {
                                            <td style="display: none" class="clsBoardingPointId">@latlong</td>
                                        }

                                        <td style="display: none" class=""></td>
                                        <td class="">@item.BoardingIndex</td>
                                        <td class="">@item.BoardingPoint</td>
                                        @if (Model.IsPickRoot)
                                        {
                                            <td class="">@item.PickTime</td>
                                        }
                                        else
                                        {
                                            <td class="">@item.DropTime</td>
                                        }
                                        <td class="">@item.Distance</td>
                                        <td class="">@item.EffectiveDate</td>
                                        <td class="">@item.EndDate</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="7">No data found</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }
            </div>
        }
    </div>
</div>

<div id="busroutedetailmap_div">
    <h4>Route Map</h4>
    <div class="row top-space-10">
        <div id="busroute_map" style="width: auto;height: 400px;margin-top: 10px;"></div>
    </div>
</div>
<script>

    $('input[type=radio][name=routetype]').on("change", function () {
        var dataref = $(this).attr('id');
        var P = "P";
        var D = "D";
        if (dataref == "pickroute") {
            $('#IsPickRoot').val('true');
            $("#ViewTransDetail").submit();
            $("#"+dataref).prop('checked',true);
        } else {
            $('#IsPickRoot').val('false');
            $("#ViewTransDetail").submit();
            $("#"+dataref).prop('checked',true);
        }
    })
    @if (Model.IsPickRoot)
    {
        <text>
    $("#pickroute").prop('checked',true);
    $("#droproute").prop('checked',false);
    </text>
    }
    else
    {
        <text>
    $("#pickroute").prop('checked',false);
    $("#droproute").prop('checked',true);
    </text>
    }

    @if(Model.BusRouteDetailList.Count > 0)
       {
           <text>

    // create routre script funcation
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer({
        draggable: false,
        map: map
    });
    var map = new google.maps.Map(document.getElementById('busroute_map'), {
        zoom: 13,
        center: {lat: @Model.Latitude, lng: @Model.Longitude}
    });
    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);

    </text>
       }
       else
       {
           <text>
    // create routre script funcation
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer({
        draggable: false,
        map: map
    });
    var map = new google.maps.Map(document.getElementById('busroute_map'), {
        zoom: 13,
        center: {lat: @Model.Latitude, lng: @Model.Longitude}
    });
    directionsDisplay.setMap(map);

    calculateAndDisplayRoute(directionsService, directionsDisplay);
    </text>
       }

    // create route funcation
    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var waypts = [];
        var checkboxArray = $('.clsBoardingPointId');
        for (var i = 0; i < checkboxArray.length; i++) {
            if(i == 0 || checkboxArray.length - 1 == i)
                continue;

            var currentlatlong = checkboxArray[i].innerText;
            var latlong = currentlatlong.split('ε');
            var latlongval = new google.maps.LatLng(latlong[0], latlong[1]);

            waypts.push({
                location: latlongval,
                stopover: true
            });
        }

        // origin
        // first boarding point
        var firstboardingpoint = $('.clsBoardingPointId:first');
        var firstboardingpointlatlong = firstboardingpoint.text();
        var originlatlong = firstboardingpointlatlong.split('ε');
        var origin = new google.maps.LatLng(originlatlong[0], originlatlong[1]);
        // destination
        // Last boarding point
        var lastboardingpoint = $('.clsBoardingPointId:last');
        var lastboardingpointlatlong = lastboardingpoint.text()
        var destinationlatlong = lastboardingpointlatlong.split('ε');
        var destination = new google.maps.LatLng(destinationlatlong[0], destinationlatlong[1]);

        // check if  no boarding point exist
        if(firstboardingpointlatlong != "" && lastboardingpointlatlong != "")
        {
            directionsService.route({
                origin: origin,
                destination: destination,
                waypoints: waypts,
                optimizeWaypoints: true,
                travelMode: 'DRIVING'
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        } 
    }
</script>