﻿@model ViewModel.ViewModel.Messaging.SMSTemplateModel

<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>

<div class="col-md-8">

    <!-- Row -->
    <div class="row top-space-10">
        @Html.HiddenFor(model => model.EncMsgSMSTemplateId)

        <!-- Form Coulmn -->
        <div class="col-md-6">
            <label class="control-label">Template Name <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autofocus = "on", @placeholder = "Name", @maxlength = "50" })
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                <span>@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
            <!-- //Error Message -->
        </div>
        <!-- //Form Coulmn -->
        @*<!-- Form Coulmn -->
        <div class="col-md-6">
            <label class="control-label">Send To</label><!-- Form Label -->
            @Html.TextBoxFor(model => model.SendTo, new { @class = "form-control", @placeholder = "Send To", @autocomplete = "off", @maxlength = "200" })

            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                <span>@Html.ValidationMessageFor(model => model.SendTo)</span>
            </div>
        </div>
        <!-- Form Coulmn -->*@


    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row top-space-10">

        <!-- Form Coulmn -->
        <div class="col-md-12">
            <label class="control-label">Body<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.TextBoxFor(model => model.Body, null, new { @class = "form-control" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                <span>@Html.ValidationMessageFor(model => model.Body)</span>
            </div>
            <!-- //Error Message -->
        </div>
        <!-- //Form Coulmn -->

    </div>
    <!-- //Form Coulmn -->
    <!-- Row -->

    <div class="row top-space-10">
        <div class="col-md-4">
            <div class="row">
                <!-- Form Coulmn -->
                <div class="col-md-6">
                    <div>
                        <label class="control-label">Active</label><!-- Form Label -->
                    </div><div>
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = ""})
                    </div>
                </div>
                <!-- Form Coulmn -->
                <div class="col-md-6">
                    <div>
                        <label class="control-label">In Advance</label><!-- Form Label -->
                    </div><div>
                        @Html.CheckBoxFor(model=>model.IsInAdvance, new { @class = "messageInAdvance"})
                    </div>
                </div>
            </div>
        </div>
        <!-- Form Coulmn -->
        <div class="col-md-6">
            <div class="row">
                <!-- Form Coulmn -->
                <div class="col-md-6 messageInAdvance-div" hidden>
                    <label class="control-label">Duration(Days Ago)<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
                    @Html.DropDownListFor(model => model.MsgDurationId, Model.AvailableMessageDurationList, new { @class = "form-control", @autocomplete = "off" })
                    <div class="error-message" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>@Html.ValidationMessageFor(model => model.MsgDurationId)</span>
                    </div>
                </div>
                <!-- Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-6 messageInAdvance-div" hidden>
                    <label class="control-label">Message Frequency</label><!-- Form Label -->
                    @Html.DropDownListFor(model => model.MsgFrequencyId,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "0" , Text = "0" },
                    },
                           new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <!-- Form Coulmn -->
    <!-- Row -->
    <!-- Form Coulmn -->
    <!-- Row -->
    <!-- Row -->
    <div class="row top-space-10">
        <!-- Form Coulmn -->
        <div class="col-md-6">
            <input type="submit" name="save" value="Save" id="submit_btn" class="btn btn-success" />
        </div>
        <!-- //Form Coulmn -->
    </div>
    <!-- Row -->
</div>





<div class="col-md-4">
    <!-- Row -->
    <!-- Form Coulmn -->
    <div class="col-md-12 top-space-10">
        <label class="control-label">Template Tokens: </label><!-- Form Label -->
        <div class="token_list"></div>
    </div>
    <!-- Row -->
</div>
<script>
    @if (Model.IsInAdvance)
    {
        <text>
    $('.messageInAdvance-div').show();
        </text>
    }
    //hide show msg in advance
    $('.messageInAdvance').click(function () {

        $('.messageInAdvance-div').toggle();

    })

    $('.error-message').each(function () {
        var current = $(this);
        if (current.children('span').text() != "")
            current.show();
        else
            current.hide();
    });


    ///on page load for edit mode
    var messageduration = $('#MsgDurationId').val(); 
    var frequency = messageduration / 2;
    var selectList = "<select>";
    for (var i = 0; i <= frequency; i++) {
        selectList += "<option>" + i + "</option>";
    }
    selectList += "</select>";
    $('#MsgFrequencyId').html(selectList);
    $('#MsgFrequencyId').val(@Model.MsgFrequencyId);
    //=--------------/on page load for edit mode

    $('#MsgDurationId').change(function () {

        var messageduration = $(this).val();
        var frequency = messageduration / 2;
        var selectList = "<select>";
        for (var i = 0; i <= frequency; i++) {
            selectList += "<option>" + i + "</option>";
        }
        selectList += "</select>";
        $('#MsgFrequencyId').html(selectList);

    })

    $("#DelayBeforeSend").keydown(function (e) {
        NumericOnly(e);
    });


    $('#IsSendImmediately').click(function () {
        $('.set_delay_time').toggle();
    })

    tinymce.init({
        selector: '#Body',
        height: 200,
        menubar: false,
        //theme: 'modern',
        plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'bold italic | alignleft aligncenter alignright alignjustify'
    });




    //show tokens
    $('#ks_loader').show();
    $('.token_list').text('');
    $.ajax({
        type: "Post",
        url: '@Html.Raw(Url.Action("GetMsgTokenList", "Messaging"))',
        success: function (result) {
            if (result.status == "success") {
                // token list
                var token = "";
                for (var i = -1; i < result.data.length; i++) {
                    token = "<span>%" + result.data[i + 1] + "%</span> <span style='margin-left:8px;margin-right:8px'>|</span> <span>%" + result.data[i + 2] + "%</span><br/>";
                    i++;
                    $('.token_list').append(token);
                }

            }
            else {
                ToastMessage(result.data, "error", true, 5000);
            }
            $('#ks_loader').hide();
        },
        error: function (xhr, status, data) {
            var err = "Error: " + " " + data;
            ToastMessage(err, "error", true, 5000);
            $('#ks_loader').hide();
        }
    });
    //---------show tokens

</script>
