﻿@model ViewModel.ViewModel.Messaging.EmailTemplateModel

<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>

<div class="col-md-8">

    <!-- Row -->
    <div class="row top-space-10">
        @Html.HiddenFor(model => model.EncMsgEmailTemplateId)

        <!-- Form Coulmn -->
        <div class="col-md-6">
            <label class="control-label">Template Name <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autofocus = "on", @placeholder = "Name", @maxlength = "50" })
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                <span>@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
            <!-- //Error Message -->
        </div>
        <!-- //Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-6">
            <label class="control-label">Subject <i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @autofocus = "on", @placeholder = "Subject", @maxlength = "50" })
            <!-- Error Message -->
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle validation"></i>
                <span>@Html.ValidationMessageFor(model => model.Subject)</span>
            </div>
            <!-- //Error Message -->
        </div>
        <!-- //Form Coulmn -->


    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row top-space-10">

        <!-- Form Coulmn -->
        <div class="col-md-12">
            <label class="control-label">Body<i class="fa fa-asterisk ks-required"></i></label><!-- Form Label -->
            @Html.TextBoxFor(model => model.Body, null, new { @class = "form-control" })
            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                <span>@Html.ValidationMessageFor(model => model.Body)</span>
            </div>
            <!-- //Error Message -->
        </div>
        <!-- //Form Coulmn -->

    </div>
    <!-- //Form Coulmn -->
    <!-- Row -->
    <!-- Row -->
    <div class="row top-space-10">
        <!-- Form Coulmn -->
        <div class="col-md-6">
            <label class="control-label">CC Email Address</label><!-- Form Label -->
            @Html.TextBoxFor(model => model.CCEmailAddress, new { @class = "form-control", @placeholder = "CC Email Address", @autocomplete = "off", @maxlength = "200" })

            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                <span>@Html.ValidationMessageFor(model => model.CCEmailAddress)</span>
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->
        <div class="col-md-6">
            <label class="control-label">BCC Email Address</label><!-- Form Label -->
            @Html.TextBoxFor(model => model.BccEmailAddress, new { @class = "form-control", @placeholder = "BCC Email Address", @autocomplete = "off", @maxlength = "200" })

            <div class="error-message" style="display:none">
                <i class="fa fa-exclamation-triangle"></i>
                <span>@Html.ValidationMessageFor(model => model.BccEmailAddress)</span>
            </div>
        </div>
        <!-- Form Coulmn -->
        <!-- Form Coulmn -->




    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row top-space-10">
        <div class="col-md-6">
            <div class="row">
                <!-- Form Coulmn -->
                <div class="col-md-2">
                    <div class="">
                        <label class="control-label">Active</label><!-- Form Label -->
                    </div>
                    <div class="">
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = ""})
                    </div>
                </div>
                <!-- Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-4 set_delay_time">
                    <div>
                        <label class="control-label">In Advance</label><!-- Form Label -->
                    </div><div>
                        @Html.CheckBoxFor(model => model.IsInAdvance, new { @class = "emailInAdvance"})
                    </div>
                </div>
                <!-- Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-6 immediatly-send">
                    <div class="">
                        <label class="control-label">Send Immediately</label><!-- Form Label -->
                    </div>
                    <div class="">
                        @Html.CheckBoxFor(model => model.IsSendImmediately, new { @class = ""})
                    </div>
                </div>
                <!-- Form Coulmn -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <!-- Form Coulmn -->
                <div class="col-md-6 emailInAdvance-div" hidden>
                    <label class="control-label">Duration(Days Ago)</label><!-- Form Label -->
                    @Html.DropDownListFor(model => model.MsgDurationId, Model.AvailableMessageDurationList, new { @class = "form-control" })
                </div>
                <!-- Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-6 emailInAdvance-div" hidden>
                    <label class="control-label">Message Frequency</label><!-- Form Label -->
                    @Html.DropDownListFor(model => model.MsgFrequencyId,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "0" , Text = "0" },
                    },
                           new { @class = "form-control" })
                </div>
                <!-- Form Coulmn -->
                <!-- Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-6 set_delay_time immediatly-send">
                    <label class="control-label">Delay Send</label><!-- Form Label -->
                    @*<input type="number" class="form-control" name="DelayBeforeSend" pattern="[0-9]" />*@
                    @Html.TextBoxFor(model => model.DelayBeforeSend, new { @class = "form-control", @autocomplete = "off", @maxlength = "2" })
                </div>
                <!-- Form Coulmn -->
                <!-- Form Coulmn -->
                <div class="col-md-6 set_delay_time immediatly-send">
                    <label class="control-label">&nbsp;  </label><!-- Form Label -->
                    @Html.DropDownListFor(model => model.DelayPeriodId, Model.AvailableDelayPeriodList, new { @class = "form-control", @autocomplete = "off" })
                </div>
                <!-- Form Coulmn -->
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row top-space-10">
        <!-- Form Coulmn -->
        <div class="col-md-6">
            <label class="control-label">Email Account</label><!-- Form Label -->
            @Html.DropDownListFor(model => model.EmailAccountId, Model.AvailableEmailAccountList, new { @class = "form-control" })
        </div>
        <!-- Form Coulmn -->


    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row top-space-10">
        <!-- Form Coulmn -->
        <div class="col-md-6">
            <input type="submit" name="save" value="Save" id="submit_btn" class="btn btn-success" />
        </div>
        <!-- //Form Coulmn -->
    </div>
    <!-- Row -->
</div>





<div class="col-md-4">
    <!-- Row -->
    <!-- Form Coulmn -->
    <div class="col-md-12 top-space-10">
        <label class="control-label">Template Tokens: </label><!-- Form Label -->
        <div class="token_list"></div>
    </div>
    <!-- Row -->
</div>
<script>
    //hide show msg in advance
    $('.emailInAdvance').click(function () {

        $('.emailInAdvance-div').toggle();

        //if ($('.immediatly-send').hasAttr('display', 'block')) {

        //}
        $('.immediatly-send').toggle();

    })

    // check if Send immediately is true
    @if (Model.IsSendImmediately)
    {
        <text>
    $('.set_delay_time').hide();
    </text>
    }
    @{
       <text>
        var duration =  $('#MsgDurationId').val();
        var frequency = duration / 2;
         var selectList = "<select>";
         for (var i = 0; i <= frequency; i++) {
            selectList += "<option>" + i + "</option>";
        }
        selectList += "</select>";
       
        $('#MsgFrequencyId').html('');
        $('#MsgFrequencyId').html(selectList);
        $('#MsgFrequencyId').val(@Model.MsgFrequencyId);
    </text>
    }
   
    @if (Model.IsInAdvance)
    {

<text>
$('.emailInAdvance-div').show();
$('.immediatly-send').hide();
        </text>
    }

$('.error-message').each(function () {
    var current = $(this);
    if (current.children('span').text() != "")
        current.show();
    else
        current.hide();
    });

    $('#MsgDurationId').change(function () {

        var messageduration = $(this).val();
        var frequency = messageduration / 2;
        var selectList = "<select>";
        for (var i = 0; i <= frequency; i++) {
            selectList += "<option>" + i + "</option>";
        }
        selectList += "</select>";
        $('#MsgFrequencyId').html(selectList);

    })

    $("#DelayBeforeSend").keydown(function (e) {
        NumericOnly(e);
    });


    $('#IsSendImmediately').click(function () {
        $('.set_delay_time').toggle();
    })

    tinymce.init({
        selector: '#Body',
        height: 200,
        menubar: false,
        //theme: 'modern',
        plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'bold italic | alignleft aligncenter alignright alignjustify'
    });




    //show tokens
    $('#ks_loader').show();
    $('.token_list').text('');
    $.ajax({
        type: "Post",
        url: '@Html.Raw(Url.Action("GetMsgTokenList", "Messaging"))',
        success: function (result) {
            if (result.status == "success") {
                // token list
                var token = "";
                for (var i = -1; i < result.data.length; i++) {
                    token = "<span>%" + result.data[i + 1] + "%</span> <span style='margin-left:8px;margin-right:8px'>|</span> <span>%" + result.data[i + 2] + "%</span><br/>";
                    i++;
                    $('.token_list').append(token);
                }

            }
            else {
                ToastMessage(result.data, "error", true, 5000);
            }
            $('#ks_loader').hide();
        },
        error: function (xhr, status, data) {
            var err = "Error: " + " " + data;
            ToastMessage(err, "error", true, 5000);
            $('#ks_loader').hide();
        }
    });
    //-------show tokens

    
</script>
