﻿@model ViewModel.ViewModel.Messaging.SMSTemplateModel

@{
    ViewBag.Title = "ViewSMSTemplateList";
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @*@if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
        {
            <div class="col-md-12">
                <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
            </div>
        }
        @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
        {
            <div class="col-md-12">
                <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
            </div>
        }*@
    <div class="col-md-6">
        <h1>View SMS Template </h1>
    </div>
    <div class="col-md-6 text-right">
        @if (Model.IsAuthToAdd)
        {
            <a href="@Html.Raw(Url.Action("SMSTemplate", "Messaging"))" class="btn btn-xs btn-default">Add</a>
        }
    </div>
</div>
<!-- //Page Heading -->
<!-- Page Controls -->
<div class="row  top-space-10">
    <div class="col-md-12">
        <table id="ViewSMSTemplate_grid" class="table table-bordered table-responsive">
            <thead class="thead-default">
                <tr>
                    <th style="width: 15%">Name</th>
                    <th style="width: 5%">Msg Duration</th>
                    <th style="width: 5%">Msg Frequency</th>
                    <th style="width: 5%">Active</th>
                    @if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                    {
                        <th style="width: 5%">Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var smstemplate in Model.SMSTemplateList)
                {
                    <tr>
                        <td class="">@smstemplate.Name</td>
                        <td class="">@smstemplate.MsgDurationId</td>
                        <td class="">@smstemplate.MsgFrequencyId</td>
                        <td class="">@smstemplate.IsActive</td>
                        @if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                        {
                            <td>
                                @if (Model.IsAuthToEdit)
                                {
                                    <a href="@Html.Raw(Url.Action("EditSMSTemplate", "Messaging", new { id = smstemplate.EncMsgSMSTemplateId }))" class="Edit_markspattern btn btn-xs btn-default" data-id="@smstemplate.EncMsgSMSTemplateId" title="Edit" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil "></i></a>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
