﻿@model ViewModel.ViewModel.Messaging.EmailTemplateModel

@{
    ViewBag.Title = "ViewEmailTemplateList";
}
<!-- Page Heading -->
<div class="row top-space-10 page-heading">
    @*@if (TempData["ErrorNotification"] != null && TempData["ErrorNotification"] != "")
        {
            <div class="col-md-12">
                <div class="error_notification"><i class="fa fa-ban"></i> @TempData["ErrorNotification"]</div>
            </div>
        }
        @if (TempData["SuccessNotification"] != null && TempData["SuccessNotification"] != "")
        {
            <div class="col-md-12">
                <div class="success_notification"><i class="fa fa-check"></i> @TempData["SuccessNotification"]</div>
            </div>
        }*@
    <div class="col-md-6">
        <h1>View Email Template </h1>
    </div>

    <div class="col-md-6 text-right">
        @*<a href="javascript:void(0)" id="filter_emailTemplate" class="btn btn-xs btn-default">Filter</a>*@
        @if (Model.IsAuthToAdd)
        {
            <a href="@Html.Raw(Url.Action("EmailTemplate", "Messaging"))" class="btn btn-xs btn-default">Add</a>
        }
    </div>
</div>
<!-- //Page Heading -->
<div class=" filter_div top-space-10">

    <div class="col-md-12" style="padding:0">


        @using (Html.BeginForm("ViewEmailTemplateList", "Messaging", FormMethod.Post, new { @class = "form-inline ks-custom-form" }))
        {

            <div class="form-group">
                <label>Template Name</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autofocus = "on", @placeholder = "Name", @maxlength = "50" })
            </div>


            <div class="form-group">
                <label>Subject</label>
                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @autofocus = "on", @placeholder = "Subject", @maxlength = "50" })
            </div>



            <div class="form-group">
                <label>Active</label>
                @Html.CheckBoxFor(model => model.IsActive, new { @class = "" })
            </div>



            <div class="form-group">
                <button type="submit" id="search" class="btn btn-default">Filter</button>
                @*<button type="button" id="reset" class="btn btn-danger">Reset</button>*@
            </div>
        }

    </div>
</div>
<!-- Page Controls -->
<div class="row  top-space-10">
    <div class="col-md-12">
        <table id="ViewEmailTemplate_grid" class="table table-bordered table-responsive">
            <thead class="thead-default">
                <tr>
                    <th style="width: 15%">Name</th>
                    <th style="width: 15%">Subject</th>
                    <th style="width: 5%">Is Active</th>
                    <th style="width: 5%">Send Immediately</th>
                    @if (Model.IsAuthToEdit || Model.IsAuthToDelete)
                    {
                        <th style="width: 5%">Action</th>}
                </tr>
            </thead>
            <tbody>
                @foreach (var emailtemplate in Model.EmailTemplateList)
                {
                    <tr>
                        <td class="">@emailtemplate.Name</td>
                        <td class="">@emailtemplate.Subject</td>
                        <td class="">@emailtemplate.IsActive</td>
                        <td class="">@emailtemplate.IsSendImmediately</td>
                        <td>
                            @if (Model.IsAuthToEdit)
                            {
                                <a href="@Html.Raw(Url.Action("EditEmailTemplate", "Messaging", new { id = emailtemplate.EncMsgEmailTemplateId }))" class="Edit_markspattern btn btn-xs btn-default" data-id="@emailtemplate.EncMsgEmailTemplateId" title="Edit" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil "></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })

    $('#filter_emailTemplate').click(function () {
        $('.filter_div').css('display', 'block');
    })
    //$('#reset').click(function () {

    //    $('#Name').val('');
    //    $('#Subject').val('');
    //    $('#IsActive').prop('checked', false)
    //    window.location.reload();
    //})
</script>

